{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "TeamWherx",
    "description": "TeamWherx(TW) is an all-in-one service management platform that helps you more effectively manage your remote teams of employees and general business operations away from the office. As a cloud-based solution, TW enables remote data collection and displays it via its web app dashboard, providing managers with the additional insight they need to create smarter strategies for increased efficiency, productivity, and reduced costs while coordinating their mobile workforces.",
    "contact": {
      "name": "Actsoft Support",
      "url": "https://www.actsoft.com/self-help-wizards",
      "email": "support@actsoft.com"
    }
  },
  "host": "customerapi.wfmplatform.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/binaries/v1/binaries": {
      "post": {
        "tags": [
          "Binaries API"
        ],
        "summary": "Upload binary file",
        "description": "Use this option to upload form file attachments. Binary size is limited to 10MB. Supported file types are: JPEG, PNG, and MP4.",
        "operationId": "BinariesController_UploadBinary",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "201": {
            "description": "Binary was uploaded successfully.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.Binaries.UploadBinaryResultApiModel"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 101,
                  "Message": "MIME type not supported."
                },
                {
                  "Code": 100,
                  "Message": "Maximum file size exceeded."
                },
                {
                  "Code": 102,
                  "Message": "Binary content is empty."
                }
              ]
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      }
    },
    "/clients/v1/{id}": {
      "get": {
        "tags": [
          "Clients API"
        ],
        "summary": "Get a client",
        "description": "Retrieves a client object by its Id.",
        "operationId": "ClientsController_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Client Id.",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          },
          {
            "name": "use-external-id",
            "in": "header",
            "description": "Use external id or not.",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "use-external-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Client is returned in body.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.Client.ReadClientApiModel"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 1,
                  "Message": "use-external-id is not valid."
                },
                {
                  "Code": 2,
                  "Message": "Internal Id is not valid. Should be a numeric value."
                },
                {
                  "Code": 3,
                  "Message": "Invalid data format."
                },
                {
                  "Code": 4,
                  "Message": "External Id is empty."
                },
                {
                  "Code": 102,
                  "Message": "Client Name is not unique."
                },
                {
                  "Code": 103,
                  "Message": "Client already deleted or deactivated."
                },
                {
                  "Code": 104,
                  "Message": "External id is not unique."
                },
                {
                  "Code": 105,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 106,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 107,
                  "Message": "Contact Name length is not valid."
                },
                {
                  "Code": 108,
                  "Message": "Contact Phone length is not valid."
                },
                {
                  "Code": 109,
                  "Message": "External Id length is not valid."
                },
                {
                  "Code": 110,
                  "Message": "Latitude/Longitude values are not valid."
                },
                {
                  "Code": 111,
                  "Message": "Internal Id is not unique."
                },
                {
                  "Code": 112,
                  "Message": "Client has active orders."
                },
                {
                  "Code": 113,
                  "Message": "Country not supported."
                },
                {
                  "Code": 114,
                  "Message": "Client not found."
                },
                {
                  "Code": 115,
                  "Message": "Region not supported."
                },
                {
                  "Code": 116,
                  "Message": "Country length is not valid."
                },
                {
                  "Code": 117,
                  "Message": "City length is not valid."
                },
                {
                  "Code": 118,
                  "Message": "Region Code length is not valid."
                },
                {
                  "Code": 119,
                  "Message": "Region Name length is not valid."
                },
                {
                  "Code": 120,
                  "Message": "SubRegion Code length is not valid."
                },
                {
                  "Code": 121,
                  "Message": "SubRegion Name length is not valid."
                },
                {
                  "Code": 122,
                  "Message": "Postal Code length is not valid."
                },
                {
                  "Code": 123,
                  "Message": "Address Line 1 length is not valid."
                },
                {
                  "Code": 124,
                  "Message": "Address Line 2 length is not valid."
                },
                {
                  "Code": 125,
                  "Message": "Custom fields are not supported."
                },
                {
                  "Code": 126,
                  "Message": "Contact email format is not valid."
                },
                {
                  "Code": 127,
                  "Message": "Custom field negative field index."
                },
                {
                  "Code": 128,
                  "Message": "Custom field invalid data type."
                },
                {
                  "Code": 129,
                  "Message": "Custom field value length is not valid."
                },
                {
                  "Code": 130,
                  "Message": "Custom field value format is not valid."
                }
              ]
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "404": {
            "description": "Client not found.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "422": {
            "description": "Request is well-formed, but the meaning of the request is unclear. Not all methods will return code 422. Please see description of common patterns to see if 422 status code is expected (GET single item, GET lists, GET polling triggers, POST entity, PUT entity, DELETE entity, and custom actions). 422 error should be accompanied by error code returned in the body (see format below).",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 1,
                  "Message": "use-external-id is not valid."
                },
                {
                  "Code": 2,
                  "Message": "Internal Id is not valid. Should be a numeric value."
                },
                {
                  "Code": 3,
                  "Message": "Invalid data format."
                },
                {
                  "Code": 4,
                  "Message": "External Id is empty."
                },
                {
                  "Code": 102,
                  "Message": "Client Name is not unique."
                },
                {
                  "Code": 103,
                  "Message": "Client already deleted or deactivated."
                },
                {
                  "Code": 104,
                  "Message": "External id is not unique."
                },
                {
                  "Code": 105,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 106,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 107,
                  "Message": "Contact Name length is not valid."
                },
                {
                  "Code": 108,
                  "Message": "Contact Phone length is not valid."
                },
                {
                  "Code": 109,
                  "Message": "External Id length is not valid."
                },
                {
                  "Code": 110,
                  "Message": "Latitude/Longitude values are not valid."
                },
                {
                  "Code": 111,
                  "Message": "Internal Id is not unique."
                },
                {
                  "Code": 112,
                  "Message": "Client has active orders."
                },
                {
                  "Code": 113,
                  "Message": "Country not supported."
                },
                {
                  "Code": 114,
                  "Message": "Client not found."
                },
                {
                  "Code": 115,
                  "Message": "Region not supported."
                },
                {
                  "Code": 116,
                  "Message": "Country length is not valid."
                },
                {
                  "Code": 117,
                  "Message": "City length is not valid."
                },
                {
                  "Code": 118,
                  "Message": "Region Code length is not valid."
                },
                {
                  "Code": 119,
                  "Message": "Region Name length is not valid."
                },
                {
                  "Code": 120,
                  "Message": "SubRegion Code length is not valid."
                },
                {
                  "Code": 121,
                  "Message": "SubRegion Name length is not valid."
                },
                {
                  "Code": 122,
                  "Message": "Postal Code length is not valid."
                },
                {
                  "Code": 123,
                  "Message": "Address Line 1 length is not valid."
                },
                {
                  "Code": 124,
                  "Message": "Address Line 2 length is not valid."
                },
                {
                  "Code": 125,
                  "Message": "Custom fields are not supported."
                },
                {
                  "Code": 126,
                  "Message": "Contact email format is not valid."
                },
                {
                  "Code": 127,
                  "Message": "Custom field negative field index."
                },
                {
                  "Code": 128,
                  "Message": "Custom field invalid data type."
                },
                {
                  "Code": 129,
                  "Message": "Custom field value length is not valid."
                },
                {
                  "Code": 130,
                  "Message": "Custom field value format is not valid."
                }
              ]
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Clients API"
        ],
        "summary": "Update a client",
        "description": "Updates an existing client.",
        "operationId": "ClientsController_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "External or internal Id depends on the value in the use-external-id parameter.",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "clientModel",
            "in": "body",
            "description": "Client object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.Client.UpdateClientApiModel"
            },
            "x-ms-summary": "clientModel"
          },
          {
            "name": "geocode",
            "in": "query",
            "description": "Should address be geocoded or not.",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "geocode"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          },
          {
            "name": "use-external-id",
            "in": "header",
            "description": "Use external id or not.",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "use-external-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Client has been updated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.ReturnIdApiModel"
            }
          },
          "201": {
            "description": "Client has been created.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.ReturnIdApiModel"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 1,
                  "Message": "use-external-id is not valid."
                },
                {
                  "Code": 2,
                  "Message": "Internal Id is not valid. Should be a numeric value."
                },
                {
                  "Code": 3,
                  "Message": "Invalid data format."
                },
                {
                  "Code": 4,
                  "Message": "External Id is empty."
                },
                {
                  "Code": 102,
                  "Message": "Client Name is not unique."
                },
                {
                  "Code": 103,
                  "Message": "Client already deleted or deactivated."
                },
                {
                  "Code": 104,
                  "Message": "External id is not unique."
                },
                {
                  "Code": 105,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 106,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 107,
                  "Message": "Contact Name length is not valid."
                },
                {
                  "Code": 108,
                  "Message": "Contact Phone length is not valid."
                },
                {
                  "Code": 109,
                  "Message": "External Id length is not valid."
                },
                {
                  "Code": 110,
                  "Message": "Latitude/Longitude values are not valid."
                },
                {
                  "Code": 111,
                  "Message": "Internal Id is not unique."
                },
                {
                  "Code": 112,
                  "Message": "Client has active orders."
                },
                {
                  "Code": 113,
                  "Message": "Country not supported."
                },
                {
                  "Code": 114,
                  "Message": "Client not found."
                },
                {
                  "Code": 115,
                  "Message": "Region not supported."
                },
                {
                  "Code": 116,
                  "Message": "Country length is not valid."
                },
                {
                  "Code": 117,
                  "Message": "City length is not valid."
                },
                {
                  "Code": 118,
                  "Message": "Region Code length is not valid."
                },
                {
                  "Code": 119,
                  "Message": "Region Name length is not valid."
                },
                {
                  "Code": 120,
                  "Message": "SubRegion Code length is not valid."
                },
                {
                  "Code": 121,
                  "Message": "SubRegion Name length is not valid."
                },
                {
                  "Code": 122,
                  "Message": "Postal Code length is not valid."
                },
                {
                  "Code": 123,
                  "Message": "Address Line 1 length is not valid."
                },
                {
                  "Code": 124,
                  "Message": "Address Line 2 length is not valid."
                },
                {
                  "Code": 125,
                  "Message": "Custom fields are not supported."
                },
                {
                  "Code": 126,
                  "Message": "Contact email format is not valid."
                },
                {
                  "Code": 127,
                  "Message": "Custom field negative field index."
                },
                {
                  "Code": 128,
                  "Message": "Custom field invalid data type."
                },
                {
                  "Code": 129,
                  "Message": "Custom field value length is not valid."
                },
                {
                  "Code": 130,
                  "Message": "Custom field value format is not valid."
                }
              ]
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "422": {
            "description": "Request is well-formed, but the meaning of the request is unclear. Not all methods will return code 422. Please see description of common patterns to see if 422 status code is expected (GET single item, GET lists, GET polling triggers, POST entity, PUT entity, DELETE entity, and custom actions). 422 error should be accompanied by error code returned in the body (see format below).",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 1,
                  "Message": "use-external-id is not valid."
                },
                {
                  "Code": 2,
                  "Message": "Internal Id is not valid. Should be a numeric value."
                },
                {
                  "Code": 3,
                  "Message": "Invalid data format."
                },
                {
                  "Code": 4,
                  "Message": "External Id is empty."
                },
                {
                  "Code": 102,
                  "Message": "Client Name is not unique."
                },
                {
                  "Code": 103,
                  "Message": "Client already deleted or deactivated."
                },
                {
                  "Code": 104,
                  "Message": "External id is not unique."
                },
                {
                  "Code": 105,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 106,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 107,
                  "Message": "Contact Name length is not valid."
                },
                {
                  "Code": 108,
                  "Message": "Contact Phone length is not valid."
                },
                {
                  "Code": 109,
                  "Message": "External Id length is not valid."
                },
                {
                  "Code": 110,
                  "Message": "Latitude/Longitude values are not valid."
                },
                {
                  "Code": 111,
                  "Message": "Internal Id is not unique."
                },
                {
                  "Code": 112,
                  "Message": "Client has active orders."
                },
                {
                  "Code": 113,
                  "Message": "Country not supported."
                },
                {
                  "Code": 114,
                  "Message": "Client not found."
                },
                {
                  "Code": 115,
                  "Message": "Region not supported."
                },
                {
                  "Code": 116,
                  "Message": "Country length is not valid."
                },
                {
                  "Code": 117,
                  "Message": "City length is not valid."
                },
                {
                  "Code": 118,
                  "Message": "Region Code length is not valid."
                },
                {
                  "Code": 119,
                  "Message": "Region Name length is not valid."
                },
                {
                  "Code": 120,
                  "Message": "SubRegion Code length is not valid."
                },
                {
                  "Code": 121,
                  "Message": "SubRegion Name length is not valid."
                },
                {
                  "Code": 122,
                  "Message": "Postal Code length is not valid."
                },
                {
                  "Code": 123,
                  "Message": "Address Line 1 length is not valid."
                },
                {
                  "Code": 124,
                  "Message": "Address Line 2 length is not valid."
                },
                {
                  "Code": 125,
                  "Message": "Custom fields are not supported."
                },
                {
                  "Code": 126,
                  "Message": "Contact email format is not valid."
                },
                {
                  "Code": 127,
                  "Message": "Custom field negative field index."
                },
                {
                  "Code": 128,
                  "Message": "Custom field invalid data type."
                },
                {
                  "Code": 129,
                  "Message": "Custom field value length is not valid."
                },
                {
                  "Code": 130,
                  "Message": "Custom field value format is not valid."
                }
              ]
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Clients API"
        ],
        "summary": "Delete a client",
        "description": "Deletes an existing client by its Id.",
        "operationId": "ClientsController_Delete",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Client Id.",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          },
          {
            "name": "use-external-id",
            "in": "header",
            "description": "Use external id or not.",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "use-external-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Client deleted.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 1,
                  "Message": "use-external-id is not valid."
                },
                {
                  "Code": 2,
                  "Message": "Internal Id is not valid. Should be a numeric value."
                },
                {
                  "Code": 3,
                  "Message": "Invalid data format."
                },
                {
                  "Code": 4,
                  "Message": "External Id is empty."
                },
                {
                  "Code": 102,
                  "Message": "Client Name is not unique."
                },
                {
                  "Code": 103,
                  "Message": "Client already deleted or deactivated."
                },
                {
                  "Code": 104,
                  "Message": "External id is not unique."
                },
                {
                  "Code": 105,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 106,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 107,
                  "Message": "Contact Name length is not valid."
                },
                {
                  "Code": 108,
                  "Message": "Contact Phone length is not valid."
                },
                {
                  "Code": 109,
                  "Message": "External Id length is not valid."
                },
                {
                  "Code": 110,
                  "Message": "Latitude/Longitude values are not valid."
                },
                {
                  "Code": 111,
                  "Message": "Internal Id is not unique."
                },
                {
                  "Code": 112,
                  "Message": "Client has active orders."
                },
                {
                  "Code": 113,
                  "Message": "Country not supported."
                },
                {
                  "Code": 114,
                  "Message": "Client not found."
                },
                {
                  "Code": 115,
                  "Message": "Region not supported."
                },
                {
                  "Code": 116,
                  "Message": "Country length is not valid."
                },
                {
                  "Code": 117,
                  "Message": "City length is not valid."
                },
                {
                  "Code": 118,
                  "Message": "Region Code length is not valid."
                },
                {
                  "Code": 119,
                  "Message": "Region Name length is not valid."
                },
                {
                  "Code": 120,
                  "Message": "SubRegion Code length is not valid."
                },
                {
                  "Code": 121,
                  "Message": "SubRegion Name length is not valid."
                },
                {
                  "Code": 122,
                  "Message": "Postal Code length is not valid."
                },
                {
                  "Code": 123,
                  "Message": "Address Line 1 length is not valid."
                },
                {
                  "Code": 124,
                  "Message": "Address Line 2 length is not valid."
                },
                {
                  "Code": 125,
                  "Message": "Custom fields are not supported."
                },
                {
                  "Code": 126,
                  "Message": "Contact email format is not valid."
                },
                {
                  "Code": 127,
                  "Message": "Custom field negative field index."
                },
                {
                  "Code": 128,
                  "Message": "Custom field invalid data type."
                },
                {
                  "Code": 129,
                  "Message": "Custom field value length is not valid."
                },
                {
                  "Code": 130,
                  "Message": "Custom field value format is not valid."
                }
              ]
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "422": {
            "description": "Request is well-formed, but the meaning of the request is unclear. Not all methods will return code 422. Please see description of common patterns to see if 422 status code is expected (GET single item, GET lists, GET polling triggers, POST entity, PUT entity, DELETE entity, and custom actions). 422 error should be accompanied by error code returned in the body (see format below).",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 1,
                  "Message": "use-external-id is not valid."
                },
                {
                  "Code": 2,
                  "Message": "Internal Id is not valid. Should be a numeric value."
                },
                {
                  "Code": 3,
                  "Message": "Invalid data format."
                },
                {
                  "Code": 4,
                  "Message": "External Id is empty."
                },
                {
                  "Code": 102,
                  "Message": "Client Name is not unique."
                },
                {
                  "Code": 103,
                  "Message": "Client already deleted or deactivated."
                },
                {
                  "Code": 104,
                  "Message": "External id is not unique."
                },
                {
                  "Code": 105,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 106,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 107,
                  "Message": "Contact Name length is not valid."
                },
                {
                  "Code": 108,
                  "Message": "Contact Phone length is not valid."
                },
                {
                  "Code": 109,
                  "Message": "External Id length is not valid."
                },
                {
                  "Code": 110,
                  "Message": "Latitude/Longitude values are not valid."
                },
                {
                  "Code": 111,
                  "Message": "Internal Id is not unique."
                },
                {
                  "Code": 112,
                  "Message": "Client has active orders."
                },
                {
                  "Code": 113,
                  "Message": "Country not supported."
                },
                {
                  "Code": 114,
                  "Message": "Client not found."
                },
                {
                  "Code": 115,
                  "Message": "Region not supported."
                },
                {
                  "Code": 116,
                  "Message": "Country length is not valid."
                },
                {
                  "Code": 117,
                  "Message": "City length is not valid."
                },
                {
                  "Code": 118,
                  "Message": "Region Code length is not valid."
                },
                {
                  "Code": 119,
                  "Message": "Region Name length is not valid."
                },
                {
                  "Code": 120,
                  "Message": "SubRegion Code length is not valid."
                },
                {
                  "Code": 121,
                  "Message": "SubRegion Name length is not valid."
                },
                {
                  "Code": 122,
                  "Message": "Postal Code length is not valid."
                },
                {
                  "Code": 123,
                  "Message": "Address Line 1 length is not valid."
                },
                {
                  "Code": 124,
                  "Message": "Address Line 2 length is not valid."
                },
                {
                  "Code": 125,
                  "Message": "Custom fields are not supported."
                },
                {
                  "Code": 126,
                  "Message": "Contact email format is not valid."
                },
                {
                  "Code": 127,
                  "Message": "Custom field negative field index."
                },
                {
                  "Code": 128,
                  "Message": "Custom field invalid data type."
                },
                {
                  "Code": 129,
                  "Message": "Custom field value length is not valid."
                },
                {
                  "Code": 130,
                  "Message": "Custom field value format is not valid."
                }
              ]
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      }
    },
    "/clients/v1/clients": {
      "get": {
        "tags": [
          "Clients API"
        ],
        "summary": "Get a list of clients",
        "description": "Retrieves a list of clients. You can specify the number of pages returned and the number of elements per page. \r\nThe results are automatically sorted by Name, and in ascending order. Sort parameters are not configurable.",
        "operationId": "ClientsController_GetClients",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Start page number.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "pageNumber"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "pageSize"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Client list is returned in body.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Models.Client.ReadClientApiModel"
              }
            }
          },
          "204": {
            "description": "No clients found. Body is empty.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 5,
                  "Message": "Minor version is not valid."
                },
                {
                  "Code": 152,
                  "Message": "Page size or page number are not valid."
                }
              ]
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Clients API"
        ],
        "summary": "Create a client",
        "description": "Creates a new client.",
        "operationId": "ClientsController_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "clientModel",
            "in": "body",
            "description": "Client object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.Client.UpdateClientApiModel"
            },
            "x-ms-summary": "clientModel"
          },
          {
            "name": "geocode",
            "in": "query",
            "description": "Should address be geocoded or not.",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "geocode"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "201": {
            "description": "Client has been created.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.ReturnIdApiModel"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 1,
                  "Message": "use-external-id is not valid."
                },
                {
                  "Code": 2,
                  "Message": "Internal Id is not valid. Should be a numeric value."
                },
                {
                  "Code": 3,
                  "Message": "Invalid data format."
                },
                {
                  "Code": 4,
                  "Message": "External Id is empty."
                },
                {
                  "Code": 102,
                  "Message": "Client Name is not unique."
                },
                {
                  "Code": 103,
                  "Message": "Client already deleted or deactivated."
                },
                {
                  "Code": 104,
                  "Message": "External id is not unique."
                },
                {
                  "Code": 105,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 106,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 107,
                  "Message": "Contact Name length is not valid."
                },
                {
                  "Code": 108,
                  "Message": "Contact Phone length is not valid."
                },
                {
                  "Code": 109,
                  "Message": "External Id length is not valid."
                },
                {
                  "Code": 110,
                  "Message": "Latitude/Longitude values are not valid."
                },
                {
                  "Code": 111,
                  "Message": "Internal Id is not unique."
                },
                {
                  "Code": 112,
                  "Message": "Client has active orders."
                },
                {
                  "Code": 113,
                  "Message": "Country not supported."
                },
                {
                  "Code": 114,
                  "Message": "Client not found."
                },
                {
                  "Code": 115,
                  "Message": "Region not supported."
                },
                {
                  "Code": 116,
                  "Message": "Country length is not valid."
                },
                {
                  "Code": 117,
                  "Message": "City length is not valid."
                },
                {
                  "Code": 118,
                  "Message": "Region Code length is not valid."
                },
                {
                  "Code": 119,
                  "Message": "Region Name length is not valid."
                },
                {
                  "Code": 120,
                  "Message": "SubRegion Code length is not valid."
                },
                {
                  "Code": 121,
                  "Message": "SubRegion Name length is not valid."
                },
                {
                  "Code": 122,
                  "Message": "Postal Code length is not valid."
                },
                {
                  "Code": 123,
                  "Message": "Address Line 1 length is not valid."
                },
                {
                  "Code": 124,
                  "Message": "Address Line 2 length is not valid."
                },
                {
                  "Code": 125,
                  "Message": "Custom fields are not supported."
                },
                {
                  "Code": 126,
                  "Message": "Contact email format is not valid."
                },
                {
                  "Code": 127,
                  "Message": "Custom field negative field index."
                },
                {
                  "Code": 128,
                  "Message": "Custom field invalid data type."
                },
                {
                  "Code": 129,
                  "Message": "Custom field value length is not valid."
                },
                {
                  "Code": 130,
                  "Message": "Custom field value format is not valid."
                }
              ]
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "422": {
            "description": "Request is well-formed, but the meaning of the request is unclear. Not all methods will return code 422. Please see description of common patterns to see if 422 status code is expected (GET single item, GET lists, GET polling triggers, POST entity, PUT entity, DELETE entity, and custom actions). 422 error should be accompanied by error code returned in the body (see format below).",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 1,
                  "Message": "use-external-id is not valid."
                },
                {
                  "Code": 2,
                  "Message": "Internal Id is not valid. Should be a numeric value."
                },
                {
                  "Code": 3,
                  "Message": "Invalid data format."
                },
                {
                  "Code": 4,
                  "Message": "External Id is empty."
                },
                {
                  "Code": 102,
                  "Message": "Client Name is not unique."
                },
                {
                  "Code": 103,
                  "Message": "Client already deleted or deactivated."
                },
                {
                  "Code": 104,
                  "Message": "External id is not unique."
                },
                {
                  "Code": 105,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 106,
                  "Message": "Client Name length is not valid."
                },
                {
                  "Code": 107,
                  "Message": "Contact Name length is not valid."
                },
                {
                  "Code": 108,
                  "Message": "Contact Phone length is not valid."
                },
                {
                  "Code": 109,
                  "Message": "External Id length is not valid."
                },
                {
                  "Code": 110,
                  "Message": "Latitude/Longitude values are not valid."
                },
                {
                  "Code": 111,
                  "Message": "Internal Id is not unique."
                },
                {
                  "Code": 112,
                  "Message": "Client has active orders."
                },
                {
                  "Code": 113,
                  "Message": "Country not supported."
                },
                {
                  "Code": 114,
                  "Message": "Client not found."
                },
                {
                  "Code": 115,
                  "Message": "Region not supported."
                },
                {
                  "Code": 116,
                  "Message": "Country length is not valid."
                },
                {
                  "Code": 117,
                  "Message": "City length is not valid."
                },
                {
                  "Code": 118,
                  "Message": "Region Code length is not valid."
                },
                {
                  "Code": 119,
                  "Message": "Region Name length is not valid."
                },
                {
                  "Code": 120,
                  "Message": "SubRegion Code length is not valid."
                },
                {
                  "Code": 121,
                  "Message": "SubRegion Name length is not valid."
                },
                {
                  "Code": 122,
                  "Message": "Postal Code length is not valid."
                },
                {
                  "Code": 123,
                  "Message": "Address Line 1 length is not valid."
                },
                {
                  "Code": 124,
                  "Message": "Address Line 2 length is not valid."
                },
                {
                  "Code": 125,
                  "Message": "Custom fields are not supported."
                },
                {
                  "Code": 126,
                  "Message": "Contact email format is not valid."
                },
                {
                  "Code": 127,
                  "Message": "Custom field negative field index."
                },
                {
                  "Code": 128,
                  "Message": "Custom field invalid data type."
                },
                {
                  "Code": 129,
                  "Message": "Custom field value length is not valid."
                },
                {
                  "Code": 130,
                  "Message": "Custom field value format is not valid."
                }
              ]
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      }
    },
    "/custom-lists/v1/custom-lists/definitions": {
      "get": {
        "tags": [
          "Custom lists API"
        ],
        "summary": "Get custom list definitions",
        "description": "Retrieves a Custom List definition listing. The definition listing contains the CustomListID, Name and Version for all existing custom lists.",
        "operationId": "CustomListsController_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom List Definitions list is returned in body.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Models.CustomLists.CustomListDefinitionListItemApiModel"
              }
            }
          },
          "204": {
            "description": "Custom List Definition not found.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      }
    },
    "/custom-lists/v1/custom-lists/definitions/{customListId}": {
      "get": {
        "tags": [
          "Custom lists API"
        ],
        "summary": "Get custom list fields listing by CustomListID",
        "description": "Retrieves a list of fields for a single custom list, using the CustomListID.",
        "operationId": "CustomListsController_GetById",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customListId",
            "in": "path",
            "description": "Custom list id.",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "customListId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "CustomListDefinition is returned in body.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.CustomLists.CustomListApiModel"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "404": {
            "description": "Custom List Definition not found.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      }
    },
    "/custom-lists/v1/custom-lists/{customListId}": {
      "get": {
        "tags": [
          "Custom lists API"
        ],
        "summary": "Get custom list data by CustomListID",
        "description": "Retrieves all the data records in a single custom list using the CustomListID.\r\n\r\nResults are sorted by column, and paging is supported.\r\n\r\nErrors:\r\n\r\n404 - there is no custom list for provided customListId.",
        "operationId": "CustomListsController_GetCustomListRows",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customListId",
            "in": "path",
            "description": "Custom list id.",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "customListId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Start page number.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "pageNumber"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Page size.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "pageSize"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "List of custom list data is returned in body.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.CustomLists.CustomListColumnValuesContainerApiModel"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 152,
                  "Message": "Page size or page number are not valid."
                },
                {
                  "Code": 124,
                  "Message": "Address Line 2 length is not valid."
                }
              ]
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "404": {
            "description": "Custom List Definition not found.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      }
    },
    "/custom-lists/v1/custom-lists/{customListId}/{id}": {
      "get": {
        "tags": [
          "Custom lists API"
        ],
        "summary": "Get single record from custom list",
        "description": "Retrieves single custom list data record found by CustomListId and unique column value.\r\n\r\nErrors:\r\n\r\n404 - there is no custom list record for provided customListId and unique column value",
        "operationId": "CustomListsController_GetSingleRecord",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customListId",
            "in": "path",
            "description": "Custom list id.",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "customListId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique value.",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom list record is returned in body.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.CustomLists.CustomListColumnValuesContainerApiModel"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "404": {
            "description": "Custom List Definition not found.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom lists API"
        ],
        "summary": "Create or update custom list record",
        "description": "Creates or updates custom list data record. The value of unique column can be omitted, but if present, it should match the Unique ID value in the query parameter.",
        "operationId": "CustomListsController_PutRecord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customListId",
            "in": "path",
            "description": "Custom list id.",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "customListId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique value.",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.CustomLists.CustomListColumnValuesContainerApiModel"
            },
            "x-ms-summary": "body"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom list records have been put.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "404": {
            "description": "Custom List Definition not found.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "422": {
            "description": "Request is well-formed, but the meaning of the request is unclear. Not all methods will return code 422. Please see description of common patterns to see if 422 status code is expected (GET single item, GET lists, GET polling triggers, POST entity, PUT entity, DELETE entity, and custom actions). 422 error should be accompanied by error code returned in the body (see format below).",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 101,
                  "Message": "No custom list is associated with the customListId provided."
                },
                {
                  "Code": 102,
                  "Message": "Unique value in body of PUT method doesn't match URL parameters."
                },
                {
                  "Code": 103,
                  "Message": "Email address Invalid - Email address provided does not fit the required syntax for the column."
                }
              ]
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom lists API"
        ],
        "summary": "Delete custom list record",
        "description": "Deletes existing record in custom list by its customListId and id.\r\n\r\nid  - is unique value of custom list record.\r\n\r\nErrors:\r\n\r\n404 - customListId or id not found.",
        "operationId": "CustomListsController_DeleteRecord",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "customListId",
            "in": "path",
            "description": "Custom list id.",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "customListId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique value.",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "CustomListDefinition is returned in body.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 101,
                  "Message": "No custom list is associated with the customListId provided."
                },
                {
                  "Code": 102,
                  "Message": "Unique value in body of PUT method doesn't match URL parameters."
                },
                {
                  "Code": 103,
                  "Message": "Email address Invalid - Email address provided does not fit the required syntax for the column."
                }
              ]
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "404": {
            "description": "Custom List Definition not found.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "422": {
            "description": "Request is well-formed, but the meaning of the request is unclear. Not all methods will return code 422. Please see description of common patterns to see if 422 status code is expected (GET single item, GET lists, GET polling triggers, POST entity, PUT entity, DELETE entity, and custom actions). 422 error should be accompanied by error code returned in the body (see format below).",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 101,
                  "Message": "No custom list is associated with the customListId provided."
                },
                {
                  "Code": 102,
                  "Message": "Unique value in body of PUT method doesn't match URL parameters."
                },
                {
                  "Code": 103,
                  "Message": "Email address Invalid - Email address provided does not fit the required syntax for the column."
                }
              ]
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      }
    },
    "/events/v1/definitions/{id}": {
      "get": {
        "tags": [
          "Events API"
        ],
        "summary": "Get a custom event definition by ID",
        "description": "Retrieves a single custom event definition by ID.",
        "operationId": "EventsController_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Event definition id.",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom event definition is returned in body.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.CustomEventDefinitions.ReadCustomEventDefinitionApiModel"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "404": {
            "description": "Custom event definition not found.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Events API"
        ],
        "summary": "Create or update a custom event definition",
        "description": "Creates or updates a custom event definition.",
        "operationId": "EventsController_Put",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Event definition id.",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Custom event definition data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.CustomEventDefinitions.CreateUpdateCustomEventDefinitionApiModel"
            },
            "x-ms-summary": "body"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "201": {
            "description": "Custom event definition is created.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "204": {
            "description": "Request has been processed, but there is no content in the body.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 3,
                  "Message": "InvalidDataFormat. Request body cannot be empty."
                }
              ]
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "422": {
            "description": "Request is well-formed, but the meaning of the request is unclear. Not all methods will return code 422. Please see description of common patterns to see if 422 status code is expected (GET single item, GET lists, GET polling triggers, POST entity, PUT entity, DELETE entity, and custom actions). 422 error should be accompanied by error code returned in the body (see format below).",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 102,
                  "Message": "Parameters JSON string must not exceed 4000 characters."
                },
                {
                  "Code": 103,
                  "Message": "Custom event definition param data type not set."
                },
                {
                  "Code": 104,
                  "Message": "Non unique external Id."
                },
                {
                  "Code": 105,
                  "Message": "Non unique param name."
                },
                {
                  "Code": 106,
                  "Message": "Parameter can not be removed."
                },
                {
                  "Code": 107,
                  "Message": "Parameter data type can not be changed."
                },
                {
                  "Code": 109,
                  "Message": "Name: The length of the value must fall within the range \"1\" (Inclusive) - \"4000\" (Inclusive)."
                },
                {
                  "Code": 110,
                  "Message": "Caption: The length of the value must fall within the range \"1\" (Inclusive) - \"4000\" (Inclusive)."
                },
                {
                  "Code": 111,
                  "Message": "Name: The length of the value must fall within the range \"1\" (Inclusive) - \"100\" (Inclusive)."
                },
                {
                  "Code": 112,
                  "Message": "ExternalId: The length of the value must fall within the range \"1\" (Inclusive) - \"64\" (Inclusive)."
                }
              ]
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Events API"
        ],
        "summary": "Delete a custom event definition",
        "description": "Deletes a custom event definition.",
        "operationId": "EventsController_Delete",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Event definition id.",
            "required": true,
            "type": "string",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "204": {
            "description": "Request has been processed, but there is no content in the body."
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "404": {
            "description": "Custom event definition not found.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      }
    },
    "/events/v1/definitions": {
      "get": {
        "tags": [
          "Events API"
        ],
        "summary": "Get a list of custom event definitions",
        "description": "Retrieves a list of custom event definitions.",
        "operationId": "EventsController_GetList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom event definitions list is returned in body.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Models.CustomEventDefinitions.ReadCustomEventDefinitionApiModel"
              }
            }
          },
          "204": {
            "description": "Request has been processed, but there is no content in the body.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      }
    },
    "/events/v1/data": {
      "post": {
        "tags": [
          "Events API"
        ],
        "summary": "Submit event",
        "description": "Submits event.",
        "operationId": "EventsController_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "description": "Custom event data.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.CustomEventData.PostCustomEventDataApiModel"
            },
            "x-ms-summary": "data"
          },
          {
            "name": "X-API-Version",
            "in": "header",
            "description": "Requested current minor version. Latest version is 10.",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "internal",
            "x-ms-summary": "X-API-Version"
          }
        ],
        "responses": {
          "201": {
            "description": "Created."
          },
          "400": {
            "description": "Invalid request from the client. Example: missing required parameter for the GET method (which is not part of the resource name, the latter will result in 404 error). 400 error should be accompanied by error code returned in body. See format below.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 3,
                  "Message": "InvalidDataFormat. Request body cannot be empty."
                }
              ]
            }
          },
          "401": {
            "description": "Request was not applied, because user credentials could not be authenticated.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "422": {
            "description": "Request is well-formed, but the meaning of the request is unclear. Not all methods will return code 422. Please see description of common patterns to see if 422 status code is expected (GET single item, GET lists, GET polling triggers, POST entity, PUT entity, DELETE entity, and custom actions). 422 error should be accompanied by error code returned in the body (see format below).",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CustomerAPI.Infrastructure.ErrorHandling.ResponseError"
              }
            },
            "examples": {
              "application/json": [
                {
                  "Code": 101,
                  "Message": "Registered event not found."
                },
                {
                  "Code": 102,
                  "Message": "Entity identification is missing or identification type is invalid."
                },
                {
                  "Code": 103,
                  "Message": "Entity (User, Vehicle or Device) not found or it's inactive."
                },
                {
                  "Code": 104,
                  "Message": "Parameter not recognized."
                },
                {
                  "Code": 105,
                  "Message": "Required parameter is missing."
                },
                {
                  "Code": 106,
                  "Message": "Parameter type mismatch. Example: integer value is required, but text is provided that can't be converted to integer."
                },
                {
                  "Code": 107,
                  "Message": "Time must be set."
                },
                {
                  "Code": 108,
                  "Message": "Event definition id cannot be null."
                },
                {
                  "Code": 109,
                  "Message": "One and only one property to identify: device, user or vehicle must be supplied."
                },
                {
                  "Code": 110,
                  "Message": "Currently API supports only EmployeeNumber as Entity identification."
                }
              ]
            }
          },
          "500": {
            "description": "This error is always an indication of a bug on the server side; possibly due to an unhandled exception.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          },
          "503": {
            "description": "Service temporarily unavailable because other services (such as Azure service, or a required 3rd party service like Google API) are unavailable.",
            "schema": {
              "$ref": "#/definitions/CustomerAPI.Models.EmptyResponse"
            }
          }
        }
      }
    },
    "/events/v1/events": {
      "get": {
        "tags": [
          "Events API"
        ],
        "summary": "Get a list of events",
        "description": "Retrieves a list of events for a specific time period. You can specify the number of pages returned and the number of elements per page.\r\n\r\nFilter by event type to get specific events.\r\nVehicle events can be returned for an employee if the employee is associated with the vehicle.",
        "operationId": "EventsController_GetEvents",
[...]
