{
  "swagger": "2.0",
  "info": {
    "title": "ISOPlanner",
    "description": "ISOPlanner lets you automate compliance work by reacting to events and performing actions such as creating or updating tasks, incidents, and library items. Ideal for ISO 27001/27701 workflows. Requires an active ISOPlanner license.",
    "version": "1.2",
    "contact": {
      "name": "ISOPlanner Support",
      "url": "https://isoplanner.app/support",
      "email": "support@isoplanner.app"
    }
  },
  "x-ms-connector-metadata": [
    { "propertyName": "Website", "propertyValue": "https://isoplanner.app/" },
    { "propertyName": "Privacy policy", "propertyValue": "https://isoplanner.app/privacy-policy/" },
    { "propertyName": "Categories", "propertyValue": "Productivity" }
  ],
  "host": "svc.isoplanner.app",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/api/v1/assets/types": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Asset types",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "Type": { "type": "integer" }, "TypeName": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a list of available asset types",
        "operationId": "FetchAvailableAssetTypes",
        "description": "Get a list of available asset types.",
        "x-ms-visibility": "internal",
        "parameters": [{ "$ref": "#/parameters/OrgUnitId" }]
      }
    },
    "/api/v1/assets": {
      "get": {
        "responses": {
          "200": { "$ref": "#/responses/assets" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get assets",
        "description": "Get a list of all assets.",
        "operationId": "GetAssets",
        "x-ms-visibility": "important",
        "parameters": [{ "$ref": "#/parameters/OrgUnitId" }]
      },
      "post": {
        "responses": {
          "201": { "$ref": "#/responses/asset" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Create an asset",
        "operationId": "CreateAsset",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "Asset",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/assetForCreate" },
            "description": "The body of the asset.",
            "x-ms-summary": "Asset body",
            "x-ms-visibility": "important"
          }
        ],
        "description": "Create an asset."
      },
      "put": {
        "responses": {
          "200": { "$ref": "#/responses/asset" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Update an asset",
        "operationId": "UpdateAsset",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "Asset",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/assetForUpdate" },
            "description": "The body of the asset.",
            "x-ms-summary": "Asset body",
            "x-ms-visibility": "important"
          }
        ],
        "description": "Update an asset."
      }
    },
    "/api/v1/assets/{AssetId}": {
      "get": {
        "responses": {
          "200": { "$ref": "#/responses/asset" },
          "204": { "$ref": "#/responses/noContent" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get an asset",
        "description": "Get the details of an asset.",
        "operationId": "GetAssetForId",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "AssetId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the Asset.",
            "x-ms-summary": "Asset Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetAssets",
              "value-path": "AssetId",
              "value-title": "Name",
              "parameters": { "orgunitid": { "parameter": "orgunitid" } }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetAssets",
              "itemValuePath": "AssetId",
              "itemTitlePath": "Name",
              "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": { "description": "Ok" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Delete an asset",
        "operationId": "DeleteAsset",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "AssetId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the asset.",
            "x-ms-summary": "Asset Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Delete an asset."
      }
    },
    "/api/v1/assets/external/{ExternalId}": {
      "get": {
        "responses": {
          "200": { "$ref": "#/responses/asset" },
          "204": { "$ref": "#/responses/noContent" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get an asset for an external Id",
        "description": "Get the details of an asset for an external Id.",
        "operationId": "GetAssetForExternalId",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "ExternalId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The External Id of the Asset.",
            "x-ms-summary": "Asset External Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetAssets",
              "value-path": "ExternalId",
              "value-title": "Name",
              "parameters": { "orgunitid": { "parameter": "orgunitid" } }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetAssets",
              "itemValuePath": "ExternalId",
              "itemTitlePath": "Name",
              "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "200": { "description": "Ok" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Delete an asset for an external Id",
        "operationId": "DeleteAssetForExternalId",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "ExternalId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The External Id of the asset.",
            "x-ms-summary": "Asset External Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Delete an asset."
      }
    },
    "/api/v1/events/{EventId}": {
      "delete": {
        "responses": {
          "200": { "description": "Ok" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Delete an event",
        "operationId": "DeleteEvent",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "EventId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the event.",
            "x-ms-summary": "Event Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Delete an event."
      }
    },
    "/api/v1/tasks/{TaskId}": {
      "delete": {
        "responses": {
          "200": { "description": "Ok" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Delete a task",
        "operationId": "DeleteTask",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "TaskId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the task.",
            "x-ms-summary": "Task Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Delete a task."
      }
    },
    "/api/v1/kpis/data/context/types": {
      "get": {
        "responses": {
          "200": {
            "description": "List of KPI Entity Types",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "EntityType": { "type": "integer" }, "Description": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a list of Entity Types",
        "description": "Get a list of Entity Types for the KPI data context.",
        "operationId": "FetchAvailableKPIEntityTypes",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/kpis/data/context": {
      "post": {
        "responses": {
          "201": { "$ref": "#/responses/kpidatacontext" },
          "204": { "$ref": "#/responses/noContent" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Add context to a KPI data point",
        "description": "Add context to a KPI data point.",
        "operationId": "CreateKPIDataContext",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "KPIData",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/kpidatacontext" },
            "description": "The body of the request.",
            "x-ms-summary": "Body",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/api/v1/kpis/data/evidence": {
      "post": {
        "responses": {
          "201": { "$ref": "#/responses/kpievidenceresponse" },
          "204": { "$ref": "#/responses/noContent" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Submit evidence to a KPI",
        "description": "Check the evidence and add extracted data to a KPI.",
        "operationId": "SubmitKPIEvidence",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "KPIEvidence",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/kpievidence" },
            "description": "The body of the request.",
            "x-ms-summary": "Body",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/api/v1/library/content/{libraryItemId}": {
      "get": {
        "responses": {
          "200": { "$ref": "#/responses/libraryitem" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a Library item",
        "description": "Get the details of the specified Library item.",
        "operationId": "GetLibraryItem",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "libraryItemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Library Item Id",
            "description": "The Id of the Library item.",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/library/content/filter/url": {
      "get": {
        "responses": {
          "200": { "$ref": "#/responses/libraryitem" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a Library item by Url",
        "description": "Get the details of the specified Library item.",
        "operationId": "GetLibraryItemByUrl",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Item Url",
            "description": "The Url of the Library item."
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/kpis/data": {
      "post": {
        "responses": {
          "201": { "$ref": "#/responses/kpidata" },
          "204": { "$ref": "#/responses/noContent" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Create a KPI data point",
        "description": "Add data to the specified KPI.",
        "operationId": "CreateKPIData",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "KPIData",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/kpidataForCreate" },
            "description": "The body of the request.",
            "x-ms-summary": "Body",
            "x-ms-visibility": "important"
          }
        ]
      },
      "put": {
        "responses": {
          "200": { "$ref": "#/responses/kpidata" },
          "204": { "$ref": "#/responses/noContent" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Update a KPI data point",
        "description": "Update data for the specified KPI.",
        "operationId": "UpdateKPIData",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "KPIData",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/kpidata" },
            "description": "The body of the request.",
            "x-ms-summary": "Body",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/api/v1/kpis/{KPIId}/data/{KPIDataId}": {
      "get": {
        "responses": {
          "200": { "$ref": "#/responses/kpidata" },
          "204": { "$ref": "#/responses/noContent" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a KPI data point",
        "description": "Get data for the specified KPI.",
        "operationId": "GetKPIData",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "KPIId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the KPI.",
            "x-ms-summary": "KPI Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "FetchAvailableKPIs",
              "value-path": "KPIId",
              "value-title": "Name",
              "parameters": { "orgunitid": { "parameter": "orgunitid" } }
            },
            "x-ms-dynamic-list": {
              "operationId": "FetchAvailableKPIs",
              "itemValuePath": "KPIId",
              "itemTitlePath": "Name",
              "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
            }
          },
          {
            "name": "KPIDataId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Data Id of the KPI.",
            "x-ms-summary": "KPI Data Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": { "description": "Ok" },
          "204": { "$ref": "#/responses/noContent" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Delete a KPI data point",
        "description": "Delete data for the specified KPI.",
        "operationId": "DeleteKPIData",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "KPIId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the KPI.",
            "x-ms-summary": "KPI Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "FetchAvailableKPIs",
              "value-path": "KPIId",
              "value-title": "Name",
              "parameters": { "orgunitid": { "parameter": "orgunitid" } }
            },
            "x-ms-dynamic-list": {
              "operationId": "FetchAvailableKPIs",
              "itemValuePath": "KPIId",
              "itemTitlePath": "Name",
              "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
            }
          },
          {
            "name": "KPIDataId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Data Id of the KPI.",
            "x-ms-summary": "KPI Data Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/v1/kpis/{KPIId}": {
      "get": {
        "responses": {
          "200": { "$ref": "#/responses/kpi" },
          "204": { "$ref": "#/responses/noContent" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a KPI",
        "description": "Get the details of a KPI.",
        "operationId": "GetKPIForId",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "KPIId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the KPI.",
            "x-ms-summary": "KPI Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "FetchAvailableKPIs",
              "value-path": "KPIId",
              "value-title": "Name",
              "parameters": { "orgunitid": { "parameter": "orgunitid" } }
            },
            "x-ms-dynamic-list": {
              "operationId": "FetchAvailableKPIs",
              "itemValuePath": "KPIId",
              "itemTitlePath": "Name",
              "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
            }
          }
        ]
      }
    },
    "/api/v1/kpis": {
      "get": {
        "responses": {
          "200": {
            "description": "List of KPI",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "KPIId": { "type": "integer" }, "Name": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a list of KPI's",
        "description": "Get a list of available KPI's and details.",
        "operationId": "FetchAvailableKPIs",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/users/orgunits": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Organizational Units",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "OrgUnitId": { "type": "string" }, "Name": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a list of available organizational units for the user",
        "operationId": "FetchAvailableOrgUnits",
        "description": "Get a list of available organizational units for the user.",
        "x-ms-visibility": "internal"
      }
    },
    "/api/v1/hooks/triggers": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Event Types",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "EventType": { "type": "string" }, "Description": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a list of available event types",
        "operationId": "FetchAvailableEventTypes",
        "description": "Get a list of available event types.",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/events/{EventId}/subtasks": {
      "post": {
        "responses": {
          "201": { "$ref": "#/responses/task" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Create a subtask for an event",
        "operationId": "CreateEventSubTask",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "EventId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the event.",
            "x-ms-summary": "Event Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Task",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/taskForCreate" },
            "description": "The body of the task.",
            "x-ms-summary": "Task body",
            "x-ms-visibility": "important"
          }
        ],
        "description": "Create a subtask for an event."
      },
      "put": {
        "responses": {
          "200": { "$ref": "#/responses/task" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Update a subtask for an event",
        "operationId": "UpdateEventSubTask",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "EventId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the event.",
            "x-ms-summary": "Event Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Task",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/taskForUpdate" },
            "description": "The body of the task.",
            "x-ms-summary": "Task body",
            "x-ms-visibility": "important"
          }
        ],
        "description": "Update a subtask for an event."
      }
    },
    "/api/v1/events/{EventId}/subtasks/{TaskId}": {
      "get": {
        "responses": {
          "200": { "$ref": "#/responses/task" },
          "204": { "$ref": "#/responses/noContent" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a subtask of an event based on Id",
        "operationId": "GetEventSubTaskForId",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "EventId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the event.",
            "x-ms-summary": "Event Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "TaskId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the task.",
            "x-ms-summary": "Task Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Get a subtask of an event based on Id."
      },
      "delete": {
        "responses": {
          "200": { "description": "Ok" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Delete a subtask of an event",
        "operationId": "DeleteEventSubTask",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "EventId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the event.",
            "x-ms-summary": "Event Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "TaskId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the subtask.",
            "x-ms-summary": "Task Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Delete a subtask of an event."
      }
    },
    "/api/v1/events/{EventId}/subtasks/name/{TaskName}": {
      "get": {
        "responses": {
          "200": { "$ref": "#/responses/task" },
          "204": { "$ref": "#/responses/noContent" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a subtask of an event based on Name",
        "operationId": "GetEventSubTaskForName",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "EventId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the event.",
            "x-ms-summary": "Event Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "TaskName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Name of the task.",
            "x-ms-summary": "Task Name",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Get a subtask of an event based on Name."
      }
    },
    "/api/v1/library/content/{LibraryItemId}/task/{TaskId}": {
      "post": {
        "responses": {
          "200": { "description": "Ok" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Add a library item to a task",
        "operationId": "AddLibraryItemToTask",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "LibraryItemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the library item.",
            "x-ms-summary": "Library Item Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "TaskId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the task.",
            "x-ms-summary": "Task Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Add a library item to a task."
      }
    },
    "/api/v1/library/content/{LibraryItemId}/event/{EventId}": {
      "post": {
        "responses": {
          "200": { "description": "Ok" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Add a library item to an event",
        "operationId": "AddLibraryItemToEvent",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "LibraryItemId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the library item.",
            "x-ms-summary": "Library Item Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "EventId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the event.",
            "x-ms-summary": "Event Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Add a library item to an event."
      }
    },
    "/api/v1/events/{EventId}/approval": {
      "put": {
        "responses": {
          "200": { "description": "Ok" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Update an event from approval",
        "operationId": "UpdateEventFromApproval",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "EventId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The Id of the event.",
            "x-ms-summary": "Event Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Final",
            "in": "query",
            "required": true,
            "default": true,
            "type": "boolean",
            "description": "Indicates whether this is the final result for this event.",
            "x-ms-summary": "Final Result",
            "x-ms-visibility": "important"
          },
          {
            "name": "Result",
            "in": "body",
            "required": true,
            "schema": { "type": "object" },
            "description": "The result body of the approval.",
            "x-ms-visibility": "important"
          }
        ],
        "description": "Update an event from an approval result."
      }
    },
    "/api/v1/events": {
      "get": {
        "responses": {
          "200": { "$ref": "#/responses/events" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get events",
        "description": "Get all events or filtered events.",
        "operationId": "GetEvents",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "Filter options for the events."
          }
        ],
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "201": { "$ref": "#/responses/event" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Create an event",
        "operationId": "CreateEvent",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": { "title": "Name", "type": "string", "description": "Name of the event." },
                "externalId": { "title": "External Id", "type": "string", "description": "External Id of the event." },
                "templateId": {
                  "title": "Template",
                  "type": "integer",
                  "description": "The Id of the template.",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchAvailableEventTemplates",
                    "value-path": "TaskId",
                    "value-title": "Name",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchAvailableEventTemplates",
                    "itemValuePath": "TaskId",
                    "itemTitlePath": "Name",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  }
                },
                "firstLibraryItemId": {
                  "title": "Library Item Id",
                  "type": "integer",
                  "description": "One library item Id to link to this event."
                }
              },
              "x-ms-visibility": "important",
              "required": ["name"]
            },
            "x-ms-visibility": "important"
          }
        ],
        "description": "Create a new event."
      },
      "put": {
        "responses": {
          "200": { "$ref": "#/responses/event" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Update an event",
        "operationId": "UpdateEvent",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          { "name": "body", "in": "body", "required": true, "schema": { "$ref": "#/definitions/eventForUpdate" } }
        ],
        "description": "Update an event"
      }
    },
    "/api/v1/events/approval": {
      "post": {
        "responses": {
          "201": { "$ref": "#/responses/event" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Create an event for an approval",
        "operationId": "CreateEventApproval",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": { "title": "Name", "type": "string", "description": "The name of the event." },
                "Type": { "title": "Type", "type": "string", "enum": ["Latest approval", "Template", "Fixed users"] },
                "Users": {
                  "title": "Fixed users",
                  "type": "string",
                  "description": "A comma seperated list of email addresses."
                },
                "TemplateId": {
                  "title": "Template",
                  "type": "integer",
                  "description": "The Id of the template.",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchAvailableApprovalTemplates",
                    "value-path": "TaskId",
                    "value-title": "Name",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchAvailableApprovalTemplates",
                    "itemValuePath": "TaskId",
                    "itemTitlePath": "Name",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  }
                },
                "LibraryItemId": {
                  "title": "Library Item Id",
                  "type": "integer",
                  "description": "The Id of the Library item to approve."
                },
                "Comment": { "title": "Comment", "type": "string", "description": "The comment of the creator." }
              },
              "x-ms-visibility": "important",
              "required": ["Name"]
            },
            "x-ms-visibility": "important"
          }
        ],
        "description": "Create a new event."
      }
    },
    "/api/v1/tasks": {
      "get": {
        "responses": {
          "200": { "$ref": "#/responses/tasks" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get tasks",
        "description": "Get all tasks or filtered tasks.",
        "operationId": "GetTasks",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "Filter options for the tasks."
          }
        ],
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "201": { "$ref": "#/responses/task" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Create a task",
        "operationId": "CreateTask",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": { "title": "Name", "type": "string", "description": "The name of the task." },
                "externalId": {
                  "title": "ExternalId",
                  "type": "string",
                  "description": "The External Id of the task."
                },
                "templateId": {
                  "title": "Template",
                  "type": "integer",
                  "description": "The Id of the Template.",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchAvailableTaskTemplates",
                    "value-path": "TaskId",
                    "value-title": "Name",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchAvailableTaskTemplates",
                    "itemValuePath": "TaskId",
                    "itemTitlePath": "Name",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  }
                }
              },
              "x-ms-visibility": "important",
              "required": ["name"]
            },
            "x-ms-visibility": "important"
          }
        ],
        "description": "Create a new task."
      },
      "put": {
        "responses": {
          "200": { "$ref": "#/responses/task" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Update a task",
        "operationId": "UpdateTask",
        "x-ms-visibility": "important",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          { "name": "body", "in": "body", "required": true, "schema": { "$ref": "#/definitions/taskForUpdate" } }
        ],
        "description": "Update a task."
      }
    },
    "/api/v1/library/content": {
      "post": {
        "responses": {
          "200": { "$ref": "#/responses/libraryitem" },
          "201": { "$ref": "#/responses/libraryitem" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Create or Update Library item",
        "description": "Create or Update Library item.",
        "operationId": "CreateUpdateLibraryItem",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "libraryCategoryId": {
                  "title": "Category Id",
                  "type": "integer",
                  "description": "Id of the category in the ISOPlanner library.",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchLibraryCategories",
                    "value-path": "LibraryCategoryId",
                    "value-title": "LibraryCategoryName",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchLibraryCategories",
                    "itemValuePath": "LibraryCategoryId",
                    "itemTitlePath": "LibraryCategoryName",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  }
                },
                "libraryItemSPItemId": {
                  "title": "SharePoint Item Id",
                  "type": "string",
                  "description": "Item Id of a generic list item, document or page."
                },
                "libraryItemId": {
                  "title": "Library Item Id",
                  "type": "integer",
                  "description": "Id of the library item in ISOPlanner.",
                  "x-ms-visibility": "important"
                },
                "libraryItemUrl": {
                  "type": "string",
                  "title": "Web URL",
                  "description": "URL that points to the item."
                },
                "libraryItemName": {
                  "type": "string",
                  "title": "Name",
                  "description": "Name of the library item in ISOPlanner."
                },
                "libraryItemOwner": {
                  "type": "object",
                  "properties": {
                    "UserId": {
                      "type": "string",
                      "title": "Owner Id",
                      "description": "Id of the owner of this item.",
                      "x-ms-dynamic-values": {
                        "operationId": "FetchAvailableUsers",
                        "value-path": "UserId",
                        "value-title": "Name",
                        "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                      },
                      "x-ms-dynamic-list": {
                        "operationId": "FetchAvailableUsers",
                        "itemValuePath": "UserId",
                        "itemTitlePath": "Name",
                        "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                      }
                    }
                  }
                }
              },
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/tasks/forms": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Forms",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "FormId": { "type": "integer" }, "Name": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a list of available forms",
        "operationId": "FetchAvailableForms",
        "description": "Get a list of available forms.",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/users": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Users",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "UserId": { "type": "string" },
                  "Name": { "type": "string" },
                  "Email": { "type": "string" }
                }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a list of available users",
        "operationId": "FetchAvailableUsers",
        "description": "Get a list of available users.",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/roles": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Roles",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "RoleId": { "type": "string" }, "Name": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a list of available roles",
        "operationId": "FetchAvailableRoles",
        "description": "Get a list of available roles.",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/tasks/templates/1": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Task objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "TaskId": { "type": "integer" }, "Name": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a all templates",
        "operationId": "FetchAllTemplates",
        "description": "Get a list of all task templates and event templates.",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/tasks/templates/2": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Task objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "TaskId": { "type": "integer" }, "Name": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a all task templates",
        "operationId": "FetchAvailableTaskTemplates",
        "description": "Get a list of all task templates.",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/tasks/templates/3": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Task objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "TaskId": { "type": "integer" }, "Name": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a list of workflow templates",
        "operationId": "FetchAvailableEventTemplates",
        "description": "Get all available workflow templates.",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/tasks/templates/4": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Task objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "TaskId": { "type": "integer" }, "Name": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a list of approval templates",
        "operationId": "FetchAvailableApprovalTemplates",
        "description": "Get a list of all available approval templates.",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/tasks/templates/5": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Task objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "TaskId": { "type": "integer" }, "Name": { "type": "string" } }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get a list of monitoring templates",
        "operationId": "FetchAvailableMonitoringTemplates",
        "description": "Get a list of all available monitoring templates.",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/library/categories": {
      "get": {
        "responses": {
          "200": {
            "description": "List of Library Category objects",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "LibraryCategoryId": { "type": "integer" },
                  "LibraryCategoryName": { "type": "string" }
                }
              }
            }
          },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Get categories in the Library",
        "operationId": "FetchLibraryCategories",
        "description": "Get a list of categories in the Library.",
        "x-ms-visibility": "internal",
        "parameters": [{ "name": "orgunitid", "in": "header", "type": "string", "x-ms-summmary": "Org Unit Id" }]
      }
    },
    "/api/v1/hooks": {
      "post": {
        "responses": {
          "201": { "description": "Webhook created" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "Create a webhook",
        "description": "Create a webhook in ISOPlanner",
        "operationId": "CreateWebhook",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EventType": {
                  "type": "string",
                  "description": "The type of event.",
                  "title": "Event Type",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchAvailableEventTypes",
                    "value-path": "EventType",
                    "value-title": "Description",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchAvailableEventTypes",
                    "itemValuePath": "EventType",
                    "itemTitlePath": "Description",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  },
                  "x-ms-visibility": "important"
                },
                "WorkflowName": {
                  "type": "string",
                  "description": "The name of the workflow shown in ISOPlanner.",
                  "title": "Workflow Name",
                  "x-ms-visibility": "important"
                },
                "Secret": {
                  "type": "string",
                  "description": "The secret to protect from unauthorized activation.",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "EventTypeId": {
                  "type": "integer",
                  "description": "The entity Id for which the webhook must run.",
                  "title": "Event Type Id",
                  "x-ms-visibility": "important"
                },
                "Url": {
                  "type": "string",
                  "description": "Url that ISOPlanner will call (POST).",
                  "title": "Url",
                  "x-ms-visibility": "important"
                }
              },
              "required": ["Url", "EventType", "EventTypeId"]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/hooks/triggers/event-created": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TraceId": { "type": "string", "description": "Unique Id for this trigger request.", "title": "TraceId" },
            "Secret": {
              "type": "string",
              "description": "Secret to protect from unauthorized activation.",
              "title": "Secret"
            },
            "Payload": { "$ref": "#/definitions/event" }
          }
        },
        "description": "Response"
      },
      "post": {
        "responses": {
          "201": { "description": "Webhook created" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "When an event is created",
        "description": "When an event is created based on the specified template.",
        "operationId": "EventCreated",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, create an event for this template.",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EventType": {
                  "type": "string",
                  "description": "Event",
                  "title": "",
                  "default": "event-created",
                  "x-ms-visibility": "internal"
                },
                "WorkflowName": {
                  "type": "string",
                  "description": "The name of the workflow shown in ISOPlanner.",
                  "title": "Workflow Name",
                  "x-ms-visibility": "important"
                },
                "Secret": {
                  "type": "string",
                  "description": "The secret to protect from unauthorized activation.",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "EventTypeId": {
                  "type": "integer",
                  "description": "Choose the event template.",
                  "title": "Template",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchAvailableEventTemplates",
                    "value-path": "TaskId",
                    "value-title": "Name",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchAvailableEventTemplates",
                    "itemValuePath": "TaskId",
                    "itemTitlePath": "Name",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  }
                },
                "Url": {
                  "type": "string",
                  "description": "The notification Url.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "default": "test"
                }
              },
              "required": ["Url", "EventType", "EventTypeId"]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/hooks/triggers/task-created": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TraceId": { "type": "string", "description": "Unique Id for this trigger request.", "title": "TraceId" },
            "Secret": {
              "type": "string",
              "description": "Secret to protect from unauthorized activation.",
              "title": "Secret"
            },
            "Payload": { "$ref": "#/definitions/task" }
          }
        },
        "description": "Response"
      },
      "post": {
        "responses": {
          "201": { "description": "Webhook created" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "When a task is created",
        "description": "When a task is created based on the specified template.",
        "operationId": "TaskCreated",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, create a task for this template.",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EventType": {
                  "type": "string",
                  "description": "Event",
                  "title": "",
                  "default": "task-created",
                  "x-ms-visibility": "internal"
                },
                "WorkflowName": {
                  "type": "string",
                  "description": "The name of the workflow shown in ISOPlanner.",
                  "title": "Workflow Name",
                  "x-ms-visibility": "important"
                },
                "Secret": {
                  "type": "string",
                  "description": "The secret to protect from unauthorized activation.",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "EventTypeId": {
                  "type": "integer",
                  "description": "Choose the task template.",
                  "title": "Template",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchAvailableTaskTemplates",
                    "value-path": "TaskId",
                    "value-title": "Name",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchAvailableTaskTemplates",
                    "itemValuePath": "TaskId",
                    "itemTitlePath": "Name",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  }
                },
                "Url": {
                  "type": "string",
                  "description": "The notification Url.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "default": "test"
                }
              },
              "required": ["Url", "EventType", "EventTypeId"]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/hooks/triggers/monitoringtask-started": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TraceId": { "type": "string", "description": "Unique Id for this trigger request.", "title": "TraceId" },
            "Secret": {
              "type": "string",
              "description": "Secret to protect from unauthorized activation.",
              "title": "Secret"
            },
            "Payload": { "$ref": "#/definitions/task" }
          }
        },
        "description": "Response"
      },
      "post": {
        "responses": {
          "201": { "description": "Webhook created" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "When an annual plan task is started",
        "description": "When a task in the annual plan is ready to start according to schedule.",
        "operationId": "MonitoringTaskCreated",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, create an annual plan task and wait for a task in the schedule to start or click the test button.",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EventType": {
                  "type": "string",
                  "description": "Event",
                  "title": "",
                  "default": "monitoringtask-started",
                  "x-ms-visibility": "internal"
                },
                "WorkflowName": {
                  "type": "string",
                  "description": "The name of the workflow shown in ISOPlanner.",
                  "title": "Workflow Name",
                  "x-ms-visibility": "important"
                },
                "Secret": {
                  "type": "string",
                  "description": "The secret to protect from unauthorized activation.",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "EventTypeId": {
                  "type": "integer",
                  "description": "Choose the annual plan task.",
                  "title": "Template",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchAvailableMonitoringTemplates",
                    "value-path": "TaskId",
                    "value-title": "Name",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchAvailableMonitoringTemplates",
                    "itemValuePath": "TaskId",
                    "itemTitlePath": "Name",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  }
                },
                "Url": {
                  "type": "string",
                  "description": "The notification Url.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "default": "test"
                }
              },
              "required": ["Url", "EventType", "EventTypeId"]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/hooks/triggers/event-updated": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TraceId": { "type": "string", "description": "Unique Id for this trigger request.", "title": "TraceId" },
            "Secret": {
              "type": "string",
              "description": "Secret to protect from unauthorized activation.",
              "title": "Secret"
            },
            "Payload": { "$ref": "#/definitions/event" }
          }
        },
        "description": "Response"
      },
      "post": {
        "responses": {
          "201": { "description": "Webhook created" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "When an event is updated",
        "description": "When an event with the selected template is updated.",
        "operationId": "EventUpdated",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, update a task that has been created for the selected template.",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EventType": {
                  "type": "string",
                  "description": "Event",
                  "title": "",
                  "default": "event-updated",
                  "x-ms-visibility": "internal"
                },
                "WorkflowName": {
                  "type": "string",
                  "description": "The name of the workflow shown in ISOPlanner.",
                  "title": "Workflow Name",
                  "x-ms-visibility": "important"
                },
                "Secret": {
                  "type": "string",
                  "description": "The secret to protect from unauthorized activation.",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "EventTypeId": {
                  "type": "integer",
                  "description": "Choose the event template.",
                  "title": "Template",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchAvailableEventTemplates",
                    "value-path": "TaskId",
                    "value-title": "Name",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchAvailableEventTemplates",
                    "itemValuePath": "TaskId",
                    "itemTitlePath": "Name",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  }
                },
                "Url": {
                  "type": "string",
                  "description": "The notification Url.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "default": "test"
                }
              },
              "required": ["Url", "EventType", "EventTypeId"]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/hooks/triggers/task-updated": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TraceId": { "type": "string", "description": "Unique Id for this trigger request.", "title": "TraceId" },
            "Secret": {
              "type": "string",
              "description": "Secret to protect from unauthorized activation.",
              "title": "Secret"
            },
            "Payload": { "$ref": "#/definitions/task" }
          }
        },
        "description": "Response"
      },
      "post": {
        "responses": {
          "201": { "description": "Webhook created" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "When a task is updated",
        "description": "When a task with the selected template is updated.",
        "operationId": "TaskUpdated",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, update a task that has been created for the selected template.",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EventType": {
                  "type": "string",
                  "description": "Event",
                  "title": "",
                  "default": "task-updated",
                  "x-ms-visibility": "internal"
                },
                "WorkflowName": {
                  "type": "string",
                  "description": "The name of the workflow shown in ISOPlanner.",
                  "title": "Workflow Name",
                  "x-ms-visibility": "important"
                },
                "Secret": {
                  "type": "string",
                  "description": "The secret to protect from unauthorized activation.",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "EventTypeId": {
                  "type": "integer",
                  "description": "Choose the task template.",
                  "title": "Template",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchAvailableTaskTemplates",
                    "value-path": "TaskId",
                    "value-title": "Name",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchAvailableTaskTemplates",
                    "itemValuePath": "TaskId",
                    "itemTitlePath": "Name",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  }
                },
                "Url": {
                  "type": "string",
                  "description": "The notification Url.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "default": "test"
                }
              },
              "required": ["Url", "EventType", "EventTypeId"]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/hooks/triggers/event-deleted": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TraceId": { "type": "string", "description": "Unique Id for this trigger request.", "title": "TraceId" },
            "Secret": {
              "type": "string",
              "description": "Secret to protect from unauthorized activation.",
              "title": "Secret"
            },
            "Payload": { "$ref": "#/definitions/event" }
          }
        },
        "description": "Response"
      },
      "post": {
        "responses": {
          "201": { "description": "Webhook created" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "When an event is deleted",
        "description": "When an event is deleted based on the specified template.",
        "operationId": "EventDeleted",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, delete an event for this template.",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EventType": {
                  "type": "string",
                  "description": "Event",
                  "title": "",
                  "default": "event-deleted",
                  "x-ms-visibility": "internal"
                },
                "WorkflowName": {
                  "type": "string",
                  "description": "The name of the workflow shown in ISOPlanner.",
                  "title": "Workflow Name",
                  "x-ms-visibility": "important"
                },
                "Secret": {
                  "type": "string",
                  "description": "The secret to protect from unauthorized activation.",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "EventTypeId": {
                  "type": "integer",
                  "description": "Choose the event template.",
                  "title": "Template",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchAvailableEventTemplates",
                    "value-path": "TaskId",
                    "value-title": "Name",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchAvailableEventTemplates",
                    "itemValuePath": "TaskId",
                    "itemTitlePath": "Name",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  }
                },
                "Url": {
                  "type": "string",
                  "description": "The notification Url.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "default": "test"
                }
              },
              "required": ["Url", "EventType", "EventTypeId"]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/hooks/triggers/task-deleted": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TraceId": { "type": "string", "description": "Unique Id for this trigger request.", "title": "TraceId" },
            "Secret": {
              "type": "string",
              "description": "Secret to protect from unauthorized activation.",
              "title": "Secret"
            },
            "Payload": { "$ref": "#/definitions/task" }
          }
        },
        "description": "Response"
      },
      "post": {
        "responses": {
          "201": { "description": "Webhook created" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "When a task is deleted",
        "description": "When a task is deleted based on the specified template.",
        "operationId": "TaskDeleted",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, delete a task for this template.",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EventType": {
                  "type": "string",
                  "description": "Event",
                  "title": "",
                  "default": "task-deleted",
                  "x-ms-visibility": "internal"
                },
                "WorkflowName": {
                  "type": "string",
                  "description": "The name of the workflow shown in ISOPlanner.",
                  "title": "Workflow Name",
                  "x-ms-visibility": "important"
                },
                "Secret": {
                  "type": "string",
                  "description": "The secret to protect from unauthorized activation.",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "EventTypeId": {
                  "type": "integer",
                  "description": "Choose the task template.",
                  "title": "Template",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "FetchAvailableTaskTemplates",
                    "value-path": "TaskId",
                    "value-title": "Name",
                    "parameters": { "orgunitid": { "parameter": "orgunitid" } }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "FetchAvailableTaskTemplates",
                    "itemValuePath": "TaskId",
                    "itemTitlePath": "Name",
                    "parameters": { "orgunitid": { "parameterReference": "orgunitid" } }
                  }
                },
                "Url": {
                  "type": "string",
                  "description": "The notification Url.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "default": "test"
                }
              },
              "required": ["Url", "EventType", "EventTypeId"]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/hooks/triggers/risk-created": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TraceId": { "type": "string", "description": "Unique Id for this trigger request.", "title": "TraceId" },
            "Secret": {
              "type": "string",
              "description": "Secret to protect from unauthorized activation.",
              "title": "Secret"
            },
            "Payload": { "$ref": "#/definitions/risk" }
          }
        },
        "description": "Response"
      },
      "post": {
        "responses": {
          "201": { "description": "Webhook created" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "When a risk is created",
        "description": "When a risk is created.",
        "operationId": "RiskCreated",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, create a risk.",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EventType": {
                  "type": "string",
                  "description": "Event",
                  "title": "",
                  "default": "risk-created",
                  "x-ms-visibility": "internal"
                },
                "WorkflowName": {
                  "type": "string",
                  "description": "The name of the workflow shown in ISOPlanner.",
                  "title": "Workflow Name",
                  "x-ms-visibility": "important"
                },
                "Secret": {
                  "type": "string",
                  "description": "The secret to protect from unauthorized activation.",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "Url": {
                  "type": "string",
                  "description": "The notification Url.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "default": "test"
                }
              },
              "required": ["Url", "EventType"]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/hooks/triggers/risk-updated": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TraceId": { "type": "string", "description": "Unique Id for this trigger request.", "title": "TraceId" },
            "Secret": {
              "type": "string",
              "description": "Secret to protect from unauthorized activation.",
              "title": "Secret"
            },
            "Payload": { "$ref": "#/definitions/risk" }
          }
        },
        "description": "Response"
      },
      "post": {
        "responses": {
          "201": { "description": "Webhook created" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "When a risk is updated",
        "description": "When a risk is updated.",
        "operationId": "RiskUpdated",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, update a risk.",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EventType": {
                  "type": "string",
                  "description": "Event",
                  "title": "",
                  "default": "risk-updated",
                  "x-ms-visibility": "internal"
                },
                "WorkflowName": {
                  "type": "string",
                  "description": "The name of the workflow shown in ISOPlanner.",
                  "title": "Workflow Name",
                  "x-ms-visibility": "important"
                },
                "Secret": {
                  "type": "string",
                  "description": "The secret to protect from unauthorized activation.",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "Url": {
                  "type": "string",
                  "description": "The notification Url.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "default": "test"
                }
              },
              "required": ["Url", "EventType"]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/hooks/triggers/risk-deleted": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "TraceId": { "type": "string", "description": "Unique Id for this trigger request.", "title": "TraceId" },
            "Secret": {
              "type": "string",
              "description": "Secret to protect from unauthorized activation.",
              "title": "Secret"
            },
            "Payload": { "$ref": "#/definitions/risk" }
          }
        },
        "description": "Response"
      },
      "post": {
        "responses": {
          "201": { "description": "Webhook created" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "summary": "When a risk is deleted",
        "description": "When a risk is deleted.",
        "operationId": "RiskDeleted",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, delete a risk.",
        "parameters": [
          { "$ref": "#/parameters/OrgUnitId" },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "EventType": {
                  "type": "string",
                  "description": "Event",
                  "title": "",
                  "default": "risk-deleted",
                  "x-ms-visibility": "internal"
                },
                "WorkflowName": {
                  "type": "string",
                  "description": "The name of the workflow shown in ISOPlanner.",
                  "title": "Workflow Name",
                  "x-ms-visibility": "important"
                },
                "Secret": {
                  "type": "string",
                  "description": "The secret to protect from unauthorized activation.",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "Url": {
                  "type": "string",
                  "description": "The notification Url.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "default": "test"
                }
              },
              "required": ["Url", "EventType"]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/api/v1/hooks/orgunit/{OrgUnitId}/{WebhookId}": {
      "delete": {
        "responses": {
          "200": { "description": "Webhook deleted" },
          "401": { "$ref": "#/responses/unauthorized" },
          "403": { "$ref": "#/responses/forbidden" },
          "404": { "$ref": "#/responses/notFound" },
          "500": { "$ref": "#/responses/internalServerError" },
          "default": { "$ref": "#/responses/default" }
        },
        "description": "Deletes a webhook.",
        "summary": "Delete as webhook",
        "operationId": "DeleteTrigger",
        "parameters": [
          {
            "name": "OrgUnitId",
            "in": "path",
            "description": "The Id of the Org Unit.",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "WebhookId",
            "in": "path",
            "description": "The Id of the webhook.",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "internal"
      }
    }
  },
  "parameters": {
    "OrgUnitId": {
      "name": "orgunitid",
      "in": "header",
      "type": "string",
      "required": true,
      "description": "The Organizational Unit Id.",
      "x-ms-summary": "Org Unit Id",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "operationId": "FetchAvailableOrgUnits",
        "value-path": "OrgUnitId",
        "value-title": "Name"
      }
    }
  },
  "responses": {
    "unauthorized": { "description": "Unauthorized" },
    "forbidden": { "description": "Forbidden" },
    "notFound": { "description": "Not Found" },
    "noContent": { "description": "No Content" },
    "internalServerError": { "description": "Internal server error. Unknown error" },
[...]
