{
  "swagger": "2.0",
  "info": {
    "title": "Supportivekoala",
    "description": "Supportivekoala allows you to autogenerate images using templates.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.supportivekoala.com",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/images/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "template": {
                  "type": "string",
                  "description": "The template.",
                  "title": "Template"
                },
                "imageUrl": {
                  "type": "string",
                  "description": "The image URL.",
                  "title": "Image URL"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "__v": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The version.",
                  "title": "Version"
                }
              }
            }
          }
        },
        "summary": "Create image",
        "description": "Creates an image based on the supplied parameters.",
        "operationId": "ImagesPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "template": {
                  "type": "string",
                  "description": "The template.",
                  "title": "Template"
                },
                "params": {
                  "type": "object",
                  "items": {
                    "type": "string"
                  },
                  "description": "The parameters.",
                  "title": "Params"
                },
                "format": {
                  "type": "string",
                  "description": "The format.",
                  "title": "Format",
                  "enum": [
                    "png",
                    "jpeg",
                    "webp"
                  ],
                  "default": "png"
                }
              },
              "required": [
                "template"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/images/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "template": {
                  "type": "string",
                  "description": "The template.",
                  "title": "Template"
                },
                "imageUrl": {
                  "type": "string",
                  "description": "The image URL.",
                  "title": "Image URL"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "__v": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The version.",
                  "title": "Version"
                }
              }
            }
          }
        },
        "summary": "Get image",
        "description": "Retrieve the image with the given identifier.",
        "operationId": "ImageGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/images": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "_id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "template": {
                    "type": "string",
                    "description": "The template.",
                    "title": "Template"
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "The image URL.",
                    "title": "Image URL"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "__v": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The version.",
                    "title": "Version"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all images",
        "description": "Retrieve all the images that you have created.",
        "operationId": "ImagesGet",
        "parameters": []
      }
    },
    "/templates/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "generatedImages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "template": {
                        "type": "string",
                        "description": "The template.",
                        "title": "Template"
                      },
                      "imageUrl": {
                        "type": "string",
                        "description": "The image URL.",
                        "title": "Image URL"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "__v": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The version.",
                        "title": "Version"
                      }
                    }
                  },
                  "title": "Generated Images"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "params": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The parameters.",
                  "title": "Params"
                },
                "_id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "owner": {
                  "type": "string",
                  "description": "The owner.",
                  "title": "Owner"
                },
                "ownerEmail": {
                  "type": "string",
                  "description": "The owner email.",
                  "title": "Owner Email"
                },
                "imageUrl": {
                  "type": "string",
                  "description": "The image URL.",
                  "title": "Image URL"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "__v": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The version.",
                  "title": "Version"
                }
              }
            }
          }
        },
        "summary": "Create template",
        "description": "Creates a template from the given parameters.",
        "operationId": "TemplatePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "params": {
                  "type": "string",
                  "description": "The parameters.",
                  "title": "Params"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    },
    "/templates/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "generatedImages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "template": {
                        "type": "string",
                        "description": "The template.",
                        "title": "Template"
                      },
                      "imageUrl": {
                        "type": "string",
                        "description": "The image URL.",
                        "title": "Image URL"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "__v": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The version.",
                        "title": "Version"
                      }
                    }
                  },
                  "title": "Generated Images"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "params": {
                  "type": "array",
                  "items": {},
                  "description": "The parameters.",
                  "title": "Params"
                },
                "_id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "owner": {
                  "type": "string",
                  "description": "The owner.",
                  "title": "Owner"
                },
                "ownerEmail": {
                  "type": "string",
                  "description": "The owner email.",
                  "title": "Owner Email"
                },
                "imageUrl": {
                  "type": "string",
                  "description": "The image URL.",
                  "title": "Image URL"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "__v": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The version.",
                  "title": "Version"
                }
              }
            }
          }
        },
        "summary": "Get template",
        "description": "Retrieve a template with the given identifier.",
        "operationId": "TemplateGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/templates": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "generatedImages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "template": {
                          "type": "string",
                          "description": "The template.",
                          "title": "Template"
                        },
                        "imageUrl": {
                          "type": "string",
                          "description": "The image URL.",
                          "title": "Image URL"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "When created at.",
                          "title": "Created At"
                        },
                        "updatedAt": {
                          "type": "string",
                          "description": "When updated at.",
                          "title": "Updated At"
                        },
                        "__v": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The version.",
                          "title": "Version"
                        }
                      }
                    },
                    "title": "Generated Images"
                  },
                  "width": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The width.",
                    "title": "Width"
                  },
                  "height": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The height.",
                    "title": "Height"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The paramters.",
                    "title": "Params"
                  },
                  "_id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "owner": {
                    "type": "string",
                    "description": "The owner.",
                    "title": "Owner"
                  },
                  "ownerEmail": {
                    "type": "string",
                    "description": "The owner email.",
                    "title": "Owner Email"
                  },
                  "imageUrl": {
                    "type": "string",
                    "description": "The image URL.",
                    "title": "Image URL"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "__v": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The version.",
                    "title": "Version"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all templates",
        "description": "Retrieve all the templates you have created.",
        "operationId": "TemplatesGet",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://supportivekoala.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://supportivekoala.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ]
}