{
  "swagger": "2.0",
  "info": {
    "title": "vatcheckapi",
    "description": "vatcheckapi is a free and easy-to-use VAT lookup & validation service.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_vatcheck@gmail.com"
    }
  },
  "host": "api.vatcheckapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v2/status": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "account_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Unique account ID.",
                  "title": "Account ID"
                },
                "quotas": {
                  "type": "object",
                  "properties": {
                    "month": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Total available calls.",
                          "title": "Total"
                        },
                        "used": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Used number of calls.",
                          "title": "Used"
                        },
                        "remaining": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Remaining number of calls.",
                          "title": "Remaining"
                        }
                      },
                      "description": "Monthly details",
                      "title": "Month"
                    },
                    "grace": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Total number of calls.",
                          "title": "Total"
                        },
                        "used": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Used number of calls.",
                          "title": "Used"
                        },
                        "remaining": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Remaining number of calls.",
                          "title": "Remaining"
                        }
                      },
                      "description": "Grace details.",
                      "title": "Grace"
                    }
                  },
                  "description": "Details of quotas.",
                  "title": "Quotas"
                }
              }
            }
          }
        },
        "summary": "Check status",
        "operationId": "Status",
        "description": "Returns your current quota.",
        "parameters": []
      }
    },
    "/v2/check": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "country_code": {
                  "type": "string",
                  "description": "An ISO Alpha 2 Country Code for the vat number (e.g. LU).",
                  "title": "Country code"
                },
                "vat_number": {
                  "type": "string",
                  "description": "The vat number you want to query (Either: including the country prefix, or without and you specify the country_code).",
                  "title": "VAT number"
                },
                "format_valid": {
                  "type": "boolean",
                  "description": "Is the format valid?",
                  "title": "Format valid"
                },
                "checksum_valid": {
                  "type": "boolean",
                  "description": "Is the checksum valid?",
                  "title": "Checksum valid"
                },
                "registration_info": {
                  "type": "object",
                  "properties": {
                    "is_registered": {
                      "type": "boolean",
                      "description": "Is the VAT registered?",
                      "title": "Is registered?"
                    },
                    "name": {
                      "type": "string",
                      "description": "Details of the registered name.",
                      "title": "Name"
                    },
                    "address": {
                      "type": "string",
                      "description": "Details of the registered address.",
                      "title": "Address"
                    },
                    "address_parts": {
                      "type": "string",
                      "description": "Additional address parts.",
                      "title": "Address parts"
                    },
                    "checked_at": {
                      "type": "string",
                      "description": "Last checked at timestamp.",
                      "title": "Checked at"
                    }
                  },
                  "description": "registration_info",
                  "title": "Registration"
                },
                "registration_info_history": {
                  "type": "array",
                  "items": {},
                  "description": "Array of registration info history.",
                  "title": "Registration history"
                }
              }
            }
          }
        },
        "summary": "Validate VAT",
        "operationId": "Validate",
        "description": "Validates any given vat number and returns its validity and company information.",
        "parameters": [
          {
            "name": "vat_number",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "VAT number",
            "description": "The vat number you want to query (Either: including the country prefix, or without and you specify the country_code)."
          },
          {
            "name": "country_code",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Country code",
            "description": "An ISO Alpha 2 Country Code for the vat number (e.g. LU)."
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://vatcheckapi.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://vatcheckapi.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence;Finance"
    }
  ]
}