{
  "swagger": "2.0",
  "info": {
    "title": "App Store Connect - App Store",
    "description": "App store connect connector allows you to automate tasks and workflows for your app store submissions and updates. You can use it to create, edit, and manage metadata, screenshots, in-app purchases, and more. With this tool, you can save time and avoid errors by streamlining your app store processes.",
    "version": "1.0",
    "contact": {
      "name": "Farhan Latif",
      "url": "https://farhanlatif027.wixsite.com/prismixs",
      "email": "farhanlatif027@outlook.com"
    }
  },
  "host": "api.appstoreconnect.apple.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/apps": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "x-ms-visibility": "important",
                        "description": "The type of the resource object",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "title": "Id",
                        "x-ms-visibility": "important",
                        "description": "A unique identifier for the resource object. This is specific to the app and is used by the system for tracking"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "x-ms-visibility": "important",
                            "description": "The name of the app as it will appear on the App Store",
                            "title": "Name"
                          },
                          "bundleId": {
                            "type": "string",
                            "x-ms-visibility": "important",
                            "title": "Bundle Id",
                            "description": "A unique identifier for the app that matches the one in your code. This can\u2019t be changed after you submit your first build"
                          },
                          "sku": {
                            "type": "string",
                            "x-ms-visibility": "important",
                            "title": "Sku",
                            "description": "A unique ID for your app that is not visible on the App Store. You can use letters, numbers, hyphens, periods, and underscores. This can\u2019t be edited after the app is created"
                          },
                          "primaryLocale": {
                            "type": "string",
                            "x-ms-visibility": "important",
                            "title": "Primary Locale",
                            "description": "The main language for your app and its metadata. This can't be changed after the app is available on the App Store"
                          },
                          "isOrEverWasMadeForKids": {
                            "type": "boolean",
                            "x-ms-visibility": "important",
                            "title": "Is Or Ever Was Made For Kids",
                            "description": "A boolean value that indicates whether your app is made for kids or not. This affects how your app is reviewed and displayed on the App Store"
                          },
                          "subscriptionStatusUrl": {
                            "type": "string",
                            "x-ms-visibility": "important",
                            "title": "Subscription Status Url",
                            "description": "A URL that returns the subscription status of a user. This is required if your app offers auto-renewable subscriptions"
                          },
                          "subscriptionStatusUrlVersion": {
                            "type": "string",
                            "x-ms-visibility": "important",
                            "title": "Subscription Status Url Version",
                            "description": "The version of the subscription status URL. This is required if your app offers auto-renewable subscriptions"
                          },
                          "subscriptionStatusUrlForSandbox": {
                            "type": "string",
                            "x-ms-visibility": "important",
                            "title": "Subscription Status Url For Sandbox",
                            "description": "A URL that returns the subscription status of a user in the sandbox environment. This is required if your app offers auto-renewable subscriptions"
                          },
                          "subscriptionStatusUrlVersionForSandbox": {
                            "type": "string",
                            "x-ms-visibility": "important",
                            "title": "Subscription Status Url Version For Sandbox",
                            "description": "The version of the subscription status URL for the sandbox environment. This is required if your app offers auto-renewable subscriptions"
                          },
                          "availableInNewTerritories": {
                            "type": "boolean",
                            "title": "Available In New Territories",
                            "description": "A boolean value that indicates whether your app is available in new territories that Apple may add in the future. This can be changed at any time",
                            "enum": [
                              true,
                              false
                            ],
                            "x-ms-visibility": "important"
                          },
                          "contentRightsDeclaration": {
                            "x-ms-visibility": "important",
                            "type": "string",
                            "title": "Content Rights Declaration",
                            "description": "A value that indicates whether your app uses any third-party content that requires licensing or clearance. This can be one of the following: DOES_NOT_USE_THIRD_PARTY_CONTENT, USES_THIRD_PARTY_CONTENT, or NOT_YET_FINALIZED. This can be changed at any time"
                          }
                        },
                        "description": "attributes"
                      },
                      "relationships": {
                        "type": "object",
                        "properties": {
                          "ciProduct": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "x-ms-visibility": "important",
                                    "type": "string",
                                    "title": "Ci-Product Link Self",
                                    "description": "A link that returns the relationship itself. In this case, it returns the relationship between the app and the 'ciProduct'"
                                  },
                                  "related": {
                                    "type": "string",
                                    "x-ms-visibility": "important",
                                    "title": "Ci-Product Link Related",
                                    "description": "A link that returns the related resource object. In this case, it returns the 'ciProduct' related to the app"
                                  }
                                },
                                "description": "links"
                              }
                            },
                            "description": "ciProduct"
                          },
                          "betaTesters": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "x-ms-visibility": "important",
                                    "title": "Beta Testers Links Self",
                                    "description": "A link that returns the relationship between the app and its beta testers"
                                  }
                                },
                                "description": "links"
                              }
                            },
                            "description": "betaTesters"
                          },
                          "betaGroups": {
                            "type": "object",
                            "properties": {
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "x-ms-visibility": "important",
                                    "title": "Beta Groups Links Self",
                                    "description": "A link that returns the relationship between the app and its beta groups"
                                  },
                                  "related": {
                                    "type": "string",
                                    "x-ms-visibility": "important",
                                    "title": "Beta Groups Links Related",
                                    "description": "A link that returns the beta groups related to the app"
                                  }
                                },
                                "description": "links"
                              }
                            },
                            "description": "betaGroups"
                          }
                        },
                        "description": "relationships"
                      }
                    }
                  },
                  "description": "data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "title": "Links Self",
                      "x-ms-visibility": "important",
                      "description": "A link that returns the current collection of apps"
                    },
                    "next": {
                      "type": "string",
                      "title": "Links Next",
                      "x-ms-visibility": "important",
                      "description": "A link that returns the next page of the collection of apps"
                    }
                  },
                  "description": "links"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "paging": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "x-ms-visibility": "important",
                          "title": "Paging Total",
                          "description": "The total number of resource objects in the collection"
                        },
                        "limit": {
                          "type": "integer",
                          "format": "int32",
                          "x-ms-visibility": "important",
                          "title": "Paging Limit",
                          "description": "The maximum number of resource objects returned on a single page of the collection"
                        }
                      },
                      "description": "paging"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "List Apps",
        "operationId": "Apps_And_App_Metadata__List_Apps",
        "x-ms-visibility": "important",
        "description": "Find and list apps in App Store Connect",
        "parameters": [
          {
            "name": "fields[apps]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app resource that you want to include in the response, such as the app name, bundle ID, primary locale, and SKU",
            "x-ms-summary": "Apps",
            "x-ms-visibility": "advanced",
            "enum": [
              "appAvailability",
              "appClips",
              "appCustomProductPages",
              "appEncryptionDeclarations",
              "appEvents",
              "appInfos",
              "appPricePoints",
              "appPriceSchedule",
              "appStoreVersionExperimentsV2",
              "appStoreVersions",
              "availableInNewTerritories",
              "availableTerritories",
              "betaAppLocalizations",
              "betaAppReviewDetail",
              "betaGroups",
              "betaLicenseAgreement",
              "betaTesters",
              "builds",
              "bundleId",
              "ciProduct",
              "contentRightsDeclaration",
              "customerReviews",
              "endUserLicenseAgreement",
              "gameCenterDetail",
              "gameCenterEnabledVersions",
              "inAppPurchases",
              "inAppPurchasesV2",
              "isOrEverWasMadeForKids",
              "name",
              "perfPowerMetrics",
              "preOrder",
              "preReleaseVersions",
              "pricePoints",
              "prices",
              "primaryLocale",
              "promotedPurchases",
              "reviewSubmissions",
              "sku",
              "subscriptionGracePeriod",
              "subscriptionGroups",
              "subscriptionStatusUrl",
              "subscriptionStatusUrlForSandbox",
              "subscriptionStatusUrlVersion",
              "subscriptionStatusUrlVersionForSandbox"
            ]
          },
          {
            "name": "fields[betaLicenseAgreements]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the beta license agreement resource that you want to include in the response, such as the agreement text and the app ID",
            "x-ms-summary": "Beta License Agreements",
            "x-ms-visibility": "advanced",
            "enum": [
              "agreementText",
              "app"
            ]
          },
          {
            "name": "fields[preReleaseVersions]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the pre-release version resource that you want to include in the response, such as the version number, platform, and app ID",
            "x-ms-summary": "Pre Release Versions",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "builds",
              "platform",
              "version"
            ]
          },
          {
            "name": "fields[betaAppReviewDetails]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the beta app review detail resource that you want to include in the response, such as the contact information, demo account, and notes for the beta app review",
            "x-ms-summary": "Beta App Review Details",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "contactEmail",
              "contactFirstName",
              "contactLastName",
              "contactPhone",
              "demoAccountName",
              "demoAccountPassword",
              "demoAccountRequired",
              "notes"
            ]
          },
          {
            "name": "fields[betaAppLocalizations]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the beta app localization resource that you want to include in the response, such as the locale, app description, and feedback email",
            "x-ms-summary": "Beta App Localizations",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "description",
              "feedbackEmail",
              "locale",
              "marketingUrl",
              "privacyPolicyUrl",
              "tvOsPrivacyPolicy"
            ]
          },
          {
            "name": "fields[builds]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the build resource that you want to include in the response, such as the version, processing state, expiration date, and icon asset",
            "x-ms-summary": "Builds",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appEncryptionDeclaration",
              "appStoreVersion",
              "betaAppReviewSubmission",
              "betaBuildLocalizations",
              "betaGroups",
              "buildAudienceType",
              "buildBetaDetail",
              "buildBundles",
              "computedMinMacOsVersion",
              "diagnosticSignatures",
              "expirationDate",
              "expired",
              "iconAssetToken",
              "icons",
              "individualTesters",
              "lsMinimumSystemVersion",
              "minOsVersion",
              "perfPowerMetrics",
              "preReleaseVersion",
              "processingState",
              "uploadedDate",
              "usesNonExemptEncryption",
              "version"
            ]
          },
          {
            "name": "fields[betaGroups]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the beta group resource that you want to include in the response, such as the name, public link, and testers count",
            "x-ms-summary": "Beta Groups",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "betaTesters",
              "builds",
              "createdDate",
              "feedbackEnabled",
              "hasAccessToAllBuilds",
              "iosBuildsAvailableForAppleSiliconMac",
              "isInternalGroup",
              "name",
              "publicLink",
              "publicLinkEnabled",
              "publicLinkId",
              "publicLinkLimit",
              "publicLinkLimitEnabled"
            ]
          },
          {
            "name": "fields[endUserLicenseAgreements]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the end user license agreement resource that you want to include in the response, such as the agreement text and the territory code",
            "x-ms-summary": "End User License Agreements",
            "x-ms-visibility": "advanced",
            "enum": [
              "agreementText",
              "app",
              "territories"
            ]
          },
          {
            "name": "fields[appStoreVersions]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app store version resource that you want to include in the response, such as the version string, platform, release type, and status",
            "x-ms-summary": "App Store Versions",
            "x-ms-visibility": "advanced",
            "enum": [
              "ageRatingDeclaration",
              "app",
              "appClipDefaultExperience",
              "appStoreReviewDetail",
              "appStoreState",
              "appStoreVersionExperiments",
              "appStoreVersionExperimentsV2",
              "appStoreVersionLocalizations",
              "appStoreVersionPhasedRelease",
              "appStoreVersionSubmission",
              "build",
              "copyright",
              "createdDate",
              "customerReviews",
              "downloadable",
              "earliestReleaseDate",
              "platform",
              "releaseType",
              "routingAppCoverage",
              "versionString"
            ]
          },
          {
            "name": "fields[appInfos]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app info resource that you want to include in the response, such as the app name, subtitle, privacy policy URL, and primary category",
            "x-ms-summary": "App Infos",
            "x-ms-visibility": "advanced",
            "enum": [
              "ageRatingDeclaration",
              "app",
              "appInfoLocalizations",
              "appStoreAgeRating",
              "appStoreState",
              "brazilAgeRating",
              "brazilAgeRatingV2",
              "kidsAgeBand",
              "primaryCategory",
              "primarySubcategoryOne",
              "primarySubcategoryTwo",
              "secondaryCategory",
              "secondarySubcategoryOne",
              "secondarySubcategoryTwo"
            ]
          },
          {
            "name": "fields[perfPowerMetrics]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the perf power metric resource that you want to include in the response, such as the device type, metric type, average value, and measurement date",
            "x-ms-summary": "Performance Power Metrics",
            "x-ms-visibility": "advanced",
            "enum": [
              "deviceType",
              "metricType",
              "platform"
            ]
          },
          {
            "name": "fields[inAppPurchases]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the in-app purchase resource that you want to include in the response, such as the reference name, product type, state, and pricing",
            "x-ms-summary": "In-App Purchases",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appStoreReviewScreenshot",
              "apps",
              "content",
              "contentHosting",
              "familySharable",
              "iapPriceSchedule",
              "inAppPurchaseAvailability",
              "inAppPurchaseLocalizations",
              "inAppPurchaseType",
              "name",
              "pricePoints",
              "productId",
              "promotedPurchase",
              "referenceName",
              "reviewNote",
              "state"
            ]
          },
          {
            "name": "fields[ciProducts]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the ci product resource that you want to include in the response, such as the name, bundle ID, platform, and app ID",
            "x-ms-summary": "CI Products",
            "x-ms-visibility": "advanced",
            "enum": [
              "additionalRepositories",
              "app",
              "buildRuns",
              "bundleId",
              "createdDate",
              "name",
              "primaryRepositories",
              "productType",
              "workflows"
            ]
          },
          {
            "name": "fields[appClips]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app clip resource that you want to include in the response, such as the app clip ID, app ID, and app clip features",
            "x-ms-summary": "App Clips",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appClipAdvancedExperiences",
              "appClipDefaultExperiences",
              "bundleId"
            ]
          },
          {
            "name": "fields[reviewSubmissions]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the review submission resource that you want to include in the response, such as the app store version ID, state, and submitter",
            "x-ms-summary": "Review Submissions",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appStoreVersionForReview",
              "canceled",
              "items",
              "lastUpdatedByActor",
              "platform",
              "state",
              "submitted",
              "submittedByActor",
              "submittedDate"
            ]
          },
          {
            "name": "fields[appCustomProductPages]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app custom product page resource that you want to include in the response, such as the name, URL, and app store version ID",
            "x-ms-summary": "App Custom Product Pages",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appCustomProductPageVersions",
              "appStoreVersionTemplate",
              "customProductPageTemplate",
              "name",
              "url",
              "visible"
            ]
          },
          {
            "name": "fields[appEvents]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app event resource that you want to include in the response, such as the name, type, state, and end date",
            "x-ms-summary": "App Events",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "archivedTerritorySchedules",
              "badge",
              "deepLink",
              "eventState",
              "localizations",
              "primaryLocale",
              "priority",
              "purchaseRequirement",
              "purpose",
              "referenceName",
              "territorySchedules"
            ]
          },
          {
            "name": "fields[appPricePoints]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app price point resource that you want to include in the response, such as the price tier, currency, and territory",
            "x-ms-summary": "App Price Points",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "customerPrice",
              "equalizations",
              "priceTier",
              "proceeds",
              "territory"
            ]
          },
          {
            "name": "fields[customerReviews]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the customer review resource that you want to include in the response, such as the rating, title, body, and nickname",
            "x-ms-summary": "Customer Reviews",
            "x-ms-visibility": "advanced",
            "enum": [
              "body",
              "createdDate",
              "rating",
              "response",
              "reviewerNickname",
              "territory",
              "title"
            ]
          },
          {
            "name": "fields[subscriptionGracePeriods]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the subscription grace period resource that you want to include in the response, such as the duration, state, and app ID",
            "x-ms-summary": "Subscription Grace Periods",
            "x-ms-visibility": "advanced",
            "enum": [
              "duration",
              "optIn",
              "renewalType",
              "sandboxOptIn"
            ]
          },
          {
            "name": "fields[promotedPurchases]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the promoted purchase resource that you want to include in the response, such as the product ID, display name, and app ID",
            "x-ms-summary": "Promoted Purchases",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "enabled",
              "inAppPurchaseV2",
              "promotionImages",
              "state",
              "subscription",
              "visibleForAllUsers"
            ]
          },
          {
            "name": "fields[subscriptionGroups]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the subscription group resource that you want to include in the response, such as the name, reference name, and app ID",
            "x-ms-summary": "Subscription Groups",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "referenceName",
              "subscriptionGroupLocalizations",
              "subscriptions"
            ]
          },
          {
            "name": "fields[appPriceSchedules]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app price schedule resource that you want to include in the response, such as the start date, end date, and price tier",
            "x-ms-summary": "App Price Schedules",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "automaticPrices",
              "baseTerritory",
              "manualPrices"
            ]
          },
          {
            "name": "fields[appStoreVersionExperiments]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app store version experiment resource that you want to include in the response, such as the name, state, and app store version ID",
            "x-ms-summary": "App Store Version Experiments",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appStoreVersionExperimentTreatments",
              "controlVersions",
              "endDate",
              "latestControlVersion",
              "name",
              "platform",
              "reviewRequired",
              "startDate",
              "started",
              "state",
              "trafficProportion"
            ]
          },
          {
            "name": "fields[appEncryptionDeclarations]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app encryption declaration resource that you want to include in the response, such as the app ID, platform, state, and uses encryption",
            "x-ms-summary": "App Encryption Declarations",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appDescription",
              "appEncryptionDeclarationDocument",
              "appEncryptionDeclarationState",
              "availableOnFrenchStore",
              "builds",
              "codeValue",
              "containsProprietaryCryptography",
              "containsThirdPartyCryptography",
              "createdDate",
              "documentName",
              "documentType",
              "documentUrl",
              "exempt",
              "platform",
              "uploadedDate",
              "usesEncryption"
            ]
          },
          {
            "name": "fields[gameCenterDetails]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the game center detail resource that you want to include in the response, such as the app ID, platform, and game center enabled version",
            "x-ms-summary": "Game Center Details",
            "x-ms-visibility": "advanced",
            "enum": [
              "achievementReleases",
              "app",
              "arcadeEnabled",
              "challengeEnabled",
              "defaultGroupLeaderboard",
              "defaultLeaderboard",
              "gameCenterAchievements",
              "gameCenterAppVersions",
              "gameCenterGroup",
              "gameCenterLeaderboardSets",
              "gameCenterLeaderboards",
              "leaderboardReleases",
              "leaderboardSetReleases"
            ]
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Additional attribution you want to include",
            "x-ms-summary": "Include",
            "x-ms-visibility": "advanced",
            "enum": [
              "appClips",
              "appCustomProductPages",
              "appEncryptionDeclarations",
              "appEvents",
              "appInfos",
              "appStoreVersionExperimentsV2",
              "appStoreVersions",
              "availableTerritories",
              "betaAppLocalizations",
              "betaAppReviewDetail",
              "betaGroups",
              "betaLicenseAgreement",
              "builds",
              "ciProduct",
              "endUserLicenseAgreement",
              "gameCenterDetail",
              "gameCenterEnabledVersions",
              "inAppPurchases",
              "inAppPurchasesV2",
              "preOrder",
              "preReleaseVersions",
              "prices",
              "promotedPurchases",
              "reviewSubmissions",
              "subscriptionGracePeriod",
              "subscriptionGroups"
            ]
          },
          {
            "name": "filter[bundleId]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter apps by their bundle identifier, which is a unique string that identifies an app",
            "x-ms-summary": "Bundle ID Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter[id]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter apps by their App Store Connect ID, which is a unique identifier assigned by Apple",
            "x-ms-summary": "ID Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter[name]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter apps by their name, which is the title of the app displayed on the App Store and on devices",
            "x-ms-summary": "Name Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter[sku]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter apps by their SKU, which is a unique ID for your app that is not visible on the App Store",
            "x-ms-summary": "SKU Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter[appStoreVersions]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter apps by their app store versions, which are the versions of the app that have been submitted for review or released on the App Store",
            "x-ms-summary": "App Store Versions Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter[appStoreVersions.platform]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter app store versions by their platform, which is the operating system that the app runs on, such as iOS, macOS, tvOS, or watchOS",
            "x-ms-summary": "App Store Versions Platform Filter",
            "x-ms-visibility": "advanced",
            "enum": [
              "IOS",
              "MAC_OS",
              "TV_OS",
              "VISION_OS"
            ]
          },
          {
            "name": "filter[appStoreVersions.appStoreState]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter app store versions by their app store state, which is the status of the app on the App Store, such as Ready for Sale, Rejected, or In Review",
            "x-ms-summary": "App Store Versions App Store State Filter",
            "x-ms-visibility": "advanced",
            "enum": [
              "ACCEPTED",
              "DEVELOPER_REMOVED_FROM_SALE",
              "DEVELOPER_REJECTED",
              "IN_REVIEW",
              "INVALID_BINARY",
              "METADATA_REJECTED",
              "PENDING_APPLE_RELEASE",
              "PENDING_CONTRACT",
              "PENDING_DEVELOPER_RELEASE",
              "PREPARE_FOR_SUBMISSION",
              "PREORDER_READY_FOR_SALE",
              "PROCESSING_FOR_APP_STORE",
              "READY_FOR_REVIEW",
              "READY_FOR_SALE",
              "REJECTED",
              "REMOVED_FROM_SALE",
              "WAITING_FOR_EXPORT_COMPLIANCE",
              "WAITING_FOR_REVIEW",
              "REPLACED_WITH_NEW_VERSION"
            ]
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort the results by the specified attribute or relationship in ascending or descending order",
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced",
            "enum": [
              "bundleId",
              "-bundleId",
              "name",
              "-name",
              "sku",
              "-sku"
            ]
          },
          {
            "name": "limit[preReleaseVersions]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of pre-release versions returned for each app, which are the versions of the app that are in development or testing and have not been submitted for review",
            "x-ms-summary": "Limit Pre Release Versions",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[builds]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of builds returned for each app or pre-release version, which are the compiled executables of the app that are uploaded to App Store Connect",
            "x-ms-summary": "Limit Builds",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[betaGroups]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of beta groups returned for each app, which are the groups of testers that can access and provide feedback on pre-release versions of the app",
            "x-ms-summary": "Limit Beta Groups",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[betaAppLocalizations]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of beta app localizations returned for each app, which are the translations of the app\u2019s metadata, such as name and description, for different languages and regions",
            "x-ms-summary": "Limit Beta App Localizations",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[availableTerritories]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of available territories returned for each app, which are the countries or regions where the app is available for download on the App Store",
            "x-ms-summary": "Limit Available Territories",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appStoreVersions]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app store versions returned for each app, which are the versions of the app that have been submitted for review or released on the App Store",
            "x-ms-summary": "Limit App Store Versions",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appInfos]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app infos returned for each app, which are the general information and settings of the app, such as name, category, and age rating",
            "x-ms-summary": "Limit App Infos",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appClips]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app clips returned for each app, which are the small parts of the app that can be quickly accessed without downloading the full app",
            "x-ms-summary": "Limit App Clips",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appCustomProductPages]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app custom product pages returned for each app, which are the alternative versions of the app\u2019s product page on the App Store that can be customized for different audiences or marketing campaigns",
            "x-ms-summary": "Limit App Custom Product Pages",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appEvents]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app events returned for each app, which are the actions or occurrences that happen within the app, such as purchases or sign-ups, that can be tracked and measured",
            "x-ms-summary": "Limit App Events",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[reviewSubmissions]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of review submissions returned for each app store version, which are the requests to submit the app store version for review by Apple",
            "x-ms-summary": "Limit Review Submissions",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[inAppPurchasesV2]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of in-app purchases returned for each app, which are the additional content or features that users can buy within the app, such as subscriptions, coins, or levels",
            "x-ms-summary": "Limit In-App Purchases V2",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[promotedPurchases]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of promoted purchases returned for each app, which are the in-app purchases that can be featured on the App Store and purchased by users without opening the app",
            "x-ms-summary": "Promoted Purchases",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[subscriptionGroups]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of subscription groups returned for each app, which are the groups of in-app purchases that offer subscriptions to the same or related content or services",
            "x-ms-summary": "Subscription Groups",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appStoreVersionExperimentsV2]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app store version experiments returned for each app, which are the tests that compare the performance of different variations of the app\u2019s product page on the App Store, such as screenshots, app previews, or descriptions",
            "x-ms-summary": "App Store Version Experiments V2",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appEncryptionDeclarations]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app encryption declarations returned for each app, which are the statements that indicate whether the app uses encryption and how it complies with export regulations",
            "x-ms-summary": "App Encryption Declarations",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Service-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "JWT Token | Put JWTs Value Only",
            "description": "JSON Web Tokens (JWTs) signed with your private key to authorize API requests"
          }
        ]
      }
    },
    "/v1/apps/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "x-ms-visibility": "important",
                      "description": "The type of the resource object",
                      "title": "Type"
                    },
                    "id": {
                      "type": "string",
                      "title": "Id",
                      "x-ms-visibility": "important",
                      "description": "A unique identifier for the resource object. This is specific to the app and is used by the system for tracking"
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "x-ms-visibility": "important",
                          "description": "The name of the app as it will appear on the App Store",
                          "title": "Name"
                        },
                        "bundleId": {
                          "type": "string",
                          "x-ms-visibility": "important",
                          "title": "Bundle Id",
                          "description": "A unique identifier for the app that matches the one in your code. This can\u2019t be changed after you submit your first build"
                        },
                        "sku": {
                          "type": "string",
                          "x-ms-visibility": "important",
                          "title": "Sku",
                          "description": "A unique ID for your app that is not visible on the App Store. You can use letters, numbers, hyphens, periods, and underscores. This can\u2019t be edited after the app is created"
                        },
                        "primaryLocale": {
                          "type": "string",
                          "x-ms-visibility": "important",
                          "title": "Primary Locale",
                          "description": "The main language for your app and its metadata. This can't be changed after the app is available on the App Store"
                        },
                        "isOrEverWasMadeForKids": {
                          "type": "boolean",
                          "x-ms-visibility": "important",
                          "title": "Is Or Ever Was Made For Kids",
                          "description": "A boolean value that indicates whether your app is made for kids or not. This affects how your app is reviewed and displayed on the App Store"
                        },
                        "subscriptionStatusUrl": {
                          "type": "string",
                          "x-ms-visibility": "important",
                          "title": "Subscription Status Url",
                          "description": "A URL that returns the subscription status of a user. This is required if your app offers auto-renewable subscriptions"
                        },
                        "subscriptionStatusUrlVersion": {
                          "type": "string",
                          "x-ms-visibility": "important",
                          "title": "Subscription Status Url Version",
                          "description": "The version of the subscription status URL. This is required if your app offers auto-renewable subscriptions"
                        },
                        "subscriptionStatusUrlForSandbox": {
                          "type": "string",
                          "x-ms-visibility": "important",
                          "title": "Subscription Status Url For Sandbox",
                          "description": "A URL that returns the subscription status of a user in the sandbox environment. This is required if your app offers auto-renewable subscriptions"
                        },
                        "subscriptionStatusUrlVersionForSandbox": {
                          "type": "string",
                          "x-ms-visibility": "important",
                          "title": "Subscription Status Url Version For Sandbox",
                          "description": "The version of the subscription status URL for the sandbox environment. This is required if your app offers auto-renewable subscriptions"
                        },
                        "availableInNewTerritories": {
                          "type": "boolean",
                          "title": "Available In New Territories",
                          "description": "A boolean value that indicates whether your app is available in new territories that Apple may add in the future. This can be changed at any time",
                          "enum": [
                            true,
                            false
                          ],
                          "x-ms-visibility": "important"
                        },
                        "contentRightsDeclaration": {
                          "x-ms-visibility": "important",
                          "type": "string",
                          "title": "Content Rights Declaration",
                          "description": "A value that indicates whether your app uses any third-party content that requires licensing or clearance. This can be one of the following: DOES_NOT_USE_THIRD_PARTY_CONTENT, USES_THIRD_PARTY_CONTENT, or NOT_YET_FINALIZED. This can be changed at any time"
                        }
                      },
                      "description": "attributes"
                    },
                    "relationships": {
                      "type": "object",
                      "properties": {
                        "ciProduct": {
                          "type": "object",
                          "properties": {
                            "links": {
                              "type": "object",
                              "properties": {
                                "self": {
                                  "x-ms-visibility": "important",
                                  "type": "string",
                                  "title": "Ci-Product Link Self",
                                  "description": "A link that returns the relationship itself. In this case, it returns the relationship between the app and the 'ciProduct'"
                                },
                                "related": {
                                  "type": "string",
                                  "x-ms-visibility": "important",
                                  "title": "Ci-Product Link Related",
                                  "description": "A link that returns the related resource object. In this case, it returns the 'ciProduct' related to the app"
                                }
                              },
                              "description": "links"
                            }
                          },
                          "description": "ciProduct"
                        },
                        "customerReviews": {
                          "type": "object",
                          "properties": {
                            "links": {
                              "type": "object",
                              "properties": {
                                "self": {
                                  "x-ms-visibility": "important",
                                  "type": "string",
                                  "title": "Customer Reviews Link Self",
                                  "description": "A link that returns the relationship itself. In this case, it returns the relationship between the app and the 'customerReviews'"
                                },
                                "related": {
                                  "type": "string",
                                  "x-ms-visibility": "important",
                                  "title": "Customer Reviews Link Related",
                                  "description": "A link that returns the related resource object. In this case, it returns the 'customerReviews' related to the app"
                                }
                              },
                              "description": "links"
                            }
                          },
                          "description": "customerReviews"
                        }
                      },
                      "description": "relationships"
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "description": "self",
                          "x-ms-visibility": "internal"
                        }
                      },
                      "description": "links"
                    }
                  },
                  "description": "data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "self",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "links"
                }
              }
            }
          }
        },
        "operationId": "Apps_And_App_Metadata__Read_App_Information",
        "description": "Get information about a specific app",
        "summary": "Read App Information",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "fields[apps]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app resource that you want to include in the response, such as the app name, bundle ID, primary locale, and SKU",
            "x-ms-summary": "Apps",
            "x-ms-visibility": "advanced",
            "enum": [
              "appAvailability",
              "appClips",
              "appCustomProductPages",
              "appEncryptionDeclarations",
              "appEvents",
              "appInfos",
              "appPricePoints",
              "appPriceSchedule",
              "appStoreVersionExperimentsV2",
              "appStoreVersions",
              "availableInNewTerritories",
              "availableTerritories",
              "betaAppLocalizations",
              "betaAppReviewDetail",
              "betaGroups",
              "betaLicenseAgreement",
              "betaTesters",
              "builds",
              "bundleId",
              "ciProduct",
              "contentRightsDeclaration",
              "customerReviews",
              "endUserLicenseAgreement",
              "gameCenterDetail",
              "gameCenterEnabledVersions",
              "inAppPurchases",
              "inAppPurchasesV2",
              "isOrEverWasMadeForKids",
              "name",
              "perfPowerMetrics",
              "preOrder",
              "preReleaseVersions",
              "pricePoints",
              "prices",
              "primaryLocale",
              "promotedPurchases",
              "reviewSubmissions",
              "sku",
              "subscriptionGracePeriod",
              "subscriptionGroups",
              "subscriptionStatusUrl",
              "subscriptionStatusUrlForSandbox",
              "subscriptionStatusUrlVersion",
              "subscriptionStatusUrlVersionForSandbox"
            ]
          },
          {
            "name": "fields[betaLicenseAgreements]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the beta license agreement resource that you want to include in the response, such as the agreement text and the app ID",
            "x-ms-summary": "Beta License Agreements",
            "x-ms-visibility": "advanced",
            "enum": [
              "agreementText",
              "app"
            ]
          },
          {
            "name": "fields[preReleaseVersions]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the pre-release version resource that you want to include in the response, such as the version number, platform, and app ID",
            "x-ms-summary": "Pre Release Versions",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "builds",
              "platform",
              "version"
            ]
          },
          {
            "name": "fields[betaAppReviewDetails]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the beta app review detail resource that you want to include in the response, such as the contact information, demo account, and notes for the beta app review",
            "x-ms-summary": "Beta App Review Details",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "contactEmail",
              "contactFirstName",
              "contactLastName",
              "contactPhone",
              "demoAccountName",
              "demoAccountPassword",
              "demoAccountRequired",
              "notes"
            ]
          },
          {
            "name": "fields[betaAppLocalizations]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the beta app localization resource that you want to include in the response, such as the locale, app description, and feedback email",
            "x-ms-summary": "Beta App Localizations",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "description",
              "feedbackEmail",
              "locale",
              "marketingUrl",
              "privacyPolicyUrl",
              "tvOsPrivacyPolicy"
            ]
          },
          {
            "name": "fields[builds]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the build resource that you want to include in the response, such as the version, processing state, expiration date, and icon asset",
            "x-ms-summary": "Builds",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appEncryptionDeclaration",
              "appStoreVersion",
              "betaAppReviewSubmission",
              "betaBuildLocalizations",
              "betaGroups",
              "buildAudienceType",
              "buildBetaDetail",
              "buildBundles",
              "computedMinMacOsVersion",
              "diagnosticSignatures",
              "expirationDate",
              "expired",
              "iconAssetToken",
              "icons",
              "individualTesters",
              "lsMinimumSystemVersion",
              "minOsVersion",
              "perfPowerMetrics",
              "preReleaseVersion",
              "processingState",
              "uploadedDate",
              "usesNonExemptEncryption",
              "version"
            ]
          },
          {
            "name": "fields[betaGroups]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the beta group resource that you want to include in the response, such as the name, public link, and testers count",
            "x-ms-summary": "Beta Groups",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "betaTesters",
              "builds",
              "createdDate",
              "feedbackEnabled",
              "hasAccessToAllBuilds",
              "iosBuildsAvailableForAppleSiliconMac",
              "isInternalGroup",
              "name",
              "publicLink",
              "publicLinkEnabled",
              "publicLinkId",
              "publicLinkLimit",
              "publicLinkLimitEnabled"
            ]
          },
          {
            "name": "fields[endUserLicenseAgreements]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the end user license agreement resource that you want to include in the response, such as the agreement text and the territory code",
            "x-ms-summary": "End User License Agreements",
            "x-ms-visibility": "advanced",
            "enum": [
              "agreementText",
              "app",
              "territories"
            ]
          },
          {
            "name": "fields[appStoreVersions]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app store version resource that you want to include in the response, such as the version string, platform, release type, and status",
            "x-ms-summary": "App Store Versions",
            "x-ms-visibility": "advanced",
            "enum": [
              "ageRatingDeclaration",
              "app",
              "appClipDefaultExperience",
              "appStoreReviewDetail",
              "appStoreState",
              "appStoreVersionExperiments",
              "appStoreVersionExperimentsV2",
              "appStoreVersionLocalizations",
              "appStoreVersionPhasedRelease",
              "appStoreVersionSubmission",
              "build",
              "copyright",
              "createdDate",
              "customerReviews",
              "downloadable",
              "earliestReleaseDate",
              "platform",
              "releaseType",
              "routingAppCoverage",
              "versionString"
            ]
          },
          {
            "name": "fields[appInfos]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app info resource that you want to include in the response, such as the app name, subtitle, privacy policy URL, and primary category",
            "x-ms-summary": "App Infos",
            "x-ms-visibility": "advanced",
            "enum": [
              "ageRatingDeclaration",
              "app",
              "appInfoLocalizations",
              "appStoreAgeRating",
              "appStoreState",
              "brazilAgeRating",
              "brazilAgeRatingV2",
              "kidsAgeBand",
              "primaryCategory",
              "primarySubcategoryOne",
              "primarySubcategoryTwo",
              "secondaryCategory",
              "secondarySubcategoryOne",
              "secondarySubcategoryTwo"
            ]
          },
          {
            "name": "fields[perfPowerMetrics]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the perf power metric resource that you want to include in the response, such as the device type, metric type, average value, and measurement date",
            "x-ms-summary": "Performance Power Metrics",
            "x-ms-visibility": "advanced",
            "enum": [
              "deviceType",
              "metricType",
              "platform"
            ]
          },
          {
            "name": "fields[inAppPurchases]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the in-app purchase resource that you want to include in the response, such as the reference name, product type, state, and pricing",
            "x-ms-summary": "In-App Purchases",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appStoreReviewScreenshot",
              "apps",
              "content",
              "contentHosting",
              "familySharable",
              "iapPriceSchedule",
              "inAppPurchaseAvailability",
              "inAppPurchaseLocalizations",
              "inAppPurchaseType",
              "name",
              "pricePoints",
              "productId",
              "promotedPurchase",
              "referenceName",
              "reviewNote",
              "state"
            ]
          },
          {
            "name": "fields[ciProducts]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the ci product resource that you want to include in the response, such as the name, bundle ID, platform, and app ID",
            "x-ms-summary": "CI Products",
            "x-ms-visibility": "advanced",
            "enum": [
              "additionalRepositories",
              "app",
              "buildRuns",
              "bundleId",
              "createdDate",
              "name",
              "primaryRepositories",
              "productType",
              "workflows"
            ]
          },
          {
            "name": "fields[appClips]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app clip resource that you want to include in the response, such as the app clip ID, app ID, and app clip features",
            "x-ms-summary": "App Clips",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appClipAdvancedExperiences",
              "appClipDefaultExperiences",
              "bundleId"
            ]
          },
          {
            "name": "fields[reviewSubmissions]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the review submission resource that you want to include in the response, such as the app store version ID, state, and submitter",
            "x-ms-summary": "Review Submissions",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appStoreVersionForReview",
              "canceled",
              "items",
              "lastUpdatedByActor",
              "platform",
              "state",
              "submitted",
              "submittedByActor",
              "submittedDate"
            ]
          },
          {
            "name": "fields[appCustomProductPages]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app custom product page resource that you want to include in the response, such as the name, URL, and app store version ID",
            "x-ms-summary": "App Custom Product Pages",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appCustomProductPageVersions",
              "appStoreVersionTemplate",
              "customProductPageTemplate",
              "name",
              "url",
              "visible"
            ]
          },
          {
            "name": "fields[appEvents]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app event resource that you want to include in the response, such as the name, type, state, and end date",
            "x-ms-summary": "App Events",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "archivedTerritorySchedules",
              "badge",
              "deepLink",
              "eventState",
              "localizations",
              "primaryLocale",
              "priority",
              "purchaseRequirement",
              "purpose",
              "referenceName",
              "territorySchedules"
            ]
          },
          {
            "name": "fields[appPricePoints]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app price point resource that you want to include in the response, such as the price tier, currency, and territory",
            "x-ms-summary": "App Price Points",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "customerPrice",
              "equalizations",
              "priceTier",
              "proceeds",
              "territory"
            ]
          },
          {
            "name": "fields[customerReviews]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the customer review resource that you want to include in the response, such as the rating, title, body, and nickname",
            "x-ms-summary": "Customer Reviews",
            "x-ms-visibility": "advanced",
            "enum": [
              "body",
              "createdDate",
              "rating",
              "response",
              "reviewerNickname",
              "territory",
              "title"
            ]
          },
          {
            "name": "fields[subscriptionGracePeriods]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the subscription grace period resource that you want to include in the response, such as the duration, state, and app ID",
            "x-ms-summary": "Subscription Grace Periods",
            "x-ms-visibility": "advanced",
            "enum": [
              "duration",
              "optIn",
              "renewalType",
              "sandboxOptIn"
            ]
          },
          {
            "name": "fields[promotedPurchases]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the promoted purchase resource that you want to include in the response, such as the product ID, display name, and app ID",
            "x-ms-summary": "Promoted Purchases",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "enabled",
              "inAppPurchaseV2",
              "promotionImages",
              "state",
              "subscription",
              "visibleForAllUsers"
            ]
          },
          {
            "name": "fields[subscriptionGroups]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the subscription group resource that you want to include in the response, such as the name, reference name, and app ID",
            "x-ms-summary": "Subscription Groups",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "referenceName",
              "subscriptionGroupLocalizations",
              "subscriptions"
            ]
          },
          {
            "name": "fields[appPriceSchedules]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app price schedule resource that you want to include in the response, such as the start date, end date, and price tier",
            "x-ms-summary": "App Price Schedules",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "automaticPrices",
              "baseTerritory",
              "manualPrices"
            ]
          },
          {
            "name": "fields[appStoreVersionExperiments]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app store version experiment resource that you want to include in the response, such as the name, state, and app store version ID",
            "x-ms-summary": "App Store Version Experiments",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appStoreVersionExperimentTreatments",
              "controlVersions",
              "endDate",
              "latestControlVersion",
              "name",
              "platform",
              "reviewRequired",
              "startDate",
              "started",
              "state",
              "trafficProportion"
            ]
          },
          {
            "name": "fields[appEncryptionDeclarations]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the app encryption declaration resource that you want to include in the response, such as the app ID, platform, state, and uses encryption",
            "x-ms-summary": "App Encryption Declarations",
            "x-ms-visibility": "advanced",
            "enum": [
              "app",
              "appDescription",
              "appEncryptionDeclarationDocument",
              "appEncryptionDeclarationState",
              "availableOnFrenchStore",
              "builds",
              "codeValue",
              "containsProprietaryCryptography",
              "containsThirdPartyCryptography",
              "createdDate",
              "documentName",
              "documentType",
              "documentUrl",
              "exempt",
              "platform",
              "uploadedDate",
              "usesEncryption"
            ]
          },
          {
            "name": "fields[gameCenterDetails]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter specifies the attributes of the game center detail resource that you want to include in the response, such as the app ID, platform, and game center enabled version",
            "x-ms-summary": "Game Center Details",
            "x-ms-visibility": "advanced",
            "enum": [
              "achievementReleases",
              "app",
              "arcadeEnabled",
              "challengeEnabled",
              "defaultGroupLeaderboard",
              "defaultLeaderboard",
              "gameCenterAchievements",
              "gameCenterAppVersions",
              "gameCenterGroup",
              "gameCenterLeaderboardSets",
              "gameCenterLeaderboards",
              "leaderboardReleases",
              "leaderboardSetReleases"
            ]
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Additional attribution you want to include",
            "x-ms-summary": "Include",
            "x-ms-visibility": "advanced",
            "enum": [
              "appClips",
              "appCustomProductPages",
              "appEncryptionDeclarations",
              "appEvents",
              "appInfos",
              "appStoreVersionExperimentsV2",
              "appStoreVersions",
              "availableTerritories",
              "betaAppLocalizations",
              "betaAppReviewDetail",
              "betaGroups",
              "betaLicenseAgreement",
              "builds",
              "ciProduct",
              "endUserLicenseAgreement",
              "gameCenterDetail",
              "gameCenterEnabledVersions",
              "inAppPurchases",
              "inAppPurchasesV2",
              "preOrder",
              "preReleaseVersions",
              "prices",
              "promotedPurchases",
              "reviewSubmissions",
              "subscriptionGracePeriod",
              "subscriptionGroups"
            ]
          },
          {
            "name": "limit[preReleaseVersions]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of pre-release versions returned for each app, which are the versions of the app that are in development or testing and have not been submitted for review",
            "x-ms-summary": "Limit Pre Release Versions",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[builds]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of builds returned for each app or pre-release version, which are the compiled executables of the app that are uploaded to App Store Connect",
            "x-ms-summary": "Limit Builds",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[betaGroups]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of beta groups returned for each app, which are the groups of testers that can access and provide feedback on pre-release versions of the app",
            "x-ms-summary": "Limit Beta Groups",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[betaAppLocalizations]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of beta app localizations returned for each app, which are the translations of the app\u2019s metadata, such as name and description, for different languages and regions",
            "x-ms-summary": "Limit Beta App Localizations",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[availableTerritories]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of available territories returned for each app, which are the countries or regions where the app is available for download on the App Store",
            "x-ms-summary": "Limit Available Territories",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appStoreVersions]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app store versions returned for each app, which are the versions of the app that have been submitted for review or released on the App Store",
            "x-ms-summary": "Limit App Store Versions",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appInfos]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app infos returned for each app, which are the general information and settings of the app, such as name, category, and age rating",
            "x-ms-summary": "Limit App Infos",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appClips]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app clips returned for each app, which are the small parts of the app that can be quickly accessed without downloading the full app",
            "x-ms-summary": "Limit App Clips",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appCustomProductPages]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app custom product pages returned for each app, which are the alternative versions of the app\u2019s product page on the App Store that can be customized for different audiences or marketing campaigns",
            "x-ms-summary": "Limit App Custom Product Pages",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appEvents]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app events returned for each app, which are the actions or occurrences that happen within the app, such as purchases or sign-ups, that can be tracked and measured",
            "x-ms-summary": "Limit App Events",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[reviewSubmissions]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of review submissions returned for each app store version, which are the requests to submit the app store version for review by Apple",
            "x-ms-summary": "Limit Review Submissions",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[inAppPurchasesV2]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of in-app purchases returned for each app, which are the additional content or features that users can buy within the app, such as subscriptions, coins, or levels",
            "x-ms-summary": "Limit In-App Purchases V2",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[promotedPurchases]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of promoted purchases returned for each app, which are the in-app purchases that can be featured on the App Store and purchased by users without opening the app",
            "x-ms-summary": "Promoted Purchases",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[subscriptionGroups]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of subscription groups returned for each app, which are the groups of in-app purchases that offer subscriptions to the same or related content or services",
            "x-ms-summary": "Subscription Groups",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appStoreVersionExperimentsV2]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app store version experiments returned for each app, which are the tests that compare the performance of different variations of the app\u2019s product page on the App Store, such as screenshots, app previews, or descriptions",
            "x-ms-summary": "App Store Version Experiments V2",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit[appEncryptionDeclarations]",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "maximum": 50,
            "description": "Limit the number of app encryption declarations returned for each app, which are the statements that indicate whether the app uses encryption and how it complies with export regulations",
            "x-ms-summary": "App Encryption Declarations",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your Application ID",
            "x-ms-summary": "APP ID",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Service-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "JWT Token | Put JWTs Value Only",
            "description": "JSON Web Tokens (JWTs) signed with your private key to authorize API requests"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.apple.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.apple.com/legal/privacy/en-ww/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management"
    }
  ]
}
