{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "PICNIC CONNECTOR",
    "description": "PICNIC CONNECTOR",
    "contact" : {
      "name" : "Pug Interactive",
      "url" : "https://www.puginteractive.com",
      "email" : "support@puginteractive.com"
    }
  },
  "host": "connector.picnicplatform.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/players/create_player": {
      "post": {
        "summary": "Create Player",
        "description": "Create Player",
        "operationId": "Create_Player",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "player": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "profile": {
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "description": "first_name"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "last_name"
                        }
                      },
                      "description": "profile"
                    },
                    "external_realm": {
                      "type": "string",
                      "description": "external_realm"
                    },
                    "external_realm_id": {
                      "type": "string",
                      "description": "external_realm_id"
                    }
                  },
                  "description": "player"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/currency_accounts": {
      "get": {
        "summary": "Get player accounts",
        "description": "Get player Accounts",
        "operationId": "Get_Player_Accounts",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/currency_accounts/{account_type}": {
      "get": {
        "summary": "Get account balance",
        "description": "Get account balance",
        "operationId": "Get_Account_Balance",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "account_type",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/currency_accounts/{account_type}/add_currency/{amount}": {
      "post": {
        "summary": "Add Points",
        "description": "Add Points",
        "operationId": "Add_Points",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "account_type",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "amount",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/currency_accounts/{account_type}/remove_currency/{amount}": {
      "post": {
        "summary": "Remove Points",
        "description": "Remove Points",
        "operationId": "Remove_Points",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "account_type",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "amount",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}": {
      "post": {
        "summary": "Get Batch",
        "description": "Get Batch",
        "operationId": "Get_Batch",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "newBatchSize",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "newBatchMaxPicks",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "newBatchKind",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "newBatchUseTiers",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "newBatchTtl",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "newBatchMetadata",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/rewards": {
      "get": {
        "summary": "List Badges",
        "description": "List Badges",
        "operationId": "List_Badges",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/instances/rewards/{reward_ref}": {
      "get": {
        "summary": "Get Badge",
        "description": "Get Badge",
        "operationId": "Get_Badge",
        "parameters": [
          {
            "name": "reward_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/instances/rewards/issue_instance_by_ref/{reward_ref}": {
      "post": {
        "summary": "Issue Badge",
        "description": "Issue Badge",
        "operationId": "Issue_Badge",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "reward_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/instances/rewards/claim_instance_by_id/{reward_instance_id}": {
      "post": {
        "summary": "Claim Instance",
        "description": "Claim Instance",
        "operationId": "Claim_Instance",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "reward_instance_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/instances/rewards": {
      "get": {
        "summary": "Get Player Badges Instances",
        "description": "Get Player Badges",
        "operationId": "Get_Badges_Instances",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/instances/rewards/{reward_ref}": {
      "get": {
        "summary": "Get Badge Instance",
        "description": "Get Badge Instance",
        "operationId": "Get_Badge_Instance",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "reward_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/players/{player_id}/add_item_instance_by_ref/{item_ref}": {
      "post": {
        "summary": "Add Item Instance",
        "description": "Add Item Instance",
        "operationId": "Add_Item_Instance",
        "parameters": [
          {
            "name": "player_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "item_ref",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": " application/vnd.sno-ge.iapi+json",
            "description": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Clave de API": {
      "type": "apiKey",
      "in": "header",
      "name": "X-SNO-GE-INT-API-Key"
    }
  },
  "security": [
    {
      "Clave de API": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata" : [
    {
      "propertyName" : "Website",
      "propertyValue" : "https://www.puginteractive.com",
    },
    {
      "propertyName" : "Privacy policy",
      "propertyValue" : "https://www.puginteractive.com/privacy_policy",
    },
    {
      "propertyName" : "Categories",
      "propertyValue" : "Human Resources;Marketing",
    },
  ]
}