{
  "swagger": "2.0",
  "info": {
    "title": "Connect2All",
    "description": "Import, export and transform your Business Central data",
    "version": "2.5",
    "contact": {
      "name": "GAC Business Solutions",
      "url": "https://www.gac.nl",
      "email": "apps@gac.nl"
    }
  },
  "host": "connect2all.gaccloud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.gac.nl"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.gac.nl/disclaimer"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Data"
    }
  ],
  "paths": {
    "/api/1.0/environments": {
      "get": {
        "operationId": "GetEnvironments",
        "summary": "Get Environments",
        "description": "Get a list of available Business Central environments",
        "tags": [
          "helpers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StringArray"
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/companies": {
      "get": {
        "operationId": "GetCompanies",
        "summary": "Get Companies",
        "description": "Get a list of companies from Business Central",
        "tags": [
          "helpers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StringArray"
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/tables": {
      "get": {
        "operationId": "GetTables",
        "summary": "Get Tables",
        "description": "Get a list of available tables in Business Central",
        "tags": [
          "helpers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/KeyValuePairArray"
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/schema/ReadRequest": {
      "post": {
        "operationId": "GetReadRequestSchema",
        "summary": "Get schema",
        "description": "Get schema for readrequest",
        "tags": [
          "helpers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The schema for this readrequest",
              "properties": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/schema/ReadRequestById": {
      "post": {
        "operationId": "GetReadRequestByIdSchema",
        "summary": "Get schema",
        "description": "Get schema for readrequest by id",
        "tags": [
          "helpers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReadRequestSimpleSchema"
            },
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The schema for this readrequest",
              "properties": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/schema/WebhookRequest": {
      "post": {
        "operationId": "GetWebhookRequestSchema",
        "summary": "Get schema for webhook",
        "description": "Gets a schema for a webhook response",
        "tags": [
          "helpers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookSchemaRequest"
            },
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The schema for this webhook",
              "properties": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/schema/ReadRequestById/{SystemId}": {
      "post": {
        "operationId": "GetReadRequestByIdSchemaForId",
        "summary": "Get schema",
        "description": "Get schema for readrequest",
        "tags": [
          "helpers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/SystemId"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReadRequestSimpleSchema"
            },
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "The schema for this readrequest",
              "properties": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/hooks": {
      "x-ms-notification-content": {
        "description": "This is the system id is that is send back",
        "schema": {
          "type": "object",
          "properties": {
            "SystemId": {
              "type": "string",
              "description": "SystemId"
            }
          }
        }
      }
    },
    "/api/2.0/hooks": {
      "x-ms-notification-content": {
        "description": "This is the system id is that is send back",
        "schema": {
          "type": "object",
          "properties": {
            "SystemId": {
              "type": "string",
              "description": "SystemId"
            }
          }
        }
      }
    },
    "/api/1.0/hooks/{Id}": {
      "delete": {
        "description": "Deletes a webhook,",
        "summary": "Deletes a registration webhook from the Business Central environment",
        "tags": [
          "triggers"
        ],
        "x-ms-visibility": "internal",
        "operationId": "DeleteTrigger",
        "parameters": [
          {
            "name": "environment",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "company",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The id of the registered webhook",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/2.0/hooks/{Id}": {
      "delete": {
        "description": "Deletes a webhook,",
        "summary": "Deletes a registration webhook from the Business Central environment",
        "tags": [
          "triggers"
        ],
        "x-ms-visibility": "internal",
        "operationId": "DeleteTriggerV2",
        "parameters": [
          {
            "name": "environment",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "company",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "Id",
            "in": "path",
            "description": "The id of the registered webhook",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/hooks/create": {
      "x-ms-notification-content": {
        "description": "This is the system id is that is send back",
        "schema": {
          "type": "object",
          "properties": {
            "SystemId": {
              "type": "string",
              "description": "SystemId"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        },
        "summary": "Triggers when a record is created",
        "tags": [
          "triggers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "A record is created in Business Central",
        "operationId": "RecordCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "TableId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TableId",
                  "title": "",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTables",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "Environment": {
                        "parameter": "Environment"
                      },
                      "Company": {
                        "parameter": "Company"
                      }
                    }
                  }
                },
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl",
                "TableId"
              ]
            }
          }
        ]
      }
    },
    "/api/2.0/hooks/create": {
      "x-ms-notification-content": {
        "description": "This is the data that is send back",
        "schema": {
          "type": "object",
          "description": "Response",
          "title": "Response",
          "x-ms-summary": "Response",
          "properties": {},
          "x-ms-dynamic-schema": {
            "operationId": "GetWebhookRequestSchema",
            "parameters": {
              "Environment": {
                "parameter": "Environment"
              },
              "Company": {
                "parameter": "Company"
              },
              "tableId": {
                "parameter": "TableId"
              },
              "fields": {
                "parameter": "Fields"
              },
              "isBatch": {
                "parameter": "IsBatch"
              }
            },
            "value-path": "schema"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetWebhookRequestSchema",
            "parameters": {
              "Environment": {
                "parameterReference": "Environment"
              },
              "Company": {
                "parameterReference": "Company"
              },
              "body/tableId": {
                "parameterReference": "body/TableId"
              },
              "body/fields": {
                "parameterReference": "body/Fields"
              },
              "body/isBatch": {
                "parameterReference": "body/IsBatch"
              }
            },
            "itemValuePath": "schema"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        },
        "summary": "Triggers when a record is created (V2)",
        "tags": [
          "triggers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "A record is created in Business Central",
        "operationId": "RecordCreatedV2",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "TableId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TableId",
                  "title": "",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTables",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "Environment": {
                        "parameter": "Environment"
                      },
                      "Company": {
                        "parameter": "Company"
                      }
                    }
                  }
                },
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Fields": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "A field from the selected table",
                    "x-ms-summary": "Field",
                    "title": "",
                    "x-ms-dynamic-values": {
                      "operationId": "GetFields",
                      "value-path": "id",
                      "value-title": "name",
                      "parameters": {
                        "Table": {
                          "parameter": "TableId"
                        },
                        "Environment": {
                          "parameter": "Environment"
                        },
                        "Company": {
                          "parameter": "Company"
                        }
                      }
                    },
                    "x-ms-dynamic-list": {
                      "operationId": "GetFields",
                      "itemValuePath": "id",
                      "itemTitlePath": "name",
                      "parameters": {
                        "Table": {
                          "parameterReference": "body/TableId"
                        },
                        "Environment": {
                          "parameterReference": "Environment"
                        },
                        "Company": {
                          "parameterReference": "Company"
                        }
                      }
                    }
                  },
                  "x-ms-summary": "Select",
                  "description": "Select a field you want to retrieve"
                },
                "Filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Field": {
                        "type": "integer",
                        "format": "int32",
                        "description": "A field from the selected table",
                        "x-ms-summary": "Field",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetFields",
                          "value-path": "id",
                          "value-title": "name",
                          "parameters": {
                            "Table": {
                              "parameter": "TableId"
                            },
                            "Environment": {
                              "parameter": "Environment"
                            },
                            "Company": {
                              "parameter": "Company"
                            }
                          }
                        },
                        "x-ms-dynamic-list": {
                          "operationId": "GetFields",
                          "itemValuePath": "id",
                          "itemTitlePath": "name",
                          "parameters": {
                            "Table": {
                              "parameterReference": "body/TableId"
                            },
                            "Environment": {
                              "parameterReference": "Environment"
                            },
                            "Company": {
                              "parameterReference": "Company"
                            }
                          }
                        }
                      },
                      "FilterValue": {
                        "type": "string",
                        "x-ms-summary": "Filter",
                        "description": "A valid Business Central filter value",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "x-ms-summary": "Filterfields",
                  "description": "Field with filters that will be applied when retrieving data"
                },
                "IsBatch": {
                  "type": "boolean",
                  "x-ms-summary": "Is Batch",
                  "description": "Receive batches or singular updates"
                }
              },
              "required": [
                "CallbackUrl",
                "TableId"
              ]
            }
          }
        ]
      }
    },
    "/api/1.0/hooks/update": {
      "x-ms-notification-content": {
        "description": "This is the system id is that is send back",
        "schema": {
          "type": "object",
          "properties": {
            "SystemId": {
              "type": "string",
              "description": "SystemId"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        },
        "summary": "Triggers when a record is updated",
        "tags": [
          "triggers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "A record is updated in Business Central",
        "operationId": "RecordUpdated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "TableId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TableId",
                  "title": "",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTables",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "Environment": {
                        "parameter": "Environment"
                      },
                      "Company": {
                        "parameter": "Company"
                      }
                    }
                  }
                },
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl",
                "TableId"
              ]
            }
          }
        ]
      }
    },
    "/api/2.0/hooks/update": {
      "x-ms-notification-content": {
        "description": "This is the system id is that is send back",
        "schema": {
          "type": "object",
          "description": "Response",
          "title": "Response",
          "x-ms-summary": "Response",
          "properties": {},
          "x-ms-dynamic-schema": {
            "operationId": "GetWebhookRequestSchema",
            "parameters": {
              "Environment": {
                "parameter": "Environment"
              },
              "Company": {
                "parameter": "Company"
              },
              "tableId": {
                "parameter": "TableId"
              },
              "fields": {
                "parameter": "Fields"
              },
              "isBatch": {
                "parameter": "IsBatch"
              }
            },
            "value-path": "schema"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetWebhookRequestSchema",
            "parameters": {
              "Environment": {
                "parameterReference": "Environment"
              },
              "Company": {
                "parameterReference": "Company"
              },
              "body/tableId": {
                "parameterReference": "body/TableId"
              },
              "body/fields": {
                "parameterReference": "body/Fields"
              },
              "body/isBatch": {
                "parameterReference": "body/IsBatch"
              }
            },
            "itemValuePath": "schema"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        },
        "summary": "Triggers when a record is updated (V2)",
        "tags": [
          "triggers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "A record is updated in Business Central",
        "operationId": "RecordUpdatedV2",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "TableId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TableId",
                  "title": "",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTables",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "Environment": {
                        "parameter": "Environment"
                      },
                      "Company": {
                        "parameter": "Company"
                      }
                    }
                  }
                },
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Fields": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "A field from the selected table",
                    "x-ms-summary": "Field",
                    "title": "",
                    "x-ms-dynamic-values": {
                      "operationId": "GetFields",
                      "value-path": "id",
                      "value-title": "name",
                      "parameters": {
                        "Table": {
                          "parameter": "TableId"
                        },
                        "Environment": {
                          "parameter": "Environment"
                        },
                        "Company": {
                          "parameter": "Company"
                        }
                      }
                    },
                    "x-ms-dynamic-list": {
                      "operationId": "GetFields",
                      "itemValuePath": "id",
                      "itemTitlePath": "name",
                      "parameters": {
                        "Table": {
                          "parameterReference": "body/TableId"
                        },
                        "Environment": {
                          "parameterReference": "Environment"
                        },
                        "Company": {
                          "parameterReference": "Company"
                        }
                      }
                    }
                  },
                  "x-ms-summary": "Select",
                  "description": "Select a field you want to retrieve"
                },
                "Filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Field": {
                        "type": "integer",
                        "format": "int32",
                        "description": "A field from the selected table",
                        "x-ms-summary": "Field",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetFields",
                          "value-path": "id",
                          "value-title": "name",
                          "parameters": {
                            "Table": {
                              "parameter": "TableId"
                            },
                            "Environment": {
                              "parameter": "Environment"
                            },
                            "Company": {
                              "parameter": "Company"
                            }
                          }
                        },
                        "x-ms-dynamic-list": {
                          "operationId": "GetFields",
                          "itemValuePath": "id",
                          "itemTitlePath": "name",
                          "parameters": {
                            "Table": {
                              "parameterReference": "body/TableId"
                            },
                            "Environment": {
                              "parameterReference": "Environment"
                            },
                            "Company": {
                              "parameterReference": "Company"
                            }
                          }
                        }
                      },
                      "FilterValue": {
                        "type": "string",
                        "x-ms-summary": "Filter",
                        "description": "A valid Business Central filter value",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "x-ms-summary": "Filterfields",
                  "description": "Field with filters that will be applied when retrieving data"
                },
                "IsBatch": {
                  "type": "boolean",
                  "x-ms-summary": "Is Batch",
                  "description": "Receive batches or singular updates"
                }
              },
              "required": [
                "CallbackUrl",
                "TableId"
              ]
            }
          }
        ]
      }
    },
    "/api/1.0/hooks/delete": {
      "x-ms-notification-content": {
        "description": "This is the system id is that is send back",
        "schema": {
          "type": "object",
          "properties": {
            "SystemId": {
              "type": "string",
              "description": "SystemId"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        },
        "summary": "Triggers when a record is deleted",
        "tags": [
          "triggers"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "RecordDeleted",
        "description": "A record is deleted in Business Central",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "TableId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TableId",
                  "title": "",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTables",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "Environment": {
                        "parameter": "Environment"
                      },
                      "Company": {
                        "parameter": "Company"
                      }
                    }
                  }
                },
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl",
                "TableId"
              ]
            }
          }
        ]
      }
    },
    "/api/2.0/hooks/delete": {
      "x-ms-notification-content": {
        "description": "This is the system id is that is send back",
        "schema": {
          "type": "object",
          "description": "Response",
          "title": "Response",
          "x-ms-summary": "Response",
          "properties": {},
          "x-ms-dynamic-schema": {
            "operationId": "GetWebhookRequestSchema",
            "parameters": {
              "Environment": {
                "parameter": "Environment"
              },
              "Company": {
                "parameter": "Company"
              },
              "tableId": {
                "parameter": "TableId"
              },
              "fields": {
                "parameter": "Fields"
              },
              "isBatch": {
                "parameter": "IsBatch"
              }
            },
            "value-path": "schema"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetWebhookRequestSchema",
            "parameters": {
              "Environment": {
                "parameterReference": "Environment"
              },
              "Company": {
                "parameterReference": "Company"
              },
              "body/tableId": {
                "parameterReference": "body/TableId"
              },
              "body/fields": {
                "parameterReference": "body/Fields"
              },
              "body/isBatch": {
                "parameterReference": "body/IsBatch"
              }
            },
            "itemValuePath": "schema"
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        },
        "summary": "Triggers when a record is deleted (V2)",
        "tags": [
          "triggers"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "RecordDeletedV2",
        "description": "A record is deleted in Business Central",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "TableId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TableId",
                  "title": "",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTables",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "Environment": {
                        "parameter": "Environment"
                      },
                      "Company": {
                        "parameter": "Company"
                      }
                    }
                  }
                },
                "CallbackUrl": {
                  "type": "string",
                  "description": "CallbackUrl",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "Fields": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "A field from the selected table",
                    "x-ms-summary": "Field",
                    "title": "",
                    "x-ms-dynamic-values": {
                      "operationId": "GetFields",
                      "value-path": "id",
                      "value-title": "name",
                      "parameters": {
                        "Table": {
                          "parameter": "TableId"
                        },
                        "Environment": {
                          "parameter": "Environment"
                        },
                        "Company": {
                          "parameter": "Company"
                        }
                      }
                    },
                    "x-ms-dynamic-list": {
                      "operationId": "GetFields",
                      "itemValuePath": "id",
                      "itemTitlePath": "name",
                      "parameters": {
                        "Table": {
                          "parameterReference": "body/TableId"
                        },
                        "Environment": {
                          "parameterReference": "Environment"
                        },
                        "Company": {
                          "parameterReference": "Company"
                        }
                      }
                    }
                  },
                  "x-ms-summary": "Select",
                  "description": "Select a field you want to retrieve"
                },
                "Filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Field": {
                        "type": "integer",
                        "format": "int32",
                        "description": "A field from the selected table",
                        "x-ms-summary": "Field",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetFields",
                          "value-path": "id",
                          "value-title": "name",
                          "parameters": {
                            "Table": {
                              "parameter": "TableId"
                            },
                            "Environment": {
                              "parameter": "Environment"
                            },
                            "Company": {
                              "parameter": "Company"
                            }
                          }
                        },
                        "x-ms-dynamic-list": {
                          "operationId": "GetFields",
                          "itemValuePath": "id",
                          "itemTitlePath": "name",
                          "parameters": {
                            "Table": {
                              "parameterReference": "body/TableId"
                            },
                            "Environment": {
                              "parameterReference": "Environment"
                            },
                            "Company": {
                              "parameterReference": "Company"
                            }
                          }
                        }
                      },
                      "FilterValue": {
                        "type": "string",
                        "x-ms-summary": "Filter",
                        "description": "A valid Business Central filter value",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "x-ms-summary": "Filterfields",
                  "description": "Field with filters that will be applied when retrieving data"
                },
                "IsBatch": {
                  "type": "boolean",
                  "x-ms-summary": "Is Batch",
                  "description": "Receive batches or singular updates"
                }
              },
              "required": [
                "CallbackUrl",
                "TableId"
              ]
            }
          }
        ]
      }
    },
    "/api/1.0/configurations/names": {
      "get": {
        "operationId": "GetConfigurationNames",
        "deprecated": true,
        "summary": "Get Configurations for data transformation (deprecated)",
        "description": "Get Configurations from Business Central for data transformation (deprecated)",
        "tags": [
          "helpers"
        ],
        "x-ms-visibility": "internal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StringArray"
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/powerbi": {
      "post": {
        "operationId": "GetDataInBulk",
        "deprecated": true,
        "summary": "Get Data in bulk format (deprecated)",
        "tags": [
          "data"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Get data from Business Central for a table in bulk format. (deprecated)",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "useNextPageLink",
            "in": "query",
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request",
            "x-ms-summary": "Request",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Take": {
                  "type": "integer",
                  "default": 2
                },
                "Table": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TableId",
                  "title": "",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTables",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "Environment": {
                        "parameter": "Environment"
                      },
                      "Company": {
                        "parameter": "Company"
                      }
                    }
                  }
                },
                "Fields": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "A field from the selected table",
                    "x-ms-summary": "Field",
                    "title": "",
                    "x-ms-dynamic-values": {
                      "operationId": "GetFields",
                      "value-path": "id",
                      "value-title": "name",
                      "parameters": {
                        "Table": {
                          "parameter": "Table"
                        },
                        "Environment": {
                          "parameter": "Environment"
                        },
                        "Company": {
                          "parameter": "Company"
                        }
                      }
                    },
                    "x-ms-dynamic-list": {
                      "operationId": "GetFields",
                      "itemValuePath": "id",
                      "itemTitlePath": "name",
                      "parameters": {
                        "Table": {
                          "parameterReference": "body/Table"
                        },
                        "Environment": {
                          "parameterReference": "Environment"
                        },
                        "Company": {
                          "parameterReference": "Company"
                        }
                      }
                    }
                  },
                  "x-ms-summary": "Select",
                  "description": "Select a field you want to retrieve"
                },
                "Filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Field": {
                        "type": "integer",
                        "format": "int32",
                        "description": "A field from the selected table",
                        "x-ms-summary": "Field",
                        "title": "",
                        "x-ms-dynamic-values": {
                          "operationId": "GetFields",
                          "value-path": "id",
                          "value-title": "name",
                          "parameters": {
                            "Table": {
                              "parameter": "Table"
                            },
                            "Environment": {
                              "parameter": "Environment"
                            },
                            "Company": {
                              "parameter": "Company"
                            }
                          }
                        },
                        "x-ms-dynamic-list": {
                          "operationId": "GetFields",
                          "itemValuePath": "id",
                          "itemTitlePath": "name",
                          "parameters": {
                            "Table": {
                              "parameterReference": "body/Table"
                            },
                            "Environment": {
                              "parameterReference": "Environment"
                            },
                            "Company": {
                              "parameterReference": "Company"
                            }
                          }
                        }
                      },
                      "Filter": {
                        "type": "string",
                        "x-ms-summary": "Filter",
                        "description": "A valid Business Central filter value",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  },
                  "x-ms-summary": "Filterfields",
                  "description": "Field with filters that will be applied when retrieving data"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "Response",
              "title": "Response",
              "x-ms-summary": "Response",
              "properties": {
                "nextPageLink": {
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {}
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/get": {
      "post": {
        "operationId": "GetData",
        "summary": "Get Data",
        "tags": [
          "data"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Get data from Business Central for specific tables",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request",
            "x-ms-summary": "Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReadRequest"
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "Response",
              "title": "Response",
              "x-ms-summary": "Response",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetReadRequestByIdSchema",
                "parameters": {
                  "Environment": {
                    "parameter": "Environment"
                  },
                  "Company": {
                    "parameter": "Company"
                  },
                  "table": {
                    "parameter": "table"
                  },
                  "fields": {
                    "parameter": "fields"
                  },
                  "name": {
                    "parameter": "name"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetReadRequestByIdSchema",
                "parameters": {
                  "Environment": {
                    "parameterReference": "Environment"
                  },
                  "Company": {
                    "parameterReference": "Company"
                  },
                  "body/table": {
                    "parameterReference": "body/table"
                  },
                  "body/fields": {
                    "parameterReference": "body/fields"
                  },
                  "body/name": {
                    "parameterReference": "body/name"
                  }
                },
                "itemValuePath": "schema"
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/get/{SystemId}": {
      "post": {
        "operationId": "GetDataById",
        "summary": "Get Data by Id",
        "description": "Get data from Business Central for a specific table and record",
        "tags": [
          "data"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request",
            "x-ms-summary": "Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReadRequestSimple"
            },
            "x-ms-visibility": "important"
          },
          {
            "$ref": "#/parameters/SystemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "Response",
              "title": "Response",
              "x-ms-summary": "Response",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetReadRequestByIdSchemaForId",
                "parameters": {
                  "Environment": {
                    "parameter": "Environment"
                  },
                  "Company": {
                    "parameter": "Company"
                  },
                  "SystemId": {
                    "parameter": "SystemId"
                  },
                  "table": {
                    "parameter": "table"
                  },
                  "fields": {
                    "parameter": "fields"
                  }
                },
                "value-path": "schema"
              },
              "x-ms-dynamic-properties": {
                "operationId": "GetReadRequestByIdSchemaForId",
                "parameters": {
                  "Environment": {
                    "parameterReference": "Environment"
                  },
                  "Company": {
                    "parameterReference": "Company"
                  },
                  "SystemId": {
                    "parameterReference": "SystemId"
                  },
                  "body/table": {
                    "parameterReference": "body/table"
                  },
                  "body/fields": {
                    "parameterReference": "body/fields"
                  }
                },
                "itemValuePath": "schema"
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/get/complex": {
      "post": {
        "operationId": "GetDataRaw",
        "summary": "Get Data (Complex)",
        "tags": [
          "data"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Get data from Business Central with a raw JSON request",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request",
            "x-ms-summary": "Request",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "description": "Response",
              "x-ms-summary": "Response",
              "title": "Response",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetReadRequestSchema",
                "parameters": {
                  "Environment": {
                    "parameter": "Environment"
                  },
                  "Company": {
                    "parameter": "Company"
                  },
                  "body": {
                    "parameter": "body"
                  }
                },
                "value-path": "schema"
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/insert": {
      "post": {
        "operationId": "CreateData",
        "summary": "Insert Data",
        "description": "Insert data into a specific Business Central table",
        "tags": [
          "data"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request",
            "x-ms-summary": "Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRequest"
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Response",
              "type": "object",
              "properties": {
                "SystemId": {
                  "title": "System Id",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/upsert": {
      "put": {
        "operationId": "UpsertData",
        "summary": "Upsert Data",
        "description": "Upsert data into a specific Business Central table",
        "tags": [
          "data"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request",
            "x-ms-summary": "Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRequest"
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Response",
              "type": "object",
              "properties": {
                "SystemId": {
                  "title": "System Id",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/insert/complex": {
      "post": {
        "operationId": "CreateDataComplex",
        "summary": "Insert Data (Complex)",
        "description": "Insert data into a specific Business Central table",
        "tags": [
          "data"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "JSON Object",
            "description": "The raw JSON CreateRequest object"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Response",
              "type": "object",
              "properties": {
                "SystemId": {
                  "title": "System Id",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/upsert/complex": {
      "put": {
        "operationId": "UpsertDataComplex",
        "summary": "Upsert Data (Complex)",
        "description": "Upsert data into a specific Business Central table",
        "tags": [
          "data"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "JSON Object",
            "description": "The raw JSON CreateRequest object"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Response",
              "type": "object",
              "properties": {
                "SystemId": {
                  "title": "System Id",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/insert/bulk": {
      "post": {
        "operationId": "CreateDataBulk",
        "summary": "Insert Data Bulk",
        "description": "Insert multiple records into Business Central",
        "tags": [
          "data",
          "bulk"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "title": "CreateRequests",
              "type": "array",
              "items": {
                "title": "CreateRequest",
                "type": "object"
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "CreateRequest",
            "description": "An array of raw Create Requests"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Responses",
              "type": "array",
              "items": {
                "title": "System Id",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/upsert/bulk": {
      "put": {
        "operationId": "UpsertDataBulk",
        "summary": "Upsert Data (Bulk)",
        "description": "Upsert multiple records into Business Central",
        "tags": [
          "data",
          "bulk"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "title": "CreateRequests",
              "type": "array",
              "items": {
                "title": "CreateRequest",
                "type": "object"
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "CreateRequest",
            "description": "An array of raw Create Requests"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "title": "Responses",
              "type": "array",
              "items": {
                "title": "System Id",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/update": {
      "patch": {
        "operationId": "UpdateData",
        "summary": "Update Data",
        "description": "Update a record in Business Central for a specific table",
        "tags": [
          "data"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRequest"
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/update/complex": {
      "patch": {
        "operationId": "UpdateDataComplex",
        "summary": "Update Data Complex",
        "description": "Update a record in Business Central for a specific table",
        "tags": [
          "data"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "JSON Object",
            "description": "The raw JSON UpdateRequest object"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/update/bulk": {
      "patch": {
        "operationId": "UpdateDataBulk",
        "summary": "Update Data Bulk",
        "description": "Update multiple records in Business Central",
        "tags": [
          "data",
          "bulk"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Language"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "title": "UpdateRequests",
              "type": "array",
              "items": {
                "title": "UpdateRequest",
                "type": "object"
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "UpdateRequest",
            "description": "An array of raw Update Requests"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/delete/{Table}/{SystemId}": {
      "delete": {
        "operationId": "DeleteData",
        "summary": "Delete Data",
        "description": "Delete data from Business Central by it's unique id",
        "tags": [
          "data"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/TablePath"
          },
          {
            "$ref": "#/parameters/SystemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/flowdata/delete/bulk": {
      "post": {
        "operationId": "DeleteDataBulk",
        "summary": "Delete Data Bulk",
        "description": "Delete multiple records in Business Central",
        "tags": [
          "data",
          "bulk"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "title": "DeleteRequests",
              "type": "array",
              "items": {
                "title": "DeleteRequest",
                "type": "object"
              }
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "DeleteRequest",
            "description": "An array of raw Delete Requests"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/TransformXml/{Configuration}": {
      "get": {
        "operationId": "GetXmlDocument",
        "deprecated": true,
        "summary": "Get Xml (deprecated)",
        "description": "Get data based on passed configuration and returns the data in (deprecated) the XML format set in the configuration",
        "tags": [
          "xml"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Configuration"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/TransformXml/{Configuration}/{SystemId}": {
      "get": {
        "operationId": "GetXmlDocumentById",
        "deprecated": true,
        "summary": "Get Xml by Id (deprecated)",
        "description": "Get data by SystemId based on passed configuration and returns the data in the XML format set in the configuration (deprecated)",
        "tags": [
          "xml"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Configuration"
          },
          {
            "$ref": "#/parameters/SystemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/TransformXml/{Configuration}/metadata": {
      "get": {
        "operationId": "GetXmlDocumentWithMetadata",
        "deprecated": true,
        "summary": "Get Xml with metadata (deprecated)",
        "description": "Get data with metadata based on passed configuration and returns the data in the XML format set in the configuration (deprecated)",
        "tags": [
          "xml"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Configuration"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/TransformXml/{Configuration}/metadata/{SystemId}": {
      "get": {
        "operationId": "GetXmlDocumentByIdWithMetadata",
        "deprecated": true,
        "summary": "Get Xml by Id with metadata (deprecated)",
        "description": "Get data by Id with metadata based on passed configuration and returns the data in the XML format set in the configuration (deprecated)",
        "tags": [
          "xml"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Configuration"
          },
          {
            "$ref": "#/parameters/SystemId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/TransformXml/{Configuration}/": {
      "post": {
        "operationId": "PostTransformXml",
        "deprecated": true,
        "summary": "Process Xml (deprecated)",
        "description": "Imports and transforms XML into Business Central data using a specific configuration (deprecated)",
        "tags": [
          "xml"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Configuration"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "data"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/TransformCsv/{Configuration}": {
      "get": {
        "operationId": "GetCsvDocument",
        "deprecated": true,
        "summary": "Get Csv (deprecated)",
        "description": "Get data based on passed configuration and returns the data in the CSV format set in the configuration (deprecated)",
        "tags": [
          "csv"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Configuration"
          },
          {
            "$ref": "#/parameters/CsvDelimiter"
          },
          {
            "$ref": "#/parameters/CsvHeaders"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/TransformCsv/{Configuration}/{SystemId}": {
      "get": {
        "operationId": "GetCsvDocumentById",
        "deprecated": true,
        "summary": "Get Csv by Id (deprecated)",
        "description": "Get data by SystemId based on passed configuration and returns the data in the CSV format set in the configuration (deprecated)",
        "tags": [
          "csv"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Configuration"
          },
          {
            "$ref": "#/parameters/SystemId"
          },
          {
            "$ref": "#/parameters/CsvDelimiter"
          },
          {
            "$ref": "#/parameters/CsvHeaders"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/TransformCsv/{Configuration}/metadata": {
      "get": {
        "operationId": "GetCsvDocumentWithMetadata",
        "deprecated": true,
        "summary": "Get Csv with metadata (deprecated)",
        "description": "Get data with metadata based on passed configuration and returns the data in the CSV format set in the configuration (deprecated)",
        "tags": [
          "csv"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Configuration"
          },
          {
            "$ref": "#/parameters/CsvDelimiter"
          },
          {
            "$ref": "#/parameters/CsvHeaders"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/TransformCsv/{Configuration}/metadata/{SystemId}": {
      "get": {
        "operationId": "GetCsvDocumentByIdWithMetadata",
        "deprecated": true,
        "summary": "Get Csv by Id with metadata (deprecated)",
        "description": "Get data by Id with metadata based on passed configuration and returns the data in the CSV format set in the configuration (deprecated)",
        "tags": [
          "csv"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Configuration"
          },
          {
            "$ref": "#/parameters/SystemId"
          },
          {
            "$ref": "#/parameters/CsvDelimiter"
          },
          {
            "$ref": "#/parameters/CsvHeaders"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/TransformCsv/{Configuration}/": {
      "post": {
        "operationId": "PostTransformCsv",
        "deprecated": true,
        "summary": "Process Csv (deprecated)",
        "description": "Imports and transforms CSV into Business Central data using a specific configuration (deprecated)",
        "tags": [
          "csv"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/Configuration"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "delimiter": {
                  "type": "string",
                  "maxLength": 1,
                  "x-ms-summary": "Delimiter",
                  "description": "The delimiter to be used to seperate the columns"
                },
                "skipheaderlines": {
                  "type": "integer",
                  "x-ms-summary": "Skip Header Lines",
                  "description": "Set how many header lines you wish to skip",
                  "x-ms-visibility": "advanced"
                },
                "skipfooterlines": {
                  "type": "integer",
                  "x-ms-summary": "Skip Footer Lines",
                  "description": "Set how many footer lines you wish to skip",
                  "x-ms-visibility": "advanced"
                },
                "useheaders": {
                  "type": "boolean",
                  "x-ms-summary": "Use Headers",
                  "description": "If set headers are used in the CSV",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "string",
                  "description": "The CSV data you wish to process",
                  "x-ms-summary": "Csv Data"
                }
              },
              "required": [
                "delimiter",
                "data"
              ]
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {}
          },
          "400": {
            "$ref": "#/responses/Unexpected"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/responses/InvalidLicense"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "500": {
            "$ref": "#/responses/Unexpected"
          }
        }
      }
    },
    "/api/1.0/tables/{Table}/fields": {
      "get": {
        "operationId": "GetFields",
        "summary": "Get the fields of a table",
        "description": "Get the fields of a table in Business Central",
        "tags": [
          "helpers"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/Environment"
          },
          {
            "$ref": "#/parameters/Company"
          },
          {
            "$ref": "#/parameters/TablePath"
          },
          {
            "name": "$contains",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Contains",
            "description": "A partial text value that the fieldname should contain"
          },
          {
            "name": "$fieldtypes",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Field Types",
            "description": "A pipe ( | ) separated list of filters used to retrieve only specific field types"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "fieldtype": {
                    "type": "string",
                    "description": "Field Type"
                  },
                  "length": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Length"
                  },
                  "keyposition": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Key Position"
                  },
                  "default": {
                    "type": "boolean",
[...]
