{
  "swagger": "2.0",
  "info": {
    "title": "AcceptMission",
    "description": "Accept Mission AI-Powered Innovation Platform\n\nUnlock the full potential of innovation directly within your Power Platform apps and flows using the Accept Mission custom connector. This connector allows you to seamlessly integrate with Accept Mission's AI-driven innovation software to launch idea campaigns, collect and manage ideas, and streamline innovation workflows.",
    "version": "1.0",
    "contact": {
      "name": "Accept Mission Support",
      "url": "https://acceptmission.com",
      "email": "support@acceptmission.com"
    }
  },
  "host": "app.acceptmission.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/general/v1/categories": {
      "get": {
        "description": "This is the GET operation for Categories",
        "operationId": "Getcategories",
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "description": "position"
                      },
                      "chip_color": {
                        "type": "string",
                        "description": "chip_color"
                      },
                      "sync_id": {
                        "type": "string",
                        "description": "sync_id"
                      },
                      "resource_url": {
                        "type": "string",
                        "description": "resource_url"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Categories",
        "tags": ["Categories"]
      },
      "post": {
        "description": "This is the POST operation for /general/v1/categories",
        "operationId": "Postcategories",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "chip_color": {
                  "type": "string",
                  "description": "chip_color"
                },
                "missions_id": {
                  "type": "string",
                  "description": "missions_id"
                },
                "company_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "company_id"
                },
                "image": {
                  "type": "string",
                  "description": "image"
                },
                "user_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "user_id"
                },
                "temp_image": {
                  "type": "string",
                  "description": "temp_image"
                },
                "main_image": {
                  "type": "string",
                  "description": "main_image"
                },
                "image_configs": {
                  "type": "string",
                  "description": "image_configs"
                },
                "owner_id": {
                  "type": "string",
                  "description": "owner_id"
                },
                "updated_by": {
                  "type": "string",
                  "description": "updated_by"
                },
                "record_url": {
                  "type": "string",
                  "description": "record_url"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "chip_color": {
                  "type": "string",
                  "description": "chip_color"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                },
                "resource_url": {
                  "type": "string",
                  "description": "resource_url"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Create Category",
        "tags": ["Categories"]
      }
    },
    "/general/v1/categories/{id}": {
      "get": {
        "description": "This is the GET operation for Category",
        "operationId": "Getcategories_id",
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "chip_color": {
                  "type": "string",
                  "description": "chip_color"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                },
                "resource_url": {
                  "type": "string",
                  "description": "resource_url"
                }
              }
            }
          }
        },
        "summary": "Show Category",
        "tags": ["Categories"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "description": "This is the DELETE operation for Category",
        "operationId": "Deletecategories_id",
        "responses": {
          "204": {
            "description": "Successful"
          }
        },
        "summary": "Delete Category",
        "tags": ["Categories"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "description": "This is the PUT operation for /general/v1/categories/{id}",
        "operationId": "Putcategories_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "chip_color": {
                  "type": "string",
                  "description": "chip_color"
                },
                "missions_id": {
                  "type": "string",
                  "description": "missions_id"
                },
                "company_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "company_id"
                },
                "image": {
                  "type": "string",
                  "description": "image"
                },
                "user_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "user_id"
                },
                "temp_image": {
                  "type": "string",
                  "description": "temp_image"
                },
                "main_image": {
                  "type": "string",
                  "description": "main_image"
                },
                "image_configs": {
                  "type": "string",
                  "description": "image_configs"
                },
                "owner_id": {
                  "type": "string",
                  "description": "owner_id"
                },
                "updated_by": {
                  "type": "string",
                  "description": "updated_by"
                },
                "record_url": {
                  "type": "string",
                  "description": "record_url"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fully Updated",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "chip_color": {
                  "type": "string",
                  "description": "chip_color"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                },
                "resource_url": {
                  "type": "string",
                  "description": "resource_url"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Fully Update Category",
        "tags": ["Categories"]
      },
      "patch": {
        "description": "This is the PATCH operation for /general/v1/categories/{id}",
        "operationId": "Patchcategories_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Partially Updated",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "chip_color": {
                  "type": "string",
                  "description": "chip_color"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                },
                "resource_url": {
                  "type": "string",
                  "description": "resource_url"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Partially Update Category",
        "tags": ["Categories"]
      }
    },
    "/general/v1/departments": {
      "get": {
        "description": "This is the GET operation for Departments",
        "operationId": "Getdepartments",
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "description": "position"
                      },
                      "slug": {
                        "type": "string",
                        "description": "slug"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "updated_at"
                      },
                      "ideas_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ideas_count"
                      },
                      "projects_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "projects_count"
                      },
                      "deleted_at": {
                        "type": "string",
                        "description": "deleted_at"
                      },
                      "sync_id": {
                        "type": "string",
                        "description": "sync_id"
                      },
                      "resource_url": {
                        "type": "string",
                        "description": "resource_url"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Departments",
        "tags": ["Departments"]
      },
      "post": {
        "description": "This is the POST operation for /general/v1/departments",
        "operationId": "Postdepartments",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Department Created Successfully",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "slug": {
                  "type": "string",
                  "description": "slug"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "deleted_at"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                },
                "resource_url": {
                  "type": "string",
                  "description": "resource_url"
                }
              }
            }
          }
        },
        "summary": "Create Department",
        "tags": ["Departments"]
      }
    },
    "/general/v1/departments/{id}": {
      "get": {
        "description": "This is the GET operation for Department",
        "operationId": "Getdepartments_id",
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "slug": {
                  "type": "string",
                  "description": "slug"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "deleted_at"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                },
                "resource_url": {
                  "type": "string",
                  "description": "resource_url"
                }
              }
            }
          }
        },
        "summary": "Show Department",
        "tags": ["Departments"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "description": "This is the DELETE operation for Department",
        "operationId": "Deletedepartments_id",
        "responses": {
          "204": {
            "description": "Successful"
          }
        },
        "summary": "Delete Department",
        "tags": ["Departments"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "description": "This is the PUT operation for /general/v1/departments/{id}",
        "operationId": "Putdepartments_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "company_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "company_id"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                },
                "image": {
                  "type": "string",
                  "description": "image"
                },
                "user_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "user_id"
                },
                "temp_image": {
                  "type": "string",
                  "description": "temp_image"
                },
                "main_image": {
                  "type": "string",
                  "description": "main_image"
                },
                "image_configs": {
                  "type": "string",
                  "description": "image_configs"
                },
                "owner_id": {
                  "type": "string",
                  "description": "owner_id"
                },
                "updated_by": {
                  "type": "string",
                  "description": "updated_by"
                },
                "record_url": {
                  "type": "string",
                  "description": "record_url"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Department Fully Updated",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "slug": {
                  "type": "string",
                  "description": "slug"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "deleted_at"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                },
                "resource_url": {
                  "type": "string",
                  "description": "resource_url"
                }
              }
            }
          }
        },
        "summary": "Fully Update Department",
        "tags": ["Departments"]
      },
      "patch": {
        "description": "This is the PATCH operation for /general/v1/departments/{id}",
        "operationId": "Patchdepartments_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Department Partially Updated",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "slug": {
                  "type": "string",
                  "description": "slug"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "deleted_at"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                },
                "resource_url": {
                  "type": "string",
                  "description": "resource_url"
                }
              }
            }
          }
        },
        "summary": "Partially Update Department",
        "tags": ["Departments"]
      }
    },
    "/general/v1/funnel_lanes": {
      "get": {
        "description": "This is the GET operation for Funnel Lanes",
        "operationId": "Getfunnel_lanes",
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "funnel_stage_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "funnel_stage_type"
                      },
                      "stage_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "stage_type"
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
                      },
                      "deadline": {
                        "type": "string",
                        "description": "deadline"
                      },
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "description": "position"
                      },
                      "user_id": {
                        "type": "string",
                        "description": "user_id"
                      },
                      "modified_by": {
                        "type": "string",
                        "description": "modified_by"
                      },
                      "funnel_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "funnel_id"
                      },
                      "deleted_at": {
                        "type": "string",
                        "description": "deleted_at"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "updated_at"
                      },
                      "funnel_status_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "funnel_status_id"
                      },
                      "owner_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "owner_id"
                      },
                      "enable_notification": {
                        "type": "boolean",
                        "description": "enable_notification"
                      },
                      "ideas_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ideas_count"
                      },
                      "projects_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "projects_count"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Funnel Lanes",
        "tags": ["Funnel Lanes"]
      },
      "post": {
        "description": "This is the POST operation for /general/v1/funnel_lanes",
        "operationId": "Postfunnel_lanes",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "funnel_stage_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_stage_type"
                },
                "stage_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "stage_type"
                },
                "color": {
                  "type": "string",
                  "description": "color"
                },
                "deadline": {
                  "type": "string",
                  "description": "deadline"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "user_id": {
                  "type": "string",
                  "description": "user_id"
                },
                "modified_by": {
                  "type": "string",
                  "description": "modified_by"
                },
                "funnel_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_id"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "deleted_at"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "funnel_status_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_status_id"
                },
                "owner_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "owner_id"
                },
                "enable_notification": {
                  "type": "boolean",
                  "description": "enable_notification"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Create Funnel Lane",
        "tags": ["Funnel Lanes"]
      }
    },
    "/general/v1/funnel_lanes/{id}": {
      "get": {
        "description": "This is the GET operation for Funnel Lane",
        "operationId": "Getfunnel_lanes_id",
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "funnel_stage_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_stage_type"
                },
                "stage_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "stage_type"
                },
                "color": {
                  "type": "string",
                  "description": "color"
                },
                "deadline": {
                  "type": "string",
                  "description": "deadline"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "user_id": {
                  "type": "string",
                  "description": "user_id"
                },
                "modified_by": {
                  "type": "string",
                  "description": "modified_by"
                },
                "funnel_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_id"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "deleted_at"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "funnel_status_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_status_id"
                },
                "owner_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "owner_id"
                },
                "enable_notification": {
                  "type": "boolean",
                  "description": "enable_notification"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                }
              }
            }
          }
        },
        "summary": "Show Funnel Lane",
        "tags": ["Funnel Lanes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "description": "This is the DELETE operation for Funnel Lane",
        "operationId": "Deletefunnel_lanes_id",
        "responses": {
          "204": {
            "description": "Successful"
          }
        },
        "summary": "Delete Funnel Lane",
        "tags": ["Funnel Lanes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "description": "This is the PUT operation for /general/v1/funnel_lanes/{id}",
        "operationId": "Putfunnel_lanes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "funnel_stage_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_stage_type"
                },
                "stage_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "stage_type"
                },
                "color": {
                  "type": "string",
                  "description": "color"
                },
                "deadline": {
                  "type": "integer",
                  "format": "int32",
                  "description": "deadline"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "user_id": {
                  "type": "string",
                  "description": "user_id"
                },
                "modified_by": {
                  "type": "string",
                  "description": "modified_by"
                },
                "funnel_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_id"
                },
                "funnel_status_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_status_id"
                },
                "owner_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "owner_id"
                },
                "enable_notification": {
                  "type": "boolean",
                  "description": "enable_notification"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "link": {
                  "type": "string",
                  "description": "link"
                },
                "file": {
                  "type": "string",
                  "description": "file"
                },
                "show_in_graph": {
                  "type": "boolean",
                  "description": "show_in_graph"
                },
                "show_in_bubble": {
                  "type": "boolean",
                  "description": "show_in_bubble"
                },
                "confetti_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "confetti_type"
                },
                "automation_owner_id": {
                  "type": "string",
                  "description": "automation_owner_id"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Fully Updated",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "funnel_stage_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_stage_type"
                },
                "stage_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "stage_type"
                },
                "color": {
                  "type": "string",
                  "description": "color"
                },
                "deadline": {
                  "type": "string",
                  "description": "deadline"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "user_id": {
                  "type": "string",
                  "description": "user_id"
                },
                "modified_by": {
                  "type": "string",
                  "description": "modified_by"
                },
                "funnel_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_id"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "deleted_at"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "funnel_status_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_status_id"
                },
                "owner_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "owner_id"
                },
                "enable_notification": {
                  "type": "boolean",
                  "description": "enable_notification"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Fully Update Funnel Lane",
        "tags": ["Funnel Lanes"]
      },
      "patch": {
        "description": "This is the PATCH operation for /general/v1/funnel_lanes/{id}",
        "operationId": "Patchfunnel_lanes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Partially Updated",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "funnel_stage_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_stage_type"
                },
                "stage_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "stage_type"
                },
                "color": {
                  "type": "string",
                  "description": "color"
                },
                "deadline": {
                  "type": "string",
                  "description": "deadline"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "user_id": {
                  "type": "string",
                  "description": "user_id"
                },
                "modified_by": {
                  "type": "string",
                  "description": "modified_by"
                },
                "funnel_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_id"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "deleted_at"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "funnel_status_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_status_id"
                },
                "owner_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "owner_id"
                },
                "enable_notification": {
                  "type": "boolean",
                  "description": "enable_notification"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity"
          }
        },
        "summary": "Partially Update Funnel Lane",
        "tags": ["Funnel Lanes"]
      }
    },
    "/general/v1/funnels": {
      "get": {
        "description": "This is the GET operation for Funnels",
        "operationId": "Getfunnels",
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "user_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "user_id"
                      },
                      "funnel_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "funnel_type"
                      },
                      "modified_by": {
                        "type": "integer",
                        "format": "int32",
                        "description": "modified_by"
                      },
                      "deleted_at": {
                        "type": "string",
                        "description": "deleted_at"
                      },
                      "privacy_setting": {
                        "type": "integer",
                        "format": "int32",
                        "description": "privacy_setting"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "updated_at"
                      },
                      "owner_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "owner_id"
                      },
                      "block_funnel_notification": {
                        "type": "boolean",
                        "description": "block_funnel_notification"
                      },
                      "ideas_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ideas_count"
                      },
                      "projects_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "projects_count"
                      },
                      "sync_id": {
                        "type": "string",
                        "description": "sync_id"
                      },
                      "resource_url": {
                        "type": "string",
                        "description": "resource_url"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Funnels",
        "tags": ["Funnels"]
      },
      "post": {
        "description": "This is the POST operation for /general/v1/funnels",
        "operationId": "Postfunnels",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "funnel_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_type"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Successful"
          }
        },
        "summary": "Create Funnel",
        "tags": ["Funnels"]
      }
    },
    "/general/v1/funnels/{id}": {
      "get": {
        "description": "This is the GET operation for Funnel",
        "operationId": "Getfunnels_id",
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "user_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "user_id"
                },
                "funnel_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_type"
                },
                "modified_by": {
                  "type": "integer",
                  "format": "int32",
                  "description": "modified_by"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "deleted_at"
                },
                "privacy_setting": {
                  "type": "integer",
                  "format": "int32",
                  "description": "privacy_setting"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "owner_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "owner_id"
                },
                "block_funnel_notification": {
                  "type": "boolean",
                  "description": "block_funnel_notification"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                },
                "resource_url": {
                  "type": "string",
                  "description": "resource_url"
                }
              }
            }
          }
        },
        "summary": "Show Funnel",
        "tags": ["Funnels"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "description": "This is the DELETE operation for Funnel",
        "operationId": "Deletefunnels_id",
        "responses": {
          "204": {
            "description": "Successful"
          }
        },
        "summary": "Delete Funnel",
        "tags": ["Funnels"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "description": "This is the PUT operation for /general/v1/funnels/{id}",
        "operationId": "Putfunnels_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "company_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "company_id"
                },
                "user_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "user_id"
                },
                "funnel_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_type"
                },
                "modified_by": {
                  "type": "integer",
                  "format": "int32",
                  "description": "modified_by"
                },
                "privacy_setting": {
                  "type": "integer",
                  "format": "int32",
                  "description": "privacy_setting"
                },
                "owner_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "owner_id"
                },
                "block_funnel_notification": {
                  "type": "boolean",
                  "description": "block_funnel_notification"
                },
                "ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ideas_count"
                },
                "projects_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "projects_count"
                },
                "hidden": {
                  "type": "boolean",
                  "description": "hidden"
                },
                "set_x_axis": {
                  "type": "string",
                  "description": "set_x_axis"
                },
                "set_y_axis": {
                  "type": "string",
                  "description": "set_y_axis"
                },
                "set_z_axis": {
                  "type": "string",
                  "description": "set_z_axis"
                },
                "set_axis_color": {
                  "type": "string",
                  "description": "set_axis_color"
                },
                "department_id": {
                  "type": "string",
                  "description": "department_id"
                },
                "project_funnel_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "project_funnel_id"
                },
                "from_script": {
                  "type": "string",
                  "description": "from_script"
                },
                "user_privacy_setting": {
                  "type": "integer",
                  "format": "int32",
                  "description": "user_privacy_setting"
                },
                "include_in_dashboard": {
                  "type": "boolean",
                  "description": "include_in_dashboard"
                },
                "record_url": {
                  "type": "string",
                  "description": "record_url"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          }
        },
        "summary": "Update Funnel",
        "tags": ["Funnels"]
      },
      "patch": {
        "description": "This is the PATCH operation for /general/v1/funnels/{id}",
        "operationId": "Patchfunnels_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "funnel_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_type"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "funnel_type": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_type"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                },
                "resource_url": {
                  "type": "string",
                  "description": "resource_url"
                }
              }
            }
          }
        },
        "summary": "Update Funnel",
        "tags": ["Funnels"]
      }
    },
    "/general/v1/ideas": {
      "get": {
        "description": "This is the GET operation for Ideas",
        "operationId": "Getideas",
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "user_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "user_id"
                      },
                      "round_id": {
                        "type": "string",
                        "description": "round_id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "content": {
                        "type": "string",
                        "description": "content"
                      },
                      "image": {
                        "type": "string",
                        "description": "image"
                      },
                      "tags_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "tags_count"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "updated_at"
                      },
                      "deleted_at": {
                        "type": "string",
                        "description": "deleted_at"
                      },
                      "stage": {
                        "type": "integer",
                        "format": "int32",
                        "description": "stage"
                      },
                      "department_id": {
                        "type": "string",
                        "description": "department_id"
                      },
                      "status_id": {
                        "type": "string",
                        "description": "status_id"
                      },
                      "state": {
                        "type": "string",
                        "description": "state"
                      },
                      "country": {
                        "type": "string",
                        "description": "country"
                      },
                      "position": {
                        "type": "string",
                        "description": "position"
                      },
                      "project_id": {
                        "type": "string",
                        "description": "project_id"
                      },
                      "creator_name": {
                        "type": "string",
                        "description": "creator_name"
                      },
                      "idea_likes_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "idea_likes_count"
                      },
                      "comments_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "comments_count"
                      },
                      "mission_id": {
                        "type": "string",
                        "description": "mission_id"
                      },
                      "board_id": {
                        "type": "string",
                        "description": "board_id"
                      },
                      "funnel_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "funnel_id"
                      },
                      "funnel_stage_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "funnel_stage_id"
                      },
                      "idea_views": {
                        "type": "string",
                        "description": "idea_views"
                      },
                      "funnel_status_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "funnel_status_id"
                      },
                      "profit": {
                        "type": "string",
                        "description": "profit"
                      },
                      "cost": {
                        "type": "string",
                        "description": "cost"
                      },
                      "revenue": {
                        "type": "string",
                        "description": "revenue"
                      },
                      "status_name": {
                        "type": "string",
                        "description": "status_name"
                      },
                      "approved_at": {
                        "type": "string",
                        "description": "approved_at"
                      },
                      "denied_at": {
                        "type": "string",
                        "description": "denied_at"
                      },
                      "reason_text": {
                        "type": "string",
                        "description": "reason_text"
                      },
                      "category_text": {
                        "type": "string",
                        "description": "category_text"
                      },
                      "tag_text": {
                        "type": "string",
                        "description": "tag_text"
                      },
                      "sync_id": {
                        "type": "string",
                        "description": "sync_id"
                      },
                      "resource_url": {
                        "type": "string",
                        "description": "resource_url"
                      },
                      "description_enriched": {
                        "type": "string",
                        "description": "description_enriched"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Ideas",
        "tags": ["Ideas"]
      },
      "post": {
        "description": "This is the POST operation for /general/v1/ideas",
        "operationId": "Postideas",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "funnel_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_id"
                },
                "mission_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "mission_id"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Idea Created"
          },
          "422": {
            "description": "Invalid Request"
          }
        },
        "summary": "Create an Idea",
        "tags": ["Ideas"]
      }
    },
    "/general/v1/ideas/{idea_id}/tasks": {
      "get": {
        "description": "This is the GET operation for idea",
        "operationId": "Getideas_idea_id_tasks",
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "idea_id": {
                        "type": "string",
                        "description": "idea_id"
                      },
                      "project_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "project_id"
                      },
                      "user_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "user_id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "phase": {
                        "type": "string",
                        "description": "phase"
                      },
                      "due_date": {
                        "type": "string",
                        "description": "due_date"
                      },
                      "duration": {
                        "type": "string",
                        "description": "duration"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "status": {
                        "type": "integer",
                        "format": "int32",
                        "description": "status"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "updated_at"
                      },
                      "scheduled_job_id": {
                        "type": "string",
                        "description": "scheduled_job_id"
                      },
                      "owner_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "owner_id"
                      },
                      "time_spent": {
                        "type": "string",
                        "description": "time_spent"
                      },
                      "estimated_duration": {
                        "type": "string",
                        "description": "estimated_duration"
                      },
                      "funnel_stage_id": {
                        "type": "string",
                        "description": "funnel_stage_id"
                      },
                      "deadline_timer": {
                        "type": "string",
                        "description": "deadline_timer"
                      },
                      "start_date": {
                        "type": "string",
                        "description": "start_date"
                      },
                      "sync_id": {
                        "type": "string",
                        "description": "sync_id"
                      },
                      "resource_url": {
                        "type": "string",
                        "description": "resource_url"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "list tasks for idea",
        "tags": ["tasks"],
        "parameters": [
          {
            "name": "idea_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Idea ID",
            "description": "Unique identifier for the idea",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "description": "This is the POST operation for /general/v1/ideas/{idea_id}/tasks",
        "operationId": "Postideas_idea_id_tasks",
        "parameters": [
          {
            "name": "idea_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Idea ID",
            "description": "Unique identifier for the idea",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "idea_id": {
                  "type": "string",
                  "description": "idea_id"
                },
                "project_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "project_id"
                },
                "user_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "user_id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "phase": {
                  "type": "string",
                  "description": "phase"
                },
                "due_date": {
                  "type": "string",
                  "description": "due_date"
                },
                "duration": {
                  "type": "string",
                  "description": "duration"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "scheduled_job_id": {
                  "type": "string",
                  "description": "scheduled_job_id"
                },
                "owner_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "owner_id"
                },
                "time_spent": {
                  "type": "string",
                  "description": "time_spent"
                },
                "estimated_duration": {
                  "type": "string",
                  "description": "estimated_duration"
                },
                "funnel_stage_id": {
                  "type": "string",
                  "description": "funnel_stage_id"
                },
                "deadline_timer": {
                  "type": "string",
                  "description": "deadline_timer"
                },
                "start_date": {
                  "type": "string",
                  "description": "start_date"
                },
                "sync_id": {
                  "type": "string",
                  "description": "sync_id"
                },
                "resource_url": {
                  "type": "string",
                  "description": "resource_url"
                }
              }
            }
          }
        },
        "summary": "create task under idea",
        "tags": ["tasks"]
      }
    },
    "/general/v1/ideas/{id}": {
      "get": {
        "description": "This is the GET operation for Idea",
        "operationId": "Getideas_id",
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "user_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "user_id"
                },
                "round_id": {
                  "type": "string",
                  "description": "round_id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "image": {
                  "type": "string",
                  "description": "image"
                },
                "tags_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "tags_count"
                },
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "updated_at": {
                  "type": "string",
                  "description": "updated_at"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "deleted_at"
                },
                "stage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "stage"
                },
                "department_id": {
                  "type": "string",
                  "description": "department_id"
                },
                "status_id": {
                  "type": "string",
                  "description": "status_id"
                },
                "state": {
                  "type": "string",
                  "description": "state"
                },
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "position": {
                  "type": "integer",
                  "format": "int32",
                  "description": "position"
                },
                "project_id": {
                  "type": "string",
                  "description": "project_id"
                },
                "creator_name": {
                  "type": "string",
                  "description": "creator_name"
                },
                "idea_likes_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "idea_likes_count"
                },
                "comments_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "comments_count"
                },
                "mission_id": {
                  "type": "string",
                  "description": "mission_id"
                },
                "board_id": {
                  "type": "string",
                  "description": "board_id"
                },
                "funnel_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_id"
                },
                "funnel_stage_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_stage_id"
                },
                "idea_views": {
                  "type": "integer",
                  "format": "int32",
                  "description": "idea_views"
                },
                "funnel_status_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "funnel_status_id"
                },
                "profit": {
                  "type": "string",
                  "description": "profit"
                },
                "cost": {
                  "type": "string",
                  "description": "cost"
                },
                "revenue": {
                  "type": "string",
                  "description": "revenue"
                },
                "status_name": {
                  "type": "string",
                  "description": "status_name"
                },
                "approved_at": {
                  "type": "string",
                  "description": "approved_at"
                },
                "denied_at": {
                  "type": "string",
                  "description": "denied_at"
                },
                "reason_text": {
                  "type": "string",
                  "description": "reason_text"
                },
                "category_text": {
                  "type": "string",
                  "description": "category_text"
                },
                "tag_text": {
                  "type": "string",
                  "description": "tag_text"
                }
              }
            }
          }
        },
        "summary": "Show Idea",
        "tags": ["Ideas"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "description": "This is the DELETE operation for Idea",
        "operationId": "Deleteideas_id",
        "responses": {
          "204": {
            "description": "Successful"
          }
        },
        "summary": "Delete Idea",
        "tags": ["Ideas"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "description": "This is the PUT operation for /general/v1/ideas/{id}",
        "operationId": "Putideas_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "ID",
            "description": "Unique identifier for the resource",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "user_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "user_id"
                },
                "round_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "round_id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "image": {
                  "type": "string",
                  "description": "image"
                },
                "device": {
                  "type": "string",
                  "description": "device"
                },
                "browser": {
                  "type": "string",
                  "description": "browser"
                },
                "address": {
                  "type": "string",
                  "description": "address"
                },
                "city": {
                  "type": "string",
                  "description": "city"
                },
                "state": {
                  "type": "string",
                  "description": "state"
                },
                "postal_code": {
                  "type": "string",
                  "description": "postal_code"
                },
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "screen_res": {
                  "type": "string",
                  "description": "screen_res"
                },
                "user_ip": {
                  "type": "string",
                  "description": "user_ip"
                },
                "comments_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "comments_count"
                },
                "review_scores_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "review_scores_count"
                },
                "slug": {
                  "type": "string",
                  "description": "slug"
                },
                "stage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "stage"
                },
                "department_id": {
                  "type": "string",
                  "description": "department_id"
                },
                "status_id": {
                  "type": "string",
                  "description": "status_id"
                },
                "position": {
                  "type": "string",
                  "description": "position"
                },
                "project_id": {
                  "type": "string",
                  "description": "project_id"
                },
                "idea_creator": {
                  "type": "string",
                  "description": "idea_creator"
                },
                "ideation_idea_category_id": {
                  "type": "string",
                  "description": "ideation_idea_category_id"
                },
                "board_idea_category_id": {
                  "type": "string",
                  "description": "board_idea_category_id"
                },
                "company_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "company_id"
                },
                "idea_likes_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "idea_likes_count"
                },
                "bookmark": {
                  "type": "boolean",
                  "description": "bookmark"
                },
                "data": {
                  "type": "object",
                  "properties": {},
                  "description": "data"
                },
                "idea_scores_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "idea_scores_count"
                },
                "likes_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "likes_count"
                },
                "board_id": {
                  "type": "string",
                  "description": "board_id"
                },
                "mission_id": {
                  "type": "string",
                  "description": "mission_id"
                },
                "creator_name": {
                  "type": "string",
                  "description": "creator_name"
                },
                "tags_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "tags_count"
                },
                "funnel_id": {
                  "type": "string",
                  "description": "funnel_id"
                },
                "funnel_stage_id": {
                  "type": "string",
                  "description": "funnel_stage_id"
                },
                "funnel_status_id": {
                  "type": "string",
                  "description": "funnel_status_id"
                },
                "idea_deadline": {
                  "type": "string",
                  "description": "idea_deadline"
                },
                "deadline_notification": {
                  "type": "boolean",
                  "description": "deadline_notification"
                },
                "idea_views": {
                  "type": "integer",
                  "format": "int32",
                  "description": "idea_views"
                },
                "revenue": {
                  "type": "string",
                  "description": "revenue"
                },
                "cost": {
                  "type": "string",
                  "description": "cost"
                },
                "profit": {
                  "type": "string",
                  "description": "profit"
                },
                "status_name": {
                  "type": "string",
                  "description": "status_name"
                },
                "idea_scores": {
                  "type": "string",
                  "description": "idea_scores"
                },
                "approved_at": {
                  "type": "string",
                  "description": "approved_at"
                },
                "denied_at": {
                  "type": "string",
                  "description": "denied_at"
                },
                "admin_comments": {
                  "type": "string",
                  "description": "admin_comments"
                },
                "is_child": {
                  "type": "boolean",
                  "description": "is_child"
                },
                "parent_id": {
                  "type": "string",
                  "description": "parent_id"
                },
                "temp_image": {
                  "type": "string",
                  "description": "temp_image"
                },
                "main_image": {
                  "type": "string",
                  "description": "main_image"
                },
                "image_configs": {
                  "type": "string",
                  "description": "image_configs"
                },
                "score_complete_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "score_complete_score"
                },
                "enrichment_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "enrichment_score"
                },
                "engagement_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "engagement_score"
                },
                "opportunity_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "opportunity_score"
                },
                "trend_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "trend_score"
                },
                "cleaned_text": {
                  "type": "string",
                  "description": "cleaned_text"
                },
                "duplicate_ideas_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "duplicate_ideas_count"
                },
                "sidekiq_duplicate_ideas_count": {
                  "type": "string",
                  "description": "sidekiq_duplicate_ideas_count"
                },
                "ai_created": {
                  "type": "string",
                  "description": "ai_created"
[...]
