{
  "swagger": "2.0",
  "info": {
    "title": "Linkly",
    "description": "Linkly is a link shortener and click tracker. Create branded short links with custom domains, add UTM parameters and retargeting pixels, report conversions, and pull click analytics grouped by country, platform, referrer or campaign.",
    "version": "1.0",
    "contact": {
      "name": "Linkly Support",
      "url": "https://linklyhq.com/support",
      "email": "support@linklyhq.com"
    }
  },
  "host": "api.linklyhq.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/conversions": {
      "get": {
        "summary": "List conversions",
        "description": "Returns the most recent conversions recorded in the workspace.",
        "operationId": "ListConversions",
        "parameters": [
          {
            "description": "The maximum number of conversions to return, between 1 and 1000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer",
            "x-example": 100,
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "conversions": {
                  "items": {
                    "properties": {
                      "amount_cents": {
                        "type": "integer",
                        "x-ms-summary": "Amount (Cents)",
                        "description": "The value in the smallest currency unit. May be negative to record a refund."
                      },
                      "click_id": {
                        "type": "string",
                        "x-ms-summary": "Click ID",
                        "description": "The ID of the attributed click."
                      },
                      "country": {
                        "type": "string",
                        "x-ms-summary": "Country",
                        "description": "A two-letter ISO 3166-1 country code, for example US."
                      },
                      "currency": {
                        "type": "string",
                        "x-ms-summary": "Currency",
                        "description": "The ISO 4217 currency code. Defaults to USD."
                      },
                      "event_id": {
                        "type": "string",
                        "x-ms-summary": "Event ID",
                        "description": "Your identifier for the event. Reporting the same value twice does not create a second conversion."
                      },
                      "event_name": {
                        "type": "string",
                        "x-ms-summary": "Event Name",
                        "description": "What happened, for example purchase, signup or trial_started."
                      },
                      "event_type": {
                        "type": "string",
                        "x-ms-summary": "Event Type",
                        "description": "The coarse event type. Use lead to establish customer identity and sale to record revenue. Defaults to custom."
                      },
                      "external_id": {
                        "type": "string",
                        "x-ms-summary": "Customer ID",
                        "description": "Your identifier for the customer. Send it on every event so later sales can be linked to the original click."
                      },
                      "id": {
                        "description": "The unique identifier of the link.",
                        "type": "string",
                        "x-ms-summary": "ID"
                      },
                      "inserted_at": {
                        "format": "date-time",
                        "type": "string",
                        "x-ms-summary": "Inserted At",
                        "description": "When the conversion was recorded."
                      },
                      "ip_source": {
                        "description": "Whose address was recorded, either visitor or server.",
                        "enum": [
                          "visitor",
                          "server",
                          "unknown"
                        ],
                        "type": "string",
                        "x-ms-summary": "IP Source"
                      },
                      "link_id": {
                        "description": "The ID of a single link to filter by.",
                        "type": "integer",
                        "x-ms-summary": "Link ID"
                      },
                      "metadata": {
                        "type": "object",
                        "x-ms-summary": "Metadata",
                        "description": "Arbitrary JSON metadata, up to 10,000 bytes.",
                        "properties": {}
                      },
                      "occurred_at": {
                        "format": "date-time",
                        "type": "string",
                        "x-ms-summary": "Occurred At",
                        "description": "When the conversion happened, in ISO 8601 format. Defaults to now."
                      },
                      "source": {
                        "description": "Which integration reported the conversion.",
                        "type": "string",
                        "x-ms-summary": "Source"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array",
                  "x-ms-summary": "Conversions",
                  "description": "The conversions, most recent first."
                }
              },
              "type": "object"
            }
          }
        }
      },
      "post": {
        "summary": "Report a conversion",
        "description": "Records a conversion such as a purchase, sign-up or custom event, and attributes it to the link that was clicked when an attribution token is supplied.",
        "operationId": "CreateConversion",
        "parameters": [
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "description": "The conversion to record.",
              "properties": {
                "amount_cents": {
                  "description": "The value in the smallest currency unit. May be negative to record a refund.",
                  "type": "integer",
                  "x-ms-summary": "Amount (Cents)"
                },
                "country": {
                  "description": "A two-letter ISO 3166-1 country code, for example US.",
                  "type": "string",
                  "x-ms-summary": "Country",
                  "x-ms-visibility": "advanced"
                },
                "currency": {
                  "description": "The ISO 4217 currency code. Defaults to USD.",
                  "type": "string",
                  "x-ms-summary": "Currency"
                },
                "event_id": {
                  "description": "Your identifier for the event. Reporting the same value twice does not create a second conversion.",
                  "type": "string",
                  "x-ms-summary": "Event ID"
                },
                "event_name": {
                  "description": "What happened, for example purchase, signup or trial_started.",
                  "type": "string",
                  "x-ms-summary": "Event Name"
                },
                "event_type": {
                  "description": "The coarse event type. Use lead to establish customer identity and sale to record revenue. Defaults to custom.",
                  "enum": [
                    "lead",
                    "sale",
                    "custom"
                  ],
                  "type": "string",
                  "x-ms-summary": "Event Type"
                },
                "external_id": {
                  "description": "Your identifier for the customer. Send it on every event so later sales can be linked to the original click.",
                  "type": "string",
                  "x-ms-summary": "Customer ID"
                },
                "linkly_cid": {
                  "description": "The linkly_cid attribution token captured from the landing page URL. Omit if unavailable.",
                  "type": "string",
                  "x-ms-summary": "Attribution Token"
                },
                "metadata": {
                  "description": "Arbitrary JSON metadata, up to 10,000 bytes.",
                  "type": "object",
                  "x-ms-summary": "Metadata",
                  "x-ms-visibility": "advanced",
                  "properties": {}
                },
                "occurred_at": {
                  "description": "When the conversion happened, in ISO 8601 format. Defaults to now.",
                  "format": "date-time",
                  "type": "string",
                  "x-ms-summary": "Occurred At",
                  "x-ms-visibility": "advanced"
                },
                "visitor_ip": {
                  "description": "The end customer IP address, when your server has it.",
                  "type": "string",
                  "x-ms-summary": "Visitor IP",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "event_name"
              ],
              "type": "object"
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "amount_cents": {
                  "type": "integer",
                  "x-ms-summary": "Amount (Cents)",
                  "description": "The value in the smallest currency unit. May be negative to record a refund."
                },
                "click_id": {
                  "type": "string",
                  "x-ms-summary": "Click ID",
                  "description": "The ID of the attributed click."
                },
                "country": {
                  "type": "string",
                  "x-ms-summary": "Country",
                  "description": "A two-letter ISO 3166-1 country code, for example US."
                },
                "currency": {
                  "type": "string",
                  "x-ms-summary": "Currency",
                  "description": "The ISO 4217 currency code. Defaults to USD."
                },
                "event_id": {
                  "type": "string",
                  "x-ms-summary": "Event ID",
                  "description": "Your identifier for the event. Reporting the same value twice does not create a second conversion."
                },
                "event_name": {
                  "type": "string",
                  "x-ms-summary": "Event Name",
                  "description": "What happened, for example purchase, signup or trial_started."
                },
                "event_type": {
                  "type": "string",
                  "x-ms-summary": "Event Type",
                  "description": "The coarse event type. Use lead to establish customer identity and sale to record revenue. Defaults to custom."
                },
                "external_id": {
                  "type": "string",
                  "x-ms-summary": "Customer ID",
                  "description": "Your identifier for the customer. Send it on every event so later sales can be linked to the original click."
                },
                "id": {
                  "description": "The unique identifier of the link.",
                  "type": "string",
                  "x-ms-summary": "ID"
                },
                "inserted_at": {
                  "format": "date-time",
                  "type": "string",
                  "x-ms-summary": "Inserted At",
                  "description": "When the conversion was recorded."
                },
                "ip_source": {
                  "description": "Whose address was recorded, either visitor or server.",
                  "enum": [
                    "visitor",
                    "server",
                    "unknown"
                  ],
                  "type": "string",
                  "x-ms-summary": "IP Source"
                },
                "link_id": {
                  "description": "The ID of a single link to filter by.",
                  "type": "integer",
                  "x-ms-summary": "Link ID"
                },
                "metadata": {
                  "type": "object",
                  "x-ms-summary": "Metadata",
                  "description": "Arbitrary JSON metadata, up to 10,000 bytes.",
                  "properties": {}
                },
                "occurred_at": {
                  "format": "date-time",
                  "type": "string",
                  "x-ms-summary": "Occurred At",
                  "description": "When the conversion happened, in ISO 8601 format. Defaults to now."
                },
                "source": {
                  "description": "Which integration reported the conversion.",
                  "type": "string",
                  "x-ms-summary": "Source"
                }
              },
              "type": "object"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "properties": {
                "amount_cents": {
                  "type": "integer",
                  "x-ms-summary": "Amount (Cents)",
                  "description": "The value in the smallest currency unit. May be negative to record a refund."
                },
                "click_id": {
                  "type": "string",
                  "x-ms-summary": "Click ID",
                  "description": "The ID of the attributed click."
                },
                "country": {
                  "type": "string",
                  "x-ms-summary": "Country",
                  "description": "A two-letter ISO 3166-1 country code, for example US."
                },
                "currency": {
                  "type": "string",
                  "x-ms-summary": "Currency",
                  "description": "The ISO 4217 currency code. Defaults to USD."
                },
                "event_id": {
                  "type": "string",
                  "x-ms-summary": "Event ID",
                  "description": "Your identifier for the event. Reporting the same value twice does not create a second conversion."
                },
                "event_name": {
                  "type": "string",
                  "x-ms-summary": "Event Name",
                  "description": "What happened, for example purchase, signup or trial_started."
                },
                "event_type": {
                  "type": "string",
                  "x-ms-summary": "Event Type",
                  "description": "The coarse event type. Use lead to establish customer identity and sale to record revenue. Defaults to custom."
                },
                "external_id": {
                  "type": "string",
                  "x-ms-summary": "Customer ID",
                  "description": "Your identifier for the customer. Send it on every event so later sales can be linked to the original click."
                },
                "id": {
                  "description": "The unique identifier of the link.",
                  "type": "string",
                  "x-ms-summary": "ID"
                },
                "inserted_at": {
                  "format": "date-time",
                  "type": "string",
                  "x-ms-summary": "Inserted At",
                  "description": "When the conversion was recorded."
                },
                "ip_source": {
                  "description": "Whose address was recorded, either visitor or server.",
                  "enum": [
                    "visitor",
                    "server",
                    "unknown"
                  ],
                  "type": "string",
                  "x-ms-summary": "IP Source"
                },
                "link_id": {
                  "description": "The ID of a single link to filter by.",
                  "type": "integer",
                  "x-ms-summary": "Link ID"
                },
                "metadata": {
                  "type": "object",
                  "x-ms-summary": "Metadata",
                  "description": "Arbitrary JSON metadata, up to 10,000 bytes.",
                  "properties": {}
                },
                "occurred_at": {
                  "format": "date-time",
                  "type": "string",
                  "x-ms-summary": "Occurred At",
                  "description": "When the conversion happened, in ISO 8601 format. Defaults to now."
                },
                "source": {
                  "description": "Which integration reported the conversion.",
                  "type": "string",
                  "x-ms-summary": "Source"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/link": {
      "post": {
        "summary": "Create or update a link",
        "description": "Creates a new short link, or updates an existing one when a link ID is supplied. Supports custom domains and slugs, UTM parameters, retargeting pixels, expiry rules and Open Graph metadata.",
        "operationId": "CreateOrUpdateLink",
        "parameters": [
          {
            "description": "The request body.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "description": "The link to create or update.",
              "properties": {
                "workspace_id": {
                  "description": "The ID of the workspace.",
                  "type": "integer",
                  "x-ms-summary": "Workspace ID"
                },
                "url": {
                  "description": "The destination URL that the short link redirects to.",
                  "format": "uri",
                  "type": "string",
                  "x-ms-summary": "Destination URL"
                },
                "id": {
                  "description": "The unique identifier of the link.",
                  "type": "integer",
                  "x-ms-summary": "ID"
                },
                "name": {
                  "description": "A nickname for the link, shown in the dashboard.",
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "domain": {
                  "description": "The custom domain to use for the short link, without a trailing slash.",
                  "type": "string",
                  "x-ms-summary": "Domain"
                },
                "slug": {
                  "description": "A custom path for the short link. It must start with a slash.",
                  "type": "string",
                  "x-ms-summary": "Slug"
                },
                "enabled": {
                  "description": "Whether the link is active.",
                  "type": "boolean",
                  "x-ms-summary": "Enabled"
                },
                "note": {
                  "description": "A private note about the link.",
                  "type": "string",
                  "x-ms-summary": "Note"
                },
                "utm_source": {
                  "description": "The utm_source parameter appended to the destination URL.",
                  "type": "string",
                  "x-ms-summary": "UTM Source"
                },
                "utm_medium": {
                  "description": "The utm_medium parameter appended to the destination URL.",
                  "type": "string",
                  "x-ms-summary": "UTM Medium"
                },
                "utm_campaign": {
                  "description": "The utm_campaign parameter appended to the destination URL.",
                  "type": "string",
                  "x-ms-summary": "UTM Campaign"
                },
                "utm_content": {
                  "description": "The utm_content parameter appended to the destination URL.",
                  "type": "string",
                  "x-ms-summary": "UTM Content",
                  "x-ms-visibility": "advanced"
                },
                "utm_term": {
                  "description": "The utm_term parameter appended to the destination URL.",
                  "type": "string",
                  "x-ms-summary": "UTM Term",
                  "x-ms-visibility": "advanced"
                },
                "fb_pixel_id": {
                  "description": "The Meta (Facebook) Pixel ID to fire when the link is clicked.",
                  "type": "string",
                  "x-ms-summary": "Meta Pixel ID"
                },
                "ga4_tag_id": {
                  "description": "The Google Analytics 4 measurement ID to fire when the link is clicked.",
                  "type": "string",
                  "x-ms-summary": "Google Analytics 4 Tag ID"
                },
                "gtm_id": {
                  "description": "The Google Tag Manager container ID to load when the link is clicked.",
                  "type": "string",
                  "x-ms-summary": "Google Tag Manager ID"
                },
                "block_bots": {
                  "description": "Whether to block known bots from following the link.",
                  "type": "boolean",
                  "x-ms-summary": "Block Bots",
                  "x-ms-visibility": "advanced"
                },
                "body_tags": {
                  "description": "Custom HTML or tracking tags inserted into the body of the redirect page.",
                  "type": "string",
                  "x-ms-summary": "Body Tags",
                  "x-ms-visibility": "advanced"
                },
                "cloaking": {
                  "description": "Whether to hide the destination by opening it inside a frame.",
                  "type": "boolean",
                  "x-ms-summary": "Cloaking",
                  "x-ms-visibility": "advanced"
                },
                "forward_params": {
                  "description": "Whether to forward query parameters from the short link to the destination.",
                  "type": "boolean",
                  "x-ms-summary": "Forward Parameters",
                  "x-ms-visibility": "advanced"
                },
                "head_tags": {
                  "description": "Custom HTML or tracking tags inserted into the head of the redirect page.",
                  "type": "string",
                  "x-ms-summary": "Head Tags",
                  "x-ms-visibility": "advanced"
                },
                "hide_referrer": {
                  "description": "Whether to hide the referrer from the destination site.",
                  "type": "boolean",
                  "x-ms-summary": "Hide Referrer",
                  "x-ms-visibility": "advanced"
                },
                "og_description": {
                  "description": "The description shown when the link is shared on social media.",
                  "type": "string",
                  "x-ms-summary": "Open Graph Description",
                  "x-ms-visibility": "advanced"
                },
                "og_image": {
                  "description": "The image URL shown when the link is shared on social media.",
                  "type": "string",
                  "x-ms-summary": "Open Graph Image",
                  "x-ms-visibility": "advanced"
                },
                "og_title": {
                  "description": "The title shown when the link is shared on social media.",
                  "type": "string",
                  "x-ms-summary": "Open Graph Title",
                  "x-ms-visibility": "advanced"
                },
                "tiktok_pixel_id": {
                  "description": "The TikTok Pixel ID to fire when the link is clicked.",
                  "type": "string",
                  "x-ms-summary": "TikTok Pixel ID",
                  "x-ms-visibility": "advanced"
                }
              },
              "type": "object",
              "required": [
                "workspace_id"
              ]
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "The link.",
              "properties": {
                "block_bots": {
                  "type": "boolean",
                  "x-ms-summary": "Block Bots",
                  "description": "Whether to block known bots from following the link."
                },
                "body_tags": {
                  "type": "string",
                  "x-ms-summary": "Body Tags",
                  "description": "Custom HTML or tracking tags inserted into the body of the redirect page."
                },
                "cloaking": {
                  "type": "boolean",
                  "x-ms-summary": "Cloaking",
                  "description": "Whether to hide the destination by opening it inside a frame."
                },
                "created_by_user_id": {
                  "type": "integer",
                  "x-ms-summary": "Created By User ID",
                  "description": "The ID of the user who created the link.",
                  "x-ms-visibility": "internal"
                },
                "deleted": {
                  "type": "boolean",
                  "x-ms-summary": "Deleted",
                  "description": "Whether to return links that are in the trash instead of active links."
                },
                "domain": {
                  "type": "string",
                  "x-ms-summary": "Domain",
                  "description": "The custom domain to use for the short link, without a trailing slash."
                },
                "enabled": {
                  "type": "boolean",
                  "x-ms-summary": "Enabled",
                  "description": "Whether the link is active."
                },
                "expiry_clicks": {
                  "type": "integer",
                  "x-ms-summary": "Expiry Clicks",
                  "description": "The number of clicks after which the link stops working."
                },
                "expiry_datetime": {
                  "type": "string",
                  "x-ms-summary": "Expiry Date",
                  "description": "When the link stops working, in ISO 8601 format."
                },
                "expiry_destination": {
                  "format": "uri",
                  "type": "string",
                  "x-ms-summary": "Expiry Destination",
                  "description": "The URL to redirect to after the link expires. Leave blank to return a not-found page."
                },
                "fb_pixel_id": {
                  "type": "string",
                  "x-ms-summary": "Meta Pixel ID",
                  "description": "The Meta (Facebook) Pixel ID to fire when the link is clicked."
                },
                "forward_params": {
                  "type": "boolean",
                  "x-ms-summary": "Forward Parameters",
                  "description": "Whether to forward query parameters from the short link to the destination."
                },
                "full_url": {
                  "format": "uri",
                  "type": "string",
                  "x-ms-summary": "Short URL",
                  "description": "The complete short link URL."
                },
                "ga4_tag_id": {
                  "type": "string",
                  "x-ms-summary": "Google Analytics 4 Tag ID",
                  "description": "The Google Analytics 4 measurement ID to fire when the link is clicked."
                },
                "gtm_id": {
                  "type": "string",
                  "x-ms-summary": "Google Tag Manager ID",
                  "description": "The Google Tag Manager container ID to load when the link is clicked."
                },
                "head_tags": {
                  "type": "string",
                  "x-ms-summary": "Head Tags",
                  "description": "Custom HTML or tracking tags inserted into the head of the redirect page."
                },
                "hide_referrer": {
                  "type": "boolean",
                  "x-ms-summary": "Hide Referrer",
                  "description": "Whether to hide the referrer from the destination site."
                },
                "id": {
                  "type": "integer",
                  "x-ms-summary": "ID",
                  "description": "The unique identifier of the link."
                },
                "linkedin_partner_id": {
                  "type": "string",
                  "x-ms-summary": "LinkedIn Partner ID",
                  "description": "The LinkedIn Insight Tag partner ID to fire when the link is clicked."
                },
                "linkify_words": {
                  "type": "string",
                  "x-ms-summary": "Linkify Words",
                  "description": "Words that are automatically turned into this link in supported integrations.",
                  "x-ms-visibility": "internal"
                },
                "microsoft_uet_tag_id": {
                  "type": "string",
                  "x-ms-summary": "Microsoft UET Tag ID",
                  "description": "The Microsoft Advertising UET tag ID to fire when the link is clicked."
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name",
                  "description": "A nickname for the link, shown in the dashboard."
                },
                "note": {
                  "type": "string",
                  "x-ms-summary": "Note",
                  "description": "A private note about the link."
                },
                "notify_slack": {
                  "type": "boolean",
                  "x-ms-summary": "Notify Slack",
                  "description": "Whether to send a Slack notification when the link is clicked."
                },
                "notify_user_ids": {
                  "items": {
                    "type": "integer"
                  },
                  "type": "array",
                  "x-ms-summary": "Notify User IDs",
                  "description": "The IDs of workspace users to notify when the link is clicked.",
                  "x-ms-visibility": "internal"
                },
                "og_description": {
                  "type": "string",
                  "x-ms-summary": "Open Graph Description",
                  "description": "The description shown when the link is shared on social media."
                },
                "og_image": {
                  "type": "string",
                  "x-ms-summary": "Open Graph Image",
                  "description": "The image URL shown when the link is shared on social media."
                },
                "og_title": {
                  "type": "string",
                  "x-ms-summary": "Open Graph Title",
                  "description": "The title shown when the link is shared on social media."
                },
                "password": {
                  "type": "string",
                  "x-ms-summary": "Password",
                  "description": "A password visitors must enter before being redirected.",
                  "x-ms-visibility": "internal"
                },
                "pinterest_tag_id": {
                  "type": "string",
                  "x-ms-summary": "Pinterest Tag ID",
                  "description": "The Pinterest Tag ID to fire when the link is clicked."
                },
                "public_analytics": {
                  "type": "boolean",
                  "x-ms-summary": "Public Analytics",
                  "description": "Whether the analytics page for the link is publicly viewable."
                },
                "qr_styles": {
                  "type": "object",
                  "x-ms-summary": "QR Styles",
                  "description": "The styling options for the QR code.",
                  "x-ms-visibility": "internal",
                  "properties": {}
                },
                "reddit_pixel_id": {
                  "type": "string",
                  "x-ms-summary": "Reddit Pixel ID",
                  "description": "The Reddit Pixel ID to fire when the link is clicked."
                },
                "replacements": {
                  "type": "string",
                  "x-ms-summary": "Replacements",
                  "description": "URL parameter replacement rules applied to the destination.",
                  "x-ms-visibility": "internal"
                },
                "rules": {
                  "items": {
                    "properties": {
                      "matches": {
                        "type": "string",
                        "x-ms-summary": "Matches",
                        "description": "The condition value the rule matches against."
                      },
                      "percentage": {
                        "type": "integer",
                        "x-ms-summary": "Percentage",
                        "description": "The percentage of traffic routed by the rule."
                      },
                      "url": {
                        "type": "string",
                        "x-ms-summary": "Destination URL",
                        "description": "The destination URL that the short link redirects to."
                      },
                      "what": {
                        "type": "string",
                        "x-ms-summary": "What",
                        "description": "The type of condition, for example country or platform."
                      }
                    },
                    "type": "object"
                  },
                  "type": "array",
                  "x-ms-summary": "Rules",
                  "description": "Conditional redirect rules applied to the link.",
                  "x-ms-visibility": "internal"
                },
                "skip_social_crawler_tracking": {
                  "type": "boolean",
                  "x-ms-summary": "Skip Social Crawler Tracking",
                  "description": "Whether to exclude social media preview crawlers from click tracking."
                },
                "slug": {
                  "type": "string",
                  "x-ms-summary": "Slug",
                  "description": "A custom path for the short link. It must start with a slash."
                },
                "snapchat_pixel_id": {
                  "type": "string",
                  "x-ms-summary": "Snapchat Pixel ID",
                  "description": "The Snapchat Pixel ID to fire when the link is clicked."
                },
                "tiktok_pixel_id": {
                  "type": "string",
                  "x-ms-summary": "TikTok Pixel ID",
                  "description": "The TikTok Pixel ID to fire when the link is clicked."
                },
                "twitter_pixel_id": {
                  "type": "string",
                  "x-ms-summary": "X Pixel ID",
                  "description": "The X (Twitter) Pixel ID to fire when the link is clicked."
                },
                "url": {
                  "format": "uri",
                  "type": "string",
                  "x-ms-summary": "Destination URL",
                  "description": "The destination URL that the short link redirects to."
                },
                "utm_campaign": {
                  "type": "string",
                  "x-ms-summary": "UTM Campaign",
                  "description": "The utm_campaign parameter appended to the destination URL."
                },
                "utm_content": {
                  "type": "string",
                  "x-ms-summary": "UTM Content",
                  "description": "The utm_content parameter appended to the destination URL."
                },
                "utm_medium": {
                  "type": "string",
                  "x-ms-summary": "UTM Medium",
                  "description": "The utm_medium parameter appended to the destination URL."
                },
                "utm_source": {
                  "type": "string",
                  "x-ms-summary": "UTM Source",
                  "description": "The utm_source parameter appended to the destination URL."
                },
                "utm_term": {
                  "type": "string",
                  "x-ms-summary": "UTM Term",
                  "description": "The utm_term parameter appended to the destination URL."
                },
                "webhooks": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array",
                  "x-ms-summary": "Webhooks",
                  "description": "The webhook URLs subscribed to clicks on this link."
                },
                "workspace_id": {
                  "type": "integer",
                  "x-ms-summary": "Workspace ID",
                  "description": "The ID of the workspace."
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/link/{id}": {
      "get": {
        "summary": "Get a link",
        "description": "Retrieves a single link by its ID, including its configuration and click statistics.",
        "operationId": "GetLink",
        "parameters": [
          {
            "description": "The unique identifier of the link.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "1454633",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "The ID of the workspace the link belongs to.",
            "in": "query",
            "name": "workspace_id",
            "required": true,
            "type": "string",
            "x-example": "42",
            "x-ms-summary": "Workspace ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "The link.",
              "properties": {
                "block_bots": {
                  "type": "boolean",
                  "x-ms-summary": "Block Bots",
                  "description": "Whether to block known bots from following the link."
                },
                "body_tags": {
                  "type": "string",
                  "x-ms-summary": "Body Tags",
                  "description": "Custom HTML or tracking tags inserted into the body of the redirect page."
                },
                "cloaking": {
                  "type": "boolean",
                  "x-ms-summary": "Cloaking",
                  "description": "Whether to hide the destination by opening it inside a frame."
                },
                "created_by_user_id": {
                  "type": "integer",
                  "x-ms-summary": "Created By User ID",
                  "description": "The ID of the user who created the link.",
                  "x-ms-visibility": "internal"
                },
                "deleted": {
                  "type": "boolean",
                  "x-ms-summary": "Deleted",
                  "description": "Whether to return links that are in the trash instead of active links."
                },
                "domain": {
                  "type": "string",
                  "x-ms-summary": "Domain",
                  "description": "The custom domain to use for the short link, without a trailing slash."
                },
                "enabled": {
                  "type": "boolean",
                  "x-ms-summary": "Enabled",
                  "description": "Whether the link is active."
                },
                "expiry_clicks": {
                  "type": "integer",
                  "x-ms-summary": "Expiry Clicks",
                  "description": "The number of clicks after which the link stops working."
                },
                "expiry_datetime": {
                  "type": "string",
                  "x-ms-summary": "Expiry Date",
                  "description": "When the link stops working, in ISO 8601 format."
                },
                "expiry_destination": {
                  "format": "uri",
                  "type": "string",
                  "x-ms-summary": "Expiry Destination",
                  "description": "The URL to redirect to after the link expires. Leave blank to return a not-found page."
                },
                "fb_pixel_id": {
                  "type": "string",
                  "x-ms-summary": "Meta Pixel ID",
                  "description": "The Meta (Facebook) Pixel ID to fire when the link is clicked."
                },
                "forward_params": {
                  "type": "boolean",
                  "x-ms-summary": "Forward Parameters",
                  "description": "Whether to forward query parameters from the short link to the destination."
                },
                "full_url": {
                  "format": "uri",
                  "type": "string",
                  "x-ms-summary": "Short URL",
                  "description": "The complete short link URL."
                },
                "ga4_tag_id": {
                  "type": "string",
                  "x-ms-summary": "Google Analytics 4 Tag ID",
                  "description": "The Google Analytics 4 measurement ID to fire when the link is clicked."
                },
                "gtm_id": {
                  "type": "string",
                  "x-ms-summary": "Google Tag Manager ID",
                  "description": "The Google Tag Manager container ID to load when the link is clicked."
                },
                "head_tags": {
                  "type": "string",
                  "x-ms-summary": "Head Tags",
                  "description": "Custom HTML or tracking tags inserted into the head of the redirect page."
                },
                "hide_referrer": {
                  "type": "boolean",
                  "x-ms-summary": "Hide Referrer",
                  "description": "Whether to hide the referrer from the destination site."
                },
                "id": {
                  "type": "integer",
                  "x-ms-summary": "ID",
                  "description": "The unique identifier of the link."
                },
                "linkedin_partner_id": {
                  "type": "string",
                  "x-ms-summary": "LinkedIn Partner ID",
                  "description": "The LinkedIn Insight Tag partner ID to fire when the link is clicked."
                },
                "linkify_words": {
                  "type": "string",
                  "x-ms-summary": "Linkify Words",
                  "description": "Words that are automatically turned into this link in supported integrations.",
                  "x-ms-visibility": "internal"
                },
                "microsoft_uet_tag_id": {
                  "type": "string",
                  "x-ms-summary": "Microsoft UET Tag ID",
                  "description": "The Microsoft Advertising UET tag ID to fire when the link is clicked."
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name",
                  "description": "A nickname for the link, shown in the dashboard."
                },
                "note": {
                  "type": "string",
                  "x-ms-summary": "Note",
                  "description": "A private note about the link."
                },
                "notify_slack": {
                  "type": "boolean",
                  "x-ms-summary": "Notify Slack",
                  "description": "Whether to send a Slack notification when the link is clicked."
                },
                "notify_user_ids": {
                  "items": {
                    "type": "integer"
                  },
                  "type": "array",
                  "x-ms-summary": "Notify User IDs",
                  "description": "The IDs of workspace users to notify when the link is clicked.",
                  "x-ms-visibility": "internal"
                },
                "og_description": {
                  "type": "string",
                  "x-ms-summary": "Open Graph Description",
                  "description": "The description shown when the link is shared on social media."
                },
                "og_image": {
                  "type": "string",
                  "x-ms-summary": "Open Graph Image",
                  "description": "The image URL shown when the link is shared on social media."
                },
                "og_title": {
                  "type": "string",
                  "x-ms-summary": "Open Graph Title",
                  "description": "The title shown when the link is shared on social media."
                },
                "password": {
                  "type": "string",
                  "x-ms-summary": "Password",
                  "description": "A password visitors must enter before being redirected.",
                  "x-ms-visibility": "internal"
                },
                "pinterest_tag_id": {
                  "type": "string",
                  "x-ms-summary": "Pinterest Tag ID",
                  "description": "The Pinterest Tag ID to fire when the link is clicked."
                },
                "public_analytics": {
                  "type": "boolean",
                  "x-ms-summary": "Public Analytics",
                  "description": "Whether the analytics page for the link is publicly viewable."
                },
                "qr_styles": {
                  "type": "object",
                  "x-ms-summary": "QR Styles",
                  "description": "The styling options for the QR code.",
                  "x-ms-visibility": "internal",
                  "properties": {}
                },
                "reddit_pixel_id": {
                  "type": "string",
                  "x-ms-summary": "Reddit Pixel ID",
                  "description": "The Reddit Pixel ID to fire when the link is clicked."
                },
                "replacements": {
                  "type": "string",
                  "x-ms-summary": "Replacements",
                  "description": "URL parameter replacement rules applied to the destination.",
                  "x-ms-visibility": "internal"
                },
                "rules": {
                  "items": {
                    "properties": {
                      "matches": {
                        "type": "string",
                        "x-ms-summary": "Matches",
                        "description": "The condition value the rule matches against."
                      },
                      "percentage": {
                        "type": "integer",
                        "x-ms-summary": "Percentage",
                        "description": "The percentage of traffic routed by the rule."
                      },
                      "url": {
                        "type": "string",
                        "x-ms-summary": "Destination URL",
                        "description": "The destination URL that the short link redirects to."
                      },
                      "what": {
                        "type": "string",
                        "x-ms-summary": "What",
                        "description": "The type of condition, for example country or platform."
                      }
                    },
                    "type": "object"
                  },
                  "type": "array",
                  "x-ms-summary": "Rules",
                  "description": "Conditional redirect rules applied to the link.",
                  "x-ms-visibility": "internal"
                },
                "skip_social_crawler_tracking": {
                  "type": "boolean",
                  "x-ms-summary": "Skip Social Crawler Tracking",
                  "description": "Whether to exclude social media preview crawlers from click tracking."
                },
                "slug": {
                  "type": "string",
                  "x-ms-summary": "Slug",
                  "description": "A custom path for the short link. It must start with a slash."
                },
                "snapchat_pixel_id": {
                  "type": "string",
                  "x-ms-summary": "Snapchat Pixel ID",
                  "description": "The Snapchat Pixel ID to fire when the link is clicked."
                },
                "tiktok_pixel_id": {
                  "type": "string",
                  "x-ms-summary": "TikTok Pixel ID",
                  "description": "The TikTok Pixel ID to fire when the link is clicked."
                },
                "twitter_pixel_id": {
                  "type": "string",
                  "x-ms-summary": "X Pixel ID",
                  "description": "The X (Twitter) Pixel ID to fire when the link is clicked."
                },
                "url": {
                  "format": "uri",
                  "type": "string",
                  "x-ms-summary": "Destination URL",
                  "description": "The destination URL that the short link redirects to."
                },
                "utm_campaign": {
                  "type": "string",
                  "x-ms-summary": "UTM Campaign",
                  "description": "The utm_campaign parameter appended to the destination URL."
                },
                "utm_content": {
                  "type": "string",
                  "x-ms-summary": "UTM Content",
                  "description": "The utm_content parameter appended to the destination URL."
                },
                "utm_medium": {
                  "type": "string",
                  "x-ms-summary": "UTM Medium",
                  "description": "The utm_medium parameter appended to the destination URL."
                },
                "utm_source": {
                  "type": "string",
                  "x-ms-summary": "UTM Source",
                  "description": "The utm_source parameter appended to the destination URL."
                },
                "utm_term": {
                  "type": "string",
                  "x-ms-summary": "UTM Term",
                  "description": "The utm_term parameter appended to the destination URL."
                },
                "webhooks": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array",
                  "x-ms-summary": "Webhooks",
                  "description": "The webhook URLs subscribed to clicks on this link."
                },
                "workspace_id": {
                  "type": "integer",
                  "x-ms-summary": "Workspace ID",
                  "description": "The ID of the workspace."
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/workspace/{workspace_id}/clicks": {
      "get": {
        "summary": "Get click analytics",
        "description": "Returns click counts over time for a workspace or for specific links, optionally filtered by date range, country, browser, platform, referrer or ISP.",
        "operationId": "GetClicks",
        "parameters": [
          {
            "description": "The ID of the workspace.",
            "in": "path",
            "name": "workspace_id",
            "required": true,
            "type": "string",
            "x-example": "42",
            "x-ms-summary": "Workspace ID",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "The ID of a single link to filter by.",
            "in": "query",
            "name": "link_id",
            "required": false,
            "type": "string",
            "x-example": "24",
            "x-ms-summary": "Link ID"
          },
          {
            "description": "A hyphen-separated list of link IDs to filter by.",
            "in": "query",
            "name": "link_ids",
            "required": false,
            "type": "string",
            "x-example": "24-25-26",
            "x-ms-summary": "Link IDs",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "The start of the date range, in YYYY-MM-DD format.",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "string",
            "x-ms-summary": "Start Date"
          },
          {
            "description": "The end of the date range, in YYYY-MM-DD format.",
            "in": "query",
            "name": "end",
            "required": false,
            "type": "string",
            "x-ms-summary": "End Date"
          },
          {
            "description": "A two-letter ISO 3166-1 country code, for example US.",
            "in": "query",
            "name": "country",
            "required": false,
            "type": "string",
            "x-ms-summary": "Country",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "A browser name to filter by, for example Chrome, Firefox or Safari.",
            "in": "query",
            "name": "browser",
            "required": false,
            "type": "string",
            "x-ms-summary": "Browser",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "A platform or operating system to filter by, for example Windows, Mac, iOS or Android.",
            "in": "query",
            "name": "platform",
            "required": false,
            "type": "string",
            "x-ms-summary": "Platform",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "A referring domain to filter by.",
            "in": "query",
            "name": "referer",
            "required": false,
            "type": "string",
            "x-ms-summary": "Referrer",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "An internet service provider name to filter by.",
            "in": "query",
            "name": "isp",
            "required": false,
            "type": "string",
            "x-ms-summary": "ISP",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Whether to include clicks identified as bots. Set to false to exclude them.",
            "in": "query",
            "name": "bots",
            "required": false,
            "type": "boolean",
            "x-example": "false",
            "x-ms-summary": "Include Bots",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Whether to count only unique clicks.",
            "in": "query",
            "name": "unique",
            "required": false,
            "type": "boolean",
            "x-example": "false",
            "x-ms-summary": "Unique Only",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "The IANA time zone used for date calculations, for example Europe/London.",
            "in": "query",
            "name": "timezone",
            "required": false,
            "type": "string",
            "x-example": "America/New_York",
            "x-ms-summary": "Time Zone",
            "x-ms-visibility": "advanced"
          },
          {
            "default": "day",
            "description": "The granularity of the time series, either day or hour.",
            "enum": [
              "day",
              "hour"
            ],
            "in": "query",
            "name": "frequency",
            "required": false,
            "type": "string",
            "x-ms-summary": "Frequency",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "The click counts over time.",
              "properties": {
                "traffic": {
                  "items": {
                    "description": "A single time bucket.",
                    "properties": {
                      "t": {
                        "format": "date",
                        "type": "string",
                        "x-ms-summary": "Date",
                        "description": "The date or time bucket."
                      },
                      "y": {
                        "type": "integer",
                        "x-ms-summary": "Clicks",
                        "description": "The number of clicks in the bucket."
                      }
                    },
                    "type": "object"
                  },
                  "type": "array",
                  "x-ms-summary": "Traffic",
                  "description": "The click counts over time."
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/workspace/{workspace_id}/clicks/counters/{counter}": {
      "get": {
        "summary": "Get click counts by dimension",
        "description": "Returns click counts grouped by a dimension such as country, city, platform, referrer or UTM parameter, ordered by count descending.",
        "operationId": "GetClickCounters",
        "parameters": [
          {
            "description": "The ID of the workspace.",
            "in": "path",
            "name": "workspace_id",
            "required": true,
            "type": "string",
            "x-example": "42",
            "x-ms-summary": "Workspace ID",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "The dimension to group clicks by.",
            "enum": [
              "country",
              "city",
              "region",
              "platform",
              "destination",
              "referer",
              "bot_name",
              "isp",
              "link_id",
              "remote_ip",
              "top_params",
              "ad_network",
              "utm_source",
              "utm_medium",
              "utm_campaign",
              "utm_content",
              "utm_term"
            ],
            "in": "path",
            "name": "counter",
            "required": true,
            "type": "string",
            "x-ms-summary": "Dimension",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "The ID of a single link to filter by.",
            "in": "query",
            "name": "link_id",
            "required": false,
            "type": "string",
            "x-example": "24",
            "x-ms-summary": "Link ID"
          },
          {
            "description": "A hyphen-separated list of link IDs to filter by.",
            "in": "query",
            "name": "link_ids",
            "required": false,
            "type": "string",
            "x-example": "24-25-26",
            "x-ms-summary": "Link IDs",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "The start of the date range, in YYYY-MM-DD format.",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "string",
            "x-ms-summary": "Start Date"
          },
          {
            "description": "The end of the date range, in YYYY-MM-DD format.",
            "in": "query",
            "name": "end",
            "required": false,
            "type": "string",
            "x-ms-summary": "End Date"
          },
          {
            "description": "A two-letter ISO 3166-1 country code, for example US.",
            "in": "query",
            "name": "country",
            "required": false,
            "type": "string",
            "x-ms-summary": "Country",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Whether to include clicks identified as bots. Set to false to exclude them.",
            "in": "query",
            "name": "bots",
            "required": false,
            "type": "boolean",
            "x-example": "false",
            "x-ms-summary": "Include Bots",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Whether to count only unique clicks.",
            "in": "query",
            "name": "unique",
            "required": false,
            "type": "boolean",
            "x-example": "false",
            "x-ms-summary": "Unique Only",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "The grouped click counts.",
              "properties": {
                "total": {
                  "description": "The total number of clicks across all groups.",
                  "type": "integer",
                  "x-ms-summary": "Total"
                },
                "values": {
                  "description": "The grouped counts, ordered by count descending.",
                  "items": {
                    "properties": {
                      "count": {
                        "type": "integer",
                        "x-ms-summary": "Count",
                        "description": "The number of clicks for this value."
                      },
                      "value": {
                        "type": "string",
                        "x-ms-summary": "Value",
                        "description": "The value of the dimension, for example a country code."
                      }
                    },
                    "type": "object"
                  },
                  "maxItems": 10000,
                  "type": "array",
                  "x-ms-summary": "Values"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/workspace/{workspace_id}/domains": {
      "get": {
        "summary": "List custom domains",
        "description": "Returns the custom domains configured for a workspace. These domain names can be used when creating links.",
        "operationId": "ListDomains",
        "parameters": [
          {
            "description": "The ID of the workspace.",
            "in": "path",
            "name": "workspace_id",
            "required": true,
            "type": "string",
            "x-example": "42",
            "x-ms-summary": "Workspace ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "List of custom domains configured for a workspace.",
              "properties": {
                "domains": {
                  "items": {
                    "description": "A custom domain in a workspace.",
                    "properties": {
                      "name": {
                        "type": "string",
                        "x-ms-summary": "Name",
                        "description": "A nickname for the link, shown in the dashboard."
                      }
                    },
                    "type": "object"
                  },
                  "type": "array",
                  "x-ms-summary": "Domains",
                  "description": "The custom domains in the workspace."
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/workspace/{workspace_id}/links/{id}": {
      "delete": {
        "summary": "Delete a link",
        "description": "Permanently deletes a single link from a workspace.",
        "operationId": "DeleteLink",
        "parameters": [
          {
            "description": "The ID of the workspace.",
            "in": "path",
            "name": "workspace_id",
            "required": true,
            "type": "string",
            "x-example": "42",
            "x-ms-summary": "Workspace ID",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "The unique identifier of the link.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 24,
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "message": {
                  "type": "string",
                  "x-ms-summary": "Message",
                  "description": "A confirmation message."
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/workspace/{workspace_id}/list_links": {
      "get": {
        "summary": "List links",
        "description": "Returns a paginated list of the links in a workspace, with click statistics. Supports search and sorting.",
        "operationId": "ListLinks",
        "parameters": [
          {
            "description": "The ID of the workspace.",
            "in": "path",
            "name": "workspace_id",
            "required": true,
            "type": "string",
            "x-example": "42",
            "x-ms-summary": "Workspace ID",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "A search term to filter links by name, URL or slug.",
            "in": "query",
            "name": "search",
            "required": false,
            "type": "string",
            "x-example": "test",
            "x-ms-summary": "Search"
          },
          {
            "default": 1,
            "description": "The page number to return, starting at 1.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "default": 1000,
            "description": "The number of links to return per page.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page Size"
          },
          {
            "description": "The field to sort by, for example clicks_total, name or inserted_at.",
            "in": "query",
            "name": "sort_by",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sort By",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "The sort direction, either asc or desc.",
            "in": "query",
            "items": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string"
            },
            "name": "sort_dir",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sort Direction",
            "x-ms-visibility": "advanced"
          },
          {
            "default": false,
            "description": "Whether to return links that are in the trash instead of active links.",
            "in": "query",
            "name": "deleted",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Deleted",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "Paginated list of links in a workspace, with click statistics.",
              "properties": {
                "links": {
                  "items": {
                    "description": "A link with click statistics, as returned by workspace link endpoints.",
                    "properties": {
                      "block_bots": {
                        "type": "boolean",
                        "x-ms-summary": "Block Bots",
                        "description": "Whether to block known bots from following the link."
                      },
                      "body_tags": {
                        "type": "string",
                        "x-ms-summary": "Body Tags",
                        "description": "Custom HTML or tracking tags inserted into the body of the redirect page."
                      },
                      "clicks_thirty_days": {
                        "description": "Clicks in the last 30 days, including bot traffic.",
                        "type": "integer",
                        "x-ms-summary": "Clicks (30 Days)"
                      },
                      "clicks_today": {
                        "description": "Clicks so far today (UTC), including bot traffic.",
                        "type": "integer",
                        "x-ms-summary": "Clicks Today"
                      },
                      "clicks_total": {
                        "description": "Lifetime clicks, including bot traffic.",
                        "type": "integer",
                        "x-ms-summary": "Total Clicks"
                      },
                      "cloaking": {
                        "type": "boolean",
                        "x-ms-summary": "Cloaking",
                        "description": "Whether to hide the destination by opening it inside a frame."
                      },
                      "deleted": {
                        "type": "boolean",
                        "x-ms-summary": "Deleted",
                        "description": "Whether to return links that are in the trash instead of active links."
                      },
                      "domain": {
                        "type": "string",
                        "x-ms-summary": "Domain",
                        "description": "The custom domain to use for the short link, without a trailing slash."
                      },
                      "enabled": {
                        "type": "boolean",
                        "x-ms-summary": "Enabled",
                        "description": "Whether the link is active."
                      },
                      "fb_pixel_id": {
                        "type": "string",
                        "x-ms-summary": "Meta Pixel ID",
                        "description": "The Meta (Facebook) Pixel ID to fire when the link is clicked."
                      },
                      "forward_params": {
                        "type": "boolean",
                        "x-ms-summary": "Forward Parameters",
                        "description": "Whether to forward query parameters from the short link to the destination."
                      },
                      "full_url": {
                        "format": "uri",
                        "type": "string",
                        "x-ms-summary": "Short URL",
                        "description": "The complete short link URL."
                      },
                      "ga4_tag_id": {
                        "type": "string",
                        "x-ms-summary": "Google Analytics 4 Tag ID",
                        "description": "The Google Analytics 4 measurement ID to fire when the link is clicked."
                      },
                      "gtm_id": {
                        "type": "string",
                        "x-ms-summary": "Google Tag Manager ID",
                        "description": "The Google Tag Manager container ID to load when the link is clicked."
                      },
                      "head_tags": {
                        "type": "string",
                        "x-ms-summary": "Head Tags",
                        "description": "Custom HTML or tracking tags inserted into the head of the redirect page."
                      },
                      "hide_referrer": {
                        "type": "boolean",
                        "x-ms-summary": "Hide Referrer",
                        "description": "Whether to hide the referrer from the destination site."
                      },
                      "human_clicks_previous_day": {
                        "description": "Clicks yesterday (UTC) with no bot signal.",
                        "type": "integer",
                        "x-ms-summary": "Human Clicks Yesterday"
                      },
                      "human_clicks_thirty_days": {
                        "description": "Clicks in the last 30 days with no bot signal.",
                        "type": "integer",
                        "x-ms-summary": "Human Clicks (30 Days)"
                      },
                      "human_clicks_today": {
                        "description": "Clicks so far today (UTC) with no bot signal.",
                        "type": "integer",
                        "x-ms-summary": "Human Clicks Today"
                      },
                      "human_clicks_total": {
                        "description": "Lifetime clicks with no bot signal.",
                        "type": "integer",
                        "x-ms-summary": "Human Clicks Total"
                      },
                      "id": {
                        "type": "integer",
                        "x-ms-summary": "ID",
                        "description": "The unique identifier of the link."
                      },
                      "linkify_words": {
                        "type": "string",
                        "x-ms-summary": "Linkify Words",
                        "description": "Words that are automatically turned into this link in supported integrations.",
                        "x-ms-visibility": "internal"
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "Name",
                        "description": "A nickname for the link, shown in the dashboard."
                      },
                      "note": {
                        "type": "string",
                        "x-ms-summary": "Note",
                        "description": "A private note about the link."
                      },
                      "og_description": {
                        "type": "string",
                        "x-ms-summary": "Open Graph Description",
                        "description": "The description shown when the link is shared on social media."
                      },
                      "og_image": {
                        "type": "string",
                        "x-ms-summary": "Open Graph Image",
                        "description": "The image URL shown when the link is shared on social media."
                      },
                      "og_title": {
                        "type": "string",
                        "x-ms-summary": "Open Graph Title",
                        "description": "The title shown when the link is shared on social media."
                      },
                      "public_analytics": {
                        "type": "boolean",
                        "x-ms-summary": "Public Analytics",
                        "description": "Whether the analytics page for the link is publicly viewable."
                      },
                      "replacements": {
                        "type": "string",
                        "x-ms-summary": "Replacements",
                        "description": "URL parameter replacement rules applied to the destination.",
                        "x-ms-visibility": "internal"
                      },
                      "rules": {
                        "items": {
                          "properties": {
                            "matches": {
                              "type": "string",
                              "x-ms-summary": "Matches",
                              "description": "The condition value the rule matches against."
                            },
                            "percentage": {
                              "type": "integer",
                              "x-ms-summary": "Percentage",
                              "description": "The percentage of traffic routed by the rule."
                            },
                            "url": {
                              "type": "string",
                              "x-ms-summary": "Destination URL",
                              "description": "The destination URL that the short link redirects to."
                            },
                            "what": {
                              "type": "string",
                              "x-ms-summary": "What",
                              "description": "The type of condition, for example country or platform."
                            }
                          },
                          "type": "object"
                        },
                        "type": "array",
                        "x-ms-summary": "Rules",
                        "description": "Conditional redirect rules applied to the link.",
                        "x-ms-visibility": "internal"
                      },
                      "slug": {
                        "type": "string",
                        "x-ms-summary": "Slug",
                        "description": "A custom path for the short link. It must start with a slash."
                      },
                      "sparkline": {
                        "description": "Daily human clicks over the last 30 days, oldest first.",
                        "items": {
                          "type": "integer"
                        },
                        "type": "array",
                        "x-ms-summary": "Sparkline",
                        "x-ms-visibility": "internal"
                      },
                      "tiktok_pixel_id": {
                        "type": "string",
                        "x-ms-summary": "TikTok Pixel ID",
                        "description": "The TikTok Pixel ID to fire when the link is clicked."
                      },
                      "url": {
                        "format": "uri",
                        "type": "string",
                        "x-ms-summary": "Destination URL",
                        "description": "The destination URL that the short link redirects to."
                      },
                      "utm_campaign": {
                        "type": "string",
                        "x-ms-summary": "UTM Campaign",
                        "description": "The utm_campaign parameter appended to the destination URL."
                      },
                      "utm_content": {
                        "type": "string",
                        "x-ms-summary": "UTM Content",
                        "description": "The utm_content parameter appended to the destination URL."
                      },
                      "utm_medium": {
                        "type": "string",
                        "x-ms-summary": "UTM Medium",
                        "description": "The utm_medium parameter appended to the destination URL."
                      },
                      "utm_source": {
                        "type": "string",
                        "x-ms-summary": "UTM Source",
                        "description": "The utm_source parameter appended to the destination URL."
                      },
                      "utm_term": {
                        "type": "string",
                        "x-ms-summary": "UTM Term",
                        "description": "The utm_term parameter appended to the destination URL."
                      },
                      "workspace_id": {
                        "type": "integer",
                        "x-ms-summary": "Workspace ID",
                        "description": "The ID of the workspace."
                      }
                    },
                    "type": "object"
                  },
                  "type": "array",
                  "x-ms-summary": "Links",
                  "description": "The links on this page."
                },
                "page_number": {
                  "type": "integer",
                  "x-ms-summary": "Page Number",
                  "description": "The current page number."
                },
                "page_size": {
                  "type": "integer",
                  "x-ms-summary": "Page Size",
                  "description": "The number of links to return per page."
                },
                "total_entries": {
                  "type": "integer",
                  "x-ms-summary": "Total Entries",
                  "description": "The total number of links matching the request."
                },
                "total_pages": {
                  "type": "integer",
                  "x-ms-summary": "Total Pages",
                  "description": "The total number of pages available."
                },
                "total_rows": {
                  "type": "integer",
                  "x-ms-summary": "Total Rows",
                  "description": "The total number of rows."
                },
                "workspace_link_count": {
                  "type": "integer",
                  "x-ms-summary": "Workspace Link Count",
                  "description": "The total number of links in the workspace."
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "summary": "List workspaces",
        "description": "Returns every workspace the API key can access. Use it to find the workspace ID that other actions require.",
        "operationId": "ListWorkspaces",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "The unique identifier of the link.",
                    "type": "integer",
                    "x-ms-summary": "ID"
                  },
                  "name": {
                    "description": "A nickname for the link, shown in the dashboard.",
                    "type": "string",
                    "x-ms-summary": "Name"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://linklyhq.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://linklyhq.com/support/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Website"
    }
  ]
}
