{
  "swagger": "2.0",
  "info": {
    "title": "Kroki",
    "description": "Kroki provides a service to create diagrams from textual descriptions.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "kroki.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{library}/{output}": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Create a diagram",
        "description": "Creates a diagram of specified type using your description and format choice.",
        "operationId": "DiagramPost",
        "parameters": [
          {
            "name": "library",
            "in": "path",
            "x-ms-summary": "Library",
            "x-ms-url-encoding": "single",
            "description": "The library to use to create the diagram.",
            "required": true,
            "type": "string",
            "enum": [
              "graphviz",
              "blockdiag",
              "seqdiag",
              "actdiag",
              "nwdiag",
              "packetdiag",
              "rackdiag",
              "pihchr",
              "erd",
              "excalidraw",
              "vega",
              "vegalite",
              "ditaa",
              "mermaid",
              "nomnoml.plantuml",
              "bpmn",
              "bytefield",
              "wavedrom",
              "svgbob",
              "c4plantuml",
              "structurizr",
              "umlet"
            ],
            "default": "graphviz"
          },
          {
            "name": "output",
            "in": "path",
            "x-ms-summary": "Output",
            "x-ms-url-encoding": "single",
            "description": "The output file type.",
            "required": true,
            "type": "string",
            "default": "svg"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "diagram_source": {
                  "type": "string",
                  "description": "The diagram details, in plain text.",
                  "title": "Diagram",
                  "x-ms-visibility": "important"
                },
                "diagram_options": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "The key.",
                      "title": "Key"
                    },
                    "antialias": {
                      "type": "string",
                      "description": "Apply anti-alias filter.",
                      "title": "Anti-alias"
                    },
                    "no-transparency": {
                      "type": "string",
                      "description": "Disable transparent background of diagram.",
                      "title": "No Transparency"
                    },
                    "size": {
                      "type": "string",
                      "description": "The size of diagram.",
                      "title": "Size"
                    },
                    "no-doctype": {
                      "type": "string",
                      "description": "Omit doctype definition tag.",
                      "title": "No Doctype"
                    },
                    "theme": {
                      "type": "string",
                      "description": "The theme.",
                      "title": "Theme"
                    },
                    "sketch": {
                      "type": "string",
                      "description": "Render diagram with a hand-drawn aesthetic.",
                      "title": "Sketch"
                    },
                    "layout": {
                      "type": "string",
                      "description": "The layout algorithm to use.",
                      "title": "Layout"
                    },
                    "scale": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The input scale.",
                      "title": "Scale"
                    },
                    "view-key": {
                      "type": "string",
                      "description": "The key of the view.",
                      "title": "View Key"
                    },
                    "background": {
                      "type": "string",
                      "description": "The background color.",
                      "title": "Background"
                    },
                    "font-family": {
                      "type": "string",
                      "description": "The font family.",
                      "title": "Font Family"
                    },
                    "font-size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The font size.",
                      "title": "Font Size"
                    },
                    "stroke-width": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The stroke width.",
                      "title": "Stroke Width"
                    }
                  },
                  "title": "Diagram Options"
                }
              },
              "required": [
                "diagram_source"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://kroki.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://kroki.io/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Business Management"
    }
  ]
}