{
  "swagger": "2.0",
  "info": {
    "title": "Trade.Gov",
    "description": "Search for international trade events, including conferences, webinars, and missions for U.S. businesses. Provided by US Department of Commerce.",
    "version": "1.0.0",
    "contact": {
      "name": "Dan Romano",
      "email": "dan.romano@swolcat.com"
    }
  },
  "host": "data.trade.gov",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "subscription-key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.trade.gov/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.trade.gov/privacy-policy"
    }
  ],
  "paths": {
    "/business_service_providers/v1/search": {
      "get": {
        "tags": [
          "Business Services"
        ],
        "operationId": "Business-service-providers-search",
        "summary": "Search Business Service Providers",
        "description": "Returns business service providers matching a keyword, category, or ITA office.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "Keyword search",
            "x-ms-summary": "Keyword"
          },
          {
            "name": "categories",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of provider categories",
            "x-ms-summary": "Categories filter"
          },
          {
            "name": "ita_offices",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of ITA office codes",
            "x-ms-summary": "ITA offices filter"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "description": "Pagination offset",
            "x-ms-summary": "Offset"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "description": "Number of results to return (max 50)",
            "x-ms-summary": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BSPResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/business_service_providers/v1/count": {
      "get": {
        "tags": [
          "Business Services"
        ],
        "operationId": "Business-service-providers-count",
        "summary": "Get provider count and aggregations",
        "description": "Returns the total number of business service providers and aggregations by category and ITA office.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BSPCountResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/consolidated_screening_list/v1/search": {
      "get": {
        "tags": [
          "Consolidated Screening List"
        ],
        "operationId": "Consolidated-screening-list-search",
        "summary": "Search Consolidated Screening List",
        "description": "Search export control lists including SDN, Entity List, and other restricted party sources by name, location, or list type.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "type": "string",
            "description": "Search name or alternate names",
            "x-ms-summary": "Name search"
          },
          {
            "name": "fuzzy_name",
            "in": "query",
            "type": "string",
            "enum": [
              "",
              "true"
            ],
            "description": "Enable fuzzy name matching",
            "x-ms-summary": "Fuzzy match"
          },
          {
            "name": "sources",
            "in": "query",
            "type": "string",
            "description": "Comma-separated source codes (e.g., SDN, EL, UVL)",
            "x-ms-summary": "Source list filter"
          },
          {
            "name": "types",
            "in": "query",
            "type": "string",
            "description": "Entity type (e.g., Individual, Entity, Vessel)",
            "x-ms-summary": "Type filter"
          },
          {
            "name": "countries",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of ISO country codes",
            "x-ms-summary": "Country filter"
          },
          {
            "name": "address",
            "in": "query",
            "type": "string",
            "description": "Match address field",
            "x-ms-summary": "Address"
          },
          {
            "name": "city",
            "in": "query",
            "type": "string",
            "description": "Match city field",
            "x-ms-summary": "City"
          },
          {
            "name": "state",
            "in": "query",
            "type": "string",
            "description": "Match state field",
            "x-ms-summary": "State"
          },
          {
            "name": "postal_code",
            "in": "query",
            "type": "string",
            "description": "Match postal code",
            "x-ms-summary": "Postal code"
          },
          {
            "name": "full_address",
            "in": "query",
            "type": "string",
            "description": "Full address match (overrides address, city, state, postal)",
            "x-ms-summary": "Full address"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "description": "Result offset (max 1000)",
            "x-ms-summary": "Offset"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "description": "Number of results to return (max 50)",
            "x-ms-summary": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScreeningListSearchResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/consolidated_screening_list/v1/sources": {
      "get": {
        "tags": [
          "Consolidated Screening List"
        ],
        "operationId": "Consolidated-screening-list-sources",
        "summary": "Get screening list sources",
        "description": "Returns all available list sources used in the Consolidated Screening List API, including import frequency and last update times.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ScreeningSourcesResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/de_minimis/v1/list": {
      "get": {
        "tags": [
          "De Minimis"
        ],
        "operationId": "De-minimis-list",
        "summary": "List De Minimis thresholds",
        "description": "Returns De Minimis and VAT thresholds by country, including currency and value limits.",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "description": "Number of results per page",
            "x-ms-summary": "Page size"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "description": "Offset for pagination",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeMinimisListResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/de_minimis/v1/search": {
      "get": {
        "tags": [
          "De Minimis"
        ],
        "operationId": "De-minimis-search",
        "summary": "Search De Minimis thresholds by country",
        "description": "Returns De Minimis and VAT thresholds for one or more country codes.",
        "parameters": [
          {
            "name": "country_codes",
            "in": "query",
            "type": "string",
            "description": "Comma-separated ISO 3166-1 alpha-2 country codes (e.g., US,CA)",
            "x-ms-summary": "Country code filter"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "description": "Number of results per page",
            "x-ms-summary": "Page size"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "description": "Offset for pagination",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeMinimisListResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/ita_office_locations/v1/search": {
      "get": {
        "tags": [
          "ITA Office Locations"
        ],
        "operationId": "ITA-office-locations-search",
        "summary": "Search ITA Office Locations",
        "description": "Returns ITA export assistance offices filtered by location, country, state, or ZIP code.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "Search by post, office name, address, or ZIP code",
            "x-ms-summary": "Keyword search"
          },
          {
            "name": "country_codes",
            "in": "query",
            "type": "string",
            "description": "Comma-separated ISO 2-character country codes",
            "x-ms-summary": "Country filter"
          },
          {
            "name": "states",
            "in": "query",
            "type": "string",
            "description": "Comma-separated 2-letter U.S. state abbreviations",
            "x-ms-summary": "State filter"
          },
          {
            "name": "assigned_zip_codes",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of 5-digit ZIP codes",
            "x-ms-summary": "ZIP code filter"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "description": "Offset for pagination",
            "x-ms-summary": "Offset"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "description": "Number of results to return",
            "x-ms-summary": "Page size"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ITAOfficeSearchResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/ita_office_locations/v1/count": {
      "get": {
        "tags": [
          "ITA Office Locations"
        ],
        "operationId": "ITA-office-locations-count",
        "summary": "Get count and aggregations for ITA Office Locations",
        "description": "Returns the total number of office records and aggregation breakdowns by country and state.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ITAOfficeCountResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/trade_events/v1/search": {
      "get": {
        "tags": [
          "Trade Events"
        ],
        "operationId": "Trade-events-search",
        "summary": "Search Trade Events",
        "description": "Search trade events filtered by source, country, industry, type, state, or date.",
        "parameters": [
          {
            "name": "sources",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of sources",
            "x-ms-summary": "Sources filter"
          },
          {
            "name": "countries",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of country codes",
            "x-ms-summary": "Countries filter"
          },
          {
            "name": "event_types",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of event types",
            "x-ms-summary": "Event type filter"
          },
          {
            "name": "industries",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of industries",
            "x-ms-summary": "Industries filter"
          },
          {
            "name": "states",
            "in": "query",
            "type": "string",
            "description": "Comma-separated list of US states",
            "x-ms-summary": "States filter"
          },
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "Free-text search term",
            "x-ms-summary": "Text search"
          },
          {
            "name": "start_date_range[from]",
            "in": "query",
            "type": "string",
            "format": "date",
            "description": "Start date (from)",
            "x-ms-summary": "From start date"
          },
          {
            "name": "start_date_range[to]",
            "in": "query",
            "type": "string",
            "format": "date",
            "description": "Start date (to)",
            "x-ms-summary": "To start date"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "description": "Page size",
            "x-ms-summary": "Page size"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "description": "Pagination offset",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TradeEventSearchResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/trade_events/v1/count": {
      "get": {
        "tags": [
          "Trade Events"
        ],
        "operationId": "Trade-events-count",
        "summary": "Get Trade Event count and aggregations",
        "description": "Returns the total number of trade events and breakdowns by source, country, state, industry, and event type.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TradeEventCountResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/trade_leads/v1/search": {
      "get": {
        "tags": [
          "Trade Leads"
        ],
        "operationId": "SearchTradeLeads",
        "summary": "Search Trade Leads",
        "description": "Searches trade leads based on country, keyword, or date filters.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "description": "Search query",
            "x-ms-summary": "Search query"
          },
          {
            "name": "country_codes",
            "in": "query",
            "type": "string",
            "description": "Filter by ISO country codes (comma-separated)",
            "x-ms-summary": "ISO country code"
          },
          {
            "name": "tender_start_date_range[from]",
            "in": "query",
            "type": "string",
            "format": "date",
            "description": "Tender start date (from)",
            "x-ms-summary": "Tender start date (from)"
          },
          {
            "name": "tender_start_date_range[to]",
            "in": "query",
            "type": "string",
            "format": "date",
            "description": "Tender start date (to)",
            "x-ms-summary": "Tender start date (to)"
          },
          {
            "name": "contract_start_date_range[from]",
            "in": "query",
            "type": "string",
            "format": "date",
            "description": "Contract start date (from)",
            "x-ms-summary": "Contract start date (from)"
          },
          {
            "name": "contract_start_date_range[to]",
            "in": "query",
            "type": "string",
            "format": "date",
            "description": "Contract start date (to)",
            "x-ms-summary": "Contract start date (to)"
          },
          {
            "name": "size",
            "in": "query",
            "type": "integer",
            "description": "Number of results to return",
            "x-ms-summary": "Number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "description": "Pagination offset",
            "x-ms-summary": "Pagination offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with search results",
            "schema": {
              "$ref": "#/definitions/TradeLeadsSearchResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/trade_leads/v1/count": {
      "get": {
        "tags": [
          "Trade Leads"
        ],
        "operationId": "GetTradeLeadsCount",
        "summary": "Get Trade Leads Count",
        "description": "Returns the total number of trade leads and country-level aggregations.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TradeLeadsCountResponse"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Server error"
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {
    "BSPResponse": {
      "type": "object",
      "required": [
        "total",
        "count",
        "offset",
        "results",
        "aggregations"
      ],
      "properties": {
        "total": {
          "type": "integer"
        },
        "count": {
          "type": "integer"
        },
        "offset": {
          "type": "integer"
        },
        "next_offset": {
          "type": "integer"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BSPItem"
          }
        },
        "aggregations": {
          "type": "object",
          "properties": {
            "categories": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "ita_offices": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            }
          }
        }
      }
    },
    "BSPItem": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "ita_office": {
          "type": "string"
        },
        "ita_contact_email": {
          "type": "string"
        },
        "company_name": {
          "type": "string"
        },
        "company_address": {
          "type": "string"
        },
        "company_description": {
          "type": "string"
        },
        "company_email": {
          "type": "string"
        },
        "company_phone": {
          "type": "string"
        },
        "company_website": {
          "type": "string"
        },
        "contact_name": {
          "type": "string"
        },
        "contact_title": {
          "type": "string"
        }
      }
    },
    "AggregationItem": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "BSPCountResponse": {
      "type": "object",
      "required": [
        "total",
        "aggregations"
      ],
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "aggregations": {
          "type": "object",
          "properties": {
            "categories": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "ita_offices": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            }
          }
        }
      }
    },
    "ScreeningListSearchResponse": {
      "type": "object",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceAggregation"
          }
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScreeningEntity"
          }
        }
      }
    },
    "SourceAggregation": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ScreeningEntity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "alt_names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "entity_number": {
          "type": "string"
        },
        "remarks": {
          "type": "string"
        },
        "programs": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        },
        "ids": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Identifier"
          }
        },
        "source_information_url": {
          "type": "string"
        },
        "source_list_url": {
          "type": "string"
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "country": {
          "type": "string"
        }
      }
    },
    "Identifier": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "number": {
          "type": "string"
        },
        "expiration_date": {
          "type": "string"
        },
        "issue_date": {
          "type": "string"
        }
      }
    },
    "ScreeningSourcesResponse": {
      "type": "object",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScreeningSource"
          }
        }
      }
    },
    "ScreeningSource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "import_rate": {
          "type": "string"
        },
        "last_imported": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "source_last_updated": {
          "type": "string"
        }
      }
    },
    "DeMinimisListResponse": {
      "type": "object",
      "required": [
        "total",
        "count",
        "offset",
        "results"
      ],
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "offset": {
          "type": "integer",
          "format": "int32"
        },
        "next_offset": {
          "type": "integer",
          "format": "int32"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeMinimisRecord"
          }
        }
      }
    },
    "DeMinimisRecord": {
      "type": "object",
      "required": [
        "id",
        "country_name",
        "country_code",
        "de_minimis_currency",
        "de_minimis_value"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "country_name": {
          "type": "string"
        },
        "country_code": {
          "type": "string"
        },
        "de_minimis_currency": {
          "type": "string"
        },
        "de_minimis_value": {
          "type": "number"
        },
        "vat_currency": {
          "type": "string"
        },
        "vat_amount": {
          "type": "number"
        },
        "comment": {
          "type": "string"
        }
      }
    },
    "ITAOfficeSearchResponse": {
      "type": "object",
      "required": [
        "total",
        "count",
        "offset",
        "results",
        "aggregations"
      ],
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "offset": {
          "type": "integer",
          "format": "int32"
        },
        "next_offset": {
          "type": "integer",
          "format": "int32"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ITAOffice"
          }
        },
        "aggregations": {
          "type": "object",
          "properties": {
            "country_codes": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "states": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            }
          }
        }
      }
    },
    "ITAOffice": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "post": {
          "type": "string"
        },
        "office_name": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "country_code": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "address": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apo_address": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "type": "string"
        },
        "fax": {
          "type": "string"
        },
        "mail_instructions": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "post_type": {
          "type": "string"
        },
        "website_url": {
          "type": "string"
        },
        "assigned_zip_codes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ITAOfficeCountResponse": {
      "type": "object",
      "required": [
        "total",
        "aggregations"
      ],
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "aggregations": {
          "type": "object",
          "properties": {
            "country_codes": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "states": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            }
          }
        }
      }
    },
    "TradeEventCountResponse": {
      "type": "object",
      "required": [
        "total",
        "aggregations"
      ],
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "aggregations": {
          "type": "object",
          "properties": {
            "sources": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "countries": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "states": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "event_types": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "industries": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            }
          }
        }
      }
    },
    "TradeEventSearchResponse": {
      "type": "object",
      "required": [
        "total",
        "count",
        "offset",
        "results",
        "aggregations"
      ],
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "offset": {
          "type": "integer",
          "format": "int32"
        },
        "next_offset": {
          "type": "integer",
          "format": "int32"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TradeEvent"
          }
        },
        "aggregations": {
          "type": "object",
          "properties": {
            "sources": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "countries": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "states": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "event_types": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            },
            "industries": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            }
          }
        }
      }
    },
    "TradeEvent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "event_type": {
          "type": "string"
        },
        "start_date": {
          "type": "string",
          "format": "date"
        },
        "end_date": {
          "type": "string",
          "format": "date"
        },
        "cost": {
          "type": "number",
          "format": "float"
        },
        "url": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "registration_title": {
          "type": "string"
        },
        "registration_url": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "industries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Contact"
          }
        },
        "venues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Venue"
          }
        }
      }
    },
    "Contact": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "person_title": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "post": {
          "type": "string"
        }
      }
    },
    "Venue": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "street": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "country": {
          "type": "string"
        }
      }
    },
    "TradeLeadsCountResponse": {
      "type": "object",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32"
        },
        "aggregations": {
          "type": "object",
          "properties": {
            "country_codes": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            }
          }
        }
      }
    },
    "TradeLeadsSearchResponse": {
      "type": "object",
      "properties": {
        "total": {
          "type": "integer"
        },
        "count": {
          "type": "integer"
        },
        "offset": {
          "type": "integer"
        },
        "next_offset": {
          "type": "integer"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TradeLead"
          }
        },
        "aggregations": {
          "type": "object",
          "properties": {
            "country_codes": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AggregationItem"
              }
            }
          }
        }
      }
    },
    "TradeLead": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "country_code": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "published_date": {
          "type": "string"
        },
        "tender_start_date": {
          "type": "string"
        },
        "tender_end_date": {
          "type": "string"
        },
        "contract_start_date": {
          "type": "string"
        },
        "contract_end_date": {
          "type": "string"
        }
      }
    }
  }
}