{
  "swagger": "2.0",
  "info": {
    "title": "Byword",
    "description": "Generate high quality, AI-written articles at scale. Trusted by over 30,000 marketers, Byword has written hundreds of thousands of articles, on every topic imaginable.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  
  },
  "host": "api.byword.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/create_article": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "articleID": {
                  "type": "string",
                  "description": "The article identifier.",
                  "title": "Article ID"
                }
              }
            }
          }
        },
        "summary": "Create article",
        "description": "Creates a new article from one of the three creation modes.",
        "operationId": "ArticlePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "mode": {
                  "type": "string",
                  "description": "The mode.",
                  "title": "Mode",
                  "default": "keyword",
                  "enum": [
                    "keyword",
                    "title"
                  ]
                },
                "input": {
                  "type": "string",
                  "description": "The input.",
                  "title": "Input"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "subheadings": {
                  "type": "string",
                  "description": "The subheadings.",
                  "title": "Subheadings"
                },
                "undetectable": {
                  "type": "boolean",
                  "description": "Whether undetectable.",
                  "title": "Undetectable"
                },
                "tone": {
                  "type": "string",
                  "description": "The tone.",
                  "title": "Tone"
                },
                "length": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The length.",
                  "title": "Length"
                }
              },
              "required": [
                "input",
                "mode"
              ]
            }
          }
        ]
      }
    },
    "/get_article": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Body": {
                  "type": "string",
                  "description": "The body.",
                  "title": "Body"
                },
                "Body (Markdown)": {
                  "type": "string",
                  "description": "The body in markdown.",
                  "title": "Body (Markdown)"
                },
                "Body (Plaintext)": {
                  "type": "string",
                  "description": "The body in plaintext.",
                  "title": "Body (Plaintext)"
                },
                "Created Date": {
                  "type": "string",
                  "description": "The created date.",
                  "title": "Created Date"
                },
                "Headings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The headings.",
                  "title": "Headings"
                },
                "Image - Assets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The image assets.",
                  "title": "Image Assets"
                },
                "Language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "Meta": {
                  "type": "string",
                  "description": "The meta.",
                  "title": "Meta"
                },
                "Mode": {
                  "type": "string",
                  "description": "The mode.",
                  "title": "Mode"
                },
                "Source": {
                  "type": "string",
                  "description": "The source.",
                  "title": "Source"
                },
                "Status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "Table of Contents": {
                  "type": "string",
                  "description": "The table of contents.",
                  "title": "Table of Contents"
                },
                "Title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "URL Slug": {
                  "type": "string",
                  "description": "The URL slug.",
                  "title": "URL Slug"
                },
                "_id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Get article",
        "description": "Retrieve a created article. Articles typically take around 60 seconds to generate.",
        "operationId": "ArticleGetPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "articleID": {
                  "type": "string",
                  "description": "The article identifier.",
                  "title": "Article ID"
                }
              }
            }
          }
        ]
      }
    },
    "/list_articles": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Body": {
                    "type": "string",
                    "description": "The body.",
                    "title": "Body"
                  },
                  "Body (Markdown)": {
                    "type": "string",
                    "description": "The body in markdown.",
                    "title": "Body (Markdown)"
                  },
                  "Body (Plaintext)": {
                    "type": "string",
                    "description": "The body in plaintext.",
                    "title": "Body (Plaintext)"
                  },
                  "Created Date": {
                    "type": "string",
                    "description": "The created date.",
                    "title": "Created Date"
                  },
                  "Headings": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The headings.",
                    "title": "Headings"
                  },
                  "Image - Assets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The image assets.",
                    "title": "Image Assets"
                  },
                  "Language": {
                    "type": "string",
                    "description": "The language.",
                    "title": "Language"
                  },
                  "Meta": {
                    "type": "string",
                    "description": "The meta.",
                    "title": "Meta"
                  },
                  "Mode": {
                    "type": "string",
                    "description": "The mode.",
                    "title": "Mode"
                  },
                  "Source": {
                    "type": "string",
                    "description": "The source.",
                    "title": "Source"
                  },
                  "Status": {
                    "type": "string",
                    "description": "The status.",
                    "title": "Status"
                  },
                  "Table of Contents": {
                    "type": "string",
                    "description": "The table of contents.",
                    "title": "Table of Contents"
                  },
                  "Title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "URL Slug": {
                    "type": "string",
                    "description": "The URL slug.",
                    "title": "URL Slug"
                  },
                  "_id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  }
                }
              }
            }
          }
        },
        "summary": "List articles",
        "description": "Retrieves all articles created.",
        "operationId": "ArticlesPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cursor.",
                  "title": "Cursor",
                  "default": 0
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://byword.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://byword.ai/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}