{
  "swagger": "2.0",
  "info": {
    "version": "2.1.0",
    "title": "Industrial App Store",
    "description": "The Industrial App Store from Intelligent Plant is built on an architecture that enables cloud-based applications and services to interact with on-site Process Data Historians and Alarm & Event Logs.  Use the Industrial App Store Connector to introduce plant data to your flows.",
    "contact": {
      "name": "Intelligent Plant",
      "email": "support@intelligentplant.com",
      "url": "https://appstore.intelligentplant.com"
    }
  },
  "host": "appstore.intelligentplant.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/gestalt/datacore/api/data/datasources/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Host": {
                    "type": "string",
                    "description": "Data source host",
                    "title": "Host",
                    "x-ms-visibility": "important"
                  },
                  "SupportedFeatures": {
                    "type": "string",
                    "description": "Features supported by data source",
                    "title": "SupportedFeatures",
                    "x-ms-visibility": "important"
                  },
                  "Name": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Data source component name",
                        "title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "Namespace": {
                        "type": "string",
                        "description": "Data source namespace"
                      },
                      "QualifiedName": {
                        "type": "string",
                        "description": "Data source qualified name"
                      },
                      "DisplayName": {
                        "type": "string",
                        "description": "Display Name"
                      },
                      "Aliases": {
                        "type": "array",
                        "items": {},
                        "description": "Aliases"
                      }
                    },
                    "description": "Name"
                  },
                  "TypeName": {
                    "type": "string",
                    "description": "Data source component type name",
                    "title": "TypeName",
                    "x-ms-visibility": "important"
                  },
                  "Description": {
                    "type": "string",
                    "description": "Data source component description",
                    "title": "Description",
                    "x-ms-visibility": "important"
                  },
                  "Status": {
                    "type": "object",
                    "properties": {
                      "RunningStatus": {
                        "type": "string",
                        "description": "Data source running status",
                        "title": "RunningStatus",
                        "x-ms-visibility": "important"
                      },
                      "HealthStatus": {
                        "type": "object",
                        "properties": {
                          "IsHealthy": {
                            "type": "boolean",
                            "description": "IsHealthy"
                          },
                          "Properties": {
                            "type": "array",
                            "items": {},
                            "description": "Properties"
                          }
                        },
                        "description": "Data source health status"
                      },
                      "IsInitialised": {
                        "type": "boolean",
                        "description": "IsInitialised"
                      },
                      "IsDisabled": {
                        "type": "boolean",
                        "description": "Disabled status"
                      },
                      "DebugMode": {
                        "type": "boolean",
                        "description": "Debug mode"
                      },
                      "UtcStartupTime": {
                        "type": "string",
                        "description": "Startup UTC Time"
                      },
                      "UtcLastModified": {
                        "type": "string",
                        "description": "Last Modified UTC Date Time"
                      },
                      "Uptime": {
                        "type": "string",
                        "description": "Data source uptime"
                      },
                      "Messages": {
                        "type": "array",
                        "items": {},
                        "description": "Messages"
                      }
                    },
                    "description": "Status"
                  },
                  "Settings": {
                    "type": "array",
                    "items": {},
                    "description": "Data source settings"
                  },
                  "Properties": {
                    "type": "object",
                    "properties": {
                      "Keep-Alive Data Queries": {
                        "type": "string",
                        "description": "Keep-Alive Data Queries"
                      },
                      "Remote Type": {
                        "type": "string",
                        "description": "Remote Type"
                      }
                    },
                    "description": "Properties"
                  },
                  "AuthorizationRules": {
                    "type": "array",
                    "items": {},
                    "description": "Data source authorization rules"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Get Data Sources",
        "description": "Retrieve list of available data sources.",
        "operationId": "ias_getdsns",
        "x-ms-visibility": "important"
      }
    },
    "/gestalt/datacore/api/data/tags/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Unique tag identifier",
                    "title": "Id",
                    "x-ms-visibility": "advanced"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Tag name",
                    "title": "Name",
                    "x-ms-visibility": "important"
                  },
                  "Description": {
                    "type": "string",
                    "description": "Tag description",
                    "title": "Description",
                    "x-ms-visibility": "important"
                  },
                  "UnitOfMeasure": {
                    "type": "string",
                    "description": "Tag value unit-of-measurement",
                    "title": "UnitOfMeasure",
                    "x-ms-visibility": "important"
                  },
                  "Properties": {
                    "type": "object",
                    "properties": {
                      "index": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Value"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "Category": {
                            "type": "string",
                            "description": "Category"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "DisplayIndex": {
                            "type": "integer",
                            "format": "int32",
                            "description": "DisplayIndex"
                          },
                          "IsReadOnly": {
                            "type": "boolean",
                            "description": "IsReadOnly"
                          }
                        },
                        "description": "index"
                      }
                    },
                    "description": "Properties"
                  },
                  "DigitalStates": {
                    "type": "array",
                    "items": {},
                    "description": "DigitalStates"
                  },
                  "IsMetaTag": {
                    "type": "boolean",
                    "description": "Flag that specifies if the tag is a meta tag created by a driver.",
                    "title": "IsMetaTag"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Get Tags",
        "description": "Perform a tag search on a data source.",
        "operationId": "ias_tagsearch",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The data source name.",
            "x-ms-summary": "The data source name to use for data query.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "name",
            "default": "*",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The tag name filter.",
            "x-ms-summary": "Tag name filter to use. Default value is \"*\".",
            "x-ms-visibility": "important"
          },
          {
            "name": "page",
            "default": 1,
            "in": "query",
            "type": "integer",
            "required": true,
            "description": "The page number of the matching results that should be returned.",
            "x-ms-summary": "The page number of the matching results that should be returned.",
            "x-ms-visibility": "advanced",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "default": 10,
            "in": "query",
            "type": "integer",
            "required": true,
            "description": "Page size for the results.",
            "x-ms-summary": "Page size for the results.",
            "format": "int32"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/gestalt/datacore/api/data/v2/snapshot/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "TagName": {
                  "type": "string",
                  "description": "Tag name"
                },
                "UtcSampleTime": {
                  "type": "string",
                  "description": "Tag value sample time (UTC)"
                },
                "NumericValue": {
                  "type": "number",
                  "format": "float",
                  "description": "Tag numeric value"
                },
                "IsNumeric": {
                  "type": "boolean",
                  "description": "Does tag have a numeric value?"
                },
                "TextValue": {
                  "type": "string",
                  "description": "Tag text value"
                },
                "Status": {
                  "type": "string",
                  "description": "Tag value status"
                },
                "Unit": {
                  "type": "string",
                  "description": "Tag value unit-of-measurement."
                },
                "Notes": {
                  "type": "string",
                  "description": "Notes"
                },
                "Error": {
                  "type": "string",
                  "description": "Tag value error details"
                },
                "HasError": {
                  "type": "boolean",
                  "description": "Tag value HasError status"
                },
                "Properties": {
                  "type": "object",
                  "properties": {},
                  "description": "Properties"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "operationId": "ias_getdata_snapshot_v2",
        "summary": "Read Snapshot Value",
        "description": "Get the current value of a tag.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The tag to query.",
            "description": "The tag to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "nocache",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, specifies that cached snapshot values should not be used (i.e. a snapshot query will always be executed against the data source).",
            "x-ms-summary": "When true, specifies that cached snapshot values should not be used.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "includeProperties",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, tag value properties will be included in the results.",
            "x-ms-summary": "When true, tag value properties will be included in the results.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/gestalt/datacore/api/data/v2/processed/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/HistoricalDataQueryResponsev2"
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Read Aggregated Values",
        "description": "Request aggregated values for a tag.",
        "operationId": "ias_getdata_processed_v2",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The tag to query.",
            "description": "The tag to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*-10d",
            "description": "The absolute or relative query start time.",
            "x-ms-summary": "The absolute or relative query start time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*",
            "description": "The absolute or relative query end time.",
            "x-ms-summary": "The absolute or relative query end time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "function",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The data function to use.",
            "x-ms-summary": "Data function/aggregation to use when performing data query.",
            "x-ms-visibility": "important",
            "default": "INTERP",
            "enum": [
              "INTERP",
              "AVG",
              "MIN",
              "MAX"
            ]
          },
          {
            "name": "step",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "1d",
            "description": "The sample interval for the query.",
            "x-ms-summary": "The sample interval for the query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "includeProperties",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, tag value properties will be included in the result.",
            "x-ms-summary": "When true, tag value properties will be included in the result.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/gestalt/datacore/api/data/v2/plot/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/HistoricalDataQueryResponsev2"
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Read Plot Values",
        "description": "Request a best-fit curve of tag values.",
        "operationId": "ias_getdata_plot_v2",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The tag to query.",
            "description": "The tag to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*-10d",
            "description": "The absolute or relative query start time.",
            "x-ms-summary": "The absolute or relative query start time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The absolute or relative query end time.",
            "x-ms-summary": "The absolute or relative query end time.",
            "x-ms-visibility": "important",
            "default": "*"
          },
          {
            "name": "intervals",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "The pixel width of the chart that will display the tag values.",
            "x-ms-summary": "Plot interval",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "includeProperties",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, tag value properties will be included in the results.",
            "x-ms-summary": "When true, tag value properties will be included in the results.",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/gestalt/datacore/api/data/v2/raw/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/HistoricalDataQueryResponsev2"
            },
            "examples": {
              "application/json": {
                "IP Datasource": {
                  "Head": {
                    "TagName": "Head",
                    "DisplayType": "TrailingEdge",
                    "Values": [
                      {
                        "TagName": "Head",
                        "UtcSampleTime": "2020-03-10T10:01:35.919Z",
                        "NumericValue": 181.20317,
                        "IsNumeric": true,
                        "TextValue": "181.2031749",
                        "Status": "Good",
                        "Unit": "",
                        "Notes": null,
                        "Error": null,
                        "HasError": false,
                        "Properties": {}
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Read Raw Values",
        "description": "Request raw values for a tag.",
        "operationId": "ias_getdata_raw_v2",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The tag to query.",
            "x-ms-summary": "The tag to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*-10d",
            "description": "The absolute or relative query start time.",
            "x-ms-summary": "The absolute or relative query start time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*",
            "description": "The absolute or relative query end time.",
            "x-ms-summary": "The absolute or relative query end time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "points",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "The maximum number of points to return per tag.",
            "x-ms-summary": "The maximum number of points to return per tag.",
            "x-ms-visibility": "important",
            "format": "int32"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/Gestalt/api/data/v2/snapshot/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tagname": {
                  "type": "object",
                  "properties": {
                    "TagName": {
                      "type": "string",
                      "description": "Tag name"
                    },
                    "UtcSampleTime": {
                      "type": "string",
                      "description": "Tag value sample time (UTC)"
                    },
                    "NumericValue": {
                      "type": "number",
                      "format": "float",
                      "description": "Tag numeric value"
                    },
                    "IsNumeric": {
                      "type": "boolean",
                      "description": "Does tag have a numeric value?"
                    },
                    "TextValue": {
                      "type": "string",
                      "description": "Tag text value"
                    },
                    "Status": {
                      "type": "string",
                      "description": "Tag value status"
                    },
                    "Unit": {
                      "type": "string",
                      "description": "Tag value unit-of-measurement."
                    },
                    "Notes": {
                      "type": "string",
                      "description": "Notes"
                    },
                    "Error": {
                      "type": "string",
                      "description": "Tag value error details"
                    },
                    "HasError": {
                      "type": "boolean",
                      "description": "Tag value HasError status"
                    },
                    "Properties": {
                      "type": "object",
                      "properties": {},
                      "description": "Properties"
                    }
                  },
                  "description": "Tag name"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "operationId": "ias_getdata_snapshot",
        "summary": "Get Snapshot",
        "description": "Perform a snapshot/now query on a data source.",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The tag to query.",
            "description": "The tag to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "nocache",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, specifies that cached snapshot values should not be used (i.e. a snapshot query will always be executed against the data source).",
            "x-ms-summary": "When true, specifies that cached snapshot values should not be used.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "includeProperties",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, tag value properties will be included in the results.",
            "x-ms-summary": "When true, tag value properties will be included in the results.",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/Gestalt/api/data/v2/processed/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/HistoricalDataQueryResponse"
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Get Processed Data",
        "description": "Perform a processed/aggregation query on a data source.",
        "operationId": "ias_getdata_processed",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The tag to query.",
            "description": "The tag to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*-10d",
            "description": "The absolute or relative query start time.",
            "x-ms-summary": "The absolute or relative query start time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*",
            "description": "The absolute or relative query end time.",
            "x-ms-summary": "The absolute or relative query end time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "function",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The data function to use.",
            "x-ms-summary": "Data function/aggregation to use when performing data query.",
            "x-ms-visibility": "important",
            "default": "INTERP",
            "enum": [
              "INTERP",
              "AVG",
              "MIN",
              "MAX"
            ]
          },
          {
            "name": "step",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "1d",
            "description": "The sample interval for the query.",
            "x-ms-summary": "The sample interval for the query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "includeProperties",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, tag value properties will be included in the result.",
            "x-ms-summary": "When true, tag value properties will be included in the result.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/Gestalt/api/data/v2/plot/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/HistoricalDataQueryResponse"
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Get Plot Data",
        "description": "Perform a plot query on a data source.",
        "operationId": "ias_getdata_plot",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The tag to query.",
            "description": "The tag to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*-10d",
            "description": "The absolute or relative query start time.",
            "x-ms-summary": "The absolute or relative query start time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The absolute or relative query end time.",
            "x-ms-summary": "The absolute or relative query end time.",
            "x-ms-visibility": "important",
            "default": "*"
          },
          {
            "name": "intervals",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "The number of intervals to use for the PLOT request.",
            "x-ms-summary": "The number of intervals to use for the PLOT request.",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "includeProperties",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, tag value properties will be included in the results.",
            "x-ms-summary": "When true, tag value properties will be included in the results.",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/Gestalt/api/data/v2/raw/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/HistoricalDataQueryResponse"
            },
            "examples": {
              "application/json": {
                "IP Datasource": {
                  "Head": {
                    "TagName": "Head",
                    "DisplayType": "TrailingEdge",
                    "Values": [
                      {
                        "TagName": "Head",
                        "UtcSampleTime": "2020-03-10T10:01:35.919Z",
                        "NumericValue": 181.20317,
                        "IsNumeric": true,
                        "TextValue": "181.2031749",
                        "Status": "Good",
                        "Unit": "",
                        "Notes": null,
                        "Error": null,
                        "HasError": false,
                        "Properties": {}
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Get Raw Data",
        "description": "Perform a raw query on a data source.",
        "operationId": "ias_getdata_raw",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The tag to query.",
            "x-ms-summary": "The tag to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*-10d",
            "description": "The absolute or relative query start time.",
            "x-ms-summary": "The absolute or relative query start time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*",
            "description": "The absolute or relative query end time.",
            "x-ms-summary": "The absolute or relative query end time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "points",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "The maximum number of points to return per tag.",
            "x-ms-summary": "The maximum number of points to return per tag.",
            "x-ms-visibility": "important",
            "format": "int32"
          }
        ],
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "UnauthorisedResponse": {
      "type": "object",
      "properties": {
        "Message": {
          "type": "string",
          "description": "Unauthorised response message.",
          "title": "Message",
          "x-ms-visibility": "important"
        }
      }
    },
    "HistoricalDataQueryResponsev2": {
      "type": "object",
      "properties": {
        "Values": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "TagName": {
                "type": "string",
                "description": "Tag Name"
              },
              "UtcSampleTime": {
                "type": "string",
                "description": "Tag value sample time (UTC)"
              },
              "NumericValue": {
                "type": "number",
                "format": "float",
                "description": "Tag numeric value"
              },
              "IsNumeric": {
                "type": "boolean",
                "description": "Does IsNumeric status"
              },
              "TextValue": {
                "type": "string",
                "description": "Tag text value"
              },
              "Status": {
                "type": "string",
                "description": "Tag value status"
              },
              "Unit": {
                "type": "string",
                "description": "Tag value unit-of-measurement"
              },
              "Notes": {
                "type": "string",
                "description": "Notes"
              },
              "Error": {
                "type": "string",
                "description": "Tag value error details"
              },
              "HasError": {
                "type": "boolean",
                "description": "Tag value HasError status"
              },
              "Properties": {
                "type": "object",
                "properties": {},
                "description": "Properties"
              }
            }
          },
          "description": "Values"
        }
      }
    },
    "HistoricalDataQueryResponse": {
      "type": "object",
      "properties": {
        "Tag name": {
          "type": "object",
          "properties": {
            "TagName": {
              "type": "string",
              "description": "Tag name",
              "example": "LIC101"
            },
            "DisplayType": {
              "type": "string",
              "description": "Display Type"
            },
            "Values": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "TagName": {
                    "type": "string",
                    "description": "Tag Name"
                  },
                  "UtcSampleTime": {
                    "type": "string",
                    "description": "Tag value sample time (UTC)"
                  },
                  "NumericValue": {
                    "type": "number",
                    "format": "float",
                    "description": "Tag numeric value"
                  },
                  "IsNumeric": {
                    "type": "boolean",
                    "description": "Does IsNumeric status"
                  },
                  "TextValue": {
                    "type": "string",
                    "description": "Tag text value"
                  },
                  "Status": {
                    "type": "string",
                    "description": "Tag value status"
                  },
                  "Unit": {
                    "type": "string",
                    "description": "Tag value unit-of-measurement"
                  },
                  "Notes": {
                    "type": "string",
                    "description": "Notes"
                  },
                  "Error": {
                    "type": "string",
                    "description": "Tag value error details"
                  },
                  "HasError": {
                    "type": "boolean",
                    "description": "Tag value HasError status"
                  },
                  "Properties": {
                    "type": "object",
                    "properties": {},
                    "description": "Properties"
                  }
                }
              },
              "description": "Values"
            }
          },
          "description": "Tag name description"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://appstore.intelligentplant.com/AuthorizationServer/OAuth/Authorize",
      "tokenUrl": "https://appstore.intelligentplant.com/AuthorizationServer/OAuth/Token",
      "scopes": {
        "DataRead": "DataRead"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "DataRead"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://appstore.intelligentplant.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://appstore.intelligentplant.com/Content/assets/legal/IAS-PrivacyPolicy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Internet of Things;Business Intelligence"
    }
  ]
}