{
  "swagger": "2.0",
  "info": {
    "version": "1.0.1",
    "title": "Industrial App Store",
    "description": "Industrial App Store Connector enables Microsoft’s powerful analytics to be applied to real-time and historical process data. Seamlessly integrate plant and corporate data and share with any colleague on any device, enabling faster, better, real-time decision making. The Industrial App Store Connector connects to Industrial App Store, while all data remains secure and safe on-premises. Industrial App Store Connector brings it all together and delivers to your fingertips.",
    "contact": {
    "name": "Intelligent Plant",
    "email": "support@intelligentplant.com",
    "url": "https://appstore.intelligentplant.com"
    }
  },
  "host": "appstore.intelligentplant.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/Gestalt/api/data/datasources/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Host": {
                    "type": "string",
                    "description": "The remote host that the data source definition was downloaded from.",
                    "title": "Host",
                    "x-ms-visibility": "important"
                  },
                  "SupportedFeatures": {
                    "type": "string",
                    "description": "The features supported by the data source.",
                    "title": "SupportedFeatures",
                    "x-ms-visibility": "important"
                  },
                  "Name": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "The component name.",
                        "title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "Namespace": {
                        "type": "string",
                        "description": "Namespace"
                      },
                      "QualifiedName": {
                        "type": "string",
                        "description": "QualifiedName"
                      },
                      "DisplayName": {
                        "type": "string",
                        "description": "DisplayName"
                      },
                      "Aliases": {
                        "type": "array",
                        "items": {},
                        "description": "Aliases"
                      }
                    },
                    "description": "Name"
                  },
                  "TypeName": {
                    "type": "string",
                    "description": "The component type name.",
                    "title": "TypeName",
                    "x-ms-visibility": "important"
                  },
                  "Description": {
                    "type": "string",
                    "description": "The component description.",
                    "title": "Description",
                    "x-ms-visibility": "important"
                  },
                  "Status": {
                    "type": "object",
                    "properties": {
                      "RunningStatus": {
                        "type": "string",
                        "description": "Current component status.",
                        "title": "RunningStatus",
                        "x-ms-visibility": "important"
                      },
                      "HealthStatus": {
                        "type": "object",
                        "properties": {
                          "IsHealthy": {
                            "type": "boolean",
                            "description": "IsHealthy"
                          },
                          "Properties": {
                            "type": "array",
                            "items": {},
                            "description": "Properties"
                          }
                        },
                        "description": "HealthStatus"
                      },
                      "IsInitialised": {
                        "type": "boolean",
                        "description": "IsInitialised"
                      },
                      "IsDisabled": {
                        "type": "boolean",
                        "description": "IsDisabled"
                      },
                      "DebugMode": {
                        "type": "boolean",
                        "description": "DebugMode"
                      },
                      "UtcStartupTime": {
                        "type": "string",
                        "description": "UtcStartupTime"
                      },
                      "UtcLastModified": {
                        "type": "string",
                        "description": "UtcLastModified"
                      },
                      "Uptime": {
                        "type": "string",
                        "description": "Uptime"
                      },
                      "Messages": {
                        "type": "array",
                        "items": {},
                        "description": "Messages"
                      }
                    },
                    "description": "Status"
                  },
                  "Settings": {
                    "type": "array",
                    "items": {},
                    "description": "Settings"
                  },
                  "Properties": {
                    "type": "object",
                    "properties": {
                      "Keep-Alive Data Queries": {
                        "type": "string",
                        "description": "Keep-Alive Data Queries"
                      },
                      "Remote Type": {
                        "type": "string",
                        "description": "Remote Type"
                      }
                    },
                    "description": "Properties"
                  },
                  "AuthorizationRules": {
                    "type": "array",
                    "items": {},
                    "description": "AuthorizationRules"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Get data sources",
        "description": "Retrieve available data sources.",
        "operationId": "ias_getdsns",
        "x-ms-visibility": "important"
      }
    },
    "/Gestalt/api/data/tags/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "The unique identifier for the tag. If not specified, the name of the tag .",
                    "title": "Id",
                    "x-ms-visibility": "advanced"
                  },
                  "Name": {
                    "type": "string",
                    "description": "The tag name.",
                    "title": "Name",
                    "x-ms-visibility": "important"
                  },
                  "Description": {
                    "type": "string",
                    "description": "The tag description.",
                    "title": "Description",
                    "x-ms-visibility": "important"
                  },
                  "UnitOfMeasure": {
                    "type": "string",
                    "description": "The tag's unit of measure.",
                    "title": "UnitOfMeasure",
                    "x-ms-visibility": "important"
                  },
                  "Properties": {
                    "type": "object",
                    "properties": {
                      "index": {
                        "type": "object",
                        "properties": {
                          "Value": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Value"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "Category": {
                            "type": "string",
                            "description": "Category"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "DisplayIndex": {
                            "type": "integer",
                            "format": "int32",
                            "description": "DisplayIndex"
                          },
                          "IsReadOnly": {
                            "type": "boolean",
                            "description": "IsReadOnly"
                          }
                        },
                        "description": "index"
                      }
                    },
                    "description": "Properties"
                  },
                  "DigitalStates": {
                    "type": "array",
                    "items": {},
                    "description": "DigitalStates"
                  },
                  "IsMetaTag": {
                    "type": "boolean",
                    "description": "Flag that specifies if the tag is a meta tag created by a driver.",
                    "title": "IsMetaTag"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Get tags",
        "description": "Performs a tag search on the specified data source.",
        "operationId": "ias_tagsearch",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The data source name.",
            "x-ms-summary": "The data source name to use for data query.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "name",
            "default": "*",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The tag name filter.",
            "x-ms-summary": "Tag name filter to use. Default value is \"*\".",
            "x-ms-visibility": "important"
          },
          {
            "name": "page",
            "default": 1,
            "in": "query",
            "type": "integer",
            "required": true,
            "description": "The page number of the matching results that should be returned.",
            "x-ms-summary": "The page number of the matching results that should be returned.",
            "x-ms-visibility": "advanced",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "default": 10,
            "in": "query",
            "type": "integer",
            "required": true,
            "description": "Page size for the results.",
            "x-ms-summary": "Page size for the results.",
            "format": "int32"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/Gestalt/api/data/v2/snapshot/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "datasource": {
                  "type": "object",
                  "properties": {
                    "tagname": {
                      "type": "object",
                      "properties": {
                        "TagName": {
                          "type": "string",
                          "description": "TagName"
                        },
                        "UtcSampleTime": {
                          "type": "string",
                          "description": "UtcSampleTime"
                        },
                        "NumericValue": {
                          "type": "number",
                          "format": "float",
                          "description": "NumericValue"
                        },
                        "IsNumeric": {
                          "type": "boolean",
                          "description": "IsNumeric"
                        },
                        "TextValue": {
                          "type": "string",
                          "description": "TextValue"
                        },
                        "Status": {
                          "type": "string",
                          "description": "Status"
                        },
                        "Unit": {
                          "type": "string",
                          "description": "Unit"
                        },
                        "Notes": {
                          "type": "string",
                          "description": "Notes"
                        },
                        "Error": {
                          "type": "string",
                          "description": "Error"
                        },
                        "HasError": {
                          "type": "boolean",
                          "description": "HasError"
                        },
                        "Properties": {
                          "type": "object",
                          "properties": {},
                          "description": "Properties"
                        }
                      },
                      "description": "tagname"
                    }
                  },
                  "description": "datasource"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "operationId": "ias_getdata_snapshot",
        "summary": "Get snapshot",
        "description": "Performs a snapshot data query on a single data source.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The tags to query.",
            "description": "The tags to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "nocache",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, specifies that cached snapshot values should not be used (i.e. a snapshot query will always be executed against the data source).",
            "x-ms-summary": "When true, specifies that cached snapshot values should not be used.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "includeProperties",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, tag value properties will be included in the results.",
            "x-ms-summary": "When true, tag value properties will be included in the results.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/Gestalt/api/data/v2/processed/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/HistoricalDataQueryResponse"
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Get processed data",
        "description": "Performs a multi-data source aggregated or processed data query.",
        "operationId": "ias_getdata_processed",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The tags to query.",
            "description": "The tags to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*-10d",
            "description": "The absolute or relative query start time.",
            "x-ms-summary": "The absolute or relative query start time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*",
            "description": "The absolute or relative query end time.",
            "x-ms-summary": "The absolute or relative query end time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "function",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The data function to use.",
            "x-ms-summary": "Data function/aggregation to use when performing data query.",
            "x-ms-visibility": "important",
            "default": "INTERP",
            "enum": [
              "INTERP",
              "AVG",
              "MIN",
              "MAX"
            ]
          },
          {
            "name": "step",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "1d",
            "description": "The sample interval for the query.",
            "x-ms-summary": "The sample interval for the query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "includeProperties",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, tag value properties will be included in the result.",
            "x-ms-summary": "When true, tag value properties will be included in the result.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/Gestalt/api/data/v2/plot/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/HistoricalDataQueryResponse"
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Get plot data",
        "description": "Performs a plot data query on the specified data source.",
        "operationId": "ias_getdata_plot",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The tags to query.",
            "description": "The tags to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*-10d",
            "description": "The absolute or relative query start time.",
            "x-ms-summary": "The absolute or relative query start time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The absolute or relative query end time.",
            "x-ms-summary": "The absolute or relative query end time.",
            "x-ms-visibility": "important",
            "default": "*"
          },
          {
            "name": "intervals",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "The number of intervals to use for the PLOT request.",
            "x-ms-summary": "The number of intervals to use for the PLOT request.",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "includeProperties",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "When true, tag value properties will be included in the results.",
            "x-ms-summary": "When true, tag value properties will be included in the results.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/Gestalt/api/data/v2/raw/{dsn}/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/HistoricalDataQueryResponse"
            },
            "examples": {
              "application/json": {
                "IP Datasource": {
                  "Head": {
                    "TagName": "Head",
                    "DisplayType": "TrailingEdge",
                    "Values": [
                      {
                        "TagName": "Head",
                        "UtcSampleTime": "2020-03-10T10:01:35.919Z",
                        "NumericValue": 181.20317,
                        "IsNumeric": true,
                        "TextValue": "181.2031749",
                        "Status": "Good",
                        "Unit": "",
                        "Notes": null,
                        "Error": null,
                        "HasError": false,
                        "Properties": {}
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/UnauthorisedResponse"
            }
          }
        },
        "summary": "Get raw data",
        "description": "Performs a multi-data source RAW data query.",
        "operationId": "ias_getdata_raw",
        "parameters": [
          {
            "name": "dsn",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "The data source name.",
            "description": "Data source name to perform data query on.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "tag",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The tags to query.",
            "x-ms-summary": "The tags to query.",
            "x-ms-visibility": "important"
          },
          {
            "name": "start",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*-10d",
            "description": "The absolute or relative query start time.",
            "x-ms-summary": "The absolute or relative query start time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "end",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "*",
            "description": "The absolute or relative query end time.",
            "x-ms-summary": "The absolute or relative query end time.",
            "x-ms-visibility": "important"
          },
          {
            "name": "points",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "The maximum number of points to return per tag.",
            "x-ms-summary": "The maximum number of points to return per tag.",
            "x-ms-visibility": "important",
            "format": "int32"
          }
        ],
        "x-ms-visibility": "advanced"
      }
    }
  },
  "definitions": {
    "UnauthorisedResponse": {
      "type": "object",
      "properties": {
        "Message": {
          "type": "string",
          "description": "Unauthorised response message.",
          "title": "Message",
          "x-ms-visibility": "important"
        }
      }
    },
    "HistoricalDataQueryResponse": {
      "type": "object",
      "properties": {
        "Data source name": {
          "type": "object",
          "properties": {
            "Tag name": {
              "type": "object",
              "properties": {
                "TagName": {
                  "type": "string",
                  "description": "TagName",
                  "example": "LIC101"
                },
                "DisplayType": {
                  "type": "string",
                  "description": "DisplayType"
                },
                "Values": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "TagName": {
                        "type": "string",
                        "description": "TagName"
                      },
                      "UtcSampleTime": {
                        "type": "string",
                        "description": "UtcSampleTime"
                      },
                      "NumericValue": {
                        "type": "number",
                        "format": "float",
                        "description": "NumericValue"
                      },
                      "IsNumeric": {
                        "type": "boolean",
                        "description": "IsNumeric"
                      },
                      "TextValue": {
                        "type": "string",
                        "description": "TextValue"
                      },
                      "Status": {
                        "type": "string",
                        "description": "Status"
                      },
                      "Unit": {
                        "type": "string",
                        "description": "Unit"
                      },
                      "Notes": {
                        "type": "string",
                        "description": "Notes"
                      },
                      "Error": {
                        "type": "string",
                        "description": "Error"
                      },
                      "HasError": {
                        "type": "boolean",
                        "description": "HasError"
                      },
                      "Properties": {
                        "type": "object",
                        "properties": {},
                        "description": "Properties"
                      }
                    }
                  },
                  "description": "Values"
                }
              },
              "description": "Tag name description"
            }
          },
          "description": "Data source description"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://appstore.intelligentplant.com/AuthorizationServer/OAuth/Authorize?access_type=offline",
      "tokenUrl": "https://appstore.intelligentplant.com/AuthorizationServer/OAuth/Token",
      "scopes": {
        "DataRead": "DataRead"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "DataRead"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://appstore.intelligentplant.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://intelligentplant.com/datasheets/privacypolicy.pdf"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Internet of Things;Business Intelligence"
    }
  ]
}