{
  "swagger": "2.0",
  "info": {
    "title": "AikiDocs",
    "description": "AikiDocs for Office Documents enables document changes that would otherwise require human interaction.  Merging, Manipulating, extracting content to and from office documents can be integrated into your solutions.",
    "termsOfService": "https://www.aiki-mind.com/terms",
    "contact": {
      "name": "Aiki-Mind Support",
      "url": "https://www.aiki-mind.com/Account/Support",
      "email": "support@aiki-mind.com"
    },
    "version": "v1"
  },
  "host": "api.aiki-mind.com",
  "x-ms-connector-metadata": [
    {
      "propertyName": "WebSite",
      "propertyValue": "https://www.aiki-mind.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.aiki-mind.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ],
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/ExcelModifyDocument/cell": {
      "post": {
        "tags": [
          "ExcelModifyDocument"
        ],
        "summary": "Excel - Set Cell Value or Formula",
        "description": "Excel - Set Cell Value or Formula",
        "operationId": "ExcelSetCell",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ModifySpreadSheetCellRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifySpreadSheetCellResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/ExcelModifyDocument/cells": {
      "post": {
        "tags": [
          "ExcelModifyDocument"
        ],
        "summary": "Excel - Set Cells Value or Formula",
        "description": "Excel - Set Cells Value or Formula",
        "operationId": "ExcelSetCells",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ModifySpreadSheetCellsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifySpreadSheetCellResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/ExcelReadDocument/cell": {
      "post": {
        "tags": [
          "ExcelReadDocument"
        ],
        "summary": "Excel - Get Cell Value or Formula",
        "description": "Excel - Get Cell Value or Formula",
        "operationId": "ExcelGetCell",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/modifySpreadSheetCellRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadSpreadSheetCellResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/ExcelReadDocument/cells": {
      "post": {
        "tags": [
          "ExcelReadDocument"
        ],
        "summary": "Excel - Get Cells Value or Formula",
        "description": "Excel - Get Cells Value or Formula",
        "operationId": "ExcelGetCells",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ReadSpreadSheetCellsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReadSpreadSheetCellsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/good": {
      "post": {
        "tags": [
          "ValidateConnection"
        ],
        "summary": "Validate the connection and API Key are working",
        "description": "Validate the connection and API Key are working",
        "operationId": "ValidateConnectGoodService",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ValidateConnectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ValidateConnectionResponse"
            }
          }
        }
      }
    },
    "/bad": {
      "post": {
        "tags": [
          "ValidateConnection"
        ],
        "summary": "Validate the connection and API Key are working but with a failure response",
        "description": "Validate the connection and API Key are working but with a failure response",
        "operationId": "ValidateConnectBadService",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ValidateConnectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ValidateConnectionResponse"
            }
          }
        }
      }
    },
    "/api/WordAppendDocuments": {
      "post": {
        "tags": [
          "WordAppendDocuments"
        ],
        "summary": "Word - Append Multiple Word Documents Together",
        "description": "Word - Append multiple Word documents together returning a single document which represents all the documents appended together",
        "operationId": "WordAppendDocuments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AppendDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AppendDocumentResponse"
            }
          }
        }
      }
    },
    "/api/WordExtractContent/ByHeading": {
      "post": {
        "tags": [
          "WordExtractContent"
        ],
        "summary": "Word - Extract Content By Heading",
        "description": "Word - Extract Content By Heading",
        "operationId": "WordExtractContentByHeading",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ExtractContentByHeadingRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExtractContentByHeadingResponse"
            }
          }
        }
      }
    },
    "/api/WordExtractContent/ByTitle": {
      "post": {
        "tags": [
          "WordExtractContent"
        ],
        "summary": "Word - Extract Content By Title",
        "description": "Word - Extract Content By Title",
        "operationId": "WordExtractContentByTitle",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ExtractSectionByTitleRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExtractSectionByTitleResponse"
            }
          }
        }
      }
    },
    "/api/WordExtractContent/ByBookMarks": {
      "post": {
        "tags": [
          "WordExtractContent"
        ],
        "summary": "Word - Extract Content By Bookmarks",
        "description": "Word - Extract Content By Bookmarks",
        "operationId": "WordExtractContentByBookmarks",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ExtractContentByBookMarksRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExtractContentByBookMarksResponse"
            }
          }
        }
      }
    },
    "/api/WordInsertDocuments": {
      "post": {
        "tags": [
          "WordInsertDocuments"
        ],
        "summary": "Word - Insert Documents into a document at bookmark",
        "description": "Word - Insert Documents into a document at bookmark",
        "operationId": "WordInsertDocuments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/InsertDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InsertDocumentResponse"
            }
          }
        }
      }
    },
    "/api/WordStyles/ApplyStyleToDocument": {
      "post": {
        "tags": [
          "WordStyles"
        ],
        "summary": "Word - Apply the style to a document from a source document",
        "description": "Word - Apply the style to a document from a source document",
        "operationId": "WordApplyStyleToDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ApplyStylesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApplyStylesResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AddressedSpreadSheetCell": {
      "type": "object",
      "properties": {
        "displayValue": {
          "type": "string"
        },
        "formulaValue": {
          "type": "string"
        },
        "cellLocation": {
          "$ref": "#/definitions/SpreadSheetCellLocation"
        }
      }
    },
    "AppendDocumentRequest": {
      "type": "object",
      "properties": {
        "appendDocumentList": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        }
      }
    },
    "AppendDocumentResponse": {
      "type": "object",
      "properties": {
        "resultDocument": {
          "$ref": "#/definitions/WordDocumentParameter"
        },
        "count": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ApplyStylesRequest": {
      "type": "object",
      "properties": {
        "sourceDocument": {
          "$ref": "#/definitions/WordDocumentParameter"
        },
        "destinationDocument": {
          "$ref": "#/definitions/WordDocumentParameter"
        }
      }
    },
    "ApplyStylesResponse": {
      "type": "object",
      "properties": {
        "resultDocument": {
          "$ref": "#/definitions/WordDocumentParameter"
        },
        "count": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExcelDocumentParameter": {
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "byte",
          "type": "string"
        },
        "documentName": {
          "type": "string"
        }
      }
    },
    "ExtractContentByBookMarksRequest": {
      "type": "object",
      "properties": {
        "startBookMark": {
          "type": "string"
        },
        "endBookMark": {
          "type": "string"
        },
        "sourceDocument": {
          "$ref": "#/definitions/WordDocumentParameter"
        }
      }
    },
    "ExtractContentByBookMarksResponse": {
      "type": "object",
      "properties": {
        "resultDocument": {
          "$ref": "#/definitions/WordDocumentParameter"
        }
      }
    },
    "ExtractContentByHeadingRequest": {
      "type": "object",
      "properties": {
        "sourceDocument": {
          "$ref": "#/definitions/WordDocumentParameter"
        },
        "headingStyleName": {
          "type": "string"
        }
      }
    },
    "ExtractContentByHeadingResponse": {
      "type": "object",
      "properties": {
        "resultDocuments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WordDocumentParameter"
          }
        }
      }
    },
    "ExtractSectionByTitleRequest": {
      "type": "object",
      "properties": {
        "sourceDocument": {
          "$ref": "#/definitions/WordDocumentParameter"
        },
        "headingText": {
          "type": "string"
        },
        "headingStyleName": {
          "type": "string"
        },
        "headingEscapeStyleNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExtractSectionByTitleResponse": {
      "type": "object",
      "properties": {
        "resultDocument": {
          "$ref": "#/definitions/WordDocumentParameter"
        }
      }
    },
    "InsertDocumentRequest": {
      "type": "object",
      "properties": {
        "sourceDocument": {
          "$ref": "#/definitions/WordDocumentParameter"
        },
        "insertDocumentList": {
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "bookmarkName": {
          "type": "string"
        },
        "deleteBookmark": {
          "type": "boolean"
        }
      }
    },
    "InsertDocumentResponse": {
      "type": "object",
      "properties": {
        "resultDocument": {
          "$ref": "#/definitions/WordDocumentParameter"
        },
        "count": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "modifySpreadSheetCellRequest": {
      "type": "object",
      "properties": {
        "sourceDocument": {
          "$ref": "#/definitions/ExcelDocumentParameter"
        },
        "cellLocation": {
          "$ref": "#/definitions/SpreadSheetCellLocation"
        }
      }
    },
    "ModifySpreadSheetCellRequest": {
      "type": "object",
      "properties": {
        "cell": {
          "$ref": "#/definitions/AddressedSpreadSheetCell"
        },
        "sourceDocument": {
          "$ref": "#/definitions/ExcelDocumentParameter"
        }
      }
    },
    "ModifySpreadSheetCellResponse": {
      "type": "object",
      "properties": {
        "cell": {
          "$ref": "#/definitions/AddressedSpreadSheetCell"
        },
        "resultDocument": {
          "$ref": "#/definitions/ExcelDocumentParameter"
        }
      }
    },
    "ModifySpreadSheetCellsRequest": {
      "type": "object",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressedSpreadSheetCell"
          }
        },
        "sourceDocument": {
          "$ref": "#/definitions/ExcelDocumentParameter"
        }
      }
    },
    "ReadSpreadSheetCellResponse": {
      "type": "object",
      "properties": {
        "cell": {
          "$ref": "#/definitions/AddressedSpreadSheetCell"
        }
      }
    },
    "ReadSpreadSheetCellsRequest": {
      "type": "object",
      "properties": {
        "sourceDocument": {
          "$ref": "#/definitions/ExcelDocumentParameter"
        },
        "cellLocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpreadSheetCellLocation"
          }
        }
      }
    },
    "ReadSpreadSheetCellsResponse": {
      "type": "object",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressedSpreadSheetCell"
          }
        }
      }
    },
    "SpreadSheetCellLocation": {
      "type": "object",
      "properties": {
        "sheetName": {
          "type": "string"
        },
        "cellAddress": {
          "type": "string"
        }
      }
    },
    "ValidateConnectionRequest": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "ValidateConnectionResponse": {
      "type": "object",
      "properties": {
        "resultMessage": {
          "type": "string"
        }
      }
    },
    "WordDocumentParameter": {
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "byte",
          "type": "string"
        },
        "documentName": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "ApiKey": {
      "type": "apiKey",
      "name": "ApiKey",
      "in": "header",
      "description": "Api Key required to call services"
    }
  },
  "security": [
    {
      "ApiKey": []
    }
  ],
  "tags": []
}