{
  "swagger": "2.0",
  "info": {
    "title": "Resend",
    "description": "The email service for developers. Build, test, and deliver transactional emails at scale.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.resend.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/emails": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "from": {
                  "type": "string",
                  "description": "The From address.",
                  "title": "From"
                },
                "to": {
                  "type": "string",
                  "description": "The To address.",
                  "title": "To"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                }
              }
            }
          }
        },
        "summary": "Send email",
        "x-ms-visibility": "important",
        "description": "Start sending emails through the Resend Email service.",
        "operationId": "EmailPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "The From address.",
                  "title": "From"
                },
                "to": {
                  "type": "string",
                  "description": "The To address.",
                  "title": "To"
                },
                "cc": {
                  "type": "string",
                  "description": "The CC address.",
                  "title": "CC"
                },
                "bcc": {
                  "type": "string",
                  "description": "The BCC address.",
                  "title": "BCC"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject.",
                  "title": "Subject"
                },
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "html": {
                  "type": "string",
                  "description": "The HTML.",
                  "title": "HTML"
                },
                "attachments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "filename": {
                        "type": "string",
                        "description": "The filename.",
                        "title": "Filename"
                      },
                      "content": {
                        "type": "string",
                        "description": "The content.",
                        "title": "Content"
                      }
                    }
                  },
                  "title": "Attachments"
                },
                "reply_to": {
                  "type": "string",
                  "description": "The Reply To address.",
                  "title": "Reply To"
                }
              },
              "required": [
                "from",
                "to",
                "subject"
              ]
            }
          }
        ]
      }
    },
    "/emails/{email_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "to": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The To address.",
                  "title": "To"
                },
                "from": {
                  "type": "string",
                  "description": "The From address.",
                  "title": "From"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject.",
                  "title": "Subject"
                },
                "html": {
                  "type": "string",
                  "description": "The HTML.",
                  "title": "HTML"
                },
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "bcc": {
                  "type": "string",
                  "description": "The BCC address.",
                  "title": "BCC"
                },
                "cc": {
                  "type": "string",
                  "description": "The CC address.",
                  "title": "CC"
                },
                "reply_to": {
                  "type": "string",
                  "description": "The Reply To address.",
                  "title": "Reply To"
                },
                "last_event": {
                  "type": "string",
                  "description": "The last event.",
                  "title": "Last Event"
                }
              }
            }
          }
        },
        "summary": "Retrieve email",
        "description": "Retrieve a single email.",
        "x-ms-visibility": "important",
        "operationId": "RetrieveGet",
        "parameters": [
          {
            "name": "email_id",
            "in": "path",
            "x-ms-summary": "Email ID",
            "x-ms-url-encoding": "single",
            "description": "The email identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/domains": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "region": {
                        "type": "string",
                        "description": "The region.",
                        "title": "Region"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "List domains",
        "description": "Retrieve a list of domains for the authenticated user.",
        "operationId": "ListGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "record": {
                        "type": "string",
                        "description": "The record.",
                        "title": "Record"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "ttl": {
                        "type": "string",
                        "description": "The TTL.",
                        "title": "TTL"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "value": {
                        "type": "string",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "priority": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The priority.",
                        "title": "Priority"
                      }
                    }
                  },
                  "title": "Records"
                },
                "region": {
                  "type": "string",
                  "description": "The region.",
                  "title": "Region"
                },
                "dnsProvider": {
                  "type": "string",
                  "description": "The DNS provider.",
                  "title": "DNS Provider"
                }
              }
            }
          }
        },
        "summary": "Add domain",
        "description": "Create a domain through the Resend Email service.",
        "operationId": "DomainPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "region": {
                  "type": "string",
                  "description": "The region.",
                  "title": "Region",
                  "default": "us-east-1",
                  "enum": [
                    "us-east-1",
                    "eu-west-1",
                    "sa-east-1"
                  ]
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    },
    "/domains/{domain_id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete domain",
        "description": "Remove an existing domain.",
        "operationId": "DomainDelete",
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "x-ms-summary": "Domain ID",
            "x-ms-url-encoding": "single",
            "description": "The domain identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Verify domain",
        "description": "Verify an existing domain.",
        "operationId": "VerifyPost",
        "parameters": [
          {
            "name": "domain_id",
            "in": "path",
            "x-ms-summary": "Domain ID",
            "x-ms-url-encoding": "single",
            "description": "The domain identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://resend.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://resend.com/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}