{
  "swagger": "2.0",
  "info": {
    "title": "Calendly",
    "description": "Calendly's connector empowers you to automate scheduled events, boosting productivity and optimizing efficiency through automated workflows.",
    "version": "1.0",
    "contact": {
      "name": "Calendly Support",
      "url": "https://help.calendly.com/hc/en-us",
      "email": "support@calendly.com"
    }
  },
  "host": "api.calendly.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://calendly.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://calendly.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "paths": {
    "/webhook_subscriptions": {
      "x-ms-notification-content": {
        "description": "Webhook Response",
        "schema": {
          "type": "object",
          "properties": {
            "created_at": {
              "type": "string",
              "description": "The moment when the webhook was created (e.g. \"2020-01-02T03:04:05.678123Z\").",
              "x-ms-summary": "Webhook Created At"
            },
            "created_by": {
              "type": "string",
              "description": "A reference to the user who created the webhook subscription.",
              "x-ms-summary": "Webhook Creator URI"
            },
            "event": {
              "type": "string",
              "description": "The event that caused the webhook to fire.",
              "x-ms-summary": "Webhook Event"
            },
            "payload": {
              "type": "object",
              "properties": {
                "cancel_url": {
                  "type": "string",
                  "description": "Link to cancelling the event for the invitee.",
                  "x-ms-summary": "Cancel Event URL"
                },
                "created_at": {
                  "type": "string",
                  "description": "The moment when the event was created (e.g. \"2020-01-02T03:04:05.678123Z\").",
                  "x-ms-summary": "Invitee Created At"
                },
                "email": {
                  "type": "string",
                  "description": "The invitee's email address.",
                  "x-ms-summary": "Invitee Email"
                },
                "event": {
                  "type": "string",
                  "description": "A reference to the event.",
                  "x-ms-summary": "Event URI"
                },
                "name": {
                  "type": "string",
                  "description": "The invitee's name.",
                  "x-ms-summary": "Invitee Name"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name of the invitee who booked the event when the event type is configured to use separate fields for first name and last name. Null when event type is configured to use a single field for name.",
                  "x-ms-summary": "Invitee First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name of the invitee who booked the event when the event type is configured to use separate fields for first name and last name. Null when event type is configured to use a single field for name.",
                  "x-ms-summary": "Invitee Last Name"
                },
                "new_invitee": {
                  "type": "string",
                  "description": "Link to new invitee, after reschedule.",
                  "x-ms-summary": "New Invitee URI"
                },
                "old_invitee": {
                  "type": "string",
                  "description": "Reference to old Invitee instance that got rescheduled.",
                  "x-ms-summary": "Old Invitee URI"
                },
                "questions_and_answers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "question": {
                        "type": "string",
                        "description": "A question on the invitee's booking form.",
                        "x-ms-summary": "Question"
                      },
                      "answer": {
                        "type": "string",
                        "description": "The invitee's answer to the question.",
                        "x-ms-summary": "Answer"
                      },
                      "position": {
                        "type": "number",
                        "description": "The position of the question in relation to others on the booking form.",
                        "x-ms-summary": "Question Position"
                      }
                    }
                  },
                  "description": "A collection of the invitee's responses to questions on the event booking confirmation form.",
                  "x-ms-summary": "A collection of the invitee's responses to questions on the event booking confirmation form"
                },
                "reschedule_url": {
                  "type": "string",
                  "description": "Link to rescheduling the event for the invitee.",
                  "x-ms-summary": "Reschedule Event URL"
                },
                "rescheduled": {
                  "type": "boolean",
                  "description": "rescheduled",
                  "x-ms-summary": "Invitee Rescheduled?"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Invitee Status"
                },
                "text_reminder_number": {
                  "type": "string",
                  "description": "text_reminder_number",
                  "x-ms-summary": "Invitee Text Reminder Number"
                },
                "timezone": {
                  "type": "string",
                  "description": "timezone",
                  "x-ms-summary": "Invitee Timezone"
                },
                "tracking": {
                  "type": "object",
                  "properties": {
                    "utm_campaign": {
                      "type": "string",
                      "description": "The UTM parameter used to track a campaign.",
                      "x-ms-summary": "UTM Campaign"
                    },
                    "utm_source": {
                      "type": "string",
                      "description": "The UTM parameter that identifies the source (platform where the traffic originates).",
                      "x-ms-summary": "UTM Source"
                    },
                    "utm_medium": {
                      "type": "string",
                      "description": "The UTM parameter that identifies the type of input (e.g. Cost Per Click (CPC), social media, affiliate or QR code).",
                      "x-ms-summary": "UTM Medium"
                    },
                    "utm_content": {
                      "type": "string",
                      "description": "UTM content tracking parameter.",
                      "x-ms-summary": "UTM Content"
                    },
                    "utm_term": {
                      "type": "string",
                      "description": "The UTM parameter used to track keyword.",
                      "x-ms-summary": "UTM Term"
                    },
                    "salesforce_uuid": {
                      "type": "string",
                      "description": "The Salesforce record unique identifier.",
                      "x-ms-summary": "Salesforce UUID"
                    }
                  },
                  "description": "tracking"
                },
                "uri": {
                  "type": "string",
                  "description": "Canonical reference (unique identifier) for the invitee.",
                  "x-ms-summary": "Invitee URI"
                },
                "routing_form_submission": {
                  "type": "string",
                  "description": "Reference to a routing form submission that redirected the invitee to a booking page.",
                  "x-ms-summary": "Routing Form Submission URI"
                },
                "scheduled_event": {
                  "$ref": "#/definitions/ScheduledEvent"
                },
                "cancellation": {
                  "$ref": "#/definitions/Cancellation"
                },
                "payment": {
                  "$ref": "#/definitions/Payment"
                },
                "no_show": {
                  "$ref": "#/definitions/NoShow"
                },
                "reconfirmation": {
                  "$ref": "#/definitions/Reconfirmation"
                }
              },
              "description": "An individual who has been invited to meet with a Calendly member."
            }
          }
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "payload",
            "schema": {
              "type": "object",
              "properties": {
                "created_at": {
                  "type": "string",
                  "description": "created_at"
                },
                "created_by": {
                  "type": "string",
                  "description": "created_by"
                },
                "event": {
                  "type": "string",
                  "description": "event"
                },
                "payload": {
                  "type": "object",
                  "properties": {
                    "cancel_url": {
                      "type": "string",
                      "description": "cancel_url"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "created_at"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "event": {
                      "type": "string",
                      "description": "event"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "new_invitee": {
                      "type": "string",
                      "description": "new_invitee"
                    },
                    "old_invitee": {
                      "type": "string",
                      "description": "old_invitee"
                    },
                    "questions_and_answers": {
                      "type": "array",
                      "items": {},
                      "description": "questions_and_answers"
                    },
                    "reschedule_url": {
                      "type": "string",
                      "description": "reschedule_url"
                    },
                    "rescheduled": {
                      "type": "boolean",
                      "description": "rescheduled"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "text_reminder_number": {
                      "type": "string",
                      "description": "text_reminder_number"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "timezone"
                    },
                    "tracking": {
                      "type": "object",
                      "properties": {
                        "utm_campaign": {
                          "type": "string",
                          "description": "utm_campaign"
                        },
                        "utm_source": {
                          "type": "string",
                          "description": "utm_source"
                        },
                        "utm_medium": {
                          "type": "string",
                          "description": "utm_medium"
                        },
                        "utm_content": {
                          "type": "string",
                          "description": "utm_content"
                        },
                        "utm_term": {
                          "type": "string",
                          "description": "utm_term"
                        },
                        "salesforce_uuid": {
                          "type": "string",
                          "description": "salesforce_uuid"
                        }
                      },
                      "description": "tracking"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "updated_at"
                    },
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    },
                    "canceled": {
                      "type": "boolean",
                      "description": "canceled"
                    }
                  }
                }
              }
            }
          }
        },
        "x-ms-trigger": "single",
        "summary": "Create Webhook Subscription",
        "operationId": "CreateWebhookSubscription",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "url"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "events",
                    "default": "invitee.created",
                    "enum": [
                      "invitee.created",
                      "invitee.canceled"
                    ],
                    "x-ms-visibility": "important"
                  },
                  "description": "events"
                },
                "organization": {
                  "type": "string",
                  "description": "organization",
                  "title": "organization",
                  "x-ms-visibility": "internal"
                },
                "user": {
                  "type": "string",
                  "description": "user",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "scope": {
                  "type": "string",
                  "description": "scope",
                  "title": "scope",
                  "default": "organization",
                  "x-ms-visibility": "internal"
                },
                "signing_key": {
                  "type": "string",
                  "description": "signing_key",
                  "title": "signing_key",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "url",
                "events",
                "scope"
              ]
            }
          }
        ],
        "description": "Create a Webhook Subscription for an Organization that is triggered when an event is scheduled, canceled, or a routing form is submitted."
      }
    },
    "/webhook_subscriptions/{uuid}": {
      "delete": {
        "x-ms-visibility": "internal",
        "summary": "Delete Webhook Subscription",
        "description": "Deletes a Calendly webhook subscription",
        "operationId": "DeleteTrigger",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "UUID of the webhook subscription being deleted",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "resource": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "slug": {
                      "type": "string",
                      "description": "slug"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "scheduling_url": {
                      "type": "string",
                      "description": "scheduling_url"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "timezone"
                    },
                    "avatar_url": {
                      "type": "string",
                      "description": "avatar_url"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "created_at"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "updated_at"
                    },
                    "current_organization": {
                      "type": "string",
                      "description": "current_organization"
                    }
                  },
                  "description": "resource"
                }
              }
            }
          }
        },
        "summary": "Get Current User Info",
        "operationId": "CurrentUserInfo",
        "parameters": [],
        "description": "Retrieves current user info",
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "ScheduledEvent": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "format": "uri",
          "description": "Canonical reference (unique identifier) for the resource.",
          "title": "Event URI"
        },
        "name": {
          "type": "string",
          "description": "The event name.",
          "title": "Event Name"
        },
        "status": {
          "type": "string",
          "enum": [
            "active",
            "canceled"
          ],
          "description": "Indicates if the event is \"active\" or \"canceled\".",
          "title": "Event Status"
        },
        "start_time": {
          "type": "string",
          "format": "date-time",
          "description": "The moment the event was scheduled to start in UTC time (e.g. \"2020-01-02T03:04:05.678123Z\").",
          "title": "Event Start Time"
        },
        "end_time": {
          "type": "string",
          "format": "date-time",
          "description": "The moment the event was scheduled to end in UTC time (e.g. \"2020-01-02T03:04:05.678123Z\")",
          "title": "Event End Time"
        },
        "event_type": {
          "type": "string",
          "description": "The event type associated with this event",
          "format": "uri",
          "example": "https://api.calendly.com/event_types/GBGBDCAADAEDCRZ2",
          "title": "Event Type URI"
        },
        "location": {
          "$ref": "#/definitions/Location"
        },
        "invitees_counter": {
          "type": "object",
          "required": [
            "total",
            "active",
            "limit"
          ],
          "properties": {
            "total": {
              "type": "number",
              "description": "Total invitees for an event, including invitees that have canceled",
              "title": "Total Invitees"
            },
            "active": {
              "type": "number",
              "description": "Total invitees for an event that have not canceled.",
              "title": "Total Active Invitees"
            },
            "limit": {
              "type": "number",
              "description": "Maximum number of active invitees that can book the event.",
              "title": "Event Max Invitees"
            }
          }
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The moment when the event was created (e.g. \"2020-01-02T03:04:05.678123Z\")",
          "example": "2019-01-02T03:04:05.678123Z",
          "title": "Event Created At"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "The moment when the event was last updated (e.g. \"2020-01-02T03:04:05.678123Z\")",
          "example": "2019-01-02T03:04:05.678123Z",
          "title": "Event Updated At"
        },
        "event_memberships": {
          "type": "array",
          "description": "Event membership list",
          "items": {
            "type": "object",
            "properties": {
              "user": {
                "type": "string",
                "format": "uri",
                "description": "Canonical reference (unique identifier) for the user.",
                "x-ms-summary": "Event Member URI"
              },
              "user_email": {
                "type": "string",
                "format": "email",
                "description": "The user's email address.",
                "x-ms-summary": "Event Member Email"
              }
            }
          }
        },
        "event_guests": {
          "type": "array",
          "description": "Additional people added to an event by an invitee",
          "items": {
            "$ref": "#/definitions/Guest"
          }
        },
        "cancellation": {
          "$ref": "#/definitions/Cancellation"
        },
        "calendar_event": {
          "$ref": "#/definitions/LegacyCalendarEvent"
        }
      },
      "required": [
        "location"
      ]
    },
    "Cancellation": {
      "type": "object",
      "description": "Provides data pertaining to the cancellation of the Event",
      "properties": {
        "canceled_by": {
          "type": "string",
          "description": "Name of the person whom canceled.",
          "x-ms-summary": "Event location",
          "title": "Canceled By"
        },
        "reason": {
          "type": "string",
          "description": "Reason that the cancellation occurred.",
          "title": "Cancellation Reason"
        },
        "canceler_type": {
          "type": "string",
          "enum": [
            "host",
            "invitee"
          ],
          "description": "Indicates whether the event was canceled by the \"Host\" or \"Invitee\".",
          "title": "Canceler Type"
        }
      }
    },
    "Guest": {
      "type": "object",
      "description": "An individual whom an invitee has invited to be a guest attendee to an event",
      "properties": {
        "email": {
          "type": "string",
          "format": "email",
          "description": "The email of the event guest.",
          "title": "Event Guest Email"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "Time that the event guest was created.",
          "title": "Event Guest Created At"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "description": "Time that the event guest was last updated.",
          "title": "Event Guest Updated At"
        }
      }
    },
    "Location": {
      "type": "object",
      "description": "The polymorphic base type for an event location that Calendly supports",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ask_invitee",
            "physical",
            "outbound_call",
            "inbound_call",
            "custom",
            "gotomeeting",
            "zoom",
            "google",
            "microsoft_teams",
            "webex"
          ],
          "x-ms-summary": "Location type",
          "description": "Indicates the event location type.",
          "title": "Location Type"
        },
        "status": {
          "type": "string",
          "enum": [
            "initiated",
            "processing",
            "pushed",
            "failed"
          ],
          "x-ms-summary": "Web conference status",
          "description": "This field only applies to zoom_conference, webex_conference, google_conference, gotomeeting, and microsoft_teams_conference location types.",
          "title": "Web Conference Status"
        },
        "join_url": {
          "type": "string",
          "format": "uri",
          "x-ms-summary": "Web conference meeting url",
          "description": "This field only applies to zoom_conference, webex_conference, google_conference, gotomeeting, and microsoft_teams_conference location types.",
          "title": "Web Conference Meeting URL"
        },
        "location": {
          "type": "string",
          "x-ms-summary": "Event location",
          "description": "This field only applies to outbound_call, inbound_call, physical, ask_invitee, and custom location types.",
          "title": "Event Location"
        },
        "data": {
          "type": "object",
          "x-ms-summary": "Web conference metadata",
          "properties": {}
        }
      }
    },
    "LegacyCalendarEvent": {
      "type": "object",
      "description": "Information about the calendar event from the calendar provider.",
      "x-ms-summary": "Calendar Event",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Indicates the calendar provider the event belongs to.",
          "enum": [
            "exchange",
            "google",
            "icloud",
            "outlook",
            "outlook_desktop"
          ],
          "title": "Calendly Event Kind"
        },
        "external_id": {
          "type": "string",
          "description": "The id provided from the calendar provider for this calendar event.",
          "title": "External Calendar Event Id"
        }
      }
    },
    "Payment": {
      "description": "Invitee payment",
      "type": "object",
      "properties": {
        "external_id": {
          "type": "string",
          "description": "Unique identifier for the payment.",
          "x-ms-summary": "Payment External Id"
        },
        "provider": {
          "type": "string",
          "description": "Payment provider.",
          "enum": [
            "stripe",
            "paypal"
          ],
          "x-ms-summary": "Payment Provider"
        },
        "amount": {
          "type": "number",
          "description": "The amount of the payment.",
          "format": "float",
          "x-ms-summary": "Payment Amount"
        },
        "currency": {
          "type": "string",
          "description": "The currency format that the payment is in.",
          "enum": [
            "AUD",
            "CAD",
            "EUR",
            "GBP",
            "USD"
          ],
          "x-ms-summary": "Payment Currency"
        },
        "terms": {
          "type": "string",
          "description": "Terms of the payment.",
          "x-ms-summary": "Payment Terms"
        },
        "successful": {
          "type": "boolean",
          "description": "Indicates whether the payment was successfully processed.",
          "x-ms-summary": "Payment Successful?"
        }
      }
    },
    "NoShow": {
      "description": "Provides data pertaining to the associated no show for the Invitee.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical reference (unique identifier) for the no show",
          "x-ms-summary": "No Show URI"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "No Show Created At",
          "description": "The moment when the no show was created."
        }
      }
    },
    "Reconfirmation": {
      "type": "object",
      "description": "Assuming reconfirmation is enabled for the event type, when reconfirmation is requested this object is present with a `created_at` that reflects when the reconfirmation notification was sent. Once the invitee has reconfirmed the `confirmed_at` attribute will change from `null` to a timestamp that reflects when they took action.",
      "properties": {
        "created_at": {
          "type": "string",
          "description": "When the reconfirmation was created.",
          "x-ms-summary": "Reconfirmation Created At",
          "format": "date-time"
        },
        "confirmed_at": {
          "type": "string",
          "x-ms-summary": "Invitee Confirmed At",
          "description": "When the Invitee confirmed their attendance.",
          "format": "date-time"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "CurrentUserInfo",
      "parameters": {}
    }
  }
}