{
  "swagger": "2.0",
  "info": {
    "title": "Sociabble",
    "description": "Sociabble delivers top of the line enterprise social media solutions for employee advocacy, social selling, internal communication and Employee Engagement. Employees are better informed, improve their digital footprint.",
    "version": "1.0",
	"contact": {
      "name": "Sociabble Support",
      "url": "https://www.sociabble.com",
      "email": "support@sociabble.com"
    }
  },
  "host": "apigateway.sociabble.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/companies/audiences": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of audiences",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get audiences",
        "operationId": "GetAudiences",
        "parameters": [],
        "description": "Get audiences"
      }
    },
    "/channels": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of channels",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get channels",
        "operationId": "GetChannels",
        "parameters": [],
        "description": "Get channels"
      }
    },
    "/content/internalnews": {
      "post": {
        "responses": {
          "200": {
            "description": "An internal news",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the content",
                  "title": "Id"
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "language": {
                        "type": "string",
                        "description": "Language",
                        "title": "language"
                      },
                      "isDefault": {
                        "type": "boolean",
                        "description": "Is the language default",
                        "title": "language default ?"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title",
                        "title": "title"
                      },
                      "summary": {
                        "type": "string",
                        "description": "A short summary of the content",
                        "title": "summary"
                      },
                      "description": {
                        "type": "string",
                        "description": "Content",
                        "title": "content"
                      },
                      "mediaIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The unique identifier of the medias you want to attached to this content"
                      }
                    }
                  },
                  "description": "Content",
                  "title": "Content"
                },
                "channelIds": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The unique identifiers of the channels the content is published to",
                    "title": "Channels"
                  },
                  "description": "Channel Ids"
                },
                "audienceId": {
                  "type": "string",
                  "description": "The audience that can access this content",
                  "title": "Audience"
                },
                "date": {
                  "type": "string",
                  "description": "The publication date of the content",
                  "title": "Publication date"
                }
              }
            }
          }
        },
        "summary": "Create an internal news",
        "operationId": "CreateInternalNews",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Write a title for your content",
                        "title": "title",
                        "x-ms-summary": "Title"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Write a short summary of the content",
                        "title": "summary",
                        "x-ms-summary": "Summary"
                      },
                      "description": {
                        "type": "string",
                        "description": "Write your content",
                        "title": "content",
                        "x-ms-summary": "Content"
                      },
                      "language": {
                        "type": "string",
                        "description": "Choose a language for the content",
                        "title": "language",
                        "x-ms-summary": "Language"
                      },
                      "isDefault": {
                        "type": "boolean",
                        "description": "If you want this language to be the default, choose yes",
                        "title": "is the language default ?",
                        "x-ms-summary": "Is default language"
                      },
                      "mediaIds": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "description": "The unique identifiers of images from a previous media upload to use"
                        },
                        "title": "image",
                        "description": "An array of unique identifiers"
                      }
                    },
                    "required": [
                      "description",
                      "language",
                      "summary",
                      "title"
                    ],
                    "description": "An array of content",
                    "title": "Content"
                  }
                },
                "channelIds": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "Channels",
                    "x-ms-dynamic-values": {
                      "operationId": "GetChannels",
                      "value-path": "id",
                      "value-title": "name"
                    },
                    "description": "Choose a channel that the content will be published to"
                  }
                },
                "audienceId": {
                  "type": "string",
                  "description": "Choose an audience that will have access to this content",
                  "title": "Audience",
                  "x-ms-summary": "Audience",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAudiences",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "date": {
                  "type": "string",
                  "description": "Choose a date for the publication of the content",
                  "title": "Publication date",
                  "format": "date-time",
                  "x-ms-summary": "Publication date"
                }
              },
              "required": [
                "channelIds",
                "contents"
              ]
            }
          }
        ],
        "description": "Create an internal news"
      }
    },
    "/content/external": {
      "post": {
        "responses": {
          "200": {
            "description": "An external content",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The unique identifier of the content",
                  "title": "Id"
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "language": {
                        "type": "string",
                        "description": "Language",
                        "title": "Language"
                      },
                      "isDefault": {
                        "type": "boolean",
                        "description": "Is the language default",
                        "title": "Is the language default"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "Content",
                        "title": "Content"
                      },
                      "proposedCommentForSharing": {
                        "type": "string",
                        "description": "The comment that will be proposed to users during share",
                        "title": "Comment for sharing"
                      },
                      "mediaId": {
                        "type": "string",
                        "description": "The unique identifier used for the content",
                        "title": "Media unique identifier"
                      }
                    }
                  }
                },
                "contentUrl": {
                  "type": "string",
                  "description": "The url of the content",
                  "title": "Content url"
                },
                "channelIds": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The channels that the content is published to",
                    "title": "Channels"
                  },
                  "description": "Channel Ids"
                },
                "audienceId": {
                  "type": "string",
                  "description": "The audience that can access this content",
                  "title": "Audience"
                },
                "date": {
                  "type": "string",
                  "description": "The publication date of the content",
                  "title": "Publication date"
                },
                "isShareable": {
                  "type": "boolean",
                  "description": "If the response is yes, the content can be shared on external social networks",
                  "title": "Is shareable"
                },
                "isOfficialContent": {
                  "type": "boolean",
                  "description": "If the response is yes, the content is displayed as official",
                  "title": "Is contentofficial ?"
                },
                "areCommentsAuthorized": {
                  "type": "boolean",
                  "description": "If the response is yes, users can comment the content",
                  "title": "Can users comment the content ?"
                }
              }
            }
          }
        },
        "summary": "Create an external content",
        "description": "Create an external content",
        "operationId": "CreateExternalContent",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Write a title for the content",
                        "title": "title"
                      },
                      "description": {
                        "type": "string",
                        "description": "Write your content",
                        "title": "content"
                      },
                      "language": {
                        "type": "string",
                        "description": "Choose a language for the content",
                        "title": "language"
                      },
                      "isDefault": {
                        "type": "boolean",
                        "description": "If you want this language to be the default, choose yes",
                        "title": "is default ?"
                      },
                      "proposedCommentForSharing": {
                        "type": "string",
                        "description": "Write a comment that will be proposed to the users during share",
                        "title": "comment for sharing"
                      },
                      "mediaId": {
                        "type": "string",
                        "description": "The unique identifier from a previous media upload to use",
                        "title": "image"
                      }
                    },
                    "required": [
                      "description",
                      "language",
                      "title"
                    ]
                  },
                  "description": "Content",
                  "title": "Content"
                },
                "channelIds": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "Channel",
                    "x-ms-dynamic-values": {
                      "operationId": "GetChannels",
                      "value-path": "id",
                      "value-title": "name"
                    },
                    "description": "Choose a channel that the content will be published to"
                  },
                  "description": "channelIds"
                },
                "audienceId": {
                  "type": "string",
                  "description": "Choose an audience that will have access to this content",
                  "title": "Audience",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAudiences",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "contentUrl": {
                  "type": "string",
                  "description": "The url of the content",
                  "title": "Content url"
                },
                "isShareable": {
                  "type": "boolean",
                  "description": "If you want the content to be shareable by users on external social networks, choose yes",
                  "title": "Is shareable ?"
                },
                "isOfficialContent": {
                  "type": "boolean",
                  "description": "If you want the content to be displayed as official, choose yes",
                  "title": "Is official ?"
                },
                "areCommentsAuthorized": {
                  "type": "boolean",
                  "description": "If you want to allow users to comment, choose yes",
                  "title": "Can users comment ?"
                }
              },
              "required": [
                "channelIds",
                "contentUrl",
                "contents"
              ]
            }
          }
        ]
      }
    },
    "/users/{username}/badges/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Assign a badge to a user",
        "description": "Assign a badge to a user",
        "operationId": "AssignBadgeToUser",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The username of the user",
            "x-ms-summary": "Username",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "badgeId": {
                  "type": "string",
                  "description": "The badge to be assigned",
                  "title": "Badge",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAllBadges",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "level": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The badge level to be assigned",
                  "title": "Level",
                  "x-ms-dynamic-list": {
                    "operationId": "GetBadgeLevels",
                    "itemValuePath": "level",
                    "itemTitlePath": "name",
                    "parameters": {
                      "badgeId": {
                        "parameterReference": "body/badgeId"
                      }
                    }
                  }
                }
              },
              "required": [
                "badgeId",
                "level"
              ]
            }
          }
        ]
      }
    },
    "/users/{username}/customactions/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Assign a custom action to a user",
        "description": "Assign a custom action to a user",
        "operationId": "AssignCustomActionToUser",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The username of the user",
            "x-ms-summary": "Username",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "isEngaging": {
                  "type": "boolean",
                  "description": "If the custom action should be considered as engaging, choose yes",
                  "title": "Is engaging ?"
                },
                "isInternal": {
                  "type": "boolean",
                  "description": "If the custom action should be considered as an internal action, choose yes",
                  "title": "Is internal ?"
                },
                "points": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of points earned by the user",
                  "title": "Points"
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Write a title for the custom action",
                        "title": "title"
                      },
                      "description": {
                        "type": "string",
                        "description": "Write a small description for the custom action",
                        "title": "description"
                      },
                      "notificationText": {
                        "type": "string",
                        "description": "Write a small text to be sent as a notification to the user",
                        "title": "notification"
                      },
                      "language": {
                        "type": "string",
                        "description": "Language of the custom action",
                        "title": "language"
                      },
                      "isDefault": {
                        "type": "boolean",
                        "description": "If this language is the default, choose yes",
                        "title": "is default ?"
                      }
                    },
                    "required": [
                      "language",
                      "notificationText",
                      "title"
                    ]
                  },
                  "description": "Custom action",
                  "title": "Custom action"
                }
              },
              "required": [
                "contents"
              ]
            }
          }
        ]
      }
    },
    "/badges": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of badges",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all badges",
        "description": "Get all badges",
        "operationId": "GetAllBadges",
        "parameters": []
      }
    },
    "/badges/{badgeId}/levels": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of badge levels",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "badgeId": {
                    "type": "string",
                    "description": "badgeId"
                  },
                  "level": {
                    "type": "integer",
                    "format": "int32",
                    "description": "level"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get badge levels",
        "description": "Get badge levels",
        "operationId": "GetBadgeLevels",
        "parameters": [
          {
            "name": "badgeId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "A unique identifier of a badge",
            "x-ms-summary": "Badge Id"
          }
        ]
      }
    },
    "/medias": {
      "post": {
        "responses": {
          "200": {
            "description": "A media unique identifier",
            "schema": {
              "type": "object",
              "properties": {
                "mediaId": {
                  "type": "string",
                  "description": "A media unique identifier",
                  "title": "Media Id"
                }
              }
            }
          }
        },
        "summary": "Upload a media",
        "description": "Upload a media (media or mediaUrl in form-data) to use during the creation of an internal news",
        "operationId": "UploadMedia",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "media",
            "in": "formData",
            "required": false,
            "type": "file",
            "x-ms-media-kind": "image",
            "description": "The media to be uploaded",
            "x-ms-summary": "Media"
          },
          {
            "name": "mediaUrl",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The url of a media to be uploaded",
            "x-ms-summary": "Media URL"
          }
        ]
      }
    },
    "/segmentations": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of segmentation groups",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "userCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "userCount"
                  },
                  "creationDate": {
                    "type": "string",
                    "description": "creationDate"
                  },
                  "creatorId": {
                    "type": "string",
                    "description": "creatorId"
                  },
                  "creatorFirstname": {
                    "type": "string",
                    "description": "creatorFirstname"
                  },
                  "creatorLastname": {
                    "type": "string",
                    "description": "creatorLastname"
                  }
                }
              }
            }
          }
        },
        "summary": "Get segmentation groups",
        "description": "Get segmentation groups",
        "operationId": "GetSegmentationGroups",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/segmentations/{segmentationId}/groups": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of groups",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "userCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "userCount"
                  },
                  "creationDate": {
                    "type": "string",
                    "description": "creationDate"
                  },
                  "creatorId": {
                    "type": "string",
                    "description": "creatorId"
                  },
                  "creatorFirstname": {
                    "type": "string",
                    "description": "creatorFirstname"
                  },
                  "creatorLastname": {
                    "type": "string",
                    "description": "creatorLastname"
                  },
                  "isTerminalNode": {
                    "type": "boolean",
                    "description": "isTerminalNode"
                  }
                }
              }
            }
          }
        },
        "summary": "Get groups for a segmentation",
        "operationId": "GetGroupsSegmentation",
        "description": "Get groups for a segmentation",
        "parameters": [
          {
            "name": "segmentationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "internal"
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Assign a group to users",
        "description": "Assign a group to users",
        "operationId": "AssignGroupUsers",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "segmentationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetSegmentationGroups",
              "value-path": "id",
              "value-title": "name"
            },
            "description": "Choose a segmentation",
            "x-ms-summary": "Segmentation",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "assignments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "assignedUserEmail": {
                        "type": "string",
                        "description": "The username of the user",
                        "title": "User"
                      },
                      "groupId": {
                        "type": "string",
                        "description": "The group to be assigned",
                        "title": "Group",
                        "x-ms-dynamic-values": {
                          "operationId": "GetGroupsSegmentation",
                          "value-path": "id",
                          "value-title": "name",
                          "parameters": {
                            "segmentationId": {
                              "parameter": "segmentationId"
                            }
                          }
                        }
                      }
                    }
                  },
                  "description": "Assignment",
                  "title": "Assignment"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/mediafolders": {
      "get": {
        "responses": {
          "200": {
            "description": "An array of folders",
            "schema": {
              "type": "object",
              "properties": {
                "folders": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier of the folder",
                        "title": "Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the folder",
                        "title": "Name"
                      }
                    }
                  },
                  "description": "folders"
                }
              }
            }
          }
        },
        "summary": "Get Media Drive folders",
        "description": "Get Media Drive folders",
        "operationId": "GetMediaFolders",
        "parameters": [
          {
            "name": "culture",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The culture in which you want the default folders to be returned",
            "x-ms-summary": "Culture"
          }
        ]
      }
    },
    "/mediafolders/{folderId}/medias": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Upload a file to a Media Drive folder",
        "description": "Upload a file to a Media Drive folder",
        "operationId": "UploadFileFolder",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "media",
            "in": "formData",
            "required": true,
            "type": "file",
            "x-ms-media-kind": "image",
            "description": "The media to be uploaded",
            "x-ms-summary": "Media"
          },
          {
            "name": "folderId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetMediaFolders",
              "value-path": "id",
              "value-collection": "folders",
              "value-title": "name"
            },
            "description": "Choose a folder",
            "x-ms-summary": "Folder,",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.sociabble.com"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.sociabble.com/fr/privacy-policy/"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Website"
      }
    ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}