{
  "swagger": "2.0",
  "info": {
    "title": "SAP ODATA [Sample] Connector",
    "description": "SAP ODATA Demo using a custom connector.  This connects to the sample ODATA service provided by SAP. This connector is provided as a sample as-is, for illustrative purpose only.",
    "version": "1.0"
  },
  "host": "sapes5.sapdevcenter.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/ProductSet": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/Product"
                      },
                      "description": "results"
                    }
                  },
                  "description": "d"
                }
              }
            },
            "headers": {
              "x-csrf-token": {
                "description": "x-csrf-token",
                "type": "string",
                "format": "password"
              },
              "Set-Cookie": {
                "description": "Set-Cookie",
                "type": "string",
                "format": "password"
              }
            }
          }
        },
        "summary": "List product sets",
        "operationId": "ListProductSets",
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/x-csrf-token"
          }
        ],
        "description": "Fetch the list of products"
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add product",
        "operationId": "AddProduct",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/x-csrf-token-update"
          },
          {
            "$ref": "#/parameters/x-ms-cookie-header"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductForCreate"
            }
          }
        ],
        "description": "Add a product"
      }
    },
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/ProductSet('{id}')": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/Product"
                }
              }
            },
            "headers": {
              "x-csrf-token": {
                "description": "x-csrf-token",
                "type": "string",
                "format": "password"
              },
              "Set-Cookie": {
                "description": "Set-Cookie",
                "type": "string",
                "format": "password"
              }
            }
          }
        },
        "summary": "Get product",
        "description": "Retrieve a product",
        "operationId": "GetProduct",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/x-csrf-token"
          },
          {
            "$ref": "#/parameters/format"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update product",
        "operationId": "UpdateProduct",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Product ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "$ref": "#/parameters/x-csrf-token-update"
          },
          {
            "$ref": "#/parameters/x-ms-cookie-header"
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "E-Tag",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ],
        "description": "Update a product"
      }
    },
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/SalesOrderSet": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SalesOrder"
                      },
                      "description": "results"
                    }
                  },
                  "description": "d"
                }
              }
            },
            "headers": {
              "x-csrf-token": {
                "description": "x-csrf-token",
                "type": "string",
                "format": "password"
              },
              "Set-Cookie": {
                "description": "Set-Cookie",
                "type": "string",
                "format": "password"
              }
            }
          }
        },
        "summary": "List Sales Orders",
        "operationId": "ListSalesOrders",
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/x-csrf-token"
          }
        ],
        "description": "Fetch the list of Sales Orders"
      }
    },
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/SalesOrderSet('{id}')": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/SalesOrder"
                }
              }
            },
            "headers": {
              "x-csrf-token": {
                "description": "x-csrf-token",
                "type": "string",
                "format": "password"
              },
              "Set-Cookie": {
                "description": "Set-Cookie",
                "type": "string",
                "format": "password"
              }
            }
          }
        },
        "summary": "Get sales order",
        "operationId": "GetSalesOrder",
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/x-csrf-token"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Retrieve a Sales Order"
      }
    },
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/BusinessPartnerSet": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/BusinessPartner"
                      },
                      "description": "results"
                    }
                  },
                  "description": "d"
                }
              }
            },
            "headers": {
              "x-csrf-token": {
                "description": "x-csrf-token",
                "type": "string",
                "format": "password"
              },
              "Set-Cookie": {
                "description": "Set-Cookie",
                "type": "string",
                "format": "password"
              }
            }
          }
        },
        "summary": "List Business Partners",
        "operationId": "ListBusinessPartner",
        "parameters": [
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/filter"
          },
          {
            "$ref": "#/parameters/top"
          },
          {
            "$ref": "#/parameters/skip"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/x-csrf-token"
          }
        ],
        "description": "Fetch the list of Business Partners"
      }
    },
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/BusinessPartnerSet('{id}')": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "$ref": "#/definitions/BusinessPartner"
                }
              }
            },
            "headers": {
              "x-csrf-token": {
                "description": "x-csrf-token",
                "type": "string",
                "format": "password"
              },
              "Set-Cookie": {
                "description": "Set-Cookie",
                "type": "string",
                "format": "password"
              }
            }
          }
        },
        "summary": "Get partner",
        "description": "Retrieve a business partner",
        "operationId": "GetBusinessPartner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/format"
          },
          {
            "$ref": "#/parameters/x-csrf-token"
          }
        ]
      }
    },
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/VH_ProductTypeCodeSet": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "uri": {
                                "type": "string",
                                "description": "uri"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              }
                            },
                            "description": "__metadata"
                          },
                          "TypeCode": {
                            "type": "string",
                            "description": "TypeCode"
                          },
                          "Shorttext": {
                            "type": "string",
                            "description": "Shorttext"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "d"
                }
              }
            }
          }
        },
        "summary": "List product type codes",
        "operationId": "ListProductTypeCode",
        "parameters": [
          {
            "name": "$format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "Retrieves the list of valid type codes"
      }
    },
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/VH_CategorySet": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "uri": {
                                "type": "string",
                                "description": "uri"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              }
                            },
                            "description": "__metadata"
                          },
                          "Category": {
                            "type": "string",
                            "description": "Category"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "d"
                }
              }
            }
          }
        },
        "summary": "List product categories",
        "description": "Retrieve a list of product categories",
        "operationId": "ListProductCategory",
        "parameters": [
          {
            "name": "$format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/VH_CurrencySet": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "uri": {
                                "type": "string",
                                "description": "uri"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              }
                            },
                            "description": "__metadata"
                          },
                          "Waers": {
                            "type": "string",
                            "description": "Waers"
                          },
                          "Ltext": {
                            "type": "string",
                            "description": "Ltext"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "d"
                }
              }
            }
          }
        },
        "summary": "List currency codes",
        "operationId": "ListCurrencyCode",
        "parameters": [
          {
            "name": "$format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "Retrieves a list of currency code"
      }
    },
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/VH_UnitQuantitySet": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "uri": {
                                "type": "string",
                                "description": "uri"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              }
                            },
                            "description": "__metadata"
                          },
                          "Msehi": {
                            "type": "string",
                            "description": "Msehi"
                          },
                          "Msehl": {
                            "type": "string",
                            "description": "Msehl"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "d"
                }
              }
            }
          }
        },
        "summary": "List measure unit",
        "operationId": "ListMeasureUnit",
        "description": "Retrieve a list of measure units",
        "parameters": [
          {
            "name": "$format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/VH_UnitWeightSet": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "uri": {
                                "type": "string",
                                "description": "uri"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              }
                            },
                            "description": "__metadata"
                          },
                          "Msehi": {
                            "type": "string",
                            "description": "Msehi"
                          },
                          "Msehl": {
                            "type": "string",
                            "description": "Msehl"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "d"
                }
              }
            }
          }
        },
        "summary": "List weight units",
        "operationId": "ListWeightUnit",
        "description": "Retrieves a list of weight units",
        "parameters": [
          {
            "name": "$format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/sap/opu/odata/iwbep/GWSAMPLE_BASIC/VH_UnitLengthSet": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "d": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "__metadata": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "uri": {
                                "type": "string",
                                "description": "uri"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              }
                            },
                            "description": "__metadata"
                          },
                          "Msehi": {
                            "type": "string",
                            "description": "Msehi"
                          },
                          "Msehl": {
                            "type": "string",
                            "description": "Msehl"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "d"
                }
              }
            }
          }
        },
        "summary": "List length units",
        "description": "Retrieves a list of length units",
        "operationId": "ListLengthUnit",
        "parameters": [
          {
            "name": "$format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {
    "__metadata": {
      "readOnly": true,
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "id"
        },
        "uri": {
          "type": "string",
          "description": "uri"
        },
        "type": {
          "type": "string",
          "description": "type"
        },
        "etag": {
          "type": "string",
          "description": "etag"
        }
      },
      "description": "__metadata"
    },
    "ProductForCreate": {
      "description": "Product with only creatable fields",
      "type": "object",
      "properties": {
        "ProductID": {
          "type": "string",
          "title": "Product ID"
        },
        "TypeCode": {
          "$ref": "#/definitions/TypeCode"
        },
        "Category": {
          "$ref": "#/definitions/Category"
        },
        "Name": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "SupplierID": {
          "$ref": "#/definitions/SupplierID"
        },
        "TaxTarifCode": {
          "type": "integer",
          "format": "int32",
          "description": "Specify 1 for default",
          "title": "Product Tax Code"
        },
        "MeasureUnit": {
          "$ref": "#/definitions/MeasureUnit"
        },
        "WeightMeasure": {
          "type": "string"
        },
        "WeightUnit": {
          "$ref": "#/definitions/WeightUnit"
        },
        "CurrencyCode": {
          "$ref": "#/definitions/CurrencyCode"
        },
        "Price": {
          "type": "string"
        },
        "Width": {
          "type": "string"
        },
        "Depth": {
          "type": "string"
        },
        "Height": {
          "type": "string"
        },
        "DimUnit": {
          "$ref": "#/definitions/DimUnit"
        }
      },
      "required": [
        "Category",
        "Name",
        "TypeCode",
        "CurrencyCode",
        "ProductID",
        "TaxTarifCode",
        "Price",
        "SupplierID"
      ]
    },
    "Product": {
      "description": "Product",
      "type": "object",
      "properties": {
        "__metadata": {
          "$ref": "#/definitions/__metadata"
        },
        "ProductID": {
          "type": "string",
          "readOnly": true,
          "title": "Product ID"
        },
        "TypeCode": {
          "$ref": "#/definitions/TypeCode"
        },
        "Category": {
          "$ref": "#/definitions/Category"
        },
        "Name": {
          "type": "string"
        },
        "NameLanguage": {
          "type": "string",
          "readOnly": true,
          "title": "Name Language"
        },
        "Description": {
          "type": "string"
        },
        "DescriptionLanguage": {
          "type": "string",
          "readOnly": true,
          "title": "Description Language"
        },
        "SupplierID": {
          "$ref": "#/definitions/SupplierID"
        },
        "SupplierName": {
          "type": "string",
          "readOnly": true,
          "title": "Supplier Name"
        },
        "TaxTarifCode": {
          "type": "integer",
          "format": "int32",
          "description": "Specify 1 for default",
          "title": "Product Tax Code"
        },
        "MeasureUnit": {
          "$ref": "#/definitions/MeasureUnit"
        },
        "WeightMeasure": {
          "type": "string",
          "title": "Weight Measure"
        },
        "WeightUnit": {
          "$ref": "#/definitions/WeightUnit"
        },
        "CurrencyCode": {
          "$ref": "#/definitions/CurrencyCode"
        },
        "Price": {
          "type": "string"
        },
        "Width": {
          "type": "string"
        },
        "Depth": {
          "type": "string"
        },
        "Height": {
          "type": "string"
        },
        "DimUnit": {
          "$ref": "#/definitions/DimUnit"
        },
        "CreatedAt": {
          "type": "string",
          "readOnly": true,
          "title": "Created At"
        },
        "ChangedAt": {
          "type": "string",
          "readOnly": true,
          "title": "Changed At"
        }
      }
    },
    "SalesOrder": {
      "description": "Sales Order",
      "type": "object",
      "properties": {
        "__metadata": {
          "$ref": "#/definitions/__metadata"
        },
        "SalesOrderID": {
          "type": "string",
          "readOnly": true,
          "title": "Sales Order ID"
        },
        "Note": {
          "type": "string",
          "description": "Note"
        },
        "NoteLanguage": {
          "type": "string",
          "readOnly": true,
          "title": "Note Language"
        },
        "CustomerID": {
          "type": "string",
          "title": "Customer ID"
        },
        "CustomerName": {
          "type": "string",
          "readOnly": true,
          "title": "Customer Name"
        },
        "CurrencyCode": {
          "type": "string",
          "title": "Currency Code"
        },
        "GrossAmount": {
          "type": "string",
          "readOnly": true,
          "title": "Gross Amount"
        },
        "NetAmount": {
          "type": "string",
          "readOnly": true,
          "title": "Net Amount"
        },
        "TaxAmount": {
          "type": "string",
          "readOnly": true,
          "title": "Tax Amount"
        },
        "LifecycleStatus": {
          "type": "string",
          "readOnly": true,
          "title": "Lifecycle Status"
        },
        "LifecycleStatusDescription": {
          "type": "string",
          "readOnly": true,
          "title": "Lifecycle Status Description"
        },
        "BillingStatus": {
          "type": "string",
          "readOnly": true,
          "title": "Billing Status"
        },
        "BillingStatusDescription": {
          "type": "string",
          "readOnly": true,
          "title": "Billing Status Description"
        },
        "DeliveryStatus": {
          "type": "string",
          "readOnly": true,
          "title": "Delivery Status"
        },
        "DeliveryStatusDescription": {
          "type": "string",
          "readOnly": true,
          "title": "Delivery Status Description"
        },
        "CreatedAt": {
          "type": "string",
          "readOnly": true,
          "title": "Created At"
        },
        "ChangedAt": {
          "type": "string",
          "readOnly": true,
          "title": "Changed At"
        }
      }
    },
    "BusinessPartner": {
      "description": "Business Partner",
      "type": "object",
      "properties": {
        "__metadata": {
          "$ref": "#/definitions/__metadata"
        },
        "Address": {
          "type": "object",
          "properties": {
            "__metadata": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                }
              },
              "description": "__metadata"
            },
            "City": {
              "type": "string",
              "description": "City"
            },
            "PostalCode": {
              "type": "string",
              "description": "PostalCode"
            },
            "Street": {
              "type": "string",
              "description": "Street"
            },
            "Building": {
              "type": "string",
              "description": "Building"
            },
            "Country": {
              "type": "string",
              "description": "Country"
            },
            "AddressType": {
              "type": "string",
              "description": "AddressType"
            }
          },
          "description": "Address"
        },
        "BusinessPartnerID": {
          "type": "string",
          "readOnly": true,
          "title": "Business Partner ID"
        },
        "CompanyName": {
          "type": "string",
          "title": "Company Name"
        },
        "WebAddress": {
          "type": "string",
          "title": "Web Address"
        },
        "EmailAddress": {
          "type": "string",
          "title": "Email Address"
        },
        "PhoneNumber": {
          "type": "string",
          "title": "Phone Number"
        },
        "FaxNumber": {
          "type": "string",
          "title": "Fax Number"
        },
        "LegalForm": {
          "type": "string",
          "title": "Legal Form"
        },
        "CurrencyCode": {
          "type": "string",
          "title": "Currency Code"
        },
        "BusinessPartnerRole": {
          "type": "string",
          "title": "Business Partner Role"
        },
        "CreatedAt": {
          "type": "string",
          "readOnly": true,
          "title": "Created At"
        },
        "ChangedAt": {
          "type": "string",
          "readOnly": true,
          "title": "Changed At"
        }
      }
    },
    "TypeCode": {
      "type": "string",
      "description": "TypeCode",
      "title": "Type Code",
      "x-ms-dynamic-values": {
        "operationId": "ListProductTypeCode",
        "value-path": "TypeCode",
        "value-collection": "d/results",
        "value-title": "Shorttext",
        "parameters": {
          "$format": "json"
        }
      }
    },
    "Category": {
      "type": "string",
      "description": "Category",
      "x-ms-dynamic-values": {
        "operationId": "ListProductCategory",
        "value-path": "Category",
        "value-collection": "d/results",
        "value-title": "Category",
        "parameters": {
          "$format": "json"
        }
      }
    },
    "SupplierID": {
      "type": "string",
      "description": "SupplierID",
      "title": "Supplier ID"
    },
    "MeasureUnit": {
      "type": "string",
      "description": "MeasureUnit",
      "title": "Unit of Measure",
      "x-ms-dynamic-values": {
        "operationId": "ListMeasureUnit",
        "value-path": "Msehi",
        "value-collection": "d/results",
        "value-title": "Msehl",
        "parameters": {
          "$format": "json"
        }
      }
    },
    "WeightUnit": {
      "type": "string",
      "description": "WeightUnit",
      "title": "Weight unit",
      "x-ms-dynamic-values": {
        "operationId": "ListWeightUnit",
        "value-path": "Msehi",
        "value-collection": "d/results",
        "value-title": "Msehl",
        "parameters": {
          "$format": "json"
        }
      }
    },
    "CurrencyCode": {
      "type": "string",
      "description": "CurrencyCode",
      "title": "Currency Code",
      "x-ms-dynamic-values": {
        "operationId": "ListCurrencyCode",
        "value-path": "Waers",
        "value-collection": "d/results",
        "value-title": "Ltext",
        "parameters": {
          "$format": "json"
        }
      }
    },
    "DimUnit": {
      "type": "string",
      "description": "DimUnit",
      "title": "Dimension unit",
      "x-ms-dynamic-values": {
        "operationId": "ListLengthUnit",
        "value-path": "Msehi",
        "value-collection": "d/results",
        "value-title": "Msehl",
        "parameters": {
          "$format": "json"
        }
      }
    }
  },
  "parameters": {
    "format": {
      "name": "$format",
      "in": "query",
      "required": true,
      "type": "string",
      "default": "json",
      "x-ms-visibility": "internal"
    },
    "filter": {
      "name": "$filter",
      "in": "query",
      "required": false,
      "type": "string"
    },
    "top": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "number"
    },
    "skip": {
      "name": "$skip",
      "in": "query",
      "required": false,
      "type": "number"
    },
    "select": {
      "name": "$select",
      "in": "query",
      "required": false,
      "type": "string"
    },
    "x-csrf-token": {
      "name": "x-csrf-token",
      "in": "header",
      "required": false,
      "type": "string",
      "enum": [
        "fetch"
      ]
    },
    "x-csrf-token-update": {
      "name": "x-csrf-token",
      "in": "header",
      "required": true,
      "type": "string",
      "format": "password"
    },
    "x-ms-cookie-header": {
      "name": "x-ms-cookie-header",
      "in": "header",
      "required": true,
      "type": "string",
      "format": "password"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": []
}