{
  "consumes": ["application/json"],
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "WooCommerce",
    "description": "WooCommerce is a free, open-source commerce platform for WordPress. It empowers anyone, anywhere, to sell anything – with unlimited extensibility, flexibility, and control.",
    "contact": {
      "name": "Reenhanced Team",
      "url": "https://reenhanced.com/contact",
      "email": "support@reenhanced.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.reenhanced.com/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://reenhanced.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce"
    }
  ],
  "host": "we.buildbettersoftware.com",
  "basePath": "/woo",
  "responses": {
    "400": {
      "description": "Bad Request"
    },
    "401": {
      "description": "Unauthorized"
    },
    "403": {
      "description": "Unauthorized"
    },
    "429": {
      "description": "Throttled"
    },
    "500": {
      "description": "Server Error"
    }
  },
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "License-Authorization"
    }
  },
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "API Key": []
    }
  ],
  "paths": {
    "/domains": {
      "get": {
        "summary": "(private) Get list of domains",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "schema": {
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "format": "int32",
                    "type": "integer"
                  }
                }
              },
              "type": "array"
            },
            "description": "List of licensed domains"
          }
        },
        "x-ms-visibility": "internal",
        "operationId": "GetDomains",
        "description": "Returns licensed domains"
      }
    },
    "/proxy/woopower/v1/resources": {
      "get": {
        "operationId": "GetResources",
        "summary": "Get a list of resource types we can work with",
        "description": "Gets a list of resources",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "schema_path": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proxy/woopower/v1/webhook_topics": {
      "get": {
        "operationId": "GetTriggerTopics",
        "summary": "Get a list of trigger options",
        "description": "Gets a list of trigger options",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "schema_path",
            "in": "query",
            "description": "Specify the type of resource to work with",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proxy/{schema_path}/{id}": {
      "get": {
        "operationId": "GetResourceById",
        "summary": "Get a single item of the selected type",
        "description": "Fetchs an item of the selected type from the store",
        "parameters": [
          {
            "name": "schema_path",
            "in": "path",
            "type": "string",
            "x-ms-summary": "Resource Type",
            "x-ms-url-encoding": "single",
            "description": "Specify the type of resource the Resource ID refers to",
            "x-ms-visibility": "important",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetResources",
              "value-title": "name",
              "value-path": "schema_path"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetResources",
              "itemValuePath": "schema_path",
              "itemTitlePath": "name"
            }
          },
          {
            "name": "id",
            "in": "path",
            "type": "number",
            "x-ms-url-encoding": "single",
            "required": true,
            "x-ms-summary": "Resource ID",
            "description": "Specify the ID of the resource you wish to get"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "parameterReference": "schema_path"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteResource",
        "summary": "Delete an item of the specified type",
        "description": "Deletes an item of the specified type and id",
        "parameters": [
          {
            "name": "schema_path",
            "in": "path",
            "type": "string",
            "x-ms-summary": "Resource Type",
            "x-ms-url-encoding": "single",
            "description": "Specify the type of resource to work with",
            "x-ms-visibility": "important",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetResources",
              "value-title": "name",
              "value-path": "schema_path"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetResources",
              "itemValuePath": "schema_path",
              "itemTitlePath": "name"
            }
          },
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "x-ms-summary": "Resource ID",
            "description": "The ID of the resource",
            "x-ms-visibility": "important",
            "type": "number"
          },
          {
            "name": "force",
            "x-ms-summary": "Force deletion?",
	    "description": "Set to TRUE if the record should be forced to be removed.",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "patch": {
        "operationId": "UpdateResource",
        "summary": "Update an item of the specified type",
        "description": "Updates an item using specified parameters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "x-ms-summary": "Resource ID",
            "description": "The ID of the resource",
            "x-ms-visibility": "important",
            "type": "number"
          },
          {
            "name": "schema_path",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "x-ms-summary": "Resource Type",
            "description": "Specify the type of resource to work with",
            "x-ms-visibility": "important",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetResources",
              "value-title": "name",
              "value-path": "schema_path"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetResources",
              "itemValuePath": "schema_path",
              "itemTitlePath": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "post",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "parameterReference": "schema_path"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "parameterReference": "schema_path"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proxy/{schema_path}": {
      "get": {
        "operationId": "GetItemsByResource",
        "summary": "Find a list of the selected item type",
        "description": "Gets a list of items of the selected type from the store",
        "parameters": [
          {
            "name": "schema_path",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "x-ms-summary": "Resource Type",
            "description": "Specify the type of resource to work with",
            "x-ms-visibility": "important",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetResources",
              "value-title": "name",
              "value-path": "schema_path"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetResources",
              "itemValuePath": "schema_path",
              "itemTitlePath": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "get",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "parameterReference": "schema_path"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "x-ms-dynamic-properties": {
                  "operationId": "ResourceSchema",
                  "itemValuePath": "schema",
                  "parameters": {
                    "x-reenhanced-proxy-action": {
                      "value": "schema-converter"
                    },
                    "schema_path": {
                      "parameterReference": "schema_path"
                    },
                    "x-reenhanced-proxy-method": {
                      "value": "options"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateResource",
        "summary": "Create a new item of the specified type",
        "description": "Creates an item using specified parameters",
        "parameters": [
          {
            "name": "schema_path",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "x-ms-summary": "Resource Type",
            "description": "Specify the type of resource to work with",
            "x-ms-visibility": "important",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "GetResources",
              "value-title": "name",
              "value-path": "schema_path"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetResources",
              "itemValuePath": "schema_path",
              "itemTitlePath": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "post",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "parameterReference": "schema_path"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "parameterReference": "schema_path"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      },
      "options": {
        "operationId": "ResourceSchema",
        "summary": "Retrieve schema for the resource type given",
        "description": "This is where the magic happens",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "schema_path",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-reenhanced-proxy-action",
            "in": "header",
            "type": "string",
            "default": "schema-converter",
            "enum": [
              "schema-converter"
            ],
            "required": true
          },
          {
            "name": "x-reenhanced-proxy-method",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "get": {
                  "type": "object"
                },
                "post": {
                  "type": "object"
                },
                "schema": {
                  "type": "object"
                },
                "delete": {
                  "type": "object"
                },
                "patch": {
                  "type": "object"
                }
              }
            }

          }
        }
      }
    },
    "/proxy/woopower/v1/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "x-ms-dynamic-properties": {
            "operationId": "ResourceSchema",
            "itemValuePath": "schema",
            "parameters": {
              "schema_path": {
                "parameterReference": "body/webhook_resource_schema"
              },
              "x-reenhanced-proxy-action": {
                "value": "schema-converter"
              },
              "x-reenhanced-proxy-method": {
                "value": "options"
              }
            }
          },
          "type": "object"
        }
      },
      "post": {
        "operationId": "CreateWebhook",
        "summary": "When a WooCommerce event happens",
        "description": "Select events across Coupons, Customers, Orders, Order Notes, Products, Subscriptions and more",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, perform the selected event in WooCommerce",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "topic",
                "delivery_url",
                "webhook_resource_schema"
              ],
              "type": "object",
              "properties": {
                "webhook_resource_schema": {
                  "type": "string",
                  "x-ms-summary": "Resource Type",
                  "description": "Specify the type of resource to work with",
                  "x-ms-dynamic-values": {
                    "operationId": "GetResources",
                    "value-title": "name",
                    "value-path": "schema_path"
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetResources",
                    "itemValuePath": "schema_path",
                    "itemTitlePath": "name"
                  }
                },
                "topic": {
                  "type": "string",
                  "x-ms-summary": "Trigger Event",
                  "x-ms-dynamic-list": {
                    "operationId": "GetTriggerTopics",
                    "itemValuePath": "key",
                    "itemTitlePath": "name",
                    "parameters": {
                      "schema_path": {
                        "parameterReference": "body/webhook_resource_schema"
                      }
                    }
                  }
                },
                "delivery_url": {
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/proxy/woopower/v1/products": {
      "get": {
        "operationId": "GetProducts",
        "summary": "Fetch a list of products",
        "description": "Fetchs a list of products from the store",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "get",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/products"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "x-ms-dynamic-properties": {
                  "operationId": "ResourceSchema",
                  "itemValuePath": "schema",
                  "parameters": {
                    "x-reenhanced-proxy-action": {
                      "value": "schema-converter"
                    },
                    "schema_path": {
                      "value": "/woopower/v1/products"
                    },
                    "x-reenhanced-proxy-method": {
                      "value": "options"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateProduct",
        "summary": "Create a new Product",
        "description": "Creates a product using specified parameters",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "post",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/products"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/products"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proxy/woopower/v1/products/{id}": {
      "get": {
        "operationId": "GetAProduct",
        "summary": "Get a single product",
        "description": "Gets a product from the store",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Product Id",
            "required": true,
            "description": "Enter the ID of the product",
            "type": "number"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "get",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/products/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "x-ms-dynamic-properties": {
                  "operationId": "ResourceSchema",
                  "itemValuePath": "schema",
                  "parameters": {
                    "x-reenhanced-proxy-action": {
                      "value": "schema-converter"
                    },
                    "schema_path": {
                      "value": "/woopower/v1/products/1"
                    },
                    "x-reenhanced-proxy-method": {
                      "value": "options"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "UpdateAProduct",
        "summary": "Update an existing Product",
        "description": "Make changes to a product using specified parameters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "x-ms-summary": "Product Id",
            "description": "Enter the ID of the Product",
            "type": "number"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "post",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/products"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/products"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proxy/woopower/v1/customers": {
      "get": {
        "operationId": "GetCustomers",
        "summary": "Fetch a list of customers",
        "description": "Fetchs a list of customers from the store",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "get",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/customers"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "x-ms-dynamic-properties": {
                  "operationId": "ResourceSchema",
                  "itemValuePath": "schema",
                  "parameters": {
                    "x-reenhanced-proxy-action": {
                      "value": "schema-converter"
                    },
                    "schema_path": {
                      "value": "/woopower/v1/customers"
                    },
                    "x-reenhanced-proxy-method": {
                      "value": "options"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateCustomer",
        "summary": "Create a new Customer",
        "description": "Creates a customer using specified parameters",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "post",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/customers"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/customers"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proxy/woopower/v1/customers/{id}": {
      "get": {
        "operationId": "GetACustomer",
        "summary": "Get a single customer",
        "description": "Gets a customer from the store",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Customer Id",
            "required": true,
            "description": "Enter the ID of the customer",
            "type": "number"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "get",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/customers/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/customers/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "UpdateACustomer",
        "summary": "Update an existing Customer",
        "description": "Make changes to a customer using specified parameters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "x-ms-summary": "Customer Id",
            "description": "Enter the ID of the Customer",
            "type": "number"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "post",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/customers/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/customers/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proxy/woopower/v1/orders": {
      "get": {
        "operationId": "GetOrders",
        "summary": "Fetch a list of orders",
        "description": "Fetchs a list of orders from the store",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "get",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/orders"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "x-ms-dynamic-properties": {
                  "operationId": "ResourceSchema",
                  "itemValuePath": "schema",
                  "parameters": {
                    "x-reenhanced-proxy-action": {
                      "value": "schema-converter"
                    },
                    "schema_path": {
                      "value": "/woopower/v1/orders"
                    },
                    "x-reenhanced-proxy-method": {
                      "value": "options"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateOrder",
        "summary": "Create a new Order",
        "description": "Creates an order using specified parameters",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "post",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/orders"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/orders"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proxy/woopower/v1/orders/{id}": {
      "get": {
        "operationId": "GetAnOrder",
        "summary": "Get a single order",
        "description": "Gets an order from the store",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Order Id",
            "required": true,
            "description": "Enter the ID of the order",
            "type": "number"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "get",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/orders/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/orders/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "UpdateAnOrder",
        "summary": "Update an existing Order",
        "description": "Make changes to an order using specified parameters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "x-ms-summary": "Order Id",
            "description": "Enter the ID of the Order",
            "type": "number"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "post",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/orders/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/orders/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proxy/woopower/v1/coupons": {
      "get": {
        "operationId": "GetCoupons",
        "summary": "Fetch a list of coupons",
        "description": "Fetchs a list of coupons from the store",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "get",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/coupons"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "type": "array",
              "items": {
                "x-ms-dynamic-properties": {
                  "operationId": "ResourceSchema",
                  "itemValuePath": "schema",
                  "parameters": {
                    "x-reenhanced-proxy-action": {
                      "value": "schema-converter"
                    },
                    "schema_path": {
                      "value": "/woopower/v1/coupons"
                    },
                    "x-reenhanced-proxy-method": {
                      "value": "options"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "CreateCoupon",
        "summary": "Create a new Coupon",
        "description": "Creates a coupon using specified parameters",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "post",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/coupons"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/coupons"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/proxy/woopower/v1/coupons/{id}": {
      "get": {
        "operationId": "GetACoupon",
        "summary": "Get a single coupon",
        "description": "Gets a coupon from the store",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Coupon Id",
            "required": true,
            "description": "Enter the ID of the coupon",
            "type": "number"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "get",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/coupons/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/coupons/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "UpdateACoupon",
        "summary": "Update an existing coupon",
        "description": "Make changes to a coupon using specified parameters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "x-ms-summary": "Coupon Id",
            "description": "Enter the ID of the Couipon",
            "type": "number"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "post",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/coupons/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "x-ms-dynamic-properties": {
                "operationId": "ResourceSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "x-reenhanced-proxy-action": {
                    "value": "schema-converter"
                  },
                  "schema_path": {
                    "value": "/woopower/v1/coupons/1"
                  },
                  "x-reenhanced-proxy-method": {
                    "value": "options"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": []
}
