{
  "swagger": "2.0",
  "info": {
    "title": "NumlookupAPI",
    "description": "Automate your phone number verification process by checking carrier information with our free and worldwide phone number lookup service.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.numlookupapi.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/validate/{phone_number}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "valid": {
                  "type": "boolean",
                  "description": "Whether valid.",
                  "title": "Valid"
                },
                "number": {
                  "type": "string",
                  "description": "The number.",
                  "title": "Number"
                },
                "local_format": {
                  "type": "string",
                  "description": "The local format.",
                  "title": "Local Format"
                },
                "international_format": {
                  "type": "string",
                  "description": "The international format.",
                  "title": "International Format"
                },
                "country_prefix": {
                  "type": "string",
                  "description": "The country prefix.",
                  "title": "Country Prefix"
                },
                "country_code": {
                  "type": "string",
                  "description": "The country code.",
                  "title": "Country Code"
                },
                "country_name": {
                  "type": "string",
                  "description": "The country name.",
                  "title": "Country Name"
                },
                "location": {
                  "type": "string",
                  "description": "The location.",
                  "title": "Location"
                },
                "carrier": {
                  "type": "string",
                  "description": "The carrier.",
                  "title": "Carrier"
                },
                "line_type": {
                  "type": "string",
                  "description": "The line type.",
                  "title": "Line Type"
                }
              }
            }
          }
        },
        "summary": "Validate phone number",
        "description": "Validates any given phone number and returns its carrier and location information.",
        "operationId": "NumberGet",
        "parameters": [
          {
            "name": "phone_number",
            "in": "path",
            "x-ms-summary": "Phone Number",
            "x-ms-url-encoding": "single",
            "description": "The phone number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "country_code",
            "in": "query",
            "x-ms-summary": "Country Code",
            "description": "The country code.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/status": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "quotas": {
                  "type": "object",
                  "properties": {
                    "month": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total.",
                          "title": "Total"
                        },
                        "used": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The used number.",
                          "title": "Used"
                        },
                        "remaining": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The remaining number.",
                          "title": "Remaining"
                        }
                      },
                      "title": "Month"
                    }
                  },
                  "title": "Quotas"
                }
              }
            }
          }
        },
        "summary": "Check service status",
        "description": "Retrieve your current quota and usage.",
        "operationId": "StatusGet",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://numlookupapi.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://numlookupapi.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence;Communication"
    }
  ]
}