{
    "swagger": "2.0",
    "info": {
        "title": "Shopranos",
        "description": "Elevate your business with Shopranos, linking ERP to B2B eCommerce. Trigger notifications and streamline approvals effortlessly, boosting efficiency and control. Unleash automation possibilities, driving success through seamless integration.",
        "version": "v1.0.1",
        "contact": {
            "name": "Shopranos",
            "url": "https://www.shopranos.eu",
            "email": "support@shopranos.eu"
        }
    },
    "host": "platform.shopranos.eu",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://www.shopranos.eu"
        },
        {
            "propertyName": "Privacy Policy",
            "propertyValue": "https://www.shopranos.eu/privacy-policy"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Commerce"
        }
    ],
    "consumes": [],
    "produces": [],
    "paths": {
        "/api/AttributeSets": {
            "get": {
                "tags": [
                    "AttributeSets"
                ],
                "summary": "Attribute Set Query",
                "description": "Get attribute sets by search criteria",
                "operationId": "AttributeSets_GET_GetAll",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "x-ms-summary": "Title",
                        "description": "Query by title",
                        "in": "query",
                        "name": "Title",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "description": "Set the page number",
                        "name": "Page",
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Page"
                    },
                    {
                        "in": "query",
                        "name": "PageSize",
                        "description": "Set the page size",
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "Page Size"
                    },
                    {
                        "in": "query",
                        "name": "Sort",
                        "description": "Set sort field and direction",
                        "type": "string",
                        "x-ms-summary": "Sort"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AttributeSetDTO"
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "AttributeSets"
                ],
                "summary": "Attribute Set Create",
                "description": "Create attribute set",
                "operationId": "AttributeSets_POST_Create",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CreateAttributeSetDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/AttributeSetDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/AttributeSets/{id}": {
            "get": {
                "tags": [
                    "AttributeSets"
                ],
                "summary": "Attribute Set Get By Id",
                "description": "Get attribute set by id",
                "operationId": "AttributeSets_GET_GetById",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the attribute set",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AttributeSetDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "AttributeSets"
                ],
                "summary": "Attribute Set Delete",
                "description": "Delete attribute set",
                "operationId": "AttributeSets_DELETE_Delete",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the attribute set",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "AttributeSets"
                ],
                "summary": "Attribute Set Update",
                "description": "Update attribute set",
                "operationId": "AttributeSets_PUT_Update",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the attribute set"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UpdateAttributeSetDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AttributeSetDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/AttributeSets/Import": {
            "post": {
                "tags": [
                    "AttributeSets"
                ],
                "summary": "Attribute Set Import",
                "description": "Import attribute sets",
                "operationId": "AttributeSets_POST_Import",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AttributeSetDTO"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Attributes/{id}": {
            "get": {
                "tags": [
                    "Attributes"
                ],
                "summary": "Attribute Get By Id",
                "description": "Get attribute by id",
                "operationId": "Attributes_GET_GetById",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the attribute",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AttributeDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Attributes"
                ],
                "summary": "Attribute Delete",
                "description": "Delete attribute",
                "operationId": "Attributes_DELETE_Delete",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the attribute",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Attributes"
                ],
                "summary": "Attribute Update",
                "description": "Update attribute",
                "operationId": "Attributes_PUT_Update",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the attribute",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AttributeDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AttributeDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Attributes/code/{code}": {
            "get": {
                "tags": [
                    "Attributes"
                ],
                "summary": "Attribute Get By Code",
                "description": "Get attribute by code",
                "operationId": "Attributes_GET_GetByCode",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "code",
                        "x-ms-summary": "Code",
                        "description": "Set the code of the attribute",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AttributeDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Attributes": {
            "get": {
                "tags": [
                    "Attributes"
                ],
                "summary": "Attribute Query",
                "description": "Get attributes by search criteria",
                "operationId": "Attributes_GET_GetAll",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "Status",
                        "type": "string",
                        "x-ms-summary": "Status",
                        "description": "Set the status of the attribute",
                        "enum": [
                            "Draft",
                            "Active",
                            "Archived",
                            "ignore"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "Type",
                        "x-ms-summary": "Type",
                        "description": "Set the type of the attribute",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "IsFilterable",
                        "x-ms-summary": "Is Filterable",
                        "description": "Set the is filterable of the attribute",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "DisplayOnProduct",
                        "x-ms-summary": "Display On Product",
                        "description": "Set the display on product of the attribute",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "DisplayInList",
                        "x-ms-summary": "Display In List",
                        "description": "Set the display in list of the attribute",
                        "type": "boolean"
                    },
                    {
                        "in": "query",
                        "name": "Search",
                        "x-ms-summary": "Search",
                        "description": "Set the search of the attribute",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "Id",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the attribute",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "Page",
                        "type": "integer",
                        "x-ms-summary": "Page",
                        "description": "Set the page number",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "PageSize",
                        "x-ms-summary": "Page Size",
                        "description": "Set the page size",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "x-ms-summary": "Sort",
                        "description": "Set sort field and direction",
                        "name": "Sort",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/AttributeDTO"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Attributes"
                ],
                "summary": "Attribute Create",
                "description": "Create attribute",
                "operationId": "Attributes_POST_Create",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/AttributeDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/AttributeDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Attributes/import": {
            "post": {
                "tags": [
                    "Attributes"
                ],
                "summary": "Attributes Import",
                "description": "Import attributes",
                "operationId": "Attributes_POST_Import",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AttributeDTO"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Brands": {
            "get": {
                "tags": [
                    "Brands"
                ],
                "summary": "Brand Query",
                "description": "Get brands by search criteria",
                "operationId": "Brands_GET_GetAll",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "Status",
                        "type": "string",
                        "x-ms-summary": "Status",
                        "description": "Set the status of the brand",
                        "enum": [
                            "Draft",
                            "Active",
                            "Archived",
                            "ignore"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "Search",
                        "x-ms-summary": "Search",
                        "description": "Set the search of the brand",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "Code",
                        "x-ms-summary": "Code",
                        "description": "Set the code of the brand",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "Id",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the brand",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "Page",
                        "type": "integer",
                        "x-ms-summary": "Page",
                        "description": "Set the page number",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "PageSize",
                        "x-ms-summary": "Page Size",
                        "description": "Set the page size",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "x-ms-summary": "Sort",
                        "description": "Set sort field and direction",
                        "name": "Sort",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BrandDTO"
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Brands"
                ],
                "summary": "Brand Create",
                "description": "Create brand",
                "operationId": "Brands_POST_Add",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/BrandDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/BrandDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Brands/{brandId}": {
            "get": {
                "tags": [
                    "Brands"
                ],
                "summary": "Brand Get by Id",
                "description": "Get brand by id",
                "operationId": "Brands_GET_GetById",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "brandId",
                        "x-ms-summary": "Brand Id",
                        "description": "Set the id of the brand",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BrandDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Brands"
                ],
                "summary": "Brand Delete",
                "description": "Delete brand",
                "operationId": "Brands_DELETE_Delete",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "brandId",
                        "x-ms-summary": "Brand Id",
                        "description": "Set the id of the brand",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Brands"
                ],
                "summary": "Brand Update",
                "description": "Update brand",
                "operationId": "Brands_PUT_Update",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "brandId",
                        "x-ms-summary": "Brand Id",
                        "description": "Set the id of the brand",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/BrandDTO"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Brands/alias/{brandAlias}": {
            "get": {
                "tags": [
                    "Brands"
                ],
                "summary": "Brand Get by Alias",
                "description": "Get brand by alias",
                "operationId": "Brands_GET_GetByAlias",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "brandAlias",
                        "x-ms-summary": "Brand Alias",
                        "description": "Set the alias of the brand",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/BrandDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Brands/import": {
            "post": {
                "tags": [
                    "Brands"
                ],
                "summary": "Brand Import",
                "description": "Import brands",
                "operationId": "Brands_POST_Import",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BrandDTO"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Brands/import/codes": {
            "post": {
                "tags": [
                    "Brands"
                ],
                "summary": "Brand Import By Code",
                "description": "Import brands by codes",
                "operationId": "Brands_POST_ImportByCodes",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BrandDTO"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Categories/{id}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Category Get By Id",
                "description": "Get category by id",
                "operationId": "Categories_GET_GetById",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CategoryDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Categories"
                ],
                "summary": "Category Delete",
                "description": "Delete category",
                "operationId": "Categories_DELETE_Delete",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Categories"
                ],
                "summary": "Category Update",
                "description": "Update category",
                "operationId": "Categories_PUT_Update",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the category",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CategoryDTO"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CategoryDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Categories/alias/{alias}": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Category Get By alias",
                "description": "Get category by alias",
                "operationId": "Categories_GET_GetByAlias",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "alias",
                        "x-ms-summary": "Alias",
                        "description": "Set the alias of the category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CategoryDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Categories": {
            "get": {
                "tags": [
                    "Categories"
                ],
                "summary": "Category Query",
                "description": "Get categories by search criteria",
                "operationId": "Categories_GET_GetAll",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "Title",
                        "type": "string",
                        "x-ms-summary": "Title",
                        "description": "Set the title of the category"
                    },
                    {
                        "in": "query",
                        "name": "Id",
                        "type": "string",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the category"
                    },
                    {
                        "in": "query",
                        "name": "Search",
                        "type": "string",
                        "x-ms-summary": "Search",
                        "description": "Set the search keyword for the category"
                    },
                    {
                        "in": "query",
                        "name": "Code",
                        "x-ms-summary": "Code",
                        "description": "Set the code of the category",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "ParentId",
                        "x-ms-summary": "Parent Id",
                        "description": "Set the parent id of the category",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "Path",
                        "x-ms-summary": "Path",
                        "description": "Set the path of the category",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "ParentIds",
                        "x-ms-summary": "Parent Ids",
                        "description": "Set the parent ids of the category",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "Status",
                        "x-ms-summary": "Status",
                        "description": "Set the status of the category",
                        "type": "string",
                        "enum": [
                            "Draft",
                            "Active",
                            "Archived",
                            "ignore"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "Page",
                        "type": "integer",
                        "x-ms-summary": "Page",
                        "description": "Set the page number",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "PageSize",
                        "x-ms-summary": "Page Size",
                        "description": "Set the page size",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "x-ms-summary": "Sort",
                        "description": "Set sort field and direction",
                        "name": "Sort",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CategoryDTO"
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Category Create",
                "description": "Create category",
                "operationId": "Categories_POST_Create",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CategoryDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/CategoryDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Categories/import": {
            "post": {
                "tags": [
                    "Categories"
                ],
                "summary": "Category Import",
                "description": "Import categories",
                "operationId": "Categories_POST_Import",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CategoryDTO"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Collections": {
            "get": {
                "tags": [
                    "Collections"
                ],
                "summary": "Collection Query",
                "description": "Get collections by search criteria",
                "operationId": "Collections_GET_GetAll",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "Status",
                        "x-ms-summary": "Status",
                        "description": "Set the status of the collection",
                        "type": "string",
                        "enum": [
                            "Draft",
                            "Active",
                            "Archived",
                            "ignore"
                        ]
                    },
                    {
                        "in": "query",
                        "name": "Title",
                        "x-ms-summary": "Title",
                        "description": "Set the title of the collection",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "Id",
                        "x-ms-summary": "Id",
                        "description": "Set the id of the collection",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "Page",
                        "type": "integer",
                        "x-ms-summary": "Page",
                        "description": "Set the page number",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "name": "PageSize",
                        "x-ms-summary": "Page Size",
                        "description": "Set the page size",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "in": "query",
                        "x-ms-summary": "Sort",
                        "description": "Set sort field and direction",
                        "name": "Sort",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CollectionDTO"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "post": {
                "tags": [
                    "Collections"
                ],
                "summary": "Collection Create",
                "description": "Create collection",
                "operationId": "Collections_POST_Create",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/CollectionDTO"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/Collections/{collectionId}": {
            "get": {
                "tags": [
                    "Collections"
                ],
                "summary": "Collection Get by Id",
                "description": "Get collection by id",
                "operationId": "Collections_GET_GetById",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "collectionId",
                        "x-ms-summary": "Collection Id",
                        "description": "Set the id of the collection",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/CollectionDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Collections"
                ],
                "summary": "Collection Delete",
                "description": "Delete collection",
                "operationId": "Collections_DELETE_Delete",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "collectionId",
                        "x-ms-summary": "Collection Id",
                        "description": "Set the id of the collection",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Collections"
                ],
                "summary": "Collection Update",
                "description": "Update collection",
                "operationId": "Collections_PUT_Update",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "collectionId",
                        "x-ms-summary": "Collection Id",
                        "description": "Set the id of the collection",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CollectionDTO"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/products/{productId}/documentation": {
            "get": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Product Get Additional Content By Id",
                "description": "Get additional content by product id",
                "operationId": "Documentations_GET_GetDocumentationByProductId",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productId",
                        "x-ms-summary": "Product Id",
                        "description": "Set the id of the product",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/DocumentationDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Product Delete Additional Content",
                "description": "Delete additional content by product id",
                "operationId": "Documentations_DELETE_DeleteProduct",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productId",
                        "x-ms-summary": "Product Id",
                        "description": "Set the id of the product",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Product Updates Additional Content",
                "description": "Update additional content by product id",
                "operationId": "Documentations_PUT_UpdateProduct",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productId",
                        "x-ms-summary": "Product Id",
                        "description": "Set the id of the product",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DocumentationDTO"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/products/{productId}/documentation/html": {
            "get": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Product Get Additional Content By Id (HTML)",
                "description": "Get additional content by product id",
                "operationId": "Documentations_GET_GetHtmlDocumentationByProductId",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "productId",
                        "x-ms-summary": "Product Id",
                        "description": "Set the id of the product",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/DocumentationDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/categories/{categoryId}/documentation": {
            "get": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Category Get Additional Content By Id",
                "description": "Get additional content by category id",
                "operationId": "Documentations_GET_GetDocumentationByCategoryId",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "categoryId",
                        "x-ms-summary": "Category Id",
                        "description": "Set the id of the category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/DocumentationDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Category Delete Additional Content",
                "description": "Delete additional content by category id",
                "operationId": "Documentations_DELETE_DeleteCategory",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "categoryId",
                        "x-ms-summary": "Category Id",
                        "description": "Set the id of the category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Category Update Additional Content",
                "description": "Update additional content by category id",
                "operationId": "Documentations_PUT_UpdateCategory",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "categoryId",
                        "x-ms-summary": "Category Id",
                        "description": "Set the id of the category",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DocumentationDTO"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/categories/{categoryId}/documentation/html": {
            "get": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Category Get Additional Content By Id (HTML)",
                "description": "Get additional content by category id",
                "operationId": "Documentations_GET_GetHtmlDocumentationByCategoryId",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "categoryId",
                        "x-ms-summary": "Category Id",
                        "description": "Set the id of the category",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/DocumentationDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/collections/{collectionId}/documentation": {
            "get": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Collection Get Additional Content By Id",
                "description": "Get additional content by collection id",
                "operationId": "Documentations_GET_GetDocumentationByCollectionId",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "collectionId",
                        "x-ms-summary": "Collection Id",
                        "description": "Set the id of the collection",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/DocumentationDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Collection Delete Additional Content",
                "description": "Delete additional content by collection id",
                "operationId": "Documentations_DELETE_DeleteCollection",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "collectionId",
                        "x-ms-summary": "Collection Id",
                        "description": "Set the id of the collection",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Collection Update Additional Content",
                "description": "Update additional content by collection id",
                "operationId": "Documentations_PUT_UpdateCollection",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "collectionId",
                        "x-ms-summary": "Collection Id",
                        "description": "Set the id of the collection",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DocumentationDTO"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/collections/{collectionId}/documentation/html": {
            "get": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Collection Get Additional Content By Id (HTML)",
                "description": "Get additional content by collection id",
                "operationId": "Documentations_GET_GetHtmlDocumentationByCollectionId",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "collectionId",
                        "x-ms-summary": "Collection Id",
                        "description": "Set the id of the collection",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/DocumentationDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            }
        },
        "/api/brands/{brandId}/documentation": {
            "get": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Brand Get Additional Content By Id",
                "description": "Get additional content by brand id",
                "operationId": "Documentations_GET_GetDocumentationByBrandId",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "brandId",
                        "x-ms-summary": "Brand Id",
                        "description": "Set the id of the brand",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/DocumentationDTO"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Brand Delete Additional Content",
                "description": "Delete additional content by brand id",
                "operationId": "Documentations_DELETE_DeleteBrand",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "brandId",
                        "x-ms-summary": "Brand Id",
                        "description": "Set the id of the brand",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "500": {
                        "description": "Server Error"
                    }
                }
            },
            "put": {
                "tags": [
                    "Documentations"
                ],
                "summary": "Brand Update Additional Content",
                "description": "Update additional content by brand id",
                "operationId": "Documentations_PUT_UpdateBrand",
                "consumes": [
                    "application/json-patch+json",
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "brandId",
                        "x-ms-summary": "Brand Id",
                        "description": "Set the id of the brand",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DocumentationDTO"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/ProblemDetails"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
[...]
