swagger: '2.0'
info:
  title: Catalog API
  description: >-
    Elevate your business automation with the Shopranos Power Automate
    Connector, a powerful Platform-as-a-Service (PaaS) solution that seamlessly
    links your company's ERP system with B2B eCommerce operations. Our mission
    is simple: to empower our customers by enabling them to effortlessly execute
    essential tasks within their workflow.


    With the Shopranos Power Automate Connector, your business gains the agility
    to respond to critical events, such as order creation, with precision. Our
    connector provides the capability to trigger instant notifications or
    orchestrate seamless approval processes, ensuring that you stay in control
    of your operations, every step of the way.


    By integrating Shopranos with Microsoft Power Automate, you're not just
    connecting systems; you're unlocking a world of automation possibilities.
    Whether it's sending crucial messages to stakeholders or driving approval
    workflows, our connector simplifies complex processes, enhances efficiency,
    and accelerates your business's path to success. Experience the power of
    Shopranos with the Microsoft Power Automate Connector and take your
    ERP-to-B2B eCommerce integration to the next level.
  version: v1.0.0
host: platform.shopranos.eu
basePath: /
schemes:
  - https
consumes: []
produces: []
paths:
  /api/AttributeSets:
    get:
      tags:
        - AttributeSets
      summary: Attribute Set Query
      operationId: AttributeSets_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Title
          type: string
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
            items:
              $ref: '#/definitions/AttributeSetDTO'
        '500':
          description: Server Error
    post:
      tags:
        - AttributeSets
      summary: Attribute Set Create
      operationId: AttributeSets_POST_Create
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/CreateAttributeSetDTO'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/AttributeSetDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/AttributeSets/{id}:
    get:
      tags:
        - AttributeSets
      summary: Attribute Set Get By Id
      operationId: AttributeSets_GET_GetById
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttributeSetDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - AttributeSets
      summary: Attribute Set Delete
      operationId: AttributeSets_DELETE_Delete
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - AttributeSets
      summary: Attribute Set Update
      operationId: AttributeSets_PUT_Update
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: token
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/UpdateAttributeSetDTO'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttributeSetDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/AttributeSets/Import:
    post:
      tags:
        - AttributeSets
      summary: Attribute Set Import
      operationId: AttributeSets_POST_Import
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            type: string
            items:
              $ref: '#/definitions/AttributeSetDTO'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Attributes/{id}:
    get:
      tags:
        - Attributes
      summary: Attribute Get By Id
      operationId: Attributes_GET_GetById
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttributeDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - Attributes
      summary: Attribute Delete
      operationId: Attributes_DELETE_Delete
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - Attributes
      summary: Attribute Update
      operationId: Attributes_PUT_Update
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: token
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/AttributeDTO'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttributeDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Attributes/code/{code}:
    get:
      tags:
        - Attributes
      summary: Attribute Get By Code
      operationId: Attributes_GET_GetByCode
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: code
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttributeDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Attributes:
    get:
      tags:
        - Attributes
      summary: Attribute Query
      operationId: Attributes_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Status
          type: string
          enum:
            - Draft
            - Active
            - Archived
            - ignore
        - in: query
          name: Type
          type: string
        - in: query
          name: IsFilterable
          type: boolean
        - in: query
          name: DisplayOnProduct
          type: boolean
        - in: query
          name: DisplayInList
          type: boolean
        - in: query
          name: Search
          type: string
        - in: query
          name: Id
          type: string
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AttributeDTO'
        '500':
          description: Server Error
    post:
      tags:
        - Attributes
      summary: Attribute Create
      operationId: Attributes_POST_Create
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/AttributeDTO'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/AttributeDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Attributes/import:
    post:
      tags:
        - Attributes
      summary: Attributes Import
      operationId: Attributes_POST_Import
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            type: string
            items:
              $ref: '#/definitions/AttributeDTO'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Brands:
    get:
      tags:
        - Brands
      summary: Brand Query
      operationId: Brands_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Status
          type: string
          enum:
            - Draft
            - Active
            - Archived
            - ignore
        - in: query
          name: Search
          type: string
        - in: query
          name: Code
          type: string
        - in: query
          name: Id
          type: string
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
            items:
              $ref: '#/definitions/BrandDTO'
        '500':
          description: Server Error
    post:
      tags:
        - Brands
      summary: Brand Create
      operationId: Brands_POST_Add
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/BrandDTO'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/BrandDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Brands/{brandId}:
    get:
      tags:
        - Brands
      summary: Brand Get by Id
      operationId: Brands_GET_GetById
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: brandId
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BrandDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - Brands
      summary: Brand Delete
      operationId: Brands_DELETE_Delete
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: brandId
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - Brands
      summary: Brand Update
      operationId: Brands_PUT_Update
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: brandId
          description: ''
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/BrandDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Brands/alias/{brandAlias}:
    get:
      tags:
        - Brands
      summary: Brand Get by Alias
      operationId: Brands_GET_GetByAlias
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: brandAlias
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BrandDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Brands/import:
    post:
      tags:
        - Brands
      summary: Brand Import
      operationId: Brands_POST_Import
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            type: string
            items:
              $ref: '#/definitions/BrandDTO'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Brands/import/codes:
    post:
      tags:
        - Brands
      summary: Brand Import By Code
      operationId: Brands_POST_ImportByCodes
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            type: string
            items:
              $ref: '#/definitions/BrandDTO'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Categories/{id}:
    get:
      tags:
        - Categories
      summary: Category Get By Id
      operationId: Categories_GET_GetById
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CategoryDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - Categories
      summary: Category Delete
      operationId: Categories_DELETE_Delete
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: token
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - Categories
      summary: Category Update
      operationId: Categories_PUT_Update
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: token
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/CategoryDTO'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CategoryDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Categories/alias/{alias}:
    get:
      tags:
        - Categories
      summary: Category Get By alias
      operationId: Categories_GET_GetByAlias
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: alias
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CategoryDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Categories:
    get:
      tags:
        - Categories
      summary: Category Query
      operationId: Categories_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Title
          type: string
        - in: query
          name: Id
          type: string
        - in: query
          name: Search
          type: string
        - in: query
          name: Code
          type: string
        - in: query
          name: ParentId
          type: string
        - in: query
          name: Path
          type: string
        - in: query
          name: ParentIds
          type: string
        - in: query
          name: Status
          type: string
          enum:
            - Draft
            - Active
            - Archived
            - ignore
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
            items:
              $ref: '#/definitions/CategoryDTO'
        '500':
          description: Server Error
    post:
      tags:
        - Categories
      summary: Category Create
      operationId: Categories_POST_Create
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/CategoryDTO'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/CategoryDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Categories/import:
    post:
      tags:
        - Categories
      summary: Category Import
      operationId: Categories_POST_Import
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            type: string
            items:
              $ref: '#/definitions/CategoryDTO'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Collections:
    get:
      tags:
        - Collections
      summary: Collection Query
      operationId: Collections_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Status
          type: string
          enum:
            - Draft
            - Active
            - Archived
            - ignore
        - in: query
          name: Title
          type: string
        - in: query
          name: Id
          type: string
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CollectionDTO'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    post:
      tags:
        - Collections
      summary: Collection Create
      operationId: Collections_POST_Create
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CollectionDTO'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Collections/{collectionId}:
    get:
      tags:
        - Collections
      summary: Collection Get by Id
      operationId: Collections_GET_GetById
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: collectionId
          description: collection id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CollectionDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - Collections
      summary: Collection Delete
      operationId: Collections_DELETE_Delete
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: collectionId
          description: Collection Id
          required: true
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - Collections
      summary: Collection Update
      operationId: Collections_PUT_Update
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: collectionId
          description: collection id
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/CollectionDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/products/{productId}/documentation:
    get:
      tags:
        - Documentations
      summary: Product Get Additional Content By Id
      operationId: Documentations_GET_GetDocumentationByProductId
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: productId
          description: product id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - Documentations
      summary: Product Delete Additional Content
      operationId: Documentations_DELETE_DeleteProduct
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: productId
          description: ''
          required: true
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - Documentations
      summary: Product Updates Additional Content
      operationId: Documentations_PUT_UpdateProduct
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: productId
          description: ''
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/DocumentationDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/products/{productId}/documentation/html:
    get:
      tags:
        - Documentations
      summary: Product Get Additional Content By Id (HTML)
      operationId: Documentations_GET_GetHtmlDocumentationByProductId
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: productId
          description: product id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/categories/{categoryId}/documentation:
    get:
      tags:
        - Documentations
      summary: Category Get Additional Content By Id
      operationId: Documentations_GET_GetDocumentationByCategoryId
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: categoryId
          description: product id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - Documentations
      summary: Category Delete Additional Content
      operationId: Documentations_DELETE_DeleteCategory
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: categoryId
          description: ''
          required: true
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - Documentations
      summary: Category Update Additional Content
      operationId: Documentations_PUT_UpdateCategory
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: categoryId
          description: ''
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/DocumentationDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/categories/{categoryId}/documentation/html:
    get:
      tags:
        - Documentations
      summary: Category Get Additional Content By Id (HTML)
      operationId: Documentations_GET_GetHtmlDocumentationByCategoryId
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: categoryId
          description: product id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/collections/{collectionId}/documentation:
    get:
      tags:
        - Documentations
      summary: Collection Get Additional Content By Id
      operationId: Documentations_GET_GetDocumentationByCollectionId
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: collectionId
          description: product id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - Documentations
      summary: Collection Delete Additional Content
      operationId: Documentations_DELETE_DeleteCollection
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: collectionId
          description: ''
          required: true
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - Documentations
      summary: Collection Update Additional Content
      operationId: Documentations_PUT_UpdateCollection
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: collectionId
          description: ''
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/DocumentationDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/collections/{collectionId}/documentation/html:
    get:
      tags:
        - Documentations
      summary: Collection Get Additional Content By Id (HTML)
      operationId: Documentations_GET_GetHtmlDocumentationByCollectionId
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: collectionId
          description: product id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/brands/{brandId}/documentation:
    get:
      tags:
        - Documentations
      summary: Brand Get Additional Content By Id
      operationId: Documentations_GET_GetDocumentationByBrandId
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: brandId
          description: product id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - Documentations
      summary: Brand Delete Additional Content
      operationId: Documentations_DELETE_DeleteBrand
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: brandId
          description: ''
          required: true
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - Documentations
      summary: Brand Update Additional Content
      operationId: Documentations_PUT_UpdateBrand
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: brandId
          description: ''
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/DocumentationDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/brands/{brandId}/documentation/html:
    get:
      tags:
        - Documentations
      summary: Brand Get Additional Content By Id (HTML)
      operationId: Documentations_GET_GetHtmlDocumentationByBrandId
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: brandId
          description: product id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DocumentationDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Products/extended/{alias}:
    get:
      tags:
        - ExtendedProducts
      summary: Product Extended Get By Alias
      operationId: ExtendedProducts_GET_GetByAlias
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: lang
          description: ''
          type: string
        - in: query
          name: extend
          description: ''
          type: string
        - in: path
          name: alias
          description: product id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ExtendedProductDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Products/extended:
    get:
      tags:
        - ExtendedProducts
      summary: Product Extended Query
      operationId: ExtendedProducts_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: lang
          description: ''
          type: string
        - in: query
          name: extend
          description: ''
          type: string
        - in: query
          name: Price
          type: string
        - in: query
          name: MaxPrice
          type: number
          format: double
        - in: query
          name: Size1
          type: string
        - in: query
          name: Size2
          type: string
        - in: query
          name: Size3
          type: string
        - in: query
          name: InsertDate
          type: string
        - in: query
          name: Date1
          type: string
        - in: query
          name: Date2
          type: string
        - in: query
          name: Date3
          type: string
        - in: query
          name: Date1DateRange
          type: string
        - in: query
          name: Date2DateRange
          type: string
        - in: query
          name: Date3DateRange
          type: string
        - in: query
          name: InsertDateRange
          type: string
        - in: query
          name: Search
          type: string
        - in: query
          name: MinPrice
          type: number
          format: double
        - in: query
          name: Status
          type: string
          enum:
            - Draft
            - Active
            - Archived
            - ignore
        - in: query
          name: Availability
          type: string
        - in: query
          name: Tag
          type: string
        - in: query
          name: SourceTag
          type: string
        - in: query
          name: PrivacyRule
          type: string
        - in: query
          name: Rule
          type: string
        - in: query
          name: Condition
          type: string
        - in: query
          name: Ids
          type: string
        - in: query
          name: Id
          type: string
        - in: query
          name: PriceRange
          type: string
        - in: query
          name: BrandCode
          type: string
        - in: query
          name: BrandId
          type: string
        - in: query
          name: Attribute
          type: string
        - in: query
          name: PathCategory
          type: string
        - in: query
          name: CategoryId
          type: string
        - in: query
          name: AdditionalCategoryId
          type: string
        - in: query
          name: StockAvailabilityId
          type: string
        - in: query
          name: AttributeSetId
          type: string
        - in: query
          name: PriceCategoryId
          type: string
        - in: query
          name: HasMedia
          type: boolean
        - in: query
          name: MasterId
          type: string
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
            items:
              $ref: '#/definitions/ExtendedProductDTO'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/collections/extended/{alias}:
    get:
      tags:
        - ExtentedCollections
      summary: Collection Extended Get by Alias
      operationId: ExtentedCollections_GET_GetByAlias
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: lang
          description: ''
          type: string
        - in: path
          name: alias
          description: product id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CollectionDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/collections/extended/{id}/id:
    get:
      tags:
        - ExtentedCollections
      summary: Collection Extended Get by Id
      operationId: ExtentedCollections_GET_GetById
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: lang
          description: ''
          type: string
        - in: path
          name: id
          description: product id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CollectionDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/collections/extended:
    get:
      tags:
        - ExtentedCollections
      summary: Collection Extended Query
      operationId: ExtentedCollections_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Status
          type: string
          enum:
            - Draft
            - Active
            - Archived
            - ignore
        - in: query
          name: Title
          type: string
        - in: query
          name: Id
          type: string
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
        - in: query
          name: lang
          description: ''
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
            items:
              $ref: '#/definitions/CollectionDTO'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Filters/clear:
    post:
      tags:
        - Filters
      summary: Filters Purge
      operationId: Filters_POST_BuildFilters
      produces:
        - text/plain
        - application/json
        - text/json
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/IcoTags/{id}:
    get:
      tags:
        - IcoTags
      summary: Product Label Get By Id
      operationId: IcoTags_GET_GetById
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IcoTagDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - IcoTags
      summary: Product Label Delete
      operationId: IcoTags_DELETE_Delete
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - IcoTags
      summary: Product Label Update
      operationId: IcoTags_PUT_Update
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/IcoTagDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/IcoTags:
    get:
      tags:
        - IcoTags
      summary: Product Label Query
      operationId: IcoTags_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Name
          type: string
        - in: query
          name: Status
          type: string
          enum:
            - Draft
            - Active
            - Archived
            - ignore
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
            items:
              $ref: '#/definitions/IcoTagDTO'
        '500':
          description: Server Error
    post:
      tags:
        - IcoTags
      summary: Product Label Create
      operationId: IcoTags_POST_Add
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/IcoTagDTO'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/IcoTagDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/PrivacyGroups:
    get:
      tags:
        - PrivacyGroups
      summary: Privacy Group Query
      operationId: PrivacyGroups_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Title
          type: string
        - in: query
          name: Status
          type: string
          enum:
            - Draft
            - Active
            - Archived
            - ignore
        - in: query
          name: CustomerIds
          type: string
        - in: query
          name: CustomerGroupIds
          type: string
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
            items:
              $ref: '#/definitions/PrivacyGroupDTO'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    post:
      tags:
        - PrivacyGroups
      summary: Privacy Group Create
      operationId: PrivacyGroups_POST_Create
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PrivacyGroupDTO'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/PrivacyGroupDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/PrivacyGroups/{id}:
    get:
      tags:
        - PrivacyGroups
      summary: Privacy Group Get By Id
      operationId: PrivacyGroups_GET_GetById
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: PrivacyGroup id
          required: true
          type: string
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/PrivacyGroupDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - PrivacyGroups
      summary: Privacy Group Delete
      operationId: PrivacyGroups_DELETE_Delete
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: PrivacyGroup Id
          required: true
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - PrivacyGroups
      summary: Privacy Group Update
      operationId: PrivacyGroups_PUT_Update
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: collection id
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/PrivacyGroupDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/ProductVariants/flat:
    get:
      tags:
        - ProductVariants
      summary: Get all flat product variants
      operationId: ProductVariants_GET_GetAllFlat
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Price
          type: string
        - in: query
          name: MaxPrice
          type: number
          format: double
        - in: query
          name: Size1
          type: string
        - in: query
          name: Size2
          type: string
        - in: query
          name: Size3
          type: string
        - in: query
          name: InsertDate
          type: string
        - in: query
          name: Date1
          type: string
        - in: query
          name: Date2
          type: string
        - in: query
          name: Date3
          type: string
        - in: query
          name: Date1DateRange
          type: string
        - in: query
          name: Date2DateRange
          type: string
        - in: query
          name: Date3DateRange
          type: string
        - in: query
          name: InsertDateRange
          type: string
        - in: query
          name: Search
          type: string
        - in: query
          name: MinPrice
          type: number
          format: double
        - in: query
          name: Status
          type: string
          enum:
            - Draft
            - Active
            - Archived
            - ignore
        - in: query
          name: Availability
          type: string
        - in: query
          name: Tag
          type: string
        - in: query
          name: SourceTag
          type: string
        - in: query
          name: PrivacyRule
          type: string
        - in: query
          name: Rule
          type: string
        - in: query
          name: Condition
          type: string
        - in: query
          name: Ids
          type: string
        - in: query
          name: Id
          type: string
        - in: query
          name: PriceRange
          type: string
        - in: query
          name: BrandCode
          type: string
        - in: query
          name: BrandId
          type: string
        - in: query
          name: Attribute
          type: string
        - in: query
          name: PathCategory
          type: string
        - in: query
          name: CategoryId
          type: string
        - in: query
          name: AdditionalCategoryId
          type: string
        - in: query
          name: StockAvailabilityId
          type: string
        - in: query
          name: AttributeSetId
          type: string
        - in: query
          name: PriceCategoryId
          type: string
        - in: query
          name: HasMedia
          type: boolean
        - in: query
          name: MasterId
          type: string
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Products:
    get:
      tags:
        - ProductsQuery
      summary: Product Query
      operationId: ProductsQuery_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Price
          type: string
        - in: query
          name: MaxPrice
          type: number
          format: double
        - in: query
          name: Size1
          type: string
        - in: query
          name: Size2
          type: string
        - in: query
          name: Size3
          type: string
        - in: query
          name: InsertDate
          type: string
        - in: query
          name: Date1
          type: string
        - in: query
          name: Date2
          type: string
        - in: query
          name: Date3
          type: string
        - in: query
          name: Date1DateRange
          type: string
        - in: query
          name: Date2DateRange
          type: string
        - in: query
          name: Date3DateRange
          type: string
        - in: query
          name: InsertDateRange
          type: string
        - in: query
          name: Search
          type: string
        - in: query
          name: MinPrice
          type: number
          format: double
        - in: query
          name: Status
          type: string
          enum:
            - Draft
            - Active
            - Archived
            - ignore
        - in: query
          name: Availability
          type: string
        - in: query
          name: Tag
          type: string
        - in: query
          name: SourceTag
          type: string
        - in: query
          name: PrivacyRule
          type: string
        - in: query
          name: Rule
          type: string
        - in: query
          name: Condition
          type: string
        - in: query
          name: Ids
          type: string
        - in: query
          name: Id
          type: string
        - in: query
          name: PriceRange
          type: string
        - in: query
          name: BrandCode
          type: string
        - in: query
          name: BrandId
          type: string
        - in: query
          name: Attribute
          type: string
        - in: query
          name: PathCategory
          type: string
        - in: query
          name: CategoryId
          type: string
        - in: query
          name: AdditionalCategoryId
          type: string
        - in: query
          name: StockAvailabilityId
          type: string
        - in: query
          name: AttributeSetId
          type: string
        - in: query
          name: PriceCategoryId
          type: string
        - in: query
          name: HasMedia
          type: boolean
        - in: query
          name: MasterId
          type: string
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Returns the paginated list of products.
          schema:
            type: string
            items:
              $ref: '#/definitions/ProductDTO'
        '403':
          description: The user is not authorized to perform this action.
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: An error occurred while retrieving the products.
    post:
      tags:
        - Products
      summary: Product Create
      operationId: Products_POST_Create
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: The Product object to create.
          schema:
            $ref: '#/definitions/ChangeProductDTO'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/ProductDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Products/{id}:
    get:
      tags:
        - ProductsQuery
      summary: Product Get By Id
      operationId: ProductsQuery_GET_GetById
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: The ID of the product to retrieve.
          required: true
          type: string
      responses:
        '200':
          description: The product was successfully retrieved.
          schema:
            $ref: '#/definitions/ProductDTO'
        '400':
          description: The product ID is invalid or missing.
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: The user is not authorized to manage the catalogue.
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: The product with the specified ID was not found.
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: An error occurred while retrieving the product.
    delete:
      tags:
        - Products
      summary: Product Delete
      operationId: Products_DELETE_Delete
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: The ID of the product to delete.
          required: true
          type: string
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - Products
      summary: Product Update
      operationId: Products_PUT_Update
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: The ID of the product to update.
          required: true
          type: string
        - in: body
          name: body
          description: The updated product data.
          schema:
            $ref: '#/definitions/ChangeProductDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Products/import/skus:
    post:
      tags:
        - Products
      summary: Product Import By SKU
      operationId: Products_POST_ImportBySKUs
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            type: string
            items:
              $ref: '#/definitions/ImportProductDTO'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Products/import:
    post:
      tags:
        - Products
      summary: Product Import
      operationId: Products_POST_Import
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: A list of ImportProductDTO objects containing product details.
          schema:
            type: string
            items:
              $ref: '#/definitions/ImportProductDTO'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Products/alias/{alias}:
    get:
      tags:
        - ProductsQuery
      summary: Product Get By Alias
      operationId: ProductsQuery_GET_GetByAlias
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: alias
          description: The alias of the product to retrieve.
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ProductDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/RelatedProducts/{productId}/{variantId}:
    get:
      tags:
        - RelatedProducts
      summary: Related Products Create
      operationId: RelatedProducts_GET_GetRelated
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: productId
          description: ''
          required: true
          type: string
        - in: path
          name: variantId
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RelatedProductVariantDTO'
        '500':
          description: Server Error
    delete:
      tags:
        - RelatedProducts
      summary: Related Products Delete
      operationId: RelatedProducts_DELETE_DeleteRelated
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: productId
          description: ''
          required: true
          type: string
        - in: path
          name: variantId
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - RelatedProducts
      summary: Related Products Update
      operationId: RelatedProducts_PUT_UpdateRelated
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: productId
          description: ''
          required: true
          type: string
        - in: path
          name: variantId
          description: ''
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            type: string
            items:
              $ref: '#/definitions/RelatedProductVariantDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/StockAvailability:
    get:
      tags:
        - StockAvailability
      summary: Stock Availability Query
      operationId: StockAvailability_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Title
          type: string
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
            items:
              $ref: '#/definitions/StockAvailabilityDTO'
        '500':
          description: Server Error
    post:
      tags:
        - StockAvailability
      summary: Stock Availability Create
      operationId: StockAvailability_POST_Create
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/CreateStockAvailabilityDTO'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/StockAvailabilityDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/StockAvailability/{id}:
    get:
      tags:
        - StockAvailability
      summary: Stock Availability Get By Id
      operationId: StockAvailability_GET_GetById
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StockAvailabilityDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - StockAvailability
      summary: Stock Availability Delete
      operationId: StockAvailability_DELETE_Delete
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - StockAvailability
      summary: Stock Availability Update
      operationId: StockAvailability_PUT_Update
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: ''
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/UpdateStockAvailabilityDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Tags/product/source/import:
    post:
      tags:
        - Tags
      summary: Source Tag Product Import
      operationId: Tags_POST_Import
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            type: string
            items:
              $ref: '#/definitions/SourceTagDTO'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Units:
    get:
      tags:
        - Units
      summary: Unit Query
      operationId: Units_GET_GetAll
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: Name
          type: string
        - in: query
          name: Page
          type: integer
          format: int32
        - in: query
          name: PageSize
          type: integer
          format: int32
        - in: query
          name: Sort
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
            items:
              $ref: '#/definitions/UnitDTO'
        '500':
          description: Server Error
    post:
      tags:
        - Units
      summary: Unit Create
      operationId: Units_POST_Add
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/UnitDTO'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/UnitDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Units/{id}:
    get:
      tags:
        - Units
      summary: Unit Get By Id
      operationId: Units_GET_GetById
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UnitDTO'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    delete:
      tags:
        - Units
      summary: Unit Delete
      operationId: Units_DELETE_Delete
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
    put:
      tags:
        - Units
      summary: Unit Update
      operationId: Units_PUT_Update
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: path
          name: id
          description: ''
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/UnitDTO'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/Units/import:
    post:
      tags:
        - Units
      summary: Unit Import
      operationId: Units_POST_Import
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: body
          name: body
          description: ''
          schema:
            type: string
            items:
              $ref: '#/definitions/UnitDTO'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ProblemDetails'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/ProblemDetails'
        '500':
          description: Server Error
  /api/webhook/register/product/created:
    x-ms-notification-content:
      description: Product Created Webhook
      schema:
        $ref: '#/definitions/ProductDTO'
    post:
      responses:
        '201':
          description: Webhook created
      summary: When a Product is Created
      description: This operation triggers when a new product is created
      operationId: ProductCreatedTrigger
      x-ms-trigger: single
      parameters:
        - name: Content-Type
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: Accept
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              Url:
                type: string
                description: Url
                x-ms-notification-url: true
                x-ms-visibility: internal
                title: ''
              Title:
                type: string
                description: Title
                title: ''
            required:
              - Url
              - Title
  /api/webhook/register/product/updated:
    x-ms-notification-content:
      description: Product Update Webhook
      schema:
        $ref: '#/definitions/ProductDTO'
    post:
      responses:
        '201':
          description: Webhook created
      summary: When a Product is Updated
      description: This operation triggers when a product is updated
      operationId: ProductUpdatedTrigger
      x-ms-trigger: single
      parameters:
        - name: Content-Type
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: Accept
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              Url:
                type: string
                description: Url
                x-ms-notification-url: true
                x-ms-visibility: internal
                title: ''
              Title:
                type: string
                description: Title
                title: ''
            required:
              - Url
              - Title
  /api/webhook/register/product/deleted:
    x-ms-notification-content:
      description: Product Deleted Webhook
      schema:
        $ref: '#/definitions/ProductDTO'
    post:
      responses:
        '201':
          description: Webhook deleted
      summary: When a Product is Deleted
      description: This operation triggers when a product is deleted
      operationId: ProductDeletedTrigger
      x-ms-trigger: single
      parameters:
        - name: Content-Type
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: Accept
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              Url:
                type: string
                description: Url
                x-ms-notification-url: true
                x-ms-visibility: internal
                title: ''
              Title:
                type: string
                description: Title
                title: ''
            required:
              - Url
              - Title
  /api/webhook/register/category/created:
    x-ms-notification-content:
      description: Category Created Webhook
      schema:
        $ref: '#/definitions/CategoryDTO'
    post:
      responses:
        '201':
          description: Webhook created
      summary: When a Category is Created
      description: This operation triggers when a new category is created
      operationId: CategoryCreatedTrigger
      x-ms-trigger: single
      parameters:
        - name: Content-Type
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: Accept
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              Url:
                type: string
                description: Url
                x-ms-notification-url: true
                x-ms-visibility: internal
                title: ''
              Title:
                type: string
                description: Title
                title: ''
            required:
              - Url
              - Title
  /api/webhook/register/category/updated:
    x-ms-notification-content:
      description: Category Update Webhook
      schema:
        $ref: '#/definitions/CategoryDTO'
    post:
      responses:
        '201':
          description: Webhook created
      summary: When a Category is Updated
      description: This operation triggers when a category is updated
      operationId: CategoryUpdatedTrigger
      x-ms-trigger: single
      parameters:
        - name: Content-Type
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: Accept
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              Url:
                type: string
                description: Url
                x-ms-notification-url: true
                x-ms-visibility: internal
                title: ''
              Title:
                type: string
                description: Title
                title: ''
            required:
              - Url
              - Title
  /api/webhook/register/category/deleted:
    x-ms-notification-content:
      description: Category Deleted Webhook
      schema:
        $ref: '#/definitions/CategoryDTO'
    post:
      responses:
        '201':
          description: Webhook deleted
      summary: When a Category is Deleted
      description: This operation triggers when a product is deleted
      operationId: CategoryDeletedTrigger
      x-ms-trigger: single
      parameters:
        - name: Content-Type
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: Accept
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              Url:
                type: string
                description: Url
                x-ms-notification-url: true
                x-ms-visibility: internal
                title: ''
              Title:
                type: string
                description: Title
                title: ''
            required:
              - Url
              - Title
  /api/webhook/register/brand/created:
    x-ms-notification-content:
      description: Brand Created Webhook
      schema:
        $ref: '#/definitions/BrandDTO'
    post:
      responses:
        '201':
          description: Webhook created
      summary: When a Brand is Created
      description: This operation triggers when a new brand is created
      operationId: BrandCreatedTrigger
      x-ms-trigger: single
      parameters:
        - name: Content-Type
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: Accept
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              Url:
                type: string
                description: Url
                x-ms-notification-url: true
                x-ms-visibility: internal
                title: ''
              Title:
                type: string
                description: Title
                title: ''
            required:
              - Url
              - Title
  /api/webhook/register/brand/updated:
    x-ms-notification-content:
      description: Brand Update Webhook
      schema:
        $ref: '#/definitions/BrandDTO'
    post:
      responses:
        '201':
          description: Webhook created
      summary: When a Brand is Updated
      description: This operation triggers when a brand is updated
      operationId: BrandUpdatedTrigger
      x-ms-trigger: single
      parameters:
        - name: Content-Type
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: Accept
          in: header
          required: false
          type: string
          x-ms-visibility: internal
        - name: body
          in: body
          required: false
          schema:
            type: object
            properties:
              Url:
                type: string
[...]
