{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "ShipStation",
    "description": "The API is a great way to get data directly to and from ShipStation, like creating orders, updating products, and querying order, shipment and customer data.",
    "contact": {
      "name": "ShipStation",
      "url": "https://shipstation.com"
    }
  },
  "host": "ssapi.shipstation.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/stores/refreshstore": {
      "post": {
        "description": "Initiates a store refresh.",
        "tags": [
          "Stores"
        ],
        "operationId": "Stores-RefreshStore-ByStoreIdRefreshDate",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content type.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshStoreRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refresh store response.",
            "schema": {
              "$ref": "#/definitions/RefreshStoreResponse"
            },
            "examples": {
              "application/json": {
                "success": true,
                "message": "A store refresh has been initiated for Store ID 12345"
              }
            }
          }
        },
        "summary": "Refresh Store"
      }
    }
  },
  "definitions": {
    "RefreshStoreRequest": {
      "title": "Refresh Store Request",
      "example": {
        "storeId": 12345,
        "refreshDate": "2020-05-29 15:05:02"
      },
      "type": "object",
      "properties": {
        "storeId": {
          "type": "integer",
          "format": "int32"
        },
        "refreshDate": {
          "type": "string"
        }
      }
    },
    "RefreshStoreResponse": {
      "title": "Refresh Store Response",
      "example": {
        "success": true,
        "message": "A store refresh has been initiated for Store ID 12345"
      },
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      },
      "required": [
        "success",
        "message"
      ]
    }
  },
  "securityDefinitions": {
    "auth": {
      "type": "basic"
    }
  },
  "tags": [
    {
      "name": "Stores"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://shipstation.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://shipstation.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management"
    }
  ]
}