{
  "swagger": "2.0",
  "info": {
    "title": "Xero Accounting",
    "description": "This connector is used to retrieve and make changes to Xero Accounting. Xero Accounting can be used for a variety of purposes such as creating transactions like invoices and credit notes, right through to extracting accounting data via our reports endpoint.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.xero.com",
  "basePath": "/api.xro/2.0/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/Contacts": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get contacts",
        "description": "Get a list of contacts",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type",
            "x-ms-url-encoding": "single"
          }
        ],
        "operationId": "ContactsGet"
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a contact",
        "description": "Use this method to create a contact record.",
        "operationId": "ContactsCreate",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "title": "Name",
                  "type": "string",
                  "description": "Full name of contact or organization"
                },
                "ContactID": {
                  "title": "Contact ID",
                  "type": "string",
                  "description": "Xero identifier"
                },
                "ContactNumber": {
                  "title": "Contact number",
                  "type": "string",
                  "description": "This can be updated via the API only i.e. This field is read only on the Xero contact screen"
                },
                "AccountNumber": {
                  "title": "Account number",
                  "type": "string",
                  "description": "A user defined account number. This can be updated via the API and the Xero UI (max length = 50)"
                },
                "ContactStatus": {
                  "title": "Contact status",
                  "type": "string",
                  "description": "Current status of a contact",
                  "enum": [
                    "ACTIVE",
                    "ARCHIVED",
                    "GDPRREQUEST"
                  ]
                },
                "FirstName": {
                  "title": "First name",
                  "type": "string",
                  "description": "First name of contact person"
                },
                "LastName": {
                  "title": "Last name",
                  "type": "string",
                  "description": "Last name of contact person"
                },
                "EmailAddress": {
                  "title": "Email address",
                  "type": "string",
                  "description": "Email addressof the contact person (umlauts not supported)"
                },
                "SkypeUserName": {
                  "title": "Skype user name",
                  "type": "string",
                  "description": "Skype user name of contact"
                },
                "ContactPersons": {
                  "title": "Contact persons",
                  "type": "object",
                  "properties": {
                    "FirstName": {
                      "title": "First name",
                      "type": "string",
                      "description": "First name of contact person"
                    },
                    "LastName": {
                      "title": "Last name",
                      "type": "string",
                      "description": "Last name of contact person"
                    },
                    "EmailAddress": {
                      "title": "Email address",
                      "type": "string",
                      "description": "Email addressof the contact person (umlauts not supported)"
                    },
                    "IncludeInEmails": {
                      "title": "Include in emails",
                      "type": "boolean",
                      "description": "Whether contact should be included on emails with invoices etc.",
                      "enum": [
                        true,
                        false
                      ]
                    }
                  }
                },
                "BankAccountDetails": {
                  "title": "Bank account details",
                  "type": "string",
                  "description": "Bank account number of contact"
                },
                "TaxNumber": {
                  "title": "Tax number",
                  "type": "string",
                  "description": "Tax number of contact (max length = 50)"
                },
                "AccountsReceivableTaxType": {
                  "title": "Accounts receivable tax type",
                  "type": "string",
                  "description": "Default tax type used for contact on AR invoices"
                },
                "AccountsPayableTaxType": {
                  "title": "Accounts payable tax type",
                  "type": "string",
                  "description": "Default tax type used for contact on AP invoices"
                },
                "Addresses": {
                  "title": "Addresses",
                  "type": "string",
                  "description": "Either PO Box or Street or Delivery",
                  "default": "POBOX",
                  "enum": [
                    "POBOX",
                    "STREET",
                    "DELIVERY"
                  ]
                },
                "Phones": {
                  "title": "Phones",
                  "type": "string",
                  "description": "Store certain phone types for a contact",
                  "default": "DEFAULT",
                  "enum": [
                    "DEFAULT",
                    "DDI",
                    "MOBILE",
                    "FAX"
                  ]
                },
                "DefaultCurrency": {
                  "title": "Default currency",
                  "type": "string",
                  "description": "Default currency for raising invoices against contact"
                },
                "XeroNetworkKey": {
                  "title": "XeroNetworkKey",
                  "type": "string",
                  "description": "Store XeroNetworkKey for contacts."
                },
                "SalesDefaultAccountCode": {
                  "title": "Sales default account code",
                  "type": "string",
                  "description": "The default sales account code for contacts"
                },
                "PurchasesDefaultAccountCode": {
                  "title": "Purchases default account code",
                  "type": "string",
                  "description": "The default purchases account code for contacts"
                },
                "SalesTrackingCategories": {
                  "title": "Sales tracking categories",
                  "type": "string",
                  "description": "The default sales tracking categories for contacts"
                },
                "PurchasesTrackingCategories": {
                  "title": "Purchases tracking categories",
                  "type": "string",
                  "description": "The default purchases tracking categories for contacts"
                },
                "TrackingCategoryName": {
                  "title": "Tracking category name",
                  "type": "string",
                  "description": "The name of the Tracking Category assigned to the contact under SalesTrackingCategories and PurchasesTrackingCategories"
                },
                "TrackingOptionName": {
                  "title": "Tracking option name",
                  "type": "string",
                  "description": "The name of the Tracking Option assigned to the contact under SalesTrackingCategories and PurchasesTrackingCategories"
                },
                "PaymentTerms": {
                  "title": "Payment terms",
                  "type": "string",
                  "description": "The default payment terms for the contact",
                  "default": "DAYSAFTERBILLDATE",
                  "enum": [
                    "DAYSAFTERBILLDATE",
                    "DAYSAFTERBILLMONTH",
                    "OFCURRENTMONTH",
                    "OFFOLLOWINGMONTH"
                  ]
                }
              },
              "required": [
                "Name"
              ]
            }
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a contact",
        "description": "Use this method to update a contact record. When you are updating a contact you don\u2019t need to specify every element. If you exclude an element then the existing value will be preserved.",
        "operationId": "ContactsUpdate",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "title": "Name",
                  "type": "string",
                  "description": "Full name of contact or organization"
                },
                "ContactID": {
                  "title": "Contact ID",
                  "type": "string",
                  "description": "Xero identifier"
                },
                "ContactNumber": {
                  "title": "Contact number",
                  "type": "string",
                  "description": "This can be updated via the API only i.e. This field is read only on the Xero contact screen"
                },
                "AccountNumber": {
                  "title": "Account number",
                  "type": "string",
                  "description": "A user defined account number. This can be updated via the API and the Xero UI (max length = 50)"
                },
                "ContactStatus": {
                  "title": "Contact status",
                  "type": "string",
                  "description": "Current status of a contact",
                  "enum": [
                    "ACTIVE",
                    "ARCHIVED",
                    "GDPRREQUEST"
                  ]
                },
                "FirstName": {
                  "title": "First name",
                  "type": "string",
                  "description": "First name of contact person"
                },
                "LastName": {
                  "title": "Last name",
                  "type": "string",
                  "description": "Last name of contact person"
                },
                "EmailAddress": {
                  "title": "Email address",
                  "type": "string",
                  "description": "Email addressof the contact person (umlauts not supported)"
                },
                "SkypeUserName": {
                  "title": "Skype user name",
                  "type": "string",
                  "description": "Skype user name of contact"
                },
                "ContactPersons": {
                  "title": "Contact persons",
                  "type": "object",
                  "properties": {
                    "FirstName": {
                      "title": "First name",
                      "type": "string",
                      "description": "First name of contact person"
                    },
                    "LastName": {
                      "title": "Last name",
                      "type": "string",
                      "description": "Last name of contact person"
                    },
                    "EmailAddress": {
                      "title": "Email address",
                      "type": "string",
                      "description": "Email addressof the contact person (umlauts not supported)"
                    },
                    "IncludeInEmails": {
                      "title": "Include in emails",
                      "type": "boolean",
                      "description": "Whether contact should be included on emails with invoices etc.",
                      "enum": [
                        true,
                        false
                      ]
                    }
                  }
                },
                "BankAccountDetails": {
                  "title": "Bank account details",
                  "type": "string",
                  "description": "Bank account number of contact"
                },
                "TaxNumber": {
                  "title": "Tax number",
                  "type": "string",
                  "description": "Tax number of contact (max length = 50)"
                },
                "AccountsReceivableTaxType": {
                  "title": "Accounts receivable tax type",
                  "type": "string",
                  "description": "Default tax type used for contact on AR invoices"
                },
                "AccountsPayableTaxType": {
                  "title": "Accounts payable tax type",
                  "type": "string",
                  "description": "Default tax type used for contact on AP invoices"
                },
                "Addresses": {
                  "title": "Addresses",
                  "type": "string",
                  "description": "Either PO Box or Street or Delivery",
                  "default": "POBOX",
                  "enum": [
                    "POBOX",
                    "STREET",
                    "DELIVERY"
                  ]
                },
                "Phones": {
                  "title": "Phones",
                  "type": "string",
                  "description": "Store certain phone types for a contact",
                  "default": "DEFAULT",
                  "enum": [
                    "DEFAULT",
                    "DDI",
                    "MOBILE",
                    "FAX"
                  ]
                },
                "DefaultCurrency": {
                  "title": "Default currency",
                  "type": "string",
                  "description": "Default currency for raising invoices against contact"
                },
                "XeroNetworkKey": {
                  "title": "XeroNetworkKey",
                  "type": "string",
                  "description": "Store XeroNetworkKey for contacts."
                },
                "SalesDefaultAccountCode": {
                  "title": "Sales default account code",
                  "type": "string",
                  "description": "The default sales account code for contacts"
                },
                "PurchasesDefaultAccountCode": {
                  "title": "Purchases default account code",
                  "type": "string",
                  "description": "The default purchases account code for contacts"
                },
                "SalesTrackingCategories": {
                  "title": "Sales tracking categories",
                  "type": "string",
                  "description": "The default sales tracking categories for contacts"
                },
                "PurchasesTrackingCategories": {
                  "title": "Purchases tracking categories",
                  "type": "string",
                  "description": "The default purchases tracking categories for contacts"
                },
                "TrackingCategoryName": {
                  "title": "Tracking category name",
                  "type": "string",
                  "description": "The name of the Tracking Category assigned to the contact under SalesTrackingCategories and PurchasesTrackingCategories"
                },
                "TrackingOptionName": {
                  "title": "Tracking option name",
                  "type": "string",
                  "description": "The name of the Tracking Option assigned to the contact under SalesTrackingCategories and PurchasesTrackingCategories"
                },
                "PaymentTerms": {
                  "title": "Payment terms",
                  "type": "string",
                  "description": "The default payment terms for the contact",
                  "default": "DAYSAFTERBILLDATE",
                  "enum": [
                    "DAYSAFTERBILLDATE",
                    "DAYSAFTERBILLMONTH",
                    "OFCURRENTMONTH",
                    "OFFOLLOWINGMONTH"
                  ]
                }
              },
              "required": [
                "Name"
              ]
            }
          }
        ]
      }
    },
    "/Contacts/{ContactID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a contact",
        "description": "Get a single contact",
        "operationId": "ContactsGetA",
        "parameters": [
          {
            "name": "ContactID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Xero identifier",
            "x-ms-summary": "ContactID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/Invoices": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get invoices",
        "description": "Get a list of invoices",
        "operationId": "InvoicesGet",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create an invoice",
        "description": "Use this method to create an invoice",
        "operationId": "InvoicesCreate",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Type": {
                  "title": "Type",
                  "type": "string",
                  "description": "Invoice Type",
                  "default": "ACCPAY",
                  "enum": [
                    "ACCPAY",
                    "ACCREC"
                  ]
                },
                "Contact": {
                  "title": "Contact",
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "title": "ContactID",
                      "type": "string",
                      "description": "The identifier of the contact"
                    }
                  }
                },
                "LineItems": {
                  "title": "Line items",
                  "type": "object",
                  "description": "The LineItems collection can contain any number of individual LineItem sub-elements. At least one is required to create a complete Invoice.",
                  "properties": {
                    "Description": {
                      "title": "Description",
                      "type": "string",
                      "description": "Description needs to be at least 1 char long. A line item with just a description (i.e no unit amount or quantity) can be created by specifying just a Description element that contains at least 1 character (max length = 4000)"
                    },
                    "Quantity": {
                      "title": "Quantity",
                      "type": "string",
                      "description": "LineItem Quantity (max length = 13)"
                    },
                    "UnitAmount": {
                      "title": "UnitAmount",
                      "type": "string",
                      "description": "Lineitem unit amount. By default unit amount will be rounded to two decimal places."
                    },
                    "ItemCode": {
                      "title": "ItemCode",
                      "type": "string",
                      "description": "User defined item code."
                    },
                    "AccountCode": {
                      "title": "AccountCode",
                      "type": "string",
                      "description": "Customer defined alpha numeric account code e.g 200 or SALES"
                    },
                    "TaxType": {
                      "title": "TaxType",
                      "type": "string",
                      "description": "Used as an override if the default Tax Code for the selected AccountCode is not correct."
                    },
                    "TaxAmount": {
                      "title": "TaxAmount",
                      "type": "string",
                      "description": "The tax amount is auto calculated as a percentage of the line amount (see below) based on the tax rate. This value can be overriden if the calculated TaxAmount is not correct."
                    },
                    "LineAmount": {
                      "title": "LineAmount",
                      "type": "string",
                      "description": "The line amount reflects the discounted price if a DiscountRate has been used"
                    },
                    "DiscountRate or DiscountAmount": {
                      "title": "DiscountRate or DiscountAmount",
                      "type": "string",
                      "description": "Percentage discount or discount amount being applied to a line item. Only supported on ACCREC invoices - ACCPAY invoices and credit notes in Xero do not support discounts"
                    },
                    "Tracking": {
                      "title": "Tracking",
                      "type": "object",
                      "description": "Section for optional Tracking Category. Any LineItem can have a maximum of 2 TrackingCategory elements.",
                      "properties": {
                        "Name": {
                          "title": "Name",
                          "type": "string",
                          "description": "Name of the tracking category"
                        },
                        "Object": {
                          "title": "Object",
                          "type": "string",
                          "description": "Name of the option"
                        }
                      },
                      "required": [
                        "Name",
                        "Object"
                      ]
                    }
                  }
                },
                "BrandingThemeID": {
                  "title": "Branding theme ID",
                  "type": "string",
                  "description": "Xero identifier"
                },
                "CurrencyCode": {
                  "title": "Currency code",
                  "type": "string",
                  "description": "The currency that invoice has been raised in (see Currencies)"
                },
                "CurrencyRate": {
                  "title": "Currency rate",
                  "type": "string",
                  "description": "The currency rate for a multicurrency invoice. (max length = 18)"
                },
                "Date": {
                  "title": "Date",
                  "type": "string",
                  "description": "Date invoice was issued - YYYY-MM-DD. If the Date element is not specified it will default to the current date based on the timezone setting of the organisation"
                },
                "DueDate": {
                  "title": "Due date",
                  "type": "string",
                  "description": "Date invoice is due - YYYY-MM-DD"
                },
                "ExpectedPaymentDate": {
                  "title": "Expected payment date",
                  "type": "string",
                  "description": "Shown on sales invoices (Accounts Receivable) when this has been set"
                },
                "InvoiceNumber": {
                  "title": "Invoice number",
                  "type": "string",
                  "description": "Code identifying invoice (max length = 255)"
                },
                "LineAmountTypes": {
                  "title": "Line amount types",
                  "type": "string",
                  "description": "Line amounts are exclusive of tax by default if you don't specify this element.",
                  "default": "Exclusive",
                  "enum": [
                    "Exclusive",
                    "Inclusive",
                    "No Tax"
                  ]
                },
                "PlannedPaymentDate": {
                  "title": "Planned payment date",
                  "type": "string",
                  "description": "Shown on bills (Accounts Payable) when this has been set"
                },
                "Reference": {
                  "title": "Reference",
                  "type": "string",
                  "description": "ACCREC only - additional reference number (max length = 255)"
                },
                "SentToContact": {
                  "title": "Sent to contact",
                  "type": "string",
                  "description": "Boolean to set whether the invoice in the Xero app should be marked as \"sent\". This can be set only on invoices that have been approved"
                },
                "Status": {
                  "title": "Status",
                  "type": "string",
                  "description": "Invoice status code.",
                  "default": "DRAFT",
                  "enum": [
                    "DRAFT",
                    "SUBMITTED",
                    "AUTHORISED"
                  ]
                },
                "Url": {
                  "title": "Url",
                  "type": "string",
                  "description": "URL link to a source document"
                }
              },
              "required": [
                "Type",
                "Contact",
                "LineItems"
              ]
            }
          }
        ]
      }
    },
    "/Invoices/{InvoiceID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve an invoice",
        "description": "Use this method to retrieve one or many invoices.",
        "operationId": "InvoicesGetA",
        "parameters": [
          {
            "name": "InvoiceID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "InvoiceID",
            "x-ms-summary": "InvoiceID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/Payments/": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get payments",
        "description": "Use this method to retrieve all payments for invoices and credit notes.",
        "operationId": "PaymentsGet",
        "parameters": []
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a payment",
        "description": "Use this method to apply payments to approved AR and AP invoices.",
        "operationId": "PaymentsCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Invoice": {
                  "type": "object",
                  "properties": {
                    "InvoiceID": {
                      "title": "Invoice ID",
                      "type": "string",
                      "description": "Invoice identifier"
                    }
                  },
                  "description": "Invoice"
                },
                "Account": {
                  "type": "object",
                  "properties": {
                    "Code": {
                      "title": "Code",
                      "type": "string",
                      "description": "Account code"
                    }
                  },
                  "description": "Account"
                },
                "Date": {
                  "title": "Date",
                  "type": "string",
                  "description": "Date"
                },
                "Amount": {
                  "title": "Amount",
                  "type": "number",
                  "format": "float",
                  "description": "Amount"
                }
              }
            }
          }
        ]
      }
    },
    "/Payments/{InvoiceID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "PaymentsGetA",
        "summary": "Get a payment",
        "description": "Use this method to retrieve one payment for invoices and credit notes",
        "parameters": [
          {
            "name": "InvoiceID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "InvoiceID",
            "x-ms-summary": "InvoiceID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/PurchaseOrders": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get purchase orders",
        "description": "Use this method to retrieve purchase orders.",
        "operationId": "PurchaseOrdersGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a purchase order",
        "description": "Use this method to create a purchase order",
        "operationId": "PurchaseOrdersCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "PurchaseOrderNumber": {
                  "title": "Purchase order number",
                  "type": "string",
                  "description": "Unique alpha numeric code identifying purchase order (when missing will auto-generate from your Organisation Invoice Settings)"
                },
                "Date": {
                  "title": "Date",
                  "type": "string",
                  "description": "Date purchase order was issued - YYYY-MM-DD. If the Date element is not specified then it will default to the current date based on the timezone setting of the organisation"
                },
                "DeliveryDate": {
                  "title": "Delivery date",
                  "type": "string",
                  "description": "Date the goods are to be delivered - YYYY-MM-DD"
                },
                "Reference": {
                  "title": "Reference",
                  "type": "string",
                  "description": "Additional reference number"
                },
                "Contact": {
                  "type": "object",
                  "properties": {
                    "ContactID": {
                      "title": "Contact ID",
                      "type": "string",
                      "description": "Contact identifier"
                    }
                  },
                  "description": "Contact"
                },
                "BrandingThemeID": {
                  "title": "Branding theme ID",
                  "type": "string",
                  "description": "Branding theme identifier"
                },
                "Status": {
                  "title": "Status",
                  "type": "string",
                  "description": "Purchase order status code",
                  "default": "DRAFT",
                  "enum": [
                    "DRAFT",
                    "SUBMITTED",
                    "AUTHORISED",
                    "BILLED",
                    "DELETED"
                  ]
                },
                "LineAmountTypes": {
                  "title": "Line amount types",
                  "type": "string",
                  "description": "Line amount types",
                  "default": "Exclusive",
                  "enum": [
                    "Exclusive",
                    "Inclusive",
                    "No Tax"
                  ]
                },
                "LineItems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ItemCode": {
                        "title": "Item code",
                        "type": "string",
                        "description": "Item code"
                      },
                      "Description": {
                        "title": "Description",
                        "type": "string",
                        "description": "The description of the line item. A line item can be created with only a description (i.e no unit amount or quantity)"
                      },
                      "UnitAmount": {
                        "title": "Unit amount",
                        "type": "number",
                        "format": "float",
                        "description": "Lineitem unit amount. Will be rounded to four decimal places"
                      },
                      "TaxType": {
                        "title": "Tax type",
                        "type": "string",
                        "description": "Used as an override if the default Tax Code for the selected AccountCode is not correct.",
                        "enum": [
                          "CAPEXINPUT",
                          "CAPEXINPUT2",
                          "CAPEXOUTPUT",
                          "CAPEXOUTPUT2",
                          "CAPEXSRINPUT",
                          "CAPEXSROUTPUT",
                          "ECACQUISITIONS",
                          "ECZRINPUT",
                          "ECZROUTPUT",
                          "ECZROUTPUTSERVICES",
                          "EXEMPTINPUT",
                          "EXEMPTOUTPUT",
                          "GSTONIMPORTS",
                          "INPUT2",
                          "NONE",
                          "OUTPUT2",
                          "REVERSECHARGES",
                          "RRINPUT",
                          "RROUTPUT",
                          "SRINPUT",
                          "SROUTPUT",
                          "ZERORATEDINPUT",
                          "ZERORATEDOUTPUT"
                        ]
                      },
                      "AccountCode": {
                        "title": "Ammount code",
                        "type": "string",
                        "description": "Account code"
                      },
                      "Tracking": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Name": {
                              "title": "Name",
                              "type": "string",
                              "description": "Name"
                            },
                            "Option": {
                              "title": "Option",
                              "type": "string",
                              "description": "Option"
                            }
                          }
                        },
                        "description": "Tracking category"
                      },
                      "Quantity": {
                        "title": "Quantity",
                        "type": "integer",
                        "format": "int32",
                        "description": "LineItem Quantity. If Quantity is specified then a UnitAmount must be specified"
                      },
                      "DiscountRate": {
                        "title": "Discount rate",
                        "type": "string",
                        "description": "Percentage discount being applied to a line item"
                      }
                    }
                  },
                  "description": "The Xero generated identifier for a LineItem."
                },
                "CurrencyRate": {
                  "title": "Currency rate",
                  "type": "number",
                  "format": "float",
                  "description": "Currency rate"
                },
                "CurrencyCode": {
                  "title": "Currency code",
                  "type": "string",
                  "description": "The currency that purchase order has been raised in. A 3 letter alpha code for the currency."
                },
                "DeliveryAddress": {
                  "title": "Delivery address",
                  "type": "string",
                  "description": "The address the goods are to be delivered to."
                },
                "AttentionTo": {
                  "title": "Attention to",
                  "type": "string",
                  "description": "The person that the delivery is going to."
                },
                "Telephone": {
                  "title": "Telephone",
                  "type": "string",
                  "description": "The phone number for the person accepting the delivery."
                },
                "DeliveryInstructions": {
                  "title": "Delivery instructions",
                  "type": "string",
                  "description": "A free text field for instructions (500 characters max)."
                },
                "ExpectedArrivalDate": {
                  "title": "Expected arrival date",
                  "type": "string",
                  "description": "The date the goods are expected to arrive."
                }
              },
              "required": [
                "Contact",
                "LineItems"
              ]
            }
          }
        ]
      }
    },
    "/PurchaseOrders/{PurchaseOrderID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a purchase order",
        "description": "Use this method to retrieve one purchase order.",
        "operationId": "PurchaseOrdersGetA",
        "parameters": [
          {
            "name": "PurchaseOrderID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "PurchaseOrderID",
            "x-ms-summary": "Purchase order ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/BankTransfers": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get bank transfers",
        "description": "Allows you to retrieve any bank transfers",
        "operationId": "BankTransfersGet",
        "parameters": []
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a bank transfer",
        "description": "Use this method to create a bank transfer",
        "operationId": "BankTransferCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "BankTransfers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "FromBankAccount": {
                        "type": "object",
                        "properties": {
                          "Code": {
                            "title": "Code",
                            "type": "string",
                            "description": "The Account Code of the Bank Account. If Code is not included then AccountID is required."
                          },
                          "AccountID": {
                            "title": "Account ID",
                            "type": "string",
                            "description": "The ID of the Bank Account. If AccountID is not included then Code is required."
                          }
                        },
                        "description": "From bank account code and account ID."
                      },
                      "ToBankAccount": {
                        "type": "object",
                        "properties": {
                          "Code": {
                            "title": "Code",
                            "type": "string",
                            "description": "The Account Code of the Bank Account. If Code is not included then AccountID is required."
                          },
                          "AccountID": {
                            "title": "Account ID",
                            "type": "string",
                            "description": "The ID of the Bank Account. If AccountID is not included then Code is required."
                          }
                        },
                        "description": "To bank account code and account ID."
                      },
                      "Amount": {
                        "title": "Amount",
                        "type": "integer",
                        "format": "int32",
                        "description": "Transfer amount"
                      }
                    },
                    "required": [
                      "Amount"
                    ]
                  },
                  "description": "BankTransfers"
                },
                "Date": {
                  "title": "Date",
                  "type": "string",
                  "description": "transfer date"
                }
              },
              "required": [
                "BankTransfers"
              ]
            }
          }
        ]
      }
    },
    "/BankTransfers/{BankTransferID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a bank transfer",
        "parameters": [
          {
            "name": "BankTransferID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "BankTransferID",
            "x-ms-summary": "BankTransferID",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Allows you to retrieve a bank transfer",
        "operationId": "BankTransferGetA"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.xero.com/identity/connect/authorize",
      "tokenUrl": "https://identity.xero.com/connect/token",
      "scopes": {
        "accounting.transactions accounting.transactions.read accounting.reports.read accounting.reports.tenninetynine.read accounting.journals.read accounting.settings accounting.settings.read accounting.contacts accounting.contacts.read accounting.attachments accounting.attachments.read offline_access": "accounting.transactions accounting.transactions.read accounting.reports.read accounting.reports.tenninetynine.read accounting.journals.read accounting.settings accounting.settings.read accounting.contacts accounting.contacts.read accounting.attachments accounting.attachments.read offline_access"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "accounting.transactions accounting.transactions.read accounting.reports.read accounting.reports.tenninetynine.read accounting.journals.read accounting.settings accounting.settings.read accounting.contacts accounting.contacts.read accounting.attachments accounting.attachments.read offline_access"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.xero.com/us/"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.xero.com/us/about/legal/privacy/"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Finance;Data"
      }
    ]
}
