{
  "swagger": "2.0",
  "info": {
    "title": "OpenNEM",
    "description": "The OpenNEM project aims to make the wealth of public Australian Electricity Market (NEM) data more accessible to a wider audience. OpenNEM intent is to facilitate better public understanding of the market, improve energy literacy and help facilitate a more informed national discussion on Australia's energy transition in the long term interests of consumers. My (Paul's) intent is to demonstrate the value the Power Platform as a key enabler of the energy transition",
    "version": "1.0",
    "contact": {
      "name": "Paul Culmsee",
      "url": "https://www.sevensigma.com.au",
      "email": "paul.culmsee@sevensigma.com.au"
    }
  },
  "host": "api.opennem.org.au",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/networks": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "code"
                  },
                  "country": {
                    "type": "string",
                    "description": "country"
                  },
                  "label": {
                    "type": "string",
                    "description": "label"
                  },
                  "regions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        }
                      }
                    },
                    "description": "regions"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "timezone"
                  },
                  "interval_size": {
                    "type": "integer",
                    "format": "int32",
                    "description": "interval size"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Networks",
        "description": "Get Networks",
        "operationId": "GetNetworks",
        "parameters": []
      }
    },
    "/station/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "created_at": {
                  "type": "string",
                  "description": "created at"
                },
                "response_status": {
                  "type": "string",
                  "description": "response status"
                },
                "total_records": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total records"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "network_name": {
                        "type": "string",
                        "description": "Network name"
                      },
                      "location_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Location Id"
                      },
                      "facilities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "id"
                            },
                            "network": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "code"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "country"
                                },
                                "label": {
                                  "type": "string",
                                  "description": "label"
                                },
                                "regions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "code": {
                                        "type": "string",
                                        "description": "code"
                                      }
                                    }
                                  },
                                  "description": "regions"
                                },
                                "timezone": {
                                  "type": "string",
                                  "description": "timezone"
                                },
                                "timezone_database": {
                                  "type": "string",
                                  "description": "timezone database"
                                },
                                "offset": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "offset"
                                },
                                "interval_size": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "interval size"
                                },
                                "interval_shift": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "interval shift"
                                },
                                "intervals_per_hour": {
                                  "type": "number",
                                  "description": "intervals per hour"
                                }
                              },
                              "description": "network"
                            },
                            "fueltech": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "code"
                                },
                                "label": {
                                  "type": "string",
                                  "description": "label"
                                },
                                "renewable": {
                                  "type": "boolean",
                                  "description": "renewable"
                                }
                              },
                              "description": "fueltech"
                            },
                            "status": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "code"
                                },
                                "label": {
                                  "type": "string",
                                  "description": "label"
                                }
                              },
                              "description": "status"
                            },
                            "station_id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Station Id"
                            },
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "dispatch_type": {
                              "type": "string",
                              "description": "dispatch type"
                            },
                            "active": {
                              "type": "boolean",
                              "description": "active"
                            },
                            "capacity_registered": {
                              "type": "number",
                              "description": "capacity registered"
                            },
                            "network_region": {
                              "type": "string",
                              "description": "Network region"
                            },
                            "unit_number": {
                              "type": "integer",
                              "format": "int32",
                              "description": "unit number"
                            },
                            "unit_capacity": {
                              "type": "number",
                              "description": "unit capacity"
                            },
                            "approved": {
                              "type": "boolean",
                              "description": "approved"
                            },
                            "approved_by": {
                              "type": "string",
                              "description": "approved by"
                            },
                            "registered": {
                              "type": "string",
                              "description": "registered"
                            },
                            "unit_id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "unit id"
                            },
                            "approved_at": {
                              "type": "string",
                              "description": "approved at"
                            },
                            "emissions_factor_co2": {
                              "type": "number",
                              "description": "emissions factor co2"
                            }
                          }
                        },
                        "description": "facilities"
                      },
                      "approved": {
                        "type": "boolean",
                        "description": "approved"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "created_by": {
                        "type": "string",
                        "description": "created by"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created at"
                      },
                      "wikipedia_link": {
                        "type": "string",
                        "description": "wikipedia link"
                      },
                      "wikidata_id": {
                        "type": "string",
                        "description": "wikidata id"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Network Stations",
        "description": "Get Network Stations",
        "operationId": "GetStations",
        "parameters": [
          {
            "name": "facilities_include",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Include Facilities",
            "description": "Include facilities in records (Default: true)"
          },
          {
            "name": "only_approved",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Only Approved",
            "description": "Only show approved stations not those pending (default false)"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Partial match for name allowed (eg MELB)",
            "x-ms-summary": "Facility Name"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "important",
            "description": "Record Limit",
            "x-ms-summary": "Record Limit"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Default 1",
            "description": "Page"
          }
        ]
      }
    },
    "/station/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "created_at": {
                  "type": "string",
                  "description": "created at"
                },
                "response_status": {
                  "type": "string",
                  "description": "response status"
                },
                "total_records": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total records"
                },
                "record": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "code": {
                      "type": "string",
                      "description": "code"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "network_name": {
                      "type": "string",
                      "description": "Network name"
                    },
                    "location_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Location Id"
                    },
                    "facilities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "network": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "code"
                              },
                              "country": {
                                "type": "string",
                                "description": "country"
                              },
                              "label": {
                                "type": "string",
                                "description": "label"
                              },
                              "regions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string",
                                      "description": "code"
                                    }
                                  }
                                },
                                "description": "regions"
                              },
                              "timezone": {
                                "type": "string",
                                "description": "timezone"
                              },
                              "timezone_database": {
                                "type": "string",
                                "description": "timezone database"
                              },
                              "offset": {
                                "type": "integer",
                                "format": "int32",
                                "description": "offset"
                              },
                              "interval_size": {
                                "type": "integer",
                                "format": "int32",
                                "description": "interval size"
                              },
                              "interval_shift": {
                                "type": "integer",
                                "format": "int32",
                                "description": "interval shift"
                              },
                              "intervals_per_hour": {
                                "type": "number",
                                "format": "float",
                                "description": "intervals per hour"
                              }
                            },
                            "description": "network"
                          },
                          "fueltech": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "code"
                              },
                              "label": {
                                "type": "string",
                                "description": "label"
                              },
                              "renewable": {
                                "type": "boolean",
                                "description": "renewable"
                              }
                            },
                            "description": "fueltech"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "code"
                              },
                              "label": {
                                "type": "string",
                                "description": "label"
                              }
                            },
                            "description": "status"
                          },
                          "station_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Station Id"
                          },
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "dispatch_type": {
                            "type": "string",
                            "description": "dispatch type"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "active"
                          },
                          "capacity_registered": {
                            "type": "number",
                            "format": "float",
                            "description": "capacity registered"
                          },
                          "registered": {
                            "type": "string",
                            "description": "registered"
                          },
                          "deregistered": {
                            "type": "string",
                            "description": "deregistered"
                          },
                          "expected_closure_date": {
                            "type": "string",
                            "description": "Expected closure date"
                          },
                          "expected_closure_year": {
                            "type": "string",
                            "description": "Expected closure year"
                          },
                          "network_region": {
                            "type": "string",
                            "description": "Network region"
                          },
                          "unit_id": {
                            "type": "integer",
                            "description": "unit id",
                            "format": "int32"
                          },
                          "unit_number": {
                            "type": "integer",
                            "description": "unit number",
                            "format": "int32"
                          },
                          "unit_alias": {
                            "type": "string",
                            "description": "unit alias"
                          },
                          "unit_capacity": {
                            "type": "number",
                            "description": "unit capacity",
                            "format": "float"
                          },
                          "emissions_factor_co2": {
                            "type": "number",
                            "format": "float",
                            "description": "emissions factor co2"
                          },
                          "approved": {
                            "type": "boolean",
                            "description": "approved"
                          },
                          "approved_by": {
                            "type": "string",
                            "description": "approved by"
                          },
                          "approved_at": {
                            "type": "string",
                            "description": "approved at"
                          }
                        }
                      },
                      "description": "facilities"
                    },
                    "approved": {
                      "type": "boolean",
                      "description": "approved"
                    },
                    "description": {
                      "type": "string",
                      "description": "description"
                    },
                    "wikipedia_link": {
                      "type": "string",
                      "description": "wikipedia link"
                    },
                    "wikidata_id": {
                      "type": "string",
                      "description": "wikidata id"
                    },
                    "created_by": {
                      "type": "string",
                      "description": "created by"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "created at"
                    }
                  },
                  "description": "record"
                }
              }
            }
          }
        },
        "summary": "Get Network Station by ID",
        "description": "Get Network Station by ID",
        "operationId": "GetStationByID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Station ID",
            "x-ms-url-encoding" : "single",            
            "x-ms-summary": "Station ID",
            "x-ms-dynamic-values": {
              "operationId": "GetStations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/station/{country_code}/{network_id}/{station_code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "facilities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "network": {
                        "type": "string",
                        "description": "network"
                      },
                      "fueltech": {
                        "type": "string",
                        "description": "fueltech"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "dispatch_type": {
                        "type": "string",
                        "description": "dispatch type"
                      },
                      "capacity_registered": {
                        "type": "number",
                        "format": "float",
                        "description": "capacity registered"
                      },
                      "network_region": {
                        "type": "string",
                        "description": "Network region"
                      },
                      "data_first_seen": {
                        "type": "string",
                        "description": "Data first seen"
                      },
                      "data_last_seen": {
                        "type": "string",
                        "description": "Data last seen"
                      }
                    }
                  },
                  "description": "Facilities of a station"
                },
                "photos": {
                  "type": "array",
                  "items": {},
                  "description": "photos"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "network_name": {
                  "type": "string",
                  "description": "Network name"
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "address1": {
                      "type": "string",
                      "description": "address1"
                    },
                    "address2": {
                      "type": "string",
                      "description": "address2"
                    },
                    "locality": {
                      "type": "string",
                      "description": "locality"
                    },
                    "state": {
                      "type": "string",
                      "description": "state"
                    },
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "geocode_approved": {
                      "type": "boolean",
                      "description": "geocode approved"
                    },
                    "geocode_skip": {
                      "type": "boolean",
                      "description": "geocode skip"
                    },
                    "geocode_by": {
                      "type": "string",
                      "description": "geocode by"
                    },
                    "geom": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "coordinates": {
                          "type": "array",
                          "items": {
                            "type": "number",
                            "format": "float"
                          },
                          "description": "coordinates"
                        }
                      },
                      "description": "geom"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "lat"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "lng"
                    }
                  },
                  "description": "location"
                },
                "network": {
                  "type": "string",
                  "description": "network"
                }
              }
            }
          }
        },
        "summary": "Get a Single Network Station by Code",
        "description": "Get a Single Network Station by Code",
        "operationId": "GetSingleStationbyCode",
        "parameters": [
          {
            "name": "country_code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding" : "single",            
            "description": "Country Code",
            "x-ms-summary": "Country Code",
            "default": "au",
            "x-ms-visibility": "internal"
          },
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Network ID",
            "x-ms-url-encoding" : "single",            
            "x-ms-dynamic-values": {
              "operationId": "GetNetworks",
              "value-path": "code",
              "value-title": "label"
            },
            "x-ms-summary": "Network ID"
          },
          {
            "name": "station_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Station Code",
            "x-ms-summary": "Station Code",
            "x-ms-url-encoding" : "single",            
            "x-ms-dynamic-values": {
              "operationId": "GetStations",
              "value-path": "code",
              "value-collection": "data",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/facility/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "network": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "country": {
                        "type": "string",
                        "description": "country"
                      },
                      "label": {
                        "type": "string",
                        "description": "label"
                      },
                      "regions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "description": "code"
                            }
                          }
                        },
                        "description": "regions"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "timezone"
                      },
                      "timezone_database": {
                        "type": "string",
                        "description": "timezone database"
                      },
                      "offset": {
                        "type": "integer",
                        "format": "int32",
                        "description": "offset"
                      },
                      "interval_size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "interval size"
                      },
                      "interval_shift": {
                        "type": "integer",
                        "format": "int32",
                        "description": "interval shift"
                      },
                      "intervals_per_hour": {
                        "type": "number",
                        "format": "float",
                        "description": "intervals per hour"
                      }
                    },
                    "description": "network"
                  },
                  "fueltech": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "label": {
                        "type": "string",
                        "description": "label"
                      },
                      "renewable": {
                        "type": "boolean",
                        "description": "renewable"
                      }
                    },
                    "description": "fueltech"
                  },
                  "status": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "label": {
                        "type": "string",
                        "description": "label"
                      }
                    },
                    "description": "status"
                  },
                  "station_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Station Id"
                  },
                  "code": {
                    "type": "string",
                    "description": "code"
                  },
                  "dispatch_type": {
                    "type": "string",
                    "description": "dispatch type"
                  },
                  "capacity_registered": {
                    "type": "number",
                    "format": "float",
                    "description": "capacity registered"
                  },
                  "registered": {
                    "type": "string",
                    "description": "registered"
                  },
                  "deregistered": {
                    "type": "string",
                    "description": "deregistered"
                  },
                  "network_region": {
                    "type": "string",
                    "description": "Network region"
                  },
                  "unit_id": {
                    "type": "integer",
                    "description": "unit id",
                    "format": "int32"
                  },
                  "unit_number": {
                    "type": "integer",
                    "description": "unit number",
                    "format": "int32"
                  },
                  "unit_alias": {
                    "type": "string",
                    "description": "unit alias"
                  },
                  "unit_capacity": {
                    "type": "number",
                    "description": "unit capacity",
                    "format": "float"
                  },
                  "created_by": {
                    "type": "string",
                    "description": "created by"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "created at"
                  },
                  "approved": {
                    "type": "boolean",
                    "description": "approved"
                  },
                  "approved_by": {
                    "type": "string",
                    "description": "approved by"
                  },
                  "approved_at": {
                    "type": "string",
                    "description": "approved at"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Facilities",
        "description": "Get Facilities",
        "operationId": "GetFacilities",
        "parameters": []
      }
    },
    "/facility/{facility_code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "network": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "code"
                    },
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "label": {
                      "type": "string",
                      "description": "label"
                    },
                    "regions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "region code"
                          }
                        }
                      },
                      "description": "regions"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "timezone"
                    },
                    "timezone_database": {
                      "type": "string",
                      "description": "timezone database"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "offset"
                    },
                    "interval_size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "interval size"
                    },
                    "interval_shift": {
                      "type": "integer",
                      "format": "int32",
                      "description": "interval shift"
                    },
                    "intervals_per_hour": {
                      "type": "integer",
                      "format": "int32",
                      "description": "intervals per hour"
                    }
                  },
                  "description": "network"
                },
                "fueltech": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "code"
                    },
                    "label": {
                      "type": "string",
                      "description": "label"
                    },
                    "renewable": {
                      "type": "boolean",
                      "description": "renewable"
                    }
                  },
                  "description": "fueltech"
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "code"
                    },
                    "label": {
                      "type": "string",
                      "description": "label"
                    }
                  },
                  "description": "status"
                },
                "station_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Station Id"
                },
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "dispatch_type": {
                  "type": "string",
                  "description": "dispatch type"
                },
                "capacity_registered": {
                  "type": "integer",
                  "format": "int32",
                  "description": "capacity registered"
                },
                "registered": {
                  "type": "string",
                  "description": "registered"
                },
                "deregistered": {
                  "type": "string",
                  "description": "deregistered"
                },
                "network_region": {
                  "type": "string",
                  "description": "Network region"
                },
                "unit_id": {
                  "type": "string",
                  "description": "unit id"
                },
                "unit_number": {
                  "type": "string",
                  "description": "unit number"
                },
                "unit_alias": {
                  "type": "string",
                  "description": "unit alias"
                },
                "unit_capacity": {
                  "type": "string",
                  "description": "unit capacity"
                },
                "created_by": {
                  "type": "string",
                  "description": "created by"
                },
                "created_at": {
                  "type": "string",
                  "description": "created at"
                },
                "approved": {
                  "type": "boolean",
                  "description": "approved"
                },
                "approved_by": {
                  "type": "string",
                  "description": "approved by"
                },
                "approved_at": {
                  "type": "string",
                  "description": "approved at"
                }
              }
            }
          }
        },
        "summary": "Get Facility by Code",
        "description": "Get Facility by Code",
        "operationId": "GetFacilitybyCode",
        "parameters": [
          {
            "name": "facility_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Facility Code",
            "x-ms-url-encoding" : "single",            
            "x-ms-summary": "Facility Code"
          }
        ]
      }
    },
    "/weather/station": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "code"
                  },
                  "state": {
                    "type": "string",
                    "description": "state"
                  },
                  "name_alias": {
                    "type": "string",
                    "description": "name alias"
                  },
                  "registered": {
                    "type": "string",
                    "description": "registered"
                  },
                  "website_url": {
                    "type": "string",
                    "description": "website url"
                  },
                  "altitude": {
                    "type": "integer",
                    "format": "int32",
                    "description": "altitude"
                  },
                  "lat": {
                    "type": "number",
                    "format": "float",
                    "description": "lat"
                  },
                  "lng": {
                    "type": "number",
                    "format": "float",
                    "description": "lng"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Weather Stations",
        "description": "Get Weather Stations",
        "operationId": "GetWeatherStations",
        "parameters": []
      }
    },
    "/weather/station/{station_code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "state": {
                  "type": "string",
                  "description": "state"
                },
                "name_alias": {
                  "type": "string",
                  "description": "name alias"
                },
                "registered": {
                  "type": "string",
                  "description": "registered"
                },
                "website_url": {
                  "type": "string",
                  "description": "website url"
                },
                "altitude": {
                  "type": "integer",
                  "format": "int32",
                  "description": "altitude"
                },
                "lat": {
                  "type": "integer",
                  "format": "int32",
                  "description": "lat"
                },
                "lng": {
                  "type": "integer",
                  "format": "int32",
                  "description": "lng"
                },
                "observations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "observation_time": {
                        "type": "string",
                        "description": "observation time"
                      },
                      "station_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Station Id"
                      },
                      "temp_apparent": {
                        "type": "integer",
                        "format": "int32",
                        "description": "apparent temperature"
                      },
                      "temp_air": {
                        "type": "integer",
                        "format": "int32",
                        "description": "air temperature"
                      },
                      "press_qnh": {
                        "type": "integer",
                        "format": "int32",
                        "description": "QNH pressure"
                      },
                      "wind_dir": {
                        "type": "string",
                        "description": "wind direction"
                      },
                      "wind_spd": {
                        "type": "integer",
                        "format": "int32",
                        "description": "wind speed"
                      },
                      "wind_gust": {
                        "type": "integer",
                        "format": "int32",
                        "description": "wind gust"
                      },
                      "humidity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "humidity"
                      },
                      "cloud": {
                        "type": "string",
                        "description": "cloud"
                      },
                      "cloud_type": {
                        "type": "string",
                        "description": "cloud type"
                      }
                    }
                  },
                  "description": "observations"
                }
              }
            }
          }
        },
        "summary": "Get Weather Station by Code",
        "description": "Get Weather Station by Code",
        "operationId": "GetWeatherStationbyCode",
        "parameters": [
          {
            "name": "station_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Weather Station Code",
            "x-ms-url-encoding" : "single",            
            "x-ms-summary": "Weather Station Code"
          }
        ]
      }
    },
    "/weather/station/observation/{station_code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "response_status": {
                  "type": "string",
                  "description": "response status"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "network": {
                  "type": "string",
                  "description": "network"
                },
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "region": {
                  "type": "string",
                  "description": "region"
                },
                "created_at": {
                  "type": "string",
                  "description": "created at"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Weather Station Observations",
        "description": "Get Weather Station Observations",
        "operationId": "GetWeatherStationObservations",
        "parameters": [
          {
            "name": "station_code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetWeatherStations",
              "value-path": "code",
              "value-title": "name_alias"
            },
            "description": "Station Code",
            "x-ms-url-encoding" : "single",            
            "x-ms-summary": "Station Code"
          },
          {
            "name": "interval_human",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetIntervals",
              "value-path": "interval_human",
              "value-title": "interval_human"
            },
            "x-ms-summary": "Interval",
            "description": "Default: \"15m\""
          },
          {
            "name": "period_human",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetPeriods",
              "value-path": "period_human",
              "value-title": "period_human"
            },
            "x-ms-summary": "Period",
            "description": "Default: \"7d\""
          },
          {
            "name": "network_code",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetNetworks",
              "value-path": "label",
              "value-title": "code"
            },
            "description": "Default: \"NEM\"",
            "x-ms-summary": "Network"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Time zone",
            "x-ms-summary": "Time zone"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Offset",
            "x-ms-summary": "Offset"
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "advanced",
            "description": "Year",
            "x-ms-summary": "Year"
          }
        ]
      }
    },
    "/networks/regions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "code"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "timezone"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Network Regions",
        "description": "Get Network Regions",
        "operationId": "GetNetworkRegions",
        "parameters": [
          {
            "name": "network_code",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetNetworks",
              "value-path": "code",
              "value-title": "code"
            },
            "description": "Network Code",
            "x-ms-summary": "Network Code"
          }
        ]
      }
    },
    "/fueltechs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "code"
                  },
                  "label": {
                    "type": "string",
                    "description": "label"
                  },
                  "renewable": {
                    "type": "boolean",
                    "description": "renewable"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Fuel Technologies",
        "description": "Get Fuel Technologies",
        "operationId": "GetFuelTechnologies",
        "parameters": []
      }
    },
    "/intervals": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "interval": {
                    "type": "integer",
                    "format": "int32",
                    "description": "interval"
                  },
                  "interval_human": {
                    "type": "string",
                    "description": "interval human"
                  },
                  "interval_sql": {
                    "type": "string",
                    "description": "interval sql"
                  },
                  "trunc": {
                    "type": "string",
                    "description": "trunc"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Intervals",
        "description": "Get Intervals",
        "operationId": "GetIntervals",
        "parameters": []
      }
    },
    "/periods": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "period": {
                    "type": "integer",
                    "format": "int32",
                    "description": "period"
                  },
                  "period_human": {
                    "type": "string",
                    "description": "period human"
                  },
                  "period_sql": {
                    "type": "string",
                    "description": "period sql"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Periods",
        "description": "Get Periods",
        "operationId": "GetPeriods",
        "parameters": []
      }
    },
    "/units": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "name_alias": {
                    "type": "string",
                    "description": "name alias"
                  },
                  "unit_type": {
                    "type": "string",
                    "description": "unit type"
                  },
                  "round_to": {
                    "type": "integer",
                    "format": "int32",
                    "description": "round to"
                  },
                  "unit": {
                    "type": "string",
                    "description": "unit"
                  },
                  "cast_nulls": {
                    "type": "boolean",
                    "description": "cast nulls"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Units",
        "description": "Get Units",
        "operationId": "GetUnits",
        "parameters": []
      }
    },
    "/stats/power/station/{network_code}/{station_code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "response_status": {
                  "type": "string",
                  "description": "response status"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "network": {
                  "type": "string",
                  "description": "network"
                },
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "region": {
                  "type": "string",
                  "description": "region"
                },
                "created_at": {
                  "type": "string",
                  "description": "created at"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Power by Station",
        "description": "Get Power by Station",
        "operationId": "GetPowerbyStation",
        "parameters": [
          {
            "name": "network_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Network Code",
            "x-ms-url-encoding" : "single",            
            "x-ms-summary": "Network Code",
            "x-ms-dynamic-values": {
              "operationId": "GetNetworks",
              "value-path": "code",
              "value-title": "label"
            }
          },
          {
            "name": "station_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Station Code",
            "x-ms-url-encoding" : "single",            
            "x-ms-summary": "Station Code",
            "x-ms-dynamic-values": {
              "operationId": "GetStations",
              "value-path": "code",
              "value-collection": "data",
              "value-title": "name"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Since",
            "x-ms-summary": "Since"
          },
          {
            "name": "interval_human",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetIntervals",
              "value-path": "interval_human",
              "value-title": "interval_human"
            },
            "description": "Interval",
            "x-ms-summary": "Interval"
          },
          {
            "name": "period_human",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetPeriods",
              "value-path": "period_human",
              "value-title": "period_human"
            },
            "description": "Period",
            "x-ms-summary": "Period"
          }
        ]
      }
    },
    "/stats/energy/station/{network_code}/{station_code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "response_status": {
                  "type": "string",
                  "description": "response status"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "network": {
                  "type": "string",
                  "description": "network"
                },
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "region": {
                  "type": "string",
                  "description": "region"
                },
                "created_at": {
                  "type": "string",
                  "description": "created at"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Energy by Station",
        "description": "Get energy output for a station (list of facilities) over a period",
        "operationId": "GetEnergybyStation",
        "parameters": [
          {
            "name": "network_code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding" : "single",            
            "x-ms-dynamic-values": {
              "operationId": "GetNetworks",
              "value-path": "code",
              "value-title": "label"
            },
            "description": "Network Code",
            "x-ms-summary": "Network Code"
          },
          {
            "name": "station_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Station Code",
            "x-ms-url-encoding" : "single",            
            "x-ms-summary": "Station Code",
            "x-ms-dynamic-values": {
              "operationId": "GetStations",
              "value-path": "code",
              "value-collection": "data",
              "value-title": "name"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetIntervals",
              "value-path": "interval_human",
              "value-title": "interval_human"
            },
            "description": "Interval",
            "x-ms-summary": "Interval"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetPeriods",
              "value-path": "period",
              "value-title": "period_human"
            },
            "description": "Period",
            "x-ms-summary": "Period"
          }
        ]
      }
    },
    "/stats/flow/network/{network_code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "response_status": {
                  "type": "string",
                  "description": "response status"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "network": {
                  "type": "string",
                  "description": "network"
                },
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "region": {
                  "type": "string",
                  "description": "region"
                },
                "created_at": {
                  "type": "string",
                  "description": "created at"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Interconnector Flow Network",
        "description": "Get Interconnector Flow Network",
        "operationId": "GetInterconnectorFlowNetwork",
        "parameters": [
          {
            "name": "network_code",
            "in": "path",
            "required": true,
            "x-ms-url-encoding" : "single",            
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetNetworks",
              "value-path": "code",
              "value-title": "label"
            },
            "x-ms-summary": "Network",
            "description": "Network"
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Month/Year",
            "description": "format yyyy-mm-dd",
            "format": "date"
          }
        ]
      }
    },
    "/stats/power/network/fueltech/{network_code}/{network_region_code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "response_status": {
                  "type": "string",
                  "description": "response status"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "network": {
                  "type": "string",
                  "description": "network"
                },
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "region": {
                  "type": "string",
                  "description": "region"
                },
                "created_at": {
                  "type": "string",
                  "description": "created at"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Power Network Region By Fueltech",
        "description": "Get Power Network Region By Fueltech",
        "operationId": "GetPowerNetworkRegionByFueltech",
        "parameters": [
          {
            "name": "network_code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding" : "single",            
            "x-ms-dynamic-values": {
              "operationId": "GetNetworks",
              "value-path": "code",
              "value-title": "label"
            },
            "description": "Network",
            "x-ms-summary": "Network"
          },
          {
            "name": "network_region_code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding" : "single",            
            "x-ms-dynamic-values": {
              "operationId": "GetNetworkRegions",
              "value-path": "code",
              "value-title": "code",
              "parameters": {
                "network_code": {
                  "parameter": "network_code"
                }
              }
            },
            "description": "Region",
            "x-ms-summary": "Region"
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-visibility": "important",
            "description": "format yyyy-mm-dd",
            "x-ms-summary": "Month/Year"
          }
        ]
      }
    },
    "/stats/emissionfactor/network/{network_code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "response_status": {
                  "type": "string",
                  "description": "response status"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "network": {
                  "type": "string",
                  "description": "network"
                },
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "region": {
                  "type": "string",
                  "description": "region"
                },
                "created_at": {
                  "type": "string",
                  "description": "created at"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Emission Factor Per Network Region",
        "description": "Get Emission Factor Per Network Region",
        "operationId": "GetEmissionFactorPerNetworkRegion",
        "parameters": [
          {
            "name": "network_code",
            "in": "path",
            "required": true,
            "x-ms-url-encoding" : "single",            
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetNetworks",
              "value-path": "code",
              "value-title": "label"
            },
            "description": "Network",
            "x-ms-summary": "Network"
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetIntervals",
              "value-path": "interval_human",
              "value-title": "interval_human"
            },
            "description": "Interval",
            "x-ms-summary": "Internal"
          }
        ]
      }
    },
    "/stats/fueltech_mix/{network_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "response_status": {
                  "type": "string",
                  "description": "response status"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "network": {
                  "type": "string",
                  "description": "network"
                },
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "region": {
                  "type": "string",
                  "description": "region"
                },
                "created_at": {
                  "type": "string",
                  "description": "created at"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Fueltech Mix By Network",
        "description": "Return fueltech proportion of demand for a network",
        "operationId": "GetFueltechMixByNetwork",
        "parameters": [
          {
            "name": "network_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding" : "single",            
            "x-ms-dynamic-values": {
              "operationId": "GetNetworks",
              "value-path": "code",
              "value-title": "label"
            },
            "description": "Network",
            "x-ms-summary": "Network"
          }
        ]
      }
    },
    "/stats/price/{network_code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "network": {
                  "type": "string",
                  "description": "network"
                },
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "created_at": {
                  "type": "string",
                  "description": "created at"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "network": {
                        "type": "string",
                        "description": "network"
                      },
                      "data_type": {
                        "type": "string",
                        "description": "data type"
                      },
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "units": {
                        "type": "string",
                        "description": "units"
                      },
                      "history": {
                        "type": "object",
                        "properties": {
                          "start": {
                            "type": "string",
                            "description": "start"
                          },
                          "last": {
                            "type": "string",
                            "description": "last"
                          },
                          "interval": {
                            "type": "string",
                            "description": "interval"
                          },
                          "data": {
                            "type": "array",
                            "items": {},
                            "description": "data"
                          }
                        },
                        "description": "history"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Price History By Network and Network Region",
        "description": "Returns network and network region price info for interval which defaults to network interval size",
        "operationId": "GetPriceHistoryByNetworkandNetworkRegion",
        "parameters": [
          {
            "name": "network_code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding" : "single",            
            "x-ms-dynamic-values": {
              "operationId": "GetNetworks",
              "value-path": "code",
              "value-title": "label"
            },
            "description": "Network",
            "x-ms-summary": "Network"
          },
          {
            "name": "network_region",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetNetworkRegions",
              "value-path": "code",
              "value-title": "code",
              "parameters": {
                "network_code": {
                  "parameter": "network_code"
                }
              }
            },
            "description": "Network region",
            "x-ms-summary": "Network Region"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://opennem.org.au"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://opennem.org.au/about/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Business Intelligence"
    }
  ]
}