{
  "swagger": "2.0",
  "info": {
    "title": "Zoho Calendar",
    "description": "Zoho Calendar is an online business calendar that makes scheduling easy for you. You can use it to stay on top of your schedule and also share calendars with your team to keep everyone on the same page.",
    "version": "1.0",
    "contact": {
      "name": "Zoho Calendar",
      "email": "zmintegration@zohomail.com",
      "url": "https://www.zoho.com/calendar/contact.html"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "x-ms-keywords": [
      "calendar",
      "calendars",
      "events",
      "event",
      "zoho calendar",
      "zohocalendar"
    ]
  },
  "host": "calendar.zoho.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v1/calendars": {
      "get": {
        "operationId": "Get_Calendar_List",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "calendars": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SingleCalendarRes"
                  },
                  "description": "calendars"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "summary": "Get calendar list",
        "description": "this endpoint gets the list of all calendars with the Calendar unique ID, Name, and timezone. For example, the user wants to see all their calendars before scheduling a meeting. They can enter the prompt as get my zoho calendars, and the operation retrieves their calendars with their details.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get_Calendar_List",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/v1/calendars/getevents": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "events": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SingleEventRes"
                  },
                  "description": "events"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "summary": "Get Event list",
        "operationId": "Get_Event_List",
        "parameters": [
          {
            "$ref": "#/parameters/cuid"
          },
          {
            "name": "byinstance",
            "type": "boolean",
            "in": "query",
            "default": true,
            "x-ms-summary": "By Instance",
            "description": "Retrieves all the instances of repeat events as a separate event when it is set as true. Date range  shouldn't exceed 31 days.",
            "required": true
          },
          {
            "name": "start",
            "type": "string",
            "in": "query",
            "required": true,
            "description": "Specify the start time in the format yyyy-MM-ddThh:mm:sszzz",
            "x-ms-summary": "Start time"
          },
          {
            "name": "end",
            "type": "string",
            "in": "query",
            "required": true,
            "description": "Specify the end time in the format yyyy-MM-ddThh:mm:sszzz",
            "x-ms-summary": "End time"
          },
          {
            "$ref": "#/parameters/timezone"
          }
        ],
        "description": "this endpoint gets you the list of all the events with Event unique ID, Title, start time, end time based on the specified date range in  yyyy-MM-ddTHH:mm:sszzz  or yyyy-MM-dd format using the Calendar unique ID. The user gives the Calendar unique id, start and end dates as inputs in either yyyy-MM-ddTHH:mm:sszzz (including time) or yyyy-MM-dd (date only) format. The operation would return a list of events that fall within the specified date range that includes details such as the Event unique ID, Calendar unique ID, start time, end time etc. \\n For example, you can have the operation show you all your  events this week. You can enter the prompt as \"Show me all my events from today (2024-05-14) to Sunday (2024-05-19) for the calendar def789-ghi012 and the operation would retrieve all the events of calendar def789-ghi012 you have in that week.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get_Event_List",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/v1/calendars/event": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "uid"
                      },
                      "recurrenceid": {
                        "type": "string",
                        "description": "recurrenceid"
                      }
                    }
                  },
                  "description": "events"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "summary": "Delete event",
        "description": "Deletes an event from the user's calendar.",
        "operationId": "Delete_Event",
        "parameters": [
          {
            "$ref": "#/parameters/cuid"
          },
          {
            "$ref": "#/parameters/euid"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SingleEventRes"
            }
          }
        },
        "summary": "Create new event",
        "description": "Adds a new event to the user's calendar.",
        "operationId": "New_Event",
        "parameters": [
          {
            "$ref": "#/parameters/cuid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventReq"
            }
          }
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "$ref": "#/definitions/SingleEventRes"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "summary": "Update Event",
        "description": "Updates an existing event in a user's calendar.",
        "operationId": "Update_Event",
        "parameters": [
          {
            "$ref": "#/parameters/cuid"
          },
          {
            "$ref": "#/parameters/euid"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EventReq"
            }
          }
        ]
      }
    },
    "/api/v1/webHooksPresence/external": {
      "delete": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "summary": "Delete notification",
        "description": "delete event notification",
        "operationId": "Delete_Notification",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "notifyId",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "serviceId",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Delete_Notification",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/api/v1/webHooksPresence/external/newevent": {
      "x-ms-notification-content": {
        "description": "new event response",
        "schema": {
          "$ref": "#/definitions/EventNotifyRes"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "summary": "New event notification",
        "description": "When an event is added to a calendar",
        "operationId": "New_Event_Notification",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "notifyUrl": {
                  "type": "string",
                  "description": "notifyUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "serviceId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "serviceId",
                  "title": "",
                  "default": 5,
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "newEvent"
                }
              },
              "required": [
                "notifyUrl",
                "serviceId",
                "name"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/webHooksPresence/external/deleteEvent": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "zc_data": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "string",
                  "title": "Event unique ID",
                  "description": "Unique identifier of the event"
                },
                "caluid": {
                  "type": "string",
                  "title": "Calendar unique ID",
                  "description": "Unique identifier of the calendar"
                }
              },
              "title": "Delete Notification",
              "description": "notification of delete event"
            }
          }
        },
        "description": "delete event response"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "summary": "Delete event notification",
        "description": "When an event is deleted in a calendar",
        "operationId": "Delete_Event_Notification",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "notifyUrl": {
                  "type": "string",
                  "description": "notifyUrl",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "serviceId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "serviceId",
                  "title": "",
                  "default": 5,
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "deleteEvent"
                }
              },
              "required": [
                "name",
                "notifyUrl",
                "serviceId"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/webHooksPresence/external/editEvent": {
      "x-ms-notification-content": {
        "description": "response of edit event",
        "schema": {
          "$ref": "#/definitions/EventNotifyRes"
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok"
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "summary": "Edit event notification",
        "description": "When an event is updated to a calendar",
        "operationId": "Edit_Event_Notification",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "notifyUrl": {
                  "type": "string",
                  "description": "notifyUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "serviceId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "serviceId",
                  "title": "",
                  "default": 5,
                  "x-ms-visibility": "internal"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "",
                  "default": "editEvent",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "notifyUrl",
                "name",
                "serviceId"
              ]
            }
          }
        ]
      }
    },
    "/dummytest": {},
    "/api/v1/calendars/getEvent": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/SingleEventRes"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "summary": "Get event",
        "operationId": "Get_Event",
        "parameters": [
          {
            "$ref": "#/parameters/cuid"
          },
          {
            "$ref": "#/parameters/euid"
          }
        ],
        "description": "this endpoint gets the details of a particular event such as the Event unique ID, Title, start time, end time based on the Calendar unique ID and Event unique ID. The user enters the Calendar unique ID and Event unique ID as inputs. Based on the provided details, the operation would retrieve details about the event such as the Event unique ID, Title, start time, end time based. \\n For example, the user wants to check their meeting schedule.  Users can enter the prompt as Get my event detils of event event-ijk012 for the Calendar cal-ghi012, and the operation retrieves the details regarding that event.",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get_Event",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/v1/calendars/search": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "search": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "title": "Event unique ID",
                        "description": "Unique identifier of the event"
                      },
                      "isallday": {
                        "type": "boolean",
                        "title": "Is all day event",
                        "description": "Whether the event is an all-day event"
                      },
                      "caluid": {
                        "type": "string",
                        "title": "Calendar unique ID",
                        "description": "Unique identifier of the calendar"
                      },
                      "title": {
                        "type": "string",
                        "title": "Title",
                        "description": "Title of the event"
                      },
                      "type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "type"
                      },
                      "dateandtime": {
                        "type": "object",
                        "properties": {
                          "timezone": {
                            "type": "string",
                            "title": "Timezone",
                            "description": "timezone of the event"
                          },
                          "start": {
                            "type": "string",
                            "title": "start time",
                            "description": "Start time of the event"
                          },
                          "end": {
                            "type": "string",
                            "title": "end time",
                            "description": "End time of the event"
                          }
                        },
                        "description": "Event"
                      }
                    }
                  },
                  "description": "search"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "summary": "Search Events",
        "operationId": "Search_Events",
        "description": "this endpoint gets the list of events from the specified Calendar unique ID based on the specified date range in yyyy-MM-ddTHH:mm:sszzz format. The user enters the alendar unique ID and the date range in yyyy-MM-ddTHH:mm:sszzz format as inputs. Based on the provided date range, the operation returns only those that fall within the specified timeframe. \\n For example, you can have the operation get events from your calendar def789-ghi012. You can enter the prompt as Get all events of calendar def789-ghi012 for the next week. and the operation would retrieve all the matched events of calendar def789-ghi012 scheduled for the next week.",
        "parameters": [
          {
            "$ref": "#/parameters/cuid"
          },
          {
            "name": "start",
            "type": "string",
            "in": "query",
            "description": "Specify event start time in the format yyyy-MM-ddTHH:mm:sszzz.",
            "x-ms-summary": "Start time",
            "required": true
          },
          {
            "name": "end",
            "type": "string",
            "in": "query",
            "description": "Specify event end time in the format yyyy-MM-ddTHH:mm:sszzz.",
            "x-ms-summary": "End time"
          },
          {
            "name": "searchtext",
            "type": "string",
            "in": "query",
            "description": "Specify should be searched for in title",
            "x-ms-summary": "Search text"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Search_Events",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/v1/calendardetail": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/SingleCalendarRes"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "409": {
            "description": "Conflict"
          },
          "500": {
            "description": "Internal error"
          }
        },
        "summary": "Get calendar details",
        "operationId": "Get_Calendar_Details",
        "description": "this endpoint retrieves the details of a particular calendar using the Calendar unique ID. The operation takes the calendar unique ID as the input and fetches details about the specific calendar such as its name and timezone.\\n For example, you are unsure of a calendar timezone before scheduling a meeting with someone. You can enter the prompt as \"Can you tell me the timezone for the calendar def789-ghi012?\" And the operation retrieves the timezone information about that specific calendar.",
        "parameters": [
          {
            "$ref": "#/parameters/cuid"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get_Calendar_Details",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    }
  },
  "definitions": {
    "Color": {
      "type": "string",
      "description": "Choose the event color or specify the color's hexdecimal value",
      "x-ms-summary": "Color",
      "enum": [
        "#FF0000",
        "#0000FF",
        "#008000",
        "#FFFF00",
        "#FFC0CB",
        "#E6E6FA",
        "#40E0D0"
      ],
      "x-ms-enum-values": [
        {
          "value": "#FF0000",
          "displayName": "Red"
        },
        {
          "value": "#0000FF",
          "displayName": "Blue"
        },
        {
          "value": "#008000",
          "displayName": "Green"
        },
        {
          "value": "#FFFF00",
          "displayName": "Yellow"
        },
        {
          "value": "#FFC0CB",
          "displayName": "Pink"
        },
        {
          "value": "#E6E6FA",
          "displayName": "Lavendar"
        },
        {
          "value": "#40E0D0",
          "displayName": "Turquoise"
        }
      ],
      "title": "Color"
    },
    "EventReq": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Specify the event title",
          "title": "Title"
        },
        "dateandtime": {
          "type": "object",
          "properties": {
            "start": {
              "type": "string",
              "description": "Specify the event start time in the format yyyy-MM-ddTHH:mm:sszzz",
              "title": "Start time"
            },
            "end": {
              "type": "string",
              "description": "Specify the event end time in the format yyyy-MM-ddTHH:mm:sszzz",
              "title": "End time"
            },
            "timezone": {
              "$ref": "#/definitions/TimeZone"
            }
          },
          "description": "Event",
          "required": [
            "start",
            "end"
          ]
        },
        "color": {
          "$ref": "#/definitions/Color"
        },
        "description": {
          "type": "string",
          "description": "Specify the description of the event",
          "title": "Description"
        },
        "location": {
          "type": "string",
          "description": "Specify the location of the event",
          "title": "Location"
        },
        "url": {
          "type": "string",
          "description": "Specify the URL of the event",
          "title": "URL"
        },
        "isprivate": {
          "type": "boolean",
          "description": "Specify if the event is private or not",
          "title": "Private"
        },
        "isallday": {
          "type": "boolean",
          "description": "Specify if the event is an all day event.",
          "title": "Is all day",
          "enum": [
            true,
            false
          ]
        },
        "attendees": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "Specify the attendees' email addresses",
                "title": "email ID"
              }
            }
          },
          "x-ms-summary": "Attendees"
        },
        "transparency": {
          "type": "integer",
          "format": "int32",
          "enum": [
            0,
            1
          ],
          "x-ms-enum-values": [
            {
              "value": 0,
              "displayName": "Add to free/busy schedule"
            },
            {
              "value": 1,
              "displayName": "Don't add to free/busy schedule"
            }
          ],
          "description": "Specify if the event should be added to your free/busy schedule.",
          "title": "Transparency"
        },
        "allowForwarding": {
          "type": "boolean",
          "description": "Specify if the event can be forwarded or not",
          "title": "Allow Forward"
        },
        "reminders": {
          "type": "array",
          "title": "Reminders",
          "items": {
            "type": "object",
            "properties": {
              "action": {
                "type": "string",
                "enum": [
                  "email",
                  "popup",
                  "notification"
                ],
                "x-ms-summary": "type",
                "description": "Specify the event reminder type (email, notifications, etc.)"
              },
              "minutes": {
                "type": "integer",
                "format": "int64",
                "x-ms-summary": "in minutes",
                "description": "Specify time to remind you before or after the event (Eg: - 5 for before, 5 for after)"
              }
            }
          }
        }
      },
      "required": [
        "title",
        "dateandtime"
      ]
    },
    "SingleEventRes": {
      "type": "object",
      "properties": {
        "color": {
          "type": "string",
          "title": "Color",
          "description": "Event color value in hexadecimal"
        },
        "title": {
          "type": "string",
          "title": "Title",
          "description": "Title of the event"
        },
        "duration": {
          "type": "string",
          "title": "Duration",
          "description": "Duration of the event"
        },
        "uid": {
          "type": "string",
          "title": "Event unique ID",
          "description": "Unique identifier of the event"
        },
        "createdby": {
          "type": "string",
          "title": "Event created by",
          "description": "The user who created the event"
        },
        "isApproved": {
          "type": "boolean",
          "title": "Is Approved",
          "description": "Whether the created event is approved."
        },
        "location": {
          "type": "string",
          "title": "Location",
          "description": "The location of the event"
        },
        "url": {
          "type": "string",
          "title": "URL",
          "description": "The URL of the event"
        },
        "viewEventURL": {
          "type": "string",
          "title": "Event View URL",
          "description": "The unique URL of the event."
        },
        "dateandtime": {
          "type": "object",
          "properties": {
            "timezone": {
              "type": "string",
              "title": "timezone",
              "description": "Timezone of the event"
            },
            "start": {
              "type": "string",
              "title": "start time",
              "description": "Start time of the event"
            },
            "end": {
              "type": "string",
              "title": "end time",
              "description": "End time of the event"
            }
          },
          "title": "Event",
          "description": "Date and Time of the event"
        },
        "lastmodifiedtime": {
          "type": "string",
          "title": "Event last modified on",
          "description": "The date and time the event was last modified on"
        },
        "isprivate": {
          "type": "boolean",
          "title": "Is private",
          "description": "Whether the event is a private event or not"
        },
        "attendees": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "dName": {
                "type": "string",
                "description": "Display names of attendees",
                "title": "display name"
              },
              "email": {
                "type": "string",
                "title": "email ID",
                "description": "The email addresses of the attendees."
              },
              "attendance": {
                "type": "integer",
                "format": "int32",
                "title": "attendence",
                "description": "Whether the attendance is mandatory, optional, or not required."
              },
              "status": {
                "type": "string",
                "title": "status",
                "description": "Refers to the attendees status (Accepted/Declined/Tentative/Needs Action)"
              }
            }
          },
          "title": "Attendees",
          "description": "Attendees of the event"
        },
        "createdtime_millis": {
          "type": "string",
          "title": "Created on",
          "description": "The event creation time in GMT"
        },
        "notifyType": {
          "type": "integer",
          "format": "int32",
          "title": "Notification type",
          "description": "Notifies attendees about the event based on their default notification preference."
        },
        "organizer": {
          "type": "string",
          "title": "Organizer",
          "description": "Details of the event organizer."
        },
        "isallday": {
          "type": "boolean",
          "title": "Is all day event",
          "description": "Whether the event is an all-day event"
        },
        "transparency": {
          "type": "integer",
          "format": "int32",
          "title": "Transparency",
          "description": "Whether the event should be added to free/busy schedule"
        },
        "modifiedby": {
          "type": "string",
          "title": "Modified by",
          "description": "Refers to the user who modified the event."
        },
        "etag": {
          "type": "string",
          "title": "Event tag",
          "description": "Refers to the event tag to identify the mode in which the event was created/ modified."
        },
        "caluid": {
          "type": "string",
          "title": "Calendar unique ID",
          "description": "Unique identifier of the calendar"
        },
        "allowForwarding": {
          "type": "boolean",
          "title": "Allow forwarding",
          "description": "Whether the event can be forwarded or not."
        },
        "reminders": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "action": {
                "type": "string",
                "enum": [
                  "email",
                  "popup",
                  "notification"
                ],
                "x-ms-summary": "Reminder type",
                "description": "Refers to the event reminder type (mail, notification, popup.)"
              },
              "minutes": {
                "type": "string",
                "x-ms-summary": "Remind me in",
                "description": "Refers to the reminder time in minutes."
              }
            }
          }
        }
      }
    },
    "SingleCalendarRes": {
      "type": "object",
      "properties": {
        "color": {
          "type": "string",
          "title": "Color",
          "description": "Calendar color value in hexadecimal"
        },
        "timezone": {
          "type": "string",
          "title": "Timezone",
          "description": "Timezone of the calendar"
        },
        "textcolor": {
          "type": "string",
          "title": "Text color",
          "description": "Calendar text color in hexadecimal"
        },
        "description": {
          "type": "string",
          "title": "Description",
          "description": "the description of the calendar"
        },
        "uid": {
          "type": "string",
          "title": "Calendar unique ID",
          "description": "Unique identifier of the calendar"
        },
        "isdefault": {
          "type": "boolean",
          "title": "Is default",
          "description": "Whether the calendar is a default calendar"
        },
        "include_infreebusy": {
          "type": "boolean",
          "title": "Include free/busy",
          "description": "Free/Busy status of the calendar"
        },
        "name": {
          "type": "string",
          "title": "Name",
          "description": "name of the calendar"
        },
        "status": {
          "type": "boolean",
          "title": "Status",
          "description": "Status of the calendar"
        }
      }
    },
    "EventNotifyRes": {
      "type": "object",
      "properties": {
        "zc_data": {
          "type": "object",
          "properties": {
            "color": {
              "type": "string",
              "title": "Color",
              "description": "Event color value in hexadecimal"
            },
            "title": {
              "type": "string",
              "title": "Title",
              "description": "Title of the event"
            },
            "createdtime": {
              "type": "string",
              "title": "Created on",
              "description": "created time of event"
            },
            "user_timezone": {
              "type": "string",
              "title": "User timezone",
              "description": "Timezone of user"
            },
            "duration": {
              "type": "string",
              "title": "Event duration",
              "description": "Duration of the event"
            },
            "uid": {
              "type": "string",
              "title": "Event unique ID",
              "description": "Unique identifier of the event"
            },
            "isallday": {
              "type": "boolean",
              "title": "Is all day event",
              "description": "Whether the event is an all-day event"
            },
            "location": {
              "type": "string",
              "title": "Location",
              "description": "Location of the event"
            },
            "etag": {
              "type": "string",
              "title": "etag",
              "description": "Refers to the event tag to identify the mode in which the event was created/ modified."
            },
            "caluid": {
              "type": "string",
              "title": "Calendar unique Id",
              "description": "Unique identifier of the calendar"
            },
            "dateandtime": {
              "type": "object",
              "properties": {
                "timezone": {
                  "type": "string",
                  "title": "timezone",
                  "description": "Timezone of the event"
                },
                "start": {
                  "type": "string",
                  "title": "start time",
                  "description": "Start time of the event format yyyyMMddTHHmmss"
                },
                "end": {
                  "type": "string",
                  "title": "end time",
                  "description": "End time of the event format yyyyMMddTHHmmss"
                }
              },
              "title": "Event",
              "description": "event occuring time"
            },
            "lastmodifiedtime": {
              "type": "string",
              "title": "Event last modified on",
              "description": "The date and time the event was last modified on"
            }
          },
          "description": "detail of the event"
        }
      }
    },
    "TimeZone": {
      "type": "string",
      "description": "Specify the event's timezone",
      "x-ms-summary": "Timezone",
      "enum": [
        "Etc/GMT+12",
        "Etc/GMT+11",
        "MIT",
        "Pacific/Apia",
        "Pacific/Midway",
        "Pacific/Niue",
        "Pacific/Pago_Pago",
        "Pacific/Samoa",
        "US/Samoa",
        "America/Adak",
        "America/Atka",
        "Etc/GMT+10",
        "HST",
        "Pacific/Fakaofo",
        "Pacific/Honolulu",
        "Pacific/Johnston",
        "Pacific/Rarotonga",
        "Pacific/Tahiti",
        "SystemV/HST10",
        "US/Aleutian",
        "US/Hawaii",
        "Pacific/Marquesas",
        "AST",
        "America/Anchorage",
        "America/Juneau",
        "America/Nome",
        "America/Yakutat",
        "Etc/GMT+9",
        "Pacific/Gambier",
        "SystemV/YST9",
        "SystemV/YST9YDT",
        "US/Alaska",
        "America/Dawson",
        "America/Ensenada",
        "America/Los_Angeles",
        "America/Tijuana",
        "America/Vancouver",
        "America/Whitehorse",
        "Canada/Pacific",
        "Canada/Yukon",
        "Etc/GMT+8",
        "Mexico/BajaNorte",
        "PST",
        "PST8PDT",
        "Pacific/Pitcairn",
        "SystemV/PST8",
        "SystemV/PST8PDT",
        "US/Pacific",
        "America/Boise",
        "America/Cambridge_Bay",
        "America/Chihuahua",
        "America/Dawson_Creek",
        "America/Denver",
        "America/Edmonton",
        "America/Hermosillo",
        "America/Inuvik",
        "America/Mazatlan",
        "America/Phoenix",
        "America/Shiprock",
        "America/Yellowknife",
        "Canada/Mountain",
        "Etc/GMT+7",
        "MST",
        "MST7MDT",
        "Mexico/BajaSur",
        "Navajo",
        "PNT",
        "SystemV/MST7",
        "SystemV/MST7MDT",
        "US/Arizona",
        "US/Mountain",
        "America/Belize",
        "America/Cancun",
        "America/Chicago",
        "America/Costa_Rica",
        "America/El_Salvador",
        "America/Guatemala",
        "America/Indiana/Knox",
        "America/Indiana/Petersburg",
        "America/Indiana/Vincennes",
        "America/Knox_IN",
        "America/Managua",
        "America/Menominee",
        "America/Merida",
        "America/Mexico_City",
        "America/Monterrey",
        "America/North_Dakota/Center",
        "America/North_Dakota/New_Salem",
        "America/Rainy_River",
        "America/Rankin_Inlet",
        "America/Regina",
        "America/Swift_Current",
        "America/Tegucigalpa",
        "America/Winnipeg",
        "CST",
        "CST6CDT",
        "Canada/Central",
        "Canada/East-Saskatchewan",
        "Canada/Saskatchewan",
        "Chile/EasterIsland",
        "Etc/GMT+6",
        "Mexico/General",
        "Pacific/Easter",
        "Pacific/Galapagos",
        "SystemV/CST6",
        "SystemV/CST6CDT",
        "US/Central",
        "US/Indiana-Starke",
        "America/Atikokan",
        "America/Bogota",
        "America/Cayman",
        "America/Coral_Harbour",
        "America/Detroit",
        "America/Eirunepe",
        "America/Fort_Wayne",
        "America/Grand_Turk",
        "America/Guayaquil",
        "America/Havana",
        "America/Indiana/Indianapolis",
        "America/Indiana/Marengo",
        "America/Indiana/Vevay",
        "America/Indianapolis",
        "America/Iqaluit",
        "America/Jamaica",
        "America/Kentucky/Louisville",
        "America/Kentucky/Monticello",
        "America/Lima",
        "America/Louisville",
        "America/Montreal",
        "America/Nassau",
        "America/New_York",
        "America/Nipigon",
        "America/Panama",
        "America/Pangnirtung",
        "America/Port-au-Prince",
        "America/Porto_Acre",
        "America/Rio_Branco",
        "America/Thunder_Bay",
        "America/Toronto",
        "Brazil/Acre",
        "Canada/Eastern",
        "Cuba",
        "EST",
        "EST5EDT",
        "Etc/GMT+5",
        "IET",
        "Jamaica",
        "SystemV/EST5",
        "SystemV/EST5EDT",
        "US/East-Indiana",
        "US/Eastern",
        "US/Michigan",
        "America/Caracas",
        "America/Anguilla",
        "America/Antigua",
        "America/Aruba",
        "America/Asuncion",
        "America/Barbados",
        "America/Blanc-Sablon",
        "America/Boa_Vista",
        "America/Campo_Grande",
        "America/Cuiaba",
        "America/Curacao",
        "America/Dominica",
        "America/Glace_Bay",
        "America/Goose_Bay",
        "America/Grenada",
        "America/Guadeloupe",
        "America/Guyana",
        "America/Halifax",
        "America/La_Paz",
        "America/Manaus",
        "America/Martinique",
        "America/Moncton",
        "America/Montserrat",
        "America/Port_of_Spain",
        "America/Porto_Velho",
        "America/Puerto_Rico",
        "America/Santiago",
        "America/Santo_Domingo",
        "America/St_Kitts",
        "America/St_Lucia",
        "America/St_Thomas",
        "America/St_Vincent",
        "America/Thule",
        "America/Tortola",
        "America/Virgin",
        "Antarctica/Palmer",
        "Atlantic/Bermuda",
        "Atlantic/Stanley",
        "Brazil/West",
        "Canada/Atlantic",
        "Chile/Continental",
        "Etc/GMT+4",
        "PRT",
        "SystemV/AST4",
        "SystemV/AST4ADT",
        "America/St_Johns",
        "CNT",
        "Canada/Newfoundland",
        "AGT",
        "America/Araguaina",
        "America/Argentina/Buenos_Aires",
        "America/Argentina/Catamarca",
        "America/Argentina/ComodRivadavia",
        "America/Argentina/Cordoba",
        "America/Argentina/Jujuy",
        "America/Argentina/La_Rioja",
        "America/Argentina/Mendoza",
        "America/Argentina/Rio_Gallegos",
        "America/Argentina/San_Juan",
        "America/Argentina/Tucuman",
        "America/Argentina/Ushuaia",
        "America/Bahia",
        "America/Belem",
        "America/Buenos_Aires",
        "America/Catamarca",
        "America/Cayenne",
        "America/Cordoba",
        "America/Fortaleza",
        "America/Godthab",
        "America/Jujuy",
        "America/Maceio",
        "America/Mendoza",
        "America/Miquelon",
        "America/Montevideo",
        "America/Paramaribo",
        "America/Recife",
        "America/Rosario",
        "America/Sao_Paulo",
        "Antarctica/Rothera",
        "BET",
        "Brazil/East",
        "Etc/GMT+3",
        "America/Noronha",
        "Atlantic/South_Georgia",
        "Brazil/DeNoronha",
        "Etc/GMT+2",
        "America/Scoresbysund",
        "Atlantic/Azores",
        "Atlantic/Cape_Verde",
        "Etc/GMT+1",
        "Africa/Abidjan",
        "Africa/Accra",
        "Africa/Bamako",
        "Africa/Banjul",
        "Africa/Bissau",
        "Africa/Casablanca",
        "Africa/Conakry",
        "Africa/Dakar",
        "Africa/El_Aaiun",
        "Africa/Freetown",
        "Africa/Lome",
        "Africa/Monrovia",
        "Africa/Nouakchott",
        "Africa/Ouagadougou",
        "Africa/Sao_Tome",
        "Africa/Timbuktu",
        "America/Danmarkshavn",
        "Atlantic/Canary",
        "Atlantic/Faeroe",
        "Atlantic/Madeira",
        "Atlantic/Reykjavik",
        "Atlantic/St_Helena",
        "Eire",
        "Etc/GMT",
        "Etc/GMT+0",
        "Etc/GMT-0",
        "Etc/GMT0",
        "Etc/Greenwich",
        "Etc/UCT",
        "Etc/UTC",
        "Etc/Universal",
        "Etc/Zulu",
        "Europe/Belfast",
        "Europe/Dublin",
        "Europe/Guernsey",
        "Europe/Isle_of_Man",
        "Europe/Jersey",
        "Europe/Lisbon",
        "Europe/London",
        "GB",
        "GB-Eire",
        "GMT",
        "GMT0",
        "Greenwich",
        "Iceland",
        "Portugal",
        "UCT",
        "UTC",
        "Universal",
        "WET",
        "Zulu",
        "Africa/Algiers",
        "Africa/Bangui",
        "Africa/Brazzaville",
        "Africa/Ceuta",
        "Africa/Douala",
        "Africa/Kinshasa",
        "Africa/Lagos",
        "Africa/Libreville",
        "Africa/Luanda",
        "Africa/Malabo",
        "Africa/Ndjamena",
        "Africa/Niamey",
        "Africa/Porto-Novo",
        "Africa/Tunis",
        "Africa/Windhoek",
        "Arctic/Longyearbyen",
        "Atlantic/Jan_Mayen",
        "CET",
        "ECT",
        "Etc/GMT-1",
        "Europe/Amsterdam",
        "Europe/Andorra",
        "Europe/Belgrade",
        "Europe/Berlin",
        "Europe/Bratislava",
        "Europe/Brussels",
        "Europe/Budapest",
        "Europe/Copenhagen",
        "Europe/Gibraltar",
        "Europe/Ljubljana",
        "Europe/Luxembourg",
        "Europe/Madrid",
        "Europe/Malta",
        "Europe/Monaco",
        "Europe/Oslo",
        "Europe/Paris",
        "Europe/Podgorica",
        "Europe/Prague",
        "Europe/Rome",
        "Europe/San_Marino",
        "Europe/Sarajevo",
        "Europe/Skopje",
        "Europe/Stockholm",
        "Europe/Tirane",
        "Europe/Vaduz",
        "Europe/Vatican",
        "Europe/Vienna",
        "Europe/Warsaw",
        "Europe/Zagreb",
        "Europe/Zurich",
        "MET",
        "Poland",
        "ART",
        "Africa/Blantyre",
        "Africa/Bujumbura",
        "Africa/Cairo",
        "Africa/Gaborone",
        "Africa/Harare",
        "Africa/Johannesburg",
        "Africa/Kigali",
        "Africa/Lubumbashi",
        "Africa/Lusaka",
        "Africa/Maputo",
        "Africa/Maseru",
        "Africa/Mbabane",
        "Africa/Tripoli",
        "Asia/Amman",
        "Asia/Beirut",
        "Asia/Damascus",
        "Asia/Gaza",
        "Asia/Istanbul",
        "Asia/Jerusalem",
        "Asia/Nicosia",
        "Asia/Tel_Aviv",
        "CAT",
        "EET",
        "Egypt",
        "Etc/GMT-2",
        "Europe/Athens",
        "Europe/Bucharest",
        "Europe/Chisinau",
        "Europe/Helsinki",
        "Europe/Istanbul",
        "Europe/Kaliningrad",
        "Europe/Kiev",
        "Europe/Mariehamn",
        "Europe/Minsk",
        "Europe/Nicosia",
        "Europe/Riga",
        "Europe/Simferopol",
        "Europe/Sofia",
        "Europe/Tallinn",
        "Europe/Tiraspol",
        "Europe/Uzhgorod",
        "Europe/Vilnius",
        "Europe/Zaporozhye",
        "Israel",
        "Libya",
        "Turkey",
        "Africa/Addis_Ababa",
        "Africa/Asmera",
        "Africa/Dar_es_Salaam",
        "Africa/Djibouti",
        "Africa/Kampala",
        "Africa/Khartoum",
        "Africa/Mogadishu",
        "Africa/Nairobi",
        "Antarctica/Syowa",
        "Asia/Aden",
        "Asia/Baghdad",
        "Asia/Bahrain",
        "Asia/Kuwait",
        "Asia/Qatar",
        "Asia/Riyadh",
        "EAT",
        "Etc/GMT-3",
        "Europe/Moscow",
        "Europe/Volgograd",
        "Indian/Antananarivo",
        "Indian/Comoro",
        "Indian/Mayotte",
        "W-SU",
        "Asia/Riyadh87",
        "Asia/Riyadh88",
        "Asia/Riyadh89",
        "Mideast/Riyadh87",
        "Mideast/Riyadh88",
        "Mideast/Riyadh89",
        "Asia/Tehran",
        "Iran",
        "Asia/Baku",
        "Asia/Dubai",
        "Asia/Muscat",
        "Asia/Tbilisi",
        "Asia/Yerevan",
        "Etc/GMT-4",
        "Europe/Samara",
        "Indian/Mahe",
        "Indian/Mauritius",
        "Indian/Reunion",
        "NET",
        "Asia/Kabul",
        "Asia/Aqtau",
        "Asia/Aqtobe",
        "Asia/Ashgabat",
        "Asia/Ashkhabad",
        "Asia/Dushanbe",
        "Asia/Karachi",
        "Asia/Oral",
        "Asia/Samarkand",
        "Asia/Tashkent",
        "Asia/Yekaterinburg",
        "Etc/GMT-5",
        "Indian/Kerguelen",
        "Indian/Maldives",
        "PLT",
        "Asia/Kolkata",
        "Asia/Calcutta",
        "Asia/Colombo",
        "IST",
        "Asia/Katmandu",
        "Antarctica/Mawson",
        "Antarctica/Vostok",
        "Asia/Almaty",
        "Asia/Bishkek",
        "Asia/Dacca",
        "Asia/Dhaka",
        "Asia/Novosibirsk",
        "Asia/Omsk",
        "Asia/Qyzylorda",
        "Asia/Thimbu",
        "Asia/Thimphu",
        "BST",
        "Etc/GMT-6",
        "Indian/Chagos",
        "Asia/Rangoon",
        "Indian/Cocos",
        "Antarctica/Davis",
        "Asia/Bangkok",
        "Asia/Hovd",
        "Asia/Jakarta",
        "Asia/Krasnoyarsk",
        "Asia/Phnom_Penh",
        "Asia/Pontianak",
        "Asia/Saigon",
        "Asia/Vientiane",
        "Etc/GMT-7",
        "Indian/Christmas",
        "VST",
        "Antarctica/Casey",
        "Asia/Brunei",
        "Asia/Chongqing",
        "Asia/Harbin",
        "Asia/Hong_Kong",
        "Asia/Irkutsk",
        "Asia/Kashgar",
        "Asia/Kuala_Lumpur",
        "Asia/Kuching",
        "Asia/Macao",
        "Asia/Makassar",
        "Asia/Manila",
        "Asia/Shanghai",
        "Asia/Singapore",
        "Asia/Taipei",
        "Asia/Ujung_Pandang",
        "Asia/Ulaanbaatar",
        "Asia/Ulan_Bator",
        "Asia/Urumqi",
        "Australia/Perth",
        "Australia/West",
        "CTT",
        "Etc/GMT-8",
        "PRC",
        "Singapore",
        "Asia/Choibalsan",
        "Asia/Dili",
        "Asia/Jayapura",
        "Asia/Pyongyang",
        "Asia/Seoul",
        "Asia/Tokyo",
        "Asia/Yakutsk",
        "Etc/GMT-9",
        "JST",
        "Japan",
        "Pacific/Palau",
        "ROK",
        "ACT",
        "Australia/Adelaide",
        "Australia/Broken_Hill",
        "Australia/Darwin",
        "Australia/North",
        "Australia/South",
        "Australia/Yancowinna",
        "AET",
        "Antarctica/DumontDUrville",
        "Asia/Sakhalin",
        "Asia/Vladivostok",
        "Australia/ACT",
        "Australia/Brisbane",
        "Australia/Canberra",
        "Australia/Currie",
        "Australia/Hobart",
        "Australia/Lindeman",
        "Australia/Melbourne",
        "Australia/NSW",
        "Australia/Queensland",
        "Australia/Sydney",
        "Australia/Tasmania",
        "Australia/Victoria",
        "Etc/GMT-10",
        "Pacific/Guam",
        "Pacific/Port_Moresby",
        "Pacific/Saipan",
        "Pacific/Truk",
        "Pacific/Yap",
        "Australia/LHI",
        "Australia/Lord_Howe",
        "Asia/Magadan",
        "Etc/GMT-11",
        "Pacific/Efate",
        "Pacific/Guadalcanal",
        "Pacific/Kosrae",
        "Pacific/Noumea",
        "Pacific/Ponape",
        "SST",
        "Pacific/Norfolk",
        "Antarctica/McMurdo",
        "Antarctica/South_Pole",
        "Asia/Anadyr",
        "Asia/Kamchatka",
        "Etc/GMT-12",
        "Kwajalein",
        "NST",
        "NZ",
        "Pacific/Auckland",
        "Pacific/Fiji",
        "Pacific/Funafuti",
        "Pacific/Kwajalein",
        "Pacific/Majuro",
        "Pacific/Nauru",
        "Pacific/Tarawa",
        "Pacific/Wake",
        "Pacific/Wallis",
        "NZ-CHAT",
        "Pacific/Chatham",
        "Etc/GMT-13",
        "Pacific/Enderbury",
        "Pacific/Tongatapu",
        "Etc/GMT-14",
        "Pacific/Kiritimati",
        "America/Punta_Arenas",
        "Asia/Yangon",
        "Asia/Macau",
        "Pacific/Chuuk",
        "Pacific/Pohnpei",
        "Atlantic/Faroe"
      ],
      "title": "Timezone"
    }
  },
  "parameters": {
    "cuid": {
      "name": "cuid",
      "in": "query",
      "required": true,
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "Get_Calendar_List",
        "value-path": "uid",
        "value-collection": "calendars",
        "value-title": "name"
      },
      "description": "Specify calendar or enter the calendar's unique id.",
      "x-ms-summary": "Calendar"
    },
    "euid": {
      "name": "euid",
      "in": "query",
      "required": true,
      "type": "string",
      "x-ms-summary": "Event",
      "description": "Enter the event's unique id."
    },
    "timezone": {
      "name": "timezone",
      "in": "query",
      "type": "string",
      "description": "Specify the event's timezone",
      "x-ms-summary": "Timezone",
      "enum": [
        "Etc/GMT+12",
        "Etc/GMT+11",
        "MIT",
        "Pacific/Apia",
        "Pacific/Midway",
        "Pacific/Niue",
        "Pacific/Pago_Pago",
        "Pacific/Samoa",
        "US/Samoa",
        "America/Adak",
        "America/Atka",
        "Etc/GMT+10",
        "HST",
        "Pacific/Fakaofo",
        "Pacific/Honolulu",
        "Pacific/Johnston",
        "Pacific/Rarotonga",
        "Pacific/Tahiti",
        "SystemV/HST10",
        "US/Aleutian",
        "US/Hawaii",
        "Pacific/Marquesas",
        "AST",
        "America/Anchorage",
        "America/Juneau",
        "America/Nome",
        "America/Yakutat",
        "Etc/GMT+9",
        "Pacific/Gambier",
        "SystemV/YST9",
        "SystemV/YST9YDT",
        "US/Alaska",
        "America/Dawson",
        "America/Ensenada",
        "America/Los_Angeles",
        "America/Tijuana",
        "America/Vancouver",
        "America/Whitehorse",
        "Canada/Pacific",
        "Canada/Yukon",
        "Etc/GMT+8",
        "Mexico/BajaNorte",
        "PST",
        "PST8PDT",
        "Pacific/Pitcairn",
        "SystemV/PST8",
        "SystemV/PST8PDT",
        "US/Pacific",
        "America/Boise",
        "America/Cambridge_Bay",
        "America/Chihuahua",
        "America/Dawson_Creek",
        "America/Denver",
        "America/Edmonton",
        "America/Hermosillo",
        "America/Inuvik",
        "America/Mazatlan",
        "America/Phoenix",
        "America/Shiprock",
        "America/Yellowknife",
        "Canada/Mountain",
        "Etc/GMT+7",
        "MST",
        "MST7MDT",
        "Mexico/BajaSur",
        "Navajo",
        "PNT",
        "SystemV/MST7",
        "SystemV/MST7MDT",
        "US/Arizona",
        "US/Mountain",
        "America/Belize",
        "America/Cancun",
        "America/Chicago",
        "America/Costa_Rica",
        "America/El_Salvador",
        "America/Guatemala",
        "America/Indiana/Knox",
        "America/Indiana/Petersburg",
        "America/Indiana/Vincennes",
        "America/Knox_IN",
        "America/Managua",
        "America/Menominee",
        "America/Merida",
        "America/Mexico_City",
        "America/Monterrey",
        "America/North_Dakota/Center",
        "America/North_Dakota/New_Salem",
        "America/Rainy_River",
        "America/Rankin_Inlet",
        "America/Regina",
        "America/Swift_Current",
        "America/Tegucigalpa",
        "America/Winnipeg",
        "CST",
        "CST6CDT",
        "Canada/Central",
        "Canada/East-Saskatchewan",
        "Canada/Saskatchewan",
        "Chile/EasterIsland",
        "Etc/GMT+6",
        "Mexico/General",
        "Pacific/Easter",
        "Pacific/Galapagos",
        "SystemV/CST6",
        "SystemV/CST6CDT",
        "US/Central",
        "US/Indiana-Starke",
        "America/Atikokan",
        "America/Bogota",
        "America/Cayman",
        "America/Coral_Harbour",
        "America/Detroit",
        "America/Eirunepe",
        "America/Fort_Wayne",
        "America/Grand_Turk",
        "America/Guayaquil",
        "America/Havana",
        "America/Indiana/Indianapolis",
        "America/Indiana/Marengo",
        "America/Indiana/Vevay",
        "America/Indianapolis",
        "America/Iqaluit",
        "America/Jamaica",
        "America/Kentucky/Louisville",
        "America/Kentucky/Monticello",
        "America/Lima",
        "America/Louisville",
        "America/Montreal",
        "America/Nassau",
        "America/New_York",
        "America/Nipigon",
        "America/Panama",
        "America/Pangnirtung",
        "America/Port-au-Prince",
        "America/Porto_Acre",
        "America/Rio_Branco",
        "America/Thunder_Bay",
        "America/Toronto",
        "Brazil/Acre",
        "Canada/Eastern",
        "Cuba",
        "EST",
        "EST5EDT",
        "Etc/GMT+5",
        "IET",
        "Jamaica",
        "SystemV/EST5",
        "SystemV/EST5EDT",
        "US/East-Indiana",
        "US/Eastern",
        "US/Michigan",
        "America/Caracas",
        "America/Anguilla",
        "America/Antigua",
        "America/Aruba",
        "America/Asuncion",
        "America/Barbados",
        "America/Blanc-Sablon",
        "America/Boa_Vista",
        "America/Campo_Grande",
        "America/Cuiaba",
        "America/Curacao",
        "America/Dominica",
        "America/Glace_Bay",
        "America/Goose_Bay",
        "America/Grenada",
        "America/Guadeloupe",
        "America/Guyana",
        "America/Halifax",
        "America/La_Paz",
        "America/Manaus",
        "America/Martinique",
        "America/Moncton",
        "America/Montserrat",
        "America/Port_of_Spain",
        "America/Porto_Velho",
        "America/Puerto_Rico",
        "America/Santiago",
        "America/Santo_Domingo",
        "America/St_Kitts",
        "America/St_Lucia",
        "America/St_Thomas",
        "America/St_Vincent",
        "America/Thule",
        "America/Tortola",
        "America/Virgin",
        "Antarctica/Palmer",
        "Atlantic/Bermuda",
        "Atlantic/Stanley",
        "Brazil/West",
        "Canada/Atlantic",
        "Chile/Continental",
        "Etc/GMT+4",
        "PRT",
        "SystemV/AST4",
        "SystemV/AST4ADT",
        "America/St_Johns",
        "CNT",
        "Canada/Newfoundland",
        "AGT",
        "America/Araguaina",
        "America/Argentina/Buenos_Aires",
        "America/Argentina/Catamarca",
        "America/Argentina/ComodRivadavia",
        "America/Argentina/Cordoba",
        "America/Argentina/Jujuy",
        "America/Argentina/La_Rioja",
        "America/Argentina/Mendoza",
        "America/Argentina/Rio_Gallegos",
        "America/Argentina/San_Juan",
        "America/Argentina/Tucuman",
        "America/Argentina/Ushuaia",
        "America/Bahia",
        "America/Belem",
        "America/Buenos_Aires",
        "America/Catamarca",
        "America/Cayenne",
        "America/Cordoba",
        "America/Fortaleza",
        "America/Godthab",
        "America/Jujuy",
        "America/Maceio",
        "America/Mendoza",
        "America/Miquelon",
        "America/Montevideo",
        "America/Paramaribo",
        "America/Recife",
        "America/Rosario",
        "America/Sao_Paulo",
        "Antarctica/Rothera",
        "BET",
        "Brazil/East",
        "Etc/GMT+3",
        "America/Noronha",
        "Atlantic/South_Georgia",
        "Brazil/DeNoronha",
        "Etc/GMT+2",
        "America/Scoresbysund",
        "Atlantic/Azores",
        "Atlantic/Cape_Verde",
        "Etc/GMT+1",
        "Africa/Abidjan",
        "Africa/Accra",
        "Africa/Bamako",
        "Africa/Banjul",
        "Africa/Bissau",
        "Africa/Casablanca",
        "Africa/Conakry",
        "Africa/Dakar",
        "Africa/El_Aaiun",
        "Africa/Freetown",
        "Africa/Lome",
        "Africa/Monrovia",
        "Africa/Nouakchott",
        "Africa/Ouagadougou",
        "Africa/Sao_Tome",
        "Africa/Timbuktu",
        "America/Danmarkshavn",
        "Atlantic/Canary",
        "Atlantic/Faeroe",
        "Atlantic/Madeira",
        "Atlantic/Reykjavik",
        "Atlantic/St_Helena",
        "Eire",
        "Etc/GMT",
        "Etc/GMT+0",
        "Etc/GMT-0",
        "Etc/GMT0",
        "Etc/Greenwich",
        "Etc/UCT",
        "Etc/UTC",
        "Etc/Universal",
        "Etc/Zulu",
        "Europe/Belfast",
        "Europe/Dublin",
        "Europe/Guernsey",
        "Europe/Isle_of_Man",
        "Europe/Jersey",
        "Europe/Lisbon",
        "Europe/London",
        "GB",
        "GB-Eire",
        "GMT",
        "GMT0",
        "Greenwich",
        "Iceland",
        "Portugal",
        "UCT",
        "UTC",
        "Universal",
        "WET",
        "Zulu",
        "Africa/Algiers",
        "Africa/Bangui",
        "Africa/Brazzaville",
        "Africa/Ceuta",
        "Africa/Douala",
        "Africa/Kinshasa",
        "Africa/Lagos",
        "Africa/Libreville",
        "Africa/Luanda",
        "Africa/Malabo",
        "Africa/Ndjamena",
        "Africa/Niamey",
        "Africa/Porto-Novo",
        "Africa/Tunis",
        "Africa/Windhoek",
        "Arctic/Longyearbyen",
        "Atlantic/Jan_Mayen",
        "CET",
        "ECT",
        "Etc/GMT-1",
        "Europe/Amsterdam",
        "Europe/Andorra",
        "Europe/Belgrade",
        "Europe/Berlin",
        "Europe/Bratislava",
        "Europe/Brussels",
        "Europe/Budapest",
        "Europe/Copenhagen",
        "Europe/Gibraltar",
        "Europe/Ljubljana",
        "Europe/Luxembourg",
        "Europe/Madrid",
        "Europe/Malta",
        "Europe/Monaco",
        "Europe/Oslo",
        "Europe/Paris",
        "Europe/Podgorica",
        "Europe/Prague",
        "Europe/Rome",
        "Europe/San_Marino",
        "Europe/Sarajevo",
        "Europe/Skopje",
        "Europe/Stockholm",
        "Europe/Tirane",
        "Europe/Vaduz",
        "Europe/Vatican",
        "Europe/Vienna",
        "Europe/Warsaw",
        "Europe/Zagreb",
        "Europe/Zurich",
        "MET",
        "Poland",
        "ART",
        "Africa/Blantyre",
        "Africa/Bujumbura",
        "Africa/Cairo",
        "Africa/Gaborone",
        "Africa/Harare",
        "Africa/Johannesburg",
        "Africa/Kigali",
        "Africa/Lubumbashi",
        "Africa/Lusaka",
        "Africa/Maputo",
        "Africa/Maseru",
        "Africa/Mbabane",
        "Africa/Tripoli",
        "Asia/Amman",
        "Asia/Beirut",
        "Asia/Damascus",
        "Asia/Gaza",
        "Asia/Istanbul",
        "Asia/Jerusalem",
        "Asia/Nicosia",
        "Asia/Tel_Aviv",
        "CAT",
        "EET",
        "Egypt",
        "Etc/GMT-2",
        "Europe/Athens",
        "Europe/Bucharest",
        "Europe/Chisinau",
        "Europe/Helsinki",
        "Europe/Istanbul",
        "Europe/Kaliningrad",
        "Europe/Kiev",
        "Europe/Mariehamn",
        "Europe/Minsk",
        "Europe/Nicosia",
        "Europe/Riga",
        "Europe/Simferopol",
        "Europe/Sofia",
        "Europe/Tallinn",
        "Europe/Tiraspol",
        "Europe/Uzhgorod",
        "Europe/Vilnius",
        "Europe/Zaporozhye",
        "Israel",
        "Libya",
        "Turkey",
        "Africa/Addis_Ababa",
        "Africa/Asmera",
        "Africa/Dar_es_Salaam",
        "Africa/Djibouti",
        "Africa/Kampala",
        "Africa/Khartoum",
        "Africa/Mogadishu",
        "Africa/Nairobi",
        "Antarctica/Syowa",
        "Asia/Aden",
        "Asia/Baghdad",
        "Asia/Bahrain",
        "Asia/Kuwait",
        "Asia/Qatar",
        "Asia/Riyadh",
        "EAT",
        "Etc/GMT-3",
        "Europe/Moscow",
        "Europe/Volgograd",
        "Indian/Antananarivo",
        "Indian/Comoro",
        "Indian/Mayotte",
        "W-SU",
        "Asia/Riyadh87",
        "Asia/Riyadh88",
        "Asia/Riyadh89",
        "Mideast/Riyadh87",
        "Mideast/Riyadh88",
        "Mideast/Riyadh89",
        "Asia/Tehran",
        "Iran",
        "Asia/Baku",
        "Asia/Dubai",
        "Asia/Muscat",
        "Asia/Tbilisi",
        "Asia/Yerevan",
        "Etc/GMT-4",
        "Europe/Samara",
        "Indian/Mahe",
        "Indian/Mauritius",
        "Indian/Reunion",
        "NET",
        "Asia/Kabul",
        "Asia/Aqtau",
        "Asia/Aqtobe",
        "Asia/Ashgabat",
        "Asia/Ashkhabad",
        "Asia/Dushanbe",
        "Asia/Karachi",
        "Asia/Oral",
        "Asia/Samarkand",
        "Asia/Tashkent",
        "Asia/Yekaterinburg",
        "Etc/GMT-5",
        "Indian/Kerguelen",
        "Indian/Maldives",
        "PLT",
        "Asia/Kolkata",
        "Asia/Calcutta",
        "Asia/Colombo",
        "IST",
        "Asia/Katmandu",
        "Antarctica/Mawson",
        "Antarctica/Vostok",
        "Asia/Almaty",
        "Asia/Bishkek",
        "Asia/Dacca",
        "Asia/Dhaka",
        "Asia/Novosibirsk",
        "Asia/Omsk",
        "Asia/Qyzylorda",
        "Asia/Thimbu",
        "Asia/Thimphu",
        "BST",
        "Etc/GMT-6",
        "Indian/Chagos",
        "Asia/Rangoon",
        "Indian/Cocos",
        "Antarctica/Davis",
        "Asia/Bangkok",
        "Asia/Hovd",
        "Asia/Jakarta",
        "Asia/Krasnoyarsk",
        "Asia/Phnom_Penh",
        "Asia/Pontianak",
        "Asia/Saigon",
        "Asia/Vientiane",
        "Etc/GMT-7",
        "Indian/Christmas",
        "VST",
        "Antarctica/Casey",
        "Asia/Brunei",
        "Asia/Chongqing",
        "Asia/Harbin",
        "Asia/Hong_Kong",
        "Asia/Irkutsk",
        "Asia/Kashgar",
        "Asia/Kuala_Lumpur",
        "Asia/Kuching",
        "Asia/Macao",
        "Asia/Makassar",
        "Asia/Manila",
        "Asia/Shanghai",
        "Asia/Singapore",
        "Asia/Taipei",
        "Asia/Ujung_Pandang",
        "Asia/Ulaanbaatar",
        "Asia/Ulan_Bator",
        "Asia/Urumqi",
        "Australia/Perth",
        "Australia/West",
        "CTT",
        "Etc/GMT-8",
        "PRC",
        "Singapore",
        "Asia/Choibalsan",
        "Asia/Dili",
        "Asia/Jayapura",
        "Asia/Pyongyang",
        "Asia/Seoul",
        "Asia/Tokyo",
        "Asia/Yakutsk",
        "Etc/GMT-9",
        "JST",
        "Japan",
        "Pacific/Palau",
        "ROK",
        "ACT",
        "Australia/Adelaide",
        "Australia/Broken_Hill",
        "Australia/Darwin",
        "Australia/North",
        "Australia/South",
        "Australia/Yancowinna",
        "AET",
        "Antarctica/DumontDUrville",
        "Asia/Sakhalin",
        "Asia/Vladivostok",
        "Australia/ACT",
        "Australia/Brisbane",
        "Australia/Canberra",
        "Australia/Currie",
        "Australia/Hobart",
        "Australia/Lindeman",
        "Australia/Melbourne",
        "Australia/NSW",
        "Australia/Queensland",
        "Australia/Sydney",
        "Australia/Tasmania",
        "Australia/Victoria",
        "Etc/GMT-10",
        "Pacific/Guam",
        "Pacific/Port_Moresby",
        "Pacific/Saipan",
        "Pacific/Truk",
        "Pacific/Yap",
        "Australia/LHI",
        "Australia/Lord_Howe",
        "Asia/Magadan",
        "Etc/GMT-11",
        "Pacific/Efate",
        "Pacific/Guadalcanal",
        "Pacific/Kosrae",
        "Pacific/Noumea",
        "Pacific/Ponape",
        "SST",
        "Pacific/Norfolk",
        "Antarctica/McMurdo",
        "Antarctica/South_Pole",
        "Asia/Anadyr",
        "Asia/Kamchatka",
        "Etc/GMT-12",
        "Kwajalein",
        "NST",
        "NZ",
        "Pacific/Auckland",
        "Pacific/Fiji",
        "Pacific/Funafuti",
        "Pacific/Kwajalein",
        "Pacific/Majuro",
        "Pacific/Nauru",
        "Pacific/Tarawa",
        "Pacific/Wake",
        "Pacific/Wallis",
        "NZ-CHAT",
        "Pacific/Chatham",
        "Etc/GMT-13",
        "Pacific/Enderbury",
        "Pacific/Tongatapu",
        "Etc/GMT-14",
        "Pacific/Kiritimati",
        "America/Punta_Arenas",
        "Asia/Yangon",
        "Asia/Macau",
        "Pacific/Chuuk",
        "Pacific/Pohnpei",
        "Atlantic/Faroe"
      ]
    }
  },
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "tokenUrl": "https://accounts.zoho.com/oauth/v2/token",
      "scopes": {
        "ZohoCalendar.calendar.ALL": "ZohoCalendar.calendar.ALL",
        "ZohoCalendar.event.ALL": "ZohoCalendar.event.ALL",
        "ZohoCalendar.settings.ALL": "ZohoCalendar.settings.ALL",
        "ZohoCalendar.search.READ": "ZohoCalendar.search.READ"
      },
      "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth"
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "ZohoCalendar.calendar.ALL",
        "ZohoCalendar.event.ALL",
        "ZohoCalendar.settings.ALL",
        "ZohoCalendar.search.READ"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.zoho.com/calendar/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.zoho.com/privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "x-ms-openai-manifest": {
    "humanName": "Zoho Calendar",
    "contactEmail": "support@zohocalendar.com",
    "legalUrl": "https://www.zoho.com/terms.html",
    "modelDescription": "This is the Zoho Calendar plugin that brings back calendar details, events, and notifications from Zoho Calendar."
  }
}
