{
  "swagger": "2.0",
  "info": {
    "title": "NREL",
    "description": "The National Renewable Energy Laboratory's developer network helps developers access and use energy data via Web services, including renewable energy and alternative fuel data. NREL is a national laboratory of the U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy, operated by the Alliance for Sustainable Energy, LLC.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "developer.nrel.gov",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/standard-work-specs/spec/v1.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "classification": {
                    "type": "string",
                    "description": "The SWS classification identifier for the specification.",
                    "title": "Classification"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the specification.",
                    "title": "Title"
                  },
                  "section": {
                    "type": "string",
                    "description": "The section the specification belongs to.",
                    "title": "Section"
                  },
                  "topic": {
                    "type": "string",
                    "description": "The topic the specification belongs to.",
                    "title": "Topic"
                  },
                  "subtopic": {
                    "type": "string",
                    "description": "The subtopic the specification belongs to.",
                    "title": "Subtopic"
                  },
                  "desired_outcome": {
                    "type": "string",
                    "description": "The desired outcome field.",
                    "title": "Desired Outcome"
                  },
                  "housing_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of housing type strings that apply to this specification.",
                    "title": "Housing Types"
                  },
                  "details": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "objective": {
                          "type": "string",
                          "description": "The objective.",
                          "title": "Objective"
                        },
                        "title": {
                          "type": "string",
                          "description": "The title.",
                          "title": "Title"
                        },
                        "classification": {
                          "type": "string",
                          "description": "The classification.",
                          "title": "Classification"
                        },
                        "specification": {
                          "type": "string",
                          "description": "The specification.",
                          "title": "Specification"
                        },
                        "housing_type": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The housing type.",
                          "title": "Housing Type"
                        }
                      }
                    },
                    "title": "Details"
                  }
                }
              }
            }
          }
        },
        "description": "Retrieve standard work specification details for home energy upgrades.",
        "summary": "Get standard work specifications",
        "operationId": "StandardWorkSpecs",
        "parameters": [
          {
            "name": "nid",
            "in": "query",
            "x-ms-summary": "NID",
            "required": false,
            "type": "integer",
            "description": "The unique identifier of a standard work specification entry."
          },
          {
            "name": "spec",
            "in": "query",
            "x-ms-summary": "Spec",
            "required": false,
            "type": "string",
            "description": "The specification ID for a given specification."
          },
          {
            "name": "ht",
            "in": "query",
            "x-ms-summary": "Housing Type",
            "required": false,
            "type": "integer",
            "description": "The unique identifier of a housing type to filter on.  Single Family Homes: 1, Multi-Family Homes: 2, Manufactured Housing: 3",
            "enum": [
              1,
              2,
              3
            ]
          },
          {
            "name": "section",
            "in": "query",
            "x-ms-summary": "Section",
            "required": false,
            "type": "integer",
            "description": "A section identifier. These can be found next to each section in the website navigation and detail pages."
          },
          {
            "name": "topic",
            "in": "query",
            "x-ms-summary": "Topic",
            "required": false,
            "type": "integer",
            "description": "A topic identifier. These can be found next to each topic in the website navigation and detail pages."
          },
          {
            "name": "subtopic",
            "in": "query",
            "x-ms-summary": "Subtopic",
            "required": false,
            "type": "integer",
            "description": "A subtopic identifier. These are the last 2 digits of the Subtopic headers. (Must be entered as a 2 digit number)"
          }
        ]
      }
    },
    "/utility_rates/v3.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "lat": {
                      "type": "string",
                      "description": "The latitude.",
                      "title": "Latitude"
                    },
                    "lon": {
                      "type": "string",
                      "description": "The longitude.",
                      "title": "Longitude"
                    }
                  },
                  "title": "Inputs"
                },
                "version": {
                  "type": "string",
                  "description": "The current version of the web service.",
                  "title": "Version"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The sources.",
                      "title": "Sources"
                    }
                  },
                  "title": "Metadata"
                },
                "outputs": {
                  "type": "object",
                  "properties": {
                    "company_id": {
                      "type": "string",
                      "description": "The identifier of the utility company. If there are multiple utility companies serving the location, the IDs will be returned as a pipe-delimited string.",
                      "title": "Company ID"
                    },
                    "utility_name": {
                      "type": "string",
                      "description": "The name of the utility company. If there are multiple utility companies serving the location, the names will be returned as a pipe-delimited string.",
                      "title": "Utility Name"
                    },
                    "utility_info": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company_id": {
                            "type": "string",
                            "description": "The identifier of the utility company. If there are multiple utility companies serving the location, the IDs will be returned as a pipe-delimited string.",
                            "title": "Company ID"
                          },
                          "utility_name": {
                            "type": "string",
                            "description": "The name of the utility company. If there are multiple utility companies serving the location, the names will be returned as a pipe-delimited string.",
                            "title": "Utility Name"
                          }
                        }
                      },
                      "title": "Utility Info"
                    },
                    "commercial": {
                      "type": "number",
                      "format": "float",
                      "description": "The commercial electricity rate ($/kWh).",
                      "title": "Commercial"
                    },
                    "industrial": {
                      "type": "number",
                      "format": "float",
                      "description": "The industrial electricity rate ($/kWh).",
                      "title": "Industrial"
                    },
                    "residential": {
                      "type": "number",
                      "format": "float",
                      "description": "The residential electricity rate ($/kWh).",
                      "title": "Residential"
                    }
                  },
                  "title": "Outputs"
                }
              }
            }
          }
        },
        "summary": "Get utility rates",
        "x-ms-visibility": "important",
        "description": "This service returns annual average utility rates ($/kWH) for residential, commercial and industrial sectors as well as the local utility name for a specific location. This service does not return complex rate information. The data source is Ventyx Research Inc. and the Energy Information Agency (EIA), and was updated with 2012 numbers.",
        "operationId": "UtilityRates",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "x-ms-summary": "Address",
            "required": false,
            "type": "string",
            "description": "The address to use. Required if lat/lon not provided."
          },
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "required": false,
            "type": "number",
            "description": "The latitude for the location to use. Required if address not given.",
            "format": "float"
          },
          {
            "name": "lon",
            "in": "query",
            "x-ms-summary": "Longitude",
            "required": false,
            "type": "number",
            "format": "float",
            "description": "The longitude for the location to use. Required if address not given."
          },
          {
            "name": "radius",
            "in": "query",
            "x-ms-summary": "Radius",
            "required": false,
            "type": "number",
            "default": 0,
            "description": "The radius (in miles) around the search location to search for utility rates with intersecting boundaries.  With the default radius of 0, only utility rates whose boundaries contain the search location point will be returned."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "description": "The maximum number of results to return. If no limit is specified then all matching results will be returned."
          }
        ]
      }
    },
    "/census_rate/v3.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "lat": {
                      "type": "string",
                      "description": "The latitude.",
                      "title": "Latitude"
                    },
                    "lon": {
                      "type": "string",
                      "description": "The longitude.",
                      "title": "Longitude"
                    }
                  },
                  "title": "Inputs"
                },
                "outputs": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "uid": {
                      "type": "string",
                      "description": "The unique identifier.",
                      "title": "UID"
                    },
                    "census_region": {
                      "type": "string",
                      "description": "The census region.",
                      "title": "Census Region"
                    },
                    "company_id": {
                      "type": "string",
                      "description": "The identifier of the utility company. If there are multiple utility companies serving the location, the IDs will be returned as a pipe-delimited string.",
                      "title": "Company ID"
                    },
                    "utility_name": {
                      "type": "string",
                      "description": "The name of the utility company. If there are multiple utility companies serving the location, the names will be returned as a pipe-delimited string.",
                      "title": "Utility Name"
                    },
                    "utility_info": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "company_id": {
                            "type": "string",
                            "description": "The identifier of the utility company. If there are multiple utility companies serving the location, the IDs will be returned as a pipe-delimited string.",
                            "title": "Company ID"
                          },
                          "utility_name": {
                            "type": "string",
                            "description": "The name of the utility company. If there are multiple utility companies serving the location, the names will be returned as a pipe-delimited string.",
                            "title": "Utility Name"
                          }
                        }
                      },
                      "title": "Utility Info"
                    },
                    "commercial": {
                      "type": "number",
                      "format": "float",
                      "description": "The commercial electricity rate ($/kWh).",
                      "title": "Commercial"
                    },
                    "industrial": {
                      "type": "number",
                      "format": "float",
                      "description": "The industrial electricity rate ($/kWh).",
                      "title": "Industrial"
                    },
                    "residential": {
                      "type": "number",
                      "format": "float",
                      "description": "The residential electricity rate ($/kWh).",
                      "title": "Residential"
                    }
                  },
                  "title": "Outputs"
                },
                "version": {
                  "type": "string",
                  "description": "The current version of the web service.",
                  "title": "Version"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The sources.",
                      "title": "Sources"
                    }
                  },
                  "title": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Get utility rates by census region",
        "x-ms-visibility": "important",
        "description": "Given a location and Census Bureau region level (block, blockgroup, tract), return the Census Bureau ID, utility rate and company information.",
        "operationId": "UtilityRatesCensus",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "required": false,
            "type": "integer",
            "description": "Identifying number provided by requester."
          },
          {
            "name": "address",
            "in": "query",
            "x-ms-summary": "Address",
            "required": false,
            "type": "string",
            "description": "The address to use. Required if lat/lon not provided."
          },
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "required": false,
            "type": "number",
            "description": "The latitude for the location to use. Required if address not given.",
            "format": "float"
          },
          {
            "name": "lon",
            "in": "query",
            "x-ms-summary": "Longitude",
            "required": false,
            "type": "number",
            "format": "float",
            "description": "The longitude for the location to use. Required if address not given."
          },
          {
            "name": "region",
            "in": "query",
            "x-ms-summary": "Region",
            "required": false,
            "type": "string",
            "description": "The Census Bureau region level to return.",
            "enum": [
              "block",
              "blockgroup",
              "track"
            ],
            "default": "block"
          }
        ]
      }
    },
    "/solar/data_query/v2.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "version": {
                  "type": "string",
                  "description": "The current version of the web service.",
                  "title": "Version"
                },
                "inputs": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "The latitude.",
                      "title": "Latitude"
                    },
                    "lon": {
                      "type": "number",
                      "format": "float",
                      "description": "The longitude.",
                      "title": "Longitude"
                    },
                    "radius": {
                      "type": "string",
                      "description": "The radius.",
                      "title": "Radius"
                    }
                  },
                  "title": "Inputs"
                },
                "outputs": {
                  "type": "object",
                  "properties": {
                    "tmy2": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "timezone": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The timezone.",
                          "title": "Timezone"
                        },
                        "lat": {
                          "type": "number",
                          "format": "float",
                          "description": "The latitude.",
                          "title": "Latitude"
                        },
                        "lon": {
                          "type": "number",
                          "format": "float",
                          "description": "The longitude.",
                          "title": "Longitude"
                        },
                        "elevation": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The elevation.",
                          "title": "Elevation"
                        },
                        "distance": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The distance.",
                          "title": "Distance"
                        },
                        "weather_data_source": {
                          "type": "string",
                          "description": "The weather data source.",
                          "title": "Weather Data Source"
                        }
                      },
                      "title": "TMY2"
                    },
                    "tmy3": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "timezone": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The timezone.",
                          "title": "Timezone"
                        },
                        "lat": {
                          "type": "number",
                          "format": "float",
                          "description": "The latitude.",
                          "title": "Latitude"
                        },
                        "lon": {
                          "type": "number",
                          "format": "float",
                          "description": "The longitude.",
                          "title": "Longitude"
                        },
                        "elevation": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The elevation.",
                          "title": "Elevation"
                        },
                        "distance": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The distance.",
                          "title": "Distance"
                        },
                        "weather_data_source": {
                          "type": "string",
                          "description": "The weather data source.",
                          "title": "Weather Data Source"
                        }
                      },
                      "title": "TMY3"
                    },
                    "intl": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "timezone": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The timezone.",
                          "title": "Timezone"
                        },
                        "lat": {
                          "type": "number",
                          "format": "float",
                          "description": "The latitude.",
                          "title": "Latitude"
                        },
                        "lon": {
                          "type": "number",
                          "format": "float",
                          "description": "The longitude.",
                          "title": "Longitude"
                        },
                        "elevation": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The elevation.",
                          "title": "Elevation"
                        },
                        "distance": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The distance.",
                          "title": "Distance"
                        },
                        "weather_data_source": {
                          "type": "string",
                          "description": "The weather data source.",
                          "title": "Weather Data Source"
                        }
                      },
                      "title": "International"
                    },
                    "nsrdb": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        },
                        "lat": {
                          "type": "number",
                          "format": "float",
                          "description": "The latitude.",
                          "title": "Latitude"
                        },
                        "lon": {
                          "type": "number",
                          "format": "float",
                          "description": "The longitude.",
                          "title": "Longitude"
                        },
                        "distance": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The distance.",
                          "title": "Distance"
                        },
                        "timezone": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The timezone.",
                          "title": "Timezone"
                        },
                        "elevation": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The elevation.",
                          "title": "Elevation"
                        },
                        "resolution": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The resolution.",
                          "title": "Resolution"
                        },
                        "weather_data_source": {
                          "type": "string",
                          "description": "The weather data source.",
                          "title": "Weather Data Source"
                        }
                      },
                      "title": "NSRDB"
                    }
                  },
                  "title": "Outputs"
                }
              }
            }
          }
        },
        "summary": "Query solar dataset",
        "description": "Returns information about data available for a given location for the solar resource database used by the PVWatts\u00ae Calculator and PVWatts v8 API.",
        "operationId": "SolarDataset",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "x-ms-summary": "Address",
            "required": false,
            "type": "string",
            "description": "The address to use. Required if lat/lon not provided."
          },
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "required": false,
            "type": "number",
            "description": "The latitude for the location to use. Required if address not given.",
            "format": "float"
          },
          {
            "name": "lon",
            "in": "query",
            "x-ms-summary": "Longitude",
            "required": false,
            "type": "number",
            "format": "float",
            "description": "The longitude for the location to use. Required if address not given."
          },
          {
            "name": "radius",
            "in": "query",
            "x-ms-summary": "Radius",
            "required": false,
            "type": "number",
            "default": 0,
            "description": "The radius (in miles) around the search location to search for utility rates with intersecting boundaries.  With the default radius of 0, only utility rates whose boundaries contain the search location point will be returned."
          },
          {
            "name": "all",
            "in": "query",
            "x-ms-summary": "All",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "Return all stations within the radius. The closest stations will still be returned individually.",
            "enum": [
              0,
              1
            ],
            "format": "int32"
          }
        ]
      }
    },
    "/solar/solar_resource/v1.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "version": {
                  "type": "string",
                  "description": "The current version of the web service.",
                  "title": "Version"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The sources.",
                      "title": "Sources"
                    }
                  },
                  "title": "Metadata"
                },
                "inputs": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "lat": {
                      "type": "string",
                      "description": "The latitude.",
                      "title": "Latitude"
                    },
                    "lon": {
                      "type": "string",
                      "description": "The longitude.",
                      "title": "Longitude"
                    }
                  },
                  "title": "Inputs"
                },
                "outputs": {
                  "type": "object",
                  "properties": {
                    "avg_dni": {
                      "type": "object",
                      "properties": {
                        "annual": {
                          "type": "number",
                          "format": "float",
                          "description": "The annual value.",
                          "title": "Annual"
                        },
                        "monthly": {
                          "type": "object",
                          "properties": {
                            "jan": {
                              "type": "number",
                              "format": "float",
                              "description": "The January value.",
                              "title": "January"
                            },
                            "feb": {
                              "type": "number",
                              "format": "float",
                              "description": "The February value.",
                              "title": "February"
                            },
                            "mar": {
                              "type": "number",
                              "format": "float",
                              "description": "The March value.",
                              "title": "March"
                            },
                            "apr": {
                              "type": "number",
                              "format": "float",
                              "description": "The April value.",
                              "title": "April"
                            },
                            "may": {
                              "type": "number",
                              "format": "float",
                              "description": "The May value.",
                              "title": "May"
                            },
                            "jun": {
                              "type": "number",
                              "format": "float",
                              "description": "The June value.",
                              "title": "June"
                            },
                            "jul": {
                              "type": "number",
                              "format": "float",
                              "description": "The July value.",
                              "title": "July"
                            },
                            "aug": {
                              "type": "number",
                              "format": "float",
                              "description": "The August value.",
                              "title": "August"
                            },
                            "sep": {
                              "type": "number",
                              "format": "float",
                              "description": "The September value.",
                              "title": "September"
                            },
                            "oct": {
                              "type": "number",
                              "format": "float",
                              "description": "The October value.",
                              "title": "October"
                            },
                            "nov": {
                              "type": "number",
                              "format": "float",
                              "description": "The November value.",
                              "title": "November"
                            },
                            "dec": {
                              "type": "number",
                              "format": "float",
                              "description": "The December value.",
                              "title": "December"
                            }
                          },
                          "title": "Monthly"
                        }
                      },
                      "title": "Average DNI"
                    },
                    "avg_ghi": {
                      "type": "object",
                      "properties": {
                        "annual": {
                          "type": "number",
                          "format": "float",
                          "description": "The annual value.",
                          "title": "Annual"
                        },
                        "monthly": {
                          "type": "object",
                          "properties": {
                            "jan": {
                              "type": "number",
                              "format": "float",
                              "description": "The January value.",
                              "title": "January"
                            },
                            "feb": {
                              "type": "number",
                              "format": "float",
                              "description": "The February value.",
                              "title": "February"
                            },
                            "mar": {
                              "type": "number",
                              "format": "float",
                              "description": "The March value.",
                              "title": "March"
                            },
                            "apr": {
                              "type": "number",
                              "format": "float",
                              "description": "The April value.",
                              "title": "April"
                            },
                            "may": {
                              "type": "number",
                              "format": "float",
                              "description": "The May value.",
                              "title": "May"
                            },
                            "jun": {
                              "type": "number",
                              "format": "float",
                              "description": "The June value.",
                              "title": "June"
                            },
                            "jul": {
                              "type": "number",
                              "format": "float",
                              "description": "The July value.",
                              "title": "July"
                            },
                            "aug": {
                              "type": "number",
                              "format": "float",
                              "description": "The August value.",
                              "title": "August"
                            },
                            "sep": {
                              "type": "number",
                              "format": "float",
                              "description": "The September value.",
                              "title": "September"
                            },
                            "oct": {
                              "type": "number",
                              "format": "float",
                              "description": "The October value.",
                              "title": "October"
                            },
                            "nov": {
                              "type": "number",
                              "format": "float",
                              "description": "The November value.",
                              "title": "November"
                            },
                            "dec": {
                              "type": "number",
                              "format": "float",
                              "description": "The December value.",
                              "title": "December"
                            }
                          },
                          "title": "Monthly"
                        }
                      },
                      "title": "Average GHI"
                    },
                    "avg_lat_tilt": {
                      "type": "object",
                      "properties": {
                        "annual": {
                          "type": "number",
                          "format": "float",
                          "description": "The annual value.",
                          "title": "Annual"
                        },
                        "monthly": {
                          "type": "object",
                          "properties": {
                            "jan": {
                              "type": "number",
                              "format": "float",
                              "description": "The January value.",
                              "title": "January"
                            },
                            "feb": {
                              "type": "number",
                              "format": "float",
                              "description": "The February value.",
                              "title": "February"
                            },
                            "mar": {
                              "type": "number",
                              "format": "float",
                              "description": "The March value.",
                              "title": "March"
                            },
                            "apr": {
                              "type": "number",
                              "format": "float",
                              "description": "The April value.",
                              "title": "April"
                            },
                            "may": {
                              "type": "number",
                              "format": "float",
                              "description": "The May value.",
                              "title": "May"
                            },
                            "jun": {
                              "type": "number",
                              "format": "float",
                              "description": "The June value.",
                              "title": "June"
                            },
                            "jul": {
                              "type": "number",
                              "format": "float",
                              "description": "The July value.",
                              "title": "July"
                            },
                            "aug": {
                              "type": "number",
                              "format": "float",
                              "description": "The August value.",
                              "title": "August"
                            },
                            "sep": {
                              "type": "number",
                              "format": "float",
                              "description": "The September value.",
                              "title": "September"
                            },
                            "oct": {
                              "type": "number",
                              "format": "float",
                              "description": "The October value.",
                              "title": "October"
                            },
                            "nov": {
                              "type": "number",
                              "format": "float",
                              "description": "The November value.",
                              "title": "November"
                            },
                            "dec": {
                              "type": "number",
                              "format": "float",
                              "description": "The December value.",
                              "title": "December"
                            }
                          },
                          "title": "Monthly"
                        }
                      },
                      "title": "Average Latitude Tilt"
                    }
                  },
                  "title": "Outputs"
                }
              }
            }
          }
        },
        "summary": "Get solar resource data",
        "description": "Returns various types of solar data for US locations. The service currently returns data for average Direct Normal Irradiance, average Global Horizontal Irradiance, and average Tilt at Latitude.",
        "operationId": "SolarResource",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "x-ms-summary": "Address",
            "required": false,
            "type": "string",
            "description": "The address to use. Required if lat/lon not provided."
          },
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "required": false,
            "type": "number",
            "description": "The latitude for the location to use. Required if address not given.",
            "format": "float"
          },
          {
            "name": "lon",
            "in": "query",
            "x-ms-summary": "Longitude",
            "required": false,
            "type": "number",
            "format": "float",
            "description": "The longitude for the location to use. Required if address not given."
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/alt-fuel-stations/v1.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "station_locator_url": {
                  "type": "string",
                  "description": "The station locator URL address.",
                  "title": "Station Locator URL"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The totals.",
                  "title": "Total Results"
                },
                "station_counts": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "fuels": {
                      "type": "object",
                      "properties": {
                        "BD": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            }
                          },
                          "title": "BD"
                        },
                        "E85": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            }
                          },
                          "title": "E85"
                        },
                        "ELEC": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            },
                            "stations": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The total.",
                                  "title": "Total"
                                }
                              },
                              "title": "Stations"
                            }
                          },
                          "title": "ELEC"
                        },
                        "HY": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            }
                          },
                          "title": "HY"
                        },
                        "LNG": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            }
                          },
                          "title": "LNG"
                        },
                        "CNG": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            }
                          },
                          "title": "CNG"
                        },
                        "LPG": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            }
                          },
                          "title": "LPG"
                        }
                      },
                      "title": "Fuels"
                    }
                  },
                  "title": "Station Counts"
                },
                "fuel_stations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "access_code": {
                        "type": "string",
                        "description": "The access code.",
                        "title": "Access Code"
                      },
                      "access_days_time": {
                        "type": "string",
                        "description": "The access days and times.",
                        "title": "Access Days Times"
                      },
                      "access_detail_code": {
                        "type": "string",
                        "description": "The access detail code.",
                        "title": "Access Detail Code"
                      },
                      "cards_accepted": {
                        "type": "string",
                        "description": "The cards accepted.",
                        "title": "Cards Accepted"
                      },
                      "date_last_confirmed": {
                        "type": "string",
                        "description": "The date last confirmed.",
                        "title": "Date Last Confirmed"
                      },
                      "expected_date": {
                        "type": "string",
                        "description": "The expected date.",
                        "title": "Expected Date"
                      },
                      "fuel_type_code": {
                        "type": "string",
                        "description": "The fuel type code.",
                        "title": "Fuel Type Code"
                      },
                      "groups_with_access_code": {
                        "type": "string",
                        "description": "The groups with access code.",
                        "title": "Groups With Access Code"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "open_date": {
                        "type": "string",
                        "description": "The open date.",
                        "title": "Open Date"
                      },
                      "owner_type_code": {
                        "type": "string",
                        "description": "The owner type code.",
                        "title": "Owner Type Code"
                      },
                      "status_code": {
                        "type": "string",
                        "description": "The status code.",
                        "title": "Status Code"
                      },
                      "restricted_access": {
                        "type": "boolean",
                        "description": "Whether access is restricted.",
                        "title": "Restricted Access"
                      },
                      "station_name": {
                        "type": "string",
                        "description": "The station name.",
                        "title": "Station Name"
                      },
                      "station_phone": {
                        "type": "string",
                        "description": "The station phone number.",
                        "title": "Station Phone"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "facility_type": {
                        "type": "string",
                        "description": "The facility type.",
                        "title": "Facility Type"
                      },
                      "geocode_status": {
                        "type": "string",
                        "description": "The geocode status.",
                        "title": "Geocode Status"
                      },
                      "latitude": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "longitude": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "intersection_directions": {
                        "type": "string",
                        "description": "The intersection directions.",
                        "title": "Intersection Directions"
                      },
                      "plus4": {
                        "type": "string",
                        "description": "The  zip code plus 4.",
                        "title": "Plus 4"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "street_address": {
                        "type": "string",
                        "description": "The street address.",
                        "title": "Street Address"
                      },
                      "zip": {
                        "type": "string",
                        "description": "The zip code.",
                        "title": "Zip"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "bd_blends": {
                        "type": "string",
                        "description": "The biodiesel blends.",
                        "title": "BD Blends"
                      },
                      "cng_dispenser_num": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The CNG dispenser number.",
                        "title": "CNG Dispenser Num"
                      },
                      "cng_fill_type_code": {
                        "type": "string",
                        "description": "The CNG fill type code.",
                        "title": "CNG Fill Type Code"
                      },
                      "cng_psi": {
                        "type": "string",
                        "description": "The CNG PSI.",
                        "title": "CNG PSI"
                      },
                      "cng_renewable_source": {
                        "type": "string",
                        "description": "The CNG renewable source.",
                        "title": "CNG Renewable Source"
                      },
                      "cng_vehicle_class": {
                        "type": "string",
                        "description": "The CNG vehicle class.",
                        "title": "CNG Vehicle Class"
                      },
                      "e85_blender_pump": {
                        "type": "string",
                        "description": "The E85 blender pump.",
                        "title": "E85 Blender Pump"
                      },
                      "e85_other_ethanol_blends": {
                        "type": "string",
                        "description": "The E85 other ethanol blends.",
                        "title": "E85 Other Ethanol Blends"
                      },
                      "ev_connector_types": {
                        "type": "string",
                        "description": "The EV connector types.",
                        "title": "EV Connector Types"
                      },
                      "ev_dc_fast_num": {
                        "type": "string",
                        "description": "The EV DC fast number.",
                        "title": "EV DC Fast Num"
                      },
                      "ev_level1_evse_num": {
                        "type": "string",
                        "description": "The EV Level 1 EVSE number.",
                        "title": "EV Level 1 EVSE Num"
                      },
                      "ev_level2_evse_num": {
                        "type": "string",
                        "description": "The EV Level 2 EVSE number.",
                        "title": "EV Level 2 EVSE Num"
                      },
                      "ev_network": {
                        "type": "string",
                        "description": "The EV network.",
                        "title": "EV Network"
                      },
                      "ev_network_web": {
                        "type": "string",
                        "description": "The EV network web.",
                        "title": "EV Network Web"
                      },
                      "ev_other_evse": {
                        "type": "string",
                        "description": "The EV other EVSE.",
                        "title": "EV Other EVSE"
                      },
                      "ev_pricing": {
                        "type": "string",
                        "description": "The EV pricing.",
                        "title": "EV Pricing"
                      },
                      "ev_renewable_source": {
                        "type": "string",
                        "description": "The EV renewable source.",
                        "title": "EV Renewable Source"
                      },
                      "hy_is_retail": {
                        "type": "string",
                        "description": "The HY is retail.",
                        "title": "HY Is Retail"
                      },
                      "hy_pressures": {
                        "type": "string",
                        "description": "The HY pressures.",
                        "title": "HY Pressures"
                      },
                      "hy_standards": {
                        "type": "string",
                        "description": "The HY standards.",
                        "title": "HY Standards"
                      },
                      "hy_status_link": {
                        "type": "string",
                        "description": "The HY status link.",
                        "title": "HY Status Link"
                      },
                      "lng_renewable_source": {
                        "type": "string",
                        "description": "The LNG renewable source.",
                        "title": "LNG Renewable Source"
                      },
                      "lng_vehicle_class": {
                        "type": "string",
                        "description": "The LNG vehicle class.",
                        "title": "LNG Vehicle Class"
                      },
                      "lpg_primary": {
                        "type": "string",
                        "description": "The LPG primary.",
                        "title": "LPG Primary"
                      },
                      "lpg_nozzle_types": {
                        "type": "string",
                        "description": "The LPG nozzle types.",
                        "title": "LPG Nozzle Types"
                      },
                      "ng_fill_type_code": {
                        "type": "string",
                        "description": "The NG fill type code.",
                        "title": "NG Fill Type Code"
                      },
                      "ng_psi": {
                        "type": "string",
                        "description": "The NG PSI.",
                        "title": "NG PSI"
                      },
                      "ng_vehicle_class": {
                        "type": "string",
                        "description": "The NG vehicle class.",
                        "title": "NG Vehicle Class"
                      },
                      "rd_blends": {
                        "type": "string",
                        "description": "The RD blends.",
                        "title": "RD Blends"
                      },
                      "rd_blends_fr": {
                        "type": "string",
                        "description": "The RD blends fr.",
                        "title": "RD Blends Fr"
                      },
                      "rd_blended_with_biodiesel": {
                        "type": "string",
                        "description": "The RD blended with biodiesel.",
                        "title": "RD Blended With Biodiesel"
                      },
                      "rd_max_biodiesel_level": {
                        "type": "string",
                        "description": "The RD max biodiesel level.",
                        "title": "RD Max Biodiesel Level"
                      },
                      "access_days_time_fr": {
                        "type": "string",
                        "description": "The access days times fr.",
                        "title": "Access Days Time Fr"
                      },
                      "intersection_directions_fr": {
                        "type": "string",
                        "description": "The intersection directions fr.",
                        "title": "Intersection Directions Fr"
                      },
                      "bd_blends_fr": {
                        "type": "string",
                        "description": "The BD blends fr.",
                        "title": "BD Blends Fr"
                      },
                      "groups_with_access_code_fr": {
                        "type": "string",
                        "description": "The groups with access code fr.",
                        "title": "Groups With Access Code Fr"
                      },
                      "ev_pricing_fr": {
                        "type": "string",
                        "description": "The EV pricing fr.",
                        "title": "EV Pricing Fr"
                      }
                    }
                  },
                  "title": "Fuel Stations"
                }
              }
            }
          }
        },
        "summary": "Get all alternative fuel stations",
        "description": "Return a full list of alternative fuel stations that match your query.",
        "operationId": "AlternativeFuelStations",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "x-ms-summary": "Status",
            "required": false,
            "type": "string",
            "description": "Return stations that match the given status. A single status, or a comma-separated list of multiple statuses, may be given.",
            "enum": [
              "all",
              "E",
              "P",
              "T"
            ]
          },
          {
            "name": "access",
            "in": "query",
            "x-ms-summary": "Access",
            "required": false,
            "type": "string",
            "description": "Return stations with the given access type.",
            "enum": [
              "all",
              "public",
              "private"
            ]
          },
          {
            "name": "fuel_type",
            "in": "query",
            "x-ms-summary": "Fuel Type",
            "required": false,
            "type": "string",
            "description": "Return stations that supply any of the given fuel types. A single fuel type, or a comma-separated list of multiple fuel types, may be given."
          },
          {
            "name": "cards_accepted",
            "in": "query",
            "x-ms-summary": "Cards Accepted",
            "required": false,
            "type": "string",
            "description": "Return stations that accept any of the given payment methods. A single payment method, or a comma-separated list of multiple payment methods, may be given."
          },
          {
            "name": "owner_type",
            "in": "query",
            "x-ms-summary": "Owner Type",
            "required": false,
            "type": "string",
            "description": "Return stations owned by the given types of owners. A single owner type, or a comma-separated list of multiple owner types, may be given."
          },
          {
            "name": "federal_agency",
            "in": "query",
            "x-ms-summary": "Federal Agency",
            "required": false,
            "type": "string",
            "description": "Return stations owned by the given federal agency. A federal agency code, or a comma-separated list of multiple federal agency codes, may be given."
          },
          {
            "name": "cng_fill_type",
            "in": "query",
            "x-ms-summary": "CNG Fill Type",
            "required": false,
            "type": "string",
            "description": "Return only CNG stations that provide the specified type of dispensing capability. A single type, or a comma separated list of multiple types, may be given."
          },
          {
            "name": "cng_psa",
            "in": "query",
            "x-ms-summary": "CNG PSA",
            "required": false,
            "type": "string",
            "description": "Return only CNG stations that provide the specified PSI pressure. A single pressure level, or a comma separated list of multiple pressure levels, may be given."
          },
          {
            "name": "cng_vehicle_class",
            "in": "query",
            "x-ms-summary": "CNG Vehicle Class",
            "required": false,
            "type": "string",
            "description": "Return only CNG stations that can accommodate the specified vehicle class size or greater.",
            "enum": [
              "all",
              "LD",
              "MD",
              "HD"
            ]
          },
          {
            "name": "e85_has_blender_pump",
            "in": "query",
            "x-ms-summary": "E85 Has Blender Pump",
            "required": false,
            "type": "string",
            "description": "If true, then return only E85 stations that also have a blender pump capable of providing mid-level ethanol blends.",
            "enum": [
              "all",
              "true"
            ]
          },
          {
            "name": "ev_network",
            "in": "query",
            "x-ms-summary": "EV Network",
            "required": false,
            "type": "string",
            "description": "Return only electric charging stations that belong to the given network. A single network, or a comma separated list of multiple networks, may be given."
          },
          {
            "name": "ev_charging_level",
            "in": "query",
            "x-ms-summary": "EV Charging Level",
            "required": false,
            "type": "string",
            "description": "Return only electric charging stations that provide the given level of electric vehicle supply equipment (EVSE).",
            "enum": [
              "all",
              "1",
              "2",
              "dc_fast",
              "legacy"
            ]
          },
          {
            "name": "ev_connector_type",
            "in": "query",
            "x-ms-summary": "EV Connector Type",
            "required": false,
            "type": "string",
            "description": "Return only electric charging stations that provide the given connector types.",
            "enum": [
              "all",
              "NEMA1450",
              "NEMA515",
              "NEMA520",
              "J1772",
              "J1772COMBO",
              "CHADEMO",
              "TESLA"
            ]
          },
          {
            "name": "hy_is_retail",
            "in": "query",
            "x-ms-summary": "HY Is Retail",
            "required": false,
            "type": "string",
            "description": "Return only hydrogen stations that match the value. A single retail value, or a comma-separated list of multiple retail values, may be given."
          },
          {
            "name": "lng_vehicle_class",
            "in": "query",
            "x-ms-summary": "LNG Vehicle Class",
            "required": false,
            "type": "string",
            "description": "Return only LNG stations that can accommodate the specified vehicle class size or greater.",
            "enum": [
              "all",
              "LD",
              "MD",
              "HD"
            ]
          },
          {
            "name": "lpg_include_secondary",
            "in": "query",
            "x-ms-summary": "LPG Include Secondary",
            "required": false,
            "type": "string",
            "description": "If false, then exclude LPG stations that do not meet the criteria to be considered primary.",
            "enum": [
              "all",
              "false"
            ]
          },
          {
            "name": "state",
            "in": "query",
            "x-ms-summary": "State",
            "required": false,
            "type": "string",
            "description": "Return only stations within the given state. State must be given as a two character state code (eg, \"CO\" for Colorado). A single state, or a comma-separate list of multiple states, may be given."
          },
          {
            "name": "zip",
            "in": "query",
            "x-ms-summary": "Zip",
            "required": false,
            "type": "string",
            "description": "Return only stations within the given ZIP code. ZIP codes must be exactly 5 digits long. A single ZIP code, or a comma-separate list of multiple ZIP codes, may be given."
          },
          {
            "name": "country",
            "in": "query",
            "x-ms-summary": "Country",
            "required": false,
            "type": "string",
            "description": "Return only stations within the given country code.",
            "enum": [
              "all",
              "US",
              "CA"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "The maximum number of results to return. An explicit limit of up to 200 may be passed in, or the special all string may be passed in to return all results."
          }
        ]
      }
    },
    "/alt-fuel-stations/v1/{id}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "alt_fuel_station": {
                  "type": "object",
                  "properties": {
                    "access_code": {
                      "type": "string",
                      "description": "The access code.",
                      "title": "Access Code"
                    },
                    "access_days_time": {
                      "type": "string",
                      "description": "The access days times.",
                      "title": "Access Days Times"
                    },
                    "access_detail_code": {
                      "type": "string",
                      "description": "The access detail code.",
                      "title": "Access Detail Code"
                    },
                    "cards_accepted": {
                      "type": "string",
                      "description": "The cards accepted.",
                      "title": "Cards Accepted"
                    },
                    "date_last_confirmed": {
                      "type": "string",
                      "description": "The date last confirmed.",
                      "title": "Date Last Confirmed"
                    },
                    "expected_date": {
                      "type": "string",
                      "description": "The expected date.",
                      "title": "Expected Date"
                    },
                    "fuel_type_code": {
                      "type": "string",
                      "description": "The fuel type code.",
                      "title": "Fuel Type Code"
                    },
                    "groups_with_access_code": {
                      "type": "string",
                      "description": "The groups with access code.",
                      "title": "Groups With Access Code"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "open_date": {
                      "type": "string",
                      "description": "The open date.",
                      "title": "Open Date"
                    },
                    "owner_type_code": {
                      "type": "string",
                      "description": "The owner type code.",
                      "title": "Owner Type Code"
                    },
                    "status_code": {
                      "type": "string",
                      "description": "The status code.",
                      "title": "Status Code"
                    },
                    "restricted_access": {
                      "type": "boolean",
                      "description": "Whether access is restricted.",
                      "title": "Restricted Access"
                    },
                    "station_name": {
                      "type": "string",
                      "description": "The station name.",
                      "title": "Station Name"
                    },
                    "station_phone": {
                      "type": "string",
                      "description": "The station phone number.",
                      "title": "Station Phone"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    },
                    "facility_type": {
                      "type": "string",
                      "description": "The facility type.",
                      "title": "Facility Type"
                    },
                    "geocode_status": {
                      "type": "string",
                      "description": "The geocode status.",
                      "title": "Geocode Status"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "The latitude.",
                      "title": "Latitude"
                    },
                    "longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "The longitude.",
                      "title": "Longitude"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "intersection_directions": {
                      "type": "string",
                      "description": "The intersection directions.",
                      "title": "Intersection Directions"
                    },
                    "plus4": {
                      "type": "string",
                      "description": "The plus 4.",
                      "title": "Plus 4"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "street_address": {
                      "type": "string",
                      "description": "The street address.",
                      "title": "Street Address"
                    },
                    "zip": {
                      "type": "string",
                      "description": "The zip code.",
                      "title": "Zip"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "bd_blends": {
                      "type": "string",
                      "description": "The BD blends.",
                      "title": "BD Blends"
                    },
                    "cng_dispenser_num": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The CNG dispenser number.",
                      "title": "CNG Dispenser Num"
                    },
                    "cng_fill_type_code": {
                      "type": "string",
                      "description": "The CNG fill type code.",
                      "title": "CNG Fill Type Code"
                    },
                    "cng_psi": {
                      "type": "string",
                      "description": "The CNG PSI.",
                      "title": "CNG PSI"
                    },
                    "cng_renewable_source": {
                      "type": "string",
                      "description": "The CNG renewable source.",
                      "title": "CNG Renewable Source"
                    },
                    "cng_vehicle_class": {
                      "type": "string",
                      "description": "The CNG vehicle class.",
                      "title": "CNG Vehicle Class"
                    },
                    "e85_blender_pump": {
                      "type": "string",
                      "description": "The E85 blender pump.",
                      "title": "E85 Blender Pump"
                    },
                    "e85_other_ethanol_blends": {
                      "type": "string",
                      "description": "The E85 other ethanol blends.",
                      "title": "E85 Other Ethanol Blends"
                    },
                    "ev_connector_types": {
                      "type": "string",
                      "description": "The EV connector types.",
                      "title": "EV Connector Types"
                    },
                    "ev_dc_fast_num": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The EV DC fast number.",
                      "title": "EV DC Fast Num"
                    },
                    "ev_level1_evse_num": {
                      "type": "string",
                      "description": "The EV level 1 EVSE number.",
                      "title": "EV Level 1 EVSE Num"
                    },
                    "ev_level2_evse_num": {
                      "type": "string",
                      "description": "The EV level 2 EVSE number.",
                      "title": "EV Level 2 EVSE Num"
                    },
                    "ev_network": {
                      "type": "string",
                      "description": "The EV network.",
                      "title": "EV Network"
                    },
                    "ev_network_web": {
                      "type": "string",
                      "description": "The EV network web.",
                      "title": "EV Network Web"
                    },
                    "ev_other_evse": {
                      "type": "string",
                      "description": "The EV other EVSE.",
                      "title": "EV Other EVSE"
                    },
                    "ev_pricing": {
                      "type": "string",
                      "description": "The EV pricing.",
                      "title": "EV Pricing"
                    },
                    "ev_renewable_source": {
                      "type": "string",
                      "description": "The EV renewable source.",
                      "title": "EV Renewable Source"
                    },
                    "hy_is_retail": {
                      "type": "string",
                      "description": "The HY is retail.",
                      "title": "HY Is Retail"
                    },
                    "hy_pressures": {
                      "type": "string",
                      "description": "The HY pressures.",
                      "title": "HY Pressures"
                    },
                    "hy_standards": {
                      "type": "string",
                      "description": "The HY standards.",
                      "title": "HY Standards"
                    },
                    "hy_status_link": {
                      "type": "string",
                      "description": "The HY status link.",
                      "title": "HY Status Link"
                    },
                    "lng_renewable_source": {
                      "type": "string",
                      "description": "The LNG renewable source.",
                      "title": "LNG Renewable Source"
                    },
                    "lng_vehicle_class": {
                      "type": "string",
                      "description": "The LNG vehicle class.",
                      "title": "LNG Vehicle Class"
                    },
                    "lpg_primary": {
                      "type": "string",
                      "description": "The LPG primary.",
                      "title": "LPG Primary"
                    },
                    "lpg_nozzle_types": {
                      "type": "string",
                      "description": "The LPG nozzle types.",
                      "title": "LPG Nozzle Types"
                    },
                    "ng_fill_type_code": {
                      "type": "string",
                      "description": "The NG fill type code.",
                      "title": "NG Fill Type Code"
                    },
                    "ng_psi": {
                      "type": "string",
                      "description": "The NG PSI.",
                      "title": "NG PSI"
                    },
                    "ng_vehicle_class": {
                      "type": "string",
                      "description": "The NG vehicle class.",
                      "title": "NG Vehicle Class"
                    },
                    "rd_blends": {
                      "type": "string",
                      "description": "The RD blends.",
                      "title": "RD Blends"
                    },
                    "rd_blends_fr": {
                      "type": "string",
                      "description": "The RD blends fr.",
                      "title": "RD Blends Fr"
                    },
                    "rd_blended_with_biodiesel": {
                      "type": "string",
                      "description": "The RD blended with biodiesel.",
                      "title": "RD Blended With Biodiesel"
                    },
                    "rd_max_biodiesel_level": {
                      "type": "string",
                      "description": "The RD max biodiesel level.",
                      "title": "RD Max Biodiesel Level"
                    },
                    "access_days_time_fr": {
                      "type": "string",
                      "description": "The access days times fr.",
                      "title": "Access Days Times Fr"
                    },
                    "intersection_directions_fr": {
                      "type": "string",
                      "description": "The intersection directions fr.",
                      "title": "Intersection Directions Fr"
                    },
                    "bd_blends_fr": {
                      "type": "string",
                      "description": "The BD blends fr.",
                      "title": "BD Blends Fr"
                    },
                    "groups_with_access_code_fr": {
                      "type": "string",
                      "description": "The groups with access code fr.",
                      "title": "Groups With Access Code Fr"
                    },
                    "ev_pricing_fr": {
                      "type": "string",
                      "description": "The EV pricing fr.",
                      "title": "EV Pricing Fr"
                    }
                  },
                  "title": "Alt Fuel Station"
                }
              }
            }
          }
        },
        "summary": "Get an alternative fuel station by ID",
        "description": "Fetch the details of a specific alternative fuel station given the station's ID.",
        "operationId": "AlternativeFuelStation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Station ID",
            "x-ms-url-encoding": "single",
            "description": "The unique ID of the station to find."
          }
        ]
      }
    },
    "/alt-fuel-stations/v1/nearest.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "latitude": {
                  "type": "number",
                  "format": "float",
                  "description": "The latitude.",
                  "title": "Latitude"
                },
                "longitude": {
                  "type": "number",
                  "format": "float",
                  "description": "The longitude.",
                  "title": "Longitude"
                },
                "location_country": {
                  "type": "string",
                  "description": "The location country.",
                  "title": "Location Country"
                },
                "precision": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Types"
                    }
                  },
                  "title": "Precision"
                },
                "station_locator_url": {
                  "type": "string",
                  "description": "The station locator URL address.",
                  "title": "Station Locator URL"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The totals.",
                  "title": "Total Results"
                },
                "station_counts": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "fuels": {
                      "type": "object",
                      "properties": {
                        "BD": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            }
                          },
                          "title": "BD"
                        },
                        "E85": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            }
                          },
                          "title": "E85"
                        },
                        "ELEC": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            },
                            "stations": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The total.",
                                  "title": "Total"
                                }
                              },
                              "title": "Stations"
                            }
                          },
                          "title": "ELEC"
                        },
                        "HY": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            }
                          },
                          "title": "HY"
                        },
                        "LNG": {
                          "type": "object",
                          "properties": {
                            "total": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total.",
                              "title": "Total"
                            }
                          },
                          "title": "LNG"
                        },
[...]
