{
  "swagger": "2.0",
  "info": {
    "title": "IPQS Fraud and Risk Scoring",
    "description": "IPQualityScore (IPQS) provides enterprise grade fraud prevention, risk analysis, and threat detection. Analyze IP addresses, phone numbers, email addresses, and URLs or domains to identify sophisticated bad actors and high risk behavior.",
    "contact": {
      "name": "IPQS Support",
      "url": "https://www.ipqualityscore.com/contact-us",
      "email": "Support@IPQualityScore.com"
    },
    "version": "2.0"
  },
  "host": "ipqualityscore.com",
  "basePath": "/api/json",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/ip": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Was the request successful?",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "A generic status message, either success or some form of an error notice.",
                  "title": "Message"
                },
                "fraud_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The overall fraud score of the user based on the IP, user agent, language, and any other optionally passed variables. Fraud Scores >= 75 are suspicious, but not necessarily fraudulent. We recommend flagging or blocking traffic with Fraud Scores >= 85, but you may find it beneficial to use a higher or lower threshold.",
                  "title": "Fraud Score"
                },
                "country_code": {
                  "type": "string",
                  "description": "Two character country code of IP address or \"N/A\" if unknown.",
                  "title": "Country Code"
                },
                "region": {
                  "type": "string",
                  "description": "Region (state) of IP address if available or \"N/A\" if unknown.",
                  "title": "Region"
                },
                "city": {
                  "type": "string",
                  "description": "City of IP address if available or \"N/A\" if unknown.",
                  "title": "City"
                },
                "ISP": {
                  "type": "string",
                  "description": "ISP if one is known. Otherwise \"N/A\".",
                  "title": "ISP"
                },
                "ASN": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Autonomous System Number if one is known. Null if nonexistent.",
                  "title": "ASN"
                },
                "Organization": {
                  "type": "string",
                  "description": "Organization if one is known. Can be parent company or sub company of the listed ISP. Otherwise \"N/A\".",
                  "title": "Organization"
                },
                "is_crawler": {
                  "type": "boolean",
                  "description": "Is this IP associated with being a confirmed crawler from a mainstream search engine such as Googlebot, Bingbot, Yandex, etc. based on hostname or IP address verification.",
                  "title": "Is Crawler",
                  "enum": [
                    true,
                    false
                  ]
                },
                "timezone": {
                  "type": "string",
                  "description": "Timezone of IP address if available or \"N/A\" if unknown.",
                  "title": "Timezone"
                },
                "mobile": {
                  "type": "boolean",
                  "description": "Is this user agent a mobile browser? (will always be false if the user agent is not passed in the API request)",
                  "title": "Mobile",
                  "enum": [
                    true,
                    false
                  ]
                },
                "host": {
                  "type": "string",
                  "description": "Hostname of the IP address if one is available.",
                  "title": "Host"
                },
                "proxy": {
                  "type": "boolean",
                  "description": "Is this IP address suspected to be a proxy? (SOCKS, Elite, Anonymous, VPN, Tor, etc.)",
                  "title": "Proxy",
                  "enum": [
                    true,
                    false
                  ]
                },
                "vpn": {
                  "type": "boolean",
                  "description": "Is this IP suspected of being a VPN connection? This can include data center ranges which can become active VPNs at any time. The \"proxy\" status will always be true when this value is true.",
                  "title": "VPN",
                  "enum": [
                    true,
                    false
                  ]
                },
                "tor": {
                  "type": "boolean",
                  "description": "Is this IP suspected of being a TOR connection? This can include previously active TOR nodes and exits which can become active TOR exits at any time. The \"proxy\" status will always be true when this value is true.",
                  "title": "TOR",
                  "enum": [
                    true,
                    false
                  ]
                },
                "active_vpn": {
                  "type": "boolean",
                  "description": "Premium Account Feature - Identifies active VPN connections used by popular VPN services and private VPN servers.",
                  "title": "Active VPN",
                  "enum": [
                    true,
                    false
                  ]
                },
                "active_tor": {
                  "type": "boolean",
                  "description": "Premium Account Feature - Identifies active TOR exits on the TOR network.",
                  "title": "Active TOR",
                  "enum": [
                    true,
                    false
                  ]
                },
                "recent_abuse": {
                  "type": "boolean",
                  "description": "This value will indicate if there has been any recently verified abuse across our network for this IP address. Abuse could be a confirmed chargeback, compromised device, fake app install, or similar malicious behavior within the past few days.",
                  "title": "Recent Abuse",
                  "enum": [
                    true,
                    false
                  ]
                },
                "bot_status": {
                  "type": "boolean",
                  "description": "Premium Account Feature - Indicates if bots or non-human traffic has recently used this IP address to engage in automated fraudulent behavior. Provides stronger confidence that the IP address is suspicious.",
                  "title": "Bot Status",
                  "enum": [
                    true,
                    false
                  ]
                },
                "connection_type": {
                  "type": "string",
                  "description": "Classification of the IP address connection type as \"Residential\", \"Corporate\", \"Education\", \"Mobile\", or \"Data Center\".",
                  "title": "Connection Type"
                },
                "abuse_velocity": {
                  "type": "string",
                  "description": "Premium Account Feature - How frequently the IP address is engaging in abuse across the IPQS threat network. Values can be \"high\", \"medium\", \"low\", or \"none\". Can be used in combination with the Fraud Score to identify bad behavior.",
                  "title": "Abuse Velocity"
                },
                "latitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Latitude of IP address if available or \"N/A\" if unknown.",
                  "title": "Latitude"
                },
                "longitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Longitude of IP address if available or \"N/A\" if unknown.",
                  "title": "Longitude"
                },
                "request_id": {
                  "type": "string",
                  "description": "A unique identifier for this request that can be used to lookup the request details or send a postback conversion notice.",
                  "title": "Request Id"
                }
              }
            }
          }
        },
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "Retrieve IP address reputation data",
        "description": "This service performs real-time lookups to instantly determine how risky a user, click, or transaction is based on an IP address and optional device information. In addition to analyzing if the IP address is a proxy or VPN, the API returns over 20 relevant data points such as Geo location data, ISP, Connection type, Device details, Recent reputation activity, Overall fraud score, Status as a proxy, VPN, or TOR connection, Abuse Velocity, Other similar data points to classify reputation and risk.",
        "operationId": "IP_REPUTATION",
        "parameters": [
          {
            "name": "ip",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "IP address you want to fetch reputation data.",
            "x-ms-summary": "IP address"
          },
          {
            "name": "strictness",
            "in": "formData",
            "required": true,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "Strictness",
            "description": "How in depth (strict) do you want this query to be? Higher values take longer to process and may provide a higher false-positive rate. We recommend starting at \"0\", the lowest strictness setting, and increasing to \"1\" or \"2\" depending on your levels of fraud.",
            "format": "int32",
            "enum": [
              0,
              1,
              2
            ]
          },
          {
            "name": "user_agent",
            "in": "formData",
            "required": false,
            "type": "string",
            "x-ms-summary": "User Agent",
            "description": "You can optionally provide us with the user agent string (browser). This allows us to run additional checks to see if the user is a bot or running an invalid browser. This allows us to evaluate the risk of the user as judged in the \"fraud_score\".",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "user_language",
            "in": "formData",
            "required": false,
            "type": "string",
            "x-ms-summary": "User Language",
            "description": "You can optionally provide us with the user's language header. This allows us to evaluate the risk of the user as judged in the \"fraud_score\".",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "fast",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Fast",
            "description": "When this parameter is enabled our API will not perform certain forensic checks that take longer to process. Enabling this feature greatly increases the API speed without much impact on accuracy. This option is intended for services that require decision making in a time sensitive manner and can be used for any strictness level.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "mobile",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Mobile",
            "description": "You can optionally specify that this lookup should be treated as a mobile device. Recommended for mobile lookups that do not have a user agent attached to the request. NOTE-This can cause unexpected and abnormal results if the device is not a mobile device.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "allow_public_access_points",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Allow Public Access Points",
            "description": "Bypasses certain checks for IP addresses from education and research institutions, schools, and some corporate connections to better accommodate audiences that frequently use public connections.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "lighter_penalties",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Lighter Penalties",
            "description": "Skip some blacklists which can cause false-positives for sensitive audiences.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/email": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "A generic status message, either success or some form of an error notice.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Was the request successful?",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "valid": {
                  "type": "boolean",
                  "description": "Does this email address appear valid?",
                  "title": "Valid",
                  "enum": [
                    true,
                    false
                  ]
                },
                "disposable": {
                  "type": "boolean",
                  "description": "Is this email suspected of belonging to a temporary or disposable mail service? Usually associated with fraudsters and scammers.",
                  "title": "Disposable",
                  "enum": [
                    true,
                    false
                  ]
                },
                "smtp_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Validity score of email server's SMTP setup. Range: \"-1\" - \"3\". Scores above \"-1\" can be associated with a valid email. -1 = invalid email address 0 = mail server exists, but is rejecting all mail 1 = mail server exists, but is showing a temporary error 2 = mail server exists, but accepts all email 3 = mail server exists and has verified the email address",
                  "title": "SMTP Score"
                },
                "overall_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Overall email validity score. Range: \"0\" - \"4\". Scores above \"1\" can be associated with a valid email. 0 = invalid email address 1 = dns valid, unreachable mail server 2 = dns valid, temporary mail rejection error 3 = dns valid, accepts all mail 4 = dns valid, verified email exists",
                  "title": "Overall Score"
                },
                "first_name": {
                  "type": "string",
                  "description": "Suspected first name based on email. Returns \"CORPORATE\" if the email is suspected of being a generic company email. Returns \"UNKNOWN\" if the first name was not determinable.",
                  "title": "First Name"
                },
                "generic": {
                  "type": "boolean",
                  "description": "Is this email suspected as being a catch all or shared email for a domain? (\"admin@\", \"webmaster@\", \"newsletter@\", \"sales@\", \"contact@\", etc.)",
                  "title": "Generic",
                  "enum": [
                    true,
                    false
                  ]
                },
                "common": {
                  "type": "boolean",
                  "description": "Is this email from a common email provider? (\"gmail.com\", \"yahoo.com\", \"hotmail.com\", etc.)",
                  "title": "Common",
                  "enum": [
                    true,
                    false
                  ]
                },
                "dns_valid": {
                  "type": "boolean",
                  "description": "Does the email's hostname have valid DNS entries? Partial indication of a valid email.",
                  "title": "DNS Valid",
                  "enum": [
                    true,
                    false
                  ]
                },
                "honeypot": {
                  "type": "boolean",
                  "description": "Is this email believed to be a \"honeypot\" or \"SPAM trap\"? Bulk mail sent to these emails increases your risk of being blacklisted by large ISPs & ending up in the spam folder.",
                  "title": "Honeypot",
                  "enum": [
                    true,
                    false
                  ]
                },
                "deliverability": {
                  "type": "string",
                  "description": "How likely is this email to be delivered to the user and land in their mailbox. Values can be \"high\", \"medium\", or \"low\".",
                  "title": "Deliverability"
                },
                "frequent_complainer": {
                  "type": "boolean",
                  "description": "Indicates if this email frequently unsubscribes from marketing lists or reports email as SPAM.",
                  "title": "Frequent Complainer",
                  "enum": [
                    true,
                    false
                  ]
                },
                "spam_trap_score": {
                  "type": "string",
                  "description": "Confidence level of the email address being an active SPAM trap. Values can be \"high\", \"medium\", \"low\", or \"none\". We recommend scrubbing emails with \"high\" or \"medium\" statuses. Avoid \"low\" emails whenever possible for any promotional mailings.",
                  "title": "Spam Trap Score"
                },
                "catch_all": {
                  "type": "boolean",
                  "description": "Is this email likely to be a \"catch all\" where the mail server verifies all emails tested against it as valid? It is difficult to determine if the address is truly valid in these scenarios, since the email's server will not confirm the account's status.",
                  "title": "Catch All",
                  "enum": [
                    true,
                    false
                  ]
                },
                "timed_out": {
                  "type": "boolean",
                  "description": "Did the connection to the mail service provider timeout during the verification? If so, we recommend increasing the \"timeout\" variable above the default 7 second value. Lookups that timeout with a \"valid\" result as false are most likely false and should be not be trusted.",
                  "title": "Timed Out",
                  "enum": [
                    true,
                    false
                  ]
                },
                "suspect": {
                  "type": "boolean",
                  "description": "This value indicates if the mail server is currently replying with a temporary error and unable to verify the email address. This status will also be true for \"catch all\" email addresses as defined below. If this value is true, then we suspect the \"valid\" result may be tainted and there is not a guarantee that the email address is truly valid.",
                  "title": "Suspect",
                  "enum": [
                    true,
                    false
                  ]
                },
                "recent_abuse": {
                  "type": "boolean",
                  "description": "This value will indicate if there has been any recently verified abuse across our network for this email address. Abuse could be a confirmed chargeback, fake signup, compromised device, fake app install, or similar malicious behavior within the past few days.",
                  "title": "Recent Abuse",
                  "enum": [
                    true,
                    false
                  ]
                },
                "fraud_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The overall Fraud Score of the user based on the email's reputation and recent behavior across the IPQS threat network. Fraud Scores >= 75 are suspicious, but not necessarily fraudulent.",
                  "title": "Fraud Score"
                },
                "suggested_domain": {
                  "type": "string",
                  "description": "Default value is \"N/A\". Indicates if this email's domain should in fact be corrected to a popular mail service. This field is useful for catching user typos. For example, an email address with \"gmai.com\", would display a suggested domain of \"gmail.com\". This feature supports all major mail service providers.",
                  "title": "Suggested Domain"
                },
                "leaked": {
                  "type": "boolean",
                  "description": "Was this email address associated with a recent database leak from a third party? Leaked accounts pose a risk as they may have become compromised during a database breach.",
                  "title": "Leaked",
                  "enum": [
                    true,
                    false
                  ]
                },
                "domain_age": {
                  "type": "object",
                  "properties": {
                    "human": {
                      "type": "string",
                      "description": "A human description of when this domain was registered. (Ex: 3 months ago)",
                      "title": "Domain Age Human"
                    },
                    "timestamp": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Unix time since the epoch when this domain was first registered(Ex: 1568061634).",
                      "title": "Domain Age Timestamp"
                    },
                    "iso": {
                      "type": "string",
                      "description": "The time-domain was registered in ISO8601 format(Ex: 2019-09-09T16:40:34-04:00).",
                      "title": "Domain Age ISO"
                    }
                  },
                  "description": "Domain Age"
                },
                "first_seen": {
                  "type": "object",
                  "properties": {
                    "human": {
                      "type": "string",
                      "description": "A human description of the email address age, using an estimation of the email creation date when IPQS first discovered this email address. (Ex: 3 months ago)",
                      "title": "FirstSeen Human"
                    },
                    "timestamp": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unix time since epoch when this email was first analyzed by IPQS. (Ex: 1568061634)",
                      "title": "FirstSeen Timestamp"
                    },
                    "iso": {
                      "type": "string",
                      "description": "The time this email was first analyzed by IPQS in ISO8601 format (Ex: 2019-09-09T16:40:34-04:00).",
                      "title": "FirstSeen ISO"
                    }
                  },
                  "description": "First Seen"
                },
                "sanitized_email": {
                  "type": "string",
                  "description": "Sanitized email address with all aliases and masking removed, such as multiple periods for Gmail.com.",
                  "title": "Sanitized Email"
                },
                "request_id": {
                  "type": "string",
                  "description": "A unique identifier for this request.",
                  "title": "Request Id"
                }
              }
            }
          }
        },
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "Retrieve Email address reputation data",
        "description": "This API provides real-time email address reputation scoring and validation with hundreds of syntax & DNS checks. The API can be leveraged to determine if the email address inbox exists with the mail service provider and is able to accept new messages. In addition, users can determine if the email address has a poor reputation or has recently been associated with abuse or threats. Additional risk scoring can detect disposable and temporary mail services as well as emails with a history of fraudulent behavior online.",
        "operationId": "EMAIL_REPUTATION",
        "parameters": [
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "Email address you want to fetch reputation data.",
            "x-ms-summary": "Email address"
          },
          {
            "name": "abuse_strictness",
            "in": "formData",
            "required": true,
            "type": "integer",
            "default": 0,
            "enum": [
              0,
              1,
              2
            ],
            "x-ms-summary": "Abuse Strictness",
            "description": "Set the strictness level for machine learning pattern recognition of abusive email addresses with the \"recent_abuse\" data point. Default level of 0 provides good coverage, however if you are filtering account applications and facing advanced fraudsters then we recommend increasing this value to level 1 or 2.",
            "format": "int32"
          },
          {
            "name": "fast",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Fast",
            "description": "When this parameter is enabled our API will not perform an SMTP check with the mail service provider, which greatly increases the API speed. Syntax and DNS checks are still performed on the email address as well as our disposable email detection service. This option is intended for services that require decision making in a time sensitive manner.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "timeout",
            "in": "formData",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Timeout in seconds (1-60)",
            "description": "Maximum number of seconds to wait for a reply from a mail service provider. If your implementation requirements do not need an immediate response, we recommend bumping this value to 20. Any results which experience a connection timeout will return the \"timed_out\" variable as true. Default value is 7 seconds.",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "suggest_domain",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Suggest Domain",
            "description": "Force analyze if the email addresses domain has a typo and should be corrected to a popular mail service. By default, this test is currently only performed when the email is invalid or if the \"recent abuse\" status is true.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/url": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "A generic status message, either success or some form of an error notice.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Was the request successful?",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "unsafe": {
                  "type": "boolean",
                  "description": "Is this domain suspected of being unsafe due to phishing, malware, spamming, or abusive behavior? View the confidence level by analyzing the \"risk_score\".",
                  "title": "Unsafe",
                  "enum": [
                    true,
                    false
                  ]
                },
                "domain": {
                  "type": "string",
                  "description": "Domain name of the final destination URL of the scanned link, after following all redirects.",
                  "title": "Domain"
                },
                "server": {
                  "type": "string",
                  "description": "The server banner of the domain's IP address. For example: \"nginx/1.16.0\". Value will be \"N/A\" if unavailable.",
                  "title": "Server"
                },
                "content_type": {
                  "type": "string",
                  "description": "MIME type of URL's content. For example \"text/html; charset=UTF-8\". Value will be \"N/A\" if unavailable.",
                  "title": "Content Type"
                },
                "status_code": {
                  "type": "integer",
                  "description": "HTTP Status Code of the URL's response. This value should be \"200\" for a valid website. Value is \"0\" if URL is unreachable.",
                  "title": "Status Code",
                  "format": "int32"
                },
                "page_size": {
                  "type": "integer",
                  "description": "Total number of bytes to download the URL's content. Value is \"0\" if URL is unreachable.",
                  "title": "Page Size",
                  "format": "int32"
                },
                "domain_rank": {
                  "type": "integer",
                  "description": "Estimated popularity rank of website globally. Value is \"0\" if the domain is unranked or has low traffic.",
                  "title": "Domain Rank",
                  "format": "int32"
                },
                "dns_valid": {
                  "type": "boolean",
                  "description": "The domain of the URL has valid DNS records.",
                  "title": "DNS Valid",
                  "enum": [
                    true,
                    false
                  ]
                },
                "parking": {
                  "type": "boolean",
                  "description": "Is the domain of this URL currently parked with a for sale notice?",
                  "title": "Parking",
                  "enum": [
                    true,
                    false
                  ]
                },
                "spamming": {
                  "type": "boolean",
                  "description": "Is the domain of this URL associated with email SPAM or abusive email addresses?",
                  "title": "Spamming",
                  "enum": [
                    true,
                    false
                  ]
                },
                "malware": {
                  "type": "boolean",
                  "description": "Is this URL associated with malware or viruses?",
                  "title": "Malware",
                  "enum": [
                    true,
                    false
                  ]
                },
                "phishing": {
                  "type": "boolean",
                  "description": "Is this URL associated with malicious phishing behavior?",
                  "title": "Phishing",
                  "enum": [
                    true,
                    false
                  ]
                },
                "suspicious": {
                  "type": "boolean",
                  "description": "Is this URL suspected of being malicious or used for phishing or abuse? Use in conjunction with the \"risk_score\" as a confidence level.",
                  "title": "Suspicious",
                  "enum": [
                    true,
                    false
                  ]
                },
                "adult": {
                  "type": "boolean",
                  "description": "Is this URL or domain hosting dating or adult content?",
                  "title": "Adult",
                  "enum": [
                    true,
                    false
                  ]
                },
                "risk_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The IPQS risk score which estimates the confidence level for malicious URL detection. Risk Scores 85+ are high risk, while Risk Scores = 100 are confirmed as accurate.",
                  "title": "Risk Score"
                },
                "category": {
                  "type": "string",
                  "description": "Website classification and category related to the content and industry of the site. Over 70 categories are available including \"Video Streaming\", \"Trackers\", \"Gaming\", \"Privacy\", \"Advertising\", \"Hacking\", \"Malicious\", \"Phishing\", etc. The value will be \"N/A\" if unknown.",
                  "title": "Category"
                },
                "domain_age": {
                  "type": "object",
                  "properties": {
                    "human": {
                      "type": "string",
                      "description": "A human description of when this domain was registered. (Ex: 3 months ago)",
                      "title": "Domain Age Human"
                    },
                    "timestamp": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unix time since epoch when this domain was first registered. (Ex: 1568061634)",
                      "title": "Domain Age Timestamp"
                    },
                    "iso": {
                      "type": "string",
                      "description": "The time this domain was registered in ISO8601 format (Ex: 2019-09-09T16:40:34-04:00)",
                      "title": "Domain Age ISO"
                    }
                  },
                  "description": "Domain Age"
                },
                "request_id": {
                  "type": "string",
                  "description": "A unique identifier for this request",
                  "title": "Request Id"
                }
              }
            }
          }
        },
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "Retrieve URL (or) Domain reputation data",
        "description": "Scans links and domains in real-time to detect suspicious URLs using trusted machine learning models. These machine learning models can accurately identify phishing links, malware URLs, viruses, parked domains, and suspicious URLs with real-time risk scores. In addition, the machine learning models can confidently classify poor reputation domains, suspicious links, and phishing URLs with a real-time API integration. Features such as parking domain detection, domain spam scores, reputation checks, and domain age, elevates URL intelligence to a whole new level.",
        "operationId": "URL_REPUTATION",
        "parameters": [
          {
            "name": "url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "URL (or) Domain you want to fetch reputation data.",
            "x-ms-summary": "URL (or) Domain"
          },
          {
            "name": "strictness",
            "in": "formData",
            "required": true,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "Strictness",
            "description": "How strict should we scan this URL? Stricter checks may provide a higher false-positive rate. We recommend defaulting to level \"0\", the lowest strictness setting, and increasing to \"1\" or \"2\" depending on your levels of abuse.",
            "format": "int32",
            "enum": [
              0,
              1,
              2
            ]
          },
          {
            "name": "fast",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Fast",
            "description": "When enabled, the API will provide quicker response times using lighter checks and analysis. This setting defaults to False.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/phone": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "A generic status message, either success or some form of an error notice.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Was the request successful?",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                },
                "formatted": {
                  "type": "string",
                  "description": "The phone number formatted in the international dialing code. N/A if not formattable.",
                  "title": "Formatted"
                },
                "local_format": {
                  "type": "string",
                  "description": "The phone number formatted in the country's local routing rules with area code. N/A if not formattable.",
                  "title": "Local Format"
                },
                "valid": {
                  "type": "boolean",
                  "description": "Is the phone number properly formatted and considered valid based on assigned phone numbers available to carriers in that country?",
                  "title": "Valid",
                  "enum": [
                    true,
                    false
                  ]
                },
                "fraud_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The IPQS risk score which estimates how likely a phone number is to be fraudulent. Scores 85+ are high risk.",
                  "title": "Fraud Score"
                },
                "recent_abuse": {
                  "type": "boolean",
                  "description": "Has this phone number been associated with recent or ongoing fraud?",
                  "title": "Recent Abuse",
                  "enum": [
                    true,
                    false
                  ]
                },
                "VOIP": {
                  "type": "boolean",
                  "description": "Is this phone number a Voice Over Internet Protocol (VOIP) or digital phone number?",
                  "title": "VOIP",
                  "enum": [
                    true,
                    false
                  ]
                },
                "prepaid": {
                  "type": "boolean",
                  "description": "Is this phone number associated with a prepaid service plan?",
                  "title": "Prepaid",
                  "enum": [
                    true,
                    false
                  ]
                },
                "risky": {
                  "type": "boolean",
                  "description": "Is this phone number associated with fraudulent activity, scams, robo calls, fake accounts, or other unfriendly behavior?",
                  "title": "Risky",
                  "enum": [
                    true,
                    false
                  ]
                },
                "active": {
                  "type": "boolean",
                  "description": "Is this phone number a live usable phone number that is currently active?",
                  "title": "Active",
                  "enum": [
                    true,
                    false
                  ]
                },
                "carrier": {
                  "type": "string",
                  "description": "The carrier (service provider) this phone number has been assigned to or \"N/A\" if unknown.",
                  "title": "Carrier"
                },
                "line_type": {
                  "type": "string",
                  "description": "The type of line this phone number is associated with (Toll Free, Mobile, Landline, Satellite, VOIP, Premium Rate, Pager, etc...) or \"N/A\" if unknown.",
                  "title": "Line Type"
                },
                "country": {
                  "type": "string",
                  "description": "The two character country code for this phone number.",
                  "title": "Country"
                },
                "city": {
                  "type": "string",
                  "description": "City of the phone number if available or \"N/A\" if unknown.",
                  "title": "City"
                },
                "zip_code": {
                  "type": "string",
                  "description": "Zip or Postal code of the phone number if available or \"N/A\" if unknown.",
                  "title": "Zip Code"
                },
                "region": {
                  "type": "string",
                  "description": "Region (state) of the phone number if available or \"N/A\" if unknown.",
                  "title": "Region"
                },
                "dialing_code": {
                  "type": "integer",
                  "description": "The 1 to 4 digit dialing code for this phone number or null if unknown.",
                  "title": "Dialing Code",
                  "format": "int32"
                },
                "request_id": {
                  "type": "string",
                  "description": "A unique identifier for this request",
                  "title": "Request Id"
                },
                "name": {
                  "type": "string",
                  "description": "The owner name of the phone number such as the first or last name or business name assigned to the phone number. Multiple names will be returned in comma separated format. Value is \"N/A\" if unknown.",
                  "title": "Name"
                },
                "timezone": {
                  "type": "string",
                  "description": "Timezone of the phone number if available or \"N/A\" if unknown.",
                  "title": "Timezone"
                },
                "do_not_call": {
                  "type": "boolean",
                  "description": "Indicates if the phone number is listed on any Do Not Call (DNC) lists. Only supported in US and CA. This data may not be 100% up to date with the latest DNC blacklists.",
                  "title": "Do Not Call",
                  "enum": [
                    true,
                    false
                  ]
                },
                "active_status": {
                  "type": "string",
                  "description": "Additional details on the status of the subscriber connection when enhanced active line checks are enabled. These values can be \"Active Line\", \"Disconnected Line\", \"Phone Turned Off\", \"Inconclusive Status\", or \"N/A\" if unknown.",
                  "title": "Active Status"
                }
              }
            }
          }
        },
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "Retrieve Phone Number reputation data",
        "description": "Accurately verify phone numbers worldwide and retrieve a combination of carrier and line type details with risk analysis data to assess phone number reputation. IPQS collects phone validation and verification data from a wide variety of carriers and tier 1 telecommunication providers, with support for all regions. Detect inactive and disconnected phone numbers for easy user validation similar to HLR & LRN lookups. Accurately identify virtual and disposable phone numbers along with numbers associated with abusive behavior online.",
        "operationId": "PHONE_REPUTATION",
        "parameters": [
          {
            "name": "phone",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-summary": "Phone Number",
            "description": "Phone Number you want to fetch reputation data."
          },
          {
            "name": "strictness",
            "in": "formData",
            "required": true,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "Strictness",
            "description": "How in depth (strict) do you want this reputation check to be? Stricter checks may provide a higher false-positive rate. We recommend starting at \"0\", the lowest strictness setting, and increasing to \"1\" or \"2\" depending on your levels of fraud.",
            "format": "int32",
            "enum": [
              0,
              1,
              2
            ]
          },
          {
            "name": "country",
            "in": "formData",
            "required": false,
            "type": "string",
            "x-ms-summary": "Country(For multiple countries, provide comma-separated values)",
            "description": "You can optionally provide us with the default country or countries(comma separated) this phone number is suspected to be associated with. Our system will prefer to use a country on this list for verification or will require a country to be specified in the event the phone number is less than 10 digits.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.ipqualityscore.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ipqualityscore.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "IPQS-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}

