{
  "swagger": "2.0",
  "info": {
    "title": "Default title",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_abstripe@gmail.com"
    },
    "description": "Abstract's IP Geolocation is a fast, lightweight, modern service for determining the location and other details of IP addresses from over 190 countries.",
    "version": "1.0"
  },
  "host": "ipgeolocation.abstractapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "ip_address": {
                  "type": "string",
                  "description": "The IP address submitted for geolocation.",
                  "title": "IP address"
                },
                "city": {
                  "type": "string",
                  "description": "City's name.",
                  "title": "City"
                },
                "city_geoname_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "City's geoname ID.",
                  "title": "City geo ID"
                },
                "region": {
                  "type": "string",
                  "description": "State or province in which the city is located.",
                  "title": "Region"
                },
                "region_iso_code": {
                  "type": "string",
                  "description": "State or province's ISO 3166-2 code.",
                  "title": "Region ISO Code"
                },
                "region_geoname_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "State or province's geoname ID.",
                  "title": "Region geo ID"
                },
                "postal_code": {
                  "type": "string",
                  "description": "ZIP or postal code.",
                  "title": "Postal code"
                },
                "country": {
                  "type": "string",
                  "description": "Country's name.",
                  "title": "Country"
                },
                "country_code": {
                  "type": "string",
                  "description": "Country's ISO 3166-1 alpha-2 code.",
                  "title": "Country code"
                },
                "country_geoname_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Country's geoname ID.",
                  "title": "Country geo ID"
                },
                "country_is_eu": {
                  "type": "boolean",
                  "description": "True if the country is in the EU, false if it is not.",
                  "title": "Is EU country"
                },
                "continent": {
                  "type": "string",
                  "description": "Continent's name.",
                  "title": "Continent"
                },
                "continent_code": {
                  "type": "string",
                  "description": "2 letter continent code: AF, AS, EU, NA, OC, SA, AN.",
                  "title": "Continent code"
                },
                "continent_geoname_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Continent's geoname ID.",
                  "title": "Continent geo ID"
                },
                "longitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Decimal of the longitude.",
                  "title": "Longitude"
                },
                "latitude": {
                  "type": "number",
                  "format": "float",
                  "description": "Decimal of the latitude.",
                  "title": "Latitude"
                },
                "security": {
                  "type": "object",
                  "properties": {
                    "is_vpn": {
                      "type": "boolean",
                      "description": "Whether the IP address is using from a VPN or using a proxy",
                      "title": "Is VPN"
                    }
                  },
                  "description": "Security details.",
                  "title": "Security"
                },
                "timezone": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Timezone\u2019s name from the IANA Time Zone Database.",
                      "title": "Name"
                    },
                    "abbreviation": {
                      "type": "string",
                      "description": "Timezone\u2019s abbreviation, also from the IANA Time Zone Database.",
                      "title": "Abbreviation"
                    },
                    "gmt_offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Timezone\u2019s offset from Greenwich Mean Time (GMT).",
                      "title": "GMT offset"
                    },
                    "current_time": {
                      "type": "string",
                      "description": "Current time in the local time zone.",
                      "title": "Current time"
                    },
                    "is_dst": {
                      "type": "boolean",
                      "description": "True if the location is currently in Daylight Savings Time (DST).",
                      "title": "Is DST"
                    }
                  },
                  "description": "Timezone details.",
                  "title": "Timezone"
                },
                "flag": {
                  "type": "object",
                  "properties": {
                    "emoji": {
                      "type": "string",
                      "description": "Country\u2019s flag as an emoji.",
                      "title": "Emoji"
                    },
                    "unicode": {
                      "type": "string",
                      "description": "Country\u2019s flag in unicode.",
                      "title": "Unicode"
                    },
                    "png": {
                      "type": "string",
                      "description": "Link to a hosted version of the country\u2019s flag in PNG format.",
                      "title": "PNG"
                    },
                    "svg": {
                      "type": "string",
                      "description": "Link to a hosted version of the country\u2019s flag in SVG format.",
                      "title": "SVG"
                    }
                  },
                  "description": "Flag details.",
                  "title": "Flag"
                },
                "currency": {
                  "type": "object",
                  "properties": {
                    "currency_name": {
                      "type": "string",
                      "description": "The currency\u2019s name.",
                      "title": "Name"
                    },
                    "currency_code": {
                      "type": "string",
                      "description": "The currency\u2019s code in ISO 4217 format.",
                      "title": "Code"
                    }
                  },
                  "description": "Currency details.",
                  "title": "Currency"
                },
                "connection": {
                  "type": "object",
                  "properties": {
                    "autonomous_system_number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Autonomous System number.",
                      "title": "System number"
                    },
                    "autonomous_system_organization": {
                      "type": "string",
                      "description": "Autonomous System Organization name.",
                      "title": "Autonomous System Organization"
                    },
                    "connection_type": {
                      "type": "string",
                      "description": "Type of network connection: Dialup, Cable/DSL, Cellular, Corporate.",
                      "title": "Type"
                    },
                    "isp_name": {
                      "type": "string",
                      "description": "Internet Service Provider (ISP) name.",
                      "title": "ISP name"
                    },
                    "organization_name": {
                      "type": "string",
                      "description": "Organization name.",
                      "title": "Organization"
                    }
                  },
                  "description": "Connection details.",
                  "title": "Connection"
                }
              }
            }
          }
        },
        "summary": "Analyze IP",
        "operationId": "Analyze",
        "description": "Analyze a specific IP address",
        "parameters": [
          {
            "name": "ip_address",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "IP address",
            "description": "The IP address to geolocate. Both IPv4 and IPv6 addresses are supported."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Fields",
            "description": "You can chose to only receive a few fields from the JSON response. To do so, you can include a fields value in the query parameters with a comma separated list of the top-level keys you want to be returned."
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.abstractapi.com/ip-geolocation"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.abstractapi.com/legal/dpa"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;IT Operations"
    }
  ]
}