{
  "swagger": "2.0",
  "info": {
    "title": "Open Experience",
    "description": "Open Experience GmbH provides innovative solutions for the digitization of construction work. With this connector your construction site documentation is one step further to be fully automated, saving you the time and resources.",
    "version": "1.0",
    "contact": {
      "name": "Open Experience Support",
      "url":"https://openexperience.de/de/hilfe/MS_Datenschnittstelle/MS_Power_Automation_Connector",
      "email":"support@openexperience.de"
    }
  },
  "host": "openexperience.de",
  "basePath": "/teamssync",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/connector/createProject": {
      "post": {
        "responses": {
          "201": {
            "description": "The project is created in the selected services"
          },
          "400": {
            "description": "Error response when request cannot be processed",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                }
              }
            }
          }
        },
        "summary": "Create new project",
        "operationId": "CreateNewProject",
        "parameters": [
          {
            "name": "Project Settings",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "customerId": {
                  "type": "string",
                  "description": "Customer, under which the project will be created",
                  "title": "Customer",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAvailableCustomers",
                    "value-path": "id",
                    "value-collection": "accounts",
                    "value-title": "label"
                  }
                },
                "id": {
                  "type": "string",
                  "description": "Project ID",
                  "title": "Project ID"
                },
                "name": {
                  "type": "string",
                  "description": "Project Name",
                  "title": "Project Name"
                },
                "address": {
                  "type": "string",
                  "description": "Address",
                  "title": "Address"
                },
                "contactPhone": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Contact Phone",
                  "title": "Contact Phone"
                },
                "contactEmail": {
                  "type": "string",
                  "description": "Contact Email",
                  "title": "Contact Email"
                },
                "responsible": {
                  "type": "string",
                  "description": "Responsible Person",
                  "title": "Responsible Person"
                },
                "services": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "Services",
                    "x-ms-dynamic-values": {
                      "operationId": "GetAvailableServices",
                      "value-path": "type",
                      "value-collection": "services",
                      "value-title": "serviceFullname"
                    },
                    "description": "Services in which project will be created"
                  },
                  "description": "services"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "projectAdminMembersAccess": {
                      "type": "boolean",
                      "description": "Set to \"Yes\" if you wan't to allow Project Administrators to be able to edit subcontractors in this project.",
                      "title": "Can Project Admin edit subcontractors?",
                      "enum": [
                        true,
                        false
                      ],
                      "default": false
                    }
                  },
                  "description": "settings",
                  "required": [
                    "projectAdminMembersAccess"
                  ]
                }
              },
              "required": [
                "customerId",
                "services",
                "contactEmail",
                "contactPhone",
                "name",
                "id",
                "responsible",
                "settings"
              ]
            }
          }
        ],
        "description": "Creates new project in Open Experience for selected services"
      }
    },
    "/connector/getUserCustomers": {
      "get": {
        "responses": {
          "200": {
            "description": "Customers available for current user",
            "schema": {
              "type": "object",
              "properties": {
                "accounts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "label": {
                        "type": "string",
                        "description": "label"
                      },
                      "sortindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "sortindex"
                      }
                    }
                  },
                  "description": "Array of available customers"
                }
              }
            }
          },
          "400": {
            "description": "Error response when request cannot be processed",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                }
              }
            }
          }
        },
        "summary": "Get Available Customers",
        "operationId": "GetAvailableCustomers",
        "x-ms-visibility": "internal",
        "parameters": [],
        "description": "Gets available customers for logged in user"
      }
    },
    "/connector/getUserServices": {
      "get": {
        "responses": {
          "200": {
            "description": "Services available for user",
            "schema": {
              "type": "object",
              "properties": {
                "services": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "serviceFullname": {
                        "type": "string",
                        "description": "Full name of the service"
                      }
                    }
                  },
                  "description": "Array of available services"
                }
              }
            }
          },
          "400": {
            "description": "Error response when request cannot be processed",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code"
                }
              }
            }
          }
        },
        "summary": "Get Available Services",
        "operationId": "GetAvailableServices",
        "parameters": [],
        "description": "Gets available services for logged in user",
        "x-ms-visibility": "internal"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://openexperience.de/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://openexperience.de/de/Datenschutzerklaerung"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://openexperience.de/myaccount/oauth/authorize",
      "tokenUrl": "https://openexperience.de/myaccount/oauth/token",
      "scopes": {
        "login": "login"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "login"
      ]
    }
  ],
  "tags": []
}