{
  "swagger": "2.0",
  "info": {
    "title": "Open Experience",
    "description": "This is an Open Experience connector, which enables you to integrate the Open Experience services with your flows",
    "version": "1.0",
    "contact": {
      "name": "Open Experience Support",
      "url":"https://openexperience.de/de/hilfe/MS_Datenschnittstelle/MS_Power_Automation_Connector",
      "email":"support@openexperience.de"
    }
  },
  "host": "openexperience.de",
  "basePath": "/teamssync",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/connector/createProject": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create new project",
        "operationId": "CreateNewProject",
        "parameters": [
          {
            "name": "Project Settings",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "customerId": {
                  "type": "string",
                  "description": "customerId",
                  "title": "Customer",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAvailableCustomers",
                    "value-path": "id",
                    "value-collection": "accounts",
                    "value-title": "label"
                  }
                },
                "id": {
                  "type": "string",
                  "description": "id",
                  "title": "Project ID"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Project Name"
                },
                "address": {
                  "type": "string",
                  "description": "address",
                  "title": "Address"
                },
                "contactPhone": {
                  "type": "integer",
                  "format": "int32",
                  "description": "contactPhone",
                  "title": "Contact Phone"
                },
                "contactEmail": {
                  "type": "string",
                  "description": "contactEmail",
                  "title": "Contact Email"
                },
                "responsible": {
                  "type": "string",
                  "description": "responsible",
                  "title": "Responsible Person"
                },
                "services": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "Services",
                    "x-ms-dynamic-values": {
                      "operationId": "GetAvailableServices",
                      "value-path": "type",
                      "value-collection": "services",
                      "value-title": "serviceFullname"
                    },
                    "description": "Services in which project will be created"
                  },
                  "description": "services"
                },
                "settings": {
                  "type": "object",
                  "properties": {
                    "projectAdminMembersAccess": {
                      "type": "boolean",
                      "description": "Set to \"Yes\" if you wan't to allow Project Administrators to be able to edit subcontractors in this project.",
                      "title": "Can Project Admin edit subcontractors?",
                      "enum": [
                        true,
                        false
                      ],
                      "default": false
                    }
                  },
                  "description": "settings",
                  "required": [
                    "projectAdminMembersAccess"
                  ]
                }
              },
              "required": [
                "customerId",
                "services",
                "contactEmail",
                "contactPhone",
                "name",
                "id",
                "responsible",
                "settings"
              ]
            }
          }
        ],
        "description":"Creates new project in Open Experience for selected services"
      }
    },
    "/connector/getUserCustomers": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "accounts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "label": {
                        "type": "string",
                        "description": "label"
                      },
                      "sortindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "sortindex"
                      }
                    }
                  },
                  "description": "accounts"
                }
              }
            }
          }
        },
        "summary": "Get Available Customers",
        "operationId": "GetAvailableCustomers",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/connector/getUserServices": {
      "get": {
        "responses": {
          "200": {
            "description": "defaul1t",
            "schema": {
              "type": "object",
              "properties": {
                "services": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "serviceFullname": {
                        "type": "string",
                        "description": "serviceFullname"
                      }
                    }
                  },
                  "description": "services"
                }
              }
            }
          }
        },
        "summary": "Get available services",
        "operationId": "GetAvailableServices",
        "parameters": [],
        "description": "test",
        "x-ms-visibility": "internal"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://openexperience.de/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://openexperience.de/de/Datenschutzerklaerung"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://openexperience.de/myaccount/oauth/authorize",
      "tokenUrl": "https://openexperience.de/myaccount/oauth/token",
      "scopes": {
        "login": "login"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "login"
      ]
    }
  ],
  "tags": []
}