{
  "swagger": "2.0",
  "info": {
    "title": "USAJOBS",
    "description": "USAJOBS.gov is the Federal Government's official job board, providing free access to thousands of job opportunities across hundreds of federal agencies and organizations. As the primary source for federal job listings, applications, and employment opportunity information, USAJOBS.gov offers a diverse range of positions to job seekers. With over 17 million users, it helps connect candidates with federal careers, ensuring fair and equal opportunity in the hiring process.",
    "version": "1.0.0",
    "contact": {
      "name": "Richard Wilson",
      "email": "richard.a.wilson@microsoft.com",
      "url": "https://www.richardawilson.com/"
    }
  },
  "host": "data.usajobs.gov",
  "basePath": "/api",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/search": {
      "get": {
        "summary": "Search for jobs",
        "description": "Search USAJOBS for job opportunity announcements.",
        "operationId": "SearchJobs",
        "parameters": [
          {
            "name": "Keyword",
            "in": "query",
            "description": "Search based on a keyword.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Keyword",
            "x-ms-visibility": "important"
          },
          {
            "name": "PositionTitle",
            "in": "query",
            "description": "Search for job announcements containing this title.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Position Title",
            "x-ms-visibility": "important"
          },
          {
            "name": "RemunerationMinimumAmount",
            "in": "query",
            "description": "Minimum salary for the job.",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Remuneration Minimum Amount",
            "minimum": 0,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "RemunerationMaximumAmount",
            "in": "query",
            "description": "Maximum salary for the job.",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Remuneration Maximum Amount",
            "minimum": 0,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "PayGradeHigh",
            "in": "query",
            "description": "Maximum pay grade for the job.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pay Grade High",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "PayGradeLow",
            "in": "query",
            "description": "Minimum pay grade for the job.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pay Grade Low",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "JobCategoryCode",
            "in": "query",
            "description": "Job category series code.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Job Category Code",
            "x-ms-dynamic-values": {
              "operationId": "SearchOccupationalSeries",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            },
            "x-ms-visibility": "advanced"
          },
          {
            "name": "RemoteIndicator",
            "in": "query",
            "description": "Indicates if the job is remote.",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Remote Indicator",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "LocationName",
            "in": "query",
            "description": "Location name for the job.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Location Name",
            "x-ms-dynamic-values": {
              "operationId": "SearchGeolocCodes",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            },
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Radius",
            "in": "query",
            "description": "Radius for location-based search.",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Radius",
            "minimum": 0,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "RelocationIndicator",
            "in": "query",
            "description": "Indicates if the job offers relocation.",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Relocation Indicator",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "TravelPercentage",
            "in": "query",
            "description": "Travel percentage for the job.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Travel Percentage",
            "x-ms-dynamic-values": {
              "operationId": "SearchTravelPercentages",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            },
            "x-ms-visibility": "advanced"
          },

          {
            "name": "Organization",
            "in": "query",
            "description": "Agency subelement code.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Organization",
            "x-ms-dynamic-values": {
              "operationId": "SearchAgencySubelements",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            },
            "x-ms-visibility": "advanced"
          },
          {
            "name": "PositionOfferingTypeCode",
            "in": "query",
            "description": "Position offering type code.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Position Offering Type Code",
            "x-ms-dynamic-values": {
              "operationId": "SearchPositionOfferingTypes",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            },
            "x-ms-visibility": "advanced"
          },

          {
            "name": "PositionScheduleTypeCode",
            "in": "query",
            "description": "Position schedule type code.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Position Schedule Type Code",
            "x-ms-dynamic-values": {
              "operationId": "SearchPositionScheduleTypes",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            },
            "x-ms-visibility": "advanced"
          },

          {
            "name": "SecurityClearanceRequired",
            "in": "query",
            "description": "Security clearance required for the job.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Security Clearance Required",
            "x-ms-dynamic-values": {
              "operationId": "SearchSecurityClearances",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            },
            "x-ms-visibility": "advanced"
          },
          {
            "name": "PositionSensitivity",
            "in": "query",
            "description": "Position sensitivity and risk level.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Position Sensitivity",
            "x-ms-visibility": "advanced",
            "enum": [
              "1",
              "2",
              "3",
              "4",
              "5",
              "6",
              "7"
            ],
            "x-ms-enum-values": [
              { "displayName": "1 - Non-sensitive (NS)/Low Risk", "value": "1" },
              { "displayName": "2 - Noncritical-Sensitive (NCS)/Moderate Risk", "value": "2" },
              { "displayName": "3 - Critical-Sensitive (CS)/High Risk", "value": "3" },
              { "displayName": "4 - Special-Sensitive (SS)/High Risk", "value": "4" },
              { "displayName": "5 - Moderate Risk (MR)", "value": "5" },
              { "displayName": "6 - High Risk (HR)", "value": "6" },
              { "displayName": "7 - NCS/High Risk", "value": "7" }
            ]
          },
          {
            "name": "SupervisoryStatus",
            "in": "query",
            "description": "Supervisory status of the job.",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Supervisory Status",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "DatePosted",
            "in": "query",
            "description": "Number of days since the job was posted.",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Days Posted",
            "minimum": 0,
            "maximum": 60,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "JobGradeCode",
            "in": "query",
            "description": "Grade code for the job.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Job Grade Code",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "SearchPayPlans",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            }
          },
          {
            "name": "WhoMayApply",
            "in": "query",
            "description": "Candidate designation for the job.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Who May Apply",
            "x-ms-dynamic-values": {
              "operationId": "SearchWhoMayApply",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            },
            "x-ms-visibility": "advanced"
          },
          {
            "name": "SalaryBucket",
            "in": "query",
            "description": "Salary range grouping.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Salary Bucket",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "GradeBucket",
            "in": "query",
            "description": "Grade level grouping.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Grade Bucket",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "HiringPath",
            "in": "query",
            "description": "Hiring paths for the job.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Hiring Path",
            "x-ms-dynamic-values": {
              "operationId": "SearchHiringPaths",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            },
            "x-ms-visibility": "advanced"
          },
          {
            "name": "MissionCriticalTags",
            "in": "query",
            "description": "Mission-critical tags for the job.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Mission Critical Tags",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "SearchMissionCriticalCodes",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            }
          },
          {
            "name": "PostingChannel",
            "in": "query",
            "description": "Posting channel for the job.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Posting Channel",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Fields",
            "in": "query",
            "description": "Level of detail in the job data.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Fields",
            "enum": ["Min", "Full"],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "SortField",
            "in": "query",
            "description": "Field to sort the results by.",
            "required": false,
            "type": "string",
            "enum": [
              "opendate",
              "closedate",
              "organizationname",
              "jobtitle",
              "positiontitle",
              "openingdate",
              "closingdate",
              "honame",
              "salarymin",
              "location",
              "department",
              "title",
              "agency",
              "salary"
            ],
            "x-ms-summary": "Sort Field",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Direction to sort the results.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sort Direction",
            "enum": ["asc", "desc"],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page number for the results.",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page",
            "minimum": 1,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "ResultsPerPage",
            "in": "query",
            "description": "Number of results per page, up to 500.",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Results Per Page",
            "minimum": 1,
            "maximum": 500,
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "properties": {
                "LanguageCode": {
                  "type": "string",
                  "title": "Language Code",
                  "description": "The response language code."
                },
                "SearchParameters": {
                  "type": "object",
                  "title": "Search Parameters",
                  "description": "The parameters used in the search request."
                },
                "SearchResult": {
                  "type": "object",
                  "title": "Search Result",
                  "description": "The search result object.",
                  "properties": {
                    "SearchResultCount": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Search Result Count",
                      "description": "Number of records returned in the response."
                    },
                    "SearchResultCountAll": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Search Result Count All",
                      "description": "Total number of records that matched the search criteria."
                    },
                    "SearchResultItems": {
                      "type": "array",
                      "title": "Search Result Items",
                      "description": "Array of job opportunity announcement objects that matched the search criteria.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "MatchedObjectId": {
                            "type": "string",
                            "title": "Matched Object Id",
                            "description": "Control number."
                          },
                          "MatchedObjectDescriptor": {
                            "type": "object",
                            "title": "Matched Object Descriptor",
                            "description": "Detailed description of the matched object.",
                            "properties": {
                              "PositionID": {
                                "type": "string",
                                "title": "Position ID",
                                "description": "Job announcement number."
                              },
                              "PositionTitle": {
                                "type": "string",
                                "title": "Position Title",
                                "description": "Title of the job offering."
                              },
                              "PositionURI": {
                                "type": "string",
                                "title": "Position URI",
                                "description": "URI to view the job offering."
                              },
                              "ApplyURI": {
                                "type": "array",
                                "title": "Apply URI",
                                "description": "URI to apply for the job offering.",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "PositionLocation": {
                                "type": "array",
                                "title": "Position Location",
                                "description": "Location details of the position.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "LocationName": {
                                      "type": "string",
                                      "title": "Location Name",
                                      "description": "Name of the location."
                                    },
                                    "CountryCode": {
                                      "type": "string",
                                      "title": "Country Code",
                                      "description": "Country code of the location."
                                    },
                                    "CountrySubDivisionCode": {
                                      "type": "string",
                                      "title": "Country Subdivision Code",
                                      "description": "Subdivision code of the country."
                                    },
                                    "CityName": {
                                      "type": "string",
                                      "title": "City Name",
                                      "description": "Name of the city."
                                    },
                                    "Longitude": {
                                      "type": "number",
                                      "format": "float",
                                      "title": "Longitude",
                                      "description": "Longitude of the location."
                                    },
                                    "Latitude": {
                                      "type": "number",
                                      "format": "float",
                                      "title": "Latitude",
                                      "description": "Latitude of the location."
                                    }
                                  }
                                }
                              },
                              "OrganizationName": {
                                "type": "string",
                                "title": "Organization Name",
                                "description": "Name of the organization or agency offering the position."
                              },
                              "DepartmentName": {
                                "type": "string",
                                "title": "Department Name",
                                "description": "Name of the department within the organization or agency offering the position."
                              },
                              "JobCategory": {
                                "type": "array",
                                "title": "Job Category",
                                "description": "List of job category objects.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Name": {
                                      "type": "string",
                                      "title": "Job Category Name",
                                      "description": "Name of the job category."
                                    },
                                    "Code": {
                                      "type": "string",
                                      "title": "Job Category Code",
                                      "description": "Code of the job category."
                                    }
                                  }
                                }
                              },
                              "JobGrade": {
                                "type": "array",
                                "title": "Job Grade",
                                "description": "List of job grade objects.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Code": {
                                      "type": "string",
                                      "title": "Job Grade Code",
                                      "description": "Code of the job grade."
                                    }
                                  }
                                }
                              },
                              "PositionSchedule": {
                                "type": "array",
                                "title": "Position Schedule",
                                "description": "List of position schedule objects.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Name": {
                                      "type": "string",
                                      "title": "Position Schedule Name",
                                      "description": "Name of the position schedule."
                                    },
                                    "Code": {
                                      "type": "string",
                                      "title": "Position Schedule Code",
                                      "description": "Code of the position schedule."
                                    }
                                  }
                                }
                              },
                              "PositionOfferingType": {
                                "type": "array",
                                "title": "Position Offering Type",
                                "description": "List of position offering type objects.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Name": {
                                      "type": "string",
                                      "title": "Position Offering Type Name",
                                      "description": "Name of the position offering type."
                                    },
                                    "Code": {
                                      "type": "string",
                                      "title": "Position Offering Type Code",
                                      "description": "Code of the position offering type."
                                    }
                                  }
                                }
                              },
                              "QualificationSummary": {
                                "type": "string",
                                "title": "Qualification Summary",
                                "description": "Summary of qualifications for the job offering."
                              },
                              "PositionRemuneration": {
                                "type": "array",
                                "title": "Position Remuneration",
                                "description": "List of position remuneration objects.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "MinimumRange": {
                                      "type": "string",
                                      "title": "Minimum Range",
                                      "description": "Minimum salary range."
                                    },
                                    "MaximumRange": {
                                      "type": "string",
                                      "title": "Maximum Range",
                                      "description": "Maximum salary range."
                                    },
                                    "RateIntervalCode": {
                                      "type": "string",
                                      "title": "Rate Interval Code",
                                      "description": "Rate interval code for the salary."
                                    },
                                    "Description": {
                                      "type": "string",
                                      "title": "Description",
                                      "description": "Description of the salary range."
                                    }
                                  }
                                }
                              },
                              "PositionStartDate": {
                                "type": "string",
                                "title": "Position Start Date",
                                "description": "The date the job opportunity will be open to applications."
                              },
                              "PositionEndDate": {
                                "type": "string",
                                "title": "Position End Date",
                                "description": "Last date the job opportunity will be posted."
                              },
                              "PublicationStartDate": {
                                "type": "string",
                                "title": "Publication Start Date",
                                "description": "Date the job opportunity is posted."
                              },
                              "ApplicationCloseDate": {
                                "type": "string",
                                "title": "Application Close Date",
                                "description": "Last date applications will be accepted for the job opportunity."
                              },
                              "PositionFormattedDescription": {
                                "type": "array",
                                "title": "Position Formatted Description",
                                "description": "List of objects providing a quick summary of the job opportunity.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "Content": {
                                      "type": "string",
                                      "title": "Content",
                                      "description": "Content of the description."
                                    },
                                    "Label": {
                                      "type": "string",
                                      "title": "Label",
                                      "description": "Label for the description."
                                    },
                                    "LabelDescription": {
                                      "type": "string",
                                      "title": "Label Description",
                                      "description": "Description of the label."
                                    }
                                  }
                                }
                              },
                              "UserArea": {
                                "type": "object",
                                "title": "User Area",
                                "description": "User-specific data.",
                                "properties": {
                                  "Details": {
                                    "type": "object",
                                    "title": "Details",
                                    "description": "Detailed information about the job.",
                                    "properties": {
                                      "MajorDuties": {
                                        "type": "array",
                                        "title": "Major Duties",
                                        "description": "Description of the duties of the job.",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "Education": {
                                        "type": "string",
                                        "title": "Education",
                                        "description": "Education required or preferred by applicants."
                                      },
                                      "Requirements": {
                                        "type": "string",
                                        "title": "Requirements",
                                        "description": "Key requirements of the job opportunity."
                                      },
                                      "Evaluations": {
                                        "type": "string",
                                        "title": "Evaluations",
                                        "description": "Qualification requirements of the job opportunity."
                                      },
                                      "HowToApply": {
                                        "type": "string",
                                        "title": "How To Apply",
                                        "description": "Description of the steps to take to apply for the job opportunity."
                                      },
                                      "WhatToExpectNext": {
                                        "type": "string",
                                        "title": "What To Expect Next",
                                        "description": "Description of what can be expected during the application process."
                                      },
                                      "RequiredDocuments": {
                                        "type": "string",
                                        "title": "Required Documents",
                                        "description": "Required documents when applying for the job opportunity."
                                      },
                                      "Benefits": {
                                        "type": "string",
                                        "title": "Benefits",
                                        "description": "Benefits being offered as part of the job opportunity."
                                      },
                                      "BenefitsUrl": {
                                        "type": "string",
                                        "title": "Benefits Url",
                                        "description": "URL to view benefit details being offered."
                                      },
                                      "OtherInformation": {
                                        "type": "string",
                                        "title": "Other Information",
                                        "description": "Additional information about the job opportunity."
                                      },
                                      "KeyRequirements": {
                                        "type": "array",
                                        "title": "Key Requirements",
                                        "description": "List of requirements for the job opportunity.",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "JobSummary": {
                                        "type": "string",
                                        "title": "Job Summary",
                                        "description": "Summary of the job opportunity."
                                      },
                                      "WhoMayApply": {
                                        "type": "object",
                                        "title": "Who May Apply",
                                        "description": "Object containing values for name and code of who may apply to the job opportunity.",
                                        "properties": {
                                          "Name": {
                                            "type": "string",
                                            "title": "Name",
                                            "description": "Name of the candidate designation."
                                          },
                                          "Code": {
                                            "type": "string",
                                            "title": "Code",
                                            "description": "Code of the candidate designation."
                                          }
                                        }
                                      },
                                      "LowGrade": {
                                        "type": "string",
                                        "title": "Low Grade",
                                        "description": "Lowest potential grade level for the job opportunity."
                                      },
                                      "HighGrade": {
                                        "type": "string",
                                        "title": "High Grade",
                                        "description": "Highest potential grade level for the job opportunity."
                                      },
                                      "SubAgencyName": {
                                        "type": "string",
                                        "title": "Sub Agency Name",
                                        "description": "Name of the sub agency."
                                      },
                                      "OrganizationCodes": {
                                        "type": "string",
                                        "title": "Organization Codes",
                                        "description": "Organization codes separated by a slash (/)."
                                      }
                                    }
                                  },
                                  "IsRadialSearch": {
                                    "type": "boolean",
                                    "title": "Is Radial Search",
                                    "description": "Indicates if a radial search was performed."
                                  }
                                }
                              }
                            }
                          },
                          "RelevanceRank": {
                            "type": "number",
                            "title": "Relevance Rank",
                            "description": "Relevance rank of the search result."
                          }
                        }
                      }
                    },
                    "UserArea": {
                      "type": "object",
                      "title": "User Area",
                      "description": "User-specific data.",
                      "properties": {
                        "NumberOfPages": {
                          "type": "string",
                          "title": "Number Of Pages",
                          "description": "Number of pages based on SearchResultCount divided by SearchResultCountAll."
                        },
                        "IsRadialSearch": {
                          "type": "boolean",
                          "title": "Is Radial Search",
                          "description": "Indicates if a radial search was performed."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/search/codelist/countries": {
      "get": {
        "summary": "Dynamic values for countries",
        "description": "Get dynamic values for countries and the corresponding country codes.",
        "operationId": "SearchCountries",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/occupationalseries": {
      "get": {
        "summary": "Dynamic values for occupational series",
        "description": "Get dynamic values for job categories and the corresponding job category codes.",
        "operationId": "SearchOccupationalSeries",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/geoloccodes": {
      "get": {
        "summary": "Dynamic values for geographical location codes",
        "description": "Get dynamic values for geographical location codes.",
        "operationId": "SearchGeolocCodes",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/locationexpansions": {
      "get": {
        "summary": "Dynamic values for location expansions",
        "description": "Get dynamic values for location expansions.",
        "operationId": "SearchLocationExpansions",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/agencysubelements": {
      "get": {
        "summary": "Dynamic values for agency subelements",
        "description": "Get dynamic values for agency subelement codes.",
        "operationId": "SearchAgencySubelements",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/positionofferingtypes": {
      "get": {
        "summary": "Dynamic values for position offering types",
        "description": "Get dynamic values for position offering type codes.",
        "operationId": "SearchPositionOfferingTypes",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/positionscheduletypes": {
      "get": {
        "summary": "Dynamic values for position schedule types",
        "description": "Get dynamic values for position schedule type codes.",
        "operationId": "SearchPositionScheduleTypes",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/securityclearances": {
      "get": {
        "summary": "Dynamic values for security clearances",
        "description": "Get dynamic values for security clearance codes.",
        "operationId": "SearchSecurityClearances",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/hiringpaths": {
      "get": {
        "summary": "Dynamic values for hiring paths",
        "description": "Get dynamic values for hiring path codes.",
        "operationId": "SearchHiringPaths",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/whomayapply": {
      "get": {
        "summary": "Dynamic values for who may apply",
        "description": "Get dynamic values for who may apply codes.",
        "operationId": "SearchWhoMayApply",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/travelpercentages": {
      "get": {
        "summary": "Dynamic values for travel percentages",
        "description": "Get dynamic values for travel percentage codes.",
        "operationId": "SearchTravelPercentages",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/missioncriticalcodes": {
      "get": {
        "summary": "Dynamic values for mission critical codes",
        "description": "Get dynamic values for mission critical codes.",
        "operationId": "SearchMissionCriticalCodes",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/search/codelist/payplans": {
      "get": {
        "summary": "Dynamic values for pay plans",
        "description": "Get dynamic values for pay plans.",
        "operationId": "SearchPayPlans",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/SearchCodelistResponse"
            }
          },
          "default": {
            "description": "Unknown error."
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/codelist/academichonors": {
      "get": {
        "summary": "List academic honors",
        "description": "Retrieve a list of academic honors values and corresponding codes.",
        "operationId": "ListAcademicHonors",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Academic Honors code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Academic Honors value."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the Academic Honors code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/academiclevels": {
      "get": {
        "summary": "List academic levels",
        "description": "Retrieve a list of academic levels values and corresponding codes.",
        "operationId": "ListAcademicLevels",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Academic Levels Interval code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Academic Levels Interval value."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the Academic Levels code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/actioncodes": {
      "get": {
        "summary": "List action codes",
        "description": "Retrieve a list of action codes values and corresponding codes.",
        "operationId": "ListActionCodes",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Action code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Action code value."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the action code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/agencysubelements": {
      "get": {
        "summary": "List agency subelements",
        "description": "Retrieve a list of agencies and corresponding organization codes.",
        "operationId": "ListAgencySubelements",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Organizational code used for searching by agency."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Agency name."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the agency code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/announcementclosingtypes": {
      "get": {
        "summary": "List announcement closing types",
        "description": "Retrieve a list of announcement closing type values and corresponding codes.",
        "operationId": "ListAnnouncementClosingTypes",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Announcement Closing Type code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Announcement Closing Type value."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the Announcement Closing Type code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/applicantsuppliers": {
      "get": {
        "summary": "List applicant suppliers",
        "description": "Retrieve a list of applicant suppliers values and corresponding codes.",
        "operationId": "ListApplicantSuppliers",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Applicant Suppliers code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Applicant Suppliers value."
                            },
                            "Group": {
                              "type": "string",
                              "title": "Group",
                              "description": "Group category of the applicant supplier."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the Applicant Suppliers code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/applicationstatuses": {
      "get": {
        "summary": "List application statuses",
        "description": "Retrieve a list of application status values and corresponding codes.",
        "operationId": "ListApplicationStatuses",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Application Status Interval code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Application Status Interval value."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the Application Status code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/countries": {
      "get": {
        "summary": "List countries",
        "description": "Retrieve a list of countries and corresponding codes.",
        "operationId": "ListCountries",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Country code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Country name."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the country code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/countrysubdivisions": {
      "get": {
        "summary": "List country subdivisions",
        "description": "Retrieve a list of states, provinces, or territories within countries.",
        "operationId": "ListCountrySubdivisions",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "description": "The 2 character Country Code. This is an optional field.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Country",
            "x-ms-dynamic-values": {
              "operationId": "SearchCountries",
              "value-collection": "results",
              "value-path": "Code",
              "value-title": "Value"
            }
          },
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Country subdivisions code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "State, province or territory name."
                            },
                            "ParentCode": {
                              "type": "string",
                              "title": "Parent Code",
                              "description": "Country code."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the country subdivisions code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/cyberworkgroupings": {
      "get": {
        "summary": "List cyber work groupings",
        "description": "Retrieve a list of cyber work grouping values and corresponding codes.",
        "operationId": "ListCyberWorkGroupings",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "integer",
                              "title": "Code",
                              "description": "Cyber Work Grouping code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Cyber Work Grouping value."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "boolean",
                              "title": "Is Disabled",
                              "description": "Indicates if the Cyber Work Grouping code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/cyberworkroles": {
      "get": {
        "summary": "List cyber work roles",
        "description": "Retrieve a list of cyber work role values and corresponding codes.",
        "operationId": "ListCyberWorkRoles",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "integer",
                              "title": "Code",
                              "description": "Cyber Work Role code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Cyber Work Role value."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "boolean",
                              "title": "Is Disabled",
                              "description": "Indicates if the Cyber Work Role code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/degreetypecodes": {
      "get": {
        "summary": "List degree type codes",
        "description": "Retrieve a list of degree type values and corresponding codes.",
        "operationId": "ListDegreeTypeCodes",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Degree Type code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Degree Type value."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the Degree Type code has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/disabilities": {
      "get": {
        "summary": "List disabilities",
        "description": "Retrieve a list of disability values and corresponding codes.",
        "operationId": "ListDisabilities",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Disability code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Disability value."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the Disability has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/documentations": {
      "get": {
        "summary": "List documentations",
        "description": "Retrieve a list of documentation values and corresponding codes.",
        "operationId": "ListDocumentations",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Documentation code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Documentation value."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the Documentation has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/documentformats": {
      "get": {
        "summary": "List document formats",
        "description": "Retrieve a list of document formats values and corresponding codes.",
        "operationId": "ListDocumentFormats",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "CodeList": {
                  "type": "array",
                  "title": "Code List",
                  "description": "List of code lists.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ValidValue": {
                        "type": "array",
                        "title": "Valid Value",
                        "description": "List of valid values.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "title": "Code",
                              "description": "Document format code."
                            },
                            "Value": {
                              "type": "string",
                              "title": "Value",
                              "description": "Document format value."
                            },
                            "LastModified": {
                              "type": "string",
                              "format": "date-time",
                              "title": "Last Modified",
                              "description": "Date value or code was last modified."
                            },
                            "IsDisabled": {
                              "type": "string",
                              "title": "Is Disabled",
                              "description": "Indicates if the Document Format has been disabled. Values are Yes or No."
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "title": "ID",
                        "description": "Identifier for the codelist."
                      }
                    }
                  }
                },
                "DateGenerated": {
                  "type": "string",
                  "format": "date-time",
                  "title": "Date Generated",
                  "description": "Date of the request."
                }
              }
            }
          },
          "default": {
            "description": "Unknown error"
          }
        }
      }
    },
    "/codelist/ethnicities": {
      "get": {
        "summary": "List ethnicities",
        "description": "Retrieve a list of ethnicity values and corresponding codes.",
        "operationId": "ListEthnicities",
        "parameters": [
          {
            "name": "lastmodified",
            "in": "query",
            "description": "Only return items modified on or after the date supplied. This is an optional field.",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Last Modified"
          }
        ],
        "responses": {
[...]
