{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "ITautomate",
    "description": "ITautomate is an online platform that allows you to automate a wide variety of IT operational tasks, saving your business time, money and resources. Issue saved commands such as PowerShell cmdlets on remote devices and parse the results to use in future actions.",
    "contact": {
      "name": "ITautomate Support",
      "url": "https://www.itautomate.io/contact-us/",
      "email": "support@itautomate.io"
    }
  },
  "host": "connectorapi.itautomate.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/RunCommand": {
      "post": {
        "tags": [
          "DynamicCommand"
        ],
        "summary": "Issue PowerShell Command",
        "description": "Issue a saved ITautomate PowerShell command to remote device(s)",
        "operationId": "RunCommand",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "description": "Issue a saved ITautomate PowerShell command to remote device(s)",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "id",
            "x-ms-dynamic-values": {
              "operationId": "ListAllCommands",
              "parameters": {},
              "value-collection": "Commands",
              "value-path": "Id",
              "value-title": "Name"
            }
          },
          {
            "name": "commandInput",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommandInputParameter"
            },
            "x-ms-summary": "CommandInputParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommandRunResultModel_X"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/CommandStatus": {
      "get": {
        "tags": [
          "DynamicCommand"
        ],
        "summary": "CommandStatus",
        "description": "Get the status of a command",
        "operationId": "CommandStatus",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommandRunResultModel_X"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/OutputFieldsSchema": {
      "get": {
        "tags": [
          "DynamicCommand"
        ],
        "summary": "OutputFieldsSchema",
        "operationId": "OutputFieldsSchema",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid commandId"
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/CommandInputParameterSchema": {
      "get": {
        "tags": [
          "DynamicCommand"
        ],
        "summary": "CommandInputParameterSchema",
        "operationId": "CommandInputParameterSchema",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid commandId"
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/ListAll": {
      "get": {
        "tags": [
          "DynamicCommand"
        ],
        "summary": "ListAllCommands",
        "operationId": "ListAllCommands",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CommandList"
            }
          },
          "default": {
            "description": "Error"
          }
        },
        "x-ms-visibility": "internal"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.itautomate.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.itautomate.io/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ],
  "definitions": {
    "CommandInputParameter": {
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "CommandInputParameterSchema",
        "parameters": {
          "id": {
            "parameter": "id"
          }
        },
        "value-path": "Schema"
      }
    },
    "CommandRunResultModel_X": {
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "OutputFieldsSchema",
        "parameters": {
          "id": {
            "parameter": "id"
          }
        },
        "value-path": "Schema"
      }
    },
    "CommandList": {
      "type": "object",
      "properties": {
        "Commands": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IdName"
          }
        }
      }
    },
    "IdName": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "int32",
          "description": "The Id of the command/object",
          "type": "integer",
          "x-ms-summary": "Id"
        },
        "Name": {
          "description": "The Name of the command/object",
          "type": "string",
          "x-ms-summary": "Name"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "description": "OAuth2",
      "flow": "accessCode",
      "authorizationUrl": "https://itautomateb2c.b2clogin.com/itautomateb2c.onmicrosoft.com/b2c_1a_signin/oauth2/v2.0/authorize",
      "tokenUrl": "https://itautomateb2c.b2clogin.com/itautomateb2c.onmicrosoft.com/b2c_1a_signin/oauth2/v2.0/token",
      "scopes": {
        "offline_access openid https://ITautomateB2C.onmicrosoft.com/connectorapi/access_as_connector": "offline_access openid https://ITautomateB2C.onmicrosoft.com/connectorapi/access_as_connector"
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "offline_access openid https://ITautomateB2C.onmicrosoft.com/connectorapi/access_as_connector"
      ]
    }
  ],
  "tags": []
}