{
  "swagger": "2.0",
  "info": {
    "title": "Mock Data Generator",
    "description": "Generates realistic mock data for Microsoft business applications including Dataverse, Business Central, Field Service, Project Operations, and Supply Chain Management.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "troy@troystaylor.com"
    }
  },
  "host": "troystaylor.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/GetDataverseAccounts": {
      "get": {
        "tags": [
          "Dataverse", 
          "Sales Process"
        ],
        "summary": "Create Dataverse Accounts",
        "description": "Generates mock account objects with realistic business data including contact information, addresses, and financial details. These accounts form the foundation for relationship chains - use the same seedValue when calling GetDataverseContacts to create realistic company structures.",
        "operationId": "GetDataverseAccounts",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of account records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock account data.",
            "schema": {
              "type": "object",
              "properties": {
                "accounts": {
                  "type": "array",
                  "description": "Array of generated account entities.",
                  "x-ms-summary": "Accounts",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of accounts returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseContacts": {
      "get": {
        "tags": [
          "Dataverse", 
          "Sales Process"
        ],
        "summary": "Create Dataverse Contacts",
        "description": "Generates mock contact objects with realistic personal and professional information including names, contact details, and job information. Contacts are automatically linked to a shared pool of Account IDs for consistent relationships. 💡 Workflow Tip: Call GetDataverseAccounts first, then use the same seedValue here for realistic company structures.",
        "operationId": "GetDataverseContacts",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of contact records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock contact data.",
            "schema": {
              "type": "object",
              "properties": {
                "contacts": {
                  "type": "array",
                  "description": "Array of generated contact entities.",
                  "x-ms-summary": "Contacts",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of contacts returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseLeads": {
      "get": {
        "tags": [
          "Dataverse"
        ],
        "summary": "Create Dataverse Leads",
        "description": "Generates mock lead objects with realistic prospect information including qualification status, source details, and contact preferences.",
        "operationId": "GetDataverseLeads",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of lead records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock lead data.",
            "schema": {
              "type": "object",
              "properties": {
                "leads": {
                  "type": "array",
                  "description": "Array of generated lead entities.",
                  "x-ms-summary": "Leads",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of leads returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseOpportunities": {
      "get": {
        "tags": [
          "Dataverse", 
          "Sales Process"
        ],
        "summary": "Create Dataverse Opportunities",
        "description": "Generates mock opportunity objects with realistic sales pipeline data including estimated values, close dates, and probability assessments. Opportunities link to the same Account pool for sales process continuity. 💡 Workflow Tip: Use consistent seedValue across Accounts→Contacts→Opportunities for complete sales scenarios.",
        "operationId": "GetDataverseOpportunities",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of opportunity records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock opportunity data.",
            "schema": {
              "type": "object",
              "properties": {
                "opportunities": {
                  "type": "array",
                  "description": "Array of generated opportunity entities.",
                  "x-ms-summary": "Opportunities",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of opportunities returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseCases": {
      "get": {
        "tags": [
          "Dataverse", 
          "Customer Service"
        ],
        "summary": "Create Dataverse Cases",
        "description": "Generates mock case objects with realistic support ticket information including priority levels, status tracking, and resolution details. Cases link to Accounts and Contacts for service continuity. 💡 Workflow Tip: Generate Accounts and Contacts first for complete customer service scenarios.",
        "operationId": "GetDataverseCases",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of case records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock case data.",
            "schema": {
              "type": "object",
              "properties": {
                "cases": {
                  "type": "array",
                  "description": "Array of generated case entities.",
                  "x-ms-summary": "Cases",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of cases returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseProducts": {
      "get": {
        "tags": [
          "Dataverse", 
          "Product Management"
        ],
        "summary": "Create Dataverse Products",
        "description": "Generates mock product objects with realistic catalog information including pricing, categories, and inventory details. Products form the foundation for Quotes and Orders. 💡 Workflow Tip: Generate Products first, then use same seedValue for Quotes→Orders to create realistic product transactions.",
        "operationId": "GetDataverseProducts",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of product records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock product data.",
            "schema": {
              "type": "object",
              "properties": {
                "products": {
                  "type": "array",
                  "description": "Array of generated product entities.",
                  "x-ms-summary": "Products",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of products returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseQuotes": {
      "get": {
        "tags": [
          "Dataverse", 
          "Product Management"
        ],
        "summary": "Create Dataverse Quotes",
        "description": "Generates mock quote objects with realistic pricing proposals including line items, discounts, and expiration dates.",
        "operationId": "GetDataverseQuotes",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of quote records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock quote data.",
            "schema": {
              "type": "object",
              "properties": {
                "quotes": {
                  "type": "array",
                  "description": "Array of generated quote entities.",
                  "x-ms-summary": "Quotes",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of quotes returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseOrders": {
      "get": {
        "tags": [
          "Dataverse", 
          "Product Management"
        ],
        "summary": "Create Dataverse Orders",
        "description": "Generates mock order objects with realistic sales transaction data including order items, shipping information, and payment status.",
        "operationId": "GetDataverseOrders",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of order records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock order data.",
            "schema": {
              "type": "object",
              "properties": {
                "orders": {
                  "type": "array",
                  "description": "Array of generated order entities.",
                  "x-ms-summary": "Orders",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of orders returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseCampaigns": {
      "get": {
        "tags": [
          "Dataverse"
        ],
        "summary": "Create Dataverse Campaigns",
        "description": "Generates mock campaign objects with realistic marketing initiative data including budgets, target audiences, and performance metrics.",
        "operationId": "GetDataverseCampaigns",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of campaign records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock campaign data.",
            "schema": {
              "type": "object",
              "properties": {
                "campaigns": {
                  "type": "array",
                  "description": "Array of generated campaign entities.",
                  "x-ms-summary": "Campaigns",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of campaigns returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseCompetitors": {
      "get": {
        "tags": [
          "Dataverse"
        ],
        "summary": "Create Dataverse Competitors",
        "description": "Generates mock competitor objects with realistic competitive intelligence including market position, strengths, and threat levels.",
        "operationId": "GetDataverseCompetitors",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of competitor records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock competitor data.",
            "schema": {
              "type": "object",
              "properties": {
                "competitors": {
                  "type": "array",
                  "description": "Array of generated competitor entities.",
                  "x-ms-summary": "Competitors",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of competitors returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseInvoices": {
      "get": {
        "tags": [
          "Dataverse"
        ],
        "summary": "Create Dataverse Invoices",
        "description": "Generates mock invoice objects with realistic billing information including line items, tax calculations, and payment terms.",
        "operationId": "GetDataverseInvoices",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of invoice records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock invoice data.",
            "schema": {
              "type": "object",
              "properties": {
                "invoices": {
                  "type": "array",
                  "description": "Array of generated invoice entities.",
                  "x-ms-summary": "Invoices",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of invoices returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseActivities": {
      "get": {
        "tags": [
          "Dataverse", 
          "Customer Service"
        ],
        "summary": "Create Dataverse Activities",
        "description": "Generates mock activity objects with realistic task and appointment data including schedules, participants, and completion status.",
        "operationId": "GetDataverseActivities",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of activity records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock activity data.",
            "schema": {
              "type": "object",
              "properties": {
                "activities": {
                  "type": "array",
                  "description": "Array of generated activity entities.",
                  "x-ms-summary": "Activities",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of activities returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseTeams": {
      "get": {
        "tags": [
          "Dataverse"
        ],
        "summary": "Create Dataverse Teams",
        "description": "Generates mock team objects with realistic organizational structure including team members, roles, and business units.",
        "operationId": "GetDataverseTeams",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of team records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock team data.",
            "schema": {
              "type": "object",
              "properties": {
                "teams": {
                  "type": "array",
                  "description": "Array of generated team entities.",
                  "x-ms-summary": "Teams",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of teams returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseTerritories": {
      "get": {
        "tags": [
          "Dataverse"
        ],
        "summary": "Create Dataverse Territories",
        "description": "Generates mock territory objects with realistic sales region data including geographic boundaries and assigned personnel.",
        "operationId": "GetDataverseTerritories",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of territory records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock territory data.",
            "schema": {
              "type": "object",
              "properties": {
                "territories": {
                  "type": "array",
                  "description": "Array of generated territory entities.",
                  "x-ms-summary": "Territories",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of territories returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseKnowledgeArticles": {
      "get": {
        "tags": [
          "Dataverse", 
          "Customer Service"
        ],
        "summary": "Create Dataverse Knowledge Articles",
        "description": "Generates mock knowledge article objects with realistic documentation including topics, content, and approval workflows.",
        "operationId": "GetDataverseKnowledgeArticles",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of knowledge article records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock knowledge article data.",
            "schema": {
              "type": "object",
              "properties": {
                "knowledgearticles": {
                  "type": "array",
                  "description": "Array of generated knowledge article entities.",
                  "x-ms-summary": "Knowledge Articles",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of knowledge articles returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetDataverseContracts": {
      "get": {
        "tags": [
          "Dataverse"
        ],
        "summary": "Create Dataverse Contracts",
        "description": "Generates mock contract objects with realistic agreement data including terms, durations, and renewal information.",
        "operationId": "GetDataverseContracts",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of contract records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock contract data.",
            "schema": {
              "type": "object",
              "properties": {
                "contracts": {
                  "type": "array",
                  "description": "Array of generated contract entities.",
                  "x-ms-summary": "Contracts",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of contracts returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralCustomers": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central Customers",
        "description": "Generates mock customer objects with realistic business information for ERP scenarios including payment terms and credit limits.",
        "operationId": "GetBusinessCentralCustomers",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of customer records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock customer data.",
            "schema": {
              "type": "object",
              "properties": {
                "customers": {
                  "type": "array",
                  "description": "Array of generated customer entities.",
                  "x-ms-summary": "Customers",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of customers returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralVendors": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central Vendors",
        "description": "Generates mock vendor objects with realistic supplier information including terms, contact details, and procurement data.",
        "operationId": "GetBusinessCentralVendors",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of vendor records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock vendor data.",
            "schema": {
              "type": "object",
              "properties": {
                "vendors": {
                  "type": "array",
                  "description": "Array of generated vendor entities.",
                  "x-ms-summary": "Vendors",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of vendors returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralItems": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central Items",
        "description": "Generates mock item objects with realistic inventory information including pricing, categories, and stock levels.",
        "operationId": "GetBusinessCentralItems",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of item records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock item data.",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "description": "Array of generated item entities.",
                  "x-ms-summary": "Items",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of items returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralGLAccounts": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central GL Accounts",
        "description": "Generates mock general ledger account objects with realistic chart of accounts structure including account types and balances.",
        "operationId": "GetBusinessCentralGLAccounts",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of GL account records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock GL account data.",
            "schema": {
              "type": "object",
              "properties": {
                "glAccounts": {
                  "type": "array",
                  "description": "Array of generated GL account entities.",
                  "x-ms-summary": "GL Accounts",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of GL accounts returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralSalesOrders": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central Sales Orders",
        "description": "Generates mock sales order objects with realistic transaction data including line items, pricing, and delivery information.",
        "operationId": "GetBusinessCentralSalesOrders",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of sales order records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock sales order data.",
            "schema": {
              "type": "object",
              "properties": {
                "salesOrders": {
                  "type": "array",
                  "description": "Array of generated sales order entities.",
                  "x-ms-summary": "Sales Orders",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of sales orders returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralPurchaseOrders": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central Purchase Orders",
        "description": "Generates mock purchase order objects with realistic procurement data including vendor information, line items, and delivery dates.",
        "operationId": "GetBusinessCentralPurchaseOrders",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of purchase order records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock purchase order data.",
            "schema": {
              "type": "object",
              "properties": {
                "purchaseOrders": {
                  "type": "array",
                  "description": "Array of generated purchase order entities.",
                  "x-ms-summary": "Purchase Orders",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of purchase orders returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralSalesInvoices": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central Sales Invoices",
        "description": "Generates mock sales invoice objects with realistic billing information including tax calculations, payment terms, and line details.",
        "operationId": "GetBusinessCentralSalesInvoices",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of sales invoice records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock sales invoice data.",
            "schema": {
              "type": "object",
              "properties": {
                "salesInvoices": {
                  "type": "array",
                  "description": "Array of generated sales invoice entities.",
                  "x-ms-summary": "Sales Invoices",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of sales invoices returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralPurchaseInvoices": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central Purchase Invoices",
        "description": "Generates mock purchase invoice objects with realistic vendor billing including payment processing, line items, and approval workflows.",
        "operationId": "GetBusinessCentralPurchaseInvoices",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of purchase invoice records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock purchase invoice data.",
            "schema": {
              "type": "object",
              "properties": {
                "purchaseInvoices": {
                  "type": "array",
                  "description": "Array of generated purchase invoice entities.",
                  "x-ms-summary": "Purchase Invoices",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of purchase invoices returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralEmployees": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central Employees",
        "description": "Generates mock employee objects with realistic workforce information including job titles, departments, and employment details.",
        "operationId": "GetBusinessCentralEmployees",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of employee records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock employee data.",
            "schema": {
              "type": "object",
              "properties": {
                "employees": {
                  "type": "array",
                  "description": "Array of generated employee entities.",
                  "x-ms-summary": "Employees",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of employees returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralLocations": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central Locations",
        "description": "Generates mock location objects with realistic warehouse and facility information including addresses and operational details.",
        "operationId": "GetBusinessCentralLocations",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of location records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock location data.",
            "schema": {
              "type": "object",
              "properties": {
                "locations": {
                  "type": "array",
                  "description": "Array of generated location entities.",
                  "x-ms-summary": "Locations",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of locations returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralJobs": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central Jobs",
        "description": "Generates mock job objects with realistic project management information including timelines, budgets, and resource allocation.",
        "operationId": "GetBusinessCentralJobs",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of job records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock job data.",
            "schema": {
              "type": "object",
              "properties": {
                "jobs": {
                  "type": "array",
                  "description": "Array of generated job entities.",
                  "x-ms-summary": "Jobs",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of jobs returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetBusinessCentralDimensions": {
      "get": {
        "tags": [
          "Business Central"
        ],
        "summary": "Create Business Central Dimensions",
        "description": "Generates mock dimension objects with realistic business intelligence structure including dimension values and hierarchies.",
        "operationId": "GetBusinessCentralDimensions",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of dimension records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock dimension data.",
            "schema": {
              "type": "object",
              "properties": {
                "dimensions": {
                  "type": "array",
                  "description": "Array of generated dimension entities.",
                  "x-ms-summary": "Dimensions",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of dimensions returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetFieldServiceWorkOrders": {
      "get": {
        "tags": [
          "Field Service"
        ],
        "summary": "Create Field Service Work Orders",
        "description": "Generates mock work order objects with realistic service management data including scheduling, technicians, and service details.",
        "operationId": "GetFieldServiceWorkOrders",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of work order records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock work order data.",
            "schema": {
              "type": "object",
              "properties": {
                "workOrders": {
                  "type": "array",
                  "description": "Array of generated work order entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of work orders returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetFieldServiceBookableResources": {
      "get": {
        "tags": [
          "Field Service"
        ],
        "summary": "Create Field Service Bookable Resources",
        "description": "Generates mock bookable resource objects with realistic technician and equipment information for scheduling and resource management.",
        "operationId": "GetFieldServiceBookableResources",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of bookable resource records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock bookable resource data.",
            "schema": {
              "type": "object",
              "properties": {
                "bookableResources": {
                  "type": "array",
                  "description": "Array of generated bookable resource entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of bookable resources returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetFieldServiceBookings": {
      "get": {
        "tags": [
          "Field Service"
        ],
        "summary": "Create Field Service Bookings",
        "description": "Generates mock booking objects with realistic appointment scheduling data including time slots, resources, and work orders.",
        "operationId": "GetFieldServiceBookings",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of booking records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock booking data.",
            "schema": {
              "type": "object",
              "properties": {
                "bookings": {
                  "type": "array",
                  "description": "Array of generated booking entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of bookings returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetFieldServiceCustomerAssets": {
      "get": {
        "tags": [
          "Field Service"
        ],
        "summary": "Create Field Service Customer Assets",
        "description": "Generates mock customer asset objects with realistic equipment and device information for maintenance and service tracking.",
        "operationId": "GetFieldServiceCustomerAssets",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of customer asset records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock customer asset data.",
            "schema": {
              "type": "object",
              "properties": {
                "customerAssets": {
                  "type": "array",
                  "description": "Array of generated customer asset entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of customer assets returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetFieldServiceServiceTaskTypes": {
      "get": {
        "tags": [
          "Field Service"
        ],
        "summary": "Create Field Service Service Task Types",
        "description": "Generates mock service task type objects with realistic service procedure templates and standardized task definitions.",
        "operationId": "GetFieldServiceServiceTaskTypes",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of service task type records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock service task type data.",
            "schema": {
              "type": "object",
              "properties": {
                "serviceTaskTypes": {
                  "type": "array",
                  "description": "Array of generated service task type entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of service task types returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetFieldServiceInventoryTransfers": {
      "get": {
        "tags": [
          "Field Service"
        ],
        "summary": "Create Field Service Inventory Transfers",
        "description": "Generates mock inventory transfer objects with realistic parts movement data between warehouses and field technicians.",
        "operationId": "GetFieldServiceInventoryTransfers",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of inventory transfer records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock inventory transfer data.",
            "schema": {
              "type": "object",
              "properties": {
                "inventoryTransfers": {
                  "type": "array",
                  "description": "Array of generated inventory transfer entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of inventory transfers returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetFieldServiceResourceTerritories": {
      "get": {
        "tags": [
          "Field Service"
        ],
        "summary": "Create Field Service Resource Territories",
        "description": "Generates mock resource territory objects with realistic geographic coverage areas and technician assignments.",
        "operationId": "GetFieldServiceResourceTerritories",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of resource territory records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock resource territory data.",
            "schema": {
              "type": "object",
              "properties": {
                "resourceTerritories": {
                  "type": "array",
                  "description": "Array of generated resource territory entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of resource territories returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetFieldServicePurchaseOrderProducts": {
      "get": {
        "tags": [
          "Field Service"
        ],
        "summary": "Create Field Service Purchase Order Products",
        "description": "Generates mock purchase order product objects with realistic parts procurement data for field service operations.",
        "operationId": "GetFieldServicePurchaseOrderProducts",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of purchase order product records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock purchase order product data.",
            "schema": {
              "type": "object",
              "properties": {
                "purchaseOrderProducts": {
                  "type": "array",
                  "description": "Array of generated purchase order product entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of purchase order products returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetFieldServiceRMAs": {
      "get": {
        "tags": [
          "Field Service"
        ],
        "summary": "Create Field Service RMAs",
        "description": "Generates mock return merchandise authorization objects with realistic product return and warranty processing information.",
        "operationId": "GetFieldServiceRMAs",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of RMA records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock RMA data.",
            "schema": {
              "type": "object",
              "properties": {
                "rmas": {
                  "type": "array",
                  "description": "Array of generated RMA entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of RMAs returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetFieldServiceTimeOffRequests": {
      "get": {
        "tags": [
          "Field Service"
        ],
        "summary": "Create Field Service Time Off Requests",
        "description": "Generates mock time off request objects with realistic technician availability and scheduling information.",
        "operationId": "GetFieldServiceTimeOffRequests",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of time off request records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock time off request data.",
            "schema": {
              "type": "object",
              "properties": {
                "timeOffRequests": {
                  "type": "array",
                  "description": "Array of generated time off request entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of time off requests returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetProjectOperationsProjects": {
      "get": {
        "tags": [
          "Project Operations"
        ],
        "summary": "Create Project Operations Projects",
        "description": "Generates mock project objects with realistic project management data including timelines, budgets, and resource requirements.",
        "operationId": "GetProjectOperationsProjects",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of project records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock project data.",
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "array",
                  "description": "Array of generated project entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of projects returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetProjectOperationsProjectTasks": {
      "get": {
        "tags": [
          "Project Operations"
        ],
        "summary": "Create Project Operations Project Tasks",
        "description": "Generates mock project task objects with realistic work breakdown structure and task dependency information.",
        "operationId": "GetProjectOperationsProjectTasks",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of project task records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock project task data.",
            "schema": {
              "type": "object",
              "properties": {
                "projectTasks": {
                  "type": "array",
                  "description": "Array of generated project task entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of project tasks returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetProjectOperationsTimeEntries": {
      "get": {
        "tags": [
          "Project Operations"
        ],
        "summary": "Create Project Operations Time Entries",
        "description": "Generates mock time entry objects with realistic timesheet data for project resource tracking and billing.",
        "operationId": "GetProjectOperationsTimeEntries",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of time entry records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock time entry data.",
            "schema": {
              "type": "object",
              "properties": {
                "timeEntries": {
                  "type": "array",
                  "description": "Array of generated time entry entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of time entries returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetProjectOperationsExpenseEntries": {
      "get": {
        "tags": [
          "Project Operations"
        ],
        "summary": "Create Project Operations Expense Entries",
        "description": "Generates mock expense entry objects with realistic project cost tracking and reimbursement information.",
        "operationId": "GetProjectOperationsExpenseEntries",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of expense entry records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock expense entry data.",
            "schema": {
              "type": "object",
              "properties": {
                "expenseEntries": {
                  "type": "array",
                  "description": "Array of generated expense entry entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of expense entries returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetProjectOperationsResourceAssignments": {
      "get": {
        "tags": [
          "Project Operations"
        ],
        "summary": "Create Project Operations Resource Assignments",
        "description": "Generates mock resource assignment objects with realistic project staffing and allocation information.",
        "operationId": "GetProjectOperationsResourceAssignments",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of resource assignment records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock resource assignment data.",
            "schema": {
              "type": "object",
              "properties": {
                "resourceAssignments": {
                  "type": "array",
                  "description": "Array of generated resource assignment entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of resource assignments returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetProjectOperationsProjectContracts": {
      "get": {
        "tags": [
          "Project Operations"
        ],
        "summary": "Create Project Operations Project Contracts",
        "description": "Generates mock project contract objects with realistic contractual terms and billing arrangements.",
        "operationId": "GetProjectOperationsProjectContracts",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of project contract records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock project contract data.",
            "schema": {
              "type": "object",
              "properties": {
                "projectContracts": {
                  "type": "array",
                  "description": "Array of generated project contract entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of project contracts returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetProjectOperationsProjectInvoices": {
      "get": {
        "tags": [
          "Project Operations"
        ],
        "summary": "Create Project Operations Project Invoices",
        "description": "Generates mock project invoice objects with realistic billing data and invoice line items for project billing.",
        "operationId": "GetProjectOperationsProjectInvoices",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of project invoice records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock project invoice data.",
            "schema": {
              "type": "object",
              "properties": {
                "projectInvoices": {
                  "type": "array",
                  "description": "Array of generated project invoice entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of project invoices returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetProjectOperationsResourceRequirements": {
      "get": {
        "tags": [
          "Project Operations"
        ],
        "summary": "Create Project Operations Resource Requirements",
        "description": "Generates mock resource requirement objects with realistic skill requirements and resource planning information.",
        "operationId": "GetProjectOperationsResourceRequirements",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of resource requirement records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock resource requirement data.",
            "schema": {
              "type": "object",
              "properties": {
                "resourceRequirements": {
                  "type": "array",
                  "description": "Array of generated resource requirement entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of resource requirements returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetProjectOperationsProjectTeams": {
      "get": {
        "tags": [
          "Project Operations"
        ],
        "summary": "Create Project Operations Project Teams",
        "description": "Generates mock project team objects with realistic team composition and role assignment information.",
        "operationId": "GetProjectOperationsProjectTeams",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of project team records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock project team data.",
            "schema": {
              "type": "object",
              "properties": {
                "projectTeams": {
                  "type": "array",
                  "description": "Array of generated project team entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of project teams returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetProjectOperationsProjectEstimates": {
      "get": {
        "tags": [
          "Project Operations"
        ],
        "summary": "Create Project Operations Project Estimates",
        "description": "Generates mock project estimate objects with realistic cost projections and effort estimation data.",
        "operationId": "GetProjectOperationsProjectEstimates",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of project estimate records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock project estimate data.",
            "schema": {
              "type": "object",
              "properties": {
                "projectEstimates": {
                  "type": "array",
                  "description": "Array of generated project estimate entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of project estimates returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetSupplyChainWarehouses": {
      "get": {
        "tags": [
          "Supply Chain"
        ],
        "summary": "Create Supply Chain Warehouses",
        "description": "Generates mock warehouse objects with realistic storage facility data including locations, capacities, and inventory zones.",
        "operationId": "GetSupplyChainWarehouses",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of warehouse records to generate (between 1 and 100)."
          },
          {
            "name": "seedValue",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12345,
            "minimum": 1,
            "maximum": 999999,
            "x-ms-summary": "Data Consistency Key",
            "description": "Use the same number (e.g., 12345) across multiple API calls to generate related records that reference each other. Different numbers create different relationship patterns. Recommended ranges: 1-9999 (small datasets), 10000-99999 (medium), 100000-999999 (large)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock warehouse data.",
            "schema": {
              "type": "object",
              "properties": {
                "warehouses": {
                  "type": "array",
                  "description": "Array of generated warehouse entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of warehouses returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetSupplyChainInventoryItems": {
      "get": {
        "tags": [
          "Supply Chain"
        ],
        "summary": "Create Supply Chain Inventory Items",
        "description": "Generates mock inventory item objects with realistic product catalog data including SKUs, quantities, and valuation.",
        "operationId": "GetSupplyChainInventoryItems",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of inventory item records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock inventory item data.",
            "schema": {
              "type": "object",
              "properties": {
                "inventoryItems": {
                  "type": "array",
                  "description": "Array of generated inventory item entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of inventory items returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetSupplyChainPurchaseRequisitions": {
      "get": {
        "tags": [
          "Supply Chain"
        ],
        "summary": "Create Supply Chain Purchase Requisitions",
        "description": "Generates mock purchase requisition objects with realistic procurement request data including approvals and specifications.",
        "operationId": "GetSupplyChainPurchaseRequisitions",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of purchase requisition records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock purchase requisition data.",
            "schema": {
              "type": "object",
              "properties": {
                "purchaseRequisitions": {
                  "type": "array",
                  "description": "Array of generated purchase requisition entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of purchase requisitions returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetSupplyChainProductionOrders": {
      "get": {
        "tags": [
          "Supply Chain"
        ],
        "summary": "Create Supply Chain Production Orders",
        "description": "Generates mock production order objects with realistic manufacturing workflow data including scheduling and resource allocation.",
        "operationId": "GetSupplyChainProductionOrders",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of production order records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated mock production order data.",
            "schema": {
              "type": "object",
              "properties": {
                "productionOrders": {
                  "type": "array",
                  "description": "Array of generated production order entities.",
                  "items": {
                    "type": "object"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Total number of production orders returned.",
                  "x-ms-summary": "Total Count"
                }
              }
            }
          }
        }
      }
    },
    "/GetSupplyChainBillsOfMaterials": {
      "get": {
        "tags": [
          "Supply Chain"
        ],
        "summary": "Create Supply Chain Bills Of Materials",
        "description": "Generates mock bill of materials objects with realistic product composition and manufacturing recipe information.",
        "operationId": "GetSupplyChainBillsOfMaterials",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-summary": "Record Count",
            "description": "Number of bill of materials records to generate (between 1 and 100)."
          }
        ],
        "responses": {
          "200": {
[...]
