{
  "swagger": "2.0",
  "info": {
    "title": "Advanced Scraper",
    "description": "An advanced web scraper API with rotating IPs from 170+ countries.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.apilayer.com",
  "basePath": "/adv_scraper",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/scraper": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data-selector": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Data Selector",
                  "description": "The data selected."
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string",
                      "title": "Country",
                      "description": "The country requested."
                    },
                    "render": {
                      "type": "boolean",
                      "title": "Render",
                      "description": "Whether rendered."
                    },
                    "selector": {
                      "type": "string",
                      "title": "Selector",
                      "description": "The selector requested."
                    },
                    "timeout": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Timeout",
                      "description": "The timeout requested."
                    }
                  },
                  "title": "Options"
                },
                "page_title": {
                  "type": "string",
                  "title": "Page Title",
                  "description": "The page title."
                },
                "result_url": {
                  "type": "string",
                  "title": "Result URL",
                  "description": "The result URL address."
                },
                "url": {
                  "type": "string",
                  "title": "URL",
                  "description": "The URL address requested."
                }
              }
            }
          }
        },
        "summary": "Scrape a remote URL",
        "description": "Scrape a remote URL, with optional request from country, render, CSS selector, and timeout.",
        "operationId": "Scrape",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "x-ms-summary": "URL",
            "description": "The URL address to scrape.",
            "required": true,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "x-ms-summary": "Country",
            "description": "An optional 2 character country code if you wish to scrape from an IP address of a specific country.",
            "required": false,
            "type": "string"
          },
          {
            "name": "render",
            "in": "query",
            "x-ms-summary": "Render",
            "description": "A boolean whether to render the remote page. If you wish to scrape images, JSON files, PDF files or XML feeds, you need to set this to false.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "selector",
            "in": "query",
            "x-ms-summary": "Selector",
            "description": "A CSS selector. Ex: a.navbar-brand.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeout",
            "in": "query",
            "x-ms-summary": "Timeout",
            "description": "A timeout in seconds before the scraper returns a result. Min value: 5, max: 45.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data-selector": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Data Selector",
                  "description": "The data selected."
                },
                "options": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string",
                      "description": "The country requested.",
                      "title": "Country"
                    },
                    "render": {
                      "type": "boolean",
                      "description": "Whether rendered.",
                      "title": "Render"
                    },
                    "selector": {
                      "type": "string",
                      "description": "The selector requested.",
                      "title": "Selector"
                    },
                    "timeout": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The timeout requested.",
                      "title": "Timeout"
                    }
                  },
                  "title": "Options"
                },
                "page_title": {
                  "type": "string",
                  "description": "The title of the page.",
                  "title": "Page Title"
                },
                "request_headers": {
                  "type": "object",
                  "properties": {
                    "Referer": {
                      "type": "string",
                      "description": "The referer.",
                      "title": "Referer"
                    }
                  },
                  "title": "Request Headers"
                },
                "result_url": {
                  "type": "string",
                  "title": "The result URL address.",
                  "description": "Result URL"
                },
                "url": {
                  "type": "string",
                  "title": "The URL address requested.",
                  "description": "URL"
                }
              }
            }
          }
        },
        "summary": "Scrape a form page",
        "description": "Scrape a remote page containing a HTML form.",
        "operationId": "ScrapeForm",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "x-ms-summary": "URL",
            "description": "The URL address to scrape.",
            "required": true,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "x-ms-summary": "Country",
            "description": "An optional 2 character country code if you wish to scrape from an IP address of a specific country.",
            "required": false,
            "type": "string"
          },
          {
            "name": "render",
            "in": "query",
            "x-ms-summary": "Render",
            "description": "A boolean whether to render the remote page. If you wish to scrape images, JSON files, PDF files or XML feeds, you need to set this to false.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "selector",
            "in": "query",
            "x-ms-summary": "Selector",
            "description": "A CSS selector. Ex: a.navbar-brand.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeout",
            "in": "query",
            "x-ms-summary": "Timeout",
            "description": "A timeout in seconds before the scraper returns a result. Min value: 5, max: 45.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Body",
            "description": "The form entries."
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apilayer.com/marketplace/description/adv_scraper-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ideracorp.com/Legal/APILayer/PrivacyStatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ]
}