{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Oneflow",
    "description": "Be more effective with truly digital contracts that make work faster, and life easier. Automate your contract management process with Oneflow",
    "contact": {
      "name": "Oneflow AB",
      "url": "https://support.oneflow.com/",
      "email": "support@oneflow.com"
    }
  },
  "host": "api.oneflow.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-oneflow-api-token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "paths": {
    "/webhooks": {
      "x-ms-notification-content": {
        "description": "Webhook event sent by Oneflow.",
        "schema": {
          "$ref": "#/definitions/Webhook_Event"
        }
      },
      "post": {
        "security": [
          {
            "API Key": []
          }
        ],
        "summary": "When a contract is updated",
        "description": "Register a webhook for a specified contract update event",
        "operationId": "webhookRegister",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callback_url": {
                  "type": "string",
                  "description": "callback_url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "filters": {
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Update type",
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Select event that will trigger this flow.",
                    "enum": [
                      "contract:publish",
                      "contract:sign",
                      "contract:delete",
                      "contract:decline",
                      "participant:first_visit",
                      "participant:sign",
                      "participant:create",
                      "participant:decline",
                      "participant:delete",
                      "data_field:update",
                      "contract:signing_period_expire",
                      "contract:signing_period_revive",
                      "contract:signature_reset"
                    ]
                  }
                },
                "template_group_id": {
                  "type": "integer",
                  "format": "int32",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTemplateTypes",
                    "value-collection": "data",
                    "value-path": "id",
                    "value-title": "name"
                  },
                  "x-ms-summary": "Template Group Id",
                  "description": "(Optional) Filter contracts by a template group."
                }
              },
              "required": [
                "callback_url",
                "filters"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "delete": {
        "x-ms-visibility": "internal",
        "summary": "Delete Trigger",
        "description": "Deletes Webhook",
        "operationId": "DeleteTrigger",
        "security": [
          {
            "API Key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "ID of the Webhook being deleted",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string"
          }
        ]
      }
    },
    "/contracts/parties/create": {
      "post": {
        "summary": "Add Participant",
        "description": "Add participant to the contract",
        "operationId": "PartyCreate",
        "parameters": [
          {
            "name": "contract_id",
            "in": "header",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id",
            "description": "Contract Id"
          },
          {
            "name": "x-oneflow-user-email-override",
            "x-ms-visibility": "advanced",
            "default": "Contract creator",
            "type": "string",
            "in": "header",
            "x-ms-summary": "Add As",
            "description": "Select user to execute this action as, or enter a custom email",
            "x-ms-dynamic-values": {
              "operationId": "GetExecuteAs",
              "value-collection": "data",
              "value-path": "value",
              "value-title": "key"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetExecuteAs",
              "itemsPath": "data",
              "itemValuePath": "value",
              "itemTitlePath": "name"
            }
          },
          {
            "name": "participant_type",
            "in": "header",
            "type": "string",
            "description": "Individual/Company",
            "required": true,
            "x-ms-summary": "Participant Type",
            "enum": [
              "Individual",
              "Company",
              "Ownerside"
            ],
            "default": "Company"
          },
          {
            "name": "signing_order",
            "in": "header",
            "type": "number",
            "description": "Sign order of participant",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Signing order"
          },
          {
            "name": "party",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchema",
                "parameters": {
                  "schema_id": {
                    "parameter": "participant_type"
                  }
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/files": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "Upload attachments",
        "description": "Add attachment or a  PDF document to a contract.",
        "operationId": "UploadAttachments",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id",
            "description": "Contract Id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "multipart/form-data",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "file",
            "required": true,
            "in": "formData",
            "type": "file",
            "format": "binary",
            "description": "File to upload. File name should be in file.ext format",
            "x-ms-summary": "File"
          },
          {
            "name": "upload_as",
            "x-ms-summary": "Upload As",
            "in": "formData",
            "type": "string",
            "enum": [
              "attachment",
              "expanded_pdf"
            ],
            "description": "select type of attachment to upload"
          },
          {
            "name": "x-oneflow-user-email-override",
            "x-ms-visibility": "advanced",
            "default": "Contract creator",
            "type": "string",
            "in": "header",
            "x-ms-summary": "Execute As",
            "description": "Select user to execute this action as, or enter a custom email",
            "x-ms-dynamic-values": {
              "operationId": "GetExecuteAs",
              "value-collection": "data",
              "value-path": "value",
              "value-title": "key"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetExecuteAs",
              "itemsPath": "data",
              "itemValuePath": "value",
              "itemTitlePath": "name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/files/{file_id}": {
      "get": {
        "summary": "Download a contract file",
        "description": "Retrieve a specific contract file by its ID.",
        "operationId": "GetAContractFileById",
        "parameters": [
          {
            "name": "download",
            "default": "true",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-oneflow-user-email-override",
            "x-ms-visibility": "advanced",
            "default": "Contract creator",
            "type": "string",
            "in": "header",
            "x-ms-summary": "Download As",
            "description": "Select user to execute this action as, or enter a custom email",
            "x-ms-dynamic-values": {
              "operationId": "GetExecuteAs",
              "value-collection": "data",
              "value-path": "value",
              "value-title": "key"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetExecuteAs",
              "itemsPath": "data",
              "itemValuePath": "value",
              "itemTitlePath": "name"
            }
          },
          {
            "name": "Accept",
            "default": "binary/octet-stream",
            "in": "header",
            "type": "string",
            "x-ms-visibility": "internal",
            "required": true
          },
          {
            "name": "contract_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id",
            "description": "Contract Id"
          },
          {
            "name": "file_id",
            "x-ms-summary": "File Id",
            "in": "path",
            "type": "string",
            "required": true,
            "enum": [
              "1",
              "2"
            ],
            "description": "Type of file: * 1 - Contract PDF * 2 - Verification",
            "x-ms-enum": {
              "name": "file_id",
              "modelAsString": false,
              "values": [
                {
                  "name": "Contract PDF",
                  "value": "1"
                },
                {
                  "name": "Verification",
                  "value": "2"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "x-ms-summary": "File Content",
              "type": "string",
              "format": "binary"
            }
          },
          "302": {
            "description": "Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/data_fields/c::{data_field_id}": {
      "put": {
        "summary": "Update a datafield",
        "description": "Update a datafield in the specific contract by its ID.",
        "operationId": "UpdateDataField",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id",
            "description": "Contract Id"
          },
          {
            "name": "data_field_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Custom Id",
            "description": "Custom id (external key) of the datafield."
          },
          {
            "name": "x-oneflow-user-email-override",
            "x-ms-visibility": "advanced",
            "default": "Contract creator",
            "type": "string",
            "in": "header",
            "x-ms-summary": "Update As",
            "description": "Select user to execute this action as, or enter a custom email",
            "x-ms-dynamic-values": {
              "operationId": "GetExecuteAs",
              "value-collection": "data",
              "value-path": "value",
              "value-title": "key"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetExecuteAs",
              "itemsPath": "data",
              "itemValuePath": "value",
              "itemTitlePath": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Datafield_for_update"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Datafield"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/": {
      "get": {
        "summary": "Get contract details",
        "description": "Retrieve the details of a contract by its ID.",
        "operationId": "GetContract",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id",
            "description": "Contract Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a contract",
        "description": "Delete a specific contract by its ID.",
        "operationId": "DeleteAContractById",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id",
            "description": "Contract Id"
          },
          {
            "name": "x-oneflow-user-email-override",
            "x-ms-visibility": "advanced",
            "default": "Contract creator",
            "type": "string",
            "in": "header",
            "x-ms-summary": "Delete As",
            "description": "Select user to execute this action as, or enter a custom email",
            "x-ms-dynamic-values": {
              "operationId": "GetExecuteAs",
              "value-collection": "data",
              "value-path": "value",
              "value-title": "key"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetExecuteAs",
              "itemsPath": "data",
              "itemValuePath": "value",
              "itemTitlePath": "name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}": {
      "get": {
        "summary": "Get the status of a contract",
        "description": "Retrieve the status of a specific contract by its ID.",
        "operationId": "GetContractStatus",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id",
            "description": "Contract Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "state": {
                  "type": "string",
                  "description": "draft/pending/overdue/signed/declined",
                  "x-ms-summary": "Contract state"
                },
                "state_updated_time": {
                  "type": "string",
                  "x-ms-summary": "Contract state update time"
                },
                "updated_time": {
                  "type": "string",
                  "x-ms-summary": "Contract update time"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/publish": {
      "post": {
        "summary": "Publish a contract",
        "description": "Sends contract to participants for signing.",
        "operationId": "PublishContract",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id",
            "description": "Contract Id"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "subject": {
                  "type": "string",
                  "description": "Notification subject",
                  "x-ms-summary": "Subject"
                },
                "message": {
                  "type": "string",
                  "description": "Notification message",
                  "x-ms-summary": "Message"
                }
              }
            },
            "required": true
          },
          {
            "name": "x-oneflow-user-email-override",
            "x-ms-visibility": "advanced",
            "default": "Contract creator",
            "type": "string",
            "in": "header",
            "x-ms-summary": "Publish As",
            "description": "Select user to execute this action as, or enter a custom email",
            "x-ms-dynamic-values": {
              "operationId": "GetExecuteAs",
              "value-collection": "data",
              "value-path": "value",
              "value-title": "key"
            },
            "x-ms-dynamic-list": {
              "operationId": "GetExecuteAs",
              "itemsPath": "data",
              "itemValuePath": "value",
              "itemTitlePath": "name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object"
            }
          },
          "402": {
            "description": "Payment Required",
            "schema": {
              "type": "object"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/contracts/create": {
      "post": {
        "produces": [
          "application/json"
        ],
        "summary": "Create a contract",
        "description": "Create a new contract based on the selected template.",
        "operationId": "CreateAContract",
        "parameters": [
          {
            "name": "x-oneflow-user-email",
            "in": "header",
            "type": "string",
            "format": "email",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Create as",
            "description": "Specify Oneflow user email. Action will create contract as this user."
          },
          {
            "name": "contract",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Contract_For_Create"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "summary": "Get workspaces",
        "description": "Retrieve the list of workspaces available for the specified user.",
        "operationId": "GetWorkspaces",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "_links": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "next"
                    },
                    "previous": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "previous"
                    },
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    }
                  },
                  "description": "_links"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            },
                            "description": "self"
                          }
                        },
                        "description": "_links"
                      },
                      "_permissions": {
                        "type": "object",
                        "properties": {
                          "contract:create": {
                            "type": "boolean",
                            "description": "contract:create"
                          }
                        },
                        "description": "_permissions"
                      },
                      "company_name": {
                        "type": "string",
                        "description": "company_name"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "country_code"
                      },
                      "created_time": {
                        "type": "string",
                        "description": "created_time"
                      },
                      "date_format": {
                        "type": "string",
                        "description": "date_format"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "registration_number": {
                        "type": "string",
                        "description": "registration_number"
                      },
                      "updated_time": {
                        "type": "string",
                        "description": "updated_time"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/template_types/": {
      "get": {
        "summary": "Get Template Type By Id",
        "description": "Retrieve the template type by template id.",
        "operationId": "GetTemplateByTemplateId",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "x-oneflow-template-id",
            "type": "number",
            "format": "int32",
            "in": "header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Template_Type"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/template_types": {
      "get": {
        "summary": "Get Template Type By Id",
        "description": "Retrieve the template type by template id.",
        "operationId": "GetTemplateTypes",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Template_Type_Collection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/ping": {
      "get": {
        "summary": "Ping",
        "description": "Use this endpoint to check if the Oneflow API is available.",
        "operationId": "Ping",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/helpers/contract_create_data/": {
      "get": {
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "summary": "Get Templates For Workspace",
        "description": "Get a list of templates for a specified workspace.",
        "operationId": "GetTemplatesForWorkspace",
        "parameters": [
          {
            "name": "extension_type",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "template_type_id",
            "in": "query",
            "type": "number",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "x-oneflow-workspace-id",
            "in": "header",
            "type": "number",
            "required": true,
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Template"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/helpers/dynamic_schemas": {
      "get": {
        "summary": "Get Dynamic Schema",
        "description": "Get Dynamic Schema",
        "operationId": "GetDynamicSchema",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "schema_id",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid Schema Id"
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/helpers/power_automate/post_products/": {
      "post": {
        "summary": "Add product to a contract",
        "description": "Add a product to an existing product group in a contract.",
        "operationId": "AddProduct",
        "parameters": [
          {
            "name": "x-ms-oneflow-contract_id",
            "x-ms-summary": "Contract Id",
            "description": "Contract Id",
            "required": true,
            "in": "header",
            "type": "integer"
          },
          {
            "name": "x-ms-oneflow-product-group-index",
            "in": "header",
            "required": true,
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4,
              5
            ],
            "x-ms-summary": "Product group",
            "description": "Select the product table index to add the products to. Ordered from top to bottom in the contract."
          },
          {
            "name": "product",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Product_For_Create"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "state": {
                  "type": "string",
                  "description": "draft/pending/overdue/signed/declined",
                  "x-ms-summary": "Contract state"
                },
                "state_updated_time": {
                  "type": "string",
                  "x-ms-summary": "Contract state update time"
                },
                "updated_time": {
                  "type": "string",
                  "x-ms-summary": "Contract update time"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/helper/dynamics/get_execute_as": {
      "get": {
        "operationId": "GetExecuteAs",
        "summary": "Get Execute As Options",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Template": {
      "type": "object",
      "properties": {
        "available_options": {
          "x-ms-summary": "Available Options",
          "type": "object",
          "properties": {
            "can_receive_attachments": {
              "type": "boolean",
              "description": "can_receive_attachments",
              "x-ms  -summary": "Can Receive Attachments"
            },
            "can_receive_expanded_pdf": {
              "type": "boolean",
              "description": "can_receive_expanded_pdf",
              "x-ms  -summary": "Can Receive Expanded PDF"
            },
            "can_receive_products": {
              "type": "boolean",
              "description": "can_receive_products",
              "x-ms-summary": "Can Receive Products"
            },
            "delivery_channels": {
              "x-ms-summary": "Delivery Channels",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name",
                    "x-ms-summary": "Delivery Channel Name"
                  },
                  "preferred": {
                    "type": "boolean",
                    "description": "preferred",
                    "x-ms-summary": "Is preferred   Delivery Channel"
                  },
                  "required_participant_attributes": {
                    "x-ms-summary": "Required Participant Attributes (Delivery Channel)",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "required_participant_attributes"
                  }
                }
              },
              "description": "delivery_channels"
            },
            "sign_methods": {
              "x-ms-summary": "Sign Methods",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name",
                    "x-ms-summary": "Sign Method Name"
                  },
                  "preferred": {
                    "type": "boolean",
                    "description": "preferred",
                    "x-ms-summary": "Is Preferred   Sign Method"
                  }
                }
              },
              "description": "sign_methods"
            },
            "two_step_authentication_methods": {
              "x-ms-summary": "Two-Step Authentication Methods",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name",
                    "x-ms-summary": "Two-Step Authentication   Name"
                  },
                  "preferred": {
                    "type": "boolean",
                    "description": "preferred",
                    "x-ms-summary": "Is Preferred   Two-Step Authentication Method"
                  },
                  "required_participant_attributes": {
                    "x-ms-summary": "Required Participant Attributes (Two-Step Authentication Method  )",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "required_participant_attributes"
                  }
                }
              },
              "description": "two_step_authentication_methods"
            }
          },
          "description": "available_options"
        },
        "created_time": {
          "type": "string",
          "description": "created_time",
          "x-ms-summary": "Created Time"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "id",
          "x-ms-summary": "Template Id"
        },
        "name": {
          "type": "string",
          "description": "name",
          "x-ms-summary": "Template Name"
        },
        "template_type": {
          "x-ms-summary": "Template Type",
          "type": "object",
          "properties": {
            "created_time": {
              "type": "string",
              "description": "created_time",
              "x-ms-summary": "Created Time   (Template Type)"
            },
            "description": {
              "type": "string",
              "description": "description",
              "x-ms-summary": "Template Type   Description"
            },
            "extension_type": {
              "type": "string",
              "description": "extension_type",
              "x-ms-summary": "Extension   Type (Template Type)"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "id",
              "x-ms-summary": "Template Type Id"
            },
            "name": {
              "type": "string",
              "description": "name",
              "x-ms-summary": "Template Type Name"
            },
            "updated_time": {
              "type": "string",
              "description": "updated_time",
              "x-ms-summary": "Updated Time   (Template Type)"
            }
          },
          "description": "template_type"
        },
        "updated_time": {
          "type": "string",
          "description": "updated_time",
          "x-ms-summary": "Updated Time"
        }
      }
    },
    "Template_Type": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean"
        },
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "data_fields": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "custom_id": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "name": {
                "type": "string"
              },
              "placeholder": {
                "type": "string"
              },
              "source": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "Template_Type_Collection": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Template_Type"
          }
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "detail": {
          "type": "string"
        },
        "error_code": {
          "type": "number"
        },
        "parameter_problems": {
          "type": "object"
        },
        "request_id": {
          "type": "string"
        },
        "status": {
          "type": "number"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Contract_For_Create": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Contract name"
        },
        "workspace_id": {
          "x-ms-summary": "Workspace name",
          "description": "Select a Workspace for your contract",
          "type": "number",
          "format": "int32",
          "x-ms-dynamic-values": {
            "operationId": "GetWorkspaces",
            "value-collection": "data",
            "value-path": "id",
            "value-title": "name"
          }
        },
        "template_id": {
          "x-ms-summary": "Template name",
          "description": "Select a template to create your contract from",
          "type": "number",
          "format": "int32",
          "x-ms-dynamic-values": {
            "operationId": "GetTemplatesForWorkspace",
            "parameters": {
              "x-oneflow-workspace-id": {
                "parameter": "workspace_id"
              }
            },
            "value-path": "id",
            "value-title": "name"
          },
          "x-ms-dynamic-list": {
            "operationId": "GetTemplatesForWorkspace",
            "parameters": {
              "x-oneflow-workspace-id": {
                "parameterReference": "contract/workspace_id"
              }
            },
            "itemValuePath": "id",
            "itemTitlePath": "name"
          }
        },
        "data_fields": {
          "type": "array",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Datafield",
          "items": {
            "$ref": "#/definitions/Datafield_for_create"
          }
        }
      },
      "required": [
        "workspace_id",
        "template_id"
      ]
    },
    "Contract": {
      "type": "object",
      "properties": {
        "_permissions": {
          "type": "object",
          "properties": {
            "contract:delete": {
              "type": "boolean",
              "x-ms-summary": "Contract Delete Permission",
              "description": "User can delete contract"
            }
          },
          "description": "Contract _permissions attributes"
        },
        "_private": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "x-ms-summary": "Contract name"
            },
            "value": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "x-ms-summary": "Contract value"
                },
                "currency": {
                  "type": "string",
                  "x-ms-summary": "Currency"
                }
              },
              "description": "value"
            },
            "workspace_id": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Workspace Id"
            }
          },
          "description": "Contract _private attributes"
        },
        "_private_ownerside": {
          "type": "object",
          "properties": {
            "created_time": {
              "type": "string",
              "x-ms-summary": "Contract creation time"
            },
            "template_id": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Template Id"
            },
            "template_type_id": {
              "type": "integer",
              "format": "int32",
              "description": "template_type_id",
              "x-ms-summary": "Template Type Id",
              "x-ms-visibility": "internal"
            }
          },
          "description": "Contract _private_ownderside attributes"
        },
        "available_options": {
          "type": "object",
          "properties": {
            "can_receive_attachments": {
              "type": "boolean",
              "x-ms-summary": "Can Receive Attachments",
              "description": "Contract can receive attachments"
            },
            "can_receive_expanded_pdf": {
              "type": "boolean",
              "x-ms-summary": "Can Receive Expanded PDF",
              "description": "Contract can receive expanded PDF"
            },
            "can_receive_products": {
              "type": "boolean",
              "description": "can_receive_products",
              "x-ms-visibility": "internal",
              "x-ms-summary": "Can Receive Products"
            },
            "delivery_channels": {
              "x-ms-visibility": "internal",
              "x-ms-summary": "Delivery Channels",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name",
                    "x-ms-summary": "Delivery Channel Name"
                  },
                  "preferred": {
                    "type": "boolean",
                    "description": "preferred",
                    "x-ms-summary": "Is Preferred Delivery Channel"
                  },
                  "required_participant_attributes": {
                    "x-ms-summary": "Required Participant Attributes (Delivery Channel)",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "required_participant_attributes"
                  }
                }
              },
              "description": "delivery_channels"
            },
            "sign_methods": {
              "x-ms-visibility": "internal",
              "x-ms-summary": "Sign Methods",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name",
                    "x-ms-summary": "Sign Method Name"
                  },
                  "preferred": {
                    "type": "boolean",
                    "description": "preferred",
                    "x-ms-summary": "Is Preferred Sign Method"
                  }
                }
              },
              "description": "sign_methods"
            },
            "two_step_authentication_methods": {
              "x-ms-visibility": "internal",
              "x-ms-summary": "Two Step Authentication Methods",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name",
                    "x-ms-summary": "Two Step Authentication Method Name"
                  },
                  "preferred": {
                    "type": "boolean",
                    "description": "preferred",
                    "x-ms-summary": "Is Preferred Two Step Authentication Method"
                  },
                  "required_participant_attributes": {
                    "x-ms-summary": "Required Participant Attributes (Two Step Authentication Method)",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "required_participant_attributes"
                  }
                }
              },
              "description": "two_step_authentication_methods"
            }
          },
          "description": "Contract available_options attributes"
        },
        "data_fields": {
          "x-ms-summary": "Data field",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "_private_ownerside": {
                "x-ms-summary": "private ownerside",
                "type": "object",
                "properties": {
                  "created_time": {
                    "type": "string",
                    "description": "Data field created_time",
                    "x-ms-summary": "created time"
                  },
                  "custom_id": {
                    "type": "string",
                    "description": "Data field custom_id",
                    "x-ms-summary": "custom id"
                  },
                  "updated_time": {
                    "type": "string",
                    "description": "Data field updated_time",
                    "x-ms-summary": "Updated time"
                  }
                },
                "description": "_private_ownerside"
              },
              "description": {
                "type": "string",
                "description": "Data field description",
                "x-ms-summary": "description"
              },
              "id": {
                "type": "integer",
                "format": "int32",
                "description": "Data field id",
                "x-ms-summary": "id"
              },
              "name": {
                "type": "string",
                "description": "Data field name",
                "x-ms-summary": "name"
              },
              "placeholder": {
                "type": "string",
                "description": "Data field placeholder",
                "x-ms-summary": "placeholder"
              },
              "value": {
                "type": "string",
                "description": "Data field value",
                "x-ms-summary": "value"
              }
            }
          },
          "description": "Data fields collection"
        },
        "id": {
          "type": "integer",
          "x-ms-summary": "Contract ID",
          "description": "Contract Id",
          "format": "int32"
        },
        "lifecycle_settings": {
          "x-ms-visibility": "internal",
          "type": "object",
          "properties": {
            "duration": {
              "type": "string",
              "x-ms-summary": "Contract duration"
            },
            "end_date": {
              "type": "string",
              "x-ms-summary": "Contract end date"
            },
            "initial_duration": {
              "type": "string",
              "x-ms-summary": "Contract initial duration"
            },
            "notice_period": {
              "type": "string",
              "x-ms-summary": "Contract notice period"
            },
            "start_date": {
              "type": "string",
              "x-ms-summary": "Contract start date"
            },
            "type": {
              "type": "string",
              "description": "no_duration/single_period/recurring/recurring_two_periods",
              "x-ms-summary": "Contract Type"
            }
          },
          "description": "lifecycle_settings attributes"
        },
        "lifecycle_state": {
          "type": "object",
          "properties": {
            "contract_end_time": {
              "type": "string",
              "x-ms-summary": "Contract end time"
            },
            "contract_start_time": {
              "type": "string",
              "x-ms-summary": "Contract start time"
            },
            "cancel_time": {
              "type": "string",
              "x-ms-summary": "Contract cancel time"
            },
            "has_ended_by_termination": {
              "type": "boolean",
              "x-ms-summary": "Contract ended by termination?"
            },
            "has_passed_notice_period_start_time": {
              "type": "boolean",
              "x-ms-summary": "Has notice period start time passed?"
            },
            "is_canceled": {
              "type": "boolean",
              "x-ms-summary": "Is contract canceled"
            },
            "is_recurring": {
              "type": "boolean",
              "x-ms-summary": "Is contract recurring"
            },
            "lifecycle_state": {
              "type": "string",
              "description": "awaiting/active/ended",
              "x-ms-summary": "Lifecycle state"
            },
            "lifecycle_state_updated_time": {
              "type": "string",
              "x-ms-summary": "Lifecycle state updated time"
            },
            "notice_period_start_time": {
              "type": "string",
              "x-ms-summary": "Notice period start time",
              "x-ms-visibility": "internal"
            },
            "period": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Contract Period",
              "x-ms-visibility": "internal"
            },
            "period_end_time": {
              "type": "string",
              "x-ms-summary": "Contract period end time",
              "x-ms-visibility": "internal"
            },
            "period_start_time": {
              "type": "string",
              "x-ms-summary": "Contract period start time",
              "x-ms-visibility": "internal"
            }
          },
          "description": "lifecycle_state"
        },
        "parties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Party"
          },
          "description": "Parties collection"
        },
        "product_groups": {
          "x-ms-summary": "Product groups",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product_Group"
          },
          "description": "product_groups collection"
        },
        "published_time": {
          "type": "string",
          "x-ms-summary": "Contract publishing time"
        },
        "signing_period_expiry_time": {
          "type": "string",
          "x-ms-summary": "Contract signing expiration time"
        },
        "state": {
          "type": "string",
          "description": "draft/pending/overdue/signed/declined",
          "x-ms-summary": "Contract state"
        },
        "state_updated_time": {
          "type": "string",
          "x-ms-summary": "Contract state update time"
        },
        "updated_time": {
          "type": "string",
          "x-ms-summary": "Contract update time"
        }
      }
    },
    "Party": {
      "type": "object",
      "properties": {
        "_private_ownerside": {
          "x-ms-visibility": "internal",
          "x-ms-summary": "Private Ownerside (Parties)",
          "type": "object",
          "properties": {
            "created_time": {
              "type": "string",
              "description": "created_time",
              "x-ms-summary": "Party Created Time"
            },
            "updated_time": {
              "type": "string",
              "description": "updated_time",
              "x-ms-summary": "Party Updated Time"
            }
          },
          "description": "Party _private_ownderside attributes"
        },
        "country_code": {
          "type": "string",
          "x-ms-summary": "Party country code"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Party Id",
          "x-ms-visibility": "internal"
        },
        "identification_number": {
          "type": "string",
          "x-ms-summary": "Party Identification Number",
          "description": "Party identification number"
        },
        "my_party": {
          "type": "boolean",
          "x-ms-summary": "Is My Party",
          "description": "Contract party is my_party"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Party name"
        },
        "participants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Participant"
          },
          "description": "Participants collection"
        },
        "type": {
          "type": "string",
          "description": "company/individual",
          "x-ms-summary": "Party type"
        },
        "participant": {
          "$ref": "#/definitions/Individual_Participant"
        }
      }
    },
    "Participant": {
      "type": "object",
      "properties": {
        "_permissions": {
          "type": "object",
          "properties": {
            "contract:update": {
              "type": "boolean",
              "x-ms-summary": "Can Participant Update Contract?"
            }
          },
          "description": "Participant permissions"
        },
        "_private_ownerside": {
          "type": "object",
          "properties": {
            "created_time": {
              "type": "string",
              "x-ms-visibility": "internal",
              "description": "created_time",
              "x-ms-summary": "Participant Created Time"
            },
            "first_visited_time": {
              "type": "string",
              "x-ms-summary": "Participant first visit time"
            },
            "last_visited_time": {
              "type": "string",
              "x-ms-summary": "Participant Last visit time"
            },
            "updated_time": {
              "type": "string",
              "x-ms-visibility": "internal",
              "description": "updated_time",
              "x-ms-summary": "Participant Update Time"
            },
            "visits": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Participant visit count"
            }
          },
          "description": "participant._private_ownerside attributes"
        },
        "delivery_channel": {
          "type": "string",
          "description": "email/none/same_device/sms",
          "x-ms-summary": "Participant delivery channel"
        },
        "delivery_status": {
          "type": "string",
          "description": "not_sent/pending/failure/bounce/success/opened",
          "x-ms-summary": "Participant delivery status"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Participant email"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "internal",
          "description": "id",
          "x-ms-summary": "Participant Id"
        },
        "identification_number": {
          "type": "string",
          "x-ms-summary": "Participant identification number",
          "description": "Participant identification number"
        },
        "my_participant": {
          "type": "boolean",
          "x-ms-summary": "Participant is my_participant"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Participant name"
        },
        "organizer": {
          "type": "boolean",
          "x-ms-summary": "Participant is organizer"
        },
        "phone_number": {
          "type": "string",
          "x-ms-summary": "Participant phone number"
        },
        "sign_method": {
          "type": "string",
          "description": "standard_esign/sms/swedish_bankid/norwegian_bankid/danish_nemid/finnish_bankid",
          "x-ms-summary": "Participant sign method"
        },
        "sign_state": {
          "type": "string",
          "description": "undecided/signed/declined",
          "x-ms-summary": "Participant sign state"
        },
        "sign_state_updated_time": {
          "type": "string",
          "description": "sign_state_updated_time",
          "x-ms-summary": "Participant sign state updated time"
        },
        "signatory": {
          "type": "boolean",
          "x-ms-summary": "Participant is signatory"
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Participant title"
        },
        "two_step_authentication_method": {
          "type": "string",
          "description": "email/sms/none",
          "x-ms-summary": "Participant 2FA method"
        }
      }
    },
    "Individual_Participant": {
      "type": "object",
      "properties": {
        "_permissions": {
          "type": "object",
          "properties": {
            "contract:update": {
              "type": "boolean",
              "description": "contract:update permissions for Individual Participant",
              "x-ms-summary": "Individual participant can update contract"
            }
          },
          "description": "Individual participant permissions"
        },
        "_private_ownerside": {
          "type": "object",
          "properties": {
            "created_time": {
              "type": "string",
              "x-ms-visibility": "internal",
              "x-ms-summary": "Individual participant created time"
            },
            "first_visited_time": {
              "type": "string",
              "x-ms-summary": "Individual participant first visit time"
            },
            "last_visited_time": {
              "type": "string",
              "x-ms-summary": "Individual participant last visit time"
            },
            "updated_time": {
              "type": "string",
              "x-ms-summary": "Individual participant updated time"
            },
            "visits": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Individual participant visit count"
            }
          },
          "description": "individual_participant._private_ownerside attributes"
        },
        "delivery_channel": {
          "type": "string",
          "description": "email/none/same_device/sms",
          "x-ms-summary": "Individual participant delivery channel"
        },
        "delivery_status": {
          "type": "string",
          "description": "not_sent/pending/failure/bounce/success/opened",
          "x-ms-summary": "Individual participant delivery status"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Individual participant email"
        },
        "id": {
          "type": "integer",
          "x-ms-visibility": "internal",
          "format": "int32",
          "description": "id",
          "x-ms-summary": "Individual participant id"
        },
        "identification_number": {
          "type": "string",
          "x-ms-summary": "Individual participant identification number"
        },
        "my_participant": {
          "type": "boolean",
          "x-ms-summary": "Individual participant is my_participant"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Individual participant name"
        },
        "organizer": {
          "type": "boolean",
          "x-ms-summary": "Individual participant is organizer"
        },
        "phone_number": {
          "type": "string",
          "x-ms-summary": "Individual participant phone number"
        },
        "sign_method": {
          "type": "string",
          "description": "standard_esign/sms/swedish_bankid/norwegian_bankid/danish_nemid/finnish_bankid",
          "x-ms-summary": "Individual participant sign method"
        },
        "sign_state": {
          "type": "string",
          "description": "undecided/signed/declined",
          "x-ms-summary": "Individual participant sign state"
        },
        "sign_state_updated_time": {
          "type": "string",
          "x-ms-summary": "Individual participant sign state updated time"
        },
        "signatory": {
          "type": "boolean",
          "x-ms-summary": "Individual participant is signatory"
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Individual participant title"
        },
        "two_step_authentication_method": {
          "type": "string",
          "x-ms-summary": "Individual participant 2FA method",
          "description": "email/sms/none"
        }
      },
      "description": "Individual participant object"
    },
    "Product_Group": {
      "x-ms-summary": "Product group",
      "type": "object",
      "properties": {
        "_private_ownerside": {
          "x-ms-summary": "Private Ownerside (Product Groups)",
          "x-ms-visibility": "internal",
          "type": "object",
          "properties": {
            "created_time": {
              "type": "string",
              "description": "created_time",
              "x-ms-summary": "Product Group Created Time"
            },
            "updated_time": {
              "type": "string",
              "description": "updated_time",
              "x-ms-summary": "Product Group Updated Time"
            }
          },
          "description": "_private_ownerside"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Product Group Id"
        },
        "products": {
          "x-ms-summary": "Products",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          },
          "description": "products collection"
        }
      },
      "description": "product_group item in product_groups collection"
    },
    "Product": {
      "x-ms-summary": "product",
      "type": "object",
      "properties": {
        "_private_ownerside": {
          "x-ms-visibility": "internal",
          "x-ms-summary": "Private Ownerside (Products)",
          "type": "object",
          "properties": {
            "created_time": {
              "type": "string",
              "x-ms-summary": "Product Created Time"
            },
            "updated_time": {
              "type": "string",
              "x-ms-summary": "Product Updated Time"
            }
          },
          "description": "_private_ownerside"
        },
        "counterparty_lock": {
          "type": "boolean",
          "description": "counterparty_lock",
          "x-ms-summary": "locked for counterparties?"
        },
        "description": {
          "type": "string",
          "x-ms-summary": "description"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "name"
        },
        "price_1": {
          "x-ms-summary": "price 1",
          "description": "Price 1 object",
          "type": "object",
          "properties": {
            "amount": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "description": "Amount value of price 1",
                  "x-ms-summary": "amount"
                }
              },
              "description": "amount"
            },
            "base_amount": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "description": "Amount value of price 1",
                  "x-ms-summary": "base  amount"
                }
              },
              "description": "Base amount value of price 1"
            },
            "discount_amount": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "description": "Discount amount of price 1",
                  "x-ms-summary": "discount  amount"
                }
              }
            },
            "discount_percent": {
              "type": "string",
              "description": "Discount percent of price 1",
              "x-ms-summary": "discount  percent"
            }
          }
        },
        "price_2": {
          "x-ms-summary": "price 2",
          "type": "object",
          "properties": {
            "amount": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "description": "Amount value of price 2",
                  "x-ms-summary": "amount"
                }
              },
              "description": "amount"
            },
            "base_amount": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "description": "Base amount value of price 2",
                  "x-ms-summary": "base amount"
                }
              }
            },
            "discount_amount": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "description": "Discount amount of price 2",
                  "x-ms-summary": "discount amount"
                }
              }
            },
            "discount_percent": {
              "type": "string",
              "description": "Discount percent of price 2",
              "x-ms-summary": "discount Percent"
            }
          },
          "description": "price_2"
        },
        "quantity": {
          "x-ms-summary": "quantity",
          "type": "object",
          "properties": {
            "amount": {
              "type": "number",
              "x-ms-summary": "amount"
            },
            "type": {
              "type": "string",
              "description": "quantity/multiple_choice/single_choice",
              "x-ms-summary": "type"
            }
          }
        }
      }
    },
    "Product_For_Create": {
      "type": "object",
      "properties": {
        "counterparty_lock": {
          "type": "boolean",
          "description": "Select whether you want the product attributes to be editable by counterparties.",
          "x-ms-summary": "Product Locked For Counterparties?"
        },
        "description": {
          "type": "string",
          "description": "Add details about the product.",
          "x-ms-summary": "Product Description"
        },
        "name": {
          "type": "string",
          "description": "Name of the product.",
          "x-ms-summary": "Product Name"
        },
        "price_1": {
          "x-ms-summary": "Price",
          "type": "object",
          "properties": {
            "base_amount": {
              "x-ms-summary": 1,
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "description": "Base amount for the product.",
                  "x-ms-summary": "Amount"
                }
              },
              "description": "base_amount"
            },
            "discount_amount": {
              "x-ms-summary": 1,
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "description": "Discount amount as a number.",
                  "x-ms-summary": "Discount Amount"
                }
              },
              "description": "discount_amount"
            },
            "discount_percent": {
              "type": "string",
              "description": "Discount as a percentage of the base amount.",
              "x-ms-summary": "1 Discount Percent"
            }
          },
          "description": "price_1"
        },
        "price_2": {
          "x-ms-summary": "Price",
          "type": "object",
          "properties": {
            "base_amount": {
              "x-ms-summary": 2,
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "description": "Secondary price value. i.e. if the product has a subscription fee.",
                  "x-ms-summary": "Amount"
                }
              },
              "description": "base_amount"
            },
            "discount_amount": {
              "x-ms-summary": 2,
              "type": "object",
              "properties": {
                "amount": {
                  "type": "string",
                  "description": "Secondary discount amount as a number.",
                  "x-ms-summary": "Discount Amount"
                }
              },
              "description": "discount_amount"
            },
            "discount_percent": {
              "type": "string",
              "description": "Secondary discount amount as a percentage of Price 2.",
              "x-ms-summary": "2 Discount Percent"
            }
          },
          "description": "price_2"
        },
        "quantity": {
          "x-ms-summary": "Quantity -",
          "type": "object",
          "properties": {
            "amount": {
              "type": "number",
              "description": "Any positive number or 1/0 if the type is multiple_choice/single_choice",
              "x-ms-summary": "Amount"
            },
            "type": {
              "type": "string",
              "description": "Select an input type of quantity (i.e. a checkbox, number, single select).",
              "x-ms-summary": "Product Type",
              "enum": [
                "multiple_choice",
                "single_choice",
                "quantity"
              ],
              "default": "quantity"
            }
          },
          "description": "quantity"
        }
      }
    },
    "Datafield_for_update": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "x-ms-summary": "Id",
          "description": "Datafield Id",
          "x-ms-visibility": "internal"
        },
        "value": {
          "type": "string",
          "description": "Value to set for the datafield.",
          "x-ms-summary": "Value"
        },
        "_private_ownerside": {
          "x-ms-visibility": "internal",
          "type": "object",
          "properties": {
            "custom_id": {
              "type": "string",
              "description": "Custom id of the datafield",
              "x-ms-summary": "Custom Id"
            }
          },
          "required": [
            "custom_id"
          ]
        }
      }
    },
    "Datafield_for_create": {
      "type": "object",
      "properties": {
        "custom_id": {
          "x-ms-summary": "Datafield",
          "description": "Select datafield to populate",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetTemplateByTemplateId",
            "parameters": {
              "x-oneflow-template-id": {
                "parameter": "template_id"
              }
            },
            "value-path": "custom_id",
            "value-title": "name",
            "value-collection": "data_fields"
          },
          "x-ms-dynamic-list": {
            "operationId": "GetTemplateByTemplateId",
            "parameters": {
              "x-oneflow-template-id": {
                "parameterReference": "contract/template_id"
              }
            },
            "itemsPath": "data_fields",
            "itemValuePath": "custom_id",
            "itemTitlePath": "name"
          }
        },
        "value": {
          "type": "string",
          "description": "Datafield value",
          "x-ms-summary": "Value"
        }
      },
      "required": [
        "custom_id"
      ]
    },
    "Datafield": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "x-ms-summary": "Datafield id",
          "description": "Datafield Id"
        },
        "value": {
          "type": "string",
          "description": "Datafield value",
          "x-ms-summary": "Value"
        },
        "description": {
          "type": "string",
          "description": "Description of the datafield",
          "x-ms-summary": "Datafield description"
        },
        "name": {
          "type": "string",
          "description": "Name of the datafield",
          "x-ms-summary": "Datafield name"
        },
        "placeholder": {
          "type": "string",
          "x-ms-summary": "Datafield placeholder"
        },
        "_private_ownerside": {
          "type": "object",
          "properties": {
            "custom_id": {
              "type": "string",
              "description": "Custom id of the datafield",
              "x-ms-summary": "Custom Id"
            },
            "created_time": {
              "type": "string",
              "x-ms-summary": "Datafield created time"
            },
            "updated_time": {
              "type": "string",
              "x-ms-summary": "Datafield updated time"
            }
          }
        }
      }
    },
    "Webhook_Event": {
      "type": "object",
      "properties": {
        "contract": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number",
              "description": "Contract id",
              "x-ms-summary": "Contract id"
            }
          }
        },
        "callback_id": {
          "type": "string",
          "x-ms-summary": "Callback id",
          "description": "Callback id"
        },
        "events": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "created_time": {
                "type": "string",
                "format": "date-time",
                "x-ms-summary": "Event created time"
              },
              "id": {
                "type": "number",
                "x-ms-summary": "Event id"
              },
              "type": {
                "type": "string",
                "x-ms-summary": "Event type"
              },
              "signature": {
                "type": "string",
                "x-ms-summary": "Signature"
              }
            }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://oneflow.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://oneflow.com/privacy-notice/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ]
}