{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Public API for Oneflow",
    "description": "Use Oneflow API in Power Automate! Create and manage your contracts through flows."
  },
  "host": "api.oneflow.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-oneflow-api-token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "paths": {
    "/contracts/{contract_id}/parties/{party_id}": {
      "get": {
        "summary": "Get a party from a contract",
        "description": "Use this endpoint to retrieve a party from a contract.",
        "operationId": "GetAPartyFromAContract",
        "parameters": [
          {
            "name": "contract_id",
            "default": "10015",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "party_id",
            "default": "353218",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "x-oneflow-api-token",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "9841f1ee533681c3ea6a438560f2bb6c73b76675",
            "description": "x-oneflow-api-token"
          },
          {
            "name": "x-oneflow-user-email",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "john.doe@oneflow.com",
            "description": "x-oneflow-user-email"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "_links": {
                  "type": "object",
                  "properties": {
                    "contract": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "contract"
                    },
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    }
                  },
                  "description": "_links"
                },
                "_private_ownerside": {
                  "type": "object",
                  "properties": {
                    "created_time": {
                      "type": "string",
                      "description": "created_time"
                    },
                    "updated_time": {
                      "type": "string",
                      "description": "updated_time"
                    }
                  },
                  "description": "_private_ownerside"
                },
                "country_code": {
                  "type": "string",
                  "description": "country_code"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "identification_number": {
                  "type": "string",
                  "description": "identification_number"
                },
                "my_party": {
                  "type": "boolean",
                  "description": "my_party"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "participants": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_permissions": {
                        "type": "object",
                        "properties": {
                          "contract:update": {
                            "type": "boolean",
                            "description": "contract:update"
                          }
                        },
                        "description": "_permissions"
                      },
                      "_private_ownerside": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "string",
                            "description": "created_time"
                          },
                          "first_visited_time": {
                            "type": "string",
                            "description": "first_visited_time"
                          },
                          "last_visited_time": {
                            "type": "string",
                            "description": "last_visited_time"
                          },
                          "updated_time": {
                            "type": "string",
                            "description": "updated_time"
                          },
                          "visits": {
                            "type": "integer",
                            "format": "int32",
                            "description": "visits"
                          }
                        },
                        "description": "_private_ownerside"
                      },
                      "delivery_channel": {
                        "type": "string",
                        "description": "delivery_channel"
                      },
                      "delivery_status": {
                        "type": "string",
                        "description": "delivery_status"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "identification_number": {
                        "type": "string",
                        "description": "identification_number"
                      },
                      "my_participant": {
                        "type": "boolean",
                        "description": "my_participant"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "organizer": {
                        "type": "boolean",
                        "description": "organizer"
                      },
                      "phone_number": {
                        "type": "string",
                        "description": "phone_number"
                      },
                      "sign_method": {
                        "type": "string",
                        "description": "sign_method"
                      },
                      "sign_state": {
                        "type": "string",
                        "description": "sign_state"
                      },
                      "sign_state_updated_time": {
                        "type": "string",
                        "description": "sign_state_updated_time"
                      },
                      "signatory": {
                        "type": "boolean",
                        "description": "signatory"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "two_step_authentication_method": {
                        "type": "string",
                        "description": "two_step_authentication_method"
                      }
                    }
                  },
                  "description": "participants"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      },
      "delete": {
        "summary": "Delete a contract party by ID",
        "description": "Use this endpoint to delete a specific contract party by its ID.",
        "operationId": "DeleteAContractPartyById",
        "parameters": [
          {
            "name": "contract_id",
            "default": "10015",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "party_id",
            "default": "353218",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "x-oneflow-api-token",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "9841f1ee533681c3ea6a438560f2bb6c73b76675",
            "description": "x-oneflow-api-token"
          },
          {
            "name": "x-oneflow-user-email",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "john.doe@oneflow.com",
            "description": "x-oneflow-user-email"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          },
          "409": {
            "description": "409",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/contracts/parties/create": {
      "post": {
        "summary": "Add Participant",
        "description": "Add participant to the contract",
        "operationId": "PartyCreate",
        "parameters": [
          {
            "name": "contract_id",
            "in": "header",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id"
          },
          {
            "name": "participant_type",
            "in": "header",
            "type": "string",
            "description": "Individual/Company",
            "required": true,
            "x-ms-summary": "Participant Type",
            "enum": [
              "Individual",
              "Company"
            ],
            "default": "Company"
          },
          {
            "name": "party",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetDynamicSchema",
                "parameters": {
                  "schema_id": {
                    "parameter": "participant_type"
                  }
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/parties": {
      "get": {
        "summary": "Get contract parties",
        "description": "Use this endpoint to retrieve the list of parties for the specified contract ID.",
        "operationId": "GetContractParties",
        "parameters": [
          {
            "name": "contract_id",
            "default": "10015",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "x-oneflow-api-token",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "9841f1ee533681c3ea6a438560f2bb6c73b76675",
            "description": "x-oneflow-api-token"
          },
          {
            "name": "x-oneflow-user-email",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "john.doe@oneflow.com",
            "description": "x-oneflow-user-email"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_links": {
                        "type": "object",
                        "properties": {
                          "contract": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            },
                            "description": "contract"
                          },
                          "self": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            },
                            "description": "self"
                          }
                        },
                        "description": "_links"
                      },
                      "contract": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "href"
                          }
                        },
                        "description": "contract"
                      },
                      "self": {
                        "type": "object",
                        "properties": {
                          "href": {
                            "type": "string",
                            "description": "href"
                          }
                        },
                        "description": "self"
                      },
                      "_private_ownerside": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "string",
                            "description": "created_time"
                          },
                          "updated_time": {
                            "type": "string",
                            "description": "updated_time"
                          }
                        },
                        "description": "_private_ownerside"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "country_code"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "identification_number": {
                        "type": "string",
                        "description": "identification_number"
                      },
                      "my_party": {
                        "type": "boolean",
                        "description": "my_party"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "participants": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_permissions": {
                              "type": "object",
                              "properties": {
                                "contract:update": {
                                  "type": "boolean",
                                  "description": "contract:update"
                                }
                              },
                              "description": "_permissions"
                            },
                            "_private_ownerside": {
                              "type": "object",
                              "properties": {
                                "created_time": {
                                  "type": "string",
                                  "description": "created_time"
                                },
                                "first_visited_time": {
                                  "type": "string",
                                  "description": "first_visited_time"
                                },
                                "last_visited_time": {
                                  "type": "string",
                                  "description": "last_visited_time"
                                },
                                "updated_time": {
                                  "type": "string",
                                  "description": "updated_time"
                                },
                                "visits": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "visits"
                                }
                              },
                              "description": "_private_ownerside"
                            },
                            "delivery_channel": {
                              "type": "string",
                              "description": "delivery_channel"
                            },
                            "delivery_status": {
                              "type": "string",
                              "description": "delivery_status"
                            },
                            "email": {
                              "type": "string",
                              "description": "email"
                            },
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "id"
                            },
                            "identification_number": {
                              "type": "string",
                              "description": "identification_number"
                            },
                            "my_participant": {
                              "type": "boolean",
                              "description": "my_participant"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "organizer": {
                              "type": "boolean",
                              "description": "organizer"
                            },
                            "phone_number": {
                              "type": "string",
                              "description": "phone_number"
                            },
                            "sign_method": {
                              "type": "string",
                              "description": "sign_method"
                            },
                            "sign_state": {
                              "type": "string",
                              "description": "sign_state"
                            },
                            "sign_state_updated_time": {
                              "type": "string",
                              "description": "sign_state_updated_time"
                            },
                            "signatory": {
                              "type": "boolean",
                              "description": "signatory"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            },
                            "two_step_authentication_method": {
                              "type": "string",
                              "description": "two_step_authentication_method"
                            }
                          }
                        },
                        "description": "participants"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "participant": {
                        "type": "object",
                        "properties": {
                          "_permissions": {
                            "type": "object",
                            "properties": {
                              "contract:update": {
                                "type": "boolean",
                                "description": "contract:update"
                              }
                            },
                            "description": "_permissions"
                          },
                          "_private_ownerside": {
                            "type": "object",
                            "properties": {
                              "created_time": {
                                "type": "string",
                                "description": "created_time"
                              },
                              "first_visited_time": {
                                "type": "string",
                                "description": "first_visited_time"
                              },
                              "last_visited_time": {
                                "type": "string",
                                "description": "last_visited_time"
                              },
                              "updated_time": {
                                "type": "string",
                                "description": "updated_time"
                              },
                              "visits": {
                                "type": "integer",
                                "format": "int32",
                                "description": "visits"
                              }
                            },
                            "description": "_private_ownerside"
                          },
                          "delivery_channel": {
                            "type": "string",
                            "description": "delivery_channel"
                          },
                          "delivery_status": {
                            "type": "string",
                            "description": "delivery_status"
                          },
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "identification_number": {
                            "type": "string",
                            "description": "identification_number"
                          },
                          "my_participant": {
                            "type": "boolean",
                            "description": "my_participant"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "organizer": {
                            "type": "boolean",
                            "description": "organizer"
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "phone_number"
                          },
                          "sign_method": {
                            "type": "string",
                            "description": "sign_method"
                          },
                          "sign_state": {
                            "type": "string",
                            "description": "sign_state"
                          },
                          "sign_state_updated_time": {
                            "type": "string",
                            "description": "sign_state_updated_time"
                          },
                          "signatory": {
                            "type": "boolean",
                            "description": "signatory"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "two_step_authentication_method": {
                            "type": "string",
                            "description": "two_step_authentication_method"
                          }
                        },
                        "description": "participant"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      },
      "post": {
        "x-ms-visibility": "internal",
        "summary": "Create Participants for a contract",
        "description": "Use this Action to add participants to your contract",
        "operationId": "CreateParties",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "participant_type",
            "in": "header",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/data_fields": {
      "get": {
        "summary": "Get contract data fields",
        "description": "Use this endpoint to retrieve the list of data fields for the specified contract ID.",
        "operationId": "GetContractDataFields",
        "parameters": [
          {
            "name": "contract_id",
            "default": "10015",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "x-oneflow-api-token",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "9841f1ee533681c3ea6a438560f2bb6c73b76675",
            "description": "x-oneflow-api-token"
          },
          {
            "name": "x-oneflow-user-email",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "john.doe@oneflow.com",
            "description": "x-oneflow-user-email"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_links": {
                        "type": "object",
                        "properties": {
                          "contract": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            },
                            "description": "contract"
                          },
                          "self": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            },
                            "description": "self"
                          }
                        },
                        "description": "_links"
                      },
                      "_private_ownerside": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "string",
                            "description": "created_time"
                          },
                          "custom_id": {
                            "type": "string",
                            "description": "custom_id"
                          },
                          "updated_time": {
                            "type": "string",
                            "description": "updated_time"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "placeholder": {
                            "type": "string",
                            "description": "placeholder"
                          },
                          "value": {
                            "type": "string",
                            "description": "value"
                          }
                        },
                        "description": "_private_ownerside"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "placeholder": {
                        "type": "string",
                        "description": "placeholder"
                      },
                      "value": {
                        "type": "string",
                        "description": "value"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/contracts/{contract_id}/data_fields/{data_field_id}": {
      "get": {
        "summary": "Get contract data field by id",
        "description": "Use this endpoint to retrieve a specific contract data field by its ID.",
        "operationId": "GetContractDataFieldById",
        "parameters": [
          {
            "name": "contract_id",
            "default": "10015",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "data_field_id",
            "default": "1001",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "x-oneflow-api-token",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "9841f1ee533681c3ea6a438560f2bb6c73b76675",
            "description": "x-oneflow-api-token"
          },
          {
            "name": "x-oneflow-user-email",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "john.doe@oneflow.com",
            "description": "x-oneflow-user-email"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "_links": {
                  "type": "object",
                  "properties": {
                    "contract": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "contract"
                    },
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    }
                  },
                  "description": "_links"
                },
                "_private_ownerside": {
                  "type": "object",
                  "properties": {
                    "created_time": {
                      "type": "string",
                      "description": "created_time"
                    },
                    "custom_id": {
                      "type": "string",
                      "description": "custom_id"
                    },
                    "updated_time": {
                      "type": "string",
                      "description": "updated_time"
                    }
                  },
                  "description": "_private_ownerside"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "placeholder": {
                  "type": "string",
                  "description": "placeholder"
                },
                "value": {
                  "type": "string",
                  "description": "value"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/contracts/{contract_id}/events": {
      "get": {
        "summary": "Get contract events",
        "description": "Use this endpoint to retrieve the list of events available for the specified contract ID.",
        "operationId": "GetContractEvents",
        "parameters": [
          {
            "name": "sort",
            "default": "-created_time,name",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "offset",
            "default": "0",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "contract_id",
            "default": "10015",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "x-oneflow-api-token",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "9841f1ee533681c3ea6a438560f2bb6c73b76675",
            "description": "x-oneflow-api-token"
          },
          {
            "name": "x-oneflow-user-email",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "john.doe@oneflow.com",
            "description": "x-oneflow-user-email"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "_links": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "next"
                    },
                    "previous": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "previous"
                    },
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    }
                  },
                  "description": "_links"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actor": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "party": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "id"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              }
                            },
                            "description": "party"
                          }
                        },
                        "description": "actor"
                      },
                      "created_time": {
                        "type": "string",
                        "description": "created_time"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "changes": {
                            "type": "array",
                            "items": {},
                            "description": "changes"
                          },
                          "subject": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "id"
                              }
                            },
                            "description": "subject"
                          }
                        },
                        "description": "data"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "_links": {
                        "type": "object",
                        "properties": {
                          "contract": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            },
                            "description": "contract"
                          },
                          "self": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            },
                            "description": "self"
                          }
                        },
                        "description": "_links"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/contracts/{contract_id}/events/{event_id}": {
      "get": {
        "summary": "Get a contract event by ID",
        "description": "Use this endpoint to retrieve a specific contract event by its ID.",
        "operationId": "GetAContractEventById",
        "parameters": [
          {
            "name": "contract_id",
            "default": "10015",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "event_id",
            "default": "12",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "x-oneflow-api-token",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "9841f1ee533681c3ea6a438560f2bb6c73b76675",
            "description": "x-oneflow-api-token"
          },
          {
            "name": "x-oneflow-user-email",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "john.doe@oneflow.com",
            "description": "x-oneflow-user-email"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "_links": {
                  "type": "object",
                  "properties": {
                    "contract": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "contract"
                    },
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    }
                  },
                  "description": "_links"
                },
                "actor": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "party": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "id"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        }
                      },
                      "description": "party"
                    }
                  },
                  "description": "actor"
                },
                "created_time": {
                  "type": "string",
                  "description": "created_time"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "changes": {
                      "type": "array",
                      "items": {},
                      "description": "changes"
                    },
                    "subject": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "id"
                        }
                      },
                      "description": "subject"
                    }
                  },
                  "description": "data"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/contracts/{contract_id}/files": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "summary": "Upload attachments",
        "description": "Add attachment or a  PDF document to a contract.",
        "operationId": "UploadAttachments",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "multipart/form-data",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "file",
            "required": true,
            "in": "formData",
            "type": "file",
            "format": "binary",
            "description": "File to upload. File name should be in file.ext format",
            "x-ms-summary": "File"
          },
          {
            "name": "upload_as",
            "x-ms-summary": "Upload As",
            "in": "formData",
            "type": "string",
            "enum": [
              "attachment",
              "expanded_pdf"
            ],
            "description": "select type of attachment to upload"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "409",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/files/": {
      "get": {
        "summary": "Get contract files",
        "produces": [
          "application/pdf"
        ],
        "description": "Use this endpoint to retrieve the list of all files available for the specified contract ID, which includes the contract itself, contract verification, attachments, and PDF documents.",
        "operationId": "GetContractFiles",
        "parameters": [
          {
            "name": "sort",
            "default": "-created_time,name",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "offset",
            "default": "0",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "limit",
            "default": "100",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "contract_id",
            "default": "10015",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "x-oneflow-api-token",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "9841f1ee533681c3ea6a438560f2bb6c73b76675",
            "description": "x-oneflow-api-token"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "_links": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "next"
                    },
                    "previous": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "previous"
                    },
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    }
                  },
                  "description": "_links"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "extension": {
                        "type": "string",
                        "description": "extension"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "_links": {
                        "type": "object",
                        "properties": {
                          "contract": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            },
                            "description": "contract"
                          },
                          "self": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "href"
                              }
                            },
                            "description": "self"
                          }
                        },
                        "description": "_links"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          },
          "409": {
            "description": "409",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/contracts/{contract_id}/files/{file_id}": {
      "get": {
        "summary": "Download a contract file",
        "description": "Retrieve a specific contract file by its ID.",
        "operationId": "GetAContractFileById",
        "parameters": [
          {
            "name": "download",
            "default": "true",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "default": "binary/octet-stream",
            "in": "header",
            "type": "string",
            "x-ms-visibility": "internal",
            "required": true
          },
          {
            "name": "contract_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id"
          },
          {
            "name": "file_id",
            "x-ms-summary": "File Id",
            "in": "path",
            "type": "string",
            "required": true,
            "enum": [
              "1",
              "2"
            ],
            "description": "Type of file: * 1 - Contract PDF * 2 - Verification\n",
            "x-ms-enum": {
              "name": "file_id",
              "modelAsString": false,
              "values": [
                {
                  "name": "Contract PDF",
                  "value": "1"
                },
                {
                  "name": "Verification",
                  "value": "2"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "x-ms-summary": "File Content",
              "type": "string",
              "format": "binary"
            }
          },
          "302": {
            "description": "302",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "409": {
            "description": "409",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/": {
      "get": {
        "summary": "Get a contract by ID",
        "description": "Use this endpoint to retrieve a specific contract by its ID.",
        "operationId": "GetAContractById",
        "parameters": [
          {
            "name": "contract_id",
            "default": "10015",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "x-oneflow-api-token",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "9841f1ee533681c3ea6a438560f2bb6c73b76675",
            "description": "x-oneflow-api-token"
          },
          {
            "name": "x-oneflow-user-email",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "john.doe@oneflow.com",
            "description": "x-oneflow-user-email"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "_links": {
                  "type": "object",
                  "properties": {
                    "data_fields": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "data_fields"
                    },
                    "events": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "events"
                    },
                    "files": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "files"
                    },
                    "parties": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "parties"
                    },
                    "publish": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "publish"
                    },
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    },
                    "template": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "template"
                    },
                    "template_type": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "template_type"
                    },
                    "workspace": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "workspace"
                    }
                  },
                  "description": "_links"
                },
                "_permissions": {
                  "type": "object",
                  "properties": {
                    "contract:delete": {
                      "type": "boolean",
                      "description": "contract:delete"
                    }
                  },
                  "description": "_permissions"
                },
                "_private": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "string",
                          "description": "amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "currency"
                        }
                      },
                      "description": "value"
                    },
                    "workspace_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "workspace_id"
                    }
                  },
                  "description": "_private"
                },
                "_private_ownerside": {
                  "type": "object",
                  "properties": {
                    "created_time": {
                      "type": "string",
                      "description": "created_time"
                    },
                    "template_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "template_id"
                    },
                    "template_type_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "template_type_id"
                    }
                  },
                  "description": "_private_ownerside"
                },
                "available_options": {
                  "type": "object",
                  "properties": {
                    "can_receive_attachments": {
                      "type": "boolean",
                      "description": "can_receive_attachments"
                    },
                    "can_receive_expanded_pdf": {
                      "type": "boolean",
                      "description": "can_receive_expanded_pdf"
                    },
                    "can_receive_products": {
                      "type": "boolean",
                      "description": "can_receive_products"
                    },
                    "delivery_channels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "preferred": {
                            "type": "boolean",
                            "description": "preferred"
                          },
                          "required_participant_attributes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "required_participant_attributes"
                          }
                        }
                      },
                      "description": "delivery_channels"
                    },
                    "sign_methods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "preferred": {
                            "type": "boolean",
                            "description": "preferred"
                          }
                        }
                      },
                      "description": "sign_methods"
                    },
                    "two_step_authentication_methods": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "preferred": {
                            "type": "boolean",
                            "description": "preferred"
                          },
                          "required_participant_attributes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "required_participant_attributes"
                          }
                        }
                      },
                      "description": "two_step_authentication_methods"
                    }
                  },
                  "description": "available_options"
                },
                "data_fields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_private_ownerside": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "string",
                            "description": "created_time"
                          },
                          "custom_id": {
                            "type": "string",
                            "description": "custom_id"
                          },
                          "updated_time": {
                            "type": "string",
                            "description": "updated_time"
                          }
                        },
                        "description": "_private_ownerside"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "placeholder": {
                        "type": "string",
                        "description": "placeholder"
                      },
                      "value": {
                        "type": "string",
                        "description": "value"
                      }
                    }
                  },
                  "description": "data_fields"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "lifecycle_settings": {
                  "type": "object",
                  "properties": {
                    "duration": {
                      "type": "string",
                      "description": "duration"
                    },
                    "end_date": {
                      "type": "string",
                      "description": "end_date"
                    },
                    "initial_duration": {
                      "type": "string",
                      "description": "initial_duration"
                    },
                    "notice_period": {
                      "type": "string",
                      "description": "notice_period"
                    },
                    "start_date": {
                      "type": "string",
                      "description": "start_date"
                    },
                    "type": {
                      "type": "string",
                      "description": "type"
                    }
                  },
                  "description": "lifecycle_settings"
                },
                "lifecycle_state": {
                  "type": "object",
                  "properties": {
                    "contract_end_time": {
                      "type": "string",
                      "description": "contract_end_time"
                    },
                    "contract_start_time": {
                      "type": "string",
                      "description": "contract_start_time"
                    },
                    "cancel_time": {
                      "type": "string",
                      "description": "cancel_time"
                    },
                    "has_ended_by_termination": {
                      "type": "boolean",
                      "description": "has_ended_by_termination"
                    },
                    "has_passed_notice_period_start_time": {
                      "type": "boolean",
                      "description": "has_passed_notice_period_start_time"
                    },
                    "is_canceled": {
                      "type": "boolean",
                      "description": "is_canceled"
                    },
                    "is_recurring": {
                      "type": "boolean",
                      "description": "is_recurring"
                    },
                    "lifecycle_state": {
                      "type": "string",
                      "description": "lifecycle_state"
                    },
                    "lifecycle_state_updated_time": {
                      "type": "string",
                      "description": "lifecycle_state_updated_time"
                    },
                    "notice_period_start_time": {
                      "type": "string",
                      "description": "notice_period_start_time"
                    },
                    "period": {
                      "type": "integer",
                      "format": "int32",
                      "description": "period"
                    },
                    "period_end_time": {
                      "type": "string",
                      "description": "period_end_time"
                    },
                    "period_start_time": {
                      "type": "string",
                      "description": "period_start_time"
                    }
                  },
                  "description": "lifecycle_state"
                },
                "parties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_private_ownerside": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "string",
                            "description": "created_time"
                          },
                          "updated_time": {
                            "type": "string",
                            "description": "updated_time"
                          }
                        },
                        "description": "_private_ownerside"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "country_code"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "identification_number": {
                        "type": "string",
                        "description": "identification_number"
                      },
                      "my_party": {
                        "type": "boolean",
                        "description": "my_party"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "participants": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_permissions": {
                              "type": "object",
                              "properties": {
                                "contract:update": {
                                  "type": "boolean",
                                  "description": "contract:update"
                                }
                              },
                              "description": "_permissions"
                            },
                            "_private_ownerside": {
                              "type": "object",
                              "properties": {
                                "created_time": {
                                  "type": "string",
                                  "description": "created_time"
                                },
                                "first_visited_time": {
                                  "type": "string",
                                  "description": "first_visited_time"
                                },
                                "last_visited_time": {
                                  "type": "string",
                                  "description": "last_visited_time"
                                },
                                "updated_time": {
                                  "type": "string",
                                  "description": "updated_time"
                                },
                                "visits": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "visits"
                                }
                              },
                              "description": "_private_ownerside"
                            },
                            "delivery_channel": {
                              "type": "string",
                              "description": "delivery_channel"
                            },
                            "delivery_status": {
                              "type": "string",
                              "description": "delivery_status"
                            },
                            "email": {
                              "type": "string",
                              "description": "email"
                            },
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "id"
                            },
                            "identification_number": {
                              "type": "string",
                              "description": "identification_number"
                            },
                            "my_participant": {
                              "type": "boolean",
                              "description": "my_participant"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "organizer": {
                              "type": "boolean",
                              "description": "organizer"
                            },
                            "phone_number": {
                              "type": "string",
                              "description": "phone_number"
                            },
                            "sign_method": {
                              "type": "string",
                              "description": "sign_method"
                            },
                            "sign_state": {
                              "type": "string",
                              "description": "sign_state"
                            },
                            "sign_state_updated_time": {
                              "type": "string",
                              "description": "sign_state_updated_time"
                            },
                            "signatory": {
                              "type": "boolean",
                              "description": "signatory"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            },
                            "two_step_authentication_method": {
                              "type": "string",
                              "description": "two_step_authentication_method"
                            }
                          }
                        },
                        "description": "participants"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "participant": {
                        "type": "object",
                        "properties": {
                          "_permissions": {
                            "type": "object",
                            "properties": {
                              "contract:update": {
                                "type": "boolean",
                                "description": "contract:update"
                              }
                            },
                            "description": "_permissions"
                          },
                          "_private_ownerside": {
                            "type": "object",
                            "properties": {
                              "created_time": {
                                "type": "string",
                                "description": "created_time"
                              },
                              "first_visited_time": {
                                "type": "string",
                                "description": "first_visited_time"
                              },
                              "last_visited_time": {
                                "type": "string",
                                "description": "last_visited_time"
                              },
                              "updated_time": {
                                "type": "string",
                                "description": "updated_time"
                              },
                              "visits": {
                                "type": "integer",
                                "format": "int32",
                                "description": "visits"
                              }
                            },
                            "description": "_private_ownerside"
                          },
                          "delivery_channel": {
                            "type": "string",
                            "description": "delivery_channel"
                          },
                          "delivery_status": {
                            "type": "string",
                            "description": "delivery_status"
                          },
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "identification_number": {
                            "type": "string",
                            "description": "identification_number"
                          },
                          "my_participant": {
                            "type": "boolean",
                            "description": "my_participant"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "organizer": {
                            "type": "boolean",
                            "description": "organizer"
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "phone_number"
                          },
                          "sign_method": {
                            "type": "string",
                            "description": "sign_method"
                          },
                          "sign_state": {
                            "type": "string",
                            "description": "sign_state"
                          },
                          "sign_state_updated_time": {
                            "type": "string",
                            "description": "sign_state_updated_time"
                          },
                          "signatory": {
                            "type": "boolean",
                            "description": "signatory"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "two_step_authentication_method": {
                            "type": "string",
                            "description": "two_step_authentication_method"
                          }
                        },
                        "description": "participant"
                      }
                    }
                  },
                  "description": "parties"
                },
                "product_groups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_private_ownerside": {
                        "type": "object",
                        "properties": {
                          "created_time": {
                            "type": "string",
                            "description": "created_time"
                          },
                          "updated_time": {
                            "type": "string",
                            "description": "updated_time"
                          }
                        },
                        "description": "_private_ownerside"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_private_ownerside": {
                              "type": "object",
                              "properties": {
                                "created_time": {
                                  "type": "string",
                                  "description": "created_time"
                                },
                                "updated_time": {
                                  "type": "string",
                                  "description": "updated_time"
                                }
                              },
                              "description": "_private_ownerside"
                            },
                            "counterparty_lock": {
                              "type": "boolean",
                              "description": "counterparty_lock"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            },
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "price_1": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "string",
                                      "description": "amount"
                                    }
                                  },
                                  "description": "amount"
                                },
                                "base_amount": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "string",
                                      "description": "amount"
                                    }
                                  },
                                  "description": "base_amount"
                                },
                                "discount_amount": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "string",
                                      "description": "amount"
                                    }
                                  },
                                  "description": "discount_amount"
                                },
                                "discount_percent": {
                                  "type": "string",
                                  "description": "discount_percent"
                                }
                              },
                              "description": "price_1"
                            },
                            "price_2": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "string",
                                      "description": "amount"
                                    }
                                  },
                                  "description": "amount"
                                },
                                "base_amount": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "string",
                                      "description": "amount"
                                    }
                                  },
                                  "description": "base_amount"
                                },
                                "discount_amount": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "string",
                                      "description": "amount"
                                    }
                                  },
                                  "description": "discount_amount"
                                },
                                "discount_percent": {
                                  "type": "string",
                                  "description": "discount_percent"
                                }
                              },
                              "description": "price_2"
                            },
                            "quantity": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "amount"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                }
                              },
                              "description": "quantity"
                            }
                          }
                        },
                        "description": "products"
                      }
                    }
                  },
                  "description": "product_groups"
                },
                "published_time": {
                  "type": "string",
                  "description": "published_time"
                },
                "signing_period_expiry_time": {
                  "type": "string",
                  "description": "signing_period_expiry_time"
                },
                "state": {
                  "type": "string",
                  "description": "state"
                },
                "state_updated_time": {
                  "type": "string",
                  "description": "state_updated_time"
                },
                "updated_time": {
                  "type": "string",
                  "description": "updated_time"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      },
      "delete": {
        "summary": "Delete a contract",
        "description": "Delete a specific contract by its ID.",
        "operationId": "DeleteAContractById",
        "parameters": [
          {
            "name": "contract_id",
            "default": "10015",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}": {
      "get": {
        "summary": "Get the status of a contract",
        "description": "Retrieve the status of a specific contract by its ID.",
        "operationId": "GetContractStatus",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Contract Id"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "state": {
                  "type": "string",
                  "description": "draft/pending/overdue/signed/declined",
                  "x-ms-summary": "Contract's State"
                },
                "state_updated_time": {
                  "type": "string",
                  "x-ms-summary": "Contract's State Updated Time"
                },
                "updated_time": {
                  "type": "string",
                  "x-ms-summary": "Contract's Updated Time"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/participants/{participant_id}/access_link": {
      "post": {
        "summary": "Create an access link",
        "description": "Use this endpoint to create an access link to a contract for a specific participant.",
        "operationId": "CreateAnAccessLink",
        "parameters": [
          {
            "name": "contract_id",
            "default": "10015",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "participant_id",
            "default": "10011125",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "access_link": {
                  "type": "string",
                  "description": "access_link"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
[...]
