{
  "swagger": "2.0",
  "info": {
    "title": "National Park Service",
    "description": "The National Park Service API and developer resources are designed to provide authoritative NPS data and content for internal and external developers creating apps, maps, and websites. You'll find photos and essential information about NPS sites including visitor centers, campgrounds, events, news, alerts, and more, as well as detailed articles about NPS natural and cultural features and important people and places.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "developer.nps.gov",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/activities": {
      "get": {
        "tags": [
          "activities"
        ],
        "description": "Retrieve categories of activities (astronomy, hiking, wildlife watching, etc.) possible in national parks.",
        "summary": "Get activities",
        "operationId": "getActivities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "One or more activity unique IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative which implies descending order.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Activity"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/activities/parks": {
      "get": {
        "tags": [
          "activities/parks"
        ],
        "description": "Returns activites parks information.",
        "summary": "Get park activities",
        "operationId": "getActvitiesParks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "A comma delimited list of activity IDs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative which implies descending order.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/ActivityPark"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/alerts": {
      "get": {
        "tags": [
          "alerts"
        ],
        "description": "Retrieve alerts (danger, closure, caution, and information) posted by parks.",
        "summary": "Get alerts",
        "operationId": "getAlerts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of park codes (each 4-10 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Alert"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/amenities": {
      "get": {
        "tags": [
          "amenities"
        ],
        "description": "Retrieve the amenity types (accessible restrooms, fire pit, picnic area, etc.) available in national parks.",
        "summary": "Get amenities",
        "operationId": "getAmenities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "One or more topic unique IDs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Amenities"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/amenities/parksplaces": {
      "get": {
        "tags": [
          "amenities/parksplaces"
        ],
        "description": "Retrieve places within national parks that have different amenities.",
        "summary": "Get park amenities",
        "operationId": "getAmenitiesParksplaces",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "A comma delimited list of amenity IDs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative       which implies descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/AmenitiesParksPlaces"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/amenities/parksvisitorcenters": {
      "get": {
        "tags": [
          "amenities/parksvisitorcenters"
        ],
        "description": "Retrieve visitor centers within national parks that have different amenities.",
        "summary": "Get visitor center amenities",
        "operationId": "getAmenitiesParksvisitorcenters",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "A comma delimited list of amenity IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative which implies descending order.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/AmenitiesParksVisitorCenters"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/articles": {
      "get": {
        "tags": [
          "articles"
        ],
        "description": "Retrieve articles created by national parks and other NPS entities.",
        "summary": "Get articles",
        "operationId": "getArticles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Article"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/campgrounds": {
      "get": {
        "tags": [
          "campgrounds"
        ],
        "description": "Retrieve data about National Park Service campgrounds including addresses, contacts, description, hours of operation, etc.",
        "summary": "Get campgrounds",
        "operationId": "getCampgrounds",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Campground"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "events"
        ],
        "description": "Retrieve events created by national parks and other NPS entities.",
        "summary": "Get events",
        "operationId": "getEvents",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "organization",
            "in": "query",
            "x-ms-summary": "Organization",
            "description": "A comma delimited list of organization site codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "subject",
            "in": "query",
            "x-ms-summary": "Subject",
            "description": "A comma delimited list of subject site codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "portal",
            "in": "query",
            "x-ms-summary": "Portal",
            "description": "A comma delimited list of portal site codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "tagsAll",
            "in": "query",
            "x-ms-summary": "Include Tags",
            "description": "A comma delimited list of tags that must be included.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "tagsOne",
            "in": "query",
            "x-ms-summary": "May Include Tags",
            "description": "A comma delimited list of tags that may be included.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "tagsNone",
            "in": "query",
            "x-ms-summary": "Not Include Tags",
            "description": "A comma delimited list of tags that must not be included.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "dateStart",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "A stating date in the yyyy-mm-dd format to filter events by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateEnd",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "An ending date in the yyyy-mm-dd format to filter events by.",
            "type": "string",
            "required": false
          },
          {
            "name": "eventType",
            "in": "query",
            "x-ms-summary": "Event Type",
            "description": "A comma delimited list of event types.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "A unique ID string for an event.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The number of results per page. Default is 10.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "x-ms-summary": "Page Number",
            "description": "The current page number for the results. Default is 1.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "expandRecurring",
            "in": "query",
            "x-ms-summary": "Expand Recurring",
            "description": "A flag to denote whether or not to expand the recurring events out into multiple records (one per event date). Default is false.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/lessonplans": {
      "get": {
        "tags": [
          "lessonplans"
        ],
        "description": "Retrieve lesson plans created by national parks and other NPS entities.",
        "summary": "Get lesson plans",
        "operationId": "getLessonPlans",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "A comma delimited list of resource properties to sort the results by. Each resource identifies which properties are 'sortable'. Ascending order is assumed for each property. If descending order is desired, the unary negative should prefix the property name. The sortable properties are listed in the documentation for each resource. Invalid property values will be ignored. Default is title.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/LessonPlan"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/newsreleases": {
      "get": {
        "tags": [
          "newsreleases"
        ],
        "description": "Retrieve news releases created by national parks and other NPS entities.",
        "summary": "Get news releases",
        "operationId": "getNewsReleases",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "A comma delimited list of resource properties to sort the results by. Each resource identifies which properties are 'sortable'. Ascending order is assumed for each property. If descending order is desired, the unary negative should prefix the property name. The sortable properties are listed in the documentation for each resource. Invalid property values will be ignored. Default is -releaseDate.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/NewsRelease"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/parks": {
      "get": {
        "tags": [
          "parks"
        ],
        "description": "Retrieve data about national parks (addresses, contacts, description, hours of operation, etc.).",
        "summary": "Get parks",
        "operationId": "getPark",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of park codes (each 4-10 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "A comma delimited list of resource properties to sort the results by. Each resource identifies which properties are 'sortable'. Ascending order is assumed for each property. If descending order is desired, the unary negative should prefix the property name. The sortable properties are listed in the documentation for each resource. Invalid property values will be ignored. Default value is fullName.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Park"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/passportstamplocations": {
      "get": {
        "tags": [
          "passportstamplocations"
        ],
        "description": "Retrieve locations that have national park passport stamps.",
        "summary": "Get passport stamp locations",
        "operationId": "getPassportstamplocations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Passportstamplocations"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/people": {
      "get": {
        "tags": [
          "people"
        ],
        "description": "Retrieve articles providing a synopsis of specific people related to national parks.",
        "summary": "Get people",
        "operationId": "getPeople",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of park codes (each 4-10 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Person"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/places": {
      "get": {
        "tags": [
          "places"
        ],
        "description": "Retrieve articles providing a synopsis of specific places related to national parks.",
        "summary": "Get places",
        "operationId": "getPlaces",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Place"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/thingstodo": {
      "get": {
        "tags": [
          "thingstodo"
        ],
        "description": "Retrieve suggested things to do recommended by and for specific national parks.",
        "summary": "Get things to do",
        "operationId": "getThingstodo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "A comma delimited list of things to do IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative which implies descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/ThingsToDo"
              }
            }
          },
          "400": {
            "description": "Invalid status data."
          }
        }
      }
    },
    "/topics": {
      "get": {
        "tags": [
          "topics"
        ],
        "description": "Retrieve categories of topics (American revolution, music, women's history, etc.) relating to national parks.",
        "summary": "Get topics",
        "operationId": "getTopics",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "One or more unique topic IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative which implies descending order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Topic"
              }
            }
          },
          "400": {
            "description": "Invalid status data."
          }
        }
      }
    },
    "/topics/parks": {
      "get": {
        "tags": [
          "topics/parks"
        ],
        "description": "Retrieve national parks that are related to particular categories of topics (American revolution, music, women's history, etc.).",
        "summary": "Get parks by topic",
        "operationId": "getTopicsParks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "A comma delimited list of topic IDs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "A comma delimited list of fields to sort the results by. Ascending order is assumed for each field unless the field name is prefixed with the unary negative which implies descending order.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/TopicPark"
              }
            }
          },
          "400": {
            "description": "Invalid status data."
          }
        }
      }
    },
    "/tours": {
      "get": {
        "tags": [
          "tours"
        ],
        "description": "Retrieve tours with stops at the special places, campgrounds, and visitor centers found within national parks.",
        "summary": "Get tours",
        "operationId": "getTours",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "A comma delimited list of tour IDs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "A string to search for.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Tours"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/visitorcenters": {
      "get": {
        "tags": [
          "visitorcenters"
        ],
        "description": "Retrieve data about National Park Service visitor centers including addresses, contacts, description, hours of operation, etc.",
        "summary": "Get visitor centers",
        "operationId": "getVisitorCenters",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of park codes (each 4 characters in length).",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/VisitorCenter"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    },
    "/webcams": {
      "get": {
        "tags": [
          "webcams"
        ],
        "description": "Retrieve metadata about National Park Service streaming and non-streaming web cams.",
        "summary": "Get webcams",
        "operationId": "getWebcams",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "parkCode",
            "in": "query",
            "x-ms-summary": "Park Code",
            "description": "A comma delimited list of 4 character park codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "stateCode",
            "in": "query",
            "x-ms-summary": "State Code",
            "description": "A comma delimited list of 2 character state codes.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "A comma delimited list of webcam IDs.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Number of results to return per request. Default is 50.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "Get the next [limit] results starting with this number. Default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search Term",
            "description": "Term to search on.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation.",
            "schema": {
              "type": "object",
              "items": {
                "$ref": "#/definitions/Webcams"
              }
            }
          },
          "400": {
            "description": "Invalid status value."
          }
        }
      }
    }
  },
  "definitions": {
    "Activity": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "title": "Total",
          "description": "The total number of properties.",
          "example": "2"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Unique identifier for an activity record.",
                "example": "FEDA3DF8-B871-4C1A-BB96-32823860B174"
              },
              "name": {
                "type": "string",
                "title": "Name",
                "description": "Name of the activity.",
                "example": "Arts and Culture"
              }
            },
            "example": [
              {
                "id": "FEDA3DF8-B871-4C1A-BB96-32823860B174",
                "name": "Arts and Culture"
              },
              {
                "id": "F07B0BA0-A3E9-4C82-9746-57DA4953C2E6",
                "name": "Astronomy"
              }
            ]
          }
        },
        "limit": {
          "type": "string",
          "title": "Limit",
          "description": "The limit number for responses returned.",
          "example": "50"
        },
        "start": {
          "type": "string",
          "title": "Start",
          "description": "The starting number.",
          "example": "0"
        }
      }
    },
    "ActivityPark": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "title": "Total",
          "description": "The total number of properties.",
          "example": "2"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Unique identifier for activity park record.",
                "example": "FEDA3DF8-B871-4C1A-BB96-32823860B174"
              },
              "name": {
                "type": "string",
                "title": "Name",
                "description": "Name for activity park record.",
                "example": "Arts and Culture"
              },
              "parks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "states": {
                      "type": "string",
                      "title": "States",
                      "description": "A comma delimited list of two letter state codes.",
                      "example": "KY"
                    },
                    "fullName": {
                      "type": "string",
                      "title": "Full Name",
                      "description": "The full name of a park.",
                      "example": "Abraham Lincoln Birthplace National Historical Park"
                    },
                    "url": {
                      "type": "string",
                      "title": "URL",
                      "description": "The URL address.",
                      "example": "https://www.nps.gov/abli/index.htm"
                    },
                    "parkCode": {
                      "type": "string",
                      "title": "Park Code",
                      "description": "Four letter alpha code for this park.",
                      "example": "abli"
                    },
                    "designation": {
                      "type": "string",
                      "title": "Designation",
                      "description": "The designation for this park.",
                      "example": "National Historical Park"
                    },
                    "name": {
                      "type": "string",
                      "title": "Name",
                      "description": "The name of the park.",
                      "example": "Abraham Lincoln Birthplace"
                    }
                  }
                }
              }
            }
          }
        },
        "limit": {
          "type": "string",
          "title": "Limit",
          "description": "The limit number for responses returned.",
          "example": "50"
        },
        "start": {
          "type": "string",
          "title": "Start",
          "description": "The starting number.",
          "example": "0"
        }
      }
    },
    "Alert": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "title": "Total",
          "description": "The total.",
          "example": "474"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "category": {
                "type": "string",
                "title": "Category",
                "description": "Alert type: Danger, Caution, Information, or Park Closure.",
                "enum": [
                  "Danger",
                  "Caution",
                  "Information",
                  "Park Closure"
                ]
              },
              "description": {
                "type": "string",
                "title": "Description",
                "description": "Alert description."
              },
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Unique identifier for an alert record."
              },
              "parkCode": {
                "type": "string",
                "title": "Park Code",
                "description": "A variable width character code that uniquely identifies a specific park."
              },
              "title": {
                "type": "string",
                "title": "Title",
                "description": "Alert title."
              },
              "url": {
                "type": "string",
                "title": "URL",
                "description": "Link to more information about the alert, if available."
              }
            },
            "example": [
              {
                "category": "Information",
                "description": "Some destinations are unavailable because of construction related to the Canyon Overlooks and Trails Restoration Project.",
                "id": "4C3095E2-1DD8-B71B-0BAC8E16AABF3113",
                "parkCode": "yell",
                "title": "Area Closures in Canyon",
                "url": "https://www.nps.gov/yell/planyourvisit/canyonprojects.htm"
              },
              {
                "category": "Caution",
                "description": "The road between Roaring Mountain and Willow Park is under construction. Expect delays up to 30 minutes and night closures June 11-September 10 from 10pm-7am (excluding Saturday nights).",
                "id": "696FC8C9-1DD8-B71B-0BF3D47A2BF92890",
                "parkCode": "yell",
                "title": "Construction & Nightly Closures between Norris & Mammoth Hot Springs",
                "url": "https://www.nps.gov/yell/planyourvisit/parkroads.htm"
              }
            ]
          }
        },
        "limit": {
          "type": "string",
          "title": "Limit",
          "description": "The limit number for responses returned.",
          "example": "50"
        },
        "start": {
          "type": "string",
          "title": "Start",
          "description": "The starting number.",
          "example": "0"
        }
      }
    },
    "Amenities": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "title": "Total",
          "description": "The total.",
          "example":  "121"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Unique identifier for this amenity.",
                "example": "75F2DA2A-1741-445A-9FA7-B63A81E4BD7F"
              },
              "name": {
                "type": "string",
                "title": "Name",
                "description": "This amenity's name.",
                "example": "Accessibility - Accessible Restroom"
              }
            }
          }
        },
        "limit": {
          "type": "string",
          "title": "Limit",
          "description": "The limit number for responses returned.",
          "example": "50"
        },
        "start": {
          "type": "string",
          "title": "Start",
          "description": "The starting number.",
          "example": "0"
        }
      }
    },
    "AmenitiesParksPlaces": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "title": "Title",
          "description": "The total returned.",
          "example": "53"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Unique identifier for this amenity.",
                "example": "75F2DA2A-1741-445A-9FA7-B63A81E4BD7F"
              },
              "name": {
                "type": "string",
                "title": "Name",
                "description": "Name of the amenity.",
                "example": "Accessibility - Accessible Restroom"
              },
              "parks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "states": {
                      "type": "string",
                      "title": "States",
                      "description": "One or more comma separated state codes.",
                      "example": "NC,VA"
                    },
                    "parkCode": {
                      "type": "string",
                      "title": "Park Code",
                      "description": "The four letter park code.",
                      "example": "blri"
                    },
                    "designation": {
                      "type": "string",
                      "title": "Designation",
                      "description": "The park designation.",
                      "example": "Parkway"
                    },
                    "fullName": {
                      "type": "string",
                      "title": "Full Name",
                      "description": "The full name.",
                      "example": "Blue Ridge Parkway"
                    },
                    "places": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "title": "Title",
                            "description": "The place title.",
                            "example": "Mabry Mill"
                          },
                          "url": {
                            "type": "string",
                            "title": "URL",
                            "description": "The URL of the place.",
                            "example": "https://www.nps.gov/places/mabry-mill.htm"
                          },
                          "id": {
                            "type": "string",
                            "title": "ID",
                            "description": "The unique identifier.",
                            "example": "E4267D0C-EE18-4020-88DC-40B5EBAC32E3"
                          }
                        }
                      }
                    },
                    "url": {
                      "type": "string",
                      "title": "URL",
                      "description": "The URL address.",
                      "example": "https://www.nps.gov/blri/index.htm"
                    },
                    "name": {
                      "type": "string",
                      "title": "Name",
                      "description": "The name.",
                      "example": "Blue Ridge"
                    }
                  }
                }
              }
            }
          }
        },
        "limit": {
          "type": "string",
          "title": "Limit",
          "description": "The limit number for responses returned.",
          "example": "50"
        },
        "start": {
          "type": "string",
          "title": "Start",
          "description": "The starting number.",
          "example": "0"
        }
      }
    },
    "AmenitiesParksVisitorCenters": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "title": "Title",
          "description": "The total returned.",
          "example": "53"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Unique identifier for this amenity.",
                "example": "75F2DA2A-1741-445A-9FA7-B63A81E4BD7F"
              },
              "name": {
                "type": "string",
                "title": "Name",
                "description": "The name for this amenity.",
                "example": "Accessibility - Accessible Restroom"
              },
              "parks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "states": {
                      "type": "string",
                      "title": "States",
                      "description": "The two letter state code.",
                      "example": "SD"
                    },
                    "parkCode": {
                      "type": "string",
                      "title": "Park Code",
                      "description": "The four letter park code.",
                      "example": "moru"
                    },
                    "designation": {
                      "type": "string",
                      "title": "Designation",
                      "description": "The park designation.",
                      "example": "National Memorial"
                    },
                    "visitorcenters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "title": "URL",
                            "description": "The URL for the Visitor Center.",
                            "example": "https://www.nps.gov/moru/planyourvisit/placestogo.htm"
                          },
                          "id": {
                            "type": "string",
                            "title": "ID",
                            "description": "The unique identifier for the Visitor Center.",
                            "example": "AB856735-B829-4053-8BB2-9A27BC193084"
                          },
                          "name": {
                            "type": "string",
                            "title": "Name",
                            "description": "The name of the Visitor Center.",
                            "example": "Lincoln Borglum Visitor Center"
                          }
                        }
                      }
                    },
                    "fullName": {
                      "type": "string",
                      "title": "Full Name",
                      "description": "The full name."
                    },
                    "url": {
                      "type": "string",
                      "title": "URL",
                      "description": "The URL address.",
                      "example": "https://www.nps.gov/moru/index.htm"
                    },
                    "name": {
                      "type": "string",
                      "title": "Name",
                      "description": "The name.",
                      "example": "Mount Rushmore"
                    }
                  }
                }
              }
            }
          }
        },
        "limit": {
          "type": "string",
          "title": "Limit",
          "description": "The limit number for responses returned.",
          "example": "50"
        },
        "start": {
          "type": "string",
          "title": "Start",
          "description": "The starting number.",
          "example": "0"
        }
      }
    },
    "Article": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "title": "Total",
          "description": "The total.",
          "example":  7934
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "title": "URL",
                "description": "Link to article."
              },
              "geometryPoiId": {
                "type": "string",
                "title": "Geometry POI ID",
                "description": "The ID for geometry point of interest.",
                "example": "8793be28-0d54-493f-8556-877e7ecbe937"
              },
              "title": {
                "type": "string",
                "title": "Title",
                "description": "Article title."
              },
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Unique identifier for this article."
              },
              "listingDescription": {
                "type": "string",
                "title": "Listing Description",
                "description": "Short description of the content."
              },
              "listingImage": {
                "type": "object",
                "title": "Listing Image",
                "description": "Small image that accompanies the short description.",
                "properties": {
                  "credit": {
                    "type": "string",
                    "title": "Credit",
                    "description": "The credit for the image."
                  },
                  "altText": {
                    "type": "string",
                    "title": "Alt Text",
                    "description": "The alternative text."
                  },
                  "title": {
                    "type": "string",
                    "title": "Title",
                    "description": "The title."
                  },
                  "description": {
                    "type": "string",
                    "title": "Description",
                    "description": "The description."
                  },
                  "caption": {
                    "type": "string",
                    "title": "Caption",
                    "description": "The caption."
                  },
                  "url": {
                    "type": "string",
                    "title": "URL",
                    "description": "The URL address."
                  }
                }
              },
              "relatedParks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "states": {
                      "type": "string",
                      "title": "States",
                      "description": "The states."
                    },
                    "parkCode": {
                      "type": "string",
                      "title": "Park Code",
                      "description": "The park code."
                    },
                    "designation": {
                      "type": "string",
                      "title": "Designation",
                      "description": "The designation."
                    },
                    "fullName": {
                      "type": "string",
                      "title": "Full Name",
                      "description": "The full name."
                    },
                    "url": {
                      "type": "string",
                      "title": "URL",
                      "description": "The URL address."
                    },
                    "name": {
                      "type": "string",
                      "title": "Name",
                      "description": "The name."
                    }
                  }
                },
                "title": "Related Parks",
                "description": "Parks that have a tie to this asset in a comma-delimited list"
              },
              "latLong": {
                "type": "string",
                "title": "Geolocation",
                "description": "The geolocation coordinates."
              },
              "latitude": {
                "type": "number",
                "title": "Latitude",
                "description": "The latitude."
              },
              "longitude": {
                "type": "number",
                "title": "Longitude",
                "description": "The longitude."
              }
            }
          }
        },
        "limit": {
          "type": "string",
          "title": "Limit",
          "description": "The limit.",
          "example":  "1"
        },
        "start": {
          "type": "string",
          "title": "Start",
          "description": "The starting number.",
          "example": "0"
        }
      }
    },
    "Campground": {
      "type": "object",
      "properties": {
        "total": {
          "type": "string",
          "title": "Total",
          "description": "The total.",
          "example":  509
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "accessibility": {
                "type": "object",
                "title": "Accessibility",
                "description": "Detailed information about accessibility in the campground.",
                "properties": {
                  "wheelchairaccess": {
                    "type": "string",
                    "title": "Wheelchair Access",
                    "description": "Information about wheelchair access."
                  },
                  "internetinfo": {
                    "type": "string",
                    "title": "Internet",
                    "description": "Information about Internet."
                  },
                  "rvallowed": {
                    "type": "string",
                    "title": "RVs",
                    "description": "Information about recreational vehicles."
                  },
                  "cellphoneinfo": {
                    "type": "string",
                    "title": "Cellphone",
                    "description": "Information about cellphones."
                  },
                  "firestovepolicy": {
                    "type": "string",
                    "title": "Firestove",
                    "description": "Information about firestoves."
                  },
                  "rvmaxlength": {
                    "type": "string",
                    "title": "RV Max Length",
                    "description": "Information about RV maximum length."
                  },
                  "additionalinfo": {
                    "type": "string",
                    "title": "Additional Info",
                    "description": "Any additional info."
                  },
                  "trailermaxlength": {
                    "type": "string",
                    "title": "Trailer Max Length",
                    "description": "Information about trailer max length."
                  },
                  "adainfo": {
                    "type": "string",
                    "title": "ADA",
                    "description": "Information about ADA."
                  },
                  "rvinfo": {
                    "type": "string",
                    "title": "RV",
                    "description": "Information about RV."
                  },
                  "accessroads": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Access Road",
                      "description": "Information about access road."
                    },
                    "title": "Access Roads",
                    "description": "Information about access roads."
                  },
                  "trailerallowed": {
                    "type": "string",
                    "title": "Trailers Allowed",
                    "description": "Information about trailers allowed."
                  },
                  "classifications": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Classification",
                      "description": "Information about classification."
                    },
                    "title": "Classifications",
                    "description": "Information about classifications."
                  }
                }
              },
              "addresses": {
                "type": "array",
                "title": "Addresses",
                "description": "Campground addresses (physical and mailing)",
                "items": {
                  "type": "object",
                  "properties": {
                    "postalCode": {
                      "type": "string",
                      "title": "Postal Code",
                      "description": "The postal code."
                    },
                    "city": {
                      "type": "string",
                      "title": "City",
                      "description": "The city."
                    },
                    "stateCode": {
                      "type": "string",
                      "title": "State",
                      "description": "The state code."
                    },
                    "line1": {
                      "type": "string",
                      "title": "Address Line 1",
                      "description": "The address line 1."
                    },
                    "type": {
                      "type": "string",
                      "title": "Type",
                      "description": "The type",
                      "enum": [
                        "Physical",
                        "Mailing"
                      ]
                    },
                    "line3": {
                      "type": "string",
                      "title": "Address Line 3",
                      "description": "The address line 3."
                    },
                    "line2": {
                      "type": "string",
                      "title": "Address Line 2",
                      "description": "The address line 2."
                    }
                  }
                }
              },
              "amenities": {
                "type": "object",
                "title": "Ammenities",
                "description": "Detailed information about amenities available in the campground.",
                "properties": {
                  "trashrecyclingcollection": {
                    "type": "string",
                    "title": "Trash/Recycling Collection",
                    "description": "Information about trash and recycling collection."
                  },
                  "toilets": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Toilet",
                      "description": "Information about toilet."
                    },
                    "title": "Toilets",
                    "description": "Information about toilets."
                  },
                  "internetconnectivity": {
                    "type": "string",
                    "title": "Internet Connectivity",
                    "description": "Information about Internet connectivity."
                  },
                  "showers": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Shower",
                      "description": "Information about shower."
                    },
                    "title": "Showers",
                    "description": "Information about showers."
                  },
                  "cellphonereception": {
                    "type": "string",
                    "title": "Cellphone Reception",
                    "description": "Information about cellphone reception."
                  },
                  "laundry": {
                    "type": "string",
                    "title": "Laundry",
                    "description": "Information about laundry."
                  },
                  "amphitheater": {
                    "type": "string",
                    "title": "Amphitheater",
                    "description": "Information about amphitheater."
                  },
                  "dumpstation": {
                    "type": "string",
                    "title": "Dumpstation",
                    "description": "Information about dumpstation."
                  },
                  "campstore": {
                    "type": "string",
                    "title": "Camp Store",
                    "description": "Information about camp store."
                  },
                  "stafforvolunteerhostonsite": {
                    "type": "string",
                    "title": "Host on Site",
                    "description": "Information about host on site."
                  },
                  "potablewater": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Potable Water",
                      "description": "Information about potable water."
                    },
                    "title": "Potable Waters",
                    "description": "Information about potable waters."
                  },
                  "iceavailableforsale": {
                    "type": "string",
                    "title": "Ice Available",
                    "description": "Information about ice available for sale."
                  },
                  "firewoodforsale": {
                    "type": "string",
                    "title": "Firewood Available",
                    "description": "Information about firewood available for sale."
                  },
                  "ampitheater": {
                    "type": "string",
                    "title": "Ampitheather",
                    "description": "Information about ampitheater."
                  },
                  "foodStorageLockers": {
                    "type": "string",
                    "title": "Food Storage Lockers",
                    "description": "Information about food storage lockers."
                  }
                }
              },
              "campsites": {
                "type": "object",
                "title": "Campsites",
                "description": "Detailed information about campsites.",
                "properties": {
                  "other": {
                    "type": "string",
                    "title": "Other",
                    "description": "Information about other."
                  },
                  "group": {
                    "type": "string",
                    "title": "Group",
                    "description": "Information about group."
                  },
                  "horse": {
                    "type": "string",
                    "title": "Horse",
                    "description": "Information about horse."
                  },
                  "totalsites": {
                    "type": "string",
                    "title": "Total Sites",
                    "description": "Information about total sites."
                  },
                  "tentonly": {
                    "type": "string",
                    "title": "Tent Only",
                    "description": "Information about tent only."
                  },
                  "electricalhookups": {
                    "type": "string",
                    "title": "Electrical Hookups",
                    "description": "Information about electrical hookups."
                  },
                  "rvonly": {
                    "type": "string",
                    "title": "RV Only",
                    "description": "Information about RV only."
                  },
                  "walkboatto": {
                    "type": "string",
                    "title": "Walk/Boat To",
                    "description": "Information about walk or boat to."
                  }
                }
              },
              "contacts": {
                "type": "object",
                "title": "Contacts",
                "description": "Information about contacting the park regarding this campground.",
                "properties": {
                  "phoneNumbers": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "phoneNumber": {
                          "type": "string",
                          "title": "Phone Number",
                          "description": "Information about phone number."
                        },
                        "description": {
                          "type": "string",
                          "title": "Description",
                          "description": "Information about description."
                        },
                        "extension": {
                          "type": "string",
                          "title": "Extension",
                          "description": "Information about extension."
                        },
                        "type": {
                          "type": "string",
                          "title": "Type",
                          "description": "Information about type.",
                          "enum": [
                            "Voice",
                            "Fax",
                            "TTY"
                          ]
                        }
                      }
                    }
                  },
                  "emailAddresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "emailAddress": {
                          "type": "string",
                          "title": "Email Address",
                          "description": "Information about email address."
                        },
                        "description": {
                          "type": "string",
                          "title": "Description",
                          "description": "Information about description."
                        }
                      }
                    }
                  }
                }
              },
              "description": {
                "type": "string",
                "title": "Description",
                "description": "General description of the campground."
              },
              "directionsoverview": {
                "type": "string",
                "title": "Directions Overview",
                "description": "General overview of how to get to the campground."
              },
              "directionsUrl": {
                "type": "string",
                "title": "Directions URL",
                "description": "Link to page, if available, that provides additional detail on getting to the campground."
              },
              "fees": {
                "type": "array",
                "items": {
                  "type": "string",
                  "title": "Fee",
                  "description": "Information about fee"
                },
                "title": "Fees",
                "description": "Information about the cost of camping."
              },
              "geometryPoiId": {
                "type": "string",
                "title": "Geometry POI ID",
                "description": "ID for Geometry Point of Interest.",
                "example": "8793be28-0d54-493f-8556-877e7ecbe937"
              },
              "id": {
                "type": "string",
                "title": "ID",
                "description": "Campground identification string."
              },
              "images": {
                "type": "array",
                "items": {
                  "type": "string",
                  "title": "Image",
                  "description": "Image title."
                },
                "title": "Images",
                "description": "Campground images."
              },
              "latLong": {
                "type": "string",
                "title": "GPS Coordinates",
                "description": "Campground GPS coordinates.",
                "example": "{lat:63.4574408, lng:-150.8612003}"
              },
              "latitude": {
                "type": "string",
                "title": "Latitude",
                "description": "The latitude.",
                "example": "63.4574408"
              },
              "longitude": {
                "type": "string",
                "title": "Longitude",
                "description": "The longitude.",
                "example": "-150.8612003"
              },
              "name": {
                "type": "string",
                "title": "Name",
                "description": "Campground name."
              },
              "operatingHours": {
                "type": "array",
                "items": {
                  "type": "string",
                  "title": "Operating Hours",
                  "description": "The operating hours."
                },
                "title": "Operating Hours",
                "description": "Hours and seasons when the campground is open or closed."
              },
              "parkCode": {
                "type": "string",
                "title": "Park Code",
                "description": "A variable width character code used to identify a specific park."
              },
              "regulationsoverview": {
                "type": "string",
                "title": "Regulations Overview",
                "description": "Information about campground regulations."
              },
              "regulationsurl": {
                "type": "string",
                "title": "Regulations URL",
                "description": "Link to additional information about campground regulations, if available."
              },
              "reservationsdescription": {
                "type": "string",
                "title": "Reservations Description",
                "description": "General description of the reservation process, if applicable."
              },
              "reservationssitesfirstcome": {
                "type": "string",
                "title": "First Come Sites",
                "description": "Number of sites that are first come, first served (cannot be booked in advance)."
              },
              "reservationssitesreservable": {
                "type": "string",
                "title": "Reservable Sites",
                "description": "Number of sites that can be booked in advance."
              },
              "reservationsurl": {
                "type": "string",
                "title": "Reservations URL",
                "description": "Link to website where reservations can be made."
              },
              "weatheroverview": {
                "type": "string",
                "title": "Weather Overview",
                "description": "General description of the weather in the campground over the course of a year."
              }
            },
            "example": [
              {
                "accessibility": [
                  {
                    "wheelchairaccess": "Some restrooms are wheelchair accessible. The campground is mainly accessed by transit bus, around half of which are wheelchair accessible.",
                    "internetinfo": "Blank",
                    "rvallowed": 0,
                    "cellphoneinfo": "Blank",
                    "firestovepolicy": "Open fires are prohibited at Wonder Lake Campground. Bring a camping stove of some kind to cook your meals.",
                    "rvmaxlength": 0,
                    "additionalinfo": "Blank",
                    "trailermaxlength": 0,
                    "adainfo": "Paths between campsites vary from compact gravel to muddy, rocky surfaces. The campground is laid out with some sites on a small hill above the level of the main campground road, while others are level with or slightly downhill from the level of the road.",
                    "rvinfo": "This is a tent-only campsite; RVs and trailers are prohibited at Wonder Lake.",
                    "accessroads": [
                      "Unpaved Roads - 4WD/High clearance required"
                    ],
                    "trailerallowed": 0,
                    "classifications": [
                      "Limited Development Campground"
                    ]
                  }
                ],
                "addresses": [
                  {
                    "postalCode": 99755,
                    "city": "Denali Park",
                    "stateCode": "AK",
                    "line1": "PO Box 9",
                    "line2": "Blank",
                    "line3": "Blank",
                    "type": "Mailing"
                  },
                  {
                    "postalCode": 99755,
                    "city": "Denali Park",
                    "stateCode": "AK",
                    "line1": "Mile 85, Denali Park Road",
                    "line2": "Blank",
                    "line3": "Blank",
                    "type": "Physical"
                  }
                ],
                "amenities": [
                  {
                    "trashrecyclingcollection": "Yes - seasonal",
                    "toilets": [
                      "Vault Toilets - year round"
[...]
