{
  "swagger": "2.0",
  "info": {
    "title": "NatureLM-Idun-5-MoE",
    "description": "Azure AI Foundry Agent Service (OpenAI responses protocol) for the QMFI-Research NatureLM-Idun-5-MoE research agent.",
    "version": "1.0.0"
  },
  "host": "qmfi-research-project-resource.services.ai.azure.com",
  "basePath": "/api/projects/qmfi-research-project/agents/NatureLM-Idun-5-MoE/endpoint/protocols/openai",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "entra": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/authorize",
      "tokenUrl": "https://login.microsoftonline.com/{tenantId}/oauth2/v2.0/token",
      "scopes": {
        "https://ai.azure.com/.default": "Azure AI Foundry user impersonation"
      }
    }
  },
  "security": [{ "entra": ["https://ai.azure.com/.default"] }],
  "paths": {
    "/responses": {
      "post": {
        "operationId": "CreateResponse",
        "summary": "Invoke the NatureLM-Idun-5-MoE agent",
        "description": "Send a prompt to the agent via the OpenAI responses protocol. The 'model' field MUST be 'model-router'.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2025-05-15-preview"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["model", "input"],
              "properties": {
                "model": {
                  "type": "string",
                  "description": "Must be 'model-router' (not the agent name).",
                  "default": "model-router"
                },
                "input": {
                  "type": "string",
                  "description": "The user prompt to send to the agent."
                },
                "max_output_tokens": {
                  "type": "integer",
                  "default": 256
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent response (OpenAI responses schema).",
            "schema": { "type": "object" }
          },
          "400": {
            "description": "Invalid payload (e.g. model != model-router)."
          }
        }
      }
    }
  }
}
