{
  "swagger": "2.0",
  "info": {
    "title": "TuxMailer",
    "description": "TuxMailer is a tool for email validation and marketing services",
    "version": "1.0",
    "contact": {
      "name": "Mangesh Sambare",
      "url": "https://derbatech.com/",
      "email": "integrations@tuxmailer.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://app.tuxmailer.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://tuxmailer.com/privacy-ploicy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing"
    }
  ],
  "host": "integrations.tuxmailer.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/common/v1/user/validate/email": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email",
                  "title": "Email"
                },
                "domain": {
                  "type": "string",
                  "description": "Domain",
                  "title": "Domain"
                },
                "is_catchall_domain": {
                  "type": "boolean",
                  "description": "Is Catchall Domain",
                  "title": "Is Catchall Domain",
                  "enum": [true, false]
                },
                "is_disposable": {
                  "type": "boolean",
                  "description": "Is Disposable",
                  "title": "Is Disposable",
                  "enum": [true, false]
                },
                "is_free_email_provider": {
                  "type": "boolean",
                  "description": "Is free email provider",
                  "title": "Is free email provider",
                  "enum": [true, false]
                },
                "mail_server_used_for_validation": {
                  "type": "string",
                  "description": "Mail server used for validation",
                  "title": "Mail server used for validation"
                },
                "valid_address": {
                  "type": "boolean",
                  "description": "Valid address",
                  "title": "Valid address",
                  "enum": [true, false]
                },
                "valid_domain": {
                  "type": "boolean",
                  "description": "Valid domain",
                  "title": "Valid domain",
                  "enum": [true, false]
                },
                "valid_smtp": {
                  "type": "boolean",
                  "description": "Valid smtp",
                  "title": "Valid smtp",
                  "enum": [true, false]
                },
                "valid_syntax": {
                  "type": "boolean",
                  "description": "Valid syntax",
                  "title": "Valid syntax",
                  "enum": [true, false]
                },
                "is_role_based": {
                  "type": "boolean",
                  "description": "Is role based",
                  "title": "Is role based",
                  "enum": [true, false]
                },
                "has_full_inbox": {
                  "type": "boolean",
                  "description": "Has Full Inbox",
                  "title": "Has Full Inbox",
                  "enum": [true, false]
                },
                "is_disabled": {
                  "type": "boolean",
                  "description": "Is disabled",
                  "title": "Is disabled",
                  "enum": [true, false]
                },
                "status": {
                  "type": "string",
                  "description": "Status",
                  "title": "Status"
                },
                "details": {
                  "type": "string",
                  "description": "Details",
                  "title": "Details"
                },
                "blacklisted": {
                  "type": "boolean",
                  "description": "Blacklisted",
                  "title": "Blacklisted",
                  "enum": [true, false]
                },
                "billable": {
                  "type": "boolean",
                  "description": "Billable",
                  "title": "Billable",
                  "enum": [true, false]
                }
              }
            }
          }
        },
        "summary": "Validate an Email Address",
        "description": "Validate an email address whenever email is added in lists",
        "operationId": "ValidateEmail",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Email",
            "x-ms-summary": "Email"
          },
          {
            "name": "team_name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Team Name",
            "x-ms-summary": "Team Name"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
