{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Spoonacular Recipe",
    "description": "The spoonacular Nutrition, Recipe, and Food allows you to access over 380,000 recipes, thousands of ingredients, food products, and menu items. Spoonacular Recipe makes it possible to search for recipes using natural language queries, such as \"gluten free brownies without sugar\" or \"low fat vegan cupcakes.\" You can automatically calculate the nutritional information for any recipe, visualize ingredient lists and much more.",
    "contact": {
      "name": "Amjed Ayoub",
      "url": "https://amjedayoub.github.io/portfolio",
      "email": "amjedkayoub@gmail.com"
    }
  },
  "host": "api.spoonacular.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/recipes/{id}/information": {
      "get": {
        "summary": "Get Recipe Information",
        "description": "Use a recipe id to get full information about a recipe, such as ingredients, nutrition, diet and allergen information, etc.",
        "operationId": "GetRecipeInformation",
        "parameters": [
          {
            "name": "includeNutrition",
            "x-ms-summary": "included Nutrition",
            "description": "The included nutrition in the recipe.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "716429",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "image": {
                  "type": "string",
                  "description": "image"
                },
                "imageType": {
                  "type": "string",
                  "description": "imageType"
                },
                "servings": {
                  "type": "integer",
                  "format": "int32",
                  "description": "servings"
                },
                "readyInMinutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "readyInMinutes"
                },
                "license": {
                  "type": "string",
                  "description": "license"
                },
                "sourceName": {
                  "type": "string",
                  "description": "sourceName"
                },
                "sourceUrl": {
                  "type": "string",
                  "description": "sourceUrl"
                },
                "spoonacularSourceUrl": {
                  "type": "string",
                  "description": "spoonacularSourceUrl"
                },
                "aggregateLikes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "aggregateLikes"
                },
                "healthScore": {
                  "type": "integer",
                  "format": "int32",
                  "description": "healthScore"
                },
                "spoonacularScore": {
                  "type": "integer",
                  "format": "int32",
                  "description": "spoonacularScore"
                },
                "pricePerServing": {
                  "type": "number",
                  "format": "float",
                  "description": "pricePerServing"
                },
                "analyzedInstructions": {
                  "type": "array",
                  "items": {},
                  "description": "analyzedInstructions"
                },
                "cheap": {
                  "type": "boolean",
                  "description": "cheap"
                },
                "creditsText": {
                  "type": "string",
                  "description": "creditsText"
                },
                "cuisines": {
                  "type": "array",
                  "items": {},
                  "description": "cuisines"
                },
                "dairyFree": {
                  "type": "boolean",
                  "description": "dairyFree"
                },
                "diets": {
                  "type": "array",
                  "items": {},
                  "description": "diets"
                },
                "gaps": {
                  "type": "string",
                  "description": "gaps"
                },
                "glutenFree": {
                  "type": "boolean",
                  "description": "glutenFree"
                },
                "instructions": {
                  "type": "string",
                  "description": "instructions"
                },
                "ketogenic": {
                  "type": "boolean",
                  "description": "ketogenic"
                },
                "lowFodmap": {
                  "type": "boolean",
                  "description": "lowFodmap"
                },
                "occasions": {
                  "type": "array",
                  "items": {},
                  "description": "occasions"
                },
                "sustainable": {
                  "type": "boolean",
                  "description": "sustainable"
                },
                "vegan": {
                  "type": "boolean",
                  "description": "vegan"
                },
                "vegetarian": {
                  "type": "boolean",
                  "description": "vegetarian"
                },
                "veryHealthy": {
                  "type": "boolean",
                  "description": "veryHealthy"
                },
                "veryPopular": {
                  "type": "boolean",
                  "description": "veryPopular"
                },
                "whole30": {
                  "type": "boolean",
                  "description": "whole30"
                },
                "weightWatcherSmartPoints": {
                  "type": "integer",
                  "format": "int32",
                  "description": "weightWatcherSmartPoints"
                },
                "dishTypes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "dishTypes"
                },
                "extendedIngredients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "aisle": {
                        "type": "string",
                        "description": "aisle"
                      },
                      "amount": {
                        "type": "number",
                        "format": "float",
                        "description": "amount"
                      },
                      "consitency": {
                        "type": "string",
                        "description": "consitency"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "image": {
                        "type": "string",
                        "description": "image"
                      },
                      "measures": {
                        "type": "object",
                        "properties": {
                          "metric": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number",
                                "format": "float",
                                "description": "amount"
                              },
                              "unitLong": {
                                "type": "string",
                                "description": "unitLong"
                              },
                              "unitShort": {
                                "type": "string",
                                "description": "unitShort"
                              }
                            },
                            "description": "metric"
                          },
                          "us": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number",
                                "format": "float",
                                "description": "amount"
                              },
                              "unitLong": {
                                "type": "string",
                                "description": "unitLong"
                              },
                              "unitShort": {
                                "type": "string",
                                "description": "unitShort"
                              }
                            },
                            "description": "us"
                          }
                        },
                        "description": "measures"
                      },
                      "meta": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "meta"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "original": {
                        "type": "string",
                        "description": "original"
                      },
                      "originalName": {
                        "type": "string",
                        "description": "originalName"
                      },
                      "unit": {
                        "type": "string",
                        "description": "unit"
                      }
                    }
                  },
                  "description": "extendedIngredients"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "winePairing": {
                  "type": "object",
                  "properties": {
                    "pairedWines": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "pairedWines"
                    },
                    "pairingText": {
                      "type": "string",
                      "description": "pairingText"
                    },
                    "productMatches": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "price": {
                            "type": "string",
                            "description": "price"
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "imageUrl"
                          },
                          "averageRating": {
                            "type": "number",
                            "format": "float",
                            "description": "averageRating"
                          },
                          "ratingCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "ratingCount"
                          },
                          "score": {
                            "type": "number",
                            "format": "float",
                            "description": "score"
                          },
                          "link": {
                            "type": "string",
                            "description": "link"
                          }
                        }
                      },
                      "description": "productMatches"
                    }
                  },
                  "description": "winePairing"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/similar": {
      "get": {
        "summary": "Get Similar Recipes",
        "description": "Find recipes which are similar to the given one.",
        "operationId": "GetSimilarRecipes",
        "parameters": [
          {
            "name": "number",
            "x-ms-summary": "Number of recipes",
            "description": "Number of returned recipes.",
            "default": "10",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "limitLicense",
            "x-ms-summary": "Limit License",
            "description": "Your Limit License.",
            "default": "true",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "715538",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "title": {
                    "type": "string",
                    "description": "title"
                  },
                  "imageType": {
                    "type": "string",
                    "description": "imageType"
                  },
                  "readyInMinutes": {
                    "type": "integer",
                    "format": "int32",
                    "description": "readyInMinutes"
                  },
                  "servings": {
                    "type": "integer",
                    "format": "int32",
                    "description": "servings"
                  },
                  "sourceUrl": {
                    "type": "string",
                    "description": "sourceUrl"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/tasteWidget.json": {
      "get": {
        "summary": "Taste by ID",
        "description": "Get a recipe's taste. The tastes supported are sweet, salty, sour, bitter, savory, and fatty.",
        "operationId": "TasteById",
        "parameters": [
          {
            "name": "normalize",
            "x-ms-summary": "Normalize",
            "description": "Normalize the recipe.",
            "default": "true",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "69095",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "sweetness": {
                  "type": "number",
                  "format": "float",
                  "description": "sweetness"
                },
                "saltiness": {
                  "type": "number",
                  "format": "float",
                  "description": "saltiness"
                },
                "sourness": {
                  "type": "number",
                  "format": "float",
                  "description": "sourness"
                },
                "bitterness": {
                  "type": "number",
                  "format": "float",
                  "description": "bitterness"
                },
                "savoriness": {
                  "type": "number",
                  "format": "float",
                  "description": "savoriness"
                },
                "fattiness": {
                  "type": "integer",
                  "format": "int32",
                  "description": "fattiness"
                },
                "spiciness": {
                  "type": "integer",
                  "format": "int32",
                  "description": "spiciness"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/equipmentWidget.json": {
      "get": {
        "summary": "Equipment by ID",
        "description": "Get a recipe's equipment list.",
        "operationId": "EquipmentById",
        "parameters": [
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "1003464",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "equipment": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "image": {
                        "type": "string",
                        "description": "image"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "equipment"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/equipmentWidget.png": {
      "get": {
        "summary": "Equipment by ID Image",
        "description": "Visualize a recipe's equipment list as an image.",
        "operationId": "EquipmentByIdImage",
        "parameters": [
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "44860",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/priceBreakdownWidget.json": {
      "get": {
        "summary": "Price Breakdown by ID",
        "description": "Get a recipe's price breakdown data.",
        "operationId": "PriceBreakdownById",
        "parameters": [
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "1003464",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "ingredients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "object",
                        "properties": {
                          "metric": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "unit"
                              },
                              "value": {
                                "type": "number",
                                "format": "float",
                                "description": "value"
                              }
                            },
                            "description": "metric"
                          },
                          "us": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "unit"
                              },
                              "value": {
                                "type": "number",
                                "format": "float",
                                "description": "value"
                              }
                            },
                            "description": "us"
                          }
                        },
                        "description": "amount"
                      },
                      "image": {
                        "type": "string",
                        "description": "image"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "price": {
                        "type": "integer",
                        "format": "int32",
                        "description": "price"
                      }
                    }
                  },
                  "description": "ingredients"
                },
                "totalCost": {
                  "type": "number",
                  "format": "float",
                  "description": "totalCost"
                },
                "totalCostPerServing": {
                  "type": "number",
                  "format": "float",
                  "description": "totalCostPerServing"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/priceBreakdownWidget.png": {
      "get": {
        "summary": "Price Breakdown by ID Image",
        "description": "Visualize a recipe's price breakdown.",
        "operationId": "PriceBreakdownByIdImage",
        "parameters": [
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "1082038",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/ingredientWidget.json": {
      "get": {
        "summary": "Ingredients by ID",
        "description": "Get a recipe's ingredient list.",
        "operationId": "IngredientsById",
        "parameters": [
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "1003464",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "ingredients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "object",
                        "properties": {
                          "metric": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "unit"
                              },
                              "value": {
                                "type": "number",
                                "format": "float",
                                "description": "value"
                              }
                            },
                            "description": "metric"
                          },
                          "us": {
                            "type": "object",
                            "properties": {
                              "unit": {
                                "type": "string",
                                "description": "unit"
                              },
                              "value": {
                                "type": "number",
                                "format": "float",
                                "description": "value"
                              }
                            },
                            "description": "us"
                          }
                        },
                        "description": "amount"
                      },
                      "image": {
                        "type": "string",
                        "description": "image"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "ingredients"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/ingredientWidget.png": {
      "get": {
        "summary": "Ingredients by ID Image",
        "description": "Visualize a recipe's ingredient list.",
        "operationId": "IngredientsByIdImage",
        "parameters": [
          {
            "name": "measure",
            "x-ms-summary": "Measure",
            "description": "The measure for the recipe.",
            "default": "metric",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "1082038",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/nutritionWidget.json": {
      "get": {
        "summary": "Nutrition by ID",
        "description": "Get a recipe's nutrition data.",
        "operationId": "NutritionById",
        "parameters": [
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "1003464",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "calories": {
                  "type": "string",
                  "description": "calories"
                },
                "carbs": {
                  "type": "string",
                  "description": "carbs"
                },
                "fat": {
                  "type": "string",
                  "description": "fat"
                },
                "protein": {
                  "type": "string",
                  "description": "protein"
                },
                "bad": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "amount": {
                        "type": "string",
                        "description": "amount"
                      },
                      "indented": {
                        "type": "boolean",
                        "description": "indented"
                      },
                      "percentOfDailyNeeds": {
                        "type": "number",
                        "format": "float",
                        "description": "percentOfDailyNeeds"
                      }
                    }
                  },
                  "description": "bad"
                },
                "good": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "string",
                        "description": "amount"
                      },
                      "indented": {
                        "type": "boolean",
                        "description": "indented"
                      },
                      "percentOfDailyNeeds": {
                        "type": "number",
                        "format": "float",
                        "description": "percentOfDailyNeeds"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "good"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/nutritionWidget.png": {
      "get": {
        "summary": "Recipe Nutrition by ID Image",
        "description": "Visualize a recipe's nutritional information as an image.",
        "operationId": "RecipeNutritionByIdImage",
        "parameters": [
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "1082038",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/nutritionLabel": {
      "get": {
        "summary": "Recipe Nutrition Label Widget",
        "description": "Get a recipe's nutrition label as an HTML widget.",
        "operationId": "RecipeNutritionLabelWidget",
        "parameters": [
          {
            "name": "defaultCss",
            "x-ms-summary": "Default Css",
            "description": "The default Css.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "showOptionalNutrients",
            "x-ms-summary": "Show Optional Nutrients",
            "description": "Show the optional nutrients.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "showZeroValues",
            "x-ms-summary": "Show Zero Values",
            "description": "Show the zero values.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "showIngredients",
            "x-ms-summary": "Show Ingredients",
            "description": "Show the ingredients.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "641166",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/nutritionLabel.png": {
      "get": {
        "summary": "Recipe Nutrition Label Image",
        "description": "Get a recipe's nutrition label as an image.",
        "operationId": "RecipeNutritionLabelImage",
        "parameters": [
          {
            "name": "showOptionalNutrients",
            "x-ms-summary": "Show Optional Nutrients",
            "description": "Show the optional nutrients.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "showZeroValues",
            "x-ms-summary": "Show Zero Values",
            "description": "Show the zero values.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "showIngredients",
            "x-ms-summary": "Show Ingredients",
            "description": "Show the ingredients.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "641166",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/analyzedInstructions": {
      "get": {
        "summary": "Get Analyzed Recipe Instructions",
        "description": "Get an analyzed breakdown of a recipe's instructions. Each step is enriched with the ingredients and equipment required.",
        "operationId": "GetAnalyzedRecipeInstructions",
        "parameters": [
          {
            "name": "stepBreakdown",
            "x-ms-summary": "Step Breakdown",
            "description": "Step breakdown for the recipe.",
            "default": "true",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "324694",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "parsedInstructions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "steps": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer",
                              "format": "int32",
                              "description": "number"
                            },
                            "step": {
                              "type": "string",
                              "description": "step"
                            },
                            "ingredients": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "localizedName": {
                                    "type": "string",
                                    "description": "localizedName"
                                  },
                                  "image": {
                                    "type": "string",
                                    "description": "image"
                                  }
                                }
                              },
                              "description": "ingredients"
                            },
                            "equipment": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "localizedName": {
                                    "type": "string",
                                    "description": "localizedName"
                                  },
                                  "image": {
                                    "type": "string",
                                    "description": "image"
                                  }
                                }
                              },
                              "description": "equipment"
                            }
                          }
                        },
                        "description": "steps"
                      }
                    }
                  },
                  "description": "parsedInstructions"
                },
                "ingredients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "ingredients"
                },
                "equipment": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "equipment"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/ingredientWidget": {
      "get": {
        "summary": "Ingredients by ID Widget",
        "description": "Visualize a recipe's ingredient list.",
        "operationId": "IngredientsByIdWidget",
        "parameters": [
          {
            "name": "defaultCss",
            "x-ms-summary": "Default Css",
            "description": "The defaultCss for the recipe.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "measure",
            "x-ms-summary": "Measure",
            "description": "The measure for the recipe.",
            "default": "metric",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "1082038",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/tasteWidget": {
      "get": {
        "summary": "Recipe Taste by ID Widget",
        "description": "Get a recipe's taste. The tastes supported are sweet, salty, sour, bitter, savory, and fatty.",
        "operationId": "RecipeTasteByIdWidget",
        "parameters": [
          {
            "name": "normalize",
            "x-ms-summary": "Normalize",
            "description": "Normalize the recipe.",
            "default": "true",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "rgb",
            "x-ms-summary": "RGB",
            "description": "The RGB.",
            "default": "75,192,192",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "69095",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/equipmentWidget": {
      "get": {
        "summary": "Equipment by ID Widget",
        "description": "Visualize a recipe's equipment list.",
        "operationId": "EquipmentByIdWidget",
        "parameters": [
          {
            "name": "defaultCss",
            "x-ms-summary": "Default Css",
            "description": "The defaultCss for the recipe.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "44860",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/priceBreakdownWidget": {
      "get": {
        "summary": "Price Breakdown by ID Widget",
        "description": "Visualize a recipe's price breakdown.",
        "operationId": "PriceBreakdownByIdWidget",
        "parameters": [
          {
            "name": "defaultCss",
            "x-ms-summary": "Default Css",
            "description": "The defaultCss for the recipe.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "1082038",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/summary": {
      "get": {
        "summary": "Summarize Recipe",
        "description": "Automatically generate a short description that summarizes key information about the recipe.",
        "operationId": "SummarizeRecipe",
        "parameters": [
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "4632",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/{id}/nutritionWidget": {
      "get": {
        "summary": "Recipe Nutrition by ID Widget",
        "description": "Visualize a recipe's nutritional information as HTML including CSS.",
        "operationId": "RecipeNutritionByIdWidget",
        "parameters": [
          {
            "name": "defaultCss",
            "x-ms-summary": "Default Css",
            "description": "The defaultCss for the recipe.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "id",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "1082038",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/informationBulk": {
      "get": {
        "summary": "Get Recipe Information Bulk",
        "description": "Get information about multiple recipes at once. This is equivalent to calling the Get Recipe Information endpoint multiple times, but faster.",
        "operationId": "GetRecipeInformationBulk",
        "parameters": [
          {
            "name": "ids",
            "x-ms-summary": "Recipe ID",
            "description": "The ID for the recipe.",
            "default": "715538,716429",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "includeNutrition",
            "x-ms-summary": "included Nutrition",
            "description": "The included nutrition in the recipe.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "title": {
                    "type": "string",
                    "description": "title"
                  },
                  "image": {
                    "type": "string",
                    "description": "image"
                  },
                  "imageType": {
                    "type": "string",
                    "description": "imageType"
                  },
                  "servings": {
                    "type": "integer",
                    "format": "int32",
                    "description": "servings"
                  },
                  "readyInMinutes": {
                    "type": "integer",
                    "format": "int32",
                    "description": "readyInMinutes"
                  },
                  "license": {
                    "type": "string",
                    "description": "license"
                  },
                  "sourceName": {
                    "type": "string",
                    "description": "sourceName"
                  },
                  "sourceUrl": {
                    "type": "string",
                    "description": "sourceUrl"
                  },
                  "spoonacularSourceUrl": {
                    "type": "string",
                    "description": "spoonacularSourceUrl"
                  },
                  "aggregateLikes": {
                    "type": "integer",
                    "format": "int32",
                    "description": "aggregateLikes"
                  },
                  "healthScore": {
                    "type": "integer",
                    "format": "int32",
                    "description": "healthScore"
                  },
                  "spoonacularScore": {
                    "type": "integer",
                    "format": "int32",
                    "description": "spoonacularScore"
                  },
                  "pricePerServing": {
                    "type": "number",
                    "format": "float",
                    "description": "pricePerServing"
                  },
                  "analyzedInstructions": {
                    "type": "array",
                    "items": {},
                    "description": "analyzedInstructions"
                  },
                  "cheap": {
                    "type": "boolean",
                    "description": "cheap"
                  },
                  "creditsText": {
                    "type": "string",
                    "description": "creditsText"
                  },
                  "cuisines": {
                    "type": "array",
                    "items": {},
                    "description": "cuisines"
                  },
                  "dairyFree": {
                    "type": "boolean",
                    "description": "dairyFree"
                  },
                  "diets": {
                    "type": "array",
                    "items": {},
                    "description": "diets"
                  },
                  "gaps": {
                    "type": "string",
                    "description": "gaps"
                  },
                  "glutenFree": {
                    "type": "boolean",
                    "description": "glutenFree"
                  },
                  "instructions": {
                    "type": "string",
                    "description": "instructions"
                  },
                  "ketogenic": {
                    "type": "boolean",
                    "description": "ketogenic"
                  },
                  "lowFodmap": {
                    "type": "boolean",
                    "description": "lowFodmap"
                  },
                  "occasions": {
                    "type": "array",
                    "items": {},
                    "description": "occasions"
                  },
                  "sustainable": {
                    "type": "boolean",
                    "description": "sustainable"
                  },
                  "vegan": {
                    "type": "boolean",
                    "description": "vegan"
                  },
                  "vegetarian": {
                    "type": "boolean",
                    "description": "vegetarian"
                  },
                  "veryHealthy": {
                    "type": "boolean",
                    "description": "veryHealthy"
                  },
                  "veryPopular": {
                    "type": "boolean",
                    "description": "veryPopular"
                  },
                  "whole30": {
                    "type": "boolean",
                    "description": "whole30"
                  },
                  "weightWatcherSmartPoints": {
                    "type": "integer",
                    "format": "int32",
                    "description": "weightWatcherSmartPoints"
                  },
                  "dishTypes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "dishTypes"
                  },
                  "extendedIngredients": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "aisle": {
                          "type": "string",
                          "description": "aisle"
                        },
                        "amount": {
                          "type": "number",
                          "format": "float",
                          "description": "amount"
                        },
                        "consitency": {
                          "type": "string",
                          "description": "consitency"
                        },
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "id"
                        },
                        "image": {
                          "type": "string",
                          "description": "image"
                        },
                        "measures": {
                          "type": "object",
                          "properties": {
                            "metric": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "amount"
                                },
                                "unitLong": {
                                  "type": "string",
                                  "description": "unitLong"
                                },
                                "unitShort": {
                                  "type": "string",
                                  "description": "unitShort"
                                }
                              },
                              "description": "metric"
                            },
                            "us": {
                              "type": "object",
                              "properties": {
                                "amount": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "amount"
                                },
                                "unitLong": {
                                  "type": "string",
                                  "description": "unitLong"
                                },
                                "unitShort": {
                                  "type": "string",
                                  "description": "unitShort"
                                }
                              },
                              "description": "us"
                            }
                          },
                          "description": "measures"
                        },
                        "meta": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "meta"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "original": {
                          "type": "string",
                          "description": "original"
                        },
                        "originalName": {
                          "type": "string",
                          "description": "originalName"
                        },
                        "unit": {
                          "type": "string",
                          "description": "unit"
                        }
                      }
                    },
                    "description": "extendedIngredients"
                  },
                  "summary": {
                    "type": "string",
                    "description": "summary"
                  },
                  "winePairing": {
                    "type": "object",
                    "properties": {
                      "pairedWines": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "pairedWines"
                      },
                      "pairingText": {
                        "type": "string",
                        "description": "pairingText"
                      },
                      "productMatches": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "id"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            },
                            "price": {
                              "type": "string",
                              "description": "price"
                            },
                            "imageUrl": {
                              "type": "string",
                              "description": "imageUrl"
                            },
                            "averageRating": {
                              "type": "number",
                              "format": "float",
                              "description": "averageRating"
                            },
                            "ratingCount": {
                              "type": "integer",
                              "format": "int32",
                              "description": "ratingCount"
                            },
                            "score": {
                              "type": "number",
                              "format": "float",
                              "description": "score"
                            },
                            "link": {
                              "type": "string",
                              "description": "link"
                            }
                          }
                        },
                        "description": "productMatches"
                      }
                    },
                    "description": "winePairing"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/random": {
      "get": {
        "summary": "Get Random Recipes",
        "description": "Find random (popular) recipes. If you need to filter recipes by diet, nutrition etc. you might want to consider using the complex recipe search endpoint and set the sort request parameter to random.",
        "operationId": "GetRandomRecipes",
        "parameters": [
          {
            "name": "limitLicense",
            "x-ms-summary": "Limit License",
            "description": "Your Limit License.",
            "default": "true",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "tags",
            "x-ms-summary": "Tags",
            "description": "The tags for the recipe.",
            "default": "ipsum ea proident amet occaecat",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "number",
            "x-ms-summary": "Number of recipes",
            "description": "The number of returned recipes.",
            "default": "10",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "recipes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "image": {
                        "type": "string",
                        "description": "image"
                      },
                      "imageType": {
                        "type": "string",
                        "description": "imageType"
                      },
                      "servings": {
                        "type": "integer",
                        "format": "int32",
                        "description": "servings"
                      },
                      "readyInMinutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "readyInMinutes"
                      },
                      "license": {
                        "type": "string",
                        "description": "license"
                      },
                      "sourceName": {
                        "type": "string",
                        "description": "sourceName"
                      },
                      "sourceUrl": {
                        "type": "string",
                        "description": "sourceUrl"
                      },
                      "spoonacularSourceUrl": {
                        "type": "string",
                        "description": "spoonacularSourceUrl"
                      },
                      "aggregateLikes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "aggregateLikes"
                      },
                      "healthScore": {
                        "type": "integer",
                        "format": "int32",
                        "description": "healthScore"
                      },
                      "spoonacularScore": {
                        "type": "integer",
                        "format": "int32",
                        "description": "spoonacularScore"
                      },
                      "pricePerServing": {
                        "type": "number",
                        "format": "float",
                        "description": "pricePerServing"
                      },
                      "analyzedInstructions": {
                        "type": "array",
                        "items": {},
                        "description": "analyzedInstructions"
                      },
                      "cheap": {
                        "type": "boolean",
                        "description": "cheap"
                      },
                      "creditsText": {
                        "type": "string",
                        "description": "creditsText"
                      },
                      "cuisines": {
                        "type": "array",
                        "items": {},
                        "description": "cuisines"
                      },
                      "dairyFree": {
                        "type": "boolean",
                        "description": "dairyFree"
                      },
                      "diets": {
                        "type": "array",
                        "items": {},
                        "description": "diets"
                      },
                      "gaps": {
                        "type": "string",
                        "description": "gaps"
                      },
                      "glutenFree": {
                        "type": "boolean",
                        "description": "glutenFree"
                      },
                      "instructions": {
                        "type": "string",
                        "description": "instructions"
                      },
                      "ketogenic": {
                        "type": "boolean",
                        "description": "ketogenic"
                      },
                      "lowFodmap": {
                        "type": "boolean",
                        "description": "lowFodmap"
                      },
                      "occasions": {
                        "type": "array",
                        "items": {},
                        "description": "occasions"
                      },
                      "sustainable": {
                        "type": "boolean",
                        "description": "sustainable"
                      },
                      "vegan": {
                        "type": "boolean",
                        "description": "vegan"
                      },
                      "vegetarian": {
                        "type": "boolean",
                        "description": "vegetarian"
                      },
                      "veryHealthy": {
                        "type": "boolean",
                        "description": "veryHealthy"
                      },
                      "veryPopular": {
                        "type": "boolean",
                        "description": "veryPopular"
                      },
                      "whole30": {
                        "type": "boolean",
                        "description": "whole30"
                      },
                      "weightWatcherSmartPoints": {
                        "type": "integer",
                        "format": "int32",
                        "description": "weightWatcherSmartPoints"
                      },
                      "dishTypes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "dishTypes"
                      },
                      "extendedIngredients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "aisle": {
                              "type": "string",
                              "description": "aisle"
                            },
                            "amount": {
                              "type": "number",
                              "format": "float",
                              "description": "amount"
                            },
                            "consitency": {
                              "type": "string",
                              "description": "consitency"
                            },
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "id"
                            },
                            "image": {
                              "type": "string",
                              "description": "image"
                            },
                            "measures": {
                              "type": "object",
                              "properties": {
                                "metric": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "amount"
                                    },
                                    "unitLong": {
                                      "type": "string",
                                      "description": "unitLong"
                                    },
                                    "unitShort": {
                                      "type": "string",
                                      "description": "unitShort"
                                    }
                                  },
                                  "description": "metric"
                                },
                                "us": {
                                  "type": "object",
                                  "properties": {
                                    "amount": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "amount"
                                    },
                                    "unitLong": {
                                      "type": "string",
                                      "description": "unitLong"
                                    },
                                    "unitShort": {
                                      "type": "string",
                                      "description": "unitShort"
                                    }
                                  },
                                  "description": "us"
                                }
                              },
                              "description": "measures"
                            },
                            "meta": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "meta"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "original": {
                              "type": "string",
                              "description": "original"
                            },
                            "originalName": {
                              "type": "string",
                              "description": "originalName"
                            },
                            "unit": {
                              "type": "string",
                              "description": "unit"
                            }
                          }
                        },
                        "description": "extendedIngredients"
                      },
                      "summary": {
                        "type": "string",
                        "description": "summary"
                      },
                      "winePairing": {
                        "type": "object",
                        "properties": {
                          "pairedWines": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "pairedWines"
                          },
                          "pairingText": {
                            "type": "string",
                            "description": "pairingText"
                          },
                          "productMatches": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "id"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "title"
                                },
                                "description": {
                                  "type": "string",
                                  "description": "description"
                                },
                                "price": {
                                  "type": "string",
                                  "description": "price"
                                },
                                "imageUrl": {
                                  "type": "string",
                                  "description": "imageUrl"
                                },
                                "averageRating": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "averageRating"
                                },
                                "ratingCount": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "ratingCount"
                                },
                                "score": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "score"
                                },
                                "link": {
                                  "type": "string",
                                  "description": "link"
                                }
                              }
                            },
                            "description": "productMatches"
                          }
                        },
                        "description": "winePairing"
                      }
                    }
                  },
                  "description": "recipes"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/autocomplete": {
      "get": {
        "summary": "Autocomplete Recipe Search",
        "description": "Autocomplete a partial input to suggest possible recipe names.",
        "operationId": "AutocompleteRecipeSearch",
        "parameters": [
          {
            "name": "query",
            "x-ms-summary": "Search Query",
            "description": "The search query.",
            "default": "burger",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "number",
            "x-ms-summary": "Number of recipes",
            "description": "The number of returned recipes.",
            "default": "10",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "title": {
                    "type": "string",
                    "description": "title"
                  },
                  "imageType": {
                    "type": "string",
                    "description": "imageType"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/recipes/extract": {
      "get": {
        "summary": "Extract Recipe from Website",
        "description": "This endpoint lets you extract recipe data such as title, ingredients, and instructions from any properly formatted Website.",
        "operationId": "ExtractRecipeFromWebsite",
        "parameters": [
          {
            "name": "url",
            "x-ms-summary": "URL",
            "description": "The website for the recipes.",
            "default": "https://foodista.com/recipe/ZHK4KPB6/chocolate-crinkle-cookies",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "forceExtraction",
            "x-ms-summary": "Force Extraction",
            "description": "Forcing extraction.",
            "default": "true",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "analyze",
            "x-ms-summary": "Analyze",
            "description": "Analyzing.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "includeNutrition",
            "x-ms-summary": "Include Nutrition",
            "description": "Including Nutrition.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          },
          {
            "name": "includeTaste",
            "x-ms-summary": "Include Taste",
            "description": "Including Taste.",
            "default": "false",
            "in": "query",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "image": {
                  "type": "string",
                  "description": "image"
                },
                "imageType": {
                  "type": "string",
                  "description": "imageType"
                },
                "servings": {
                  "type": "integer",
                  "format": "int32",
                  "description": "servings"
                },
                "readyInMinutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "readyInMinutes"
                },
                "license": {
                  "type": "string",
                  "description": "license"
                },
                "sourceName": {
                  "type": "string",
                  "description": "sourceName"
                },
                "sourceUrl": {
                  "type": "string",
                  "description": "sourceUrl"
                },
                "spoonacularSourceUrl": {
                  "type": "string",
                  "description": "spoonacularSourceUrl"
                },
                "aggregateLikes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "aggregateLikes"
                },
                "healthScore": {
                  "type": "integer",
                  "format": "int32",
                  "description": "healthScore"
                },
                "spoonacularScore": {
                  "type": "integer",
                  "format": "int32",
                  "description": "spoonacularScore"
                },
                "pricePerServing": {
                  "type": "number",
                  "format": "float",
                  "description": "pricePerServing"
                },
                "analyzedInstructions": {
                  "type": "array",
                  "items": {},
                  "description": "analyzedInstructions"
                },
                "cheap": {
                  "type": "boolean",
                  "description": "cheap"
                },
                "creditsText": {
                  "type": "string",
                  "description": "creditsText"
                },
                "cuisines": {
                  "type": "array",
                  "items": {},
                  "description": "cuisines"
                },
                "dairyFree": {
                  "type": "boolean",
                  "description": "dairyFree"
                },
                "diets": {
                  "type": "array",
                  "items": {},
                  "description": "diets"
                },
                "gaps": {
                  "type": "string",
                  "description": "gaps"
                },
                "glutenFree": {
                  "type": "boolean",
                  "description": "glutenFree"
                },
                "instructions": {
                  "type": "string",
                  "description": "instructions"
                },
                "ketogenic": {
                  "type": "boolean",
                  "description": "ketogenic"
                },
                "lowFodmap": {
                  "type": "boolean",
                  "description": "lowFodmap"
                },
                "occasions": {
                  "type": "array",
                  "items": {},
                  "description": "occasions"
                },
                "sustainable": {
                  "type": "boolean",
                  "description": "sustainable"
                },
                "vegan": {
                  "type": "boolean",
                  "description": "vegan"
                },
                "vegetarian": {
                  "type": "boolean",
                  "description": "vegetarian"
                },
                "veryHealthy": {
                  "type": "boolean",
                  "description": "veryHealthy"
                },
                "veryPopular": {
                  "type": "boolean",
                  "description": "veryPopular"
                },
                "whole30": {
                  "type": "boolean",
                  "description": "whole30"
                },
                "weightWatcherSmartPoints": {
                  "type": "integer",
                  "format": "int32",
                  "description": "weightWatcherSmartPoints"
                },
                "dishTypes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "dishTypes"
                },
                "extendedIngredients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "aisle": {
                        "type": "string",
                        "description": "aisle"
                      },
                      "amount": {
                        "type": "number",
                        "format": "float",
                        "description": "amount"
                      },
                      "consitency": {
                        "type": "string",
                        "description": "consitency"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "image": {
                        "type": "string",
                        "description": "image"
                      },
                      "measures": {
                        "type": "object",
                        "properties": {
                          "metric": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number",
                                "format": "float",
                                "description": "amount"
                              },
                              "unitLong": {
                                "type": "string",
                                "description": "unitLong"
                              },
                              "unitShort": {
                                "type": "string",
                                "description": "unitShort"
                              }
                            },
                            "description": "metric"
                          },
                          "us": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number",
                                "format": "float",
                                "description": "amount"
                              },
                              "unitLong": {
                                "type": "string",
                                "description": "unitLong"
                              },
                              "unitShort": {
                                "type": "string",
                                "description": "unitShort"
                              }
                            },
                            "description": "us"
                          }
                        },
                        "description": "measures"
                      },
                      "meta": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "meta"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "original": {
                        "type": "string",
                        "description": "original"
                      },
                      "originalName": {
                        "type": "string",
                        "description": "originalName"
                      },
                      "unit": {
                        "type": "string",
                        "description": "unit"
                      }
                    }
                  },
                  "description": "extendedIngredients"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "winePairing": {
                  "type": "object",
                  "properties": {
                    "pairedWines": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "pairedWines"
                    },
                    "pairingText": {
                      "type": "string",
                      "description": "pairingText"
                    },
                    "productMatches": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "price": {
                            "type": "string",
                            "description": "price"
                          },
                          "imageUrl": {
                            "type": "string",
                            "description": "imageUrl"
                          },
[...]
