{
  "swagger": "2.0",
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.leadinfo.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.leadinfo.com/en/legal/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Marketing"
    }
  ],
  "info": {
    "title": "Leadinfo",
    "description": "Connect Leadinfo to your automated workflows to transform website visitors into actionable leads. This connector lets you seamlessly sync real-time company data, visitor behaviour, and contact information with your favourite CRM, ERP, and communication tools.\n\nAutomate lead assignments, trigger instant Slack or Teams notifications for hot prospects, and keep your sales pipeline up to date without manual entry. Turn anonymous traffic into growth opportunities with Leadinfo.",
    "version": "1.0.0",
    "contact": {
      "name": "Leadinfo Support",
      "url": "https://www.leadinfo.com",
      "email": "support@leadinfo.com"
    }
  },
  "host": "api.leadinfo.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/webhook": {
      "x-ms-notification-content": {
        "description": "A company was identified. The payload is the company object, with trigger_id/trigger_name set.",
        "schema": {
          "type": "object",
          "x-ms-summary": "Company",
          "description": "The identified company and its enrichment.",
          "properties": {
            "id": {
              "type": "integer",
              "x-ms-summary": "Company ID",
              "description": "Leadinfo company identifier."
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Name",
              "description": "Company name."
            },
            "company_name": {
              "type": "string",
              "x-ms-summary": "Company name",
              "description": "Trade name, falling back to the legal name."
            },
            "legal_form_name": {
              "type": "string",
              "x-ms-summary": "Legal form name",
              "description": "Legal (registered) company name."
            },
            "purpose": {
              "type": "string",
              "x-ms-summary": "Purpose",
              "description": "Company purpose / description."
            },
            "address": {
              "type": "object",
              "x-ms-summary": "Address",
              "description": "Company address.",
              "properties": {
                "address_line": {
                  "type": "string",
                  "x-ms-summary": "Address line",
                  "description": "Street and house number."
                },
                "postal_code": {
                  "type": "string",
                  "x-ms-summary": "Postal code",
                  "description": "Postal or ZIP code."
                },
                "city": {
                  "type": "string",
                  "x-ms-summary": "City",
                  "description": "City."
                },
                "province": {
                  "type": "string",
                  "x-ms-summary": "Province",
                  "description": "Province or state."
                },
                "country": {
                  "type": "string",
                  "x-ms-summary": "Country",
                  "description": "ISO 3166-1 alpha-2 country code (e.g. NL)."
                }
              }
            },
            "domain": {
              "type": "string",
              "x-ms-summary": "Domain",
              "description": "Primary domain."
            },
            "phone_number": {
              "type": "string",
              "x-ms-summary": "Phone number",
              "description": "Company phone number."
            },
            "founding_date": {
              "type": "string",
              "x-ms-summary": "Founding date",
              "description": "Date the company was founded."
            },
            "email_address": {
              "type": "string",
              "x-ms-summary": "Email address",
              "description": "Company email address."
            },
            "branch": {
              "type": "object",
              "x-ms-summary": "Branch",
              "description": "Industry / branch classification.",
              "properties": {
                "branch_local_01": {
                  "type": "string",
                  "x-ms-summary": "Local branch code",
                  "description": "Local industry code (may contain leading zeros)."
                },
                "branch_local_type": {
                  "type": "string",
                  "x-ms-summary": "Local branch type",
                  "description": "Local classification system."
                },
                "branch_international_01": {
                  "type": "string",
                  "x-ms-summary": "International branch code",
                  "description": "International industry code (e.g. NACE)."
                },
                "branch_international_type": {
                  "type": "string",
                  "x-ms-summary": "International branch type",
                  "description": "International classification system."
                }
              }
            },
            "legal_form": {
              "type": "string",
              "x-ms-summary": "Legal form",
              "description": "Legal form code."
            },
            "company_codes": {
              "type": "object",
              "x-ms-summary": "Company codes",
              "description": "Registration numbers.",
              "properties": {
                "coc_number": {
                  "type": "string",
                  "x-ms-summary": "CoC number",
                  "description": "Chamber of Commerce registration number."
                },
                "vat_number": {
                  "type": "string",
                  "x-ms-summary": "VAT number",
                  "description": "VAT / tax registration number."
                }
              }
            },
            "size": {
              "type": "object",
              "x-ms-summary": "Size",
              "description": "Company size indicators.",
              "properties": {
                "employees_total": {
                  "type": "integer",
                  "x-ms-summary": "Employees (total)",
                  "description": "Total number of employees."
                },
                "employees_primary_location": {
                  "type": "integer",
                  "x-ms-summary": "Employees (primary location)",
                  "description": "Employees at the primary location."
                },
                "sales_volume": {
                  "type": "number",
                  "x-ms-summary": "Sales volume",
                  "description": "Estimated annual sales volume."
                }
              }
            },
            "socials": {
              "type": "object",
              "x-ms-summary": "Socials",
              "description": "Social media profiles.",
              "properties": {
                "linkedin": {
                  "type": "string",
                  "x-ms-summary": "Linkedin",
                  "description": "Linkedin profile URL/handle."
                },
                "twitter": {
                  "type": "string",
                  "x-ms-summary": "Twitter",
                  "description": "Twitter profile URL/handle."
                },
                "facebook": {
                  "type": "string",
                  "x-ms-summary": "Facebook",
                  "description": "Facebook profile URL/handle."
                },
                "instagram": {
                  "type": "string",
                  "x-ms-summary": "Instagram",
                  "description": "Instagram profile URL/handle."
                },
                "youtube": {
                  "type": "string",
                  "x-ms-summary": "Youtube",
                  "description": "Youtube profile URL/handle."
                },
                "github": {
                  "type": "string",
                  "x-ms-summary": "Github",
                  "description": "Github profile URL/handle."
                },
                "pinterest": {
                  "type": "string",
                  "x-ms-summary": "Pinterest",
                  "description": "Pinterest profile URL/handle."
                },
                "dribbble": {
                  "type": "string",
                  "x-ms-summary": "Dribbble",
                  "description": "Dribbble profile URL/handle."
                },
                "xing": {
                  "type": "string",
                  "x-ms-summary": "Xing",
                  "description": "Xing profile URL/handle."
                },
                "whatsapp": {
                  "type": "string",
                  "x-ms-summary": "Whatsapp",
                  "description": "Whatsapp profile URL/handle."
                },
                "vimeo": {
                  "type": "string",
                  "x-ms-summary": "Vimeo",
                  "description": "Vimeo profile URL/handle."
                }
              }
            },
            "comment": {
              "type": "string",
              "x-ms-summary": "Comment",
              "description": "Internal comment, if any."
            },
            "leadinfo_inbox_url": {
              "type": "string",
              "x-ms-summary": "Leadinfo inbox URL",
              "description": "Deep link to this company in the Leadinfo portal."
            },
            "webhook_dispatch_timestamp": {
              "type": "string",
              "x-ms-summary": "Dispatch timestamp",
              "description": "When this webhook was dispatched.",
              "format": "date-time"
            },
            "tags": {
              "type": "array",
              "x-ms-summary": "Tags",
              "description": "Tags on the company.",
              "items": {
                "type": "object",
                "x-ms-summary": "Tag",
                "description": "A tag on the company.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "x-ms-summary": "Tag ID",
                    "description": "Tag identifier."
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Tag name",
                    "description": "Tag name."
                  },
                  "is_global": {
                    "type": "integer",
                    "x-ms-summary": "Is global",
                    "description": "1 if the tag is global, 0 if company-specific."
                  },
                  "company_id": {
                    "type": "integer",
                    "x-ms-summary": "Company ID",
                    "description": "Company the tag belongs to."
                  }
                }
              }
            },
            "visit": {
              "type": "object",
              "x-ms-summary": "Visit",
              "description": "Most recent matching session.",
              "properties": {
                "session_click_id": {
                  "type": "string",
                  "x-ms-summary": "Click ID",
                  "description": "Ad click identifier."
                },
                "session_click_provider": {
                  "type": "string",
                  "x-ms-summary": "Click provider",
                  "description": "Ad click provider."
                },
                "source": {
                  "type": "string",
                  "x-ms-summary": "Source",
                  "description": "Traffic source."
                },
                "medium": {
                  "type": "string",
                  "x-ms-summary": "Medium",
                  "description": "Traffic medium."
                },
                "duration_raw": {
                  "type": "number",
                  "x-ms-summary": "Duration (raw)",
                  "description": "Session duration in seconds."
                },
                "campaign": {
                  "type": "string",
                  "x-ms-summary": "Campaign",
                  "description": "Campaign name."
                },
                "term": {
                  "type": "string",
                  "x-ms-summary": "Term",
                  "description": "Search/keyword term."
                },
                "first_event_at": {
                  "type": "string",
                  "x-ms-summary": "First event at",
                  "description": "Timestamp of the first event.",
                  "format": "date-time"
                },
                "last_event_at": {
                  "type": "string",
                  "x-ms-summary": "Last event at",
                  "description": "Timestamp of the last event.",
                  "format": "date-time"
                }
              }
            },
            "pages": {
              "type": "array",
              "x-ms-summary": "Pages",
              "description": "Page views in the session.",
              "items": {
                "type": "object",
                "x-ms-summary": "Page view",
                "description": "A single page view.",
                "properties": {
                  "url": {
                    "type": "string",
                    "x-ms-summary": "URL",
                    "description": "Page URL."
                  },
                  "title": {
                    "type": "string",
                    "x-ms-summary": "Title",
                    "description": "Page title."
                  },
                  "duration": {
                    "type": "number",
                    "x-ms-summary": "Duration",
                    "description": "Time on page in seconds."
                  },
                  "referrer": {
                    "type": "string",
                    "x-ms-summary": "Referrer",
                    "description": "Referrer URL."
                  }
                }
              }
            },
            "unique_days": {
              "type": "integer",
              "x-ms-summary": "Unique days",
              "description": "Distinct days with page views."
            },
            "sessions": {
              "type": "integer",
              "x-ms-summary": "Sessions",
              "description": "Number of sessions."
            },
            "trigger_id": {
              "type": "integer",
              "x-ms-summary": "Trigger ID",
              "description": "Identifier of the trigger that fired (null for share events)."
            },
            "trigger_name": {
              "type": "string",
              "x-ms-summary": "Trigger name",
              "description": "Name of the trigger that fired (null for share events)."
            }
          }
        }
      },
      "put": {
        "responses": {
          "200": {
            "description": "The webhook subscription was created successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the created webhook subscription."
                },
                "url": {
                  "type": "string",
                  "description": "The callback URL registered for this webhook subscription."
                },
                "type": {
                  "type": "string",
                  "description": "The webhook event type that was registered."
                }
              }
            }
          }
        },
        "summary": "When a company is identified",
        "description": "Triggers when a company is created or linked in Leadinfo.",
        "operationId": "trigger-company",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type",
                  "title": "Type",
                  "default": "trigger",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "type": "string",
                  "description": "The callback URL for the webhook",
                  "title": "Callback URL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "integration": {
                  "type": "string",
                  "description": "integration key",
                  "title": "integration",
                  "x-ms-visibility": "internal",
                  "default": "microsoftpowerautomate"
                }
              },
              "required": [
                "type",
                "url",
                "integration"
              ],
              "x-ms-visibility": "internal"
            },
            "x-ms-visibility": "internal"
          },
          {
            "name": "version",
            "in": "query",
            "type": "string",
            "default": "2",
            "required": true,
            "description": "Webhook payload version. Version 2 delivers the nested company/contact structure.",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/v1/webhook/share_contact": {
      "x-ms-notification-content": {
        "description": "A contact was manually shared. Delivered when a contact is shared to this integration.",
        "schema": {
          "type": "object",
          "x-ms-summary": "Contact share payload",
          "description": "Company with the shared contact.",
          "properties": {
            "company": {
              "type": "object",
              "x-ms-summary": "Company",
              "description": "The identified company and its enrichment.",
              "properties": {
                "id": {
                  "type": "integer",
                  "x-ms-summary": "Company ID",
                  "description": "Leadinfo company identifier."
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name",
                  "description": "Company name."
                },
                "company_name": {
                  "type": "string",
                  "x-ms-summary": "Company name",
                  "description": "Trade name, falling back to the legal name."
                },
                "legal_form_name": {
                  "type": "string",
                  "x-ms-summary": "Legal form name",
                  "description": "Legal (registered) company name."
                },
                "purpose": {
                  "type": "string",
                  "x-ms-summary": "Purpose",
                  "description": "Company purpose / description."
                },
                "address": {
                  "type": "object",
                  "x-ms-summary": "Address",
                  "description": "Company address.",
                  "properties": {
                    "address_line": {
                      "type": "string",
                      "x-ms-summary": "Address line",
                      "description": "Street and house number."
                    },
                    "postal_code": {
                      "type": "string",
                      "x-ms-summary": "Postal code",
                      "description": "Postal or ZIP code."
                    },
                    "city": {
                      "type": "string",
                      "x-ms-summary": "City",
                      "description": "City."
                    },
                    "province": {
                      "type": "string",
                      "x-ms-summary": "Province",
                      "description": "Province or state."
                    },
                    "country": {
                      "type": "string",
                      "x-ms-summary": "Country",
                      "description": "ISO 3166-1 alpha-2 country code (e.g. NL)."
                    }
                  }
                },
                "domain": {
                  "type": "string",
                  "x-ms-summary": "Domain",
                  "description": "Primary domain."
                },
                "phone_number": {
                  "type": "string",
                  "x-ms-summary": "Phone number",
                  "description": "Company phone number."
                },
                "founding_date": {
                  "type": "string",
                  "x-ms-summary": "Founding date",
                  "description": "Date the company was founded."
                },
                "email_address": {
                  "type": "string",
                  "x-ms-summary": "Email address",
                  "description": "Company email address."
                },
                "branch": {
                  "type": "object",
                  "x-ms-summary": "Branch",
                  "description": "Industry / branch classification.",
                  "properties": {
                    "branch_local_01": {
                      "type": "string",
                      "x-ms-summary": "Local branch code",
                      "description": "Local industry code (may contain leading zeros)."
                    },
                    "branch_local_type": {
                      "type": "string",
                      "x-ms-summary": "Local branch type",
                      "description": "Local classification system."
                    },
                    "branch_international_01": {
                      "type": "string",
                      "x-ms-summary": "International branch code",
                      "description": "International industry code (e.g. NACE)."
                    },
                    "branch_international_type": {
                      "type": "string",
                      "x-ms-summary": "International branch type",
                      "description": "International classification system."
                    }
                  }
                },
                "legal_form": {
                  "type": "string",
                  "x-ms-summary": "Legal form",
                  "description": "Legal form code."
                },
                "company_codes": {
                  "type": "object",
                  "x-ms-summary": "Company codes",
                  "description": "Registration numbers.",
                  "properties": {
                    "coc_number": {
                      "type": "string",
                      "x-ms-summary": "CoC number",
                      "description": "Chamber of Commerce registration number."
                    },
                    "vat_number": {
                      "type": "string",
                      "x-ms-summary": "VAT number",
                      "description": "VAT / tax registration number."
                    }
                  }
                },
                "size": {
                  "type": "object",
                  "x-ms-summary": "Size",
                  "description": "Company size indicators.",
                  "properties": {
                    "employees_total": {
                      "type": "integer",
                      "x-ms-summary": "Employees (total)",
                      "description": "Total number of employees."
                    },
                    "employees_primary_location": {
                      "type": "integer",
                      "x-ms-summary": "Employees (primary location)",
                      "description": "Employees at the primary location."
                    },
                    "sales_volume": {
                      "type": "number",
                      "x-ms-summary": "Sales volume",
                      "description": "Estimated annual sales volume."
                    }
                  }
                },
                "socials": {
                  "type": "object",
                  "x-ms-summary": "Socials",
                  "description": "Social media profiles.",
                  "properties": {
                    "linkedin": {
                      "type": "string",
                      "x-ms-summary": "Linkedin",
                      "description": "Linkedin profile URL/handle."
                    },
                    "twitter": {
                      "type": "string",
                      "x-ms-summary": "Twitter",
                      "description": "Twitter profile URL/handle."
                    },
                    "facebook": {
                      "type": "string",
                      "x-ms-summary": "Facebook",
                      "description": "Facebook profile URL/handle."
                    },
                    "instagram": {
                      "type": "string",
                      "x-ms-summary": "Instagram",
                      "description": "Instagram profile URL/handle."
                    },
                    "youtube": {
                      "type": "string",
                      "x-ms-summary": "Youtube",
                      "description": "Youtube profile URL/handle."
                    },
                    "github": {
                      "type": "string",
                      "x-ms-summary": "Github",
                      "description": "Github profile URL/handle."
                    },
                    "pinterest": {
                      "type": "string",
                      "x-ms-summary": "Pinterest",
                      "description": "Pinterest profile URL/handle."
                    },
                    "dribbble": {
                      "type": "string",
                      "x-ms-summary": "Dribbble",
                      "description": "Dribbble profile URL/handle."
                    },
                    "xing": {
                      "type": "string",
                      "x-ms-summary": "Xing",
                      "description": "Xing profile URL/handle."
                    },
                    "whatsapp": {
                      "type": "string",
                      "x-ms-summary": "Whatsapp",
                      "description": "Whatsapp profile URL/handle."
                    },
                    "vimeo": {
                      "type": "string",
                      "x-ms-summary": "Vimeo",
                      "description": "Vimeo profile URL/handle."
                    }
                  }
                },
                "comment": {
                  "type": "string",
                  "x-ms-summary": "Comment",
                  "description": "Internal comment, if any."
                },
                "leadinfo_inbox_url": {
                  "type": "string",
                  "x-ms-summary": "Leadinfo inbox URL",
                  "description": "Deep link to this company in the Leadinfo portal."
                },
                "webhook_dispatch_timestamp": {
                  "type": "string",
                  "x-ms-summary": "Dispatch timestamp",
                  "description": "When this webhook was dispatched.",
                  "format": "date-time"
                },
                "tags": {
                  "type": "array",
                  "x-ms-summary": "Tags",
                  "description": "Tags on the company.",
                  "items": {
                    "type": "object",
                    "x-ms-summary": "Tag",
                    "description": "A tag on the company.",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "x-ms-summary": "Tag ID",
                        "description": "Tag identifier."
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "Tag name",
                        "description": "Tag name."
                      },
                      "is_global": {
                        "type": "integer",
                        "x-ms-summary": "Is global",
                        "description": "1 if the tag is global, 0 if company-specific."
                      },
                      "company_id": {
                        "type": "integer",
                        "x-ms-summary": "Company ID",
                        "description": "Company the tag belongs to."
                      }
                    }
                  }
                },
                "visit": {
                  "type": "object",
                  "x-ms-summary": "Visit",
                  "description": "Most recent matching session.",
                  "properties": {
                    "session_click_id": {
                      "type": "string",
                      "x-ms-summary": "Click ID",
                      "description": "Ad click identifier."
                    },
                    "session_click_provider": {
                      "type": "string",
                      "x-ms-summary": "Click provider",
                      "description": "Ad click provider."
                    },
                    "source": {
                      "type": "string",
                      "x-ms-summary": "Source",
                      "description": "Traffic source."
                    },
                    "medium": {
                      "type": "string",
                      "x-ms-summary": "Medium",
                      "description": "Traffic medium."
                    },
                    "duration_raw": {
                      "type": "number",
                      "x-ms-summary": "Duration (raw)",
                      "description": "Session duration in seconds."
                    },
                    "campaign": {
                      "type": "string",
                      "x-ms-summary": "Campaign",
                      "description": "Campaign name."
                    },
                    "term": {
                      "type": "string",
                      "x-ms-summary": "Term",
                      "description": "Search/keyword term."
                    },
                    "first_event_at": {
                      "type": "string",
                      "x-ms-summary": "First event at",
                      "description": "Timestamp of the first event.",
                      "format": "date-time"
                    },
                    "last_event_at": {
                      "type": "string",
                      "x-ms-summary": "Last event at",
                      "description": "Timestamp of the last event.",
                      "format": "date-time"
                    }
                  }
                },
                "pages": {
                  "type": "array",
                  "x-ms-summary": "Pages",
                  "description": "Page views in the session.",
                  "items": {
                    "type": "object",
                    "x-ms-summary": "Page view",
                    "description": "A single page view.",
                    "properties": {
                      "url": {
                        "type": "string",
                        "x-ms-summary": "URL",
                        "description": "Page URL."
                      },
                      "title": {
                        "type": "string",
                        "x-ms-summary": "Title",
                        "description": "Page title."
                      },
                      "duration": {
                        "type": "number",
                        "x-ms-summary": "Duration",
                        "description": "Time on page in seconds."
                      },
                      "referrer": {
                        "type": "string",
                        "x-ms-summary": "Referrer",
                        "description": "Referrer URL."
                      }
                    }
                  }
                },
                "unique_days": {
                  "type": "integer",
                  "x-ms-summary": "Unique days",
                  "description": "Distinct days with page views."
                },
                "sessions": {
                  "type": "integer",
                  "x-ms-summary": "Sessions",
                  "description": "Number of sessions."
                },
                "trigger_id": {
                  "type": "integer",
                  "x-ms-summary": "Trigger ID",
                  "description": "Identifier of the trigger that fired (null for share events)."
                },
                "trigger_name": {
                  "type": "string",
                  "x-ms-summary": "Trigger name",
                  "description": "Name of the trigger that fired (null for share events)."
                }
              }
            },
            "contact": {
              "type": "object",
              "x-ms-summary": "Contact",
              "description": "A contact at the company.",
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-summary": "Contact ID",
                  "description": "Leadinfo contact identifier."
                },
                "email": {
                  "type": "string",
                  "x-ms-summary": "Email",
                  "description": "Contact email address."
                },
                "first_name": {
                  "type": "string",
                  "x-ms-summary": "First name",
                  "description": "Contact first name."
                },
                "last_name": {
                  "type": "string",
                  "x-ms-summary": "Last name",
                  "description": "Contact last name."
                },
                "xing_url": {
                  "type": "string",
                  "x-ms-summary": "Xing URL",
                  "description": "Xing profile URL."
                },
                "linkedin_url": {
                  "type": "string",
                  "x-ms-summary": "LinkedIn URL",
                  "description": "LinkedIn profile URL."
                },
                "country": {
                  "type": "string",
                  "x-ms-summary": "Country",
                  "description": "ISO 3166-1 alpha-2 country code."
                },
                "position": {
                  "type": "string",
                  "x-ms-summary": "Position",
                  "description": "Job title."
                },
                "position_category": {
                  "type": "string",
                  "x-ms-summary": "Position category",
                  "description": "Job category."
                },
                "twitter": {
                  "type": "string",
                  "x-ms-summary": "Twitter",
                  "description": "Twitter handle/URL."
                },
                "company_phone_number": {
                  "type": "string",
                  "x-ms-summary": "Company phone number",
                  "description": "Company phone number for the contact."
                },
                "responsible_user_id": {
                  "type": "string",
                  "x-ms-summary": "Responsible user ID",
                  "description": "Assigned user (two-way integrations only)."
                }
              }
            }
          }
        }
      },
      "put": {
        "responses": {
          "200": {
            "description": "The webhook subscription was created successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the created webhook subscription."
                },
                "url": {
                  "type": "string",
                  "description": "The callback URL registered for this webhook subscription."
                },
                "type": {
                  "type": "string",
                  "description": "The webhook event type that was registered."
                }
              }
            }
          }
        },
        "summary": "When a contact is shared",
        "description": "Triggers when a contact is shared, including the associated company data.",
        "operationId": "share-contact",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type",
                  "title": "Type",
                  "default": "share_contact",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "integration": {
                  "type": "string",
                  "description": "integration key",
                  "title": "integration",
                  "x-ms-visibility": "internal",
                  "default": "microsoftpowerautomate"
                }
              },
              "required": [
                "url",
                "type",
                "integration"
              ],
              "x-ms-visibility": "internal"
            },
            "x-ms-visibility": "internal"
          },
          {
            "name": "version",
            "in": "query",
            "type": "string",
            "default": "2",
            "required": true,
            "description": "Webhook payload version. Version 2 delivers the nested company/contact structure.",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/v1/webhook/trigger_contact": {
      "x-ms-notification-content": {
        "description": "A contact was identified at a company. Delivered when the contact trigger matches.",
        "schema": {
          "type": "object",
          "x-ms-summary": "Contact trigger payload",
          "description": "Company with the matched contacts.",
          "properties": {
            "company": {
              "type": "object",
              "x-ms-summary": "Company",
              "description": "The identified company and its enrichment.",
              "properties": {
                "id": {
                  "type": "integer",
                  "x-ms-summary": "Company ID",
                  "description": "Leadinfo company identifier."
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name",
                  "description": "Company name."
                },
                "company_name": {
                  "type": "string",
                  "x-ms-summary": "Company name",
                  "description": "Trade name, falling back to the legal name."
                },
                "legal_form_name": {
                  "type": "string",
                  "x-ms-summary": "Legal form name",
                  "description": "Legal (registered) company name."
                },
                "purpose": {
                  "type": "string",
                  "x-ms-summary": "Purpose",
                  "description": "Company purpose / description."
                },
                "address": {
                  "type": "object",
                  "x-ms-summary": "Address",
                  "description": "Company address.",
                  "properties": {
                    "address_line": {
                      "type": "string",
                      "x-ms-summary": "Address line",
                      "description": "Street and house number."
                    },
                    "postal_code": {
                      "type": "string",
                      "x-ms-summary": "Postal code",
                      "description": "Postal or ZIP code."
                    },
                    "city": {
                      "type": "string",
                      "x-ms-summary": "City",
                      "description": "City."
                    },
                    "province": {
                      "type": "string",
                      "x-ms-summary": "Province",
                      "description": "Province or state."
                    },
                    "country": {
                      "type": "string",
                      "x-ms-summary": "Country",
                      "description": "ISO 3166-1 alpha-2 country code (e.g. NL)."
                    }
                  }
                },
                "domain": {
                  "type": "string",
                  "x-ms-summary": "Domain",
                  "description": "Primary domain."
                },
                "phone_number": {
                  "type": "string",
                  "x-ms-summary": "Phone number",
                  "description": "Company phone number."
                },
                "founding_date": {
                  "type": "string",
                  "x-ms-summary": "Founding date",
                  "description": "Date the company was founded."
                },
                "email_address": {
                  "type": "string",
                  "x-ms-summary": "Email address",
                  "description": "Company email address."
                },
                "branch": {
                  "type": "object",
                  "x-ms-summary": "Branch",
                  "description": "Industry / branch classification.",
                  "properties": {
                    "branch_local_01": {
                      "type": "string",
                      "x-ms-summary": "Local branch code",
                      "description": "Local industry code (may contain leading zeros)."
                    },
                    "branch_local_type": {
                      "type": "string",
                      "x-ms-summary": "Local branch type",
                      "description": "Local classification system."
                    },
                    "branch_international_01": {
                      "type": "string",
                      "x-ms-summary": "International branch code",
                      "description": "International industry code (e.g. NACE)."
                    },
                    "branch_international_type": {
                      "type": "string",
                      "x-ms-summary": "International branch type",
                      "description": "International classification system."
                    }
                  }
                },
                "legal_form": {
                  "type": "string",
                  "x-ms-summary": "Legal form",
                  "description": "Legal form code."
                },
                "company_codes": {
                  "type": "object",
                  "x-ms-summary": "Company codes",
                  "description": "Registration numbers.",
                  "properties": {
                    "coc_number": {
                      "type": "string",
                      "x-ms-summary": "CoC number",
                      "description": "Chamber of Commerce registration number."
                    },
                    "vat_number": {
                      "type": "string",
                      "x-ms-summary": "VAT number",
                      "description": "VAT / tax registration number."
                    }
                  }
                },
                "size": {
                  "type": "object",
                  "x-ms-summary": "Size",
                  "description": "Company size indicators.",
                  "properties": {
                    "employees_total": {
                      "type": "integer",
                      "x-ms-summary": "Employees (total)",
                      "description": "Total number of employees."
                    },
                    "employees_primary_location": {
                      "type": "integer",
                      "x-ms-summary": "Employees (primary location)",
                      "description": "Employees at the primary location."
                    },
                    "sales_volume": {
                      "type": "number",
                      "x-ms-summary": "Sales volume",
                      "description": "Estimated annual sales volume."
                    }
                  }
                },
                "socials": {
                  "type": "object",
                  "x-ms-summary": "Socials",
                  "description": "Social media profiles.",
                  "properties": {
                    "linkedin": {
                      "type": "string",
                      "x-ms-summary": "Linkedin",
                      "description": "Linkedin profile URL/handle."
                    },
                    "twitter": {
                      "type": "string",
                      "x-ms-summary": "Twitter",
                      "description": "Twitter profile URL/handle."
                    },
                    "facebook": {
                      "type": "string",
                      "x-ms-summary": "Facebook",
                      "description": "Facebook profile URL/handle."
                    },
                    "instagram": {
                      "type": "string",
                      "x-ms-summary": "Instagram",
                      "description": "Instagram profile URL/handle."
                    },
                    "youtube": {
                      "type": "string",
                      "x-ms-summary": "Youtube",
                      "description": "Youtube profile URL/handle."
                    },
                    "github": {
                      "type": "string",
                      "x-ms-summary": "Github",
                      "description": "Github profile URL/handle."
                    },
                    "pinterest": {
                      "type": "string",
                      "x-ms-summary": "Pinterest",
                      "description": "Pinterest profile URL/handle."
                    },
                    "dribbble": {
                      "type": "string",
                      "x-ms-summary": "Dribbble",
                      "description": "Dribbble profile URL/handle."
                    },
                    "xing": {
                      "type": "string",
                      "x-ms-summary": "Xing",
                      "description": "Xing profile URL/handle."
                    },
                    "whatsapp": {
                      "type": "string",
                      "x-ms-summary": "Whatsapp",
                      "description": "Whatsapp profile URL/handle."
                    },
                    "vimeo": {
                      "type": "string",
                      "x-ms-summary": "Vimeo",
                      "description": "Vimeo profile URL/handle."
                    }
                  }
                },
                "comment": {
                  "type": "string",
                  "x-ms-summary": "Comment",
                  "description": "Internal comment, if any."
                },
                "leadinfo_inbox_url": {
                  "type": "string",
                  "x-ms-summary": "Leadinfo inbox URL",
                  "description": "Deep link to this company in the Leadinfo portal."
                },
                "webhook_dispatch_timestamp": {
                  "type": "string",
                  "x-ms-summary": "Dispatch timestamp",
                  "description": "When this webhook was dispatched.",
                  "format": "date-time"
                },
                "tags": {
                  "type": "array",
                  "x-ms-summary": "Tags",
                  "description": "Tags on the company.",
                  "items": {
                    "type": "object",
                    "x-ms-summary": "Tag",
                    "description": "A tag on the company.",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "x-ms-summary": "Tag ID",
                        "description": "Tag identifier."
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "Tag name",
                        "description": "Tag name."
                      },
                      "is_global": {
                        "type": "integer",
                        "x-ms-summary": "Is global",
                        "description": "1 if the tag is global, 0 if company-specific."
                      },
                      "company_id": {
                        "type": "integer",
                        "x-ms-summary": "Company ID",
                        "description": "Company the tag belongs to."
                      }
                    }
                  }
                },
                "visit": {
                  "type": "object",
                  "x-ms-summary": "Visit",
                  "description": "Most recent matching session.",
                  "properties": {
                    "session_click_id": {
                      "type": "string",
                      "x-ms-summary": "Click ID",
                      "description": "Ad click identifier."
                    },
                    "session_click_provider": {
                      "type": "string",
                      "x-ms-summary": "Click provider",
                      "description": "Ad click provider."
                    },
                    "source": {
                      "type": "string",
                      "x-ms-summary": "Source",
                      "description": "Traffic source."
                    },
                    "medium": {
                      "type": "string",
                      "x-ms-summary": "Medium",
                      "description": "Traffic medium."
                    },
                    "duration_raw": {
                      "type": "number",
                      "x-ms-summary": "Duration (raw)",
                      "description": "Session duration in seconds."
                    },
                    "campaign": {
                      "type": "string",
                      "x-ms-summary": "Campaign",
                      "description": "Campaign name."
                    },
                    "term": {
                      "type": "string",
                      "x-ms-summary": "Term",
                      "description": "Search/keyword term."
                    },
                    "first_event_at": {
                      "type": "string",
                      "x-ms-summary": "First event at",
                      "description": "Timestamp of the first event.",
                      "format": "date-time"
                    },
                    "last_event_at": {
                      "type": "string",
                      "x-ms-summary": "Last event at",
                      "description": "Timestamp of the last event.",
                      "format": "date-time"
                    }
                  }
                },
                "pages": {
                  "type": "array",
                  "x-ms-summary": "Pages",
                  "description": "Page views in the session.",
                  "items": {
                    "type": "object",
                    "x-ms-summary": "Page view",
                    "description": "A single page view.",
                    "properties": {
                      "url": {
                        "type": "string",
                        "x-ms-summary": "URL",
                        "description": "Page URL."
                      },
                      "title": {
                        "type": "string",
                        "x-ms-summary": "Title",
                        "description": "Page title."
                      },
                      "duration": {
                        "type": "number",
                        "x-ms-summary": "Duration",
                        "description": "Time on page in seconds."
                      },
                      "referrer": {
                        "type": "string",
                        "x-ms-summary": "Referrer",
                        "description": "Referrer URL."
                      }
                    }
                  }
                },
                "unique_days": {
                  "type": "integer",
                  "x-ms-summary": "Unique days",
                  "description": "Distinct days with page views."
                },
                "sessions": {
                  "type": "integer",
                  "x-ms-summary": "Sessions",
                  "description": "Number of sessions."
                },
                "trigger_id": {
                  "type": "integer",
                  "x-ms-summary": "Trigger ID",
                  "description": "Identifier of the trigger that fired (null for share events)."
                },
                "trigger_name": {
                  "type": "string",
                  "x-ms-summary": "Trigger name",
                  "description": "Name of the trigger that fired (null for share events)."
                }
              }
            },
            "contacts": {
              "type": "array",
              "x-ms-summary": "Contacts",
              "description": "Matched contacts.",
              "items": {
                "type": "object",
                "x-ms-summary": "Contact",
                "description": "A contact at the company.",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Contact ID",
                    "description": "Leadinfo contact identifier."
                  },
                  "email": {
                    "type": "string",
                    "x-ms-summary": "Email",
                    "description": "Contact email address."
                  },
                  "first_name": {
                    "type": "string",
                    "x-ms-summary": "First name",
                    "description": "Contact first name."
                  },
                  "last_name": {
                    "type": "string",
                    "x-ms-summary": "Last name",
                    "description": "Contact last name."
                  },
                  "xing_url": {
                    "type": "string",
                    "x-ms-summary": "Xing URL",
                    "description": "Xing profile URL."
                  },
                  "linkedin_url": {
                    "type": "string",
                    "x-ms-summary": "LinkedIn URL",
                    "description": "LinkedIn profile URL."
                  },
                  "country": {
                    "type": "string",
                    "x-ms-summary": "Country",
                    "description": "ISO 3166-1 alpha-2 country code."
                  },
                  "position": {
                    "type": "string",
                    "x-ms-summary": "Position",
                    "description": "Job title."
                  },
                  "position_category": {
                    "type": "string",
                    "x-ms-summary": "Position category",
                    "description": "Job category."
                  },
                  "twitter": {
                    "type": "string",
                    "x-ms-summary": "Twitter",
                    "description": "Twitter handle/URL."
                  },
                  "company_phone_number": {
                    "type": "string",
                    "x-ms-summary": "Company phone number",
                    "description": "Company phone number for the contact."
                  },
                  "responsible_user_id": {
                    "type": "string",
                    "x-ms-summary": "Responsible user ID",
                    "description": "Assigned user (two-way integrations only)."
                  }
                }
              }
            },
            "trigger_id": {
              "type": "integer",
              "x-ms-summary": "Trigger ID",
              "description": "Identifier of the contact trigger that fired."
            },
            "trigger_name": {
              "type": "string",
              "x-ms-summary": "Trigger name",
              "description": "Name of the contact trigger that fired."
            }
          }
        }
      },
      "put": {
        "responses": {
          "200": {
            "description": "The webhook subscription was created successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the created webhook subscription."
                },
                "url": {
                  "type": "string",
                  "description": "The callback URL registered for this webhook subscription."
                },
                "type": {
                  "type": "string",
                  "description": "The webhook event type that was registered."
                }
              }
            }
          }
        },
        "summary": "When a contact is identified",
        "description": "Triggers when a contact is identified, including the associated company data.",
        "operationId": "trigger-contact",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type",
                  "title": "Type",
                  "default": "trigger_contact",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "integration": {
                  "type": "string",
                  "description": "integration key",
                  "title": "integration",
                  "x-ms-visibility": "internal",
                  "default": "microsoftpowerautomate"
                }
              },
              "required": [
                "url",
                "type",
                "integration"
              ],
              "x-ms-visibility": "internal"
            },
            "x-ms-visibility": "internal"
          },
          {
            "name": "version",
            "in": "query",
            "type": "string",
            "default": "2",
            "required": true,
            "description": "Webhook payload version. Version 2 delivers the nested company/contact structure.",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/v1/webhook/share": {
      "x-ms-notification-content": {
        "description": "Company data was shared. The payload is the company object; trigger_id/trigger_name are null.",
        "schema": {
          "type": "object",
          "x-ms-summary": "Company",
          "description": "The identified company and its enrichment.",
          "properties": {
            "id": {
              "type": "integer",
              "x-ms-summary": "Company ID",
              "description": "Leadinfo company identifier."
            },
            "name": {
              "type": "string",
              "x-ms-summary": "Name",
              "description": "Company name."
            },
            "company_name": {
              "type": "string",
              "x-ms-summary": "Company name",
              "description": "Trade name, falling back to the legal name."
            },
            "legal_form_name": {
              "type": "string",
              "x-ms-summary": "Legal form name",
              "description": "Legal (registered) company name."
            },
            "purpose": {
              "type": "string",
              "x-ms-summary": "Purpose",
              "description": "Company purpose / description."
            },
            "address": {
              "type": "object",
              "x-ms-summary": "Address",
              "description": "Company address.",
              "properties": {
                "address_line": {
                  "type": "string",
                  "x-ms-summary": "Address line",
                  "description": "Street and house number."
                },
                "postal_code": {
                  "type": "string",
                  "x-ms-summary": "Postal code",
                  "description": "Postal or ZIP code."
                },
                "city": {
                  "type": "string",
                  "x-ms-summary": "City",
                  "description": "City."
                },
                "province": {
                  "type": "string",
                  "x-ms-summary": "Province",
                  "description": "Province or state."
                },
                "country": {
                  "type": "string",
                  "x-ms-summary": "Country",
                  "description": "ISO 3166-1 alpha-2 country code (e.g. NL)."
                }
              }
            },
            "domain": {
              "type": "string",
              "x-ms-summary": "Domain",
              "description": "Primary domain."
            },
            "phone_number": {
              "type": "string",
              "x-ms-summary": "Phone number",
              "description": "Company phone number."
            },
            "founding_date": {
              "type": "string",
              "x-ms-summary": "Founding date",
              "description": "Date the company was founded."
            },
            "email_address": {
              "type": "string",
              "x-ms-summary": "Email address",
              "description": "Company email address."
            },
            "branch": {
              "type": "object",
              "x-ms-summary": "Branch",
              "description": "Industry / branch classification.",
              "properties": {
                "branch_local_01": {
                  "type": "string",
                  "x-ms-summary": "Local branch code",
                  "description": "Local industry code (may contain leading zeros)."
                },
                "branch_local_type": {
                  "type": "string",
                  "x-ms-summary": "Local branch type",
                  "description": "Local classification system."
                },
                "branch_international_01": {
                  "type": "string",
                  "x-ms-summary": "International branch code",
                  "description": "International industry code (e.g. NACE)."
                },
                "branch_international_type": {
                  "type": "string",
                  "x-ms-summary": "International branch type",
                  "description": "International classification system."
                }
              }
            },
            "legal_form": {
              "type": "string",
              "x-ms-summary": "Legal form",
              "description": "Legal form code."
            },
            "company_codes": {
              "type": "object",
              "x-ms-summary": "Company codes",
              "description": "Registration numbers.",
              "properties": {
                "coc_number": {
                  "type": "string",
                  "x-ms-summary": "CoC number",
                  "description": "Chamber of Commerce registration number."
                },
                "vat_number": {
                  "type": "string",
                  "x-ms-summary": "VAT number",
                  "description": "VAT / tax registration number."
                }
              }
            },
            "size": {
              "type": "object",
              "x-ms-summary": "Size",
              "description": "Company size indicators.",
              "properties": {
                "employees_total": {
                  "type": "integer",
                  "x-ms-summary": "Employees (total)",
                  "description": "Total number of employees."
                },
                "employees_primary_location": {
                  "type": "integer",
                  "x-ms-summary": "Employees (primary location)",
                  "description": "Employees at the primary location."
                },
                "sales_volume": {
                  "type": "number",
                  "x-ms-summary": "Sales volume",
                  "description": "Estimated annual sales volume."
                }
              }
            },
            "socials": {
              "type": "object",
              "x-ms-summary": "Socials",
              "description": "Social media profiles.",
              "properties": {
                "linkedin": {
                  "type": "string",
                  "x-ms-summary": "Linkedin",
                  "description": "Linkedin profile URL/handle."
                },
                "twitter": {
                  "type": "string",
                  "x-ms-summary": "Twitter",
                  "description": "Twitter profile URL/handle."
                },
                "facebook": {
                  "type": "string",
                  "x-ms-summary": "Facebook",
                  "description": "Facebook profile URL/handle."
                },
                "instagram": {
                  "type": "string",
                  "x-ms-summary": "Instagram",
                  "description": "Instagram profile URL/handle."
                },
                "youtube": {
                  "type": "string",
                  "x-ms-summary": "Youtube",
                  "description": "Youtube profile URL/handle."
                },
                "github": {
                  "type": "string",
                  "x-ms-summary": "Github",
                  "description": "Github profile URL/handle."
                },
                "pinterest": {
                  "type": "string",
                  "x-ms-summary": "Pinterest",
                  "description": "Pinterest profile URL/handle."
                },
                "dribbble": {
                  "type": "string",
                  "x-ms-summary": "Dribbble",
                  "description": "Dribbble profile URL/handle."
                },
                "xing": {
                  "type": "string",
                  "x-ms-summary": "Xing",
                  "description": "Xing profile URL/handle."
                },
                "whatsapp": {
                  "type": "string",
                  "x-ms-summary": "Whatsapp",
                  "description": "Whatsapp profile URL/handle."
                },
                "vimeo": {
                  "type": "string",
                  "x-ms-summary": "Vimeo",
                  "description": "Vimeo profile URL/handle."
                }
              }
            },
            "comment": {
              "type": "string",
              "x-ms-summary": "Comment",
              "description": "Internal comment, if any."
            },
            "leadinfo_inbox_url": {
              "type": "string",
              "x-ms-summary": "Leadinfo inbox URL",
              "description": "Deep link to this company in the Leadinfo portal."
            },
            "webhook_dispatch_timestamp": {
              "type": "string",
              "x-ms-summary": "Dispatch timestamp",
              "description": "When this webhook was dispatched.",
              "format": "date-time"
            },
            "tags": {
              "type": "array",
              "x-ms-summary": "Tags",
              "description": "Tags on the company.",
              "items": {
                "type": "object",
                "x-ms-summary": "Tag",
                "description": "A tag on the company.",
                "properties": {
                  "id": {
                    "type": "integer",
                    "x-ms-summary": "Tag ID",
                    "description": "Tag identifier."
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Tag name",
                    "description": "Tag name."
                  },
                  "is_global": {
                    "type": "integer",
                    "x-ms-summary": "Is global",
                    "description": "1 if the tag is global, 0 if company-specific."
                  },
                  "company_id": {
                    "type": "integer",
                    "x-ms-summary": "Company ID",
                    "description": "Company the tag belongs to."
                  }
                }
              }
            },
            "visit": {
              "type": "object",
              "x-ms-summary": "Visit",
              "description": "Most recent matching session.",
              "properties": {
                "session_click_id": {
                  "type": "string",
                  "x-ms-summary": "Click ID",
                  "description": "Ad click identifier."
                },
                "session_click_provider": {
                  "type": "string",
                  "x-ms-summary": "Click provider",
                  "description": "Ad click provider."
                },
                "source": {
                  "type": "string",
                  "x-ms-summary": "Source",
                  "description": "Traffic source."
                },
                "medium": {
                  "type": "string",
                  "x-ms-summary": "Medium",
                  "description": "Traffic medium."
                },
                "duration_raw": {
                  "type": "number",
                  "x-ms-summary": "Duration (raw)",
                  "description": "Session duration in seconds."
                },
                "campaign": {
                  "type": "string",
                  "x-ms-summary": "Campaign",
                  "description": "Campaign name."
                },
                "term": {
                  "type": "string",
                  "x-ms-summary": "Term",
                  "description": "Search/keyword term."
                },
                "first_event_at": {
                  "type": "string",
                  "x-ms-summary": "First event at",
                  "description": "Timestamp of the first event.",
                  "format": "date-time"
                },
                "last_event_at": {
                  "type": "string",
                  "x-ms-summary": "Last event at",
                  "description": "Timestamp of the last event.",
                  "format": "date-time"
                }
              }
            },
            "pages": {
              "type": "array",
              "x-ms-summary": "Pages",
              "description": "Page views in the session.",
              "items": {
                "type": "object",
                "x-ms-summary": "Page view",
                "description": "A single page view.",
                "properties": {
                  "url": {
                    "type": "string",
                    "x-ms-summary": "URL",
                    "description": "Page URL."
                  },
                  "title": {
                    "type": "string",
                    "x-ms-summary": "Title",
                    "description": "Page title."
                  },
                  "duration": {
                    "type": "number",
                    "x-ms-summary": "Duration",
                    "description": "Time on page in seconds."
                  },
                  "referrer": {
                    "type": "string",
                    "x-ms-summary": "Referrer",
                    "description": "Referrer URL."
                  }
                }
              }
            },
            "unique_days": {
              "type": "integer",
              "x-ms-summary": "Unique days",
              "description": "Distinct days with page views."
            },
            "sessions": {
              "type": "integer",
              "x-ms-summary": "Sessions",
              "description": "Number of sessions."
            },
            "trigger_id": {
              "type": "integer",
              "x-ms-summary": "Trigger ID",
              "description": "Identifier of the trigger that fired (null for share events)."
            },
            "trigger_name": {
              "type": "string",
              "x-ms-summary": "Trigger name",
              "description": "Name of the trigger that fired (null for share events)."
            }
          }
        }
      },
      "put": {
        "responses": {
          "200": {
            "description": "The webhook subscription was created successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier of the created webhook subscription."
                },
                "url": {
                  "type": "string",
                  "description": "The callback URL registered for this webhook subscription."
                },
                "type": {
                  "type": "string",
                  "description": "The webhook event type that was registered."
                }
              }
            }
          }
        },
        "summary": "When company data is shared",
        "operationId": "share-company",
        "description": "Triggers when company data is shared from Leadinfo.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type",
                  "title": "type",
                  "default": "share",
                  "x-ms-visibility": "internal"
                },
                "integration": {
                  "type": "string",
                  "description": "integration",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "microsoftpowerautomate"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "URL callback",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "url",
                "integration",
                "type"
              ],
              "x-ms-visibility": "internal"
            },
            "x-ms-visibility": "internal"
          },
          {
            "name": "version",
            "in": "query",
            "type": "string",
            "default": "2",
            "required": true,
            "description": "Webhook payload version. Version 2 delivers the nested company/contact structure.",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "security": [
    {
      "oauth2-auth": [
        "webhook"
      ]
    }
  ],
  "tags": [],
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://portal.leadinfo.com/oauth2",
      "tokenUrl": "https://api.leadinfo.com/oauth2/token",
      "scopes": {
        "webhook": "webhook"
      }
    }
  }
}
