{
  "swagger": "2.0",
  "info": {
    "title": "Leadinfo",
    "description": "Leadinfo enables you to see real-time which companies are visiting your website and what pages they're viewing. By installing this app you can easily share recognized companies with your team from our portal! You need a Leadinfo account to use this App. You can request a free 14-day trial on our website: https://portal.leadinfo.com/registration.",
    "version": "1.0",
    "contact": {
      "name": "Support",
      "url": "https://www.leadinfo.com/en/contact/",
      "email": "support@leadinfo.com"
    }
  },
  "host": "api.leadinfo.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/webhook": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "id"
            },
            "name": {
              "type": "string",
              "description": "name"
            },
            "purpose": {
              "type": "string",
              "description": "purpose"
            },
            "address1": {
              "type": "string",
              "description": "address1"
            },
            "address2": {
              "type": "string",
              "description": "address2"
            },
            "address3": {
              "type": "string",
              "description": "address3"
            },
            "postal_code": {
              "type": "string",
              "description": "postal_code"
            },
            "city": {
              "type": "string",
              "description": "city"
            },
            "province": {
              "type": "string",
              "description": "province"
            },
            "country": {
              "type": "string",
              "description": "country"
            },
            "domain": {
              "type": "string",
              "description": "domain"
            },
            "phone_number": {
              "type": "string",
              "description": "phone_number"
            },
            "founding_date": {
              "type": "string",
              "description": "founding_date"
            },
            "coc_number": {
              "type": "string",
              "description": "coc_number"
            },
            "email_address": {
              "type": "string",
              "description": "email_address"
            },
            "branch_local_01": {
              "type": "string",
              "description": "branch_local_01"
            },
            "branch_local_type": {
              "type": "string",
              "description": "branch_local_type"
            },
            "branch_international_01": {
              "type": "string",
              "description": "branch_international_01"
            },
            "branch_international_type": {
              "type": "string",
              "description": "branch_international_type"
            },
            "legal_form": {
              "type": "string",
              "description": "legal_form"
            },
            "vat_number": {
              "type": "string",
              "description": "vat_number"
            },
            "employees": {
              "type": "integer",
              "format": "int32",
              "description": "employees"
            },
            "employees_total": {
              "type": "string",
              "description": "employees_total"
            },
            "tags": {
              "type": "string",
              "description": "tags"
            },
            "sales_volume": {
              "type": "string",
              "description": "sales_volume"
            },
            "comment": {
              "type": "string",
              "description": "comment"
            },
            "sales_volume_raw": {
              "type": "integer",
              "format": "int32",
              "description": "sales_volume_raw"
            },
            "sales_volume_symbol": {
              "type": "string",
              "description": "sales_volume_symbol"
            },
            "website_url": {
              "type": "string",
              "description": "website_url"
            },
            "inbox_url": {
              "type": "string",
              "description": "inbox_url"
            },
            "legal_form_name": {
              "type": "string",
              "description": "legal_form_name"
            },
            "founding_year": {
              "type": "string",
              "description": "founding_year"
            },
            "branch_name": {
              "type": "string",
              "description": "branch_name"
            },
            "branch_local_01_name": {
              "type": "string",
              "description": "branch_local_01_name"
            },
            "branch_international_01_name": {
              "type": "string",
              "description": "branch_international_01_name"
            },
            "linkedin": {
              "type": "string",
              "description": "linkedin"
            },
            "xing": {
              "type": "string",
              "description": "xing"
            },
            "leadinfo_link": {
              "type": "string",
              "description": "leadinfo_link"
            },
            "timestamp": {
              "type": "string",
              "description": "timestamp"
            },
            "page_url_first_visit": {
              "type": "string",
              "description": "page_url_first_visit"
            },
            "branch_code": {
              "type": "string",
              "description": "branch_code"
            },
            "branch_code_international": {
              "type": "string",
              "description": "branch_code_international"
            }
          }
        },
        "description": "webhook response"
      },
      "put": {
        "summary": "Triggers when a company is sent",
        "description": "Triggers when a company is sent",
        "responses": {
          "201": {
            "description": "success"
          }
        },
        "operationId": "WebhookCompanyTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "integration": {
                  "type": "string",
                  "description": "integration",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "microsoftpowerautomate"
                },
                "type": {
                  "type": "string",
                  "description": "Flow type",
                  "title": "Type",
                  "default": "share",
                  "enum": [
                    "share",
                    "trigger"
                  ]
                }
              },
              "required": [
                "url",
                "integration",
                "type"
              ]
            }
          }
        ]
      }
    },
    "/v1/webhook/{id}": {
      "delete": {
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Delete webhook",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://portal.leadinfo.com/oauth2",
      "tokenUrl": "https://api.leadinfo.com/oauth2/token",
      "scopes": {
        "webhook": "webhook"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "webhook"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.leadinfo.com/en/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.leadinfo.com/en/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ]
}
