{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Create Asset Oxmaint",
    "description": "The Create Asset connector (Oxmaint) allows users to add new assets with relevant metadata and properties for efficient tracking and management. Designed for CMMS, it simplifies the creation of assets, supporting maintenance planning and work order management.",
    "contact": {
      "name": "Oxmaint Support",
      "url": "https://oxmaint.com/contact.html",
      "email": "contact@oxmaint.com"
    }
  },
  "host": "prod-159.westeurope.logic.azure.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/workflows/f69e2b964d004fcda49211cd833c1d7a/triggers/manual/paths/invoke": {
      "post": {
        "summary": "Create Asset Oxmaint",
        "description": "Create Asset Oxmaint",
        "operationId": "CreateAssetOxmaint",
        "parameters": [
          {
            "name": "api-version",
            "default": "2016-06-01",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sp",
            "default": "/triggers/manual/run",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sv",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sig",
            "default": "e1Bay5YiG_B1KToqF56qsIf_y8pl44y2ILkvBMbrFbA",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "user_email": {
                  "type": "string",
                  "description": "user_email",
                  "title": "*Master Email",
                  "x-ms-visibility": "important"
                },
                "password": {
                  "type": "string",
                  "description": "password",
                  "title": "Password",
                  "x-ms-visibility": "important"
                },
                "asset_type": {
                  "type": "string",
                  "description": "asset type",
                  "title": "Asset Type",
                  "enum": [
                    "Machine",
                    "Asset"
                  ],
                  "x-ms-visibility": "important"
                },
                "vehicle_name": {
                  "type": "string",
                  "description": "asset name",
                  "title": "Asset Name",
                  "x-ms-visibility": "important"
                },
                "vehicle_serial": {
                  "type": "string",
                  "description": "asset number",
                  "title": "Asset Number",
                  "x-ms-visibility": "important"
                },
                "vehicle_category": {
                  "type": "string",
                  "description": "asset category",
                  "title": "Asset Category",
                  "x-ms-visibility": "important"
                },
                "vehicle_model": {
                  "type": "string",
                  "description": "asset model",
                  "title": "Asset Model",
                  "x-ms-visibility": "important"
                },
                "odometer": {
                  "type": "string",
                  "description": "odometer",
                  "title": "Odometer",
                  "format": "byte",
                  "default": "0m"
                },
                "odometer_unit": {
                  "type": "string",
                  "description": "odometer_unit",
                  "title": "Odometer Unit",
                  "enum": [
                    "Hours",
                    "Miles",
                    "KM"
                  ],
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "Status",
                  "enum": [
                    "Available",
                    "In Maintenance",
                    "Maintenance Required",
                    "Breakdown",
                    "Discontinue",
                    "Deployed",
                    "Idle"
                  ],
                  "x-ms-visibility": "important"
                },
                "vehicle_operator": {
                  "type": "string",
                  "description": "asset operator",
                  "title": "Asset Operator"
                }
              },
              "default": {
                "user_email": "jasmine@gmail.om ",
                "password": "123456",
                "asset_type": "Machine",
                "vehicle_name": "sachin test",
                "vehicle_serial": "asf23",
                "vehicle_category": "asd",
                "vehicle_model": "safd",
                "odometer": "213",
                "odometer_unit": "Hours",
                "status": "Available",
                "vehicle_operator": "sdfghj"
              },
              "required": [
                "odometer",
                "odometer_unit",
                "password",
                "status",
                "vehicle_category",
                "vehicle_model",
                "vehicle_name",
                "vehicle_operator",
                "vehicle_serial",
                "asset_type",
                "user_email"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "Operation Failed",
            "schema": {}
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://oxmaint.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://oxmaint.com/legal/privacy-policy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
