{
  "swagger": "2.0",
  "info": {
    "title": "MSDS Chain",
    "description": "Chemical safety intelligence — 21 tools for compatibility, hazard, PPE, storage, regulatory compliance, transport, waste disposal, chemical substitution, first aid, GHS labels, and signed audit reports.",
    "version": "1.0.0",
    "contact": {
      "name": "LAgentBot Pte. Ltd.",
      "url": "https://msdschain.lagentbot.com",
      "email": "contact@lagentbot.com"
    }
  },
  "host": "mcp.lagentbot.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-Key"
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://msdschain.lagentbot.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://msdschain.lagentbot.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Productivity"
    }
  ],
  "x-ms-api-annotation": {
    "status": "Production"
  },
  "paths": {
    "/tools/check_chemical_compatibility": {
      "post": {
        "operationId": "CheckChemicalCompatibility",
        "summary": "Check chemical compatibility",
        "description": "Performs pairwise compatibility analysis for a list of two or more chemicals using NFPA classification rules and returns hazard combinations.",
        "x-ms-summary": "Check chemical compatibility",
        "tags": ["Safety Assessment"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemicals"],
              "properties": {
                "chemicals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 2,
                  "x-ms-summary": "Chemicals",
                  "description": "List of at least two chemical names or CAS numbers to analyze for compatibility."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Compatibility analysis completed successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/get_chemical_risk_warnings": {
      "post": {
        "operationId": "GetChemicalRiskWarnings",
        "summary": "Get chemical risk warnings",
        "description": "Returns GHS classification details including H-codes, signal words, hazard statements, and flash points for the specified chemicals.",
        "x-ms-summary": "Get chemical risk warnings",
        "tags": ["Safety Assessment"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemicals"],
              "properties": {
                "chemicals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Chemicals",
                  "description": "List of chemical names or CAS numbers for which to retrieve GHS risk warnings."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Risk warnings retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/check_regulatory_compliance": {
      "post": {
        "operationId": "CheckRegulatoryCompliance",
        "summary": "Check regulatory compliance",
        "description": "Checks the regulatory status of chemicals against EU REACH/CLP, US OSHA/TSCA, and other regional frameworks for the specified regions.",
        "x-ms-summary": "Check regulatory compliance",
        "tags": ["Regulatory Compliance"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemicals"],
              "properties": {
                "chemicals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Chemicals",
                  "description": "List of chemical names or CAS numbers to check for regulatory compliance."
                },
                "regions": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": ["EU", "US", "CN", "JP", "KR", "CA", "AU", "TW"]
                  },
                  "x-ms-summary": "Regions",
                  "description": "Optional list of region codes to scope the compliance check (EU, US, CN, JP, KR, CA, AU, TW). Defaults to all regions when omitted."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Regulatory compliance check completed successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/ask_chemical_safety": {
      "post": {
        "operationId": "AskChemicalSafety",
        "summary": "Ask a chemical safety question",
        "description": "Answers a natural language question about chemical safety, hazards, handling, or regulations using the MSDS Chain knowledge base.",
        "x-ms-summary": "Ask a chemical safety question",
        "tags": ["Safety Assessment"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["question"],
              "properties": {
                "question": {
                  "type": "string",
                  "x-ms-summary": "Question",
                  "description": "A natural language question about chemical safety, handling, hazards, or regulatory compliance."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chemical safety question answered successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/get_ppe_recommendation": {
      "post": {
        "operationId": "GetPpeRecommendation",
        "summary": "Get PPE recommendation",
        "description": "Returns personal protective equipment (PPE) recommendations including glove type, eye protection, respiratory protection, and body protection for the specified chemicals.",
        "x-ms-summary": "Get PPE recommendation",
        "tags": ["Handling and Storage"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemicals"],
              "properties": {
                "chemicals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Chemicals",
                  "description": "List of chemical names or CAS numbers for which to generate PPE recommendations."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PPE recommendations retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/get_storage_guidance": {
      "post": {
        "operationId": "GetStorageGuidance",
        "summary": "Get storage guidance",
        "description": "Returns storage class, cabinet type, temperature requirements, and chemical isolation rules for safe storage of the specified chemicals.",
        "x-ms-summary": "Get storage guidance",
        "tags": ["Handling and Storage"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemicals"],
              "properties": {
                "chemicals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Chemicals",
                  "description": "List of chemical names or CAS numbers for which to generate storage guidance."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Storage guidance retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/get_emergency_response": {
      "post": {
        "operationId": "GetEmergencyResponse",
        "summary": "Get emergency response procedures",
        "description": "Returns step-by-step emergency response procedures for a chemical spill, fire, or exposure scenario based on the specified chemical and incident type.",
        "x-ms-summary": "Get emergency response procedures",
        "tags": ["Emergency and Health"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemical"],
              "properties": {
                "chemical": {
                  "type": "string",
                  "x-ms-summary": "Chemical",
                  "description": "Name or CAS number of the chemical involved in the emergency."
                },
                "scenario": {
                  "type": "string",
                  "enum": ["spill", "fire", "exposure"],
                  "default": "spill",
                  "x-ms-summary": "Scenario",
                  "description": "Type of emergency scenario: spill, fire, or exposure. Defaults to spill when omitted."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Emergency response procedures retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/get_exposure_limits": {
      "post": {
        "operationId": "GetExposureLimits",
        "summary": "Get occupational exposure limits",
        "description": "Returns occupational exposure limits (OEL, TLV, PEL, MAC) for the specified chemicals from OSHA, ACGIH, EU, JP, and CN authorities.",
        "x-ms-summary": "Get occupational exposure limits",
        "tags": ["Regulatory Compliance"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemicals"],
              "properties": {
                "chemicals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Chemicals",
                  "description": "List of chemical names or CAS numbers for which to retrieve occupational exposure limits."
                },
                "region": {
                  "type": "string",
                  "enum": ["US", "EU", "JP", "CN", "INT"],
                  "x-ms-summary": "Region",
                  "description": "Optional region code to filter exposure limits by jurisdiction (US, EU, JP, CN, or INT for international). Defaults to all regions when omitted."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Occupational exposure limits retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/get_transport_classification": {
      "post": {
        "operationId": "GetTransportClassification",
        "summary": "Get transport classification",
        "description": "Returns UN number, hazard class, packing group, and transport labels for the specified chemicals under IATA, IMDG, and ADR regulations.",
        "x-ms-summary": "Get transport classification",
        "tags": ["Handling and Storage"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemicals"],
              "properties": {
                "chemicals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Chemicals",
                  "description": "List of chemical names or CAS numbers for which to retrieve transport classifications."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transport classification retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/create_audit_session": {
      "post": {
        "operationId": "CreateAuditSession",
        "summary": "Create a signed audit session",
        "description": "Creates a new audit session with an Ed25519-signed receipt for traceability and returns a session ID for subsequent operations.",
        "x-ms-summary": "Create a signed audit session",
        "tags": ["Audit and Reporting"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["experiment_name", "chemicals"],
              "properties": {
                "experiment_name": {
                  "type": "string",
                  "x-ms-summary": "Experiment Name",
                  "description": "Human-readable name for this audit session or experiment."
                },
                "chemicals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Chemicals",
                  "description": "List of chemical names or CAS numbers to include in the audit session."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit session created successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/get_audit_report": {
      "post": {
        "operationId": "GetAuditReport",
        "summary": "Get signed audit report",
        "description": "Retrieves or generates the signed PDF audit report for a previously created audit session, including the Ed25519 receipt for verification.",
        "x-ms-summary": "Get signed audit report",
        "tags": ["Audit and Reporting"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["session_id"],
              "properties": {
                "session_id": {
                  "type": "string",
                  "x-ms-summary": "Session ID",
                  "description": "Unique identifier of the audit session for which to retrieve the signed report."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit report retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/search_chemical_database": {
      "post": {
        "operationId": "SearchChemicalDatabase",
        "summary": "Search chemical database",
        "description": "Searches the MSDS Chain database of 4.3 million chemicals by name, CAS number, synonym, or molecular formula and returns matching records.",
        "x-ms-summary": "Search chemical database",
        "tags": ["Data and Research"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["query"],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-summary": "Query",
                  "description": "Search term such as a chemical name, CAS number, synonym, or molecular formula."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chemical database search completed successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/get_sds_section": {
      "post": {
        "operationId": "GetSdsSection",
        "summary": "Get SDS section",
        "description": "Retrieves a specific section (1 through 16) of the Safety Data Sheet for a chemical, following the GHS 16-section structure.",
        "x-ms-summary": "Get SDS section",
        "tags": ["Data and Research"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemical", "section"],
              "properties": {
                "chemical": {
                  "type": "string",
                  "x-ms-summary": "Chemical",
                  "description": "Name or CAS number of the chemical whose SDS section is to be retrieved."
                },
                "section": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 16,
                  "x-ms-summary": "Section Number",
                  "description": "GHS SDS section number to retrieve, from 1 (Identification) to 16 (Other Information)."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SDS section retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/get_chemical_alternatives": {
      "post": {
        "operationId": "GetChemicalAlternatives",
        "summary": "Get chemical alternatives",
        "description": "Suggests safer substitute chemicals for a given use case, ranked by hazard reduction and functional equivalence.",
        "x-ms-summary": "Get chemical alternatives",
        "tags": ["Data and Research"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemical"],
              "properties": {
                "chemical": {
                  "type": "string",
                  "x-ms-summary": "Chemical",
                  "description": "Name or CAS number of the chemical for which to find safer alternatives."
                },
                "use_case": {
                  "type": "string",
                  "x-ms-summary": "Use Case",
                  "description": "Optional description of the intended application or process context to guide substitute recommendations."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chemical alternatives retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/validate_protocol_chemicals": {
      "post": {
        "operationId": "ValidateProtocolChemicals",
        "summary": "Validate chemicals in a lab protocol",
        "description": "Extracts chemical names from a laboratory protocol or procedure text and validates each one for hazards, compatibility, and regulatory status.",
        "x-ms-summary": "Validate chemicals in a lab protocol",
        "tags": ["Safety Assessment"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["protocol_text"],
              "properties": {
                "protocol_text": {
                  "type": "string",
                  "maxLength": 4000,
                  "x-ms-summary": "Protocol Text",
                  "description": "Full text of the laboratory protocol or experimental procedure, up to 4000 characters."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Protocol chemicals validated successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/check_mixing_order": {
      "post": {
        "operationId": "CheckMixingOrder",
        "summary": "Check safe chemical mixing order",
        "description": "Determines the safe addition order for mixing two chemicals and provides context-specific guidance to minimize hazard during the mixing process.",
        "x-ms-summary": "Check safe chemical mixing order",
        "tags": ["Handling and Storage"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemical_a", "chemical_b"],
              "properties": {
                "chemical_a": {
                  "type": "string",
                  "x-ms-summary": "Chemical A",
                  "description": "Name or CAS number of the first chemical in the mixing pair."
                },
                "chemical_b": {
                  "type": "string",
                  "x-ms-summary": "Chemical B",
                  "description": "Name or CAS number of the second chemical in the mixing pair."
                },
                "context": {
                  "type": "string",
                  "x-ms-summary": "Context",
                  "description": "Optional description of the application context, such as the desired concentration, temperature, or purpose of the mixture."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mixing order guidance retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/get_waste_disposal": {
      "post": {
        "operationId": "GetWasteDisposal",
        "summary": "Get waste disposal guidance",
        "description": "Returns waste classification codes and disposal procedures for the specified chemicals, including segregation rules and licensed disposal methods.",
        "x-ms-summary": "Get waste disposal guidance",
        "tags": ["Handling and Storage"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemicals"],
              "properties": {
                "chemicals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-summary": "Chemicals",
                  "description": "List of chemical names or CAS numbers for which to retrieve waste disposal guidance."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Waste disposal guidance retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/compare_sds_versions": {
      "post": {
        "operationId": "CompareSdsVersions",
        "summary": "Compare two SDS versions",
        "description": "Performs a structured seven-dimension comparison between two Safety Data Sheet versions for a chemical, highlighting changes in hazard classification, exposure limits, and handling.",
        "x-ms-summary": "Compare two SDS versions",
        "tags": ["Data and Research"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemical", "version_old", "version_new"],
              "properties": {
                "chemical": {
                  "type": "string",
                  "x-ms-summary": "Chemical",
                  "description": "Name or CAS number of the chemical whose SDS versions are to be compared."
                },
                "version_old": {
                  "type": "string",
                  "x-ms-summary": "Old Version",
                  "description": "Identifier or revision date of the older SDS version to use as the comparison baseline."
                },
                "version_new": {
                  "type": "string",
                  "x-ms-summary": "New Version",
                  "description": "Identifier or revision date of the newer SDS version to compare against the baseline."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SDS version comparison completed successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/upload_msds_pdf": {
      "post": {
        "operationId": "UploadMsdsPdf",
        "summary": "Upload and parse an MSDS PDF",
        "description": "Parses a Safety Data Sheet or MSDS PDF file from the specified URL or base64 source, extracts structured data, and optionally links it to an audit session.",
        "x-ms-summary": "Upload and parse an MSDS PDF",
        "tags": ["Data and Research"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["pdf_source"],
              "properties": {
                "pdf_source": {
                  "type": "string",
                  "x-ms-summary": "PDF Source",
                  "description": "URL or base64-encoded content of the MSDS or SDS PDF file to upload and parse."
                },
                "session_id": {
                  "type": "string",
                  "x-ms-summary": "Session ID",
                  "description": "Optional audit session ID to associate the parsed SDS data with an existing session."
                },
                "experiment_name": {
                  "type": "string",
                  "default": "MCP Upload",
                  "x-ms-summary": "Experiment Name",
                  "description": "Optional label for the upload, used to identify the parsed record. Defaults to MCP Upload when omitted."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MSDS PDF uploaded and parsed successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/batch_safety_check": {
      "post": {
        "operationId": "BatchSafetyCheck",
        "summary": "Batch safety check for multiple chemicals",
        "description": "Runs a comprehensive one-shot safety report combining compatibility analysis, PPE recommendations, and storage guidance for two to twenty chemicals.",
        "x-ms-summary": "Batch safety check for multiple chemicals",
        "tags": ["Safety Assessment"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemicals"],
              "properties": {
                "chemicals": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 2,
                  "maxItems": 20,
                  "x-ms-summary": "Chemicals",
                  "description": "List of two to twenty chemical names or CAS numbers to include in the batch safety check."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Batch safety check completed successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    },
    "/tools/check_regulatory_lists": {
      "post": {
        "operationId": "CheckRegulatoryLists",
        "summary": "Check regulatory lists for a chemical",
        "description": "Scans a chemical against 23 regulatory databases including EPA lists, REACH SVHC, California Prop 65, OSHA PEL, and other international restricted substance lists.",
        "x-ms-summary": "Check regulatory lists for a chemical",
        "tags": ["Regulatory Compliance"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["chemical"],
              "properties": {
                "chemical": {
                  "type": "string",
                  "x-ms-summary": "Chemical",
                  "description": "Name or CAS number of the chemical to scan against all 23 regulatory lists."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Regulatory list check completed successfully.",
            "schema": {
              "$ref": "#/definitions/ToolResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ToolResult": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "x-ms-summary": "Result",
          "description": "Formatted text response containing the tool output, including safety data, analysis, and recommendations."
        }
      },
      "required": ["result"]
    }
  }
}
