{
  "swagger": "2.0",
  "info": {
    "title": "Rijksoverheid",
    "description": "Retrieve information from the Dutch Rijksoverheid Open Data platform.",
    "contact": {
      "name": "Dennis Goedegebuure",
      "url": "https://www.expiscornovus.com",
      "email": "dennis@expiscornovus.com"
    },
    "version": "1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.rijksoverheid.nl/opendata"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.rijksoverheid.nl/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Productivity"
    }
  ],
  "host": "opendata.rijksoverheid.nl",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/sources/rijksoverheid/infotypes/schoolholidays/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "canonical": {
                    "type": "string",
                    "description": "canonical"
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "title"
                        },
                        "schoolyear": {
                          "type": "string",
                          "description": "schoolyear"
                        },
                        "vacations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "compulsorydates": {
                                "type": "string",
                                "description": "compulsorydates"
                              },
                              "regions": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "region": {
                                      "type": "string",
                                      "description": "region"
                                    },
                                    "startdate": {
                                      "type": "string",
                                      "description": "startdate"
                                    },
                                    "enddate": {
                                      "type": "string",
                                      "description": "enddate"
                                    }
                                  }
                                },
                                "description": "regions"
                              }
                            }
                          },
                          "description": "vacations"
                        }
                      }
                    },
                    "description": "content"
                  },
                  "notice": {
                    "type": "string",
                    "description": "notice"
                  },
                  "authorities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "authorities"
                  },
                  "creators": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "creators"
                  },
                  "license": {
                    "type": "string",
                    "description": "license"
                  },
                  "rightsholders": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "rightsholders"
                  },
                  "language": {
                    "type": "string",
                    "description": "language"
                  },
                  "location": {
                    "type": "string",
                    "description": "location"
                  },
                  "lastmodified": {
                    "type": "string",
                    "description": "lastmodified"
                  }
                }
              }
            }
          }
        },
        "operationId": "SchoolHolidays",
        "summary": "List all School Holidays",
        "description": "List all School Holidays",
        "parameters": [
          {
            "name": "rows",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 200,
            "description": "Number of rows (maximum 200)",
            "x-ms-summary": "Number of rows (maximum 200)"
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "json",
            "description": "Format of output (default json)",
            "x-ms-summary": "Format of output (default json)"
          }
        ]
      }
    },
    "/v1/sources/rijksoverheid/infotypes/schoolholidays/schoolyear/{schoolyear}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "canonical": {
                  "type": "string",
                  "description": "canonical"
                },
                "content": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "schoolyear": {
                        "type": "string",
                        "description": "schoolyear"
                      },
                      "vacations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "compulsorydates": {
                              "type": "string",
                              "description": "compulsorydates"
                            },
                            "regions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "region": {
                                    "type": "string",
                                    "description": "region"
                                  },
                                  "startdate": {
                                    "type": "string",
                                    "description": "startdate"
                                  },
                                  "enddate": {
                                    "type": "string",
                                    "description": "enddate"
                                  }
                                }
                              },
                              "description": "regions"
                            }
                          }
                        },
                        "description": "vacations"
                      }
                    }
                  },
                  "description": "content"
                },
                "notice": {
                  "type": "string",
                  "description": "notice"
                },
                "authorities": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "authorities"
                },
                "creators": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "creators"
                },
                "license": {
                  "type": "string",
                  "description": "license"
                },
                "rightsholders": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "rightsholders"
                },
                "language": {
                  "type": "string",
                  "description": "language"
                },
                "location": {
                  "type": "string",
                  "description": "location"
                },
                "lastmodified": {
                  "type": "string",
                  "description": "lastmodified"
                }
              }
            }
          }
        },
        "operationId": "SchoolHolidaysPerSchoolYear",
        "summary": "School Holidays for a School Year",
        "description": "School Holidays for a School Year",
        "parameters": [
          {
            "name": "schoolyear",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "2022-2023",
            "description": "School Year",
            "x-ms-summary": "School Year (default 2022-2023)",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "output",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "json",
            "description": "Format of output (default json)",
            "x-ms-summary": "Format of output (default json)"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
