{
  "swagger": "2.0",
  "info": {
    "title": "Aletheia",
    "description": "Aletheia is an online web service providing financial data through an easily accessible HTTP REST API. Access stock data, SEC filings, Insider Trades, earnings calls, and more.",
    "version": "1.7",
    "contact": {
      "name": "Aletheia Support",
      "url": "https://aletheiaapi.com",
      "email": "support@aletheiaapi.com"
    }
  },
  "host": "api.aletheiaapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/StockData": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Symbol": {
                  "type": "string",
                  "description": "The symbol that data was requested for",
                  "title": "Symbol"
                },
                "Summary": {
                  "type": "object",
                  "properties": {
                    "Name": {
                      "type": "string",
                      "description": "The name of the issuing company",
                      "title": "Company Name"
                    },
                    "StockSymbol": {
                      "type": "string",
                      "description": "The registered trading symbol of the security",
                      "title": "Stock Symbol"
                    },
                    "Price": {
                      "type": "number",
                      "format": "float",
                      "description": "The last trade price of the security",
                      "title": "Price"
                    },
                    "DollarChange": {
                      "type": "number",
                      "format": "float",
                      "description": "The change in price since the opening of today's trading session",
                      "title": "Price Change"
                    },
                    "PercentChange": {
                      "type": "number",
                      "format": "float",
                      "description": "The change in price, expressed as a percentage, since the opening of today's trading session",
                      "title": "Percent Change"
                    },
                    "PreviousClose": {
                      "type": "number",
                      "format": "float",
                      "description": "The closing price of the previous trading session",
                      "title": "Previous Close"
                    },
                    "Open": {
                      "type": "number",
                      "format": "float",
                      "description": "The opening price of this security at the opening of the trading session",
                      "title": "Open"
                    },
                    "BidPrice": {
                      "type": "number",
                      "format": "float",
                      "description": "The highest price a buyer will pay to buy the specified bid quantity number of shares",
                      "title": "Bid Price"
                    },
                    "BidQuantity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of shares a buyer will pay to buy at the specified bid price",
                      "title": "Bid Quantity"
                    },
                    "AskPrice": {
                      "type": "number",
                      "format": "float",
                      "description": "The security price a market maker is willing to spend to purchase one share",
                      "title": "Ask Price"
                    },
                    "AskQuantity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The amount of a security a market maker is willing to purchase at the given ask price",
                      "title": "Ask Quantity"
                    },
                    "DayRangeLow": {
                      "type": "number",
                      "format": "float",
                      "description": "The lowest price the security has been traded for during today's trading session",
                      "title": "Day Low"
                    },
                    "DayRangeHigh": {
                      "type": "number",
                      "format": "float",
                      "description": "The highest price the security has been traded for during today's trading session",
                      "title": "Day High"
                    },
                    "YearRangeLow": {
                      "type": "number",
                      "format": "float",
                      "description": "The stock price low over the past 12 months (from summary data)",
                      "title": "Year Low"
                    },
                    "YearRangeHigh": {
                      "type": "number",
                      "format": "float",
                      "description": "The stock price high over the past 12 months (from summary data)",
                      "title": "Year High"
                    },
                    "Volume": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of shares that have been traded so far in the trading session",
                      "title": "Volume"
                    },
                    "AverageVolume": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The average number of shares that are traded in a given trading session (1 day)",
                      "title": "Average Volume"
                    },
                    "MarketCap": {
                      "type": "number",
                      "format": "float",
                      "description": "The market value of the organization's outstanding shares",
                      "title": "Market Capitalization"
                    },
                    "Beta": {
                      "type": "number",
                      "format": "float",
                      "description": "The Beta of the stock. Beta reflects market volatility.",
                      "title": "Beta"
                    },
                    "PriceEarningsRatio": {
                      "type": "number",
                      "format": "float",
                      "description": "The P/E ratio (if one exists)",
                      "title": "Price Earnings Ratio"
                    },
                    "EarningsPerShare": {
                      "type": "number",
                      "format": "float",
                      "description": "The EPS of the most recent fiscal year",
                      "title": "Earnings Per Share"
                    },
                    "EarningsDate": {
                      "type": "string",
                      "description": "The next upcoming earnings date",
                      "title": "Earnings Date"
                    },
                    "ForwardDividend": {
                      "type": "number",
                      "format": "float",
                      "description": "The anticipated total dividend payout over the next 12 months",
                      "title": "Forward Dividend"
                    },
                    "ForwardDividendYield": {
                      "type": "number",
                      "format": "float",
                      "description": "The anticipated total dividend payout, as a percentage yield, over the next 12 months",
                      "title": "Forward Dividend Yield"
                    },
                    "ExDividendDate": {
                      "type": "string",
                      "description": "The latest date at which one must own the stock to be included in the next dividend payment",
                      "title": "Ex-Dividend Date"
                    },
                    "YearTargetEstimate": {
                      "type": "number",
                      "format": "float",
                      "description": "The price target at which analysts are predicting the price of one share to be in 12 months time",
                      "title": "Year Target Estimate"
                    },
                    "QueriedSymbol": {
                      "type": "string",
                      "description": "The symbol corresponding to the summary data",
                      "title": "Queried Symbol (summary)"
                    },
                    "DataCollectedOn": {
                      "type": "string",
                      "description": "The date and time stamp at which the summary data was collected",
                      "title": "Summary Data Collected On"
                    }
                  },
                  "description": "Summary"
                },
                "Statistics": {
                  "type": "object",
                  "properties": {
                    "FiscalYearEnds": {
                      "type": "string",
                      "description": "The end of the company's fiscal year",
                      "title": "Fiscal Year Ends"
                    },
                    "MostRecentQuarter": {
                      "type": "string",
                      "description": "The end date of the most recent fiscal quarter",
                      "title": "Most Recent Quarter"
                    },
                    "ProfitMargin": {
                      "type": "number",
                      "format": "float",
                      "description": "The profit margin in the most recent fiscal period",
                      "title": "Profit Margin"
                    },
                    "OperatingMargin": {
                      "type": "number",
                      "format": "float",
                      "description": "The operating margin of the company in the most recent fiscal period",
                      "title": "Operating Margin"
                    },
                    "ReturnOnAssets": {
                      "type": "number",
                      "format": "float",
                      "description": "Net income expressed as a percentage of assets",
                      "title": "Return on Assets"
                    },
                    "ReturnOnEquity": {
                      "type": "number",
                      "format": "float",
                      "description": "Net income expressed as a percentage of equity",
                      "title": "Return on Equity"
                    },
                    "Revenue": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Revenue of the company in the most recent fiscal year",
                      "title": "Revenue"
                    },
                    "RevenuePerShare": {
                      "type": "number",
                      "format": "float",
                      "description": "Revenue per share in the most recent fiscal year",
                      "title": "Revenue Per Share"
                    },
                    "QuarterlyRevenueGrowth": {
                      "type": "number",
                      "format": "float",
                      "description": "The growth rate in quarterly revenue",
                      "title": "Quarterly Revenue Growth"
                    },
                    "GrossProfit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The profit a company makes after deducting the costs associated with providing services",
                      "title": "Gross Profit"
                    },
                    "EBITDA": {
                      "type": "number",
                      "format": "float",
                      "description": "Earnings before interest, tax, depreciation, and amortization",
                      "title": "EBITDA"
                    },
                    "NetIncomeAvailableToCommon": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The net earnings available to common shareholders (after tax and preferred dividends)",
                      "title": "Earnings available to Common"
                    },
                    "DilutedEps": {
                      "type": "number",
                      "format": "float",
                      "description": "Earnings per share on a diluted basis (if all convertible securities were converted to equity)",
                      "title": "Diluted EPS"
                    },
                    "QuarterlyEarningsGrowth": {
                      "type": "number",
                      "format": "float",
                      "description": "The growth rate in quarterly earnings",
                      "title": "Quarterly Earnings Growth"
                    },
                    "TotalCash": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total amount of cash the company has on hand",
                      "title": "Total Cash"
                    },
                    "TotalCashPerShare": {
                      "type": "number",
                      "format": "float",
                      "description": "The total cash the company has on hand at a per-share basis",
                      "title": "Total Cash Per Share"
                    },
                    "TotalDebt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total debt of a company (liabilities)",
                      "title": "Total Debt"
                    },
                    "TotalDebtEquityRatio": {
                      "type": "number",
                      "format": "float",
                      "description": "The companies debt/equity ratio (liabilities/equity)",
                      "title": "Debt/Equity Ratio"
                    },
                    "CurrentRatio": {
                      "type": "number",
                      "format": "float",
                      "description": "Ratio of current assets to current liabilities. Reflects short term liquidity.",
                      "title": "Current Ratio"
                    },
                    "BookValuePerShare": {
                      "type": "number",
                      "format": "float",
                      "description": "Net equity on a per-share basis",
                      "title": "Book value per share"
                    },
                    "OperatingCashFlow": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Net cash generated from or used by operating activities",
                      "title": "Operating Cash Flow"
                    },
                    "LeveredFreeCashFlow": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The remaining earnings after paying financial obligations",
                      "title": "Levered Free Cash Flow"
                    },
                    "Beta": {
                      "type": "number",
                      "format": "float",
                      "description": "The Beta of the stock. Beta reflects market volatility.",
                      "title": "Beta"
                    },
                    "YearChange": {
                      "type": "number",
                      "format": "float",
                      "description": "The percent change in the stock price over the past 12 month period",
                      "title": "Year Change"
                    },
                    "SP500YearChange": {
                      "type": "number",
                      "format": "float",
                      "description": "The trailing 12 month return of the S&P 500 (for comparison purposes)",
                      "title": "S&P 500 Return"
                    },
                    "YearHigh": {
                      "type": "number",
                      "format": "float",
                      "description": "The stock price high over the past 12 months (from statistics data)",
                      "title": "Year High"
                    },
                    "YearLow": {
                      "type": "number",
                      "format": "float",
                      "description": "The stock price low over the past 12 months (from statistics data)",
                      "title": "Year Low"
                    },
                    "MovingAverage50Day": {
                      "type": "number",
                      "format": "float",
                      "description": "The average share price over the past 50 days",
                      "title": "50 Day Moving Average"
                    },
                    "MovingAverage200Day": {
                      "type": "number",
                      "format": "float",
                      "description": "The average share price over the past 200 days",
                      "title": "200 Day Moving Average"
                    },
                    "AverageVolume3Month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The average volume of the last 90 days",
                      "title": "Average Volume - 90 Days"
                    },
                    "AverageVolume10Day": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The average volume of the past ten days",
                      "title": "Average Volume - 10 Day"
                    },
                    "SharesOutstanding": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of shares available for trade in the market",
                      "title": "Shares Outstanding"
                    },
                    "Float": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of shares being traded in the market",
                      "title": "Float"
                    },
                    "PercentHeldByInsiders": {
                      "type": "number",
                      "format": "float",
                      "description": "The percentage of shares held by insiders at the company",
                      "title": "Percent Held by Insiders"
                    },
                    "PercentHeldByInstitutions": {
                      "type": "number",
                      "format": "float",
                      "description": "The percentage of shares held by institutions",
                      "title": "Percent Held by Institutions"
                    },
                    "SharesShort": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of shares currently under short sale",
                      "title": "Shares Short"
                    },
                    "ShortRatio": {
                      "type": "number",
                      "format": "float",
                      "description": "The number of days it takes short sellers on average to cover their positions",
                      "title": "Short Ratio"
                    },
                    "ShortPercentOfFloat": {
                      "type": "number",
                      "format": "float",
                      "description": "The percentage of shares (float) that are currently being shorted",
                      "title": "Short Percent of Float"
                    },
                    "ShortPercentOfSharesOutstanding": {
                      "type": "number",
                      "format": "float",
                      "description": "The percentage of shares outstanding that are currently being shorted",
                      "title": "Short Percent of Shares Outstanding"
                    },
                    "ForwardAnnualDividend": {
                      "type": "number",
                      "format": "float",
                      "description": "The projected dividend of one share over the next 12 months",
                      "title": "Forward Annual Dividend"
                    },
                    "ForwardAnnualDividendYield": {
                      "type": "number",
                      "format": "float",
                      "description": "The projected dividend yield of one share over the next 12 months at the current share price",
                      "title": "Forward Annual Dividend Yield"
                    },
                    "TrailingAnnualDividend": {
                      "type": "number",
                      "format": "float",
                      "description": "Sum of the paid dividends over the past 12 months",
                      "title": "Trailing Annual Dividend"
                    },
                    "TrailingAnnualDividendYield": {
                      "type": "number",
                      "format": "float",
                      "description": "Sum of the paid dividends over the past 12 months, expressed as a yield",
                      "title": "Trailing Annual Dividend Yield"
                    },
                    "FiveYearAverageDividendYield": {
                      "type": "number",
                      "format": "float",
                      "description": "The average dividend yield over the past five years",
                      "title": "Average Dividend Yield - 5 Year"
                    },
                    "DividendPayoutRatio": {
                      "type": "number",
                      "format": "float",
                      "description": "The proportion of earnings a company is paying out as dividends, expressed as a percentage",
                      "title": "Dividend Payout Ratio"
                    },
                    "DividendDate": {
                      "type": "string",
                      "description": "The dividend payment date (if a dividend is offered)",
                      "title": "Dividend Date"
                    },
                    "ExDividendDate": {
                      "type": "string",
                      "description": "The latest date at which one must own the stock to be included in the next dividend payment",
                      "title": "Ex-dividend Date"
                    },
                    "LastSplitFactor": {
                      "type": "string",
                      "description": "The factor by which the stock was split at the last split",
                      "title": "Last Split Factor"
                    },
                    "LastSplitDate": {
                      "type": "string",
                      "description": "The last time the stock was split or reverse split",
                      "title": "Last Split Date"
                    },
                    "QueriedSymbol": {
                      "type": "string",
                      "description": "The symbol corresponding to the statistics data",
                      "title": "Queried Symbol (statistics)"
                    },
                    "DataCollectedOn": {
                      "type": "string",
                      "description": "The specific date and time the statistical data was colllected",
                      "title": "Statistical data collected"
                    }
                  },
                  "description": "Statistics"
                }
              }
            }
          }
        },
        "summary": "Get Stock Data",
        "description": "Access stock data for any US-based publicly traded equity security (deprecated)",
        "operationId": "StockData",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "StockData",
          "revision": 1
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The trading symbol of the security",
            "x-ms-summary": "Symbol"
          },
          {
            "name": "summary",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Include summary data",
            "description": "Includes summary data like price, volume, open, and more"
          },
          {
            "name": "statistics",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Include statistical data",
            "description": "Includes data like current ratio, moving averages, and more"
          }
        ]
      }
    },
    "/v2/StockData": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Symbol": {
                  "type": "string",
                  "description": "The trading symbol (ticker) of the company",
                  "title": "Symbol"
                },
                "FullTimeEmployees": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of full time employees the company has",
                  "title": "Full Time Employees"
                },
                "Sector": {
                  "type": "string",
                  "description": "The sector the company competes in",
                  "title": "Sector"
                },
                "Industry": {
                  "type": "string",
                  "description": "The industry the company competes in",
                  "title": "Industry"
                },
                "Open": {
                  "type": "number",
                  "format": "float",
                  "description": "The opening price of this security at the beginning of the trading session",
                  "title": "Open"
                },
                "AverageVolume90Day": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The average number of shares that are traded in a given trading session, for the past 90 days",
                  "title": "Average Volume, 90 Day"
                },
                "Exchange": {
                  "type": "string",
                  "description": "The exchange the security trades on",
                  "title": "Exchange"
                },
                "DayHigh": {
                  "type": "number",
                  "format": "float",
                  "description": "The highest price the security has been traded for during today's trading session",
                  "title": "Day High"
                },
                "ShortName": {
                  "type": "string",
                  "description": "The name of the company, in short format",
                  "title": "Short Name"
                },
                "LongName": {
                  "type": "string",
                  "description": "The company name, in long format",
                  "title": "Long Name"
                },
                "Change": {
                  "type": "number",
                  "format": "float",
                  "description": "The change in price since the opening of the trading session",
                  "title": "Change"
                },
                "PreviousClose": {
                  "type": "number",
                  "format": "float",
                  "description": "The closing price of the previous trading session",
                  "title": "Previous Close"
                },
                "Price": {
                  "type": "number",
                  "format": "float",
                  "description": "The laste traded price of the security",
                  "title": "Price"
                },
                "Currency": {
                  "type": "string",
                  "description": "The currency this security is traded in (i.e. USD)",
                  "title": "Curreny"
                },
                "Volume": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of shares that have been traded so far in the current trading session",
                  "title": "Volume"
                },
                "MarketCap": {
                  "type": "number",
                  "format": "float",
                  "description": "The market value of the organization's outstanding shares",
                  "title": "Market Cap"
                },
                "ChangePercent": {
                  "type": "number",
                  "format": "float",
                  "description": "The change in price, expressed as a percentage, since the opening of the trading session",
                  "title": "Change Percent"
                },
                "DayLow": {
                  "type": "number",
                  "format": "float",
                  "description": "The lowest price the security has been traded for during today's trading session",
                  "title": "Day Low"
                },
                "BidPrice": {
                  "type": "number",
                  "format": "float",
                  "description": "The highest price a buyer will pay to buy the specified bid quantity number of shares",
                  "title": "Bid Price"
                },
                "BidQuantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of shares a buyer will pay to buy at the specified bid price",
                  "title": "Bid Quantity"
                },
                "AskPrice": {
                  "type": "number",
                  "format": "float",
                  "description": "The security price a market maker is willing to spend to purchase one share",
                  "title": "Ask Price"
                },
                "AskQuantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount of a security a market maker is willing to purchase at the given ask price",
                  "title": "Ask Quantity"
                },
                "AverageVolume10Day": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The average number of shares that are traded in a given trading session, for the past 10 days",
                  "title": "Average Volume, 10 Day"
                },
                "YearLow": {
                  "type": "number",
                  "format": "float",
                  "description": "The stock price low over the past 12 months",
                  "title": "Year Low"
                },
                "YearHigh": {
                  "type": "number",
                  "format": "float",
                  "description": "The stock price high over the past 12 months",
                  "title": "Year High"
                },
                "Beta": {
                  "type": "number",
                  "format": "float",
                  "description": "The Beta of the stock. Beta reflects market volatility.",
                  "title": "Beta"
                },
                "PriceEarningsRatio": {
                  "type": "number",
                  "format": "float",
                  "description": "Price-to-Earnings Ratio of the company",
                  "title": "Price Earnings Ratio"
                },
                "EarningsPerShare": {
                  "type": "number",
                  "format": "float",
                  "description": "The EPS of the most recent fiscal year",
                  "title": "Earnings Per Share"
                },
                "EarningsDate": {
                  "type": "string",
                  "description": "The next upcoming earnings date",
                  "title": "Earnings Date"
                },
                "ForwardDividend": {
                  "type": "number",
                  "format": "float",
                  "description": "The anticipated next dividend payment per share",
                  "title": "Forward Dividend"
                },
                "ForwardDividendYield": {
                  "type": "number",
                  "format": "float",
                  "description": "The anticipated total dividend payout, as a percentage yield, over the next 12 months",
                  "title": "Forward Dividend Yield"
                },
                "ExDividendDate": {
                  "type": "string",
                  "description": "The latest date at which one must own the stock to be included in the next dividend payment",
                  "title": "Ex-Dividend Date"
                },
                "YearTargetEstimate": {
                  "type": "number",
                  "format": "float",
                  "description": "The price target at which analysts are predicting the price of one share to be in 12 months time",
                  "title": "Year Target Estimate"
                },
                "LastFiscalYearEnd": {
                  "type": "string",
                  "description": "The end date of the most recent fiscal year",
                  "title": "Last Fiscal Year End"
                },
                "LastFiscalQuarterEnd": {
                  "type": "string",
                  "description": "The end date of the most recent quarter",
                  "title": "Last Fiscal Quarter End"
                },
                "ProfitMargin": {
                  "type": "number",
                  "format": "float",
                  "description": "The profit margin in the most recent fiscal period",
                  "title": "Profit Margin"
                },
                "OperatingMargin": {
                  "type": "number",
                  "format": "float",
                  "description": "The operating margin of the company in the most recent fiscal period",
                  "title": "Operating Margin"
                },
                "ReturnOnAssets": {
                  "type": "number",
                  "format": "float",
                  "description": "Net income expressed as a percentage of assets",
                  "title": "Return on Assets"
                },
                "ReturnOnEquity": {
                  "type": "number",
                  "format": "float",
                  "description": "Net income expressed as a percentage of equity",
                  "title": "Return on Equity"
                },
                "Revenue": {
                  "type": "number",
                  "format": "float",
                  "description": "Revenue of the company in the most recent fiscal year",
                  "title": "Revenue"
                },
                "RevenuePerShare": {
                  "type": "number",
                  "format": "float",
                  "description": "Revenue per share in the most recent fiscal year",
                  "title": "Revenue per Share"
                },
                "QuarterlyRevenueGrowth": {
                  "type": "number",
                  "format": "float",
                  "description": "The growth rate in quarterly revenue",
                  "title": "Quarterly Revenue Growth"
                },
                "GrossProfit": {
                  "type": "number",
                  "format": "float",
                  "description": "The profit a company makes after deducting the costs associated with providing services",
                  "title": "Gross Profit"
                },
                "EDBITDA": {
                  "type": "number",
                  "format": "float",
                  "description": "Earnings before interest, tax, depreciation, and amortization",
                  "title": "EBITDA"
                },
                "NetIncomeAvailableToCommon": {
                  "type": "number",
                  "format": "float",
                  "description": "The net earnings available to common shareholders (after tax and preferred dividends)",
                  "title": "Earnings Available to Common"
                },
                "QuarterlyEarningsGrowth": {
                  "type": "number",
                  "format": "float",
                  "description": "The growth rate in quarterly earnings",
                  "title": "Quarterly Earnings Growth"
                },
                "Cash": {
                  "type": "number",
                  "format": "float",
                  "description": "The amount of cash the company has in it's possession",
                  "title": "Cash"
                },
                "CashPerShare": {
                  "type": "number",
                  "format": "float",
                  "description": "The amount of cash the company has divided by the number of shares",
                  "title": "Cash per share"
                },
                "Debt": {
                  "type": "number",
                  "format": "float",
                  "description": "The total debt of a company (liabilities)",
                  "title": "Debt"
                },
                "DebtToEquityRatio": {
                  "type": "number",
                  "format": "float",
                  "description": "The companies debt/equity ratio (liabilities/equity)",
                  "title": "Debt to Equity Ratio"
                },
                "CurrentRatio": {
                  "type": "number",
                  "format": "float",
                  "description": "Ratio of current assets to current liabilities. Reflects short term liquidity",
                  "title": "Current Ratio"
                },
                "BookValuePerShare": {
                  "type": "number",
                  "format": "float",
                  "description": "Net equity on a per-share basis",
                  "title": "Book value per share"
                },
                "OperatingCashFlow": {
                  "type": "number",
                  "format": "float",
                  "description": "Net cash generated from or used by operating activities",
                  "title": "Operating Cash Flow"
                },
                "LeveredFreeCashFlow": {
                  "type": "number",
                  "format": "float",
                  "description": "The remaining earnings after paying financial obligations",
                  "title": "Levered Free Cash Flow"
                },
                "YearChangePercent": {
                  "type": "number",
                  "format": "float",
                  "description": "The change in the price over the past 12 months, expressed as a percentage",
                  "title": "Year Change Percent"
                },
                "SP500YearChangePercent": {
                  "type": "number",
                  "format": "float",
                  "description": "The trailing 12 month return of the S&P 500 (for comparison purposes)",
                  "title": "S&P 500 Annual Return"
                },
                "MovingAverage50Day": {
                  "type": "number",
                  "format": "float",
                  "description": "The average number of shares that are traded in a given trading session, for the past 50 days",
                  "title": "Moving Average, 50 Day"
                },
                "MovingAverage200Day": {
                  "type": "number",
                  "format": "float",
                  "description": "The average number of shares that are traded in a given trading session, for the past 200 days",
                  "title": "Moving Average, 200 Day"
                },
                "SharesOutstanding": {
                  "type": "number",
                  "format": "float",
                  "description": "The number of shares available for trade in the market",
                  "title": "Shares Outstanding"
                },
                "Float": {
                  "type": "number",
                  "format": "float",
                  "description": "The number of shares being traded in the market",
                  "title": "Float"
                },
                "PercentHeldByInsiders": {
                  "type": "number",
                  "format": "float",
                  "description": "The percentage of shares held by insiders at the company",
                  "title": "Percent Held By Insiders"
                },
                "PercentHeldByInstitutions": {
                  "type": "number",
                  "format": "float",
                  "description": "The percentage of shares held by institutions",
                  "title": "Percent Held By Institutions"
                },
                "SharesShort": {
                  "type": "number",
                  "format": "float",
                  "description": "The number of shares currently under short sale",
                  "title": "Shares Short"
                },
                "ShortRatio": {
                  "type": "number",
                  "format": "float",
                  "description": "The number of days it takes short sellers on average to cover their positions",
                  "title": "Short Ratio"
                },
                "ShortPercentOfFloat": {
                  "type": "number",
                  "format": "float",
                  "description": "The percentage of shares (float) that are currently being shorted",
                  "title": "Short Percent of Float"
                },
                "ShortPercentOfSharesOutstanding": {
                  "type": "number",
                  "format": "float",
                  "description": "The percentage of shares outstanding that are currently being shorted",
                  "title": "Short Percent of Shares Outstanding"
                },
                "ForwardAnnualDividend": {
                  "type": "number",
                  "format": "float",
                  "description": "The projected dividend of one share over the next 12 months",
                  "title": "Forward Annual Dividend"
                },
                "ForwardAnnualDividendYield": {
                  "type": "number",
                  "format": "float",
                  "description": "The projected dividend yield of one share over the next 12 months at the current share price",
                  "title": "Forward Annual Dividend Yield"
                },
                "TrailingAnnualDividend": {
                  "type": "number",
                  "format": "float",
                  "description": "Sum of the paid dividends over the past 12 months",
                  "title": "Trailing Annual Dividend"
                },
                "TrailingAnnualDividendYield": {
                  "type": "number",
                  "format": "float",
                  "description": "Sum of the paid dividends over the past 12 months, expressed as a yield",
                  "title": "Trailing Annual Dividend Yield"
                },
                "FiveYearAverageDividendYield": {
                  "type": "number",
                  "format": "float",
                  "description": "The average dividend yield over the past five years",
                  "title": "Average Dividend Yield - 5 Year"
                },
                "DividendPayoutRatio": {
                  "type": "number",
                  "format": "float",
                  "description": "The proportion of earnings a company is paying out as dividends, expressed as a percentage",
                  "title": "Dividend Payout Ratio"
                },
                "DividendDate": {
                  "type": "string",
                  "description": "The dividend payment date (if a dividend is offered)",
                  "title": "Dividend Date"
                },
                "LastSplitFactor": {
                  "type": "string",
                  "description": "The factor by which the stock was split at the last split",
                  "title": "Last Split Factor"
                },
                "LastSplitDate": {
                  "type": "string",
                  "description": "The last time the stock was split or reverse split",
                  "title": "Last Split Date"
                }
              }
            }
          }
        },
        "summary": "Get Stock Data (V2)",
        "description": "Access stock data for any US-based publicly traded equity security",
        "operationId": "StockDataV2",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "StockData",
          "revision": 2
        },
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Symbol",
            "description": "The stock symbol (ticker) of the equity you are requesting data for"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Only Include Fields",
            "description": "If you would only like certain fields returned, specify them by name (separated by comma)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept-Version",
            "in": "header",
            "required": true,
            "type": "integer",
            "default": 2,
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/EntityFilings": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "InteractiveDataUrl": {
                    "type": "string",
                    "description": "If the filing includes XBRL information (for example, 10-K filings), a link to the interactive data of the filing",
                    "title": "Interactive Data URL"
                  },
                  "Filing": {
                    "type": "string",
                    "description": "The filing type, for example \"10-K\" or \"10-Q\"",
                    "title": "Filing Type"
                  },
                  "DocumentsUrl": {
                    "type": "string",
                    "description": "A URL to the filing with the SEC",
                    "title": "Filing URL"
                  },
                  "Description": {
                    "type": "string",
                    "description": "A description of the filing",
                    "title": "Description"
                  },
                  "FilingDate": {
                    "type": "string",
                    "description": "The date the filing was filed with the SEC",
                    "title": "Filing Date",
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "summary": "List an entity's SEC filings",
        "operationId": "EntityFilings",
        "description": "Request a list of latest SEC filings for an entity (company or person)",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Entity CIK or Trading Symbol",
            "description": "The CIK or trading symbol of the entity you are requesting filings for"
          },
          {
            "name": "filing",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filing Type",
            "description": "Filter to a specific filing type, for example \"10-K\" or \"10-Q\""
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Filter to filings only before a particular date in time",
            "description": "YYYYMMDD format, for example 20151231"
          }
        ]
      }
    },
    "/OpenForm4": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "SchemaVersion": {
                  "type": "string",
                  "description": "The schema version of the data document",
                  "title": "Schema Version"
                },
                "PeriodOfReport": {
                  "type": "string",
                  "description": "The date at which the document was prepared and reported",
                  "title": "Period of Report",
                  "format": "date"
                },
                "DocumentType": {
                  "type": "string",
                  "description": "The document type of this statement (i.e. \"4\", \"3\", \"5\")",
                  "title": "Document Type"
                },
                "IssuerCik": {
                  "type": "string",
                  "description": "The issuing company's CIK (identification number) that has been assigned by the SEC",
                  "title": "Issuer CIK"
                },
                "IssuerName": {
                  "type": "string",
                  "description": "The name of the issuing company involved in this transaction",
                  "title": "Issuer Name"
                },
                "IssuerTradingSymbol": {
                  "type": "string",
                  "description": "The trading symbol of the issuing company involved in this transaction",
                  "title": "Issuer Trading Symbol"
                },
                "OwnerName": {
                  "type": "string",
                  "description": "The name of the owner",
                  "title": "Owner Name"
                },
                "OwnerCik": {
                  "type": "string",
                  "description": "The owner's CIK (identification number) that has been assigned by the SEC",
                  "title": "Owner CIK"
                },
                "OwnerStreet1": {
                  "type": "string",
                  "description": "",
                  "title": "Owner Street Address Line 1"
                },
                "OwnerStreet2": {
                  "type": "string",
                  "description": "",
                  "title": "Owner Street Address Line 2"
                },
                "OwnerCity": {
                  "type": "string",
                  "description": "The owner's city",
                  "title": "Owner Address City"
                },
                "OwnerStateCode": {
                  "type": "string",
                  "description": "The owner's state code, i.e. \"FL\" or \"GA\"",
                  "title": "Owner Address State Code"
                },
                "OwnerZipCode": {
                  "type": "string",
                  "description": "The zip code of the owner's address",
                  "title": "Owner Zip Code"
                },
                "OwnerIsOfficer": {
                  "type": "boolean",
                  "description": "If the owner is specified as an officer of the issuing company",
                  "title": "Owner is Officer"
                },
                "OwnerOfficerTitle": {
                  "type": "string",
                  "description": "If the owner is a titled officer, their position title",
                  "title": "Owner Officer Title"
                },
                "NonDerivativeTransactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "SecurityTitle": {
                        "type": "string",
                        "description": "The title of the non-derivative security involved in the transaction",
                        "title": "Security Title (Non-Derivative)"
                      },
                      "SecuritiesOwnedFollowingTransaction": {
                        "type": "number",
                        "format": "float",
                        "description": "The number of non-derivative securities the filing owner owns following the transaction",
                        "title": "Securities Owned Following Transaction (Non-Derivative)"
                      },
                      "DirectOrIndirectOwnership": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ownership nature of the security. 0 = Direct, 1 = Indirect",
                        "title": "Direct or Indirect Ownership (Non-Derivative)"
                      },
                      "TransactionDate": {
                        "type": "string",
                        "description": "The date of the non-derivative transaction",
                        "title": "Transaction Date (Non-Derivative)",
                        "format": "date"
                      },
                      "TransactionCode": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the transaction code for this non-derivative transaction",
                        "title": "Transaction Code (Non-Derivative)"
                      },
                      "TransactionQuantity": {
                        "type": "number",
                        "format": "float",
                        "description": "The number of securities in the non-derivative transaction (number of shares)",
                        "title": "Transaction Quantity (Non-Derivative)"
                      },
                      "TransactionPricePerSecurity": {
                        "type": "number",
                        "format": "float",
                        "description": "The price per non-derivative security",
                        "title": "Transaction Price per Security (Non-Derivative)"
                      },
                      "AcquiredOrDisposed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "0 = Acquisition, 1 = Disposal",
                        "title": "Acquired or Disposed (Non-Derivative)"
                      }
                    }
                  },
                  "description": "NonDerivativeTransactions"
                },
                "DerivativeTransactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ConversionOrExercisePrice": {
                        "type": "number",
                        "format": "float",
                        "description": "The exercise price of this derivative security",
                        "title": "Conversion or Exercise Price"
                      },
                      "Exersisable": {
                        "type": "string",
                        "description": "The date this derivative security is exercisable by the owner",
                        "title": "Exercisable On",
                        "format": "date"
                      },
                      "Expiration": {
                        "type": "string",
                        "description": "The expiration date of the derivative security involved in this transaction",
                        "title": "Expiration Date",
                        "format": "date"
                      },
                      "UnderlyingSecurityTitle": {
                        "type": "string",
                        "description": "The title of the derivative security's underlying equity security",
                        "title": "Underlying Security Title"
                      },
                      "UnderlyingSecurityQuantity": {
                        "type": "number",
                        "format": "float",
                        "description": "The quantity of the underlying securities in this derivative transaction",
                        "title": "Underlying Security Quantity"
                      },
                      "SecurityTitle": {
                        "type": "string",
                        "description": "The title of the derivative security involved in the transaction",
                        "title": "Security Title (Derivative)"
                      },
                      "SecuritiesOwnedFollowingTransaction": {
                        "type": "number",
                        "format": "float",
                        "description": "The number of derivative securities the filing owner owns following the transaction",
                        "title": "Securities Owned Following Transaction (Derivative)"
                      },
                      "DirectOrIndirectOwnership": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ownership nature of the security. 0 = Direct, 1 = Indirect",
                        "title": "Direct or Indirect Ownership (Derivative)"
                      },
                      "TransactionDate": {
                        "type": "string",
                        "description": "The date of this derivative transaction",
                        "title": "Transaction Date (Derivative)",
                        "format": "date"
                      },
                      "TransactionCode": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the transaction code for this non-derivative transaction",
                        "title": "Transaction Code (Derivative)"
                      },
                      "TransactionQuantity": {
                        "type": "number",
                        "format": "float",
                        "description": "The number of securities involved in this derivative transaction",
                        "title": "Transaction Quantity (Derivative)"
                      },
                      "TransactionPricePerSecurity": {
                        "type": "number",
                        "format": "float",
                        "description": "The price per derivative security in this transaction",
                        "title": "Transaction Price per Security (Derivative)"
                      },
                      "AcquiredOrDisposed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "0 = Acquisition, 1 = Disposal",
                        "title": "Acquired or Disposed (Derivative)"
                      }
                    }
                  },
                  "description": "DerivativeTransactions"
                }
              }
            }
          }
        },
        "summary": "Open Form 4",
        "operationId": "OpenForm4",
        "description": "Parse a Form 4 (changes in ownership) document",
        "parameters": [
          {
            "name": "filingurl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Filing URL",
            "description": "The URL to the form 4 SEC Filing"
          }
        ]
      }
    },
    "/OpenCommonFinancials": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "PeriodStart": {
                  "type": "string",
                  "description": "The start date of this fiscal period",
                  "title": "Period Start",
                  "format": "date"
                },
                "PeriodEnd": {
                  "type": "string",
                  "description": "The end date of this fiscal period",
                  "title": "Period End",
                  "format": "date"
                },
                "Revenue": {
                  "type": "number",
                  "format": "float",
                  "description": "The company's revenue in the fiscal period",
                  "title": "Revenue"
                },
                "SellingGeneralAndAdministrativeExpense": {
                  "type": "number",
                  "format": "float",
                  "description": "The summation of SG&A expenses in the fiscal period",
                  "title": "Selling, General, and Administrative Expenses"
                },
                "ResearchAndDevelopmentExpense": {
                  "type": "number",
                  "format": "float",
                  "description": "The R&D expenses in the fiscal period",
                  "title": "Research and Development Expenses"
                },
                "OperatingIncome": {
                  "type": "number",
                  "format": "float",
                  "description": "The operating income or loss of the company on the income statement",
                  "title": "Operating Income"
                },
                "NetIncome": {
                  "type": "number",
                  "format": "float",
                  "description": "The net income or loss in this fiscal period",
                  "title": "Net Income"
                },
                "Assets": {
                  "type": "number",
                  "format": "float",
                  "description": "The summation of assets on the balance sheet",
                  "title": "Assets"
                },
                "Liabilities": {
                  "type": "number",
                  "format": "float",
                  "description": "The summation of liabilities on the balance sheet",
                  "title": "Liabilities"
                },
                "Equity": {
                  "type": "number",
                  "format": "float",
                  "description": "The summation of equity on the balance sheet",
                  "title": "Equity"
                },
                "Cash": {
                  "type": "number",
                  "format": "float",
                  "description": "The cash on the balance sheet",
                  "title": "Cash"
                },
                "CurrentAssets": {
                  "type": "number",
                  "format": "float",
                  "description": "The summation of current assets on the balance sheet (assets that will be disposed of within 12 months)",
                  "title": "Current Assets"
                },
                "CurrentLiabilities": {
                  "type": "number",
                  "format": "float",
                  "description": "The summation of current liabilities on the balance sheet (liabilities that will be settled within 12 months)",
                  "title": "Current Liabilities"
                },
                "RetainedEarnings": {
                  "type": "number",
                  "format": "float",
                  "description": "The balance of retained earnings or retained deficit at the end of the fiscal period",
                  "title": "Retained Earnings"
                },
                "CommonStockSharesOutstanding": {
                  "type": "number",
                  "format": "float",
                  "description": "The number of shares outstanding",
                  "title": "Common Stock Shares Outstanding"
                },
                "OperatingCashFlows": {
                  "type": "number",
                  "format": "float",
                  "description": "Cash flows generated from or used by operating activities (i.e. payments to suppliers)",
                  "title": "Operating Cash Flows"
                },
                "InvestingCashFlows": {
                  "type": "number",
                  "format": "float",
                  "description": "Cash flows generated from or used by investing activities (i.e. purchases of assets)",
                  "title": "Investing Cash Flows"
                },
                "FinancingCashFlows": {
                  "type": "number",
                  "format": "float",
                  "description": "Cash flows generated from or used by financing activities (i.e. payment/issuance of debt)",
                  "title": "Financing Cash Flows"
                },
                "ProceedsFromIssuanceOfDebt": {
                  "type": "number",
                  "format": "float",
                  "description": "The cash gained from issuances of debt in the fiscal period",
                  "title": "Proceeds from Issuance of Debt"
                },
                "PaymentsOfDebt": {
                  "type": "number",
                  "format": "float",
                  "description": "The total payments of debt the company made in this fiscal period",
                  "title": "Payments of Debt"
                },
                "DividendsPaid": {
                  "type": "number",
                  "format": "float",
                  "description": "The total dividends paid out during this fiscal period",
                  "title": "Dividends Paid"
                }
              }
            }
          }
        },
        "summary": "Open Common Financial Statements",
        "description": "Open financial statements from a 10-K or 10-Q filing",
        "operationId": "OpenCommonFinancials",
        "parameters": [
          {
            "name": "filingurl",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Filing URL",
            "description": "The URL to the SEC 10-K or 10-Q filing"
          }
        ]
      }
    },
    "/SearchEntities": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Cik": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The unique ID of the entity as assigned by the SEC",
                    "title": "CIK"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Entity Name",
                    "title": "The name of the entity (company name or person's full name)"
                  },
                  "TradingSymbol": {
                    "type": "string",
                    "description": "If the entity is a company, the company's trading symbol from a public stock exchange",
                    "title": "Trading Symbol"
                  }
                }
              }
            }
          }
        },
        "summary": "Search Entities",
        "description": "Search the Aletheia database for an entity. An entity represents either a company (serving as an security issuer) or a person (serving as a security owner).",
        "operationId": "SearchEntities",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search Term",
            "description": "The search term (i.e. company or person name)."
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 12,
            "x-ms-summary": "Top number of records",
            "description": "Limit the search results",
            "format": "int32"
          }
        ]
      }
    },
    "/GetEntity": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Cik": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The unique identifier of the entity assigned by the SEC",
                  "title": "CIK"
                },
                "Name": {
                  "type": "string",
                  "description": "The name of the entity (company name or person's full name)",
                  "title": "Name"
                },
                "TradingSymbol": {
                  "type": "string",
                  "description": "If the entity is a company, the trading symbol of the company's equity securities on a stock exchange",
                  "title": "Trading Symbol"
                }
              }
            }
          }
        },
        "summary": "Get Entity",
        "description": "Get information about an entity like CIK, name, and trading symbol",
        "operationId": "GetEntity",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Company ID",
            "description": "Either the CIK or trading symbol of the entity"
          }
        ]
      }
    },
    "/GetFiling": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "string",
                  "description": "The Aletheia-assigned unique ID for this filing in our database",
                  "title": "ID"
                },
                "FilingUrl": {
                  "type": "string",
                  "description": "The URL to the filing with the SEC",
                  "title": "Filing URL"
                },
                "AccessionP1": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The first portion of the SEC-assigned unique ID for this filing",
                  "title": "Accession Number Part 1"
                },
                "AccessionP2": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The second portion of the SEC-assigned unique ID for this filing",
                  "title": "Accession Number Part 2"
                },
                "AccessionP3": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The third portion of the SEC-assigned unique ID for this filing",
                  "title": "Accession Number Part 3"
                },
                "FilingType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Filing Type ID for this filing",
                  "title": "Filing Type"
                },
                "ReportedOn": {
                  "type": "string",
                  "description": "The date this filing was filed with the SEC",
                  "title": "Reported On",
                  "format": "date"
                },
                "Issuer": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The CIK of the issuing company",
                  "title": "Issuer CIK"
                },
                "_Issuer": {
                  "type": "string",
                  "description": "_Issuer"
                },
                "Owner": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The CIK of the owner",
                  "title": "Owner CIK"
                },
                "_Owner": {
                  "type": "string",
                  "description": "_Owner"
                }
              }
            }
          }
        },
        "summary": "Get Filing",
        "description": "Get details of a particular SEC filing that has already been processed by Aletheia systems",
        "operationId": "GetFiling",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filing ID",
            "description": "The Aletheia-assigned unique ID of the filing"
          },
          {
            "name": "url",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filing URL",
            "description": "The URL of the filing with the SEC"
          }
        ]
      }
    },
    "/LatestTransactions": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "The ID of the transaction in the Aletheia database",
                    "title": "Transaction ID"
                  },
                  "FromFiling": {
                    "type": "string",
                    "description": "The ID of the filing from which this transaction originated from",
                    "title": "From Filing (ID)"
                  },
                  "_FromFiling": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "The ID of the filing from which the transaction originated from",
                        "title": "Filing ID"
                      },
                      "FilingUrl": {
                        "type": "string",
                        "description": "The URL of filing form which the transaction originated from",
                        "title": "Filing URL"
                      },
                      "AccessionP1": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The first portion of the SEC-assigned unique ID for this filing",
                        "title": "Accession Number Part 1"
                      },
                      "AccessionP2": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The second portion of the SEC-assigned unique ID for this filing",
                        "title": "Accession Number Part 2"
                      },
                      "AccessionP3": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The third portion of the SEC-assigned unique ID for this filing",
                        "title": "Accession Number Part 3"
                      },
                      "FilingType": {
                        "type": "string",
                        "description": "The type of filing the transaction originated from (i.e. \"4\")",
                        "title": "Filing Type"
                      },
                      "ReportedOn": {
                        "type": "string",
                        "description": "The date on which the originating filing was filed with the SEC",
                        "title": "Reported On",
                        "format": "date"
                      },
                      "Issuer": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The CIK of the company that issued the securities involved in this transaction",
                        "title": "Issuer CIK"
                      },
                      "_Issuer": {
                        "type": "object",
                        "properties": {
                          "Cik": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The CIK of the company that issued the securities involved in this transaction",
                            "title": "Issuer CIK"
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name of the issuing company",
                            "title": "Issuer Name"
                          },
                          "TradingSymbol": {
                            "type": "string",
                            "description": "The trading symbol of the issuing company",
                            "title": "Issuer Trading Symbol"
                          }
                        },
                        "description": "_Issuer"
                      },
                      "Owner": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The CIK of the owner (insider) involved in this transaction",
                        "title": "Owner CIK"
                      },
                      "_Owner": {
                        "type": "object",
                        "properties": {
                          "Cik": {
                            "type": "integer",
                            "format": "int64",
                            "description": "The CIK of the owner involved in this transaction",
                            "title": "Owner CIK"
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name of the owner involved in this transaction",
                            "title": "Owner Name"
                          },
                          "TradingSymbol": {
                            "type": "string",
                            "description": "The trading symbol of the owner (if it is a company)",
                            "title": "Trading Symbol"
                          }
                        },
                        "description": "_Owner"
                      }
                    },
                    "description": "_FromFiling"
                  },
                  "EntryType": {
                    "type": "integer",
                    "format": "int32",
                    "description": "0 = A new transaction, 1 = Reporting a holding",
                    "title": "Entry Type"
                  },
                  "QuantityOwnedFollowingTransaction": {
                    "type": "number",
                    "format": "float",
                    "description": "The number of securities of this type owned after the transaction",
                    "title": "Quantity Owned Following Transaction"
                  },
                  "DirectIndirect": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ownership nature of the security. 0 = Direct, 1 = Indirect",
                    "title": "Direct or Indirect Ownership"
                  },
                  "SecurityTitle": {
                    "type": "string",
                    "description": "The title of the subject security in this transaction or holding record",
                    "title": "Security Title"
                  },
                  "SecurityType": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The type of security. 0 = equity, 1 = derivative",
                    "title": "Security Type"
                  },
                  "AcquiredDisposed": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Whether it was an acquisition or disposition. 0 = Acquisition, 1 = Disposition",
                    "title": "Acquired or Disposed"
                  },
                  "Quantity": {
                    "type": "number",
                    "format": "float",
                    "description": "The number of securities involved in this transaction or holding",
                    "title": "Quantity"
                  },
                  "PricePerSecurity": {
                    "type": "number",
                    "description": "The price at which the security was acquired or disposed",
                    "title": "Price per Security",
                    "format": "float"
                  },
                  "TransactionDate": {
                    "type": "string",
                    "description": "The effective date of the transaction",
                    "title": "Transaction Date",
                    "format": "date"
                  },
                  "TransactionCode": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Code representing the type of transaction",
                    "title": "Transaction Code"
                  },
                  "ConversionOrExercisePrice": {
                    "type": "number",
                    "description": "The exercise price of this derivative security",
                    "title": "Conversion or Exercise Price",
                    "format": "float"
                  },
                  "ExercisableDate": {
                    "type": "string",
                    "description": "The exercisable date of the derivative security",
                    "title": "Exercisable Date",
                    "format": "date"
                  },
                  "ExpirationDate": {
                    "type": "string",
                    "description": "The expiration date of the derivative security",
                    "title": "Expiration Date",
                    "format": "date"
                  },
                  "UnderlyingSecurityTitle": {
                    "type": "string",
                    "description": "If the transaction is derivative, the title of the underlying security",
                    "title": "Underlying Security Title"
                  },
                  "UnderlyingSecurityQuantity": {
                    "type": "number",
                    "description": "If the transaction is derivative, the quantity of the underlying security",
                    "title": "Underlying Security Quantity",
                    "format": "float"
                  }
                }
              }
            }
          }
        },
        "summary": "Latest Insider Transactions",
        "description": "Get the latest insider transactions for a person or company",
        "operationId": "LatestTransactions",
        "parameters": [
          {
            "name": "issuer",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Issuer CIK or trading symbol",
            "description": "The CIK or trading symbol of the issuing company"
          },
          {
            "name": "owner",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Owner CIK",
            "description": "The CIK of the owner (person) involved as the owner in transactions",
            "format": "int64"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 20,
            "x-ms-summary": "Top Number of Records",
            "description": "The number of transactions to limit the search to. Default is 20.",
            "format": "int32"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Before",
            "description": "Filter transactions to before a particular date (YYYYMMDD format)"
          },
          {
            "name": "securitytype",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Security Type",
            "description": "Filter to a security type. 0 = Equity, 1 = Derivative"
          },
          {
            "name": "transactiontype",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Transaction Type",
            "description": "Filter to a particular transaction type"
          },
          {
            "name": "cascade",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Cascade",
            "description": "Also include related records (entity and filing data)"
          }
        ]
      }
    },
    "/AffiliatedOwners": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Cik": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The SEC-assigned CIK (ID) of this owner",
                    "title": "CIK"
                  },
                  "Name": {
                    "type": "string",
                    "description": "The full name of the owner",
                    "title": "Name"
                  }
                }
              }
            }
          }
        },
        "summary": "List Affiliated Owners",
        "operationId": "AffiliatedOwners",
        "description": "List the owners who in the past have had transactions with a particular company's securities",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Company ID",
            "description": "Either the CIK or the trading symbol of the company you are requesting. Provide the CIK for faster performance."
          }
        ]
      }
    },
    "/UnsubscribeFromNewFilingsWebhookById": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "Unsubscribe from New Filings Webhook",
        "operationId": "UnsubscribeFromNewFilingsWebhook",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "description": "Used internally to unsubscribe callback URL's from the new filings webhook"
      }
    },
    "/SubscribeToNewFilingsWebhook": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "EntityTitle": {
              "type": "string",
              "description": "The title of the entity (company or person name)",
              "title": "Entity Title"
            },
            "EntityCik": {
              "type": "integer",
              "format": "int64",
              "description": "The SEC-assigned CIK (ID) of the entity of which the filing corresponds to",
              "title": "Entity CIK"
            },
            "Filing": {
              "type": "string",
              "description": "The filing type (i.e. \"10-K\", \"4\", \"10-Q\")",
              "title": "Filing Type"
            },
            "DocumentsUrl": {
              "type": "string",
              "description": "A URL to the filing with the SEC",
              "title": "Documents URL"
            },
            "Description": {
              "type": "string",
              "description": "A description of the filing",
              "title": "Description"
            },
            "FilingDate": {
              "type": "string",
              "description": "The date the filing was filed with the SEC",
              "title": "Filing Date",
              "format": "date"
            }
          }
        }
      },
      "post": {
        "responses": {},
        "operationId": "NewFilings",
        "summary": "When a new filing is filed with the SEC",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "endpoint": {
                  "type": "string",
                  "description": "endpoint",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "endpoint"
              ]
            }
          }
        ],
        "description": "Trigger a workflow when a new filing is filed with the SEC and use details from that filing"
      }
    },
    "/CommonFinancials": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "PeriodStart": {
                  "type": "string",
                  "description": "Period start date",
                  "title": "Period Start",
                  "format": "date"
                },
                "PeriodEnd": {
                  "type": "string",
                  "description": "Period end date",
                  "title": "Period End",
                  "format": "date"
                },
                "Facts": {
                  "type": "object",
                  "properties": {
                    "RetainedEarnings": {
                      "type": "number",
                      "format": "float",
                      "description": "The historically (since inception) cumulative amount of net income left over for the business after it has paid out dividends to its shareholders",
                      "title": "Retained Earnings"
                    },
                    "OperatingIncome": {
                      "type": "number",
                      "format": "float",
                      "description": "Profit or loss from the company's operations directly related to their core business",
                      "title": "Operating Income"
                    },
                    "Revenue": {
                      "type": "number",
                      "format": "float",
                      "description": "Income generated from normal business operations minus discounts and deductions for returned merchandise",
                      "title": "Revenue"
                    },
                    "SellingGeneralAndAdministrativeExpense": {
                      "type": "number",
                      "format": "float",
                      "description": "Sum of all direct and indirect selling expenses and all general and administrative expenses (G&A) of the company",
                      "title": "Selling, General, and Administrative Expenses"
                    },
                    "ResearchAndDevelopmentExpense": {
                      "type": "number",
                      "format": "float",
                      "description": "Sum of money spent on activities that the company undertook to innovate and introduce new products and services",
                      "title": "Research and Development Expense"
                    },
                    "Assets": {
                      "type": "number",
                      "format": "float",
                      "description": "The sum of total Assets on the company's balance sheet",
                      "title": "Assets"
                    },
                    "NetIncome": {
                      "type": "number",
                      "format": "float",
                      "description": "The company's bottom line profit or loss. Defined as sales minus cost of goods sold, selling, general and administrative expenses, operating expenses, depreciation, interest, taxes, and other expenses",
                      "title": "Net Income"
                    },
                    "ProceedsFromIssuanceOfDebt": {
                      "type": "number",
                      "format": "float",
                      "description": "The amount of cash the company received from issuing debt in the fiscal period",
                      "title": "Proceeds from Debt Issuance"
                    },
                    "OperatingCashFlows": {
                      "type": "number",
                      "format": "float",
                      "description": "Net flow of cash from the past fiscal period involving transactions related to operations",
                      "title": "Operating Cash Flows"
                    },
                    "CurrentLiabilities": {
                      "type": "number",
                      "format": "float",
                      "description": "The liabilities that are intended to be settled within 12 months",
                      "title": "Current Liabilities"
                    },
                    "Equity": {
                      "type": "number",
                      "format": "float",
                      "description": "The equity (assets minus liabilities) on the company's balance sheet",
                      "title": "Equity"
                    },
                    "DividendsPaid": {
                      "type": "number",
                      "format": "float",
                      "description": "The payments of common stock dividends in the past fiscal period",
                      "title": "Dividends Paid"
                    },
                    "Liabilities": {
                      "type": "number",
                      "format": "float",
                      "description": "The sum of total Liabilities on the company's balance sheet",
                      "title": "Liabilities"
                    },
                    "CommonStockSharesOutstanding": {
                      "type": "number",
                      "format": "float",
                      "description": "The number of common stock shares outstanding",
                      "title": "Common Stock Shares Outstanding"
                    },
                    "CurrentAssets": {
                      "type": "number",
                      "format": "float",
                      "description": "The assets that are intended to be disposed of within 12 months",
                      "title": "Current Assets"
                    },
                    "InvestingCashFlows": {
                      "type": "number",
                      "format": "float",
                      "description": "Net flow of cash from the past fiscal period involving cash generated from or spent related to investing activities",
                      "title": "Investing Cash Flows"
                    },
                    "FinancingCashFlows": {
                      "type": "number",
                      "format": "float",
                      "description": "Net flow of cash from the past fiscal period involving transactions related to debt, equity, or dividends",
                      "title": "Financing Cash Flows"
                    },
                    "Cash": {
                      "type": "number",
                      "format": "float",
                      "description": "Balance of cash on the company's balance sheet",
                      "title": "Cash"
                    }
                  },
                  "description": "Facts"
                }
              }
            }
          }
        },
        "summary": "Get Common Financials",
        "description": "Access a set of financial statements for any publicly traded company in simple form",
        "operationId": "GetCommonFinancials",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The CIK or trading symbol of the entity you are requesting filings for",
            "x-ms-summary": "Entity CIK or trading symbol"
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "0 = Annual results, 1 = Quarterly results",
            "x-ms-summary": "Period type",
            "enum": [
              0,
              1
            ]
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Before date",
            "x-ms-summary": "Get the most recent financial statements before this date YYYYMMDD format."
          }
        ]
      }
    },
    "/FinancialFactTrend": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "PeriodStart": {
                    "type": "string",
                    "description": "Period start date for this data point",
                    "title": "Period Start",
                    "format": "date"
                  },
                  "PeriodEnd": {
                    "type": "string",
                    "description": "Period end date for this data point",
                    "title": "Period End",
                    "format": "date"
                  },
                  "Value": {
                    "type": "number",
                    "format": "float",
                    "description": "The data point value",
                    "title": "Value"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Financial Fact Trend",
        "operationId": "FinancialFactTrend",
        "description": "Examine the trend in a fundamental financial data point. For example, get all annual revenue since 2013 for Apple",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The CIK or trading symbol of the entity you are requesting filings for",
            "x-ms-summary": "Entity CIK or trading symbol"
          },
          {
            "name": "label",
            "in": "query",
[...]
