{
  "swagger": "2.0",
  "info": {
    "title": "Knowledgeone RecFind6",
    "description": "Knowledgeone RecFind6 provides table query and file upload services from external system to RecFind 6 databases.",
    "version": "1.0",
    "contact": {
      "name": "Knowledgeone Corporation",
      "url": "https://knowledgeonecorp.com",
      "email": "support@knowledgeonecorp.com"
    }
  },
  "host": "knowledgeonecorp.com",
  "basePath": "/RF6Connector/V1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/QueryList": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "queries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "QueryName": {
                        "type": "string",
                        "description": "Query Name"
                      },
                      "FieldCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Field Count"
                      }
                    }
                  },
                  "description": "queries"
                },
                "result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          }
        },
        "summary": "QueryList",
        "description": "Returns a list of all predefined queries that the caller may request.",
        "operationId": "QueryList",
        "parameters": [
          {
            "name": "HostUrl",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Host URL",
            "description": "URL of the server"
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "User Name",
            "description": "User making the request"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/QueryTable": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "summary": "QueryTable",
        "description": "Provides a table of results corresponding to the requested query and search parameters.",
        "operationId": "QueryTable",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "HostUrl",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Host URL",
            "description": "URL of the server"
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "User Name",
            "description": "User making the request"
          },
          {
            "name": "QueryName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Query Name",
            "x-ms-summary": "Name of the predefined query"
          },
          {
            "name": "SearchText",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search Text",
            "x-ms-summary": "Text to filter the search results"
          }
        ]
      }
    },
    "/QueryData": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "RowCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Row Count"
                      },
                      "Row_id": {
                        "type": "string",
                        "description": "Row Id"
                      },
                      "UrlView": {
                        "type": "string",
                        "description": "Url View"
                      },
                      "UrlModify": {
                        "type": "string",
                        "description": "Url Modify"
                      },
                      "Row_fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Field_name": {
                              "type": "string",
                              "description": "Field Name"
                            },
                            "Field_value": {
                              "type": "string",
                              "description": "Field Value"
                            }
                          }
                        },
                        "description": "Row Fields"
                      }
                    }
                  },
                  "description": "Records"
                },
                "LastPage": {
                  "type": "boolean",
                  "description": "Last Page"
                },
                "result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          }
        },
        "summary": "QueryData",
        "description": "Provides a list of field names and values corresponding to the requested query and search parameters.  Results can be paged.",
        "operationId": "QueryData",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "HostUrl",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Host URL",
            "description": "URL of the server"
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "User Name",
            "description": "User making the request"
          },
          {
            "name": "QueryName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Query Name",
            "x-ms-summary": "Name of the predefined query"
          },
          {
            "name": "StartPosition",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Start position",
            "x-ms-summary": "Number of search results to skip"
          },
          {
            "name": "NumberOfRecords",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of records",
            "x-ms-summary": "Number of records to return"
          },
          {
            "name": "SearchText",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search Text",
            "x-ms-summary": "Text to filter the search results"
          }
        ]
      }
    },
	"/SavedSearch": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "summary": "Saved Search",
        "description": "Provides a table of results corresponding to the requested saved search and parameters",
        "operationId": "SavedSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "HostUrl",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Host URL",
            "description": "URL of the server"
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "User Name",
            "description": "User making the request"
          },
          {
            "name": "SavedSearchName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Saved Search Name",
            "x-ms-summary": "Name of the saved search"
          },
          {
            "name": "Params",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Saved Search Parameters",
            "x-ms-summary": "Parameters to pass to the saved search"
          }
        ]
      }
    },
    "/SendFile": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "URL": {
                  "type": "string",
                  "description": "URL"
                },
                "result": {
                  "type": "string",
                  "description": "result"
                }
              }
            }
          }
        },
        "summary": "Send File",
        "description": "Submit file contents and metadata for storage in the RecFind 6 database. Returns a URL to the stored file.",
        "operationId": "SendFile",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "HostUrl",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Host URL",
            "description": "URL of the server"
          },
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "User Name",
            "description": "User making the request"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "FileContents": {
                  "type": "string",
                  "description": "File Contents"
                },
                "FileName": {
                  "type": "string",
                  "description": "File Name"
                },
                "Title": {
                  "type": "string",
                  "description": "Title"
                },
                "CreatedDate": {
                  "type": "string",
                  "description": "Created Date"
                },
                "EDOCType": {
                  "type": "string",
                  "description": "EDOC Type"
                },
                "ExtraFields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "FldName": {
                        "type": "string",
                        "description": "Field Name"
                      },
                      "FldValue": {
                        "type": "string",
                        "description": "Field Value"
                      }
                    }
                  },
                  "description": "Extra Fields"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "SecurityKey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://knowledgeonecorp.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://knowledgeonecorp.com/general/privacystatement.htm"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ]
}
