{
  "swagger": "2.0",
  "info": {
    "title": "GreenSign",
    "description": "GreenSign helps organizations connect and automate how they prepare, sign, act on, and manage agreements.",
    "version": "1.0",
    "contact": {
      "name": "GreenSign Support",
      "url": "https://greensign.io/contact-us",
      "email": "support@greensign.io"
    }
  },
  "host": "api-prod.greensign.io",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://greensign.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://greensign.io/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Business Intelligence"
    }
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/envelope": {
      "post": {
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "title": "Envelope Id",
                  "type": "string",
                  "description": "Id of the envelope"
                },
                "status": {
                  "title": "Status",
                  "type": "string",
                  "description": "Envelope status"
                },
                "created_at": {
                  "title": "Created at",
                  "type": "string",
                  "description": "Envelope creation date"
                }
              }
            }
          }
        },
        "summary": "Create envelope",
        "description": "Create a new blank envelope.",
        "operationId": "CreateNewEnvelope",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "X-organization",
            "description": "Select organization you want to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetUser",
              "value-path": "organization",
              "value-collection": "organizations",
              "value-title": "name"
            },
            "x-ms-summary": "Organization"
          }
        ]
      }
    },
    "/template/{TemplateId}/envelope/schema": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Get template schema",
        "description": "Get template dynamic schema.",
        "operationId": "GetTemplateSchema",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/X-organization"
          },
          {
            "name": "TemplateId",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Template"
          }
        ]
      }
    },
    "/envelope/{Envelope Id}/recipients": {
      "post": {
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Recipient Id",
                        "description": "Id of the recipient"
                      },
                      "email_address": {
                        "type": "string",
                        "description": "Email address",
                        "title": "Email address"
                      },
                      "full_name": {
                        "type": "string",
                        "description": "Full name",
                        "title": "Full name"
                      },
                      "sign_action": {
                        "type": "string",
                        "title": "Sign Action",
                        "description": "Sign action"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Add envelope recipients",
        "description": "Add recipients in an envelope.",
        "operationId": "AddEnvelopeRecipients",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "X-organization",
            "description": "Select organization you want to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetUser",
              "value-path": "organization",
              "value-collection": "organizations",
              "value-title": "name"
            },
            "x-ms-summary": "Organization"
          },
          {
            "name": "Envelope Id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "Envelope",
            "description": "Envelope Id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "email_address",
                      "full_name",
                      "sign_action"
                    ],
                    "properties": {
                      "email_address": {
                        "type": "string",
                        "description": "Email address",
                        "title": "Email address",
                        "x-ms-parameterized-host": {
                          "label": "Email address"
                        }
                      },
                      "full_name": {
                        "type": "string",
                        "description": "Full name",
                        "title": "Full name",
                        "x-ms-parameterized-host": {
                          "label": "Full name"
                        }
                      },
                      "sign_action": {
                        "type": "string",
                        "title": "Sign Action",
                        "description": "Select Sign action",
                        "x-ms-parameterized-host": {
                          "label": "Sign Action"
                        },
                        "enum": [
                          "CAN_SIGN",
                          "CAN_READ"
                        ],
                        "x-ms-enum": {
                          "name": "SignAction",
                          "modelAsString": false,
                          "values": [
                            {
                              "value": "CAN_SIGN",
                              "description": "Needs to Sign",
                              "name": "Needs to Sign"
                            },
                            {
                              "value": "CAN_READ",
                              "description": "Receives a Copy",
                              "name": "Receives a Copy"
                            }
                          ]
                        },
                        "x-ms-visibility": "important"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/envelope/{Envelope Id}/send": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Send Envelope",
        "description": "Send an existing envelope for signing.",
        "operationId": "SendEnvelope",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "X-organization",
            "description": "Select organization you want to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetUser",
              "value-path": "organization",
              "value-collection": "organizations",
              "value-title": "name"
            },
            "x-ms-summary": "Organization"
          },
          {
            "name": "Envelope Id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Envelope Id",
            "x-ms-summary": "Envelope"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "meta_data": {
                  "type": "object",
                  "properties": {
                    "email_subject": {
                      "type": "string",
                      "title": "Email Subjet",
                      "description": "Enter email subject"
                    },
                    "email_body": {
                      "type": "string",
                      "title": "Email Body",
                      "description": "Enter email body"
                    }
                  },
                  "description": "meta_data"
                }
              },
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/user/template": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "templates": {
                  "title": "templates",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "title": "created_at",
                        "type": "string"
                      },
                      "name": {
                        "title": "name",
                        "type": "string"
                      },
                      "description": {
                        "title": "description",
                        "type": "string"
                      },
                      "id": {
                        "title": "id",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "List templates",
        "description": "List owned templates in a specified organization.",
        "operationId": "ListUserTemplates",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/X-organization"
          }
        ]
      }
    },
    "/template/{Template Id}/envelope/recipients": {
      "post": {
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "title": "Envelope Id",
                  "type": "string",
                  "description": "Id of the envelope"
                },
                "status": {
                  "title": "Status",
                  "type": "string",
                  "description": "Envelope status"
                },
                "created_at": {
                  "title": "Created at",
                  "type": "string",
                  "description": "Envelope creation date"
                },
                "meta_data": {
                  "type": "object",
                  "title": "Email",
                  "properties": {
                    "email_subject": {
                      "type": "string",
                      "title": "Subject",
                      "description": "Email Subject"
                    },
                    "email_body": {
                      "type": "string",
                      "title": "Body",
                      "description": "Email Body"
                    }
                  }
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Recipient Id",
                        "description": "Id of the recipient"
                      },
                      "role": {
                        "type": "string",
                        "description": "Recipient Role",
                        "title": "Role"
                      },
                      "email_address": {
                        "type": "string",
                        "description": "Recipient Email address",
                        "title": "Email address"
                      },
                      "full_name": {
                        "type": "string",
                        "description": "Recipient Full name",
                        "title": "Full name"
                      },
                      "sign_action": {
                        "type": "string",
                        "title": "Sign Action",
                        "description": "Recipient Sign action",
                        "x-ms-parameterized-host": {
                          "label": "Sign Action"
                        },
                        "enum": [
                          "CAN_SIGN",
                          "CAN_READ"
                        ],
                        "x-ms-enum": {
                          "name": "SignAction",
                          "modelAsString": false,
                          "values": [
                            {
                              "value": "CAN_SIGN",
                              "description": "Needs to Sign",
                              "name": "Needs to Sign"
                            },
                            {
                              "value": "CAN_READ",
                              "description": "Receives a Copy",
                              "name": "Receives a Copy"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Create envelope using template with recipients",
        "description": "Create a new envelope using a specified template and specify recipients.",
        "operationId": "CreateEnvelopeViaTemplate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "X-organization",
            "description": "Select organization you want to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetUser",
              "value-path": "organization",
              "value-collection": "organizations",
              "value-title": "name"
            },
            "x-ms-summary": "Organization"
          },
          {
            "name": "Template Id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListUserTemplates",
              "parameters": {
                "X-organization": {
                  "parameter": "X-organization"
                }
              },
              "value-path": "id",
              "value-collection": "templates",
              "value-title": "name"
            },
            "description": "Template Id",
            "x-ms-summary": "Template"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetTemplateSchema",
                "parameters": {
                  "TemplateId": {
                    "parameter": "Template Id"
                  },
                  "X-organization": {
                    "parameter": "X-organization"
                  }
                },
                "value-path": "schema"
              }
            }
          }
        ]
      }
    },
    "/envelope/{Envelope Id}/signing-actions": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "signing_actions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Action Id",
                        "description": "Id of signing action"
                      },
                      "title": {
                        "type": "string",
                        "title": "Action Data Label",
                        "description": "Data Label of signing action"
                      },
                      "label": {
                        "type": "string",
                        "title": "Action Field label",
                        "description": "Field Label of signing action"
                      },
                      "type": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "title": "Action Type"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get document signing actions from envelope",
        "description": "Get document signing actions from envelope.",
        "operationId": "GetSigningActions",
        "parameters": [
          {
            "name": "X-organization",
            "description": "Select organization you want to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetUser",
              "value-path": "organization",
              "value-collection": "organizations",
              "value-title": "name"
            },
            "x-ms-summary": "Organization"
          },
          {
            "name": "Envelope Id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Envelope Id",
            "x-ms-summary": "Envelope"
          },
          {
            "name": "recipient",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Recipient Id",
            "x-ms-summary": "Recipient"
          }
        ]
      }
    },
    "/signing-action-type/list": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "signing_action_types": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "id"
                      },
                      "data_type": {
                        "type": "string",
                        "title": "data_type"
                      },
                      "name": {
                        "type": "string",
                        "title": "name"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get signing action types",
        "description": "Get signing action types.",
        "operationId": "GetSigningActionTypes",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/{Envelope Id}/signing_actions": {
      "post": {
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "signing_actions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Action Id",
                        "description": "Id of signing action"
                      },
                      "title": {
                        "type": "string",
                        "title": "Action Data Label",
                        "description": "Data Label of signing action"
                      },
                      "label": {
                        "type": "string",
                        "title": "Action Field label",
                        "description": "Field Label of signing action"
                      },
                      "type": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "title": "Action Type"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Add tabs for a recipient on an envelope",
        "description": "Add tabs for a recipient on an envelope.",
        "operationId": "AddEnvelopSigningActions",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "X-organization",
            "description": "Select organization you want to use",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetUser",
              "value-path": "organization",
              "value-collection": "organizations",
              "value-title": "name"
            }
          },
          {
            "name": "Envelope Id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Envelope Id",
            "x-ms-summary": "Envelope"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "required": [
                "recipient",
                "signing_actions"
              ],
              "properties": {
                "recipient": {
                  "type": "string",
                  "title": "Recipeint Id",
                  "description": "Enter recipient Id"
                },
                "signing_actions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Choose signing action type",
                        "title": "Signing action type",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                          "operationId": "GetSigningActionTypes",
                          "value-path": "id",
                          "value-collection": "signing_action_types",
                          "value-title": "name"
                        }
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  "description": "signing_actions"
                }
              }
            }
          }
        ]
      }
    },
    "/user": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "User Id"
                },
                "email_address": {
                  "type": "string",
                  "title": "User Email Address"
                },
                "first_name": {
                  "type": "string",
                  "title": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "title": "Last Name"
                },
                "organizations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "organization": {
                        "type": "string",
                        "title": "Organization Id"
                      },
                      "name": {
                        "type": "string",
                        "title": "Organization Name"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get user",
        "description": "Get user details.",
        "operationId": "GetUser",
        "parameters": []
      }
    },
    "/envelope/{Envelope Id}/document/base64": {
      "post": {
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Document Id",
                        "description": "Id of the document"
                      },
                      "title": {
                        "type": "string",
                        "title": "Document Title",
                        "description": "Title of the document"
                      },
                      "created_at": {
                        "type": "string",
                        "title": "Document upload date",
                        "description": "When the document was uploaded"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Add documents to an envelope",
        "description": "Add documents to an envelope.",
        "operationId": "AddEnvelopeDocuments",
        "parameters": [
          {
            "name": "X-organization",
            "description": "Select organization you want to use",
            "x-ms-summary": "Organization",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetUser",
              "value-path": "organization",
              "value-collection": "organizations",
              "value-title": "name"
            }
          },
          {
            "name": "Envelope Id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Envelope Id",
            "x-ms-summary": "Envelope"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "base64",
                      "name",
                      "type"
                    ],
                    "properties": {
                      "base64": {
                        "type": "string",
                        "title": "Document Base64",
                        "description": "Enter base64 string of your document"
                      },
                      "name": {
                        "type": "string",
                        "title": "Document Title",
                        "description": "Enter name of the document"
                      },
                      "type": {
                        "type": "string",
                        "title": "Document Type",
                        "description": "Choose document type",
                        "enum": [
                          "doc",
                          "docm",
                          "docx",
                          "dot",
                          "dotm",
                          "dotx",
                          "htm",
                          "html",
                          "msg",
                          "pdf",
                          "rtf",
                          "txt",
                          "wpd",
                          "xhtml",
                          "xps",
                          "bmp",
                          "gif",
                          "heic",
                          "jpg",
                          "jpeg",
                          "png",
                          "tif",
                          "tiff",
                          "pot",
                          "potx",
                          "pps",
                          "ppt",
                          "pptm",
                          "pptx",
                          "csv",
                          "xls",
                          "xlsm",
                          "xlsx"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/envelope/{Envelope Id}/recipients/info": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "Recipient Id"
                },
                "email_address": {
                  "type": "string",
                  "title": "Recipient Email Address"
                },
                "full_name": {
                  "type": "string",
                  "title": "Recipient Full Name"
                }
              }
            }
          }
        },
        "summary": "Get recipient info from envelope",
        "description": "Get recipient info from envelope.",
        "operationId": "GetEnvelopeRecipientInfo",
        "parameters": [
          {
            "name": "X-organization",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetUser",
              "value-path": "organization",
              "value-collection": "organizations",
              "value-title": "name"
            },
            "x-ms-summary": "Organization",
            "description": "Select Organization you want to use"
          },
          {
            "name": "Envelope Id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Envelope Id",
            "x-ms-summary": "Envelope"
          },
          {
            "name": "email_address",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Recipient Email Address",
            "x-ms-summary": "Recipient Email Address"
          }
        ]
      }
    },
    "/envelope/{Envelope Id}/documents/info": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "Document Id"
                },
                "title": {
                  "type": "string",
                  "title": "Document title"
                }
              }
            }
          }
        },
        "summary": "Get document info from envelope",
        "description": "Get document info from envelope.",
        "operationId": "GetEnvelopeDocumentInfo",
        "parameters": [
          {
            "name": "X-organization",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetUser",
              "value-path": "organization",
              "value-collection": "organizations",
              "value-title": "name"
            },
            "x-ms-summary": "Organization",
            "description": "Select Organization you want to use"
          },
          {
            "name": "Envelope Id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Envelope Id",
            "x-ms-summary": "Envelope"
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Document name",
            "x-ms-summary": "Document name"
          }
        ]
      }
    },
    "/envelope/{Envelope Id}/signing-actions/populate": {
      "post": {
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "signing_actions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "title": "Action Id",
                        "description": "Id of signing action"
                      },
                      "title": {
                        "type": "string",
                        "title": "Action Data Label",
                        "description": "Data Label of signing action"
                      },
                      "label": {
                        "type": "string",
                        "title": "Action Field label",
                        "description": "Field Label of signing action"
                      },
                      "data": {
                        "type": "string",
                        "title": "Action Value",
                        "description": "Signing Action value"
                      },
                      "type": {
                        "type": "string",
                        "title": "Type Id",
                        "description": "Id of signing action type"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Populate signing actions in an envelope",
        "description": "Populate signing actions with data for a recipient in an envelope.",
        "operationId": "PopulateSigningActions",
        "parameters": [
          {
            "name": "X-organization",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Organization",
            "description": "Select Organization you want to use",
            "x-ms-dynamic-values": {
              "operationId": "GetUser",
              "value-path": "organization",
              "value-collection": "organizations",
              "value-title": "name"
            }
          },
          {
            "name": "Envelope Id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Envelope Id",
            "x-ms-summary": "Envelope"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "signing_actions_data",
                "recipient"
              ],
              "properties": {
                "recipient": {
                  "type": "string",
                  "title": "Recipient",
                  "description": "Enter Recipient Id"
                },
                "signing_actions_data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "title": "Action",
                    "description": "Action",
                    "required": [
                      "data_label",
                      "data"
                    ],
                    "properties": {
                      "data_label": {
                        "type": "string",
                        "title": "Label",
                        "description": "Enter data label"
                      },
                      "data": {
                        "type": "string",
                        "title": "Value",
                        "description": "Enter value"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/integration/webhook/subscribe": {
      "x-ms-notification-content": {
        "description": "Envelope status changed response",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "title": "Envelope Id",
              "description": "Id of the envelope"
            },
            "status": {
              "type": "string",
              "title": "Envelope status",
              "description": "Current status of the envelope"
            },
            "sent_at": {
              "type": "string",
              "title": "Envelope sent at",
              "description": "YYYY-MM-DDTHH:mm:ss.sssZ"
            },
            "created_at": {
              "type": "string",
              "title": "Envelope created at",
              "description": "YYYY-MM-DDTHH:mm:ss.sssZ"
            },
            "meta_data": {
              "type": "object",
              "properties": {
                "email_subject": {
                  "type": "string",
                  "title": "Email Subject"
                },
                "email_body": {
                  "type": "string",
                  "title": "Email Body"
                }
              }
            },
            "created_by": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "title": "Sender Id"
                },
                "email_address": {
                  "type": "string",
                  "title": "Sender Email"
                },
                "first_name": {
                  "type": "string",
                  "title": "Sender Name"
                }
              }
            },
            "signing_recipient": {
              "type": "object",
              "properties": {
                "full_name": {
                  "type": "string",
                  "title": "Acting Recipient Name",
                  "description": "Acting Recipeint full name"
                },
                "email_address": {
                  "type": "string",
                  "title": "Acting Recipient Email",
                  "description": "Acting Recipient Email Address"
                },
                "priority": {
                  "type": "number",
                  "title": "Acting Recipient Priority",
                  "description": "Acting Recipient priority"
                },
                "sign_action": {
                  "type": "string",
                  "title": "Acting Recipient Type",
                  "description": "Type of the acting recipient"
                },
                "sent_at": {
                  "type": "string",
                  "title": "Acting Recipient sent at",
                  "description": "YYYY-MM-DDTHH:mm:ss.sssZ"
                },
                "status": {
                  "type": "string",
                  "title": "Acting Recipient Status",
                  "description": "The status of the acting recipient"
                }
              }
            },
            "recipients": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "full_name": {
                    "type": "string",
                    "title": "Recipient Name",
                    "description": "Recipeint full name"
                  },
                  "email_address": {
                    "type": "string",
                    "title": "Recipient Email",
                    "description": "Recipient Email Address"
                  },
                  "priority": {
                    "type": "number",
                    "title": "Recipient Priority",
                    "description": "Recipient priority"
                  },
                  "sign_action": {
                    "type": "string",
                    "title": "Recipient Type",
                    "description": "Type of the recipient"
                  },
                  "sent_at": {
                    "type": "string",
                    "title": "Recipient sent at",
                    "description": "YYYY-MM-DDTHH:mm:ss.sssZ"
                  },
                  "status": {
                    "type": "string",
                    "title": "Recipient Status",
                    "description": "The status of the recipient"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "When an envelope status changes",
        "description": "Triggers a new flow when an envelope status changes.",
        "operationId": "WhenAnEnvelopeStatusChanges",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "X-organization",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Organization you want to use",
            "x-ms-summary": "Organization",
            "x-ms-dynamic-values": {
              "operationId": "GetUser",
              "value-path": "organization",
              "value-collection": "organizations",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "title": "Envelope event",
                  "enum": [
                    "ENVELOPE_CREATED",
                    "ENVELOPE_SENT",
                    "ENVELOPE_COMPLETED",
                    "ENVELOPE_EXPIRED",
                    "EVNELOPE_DECLINED",
                    "RECIPIENT_SIGNED",
                    "ENVELOPE_VIEWED"
                  ]
                }
              },
              "required": [
                "status",
                "url"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {
    "X-organization": {
      "x-ms-summary": "Organization",
      "x-ms-dynamic-values": {
        "operationId": "GetUser",
        "value-path": "organization",
        "value-collection": "organizations",
        "value-title": "name"
      },
      "required": true,
      "in": "header",
      "name": "X-organization",
      "description": "Select Organization you want to use",
      "x-ms-visibility": "important",
      "type": "string"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.greensign.io/oauth2/authorize",
      "tokenUrl": "https://api-prod.greensign.io/api/v2/oauth2/token",
      "scopes": {
        "default": "default"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "default"
      ]
    }
  ],
  "tags": []
}