{
  "swagger": "2.0",
  "info": {
    "title": "Workable MCP",
    "description": "Workable is a hiring and HR platform. This MCP server lets an agent work with a user's Workable account: browse and search jobs, review and action candidates through the hiring pipeline, look up employees and the org chart, manage requisitions, offers, departments and members, and handle time off, time tracking, performance reviews.",
    "version": "1.0.0",
    "contact": {
      "name": "Workable Support",
      "url": "https://help.workable.com/hc/en-us"
    },
    "termsOfService": "https://www.workable.com/terms"
  },
  "host": "mcp.workable.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/mcp": {
      "post": {
        "summary": "Workable MCP server",
        "description": "Streamable HTTP endpoint for the Workable MCP server. Exposes Workable recruiting (ATS) and HR tools to the agent. The agent should call get_accounts first to discover the account subdomains the signed-in user can reach, then pass the chosen subdomain as the account argument of every other tool.",
        "operationId": "InvokeMCP",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "responses": {
          "200": {
            "description": "MCP Streamable HTTP response.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request."
          },
          "401": {
            "description": "Unauthorized. The OAuth token is missing, invalid, or expired."
          },
          "500": {
            "description": "Internal server error from the Workable MCP server."
          }
        },
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json, text/event-stream",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://workable.com/oauth/authorize",
      "tokenUrl": "https://workable.com/oauth/token",
      "scopes": {
        "r_candidates": "Read candidates, candidate activities, files and offers",
        "w_candidates": "Create and update candidates, and move, copy, relocate, disqualify or requalify them",
        "r_jobs": "Read jobs, job stages, members, recruiters, application forms and activities",
        "w_jobs": "Create and update jobs",
        "r_offers": "Read offers",
        "w_offers": "Approve or reject offers",
        "r_requisitions": "Read requisitions and their custom attributes",
        "w_requisitions": "Create, update, approve and reject requisitions",
        "w_comments": "Post comments and evaluations on candidate profiles",
        "r_account": "Read account details, custom attributes, legal entities and work schedules",
        "w_departments": "Create, update, merge and delete departments",
        "w_members": "Invite, update, enable and remove account members",
        "r_employees": "Read employees, employee documents and the org chart",
        "w_employees": "Update employee records",
        "r_timeoff": "Read time off balances, requests and categories",
        "w_timeoff": "Create time off requests and approve or reject pending ones",
        "r_time_tracking": "Read time entries",
        "w_time_tracking": "Create and update time entries and clock in or out",
        "r_reviews": "Read performance review cycles, forms, tasks and results",
        "w_reviews": "Create review cycle templates and update, submit, share and sign reviews",
        "r_reports": "Run reporting searches over employees, candidates and profile updates"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "r_candidates",
        "w_candidates",
        "r_jobs",
        "w_jobs",
        "r_offers",
        "w_offers",
        "r_requisitions",
        "w_requisitions",
        "w_comments",
        "r_account",
        "w_departments",
        "w_members",
        "r_employees",
        "w_employees",
        "r_timeoff",
        "w_timeoff",
        "r_time_tracking",
        "w_time_tracking",
        "r_reviews",
        "w_reviews",
        "r_reports"
      ]
    }
  ],
  "tags": [
    {
      "name": "Workable MCP"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.workable.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.workable.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources;Productivity"
    }
  ]
}
