{
  "swagger": "2.0",
  "info": {
    "title": "NEOWs",
    "description": "Near Earth Object Web Service (NeoWs) is a service for near earth asteroid information. With NeoWs a user can: search for asteroids based on their closest approach date to Earth, lookup a specific asteroid with its NASA JPL small body ID, as well as browse the overall data-set.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.nasa.gov",
  "basePath": "/neo/rest/v1/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/feed": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "description": "The next response page.",
                      "title": "Next"
                    },
                    "prev": {
                      "type": "string",
                      "description": "The previous response page.",
                      "title": "Previous"
                    },
                    "self": {
                      "type": "string",
                      "description": "The current response page.",
                      "title": "Self"
                    }
                  },
                  "title": "Links"
                },
                "element_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count of elements.",
                  "title": "Element Count"
                },
                "near_earth_objects": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string",
                                "description": "The current object.",
                                "title": "Self"
                              }
                            },
                            "title": "Links"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "neo_reference_id": {
                            "type": "string",
                            "description": "The NEO reference identifier.",
                            "title": "NEO Reference ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "nasa_jpl_url": {
                            "type": "string",
                            "description": "The NASA JPL URL address.",
                            "title": "NASA JPL URL"
                          },
                          "absolute_magnitude_h": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The absolute magnitude (H).",
                            "title": "Absolute Magnitude"
                          },
                          "estimated_diameter": {
                            "type": "object",
                            "properties": {
                              "kilometers": {
                                "type": "object",
                                "properties": {
                                  "estimated_diameter_min": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The minimum estimated diameter.",
                                    "title": "Estimated Diameter Min"
                                  },
                                  "estimated_diameter_max": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The maximum estimated diameter.",
                                    "title": "Estimated Diameter Max"
                                  }
                                },
                                "title": "Kilometers"
                              },
                              "meters": {
                                "type": "object",
                                "properties": {
                                  "estimated_diameter_min": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The minimum estimated diameter.",
                                    "title": "Estimated Diameter Min"
                                  },
                                  "estimated_diameter_max": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The maximum estimated diameter.",
                                    "title": "Estimated Diameter Max"
                                  }
                                },
                                "title": "Meters"
                              },
                              "miles": {
                                "type": "object",
                                "properties": {
                                  "estimated_diameter_min": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The minimum estimated diameter.",
                                    "title": "Estimated Diameter Min"
                                  },
                                  "estimated_diameter_max": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The maximum estimated diameter.",
                                    "title": "Estimated Diameter Max"
                                  }
                                },
                                "title": "Miles"
                              },
                              "feet": {
                                "type": "object",
                                "properties": {
                                  "estimated_diameter_min": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The minimum estimated diameter.",
                                    "title": "Estimated Diameter Min"
                                  },
                                  "estimated_diameter_max": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The maximum estimated diameter.",
                                    "title": "Estimated Diameter Max"
                                  }
                                },
                                "title": "Feet"
                              }
                            },
                            "title": "Estimated Diameter"
                          },
                          "is_potentially_hazardous_asteroid": {
                            "type": "boolean",
                            "description": "Whether is potentially a hazardous asteroid.",
                            "title": "Is Potentially Hazardous Asteroid"
                          },
                          "close_approach_data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "close_approach_date": {
                                  "type": "string",
                                  "description": "The date of close approach.",
                                  "title": "Close Approach Date"
                                },
                                "close_approach_date_full": {
                                  "type": "string",
                                  "description": "The full date of close approach.",
                                  "title": "Close Approach Date Full"
                                },
                                "epoch_date_close_approach": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The epoch date of close approach.",
                                  "title": "Epoch Date Close Approach"
                                },
                                "relative_velocity": {
                                  "type": "object",
                                  "properties": {
                                    "kilometers_per_second": {
                                      "type": "string",
                                      "description": "The kilometers per second.",
                                      "title": "Kilometers Per Second"
                                    },
                                    "kilometers_per_hour": {
                                      "type": "string",
                                      "description": "The kilometers per hour.",
                                      "title": "Kilometers Per Hour"
                                    },
                                    "miles_per_hour": {
                                      "type": "string",
                                      "description": "The miles per hour.",
                                      "title": "Miles Per Hour"
                                    }
                                  },
                                  "title": "Relative Velocity"
                                },
                                "miss_distance": {
                                  "type": "object",
                                  "properties": {
                                    "astronomical": {
                                      "type": "string",
                                      "description": "The astronomical distance.",
                                      "title": "Astronomical"
                                    },
                                    "lunar": {
                                      "type": "string",
                                      "description": "The lunar distance.",
                                      "title": "Lunar"
                                    },
                                    "kilometers": {
                                      "type": "string",
                                      "description": "The distance in kilometers.",
                                      "title": "Kilometers"
                                    },
                                    "miles": {
                                      "type": "string",
                                      "description": "The distance in miles.",
                                      "title": "Miles"
                                    }
                                  },
                                  "title": "Miss Distance"
                                },
                                "orbiting_body": {
                                  "type": "string",
                                  "description": "The orbiting body.",
                                  "title": "Orbiting Body"
                                }
                              }
                            },
                            "title": "Close Approach Data"
                          },
                          "orbital_data": {
                            "type": "object",
                            "properties": {
                              "orbit_id": {
                                "type": "string",
                                "description": "The orbit identifier.",
                                "title": "Orbit ID"
                              },
                              "orbit_determination_date": {
                                "type": "string",
                                "description": "The orbit determination date.",
                                "title": "Orbit Determination Date"
                              },
                              "first_observation_date": {
                                "type": "string",
                                "description": "The first observation date.",
                                "title": "First Observation Date"
                              },
                              "last_observation_date": {
                                "type": "string",
                                "description": "The last observation date.",
                                "title": "Last Observation Date"
                              },
                              "data_arc_in_days": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The data arc in days.",
                                "title": "Data Arc In Days"
                              },
                              "observations_used": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of observations used.",
                                "title": "Observations Used"
                              },
                              "orbit_uncertainty": {
                                "type": "string",
                                "description": "The orbit uncertainty.",
                                "title": "Orbit Uncertainty"
                              },
                              "minimum_orbit_intersection": {
                                "type": "string",
                                "description": "The minimum orbit intersection.",
                                "title": "Minimum Orbit Intersection"
                              },
                              "jupiter_tisserand_invariant": {
                                "type": "string",
                                "description": "The Jupiter Tisserand invariant.",
                                "title": "Jupiter Tisserand Invariant"
                              },
                              "epoch_osculation": {
                                "type": "string",
                                "description": "The epoch osculation.",
                                "title": "Epoch Osculation"
                              },
                              "eccentricity": {
                                "type": "string",
                                "description": "The eccentricity.",
                                "title": "Eccentricity"
                              },
                              "semi_major_axis": {
                                "type": "string",
                                "description": "The semi major axis.",
                                "title": "Semi Major Axis"
                              },
                              "inclination": {
                                "type": "string",
                                "description": "The inclination.",
                                "title": "Inclination"
                              },
                              "ascending_node_longitude": {
                                "type": "string",
                                "description": "The ascending node longitude.",
                                "title": "Ascending Node Longitude"
                              },
                              "orbital_period": {
                                "type": "string",
                                "description": "The orbital period.",
                                "title": "Orbital Period"
                              },
                              "perihelion_distance": {
                                "type": "string",
                                "description": "The Perihelion distance.",
                                "title": "Perihelion Distance"
                              },
                              "perihelion_argument": {
                                "type": "string",
                                "description": "The Perihelion argument.",
                                "title": "Perihelion Argument"
                              },
                              "aphelion_distance": {
                                "type": "string",
                                "description": "The Aphelion distance.",
                                "title": "Aphelion Distance"
                              },
                              "perihelion_time": {
                                "type": "string",
                                "description": "The Perihelion time.",
                                "title": "Perihelion Time"
                              },
                              "mean_anomaly": {
                                "type": "string",
                                "description": "The mean anomaly.",
                                "title": "Mean Anomaly"
                              },
                              "mean_motion": {
                                "type": "string",
                                "description": "The mean motion.",
                                "title": "Mean Motion"
                              },
                              "equinox": {
                                "type": "string",
                                "description": "The equinox.",
                                "title": "Equinox"
                              },
                              "orbit_class": {
                                "type": "object",
                                "properties": {
                                  "orbit_class_type": {
                                    "type": "string",
                                    "description": "The orbit class type.",
                                    "title": "Type"
                                  },
                                  "orbit_class_description": {
                                    "type": "string",
                                    "description": "The orbit class description.",
                                    "title": "Description"
                                  },
                                  "orbit_class_range": {
                                    "type": "string",
                                    "description": "The orbit class range.",
                                    "title": "Range"
                                  }
                                },
                                "title": "Orbit Class"
                              }
                            },
                            "title": "Orbital Data"
                          },
                          "is_sentry_object": {
                            "type": "boolean",
                            "description": "Whether is sentry object.",
                            "title": "Is Sentry Object"
                          }
                        }
                      },
                      "title": "Date"
                    }
                  },
                  "title": "Near Earth Objects"
                }
              }
            }
          }
        },
        "summary": "Get Near Earth Objects by date",
        "description": "Retrieve a list of Near Earth Objects within a date range. The max range is 7 days.",
        "operationId": "Feed",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "detailed",
            "in": "query",
            "x-ms-summary": "Detailed",
            "description": "Whether to include detail results.",
            "required": false,
            "type": "boolean"
          }
        ]
      }
    },
    "/feed/today": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "description": "The next response page.",
                      "title": "Next"
                    },
                    "prev": {
                      "type": "string",
                      "description": "The previous response page.",
                      "title": "Previous"
                    },
                    "self": {
                      "type": "string",
                      "description": "The current response page.",
                      "title": "Self"
                    }
                  },
                  "title": "Links"
                },
                "element_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count of elements.",
                  "title": "Element Count"
                },
                "near_earth_objects": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "links": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string",
                                "description": "The current object.",
                                "title": "Self"
                              }
                            },
                            "title": "Links"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "neo_reference_id": {
                            "type": "string",
                            "description": "The NEO reference identifier.",
                            "title": "NEO Reference ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "nasa_jpl_url": {
                            "type": "string",
                            "description": "The NASA JPL URL address.",
                            "title": "NASA JPL URL"
                          },
                          "absolute_magnitude_h": {
                            "type": "number",
                            "format": "float",
                            "description": "The absolute magnitude (H).",
                            "title": "Absolute Magnitude"
                          },
                          "estimated_diameter": {
                            "type": "object",
                            "properties": {
                              "kilometers": {
                                "type": "object",
                                "properties": {
                                  "estimated_diameter_min": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The minimum estimated diameter.",
                                    "title": "Estimated Diameter Min"
                                  },
                                  "estimated_diameter_max": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The maximum estimated diameter.",
                                    "title": "Estimated Diameter Max"
                                  }
                                },
                                "title": "Kilometers"
                              },
                              "meters": {
                                "type": "object",
                                "properties": {
                                  "estimated_diameter_min": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The minimum estimated diameter.",
                                    "title": "Estimated Diameter Min"
                                  },
                                  "estimated_diameter_max": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The maximum estimated diameter.",
                                    "title": "Estimated Diameter Max"
                                  }
                                },
                                "title": "Meters"
                              },
                              "miles": {
                                "type": "object",
                                "properties": {
                                  "estimated_diameter_min": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The minimum estimated diameter.",
                                    "title": "Estimated Diameter Min"
                                  },
                                  "estimated_diameter_max": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The maximum estimated diameter.",
                                    "title": "Estimated Diameter Max"
                                  }
                                },
                                "title": "Miles"
                              },
                              "feet": {
                                "type": "object",
                                "properties": {
                                  "estimated_diameter_min": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The minimum estimated diameter.",
                                    "title": "Estimated Diameter Min"
                                  },
                                  "estimated_diameter_max": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The maximum estimated diameter.",
                                    "title": "Estimated Diameter Max"
                                  }
                                },
                                "title": "Feet"
                              }
                            },
                            "title": "Estimated Diameter"
                          },
                          "is_potentially_hazardous_asteroid": {
                            "type": "boolean",
                            "description": "Whether is potentially a hazardous asteroid.",
                            "title": "Is Potentially Hazardous Asteroid"
                          },
                          "close_approach_data": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "close_approach_date": {
                                  "type": "string",
                                  "description": "The date of close approach.",
                                  "title": "Close Approach Date"
                                },
                                "close_approach_date_full": {
                                  "type": "string",
                                  "description": "The full date of close approach.",
                                  "title": "Close Approach Date Full"
                                },
                                "epoch_date_close_approach": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The epoch date of close approach.",
                                  "title": "Epoch Date Close Approach"
                                },
                                "relative_velocity": {
                                  "type": "object",
                                  "properties": {
                                    "kilometers_per_second": {
                                      "type": "string",
                                      "description": "The kilometers per second.",
                                      "title": "Kilometers Per Second"
                                    },
                                    "kilometers_per_hour": {
                                      "type": "string",
                                      "description": "The kilometers per hour.",
                                      "title": "Kilometers Per Hour"
                                    },
                                    "miles_per_hour": {
                                      "type": "string",
                                      "description": "The miles per hour.",
                                      "title": "Miles Per Hour"
                                    }
                                  },
                                  "title": "Relative Velocity"
                                },
                                "miss_distance": {
                                  "type": "object",
                                  "properties": {
                                    "astronomical": {
                                      "type": "string",
                                      "description": "The astronomical distance.",
                                      "title": "Astronomical"
                                    },
                                    "lunar": {
                                      "type": "string",
                                      "description": "The lunar distance.",
                                      "title": "Lunar"
                                    },
                                    "kilometers": {
                                      "type": "string",
                                      "description": "The distance in kilometers.",
                                      "title": "Kilometers"
                                    },
                                    "miles": {
                                      "type": "string",
                                      "description": "The distance in miles.",
                                      "title": "Miles"
                                    }
                                  },
                                  "title": "Miss Distance"
                                },
                                "orbiting_body": {
                                  "type": "string",
                                  "description": "The orbiting body.",
                                  "title": "Orbiting Body"
                                }
                              }
                            },
                            "title": "Close Approach Data"
                          },
                          "orbital_data": {
                            "type": "object",
                            "properties": {
                              "orbit_id": {
                                "type": "string",
                                "description": "The orbit identifier.",
                                "title": "Orbit ID"
                              },
                              "orbit_determination_date": {
                                "type": "string",
                                "description": "The orbit determination date.",
                                "title": "Orbit Determination Date"
                              },
                              "first_observation_date": {
                                "type": "string",
                                "description": "The first observation date.",
                                "title": "First Observation Date"
                              },
                              "last_observation_date": {
                                "type": "string",
                                "description": "The last observation date.",
                                "title": "Last Observation Date"
                              },
                              "data_arc_in_days": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The data arc in days.",
                                "title": "Data Arc In Days"
                              },
                              "observations_used": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of observations used.",
                                "title": "Observations Used"
                              },
                              "orbit_uncertainty": {
                                "type": "string",
                                "description": "The orbit uncertainty.",
                                "title": "Orbit Uncertainty"
                              },
                              "minimum_orbit_intersection": {
                                "type": "string",
                                "description": "The minimum orbit intersection.",
                                "title": "Minimum Orbit Intersection"
                              },
                              "jupiter_tisserand_invariant": {
                                "type": "string",
                                "description": "The Jupiter Tisserand invariant.",
                                "title": "Jupiter Tisserand Invariant"
                              },
                              "epoch_osculation": {
                                "type": "string",
                                "description": "The epoch osculation.",
                                "title": "Epoch Osculation"
                              },
                              "eccentricity": {
                                "type": "string",
                                "description": "The eccentricity.",
                                "title": "Eccentricity"
                              },
                              "semi_major_axis": {
                                "type": "string",
                                "description": "The semi major axis.",
                                "title": "Semi Major Axis"
                              },
                              "inclination": {
                                "type": "string",
                                "description": "The inclination.",
                                "title": "Inclination"
                              },
                              "ascending_node_longitude": {
                                "type": "string",
                                "description": "The ascending node longitude.",
                                "title": "Ascending Node Longitude"
                              },
                              "orbital_period": {
                                "type": "string",
                                "description": "The orbital period.",
                                "title": "Orbital Period"
                              },
                              "perihelion_distance": {
                                "type": "string",
                                "description": "The Perihelion distance.",
                                "title": "Perihelion Distance"
                              },
                              "perihelion_argument": {
                                "type": "string",
                                "description": "The Perihelion argument.",
                                "title": "Perihelion Argument"
                              },
                              "aphelion_distance": {
                                "type": "string",
                                "description": "The Aphelion distance.",
                                "title": "Aphelion Distance"
                              },
                              "perihelion_time": {
                                "type": "string",
                                "description": "The Perihelion time.",
                                "title": "Perihelion Time"
                              },
                              "mean_anomaly": {
                                "type": "string",
                                "description": "The mean anomaly.",
                                "title": "Mean Anomaly"
                              },
                              "mean_motion": {
                                "type": "string",
                                "description": "The mean motion.",
                                "title": "Mean Motion"
                              },
                              "equinox": {
                                "type": "string",
                                "description": "The equinox.",
                                "title": "Equinox"
                              },
                              "orbit_class": {
                                "type": "object",
                                "properties": {
                                  "orbit_class_type": {
                                    "type": "string",
                                    "description": "The orbit class type.",
                                    "title": "Type"
                                  },
                                  "orbit_class_description": {
                                    "type": "string",
                                    "description": "The orbit class description.",
                                    "title": "Description"
                                  },
                                  "orbit_class_range": {
                                    "type": "string",
                                    "description": "The orbit class range.",
                                    "title": "Range"
                                  }
                                },
                                "title": "Orbit Class"
                              }
                            },
                            "title": "Orbital Data"
                          },
                          "is_sentry_object": {
                            "type": "boolean",
                            "description": "Whether is sentry object.",
                            "title": "Is Sentry Object"
                          }
                        }
                      },
                      "title": "Date"
                    }
                  },
                  "title": "Near Earth Objects"
                }
              }
            }
          }
        },
        "summary": "Get Near Earth Objects for today",
        "description": "Retrieve a list of Near Earth Objects for today.",
        "operationId": "FeedToday",
        "parameters": [
          {
            "name": "detailed",
            "in": "query",
            "x-ms-summary": "Detailed",
            "description": "Whether to include detail results.",
            "required": false,
            "type": "boolean"
          }
        ]
      }
    },
    "/neo/browse": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "description": "The next response page.",
                      "title": "Next"
                    },
                    "self": {
                      "type": "string",
                      "description": "The current response page.",
                      "title": "Self"
                    }
                  },
                  "title": "Links"
                },
                "page": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The size.",
                      "title": "Size"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number.",
                      "title": "Number"
                    }
                  },
                  "title": "Page"
                },
                "near_earth_objects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                            "description": "The self link.",
                            "title": "Self"
                          }
                        },
                        "title": "Links"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "neo_reference_id": {
                        "type": "string",
                        "description": "The Near Earth Orbit reference identifier.",
                        "title": "NEO Reference ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "name_limited": {
                        "type": "string",
                        "description": "The limited name.",
                        "title": "Name Limited"
                      },
                      "designation": {
                        "type": "string",
                        "description": "The designation.",
                        "title": "Designation"
                      },
                      "nasa_jpl_url": {
                        "type": "string",
                        "description": "The NASA JPL URL address.",
                        "title": "NASA JPL URL"
                      },
                      "absolute_magnitude_h": {
                        "type": "number",
                        "format": "float",
                        "description": "The Absolute Magnitude (H).",
                        "title": "Absolute Magnitude"
                      },
                      "estimated_diameter": {
                        "type": "object",
                        "properties": {
                          "kilometers": {
                            "type": "object",
                            "properties": {
                              "estimated_diameter_min": {
                                "type": "number",
                                "format": "float",
                                "description": "The minimum estimated diameter.",
                                "title": "Estimated Diameter Min"
                              },
                              "estimated_diameter_max": {
                                "type": "number",
                                "format": "float",
                                "description": "The maximum estimated diameter.",
                                "title": "Estimated Diameter Max"
                              }
                            },
                            "title": "Kilometers"
                          },
                          "meters": {
                            "type": "object",
                            "properties": {
                              "estimated_diameter_min": {
                                "type": "number",
                                "format": "float",
                                "description": "The minimum estimated diameter.",
                                "title": "Estimated Diameter Min"
                              },
                              "estimated_diameter_max": {
                                "type": "number",
                                "format": "float",
                                "description": "The maximum estimated diameter.",
                                "title": "Estimated Diameter Max"
                              }
                            },
                            "title": "Meters"
                          },
                          "miles": {
                            "type": "object",
                            "properties": {
                              "estimated_diameter_min": {
                                "type": "number",
                                "format": "float",
                                "description": "The minimum estimated diameter.",
                                "title": "Estimated Diameter Min"
                              },
                              "estimated_diameter_max": {
                                "type": "number",
                                "format": "float",
                                "description": "The maximum estimated diameter.",
                                "title": "Estimated Diameter Max"
                              }
                            },
                            "title": "Miles"
                          },
                          "feet": {
                            "type": "object",
                            "properties": {
                              "estimated_diameter_min": {
                                "type": "number",
                                "format": "float",
                                "description": "The minimum estimated diameter.",
                                "title": "Estimated Diameter Min"
                              },
                              "estimated_diameter_max": {
                                "type": "number",
                                "format": "float",
                                "description": "The maximum estimated diameter.",
                                "title": "Estimated Diameter Max"
                              }
                            },
                            "title": "Feet"
                          }
                        },
                        "title": "Estimated Diameter"
                      },
                      "is_potentially_hazardous_asteroid": {
                        "type": "boolean",
                        "description": "Whether is potentially hazardous asteroid.",
                        "title": "Is Potentially Hazardous Asteroid"
                      },
                      "close_approach_data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "close_approach_date": {
                              "type": "string",
                              "description": "The close approach date.",
                              "title": "Close Approach Date"
                            },
                            "close_approach_date_full": {
                              "type": "string",
                              "description": "The close approach full date.",
                              "title": "Close Approach Date Full"
                            },
                            "epoch_date_close_approach": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The epoch date of close approach.",
                              "title": "Epoch Date Close Approach"
                            },
                            "relative_velocity": {
                              "type": "object",
                              "properties": {
                                "kilometers_per_second": {
                                  "type": "string",
                                  "description": "The kilometers per second.",
                                  "title": "Kilometers Per Second"
                                },
                                "kilometers_per_hour": {
                                  "type": "string",
                                  "description": "The kilometers per hour.",
                                  "title": "Kilometers Per Hour"
                                },
                                "miles_per_hour": {
                                  "type": "string",
                                  "description": "The miles per hour.",
                                  "title": "Miles Per Hour"
                                }
                              },
                              "title": "Relative Velocity"
                            },
                            "miss_distance": {
                              "type": "object",
                              "properties": {
                                "astronomical": {
                                  "type": "string",
                                  "description": "The astronomical distance.",
                                  "title": "Astronomical"
                                },
                                "lunar": {
                                  "type": "string",
                                  "description": "The lunar distance.",
                                  "title": "Lunar"
                                },
                                "kilometers": {
                                  "type": "string",
                                  "description": "The distance in kilometers.",
                                  "title": "Kilometers"
                                },
                                "miles": {
                                  "type": "string",
                                  "description": "The distance in miles.",
                                  "title": "Miles"
                                }
                              },
                              "title": "Miss Distance"
                            },
                            "orbiting_body": {
                              "type": "string",
                              "description": "The orbiting body.",
                              "title": "Orbiting Body"
                            }
                          }
                        },
                        "title": "Close Approach Data"
                      },
                      "orbital_data": {
                        "type": "object",
                        "properties": {
                          "orbit_id": {
                            "type": "string",
                            "description": "The orbit identifier.",
                            "title": "Orbit ID"
                          },
                          "orbit_determination_date": {
                            "type": "string",
                            "description": "The orbit determination date.",
                            "title": "Orbit Determination Date"
                          },
                          "first_observation_date": {
                            "type": "string",
                            "description": "The first observation date.",
                            "title": "First Observation Date"
                          },
                          "last_observation_date": {
                            "type": "string",
                            "description": "The last observation date.",
                            "title": "Last Observation Date"
                          },
                          "data_arc_in_days": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The data arc in days.",
                            "title": "Data Arc In Days"
                          },
                          "observations_used": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of observations used.",
                            "title": "Observations Used"
                          },
                          "orbit_uncertainty": {
                            "type": "string",
                            "description": "The orbit uncertainty.",
                            "title": "Orbit Uncertainty"
                          },
                          "minimum_orbit_intersection": {
                            "type": "string",
                            "description": "The minimum orbit intersection.",
                            "title": "Minimum Orbit Intersection"
                          },
                          "jupiter_tisserand_invariant": {
                            "type": "string",
                            "description": "The Jupiter Tisserand invariant.",
                            "title": "Jupiter Tisserand Invariant"
                          },
                          "epoch_osculation": {
                            "type": "string",
                            "description": "The epoch osculation.",
                            "title": "Epoch Osculation"
                          },
                          "eccentricity": {
                            "type": "string",
                            "description": "The eccentricity.",
                            "title": "Eccentricity"
                          },
                          "semi_major_axis": {
                            "type": "string",
                            "description": "The semi major axis.",
                            "title": "Semi Major Axis"
                          },
                          "inclination": {
                            "type": "string",
                            "description": "The inclination.",
                            "title": "Inclination"
                          },
                          "ascending_node_longitude": {
                            "type": "string",
                            "description": "The ascending node longitude.",
                            "title": "Ascending Node Longitude"
                          },
                          "orbital_period": {
                            "type": "string",
                            "description": "The orbital period.",
                            "title": "Orbital Period"
                          },
                          "perihelion_distance": {
                            "type": "string",
                            "description": "The Perihelion distance.",
                            "title": "Perihelion Distance"
                          },
                          "perihelion_argument": {
                            "type": "string",
                            "description": "The Perihelion argument.",
                            "title": "Perihelion Argument"
                          },
                          "aphelion_distance": {
                            "type": "string",
                            "description": "The Aphelion distance.",
                            "title": "Aphelion Distance"
                          },
                          "perihelion_time": {
                            "type": "string",
                            "description": "The Perihelion time.",
                            "title": "Perihelion Time"
                          },
                          "mean_anomaly": {
                            "type": "string",
                            "description": "The mean anomaly.",
                            "title": "Mean Anomaly"
                          },
                          "mean_motion": {
                            "type": "string",
                            "description": "The mean motion.",
                            "title": "Mean Motion"
                          },
                          "equinox": {
                            "type": "string",
                            "description": "The equinox.",
                            "title": "Equinox"
                          },
                          "orbit_class": {
                            "type": "object",
                            "properties": {
                              "orbit_class_type": {
                                "type": "string",
                                "description": "The orbit class type.",
                                "title": "Type"
                              },
                              "orbit_class_description": {
                                "type": "string",
                                "description": "The orbit class description.",
                                "title": "Description"
                              },
                              "orbit_class_range": {
                                "type": "string",
                                "description": "The orbit class range.",
                                "title": "Range"
                              }
                            },
                            "title": "Orbit Class"
                          }
                        },
                        "title": "Orbital Data"
                      },
                      "is_sentry_object": {
                        "type": "boolean",
                        "description": "Whether is sentry object.",
                        "title": "Is Sentry Object"
                      }
                    }
                  },
                  "title": "Near Earth Objects"
                }
              }
            }
          }
        },
        "summary": "Get Near Earth Objects",
        "description": "Retrieve a paginated list of Near Earth Objects",
        "operationId": "Neo",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "x-ms-summary": "Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/neo/{ID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "The current response page.",
                      "title": "Self"
                    }
                  },
                  "title": "Links"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "neo_reference_id": {
                  "type": "string",
                  "description": "The Near Earth reference identifier.",
                  "title": "NEO Reference ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "name_limited": {
                  "type": "string",
                  "description": "The limited name.",
                  "title": "Name Limited"
                },
                "designation": {
                  "type": "string",
                  "description": "The designation.",
                  "title": "Designation"
                },
                "nasa_jpl_url": {
                  "type": "string",
                  "description": "The NASA JPL URL address.",
                  "title": "NASA JPL URL"
                },
                "absolute_magnitude_h": {
                  "type": "number",
                  "format": "float",
                  "description": "The absolute magnitude (H).",
                  "title": "Absolute Magnitude"
                },
                "estimated_diameter": {
                  "type": "object",
                  "properties": {
                    "kilometers": {
                      "type": "object",
                      "properties": {
                        "estimated_diameter_min": {
                          "type": "number",
                          "format": "float",
                          "description": "The minimum estimated diameter.",
                          "title": "Estimated Diameter Min"
                        },
                        "estimated_diameter_max": {
                          "type": "number",
                          "format": "float",
                          "description": "The maximum estimated diameter.",
                          "title": "Estimated Diameter Max"
                        }
                      },
                      "title": "Kilometers"
                    },
                    "meters": {
                      "type": "object",
                      "properties": {
                        "estimated_diameter_min": {
                          "type": "number",
                          "format": "float",
                          "description": "The minimum estimated diameter.",
                          "title": "Estimated Diameter Min"
                        },
                        "estimated_diameter_max": {
                          "type": "number",
                          "format": "float",
                          "description": "The maximum estimated diameter.",
                          "title": "Estimated Diameter Max"
                        }
                      },
                      "title": "Meters"
                    },
                    "miles": {
                      "type": "object",
                      "properties": {
                        "estimated_diameter_min": {
                          "type": "number",
                          "format": "float",
                          "description": "The minimum estimated diameter.",
                          "title": "Estimated Diameter Min"
                        },
                        "estimated_diameter_max": {
                          "type": "number",
                          "format": "float",
                          "description": "The maximum estimated diameter.",
                          "title": "Estimated Diameter Max"
                        }
                      },
                      "title": "Miles"
                    },
                    "feet": {
                      "type": "object",
                      "properties": {
                        "estimated_diameter_min": {
                          "type": "number",
                          "format": "float",
                          "description": "The minimum estimated diameter.",
                          "title": "Estimated Diameter Min"
                        },
                        "estimated_diameter_max": {
                          "type": "number",
                          "format": "float",
                          "description": "The maximum estimated diameter.",
                          "title": "Estimated Diameter Max"
                        }
                      },
                      "title": "Feet"
                    }
                  },
                  "title": "Estimated Diameter"
                },
                "is_potentially_hazardous_asteroid": {
                  "type": "boolean",
                  "description": "Whether is potentially hazardous asteroid.",
                  "title": "Is Potentially Hazardous Asteroid"
                },
                "close_approach_data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "close_approach_date": {
                        "type": "string",
                        "description": "The close approach date.",
                        "title": "Close Approach Date"
                      },
                      "close_approach_date_full": {
                        "type": "string",
                        "description": "The full close approach date.",
                        "title": "Close Approach Date Full"
                      },
                      "epoch_date_close_approach": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The epoch date of close approach.",
                        "title": "Epoch Date Close Approach"
                      },
                      "relative_velocity": {
                        "type": "object",
                        "properties": {
                          "kilometers_per_second": {
                            "type": "string",
                            "description": "The kilometers per second.",
                            "title": "Kilometers Per Second"
                          },
                          "kilometers_per_hour": {
                            "type": "string",
                            "description": "The kilometers per hour.",
                            "title": "Kilometers Per Hour"
                          },
                          "miles_per_hour": {
                            "type": "string",
                            "description": "The miles per hour.",
                            "title": "Miles Per Hour"
                          }
                        },
                        "title": "Relative Velocity"
                      },
                      "miss_distance": {
                        "type": "object",
                        "properties": {
                          "astronomical": {
                            "type": "string",
                            "description": "The astronomical distance.",
                            "title": "Astronomical"
                          },
                          "lunar": {
                            "type": "string",
                            "description": "The lunar distance.",
                            "title": "Lunar"
                          },
                          "kilometers": {
                            "type": "string",
                            "description": "The distance in kilometers.",
                            "title": "Kilometers"
                          },
                          "miles": {
                            "type": "string",
                            "description": "The distance in miles.",
                            "title": "Miles"
                          }
                        },
                        "title": "Miss Distance"
                      },
                      "orbiting_body": {
                        "type": "string",
                        "description": "The orbiting body.",
                        "title": "Orbiting Body"
                      }
                    }
                  },
                  "title": "Close Approach Data"
                },
                "orbital_data": {
                  "type": "object",
                  "properties": {
                    "orbit_id": {
                      "type": "string",
                      "description": "The orbit identifier.",
                      "title": "Orbit ID"
                    },
                    "orbit_determination_date": {
                      "type": "string",
                      "description": "The orbit determination date.",
                      "title": "Orbit Determination Date"
                    },
                    "first_observation_date": {
                      "type": "string",
                      "description": "The first observation date.",
                      "title": "First Observation Date"
                    },
                    "last_observation_date": {
                      "type": "string",
                      "description": "The last observation date.",
                      "title": "Last Observation Date"
                    },
                    "data_arc_in_days": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The data arc in days.",
                      "title": "Data Arc In Days"
                    },
                    "observations_used": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of observations used.",
                      "title": "Observations Used"
                    },
                    "orbit_uncertainty": {
                      "type": "string",
                      "description": "The orbit uncertainty.",
                      "title": "Orbit Uncertainty"
                    },
                    "minimum_orbit_intersection": {
                      "type": "string",
                      "description": "The minimum orbit intersection.",
                      "title": "Minimum Orbit Intersection"
                    },
                    "jupiter_tisserand_invariant": {
                      "type": "string",
                      "description": "The Jupiter Tisserand invariant.",
                      "title": "Jupiter Tisserand Invariant"
                    },
                    "epoch_osculation": {
                      "type": "string",
                      "description": "The epoch osculation.",
                      "title": "Epoch Osculation"
                    },
                    "eccentricity": {
                      "type": "string",
                      "description": "The eccentricity.",
                      "title": "Eccentricity"
                    },
                    "semi_major_axis": {
                      "type": "string",
                      "description": "The semi major axis.",
                      "title": "Semi Major Axis"
                    },
                    "inclination": {
                      "type": "string",
                      "description": "The inclination.",
                      "title": "Inclination"
                    },
                    "ascending_node_longitude": {
                      "type": "string",
                      "description": "The ascending node longitude.",
                      "title": "Ascending Node Longitude"
                    },
                    "orbital_period": {
                      "type": "string",
                      "description": "The orbital period.",
                      "title": "Orbital Period"
                    },
                    "perihelion_distance": {
                      "type": "string",
                      "description": "The Perihelion distance.",
                      "title": "Perihelion Distance"
                    },
                    "perihelion_argument": {
                      "type": "string",
                      "description": "The Perihelion argument.",
                      "title": "Perihelion Argument"
                    },
                    "aphelion_distance": {
                      "type": "string",
                      "description": "The Aphelion distance.",
                      "title": "Aphelion Distance"
                    },
                    "perihelion_time": {
                      "type": "string",
                      "description": "The Perihelion time.",
                      "title": "Perihelion Time"
                    },
                    "mean_anomaly": {
                      "type": "string",
                      "description": "The mean anomaly.",
                      "title": "Mean Anomaly"
                    },
                    "mean_motion": {
                      "type": "string",
                      "description": "The mean motion.",
                      "title": "Mean Motion"
                    },
                    "equinox": {
                      "type": "string",
                      "description": "The equinox.",
                      "title": "Equinox"
                    },
                    "orbit_class": {
                      "type": "object",
                      "properties": {
                        "orbit_class_type": {
                          "type": "string",
                          "description": "The orbit class type.",
                          "title": "Type"
                        },
                        "orbit_class_description": {
                          "type": "string",
                          "description": "The orbit class description.",
                          "title": "Description"
                        },
                        "orbit_class_range": {
                          "type": "string",
                          "description": "The orbit class range.",
                          "title": "Range"
                        }
                      },
                      "title": "Orbit Class"
                    }
                  },
                  "title": "Orbital Data"
                },
                "is_sentry_object": {
                  "type": "boolean",
                  "description": "Whether is sentry object.",
                  "title": "Is Sentry Object"
                }
              }
            }
          }
        },
        "summary": "Get a Near Earth Object by ID",
        "x-ms-visibility": "important",
        "description": "Retrieve a Near Earth Objects with a given identifier.",
        "operationId": "NeoID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/neo/sentry": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "description": "The next response page.",
                      "title": "Next"
                    },
                    "self": {
                      "type": "string",
                      "description": "The current response page.",
                      "title": "Self"
                    }
                  },
                  "title": "Links"
                },
                "page": {
                  "type": "object",
                  "properties": {
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The size.",
                      "title": "Size"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number.",
                      "title": "Number"
                    }
                  },
                  "title": "Page"
                },
                "sentry_objects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "links": {
                        "type": "object",
                        "properties": {
                          "near_earth_object_parent": {
                            "type": "string",
                            "description": "The Near Earth Object parent.",
                            "title": "Near Earth Object Parent"
                          },
                          "self": {
                            "type": "string",
                            "description": "The self link.",
                            "title": "Self"
                          }
                        },
                        "title": "Links"
                      },
                      "spkId": {
                        "type": "string",
                        "description": "The SPK-ID.",
                        "title": "SPK-ID"
                      },
                      "designation": {
                        "type": "string",
                        "description": "The designation.",
                        "title": "Designation"
                      },
                      "sentryId": {
                        "type": "string",
                        "description": "The sentry identifier.",
                        "title": "Sentry ID"
                      },
                      "fullname": {
                        "type": "string",
                        "description": "The full name.",
                        "title": "Full Name"
                      },
                      "year_range_min": {
                        "type": "string",
                        "description": "The minimum year range.",
                        "title": "Year Range Min"
                      },
                      "year_range_max": {
                        "type": "string",
                        "description": "The maximum year range.",
                        "title": "Year Range Max"
                      },
                      "potential_impacts": {
                        "type": "string",
                        "description": "The potential impacts.",
                        "title": "Potential Impacts"
                      },
                      "impact_probability": {
                        "type": "string",
                        "description": "The impact probability.",
                        "title": "Impact Probability"
                      },
                      "v_infinity": {
                        "type": "string",
                        "description": "The V infinity.",
                        "title": "V Infinity"
                      },
                      "absolute_magnitude": {
                        "type": "string",
                        "description": "The absolute magnitude.",
                        "title": "Absolute Magnitude"
                      },
                      "estimated_diameter": {
                        "type": "string",
                        "description": "The estimated diameter.",
                        "title": "Estimated Diameter"
                      },
                      "palermo_scale_ave": {
                        "type": "string",
                        "description": "The Palermo Scale average.",
                        "title": "Palermo Scale Ave"
                      },
                      "Palermo_scale_max": {
                        "type": "string",
                        "description": "The maximum Palermo Scale.",
                        "title": "Palermo Scale Max"
                      },
                      "torino_scale": {
                        "type": "string",
                        "description": "The Torino Scale.",
                        "title": "Torino Scale"
                      },
                      "last_obs": {
                        "type": "string",
                        "description": "The last observation.",
                        "title": "Last Obs"
                      },
                      "last_obs_jd": {
                        "type": "string",
                        "description": "The last observation jd.",
                        "title": "Last Obs Jd"
                      },
                      "url_nasa_details": {
                        "type": "string",
                        "description": "The NASA details URL address.",
                        "title": "URL NASA Details"
                      },
                      "url_orbital_elements": {
                        "type": "string",
                        "description": "The orbital elements URL address.",
                        "title": "URL Orbital Elements"
                      },
                      "is_active_sentry_object": {
                        "type": "boolean",
                        "description": "Whether is active sentry object.",
                        "title": "Is Active Sentry Object"
                      },
                      "average_lunar_distance": {
                        "type": "number",
                        "format": "float",
                        "description": "The average lunar distance.",
                        "title": "Average Lunar Distance"
                      }
                    }
                  },
                  "title": "Sentry Objects"
                }
              }
            }
          }
        },
        "summary": "Get sentry Near Earth Objects",
        "description": "Retrieves Near Earth Objects listed in the NASA sentry (impact risk) data set.",
        "operationId": "Sentry",
        "parameters": [
          {
            "name": "is_active",
            "in": "query",
            "x-ms-summary": "Is Active",
            "description": "Whether to include active objects.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "x-ms-summary": "Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/neo/sentry/{ID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "object",
                  "properties": {
                    "near_earth_object_parent": {
                      "type": "string",
                      "description": "The Near Earth Object parent link.",
                      "title": "Near Earth Object Parent"
                    },
                    "self": {
                      "type": "string",
                      "description": "The current response page.",
                      "title": "Self"
                    }
                  },
                  "title": "Links"
                },
                "spkId": {
                  "type": "string",
                  "description": "The SPK-ID.",
                  "title": "SPK-ID"
                },
                "designation": {
                  "type": "string",
                  "description": "The designation.",
                  "title": "Designation"
                },
                "sentryId": {
                  "type": "string",
                  "description": "The sentry identifier.",
                  "title": "Sentry ID"
                },
                "fullname": {
                  "type": "string",
                  "description": "The full name.",
                  "title": "Full Name"
                },
                "year_range_min": {
                  "type": "string",
                  "description": "The minimum year range.",
                  "title": "Year Range Min"
                },
                "year_range_max": {
                  "type": "string",
                  "description": "The maximum year range.",
                  "title": "Year Range Max"
                },
                "potential_impacts": {
                  "type": "string",
                  "description": "The potential impacts.",
                  "title": "Potential Impacts"
                },
                "impact_probability": {
                  "type": "string",
                  "description": "The impact probability.",
                  "title": "Impact Probability"
                },
                "v_infinity": {
                  "type": "string",
                  "description": "The V infinity.",
                  "title": "V infinity"
                },
                "absolute_magnitude": {
                  "type": "string",
                  "description": "The absolute magnitude.",
                  "title": "Absolute Magnitude"
                },
                "estimated_diameter": {
                  "type": "string",
                  "description": "The estimated diameter.",
                  "title": "Estimated Diameter"
                },
                "palermo_scale_ave": {
                  "type": "string",
                  "description": "The Palermo Scale average.",
                  "title": "Palermo Scale Ave"
                },
                "Palermo_scale_max": {
                  "type": "string",
                  "description": "The Palermo Scale maximum.",
                  "title": "Palermo Scale Max"
                },
                "torino_scale": {
                  "type": "string",
                  "description": "The Torino Scale.",
                  "title": "Torino Scale"
                },
                "last_obs": {
                  "type": "string",
                  "description": "The last observation.",
                  "title": "Last Obs"
                },
                "last_obs_jd": {
                  "type": "string",
                  "description": "The last observation jd.",
                  "title": "Last Obs Jd"
                },
                "url_nasa_details": {
                  "type": "string",
                  "description": "The NASA details URL address.",
                  "title": "URL NASA Details"
                },
                "url_orbital_elements": {
                  "type": "string",
                  "description": "The orbital elements URL address.",
                  "title": "URL Orbital Elements"
                },
                "is_active_sentry_object": {
                  "type": "boolean",
                  "description": "Whether is active sentry object.",
                  "title": "Is Active Sentry Object"
                },
                "average_lunar_distance": {
                  "type": "number",
                  "format": "float",
                  "description": "The average lunar distance.",
                  "title": "Average Lunar Distance"
                }
              }
            }
          }
        },
        "description": "Retrieves a Near Earth Objects listed in the NASA sentry (impact risk) data set.",
        "summary": "Get a sentry Near Earth Object by ID",
        "operationId": "SentryID",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/stats": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "near_earth_object_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Near Earth Orbit count.",
                  "title": "Near Earth Object Count"
                },
                "close_approach_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The close approach count.",
                  "title": "Close Approach Count"
                },
                "last_updated": {
                  "type": "string",
                  "description": "When last updated.",
                  "title": "Last Updated"
                },
                "source": {
                  "type": "string",
                  "description": "The source.",
                  "title": "Source"
                },
                "nasa_jpl_url": {
                  "type": "string",
                  "description": "The NASA JPL URL address.",
                  "title": "NASA JPL URL"
                }
              }
            }
          }
        },
        "summary": "Get Near Earth Object data set statistics",
        "description": "Retrieve the total statistics of the Near Earth Object data set.",
        "operationId": "Stats",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://cneos.jpl.nasa.gov/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.jpl.nasa.gov/caltechjpl-privacy-policies-and-important-notices"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}