{
  "swagger": "2.0",
  "info": {
    "title": "QuickChart",
    "description": "QuickChart is a web service that generates chart images on-the-fly. Charts are rendered by Chart.js, a popular open-source charting library.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "quickchart.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/chart": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The file(content) type.",
                  "title": "Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            },
            "headers": {
              "X-quickchart-error": {
                "description": "The error.",
                "x-ms-summary": "Error",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create a chart",
        "description": "Retrieve a generated chart for your request.",
        "operationId": "ChartPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "chart": {
                  "type": "string",
                  "description": "The chart parameters, as a string.",
                  "title": "Chart"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The chart width.",
                  "title": "Width"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The chart height.",
                  "title": "Height"
                },
                "devicePixelRatio": {
                  "type": "string",
                  "description": "The device pixel ratio.",
                  "title": "Device Pixel Ratio"
                },
                "backgroundColor": {
                  "type": "string",
                  "description": "The background color.",
                  "title": "Background Color"
                },
                "format": {
                  "type": "string",
                  "description": "The file format.",
                  "title": "Format",
                  "default": "png",
                  "enum": [
                    "png",
                    "webp",
                    "svg",
                    "pdf"
                  ]
                },
                "encoding": {
                  "type": "string",
                  "description": "The encoding.",
                  "title": "Encoding",
                  "default": "url",
                  "enum": [
                    "url",
                    "base64"
                  ]
                },
                "version": {
                  "type": "string",
                  "description": "The Chart.js version.",
                  "title": "Version"
                }
              },
              "required": [
                "chart"
              ]
            }
          }
        ]
      }
    },
    "/chart/create": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Whether a success.",
                  "title": "Success"
                },
                "url": {
                  "type": "string",
                  "description": "The chart URL address.",
                  "title": "URL"
                }
              }
            }
          }
        },
        "summary": "Create a chart with a short URL",
        "description": "Retrieve a short URL with your rendered chart.",
        "operationId": "ChartURL",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "chart": {
                  "type": "string",
                  "description": "The chart parameters, as a string.",
                  "title": "Chart"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The chart width.",
                  "title": "Width"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The chart height.",
                  "title": "Height"
                },
                "devicePixelRatio": {
                  "type": "string",
                  "description": "The device pixel ratio.",
                  "title": "Device Pixel Ratio"
                },
                "backgroundColor": {
                  "type": "string",
                  "description": "The background color.",
                  "title": "Background Color"
                },
                "format": {
                  "type": "string",
                  "description": "The file format.",
                  "title": "Format",
                  "default": "png",
                  "enum": [
                    "png",
                    "webp",
                    "svg",
                    "pdf"
                  ]
                },
                "encoding": {
                  "type": "string",
                  "description": "The encoding.",
                  "title": "Encoding",
                  "default": "url",
                  "enum": [
                    "url",
                    "base64"
                  ]
                },
                "version": {
                  "type": "string",
                  "description": "The Chart.js version.",
                  "title": "Version"
                }
              },
              "required": [
                "chart"
              ]
            }
          }
        ]
      }
    },
    "/chart/render/{chart_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The file(content) type.",
                  "title": "Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            },
            "headers": {
              "X-quickchart-error": {
                "description": "The error.",
                "x-ms-summary": "Error",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create a copy of a chart",
        "description": "Use a previously rendered chart as a template to create a new, modified chart.",
        "operationId": "ChartTemplate",
        "parameters": [
          {
            "name": "chart_id",
            "in": "path",
            "x-ms-summary": "Chart ID",
            "x-ms-url-encoding": "single",
            "description": "The chart identifier to use as a template.",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "x-ms-summary": "Title",
            "description": "The new title.",
            "required": false,
            "type": "string"
          },
          {
            "name": "labels",
            "in": "query",
            "x-ms-summary": "Labels",
            "description": "The new labels.",
            "required": false,
            "type": "string"
          },
          {
            "name": "data1",
            "in": "query",
            "x-ms-summary": "Data 1",
            "description": "The new data 1 dataset.",
            "required": false,
            "type": "string"
          },
          {
            "name": "data2",
            "in": "query",
            "x-ms-summary": "Data 2",
            "description": "The new data 2 dataset.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/qr": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The file(content) type.",
                  "title": "Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Generate QR code",
        "description": "Retrieves a QR code generated by your parameters.",
        "operationId": "QRCode",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "x-ms-summary": "Text",
            "description": "The text.",
            "required": false,
            "type": "string"
          },
          {
            "name": "margin",
            "in": "query",
            "x-ms-summary": "Margin",
            "description": "The margin.",
            "required": false,
            "type": "integer",
            "default": 4
          },
          {
            "name": "size",
            "in": "query",
            "x-ms-summary": "Size",
            "description": "The size.",
            "required": false,
            "type": "integer",
            "default": 150
          },
          {
            "name": "dark",
            "in": "query",
            "x-ms-summary": "Dark",
            "description": "The dark color.",
            "required": false,
            "type": "string"
          },
          {
            "name": "light",
            "in": "query",
            "x-ms-summary": "Light",
            "description": "The light color.",
            "required": false,
            "type": "string",
            "default": "ffffff"
          },
          {
            "name": "ecLevel",
            "in": "query",
            "x-ms-summary": "Error Correction",
            "description": "The error correction level.",
            "required": false,
            "type": "string",
            "default": "M",
            "enum": [
              "L",
              "M",
              "Q",
              "G"
            ]
          },
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "description": "The format.",
            "required": false,
            "type": "string",
            "default": "png",
            "enum": [
              "png",
              "svg"
            ]
          },
          {
            "name": "centerImageUrl",
            "in": "query",
            "x-ms-summary": "Center Image",
            "description": "The center image URL address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "centerImageSizeRatio",
            "in": "query",
            "x-ms-summary": "Center Image Size Ratio",
            "description": "The size ration of the center image.",
            "required": false,
            "type": "number",
            "default": 0.3
          },
          {
            "name": "centerImageWidth",
            "in": "query",
            "x-ms-summary": "Center Image Width",
            "description": "The center image width.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "centerImageHeight",
            "in": "query",
            "x-ms-summary": "Center Image Height",
            "description": "The center image height.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/graphviz": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The file(content) type.",
                  "title": "Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Generate GraphViz chart",
        "description": "Retrieves a GraphViz chart based on your parameters.",
        "operationId": "GraphViz",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "graph": {
                  "type": "string",
                  "description": "The DOT graph description.",
                  "title": "Graph"
                },
                "layout": {
                  "type": "string",
                  "description": "The graph layout engine.",
                  "title": "Layout",
                  "default": "dot",
                  "enum": [
                    "dot",
                    "fdp",
                    "neato",
                    "circo",
                    "twopi",
                    "osage"
                  ]
                },
                "format": {
                  "type": "string",
                  "description": "The format.",
                  "title": "Format",
                  "default": "svg",
                  "enum": [
                    "svg",
                    "png"
                  ]
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                }
              },
              "required": [
                "graph"
              ]
            }
          }
        ]
      }
    },
    "/wordcloud": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The file(content) type.",
                  "title": "Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Get word cloud",
        "description": "Retrieves a generated word cloud from your parameters.",
        "operationId": "WordCloud",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "x-ms-summary": "Text",
            "description": "The text.",
            "required": false,
            "type": "string"
          },
          {
            "name": "width",
            "in": "query",
            "x-ms-summary": "Width",
            "type": "integer",
            "format": "int32",
            "description": "The width."
          },
          {
            "name": "height",
            "in": "query",
            "x-ms-summary": "Height",
            "type": "integer",
            "format": "int32",
            "description": "The height."
          },
          {
            "name": "backgroundColor",
            "in": "query",
            "type": "string",
            "description": "The background color.",
            "x-ms-summary": "Background Color"
          },
          {
            "name": "format",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Format",
            "description": "The format.",
            "default": "svg",
            "enum": [
              "svg",
              "png"
            ]
          },
          {
            "name": "fontFamily",
            "in": "query",
            "x-ms-summary": "Font Family",
            "type": "string",
            "description": "The font family.",
            "default": "serif"
          },
          {
            "name": "loadGoogleFonts",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Load Google Fonts",
            "description": "The Google Font to use."
          },
          {
            "name": "fontScale",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Font Scale",
            "description": "The font scale.",
            "default": 25
          },
          {
            "name": "scale",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Scale",
            "description": "The scale.",
            "default": "linear",
            "enum": [
              "linear",
              "sqrt",
              "log"
            ]
          },
          {
            "name": "padding",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Padding",
            "description": "The padding.",
            "default": 1
          },
          {
            "name": "rotation",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Rotation",
            "description": "The rotation.",
            "default": 20
          },
          {
            "name": "maxNumWords",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Max Word Number",
            "description": "The maximum number of words.",
            "default": 200
          },
          {
            "name": "minWordLength",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Minimum Word Length",
            "description": "The minimum word length.",
            "default": 1
          },
          {
            "name": "case",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Case",
            "description": "The word case.",
            "default": "lower",
            "enum": [
              "lower",
              "upper",
              "none"
            ]
          },
          {
            "name": "colors",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Colors",
            "description": "The word colors.",
            "default": "random"
          },
          {
            "name": "removeStopwords",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Remove Stopwords",
            "description": "Whether to remove stopwords.",
            "default": false,
            "enum": [
              false,
              true
            ]
          },
          {
            "name": "language",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Language",
            "description": "The language.",
            "default": "en"
          },
          {
            "name": "useWordList",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Use Word List",
            "description": "Whether to use word list.",
            "default": false,
            "enum": [
              false,
              true
            ]
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://quickchart.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://quickchart.io/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ]
}