{
  "swagger": "2.0",
  "info": {
    "title": "QuickChart",
    "description": "QuickChart is a web service that generates chart images on-the-fly. Charts are rendered by Chart.js, a popular open-source charting library.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "quickchart.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/chart": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The file(content) type.",
                  "title": "Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            },
            "headers": {
              "X-quickchart-error": {
                "description": "The error.",
                "x-ms-summary": "Error",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create a chart",
        "description": "Retrieve a generated chart for your request.",
        "operationId": "ChartPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "chart": {
                  "type": "string",
                  "description": "The chart parameters, as a string.",
                  "title": "Chart"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The chart width.",
                  "title": "Width"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The chart height.",
                  "title": "Height"
                },
                "devicePixelRatio": {
                  "type": "string",
                  "description": "The device pixel ratio.",
                  "title": "Device Pixel Ratio"
                },
                "backgroundColor": {
                  "type": "string",
                  "description": "The background color.",
                  "title": "Background Color"
                },
                "format": {
                  "type": "string",
                  "description": "The file format.",
                  "title": "Format",
                  "default": "png",
                  "enum": [
                    "png",
                    "webp",
                    "svg",
                    "pdf"
                  ]
                },
                "encoding": {
                  "type": "string",
                  "description": "The encoding.",
                  "title": "Encoding",
                  "default": "url",
                  "enum": [
                    "url",
                    "base64"
                  ]
                },
                "version": {
                  "type": "string",
                  "description": "The Chart.js version.",
                  "title": "Version"
                }
              },
              "required": [
                "chart"
              ]
            }
          }
        ]
      }
    },
    "/chart/create": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Whether a success.",
                  "title": "Success"
                },
                "url": {
                  "type": "string",
                  "description": "The chart URL address.",
                  "title": "URL"
                }
              }
            }
          }
        },
        "summary": "Create a chart with a short URL",
        "description": "Retrieve a short URL with your rendered chart.",
        "operationId": "ChartURL",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "chart": {
                  "type": "string",
                  "description": "The chart parameters, as a string.",
                  "title": "Chart"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The chart width.",
                  "title": "Width"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The chart height.",
                  "title": "Height"
                },
                "devicePixelRatio": {
                  "type": "string",
                  "description": "The device pixel ratio.",
                  "title": "Device Pixel Ratio"
                },
                "backgroundColor": {
                  "type": "string",
                  "description": "The background color.",
                  "title": "Background Color"
                },
                "format": {
                  "type": "string",
                  "description": "The file format.",
                  "title": "Format",
                  "default": "png",
                  "enum": [
                    "png",
                    "webp",
                    "svg",
                    "pdf"
                  ]
                },
                "encoding": {
                  "type": "string",
                  "description": "The encoding.",
                  "title": "Encoding",
                  "default": "url",
                  "enum": [
                    "url",
                    "base64"
                  ]
                },
                "version": {
                  "type": "string",
                  "description": "The Chart.js version.",
                  "title": "Version"
                }
              },
              "required": [
                "chart"
              ]
            }
          }
        ]
      }
    },
    "/chart/render/{chart_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The file(content) type.",
                  "title": "Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            },
            "headers": {
              "X-quickchart-error": {
                "description": "The error.",
                "x-ms-summary": "Error",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create a copy of a chart",
        "description": "Use a previously rendered chart as a template to create a new, modified chart.",
        "operationId": "ChartTemplate",
        "parameters": [
          {
            "name": "chart_id",
            "in": "path",
            "x-ms-summary": "Chart ID",
            "x-ms-url-encoding": "single",
            "description": "The chart identifier to use as a template.",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "x-ms-summary": "Title",
            "description": "The new title.",
            "required": false,
            "type": "string"
          },
          {
            "name": "labels",
            "in": "query",
            "x-ms-summary": "Labels",
            "description": "The new labels.",
            "required": false,
            "type": "string"
          },
          {
            "name": "data1",
            "in": "query",
            "x-ms-summary": "Data 1",
            "description": "The new data 1 dataset.",
            "required": false,
            "type": "string"
          },
          {
            "name": "data2",
            "in": "query",
            "x-ms-summary": "Data 2",
            "description": "The new data 2 dataset.",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://quickchart.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://quickchart.io/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ]
}
