{
  "swagger": "2.0",
  "info": {
    "title": "SHRTCODE",
    "description": "With this free Link Shortener you can make Links shorter and easier to remember.",
    "version": "1.0",
    "contact": {
      "name": "Chandra Sekhar",
      "url": "https://github.com/sekharmalla",
      "email": "chandra.malla@msftcommunity.com"
    }
  },
  "host": "api.shrtco.de",
  "basePath": "/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/shorten": {
      "get": {
        "responses": {
          "200": {
            "description": "succcess",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "ok",
                  "title": "OK",
                  "enum": [true, false]
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "code",
                      "title": "Code"
                    },
                    "short_link": {
                      "type": "string",
                      "description": "short_link",
                      "title": "Short link"
                    },
                    "full_short_link": {
                      "type": "string",
                      "description": "full_short_link",
                      "title": "Full short link"
                    },
                    "short_link2": {
                      "type": "string",
                      "description": "short_link2",
                      "title": "Short link 2"
                    },
                    "full_short_link2": {
                      "type": "string",
                      "description": "full_short_link2",
                      "title": "Full short link 2"
                    },
                    "share_link": {
                      "type": "string",
                      "description": "share_link",
                      "title": "Share link"
                    },
                    "full_share_link": {
                      "type": "string",
                      "description": "full_share_link",
                      "title": "Full share link"
                    },
                    "original_link": {
                      "type": "string",
                      "description": "original_link",
                      "title": "Original link"
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        },
        "summary": "Shortening a Link",
        "description": "Create a short link for a given URL. Requires a `url` parameter.",
        "operationId": "ShorteningaLink",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "URL to be shortened",
            "x-ms-summary": "given URL",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/info": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "ok",
                  "title": "Ok",
                  "enum": [true,false]
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "code",
                      "title": "Code"
                    },
                    "url": {
                      "type": "string",
                      "description": "url",
                      "title": "URL"
                    },
                    "password_protected": {
                      "type": "boolean",
                      "description": "password_protected",
                      "title": "Password Protected",
                      "enum": [true, false]
                    },
                    "blocked": {
                      "type": "boolean",
                      "description": "blocked",
                      "title": "Blocked",
                      "enum": [true,false]
                    },
                    "created": {
                      "type": "string",
                      "description": "created",
                      "title": "Created"
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        },
        "summary": "Getting information on a Link",
        "description": "Get the long link of a shortened link and much more. Requires a `code` parameter containing a shrtcode code. The code is the last part of a short link. Example short link: shrtco.de/example -> Code: \"example\"",
        "operationId": "GettinginformationonaLink",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Short link code",
            "description": "The code is the last part of a short link. Example short link: shrtco.de/example -> Code: \"example\".",
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://shrtco.de/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://shrtco.de/tos"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website;Productivity"
    }
  ]
}