{
  "swagger": "2.0",
  "info": {
    "title": "mondaycom",
    "description": "monday.com is a cloud service provider to manage schedules and inventories.",
    "version": "1.0",
    "contact": {
      "name": "Woong Choi",
      "email": "Woong.Choi@sevensigma.com.au"
    }
  },
  "host": "api.monday.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Call GraphQL",
        "description": "Call GraphQL",
        "operationId": "CallGraphQL",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "query"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://monday.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://monday.com/l/privacy/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}
