{
    "swagger": "2.0",
    "info": {
        "title": "OrbusInfinity",
        "description": "OrbusInfinity enables architecture teams to generate digital blueprint of the enterprise and take informed decisions based on a unified view of the business-now and in the future. Build custom automations to create, read, and update Objects and Relationships within your data repository.",
        "contact": {
            "name": "Orbus Software",
            "url": "https://support.orbussoftware.com",
            "email": "support@orbussoftware.com"
        },
        "version": "v1"
    },
    "host": "orbussoftware.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/odata/Relationships": {
            "get": {
                "tags": [
                    "Relationships"
                ],
                "summary": "Get Relationships and their details",
                "description": "Default response includes the list of 50 Relationships, which were most recently created in OrbusInfinity, and their top-level properties. Use the below OData parameters to filter, order, expand additional properties, and select only specified properties in the output.",
                "operationId": "Relationships_Get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "includeIntersectional",
                        "description": "If true, include Intersectional Relationships in the output.\r\n            Intersectional Relationships have a value for `LeadRelationshipId` property, and regular Relationships have a value for `LeadObjectId` property.",
                        "type": "boolean",
                        "default": false,
                        "x-ms-summary": "includeIntersectional"
                    },
                    {
                        "in": "query",
                        "name": "$select",
                        "description": "A subset of properties to include for each Relationship in the response. If left blank, default properties are returned.",
                        "type": "string",
                        "x-ms-summary": "$select"
                    },
                    {
                        "in": "query",
                        "name": "$expand",
                        "description": "The additional properties (along with the default ones) to include for each Relationship in the response.<br>You can additionally request the following properties: `LeadObject`, `LeadRelationship`, `MemberObject`, `RelationshipType`, `Model`, `AttributeValues`, `AttributeValuesFlat`, `Detail`.",
                        "type": "string",
                        "x-ms-summary": "$expand"
                    },
                    {
                        "in": "query",
                        "name": "$filter",
                        "description": "The expression you filter the Relationships in the result by. You can filter Relationships by a value for the following properties: `RelationshipId`, `RelationshipTypeId`, `ModelId`, `RelationshipType`, `Model`, `LeadObjectId`, `LeadRelationshipId`, `MemberObjectId`, `Detail`.<br>The minimum and default number of expressions is 0; the maximum—100.",
                        "type": "string",
                        "x-ms-summary": "$filter"
                    },
                    {
                        "in": "query",
                        "name": "$orderby",
                        "description": "The order in which Relationships are sorted in the response, by a selected property. For example, enter `DateCreated desc` to request Relationships in descending order by property `DateCreated`.<br>The minimum and default number of expressions is 0; the maximum—5.",
                        "type": "string",
                        "x-ms-summary": "$orderby"
                    },
                    {
                        "in": "query",
                        "name": "$top",
                        "description": "The count of the Relationships, which were most recently created in OrbusInfinity, to include in the response. The minimum value is 0; the maximum—50.<br>For example, enter `20` to return 20 Relationships that were most recently created in OrbusInfinity.",
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "$top"
                    },
                    {
                        "in": "query",
                        "name": "$skip",
                        "description": "The count of the Relationships, which were most recently created in OrbusInfinity, to exclude from the response. The minimum and default value is 0; the maximum—50.<br>For example, enter `20` to skip 20 Relationships that were most recently created in OrbusInfinity and return the next 50.",
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "$skip"
                    },
                    {
                        "in": "query",
                        "name": "$count",
                        "description": "If true, the total count of Relationships is specified in the response. By default, the parameter is set to false, which means the total count is not returned.",
                        "type": "boolean",
                        "x-ms-summary": "$count"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. The list of Relationships.",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Swagger.Response.ODataPageResponse-Of-OfficeArchitect.Contracts.OData.Model.Relationship"
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                }
            },
            "post": {
                "tags": [
                    "Relationships"
                ],
                "summary": "Create a new Relationship",
                "description": "You must specify Relationship Type ID, Model ID, Relationship Type Pair ID, Lead Object ID, Member Object ID, and Identifying Attribute(s) for the new Relationship. Use `AttributeValuesFlat` property to specify Attribute values in the key-value format.",
                "operationId": "Relationships_Post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Property values for a new Relationship. Specify `RelationshipTypeId`, `ModelId`, `RelationshipTypePairId`, `LeadModelItemId`, `MemberModelItemId` to create a Relationship.\r\n            Optionally specify additional properties, following the structure in the example.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Relationship.Request.CreateRelationshipRequestValue"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. Created a new Relationship.",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Relationship.Response.CreateRelationshipResponse_Level0"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not Found."
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    }
                }
            }
        },
        "/odata/Relationships({key})": {
            "get": {
                "tags": [
                    "Relationships"
                ],
                "summary": "Get details of a Relationship",
                "description": "Default response includes only top-level properties. Use optional OData parameters to expand additional properties and select only specified properties.",
                "operationId": "Relationships_Get_Single",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "key",
                        "description": "ID of a Relationship in the GUID format, for example `00000000-0000-0000-0000-000000000000`.",
                        "required": true,
                        "type": "string",
                        "format": "uuid",
                        "x-ms-summary": "key",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "query",
                        "name": "$select",
                        "description": "A subset of properties to include for the Relationship in the response. If left blank, default properties are returned.",
                        "type": "string",
                        "x-ms-summary": "$select"
                    },
                    {
                        "in": "query",
                        "name": "$expand",
                        "description": "The additional properties (along with the default ones) to include for the Relationship in the response.<br>You can additionally request the following properties: `LeadObject`, `LeadRelationship`, `MemberObject`, `RelationshipType`, `Model`, `AttributeValues`, `AttributeValuesFlat`, `Detail`, `ApprovalDetails`.",
                        "type": "string",
                        "x-ms-summary": "$expand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. The requested Relationship.",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Model.Relationship_Level0"
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Relationships"
                ],
                "summary": "Delete a Relationship",
                "description": "The deleted Relationship is moved to the Recycle Bin.",
                "operationId": "Relationships_Delete",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "key",
                        "description": "ID of a Relationship in the GUID format, for example `00000000-0000-0000-0000-000000000000`.",
                        "required": true,
                        "type": "string",
                        "format": "uuid",
                        "x-ms-summary": "key",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. Deleted the Relationship.",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Relationship.Response.DeleteRelationshipResponse_Level0"
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                }
            },
            "patch": {
                "tags": [
                    "Relationships"
                ],
                "summary": "Update Attribute values of an existing Relationship",
                "description": "Use `AttributeValuesFlat` property to specify Attribute values in the key-value format. Only specified Attribute values will be updated.",
                "operationId": "Relationships_Patch",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "key",
                        "description": "ID of a Relationship in the GUID format, for example `00000000-0000-0000-0000-000000000000`.",
                        "required": true,
                        "type": "string",
                        "format": "uuid",
                        "x-ms-summary": "key",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Attribute value(s) to update for the specified Relationship. For each Attribute, specify\r\n            `AttributeName`, `AttributeCategory`, and `TextValue`.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Relationship.Request.UpdateRelationshipRequestValue"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. Updated the Relationship.",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Relationship.Response.UpdateRelationshipResponse_Level0"
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    }
                }
            }
        },
        "/odata/Objects": {
            "get": {
                "tags": [
                    "Objects"
                ],
                "summary": "Get Objects and their details",
                "description": "Default response includes the list of 50 Objects, which were most recently created in OrbusInfinity, and their top-level properties. Use the below OData parameters to filter, order, expand additional properties, and select only specified properties in the output.",
                "operationId": "Objects_Get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "$select",
                        "description": "A subset of properties to include for each Object in the response. If left blank, default properties are returned.",
                        "type": "string",
                        "x-ms-summary": "$select"
                    },
                    {
                        "in": "query",
                        "name": "$expand",
                        "description": "The additional properties (along with the default ones) to include for each Object in the response.<br>You can additionally request the following properties: `Model`, `ObjectType`, `AttributeValues`, `AttributeValuesFlat`, `CreatedBy`, `LastModifiedBy`, `LockedBy`, `Detail`.",
                        "type": "string",
                        "x-ms-summary": "$expand"
                    },
                    {
                        "in": "query",
                        "name": "$filter",
                        "description": "The expression you filter the Objects in the result by. You can filter Objects by a value for the following properties: `ObjectId`, `Name`, `ObjectTypeId`, `LockedOn`, `LockedById`, `IsApproved`, `ModelId`, `DateCreated`, `CreatedById`, `LastModifiedDate`, `LastModifiedById`, `Detail`, `AttributeValues`, `ObjectType`, `Model`, `CreatedBy`, `LastModifiedBy`, `LockedBy`.<br>The minimum and default number of expressions is 0; the maximum—100.",
                        "type": "string",
                        "x-ms-summary": "$filter"
                    },
                    {
                        "in": "query",
                        "name": "$orderby",
                        "description": "The order in which Objects are sorted in the response, by a selected property. For example, enter `Name desc` to request Objects in descending order by property `Name`.<br>The minimum and default number of expressions is 0; the maximum—5.",
                        "type": "string",
                        "x-ms-summary": "$orderby"
                    },
                    {
                        "in": "query",
                        "name": "$top",
                        "description": "The count of the Objects, which were most recently created in OrbusInfinity, to include in the response. The minimum value is 0; the maximum—50.<br>For example, enter `20` to return 20 Objects that were most recently created in OrbusInfinity.",
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "$top"
                    },
                    {
                        "in": "query",
                        "name": "$skip",
                        "description": "The count of the Objects, which were most recently created in OrbusInfinity, to exclude from the response. The minimum and default value is 0; the maximum—50.<br>For example, enter `20` to skip 20 Objects that were most recently created in OrbusInfinity and return the next 50.",
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "$skip"
                    },
                    {
                        "in": "query",
                        "name": "$count",
                        "description": "If true, the total count of Objects is specified in the response. By default, the parameter is set to false, which means the total count is not returned.",
                        "type": "boolean",
                        "x-ms-summary": "$count"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. The list of Objects.",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Swagger.Response.ODataPageResponse-Of-OfficeArchitect.Contracts.OData.Model.Object"
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                }
            },
            "post": {
                "tags": [
                    "Objects"
                ],
                "summary": "Create a new Object",
                "description": "You must specify Object Type ID, Model ID, and Identifying Attribute(s) for the new Object. Use `AttributeValuesFlat` property to specify Attribute values in the key-value format.",
                "operationId": "Objects_Post",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Property values for a new Object. Specify `ObjectTypeId`, `ModelId`, `Name` to create an Object.\r\n            Optionally specify additional properties, following the structure in the example.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Object.Request.CreateObjectRequestValue"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. Created a new Object.",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Object.Response.CreateObjectResponse_Level0"
                        }
                    },
                    "400": {
                        "description": "Bad request."
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    }
                }
            }
        },
        "/odata/Objects({key})": {
            "get": {
                "tags": [
                    "Objects"
                ],
                "summary": "Get details of an Object",
                "description": "Default response includes only top-level properties. Use optional OData parameters to expand additional properties and select only specified properties.",
                "operationId": "Objects_Get_Single",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "key",
                        "description": "ID of an Object in the GUID format, for example `00000000-0000-0000-0000-000000000000`.",
                        "required": true,
                        "type": "string",
                        "format": "uuid",
                        "x-ms-summary": "key",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "query",
                        "name": "$select",
                        "description": "A subset of properties to include for the Object in the response. If left blank, default properties are returned.",
                        "type": "string",
                        "x-ms-summary": "$select"
                    },
                    {
                        "in": "query",
                        "name": "$expand",
                        "description": "The additional properties (along with the default ones) to include for the Object in the response.<br>You can additionally request the following properties: `Model`, `ObjectType`, `RelatedObjects`, `AttributeValues`, `AttributeValuesFlat`, `CreatedBy`, `LastModifiedBy`, `LockedBy`, `Detail`, `ApprovalDetails`.",
                        "type": "string",
                        "x-ms-summary": "$expand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. The requested Object.",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Model.Object_Level0"
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Objects"
                ],
                "summary": "Delete an Object",
                "description": "The deleted Object is moved to the Recycle Bin.",
                "operationId": "Objects_Delete",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "key",
                        "description": "ID of an Object in the GUID format, for example `00000000-0000-0000-0000-000000000000`.",
                        "required": true,
                        "type": "string",
                        "format": "uuid",
                        "x-ms-summary": "key",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. Deleted the Object.",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Object.Response.DeleteObjectResponse_Level0"
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                }
            },
            "patch": {
                "tags": [
                    "Objects"
                ],
                "summary": "Update Attribute values of an existing Object",
                "description": "Use `AttributeValuesFlat` property to specify Attribute values in the key-value format. Only specified Attribute values will be updated.",
                "operationId": "Objects_Patch",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "key",
                        "description": "ID of an Object in the GUID format, for example `00000000-0000-0000-0000-000000000000`.",
                        "required": true,
                        "type": "string",
                        "format": "uuid",
                        "x-ms-summary": "key",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Attribute value(s) to update for the specified Object. For each Attribute, specify\r\n            `AttributeName`, `AttributeCategory`, and `TextValue`.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Object.Request.UpdateObjectRequestValue"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success. Updated the Object.",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Object.Response.UpdateObjectResponse_Level0"
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "422": {
                        "description": "Unprocessable Entity."
                    }
                }
            }
        },
        "/odata/Webhooks": {
            "post": {
                "tags": [
                    "Webhooks"
                ],
                "summary": "When an event occurs",
                "description": "Creates a trigger with the requested event, so when that event occurs in OrbusInfinity, the application located at the provided URL will be notified.",
                "operationId": "Post_Webhooks",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "The request containing the webhook information.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Notification.Request.CreateWebhookRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Notification.Response.SaveWebhookResponse_Level0"
                        }
                    }
                },
                "x-ms-trigger": "single"
            },
            "x-ms-notification-content": {
                "schema": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Notification.WebhookPayload"
                }
            }
        },
        "/odata/Webhooks({key})": {
            "delete": {
                "tags": [
                    "Webhooks"
                ],
                "summary": "Delete an existing webhook",
                "description": "Deletes an existing webhook by providing the Webhook Id.",
                "operationId": "Delete_Webhooks",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "key",
                        "description": "The webhook identifier.",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "x-ms-summary": "key",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/OfficeArchitect.Contracts.Notification.Response.DeleteWebhookResponse_Level0"
                        }
                    }
                },
                "x-ms-visibility": "internal"
            }
        }
    },
    "definitions": {
        "OfficeArchitect.Contracts.Message.Definition.MessageDefinition": {
            "type": "object"
        },
        "OfficeArchitect.Contracts.Message.Definition.Notification.WebhookSaved_Level2": {
            "type": "object",
            "properties": {
                "webhookId": {
                    "format": "int32",
                    "description": "Id of Webhook.",
                    "type": "integer"
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Definition.Object.ObjectCreated_Level2": {
            "type": "object",
            "properties": {
                "name": {
                    "description": "Name of created Object.",
                    "type": "string"
                },
                "objectId": {
                    "format": "uuid",
                    "description": "Id of created Object.",
                    "type": "string"
                },
                "modelId": {
                    "format": "uuid",
                    "description": "Model Id of created Object.",
                    "type": "string"
                },
                "objectTypeId": {
                    "format": "uuid",
                    "description": "Object Type Id of created object.",
                    "type": "string"
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Definition.Object.ObjectDeleted_Level2": {
            "type": "object",
            "properties": {
                "objectId": {
                    "format": "uuid",
                    "description": "Id of deleted Object.",
                    "type": "string"
                },
                "objectName": {
                    "description": "Name of deleted Object.",
                    "type": "string"
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Definition.Object.ObjectUpdated_Level2": {
            "type": "object",
            "properties": {
                "objectId": {
                    "format": "uuid",
                    "description": "Id of an Object.",
                    "type": "string"
                },
                "name": {
                    "description": "Name of an Object.",
                    "type": "string"
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Definition.Relationship.RelationshipCreated_Level2": {
            "type": "object",
            "properties": {
                "relationshipId": {
                    "format": "uuid",
                    "description": "Id of relationship.",
                    "type": "string"
                },
                "leadObjectId": {
                    "format": "uuid",
                    "description": "Id of relationship's Lead Object.",
                    "type": "string"
                },
                "leadRelationshipId": {
                    "format": "uuid",
                    "description": "Id of relationship's Lead Relationship. Used for Intersectional relationships.",
                    "type": "string"
                },
                "memberObjectId": {
                    "format": "uuid",
                    "description": "Id of relationship's Member Object.",
                    "type": "string"
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Definition.Relationship.RelationshipDeleted_Level2": {
            "type": "object",
            "properties": {
                "deletedRelationshipId": {
                    "format": "uuid",
                    "description": "Id of deleted relationship.",
                    "type": "string"
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Definition.Relationship.RelationshipUpdated_Level2": {
            "type": "object",
            "properties": {
                "relationshipId": {
                    "format": "uuid",
                    "description": "Id of relationship.",
                    "type": "string"
                }
            }
        },
        "OfficeArchitect.Contracts.Message.MessageCategory": {
            "description": "Indicates the type of Message.",
            "enum": [
                "Error",
                "Warning",
                "Information"
            ],
            "type": "string"
        },
        "OfficeArchitect.Contracts.Message.MessageCode": {
            "enum": [
                "AttributeAssignmentDoesNotExist",
                "DocumentTypeMustBelongToAModellingSolution",
                "DocumentTypeHasDocuments",
                "CustomDocumentTypeHasDocuments",
                "DuplicateDocumentTypeInModellingSolution",
                "DuplicateObjectTypeInModellingSolution",
                "InvalidDocumentTypeCategory",
                "DocumentTypeCategoryMismatch",
                "CustomDocumentTypeNotSupported",
                "CustomDocumentTypeMustHaveAtLeastOneFileExtension",
                "DocumentTypeFileExtensionNotSupportedForCustomCategory",
                "IdentifyingAttributeAssignmentWithInstancesExists",
                "DocumentTypeDoesNotExist",
                "DocumentTypeNameIsInvalid",
                "DocumentTypeFilenameInvalid",
                "DocumentTypePrimaryTemplateAlreadyExists",
                "DocumentTypeDoesNotSupportAncillaryTemplateFiles",
                "MissingDocumentTypeTemplateFile",
                "MissingDocumentTypePrimaryTemplateFile",
                "MultipleDocumentTypePrimaryTemplateFiles",
                "DocumentTypeFileExtensionNotSupportedForCategory",
                "TemplateFilenamesMustBeUnique",
                "ContentTypeSaveOperationFailed",
                "InvalidDocumentTypeRelationshipType",
                "MetamodelItemMustBelongToAModellingSolution",
                "ParentObjectTypeDoesNotExist",
                "ObjectTypeHasCircularReference",
                "ObjectsTypeHasNotChanged",
                "ModelDoesNotExist",
                "MetamodelItemIsNotUniqueToModellingSolution",
                "MetamodelItemNotInModel",
                "MetamodelItemIsSystemLocked",
                "MetamodelItemIsHidden",
                "MetamodelItemIsAlreadyVisible",
                "MetamodelItemIsNotApprovable",
                "MetamodelItemHasNotRequiredCategory",
                "MetamodelItemHasNotAttributeAssignment",
                "MetamodelItemHasNotCommonSolutionsWithIdentifyingAttribute",
                "AttributesDeleted",
                "ObjectTypesDeleted",
                "RelationshipTypesDeleted",
                "DependentModelItemsExist",
                "ModelItemsDoesNotHaveComponents",
                "ModelItemIsNotComponentOfDocumentType",
                "RelationshipPairMembersAreNotComponentsOfDocument",
                "MultipleDuplicateMetamodelItems",
                "EntityIsAlreadyProtected",
                "EntityIsAlreadyUnprotected",
                "AttributeDoesNotExist",
                "AttributeDoesNotExistByName",
                "AttributeDoesNotExistByKey",
                "AttributeNotAssignedToMetamodelItem",
                "AttributeIsNotIdentifyingAttribute",
                "AttributeNotInModelModellingSolution",
                "AttributeAssignmentCannotBeEdited",
                "IdentifyingAttributeAssignmentExists",
                "InheritedAttributeAssignmentExists",
                "MultipleDuplicateAttributes",
                "AttributeCategoryMismatch",
                "AttributeDateTimeDateOnly",
                "AttributeDateTimeMaximumIsNotDateOnly",
                "AttributeDateTimeMinimumIsNotDateOnly",
                "AttributeValueHyperlinkNotUri",
                "AttributeValuesCommitted",
                "AttributeHyperlinkDisplayValueProvided",
                "AttributeHyperlinkUriNotProvided",
                "AttributeMultipleValuesProvided",
                "AttributeHyperlinkValueTooLong",
                "AttributeHyperlinkDisplayValueTooLong",
                "AttributePersonOrGroupIsGroup",
                "AttributeValuePersonOrGroupNotInGroup",
                "AttributeNumberMaximumValueExceedsLimits",
                "AttributeNumberMinimumValueExceedsLimits",
                "AttributeMinimumNumberPrecisionIsNotEqualToPrecisionValue",
                "AttributeMaximumNumberPrecisionIsNotEqualToPrecisionValue",
                "AttributeCurrencyMaximumValueExceedsLimits",
                "AttributeCurrencyMinimumValueExceedsLimits",
                "AttributeCurrencyMaximumValueInvalidPrecision",
                "AttributeCurrencyMinimumValueInvalidPrecision",
                "AttributeTextMinimumValueExceedsLimits",
                "AttributeTextMaximumValueExceedsLimits",
                "AttributeDoesNotExists",
                "AttributeWithNameAlreadyExists",
                "InvalidIsoCurrencySymbol",
                "AttributeNumberPrecisionIsOutOfRange",
                "AttributeMinimumValueIsGreaterThanMaximumValue",
                "AttributeCurrencyMinimumValueIsGreaterThanMaximumValue",
                "AttributeDateTimeMinimumValueIsGreaterThanMaximumValue",
                "AttributeNumberMinimumValueIsGreaterThanMaximumValue",
                "AttributeTextMinimumLengthValueIsGreaterThanMaximumLengthValue",
                "UnableToAssignReadOnlyAttributes",
                "UnableToAssignHiddenAttributes",
                "UnableToDeleteSystemAttributeAssignment",
                "MappedImportWorksheetSettingsDoesNotExist",
                "MappedImportWorksheetSettingsDoesNotBelongToUser",
                "ModelDoesNotHaveSubsetOfModellingSolutions",
                "ModelNameNotUnique",
                "ModelNameValueNotProvided",
                "ModelIsDeactivated",
                "ModelIsActivated",
                "ModelsDeactivated",
                "ModelsActivated",
                "ModellingSolutionsAreNotUnique",
                "IdentifyingAttributeCannotBeImportant",
                "MultipleIdentifyingAttributeAssignments",
                "AttributesAreAlreadyAssigned",
                "MetamodelItemHasInstances",
                "IdentifyingAttributeModellingSolutionsAreNotValid",
                "ObjectTypeIsParentOrChild",
                "UnableToAssignSystemAttributes",
                "AttributeIsNotAssignedToMetamodelItem",
                "ExternalDocumentDoesNotExist",
                "DocumentDoesNotExist",
                "AttributeChoiceDuplicates",
                "AttributeChoiceDoesNotExists",
                "AttributeChoiceIsNotPresent",
                "AttributeChoiceValueIsNotPresent",
                "AttributeChoiceValueIsNotUnique",
                "IdentifyingAttributeDoesNotShareAllMetamodelItemsSolutions",
                "AttributeIsIdentifyingAttribute",
                "ModelItemIsSoftDeleted",
                "ModelItemIsNotSoftDeleted",
                "ModellingSolutionDoesNotExist",
                "ModelItemReuseDeletionRequired",
                "ObjectIsReuse",
                "ObjectIsVariant",
                "ObjectIsReused",
                "RelationshipDeletionRequired",
                "FeedbackDeletionRequired",
                "ViewModellingSolutionIdsNotAllowedOnCollectionView",
                "ViewMustBelongToAModellingSolution",
                "AdHocViewsCannotContainRuntimeParameters",
                "ViewDimensionsRequired",
                "TraceabilityViewFilterSetMustContainFilters",
                "TraceabilityViewFilterCannotHaveMoreColumns",
                "ViewDimensionRequireGroups",
                "ViewFilterGroupRequireViewFilters",
                "ViewFilterGroupHasIncorrectPositions",
                "InvalidViewDimensionCategories",
                "ViewFilterCategoryNotAllowedInCollectionView",
                "ViewFilterHasTooManyIdentifyingParameters",
                "ViewFilterIsMissingIdentifyingParameters",
                "ViewFilterHasTooManyRuntimeParameters",
                "ViewFilterIsMissingRuntimeParameter",
                "ViewFilterParameterValuesNotProvided",
                "ViewFilterParameterValuesProvidedForRuntimeParameter",
                "ViewFilterParameterValuesProvidedForNullOperatorParameter",
                "ViewFilterParameterOperatorNotSupported",
                "ViewFilterParameterCategoryNotSupported",
                "ViewFilterParameterValueTextIsTooLong",
                "MetamodelItemCategoryNotSupported",
                "ViewModelIdParameterMustBeRuntime",
                "ViewGenerationStorageExpiredOrEmpty",
                "ViewGenerationStorageNotAvailableForSavedParameters",
                "ViewDimensionDoesNotExist",
                "ViewFilterParameterRuntimeMissing",
                "ViewFilterParameterRuntimeNotNeeded",
                "ModelNotAvailableToAnyViewModellingSolutions",
                "ModelNotAvailableToAllViewModellingSolutions",
                "ImportantAttributeValueNotProvided",
                "DisplayAttributeValueNotProvided",
                "UniqueAttributeValueNotUnique",
                "AttributeValueNumberOutOfRange",
                "AttributeValueNumberOutOfRangeLowerOnly",
                "AttributeValueNumberOutOfRangeUpperOnly",
                "AttributeValueCurrencyOutOfRange",
                "AttributeValueCurrencyOutOfRangeLowerOnly",
                "AttributeValueCurrencyOutOfRangeUpperOnly",
                "AttributeValueTextOutOfRange",
                "AttributeValueTextOutOfRangeLowerOnly",
                "AttributeValueTextOutOfRangeUpperOnly",
                "AttributeValueDateTimeOutOfRange",
                "AttributeValueDateTimeDateOnly",
                "AttributeValueDateTimeOutOfRangeLowerOnly",
                "AttributeValueDateTimeOutOfRangeUpperOnly",
                "AttributeValueTextPlainTextMissing",
                "AttributeValueCurrencyInvalidPrecision",
                "AttributeValueNumberInvalidPrecision",
                "AttributeValueChoiceDuplicateExistingChoice",
                "AttributeValueNotChoice",
                "AttributeValueChoiceInvalidParent",
                "AttributeValueChoiceMultipleValuesProvided",
                "AttributeValueHyperlinkMultipleValuesProvided",
                "AttributeValuePersonOrGroupMultipleValuesProvided",
                "AttributeValueBothPersonAndGroupHaveValue",
                "MultipleDuplicateAttributeValues",
                "AttributePersonOrGroupInvalid",
                "UnableToDeleteGlobalAttribute",
                "UnableToUpdateGlobalAttribute",
                "UnableToDeleteSystemAttribute",
                "UnableToUpdateSystemAttribute",
                "UnableToUpdateNameOrSolutionForGlobalAttribute",
                "UnableToUpdateConfigurationForGlobalAttribute",
                "UnableToUpdateConfigurationForAssignedAttribute",
                "ProtectedAttributeConfigurationHasChanged",
                "ProtectedMetamodelItemHasChanged",
                "ProtectedObjectTypeHasChanged",
                "ProtectedRelationshipTypeHasChanged",
                "ModelItemDoesNotExist",
                "MetamodelItemDoesNotExist",
                "ModelItemIsAlike",
                "ModelItemIsLocked",
                "ModelItemIsUnlocked",
                "ModelItemIsNotObject",
                "ModelItemIsNotRelationship",
                "ModelItemIsNotApprovable",
                "ModelItemIsNotPendingReview",
                "ModelItemIsAlreadyPendingReview",
                "ModelItemVersionIsNotLast",
                "ModelItemsTypeNotEquals",
                "ModelItemsEquals",
                "ModelItemIsDeactivated",
                "ModelItemsActivatedDeactivated",
                "ModelItemsDeactivated",
                "ModelItemsActivated",
                "UserIsNotInApproversList",
                "IdentifyingAttributeValueNotProvided",
                "ObjectIsAlike",
                "RelationshipIsAlike",
                "LeadObjectDoesNotExist",
                "LeadRelationshipDoesNotExist",
                "MemberObjectDoesNotExist",
                "NoValidRelationshipTypeExists",
                "RelationshipTypePairDoesNotExist",
                "ProtectedSolutionDoesNotContainLeadAndMember",
                "RelationshipTypePairIsNotAssignedToRelationshipType",
                "RelationshipTypePairIsDeactivated",
                "RelationshipTypePairIsNotValid",
                "UpdateSelfReferencePairInCaseOfHierarchicalDirectionDoesNotExist",
                "DeleteSelfReferencePairInCaseOfHierarchicalDirectionDoesNotExist",
                "DuplicateRelationshipTypePair",
                "ObjectCapacityIsApproaching",
                "ObjectCapacityIsAvailable",
                "PermissionDeniedFeature",
                "PermissionDeniedModel",
                "PermissionDeniedModelItem",
                "PermissionDeniedLeadModelItem",
                "PermissionDeniedMemberModelItem",
                "PermissionDeniedModelModelItem",
                "PermissionDeniedModelMetamodelItem",
                "PermissionDeniedDataImport",
                "PersonNotInAnyRole",
                "DependentModelItemsCannotBeUnlocked",
                "PermissionDeniedModelAdministration",
                "GroupDoesNotExist",
                "PersonDoesNotExist",
                "DuplicateGroupSpecified",
                "DuplicatePersonSpecified",
                "DuplicateMetamodelItemInModellingSolution",
                "SolutionIsAssignedToModels",
                "SolutionDoesNotExist",
                "SolutionAlreadyExists",
                "WebhookDoesNotExist",
                "WebhookWithSameDataAlreadyExists",
                "WebhookEventTypeIsNotValid",
                "WebhookUrlIsNotValid",
                "WebhookExpirationDateIsNotValid",
                "WebhookUrlCannotBeAuthenticated",
                "DocumentFilePathIsInaccessible",
                "LicenseKeyIsNotValid",
                "LicenseNotValid",
                "SecretHasTooManyCharacters",
                "NotificationDoesNotExist",
                "NotificationDoesNotBelongToUser",
                "DocumentIsCounterpartLinked",
                "ModelItemIsCounterpartLinked",
                "ObjectCounterpartLinked",
                "DocumentLinkDoesNotExist",
                "DocumentComponentDoesNotExist",
                "ComponentDoesNotExist",
                "SingleRepresentationSituationDoesNotExists",
                "ComponentRepresentationSituationNotValid",
                "MetamodelEntityIsProtected",
                "MetamodelEntityIsNotProtected",
                "AttributeAssignmentOfChildObjectTypeCannotBeProtected",
                "SolutionWithProtectedAttributeAssignmentsCannotBeUnprotected",
                "ObjectCapacityIsExceeded",
                "MetamodelItemApproversEntriesExceedMaximumLimit",
                "DuplicatedDocumentTypeLinkSpecified",
                "ClientForVisioDocumentTypeIsInvalid",
                "DocumentUrlIsInvalid",
                "DocumentPageIsOutOfRange",
                "DocumentExportFormatIsInvalid",
                "DataFileIsInvalid",
                "ImportFileDoesNotExist",
                "ImportFileCanNotBeOpened",
                "ImportFileRequiredWorksheetMissing",
                "ImportFileWorksheetFromMappingsMissing",
                "ImportFileXmlSchemaIsInvalid",
                "ImportFailedUnknownError",
                "ImportIsInvalid",
                "MetamodelItemIsAlreadyHidden",
                "RelationshipTypePairIsAlreadyHidden",
                "RelationshipTypePairIsAlreadyActive",
                "AttributeAssignmentsDeleted",
                "AttributeAssignmentsCommited",
                "DocumentsDeleted",
                "SharePointSiteSet",
                "DocumentsRegistered",
                "DocumentTypeCreated",
                "DocumentTypeDeleted",
                "DocumentTypeUpdated",
                "DocumentTypeTemplateFilesSaved",
                "DocumentTypeMetamodelItemsSaved",
                "AttributeAssigmentsSaved",
                "AttributeCreated",
                "AttributeUpdated",
                "ModelItemsReused",
                "ModelItemsDeleted",
                "ObjectCreated",
                "ObjectUpdated",
                "ObjectsCreated",
                "ObjectsUpdated",
                "ObjectSkipped",
                "ObjectsCopied",
                "ObjectDeleted",
                "ObjectsDeleted",
                "ObjectsMerged",
                "ObjectReclassified",
                "ObjectsReclassified",
                "ObjectsRelationshipsMerged",
                "RelationshipCreated",
                "RelationshipsCreated",
                "RelationshipsCopied",
                "RelationshipUpdated",
                "RelationshipsUpdated",
                "RelationshipDeleted",
                "RelationshipsDeleted",
                "RelationshipSkipped",
                "RelationshipTypeDoesNotExist",
                "RelationshipTypePairsDeleted",
                "RelationshipsMerged",
                "LeadToMemberDirectionEmpty",
                "MemberToLeadDirectionEmpty",
                "RepresentationSituationIsNotValid",
                "IntersectionalRelationshipRepresentationIsNotValid",
                "IntersectionalRelationshipTypeWithSamePairAlreadyExists",
                "IntersectionalRelationshipTypeCannotHavePairsWithAnyLeadOrMember",
                "RelationshipTypeHasNoPairs",
                "DuplicateRelationshipTypeInModellingSolution",
                "DocumentManagementSystemRetrieved",
                "ObjectTypeCreated",
                "SolutionCreated",
                "SolutionDeleted",
                "WebhookSaved",
                "WebhookDeleted",
                "MappedImportWorksheetSettingsCreated",
                "MappedImportWorksheetSettingsUpdated",
                "ModelCopied",
                "ModelItemsCopied",
                "ModelItemLocked",
                "ModelItemUnlocked",
                "ModelItemApprovalRequested",
                "ModelItemApprovalRequestCompleted",
                "ModelItemsNotApprovable",
                "ModelCreated",
                "ModelUpdated",
                "NotificationCreated",
                "NotificationDataHasIncorrectType",
                "NotificationEndDatePrecedesStartDate",
                "BothNotificationProgressCountsAndPercentAreSet",
                "NotificationsDeleted",
                "NotificationsPurged",
                "NotificationsRead",
                "NotificationsReadAll",
                "NotificationsUpdated",
                "RelationshipTypeUpdated",
                "RelationshipTypeCreated",
                "RelationshipTypesCreated",
                "RelationshipTypePairUpdated",
                "RelationshipTypePairsCreated",
                "DocumentCreated",
                "DocumentUpdated",
                "DocumentCounterpartAssigned",
                "DocumentCounterpartUnassigned",
                "DocumentCounterpartsDeleted",
                "DocumentCounterpartsCreated",
                "DocumentCounterpartsUpdated",
                "DocumentCounterpartsReassigned",
                "DocumentFilePathIsInvalid",
                "DocumentModelRootPathIsNotValid",
                "DocumentFilePathIsTooLong",
                "DocumentFilenameRequiresFileExtension",
                "DocumentFilenameContainsInvalidCharacters",
                "DocumentFileExtensionNotSupportedForCategory",
                "DocumentFileExtensionNotSupportedForCustomCategory",
                "DocumentFileExtensionNotSupportedForFileTypeFilter",
                "DocumentAlreadyExists",
                "DocumentHasCounterparts",
                "DocumentTypeLinksDeleted",
                "DocumentTypeLinkDoesNotExist",
                "DocumentTypeLinkIsInherited",
                "InheritedDocumentLinkAlreadyExists",
                "DocumentTypeLinkAlreadyExists",
                "MetamodelItemIsNotAnObjectType",
                "MetamodelItemIsNotARelationshipType",
                "DocumentTypeLinkCreated",
                "DocumentTypeLinksCreated",
                "ObjectTypeUpdated",
                "RequestCannotBeProcessed",
                "LeadObjectTypeDoesNotExist",
                "MemberObjectTypeDoesNotExist",
                "DocumentComponentUpdated",
                "DocumentComponentsUpdated",
                "DocumentComponentDeleted",
                "DocumentComponentCreated",
                "DocumentComponentsCreated",
                "DocumentTypeComponentsUpdated",
                "DocumentTypeComponentAlreadyExists",
                "DocumentTypeComponentDoesNotExist",
                "MetamodelItemHasDocumentComponents",
                "DocumentTypeCategoryIsNotVisioType",
                "DocumentTypeCategoryIsVisioType",
                "DocumentTypeComponentsCreated",
                "DocumentTypeComponentsDeleted",
                "DocumentTypeRelationshipTypeEndpointsDoNotExist",
                "DocumentTypeTemplateUpdated",
                "MetamodelEntitiesLocked",
                "MetamodelEntityIsLocked",
                "MetamodelEntitiesUnlocked",
                "RecycleBinPurged",
                "EntitiesProtectionStateApplied",
                "MetamodelItemApprovalInformationHasChanged",
                "DocumentHasDifferentDocumentType",
                "ExternalDocumentDoesNotHaveExternalDocumentId",
                "LeadRelationshipTypeDoesNotExist",
                "IntersectionalRelationshipTypeUsageCannotBeUpdated",
                "RelationshipTypeUsageCannotBeUpdated",
                "RelationshipTypeUsageIsNotValid",
                "MetamodelItemDeactivated",
                "MetamodelItemsDeactivated",
                "DescriptionIsInvalid",
                "RelationshipTypePairActivated",
                "RelationshipTypePairsActivated",
                "RelationshipTypePairDeactivated",
                "RelationshipTypePairsDeactivated",
                "MetamodelItemActivated",
                "MetamodelItemsActivated",
                "FailedToSaveRelationshipTypeConnectedToDetails",
                "MemberModelItemIsNotObject",
                "LeadModelItemIsNotObject",
                "LeadModelItemIsNotRelationship",
                "WorkspaceCreated",
                "WorkspacesCreated",
                "WorkspaceCapacityIsExceeded",
                "WorkspaceNameIsNotUnique",
                "WorkspaceUpdated",
                "WorkspacesUpdated",
                "WorkspaceDoesNotExist",
                "CommandsValidated",
                "WorkspaceDeleted",
                "WorkspacesDeleted",
                "MetamodelItemNotInWorkspace",
                "WorkspaceObjectCreated",
                "ObjectIsNotAvailableInWorkspace",
                "PermissionDeniedDeleteWorkspace",
                "LicenseTypesRecalculated",
                "PricingTierIsNotValid",
                "PermissionDenied",
                "InternalServerError",
                "BadRequest",
                "NotFound",
                "Forbidden",
                "RequestAccepted",
                "OverrideAll"
            ],
            "type": "string"
        },
        "OfficeArchitect.Contracts.Message.Message_Level1": {
            "type": "object",
            "properties": {
                "messageCategory": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCategory"
                },
                "messageCode": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCode"
                },
                "messageDefinition": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.Definition.MessageDefinition"
                },
                "message": {
                    "description": "Message content.",
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Operation.OperationMessage-Of-OfficeArchitect.Contracts.Message.Definition.Notification.WebhookSaved_Level1": {
            "type": "object",
            "properties": {
                "messageDefinition": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.Definition.Notification.WebhookSaved_Level2"
                },
                "messageCategory": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCategory"
                },
                "messageCode": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCode"
                },
                "message": {
                    "description": "Message content.",
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Operation.OperationMessage-Of-OfficeArchitect.Contracts.Message.Definition.Object.ObjectCreated_Level1": {
            "type": "object",
            "properties": {
                "messageDefinition": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.Definition.Object.ObjectCreated_Level2"
                },
                "messageCategory": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCategory"
                },
                "messageCode": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCode"
                },
                "message": {
                    "description": "Message content.",
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Operation.OperationMessage-Of-OfficeArchitect.Contracts.Message.Definition.Object.ObjectDeleted_Level1": {
            "type": "object",
            "properties": {
                "messageDefinition": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.Definition.Object.ObjectDeleted_Level2"
                },
                "messageCategory": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCategory"
                },
                "messageCode": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCode"
                },
                "message": {
                    "description": "Message content.",
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Operation.OperationMessage-Of-OfficeArchitect.Contracts.Message.Definition.Object.ObjectUpdated_Level1": {
            "type": "object",
            "properties": {
                "messageDefinition": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.Definition.Object.ObjectUpdated_Level2"
                },
                "messageCategory": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCategory"
                },
                "messageCode": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCode"
                },
                "message": {
                    "description": "Message content.",
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Operation.OperationMessage-Of-OfficeArchitect.Contracts.Message.Definition.Relationship.RelationshipCreated_Level1": {
            "type": "object",
            "properties": {
                "messageDefinition": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.Definition.Relationship.RelationshipCreated_Level2"
                },
                "messageCategory": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCategory"
                },
                "messageCode": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCode"
                },
                "message": {
                    "description": "Message content.",
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Operation.OperationMessage-Of-OfficeArchitect.Contracts.Message.Definition.Relationship.RelationshipDeleted_Level1": {
            "type": "object",
            "properties": {
                "messageDefinition": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.Definition.Relationship.RelationshipDeleted_Level2"
                },
                "messageCategory": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCategory"
                },
                "messageCode": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCode"
                },
                "message": {
                    "description": "Message content.",
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "OfficeArchitect.Contracts.Message.Operation.OperationMessage-Of-OfficeArchitect.Contracts.Message.Definition.Relationship.RelationshipUpdated_Level1": {
            "type": "object",
            "properties": {
                "messageDefinition": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.Definition.Relationship.RelationshipUpdated_Level2"
                },
                "messageCategory": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCategory"
                },
                "messageCode": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.MessageCode"
                },
                "message": {
                    "description": "Message content.",
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "OfficeArchitect.Contracts.Metamodel.DocumentType.RepresentationSituation": {
            "enum": [
                "None",
                "Connected",
                "Containment",
                "Overlap"
            ],
            "type": "string"
        },
        "OfficeArchitect.Contracts.Metamodel.MetamodelItem.RelationshipTypeUsage": {
            "enum": [
                "Directionless",
                "Sequential",
                "Hierarchical",
                "Intersectional"
            ],
            "type": "string"
        },
        "OfficeArchitect.Contracts.Metamodel.MetamodelItem.SystemColors": {
            "enum": [
                "Default",
                "Lochmara",
                "Indigo",
                "Malibu",
                "MineShaft",
                "DoveGray",
                "PottersClay",
                "Kabul",
                "Thatch",
                "PersianGreen",
                "Visio",
                "Word",
                "Excel",
                "Powerpoint",
                "TropicalRainForest",
                "MonteCarlo",
                "FruitSalad",
                "Parsley",
                "MossGreen",
                "California",
                "Clementine",
                "Chardonnay",
                "Pomegranate",
                "TallPoppy",
                "Sunglo",
                "SilverChalice",
                "DefaultVis",
                "LightIndigo",
                "LightMalibu",
                "DarkMalibu"
            ],
            "type": "string"
        },
        "OfficeArchitect.Contracts.Metamodel.MetamodelItem.TitleIcons": {
            "enum": [
                "None",
                "Actor",
                "Control",
                "OrgUnit",
                "Contract",
                "Function",
                "Process",
                "Goal",
                "Constraint",
                "Requirement",
                "Principle",
                "Model",
                "Visio",
                "Visiodoc",
                "Powerpoint",
                "Powerpointdoc",
                "Excel",
                "Exceldoc",
                "Word",
                "Worddoc",
                "WorkPackage",
                "Listview",
                "Hierarchyview",
                "Matrixview",
                "Collectionview",
                "Relationship",
                "Solution",
                "Repository",
                "Site",
                "Folder",
                "Library",
                "Defaultdoc",
                "Measure",
                "PhysicalDataComponent",
                "PhysicalTechnologyComponent",
                "Driver",
                "Location",
                "Product",
                "PlatformService",
                "Event",
                "PhysicalApplicationComponent",
                "ServiceQuality",
                "Capability",
                "LogicalApplicationComponent",
                "LogicalTechnologyComponent",
                "DataEntity",
                "Gap",
                "Cog",
                "CogOutline",
                "Favourites",
                "InformationSystemService",
                "Assumption",
                "BusinessService",
                "Objective",
                "Role",
                "LogicalDataComponent",
                "Default",
                "Text",
                "Choice",
                "Number",
                "Currency",
                "DateTime",
                "TrueFalse",
                "PersonOrGroup",
                "Hyperlink",
                "UniqueIdentifier",
                "Listviewtiles",
                "Listviewcards",
                "Listviewvisualization",
                "ArchimateResource",
                "ArchimateLocation",
                "ArchimateTechnologyFunction",
                "ArchimateTechnologyProcess",
                "ArchimatePathway",
                "ArchimatePath",
                "ArchimateCommunicationNetwork",
                "ArchimateEquipment",
                "ArchimateFacility",
                "ArchimateMaterial",
                "ArchimateSystemSoftware",
                "ArchimateTechnologyCollaboration",
                "ArchimateBusinessRole",
                "ArchimateBusinessActor",
                "ArchimateApplicationInterface",
                "ArchimateCollaboration",
                "ArchimateDevice",
                "ArchimateArtifact",
                "ArchimateTechnologyService",
                "ArchimateTechnologyEvent",
                "ArchimateTechnologyInteraction",
                "ArchimateNode",
                "ArchimateTechnologyInterface",
                "ArchimateBusinessInteraction",
                "ArchimateApplicationEvent",
                "ArchimateBusinessProcess",
                "ArchimateBusinessFunction",
                "ArchimateBusinessService",
                "ArchimateProduct",
                "ArchimateContract",
                "ArchimateRepresentation",
                "ArchimateBusinessObject",
                "ArchimateValue",
                "ArchimateMeaning",
                "ArchimateOutcome",
                "ArchimateDriver",
                "ArchimateCapability",
                "ArchimateCourseOfAction",
                "ArchimatePlateau",
                "ArchimateGap",
                "ArchimateWorkPackage",
                "ArchimateImplementationEvent",
                "ArchimateStakeholder",
                "ArchimateAssessment",
                "ArchimateGoal",
                "ArchimatePrinciple",
                "ArchimateConstaint",
                "ArchimateRequirement",
                "ArchimateApplicationFunction",
                "ArchimateBusinessEvent",
                "ArchimateBusinessInterface",
                "ArchimateBusinessCollaboration",
                "ArchimateDataObject",
                "ArchimateApplicationService",
                "ArchimateApplicationProcess",
                "ArchimateApplicationInteraction",
                "User",
                "UserGroup",
                "Xml",
                "UserAlternate",
                "UserGroupAlternate",
                "RecycleBin"
            ],
            "type": "string"
        },
        "OfficeArchitect.Contracts.ModelItem.ModelItemStatus": {
            "description": "The status of the model item.",
            "enum": [
                "Original",
                "Reuse",
                "Variant"
            ],
            "type": "string"
        },
        "OfficeArchitect.Contracts.Notification.Request.CreateWebhookRequest": {
            "default": {
                "Secret": "Secret",
                "EventType": "objects.create",
                "Url": "https://example.com/webhook"
            },
            "required": [
                "eventType",
                "url"
            ],
            "type": "object",
            "properties": {
                "secret": {
                    "description": "Receiver Secret.",
                    "type": "string"
                },
                "eventType": {
                    "description": "Subscription Event Type.",
                    "minLength": 1,
                    "type": "string"
                },
                "url": {
                    "description": "Receiver Url.",
                    "minLength": 1,
                    "type": "string",
                    "x-ms-notification-url": true,
                    "x-ms-visibility": "internal"
                },
                "expirationDate": {
                    "format": "date-time",
                    "description": "Gets or sets the expiration date. If no expiration date is provided, one value\r\nby default will be used (typically 6 months after creation date).",
                    "type": "string"
                }
            },
            "example": {
                "Secret": "Secret",
                "EventType": "objects.create",
                "Url": "https://example.com/webhook"
            }
        },
        "OfficeArchitect.Contracts.Notification.Response.DeleteWebhookResponse_Level0": {
            "default": {
                "Success": true,
                "Messages": []
            },
            "type": "object",
            "properties": {
                "success": {
                    "description": "Indicates operation success.",
                    "type": "boolean"
                },
                "messages": {
                    "description": "Response messages.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeArchitect.Contracts.Message.Message_Level1"
                    },
                    "readOnly": true
                }
            },
            "example": {
                "Success": true,
                "Messages": []
            }
        },
        "OfficeArchitect.Contracts.Notification.Response.SaveWebhookResponse_Level0": {
            "default": {
                "SuccessMessage": {
                    "MessageCategory": "Information",
                    "MessageCode": "WebhookSaved",
                    "MessageDefinition": {
                        "WebhookId": 1
                    },
                    "Message": "The webhook with Id '1' is saved successfully."
                },
                "Success": true,
                "Messages": []
            },
            "type": "object",
            "properties": {
                "successMessage": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Message.Operation.OperationMessage-Of-OfficeArchitect.Contracts.Message.Definition.Notification.WebhookSaved_Level1"
                },
                "success": {
                    "description": "Indicates operation success.",
                    "type": "boolean"
                },
                "messages": {
                    "description": "Response messages.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeArchitect.Contracts.Message.Message_Level1"
                    },
                    "readOnly": true
                }
            },
            "example": {
                "SuccessMessage": {
                    "MessageCategory": "Information",
                    "MessageCode": "WebhookSaved",
                    "MessageDefinition": {
                        "WebhookId": 1
                    },
                    "Message": "The webhook with Id '1' is saved successfully."
                },
                "Success": true,
                "Messages": []
            }
        },
        "OfficeArchitect.Contracts.Notification.WebhookPayload": {
            "type": "object",
            "properties": {
                "ids": {
                    "type": "array",
                    "items": {}
                },
                "eventType": {
                    "type": "string"
                },
                "secret": {
                    "type": "string"
                }
            }
        },
        "OfficeArchitect.Contracts.OData.Metamodel.Attribute.AttributeAssignmentGroup_Level2": {
            "type": "object",
            "properties": {
                "attributeAssignmentGroupId": {
                    "format": "uuid",
                    "description": "Represents the Id of Attribute Assignment Group.",
                    "type": "string"
                },
                "name": {
                    "description": "Represents the Name of Attribute Assignment Group.",
                    "type": "string"
                },
                "position": {
                    "format": "int32",
                    "description": "Represents the position of Attribute Assignment Group.",
                    "type": "integer"
                }
            }
        },
        "OfficeArchitect.Contracts.OData.Metamodel.Attribute.AttributeAssignment_Level2": {
            "description": "Attribute Assignment.",
            "type": "object",
            "properties": {
                "attributeAssignmentId": {
                    "format": "uuid",
                    "description": "Attribute Assignment Id.",
                    "type": "string"
                },
                "attributeId": {
                    "format": "uuid",
                    "description": "Guid AttributeId.",
                    "type": "string"
                },
                "attributeCategoryId": {
                    "format": "int32",
                    "description": "int AttributeCategoryId.",
                    "type": "integer"
                },
                "metamodelItemId": {
                    "format": "uuid",
                    "description": "Guid MetamodelItemId.",
                    "type": "string"
                },
                "attributeAssignmentGroupId": {
                    "format": "uuid",
                    "description": "Gets or sets Attribute Assignment Group identifier.",
                    "type": "string"
                },
                "isIdentifier": {
                    "description": "bool IsIdentifier.",
                    "type": "boolean"
                },
                "isInherited": {
                    "description": "bool IsInherited.",
                    "type": "boolean"
                },
                "isDisplay": {
                    "description": "bool IsDisplay.",
                    "type": "boolean"
                },
                "isImportant": {
                    "description": "bool IsImportant.",
                    "type": "boolean"
                },
                "groupName": {
                    "description": "string GroupName.",
                    "type": "string"
                },
                "position": {
                    "format": "int32",
                    "description": "int Position.",
                    "type": "integer"
                },
                "activeState": {
                    "description": "bool ActiveState.",
                    "type": "boolean"
                },
                "stringDefaultValue": {
                    "description": "abstract string StringDefaultValue.",
                    "type": "string",
                    "readOnly": true
                },
                "isProtected": {
                    "description": "Gets or sets a value indicating whether the attribute assignment is protected.",
                    "type": "boolean"
                }
            }
        },
        "OfficeArchitect.Contracts.OData.Metamodel.MetamodelItemDefaultApprover_Level2": {
            "type": "object",
            "properties": {
                "metamodelItemDefaultApproverId": {
                    "format": "uuid",
                    "description": "Gets or sets the entity key.",
                    "type": "string"
                },
                "personId": {
                    "format": "uuid",
                    "description": "Gets or sets the person id.",
                    "type": "string"
                },
                "personName": {
                    "description": "Gets or sets the person name.",
                    "type": "string"
                }
            }
        },
        "OfficeArchitect.Contracts.OData.Metamodel.MetamodelItemSolution_Level2": {
            "description": "MetamodelItem Solution.",
            "type": "object",
            "properties": {
                "solutionId": {
                    "format": "uuid",
                    "description": "Represents the solution id.",
                    "type": "string"
                },
                "name": {
                    "description": "Represents the solution name.",
                    "type": "string"
                }
            }
        },
        "OfficeArchitect.Contracts.OData.Metamodel.ObjectType_Level1": {
            "description": "Represents the Object Type entity.",
            "default": {
                "ObjectTypeId": "d1f38dcf-f6d2-4aa5-85ad-691d2a6a04f5",
                "ParentObjectTypeId": "f4a4d494-f80d-4ca1-b83a-e8620cd1d269",
                "Name": "Object Type Name",
                "Alias": "Object Type Alias",
                "Description": "Description",
                "Color": "Lochmara",
                "Icon": "Requirement",
                "Solutions": [
                    {
                        "SolutionId": "68fe4bd1-12f9-4adb-bc7f-0f298375bc02"
                    },
                    {
                        "SolutionId": "05a79ff3-e4ca-452e-99a8-c5623eb05d0e"
                    }
                ],
                "IsApprovable": false
            },
            "type": "object",
            "properties": {
                "createdBy": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Permission.AuditUser_Level2"
                },
                "lastModifiedBy": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Permission.AuditUser_Level2"
                },
                "parentObjectType": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Metamodel.ObjectType_Level2"
                },
                "objectTypeId": {
                    "format": "uuid",
                    "description": "Represents the Id of the Object Type.",
                    "type": "string"
                },
                "parentObjectTypeId": {
                    "format": "uuid",
                    "description": "Represents the reference to Parent Object Type Id.",
                    "type": "string"
                },
                "dateCreated": {
                    "format": "date-time",
                    "description": "Represents DateTime when the Object Type was created.",
                    "type": "string"
                },
                "createdById": {
                    "format": "uuid",
                    "description": "Represents the UserId by whom the Object Type was created.",
                    "type": "string"
                },
                "dateLastModified": {
                    "format": "date-time",
                    "description": "Represents DateTime when the Object Type was modified.",
                    "type": "string"
                },
                "lastModifiedById": {
                    "format": "uuid",
                    "description": "Represents the UserId by whom the Object Type was modified.",
                    "type": "string"
                },
                "activeState": {
                    "description": "Represents if the Object Type is in active state.",
                    "type": "boolean"
                },
                "isApprovable": {
                    "description": "Represents if the Object Type is approvable.",
                    "type": "boolean"
                },
                "color": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Metamodel.MetamodelItem.SystemColors"
                },
                "icon": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Metamodel.MetamodelItem.TitleIcons"
                },
                "solutions": {
                    "description": "Represents the navigation property to the collection of solutions.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Metamodel.MetamodelItemSolution_Level2"
                    }
                },
                "attributeAssignments": {
                    "description": "Represents the navigation property to the collection of assigned attributes.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Metamodel.Attribute.AttributeAssignment_Level2"
                    }
                },
                "attributeAssignmentGroups": {
                    "description": "Represents the navigation property to the collection of Attribute Assignments Groups.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Metamodel.Attribute.AttributeAssignmentGroup_Level2"
                    }
                },
                "childObjectTypes": {
                    "description": "Represents the navigation property to the collection of referenced Child Object Types.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Metamodel.ObjectType_Level2"
                    }
                },
                "defaultApprovers": {
                    "description": "Represents the navigation property to the collection of default approvers.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Metamodel.MetamodelItemDefaultApprover_Level2"
                    }
                },
                "alias": {
                    "description": "Gets or sets the alias of the metamodel item.",
                    "type": "string"
                },
                "name": {
                    "description": "Gets or sets the name of the metamodel item.",
                    "type": "string"
                },
                "description": {
                    "description": "Gets or sets the description of the metamodel item.",
                    "type": "string"
                }
            },
            "example": {
                "ObjectTypeId": "d1f38dcf-f6d2-4aa5-85ad-691d2a6a04f5",
                "ParentObjectTypeId": "f4a4d494-f80d-4ca1-b83a-e8620cd1d269",
                "Name": "Object Type Name",
                "Alias": "Object Type Alias",
                "Description": "Description",
                "Color": "Lochmara",
                "Icon": "Requirement",
                "Solutions": [
                    {
                        "SolutionId": "68fe4bd1-12f9-4adb-bc7f-0f298375bc02"
                    },
                    {
                        "SolutionId": "05a79ff3-e4ca-452e-99a8-c5623eb05d0e"
                    }
                ],
                "IsApprovable": false
            }
        },
        "OfficeArchitect.Contracts.OData.Metamodel.ObjectType_Level2": {
            "description": "Represents the Object Type entity.",
            "default": {
                "ObjectTypeId": "d1f38dcf-f6d2-4aa5-85ad-691d2a6a04f5",
                "ParentObjectTypeId": "f4a4d494-f80d-4ca1-b83a-e8620cd1d269",
                "Name": "Object Type Name",
                "Alias": "Object Type Alias",
                "Description": "Description",
                "Color": "Lochmara",
                "Icon": "Requirement",
                "Solutions": [
                    {
                        "SolutionId": "68fe4bd1-12f9-4adb-bc7f-0f298375bc02"
                    },
                    {
                        "SolutionId": "05a79ff3-e4ca-452e-99a8-c5623eb05d0e"
                    }
                ],
                "IsApprovable": false
            },
            "type": "object",
            "properties": {
                "objectTypeId": {
                    "format": "uuid",
                    "description": "Represents the Id of the Object Type.",
                    "type": "string"
                },
                "parentObjectTypeId": {
                    "format": "uuid",
                    "description": "Represents the reference to Parent Object Type Id.",
                    "type": "string"
                },
                "dateCreated": {
                    "format": "date-time",
                    "description": "Represents DateTime when the Object Type was created.",
                    "type": "string"
                },
                "createdById": {
                    "format": "uuid",
                    "description": "Represents the UserId by whom the Object Type was created.",
                    "type": "string"
                },
                "dateLastModified": {
                    "format": "date-time",
                    "description": "Represents DateTime when the Object Type was modified.",
                    "type": "string"
                },
                "lastModifiedById": {
                    "format": "uuid",
                    "description": "Represents the UserId by whom the Object Type was modified.",
                    "type": "string"
                },
                "activeState": {
                    "description": "Represents if the Object Type is in active state.",
                    "type": "boolean"
                },
                "isApprovable": {
                    "description": "Represents if the Object Type is approvable.",
                    "type": "boolean"
                },
                "alias": {
                    "description": "Gets or sets the alias of the metamodel item.",
                    "type": "string"
                },
                "name": {
                    "description": "Gets or sets the name of the metamodel item.",
                    "type": "string"
                },
                "description": {
                    "description": "Gets or sets the description of the metamodel item.",
                    "type": "string"
                }
            },
            "example": {
                "ObjectTypeId": "d1f38dcf-f6d2-4aa5-85ad-691d2a6a04f5",
                "ParentObjectTypeId": "f4a4d494-f80d-4ca1-b83a-e8620cd1d269",
                "Name": "Object Type Name",
                "Alias": "Object Type Alias",
                "Description": "Description",
                "Color": "Lochmara",
                "Icon": "Requirement",
                "Solutions": [
                    {
                        "SolutionId": "68fe4bd1-12f9-4adb-bc7f-0f298375bc02"
                    },
                    {
                        "SolutionId": "05a79ff3-e4ca-452e-99a8-c5623eb05d0e"
                    }
                ],
                "IsApprovable": false
            }
        },
        "OfficeArchitect.Contracts.OData.Metamodel.RelationshipTypePair_Level2": {
            "description": "RelationshipType Pair.",
            "type": "object",
            "properties": {
                "relationshipTypePairId": {
                    "format": "uuid",
                    "description": "Guid RelationshipTypePairId.",
                    "type": "string"
                },
                "relationshipTypeId": {
                    "format": "uuid",
                    "description": "Guid RelationshipTypeId.",
                    "type": "string"
                },
                "leadObjectTypeId": {
                    "format": "uuid",
                    "description": "Guid LeadObjectTypeId.",
                    "type": "string"
                },
                "memberObjectTypeId": {
                    "format": "uuid",
                    "description": "Guid MemberObjectTypeId.",
                    "type": "string"
                },
                "leadRelationshipTypeId": {
                    "format": "uuid",
                    "description": "Lead Relationship Type identifier.",
                    "type": "string"
                },
                "activeState": {
                    "description": "bool ActiveState.",
                    "type": "boolean"
                }
            }
        },
        "OfficeArchitect.Contracts.OData.Metamodel.RelationshipType_Level1": {
            "description": "RelationshipType.",
            "default": {
                "RelationshipTypeId": "f3427404-ff6d-431d-9031-032b3ab9571c",
                "Name": "Relationship Type Name",
                "Alias": "Relationship Type Alias",
                "Description": "Description",
                "Color": "Lochmara",
                "Solutions": [
                    {
                        "SolutionId": "48df59c4-fddd-4e9d-bae4-a31c6c0ea8e1"
                    },
                    {
                        "SolutionId": "cea96435-377f-4cde-8736-27644b435849"
                    },
                    {
                        "SolutionId": "7f48c7db-81b1-4d3f-b7ee-4d4bb25b0352"
                    }
                ],
                "Representation": "Connected",
                "Direction": "Hierarchical",
                "LeadToMemberDirection": "leadToMemberDescription",
                "MemberToLeadDirection": "memberToLeadDescription",
                "IsApprovable": false
            },
            "type": "object",
            "properties": {
                "createdBy": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Permission.AuditUser_Level2"
                },
                "lastModifiedBy": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Permission.AuditUser_Level2"
                },
                "relationshipTypeId": {
                    "format": "uuid",
                    "description": "Guid RelationshipTypeId.",
                    "type": "string"
                },
                "dateCreated": {
                    "format": "date-time",
                    "description": "DateTime DateCreated.",
                    "type": "string"
                },
                "createdById": {
                    "format": "uuid",
                    "description": "Guid CreatedById.",
                    "type": "string"
                },
                "dateLastModified": {
                    "format": "date-time",
                    "description": "DateTime DateLastModified.",
                    "type": "string"
                },
                "lastModifiedById": {
                    "format": "uuid",
                    "description": "Guid LastModifiedById.",
                    "type": "string"
                },
                "activeState": {
                    "description": "bool ActiveState.",
                    "type": "boolean"
                },
                "isApprovable": {
                    "description": "Represents if the RelationshipType is approvable.",
                    "type": "boolean"
                },
                "leadToMemberDirection": {
                    "description": "string LeadToMemberDirection.",
                    "type": "string"
                },
                "memberToLeadDirection": {
                    "description": "string MemberToLeadDirection.",
                    "type": "string"
                },
                "representation": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Metamodel.DocumentType.RepresentationSituation"
                },
                "direction": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Metamodel.MetamodelItem.RelationshipTypeUsage"
                },
                "color": {
                    "$ref": "#/definitions/OfficeArchitect.Contracts.Metamodel.MetamodelItem.SystemColors"
                },
                "relationshipTypePairs": {
                    "description": "List RelationshipTypePairs RelationshipTypePairs.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Metamodel.RelationshipTypePair_Level2"
                    }
                },
                "solutions": {
                    "description": "List MetamodelItemSolution Solutions.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Metamodel.MetamodelItemSolution_Level2"
                    }
                },
                "attributeAssignments": {
                    "description": "List AttributeAssignment AttributeAssignments.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Metamodel.Attribute.AttributeAssignment_Level2"
                    }
                },
                "attributeAssignmentGroups": {
                    "description": "Represents the navigation property to the collection of Attribute Assignments Groups.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/OfficeArchitect.Contracts.OData.Metamodel.Attribute.AttributeAssignmentGroup_Level2"
                    }
                },
                "defaultApprovers": {
                    "description": "Represents the navigation property to the collection of default approvers.",
                    "type": "array",
[...]
