{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "AXtension Content Gate",
    "description": "Create a single point of truth for the content in your organization across Microsoft Dynamics 365 apps, by having all relevant content displayed in one overview, in one click.",
    "contact": {
      "name": "AXtension Support",
      "url": "https://axtension.topdesk.net/tas/public/login/form",
      "email": "support@axtension.com"
    }
  },
  "host": "api.content-gate.com",
  "basePath": "/",
  "schemes": ["https"],
  "paths": {
    "/api/BusinessEntityModel/Providers/{providerReferenceId}/Entities": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier of the Business Entity Type.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The Business Entity Type name.",
                    "title": "Name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the Business Entity Type.",
                    "title": "Description"
                  },
                  "provider": {
                    "type": "object",
                    "properties": {
                      "referenceId": {
                        "type": "string",
                        "description": "The reference identifier of the Business Entity Connector.",
                        "title": "Provider Reference Id"
                      },
                      "externalType": {
                        "type": "string",
                        "description": "The type that is used to identify the Business Entity Type in an external system.",
                        "title": "External Type"
                      },
                      "externalIdField": {
                        "type": "string",
                        "description": "Represents the field that is used in the external system to identify a Business Entity.",
                        "title": "External Identifier Field"
                      }
                    },
                    "description": "provider"
                  }
                }
              }
            }
          }
        },
        "summary": "List Business Entity Types",
        "description": "Lists all Business Entity Types in the Model",
        "operationId": "List-Business-Entity-Types",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "providerReferenceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/api/BusinessEntityProviders": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier of the Business Entity Connector.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the Business Entity Connector.",
                    "title": "Name"
                  },
                  "providerType": {
                    "type": "string",
                    "description": "The type of the Business Entity Connector.",
                    "title": "Connector Type"
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "The Business Entity Connector reference identifier.",
                    "title": "Reference Id"
                  }
                }
              }
            }
          }
        },
        "summary": "List Business Entity Connectors",
        "description": "Lists all configured Business Entity Connectors.",
        "operationId": "List-Business-Entity-Connectors",
        "x-ms-visibility": "internal"
      }
    },
    "/api/Content": {
      "post": {
        "responses": {
          "201": {
            "description": "OK - Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        },
        "summary": "Store Content",
        "operationId": "Store-Content",
        "description": "Adds new content to an AXtension Content Gate environment.",
        "produces": ["application/json"],
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "assets": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "The title of the content item that is being stored.",
                      "title": "Title",
                      "x-ms-visibility": "important"
                    },
                    "assetType": {
                      "type": "string",
                      "description": "The type of the asset that is provided.",
                      "title": "Content Type",
                      "default": "BinaryContent",
                      "enum": ["BinaryContent", "UriLink", "BinaryLink"],
                      "x-ms-visibility": "important",
                      "x-ms-editor-options": {
                        "items": [
                          {
                            "title": "File Contents",
                            "value": "BinaryContent"
                          },
                          { "title": "Web Link (URL)", "value": "UriLink" },
                          {
                            "title": "Existing File (URL)",
                            "value": "BinaryLink"
                          }
                        ]
                      }
                    },
                    "content": {
                      "type": "string",
                      "description": "The URL or binary contents that are being stored.",
                      "title": "Content",
                      "format": "byte",
                      "x-ms-visibility": "important"
                    },
                    "fileName": {
                      "type": "string",
                      "description": "The name of the file that is being stored.",
                      "title": "File Name",
                      "x-ms-visibility": "important"
                    },
                    "contentType": {
                      "type": "string",
                      "description": "The mime-type of the content to store.",
                      "title": "Content MIME-Type",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "assets",
                  "required": ["assetType", "content", "title", "fileName"]
                },
                "category": {
                  "type": "string",
                  "description": "The Content Category that the content will be stored in.",
                  "title": "Content Category",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Content-Categories",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "storageProviderReferenceId": {
                  "type": "string",
                  "description": "Leave blank for automatic storage selection using storage rules.",
                  "title": "Storage Connector",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Storage-Connectors",
                    "value-path": "referenceId",
                    "value-title": "name"
                  }
                },
                "connections": {
                  "type": "object",
                  "properties": {
                    "providerReferenceId": {
                      "type": "string",
                      "description": "The identifier that uniquely identifies the business entity connector.",
                      "title": "Business Entity Connector",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "List-Business-Entity-Connectors",
                        "value-path": "referenceId",
                        "value-title": "name"
                      }
                    },
                    "externalType": {
                      "type": "string",
                      "description": "The type of the business entity to be stored.",
                      "title": "Business Entity Type",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "List-Business-Entity-Types",
                        "value-path": "provider/externalType",
                        "value-title": "name",
                        "parameters": {
                          "providerReferenceId": {
                            "parameter": "connections.providerReferenceId"
                          }
                        }
                      },
                      "x-ms-dynamic-list": {
                        "operationId": "List-Business-Entity-Types",
                        "itemValuePath": "provider/externalType",
                        "itemTitlePath": "name",
                        "parameters": {
                          "providerReferenceId": {
                            "parameterReference": "body/connections/providerReferenceId"
                          }
                        }
                      }
                    },
                    "externalId": {
                      "type": "string",
                      "description": "The identifier that uniquely identifies the business entity.",
                      "title": "Business Entity Identifier",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "connections",
                  "required": [
                    "externalId",
                    "externalType",
                    "providerReferenceId"
                  ]
                },
                "userProperties": {
                  "$ref": "#/definitions/UserProperties"
                }
              },
              "required": ["assets", "category", "connections"]
            }
          }
        ]
      }
    },
    "/api/ContentCategories": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The Content Category identifier.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the Content Category.",
                    "title": "Name"
                  }
                }
              }
            }
          }
        },
        "summary": "List Content Categories",
        "operationId": "List-Content-Categories",
        "description": "Lists all configured content categories.",
        "x-ms-visibility": "internal"
      }
    },
    "/api/ContentEntityProperties/schema": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "summary": "Get Content Entity properties schema",
        "operationId": "Get-Content-Property-Schema",
        "description": "Gets the schema for the content entity properties.",
        "x-ms-visibility": "internal"
      }
    },
    "/api/StorageProviders": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier of the Storage Connector.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the Storage Connector.",
                    "title": "Name"
                  },
                  "providerType": {
                    "type": "string",
                    "description": "The type of the Storage Connector.",
                    "title": "Connector Type"
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "The Storage Connector reference identifier.",
                    "title": "Reference Id"
                  }
                }
              }
            }
          }
        },
        "summary": "List Storage Connectors",
        "operationId": "List-Storage-Connectors",
        "description": "Lists all configured storage connectors.",
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "ExceptionResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "status": {
              "type": "number"
            },
            "errorId": {
              "type": "string"
            },
            "correlationId": {
              "type": "string"
            },
            "timeStamp": {
              "type": "string"
            },
            "reason": {
              "type": "string"
            },
            "message": {
              "type": "string"
            },
            "description": {
              "type": "string"
            },
            "userTitle": {
              "type": "string"
            },
            "userMessage": {
              "type": "string"
            },
            "contextInfo": {
              "type": "object"
            }
          }
        }
      }
    },
    "UserProperties": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "Get-Content-Property-Schema",
        "parameters": {
        },
        "value-path": "schema"
      },
      "x-ms-dynamic-properties": {
        "operationId": "Get-Content-Property-Schema",
        "parameters": {
        },
        "itemValuePath": "schema"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://axtension.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.axtension.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ]
}
