{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "AXtension Content Gate",
    "description": "Create a single point of truth for the content in your organization across Microsoft Dynamics 365 apps, by having all relevant content displayed in one overview, in one click.",
    "contact": {
      "name": "AXtension Support",
      "url": "https://axtension.topdesk.net/tas/public/login/form",
      "email": "support@axtension.com"
    }
  },
  "host": "api.content-gate.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/businessentities/{providerReferenceId}/{externalType}/{externalId}/Requirements": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The content item requirement id.",
                    "title": "Content item requirement id"
                  },
                  "contentEntityTemplateId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The content item template id.",
                    "title": "Content item template id"
                  },
                  "businessEntityId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The business entity id.",
                    "title": "Business entity id"
                  },
                  "status": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The content item requirement status.",
                    "title": "Status"
                  },
                  "createdOn": {
                    "type": "string",
                    "description": "The date and time when this item was created.",
                    "title": "Created on"
                  },
                  "createdBy": {
                    "type": "string",
                    "description": "The user that created the item.",
                    "title": "Created by"
                  }
                }
              }
            }
          }
        },
        "summary": "List content item requirements",
        "description": "Lists the content item requirements",
        "operationId": "List-Content-Entity-Requirements",
        "parameters": [
          {
            "name": "providerReferenceId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity connector.",
            "x-ms-summary": "Business entity connector",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Connectors",
              "value-path": "referenceId",
              "value-title": "name"
            }
          },
          {
            "name": "externalType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity type.",
            "x-ms-summary": "Business entity type",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Provider-Types",
              "value-path": "provider/externalType",
              "value-title": "name",
              "parameters": {
                "providerReferenceId": {
                  "parameter": "providerReferenceId"
                }
              }
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity identifier.",
            "x-ms-summary": "Business entity identifier",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default"
          }
        },
        "summary": "Create content item requirements",
        "description": "Creates content item requirements based on a template group.",
        "operationId": "Create-Content-Entity-Requirements",
        "parameters": [
          {
            "name": "providerReferenceId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity connector.",
            "x-ms-summary": "Business entity connector",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Connectors",
              "value-path": "referenceId",
              "value-title": "name"
            }
          },
          {
            "name": "externalType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity type.",
            "x-ms-summary": "Business entity type",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Provider-Types",
              "value-path": "provider/externalType",
              "value-title": "name",
              "parameters": {
                "providerReferenceId": {
                  "parameter": "providerReferenceId"
                }
              }
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The external identifier of the business entity.",
            "x-ms-summary": "Business entity identifier",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "ContentEntityTemplateId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The content item template.",
                  "title": "Content item template",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Content-Entity-Templates",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "ContentEntityTemplateGroupId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The content item template group to base the requirements on.",
                  "title": "Content item template group",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Content-Entity-Template-Groups",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/api/businessentities/{providerReferenceId}/{externalType}/{externalId}/views": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier of the view.",
                    "title": "Id"
                  },
                  "apiName": {
                    "type": "string",
                    "description": "The api name of the view.",
                    "title": "ApiName"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the view.",
                    "title": "Name"
                  }
                }
              }
            }
          }
        },
        "summary": "List views business entity",
        "description": "Lists all views that are usable from Power Platform for a specific business entity",
        "operationId": "List-Views-Business-Entity",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "providerReferenceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "The provider reference id.",
            "x-ms-summary": "Provider reference id"
          },
          {
            "name": "externalType",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "The external business entity type.",
            "x-ms-summary": "External business entity type"
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "The external business entity id.",
            "x-ms-summary": "External business entity id"
          }
        ]
      }
    },
    "/api/businessentitymodel": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The business entity type identifier.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the business entity type.",
                    "title": "Name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the business entity type.",
                    "title": "Description"
                  },
                  "title": {
                    "type": "object",
                    "properties": {
                      "format": {
                        "type": "string",
                        "description": "format",
                        "title": "",
                        "x-ms-visibility": "internal"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "fields"
                      }
                    },
                    "description": "title"
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "The reference id to use when referring to this business entity type.",
                    "title": "ReferenceId"
                  }
                }
              }
            }
          }
        },
        "summary": "List business entity types",
        "description": "Lists all business entity types that are defined in the model.",
        "operationId": "List-Business-Entity-Types",
        "parameters": []
      }
    },
    "/api/BusinessEntityModel/{businessEntityType}/views": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier of the view.",
                    "title": "Id"
                  },
                  "apiName": {
                    "type": "string",
                    "description": "The api name of the view.",
                    "title": "ApiName"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the view.",
                    "title": "Name"
                  }
                }
              }
            }
          }
        },
        "summary": "List views",
        "description": "Lists all views that are usable from Power Platform",
        "operationId": "List-Views",
        "parameters": [
          {
            "name": "businessEntityType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity type id or reference id.",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Types",
              "value-path": "referenceId",
              "value-title": "name"
            },
            "x-ms-summary": "Business entity type",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/BusinessEntityProviders": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier of the business entity Connector.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the business entity connector.",
                    "title": "Name"
                  },
                  "providerType": {
                    "type": "string",
                    "description": "The type of the business entity connector.",
                    "title": "Connector type"
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "The business entity connector reference identifier.",
                    "title": "Reference id"
                  }
                }
              }
            }
          }
        },
        "summary": "List business entity connectors",
        "description": "Lists all configured business entity connectors.",
        "operationId": "List-Business-Entity-Connectors"
      }
    },
    "/api/BusinessEntityProviders/{providerReferenceId}/Entities": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier of the business entity type.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The business entity type name.",
                    "title": "Name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the business entity type.",
                    "title": "Description"
                  },
                  "provider": {
                    "type": "object",
                    "properties": {
                      "referenceId": {
                        "type": "string",
                        "description": "The reference identifier of the business entity connector.",
                        "title": "Provider reference id"
                      },
                      "externalType": {
                        "type": "string",
                        "description": "The type that is used to identify the business entity type in an external system.",
                        "title": "External Type"
                      },
                      "externalIdField": {
                        "type": "string",
                        "description": "Represents the field that is used in the external system to identify a business entity.",
                        "title": "External identifier field"
                      }
                    },
                    "description": "provider"
                  }
                }
              }
            }
          }
        },
        "summary": "List business entity provider types",
        "description": "Lists all business entity types in the model",
        "operationId": "List-Business-Entity-Provider-Types",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "providerReferenceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important",
            "description": "The provider reference id.",
            "x-ms-summary": "Provider reference id"
          }
        ]
      }
    },
    "/api/Content": {
      "post": {
        "responses": {
          "200": {
            "description": "OK - Created"
          },
          "201": {
            "description": "OK - Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        },
        "summary": "Store content",
        "operationId": "Store-Content",
        "description": "Adds new content to an AXtension Content Gate environment.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "assets": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "The title of the content item that is being stored.",
                      "title": "Title",
                      "x-ms-visibility": "important"
                    },
                    "assetType": {
                      "type": "string",
                      "description": "The type of the asset that is provided.",
                      "title": "Content Type",
                      "default": "BinaryContent",
                      "enum": [
                        "BinaryContent",
                        "UriLink",
                        "BinaryLink"
                      ],
                      "x-ms-visibility": "important",
                      "x-ms-editor-options": {
                        "items": [
                          {
                            "title": "File contents",
                            "value": "BinaryContent"
                          },
                          {
                            "title": "Web link (URL)",
                            "value": "UriLink"
                          },
                          {
                            "title": "Existing file (URL)",
                            "value": "BinaryLink"
                          }
                        ]
                      }
                    },
                    "content": {
                      "type": "string",
                      "description": "The URL or binary contents that are being stored.",
                      "title": "Content",
                      "format": "byte",
                      "x-ms-visibility": "important"
                    },
                    "fileName": {
                      "type": "string",
                      "description": "The name of the file that is being stored.",
                      "title": "File Name",
                      "x-ms-visibility": "important"
                    },
                    "contentType": {
                      "type": "string",
                      "description": "The mime-type of the content to store.",
                      "title": "Content MIME-Type",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "assets",
                  "required": [
                    "assetType",
                    "content",
                    "title",
                    "fileName"
                  ]
                },
                "category": {
                  "type": "string",
                  "description": "The content category that the content will be stored in.",
                  "title": "Content category",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Content-Categories",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "storageProviderReferenceId": {
                  "type": "string",
                  "description": "Leave blank for automatic storage selection using storage rules.",
                  "title": "Storage Connector",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Storage-Connectors",
                    "value-path": "referenceId",
                    "value-title": "name"
                  }
                },
                "requirementId": {
                  "type": "integer",
                  "description": "The identifier that uniquely identifies the content item requirement.",
                  "title": "Content item requirement identifier",
                  "format": "int64",
                  "x-ms-visibility": "advanced"
                },
                "templateId": {
                  "type": "integer",
                  "description": "The identifier that uniquely identifies the content item template.",
                  "title": "Content item template identifier",
                  "format": "int64",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Content-Entity-Templates",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "connections": {
                  "type": "object",
                  "properties": {
                    "providerReferenceId": {
                      "type": "string",
                      "description": "The identifier that uniquely identifies the business entity connector.",
                      "title": "Business entity connector",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "List-Business-Entity-Connectors",
                        "value-path": "referenceId",
                        "value-title": "name"
                      }
                    },
                    "externalType": {
                      "type": "string",
                      "description": "The type of the business entity to be stored.",
                      "title": "Business entity type",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "List-Business-Entity-Provider-Types",
                        "value-path": "provider/externalType",
                        "value-title": "name",
                        "parameters": {
                          "providerReferenceId": {
                            "parameter": "connections.providerReferenceId"
                          }
                        }
                      },
                      "x-ms-dynamic-list": {
                        "operationId": "List-Business-Entity-Provider-Types",
                        "itemValuePath": "provider/externalType",
                        "itemTitlePath": "name",
                        "parameters": {
                          "providerReferenceId": {
                            "parameterReference": "body/connections/providerReferenceId"
                          }
                        }
                      }
                    },
                    "externalId": {
                      "type": "string",
                      "description": "The identifier that uniquely identifies the business entity.",
                      "title": "Business entity identifier",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "connections",
                  "required": [
                    "externalId",
                    "externalType",
                    "providerReferenceId"
                  ]
                },
                "userProperties": {
                  "$ref": "#/definitions/UserProperties"
                }
              },
              "required": [
                "assets",
                "category",
                "connections"
              ]
            }
          }
        ]
      }
    },
    "/api/content/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "description": "Output file content",
              "format": "binary",
              "title": "File content",
              "type": "string",
              "x-ms-visibility": "important"
            },
            "headers": {
              "Filename": {
                "description": "The filename.",
                "type": "string"
              },
              "FileExtension": {
                "description": "The extension of the file (e.g. .pdf).",
                "type": "string"
              },
              "FilenameWithoutExtension": {
                "description": "The filename without the extension.",
                "type": "string"
              },
              "MimeType": {
                "description": "The mime type of the file.",
                "type": "string"
              },
              "PageCount": {
                "description": "The number of pages. If unknown -1 will be returned.",
                "type": "string"
              }
            }
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        },
        "summary": "Get content",
        "description": "Downloads a content item.",
        "operationId": "Get-Content",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The identifier of the content item.",
            "x-ms-summary": "Content item identifier",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "format": "int64"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The mode in which the content should be loaded. Leave empty to get the original file.",
            "x-ms-summary": "Mode",
            "x-ms-visibility": "advanced",
            "enum": [
              "pdf"
            ]
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The context in which the content should be downloaded. Preview-first-page only works if previewer caching is enabled.",
            "x-ms-summary": "Context",
            "x-ms-visibility": "advanced",
            "default": "download",
            "enum": [
              "download",
              "preview-full",
              "preview-first-page"
            ]
          }
        ]
      }
    },
    "/api/content/{contentEntityId}/sharedContent": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "uri": {
                  "type": "string",
                  "description": "uri"
                }
              }
            }
          }
        },
        "summary": "Get shared content link",
        "description": "Gets the shared content link",
        "operationId": "Get-Shared-Content-Link",
        "parameters": [
          {
            "name": "contentEntityId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The content item identifier.",
            "x-ms-summary": "Content item identifier",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/ContentCategories": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The content category identifier.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the content category.",
                    "title": "Name"
                  }
                }
              }
            }
          }
        },
        "summary": "List content categories",
        "operationId": "List-Content-Categories",
        "description": "Lists all configured content categories."
      }
    },
    "/api/contententities/{id}/properties": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The content item user property id.",
                    "title": "Content item user property id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The content item user property name.",
                    "title": "Content item user property name"
                  },
                  "value": {
                    "type": "string",
                    "description": "The content item user property value.",
                    "title": "Content item user property value"
                  }
                }
              }
            }
          }
        },
        "operationId": "List-Content-Entity-User-Properties",
        "summary": "List all the user properties of a content item",
        "description": "List all the user properties of a content item.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The content item id.",
            "x-ms-summary": "Content item id",
            "x-ms-url-encoding": "single",
            "format": "int64"
          }
        ]
      }
    },
    "/api/contententities/{contentEntityId}/properties/{propertyId}": {
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The content item user property id.",
                  "title": "Content item user property id"
                },
                "value": {
                  "type": "string",
                  "description": "The content item user property value.",
                  "title": "Content item user property value"
                }
              }
            }
          }
        },
        "operationId": "Update-Content-Entity-User-Property",
        "summary": "Updates the content item user property",
        "description": "Update a user property of a content item.",
        "parameters": [
          {
            "name": "contentEntityId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The content item id.",
            "x-ms-summary": "Content item id",
            "format": "int64",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "propertyId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The content item property.",
            "format": "int64",
            "x-ms-summary": "Content item property",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "List-User-Properties",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/UserProperty"
            }
          }
        ]
      }
    },
    "/api/ContentEntityProperties/schema": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "businessEntityId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The id of the business entity that the requirement was attached to.",
                  "title": "Business entity id"
                },
                "templateGroupId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The identifier of the template group that was used for generating requirements.",
                  "title": "Template group id"
                },
                "templateGroupName": {
                  "type": "string",
                  "description": "The name of the template group.",
                  "title": "Template group name"
                },
                "requirements": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The id of the requirement that was put into place.",
                        "title": "Id"
                      },
                      "templateId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The id of the template that was added as a requirement.",
                        "title": "Template id"
                      },
                      "templateName": {
                        "type": "string",
                        "description": "The name of the template.",
                        "title": "Template name"
                      }
                    }
                  },
                  "description": "requirements"
                }
              }
            }
          }
        },
        "summary": "Get content item properties schema",
        "operationId": "Get-Content-Property-Schema",
        "description": "Gets the schema for the content item properties.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The mode in which to load the schema",
            "x-ms-summary": "Mode"
          },
          {
            "name": "propertyId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": "The content item property id.",
            "x-ms-summary": "Content item property id"
          },
          {
            "name": "propertyValueName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The property value name.",
            "x-ms-summary": "Property value name"
          }
        ]
      }
    },
    "/api/contententitytemplates": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier that uniquely identifies the Content item template.",
                    "title": "Content item template identifier"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the content item template.",
                    "title": "Name"
                  },
                  "apiName": {
                    "type": "string",
                    "description": "The Api Name of the content item template.",
                    "title": "Api name"
                  }
                }
              }
            }
          }
        },
        "summary": "List content item templates",
        "description": "Lists the templates for a content item.",
        "operationId": "List-Content-Entity-Templates",
        "parameters": []
      }
    },
    "/api/contententitytemplategroups": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The id of the group.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the template group.",
                    "title": "Name"
                  },
                  "apiName": {
                    "type": "string",
                    "description": "apiName"
                  }
                }
              }
            }
          }
        },
        "summary": "List content item template groups",
        "description": "Lists the template groups for a content item.",
        "operationId": "List-Content-Entity-Template-Groups",
        "parameters": []
      }
    },
    "/api/query/{providerReferenceId}/{externalType}/{externalId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "info": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The id of the view.",
                      "title": "Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the view.",
                      "title": "Name"
                    }
                  },
                  "description": "Information about the selected view.",
                  "title": "View",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "context": {
                      "type": "object",
                      "properties": {
                        "businessEntityTypeId": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The business entity type id of the root business entity.",
                          "title": "Type Id"
                        },
                        "businessEntityTypeLabel": {
                          "type": "string",
                          "description": "The business entity type label of the root business entity.",
                          "title": "Type Label"
                        },
                        "title": {
                          "type": "string",
                          "description": "The title of the root business entity.",
                          "title": "Title"
                        },
                        "subtitle": {
                          "type": "string",
                          "description": "The subtitle of the root business entity.",
                          "title": "Subtitle"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The id of the property.",
                                "title": "Property Id"
                              },
                              "value": {
                                "type": "string",
                                "description": "The value of the property.",
                                "title": "Property Value"
                              }
                            }
                          },
                          "description": "The properties of the root business entity.",
                          "title": "Properties"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "providerReferenceId": {
                                "type": "string",
                                "description": "The provider reference id.",
                                "title": "Provider Reference Id"
                              },
                              "providerType": {
                                "type": "string",
                                "description": "The business entity provider type.",
                                "title": "Provider Type"
                              },
                              "directLink": {
                                "type": "string",
                                "description": "The direct link to the entity in the business entity provider system.",
                                "title": "Direct Link"
                              }
                            }
                          },
                          "description": "The links to the business entity.",
                          "title": "Links",
                          "x-ms-visibility": "advanced"
                        },
                        "contentIds": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "format": "int32",
                            "title": "Content Item Id",
                            "description": "The id of a content item linked to the root business entity."
                          },
                          "description": "A list of content items linked to the root business entity.",
                          "title": "Content Item Id's"
                        }
                      },
                      "description": "The root business entity.",
                      "title": "Root Business Entity"
                    },
                    "businessEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The id of the business entity.",
                            "title": "Id"
                          },
                          "commonId": {
                            "type": "array",
                            "items": {},
                            "description": "The shared identifier.",
                            "title": "Shared Identifier"
                          },
                          "type": {
                            "type": "string",
                            "description": "The business entity type.",
                            "title": "Type"
                          },
                          "typeId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The business entity type id.",
                            "title": "Type Id"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of the business entity.",
                            "title": "Title"
                          },
                          "subtitle": {
                            "type": "string",
                            "description": "The subtitle of the business entity.",
                            "title": "Subtitle"
                          },
                          "references": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "businessEntityId": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The internal id of the business entity.",
                                  "title": "Internal Id"
                                },
                                "externalId": {
                                  "type": "string",
                                  "description": "The external id of the business entity.",
                                  "title": "External Id"
                                },
                                "externalType": {
                                  "type": "string",
                                  "description": "The external type of the business entity.",
                                  "title": "External Type"
                                },
                                "providerReferenceId": {
                                  "type": "string",
                                  "description": "The provider reference id of the business entity.",
                                  "title": "Provider Reference Id"
                                }
                              }
                            },
                            "description": "The external references of the business entity.",
                            "title": "External References"
                          },
                          "retrievalPath": {
                            "type": "array",
                            "items": {},
                            "description": "The retrieval path of the business entity.",
                            "title": "Retrieval Path",
                            "x-ms-visibility": "advanced"
                          },
                          "contentIds": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "format": "int32",
                              "title": "Content Id"
                            },
                            "description": "The ids of the content entities linked to this business entity.",
                            "title": "Content Item Id's"
                          }
                        },
                        "title": "Business Entity",
                        "description": "A business entity linked to the root business entity."
                      },
                      "description": "A list of business entities linked to the root business entity."
                    },
                    "contentEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The content item id.",
                            "title": "Id"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of the content item.",
                            "title": "Title"
                          },
                          "fileName": {
                            "type": "string",
                            "description": "The filename of the content item.",
                            "title": "Filename"
                          },
                          "fileSize": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The file size of the content item.",
                            "title": "Filesize"
                          },
                          "fileType": {
                            "type": "string",
                            "description": "The file type of the content item.",
                            "title": "File type"
                          },
                          "fileTypeDisplayName": {
                            "type": "string",
                            "description": "The friendly name of the file type of the content item.",
                            "title": "File type display name"
                          },
                          "fileUrl": {
                            "type": "string",
                            "description": "The file url of the content item.",
                            "title": "File url"
                          },
                          "fileVersion": {
                            "type": "string",
                            "description": "The file version of the content item.",
                            "title": "File version"
                          },
                          "categoryId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The category id of the content item",
                            "title": "Category id"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category name of the content item.",
                            "title": "Category name"
                          },
                          "storageProviderId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The id of the storage provider on which the content item is stored.",
                            "title": "Storage provider id"
                          },
                          "storageProviderName": {
                            "type": "string",
                            "description": "The name of the storage provider on which the content item is stored.",
                            "title": "Storage provider name"
                          },
                          "storageProviderReferenceId": {
                            "type": "string",
                            "description": "The reference id of the storage provider on which the content item is stored.",
                            "title": "Storage provider reference id"
                          },
                          "userProperties": {
                            "$ref": "#/definitions/UserPropertiesResult"
                          },
                          "createdOn": {
                            "type": "string",
                            "description": "Content item created on",
                            "title": "Created On"
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "Content item created by",
                            "title": "Created By"
                          },
                          "permissions": {
                            "type": "object",
                            "properties": {
                              "read": {
                                "type": "boolean",
                                "description": "If the user has permission to read items.",
                                "title": "Read"
                              },
                              "create": {
                                "type": "boolean",
                                "description": "If the user has permission to upload an item.",
                                "title": "Create"
                              },
                              "update": {
                                "type": "boolean",
                                "description": "If the user has permission to update an item.",
                                "title": "Update"
                              },
                              "updateContent": {
                                "type": "boolean",
                                "description": "If the user has permission to update the content of an item.",
                                "title": "Update content"
                              },
                              "delete": {
                                "type": "boolean",
                                "description": "If the user has permission to delete an item.",
                                "title": "Delete"
                              },
                              "download": {
                                "type": "boolean",
                                "description": "If the user has permission to download an item.",
                                "title": "Download"
                              }
                            },
                            "description": "The content item permissions",
                            "title": "Permissions",
                            "x-ms-visibility": "advanced"
                          },
                          "numberOfPages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of pages",
                            "title": "Number of pages"
                          },
                          "changedOn": {
                            "type": "string",
                            "description": "Content item last modified on",
                            "title": "Last modified on"
                          },
                          "changedBy": {
                            "type": "string",
                            "description": "Content item last modified by",
                            "title": "Last modified by"
                          },
                          "downloadUrl": {
                            "type": "string",
                            "description": "Content item download url",
                            "title": "Download url"
                          },
                          "detailsUrl": {
                            "type": "string",
                            "description": "Content item details url",
                            "title": "Details url"
                          }
                        },
                        "title": "Content Item",
                        "description": "A content item linked to the root business entity."
                      },
                      "description": "A list of content items linked to the root business entity."
                    }
                  },
                  "description": "The data"
                },
                "projection": {
                  "type": "object",
                  "properties": {
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The filter id",
                            "title": "Id",
                            "x-ms-visibility": "advanced"
                          },
                          "name": {
                            "type": "string",
                            "description": "The filter name",
                            "title": "Name",
                            "x-ms-visibility": "advanced"
                          },
                          "label": {
                            "type": "string",
                            "description": "The filter label",
                            "title": "Label",
                            "x-ms-visibility": "advanced"
                          },
                          "fieldType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The filter field type",
                            "title": "Type",
                            "x-ms-visibility": "advanced"
                          },
                          "referenceTypeId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The filter reference type id",
                            "title": "Reference type id",
                            "x-ms-visibility": "advanced"
                          },
                          "propertyName": {
                            "type": "string",
                            "description": "The filter property name",
                            "title": "Property name",
                            "x-ms-visibility": "advanced"
                          }
                        },
                        "title": "Filter",
                        "description": "A filter item."
                      },
                      "description": "The filter fields"
                    }
                  },
                  "description": "The filters for filtering content.",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "summary": "Execute query",
        "description": "Executes a query on an AXtension Content Gate environment.",
        "operationId": "Execute-Query",
        "parameters": [
          {
            "name": "providerReferenceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Business entity connector",
            "x-ms-url-encoding": "single",
            "description": "The business entity connector.",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Connectors",
              "value-path": "referenceId",
              "value-title": "name"
            }
          },
          {
            "name": "externalType",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Business entity type",
            "x-ms-url-encoding": "single",
            "description": "The business entity type.",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Provider-Types",
              "value-path": "provider/externalType",
              "value-title": "name",
              "parameters": {
                "providerReferenceId": {
                  "parameter": "providerReferenceId"
                }
              }
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity identifier.",
            "x-ms-summary": "Business entity identifier",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The view id.",
            "x-ms-summary": "View",
            "format": "int64",
            "x-ms-dynamic-values": {
              "operationId": "List-Views-Business-Entity",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "providerReferenceId": {
                  "parameter": "providerReferenceId"
                },
                "externalType": {
                  "parameter": "externalType"
                },
                "externalId": {
                  "parameter": "externalId"
                }
              }
            }
          }
        ]
      }
    },
    "/api/StorageProviders": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier of the storage connector.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the storage connector.",
                    "title": "Name"
                  },
                  "providerType": {
                    "type": "string",
                    "description": "The type of the storage connector.",
                    "title": "Connector type"
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "The storage connector reference identifier.",
                    "title": "Reference id"
                  }
                }
              }
            }
          }
        },
        "summary": "List storage connectors",
        "operationId": "List-Storage-Connectors",
        "description": "Lists all configured storage connectors."
      }
    },
    "/api/subscriptions/contentcreated": {
      "x-ms-notification-content": {
        "description": "Event arguments",
        "schema": {
          "type": "object",
          "properties": {
            "SubscriptionId": {
              "type": "string",
              "description": "SubscriptionId",
              "title": "Subscription id",
              "x-ms-visibility": "advanced"
            },
            "SubscriptionExpirationDateTime": {
              "type": "string",
              "description": "SubscriptionExpirationDateTime",
              "title": "Subscription expiration date",
              "format": "date-time",
              "x-ms-visibility": "advanced"
            },
            "ChangeType": {
              "type": "string",
              "description": "ChangeType",
              "title": "Change type",
              "x-ms-visibility": "internal"
            },
            "TenantId": {
              "type": "string",
              "description": "TenantId",
              "title": "Environment"
            },
            "Resource": {
              "type": "string",
              "description": "Resource",
              "title": "Resource identifier"
            },
            "ResourceData": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Id",
                  "title": "Content item id"
                },
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "FileName": {
                  "type": "string",
                  "description": "FileName",
                  "title": "File name"
                },
                "FileExtension": {
                  "type": "string",
                  "description": "FileExtension",
                  "title": "File extension"
                },
                "FileVersion": {
                  "type": "string",
                  "description": "FileVersion",
                  "title": "File version",
                  "x-ms-visibility": "advanced"
                },
                "FileUrl": {
                  "type": "string",
                  "description": "FileUrl",
                  "title": "File url",
                  "x-ms-visibility": "advanced"
                },
                "Size": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Size",
                  "title": ""
                },
                "MimeType": {
                  "type": "string",
                  "description": "MimeType",
                  "title": "Mime type",
                  "x-ms-visibility": "internal"
                },
                "CategoryId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CategoryId",
                  "title": "Content category id"
                },
                "Category": {
                  "type": "string",
                  "description": "Category",
                  "title": "Content category"
                },
                "UserProperties": {
                  "$ref": "#/definitions/UserPropertiesResult"
                },
                "ContentEntityTemplateId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "ContentEntityTemplateId",
                  "title": "Content item template id"
                },
                "CreatedOn": {
                  "type": "string",
                  "description": "CreatedOn",
                  "title": "Creation date"
                },
                "CreatedBy": {
                  "type": "string",
                  "description": "CreatedBy",
                  "title": "Created by"
                },
                "ChangedOn": {
                  "type": "string",
                  "description": "ChangedOn",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "ChangedBy": {
                  "type": "string",
                  "description": "ChangedBy",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "DownloadUrl": {
                  "type": "string",
                  "description": "DownloadUrl",
                  "title": "Download url"
                },
                "DetailsUrl": {
                  "type": "string",
                  "description": "DetailsUrl",
                  "title": "Details url"
                }
              },
              "description": "ResourceData"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Webhook created successfully."
          },
          "401": {
            "description": "Webhook not created. Unauthorized!"
          }
        },
        "summary": "When content is added",
        "description": "Trigger that is fired when content is added to a business entity.",
        "operationId": "When-Content-Added",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "X-Subscription-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "",
                  "default": "Power Automate Trigger",
                  "x-ms-visibility": "internal"
                },
                "changeType": {
                  "type": "string",
                  "description": "changeType",
                  "title": "",
                  "default": "Created",
                  "x-ms-visibility": "internal"
                },
                "clientState": {
                  "type": "string",
                  "description": "clientState",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "contentCategories": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The content category to load.",
                    "title": "Content category",
                    "x-ms-visibility": "advanced",
                    "x-ms-dynamic-values": {
                      "operationId": "List-Content-Categories",
                      "value-path": "id",
                      "value-title": "name"
                    }
                  },
                  "description": "The categories that can this trigger will fire on.",
                  "title": "Content category",
                  "x-ms-visibility": "advanced"
                },
                "encryptionCertificate": {
                  "type": "string",
                  "description": "encryptionCertificate",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "encryptionCertificateId": {
                  "type": "string",
                  "description": "encryptionCertificateId",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "expirationDateTime": {
                  "type": "string",
                  "description": "expirationDateTime",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "includeResourceData": {
                  "type": "boolean",
                  "description": "includeResourceData",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "latestSupportedTlsVersion": {
                  "type": "string",
                  "description": "latestSupportedTlsVersion",
                  "title": "",
                  "default": "v1_2",
                  "x-ms-visibility": "internal"
                },
                "lifecycleNotificationUrl": {
                  "type": "string",
                  "description": "lifecycleNotificationUrl",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "notificationContentType": {
                  "type": "string",
                  "description": "notificationContentType",
                  "title": "",
                  "default": "application/json",
                  "x-ms-visibility": "internal"
                },
                "notificationQueryOptions": {
                  "type": "string",
                  "description": "notificationQueryOptions",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "notificationUrl": {
                  "type": "string",
                  "description": "notificationUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "resource": {
                  "type": "string",
                  "description": "resource",
                  "title": "",
                  "default": "Content",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "changeType",
                "latestSupportedTlsVersion",
                "name",
                "notificationContentType",
                "notificationUrl",
                "resource"
              ]
            }
          }
        ]
      }
    },
    "/api/subscriptions/contentupdated": {
      "x-ms-notification-content": {
        "description": "Event Arguments",
        "schema": {
          "type": "object",
          "properties": {
            "SubscriptionId": {
              "type": "string",
              "description": "SubscriptionId",
              "title": "Subscription id",
              "x-ms-visibility": "advanced"
            },
            "SubscriptionExpirationDateTime": {
              "type": "string",
              "description": "SubscriptionExpirationDateTime",
              "title": "Subscription expiration date",
              "format": "date-time",
              "x-ms-visibility": "advanced"
            },
            "ChangeType": {
              "type": "string",
              "description": "ChangeType",
              "title": "Change type",
              "x-ms-visibility": "internal"
            },
            "TenantId": {
              "type": "string",
              "description": "TenantId",
              "title": "Environment"
            },
            "Resource": {
              "type": "string",
              "description": "Resource",
              "title": "Resource identifier"
            },
            "ResourceData": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Id",
                  "title": "Content item id"
                },
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "FileName": {
                  "type": "string",
                  "description": "FileName",
                  "title": "File name"
                },
                "FileExtension": {
                  "type": "string",
                  "description": "FileExtension",
                  "title": "File extension"
                },
                "FileVersion": {
                  "type": "string",
                  "description": "FileVersion",
                  "title": "File version",
                  "x-ms-visibility": "advanced"
                },
                "FileUrl": {
                  "type": "string",
                  "description": "FileUrl",
                  "title": "File url",
                  "x-ms-visibility": "advanced"
                },
                "Size": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Size",
                  "title": ""
                },
                "MimeType": {
                  "type": "string",
                  "description": "MimeType",
                  "title": "Mime type",
                  "x-ms-visibility": "internal"
                },
                "CategoryId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CategoryId",
                  "title": "Content category id"
                },
                "Category": {
                  "type": "string",
                  "description": "Category",
                  "title": "Content category"
                },
                "UserProperties": {
                  "$ref": "#/definitions/UserPropertiesResult"
                },
                "ContentEntityTemplateId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "ContentEntityTemplateId",
                  "title": "Content item template id"
                },
                "CreatedOn": {
                  "type": "string",
                  "description": "CreatedOn",
                  "title": "Creation date"
                },
                "CreatedBy": {
                  "type": "string",
                  "description": "CreatedBy",
                  "title": "Created by"
                },
                "ChangedOn": {
                  "type": "string",
                  "description": "ChangedOn",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "ChangedBy": {
                  "type": "string",
                  "description": "ChangedBy",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "DownloadUrl": {
                  "type": "string",
                  "description": "DownloadUrl",
                  "title": "Download url"
                },
                "DetailsUrl": {
                  "type": "string",
                  "description": "DetailsUrl",
                  "title": "Details url"
                }
              },
              "description": "ResourceData"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Webhook created successfully."
          },
          "401": {
            "description": "Webhook not created. Unauthorized!"
          }
        },
        "summary": "When content is updated",
        "description": "Trigger that is fired when content is updated. This can be either an update of the contents of a file or an update of the content item properties.",
        "operationId": "When-Content-Updated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "X-Subscription-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "",
                  "default": "Power Automate Trigger",
                  "x-ms-visibility": "internal"
                },
                "changeType": {
                  "type": "string",
                  "description": "changeType",
                  "title": "",
                  "default": "Updated",
                  "x-ms-visibility": "internal"
                },
                "clientState": {
                  "type": "string",
                  "description": "clientState",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "contentCategories": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The content category to load.",
                    "title": "Content category",
                    "x-ms-visibility": "advanced",
                    "x-ms-dynamic-values": {
                      "operationId": "List-Content-Categories",
                      "value-path": "id",
                      "value-title": "name"
                    }
                  },
                  "description": "The categories that can this trigger will fire on.",
                  "title": "Content category",
                  "x-ms-visibility": "advanced"
                },
                "encryptionCertificate": {
                  "type": "string",
                  "description": "encryptionCertificate",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "encryptionCertificateId": {
                  "type": "string",
                  "description": "encryptionCertificateId",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "expirationDateTime": {
                  "type": "string",
                  "description": "expirationDateTime",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "includeResourceData": {
                  "type": "boolean",
                  "description": "includeResourceData",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "latestSupportedTlsVersion": {
                  "type": "string",
                  "description": "latestSupportedTlsVersion",
                  "title": "",
                  "default": "v1_2",
                  "x-ms-visibility": "internal"
                },
                "lifecycleNotificationUrl": {
                  "type": "string",
                  "description": "lifecycleNotificationUrl",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "notificationContentType": {
                  "type": "string",
                  "description": "notificationContentType",
                  "title": "",
                  "default": "application/json",
                  "x-ms-visibility": "internal"
                },
                "notificationQueryOptions": {
                  "type": "string",
                  "description": "notificationQueryOptions",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "notificationUrl": {
                  "type": "string",
                  "description": "notificationUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "resource": {
                  "type": "string",
                  "description": "resource",
                  "title": "",
                  "default": "Content",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "changeType",
                "latestSupportedTlsVersion",
                "name",
                "notificationContentType",
                "notificationUrl",
                "resource"
              ]
            }
          }
        ]
      }
    },
    "/api/subscriptions/contentdeleted": {
      "x-ms-notification-content": {
        "description": "Event Arguments",
        "schema": {
          "type": "object",
          "properties": {
            "SubscriptionId": {
              "type": "string",
              "description": "SubscriptionId",
              "title": "Subscription id",
              "x-ms-visibility": "advanced"
            },
            "SubscriptionExpirationDateTime": {
              "type": "string",
              "description": "SubscriptionExpirationDateTime",
              "title": "Subscription expiration date",
              "format": "date-time",
              "x-ms-visibility": "advanced"
            },
            "ChangeType": {
              "type": "string",
              "description": "ChangeType",
              "title": "Change type",
              "x-ms-visibility": "internal"
            },
            "TenantId": {
              "type": "string",
              "description": "TenantId",
              "title": "Environment"
            },
            "Resource": {
              "type": "string",
              "description": "Resource",
              "title": "Resource identifier"
            },
            "ResourceData": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Id",
                  "title": "Content item id"
                },
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "FileName": {
                  "type": "string",
                  "description": "FileName",
                  "title": "File name"
                },
                "FileExtension": {
                  "type": "string",
                  "description": "FileExtension",
                  "title": "File extension"
                },
                "FileVersion": {
                  "type": "string",
                  "description": "FileVersion",
                  "title": "File version",
                  "x-ms-visibility": "advanced"
                },
                "FileUrl": {
                  "type": "string",
                  "description": "FileUrl",
                  "title": "File url",
                  "x-ms-visibility": "advanced"
                },
                "Size": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Size",
                  "title": ""
                },
                "MimeType": {
                  "type": "string",
                  "description": "MimeType",
                  "title": "Mime type",
                  "x-ms-visibility": "internal"
                },
                "CategoryId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CategoryId",
                  "title": "Content category id"
                },
                "Category": {
                  "type": "string",
                  "description": "Category",
                  "title": "Content Category"
                },
                "UserProperties": {
                  "$ref": "#/definitions/UserPropertiesResult"
                },
                "ContentEntityTemplateId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "ContentEntityTemplateId",
                  "title": "Content item template id"
                },
                "CreatedOn": {
                  "type": "string",
                  "description": "CreatedOn",
                  "title": "Creation date"
                },
                "CreatedBy": {
                  "type": "string",
                  "description": "CreatedBy",
                  "title": "Created by"
                },
                "ChangedOn": {
                  "type": "string",
                  "description": "ChangedOn",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "ChangedBy": {
                  "type": "string",
                  "description": "ChangedBy",
                  "title": "",
                  "x-ms-visibility": "internal"
                }
              },
              "description": "ResourceData"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Webhook created successfully."
          },
          "401": {
            "description": "Webhook not created. Unauthorized!"
          }
        },
        "summary": "When content is deleted",
        "description": "Trigger that is fired when content is deleted.",
        "operationId": "When-Content-Deleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "X-Subscription-Client",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "PowerAutomate",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "",
                  "default": "Power Automate",
                  "x-ms-visibility": "internal"
                },
                "changeType": {
                  "type": "string",
                  "description": "changeType",
                  "title": "",
                  "default": "Deleted",
                  "x-ms-visibility": "internal"
                },
                "clientState": {
                  "type": "string",
                  "description": "clientState",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "contentCategories": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The content category to load.",
                    "title": "Content category",
                    "x-ms-visibility": "advanced",
                    "x-ms-dynamic-values": {
                      "operationId": "List-Content-Categories",
                      "value-path": "id",
                      "value-title": "name"
                    }
                  },
                  "description": "The categories that can this trigger will fire on.",
                  "title": "Content category",
                  "x-ms-visibility": "advanced"
                },
                "encryptionCertificate": {
                  "type": "string",
                  "description": "encryptionCertificate",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "encryptionCertificateId": {
                  "type": "string",
                  "description": "encryptionCertificateId",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "expirationDateTime": {
                  "type": "string",
                  "description": "expirationDateTime",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "includeResourceData": {
                  "type": "boolean",
                  "description": "includeResourceData",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "latestSupportedTlsVersion": {
                  "type": "string",
                  "description": "latestSupportedTlsVersion",
                  "title": "",
                  "default": "v1_2",
                  "x-ms-visibility": "internal"
                },
                "lifecycleNotificationUrl": {
                  "type": "string",
                  "description": "lifecycleNotificationUrl",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "notificationContentType": {
                  "type": "string",
                  "description": "notificationContentType",
                  "title": "",
                  "default": "application/json",
                  "x-ms-visibility": "internal"
                },
                "notificationQueryOptions": {
                  "type": "string",
                  "description": "notificationQueryOptions",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "notificationUrl": {
                  "type": "string",
                  "description": "notificationUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "resource": {
                  "type": "string",
                  "description": "resource",
                  "title": "",
                  "default": "Content",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "changeType",
                "latestSupportedTlsVersion",
                "name",
                "notificationContentType",
                "notificationUrl",
                "resource"
              ]
            }
          }
        ]
      }
    },
    "/api/subscriptions/{subscriptionId}": {
      "delete": {
        "responses": {
          "200": {
            "description": "Webhook created successfully."
          },
          "401": {
            "description": "Webhook not created. Unauthorized!"
          }
        },
        "description": "Deletes a Content Gate webhook.",
        "operationId": "Delete-Webhook-Trigger",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "The subscription identifier.",
            "x-ms-summary": "Subscription id"
          }
        ],
        "summary": "Deletes a Content Gate webhook",
        "x-ms-visibility": "internal"
      }
    },
    "/api/ContentEntityProperties": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier for the given content item property.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The property name.",
                    "title": "Name"
                  },
                  "label": {
                    "type": "string",
                    "description": "The label that is used for this property.",
                    "title": "Label"
                  },
                  "apiName": {
                    "type": "string",
                    "description": "The api name, the unique system name. Used to identify a property.",
                    "title": "API name"
                  },
                  "propertyType": {
                    "type": "string",
                    "description": "The type of the property.",
                    "title": "Property type"
                  },
                  "allowEditOnCreate": {
                    "type": "boolean",
                    "description": "Value that indicates whether the property can be edited during creation.",
                    "title": "Allow edit on create"
                  },
                  "isUserDefined": {
                    "type": "boolean",
                    "description": "Represents a value whether the property is a user property.",
                    "title": "Is user defined"
                  },
                  "isSystemDefined": {
                    "type": "boolean",
                    "description": "Represents a value whether the property is a system property.",
                    "title": "Is system defined"
                  },
                  "isRequired": {
                    "type": "boolean",
                    "description": "Value that indicates whether the property is required to have a value.",
                    "title": "Is required"
                  },
                  "isMultiValue": {
                    "type": "boolean",
                    "description": "Gets a value indicating whether the selection property is multi select.",
                    "title": "Is multi value"
                  },
                  "isMultiLine": {
                    "type": "boolean",
                    "description": "Value that indicates whether a property is a multi line property.",
                    "title": "Is multi line"
                  },
                  "lookupValues": {
                    "type": "array",
                    "items": {},
                    "description": "lookupValues"
                  },
                  "defaultValue": {
                    "type": "string",
                    "description": "The default value that was configured.",
                    "title": "Default value"
                  }
                }
              }
            }
          }
        },
        "summary": "List user properties",
        "operationId": "List-User-Properties",
        "x-ms-visibility": "internal",
        "parameters": [],
        "description": "Lists all the user properties."
      }
    },
    "/api/ContentEntities/{id}/Connections": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "businessEntityId": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The business entity identifier.",
                    "title": "Business entity id"
                  },
                  "externalId": {
                    "type": "string",
                    "description": "The external business entity identifier.",
                    "title": "External id"
                  },
                  "externalType": {
                    "type": "string",
                    "description": "The external type name of the business entity.",
                    "title": "External type"
                  },
                  "providerReferenceId": {
                    "type": "string",
                    "description": "The provider reference identifier.",
                    "title": "Provider reference id"
                  }
                }
              }
            }
          }
        },
        "summary": "Get linked business entities",
        "operationId": "Get-Linked-Business-Entities",
        "description": "Gets all the linked business entities attached to a content item.",
        "parameters": [
          {
            "name": "id",
[...]
