{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "AXtension Content Gate",
    "description": "Create a single point of truth for the content in your organization across Microsoft Dynamics 365 apps, by having all relevant content displayed in one overview, in one click.",
    "contact": {
      "name": "AXtension Support",
      "url": "https://axtension.topdesk.net/tas/public/login/form",
      "email": "support@axtension.com"
    }
  },
  "host": "api.content-gate.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/ContentEntityProperties/schema": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "businessEntityId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The id of the business entity that the requirement was attached to.",
                  "title": "Business Entity Id"
                },
                "templateGroupId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The identifier of the template group that was used for generating requirements.",
                  "title": "Template Group Id"
                },
                "templateGroupName": {
                  "type": "string",
                  "description": "The name of the template group.",
                  "title": "Template Group Name"
                },
                "requirements": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The id of the requirement that was put into place.",
                        "title": "Id"
                      },
                      "templateId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "The id of the template that was added as a requirement.",
                        "title": "Template Id"
                      },
                      "templateName": {
                        "type": "string",
                        "description": "The name of the template.",
                        "title": "Template Name"
                      }
                    }
                  },
                  "description": "requirements"
                }
              }
            }
          }
        },
        "summary": "Get Content Entity properties schema",
        "operationId": "Get-Content-Property-Schema",
        "description": "Gets the schema for the content entity properties.",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "forResults",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Value indicating whether or not the schema is for a result set.",
            "x-ms-summary": "For Results"
          }
        ]
      }
    },
    "/api/query/{providerReferenceId}/{externalType}/{externalId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "info": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The id of the view.",
                      "title": "Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the view.",
                      "title": "Name"
                    }
                  },
                  "description": "Information about the selected view.",
                  "title": "View",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "context": {
                      "type": "object",
                      "properties": {
                        "businessEntityTypeId": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The business entity type id of the root business entity.",
                          "title": "Type Id"
                        },
                        "businessEntityTypeLabel": {
                          "type": "string",
                          "description": "The business entity type label of the root business entity.",
                          "title": "Type Label"
                        },
                        "title": {
                          "type": "string",
                          "description": "The title of the root business entity.",
                          "title": "Title"
                        },
                        "subtitle": {
                          "type": "string",
                          "description": "The subtitle of the root business entity.",
                          "title": "Subtitle"
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "The id of the property.",
                                "title": "Property Id"
                              },
                              "value": {
                                "type": "string",
                                "description": "The value of the property.",
                                "title": "Property Value"
                              }
                            }
                          },
                          "description": "The properties of the root business entity.",
                          "title": "Properties"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "providerReferenceId": {
                                "type": "string",
                                "description": "The provider reference id.",
                                "title": "Provider Reference Id"
                              },
                              "providerType": {
                                "type": "string",
                                "description": "The business entity provider type.",
                                "title": "Provider Type"
                              },
                              "directLink": {
                                "type": "string",
                                "description": "The direct link to the entity in the business entity provider system.",
                                "title": "Direct Link"
                              }
                            }
                          },
                          "description": "The links to the business entity.",
                          "title": "Links",
                          "x-ms-visibility": "advanced"
                        },
                        "contentIds": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "format": "int32",
                            "title": "Content Item Id",
                            "description": "The id of a content item linked to the root business entity."
                          },
                          "description": "A list of content items linked to the root business entity.",
                          "title": "Content Item Id's"
                        }
                      },
                      "description": "The root business entity.",
                      "title": "Root Business Entity"
                    },
                    "businessEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The id of the business entity.",
                            "title": "Id"
                          },
                          "commonId": {
                            "type": "array",
                            "items": {},
                            "description": "The shared identifier.",
                            "title": "Shared Identifier"
                          },
                          "type": {
                            "type": "string",
                            "description": "The business entity type.",
                            "title": "Type"
                          },
                          "typeId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The business entity type id.",
                            "title": "Type Id"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of the business entity.",
                            "title": "Title"
                          },
                          "subtitle": {
                            "type": "string",
                            "description": "The subtitle of the business entity.",
                            "title": "Subtitle"
                          },
                          "references": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "businessEntityId": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The internal id of the business entity.",
                                  "title": "Internal Id"
                                },
                                "externalId": {
                                  "type": "string",
                                  "description": "The external id of the business entity.",
                                  "title": "External Id"
                                },
                                "externalType": {
                                  "type": "string",
                                  "description": "The external type of the business entity.",
                                  "title": "External Type"
                                },
                                "providerReferenceId": {
                                  "type": "string",
                                  "description": "The provider reference id of the business entity.",
                                  "title": "Provider Reference Id"
                                }
                              }
                            },
                            "description": "The external references of the business entity.",
                            "title": "External References"
                          },
                          "retrievalPath": {
                            "type": "array",
                            "items": {},
                            "description": "The retrieval path of the business entity.",
                            "title": "Retrieval Path",
                            "x-ms-visibility": "advanced"
                          },
                          "contentIds": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "format": "int32",
                              "title": "Content Id"
                            },
                            "description": "The ids of the content entities linked to this business entity.",
                            "title": "Content Item Id's"
                          }
                        },
                        "title": "Business Entity",
                        "description": "A business entity linked to the root business entity."
                      },
                      "description": "A list of business entities linked to the root business entity."
                    },
                    "contentEntities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The content item id.",
                            "title": "Id"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of the content item.",
                            "title": "Title"
                          },
                          "fileName": {
                            "type": "string",
                            "description": "The filename of the content item.",
                            "title": "Filename"
                          },
                          "fileSize": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The file size of the content item.",
                            "title": "Filesize"
                          },
                          "fileType": {
                            "type": "string",
                            "description": "The file type of the content item.",
                            "title": "File Type"
                          },
                          "fileTypeDisplayName": {
                            "type": "string",
                            "description": "The friendly name of the file type of the content item.",
                            "title": "File Type Display Name"
                          },
                          "fileUrl": {
                            "type": "string",
                            "description": "The file url of the content item.",
                            "title": "File Url"
                          },
                          "fileVersion": {
                            "type": "string",
                            "description": "The file version of the content item.",
                            "title": "File Version"
                          },
                          "categoryId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The category id of the content item",
                            "title": "Category Id"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category name of the content item.",
                            "title": "Category Name"
                          },
                          "storageProviderId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The id of the storage provider on which the content item is stored.",
                            "title": "Storage Provider Id"
                          },
                          "storageProviderName": {
                            "type": "string",
                            "description": "The name of the storage provider on which the content item is stored.",
                            "title": "Storage Provider Name"
                          },
                          "storageProviderReferenceId": {
                            "type": "string",
                            "description": "The reference id of the storage provider on which the content item is stored.",
                            "title": "Storage Provider Reference Id"
                          },
                          "userProperties": {
                            "$ref": "#/definitions/UserPropertiesResult"
                          },
                          "createdOn": {
                            "type": "string",
                            "description": "Content item created on",
                            "title": "Created On"
                          },
                          "createdBy": {
                            "type": "string",
                            "description": "Content item created by",
                            "title": "Created By"
                          },
                          "permissions": {
                            "type": "object",
                            "properties": {
                              "read": {
                                "type": "boolean",
                                "description": "If the user has permission to read items.",
                                "title": "Read"
                              },
                              "create": {
                                "type": "boolean",
                                "description": "If the user has permission to upload an item.",
                                "title": "Create"
                              },
                              "update": {
                                "type": "boolean",
                                "description": "If the user has permission to update an item.",
                                "title": "Update"
                              },
                              "updateContent": {
                                "type": "boolean",
                                "description": "If the user has permission to update the content of an item.",
                                "title": "Update Content"
                              },
                              "delete": {
                                "type": "boolean",
                                "description": "If the user has permission to delete an item.",
                                "title": "Delete"
                              },
                              "download": {
                                "type": "boolean",
                                "description": "If the user has permission to download an item.",
                                "title": "Download"
                              }
                            },
                            "description": "The content item permissions",
                            "title": "Permissions",
                            "x-ms-visibility": "advanced"
                          },
                          "numberOfPages": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of pages",
                            "title": "Number Of Pages"
                          },
                          "changedOn": {
                            "type": "string",
                            "description": "Content item last modified on",
                            "title": "Last Modified On"
                          },
                          "changedBy": {
                            "type": "string",
                            "description": "Content item last modified by",
                            "title": "Last Modified By"
                          }
                        },
                        "title": "Content Item",
                        "description": "A content item linked to the root business entity."
                      },
                      "description": "A list of content items linked to the root business entity."
                    }
                  },
                  "description": "The data"
                },
                "projection": {
                  "type": "object",
                  "properties": {
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The filter id",
                            "title": "Id",
                            "x-ms-visibility": "advanced"
                          },
                          "name": {
                            "type": "string",
                            "description": "The filter name",
                            "title": "Name",
                            "x-ms-visibility": "advanced"
                          },
                          "label": {
                            "type": "string",
                            "description": "The filter label",
                            "title": "Label",
                            "x-ms-visibility": "advanced"
                          },
                          "fieldType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The filter field type",
                            "title": "Type",
                            "x-ms-visibility": "advanced"
                          },
                          "referenceTypeId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The filter reference type id",
                            "title": "Reference Type Id",
                            "x-ms-visibility": "advanced"
                          },
                          "propertyName": {
                            "type": "string",
                            "description": "The filter property name",
                            "title": "Property Name",
                            "x-ms-visibility": "advanced"
                          }
                        },
                        "title": "Filter",
                        "description": "A filter item."
                      },
                      "description": "The filter fields"
                    }
                  },
                  "description": "The filters for filtering content.",
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        },
        "summary": "Execute Query",
        "description": "Executes a query on an AXtension Content Gate environment.",
        "operationId": "Execute-Query",
        "parameters": [
          {
            "name": "providerReferenceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Business Entity Connector",
            "description": "The business entity connector.",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Connectors",
              "value-path": "referenceId",
              "value-title": "name"
            }
          },
          {
            "name": "externalType",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Business Entity Type",
            "description": "The business entity type.",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Provider-Types",
              "value-path": "provider/externalType",
              "value-title": "name",
              "parameters": {
                "providerReferenceId": {
                  "parameter": "providerReferenceId"
                }
              }
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity identifier.",
            "x-ms-summary": "Business Entity Identifier"
          },
          {
            "name": "view",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The view id.",
            "x-ms-summary": "View",
            "format": "int64",
            "x-ms-dynamic-values": {
              "operationId": "List-Views-Business-Entity",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "providerReferenceId": {
                  "parameter": "providerReferenceId"
                },
                "externalType": {
                  "parameter": "externalType"
                },
                "externalId": {
                  "parameter": "externalId"
                }
              }
            }
          }
        ]
      }
    },
    "/api/content/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "description": "Output file content",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            },
            "headers": {
              "Filename": {
                "description": "The filename.",
                "type": "string"
              },
              "FileExtension": {
                "description": "The extension of the file (e.g. .pdf).",
                "type": "string"
              },
              "FilenameWithoutExtension": {
                "description": "The filename without the extension.",
                "type": "string"
              },
              "MimeType": {
                "description": "The mime type of the file.",
                "type": "string"
              },
              "PageCount": {
                "description": "The number of pages. If unknown -1 will be returned.",
                "type": "string"
              }
            }
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        },
        "summary": "Get Content",
        "description": "Downloads a content item.",
        "operationId": "Get-Content",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The identifier of the content item.",
            "x-ms-summary": "Content Item Identifier",
            "x-ms-visibility": "important",
            "format": ""
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The mode in which the content should be loaded. Leave empty to get the original file.",
            "x-ms-summary": "Mode",
            "x-ms-visibility": "advanced",
            "enum": [
              "pdf"
            ]
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The context in which the content should be downloaded. Preview-first-page only works if previewer caching is enabled.",
            "x-ms-summary": "Context",
            "x-ms-visibility": "advanced",
            "default": "download",
            "enum": [
              "download",
              "preview-full",
              "preview-first-page"
            ]
          }
        ]
      }
    },
    "/api/BusinessEntityProviders": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier of the Business Entity Connector.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the Business Entity Connector.",
                    "title": "Name"
                  },
                  "providerType": {
                    "type": "string",
                    "description": "The type of the Business Entity Connector.",
                    "title": "Connector Type"
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "The Business Entity Connector reference identifier.",
                    "title": "Reference Id"
                  }
                }
              }
            }
          }
        },
        "summary": "List Business Entity Connectors",
        "description": "Lists all configured Business Entity Connectors.",
        "operationId": "List-Business-Entity-Connectors"
      }
    },
    "/api/businessentitymodel": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The business entity type identifier.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the business entity type.",
                    "title": "Name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the business entity type.",
                    "title": "Description"
                  },
                  "title": {
                    "type": "object",
                    "properties": {
                      "format": {
                        "type": "string",
                        "description": "format",
                        "title": "",
                        "x-ms-visibility": "internal"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "fields"
                      }
                    },
                    "description": "title"
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "The reference id to use when referring to this business entity type.",
                    "title": "ReferenceId"
                  }
                }
              }
            }
          }
        },
        "summary": "List Business Entity Types",
        "description": "Lists all business entity types that are defined in the model.",
        "operationId": "List-Business-Entity-Types",
        "parameters": []
      }
    },
    "/api/BusinessEntityProviders/{providerReferenceId}/Entities": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier of the Business Entity Type.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The Business Entity Type name.",
                    "title": "Name"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the Business Entity Type.",
                    "title": "Description"
                  },
                  "provider": {
                    "type": "object",
                    "properties": {
                      "referenceId": {
                        "type": "string",
                        "description": "The reference identifier of the Business Entity Connector.",
                        "title": "Provider Reference Id"
                      },
                      "externalType": {
                        "type": "string",
                        "description": "The type that is used to identify the Business Entity Type in an external system.",
                        "title": "External Type"
                      },
                      "externalIdField": {
                        "type": "string",
                        "description": "Represents the field that is used in the external system to identify a Business Entity.",
                        "title": "External Identifier Field"
                      }
                    },
                    "description": "provider"
                  }
                }
              }
            }
          }
        },
        "summary": "List Business Entity Provider Types",
        "description": "Lists all Business Entity Types in the Model",
        "operationId": "List-Business-Entity-Provider-Types",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "providerReferenceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/api/ContentCategories": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The Content Category identifier.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the Content Category.",
                    "title": "Name"
                  }
                }
              }
            }
          }
        },
        "summary": "List Content Categories",
        "operationId": "List-Content-Categories",
        "description": "Lists all configured content categories."
      }
    },
    "/api/StorageProviders": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier of the Storage Connector.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the Storage Connector.",
                    "title": "Name"
                  },
                  "providerType": {
                    "type": "string",
                    "description": "The type of the Storage Connector.",
                    "title": "Connector Type"
                  },
                  "referenceId": {
                    "type": "string",
                    "description": "The Storage Connector reference identifier.",
                    "title": "Reference Id"
                  }
                }
              }
            }
          }
        },
        "summary": "List Storage Connectors",
        "operationId": "List-Storage-Connectors",
        "description": "Lists all configured storage connectors."
      }
    },
    "/api/BusinessEntityModel/{businessEntityType}/views": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier of the view.",
                    "title": "Id"
                  },
                  "apiName": {
                    "type": "string",
                    "description": "The api name of the view.",
                    "title": "ApiName"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the view.",
                    "title": "Name"
                  }
                }
              }
            }
          }
        },
        "summary": "List Views",
        "description": "Lists all views that are usable from Power Platform",
        "operationId": "List-Views",
        "parameters": [
          {
            "name": "businessEntityType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity type id or reference id.",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Types",
              "value-path": "referenceId",
              "value-title": "name"
            },
            "x-ms-summary": "Business Entity Type"
          }
        ]
      }
    },
    "/api/businessentities/{providerReferenceId}/{externalType}/{externalId}/views": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier of the view.",
                    "title": "Id"
                  },
                  "apiName": {
                    "type": "string",
                    "description": "The api name of the view.",
                    "title": "ApiName"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the view.",
                    "title": "Name"
                  }
                }
              }
            }
          }
        },
        "summary": "List Views Business Entity",
        "description": "Lists all views that are usable from Power Platform for a specific business entity",
        "operationId": "List-Views-Business-Entity",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "providerReferenceId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/api/Content": {
      "post": {
        "responses": {
          "201": {
            "description": "OK - Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ExceptionResponse"
            }
          }
        },
        "summary": "Store Content",
        "operationId": "Store-Content",
        "description": "Adds new content to an AXtension Content Gate environment.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "assets": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "The title of the content item that is being stored.",
                      "title": "Title",
                      "x-ms-visibility": "important"
                    },
                    "assetType": {
                      "type": "string",
                      "description": "The type of the asset that is provided.",
                      "title": "Content Type",
                      "default": "BinaryContent",
                      "enum": [
                        "BinaryContent",
                        "UriLink",
                        "BinaryLink"
                      ],
                      "x-ms-visibility": "important",
                      "x-ms-editor-options": {
                        "items": [
                          {
                            "title": "File Contents",
                            "value": "BinaryContent"
                          },
                          {
                            "title": "Web Link (URL)",
                            "value": "UriLink"
                          },
                          {
                            "title": "Existing File (URL)",
                            "value": "BinaryLink"
                          }
                        ]
                      }
                    },
                    "content": {
                      "type": "string",
                      "description": "The URL or binary contents that are being stored.",
                      "title": "Content",
                      "format": "byte",
                      "x-ms-visibility": "important"
                    },
                    "fileName": {
                      "type": "string",
                      "description": "The name of the file that is being stored.",
                      "title": "File Name",
                      "x-ms-visibility": "important"
                    },
                    "contentType": {
                      "type": "string",
                      "description": "The mime-type of the content to store.",
                      "title": "Content MIME-Type",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "assets",
                  "required": [
                    "assetType",
                    "content",
                    "title",
                    "fileName"
                  ]
                },
                "category": {
                  "type": "string",
                  "description": "The Content Category that the content will be stored in.",
                  "title": "Content Category",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Content-Categories",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "storageProviderReferenceId": {
                  "type": "string",
                  "description": "Leave blank for automatic storage selection using storage rules.",
                  "title": "Storage Connector",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Storage-Connectors",
                    "value-path": "referenceId",
                    "value-title": "name"
                  }
                },
                "requirementId": {
                  "type": "integer",
                  "description": "The identifier that uniquely identifies the Content Item Requirement.",
                  "title": "Content Item Requirement Identifier",
                  "format": "int64",
                  "x-ms-visibility": "advanced"
                },
                "templateId": {
                  "type": "integer",
                  "description": "The identifier that uniquely identifies the Content Item template.",
                  "title": "Content Item Template Identifier",
                  "format": "int64",
                  "x-ms-visibility": "advanced",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Content-Entity-Templates",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "connections": {
                  "type": "object",
                  "properties": {
                    "providerReferenceId": {
                      "type": "string",
                      "description": "The identifier that uniquely identifies the business entity connector.",
                      "title": "Business Entity Connector",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "List-Business-Entity-Connectors",
                        "value-path": "referenceId",
                        "value-title": "name"
                      }
                    },
                    "externalType": {
                      "type": "string",
                      "description": "The type of the business entity to be stored.",
                      "title": "Business Entity Type",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "List-Business-Entity-Provider-Types",
                        "value-path": "provider/externalType",
                        "value-title": "name",
                        "parameters": {
                          "providerReferenceId": {
                            "parameter": "connections.providerReferenceId"
                          }
                        }
                      },
                      "x-ms-dynamic-list": {
                        "operationId": "List-Business-Entity-Provider-Types",
                        "itemValuePath": "provider/externalType",
                        "itemTitlePath": "name",
                        "parameters": {
                          "providerReferenceId": {
                            "parameterReference": "body/connections/providerReferenceId"
                          }
                        }
                      }
                    },
                    "externalId": {
                      "type": "string",
                      "description": "The identifier that uniquely identifies the business entity.",
                      "title": "Business Entity Identifier",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "connections",
                  "required": [
                    "externalId",
                    "externalType",
                    "providerReferenceId"
                  ]
                },
                "userProperties": {
                  "$ref": "#/definitions/UserProperties"
                }
              },
              "required": [
                "assets",
                "category",
                "connections"
              ]
            }
          }
        ]
      }
    },
    "/api/contententitytemplates": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The identifier that uniquely identifies the Content Item template.",
                    "title": "Content Item Template Identifier"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the Content Item template.",
                    "title": "Name"
                  },
                  "apiName": {
                    "type": "string",
                    "description": "The Api Name of the Content Item template.",
                    "title": "Api Name"
                  }
                }
              }
            }
          }
        },
        "summary": "List Content Entity Templates",
        "description": "Lists the templates for a content entity.",
        "operationId": "List-Content-Entity-Templates",
        "parameters": []
      }
    },
    "/api/contententitytemplategroups": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The id of the group.",
                    "title": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the template group.",
                    "title": "Name"
                  },
                  "apiName": {
                    "type": "string",
                    "description": "apiName"
                  }
                }
              }
            }
          }
        },
        "summary": "List Content Entity Template Groups",
        "description": "Lists the template groups for a content entity.",
        "operationId": "List-Content-Entity-Template-Groups",
        "parameters": []
      }
    },
    "/api/businessentities/{providerReferenceId}/{externalType}/{externalId}/Requirements": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "contentEntityTemplateId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "contentEntityTemplateId"
                  },
                  "businessEntityId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "businessEntityId"
                  },
                  "status": {
                    "type": "integer",
                    "format": "int32",
                    "description": "status"
                  },
                  "createdOn": {
                    "type": "string",
                    "description": "createdOn"
                  },
                  "createdBy": {
                    "type": "string",
                    "description": "createdBy"
                  }
                }
              }
            }
          }
        },
        "summary": "List Content Entity Requirements",
        "description": "Lists the Content Entity Requirements",
        "operationId": "List-Content-Entity-Requirements",
        "parameters": [
          {
            "name": "providerReferenceId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity connector.",
            "x-ms-summary": "Business Entity Connector",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Connectors",
              "value-path": "referenceId",
              "value-title": "name"
            }
          },
          {
            "name": "externalType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity type.",
            "x-ms-summary": "Business Entity Type",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Provider-Types",
              "value-path": "provider/externalType",
              "value-title": "name",
              "parameters": {
                "providerReferenceId": {
                  "parameter": "providerReferenceId"
                }
              }
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity identifier.",
            "x-ms-summary": "Business Entity Identifier"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Content Entity Requirements",
        "description": "Creates content entity requirements based on a template group.",
        "operationId": "Create-Content-Entity-Requirements",
        "parameters": [
          {
            "name": "providerReferenceId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity connector.",
            "x-ms-summary": "Business Entity Connector",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Connectors",
              "value-path": "referenceId",
              "value-title": "name"
            }
          },
          {
            "name": "externalType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The business entity type.",
            "x-ms-summary": "Business Entity Type",
            "x-ms-dynamic-values": {
              "operationId": "List-Business-Entity-Provider-Types",
              "value-path": "provider/externalType",
              "value-title": "name",
              "parameters": {
                "providerReferenceId": {
                  "parameter": "providerReferenceId"
                }
              }
            }
          },
          {
            "name": "externalId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The external identifier of the business entity.",
            "x-ms-summary": "Business Entity Identifier"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "ContentEntityTemplateId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The content entity template.",
                  "title": "Content Entity Template",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Content-Entity-Templates",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "ContentEntityTemplateGroupId": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The content entity template group to base the requirements on.",
                  "title": "Content Entity Template Group",
                  "x-ms-dynamic-values": {
                    "operationId": "List-Content-Entity-Template-Groups",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/api/content/{contentEntityId}/sharedContent": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "uri": {
                  "type": "string",
                  "description": "uri"
                }
              }
            }
          }
        },
        "summary": "Get Shared Content Link",
        "description": "Gets the shared content link",
        "operationId": "Get-Shared-Content-Link",
        "parameters": [
          {
            "name": "contentEntityId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The content item identifier.",
            "x-ms-summary": "Content Item Identifier"
          }
        ]
      }
    }
  },
  "responses": {
    "NotFound": {
      "description": "The specified resource was not found,",
      "schema": {
        "$ref": "#/definitions/ExceptionResponse"
      }
    }
  },
  "definitions": {
    "ExceptionResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "status": {
              "type": "number"
            },
            "errorId": {
              "type": "string"
            },
            "correlationId": {
              "type": "string"
            },
            "timeStamp": {
              "type": "string"
            },
            "reason": {
              "type": "string"
            },
            "message": {
              "type": "string"
            },
            "description": {
              "type": "string"
            },
            "userTitle": {
              "type": "string"
            },
            "userMessage": {
              "type": "string"
            },
            "contextInfo": {
              "type": "object"
            }
          }
        }
      }
    },
    "UserProperties": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "Get-Content-Property-Schema",
        "parameters": {},
        "value-path": "schema"
      },
      "x-ms-dynamic-properties": {
        "operationId": "Get-Content-Property-Schema",
        "parameters": {},
        "itemValuePath": "schema"
      },
      "title": "Content Entity Property"
    },
    "UserPropertiesResult": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "Get-Content-Property-Schema",
        "value-path": "schema"
      },
      "x-ms-dynamic-properties": {
        "operationId": "Get-Content-Property-Schema",
        "itemValuePath": "schema",
        "parameters": {
          "forResults": {
            "value": true
          }
        }
      },
      "title": "Content Entity Property"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://axtension.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.axtension.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ],
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ]
}