{
  "swagger": "2.0",
  "info": {
    "title": "ReversingLabs TitaniumCloud",
    "description": "ReversingLabs TitaniumCloud is a threat intelligence solution providing up-to-date file reputation services, threat classification and rich context on over 10 billion goodware and malware files. A powerful set of REST API query and feed functions deliver targeted file and malware intelligence for threat identification, analysis, intelligence development, and threat hunting services.",
    "version": "1.2",
    "contact": {
      "name": "ReversingLabs support",
      "url": "https://support.reversinglabs.com/",
      "email": "support@reversinglabs.com"
    }
  },
  "host": "data.reversinglabs.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/databrowser/malware_presence/query/{hash_type}/{hash_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded.",
            "headers": {}
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get file reputation (single query)",
        "description": "Get information about the malware status of the requested sample.",
        "operationId": "Get-file-reputation-single",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Possible values are 'md5', 'sha1' and 'sha256'.",
            "x-ms-summary": "Hash Type",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Must be a hash string corresponding to the defined hash type.",
            "x-ms-summary": "Hash Value",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "extended",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Show extended results.",
            "default": true,
            "x-ms-summary": "Extended"
          },
          {
            "name": "show_hashes",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Show all hashes for the sample.",
            "default": true,
            "x-ms-summary": "Show Hashes"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Set the response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          }
        ]
      }
    },
    "/api/databrowser/malware_presence/bulk_query/{post_format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get file reputation (bulk query)",
        "description": "Get information about the malware status of requested samples.",
        "operationId": "Get-file-reputation-bulk",
        "parameters": [
          {
            "name": "post_format",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "XML or JSON",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Post Format"
          },
          {
            "name": "extended",
            "in": "query",
            "description": "Show extended results.",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Extended"
          },
          {
            "name": "show_hashes",
            "in": "query",
            "required": false,
            "description": "Show all hashes for the sample.",
            "type": "boolean",
            "x-ms-summary": "Show Hashes"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "hash_type": {
                          "type": "string",
                          "description": "hash_type"
                        },
                        "hashes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "hashes"
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/xref/v2/query/{hash_type}/{hash_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get historical multi-AV scan records (single query)",
        "description": "Provides cross-reference data (AV scanner scanning information, first and last seen date-time (UTC), sample type and size, first and last scanned date, etc.) for a given sample.",
        "operationId": "Get-historical-av-records-single",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "md5, sha1 or sha256",
            "x-ms-summary": "Hash Type"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Hash string",
            "x-ms-summary": "Hash Value"
          },
          {
            "name": "history",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Return historical data.",
            "x-ms-summary": "History"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Format"
          }
        ]
      }
    },
    "/api/xref/v2/bulk_query/{post_format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get historical multi-AV scan records (bulk query)",
        "description": "Provides cross-reference data (AV scanner scanning information, first and last seen date-time (UTC), sample type and size, first and last scanned date, etc.) for given samples.",
        "operationId": "Get-historical-av-records-bulk",
        "parameters": [
          {
            "name": "post_format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Post Format"
          },
          {
            "name": "history",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Return historical data.",
            "x-ms-summary": "History"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "hash_type": {
                          "type": "string",
                          "description": "hash_type"
                        },
                        "hashes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "hashes"
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/databrowser/rldata/query/{hash_type}/{hash_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get file analysis (single query)",
        "description": "Get the analysis results for the requested hash.",
        "operationId": "Get-file-analysis-single",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "md5, sha1 or sha256",
            "x-ms-summary": "Hash Type"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Hash string",
            "x-ms-summary": "Hash Value"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          }
        ]
      }
    },
    "/api/databrowser/rldata/bulk_query/{post_format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get file analysis (bulk query)",
        "description": "Get the analysis results for the requested hashes.",
        "operationId": "Get-file-analysis-bulk",
        "parameters": [
          {
            "name": "post_format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Post Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "hash_type": {
                          "type": "string",
                          "description": "hash_type"
                        },
                        "hashes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "hashes"
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/databrowser/rldata/goodware/query/{hash_type}/{hash_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get file analysis - non-malicious (single query)",
        "description": "Get a response containing all public knowledge about the given non-malicious sample identified by hash.",
        "operationId": "Get-file-analysis-non-malicious-single",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "md5, sha1 or sha256",
            "x-ms-summary": "Hash Type"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Hash string",
            "x-ms-summary": "Hash Value"
          }
        ]
      }
    },
    "/api/databrowser/rldata/goodware/bulk_query/{post_format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get file analysis - non-malicious (bulk query)",
        "description": "Get a response containing all public knowledge about the given non-malicious samples identified by hash.",
        "operationId": "Get-file-analysis-non-malicious-bulk",
        "parameters": [
          {
            "name": "post_format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Post Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "hash_type": {
                          "type": "string",
                          "description": "hash_type"
                        },
                        "hashes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "hashes"
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/dynamic/analysis/report/v1/query/{hash_type}/{hash_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get dynamic analysis report (merged)",
        "operationId": "Get-dynamic-analysis-merged",
        "description": "This query returns the merged analysis report for the requested sample hash.",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "sha1 only",
            "x-ms-summary": "Hash Type"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Hash string",
            "x-ms-summary": "Hash Value"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          }
        ]
      }
    },
    "/api/dynamic/analysis/report/v1/query/{hash_type}/{hash_value}/latest": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get dynamic analysis report (latest)",
        "description": "This query returns the latest analysis report for the requested sample hash.",
        "operationId": "Get-dynamic-analysis-latest",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "sha1 only",
            "x-ms-summary": "Hash Type"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Hash string",
            "x-ms-summary": "Hash Value"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          }
        ]
      }
    },
    "/api/dynamic/analysis/report/v1/query/{hash_type}/{hash_value}/{analysis_id}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get dynamic analysis report (specific)",
        "description": "This query returns a specific analysis report for the requested sample hash defined by the analysis ID.",
        "operationId": "Get-dynamic-analysis-specific",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "sha1 only",
            "x-ms-summary": "Hash Type"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Hash string",
            "x-ms-summary": "Hash Value"
          },
          {
            "name": "analysis_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the dynamic analysis report.",
            "x-ms-summary": "Analysis Id"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          }
        ]
      }
    },
    "/api/dynamic/analysis/report/v1/archive/query/{hash_type}/{hash_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "operationId": "Get-dynamic-analysis-archive-merged",
        "summary": "Get dynamic analysis report for an archive (merged)",
        "description": "Returns the merged dynamic analysis report for each file within the archive.",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "sha1 only",
            "x-ms-summary": "Hash Type"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Hash string",
            "x-ms-summary": "Hash Value"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          }
        ]
      }
    },
    "/api/dynamic/analysis/report/v1/archive/query/{hash_type}/{hash_value}/latest": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get dynamic analysis report for an archive (latest)",
        "description": "Returns the most recent dynamic analysis report for each file within the archive.",
        "operationId": "Get-dynamic-analysis-archive-latest",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "sha1 only",
            "x-ms-summary": "Hash Type"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Hash string",
            "x-ms-summary": "Hash Value"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          }
        ]
      }
    },
    "/api/spex/download/v2/query/{hash_type}/{hash_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Download sample",
        "description": "Returns the contents of a sample matching the requested hash.",
        "operationId": "Download-sample",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "md5, sha1 or sha256",
            "x-ms-summary": "Hash Type"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Hash string",
            "x-ms-summary": "Hash Value"
          }
        ]
      }
    },
    "/api/spex/download/v2/status/bulk_query/{post_format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get sample download status",
        "description": "Returns the file size of samples matching the requested hash values, but only if they are available for download. If the requested samples are not available for download, their size in the response will be returned as -1.",
        "operationId": "Get-sample-download-status",
        "parameters": [
          {
            "name": "post_format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Post Format"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/octet-stream",
            "description": "Needs to be application/octet-stream",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "hash_type": {
                          "type": "string",
                          "description": "hash_type"
                        },
                        "hashes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "hashes"
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/spex/upload/{sha1_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Upload sample",
        "description": "Upload a given sample identified by hash via open stream of POST data.",
        "operationId": "Upload-sample",
        "parameters": [
          {
            "name": "sha1_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "SHA1 of the sample.",
            "x-ms-summary": "Sha1 Value"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/octet-stream",
            "description": "Needs to be application/octet-stream",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Binary file content. Consult the API documentation for examples.",
            "schema": {
              "type": "object",
              "properties": {}
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/spex/upload/{sha1_value}/meta": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "consumes": [
          "application/xml"
        ],
        "produces": [
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Upload sample metadata",
        "description": "Upload metadata for the sample identified by hash.",
        "operationId": "Upload-sample-metadata",
        "parameters": [
          {
            "name": "sha1_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "SHA1 of the sample.",
            "x-ms-summary": "Sha1 Value"
          },
          {
            "name": "subscribe",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Subscribe to this sample's reputation data changes. Possible values are only 'data_change'",
            "x-ms-summary": "Subscribe"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/octet-stream",
            "description": "Needs to be application/octet-stream",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "XML request body. Consult the API documentation for examples.",
            "schema": {
              "type": "string"
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/delete/sample/v1/query/{hash_type}/{hash_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Delete sample (single query)",
        "description": "Deletes a single sample defined by the hash value.",
        "operationId": "Delete-sample-single",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "md5, sha1 or sha256",
            "x-ms-summary": "Hash Type"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Hash string",
            "x-ms-summary": "Hash Value"
          },
          {
            "name": "delete_on",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "When the sample will be deleted. Expressed in UNIX timestamp format.",
            "x-ms-summary": "Delete On"
          }
        ]
      }
    },
    "/api/delete/sample/v1/bulk_query/{post_format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "delete": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Delete samples (bulk query)",
        "operationId": "Delete-samples-bulk",
        "description": "Deletes multiple samples at once defined by the list of hash values in the request payload.",
        "parameters": [
          {
            "name": "post_format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "json",
              "xml"
            ],
            "x-ms-summary": "Post Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "hash_type": {
                          "type": "string",
                          "description": "hash_type"
                        },
                        "delete_on": {
                          "type": "string",
                          "description": "When the sample will be deleted. Expressed in UNIX timestamp format."
                        },
                        "hashes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "hashes"
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/rescan/v1/query/{hash_type}/{hash_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Reanalyze sample (single query)",
        "description": "Sends a sample defined by a hash for rescanning.",
        "operationId": "Reanalyze-sample-single",
        "parameters": [
          {
            "name": "hash_type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "md5, sha1 or sha256",
            "x-ms-summary": "Hash Type"
          },
          {
            "name": "hash_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Hash string",
            "x-ms-summary": "Hash Value"
          }
        ]
      }
    },
    "/api/rescan/v1/bulk_query/{post_format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Reanalyze samples (bulk query)",
        "operationId": "Reanalyze-sample-bulk",
        "description": "Sends multiple samples defined by hashes for rescanning.",
        "parameters": [
          {
            "name": "post_format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Post Format"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "hash_type": {
                          "type": "string",
                          "description": "hash_type"
                        },
                        "hashes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "hashes"
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/subscription/data_change/v1/bulk_query/subscribe/{post_format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Subscribe to reputation changes",
        "description": "Subscribes to a list of samples for which the changed sections (if there are any) will be delivered in the Data Change Feed.",
        "operationId": "Subscribe-to-reputation-changes",
        "parameters": [
          {
            "name": "post_format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Post Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "hash_type": {
                          "type": "string",
                          "description": "hash_type"
                        },
                        "hashes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "hashes"
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/subscription/data_change/v1/bulk_query/unsubscribe/{post_format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Unsubscribe from reputation changes",
        "description": "Unsubscribes from a list of samples that the user was previously subscribed to.",
        "operationId": "Unsubscribe-from-reputation-changes",
        "parameters": [
          {
            "name": "post_format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Post Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "hash_type": {
                          "type": "string",
                          "description": "hash_type"
                        },
                        "hashes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "hashes"
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/feed/data_change/v3/start/{time_format}/{time_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "put": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Set start time for reputation changes",
        "description": "Sets the starting timestamp for the reputation data changes feed.",
        "operationId": "Set-start-time-for-reputation-changes",
        "parameters": [
          {
            "name": "time_format",
            "in": "path",
            "description": "Unix timestamp or YYYY-MM-DDThh:mm:ss",
            "required": true,
            "type": "string",
            "enum": [
              "timestamp",
              "utc"
            ],
            "x-ms-summary": "Time Format"
          },
          {
            "name": "time_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Time value string",
            "x-ms-summary": "Time Value"
          }
        ]
      }
    },
    "/api/feed/data_change/v3/pull": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get reputation data changes",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          },
          {
            "name": "events",
            "description": "Sections that should be included in the response. Consult the API documentation for possible options.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Events"
          },
          {
            "name": "limit",
            "description": "Number of records to return in the response.",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Limit"
          }
        ],
        "description": "Returns the next recordset with samples to which the user is subscribed with the starting point defined using the \"Set start time for reputation changes\" action.",
        "operationId": "Get-reputation-data-changes"
      }
    },
    "/api/feed/data_change/v3/query/{time_format}/{time_value}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get continuous reputation data changes",
        "operationId": "Get-continuous-reputation-data-changes",
        "description": "Returns a recordset with samples that the user is subscribed to from the requested timestamp onwards. The timestamp is defined in the request itself.",
        "parameters": [
          {
            "name": "time_format",
            "description": "Unix timestamp or YYYY-MM-DDThh:mm:ss",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "timestamp",
              "utc"
            ],
            "x-ms-summary": "Time Format"
          },
          {
            "name": "time_value",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Time value string",
            "x-ms-summary": "Time Value"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          },
          {
            "name": "events",
            "description": "Sections that should be included in the response. Consult the API documentation for possible options.",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Events"
          }
        ]
      }
    },
    "/api/dynamic/analysis/analyze/v1/query/{post_format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Submit sample for dynamic analysis",
        "description": "Submits a sample for dynamic analysis.",
        "operationId": "Submit-sample-for-dynamic-analysis",
        "parameters": [
          {
            "name": "post_format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Post Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "sha1": {
                      "type": "string",
                      "description": "sha1"
                    },
                    "platform": {
                      "type": "string",
                      "description": "Platform which will be used for dynamic analysis. Consult the API documentation for possible options."
                    },
                    "response_format": {
                      "type": "string",
                      "description": "response_format"
                    },
                    "optional_parameters": {
                      "type": "string",
                      "description": "Consult the API documentation for possible options."
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/dynamic/analysis/analyze/v1/archive/query/{post_format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Submit archive for dynamic analysis",
        "description": "Submits an archive for dynamic anaylsis.",
        "operationId": "Submit-archive-for-dynamic-analysis",
        "parameters": [
          {
            "name": "post_format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Post Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "sha1": {
                      "type": "string",
                      "description": "sha1"
                    },
                    "platform": {
                      "type": "string",
                      "description": "Platform which will be used for dynamic analysis. Consult the API documentation for possible options."
                    },
                    "response_format": {
                      "type": "string",
                      "description": "response_format"
                    },
                    "optional_parameters": {
                      "type": "string",
                      "description": "Consult the API documentation for possible options."
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/uri_index/v1/query/{uri_sha1}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "parameters": [
          {
            "name": "uri_sha1",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "SHA1 string representation of the URI",
            "x-ms-summary": "Uri Sha1"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          },
          {
            "name": "classification",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return only hashes with this classification.",
            "x-ms-summary": "Classification"
          }
        ],
        "summary": "URI to hash search by URI SHA-1 (first page)",
        "description": "Returns hashes related to the provided URI. This request accepts an URI in the form of a SHA-1 string and returns only the first page of results.",
        "operationId": "URI-to-hash-search-sha1-first-page"
      }
    },
    "/api/uri_index/v1/query/{uri_sha1}/{next_page_sha1}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "parameters": [
          {
            "name": "uri_sha1",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "SHA1 string representation of the URI",
            "x-ms-summary": "Uri Sha1"
          },
          {
            "name": "next_page_sha1",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "SHA1 of the next page of results.",
            "x-ms-summary": "Next Page Sha1"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Response format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          },
          {
            "name": "classification",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return only hashes with this classification.",
            "x-ms-summary": "Classification"
          }
        ],
        "summary": "URI to hash search by URI SHA-1 (with page parameter)",
        "description": "Returns hashes related to the provided URI. This request accepts an URI in the form of a SHA-1 string and returns the requested page of results.",
        "operationId": "URI-to-hash-search-sha1-paging"
      }
    },
    "/api/uri_index/v1/query": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "uri": {
                          "type": "string",
                          "description": "uri"
                        },
                        "next_page_sha1": {
                          "type": "string",
                          "description": "next_page_sha1"
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ],
        "summary": "URI to hash search by URI string (with page parameter)",
        "description": "Returns hashes related to the provided URI. This request accepts an URI string and returns the requested page of results.",
        "operationId": "URI-to-hash-search-text-paging"
      }
    },
    "/api/networking/url/v1/report/query/{format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get the URL report",
        "description": "Returns the classification and reputation report for the submitted URL.",
        "operationId": "Get-URL-report",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "response_format": {
                          "type": "string",
                          "description": "response_format"
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/networking/url/v1/downloaded_files/query/{format}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "post": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "List files from a URL",
        "operationId": "List-files-from-URL",
        "description": "Retrieve a list of files downloaded from the submitted URL.",
        "parameters": [
          {
            "name": "format",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Request format.",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rl": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "analysis_id": {
                          "type": "string",
                          "description": "Mutally exlusive with 'last_analysis'"
                        },
                        "last_analysis": {
                          "type": "boolean",
                          "description": "Return last analysis. Mutally exlusive with 'analysis_id'"
                        },
                        "response_format": {
                          "type": "string",
                          "description": "xml or json"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of results per page."
                        },
                        "extended": {
                          "type": "boolean",
                          "description": "Return extended results."
                        },
                        "classification": {
                          "type": "string",
                          "description": "Return only samples with this classification."
                        },
                        "page": {
                          "type": "string",
                          "description": "Next page string."
                        }
                      },
                      "description": "query"
                    }
                  },
                  "description": "rl"
                }
              }
            },
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/api/networking/url/v1/notifications/query/latest": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
            "description": "Not Found! The server has not found anything matching the Request-URI."
          },
          "500": {
            "description": "Internal Server Error! The server encountered an unexpected condition which prevented it from fulfilling the request."
          },
          "503": {
            "description": "Service Unavailable! The server is currently unable to handle the request due to a temporary overloading or maintenance of the server."
          }
        },
        "summary": "Get the latest URL analyses (first page)",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Response format.",
            "required": false,
            "type": "string",
            "default": "json",
            "enum": [
              "xml",
              "json"
            ],
            "x-ms-summary": "Format"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results returned per page.",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Limit"
          }
        ],
        "description": "Returns the latest completed URL analyses. This action only returns the first page of results.",
        "operationId": "Get-latest-URL-analyses-first"
      }
    },
    "/api/networking/url/v1/notifications/query/latest/page/{page}": {
      "parameters": [
        {
          "$ref": "#/parameters/user-agent"
        }
      ],
      "get": {
        "responses": {
          "200": {
            "description": "OK! The request has succeeded."
          },
          "400": {
            "description": "Bad Request! The request could not be understood by the server due to malformed syntax. A possible reason might be that the request contains Unicode characters that cannot be processed."
          },
          "401": {
            "description": "Unauthorized! The request requires user authentication. The request MUST include a WWW- Authenticate header field containing a challenge applicable to the requested resource."
          },
          "403": {
            "description": "Forbidden! The server understood the request, but is refusing to fulfill it."
          },
          "404": {
[...]
