{
  "swagger": "2.0",
  "info": {
    "title": "Virtual Agent Studio",
    "description": "Virtual Agent Studio is a powerful no-code chatbot builder that helps companies assist employees at scale. Just install it, and you’re ready to go! Manage the chatbot’s knowledge without technical expertise. Deploy it right where employees work: Teams, Intranet, web, and more.",
    "version": "2.0",
    "contact": {
      "name": "Witivio",
      "url": "https://www.virtualagentstudio.com/en/contact-us/",
      "email": "contact@witivio.com"
    }
  },
  "host": "app.virtualagentstudio.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/licences": {
      "get": {
        "description": "Get your licence",
        "x-ms-visibility": "internal",
        "summary": "Get your licence",
        "operationId": "GetLicences",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "clientName": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "clientName"
                ]
              }
            }
          }
        }
      }
    },
    "/api/bot/{licenceId}/my": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Get your chatbots",
        "summary": "Get your chatbots",
        "operationId": "GetChatbotIDs",
        "parameters": [
          {
            "name": "licenceId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/bot/{botId}/languages": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Get your chatbot languages",
        "summary": "Get your chatbot languages",
        "operationId": "GetChatbotLanguages",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/conversations/{botId}/{language}/{profileId}/questions": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Get the chatbot questions",
        "summary": "Get the chatbot questions",
        "operationId": "GetQuestionIDs",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Select the chatbot you want to trigger from."
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "answerType",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer"
          },
          {
            "name": "take",
            "in": "query",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Result": {
                    "type": "array",
                    "items": {
                      "$ref": "#/definitions/QnAQuestionDto"
                    }
                  },
                  "TotalCount": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "AllItemsCount": {
                    "type": "integer",
                    "format": "int32"
                  }
                },
                "required": [
                  "TotalCount",
                  "AllItemsCount"
                ]
              }
            }
          }
        }
      }
    },
    "/api/conversations/{botId}/profile": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Get the profile",
        "summary": "Get the profile",
        "operationId": "GetProfileIDs",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ]
              }
            }
          }
        }
      }
    },
    "/api/conversations/{botId}/{language}/questions/{questionId}/schema": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Get the schema of the webhook response",
        "summary": "Get the schema of the webhook response",
        "operationId": "GetWebhookResponseSchema",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/conversations/{botId}/{language}/questions/{questionId}/triggers/register": {
      "x-ms-visibility": "important",
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "x-ms-dynamic-properties": {
            "itemValuePath": "schema",
            "parameters": {
              "botId": {
                "parameterReference": "botId"
              },
              "questionId": {
                "parameterReference": "questionId"
              },
              "language": {
                "parameterReference": "language"
              }
            },
            "operationId": "GetWebhookResponseSchema"
          },
          "x-ms-dynamic-schema": {
            "operationId": "GetWebhookResponseSchema",
            "parameters": {
              "botId": {
                "parameter": "botId"
              },
              "questionId": {
                "parameter": "questionId"
              },
              "language": {
                "parameter": "language"
              }
            },
            "value-path": "schema"
          }
        },
        "description": "Webhook response"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "When the chatbot understand",
        "operationId": "WebhookTrigger",
        "description": "When the chatbot understand",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "licenceId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Select the licence.",
            "x-ms-summary": "Select the licence",
            "x-ms-dynamic-values": {
              "operationId": "GetLicences",
              "value-path": "id",
              "value-title": "clientName"
            }
          },
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Select the chatbot you want to trigger from.",
            "x-ms-summary": "Select the chatbot",
            "x-ms-dynamic-values": {
              "operationId": "GetChatbotIDs",
              "parameters": {
                "licenceId": {
                  "parameter": "licenceId"
                }
              },
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Select the language.",
            "x-ms-summary": "Select the language",
            "x-ms-dynamic-values": {
              "operationId": "GetChatbotLanguages",
              "parameters": {
                "botId": {
                  "parameter": "botId"
                }
              },
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Select the profile.",
            "x-ms-summary": "Select the profile",
            "x-ms-dynamic-values": {
              "operationId": "GetProfileIDs",
              "parameters": {
                "botId": {
                  "parameter": "botId"
                }
              },
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "questionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Select the question you want to trigger from.",
            "x-ms-summary": "Select the question",
            "x-ms-dynamic-values": {
              "operationId": "GetQuestionIDs",
              "parameters": {
                "botId": {
                  "parameter": "botId"
                },
                "profileId": {
                  "parameter": "profileId"
                },
                "language": {
                  "parameter": "language"
                },
                "answerType": "MSFlow",
                "page": 0,
                "take": 1000
              },
              "value-collection": "Result",
              "value-path": "id",
              "value-title": "question"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/api/escalation/{botId}/{language}/{escalationId}/schema": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Get the schema of the webhook response",
        "summary": "Get the schema of the webhook response",
        "operationId": "GetWebhookResponseSchemaEscalation",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "escalationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/escalation/{botId}/{language}/triggers/{escalationId}/register": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "x-ms-dynamic-properties": {
            "itemValuePath": "schema",
            "parameters": {
              "botId": {
                "parameterReference": "botId"
              },
              "escalationId": {
                "parameterReference": "escalationId"
              },
              "language": {
                "parameterReference": "language"
              }
            },
            "operationId": "GetWebhookResponseSchemaEscalation"
          },
          "x-ms-dynamic-schema": {
            "operationId": "GetWebhookResponseSchemaEscalation",
            "parameters": {
              "botId": {
                "parameter": "botId"
              },
              "language": {
                "parameter": "language"
              },
              "escalationId": {
                "parameter": "escalationId"
              }
            },
            "value-path": "schema"
          }
        },
        "description": "Webhook response"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "When the chatbot launch an escalation",
        "operationId": "WebhookEscalationTrigger",
        "description": "When the chatbot launch an escalation",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "licenceId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Select the licence.",
            "x-ms-summary": "Select the licence",
            "x-ms-dynamic-values": {
              "operationId": "GetLicences",
              "value-path": "id",
              "value-title": "clientName"
            }
          },
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Select the chatbot you want to trigger from.",
            "x-ms-summary": "Select the chatbot",
            "x-ms-dynamic-values": {
              "operationId": "GetChatbotIDs",
              "parameters": {
                "licenceId": {
                  "parameter": "licenceId"
                }
              },
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Select the language.",
            "x-ms-summary": "Select the language",
            "x-ms-dynamic-values": {
              "operationId": "GetChatbotLanguages",
              "parameters": {
                "botId": {
                  "parameter": "botId"
                }
              },
              "value-path": "name",
              "value-title": "name"
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Select the profile.",
            "x-ms-summary": "Select the profile",
            "x-ms-dynamic-values": {
              "operationId": "GetProfileIDs",
              "parameters": {
                "botId": {
                  "parameter": "botId"
                }
              },
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "escalationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Select the escalation you want to trigger from.",
            "x-ms-summary": "Select the escalation",
            "x-ms-dynamic-values": {
              "operationId": "GetEscalationIDs",
              "parameters": {
                "botId": {
                  "parameter": "botId"
                },
                "profileId": {
                  "parameter": "profileId"
                },
                "language": {
                  "parameter": "language"
                }
              },
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/api/escalation/{botId}/{language}/{profileId}/msflow": {
      "get": {
        "x-ms-visibility": "internal",
        "description": "Get the chatbot escalations",
        "summary": "Get the chatbot escalations",
        "operationId": "GetEscalationIDs",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Select the chatbot you want to trriger from."
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/botproxy/{botId}/feedback": {
      "post": {
        "summary": "The chatbot launch feedback",
        "operationId": "SendFeedback",
        "description": "The chatbot launch feedback",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The chatbot ID.",
            "x-ms-summary": "Chatbot ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "conversationContext": {
                  "type": "object",
                  "description": "Pass here the conversation context",
                  "x-ms-summary": "Conversation context"
                },
                "answer": {
                  "type": "object",
                  "description": "Pass here the initial object answer",
                  "x-ms-summary": "Answer object"
                }
              },
              "required": [
                "conversationContext",
                "answer"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/botproxy/{botId}/message": {
      "post": {
        "summary": "The chatbot replies",
        "operationId": "SendMessage",
        "description": "The chatbot replies",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The chatbot ID.",
            "x-ms-summary": "Chatbot ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "conversationContext": {
                  "type": "object",
                  "description": "Pass here the conversation context",
                  "x-ms-summary": "Conversation context"
                },
                "message": {
                  "type": "string",
                  "description": "the chatbot replies",
                  "x-ms-summary": "Message"
                }
              },
              "required": [
                "message",
                "conversationContext"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      }
    },
    "/api/botproxy/{botId}/startescalation": {
      "post": {
        "summary": "The chatbot launch the next escalation available",
        "operationId": "StartEscalation",
        "description": "The chatbot launch the next escalation available",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The chatbot ID.",
            "x-ms-summary": "Chatbot ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "conversationContext": {
                  "type": "object",
                  "description": "Pass here the conversation context",
                  "x-ms-summary": "Conversation context"
                },
                "initialQuestion": {
                  "type": "string",
                  "description": "The initial question from the user",
                  "x-ms-summary": "Initial question"
                },
                "userProfile": {
                  "type": "object",
                  "description": "The profile of the user",
                  "x-ms-summary": "User profile"
                },
                "escalationOptions": {
                  "type": "object",
                  "description": "Pass here the Escalations Options",
                  "x-ms-summary": "Escalation Options"
                }
              },
              "required": [
                "conversationContext",
                "initialQuestion",
                "userProfile"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/botproxy/{botId}/adaptive": {
      "post": {
        "summary": "The chatbot replies with adaptive card",
        "operationId": "SendAdaptive",
        "description": "The chatbot replies with adaptive card",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The chatbot ID.",
            "x-ms-summary": "Chatbot ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "conversationContext": {
                  "type": "object",
                  "description": "Pass here the conversation context",
                  "x-ms-summary": "Conversation context"
                },
                "message": {
                  "type": "string",
                  "description": "Adaptive card json",
                  "x-ms-summary": "Adaptive card json"
                }
              },
              "required": [
                "message",
                "conversationContext"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      }
    },
    "/api/botproxy/{botId}/message/input": {
      "post": {
        "summary": "The chatbot asks a question",
        "operationId": "SendMessageInput",
        "description": "The chatbot asks a question",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The chatbot ID.",
            "x-ms-summary": "Chatbot ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "conversationContext": {
                  "type": "object",
                  "description": "Pass here the conversation context",
                  "x-ms-summary": "Conversation context"
                },
                "question": {
                  "type": "string",
                  "description": "the chatbot asks",
                  "x-ms-summary": "Question"
                },
                "isFileWaiting": {
                  "type": "boolean",
                  "description": "Do you wait for a file",
                  "x-ms-summary": "File waiting"
                }
              },
              "required": [
                "question",
                "conversationContext",
                "isFileWaiting"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/botproxy/{botId}/message/input/list": {
      "post": {
        "summary": "The chatbot asks a question with a list of choices",
        "operationId": "SendMessageInputList",
        "description": "The chatbot asks a question with a list of choices",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The chatbot ID.",
            "x-ms-summary": "Chatbot ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "conversationContext": {
                  "type": "object",
                  "description": "Pass here the conversation context",
                  "x-ms-summary": "Conversation context"
                },
                "question": {
                  "type": "string",
                  "description": "the chatbot asks",
                  "x-ms-summary": "Question"
                },
                "choice1": {
                  "type": "string",
                  "description": "First choice",
                  "x-ms-summary": "First choice"
                },
                "choice2": {
                  "type": "string",
                  "description": "Second choice",
                  "x-ms-summary": "Second choice"
                },
                "choice3": {
                  "type": "string",
                  "description": "Third choice",
                  "x-ms-summary": "Third choice"
                },
                "choice4": {
                  "type": "string",
                  "description": "Fourth choice",
                  "x-ms-summary": "Fourth choice"
                },
                "choice5": {
                  "type": "string",
                  "description": "Fifth choice",
                  "x-ms-summary": "Fifth choice"
                },
                "choice6": {
                  "type": "string",
                  "description": "Sixth choice",
                  "x-ms-summary": "Sixth choice"
                },
                "choice7": {
                  "type": "string",
                  "description": "Seventh choice",
                  "x-ms-summary": "Seventh choice"
                },
                "choice8": {
                  "type": "string",
                  "description": "Eigth choice",
                  "x-ms-summary": "Eigth choice"
                },
                "choice9": {
                  "type": "string",
                  "description": "Nineth choice",
                  "x-ms-summary": "Nineth choice"
                },
                "choice10": {
                  "type": "string",
                  "description": "Tenth choice",
                  "x-ms-summary": "Tenth choice"
                }
              },
              "required": [
                "question",
                "conversationContext",
                "choice1",
                "choice2"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      }
    },
    "/api/botproxy/{botId}/message/input/array": {
      "post": {
        "summary": "The chatbot asks a question with an list of dynamics choices",
        "operationId": "SendMessageInputArray",
        "description": "The chatbot asks a question with an list of dynamics choices",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The chatbot ID.",
            "x-ms-summary": "Chatbot ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "conversationContext": {
                  "type": "object",
                  "description": "Pass here the conversation context",
                  "x-ms-summary": "Conversation context"
                },
                "question": {
                  "type": "string",
                  "description": "the chatbot asks",
                  "x-ms-summary": "Question"
                },
                "listChoice": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "List of choices",
                  "x-ms-summary": "List of choices"
                },
                "jsonPath": {
                  "type": "string",
                  "description": "Value to select in List",
                  "x-ms-summary": "Value to select in List"
                }
              },
              "required": [
                "question",
                "conversationContext",
                "listChoice",
                "jsonPath"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "body": {
                  "type": "object"
                }
              },
              "required": [
                "message",
                "body"
              ]
            }
          }
        }
      }
    },
    "/api/conversations/{botId}/{activityId}/getResponseFromFlowQuestion": {
      "get": {
        "x-ms-visibility": "internal",
        "summary": "The user answer to flow question",
        "operationId": "GetResponseFromFlowQuestion",
        "description": "The user answer to flow question",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The chatbot ID.",
            "x-ms-summary": "Chatbot ID"
          },
          {
            "name": "activityId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The activity ID.",
            "x-ms-summary": "Activity ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        }
      }
    }
  },
  "definitions": {
    "QnAQuestionDto": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "createdAt",
        "modifiedAt",
        "countAlternatives"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "botId": {
          "type": "string"
        },
        "language": {
          "type": "string"
        },
        "categoryId": {
          "type": "string"
        },
        "profileId": {
          "type": "string"
        },
        "question": {
          "type": "string"
        },
        "createdBy": {
          "type": "string"
        },
        "modifiedBy": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        },
        "modifiedAt": {
          "type": "string",
          "format": "date-time"
        },
        "countAlternatives": {
          "type": "integer",
          "format": "int32"
        },
        "scheduleFrom": {
          "type": "string",
          "format": "date-time"
        },
        "scheduleTo": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.virtualagentstudio.com/en/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.virtualagentstudio.com/en/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ],
  "tags": []
}