{
  "swagger": "2.0",
  "info": {
    "title": "Did You Mean This",
    "description": "Google's famed \"Did you mean this?\" feature is a powerful feature to guide your users for corrections easily. This service features a fast and convenient way to embed this feature into your application.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.apilayer.com",
  "basePath": "/dymt/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/did_you_mean_this": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "is_modified": {
                  "type": "boolean",
                  "description": "Whether is modified from the original request text.",
                  "title": "Is Modified"
                },
                "original_text": {
                  "type": "string",
                  "description": "The original text.",
                  "title": "Original Text"
                },
                "result": {
                  "type": "string",
                  "description": "The result.",
                  "title": "Result"
                }
              }
            }
          }
        },
        "summary": "Check text",
        "description": "Retrieves a suggestion for the provided text.",
        "operationId": "Check",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Text",
            "description": "The text.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apilayer.com/marketplace/dymt-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://apilayer.com/support"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}