{
  "basePath": "/",
  "consumes": [],
  "definitions": {},
  "host": "transform2all.gaccloud.com",
  "info": {
    "contact": {
	"email": "apps@gac.nl",
	"name": "GAC Business Solutions",
	"url": "https://www.gac.nl"
    },
    "description": "Transform2All is able to apply transformation schemas to transform the representation of your data from one format (JSON, XML, TXT, ...) to another.",
    "title": "Transform2All",
    "version": "1.0"
  },
  "parameters": {},
  "paths": {
    "/api/1.0/config": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "Get all configuration names",
        "operationId": "GetConfigurations",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "id",
                    "type": "string"
                  },
                  "name": {
                    "description": "name",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "summary": "Get Configurations",
        "x-ms-visibility": "internal"
      }
    },
    "/api/1.0/translate": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Apply transformation schemas to transform the representation of your data from one format (JSON, XML, TXT, ...) to another.",
        "operationId": "Transform",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "base64Content": {
                  "description": "Content as a base64 string",
                  "title": "Content",
                  "type": "string"
                },
                "configId": {
                  "description": "Configuration to apply",
                  "title": "Configuration",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetConfigurations",
                    "value-path": "id",
                    "value-title": "name"
                  }
                }
              },
              "required": [
                "configId",
                "base64Content"
              ],
              "type": "object"
            },
            "x-ms-visibility": "important"
          }
        ],
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "Transformed data",
            "schema": {}
          }
        },
        "summary": "Transform data format"
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "securityDefinitions": {
    "oauth2_auth": {
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "flow": "accessCode",
      "scopes": {},
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "type": "oauth2"
    }
  },
  "swagger": "2.0",
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.gac.nl"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.gac.nl/disclaimer"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Data"
    }
  ]
}