{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Beauhurst",
    "description": "Beauhurst collects data from various sources to build detailed profiles of companies. It tracks company financials, funding rounds, investors, key personnel, and other relevant data points.",
    "termsOfService": "https://www.beauhurst.com/",
    "contact": {
      "name": "Axazure",
      "url": "https://www.axazure.com",
      "email": "contact@axazure.com"
    }
  },
  "host": "platform.beauhurst.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/_api/v1/companies/search": {
      "get": {
        "summary": "GET Company FID",
        "description": "GET Company FID",
        "operationId": "GetCompanyFid",
        "parameters": [
          {
            "name": "names",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Enter the name of the company you would wish to search",
            "x-ms-summary": "Name"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "limit",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "offset",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count",
                      "title": "",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "meta"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The FID of the desired company",
                        "title": "FID",
                        "x-ms-visibility": "important"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/_api/v1/companies/{FID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "basic": {
                  "type": "object",
                  "properties": {
                    "registered_name": {
                      "type": "string",
                      "description": "registered_name"
                    },
                    "registration_date": {
                      "type": "string",
                      "description": "registration_date"
                    },
                    "other_trading_names": {
                      "type": "array",
                      "items": {},
                      "description": "other_trading_names"
                    },
                    "companies_house_id": {
                      "type": "string",
                      "description": "companies_house_id"
                    },
                    "employee_count_range": {
                      "type": "string",
                      "description": "employee_count_range"
                    },
                    "last_modified_date": {
                      "type": "string",
                      "description": "last_modified_date"
                    },
                    "website": {
                      "type": "string",
                      "description": "website"
                    },
                    "tracked_status": {
                      "type": "string",
                      "description": "tracked_status"
                    },
                    "company_status": {
                      "type": "string",
                      "description": "company_status"
                    },
                    "is_sme": {
                      "type": "boolean",
                      "description": "is_sme"
                    }
                  },
                  "description": "basic"
                },
                "classification": {
                  "type": "object",
                  "properties": {
                    "sectors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "sectors"
                    },
                    "top_level_sector_groups": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "top_level_sector_groups"
                    },
                    "latest_stage_of_evolution": {
                      "type": "string",
                      "description": "latest_stage_of_evolution"
                    },
                    "description": {
                      "type": "string",
                      "description": "description"
                    },
                    "tracking_reasons": {
                      "type": "array",
                      "items": {},
                      "description": "tracking_reasons"
                    },
                    "target_markets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "target_markets"
                    },
                    "founder_female_percentage": {
                      "type": "string",
                      "description": "founder_female_percentage"
                    },
                    "sic_codes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          }
                        }
                      },
                      "description": "sic_codes"
                    },
                    "actively_hiring": {
                      "type": "string",
                      "description": "actively_hiring"
                    }
                  },
                  "description": "classification"
                },
                "transactions": {
                  "type": "object",
                  "properties": {
                    "n_fundraisings": {
                      "type": "integer",
                      "format": "int32",
                      "description": "n_fundraisings"
                    },
                    "total_amount_fundraisings": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_amount_fundraisings"
                    },
                    "n_grants": {
                      "type": "integer",
                      "format": "int32",
                      "description": "n_grants"
                    },
                    "total_amount_grants": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_amount_grants"
                    },
                    "latest_valuation": {
                      "type": "string",
                      "description": "latest_valuation"
                    }
                  },
                  "description": "transactions"
                },
                "contact_information": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "lep": {
                      "type": "string",
                      "description": "lep"
                    },
                    "region": {
                      "type": "string",
                      "description": "region"
                    },
                    "postcode": {
                      "type": "string",
                      "description": "postcode"
                    },
                    "address": {
                      "type": "string",
                      "description": "address"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "emails"
                    },
                    "telephone": {
                      "type": "string",
                      "description": "telephone"
                    },
                    "key_contacts": {
                      "type": "array",
                      "items": {},
                      "description": "key_contacts"
                    }
                  },
                  "description": "contact_information"
                },
                "latest_accounts": {
                  "type": "object",
                  "properties": {
                    "year_end_date": {
                      "type": "string",
                      "description": "year_end_date"
                    },
                    "turnover": {
                      "type": "integer",
                      "format": "int32",
                      "description": "turnover"
                    },
                    "ebitda": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ebitda"
                    },
                    "total_assets": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_assets"
                    },
                    "number_of_employees": {
                      "type": "integer",
                      "format": "int32",
                      "description": "number_of_employees"
                    },
                    "cash": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cash"
                    },
                    "total_liabilities": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_liabilities"
                    },
                    "net_assets": {
                      "type": "integer",
                      "format": "int32",
                      "description": "net_assets"
                    }
                  },
                  "description": "latest_accounts"
                },
                "historic_accounts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "year_end_date": {
                        "type": "string",
                        "description": "year_end_date"
                      },
                      "turnover": {
                        "type": "integer",
                        "format": "int32",
                        "description": "turnover"
                      },
                      "ebitda": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ebitda"
                      },
                      "total_assets": {
                        "type": "integer",
                        "format": "int32",
                        "description": "total_assets"
                      },
                      "number_of_employees": {
                        "type": "integer",
                        "format": "int32",
                        "description": "number_of_employees"
                      },
                      "cash": {
                        "type": "integer",
                        "format": "int32",
                        "description": "cash"
                      },
                      "total_liabilities": {
                        "type": "integer",
                        "format": "int32",
                        "description": "total_liabilities"
                      },
                      "net_assets": {
                        "type": "integer",
                        "format": "int32",
                        "description": "net_assets"
                      }
                    }
                  },
                  "description": "historic_accounts"
                }
              }
            }
          }
        },
        "summary": "Company Info by FID",
        "x-ms-visibility": "important",
        "description": "Company Info By FID",
        "operationId": "CompanyInfoByFID",
        "parameters": [
          {
            "name": "FID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter the FID of the company whose information is desired",
            "x-ms-summary": "FID of the company",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "includes",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "registered_name&includes=registration_date&includes=other_trading_names&includes=companies_house_id&includes=employee_count_range&includes=last_modified_date&includes=website&includes=tracked_status&includes=company_status&includes=is_sme&includes=sectors&includes=top_level_sector_groups&includes=latest_stage_of_evolution&includes=description&includes=tracking_reasons&includes=target_markets&includes=founder_female_percentage&includes=sic_codes&includes=actively_hiring&includes=n_fundraisings&includes=total_amount_fundraisings&includes=n_grants&includes=total_amount_grants&includes=latest_valuation&includes=country&includes=lep&includes=region&includes=postcode&includes=address&includes=emails&includes=telephone&includes=key_contacts&includes=year_end_date&includes=turnover&includes=ebitda&includes=total_assets&includes=number_of_employees&includes=cash&includes=total_liabilities&includes=net_assets",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/_api/v1/transactions/company": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "offset"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    }
                  },
                  "description": "meta"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "companies_house_id": {
                        "type": "string",
                        "description": "companies_house_id"
                      },
                      "grants": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "date_grant_recieved": {
                              "type": "string",
                              "description": "date_grant_recieved"
                            },
                            "amount_recieved_gbp": {
                              "type": "integer",
                              "format": "int32",
                              "description": "amount_recieved_gbp"
                            },
                            "stage_of_evolution_at_grant_date": {
                              "type": "string",
                              "description": "stage_of_evolution_at_grant_date"
                            },
                            "beauhurst_url": {
                              "type": "string",
                              "description": "beauhurst_url"
                            },
                            "is_lead_participant": {
                              "type": "boolean",
                              "description": "is_lead_participant"
                            },
                            "project_title": {
                              "type": "string",
                              "description": "project_title"
                            },
                            "project_start_date": {
                              "type": "string",
                              "description": "project_start_date"
                            },
                            "project_end_date": {
                              "type": "string",
                              "description": "project_end_date"
                            },
                            "project_grants_total_gbp": {
                              "type": "integer",
                              "format": "int32",
                              "description": "project_grants_total_gbp"
                            },
                            "granting_body": {
                              "type": "string",
                              "description": "granting_body"
                            }
                          }
                        },
                        "description": "grants"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "Funds received by Company",
        "operationId": "FundsByFID",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "company_ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter the FID of the company whose information is desired",
            "x-ms-summary": "FID of the company",
            "x-ms-visibility": "important"
          },
          {
            "name": "includes",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Type of information requested",
            "description": "The type of income that is pursued to get to know about",
            "enum": [
              "grants",
              "fundraisings"
            ]
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "Get to know about the amounts of money received by the company, both fundraised or granted"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.beauhurst.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.beauhurst.com/privacy-notice/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Sales and CRM"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Clave de API": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key"
    }
  },
  "security": [
    {
      "Clave de API": []
    }
  ],
  "tags": []
}