{
  "swagger": "2.0",
  "info": {
    "version": "  ",
    "description": "The API allows you to create documents from templates (DOCX or HTML file), convert it to PDF and many more. Visit https://plumsail.com/documents for more information",
    "contact": {
      "name": "Support",
      "url": "https://plumsail.com",
      "email": "support@plumsail.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "api.plumsail.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/flow/v1/DocumentsFlow/Schema/RegExpMatch": {
      "post": {
        "tags": [
          "DocumentsFlowSchema"
        ],
        "operationId": "FlowV1DocumentsFlowSchemaRegExpMatchPost",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "pattern",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Pattern",
            "description": "pattern"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "RegexMatchSchema",
        "description": "System"
      }
    },
    "/flow/v1/DocumentsFlow/Schema/AddWatermarkToPdf": {
      "post": {
        "tags": [
          "DocumentsFlowSchema"
        ],
        "operationId": "FlowV1DocumentsFlowSchemaAddWatermarkToPdfPost",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Text",
              "Image",
              "Pdf"
            ],
            "x-ms-summary": "Type",
            "description": "The type of the watermark"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "AddWatermarkToPdfSchema",
        "description": "System"
      }
    },
    "/flow/v1/Documents/jobs/ApplyDocxTemplate": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsApplyDocxTemplatePost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplyDocxTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result file",
            "schema": {
              "format": "binary",
              "title": "Result file",
              "type": "string"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Create DOCX document from template",
        "description": "Created Word DOCX document from template. More information: https://plumsail.com/docs/actions/v1.x/document-generation/docx/index.html"
      }
    },
    "/flow/v1/Documents/jobs/ApplyXlsxTemplate": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsApplyXlsxTemplatePost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplyXlsxTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result file",
            "schema": {
              "format": "binary",
              "title": "Result file",
              "type": "string"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Create XLSX document from template",
        "description": "Created Excel XLSX document from template. More information:  https://plumsail.com/docs/actions/v1.x/document-generation/xlsx/index.html"
      }
    },
    "/flow/v1/Documents/jobs/ApplyDocx": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsApplyDocxPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MergeFieldsTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentProcessingResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Fill merge fields in DOCX document",
        "description": "It takes a DOCX document with merge fields and replaces them by specified data. The keys in data object should be the same as names of MergeFields (Express block) in document"
      }
    },
    "/flow/v1/Documents/jobs/ApplyHtml": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsApplyHtmlPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplyHtmlFlowTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApplyHtmlTemplateResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Create HTML from template",
        "description": "It takes input HTML template string or file and replaces special {{Tokens}} by specified data. We use Mustache framework for templates internally. More information about templates in Mustache docs: http://mustache.github.io/mustache.5.html"
      }
    },
    "/flow/v1/Documents/jobs/Html2Pdf": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsHtml2PdfPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Html2PdfFlowRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentProcessingResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Convert HTML to PDF",
        "description": "It takes HTML markup, renders it and converts to PDF document"
      }
    },
    "/flow/v1/Documents/jobs/Docx2Pdf": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsDocx2PdfPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Docx2PdfRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentProcessingResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Convert DOCX to PDF",
        "description": "It takes DOCX document and converts it to PDF"
      }
    },
    "/flow/v1/Documents/jobs/Xslx2Pdf": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsXslx2PdfPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Xlsx2PdfRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result file",
            "schema": {
              "format": "binary",
              "title": "Result file",
              "type": "string"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Convert XLSX to PDF",
        "description": "It takes XLSX document and converts it to PDF"
      }
    },
    "/flow/v1/Documents/jobs/SplitPdf": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsSplitPdfPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SplitPdfRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentsArrayResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Split PDF",
        "description": "It takes PDF document and split it"
      }
    },
    "/flow/v1/Documents/jobs/MergePdf": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsMergePdfPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MergePdfRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result file",
            "schema": {
              "format": "binary",
              "title": "Result file",
              "type": "string"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Merge PDF",
        "description": "It takes an array of PDF documents and merge it"
      }
    },
    "/flow/v1/Documents/jobs/ExtractTextFromPdf": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsExtractTextFromPdfPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Pdf2TextRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentProcessingResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Extract text from PDF document",
        "description": "It takes PDF document and extracts text to Raw or HTML format"
      }
    },
    "/flow/v1/Documents/jobs/Pdf2Image": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsPdf2ImagePost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Pdf2ImageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentsArrayResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Convert PDF to Image",
        "description": "It takes PDF document and converts it to Image (jpeg, png, gif, bmp)"
      }
    },
    "/flow/v1/Documents/jobs/FillInPdfForm": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsFillInPdfFormPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FillInPdfFormRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentProcessingResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Fill in PDF Form",
        "description": "Filling out PDF form by provided data"
      }
    },
    "/flow/v1/Documents/jobs/GetPdfForm": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsGetPdfFormPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetPdfFormRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Get Form from PDF",
        "description": "Returns fillable form data from PDF as JSON"
      }
    },
    "/flow/v1/Documents/jobs/ProtectPdf": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsProtectPdfPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProtectPdfRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentProcessingResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Protect PDF document",
        "description": "Adds passwords, copy-, printing-, and other protections to PDF file"
      }
    },
    "/flow/v1/Documents/jobs/RegExpMatch": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsRegExpMatchPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegExpMatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegExpMatchSchemaResponseClass"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Regular Expression Match",
        "description": "Searches an input string for all occurrences of a regular expression and returns all the matches. We would recommend you to use Regex Hero to test your expressions. It supports the same syntax as actions"
      }
    },
    "/flow/v1/Documents/jobs/RegExpReplace": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsRegExpReplacePost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegExpReplaceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StringResultResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Regular Expression Replace",
        "description": "In a specified input string, replaces all strings that match a regular expression pattern with a specified replacement string. We would recommend you to use Regex Hero to test your expressions. It supports the same syntax as actions"
      }
    },
    "/flow/v1/Documents/jobs/RegExpTest": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsRegExpTestPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegExpTestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BooleanResultResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Regular Expression Test",
        "description": "Indicates whether the regular expression specified in the Regex constructor finds a match in a specified input string. We would recommend you to use Regex Hero to test your expressions. It supports the same syntax as actions"
      }
    },
    "/flow/v1/Documents/jobs/AddWatermarkToPdf": {
      "post": {
        "tags": [
          "DocumentsFlow"
        ],
        "operationId": "FlowV1DocumentsJobsAddWatermarkToPdfPost",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "Text",
              "Image",
              "Pdf"
            ],
            "x-ms-summary": "Type",
            "description": "The type of the watermark"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "FlowV1DocumentsFlowSchemaAddWatermarkToPdfPost",
                "value-path": "items",
                "parameters": {
                  "type": {
                    "parameter": "type"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentProcessingResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job exection will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Add a watermark to PDF",
        "description": "Adds a text watermark to PDF"
      }
    }
  },
  "definitions": {
    "ApplyDocxTemplateRequest": {
      "required": [
        "documentContent",
        "data"
      ],
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "binary",
          "type": "string",
          "x-ms-summary": "Document content",
          "description": "Content of the template"
        },
        "data": {
          "type": "object",
          "x-ms-summary": "Template Data",
          "description": "JSON data that should be applied to the template"
        },
        "locale": {
          "default": "en-US",
          "enum": [
            "aa",
            "aa-DJ",
            "aa-ER",
            "aa-ET",
            "af",
            "af-NA",
            "af-ZA",
            "agq",
            "agq-CM",
            "ak",
            "ak-GH",
            "am",
            "am-ET",
            "ar",
            "ar-001",
            "ar-AE",
            "ar-BH",
            "ar-DJ",
            "ar-DZ",
            "ar-EG",
            "ar-ER",
            "ar-IL",
            "ar-IQ",
            "ar-JO",
            "ar-KM",
            "ar-KW",
            "ar-LB",
            "ar-LY",
            "ar-MA",
            "ar-MR",
            "ar-OM",
            "ar-PS",
            "ar-QA",
            "ar-SA",
            "ar-SD",
            "ar-SO",
            "ar-SS",
            "ar-SY",
            "ar-TD",
            "ar-TN",
            "ar-YE",
            "arn",
            "arn-CL",
            "as",
            "as-IN",
            "asa",
            "asa-TZ",
            "ast",
            "ast-ES",
            "az",
            "az-Cyrl",
            "az-Cyrl-AZ",
            "az-Latn",
            "az-Latn-AZ",
            "ba",
            "ba-RU",
            "bas",
            "bas-CM",
            "be",
            "be-BY",
            "bem",
            "bem-ZM",
            "bez",
            "bez-TZ",
            "bg",
            "bg-BG",
            "bin",
            "bin-NG",
            "bm",
            "bm-Latn",
            "bm-Latn-ML",
            "bn",
            "bn-BD",
            "bn-IN",
            "bo",
            "bo-CN",
            "bo-IN",
            "br",
            "br-FR",
            "brx",
            "brx-IN",
            "bs",
            "bs-Cyrl",
            "bs-Cyrl-BA",
            "bs-Latn",
            "bs-Latn-BA",
            "byn",
            "byn-ER",
            "ca",
            "ca-AD",
            "ca-ES",
            "ca-ES-valencia",
            "ca-FR",
            "ca-IT",
            "ce",
            "ce-RU",
            "cgg",
            "cgg-UG",
            "chr",
            "chr-Cher",
            "chr-Cher-US",
            "co",
            "co-FR",
            "cs",
            "cs-CZ",
            "cu",
            "cu-RU",
            "cy",
            "cy-GB",
            "da",
            "da-DK",
            "da-GL",
            "dav",
            "dav-KE",
            "de",
            "de-AT",
            "de-BE",
            "de-CH",
            "de-DE",
            "de-IT",
            "de-LI",
            "de-LU",
            "dje",
            "dje-NE",
            "dsb",
            "dsb-DE",
            "dua",
            "dua-CM",
            "dv",
            "dv-MV",
            "dyo",
            "dyo-SN",
            "dz",
            "dz-BT",
            "ebu",
            "ebu-KE",
            "ee",
            "ee-GH",
            "ee-TG",
            "el",
            "el-CY",
            "el-GR",
            "en",
            "en-001",
            "en-029",
            "en-150",
            "en-AG",
            "en-AI",
            "en-AS",
            "en-AT",
            "en-AU",
            "en-BB",
            "en-BE",
            "en-BI",
            "en-BM",
            "en-BS",
            "en-BW",
            "en-BZ",
            "en-CA",
            "en-CC",
            "en-CH",
            "en-CK",
            "en-CM",
            "en-CX",
            "en-CY",
            "en-DE",
            "en-DK",
            "en-DM",
            "en-ER",
            "en-FI",
            "en-FJ",
            "en-FK",
            "en-FM",
            "en-GB",
            "en-GD",
            "en-GG",
            "en-GH",
            "en-GI",
            "en-GM",
            "en-GU",
            "en-GY",
            "en-HK",
            "en-ID",
            "en-IE",
            "en-IL",
            "en-IM",
            "en-IN",
            "en-IO",
            "en-JE",
            "en-JM",
            "en-KE",
            "en-KI",
            "en-KN",
            "en-KY",
            "en-LC",
            "en-LR",
            "en-LS",
            "en-MG",
            "en-MH",
            "en-MO",
            "en-MP",
            "en-MS",
            "en-MT",
            "en-MU",
            "en-MW",
            "en-MY",
            "en-NA",
            "en-NF",
            "en-NG",
            "en-NL",
            "en-NR",
            "en-NU",
            "en-NZ",
            "en-PG",
            "en-PH",
            "en-PK",
            "en-PN",
            "en-PR",
            "en-PW",
            "en-RW",
            "en-SB",
            "en-SC",
            "en-SD",
            "en-SE",
            "en-SG",
            "en-SH",
            "en-SI",
            "en-SL",
            "en-SS",
            "en-SX",
            "en-SZ",
            "en-TC",
            "en-TK",
            "en-TO",
            "en-TT",
            "en-TV",
            "en-TZ",
            "en-UG",
            "en-UM",
            "en-US",
            "en-VC",
            "en-VG",
            "en-VI",
            "en-VU",
            "en-WS",
            "en-ZA",
            "en-ZM",
            "en-ZW",
            "eo",
            "eo-001",
            "es",
            "es-419",
            "es-AR",
            "es-BO",
            "es-BR",
            "es-BZ",
            "es-CL",
            "es-CO",
            "es-CR",
            "es-CU",
            "es-DO",
            "es-EC",
            "es-ES",
            "es-GQ",
            "es-GT",
            "es-HN",
            "es-MX",
            "es-NI",
            "es-PA",
            "es-PE",
            "es-PH",
            "es-PR",
            "es-PY",
            "es-SV",
            "es-US",
            "es-UY",
            "es-VE",
            "et",
            "et-EE",
            "eu",
            "eu-ES",
            "ewo",
            "ewo-CM",
            "fa",
            "fa-IR",
            "ff",
            "ff-CM",
            "ff-GN",
            "ff-Latn",
            "ff-Latn-SN",
            "ff-MR",
            "ff-NG",
            "fi",
            "fi-FI",
            "fil",
            "fil-PH",
            "fo",
            "fo-DK",
            "fo-FO",
            "fr",
            "fr-029",
            "fr-BE",
            "fr-BF",
            "fr-BI",
            "fr-BJ",
            "fr-BL",
            "fr-CA",
            "fr-CD",
            "fr-CF",
            "fr-CG",
            "fr-CH",
            "fr-CI",
            "fr-CM",
            "fr-DJ",
            "fr-DZ",
            "fr-FR",
            "fr-GA",
            "fr-GF",
            "fr-GN",
            "fr-GP",
            "fr-GQ",
            "fr-HT",
            "fr-KM",
            "fr-LU",
            "fr-MA",
            "fr-MC",
            "fr-MF",
            "fr-MG",
            "fr-ML",
            "fr-MQ",
            "fr-MR",
            "fr-MU",
            "fr-NC",
            "fr-NE",
            "fr-PF",
            "fr-PM",
            "fr-RE",
            "fr-RW",
            "fr-SC",
            "fr-SN",
            "fr-SY",
            "fr-TD",
            "fr-TG",
            "fr-TN",
            "fr-VU",
            "fr-WF",
            "fr-YT",
            "fur",
            "fur-IT",
            "fy",
            "fy-NL",
            "ga",
            "ga-IE",
            "gd",
            "gd-GB",
            "gl",
            "gl-ES",
            "gn",
            "gn-PY",
            "gsw",
            "gsw-CH",
            "gsw-FR",
            "gsw-LI",
            "gu",
            "gu-IN",
            "guz",
            "guz-KE",
            "gv",
            "gv-IM",
            "ha",
            "ha-Latn",
            "ha-Latn-GH",
            "ha-Latn-NE",
            "ha-Latn-NG",
            "haw",
            "haw-US",
            "he",
            "he-IL",
            "hi",
            "hi-IN",
            "hr",
            "hr-BA",
            "hr-HR",
            "hsb",
            "hsb-DE",
            "hu",
            "hu-HU",
            "hy",
            "hy-AM",
            "ia",
            "ia-001",
            "ia-FR",
            "ibb",
            "ibb-NG",
            "id",
            "id-ID",
            "ig",
            "ig-NG",
            "ii",
            "ii-CN",
            "is",
            "is-IS",
            "it",
            "it-CH",
            "it-IT",
            "it-SM",
            "it-VA",
            "iu",
            "iu-Cans",
            "iu-Cans-CA",
            "iu-Latn",
            "iu-Latn-CA",
            "ja",
            "ja-JP",
            "jgo",
            "jgo-CM",
            "jmc",
            "jmc-TZ",
            "jv",
            "jv-Java",
            "jv-Java-ID",
            "jv-Latn",
            "jv-Latn-ID",
            "ka",
            "ka-GE",
            "kab",
            "kab-DZ",
            "kam",
            "kam-KE",
            "kde",
            "kde-TZ",
            "kea",
            "kea-CV",
            "khq",
            "khq-ML",
            "ki",
            "ki-KE",
            "kk",
            "kk-KZ",
            "kkj",
            "kkj-CM",
            "kl",
            "kl-GL",
            "kln",
            "kln-KE",
            "km",
            "km-KH",
            "kn",
            "kn-IN",
            "ko",
            "ko-KP",
            "ko-KR",
            "kok",
            "kok-IN",
            "kr",
            "kr-NG",
            "ks",
            "ks-Arab",
            "ks-Arab-IN",
            "ks-Deva",
            "ks-Deva-IN",
            "ksb",
            "ksb-TZ",
            "ksf",
            "ksf-CM",
            "ksh",
            "ksh-DE",
            "ku",
            "ku-Arab",
            "ku-Arab-IQ",
            "ku-Arab-IR",
            "kw",
            "kw-GB",
            "ky",
            "ky-KG",
            "la",
            "la-001",
            "lag",
            "lag-TZ",
            "lb",
            "lb-LU",
            "lg",
            "lg-UG",
            "lkt",
            "lkt-US",
            "ln",
            "ln-AO",
            "ln-CD",
            "ln-CF",
            "ln-CG",
            "lo",
            "lo-LA",
            "lrc",
            "lrc-IQ",
            "lrc-IR",
            "lt",
            "lt-LT",
            "lu",
            "lu-CD",
            "luo",
            "luo-KE",
            "luy",
            "luy-KE",
            "lv",
            "lv-LV",
            "mas",
            "mas-KE",
            "mas-TZ",
            "mer",
            "mer-KE",
            "mfe",
            "mfe-MU",
            "mg",
            "mg-MG",
            "mgh",
            "mgh-MZ",
            "mgo",
            "mgo-CM",
            "mi",
            "mi-NZ",
            "mk",
            "mk-MK",
            "ml",
            "ml-IN",
            "mn",
            "mn-Cyrl",
            "mn-MN",
            "mn-Mong",
            "mn-Mong-CN",
            "mn-Mong-MN",
            "mni",
            "mni-IN",
            "moh",
            "moh-CA",
            "mr",
            "mr-IN",
            "ms",
            "ms-BN",
            "ms-MY",
            "ms-SG",
            "mt",
            "mt-MT",
            "mua",
            "mua-CM",
            "my",
            "my-MM",
            "mzn",
            "mzn-IR",
            "naq",
            "naq-NA",
            "nb",
            "nb-NO",
            "nb-SJ",
            "nd",
            "nd-ZW",
            "nds",
            "nds-DE",
            "nds-NL",
            "ne",
            "ne-IN",
            "ne-NP",
            "nl",
            "nl-AW",
            "nl-BE",
            "nl-BQ",
            "nl-CW",
            "nl-NL",
            "nl-SR",
            "nl-SX",
            "nmg",
            "nmg-CM",
            "nn",
            "nn-NO",
            "nnh",
            "nnh-CM",
            "no",
            "nqo",
            "nqo-GN",
            "nr",
            "nr-ZA",
            "nso",
            "nso-ZA",
            "nus",
            "nus-SS",
            "nyn",
            "nyn-UG",
            "oc",
            "oc-FR",
            "om",
            "om-ET",
            "om-KE",
            "or",
            "or-IN",
            "os",
            "os-GE",
            "os-RU",
            "pa",
            "pa-Arab",
            "pa-Arab-PK",
            "pa-Guru",
            "pa-IN",
            "pap",
            "pap-029",
            "pl",
            "pl-PL",
            "prg",
            "prg-001",
            "prs",
            "prs-AF",
            "ps",
            "ps-AF",
            "pt",
            "pt-AO",
            "pt-BR",
            "pt-CH",
            "pt-CV",
            "pt-GQ",
            "pt-GW",
            "pt-LU",
            "pt-MO",
            "pt-MZ",
            "pt-PT",
            "pt-ST",
            "pt-TL",
            "quc",
            "quc-Latn",
            "quc-Latn-GT",
            "quz",
            "quz-BO",
            "quz-EC",
            "quz-PE",
            "rm",
            "rm-CH",
            "rn",
            "rn-BI",
            "ro",
            "ro-MD",
            "ro-RO",
            "rof",
            "rof-TZ",
            "ru",
            "ru-BY",
            "ru-KG",
            "ru-KZ",
            "ru-MD",
            "ru-RU",
            "ru-UA",
            "rw",
            "rw-RW",
            "rwk",
            "rwk-TZ",
            "sa",
            "sa-IN",
            "sah",
            "sah-RU",
            "saq",
            "saq-KE",
            "sbp",
            "sbp-TZ",
            "sd",
            "sd-Arab",
            "sd-Arab-PK",
            "sd-Deva",
            "sd-Deva-IN",
            "se",
            "se-FI",
            "se-NO",
            "se-SE",
            "seh",
            "seh-MZ",
            "ses",
            "ses-ML",
            "sg",
            "sg-CF",
            "shi",
            "shi-Latn",
            "shi-Latn-MA",
            "shi-Tfng",
            "shi-Tfng-MA",
            "si",
            "si-LK",
            "sk",
            "sk-SK",
            "sl",
            "sl-SI",
            "sma",
            "sma-NO",
            "sma-SE",
            "smj",
            "smj-NO",
            "smj-SE",
            "smn",
            "smn-FI",
            "sms",
            "sms-FI",
            "sn",
            "sn-Latn",
            "sn-Latn-ZW",
            "so",
            "so-DJ",
            "so-ET",
            "so-KE",
            "so-SO",
            "sq",
            "sq-AL",
            "sq-MK",
            "sq-XK",
            "sr",
            "sr-Cyrl",
            "sr-Cyrl-BA",
            "sr-Cyrl-ME",
            "sr-Cyrl-RS",
            "sr-Cyrl-XK",
            "sr-Latn",
            "sr-Latn-BA",
            "sr-Latn-ME",
            "sr-Latn-RS",
            "sr-Latn-XK",
            "ss",
            "ss-SZ",
            "ss-ZA",
            "ssy",
            "ssy-ER",
            "st",
            "st-LS",
            "st-ZA",
            "sv",
            "sv-AX",
            "sv-FI",
            "sv-SE",
            "sw",
            "sw-CD",
            "sw-KE",
            "sw-TZ",
            "sw-UG",
            "syr",
            "syr-SY",
            "ta",
            "ta-IN",
            "ta-LK",
            "ta-MY",
            "ta-SG",
            "te",
            "te-IN",
            "teo",
            "teo-KE",
            "teo-UG",
            "tg",
            "tg-Cyrl",
            "tg-Cyrl-TJ",
            "th",
            "th-TH",
            "ti",
            "ti-ER",
            "ti-ET",
            "tig",
            "tig-ER",
            "tk",
            "tk-TM",
            "tn",
            "tn-BW",
            "tn-ZA",
            "to",
            "to-TO",
            "tr",
            "tr-CY",
            "tr-TR",
            "ts",
            "ts-ZA",
            "tt",
            "tt-RU",
            "twq",
            "twq-NE",
            "tzm",
            "tzm-Arab",
            "tzm-Arab-MA",
            "tzm-Latn",
            "tzm-Latn-DZ",
            "tzm-Latn-MA",
            "tzm-Tfng",
            "tzm-Tfng-MA",
            "ug",
            "ug-CN",
            "uk",
            "uk-UA",
            "ur",
            "ur-IN",
            "ur-PK",
            "uz",
            "uz-Arab",
            "uz-Arab-AF",
            "uz-Cyrl",
            "uz-Cyrl-UZ",
            "uz-Latn",
            "uz-Latn-UZ",
            "vai",
            "vai-Latn",
            "vai-Latn-LR",
            "vai-Vaii",
            "vai-Vaii-LR",
            "ve",
            "ve-ZA",
            "vi",
            "vi-VN",
            "vo",
            "vo-001",
            "vun",
            "vun-TZ",
            "wae",
            "wae-CH",
            "wal",
            "wal-ET",
            "wo",
            "wo-SN",
            "xh",
            "xh-ZA",
            "xog",
            "xog-UG",
            "yav",
            "yav-CM",
            "yi",
            "yi-001",
            "yo",
            "yo-BJ",
            "yo-NG",
            "zgh",
            "zgh-Tfng",
            "zgh-Tfng-MA",
            "zh",
            "zh-CN",
            "zh-Hans",
            "zh-Hans-HK",
            "zh-Hans-MO",
            "zh-Hant",
            "zh-HK",
            "zh-MO",
            "zh-SG",
            "zh-TW",
            "zu",
            "zu-ZA",
            "zh-CHS",
            "zh-CHT"
          ],
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Locale",
          "description": "The locale that will be applyed to the document"
        }
      }
    },
    "ApplyXlsxTemplateRequest": {
      "required": [
        "documentContent",
        "data"
      ],
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "binary",
          "type": "string",
          "x-ms-summary": "Document content",
          "description": "Content of the template"
        },
        "data": {
          "type": "object",
          "x-ms-summary": "Template Data",
          "description": "JSON data that should be applied to the template"
        },
        "locale": {
          "default": "en-US",
          "enum": [
            "aa",
            "aa-DJ",
            "aa-ER",
            "aa-ET",
            "af",
            "af-NA",
            "af-ZA",
            "agq",
            "agq-CM",
            "ak",
            "ak-GH",
            "am",
            "am-ET",
            "ar",
            "ar-001",
            "ar-AE",
            "ar-BH",
            "ar-DJ",
            "ar-DZ",
            "ar-EG",
            "ar-ER",
            "ar-IL",
            "ar-IQ",
            "ar-JO",
            "ar-KM",
            "ar-KW",
            "ar-LB",
            "ar-LY",
            "ar-MA",
            "ar-MR",
            "ar-OM",
            "ar-PS",
            "ar-QA",
            "ar-SA",
            "ar-SD",
            "ar-SO",
            "ar-SS",
            "ar-SY",
            "ar-TD",
            "ar-TN",
            "ar-YE",
            "arn",
            "arn-CL",
            "as",
            "as-IN",
            "asa",
            "asa-TZ",
            "ast",
            "ast-ES",
            "az",
            "az-Cyrl",
            "az-Cyrl-AZ",
            "az-Latn",
            "az-Latn-AZ",
            "ba",
            "ba-RU",
            "bas",
            "bas-CM",
            "be",
            "be-BY",
            "bem",
            "bem-ZM",
            "bez",
            "bez-TZ",
            "bg",
            "bg-BG",
            "bin",
            "bin-NG",
            "bm",
            "bm-Latn",
            "bm-Latn-ML",
            "bn",
            "bn-BD",
            "bn-IN",
            "bo",
            "bo-CN",
            "bo-IN",
            "br",
            "br-FR",
            "brx",
            "brx-IN",
            "bs",
            "bs-Cyrl",
            "bs-Cyrl-BA",
            "bs-Latn",
            "bs-Latn-BA",
            "byn",
            "byn-ER",
            "ca",
            "ca-AD",
            "ca-ES",
            "ca-ES-valencia",
            "ca-FR",
            "ca-IT",
            "ce",
            "ce-RU",
            "cgg",
            "cgg-UG",
            "chr",
            "chr-Cher",
            "chr-Cher-US",
            "co",
            "co-FR",
            "cs",
            "cs-CZ",
            "cu",
            "cu-RU",
            "cy",
            "cy-GB",
            "da",
            "da-DK",
            "da-GL",
            "dav",
            "dav-KE",
            "de",
            "de-AT",
            "de-BE",
            "de-CH",
            "de-DE",
            "de-IT",
            "de-LI",
            "de-LU",
            "dje",
            "dje-NE",
            "dsb",
            "dsb-DE",
            "dua",
            "dua-CM",
            "dv",
            "dv-MV",
            "dyo",
            "dyo-SN",
            "dz",
            "dz-BT",
            "ebu",
            "ebu-KE",
            "ee",
            "ee-GH",
            "ee-TG",
            "el",
            "el-CY",
            "el-GR",
            "en",
            "en-001",
            "en-029",
            "en-150",
            "en-AG",
            "en-AI",
            "en-AS",
            "en-AT",
            "en-AU",
            "en-BB",
            "en-BE",
            "en-BI",
            "en-BM",
            "en-BS",
            "en-BW",
            "en-BZ",
            "en-CA",
            "en-CC",
            "en-CH",
            "en-CK",
            "en-CM",
            "en-CX",
            "en-CY",
            "en-DE",
            "en-DK",
            "en-DM",
            "en-ER",
            "en-FI",
            "en-FJ",
            "en-FK",
            "en-FM",
            "en-GB",
            "en-GD",
            "en-GG",
            "en-GH",
            "en-GI",
            "en-GM",
            "en-GU",
            "en-GY",
            "en-HK",
            "en-ID",
            "en-IE",
            "en-IL",
            "en-IM",
            "en-IN",
            "en-IO",
            "en-JE",
            "en-JM",
            "en-KE",
            "en-KI",
            "en-KN",
            "en-KY",
            "en-LC",
            "en-LR",
            "en-LS",
            "en-MG",
            "en-MH",
            "en-MO",
            "en-MP",
            "en-MS",
            "en-MT",
            "en-MU",
            "en-MW",
            "en-MY",
            "en-NA",
            "en-NF",
            "en-NG",
            "en-NL",
            "en-NR",
            "en-NU",
            "en-NZ",
            "en-PG",
            "en-PH",
            "en-PK",
            "en-PN",
            "en-PR",
            "en-PW",
            "en-RW",
            "en-SB",
            "en-SC",
            "en-SD",
            "en-SE",
            "en-SG",
            "en-SH",
            "en-SI",
            "en-SL",
            "en-SS",
            "en-SX",
            "en-SZ",
            "en-TC",
            "en-TK",
            "en-TO",
            "en-TT",
            "en-TV",
            "en-TZ",
            "en-UG",
            "en-UM",
            "en-US",
            "en-VC",
            "en-VG",
            "en-VI",
            "en-VU",
            "en-WS",
            "en-ZA",
            "en-ZM",
            "en-ZW",
            "eo",
            "eo-001",
            "es",
            "es-419",
            "es-AR",
            "es-BO",
            "es-BR",
            "es-BZ",
            "es-CL",
            "es-CO",
            "es-CR",
            "es-CU",
            "es-DO",
            "es-EC",
            "es-ES",
            "es-GQ",
            "es-GT",
            "es-HN",
            "es-MX",
            "es-NI",
            "es-PA",
            "es-PE",
            "es-PH",
            "es-PR",
            "es-PY",
            "es-SV",
            "es-US",
            "es-UY",
            "es-VE",
            "et",
            "et-EE",
            "eu",
            "eu-ES",
            "ewo",
            "ewo-CM",
            "fa",
            "fa-IR",
            "ff",
            "ff-CM",
            "ff-GN",
            "ff-Latn",
            "ff-Latn-SN",
            "ff-MR",
            "ff-NG",
            "fi",
            "fi-FI",
            "fil",
            "fil-PH",
            "fo",
            "fo-DK",
            "fo-FO",
            "fr",
            "fr-029",
            "fr-BE",
            "fr-BF",
            "fr-BI",
            "fr-BJ",
            "fr-BL",
            "fr-CA",
            "fr-CD",
            "fr-CF",
            "fr-CG",
            "fr-CH",
            "fr-CI",
            "fr-CM",
            "fr-DJ",
            "fr-DZ",
            "fr-FR",
            "fr-GA",
            "fr-GF",
            "fr-GN",
            "fr-GP",
            "fr-GQ",
            "fr-HT",
            "fr-KM",
            "fr-LU",
            "fr-MA",
            "fr-MC",
            "fr-MF",
            "fr-MG",
            "fr-ML",
            "fr-MQ",
            "fr-MR",
            "fr-MU",
            "fr-NC",
            "fr-NE",
            "fr-PF",
            "fr-PM",
            "fr-RE",
            "fr-RW",
            "fr-SC",
            "fr-SN",
            "fr-SY",
            "fr-TD",
            "fr-TG",
            "fr-TN",
            "fr-VU",
            "fr-WF",
            "fr-YT",
            "fur",
            "fur-IT",
            "fy",
            "fy-NL",
            "ga",
            "ga-IE",
            "gd",
            "gd-GB",
            "gl",
            "gl-ES",
            "gn",
            "gn-PY",
            "gsw",
            "gsw-CH",
            "gsw-FR",
            "gsw-LI",
            "gu",
            "gu-IN",
            "guz",
            "guz-KE",
            "gv",
            "gv-IM",
            "ha",
            "ha-Latn",
            "ha-Latn-GH",
            "ha-Latn-NE",
            "ha-Latn-NG",
            "haw",
            "haw-US",
            "he",
            "he-IL",
            "hi",
            "hi-IN",
            "hr",
            "hr-BA",
            "hr-HR",
            "hsb",
            "hsb-DE",
            "hu",
            "hu-HU",
            "hy",
            "hy-AM",
            "ia",
            "ia-001",
            "ia-FR",
            "ibb",
            "ibb-NG",
            "id",
            "id-ID",
            "ig",
            "ig-NG",
            "ii",
            "ii-CN",
            "is",
            "is-IS",
            "it",
            "it-CH",
            "it-IT",
            "it-SM",
            "it-VA",
            "iu",
            "iu-Cans",
            "iu-Cans-CA",
            "iu-Latn",
            "iu-Latn-CA",
            "ja",
            "ja-JP",
            "jgo",
            "jgo-CM",
            "jmc",
            "jmc-TZ",
            "jv",
            "jv-Java",
            "jv-Java-ID",
            "jv-Latn",
            "jv-Latn-ID",
            "ka",
            "ka-GE",
            "kab",
            "kab-DZ",
            "kam",
            "kam-KE",
            "kde",
            "kde-TZ",
            "kea",
            "kea-CV",
            "khq",
            "khq-ML",
            "ki",
            "ki-KE",
            "kk",
            "kk-KZ",
            "kkj",
            "kkj-CM",
            "kl",
            "kl-GL",
            "kln",
            "kln-KE",
            "km",
            "km-KH",
            "kn",
            "kn-IN",
            "ko",
            "ko-KP",
            "ko-KR",
            "kok",
            "kok-IN",
            "kr",
            "kr-NG",
            "ks",
            "ks-Arab",
            "ks-Arab-IN",
            "ks-Deva",
            "ks-Deva-IN",
            "ksb",
            "ksb-TZ",
            "ksf",
            "ksf-CM",
            "ksh",
            "ksh-DE",
            "ku",
            "ku-Arab",
            "ku-Arab-IQ",
            "ku-Arab-IR",
            "kw",
            "kw-GB",
            "ky",
            "ky-KG",
            "la",
            "la-001",
            "lag",
            "lag-TZ",
            "lb",
            "lb-LU",
            "lg",
            "lg-UG",
            "lkt",
            "lkt-US",
            "ln",
            "ln-AO",
            "ln-CD",
            "ln-CF",
            "ln-CG",
            "lo",
            "lo-LA",
            "lrc",
            "lrc-IQ",
            "lrc-IR",
            "lt",
            "lt-LT",
            "lu",
            "lu-CD",
            "luo",
            "luo-KE",
            "luy",
            "luy-KE",
            "lv",
            "lv-LV",
            "mas",
            "mas-KE",
            "mas-TZ",
            "mer",
            "mer-KE",
            "mfe",
            "mfe-MU",
            "mg",
            "mg-MG",
            "mgh",
            "mgh-MZ",
            "mgo",
            "mgo-CM",
            "mi",
            "mi-NZ",
            "mk",
            "mk-MK",
            "ml",
            "ml-IN",
            "mn",
            "mn-Cyrl",
            "mn-MN",
            "mn-Mong",
            "mn-Mong-CN",
            "mn-Mong-MN",
            "mni",
            "mni-IN",
            "moh",
            "moh-CA",
            "mr",
            "mr-IN",
            "ms",
            "ms-BN",
            "ms-MY",
            "ms-SG",
            "mt",
            "mt-MT",
            "mua",
            "mua-CM",
            "my",
            "my-MM",
            "mzn",
            "mzn-IR",
            "naq",
            "naq-NA",
            "nb",
            "nb-NO",
            "nb-SJ",
            "nd",
            "nd-ZW",
            "nds",
            "nds-DE",
            "nds-NL",
            "ne",
            "ne-IN",
            "ne-NP",
            "nl",
            "nl-AW",
            "nl-BE",
            "nl-BQ",
            "nl-CW",
            "nl-NL",
            "nl-SR",
            "nl-SX",
            "nmg",
            "nmg-CM",
            "nn",
            "nn-NO",
            "nnh",
            "nnh-CM",
            "no",
            "nqo",
            "nqo-GN",
            "nr",
            "nr-ZA",
            "nso",
            "nso-ZA",
            "nus",
            "nus-SS",
            "nyn",
            "nyn-UG",
            "oc",
            "oc-FR",
            "om",
            "om-ET",
            "om-KE",
            "or",
            "or-IN",
            "os",
            "os-GE",
            "os-RU",
            "pa",
            "pa-Arab",
            "pa-Arab-PK",
            "pa-Guru",
            "pa-IN",
            "pap",
            "pap-029",
            "pl",
            "pl-PL",
            "prg",
            "prg-001",
            "prs",
            "prs-AF",
            "ps",
            "ps-AF",
            "pt",
            "pt-AO",
            "pt-BR",
            "pt-CH",
            "pt-CV",
            "pt-GQ",
            "pt-GW",
            "pt-LU",
            "pt-MO",
            "pt-MZ",
            "pt-PT",
            "pt-ST",
            "pt-TL",
            "quc",
            "quc-Latn",
            "quc-Latn-GT",
            "quz",
            "quz-BO",
            "quz-EC",
            "quz-PE",
            "rm",
            "rm-CH",
            "rn",
            "rn-BI",
            "ro",
            "ro-MD",
            "ro-RO",
            "rof",
            "rof-TZ",
            "ru",
            "ru-BY",
            "ru-KG",
            "ru-KZ",
            "ru-MD",
            "ru-RU",
            "ru-UA",
            "rw",
            "rw-RW",
            "rwk",
            "rwk-TZ",
            "sa",
            "sa-IN",
            "sah",
            "sah-RU",
            "saq",
            "saq-KE",
            "sbp",
            "sbp-TZ",
            "sd",
            "sd-Arab",
            "sd-Arab-PK",
            "sd-Deva",
            "sd-Deva-IN",
            "se",
            "se-FI",
            "se-NO",
            "se-SE",
            "seh",
            "seh-MZ",
            "ses",
            "ses-ML",
            "sg",
            "sg-CF",
            "shi",
            "shi-Latn",
            "shi-Latn-MA",
            "shi-Tfng",
            "shi-Tfng-MA",
            "si",
            "si-LK",
            "sk",
            "sk-SK",
            "sl",
            "sl-SI",
            "sma",
            "sma-NO",
            "sma-SE",
            "smj",
            "smj-NO",
            "smj-SE",
            "smn",
            "smn-FI",
            "sms",
            "sms-FI",
            "sn",
            "sn-Latn",
            "sn-Latn-ZW",
            "so",
            "so-DJ",
            "so-ET",
            "so-KE",
            "so-SO",
            "sq",
            "sq-AL",
            "sq-MK",
            "sq-XK",
            "sr",
            "sr-Cyrl",
            "sr-Cyrl-BA",
            "sr-Cyrl-ME",
            "sr-Cyrl-RS",
            "sr-Cyrl-XK",
            "sr-Latn",
            "sr-Latn-BA",
            "sr-Latn-ME",
            "sr-Latn-RS",
            "sr-Latn-XK",
            "ss",
            "ss-SZ",
            "ss-ZA",
            "ssy",
            "ssy-ER",
            "st",
            "st-LS",
            "st-ZA",
            "sv",
            "sv-AX",
            "sv-FI",
            "sv-SE",
            "sw",
            "sw-CD",
            "sw-KE",
            "sw-TZ",
            "sw-UG",
            "syr",
            "syr-SY",
            "ta",
            "ta-IN",
            "ta-LK",
            "ta-MY",
            "ta-SG",
            "te",
            "te-IN",
            "teo",
            "teo-KE",
            "teo-UG",
            "tg",
            "tg-Cyrl",
            "tg-Cyrl-TJ",
            "th",
            "th-TH",
            "ti",
            "ti-ER",
            "ti-ET",
            "tig",
            "tig-ER",
            "tk",
            "tk-TM",
            "tn",
            "tn-BW",
            "tn-ZA",
            "to",
            "to-TO",
            "tr",
            "tr-CY",
            "tr-TR",
            "ts",
            "ts-ZA",
            "tt",
            "tt-RU",
            "twq",
            "twq-NE",
            "tzm",
            "tzm-Arab",
            "tzm-Arab-MA",
            "tzm-Latn",
            "tzm-Latn-DZ",
            "tzm-Latn-MA",
            "tzm-Tfng",
            "tzm-Tfng-MA",
            "ug",
            "ug-CN",
            "uk",
            "uk-UA",
            "ur",
            "ur-IN",
            "ur-PK",
            "uz",
            "uz-Arab",
            "uz-Arab-AF",
            "uz-Cyrl",
            "uz-Cyrl-UZ",
            "uz-Latn",
            "uz-Latn-UZ",
            "vai",
            "vai-Latn",
            "vai-Latn-LR",
            "vai-Vaii",
            "vai-Vaii-LR",
            "ve",
            "ve-ZA",
            "vi",
            "vi-VN",
            "vo",
            "vo-001",
            "vun",
            "vun-TZ",
            "wae",
            "wae-CH",
            "wal",
            "wal-ET",
            "wo",
            "wo-SN",
            "xh",
            "xh-ZA",
            "xog",
            "xog-UG",
            "yav",
            "yav-CM",
            "yi",
            "yi-001",
            "yo",
            "yo-BJ",
            "yo-NG",
            "zgh",
            "zgh-Tfng",
            "zgh-Tfng-MA",
            "zh",
            "zh-CN",
            "zh-Hans",
            "zh-Hans-HK",
            "zh-Hans-MO",
            "zh-Hant",
            "zh-HK",
            "zh-MO",
            "zh-SG",
            "zh-TW",
            "zu",
            "zu-ZA",
            "zh-CHS",
            "zh-CHT"
          ],
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Locale",
          "description": "The locale that will be applyed to the document"
        }
      }
    },
    "MergeFieldsTemplateRequest": {
      "required": [
        "docxDocument",
        "data"
      ],
      "type": "object",
      "properties": {
        "docxDocument": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "DOCX document content",
          "description": "Raw content of docx document template. MergeField names should be the same as keys in template data"
        },
        "data": {
          "type": "object",
          "x-ms-summary": "Template Data",
          "description": "JSON data that should be applied to the template"
        }
      }
    },
    "DocumentProcessingResponse": {
      "type": "object",
      "properties": {
        "fileContent": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "Result file",
          "description": "Raw content of the result file"
        }
      }
    },
    "ApplyHtmlFlowTemplateRequest": {
      "required": [
        "html",
        "data"
      ],
      "type": "object",
      "properties": {
        "html": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "Source HTML",
          "description": "Text HTML template or HTML file template"
        },
        "data": {
          "type": "object",
          "x-ms-summary": "Template Data",
          "description": "JSON data that should be applied to the template"
        },
        "locale": {
          "enum": [
            "aa",
            "aa-DJ",
            "aa-ER",
            "aa-ET",
            "af",
            "af-NA",
            "af-ZA",
            "agq",
            "agq-CM",
            "ak",
            "ak-GH",
            "am",
            "am-ET",
            "ar",
            "ar-001",
            "ar-AE",
            "ar-BH",
            "ar-DJ",
            "ar-DZ",
            "ar-EG",
            "ar-ER",
            "ar-IL",
            "ar-IQ",
            "ar-JO",
            "ar-KM",
            "ar-KW",
            "ar-LB",
            "ar-LY",
            "ar-MA",
            "ar-MR",
            "ar-OM",
            "ar-PS",
            "ar-QA",
            "ar-SA",
            "ar-SD",
            "ar-SO",
            "ar-SS",
            "ar-SY",
            "ar-TD",
            "ar-TN",
            "ar-YE",
            "arn",
            "arn-CL",
            "as",
            "as-IN",
            "asa",
            "asa-TZ",
            "ast",
            "ast-ES",
            "az",
            "az-Cyrl",
            "az-Cyrl-AZ",
            "az-Latn",
            "az-Latn-AZ",
            "ba",
            "ba-RU",
            "bas",
            "bas-CM",
            "be",
            "be-BY",
            "bem",
            "bem-ZM",
            "bez",
            "bez-TZ",
            "bg",
            "bg-BG",
            "bin",
            "bin-NG",
            "bm",
            "bm-Latn",
            "bm-Latn-ML",
            "bn",
            "bn-BD",
            "bn-IN",
            "bo",
            "bo-CN",
            "bo-IN",
            "br",
            "br-FR",
            "brx",
            "brx-IN",
            "bs",
            "bs-Cyrl",
            "bs-Cyrl-BA",
            "bs-Latn",
            "bs-Latn-BA",
            "byn",
            "byn-ER",
            "ca",
            "ca-AD",
            "ca-ES",
            "ca-ES-valencia",
            "ca-FR",
            "ca-IT",
            "ce",
            "ce-RU",
            "cgg",
            "cgg-UG",
            "chr",
            "chr-Cher",
            "chr-Cher-US",
            "co",
            "co-FR",
            "cs",
            "cs-CZ",
            "cu",
            "cu-RU",
            "cy",
            "cy-GB",
            "da",
            "da-DK",
            "da-GL",
            "dav",
            "dav-KE",
            "de",
            "de-AT",
            "de-BE",
            "de-CH",
            "de-DE",
            "de-IT",
            "de-LI",
            "de-LU",
            "dje",
            "dje-NE",
            "dsb",
            "dsb-DE",
            "dua",
            "dua-CM",
            "dv",
            "dv-MV",
            "dyo",
            "dyo-SN",
            "dz",
            "dz-BT",
            "ebu",
            "ebu-KE",
            "ee",
            "ee-GH",
            "ee-TG",
            "el",
            "el-CY",
            "el-GR",
            "en",
            "en-001",
            "en-029",
            "en-150",
            "en-AG",
            "en-AI",
            "en-AS",
            "en-AT",
            "en-AU",
            "en-BB",
            "en-BE",
            "en-BI",
            "en-BM",
            "en-BS",
            "en-BW",
            "en-BZ",
            "en-CA",
            "en-CC",
            "en-CH",
            "en-CK",
            "en-CM",
            "en-CX",
            "en-CY",
            "en-DE",
            "en-DK",
            "en-DM",
            "en-ER",
            "en-FI",
            "en-FJ",
            "en-FK",
            "en-FM",
            "en-GB",
            "en-GD",
            "en-GG",
            "en-GH",
            "en-GI",
            "en-GM",
            "en-GU",
            "en-GY",
            "en-HK",
            "en-ID",
            "en-IE",
            "en-IL",
            "en-IM",
            "en-IN",
            "en-IO",
            "en-JE",
            "en-JM",
            "en-KE",
            "en-KI",
            "en-KN",
            "en-KY",
            "en-LC",
            "en-LR",
            "en-LS",
            "en-MG",
            "en-MH",
            "en-MO",
            "en-MP",
            "en-MS",
            "en-MT",
            "en-MU",
            "en-MW",
            "en-MY",
            "en-NA",
            "en-NF",
            "en-NG",
            "en-NL",
            "en-NR",
            "en-NU",
            "en-NZ",
            "en-PG",
            "en-PH",
            "en-PK",
            "en-PN",
            "en-PR",
            "en-PW",
            "en-RW",
            "en-SB",
            "en-SC",
            "en-SD",
            "en-SE",
            "en-SG",
            "en-SH",
            "en-SI",
            "en-SL",
            "en-SS",
            "en-SX",
            "en-SZ",
            "en-TC",
            "en-TK",
            "en-TO",
            "en-TT",
            "en-TV",
            "en-TZ",
            "en-UG",
            "en-UM",
            "en-US",
            "en-VC",
            "en-VG",
            "en-VI",
            "en-VU",
            "en-WS",
            "en-ZA",
            "en-ZM",
            "en-ZW",
            "eo",
            "eo-001",
            "es",
            "es-419",
            "es-AR",
            "es-BO",
            "es-BR",
            "es-BZ",
            "es-CL",
            "es-CO",
            "es-CR",
            "es-CU",
            "es-DO",
            "es-EC",
            "es-ES",
            "es-GQ",
            "es-GT",
            "es-HN",
            "es-MX",
            "es-NI",
            "es-PA",
            "es-PE",
            "es-PH",
            "es-PR",
            "es-PY",
            "es-SV",
            "es-US",
            "es-UY",
            "es-VE",
            "et",
            "et-EE",
            "eu",
            "eu-ES",
            "ewo",
            "ewo-CM",
            "fa",
            "fa-IR",
            "ff",
            "ff-CM",
            "ff-GN",
            "ff-Latn",
            "ff-Latn-SN",
            "ff-MR",
            "ff-NG",
            "fi",
            "fi-FI",
            "fil",
            "fil-PH",
            "fo",
            "fo-DK",
            "fo-FO",
            "fr",
            "fr-029",
            "fr-BE",
            "fr-BF",
            "fr-BI",
            "fr-BJ",
            "fr-BL",
            "fr-CA",
            "fr-CD",
            "fr-CF",
            "fr-CG",
            "fr-CH",
            "fr-CI",
            "fr-CM",
            "fr-DJ",
            "fr-DZ",
            "fr-FR",
            "fr-GA",
            "fr-GF",
            "fr-GN",
            "fr-GP",
            "fr-GQ",
            "fr-HT",
            "fr-KM",
            "fr-LU",
            "fr-MA",
            "fr-MC",
            "fr-MF",
            "fr-MG",
            "fr-ML",
            "fr-MQ",
            "fr-MR",
            "fr-MU",
            "fr-NC",
            "fr-NE",
            "fr-PF",
            "fr-PM",
            "fr-RE",
            "fr-RW",
            "fr-SC",
            "fr-SN",
            "fr-SY",
            "fr-TD",
            "fr-TG",
            "fr-TN",
            "fr-VU",
            "fr-WF",
            "fr-YT",
            "fur",
            "fur-IT",
            "fy",
            "fy-NL",
            "ga",
            "ga-IE",
            "gd",
            "gd-GB",
            "gl",
            "gl-ES",
            "gn",
            "gn-PY",
            "gsw",
            "gsw-CH",
            "gsw-FR",
            "gsw-LI",
            "gu",
            "gu-IN",
            "guz",
            "guz-KE",
            "gv",
            "gv-IM",
            "ha",
            "ha-Latn",
            "ha-Latn-GH",
            "ha-Latn-NE",
            "ha-Latn-NG",
            "haw",
            "haw-US",
            "he",
            "he-IL",
            "hi",
            "hi-IN",
            "hr",
            "hr-BA",
            "hr-HR",
            "hsb",
            "hsb-DE",
            "hu",
            "hu-HU",
            "hy",
            "hy-AM",
            "ia",
            "ia-001",
            "ia-FR",
            "ibb",
            "ibb-NG",
            "id",
            "id-ID",
            "ig",
            "ig-NG",
            "ii",
            "ii-CN",
            "is",
            "is-IS",
            "it",
            "it-CH",
            "it-IT",
            "it-SM",
            "it-VA",
            "iu",
            "iu-Cans",
            "iu-Cans-CA",
            "iu-Latn",
            "iu-Latn-CA",
            "ja",
            "ja-JP",
            "jgo",
            "jgo-CM",
            "jmc",
            "jmc-TZ",
            "jv",
            "jv-Java",
            "jv-Java-ID",
            "jv-Latn",
            "jv-Latn-ID",
            "ka",
            "ka-GE",
            "kab",
            "kab-DZ",
            "kam",
            "kam-KE",
            "kde",
            "kde-TZ",
            "kea",
            "kea-CV",
            "khq",
            "khq-ML",
            "ki",
            "ki-KE",
            "kk",
            "kk-KZ",
            "kkj",
            "kkj-CM",
            "kl",
            "kl-GL",
            "kln",
            "kln-KE",
            "km",
            "km-KH",
            "kn",
            "kn-IN",
            "ko",
            "ko-KP",
            "ko-KR",
            "kok",
            "kok-IN",
            "kr",
            "kr-NG",
            "ks",
            "ks-Arab",
            "ks-Arab-IN",
            "ks-Deva",
            "ks-Deva-IN",
            "ksb",
            "ksb-TZ",
            "ksf",
            "ksf-CM",
            "ksh",
            "ksh-DE",
            "ku",
            "ku-Arab",
            "ku-Arab-IQ",
            "ku-Arab-IR",
            "kw",
            "kw-GB",
            "ky",
            "ky-KG",
            "la",
            "la-001",
            "lag",
            "lag-TZ",
            "lb",
            "lb-LU",
            "lg",
            "lg-UG",
            "lkt",
            "lkt-US",
            "ln",
            "ln-AO",
            "ln-CD",
            "ln-CF",
            "ln-CG",
            "lo",
            "lo-LA",
            "lrc",
            "lrc-IQ",
            "lrc-IR",
            "lt",
            "lt-LT",
            "lu",
            "lu-CD",
            "luo",
            "luo-KE",
            "luy",
            "luy-KE",
            "lv",
            "lv-LV",
            "mas",
            "mas-KE",
            "mas-TZ",
            "mer",
            "mer-KE",
            "mfe",
            "mfe-MU",
            "mg",
            "mg-MG",
            "mgh",
            "mgh-MZ",
            "mgo",
            "mgo-CM",
            "mi",
            "mi-NZ",
            "mk",
            "mk-MK",
            "ml",
            "ml-IN",
            "mn",
            "mn-Cyrl",
            "mn-MN",
            "mn-Mong",
            "mn-Mong-CN",
            "mn-Mong-MN",
            "mni",
            "mni-IN",
            "moh",
            "moh-CA",
            "mr",
            "mr-IN",
            "ms",
            "ms-BN",
            "ms-MY",
            "ms-SG",
            "mt",
            "mt-MT",
            "mua",
            "mua-CM",
            "my",
            "my-MM",
            "mzn",
            "mzn-IR",
            "naq",
            "naq-NA",
            "nb",
            "nb-NO",
            "nb-SJ",
            "nd",
            "nd-ZW",
            "nds",
            "nds-DE",
            "nds-NL",
            "ne",
            "ne-IN",
            "ne-NP",
            "nl",
            "nl-AW",
            "nl-BE",
            "nl-BQ",
            "nl-CW",
            "nl-NL",
            "nl-SR",
            "nl-SX",
            "nmg",
            "nmg-CM",
            "nn",
            "nn-NO",
            "nnh",
            "nnh-CM",
            "no",
            "nqo",
            "nqo-GN",
            "nr",
            "nr-ZA",
            "nso",
            "nso-ZA",
            "nus",
            "nus-SS",
            "nyn",
            "nyn-UG",
            "oc",
            "oc-FR",
            "om",
            "om-ET",
            "om-KE",
            "or",
            "or-IN",
            "os",
            "os-GE",
            "os-RU",
            "pa",
            "pa-Arab",
            "pa-Arab-PK",
            "pa-Guru",
            "pa-IN",
            "pap",
            "pap-029",
            "pl",
            "pl-PL",
            "prg",
            "prg-001",
            "prs",
            "prs-AF",
            "ps",
            "ps-AF",
            "pt",
            "pt-AO",
            "pt-BR",
            "pt-CH",
            "pt-CV",
            "pt-GQ",
            "pt-GW",
            "pt-LU",
            "pt-MO",
            "pt-MZ",
            "pt-PT",
            "pt-ST",
            "pt-TL",
            "quc",
            "quc-Latn",
            "quc-Latn-GT",
            "quz",
            "quz-BO",
            "quz-EC",
            "quz-PE",
            "rm",
            "rm-CH",
            "rn",
            "rn-BI",
            "ro",
            "ro-MD",
            "ro-RO",
            "rof",
            "rof-TZ",
            "ru",
            "ru-BY",
            "ru-KG",
            "ru-KZ",
            "ru-MD",
            "ru-RU",
            "ru-UA",
            "rw",
            "rw-RW",
            "rwk",
            "rwk-TZ",
            "sa",
            "sa-IN",
            "sah",
            "sah-RU",
            "saq",
            "saq-KE",
            "sbp",
            "sbp-TZ",
            "sd",
            "sd-Arab",
            "sd-Arab-PK",
            "sd-Deva",
            "sd-Deva-IN",
            "se",
            "se-FI",
            "se-NO",
            "se-SE",
            "seh",
            "seh-MZ",
            "ses",
            "ses-ML",
            "sg",
            "sg-CF",
            "shi",
            "shi-Latn",
            "shi-Latn-MA",
            "shi-Tfng",
            "shi-Tfng-MA",
            "si",
            "si-LK",
            "sk",
            "sk-SK",
            "sl",
            "sl-SI",
            "sma",
            "sma-NO",
            "sma-SE",
            "smj",
            "smj-NO",
            "smj-SE",
            "smn",
            "smn-FI",
            "sms",
            "sms-FI",
            "sn",
            "sn-Latn",
            "sn-Latn-ZW",
            "so",
            "so-DJ",
            "so-ET",
            "so-KE",
            "so-SO",
            "sq",
            "sq-AL",
            "sq-MK",
            "sq-XK",
            "sr",
            "sr-Cyrl",
            "sr-Cyrl-BA",
            "sr-Cyrl-ME",
            "sr-Cyrl-RS",
            "sr-Cyrl-XK",
            "sr-Latn",
            "sr-Latn-BA",
            "sr-Latn-ME",
            "sr-Latn-RS",
            "sr-Latn-XK",
            "ss",
            "ss-SZ",
            "ss-ZA",
            "ssy",
            "ssy-ER",
            "st",
            "st-LS",
            "st-ZA",
            "sv",
            "sv-AX",
            "sv-FI",
            "sv-SE",
            "sw",
            "sw-CD",
            "sw-KE",
            "sw-TZ",
            "sw-UG",
            "syr",
            "syr-SY",
            "ta",
            "ta-IN",
            "ta-LK",
            "ta-MY",
            "ta-SG",
            "te",
            "te-IN",
            "teo",
            "teo-KE",
            "teo-UG",
            "tg",
            "tg-Cyrl",
            "tg-Cyrl-TJ",
            "th",
            "th-TH",
            "ti",
            "ti-ER",
            "ti-ET",
            "tig",
            "tig-ER",
            "tk",
            "tk-TM",
            "tn",
            "tn-BW",
            "tn-ZA",
            "to",
            "to-TO",
            "tr",
            "tr-CY",
            "tr-TR",
            "ts",
            "ts-ZA",
            "tt",
            "tt-RU",
            "twq",
            "twq-NE",
            "tzm",
            "tzm-Arab",
            "tzm-Arab-MA",
            "tzm-Latn",
            "tzm-Latn-DZ",
            "tzm-Latn-MA",
            "tzm-Tfng",
            "tzm-Tfng-MA",
            "ug",
            "ug-CN",
            "uk",
            "uk-UA",
            "ur",
            "ur-IN",
            "ur-PK",
            "uz",
            "uz-Arab",
            "uz-Arab-AF",
            "uz-Cyrl",
            "uz-Cyrl-UZ",
            "uz-Latn",
            "uz-Latn-UZ",
            "vai",
            "vai-Latn",
            "vai-Latn-LR",
            "vai-Vaii",
            "vai-Vaii-LR",
            "ve",
            "ve-ZA",
            "vi",
            "vi-VN",
            "vo",
            "vo-001",
            "vun",
            "vun-TZ",
            "wae",
            "wae-CH",
            "wal",
            "wal-ET",
            "wo",
            "wo-SN",
            "xh",
            "xh-ZA",
            "xog",
            "xog-UG",
            "yav",
            "yav-CM",
            "yi",
            "yi-001",
            "yo",
            "yo-BJ",
            "yo-NG",
            "zgh",
            "zgh-Tfng",
            "zgh-Tfng-MA",
            "zh",
            "zh-CN",
            "zh-Hans",
            "zh-Hans-HK",
            "zh-Hans-MO",
            "zh-Hant",
            "zh-HK",
            "zh-MO",
            "zh-SG",
            "zh-TW",
            "zu",
            "zu-ZA",
            "zh-CHS",
            "zh-CHT"
          ],
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Locale",
          "description": "The locale that will be applyed to the document"
        }
      }
    },
    "ApplyHtmlTemplateResponse": {
      "type": "object",
      "properties": {
        "htmlResult": {
          "type": "string",
          "x-ms-summary": "Result HTML",
          "description": "Raw HTML result"
        }
      }
    },
    "Html2PdfFlowRequest": {
      "required": [
        "html"
      ],
      "type": "object",
      "properties": {
        "html": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "Source HTML",
          "description": "HTML markup that should be converted to PDF"
        },
        "headerHtml": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Header HTML",
          "description": "HTML markup that should be added as a header"
        },
        "footerHtml": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Footer HTML",
          "description": "HTML markup that should be added as a footer"
        },
        "size": {
          "enum": [
            "A4",
            "Letter",
            "LetterSmall",
            "Tabloid",
            "Ledger",
            "Legal",
            "Statement",
            "Executive",
            "A2",
            "A3",
            "A4Small",
            "A5",
            "B4",
            "B5"
          ],
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Papper Size",
          "description": "Can be A4,A5 etc..."
        },
        "orientation": {
          "enum": [
            "Portrait",
            "Landscape"
          ],
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Orientation",
          "description": "Portrait vs Landscape"
        },
        "margins": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Margins",
          "description": "The page margins that separated ' '. Way of setting values as in CSS"
        }
      }
    },
    "Docx2PdfRequest": {
      "required": [
        "documentContent"
      ],
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "Document content",
          "description": "Content of document that should be converted to PDF"
        }
      }
    },
    "Xlsx2PdfRequest": {
      "required": [
        "documentContent"
      ],
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "Document content",
          "description": "Content of document that should be converted to PDF"
        }
      }
    },
    "SplitPdfRequest": {
      "required": [
        "documentContent"
      ],
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "Content of the PDF document",
          "description": "Raw content of PDF document"
        },
        "startPage": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Start Page",
          "description": "The first page to start split (1 based)"
        },
        "endPage": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "End Page",
          "description": "The last page to split (inclusive)"
        },
        "splitAtPage": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Split At Page",
          "description": "Number of pages per partition"
        },
        "password": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Password",
          "description": "Password to decrypt document"
        }
      }
    },
    "DocumentsArrayResponse": {
      "type": "object",
      "properties": {
        "resultFilesContents": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "format": "byte",
            "type": "string"
          },
          "x-ms-summary": "Result files",
          "description": "The array of raw content of result files"
        }
      }
    },
    "MergePdfRequest": {
      "required": [
        "documentsContents"
      ],
      "type": "object",
      "properties": {
        "documentsContents": {
          "uniqueItems": false,
          "type": "array",
          "items": {
            "format": "binary",
            "type": "string"
          },
          "x-ms-summary": "Content of PDF documents",
          "description": "The array of raw content of PDF documents"
        }
      }
    },
    "Pdf2TextRequest": {
      "required": [
        "documentContent"
      ],
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "Content of the PDF document",
          "description": "Raw content of PDF document"
        },
        "resultType": {
          "enum": [
            "Raw",
            "HTML"
          ],
          "type": "string",
          "x-ms-summary": "Result Type",
          "description": "Raw or HTML"
        },
        "startPage": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Start Page",
          "description": "The first page to start extraction (1 based)"
        },
        "endPage": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "End Page",
          "description": "The last page to extract (inclusive)"
        },
        "password": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Password",
          "description": "Password to decrypt document"
        }
      }
    },
    "Pdf2ImageRequest": {
      "required": [
        "documentContent"
      ],
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "Content of the PDF document",
          "description": "Raw content of PDF document"
        },
        "format": {
          "enum": [
            "Jpeg",
            "Png",
            "Gif",
            "Bmp"
          ],
          "type": "string",
          "x-ms-summary": "Image Format",
          "description": "The format of the result image"
        },
        "startPage": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Start Page",
          "description": "The first page to start extraction (1 based)"
        },
        "endPage": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "End Page",
          "description": "The last page to extract (inclusive)"
        },
        "pages": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Pages",
          "description": "Page numbers for extraction separated by ';' (only this pages will be extracted)"
        },
        "dpi": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "DPI",
          "description": "The resolution of the result image"
        },
        "password": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Password",
          "description": "Password to decrypt document"
        }
      }
    },
    "FillInPdfFormRequest": {
      "required": [
        "documentContent",
        "jsonData"
      ],
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "Content of the PDF document",
          "description": "Raw content of PDF document"
        },
        "jsonData": {
          "type": "string",
          "x-ms-summary": "JSON data",
          "description": "The data that will be used to fill out the form"
        }
      }
    },
    "GetPdfFormRequest": {
      "required": [
        "documentContent"
      ],
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "Content of the PDF document",
          "description": "Raw content of PDF document"
        },
        "password": {
          "type": "string",
          "x-ms-summary": "Password",
          "description": "Password to decrypt document"
        }
      }
    },
    "ProtectPdfRequest": {
      "required": [
        "documentContent",
        "allowPrinting",
        "allowModification",
        "allowExtract",
        "allowAnnotate"
      ],
      "type": "object",
      "properties": {
        "documentContent": {
          "format": "byte",
          "type": "string",
          "x-ms-summary": "Content of the PDF document",
          "description": "Raw content of PDF document"
        },
        "allowPrinting": {
          "type": "boolean",
          "x-ms-summary": "Enable printing",
          "description": "Protect the PDF file from being printed out"
        },
        "allowModification": {
          "type": "boolean",
          "x-ms-summary": "Enable modification",
          "description": "Protect the PDF file from being edited"
        },
        "allowExtract": {
          "type": "boolean",
          "x-ms-summary": "Enable extract data",
          "description": "Allows extraction of text, images, and other media from the PDF file"
        },
        "allowAnnotate": {
          "type": "boolean",
[...]
