{
  "swagger": "2.0",
  "info": {
    "title": "Baron Blue",
    "description": "Baron Blue allows you to perform complex operations in only one action. Convert JSON, XML, CSV, XLS, XLSX, and YAML between themselves in any combination. Convert to and from Excel Dates, find information in strings, find content-types and extensions, convert IP addresses (range, CIDR), and much more. New actions come monthly, and if you\u2019re a part of the manueltgomes.com/club, you\u2019ll get the connector for free, so be sure to check it out.",
    "version": "1.0",
    "contact": {
      "name": "Manuel T Gomes Club Support",
      "url": "https://manueltgomes.com/support",
      "email": "help@manueltgomes.com"
    }
  },
  "host": "api.manueltgomes.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.manueltgomes.com/baron-blue"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://manueltgomes.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/convert/string/content_type/to/extension/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "extension": {
                  "type": "string",
                  "description": "The converted extension from the content-type",
                  "title": "Converted Extension"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert content-type to extension",
        "description": "Converts a content-type (e.g. text/plain) to an extension (e.g. \"txt\")",
        "operationId": "ConvertStringContentTypeToExtension",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "convert": {
                  "type": "string",
                  "description": "Please insert only a content-type (e.g. \"text/plain\")",
                  "title": "The content-type to convert"
                }
              },
              "required": [
                "convert"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/excel/number/to/date/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "extension": {
                  "type": "string",
                  "description": "The converted date from the Excel Number",
                  "title": "Converted Date"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert Excel Number to date",
        "description": "Convert Excel's representation of a date (e.g., 44677) into a date (e.g., \"2022-04-26T00:00:00Z\")",
        "operationId": "ConvertExcelNumberToDate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "convert": {
                  "type": "string",
                  "description": "Please insert an Excel numeric date (e.g., 44677)",
                  "title": "The number to convert"
                }
              },
              "required": [
                "convert"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/excel/number/to/timestamp/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "extension": {
                  "type": "string",
                  "description": "The converted timestamp from the Excel Number",
                  "title": "Converted Timestamp"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert Excel Number to timestamp",
        "description": "Convert Excel's representation of a date (44762) into a UNIX timestamp (e.g., 1658268000000)",
        "operationId": "ConvertExcelNumberToTimestamp",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "convert": {
                  "type": "string",
                  "description": "Please insert an Excel numeric date (e.g., 44677)",
                  "title": "The number to convert"
                }
              },
              "required": [
                "convert"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/date/to/excel/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "extension": {
                  "type": "string",
                  "description": "The converted Excel date from the Date",
                  "title": "Converted Excel Date"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert Date to Excel Number",
        "description": "Convert a date (e.g., \"2022-04-26T00:00:00Z\") to an Excel representation of a date (e.g., 44677)",
        "operationId": "ConvertDateToExcelNumber",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "convert": {
                  "type": "string",
                  "description": "Please insert valid date (e.g., \"2022-04-26T00:00:00Z\")",
                  "title": "The date to convert"
                }
              },
              "required": [
                "convert"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/string/extension/to/content_type/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "content_type": {
                  "type": "string",
                  "description": "The converted content-type from the extension",
                  "title": "Converted Content-Type"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert extension to content-type",
        "description": "Converts a file extension (e.g. \"txt\") to a content-type (e.g. \"text/plain\")",
        "operationId": "ConvertStringExtensionToContentType",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "convert": {
                  "type": "string",
                  "description": "Please insert an extension (e.g., \"txt\")",
                  "title": "The extension to convert"
                }
              },
              "required": [
                "convert"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/string/to/boolean/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "converted": {
                  "type": "boolean",
                  "description": "The converted boolean from the text",
                  "title": "Converted Boolean",
                  "enum": [
                    true,
                    false
                  ]
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert Text to Boolean",
        "description": "Converts the text (e.g. \"True\") to a boolean value (true)",
        "operationId": "ConvertTextToBoolean",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "convert": {
                  "type": "string",
                  "description": "Please insert a text (e.g., \"True\") with a boolean value",
                  "title": "Text to convert to boolean"
                }
              },
              "required": [
                "convert"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/string/to/int/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "converted": {
                  "type": "integer",
                  "description": "The converted integer from the text",
                  "title": "Converted Integer",
                  "format": "int32"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert Text to Integer",
        "description": "Converts the text (e.g. \" 123\") to a integer value (123)",
        "operationId": "ConvertTextToInteger",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "convert": {
                  "type": "string",
                  "description": "Please insert a text (e.g., \"123\") with an integer value",
                  "title": "Text to convert to integer"
                }
              },
              "required": [
                "convert"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/string/to/float/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "converted": {
                  "type": "number",
                  "description": "The converted float from the text",
                  "title": "Converted Float",
                  "format": "float"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert Text to Float",
        "description": "Converts the text (e.g. \" 123,33\")  to a float value (123.33)",
        "operationId": "ConvertTextToFloat",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "convert": {
                  "type": "string",
                  "description": "Please insert a text (e.g., \"123,33\") with a float or integer value",
                  "title": "Text to convert to float"
                },
                "separator": {
                  "type": "string",
                  "description": "What is the decimal separator? Can be \u201c.\u201d or \u201c,\u201d",
                  "title": "What is the separator?",
                  "enum": [
                    "Comma",
                    "Period"
                  ],
                  "default": "Period"
                }
              },
              "required": [
                "convert",
                "separator"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/string/ip/range/to/address/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "description": "The list of IPs found in the IP Range",
              "title": "List of IPs",
              "type": "string"
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert IP Range to IP List",
        "description": "Convert all ranges (e.g., \"1.1.1.1 - 1.1.1.10\") to a list of IPs (e.g., [\"1.1.1.1\",\"1.1.1.2\",, ...])",
        "operationId": "ConvertIPRangeToIPList",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "convert": {
                  "type": "string",
                  "description": "Please insert an IP range (e.g., \"1.1.1.1 - 1.1.1.10\")",
                  "title": "IP ranges to convert"
                }
              },
              "required": [
                "convert"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/string/ip/cidr/to/address/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "The list of IPs found in the CIDR IP",
                "title": "List of IPs"
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert CIDR IP to IP List",
        "description": "Convert all CIDR IPs (e.g. \"1.1.1.1/30\") to a list of IPs (e.g. [\"1.1.1.1\",\"1.1.1.2\"])",
        "operationId": "ConvertIPCIDRToIPList",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "convert": {
                  "type": "string",
                  "description": "Please insert a CIDR IP (e.g. \"1.1.1.1/30\")",
                  "title": "CIDR IP to convert"
                }
              },
              "required": [
                "convert"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/file/json/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "converted": {
                  "type": "string",
                  "description": "The converted file from a JSON file or text",
                  "title": "Converted File"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert a JSON File",
        "description": "Converts a JSON file to the supported (XLS, XLSX, XML, YAML, CSV) file type",
        "operationId": "ConvertJSONFile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "return_type": {
                  "type": "string",
                  "description": "return_type",
                  "title": "The return type",
                  "x-ms-visibility": "internal",
                  "default": "raw"
                },
                "convert": {
                  "type": "string",
                  "description": "Please insert the JSON's text or file content to convert",
                  "title": "JSON File to convert"
                },
                "convert_to": {
                  "type": "string",
                  "description": "The type of file you want to get back",
                  "title": "What do you want to convert it to?",
                  "enum": [
                    "Excel 97-2004 (.xls)",
                    "Excel (.xlsx)",
                    "CSV",
                    "XML",
                    "YAML"
                  ]
                }
              },
              "required": [
                "convert_to",
                "convert",
                "return_type"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/file/xls/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "converted": {
                  "type": "string",
                  "description": "The converted file from an Excel 97-2004 (.xls) file",
                  "title": "Converted File"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert a Excel 97-2004 (.xls) File",
        "description": "Converts an Excel 97-2004 (.xls) file to the supported (XLSX, XML, JSON, YAML, CSV) file type",
        "operationId": "ConvertXLSFile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "return_type": {
                  "type": "string",
                  "description": "return_type",
                  "title": "The return type",
                  "x-ms-visibility": "internal",
                  "default": "raw"
                },
                "convert": {
                  "type": "string",
                  "description": "Please insert the file content to convert",
                  "title": "Excel 97-2004 (.xls) file to convert",
                  "format": "byte"
                },
                "convert_to": {
                  "type": "string",
                  "description": "The type of file you want to get back",
                  "title": "What do you want to convert it to?",
                  "enum": [
                    "JSON",
                    "Excel (.xlsx)",
                    "CSV",
                    "XML",
                    "YAML"
                  ]
                }
              },
              "required": [
                "convert_to",
                "convert",
                "return_type"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/file/xlsx/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "converted": {
                  "type": "string",
                  "description": "The converted file from an Excel (.xlsx) file",
                  "title": "Converted File"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert a Excel Workbook (.xlsx) File",
        "description": "Converts an Excel Workbook (.xlsx) file to the supported (XLS, XML, JSON, YAML, CSV) file type",
        "operationId": "ConvertXLSXFile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "return_type": {
                  "type": "string",
                  "description": "return_type",
                  "title": "The return type",
                  "x-ms-visibility": "internal",
                  "default": "raw"
                },
                "convert": {
                  "type": "string",
                  "description": "Please insert the file content to convert",
                  "title": "Excel (.xlsx) to convert",
                  "format": "byte"
                },
                "convert_to": {
                  "type": "string",
                  "description": "The type of file you want to get back",
                  "title": "What do you want to convert it to?",
                  "enum": [
                    "JSON",
                    "Excel 97-2004 (.xls)",
                    "CSV",
                    "XML",
                    "YAML"
                  ]
                }
              },
              "required": [
                "convert_to",
                "convert",
                "return_type"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/file/csv/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "converted": {
                  "type": "string",
                  "description": "The converted file from a CSV file",
                  "title": "Converted File"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert a CSV File",
        "description": "Converts a CSV file to the supported (XLS, XLSX, XML, JSON, YAML) file type",
        "operationId": "ConvertCSVFile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "return_type": {
                  "type": "string",
                  "description": "return_type",
                  "title": "The return type",
                  "x-ms-visibility": "internal",
                  "default": "raw"
                },
                "convert": {
                  "type": "string",
                  "description": "Please insert the file content to convert",
                  "title": "CSV to convert"
                },
                "convert_to": {
                  "type": "string",
                  "description": "The type of file you want to get back",
                  "title": "What do you want to convert it to?",
                  "enum": [
                    "JSON",
                    "Excel 97-2004 (.xls)",
                    "Excel (.xlsx)",
                    "XML",
                    "YAML"
                  ]
                }
              },
              "required": [
                "convert_to",
                "convert",
                "return_type"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/file/xml/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "converted": {
                  "type": "string",
                  "description": "The converted file from an XML file",
                  "title": "Converted File"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert a XML File",
        "description": "Converts an XML file to the supported (XLS, XLSX, CSV, JSON, YAML)  file type",
        "operationId": "ConvertXMLFile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "return_type": {
                  "type": "string",
                  "description": "return_type",
                  "title": "The return type",
                  "x-ms-visibility": "internal",
                  "default": "raw"
                },
                "convert": {
                  "type": "string",
                  "description": "Please insert the file content to convert",
                  "title": "XML to convert"
                },
                "convert_to": {
                  "type": "string",
                  "description": "The type of file you want to get back",
                  "title": "What do you want to convert it to?",
                  "enum": [
                    "JSON",
                    "Excel 97-2004 (.xls)",
                    "Excel (.xlsx)",
                    "CSV",
                    "YAML"
                  ]
                }
              },
              "required": [
                "convert_to",
                "convert",
                "return_type"
              ]
            }
          }
        ]
      }
    },
    "/v1/convert/file/yaml/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "converted": {
                  "type": "string",
                  "description": "The converted file from a YAML file",
                  "title": "Converted File"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your request. Check the error message for more details.",
                  "title": "Bad Request"
                }
              }
            }
          },
          "401": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was a problem with your authentication. Try refreshing the connection or check if your subscription is still valid.",
                  "title": "Unauthorized"
                }
              }
            }
          },
          "500": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "description": "There was an unexpected error. The development team was notified.",
                  "title": "Unexpected error"
                }
              }
            }
          }
        },
        "summary": "Convert a YAML File",
        "description": "Converts a YAML file to the supported (XLS, XLSX, XML, JSON, CSV) file type",
        "operationId": "ConvertYAMLFile",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "return_type": {
                  "type": "string",
                  "description": "return_type",
                  "title": "The return type",
                  "x-ms-visibility": "internal",
                  "default": "raw"
                },
                "convert": {
                  "type": "string",
                  "description": "Please insert the file content to convert",
                  "title": "YAML to convert"
                },
                "convert_to": {
                  "type": "string",
                  "description": "The type of file you want to get back",
                  "title": "What do you want to convert it to?",
                  "enum": [
                    "JSON",
                    "Excel 97-2004 (.xls)",
                    "Excel (.xlsx)",
                    "CSV",
                    "XML"
                  ]
                }
              },
              "required": [
                "convert_to",
                "convert",
                "return_type"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://manueltgomes.com/oauth/authorize",
      "tokenUrl": "https://manueltgomes.com/oauth/token",
      "scopes": {
        "basic openid profile": "basic openid profile"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "basic openid profile"
      ]
    }
  ],
  "tags": []
}