{
  "swagger": "2.0",
  "info": {
    "title": "RiskIQ Digital Footprint",
    "contact": {
      "name": "RiskIQ Digital Footprint",
      "url": "https://www.riskiq.com/integrations/microsoft/",
      "email": "support@riskiq.com"
    },
    "description": "RiskIQ Digital Footprint for Microsoft enables security teams to take control of their attack surface, reducing their risk and creating a better defense. The RiskIQ Digital Footprint connector for Microsoft will automatically make your external asset inventory including asset metadata available to your team for automated operations. Use this data to build reports, trigger alerts or aid in the identification of vulnerabilities or exposures against your assets.",
    "version": "1.0"
  },
  "host": "api.riskiq.net",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/globalinventory/tags": {
      "get": {
        "description": "Retrieve the list of tags defined for a workspace.",
        "summary": "Get the list of tags",
        "operationId": "Tags",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/tags"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/savedsearches": {
      "get": {
        "description": "Retrieve the list of saved searches for a workspace.",
        "summary": "Get the list of saved searches",
        "operationId": "SavedSearches",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/savedSearches"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/brands": {
      "get": {
        "description": "Retrieve the list of brands defined for a workspace.",
        "summary": "Get the list of brands",
        "operationId": "Brands",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/brands"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/organizations": {
      "get": {
        "description": "Retrieve the list of organizations defined for a workspace.",
        "summary": "Get the list of organizations",
        "operationId": "Organizations",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/organizations"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/deltas/summary": {
      "get": {
        "description": "Retrieve summary describing counts of confirmed assets that have been added or removed from inventory over the given time period.",
        "summary": "Get the count of confirmed assets added or removed",
        "operationId": "DeltasSummary",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "The date of the run in which the changes were identified.",
            "type": "string",
            "x-ms-summary": "Date",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "The period of time over which the changes were identified.  Supported ranges are 1, 7 and 30 days.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "enum": [
              1,
              7,
              30
            ],
            "x-ms-summary": "Range",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Summary counts will only include assets having this brand.",
            "type": "string",
            "x-ms-summary": "Brand",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "description": "Summary counts will only include assets having this organization.",
            "type": "string",
            "x-ms-summary": "Organization",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Summary counts will only include assets having this tag.",
            "type": "string",
            "x-ms-summary": "Tag",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/GlobalInventoryDeltasSummaryResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/ape/hit/nop": {
      "get": {
        "description": "Retrieve the list of newly opened ports hits.",
        "summary": "Get the list of newly opened ports",
        "operationId": "NewlyOpenedPorts",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "The newly open port period in days.  Valid options are 7, 14 & 30.  If the period is not specified then newly opened ports from the all time period will be returned.",
            "type": "integer",
            "format": "int32",
            "enum": [
              7,
              14,
              30
            ],
            "x-ms-summary": "Period",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "ports",
            "in": "query",
            "required": false,
            "description": "Comma delimited list of ports used to limit the results to those which include a port in the list.",
            "type": "string",
            "x-ms-summary": "Ports",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "excludedPorts",
            "in": "query",
            "required": false,
            "description": "Comma delimited list of ports used to limit the results to those which do not include a port in the list",
            "type": "string",
            "x-ms-summary": "Excluded Ports",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "Timestamp in milliseconds used to limit the results to newly opened port hits seen since after the timestamp.",
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "stream",
            "in": "query",
            "required": false,
            "description": "Used to indicate if the request is using the streaming feature of the endpoint.",
            "type": "boolean",
            "enum": [
              true,
              false
            ],
            "x-ms-summary": "Stream",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The maximum number of newly opened port hits that will be returned.",
            "type": "integer",
            "format": "int32",
            "default": 100,
            "x-ms-summary": "Size",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/ApeHits"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/search": {
      "get": {
        "description": "Search Global Inventory recent dataset for assets that match the criteria.",
        "summary": "Get assets from recent dataset by search id or name",
        "operationId": "GetRecentSearch",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "savedSearchID",
            "in": "query",
            "required": false,
            "description": "The ID of the Saved Search you want to execute.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Saved Search ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "savedSearchName",
            "in": "query",
            "required": false,
            "description": "The name of the Saved Search you want to execute.",
            "type": "string",
            "x-ms-summary": "Saved Search Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "global",
            "in": "query",
            "required": false,
            "description": "Setting this value to true will search all of global inventory.  Setting it to false will search for assets in the workspace associated with the authentication token.",
            "type": "boolean",
            "default": false,
            "enum": [
              false,
              true
            ],
            "x-ms-summary": "Global",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The index of the page to retrieve.  The index is zero based so the first page is page 0.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The number of matching assets to return per page",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "x-ms-summary": "Size",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/GlobalInventorySearchResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      },
      "post": {
        "description": "Search Global Inventory recent dataset for a set of assets that match the criteria.",
        "summary": "Request to get the assets from the recent dataset that match the criteria",
        "operationId": "SearchRecent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "description": "The search query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchQuery"
            },
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "global",
            "in": "query",
            "required": false,
            "description": "Setting this value to true will search all of global inventory Setting it to false will search for assets in the workspace associated with the authentication token",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Global",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The index of the page to retrieve.The index is zero based so the first page is page 0",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The number of matching assets to return per page",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "x-ms-summary": "Size",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/GlobalInventorySearchResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/assets/{type}/connected": {
      "get": {
        "description": "Retrieve the set of assets which are connected to the requested asset.",
        "summary": "Get connected assets by type",
        "operationId": "ConnectedAssetsByType",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "The type of the asset to find connected assets for.  Valid Types: (Domain, Host, IP_Address, IP_Block, AS, Page, SSL_Cert, Name_Server, Mail_Server, Contact)",
            "type": "string",
            "enum": [
              "Domain",
              "Host",
              "IP_Address",
              "IP_Block",
              "AS",
              "Page",
              "SSL_Cert",
              "Name_Server",
              "Mail_Server",
              "Contact"
            ],
            "x-ms-summary": "Type",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "The name of the asset to find connected assets for",
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "global",
            "in": "query",
            "required": false,
            "description": "Setting this value to true will search all of global inventory.  Setting it to false will search for assets in the workspace associated with the authentication token.",
            "type": "boolean",
            "default": false,
            "enum": [
              false,
              true
            ],
            "x-ms-summary": "Global",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The index of the page to retrieve.  The index is zero based so the first page is page 0.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The response contains a page of assets for each related asset type.  Size determines the number of associated assets of each type that are returned.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Size",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/GlobalInventoryAsset"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/task/{id}/cancel": {
      "post": {
        "description": "Cancel further processing of an asynchronous Global Inventory update task.",
        "summary": "Cancel the task for global inventory update",
        "operationId": "CancelTask",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": false,
            "description": "Enter empty json object",
            "schema": {
              "type": "object",
              "default": {}
            },
            "x-ms-summary": "Body",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The id of the asynchronous task to cancel",
            "type": "string",
            "x-ms-summary": "Task Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/TaskResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/assets/add": {
      "post": {
        "description": "Add one or more assets and a set of properties.",
        "summary": "Add the assets to global inventory",
        "operationId": "AssetsAdd",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The add request",
            "schema": {
              "$ref": "#/definitions/AssetAddRequest"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          },
          {
            "name": "failOnError",
            "in": "query",
            "description": "If true then the request will fail if an invalid update is detected. If false then any invalid updates will be skipped but others will continue.",
            "required": false,
            "default": true,
            "type": "boolean",
            "x-ms-summary": "Fail On Error",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/GlobalInventoryAddResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/assets/bulk": {
      "post": {
        "description": "Bulk retrieve a set of assets by name and type.",
        "summary": "Request to search the list of assets by type",
        "operationId": "BulkRetrieve",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "assets",
            "in": "body",
            "required": true,
            "description": "Asset identifiers",
            "schema": {
              "$ref": "#/definitions/BulkGetAssetRequest"
            },
            "x-ms-summary": "Assets",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/BulkGetAssetResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/task/{id}": {
      "get": {
        "description": "Retrieve the status of an asynchronous global inventory update task.",
        "summary": "Get task by ID",
        "operationId": "GetTask",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The id of the asynchronous task to retrieve.",
            "type": "string",
            "x-ms-summary": "Task Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/TaskResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/deltas": {
      "get": {
        "description": "Retrieve the list of confirmed assets that have been added or removed from inventory over the given time period. Retrieve the list of asset detail changes in inventory over the given time period.",
        "summary": "Get the list of confirmed assets added or removed by type",
        "operationId": "Deltas",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Either the type of asset to retrieve or the type of asset detail to retrieve.  Valid asset types: (Domain, Host, IP_Address, IP_Block, AS, Page, SSL_Cert, Name_Server, Mail_Server, Contact).  Valid asset detail types: (Self_Hosted_Resource, ThirdParty_Hosted_Resource)",
            "type": "string",
            "enum": [
              "Domain",
              "Host",
              "IP_Address",
              "IP_Block",
              "AS",
              "Page",
              "SSL_Cert",
              "Name_Server",
              "Mail_Server",
              "Contact",
              "Self_Hosted_Resource",
              "ThirdParty_Hosted_Resource"
            ],
            "x-ms-summary": "Type",
            "x-ms-visibility": "important"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "The date of the run in which the changes were identified.",
            "type": "string",
            "x-ms-summary": "Date",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "The period of time over which the changes were identified.  Supported ranges are 1, 7 and 30 days.",
            "type": "integer",
            "format": "int32",
            "default": 1,
            "x-ms-summary": "Range",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "measure",
            "in": "query",
            "required": false,
            "description": "The type of change.  Valid options are ADDED or REMOVED",
            "type": "string",
            "enum": [
              "ADDED",
              "REMOVED"
            ],
            "default": "ADDED",
            "x-ms-summary": "Measure",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "brand",
            "in": "query",
            "required": false,
            "description": "Only assets having this brand will be returned.",
            "type": "string",
            "x-ms-summary": "Brand",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "organization",
            "in": "query",
            "required": false,
            "description": "Only assets having this organization will be returned.",
            "type": "string",
            "x-ms-summary": "Organization",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Only assets having this tag will be returned.",
            "type": "string",
            "x-ms-summary": "Tag",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The index of the page to retrieve.  The index is zero based so the first page is page 0.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The number of matching assets to return per page",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "x-ms-summary": "Size",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/GlobalInventoryDeltasResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/assets/{type}": {
      "get": {
        "description": "Retrieve the asset of the specified type and name from Global Inventory.",
        "summary": "Get assets by type",
        "operationId": "AssetType",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "description": "The type of asset to retrieve.  Valid Types: (Domain, Host, IP_Address, IP_Block, AS, Page, SSL_Cert, Name_Server, Mail_Server, Contact)",
            "type": "string",
            "enum": [
              "Domain",
              "Host",
              "IP_Address",
              "IP_Block",
              "AS",
              "Page",
              "SSL_Cert",
              "Name_Server",
              "Mail_Server",
              "Contact"
            ],
            "x-ms-summary": "Type",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "The name of the asset to retrieve",
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important"
          },
          {
            "name": "global",
            "in": "query",
            "required": false,
            "description": "Setting this value to true will search all of global inventory.  Setting it to false will search for assets in the workspace associated with the authentication token.",
            "type": "boolean",
            "default": false,
            "enum": [
              false,
              true
            ],
            "x-ms-summary": "Global",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Global Inventory assets potentially contain pages of related data, for example attributes, cookies and host pairs.  Size determines the number of these associated items that are returned.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Size",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "recent",
            "in": "query",
            "required": false,
            "description": "If specified and 'true', then only return recent data on the asset",
            "type": "boolean",
            "default": false,
            "enum": [
              false,
              true
            ],
            "x-ms-summary": "Recent",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/GlobalInventoryAsset"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/assets/id/{uuid}": {
      "get": {
        "description": "Retrieve the asset of the specified UUID from Global Inventory.",
        "summary": "Get asset by ID",
        "operationId": "AssetID",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "The UUID of the asset to retrieve.",
            "type": "string",
            "x-ms-summary": "UUID",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "global",
            "in": "query",
            "required": false,
            "description": "Setting this value to true will search all of global inventory.  Setting it to false will search for assets in the workspace associated with the authentication token.",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Global",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "recent",
            "in": "query",
            "required": false,
            "description": "If specified and 'true', then only return recent data on the asset",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Recent",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response Returned",
            "schema": {
              "$ref": "#/definitions/GlobalInventoryAsset"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/update": {
      "post": {
        "description": "Update one or more properties on a set of assets.",
        "summary": "Update the assets to global inventory",
        "operationId": "AssetsUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "The update request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetUpdateRequest"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          },
          {
            "name": "failOnError",
            "in": "query",
            "description": "If true then the request will fail if an invalid update is detected.  If false then any invalid updates will be skipped but others will continue",
            "required": false,
            "type": "boolean",
            "default": true,
            "x-ms-summary": "Fail On Error",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/GlobalInventoryUpdateResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/search/history": {
      "post": {
        "description": "Search Global Inventory historical dataset for a set of assets that match the criteria.",
        "summary": "Request to get the assets from the historical dataset that match the criteria",
        "operationId": "SearchHistory",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "description": "The search query",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchQuery"
            },
            "x-ms-summary": "Query",
            "x-ms-visibility": "important"
          },
          {
            "name": "global",
            "in": "query",
            "required": false,
            "description": "Setting this value to true will search all of global inventory.  Setting it to false will search for assets in the workspace associated with the authentication token",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Global",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The index of the page to retrieve.  The index is zero based so the first page is page 0.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "The number of matching assets to return per page",
            "type": "integer",
            "format": "int32",
            "default": 20,
            "x-ms-summary": "Size",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "recent",
            "in": "query",
            "description": "If specified and 'true', then only return recent data on the asset",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Recent",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/GlobalInventorySearchResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/globalinventory/update/history": {
      "post": {
        "description": "Update one or more properties on a set of assets. This will use historical search if updating via a query, otherwise it works the same as /update.",
        "summary": "Update the assets to global inventory using historical search",
        "operationId": "UpdateHistory",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "The update request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetUpdateRequest"
            },
            "x-ms-summary": "Request",
            "x-ms-visibility": "important"
          },
          {
            "name": "FailOnError",
            "in": "query",
            "description": "If true then the request will fail if an invalid update is detected.  If false then any invalid updates will be skipped but others will continue.",
            "required": false,
            "type": "boolean",
            "default": true,
            "x-ms-summary": "Fail On Error",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Valid response returned",
            "schema": {
              "$ref": "#/definitions/GlobalInventoryUpdateResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {
    "SearchQuery": {
      "type": "object"
    },
    "savedSearches": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/savedSearch"
      }
    },
    "savedSearch": {
      "type": "object",
      "properties": {
        "savedSearchID": {
          "type": "integer",
          "format": "int32",
          "title": "Saved Search ID",
          "x-ms-visibility": "important"
        },
        "globalSearch": {
          "type": "boolean",
          "title": "Global Search",
          "x-ms-visibility": "important",
          "enum": [
            true,
            false
          ]
        },
        "savedSearchName": {
          "type": "string",
          "title": "Saved Search Name",
          "x-ms-visibility": "important"
        },
        "workspaceSearch": {
          "type": "boolean",
          "title": "Workspace Search",
          "x-ms-visibility": "important",
          "enum": [
            true,
            false
          ]
        }
      }
    },
    "tags": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/tag"
      }
    },
    "tag": {
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "integer",
          "format": "int32",
          "title": "Created At",
          "x-ms-visibility": "important"
        },
        "updatedAt": {
          "type": "integer",
          "format": "int32",
          "title": "Updated At",
          "x-ms-visibility": "important"
        },
        "status": {
          "type": "string",
          "title": "Status",
          "x-ms-visibility": "important"
        },
        "workspaceTagID": {
          "type": "integer",
          "format": "int32",
          "title": "Workspace Tag ID",
          "x-ms-visibility": "important"
        },
        "workspaceTagType": {
          "type": "string",
          "title": "Workspace Tag Type",
          "x-ms-visibility": "important"
        },
        "color": {
          "type": "string",
          "title": "Color",
          "x-ms-visibility": "important"
        },
        "workspaceID": {
          "type": "integer",
          "format": "int32",
          "title": "Workspace ID",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "title": "Name",
          "x-ms-visibility": "important"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID",
          "x-ms-visibility": "important"
        }
      }
    },
    "brands": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/brand"
      }
    },
    "brand": {
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "integer",
          "format": "int32",
          "title": "Created At",
          "x-ms-visibility": "important"
        },
        "updatedAt": {
          "type": "integer",
          "format": "int32",
          "title": "Updated At",
          "x-ms-visibility": "important"
        },
        "status": {
          "type": "string",
          "title": "Status",
          "x-ms-visibility": "important"
        },
        "workspaceBrandID": {
          "type": "integer",
          "format": "int32",
          "title": "Workspace Brand ID",
          "x-ms-visibility": "important"
        },
        "workspaceID": {
          "type": "integer",
          "format": "int32",
          "title": "Workspace ID",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "title": "Name",
          "x-ms-visibility": "important"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID",
          "x-ms-visibility": "important"
        }
      }
    },
    "organizations": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/organization"
      }
    },
    "organization": {
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "integer",
          "format": "int32",
          "title": "Created At",
          "x-ms-visibility": "important"
        },
        "updatedAt": {
          "type": "integer",
          "format": "int32",
          "title": "Updated At",
          "x-ms-visibility": "important"
        },
        "status": {
          "type": "string",
          "title": "Status",
          "x-ms-visibility": "important"
        },
        "workspaceOrganizationID": {
          "type": "integer",
          "format": "int32",
          "title": "Workspace Organization ID",
          "x-ms-visibility": "important"
        },
        "workspaceID": {
          "type": "integer",
          "format": "int32",
          "title": "Workspace ID",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "title": "Name",
          "x-ms-visibility": "important"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "title": "ID",
          "x-ms-visibility": "important"
        }
      }
    },
    "GlobalInventoryDeltasSummaryResponse": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "runDate": {
            "type": "string",
            "title": "Run Date",
            "x-ms-visibility": "important"
          },
          "deltas": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/deltaSummary"
            },
            "x-ms-visibility": "important"
          }
        }
      }
    },
    "deltaSummary": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CONTACT",
            "SSL_CERT",
            "MAIL_SERVER",
            "IP_BLOCK",
            "PAGE",
            "AS",
            "DOMAIN",
            "IP_ADDRESS",
            "HOST",
            "NAME_SERVER",
            "SELF_HOSTED_RESOURCE",
            "THIRDPARTY_HOSTED_RESOURCE"
          ],
          "title": "Type",
          "x-ms-visibility": "important"
        },
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/aggregation"
          },
          "x-ms-visibility": "important"
        }
      }
    },
    "aggregation": {
      "type": "object",
      "properties": {
        "removed": {
          "type": "integer",
          "format": "int32",
          "title": "Removed",
          "x-ms-visibility": "important"
        },
        "added": {
          "type": "integer",
          "format": "int32",
          "title": "Added",
          "x-ms-visibility": "important"
        },
        "changed": {
          "type": "integer",
          "format": "int32",
          "title": "Changed",
          "x-ms-visibility": "important"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "title": "Count",
          "x-ms-visibility": "important"
        },
        "range": {
          "type": "integer",
          "format": "int32",
          "enum": [
            1,
            7,
            30
          ],
          "title": "Range",
          "x-ms-visibility": "important"
        },
        "difference": {
          "type": "integer",
          "format": "int32",
          "title": "Difference",
          "x-ms-visibility": "important"
        }
      }
    },
    "ApeHits": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ApeHit"
      }
    },
    "ApeHit": {
      "type": "object",
      "properties": {
        "workspaceId": {
          "type": "integer",
          "format": "int32",
          "title": "Workspace ID",
          "x-ms-visibility": "important"
        },
        "policyId": {
          "type": "string",
          "title": "Policy ID",
          "x-ms-visibility": "important"
        },
        "createdAt": {
          "type": "integer",
          "format": "int32",
          "title": "Created At",
          "x-ms-visibility": "important"
        },
        "source": {
          "type": "string",
          "title": "Source",
          "x-ms-visibility": "important"
        },
        "asset": {
          "$ref": "#/definitions/GlobalInventoryAsset"
        },
        "actions": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "actionId": {
                "type": "integer",
                "format": "int32",
                "title": "Action ID",
                "x-ms-visibility": "important"
              },
              "name": {
                "type": "string",
                "title": "Name",
                "x-ms-visibility": "important"
              },
              "action": {
                "type": "string",
                "title": "Action",
                "x-ms-visibility": "important"
              },
              "actionParameters": {
                "type": "string",
                "title": "Action Parameters",
                "x-ms-visibility": "important"
              }
            }
          }
        },
        "metadata": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "title": "Key",
                "x-ms-visibility": "important"
              },
              "value": {
                "type": "string",
                "title": "Value",
                "x-ms-visibility": "important"
              }
            }
          }
        },
        "storedAt": {
          "type": "integer",
          "format": "int32",
          "title": "StoredAt",
          "x-ms-visibility": "important"
        }
      }
    },
    "GlobalInventoryAsset": {
      "type": "object",
      "description": "Global Inventory Asset"
    },
    "GlobalInventorySearchResponse": {
      "type": "object",
      "description": "Global Inventory Search Response"
    },
    "GlobalInventoryUpdateResponse": {
      "type": "object",
      "description": "Global Inventory Update Response"
    },
    "TaskResponse": {
      "type": "object",
      "properties": {
        "taskClass": {
          "type": "string",
          "title": "Task Class",
          "x-ms-visibility": "important"
        },
        "userID": {
          "type": "integer",
          "format": "int32",
          "title": "User ID",
          "x-ms-visibility": "important"
        },
        "startedAt": {
          "type": "integer",
          "format": "int32",
          "title": "Started At",
          "x-ms-visibility": "important"
        },
        "completedAt": {
          "type": "integer",
          "format": "int32",
          "title": "Completed At",
          "x-ms-visibility": "important"
        },
        "state": {
          "type": "string",
          "title": "State",
          "x-ms-visibility": "important"
        },
        "phase": {
          "type": "string",
          "title": "Phase",
          "x-ms-visibility": "important"
        },
        "reason": {
          "type": "string",
          "title": "Reason",
          "x-ms-visibility": "important"
        },
        "taskName": {
          "type": "string",
          "title": "Task Name",
          "x-ms-visibility": "important"
        },
        "key": {
          "type": "object",
          "properties": {
            "workspaceID": {
              "type": "integer",
              "format": "int32",
              "title": "Workspace ID",
              "x-ms-visibility": "important"
            },
            "uuid": {
              "type": "string",
              "title": "UUID",
              "x-ms-visibility": "important"
            }
          },
          "x-ms-visibility": "important"
        },
        "data": {
          "type": "object",
          "properties": {
            "targetAssetTypes": {
              "type": "array",
              "items": {},
              "title": "Target Asset Types",
              "x-ms-visibility": "important"
            },
            "assets": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AssetIdentifier"
              },
              "x-ms-visibility": "important"
            },
            "requestType": {
              "type": "string",
              "title": "RequestType",
              "x-ms-visibility": "important"
            },
            "estimated": {
              "type": "integer",
              "format": "int32",
              "title": "Estimated",
              "x-ms-visibility": "important"
            },
            "apiToken": {
              "type": "string",
              "title": "ApiToken",
              "x-ms-visibility": "important"
            },
            "application": {
              "type": "string",
              "title": "Application",
              "x-ms-visibility": "important"
            },
            "requestLag": {
              "type": "integer",
              "format": "int32",
              "title": "RequestLog",
              "x-ms-visibility": "important"
            },
            "progress": {
              "type": "integer",
              "format": "int32",
              "title": "Progress",
              "x-ms-visibility": "important"
            },
            "updated": {
              "type": "integer",
              "format": "int32",
              "title": "Updated",
              "x-ms-visibility": "important"
            },
            "totalUpdates": {
              "type": "integer",
              "format": "int32",
              "title": "Total Updates",
              "x-ms-visibility": "important"
            },
            "countersByType": {
              "type": "object"
            },
            "processedUpdates": {
              "type": "integer",
              "format": "int32",
              "title": "Processed Updates",
              "x-ms-visibility": "important"
            },
            "properties": {
              "type": "array",
              "items": {
                "type": "object"
              },
              "title": "Properties",
              "x-ms-visibility": "important"
            }
          }
        },
        "supportedActions": {
          "type": "array",
          "items": {},
          "x-ms-visibility": "important",
          "title": "Supported Actions"
        },
        "polling": {
          "type": "boolean",
          "title": "Polling",
          "x-ms-visibility": "important"
        }
      }
    },
    "GlobalInventoryAddResponse": {
      "type": "object",
      "description": "Global Inventory Add Response"
    },
    "AssetAddRequest": {
      "type": "object"
    },
    "AssetUpdateRequest": {
      "type": "object"
    },
    "AssetIdentifier": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Name",
          "x-ms-visibility": "important"
        },
        "type": {
          "type": "string",
          "title": "Type",
          "x-ms-visibility": "important"
        }
      }
    },
    "BulkGetAssetRequest": {
      "type": "object"
    },
    "BulkGetAssetResponse": {
      "type": "array",
      "items": {}
    },
    "GlobalInventoryDeltasResponse": {
      "type": "object",
      "properties": {
        "totalElements": {
          "type": "integer",
          "format": "int32",
          "title": "Total Elements",
          "x-ms-visibility": "important"
        },
        "totalPages": {
          "type": "integer",
          "title": "Total Pages",
          "format": "int32",
          "x-ms-visibility": "important"
        },
        "last": {
          "type": "boolean",
          "title": "Last",
          "x-ms-visibility": "important"
        },
        "numberOfElements": {
          "type": "integer",
          "title": "Number of Elements",
          "format": "int32",
          "x-ms-visibility": "important"
        },
        "first": {
          "type": "boolean",
          "title": "First",
          "x-ms-visibility": "important"
        },
        "size": {
          "type": "integer",
          "title": "Size",
          "format": "int32",
          "x-ms-visibility": "important"
        },
        "number": {
          "type": "integer",
          "title": "Number",
          "format": "int32",
          "x-ms-visibility": "important"
        },
        "content": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "title": "Name",
                "x-ms-visibility": "important"
              },
              "runDate": {
                "type": "string",
                "title": "Run Date",
                "x-ms-visibility": "important"
              },
              "measure": {
                "type": "string",
                "title": "Measure",
                "x-ms-visibility": "important"
              },
              "createdAt": {
                "type": "integer",
                "format": "int32",
                "title": "Created At",
                "x-ms-visibility": "important"
              },
              "autoconfirmed": {
                "type": "boolean",
                "enum": [
                  true,
                  false
                ],
                "title": "Auto Confirmed",
                "x-ms-visibility": "important"
              },
              "enterprise": {
                "type": "boolean",
                "enum": [
                  true,
                  false
                ],
                "title": "Enterprise",
                "x-ms-visibility": "important"
              },
              "state": {
                "type": "string",
                "title": "State",
                "x-ms-visibility": "important"
              },
              "source": {
                "type": "boolean",
                "enum": [
                  true,
                  false
                ],
                "title": "Source",
                "x-ms-visibility": "important"
              },
              "keystone": {
                "type": "boolean",
                "enum": [
                  true,
                  false
                ],
                "title": "Key Stone",
                "x-ms-visibility": "important"
              },
              "updatedAt": {
                "type": "integer",
                "format": "int32",
                "title": "Updated At",
                "x-ms-visibility": "important"
              },
              "wildcard": {
                "type": "boolean",
                "enum": [
                  true,
                  false
                ],
                "title": "Wild Card",
                "x-ms-visibility": "important"
              },
              "type": {
                "type": "string",
                "title": "Type",
                "x-ms-visibility": "important"
              },
              "description": {
                "type": "string",
                "title": "Description",
                "x-ms-visibility": "important"
              }
            }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.riskiq.com/products/digital-footprint/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.riskiq.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;IT Operations"
    }
  ],
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": [
    {
      "name": "v0",
      "description": "Deprecated Endpoints"
    },
    {
      "name": "v1",
      "description": "New Endpoints"
    }
  ]
}