{
  "swagger": "2.0",
  "info": {
    "title": "WorkMobile",
    "description": "WorkMobile is an award-winning No Code toolkit that allows businesses to deploy end-to-end field based mobile solutions.  Remote staff can digitally record essential business data and it allows office staff to manage in real-time. It allows you to create complex calculations, embed Photos, Video, Audio, Signatures, GPS Locations, Barcodes, Maps and Timestamps. It also has the feature of a JobDispatcher and Document Share function.",
    "version": "1.0",
    "contact": {
      "name": "WorkMobile Support",
      "url": "https://helpcentre.esayworkmobile.co.uk/",
      "email": "wmsupport@workmobileforms.com"
    }   
  },
  "host": "www.esayworkmobile.co.uk",
  "basePath": "/webapi2",
  "x-ms-connector-metadata": [
    { "propertyName": "Website", "propertyValue": "https://www.workmobileforms.com/" },
    { "propertyName": "Privacy policy", "propertyValue": "https://www.esayworkmobile.co.uk/privacy.aspx" },
    { "propertyName": "Categories", "propertyValue": "Business Management;Productivity" }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/usergroups": {
      "get": {
        "summary": "User Groups",
        "description": "Retrieve a list of available user groups",
        "operationId": "Usergroups",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "UserGroupId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "UserGroupId"
                  },
                  "Created": {
                    "type": "string",
                    "description": "Created"
                  },
                  "CreatedBy": {
                    "type": "string",
                    "description": "CreatedBy"
                  },
                  "Modified": {
                    "type": "string",
                    "description": "Modified"
                  },
                  "ModifiedBy": {
                    "type": "string",
                    "description": "ModifiedBy"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "DefaultGroup": {
                    "type": "boolean",
                    "description": "DefaultGroup"
                  },
                  "MenuId": {
                    "type": "string",
                    "description": "MenuId"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/account": {
      "get": {
        "summary": "Retrieve the account details for the current logged in user",
        "description": "Retrieve the account details for the current logged in user",
        "operationId": "RetrieveTheAccountDetailsForTheCurrentLoggedInUser",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "customerId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "customerId"
                },
                "firstName": {
                  "type": "string",
                  "description": "firstName"
                },
                "lastName": {
                  "type": "string",
                  "description": "lastName"
                },
                "jobTitle": {
                  "type": "string",
                  "description": "jobTitle"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/api/forms": {
      "get": {
        "summary": "Retrieve a list of forms",
        "description": "Retrieve a list of forms visible to the current login and user group",
        "operationId": "FormsList",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "UserFormId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "UserFormId"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "Description": {
                    "type": "string",
                    "description": "Description"
                  },
                  "Live": {
                    "type": "boolean",
                    "description": "Live"
                  },
                  "MobileVisible": {
                    "type": "boolean",
                    "description": "MobileVisible"
                  },
                  "LocationAware": {
                    "type": "boolean",
                    "description": "LocationAware"
                  },
                  "AutoUpload": {
                    "type": "boolean",
                    "description": "AutoUpload"
                  },
                  "SaveToDrafts": {
                    "type": "string",
                    "description": "SaveToDrafts"
                  },
                  "Subform": {
                    "type": "string",
                    "description": "Subform"
                  },
                  "LastUpload": {
                    "type": "string",
                    "description": "LastUpload"
                  },
                  "Created": {
                    "type": "string",
                    "description": "Created"
                  },
                  "CreatedBy": {
                    "type": "string",
                    "description": "CreatedBy"
                  },
                  "Updated": {
                    "type": "string",
                    "description": "Updated"
                  },
                  "UpdatedBy": {
                    "type": "string",
                    "description": "UpdatedBy"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/forms/{id}/reports": {
      "get": {
        "summary": "Retrieve the reports for the form",
        "description": "Retrieve the reports for the form",
        "operationId": "RetrieveFormReports",
        "parameters": [
          {
            "name": "id",
            "x-ms-summary" : "Form Id",
            "x-ms-url-encoding": "single",
            "default": "<integer>",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/api/Forms/{Id}/completedrecords/{rowId}/reports": {
      "get": {
        "summary": "Retrieve a report in the specified format",
        "description": "Retrieve a binary object of the executed report",
        "operationId": "RetrieveABinaryObjectOfTheExecutedReport",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "Id",
            "x-ms-summary" : "Form Id",
            "description": "Unique form identifier",
            "x-ms-url-encoding": "single",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "FormsList",
              "value-path": "UserFormId",
              "value-title": "Name"
            }
          },
          {
            "name": "ReportId",
            "x-ms-summary" : "Report Id",
            "description": "Unique report identifier",
            "in": "query",
            "type": "integer",
            "x-ms-dynamic-values": {
              "operationId": "RetrieveFormReports",
              "value-path": "ReportId",
              "value-title": "Name",
              "parameters": {
                "id": {
                  "parameter": "Id"
                }
              }
            }
          },
          {
            "name": "ReportFormat",
            "x-ms-summary" : "Report Format",
            "description": "Format to return report",
            "in": "query",
            "type": "string",
            "required": true,
            "enum": [
              "DOC",
              "XLS",
              "PDF"
            ]
          },
          {
            "name": "rowId",
            "x-ms-summary" : "Row Id",
            "description": "Unique row identifier",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "format": "binary",
              "title": "Output",
              "type": "string"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/jobs": {
      "post": {
        "summary": "Create Job",
        "description": "Create a WM Job and optionally allocate it by supplying mobile user details",
        "consumes": [
          "multipart/form-data"
        ],
        "operationId": "CreateAndOptionallyAllocateAWorkmobileJob",
        "parameters": [
          {
            "name": "JobTypeId",
            "x-ms-summary" : "Job Type Id",
            "in": "formData",
            "description": "The JobType To Use",
            "required": true,
            "type": "integer",
            "x-ms-dynamic-values": {
              "operationId": "RetrieveTheListOfJobTypesAvailableToTheLoggedInUser",
              "value-path": "JobTypeId",
              "value-title": "Name"
            }
          },
          {
            "name": "EstimatedStart",
            "x-ms-summary" : "Estimated Start Date",
            "in": "formData",
            "description": "Estimated Start date and time of Job",
            "required": true,
            "type": "string"
          },
          {
            "name": "Description",
            "x-ms-summary" : "Description",
            "in": "formData",
            "description": "Job Description",
            "required": true,
            "type": "string"
          },
          {
            "name": "Duration",
            "x-ms-summary" : "Duration",
            "in": "formData",
            "description": "Duration of job",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Priority",
            "x-ms-summary" : "Priority",
            "in": "formData",
            "description": "Job priority",
            "required": true,
            "type": "integer"
          },
          {
            "name": "AllocatedMobileUserId",
            "x-ms-summary" : "Id of user to allocate to",
            "in": "formData",
            "description": "Id of the user to allocate to '0' is unallocated",
            "required": true,
            "type": "integer",
            "x-ms-dynamic-values": {
              "operationId": "RetrieveMobileUsers",
              "value-path": "MobileUserId",
              "value-title": "Username"
            }
          },
          {
            "name": "AllocatedUserGroupId",
            "x-ms-summary" : "Id of user group to broadcast to",
            "in": "formData",
            "description": "Id of user group to allocate to '0' is unalllocated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Data",
            "x-ms-summary" : "Data",
            "in": "formData",
            "description": "The formatted JSON that describes the job and conforms to its JSD",
            "required": true,
            "type": "string"
          },
          {
            "name": "Location.Longitude",
            "x-ms-summary" : "Longitude",
            "in": "formData",
            "description": "Longitude of the job location",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Location.Latitude",
            "x-ms-summary" : "Latitude",
            "in": "formData",
            "description": "Latitude of the job location",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Location.Address",
            "x-ms-summary" : "Address",
            "in": "formData",
            "description": "Textual description of the location",
            "required": true,
            "type": "integer"
          },
          {
            "name": "files",
            "x-ms-summary" : "Files",
            "in": "formData",
            "description": "optional set of files",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "binary"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "integer",
              "description": "Unique Id of raised job",
              "title": "JobId"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "put": {
        "summary": "Modify Job",
        "description": "Modify a WM Job",
        "operationId": "ModifyAWorkmobileJob",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "EstimatedStart",
            "in": "formData",
            "description": "Estimated Start date and time of Job",
            "required": true,
            "type": "string"
          },
          {
            "name": "Description",
            "in": "formData",
            "description": "Job Description",
            "required": true,
            "type": "string"
          },
          {
            "name": "Duration",
            "in": "formData",
            "description": "Duration of job",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Priority",
            "in": "formData",
            "description": "Job priority",
            "required": true,
            "type": "integer"
          },
          {
            "name": "AllocatedMobileUserId",
            "in": "formData",
            "description": "Id of the user to allocate to '0' is unallocated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "AllocatedUserGroupId",
            "in": "formData",
            "description": "Id of user group to allocate to '0' is unalllocated",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Data",
            "in": "formData",
            "description": "The formatted JSON that describes the job and conforms to its JSD",
            "required": true,
            "type": "string"
          },
          {
            "name": "Location.Longitude",
            "in": "formData",
            "description": "Longitude of the job location",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Location.Latitude",
            "in": "formData",
            "description": "Latitude of the job location",
            "required": true,
            "type": "integer"
          },
          {
            "name": "Location.Address",
            "in": "formData",
            "description": "Textual description of the location",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string",
              "title": "JobId"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/api/Jobs/{JobId}/allocate/{MobileUserId}": {
      "post": {
        "summary": "Allocate a Job",
        "description": "Allocate the specified Job to the specified mobile user",
        "operationId": "AllocateTheSpecifiedJobToTheSpecifiedMobileUser",
        "parameters": [
          {
            "name": "JobId",
            "x-ms-summary" : "JobId",
            "description": "Unique id of job",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true
          },
          {
            "name": "MobileUserId",
            "x-ms-summary" : "MobileUserId",
            "description": "Unique id of mobile user",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "x-ms-dynamic-values": {
              "operationId": "RetrieveMobileUsers",
              "value-path": "MobileUserId",
              "value-title": "Username"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/Jobs/{JobId}/allocateToUserGroup/{UserGroupId}": {
      "post": {
        "summary": "Job Broadcast",
        "description": "Allocate the specified Job to a user group using Job Broadcast",
        "operationId": "AllocateJobToAUserGroup",
        "parameters": [
          {
            "name": "JobId",
            "x-ms-summary" : "JobId",
            "description": "Unique id of job",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true
          },
          {
            "name": "UserGroupId",
            "x-ms-summary" : "UserGroupId",
            "description": "Unique id of user group",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/Jobs/{id}": {
      "get": {
        "summary": "Retrieve the full job details",
        "description": "Retrieve the full job details by its JobId",
        "operationId": "RetrieveTheFullJobDetails",
        "parameters": [
          {
            "name": "id",
            "x-ms-summary" : "id",
            "description": "Unique id of job",            
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "JobId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "JobId"
                },
                "Created": {
                  "type": "string",
                  "description": "Created"
                },
                "CreatedBy": {
                  "type": "string",
                  "description": "CreatedBy"
                },
                "Updated": {
                  "type": "string",
                  "description": "Updated"
                },
                "UpdatedBy": {
                  "type": "string",
                  "description": "UpdatedBy"
                },
                "EstimatedJobStartDate": {
                  "type": "string",
                  "description": "EstimatedJobStartDate"
                },
                "ActualJobStartDateTime": {
                  "type": "string",
                  "description": "ActualJobStartDateTime"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "Duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Duration"
                },
                "JobStatusId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "JobStatusId"
                },
                "JobTypeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "JobTypeId"
                },
                "CatalogueId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CatalogueId"
                },
                "LastAllocatedMobileUserId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "LastAllocatedMobileUserId"
                },
                "AllocatedUserGroupId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "AllocatedUserGroupId"
                },
                "AllocatedMobileUserId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "AllocatedMobileUserId"
                },
                "Priority": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Priority"
                },
                "LocationId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "LocationId"
                },
                "JobHistory": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "JobHistoryId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "JobHistoryId"
                      },
                      "Created": {
                        "type": "string",
                        "description": "Created"
                      },
                      "CreatedBy": {
                        "type": "string",
                        "description": "CreatedBy"
                      },
                      "Narrative": {
                        "type": "string",
                        "description": "Narrative"
                      },
                      "JobStatusId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "JobStatusId"
                      },
                      "MobileUserId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "MobileUserId"
                      }
                    }
                  },
                  "description": "JobHistory"
                },
                "Location": {
                  "type": "string",
                  "description": "Location"
                },
                "JobData": {
                  "type": "object",
                  "properties": {},
                  "description": "JobData"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/api/Jobs/{JobId}/unallocate": {
      "post": {
        "summary": "Unallocate the Job",
        "description": "Remove the specified Job from the user. Set the job back to unallocated status",
        "operationId": "unallocatethejob",
        "parameters": [
          {
            "name": "JobId",
            "x-ms-summary" : "JobId",
            "description": "Unique id of job",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/Jobs/search": {
      "post": {
        "summary": "Search the Jobs based on the search criteria provided",
        "description": "Sample request:\r\n\r\n    List Jobs that match a description\r\n            \r\n    {\r\n             \"description\": \"Lowry Mill\",\r\n             \"pagination\": {\r\n                \"page\": 1,\r\n                \"rowCount\": 10\r\n                }\r\n     }\r\n            \r\n            \r\n        \r\n    List Jobs that are at a none closed job status - order by estimatedStartDateTimeFrom\r\n            \r\n    {\r\n             \"jobStatusId\": [\r\n               1,2,3,5\r\n             ],\r\n             \"orderBy\": [\r\n                            {\r\n                                \"propertyName\": \"estimatedStartDateTimeFrom\",\r\n                                \"descending\": true\r\n                            }\r\n             ],\r\n             \"pagination\": {\r\n                \"page\": 1,\r\n                \"rowCount\": 500\r\n                }\r\n     }",
        "operationId": "SearchTheJobsBasedOnTheSearchCriteriaProvided",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "jobId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "jobId"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "estimatedStartDateTimeFrom": {
                  "type": "string",
                  "description": "estimatedStartDateTimeFrom"
                },
                "estimatedStartDateTimeTo": {
                  "type": "string",
                  "description": "estimatedStartDateTimeTo"
                },
                "jobTypeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "jobTypeId"
                },
                "jobStatusId": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "description": "jobStatusId"
                },
                "userFormId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "userFormId"
                },
                "catalogueId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "catalogueId"
                },
                "catalogueItemValue": {
                  "type": "string",
                  "description": "catalogueItemValue"
                },
                "allocatedToUserId": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "description": "allocatedToUserId"
                },
                "priority": {
                  "type": "integer",
                  "format": "int32",
                  "description": "priority"
                },
                "orderBy": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "propertyName": {
                        "type": "string",
                        "description": "propertyName"
                      },
                      "descending": {
                        "type": "boolean",
                        "description": "descending"
                      }
                    }
                  },
                  "description": "orderBy"
                },
                "pagination": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "page"
                    },
                    "rowCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "rowCount"
                    }
                  },
                  "description": "pagination"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/api/Jobs/JobStatusList": {
      "get": {
        "summary": "Return the static list of available job statuses and their Id's",
        "description": "Return list of available job statuses and their Id's",
        "operationId": "JobStatusList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/api/mobileusers": {
      "get": {
        "summary": "Retrieve Mobile Users",
        "description": "Retrieve the visible mobile users visible on the account",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "MobileUserId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "MobileUserId"
                  },
                  "Firstname": {
                    "type": "string",
                    "description": "Firstname"
                  },
                  "Surname": {
                    "type": "string",
                    "description": "Surname"
                  },
                  "JobTitle": {
                    "type": "string",
                    "description": "JobTitle"
                  },
                  "UserGroupId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "UserGroupId"
                  },
                  "Created": {
                    "type": "string",
                    "description": "Created"
                  },
                  "CreatedBy": {
                    "type": "string",
                    "description": "CreatedBy"
                  },
                  "Modified": {
                    "type": "string",
                    "description": "Modified"
                  },
                  "ModifiedBy": {
                    "type": "string",
                    "description": "ModifiedBy"
                  },
                  "Username": {
                    "type": "string",
                    "description": "Username"
                  },
                  "UserActive": {
                    "type": "boolean",
                    "description": "UserActive"
                  }
                }
              }
            }
          }
        },
        "operationId": "RetrieveMobileUsers",
        "parameters": []
      },
      "post": {
        "summary": "Create a new mobile user",
        "description": "Create a new mobile user",
        "operationId": "CreateANewMobileUser",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "firstname": {
                  "type": "string",
                  "description": "firstname"
                },
                "surname": {
                  "type": "string",
                  "description": "surname"
                },
                "username": {
                  "type": "string",
                  "description": "username"
                },
                "password": {
                  "type": "string",
                  "description": "password"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "mobile": {
                  "type": "string",
                  "description": "mobile"
                },
                "jobTitle": {
                  "type": "string",
                  "description": "jobTitle"
                },
                "addressLine1": {
                  "type": "string",
                  "description": "addressLine1"
                },
                "addressLine2": {
                  "type": "string",
                  "description": "addressLine2"
                },
                "addressLine3": {
                  "type": "string",
                  "description": "addressLine3"
                },
                "town": {
                  "type": "string",
                  "description": "town"
                },
                "county": {
                  "type": "string",
                  "description": "county"
                },
                "postCode": {
                  "type": "string",
                  "description": "postCode"
                },
                "userGroupId": {
                  "type": "string",
                  "description": "userGroupId",
                  "x-ms-dynamic-values": {
                    "operationId": "Usergroups",
                    "value-path": "UserGroupId",
                    "value-title": "Name"
                  }
                },
                "isActiveUser": {
                  "type": "boolean",
                  "description": "isActiveUser"
                },
                "isBackgroundUploadEnabled": {
                  "type": "boolean",
                  "description": "isBackgroundUploadEnabled"
                },
                "diallingCode": {
                  "type": "string",
                  "description": "diallingCode",
                  "title": "",
                  "default": "44"
                },
                "superuser": {
                  "type": "boolean",
                  "description": "downloadunpublishedforms",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "backgroundUploadInterval": {
                  "type": "integer",
                  "description": "backgroundUploadInterval",
                  "default": 5
                },
                "accountSecurityId": {
                  "type": "integer",
                  "description": "accountSecurityId",
                  "enum": [
                    1,
                    2,
                    3
                  ],
                  "title": "",
                  "default": 1
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "integer"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "put": {
        "summary": "Update the attributes associated with the mobile user",
        "description": "Update the attributes associated with the mobile user",
        "operationId": "UpdateTheAttributesAssociatedWithTheMobileUser",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "firstname": {
                  "type": "string",
                  "description": "firstname"
                },
                "surname": {
                  "type": "string",
                  "description": "surname"
                },
                "username": {
                  "type": "string",
                  "description": "username"
                },
                "password": {
                  "type": "string",
                  "description": "password"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "mobile": {
                  "type": "string",
                  "description": "mobile"
                },
                "jobTitle": {
                  "type": "string",
                  "description": "jobTitle"
                },
                "addressLine1": {
                  "type": "string",
                  "description": "addressLine1"
                },
                "addressLine2": {
                  "type": "string",
                  "description": "addressLine2"
                },
                "addressLine3": {
                  "type": "string",
                  "description": "addressLine3"
                },
                "town": {
                  "type": "string",
                  "description": "town"
                },
                "county": {
                  "type": "string",
                  "description": "county"
                },
                "postCode": {
                  "type": "string",
                  "description": "postCode"
                },
                "userGroupId": {
                  "type": "string",
                  "description": "userGroupId",
                  "x-ms-dynamic-values": {
                    "operationId": "Usergroups",
                    "value-path": "UserGroupId",
                    "value-title": "Name"
                  }
                },
                "isActiveUser": {
                  "type": "boolean",
                  "description": "isActiveUser"
                },
                "isBackgroundUploadEnabled": {
                  "type": "boolean",
                  "description": "isBackgroundUploadEnabled"
                },
                "diallingCode": {
                  "type": "string",
                  "description": "diallingCode",
                  "default": "44"
                },
                "superuser": {
                  "type": "boolean",
                  "description": "downloadunpublishedforms",
                  "title": "",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "backgroundUploadInterval": {
                  "type": "integer",
                  "description": "backgroundUploadInterval",
                  "default": 5
                },
                "accountSecurityId": {
                  "type": "integer",
                  "description": "accountSecurityId",
                  "enum": [
                    1,
                    2,
                    3
                  ],
                  "default": 1
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/JobTypes/{id}": {
      "get": {
        "summary": "Return the Job Type details for the specified JobTypeId",
        "description": "Return the Job Type details for the specified JobTypeId",
        "operationId": "ReturnTheJobTypeDetailsForTheSpecifiedJobtypeid",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "JobTypeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "JobTypeId"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                },
                "Live": {
                  "type": "boolean",
                  "description": "Live"
                },
                "OnRouteStatus": {
                  "type": "boolean",
                  "description": "OnRouteStatus"
                },
                "OnRouteCancel": {
                  "type": "boolean",
                  "description": "OnRouteCancel"
                },
                "UserFormId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "UserFormId"
                },
                "Duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Duration"
                },
                "AllowCustomerSelection": {
                  "type": "boolean",
                  "description": "AllowCustomerSelection"
                },
                "EnableLocation": {
                  "type": "boolean",
                  "description": "EnableLocation"
                },
                "CatalogueId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CatalogueId"
                },
                "Created": {
                  "type": "string",
                  "description": "Created"
                },
                "CreatedBy": {
                  "type": "string",
                  "description": "CreatedBy"
                },
                "Updated": {
                  "type": "string",
                  "description": "Updated"
                },
                "UpdatedBy": {
                  "type": "string",
                  "description": "UpdatedBy"
                },
                "SummaryFields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "JobTypeFieldId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "JobTypeFieldId"
                      },
                      "UserEditable": {
                        "type": "boolean",
                        "description": "UserEditable"
                      },
                      "MobileUserEditable": {
                        "type": "boolean",
                        "description": "MobileUserEditable"
                      },
                      "UserFormFieldId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UserFormFieldId"
                      },
                      "ParentUserFormFieldId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ParentUserFormFieldId"
                      }
                    }
                  },
                  "description": "SummaryFields"
                },
                "SummarySequence": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "JobTypeSummarySequenceId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "JobTypeSummarySequenceId"
                      },
                      "SummarySequence": {
                        "type": "integer",
                        "format": "int32",
                        "description": "SummarySequence"
                      },
                      "DefaultSummaryFieldId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "DefaultSummaryFieldId"
                      }
                    }
                  },
                  "description": "SummarySequence"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/api/JobTypes/{id}/schema": {
      "get": {
        "summary": "Retrieve the JSON Schema document",
        "description": "Describes the format of the data required to raise a job",
        "operationId": "SchemaDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/api/JobTypes": {
      "get": {
        "summary": "Job Type List",
        "description": "Retrieve the list of Job Types available to the logged in user",
        "operationId": "RetrieveTheListOfJobTypesAvailableToTheLoggedInUser",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "JobTypeId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "JobTypeId"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "Description": {
                    "type": "string",
                    "description": "Description"
                  },
                  "Live": {
                    "type": "boolean",
                    "description": "Live"
                  },
                  "UserFormId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "UserFormId"
                  },
                  "Duration": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Duration"
                  },
                  "CatalogueId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "CatalogueId"
                  },
                  "AllowCustomerSelection": {
                    "type": "boolean",
                    "description": "AllowCustomerSelection"
                  },
                  "EnableLocation": {
                    "type": "boolean",
                    "description": "EnableLocation"
                  },
                  "OnRouteStatus": {
                    "type": "boolean",
                    "description": "OnRouteStatus"
                  },
                  "OnRouteCancel": {
                    "type": "boolean",
                    "description": "OnRouteCancel"
                  },
                  "Created": {
                    "type": "string",
                    "description": "Created"
                  },
                  "CreatedBy": {
                    "type": "string",
                    "description": "CreatedBy"
                  },
                  "Updated": {
                    "type": "string",
                    "description": "Updated"
                  },
                  "UpdatedBy": {
                    "type": "string",
                    "description": "UpdatedBy"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/api/notifications/external": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "Id"
            },
            "OriginalId": {
              "type": "integer",
              "format": "int32",
              "description": "OriginalId"
            },
            "Created": {
              "type": "string",
              "description": "Created"
            },
            "CreatedBy": {
              "type": "string",
              "description": "CreatedBy"
            },
            "Uploaded": {
              "type": "string",
              "description": "Uploaded"
            }
          }
        },
        "description": "Response"
      },
      "post": {
        "description" : "Set up the webhook",
        "responses": {
          "200": {
            "description": "The webhook was created successfully"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "When data is submitted for a form",
        "operationId": "FormDataHook",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "userFormId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "userFormId",
                  "title": "Form",
                  "x-ms-dynamic-values": {
                    "operationId": "FormsList",
                    "value-path": "UserFormId",
                    "value-title": "Name"
                  }
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "includeSubFormData": {
                  "type": "boolean",
                  "description": "includeSubFormData",
                  "title": "Include Sub-Form Data",
                  "enum": [
                    true,
                    false
                  ]
                },
                "description": {
                  "type": "string",
                  "description": "description",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "Power Automate"
                }
              },
              "required": [
                "includeSubFormData",
                "url",
                "userFormId",
                "description"
              ]
            }
          }
        ]
      }
    },
    "/api/notifications/external/{WebhookId}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a webhook",
        "description": "",
        "operationId": "DeleteWebhook",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "WebhookId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Api-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}