{
  "swagger": "2.0",
  "info": {
    "title": "Annature",
    "description": "Annature is the leading Australian-owned eSigning solution with an integrated digital signature provider. This connector helps businesses to create envelopes and integrate annature document signing workflow using Annature API (v1).",
    "version": "1.0.0",
    "contact": {
      "email": "adrian@strategik.com.au",
      "name": "Dr Adrian Colquhoun (Strategik)",
      "url": "https://www.linkedin.com/in/adriancolquhoun/"
    }
  },
  "host": "api.annature.com.au",
  "schemes": ["https"],
  "basePath": "/v1",
  "produces": ["application/json"],
  "consumes": ["application/json"],
  "paths": {
    "/documents": {
      "get": {
        "summary": "Get Documents",
        "tags": ["Documents"],
        "parameters": [
          {
            "$ref": "#/parameters/EnvelopeFromQuery"
          },
          {
            "$ref": "#/parameters/EndpointDurationFromQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Id",
                    "x-ms-summary": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name",
                    "x-ms-summary": "Name"
                  },
                  "pages": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "original": {
                    "type": "string",
                    "description": "Original",
                    "x-ms-summary": "Original"
                  },
                  "master": {
                    "type": "string",
                    "description": "Master",
                    "x-ms-summary": "Master"
                  },
                  "created": {
                    "type": "string",
                    "description": "Created",
                    "x-ms-summary": "Created"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetDocuments",
        "description": "List All Documents for a envelope"
      }
    },
    "/endpoints/{id}": {
      "delete": {
        "responses": {
          "204": {
            "description": "Operation Success"
          }
        },
        "tags": ["send"],
        "summary": "Delete Endpoint",
        "x-ms-visibility": "internal",
        "operationId": "DeleteEndpoint",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Endpoint Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Endpoint Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Delete Endpoint"
      }
    },
    "/endpoints": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Id"
                },
                "url": {
                  "type": "string",
                  "description": "Url"
                },
                "signature": {
                  "type": "string",
                  "description": "Signature"
                },
                "active": {
                  "type": "boolean",
                  "description": "Active",
                  "x-ms-summary": "Active"
                },
                "created": {
                  "type": "string",
                  "description": "Created"
                }
              }
            }
          }
        },
        "summary": "Event Trigger - Envelope and Recipient",
        "description": "Triggers when an event occurs when envelopes completed or recipient views",
        "operationId": "OnDocumentEvent",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The HTTPS URL for the webhook endpoint",
                  "x-ms-summary": "Url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "url"
                }
              },
              "required": ["url"],
              "x-ms-visibility": "internal"
            },
            "x-ms-visibility": "internal"
          }
        ]
      },
      "x-ms-notification-content": {
        "description": "Events",
        "schema": {
          "$ref": "#/definitions/WebhookEventContent"
        }
      }
    },
    "/envelopes/{id}": {
      "get": {
        "summary": "Get Envelope",
        "tags": ["Envelope"],
        "parameters": [
          {
            "$ref": "#/parameters/EnvelopeFromPath"
          },
          {
            "$ref": "#/parameters/EndpointDurationFromQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Id"
                },
                "name": {
                  "type": "string",
                  "description": "Name"
                },
                "message": {
                  "type": "string",
                  "description": "Message"
                },
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "shared": {
                  "type": "boolean",
                  "description": "Shared"
                },
                "created": {
                  "type": "string",
                  "description": "Created"
                },
                "sent": {
                  "type": "string",
                  "description": "Sent"
                },
                "voided": {
                  "type": "string",
                  "description": "Voided"
                },
                "declined": {
                  "type": "string",
                  "description": "Declined"
                },
                "completed": {
                  "type": "string",
                  "description": "Completed"
                },
                "master": {
                  "type": "string",
                  "description": "Master"
                },
                "combined": {
                  "type": "string",
                  "description": "Combined"
                },
                "certificate": {
                  "type": "string",
                  "description": "Certificate"
                },
                "account_id": {
                  "type": "string",
                  "description": "Account Id"
                },
                "group_id": {
                  "type": "string",
                  "description": "Group Id"
                },
                "recipients": {
                  "type": "array",
                  "x-ms-summary": "Recipients",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "x-ms-summary": "Name"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email Id",
                        "x-ms-summary": "Email Id"
                      },
                      "mobile": {
                        "type": "string",
                        "description": "Mobile",
                        "x-ms-summary": "Mobile"
                      },
                      "type": {
                        "type": "string",
                        "description": "The recipient type, defaults to signer when not supplied",
                        "enum": ["signer", "viewer", "carbon-copy"],
                        "x-ms-summary": "Recipient Type"
                      },
                      "message": {
                        "type": "string",
                        "description": "Message",
                        "x-ms-summary": "Message"
                      },
                      "password": {
                        "x-ms-summary": "Password"
                      },
                      "muted": {
                        "type": "boolean",
                        "description": "This will stop Annature from sending any correspondence to the recipient",
                        "x-ms-summary": "Muted?"
                      },
                      "order": {
                        "type": "integer",
                        "x-ms-summary": "Signing Order",
                        "description": "Signing Order"
                      },
                      "redirects": {
                        "type": "object",
                        "properties": {
                          "session_completed": {
                            "type": "string",
                            "x-ms-summary": "Destination endpoint after the recipient has completed the envelope",
                            "description": "Destination endpoint after the recipient has completed the envelope"
                          },
                          "session_declined": {
                            "type": "string",
                            "x-ms-summary": "Destination endpoint after the recipient has declined to sign the envelope",
                            "description": "Destination endpoint after the recipient has declined to sign the envelope"
                          }
                        }
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "recipient_id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "page": {
                              "type": "integer"
                            },
                            "x_coordinate": {
                              "type": "integer"
                            },
                            "y_coordinate": {
                              "type": "integer"
                            },
                            "required": {
                              "type": "boolean",
                              "description": "Required",
                              "x-ms-summary": "Required"
                            },
                            "read_only": {
                              "type": "boolean",
                              "description": "Read_only",
                              "x-ms-summary": "Read_only"
                            },
                            "collaborative": {
                              "type": "boolean",
                              "description": "Collaborative",
                              "x-ms-summary": "Collaborative"
                            },
                            "width": {
                              "type": "integer"
                            },
                            "font_size": {
                              "type": "integer"
                            },
                            "font_type": {
                              "type": "string"
                            },
                            "created": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "metadata": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "GetEnvelope",
        "description": "Get Envelope"
      },
      "head": {
        "responses": {
          "204": {
            "description": "Operation Success"
          }
        },
        "tags": ["delete"],
        "summary": "Delete Envelope",
        "operationId": "DeleteEnvelope",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "$ref": "#/parameters/EnvelopeFromPath"
          }
        ],
        "description": "Delete Envelope"
      }
    },
    "/envelopes": {
      "get": {
        "summary": "Get Envelopes",
        "tags": ["Envelopes"],
        "parameters": [
          {
            "$ref": "#/parameters/EnvelopeNameFromQuery"
          },
          {
            "$ref": "#/parameters/EnvelopeStatusFromQuery"
          },
          {
            "$ref": "#/parameters/EnvelopeRecipientFromQuery"
          },
          {
            "$ref": "#/parameters/CreatedBeforeFromQuery"
          },
          {
            "$ref": "#/parameters/CreatedAfterFromQuery"
          },
          {
            "$ref": "#/parameters/CompletedBeforeFromQuery"
          },
          {
            "$ref": "#/parameters/CompletedAfterFromQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Id"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "message": {
                    "type": "string",
                    "description": "Message"
                  },
                  "status": {
                    "type": "string",
                    "description": "Status"
                  },
                  "shared": {
                    "type": "boolean",
                    "description": "Shared"
                  },
                  "created": {
                    "type": "string",
                    "description": "Created"
                  },
                  "sent": {
                    "type": "string",
                    "description": "Sent"
                  },
                  "voided": {
                    "type": "string",
                    "description": "Voided"
                  },
                  "declined": {
                    "type": "string",
                    "description": "Declined"
                  },
                  "completed": {
                    "type": "string",
                    "description": "Completed"
                  },
                  "combined": {
                    "type": "string",
                    "description": "Combined"
                  },
                  "master": {
                    "type": "string",
                    "description": "Master"
                  },
                  "certificate": {
                    "type": "string",
                    "description": "Certificate"
                  },
                  "account_id": {
                    "type": "string",
                    "description": "Account Id"
                  },
                  "group_id": {
                    "type": "string",
                    "description": "Group Id"
                  },
                  "recipients": {
                    "type": "array",
                    "x-ms-summary": "Recipients",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name",
                          "x-ms-summary": "Name"
                        },
                        "email": {
                          "type": "string",
                          "description": "Email Id",
                          "x-ms-summary": "Email Id"
                        },
                        "mobile": {
                          "type": "string",
                          "description": "Mobile",
                          "x-ms-summary": "Mobile"
                        },
                        "type": {
                          "type": "string",
                          "description": "The recipient type, defaults to signer when not supplied",
                          "enum": ["signer", "viewer", "carbon-copy"],
                          "x-ms-summary": "Recipient Type"
                        },
                        "message": {
                          "type": "string",
                          "description": "Message",
                          "x-ms-summary": "Message"
                        },
                        "password": {
                          "x-ms-summary": "Password"
                        },
                        "muted": {
                          "type": "boolean",
                          "description": "This will stop Annature from sending any correspondence to the recipient",
                          "x-ms-summary": "Muted?"
                        },
                        "order": {
                          "type": "integer",
                          "x-ms-summary": "Signing Order",
                          "description": "Signing Order"
                        },
                        "redirects": {
                          "type": "object",
                          "properties": {
                            "session_completed": {
                              "type": "string",
                              "x-ms-summary": "Destination endpoint after the recipient has completed the envelope",
                              "description": "Destination endpoint after the recipient has completed the envelope"
                            },
                            "session_declined": {
                              "type": "string",
                              "x-ms-summary": "Destination endpoint after the recipient has declined to sign the envelope",
                              "description": "Destination endpoint after the recipient has declined to sign the envelope"
                            }
                          }
                        },
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "recipient_id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "page": {
                                "type": "integer"
                              },
                              "x_coordinate": {
                                "type": "integer"
                              },
                              "y_coordinate": {
                                "type": "integer"
                              },
                              "required": {
                                "type": "boolean",
                                "description": "Required",
                                "x-ms-summary": "Required"
                              },
                              "read_only": {
                                "type": "boolean",
                                "description": "Read_only",
                                "x-ms-summary": "Read_only"
                              },
                              "collaborative": {
                                "type": "boolean",
                                "description": "Collaborative",
                                "x-ms-summary": "Collaborative"
                              },
                              "width": {
                                "type": "integer"
                              },
                              "font_size": {
                                "type": "integer"
                              },
                              "font_type": {
                                "type": "string"
                              },
                              "created": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "metadata": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          }
        },
        "operationId": "GetEnvelopes",
        "description": "List All Envelopes"
      },
      "post": {
        "responses": {
          "201": {
            "description": "create-envelope",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Id"
                },
                "name": {
                  "type": "string",
                  "description": "Name"
                },
                "message": {
                  "type": "string",
                  "description": "Message"
                },
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "shared": {
                  "type": "boolean",
                  "description": "Shared",
                  "x-ms-summary": "Shared"
                },
                "created": {
                  "type": "string",
                  "description": "Created On",
                  "x-ms-summary": "Created On"
                },
                "sent": {
                  "type": "string",
                  "description": "Sent On",
                  "x-ms-summary": "Sent On"
                },
                "voided": {},
                "declined": {},
                "completed": {},
                "account_id": {
                  "type": "string",
                  "description": "Account_id",
                  "x-ms-summary": "Account Id"
                },
                "group_id": {
                  "type": "string",
                  "description": "Group Id",
                  "x-ms-summary": "Group Id"
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "mobile": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      },
                      "password": {
                        "description": "Password",
                        "x-ms-summary": "Password"
                      },
                      "muted": {
                        "type": "boolean",
                        "description": "Muted",
                        "x-ms-summary": "Muted"
                      },
                      "order": {
                        "type": "integer"
                      },
                      "declined_reason": {},
                      "created": {
                        "type": "string"
                      },
                      "sent": {
                        "type": "string"
                      },
                      "declined": {},
                      "completed": {},
                      "redirects": {
                        "type": "object",
                        "properties": {
                          "session_completed": {
                            "type": "string"
                          },
                          "session_declined": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "metadata": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": ["envelope", "create", "create envelope", "new envelope"],
        "summary": "Create Envelope",
        "operationId": "CreateEnvelope",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the envelope, displayed in the subject of emails sent to recipients and when viewing the envelope",
                  "x-ms-summary": "Name"
                },
                "message": {
                  "type": "string",
                  "description": "Message",
                  "x-ms-summary": "Message",
                  "x-ms-visibility": "advanced"
                },
                "shared": {
                  "type": "boolean",
                  "description": "Shared",
                  "x-ms-summary": "Shared",
                  "x-ms-visibility": "advanced"
                },
                "draft": {
                  "type": "boolean",
                  "description": "Is Draft",
                  "x-ms-summary": "Is Draft",
                  "x-ms-visibility": "advanced"
                },
                "account_id": {
                  "type": "string",
                  "description": "Account ID",
                  "x-ms-summary": "Account ID",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAccounts",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "group_id": {
                  "type": "string",
                  "description": "Group Id",
                  "x-ms-summary": "Group Id",
                  "x-ms-visibility": "advanced"
                },
                "documents": {
                  "type": "array",
                  "x-ms-summary": "Documents",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Group Id",
                        "x-ms-summary": "Group Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "x-ms-summary": "Name"
                      },
                      "type": {
                        "type": "string",
                        "enum": ["application/pdf"],
                        "description": "Type",
                        "x-ms-summary": "Type"
                      },
                      "base": {
                        "type": "string",
                        "description": "File Content",
                        "x-ms-summary": "File Content",
                        "format": "byte"
                      }
                    }
                  }
                },
                "recipients": {
                  "type": "array",
                  "x-ms-summary": "Recipients",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "x-ms-summary": "Name"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email Id",
                        "x-ms-summary": "Email Id"
                      },
                      "mobile": {
                        "type": "string",
                        "description": "Mobile",
                        "x-ms-summary": "Mobile",
                        "x-ms-visibility": "advanced"
                      },
                      "type": {
                        "type": "string",
                        "description": "The recipient type, defaults to signer when not supplied",
                        "enum": ["signer", "viewer", "carbon-copy"],
                        "x-ms-summary": "Recipient Type",
                        "x-ms-visibility": "advanced"
                      },
                      "message": {
                        "type": "string",
                        "description": "Message",
                        "x-ms-summary": "Message",
                        "x-ms-visibility": "advanced"
                      },
                      "password": {
                        "type": "string",
                        "x-ms-visibility": "advanced"
                      },
                      "muted": {
                        "type": "boolean",
                        "description": "This will stop Annature from sending any correspondence to the recipient",
                        "x-ms-summary": "Muted?",
                        "x-ms-visibility": "advanced"
                      },
                      "order": {
                        "type": "integer",
                        "x-ms-summary": "Signing Order",
                        "description": "Signing Order",
                        "x-ms-visibility": "advanced"
                      },
                      "redirects": {
                        "type": "object",
                        "properties": {
                          "session_completed": {
                            "type": "string",
                            "x-ms-summary": "Session Completed",
                            "description": "Destination endpoint after the recipient has completed the envelope"
                          },
                          "session_declined": {
                            "type": "string",
                            "x-ms-summary": "Session Declined",
                            "description": "Destination endpoint after the recipient has declined to sign the envelope"
                          }
                        }
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "recipient_id": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "signature",
                                "initials",
                                "witness",
                                "date",
                                "input",
                                "checkbox",
                                "dropdown"
                              ],
                              "description": "The field type"
                            },
                            "page": {
                              "type": "integer"
                            },
                            "x_coordinate": {
                              "type": "integer",
                              "x-ms-visibility": "advanced"
                            },
                            "y_coordinate": {
                              "type": "integer",
                              "x-ms-visibility": "advanced"
                            },
                            "required": {
                              "type": "boolean",
                              "description": "Required",
                              "x-ms-summary": "Required",
                              "x-ms-visibility": "advanced"
                            },
                            "read_only": {
                              "type": "boolean",
                              "description": "Read only",
                              "x-ms-summary": "Read only",
                              "x-ms-visibility": "advanced"
                            },
                            "collaborative": {
                              "type": "boolean",
                              "description": "Collaborative",
                              "x-ms-summary": "Collaborative",
                              "x-ms-visibility": "advanced"
                            },
                            "width": {
                              "type": "integer",
                              "x-ms-visibility": "advanced"
                            },
                            "font_size": {
                              "type": "integer",
                              "x-ms-visibility": "advanced"
                            },
                            "font_type": {
                              "type": "string",
                              "description": "Possible values are courier and helvetica",
                              "x-ms-visibility": "advanced"
                            },
                            "created": {
                              "type": "string",
                              "x-ms-visibility": "advanced"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "x-ms-visibility": "advanced"
                }
              },
              "required": ["name", "account_id", "documents", "recipients"]
            }
          }
        ],
        "description": "Create Envelope"
      }
    },
    "/envelopes/{id}/send": {
      "post": {
        "responses": {
          "204": {
            "description": "Default"
          }
        },
        "tags": ["send"],
        "summary": "Send Envelope",
        "operationId": "SendEnvelope",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "$ref": "#/parameters/EnvelopeFromPath"
          }
        ],
        "description": "Send Envelope"
      }
    },
    "/envelopes/{id}/void": {
      "post": {
        "responses": {
          "204": {
            "description": "Default"
          }
        },
        "tags": ["void"],
        "summary": "Void Envelope",
        "operationId": "VoidEnvelope",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "$ref": "#/parameters/EnvelopeFromPath"
          }
        ],
        "description": "Send Envelope"
      }
    },
    "/fields/{id}/attachments": {
      "get": {
        "summary": "Get all attachments for a field",
        "tags": ["Field"],
        "parameters": [
          {
            "$ref": "#/parameters/EnvelopeFromQuery"
          },
          {
            "$ref": "#/parameters/FieldFromPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "original": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "size": {
                    "type": "integer"
                  },
                  "created": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "original",
                  "name",
                  "type",
                  "size",
                  "created"
                ]
              }
            }
          }
        },
        "operationId": "GetFieldAttachments",
        "description": "Get Field Attachments"
      }
    },
    "/fields/{id}": {
      "get": {
        "summary": "Get Field",
        "tags": ["Field"],
        "parameters": [
          {
            "$ref": "#/parameters/EnvelopeFromQuery"
          },
          {
            "$ref": "#/parameters/FieldFromPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Id"
                },
                "recipient_id": {
                  "type": "string",
                  "description": "Recipient Id"
                },
                "type": {
                  "type": "string",
                  "description": "Type"
                },
                "page": {
                  "type": "integer"
                },
                "anchor": {
                  "type": "string",
                  "description": "Anchor"
                },
                "x_coordinate": {
                  "type": "integer"
                },
                "y_coordinate": {
                  "type": "integer"
                },
                "required": {
                  "type": "boolean",
                  "description": "Required",
                  "x-ms-summary": "Required"
                },
                "read_only": {
                  "type": "boolean",
                  "description": "Read_only",
                  "x-ms-summary": "Read_only"
                },
                "collaborative": {
                  "type": "boolean",
                  "description": "Allows other recipients on the envelope to modify the values",
                  "x-ms-summary": "Collaborative"
                },
                "value": {
                  "type": "string",
                  "description": "The field's value"
                },
                "checked": {
                  "type": "boolean",
                  "description": "Checked",
                  "x-ms-summary": "Checked"
                },
                "height": {
                  "type": "integer"
                },
                "width": {
                  "type": "integer"
                },
                "options": {},
                "font_size": {
                  "type": "integer"
                },
                "font_type": {
                  "type": "string",
                  "description": "Possible values are courier and helvetica"
                },
                "date_format": {
                  "type": "string",
                  "description": "Date Format"
                },
                "created": {
                  "type": "string",
                  "description": "Created"
                }
              }
            }
          }
        },
        "operationId": "GetField",
        "description": "Get Field"
      }
    },
    "/fields": {
      "get": {
        "summary": "Get Fields",
        "tags": ["Fields"],
        "parameters": [
          {
            "$ref": "#/parameters/EnvelopeFromQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "recipient_id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "page": {
                    "type": "integer"
                  },
                  "anchor": {
                    "type": "string"
                  },
                  "x_coordinate": {
                    "type": "integer"
                  },
                  "y_coordinate": {
                    "type": "integer"
                  },
                  "required": {
                    "type": "boolean",
                    "description": "Required",
                    "x-ms-summary": "Required"
                  },
                  "read_only": {
                    "type": "boolean",
                    "description": "Read_only",
                    "x-ms-summary": "Read_only"
                  },
                  "collaborative": {
                    "type": "boolean",
                    "description": "Collaborative",
                    "x-ms-summary": "Collaborative"
                  },
                  "value": {
                    "type": "string"
                  },
                  "checked": {
                    "type": "boolean",
                    "description": "Checked",
                    "x-ms-summary": "Checked"
                  },
                  "height": {
                    "type": "integer"
                  },
                  "width": {
                    "type": "integer"
                  },
                  "options": {},
                  "font_size": {
                    "type": "integer"
                  },
                  "font_type": {
                    "type": "string"
                  },
                  "date_format": {
                    "type": "string"
                  },
                  "created": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetFields",
        "description": "List All Fields"
      }
    },
    "/templates/{id}": {
      "get": {
        "summary": "Get Template",
        "tags": ["Envelope"],
        "parameters": [
          {
            "$ref": "#/parameters/TemplateFromPath"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "shared": {
                  "type": "boolean",
                  "description": "Shared",
                  "x-ms-summary": "Shared"
                },
                "envelope_name": {
                  "type": "string"
                },
                "envelope_message": {
                  "type": "string"
                },
                "envelope_shared": {
                  "type": "boolean",
                  "description": "Envelope_shared",
                  "x-ms-summary": "Envelope_shared"
                },
                "created": {
                  "type": "string"
                },
                "account_id": {
                  "type": "string"
                },
                "group_id": {
                  "type": "string"
                },
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id",
                        "x-ms-summary": "Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "x-ms-summary": "Name"
                      },
                      "pages": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "original": {
                        "type": "string",
                        "description": "Original",
                        "x-ms-summary": "Original"
                      },
                      "master": {
                        "type": "string",
                        "description": "Master",
                        "x-ms-summary": "Master"
                      },
                      "created": {
                        "type": "string",
                        "description": "Created",
                        "x-ms-summary": "Created"
                      }
                    }
                  }
                },
                "roles": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id",
                        "x-ms-summary": "Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "x-ms-summary": "Name"
                      },
                      "recipient_name": {
                        "type": "string",
                        "description": "Recipient Name",
                        "x-ms-summary": "Recipient Name"
                      },
                      "recipient_email": {
                        "type": "string",
                        "description": "Recipient Email",
                        "x-ms-summary": "Recipient Email"
                      },
                      "recipient_mobile": {
                        "type": "string",
                        "description": "Recipient Mobile",
                        "x-ms-summary": "Recipient Mobile"
                      },
                      "recipient_type": {
                        "type": "string",
                        "description": "The recipient type, defaults to signer when not supplied",
                        "enum": ["signer", "viewer", "carbon-copy"],
                        "x-ms-summary": "Recipient Type"
                      },
                      "recipient_password": {
                        "type": "string",
                        "description": "Password",
                        "x-ms-summary": "Password"
                      },
                      "order": {
                        "type": "integer",
                        "x-ms-summary": "Signing Order",
                        "description": "Signing Order"
                      },
                      "recipient_redirects": {
                        "type": "object",
                        "properties": {
                          "session_completed": {
                            "type": "string",
                            "x-ms-summary": "Destination endpoint after the recipient has completed the envelope",
                            "description": "Destination endpoint after the recipient has completed the envelope"
                          },
                          "session_declined": {
                            "type": "string",
                            "x-ms-summary": "Destination endpoint after the recipient has declined to sign the envelope",
                            "description": "Destination endpoint after the recipient has declined to sign the envelope"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "GetTemplate",
        "description": "Get Template"
      }
    },
    "/templates": {
      "get": {
        "summary": "Get Templates",
        "tags": ["Templates"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An exact-match filter on the list based on the templates",
            "x-ms-summary": "Name",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedBeforeFromQuery"
          },
          {
            "$ref": "#/parameters/CreatedAfterFromQuery"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "shared": {
                    "type": "boolean",
                    "description": "Shared",
                    "x-ms-summary": "Shared"
                  },
                  "envelope_name": {
                    "type": "string"
                  },
                  "envelope_message": {
                    "type": "string"
                  },
                  "envelope_shared": {
                    "type": "boolean",
                    "description": "Envelope_shared",
                    "x-ms-summary": "Envelope_shared"
                  },
                  "created": {
                    "type": "string"
                  },
                  "account_id": {
                    "type": "string"
                  },
                  "group_id": {
                    "type": "string"
                  },
                  "documents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Id",
                          "x-ms-summary": "Id"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name",
                          "x-ms-summary": "Name"
                        },
                        "pages": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "original": {
                          "type": "string",
                          "description": "Original",
                          "x-ms-summary": "Original"
                        },
                        "master": {
                          "type": "string",
                          "description": "Master",
                          "x-ms-summary": "Master"
                        },
                        "created": {
                          "type": "string",
                          "description": "Created",
                          "x-ms-summary": "Created"
                        }
                      }
                    }
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Id",
                          "x-ms-summary": "Id"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name",
                          "x-ms-summary": "Name"
                        },
                        "recipient_name": {
                          "type": "string",
                          "description": "Recipient Name",
                          "x-ms-summary": "Recipient Name"
                        },
                        "recipient_email": {
                          "type": "string",
                          "description": "Recipient Email",
                          "x-ms-summary": "Recipient Email"
                        },
                        "recipient_mobile": {
                          "type": "string",
                          "description": "Recipient Mobile",
                          "x-ms-summary": "Recipient Mobile"
                        },
                        "recipient_type": {
                          "type": "string",
                          "description": "The recipient type, defaults to signer when not supplied",
                          "enum": ["signer", "viewer", "carbon-copy"],
                          "x-ms-summary": "Recipient Type"
                        },
                        "recipient_password": {
                          "type": "string",
                          "description": "Password",
                          "x-ms-summary": "Password"
                        },
                        "order": {
                          "type": "integer",
                          "x-ms-summary": "Signing Order",
                          "description": "Signing Order"
                        },
                        "recipient_redirects": {
                          "type": "object",
                          "properties": {
                            "session_completed": {
                              "type": "string",
                              "x-ms-summary": "Destination endpoint after the recipient has completed the envelope",
                              "description": "Destination endpoint after the recipient has completed the envelope"
                            },
                            "session_declined": {
                              "type": "string",
                              "x-ms-summary": "Destination endpoint after the recipient has declined to sign the envelope",
                              "description": "Destination endpoint after the recipient has declined to sign the envelope"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "GetTemplates",
        "description": "List All Templates"
      }
    },
    "/accounts": {
      "get": {
        "summary": "Get Accounts",
        "tags": ["Accounts"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name",
                    "x-ms-summary": "Name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email",
                    "x-ms-summary": "Email"
                  },
                  "number": {
                    "type": "string"
                  },
                  "timezone": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  },
                  "active": {
                    "type": "boolean"
                  },
                  "group_id": {
                    "type": "string"
                  },
                  "created": {
                    "type": "string"
                  },
                  "verified": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetAccounts",
        "description": "List All Accounts"
      }
    },
    "/organisations": {
      "get": {
        "summary": "Get Organisation",
        "tags": ["Organisation"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Id"
                },
                "name": {
                  "type": "string",
                  "description": "Name"
                },
                "business": {
                  "type": "string",
                  "description": "Business"
                },
                "email": {
                  "type": "string",
                  "description": "Email"
                },
                "number": {
                  "type": "string",
                  "description": "Number"
                },
                "address": {
                  "type": "string",
                  "description": "Address"
                },
                "website": {
                  "type": "string",
                  "description": "Website"
                },
                "logo": {
                  "type": "string",
                  "description": "Logo"
                },
                "colour": {
                  "type": "string",
                  "description": "Colour"
                },
                "created": {
                  "type": "string",
                  "description": "Created"
                }
              }
            }
          }
        },
        "operationId": "GetOrganisation",
        "description": "Get Organisation"
      }
    },
    "/templates/{id}/use": {
      "post": {
        "responses": {
          "201": {
            "description": "envelope created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Id"
                },
                "name": {
                  "type": "string",
                  "description": "Name"
                },
                "message": {
                  "type": "string",
                  "description": "Message"
                },
                "shared": {
                  "type": "boolean",
                  "description": "Is Shared?"
                },
                "draft": {
                  "type": "boolean"
                },
                "account_id": {
                  "type": "string",
                  "description": "Account Id"
                },
                "group_id": {
                  "type": "string",
                  "description": "Group Id"
                },
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id",
                        "x-ms-summary": "Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "x-ms-summary": "Name"
                      },
                      "pages": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "original": {
                        "type": "string",
                        "description": "Original",
                        "x-ms-summary": "Original"
                      },
                      "master": {
                        "type": "string",
                        "description": "Master",
                        "x-ms-summary": "Master"
                      },
                      "created": {
                        "type": "string",
                        "description": "Created",
                        "x-ms-summary": "Created"
                      }
                    }
                  }
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "role_id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "mobile": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      },
                      "password": {
                        "type": "boolean"
                      },
                      "muted": {
                        "type": "boolean"
                      },
                      "redirects": {
                        "type": "object",
                        "properties": {
                          "session_completed": {
                            "type": "string"
                          },
                          "session_declined": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["use template", "create from template"],
        "summary": "Create Envelope From Template",
        "operationId": "UseTemplate",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "$ref": "#/parameters/TemplateFromPath"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the envelope, displayed in the subject of emails sent to recipients and when viewing the envelope",
                  "x-ms-summary": "Name"
                },
                "draft": {
                  "type": "boolean",
                  "default": "false",
                  "description": "Is Draft",
                  "x-ms-summary": "Is Draft"
                },
                "message": {
                  "type": "string",
                  "description": "Message",
                  "x-ms-summary": "Message",
                  "x-ms-visibility": "advanced"
                },
                "shared": {
                  "type": "boolean",
                  "description": "Shared",
                  "x-ms-summary": "Shared",
                  "x-ms-visibility": "advanced"
                },
                "account_id": {
                  "type": "string",
                  "description": "Account ID",
                  "x-ms-summary": "Account ID",
                  "x-ms-dynamic-values": {
                    "operationId": "GetAccounts",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "group_id": {
                  "type": "string",
                  "description": "Group Id",
                  "x-ms-summary": "Group Id",
                  "x-ms-visibility": "advanced"
                },
                "documents": {
                  "x-ms-summary": "Documents",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Group Id",
                        "x-ms-summary": "Group Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "x-ms-summary": "Name"
                      },
                      "type": {
                        "type": "string",
                        "enum": ["application/pdf"],
                        "description": "Group Id",
                        "x-ms-summary": "Group Id"
                      },
                      "base": {
                        "type": "string",
                        "description": "File Content",
                        "x-ms-summary": "File Content",
                        "format": "byte"
                      }
                    }
                  },
                  "x-ms-visibility": "advanced"
                },
                "recipients": {
                  "type": "array",
                  "x-ms-summary": "Recipients",
                  "items": {
                    "type": "object",
                    "properties": {
                      "role_id": {
                        "type": "string",
                        "description": "Role Id",
                        "x-ms-summary": "Role Id",
                        "x-ms-dynamic-values": {
                          "operationId": "GetTemplate",
                          "value-path": "id",
                          "value-title": "name",
                          "value-collection": "roles",
                          "parameters": {
                            "id": {
                              "parameter": "id"
                            }
                          }
                        }
                      },
                      "name": {
                        "type": "string",
                        "description": "Name",
                        "x-ms-summary": "Name"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email Id",
                        "x-ms-summary": "Email Id"
                      },
                      "mobile": {
                        "type": "string",
                        "description": "Mobile",
                        "x-ms-summary": "Mobile"
                      },
                      "sms_auth": {
                        "type": "string",
                        "description": "SMS Auth",
                        "x-ms-summary": "SMS Auth"
                      },
                      "type": {
                        "type": "string",
                        "description": "The recipient type, defaults to signer when not supplied",
                        "enum": ["signer", "viewer", "carbon-copy"],
                        "x-ms-summary": "Recipient Type"
                      },
                      "message": {
                        "type": "string",
                        "description": "Message",
                        "x-ms-summary": "Message"
                      },
                      "password": {
                        "type": "string"
                      },
                      "muted": {
                        "type": "boolean",
                        "description": "This will stop Annature from sending any correspondence to the recipient",
                        "x-ms-summary": "Muted?"
                      },
                      "order": {
                        "type": "integer",
                        "x-ms-summary": "Signing Order",
                        "description": "Signing Order"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-ms-summary": "Field Id (from template)",
                              "description": "Id of the template field"
                            },
                            "value": {
                              "type": "string",
                              "x-ms-summary": "Value",
                              "description": "Value for this field"
                            }
                          },
                          "required": ["id", "value"]
                        }
                      },
                      "redirects": {
                        "type": "object",
                        "properties": {
                          "session_completed": {
                            "type": "string",
                            "x-ms-summary": "Destination endpoint after the recipient has completed the envelope",
                            "description": "Destination endpoint after the recipient has completed the envelope"
                          },
                          "session_declined": {
                            "type": "string",
                            "x-ms-summary": "Destination endpoint after the recipient has declined to sign the envelope",
                            "description": "Destination endpoint after the recipient has declined to sign the envelope"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "required": ["recipients", "account_id"]
            }
          }
        ],
        "description": "Use Template"
      }
    },
    "/recipients/{id}": {
      "get": {
        "summary": "Get Recipient",
        "tags": ["recipient"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Recipient Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Recipient",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Id",
                  "x-ms-summary": "Id"
                },
                "name": {
                  "type": "string",
                  "description": "Name"
                },
                "email": {
                  "type": "string",
                  "description": "Email"
                },
                "mobile": {
                  "type": "string",
                  "description": "Mobile"
                },
                "type": {
                  "type": "string",
                  "description": "Type"
                },
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "Message"
                },
                "password": {
                  "description": "Password",
                  "x-ms-summary": "Password"
                },
                "muted": {
                  "type": "boolean",
                  "description": "Muted",
                  "x-ms-summary": "Muted"
                },
                "order": {
                  "type": "integer"
                },
                "declined_reason": {
                  "type": "string",
                  "description": "Declined_reason"
                },
                "created": {
                  "type": "string",
                  "description": "Created"
                },
                "sent": {
                  "type": "string",
                  "description": "Sent"
                },
                "declined": {
                  "type": "string",
                  "description": "Declined"
                },
                "completed": {
                  "type": "string",
                  "description": "Completed"
                },
                "redirects": {
                  "type": "object",
                  "properties": {
                    "session_completed": {
                      "type": "string",
                      "description": "Session_completed"
                    },
                    "session_declined": {
                      "type": "string",
                      "description": "Session_declined"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "GetRecipient",
        "description": "Get a single recipient created for an envelope using the id property that was returned in the create an envelope response body"
      }
    }
  },
  "definitions": {
    "WebhookEventContent": {
      "type": "object",
      "properties": {
        "event": {
          "type": "string"
        },
        "envelope_id": {
          "type": "string"
        },
        "voided": {
          "type": "string"
        },
        "completed": {
          "type": "string"
        },
        "master": {
          "type": "string"
        },
        "certificate": {
          "type": "string"
        },
        "sent": {
          "type": "string"
        },
        "method": {
          "type": "string"
        },
        "recipient_id": {
          "type": "string"
        },
        "viewed": {
          "type": "string"
        },
        "declined": {
          "type": "string"
        },
        "declined_reason": {
          "type": "string"
        },
        "failed": {
          "type": "string"
        },
        "diagnosis": {
          "type": "string"
        }
      },
      "required": ["event"]
    }
  },
  "parameters": {
    "EndpointDurationFromQuery": {
      "name": "endpoint_duration",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Sets the number of minutes that the original, and master endpoints will be accessible for. Number can range between 1 and 10080 with the default being 60",
      "x-ms-summary": "Endpoint Duration",
      "x-ms-visibility": "advanced"
    },
    "EnvelopeNameFromQuery": {
      "name": "name",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "An exact-match filter on the list based on the envelope's name property",
      "x-ms-summary": "Envelope Name",
      "x-ms-visibility": "important"
    },
    "EnvelopeStatusFromQuery": {
      "name": "status",
      "in": "query",
      "required": false,
      "type": "string",
      "enum": ["draft", "created", "sent", "completed", "voided"],
      "description": "An exact-match filter on the list based on the envelope's status",
      "x-ms-summary": "Envelope Status",
      "x-ms-visibility": "important"
    },
    "EnvelopeRecipientFromQuery": {
      "name": "recipient",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "An exact-match filter on the list based on any recipient's name or email property",
      "x-ms-summary": "Recipient Name",
      "x-ms-visibility": "important"
    },
    "CreatedBeforeFromQuery": {
      "name": "created_before",
      "in": "query",
      "required": false,
      "type": "string",
      "format": "date",
      "description": "Returns results where the created date is before the given value",
      "x-ms-summary": "Created before",
      "x-ms-visibility": "advanced"
    },
    "CreatedAfterFromQuery": {
      "name": "created_after",
      "in": "query",
      "required": false,
      "type": "string",
      "format": "date",
      "description": "Returns results where the created date is after the given value",
      "x-ms-summary": "Created After",
      "x-ms-visibility": "advanced"
    },
    "CompletedBeforeFromQuery": {
      "name": "completed_before",
      "in": "query",
      "required": false,
      "type": "string",
      "format": "date",
      "description": "Returns results where the completed date is before the given value",
      "x-ms-summary": "Completed before",
      "x-ms-visibility": "advanced"
    },
    "CompletedAfterFromQuery": {
      "name": "completed_after",
      "in": "query",
      "required": false,
      "type": "string",
      "format": "date",
      "description": "Returns results where the completed date is after the given value",
      "x-ms-summary": "Completed After",
      "x-ms-visibility": "advanced"
    },
    "DocumentEnvelopeIdFromPath": {
      "name": "id",
      "in": "path",
      "description": "Document Id",
      "required": true,
      "type": "string",
      "x-ms-summary": "Document",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "GetDocuments",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "envelope_id": {
            "parameter": "envelope_id"
          }
        }
      }
    },
    "EnvelopeFromQuery": {
      "name": "envelope_id",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Envelope ID",
      "x-ms-summary": "Envelope ID"
    },
    "EnvelopeFromQueryWithDropdown": {
      "name": "envelope_id",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Envelope ID",
      "x-ms-summary": "Envelope ID",
      "x-ms-dynamic-values": {
        "operationId": "GetEnvelopes",
        "value-path": "id",
        "value-title": "name"
      }
    },
    "FieldFromPath": {
      "name": "id",
      "in": "path",
      "description": "Field Id",
      "required": true,
      "type": "string",
      "x-ms-summary": "Field Id",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "GetFields",
        "value-path": "id",
        "value-title": "id",
        "parameters": {
          "envelope_id": {
            "parameter": "envelope_id"
          }
        }
      }
    },
    "EnvelopeFromPath": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Envelope ID",
      "x-ms-summary": "Envelope ID",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "GetEnvelopes",
        "value-path": "id",
        "value-title": "name"
      }
    },
    "TemplateFromPath": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Template ID",
      "x-ms-summary": "Template ID",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "GetTemplates",
        "value-path": "id",
        "value-title": "name"
      }
    }
  },
  "responses": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://annature.com.au"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.annature.com.au/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "security": [
    {
      "api_client_id": [],
      "api_key": [],
      "partner_key": []
    }
  ],
  "securityDefinitions": {
    "api_client_id": {
      "in": "header",
      "name": "X-Annature-Id",
      "type": "apiKey"
    },
    "api_key": {
      "in": "header",
      "name": "X-Annature-Key",
      "type": "apiKey"
    }
  },
  "tags": []
}
