{
  "swagger": "2.0",
  "info": {
    "title": "Telnyx",
    "description": "Deliver SMS messages over the Telnyx network to ensure your notifications reach the intended recipient in a fast, reliable, and cost effective manner.",
    "version": "1.0",
    "contact":{
	"name": "Telnyx Support",
	"url": "https://support.telnyx.com/",
	"email": "support@telnyx.com"
    }
  },
 "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.telnyx.com"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://telnyx.com/privacy-policy"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Communication;Internet of Things"
      }
  ], 
  "host": "api.telnyx.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v2/messages": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "completed_at": {
                      "type": "string",
                      "description": "completed_at"
                    },
                    "cost": {
                      "type": "string",
                      "description": "cost"
                    },
                    "direction": {
                      "type": "string",
                      "description": "direction"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "encoding"
                    },
                    "errors": {
                      "type": "array",
                      "items": {},
                      "description": "errors"
                    },
                    "from": {
                      "type": "object",
                      "properties": {
                        "carrier": {
                          "type": "string",
                          "description": "carrier"
                        },
                        "line_type": {
                          "type": "string",
                          "description": "line_type"
                        },
                        "phone_number": {
                          "type": "string",
                          "description": "phone_number"
                        }
                      },
                      "description": "from"
                    },
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content_type": {
                            "type": "string",
                            "description": "content_type"
                          },
                          "sha256": {
                            "type": "string",
                            "description": "sha256"
                          },
                          "size": {
                            "type": "string",
                            "description": "size"
                          },
                          "url": {
                            "type": "string",
                            "description": "url"
                          }
                        }
                      },
                      "description": "media"
                    },
                    "messaging_profile_id": {
                      "type": "string",
                      "description": "messaging_profile_id"
                    },
                    "organization_id": {
                      "type": "string",
                      "description": "organization_id"
                    },
                    "parts": {
                      "type": "integer",
                      "format": "int32",
                      "description": "parts"
                    },
                    "received_at": {
                      "type": "string",
                      "description": "received_at"
                    },
                    "record_type": {
                      "type": "string",
                      "description": "record_type"
                    },
                    "sent_at": {
                      "type": "string",
                      "description": "sent_at"
                    },
                    "subject": {
                      "type": "string",
                      "description": "subject"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "tags"
                    },
                    "text": {
                      "type": "string",
                      "description": "text"
                    },
                    "to": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "carrier": {
                            "type": "string",
                            "description": "carrier"
                          },
                          "line_type": {
                            "type": "string",
                            "description": "line_type"
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "phone_number"
                          },
                          "status": {
                            "type": "string",
                            "description": "status"
                          }
                        }
                      },
                      "description": "to"
                    },
                    "type": {
                      "type": "string",
                      "description": "type"
                    },
                    "valid_until": {
                      "type": "string",
                      "description": "valid_until"
                    },
                    "webhook_failover_url": {
                      "type": "string",
                      "description": "webhook_failover_url"
                    },
                    "webhook_url": {
                      "type": "string",
                      "description": "webhook_url"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Send a message",
        "description": "Send a message with a Phone Number, Alphanumeric Sender ID, Short Code or Number Pool",
        "operationId": "SendMessage",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "from"
                },
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                }
              }
            }
          }
        ]
      }
    }
  },
 "definitions": {},
  "parameters": {},
  "responses": {},  
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },  
  "security": [],
  "tags": []  
}