{
  "swagger": "2.0",
  "info": {
    "title": "Telnyx",
    "description": "Deliver SMS messages over the Telnyx network to ensure your notifications reach the intended recipient in a fast, reliable, and cost effective manner.",
    "version": "1.0",
    "contact": {
      "name": "Telnyx Support",
      "url": "https://support.telnyx.com/",
      "email": "support@telnyx.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.telnyx.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://telnyx.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Internet of Things"
    }
  ],
  "host": "api.telnyx.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v2/messages": {
      "post": {
        "responses": {
          "200": {
            "description": "Successful response with details about a message.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "completed_at": {
                      "type": "string",
                      "description": "The time the message was sent"
                    },
                    "cost": {
                      "type": "string",
                      "description": "the billed cost of the message"
                    },
                    "direction": {
                      "type": "string",
                      "description": "inbound or outbound"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "the encoding used to send the mssage : Default GSM-7"
                    },
                    "errors": {
                      "type": "array",
                      "items": {},
                      "description": "A list of any errors"
                    },
                    "from": {
                      "type": "object",
                      "properties": {
                        "carrier": {
                          "type": "string",
                          "description": "Originating SMS provider"
                        },
                        "line_type": {
                          "type": "string",
                          "description": "VoIP | Mobile | Land-Line"
                        },
                        "phone_number": {
                          "type": "string",
                          "description": "Caller ID of the Sender"
                        }
                      },
                      "description": "Sender Information"
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique Identifier"
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content_type": {
                            "type": "string",
                            "description": "content_type"
                          },
                          "sha256": {
                            "type": "string",
                            "description": "sha256"
                          },
                          "size": {
                            "type": "string",
                            "description": "size"
                          },
                          "url": {
                            "type": "string",
                            "description": "url"
                          }
                        }
                      },
                      "description": "media if MMS"
                    },
                    "messaging_profile_id": {
                      "type": "string",
                      "description": "Message Profile Used to Send Call"
                    },
                    "organization_id": {
                      "type": "string",
                      "description": "Telnyx Organization Used to Send Call"
                    },
                    "parts": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of parts of this message"
                    },
                    "received_at": {
                      "type": "string",
                      "description": "For inbound SMS, the time the message was received"
                    },
                    "record_type": {
                      "type": "string",
                      "description": "defaults to message"
                    },
                    "sent_at": {
                      "type": "string",
                      "description": "Timestamp of when message was sent"
                    },
                    "subject": {
                      "type": "string",
                      "description": "A title for the message"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "A list of tags for the message"
                    },
                    "text": {
                      "type": "string",
                      "description": "The message payload"
                    },
                    "to": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "carrier": {
                            "type": "string",
                            "description": "Terminating carrier"
                          },
                          "line_type": {
                            "type": "string",
                            "description": "Destination Number Type, VoIP | Mobile | Land-Line"
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "Destination Phone Number"
                          },
                          "status": {
                            "type": "string",
                            "description": "status"
                          }
                        }
                      },
                      "description": "Receiver Information"
                    },
                    "type": {
                      "type": "string",
                      "description": "MMS or SMS"
                    },
                    "valid_until": {
                      "type": "string",
                      "description": "How long it is valid for"
                    },
                    "webhook_failover_url": {
                      "type": "string",
                      "description": "Backup webhook used to receive events"
                    },
                    "webhook_url": {
                      "type": "string",
                      "description": "Primary webhook used to receive events"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Send a message",
        "description": "Send a message with a Phone Number, Alphanumeric Sender ID, Short Code or Number Pool",
        "operationId": "SendMessage",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "from"
                },
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                }
              }
            }
          }
        ]
      }
    }
  },
 "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": []
}