{
  "swagger": "2.0",
  "info": {
    "title": "OK dokument",
    "description": "OK dokument delivers an easy to use and customizable electronic signature and digital document distribution platform that integrates seamlessly into your existing systems",
    "version": "1.0",
    "contact": {
      "name": "Solitea Slovensko a.s.",
      "email": "tomas.szarka@solitea.sk",
      "url": "https://www.solitea.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://okdokument.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://okdokument.com/_user/files/OKdokument/gdpr-en.pdf"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "host": "api.okdokument.com",
  "basePath": "/JSON",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/document": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code",
                  "title": "code",
                  "x-ms-visibility": "internal"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "message",
                  "x-ms-visibility": "internal"
                },
                "result": {
                  "type": "string",
                  "description": "Document ID",
                  "title": "Document ID",
                  "x-ms-visibility": "important"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode",
                  "title": "statusCode",
                  "x-ms-visibility": "internal"
                },
                "success": {
                  "type": "boolean",
                  "description": "success",
                  "title": "success",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code",
                  "title": "code",
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "message",
                  "x-ms-visibility": "important"
                },
                "result": {
                  "type": "string",
                  "description": "result",
                  "title": "Document ID",
                  "x-ms-visibility": "internal"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode",
                  "title": "Document ID",
                  "x-ms-visibility": "internal"
                },
                "success": {
                  "type": "boolean",
                  "description": "success",
                  "title": "success",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed"
          }
        },
        "summary": "Document Upload",
        "description": "Document Upload",
        "operationId": "DocumentUpload",
        "parameters": [
          {
            "name": "Content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "state": {
                  "type": "string",
                  "description": "Document operation",
                  "title": "Document operation",
                  "x-ms-visibility": "important",
                  "enum": [
                    "tosign",
                    "preprocessing_tags"
                  ],
                  "default": "tosign"
                },
                "file": {
                  "description": "File content",
                  "title": "File",
                  "format": "binary",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "file"
              ]
            }
          }
        ]
      }
    },
    "/signatureRequest": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "SUCCESS",
                  "title": "Code",
                  "x-ms-visibility": "internal"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "Message",
                  "x-ms-visibility": "internal"
                },
                "result": {
                  "type": "string",
                  "description": "Signature Request ID",
                  "title": "Signature Request ID",
                  "x-ms-visibility": "important"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode",
                  "title": "StatusCode",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "Signature Request URL",
                  "x-ms-visibility": "important"
                },
                "success": {
                  "type": "boolean",
                  "description": "Return True or False",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code",
                  "title": "code",
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "message",
                  "x-ms-visibility": "important"
                },
                "result": {
                  "type": "string",
                  "description": "result",
                  "title": "Signature Request ID",
                  "x-ms-visibility": "internal"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode",
                  "title": "statusCode",
                  "x-ms-visibility": "internal"
                },
                "success": {
                  "type": "boolean",
                  "description": "success",
                  "title": "success",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code",
                  "title": "code",
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "message",
                  "x-ms-visibility": "important"
                },
                "result": {
                  "type": "string",
                  "description": "result",
                  "title": "Signature Request ID",
                  "x-ms-visibility": "internal"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode",
                  "title": "statusCode",
                  "x-ms-visibility": "internal"
                },
                "success": {
                  "type": "boolean",
                  "description": "success",
                  "title": "success",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        },
        "summary": "Signature Request",
        "description": "Signature Request",
        "operationId": "SignatureRequest",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Document ID from Document Upload action",
                  "title": "Document ID",
                  "x-ms-visibility": "important"
                },
                "changeState": {
                  "type": "string",
                  "description": "changeState",
                  "title": "changeState",
                  "default": "tosign",
                  "x-ms-visibility": "internal"
                },
                "rules": {
                  "type": "string",
                  "description": "Additional rules",
                  "title": "Additional rules",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "",
                    "signAnywhere-false"
                  ]
                },
                "allowedFields": {
                  "type": "object",
                  "properties": {
                    "SIGNATURE": {
                      "type": "string",
                      "description": "Signature fields in your document",
                      "title": "Signature fields",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "allowedFields"
                }
              },
              "required": [
                "id",
                "allowedFields",
                "changeState"
              ]
            }
          }
        ]
      }
    },
    "/document/{Document ID}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "Document Content",
              "title": "Document Content",
              "type": "string",
              "format": "binary"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code",
                  "title": "code",
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "message",
                  "x-ms-visibility": "important"
                },
                "result": {
                  "type": "string",
                  "description": "result",
                  "title": "Document ID",
                  "x-ms-visibility": "internal"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode",
                  "title": "statusCode",
                  "x-ms-visibility": "internal"
                },
                "success": {
                  "type": "boolean",
                  "description": "success",
                  "title": "success",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed"
          }
        },
        "summary": "Download Signed Document",
        "operationId": "DownloadDocument",
        "description": "Download Signed Document",
        "parameters": [
          {
            "name": "Document ID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Document ID from Document Upload action",
            "x-ms-summary": "Document ID"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code",
                  "title": "code",
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "message",
                  "x-ms-visibility": "important"
                },
                "result": {
                  "type": "string",
                  "description": "result",
                  "title": "result",
                  "x-ms-visibility": "internal"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode",
                  "title": "statusCode"
                },
                "success": {
                  "type": "boolean",
                  "description": "success",
                  "title": "success",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code",
                  "title": "code",
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "message",
                  "x-ms-visibility": "important"
                },
                "result": {
                  "type": "string",
                  "description": "result",
                  "title": "result",
                  "x-ms-visibility": "internal"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode",
                  "title": "statusCode",
                  "x-ms-visibility": "internal"
                },
                "success": {
                  "type": "boolean",
                  "description": "success",
                  "title": "success",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "internal"
                }
              }
            }
          },
          "405": {
            "description": "Method Not Allowed"
          }
        },
        "summary": "Document Delete",
        "operationId": "DocumentDelete",
        "description": "Document Delete",
        "parameters": [
          {
            "name": "Document ID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Document ID",
            "x-ms-summary": "Document ID"
          }
        ]
      }
    },
    "/signatureRequest/{signatureRequestId}": {
      "x-ms-notification-content": {
        "description": "Status ok once document is signed",
        "schema": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "description": "code",
              "title": "code"
            },
            "message": {
              "type": "string",
              "description": "message",
              "title": "message",
              "x-ms-visibility": "internal"
            },
            "result": {
              "type": "string",
              "description": "result",
              "title": "result",
              "x-ms-visibility": "internal"
            },
            "statusCode": {
              "type": "integer",
              "format": "int32",
              "description": "statusCode",
              "title": "statusCode"
            },
            "url": {
              "type": "string",
              "description": "url",
              "title": "url",
              "x-ms-visibility": "internal"
            },
            "success": {
              "type": "boolean",
              "description": "success",
              "title": "success",
              "enum": [
                true,
                false
              ],
              "x-ms-visibility": "internal"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "405": {
            "description": "Method Not Allowed"
          }
        },
        "summary": "Wait for document signature",
        "description": "Wait for document signature",
        "operationId": "WaitForSignature",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "signatureRequestId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Signature Request ID from Signature request action",
            "x-ms-summary": "Signature Request ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sendInfoURL": {
                  "type": "string",
                  "description": "sendInfoURL",
                  "title": "Callback URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "sendInfoURL"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}