{
  "swagger": "2.0",
  "info": {
    "title": "Duration Calculator (Independent Publisher)",
    "description": "A comprehensive duration and time calculation connector supporting business days, time zones, payroll periods, project timelines, and advanced DST calculations for enterprise applications.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.troystaylor.com",
      "email": "troy@troystaylor.com"
    }
  },
  "host": "troystaylor.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/CalculateBusinessDays": {
      "post": {
        "summary": "Calculate business days",
        "description": "Calculate the number of business days between two dates, excluding weekends and optional holidays.",
        "operationId": "CalculateBusinessDays",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BusinessDaysRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BusinessDaysResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/CalculateAge": {
      "post": {
        "summary": "Calculate age",
        "description": "Calculate precise age and duration between dates with multiple output formats including years, months, days, and total time units.",
        "operationId": "CalculateAge",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgeCalculationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AgeCalculationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/CalculateWorkingHours": {
      "post": {
        "summary": "Calculate working hours",
        "description": "Track and calculate working hours with support for custom schedules, overtime rules, and break time calculations.",
        "operationId": "CalculateWorkingHours",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkingHoursRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkingHoursResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/ConvertTimeZones": {
      "post": {
        "summary": "Convert time zones",
        "description": "Convert datetime between 25\u002B supported time zones with automatic DST detection and adjustment.",
        "operationId": "ConvertTimeZones",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeZoneConversionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TimeZoneConversionResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/CalculateProjectDuration": {
      "post": {
        "summary": "Calculate project duration",
        "description": "Analyze project timelines with milestone tracking, critical path analysis, and project status calculations.",
        "operationId": "CalculateProjectDuration",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectDurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProjectDurationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/CalculatePayrollPeriods": {
      "post": {
        "summary": "Calculate payroll periods",
        "description": "Generate payroll periods for weekly, bi-weekly, semi-monthly, or monthly schedules with working day calculations.",
        "operationId": "CalculatePayrollPeriods",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PayrollPeriodsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PayrollPeriodsResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/GetTimeZoneInfo": {
      "post": {
        "summary": "Get time zone information",
        "description": "Retrieve comprehensive time zone information including DST rules, current offset, and regional details.",
        "operationId": "GetTimeZoneInfo",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TimeZoneInfoRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TimeZoneInfoResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/DeadlineCalculation": {
      "post": {
        "summary": "Calculate deadline",
        "description": "Calculate time remaining until a deadline with detailed breakdown and milestone tracking.",
        "operationId": "DeadlineCalculation",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeadlineCalculationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeadlineCalculationResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/CrossTzDuration": {
      "post": {
        "summary": "Calculate cross time zone duration",
        "description": "Calculate duration between two date-times across different time zones, accounting for DST changes.",
        "operationId": "CrossTzDuration",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrossTzDurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CrossTzDurationResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/CalculateGlobalWorkingHours": {
      "post": {
        "summary": "Calculate global working hours",
        "description": "Calculate working hours across multiple time zones with regional holiday support and custom schedules.",
        "operationId": "CalculateGlobalWorkingHours",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalWorkingHoursRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GlobalWorkingHoursResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/CalculateMeetingTimes": {
      "post": {
        "summary": "Calculate optimal meeting times",
        "description": "Find optimal meeting times across multiple time zones with availability constraints and working hours.",
        "operationId": "CalculateMeetingTimes",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MeetingTimesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MeetingTimesResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/ValidateDstCalculations": {
      "post": {
        "summary": "Validate DST calculations",
        "description": "Validate and analyze daylight saving time calculations for accuracy and compliance.",
        "operationId": "ValidateDstCalculations",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstValidationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DstValidationResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/CalculateDstTransition": {
      "post": {
        "summary": "Calculate DST transition",
        "description": "Calculate specific daylight saving time transition dates and analyze their impact on durations.",
        "operationId": "CalculateDstTransition",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstTransitionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DstTransitionResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    },
    "/GetDstHistory": {
      "post": {
        "summary": "Get DST history",
        "description": "Retrieve historical daylight saving time transition data for analysis and compliance reporting.",
        "operationId": "GetDstHistory",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DstHistoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DstHistoryResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "default": {
            "description": "Operation Failed"
          }
        }
      }
    }
  },
  "definitions": {
    "TimeZoneEnum": {
      "type": "string",
      "enum": [
        "Pacific/Fiji",
        "Pacific/Auckland",
        "Asia/Magadan",
        "Asia/Vladivostok",
        "Australia/Hobart",
        "Australia/Melbourne",
        "Australia/Sydney",
        "Australia/Brisbane",
        "Australia/Adelaide",
        "Australia/Darwin",
        "Asia/Irkutsk",
        "Asia/Krasnoyarsk",
        "Asia/Tokyo",
        "Asia/Seoul",
        "Australia/Perth",
        "Asia/Kuala_Lumpur",
        "Asia/Singapore",
        "Asia/Manila",
        "Asia/Taipei",
        "Asia/Hong_Kong",
        "Asia/Shanghai",
        "Asia/Novosibirsk",
        "Asia/Almaty",
        "Asia/Jakarta",
        "Asia/Phnom_Penh",
        "Asia/Ho_Chi_Minh",
        "Asia/Bangkok",
        "Asia/Yangon",
        "Asia/Dhaka",
        "Asia/Kolkata",
        "Asia/Tashkent",
        "Asia/Karachi",
        "Indian/Maldives",
        "Indian/Mauritius",
        "Asia/Dubai",
        "Asia/Tehran",
        "Asia/Baghdad",
        "Asia/Kuwait",
        "Asia/Riyadh",
        "Europe/Moscow",
        "Africa/Addis_Ababa",
        "Africa/Nairobi",
        "Africa/Khartoum",
        "Asia/Amman",
        "Asia/Damascus",
        "Asia/Beirut",
        "Asia/Jerusalem",
        "Europe/Istanbul",
        "Europe/Kiev",
        "Africa/Cairo",
        "Europe/Sofia",
        "Europe/Bucharest",
        "Europe/Athens",
        "Africa/Lagos",
        "Africa/Tripoli",
        "Africa/Tunis",
        "Africa/Algiers",
        "Europe/Helsinki",
        "Europe/Oslo",
        "Europe/Copenhagen",
        "Europe/Stockholm",
        "Europe/Budapest",
        "Europe/Warsaw",
        "Europe/Prague",
        "Europe/Zurich",
        "Europe/Vienna",
        "Europe/Brussels",
        "Europe/Amsterdam",
        "Europe/Madrid",
        "Europe/Rome",
        "Europe/Berlin",
        "Europe/Paris",
        "Africa/Casablanca",
        "Europe/Lisbon",
        "Europe/Dublin",
        "Europe/London",
        "Atlantic/Reykjavik",
        "GMT",
        "UTC",
        "Atlantic/Azores",
        "Atlantic/Cape_Verde",
        "America/Buenos_Aires",
        "America/Sao_Paulo",
        "America/St_Johns",
        "America/Caracas",
        "America/Halifax",
        "America/Lima",
        "America/Bogota",
        "America/Cancun",
        "America/Montreal",
        "America/Toronto",
        "America/New_York",
        "America/Mexico_City",
        "America/Chicago",
        "America/Phoenix",
        "America/Denver",
        "America/Vancouver",
        "America/Los_Angeles",
        "America/Anchorage",
        "America/Honolulu",
        "Pacific/Tahiti",
        "Pacific/Marquesas",
        "Pacific/Guam",
        "Pacific/Port_Moresby",
        "Pacific/Noumea",
        "Africa/Johannesburg"
      ],
      "description": "IANA time zone identifier."
    },
    "BusinessDaysRequest": {
      "type": "object",
      "required": [
        "startDate",
        "endDate"
      ],
      "properties": {
        "startDate": {
          "type": "string",
          "title": "Start Date",
          "description": "The start date for business day calculation."
        },
        "endDate": {
          "type": "string",
          "title": "End Date",
          "description": "The end date for business day calculation."
        },
        "holidays": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Holiday Dates",
          "description": "Optional list of holiday dates to exclude from business day calculation."
        },
        "includeStartDate": {
          "type": "boolean",
          "title": "Include Start Date",
          "description": "Whether to include the start date in the calculation.",
          "default": true
        }
      }
    },
    "BusinessDaysResponse": {
      "type": "object",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "The start date used in calculation.",
          "title": "Start Date"
        },
        "endDate": {
          "type": "string",
          "description": "The end date used in calculation.",
          "title": "End Date"
        },
        "businessDays": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of business days between the dates.",
          "title": "Business Days"
        },
        "totalDays": {
          "type": "integer",
          "format": "int32",
          "description": "Total calendar days between the dates.",
          "title": "Total Days"
        },
        "weekendDays": {
          "type": "integer",
          "format": "int32",
          "description": "Number of weekend days excluded.",
          "title": "Weekend Days"
        },
        "holidayDays": {
          "type": "integer",
          "format": "int32",
          "description": "Number of holiday days excluded.",
          "title": "Holiday Days"
        },
        "holidaysInRange": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of holidays that fell within the date range.",
          "title": "Holidays in Range"
        }
      }
    },
    "AgeCalculationRequest": {
      "type": "object",
      "required": [
        "birthDate"
      ],
      "properties": {
        "birthDate": {
          "type": "string",
          "format": "date-time",
          "description": "The birth date and time for age calculation.",
          "title": "Birth Date"
        },
        "asOfDate": {
          "type": "string",
          "format": "date-time",
          "description": "Calculate age as of this date. Defaults to current date if not provided.",
          "title": "As Of Date"
        },
        "includeTime": {
          "type": "boolean",
          "description": "Whether to include time precision in age calculation.",
          "title": "Include Time",
          "default": false
        }
      }
    },
    "AgeCalculationResponse": {
      "type": "object",
      "properties": {
        "birthDate": {
          "type": "string",
          "format": "date-time",
          "description": "The birth date used in calculation.",
          "title": "Birth Date"
        },
        "calculationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date age was calculated to.",
          "title": "Calculation Date"
        },
        "ageYears": {
          "type": "integer",
          "format": "int32",
          "description": "Age in complete years.",
          "title": "Age in Years"
        },
        "ageMonths": {
          "type": "integer",
          "format": "int32",
          "description": "Additional months beyond complete years.",
          "title": "Additional Months"
        },
        "ageDays": {
          "type": "integer",
          "format": "int32",
          "description": "Additional days beyond complete years and months.",
          "title": "Additional Days"
        },
        "totalDays": {
          "type": "integer",
          "format": "int32",
          "description": "Total age in days.",
          "title": "Total Days"
        },
        "totalHours": {
          "type": "integer",
          "format": "int32",
          "description": "Total age in hours.",
          "title": "Total Hours"
        },
        "totalMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Total age in minutes.",
          "title": "Total Minutes"
        },
        "formattedAge": {
          "type": "string",
          "description": "Human-readable formatted age string.",
          "title": "Formatted Age"
        }
      }
    },
    "WorkingHoursRequest": {
      "type": "object",
      "required": [
        "startDateTime",
        "endDateTime"
      ],
      "properties": {
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start date and time for working hours calculation.",
          "title": "Start Date Time"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end date and time for working hours calculation.",
          "title": "End Date Time"
        },
        "workingHours": {
          "type": "object",
          "properties": {
            "start": {
              "type": "string",
              "description": "Working day start time (e.g., \u002709:00\u0027).",
              "title": "Work Start Time"
            },
            "end": {
              "type": "string",
              "description": "Working day end time (e.g., \u002717:00\u0027).",
              "title": "Work End Time"
            }
          },
          "description": "Custom working hours definition.",
          "title": "Working Hours"
        },
        "overtimeRate": {
          "type": "number",
          "description": "Overtime multiplier rate (e.g., 1.5 for time-and-a-half).",
          "title": "Overtime Rate",
          "default": 1.5
        },
        "breakHours": {
          "type": "number",
          "description": "Daily break time in hours to subtract from working hours.",
          "title": "Break Hours",
          "default": 1
        }
      }
    },
    "WorkingHoursResponse": {
      "type": "object",
      "properties": {
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start date and time used in calculation.",
          "title": "Start Date Time"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end date and time used in calculation.",
          "title": "End Date Time"
        },
        "totalHours": {
          "type": "number",
          "description": "Total working hours calculated.",
          "title": "Total Hours"
        },
        "regularHours": {
          "type": "number",
          "description": "Regular working hours (non-overtime).",
          "title": "Regular Hours"
        },
        "overtimeHours": {
          "type": "number",
          "description": "Overtime hours calculated.",
          "title": "Overtime Hours"
        },
        "totalDays": {
          "type": "integer",
          "format": "int32",
          "description": "Total calendar days in the period.",
          "title": "Total Days"
        },
        "workingDays": {
          "type": "integer",
          "format": "int32",
          "description": "Total working days (excluding weekends).",
          "title": "Working Days"
        }
      }
    },
    "TimeZoneConversionRequest": {
      "type": "object",
      "required": [
        "dateTime",
        "fromTimeZone",
        "toTimeZone"
      ],
      "properties": {
        "dateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time to convert.",
          "title": "Date Time"
        },
        "fromTimeZone": {
          "$ref": "#/definitions/TimeZoneEnum"
        },
        "toTimeZone": {
          "$ref": "#/definitions/TimeZoneEnum"
        }
      }
    },
    "TimeZoneConversionResponse": {
      "type": "object",
      "properties": {
        "originalDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The original date and time provided.",
          "title": "Original Date Time"
        },
        "convertedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The converted date and time in target timezone.",
          "title": "Converted Date Time"
        },
        "fromTimeZone": {
          "type": "string",
          "description": "Source time zone used.",
          "title": "From Time Zone"
        },
        "toTimeZone": {
          "type": "string",
          "description": "Target time zone used.",
          "title": "To Time Zone"
        },
        "offsetDifference": {
          "type": "string",
          "description": "Time difference between zones.",
          "title": "Offset Difference"
        },
        "isDstActive": {
          "type": "boolean",
          "description": "Whether daylight saving time is active.",
          "title": "DST Active"
        }
      }
    },
    "ProjectDurationRequest": {
      "type": "object",
      "required": [
        "startDate",
        "endDate"
      ],
      "properties": {
        "startDate": {
          "type": "string",
          "description": "Project start date.",
          "title": "Start Date"
        },
        "endDate": {
          "type": "string",
          "description": "Project end date.",
          "title": "End Date"
        },
        "projectStatus": {
          "type": "string",
          "enum": [
            "planning",
            "active",
            "on-hold",
            "completed",
            "cancelled",
            "delayed",
            "at-risk",
            "pending-approval"
          ],
          "description": "Current project status for duration calculations.",
          "title": "Project Status",
          "default": "active"
        },
        "milestones": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Milestone"
          },
          "description": "List of project milestones for analysis.",
          "title": "Milestones"
        },
        "holidays": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Holiday"
          },
          "description": "Holiday dates and types to exclude from business day calculations.",
          "title": "Holidays"
        },
        "includeWeekends": {
          "type": "boolean",
          "description": "Whether to include weekends in project duration.",
          "title": "Include Weekends",
          "default": false
        },
        "outputFormat": {
          "type": "string",
          "enum": [
            "hours",
            "days",
            "weeks",
            "months",
            "years",
            "detailed",
            "business-days",
            "calendar-days"
          ],
          "description": "Preferred output format for duration calculations.",
          "title": "Output Format",
          "default": "detailed"
        },
        "workingHoursPeriod": {
          "type": "string",
          "enum": [
            "standard",
            "morning",
            "evening",
            "night",
            "flexible",
            "extended",
            "shift-1",
            "shift-2",
            "shift-3"
          ],
          "description": "Type of working hours period for calculations.",
          "title": "Working Hours Period",
          "default": "standard"
        }
      }
    },
    "ProjectDurationResponse": {
      "type": "object",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "Project start date.",
          "title": "Start Date"
        },
        "endDate": {
          "type": "string",
          "description": "Project end date.",
          "title": "End Date"
        },
        "totalCalendarDays": {
          "type": "integer",
          "format": "int32",
          "description": "Total calendar days in project.",
          "title": "Total Calendar Days"
        },
        "totalBusinessDays": {
          "type": "integer",
          "format": "int32",
          "description": "Total business days in project.",
          "title": "Total Business Days"
        },
        "projectStatus": {
          "type": "string",
          "description": "Current project status assessment.",
          "title": "Project Status"
        },
        "milestones": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MilestoneAnalysis"
          },
          "description": "Analyzed milestone information.",
          "title": "Milestone Analysis"
        },
        "criticalPath": {
          "$ref": "#/definitions/CriticalPath"
        }
      }
    },
    "Milestone": {
      "type": "object",
      "required": [
        "name",
        "date"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Milestone name or title.",
          "title": "Milestone Name"
        },
        "date": {
          "type": "string",
          "description": "Milestone target date.",
          "title": "Milestone Date"
        }
      }
    },
    "MilestoneAnalysis": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Milestone name.",
          "title": "Milestone Name"
        },
        "date": {
          "type": "string",
          "description": "Milestone date.",
          "title": "Milestone Date"
        },
        "daysFromStart": {
          "type": "integer",
          "format": "int32",
          "description": "Days from project start to milestone.",
          "title": "Days From Start"
        },
        "daysToEnd": {
          "type": "integer",
          "format": "int32",
          "description": "Days from milestone to project end.",
          "title": "Days To End"
        },
        "percentComplete": {
          "type": "number",
          "description": "Percentage of project timeline completed at milestone.",
          "title": "Percent Complete"
        },
        "isOverdue": {
          "type": "boolean",
          "description": "Whether the milestone is overdue.",
          "title": "Is Overdue"
        }
      }
    },
    "CriticalPath": {
      "type": "object",
      "properties": {
        "hasCriticalPath": {
          "type": "boolean",
          "description": "Whether critical milestones were identified.",
          "title": "Has Critical Path"
        },
        "criticalMilestones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Names of critical milestones.",
          "title": "Critical Milestones"
        },
        "recommendedFocus": {
          "type": "string",
          "description": "Recommended focus area for project success.",
          "title": "Recommended Focus"
        }
      }
    },
    "DstValidationRequest": {
      "type": "object",
      "required": [
        "calculations"
      ],
      "properties": {
        "calculations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DstCalculation"
          },
          "description": "DST calculations to validate.",
          "title": "Calculations"
        },
        "validationRules": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "standard_compliance",
              "regional_accuracy",
              "transition_logic",
              "historical_consistency"
            ]
          },
          "description": "Validation rules to apply.",
          "title": "Validation Rules"
        },
        "complianceStandard": {
          "type": "string",
          "enum": [
            "iana",
            "iso8601",
            "rfc3339",
            "custom"
          ],
          "description": "Compliance standard to validate against.",
          "title": "Compliance Standard",
          "default": "iana"
        }
      }
    },
    "DstValidationResponse": {
      "type": "object",
      "properties": {
        "validationResults": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DstValidationResult"
          },
          "description": "Validation results for each calculation.",
          "title": "Validation Results"
        },
        "overallCompliance": {
          "type": "boolean",
          "description": "Whether all calculations pass validation.",
          "title": "Overall Compliance"
        },
        "complianceScore": {
          "type": "number",
          "description": "Overall compliance score (0-100).",
          "title": "Compliance Score"
        },
        "recommendations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Recommendations for fixing validation issues.",
          "title": "Recommendations"
        }
      }
    },
    "DstCalculation": {
      "type": "object",
      "required": [
        "calculationId",
        "timeZone",
        "startDateTime",
        "endDateTime"
      ],
      "properties": {
        "calculationId": {
          "type": "string",
          "description": "Unique identifier for the calculation.",
          "title": "Calculation ID"
        },
        "timeZone": {
          "type": "string",
          "enum": [
            "UTC",
            "GMT",
            "America/New_York",
            "America/Chicago",
            "America/Denver",
            "America/Los_Angeles",
            "America/Phoenix",
            "America/Anchorage",
            "America/Honolulu",
            "America/Toronto",
            "America/Vancouver",
            "America/Montreal",
            "America/Halifax",
            "America/St_Johns",
            "America/Mexico_City",
            "America/Cancun",
            "America/Sao_Paulo",
            "America/Buenos_Aires",
            "America/Lima",
            "America/Bogota",
            "America/Caracas",
            "Europe/London",
            "Europe/Paris",
            "Europe/Berlin",
            "Europe/Rome",
            "Europe/Madrid",
            "Europe/Amsterdam",
            "Europe/Brussels",
            "Europe/Vienna",
            "Europe/Zurich",
            "Europe/Prague",
            "Europe/Warsaw",
            "Europe/Budapest",
            "Europe/Stockholm",
            "Europe/Copenhagen",
            "Europe/Oslo",
            "Europe/Helsinki",
            "Europe/Dublin",
            "Europe/Lisbon",
            "Europe/Athens",
            "Europe/Istanbul",
            "Europe/Moscow",
            "Europe/Kiev",
            "Europe/Bucharest",
            "Europe/Sofia",
            "Asia/Tokyo",
            "Asia/Shanghai",
            "Asia/Hong_Kong",
            "Asia/Singapore",
            "Asia/Bangkok",
            "Asia/Jakarta",
            "Asia/Manila",
            "Asia/Seoul",
            "Asia/Taipei",
            "Asia/Kuala_Lumpur",
            "Asia/Ho_Chi_Minh",
            "Asia/Phnom_Penh",
            "Asia/Yangon",
            "Asia/Dhaka",
            "Asia/Kolkata",
            "Asia/Karachi",
            "Asia/Dubai",
            "Asia/Tehran",
            "Asia/Baghdad",
            "Asia/Riyadh",
            "Asia/Kuwait",
            "Asia/Beirut",
            "Asia/Jerusalem",
            "Asia/Amman",
            "Asia/Damascus",
            "Asia/Tashkent",
            "Asia/Almaty",
            "Asia/Novosibirsk",
            "Asia/Krasnoyarsk",
            "Asia/Irkutsk",
            "Asia/Vladivostok",
            "Asia/Magadan",
            "Australia/Sydney",
            "Australia/Melbourne",
            "Australia/Brisbane",
            "Australia/Perth",
            "Australia/Adelaide",
            "Australia/Darwin",
            "Australia/Hobart",
            "Pacific/Auckland",
            "Pacific/Fiji",
            "Pacific/Honolulu",
            "Pacific/Guam",
            "Pacific/Port_Moresby",
            "Pacific/Noumea",
            "Pacific/Tahiti",
            "Pacific/Marquesas",
            "Africa/Cairo",
            "Africa/Lagos",
            "Africa/Nairobi",
            "Africa/Johannesburg",
            "Africa/Casablanca",
            "Africa/Algiers",
            "Africa/Tunis",
            "Africa/Tripoli",
            "Africa/Khartoum",
            "Africa/Addis_Ababa",
            "Atlantic/Reykjavik",
            "Atlantic/Azores",
            "Atlantic/Cape_Verde",
            "Indian/Maldives",
            "Indian/Mauritius"
          ],
          "description": "Time zone for the calculation (IANA timezone).",
          "title": "Time Zone"
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start date and time.",
          "title": "Start Date Time"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "End date and time.",
          "title": "End Date Time"
        },
        "expectedResult": {
          "$ref": "#/definitions/DurationBreakdown"
        }
      }
    },
    "DstValidationResult": {
      "type": "object",
      "properties": {
        "calculationId": {
          "type": "string",
          "description": "Calculation identifier.",
          "title": "Calculation ID"
        },
        "isValid": {
          "type": "boolean",
          "description": "Whether the calculation is valid.",
          "title": "Is Valid"
        },
        "actualResult": {
          "$ref": "#/definitions/DurationBreakdown"
        },
        "deviations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationDeviation"
          },
          "description": "Deviations from expected results.",
          "title": "Deviations"
        },
        "complianceIssues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Compliance issues found.",
          "title": "Compliance Issues"
        }
      }
    },
    "ValidationDeviation": {
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "Field with deviation.",
          "title": "Field"
        },
        "expected": {
          "type": "string",
          "description": "Expected value.",
          "title": "Expected"
        },
        "actual": {
          "type": "string",
          "description": "Actual value.",
          "title": "Actual"
        },
        "severity": {
          "type": "string",
          "enum": [
            "critical",
            "major",
            "minor",
            "warning"
          ],
          "description": "Severity of the deviation.",
          "title": "Severity"
        }
      }
    },
    "TimeZoneInfoRequest": {
      "type": "object",
      "required": [
        "timeZones"
      ],
      "properties": {
        "timeZones": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeZoneEnum"
          },
          "description": "Time zones to get information for.",
          "title": "Time Zones"
        },
        "referenceDate": {
          "type": "string",
          "description": "Reference date for time zone information.",
          "title": "Reference Date"
        },
        "includeHistory": {
          "type": "boolean",
          "description": "Whether to include historical DST information.",
          "title": "Include History",
          "default": false
        }
      }
    },
    "TimeZoneInfoResponse": {
      "type": "object",
      "properties": {
        "timeZoneDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeZoneDetail"
          },
          "description": "Detailed information for each time zone.",
          "title": "Time Zone Details"
        },
        "comparisons": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeZoneComparison"
          },
          "description": "Comparisons between time zones.",
          "title": "Comparisons"
        }
      }
    },
    "TimeZoneDetail": {
      "type": "object",
      "properties": {
        "timeZoneId": {
          "type": "string",
          "description": "Time zone identifier.",
          "title": "Time Zone ID"
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable time zone name.",
          "title": "Display Name"
        },
        "currentOffset": {
          "type": "string",
          "description": "Current UTC offset.",
          "title": "Current Offset"
        },
        "standardOffset": {
          "type": "string",
          "description": "Standard time UTC offset.",
          "title": "Standard Offset"
        },
        "isDaylightSaving": {
          "type": "boolean",
          "description": "Whether currently in daylight saving time.",
          "title": "Is Daylight Saving"
        },
        "dstRules": {
          "$ref": "#/definitions/DstRules"
        },
        "regionalInfo": {
          "$ref": "#/definitions/RegionalInfo"
        }
      }
    },
    "DstRules": {
      "type": "object",
      "properties": {
        "usesDst": {
          "type": "boolean",
          "description": "Whether the time zone uses DST.",
          "title": "Uses DST"
        },
        "springForwardRule": {
          "type": "string",
          "description": "Rule for spring forward transition.",
          "title": "Spring Forward Rule"
        },
        "fallBackRule": {
          "type": "string",
          "description": "Rule for fall back transition.",
          "title": "Fall Back Rule"
        },
        "nextTransition": {
          "type": "string",
          "format": "date-time",
          "description": "Next DST transition date.",
          "title": "Next Transition"
        }
      }
    },
    "RegionalInfo": {
      "type": "object",
      "properties": {
        "countries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Countries using this time zone.",
          "title": "Countries"
        },
        "majorCities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Major cities in this time zone.",
          "title": "Major Cities"
        },
        "politicalStatus": {
          "type": "string",
          "description": "Political status of DST adoption.",
          "title": "Political Status"
        }
      }
    },
    "TimeZoneComparison": {
      "type": "object",
      "properties": {
        "timeZone1": {
          "type": "string",
          "description": "First time zone.",
          "title": "Time Zone 1"
        },
        "timeZone2": {
          "type": "string",
          "description": "Second time zone.",
          "title": "Time Zone 2"
        },
        "offsetDifference": {
          "type": "string",
          "description": "Time difference between zones.",
          "title": "Offset Difference"
        },
        "sameSeasonalPattern": {
          "type": "boolean",
          "description": "Whether zones follow same DST pattern.",
          "title": "Same Seasonal Pattern"
        }
      }
    },
    "DstTransitionRequest": {
      "type": "object",
      "required": [
        "timeZone",
        "year"
      ],
      "properties": {
        "timeZone": {
          "type": "string",
          "enum": [
            "UTC",
            "GMT",
            "America/New_York",
            "America/Chicago",
            "America/Denver",
            "America/Los_Angeles",
            "America/Phoenix",
            "America/Anchorage",
            "America/Honolulu",
            "America/Toronto",
            "America/Vancouver",
            "America/Montreal",
            "America/Halifax",
            "America/St_Johns",
            "America/Mexico_City",
            "America/Cancun",
            "America/Sao_Paulo",
            "America/Buenos_Aires",
            "America/Lima",
            "America/Bogota",
            "America/Caracas",
            "Europe/London",
            "Europe/Paris",
            "Europe/Berlin",
            "Europe/Rome",
            "Europe/Madrid",
            "Europe/Amsterdam",
            "Europe/Brussels",
            "Europe/Vienna",
            "Europe/Zurich",
            "Europe/Prague",
            "Europe/Warsaw",
            "Europe/Budapest",
            "Europe/Stockholm",
            "Europe/Copenhagen",
            "Europe/Oslo",
            "Europe/Helsinki",
            "Europe/Dublin",
            "Europe/Lisbon",
            "Europe/Athens",
            "Europe/Istanbul",
            "Europe/Moscow",
            "Europe/Kiev",
            "Europe/Bucharest",
            "Europe/Sofia",
            "Asia/Tokyo",
            "Asia/Shanghai",
            "Asia/Hong_Kong",
            "Asia/Singapore",
            "Asia/Bangkok",
            "Asia/Jakarta",
            "Asia/Manila",
            "Asia/Seoul",
            "Asia/Taipei",
            "Asia/Kuala_Lumpur",
            "Asia/Ho_Chi_Minh",
            "Asia/Phnom_Penh",
            "Asia/Yangon",
            "Asia/Dhaka",
            "Asia/Kolkata",
            "Asia/Karachi",
            "Asia/Dubai",
            "Asia/Tehran",
            "Asia/Baghdad",
            "Asia/Riyadh",
            "Asia/Kuwait",
            "Asia/Beirut",
            "Asia/Jerusalem",
            "Asia/Amman",
            "Asia/Damascus",
            "Asia/Tashkent",
            "Asia/Almaty",
            "Asia/Novosibirsk",
            "Asia/Krasnoyarsk",
            "Asia/Irkutsk",
            "Asia/Vladivostok",
            "Asia/Magadan",
            "Australia/Sydney",
            "Australia/Melbourne",
            "Australia/Brisbane",
            "Australia/Perth",
            "Australia/Adelaide",
            "Australia/Darwin",
            "Australia/Hobart",
            "Pacific/Auckland",
            "Pacific/Fiji",
            "Pacific/Honolulu",
            "Pacific/Guam",
            "Pacific/Port_Moresby",
            "Pacific/Noumea",
            "Pacific/Tahiti",
            "Pacific/Marquesas",
            "Africa/Cairo",
            "Africa/Lagos",
            "Africa/Nairobi",
            "Africa/Johannesburg",
            "Africa/Casablanca",
            "Africa/Algiers",
            "Africa/Tunis",
            "Africa/Tripoli",
            "Africa/Khartoum",
            "Africa/Addis_Ababa",
            "Atlantic/Reykjavik",
            "Atlantic/Azores",
            "Atlantic/Cape_Verde",
            "Indian/Maldives",
            "Indian/Mauritius"
          ],
          "description": "Time zone to analyze for DST transitions (IANA timezone).",
          "title": "Time Zone"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year to analyze.",
          "title": "Year"
        },
        "includeRules": {
          "type": "boolean",
          "description": "Whether to include transition rules.",
          "title": "Include Rules",
          "default": true
        },
        "includeImpact": {
          "type": "boolean",
          "description": "Whether to include impact analysis.",
          "title": "Include Impact",
          "default": true
        }
      }
    },
    "DstTransitionResponse": {
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "enum": [
            "UTC",
            "GMT",
            "America/New_York",
            "America/Chicago",
            "America/Denver",
            "America/Los_Angeles",
            "America/Phoenix",
            "America/Anchorage",
            "America/Honolulu",
            "America/Toronto",
            "America/Vancouver",
            "America/Montreal",
            "America/Halifax",
            "America/St_Johns",
            "America/Mexico_City",
            "America/Cancun",
            "America/Sao_Paulo",
            "America/Buenos_Aires",
            "America/Lima",
            "America/Bogota",
            "America/Caracas",
            "Europe/London",
            "Europe/Paris",
            "Europe/Berlin",
            "Europe/Rome",
            "Europe/Madrid",
            "Europe/Amsterdam",
            "Europe/Brussels",
            "Europe/Vienna",
            "Europe/Zurich",
            "Europe/Prague",
            "Europe/Warsaw",
            "Europe/Budapest",
            "Europe/Stockholm",
            "Europe/Copenhagen",
            "Europe/Oslo",
            "Europe/Helsinki",
            "Europe/Dublin",
            "Europe/Lisbon",
            "Europe/Athens",
            "Europe/Istanbul",
            "Europe/Moscow",
            "Europe/Kiev",
            "Europe/Bucharest",
            "Europe/Sofia",
            "Asia/Tokyo",
            "Asia/Shanghai",
            "Asia/Hong_Kong",
            "Asia/Singapore",
            "Asia/Bangkok",
            "Asia/Jakarta",
            "Asia/Manila",
            "Asia/Seoul",
            "Asia/Taipei",
            "Asia/Kuala_Lumpur",
            "Asia/Ho_Chi_Minh",
            "Asia/Phnom_Penh",
            "Asia/Yangon",
            "Asia/Dhaka",
            "Asia/Kolkata",
            "Asia/Karachi",
            "Asia/Dubai",
            "Asia/Tehran",
            "Asia/Baghdad",
            "Asia/Riyadh",
            "Asia/Kuwait",
            "Asia/Beirut",
            "Asia/Jerusalem",
            "Asia/Amman",
            "Asia/Damascus",
            "Asia/Tashkent",
            "Asia/Almaty",
            "Asia/Novosibirsk",
            "Asia/Krasnoyarsk",
            "Asia/Irkutsk",
            "Asia/Vladivostok",
            "Asia/Magadan",
            "Australia/Sydney",
            "Australia/Melbourne",
            "Australia/Brisbane",
            "Australia/Perth",
            "Australia/Adelaide",
            "Australia/Darwin",
            "Australia/Hobart",
            "Pacific/Auckland",
            "Pacific/Fiji",
            "Pacific/Honolulu",
            "Pacific/Guam",
            "Pacific/Port_Moresby",
            "Pacific/Noumea",
            "Pacific/Tahiti",
            "Pacific/Marquesas",
            "Africa/Cairo",
            "Africa/Lagos",
            "Africa/Nairobi",
            "Africa/Johannesburg",
            "Africa/Casablanca",
            "Africa/Algiers",
            "Africa/Tunis",
            "Africa/Tripoli",
            "Africa/Khartoum",
            "Africa/Addis_Ababa",
            "Atlantic/Reykjavik",
            "Atlantic/Azores",
            "Atlantic/Cape_Verde",
            "Indian/Maldives",
            "Indian/Mauritius"
          ],
          "description": "Time zone analyzed (IANA timezone).",
          "title": "Time Zone"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year analyzed.",
          "title": "Year"
        },
        "transitions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DstTransition"
          },
          "description": "DST transitions for the year.",
          "title": "Transitions"
        },
        "totalTransitions": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of transitions.",
          "title": "Total Transitions"
        },
        "impactAnalysis": {
          "$ref": "#/definitions/DstImpactAnalysis"
        }
      }
    },
    "DstImpactAnalysis": {
      "type": "object",
      "properties": {
        "affectedHours": {
          "type": "integer",
          "format": "int32",
          "description": "Total hours affected by transitions.",
          "title": "Affected Hours"
        },
        "businessImpact": {
          "type": "string",
          "enum": [
            "low",
            "medium",
            "high",
            "critical"
          ],
          "description": "Assessed business impact level.",
          "title": "Business Impact"
        },
        "recommendations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Recommendations for handling transitions.",
          "title": "Recommendations"
        },
        "criticalPeriods": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CriticalPeriod"
          },
          "description": "Critical periods requiring attention.",
          "title": "Critical Periods"
        }
      }
    },
    "CriticalPeriod": {
      "type": "object",
      "properties": {
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start of critical period.",
          "title": "Start Date Time"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "End of critical period.",
          "title": "End Date Time"
        },
        "description": {
          "type": "string",
          "description": "Description of the critical period.",
          "title": "Description"
        },
        "severity": {
          "type": "string",
          "enum": [
            "low",
            "medium",
            "high",
            "critical"
          ],
          "description": "Severity level.",
          "title": "Severity"
        }
      }
    },
    "DstHistoryRequest": {
      "type": "object",
      "required": [
        "timeZones"
      ],
      "properties": {
        "timeZones": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeZoneEnum"
          },
          "description": "Time zones to get DST history for.",
          "title": "Time Zones"
        },
        "startYear": {
          "type": "integer",
          "format": "int32",
          "description": "Start year for history (default: 2000).",
          "title": "Start Year",
          "default": 2000
        },
        "endYear": {
          "type": "integer",
          "format": "int32",
          "description": "End year for history (default: current year).",
          "title": "End Year"
        },
        "includePoliticalChanges": {
          "type": "boolean",
          "description": "Whether to include political/legislative changes.",
          "title": "Include Political Changes",
          "default": true
        }
      }
    },
    "DstHistoryResponse": {
      "type": "object",
      "properties": {
        "timeZoneHistories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeZoneHistory"
          },
          "description": "DST history for each time zone.",
          "title": "Time Zone Histories"
        },
        "summary": {
          "$ref": "#/definitions/DstHistorySummary"
        }
      }
    },
    "TimeZoneHistory": {
      "type": "object",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Time zone identifier.",
          "title": "Time Zone"
        },
        "historicalTransitions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HistoricalDstTransition"
          },
          "description": "Historical DST transitions.",
          "title": "Historical Transitions"
        },
        "totalTransitions": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of DST transitions recorded.",
          "title": "Total Transitions"
        },
        "policyChanges": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DstPolicyChange"
          },
          "description": "DST policy changes over time.",
          "title": "Policy Changes"
        }
      }
    },
    "HistoricalDstTransition": {
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the transition.",
          "title": "Year"
        },
        "transitionType": {
          "type": "string",
          "enum": [
            "spring_forward",
            "fall_back"
          ],
          "description": "Type of DST transition.",
          "title": "Transition Type"
        },
        "transitionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time of transition.",
          "title": "Transition Date"
        },
        "offsetChange": {
          "type": "string",
          "description": "UTC offset change.",
          "title": "Offset Change"
        },
        "ruleApplied": {
          "type": "string",
          "description": "DST rule that was applied.",
          "title": "Rule Applied"
        }
      }
    },
    "DstPolicyChange": {
      "type": "object",
      "properties": {
        "effectiveDate": {
          "type": "string",
          "description": "Date when policy change took effect.",
          "title": "Effective Date"
        },
        "changeDescription": {
          "type": "string",
          "description": "Description of the policy change.",
          "title": "Change Description"
        },
        "reason": {
          "type": "string",
          "description": "Reason for the policy change.",
          "title": "Reason"
        },
        "impact": {
          "type": "string",
          "enum": [
            "minor",
            "moderate",
            "major",
            "significant"
          ],
          "description": "Impact level of the change.",
          "title": "Impact"
        }
      }
    },
    "DstHistorySummary": {
      "type": "object",
      "properties": {
        "totalTimeZones": {
          "type": "integer",
          "format": "int32",
          "description": "Total time zones analyzed.",
          "title": "Total Time Zones"
        },
        "totalTransitions": {
          "type": "integer",
          "format": "int32",
          "description": "Total transitions across all time zones.",
          "title": "Total Transitions"
        },
        "mostActiveTimeZone": {
          "type": "string",
          "description": "Time zone with most DST changes.",
          "title": "Most Active Time Zone"
        },
        "trends": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Observed DST trends.",
          "title": "Trends"
        },
        "globalPatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Global DST adoption patterns.",
          "title": "Global Patterns"
        }
      }
    },
    "DateRange": {
      "type": "object",
      "required": [
        "startDate",
        "endDate"
      ],
      "properties": {
        "startDate": {
          "type": "string",
          "description": "Start date of the range.",
          "title": "Start Date"
        },
        "endDate": {
          "type": "string",
          "description": "End date of the range.",
          "title": "End Date"
        }
      }
    },
    "TimeSlot": {
      "type": "object",
      "required": [
        "startTime",
        "endTime"
      ],
      "properties": {
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start time of the slot.",
          "title": "Start Time"
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "End time of the slot.",
          "title": "End Time"
        },
        "description": {
          "type": "string",
          "description": "Description of the time slot.",
          "title": "Description"
        }
      }
    },
    "WorkingHours": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "time",
          "description": "Daily start time (HH:mm format).",
          "title": "Start Time",
          "default": "09:00"
        },
        "endTime": {
          "type": "string",
          "format": "time",
          "description": "Daily end time (HH:mm format).",
          "title": "End Time",
          "default": "17:00"
        },
        "workingDays": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "monday",
              "tuesday",
              "wednesday",
              "thursday",
              "friday",
              "saturday",
              "sunday"
            ]
          },
          "description": "Working days of the week.",
          "title": "Working Days",
          "default": [
            "monday",
            "tuesday",
            "wednesday",
            "thursday",
            "friday"
          ]
        }
      }
    },
    "ParticipantLocalTime": {
      "type": "object",
      "properties": {
        "participantName": {
          "type": "string",
          "description": "Participant name.",
          "title": "Participant Name"
        },
        "localDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Meeting time in participant\u0027s local time zone.",
          "title": "Local Date Time"
        },
        "timeZone": {
          "$ref": "#/definitions/TimeZoneEnum"
        },
        "isWithinWorkingHours": {
          "type": "boolean",
          "description": "Whether time falls within working hours.",
          "title": "Is Within Working Hours"
        },
        "conflictLevel": {
          "type": "string",
          "enum": [
            "none",
            "minor",
            "moderate",
            "major"
          ],
          "description": "Level of scheduling conflict.",
          "title": "Conflict Level"
        }
      }
    },
    "PayrollPeriodsRequest": {
      "type": "object",
      "required": [
        "startDate",
        "periodType"
      ],
      "properties": {
        "startDate": {
          "type": "string",
          "description": "The start date for payroll period calculation.",
          "title": "Start Date"
        },
        "endDate": {
          "type": "string",
          "description": "The end date for payroll period calculation. If not provided, calculates one period from start date.",
          "title": "End Date"
        },
        "periodType": {
          "type": "string",
          "enum": [
            "weekly",
            "bi-weekly",
            "semi-monthly",
            "monthly"
          ],
          "description": "Type of payroll period to calculate.",
          "title": "Period Type"
        },
        "includePartialPeriods": {
          "type": "boolean",
          "description": "Whether to include partial periods at the beginning or end.",
          "title": "Include Partial Periods",
          "default": false
        }
      }
    },
    "PayrollPeriodsResponse": {
      "type": "object",
      "properties": {
        "periodType": {
          "type": "string",
          "description": "Type of payroll period calculated.",
          "title": "Period Type"
        },
        "totalPeriods": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of payroll periods.",
          "title": "Total Periods"
        },
        "completePeriods": {
          "type": "integer",
          "format": "int32",
          "description": "Number of complete payroll periods.",
          "title": "Complete Periods"
        },
        "partialPeriods": {
          "type": "integer",
          "format": "int32",
          "description": "Number of partial payroll periods.",
          "title": "Partial Periods"
        },
        "periods": {
          "type": "array",
          "description": "List of all payroll periods with details.",
          "title": "Periods",
          "items": {
            "$ref": "#/definitions/PayrollPeriod"
          }
        }
      }
    },
    "PayrollPeriod": {
      "type": "object",
      "properties": {
        "periodNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Sequential number of the payroll period.",
          "title": "Period Number"
        },
        "startDate": {
          "type": "string",
          "description": "Start date of the payroll period.",
          "title": "Start Date"
        },
        "endDate": {
          "type": "string",
          "description": "End date of the payroll period.",
          "title": "End Date"
        },
        "workingDays": {
          "type": "integer",
          "format": "int32",
          "description": "Number of working days in the period.",
          "title": "Working Days"
        },
        "isPartial": {
          "type": "boolean",
          "description": "Whether this is a partial period.",
          "title": "Is Partial"
        }
      }
    },
    "DeadlineCalculationRequest": {
      "type": "object",
      "required": [
        "deadlineDate"
      ],
      "properties": {
        "deadlineDate": {
          "type": "string",
          "format": "date-time",
          "description": "The target deadline date and time.",
          "title": "Deadline Date"
        },
        "currentDate": {
          "type": "string",
          "format": "date-time",
          "description": "Current date for calculation. Defaults to now if not provided.",
          "title": "Current Date"
        },
        "includeWeekends": {
          "type": "boolean",
          "description": "Whether to include weekends in the calculation.",
          "title": "Include Weekends",
          "default": true
        },
        "holidays": {
          "type": "array",
          "description": "List of holiday dates to exclude from calculation.",
          "title": "Holidays",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeadlineCalculationResponse": {
      "type": "object",
      "properties": {
        "deadlineDate": {
          "type": "string",
          "format": "date-time",
          "description": "The target deadline date and time.",
          "title": "Deadline Date"
        },
        "currentDate": {
          "type": "string",
          "format": "date-time",
          "description": "Current date used for calculation.",
          "title": "Current Date"
        },
        "timeRemaining": {
          "$ref": "#/definitions/DurationBreakdown"
        },
        "businessDaysRemaining": {
          "type": "integer",
          "format": "int32",
          "description": "Number of business days remaining.",
          "title": "Business Days Remaining"
        },
        "isPastDue": {
          "type": "boolean",
          "description": "Whether the deadline has passed.",
          "title": "Is Past Due"
        },
        "criticalStatus": {
          "type": "string",
          "enum": [
            "on-track",
            "approaching",
            "critical",
            "overdue"
          ],
          "description": "Status of the deadline timeline.",
          "title": "Critical Status"
        }
      }
    },
    "CrossTzDurationRequest": {
      "type": "object",
      "required": [
        "startDateTime",
        "startTimeZone",
        "endDateTime",
        "endTimeZone"
      ],
      "properties": {
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start date and time in the start timezone.",
          "title": "Start Date Time"
        },
        "startTimeZone": {
          "$ref": "#/definitions/TimeZoneEnum"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "End date and time in the end timezone.",
          "title": "End Date Time"
        },
        "endTimeZone": {
          "$ref": "#/definitions/TimeZoneEnum"
        },
        "accountForDst": {
          "type": "boolean",
          "description": "Whether to account for daylight saving time transitions.",
          "title": "Account For DST",
          "default": true
        }
      }
    },
    "CrossTzDurationResponse": {
      "type": "object",
      "properties": {
        "startDateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Start date and time converted to UTC.",
          "title": "Start Date Time UTC"
        },
        "endDateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "End date and time converted to UTC.",
          "title": "End Date Time UTC"
        },
        "duration": {
          "$ref": "#/definitions/DurationBreakdown"
        },
        "dstTransitions": {
          "type": "array",
          "description": "List of DST transitions that occurred during the period.",
          "title": "DST Transitions",
          "items": {
            "$ref": "#/definitions/DstTransition"
          }
        },
        "timeZoneOffset": {
          "type": "object",
          "description": "Time zone offset information.",
          "title": "Time Zone Offset",
          "properties": {
            "startOffset": {
              "type": "string",
              "description": "UTC offset at start time.",
              "title": "Start Offset"
            },
            "endOffset": {
              "type": "string",
              "description": "UTC offset at end time.",
              "title": "End Offset"
            }
          }
        }
      }
    },
    "GlobalWorkingHoursRequest": {
      "type": "object",
      "required": [
        "startDateTime",
        "endDateTime",
        "timeZones"
      ],
      "properties": {
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Start date and time for calculation.",
          "title": "Start Date Time"
        },
        "endDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "End date and time for calculation.",
          "title": "End Date Time"
        },
        "timeZones": {
          "type": "array",
          "description": "List of time zones to calculate working hours for.",
          "title": "Time Zones",
          "items": {
            "$ref": "#/definitions/TimeZoneEnum"
          }
        },
        "workingHours": {
          "$ref": "#/definitions/WorkingHours"
        },
        "includeHolidays": {
          "type": "boolean",
          "description": "Whether to account for regional holidays.",
          "title": "Include Holidays",
          "default": false
        }
      }
    },
    "GlobalWorkingHoursResponse": {
      "type": "object",
      "properties": {
        "totalWorkingHours": {
          "type": "number",
          "format": "double",
          "description": "Total working hours across all time zones.",
          "title": "Total Working Hours"
        },
        "timeZoneResults": {
          "type": "array",
          "description": "Working hours breakdown by time zone.",
          "title": "Time Zone Results",
          "items": {
            "type": "object",
            "properties": {
              "timeZone": {
                "type": "string",
                "description": "Time zone identifier.",
                "title": "Time Zone"
              },
              "workingHours": {
                "type": "number",
                "format": "double",
                "description": "Working hours in this time zone.",
                "title": "Working Hours"
              },
              "businessDays": {
                "type": "integer",
                "format": "int32",
                "description": "Number of business days.",
                "title": "Business Days"
              }
            }
          }
        },
        "overlapHours": {
          "type": "number",
          "format": "double",
          "description": "Hours when all time zones have overlapping working hours.",
          "title": "Overlap Hours"
        }
      }
    },
    "MeetingTimesRequest": {
      "type": "object",
      "required": [
        "participants",
        "durationMinutes"
      ],
      "properties": {
        "participants": {
          "type": "array",
          "description": "List of meeting participants with their time zones.",
          "title": "Participants",
          "items": {
            "$ref": "#/definitions/ParticipantLocalTime"
          }
        },
        "durationMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Duration of the meeting in minutes.",
          "title": "Duration Minutes"
        },
        "meetingType": {
          "type": "string",
          "enum": [
            "stand-up",
            "one-on-one",
            "team-meeting",
            "all-hands",
            "client-meeting",
            "interview",
            "training",
            "presentation",
            "workshop",
            "retrospective",
            "planning",
            "review"
          ],
          "description": "Type of meeting for optimal scheduling.",
          "title": "Meeting Type",
          "default": "team-meeting"
        },
        "priority": {
          "type": "string",
          "enum": [
            "low",
            "normal",
            "high",
            "urgent",
            "critical"
          ],
          "description": "Priority level for meeting scheduling.",
          "title": "Meeting Priority",
          "default": "normal"
        },
        "dateRange": {
          "$ref": "#/definitions/DateRange"
        },
        "workingHours": {
          "$ref": "#/definitions/WorkingHours"
        },
        "preferredTimes": {
          "type": "array",
          "description": "Preferred time slots for the meeting.",
          "title": "Preferred Times",
          "items": {
            "$ref": "#/definitions/TimeSlot"
          }
        }
      }
    },
    "MeetingTimesResponse": {
      "type": "object",
      "properties": {
        "optimalTimes": {
          "type": "array",
          "description": "List of optimal meeting times sorted by suitability.",
          "title": "Optimal Times",
          "items": {
            "type": "object",
            "properties": {
              "startTime": {
                "type": "string",
                "format": "date-time",
                "description": "Meeting start time in UTC.",
                "title": "Start Time"
              },
              "endTime": {
                "type": "string",
                "format": "date-time",
                "description": "Meeting end time in UTC.",
                "title": "End Time"
              },
              "suitabilityScore": {
                "type": "number",
                "format": "double",
                "description": "Score indicating how suitable this time is (0-100).",
                "title": "Suitability Score"
              },
              "participantTimes": {
                "type": "array",
                "description": "Local times for each participant.",
                "title": "Participant Times",
                "items": {
                  "$ref": "#/definitions/ParticipantLocalTime"
                }
              },
              "conflicts": {
                "type": "array",
                "description": "List of scheduling conflicts.",
                "title": "Conflicts",
                "items": {
                  "type": "object",
                  "properties": {
                    "participantId": {
                      "type": "string",
                      "description": "ID of the participant with conflict.",
                      "title": "Participant ID"
                    },
                    "conflictType": {
                      "type": "string",
                      "enum": [
                        "outside-working-hours",
                        "holiday",
                        "weekend",
                        "unavailable"
                      ],
                      "description": "Type of scheduling conflict.",
                      "title": "Conflict Type"
                    },
                    "severity": {
                      "type": "string",
                      "enum": [
                        "minor",
                        "moderate",
                        "major"
                      ],
                      "description": "Level of scheduling conflict.",
                      "title": "Conflict Level"
                    }
                  }
                }
              }
            }
          }
        },
        "timeZoneAnalysis": {
          "type": "object",
          "description": "Analysis of time zone distribution among participants.",
          "title": "Time Zone Analysis",
          "properties": {
            "uniqueTimeZones": {
              "type": "integer",
              "format": "int32",
              "description": "Number of unique time zones.",
              "title": "Unique Time Zones"
            },
            "maxTimeOffset": {
              "type": "number",
              "format": "double",
              "description": "Maximum time difference between participants in hours.",
              "title": "Max Time Offset"
            }
          }
        }
      }
    },
    "DurationBreakdown": {
      "type": "object",
      "properties": {
        "totalDays": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of days.",
          "title": "Total Days"
        },
        "totalHours": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of hours.",
          "title": "Total Hours"
        },
        "totalMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of minutes.",
          "title": "Total Minutes"
        },
        "totalSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of seconds.",
          "title": "Total Seconds"
        },
        "years": {
          "type": "integer",
          "format": "int32",
          "description": "Number of complete years.",
          "title": "Years"
        },
        "months": {
          "type": "integer",
          "format": "int32",
          "description": "Additional months after complete years.",
          "title": "Months"
        },
        "days": {
          "type": "integer",
          "format": "int32",
          "description": "Additional days after complete months.",
          "title": "Days"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Additional hours after complete days.",
          "title": "Hours"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Additional minutes after complete hours.",
          "title": "Minutes"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Additional seconds after complete minutes.",
          "title": "Seconds"
        }
      }
    },
    "DstTransition": {
      "type": "object",
      "properties": {
        "transitionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time when the DST transition occurs.",
          "title": "Transition Date"
        },
        "timeZone": {
          "type": "string",
          "description": "Time zone where the transition occurs.",
          "title": "Time Zone"
        },
        "transitionType": {
          "type": "string",
          "enum": [
            "spring-forward",
            "fall-back"
          ],
          "description": "Type of DST transition.",
          "title": "Transition Type"
        },
        "offsetBefore": {
          "type": "string",
          "description": "UTC offset before the transition (e.g., \u0027-05:00\u0027).",
          "title": "Offset Before"
        },
        "offsetAfter": {
          "type": "string",
          "description": "UTC offset after the transition (e.g., \u0027-04:00\u0027).",
          "title": "Offset After"
        },
        "timeAdjustment": {
          "type": "integer",
          "format": "int32",
          "description": "Time adjustment in minutes (\u002B60 for spring forward, -60 for fall back).",
          "title": "Time Adjustment"
        }
      }
    },
    "Holiday": {
      "type": "object",
      "required": [
        "date"
      ],
      "properties": {
        "date": {
          "type": "string",
          "description": "The date of the holiday.",
          "title": "Holiday Date"
        },
        "name": {
          "type": "string",
          "description": "Name of the holiday.",
          "title": "Holiday Name"
        },
        "type": {
          "type": "string",
          "enum": [
            "federal",
            "state",
            "regional",
            "religious",
            "cultural",
            "company",
            "national",
            "bank",
            "school",
            "custom"
          ],
          "description": "Category of holiday for classification.",
          "title": "Holiday Type",
          "default": "federal"
        },
        "observance": {
          "type": "string",
          "enum": [
            "full-day",
            "half-day",
            "optional",
            "observed-if-weekend"
          ],
          "description": "How the holiday is observed.",
          "title": "Holiday Observance",
          "default": "full-day"
        }
      }
    }
  },
  "security": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.troystaylor.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.troystaylor.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ]
}
