{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Copilot Direct Line",
    "description": "Direct Line allows for connecting directly to a Copilot Studio agent.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "directline.botframework.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v3/directline/conversations": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Start conversation",
        "operationId": "Conversations_StartConversation",
        "parameters": [
          {
            "name": "tokenParameters",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/TokenParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The conversation was successfully created, updated, or retrieved.",
            "schema": {
              "$ref": "#/definitions/Conversation"
            }
          },
          "201": {
            "description": "The conversation was successfully created.",
            "schema": {
              "$ref": "#/definitions/Conversation"
            }
          },
          "400": {
            "description": "The URL, body, or headers in the request are malformed or invalid."
          },
          "401": {
            "description": "The operation included an invalid or missing Authorization header."
          },
          "403": {
            "description": "You are forbidden from performing this action because your token or secret is invalid."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "409": {
            "description": "The object you are trying to create already exists."
          },
          "429": {
            "description": "Too many requests have been submitted to this API. This error may be accompanied by a Retry-After header, which includes the suggested retry interval."
          },
          "500": {
            "description": "An internal server error has occurred."
          }
        },
        "description": "Starts a new conversation."
      }
    },
    "/v3/directline/conversations/{conversationId}": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get conversation",
        "operationId": "Conversations_ReconnectToConversation",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "x-ms-summary": "Conversation ID",
            "x-ms-url-encoding": "single",
            "description": "The conversation identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "watermark",
            "in": "query",
            "x-ms-summary": "Watermark",
            "description": "The watermark.",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "x-ms-summary": "Token",
            "description": "The token.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The conversation was successfully created, updated, or retrieved.",
            "schema": {
              "$ref": "#/definitions/Conversation"
            }
          },
          "400": {
            "description": "The URL, body, or headers in the request are malformed or invalid."
          },
          "401": {
            "description": "The operation included an invalid or missing Authorization header."
          },
          "403": {
            "description": "You are forbidden from performing this action because your token or secret is invalid."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "429": {
            "description": "Too many requests have been submitted to this API. This error may be accompanied by a Retry-After header, which includes the suggested retry interval."
          },
          "500": {
            "description": "An internal server error has occurred."
          }
        },
        "description": "Retrieve information about an existing conversation."
      }
    },
    "/v3/directline/conversations/{conversationId}/activities": {
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get activities",
        "operationId": "Conversations_GetActivities",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "x-ms-summary": "Conversation ID",
            "x-ms-url-encoding": "single",
            "description": "The conversation identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "watermark",
            "in": "query",
            "x-ms-summary": "Watermark",
            "description": "Optional - only returns activities newer than this watermark.",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "x-ms-summary": "Token",
            "description": "The token.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A set of activities and a watermark are returned.",
            "schema": {
              "$ref": "#/definitions/ActivitySet"
            }
          },
          "400": {
            "description": "The URL, body, or headers in the request are malformed or invalid."
          },
          "401": {
            "description": "The operation included an invalid or missing Authorization header."
          },
          "403": {
            "description": "You are forbidden from performing this action because your token or secret is invalid."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "429": {
            "description": "Too many requests have been submitted to this API. This error may be accompanied by a Retry-After header, which includes the suggested retry interval."
          },
          "500": {
            "description": "An internal server error has occurred."
          }
        },
        "description": "Retrieve activities in this conversation. This method is paged with the 'watermark' parameter."
      },
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Post activity",
        "operationId": "Conversations_PostActivity",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "x-ms-summary": "Conversation ID",
            "x-ms-url-encoding": "single",
            "description": "The conversation identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "x-ms-summary": "Token",
            "description": "The token.",
            "required": true,
            "type": "string"
          },
          {
            "name": "activity",
            "in": "body",
            "description": "Activity to send.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded.",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "204": {
            "description": "The operation succeeded. No content was returned."
          },
          "400": {
            "description": "The URL, body, or headers in the request are malformed or invalid."
          },
          "401": {
            "description": "The operation included an invalid or missing Authorization header."
          },
          "403": {
            "description": "You are forbidden from performing this action because your token or secret is invalid."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "429": {
            "description": "Too many requests have been submitted to this API. This error may be accompanied by a Retry-After header, which includes the suggested retry interval."
          },
          "500": {
            "description": "An internal server error has occurred."
          },
          "502": {
            "description": "The bot is unavailable or returned an error."
          }
        },
        "description": "Sends activity to this conversation."
      }
    },
    "/v3/directline/conversations/{conversationId}/upload": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Upload file",
        "operationId": "Conversations_Upload",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "x-ms-summary": "Conversation ID",
            "x-ms-url-encoding": "single",
            "description": "The ID of the conversation to upload the file to.",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "x-ms-summary": "Direct Line Token",
            "description": "The Direct Line token for authorization.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "query",
            "x-ms-summary": "User ID",
            "description": "The ID of the user uploading the file.",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "x-ms-summary": "File",
            "x-ms-visibility": "important",
            "x-ms-content-type": "multipart/form-data",
            "description": "The file to upload.",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation succeeded.",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "202": {
            "description": "The request was accepted for processing."
          },
          "204": {
            "description": "The operation succeeded. No content was returned."
          },
          "400": {
            "description": "The URL, body, or headers in the request are malformed or invalid."
          },
          "401": {
            "description": "The operation included an invalid or missing Authorization header."
          },
          "403": {
            "description": "You are forbidden from performing this action because your token or secret is invalid."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "429": {
            "description": "Too many requests have been submitted to this API. This error may be accompanied by a Retry-After header, which includes the suggested retry interval."
          },
          "500": {
            "description": "An internal server error has occurred."
          },
          "502": {
            "description": "The bot is unavailable or returned an error."
          }
        },
        "description": "Uploads file and sends as attachment."
      }
    },
    "/v3/directline/conversations/activity": {
      "post": {
        "responses": {
          "200": {
            "description": "A set of activities and a watermark are returned.",
            "schema": {
              "$ref": "#/definitions/ActivitySet"
            }
          },
          "400": {
            "description": "The URL, body, or headers in the request are malformed or invalid."
          },
          "401": {
            "description": "The operation included an invalid or missing Authorization header."
          },
          "403": {
            "description": "You are forbidden from performing this action because your token or secret is invalid."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "429": {
            "description": "Too many requests have been submitted to this API. This error may be accompanied by a Retry-After header, which includes the suggested retry interval."
          },
          "500": {
            "description": "An internal server error has occurred."
          }
        },
        "summary": "Start a conversation with activity",
        "description": "Starts a new conversation, sends the first activity and waits for the agent to respond.",
        "operationId": "Conversations_StartActivity",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Request containing token parameters and activity.",
            "schema": {
              "$ref": "#/definitions/StartActivityRequest"
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/v3/directline/conversations/{conversationId}/activitiesResponse": {
      "post": {
        "responses": {
          "200": {
            "description": "A set of activities and a watermark are returned.",
            "schema": {
              "$ref": "#/definitions/ActivitySet"
            }
          },
          "400": {
            "description": "The URL, body, or headers in the request are malformed or invalid."
          },
          "401": {
            "description": "The operation included an invalid or missing Authorization header."
          },
          "403": {
            "description": "You are forbidden from performing this action because your token or secret is invalid."
          },
          "404": {
            "description": "The requested resource was not found."
          },
          "429": {
            "description": "Too many requests have been submitted to this API. This error may be accompanied by a Retry-After header, which includes the suggested retry interval."
          },
          "500": {
            "description": "An internal server error has occurred."
          }
        },
        "summary": "Post activity and receive response",
        "operationId": "Conversations_SendActivityResponse",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "x-ms-summary": "Conversation ID",
            "description": "The conversation identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "x-ms-summary": "Token",
            "description": "The token.",
            "required": true,
            "type": "string"
          },
          {
            "name": "activity",
            "in": "body",
            "description": "Activity to send.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Activity"
            }
          }
        ],
        "description": "Sends activity to this conversation and waits for the agent to respond."
      }
    }
  },
  "definitions": {
    "TokenParameters": {
      "description": "Parameters for creating a token.",
      "type": "object",
      "properties": {
        "user": {
          "$ref": "#/definitions/ChannelAccount"
        },
        "trustedOrigins": {
          "description": "Trusted origins to embed within the token.",
          "title": "Trusted Origins",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "eTag": {
          "description": "An optional ETag for the conversation.",
          "title": "ETag",
          "type": "string"
        }
      }
    },
    "ChannelAccount": {
      "description": "Channel account information needed to route a message.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The channel identifier for the user or bot on this channel (Example: joe@smith.com, or @joesmith or 123456)",
          "title": "Channel ID",
          "type": "string"
        },
        "name": {
          "description": "The display friendly name.",
          "title": "Display Name",
          "type": "string"
        },
        "aadObjectId": {
          "description": "This account's object ID within Entra ID.",
          "title": "Entra ID Object ID",
          "type": "string"
        },
        "role": {
          "description": "Role of the entity behind the account (Example: User, Bot, etc.)",
          "title": "Role",
          "type": "string",
          "default": "user"
        }
      }
    },
    "Conversation": {
      "description": "An object representing a conversation or a conversation token.",
      "type": "object",
      "properties": {
        "conversationId": {
          "description": "The identifier for this conversation.",
          "title": "Conversation ID",
          "type": "string"
        },
        "token": {
          "description": "Token scoped to this conversation.",
          "title": "Token",
          "type": "string"
        },
        "expires_in": {
          "format": "int32",
          "description": "Expiration for token.",
          "title": "Expires In",
          "type": "integer"
        },
        "streamUrl": {
          "description": "URL for this conversation's message stream.",
          "title": "Stream URL",
          "type": "string"
        },
        "referenceGrammarId": {
          "description": "The identifier for the reference grammar for this bot.",
          "title": "Reference Grammar ID",
          "type": "string"
        },
        "eTag": {
          "description": "An optional ETag for the conversation.",
          "title": "ETag",
          "type": "string"
        }
      }
    },
    "ActivitySet": {
      "description": "A collection of activities.",
      "type": "object",
      "properties": {
        "activities": {
          "description": "The activity objects.",
          "title": "Activities",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Activity"
          }
        },
        "watermark": {
          "description": "Maximum watermark of activities within this set.",
          "title": "Watermark",
          "type": "string"
        },
        "token": {
          "description": "Token to continue this activity.",
          "title": "Token",
          "type": "string"
        },
        "conversationId": {
          "description": "The conversation ID.",
          "title": "Conversation ID",
          "type": "string"
        },
        "lastActivity": {
          "description": "The last activity in the set.",
          "title": "Last Activity",
          "type": "object",
          "$ref": "#/definitions/LastActivity"
        }
      },
      "required": [
        "activities",
        "token"
      ]
    },
    "Activity": {
      "description": "An Activity is the basic communication type for the Bot Framework 3.0 protocol.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Contains the activity type.",
          "type": "string",
          "title": "Type",
          "default": "message",
          "enum": [
            "message",
            "contactRelationUpdate",
            "conversationUpdate",
            "typing",
            "endOfConversation",
            "event",
            "invoke",
            "deleteUserData",
            "messageUpdate",
            "messageDelete",
            "installationUpdate",
            "messageReaction",
            "suggestion",
            "trace",
            "handoff"
          ]
        },
        "id": {
          "description": "Contains an ID that uniquely identifies the activity on the channel.",
          "title": "ID",
          "type": "string"
        },
        "timestamp": {
          "format": "date-time",
          "description": "Contains the date and time that the message was sent, in UTC, expressed in ISO-8601 format.",
          "title": "Timestamp",
          "type": "string"
        },
        "localTimestamp": {
          "format": "date-time",
          "description": "Contains the local date and time of the message, expressed in ISO-8601 format. For example, 2016-09-23T13:07:49.4714686-07:00.",
          "title": "Local Timestamp",
          "type": "string"
        },
        "localTimezone": {
          "description": "Contains the name of the local timezone of the message, expressed in IANA Time Zone database format. For example, America/Los_Angeles.",
          "title": "Local Timezone",
          "type": "string"
        },
        "serviceUrl": {
          "description": "Contains the URL that specifies the channel's service endpoint. Set by the channel.",
          "title": "Service URL",
          "type": "string"
        },
        "channelId": {
          "description": "Contains an ID that uniquely identifies the channel. Set by the channel.",
          "title": "Channel ID",
          "type": "string"
        },
        "from": {
          "$ref": "#/definitions/ChannelAccount"
        },
        "conversation": {
          "$ref": "#/definitions/ConversationAccount"
        },
        "recipient": {
          "$ref": "#/definitions/ChannelAccount"
        },
        "textFormat": {
          "description": "Format of text fields. Default:markdown.",
          "title": "Text Format",
          "type": "string"
        },
        "attachmentLayout": {
          "description": "The layout hint for multiple attachments. Default: list.",
          "title": "Attachment Layout",
          "type": "string"
        },
        "membersAdded": {
          "description": "The collection of members added to the conversation.",
          "title": "Members Added",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ChannelAccount"
          }
        },
        "membersRemoved": {
          "description": "The collection of members removed from the conversation.",
          "title": "Members Removed",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ChannelAccount"
          }
        },
        "reactionsAdded": {
          "description": "The collection of reactions added to the conversation.",
          "title": "Reactions Added",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageReaction"
          }
        },
        "reactionsRemoved": {
          "description": "The collection of reactions removed from the conversation.",
          "title": "Reactions Removed",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MessageReaction"
          }
        },
        "topicName": {
          "description": "The updated topic name of the conversation.",
          "title": "Topic Name",
          "type": "string"
        },
        "historyDisclosed": {
          "description": "Indicates whether the prior history of the channel is disclosed.",
          "title": "History Disclosed",
          "type": "boolean"
        },
        "locale": {
          "description": "A locale name for the contents of the text field. The locale name is a combination of an ISO 639 two- or three-letter culture code associated with a language and an ISO 3166 two-letter subculture code associated with a country or region. The locale name can also correspond to a valid BCP-47 language tag.",
          "type": "string",
          "title": "Locale",
          "default": "en-US"
        },
        "text": {
          "description": "The text content of the message.",
          "type": "string",
          "title": "Text"
        },
        "speak": {
          "description": "The text to speak.",
          "title": "Speak",
          "type": "string"
        },
        "inputHint": {
          "description": "Indicates whether your bot is accepting, expecting, or ignoring user input after the message is delivered to the client.",
          "title": "Input Hint",
          "type": "string"
        },
        "summary": {
          "description": "The text to display if the channel cannot render cards.",
          "title": "Summary",
          "type": "string"
        },
        "suggestedActions": {
          "$ref": "#/definitions/SuggestedActions"
        },
        "attachments": {
          "description": "The attachments.",
          "title": "Attachments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        },
        "entities": {
          "description": "Represents the entities that were mentioned in the message.",
          "title": "Entities",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Entity"
          }
        },
        "channelData": {
          "description": "Contains channel-specific content.",
          "title": "Channel Data",
          "type": "object"
        },
        "action": {
          "description": "Indicates whether the recipient of a contactRelationUpdate was added or removed from the sender's contact list.",
          "title": "Action",
          "type": "string"
        },
        "replyToId": {
          "description": "Contains the ID of the message to which this message is a reply.",
          "title": "Reply To ID",
          "type": "string"
        },
        "label": {
          "description": "A descriptive label for the activity.",
          "title": "Label",
          "type": "string"
        },
        "valueType": {
          "description": "The type of the activity's value object.",
          "title": "Value Type",
          "type": "string"
        },
        "value": {
          "description": "A value that is associated with the activity.",
          "title": "Value",
          "type": "object"
        },
        "name": {
          "description": "The name of the operation associated with an invoke or event activity.",
          "title": "Name",
          "type": "string"
        },
        "relatesTo": {
          "$ref": "#/definitions/ConversationReference"
        },
        "code": {
          "description": "The a code for endOfConversation activities that indicates why the conversation ended.",
          "title": "Code",
          "type": "string"
        },
        "expiration": {
          "format": "date-time",
          "description": "The time at which the activity should be considered to be expired and should not be presented to the recipient.",
          "title": "Expiration",
          "type": "string"
        },
        "importance": {
          "description": "The importance of the activity.",
          "title": "Importance",
          "type": "string"
        },
        "deliveryMode": {
          "description": "A delivery hint to signal to the recipient alternate delivery paths for the activity. The default delivery mode is default.",
          "title": "Delivery Mode",
          "type": "string"
        },
        "listenFor": {
          "description": "List of phrases and references that speech and language priming systems should listen for.",
          "title": "Listen For",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textHighlights": {
          "description": "The collection of text fragments to highlight when the activity contains a ReplyToId value.",
          "title": "Text Highlights",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TextHighlight"
          }
        },
        "semanticAction": {
          "$ref": "#/definitions/SemanticAction"
        }
      },
      "required": [
        "locale",
        "type",
        "text"
      ]
    },
    "ConversationAccount": {
      "description": "Conversation account represents the identity of the conversation within a channel.",
      "type": "object",
      "properties": {
        "isGroup": {
          "description": "Indicates whether the conversation contains more than two participants at the time the activity was generated.",
          "title": "Is Group",
          "type": "boolean"
        },
        "conversationType": {
          "description": "Indicates the type of the conversation in channels that distinguish between conversation types.",
          "title": "Conversation Type",
          "type": "string"
        },
        "tenantId": {
          "description": "This conversation's tenant ID.",
          "title": "Tenant ID",
          "type": "string"
        },
        "id": {
          "description": "Channel identifier for the user or bot on this channel (Example: joe@smith.com, or @joesmith or 123456).",
          "title": "ID",
          "type": "string"
        },
        "name": {
          "description": "Display friendly name.",
          "title": "Name",
          "type": "string"
        },
        "aadObjectId": {
          "description": "This account's object ID within Entra ID.",
          "title": "Entra ID Object ID",
          "type": "string"
        },
        "role": {
          "description": "Role of the entity behind the account (Example: User, Bot, etc.)",
          "title": "Role",
          "type": "string"
        }
      }
    },
    "MessageReaction": {
      "description": "Message reaction object.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Message reaction type.",
          "title": "Type",
          "type": "string"
        }
      }
    },
    "SuggestedActions": {
      "description": "SuggestedActions that can be performed.",
      "type": "object",
      "properties": {
        "to": {
          "description": "Ids of the recipients that the actions should be shown to.  These Ids are relative to the channelId and a subset of all recipients of the activity.",
          "title": "To",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "actions": {
          "description": "Actions that can be shown to the user.",
          "title": "Actions",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAction"
          }
        }
      }
    },
    "Attachment": {
      "description": "An attachment within an activity.",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "Mimetype/Contenttype for the file.",
          "title": "Content Type",
          "type": "string"
        },
        "contentUrl": {
          "description": "Content URL.",
          "title": "Content URL",
          "type": "string"
        },
        "content": {
          "description": "Embedded content.",
          "title": "Content",
          "type": "object"
        },
        "name": {
          "description": "Optional - The name of the attachment.",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "Optional - Thumbnail associated with attachment.",
          "type": "string"
        }
      }
    },
    "Entity": {
      "description": "Metadata object pertaining to an activity.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of this entity (RFC 3987 IRI).",
          "title": "Type",
          "type": "string"
        }
      }
    },
    "ConversationReference": {
      "description": "An object relating to a particular point in a conversation.",
      "type": "object",
      "properties": {
        "activityId": {
          "description": "Optional - ID of the activity to refer to.",
          "title": "Activity ID",
          "type": "string"
        },
        "user": {
          "$ref": "#/definitions/ChannelAccount"
        },
        "bot": {
          "$ref": "#/definitions/ChannelAccount"
        },
        "conversation": {
          "$ref": "#/definitions/ConversationAccount"
        },
        "channelId": {
          "description": "Channel ID.",
          "title": "Channel ID",
          "type": "string"
        },
        "serviceUrl": {
          "description": "Service endpoint where operations concerning the referenced conversation may be performed.",
          "title": "Service URL",
          "type": "string"
        }
      }
    },
    "TextHighlight": {
      "description": "Refers to a substring of content within another field.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Defines the snippet of text to highlight.",
          "title": "Text",
          "type": "string"
        },
        "occurrence": {
          "format": "int32",
          "description": "Occurrence of the text field within the referenced text, if multiple exist.",
          "title": "Occurrence",
          "type": "integer"
        }
      }
    },
    "SemanticAction": {
      "description": "Represents a reference to a programmatic action.",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of this action. Allowed values: `start`, `continue`, `done`.",
          "title": "State",
          "type": "string"
        },
        "id": {
          "description": "The identifier of this action.",
          "title": "ID",
          "type": "string"
        },
        "entities": {
          "description": "Entities associated with this action.",
          "title": "Entities",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Entity"
          }
        }
      }
    },
    "CardAction": {
      "description": "A clickable action.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of action implemented by this button.",
          "title": "Type",
          "type": "string"
        },
        "title": {
          "description": "Text description which appears on the button.",
          "title": "Title",
          "type": "string"
        },
        "image": {
          "description": "Image URL which will appear on the button, next to text label.",
          "title": "Image",
          "type": "string"
        },
        "text": {
          "description": "Text for this action.",
          "title": "Text",
          "type": "string"
        },
        "displayText": {
          "description": "Optional - text to display in the chat feed if the button is clicked.",
          "title": "Display Text",
          "type": "string"
        },
        "value": {
          "description": "Supplementary parameter for action. Content of this property depends on the ActionType.",
          "title": "Value",
          "type": "object"
        },
        "channelData": {
          "description": "Channel-specific data associated with this action.",
          "title": "Channel Data",
          "type": "object"
        }
      }
    },
    "ResourceResponse": {
      "description": "A response containing a resource ID.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier of the resource.",
          "title": "ID",
          "type": "string"
        }
      }
    },
    "HeroCard": {
      "description": "A Hero card (card with a single, large image).",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the card.",
          "title": "Title",
          "type": "string"
        },
        "subtitle": {
          "description": "Subtitle of the card.",
          "title": "Subtitle",
          "type": "string"
        },
        "text": {
          "description": "Text for the card.",
          "title": "Text",
          "type": "string"
        },
        "images": {
          "description": "Array of images for the card.",
          "title": "Images",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardImage"
          }
        },
        "buttons": {
          "description": "Set of actions applicable to the current card.",
          "title": "Buttons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAction"
          }
        },
        "tap": {
          "$ref": "#/definitions/CardAction"
        }
      }
    },
    "CardImage": {
      "description": "An image on a card.",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL thumbnail image for major content property.",
          "title": "URL",
          "type": "string"
        },
        "alt": {
          "description": "Image description intended for screen readers.",
          "title": "Alt",
          "type": "string"
        },
        "tap": {
          "$ref": "#/definitions/CardAction"
        }
      }
    },
    "AnimationCard": {
      "description": "An animation card (Ex: gif or short video clip).",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of this card.",
          "title": "Title",
          "type": "string"
        },
        "subtitle": {
          "description": "Subtitle of this card.",
          "title": "Subtitle",
          "type": "string"
        },
        "text": {
          "description": "Text of this card.",
          "title": "Text",
          "type": "string"
        },
        "image": {
          "$ref": "#/definitions/ThumbnailUrl"
        },
        "media": {
          "description": "Media URLs for this card. When this field contains more than one URL, each URL is an alternative format of the same content.",
          "title": "Media",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaUrl"
          }
        },
        "buttons": {
          "description": "Actions on this card.",
          "title": "Buttons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAction"
          }
        },
        "shareable": {
          "description": "This content may be shared with others. Default: true.",
          "title": "Shareable",
          "type": "boolean"
        },
        "autoloop": {
          "description": "Should the client loop playback at end of content. Default: true.",
          "title": "Autoloop",
          "type": "boolean"
        },
        "autostart": {
          "description": "Should the client automatically start playback of media in this card. Default: true.",
          "title": "Autostart",
          "type": "boolean"
        },
        "aspect": {
          "description": "Aspect ratio of thumbnail/media placeholder. Allowed values are 16:9 and 4:3",
          "title": "Aspect",
          "type": "string"
        },
        "duration": {
          "description": "Describes the length of the media content without requiring a receiver to open the content. Formatted as an ISO 8601 Duration field.",
          "title": "Duration",
          "type": "string"
        },
        "value": {
          "description": "Supplementary parameter for this card.",
          "title": "Value",
          "type": "object"
        }
      }
    },
    "ThumbnailUrl": {
      "description": "Thumbnail URL.",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL pointing to the thumbnail to use for media content.",
          "title": "URL",
          "type": "string"
        },
        "alt": {
          "description": "HTML alt text to include on this thumbnail image.",
          "title": "Alt",
          "type": "string"
        }
      }
    },
    "MediaUrl": {
      "description": "Media URL.",
      "type": "object",
      "properties": {
        "url": {
          "description": "URL for the media.",
          "title": "URL",
          "type": "string"
        },
        "profile": {
          "description": "Optional profile hint to the client to differentiate multiple MediaUrl objects from each other.",
          "title": "Profile",
          "type": "string"
        }
      }
    },
    "AudioCard": {
      "description": "Audio card.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of this card.",
          "title": "Title",
          "type": "string"
        },
        "subtitle": {
          "description": "Subtitle of this card.",
          "title": "Subtitle",
          "type": "string"
        },
        "text": {
          "description": "Text of this card.",
          "title": "Text",
          "type": "string"
        },
        "image": {
          "$ref": "#/definitions/ThumbnailUrl"
        },
        "media": {
          "description": "Media URLs for this card. When this field contains more than one URL, each URL is an alternative format of the same content.",
          "title": "Media",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaUrl"
          }
        },
        "buttons": {
          "description": "Actions on this card.",
          "title": "Buttons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAction"
          }
        },
        "shareable": {
          "description": "This content may be shared with others. Default: true.",
          "title": "Shareable",
          "type": "boolean"
        },
        "autoloop": {
          "description": "Should the client loop playback at end of content. Default: true.",
          "title": "Autoloop",
          "type": "boolean"
        },
        "autostart": {
          "description": "Should the client automatically start playback of media in this card. Default: true.",
          "title": "Autostart",
          "type": "boolean"
        },
        "aspect": {
          "description": "Aspect ratio of thumbnail/media placeholder. Allowed values are 16:9 and 4:3",
          "title": "Aspect",
          "type": "string"
        },
        "duration": {
          "description": "Describes the length of the media content without requiring a receiver to open the content. Formatted as an ISO 8601 Duration field.",
          "title": "Duration",
          "type": "string"
        },
        "value": {
          "description": "Supplementary parameter for this card.",
          "type": "object"
        }
      }
    },
    "BasicCard": {
      "description": "A basic card.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the card.",
          "title": "Title",
          "type": "string"
        },
        "subtitle": {
          "description": "Subtitle of the card.",
          "title": "Subtitle",
          "type": "string"
        },
        "text": {
          "description": "Text for the card.",
          "title": "Text",
          "type": "string"
        },
        "images": {
          "description": "Array of images for the card.",
          "title": "Images",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardImage"
          }
        },
        "buttons": {
          "description": "Set of actions applicable to the current card.",
          "title": "Buttons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAction"
          }
        },
        "tap": {
          "$ref": "#/definitions/CardAction"
        }
      }
    },
    "MediaCard": {
      "description": "Media card.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of this card.",
          "title": "Title",
          "type": "string"
        },
        "subtitle": {
          "description": "Subtitle of this card.",
          "title": "Subtitle",
          "type": "string"
        },
        "text": {
          "description": "Text of this card.",
          "title": "Text",
          "type": "string"
        },
        "image": {
          "$ref": "#/definitions/ThumbnailUrl"
        },
        "media": {
          "description": "Media URLs for this card. When this field contains more than one URL, each URL is an alternative format of the same content.",
          "title": "Media",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaUrl"
          }
        },
        "buttons": {
          "description": "Actions on this card.",
          "title": "Buttons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAction"
          }
        },
        "shareable": {
          "description": "This content may be shared with others. Default: true.",
          "title": "Shareable",
          "type": "boolean"
        },
        "autoloop": {
          "description": "Should the client loop playback at end of content. Default: true.",
          "title": "Autoloop",
          "type": "boolean"
        },
        "autostart": {
          "description": "Should the client automatically start playback of media in this card. Default: true.",
          "title": "Autostart",
          "type": "boolean"
        },
        "aspect": {
          "description": "Aspect ratio of thumbnail/media placeholder. Allowed values are 16:9 and 4:3",
          "title": "Aspect",
          "type": "string"
        },
        "duration": {
          "description": "Describes the length of the media content without requiring a receiver to open the content. Formatted as an ISO 8601 Duration field.",
          "title": "Duration",
          "type": "string"
        },
        "value": {
          "description": "Supplementary parameter for this card.",
          "title": "Value",
          "type": "object"
        }
      }
    },
    "ReceiptCard": {
      "description": "A receipt card.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the card.",
          "title": "Title",
          "type": "string"
        },
        "facts": {
          "description": "Array of Fact objects.",
          "title": "Facts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fact"
          }
        },
        "items": {
          "description": "Array of Receipt Items.",
          "title": "Items",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReceiptItem"
          }
        },
        "tap": {
          "$ref": "#/definitions/CardAction"
        },
        "total": {
          "description": "Total amount of money paid (or to be paid).",
          "title": "Total",
          "type": "string"
        },
        "tax": {
          "description": "Total amount of tax paid (or to be paid).",
          "title": "Tax",
          "type": "string"
        },
        "vat": {
          "description": "Total amount of VAT paid (or to be paid).",
          "title": "VAT",
          "type": "string"
        },
        "buttons": {
          "description": "Set of actions applicable to the current card.",
          "title": "Buttons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAction"
          }
        }
      }
    },
    "Fact": {
      "description": "Set of key-value pairs. Advantage of this section is that key and value properties will be  rendered with default style information with some delimiter between them. So there is no need for developer to specify style information.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key for this Fact.",
          "title": "Key",
          "type": "string"
        },
        "value": {
          "description": "The value for this Fact.",
          "title": "Value",
          "type": "string"
        }
      }
    },
    "ReceiptItem": {
      "description": "An item on a receipt card.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the Card.",
          "title": "Title",
          "type": "string"
        },
        "subtitle": {
          "description": "Subtitle appears just below Title field, differs from Title in font styling only.",
          "title": "Subtitle",
          "type": "string"
        },
        "text": {
          "description": "Text field appears just below subtitle, differs from Subtitle in font styling only.",
          "title": "Text",
          "type": "string"
        },
        "image": {
          "$ref": "#/definitions/CardImage"
        },
        "price": {
          "description": "Amount with currency.",
          "title": "Price",
          "type": "string"
        },
        "quantity": {
          "description": "Number of items of given kind.",
          "title": "Quantity",
          "type": "string"
        },
        "tap": {
          "$ref": "#/definitions/CardAction"
        }
      }
    },
    "SigninCard": {
      "description": "A card representing a request to sign in.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Text for signin request.",
          "title": "Text",
          "type": "string"
        },
        "buttons": {
          "description": "Action to use to perform signin.",
          "title": "Buttons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAction"
          }
        }
      }
    },
    "OAuthCard": {
      "description": "A card representing a request to perform a sign in via OAuth.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Text for signin request.",
          "title": "Text",
          "type": "string"
        },
        "connectionName": {
          "description": "The name of the registered connection.",
          "title": "Connection Name",
          "type": "string"
        },
        "buttons": {
          "description": "Action to use to perform signin.",
          "title": "Buttons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAction"
          }
        }
      }
    },
    "ThumbnailCard": {
      "description": "A thumbnail card (card with a single, small thumbnail image).",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of the card.",
          "title": "Title",
          "type": "string"
        },
        "subtitle": {
          "description": "Subtitle of the card.",
          "title": "Subtitle",
          "type": "string"
        },
        "text": {
          "description": "Text for the card.",
          "title": "Text",
          "type": "string"
        },
        "images": {
          "description": "Array of images for the card.",
          "title": "Images",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardImage"
          }
        },
        "buttons": {
          "description": "Set of actions applicable to the current card.",
          "title": "Buttons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAction"
          }
        },
        "tap": {
          "$ref": "#/definitions/CardAction"
        }
      }
    },
    "VideoCard": {
      "description": "Video card.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Title of this card.",
          "title": "Title",
          "type": "string"
        },
        "subtitle": {
          "description": "Subtitle of this card.",
          "title": "Subtitle",
          "type": "string"
        },
        "text": {
          "description": "Text of this card.",
          "title": "Text",
          "type": "string"
        },
        "image": {
          "$ref": "#/definitions/ThumbnailUrl"
        },
        "media": {
          "description": "Media URLs for this card. When this field contains more than one URL, each URL is an alternative format of the same content.",
          "title": "Media",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaUrl"
          }
        },
        "buttons": {
          "description": "Actions on this card.",
          "title": "Buttons",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CardAction"
          }
        },
        "shareable": {
          "description": "This content may be shared with others. Default: true.",
          "title": "Shareable",
          "type": "boolean"
        },
        "autoloop": {
          "description": "Should the client loop playback at end of content. Default: true.",
          "title": "Autoloop",
          "type": "boolean"
        },
        "autostart": {
          "description": "Should the client automatically start playback of media in this card. Default: true.",
          "title": "Autostart",
          "type": "boolean"
        },
        "aspect": {
          "description": "Aspect ratio of thumbnail/media placeholder. Allowed values are 16:9 and 4:3",
          "title": "Aspect",
          "type": "string"
        },
        "duration": {
          "description": "Describes the length of the media content without requiring a receiver to open the content. Formatted as an ISO 8601 Duration field.",
          "title": "Duration",
          "type": "string"
        },
        "value": {
          "description": "Supplementary parameter for this card.",
          "title": "Value",
          "type": "object"
        }
      }
    },
    "GeoCoordinates": {
      "description": "GeoCoordinates.",
      "type": "object",
      "properties": {
        "elevation": {
          "format": "double",
          "description": "Elevation of the location [WGS 84](https://en.wikipedia.org/wiki/World_Geodetic_System)",
          "title": "Elevation",
          "type": "number"
        },
        "latitude": {
          "format": "float",
          "description": "Latitude of the location [WGS 84](https://en.wikipedia.org/wiki/World_Geodetic_System)",
          "title": "Latitude",
          "type": "number"
        },
        "longitude": {
          "format": "float",
          "description": "Longitude of the location [WGS 84](https://en.wikipedia.org/wiki/World_Geodetic_System)",
          "title": "Longitude",
          "type": "number"
        },
        "type": {
          "description": "The type of the thing.",
          "title": "Type",
          "type": "string"
        },
        "name": {
          "description": "The name of the thing.",
          "title": "Name",
          "type": "string"
        }
      }
    },
    "Mention": {
      "description": "Mention information (entity type: mention).",
      "type": "object",
      "properties": {
        "mentioned": {
          "$ref": "#/definitions/ChannelAccount"
        },
        "text": {
          "description": "Sub Text which represents the mention (can be null or empty).",
          "title": "Text",
          "type": "string"
        },
        "type": {
          "description": "Type of this entity (RFC 3987 IRI).",
          "title": "Type",
          "type": "string"
        }
      }
    },
    "Place": {
      "description": "Place entity type.",
      "type": "object",
      "properties": {
        "address": {
          "description": "Address of the place (may be `string` or complex object of type `PostalAddress`).",
          "title": "Address",
          "type": "object"
        },
        "geo": {
          "description": "Geo coordinates of the place (may be complex object of type `GeoCoordinates` or `GeoShape`).",
          "title": "Geo",
          "type": "object"
        },
        "hasMap": {
          "description": "Map to the place (may be `string` (URL) or complex object of type `Map`).",
          "title": "Has Map",
          "type": "object"
        },
        "type": {
          "description": "The type of the thing.",
          "title": "Type",
          "type": "string"
        },
        "name": {
          "description": "The name of the thing.",
          "title": "Name",
          "type": "string"
        }
      }
    },
    "Thing": {
      "description": "Thing entity type.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the thing.",
          "title": "Type",
          "type": "string"
        },
        "name": {
          "description": "The name of the thing.",
          "title": "Name",
          "type": "string"
        }
      }
    },
    "TokenRequest": {
      "description": "A request to receive a user token.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "The provider to request a user token from.",
          "title": "Provider",
          "type": "string"
        },
        "settings": {
          "description": "A collection of settings for the specific provider for this request.",
          "title": "Settings",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "TokenResponse": {
      "description": "A response that includes a user token.",
      "type": "object",
      "properties": {
        "channelId": {
          "description": "The channelId of the TokenResponse.",
          "title": "Channel ID",
          "type": "string"
        },
        "connectionName": {
          "description": "The connection name.",
          "title": "Connection Name",
          "type": "string"
        },
        "token": {
          "description": "The user token.",
          "title": "Token",
          "type": "string"
        },
        "expiration": {
          "description": "Expiration for the token, in ISO 8601 format (e.g. 2007-04-05T14:30Z)",
          "title": "Expiration",
          "type": "string"
        }
      }
    },
    "StartActivityRequest": {
      "description": "Request to start a conversation with an activity.",
      "type": "object",
      "properties": {
        "tokenParameters": {
          "$ref": "#/definitions/TokenParameters"
        },
        "activity": {
          "$ref": "#/definitions/Activity"
        }
      },
      "required": [
        "activity"
      ]
    },
    "LastActivity": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "title": "Activity Type",
          "description": "The type of activity (message, typing, etc.).",
          "enum": [
            "message",
            "typing",
            "event",
            "contactRelation",
            "endOfConversation",
            "instruct",
            "trace"
          ]
        },
        "id": {
          "type": "string",
          "title": "Activity ID",
          "description": "Unique identifier for the activity.",
          "pattern": "^[a-zA-Z0-9_-]+\\|\\d+$"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "title": "Timestamp",
          "description": "ISO 8601 timestamp of when the activity occurred."
        },
        "channelId": {
          "type": "string",
          "title": "Channel ID",
          "description": "The channel where the activity occurred (directline, teams, etc.)."
        },
        "from": {
          "type": "object",
          "title": "Sender",
          "description": "Information about the sender of the message.",
          "properties": {
            "id": {
              "type": "string",
              "title": "Sender ID",
              "description": "Unique identifier for the sender."
            },
            "name": {
              "type": "string",
              "title": "Sender Name",
              "description": "Display name of the sender."
            },
            "role": {
              "type": "string",
              "title": "Sender Role",
              "enum": [
                "bot",
                "user",
                "channel"
              ],
              "description": "Role of the sender in the conversation."
            }
          },
          "required": [
            "id",
            "role"
          ]
        },
        "conversation": {
          "type": "object",
          "title": "Conversation",
          "description": "Information about the conversation this activity belongs to.",
          "properties": {
            "id": {
              "type": "string",
              "title": "Conversation ID",
              "description": "Unique identifier for the conversation."
            }
          },
          "required": [
            "id"
          ]
        },
        "textFormat": {
          "type": "string",
          "title": "Text Format",
          "enum": [
            "plain",
            "markdown",
            "xml"
          ],
          "description": "Format of the text content."
        },
        "membersAdded": {
          "type": "array",
          "title": "Members Added",
          "description": "List of members added during this activity.",
          "items": {
            "type": "object"
          }
        },
        "membersRemoved": {
          "type": "array",
          "title": "Members Removed",
          "description": "List of members removed during this activity.",
          "items": {
            "type": "object"
          }
        },
        "reactionsAdded": {
          "type": "array",
          "title": "Reactions Added",
          "description": "List of reactions added to this activity.",
          "items": {
            "type": "object"
          }
        },
        "reactionsRemoved": {
          "type": "array",
          "title": "Reactions Removed",
          "description": "List of reactions removed from this activity.",
          "items": {
            "type": "object"
          }
        },
        "locale": {
          "type": "string",
          "title": "Locale",
          "description": "Locale/language code for the message.",
          "pattern": "^[a-z]{2}-[A-Z]{2}$"
        },
        "text": {
          "type": "string",
          "title": "Text",
          "description": "The text content of the message."
        },
        "inputHint": {
          "type": "string",
          "title": "Input Hint",
          "enum": [
            "acceptingInput",
            "ignoringInput",
            "expectingInput"
          ],
          "description": "Hint about whether the bot is accepting, expecting, or ignoring input."
        },
        "attachments": {
          "type": "array",
          "title": "Attachments",
          "description": "Media attachments within the message.",
          "items": {
            "type": "object"
          }
        },
        "entities": {
          "type": "array",
          "title": "Entities",
          "description": "Entities mentioned in or related to the activity.",
          "items": {
            "type": "object"
          }
        },
        "channelData": {
          "type": "object",
          "title": "Channel Data",
          "description": "Channel-specific data including metadata and feedback information."
        },
        "replyToId": {
          "type": "string",
          "title": "Reply To ID",
          "description": "ID of the activity this is replying to.",
          "pattern": "^[a-zA-Z0-9_-]+\\|\\d+$"
        },
        "listenFor": {
          "type": "array",
          "title": "Listen For",
          "description": "Keywords or phrases to listen for.",
          "items": {
            "type": "string"
          }
        },
        "textHighlights": {
          "type": "array",
          "title": "Text Highlights",
          "description": "Highlights within the text content.",
          "items": {
            "type": "object"
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "secret"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://learn.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-concepts"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.microsoft.com/en-us/privacy/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ]
}
