{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Easyship",
    "description": "Easyship provides a powerful service for you to add hassle free worldwide shipping options to your website and end to end shipping functionality to your warehouse, ERP or platform.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.easyship.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/rates": {
      "post": {
        "summary": "Get rates and taxes",
        "description": "Retrieve a list of shipping quotes for a prospective shipment.",
        "operationId": "GetRatesTaxes",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "origin_address": {
                  "type": "object",
                  "properties": {
                    "line_1": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "line_2": {
                      "type": "string",
                      "description": "The address line 2.",
                      "title": "Address Line 2"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "The postal code.",
                      "title": "Postal Code"
                    },
                    "country_alpha2": {
                      "type": "string",
                      "description": "The country code.",
                      "title": "Country Code"
                    }
                  },
                  "title": "Origin Address"
                },
                "destination_address": {
                  "type": "object",
                  "properties": {
                    "line_1": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "line_2": {
                      "type": "string",
                      "description": "The address line 2.",
                      "title": "Address Line 2"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "The postal code.",
                      "title": "Postal Code"
                    },
                    "country_alpha2": {
                      "type": "string",
                      "description": "The country code.",
                      "title": "Country Code"
                    }
                  },
                  "title": "Destination Address"
                },
                "incoterms": {
                  "type": "string",
                  "description": "The incoterms.",
                  "title": "Incoterms"
                },
                "insurance": {
                  "type": "object",
                  "properties": {
                    "is_insured": {
                      "type": "boolean",
                      "description": "Whether is insured.",
                      "title": "Is Insured"
                    },
                    "insured_amount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The insured amount.",
                      "title": "Insured Amount"
                    },
                    "insured_currency": {
                      "type": "string",
                      "description": "The insured currency.",
                      "title": "Insured Currency"
                    }
                  },
                  "title": "Insurance"
                },
                "courier_selection": {
                  "type": "object",
                  "properties": {
                    "apply_shipping_rules": {
                      "type": "boolean",
                      "description": "Whether shipping rules were applied.",
                      "title": "Apply Shipping Rules"
                    }
                  },
                  "title": "Courier Selection"
                },
                "shipping_settings": {
                  "type": "object",
                  "properties": {
                    "units": {
                      "type": "object",
                      "properties": {
                        "weight": {
                          "type": "string",
                          "description": "The weight.",
                          "title": "Weight"
                        },
                        "dimensions": {
                          "type": "string",
                          "description": "The dimensions.",
                          "title": "Dimensions"
                        }
                      },
                      "title": "Units"
                    },
                    "output_currency": {
                      "type": "string",
                      "description": "The output currency.",
                      "title": "Output Currency"
                    }
                  },
                  "title": "Shipping Settings"
                },
                "parcels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "total_actual_weight": {
                        "type": "number",
                        "format": "float",
                        "description": "The total actual weight.",
                        "title": "Total Actual Weight"
                      },
                      "box": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "description": "The reference slug.",
                            "title": "Slug"
                          },
                          "length": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The length.",
                            "title": "Length"
                          },
                          "width": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The width.",
                            "title": "Width"
                          },
                          "height": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The height.",
                            "title": "Height"
                          }
                        },
                        "title": "Box"
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "description": "The description.",
                              "title": "Description"
                            },
                            "category": {
                              "type": "string",
                              "description": "The category.",
                              "title": "Category"
                            },
                            "sku": {
                              "type": "string",
                              "description": "The SKU.",
                              "title": "SKU"
                            },
                            "quantity": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The quantity.",
                              "title": "Quantity"
                            },
                            "dimensions": {
                              "type": "object",
                              "properties": {
                                "length": {
                                  "type": "string",
                                  "description": "The length.",
                                  "title": "Length"
                                },
                                "width": {
                                  "type": "string",
                                  "description": "The width.",
                                  "title": "Width"
                                },
                                "height": {
                                  "type": "string",
                                  "description": "The height.",
                                  "title": "Height"
                                }
                              },
                              "title": "Dimensions"
                            },
                            "actual_weight": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The actual weight.",
                              "title": "Actual Weight"
                            },
                            "declared_currency": {
                              "type": "string",
                              "description": "The declared currency.",
                              "title": "Declared Currency"
                            },
                            "declared_customs_value": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The declared customs value.",
                              "title": "Declared Customs Value"
                            }
                          }
                        },
                        "title": "Items"
                      }
                    }
                  },
                  "title": "Parcels"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "rates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "courier_id": {
                        "type": "string",
                        "description": "The courier unique identifier.",
                        "title": "Courier ID"
                      },
                      "courier_name": {
                        "type": "string",
                        "description": "The courier name.",
                        "title": "Courier Name"
                      },
                      "min_delivery_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum delivery time.",
                        "title": "Min Delivery Time"
                      },
                      "max_delivery_time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum delivery time.",
                        "title": "Max Delivery Time"
                      },
                      "value_for_money_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The value for money rank.",
                        "title": "Value For Money Rank"
                      },
                      "delivery_time_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The delivery time rank.",
                        "title": "Delivery Time Rank"
                      },
                      "shipment_charge": {
                        "type": "number",
                        "format": "float",
                        "description": "The shipment charge.",
                        "title": "Shipment Charge"
                      },
                      "fuel_surcharge": {
                        "type": "number",
                        "format": "float",
                        "description": "The fuel surcharge.",
                        "title": "Fuel Surcharge"
                      },
                      "remote_area_surcharge": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The remote area surcharge.",
                        "title": "Remote Area Surcharge"
                      },
                      "shipment_charge_total": {
                        "type": "number",
                        "format": "float",
                        "description": "The shipment charge total.",
                        "title": "Shipment Charge Total"
                      },
                      "warehouse_handling_fee": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The warehouse handling fee.",
                        "title": "Warehouse Handling Fee"
                      },
                      "insurance_fee": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The insurance fee.",
                        "title": "Insurance Fee"
                      },
                      "ddp_handling_fee": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The DDP handling fee if incoterm is DDP.",
                        "title": "DDP Handling Fee"
                      },
                      "import_tax_charge": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The import tax charge.",
                        "title": "Import Tax Charge"
                      },
                      "import_duty_charge": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The import duty charge.",
                        "title": "Import Duty Charge"
                      },
                      "total_charge": {
                        "type": "number",
                        "format": "float",
                        "description": "The total charge.",
                        "title": "Total Charge"
                      },
                      "is_above_threshold": {
                        "type": "boolean",
                        "description": "Whether is above threshold.",
                        "title": "Is Above Threshold"
                      },
                      "effective_incoterms": {
                        "type": "string",
                        "description": "The effective incoterms.",
                        "title": "Effective Incoterms"
                      },
                      "estimated_import_tax": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The estimated import tax.",
                        "title": "Estimated Import Tax"
                      },
                      "estimated_import_duty": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The estimated import duty.",
                        "title": "Estimated Import Duty"
                      },
                      "courier_does_pickup": {
                        "type": "boolean",
                        "description": "Whether the courier does pickup.",
                        "title": "Courier Does Pickup"
                      },
                      "courier_dropoff_url": {
                        "type": "string",
                        "description": "The courier dropoff URL address.",
                        "title": "Courier Dropoff URL"
                      },
                      "tracking_rating": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The tracking rating.",
                        "title": "Tracking Rating"
                      },
                      "payment_recipient": {
                        "type": "string",
                        "description": "The payment recipient.",
                        "title": "Payment Recipient"
                      },
                      "courier_remarks": {
                        "type": "string",
                        "description": "The courier remarks.",
                        "title": "Courier Remarks"
                      },
                      "currency": {
                        "type": "string",
                        "description": "The currency.",
                        "title": "Currency"
                      },
                      "box": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "length": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The length.",
                            "title": "Length"
                          },
                          "width": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The width.",
                            "title": "Width"
                          },
                          "height": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The height.",
                            "title": "Height"
                          }
                        },
                        "title": "Box"
                      },
                      "minimum_pickup_fee": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The minimum pickup fee.",
                        "title": "Minimum Pickup Fee"
                      },
                      "title": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "full_description": {
                        "type": "string",
                        "description": "The full description.",
                        "title": "Full Description"
                      }
                    }
                  },
                  "title": "Rates"
                }
              }
            }
          }
        }
      }
    },
    "/v2/shipments": {
      "get": {
        "summary": "List all shipments",
        "description": "Retrieves a list of all shipments.",
        "operationId": "ListAllShipments",
        "parameters": [
          {
            "name": "easyship_shipment_id",
            "in": "query",
            "x-ms-summary": "Easyship Shipment ID",
            "description": "The Easyship shipment unique identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "platform_order_number",
            "in": "query",
            "x-ms-summary": "Platform Order Number",
            "description": "The platform order number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "x-ms-summary": "Per Page",
            "description": "The number per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "created_at_from",
            "in": "query",
            "x-ms-summary": "Created At From",
            "description": "The created at from.",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_at_to",
            "in": "query",
            "x-ms-summary": "Created At To",
            "description": "The created at to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "confirmed_at_from",
            "in": "query",
            "x-ms-summary": "Confirmed At From",
            "description": "The confirmed at from.",
            "required": false,
            "type": "string"
          },
          {
            "name": "confirm_at_to",
            "in": "query",
            "x-ms-summary": "Confirmed At To",
            "description": "The confirmed at to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "label_generated_at_from",
            "in": "query",
            "x-ms-summary": "Label Generate At From",
            "description": "The label generate at from.",
            "required": false,
            "type": "string"
          },
          {
            "name": "label_generated_at_to",
            "in": "query",
            "x-ms-summary": "Label Generated At To",
            "description": "The label generated at to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "shipment_state",
            "in": "query",
            "x-ms-summary": "Shipment State",
            "description": "The shipment state.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pickup_state",
            "in": "query",
            "x-ms-summary": "Pickup State",
            "description": "The pickup state.",
            "required": false,
            "type": "string"
          },
          {
            "name": "delivery_state",
            "in": "query",
            "x-ms-summary": "Delivery State",
            "description": "The delivery state.",
            "required": false,
            "type": "string"
          },
          {
            "name": "label_state",
            "in": "query",
            "x-ms-summary": "Label State",
            "description": "The label state.",
            "required": false,
            "type": "string"
          },
          {
            "name": "warehouse_state",
            "in": "query",
            "x-ms-summary": "Warehouse State",
            "description": "The warehouse state.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "shipments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "easyship_shipment_id": {
                        "type": "string",
                        "description": "The Easyship shipment unique identifier.",
                        "title": "Easyship Shipment ID"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "The created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "The updated at.",
                        "title": "Updated At"
                      },
                      "label_paid_at": {
                        "type": "string",
                        "description": "The label paid at.",
                        "title": "Label Paid At"
                      },
                      "label_generated_at": {
                        "type": "string",
                        "description": "The generated at.",
                        "title": "Label Generated At"
                      },
                      "order_created_at": {
                        "type": "string",
                        "description": "The order created at.",
                        "title": "Order Created At"
                      },
                      "origin_address": {
                        "type": "object",
                        "properties": {
                          "line_1": {
                            "type": "string",
                            "description": "The address.",
                            "title": "Address"
                          },
                          "line_2": {
                            "type": "string",
                            "description": "The address line 2.",
                            "title": "Address Line 2"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postal code.",
                            "title": "Postal Code"
                          },
                          "country_alpha2": {
                            "type": "string",
                            "description": "The country code.",
                            "title": "Country Code"
                          },
                          "contact_name": {
                            "type": "string",
                            "description": "The contact name.",
                            "title": "Contact Name"
                          },
                          "company_name": {
                            "type": "string",
                            "description": "The company name.",
                            "title": "Company Name"
                          },
                          "contact_phone": {
                            "type": "string",
                            "description": "The contact phone number.",
                            "title": "Contact Phone"
                          },
                          "contact_email": {
                            "type": "string",
                            "description": "The contact email address.",
                            "title": "Contact Email"
                          }
                        },
                        "title": "Origin Address"
                      },
                      "sender_address": {
                        "type": "object",
                        "properties": {
                          "line_1": {
                            "type": "string",
                            "description": "The address.",
                            "title": "Address"
                          },
                          "line_2": {
                            "type": "string",
                            "description": "The address line 2.",
                            "title": "Address Line 2"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postal code.",
                            "title": "Postal Code"
                          },
                          "country_alpha2": {
                            "type": "string",
                            "description": "The country code.",
                            "title": "Country Code"
                          },
                          "contact_name": {
                            "type": "string",
                            "description": "The contact name.",
                            "title": "Contact Name"
                          },
                          "company_name": {
                            "type": "string",
                            "description": "The company name.",
                            "title": "Company Name"
                          },
                          "contact_phone": {
                            "type": "string",
                            "description": "The contact phone number.",
                            "title": "Contact Phone"
                          },
                          "contact_email": {
                            "type": "string",
                            "description": "The contact email address.",
                            "title": "Contact Email"
                          }
                        },
                        "title": "Sender Address"
                      },
                      "return_address": {
                        "type": "object",
                        "properties": {
                          "line_1": {
                            "type": "string",
                            "description": "The address.",
                            "title": "Address"
                          },
                          "line_2": {
                            "type": "string",
                            "description": "The address line 2.",
                            "title": "Address Line 2"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postal code.",
                            "title": "Postal Code"
                          },
                          "country_alpha2": {
                            "type": "string",
                            "description": "The country code.",
                            "title": "Country Code"
                          },
                          "contact_name": {
                            "type": "string",
                            "description": "The contact name.",
                            "title": "Contact Name"
                          },
                          "company_name": {
                            "type": "string",
                            "description": "The company name.",
                            "title": "Company Name"
                          },
                          "contact_phone": {
                            "type": "string",
                            "description": "The contact phone number.",
                            "title": "Contact Phone"
                          },
                          "contact_email": {
                            "type": "string",
                            "description": "The contact email address.",
                            "title": "Contact Email"
                          }
                        },
                        "title": "Return Address"
                      },
                      "destination_address": {
                        "type": "object",
                        "properties": {
                          "line_1": {
                            "type": "string",
                            "description": "The address.",
                            "title": "Address"
                          },
                          "line_2": {
                            "type": "string",
                            "description": "The address line 2.",
                            "title": "Address Line 2"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postal code.",
                            "title": "Postal Code"
                          },
                          "country_alpha2": {
                            "type": "string",
                            "description": "The country code.",
                            "title": "Country Code"
                          },
                          "contact_name": {
                            "type": "string",
                            "description": "The contact name.",
                            "title": "Contact Name"
                          },
                          "company_name": {
                            "type": "string",
                            "description": "The company name.",
                            "title": "Company Name"
                          },
                          "contact_phone": {
                            "type": "string",
                            "description": "The contact phone number.",
                            "title": "Contact Phone"
                          },
                          "contact_email": {
                            "type": "string",
                            "description": "The contact email address.",
                            "title": "Contact Email"
                          }
                        },
                        "title": "Destination Address"
                      },
                      "order_data": {
                        "type": "object",
                        "properties": {
                          "platform_name": {
                            "type": "string",
                            "description": "The platform name.",
                            "title": "Platform Name"
                          },
                          "platform_order_number": {
                            "type": "string",
                            "description": "The platform order number.",
                            "title": "Platform Order Number"
                          },
                          "order_tag_list": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The order tag list",
                            "title": "Order Tag List"
                          },
                          "seller_notes": {
                            "type": "string",
                            "description": "The seller notes.",
                            "title": "Seller Notes"
                          },
                          "buyer_notes": {
                            "type": "string",
                            "description": "The buyer notes.",
                            "title": "Buyer Notes"
                          }
                        },
                        "title": "Order Data"
                      },
                      "set_as_residential": {
                        "type": "boolean",
                        "description": "Whether set as residential.",
                        "title": "Set As Residential"
                      },
                      "consignee_tax_id": {
                        "type": "string",
                        "description": "The consignee tax identifier.",
                        "title": "Consignee Tax ID"
                      },
                      "eei_reference": {
                        "type": "string",
                        "description": "The EEI reference.",
                        "title": "EEI Reference"
                      },
                      "incoterms": {
                        "type": "string",
                        "description": "The incoterms.",
                        "title": "Incoterms"
                      },
                      "insurance": {
                        "type": "object",
                        "properties": {
                          "is_insured": {
                            "type": "boolean",
                            "description": "Whether is insured.",
                            "title": "Is Insured"
                          },
                          "insured_amount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The insured amount.",
                            "title": "Insured Amount"
                          },
                          "insured_currency": {
                            "type": "string",
                            "description": "The insured currency.",
                            "title": "Insured Currency"
                          }
                        },
                        "title": "Insurance"
                      },
                      "parcels": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "total_actual_weight": {
                              "type": "number",
                              "format": "float",
                              "description": "The total actual weight.",
                              "title": "Total Actual Weight"
                            },
                            "total_customs_value": {
                              "type": "number",
                              "format": "float",
                              "description": "The total customs value.",
                              "title": "Total Customs Value"
                            },
                            "total_dimensional_weight": {
                              "type": "number",
                              "format": "float",
                              "description": "The total dimensional weight.",
                              "title": "Total Dimensional Weight"
                            },
                            "total_volumetric_weight": {
                              "type": "number",
                              "format": "float",
                              "description": "The total volumetric weight.",
                              "title": "Total Volumetric Weight"
                            },
                            "box": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The unique identifier.",
                                  "title": "ID"
                                },
                                "courier_umbrella_name": {
                                  "type": "string",
                                  "description": "The courier umbrella name.",
                                  "title": "Courier Umbrella Name"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "slug": {
                                  "type": "string",
                                  "description": "The slug.",
                                  "title": "Slug"
                                },
                                "outer_length": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The outer length.",
                                  "title": "Outer Length"
                                },
                                "outer_width": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The outer width.",
                                  "title": "Outer Width"
                                },
                                "outer_height": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The outer height.",
                                  "title": "Outer Height"
                                },
                                "weight": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The weight.",
                                  "title": "Weight"
                                }
                              },
                              "title": "Box"
                            },
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "description": {
                                    "type": "string",
                                    "description": "The description.",
                                    "title": "Description"
                                  },
                                  "category": {
                                    "type": "string",
                                    "description": "The category.",
                                    "title": "Category"
                                  },
                                  "sku": {
                                    "type": "string",
                                    "description": "The SKU.",
                                    "title": "SKU"
                                  },
                                  "quantity": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The quantity.",
                                    "title": "Quantity"
                                  },
                                  "actual_weight": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The actual weight.",
                                    "title": "Actual Weight"
                                  },
                                  "dimensional_weight": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The dimensional weight.",
                                    "title": "Dimensional Weight"
                                  },
                                  "volumetric_weight": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The volumetric weight.",
                                    "title": "Volumetric Weight"
                                  },
                                  "origin_currency": {
                                    "type": "string",
                                    "description": "The origin currency.",
                                    "title": "Origin Currency"
                                  },
                                  "origin_customs_value": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The origin customs value.",
                                    "title": "Origin Customs Value"
                                  },
                                  "declared_currency": {
                                    "type": "string",
                                    "description": "The declared currency.",
                                    "title": "Declared Currency"
                                  },
                                  "declared_customs_value": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The declared customs value.",
                                    "title": "Declared Customs Value"
                                  },
                                  "dimensions": {
                                    "type": "object",
                                    "properties": {
                                      "length": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The length.",
                                        "title": "Length"
                                      },
                                      "width": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The width.",
                                        "title": "Width"
                                      },
                                      "height": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The height.",
                                        "title": "Height"
                                      }
                                    },
                                    "title": "Dimensions"
                                  }
                                }
                              },
                              "title": "Items"
                            }
                          }
                        },
                        "title": "Parcels"
                      },
                      "total_customs_value": {
                        "type": "number",
                        "format": "float",
                        "description": "The total customs value.",
                        "title": "Total Customs Value"
                      },
                      "total_actual_weight": {
                        "type": "number",
                        "format": "float",
                        "description": "The total actual weight.",
                        "title": "Total Actual Weight"
                      },
                      "total_dimensional_weight": {
                        "type": "number",
                        "format": "float",
                        "description": "The total dimensional weight.",
                        "title": "Total Dimensional Weight"
                      },
                      "total_volumetric_weight": {
                        "type": "number",
                        "format": "float",
                        "description": "The total volumetric weight.",
                        "title": "Total Volumetric Weight"
                      },
                      "shipment_state": {
                        "type": "string",
                        "description": "The shipment state.",
                        "title": "Shipment State"
                      },
                      "pickup_state": {
                        "type": "string",
                        "description": "The pickup state.",
                        "title": "Pickup State"
                      },
                      "delivery_state": {
                        "type": "string",
                        "description": "The delivery state.",
                        "title": "Delivery State"
                      },
                      "label_state": {
                        "type": "string",
                        "description": "The label state.",
                        "title": "Label State"
                      },
                      "warehouse_state": {
                        "type": "string",
                        "description": "The warehouse state.",
                        "title": "Warehouse State"
                      },
                      "trackings": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "tracking_number": {
                              "type": "string",
                              "description": "The tracking number.",
                              "title": "Tracking Number"
                            },
                            "local_tracking_number": {
                              "type": "string",
                              "description": "The local tracking number.",
                              "title": "Local Tracking Number"
                            },
                            "alternate_tracking_number": {
                              "type": "string",
                              "description": "The alternate tracking number.",
                              "title": "Alternate Tracking Number"
                            },
                            "leg_number": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The leg number.",
                              "title": "Leg Number"
                            },
                            "handler": {
                              "type": "string",
                              "description": "The handler.",
                              "title": "Handler"
                            },
                            "tracking_state": {
                              "type": "string",
                              "description": "The tracking state.",
                              "title": "Tracking State"
                            }
                          }
                        },
                        "title": "Trackings"
                      },
                      "tracking_page_url": {
                        "type": "string",
                        "description": "The tracking page URL address.",
                        "title": "Tracking Page URL"
                      },
                      "shipping_documents": {
                        "type": "array",
                        "items": {},
                        "description": "The shipping documents.",
                        "title": "Shipping Documents"
                      },
                      "currency": {
                        "type": "string",
                        "description": "The currency.",
                        "title": "Currency"
                      },
                      "selected_courier": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          }
                        },
                        "title": "Selected Courier"
                      },
                      "rates": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "courier_id": {
                              "type": "string",
                              "description": "The courier unique identifier.",
                              "title": "Courier ID"
                            },
                            "courier_name": {
                              "type": "string",
                              "description": "The courier name.",
                              "title": "Courier Name"
                            },
                            "min_delivery_time": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The minimum delivery time.",
                              "title": "Min Delivery Time"
                            },
                            "max_delivery_time": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum delivery time.",
                              "title": "Max Delivery Time"
                            },
                            "value_for_money_rank": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The value for money rank.",
                              "title": "Value For Money Rank"
                            },
                            "delivery_time_rank": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The delivery time rank.",
                              "title": "Delivery Time Rank"
                            },
                            "shipment_charge": {
                              "type": "number",
                              "format": "float",
                              "description": "The shipment charge.",
                              "title": "Shipment Charge"
                            },
                            "fuel_surcharge": {
                              "type": "number",
                              "format": "float",
                              "description": "The fuel surcharge.",
                              "title": "Fuel Surcharge"
                            },
                            "remote_area_surcharge": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The remote area surcharge.",
                              "title": "Remote Area Surcharge"
                            },
                            "oversized_surcharge": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The oversized surcharge.",
                              "title": "Oversized Surcharge"
                            },
                            "additional_services_surcharge": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The additional services surcharge.",
                              "title": "Additional Services Surcharge"
                            },
                            "residential_full_fee": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The residential full fee.",
                              "title": "Residential Full Fee"
                            },
                            "residential_discounted_fee": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The residential discounted fee.",
                              "title": "Residential Discounted Fee"
                            },
                            "shipment_charge_total": {
                              "type": "number",
                              "format": "float",
                              "description": "The shipment charge total.",
                              "title": "Shipment Charge Total"
                            },
                            "warehouse_handling_fee": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The warehouse handling fee.",
                              "title": "Warehouse Handling Fee"
                            },
                            "insurance_fee": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The insurance fee.",
                              "title": "Insurance Fee"
                            },
                            "sales_tax": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The sales tax.",
                              "title": "Sales Tax"
                            },
                            "provincial_sales_tax": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The provincial sales tax.",
                              "title": "Provincial Sales Tax"
                            },
                            "ddp_handling_fee": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The DDP handling fee.",
                              "title": "DDP Handling Fee"
                            },
                            "import_tax_charge": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The import tax charge.",
                              "title": "Import Tax Charge"
                            },
                            "import_duty_charge": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The import duty charge.",
                              "title": "Import Duty Charge"
                            },
                            "total_charge": {
                              "type": "number",
                              "format": "float",
                              "description": "The total charge.",
                              "title": "Total Charge"
                            },
                            "is_above_threshold": {
                              "type": "boolean",
                              "description": "Whether is above threshold.",
                              "title": "Is Above Threshold"
                            },
                            "incoterms": {
                              "type": "string",
                              "description": "The incoterms.",
                              "title": "Incoterms"
                            },
                            "estimated_import_tax": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The estimated import tax.",
                              "title": "Estimated Import Tax"
                            },
                            "estimated_import_duty": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The estimated import duty.",
                              "title": "Estimated Import Duty"
                            },
                            "available_handover_options": {
                              "type": "string",
                              "description": "The available handover options.",
                              "title": "Available Handover Options"
                            },
                            "tracking_rating": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The tracking rating.",
                              "title": "Tracking Rating"
                            },
                            "easyship_rating": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The Easyship rating.",
                              "title": "Easyship Rating"
                            },
                            "courier_remarks": {
                              "type": "string",
                              "description": "The courier remarks.",
                              "title": "Courier Remarks"
                            },
                            "payment_recipient": {
                              "type": "string",
                              "description": "The payment recipient.",
                              "title": "Payment Recipient"
                            },
                            "discount": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "The code.",
                                  "title": "Code"
                                },
                                "amount": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The amount.",
                                  "title": "Amount"
                                },
                                "expires_at": {
                                  "type": "string",
                                  "description": "The expires at.",
                                  "title": "Expires At"
                                },
                                "percentage": {
                                  "type": "string",
                                  "description": "The percentage.",
                                  "title": "Percentage"
                                }
                              },
                              "title": "Discount"
                            },
                            "effective_incoterms": {
                              "type": "string",
                              "description": "The effective incoterms.",
                              "title": "Effective Incoterms"
                            }
                          }
                        },
                        "title": "Rates"
                      }
                    }
                  },
                  "title": "shipments"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a shipment",
        "description": "Creates and retrieves the information about a shipment.",
        "operationId": "CreateAShipment",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "origin_address": {
                  "type": "object",
                  "properties": {
                    "line_1": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "line_2": {
                      "type": "string",
                      "description": "The address line 2.",
                      "title": "Address Line 2"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "The postal code.",
                      "title": "Postal Code"
                    },
                    "country_alpha2": {
                      "type": "string",
                      "description": "The country code.",
                      "title": "Country Code"
                    },
                    "contact_name": {
                      "type": "string",
                      "description": "The contact name.",
                      "title": "Contact Name"
                    },
                    "company_name": {
                      "type": "string",
                      "description": "The company name.",
                      "title": "Company Name"
                    },
                    "contact_phone": {
                      "type": "string",
                      "description": "The contact phone number.",
                      "title": "Contact Phone"
                    },
                    "contact_email": {
                      "type": "string",
                      "description": "The contact email address.",
                      "title": "Contact Email"
                    }
                  },
                  "title": "Origin Address"
                },
                "sender_address": {
                  "type": "object",
                  "properties": {
                    "line_1": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "line_2": {
                      "type": "string",
                      "description": "The address line 2.",
                      "title": "Address Line 2"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "The postal code.",
                      "title": "Postal Code"
                    },
                    "country_alpha2": {
                      "type": "string",
                      "description": "The country code.",
                      "title": "Country Code"
                    },
                    "contact_name": {
                      "type": "string",
                      "description": "The contact name.",
                      "title": "Contact Name"
                    },
                    "company_name": {
                      "type": "string",
                      "description": "The company name.",
                      "title": "Company Name"
                    },
                    "contact_phone": {
                      "type": "string",
                      "description": "The contact phone number.",
                      "title": "Contact Phone"
                    },
                    "contact_email": {
                      "type": "string",
                      "description": "The contact email address.",
                      "title": "Contact Email"
                    }
                  },
                  "title": "Sender Address"
                },
                "return_address": {
                  "type": "object",
                  "properties": {
                    "line_1": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "line_2": {
                      "type": "string",
                      "description": "The address line 2.",
                      "title": "Address Line 2"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "The postal code.",
                      "title": "Postal Code"
                    },
                    "country_alpha2": {
                      "type": "string",
                      "description": "The country code.",
                      "title": "Country Code"
                    },
                    "contact_name": {
                      "type": "string",
                      "description": "The contact name.",
                      "title": "Contact Name"
                    },
                    "company_name": {
                      "type": "string",
                      "description": "The company name.",
                      "title": "Company Name"
                    },
                    "contact_phone": {
                      "type": "string",
                      "description": "The contact phone number.",
                      "title": "Contact Phone"
                    },
                    "contact_email": {
                      "type": "string",
                      "description": "The contact email address.",
                      "title": "Contact Email"
                    }
                  },
                  "title": "Return Address"
                },
                "destination_address": {
                  "type": "object",
                  "properties": {
                    "line_1": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "line_2": {
                      "type": "string",
                      "description": "The address line 2.",
                      "title": "Address Line 2"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "The postal code.",
                      "title": "Postal Code"
                    },
                    "country_alpha2": {
                      "type": "string",
                      "description": "The country code.",
                      "title": "Country Code"
                    },
                    "contact_name": {
                      "type": "string",
                      "description": "The contact name.",
                      "title": "Contact Name"
                    },
                    "company_name": {
                      "type": "string",
                      "description": "The company name.",
                      "title": "Company Name"
                    },
                    "contact_phone": {
                      "type": "string",
                      "description": "The contact phone number.",
                      "title": "Contact Phone"
                    },
                    "contact_email": {
                      "type": "string",
                      "description": "The contact email address.",
                      "title": "Contact Email"
                    }
                  },
                  "title": "Destination Address"
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The metadata.",
                  "title": "Metadata"
                },
                "set_as_residential": {
                  "type": "boolean",
                  "description": "Whether set as residential.",
                  "title": "Set As Residential"
                },
                "consignee_tax_id": {
                  "type": "string",
                  "description": "The consignee tax identifier.",
                  "title": "Consignee Tax ID"
                },
                "eei_reference": {
                  "type": "string",
                  "description": "The EEI reference.",
                  "title": "EEI Reference"
                },
                "incoterms": {
                  "type": "string",
                  "description": "The incoterms.",
                  "title": "Incoterms"
                },
                "insurance": {
                  "type": "object",
                  "properties": {
                    "is_insured": {
                      "type": "boolean",
                      "description": "Whether is insured.",
                      "title": "Is Insured"
                    },
                    "insured_amount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The insured amount.",
                      "title": "Insured Amount"
                    },
                    "insured_currency": {
                      "type": "string",
                      "description": "The insured currency.",
                      "title": "Insured Currency"
                    }
                  },
                  "title": "Insurance"
                },
                "order_data": {
                  "type": "object",
                  "properties": {
                    "platform_name": {
                      "type": "string",
                      "description": "The platform name.",
                      "title": "Platform Name"
                    },
                    "platform_order_number": {
                      "type": "string",
                      "description": "The platform order number.",
                      "title": "Platform Order Number"
                    },
                    "order_tag_list": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The order tag list.",
                      "title": "Order Tag List"
                    },
                    "seller_notes": {
                      "type": "string",
                      "description": "The seller notes.",
                      "title": "Seller Notes"
                    },
                    "buyer_notes": {
                      "type": "string",
                      "description": "The buyer notes.",
                      "title": "Buyer Notes"
                    }
                  },
                  "title": "Order Data"
                },
                "courier_selection": {
                  "type": "object",
                  "properties": {
                    "selected_courier_id": {
                      "type": "string",
                      "description": "The selected courier identifier.",
                      "title": "Selected Courier ID"
                    },
                    "allow_courier_fallback": {
                      "type": "boolean",
                      "description": "Whether to allow courier fallback.",
                      "title": "Allow Courier Fallback"
                    },
                    "apply_shipping_rules": {
                      "type": "boolean",
                      "description": "Whether shipping rules were applied.",
                      "title": "Apply Shipping Rules"
                    }
                  },
                  "title": "Courier Selection"
                },
                "shipping_settings": {
                  "type": "object",
                  "properties": {
                    "units": {
                      "type": "object",
                      "properties": {
                        "weight": {
                          "type": "string",
                          "description": "The weight.",
                          "title": "Weight"
                        },
                        "dimensions": {
                          "type": "string",
                          "description": "The dimensions.",
                          "title": "Dimensions"
                        }
                      },
                      "title": "Units"
                    },
                    "printing_options": {
                      "type": "object",
                      "properties": {
                        "format": {
                          "type": "string",
                          "description": "The format.",
                          "title": "Format"
                        },
                        "label": {
                          "type": "string",
                          "description": "The label.",
                          "title": "Label"
                        },
                        "commercial_invoice": {
                          "type": "string",
                          "description": "The commercial invoice.",
                          "title": "Commercial Invoice"
                        },
                        "packing_slip": {
                          "type": "string",
                          "description": "The packing slip.",
                          "title": "Packing Slip"
                        }
                      },
                      "title": "Printing Options"
                    },
                    "buy_label": {
                      "type": "boolean",
                      "description": "Whether label is bought.",
                      "title": "Buy Label"
                    },
                    "buy_label_synchronous": {
                      "type": "boolean",
                      "description": "Whether label is bought synchronously.",
                      "title": "Buy Label Synchronous"
                    }
                  },
                  "title": "Shipping Settings"
                },
                "parcels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "total_actual_weight": {
                        "type": "number",
                        "format": "float",
                        "description": "The total actual weight.",
                        "title": "Total Actual Weight"
                      },
                      "box": {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "title": "Slug"
                          },
                          "length": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The length.",
                            "title": "Length"
                          },
                          "width": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The width.",
                            "title": "Width"
                          },
                          "height": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The height.",
                            "title": "Height"
                          }
                        },
                        "title": "Box"
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "description": "The description.",
                              "title": "Description"
                            },
                            "category": {
                              "type": "string",
                              "description": "The category.",
                              "title": "Category"
                            },
                            "sku": {
                              "type": "string",
                              "description": "The SKU.",
                              "title": "SKU"
                            },
                            "quantity": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The quantity.",
                              "title": "Quantity"
                            },
                            "dimensions": {
                              "type": "object",
                              "properties": {
                                "length": {
                                  "type": "string",
                                  "description": "The length.",
                                  "title": "Length"
                                },
                                "width": {
                                  "type": "string",
                                  "description": "The width.",
                                  "title": "Width"
                                },
                                "height": {
                                  "type": "string",
                                  "description": "The height.",
                                  "title": "Height"
                                }
                              },
                              "title": "Dimensions"
                            },
                            "actual_weight": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The actual weight.",
                              "title": "Actual Weight"
                            },
                            "declared_currency": {
                              "type": "string",
                              "description": "The declared currency.",
                              "title": "Declared Currency"
                            },
                            "declared_customs_value": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The declared customs value.",
                              "title": "Declared Customs Value"
                            }
                          }
                        },
                        "title": "Items"
                      }
                    }
                  },
                  "title": "Parcels"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "errors": {
                  "type": "array",
                  "items": {},
                  "description": "The errors.",
                  "title": "Errors"
                },
                "shipment": {
                  "type": "object",
                  "properties": {
                    "easyship_shipment_id": {
                      "type": "string",
                      "description": "The Easyship shipment identifier.",
                      "title": "Easyship Shipment ID"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The created at.",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    },
                    "label_paid_at": {
                      "type": "string",
                      "description": "The label paid at.",
                      "title": "Label Paid At"
                    },
                    "label_generated_at": {
                      "type": "string",
                      "description": "The label generated at.",
                      "title": "Label Generated At"
                    },
                    "order_created_at": {
                      "type": "string",
                      "description": "The order created at.",
                      "title": "Order Created At"
                    },
                    "origin_address": {
                      "type": "object",
                      "properties": {
                        "line_1": {
                          "type": "string",
                          "description": "The address.",
                          "title": "Address"
                        },
                        "line_2": {
                          "type": "string",
                          "description": "The address line 2.",
                          "title": "Address Line 2"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code.",
                          "title": "Postal Code"
                        },
                        "country_alpha2": {
                          "type": "string",
                          "description": "The country code.",
                          "title": "Country Code"
                        },
                        "contact_name": {
                          "type": "string",
                          "description": "The contact name.",
                          "title": "Contact Name"
                        },
                        "company_name": {
                          "type": "string",
                          "description": "The company name.",
                          "title": "Company Name"
                        },
                        "contact_phone": {
                          "type": "string",
                          "description": "The contact phone number.",
                          "title": "Contact Phone"
                        },
                        "contact_email": {
                          "type": "string",
                          "description": "The contact email address.",
                          "title": "Contact Email"
                        }
                      },
                      "title": "Origin Address"
                    },
                    "sender_address": {
                      "type": "object",
                      "properties": {
                        "line_1": {
                          "type": "string",
                          "description": "The address.",
                          "title": "Address"
                        },
                        "line_2": {
                          "type": "string",
                          "description": "The address line 2.",
                          "title": "Address Line 2"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code.",
                          "title": "Postal Code"
                        },
                        "country_alpha2": {
                          "type": "string",
                          "description": "The country code.",
                          "title": "Country Code"
                        },
                        "contact_name": {
                          "type": "string",
                          "description": "The contact name.",
                          "title": "Contact Name"
                        },
                        "company_name": {
                          "type": "string",
                          "description": "The company name.",
                          "title": "Company Name"
                        },
                        "contact_phone": {
                          "type": "string",
                          "description": "The contact phone number.",
                          "title": "Contact Phone"
                        },
                        "contact_email": {
                          "type": "string",
                          "description": "The contact email address.",
                          "title": "Contact Email"
                        }
                      },
                      "title": "Sender Address"
                    },
                    "return_address": {
                      "type": "object",
                      "properties": {
                        "line_1": {
                          "type": "string",
                          "description": "The address.",
                          "title": "Address"
                        },
                        "line_2": {
                          "type": "string",
                          "description": "The address line 2.",
                          "title": "Address Line 2"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code.",
                          "title": "Postal Code"
                        },
                        "country_alpha2": {
                          "type": "string",
                          "description": "The country code.",
                          "title": "Country Code"
                        },
                        "contact_name": {
                          "type": "string",
                          "description": "The contact name.",
                          "title": "Contact Name"
                        },
                        "company_name": {
                          "type": "string",
                          "description": "The company name.",
                          "title": "Company Name"
                        },
                        "contact_phone": {
                          "type": "string",
                          "description": "The contact phone number.",
                          "title": "Contact Phone"
                        },
                        "contact_email": {
                          "type": "string",
                          "description": "The contact email address.",
                          "title": "Contact Email"
                        }
                      },
                      "title": "Return Address"
                    },
                    "destination_address": {
                      "type": "object",
                      "properties": {
                        "line_1": {
                          "type": "string",
                          "description": "The address.",
                          "title": "Address"
                        },
                        "line_2": {
                          "type": "string",
                          "description": "The address line 2.",
                          "title": "Address Line 2"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "city": {
                          "type": "string",
                          "description": "The city.",
                          "title": "City"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code.",
                          "title": "Postal Code"
                        },
                        "country_alpha2": {
                          "type": "string",
                          "description": "The country code.",
                          "title": "Country Code"
                        },
                        "contact_name": {
                          "type": "string",
                          "description": "The contact name.",
                          "title": "Contact Name"
                        },
                        "company_name": {
                          "type": "string",
                          "description": "The company name.",
                          "title": "Company Name"
                        },
                        "contact_phone": {
                          "type": "string",
                          "description": "The contact phone number.",
                          "title": "Contact Phone"
                        },
                        "contact_email": {
                          "type": "string",
                          "description": "The contact email address.",
                          "title": "Contact Email"
                        }
                      },
                      "title": "Destination Address"
                    },
                    "order_data": {
                      "type": "object",
[...]
