{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "The Weather Channel",
    "description": "The Weather Channel allows anyone to search weather events by geocode and time.  This connector allows a Power Platform user to pull this data into their app, flow, or report.",
    "contact": {
      "name": "Roy Paar",
      "email": "roypaar@microsoft.com"
    }
  },
  "host": "api.weather.com",
  "basePath": "/v3",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/wx/observations/current": {
      "get": {
        "summary": "Request current weather conditions",
        "operationId": "GetConditions",
        "description": "Request current weather conditions",
        "parameters": [
          {
            "$ref": "#/parameters/geocode"
          },
          {
            "$ref": "#/parameters/units"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OKRequest"
          }
        }
      }
    },
    "/alerts/headlines": {
      "get": {
        "summary": "Request weather alert headlines",
        "operationId": "GetHeadlines",
        "description": "Request weather alert headlines",
        "parameters": [
          {
            "$ref": "#/parameters/geocode"
          },
          {
            "$ref": "#/parameters/acceptHeader"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OKRequest"
          }
        }
      }
    },
    "/wx/conditions/historical/dailysummary/30day": {
      "get": {
        "summary": "Request historical weather observations",
        "operationId": "GetHistory",
        "description": "Request historical weather observations",
        "parameters": [
          {
            "$ref": "#/parameters/geocode"
          },
          {
            "$ref": "#/parameters/units"
          },
          {
            "$ref": "#/parameters/language"
          },
          {
            "$ref": "#/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OKRequest"
          }
        }
      }
    }
  },
  "definitions": {
    "successSchema": {
      "type": "object",
      "required": [
        "cloudCeiling",
        "cloudCoverPhrase",
        "dayOfWeek",
        "dayOrNight",
        "expirationTimeUtc",
        "iconCode",
        "iconCodeExtend",
        "obsQualifierCode",
        "obsQualifierSeverity",
        "precip1Hour",
        "precip6Hour",
        "precip24Hour",
        "pressureAltimeter",
        "pressureChange",
        "pressureMeanSeaLevel",
        "pressureTendencyCode",
        "pressureTendencyTrend",
        "relativeHumidity",
        "snow1Hour",
        "snow6Hour",
        "snow24Hour",
        "sunriseTimeLocal",
        "sunriseTimeUtc",
        "sunsetTimeLocal",
        "sunsetTimeUtc",
        "temperature",
        "temperatureChange24Hour",
        "temperatureDewPoint",
        "temperatureFeelsLike",
        "temperatureHeatIndex",
        "temperatureMax24Hour",
        "temperatureMaxSince7Am",
        "temperatureMin24Hour",
        "temperatureWindChill",
        "uvDescription",
        "uvIndex",
        "validTimeLocal",
        "validTimeUtc",
        "visibility",
        "windDirection",
        "windDirectionCardinal",
        "windGust",
        "windSpeed",
        "wxPhraseLong",
        "wxPhraseMedium",
        "wxPhraseShort"
      ],
      "properties": {
        "cloudCeiling": {
          "description": "Cloud Ceiling",
          "type": "string",
          "example": null
        },
        "cloudCoverPhrase": {
          "description": "Cloud Cover Phrase",
          "type": "string",
          "example": "Partly Cloudy"
        },
        "dayOfWeek": {
          "description": "Day of Week",
          "type": "string",
          "example": "Tuesday"
        },
        "dayOrNight": {
          "description": "Day or Night",
          "type": "string",
          "example": "D"
        },
        "expirationTimeUtc": {
          "description": "Expiration Timeout",
          "type": "number",
          "example": 1543944567
        },
        "iconCode": {
          "description": "Icon Code",
          "type": "number",
          "example": 34
        },
        "iconCodeExtend": {
          "description": "Icon Code Extend",
          "type": "number",
          "example": 3400
        },
        "obsQualifierCode": {
          "description": "OBS Qualifier Code",
          "type": "string",
          "example": null
        },
        "obsQualifierSeverity": {
          "description": "OBS Qualifier Severity",
          "type": "number",
          "example": null
        },
        "precip1Hour": {
          "description": "Precipitation 1 Hour",
          "type": "number",
          "example": 0
        },
        "precip6Hour": {
          "description": "Precipitation 6 Hour",
          "type": "number",
          "example": 0
        },
        "precip24Hour": {
          "description": "Precipitation 24 Hour",
          "type": "number",
          "example": 0
        },
        "pressureAltimeter": {
          "description": "Pressure Altimeter",
          "type": "number",
          "example": 30.15
        },
        "pressureChange": {
          "description": "Pressure Change",
          "type": "number",
          "example": -0.02
        },
        "pressureMeanSeaLevel": {
          "description": "Pressure Mean Sea Level",
          "type": "number",
          "example": 1019.7
        },
        "pressureTendencyCode": {
          "description": "Pressure Tendency Code",
          "type": "number",
          "example": 2
        },
        "pressureTendencyTrend": {
          "description": "Pressure Tendency Trend",
          "type": "string",
          "example": "Falling"
        },
        "relativeHumidity": {
          "description": "Relative Humidity",
          "type": "number",
          "example": 54
        },
        "snow1Hour": {
          "description": "Snow 1 Hour",
          "type": "number",
          "example": 0
        },
        "snow6Hour": {
          "description": "Snow 6 Hour",
          "type": "number",
          "example": 0
        },
        "snow24Hour": {
          "description": "Snow 24 Hour",
          "type": "number",
          "example": 0
        },
        "sunriseTimeLocal": {
          "description": "Sunrise Time Local",
          "type": "string",
          "example": "2018-12-04T07:26:26-0500"
        },
        "sunriseTimeUtc": {
          "description": "Sunrise Time UTC",
          "type": "number",
          "example": 1543926386
        },
        "sunsetTimeLocal": {
          "description": "Sunset Time Local",
          "type": "string",
          "example": "2018-12-04T17:28:54-0500"
        },
        "sunsetTimeUtc": {
          "description": "Sunset Time UTC",
          "type": "number",
          "example": 1543962534
        },
        "temperature": {
          "description": "Temperature",
          "type": "number",
          "example": 46
        },
        "temperatureChange24Hour": {
          "description": "Temperature Change 24  Hour",
          "type": "number",
          "example": -15
        },
        "temperatureDewPoint": {
          "description": "Temperature Dew Point",
          "type": "number",
          "example": 31
        },
        "temperatureFeelsLike": {
          "description": "Temperature Feels Like",
          "type": "number",
          "example": 41
        },
        "temperatureHeatIndex": {
          "description": "Temperature Heat Index",
          "type": "number",
          "example": 46
        },
        "temperatureMax24Hour": {
          "description": "Temperature Max 24 Hour",
          "type": "number",
          "example": 65
        },
        "temperatureMaxSince7Am": {
          "description": "Temperature Max Since 7 AM",
          "type": "number",
          "example": 46
        },
        "temperatureMin24Hour": {
          "description": "Temperature Min 24 Hour",
          "type": "number",
          "example": 39
        },
        "temperatureWindChill": {
          "description": "Temperature Wind Chill",
          "type": "number",
          "example": 41
        },
        "uvDescription": {
          "description": "UV Description",
          "type": "string",
          "example": "Moderate"
        },
        "uvIndex": {
          "description": "UV Index",
          "type": "number",
          "example": 3
        },
        "validTimeLocal": {
          "description": "Valid Time Local",
          "type": "string",
          "example": "2018-12-04T12:19:27-0500"
        },
        "validTimeUtc": {
          "description": "Valid Time UTC",
          "type": "number",
          "example": 1543943967
        },
        "visibility": {
          "description": "Visibility",
          "type": "number",
          "example": 10
        },
        "windDirection": {
          "description": "Wind Direction",
          "type": "number",
          "example": 310
        },
        "windDirectionCardinal": {
          "description": "Wind Direction Cardinal",
          "type": "string",
          "example": "NW"
        },
        "windGust": {
          "description": "Wind Gust",
          "type": "string",
          "example": null
        },
        "windSpeed": {
          "description": "Wind Speed",
          "type": "number",
          "example": 11
        },
        "wxPhraseLong": {
          "description": "WX Phrase Long",
          "type": "string",
          "example": "Fair"
        },
        "wxPhraseMedium": {
          "description": "WX Phrase Medium",
          "type": "string",
          "example": "Fair"
        },
        "wxPhraseShort": {
          "description": "WX Phrase Short",
          "type": "string",
          "example": "Fair"
        }
      }
    }
  },
  "parameters": {
    "geocode": {
      "name": "geocode",
      "in": "query",
      "description": "A comma-delimited latitude and longitude to retrieve data for. For example, 34.53,-84.50.",
      "required": true,
      "type": "string",
      "default": "33.74,-84.39",
      "x-ms-summary": "A comma-delimited latitude and longitude."
    },
    "latitude": {
      "name": "latitude",
      "in": "path",
      "description": "Latitude",
      "required": true,
      "type": "number",
      "default": 33.74,
      "x-ms-summary": "Latitude",
      "x-ms-url-encoding": "single"
    },
    "longitude": {
      "name": "longitude",
      "in": "path",
      "description": "Longitude",
      "required": true,
      "type": "number",
      "default": -84.39,
      "x-ms-summary": "Longitude",
      "x-ms-url-encoding": "single"
    },
    "locationType": {
      "name": "locationType",
      "in": "path",
      "description": "Location Type",
      "required": true,
      "type": "string",
      "enum": [
        "county",
        "country",
        "state"
      ],
      "x-ms-summary": "Location Type",
      "x-ms-url-encoding": "single"
    },
    "duration": {
      "name": "duration",
      "in": "path",
      "description": "Period for reports in the past",
      "required": true,
      "type": "string",
      "enum": [
        "60day",
        "1year"
      ],
      "x-ms-summary": "Period for reports in the past",
      "x-ms-url-encoding": "single"
    },
    "acceptHeader": {
      "name": "acceptHeader",
      "in": "header",
      "description": "Required to be set to gzip to ensure that the response is compressed",
      "required": true,
      "type": "string",
      "default": "gzip",
      "x-ms-summary": "Required to be set to gzip"
    },
    "units": {
      "name": "units",
      "in": "query",
      "description": "The units of measure to return the data in. For example, e=Imperial(English), m=Metric, h=Hybrid. Some APIs require the units of measure.",
      "required": true,
      "type": "string",
      "enum": [
        "e",
        "m"
      ],
      "default": "e",
      "x-ms-summary": "The units of measure to return the data in."
    },
    "language": {
      "name": "language",
      "in": "query",
      "description": "The language to return the response in. For example, en-US, es-MX, fr-FR.",
      "required": true,
      "type": "string",
      "default": "en-US",
      "x-ms-summary": "The language to return the response in."
    },
    "format": {
      "name": "format",
      "in": "query",
      "description": "Response format",
      "required": true,
      "type": "string",
      "enum": [
        "json"
      ],
      "default": "json",
      "x-ms-summary": "Response format"
    }
  },
  "responses": {
    "OKRequest": {
      "description": "OK. The request has succeeded",
      "schema": {
        "$ref": "#/definitions/successSchema"
      }
    }
  },
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "apiKey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://weather.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://weather.com/privacy-settings"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}