{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@pdf4me.com",
      "name": "PDF4me Support",
      "url": "https://dev.pdf4me.com/help/"
    },
    "title": "PDF4me Connect",
    "description": "PDF4me gives you all functionalities around PDF, e.g. convert, merge, split, make PDF/A compatible, optimize, protect, unlock, do OCR, create watermarks, create images, rotate PDF, attach barcodes.",
    "version": "6.4"
  },
  "host": "api.pdf4me.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {},
    "/v2/FlowV2/ConvertOcrPdf": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Recognize text and create searchable PDF using OCR. https://dev.pdf4me.com/power-automate/documentation/actions/pdf-ocr/",
        "operationId": "PdfOcr_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "qualityType": {
                  "default": "Draft",
                  "description": "Choose QualityType",
                  "enum": [
                    "Draft",
                    "High"
                  ],
                  "title": "QualityType",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "ocrWhenNeeded": {
                  "default": "false",
                  "description": "Do OCR Only When Needed",
                  "enum": [
                    "false",
                    "true"
                  ],
                  "title": "OCR Only When Needed",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "language": {
                  "description": "Language of the source file",
                  "title": "Language",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "isAsync": {
                  "title": "Is Async",
                  "description": "Set process as Async if takes long time",
                  "type": "boolean",
                  "x-ms-visibility": "advanced",
                  "default": false
                }
              },
              "required": [
                "docContent",
                "document",
                "qualityType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Convert PDF to editable PDF using OCR",
        "x-ms-api-annotation": {
          "family": "PdfOcr",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/ConvertPdfToExcel": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Convert PDFs with tabular data into Excel spreadsheets. https://dev.pdf4me.com/power-automate/documentation/actions/pdf-to-excel/",
        "operationId": "PdfToExcel_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "qualityType": {
                  "default": "Draft",
                  "description": "Choose QualityType",
                  "enum": [
                    "Draft",
                    "High"
                  ],
                  "title": "QualityType",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "language": {
                  "description": "Language of the source file",
                  "title": "Language",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "mergeAllSheets": {
                  "description": "Merge All Sheets after conversion to excel",
                  "title": "Merge All Sheets",
                  "type": "boolean",
                  "x-ms-visibility": "important",
                  "default": false
                },
                "outputFormat": {
                  "title": "Output Format",
                  "description": "Choose Output Format",
                  "type": "string",
                  "default": "",
                  "enum": [
                    "",
                    "Excel",
                    "CSV"
                  ],
                  "x-ms-visibility": "important"
                },
                "isAsync": {
                  "title": "Is Async",
                  "description": "Set process as Async if takes long time",
                  "type": "boolean",
                  "x-ms-visibility": "advanced",
                  "default": false
                }
              },
              "required": [
                "docContent",
                "document",
                "qualityType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Convert PDF to Excel",
        "x-ms-api-annotation": {
          "family": "PdfToExcel",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/ConvertPdfToWord": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Convert PDF documents to high quality editable Word files. https://dev.pdf4me.com/power-automate/documentation/actions/pdf-to-word/",
        "operationId": "PdfToWord_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "qualityType": {
                  "default": "Draft",
                  "description": "Choose QualityType",
                  "enum": [
                    "Draft",
                    "High"
                  ],
                  "title": "QualityType",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "language": {
                  "description": "Language of the source file",
                  "title": "Language",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "isAsync": {
                  "title": "Is Async",
                  "description": "Set process as Async if takes long time",
                  "type": "boolean",
                  "x-ms-visibility": "advanced",
                  "default": false
                }
              },
              "required": [
                "docContent",
                "document",
                "qualityType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Convert PDF to Word",
        "x-ms-api-annotation": {
          "family": "PdfToWord",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/ConvertPdfToPowerPoint": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Convert PDF into Powerpoint Presentation slides. https://dev.pdf4me.com/power-automate/documentation/actions/pdf-to-powerpoint/",
        "operationId": "PdfToPowerPoint_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "qualityType": {
                  "default": "High",
                  "description": "Choose Quality Type",
                  "enum": [
                    "Draft",
                    "High"
                  ],
                  "title": "QualityType",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "language": {
                  "description": "Language of the source file",
                  "title": "Language",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "isAsync": {
                  "title": "Is Async",
                  "description": "Set process as Async if takes long time",
                  "type": "boolean",
                  "x-ms-visibility": "advanced",
                  "default": false
                }
              },
              "required": [
                "docContent",
                "document"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Convert PDF to PowerPoint",
        "x-ms-api-annotation": {
          "family": "PdfToPowerPoint",
          "revision": 1,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/ConvertToPdf": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Convert any type of office documents or images into PDFs. https://dev.pdf4me.com/power-automate/documentation/actions/convert-to-pdf/",
        "operationId": "ConvertToPdf_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "docContent",
                "document"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File Converted successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Convert to PDF",
        "x-ms-api-annotation": {
          "family": "ConvertToPdf",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/CreateImages": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create thumbnail for the PDF document. https://pdf4me.com/power-automate/documentation/actions/create-thumbnail/",
        "operationId": "CreateThumbnail_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "type": "object"
                },
                "imageAction": {
                  "description": "imageAction",
                  "properties": {
                    "ImageExtension": {
                      "default": "jpeg",
                      "description": "Choose the image extension from the list",
                      "enum": [
                        "jpg",
                        "jpeg",
                        "bmp",
                        "gif",
                        "jb2",
                        "jp2",
                        "jpf",
                        "jpx",
                        "png",
                        "tif",
                        "tiff"
                      ],
                      "title": "Image Extension",
                      "type": "string",
                      "x-ms-visibility": "important"
                    },
                    "PageSelection": {
                      "description": "PageSelection",
                      "properties": {
                        "PageNrs": {
                          "description": "PageNrs",
                          "items": {
                            "default": 1,
                            "description": "Default page number is 1",
                            "format": "int32",
                            "title": "Page Number",
                            "type": "integer",
                            "x-ms-visibility": "internal"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "PageNrs"
                      ],
                      "type": "object"
                    },
                    "WidthPixel": {
                      "description": "Size of the thumbnail image in (Width)Pixels",
                      "format": "int32",
                      "title": "Width Pixels",
                      "type": "integer",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "WidthPixel",
                    "ImageExtension",
                    "PageSelection"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "docContent",
                "document",
                "imageAction"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Create a Thumbnail Image",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "CreateThumbnail",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/CreateImagesV2": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Convert PDF pages into Images. https://dev.pdf4me.com/power-automate/documentation/actions/create-thumbnail/",
        "operationId": "CreateThumbnail_V3",
        "summary": "Create Images from PDF",
        "x-ms-api-annotation": {
          "family": "CreateThumbnailV2",
          "revision": 2,
          "status": "Production"
        },
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "type": "object"
                },
                "imageAction": {
                  "description": "imageAction",
                  "properties": {
                    "ImageExtension": {
                      "default": "jpeg",
                      "description": "Choose the Image format from the list",
                      "enum": [
                        "jpg",
                        "jpeg",
                        "bmp",
                        "gif",
                        "jb2",
                        "jp2",
                        "jpf",
                        "jpx",
                        "png",
                        "tif",
                        "tiff"
                      ],
                      "title": "Image Extension",
                      "type": "string",
                      "x-ms-visibility": "important"
                    },
                    "PageSelection": {
                      "description": "PageSelection",
                      "properties": {
                        "PageNrs": {
                          "description": "PageNrs",
                          "items": {
                            "default": 1,
                            "description": "Default page number is 1",
                            "format": "int32",
                            "title": "Page Number",
                            "type": "integer",
                            "x-ms-visibility": "internal"
                          },
                          "type": "array",
                          "x-ms-visibility": "internal"
                        }
                      },
                      "required": [
                        "PageNrs"
                      ],
                      "type": "object"
                    },
                    "WidthPixel": {
                      "description": "Size(Width) of the image to be generated in Pixels",
                      "format": "int32",
                      "title": "Width Pixels",
                      "type": "integer",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "WidthPixel",
                    "ImageExtension",
                    "PageSelection"
                  ],
                  "type": "object"
                },
                "pageNrs": {
                  "description": "Page Numbers of the PDF to be converted to Image",
                  "title": "Page Numbers",
                  "type": "string",
                  "default": "1",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "imageAction",
                "pageNrs"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "properties": {
                "outputDocuments": {
                  "description": "Output Documents",
                  "items": {
                    "properties": {
                      "fileName": {
                        "description": "Output file name",
                        "title": "File Name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "streamFile": {
                        "description": "Output file content",
                        "format": "byte",
                        "title": "File Content",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        }
      }
    },
    "/v2/FlowV2/Extract": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Extract required pages from a PDF document. https://dev.pdf4me.com/power-automate/documentation/actions/extract-pages/",
        "operationId": "ExtractPages_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "pageNumbers": {
                  "description": "Specify Page Numbers to be extracted (e.g: 1,2)",
                  "title": "Page Numbers",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "pageNumbers"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Extract Pages from PDF",
        "x-ms-api-annotation": {
          "family": "ExtractPages",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/ExtractResources": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Extract text and images from the PDF document. https://dev.pdf4me.com/power-automate/documentation/actions/extract-resources/",
        "operationId": "ExtractResourcesV1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "extractText": {
                  "description": "Extract text true/false ",
                  "title": "Extract Text",
                  "type": "boolean",
                  "default": true,
                  "x-ms-visibility": "important"
                },
                "extractImages": {
                  "description": "Extract images true/false ",
                  "title": "Extract Images",
                  "type": "boolean",
                  "default": true,
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {},
            "schema": {
              "properties": {
                "texts": {
                  "description": "texts",
                  "items": {
                    "description": "Page Text",
                    "title": "Page Text",
                    "type": "string"
                  },
                  "type": "array"
                },
                "images": {
                  "description": "Images",
                  "items": {
                    "properties": {
                      "fileName": {
                        "description": "Output file name",
                        "title": "File Name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "streamFile": {
                        "description": "Output file content",
                        "format": "byte",
                        "title": "File Content",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Extract Text and Images from PDF",
        "x-ms-api-annotation": {
          "family": "ExtractResources",
          "revision": 1,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/DeletePages": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete unwanted pages from the PDF document. https://dev.pdf4me.com/power-automate/documentation/actions/delete-pages/",
        "operationId": "DeletePages_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source PDF file content from the previous action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with proper file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "pageNumbers": {
                  "description": "Specify Pages to be deleted (e.g: 1,2)",
                  "title": "Page Numbers",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "pageNumbers"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Delete Pages from PDF",
        "x-ms-api-annotation": {
          "family": "DeletePages",
          "revision": 1,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/DeleteBlankPages": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Delete blank pages from the PDF document. https://dev.pdf4me.com/power-automate/documentation/actions/delete-blank-pages/",
        "operationId": "DeleteBlankPages_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source PDF file content from the previous action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with proper file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "deletePageOption": {
                  "default": "NoTextNoImages",
                  "description": "Choose Delete Option",
                  "enum": [
                    "NoTextNoImages",
                    "NoText",
                    "NoImages"
                  ],
                  "title": "Delete Option",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "deletePageOption"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Delete Blank Pages from PDF",
        "x-ms-api-annotation": {
          "family": "DeleteBlankPages",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/AddMargin": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add Margins to the PDF document. https://dev.pdf4me.com/power-automate/documentation/actions/add-margin/",
        "operationId": "AddMargin_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source PDF file content from the previous action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "marginLeft": {
                  "description": "Margin to be added on the left side of the page (mm)",
                  "title": "Margin Left (mm)",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "marginRight": {
                  "description": "Margin to be added on the right side of the page (mm)",
                  "title": "Margin Right (mm)",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "marginTop": {
                  "description": "Margin to be added on the top of the page (mm)",
                  "title": "Margin Top (mm)",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "marginBottom": {
                  "description": "Margin to be added at the bottom of the page (mm)",
                  "title": "Margin Bottom (mm)",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "marginLeft",
                "marginRight",
                "marginTop",
                "marginBottom"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Add Margin to PDF",
        "x-ms-api-annotation": {
          "family": "AddMargin",
          "revision": 1,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/Merge": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Merge multiple PDF documents into a single PDF document. https://dev.pdf4me.com/power-automate/documentation/actions/merge/",
        "operationId": "Merge_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "docContent",
                  "items": {
                    "description": "Map source File Content from the source action",
                    "format": "byte",
                    "title": "File Contents",
                    "type": "string"
                  },
                  "type": "array"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Name",
                      "title": "Output File Name",
                      "type": "string"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "docContent",
                "document"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from PDF4me merge",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Merge multiple PDF files into a single PDF file",
        "x-ms-api-annotation": {
          "family": "Merge",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/Optimize": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Optimize or Compress a PDF document. https://dev.pdf4me.com/power-automate/documentation/actions/compress-pdf/",
        "operationId": "Optimize_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "optimizeProfile": {
                  "default": "Max",
                  "description": "Choose the compression profile",
                  "enum": [
                    "Default",
                    "Max",
                    "Web",
                    "WebMax",
                    "Print",
                    "PrintMax",
                    "PrintGray",
                    "Compress",
                    "CompressMax"
                  ],
                  "title": "Optimize Profile",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "optimizeProfile"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Compress PDF",
        "x-ms-api-annotation": {
          "family": "Optimize",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/PdfA": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create PDFA compliant document. https://dev.pdf4me.com/power-automate/documentation/actions/create-pdfa/",
        "operationId": "CreatePdfA_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "compliance": {
                  "default": "PdfA1b",
                  "description": "Select the compliance from the list",
                  "enum": [
                    "PdfA1b",
                    "PdfA1a",
                    "PdfA2b",
                    "PdfA2u",
                    "PdfA2a",
                    "PdfA3b",
                    "PdfA3u",
                    "PdfA3a"
                  ],
                  "title": "Compliance",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "allowUpgrade": {
                  "description": "Allow upgrade of compliance",
                  "title": "Allow Upgrade",
                  "type": "boolean",
                  "x-ms-visibility": "important",
                  "default": true
                },
                "allowDowngrade": {
                  "description": "Allow downgrade of compliance",
                  "title": "Allow Downgrade",
                  "type": "boolean",
                  "x-ms-visibility": "important",
                  "default": true
                }
              },
              "required": [
                "docContent",
                "compliance",
                "document"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output File Content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Create PdfA",
        "x-ms-api-annotation": {
          "family": "CreatePdfA",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/Protect": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Protect PDF document with custom password. https://dev.pdf4me.com/power-automate/documentation/actions/protect-document/",
        "operationId": "ProtectDocument_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "password": {
                  "description": "Custom password",
                  "title": "Password",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "pdfPermission": {
                  "default": "All",
                  "description": "Allowed permission for the document",
                  "enum": [
                    "All",
                    "None",
                    "Copy",
                    "Annotate",
                    "FillForms",
                    "SupportDisabilities",
                    "Assemble",
                    "DigitalPrint",
                    "Print",
                    "Modify"
                  ],
                  "title": "PDF Permission",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "password",
                "pdfPermission"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Protect Document",
        "x-ms-api-annotation": {
          "family": "ProtectDocument",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/Rotate": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Rotate all the pages of a PDF document. https://dev.pdf4me.com/power-automate/documentation/actions/rotate/",
        "operationId": "RotateDocument_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "rotationType": {
                  "default": "NoRotation",
                  "description": "Select the rotation type from the list",
                  "enum": [
                    "NoRotation",
                    "Clockwise",
                    "CounterClockwise",
                    "UpsideDown"
                  ],
                  "title": "Rotation Type",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "rotationType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Rotate Document",
        "x-ms-api-annotation": {
          "family": "RotateDocument",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/SplitPdf": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Split PDF by page number or recurring pages. https://dev.pdf4me.com/power-automate/documentation/actions/split-pdf/",
        "operationId": "SplitDocument_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "splitAction": {
                  "default": "SplitAfterPage",
                  "description": "Choose the split action type",
                  "enum": [
                    "SplitAfterPage",
                    "RecurringSplitAfterPage"
                  ],
                  "title": "Split Action",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "splitActionNumber": {
                  "default": 1,
                  "description": "Enter the value based on the split action",
                  "format": "int32",
                  "title": "Split Page Number",
                  "type": "integer",
                  "x-ms-visibility": "important"
                },
                "fileNaming": {
                  "default": "NameAsPerOrder",
                  "description": "Split File Naming",
                  "enum": [
                    "WithPageNumber",
                    "NameAsPerOrder"
                  ],
                  "title": "Split File Naming",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "splitAction",
                "splitActionNumber"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "properties": {
                "splitedDocuments": {
                  "description": "Splited Documents",
                  "items": {
                    "properties": {
                      "fileName": {
                        "description": "Output file name",
                        "title": "File Name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "streamFile": {
                        "description": "Output file content",
                        "format": "byte",
                        "title": "File Content",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Split Document",
        "x-ms-api-annotation": {
          "family": "SplitDocument",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/SplitPdfByBarcode": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Split PDF documents using barcode contained in them. https://dev.pdf4me.com/power-automate/documentation/actions/split-by-barcode/",
        "operationId": "SplitDocByBarcode_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "barcodeFilter": {
                  "default": "startsWith",
                  "description": "Choose the Barcode filter",
                  "enum": [
                    "startsWith",
                    "endsWith",
                    "contains",
                    "exact"
                  ],
                  "title": "Barcode Filter",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "barcodeString": {
                  "description": "Type the barcode data to split",
                  "title": "Barcode Data",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "barcodeType": {
                  "default": "any",
                  "description": "Choose the Barcode type",
                  "enum": [
                    "any",
                    "datamatrix",
                    "qrcode"
                  ],
                  "title": "Barcode Type",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "splitBarcodePage": {
                  "default": "before",
                  "description": "Choose the Split Barcode Page",
                  "enum": [
                    "before",
                    "after",
                    "remove"
                  ],
                  "title": "Split Barcode Page",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "combinePagesWithSameConsecutiveBarcodes": {
                  "type": "boolean",
                  "title": "Combine Pages",
                  "description": "Combine pages with same barcodes. Any pages having consecutively same barcode texts will be merged as a single document",
                  "x-ms-visibility": "advanced",
                  "default": false,
                  "enum": [
                    true,
                    false
                  ]
                },
                "pdfRenderDpi": {
                  "title": "PDF Render API",
                  "description": "Pdf Render Dpi for barcode. Accepted values - 100, 150, 200, 250",
                  "default": "150",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "isAsync": {
                  "title": "Is Async",
                  "description": "Set process as Async if takes long time",
                  "type": "boolean",
                  "x-ms-visibility": "advanced",
                  "default": false
                }
              },
              "required": [
                "docContent",
                "document",
                "barcodeString",
                "barcodeFilter",
                "barcodeType",
                "splitBarcodePage"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "properties": {
                "splitedDocuments": {
                  "description": "Splited Documents",
                  "items": {
                    "properties": {
                      "fileName": {
                        "description": "Output file name",
                        "title": "File Name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "barcodeText": {
                        "description": "Output barcode text",
                        "title": "Barcode Text",
                        "type": "string"
                      },
                      "streamFile": {
                        "description": "Output file content",
                        "format": "byte",
                        "title": "File Content",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Split Document by Barcode",
        "x-ms-api-annotation": {
          "family": "SplitDocByBarcode",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/SplitByText": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Split PDF by recognizing specific text in them. https://dev.pdf4me.com/power-automate/documentation/actions/split-pdf-by-text/",
        "summary": "Split PDF by Text",
        "operationId": "SplitByText_v1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content from the source action",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "text": {
                  "title": "Text",
                  "description": "Search Text",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "splitTextPage": {
                  "title": "Split Type",
                  "default": "before",
                  "description": "Choose how to Split",
                  "enum": [
                    "before",
                    "after"
                  ],
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "fileNaming": {
                  "default": "NameAsPerOrder",
                  "description": "Split File Naming",
                  "enum": [
                    "WithPageNumber",
                    "NameAsPerOrder"
                  ],
                  "title": "Split File Naming",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "text",
                "splitTextPage"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "properties": {
                "splitedDocuments": {
                  "description": "Splited Documents",
                  "items": {
                    "properties": {
                      "fileName": {
                        "description": "Output file name",
                        "title": "File Name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "docText": {
                        "description": "Text read from file",
                        "title": "Text",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "streamFile": {
                        "description": "Output file content",
                        "format": "byte",
                        "title": "File Content",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v2/FlowV2/Stamp": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add a background Text Watermark to PDF document. https://dev.pdf4me.com/power-automate/documentation/actions/text-stamp/",
        "operationId": "Stamp_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Map source File Content for adding the Watermark",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Source file name with file extension",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "text": {
                  "description": "Text to be added as Watermark",
                  "title": "Text",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "fontSize": {
                  "description": "Set text font size",
                  "title": "Font Size",
                  "type": "integer",
                  "x-ms-visibility": "important",
                  "default": 12
                },
                "fontColor": {
                  "description": "Set font color",
                  "title": "Font Color",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "default": "#000000"
                },
                "isBold": {
                  "type": "boolean",
                  "title": "Set watermark text to Bold",
                  "x-ms-visibility": "important",
                  "default": false
                },
                "isItalics": {
                  "type": "boolean",
                  "title": "Set watermark text to Italics",
                  "x-ms-visibility": "important",
                  "default": false
                },
                "underline": {
                  "type": "boolean",
                  "title": "Underline watermark text",
                  "x-ms-visibility": "important",
                  "default": false
                },
                "pages": {
                  "description": "Specify the page numbers to add watermark like 1,2, or all. Default - all",
                  "title": "Pages",
                  "type": "string",
                  "default": "all",
                  "x-ms-visibility": "important"
                },
                "alignX": {
                  "default": "left",
                  "description": "Select the Horizontal alignment",
                  "enum": [
                    "left",
                    "center",
                    "right"
                  ],
                  "title": "Horizontal Alignment",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "alignY": {
                  "default": "top",
                  "description": "Select the Vertical alignment",
                  "enum": [
                    "top",
                    "middle",
                    "bottom"
                  ],
                  "title": "Vertical Alignment",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "marginXInMM": {
                  "description": "Margin from Left or Right origin of the image in Millimeter",
                  "default": "0",
                  "title": "Horizontal Margin",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "marginYInMM": {
                  "description": "Margin from Top or Bottom origin of the image in Millimeter",
                  "default": "0",
                  "title": "Vertical Margin",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "opacity": {
                  "description": "Specify a value between 0 to 100. 0 is completely transparent, 100 for fully opaque.",
                  "title": "Transparency",
                  "type": "string",
                  "default": "100"
                },
                "rotate": {
                  "description": "Rotate angle in degree (0 to 360)",
                  "title": "Rotate",
                  "type": "integer",
                  "x-ms-visibility": "important",
                  "default": 0
                },
                "showOnlyInPrint": {
                  "description": "Show watermark only when printing",
                  "title": "Print Only",
                  "type": "boolean",
                  "default": false
                }
              },
              "required": [
                "alignX",
                "alignY",
                "docContent",
                "document",
                "pages",
                "text"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Add Text Stamp to PDF",
        "x-ms-api-annotation": {
          "family": "Stamp",
          "revision": 2,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/ImageStamp": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add Image Watermark or Stamp to the PDF document. https://dev.pdf4me.com/power-automate/documentation/actions/image-stamp/",
        "operationId": "ImageStamp_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "type": "string",
                  "description": "Map PDF File Content for adding Image Watermark",
                  "title": "PDF File content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "docName": {
                  "type": "string",
                  "description": "PDF file name with file extension",
                  "title": "PDF File Name",
                  "x-ms-visibility": "important"
                },
                "imageFile": {
                  "type": "string",
                  "description": "Map Image File Content from the source action",
                  "title": "Image File Content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "imageName": {
                  "type": "string",
                  "description": "Image file name with file extension",
                  "title": "Image File Name",
                  "x-ms-visibility": "important"
                },
                "pages": {
                  "description": "Specify the page numbers for adding stamp like 1,2, or all. Default-all.",
                  "title": "Pages",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "default": "all"
                },
                "alignX": {
                  "default": "left",
                  "description": "Select the Horizontal Alignment",
                  "enum": [
                    "left",
                    "center",
                    "right"
                  ],
                  "title": "Horizontal Alignment",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "alignY": {
                  "default": "top",
                  "description": "Select the Vertical Alignment",
                  "enum": [
                    "top",
                    "middle",
                    "bottom"
                  ],
                  "title": "Vertical Alignment",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "heightInMM": {
                  "description": "Height of the image in Millimeter. '0' for auto.",
                  "title": "Height",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "default": "0"
                },
                "widthInMM": {
                  "description": "Width of the image in Millimeter. '0' for auto.",
                  "title": "Width",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "default": "0"
                },
                "marginXInMM": {
                  "description": "Margin from Left origin of the image in Millimeter",
                  "title": "Margin Horizontal",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "default": "0"
                },
                "marginYInMM": {
                  "description": "Margin from Top origin of the image in Millimeter",
                  "title": "Margin Vertical",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "default": "0"
                },
                "opacity": {
                  "description": "Specify a value between 0 to 100. 0 is completely transparent, 100 for fully opaque.",
                  "title": "Transparency",
                  "type": "integer",
                  "x-ms-visibility": "important",
                  "default": 100
                },
                "showOnlyInPrint": {
                  "description": "Show watermark only when printing",
                  "title": "Print Only",
                  "type": "boolean",
                  "default": false
                }
              },
              "required": [
                "alignX",
                "alignY",
                "docContent",
                "docName",
                "imageName",
                "imageFile",
                "pages",
                "heightInMM",
                "widthInMM",
                "marginXInMM",
                "marginYInMM",
                "opacity"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me API response",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Add Image Stamp to PDF",
        "x-ms-api-annotation": {
          "family": "ImageStamp",
          "revision": 1,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/SignPdf": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Place a Sign to the PDF document. https://dev.pdf4me.com/power-automate/documentation/actions/sign-pdf/",
        "operationId": "SignPdf_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "type": "string",
                  "description": "Map PDF File Content from the source action",
                  "title": "PDF File content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "docName": {
                  "type": "string",
                  "description": "PDF file name with file extension",
                  "title": "PDF File Name",
                  "x-ms-visibility": "important"
                },
                "imageFile": {
                  "type": "string",
                  "description": "Map Signature Image file content from source",
                  "title": "Sign File Content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "imageName": {
                  "type": "string",
                  "description": "Signature Image file name with extension",
                  "title": "Sign Image File Name",
                  "x-ms-visibility": "important"
                },
                "alignX": {
                  "default": "left",
                  "description": "Select the Horizontal Alignment",
                  "enum": [
                    "left",
                    "center",
                    "right"
                  ],
                  "title": "Align Horizontal",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "alignY": {
                  "default": "top",
                  "description": "Select the Vertical Alignment",
                  "enum": [
                    "top",
                    "middle",
                    "bottom"
                  ],
                  "title": "Align Vertical",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "pages": {
                  "description": "Specify the page numbers for adding sign. e.g 1,2",
                  "title": "Pages",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "default": "1"
                },
                "heightInMM": {
                  "description": "Height of the Sign in Millimeter. '0' for auto.",
                  "title": "Height",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "widthInMM": {
                  "description": "Width of the image in Millimeter. '0' for auto.",
                  "title": "Width",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "marginXInMM": {
                  "description": "Margin from Left origin of the image in Millimeter",
                  "title": "Margin Horizontal",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "marginYInMM": {
                  "description": "Margin from Top origin of the image in Millimeter",
                  "title": "Margin Vertical",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "opacity": {
                  "description": "Give number between 0 to 100. 0 is completely transparent. 100 for fully opaque.",
                  "title": "Opacity",
                  "type": "integer",
                  "x-ms-visibility": "important",
                  "default": 100
                }
              },
              "required": [
                "alignX",
                "alignY",
                "docContent",
                "docName",
                "imageName",
                "imageFile",
                "pages",
                "marginXInMM",
                "marginYInMM",
                "opacity"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Sign PDF",
        "x-ms-api-annotation": {
          "family": "SignPdf",
          "revision": 1,
          "status": "Production"
        }
      }
    },
    "/v2/FlowV2/MailMerge": {
      "post": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "type": "string",
              "description": "Output file content from the PDF4me Connect.",
              "title": "File Content",
              "format": "binary",
              "x-ms-visibility": "important"
            },
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            }
          }
        },
        "summary": "Produce document with dynamic data collection and templates",
        "description": "Produce your document with dynamic data collection and templates.",
        "operationId": "ProduceDocWithData_V1",
        "x-ms-api-annotation": {
          "family": "ProduceDocWithData",
          "status": "Production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "templateDocContent": {
                  "type": "string",
                  "description": "Template file content.",
                  "title": "Template File Data",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "templateDocName": {
                  "type": "string",
                  "description": "Template file name.",
                  "title": "Template File Name",
                  "x-ms-visibility": "important"
                },
                "dataDocContent": {
                  "type": "string",
                  "description": "DataCollection file content.",
                  "title": "Data File Content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "dataDocName": {
                  "type": "string",
                  "description": "Data Collection file name.",
                  "title": "Data File Name",
                  "x-ms-visibility": "important"
                },
                "outputType": {
                  "type": "string",
                  "description": "Choose OutputType",
                  "title": "OutputType",
                  "x-ms-visibility": "important",
                  "default": "Pdf",
                  "enum": [
                    "Pdf"
                  ]
                }
              },
              "required": [
                "templateDocName",
                "templateDocContent",
                "outputType"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "deprecated": true
      }
    },
    "/v2/FlowV2/MailMergeDoc": {
      "post": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "properties": {
                "outputDocuments": {
                  "description": "Output Documents",
                  "items": {
                    "properties": {
                      "fileName": {
                        "description": "Output file name",
                        "title": "File Name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "streamFile": {
                        "description": "Output file content",
                        "format": "byte",
                        "title": "File Content",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Mail Merge with Data File (List of Docs)",
        "description": "Merge document template with data from excel or Json file. https://pdf4me.com/power-automate/documentation/actions/mail-merge-with-data-file-list/",
        "operationId": "ProduceDocWithFile_V1",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "ProduceDocWithFile",
          "status": "Production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "templateDocContent": {
                  "type": "string",
                  "description": "Template file content.",
                  "title": "Template File Data",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "templateDocName": {
                  "type": "string",
                  "description": "Template file name.",
                  "title": "Template File Name",
                  "x-ms-visibility": "important"
                },
                "dataDocContent": {
                  "type": "string",
                  "description": "Data file content. Supported only .xlsx and .json types.",
                  "title": "Data File Content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "dataDocName": {
                  "type": "string",
                  "description": "Data Collection file name.",
                  "title": "Data File Name",
                  "x-ms-visibility": "important"
                },
                "dataArray": {
                  "type": "string",
                  "description": "Data Collection as list of array.  ex: [[\"\"V1\",\"V2\",\"V3\",\"V4\"],[\"V1\",\"V2\",\"V3\",\"V4\"]]\"",
                  "title": "Data string",
                  "x-ms-visibility": "internal"
                },
                "outputType": {
                  "type": "string",
                  "description": "Choose DocType",
                  "title": "DocType",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "templateDocName",
                "templateDocContent",
                "dataDocContent",
                "dataDocName"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/FlowV2/MailMergeData": {
      "post": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "properties": {
                "outputDocuments": {
                  "description": "Output Documents",
                  "items": {
                    "properties": {
                      "fileName": {
                        "description": "Output file name",
                        "title": "File Name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "streamFile": {
                        "description": "Output file content",
                        "format": "byte",
                        "title": "File Content",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Mail Merge with Data String (List of Docs)",
        "description": "Merge document template with data as JSON string. https://dev.pdf4me.com/power-automate/documentation/actions/mail-merge-with-data-string-list/",
        "operationId": "ProduceDocWithDataString_V1",
        "x-ms-api-annotation": {
          "family": "ProduceDocWithDataString",
          "status": "Production",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "templateDocContent": {
                  "type": "string",
                  "description": "Map the Template File Content from source",
                  "title": "Template File Data",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "templateDocName": {
                  "type": "string",
                  "description": "Template file name with file extension",
                  "title": "Template File Name",
                  "x-ms-visibility": "important"
                },
                "dataDocContent": {
                  "type": "string",
                  "description": "Map the Data File Content",
                  "title": "Data File Content",
                  "format": "byte",
                  "x-ms-visibility": "internal"
                },
                "dataDocName": {
                  "type": "string",
                  "description": "Data file name with extension",
                  "title": "Data File Name",
                  "x-ms-visibility": "internal"
                },
                "dataArray": {
                  "type": "string",
                  "description": "Data Collection as list of array.  e.g [[\"\"V1\",\"V2\",\"V3\",\"V4\"],[\"V1\",\"V2\",\"V3\",\"V4\"]]\"",
                  "title": "Data string",
                  "x-ms-visibility": "important"
                },
                "outputType": {
                  "type": "string",
                  "description": "Choose DocType",
                  "title": "DocType",
                  "enum": [
                    "pdf",
                    "docx"
                  ],
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "templateDocName",
                "templateDocContent",
                "dataArray"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/FlowV2/MailMergeDocSingle": {
      "post": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
[...]
