{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "support@pdf4me.com",
      "name": "PDF4me Support",
      "url": "https://pdf4me.com/help"
    },
    "title": "PDF4me Connect",
    "description": "PDF4me Connect is a simple and powerful way to create, edit, manipulate and manage PDFs. It comes loaded with features like Convert, Merge, Split, Make Pdf/A compatible, Optimize, Protect, Unlock, Convert with OCR, Create Watermarks, Get Thumbnails, Rotate, Attach Barcodes, Convert html/md/url to PDF, and Merge Overlay.",
    "version": "2.0"
  },
  "host": "api.pdf4me.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v2/FlowV2/ConvertOcrPdf": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create searchable PDF using OCR. https://pdf4me.com/power-automate/documentation/actions/pdf-ocr/",
        "operationId": "PdfOcr_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "qualityType": {
                  "default": "Draft",
                  "description": "Choose QualityType",
                  "enum": [
                    "Draft",
                    "High"
                  ],
                  "title": "QualityType",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "qualityType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Convert PDF to editable PDF using OCR",
        "x-ms-api-annotation": {
          "family": "PdfOcr",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/ConvertPdfToExcel": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create XLSX spreadsheets from PDFs with tabular data. Even from an image you can generate an XLS. https://pdf4me.com/power-automate/documentation/actions/pdf-to-excel/",
        "operationId": "PdfToExcel_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "qualityType": {
                  "default": "Draft",
                  "description": "Choose QualityType",
                  "enum": [
                    "Draft",
                    "High"
                  ],
                  "title": "QualityType",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "qualityType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Convert PDF to Excel",
        "x-ms-api-annotation": {
          "family": "PdfToExcel",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/ConvertPdfToWord": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Transform PDF documents to high quality editable DOCX files. https://pdf4me.com/power-automate/documentation/actions/pdf-to-word/",
        "operationId": "PdfToWord_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "qualityType": {
                  "default": "Draft",
                  "description": "Choose QualityType",
                  "enum": [
                    "Draft",
                    "High"
                  ],
                  "title": "QualityType",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "qualityType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Convert PDF to Word",
        "x-ms-api-annotation": {
          "family": "PdfToWord",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/ConvertToPdf": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Convert any type of office documents to PDF format. https://pdf4me.com/power-automate/documentation/actions/convert-to-pdf/",
        "operationId": "ConvertToPdf_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Name of the file from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "docContent",
                "document"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File Converted successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Convert to PDF",
        "x-ms-api-annotation": {
          "family": "ConvertToPdf",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/CreateImages": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create thumbnail for the PDF document. https://pdf4me.com/power-automate/documentation/actions/create-thumbnail/",
        "operationId": "CreateThumbnail_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "type": "object"
                },
                "imageAction": {
                  "description": "imageAction",
                  "properties": {
                    "ImageExtension": {
                      "default": "jpeg",
                      "description": "Choose the image extension from the list",
                      "enum": [
                        "jpg",
                        "jpeg",
                        "bmp",
                        "gif",
                        "jb2",
                        "jp2",
                        "jpf",
                        "jpx",
                        "png",
                        "tif",
                        "tiff"
                      ],
                      "title": "Image Extension",
                      "type": "string",
                      "x-ms-visibility": "important"
                    },
                    "PageSelection": {
                      "description": "PageSelection",
                      "properties": {
                        "PageNrs": {
                          "description": "PageNrs",
                          "items": {
                            "default": 1,
                            "description": "Default page number is 1",
                            "format": "int32",
                            "title": "Page Number",
                            "type": "integer",
                            "x-ms-visibility": "internal"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "PageNrs"
                      ],
                      "type": "object"
                    },
                    "WidthPixel": {
                      "description": "Size of the thumbnail image in (Width)Pixels",
                      "format": "int32",
                      "title": "Width Pixels",
                      "type": "integer",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "WidthPixel",
                    "ImageExtension",
                    "PageSelection"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "docContent",
                "document",
                "imageAction"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Create a Thumbnail Image",
        "x-ms-api-annotation": {
          "family": "CreateThumbnail",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/Extract": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Extract the required pages from the PDF document. https://pdf4me.com/power-automate/documentation/actions/extract-pages/",
        "operationId": "ExtractPages_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "pageNumbers": {
                  "description": "PageNumbers to be extracted (e.g: 1,2)",
                  "title": "Page Numbers",
                  "type": "string",
                  "x-ms-visibility": ""
                }
              },
              "required": [
                "docContent",
                "document",
                "pageNumbers"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Extract Pages from PDF",
        "x-ms-api-annotation": {
          "family": "ExtractPages",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/Merge": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Merge multiple PDF documents into a single pdf document. https://pdf4me.com/power-automate/documentation/actions/merge/",
        "operationId": "Merge_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "docContent",
                  "items": {
                    "description": "Input file content from the source",
                    "format": "byte",
                    "title": "File Contents",
                    "type": "string"
                  },
                  "type": "array"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Name",
                      "title": "File Name",
                      "type": "string"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "docContent",
                "document"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from PDF4me merge",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Merge multiple PDF files into a single PDF file",
        "x-ms-api-annotation": {
          "family": "Merge",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/Optimize": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Optimize the PDF document. https://pdf4me.com/power-automate/documentation/actions/compress-pdf/",
        "operationId": "Optimize_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "optimizeProfile": {
                  "default": "Max",
                  "description": "Choose the profile",
                  "enum": [
                    "Default",
                    "Web",
                    "Print",
                    "Max"
                  ],
                  "title": "Optimize Profile",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "optimizeProfile"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Optimize Document",
        "x-ms-api-annotation": {
          "family": "Optimize",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/PdfA": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create PdfA document. https://pdf4me.com/power-automate/documentation/actions/create-pdfa/",
        "operationId": "CreatePdfA_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "compliance": {
                  "default": "PdfA1b",
                  "description": "Select the compliance from the list",
                  "enum": [
                    "PdfA1b",
                    "PdfA1a",
                    "PdfA2b",
                    "PdfA2u",
                    "PdfA2a",
                    "PdfA3b",
                    "PdfA3u",
                    "PdfA3a"
                  ],
                  "title": "Compliance",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "docContent",
                "compliance",
                "document"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output File Content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Create PdfA",
        "x-ms-api-annotation": {
          "family": "CreatePdfA",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/Protect": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Protect the document with custom password. https://pdf4me.com/power-automate/documentation/actions/protect-document/",
        "operationId": "ProtectDocument_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "password": {
                  "description": "Custom password",
                  "title": "Password",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "pdfPermission": {
                  "default": "All",
                  "description": "Allowed permission for the document",
                  "enum": [
                    "All",
                    "None",
                    "Copy",
                    "Annotate",
                    "FillForms",
                    "SupportDisabilities",
                    "Assemble",
                    "DigitalPrint",
                    "Print",
                    "Modify"
                  ],
                  "title": "PDF Permission",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "password",
                "pdfPermission"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Protect Document",
        "x-ms-api-annotation": {
          "family": "ProtectDocument",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/Rotate": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Rotate the pages and in all directions. https://pdf4me.com/power-automate/documentation/actions/rotate/",
        "operationId": "RotateDocument_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "rotationType": {
                  "default": "NoRotation",
                  "description": "Select the rotation type from the list",
                  "enum": [
                    "NoRotation",
                    "Clockwise",
                    "CounterClockwise",
                    "UpsideDown"
                  ],
                  "title": "Rotation Type",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "rotationType"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Rotate Document",
        "x-ms-api-annotation": {
          "family": "RotateDocument",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/SplitPdf": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Split the PDF document by page number or recurring pages. https://pdf4me.com/power-automate/documentation/actions/split-pdf/",
        "operationId": "SplitDocument_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "docContent": {
                  "description": "The content of the input file",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Name of the file",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "splitAction": {
                  "default": "SplitAfterPage",
                  "description": "Choose the split action type",
                  "enum": [
                    "SplitAfterPage",
                    "RecurringSplitAfterPage"
                  ],
                  "title": "Split Action",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "splitActionNumber": {
                  "default": 1,
                  "description": "Enter the value based on the split action",
                  "format": "int32",
                  "title": "Split Action Value",
                  "type": "integer",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "splitAction",
                "splitActionNumber"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "properties": {
                "splitedDocuments": {
                  "description": "splitedDocuments",
                  "items": {
                    "properties": {
                      "fileName": {
                        "description": "Output file name",
                        "title": "File Name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "streamFile": {
                        "description": "Output file content",
                        "format": "byte",
                        "title": "File Content",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Split Document",
        "x-ms-api-annotation": {
          "family": "SplitDocument",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/SplitPdfByBarcode": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Split the PDF document by barcode types and filters. https://pdf4me.com/power-automate/documentation/actions/split-by-barcode/",
        "operationId": "SplitDocByBarcode_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "barcodeFilter": {
                  "default": "startsWith",
                  "description": "Choose the Barcode filter",
                  "enum": [
                    "startsWith",
                    "endsWith",
                    "contains",
                    "exact"
                  ],
                  "title": "Barcode Filter",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "barcodeString": {
                  "description": "Type the barcode data to split",
                  "title": "Barcode Data",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "barcodeType": {
                  "default": "any",
                  "description": "Choose the Barcode type",
                  "enum": [
                    "any",
                    "datamatrix",
                    "qrcode"
                  ],
                  "title": "Barcode Type",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "docContent": {
                  "description": "The content of the input file",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Name of the file",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "splitBarcodePage": {
                  "default": "before",
                  "description": "Choose the Split Barcode Page",
                  "enum": [
                    "before",
                    "after",
                    "remove"
                  ],
                  "title": "Split Barcode Page",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "document",
                "barcodeString",
                "barcodeFilter",
                "barcodeType",
                "splitBarcodePage"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "properties": {
                "splitedDocuments": {
                  "description": "splitedDocuments",
                  "items": {
                    "properties": {
                      "fileName": {
                        "description": "Output file name",
                        "title": "File Name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "streamFile": {
                        "description": "Output file content",
                        "format": "byte",
                        "title": "File Content",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Split Document by Barcode",
        "x-ms-api-annotation": {
          "family": "SplitDocByBarcode",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/Stamp": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add a background watermark text to the PDF document. https://pdf4me.com/power-automate/documentation/actions/text-stamp/",
        "operationId": "Stamp_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "alignX": {
                  "default": "left",
                  "description": "Set alignment in horizontal scale",
                  "enum": [
                    "left",
                    "center",
                    "right"
                  ],
                  "title": "Align X",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "alignY": {
                  "default": "top",
                  "description": "Set alignment in vertical scale",
                  "enum": [
                    "top",
                    "middle",
                    "bottom"
                  ],
                  "title": "Align Y",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "docContent": {
                  "description": "Input file content from the source",
                  "format": "byte",
                  "title": "File Content",
                  "type": "string",
                  "x-ms-visibility": ""
                },
                "document": {
                  "description": "document",
                  "properties": {
                    "Name": {
                      "description": "Input file name from the source",
                      "title": "File Name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "Name"
                  ],
                  "type": "object"
                },
                "pages": {
                  "description": "Mention the page numbers like 1,2",
                  "title": "Pages",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "text": {
                  "description": "Stamp text",
                  "title": "Text",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "alignX",
                "alignY",
                "docContent",
                "document",
                "pages",
                "text"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Text Stamp on PDF",
        "x-ms-api-annotation": {
          "family": "Stamp",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/ImageStamp": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Add logo image or watermark image to the PDF document. https://pdf4me.com/power-automate/documentation/actions/image-stamp/",
        "operationId": "ImageStamp_V1",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "properties": {
                "alignX": {
                  "default": "left",
                  "description": "Set alignment in horizontal scale",
                  "enum": [
                    "left",
                    "center",
                    "right"
                  ],
                  "title": "Align Horizontal",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "alignY": {
                  "default": "top",
                  "description": "Set alignment in vertical scale",
                  "enum": [
                    "top",
                    "middle",
                    "bottom"
                  ],
                  "title": "Align Vertical",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "docContent": {
                  "type": "string",
                  "description": "PDF file content.",
                  "title": "PDF File content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "docName": {
                  "type": "string",
                  "description": "PDF File Name",
                  "title": "PDF File Name",
                  "x-ms-visibility": "important"
                },
                "imageFile": {
                  "type": "string",
                  "description": "Image file content.",
                  "title": "Image File Content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "imageName": {
                  "type": "string",
                  "description": "Image file name.",
                  "title": "Image File Name",
                  "x-ms-visibility": "important"
                },
                "pages": {
                  "description": "Mention the page numbers like 1,2",
                  "title": "Pages",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "default": "1"
                },
                "heightInMM": {
                  "description": "Height of the image in MilliMeter. 0 for auto detect.",
                  "title": "Height in mm",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "default": "0"
                },
                "widthInMM": {
                  "description": "Width of the image in MilliMeter. 0 for auto detect.",
                  "title": "Width in mm",
                  "type": "string",
                  "x-ms-visibility": "important",
                  "default": "0"
                },
                "marginXInMM": {
                  "description": "Margin from Left origin of the image in MilliMeter",
                  "title": "Margin Horizontal In mm.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "marginYInMM": {
                  "description": "Margin from Top origin of the image in MilliMeter",
                  "title": "Margin Vertical In mm.",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "opacity": {
                  "description": "Give number between 0 to 100. 0 is completely transparent. 100 for complete visible.",
                  "title": "Opacity",
                  "type": "integer",
                  "x-ms-visibility": "important",
                  "default": 100
                }
              },
              "required": [
                "alignX",
                "alignY",
                "docContent",
                "docName",
                "imageName",
                "imageFile",
                "pages",
                "heightInMM",
                "widthInMM",
                "marginXInMM",
                "marginYInMM",
                "opacity"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Image Stamp on PDF",
        "x-ms-api-annotation": {
          "family": "ImageStamp",
          "revision": 1,
          "status": "Preview"
        }
      }
    },
    "/v2/FlowV2/MailMerge": {
      "post": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "type": "string",
              "description": "Output file content from the PDF4me Connect.",
              "title": "File Content",
              "format": "binary",
              "x-ms-visibility": "important"
            },
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            }
          }
        },
        "summary": "Produce document with dynamic data collection and templates",
        "description": "Produce your document with dynamic data collection and templates.",
        "operationId": "ProduceDocWithData_V1",
        "x-ms-api-annotation": {
          "family": "ProduceDocWithData",
          "status": "Preview",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "templateDocContent": {
                  "type": "string",
                  "description": "Template file content.",
                  "title": "Template File Data",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "templateDocName": {
                  "type": "string",
                  "description": "Template file name.",
                  "title": "Template File Name",
                  "x-ms-visibility": "important"
                },
                "dataDocContent": {
                  "type": "string",
                  "description": "DataCollection file content.",
                  "title": "Data File Content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "dataDocName": {
                  "type": "string",
                  "description": "Data Collection file name.",
                  "title": "Data File Name",
                  "x-ms-visibility": "important"
                },
                "outputType": {
                  "type": "string",
                  "description": "Choose OutputType",
                  "title": "OutputType",
                  "x-ms-visibility": "important",
                  "default": "Pdf",
                  "enum": [
                    "Pdf"
                  ]
                }
              },
              "required": [
                "templateDocName",
                "templateDocContent",
                "outputType"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "deprecated": true
      }
    },
    "/v2/FlowV2/MailMergeDoc": {
      "post": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "properties": {
                "outputDocuments": {
                  "description": "Output Documents",
                  "items": {
                    "properties": {
                      "fileName": {
                        "description": "Output file name",
                        "title": "File Name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "streamFile": {
                        "description": "Output file content",
                        "format": "byte",
                        "title": "File Content",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Mail Merge with Data File (List of Docs)",
        "description": "Merge document template with data from excel or Json file. https://pdf4me.com/power-automate/documentation/actions/mail-merge-with-data-file-list/",
        "operationId": "ProduceDocWithFile_V1",
        "x-ms-api-annotation": {
          "family": "ProduceDocWithFile",
          "status": "Preview",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "templateDocContent": {
                  "type": "string",
                  "description": "Template file content.",
                  "title": "Template File Data",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "templateDocName": {
                  "type": "string",
                  "description": "Template file name.",
                  "title": "Template File Name",
                  "x-ms-visibility": "important"
                },
                "dataDocContent": {
                  "type": "string",
                  "description": "Data file content. Supported only .xlsx and .json types.",
                  "title": "Data File Content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "dataDocName": {
                  "type": "string",
                  "description": "Data Collection file name.",
                  "title": "Data File Name",
                  "x-ms-visibility": "important"
                },
                "dataArray": {
                  "type": "string",
                  "description": "Data Collection as list of array.  ex: [[\"\"V1\",\"V2\",\"V3\",\"V4\"],[\"V1\",\"V2\",\"V3\",\"V4\"]]\"",
                  "title": "Data string",
                  "x-ms-visibility": "internal"
                },
                "outputType": {
                  "type": "string",
                  "description": "Choose DocType",
                  "title": "DocType",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "templateDocName",
                "templateDocContent",
                "dataDocContent",
                "dataDocName"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/FlowV2/MailMergeData": {
      "post": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "properties": {
                "outputDocuments": {
                  "description": "Output Documents",
                  "items": {
                    "properties": {
                      "fileName": {
                        "description": "Output file name",
                        "title": "File Name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "streamFile": {
                        "description": "Output file content",
                        "format": "byte",
                        "title": "File Content",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Mail Merge with Data String (List of Docs)",
        "description": "Merge document template with data as json text. https://pdf4me.com/power-automate/documentation/actions/mail-merge-with-data-string-list/",
        "operationId": "ProduceDocWithDataString_V1",
        "x-ms-api-annotation": {
          "family": "ProduceDocWithDataString",
          "status": "Preview",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "templateDocContent": {
                  "type": "string",
                  "description": "Template file content.",
                  "title": "Template File Data",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "templateDocName": {
                  "type": "string",
                  "description": "Template file name.",
                  "title": "Template File Name",
                  "x-ms-visibility": "important"
                },
                "dataDocContent": {
                  "type": "string",
                  "description": "DataCollection file content.",
                  "title": "Data File Content",
                  "format": "byte",
                  "x-ms-visibility": "internal"
                },
                "dataDocName": {
                  "type": "string",
                  "description": "Data Collection file name.",
                  "title": "Data File Name",
                  "x-ms-visibility": "internal"
                },
                "dataArray": {
                  "type": "string",
                  "description": "Data Collection as list of array.  ex: [[\"\"V1\",\"V2\",\"V3\",\"V4\"],[\"V1\",\"V2\",\"V3\",\"V4\"]]\"",
                  "title": "Data string",
                  "x-ms-visibility": "important"
                },
                "outputType": {
                  "type": "string",
                  "description": "Choose DocType",
                  "title": "DocType",
                  "enum": [
                    "pdf",
                    "docx"
                  ],
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "templateDocName",
                "templateDocContent",
                "dataArray"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/FlowV2/MailMergeDocSingle": {
      "post": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Mail Merge with Data File (Single Doc)",
        "description": "Merge document template with data from excel or Json file. https://pdf4me.com/power-automate/documentation/actions/mail-merge-with-data-file-single/",
        "operationId": "ProduceDocWithFileSingle_V1",
        "x-ms-api-annotation": {
          "family": "ProduceDocWithFileSingle",
          "status": "Preview",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "templateDocContent": {
                  "type": "string",
                  "description": "Template file content.",
                  "title": "Template File Data",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "templateDocName": {
                  "type": "string",
                  "description": "Template file name.",
                  "title": "Template File Name",
                  "x-ms-visibility": "important"
                },
                "dataDocContent": {
                  "type": "string",
                  "description": "Data file content. Supported only .xlsx and .json types.",
                  "title": "Data File Content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "dataDocName": {
                  "type": "string",
                  "description": "Data Collection file name.",
                  "title": "Data File Name",
                  "x-ms-visibility": "important"
                },
                "dataArray": {
                  "type": "string",
                  "description": "Data Collection as list of array.  ex: [[\"\"V1\",\"V2\",\"V3\",\"V4\"],[\"V1\",\"V2\",\"V3\",\"V4\"]]\"",
                  "title": "Data string",
                  "x-ms-visibility": "internal"
                },
                "outputType": {
                  "type": "string",
                  "description": "Choose DocType",
                  "title": "DocType",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "templateDocName",
                "templateDocContent",
                "dataDocContent",
                "dataDocName"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/FlowV2/MailMergeDataSingle": {
      "post": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output file content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "Mail Merge with Data String (Single Doc)",
        "description": "Merge document template with data as json text. https://pdf4me.com/power-automate/documentation/actions/mail-merge-with-data-string-single/",
        "operationId": "ProduceDocWithDataSingle_V1",
        "x-ms-api-annotation": {
          "family": "ProduceDocWithDataSingle",
          "status": "Preview",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "templateDocContent": {
                  "type": "string",
                  "description": "Template file content.",
                  "title": "Template File Data",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "templateDocName": {
                  "type": "string",
                  "description": "Template file name.",
                  "title": "Template File Name",
                  "x-ms-visibility": "important"
                },
                "dataDocContent": {
                  "type": "string",
                  "description": "DataCollection file content.",
                  "title": "Data File Content",
                  "format": "byte",
                  "x-ms-visibility": "internal"
                },
                "dataDocName": {
                  "type": "string",
                  "description": "Data Collection file name.",
                  "title": "Data File Name",
                  "x-ms-visibility": "internal"
                },
                "dataArray": {
                  "type": "string",
                  "description": "Data Collection as list of array.  ex: [\"V1\",\"V2\",\"V3\",\"V4\"]",
                  "title": "Data string",
                  "x-ms-visibility": "important"
                },
                "outputType": {
                  "type": "string",
                  "description": "Choose DocType",
                  "title": "DocType",
                  "enum": [
                    "pdf",
                    "docx"
                  ],
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "templateDocName",
                "templateDocContent",
                "dataArray"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/FlowV2/ConvertHtmlToPdf": {
      "post": {
        "responses": {
          "200": {
            "description": "File Converted successfully!",
            "schema": {
              "type": "string",
              "description": "Output file content from the PDF4me Connect.",
              "title": "File Content",
              "x-ms-visibility": "important",
              "format": "binary"
            },
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            }
          }
        },
        "summary": "Convert HTML to PDF",
        "description": "Convert your HTML file to PDF. https://pdf4me.com/power-automate/documentation/actions/html-to-pdf/",
        "operationId": "ConvertHtmlToPdf_V1",
        "x-ms-api-annotation": {
          "family": "ConvertHtmlToPdf",
          "status": "Preview",
          "revision": 2
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "docContent": {
                  "type": "string",
                  "description": "Input file content from the source. HTML/ZIP supported.",
                  "title": "File Content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "docName": {
                  "type": "string",
                  "description": "HTML file name.",
                  "title": "HTML File Name",
                  "x-ms-visibility": "important"
                },
                "indexFilePath": {
                  "type": "string",
                  "description": "Index File Path required if input file is ZIP.",
                  "title": "Index File Path",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "docName"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/FlowV2/ConvertMdToPdf": {
      "post": {
        "responses": {
          "200": {
            "description": "File Converted successfully!",
            "schema": {
              "type": "string",
              "description": "Output file content from the PDF4me Connect.",
              "title": "File Content",
              "x-ms-visibility": "important",
              "format": "binary"
            },
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            }
          }
        },
        "summary": "Convert Md to PDF",
        "description": "Convert your Md file to PDF. https://pdf4me.com/power-automate/documentation/actions/markdown-to-pdf/",
        "operationId": "ConvertMdToPdf_V1",
        "x-ms-api-annotation": {
          "family": "ConvertMdToPdf",
          "status": "Preview",
          "revision": 2
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "docContent": {
                  "type": "string",
                  "description": "Input file content from the source. .md/.zip supported.",
                  "title": "File Content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "docName": {
                  "type": "string",
                  "description": "Input file name.",
                  "title": "Input File Name",
                  "x-ms-visibility": "important"
                },
                "mdFilePath": {
                  "type": "string",
                  "description": "Markdown File Path required if input file is ZIP.",
                  "title": "Markdown File Path",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "docContent",
                "docName"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/FlowV2/ConvertUrlToPdf": {
      "post": {
        "responses": {
          "200": {
            "description": "File Converted successfully!",
            "schema": {
              "type": "string",
              "description": "Output file content from the PDF4me Connect.",
              "title": "File Content",
              "x-ms-visibility": "important",
              "format": "binary"
            },
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            }
          }
        },
        "summary": "Convert URL to PDF",
        "description": "Convert your URL file to PDF. https://pdf4me.com/power-automate/documentation/actions/url-to-pdf/",
        "operationId": "ConvertUrlToPdf_V1",
        "x-ms-api-annotation": {
          "family": "ConvertUrlToPdf",
          "status": "Preview",
          "revision": 2
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "webUrl": {
                  "type": "string",
                  "description": "Web URL to be converted as PDF",
                  "title": "Web URL",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "webUrl"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/v2/FlowV2/MergeOverlay": {
      "post": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "schema": {
              "type": "string",
              "description": "Output file content from the PDF4me Connect. https://developer.pdf4me.com/docs/api/microsoft-flow/merge-overlay/",
              "title": "File Content",
              "format": "binary",
              "x-ms-visibility": "important"
            },
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            }
          }
        },
        "summary": "Merge two PDF files one over another as Overlay",
        "description": "Merge two PDF documents one over another as Overlay. https://pdf4me.com/power-automate/documentation/actions/merge-overlay/",
        "operationId": "MergeOverlay_V1",
        "x-ms-api-annotation": {
          "family": "MergeOverlay",
          "status": "Preview",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "baseDocContent": {
                  "type": "string",
                  "description": "Base file content.",
                  "title": "Base File content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "baseDocName": {
                  "type": "string",
                  "description": "Base File Name",
                  "title": "Base File Name",
                  "x-ms-visibility": "important"
                },
                "layerDocContent": {
                  "type": "string",
                  "description": "Layer file content.",
                  "title": "Layer File Content",
                  "format": "byte",
                  "x-ms-visibility": "important"
                },
                "layerDocName": {
                  "type": "string",
                  "description": "Layer file name.",
                  "title": "Layer File Name",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "baseDocContent",
                "baseDocName",
                "layerDocContent",
                "layerDocName"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.pdf4me.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://developer.pdf4me.com/wp-content/uploads/2018/12/Pdf4me-PrivacyPolicy_v0.9.pdf"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ]
}
