{
  "swagger": "2.0",
  "info": {
    "title": "IN-D Payables",
    "description": "IN-D Payables process invoices to extract key attributes like invoice numbers, vendor name, etc., and the table line items without setting up a template. When it feels less confident about the extraction, it prompts the user to validate the results extracted with an intuitive UI. IN-D Payables continuously learn over time and does support stamped/crumpled invoices, multi-page invoices and multiple invoices in batches",
    "version": "1.0",
    "contact": {
      "name": "IN-D Support",
      "url": "https://one.in-d.ai/developer/",
      "email": "explore@in-d.ai"
    }
  },
  "host": "payables.in-d.ai",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/extract_data": {
      "post": {
        "responses": {
          "200": {
            "description": "Successfull",
            "schema": {
              "type": "object",
              "properties": {
                "batch_details": {
                  "type": "object",
                  "properties": {
                    "batch_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "batch_id (unique id) for invoice",
                      "title": "batch id"
                    },
                    "validation_url": {
                      "type": "string",
                      "description": "validation URL to edit data in the invoice if the confidence score is less",
                      "title": "validation url"
                    },
                    "confidence_score": {
                      "type": "number",
                      "format": "float",
                      "description": "confidence_score for batch (all extracted data from the invoice)",
                      "title": "confidence score"
                    }
                  },
                  "description": "batch_details"
                },
                "num_records": {
                  "type": "integer",
                  "format": "int32",
                  "description": "number of records",
                  "title": "num_records"
                },
                "desc": {
                  "type": "string",
                  "description": "description of any error",
                  "title": "description"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "file_name": {
                        "type": "string",
                        "description": "The filename of the invoice uploaded",
                        "title": "file name"
                      },
                      "invoice_number": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "invoice number extracted from the invoice",
                            "title": "invoice number value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted invoice number from the invoice",
                            "title": "confidence score invoice number"
                          }
                        },
                        "description": "invoice_number"
                      },
                      "invoice_date": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "invoice date extracted from the invoice",
                            "title": "invoice date value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted invoice date from the invoice",
                            "title": "confidence score invoice date"
                          }
                        },
                        "description": "invoice_date"
                      },
                      "po_number": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "po number extracted from the invoice",
                            "title": "po number value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted po number from the invoice",
                            "title": "confidence score po number"
                          }
                        },
                        "description": "po_number"
                      },
                      "vendor_name": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "vendor name extracted from the invoice",
                            "title": "vendor name value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted vendor name from the invoice",
                            "title": "confidence score vendor name"
                          }
                        },
                        "description": "vendor_name"
                      },
                      "vendor_address": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "vendor address extracted from the invoice",
                            "title": "vendor address value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted vendor address from the invoice",
                            "title": "confidence score vendor address"
                          }
                        },
                        "description": "vendor_address"
                      },
                      "customer_name": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "customer name extracted from the invoice",
                            "title": "customer name value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted customer name from the invoice",
                            "title": "confidence score customer name"
                          }
                        },
                        "description": "customer_name"
                      },
                      "customer_address": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "customer address extracted from the invoice",
                            "title": "customer address value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for customer address extracted from the invoice",
                            "title": "confidence score customer address"
                          }
                        },
                        "description": "customer_address"
                      },
                      "total_amount": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "total amount extracted from the invoice",
                            "title": "total amount value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted total amount from the invoice",
                            "title": "confidence score total amount"
                          }
                        },
                        "description": "total_amount"
                      },
                      "subtotal_amount": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "subtotal amount extracted from the invoice",
                            "title": "subtotal amount value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted subtotal amount from the invoice",
                            "title": "confidence score subtotal amount"
                          }
                        },
                        "description": "subtotal_amount"
                      },
                      "tax_amount": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "tax amount extracted from the invoice",
                            "title": "tax amount value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted tax amount from the invoice",
                            "title": "confidence score tax amount"
                          }
                        },
                        "description": "tax_amount"
                      },
                      "sgst": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "sgst extracted from the invoice",
                            "title": "sgst value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted sgst from the invoice",
                            "title": "confidence score sgst"
                          }
                        },
                        "description": "sgst"
                      },
                      "cgst": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "cgst extracted from the invoice",
                            "title": "cgst value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted cgst from the invoice",
                            "title": "confidence score cgst"
                          }
                        },
                        "description": "cgst"
                      },
                      "igst": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "igst extracted from the invoice",
                            "title": "igst value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for extracted igst from the invoice",
                            "title": "confidence score igst"
                          }
                        },
                        "description": "igst"
                      },
                      "vendor_gstin": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "vendor gstin extracted from the invoice",
                            "title": "vendor gstin value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for vendor gstin extracted from the invoice",
                            "title": "confidence score vendor gstin"
                          }
                        },
                        "description": "vendor_gstin"
                      },
                      "customer_gstin": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "customer gstin extracted from the invoice",
                            "title": "customer gstin value"
                          },
                          "conf_score": {
                            "type": "number",
                            "format": "float",
                            "description": "The confidence score for customer gstin extracted from the invoice",
                            "title": "confidence score customer gstin"
                          }
                        },
                        "description": "customer_gstin"
                      },
                      "tabledata": {
                        "type": "object",
                        "properties": {
                          "columns": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The first row of the table is considered as the Header for each Column"
                          },
                          "data": {
                            "type": "array",
                            "items": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "description": "Each item corresponds to the values extracted in a row against the Header items"
                          }
                        },
                        "description": "The line items in the Table is extracted"
                      }
                    }
                  },
                  "description": "The Result Data for the whole batch of invoices"
                }
              }
            }
          },
          "400": {
            "description": "Invalid URL or base64 string",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Invalid URL or base64 string",
                  "title": "message"
                }
              }
            }
          },
          "403": {
            "description": "Authorization headers or api key given wrongly",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "headers or api key is wrong",
                  "title": "message"
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Internal server error",
                  "title": "message"
                }
              }
            }
          }
        },
        "summary": "Invoice process",
        "operationId": "InvoiceCapture",
        "description": "Process invoices to extract only the useful details like invoice numbers, PO number, vendor name, etc., and the line items in the table automatically without a need to input a template.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type of post request",
            "x-ms-summary": "Content-Type of request"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "payload": {
                    "type": "string",
                    "description": "payload",
                    "title": "Base64 content file",
                    "format": "byte"
                  }
                },
                "required": [
                  "payload"
                ]
              },
              "required": [
                "items"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.in-d.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.in-d.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ]
}


