{
  "swagger": "2.0",
  "info": {
    "title": "1pt",
    "description": "1pt is a URL shortening service and hosts over 15,000+ redirects with 200,000+ visits.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "csclub.uwaterloo.ca",
  "basePath": "/~phthakka/1pt-express",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/addURL": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The status message.",
                  "title": "Message"
                },
                "short": {
                  "type": "string",
                  "description": "The short path.",
                  "title": "Short"
                },
                "long": {
                  "type": "string",
                  "description": "The complete URL shortened.",
                  "title": "Long"
                }
              }
            }
          }
        },
        "summary": "Add URL",
        "description": "Create a short URL redirect.",
        "operationId": "URLGet",
        "parameters": [
          {
            "name": "long",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The complete URL to shorten.",
            "x-ms-summary": "URL"
          },
          {
            "name": "short",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The requested short URL path.",
            "x-ms-summary": "Short"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://1pt.co/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://1pt.co/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media;Website"
    }
  ]
}