{
  "swagger": "2.0",
  "info": {
    "title": "lexoffice",
    "description": "",
    "version": "0.1"
  },
  "host": "api.lexoffice.io",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/profile": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "organizationId": {
                  "type": "string",
                  "description": "organizationId"
                },
                "companyName": {
                  "type": "string",
                  "description": "companyName"
                },
                "created": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string",
                      "description": "userId"
                    },
                    "userName": {
                      "type": "string",
                      "description": "userName"
                    },
                    "userEmail": {
                      "type": "string",
                      "description": "userEmail"
                    },
                    "date": {
                      "type": "string",
                      "description": "date"
                    }
                  },
                  "description": "created"
                },
                "connectionId": {
                  "type": "string",
                  "description": "connectionId"
                },
                "taxType": {
                  "type": "string",
                  "description": "taxType"
                },
                "smallBusiness": {
                  "type": "boolean",
                  "description": "smallBusiness"
                }
              }
            }
          }
        },
        "summary": "Profildaten abrufen",
        "operationId": "Profile",
        "description": "Ruft die Profildaten des Keys ab",
        "parameters": []
      }
    },
    "/quotations": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "resourceUri": {
                  "type": "string",
                  "description": "resourceUri"
                },
                "createdDate": {
                  "type": "string",
                  "description": "createdDate"
                },
                "updatedDate": {
                  "type": "string",
                  "description": "updatedDate"
                },
                "version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "version"
                }
              }
            }
          }
        },
        "summary": "Entwurfsrechnung erstellen",
        "operationId": "Create_Quotation",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "organizationId": {
                  "type": "string",
                  "description": "organizationId"
                },
                "version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "version"
                },
                "language": {
                  "type": "string",
                  "description": "language",
                  "title": "",
                  "default": "de",
                  "x-ms-visibility": "internal"
                },
                "voucherDate": {
                  "type": "string",
                  "description": "voucherDate",
                  "title": "Angebotsdatum"
                },
                "expirationDate": {
                  "type": "string",
                  "description": "expirationDate",
                  "title": "Gültigkeitsdatum"
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "contactId": {
                      "type": "string",
                      "description": "contactId"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "street": {
                      "type": "string",
                      "description": "street"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "zip": {
                      "type": "string",
                      "description": "zip"
                    },
                    "countryCode": {
                      "type": "string",
                      "description": "countryCode"
                    }
                  },
                  "description": "address"
                },
                "lineItems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "type",
                        "title": "",
                        "default": "custom"
                      },
                      "name": {
                        "type": "string",
                        "description": "name",
                        "title": ""
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "quantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "quantity"
                      },
                      "unitName": {
                        "type": "string",
                        "description": "unitName"
                      },
                      "unitPrice": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "currency",
                            "title": "Währung",
                            "default": "EUR"
                          },
                          "netAmount": {
                            "type": "number",
                            "format": "float",
                            "description": "netAmount"
                          },
                          "grossAmount": {
                            "type": "number",
                            "format": "float",
                            "description": "grossAmount",
                            "title": "MwSt. Satz",
                            "enum": [
                              0,
                              5,
                              7,
                              16,
                              19
                            ],
                            "default": 19
                          },
                          "taxRatePercentage": {
                            "type": "integer",
                            "format": "int32",
                            "description": "taxRatePercentage",
                            "title": "Steuersatz"
                          }
                        },
                        "description": "unitPrice",
                        "required": [
                          "currency",
                          "taxRatePercentage",
                          "grossAmount"
                        ]
                      },
                      "discountPercentage": {
                        "type": "integer",
                        "format": "int32",
                        "description": "discountPercentage"
                      },
                      "lineItemAmount": {
                        "type": "number",
                        "format": "float",
                        "description": "lineItemAmount"
                      },
                      "subItems": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            },
                            "quantity": {
                              "type": "integer",
                              "format": "int32",
                              "description": "quantity"
                            },
                            "unitName": {
                              "type": "string",
                              "description": "unitName"
                            },
                            "unitPrice": {
                              "type": "object",
                              "properties": {
                                "currency": {
                                  "type": "string",
                                  "description": "currency"
                                },
                                "netAmount": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "netAmount"
                                },
                                "grossAmount": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "grossAmount"
                                },
                                "taxRatePercentage": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "taxRatePercentage"
                                }
                              },
                              "description": "unitPrice"
                            },
                            "discountPercentage": {
                              "type": "integer",
                              "format": "int32",
                              "description": "discountPercentage"
                            },
                            "lineItemAmount": {
                              "type": "number",
                              "format": "float",
                              "description": "lineItemAmount"
                            },
                            "alternative": {
                              "type": "boolean",
                              "description": "alternative"
                            },
                            "optional": {
                              "type": "boolean",
                              "description": "optional"
                            }
                          }
                        },
                        "description": "subItems"
                      },
                      "alternative": {
                        "type": "boolean",
                        "description": "alternative"
                      },
                      "optional": {
                        "type": "boolean",
                        "description": "optional"
                      }
                    },
                    "required": [
                      "name",
                      "type",
                      "unitPrice"
                    ]
                  },
                  "description": "lineItems"
                },
                "totalPrice": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "description": "currency",
                      "title": "",
                      "default": "EUR",
                      "x-ms-visibility": "internal"
                    },
                    "totalNetAmount": {
                      "type": "number",
                      "format": "float",
                      "description": "totalNetAmount"
                    },
                    "totalGrossAmount": {
                      "type": "number",
                      "format": "float",
                      "description": "totalGrossAmount"
                    },
                    "totalTaxAmount": {
                      "type": "number",
                      "format": "float",
                      "description": "totalTaxAmount"
                    }
                  },
                  "description": "totalPrice",
                  "required": [
                    "currency"
                  ]
                },
                "taxAmounts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "taxRatePercentage": {
                        "type": "integer",
                        "format": "int32",
                        "description": "taxRatePercentage"
                      },
                      "taxAmount": {
                        "type": "number",
                        "format": "float",
                        "description": "taxAmount"
                      },
                      "netAmount": {
                        "type": "number",
                        "format": "float",
                        "description": "netAmount"
                      }
                    }
                  },
                  "description": "taxAmounts"
                },
                "taxConditions": {
                  "type": "object",
                  "properties": {
                    "taxType": {
                      "type": "string",
                      "description": "taxType",
                      "title": "",
                      "enum": [
                        "net",
                        "gross"
                      ],
                      "default": "net"
                    }
                  },
                  "description": "taxConditions",
                  "required": [
                    "taxType"
                  ]
                },
                "paymentConditions": {
                  "type": "object",
                  "properties": {
                    "paymentTermLabel": {
                      "type": "string",
                      "description": "paymentTermLabel"
                    },
                    "paymentTermDuration": {
                      "type": "integer",
                      "format": "int32",
                      "description": "paymentTermDuration"
                    },
                    "paymentDiscountConditions": {
                      "type": "object",
                      "properties": {
                        "discountPercentage": {
                          "type": "integer",
                          "format": "int32",
                          "description": "discountPercentage"
                        },
                        "discountRange": {
                          "type": "integer",
                          "format": "int32",
                          "description": "discountRange"
                        }
                      },
                      "description": "paymentDiscountConditions"
                    }
                  },
                  "description": "paymentConditions"
                },
                "introduction": {
                  "type": "string",
                  "description": "introduction"
                },
                "remark": {
                  "type": "string",
                  "description": "remark"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                }
              },
              "required": [
                "voucherDate",
                "expirationDate",
                "lineItems",
                "language",
                "totalPrice",
                "taxConditions"
              ]
            }
          }
        ],
        "description": "Erstellt eine Rechnung in lexoffice"
      }
    },
    "/contacts": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "resourceUri": {
                  "type": "string",
                  "description": "resourceUri"
                },
                "createdDate": {
                  "type": "string",
                  "description": "createdDate"
                },
                "updatedDate": {
                  "type": "string",
                  "description": "updatedDate"
                },
                "version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "version"
                }
              }
            }
          }
        },
        "summary": "Kontakt anlegen",
        "description": "Legt einen Kontakt in lexoffice an",
        "operationId": "Create_contact",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "version",
                  "title": "",
                  "default": 0,
                  "x-ms-visibility": "internal"
                },
                "roles": {
                  "type": "object",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "properties": {
                    "customer": {
                      "type": "object",
                      "title": "",
                      "default": {},
                      "x-ms-visibility": "internal",
                      "properties": {},
                      "description": "customer"
                    }
                  },
                  "required": [
                    "customer"
                  ],
                  "description": "roles"
                },
                "company": {
                  "type": "object",
                  "title": "",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Firmenname",
                      "x-ms-visibility": "important"
                    },
                    "taxNumber": {
                      "type": "string",
                      "description": "taxNumber"
                    },
                    "vatRegistrationId": {
                      "type": "string",
                      "description": "vatRegistrationId"
                    },
                    "allowTaxFreeInvoices": {
                      "type": "boolean",
                      "description": "allowTaxFreeInvoices"
                    },
                    "contactPersons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "salutation": {
                            "type": "string",
                            "description": "salutation",
                            "title": "",
                            "enum": [
                              "Herr",
                              "Frau"
                            ]
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Vorname"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Nachname"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "primary",
                            "title": "",
                            "enum": [
                              true,
                              false
                            ],
                            "default": true
                          },
                          "emailAddress": {
                            "type": "string",
                            "description": "emailAddress"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "phoneNumber"
                          }
                        }
                      },
                      "description": "contactPersons",
                      "required": [
                        "name"
                      ]
                    }
                  },
                  "description": "company"
                },
                "addresses": {
                  "type": "object",
                  "title": "",
                  "properties": {
                    "billing": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "supplement": {
                            "type": "string",
                            "description": "supplement",
                            "title": ""
                          },
                          "street": {
                            "type": "string",
                            "description": "street",
                            "title": ""
                          },
                          "zip": {
                            "type": "string",
                            "description": "zip",
                            "title": ""
                          },
                          "city": {
                            "type": "string",
                            "description": "city",
                            "title": ""
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "countryCode",
                            "title": ""
                          }
                        }
                      },
                      "description": "billing"
                    }
                  },
                  "description": "addresses"
                },
                "note": {
                  "type": "string",
                  "description": "note"
                }
              },
              "required": [
                "version",
                "company",
                "roles"
              ]
            }
          }
        ]
      }
    },
    "/contacts/{id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "organizationId": {
                  "type": "string",
                  "description": "organizationId"
                },
                "version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "version"
                },
                "roles": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "type": "object",
                      "properties": {
                        "number": {
                          "type": "integer",
                          "format": "int32",
                          "description": "number"
                        }
                      },
                      "description": "customer"
                    }
                  },
                  "description": "roles"
                },
                "company": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "contactPersons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "salutation": {
                            "type": "string",
                            "description": "salutation"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "primary"
                          },
                          "emailAddress": {
                            "type": "string",
                            "description": "emailAddress"
                          }
                        }
                      },
                      "description": "contactPersons"
                    }
                  },
                  "description": "company"
                },
                "addresses": {
                  "type": "object",
                  "properties": {
                    "billing": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "street": {
                            "type": "string",
                            "description": "street"
                          },
                          "zip": {
                            "type": "string",
                            "description": "zip"
                          },
                          "city": {
                            "type": "string",
                            "description": "city"
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "countryCode"
                          }
                        }
                      },
                      "description": "billing"
                    }
                  },
                  "description": "addresses"
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
                }
              }
            }
          }
        },
        "summary": "Kontakt abrufen",
        "description": "Ruft einen Kontakt ab",
        "operationId": "Get_Contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "resourceUri": {
                  "type": "string",
                  "description": "resourceUri"
                },
                "createdDate": {
                  "type": "string",
                  "description": "createdDate"
                },
                "updatedDate": {
                  "type": "string",
                  "description": "updatedDate"
                },
                "version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "version"
                }
              }
            }
          }
        },
        "summary": "Kontakt ändern",
        "description": "Ändert einen Kontakt in lexoffice",
        "operationId": "Update_contact",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "version",
                  "title": ""
                },
                "roles": {
                  "type": "object",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "properties": {
                    "customer": {
                      "type": "object",
                      "title": "",
                      "default": {},
                      "x-ms-visibility": "internal",
                      "properties": {},
                      "description": "customer"
                    }
                  },
                  "description": "roles"
                },
                "company": {
                  "type": "object",
                  "title": "",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "name",
                      "title": "Firmenname",
                      "x-ms-visibility": "important"
                    },
                    "taxNumber": {
                      "type": "string",
                      "description": "taxNumber"
                    },
                    "vatRegistrationId": {
                      "type": "string",
                      "description": "vatRegistrationId"
                    },
                    "allowTaxFreeInvoices": {
                      "type": "boolean",
                      "description": "allowTaxFreeInvoices"
                    },
                    "contactPersons": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "salutation": {
                            "type": "string",
                            "description": "salutation",
                            "title": "",
                            "enum": [
                              "Herr",
                              "Frau"
                            ]
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName",
                            "title": "Vorname"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName",
                            "title": "Nachname"
                          },
                          "primary": {
                            "type": "boolean",
                            "description": "primary",
                            "title": "",
                            "enum": [
                              true,
                              false
                            ],
                            "default": true
                          },
                          "emailAddress": {
                            "type": "string",
                            "description": "emailAddress"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "phoneNumber"
                          }
                        }
                      },
                      "description": "contactPersons"
                    }
                  },
                  "description": "company"
                },
                "addresses": {
                  "type": "object",
                  "title": "",
                  "properties": {
                    "billing": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "supplement": {
                            "type": "string",
                            "description": "supplement",
                            "title": ""
                          },
                          "street": {
                            "type": "string",
                            "description": "street",
                            "title": ""
                          },
                          "zip": {
                            "type": "string",
                            "description": "zip",
                            "title": ""
                          },
                          "city": {
                            "type": "string",
                            "description": "city",
                            "title": ""
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "countryCode",
                            "title": ""
                          }
                        }
                      },
                      "description": "billing"
                    }
                  },
                  "description": "addresses"
                },
                "note": {
                  "type": "string",
                  "description": "note"
                }
              },
              "required": [
                "version"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API-Schlüssel": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API-Schlüssel": []
    }
  ],
  "tags": []
}