{
  "swagger": "2.0",
  "info": {
    "title": "Lettria",
    "description": "Whether you want to automate a manual task or gain insight from multiple documents, Lettria's text analysis features are designed to find new opportunities in your data. Using the service, you can easily understand text data that is given as input to the service, using artificial intelligence and natural language processing.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.lettria.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "language": {
                    "type": "string",
                    "description": "The language.",
                    "title": "Language"
                  },
                  "escapeHtml": {
                    "type": "boolean",
                    "description": "Whether to HTML is escaped.",
                    "title": "Escape HTML"
                  },
                  "splitNewLine": {
                    "type": "boolean",
                    "description": "Whether new lines are split.",
                    "title": "Split New Line"
                  },
                  "modules": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The modules.",
                    "title": "Modules"
                  },
                  "source_pure": {
                    "type": "string",
                    "description": "The pure source.",
                    "title": "Source Pure"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "The project identifier.",
                    "title": "Project ID"
                  },
                  "sentences": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "source": {
                          "type": "string",
                          "description": "The source.",
                          "title": "Source"
                        },
                        "source_pure": {
                          "type": "string",
                          "description": "The pure source.",
                          "title": "Source Pure"
                        },
                        "sentence_indexes": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "description": "The sentence indexes.",
                          "title": "Sentence Indexes"
                        },
                        "detail": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "source": {
                                "type": "string",
                                "description": "The source.",
                                "title": "Source"
                              },
                              "source_pure": {
                                "type": "string",
                                "description": "The pure sources.",
                                "title": "Source Pure"
                              },
                              "indexes": {
                                "type": "array",
                                "items": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "description": "The indexes.",
                                "title": "Indexes"
                              },
                              "tag": {
                                "type": "string",
                                "description": "The tag.",
                                "title": "Tag"
                              },
                              "len": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The length.",
                                "title": "Length"
                              },
                              "lemmatizer": {
                                "type": "object",
                                "properties": {
                                  "sens": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The prepositions sens.",
                                    "title": "Sens"
                                  },
                                  "pronom": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The number of pronouns.",
                                    "title": "Pronouns"
                                  },
                                  "designation": {
                                    "type": "array",
                                    "items": {
                                      "type":"string"
                                    },
                                    "description": "The designation.",
                                    "title": "Designation"
                                  },
                                  "possessing": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The possessing.",
                                    "title": "Possessing"
                                  },
                                  "mode": {
                                    "type": "string",
                                    "description": "The mode.",
                                    "title": "Mode"
                                  },
                                  "gender": {
                                    "type": "object",
                                    "properties": {
                                      "male": {
                                        "type": "boolean",
                                        "description": "Whether male.",
                                        "title": "Male"
                                      },
                                      "female": {
                                        "type": "boolean",
                                        "description": "Whether female.",
                                        "title": "Female"
                                      },
                                      "plural": {
                                        "type": "boolean",
                                        "description": "Whether plural.",
                                        "title": "Plural"
                                      }
                                    },
                                    "title": "Gender"
                                  },
                                  "infinit": {
                                    "type": "string",
                                    "description": "The infinities.",
                                    "title": "Infinitives"
                                  },
                                  "conjugate": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "mode": {
                                          "type": "string",
                                          "description": "The mode.",
                                          "title": "Mode"
                                        },
                                        "temps": {
                                          "type": "string",
                                          "description": "The temps.",
                                          "title": "Temps"
                                        },
                                        "pronom": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The pronouns.",
                                          "title": "Pronouns"
                                        },
                                        "modality": {
                                          "type": "string",
                                          "description": "The modality.",
                                          "title": "Modality"
                                        }
                                      }
                                    },
                                    "title": "Conjugate"
                                  },
                                  "transitif": {
                                    "type": "boolean",
                                    "description": "Whether transitive.",
                                    "title": "Transitive"
                                  },
                                  "category": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The category.",
                                    "title": "Category"
                                  }
                                },
                                "title": "Lemmatizer"
                              },
                              "lemma": {
                                "type": "string",
                                "description": "The lemma.",
                                "title": "Lemma"
                              },
                              "index": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The index.",
                                "title": "Index"
                              },
                              "meaning": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "sub": {
                                      "type": "string",
                                      "description": "The sub.",
                                      "title": "Sub"
                                    },
                                    "super": {
                                      "type": "string",
                                      "description": "The super.",
                                      "title": "Super"
                                    },
                                    "intensity": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The intensity.",
                                      "title": "Intensity"
                                    },
                                    "negation": {
                                      "type": "boolean",
                                      "description": "Whether negative.",
                                      "title": "Negative"
                                    },
                                    "origin": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "description": "The origin.",
                                      "title": "Origin"
                                    },
                                    "Inclusion_Exclusion|Addition": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The addition.",
                                      "title": "Addition"
                                    }
                                  }
                                },
                                "title": "Meaning"
                              },
                              "value": {
                                "type": "string",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "dep": {
                                "type": "string",
                                "description": "The dep.",
                                "title": "Dep"
                              },
                              "ref": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The ref.",
                                "title": "Ref"
                              },
                              "transform": {
                                "type": "object",
                                "properties": {
                                  "lemma": {
                                    "type": "string",
                                    "description": "The lemma.",
                                    "title": "Lemma"
                                  },
                                  "tag": {
                                    "type": "string",
                                    "description": "The tag.",
                                    "title": "Tag"
                                  },
                                  "meaning": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "sub": {
                                          "type": "string",
                                          "description": "The sub.",
                                          "title": "Sub"
                                        },
                                        "super": {
                                          "type": "string",
                                          "description": "The super.",
                                          "title": "Super"
                                        },
                                        "intensity": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The intensity.",
                                          "title": "Intensity"
                                        },
                                        "negation": {
                                          "type": "boolean",
                                          "description": "Whether negative.",
                                          "title": "Negative"
                                        },
                                        "origin": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "The origin.",
                                          "title": "Origin"
                                        }
                                      }
                                    },
                                    "title": "Meaning"
                                  },
                                  "extra": {
                                    "type": "object",
                                    "properties": {
                                      "transitif": {
                                        "type": "boolean",
                                        "description": "Whether transitive.",
                                        "title": "Transitive"
                                      },
                                      "subj": {
                                        "type": "string",
                                        "description": "The subject.",
                                        "title": "Subject"
                                      },
                                      "obj": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The object.",
                                        "title": "Object"
                                      },
                                      "obl": {
                                        "type": "string",
                                        "description": "The obl.",
                                        "title": "Obl"
                                      }
                                    },
                                    "title": "Extra"
                                  }
                                },
                                "title": "Transform"
                              },
                              "coreference": {
                                "type": "array",
                                "items": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "description": "The conference.",
                                "title": "Coreference"
                              },
                              "infinit": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The infinitives.",
                                "title": "Infinitives"
                              },
                              "verb_meaning": {
                                "type": "object",
                                "properties": {
                                  "know": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The know.",
                                    "title": "Know"
                                  },
                                  "say": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The say.",
                                    "title": "Say"
                                  },
                                  "look": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The look.",
                                    "title": "Look"
                                  },
                                  "be": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The be.",
                                    "title": "Be"
                                  },
                                  "force": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The force.",
                                    "title": "Force"
                                  },
                                  "fall": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The fall.",
                                    "title": "Fall"
                                  },
                                  "paus": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The pause.",
                                    "title": "Pause"
                                  },
                                  "reflect": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The reflect.",
                                    "title": "Reflect"
                                  },
                                  "think": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The think.",
                                    "title": "Think"
                                  },
                                  "grapple": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The grapple.",
                                    "title": "Grapple"
                                  },
                                  "unnerve": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The unnerve.",
                                    "title": "Unnerve"
                                  },
                                  "crowd": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The crowd.",
                                    "title": "Crowd"
                                  },
                                  "ponder": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The ponder.",
                                    "title": "Ponder"
                                  },
                                  "hang": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The hang.",
                                    "title": "Hang"
                                  },
                                  "pervad": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The prevent.",
                                    "title": "Pervent"
                                  },
                                  "receive": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The receive.",
                                    "title": "Receive"
                                  },
                                  "torture": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The torture.",
                                    "title": "Torture"
                                  },
                                  "have": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The have.",
                                    "title": "Have"
                                  },
                                  "modify": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The modify.",
                                    "title": "Modify"
                                  },
                                  "pass": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The pass.",
                                    "title": "Pass"
                                  },
                                  "annihilate": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The annihilate.",
                                    "title": "Annihilate"
                                  },
                                  "lie": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The lie.",
                                    "title": "Lie"
                                  },
                                  "find": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The find.",
                                    "title": "Find"
                                  },
                                  "rein": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The rein.",
                                    "title": "Rein"
                                  },
                                  "draw": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The draw.",
                                    "title": "Draw"
                                  },
                                  "compare": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The compare.",
                                    "title": "Compare"
                                  },
                                  "gaze": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The gaze.",
                                    "title": "Gaze"
                                  },
                                  "re-modell": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The remodel.",
                                    "title": "Remodel"
                                  },
                                  "invert": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The invert.",
                                    "title": "Invert"
                                  }
                                },
                                "title": "Verb Meaning"
                              },
                              "auxiliary": {
                                "type": "object",
                                "properties": {
                                  "source": {
                                    "type": "string",
                                    "description": "The source.",
                                    "title": "Source"
                                  },
                                  "lemma": {
                                    "type": "string",
                                    "description": "The lemma.",
                                    "title": "Lemma"
                                  },
                                  "lemmatizer": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "infinit": {
                                            "type": "string",
                                            "description": "The infinitives.",
                                            "title": "Infinitives"
                                          },
                                          "conjugate": {
                                            "type": "array",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "mode": {
                                                  "type": "string",
                                                  "description": "The mode.",
                                                  "title": "Mode"
                                                },
                                                "temps": {
                                                  "type": "string",
                                                  "description": "The temps.",
                                                  "title": "Temps"
                                                },
                                                "pronom": {
                                                  "type": "integer",
                                                  "format": "int32",
                                                  "description": "The pronouns.",
                                                  "title": "Pronouns"
                                                },
                                                "modality": {
                                                  "type": "string",
                                                  "description": "The modality.",
                                                  "title": "Modality"
                                                }
                                              }
                                            },
                                            "title": "Conjugate"
                                          },
                                          "transitif": {
                                            "type": "boolean",
                                            "description": "Whether transitive.",
                                            "title": "Transitive"
                                          }
                                        }
                                      }
                                    },
                                    "title": "Lemmatizer"
                                  }
                                },
                                "title": "Auxiliary"
                              }
                            }
                          },
                          "title": "Detail"
                        },
                        "subsentences": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "start_id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The start identifier.",
                                "title": "Start ID"
                              },
                              "end_id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The end identifier.",
                                "title": "End ID"
                              },
                              "start_indexes": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The start indexes.",
                                "title": "Start Indexes"
                              },
                              "end_indexes": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The end indexes.",
                                "title": "End Indexes"
                              }
                            }
                          },
                          "title": "Subsentences"
                        },
                        "ml_ner": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "entity": {
                                "type": "string",
                                "description": "The entity.",
                                "title": "Entity"
                              },
                              "source": {
                                "type": "string",
                                "description": "The source.",
                                "title": "Source"
                              },
                              "value": {
                                "type": "string",
                                "description": "The value.",
                                "title": "Value"
                              },
                              "index": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The index.",
                                "title": "Index"
                              }
                            }
                          },
                          "title": "ML NER"
                        },
                        "ml_sentiment": {
                          "type": "object",
                          "properties": {
                            "sentence": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The value.",
                                  "title": "Value"
                                }
                              },
                              "title": "Sentence"
                            },
                            "subsentence": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "float"
                              },
                              "description": "The subsentence.",
                              "title": "Subsentence"
                            }
                          },
                          "title": "ML Sentiment"
                        },
                        "ml_emotion": {
                          "type": "object",
                          "properties": {
                            "sentence": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "The type.",
                                    "title": "Type"
                                  },
                                  "value": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The value.",
                                    "title": "Value"
                                  }
                                }
                              },
                              "title": "Sentence"
                            },
                            "subsentence": {
                              "type": "array",
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "value": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The value.",
                                      "title": "Value"
                                    }
                                  }
                                }
                              },
                              "title": "Subsentence"
                            }
                          },
                          "title": "ML Emotion"
                        },
                        "coreference": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "description": "The coreference.",
                          "title": "Coreference"
                        },
                        "sentiment": {
                          "type": "object",
                          "properties": {
                            "subsentences": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "start_id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The start identifier.",
                                    "title": "Start ID"
                                  },
                                  "end_id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The end identifier.",
                                    "title": "End ID"
                                  },
                                  "start_indexes": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The start indexes.",
                                    "title": "Start Indexes"
                                  },
                                  "end_indexes": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The end indexes.",
                                    "title": "End Indexes"
                                  },
                                  "elements": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "target": {
                                          "type": "object",
                                          "properties": {
                                            "lemma": {
                                              "type": "string",
                                              "description": "The lemma.",
                                              "title": "Lemma"
                                            },
                                            "source": {
                                              "type": "string",
                                              "description": "The source.",
                                              "title": "Source"
                                            },
                                            "index": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The index.",
                                              "title": "Index"
                                            }
                                          },
                                          "title": "Target"
                                        },
                                        "subject": {
                                          "type": "string",
                                          "description": "The subject.",
                                          "title": "Subject"
                                        },
                                        "source": {
                                          "type": "object",
                                          "properties": {
                                            "index": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The index.",
                                              "title": "Index"
                                            },
                                            "lemma": {
                                              "type": "string",
                                              "description": "The lemma.",
                                              "title": "Lemma"
                                            },
                                            "source": {
                                              "type": "string",
                                              "description": "The source.",
                                              "title": "Source"
                                            }
                                          },
                                          "title": "Source"
                                        },
                                        "value": {
                                          "type": "number",
                                          "format": "float",
                                          "description": "The value.",
                                          "title": "Value"
                                        }
                                      }
                                    },
                                    "title": "Elements"
                                  },
                                  "sentence": {
                                    "type": "string",
                                    "description": "The sentence.",
                                    "title": "Sentence"
                                  },
                                  "values": {
                                    "type": "object",
                                    "properties": {
                                      "positive": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "The positive.",
                                        "title": "Positive"
                                      },
                                      "negative": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The negative.",
                                        "title": "Negative"
                                      },
                                      "total": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "The total.",
                                        "title": "Total"
                                      }
                                    },
                                    "title": "Values"
                                  }
                                }
                              },
                              "title": "Subsentences"
                            },
                            "values": {
                              "type": "object",
                              "properties": {
                                "positive": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The positive.",
                                  "title": "Positive"
                                },
                                "negative": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The negative.",
                                  "title": "Negative"
                                },
                                "total": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The total.",
                                  "title": "Total"
                                }
                              },
                              "title": "Values"
                            },
                            "elements": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "target": {
                                    "type": "object",
                                    "properties": {
                                      "lemma": {
                                        "type": "string",
                                        "description": "The lemma.",
                                        "title": "Lemma"
                                      },
                                      "source": {
                                        "type": "string",
                                        "description": "The source.",
                                        "title": "Source"
                                      },
                                      "index": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The index.",
                                        "title": "Index"
                                      }
                                    },
                                    "title": "Target"
                                  },
                                  "subject": {
                                    "type": "string",
                                    "description": "The subject.",
                                    "title": "Subject"
                                  },
                                  "source": {
                                    "type": "object",
                                    "properties": {
                                      "index": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The index.",
                                        "title": "Index"
                                      },
                                      "lemma": {
                                        "type": "string",
                                        "description": "The lemma.",
                                        "title": "Lemma"
                                      },
                                      "source": {
                                        "type": "string",
                                        "description": "The source.",
                                        "title": "Source"
                                      }
                                    },
                                    "title": "Source"
                                  },
                                  "value": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The value.",
                                    "title": "Value"
                                  }
                                }
                              },
                              "title": "Elements"
                            }
                          },
                          "title": "Sentiment"
                        },
                        "emotion": {
                          "type": "object",
                          "properties": {
                            "subsentences": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "start_id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The start identifier.",
                                    "title": "Start ID"
                                  },
                                  "end_id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The end identifier.",
                                    "title": "End ID"
                                  },
                                  "start_indexes": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The start indexes.",
                                    "title": "Start Indexes"
                                  },
                                  "end_indexes": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The end indexes.",
                                    "title": "End Indexes"
                                  },
                                  "elements": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "target": {
                                          "type": "object",
                                          "properties": {
                                            "lemma": {
                                              "type": "string",
                                              "description": "The lemma.",
                                              "title": "Lemma"
                                            },
                                            "source": {
                                              "type": "string",
                                              "description": "The source.",
                                              "title": "Source"
                                            },
                                            "index": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The index.",
                                              "title": "Index"
                                            }
                                          },
                                          "title": "Target"
                                        },
                                        "subject": {
                                          "type": "string",
                                          "description": "The subject.",
                                          "title": "Subject"
                                        },
                                        "source": {
                                          "type": "object",
                                          "properties": {
                                            "index": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The index.",
                                              "title": "Index"
                                            },
                                            "lemma": {
                                              "type": "string",
                                              "description": "The lemma.",
                                              "title": "Lemma"
                                            },
                                            "source": {
                                              "type": "string",
                                              "description": "The source.",
                                              "title": "Source"
                                            }
                                          },
                                          "title": "Source"
                                        },
                                        "value": {
                                          "type": "object",
                                          "properties": {
                                            "nervousness": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The nervousness.",
                                              "title": "Nervousness"
                                            },
                                            "neutral": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The neutral.",
                                              "title": "Neutral"
                                            },
                                            "confusion": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The confusion.",
                                              "title": "Confusion"
                                            },
                                            "disappointment": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The disappointment.",
                                              "title": "Disappointment"
                                            },
                                            "fear": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The fear.",
                                              "title": "Fear"
                                            },
                                            "realization": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The realization.",
                                              "title": "Realization"
                                            },
                                            "sadness": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The sadness.",
                                              "title": "Sadness"
                                            },
                                            "approval": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The approval.",
                                              "title": "Approval"
                                            },
                                            "optimism": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The optimism.",
                                              "title": "Optimism"
                                            },
                                            "curiosity": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The curiosity.",
                                              "title": "Curiosity"
                                            }
                                          },
                                          "title": "Value"
                                        }
                                      }
                                    },
                                    "title": "Elements"
                                  },
                                  "sentence": {
                                    "type": "string",
                                    "description": "The sentence.",
                                    "title": "Sentence"
                                  },
                                  "values": {
                                    "type": "object",
                                    "properties": {
                                      "nervousness": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The nervousness.",
                                        "title": "Nervousness"
                                      },
                                      "neutral": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The neutral.",
                                        "title": "Neutral"
                                      },
                                      "confusion": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The confusion.",
                                        "title": "Confusion"
                                      },
                                      "anger": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The anger.",
                                        "title": "Anger"
                                      },
                                      "curiosity": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The curiosity.",
                                        "title": "Curiosity"
                                      },
                                      "disappointment": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The disappointment.",
                                        "title": "Disappointment"
                                      },
                                      "desire": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The desire.",
                                        "title": "Desire"
                                      },
                                      "optimism": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The optimism.",
                                        "title": "Optimism"
                                      },
                                      "realization": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The realization.",
                                        "title": "Realization"
                                      },
                                      "grief": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The grief.",
                                        "title": "Grief"
                                      },
                                      "remorse": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The remorse.",
                                        "title": "Remorse"
                                      },
                                      "sadness": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The sadness.",
                                        "title": "Sadness"
                                      },
                                      "fear": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The fear.",
                                        "title": "Fear"
                                      },
                                      "approval": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The approval.",
                                        "title": "Approval"
                                      }
                                    },
                                    "title": "Values"
                                  }
                                }
                              },
                              "title": "Subsentences"
                            },
                            "values": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "The type.",
                                    "title": "Type"
                                  },
                                  "value": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The value.",
                                    "title": "Value"
                                  }
                                }
                              },
                              "title": "Values"
                            },
                            "elements": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "target": {
                                    "type": "object",
                                    "properties": {
                                      "lemma": {
                                        "type": "string",
                                        "description": "The lemma.",
                                        "title": "Lemma"
                                      },
                                      "source": {
                                        "type": "string",
                                        "description": "The source.",
                                        "title": "Source"
                                      },
                                      "index": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The index.",
                                        "title": "Index"
                                      }
                                    },
                                    "title": "Target"
                                  },
                                  "subject": {
                                    "type": "string",
                                    "description": "The subject.",
                                    "title": "Subject"
                                  },
                                  "source": {
                                    "type": "object",
                                    "properties": {
                                      "index": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The index.",
                                        "title": "Index"
                                      },
                                      "lemma": {
                                        "type": "string",
                                        "description": "The lemma.",
                                        "title": "Lemma"
                                      },
                                      "source": {
                                        "type": "string",
                                        "description": "The source.",
                                        "title": "Source"
                                      }
                                    },
                                    "title": "Source"
                                  },
                                  "value": {
                                    "type": "object",
                                    "properties": {
                                      "nervousness": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The nervousness.",
                                        "title": "Nervousness"
                                      },
                                      "neutral": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The neutral.",
                                        "title": "Neutral"
                                      },
                                      "confusion": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The confusion.",
                                        "title": "Confusion"
                                      },
                                      "disappointment": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The disappointment.",
                                        "title": "Disappointment"
                                      },
                                      "fear": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The fear.",
                                        "title": "Fear"
                                      },
                                      "realization": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The realization.",
                                        "title": "Realization"
                                      },
                                      "sadness": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The sadness.",
                                        "title": "Sadness"
                                      },
                                      "curiosity": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The curiosity.",
                                        "title": "Curiosity"
                                      },
                                      "approval": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The approval.",
                                        "title": "Approval"
                                      },
                                      "optimism": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The optimism.",
                                        "title": "Optimism"
                                      }
                                    },
                                    "title": "Value"
                                  }
                                }
                              },
                              "title": "Elements"
                            }
                          },
                          "title": "Emotion"
                        },
                        "sentence_type": {
                          "type": "string",
                          "description": "The sentence type.",
                          "title": "Type"
                        }
                      }
                    },
                    "title": "Sentences"
                  },
                  "emoticon": {
                    "type": "object",
                    "properties": {
                      "happy": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The happy.",
                        "title": "Happy"
                      },
                      "very_happy": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The very happy.",
                        "title": "Very Happy"
                      },
                      "laugh": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The laugh.",
                        "title": "Laugh"
                      },
                      "sad": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The sad.",
                        "title": "Sad"
                      },
                      "very_sad": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The very sad.",
                        "title": "Very Sad"
                      },
                      "lol": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The LOL.",
                        "title": "LOL"
                      },
                      "cry": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The cry.",
                        "title": "Cry"
                      },
                      "horror": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The horror.",
                        "title": "Horror"
                      },
                      "surprise": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The surprise.",
                        "title": "Surprise"
                      },
                      "kiss": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The kiss.",
                        "title": "Kiss"
                      },
                      "wink": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The wink.",
                        "title": "Wink"
                      },
                      "playful": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The playful.",
                        "title": "Playful"
                      },
                      "hesitant": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The hesitant.",
                        "title": "Hesitant"
                      },
                      "indecision": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The indecision.",
                        "title": "Indecision"
                      },
                      "embarrassed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The embarrassed.",
                        "title": "Embarrassed"
                      },
                      "muted": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The muted.",
                        "title": "Muted"
                      },
                      "angel": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The angel.",
                        "title": "Angel"
                      },
                      "devil": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The devil.",
                        "title": "Devil"
                      },
                      "love": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The love.",
                        "title": "Love"
                      },
                      "notlove": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The not love.",
                        "title": "Not Love"
                      }
                    },
                    "title": "Emoticon"
                  },
                  "emoticon_data": {
                    "type": "array",
                    "items": {
                      "type":"string"
                    },
                    "description": "The emoticon fata.",
                    "title": "Emoticon Data"
                  },
                  "coreference": {
                    "type": "object",
                    "properties": {
                      "spans": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "sentence_index": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The sentence index.",
                              "title": "Sentence Index"
                            },
                            "token_indexes": {
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "description": "The token indexes.",
                              "title": "Token Indexes"
                            },
                            "cluster_index": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The cluster index.",
                              "title": "Cluster Index"
                            }
                          }
                        },
                        "title": "Spans"
                      },
                      "clusters": {
                        "type": "array",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "format": "int32"
                          }
                        },
                        "description": "The clusters",
                        "title": "Clusters"
                      }
                    },
                    "title": "Coreference"
                  },
                  "sentiment": {
                    "type": "number",
                    "format": "float",
                    "description": "The sentiment.",
                    "title": "Sentiment"
                  },
                  "emotion": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "value": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The value.",
                          "title": "Value"
                        }
                      }
                    },
                    "title": "Emotion"
                  }
                }
              }
            }
          }
        },
        "summary": "Comprehend text",
        "description": "Retrieve the comprehension for the provided text.",
        "operationId": "ComprehendPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The documents.",
                  "title": "Documents"
                }
              }
            }
          }
        ]
      }
    },
    "/nls/classification": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "train_name": {
                        "type": "string",
                        "description": "The train name.",
                        "title": "Train Name"
                      },
                      "train_date": {
                        "type": "string",
                        "description": "The train date.",
                        "title": "Train Date"
                      },
                      "project_id": {
                        "type": "string",
                        "description": "The project identifier.",
                        "title": "Project ID"
                      }
                    },
                    "title": "Metadata"
                  },
                  "data": {
                    "type": "array",
                    "items": {
                      "type":"string"
                    },
                    "description": "The data.",
                    "title": "Data"
                  },
                  "nlc": {
                    "type": "object",
                    "properties": {
                      "language": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "escapeHtml": {
                        "type": "boolean",
                        "description": "Whether the HTML is escaped.",
                        "title": "Escape HTML"
                      },
                      "splitNewLine": {
                        "type": "boolean",
                        "description": "Whether new lines are split.",
                        "title": "Split New Line"
                      },
                      "modules": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The modules.",
                        "title": "Modules"
                      },
                      "source_pure": {
                        "type": "string",
                        "description": "The pure source.",
                        "title": "Source Pure"
                      },
                      "projectId": {
                        "type": "string",
                        "description": "The project identifier.",
                        "title": "Project ID"
                      },
                      "domain": {
                        "type": "string",
                        "description": "The domain.",
                        "title": "Domain"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "sentences": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "source": {
                              "type": "string",
                              "description": "The source.",
                              "title": "Source"
                            },
                            "source_pure": {
                              "type": "string",
                              "description": "The pure source.",
                              "title": "Source Pure"
                            },
                            "sentence_indexes": {
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "description": "The sentence indexes.",
                              "title": "Sentence Indexes"
                            },
                            "detail": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "source": {
                                    "type": "string",
                                    "description": "The source.",
                                    "title": "Source"
                                  },
                                  "source_pure": {
                                    "type": "string",
                                    "description": "The pure source.",
                                    "title": "Source Pure"
                                  },
                                  "indexes": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The indexes.",
                                    "title": "Indexes"
                                  },
                                  "tag": {
                                    "type": "string",
                                    "description": "The tag.",
                                    "title": "Tag"
                                  },
                                  "len": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The length.",
                                    "title": "Length"
                                  },
                                  "lemmatizer": {
                                    "type": "object",
                                    "properties": {
                                      "sens": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "description": "The preposition sens.",
                                        "title": "Sens"
                                      },
                                      "pronom": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The pronouns.",
                                        "title": "Pronouns"
                                      },
                                      "designation": {
                                        "type": "array",
                                        "items": {
                                          "type":"string"
                                        },
                                        "description": "The designation.",
                                        "title": "Designation"
                                      },
                                      "possessing": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The possessing.",
                                        "title": "Possessing"
                                      },
                                      "mode": {
                                        "type": "string",
                                        "description": "The mode.",
                                        "title": "Mode"
                                      },
                                      "gender": {
                                        "type": "object",
                                        "properties": {
                                          "male": {
                                            "type": "boolean",
                                            "description": "Whether male.",
                                            "title": "Male"
                                          },
                                          "female": {
                                            "type": "boolean",
                                            "description": "Whether female.",
                                            "title": "Female"
                                          },
                                          "plural": {
                                            "type": "boolean",
                                            "description": "Whether plural.",
                                            "title": "Plural"
                                          }
                                        },
                                        "title": "Gender"
                                      },
                                      "infinit": {
                                        "type": "string",
                                        "description": "The infinitives.",
                                        "title": "Infinitives"
                                      },
                                      "conjugate": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "mode": {
                                              "type": "string",
                                              "description": "The mode.",
                                              "title": "Mode"
                                            },
                                            "temps": {
                                              "type": "string",
                                              "description": "The temps.",
                                              "title": "Temps"
                                            },
                                            "pronom": {
                                              "type": "integer",
                                              "format": "int32",
                                              "description": "The pronouns.",
                                              "title": "Pronouns"
                                            },
                                            "modality": {
                                              "type": "string",
                                              "description": "The modality.",
                                              "title": "Modality"
                                            }
                                          }
                                        },
[...]
