{
  "swagger": "2.0",
  "info": {
    "title": "Owlbot",
    "description": "Owlbot searches the internet to index information and making them accessible. Currently, it offers an English dictionary.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "owlbot.info",
  "basePath": "/api/v4/dictionary/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{word}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "word": {
                  "type": "string",
                  "description": "The word.",
                  "title": "word"
                },
                "pronunciation": {
                  "type": "string",
                  "description": "The pronunciation.",
                  "title": "pronunciation"
                },
                "definitions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "type"
                      },
                      "definition": {
                        "type": "string",
                        "description": "The definition.",
                        "title": "definition"
                      },
                      "example": {
                        "type": "string",
                        "description": "The example.",
                        "title": "example"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "The image URL address.",
                        "title": "image_url"
                      },
                      "emoji": {
                        "type": "string",
                        "description": "The emoji.",
                        "title": "emoji"
                      }
                    }
                  },
                  "title": "definitions"
                }
              }
            }
          }
        },
        "summary": "Get a definition",
        "description": "Retrieves the definition of a word, as well as pronunciation, picture, example sentence, and emoji if available.",
        "operationId": "Def",
        "parameters": [
          {
            "name": "word",
            "in": "path",
            "x-ms-summary": "Word",
            "x-ms-url-encoding": "single",
            "description": "The word to define.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://owlbot.info/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://owlbot.info/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}