{
  "swagger": "2.0",
  "info": {
    "title": "Reflect",
    "description": "Reflect is a beautiful note-taking tool designed to help you think. Mirror the way your mind works by associating notes through backlinks. Reflect builds you a second brain that you can reference anytime.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "reflect.app",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/graphs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "acl": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The ACL.",
                    "title": "ACL"
                  }
                }
              }
            }
          }
        },
        "summary": "Get graphs",
        "description": "Retrieve all graphs.",
        "operationId": "GraphsGet",
        "parameters": []
      }
    },
    "/graphs/{graphId}/books": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "asin": {
                    "type": "string",
                    "description": "The ASIN number.",
                    "title": "ASIN"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "authors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The authors.",
                    "title": "Authors"
                  },
                  "notes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page.",
                          "title": "Page"
                        },
                        "location": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The location.",
                          "title": "Location"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value.",
                          "title": "Value"
                        }
                      }
                    },
                    "title": "Notes"
                  }
                }
              }
            }
          }
        },
        "summary": "Get books",
        "description": "Retrieve all books for a graph.",
        "operationId": "BooksGet",
        "parameters": [
          {
            "name": "graphId",
            "in": "path",
            "x-ms-summary": "Graph ID",
            "x-ms-url-encoding": "single",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/graphs/{graphId}/links": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL address.",
                    "title": "URL"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "highlights": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The highlights.",
                    "title": "Highlights"
                  }
                }
              }
            }
          }
        },
        "summary": "Get links",
        "description": "Retrieve a list of links for a graph.",
        "operationId": "LinksGet",
        "parameters": [
          {
            "name": "graphId",
            "in": "path",
            "x-ms-summary": "Graph ID",
            "x-ms-url-encoding": "single",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL address.",
                    "title": "URL"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "highlights": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The highlights.",
                    "title": "Highlights"
                  }
                }
              }
            }
          }
        },
        "summary": "Create a link",
        "description": "Creates a new link in a graph.",
        "operationId": "LinkPost",
        "parameters": [
          {
            "name": "graphId",
            "in": "path",
            "x-ms-summary": "Graph ID",
            "x-ms-url-encoding": "single",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "highlights": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The highlights.",
                  "title": "Highlights"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/graphs/{graphId}/daily-notes": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Whether a success.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Append daily note",
        "description": "Appends to your daily note.",
        "operationId": "DailyNotePut",
        "parameters": [
          {
            "name": "graphId",
            "in": "path",
            "x-ms-summary": "Graph ID",
            "x-ms-url-encoding": "single",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "The date.",
                  "title": "Date"
                },
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "transform_type": {
                  "type": "string",
                  "description": "The transform type.",
                  "title": "Transform Type",
                  "default": "list-append",
                  "x-ms-visibility": "internal"
                },
                "list_name": {
                  "type": "string",
                  "description": "The list name.",
                  "title": "List Name"
                }
              },
              "required": [
                "transform_type"
              ]
            }
          }
        ]
      }
    },
    "/graphs/{graphId}/notes": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Whether a success.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Create note",
        "description": "Creates a new note.",
        "operationId": "NotePost",
        "parameters": [
          {
            "name": "graphId",
            "in": "path",
            "x-ms-summary": "Graph ID",
            "x-ms-url-encoding": "single",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "subject": {
                  "type": "string",
                  "description": "The subject.",
                  "title": "Subject"
                },
                "content_markdown": {
                  "type": "string",
                  "description": "The content markdown.",
                  "title": "Content Markdown"
                },
                "pinned": {
                  "type": "boolean",
                  "description": "Whether pinned.",
                  "title": "Pinned"
                }
              },
              "required": [
                "content_markdown",
                "subject"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://reflect.app/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://reflect.app/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ]
}