{
  "swagger": "2.0",
  "info": {
    "title": "Power Assist",
    "description": "Power Assist provides a variety of utility and data manipulation actions to accelerate and empower your Power Platform development.",
    "version": "1.0",
    "contact": {
      "name": "Power Assist Support",
      "url": "https://elevate-digital.com/powerassistsupport/",
      "email": "powerassistsupport@elevate-digital.com"
    }
  },
  "host": "power-automate-helper.p.rapidapi.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/array/sort": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "array",
                  "items": {},
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Sort Array",
        "description": "Perform a simple sort on an array of any data type.",
        "operationId": "ArraySort",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "array": {
                  "type": "array",
                  "items": {},
                  "description": "array"
                }
              },
              "required": [
                "array"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/array/reverse": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "array",
                  "items": {},
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Reverse Array",
        "description": "Reverse the order of an array of any data type.",
        "operationId": "ArrayReverse",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "array": {
                  "type": "array",
                  "items": {},
                  "description": "array"
                }
              },
              "required": [
                "array"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/array/sortByProperty": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "array",
                  "items": {},
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Sort Array of Objects by Property",
        "description": "Accepts an Array of Objects and sorts it by the object Property specified.",
        "operationId": "ArraySortByProperty",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "array": {
                  "type": "array",
                  "items": {},
                  "description": "array",
                  "title": "Array"
                },
                "propertyName": {
                  "type": "string",
                  "description": "propertyName",
                  "title": "Property Name"
                },
                "descending": {
                  "type": "boolean",
                  "description": "Yes/No",
                  "title": "Descending"
                }
              },
              "required": [
                "array",
                "propertyName",
                "descending"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/array/filter": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "array",
                  "items": {},
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Filter Array",
        "description": "Filter an array of any data type based on a specified condition.",
        "operationId": "ArrayFilter",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "array": {
                  "type": "array",
                  "items": {},
                  "description": "array",
                  "title": "Array"
                },
                "propertyName": {
                  "type": "string",
                  "description": "Use the 'this' keyword if your array consists of simple values (rather than Objects).",
                  "title": "Property Name"
                },
                "comparison": {
                  "type": "string",
                  "description": "comparison",
                  "title": "Comparison",
                  "default": "equals",
                  "enum": [
                    "equals",
                    "does not equal",
                    "is greater than",
                    "is greater than or equal to",
                    "is less than",
                    "is less than or equal to",
                    "is null or undefined",
                    "is not null or undefined"
                  ]
                },
                "value": {
                  "description": "The value to compare against.",
                  "title": "Value"
                },
                "valueType": {
                  "type": "string",
                  "description": "IMPORTANT! Specify the Type of the Value provided above. If blank, the Value will be assumed to be a String.",
                  "title": "Value Type",
                  "default": "String",
                  "enum": [
                    "String",
                    "Boolean",
                    "Integer",
                    "Float"
                  ]
                }
              },
              "required": [
                "array",
                "propertyName",
                "comparison"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/array/prepend": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "array",
                  "items": {},
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Prepend to Array",
        "description": "Given an Array and a Value, this action adds the value as the first item in the Array. If an Array is supplied as the Value, a flat array will be returned with each of the items prepended.",
        "operationId": "ArrayPrepend",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "array": {
                  "type": "array",
                  "items": {},
                  "description": "array",
                  "title": "Array"
                },
                "value": {
                  "description": "The Value or Array to prepend",
                  "title": "Value"
                },
                "valueType": {
                  "type": "string",
                  "description": "IMPORTANT! Specify the Type of the Value provided above. If blank, the Value will be assumed to be a String.",
                  "title": "Value Type",
                  "default": "String",
                  "enum": [
                    "String",
                    "Boolean",
                    "Integer",
                    "Float",
                    "Array",
                    "Object"
                  ]
                }
              },
              "required": [
                "array",
                "value"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/array/any": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "boolean",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Check whether Any of the Items in an Array meet a condition",
        "description": "This action returns True if any of the items in an array match a specified condition; otherwise, it returns False.",
        "operationId": "ArrayAny",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "array": {
                  "type": "array",
                  "items": {},
                  "description": "array",
                  "title": "Array"
                },
                "propertyName": {
                  "type": "string",
                  "description": "Use the 'this' keyword if your array consists of simple values (rather than Objects).",
                  "title": "Property Name"
                },
                "comparison": {
                  "type": "string",
                  "description": "comparison",
                  "title": "Comparison",
                  "default": "equals",
                  "enum": [
                    "equals",
                    "does not equal",
                    "is greater than",
                    "is greater than or equal to",
                    "is less than",
                    "is less than or equal to",
                    "is null or undefined",
                    "is not null or undefined"
                  ]
                },
                "value": {
                  "description": "The value to compare against.",
                  "title": "Value"
                },
                "valueType": {
                  "type": "string",
                  "description": "IMPORTANT! Specify the Type of the Value provided above. If blank, the Value will be assumed to be a String.",
                  "title": "Value Type",
                  "default": "String",
                  "enum": [
                    "String",
                    "Boolean",
                    "Integer",
                    "Float"
                  ]
                }
              },
              "required": [
                "array",
                "comparison",
                "propertyName"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/array/every": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "boolean",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Check whether Every item in an Array meets a condition",
        "description": "This action returns True if all of the items in an array match a specified condition; otherwise, it returns False.",
        "operationId": "ArrayEvery",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "array": {
                  "type": "array",
                  "items": {},
                  "description": "array",
                  "title": "Array"
                },
                "propertyName": {
                  "type": "string",
                  "description": "Use the 'this' keyword if your array consists of simple values (rather than Objects).",
                  "title": "Property Name"
                },
                "comparison": {
                  "type": "string",
                  "description": "comparison",
                  "title": "Comparison",
                  "default": "equals",
                  "enum": [
                    "equals",
                    "does not equal",
                    "is greater than",
                    "is greater than or equal to",
                    "is less than",
                    "is less than or equal to",
                    "is null or undefined",
                    "is not null or undefined"
                  ]
                },
                "value": {
                  "description": "The value to compare against.",
                  "title": "Value"
                },
                "valueType": {
                  "type": "string",
                  "description": "IMPORTANT! Specify the Type of the Value provided above. If blank, the Value will be assumed to be a String.",
                  "title": "Value Type",
                  "default": "String",
                  "enum": [
                    "String",
                    "Boolean",
                    "Integer",
                    "Float"
                  ]
                }
              },
              "required": [
                "array",
                "comparison",
                "propertyName"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/array/removeFirst": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "array",
                  "items": {},
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Remove First from Array",
        "description": "Accepts an Array of any data type. Returns an Array with the first Item that matches the specified condition removed. If no Item matches the condition, the entire Array is returned.",
        "operationId": "ArrayRemoveFirst",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "array": {
                  "type": "array",
                  "items": {},
                  "description": "array",
                  "title": "Array"
                },
                "propertyName": {
                  "type": "string",
                  "description": "Use the 'this' keyword if your array consists of simple values (rather than Objects).",
                  "title": "Property Name"
                },
                "comparison": {
                  "type": "string",
                  "description": "comparison",
                  "title": "Comparison",
                  "default": "equals",
                  "enum": [
                    "equals",
                    "does not equal",
                    "is greater than",
                    "is greater than or equal to",
                    "is less than",
                    "is less than or equal to",
                    "is null or undefined",
                    "is not null or undefined"
                  ]
                },
                "value": {
                  "description": "The value to compare against.",
                  "title": "Value"
                },
                "valueType": {
                  "type": "string",
                  "description": "IMPORTANT! Specify the Type of the Value provided above. If blank, the Value will be assumed to be a String.",
                  "title": "Value Type",
                  "default": "String",
                  "enum": [
                    "String",
                    "Boolean",
                    "Integer",
                    "Float"
                  ]
                }
              },
              "required": [
                "array",
                "comparison",
                "propertyName"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/array/groupBy": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "object",
                  "properties": {},
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Array - Group By",
        "description": "Group an Array of items. Accepts an Array of any data type. Returns an Object with keys that reflect the values of the provided propertyName. Under each key are the items that reflect the value.",
        "operationId": "ArrayGroupBy",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "array": {
                  "type": "array",
                  "items": {},
                  "description": "array"
                },
                "propertyName": {
                  "type": "string",
                  "description": "Leave blank if your array consists of simple values (rather than Objects).",
                  "title": "Property Name (optional)"
                }
              },
              "required": [
                "array"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/array/findFirst": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Array - Find First",
        "description": "Get the first item in an Array that meets a specified condition. If no item matches, Null is returned.",
        "operationId": "ArrayFindFirst",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "array": {
                  "type": "array",
                  "items": {},
                  "description": "array",
                  "title": "Array"
                },
                "propertyName": {
                  "type": "string",
                  "description": "Use the 'this' keyword if your array consists of simple values (rather than Objects).",
                  "title": "Property Name"
                },
                "comparison": {
                  "type": "string",
                  "description": "comparison",
                  "title": "Comparison",
                  "default": "equals",
                  "enum": [
                    "equals",
                    "does not equal",
                    "is greater than",
                    "is greater than or equal to",
                    "is less than",
                    "is less than or equal to",
                    "is null or undefined",
                    "is not null or undefined"
                  ]
                },
                "value": {
                  "description": "The value to compare against.",
                  "title": "Value"
                },
                "valueType": {
                  "type": "string",
                  "description": "IMPORTANT! Specify the Type of the Value provided above. If blank, the Value will be assumed to be a String.",
                  "title": "Value Type",
                  "default": "String",
                  "enum": [
                    "String",
                    "Boolean",
                    "Integer",
                    "Float"
                  ]
                }
              },
              "required": [
                "array",
                "comparison",
                "propertyName"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/math/ceil": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "integer",
                  "format": "int64",
                  "description": "The rounded number as an integer.",
                  "title": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Round Up Number (aka Math.ceil)",
        "description": "Rounds a number to the nearest integer. Supports numbers passed in as strings, but does NOT support commas or other formatting in number strings. If an integer is passed in, it will be returned unchanged.",
        "operationId": "MathCeil",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "number",
                  "format": "float",
                  "description": "number",
                  "title": "Number"
                }
              },
              "required": [
                "number"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/math/floor": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Round Down Number (aka Math.floor)",
        "description": "Rounds a number down to the nearest integer. Supports numbers passed in as strings, but does NOT support commas or other formatting in number strings. If an integer is passed in, it will be returned unchanged.",
        "operationId": "MathFloor",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "number",
                  "format": "float",
                  "description": "number",
                  "title": "Number"
                }
              },
              "required": [
                "number"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/math/average": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "number",
                  "format": "float",
                  "description": "Result",
                  "title": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Calculate Average (Arithmetic Mean) from an Array of Numbers",
        "description": "Calculates the average (mean) from an Array of numbers. Strings that can be converted to numbers are allowed, but formatting such as commas are NOT supported.",
        "operationId": "MathAverage",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "numbers": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "float",
                    "title": "Numbers"
                  },
                  "description": "numbers"
                }
              },
              "required": [
                "numbers"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/math/median": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "number",
                  "format": "float",
                  "description": "Result",
                  "title": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Calculate Median from an Array of Numbers",
        "description": "Calculates the median from an Array of numbers. Strings that can be converted to numbers are allowed, but formatting such as commas are NOT supported.",
        "operationId": "MathMedian",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "numbers": {
                  "type": "array",
                  "items": {},
                  "description": "numbers"
                }
              },
              "required": [
                "numbers"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/math/mode": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "number",
                  "format": "float",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Calculate Mode (most frequently occurring number) from an Array of Numbers",
        "description": "Calculates the mode from an Array of numbers. Strings that can be converted to numbers are allowed, but formatting such as commas are NOT supported. If multiple instances of the same number are passed in separately as a string and a number, they will be counted as instances of the same number.",
        "operationId": "MathMode",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "numbers": {
                  "type": "array",
                  "items": {},
                  "description": "numbers"
                }
              },
              "required": [
                "numbers"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/math/random": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "number",
                  "format": "float",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Generate a Random Number",
        "description": "Generates a pseudo-random number between the minimum of 0 and the specified maximum (maximum must be 1, 10, 100, 1000, 10000).",
        "operationId": "MathRandom",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "maximum": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Value must be 1, 10, 100, 1000, or 10000",
                  "title": "Maximum"
                }
              },
              "required": [
                "maximum"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/replaceAll": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "String Replace All - Replace all instances of a substring",
        "description": "Is case sensitive. Does not accept RegEx. To use RegEx, see the \"String RegEx Replace\" action.",
        "operationId": "StringReplaceAll",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "sourceString": {
                  "type": "string",
                  "description": "sourceString",
                  "title": "Source String"
                },
                "searchValue": {
                  "type": "string",
                  "description": "searchValue",
                  "title": "Search Value"
                },
                "replaceValue": {
                  "type": "string",
                  "description": "replaceValue",
                  "title": "Replace Value"
                }
              },
              "required": [
                "replaceValue",
                "searchValue",
                "sourceString"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/regexReplace": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "String RegEx Replace - replace values in a string using a Regular Expression",
        "description": "Find and replace within a String using a RegEx pattern. Include the leading and trailing '/' in your pattern and optionally append flags. If the /g flag is used, it will replace all occurrences. Use the /i flag to make the search ignore case.",
        "operationId": "StringRegexReplace",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "sourceString": {
                  "type": "string",
                  "description": "sourceString",
                  "title": "Source String"
                },
                "pattern": {
                  "type": "string",
                  "description": "Example: /\\d+/gi",
                  "title": "RegEx Pattern"
                },
                "replaceValue": {
                  "type": "string",
                  "description": "replaceValue",
                  "title": "Replace Value"
                }
              },
              "required": [
                "pattern",
                "replaceValue",
                "sourceString"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/capitalize": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Capitalize String - set first character to upper case",
        "description": "Sets the first character of the string to upper case, and all subsequent characters to lower case.",
        "operationId": "StringCapitalize",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/trim": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Trim String - remove characters from the start and end of a string",
        "description": "Trims leading and trailing whitespace (the default) or specified characters from a string.",
        "operationId": "StringTrim",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                },
                "characters": {
                  "type": "string",
                  "description": "characters",
                  "title": "Characters"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/trimStart": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Trim Start of String",
        "description": "Trim whitespace (the default) or specified characters only at the start of a string.",
        "operationId": "StringTrimStart",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                },
                "characters": {
                  "type": "string",
                  "description": "characters",
                  "title": "Characters"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/trimEnd": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Trim End of String",
        "description": "Trim whitespace (by default) or specified characters from the end of a string.",
        "operationId": "StringTrimEnd",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                },
                "characters": {
                  "type": "string",
                  "description": "characters",
                  "title": "Characters"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/slugify": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Slugify String - transform text into an ASCII slug which can be used in URLs",
        "description": "Transform text into an ASCII slug which can be used in safely in URLs. Replaces whitespaces, accentuated, and special characters with a dash. Many non-ascii characters are transformed to similar versions in the ascii character set.",
        "operationId": "StringSlugify",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/words": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "array",
                  "items": {},
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "description": "Split string by delimiter (String or RegEx pattern). The action splits by whitespace by default. If using RegEx, include the leading and trailing '/' in your pattern and optionally append flags.",
        "summary": "Split String into Array by Delimiter or RegEx",
        "operationId": "StringWords",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                },
                "delimiter": {
                  "type": "string",
                  "description": "If left blank, whitespace is used as the default delimiter. RegEx example: /\\d+/g",
                  "title": "Delimiter or RegEx"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/wordCount": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Count Words in String by Specified Delimiter or RegEx",
        "description": "Count the words in a String by a delimiter (String or RegEx pattern). The delimiter is whitespace by default. If using RegEx, include the leading and trailing '/' in your pattern and optionally append flags.",
        "operationId": "StringWordCount",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                },
                "delimiter": {
                  "type": "string",
                  "description": "If left blank, whitespace is used as the default delimiter. RegEx example: /\\d+/g",
                  "title": "Delimiter or RegEx"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/stripHtml": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Strip HTML out of a String",
        "description": "Remove all HTML and XML tags from a string.",
        "operationId": "StringStripHtml",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/clean": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Clean a String - trim and replace multiple spaces with a single space",
        "description": "Trim and replace multiple spaces with a single space. (This includes whitespace characters like \\t and \\n.)",
        "operationId": "StringClean",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/cleanDiacritics": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Clean Diacritics from a String",
        "description": "Replace all diacritic characters (letters with glyphs) in a string with the closest ASCII equivalents.",
        "operationId": "StringCleanDiacritics",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/escapeHtml": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Escape HTML in a String",
        "description": "Convert HTML special characters, like < and >, to their entity equivalents. This action supports cent, yen, euro, pound, lt, gt, copy, reg, quote, amp, and apos.",
        "operationId": "StringEscapeHtml",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/unescapeHtml": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "string",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Unescape HTML in a String",
        "description": "Convert entity characters (such as &lt;) to HTML equivalents. This action supports cent, yen, euro, pound, lt, gt, copy, reg, quote, amp, apos, and nbsp.",
        "operationId": "StringUnescapeHtml",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/countInstances": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Count Instances of a Substring in a String",
        "description": "Get the number of occurrences of a substring within a string.",
        "operationId": "StringCountInstances",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                },
                "substring": {
                  "type": "string",
                  "description": "substring",
                  "title": "Substring"
                },
                "ignoreCase": {
                  "type": "boolean",
                  "description": "ignoreCase",
                  "title": "Ignore Case?",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                }
              },
              "required": [
                "string",
                "substring"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/string/chop": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "array",
                  "items": {},
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Chop a String - break a string into an array of strings of specified length",
        "description": "Chop the string into an Array based on an interval, which defines the size of the pieces.",
        "operationId": "StringChop",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                },
                "interval": {
                  "type": "integer",
                  "format": "int32",
                  "description": "interval",
                  "title": "Interval"
                }
              },
              "required": [
                "interval",
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/types/isString": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "boolean",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Check that a Value is a String",
        "description": "Validates whether a supplied value is of type String.",
        "operationId": "TypesIsString",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The value to check.",
                  "title": "Value"
                }
              },
              "required": [
                "value"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/types/isNumber": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "boolean",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Check that a Value is a Number",
        "description": "Validates that a value is a Number. Numbers inside strings, such as \"999\" will be evaluated to False unless the \"includeNumbersInStrings\" parameter is set to True.",
        "operationId": "TypesIsNumber",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The value to check.",
                  "title": "Value"
                },
                "includeNumbersInStrings": {
                  "type": "boolean",
                  "description": "includeNumbersInStrings",
                  "title": "Include Numbers in Strings?",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "value",
                "includeNumbersInStrings"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/types/isNullOrEmpty": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "boolean",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Check that a Value is Null or Empty",
        "description": "Check if value is null or empty. Can be used for Strings, Arrays, or Objects.",
        "operationId": "TypesIsNullOrEmpty",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The value to check.",
                  "title": "Value"
                }
              },
              "required": [
                "value"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/types/isArray": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "boolean",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Check that a Value is an Array",
        "description": "Validate whether a supplied Value is an Array.",
        "operationId": "TypesIsArray",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The value to check.",
                  "title": "Value"
                }
              },
              "required": [
                "value"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/types/isObject": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "boolean",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Check that a Value is an Object",
        "description": "Validate whether a supplied Value is an Object. Empty Objects will evaluate to True. Arrays and other data types will evaluate to False.",
        "operationId": "TypesIsObject",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The value to check.",
                  "title": "Value"
                }
              },
              "required": [
                "value"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/validate/email": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "boolean",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Validate Email - check that a String is in the common email format",
        "description": "Validates that a String matches the common email format. Does NOT send an email. Returns True if it passes; otherwise, False.",
        "operationId": "ValidateEmail",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": "String"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/validate/regex": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Result": {
                  "type": "boolean",
                  "description": "Result"
                }
              }
            }
          },
          "401": {
            "description": "401 Unauthorized - Please check that you have the correct RapidAPI Key and RapidAPI subscription level to use this action."
          },
          "404": {
            "description": "404 Not Found - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          },
          "500": {
            "description": "500 Internal Server Error - if this issue persists, reach out to powerassistsupport@elevate-digital.com."
          }
        },
        "summary": "Validate a String based on RegEx",
        "description": "Validates that a String against a supplied RegEx pattern. Include the leading and trailing '/' in your RegEx pattern and optionally append flags.",
        "operationId": "ValidateRegex",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "string",
                  "title": "String"
                },
                "pattern": {
                  "type": "string",
                  "description": "Example: /\\d+/gi",
                  "title": "RegEx Pattern"
                }
              },
              "required": [
                "pattern",
                "string"
              ]
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-rapidapi-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://elevate-digital.com/powerautomateassist/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://elevate-digital.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Productivity"
    }
  ]
}