{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Sapling.ai",
    "description": "Sapling is building the AI assistant for business communication, one that helps teams communicate more efficiently and effectively with their clients, across diverse use cases.",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_sapling@gmail.com"
    }
  },
  "host": "api.sapling.ai",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/spellcheck": {
      "post": {
        "summary": "Spellcheck",
        "description": "Perform only requires spellcheck on your text instead of a full grammar edit.",
        "operationId": "Spellcheck",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "Text to process for edits.",
                  "title": "Text"
                },
                "min_length": {
                  "type": "integer",
                  "format": "int32",
                  "default": 3,
                  "description": "Minimum character length of words to suggest corrections for. Setting this too low will result in much higher false positives.",
                  "title": "Minimum length"
                },
                "session_id": {
                  "type": "string",
                  "description": "Unique name or UUID of document or portion of text that is being checked.",
                  "title": "Session ID"
                },
                "multiple_edits": {
                  "type": "boolean",
                  "description": "If true, will return candidates field containing list of other potential corrections for each error.",
                  "title": "Multiple edits",
                  "x-ms-visibility": "advanced"
                },
                "neural_spellcheck": {
                  "type": "boolean",
                  "description": "If true, endpoint backend will use more powerful neural (GPT-style) model to make spelling suggestions.",
                  "title": "Neural spellcheck",
                  "x-ms-visibility": "advanced"
                },
                "lang": {
                  "type": "string",
                  "description": "Language code of the text, for example 'en'.",
                  "title": "Language",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "text",
                "min_length",
                "session_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "edits": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/EditDef"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/medical-spellcheck": {
      "post": {
        "summary": "Medical spellcheck",
        "description": "Use spellcheck only for medical terms.",
        "operationId": "MedicalSpellcheck",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "Text to process for edits.",
                  "title": "Text"
                },
                "min_length": {
                  "type": "integer",
                  "format": "int32",
                  "default": 3,
                  "description": "Minimum character length of words to suggest corrections for. Setting this too low will result in much higher false positives.",
                  "title": "Minimum length"
                },
                "session_id": {
                  "type": "string",
                  "description": "Unique name or UUID of document or portion of text that is being checked.",
                  "title": "Session ID"
                },
                "multiple_edits": {
                  "type": "boolean",
                  "description": "If true, will return candidates field containing list of other potential corrections for each error.",
                  "title": "Multiple edits",
                  "x-ms-visibility": "advanced"
                },
                "neural_spellcheck": {
                  "type": "boolean",
                  "description": "If true, endpoint backend will use more powerful neural (GPT-style) model to make spelling suggestions.",
                  "title": "Neural spellcheck",
                  "x-ms-visibility": "advanced"
                },
                "lang": {
                  "type": "string",
                  "description": "Language code of the text, for example 'en'.",
                  "title": "Language",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "text",
                "min_length",
                "session_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "edits": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/EditDef"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/complete": {
      "post": {
        "summary": "Autocomplete",
        "description": "predictions of the next few characters or words given the current context in a particular editable.",
        "operationId": "Autocomplete",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "Text that should be autocompleted.",
                  "title": "Query"
                },
                "session_id": {
                  "type": "string",
                  "description": "Unique name or UUID of document or portion of text that is being checked.",
                  "title": "Session ID"
                }
              },
              "required": [
                "query",
                "session_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string",
                  "description": "Opaque ID of completion for use with accept event.",
                  "title": "Hash"
                },
                "output": {
                  "type": "string",
                  "description": "Predicted completion. For example, for the query 'Hi, how are', the predicted completion should be 'you' (with a leading space).",
                  "title": "Output"
                },
                "query": {
                  "type": "string",
                  "description": "Actual query used to generate completion (may be a truncated version of request query).",
                  "title": "Query"
                }
              }
            }
          }
        }
      }
    },
    "/v1/statistics": {
      "post": {
        "summary": "Statistics",
        "description": "Computes simple statistics for a given text document, like word and sentence counts and Flesch-Kincaid score.",
        "operationId": "Statistics",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "Text to compute statistics for.",
                  "title": "Text"
                },
                "session_id": {
                  "type": "string",
                  "description": "Unique name or UUID of document or portion of text that is being processed.",
                  "title": "Session ID"
                }
              },
              "required": [
                "text",
                "session_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "chars": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of characters.",
                  "title": "Characters"
                },
                "readability": {
                  "type": "number",
                  "format": "float",
                  "description": "Flesch-Kincaid readability grade",
                  "title": "Readability"
                },
                "reading_time_min": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Readin time - minutes.",
                  "title": "Reading time (min)"
                },
                "reading_time_sec": {
                  "type": "number",
                  "format": "float",
                  "description": "Reading time - seconds",
                  "title": "Reading time (sec)"
                },
                "sentences": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of sentences.",
                  "title": "Sentences"
                },
                "words": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of words.",
                  "title": "Words"
                }
              }
            }
          }
        }
      }
    },
    "/v1/aidetect": {
      "post": {
        "summary": "Detect AI",
        "description": "The endpoint computes the likelihood a piece of text was AI generated.",
        "operationId": "DetectAi",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "Text to run detection on. The limit is currently 8000 characters.",
                  "title": "Text"
                },
                "sent_scores": {
                  "type": "boolean",
                  "description": "Whether to return sentence scores. If speed is of the essence, you can disable this setting.",
                  "title": "Sent scores"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string",
                  "description": "Opaque ID of completion for use with accept event.",
                  "title": "Hash"
                },
                "score": {
                  "type": "number",
                  "format": "float",
                  "description": "Between 0 and 1, with 0 indicating the maximum confidence that the text is human-written.",
                  "title": "Score"
                },
                "sentence_scores": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "score": {
                        "type": "number",
                        "format": "float",
                        "description": "Calculated score for sentence.",
                        "title": "Score"
                      },
                      "sentence": {
                        "type": "string",
                        "description": "Sentence for which score is calculated.",
                        "title": "Sentence"
                      }
                    }
                  },
                  "description": "The per-sentence scores may not correlate with the overall score, as they're computed using different method.",
                  "title": "Sentence scores"
                },
                "text": {
                  "type": "string",
                  "description": "The full text, that is under analysis.",
                  "title": "Text"
                },
                "truncated": {
                  "type": "boolean",
                  "description": "Indication, whether response is truncated.",
                  "title": "Truncated"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "EditDef": {
      "type": "object",
      "title": "Edit",
      "description": "Grammar, spelling, or stylistic edits for text, based on action chosen.",
      "properties": {
        "end": {
          "type": "integer",
          "format": "int32",
          "description": "Offset of edit end relative to sentence.",
          "title": "End"
        },
        "id": {
          "type": "string",
          "description": "Opaque edit id, used to give feedback.",
          "title": "ID"
        },
        "replacement": {
          "type": "string",
          "description": "Suggested replacement.",
          "title": "Replacement"
        },
        "sentence": {
          "type": "string",
          "description": "Unedited sentence.",
          "title": "Sentence"
        },
        "sentence_start": {
          "type": "integer",
          "format": "int32",
          "description": "Offset of sentence from start of text.",
          "title": "Sentence start"
        },
        "start": {
          "type": "integer",
          "format": "int32",
          "description": "Offset of edit start relative to sentence.",
          "title": "Start"
        },
        "error_type": {
          "type": "string",
          "description": "Error type, see 'Error Categories'.",
          "title": "Error type"
        },
        "general_error_type": {
          "type": "string",
          "description": "See 'Error Categories' on the website.",
          "title": "General error type"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://sapling.ai/docs/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://sapling.ai/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ]
}