{
  "swagger": "2.0",
  "info": {
    "title": "MailJet",
    "description": "A complete collection of all publicly available endpoints and methods for the Mailjet API",
    "version": "1.1",
    "contact": {
      "email": "clement@carfup.com",
      "name": "Clement OLIVIER",
      "url": "https://stuffandtacos.azurewebsites.net/"
    }
  },
  "host": "api.mailjet.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v3.1/send": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Status": {
                        "type": "string",
                        "description": "Status"
                      },
                      "Errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ErrorIdentifier": {
                              "type": "string",
                              "description": "Error Identifier"
                            },
                            "ErrorCode": {
                              "type": "string",
                              "description": "Error Code"
                            },
                            "StatusCode": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Status Code"
                            },
                            "ErrorMessage": {
                              "type": "string",
                              "description": "Error Message"
                            },
                            "ErrorRelatedTo": {
                              "type": "string",
                              "description": "Error Related To"
                            }
                          }
                        },
                        "description": "Errors"
                      },
                      "CustomID": {
                        "type": "string",
                        "description": "Custom ID"
                      },
                      "To": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Email"
                            },
                            "MessageUUID": {
                              "type": "string",
                              "description": "Message UUID"
                            },
                            "MessageID": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Message ID"
                            },
                            "MessageHref": {
                              "type": "string",
                              "description": "Message Href"
                            }
                          }
                        },
                        "description": "To"
                      },
                      "Cc": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Email"
                            },
                            "MessageUUID": {
                              "type": "string",
                              "description": "Message UUID"
                            },
                            "MessageID": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Message ID"
                            },
                            "MessageHref": {
                              "type": "string",
                              "description": "Message Href"
                            }
                          }
                        },
                        "description": "Cc"
                      },
                      "Bcc": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Email"
                            },
                            "MessageUUID": {
                              "type": "string",
                              "description": "Message UUID"
                            },
                            "MessageID": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Message ID"
                            },
                            "MessageHref": {
                              "type": "string",
                              "description": "Message Href"
                            }
                          }
                        },
                        "description": "Bcc"
                      }
                    }
                  },
                  "description": "Messages"
                }
              }
            }
          }
        },
        "summary": "Send Email v3.1",
        "description": "Send an email message via Send API v3.1",
        "operationId": "SendEmailv3-1",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "From": {
                        "type": "object",
                        "properties": {
                          "Email": {
                            "type": "string",
                            "description": "The From email address",
                            "title": "From Email"
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name of the sender",
                            "title": "From Name"
                          }
                        },
                        "description": "From",
                        "required": [
                          "Email"
                        ]
                      },
                      "To": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "The email address of the recipient",
                              "title": "To Email"
                            },
                            "Name": {
                              "type": "string",
                              "description": "The name of the recipient",
                              "title": "To Name"
                            }
                          }
                        },
                        "description": "To"
                      },
                      "Sender": {
                        "type": "object",
                        "properties": {
                          "Email": {
                            "type": "string",
                            "description": "The email address used to send the message",
                            "title": "Sender Email"
                          },
                          "Name": {
                            "type": "string",
                            "description": "User-selected name for the Sender email address",
                            "title": "Sender Name"
                          }
                        },
                        "description": "Sender"
                      },
                      "ReplyTo": {
                        "type": "object",
                        "properties": {
                          "Email": {
                            "type": "string",
                            "description": "ReplyTo Email",
                            "title": "ReplyTo Email"
                          },
                          "Name": {
                            "type": "string",
                            "description": "ReplyTo Name",
                            "title": "ReplyTo Name"
                          }
                        },
                        "description": "ReplyTo"
                      },
                      "Cc": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Cc Email",
                              "title": "Cc Email"
                            },
                            "Name": {
                              "type": "string",
                              "description": "Cc Name",
                              "title": "Cc Name"
                            }
                          }
                        },
                        "description": "Cc"
                      },
                      "Bcc": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Bcc Email",
                              "title": "Bcc Email"
                            },
                            "Name": {
                              "type": "string",
                              "description": "Bcc Name",
                              "title": "Bcc Name"
                            }
                          }
                        },
                        "description": "Bcc"
                      },
                      "Subject": {
                        "type": "string",
                        "description": "The email subject line.",
                        "title": "Subject"
                      },
                      "TextPart": {
                        "type": "string",
                        "description": "Provides the Text part of the message",
                        "title": "TextPart"
                      },
                      "HTMLPart": {
                        "type": "string",
                        "description": "Provides the HTML part of the message.",
                        "title": "HTMLPart"
                      },
                      "TemplateID": {
                        "type": "integer",
                        "description": "Unique numeric ID of the template to be used as email content.",
                        "title": "TemplateID"
                      },
                      "Attachments": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/Attachmentv3.1"
                        },
                        "description": "Attachments"
                      }
                    },
                    "required": [
                      "From",
                      "To"
                    ]
                  },
                  "description": "Messages"
                },
                "SandboxMode": {
                  "type": "boolean",
                  "description": "Sandbox Mode",
                  "title": "SandboxMode"
                },
                "AdvanceErrorHandling": {
                  "type": "boolean",
                  "description": "Advance Error Handling",
                  "title": "AdvanceErrorHandling"
                }
              },
              "required": [
                "Messages"
              ]
            }
          }
        ]
      }
    },
    "/v3/send": {
      "post": {
        "summary": "Send Email v3",
        "description": "Send an email message via Send API v3",
        "operationId": "SendEmailv3",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "FromEmail": {
                        "type": "string",
                        "description": "From Email",
                        "title": "From Email"
                      },
                      "FromName": {
                        "type": "string",
                        "description": "From Name",
                        "title": "From Name"
                      },
                      "Sender": {
                        "type": "boolean",
                        "description": "Sender",
                        "title": "Sender"
                      },
                      "Recipients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Email",
                              "title": "Recipent Email"
                            },
                            "Name": {
                              "type": "string",
                              "description": "Name",
                              "title": "Recipent Name"
                            }
                          }
                        },
                        "description": "Recipients"
                      },
                      "To": {
                        "type": "string",
                        "description": "To Email",
                        "title": "To Email"
                      },
                      "Cc": {
                        "type": "string",
                        "description": "Cc Email",
                        "title": "Cc Email"
                      },
                      "Bcc": {
                        "type": "string",
                        "description": "Bcc Email",
                        "title": "Bcc Email"
                      },
                      "Subject": {
                        "type": "string",
                        "description": "The email subject line",
                        "title": "Subject"
                      },
                      "Text-part": {
                        "type": "string",
                        "description": "Text-part"
                      },
                      "Html-part": {
                        "type": "string",
                        "description": "Html-part"
                      },
                      "Attachments": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/Attachment"
                        },
                        "description": "Attachments"
                      },
                      "Inline_attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Filename": {
                              "type": "string",
                              "description": "Filename"
                            },
                            "Content-type": {
                              "type": "string",
                              "description": "Content-type"
                            },
                            "Content": {
                              "type": "string",
                              "description": "Content"
                            }
                          }
                        },
                        "description": "Inline_attachments"
                      }
                    },
                    "required": [
                      "FromEmail",
                      "To"
                    ]
                  },
                  "description": "Messages"
                }
              },
              "required": [
                "Messages"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Sent": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Email": {
                        "type": "string",
                        "description": "Email"
                      },
                      "MessageID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Message ID"
                      },
                      "MessageUUID": {
                        "type": "string",
                        "description": "Message UUID"
                      }
                    }
                  },
                  "description": "Sent"
                }
              }
            }
          }
        }
      }
    },
    "/v3/REST/message": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/MessageResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "description": "Get a list of messages with specific information on the type of content, tracking, sending and delivery",
        "summary": "Get Messages",
        "operationId": "GetMessages",
        "parameters": [
          {
            "name": "Contact",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves only messages sent to the specified Contact ID",
            "x-ms-summary": "Contact"
          },
          {
            "name": "CustomID",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves only messages tagged with the specified CustomID",
            "x-ms-summary": "CustomID"
          },
          {
            "name": "Destination",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves only messages sent to the specified Destination ID",
            "x-ms-summary": "Destination"
          },
          {
            "name": "FromTS",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves only messages sent after the specified timestamp",
            "x-ms-summary": "FromTS",
            "format": "date-time"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "description": "Limit the response to a select number of returned objects",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "x-ms-summary": "FromType",
            "name": "FromType",
            "in": "query",
            "required": false,
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "* `1` - Transactional\n * `2` - Marketing\n * `3` - Unknown\n"
          }
        ]
      }
    },
    "/v3/REST/messageinformation": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/MessageInformationResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Messages Information",
        "description": "Retrieve sending/size/spam information about all messages",
        "operationId": "GetMessagesInformation",
        "parameters": [
          {
            "name": "CampaignID",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves information only about messages that are part of this campaign",
            "x-ms-summary": "CampaignID"
          },
          {
            "name": "ContactsList",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves information only about messages that were sent to this contact list",
            "x-ms-summary": "ContactsList"
          },
          {
            "name": "CustomCampaign",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves information only about messages that are part of a campaign with the specified Custom ID",
            "x-ms-summary": "CustomCampaign"
          },
          {
            "name": "From",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves information only about messages sent from the specified sender email address",
            "x-ms-summary": "From"
          },
          {
            "name": "FromDomain",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves information only about messages sent from the specified sender domain",
            "x-ms-summary": "FromDomain"
          },
          {
            "name": "FromID",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves information only about messages sent from the specified sender ID",
            "x-ms-summary": "FromID"
          },
          {
            "name": "FromTS",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves only messages sent after the specified timestamp",
            "x-ms-summary": "FromTS",
            "format": "date-time"
          }
        ]
      }
    },
    "/v3/REST/contact": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Contacts",
        "description": "Retrieve a list of all contacts. Includes information about contact status and creation / activity timestamps",
        "operationId": "GetContacts",
        "parameters": [
          {
            "name": "Campaign",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves only contacts targeted by this Campaign ID",
            "x-ms-summary": "Campaign"
          },
          {
            "name": "ContactsList",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves only contacts that are part of this Contact List ID",
            "x-ms-summary": "ContactsList"
          },
          {
            "name": "IsExcludedFromCampaigns",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Will retrieve only contacts that have been added to the exclusion list for marketing emails",
            "x-ms-summary": "IsExcludedFromCampaigns"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "description": "Limit the response to a select number of returned objects",
            "format": "int32",
            "x-ms-summary": "Limit"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Create  Contact",
        "description": "Add a new unique contact to your global contact list and select its exclusion status",
        "operationId": "CreateContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "IsExcludedFromCampaigns": {
                  "type": "string",
                  "description": "Indicates whether the contact is added to the exclusion list for campaigns or not",
                  "title": "IsExcludedFromCampaigns"
                },
                "Name": {
                  "type": "string",
                  "description": "User-selected name for this contact",
                  "title": "Name"
                },
                "Email": {
                  "type": "string",
                  "description": "Contact email address",
                  "title": "Email"
                }
              },
              "required": [
                "Email"
              ]
            }
          }
        ]
      }
    },
    "/v3/REST/contact/{contact_ID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Contact By ID",
        "description": "Retrieve a specific contact",
        "operationId": "GetContactByID",
        "parameters": [
          {
            "name": "contact_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique numeric ID of the contact you want to retrieve",
            "x-ms-summary": "Contact ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Update Contact",
        "description": "Update the user-given name and exclusion status of a specific contact",
        "operationId": "UpdateContact",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "contact_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Contact ID",
            "description": "Unique numeric ID of the contact you want to update",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "IsExcludedFromCampaigns": {
                  "type": "boolean",
                  "description": "Indicates whether the contact is added to the exclusion list for campaigns or not",
                  "title": "IsExcludedFromCampaigns"
                },
                "Name": {
                  "type": "string",
                  "description": "User-selected name for this contact",
                  "title": "Name"
                }
              }
            }
          }
        ]
      }
    },
    "/v3/REST/contactslist": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactsListResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Contact Lists",
        "description": "Retrieve details for all contact lists - name, subscriber count, creation timestamp, deletion status.",
        "operationId": "GetContactLists",
        "parameters": [
          {
            "name": "Address",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Address",
            "description": "Retrieves only the contact list with the specified unique address created by Mailjet."
          },
          {
            "name": "ExcludeID",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Exclude ID",
            "description": "Excludes the contact list with specified ID from the response."
          },
          {
            "name": "IsDeleted",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Is Deleted ?",
            "description": "When true, will retrieve only deleted lists. When false, will retrieve lists that are not deleted."
          },
          {
            "name": "Name",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Name",
            "description": "Retrieves only the list with the specified user-selected Name."
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "description": "Limit the response to a select number of returned objects.",
            "x-ms-summary": "Limit",
            "format": "int32"
          },
          {
            "name": "OffSet",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieve a list of objects starting from a certain offset.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "countOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Return the count rows only or not.",
            "x-ms-summary": "Count Only"
          },
          {
            "name": "Sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specify a property name for this query parameter to sort the objects in Data.",
            "x-ms-summary": "Sort"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactsListResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Create Contact List",
        "operationId": "CreateContactList",
        "consumes": [
          "application/json"
        ],
        "description": "Create a new contact list",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "User-specified name for this contact list (must be unique)",
                  "title": "Name"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "When true, the contact list will be marked as Deleted",
                  "title": "IsDeleted",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "Name"
              ]
            }
          }
        ]
      }
    },
    "/v3/REST/contactslist/{list_ID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactsListResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Contact List By ID",
        "description": "Retrieve details for a specific contact list - name, subscriber count, creation timestamp, deletion status.",
        "operationId": "GetContactListByID",
        "parameters": [
          {
            "name": "list_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique numeric ID assigned to this contact list.",
            "x-ms-summary": "Unique numeric ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete Contact List",
        "operationId": "DeleteContactList",
        "description": "Delete a contact list",
        "parameters": [
          {
            "name": "list_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "List ID",
            "description": "List ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactsListResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Update Contact List",
        "description": "Update a specific contact list by changing its name and / or deletion status",
        "operationId": "UpdateContactList",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "list_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique numeric ID assigned to this contact list",
            "x-ms-summary": "List ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "User-specified name for this contact list (must be unique)",
                  "title": "Name"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "When true, the contact list will be marked as Deleted",
                  "title": "IsDeleted",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "Name"
              ]
            }
          }
        ]
      }
    },
    "/v3/REST/campaigndraft": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CampaignDraftResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Campaigns Draft",
        "operationId": "GetCampaignsDraft",
        "description": "Get all campaign drafts and their configuration",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CampaignDraftResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Create Campaign Draft",
        "operationId": "CreateCampaignDraft",
        "consumes": [
          "application/json"
        ],
        "description": "Create a new campaign draft. Newsletter and CampaignDraft objects are differentiated by the EditMode values.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          }
        ]
      }
    },
    "/v3/REST/campaigndraft/{draft_ID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CampaignDraftResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Campaign Draft By ID",
        "operationId": "GetCampaignDraftByID",
        "description": "Get a specific campaign draft and its configuration details",
        "parameters": [
          {
            "name": "draft_ID",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Unique numeric ID of the campaign draft you want to retrieve.",
            "x-ms-summary": "Draft ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CampaignDraftResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "description": "Update an existing campaign draft",
        "summary": "Update Campaign Draft",
        "operationId": "UpdateCampaignDraft",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "draft_ID",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Draft ID",
            "description": "Unique numeric ID of the campaign draft you want to update",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-summary": "Content-Type",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          }
        ]
      }
    },
    "/v3/REST/campaignoverview": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ClickedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Clicked Count"
                      },
                      "DeliveredCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Delivered Count"
                      },
                      "EditMode": {
                        "type": "string",
                        "description": "Edit Mode"
                      },
                      "EditType": {
                        "type": "string",
                        "description": "Edit Type"
                      },
                      "ID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID"
                      },
                      "IDType": {
                        "type": "string",
                        "description": "ID Type"
                      },
                      "OpenedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Opened Count"
                      },
                      "ProcessedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Processed Count"
                      },
                      "SendTimeStart": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Send Time Start"
                      },
                      "Starred": {
                        "type": "boolean",
                        "description": "Starred"
                      },
                      "Status": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Status"
                      },
                      "Subject": {
                        "type": "string",
                        "description": "Subject"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      }
                    }
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Campaign Overview",
        "operationId": "GetCampaignOverview",
        "description": "Get general details and stats for all drafts, AB Testing objects and/or sent campaigns",
        "parameters": []
      }
    },
    "/v3/REST/contactstatistics": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "BlockedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Blocked Count"
                      },
                      "BouncedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Bounced Count"
                      },
                      "ClickedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Clicked Count"
                      },
                      "ContactID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Contact ID"
                      },
                      "DeferredCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Deferred Count"
                      },
                      "DeliveredCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Delivered Count"
                      },
                      "HardbouncedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Hardbounced Count"
                      },
                      "LastActivityAt": {
                        "type": "string",
                        "description": "Last Activity At",
                        "title": "LastActivityAt",
                        "format": "date-time"
                      },
                      "MarketingContacts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Marketing Contacts"
                      },
                      "OpenedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Opened Count"
                      },
                      "ProcessedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Processed Count"
                      },
                      "QueuedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Queued Count"
                      },
                      "SoftbouncedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Soft bounced Count"
                      },
                      "SpamComplaintCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Spam Complaint Count"
                      },
                      "UnsubscribedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unsubscribed Count"
                      },
                      "UserMarketingContacts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "User Marketing Contacts"
                      },
                      "WorkFlowExitedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "WorkFlow Exited Count"
                      }
                    }
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "parameters": [],
        "description": "Retrieve a list of overall aggregated delivery and engagement statistics, grouped by contact",
        "summary": "Get Contacts Statistics",
        "operationId": "GetContactsStatistics"
      }
    },
    "/v3/REST/contactdata": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactDataResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Contacts Data",
        "description": "Get information on all contacts and the property values associated with them",
        "operationId": "GetContactsData",
        "parameters": [
          {
            "name": "Campaign",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves a list of contact property values only for the contacts, which received emails from this Campaign ID",
            "x-ms-summary": "Campaign",
            "format": "int32"
          },
          {
            "name": "ContactEmail",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves a list of contact property values only for the contact with this email address",
            "x-ms-summary": "Contact Email"
          },
          {
            "name": "ContactsList",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves a list of contact property values only for the contacts that are part of this contact list ID",
            "x-ms-summary": "Contact List ID"
          },
          {
            "name": "Fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Multiple properties can be specified by separating them with commas",
            "x-ms-summary": "Fields"
          },
          {
            "name": "LastActivityAt",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves a list of contact property values only for the contacts",
            "x-ms-summary": "Last Activity At"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "description": "Limit the response to a select number of returned objects",
            "x-ms-summary": "Limit",
            "format": "int32"
          },
          {
            "name": "OffSet",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieve a list of objects starting from a certain offset",
            "x-ms-summary": "Offset"
          },
          {
            "name": "countOnly",
            "in": "query",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Count Only",
            "description": "Return count only."
          },
          {
            "name": "Sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specify a property name for this query parameter to sort the objects in Data",
            "x-ms-summary": "Sort"
          }
        ]
      }
    },
    "/v3/REST/contactdata/{contactID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactDataResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Contact Data By ID",
        "description": "Retrieve all properties and respective values associated with a specific contact",
        "operationId": "GetContactDataByID",
        "parameters": [
          {
            "name": "contactID",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Unique numeric ID for the contact, whose properties you want to retriev",
            "x-ms-summary": "Contact ID",
            "format": "int32",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {
    "Attachment": {
      "type": "object",
      "properties": {
        "Filename": {
          "type": "string",
          "description": "The full name of the file (including the file extension)",
          "x-ms-summary": "Filename"
        },
        "Content-type": {
          "type": "string",
          "description": "Defines the type of content being sent out using a MIME type",
          "x-ms-summary": "Content-type"
        },
        "Content": {
          "type": "string",
          "description": "Base64 encoded content of the attached file",
          "x-ms-summary": "Content"
        }
      }
    },
    "Attachmentv3.1": {
      "type": "object",
      "properties": {
        "Filename": {
          "type": "string",
          "description": "The full name of the file (including the file extension)",
          "x-ms-summary": "Filename"
        },
        "Content-type": {
          "type": "string",
          "description": "Defines the type of content being sent out using a MIME type",
          "x-ms-summary": "Content-type"
        },
        "Base64Content": {
          "type": "string",
          "description": "Base64 encoded content of the attached file",
          "x-ms-summary": "Content"
        }
      }
    },
    "Campaign": {
      "type": "object",
      "properties": {
        "Current": {
          "type": "integer",
          "description": "Current"
        },
        "EditMode": {
          "type": "string",
          "description": "Edit mode for the campaign draft.",
          "title": "Edit Mode",
          "enum": [
            "tool2",
            "html2",
            "mjml"
          ]
        },
        "IsStarred": {
          "type": "boolean",
          "description": "Is Starred"
        },
        "IsTextPartIncluded": {
          "type": "boolean",
          "description": "Is Text Part Included"
        },
        "ReplyEmail": {
          "type": "string",
          "description": "Reply Email"
        },
        "SenderName": {
          "type": "string",
          "description": "Sender Name"
        },
        "TemplateID": {
          "type": "integer",
          "description": "Template ID"
        },
        "Title": {
          "type": "string",
          "description": "Title"
        },
        "ContactsListID": {
          "type": "string",
          "description": "Contacts List ID"
        },
        "ContactsListAlt": {
          "type": "string",
          "description": "Contacts List Alt"
        },
        "Locale": {
          "type": "string",
          "description": "Locale",
          "title": ""
        },
        "SegmentationID": {
          "type": "integer",
          "description": "Segmentation ID"
        },
        "SegmentationAlt": {
          "type": "string",
          "description": "Segmentation Alt"
        },
        "Sender": {
          "type": "string",
          "description": "Sender"
        },
        "SenderEmail": {
          "type": "string",
          "description": "Sender Email"
        },
        "Subject": {
          "type": "string",
          "description": "Subject",
          "title": "Subject"
        }
      },
      "required": [
        "Locale",
        "Subject"
      ]
    },
    "CampaignDetailContent": {
      "type": "object",
      "properties": {
        "Headers": {
          "type": "string",
          "description": "Headers"
        },
        "Html-part": {
          "type": "string",
          "description": "Html-part"
        },
        "MJMLContent": {
          "type": "string",
          "description": "MJML Content"
        },
        "Text-part": {
          "type": "string",
          "description": "Text-part"
        }
      }
    },
    "MessageResponse": {
      "type": "object",
      "properties": {
        "ArrivedAt": {
          "type": "string",
          "description": "Arrived At"
        },
        "AttachmentCount": {
          "type": "integer",
          "description": "Attachment Count"
        },
        "AttemptCount": {
          "type": "integer",
          "description": "Attempt Count"
        },
        "CampaignID": {
          "type": "integer",
          "description": "Campaign ID"
        },
        "ContactAlt": {
          "type": "string",
          "description": "Contact Alt"
        },
        "ContactID": {
          "type": "integer",
          "description": "Contact ID"
        },
        "Delay": {
          "type": "number",
          "description": "Delay"
        },
        "DestinationID": {
          "type": "integer",
          "description": "Destination ID"
        },
        "FilterTime": {
          "type": "integer",
          "description": "Filter Time"
        },
        "ID": {
          "type": "integer",
          "description": "ID"
        },
        "IsClickTracked": {
          "type": "boolean",
          "description": "Is Click Tracked"
        },
        "IsHTMLPartIncluded": {
          "type": "boolean",
          "description": "Is HTML Part Included"
        },
        "IsOpenTracked": {
          "type": "boolean",
          "description": "Is Open Tracked"
        },
        "IsTextPartIncluded": {
          "type": "boolean",
          "description": "Is Text Part Included"
        },
        "IsUnsubTracked": {
          "type": "boolean",
          "description": "Is Unsubscription Tracked"
        },
        "MessageSize": {
          "type": "integer",
          "description": "Message Size"
        },
        "SenderID": {
          "type": "integer",
          "description": "Sender ID"
        },
        "SpamassassinScore": {
          "type": "number",
          "description": "Spamassassin Score"
        },
        "SpamassRules": {
          "type": "string",
          "description": "Spamass Rules"
        },
        "StateID": {
          "type": "integer",
          "description": "State ID"
        },
        "StatePermanent": {
          "type": "boolean",
          "description": "State Permanent"
        },
        "Status": {
          "type": "string",
          "description": "Status"
        },
        "Subject": {
          "type": "string",
          "description": "Subject"
        },
        "UUID": {
          "type": "string",
          "description": "UUID"
        }
      }
    },
    "MessageInformationResponse": {
      "type": "object",
      "properties": {
        "CampaignID": {
          "type": "integer",
          "format": "int32",
          "description": "Campaign ID"
        },
        "ClickTrackedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Click Tracked Count"
        },
        "ContactID": {
          "type": "integer",
          "format": "int32",
          "description": "Contact ID"
        },
        "CreatedAt": {
          "type": "string",
          "description": "Created At",
          "title": "CreatedAt",
          "format": "date-time"
        },
        "ID": {
          "type": "integer",
          "format": "int32",
          "description": "ID"
        },
        "MessageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Message Size"
        },
        "OpenTrackedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Open Tracked Count"
        },
        "QueuedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Queued Count"
        },
        "SendEndAt": {
          "type": "string",
          "description": "Send End At"
        },
        "SentCount": {
          "type": "integer",
          "format": "int32",
          "description": "Sent Count"
        },
        "SpamAssassinRules": {
          "type": "object",
          "properties": {},
          "description": "Spam Assassin Rules"
        },
        "SpamAssassinScore": {
          "type": "number",
          "description": "Spam Assassin Score"
        }
      }
    },
    "ContactResponse": {
      "type": "object",
      "properties": {
        "IsExcludedFromCampaigns": {
          "type": "boolean",
          "description": "Is Excluded FromCampaigns"
        },
        "Name": {
          "type": "string",
          "description": "Name"
        },
        "CreatedAt": {
          "type": "string",
          "description": "Created At",
          "title": "CreatedAt",
          "format": "date-time"
        },
        "DeliveredCount": {
          "type": "integer",
          "format": "int32",
          "description": "Delivered Count"
        },
        "Email": {
          "type": "string",
          "description": "Email"
        },
        "ExclusionFromCampaignsUpdatedAt": {
          "type": "string",
          "description": "Exclusion From Campaigns Updated At"
        },
        "ID": {
          "type": "integer",
          "format": "int32",
          "description": "ID"
        },
        "IsOptInPending": {
          "type": "boolean",
          "description": "Is OptIn Pending"
        },
        "IsSpamComplaining": {
          "type": "boolean",
          "description": "Is Spam Complaining"
        },
        "LastActivityAt": {
          "type": "string",
          "description": "Last Activity At",
          "title": "LastActivityAt",
          "format": "date-time"
        },
        "LastUpdateAt": {
          "type": "string",
          "description": "Last Update At",
          "title": "LastUpdateAt",
          "format": "date-time"
        }
      }
    },
    "ContactsListResponse": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string",
          "description": "Name"
        },
        "Address": {
          "type": "string",
          "description": "Address"
        },
        "CreatedAt": {
          "type": "string",
          "description": "Created At",
          "title": "CreatedAt",
          "format": "date-time"
        },
        "ID": {
          "type": "integer",
          "format": "int32",
          "description": "ID"
        },
        "SubscriberCount": {
          "type": "integer",
          "format": "int32",
          "description": "Subscriber Count"
        }
      }
    },
    "CampaignDraftResponse": {
      "type": "object",
      "properties": {
        "AXFraction": {
          "type": "integer",
          "description": "AX Fraction"
        },
        "AXFractionName": {
          "type": "string",
          "description": "AX Fraction Name"
        },
        "AXTesting": {
          "type": "string",
          "description": "AX Testing"
        },
        "Current": {
          "type": "integer",
          "format": "int32",
          "description": "Current"
        },
        "EditMode": {
          "type": "string",
          "description": "Edit Mode"
        },
        "IsStarred": {
          "type": "boolean",
          "description": "Is Starred"
        },
        "IsTextPartIncluded": {
          "type": "boolean",
          "description": "Is TextPart Included"
        },
        "ReplyEmail": {
          "type": "string",
          "description": "Reply Email"
        },
        "SenderName": {
          "type": "string",
          "description": "Sender Name"
        },
        "TemplateID": {
          "type": "integer",
          "format": "int32",
          "description": "Template ID"
        },
        "Title": {
          "type": "string",
          "description": "Title"
        },
        "CampaignID": {
          "type": "integer",
          "format": "int32",
          "description": "Campaign ID"
        },
        "ContactsListID": {
          "type": "integer",
          "format": "int32",
          "description": "Contacts List ID"
        },
        "CreatedAt": {
          "type": "string",
          "description": "Created At",
          "title": "CreatedAt",
          "format": "date-time"
        },
        "DeliveredAt": {
          "type": "string",
          "description": "Delivered At",
          "title": "DeliveredAt",
          "format": "date-time"
        },
        "ID": {
          "type": "integer",
          "format": "int32",
          "description": "ID"
        },
        "Locale": {
          "type": "string",
          "description": "Locale"
        },
        "ModifiedAt": {
          "type": "string",
          "description": "Modified At",
          "title": "ModifiedAt",
          "format": "date-time"
        },
        "Preset": {
          "type": "string",
          "description": "Preset"
        },
        "SegmentationID": {
          "type": "integer",
          "format": "int32",
          "description": "Segmentation ID"
        },
        "Sender": {
          "type": "string",
          "description": "Sender"
        },
        "SenderEmail": {
          "type": "string",
          "description": "Sender Email"
        },
        "Status": {
          "type": "integer",
          "format": "int32",
          "description": "Status"
        },
        "Subject": {
          "type": "string",
          "description": "Subject"
        },
        "Url": {
          "type": "string",
          "description": "Url"
        },
        "Used": {
          "type": "boolean",
          "description": "Used"
        }
      }
    },
    "ContactDataResponse": {
      "type": "object",
      "properties": {
        "ContactID": {
          "type": "integer",
          "format": "int32",
          "description": "Unique numeric ID for this contact"
        },
        "Data": {
          "type": "array",
          "items": {},
          "description": "A JSON array containing contact properties and their values"
        },
        "ID": {
          "type": "integer",
          "format": "int32",
          "description": "Unique numeric ID for this contact's Data object"
        },
        "MethodCollection": {
          "type": "string",
          "description": "MethodCollection"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mailjet.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mailjet.com/security-privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing; Communication"
    }
  ]
}