{
  "swagger": "2.0",
  "info": {
    "title": "MailJet",
    "description": "A complete collection of all publicly available endpoints and methods for the Mailjet API",
    "version": "1.0",
    "contact": {
      "email": "clement@carfup.com",
      "name": "Clement OLIVIER",
      "url": "https://stuffandtacos.azurewebsites.net/"
    }
  },
  "host": "api.mailjet.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v3.1/send": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Status": {
                        "type": "string",
                        "description": "Status"
                      },
                      "Errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ErrorIdentifier": {
                              "type": "string",
                              "description": "ErrorIdentifier"
                            },
                            "ErrorCode": {
                              "type": "string",
                              "description": "ErrorCode"
                            },
                            "StatusCode": {
                              "type": "integer",
                              "format": "int32",
                              "description": "StatusCode"
                            },
                            "ErrorMessage": {
                              "type": "string",
                              "description": "ErrorMessage"
                            },
                            "ErrorRelatedTo": {
                              "type": "string",
                              "description": "ErrorRelatedTo"
                            }
                          }
                        },
                        "description": "Errors"
                      },
                      "CustomID": {
                        "type": "string",
                        "description": "CustomID"
                      },
                      "To": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Email"
                            },
                            "MessageUUID": {
                              "type": "string",
                              "description": "MessageUUID"
                            },
                            "MessageID": {
                              "type": "integer",
                              "format": "int32",
                              "description": "MessageID"
                            },
                            "MessageHref": {
                              "type": "string",
                              "description": "MessageHref"
                            }
                          }
                        },
                        "description": "To"
                      },
                      "Cc": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Email"
                            },
                            "MessageUUID": {
                              "type": "string",
                              "description": "MessageUUID"
                            },
                            "MessageID": {
                              "type": "integer",
                              "format": "int32",
                              "description": "MessageID"
                            },
                            "MessageHref": {
                              "type": "string",
                              "description": "MessageHref"
                            }
                          }
                        },
                        "description": "Cc"
                      },
                      "Bcc": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Email"
                            },
                            "MessageUUID": {
                              "type": "string",
                              "description": "MessageUUID"
                            },
                            "MessageID": {
                              "type": "integer",
                              "format": "int32",
                              "description": "MessageID"
                            },
                            "MessageHref": {
                              "type": "string",
                              "description": "MessageHref"
                            }
                          }
                        },
                        "description": "Bcc"
                      }
                    }
                  },
                  "description": "Messages"
                }
              }
            }
          }
        },
        "summary": "Send Email v3.1",
        "description": "Send an email message via Send API v3.1",
        "operationId": "SendEmailv3.1",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "From": {
                        "type": "object",
                        "properties": {
                          "Email": {
                            "type": "string",
                            "description": "The From email address",
                            "title": "From Email"
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name of the sender",
                            "title": "From Name"
                          }
                        },
                        "description": "From",
                        "required": [
                          "Email"
                        ]
                      },
                      "To": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "The email address of the recipient",
                              "title": "To Email"
                            },
                            "Name": {
                              "type": "string",
                              "description": "The name of the recipient",
                              "title": "To Name"
                            }
                          }
                        },
                        "description": "To",
                        "required": [
                          "Email"
                        ]
                      },
                      "Sender": {
                        "type": "object",
                        "properties": {
                          "Email": {
                            "type": "string",
                            "description": "The email address used to send the message",
                            "title": "Sender Email"
                          },
                          "Name": {
                            "type": "string",
                            "description": "User-selected name for the Sender email address",
                            "title": "Sender Name"
                          }
                        },
                        "description": "Sender",
                        "required": [
                          "Email"
                        ]
                      },
                      "ReplyTo": {
                        "type": "object",
                        "properties": {
                          "Email": {
                            "type": "string",
                            "description": "ReplyTo Email",
                            "title": "ReplyTo Email"
                          },
                          "Name": {
                            "type": "string",
                            "description": "ReplyTo Name",
                            "title": "ReplyTo Name"
                          }
                        },
                        "description": "ReplyTo",
                        "required": [
                          "Email"
                        ]
                      },
                      "Cc": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Cc Email",
                              "title": "Cc Email"
                            },
                            "Name": {
                              "type": "string",
                              "description": "Cc Name",
                              "title": "Cc Name"
                            }
                          }
                        },
                        "description": "Cc",
                        "required": [
                          "Email"
                        ]
                      },
                      "Bcc": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Bcc Email",
                              "title": "Bcc Email"
                            },
                            "Name": {
                              "type": "string",
                              "description": "Bcc Name",
                              "title": "Bcc Name"
                            }
                          }
                        },
                        "description": "Bcc",
                        "required": [
                          "Email"
                        ]
                      },
                      "Subject": {
                        "type": "string",
                        "description": "The email subject line.",
                        "title": "Subject"
                      },
                      "TextPart": {
                        "type": "string",
                        "description": "Provides the Text part of the message",
                        "title": "TextPart"
                      },
                      "HTMLPart": {
                        "type": "string",
                        "description": "Provides the HTML part of the message.",
                        "title": "HTMLPart"
                      },
                      "TemplateID": {
                        "type": "integer",
                        "description": "Unique numeric ID of the template to be used as email content.",
                        "title": "TemplateID"
                      },
                      "Attachments": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/Attachment"
                        },
                        "description": "Attachments",
                        "required": [
                          "Filename",
                          "ContentType",
                          "Base64Content"
                        ]
                      }
                    },
                    "required": [
                      "From",
                      "To"
                    ]
                  },
                  "description": "Messages"
                },
                "SandboxMode": {
                  "type": "boolean",
                  "description": "SandboxMode",
                  "title": "SandboxMode"
                },
                "AdvanceErrorHandling": {
                  "type": "boolean",
                  "description": "AdvanceErrorHandling",
                  "title": "AdvanceErrorHandling"
                }
              },
              "required": [
                "Messages"
              ]
            }
          }
        ]
      }
    },
    "/v3/send": {
      "post": {
        "summary": "Send Email v3",
        "description": "Send an email message via Send API v3",
        "operationId": "SendEmailv3",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "FromEmail": {
                        "type": "string",
                        "description": "FromEmail",
                        "title": "From Email"
                      },
                      "FromName": {
                        "type": "string",
                        "description": "FromName",
                        "title": "From Name"
                      },
                      "Sender": {
                        "type": "boolean",
                        "description": "Sender",
                        "title": "Sender"
                      },
                      "Recipients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Email": {
                              "type": "string",
                              "description": "Email",
                              "title": "Recipent Email"
                            },
                            "Name": {
                              "type": "string",
                              "description": "Name",
                              "title": "Recipent Name"
                            }
                          }
                        },
                        "description": "Recipients",
                        "required": [
                          "Email"
                        ]
                      },
                      "To": {
                        "type": "string",
                        "description": "To Email",
                        "title": "To Email"
                      },
                      "Cc": {
                        "type": "string",
                        "description": "Cc Email",
                        "title": "Cc Email"
                      },
                      "Bcc": {
                        "type": "string",
                        "description": "Bcc Email",
                        "title": "Bcc Email"
                      },
                      "Subject": {
                        "type": "string",
                        "description": "The email subject line",
                        "title": "Subject"
                      },
                      "Text-part": {
                        "type": "string",
                        "description": "Text-part"
                      },
                      "Html-part": {
                        "type": "string",
                        "description": "Html-part"
                      },
                      "Attachments": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/Attachment"
                        },
                        "description": "Attachments",
                        "required": [
                          "Filename",
                          "Content-type",
                          "Content"
                        ]
                      },
                      "Inline_attachments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Filename": {
                              "type": "string",
                              "description": "Filename"
                            },
                            "Content-type": {
                              "type": "string",
                              "description": "Content-type"
                            },
                            "Content": {
                              "type": "string",
                              "description": "Content"
                            }
                          }
                        },
                        "description": "Inline_attachments",
                        "required": [
                          "Filename",
                          "Content-type",
                          "Content"
                        ]
                      }
                    },
                    "required": [
                      "FromEmail",
                      "To"
                    ]
                  },
                  "description": "Messages"
                }
              },
              "required": [
                "Messages"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Sent": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Email": {
                        "type": "string",
                        "description": "Email"
                      },
                      "MessageID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "MessageID"
                      },
                      "MessageUUID": {
                        "type": "string",
                        "description": "MessageUUID"
                      }
                    }
                  },
                  "description": "Sent"
                }
              }
            }
          }
        }
      }
    },
    "/v3/REST/message": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/MessageResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "description": "Get a list of messages with specific information on the type of content, tracking, sending and delivery",
        "summary": "Get Messages",
        "operationId": "GetMessages",
        "parameters": [
          {
            "name": "Contact",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves only messages sent to the specified Contact ID"
          },
          {
            "name": "CustomID",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves only messages tagged with the specified CustomID"
          },
          {
            "name": "Destination",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves only messages sent to the specified Destination ID"
          },
          {
            "name": "FromTS",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves only messages sent after the specified timestamp",
            "x-ms-summary": "FromTS",
            "format": "date-time"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "description": "Limit the response to a select number of returned objects",
            "format": "int32"
          },
          {
            "name": "FromType",
            "in": "query",
            "required": false,
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ],
            "description": "* `1` - Transactional\n * `2` - Marketing\n * `3` - Unknown\n"
          }
        ]
      }
    },
    "/v3/REST/message/{message_ID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/MessageResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Message by ID",
        "description": "Retrieve specific information on the type of content, tracking, sending and delivery for a specific processed message.",
        "operationId": "GetMessageByID",
        "parameters": [
          {
            "name": "message_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique numeric ID of the message you want to retrieve",
            "x-ms-summary": "Message ID"
          }
        ]
      }
    },
    "/v3/REST/messageinformation": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/MessageInformationResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Messages Information",
        "description": "Retrieve sending / size / spam information about all messages",
        "operationId": "GetMessagesInformation",
        "parameters": [
          {
            "name": "CampaignID",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves information only about messages that are part of this campaign"
          },
          {
            "name": "ContactsList",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves information only about messages that were sent to this contact list"
          },
          {
            "name": "CustomCampaign",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves information only about messages that are part of a campaign with the specified Custom ID"
          },
          {
            "name": "From",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves information only about messages sent from the specified sender email address"
          },
          {
            "name": "FromDomain",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves information only about messages sent from the specified sender domain"
          },
          {
            "name": "FromID",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves information only about messages sent from the specified sender ID"
          },
          {
            "name": "FromTS",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves only messages sent after the specified timestamp",
            "x-ms-summary": "FromTS",
            "format": "date-time"
          }
        ]
      }
    },
    "/v3/REST/messageinformation/{message_ID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/MessageInformationResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Message Information By ID",
        "description": "Retrieve sending / size / spam information about a specific message ID.",
        "operationId": "GetMessageInformationByID",
        "parameters": [
          {
            "name": "message_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique numeric ID of the message you want to retrieve information about",
            "x-ms-summary": "Message ID"
          }
        ]
      }
    },
    "/v3/REST/contact": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Contacts",
        "description": "Retrieve a list of all contacts. Includes information about contact status and creation / activity timestamps",
        "operationId": "GetContacts",
        "parameters": [
          {
            "name": "Campaign",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves only contacts targeted by this Campaign ID"
          },
          {
            "name": "ContactsList",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Retrieves only contacts that are part of this Contact List ID"
          },
          {
            "name": "IsExcludedFromCampaigns",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Will retrieve only contacts that have been added to the exclusion list for marketing emails"
          },
          {
            "name": "Limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "description": "Limit the response to a select number of returned objects",
            "format": "int32"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Create  Contact",
        "description": "Add a new unique contact to your global contact list and select its exclusion status",
        "operationId": "CreateContact",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "IsExcludedFromCampaigns": {
                  "type": "string",
                  "description": "Indicates whether the contact is added to the exclusion list for campaigns or not",
                  "title": "IsExcludedFromCampaigns"
                },
                "Name": {
                  "type": "string",
                  "description": "User-selected name for this contact",
                  "title": "Name"
                },
                "Email": {
                  "type": "string",
                  "description": "Contact email address",
                  "title": "Email"
                }
              },
              "required": [
                "Email"
              ]
            }
          }
        ]
      }
    },
    "/v3/REST/contact/{contact_ID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Contact By ID",
        "description": "Retrieve a specific contact",
        "operationId": "GetContactByID",
        "parameters": [
          {
            "name": "contact_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique numeric ID of the contact you want to retrieve",
            "x-ms-summary": "Contact ID"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Update Contact",
        "description": "Update the user-given name and exclusion status of a specific contact",
        "operationId": "UpdateContact",
        "parameters": [
          {
            "name": "contact_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Contact ID",
            "description": "Unique numeric ID of the contact you want to update"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "IsExcludedFromCampaigns": {
                  "type": "boolean",
                  "description": "Indicates whether the contact is added to the exclusion list for campaigns or not",
                  "title": "IsExcludedFromCampaigns"
                },
                "Name": {
                  "type": "string",
                  "description": "User-selected name for this contact",
                  "title": "Name"
                }
              }
            }
          }
        ]
      }
    },
    "/v3/REST/contactslist": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactsListResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Create Contact List",
        "operationId": "CreateContactList",
        "description": "Create a new contact list",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "User-specified name for this contact list (must be unique)",
                  "title": "Name"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "When true, the contact list will be marked as Deleted",
                  "title": "IsDeleted",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "Name"
              ]
            }
          }
        ]
      }
    },
    "/v3/REST/contactslist/{list_ID}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete Contact List",
        "operationId": "DeleteContactList",
        "description": "Delete a contact list",
        "parameters": [
          {
            "name": "list_ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContactsListResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Update Contact List",
        "description": "Update a specific contact list by changing its name and / or deletion status",
        "operationId": "UpdateContactList",
        "parameters": [
          {
            "name": "list_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique numeric ID assigned to this contact list",
            "x-ms-summary": "List ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "User-specified name for this contact list (must be unique)",
                  "title": "Name"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "When true, the contact list will be marked as Deleted",
                  "title": "IsDeleted",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "Name"
              ]
            }
          }
        ]
      }
    },
    "/v3/REST/campaigndraft": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CampaignDraftResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Campaigns Draft",
        "operationId": "GetCampaignsDraft",
        "description": "Get all campaign drafts and their configuration",
        "parameters": []
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CampaignDraftResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Create Campaign Draft",
        "operationId": "CreateCampaignDraft",
        "description": "Create a new campaign draft. Newsletter and CampaignDraft objects are differentiated by the EditMode values.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          }
        ]
      }
    },
    "/v3/REST/campaigndraft/{draft_ID}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CampaignDraftResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Campaign Draft By ID",
        "operationId": "GetCampaignDraftByID",
        "description": "Get a specific campaign draft and its configuration details",
        "parameters": [
          {
            "name": "draft_ID",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Unique numeric ID of the campaign draft you want to retrieve.",
            "x-ms-summary": "Draft ID"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CampaignDraftResponse"
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "description": "Update an existing campaign draft",
        "summary": "Update Campaign Draft",
        "operationId": "UpdateCampaignDraft",
        "parameters": [
          {
            "name": "draft_ID",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Draft ID",
            "description": "Unique numeric ID of the campaign draft you want to update"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "AXFraction": {
                  "type": "integer",
                  "format": "int32",
                  "description": "AXFraction"
                },
                "AXFractionName": {
                  "type": "string",
                  "description": "AXFractionName"
                },
                "AXTesting": {
                  "type": "string",
                  "description": "AXTesting"
                },
                "Current": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Current"
                },
                "EditMode": {
                  "type": "string",
                  "description": "EditMode"
                },
                "IsStarred": {
                  "type": "boolean",
                  "description": "IsStarred"
                },
                "IsTextPartIncluded": {
                  "type": "boolean",
                  "description": "IsTextPartIncluded"
                },
                "ReplyEmail": {
                  "type": "string",
                  "description": "ReplyEmail"
                },
                "SenderName": {
                  "type": "string",
                  "description": "SenderName"
                },
                "TemplateID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TemplateID"
                },
                "Title": {
                  "type": "string",
                  "description": "Title"
                },
                "ContactsListID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ContactsListID"
                },
                "Locale": {
                  "type": "string",
                  "description": "Locale"
                },
                "SegmentationID": {
                  "type": "integer",
                  "format": "int32",
                  "description": "SegmentationID"
                },
                "SegmentationAlt": {
                  "type": "string",
                  "description": "SegmentationAlt"
                },
                "Sender": {
                  "type": "string",
                  "description": "Sender"
                },
                "SenderEmail": {
                  "type": "string",
                  "description": "SenderEmail"
                },
                "Status": {
                  "type": "string",
                  "description": "Status"
                },
                "Subject": {
                  "type": "string",
                  "description": "Subject"
                }
              }
            }
          }
        ]
      }
    },
    "/v3/REST/campaignoverview": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ClickedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ClickedCount"
                      },
                      "DeliveredCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "DeliveredCount"
                      },
                      "EditMode": {
                        "type": "string",
                        "description": "EditMode"
                      },
                      "EditType": {
                        "type": "string",
                        "description": "EditType"
                      },
                      "ID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID"
                      },
                      "IDType": {
                        "type": "string",
                        "description": "IDType"
                      },
                      "OpenedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "OpenedCount"
                      },
                      "ProcessedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ProcessedCount"
                      },
                      "SendTimeStart": {
                        "type": "integer",
                        "format": "int32",
                        "description": "SendTimeStart"
                      },
                      "Starred": {
                        "type": "boolean",
                        "description": "Starred"
                      },
                      "Status": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Status"
                      },
                      "Subject": {
                        "type": "string",
                        "description": "Subject"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      }
                    }
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "summary": "Get Campaign Overview",
        "operationId": "GetCampaignOverview",
        "description": "Get general details and stats for all drafts, AB Testing objects and/or sent campaigns",
        "parameters": []
      }
    },
    "/v3/REST/contactstatistics": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count"
                },
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "BlockedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "BlockedCount"
                      },
                      "BouncedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "BouncedCount"
                      },
                      "ClickedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ClickedCount"
                      },
                      "ContactID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ContactID"
                      },
                      "DeferredCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "DeferredCount"
                      },
                      "DeliveredCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "DeliveredCount"
                      },
                      "HardbouncedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "HardbouncedCount"
                      },
                      "LastActivityAt": {
                        "type": "string",
                        "description": "LastActivityAt",
                        "title": "",
                        "format": "date-time"
                      },
                      "MarketingContacts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "MarketingContacts"
                      },
                      "OpenedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "OpenedCount"
                      },
                      "ProcessedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ProcessedCount"
                      },
                      "QueuedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "QueuedCount"
                      },
                      "SoftbouncedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "SoftbouncedCount"
                      },
                      "SpamComplaintCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "SpamComplaintCount"
                      },
                      "UnsubscribedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UnsubscribedCount"
                      },
                      "UserMarketingContacts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UserMarketingContacts"
                      },
                      "WorkFlowExitedCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "WorkFlowExitedCount"
                      }
                    }
                  },
                  "description": "Data"
                },
                "Total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total"
                }
              }
            }
          }
        },
        "parameters": [],
        "description": "Retrieve a list of overall aggregated delivery and engagement statistics, grouped by contact",
        "summary": "Get Contacts Statistics",
        "operationId": "GetContactsStatistics"
      }
    }
  },
  "definitions": {
    "Attachment": {
      "type": "object",
      "properties": {
        "Filename": {
          "type": "string",
          "description": "The full name of the file (including the file extension)",
          "x-ms-summary": "Filename"
        },
        "Content-type": {
          "type": "string",
          "description": "Defines the type of content being sent out using a MIME type",
          "x-ms-summary": "Content-type"
        },
        "Content": {
          "type": "string",
          "description": "Base64 encoded content of the attached file",
          "x-ms-summary": "Content"
        }
      }
    },
    "Campaign": {
      "type": "object",
      "properties": {
        "AXFraction": {
          "type": "integer",
          "description": "AXFraction"
        },
        "AXFractionName": {
          "type": "string",
          "description": "AXFractionName"
        },
        "AXTesting": {
          "type": "string",
          "description": "AXTesting"
        },
        "Current": {
          "type": "integer",
          "description": "Current"
        },
        "EditMode": {
          "type": "string",
          "description": "Edit mode for the campaign draft.",
          "title": "Edit Mode",
          "enum": [
            "tool2",
            "html2",
            "mjml"
          ]
        },
        "IsStarred": {
          "type": "boolean",
          "description": "IsStarred"
        },
        "IsTextPartIncluded": {
          "type": "boolean",
          "description": "IsTextPartIncluded"
        },
        "ReplyEmail": {
          "type": "string",
          "description": "ReplyEmail"
        },
        "SenderName": {
          "type": "string",
          "description": "SenderName"
        },
        "TemplateID": {
          "type": "integer",
          "description": "TemplateID"
        },
        "Title": {
          "type": "string",
          "description": "Title"
        },
        "ContactsListID": {
          "type": "string",
          "description": "ContactsListID"
        },
        "ContactsListAlt": {
          "type": "string",
          "description": "ContactsListAlt"
        },
        "Locale": {
          "type": "string",
          "description": "Locale",
          "title": ""
        },
        "SegmentationID": {
          "type": "integer",
          "description": "SegmentationID"
        },
        "SegmentationAlt": {
          "type": "string",
          "description": "SegmentationAlt"
        },
        "Sender": {
          "type": "string",
          "description": "Sender"
        },
        "SenderEmail": {
          "type": "string",
          "description": "SenderEmail"
        },
        "Subject": {
          "type": "string",
          "description": "Subject"
        }
      },
      "required": [
        "Locale"
      ]
    },
    "CampaignDetailContent": {
      "type": "object",
      "properties": {
        "Headers": {
          "type": "string",
          "description": "Headers"
        },
        "Html-part": {
          "type": "string",
          "description": "Html-part"
        },
        "MJMLContent": {
          "type": "string",
          "description": "MJMLContent"
        },
        "Text-part": {
          "type": "string",
          "description": "Text-part"
        }
      }
    },
    "MessageResponse": {
      "type": "object",
      "properties": {
        "ArrivedAt": {
          "type": "string",
          "description": "ArrivedAt"
        },
        "AttachmentCount": {
          "type": "integer",
          "description": "AttachmentCount"
        },
        "AttemptCount": {
          "type": "integer",
          "description": "AttemptCount"
        },
        "CampaignID": {
          "type": "integer",
          "description": "CampaignID"
        },
        "ContactAlt": {
          "type": "string",
          "description": "ContactAlt"
        },
        "ContactID": {
          "type": "integer",
          "description": "ContactID"
        },
        "Delay": {
          "type": "number",
          "description": "Delay"
        },
        "DestinationID": {
          "type": "integer",
          "description": "DestinationID"
        },
        "FilterTime": {
          "type": "integer",
          "description": "FilterTime"
        },
        "ID": {
          "type": "integer",
          "description": "ID"
        },
        "IsClickTracked": {
          "type": "boolean",
          "description": "IsClickTracked"
        },
        "IsHTMLPartIncluded": {
          "type": "boolean",
          "description": "IsHTMLPartIncluded"
        },
        "IsOpenTracked": {
          "type": "boolean",
          "description": "IsOpenTracked"
        },
        "IsTextPartIncluded": {
          "type": "boolean",
          "description": "IsTextPartIncluded"
        },
        "IsUnsubTracked": {
          "type": "boolean",
          "description": "IsUnsubTracked"
        },
        "MessageSize": {
          "type": "integer",
          "description": "MessageSize"
        },
        "SenderID": {
          "type": "integer",
          "description": "SenderID"
        },
        "SpamassassinScore": {
          "type": "number",
          "description": "SpamassassinScore"
        },
        "SpamassRules": {
          "type": "string",
          "description": "SpamassRules"
        },
        "StateID": {
          "type": "integer",
          "description": "StateID"
        },
        "StatePermanent": {
          "type": "boolean",
          "description": "StatePermanent"
        },
        "Status": {
          "type": "string",
          "description": "Status"
        },
        "Subject": {
          "type": "string",
          "description": "Subject"
        },
        "UUID": {
          "type": "string",
          "description": "UUID"
        }
      }
    },
    "MessageInformationResponse": {
      "type": "object",
      "properties": {
        "CampaignID": {
          "type": "integer",
          "format": "int32",
          "description": "CampaignID"
        },
        "ClickTrackedCount": {
          "type": "integer",
          "format": "int32",
          "description": "ClickTrackedCount"
        },
        "ContactID": {
          "type": "integer",
          "format": "int32",
          "description": "ContactID"
        },
        "CreatedAt": {
          "type": "string",
          "description": "CreatedAt",
          "title": "CreatedAt",
          "format": "date-time"
        },
        "ID": {
          "type": "integer",
          "format": "int32",
          "description": "ID"
        },
        "MessageSize": {
          "type": "integer",
          "format": "int32",
          "description": "MessageSize"
        },
        "OpenTrackedCount": {
          "type": "integer",
          "format": "int32",
          "description": "OpenTrackedCount"
        },
        "QueuedCount": {
          "type": "integer",
          "format": "int32",
          "description": "QueuedCount"
        },
        "SendEndAt": {
          "type": "string",
          "description": "SendEndAt"
        },
        "SentCount": {
          "type": "integer",
          "format": "int32",
          "description": "SentCount"
        },
        "SpamAssassinRules": {
          "type": "object",
          "properties": {},
          "description": "SpamAssassinRules"
        },
        "SpamAssassinScore": {
          "type": "number",
          "format": "int32",
          "description": "SpamAssassinScore"
        }
      }
    },
    "ContactResponse": {
      "type": "object",
      "properties": {
        "IsExcludedFromCampaigns": {
          "type": "boolean",
          "description": "IsExcludedFromCampaigns"
        },
        "Name": {
          "type": "string",
          "description": "Name"
        },
        "CreatedAt": {
          "type": "string",
          "description": "CreatedAt",
          "title": "CreatedAt",
          "format": "date-time"
        },
        "DeliveredCount": {
          "type": "integer",
          "format": "int32",
          "description": "DeliveredCount"
        },
        "Email": {
          "type": "string",
          "description": "Email"
        },
        "ExclusionFromCampaignsUpdatedAt": {
          "type": "string",
          "description": "ExclusionFromCampaignsUpdatedAt"
        },
        "ID": {
          "type": "integer",
          "format": "int32",
          "description": "ID"
        },
        "IsOptInPending": {
          "type": "boolean",
          "description": "IsOptInPending"
        },
        "IsSpamComplaining": {
          "type": "boolean",
          "description": "IsSpamComplaining"
        },
        "LastActivityAt": {
          "type": "string",
          "description": "LastActivityAt",
          "title": "LastActivityAt",
          "format": "date-time"
        },
        "LastUpdateAt": {
          "type": "string",
          "description": "LastUpdateAt",
          "title": "LastUpdateAt",
          "format": "date-time"
        }
      }
    },
    "ContactsListResponse": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string",
          "description": "Name"
        },
        "Address": {
          "type": "string",
          "description": "Address"
        },
        "CreatedAt": {
          "type": "string",
          "description": "CreatedAt",
          "title": "CreatedAt",
          "format": "date-time"
        },
        "ID": {
          "type": "integer",
          "format": "int32",
          "description": "ID"
        },
        "SubscriberCount": {
          "type": "integer",
          "format": "int32",
          "description": "SubscriberCount"
        }
      }
    },
    "CampaignDraftResponse": {
      "type": "object",
      "properties": {
        "AXFraction": {
          "type": "string",
          "description": "AXFraction"
        },
        "AXFractionName": {
          "type": "string",
          "description": "AXFractionName"
        },
        "AXTesting": {
          "type": "string",
          "description": "AXTesting"
        },
        "Current": {
          "type": "integer",
          "format": "int32",
          "description": "Current"
        },
        "EditMode": {
          "type": "string",
          "description": "EditMode"
        },
        "IsStarred": {
          "type": "boolean",
          "description": "IsStarred"
        },
        "IsTextPartIncluded": {
          "type": "boolean",
          "description": "IsTextPartIncluded"
        },
        "ReplyEmail": {
          "type": "string",
          "description": "ReplyEmail"
        },
        "SenderName": {
          "type": "string",
          "description": "SenderName"
        },
        "TemplateID": {
          "type": "integer",
          "format": "int32",
          "description": "TemplateID"
        },
        "Title": {
          "type": "string",
          "description": "Title"
        },
        "CampaignID": {
          "type": "integer",
          "format": "int32",
          "description": "CampaignID"
        },
        "ContactsListID": {
          "type": "integer",
          "format": "int32",
          "description": "ContactsListID"
        },
        "CreatedAt": {
          "type": "string",
          "description": "CreatedAt",
          "title": "CreatedAt",
          "format": "date-time"
        },
        "DeliveredAt": {
          "type": "string",
          "description": "DeliveredAt",
          "title": "DeliveredAt",
          "format": "date-time"
        },
        "ID": {
          "type": "integer",
          "format": "int32",
          "description": "ID"
        },
        "Locale": {
          "type": "string",
          "description": "Locale"
        },
        "ModifiedAt": {
          "type": "string",
          "description": "ModifiedAt"
        },
        "Preset": {
          "type": "string",
          "description": "Preset"
        },
        "SegmentationID": {
          "type": "integer",
          "format": "int32",
          "description": "SegmentationID"
        },
        "Sender": {
          "type": "string",
          "description": "Sender"
        },
        "SenderEmail": {
          "type": "string",
          "description": "SenderEmail"
        },
        "Status": {
          "type": "integer",
          "format": "int32",
          "description": "Status"
        },
        "Subject": {
          "type": "string",
          "description": "Subject"
        },
        "Url": {
          "type": "string",
          "description": "Url"
        },
        "Used": {
          "type": "boolean",
          "description": "Used"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mailjet.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mailjet.com/security-privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing; Communication"
    }
  ]
}