{
  "swagger": "2.0",
  "info": {
    "title": "US Congress CRS (Independent Publisher)",
    "description": "A collection of endpoints to view, retrieve, and re-use machine-readable data from collections available on Congress.gov. Legislative activity only.",
    "version": "1.0",
    "contact": {
      "name": "Dan Romano",
      "url": "https://developments.substack.com",
      "email": "dan.romano@swolcat.com"
    }
  },
  "host": "api.congress.gov",
  "basePath": "/v3",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/amendment": {
      "get": {
        "tags": [
          "amendments"
        ],
        "summary": "Amendment: Get a list of amendments by date of latest action",
        "x-ms-visibility": "important",
        "description": "Example: https://api.congress.gov/v3/amendment?api_key=[INSERT_KEY]",
        "operationId": "Amendment",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "format",
            "x-ms-summary": "Data format (XML/JSON)",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Records returned limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          },
          {
            "name": "fromDateTime",
            "x-ms-summary": "Starting timestamp",
            "in": "query",
            "description": "Starting timestamp for updated date YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDateTime",
            "x-ms-summary": "Ending timestamp",
            "in": "query",
            "description": "Ending timestamp for updated date YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "amendments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": { "type": "integer" },
                      "number": { "type": "string" },
                      "type": { "type": "string" },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [ "congress", "number", "type", "url" ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/amendment/{congress}": {
      "get": {
        "tags": [
          "amendments"
        ],
        "summary": "Amendment: Get a list of amendments by congress",
        "x-ms-visibility": "important",
        "description": "Get a list of amendments filtered by congress, sorted by date of latest action",
        "operationId": "AmendmentCongress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress number",
            "in": "path",
            "description": "The congress number. For example, the value can be 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Data format (XML/JSON)",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Records returned limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          },
          {
            "name": "fromDateTime",
            "x-ms-summary": "Starting timestamp",
            "in": "query",
            "description": "Start timestamp by updated date. Use format: YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDateTime",
            "x-ms-summary": "Ending timestamp",
            "in": "query",
            "description": "The ending timestamp to filter by update date. Use format: YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "amendments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": { "type": "integer" },
                      "number": { "type": "string" },
                      "type": { "type": "string" },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [ "congress", "number", "type", "url" ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/amendment/{congress}/{amendmentType}": {
      "get": {
        "tags": [
          "amendments"
        ],
        "summary": "Amendment: Get amendments by congress and amendment type",
        "x-ms-visibility": "important",
        "description": "Example: https://api.congress.gov/v3/amendment/117/samdt?api_key=[INSERT_KEY]",
        "operationId": "AmendmentList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "The congress number",
            "in": "path",
            "description": "The congress number. For example, the value can be 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amendmentType",
            "x-ms-summary": "Amendment Type",
            "in": "path",
            "description": "The type of amendment. Value can be hamdt, samdt, or suamdt",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Data format (XML/JSON)",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Records returned limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          },
          {
            "name": "fromDateTime",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "Starting timestamp for update date. YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDateTime",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The ending timestamp to filter by update date. Use format: YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "amendments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": { "type": "integer" },
                      "number": { "type": "string" },
                      "type": { "type": "string" },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    },
                    "required": [ "congress", "number", "type", "url" ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/amendment/{congress}/{amendmentType}/{amendmentNumber}": {
      "get": {
        "tags": [
          "amendments"
        ],
        "summary": "Amendment: Get detailed info for a specified amendment",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/amendment/117/samdt/2137?api_key=[INSERT_KEY]",
        "operationId": "AmendmentDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "The congress number. For example, the value can be 117",
            "in": "path",
            "description": "The congress number. For example, the value can be 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amendmentType",
            "x-ms-summary": "Amendment Type",
            "in": "path",
            "description": "The type of amendment. Value can be hamdt, samdt, or suamdt",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amendmentNumber",
            "x-ms-summary": "The amendment's assigned number. Example: 2137",
            "in": "path",
            "description": "The amendment's assigned number. Example: 2137",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Data format (XML/JSON)",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "congress": { "type": "integer" },
                "number": { "type": "string" },
                "type": { "type": "string" },
                "proposedDate": {
                  "type": "string",
                  "format": "date-time"
                },
                "submittedDate": {
                  "type": "string",
                  "format": "date-time"
                },
                "updateDate": {
                  "type": "string",
                  "format": "date-time"
                },
                "purpose": { "type": "string" },
                "chamber": { "type": "string" },
                "latestAction": {
                  "type": "object",
                  "properties": {
                    "actionDate": {
                      "type": "string",
                      "format": "date"
                    },
                    "text": { "type": "string" }
                  }
                },
                "sponsors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bioguideId": { "type": "string" },
                      "firstName": { "type": "string" },
                      "fullName": { "type": "string" },
                      "lastName": { "type": "string" },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                },
                "cosponsors": {
                  "type": "object",
                  "properties": {
                    "count": { "type": "integer" },
                    "countIncludingWithdrawnCosponsors": { "type": "integer" },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/amendment/{congress}/{amendmentType}/{amendmentNumber}/actions": {
      "get": {
        "tags": [
          "amendments"
        ],
        "summary": "Amendment: Get the list of actions on a specified amendment",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/amendment/117/samdt/2137/actions?api_key=[INSERT_KEY]",
        "operationId": "AmendmentActions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "The congress number. For example, the value can be 117",
            "in": "path",
            "description": "The congress number. For example, the value can be 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amendmentType",
            "x-ms-summary": "Amendment Type",
            "in": "path",
            "description": "The type of amendment. Value can be hamdt, samdt, or suamdt",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amendmentNumber",
            "x-ms-summary": "The amendment's assigned number. For example, the value can be 2137",
            "in": "path",
            "description": "The amendment's assigned number. For example, the value can be 2137",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Records returned limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "actions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actionDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "text": { "type": "string" },
                      "type": { "type": "string" },
                      "recordedVotes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "chamber": { "type": "string" },
                            "congress": { "type": "integer" },
                            "date": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "rollNumber": { "type": "integer" },
                            "sessionNumber": { "type": "integer" },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      },
                      "sourceSystem": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "integer" },
                          "name": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/amendment/{congress}/{amendmentType}/{amendmentNumber}/cosponsors": {
      "get": {
        "tags": [
          "amendments"
        ],
        "summary": "Amendment: Get the list of cosponsors on a specified amendment",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/amendment/117/samdt/2137/cosponsors?api_key=[INSERT_KEY]\n",
        "operationId": "AmendmentCosponsors",
        "produces": [

          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "See description",
            "in": "path",
            "description": "The congress number. For example, the value can be 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amendmentType",
            "x-ms-summary": "Amendment Type",
            "in": "path",
            "description": "The type of amendment. Value can be hamdt, samdt, or suamdt",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amendmentNumber",
            "x-ms-summary": "See description",
            "in": "path",
            "description": "The amendment's assigned number. For example, the value can be 2137",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/amendment/{congress}/{amendmentType}/{amendmentNumber}/amendments": {
      "get": {
        "tags": [
          "amendments"
        ],
        "summary": "Amendment: Get the list of amendments to a specified amendment",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/amendment/117/samdt/2137/amendments?api_key=[INSERT_KEY]\n",
        "operationId": "AmendmentAmendments",
        "produces": [

          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress Number",
            "in": "path",
            "description": "The congress number. For example, the value can be 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amendmentType",
            "x-ms-summary": "Amendment Type",
            "in": "path",
            "description": "The type of amendment. Value can be hamdt, samdt, or suamdt",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amendmentNumber",
            "x-ms-summary": "Amendment Number",
            "in": "path",
            "description": "The amendment's assigned number. For example, the value can be 2137",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/amendment/{congress}/{amendmentType}/{amendmentNumber}/text": {
      "get": {
        "tags": [
          "amendments"
        ],
        "summary": "Amendment: Get the list of text versions for a specified amendment",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/amendment/117/hamdt/287/text?api_key=[INSERT_KEY]",
        "operationId": "AmendmentsText",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress Number",
            "in": "path",
            "description": "The congress number. This endpoint is for the 117th Congress and onwards. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amendmentType",
            "x-ms-summary": "Amendment Type",
            "in": "path",
            "description": "The type of amendment. Value can be hamdt or samdt",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amendmentNumber",
            "x-ms-summary": "Amendment Number",
            "in": "path",
            "description": "The amendment's assigned number. For example, the value can be 287",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "textVersions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "type": { "type": "string" },
                      "formats": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": { "type": "string" },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/bill": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get a list of bills",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill?api_key=[INSERT_KEY]\n",
        "operationId": "BillListAll",
        "produces": [

          "application/json"
        ],
        "parameters": [
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          },
          {
            "name": "fromDateTime",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "Starting timestampe for update date. Use YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string"
          },
          {
            "name": "toDateTime",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The ending timestamp to filter by update date. Use format: YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "Sort by update date in Congress.gov. Value can be updateDate+asc or updateDate+desc",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "bills": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": {
                        "type": "integer"
                      },
                      "latestAction": {
                        "type": "object",
                        "properties": {
                          "actionDate": {
                            "type": "string",
                            "format": "date"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      },
                      "number": {
                        "type": "string"
                      },
                      "originChamber": {
                        "type": "string"
                      },
                      "originChamberCode": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "updateDate": {
                        "type": "string",
                        "format": "date"
                      },
                      "updateDateIncludingText": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/bill/{congress}": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get a list of bills by congress and latest action date",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill/117?fromDateTime=2022-08-04T04:02:00Z&toDateTime=2022-09-30T04:03:00Z&sort=updateDate+desc&api_key=[INSERT_KEY]\n",
        "operationId": "BillListByCongress",
        "produces": [

          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "See description",
            "in": "path",
            "description": "The congress number. For example, the value can be 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          },
          {
            "name": "fromDateTime",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "Starting timestampe for update date. Use YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string"
          },
          {
            "name": "toDateTime",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "The ending timestamp to filter by update date. Use format: YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "x-ms-summary": "See description",
            "in": "query",
            "description": "Sort by update date in Congress.gov. Value can be updateDate+asc or updateDate+desc",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "bills": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": {
                        "type": "integer"
                      },
                      "latestAction": {
                        "type": "object",
                        "properties": {
                          "actionDate": {
                            "type": "string",
                            "format": "date"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      },
                      "number": {
                        "type": "string"
                      },
                      "originChamber": {
                        "type": "string"
                      },
                      "originChamberCode": {
                        "type": "string"
                      },
                      "title": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "updateDate": {
                        "type": "string",
                        "format": "date"
                      },
                      "updateDateIncludingText": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "statusCode": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "/bill/{congress}/{billType}": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get a list of bills by congress and bill type",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill/117/hr?fromDateTime=2022-08-04T04:02:00Z&toDateTime=2022-09-30T04:03:00Z&sort=updateDate+asc&api_key=[INSERT_KEY]",
        "operationId": "BillListByType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress Number",
            "in": "path",
            "description": "The congress number. For example, the value can be 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billType",
            "x-ms-summary": "Bill Type",
            "in": "path",
            "description": "The type of bill. Value can be hr, s, hjres, sjres, hconres, sconres, hres, or sres",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          },
          {
            "name": "fromDateTime",
            "x-ms-summary": "Starting Timestamp",
            "in": "query",
            "description": "Starting timestamp for update date. Use YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "toDateTime",
            "x-ms-summary": "Ending Timestamp",
            "in": "query",
            "description": "The ending timestamp to filter by update date. Use format: YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "sort",
            "x-ms-summary": "Sorting Order",
            "in": "query",
            "description": "Sort by update date in Congress.gov. Value can be updateDate+asc or updateDate+desc",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "bills": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": { "type": "integer" },
                      "number": { "type": "string" },
                      "type": { "type": "string" },
                      "title": { "type": "string" },
                      "originChamber": { "type": "string" },
                      "originChamberCode": { "type": "string" },
                      "latestAction": {
                        "type": "object",
                        "properties": {
                          "actionDate": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "text": { "type": "string" }
                        }
                      },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/bill/{congress}/{billType}/{billNumber}": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get detailed info for a specified bill",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill/117/hr/3076?api_key=[INSERT_KEY]",
        "operationId": "BillDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress",
            "in": "path",
            "description": "The congress number. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billType",
            "x-ms-summary": "Bill Type",
            "in": "path",
            "description": "The type of bill. Value can be hr, s, hjres, sjres, hconres, sconres, hres, or sres",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billNumber",
            "x-ms-summary": "Bill Number",
            "in": "path",
            "description": "The bill's assigned number. Example: 3076",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "bill": {
                  "type": "object",
                  "properties": {
                    "congress": { "type": "integer" },
                    "number": { "type": "string" },
                    "type": { "type": "string" },
                    "title": { "type": "string" },
                    "originChamber": { "type": "string" },
                    "originChamberCode": { "type": "string" },
                    "latestAction": {
                      "type": "object",
                      "properties": {
                        "actionDate": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "text": { "type": "string" }
                      }
                    },
                    "updateDate": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/actions": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get the list of actions on a specified bill",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill/117/hr/3076/actions?api_key=[INSERT_KEY]",
        "operationId": "BillActions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress",
            "in": "path",
            "description": "The congress number. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billType",
            "x-ms-summary": "Bill Type",
            "in": "path",
            "description": "The type of bill: hr, s, hjres, sjres, hconres, sconres, hres, or sres",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billNumber",
            "x-ms-summary": "Bill Number",
            "in": "path",
            "description": "The bill's assigned number. Example: 3076",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "actions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actionDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "text": { "type": "string" },
                      "type": { "type": "string" },
                      "recordedVotes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "chamber": { "type": "string" },
                            "congress": { "type": "integer" },
                            "date": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "rollNumber": { "type": "integer" },
                            "sessionNumber": { "type": "integer" },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      },
                      "sourceSystem": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "integer" },
                          "name": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/amendments": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get the list of amendments to a specified bill",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill/117/hr/3076/amendments?api_key=[INSERT_KEY]",
        "operationId": "BillAmendments",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress",
            "in": "path",
            "description": "The congress number. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billType",
            "x-ms-summary": "Bill Type",
            "in": "path",
            "description": "The type of bill: hr, s, hjres, sjres, hconres, sconres, hres, or sres",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billNumber",
            "x-ms-summary": "Bill Number",
            "in": "path",
            "description": "The bill's assigned number. Example: 3076",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "amendments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": { "type": "integer" },
                      "number": { "type": "string" },
                      "type": { "type": "string" },
                      "latestAction": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "text": { "type": "string" }
                        }
                      },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/committees": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get the list of committees associated with a specified bill",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill/117/hr/3076/committees?api_key=[INSERT_KEY]",
        "operationId": "BillCommittees",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress",
            "in": "path",
            "description": "The congress number. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billType",
            "x-ms-summary": "Bill Type",
            "in": "path",
            "description": "The type of bill: hr, s, hjres, sjres, hconres, sconres, hres, or sres",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billNumber",
            "x-ms-summary": "Bill Number",
            "in": "path",
            "description": "The bill's assigned number. Example: 3076",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "committees": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chamber": { "type": "string" },
                      "committeeCode": { "type": "string" },
                      "committeeName": { "type": "string" },
                      "subcommitteeCode": {
                        "type": "string",
                        "default": ""
                      },
                      "subcommitteeName": {
                        "type": "string",
                        "default": ""
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/cosponsors": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get the list of cosponsors on a specified bill",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill/117/hr/3076/cosponsors?api_key=[INSERT_KEY]",
        "operationId": "BillCosponsors",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress",
            "in": "path",
            "description": "The congress number. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billType",
            "x-ms-summary": "Bill Type",
            "in": "path",
            "description": "The type of bill: hr, s, hjres, sjres, hconres, sconres, hres, or sres",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billNumber",
            "x-ms-summary": "Bill Number",
            "in": "path",
            "description": "The bill's assigned number. Example: 3076",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "cosponsors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bioguideId": { "type": "string" },
                      "firstName": { "type": "string" },
                      "lastName": { "type": "string" },
                      "fullName": { "type": "string" },
                      "party": { "type": "string" },
                      "state": { "type": "string" },
                      "sponsorshipDate": {
                        "type": "string",
                        "format": "date"
                      },
                      "isOriginalCosponsor": { "type": "boolean" },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/relatedbills": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get the list of related bills to a specified bill",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill/117/hr/3076/relatedbills?api_key=[INSERT_KEY]",
        "operationId": "BillRelatedbills",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress",
            "in": "path",
            "description": "The congress number. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billType",
            "x-ms-summary": "Bill Type",
            "in": "path",
            "description": "The type of bill: hr, s, hjres, sjres, hconres, sconres, hres, or sres",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billNumber",
            "x-ms-summary": "Bill Number",
            "in": "path",
            "description": "The bill's assigned number. Example: 3076",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "relatedBills": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": { "type": "integer" },
                      "number": { "type": "string" },
                      "type": { "type": "string" },
                      "relationType": { "type": "string" },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/subjects": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get the list of legislative subjects on a specified bill",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill/117/hr/3076/subjects?api_key=[INSERT_KEY]",
        "operationId": "BillSubjects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress",
            "in": "path",
            "description": "The congress number. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billType",
            "x-ms-summary": "Bill Type",
            "in": "path",
            "description": "The type of bill: hr, s, hjres, sjres, hconres, sconres, hres, or sres",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billNumber",
            "x-ms-summary": "Bill Number",
            "in": "path",
            "description": "The bill's assigned number. Example: 3076",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          },
          {
            "name": "fromDateTime",
            "x-ms-summary": "Start Date",
            "in": "query",
            "description": "Starting timestamp for update date. Use YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string"
          },
          {
            "name": "toDateTime",
            "x-ms-summary": "End Date",
            "in": "query",
            "description": "The ending timestamp to filter by update date. Use format: YYYY-MM-DDT00:00:00Z",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "subjects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/text": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get the list of text versions for a specified bill",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill/117/hr/3076/text?api_key=[INSERT_KEY]",
        "operationId": "BillText",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress",
            "in": "path",
            "description": "The congress number. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billType",
            "x-ms-summary": "Bill Type",
            "in": "path",
            "description": "The type of bill: hr, s, hjres, sjres, hconres, sconres, hres, or sres",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billNumber",
            "x-ms-summary": "Bill Number",
            "in": "path",
            "description": "The bill's assigned number. Example: 3076",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "textVersions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "formats": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": { "type": "string" },
                            "url": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/bill/{congress}/{billType}/{billNumber}/titles": {
      "get": {
        "tags": [
          "bill"
        ],
        "summary": "Bills: Get the list of titles for a specified bill",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/bill/117/hr/3076/titles?api_key=[INSERT_KEY]",
        "operationId": "BillTitles",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress",
            "in": "path",
            "description": "The congress number. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billType",
            "x-ms-summary": "Bill Type",
            "in": "path",
            "description": "The type of bill: hr, s, hjres, sjres, hconres, sconres, hres, or sres",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billNumber",
            "x-ms-summary": "Bill Number",
            "in": "path",
            "description": "The bill's assigned number. Example: 3076",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "The starting record returned. 0 is the first record",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "The number of records returned. The maximum limit is 250",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "titles": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": { "type": "string" },
                      "titleType": { "type": "string" },
                      "isOfficialTitle": { "type": "boolean" },
                      "date": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/summaries/{congress}": {
      "get": {
        "tags": [
          "summaries"
        ],
        "summary": "Summaries: Get summaries filtered by congress",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/summaries/117?fromDateTime=2022-04-01T00:00:00Z&toDateTime=2022-04-03T00:00:00Z&sort=updateDate+desc&api_key=[INSERT_KEY]",
        "operationId": "BillSummariesByCongress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress Number",
            "in": "path",
            "description": "The congress number. For example, the value can be 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "The data format. Value can be xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "Starting record number (0 is first record)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "Number of records returned (max: 250)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "fromDateTime",
            "x-ms-summary": "Start DateTime",
            "in": "query",
            "description": "Start timestamp for update date (YYYY-MM-DDT00:00:00Z)",
            "required": false,
            "type": "string"
          },
          {
            "name": "toDateTime",
            "x-ms-summary": "End DateTime",
            "in": "query",
            "description": "End timestamp for update date (YYYY-MM-DDT00:00:00Z)",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "x-ms-summary": "Sort Order",
            "in": "query",
            "description": "Sort order for update date. Values: updateDate+asc or updateDate+desc",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "summaries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": { "type": "integer" },
                      "billNumber": { "type": "integer" },
                      "billType": { "type": "string" },
                      "summaryText": { "type": "string" },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/summaries/{congress}/{billType}": {
      "get": {
        "tags": [
          "summaries"
        ],
        "summary": "Summaries: Get summaries by congress and bill type",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/summaries/117/hr?fromDateTime=2022-04-01T00:00:00Z&toDateTime=2022-04-03T00:00:00Z&sort=updateDate+desc&api_key=[INSERT_KEY]",
        "operationId": "BillSummariesByType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress Number",
            "in": "path",
            "description": "The congress number. For example, 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "billType",
            "x-ms-summary": "Bill Type",
            "in": "path",
            "description": "Type of bill: hr, s, hjres, sjres, hconres, sconres, hres, or sres",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "Data format: xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "Starting record (0 is first record)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "Number of records (max: 250)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "fromDateTime",
            "x-ms-summary": "Start DateTime",
            "in": "query",
            "description": "Start timestamp (YYYY-MM-DDT00:00:00Z)",
            "required": false,
            "type": "string"
          },
          {
            "name": "toDateTime",
            "x-ms-summary": "End DateTime",
            "in": "query",
            "description": "End timestamp (YYYY-MM-DDT00:00:00Z)",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "x-ms-summary": "Sort Order",
            "in": "query",
            "description": "Sort by update date: updateDate+asc or updateDate+desc",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "summaries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": { "type": "integer" },
                      "billNumber": { "type": "integer" },
                      "billType": { "type": "string" },
                      "summaryText": { "type": "string" },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/law/{congress}": {
      "get": {
        "tags": [
          "law"
        ],
        "summary": "Laws: Get a list of laws filtered by congress",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/law/118?api_key=[INSERT_KEY]",
        "operationId": "LawListByCongress",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress Number",
            "in": "path",
            "description": "The congress number. Example: 118",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "Data format: xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "Starting record (0 is first record)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "Number of records (max: 250)",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "laws": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": { "type": "integer" },
                      "lawNumber": { "type": "string" },
                      "title": { "type": "string" },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/law/{congress}/{lawType}": {
      "get": {
        "tags": [
          "law"
        ],
        "summary": "Laws: Get a list of laws filtered by congress and law type",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/law/118/pub?api_key=[INSERT_KEY]",
        "operationId": "LawListByCongressAndLawType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress Number",
            "in": "path",
            "description": "The congress number. Example: 118",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "lawType",
            "x-ms-summary": "Law Type",
            "in": "path",
            "description": "The law type. Allowed values: 'pub' (public law) or 'priv' (private law).",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "Data format: xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "Starting record (0 is first record)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "Number of records (max: 250)",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "laws": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": { "type": "integer" },
                      "lawNumber": { "type": "string" },
                      "lawType": { "type": "string" },
                      "title": { "type": "string" },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "url": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/law/{congress}/{lawType}/{lawNumber}": {
      "get": {
        "tags": [
          "law"
        ],
        "summary": "Laws: Get a law filtered by specified congress, law type, and law number",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/law/117/pub/108?api_key=[INSERT_KEY]",
        "operationId": "LawListByCongressLawTypeAndLawNumber",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress Number",
            "in": "path",
            "description": "The congress number. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "lawType",
            "x-ms-summary": "Law Type",
            "in": "path",
            "description": "The law type. Allowed values: 'pub' (public law) or 'priv' (private law).",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "lawNumber",
            "x-ms-summary": "Law Number",
            "in": "path",
            "description": "The assigned law number. Example: 108",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Format",
            "in": "query",
            "description": "Data format: xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "Starting record (0 is first record)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "Number of records (max: 250)",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "congress": { "type": "integer" },
                "lawNumber": { "type": "string" },
                "lawType": { "type": "string" },
                "title": { "type": "string" },
                "updateDate": {
                  "type": "string",
                  "format": "date-time"
                },
                "url": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/congress": {
      "get": {
        "tags": [
          "congress"
        ],
        "summary": "Congress: Get a list of congresses and congressional sessions",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/congress?api_key=[INSERT_KEY]",
        "operationId": "CongressSessionList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "format",
            "x-ms-summary": "Data Format",
            "in": "query",
            "description": "Data format: xml or json",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "x-ms-summary": "Offset",
            "in": "query",
            "description": "Starting record (0 is first record)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "x-ms-summary": "Limit",
            "in": "query",
            "description": "Number of records returned (max: 250)",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "congresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "congress": { "type": "integer" },
                      "startDate": {
                        "type": "string",
                        "format": "date"
                      },
                      "endDate": {
                        "type": "string",
                        "format": "date"
                      },
                      "sessions": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "session": { "type": "integer" },
                            "startDate": {
                              "type": "string",
                              "format": "date"
                            },
                            "endDate": {
                              "type": "string",
                              "format": "date"
                            }
                          }
                        }
                      },
                      "updateDate": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
          }
        }
      }
    },
    "/congress/{congress}": {
      "get": {
        "tags": [
          "congress"
        ],
        "summary": "Congress: Get detailed info for a specified congress",
        "x-ms-visibility": "important",
        "description": "https://api.congress.gov/v3/congress/116?api_key=[INSERT_KEY]",
        "operationId": "CongressDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "congress",
            "x-ms-summary": "Congress Number",
            "in": "path",
            "description": "The congress number. Example: 117",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "format",
            "x-ms-summary": "Data Format",
            "in": "query",
            "description": "Data format: xml or json",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "congress": { "type": "integer" },
                "startDate": {
                  "type": "string",
                  "format": "date"
                },
                "endDate": {
                  "type": "string",
                  "format": "date"
                },
                "sessions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "session": { "type": "integer" },
                      "startDate": {
                        "type": "string",
                        "format": "date"
                      },
                      "endDate": {
                        "type": "string",
                        "format": "date"
                      }
                    }
                  }
                },
                "updateDate": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. The input parameters are incorrect.",
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "message": { "type": "string" },
                "statusCode": { "type": "integer" }
              }
            }
[...]
