{
  "swagger": "2.0",
  "info": {
    "title": "Exact System",
    "version": "1.0.1",
    "description": "The System service contains the important method \"current/Me\", which is used to retrieve information about the current user, including the division he or she is in. This division is used in almost every other method. Other methods target global data regarding the user and account.",
    "contact": {
      "name": "Indocs",
      "url": "https://indocs.nl",
      "email": "support@indocs.nl"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://indocs.nl"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://indocs.nl/privacyverklaring"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Human Resources"
    }
  ],
  "host": "start.exactonline.nl",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{division}/system/AccountantInfo": {
      "get": {
        "tags": [
          "Accountant Info"
        ],
        "summary": "Get accountant info",
        "description": "This end point shows info related to the accountant of the customer. If the customer is an accountant himself, the service will show the info of the customer.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemAccountantInfo"
        },
        "operationId": "GetAccountantInfo",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountantInfoResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Organization administration"
            ]
          }
        ]
      }
    },
    "/{division}/system/AllDivisions": {
      "get": {
        "tags": [
          "All Divisions"
        ],
        "summary": "Get all divisions",
        "description": "Returns all (non-deleted) divisions of a single license, being the license that owns the division specified in the URI. Typically this will be the signed-in user's license, but for an accountant it can be a client's license instead. Most users will see all divisions that are in the relevant license (including divisions they do not have access rights to), but if the license is not user's (i.e. accountant in client's division), or if the user has limited rights ('view user'), then only divisions that are accessible to the user will be returned.Please note that divisions returned are only those which the user has granted permission to.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemAllDivisions"
        },
        "operationId": "GetAllDivisions",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AllDivisionsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Organization administration"
            ]
          }
        ]
      }
    },
    "/{division}/system/AvailableFeatures": {
      "get": {
        "tags": [
          "Available Features"
        ],
        "summary": "Get available features",
        "description": "This end point shows all features that are available in the current licence.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemAvailableFeatures"
        },
        "operationId": "GetAvailableFeatures",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailableFeaturesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Organization administration"
            ]
          }
        ]
      }
    },
    "/{division}/system/Divisions": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Get divisions",
        "description": "Returns only divisions that are accessible to the signed-in user, as configured in the user card under 'Companies: Access rights'. Accountants will see both their own divisions and those belonging to their clients. Please note that divisions returned are only those which the user has granted permission to.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemDivisions"
        },
        "operationId": "GetDivisions",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DivisionsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Organization administration"
            ]
          }
        ]
      }
    },
    "/{division}/system/GetMostRecentlyUsedDivisions": {
      "get": {
        "tags": [
          "Get Most Recently Used Divisions"
        ],
        "summary": "Get most recently used divisions",
        "description": "The end point retrieves the top 5 most recently used companies.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemGetMostRecentlyUsedDivisions"
        },
        "operationId": "GetGetMostRecentlyUsedDivisions",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetMostRecentlyUsedDivisionsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Organization administration"
            ]
          }
        ]
      }
    },
    "/current/Me": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Get me",
        "description": "This end point retrieves information about the current user.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemMe"
        },
        "operationId": "GetMe",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "filter",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "select",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "skiptoken",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "top",
            "required": false,
            "type": "integer",
            "format": "int32",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MeResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccountantInfoResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/AccountantInfoArray"
        }
      },
      "type": "object"
    },
    "AccountantInfoArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountantInfo"
          }
        }
      },
      "type": "object"
    },
    "AccountantInfo": {
      "title": "AccountantInfo",
      "properties": {
        "ID": {
          "title": "ID",
          "description": "The account ID of the accountant.",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "AddressLine1": {
          "title": "AddressLine1",
          "description": "First address line.",
          "x-ms-summary": "Address Line1",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "AddressLine2": {
          "title": "AddressLine2",
          "description": "Second address line.",
          "x-ms-summary": "Address Line2",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "AddressLine3": {
          "title": "AddressLine3",
          "description": "Third address line.",
          "x-ms-summary": "Address Line3",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "City": {
          "title": "City",
          "description": "City.",
          "x-ms-summary": "City",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Email": {
          "title": "Email",
          "description": "Email.",
          "x-ms-summary": "Email",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "IsAccountant": {
          "title": "IsAccountant",
          "description": "Indicates if the customer is an accountant himself.",
          "x-ms-summary": "Is Accountant",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "Logo": {
          "title": "Logo",
          "description": "Logo.",
          "x-ms-summary": "Logo",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "binary"
        },
        "MenuLogoUrl": {
          "title": "MenuLogoUrl",
          "description": "Url to retrieve the logo of the accountant.",
          "x-ms-summary": "Menu Logo Url",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Name": {
          "title": "Name",
          "description": "The name of the accountant.",
          "x-ms-summary": "Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Phone": {
          "title": "Phone",
          "description": "Phone.",
          "x-ms-summary": "Phone",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Postcode": {
          "title": "Postcode",
          "description": "Postcode.",
          "x-ms-summary": "Postcode",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Website": {
          "title": "Website",
          "description": "Website.",
          "x-ms-summary": "Website",
          "x-ms-visibility": "advanced",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AllDivisionsResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/AllDivisionsArray"
        }
      },
      "type": "object"
    },
    "AllDivisionsArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllDivisions"
          }
        }
      },
      "type": "object"
    },
    "AllDivisions": {
      "title": "AllDivisions",
      "properties": {
        "Code": {
          "title": "Code",
          "description": "Primary key",
          "x-ms-summary": "Code",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "AddressLine1": {
          "title": "AddressLine1",
          "description": "Address line 1",
          "x-ms-summary": "Address Line1",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "AddressLine2": {
          "title": "AddressLine2",
          "description": "Address line 2",
          "x-ms-summary": "Address Line2",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "AddressLine3": {
          "title": "AddressLine3",
          "description": "Address line 3",
          "x-ms-summary": "Address Line3",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ArchiveDate": {
          "title": "ArchiveDate",
          "description": "Date on which the division is archived",
          "x-ms-summary": "Archive Date",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "BlockingStatus": {
          "title": "BlockingStatus",
          "description": "Values: 0 = Not blocked, 1 = Backup/restore, 2 = Conversion busy, 3 = Conversion shadow, 4 = Conversion waiting, 5 = Copy data waiting, 6 = Copy data busy",
          "x-ms-summary": "Blocking Status",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "BusinessTypeCode": {
          "title": "BusinessTypeCode",
          "description": "Business type code",
          "x-ms-summary": "Business Type Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "BusinessTypeDescription": {
          "title": "BusinessTypeDescription",
          "description": "Business type description",
          "x-ms-summary": "Business Type Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ChamberOfCommerceEstablishment": {
          "title": "ChamberOfCommerceEstablishment",
          "description": "Chamber of commerce establishment",
          "x-ms-summary": "Chamber Of Commerce Establishment",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ChamberOfCommerceNumber": {
          "title": "ChamberOfCommerceNumber",
          "description": "Chamber of commerce number",
          "x-ms-summary": "Chamber Of Commerce Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "City": {
          "title": "City",
          "description": "City",
          "x-ms-summary": "City",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CompanySizeCode": {
          "title": "CompanySizeCode",
          "description": "Company size code",
          "x-ms-summary": "Company Size Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CompanySizeDescription": {
          "title": "CompanySizeDescription",
          "description": "Company size description",
          "x-ms-summary": "Company Size Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Country": {
          "title": "Country",
          "description": "Country of the division. Is used for determination of legislation",
          "x-ms-summary": "Country",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Created": {
          "title": "Created",
          "description": "Creation date",
          "x-ms-summary": "Created",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "Creator": {
          "title": "Creator",
          "description": "User ID of creator",
          "x-ms-summary": "Creator",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CreatorFullName": {
          "title": "CreatorFullName",
          "description": "Name of the creator",
          "x-ms-summary": "Creator Full Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Currency": {
          "title": "Currency",
          "description": "Default currency",
          "x-ms-summary": "Currency",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Current": {
          "title": "Current",
          "description": "True when this division is most recently used by the API",
          "x-ms-summary": "Current",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "Customer": {
          "title": "Customer",
          "description": "Owner account of the division",
          "x-ms-summary": "Customer",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CustomerCode": {
          "title": "CustomerCode",
          "description": "Owner account code of the division",
          "x-ms-summary": "Customer Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CustomerName": {
          "title": "CustomerName",
          "description": "Owner account name of the division",
          "x-ms-summary": "Customer Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DatevAccountantNumber": {
          "title": "DatevAccountantNumber",
          "description": "Accountant number DATEV (Germany)",
          "x-ms-summary": "Datev Accountant Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DatevClientNumber": {
          "title": "DatevClientNumber",
          "description": "Client number DATEV (Germany)",
          "x-ms-summary": "Datev Client Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Description": {
          "title": "Description",
          "description": "Description",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DivisionMoveDate": {
          "title": "DivisionMoveDate",
          "description": "Date when the division was moved. Please resync all data when this value changes because value of Timestamp is regenerated.",
          "x-ms-summary": "Division Move Date",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "Email": {
          "title": "Email",
          "description": "Email address",
          "x-ms-summary": "Email",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Fax": {
          "title": "Fax",
          "description": "Fax number",
          "x-ms-summary": "Fax",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Hid": {
          "title": "Hid",
          "description": "Company number that is assigned by the customer",
          "x-ms-summary": "Hid",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "IsDossierDivision": {
          "title": "IsDossierDivision",
          "description": "True if the division is a dossier division",
          "x-ms-summary": "Is Dossier Division",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "IsMainDivision": {
          "title": "IsMainDivision",
          "description": "True if the division is the main division",
          "x-ms-summary": "Is Main Division",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "IsPracticeDivision": {
          "title": "IsPracticeDivision",
          "description": "True if the division is a practice division",
          "x-ms-summary": "Is Practice Division",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "Legislation": {
          "title": "Legislation",
          "description": "Legislation",
          "x-ms-summary": "Legislation",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Modified": {
          "title": "Modified",
          "description": "Last modified date",
          "x-ms-summary": "Modified",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "Modifier": {
          "title": "Modifier",
          "description": "User ID of modifier",
          "x-ms-summary": "Modifier",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ModifierFullName": {
          "title": "ModifierFullName",
          "description": "Name of the last modifier",
          "x-ms-summary": "Modifier Full Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "OBNumber": {
          "title": "OBNumber",
          "description": "The soletrader VAT number used for offical returns to tax authority",
          "x-ms-summary": "OB Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Phone": {
          "title": "Phone",
          "description": "Phone number",
          "x-ms-summary": "Phone",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Postcode": {
          "title": "Postcode",
          "description": "Postcode",
          "x-ms-summary": "Postcode",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SbiCode": {
          "title": "SbiCode",
          "description": "SBI code",
          "x-ms-summary": "Sbi Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SbiDescription": {
          "title": "SbiDescription",
          "description": "SBI description",
          "x-ms-summary": "Sbi Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SectorCode": {
          "title": "SectorCode",
          "description": "Sector code",
          "x-ms-summary": "Sector Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SectorDescription": {
          "title": "SectorDescription",
          "description": "Sector description",
          "x-ms-summary": "Sector Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ShareCapital": {
          "title": "ShareCapital",
          "description": "the part of the capital of a company that comes from the issue of shares (France)",
          "x-ms-summary": "Share Capital",
          "x-ms-visibility": "advanced",
          "type": "number",
          "format": "double"
        },
        "SiretNumber": {
          "title": "SiretNumber",
          "description": "An INSEE code which allows the geographic identification of the company. (France)",
          "x-ms-summary": "Siret Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "StartDate": {
          "title": "StartDate",
          "description": "Date on which the division becomes active",
          "x-ms-summary": "Start Date",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "State": {
          "title": "State",
          "description": "State/Province code",
          "x-ms-summary": "State",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Status": {
          "title": "Status",
          "description": "Follow the Division Status 0 for Inactive, 1 for Active and 2 for Archived Divisions",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "SubsectorCode": {
          "title": "SubsectorCode",
          "description": "Subsector code",
          "x-ms-summary": "Subsector Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SubsectorDescription": {
          "title": "SubsectorDescription",
          "description": "Subsector description",
          "x-ms-summary": "Subsector Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "TaxOfficeNumber": {
          "title": "TaxOfficeNumber",
          "description": "Number of your local tax authority (Germany)",
          "x-ms-summary": "Tax Office Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "TaxReferenceNumber": {
          "title": "TaxReferenceNumber",
          "description": "Local tax reference number (Germany)",
          "x-ms-summary": "Tax Reference Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "TemplateCode": {
          "title": "TemplateCode",
          "description": "Division template code",
          "x-ms-summary": "Template Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "VATNumber": {
          "title": "VATNumber",
          "description": "The number under which the account is known at the Value Added Tax collection agency",
          "x-ms-summary": "VAT Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Website": {
          "title": "Website",
          "description": "Customer value, hyperlink to external website",
          "x-ms-summary": "Website",
          "x-ms-visibility": "advanced",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AvailableFeaturesResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/AvailableFeaturesArray"
        }
      },
      "type": "object"
    },
    "AvailableFeaturesArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AvailableFeatures"
          }
        }
      },
      "type": "object"
    },
    "AvailableFeatures": {
      "title": "AvailableFeatures",
      "properties": {
        "ID": {
          "title": "ID",
          "description": "The ID of the feature.",
          "x-ms-summary": "ID",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "Description": {
          "title": "Description",
          "description": "The description of the feature.",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DivisionsResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/DivisionsArray"
        }
      },
      "type": "object"
    },
    "DivisionsArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Divisions"
          }
        }
      },
      "type": "object"
    },
    "Divisions": {
      "title": "Divisions",
      "properties": {
        "Code": {
          "title": "Code",
          "description": "Primary key",
          "x-ms-summary": "Code",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "AddressLine1": {
          "title": "AddressLine1",
          "description": "Address line 1",
          "x-ms-summary": "Address Line1",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "AddressLine2": {
          "title": "AddressLine2",
          "description": "Address line 2",
          "x-ms-summary": "Address Line2",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "AddressLine3": {
          "title": "AddressLine3",
          "description": "Address line 3",
          "x-ms-summary": "Address Line3",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ArchiveDate": {
          "title": "ArchiveDate",
          "description": "Date on which the division is archived",
          "x-ms-summary": "Archive Date",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "BlockingStatus": {
          "title": "BlockingStatus",
          "description": "Values: 0 = Not blocked, 1 = Backup/restore, 2 = Conversion busy, 3 = Conversion shadow, 4 = Conversion waiting, 5 = Copy data waiting, 6 = Copy data busy",
          "x-ms-summary": "Blocking Status",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "BusinessTypeCode": {
          "title": "BusinessTypeCode",
          "description": "Business type code",
          "x-ms-summary": "Business Type Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "BusinessTypeDescription": {
          "title": "BusinessTypeDescription",
          "description": "Business type description",
          "x-ms-summary": "Business Type Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ChamberOfCommerceEstablishment": {
          "title": "ChamberOfCommerceEstablishment",
          "description": "Chamber of commerce establishment",
          "x-ms-summary": "Chamber Of Commerce Establishment",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ChamberOfCommerceNumber": {
          "title": "ChamberOfCommerceNumber",
          "description": "Chamber of commerce number",
          "x-ms-summary": "Chamber Of Commerce Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "City": {
          "title": "City",
          "description": "City",
          "x-ms-summary": "City",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CompanySizeCode": {
          "title": "CompanySizeCode",
          "description": "Company size code",
          "x-ms-summary": "Company Size Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CompanySizeDescription": {
          "title": "CompanySizeDescription",
          "description": "Company size description",
          "x-ms-summary": "Company Size Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Country": {
          "title": "Country",
          "description": "Country of the division. Is used for determination of legislation",
          "x-ms-summary": "Country",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Created": {
          "title": "Created",
          "description": "Creation date",
          "x-ms-summary": "Created",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "Creator": {
          "title": "Creator",
          "description": "User ID of creator",
          "x-ms-summary": "Creator",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CreatorFullName": {
          "title": "CreatorFullName",
          "description": "Name of the creator",
          "x-ms-summary": "Creator Full Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Currency": {
          "title": "Currency",
          "description": "Default currency",
          "x-ms-summary": "Currency",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Current": {
          "title": "Current",
          "description": "True when this division is most recently used by the API",
          "x-ms-summary": "Current",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "Customer": {
          "title": "Customer",
          "description": "Owner account of the division",
          "x-ms-summary": "Customer",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CustomerCode": {
          "title": "CustomerCode",
          "description": "Owner account code of the division",
          "x-ms-summary": "Customer Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CustomerName": {
          "title": "CustomerName",
          "description": "Owner account name of the division",
          "x-ms-summary": "Customer Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DatevAccountantNumber": {
          "title": "DatevAccountantNumber",
          "description": "Accountant number DATEV (Germany)",
          "x-ms-summary": "Datev Accountant Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DatevClientNumber": {
          "title": "DatevClientNumber",
          "description": "Client number DATEV (Germany)",
          "x-ms-summary": "Datev Client Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Description": {
          "title": "Description",
          "description": "Description",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DivisionMoveDate": {
          "title": "DivisionMoveDate",
          "description": "Date when the division was moved. Please resync all data when this value changes because value of Timestamp is regenerated.",
          "x-ms-summary": "Division Move Date",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "Email": {
          "title": "Email",
          "description": "Email address",
          "x-ms-summary": "Email",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Fax": {
          "title": "Fax",
          "description": "Fax number",
          "x-ms-summary": "Fax",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Hid": {
          "title": "Hid",
          "description": "Company number that is assigned by the customer",
          "x-ms-summary": "Hid",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "IsDossierDivision": {
          "title": "IsDossierDivision",
          "description": "True if the division is a dossier division",
          "x-ms-summary": "Is Dossier Division",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "IsMainDivision": {
          "title": "IsMainDivision",
          "description": "True if the division is the main division",
          "x-ms-summary": "Is Main Division",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "IsPracticeDivision": {
          "title": "IsPracticeDivision",
          "description": "True if the division is a practice division",
          "x-ms-summary": "Is Practice Division",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "Legislation": {
          "title": "Legislation",
          "description": "Legislation",
          "x-ms-summary": "Legislation",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Modified": {
          "title": "Modified",
          "description": "Last modified date",
          "x-ms-summary": "Modified",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "Modifier": {
          "title": "Modifier",
          "description": "User ID of modifier",
          "x-ms-summary": "Modifier",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ModifierFullName": {
          "title": "ModifierFullName",
          "description": "Name of the last modifier",
          "x-ms-summary": "Modifier Full Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "OBNumber": {
          "title": "OBNumber",
          "description": "The soletrader VAT number used for offical returns to tax authority",
          "x-ms-summary": "OB Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Phone": {
          "title": "Phone",
          "description": "Phone number",
          "x-ms-summary": "Phone",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Postcode": {
          "title": "Postcode",
          "description": "Postcode",
          "x-ms-summary": "Postcode",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SbiCode": {
          "title": "SbiCode",
          "description": "SBI code",
          "x-ms-summary": "Sbi Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SbiDescription": {
          "title": "SbiDescription",
          "description": "SBI description",
          "x-ms-summary": "Sbi Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SectorCode": {
          "title": "SectorCode",
          "description": "Sector code",
          "x-ms-summary": "Sector Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SectorDescription": {
          "title": "SectorDescription",
          "description": "Sector description",
          "x-ms-summary": "Sector Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ShareCapital": {
          "title": "ShareCapital",
          "description": "the part of the capital of a company that comes from the issue of shares (France)",
          "x-ms-summary": "Share Capital",
          "x-ms-visibility": "advanced",
          "type": "number",
          "format": "double"
        },
        "SiretNumber": {
          "title": "SiretNumber",
          "description": "An INSEE code which allows the geographic identification of the company. (France)",
          "x-ms-summary": "Siret Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "StartDate": {
          "title": "StartDate",
          "description": "Date on which the division becomes active",
          "x-ms-summary": "Start Date",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "State": {
          "title": "State",
          "description": "State/Province code",
          "x-ms-summary": "State",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Status": {
          "title": "Status",
          "description": "Follow the Division Status 0 for Inactive, 1 for Active and 2 for Archived Divisions",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "SubsectorCode": {
          "title": "SubsectorCode",
          "description": "Subsector code",
          "x-ms-summary": "Subsector Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SubsectorDescription": {
          "title": "SubsectorDescription",
          "description": "Subsector description",
          "x-ms-summary": "Subsector Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "TaxOfficeNumber": {
          "title": "TaxOfficeNumber",
          "description": "Number of your local tax authority (Germany)",
          "x-ms-summary": "Tax Office Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "TaxReferenceNumber": {
          "title": "TaxReferenceNumber",
          "description": "Local tax reference number (Germany)",
          "x-ms-summary": "Tax Reference Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "TemplateCode": {
          "title": "TemplateCode",
          "description": "Division template code",
          "x-ms-summary": "Template Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "VATNumber": {
          "title": "VATNumber",
          "description": "The number under which the account is known at the Value Added Tax collection agency",
          "x-ms-summary": "VAT Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Website": {
          "title": "Website",
          "description": "Customer value, hyperlink to external website",
          "x-ms-summary": "Website",
          "x-ms-visibility": "advanced",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetMostRecentlyUsedDivisionsResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/GetMostRecentlyUsedDivisionsArray"
        }
      },
      "type": "object"
    },
    "GetMostRecentlyUsedDivisionsArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GetMostRecentlyUsedDivisions"
          }
        }
      },
      "type": "object"
    },
    "GetMostRecentlyUsedDivisions": {
      "title": "GetMostRecentlyUsedDivisions",
      "properties": {
        "Code": {
          "title": "Code",
          "description": "Primary key",
          "x-ms-summary": "Code",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "AddressLine1": {
          "title": "AddressLine1",
          "description": "Address line 1",
          "x-ms-summary": "Address Line1",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "AddressLine2": {
          "title": "AddressLine2",
          "description": "Address line 2",
          "x-ms-summary": "Address Line2",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "AddressLine3": {
          "title": "AddressLine3",
          "description": "Address line 3",
          "x-ms-summary": "Address Line3",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ArchiveDate": {
          "title": "ArchiveDate",
          "description": "Date on which the division is archived",
          "x-ms-summary": "Archive Date",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "BlockingStatus": {
          "title": "BlockingStatus",
          "description": "Values: 0 = Not blocked, 1 = Backup/restore, 2 = Conversion busy, 3 = Conversion shadow, 4 = Conversion waiting, 5 = Copy data waiting, 6 = Copy data busy",
          "x-ms-summary": "Blocking Status",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "BusinessTypeCode": {
          "title": "BusinessTypeCode",
          "description": "Business type code",
          "x-ms-summary": "Business Type Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "BusinessTypeDescription": {
          "title": "BusinessTypeDescription",
          "description": "Business type description",
          "x-ms-summary": "Business Type Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ChamberOfCommerceEstablishment": {
          "title": "ChamberOfCommerceEstablishment",
          "description": "Chamber of commerce establishment",
          "x-ms-summary": "Chamber Of Commerce Establishment",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ChamberOfCommerceNumber": {
          "title": "ChamberOfCommerceNumber",
          "description": "Chamber of commerce number",
          "x-ms-summary": "Chamber Of Commerce Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "City": {
          "title": "City",
          "description": "City",
          "x-ms-summary": "City",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CompanySizeCode": {
          "title": "CompanySizeCode",
          "description": "Company size code",
          "x-ms-summary": "Company Size Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CompanySizeDescription": {
          "title": "CompanySizeDescription",
          "description": "Company size description",
          "x-ms-summary": "Company Size Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Country": {
          "title": "Country",
          "description": "Country of the division. Is used for determination of legislation",
          "x-ms-summary": "Country",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Created": {
          "title": "Created",
          "description": "Creation date",
          "x-ms-summary": "Created",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "Creator": {
          "title": "Creator",
          "description": "User ID of creator",
          "x-ms-summary": "Creator",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CreatorFullName": {
          "title": "CreatorFullName",
          "description": "Name of the creator",
          "x-ms-summary": "Creator Full Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Currency": {
          "title": "Currency",
          "description": "Default currency",
          "x-ms-summary": "Currency",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Current": {
          "title": "Current",
          "description": "True when this division is most recently used by the API",
          "x-ms-summary": "Current",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "Customer": {
          "title": "Customer",
          "description": "Owner account of the division",
          "x-ms-summary": "Customer",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CustomerCode": {
          "title": "CustomerCode",
          "description": "Owner account code of the division",
          "x-ms-summary": "Customer Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "CustomerName": {
          "title": "CustomerName",
          "description": "Owner account name of the division",
          "x-ms-summary": "Customer Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DatevAccountantNumber": {
          "title": "DatevAccountantNumber",
          "description": "Accountant number DATEV (Germany)",
          "x-ms-summary": "Datev Accountant Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DatevClientNumber": {
          "title": "DatevClientNumber",
          "description": "Client number DATEV (Germany)",
          "x-ms-summary": "Datev Client Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Description": {
          "title": "Description",
          "description": "Description",
          "x-ms-summary": "Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DivisionMoveDate": {
          "title": "DivisionMoveDate",
          "description": "Date when the division was moved. Please resync all data when this value changes because value of Timestamp is regenerated.",
          "x-ms-summary": "Division Move Date",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "Email": {
          "title": "Email",
          "description": "Email address",
          "x-ms-summary": "Email",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Fax": {
          "title": "Fax",
          "description": "Fax number",
          "x-ms-summary": "Fax",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Hid": {
          "title": "Hid",
          "description": "Company number that is assigned by the customer",
          "x-ms-summary": "Hid",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "IsDossierDivision": {
          "title": "IsDossierDivision",
          "description": "True if the division is a dossier division",
          "x-ms-summary": "Is Dossier Division",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "IsMainDivision": {
          "title": "IsMainDivision",
          "description": "True if the division is the main division",
          "x-ms-summary": "Is Main Division",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "IsPracticeDivision": {
          "title": "IsPracticeDivision",
          "description": "True if the division is a practice division",
          "x-ms-summary": "Is Practice Division",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "Legislation": {
          "title": "Legislation",
          "description": "Legislation",
          "x-ms-summary": "Legislation",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Modified": {
          "title": "Modified",
          "description": "Last modified date",
          "x-ms-summary": "Modified",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "Modifier": {
          "title": "Modifier",
          "description": "User ID of modifier",
          "x-ms-summary": "Modifier",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ModifierFullName": {
          "title": "ModifierFullName",
          "description": "Name of the last modifier",
          "x-ms-summary": "Modifier Full Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "OBNumber": {
          "title": "OBNumber",
          "description": "The soletrader VAT number used for offical returns to tax authority",
          "x-ms-summary": "OB Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Phone": {
          "title": "Phone",
          "description": "Phone number",
          "x-ms-summary": "Phone",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Postcode": {
          "title": "Postcode",
          "description": "Postcode",
          "x-ms-summary": "Postcode",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SbiCode": {
          "title": "SbiCode",
          "description": "SBI code",
          "x-ms-summary": "Sbi Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SbiDescription": {
          "title": "SbiDescription",
          "description": "SBI description",
          "x-ms-summary": "Sbi Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SectorCode": {
          "title": "SectorCode",
          "description": "Sector code",
          "x-ms-summary": "Sector Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SectorDescription": {
          "title": "SectorDescription",
          "description": "Sector description",
          "x-ms-summary": "Sector Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ShareCapital": {
          "title": "ShareCapital",
          "description": "the part of the capital of a company that comes from the issue of shares (France)",
          "x-ms-summary": "Share Capital",
          "x-ms-visibility": "advanced",
          "type": "number",
          "format": "double"
        },
        "SiretNumber": {
          "title": "SiretNumber",
          "description": "An INSEE code which allows the geographic identification of the company. (France)",
          "x-ms-summary": "Siret Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "StartDate": {
          "title": "StartDate",
          "description": "Date on which the division becomes active",
          "x-ms-summary": "Start Date",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "date-time"
        },
        "State": {
          "title": "State",
          "description": "State/Province code",
          "x-ms-summary": "State",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Status": {
          "title": "Status",
          "description": "Follow the Division Status 0 for Inactive, 1 for Active and 2 for Archived Divisions",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "SubsectorCode": {
          "title": "SubsectorCode",
          "description": "Subsector code",
          "x-ms-summary": "Subsector Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "SubsectorDescription": {
          "title": "SubsectorDescription",
          "description": "Subsector description",
          "x-ms-summary": "Subsector Description",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "TaxOfficeNumber": {
          "title": "TaxOfficeNumber",
          "description": "Number of your local tax authority (Germany)",
          "x-ms-summary": "Tax Office Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "TaxReferenceNumber": {
          "title": "TaxReferenceNumber",
          "description": "Local tax reference number (Germany)",
          "x-ms-summary": "Tax Reference Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "TemplateCode": {
          "title": "TemplateCode",
          "description": "Division template code",
          "x-ms-summary": "Template Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "VATNumber": {
          "title": "VATNumber",
          "description": "The number under which the account is known at the Value Added Tax collection agency",
          "x-ms-summary": "VAT Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Website": {
          "title": "Website",
          "description": "Customer value, hyperlink to external website",
          "x-ms-summary": "Website",
          "x-ms-visibility": "advanced",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MeResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/MeArray"
        }
      },
      "type": "object"
    },
    "MeArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Me"
          }
        }
      },
      "type": "object"
    },
    "Me": {
      "title": "Me",
      "properties": {
        "UserID": {
          "title": "UserID",
          "description": "Primary key",
          "x-ms-summary": "UserID",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "AccountingDivision": {
          "title": "AccountingDivision",
          "description": "Accounting division number",
          "x-ms-summary": "Accounting Division",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "CurrentDivision": {
          "title": "CurrentDivision",
          "description": "Division number that is currently used in the API. You should use a division number in the url",
          "x-ms-summary": "Current Division",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "CustomerCode": {
          "title": "CustomerCode",
          "description": "Account code of the logged in user.",
          "x-ms-summary": "Customer Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DivisionCustomer": {
          "title": "DivisionCustomer",
          "description": "Owner account of the division",
          "x-ms-summary": "Division Customer",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DivisionCustomerCode": {
          "title": "DivisionCustomerCode",
          "description": "Owner account code of the division",
          "x-ms-summary": "Division Customer Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DivisionCustomerName": {
          "title": "DivisionCustomerName",
          "description": "Owner account name of the division",
          "x-ms-summary": "Division Customer Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DivisionCustomerSiretNumber": {
          "title": "DivisionCustomerSiretNumber",
          "description": "Owner account SIRET Number of the division for French legislation",
          "x-ms-summary": "Division Customer Siret Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DivisionCustomerVatNumber": {
          "title": "DivisionCustomerVatNumber",
          "description": "Owner account VAT Number of the division",
          "x-ms-summary": "Division Customer Vat Number",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "DossierDivision": {
          "title": "DossierDivision",
          "description": "Dossier division number (optional)",
          "x-ms-summary": "Dossier Division",
          "x-ms-visibility": "advanced",
          "type": "integer",
          "format": "int32"
        },
        "Email": {
          "title": "Email",
          "description": "Email address of the user",
          "x-ms-summary": "Email",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "EmployeeID": {
          "title": "EmployeeID",
          "description": "Employee ID",
          "x-ms-summary": "EmployeeID",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "FirstName": {
          "title": "FirstName",
          "description": "First name",
          "x-ms-summary": "First Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "FullName": {
          "title": "FullName",
          "description": "Full name of the user",
          "x-ms-summary": "Full Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Gender": {
          "title": "Gender",
          "description": "Gender: M=Male, V=Female, O=Unknown",
          "x-ms-summary": "Gender",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Initials": {
          "title": "Initials",
          "description": "Initials",
          "x-ms-summary": "Initials",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "IsClientUser": {
          "title": "IsClientUser",
          "description": "Client user of an accountant: either a portal user or a non-accountant user with his own license (internal use)",
          "x-ms-summary": "Is Client User",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "IsMyFirmPortalUser": {
          "title": "IsMyFirmPortalUser",
          "description": "MyFirm user of accountant with limited access and specific start page (internal use)",
          "x-ms-summary": "Is My Firm Portal User",
          "x-ms-visibility": "advanced",
          "type": "boolean"
        },
        "Language": {
          "title": "Language",
          "description": "Language spoken by this user",
          "x-ms-summary": "Language",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "LanguageCode": {
          "title": "LanguageCode",
          "description": "Language (culture) that is used in Exact Online",
          "x-ms-summary": "Language Code",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "LastName": {
          "title": "LastName",
          "description": "Last name",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Legislation": {
          "title": "Legislation",
          "description": "Legislation",
          "x-ms-summary": "Legislation",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "MiddleName": {
          "title": "MiddleName",
          "description": "Middle name",
          "x-ms-summary": "Middle Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Mobile": {
          "title": "Mobile",
          "description": "Mobile phone",
          "x-ms-summary": "Mobile",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Nationality": {
          "title": "Nationality",
          "description": "Nationality",
          "x-ms-summary": "Nationality",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Phone": {
          "title": "Phone",
          "description": "Phone number",
          "x-ms-summary": "Phone",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "PhoneExtension": {
          "title": "PhoneExtension",
          "description": "Phone number extension",
          "x-ms-summary": "Phone Extension",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "PictureUrl": {
          "title": "PictureUrl",
          "description": "Url that can be used to retrieve the picture of the user",
          "x-ms-summary": "Picture Url",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ServerTime": {
          "title": "ServerTime",
          "description": "The current date and time in Exact Online",
          "x-ms-summary": "Server Time",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "ServerUtcOffset": {
          "title": "ServerUtcOffset",
          "description": "The time difference with UTC in seconds",
          "x-ms-summary": "Server Utc Offset",
          "x-ms-visibility": "advanced",
          "type": "number",
          "format": "double"
        },
        "ThumbnailPicture": {
          "title": "ThumbnailPicture",
          "description": "Binary thumbnail picture of this user (This property will never return value and will be removed in the near future.)",
          "x-ms-summary": "Thumbnail Picture",
          "x-ms-visibility": "advanced",
          "type": "string",
          "format": "binary"
        },
        "ThumbnailPictureFormat": {
          "title": "ThumbnailPictureFormat",
          "description": "File type of the picture (This property will never return value and will be removed in the near future.)",
          "x-ms-summary": "Thumbnail Picture Format",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "Title": {
          "title": "Title",
          "description": "Title",
          "x-ms-summary": "Title",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "UserName": {
          "title": "UserName",
          "description": "Login name of the user",
          "x-ms-summary": "User Name",
          "x-ms-visibility": "advanced",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://start.exactonline.nl/api/oauth2/auth",
      "tokenUrl": "https://start.exactonline.nl/api/oauth2/token",
      "scopes": {
        "Organization administration": "Grants organization administration access"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "Organization administration"
      ]
    }
  ]
}