{
  "swagger": "2.0",
  "info": {
    "title": "Exact System",
    "version": "1.0.0",
    "description": "The System service contains the important method \"current/Me\", which is used to retrieve information about the current user, including the division he or she is in. This division is used in almost every other method. Other methods target global data regarding the user and account.",
    "contact": {
      "name": "Indocs",
      "url": "https://indocs.nl",
      "email": "support@indocs.nl"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://indocs.nl"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://indocs.nl/privacyverklaring"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Human Resources"
    }
  ],
  "host": "start.exactonline.nl",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{division}/system/AccountantInfo": {
      "get": {
        "tags": [
          "Accountant Info"
        ],
        "summary": "Get Accountant Info",
        "description": "This end point shows info related to the accountant of the customer. If the customer is an accountant himself, the service will show the info of the customer.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemAccountantInfo"
        },
        "operationId": "GetAccountantInfo",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "An OData like filter string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "A comma separated string of the properties you would like returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "A token allowing you to skip the first n items.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "Only retrieve the first n items.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "The division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountantInfoResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Organization administration"
            ]
          }
        ]
      }
    },
    "/{division}/system/AllDivisions": {
      "get": {
        "tags": [
          "All Divisions"
        ],
        "summary": "Get All Divisions",
        "description": "Returns all (non-deleted) divisions of a single license, being the license that owns the division specified in the URI. Typically this will be the signed-in user's license, but for an accountant it can be a client's license instead. Most users will see all divisions that are in the relevant license (including divisions they do not have access rights to), but if the license is not user's (i.e. accountant in client's division), or if the user has limited rights ('view user'), then only divisions that are accessible to the user will be returned.Please note that divisions returned are only those which the user has granted permission to.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemAllDivisions"
        },
        "operationId": "GetAllDivisions",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "An OData like filter string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "A comma separated string of the properties you would like returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "A token allowing you to skip the first n items.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "Only retrieve the first n items.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "The division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AllDivisionsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Organization administration"
            ]
          }
        ]
      }
    },
    "/{division}/system/AvailableFeatures": {
      "get": {
        "tags": [
          "Available Features"
        ],
        "summary": "Get Available Features",
        "description": "This end point shows all features that are available in the current licence.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemAvailableFeatures"
        },
        "operationId": "GetAvailableFeatures",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "An OData like filter string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "A comma separated string of the properties you would like returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "A token allowing you to skip the first n items.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "Only retrieve the first n items.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "The division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailableFeaturesResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Organization administration"
            ]
          }
        ]
      }
    },
    "/{division}/system/Divisions": {
      "get": {
        "tags": [
          "Divisions"
        ],
        "summary": "Get Divisions",
        "description": "Returns only divisions that are accessible to the signed-in user, as configured in the user card under 'Companies: Access rights'. Accountants will see both their own divisions and those belonging to their clients. Please note that divisions returned are only those which the user has granted permission to.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemDivisions"
        },
        "operationId": "GetDivisions",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "An OData like filter string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "A comma separated string of the properties you would like returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "A token allowing you to skip the first n items.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "Only retrieve the first n items.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "The division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DivisionsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Organization administration"
            ]
          }
        ]
      }
    },
    "/{division}/system/GetMostRecentlyUsedDivisions": {
      "get": {
        "tags": [
          "Get Most Recently Used Divisions"
        ],
        "summary": "Get Get Most Recently Used Divisions",
        "description": "The end point retrieves the top 5 most recently used companies.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemGetMostRecentlyUsedDivisions"
        },
        "operationId": "GetGetMostRecentlyUsedDivisions",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "An OData like filter string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "A comma separated string of the properties you would like returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "A token allowing you to skip the first n items.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "Only retrieve the first n items.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "division",
            "in": "path",
            "description": "The division",
            "x-ms-summary": "The division",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetMostRecentlyUsedDivisionsResponse"
            }
          }
        },
        "security": [
          {
            "oauth2_auth": [
              "Organization administration"
            ]
          }
        ]
      }
    },
    "/current/Me": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Get Me",
        "description": "This end point retrieves information about the current user.",
        "externalDocs": {
          "description": "More information",
          "url": "https://start.exactonline.nl/docs/HlpRestAPIResourcesDetails.aspx?name=SystemSystemMe"
        },
        "operationId": "GetMe",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData like filter string.",
            "x-ms-summary": "An OData like filter string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "A comma separated string of the properties you would like returned.",
            "x-ms-summary": "A comma separated string of the properties you would like returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "A token allowing you to skip the first n items.",
            "x-ms-summary": "A token allowing you to skip the first n items.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Only retrieve the first n items.",
            "x-ms-summary": "Only retrieve the first n items.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MeResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AccountantInfoResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/AccountantInfoArray"
        }
      },
      "type": "object"
    },
    "AccountantInfoArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountantInfo"
          }
        }
      },
      "type": "object"
    },
    "AccountantInfo": {
      "title": "AccountantInfo",
      "properties": {
        "ID": {
          "title": "ID",
          "description": "The account ID of the accountant.",
          "type": "string"
        },
        "AddressLine1": {
          "title": "AddressLine1",
          "description": "First address line.",
          "type": "string"
        },
        "AddressLine2": {
          "title": "AddressLine2",
          "description": "Second address line.",
          "type": "string"
        },
        "AddressLine3": {
          "title": "AddressLine3",
          "description": "Third address line.",
          "type": "string"
        },
        "City": {
          "title": "City",
          "description": "City.",
          "type": "string"
        },
        "Email": {
          "title": "Email",
          "description": "Email.",
          "type": "string"
        },
        "IsAccountant": {
          "title": "IsAccountant",
          "description": "Indicates if the customer is an accountant himself.",
          "type": "boolean"
        },
        "Logo": {
          "title": "Logo",
          "description": "Logo.",
          "type": "string",
          "format": "binary"
        },
        "MenuLogoUrl": {
          "title": "MenuLogoUrl",
          "description": "Url to retrieve the logo of the accountant.",
          "type": "string"
        },
        "Name": {
          "title": "Name",
          "description": "The name of the accountant.",
          "type": "string"
        },
        "Phone": {
          "title": "Phone",
          "description": "Phone.",
          "type": "string"
        },
        "Postcode": {
          "title": "Postcode",
          "description": "Postcode.",
          "type": "string"
        },
        "Website": {
          "title": "Website",
          "description": "Website.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AllDivisionsResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/AllDivisionsArray"
        }
      },
      "type": "object"
    },
    "AllDivisionsArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AllDivisions"
          }
        }
      },
      "type": "object"
    },
    "AllDivisions": {
      "title": "AllDivisions",
      "properties": {
        "Code": {
          "title": "Code",
          "description": "Primary key",
          "type": "integer",
          "format": "int32"
        },
        "AddressLine1": {
          "title": "AddressLine1",
          "description": "Address line 1",
          "type": "string"
        },
        "AddressLine2": {
          "title": "AddressLine2",
          "description": "Address line 2",
          "type": "string"
        },
        "AddressLine3": {
          "title": "AddressLine3",
          "description": "Address line 3",
          "type": "string"
        },
        "ArchiveDate": {
          "title": "ArchiveDate",
          "description": "Date on which the division is archived",
          "type": "string",
          "format": "date-time"
        },
        "BlockingStatus": {
          "title": "BlockingStatus",
          "description": "Values: 0 = Not blocked, 1 = Backup/restore, 2 = Conversion busy, 3 = Conversion shadow, 4 = Conversion waiting, 5 = Copy data waiting, 6 = Copy data busy",
          "type": "integer",
          "format": "int32"
        },
        "BusinessTypeCode": {
          "title": "BusinessTypeCode",
          "description": "Business type code",
          "type": "string"
        },
        "BusinessTypeDescription": {
          "title": "BusinessTypeDescription",
          "description": "Business type description",
          "type": "string"
        },
        "ChamberOfCommerceEstablishment": {
          "title": "ChamberOfCommerceEstablishment",
          "description": "Chamber of commerce establishment",
          "type": "string"
        },
        "ChamberOfCommerceNumber": {
          "title": "ChamberOfCommerceNumber",
          "description": "Chamber of commerce number",
          "type": "string"
        },
        "City": {
          "title": "City",
          "description": "City",
          "type": "string"
        },
        "CompanySizeCode": {
          "title": "CompanySizeCode",
          "description": "Company size code",
          "type": "string"
        },
        "CompanySizeDescription": {
          "title": "CompanySizeDescription",
          "description": "Company size description",
          "type": "string"
        },
        "Country": {
          "title": "Country",
          "description": "Country of the division. Is used for determination of legislation",
          "type": "string"
        },
        "Created": {
          "title": "Created",
          "description": "Creation date",
          "type": "string",
          "format": "date-time"
        },
        "Creator": {
          "title": "Creator",
          "description": "User ID of creator",
          "type": "string"
        },
        "CreatorFullName": {
          "title": "CreatorFullName",
          "description": "Name of the creator",
          "type": "string"
        },
        "Currency": {
          "title": "Currency",
          "description": "Default currency",
          "type": "string"
        },
        "Current": {
          "title": "Current",
          "description": "True when this division is most recently used by the API",
          "type": "boolean"
        },
        "Customer": {
          "title": "Customer",
          "description": "Owner account of the division",
          "type": "string"
        },
        "CustomerCode": {
          "title": "CustomerCode",
          "description": "Owner account code of the division",
          "type": "string"
        },
        "CustomerName": {
          "title": "CustomerName",
          "description": "Owner account name of the division",
          "type": "string"
        },
        "DatevAccountantNumber": {
          "title": "DatevAccountantNumber",
          "description": "Accountant number DATEV (Germany)",
          "type": "string"
        },
        "DatevClientNumber": {
          "title": "DatevClientNumber",
          "description": "Client number DATEV (Germany)",
          "type": "string"
        },
        "Description": {
          "title": "Description",
          "description": "Description",
          "type": "string"
        },
        "DivisionMoveDate": {
          "title": "DivisionMoveDate",
          "description": "Date when the division was moved. Please resync all data when this value changes because value of Timestamp is regenerated.",
          "type": "string",
          "format": "date-time"
        },
        "Email": {
          "title": "Email",
          "description": "Email address",
          "type": "string"
        },
        "Fax": {
          "title": "Fax",
          "description": "Fax number",
          "type": "string"
        },
        "Hid": {
          "title": "Hid",
          "description": "Company number that is assigned by the customer",
          "type": "integer",
          "format": "int64"
        },
        "IsDossierDivision": {
          "title": "IsDossierDivision",
          "description": "True if the division is a dossier division",
          "type": "boolean"
        },
        "IsMainDivision": {
          "title": "IsMainDivision",
          "description": "True if the division is the main division",
          "type": "boolean"
        },
        "IsPracticeDivision": {
          "title": "IsPracticeDivision",
          "description": "True if the division is a practice division",
          "type": "boolean"
        },
        "Legislation": {
          "title": "Legislation",
          "description": "Legislation",
          "type": "string"
        },
        "Modified": {
          "title": "Modified",
          "description": "Last modified date",
          "type": "string",
          "format": "date-time"
        },
        "Modifier": {
          "title": "Modifier",
          "description": "User ID of modifier",
          "type": "string"
        },
        "ModifierFullName": {
          "title": "ModifierFullName",
          "description": "Name of the last modifier",
          "type": "string"
        },
        "OBNumber": {
          "title": "OBNumber",
          "description": "The soletrader VAT number used for offical returns to tax authority",
          "type": "string"
        },
        "Phone": {
          "title": "Phone",
          "description": "Phone number",
          "type": "string"
        },
        "Postcode": {
          "title": "Postcode",
          "description": "Postcode",
          "type": "string"
        },
        "SbiCode": {
          "title": "SbiCode",
          "description": "SBI code",
          "type": "string"
        },
        "SbiDescription": {
          "title": "SbiDescription",
          "description": "SBI description",
          "type": "string"
        },
        "SectorCode": {
          "title": "SectorCode",
          "description": "Sector code",
          "type": "string"
        },
        "SectorDescription": {
          "title": "SectorDescription",
          "description": "Sector description",
          "type": "string"
        },
        "ShareCapital": {
          "title": "ShareCapital",
          "description": "the part of the capital of a company that comes from the issue of shares (France)",
          "type": "number",
          "format": "double"
        },
        "SiretNumber": {
          "title": "SiretNumber",
          "description": "An INSEE code which allows the geographic identification of the company. (France)",
          "type": "string"
        },
        "StartDate": {
          "title": "StartDate",
          "description": "Date on which the division becomes active",
          "type": "string",
          "format": "date-time"
        },
        "State": {
          "title": "State",
          "description": "State/Province code",
          "type": "string"
        },
        "Status": {
          "title": "Status",
          "description": "Follow the Division Status 0 for Inactive, 1 for Active and 2 for Archived Divisions",
          "type": "integer",
          "format": "int32"
        },
        "SubsectorCode": {
          "title": "SubsectorCode",
          "description": "Subsector code",
          "type": "string"
        },
        "SubsectorDescription": {
          "title": "SubsectorDescription",
          "description": "Subsector description",
          "type": "string"
        },
        "TaxOfficeNumber": {
          "title": "TaxOfficeNumber",
          "description": "Number of your local tax authority (Germany)",
          "type": "string"
        },
        "TaxReferenceNumber": {
          "title": "TaxReferenceNumber",
          "description": "Local tax reference number (Germany)",
          "type": "string"
        },
        "TemplateCode": {
          "title": "TemplateCode",
          "description": "Division template code",
          "type": "string"
        },
        "VATNumber": {
          "title": "VATNumber",
          "description": "The number under which the account is known at the Value Added Tax collection agency",
          "type": "string"
        },
        "Website": {
          "title": "Website",
          "description": "Customer value, hyperlink to external website",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AvailableFeaturesResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/AvailableFeaturesArray"
        }
      },
      "type": "object"
    },
    "AvailableFeaturesArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AvailableFeatures"
          }
        }
      },
      "type": "object"
    },
    "AvailableFeatures": {
      "title": "AvailableFeatures",
      "properties": {
        "ID": {
          "title": "ID",
          "description": "The ID of the feature.",
          "type": "integer",
          "format": "int32"
        },
        "Description": {
          "title": "Description",
          "description": "The description of the feature.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DivisionsResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/DivisionsArray"
        }
      },
      "type": "object"
    },
    "DivisionsArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Divisions"
          }
        }
      },
      "type": "object"
    },
    "Divisions": {
      "title": "Divisions",
      "properties": {
        "Code": {
          "title": "Code",
          "description": "Primary key",
          "type": "integer",
          "format": "int32"
        },
        "AddressLine1": {
          "title": "AddressLine1",
          "description": "Address line 1",
          "type": "string"
        },
        "AddressLine2": {
          "title": "AddressLine2",
          "description": "Address line 2",
          "type": "string"
        },
        "AddressLine3": {
          "title": "AddressLine3",
          "description": "Address line 3",
          "type": "string"
        },
        "ArchiveDate": {
          "title": "ArchiveDate",
          "description": "Date on which the division is archived",
          "type": "string",
          "format": "date-time"
        },
        "BlockingStatus": {
          "title": "BlockingStatus",
          "description": "Values: 0 = Not blocked, 1 = Backup/restore, 2 = Conversion busy, 3 = Conversion shadow, 4 = Conversion waiting, 5 = Copy data waiting, 6 = Copy data busy",
          "type": "integer",
          "format": "int32"
        },
        "BusinessTypeCode": {
          "title": "BusinessTypeCode",
          "description": "Business type code",
          "type": "string"
        },
        "BusinessTypeDescription": {
          "title": "BusinessTypeDescription",
          "description": "Business type description",
          "type": "string"
        },
        "ChamberOfCommerceEstablishment": {
          "title": "ChamberOfCommerceEstablishment",
          "description": "Chamber of commerce establishment",
          "type": "string"
        },
        "ChamberOfCommerceNumber": {
          "title": "ChamberOfCommerceNumber",
          "description": "Chamber of commerce number",
          "type": "string"
        },
        "City": {
          "title": "City",
          "description": "City",
          "type": "string"
        },
        "CompanySizeCode": {
          "title": "CompanySizeCode",
          "description": "Company size code",
          "type": "string"
        },
        "CompanySizeDescription": {
          "title": "CompanySizeDescription",
          "description": "Company size description",
          "type": "string"
        },
        "Country": {
          "title": "Country",
          "description": "Country of the division. Is used for determination of legislation",
          "type": "string"
        },
        "Created": {
          "title": "Created",
          "description": "Creation date",
          "type": "string",
          "format": "date-time"
        },
        "Creator": {
          "title": "Creator",
          "description": "User ID of creator",
          "type": "string"
        },
        "CreatorFullName": {
          "title": "CreatorFullName",
          "description": "Name of the creator",
          "type": "string"
        },
        "Currency": {
          "title": "Currency",
          "description": "Default currency",
          "type": "string"
        },
        "Current": {
          "title": "Current",
          "description": "True when this division is most recently used by the API",
          "type": "boolean"
        },
        "Customer": {
          "title": "Customer",
          "description": "Owner account of the division",
          "type": "string"
        },
        "CustomerCode": {
          "title": "CustomerCode",
          "description": "Owner account code of the division",
          "type": "string"
        },
        "CustomerName": {
          "title": "CustomerName",
          "description": "Owner account name of the division",
          "type": "string"
        },
        "DatevAccountantNumber": {
          "title": "DatevAccountantNumber",
          "description": "Accountant number DATEV (Germany)",
          "type": "string"
        },
        "DatevClientNumber": {
          "title": "DatevClientNumber",
          "description": "Client number DATEV (Germany)",
          "type": "string"
        },
        "Description": {
          "title": "Description",
          "description": "Description",
          "type": "string"
        },
        "DivisionMoveDate": {
          "title": "DivisionMoveDate",
          "description": "Date when the division was moved. Please resync all data when this value changes because value of Timestamp is regenerated.",
          "type": "string",
          "format": "date-time"
        },
        "Email": {
          "title": "Email",
          "description": "Email address",
          "type": "string"
        },
        "Fax": {
          "title": "Fax",
          "description": "Fax number",
          "type": "string"
        },
        "Hid": {
          "title": "Hid",
          "description": "Company number that is assigned by the customer",
          "type": "integer",
          "format": "int64"
        },
        "IsDossierDivision": {
          "title": "IsDossierDivision",
          "description": "True if the division is a dossier division",
          "type": "boolean"
        },
        "IsMainDivision": {
          "title": "IsMainDivision",
          "description": "True if the division is the main division",
          "type": "boolean"
        },
        "IsPracticeDivision": {
          "title": "IsPracticeDivision",
          "description": "True if the division is a practice division",
          "type": "boolean"
        },
        "Legislation": {
          "title": "Legislation",
          "description": "Legislation",
          "type": "string"
        },
        "Modified": {
          "title": "Modified",
          "description": "Last modified date",
          "type": "string",
          "format": "date-time"
        },
        "Modifier": {
          "title": "Modifier",
          "description": "User ID of modifier",
          "type": "string"
        },
        "ModifierFullName": {
          "title": "ModifierFullName",
          "description": "Name of the last modifier",
          "type": "string"
        },
        "OBNumber": {
          "title": "OBNumber",
          "description": "The soletrader VAT number used for offical returns to tax authority",
          "type": "string"
        },
        "Phone": {
          "title": "Phone",
          "description": "Phone number",
          "type": "string"
        },
        "Postcode": {
          "title": "Postcode",
          "description": "Postcode",
          "type": "string"
        },
        "SbiCode": {
          "title": "SbiCode",
          "description": "SBI code",
          "type": "string"
        },
        "SbiDescription": {
          "title": "SbiDescription",
          "description": "SBI description",
          "type": "string"
        },
        "SectorCode": {
          "title": "SectorCode",
          "description": "Sector code",
          "type": "string"
        },
        "SectorDescription": {
          "title": "SectorDescription",
          "description": "Sector description",
          "type": "string"
        },
        "ShareCapital": {
          "title": "ShareCapital",
          "description": "the part of the capital of a company that comes from the issue of shares (France)",
          "type": "number",
          "format": "double"
        },
        "SiretNumber": {
          "title": "SiretNumber",
          "description": "An INSEE code which allows the geographic identification of the company. (France)",
          "type": "string"
        },
        "StartDate": {
          "title": "StartDate",
          "description": "Date on which the division becomes active",
          "type": "string",
          "format": "date-time"
        },
        "State": {
          "title": "State",
          "description": "State/Province code",
          "type": "string"
        },
        "Status": {
          "title": "Status",
          "description": "Follow the Division Status 0 for Inactive, 1 for Active and 2 for Archived Divisions",
          "type": "integer",
          "format": "int32"
        },
        "SubsectorCode": {
          "title": "SubsectorCode",
          "description": "Subsector code",
          "type": "string"
        },
        "SubsectorDescription": {
          "title": "SubsectorDescription",
          "description": "Subsector description",
          "type": "string"
        },
        "TaxOfficeNumber": {
          "title": "TaxOfficeNumber",
          "description": "Number of your local tax authority (Germany)",
          "type": "string"
        },
        "TaxReferenceNumber": {
          "title": "TaxReferenceNumber",
          "description": "Local tax reference number (Germany)",
          "type": "string"
        },
        "TemplateCode": {
          "title": "TemplateCode",
          "description": "Division template code",
          "type": "string"
        },
        "VATNumber": {
          "title": "VATNumber",
          "description": "The number under which the account is known at the Value Added Tax collection agency",
          "type": "string"
        },
        "Website": {
          "title": "Website",
          "description": "Customer value, hyperlink to external website",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetMostRecentlyUsedDivisionsResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/GetMostRecentlyUsedDivisionsArray"
        }
      },
      "type": "object"
    },
    "GetMostRecentlyUsedDivisionsArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GetMostRecentlyUsedDivisions"
          }
        }
      },
      "type": "object"
    },
    "GetMostRecentlyUsedDivisions": {
      "title": "GetMostRecentlyUsedDivisions",
      "properties": {
        "Code": {
          "title": "Code",
          "description": "Primary key",
          "type": "integer",
          "format": "int32"
        },
        "AddressLine1": {
          "title": "AddressLine1",
          "description": "Address line 1",
          "type": "string"
        },
        "AddressLine2": {
          "title": "AddressLine2",
          "description": "Address line 2",
          "type": "string"
        },
        "AddressLine3": {
          "title": "AddressLine3",
          "description": "Address line 3",
          "type": "string"
        },
        "ArchiveDate": {
          "title": "ArchiveDate",
          "description": "Date on which the division is archived",
          "type": "string",
          "format": "date-time"
        },
        "BlockingStatus": {
          "title": "BlockingStatus",
          "description": "Values: 0 = Not blocked, 1 = Backup/restore, 2 = Conversion busy, 3 = Conversion shadow, 4 = Conversion waiting, 5 = Copy data waiting, 6 = Copy data busy",
          "type": "integer",
          "format": "int32"
        },
        "BusinessTypeCode": {
          "title": "BusinessTypeCode",
          "description": "Business type code",
          "type": "string"
        },
        "BusinessTypeDescription": {
          "title": "BusinessTypeDescription",
          "description": "Business type description",
          "type": "string"
        },
        "ChamberOfCommerceEstablishment": {
          "title": "ChamberOfCommerceEstablishment",
          "description": "Chamber of commerce establishment",
          "type": "string"
        },
        "ChamberOfCommerceNumber": {
          "title": "ChamberOfCommerceNumber",
          "description": "Chamber of commerce number",
          "type": "string"
        },
        "City": {
          "title": "City",
          "description": "City",
          "type": "string"
        },
        "CompanySizeCode": {
          "title": "CompanySizeCode",
          "description": "Company size code",
          "type": "string"
        },
        "CompanySizeDescription": {
          "title": "CompanySizeDescription",
          "description": "Company size description",
          "type": "string"
        },
        "Country": {
          "title": "Country",
          "description": "Country of the division. Is used for determination of legislation",
          "type": "string"
        },
        "Created": {
          "title": "Created",
          "description": "Creation date",
          "type": "string",
          "format": "date-time"
        },
        "Creator": {
          "title": "Creator",
          "description": "User ID of creator",
          "type": "string"
        },
        "CreatorFullName": {
          "title": "CreatorFullName",
          "description": "Name of the creator",
          "type": "string"
        },
        "Currency": {
          "title": "Currency",
          "description": "Default currency",
          "type": "string"
        },
        "Current": {
          "title": "Current",
          "description": "True when this division is most recently used by the API",
          "type": "boolean"
        },
        "Customer": {
          "title": "Customer",
          "description": "Owner account of the division",
          "type": "string"
        },
        "CustomerCode": {
          "title": "CustomerCode",
          "description": "Owner account code of the division",
          "type": "string"
        },
        "CustomerName": {
          "title": "CustomerName",
          "description": "Owner account name of the division",
          "type": "string"
        },
        "DatevAccountantNumber": {
          "title": "DatevAccountantNumber",
          "description": "Accountant number DATEV (Germany)",
          "type": "string"
        },
        "DatevClientNumber": {
          "title": "DatevClientNumber",
          "description": "Client number DATEV (Germany)",
          "type": "string"
        },
        "Description": {
          "title": "Description",
          "description": "Description",
          "type": "string"
        },
        "DivisionMoveDate": {
          "title": "DivisionMoveDate",
          "description": "Date when the division was moved. Please resync all data when this value changes because value of Timestamp is regenerated.",
          "type": "string",
          "format": "date-time"
        },
        "Email": {
          "title": "Email",
          "description": "Email address",
          "type": "string"
        },
        "Fax": {
          "title": "Fax",
          "description": "Fax number",
          "type": "string"
        },
        "Hid": {
          "title": "Hid",
          "description": "Company number that is assigned by the customer",
          "type": "integer",
          "format": "int64"
        },
        "IsDossierDivision": {
          "title": "IsDossierDivision",
          "description": "True if the division is a dossier division",
          "type": "boolean"
        },
        "IsMainDivision": {
          "title": "IsMainDivision",
          "description": "True if the division is the main division",
          "type": "boolean"
        },
        "IsPracticeDivision": {
          "title": "IsPracticeDivision",
          "description": "True if the division is a practice division",
          "type": "boolean"
        },
        "Legislation": {
          "title": "Legislation",
          "description": "Legislation",
          "type": "string"
        },
        "Modified": {
          "title": "Modified",
          "description": "Last modified date",
          "type": "string",
          "format": "date-time"
        },
        "Modifier": {
          "title": "Modifier",
          "description": "User ID of modifier",
          "type": "string"
        },
        "ModifierFullName": {
          "title": "ModifierFullName",
          "description": "Name of the last modifier",
          "type": "string"
        },
        "OBNumber": {
          "title": "OBNumber",
          "description": "The soletrader VAT number used for offical returns to tax authority",
          "type": "string"
        },
        "Phone": {
          "title": "Phone",
          "description": "Phone number",
          "type": "string"
        },
        "Postcode": {
          "title": "Postcode",
          "description": "Postcode",
          "type": "string"
        },
        "SbiCode": {
          "title": "SbiCode",
          "description": "SBI code",
          "type": "string"
        },
        "SbiDescription": {
          "title": "SbiDescription",
          "description": "SBI description",
          "type": "string"
        },
        "SectorCode": {
          "title": "SectorCode",
          "description": "Sector code",
          "type": "string"
        },
        "SectorDescription": {
          "title": "SectorDescription",
          "description": "Sector description",
          "type": "string"
        },
        "ShareCapital": {
          "title": "ShareCapital",
          "description": "the part of the capital of a company that comes from the issue of shares (France)",
          "type": "number",
          "format": "double"
        },
        "SiretNumber": {
          "title": "SiretNumber",
          "description": "An INSEE code which allows the geographic identification of the company. (France)",
          "type": "string"
        },
        "StartDate": {
          "title": "StartDate",
          "description": "Date on which the division becomes active",
          "type": "string",
          "format": "date-time"
        },
        "State": {
          "title": "State",
          "description": "State/Province code",
          "type": "string"
        },
        "Status": {
          "title": "Status",
          "description": "Follow the Division Status 0 for Inactive, 1 for Active and 2 for Archived Divisions",
          "type": "integer",
          "format": "int32"
        },
        "SubsectorCode": {
          "title": "SubsectorCode",
          "description": "Subsector code",
          "type": "string"
        },
        "SubsectorDescription": {
          "title": "SubsectorDescription",
          "description": "Subsector description",
          "type": "string"
        },
        "TaxOfficeNumber": {
          "title": "TaxOfficeNumber",
          "description": "Number of your local tax authority (Germany)",
          "type": "string"
        },
        "TaxReferenceNumber": {
          "title": "TaxReferenceNumber",
          "description": "Local tax reference number (Germany)",
          "type": "string"
        },
        "TemplateCode": {
          "title": "TemplateCode",
          "description": "Division template code",
          "type": "string"
        },
        "VATNumber": {
          "title": "VATNumber",
          "description": "The number under which the account is known at the Value Added Tax collection agency",
          "type": "string"
        },
        "Website": {
          "title": "Website",
          "description": "Customer value, hyperlink to external website",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MeResponse": {
      "properties": {
        "d": {
          "$ref": "#/definitions/MeArray"
        }
      },
      "type": "object"
    },
    "MeArray": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Me"
          }
        }
      },
      "type": "object"
    },
    "Me": {
      "title": "Me",
      "properties": {
        "UserID": {
          "title": "UserID",
          "description": "Primary key",
          "type": "string"
        },
        "AccountingDivision": {
          "title": "AccountingDivision",
          "description": "Accounting division number",
          "type": "integer",
          "format": "int32"
        },
        "CurrentDivision": {
          "title": "CurrentDivision",
          "description": "Division number that is currently used in the API. You should use a division number in the url",
          "type": "integer",
          "format": "int32"
        },
        "CustomerCode": {
          "title": "CustomerCode",
          "description": "Account code of the logged in user.",
          "type": "string"
        },
        "DivisionCustomer": {
          "title": "DivisionCustomer",
          "description": "Owner account of the division",
          "type": "string"
        },
        "DivisionCustomerCode": {
          "title": "DivisionCustomerCode",
          "description": "Owner account code of the division",
          "type": "string"
        },
        "DivisionCustomerName": {
          "title": "DivisionCustomerName",
          "description": "Owner account name of the division",
          "type": "string"
        },
        "DivisionCustomerSiretNumber": {
          "title": "DivisionCustomerSiretNumber",
          "description": "Owner account SIRET Number of the division for French legislation",
          "type": "string"
        },
        "DivisionCustomerVatNumber": {
          "title": "DivisionCustomerVatNumber",
          "description": "Owner account VAT Number of the division",
          "type": "string"
        },
        "DossierDivision": {
          "title": "DossierDivision",
          "description": "Dossier division number (optional)",
          "type": "integer",
          "format": "int32"
        },
        "Email": {
          "title": "Email",
          "description": "Email address of the user",
          "type": "string"
        },
        "EmployeeID": {
          "title": "EmployeeID",
          "description": "Employee ID",
          "type": "string"
        },
        "FirstName": {
          "title": "FirstName",
          "description": "First name",
          "type": "string"
        },
        "FullName": {
          "title": "FullName",
          "description": "Full name of the user",
          "type": "string"
        },
        "Gender": {
          "title": "Gender",
          "description": "Gender: M=Male, V=Female, O=Unknown",
          "type": "string"
        },
        "Initials": {
          "title": "Initials",
          "description": "Initials",
          "type": "string"
        },
        "IsClientUser": {
          "title": "IsClientUser",
          "description": "Client user of an accountant: either a portal user or a non-accountant user with his own license (internal use)",
          "type": "boolean"
        },
        "IsMyFirmPortalUser": {
          "title": "IsMyFirmPortalUser",
          "description": "MyFirm user of accountant with limited access and specific start page (internal use)",
          "type": "boolean"
        },
        "Language": {
          "title": "Language",
          "description": "Language spoken by this user",
          "type": "string"
        },
        "LanguageCode": {
          "title": "LanguageCode",
          "description": "Language (culture) that is used in Exact Online",
          "type": "string"
        },
        "LastName": {
          "title": "LastName",
          "description": "Last name",
          "type": "string"
        },
        "Legislation": {
          "title": "Legislation",
          "description": "Legislation",
          "type": "integer",
          "format": "int64"
        },
        "MiddleName": {
          "title": "MiddleName",
          "description": "Middle name",
          "type": "string"
        },
        "Mobile": {
          "title": "Mobile",
          "description": "Mobile phone",
          "type": "string"
        },
        "Nationality": {
          "title": "Nationality",
          "description": "Nationality",
          "type": "string"
        },
        "Phone": {
          "title": "Phone",
          "description": "Phone number",
          "type": "string"
        },
        "PhoneExtension": {
          "title": "PhoneExtension",
          "description": "Phone number extension",
          "type": "string"
        },
        "PictureUrl": {
          "title": "PictureUrl",
          "description": "Url that can be used to retrieve the picture of the user",
          "type": "string"
        },
        "ServerTime": {
          "title": "ServerTime",
          "description": "The current date and time in Exact Online",
          "type": "string"
        },
        "ServerUtcOffset": {
          "title": "ServerUtcOffset",
          "description": "The time difference with UTC in seconds",
          "type": "number",
          "format": "double"
        },
        "ThumbnailPicture": {
          "title": "ThumbnailPicture",
          "description": "Binary thumbnail picture of this user (This property will never return value and will be removed in the near future.)",
          "type": "string",
          "format": "binary"
        },
        "ThumbnailPictureFormat": {
          "title": "ThumbnailPictureFormat",
          "description": "File type of the picture (This property will never return value and will be removed in the near future.)",
          "type": "string"
        },
        "Title": {
          "title": "Title",
          "description": "Title",
          "type": "string"
        },
        "UserName": {
          "title": "UserName",
          "description": "Login name of the user",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://start.exactonline.nl/api/oauth2/auth",
      "tokenUrl": "https://start.exactonline.nl/api/oauth2/token",
      "scopes": {
        "Organization administration": "Grants organization administration access"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "Organization administration"
      ]
    }
  ]
}