{
  "swagger": "2.0",
  "info": {
    "title": "Sessionize",
    "description": "Sessionize is the smart way to manage Call for Papers, Speakers and Agenda for your conference.",
    "version": "1.0",
    "contact": {
      "name": "Nanddeep Nachan, Smita Nachan",
      "url": "https://www.nanddeepnachanblogs.com/",
      "email": "NanddeepNachan@gmail.com"
    }
  },
  "host": "sessionize.com",
  "basePath": "/api/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{ID}/view/Sessions": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "groupId": {
                    "type": "string",
                    "description": "Id of the Sessionize group"
                  },
                  "groupName": {
                    "type": "string",
                    "description": "Name of the Sessionize group"
                  },
                  "sessions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "questionAnswers": {
                          "type": "array",
                          "items": {},
                          "description": "List of question and answers for a session"
                        },
                        "id": {
                          "type": "string",
                          "description": "Id of the Session"
                        },
                        "title": {
                          "type": "string",
                          "description": "Title of the Session"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the Session"
                        },
                        "startsAt": {
                          "type": "string",
                          "description": "Start timing of the Session"
                        },
                        "endsAt": {
                          "type": "string",
                          "description": "End timing of the Session"
                        },
                        "isServiceSession": {
                          "type": "boolean",
                          "description": "True, if session is a service session, false otherwise"
                        },
                        "isPlenumSession": {
                          "type": "boolean",
                          "description": "True, if session is a plenum session, false otherwise"
                        },
                        "speakers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Id of the speaker"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the speaker"
                              }
                            }
                          },
                          "description": "List of speakers for your conference"
                        },
                        "categories": {
                          "type": "array",
                          "items": {},
                          "description": "List of categories for the session"
                        },
                        "roomId": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Id of the room where the session is conducted"
                        },
                        "room": {
                          "type": "string",
                          "description": "Name of the room where the session is conducted"
                        },
                        "liveUrl": {
                          "type": "string",
                          "description": "Live URL of the session to attend"
                        },
                        "recordingUrl": {
                          "type": "string",
                          "description": "Recording URL of the session for lateral viewing"
                        }
                      }
                    },
                    "description": "sessions"
                  },
                  "isDefault": {
                    "type": "boolean",
                    "description": "True, if a default sessionize group, false otherwise"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Sessions",
        "description": "Returns list of sessions for your conference",
        "operationId": "GetSessions",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A Sessionize identifier.",
            "x-ms-summary": "Sessionize Identifier of your conference",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/{ID}/view/Speakers": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "First name of the speaker"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "Last name of the speaker"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "Full name of the speaker"
                  },
                  "bio": {
                    "type": "string",
                    "description": "Bio of the speaker"
                  },
                  "tagLine": {
                    "type": "string",
                    "description": "Tag line of the speaker"
                  },
                  "profilePicture": {
                    "type": "string",
                    "description": "Profile picture of the speaker"
                  },
                  "sessions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Id of the session"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the session"
                        }
                      }
                    },
                    "description": "List of sessions for the speaker"
                  },
                  "isTopSpeaker": {
                    "type": "boolean",
                    "description": "True, if the speaker is a top speaker, false otherwise"
                  },
                  "links": {
                    "type": "array",
                    "items": {},
                    "description": "List of links for the speaker"
                  },
                  "questionAnswers": {
                    "type": "array",
                    "items": {},
                    "description": "List of question and answers for the speaker"
                  },
                  "categories": {
                    "type": "array",
                    "items": {},
                    "description": "List of categories for the speaker"
                  }
                }
              }
            }
          }
        },
        "description": "Returns list of speakers for your conference",
        "summary": "Get Speakers",
        "operationId": "GetSpeakers",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sessionize Identifier of your conference",
            "description": "A Sessionize identifier.",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata":[
    {
      "propertyName":"Website",
      "propertyValue":"https://sessionize.com/"
    },
    {
      "propertyName":"Privacy Policy",
      "propertyValue":"https://sessionize.com/privacy-policy"
    },
    {
      "propertyName":"Categories",
      "propertyValue":"Website"
    }
  ]
}