{
  "swagger": "2.0",
  "info": {
    "title": "Sessionize",
    "description": "Sessionize is the smart way to manage Call for Papers, Speakers and Agenda for your conference.",
    "version": "1.0",
    "contact": {
      "name": "Nanddeep Nachan, Smita Nachan",
      "url": "https://www.nanddeepnachanblogs.com/",
      "email": "NanddeepNachan@gmail.com"
    }
  },
  "host": "sessionize.com",
  "basePath": "/api/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{ID}/view/Sessions": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "groupId": {
                    "type": "string",
                    "description": "groupId"
                  },
                  "groupName": {
                    "type": "string",
                    "description": "groupName"
                  },
                  "sessions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "questionAnswers": {
                          "type": "array",
                          "items": {},
                          "description": "questionAnswers"
                        },
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "title": {
                          "type": "string",
                          "description": "title"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        },
                        "startsAt": {
                          "type": "string",
                          "description": "startsAt"
                        },
                        "endsAt": {
                          "type": "string",
                          "description": "endsAt"
                        },
                        "isServiceSession": {
                          "type": "boolean",
                          "description": "isServiceSession"
                        },
                        "isPlenumSession": {
                          "type": "boolean",
                          "description": "isPlenumSession"
                        },
                        "speakers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              }
                            }
                          },
                          "description": "speakers"
                        },
                        "categories": {
                          "type": "array",
                          "items": {},
                          "description": "categories"
                        },
                        "roomId": {
                          "type": "integer",
                          "format": "int32",
                          "description": "roomId"
                        },
                        "room": {
                          "type": "string",
                          "description": "room"
                        },
                        "liveUrl": {
                          "type": "string",
                          "description": "liveUrl"
                        },
                        "recordingUrl": {
                          "type": "string",
                          "description": "recordingUrl"
                        }
                      }
                    },
                    "description": "sessions"
                  },
                  "isDefault": {
                    "type": "boolean",
                    "description": "isDefault"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Sessions",
        "description": "Returns list of sessions for your conference",
        "operationId": "GetSessions",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A Sessionize identifier.",
            "x-ms-summary": "Sessionize Identifier of your conference",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/{ID}/view/Speakers": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "firstName": {
                    "type": "string",
                    "description": "firstName"
                  },
                  "lastName": {
                    "type": "string",
                    "description": "lastName"
                  },
                  "fullName": {
                    "type": "string",
                    "description": "fullName"
                  },
                  "bio": {
                    "type": "string",
                    "description": "bio"
                  },
                  "tagLine": {
                    "type": "string",
                    "description": "tagLine"
                  },
                  "profilePicture": {
                    "type": "string",
                    "description": "profilePicture"
                  },
                  "sessions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "id"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        }
                      }
                    },
                    "description": "sessions"
                  },
                  "isTopSpeaker": {
                    "type": "boolean",
                    "description": "isTopSpeaker"
                  },
                  "links": {
                    "type": "array",
                    "items": {},
                    "description": "links"
                  },
                  "questionAnswers": {
                    "type": "array",
                    "items": {},
                    "description": "questionAnswers"
                  },
                  "categories": {
                    "type": "array",
                    "items": {},
                    "description": "categories"
                  }
                }
              }
            }
          }
        },
        "description": "Returns list of speakers for your conference",
        "summary": "Get Speakers",
        "operationId": "GetSpeakers",
        "parameters": [
          {
            "name": "ID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sessionize Identifier of your conference",
            "description": "A Sessionize identifier.",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata":[
    {
      "propertyName":"Website",
      "propertyValue":"https://sessionize.com/"
    },
    {
      "propertyName":"Privacy Policy",
      "propertyValue":"https://sessionize.com/privacy-policy"
    },
    {
      "propertyName":"Categories",
      "propertyValue":"Website"
    }
  ]
}