{
  "swagger": "2.0",
  "info": {
    "title": "Dad Jokes",
    "description": "Thousands of hilarious dad jokes for your entertainment apps from API Ninjas.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "dad-jokes-by-api-ninjas.p.rapidapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/dadjokes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "joke": {
                    "type": "string",
                    "description": "A joke.",
                    "title": "Joke"
                  }
                }
              }
            }
          }
        },
        "summary": "Get dad joke",
        "description": "Retrieves one (or more) random dad jokes.",
        "operationId": "JokeGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Set a limit of jokes to return, between 1 and 10. Only available to Premium subscribers.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "X-RapidAPI-Host",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "dad-jokes-by-api-ninjas.p.rapidapi.com",
            "x-ms-visibility": "internal",
            "description": "The Rapid API host.",
            "x-ms-summary": "Host"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-RapidAPI-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://rapidapi.com/apininjas/api/dad-jokes-by-api-ninjas"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://rapidapi.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}