{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Delete Asset - Oxmaint",
    "description": "The **Delete Asset connector (Oxmaint)** allows users to remove assets from the system, ensuring that outdated or decommissioned assets are no longer tracked. This connector integrates with **CMMS**, simplifying asset management and improving **maintenance** workflows by ensuring only active assets are maintained. It also helps keep **work orders** accurate by removing assets that no longer require maintenance.",
    "contact": {
      "name": "Oxmaint Support",
      "url": "https://oxmaint.com/contact.html",
      "email": "contact@oxmaint.com"
    }
  },
  "host": "prod-132.westeurope.logic.azure.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/workflows/49968f78ee484a588436c653a8392100/triggers/manual/paths/invoke": {
      "post": {
        "summary": "Delete Asset - Oxmaint",
        "description": "Delete Asset - Oxmaint",
        "operationId": "DeleteAsset-Oxmaint",
        "parameters": [
          {
            "name": "api-version",
            "default": "2016-06-01",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sp",
            "default": "/triggers/manual/run",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sv",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sig",
            "default": "dIm8hfyAdJ0F7vtnnfDZe13_U1XVj61y4QyKnNZb-sk",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "user_email": {
                  "type": "string",
                  "description": "Enter the master email for your Oxmaint Account",
                  "title": "Master Email",
                  "x-ms-visibility": "important"
                },
                "password": {
                  "type": "string",
                  "description": "Enter the password for your Oxmaint Account",
                  "title": "Password",
                  "x-ms-visibility": "important"
                },
                "vehicle_serial": {
                  "type": "string",
                  "description": "Enter the Asset number you would like to delete",
                  "title": "Asset Number",
                  "x-ms-visibility": "important"
                }
              },
              "default": {
                "user_email": "jasmine@gmail.om",
                "password": "123456",
                "vehicle_serial": "dsfsdfsdfsdfsdf"
              },
              "required": [
                "password",
                "user_email",
                "vehicle_serial"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://oxmaint.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://oxmaint.com/legal/privacy-policy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}