{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Coinbase",
    "description": "A connector to the Coinbase platform to fetch cryptocurrency market rates and exchange rates.",
    "contact": {
      "name": "Roy Paar",
      "email": "roypaar@microsoft.com"
    }
  },
  "host": "api.coinbase.com",
  "basePath": "/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/prices/{currency_pair}/spot": {
      "get": {
        "summary": "Get Spot Price",
        "description": "Get a market rate for a cryptocurrency in the format of BTC-USD.",
        "operationId": "GetSpotPrice",
        "parameters": [
          {
            "name": "currency_pair",
            "required": true,
            "in": "path",
            "type": "string",
            "x-ms-summary": "Currency Pair",
            "description": "The pair of currencies to fetch market rates for/in.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetSpotPriceResponse"
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "summary": "Get Currencies",
        "description": "Get a list of all fiat currencies.",
        "operationId": "GetCurrencies",
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetCurrenciesResponse"
            }
          }
        }
      }
    },
    "/exchange-rates": {
      "get": {
        "summary": "Get Exchange Rates",
        "description": "Get an exchange rate for a cryptocurrency.",
        "operationId": "GetExchangeRate",
        "parameters": [
          {
            "name": "currency",
            "required": true,
            "in": "query",
            "type": "string",
            "x-ms-summary": "Currency",
            "description": "The currency code for which you would like exchange rates."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetExchangeRateResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "GetSpotPriceResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "GetCurrenciesResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "GetExchangeRateResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "statusDetails": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "statusCode": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/messages"
          }
        }
      }
    },
    "messages": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://coinbase.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.coinbase.com/legal/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance"
    }
  ]
}