{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Coinbase",
    "description": "Coinbase"
  },
  "host": "api.coinbase.com",
  "basePath": "/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/prices/{currency_pair}/spot": {
      "get": {
        "summary": "Get Spot Price",
        "description": "Get a market rate for a crypto currency. Enter in the format of BTC-USD for example to view current Bitcoin market rate in USD.",
        "operationId": "GetSpotPrice",
        "parameters": [
          {
            "name": "currency_pair",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetSpotPriceResponse"
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "summary": "Get Currencies",
        "description": "Get a list of all fiat currencies.",
        "operationId": "GetCurrencies",
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetCurrenciesResponse"
            }
          }
        }
      }
    },
    "/exchange-rates": {
      "get": {
        "summary": "Get Exchange Rates",
        "description": "Get an exchange rate for a crypto currency.",
        "operationId": "GetExchangeRate",
        "parameters": [
          {
            "name": "currency",
            "required": true,
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetExchangeRateResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "GetSpotPriceResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "GetCurrenciesResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "GetExchangeRateResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "statusDetails": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "statusCode": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/messages"
          }
        }
      }
    },
    "messages": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}