{
  "swagger": "2.0",
  "info": {
    "title": "Powell.Teams.Web.PublicAPI",
    "description": "Powell Teams API endpoints documentation.",
    "version": "V1"
  },
  "host": "apiteams.powell-software.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/beta/$batch": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Batch methods",
        "operationId": "postBetabatch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of requests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchRequestModel"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenant users",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Batch.APIBatchResponseModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/jobtasks/getstatus/{taskId}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get Job task status",
        "operationId": "getBetaJobtasksGetstatusByTaskId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "Task Id to check",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Task status",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/namingconventions/{namingId}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get a naming convention by id",
        "operationId": "getBetaNamingconventionsByNamingId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "namingId",
            "description": "Naming convention id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Naming convention",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/namingconventions": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all Naming conventions",
        "operationId": "getBetaNamingconventions",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of naming conventions",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/tags/list": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Get tags information from tag ids",
        "operationId": "postBetaTagsList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of tag ids",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string",
                "example": "00000000-0000-0000-0000-000000000000"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenant users",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Tag.ApiTagSimpleModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/tags": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all tags",
        "operationId": "getBetaTags",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Tag.ApiTagModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all user's teams",
        "operationId": "getBetaTeams",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Next page indicator",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of teams",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.PublicAPIResponses.PaginatedAPIResponseModel_Powell.Teams.API.Models.Team.ApiTeamModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Create a team based on a Powell Teams template information",
        "operationId": "postBetaTeams",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The team to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.Team.ApiTeamCreationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Guid of the team creation task",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Guid_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/{teamId}/tags": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all tags of a team",
        "operationId": "getBetaTeamsByTeamIdTags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamId",
            "description": "Team Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Tag.ApiTagSettingModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/templates": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all of user's templates",
        "operationId": "getBetaTemplates",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List all of user's templates",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    }
  },
  "definitions": {
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Batch.APIBatchResponseModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchResponseModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchResponseModel": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer"
        },
        "body": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchResponseBodyModel"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchResponseBodyModel": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object"
        },
        "error": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchResponseErrorModel"
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchResponseErrorModel": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.String_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchRequestModel": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "method": {
          "type": "string"
        },
        "body": {
          "type": "object"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "$ref": "#/definitions/Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel"
        }
      }
    },
    "Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Configuration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.NamingConvention.ApiNamingConventionConfigurationModel"
          }
        },
        "IsMetaNamingRule": {
          "type": "boolean"
        },
        "Name": {
          "type": "string"
        },
        "NumberIncrement": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Powell.Teams.API.Models.NamingConvention.ApiNamingConventionConfigurationModel": {
      "type": "object",
      "properties": {
        "Type": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel"
          }
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Tag.ApiTagSimpleModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSimpleModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagSimpleModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Name": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "IsMultiValueChoice": {
          "type": "boolean"
        },
        "Choices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagChoiceModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagChoiceModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Value": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Tag.ApiTagModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagModel": {
      "type": "object",
      "properties": {
        "ChoicesJson": {
          "type": "string"
        },
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "IsRefiner": {
          "type": "boolean"
        },
        "Name": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Guid_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "Powell.Teams.API.Models.Team.ApiTeamCreationModel": {
      "type": "object",
      "properties": {
        "Description": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "TeamTemplateId": {
          "format": "uuid",
          "type": "string"
        },
        "Visibility": {
          "enum": [
            "Private",
            "Public"
          ],
          "type": "string"
        },
        "AdditionalMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "TagValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagValueCreationModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagValueCreationModel": {
      "type": "object",
      "properties": {
        "Value": {
          "type": "string"
        },
        "TagId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.PublicAPIResponses.PaginatedAPIResponseModel_Powell.Teams.API.Models.Team.ApiTeamModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "$ref": "#/definitions/Powell.Teams.API.Models.PublicAPIResponses.PaginatedAPIResponseModel_Powell.Teams.API.Models.Team.ApiTeamModel_"
        }
      }
    },
    "Powell.Teams.API.Models.PublicAPIResponses.PaginatedAPIResponseModel_Powell.Teams.API.Models.Team.ApiTeamModel_": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Team.ApiTeamModel"
          }
        },
        "NextPage": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.Team.ApiTeamModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "OfficeGroupId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "TenantId": {
          "format": "uuid",
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "OriginalTitle": {
          "type": "string"
        },
        "OriginalIncrementOfNamingRule": {
          "format": "int32",
          "type": "integer"
        },
        "TeamTemplateId": {
          "format": "uuid",
          "type": "string"
        },
        "TagSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSettingModel"
          }
        },
        "Visibility": {
          "enum": [
            "UserChoice",
            "Private",
            "Public"
          ],
          "type": "string"
        },
        "AdditionalMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "IsArchived": {
          "type": "boolean"
        },
        "Classification": {
          "type": "string"
        },
        "CurrentUserIsOwner": {
          "type": "boolean"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        },
        "ExpirationStart": {
          "format": "date-time",
          "type": "string"
        },
        "ExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "IsFavorite": {
          "type": "boolean"
        },
        "WebUrl": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagSettingModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "DefaultValue": {
          "type": "string"
        },
        "ChoiceValue": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "TagId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "IsMandatory": {
          "type": "boolean"
        },
        "IsShownToUsers": {
          "type": "boolean"
        },
        "ChoiceText": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        },
        "IsMultiValueChoice": {
          "type": "boolean"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Tag.ApiTagSettingModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSettingModel"
          }
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "AdditionalMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Approvers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Categories": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "Description": {
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        },
        "IsPublished": {
          "type": "boolean"
        },
        "LastSchemaSynchronisation": {
          "type": "string"
        },
        "MinimumMembers": {
          "format": "int32",
          "type": "integer"
        },
        "MinimumOwners": {
          "format": "int32",
          "type": "integer"
        },
        "NamingConventionId": {
          "format": "uuid",
          "type": "string"
        },
        "TagSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSettingModel"
          }
        },
        "TeamIdToClone": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "TeamsCount": {
          "format": "int32",
          "type": "integer"
        },
        "Visibility": {
          "enum": [
            "UserChoice",
            "Private",
            "Public"
          ],
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "apiteams.powell-software.com": "apiteams.powell-software.com"
      }
    }
  },
  "security": [
    {
      "undefined": [
        "apiteams.powell-software.com"
      ]
    }
  ],
  "tags": []
}