{
  "swagger": "2.0",
  "info": {
    "title": "Powell Teams",
    "description": "Powell Teams API endpoints allows you to manage the governance of your teams (creation / update of your teams).",
    "version": "V1.1",
    "contact": {
      "name": "Powell Teams Support",
      "url": "https://support.powell-software.com/",
      "email": "support-teams@powellsoftware.zendesk.com"
    }
  },
  "host": "apiteams.powell-software.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/beta/approvals": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all approvals",
        "description": "List all approvals",
        "operationId": "getBetaApprovals",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of approval models",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Approval.ApiApprovalModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/approvals/approve": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Approve or deny a pending approval",
        "description": "Approve or deny a pending approval",
        "operationId": "postBetaApprovalsApprove",
        "deprecated": true,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Approval model to approve or deny",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.Approval.ApiApprovalDecisionModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created team in case of approval",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.Approval.ApiApprovalResult_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/approvals/pending": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all pending approvals of the current user",
        "description": "List all pending approvals of the current user",
        "operationId": "getBetaApprovalsPending",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of pending approval models",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Approval.ApiApprovalModel__"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/$batch": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Batch methods",
        "description": "Batch methods",
        "operationId": "postBetabatch",
        "deprecated": true,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of requests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchRequestModel"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenant users",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Batch.APIBatchResponseModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/jobtasks/getstatus/{taskId}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get Job task status",
        "description": "Get Job task status",
        "operationId": "getBetaJobtasksGetstatusByTaskId",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "Task Id to check",
            "x-ms-summary": "Task Id to check",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Task status",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/namingconventions/{namingId}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get a naming convention by id",
        "description": "Get a naming convention by id",
        "operationId": "getBetaNamingconventionsByNamingId",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "namingId",
            "description": "Naming convention id",
            "x-ms-summary": "Naming convention id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Naming convention",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/namingconventions": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all Naming conventions",
        "description": "List all Naming conventions",
        "operationId": "getBetaNamingconventions",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of naming conventions",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/teamsWithoutMinimumOwners/{numberOfMinimumOwners}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get teams without minimum owners report",
        "description": "Get teams without minimum owners report",
        "operationId": "getBetaReportsTeamsWithoutMinimumOwnersByNumberOfMinimumOwners",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "numberOfMinimumOwners",
            "description": "Minimum number of owners",
            "x-ms-summary": "Minimum number of owners",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of teams without minimum owners.",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Report.ApiTeamReport__"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/teamsWithExternalUsers": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get teams with external users report",
        "description": "Get teams with external users report",
        "operationId": "getBetaReportsTeamsWithExternalUsers",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of teams with external users",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Powell.Teams.API.Models.Report.ApiTeamReport"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/teamsWithMissingUsers": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get teams with missing users' report",
        "description": "Get teams with missing users' report",
        "operationId": "getBetaReportsTeamsWithMissingUsers",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of teams with missing users",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Powell.Teams.API.Models.Report.ApiTeamReport"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/teamsWithoutValidNamingRule": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get teams without valid naming rule report",
        "description": "Get teams without valid naming rule report",
        "operationId": "getBetaReportsTeamsWithoutValidNamingRule",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of teams without valid naming rule.",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Report.ApiTeamReport__"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/tags/list": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Get tags information from tag ids",
        "description": "Get tags information from tag ids",
        "operationId": "postBetaTagsList",
        "deprecated": true,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of tag ids",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string",
                "example": "00000000-0000-0000-0000-000000000000"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenant users",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Tag.ApiTagSimpleModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/tags": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all tags",
        "description": "List all tags",
        "operationId": "getBetaTags",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Tag.ApiTagModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Create a team based on a Powell Teams template information",
        "description": "Create a team based on a Powell Teams template information",
        "operationId": "postBetaTeams",
        "deprecated": true,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The team to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.Team.ApiTeamCreationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Guid of the team creation task",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Guid_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all user's teams",
        "description": "List all user's teams",
        "operationId": "getBetaTeams",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Next page indicator",
            "x-ms-summary": "Next page indicator",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of teams",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.PublicAPIResponses.PaginatedAPIResponseModel_Powell.Teams.API.Models.Team.ApiTeamModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/{teamId}": {
      "put": {
        "tags": [
          "beta"
        ],
        "summary": "Update a team based on a Powell Teams template information",
        "description": "Update a team based on a Powell Teams template information",
        "operationId": "putBetaTeamsByTeamId",
        "deprecated": true,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamId",
            "description": "Team Id of the team to update.",
            "x-ms-summary": "Team Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The team to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.Team.ApiTeamCreationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Guid of the task of updating a team",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Guid_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/{teamId}/tags": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all tags of a team",
        "description": "List all tags of a team",
        "operationId": "getBetaTeamsByTeamIdTags",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamId",
            "description": "Team Id",
            "x-ms-summary": "Team Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Tag.ApiTagSettingModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/templates": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all of user's templates",
        "description": "List all of user's templates",
        "operationId": "getBetaTemplates",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List all of user's templates",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/templates/{templateId}/picture": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get template picture",
        "description": "Get template picture",
        "operationId": "getBetaTemplatesByTemplateIdPicture",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "templateId",
            "description": "Template Id",
            "x-ms-summary": "Template Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "A picture of template",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Picture does not exist.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    }
  },
  "definitions": {
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Approval.ApiApprovalModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Approval.ApiApprovalModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Approval.ApiApprovalModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Histories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Approval.ApiApprovalHistoryModel"
          }
        },
        "Team": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Team.ApiTeamExtendModel"
        },
        "TenantId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        },
        "Approvers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Approval.ApiApprovalHistoryModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Status": {
          "format": "int32",
          "type": "integer"
        },
        "Comment": {
          "type": "string"
        },
        "Creator": {
          "$ref": "#/definitions/Powell.Teams.API.Models.User.ApiUserModel"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.User.ApiUserModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "AzureADId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Email": {
          "type": "string"
        },
        "Role": {
          "format": "int32",
          "type": "integer"
        },
        "Language": {
          "type": "string"
        },
        "TenantId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "Powell.Teams.API.Models.Team.ApiTeamExtendModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "OfficeGroupId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "TenantId": {
          "format": "uuid",
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "OriginalTitle": {
          "type": "string"
        },
        "OriginalIncrementOfNamingRule": {
          "format": "int32",
          "type": "integer"
        },
        "TeamTemplateId": {
          "format": "uuid",
          "type": "string"
        },
        "Photo": {
          "type": "string"
        },
        "TagSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSettingModel"
          }
        },
        "Visibility": {
          "enum": [
            "UserChoice",
            "Private",
            "Public",
            "HiddenMembership"
          ],
          "type": "string"
        },
        "AdditionalMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "IsArchived": {
          "type": "boolean"
        },
        "Classification": {
          "type": "string"
        },
        "CurrentUserIsOwner": {
          "type": "boolean"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        },
        "ExpirationStart": {
          "format": "date-time",
          "type": "string"
        },
        "ExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "IsFavorite": {
          "type": "boolean"
        },
        "WebUrl": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagSettingModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "DefaultValue": {
          "type": "string"
        },
        "ChoiceValue": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "TagId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "IsMandatory": {
          "type": "boolean"
        },
        "IsShownToUsers": {
          "type": "boolean"
        },
        "ChoiceText": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        },
        "IsMultiValueChoice": {
          "type": "boolean"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.Approval.ApiApprovalResult_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Approval.ApiApprovalResult"
        }
      }
    },
    "Powell.Teams.API.Models.Approval.ApiApprovalResult": {
      "type": "object",
      "properties": {
        "JobTaskId": {
          "format": "uuid",
          "type": "string"
        },
        "ApprovalId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Status": {
          "enum": [
            "Accepted",
            "Rejected",
            "AlreadyAcceptedOrRejected"
          ],
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.Approval.ApiApprovalDecisionModel": {
      "type": "object",
      "properties": {
        "ApprovalId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Status": {
          "format": "int32",
          "type": "integer"
        },
        "Comment": {
          "type": "string"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Batch.APIBatchResponseModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchResponseModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchResponseModel": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer"
        },
        "body": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchResponseBodyModel"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchResponseBodyModel": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object"
        },
        "error": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchResponseErrorModel"
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchResponseErrorModel": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.String_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchRequestModel": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "method": {
          "type": "string"
        },
        "body": {
          "type": "object"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "$ref": "#/definitions/Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel"
        }
      }
    },
    "Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Configuration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.NamingConvention.ApiNamingConventionConfigurationModel"
          }
        },
        "IsMetaNamingRule": {
          "type": "boolean"
        },
        "Name": {
          "type": "string"
        },
        "NumberIncrement": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Powell.Teams.API.Models.NamingConvention.ApiNamingConventionConfigurationModel": {
      "type": "object",
      "properties": {
        "Type": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel"
          }
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Report.ApiTeamReport__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Report.ApiTeamReport"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Report.ApiTeamReport": {
      "type": "object",
      "properties": {
        "GroupId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CreationDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastUpdateDate": {
          "format": "date-time",
          "type": "string"
        },
        "Title": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Photo": {
          "type": "string"
        },
        "IsArchived": {
          "type": "boolean"
        },
        "IsInactive": {
          "type": "boolean"
        },
        "Link": {
          "type": "string"
        },
        "PowellTemplateId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "PowellTemplateName": {
          "type": "string"
        },
        "OwnersIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NbOwners": {
          "format": "int32",
          "type": "integer"
        },
        "MembersIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NbMembers": {
          "format": "int32",
          "type": "integer"
        },
        "ExternalUsersIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NbExternals": {
          "format": "int32",
          "type": "integer"
        },
        "LastChatActivity": {
          "format": "date-time",
          "type": "string"
        },
        "NbChatMessages": {
          "format": "int32",
          "type": "integer"
        },
        "NbChatReplies": {
          "format": "int32",
          "type": "integer"
        },
        "ChatMessageDeltaParameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.Model.Unmapped.ChatMessageDeltaParameters"
          }
        },
        "LastDocActivity": {
          "format": "date-time",
          "type": "string"
        },
        "NbDocuments": {
          "format": "int32",
          "type": "integer"
        },
        "DriveItemDeltaParameters": {
          "$ref": "#/definitions/Powell.Teams.Model.Unmapped.DriveItemDeltaParameters"
        },
        "MinimumNumberOfOwners": {
          "format": "int32",
          "type": "integer"
        },
        "MinimumNumberOfMembers": {
          "format": "int32",
          "type": "integer"
        },
        "Visibility": {
          "type": "string"
        },
        "ExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "ExpirationStart": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "Powell.Teams.Model.Unmapped.ChatMessageDeltaParameters": {
      "type": "object",
      "properties": {
        "TeamId": {
          "type": "string"
        },
        "ChannelId": {
          "type": "string"
        },
        "DeltaLink": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Model.Unmapped.DriveItemDeltaParameters": {
      "type": "object",
      "properties": {
        "GroupId": {
          "type": "string"
        },
        "DeltaLink": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Tag.ApiTagSimpleModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSimpleModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagSimpleModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Name": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "IsMultiValueChoice": {
          "type": "boolean"
        },
        "Choices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagChoiceModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagChoiceModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Value": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Tag.ApiTagModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagModel": {
      "type": "object",
      "properties": {
        "ChoicesJson": {
          "type": "string"
        },
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "IsRefiner": {
          "type": "boolean"
        },
        "Name": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Guid_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "Powell.Teams.API.Models.Team.ApiTeamCreationModel": {
      "type": "object",
      "properties": {
        "Description": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "TeamTemplateId": {
          "format": "uuid",
          "type": "string"
        },
        "Visibility": {
          "enum": [
            "Private",
            "Public"
          ],
          "type": "string"
        },
        "AdditionalMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "TagValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagValueCreationModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagValueCreationModel": {
      "type": "object",
      "properties": {
        "Value": {
          "type": "string"
        },
        "TagId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.PublicAPIResponses.PaginatedAPIResponseModel_Powell.Teams.API.Models.Team.ApiTeamModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "$ref": "#/definitions/Powell.Teams.API.Models.PublicAPIResponses.PaginatedAPIResponseModel_Powell.Teams.API.Models.Team.ApiTeamModel_"
        }
      }
    },
    "Powell.Teams.API.Models.PublicAPIResponses.PaginatedAPIResponseModel_Powell.Teams.API.Models.Team.ApiTeamModel_": {
      "type": "object",
      "properties": {
        "Items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Team.ApiTeamModel"
          }
        },
        "NextPage": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.Team.ApiTeamModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "OfficeGroupId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "TenantId": {
          "format": "uuid",
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "OriginalTitle": {
          "type": "string"
        },
        "OriginalIncrementOfNamingRule": {
          "format": "int32",
          "type": "integer"
        },
        "TeamTemplateId": {
          "format": "uuid",
          "type": "string"
        },
        "TagSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSettingModel"
          }
        },
        "Visibility": {
          "enum": [
            "UserChoice",
            "Private",
            "Public",
            "HiddenMembership"
          ],
          "type": "string"
        },
        "AdditionalMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "IsArchived": {
          "type": "boolean"
        },
        "Classification": {
          "type": "string"
        },
        "CurrentUserIsOwner": {
          "type": "boolean"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        },
        "ExpirationStart": {
          "format": "date-time",
          "type": "string"
        },
        "ExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "IsFavorite": {
          "type": "boolean"
        },
        "WebUrl": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Tag.ApiTagSettingModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSettingModel"
          }
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "AdditionalMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Approvers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Categories": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "Description": {
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        },
        "IsPublished": {
          "type": "boolean"
        },
        "LastSchemaSynchronisation": {
          "type": "string"
        },
        "MinimumMembers": {
          "format": "int32",
          "type": "integer"
        },
        "MinimumOwners": {
          "format": "int32",
          "type": "integer"
        },
        "NamingConventionId": {
          "format": "uuid",
          "type": "string"
        },
        "TagSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSettingModel"
          }
        },
        "TeamIdToClone": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "TeamsCount": {
          "format": "int32",
          "type": "integer"
        },
        "Visibility": {
          "enum": [
            "Private",
            "Public"
          ],
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "apiteams.powell-software.com": "apiteams.powell-software.com"
      }
    }
  },
  "security": [
    {
      "undefined": [
        "apiteams.powell-software.com"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://powell-software.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://powell-software.com/en/powell-teams-privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Collaboration"
    }
  ]
}