{
  "swagger": "2.0",
  "info": {
    "title": "Powell Teams",
    "description": "Powell Teams API endpoints allows you to manage the governance of your teams (creation / update of your teams).",
    "version": "V1.1",
    "contact": {
      "name": "Powell Teams Support",
      "url": "https://support.powell-software.com/",
      "email": "support-teams@powellsoftware.zendesk.com"
    }
  },
  "host": "apiteams.powell-software.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/beta/approvals": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all approvals",
        "description": "List all approvals",
        "operationId": "getBetaApprovals",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of approval models.",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Approval.ApiApprovalModel__"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/approvals/approve": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Approve or deny a pending approval",
        "description": "Approve or deny a pending approval",
        "operationId": "postBetaApprovalsApprove",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Approval model to approve or deny.",
            "x-ms-summary": "Approval model to approve or deny.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.Approval.ApiApprovalDecisionModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created team in case of approval.",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.Approval.ApiApprovalResult_"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/approvals/pending": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all pending approvals of the current user",
        "description": "List all pending approvals of the current user",
        "operationId": "getBetaApprovalsPending",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of pending approval models.",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Approval.ApiApprovalModel__"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/approval/{approvalId}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get the approval by its identifier",
        "description": "Get the approval by its identifier",
        "operationId": "getBetaApprovalByApprovalId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "approvalId",
            "description": "Approval Id",
            "x-ms-summary": "Approval Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "The approval.",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.Approval.ApiApprovalModel_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/$batch": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Batch methods",
        "description": "Batch methods",
        "operationId": "postBetabatch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of requests",
            "x-ms-summary": "List of requests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchRequestModel"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenant users",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Batch.APIBatchResponseModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/$batch2": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Batch methods",
        "description": "Batch methods",
        "operationId": "postBetabatch2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of requests",
            "x-ms-summary": "List of requests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchRequestModel"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenant users",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Batch.APIBatchResponseModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/companypolicies": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get company policies",
        "description": "Get company policies",
        "operationId": "getBetaCompanypolicies",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of tag ids",
            "x-ms-summary": "List of tag ids",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string",
                "example": "00000000-0000-0000-0000-000000000000"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of company policies",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.CompanyPolicy.ApiCompanyPolicyModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Create a company policy",
        "description": "Create a company policy",
        "operationId": "postBetaCompanypolicies",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Company policy model.",
            "x-ms-summary": "Company policy model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.CompanyPolicy.ApiCompanyPolicyModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "where T is",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Guid_"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "patch": {
        "tags": [
          "beta"
        ],
        "summary": "Update a company policy",
        "description": "Update a company policy",
        "operationId": "patchBetaCompanypolicies",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Company policy model.",
            "x-ms-summary": "Company policy model.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.CompanyPolicy.ApiCompanyPolicyModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "where T is",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Boolean_"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/companypolicies/{policyId}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get company policy by id",
        "description": "Get company policy by id",
        "operationId": "getBetaCompanypoliciesByPolicyId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "Policy Id",
            "x-ms-summary": "Policy Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "company policy",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.CompanyPolicy.ApiCompanyPolicyModel_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "beta"
        ],
        "summary": "Delete company policy",
        "description": "Delete company policy",
        "operationId": "deleteBetaCompanypoliciesByPolicyId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "Policy Id",
            "x-ms-summary": "Policy Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "where T is",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.CompanyPolicy.ApiCompanyPolicyModel_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/companypolicies/{policyId}/templates": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get company policy associated templates",
        "description": "Get company policy associated templates",
        "operationId": "getBetaCompanypoliciesByPolicyIdTemplates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "Policy Id",
            "x-ms-summary": "Policy Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/companypolicies/{policyId}/templates/{templateId}": {
      "put": {
        "tags": [
          "beta"
        ],
        "summary": "Associate a company policy to a template",
        "description": "Associate a company policy to a template",
        "operationId": "putBetaCompanypoliciesByPolicyIdTemplatesByTemplateId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyId",
            "description": "Policy Id",
            "x-ms-summary": "Policy Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "templateId",
            "description": "Template Id",
            "x-ms-summary": "Template Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "where T is",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Boolean_"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/jobtasks/getstatus/{taskId}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get Job task status",
        "description": "Get Job task status",
        "operationId": "getBetaJobtasksGetstatusByTaskId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "Task Id to check",
            "x-ms-summary": "Task Id to check",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Task status",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/jobtasks/{taskId}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get Job task",
        "description": "Get Job task",
        "operationId": "getBetaJobtasksByTaskId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "description": "Task Id to check",
            "x-ms-summary": "Task Id to check",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Task",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.Job.ApiJobModel_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/namingconventions/{namingId}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get a naming convention by id",
        "description": "Get a naming convention by id",
        "operationId": "getBetaNamingconventionsByNamingId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "namingId",
            "description": "Naming convention id",
            "x-ms-summary": "Naming convention id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Naming convention",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/namingconventions": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all Naming conventions",
        "description": "List all Naming conventions",
        "operationId": "getBetaNamingconventions",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of naming conventions",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Create a naming convention",
        "description": "Create a naming convention",
        "operationId": "postBetaNamingconventions",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A naming convention model",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionCreationModel_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/namingconventions/{namingRuleId}": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Get Team Name Based On Naming Convention",
        "description": "Get Team Name Based On Naming Convention",
        "operationId": "postBetaNamingconventionsByNamingRuleId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "namingRuleId",
            "description": "Naming rule id.",
            "x-ms-summary": "Naming rule id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The team name",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/teamsWithoutMinimumOwners/{numberOfMinimumOwners}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get teams without minimum owners report",
        "description": "Get teams without minimum owners report",
        "operationId": "getBetaReportsTeamsWithoutMinimumOwnersByNumberOfMinimumOwners",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "numberOfMinimumOwners",
            "description": "Minimum number of owners",
            "x-ms-summary": "Minimum number of owners",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of teams without minimum owners.",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Report.ApiTeamReport__"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/teamsWithoutTemplate": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get teams without template report",
        "description": "Get teams without template report",
        "operationId": "getBetaReportsTeamsWithoutTemplate",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of teams without template.",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Report.ApiTeamReport__"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/teamsWithExternalUsers": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get teams with external users report",
        "description": "Get teams with external users report",
        "operationId": "getBetaReportsTeamsWithExternalUsers",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of teams with external users",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Powell.Teams.API.Models.Report.ApiTeamReport"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/teamsWithMissingUsers": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get teams with missing users' report",
        "description": "Get teams with missing users' report",
        "operationId": "getBetaReportsTeamsWithMissingUsers",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of teams with missing users",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Powell.Teams.API.Models.Report.ApiTeamReport"
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/teamsWithoutValidNamingRule": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get teams without valid naming rule report",
        "description": "Get teams without valid naming rule report",
        "operationId": "getBetaReportsTeamsWithoutValidNamingRule",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of teams without valid naming rule.",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Report.ApiTeamReport__"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/inactiveTeams": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get inactive teams",
        "description": "Get inactive teams",
        "operationId": "getBetaReportsInactiveTeams",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of inactive teams",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_System.Collections.Generic.List_Powell.Teams.Model.Unmapped.TeamReport___"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/expiredTeams": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get expired teams",
        "description": "Get expired teams",
        "operationId": "getBetaReportsExpiredTeams",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "numberOfDaysBeforeExpiration",
            "description": "Number of day before expiration.",
            "x-ms-summary": "Number of day before expiration.",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of expired teams",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_System.Collections.Generic.List_Powell.Teams.Model.Unmapped.TeamReport___"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/reports/teamsWithoutValidPrivacy": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get teams without valid privacy report",
        "description": "Get teams without valid privacy report",
        "operationId": "getBetaReportsTeamsWithoutValidPrivacy",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of teams without valid privacy.",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Report.ApiTeamReport__"
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/tags/list": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Get tags information from tag ids",
        "description": "Get tags information from tag ids",
        "operationId": "postBetaTagsList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of tag ids",
            "x-ms-summary": "List of tag ids",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string",
                "example": "00000000-0000-0000-0000-000000000000"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tenant users",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Tag.ApiTagSimpleModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/tags": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all tags",
        "description": "List all tags",
        "operationId": "getBetaTags",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Tag.ApiTagModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Create a team based on a Powell Teams template information",
        "description": "Create a team based on a Powell Teams template information",
        "operationId": "postBetaTeams",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The team to create",
            "x-ms-summary": "The team to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.Team.ApiTeamCreationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Guid of the team creation task",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Guid_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all user's teams",
        "description": "List all user's teams",
        "operationId": "getBetaTeams",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "Next page indicator",
            "x-ms-summary": "Next page indicator",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of teams",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.PublicAPIResponses.PaginatedAPIResponseModel_Powell.Teams.API.Models.Team.ApiTeamModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/{teamId}": {
      "put": {
        "tags": [
          "beta"
        ],
        "summary": "Update a team based on a Powell Teams template information",
        "description": "Update a team based on a Powell Teams template information",
        "operationId": "putBetaTeamsByTeamId",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamId",
            "description": "Team Id of the team to update.",
            "x-ms-summary": "Team Id of the team to update.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The team to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.Team.ApiTeamUpdateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Guid of the task of updating a team",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Guid_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/{teamId}/tags": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all tags of a team",
        "description": "List all tags of a team",
        "operationId": "getBetaTeamsByTeamIdTags",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamId",
            "description": "Team Id",
            "x-ms-summary": "Team Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Tag.ApiTagSettingModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/{teamId}/isupdating": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Check whether a Team is currently being updated",
        "description": "Check whether a Team is currently being updated",
        "operationId": "getBetaTeamsByTeamIdIsupdating",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamId",
            "description": "Team Id",
            "x-ms-summary": "Team Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": ".",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Boolean_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/{teamAzureId}": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "A team",
        "description": "A team",
        "operationId": "getBetaTeamsByTeamAzureId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamAzureId",
            "description": "Team id",
            "x-ms-summary": "Team id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "A team",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.Team.ApiTeamExtendModel_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "delete": {
        "tags": [
          "beta"
        ],
        "summary": "Delete a team",
        "description": "Delete a team",
        "operationId": "deleteBetaTeamsByTeamAzureId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamAzureId",
            "description": "Team id",
            "x-ms-summary": "Team id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted team identifier",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Guid_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/{teamAzureId}/postponeExpirationDate": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Postpone expiration date team",
        "description": "Postpone expiration date team",
        "operationId": "getBetaTeamsByTeamAzureIdPostponeExpirationDate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamAzureId",
            "description": "Team id",
            "x-ms-summary": "Team id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "True if expiration date is postponed otherwise false",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Boolean_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/{teamAzureId}/archive": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Archive a team",
        "description": "Archive a team",
        "operationId": "getBetaTeamsByTeamAzureIdArchive",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamAzureId",
            "description": "Team id",
            "x-ms-summary": "Team id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "True if team is archived otherwise false",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Boolean_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/{teamAzureId}/owners": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get team owners",
        "description": "Get team owners",
        "operationId": "getBetaTeamsByTeamAzureIdOwners",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamAzureId",
            "description": "Team id",
            "x-ms-summary": "Team id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "The team owners",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Guid_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/{teamAzureId}/members": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get team members",
        "description": "Get team members",
        "operationId": "getBetaTeamsByTeamAzureIdMembers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamAzureId",
            "description": "Team id",
            "x-ms-summary": "Team id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "The team members",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Guid_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/teams/isTeamNameAlreadyUsed": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "True if the team name is already used otherwise false",
        "description": "True if the team name is already used otherwise false",
        "operationId": "getBetaTeamsIsTeamNameAlreadyUsed",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "teamName",
            "description": "Team Name",
            "x-ms-summary": "Team Name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "True if the team name is already used otherwise false.",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Boolean_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/templates": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all of user's templates",
        "description": "List all of user's templates",
        "operationId": "getBetaTemplates",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List all of user's templates",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/templates/{templateId}/picture": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get template picture",
        "description": "Get template picture",
        "operationId": "getBetaTemplatesByTemplateIdPicture",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "templateId",
            "description": "Template Id",
            "x-ms-summary": "Template Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "A picture of template",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Picture does not exist.",
            "schema": {
              "type": "string"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/templates/{templateId}": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Update template",
        "description": "Update template",
        "operationId": "postBetaTemplatesByTemplateId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "templateId",
            "description": "Template Id",
            "x-ms-summary": "Template Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "A template",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "put": {
        "tags": [
          "beta"
        ],
        "summary": "Get template by id",
        "description": "Get template by id",
        "operationId": "putBetaTemplatesByTemplateId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "templateId",
            "description": "Template Id",
            "x-ms-summary": "Template Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "The template",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Guid_"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/templates/{templateId}/teams": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "List all teams by template identifier",
        "description": "List all teams by template identifier",
        "operationId": "getBetaTemplatesByTemplateIdTeams",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "templateId",
            "description": "Template Id",
            "x-ms-summary": "Template Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "List of teams",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Team.ApiTeamExtendModel__"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/tenants/checkLicense": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get tenant license",
        "description": "Get tenant license",
        "operationId": "getBetaTenantsCheckLicense",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The tenant license",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.Boolean_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/together/manifest": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Generate a Teams manifest app for Together",
        "description": "Generate a Teams manifest app for Together",
        "operationId": "postBetaTogetherManifest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The manifest informations.",
            "x-ms-summary": "The manifest informations.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.Together.ApiTogetherAppManifestCreationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A zip file containing the manifest.",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.FileContentResult"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/together/refreshtoken": {
      "post": {
        "tags": [
          "beta"
        ],
        "summary": "Generate a Teams manifest app for Together",
        "description": "Generate a Teams manifest app for Together",
        "operationId": "postBetaTogetherRefreshtoken",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The manifest informations.",
            "x-ms-summary": "The manifest informations.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.Together.ApiTogetherAppManifestCreationModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A zip file containing the manifest.",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.FileContentResult"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_System.String_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/beta/users/group": {
      "get": {
        "tags": [
          "beta"
        ],
        "summary": "Get users from group",
        "description": "Get users from group",
        "operationId": "getBetaUsersGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Group ids and with or without guests",
            "x-ms-summary": "Group ids and with or without guests",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Powell.Teams.API.Models.User.ApiUsersGroupModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users from group",
            "schema": {
              "$ref": "#/definitions/Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.User.ApiUserModel_"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    }
  },
  "definitions": {
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Approval.ApiApprovalModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Approval.ApiApprovalModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Approval.ApiApprovalModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Histories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Approval.ApiApprovalHistoryModel"
          }
        },
        "Team": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Team.ApiTeamExtendModel"
        },
        "TenantId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        },
        "Approvers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Approval.ApiApprovalHistoryModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Status": {
          "format": "int32",
          "type": "integer"
        },
        "Comment": {
          "type": "string"
        },
        "Creator": {
          "$ref": "#/definitions/Powell.Teams.API.Models.User.ApiUserModel"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.User.ApiUserModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "AzureADId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Email": {
          "type": "string"
        },
        "Role": {
          "enum": [
            "User",
            "Approver",
            "Administrator",
            "SuperAdministrator"
          ],
          "type": "string"
        },
        "Language": {
          "type": "string"
        },
        "TenantId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "Powell.Teams.API.Models.Team.ApiTeamExtendModel": {
      "type": "object",
      "properties": {
        "AdditionalGroupMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Classification": {
          "type": "string"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        },
        "CurrentUserIsOwner": {
          "type": "boolean"
        },
        "Description": {
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        },
        "ExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "ExpirationStart": {
          "format": "date-time",
          "type": "string"
        },
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "IsArchived": {
          "type": "boolean"
        },
        "IsFavorite": {
          "type": "boolean"
        },
        "OfficeGroupId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "OriginalIncrementOfNamingRule": {
          "format": "int32",
          "type": "integer"
        },
        "OriginalTitle": {
          "type": "string"
        },
        "Photo": {
          "type": "string"
        },
        "TagSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSettingModel"
          }
        },
        "TeamTemplateId": {
          "format": "uuid",
          "type": "string"
        },
        "TenantId": {
          "format": "uuid",
          "type": "string"
        },
        "Visibility": {
          "enum": [
            "UserChoice",
            "Private",
            "Public",
            "HiddenMembership"
          ],
          "type": "string"
        },
        "WebUrl": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagSettingModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "DefaultValue": {
          "type": "string"
        },
        "ChoiceValue": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "TagId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "IsMandatory": {
          "type": "boolean"
        },
        "IsShownToUsers": {
          "type": "boolean"
        },
        "ChoiceText": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        },
        "IsMultiValueChoice": {
          "type": "boolean"
        },
        "IsInNamingRule": {
          "type": "boolean"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.Approval.ApiApprovalResult_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Approval.ApiApprovalResult"
        }
      }
    },
    "Powell.Teams.API.Models.Approval.ApiApprovalResult": {
      "type": "object",
      "properties": {
        "JobTaskId": {
          "format": "uuid",
          "type": "string"
        },
        "ApprovalId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Status": {
          "enum": [
            "Accepted",
            "Rejected",
            "AlreadyAcceptedOrRejected"
          ],
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.Approval.ApiApprovalDecisionModel": {
      "type": "object",
      "properties": {
        "ApprovalId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Status": {
          "format": "int32",
          "type": "integer"
        },
        "Comment": {
          "type": "string"
        },
        "Created": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.Approval.ApiApprovalModel_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Approval.ApiApprovalModel"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Batch.APIBatchResponseModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchResponseModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchResponseModel": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer"
        },
        "body": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchResponseBodyModel"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchResponseBodyModel": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object"
        },
        "error": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Batch.APIBatchResponseErrorModel"
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchResponseErrorModel": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.String_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.Batch.APIBatchRequestModel": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "method": {
          "type": "string"
        },
        "body": {
          "type": "object"
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.CompanyPolicy.ApiCompanyPolicyModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.CompanyPolicy.ApiCompanyPolicyModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.CompanyPolicy.ApiCompanyPolicyModel": {
      "type": "object",
      "properties": {
        "Title": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "DefaultContent": {
          "type": "string"
        },
        "TenantId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.CompanyPolicy.ApiCompanyPolicyModel_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "$ref": "#/definitions/Powell.Teams.API.Models.CompanyPolicy.ApiCompanyPolicyModel"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.TeamTemplate.ApiTeamTemplateSimpleModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "AdditionalMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Approvers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Categories": {
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string",
            "example": "00000000-0000-0000-0000-000000000000"
          }
        },
        "Description": {
          "type": "string"
        },
        "DisplayName": {
          "type": "string"
        },
        "IsPublished": {
          "type": "boolean"
        },
        "LastSchemaSynchronisation": {
          "type": "string"
        },
        "MinimumMembers": {
          "format": "int32",
          "type": "integer"
        },
        "MinimumOwners": {
          "format": "int32",
          "type": "integer"
        },
        "NamingConventionId": {
          "format": "uuid",
          "type": "string"
        },
        "TagSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSettingModel"
          }
        },
        "TeamIdToClone": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "TeamsCount": {
          "format": "int32",
          "type": "integer"
        },
        "Visibility": {
          "enum": [
            "Private",
            "Public"
          ],
          "type": "string"
        },
        "ExpirationDelay": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Guid_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Boolean_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "boolean"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.Job.ApiJobModel_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "$ref": "#/definitions/Powell.Teams.API.Models.Job.ApiJobModel"
        }
      }
    },
    "Powell.Teams.API.Models.Job.ApiJobModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Name": {
          "type": "string"
        },
        "ParamId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "ParamAdvanced": {
          "type": "string"
        },
        "TenantId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "JobTaskStatusId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "UserId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "JobTaskOperationId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "$ref": "#/definitions/Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel"
        }
      }
    },
    "Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Configuration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.NamingConvention.ApiNamingConventionConfigurationModel"
          }
        },
        "IsMetaNamingRule": {
          "type": "boolean"
        },
        "Name": {
          "type": "string"
        },
        "NumberIncrement": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Powell.Teams.API.Models.NamingConvention.ApiNamingConventionConfigurationModel": {
      "type": "object",
      "properties": {
        "Type": {
          "type": "string"
        },
        "Value": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.NamingConvention.ApiNamingConventionModel"
          }
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.NamingConvention.ApiNamingConventionCreationModel_": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "$ref": "#/definitions/Powell.Teams.API.Models.NamingConvention.ApiNamingConventionCreationModel"
        }
      }
    },
    "Powell.Teams.API.Models.NamingConvention.ApiNamingConventionCreationModel": {
      "type": "object",
      "properties": {
        "Tags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSettingModel"
          }
        },
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Configuration": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.NamingConvention.ApiNamingConventionConfigurationModel"
          }
        },
        "IsMetaNamingRule": {
          "type": "boolean"
        },
        "Name": {
          "type": "string"
        },
        "NumberIncrement": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.ReasonsToChoosePTeams.ApiReasonsToChoosePTeamsModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.ReasonsToChoosePTeams.ApiReasonsToChoosePTeamsModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.ReasonsToChoosePTeams.ApiReasonsToChoosePTeamsModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Reasons": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Report.ApiTeamReport__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Report.ApiTeamReport"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Report.ApiTeamReport": {
      "type": "object",
      "properties": {
        "GroupId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CreationDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastUpdateDate": {
          "format": "date-time",
          "type": "string"
        },
        "Title": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Photo": {
          "type": "string"
        },
        "IsArchived": {
          "type": "boolean"
        },
        "IsInactive": {
          "type": "boolean"
        },
        "Link": {
          "type": "string"
        },
        "PowellTemplateId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "PowellTemplateName": {
          "type": "string"
        },
        "OwnersIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NbOwners": {
          "format": "int32",
          "type": "integer"
        },
        "MembersIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NbMembers": {
          "format": "int32",
          "type": "integer"
        },
        "ExternalUsersIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NbExternals": {
          "format": "int32",
          "type": "integer"
        },
        "LastChatActivity": {
          "format": "date-time",
          "type": "string"
        },
        "NbChatMessages": {
          "format": "int32",
          "type": "integer"
        },
        "NbChatReplies": {
          "format": "int32",
          "type": "integer"
        },
        "ChatMessageDeltaParameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.Model.Unmapped.ChatMessageDeltaParameters"
          }
        },
        "LastDocActivity": {
          "format": "date-time",
          "type": "string"
        },
        "NbDocuments": {
          "format": "int32",
          "type": "integer"
        },
        "DriveItemDeltaParameters": {
          "$ref": "#/definitions/Powell.Teams.Model.Unmapped.DriveItemDeltaParameters"
        },
        "MinimumNumberOfOwners": {
          "format": "int32",
          "type": "integer"
        },
        "MinimumNumberOfMembers": {
          "format": "int32",
          "type": "integer"
        },
        "Visibility": {
          "type": "string"
        },
        "ExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "ExpirationStart": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "Powell.Teams.Model.Unmapped.ChatMessageDeltaParameters": {
      "type": "object",
      "properties": {
        "TeamId": {
          "type": "string"
        },
        "ChannelId": {
          "type": "string"
        },
        "DeltaLink": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Model.Unmapped.DriveItemDeltaParameters": {
      "type": "object",
      "properties": {
        "GroupId": {
          "type": "string"
        },
        "DeltaLink": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_System.Collections.Generic.List_Powell.Teams.Model.Unmapped.TeamReport___": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Powell.Teams.Model.Unmapped.TeamReport"
            }
          }
        }
      }
    },
    "Powell.Teams.Model.Unmapped.TeamReport": {
      "type": "object",
      "properties": {
        "GroupId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "CreationDate": {
          "format": "date-time",
          "type": "string"
        },
        "LastUpdateDate": {
          "format": "date-time",
          "type": "string"
        },
        "Title": {
          "type": "string"
        },
        "Description": {
          "type": "string"
        },
        "Photo": {
          "type": "string"
        },
        "IsArchived": {
          "type": "boolean"
        },
        "IsInactive": {
          "type": "boolean"
        },
        "Link": {
          "type": "string"
        },
        "PowellTemplateId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "PowellTemplateName": {
          "type": "string"
        },
        "OwnersIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NbOwners": {
          "format": "int32",
          "type": "integer"
        },
        "MembersIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NbMembers": {
          "format": "int32",
          "type": "integer"
        },
        "ExternalUsersIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NbExternals": {
          "format": "int32",
          "type": "integer"
        },
        "LastChatActivity": {
          "format": "date-time",
          "type": "string"
        },
        "NbChatMessages": {
          "format": "int32",
          "type": "integer"
        },
        "NbChatReplies": {
          "format": "int32",
          "type": "integer"
        },
        "ChatMessageDeltaParameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.Model.Unmapped.ChatMessageDeltaParameters"
          }
        },
        "LastDocActivity": {
          "format": "date-time",
          "type": "string"
        },
        "NbDocuments": {
          "format": "int32",
          "type": "integer"
        },
        "DriveItemDeltaParameters": {
          "$ref": "#/definitions/Powell.Teams.Model.Unmapped.DriveItemDeltaParameters"
        },
        "MinimumNumberOfOwners": {
          "format": "int32",
          "type": "integer"
        },
        "MinimumNumberOfMembers": {
          "format": "int32",
          "type": "integer"
        },
        "Visibility": {
          "type": "string"
        },
        "PowellTemplateVisibilitySetting": {
          "type": "string"
        },
        "ExpirationDate": {
          "format": "date-time",
          "type": "string"
        },
        "ExpirationStart": {
          "format": "date-time",
          "type": "string"
        },
        "IsNamingRuleCompliant": {
          "type": "boolean"
        },
        "NamingRuleName": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.IEnumerable_Powell.Teams.API.Models.Tag.ApiTagSimpleModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagSimpleModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagSimpleModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Name": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        },
        "IsMultiValueChoice": {
          "type": "boolean"
        },
        "Choices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagChoiceModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagChoiceModel": {
      "type": "object",
      "properties": {
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "Value": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_System.Collections.Generic.List_Powell.Teams.API.Models.Tag.ApiTagModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
        "ErrorCode": {
          "format": "int32",
          "type": "integer"
        },
        "ErrorMessage": {
          "type": "string"
        },
        "IsSucceed": {
          "type": "boolean"
        },
        "Result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagModel": {
      "type": "object",
      "properties": {
        "ChoicesJson": {
          "type": "string"
        },
        "Id": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "IsRefiner": {
          "type": "boolean"
        },
        "Name": {
          "type": "string"
        },
        "Type": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.API.Models.Team.ApiTeamCreationModel": {
      "type": "object",
      "properties": {
        "Description": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "TeamTemplateId": {
          "format": "uuid",
          "type": "string"
        },
        "Visibility": {
          "enum": [
            "Private",
            "Public"
          ],
          "type": "string"
        },
        "AdditionalMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "TagValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagValueCreationModel"
          }
        }
      }
    },
    "Powell.Teams.API.Models.Tag.ApiTagValueCreationModel": {
      "type": "object",
      "properties": {
        "Value": {
          "type": "string"
        },
        "TagId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        }
      }
    },
    "Powell.Teams.API.Models.Team.ApiTeamUpdateModel": {
      "type": "object",
      "properties": {
        "Description": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        },
        "TeamTemplateId": {
          "format": "uuid",
          "type": "string"
        },
        "Visibility": {
          "enum": [
            "Private",
            "Public"
          ],
          "type": "string"
        },
        "AdditionalMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalGroupMembers": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "AdditionalOwners": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "TagValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Powell.Teams.API.Models.Tag.ApiTagValueCreationModel"
          }
        },
        "Id": {
          "format": "uuid",
          "type": "string"
        },
        "OfficeGroupId": {
          "format": "uuid",
          "type": "string",
          "example": "00000000-0000-0000-0000-000000000000"
        },
        "IsArchived": {
          "type": "boolean"
        },
        "ApplyNamingConvention": {
          "type": "boolean"
        },
        "TimeZone": {
          "type": "string"
        }
      }
    },
    "Powell.Teams.Common.Core.OperationResult_Powell.Teams.API.Models.PublicAPIResponses.PaginatedAPIResponseModel_Powell.Teams.API.Models.Team.ApiTeamModel__": {
      "type": "object",
      "properties": {
        "CorrelationId": {
          "format": "uuid",
          "type": "string"
        },
[...]
