{
  "swagger": "2.0",
  "info": {
    "title": "PokeAPI Core",
    "description": "All the Pokemon data you'll ever need in one place, easily accessible through a modern free open-source solution. Core contains the pokemon and evolution endpoints.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_pokecor@gmail.com"
    }
  },
  "host": "pokeapi.co",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v2/ability/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResults"
            }
          }
        },
        "summary": "List abilities",
        "description": "Abilities provide passive effects for Pokemon in battle or in the overworld. Pokemon have multiple possible abilities but can have only one ability at a time.",
        "operationId": "ListAbilities",
        "parameters": [
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          }
        ]
      }
    },
    "/api/v2/ability/{id or name}/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "effect_changes": {
                  "type": "array",
                  "items": {},
                  "description": "The list of previous effects this ability has had across version groups.",
                  "title": "Effect changes"
                },
                "effect_entries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "effect": {
                        "type": "string",
                        "description": "The localized effect text for an API resource in a specific language.",
                        "title": "Effect"
                      },
                      "language": {
                        "$ref": "#/definitions/LanguageType"
                      },
                      "short_effect": {
                        "type": "string",
                        "description": "The localized effect text in brief.",
                        "title": "Short effect"
                      }
                    }
                  },
                  "description": "The effect of this ability listed in different languages.",
                  "title": "Effect entries"
                },
                "flavor_text_entries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "flavor_text": {
                        "type": "string",
                        "description": "The localized name for an API resource in a specific language.",
                        "title": "Flavor text"
                      },
                      "language": {
                        "$ref": "#/definitions/LanguageType"
                      },
                      "version_group": {
                        "$ref": "#/definitions/VersionGroupType"
                      }
                    }
                  },
                  "description": "The flavor text of this ability listed in different languages.",
                  "title": "Flavor text entries"
                },
                "generation": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "$ref": "#/definitions/nameProperty"
                    },
                    "url": {
                      "$ref": "#/definitions/urlProperty"
                    }
                  },
                  "description": "The generation this ability originated in.",
                  "title": "Generation"
                },
                "id": {
                  "$ref": "#/definitions/idProperty"
                },
                "is_main_series": {
                  "type": "boolean",
                  "description": "Whether or not this ability originated in the main series of the video games.",
                  "title": "Is main series"
                },
                "name": {
                  "$ref": "#/definitions/nameProperty"
                },
                "names": {
                  "$ref": "#/definitions/NamesType"
                },
                "pokemon": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "is_hidden": {
                        "type": "boolean",
                        "description": "Whether or not this a hidden ability for the referenced Pokemon.",
                        "title": "Is hidden"
                      },
                      "pokemon": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "$ref": "#/definitions/nameProperty"
                          },
                          "url": {
                            "$ref": "#/definitions/urlProperty"
                          }
                        },
                        "description": "The Pokemon this ability could belong to.",
                        "title": "Pokemon"
                      },
                      "slot": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Pokemon have 3 ability 'slots' which hold references to possible abilities they could have. This is the slot of this ability for the referenced pokemon.",
                        "title": "Slot"
                      }
                    }
                  },
                  "description": "A list of Pokemon that could potentially have this ability.",
                  "title": "Pokemon"
                }
              }
            }
          }
        },
        "summary": "Get ability",
        "description": "Abilities provide passive effects for Pokemon in battle or in the overworld. Pokemon have multiple possible abilities but can have only one ability at a time.",
        "operationId": "GetAbility",
        "parameters": [
          {
            "$ref": "#/parameters/idOrNameParam"
          }
        ]
      }
    },
    "/api/v2/characteristic/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResults"
            }
          }
        },
        "summary": "List characteristics",
        "description": "Characteristics indicate which stat contains a Pokemon's highest IV. A Pokemon's Characteristic is determined by the remainder of its highest IV divided by 5 (gene_modulo).",
        "operationId": "ListCharacteristics",
        "parameters": [
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          }
        ]
      }
    },
    "/api/v2/characteristic/{id}/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "descriptions": {
                  "$ref": "#/definitions/DescriptionType"
                },
                "gene_modulo": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The remainder of the highest stat/IV divided by 5.",
                  "title": "Gene_Modulo"
                },
                "highest_stat": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "$ref": "#/definitions/nameProperty"
                    },
                    "url": {
                      "$ref": "#/definitions/urlProperty"
                    }
                  },
                  "description": "The stat which results in this characteristic.",
                  "title": "Highest stat"
                },
                "id": {
                  "$ref": "#/definitions/idProperty"
                },
                "possible_values": {
                  "type": "array",
                  "items": {},
                  "description": "The possible values of the highest stat that would result in a Pokemon receiving this characteristic when divided by 5.",
                  "title": "Possible values"
                }
              }
            }
          }
        },
        "summary": "Get characteristics",
        "operationId": "GetCharacteristics",
        "description": "Characteristics indicate which stat contains a Pokemon's highest IV. A Pokemon's Characteristic is determined by the remainder of its highest IV divided by 5 (gene_modulo).",
        "parameters": [
          {
            "$ref": "#/parameters/idParam"
          }
        ]
      }
    },
    "/api/v2/gender/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResults"
            }
          }
        },
        "summary": "List genders",
        "description": "Genders were introduced in Generation II for the purposes of breeding Pokemon but can also result in visual differences or even different evolutionary lines.",
        "operationId": "ListGenders",
        "parameters": [
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          }
        ]
      }
    },
    "/api/v2/growth-rate/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResults"
            }
          }
        },
        "summary": "List growth rates",
        "operationId": "ListGrowthRates",
        "description": "Growth rates are the speed with which Pokemon gain levels through experience.",
        "parameters": [
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          }
        ]
      }
    },
    "/api/v2/gender/{id or name}/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/definitions/idProperty"
                },
                "name": {
                  "$ref": "#/definitions/nameProperty"
                },
                "pokemon_species_details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pokemon_species": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "$ref": "#/definitions/nameProperty"
                          },
                          "url": {
                            "$ref": "#/definitions/urlProperty"
                          }
                        },
                        "description": "A Pokemon species that can be the referenced gender.",
                        "title": "Pokemon species"
                      },
                      "rate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The chance of this Pokemon being female, in eighths; or -1 for genderless.",
                        "title": "Rate"
                      }
                    }
                  },
                  "description": "A list of Pokemon species that can be this gender and how likely it is that they will be.",
                  "title": "Pokemon species details"
                },
                "required_for_evolution": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "$ref": "#/definitions/nameProperty"
                      },
                      "url": {
                        "$ref": "#/definitions/urlProperty"
                      }
                    }
                  },
                  "description": "A list of Pokemon species that required this gender in order for a Pokemon to evolve into them.",
                  "title": "Required for evolution"
                }
              }
            }
          }
        },
        "summary": "Get gender",
        "operationId": "GetGender",
        "description": "Genders were introduced in Generation II for the purposes of breeding Pokemon but can also result in visual differences or even different evolutionary lines.",
        "parameters": [
          {
            "$ref": "#/parameters/idOrNameParam"
          }
        ]
      }
    },
    "/api/v2/growth-rate/{id or name}/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "descriptions": {
                  "$ref": "#/definitions/DescriptionType"
                },
                "formula": {
                  "type": "string",
                  "description": "The formula used to calculate the rate at which the Pokemon species gains level.",
                  "title": "Formula"
                },
                "id": {
                  "$ref": "#/definitions/idProperty"
                },
                "levels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "experience": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The amount of experience required to reach the referenced level.",
                        "title": "Experience"
                      },
                      "level": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The level gained.",
                        "title": "Level"
                      }
                    }
                  },
                  "description": "A list of levels and the amount of experienced needed to atain them based on this growth rate.",
                  "title": "Levels"
                },
                "name": {
                  "$ref": "#/definitions/nameProperty"
                },
                "pokemon_species": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "$ref": "#/definitions/nameProperty"
                      },
                      "url": {
                        "$ref": "#/definitions/urlProperty"
                      }
                    }
                  },
                  "description": "A list of Pokemon species that gain levels at this growth rate.",
                  "title": "Pokemon species"
                }
              }
            }
          }
        },
        "summary": "Get growth rates",
        "operationId": "GetGrowthRates",
        "description": "Growth rates are the speed with which Pokemon gain levels through experience.",
        "parameters": [
          {
            "$ref": "#/parameters/idOrNameParam"
          }
        ]
      }
    },
    "/api/v2/pokemon/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/ListResults"
            }
          }
        },
        "summary": "List pokemon",
        "operationId": "ListPokemon",
        "description": "Pokemon are the creatures that inhabit the world of the Pokemon games. They can be caught using Pokeballs and trained by battling with other Pokemon. Each Pokemon belongs to a specific species but may take on a variant which makes it differ from other Pokemon of the same species, such as base stats, available abilities and typings.",
        "parameters": [
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          }
        ]
      }
    },
    "/api/v2/pokemon/{id or name}/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "abilities": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PokemonAbilityType"
                  },
                  "description": "A list of abilities this Pokemon could potentially have.",
                  "title": "Abilities"
                },
                "base_experience": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The base experience gained for defeating this Pokemon.",
                  "title": "Base experience"
                },
                "cries": {
                  "type": "object",
                  "properties": {
                    "latest": {
                      "type": "string",
                      "description": "The latest depiction of this Pokemon's cry.",
                      "title": "Latest"
                    },
                    "legacy": {
                      "type": "string",
                      "description": "The legacy depiction of this Pokemon's cry.",
                      "title": "Legacy"
                    }
                  },
                  "description": "A set of cries used to depict this Pokemon in the game.",
                  "title": "Cries"
                },
                "forms": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "$ref": "#/definitions/nameProperty"
                      },
                      "url": {
                        "$ref": "#/definitions/urlProperty"
                      }
                    }
                  },
                  "description": "A list of forms this Pokemon can take on.",
                  "title": "Forms"
                },
                "game_indices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "game_index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The internal id of an API resource within game data.",
                        "title": "Game index"
                      },
                      "version": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "$ref": "#/definitions/nameProperty"
                          },
                          "url": {
                            "$ref": "#/definitions/urlProperty"
                          }
                        },
                        "description": "The version relevant to this game index.",
                        "title": "Version"
                      }
                    }
                  },
                  "description": "A list of game indices relevant to Pokemon item by generation.",
                  "title": "Game indices"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height of this Pokemon in decimetres.",
                  "title": "Height"
                },
                "held_items": {
                  "type": "array",
                  "items": {},
                  "description": "A list of items this Pokemon may be holding when encountered.",
                  "title": "Held items"
                },
                "id": {
                  "$ref": "#/definitions/idProperty"
                },
                "is_default": {
                  "type": "boolean",
                  "description": "Set for exactly one Pokemon used as the default for each species.",
                  "title": "Is default"
                },
                "location_area_encounters": {
                  "type": "string",
                  "description": "A link to a list of location areas, as well as encounter details pertaining to specific versions.",
                  "title": "Location area encounters"
                },
                "moves": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "move": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "$ref": "#/definitions/nameProperty"
                          },
                          "url": {
                            "$ref": "#/definitions/urlProperty"
                          }
                        },
                        "description": "The move the Pokemon can learn.",
                        "title": "Move"
                      },
                      "version_group_details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "level_learned_at": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The minimum level to learn the move.",
                              "title": "Level learned at"
                            },
                            "move_learn_method": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "$ref": "#/definitions/nameProperty"
                                },
                                "url": {
                                  "$ref": "#/definitions/urlProperty"
                                }
                              },
                              "description": "The method by which the move is learned.",
                              "title": "Move learn method"
                            },
                            "order": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Order by which the pokemon will learn the move. A newly learnt move will replace the move with lowest order.",
                              "title": "Order"
                            },
                            "version_group": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "name"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "url"
                                }
                              },
                              "description": "The version group in which the move is learned.",
                              "title": "Version group"
                            }
                          }
                        },
                        "description": "The details of the version in which the Pokemon can learn the move.",
                        "title": "Version group details"
                      }
                    }
                  },
                  "description": "A list of moves along with learn methods and level details pertaining to specific version groups.",
                  "title": "Moves"
                },
                "name": {
                  "$ref": "#/definitions/nameProperty"
                },
                "order": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Order for sorting. Almost national order, except families are grouped together.",
                  "title": "Order"
                },
                "past_abilities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "abilities": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/PokemonAbilityType"
                        },
                        "description": "The abilities the referenced pokemon had up to and including the listed generation. If null, the slot was previously empty.",
                        "title": "Abilities"
                      },
                      "generation": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "$ref": "#/definitions/nameProperty"
                          },
                          "url": {
                            "$ref": "#/definitions/urlProperty"
                          }
                        },
                        "description": "The last generation in which the referenced pokemon had the listed abilities.",
                        "title": "Generation"
                      }
                    }
                  },
                  "description": "A list of details showing abilities this pokemon had in previous generations.",
                  "title": "Past abilities"
                },
                "past_types": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PokemonTypeType"
                  },
                  "description": "A list of details showing types this pokemon had in previous generations",
                  "title": "Past types"
                },
                "species": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "$ref": "#/definitions/nameProperty"
                    },
                    "url": {
                      "$ref": "#/definitions/urlProperty"
                    }
                  },
                  "description": "The species this Pokemon belongs to.",
                  "title": "Species"
                },
                "sprites": {
                  "type": "object",
                  "properties": {
                    "back_default": {
                      "type": "string",
                      "description": "The default depiction of this Pokemon from the back in battle.",
                      "title": "Back default"
                    },
                    "back_female": {
                      "type": "string",
                      "description": "The female depiction of this Pokemon from the back in battle.",
                      "title": "Back female"
                    },
                    "back_shiny": {
                      "type": "string",
                      "description": "The shiny depiction of this Pokemon from the back in battle.",
                      "title": "Back shiny"
                    },
                    "back_shiny_female": {
                      "type": "string",
                      "description": "The shiny female depiction of this Pokemon from the back in battle.",
                      "title": "Back shiny female"
                    },
                    "front_default": {
                      "type": "string",
                      "description": "The default depiction of this Pokemon from the front in battle.",
                      "title": "Front default"
                    },
                    "front_female": {
                      "type": "string",
                      "description": "The female depiction of this Pokemon from the front in battle.",
                      "title": "Front female"
                    },
                    "front_shiny": {
                      "type": "string",
                      "description": "The shiny depiction of this Pokemon from the front in battle.",
                      "title": "Front shiny"
                    },
                    "front_shiny_female": {
                      "type": "string",
                      "description": "The shiny female depiction of this Pokemon from the front in battle.",
                      "title": "Front shiny female"
                    }
                  },
                  "description": "A set of sprites used to depict this Pokemon in the game.",
                  "title": "Sprites"
                },
                "stats": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "base_stat": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The base value of the stat.",
                        "title": "Base stat"
                      },
                      "effort": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The effort points (EV) the Pokemon has in the stat.",
                        "title": "Effort"
                      },
                      "stat": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "$ref": "#/definitions/nameProperty"
                          },
                          "url": {
                            "$ref": "#/definitions/urlProperty"
                          }
                        },
                        "description": "The stat the Pokemon has.",
                        "title": "Stat"
                      }
                    }
                  },
                  "description": "A list of base stat values for this Pokemon.",
                  "title": "Stats"
                },
                "types": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PokemonTypeType"
                  },
                  "description": "A list of details showing types this Pokemon has.",
                  "title": "Types"
                },
                "weight": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The weight of this Pokemon in hectograms.",
                  "title": "Weight"
                }
              }
            }
          }
        },
        "summary": "Get pokemon",
        "operationId": "GetPokemon",
        "description": "Pokemon are the creatures that inhabit the world of the Pokemon games. They can be caught using Pokeballs and trained by battling with other Pokemon. Each Pokemon belongs to a specific species but may take on a variant which makes it differ from other Pokemon of the same species, such as base stats, available abilities and typings.",
        "parameters": [
          {
            "$ref": "#/parameters/idOrNameParam"
          }
        ]
      }
    },
    "/api/v2/type/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResults"
            }
          }
        },
        "summary": "List types",
        "operationId": "ListTypes",
        "description": "Types are properties for Pokemon and their moves. Each type has three properties: which types of Pokemon it is super effective against, which types of Pokemon it is not very effective against, and which types of Pokemon it is completely ineffective against.",
        "parameters": [
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          }
        ]
      }
    },
    "/api/v2/type/{id or name}/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "damage_relations": {
                  "type": "object",
                  "properties": {
                    "double_damage_from": {
                      "type": "array",
                      "items": {},
                      "description": "A list of types that are very effective against this type.",
                      "title": "Double damage from"
                    },
                    "double_damage_to": {
                      "type": "array",
                      "items": {},
                      "description": "A list of types this type is very effect against.",
                      "title": "Double damage to"
                    },
                    "half_damage_from": {
                      "type": "array",
                      "items": {},
                      "description": "A list of types that are not very effective against this type.",
                      "title": "Half damage from"
                    },
                    "half_damage_to": {
                      "type": "array",
                      "items": {},
                      "description": "A list of types this type is not very effect against.",
                      "title": "Half damage to"
                    },
                    "no_damage_from": {
                      "type": "array",
                      "items": {},
                      "description": "A list of types that have no effect on this type.",
                      "title": "No damage from"
                    },
                    "no_damage_to": {
                      "type": "array",
                      "items": {},
                      "description": "A list of types this type has no effect on.",
                      "title": "No damage to"
                    }
                  },
                  "description": "A detail of how effective this type is toward others and vice versa.",
                  "title": "Damage relations"
                },
                "game_indices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "game_index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The internal id of an API resource within game data.",
                        "title": "Game index"
                      },
                      "generation": {
                        "type": "object",
                        "description": "The generation relevent to this game index.",
                        "title": "Generation"
                      }
                    }
                  },
                  "description": "A list of game indices relevent to this item by generation.",
                  "title": "Game indices"
                },
                "generation": {
                  "type": "object",
                  "description": "The generation this type was introduced in.",
                  "title": "Generation"
                },
                "id": {
                  "$ref": "#/definitions/idProperty"
                },
                "move_damage_class": {
                  "type": "object",
                  "description": "The class of damage inflicted by this type.",
                  "title": "Move damage class"
                },
                "moves": {
                  "type": "array",
                  "items": {},
                  "description": "A list of moves that have this type.",
                  "title": "Moves"
                },
                "name": {
                  "$ref": "#/definitions/nameProperty"
                },
                "names": {
                  "$ref": "#/definitions/NamesType"
                },
                "past_damage_relations": {
                  "type": "array",
                  "items": {},
                  "description": "A list of details of how effective this type was toward others and vice versa in previous generations",
                  "title": "Past damage relations"
                },
                "pokemon": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pokemon": {
                        "type": "object",
                        "description": "The Pokemon that has the referenced type.",
                        "title": "Pokemon"
                      },
                      "slot": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The order the Pokemon's types are listed in.",
                        "title": "Slot"
                      }
                    }
                  },
                  "description": "A list of details of Pokemon that have this type.",
                  "title": "Pokemon"
                }
              }
            }
          }
        },
        "summary": "Get type",
        "operationId": "GetType",
        "description": "Types are properties for Pokemon and their moves. Each type has three properties: which types of Pokemon it is super effective against, which types of Pokemon it is not very effective against, and which types of Pokemon it is completely ineffective against.",
        "parameters": [
          {
            "$ref": "#/parameters/idOrNameParam"
          }
        ]
      }
    },
    "/api/v2/evolution-chain/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResults"
            }
          }
        },
        "summary": "List evolution chains",
        "operationId": "ListEvolutionChains",
        "description": "Evolution chains are essentially family trees. They start with the lowest stage within a family and detail evolution conditions for each as well as Pokemon they can evolve into up through the hierarchy.",
        "parameters": [
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          }
        ]
      }
    },
    "/api/v2/evolution-chain/{id}/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "baby_trigger_item": {
                  "type": "object",
                  "description": "The item that a Pokemon would be holding when mating that would trigger the egg hatching a baby Pokemon rather than a basic Pokemon.",
                  "title": "Baby trigger item"
                },
                "chain": {
                  "$ref": "#/definitions/ChainLinkType"
                },
                "id": {
                  "$ref": "#/definitions/idProperty"
                }
              }
            }
          }
        },
        "summary": "Get evolution chain",
        "operationId": "GetEvolutionChain",
        "description": "Evolution chains are essentially family trees. They start with the lowest stage within a family and detail evolution conditions for each as well as Pokemon they can evolve into up through the hierarchy.",
        "parameters": [
          {
            "$ref": "#/parameters/idParam"
          }
        ]
      }
    },
    "/api/v2/evolution-trigger/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListResults"
            }
          }
        },
        "summary": "List evolution triggers",
        "operationId": "ListEvolutionTriggers",
        "description": "Evolution triggers are the events and conditions that cause a Pokemon to evolve.",
        "parameters": [
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          }
        ]
      }
    },
    "/api/v2/evolution-trigger/{id or name}/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/definitions/idProperty"
                },
                "name": {
                  "$ref": "#/definitions/nameProperty"
                },
                "names": {
                  "$ref": "#/definitions/NamesType"
                },
                "pokemon_species": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "$ref": "#/definitions/nameProperty"
                      },
                      "url": {
                        "$ref": "#/definitions/urlProperty"
                      }
                    }
                  },
                  "description": "A list of pokemon species that result from this evolution trigger.",
                  "title": "Pokemon species"
                }
              }
            }
          }
        },
        "summary": "Get evolution trigger",
        "operationId": "GetEvolutionTrigger",
        "description": "Evolution triggers are the events and conditions that cause a Pokemon to evolve.",
        "parameters": [
          {
            "$ref": "#/parameters/idOrNameParam"
          }
        ]
      }
    }
  },
  "definitions": {
    "nameProperty": {
      "type": "string",
      "description": "The name for this resource.",
      "title": "Name"
    },
    "urlProperty": {
      "type": "string",
      "description": "The URL for this resource.",
      "title": "Url"
    },
    "idProperty": {
      "type": "integer",
      "format": "int32",
      "description": "The identifier for this resource.",
      "title": "ID"
    },
    "ListResults": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of resources available from this API.",
          "title": "Count"
        },
        "next": {
          "type": "string",
          "description": "The URL for the next page in the list.",
          "title": "Next"
        },
        "previous": {
          "type": "string",
          "description": "The URL for the previous page in the list.",
          "title": "Previous"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "$ref": "#/definitions/nameProperty"
              },
              "url": {
                "$ref": "#/definitions/urlProperty"
              }
            }
          },
          "description": "Results of the query.",
          "title": "Results"
        }
      }
    },
    "LanguageType": {
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/nameProperty"
        },
        "url": {
          "$ref": "#/definitions/urlProperty"
        },
        "id": {
          "$ref": "#/definitions/idProperty"
        },
        "official": {
          "type": "boolean",
          "description": "Whether or not the games are published in this language.",
          "title": "Is official"
        },
        "iso639": {
          "type": "string",
          "description": "The two-letter code of the country where this language is spoken. Note that it is not unique.",
          "title": "ISO 639"
        },
        "iso3166": {
          "type": "string",
          "description": "The two-letter code of the language. Note that it is not unique.",
          "title": "ISO 3166"
        }
      },
      "description": "Localization details of this information.",
      "title": "Language details"
    },
    "VersionGroupType": {
      "type": "object",
      "properties": {
        "name": {
          "$ref": "#/definitions/nameProperty"
        },
        "url": {
          "$ref": "#/definitions/urlProperty"
        },
        "id": {
          "$ref": "#/definitions/idProperty"
        }
      },
      "description": "Version group details of this information.",
      "title": "Version group details"
    },
    "DescriptionType": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "The descriptions of this characteristic in specific language.",
            "title": "Description"
          },
          "language": {
            "$ref": "#/definitions/LanguageType"
          }
        }
      },
      "description": "The descriptions of this characteristic listed in different languages.",
      "title": "Descriptions"
    },
    "ChainLinkType": {
      "type": "object",
      "properties": {
        "is_baby": {
          "type": "boolean",
          "description": "Whether or not this link is for a baby Pokemon. This would only ever be true on the base link.",
          "title": "Is baby"
        },
        "species": {
          "type": "object",
          "properties": {
            "name": {
              "$ref": "#/definitions/nameProperty"
            },
            "url": {
              "$ref": "#/definitions/urlProperty"
            }
          },
          "description": "The Pokemon species at this point in the evolution chain.",
          "title": "Species"
        },
        "evolves_to": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ChainLinkType"
          },
          "description": "A List of chain objects.",
          "title": "Evolves to"
        },
        "evolution_details": {
          "type": "array",
          "items": {},
          "description": "All details regarding the specific details of the referenced Pokemon species evolution.",
          "title": "Evolution details"
        }
      },
      "description": "The base chain link object. Each link contains evolution details for a Pokemon in the chain. Each link references the next Pokemon in the natural evolution order.",
      "title": "Chain"
    },
    "NamesType": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "language": {
            "$ref": "#/definitions/LanguageType"
          },
          "name": {
            "$ref": "#/definitions/nameProperty"
          }
        }
      },
      "description": "The name of this resource listed in different languages.",
      "title": "Names"
    },
    "PokemonAbilityType": {
      "type": "object",
      "properties": {
        "ability": {
          "type": "object",
          "properties": {
            "name": {
              "$ref": "#/definitions/nameProperty"
            },
            "url": {
              "$ref": "#/definitions/urlProperty"
            }
          },
          "description": "The ability the Pokemon may have.",
          "title": "Ability"
        },
        "is_hidden": {
          "type": "boolean",
          "description": "Whether or not this is a hidden ability.",
          "title": "Is hidden"
        },
        "slot": {
          "type": "integer",
          "format": "int32",
          "description": "The slot this ability occupies in this Pokemon species.",
          "title": "Slot"
        }
      },
      "description": "A list of abilities this Pokemon had or could potentially have.",
      "title": "Abilities"
    },
    "PokemonTypeType": {
      "type": "object",
      "properties": {
        "slot": {
          "type": "integer",
          "format": "int32",
          "description": "The order the Pokemon's types are listed in.",
          "title": "Slot"
        },
        "type": {
          "type": "object",
          "properties": {
            "name": {
              "$ref": "#/definitions/nameProperty"
            },
            "url": {
              "$ref": "#/definitions/urlProperty"
            }
          },
          "description": "The type the referenced Pokemon has or had.",
          "title": "Type"
        }
      }
    }
  },
  "parameters": {
    "idOrNameParam": {
      "name": "id or name",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-summary": "ID or Name",
      "description": "Unique ID or Name of the resource.",
      "x-ms-url-encoding": "single"
    },
    "idParam": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-summary": "ID",
      "description": "Unique ID of the resource.",
      "x-ms-url-encoding": "single"
    },
    "limitParam": {
      "name": "limit",
      "in": "query",
      "required": false,
      "type": "integer",
      "x-ms-summary": "Limit",
      "description": "Limit the results to be returned, default is 20."
    },
    "offsetParam": {
      "name": "offset",
      "in": "query",
      "required": false,
      "type": "integer",
      "x-ms-summary": "Offset",
      "description": "Combined with \"limit\", implements pagination."
    }
  },
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://pokeapi.co"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://pokeapi.co/about"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}