{
  "swagger": "2.0",
  "info": {
    "description": "Provides Customers with the ability to create and follow up on Leads by engaging them in real-language conversation",
    "version": "0.1",
    "title": "Conversica",
    "contact": {
      "name": "Conversica Support",
      "url": "https://www.conversica.com/contact-us/",
      "email": "support@conversica.com"
    }
  },
  "host": "integrations-api.conversica.com",
  "basePath": "/",
  "schemes": ["https"],
  "paths": {
    "/json/": {
      "post": {
        "summary": "Creates or Updates a Lead Object",
        "description": "Creates or Updates a lead object",
        "operationId": "CreateUpdateLead",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "Lead object",
            "description": "The Lead object includes data relevant for communication between the Conversica Assistant and the Customer's Leads. Some keys listed below are optional. However, Conversica recommends including as much information as possible for each Lead, in order to enhance the performance of your Assistant",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Lead"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "BasicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "BasicAuth": []
    }
  ],
  "definitions": {
    "Lead": {
      "type": "object",
      "required": [
        "apiVersion",
        "id",
        "conversationId",
        "firstName",
        "email",
        "leadSource",
        "repName"
      ],
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "The version number of the Conversica API in use"
        },
        "id": {
          "type": "string",
          "description": "The Lead's unique ID in the Customer's System (Source ID)"
        },
        "conversationId": {
          "type": "string",
          "description": "For a particular Conversation, a list or filtered set of Leads (e.g. “campaign” in some CRMs) for the purpose of tailoring messaging to a more specific audience or use case"
        },
        "firstName": {
          "type": "string",
          "description": "The Lead's first name, used in messaging"
        },
        "email": {
          "type": "string",
          "description": "The Lead's primary email address for messaging"
        },
        "leadSource": {
          "type": "string",
          "description": "The source of the Lead, as indicated in the Customer's System and as used by Conversica for either reporting on Lead Source performance or other  customizations"
        },
        "leadStatus": {
          "type": "string",
          "description": "The status of the Lead, as indicated in the Customer's System and as used by Conversica for intelligent Conversation management (e.g. “New,” “Sold,” or “Lost”)"
        },
        "optOut": {
          "type": "boolean",
          "description": "Indicates whether or not the Lead has opted out of all methods of marketing and contact (“global” opt-out)"
        },
        "repId": {
          "type": "string",
          "description": "The Salesperson's (Lead owner) unique ID in the Customer's System"
        },
        "repName": {
          "type": "string",
          "description": "The Salesperson's (Lead owner) name, used in messaging"
        },
        "clientId": {
          "type": "string",
          "description": "Unique ID for the Customer in the Customer's System (Required if the API integration will be used for multiple Conversica Customers)"
        },
        "lastName": {
          "type": "string",
          "description": "The Lead's last name"
        },
        "homePhone": {
          "type": "string",
          "description": "The Lead's primary phone number"
        },
        "workPhone": {
          "type": "string",
          "description": "The Lead's work phone number"
        },
        "cellPhone": {
          "type": "string",
          "description": "The Lead's cell phone number (Required for SMS)"
        },
        "address": {
          "type": "string",
          "description": "The Lead's street address"
        },
        "city": {
          "type": "string",
          "description": "The Lead's city"
        },
        "state": {
          "type": "string",
          "description": "The Lead's state"
        },
        "zip": {
          "type": "string",
          "description": "The Lead's zip code"
        },
        "leadType": {
          "type": "string",
          "description": "The type of the Lead, as indicated in the Customer's System (e.g. “Internet,” “Web Form,” or “Phone-In”)"
        },
        "date": {
          "type": "string",
          "description": "The date and time the Lead was created in the Customer's System (UTC RFC 3339 format)"
        },
        "smsOptOut": {
          "type": "boolean",
          "description": "Indicates whether or not the Lead has opted out of being contacted by SMS text messaging (Required for SMS Conversations)"
        },
        "stopMessaging": {
          "type": "boolean",
          "description": "If set to “true,” the Assistant will stop listening for responses and will no longer message the Lead  No"
        },
        "skipToFollowup": {
          "type": "boolean",
          "description": "If set to “true,” the Assistant will wait a few days before sending a follow-up message"
        },
        "repEmail": {
          "type": "string",
          "description": "The Salesperson's (Lead owner) email address"
        },
        "smsOptIn": {
          "type": "boolean",
          "description": "If set to 'true,' indicates the Lead has accepted being contacted by SMS text messaging (Required for SMS Conversations)"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.conversica.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.conversica.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Marketing"
    }
  ]
}
