{
  "swagger": "2.0",
  "info": {
    "title": "Buy Me A Coffee",
    "description": "Buy Me a Coffee makes supporting fun and easy. In just a couple of taps, your fans can make the payment (buy you a coffee) and leave a message. They don't even have to create an account!",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "developers.buymeacoffee.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/v1/subscriptions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page number.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subscription_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier of the subscription.",
                        "title": "Subscription ID"
                      },
                      "subscription_cancelled_on": {
                        "type": "string",
                        "description": "When the subsciption was cancelled on.",
                        "title": "Subscription Cancelled On"
                      },
                      "subscription_created_on": {
                        "type": "string",
                        "description": "When the subsciption was created on.",
                        "title": "Subscription Created On"
                      },
                      "subscription_updated_on": {
                        "type": "string",
                        "description": "When the subsciption was updated on.",
                        "title": "Subscription Updated On"
                      },
                      "subscription_current_period_start": {
                        "type": "string",
                        "description": "When the subsciption current period started.",
                        "title": "Subscription Current Period Start"
                      },
                      "subscription_current_period_end": {
                        "type": "string",
                        "description": "When the subsciption current period ended.",
                        "title": "Subscription Current Period End"
                      },
                      "subscription_coffee_price": {
                        "type": "string",
                        "description": "The subscription coffee price.",
                        "title": "Subscription Coffee Price"
                      },
                      "subscription_coffee_num": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The subscription coffee number.",
                        "title": "Subscription Coffee Num"
                      },
                      "subscription_is_cancelled": {
                        "type": "string",
                        "description": "If the subscription is cancelled.",
                        "title": "Subscription Is Cancelled"
                      },
                      "subscription_is_cancelled_at_period_end": {
                        "type": "string",
                        "description": "If the subscription is cancelled at period end.",
                        "title": "subscription_is_cancelled_at_period_end"
                      },
                      "subscription_currency": {
                        "type": "string",
                        "description": "The subscription currency.",
                        "title": "Subscription Currency"
                      },
                      "subscription_message": {
                        "type": "string",
                        "description": "The subscription message.",
                        "title": "Subscription Message"
                      },
                      "message_visibility": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The visibility of the message.",
                        "title": "Message Visibility"
                      },
                      "subscription_duration_type": {
                        "type": "string",
                        "description": "The subscription duration type.",
                        "title": "Subscription Duration Type"
                      },
                      "referer": {
                        "type": "string",
                        "description": "The referer.",
                        "title": "Referer"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "transaction_id": {
                        "type": "string",
                        "description": "The identifier of the transaction.",
                        "title": "Transaction ID"
                      },
                      "payer_email": {
                        "type": "string",
                        "description": "The payer's email address.",
                        "title": "Payer Email"
                      },
                      "payer_name": {
                        "type": "string",
                        "description": "The payer's name.",
                        "title": "Payer Name"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The URL of the first page.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The from number.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page number.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The URL of the last page.",
                  "title": "Last Page URL"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The URL of the next page.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The URL of the previous page.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The to number.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get members",
        "description": "This endpoint will return all of your members with both active and inactive statuses.",
        "operationId": "MemberGet",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "x-ms-summary": "Status",
            "description": "All, active or inactive status.",
            "required": false,
            "type": "string",
            "default": "all",
            "enum": [
              "all",
              "active",
              "inactive"
            ]
          }
        ]
      }
    },
    "/v1/subscriptions/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "subscription_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier of the subscription.",
                  "title": "Subscription ID"
                },
                "subscription_cancelled_on": {
                  "type": "string",
                  "description": "When the subscription was cancelled on.",
                  "title": "Subscription Cancelled On"
                },
                "subscription_created_on": {
                  "type": "string",
                  "description": "When the subscription was created on.",
                  "title": "Subscription Created On"
                },
                "subscription_updated_on": {
                  "type": "string",
                  "description": "When the subscription was updated on.",
                  "title": "Subscription Updated On"
                },
                "subscription_current_period_start": {
                  "type": "string",
                  "description": "When the subscription current period started.",
                  "title": "Subscription Current Period Start"
                },
                "subscription_current_period_end": {
                  "type": "string",
                  "description": "When the subscription current period ends.",
                  "title": "Subscription Current Period End"
                },
                "subscription_coffee_price": {
                  "type": "string",
                  "description": "The subscription coffee price.",
                  "title": "Subscription Coffee Price"
                },
                "subscription_coffee_num": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The subscription coffee number.",
                  "title": "Subscription Coffee Num"
                },
                "subscription_is_cancelled": {
                  "type": "string",
                  "description": "If the subscription is cancelled.",
                  "title": "Subscription Is Cancelled"
                },
                "subscription_is_cancelled_at_period_end": {
                  "type": "string",
                  "description": "When the subscription is cancelled at period end.",
                  "title": "subscription_is_cancelled_at_period_end"
                },
                "subscription_currency": {
                  "type": "string",
                  "description": "The subscription currency.",
                  "title": "Subscription Currency"
                },
                "subscription_message": {
                  "type": "string",
                  "description": "The subscription message.",
                  "title": "Subscription Message"
                },
                "message_visibility": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The visibility of the message.",
                  "title": "Message Visibility"
                },
                "subscription_duration_type": {
                  "type": "string",
                  "description": "The subscription duration type.",
                  "title": "Subscription Duration Type"
                },
                "referer": {
                  "type": "string",
                  "description": "The referer.",
                  "title": "Referer"
                },
                "country": {
                  "type": "string",
                  "description": "The country.",
                  "title": "Country"
                },
                "transaction_id": {
                  "type": "string",
                  "description": "The identifier of the transaction.",
                  "title": "Transaction ID"
                },
                "payer_email": {
                  "type": "string",
                  "description": "The payer's email.",
                  "title": "Payer Email"
                },
                "payer_name": {
                  "type": "string",
                  "description": "The payer's name.",
                  "title": "Payer Name"
                }
              }
            }
          }
        },
        "summary": "Get a member",
        "description": "This endpoint will return membership details by passing its unique identifier.",
        "operationId": "MemberGetA",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Identifier",
            "description": "The unique identifier of the member.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer"
          }
        ]
      }
    },
    "/v1/supporters": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page number.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "support_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier of the supporter.",
                        "title": "Support ID"
                      },
                      "support_note": {
                        "type": "string",
                        "description": "The support noter.",
                        "title": "Support Note"
                      },
                      "support_coffees": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of support coffees.",
                        "title": "Support Coffees"
                      },
                      "transaction_id": {
                        "type": "string",
                        "description": "The identifier of the transaction.",
                        "title": "Transaction ID"
                      },
                      "support_visibility": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The visibility of the support.",
                        "title": "Support Visibility"
                      },
                      "support_created_on": {
                        "type": "string",
                        "description": "When the support was created on.",
                        "title": "Support Created On"
                      },
                      "support_updated_on": {
                        "type": "string",
                        "description": "When the support was updated on.",
                        "title": "Support Updated On"
                      },
                      "transfer_id": {
                        "type": "string",
                        "description": "The identifier of the transfer.",
                        "title": "Transfer ID"
                      },
                      "supporter_name": {
                        "type": "string",
                        "description": "The name of the supporter.",
                        "title": "Supporter Name"
                      },
                      "support_coffee_price": {
                        "type": "string",
                        "description": "The support coffee price.",
                        "title": "Support Coffee Price"
                      },
                      "support_email": {
                        "type": "string",
                        "description": "The email of the supporter.",
                        "title": "Support Email"
                      },
                      "is_refunded": {
                        "type": "string",
                        "description": "Whether is refunded.",
                        "title": "Is Refunded"
                      },
                      "support_currency": {
                        "type": "string",
                        "description": "The currency of the support.",
                        "title": "Support Currency"
                      },
                      "support_note_pinned": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number the support note is pinned.",
                        "title": "Support Note Pinned"
                      },
                      "referer": {
                        "type": "string",
                        "description": "The referer.",
                        "title": "Referer"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "payer_email": {
                        "type": "string",
                        "description": "The email address of the payer.",
                        "title": "Payer Email"
                      },
                      "payment_platform": {
                        "type": "string",
                        "description": "The payment platform.",
                        "title": "Payment Platform"
                      },
                      "payer_name": {
                        "type": "string",
                        "description": "The name of the payer.",
                        "title": "Payer Name"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The URL of the first page.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The from number.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page number.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The URL of the last page.",
                  "title": "Last Page URL"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The URL of the next page.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The URL of the previous page.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The to number.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get onetime-supporters",
        "description": "This endpoint returns all of your onetime supporters and their messages, if any.",
        "operationId": "SupporterGet",
        "parameters": []
      }
    },
    "/v1/supporters/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "support_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier of the support.",
                  "title": "Support ID"
                },
                "support_note": {
                  "type": "string",
                  "description": "The support note.",
                  "title": "Support Note"
                },
                "support_coffees": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of support coffees.",
                  "title": "Support Coffees"
                },
                "transaction_id": {
                  "type": "string",
                  "description": "The identifier of the transaction.",
                  "title": "Transaction ID"
                },
                "support_visibility": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The support visibility.",
                  "title": "Support Visibility"
                },
                "support_created_on": {
                  "type": "string",
                  "description": "When the support was created on.",
                  "title": "Support Created On"
                },
                "support_updated_on": {
                  "type": "string",
                  "description": "When the support was updated on.",
                  "title": "Support Updated On"
                },
                "transfer_id": {
                  "type": "string",
                  "description": "The identifier of the transfer.",
                  "title": "Transfer ID"
                },
                "supporter_name": {
                  "type": "string",
                  "description": "The supporter's name.",
                  "title": "Supporter Name"
                },
                "support_coffee_price": {
                  "type": "string",
                  "description": "The support coffee price.",
                  "title": "Support Coffee Price"
                },
                "support_email": {
                  "type": "string",
                  "description": "The email address of the support.",
                  "title": "Support Email"
                },
                "is_refunded": {
                  "type": "string",
                  "description": "Whether is refunded.",
                  "title": "Is Refunded"
                },
                "support_currency": {
                  "type": "string",
                  "description": "The currency of the support.",
                  "title": "Support Currency"
                },
                "support_note_pinned": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number the support note is pinned.",
                  "title": "Support Note Pinned"
                },
                "referer": {
                  "type": "string",
                  "description": "The referer.",
                  "title": "Referer"
                },
                "country": {
                  "type": "string",
                  "description": "The country.",
                  "title": "Country"
                },
                "payer_email": {
                  "type": "string",
                  "description": "The payer's email address.",
                  "title": "Payer Email"
                },
                "payment_platform": {
                  "type": "string",
                  "description": "The payment platform.",
                  "title": "Payment Platform"
                },
                "payer_name": {
                  "type": "string",
                  "description": "The payer's name.",
                  "title": "Payer Name"
                }
              }
            }
          }
        },
        "summary": "Get onetime-supporters by ID",
        "description": "This endpoint will return all of your onetime supporters and their messages by their unique ID.",
        "operationId": "SupporterGetA",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Identifier",
            "description": "The unique identifier of the one-time supporter.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer"
          }
        ]
      }
    },
    "/v1/extras": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page number.",
                  "title": "Current Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "purchase_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier of the purchase.",
                        "title": "Purchase ID"
                      },
                      "purchased_on": {
                        "type": "string",
                        "description": "When purchased on.",
                        "title": "Purchased On"
                      },
                      "purchase_updated_on": {
                        "type": "string",
                        "description": "When purchase was updated on.",
                        "title": "Purchase Updated On"
                      },
                      "purchase_is_revoked": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Whether the purchase is revoked.",
                        "title": "Purchase Is Revoked"
                      },
                      "purchase_amount": {
                        "type": "string",
                        "description": "The amount of the purchase.",
                        "title": "Purchase Amount"
                      },
                      "purchase_currency": {
                        "type": "string",
                        "description": "The purchase currency.",
                        "title": "Purchase Currency"
                      },
                      "purchase_question": {
                        "type": "string",
                        "description": "The purchase question.",
                        "title": "Purchase Question"
                      },
                      "payer_email": {
                        "type": "string",
                        "description": "The payer's email adress.",
                        "title": "Payer Email"
                      },
                      "payer_name": {
                        "type": "string",
                        "description": "The payer's name.",
                        "title": "Payer Name"
                      },
                      "extra": {
                        "type": "object",
                        "properties": {
                          "reward_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier of the reward.",
                            "title": "Reward ID"
                          },
                          "reward_title": {
                            "type": "string",
                            "description": "The reward title.",
                            "title": "Reward Title"
                          },
                          "reward_description": {
                            "type": "string",
                            "description": "The reward description.",
                            "title": "Reward Description"
                          },
                          "reward_confirmation_message": {
                            "type": "string",
                            "description": "The reward confirmation message.",
                            "title": "Reward Confirmation Message"
                          },
                          "reward_question": {
                            "type": "string",
                            "description": "The reward question.",
                            "title": "Reward Question"
                          },
                          "reward_used": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of rewards used.",
                            "title": "Reward Used"
                          },
                          "reward_created_on": {
                            "type": "string",
                            "description": "When the reward was created on.",
                            "title": "Reward Created On"
                          },
                          "reward_updated_on": {
                            "type": "string",
                            "description": "When the reward was updated on.",
                            "title": "Reward Updated On"
                          },
                          "reward_deleted_on": {
                            "type": "string",
                            "description": "When the reward was deleted on.",
                            "title": "Reward Deleted On"
                          },
                          "reward_is_active": {
                            "type": "integer",
                            "format": "int32",
                            "description": "If the reward is active.",
                            "title": "Reward Is Active"
                          },
                          "reward_image": {
                            "type": "string",
                            "description": "The reward image.",
                            "title": "Reward Image"
                          },
                          "reward_slots": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The reward slots.",
                            "title": "Reward Slots"
                          },
                          "reward_coffee_price": {
                            "type": "string",
                            "description": "The reward coffee price.",
                            "title": "Reward Coffee Price"
                          },
                          "reward_order": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The reward order number.",
                            "title": "Reward Order"
                          }
                        },
                        "title": "Extra"
                      }
                    }
                  },
                  "title": "Data"
                },
                "first_page_url": {
                  "type": "string",
                  "description": "The URL of the first page.",
                  "title": "First Page URL"
                },
                "from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The from number.",
                  "title": "From"
                },
                "last_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The last page number.",
                  "title": "Last Page"
                },
                "last_page_url": {
                  "type": "string",
                  "description": "The URL of the last page.",
                  "title": "Last Page URL"
                },
                "next_page_url": {
                  "type": "string",
                  "description": "The URL of the next page.",
                  "title": "Next Page URL"
                },
                "path": {
                  "type": "string",
                  "description": "The path.",
                  "title": "Path"
                },
                "per_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number per page.",
                  "title": "Per Page"
                },
                "prev_page_url": {
                  "type": "string",
                  "description": "The URL of the previous page.",
                  "title": "Prev Page URL"
                },
                "to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The to number.",
                  "title": "To"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number.",
                  "title": "Total"
                }
              }
            }
          }
        },
        "summary": "Get extras (BETA)",
        "description": "Get all your Extras purchases data.",
        "operationId": "ExtraGet",
        "parameters": []
      }
    },
    "/v1/extras/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "purchase_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifer of the purchase.",
                  "title": "Purchase ID"
                },
                "purchased_on": {
                  "type": "string",
                  "description": "When the extra was purchased on.",
                  "title": "Purchased On"
                },
                "purchase_updated_on": {
                  "type": "string",
                  "description": "When the extra was updated on.",
                  "title": "Purchase Updated On"
                },
                "purchase_is_revoked": {
                  "type": "integer",
                  "format": "int32",
                  "description": "If the purchase is revoked.",
                  "title": "Purchase Is Revoked"
                },
                "purchase_amount": {
                  "type": "string",
                  "description": "The purchase amount.",
                  "title": "Purchase Amount"
                },
                "purchase_currency": {
                  "type": "string",
                  "description": "The purchase currency.",
                  "title": "Purchase Currency"
                },
                "purchase_question": {
                  "type": "string",
                  "description": "The purchase question.",
                  "title": "Purchase Question"
                },
                "payer_email": {
                  "type": "string",
                  "description": "The payer's email address.",
                  "title": "Payer Email"
                },
                "payer_name": {
                  "type": "string",
                  "description": "The payer's name.",
                  "title": "Payer Name"
                },
                "extra": {
                  "type": "object",
                  "properties": {
                    "reward_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier of the reward.",
                      "title": "Reward ID"
                    },
                    "reward_title": {
                      "type": "string",
                      "description": "The reward title.",
                      "title": "Reward Title"
                    },
                    "reward_description": {
                      "type": "string",
                      "description": "The reward description.",
                      "title": "Reward Description"
                    },
                    "reward_confirmation_message": {
                      "type": "string",
                      "description": "The reward confirmation message.",
                      "title": "Reward Confirmation Message"
                    },
                    "reward_question": {
                      "type": "string",
                      "description": "The reward question.",
                      "title": "reward_question"
                    },
                    "reward_used": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of rewards used.",
                      "title": "reward_used"
                    },
                    "reward_created_on": {
                      "type": "string",
                      "description": "When the reward was created on.",
                      "title": "reward_created_on"
                    },
                    "reward_updated_on": {
                      "type": "string",
                      "description": "When the reward was updated on.",
                      "title": "reward_updated_on"
                    },
                    "reward_deleted_on": {
                      "type": "string",
                      "description": "When the reward was deleted on.",
                      "title": "reward_deleted_on"
                    },
                    "reward_is_active": {
                      "type": "integer",
                      "format": "int32",
                      "description": "If the reward is active.",
                      "title": "reward_is_active"
                    },
                    "reward_image": {
                      "type": "string",
                      "description": "The reward image.",
                      "title": "reward_image"
                    },
                    "reward_slots": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The reward slots.",
                      "title": "reward_slots"
                    },
                    "reward_coffee_price": {
                      "type": "string",
                      "description": "The reward coffee price.",
                      "title": "reward_coffee_price"
                    },
                    "reward_order": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The reward order number.",
                      "title": "reward_order"
                    }
                  },
                  "title": "Extra"
                }
              }
            }
          }
        },
        "summary": "Get extras by ID (BETA)",
        "description": "This endpoint provides data about all of your extra purchases by its unique ID. Please note ID is the same as the Purchase ID returned in the response.",
        "operationId": "ExtraGetA",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Identifier",
            "description": "The unique identifier.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.buymeacoffee.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.buymeacoffee.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media;Website"
    }
  ]
}