{
  "swagger": "2.0",
  "info": {
    "title": "SignatureAPI",
    "version": "1.2",
    "description": "Send documents for signing, track progress, and get work done faster with our electronic signature platform built for high volume and ease of integration. https://signatureapi.com/docs/integrations/power-automate/getting-started",
    "contact": {
      "name": "Signature API, Inc.",
      "url": "https://signatureapi.com",
      "email": "support@signatureapi.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://signatureapi.com/power-automate"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://signatureapi.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "host": "api.signatureapi.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKey": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-Key"
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/envelopes": {
      "post": {
        "operationId": "CreateEnvelope",
        "summary": "Create an envelope",
        "description": "Creates a new envelope to which you can add recipients and documents. When ready, use the 'Start an envelope' action to initiate the signing process. https://signatureapi.com/docs/integrations/power-automate/actions/create-envelope",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "draft": {
                  "type": "boolean",
                  "x-ms-summary": "Draft Envelope",
                  "description": "Set to true if the envelope is a draft.",
                  "default": true,
                  "x-ms-visibility": "internal"
                },
                "title": {
                  "type": "string",
                  "x-ms-summary": "Envelope Title",
                  "description": "The title of this envelope, which will be shown to the recipients.",
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "x-ms-summary": "Envelope Message",
                  "description": "A message that will be sent to the recipients.",
                  "x-ms-visibility": "important"
                },
                "sender": {
                  "type": "object",
                  "x-ms-summary": "Sender",
                  "properties": {
                    "name": {
                      "type": "string",
                      "x-ms-summary": "Name",
                      "description": "The name of the sender.",
                      "x-ms-visibility": "advanced"
                    },
                    "email": {
                      "type": "string",
                      "x-ms-summary": "Email",
                      "description": "The email address of the sender.",
                      "x-ms-visibility": "advanced"
                    }
                  }
                },
                "mode": {
                  "type": "string",
                  "enum": [
                    "live",
                    "test"
                  ],
                  "x-ms-summary": "Envelope Mode",
                  "description": "Test mode envelopes are non-binding and not billed.",
                  "x-ms-visibility": "advanced"
                },
                "timezone": {
                  "type": "string",
                  "x-ms-summary": "Time Zone",
                  "description": "The time zone to be used for timestamps in deliverables. If not specified, the account's default timezone offset is used. https://signatureapi.com/docs/localization/timezone",
                  "x-ms-visibility": "advanced"
                },
                "timestamp_format": {
                  "type": "string",
                  "x-ms-summary": "Timestamp Format",
                  "description": "The date and time format to be used in timestamps for deliverables. If not specified, the account's default timestamp format is used. https://signatureapi.com/docs/localization/timestamp_format",
                  "x-ms-visibility": "advanced"
                },
                "language": {
                  "type": "string",
                  "x-ms-summary": "Language",
                  "description": "The default language to be used in the signing ceremony and deliverables. If not specified, the account's default language is used. https://signatureapi.com/docs/localization/language",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "title",
                "draft"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The envelope was created successfully.",
            "schema": {
              "$ref": "#/definitions/CreatedEnvelope"
            }
          }
        }
      }
    },
    "/envelopes/{envelopeId}": {
      "get": {
        "operationId": "GetEnvelope",
        "summary": "Get an envelope",
        "description": "Retrieves the details of an envelope using its ID. https://signatureapi.com/docs/integrations/power-automate/actions/get-envelope",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envelopeId",
            "x-ms-summary": "Envelope ID",
            "description": "The ID of the envelope.",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The envelope was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          }
        }
      }
    },
    "/envelopes/{envelopeId}/start": {
      "post": {
        "operationId": "StartEnvelope",
        "summary": "Start an envelope",
        "description": "Initiates the signing process for an envelope. https://signatureapi.com/docs/integrations/power-automate/actions/start-envelope",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envelopeId",
            "x-ms-summary": "Envelope ID",
            "description": "The ID of the envelope.",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The envelope started successfully.",
            "schema": {
              "$ref": "#/definitions/StartedEnvelope"
            }
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/envelopes/{envelopeId}/documents": {
      "post": {
        "operationId": "AddDocument",
        "summary": "Add a document",
        "description": "Adds a document to an envelope. https://signatureapi.com/docs/integrations/power-automate/actions/add-document",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envelopeId",
            "x-ms-summary": "Envelope ID",
            "description": "The ID of the envelope.",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "x-ms-summary": "Document Title",
                  "description": "The title of the document, which will be shown to the recipients.",
                  "x-ms-visibility": "advanced"
                },
                "file_content": {
                  "type": "string",
                  "format": "byte",
                  "x-ms-summary": "File Content",
                  "description": "The content of the document file.",
                  "x-ms-visibility": "important"
                },
                "format": {
                  "type": "string",
                  "enum": [
                    "pdf",
                    "docx"
                  ],
                  "x-ms-summary": "File Format",
                  "description": "The format of the document file.",
                  "x-ms-visibility": "important",
                  "default": "pdf"
                }
              },
              "required": [
                "file_content"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Document Created",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        }
      }
    },
    "/envelopes/{envelopeId}/documents/": {
      "post": {
        "operationId": "AddTemplate",
        "summary": "Add a template",
        "description": "Adds a template to an envelope. https://signatureapi.com/docs/integrations/power-automate/actions/add-template",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envelopeId",
            "x-ms-summary": "Envelope ID",
            "description": "The ID of the envelope.",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "x-ms-summary": "Document Title",
                  "description": "The title of the document, which will be shown to the recipients.",
                  "x-ms-visibility": "advanced"
                },
                "file_content": {
                  "type": "string",
                  "format": "byte",
                  "x-ms-summary": "File Content",
                  "description": "The content of the template file.",
                  "x-ms-visibility": "important"
                },
                "format": {
                  "type": "string",
                  "enum": [
                    "docx"
                  ],
                  "x-ms-summary": "File Format",
                  "description": "The format of the template file.",
                  "x-ms-visibility": "important",
                  "default": "docx"
                }
              },
              "required": [
                "file_content"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Template Created",
            "schema": {
              "$ref": "#/definitions/Template"
            }
          }
        }
      }
    },
    "/integrations/power-platform/documents/{documentId}/add-data": {
      "post": {
        "operationId": "AddTemplateData",
        "summary": "Add data to template",
        "description": "Adds data to a template. https://signatureapi.com/docs/integrations/power-automate/actions/add-template-data",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "documentId",
            "x-ms-summary": "Template ID",
            "description": "The ID of the template.",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "field_name": {
                  "type": "string",
                  "x-ms-summary": "Field Name",
                  "description": "The name of the field in the template.",
                  "x-ms-visibility": "important"
                },
                "value": {
                  "type": "string",
                  "x-ms-summary": "Value",
                  "description": "The value for the field in the template.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "field_name",
                "value"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Data Added"
          }
        }
      }
    },
    "/envelopes/{envelopeId}/recipients": {
      "post": {
        "operationId": "AddRecipient",
        "summary": "Add a recipient",
        "description": "Adds a recipient to an envelope. https://signatureapi.com/docs/integrations/power-automate/actions/add-recipient",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envelopeId",
            "x-ms-summary": "Envelope ID",
            "description": "The ID of the envelope.",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "x-ms-summary": "Recipient Type",
                  "description": "The type of the recipient.",
                  "x-ms-visibility": "important",
                  "enum": [
                    "signer"
                  ],
                  "default": "signer"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Recipient Name",
                  "description": "The name of the recipient.",
                  "x-ms-visibility": "important",
                  "maxLength": 100
                },
                "email": {
                  "type": "string",
                  "x-ms-summary": "Recipient Email",
                  "description": "The email address of the recipient.",
                  "x-ms-visibility": "important",
                  "maxLength": 320
                },
                "key": {
                  "type": "string",
                  "x-ms-summary": "Recipient Key",
                  "description": "An identifier for this recipient, used in signing locations within documents.",
                  "x-ms-visibility": "important",
                  "maxLength": 32,
                  "pattern": "[a-z][a-z0-9_]+"
                }
              },
              "required": [
                "type",
                "name",
                "email"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Recipient Created",
            "schema": {
              "$ref": "#/definitions/Recipient"
            }
          }
        }
      }
    },
    "/integrations/power-platform/envelopes/{envelopeId}/wait": {
      "get": {
        "operationId": "WaitEnvelope",
        "summary": "Wait for envelope",
        "description": "Waits for an envelope to reach a completed state or another final status. https://signatureapi.com/docs/integrations/power-automate/actions/wait-envelope",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "envelopeId",
            "x-ms-summary": "Envelope ID",
            "description": "The ID of the envelope.",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "202": {
            "description": "Envelope in progress"
          },
          "200": {
            "description": "Envelope is completed",
            "schema": {
              "$ref": "#/definitions/Envelope"
            }
          },
          "400": {
            "description": "Envelope is not completed"
          }
        }
      }
    },
    "/deliverables/{deliverableId}": {
      "get": {
        "operationId": "GetDeliverable",
        "summary": "Get a deliverable",
        "description": "Retrieves a deliverable using its ID. Use it to download a signed copy of the envelope. https://signatureapi.com/docs/integrations/power-automate/actions/get-deliverable",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "deliverableId",
            "x-ms-summary": "Deliverable ID",
            "description": "The ID of the deliverable.",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Deliverable retrieved",
            "schema": {
              "$ref": "#/definitions/Deliverable"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "EnvelopeId": {
      "type": "string",
      "x-ms-summary": "Envelope ID",
      "description": "The ID of the envelope."
    },
    "EnvelopeTitle": {
      "type": "string",
      "x-ms-summary": "Envelope Title",
      "description": "The title of this envelope, which will be shown to the recipients."
    },
    "EnvelopeMessage": {
      "type": "string",
      "x-ms-summary": "Envelope Message",
      "description": "A message that will be sent to the recipients."
    },
    "EnvelopeSender": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Sender Name",
          "description": "The name of the sender.",
          "x-ms-visibility": "important"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Sender Email",
          "description": "The email address of the sender.",
          "x-ms-visibility": "important"
        }
      }
    },
    "EnvelopeStatus": {
      "type": "string",
      "x-ms-summary": "Envelope Status",
      "description": "The status of the envelope.",
      "x-ms-visibility": "important",
      "enum": [
        "draft",
        "processing",
        "in_progress",
        "completed",
        "failed",
        "canceled"
      ]
    },
    "EnvelopeMode": {
      "type": "string",
      "enum": [
        "live",
        "test"
      ],
      "x-ms-summary": "Envelope Mode",
      "description": "Test mode envelopes are non-binding and not billed."
    },
    "EnvelopeDeliverable": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Deliverable ID",
          "description": "The ID of the deliverable. Use this to download a signed copy of the envelope.",
          "x-ms-visibility": "important"
        }
      }
    },
    "EnvelopeCompletedAt": {
      "type": "string",
      "format": "date-time",
      "x-ms-summary": "Envelope Completed At",
      "description": "Time when all the recipients completed the envelope."
    },
    "CreatedEnvelope": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/EnvelopeId"
        },
        "title": {
          "$ref": "#/definitions/EnvelopeTitle"
        },
        "message": {
          "$ref": "#/definitions/EnvelopeMessage"
        },
        "sender": {
          "$ref": "#/definitions/EnvelopeSender"
        },
        "mode": {
          "$ref": "#/definitions/EnvelopeMode"
        }
      }
    },
    "StartedEnvelope": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/EnvelopeId"
        },
        "status": {
          "$ref": "#/definitions/EnvelopeStatus"
        }
      }
    },
    "Envelope": {
      "type": "object",
      "properties": {
        "id": {
          "$ref": "#/definitions/EnvelopeId"
        },
        "title": {
          "$ref": "#/definitions/EnvelopeTitle"
        },
        "message": {
          "$ref": "#/definitions/EnvelopeMessage"
        },
        "sender": {
          "$ref": "#/definitions/EnvelopeSender"
        },
        "status": {
          "$ref": "#/definitions/EnvelopeStatus"
        },
        "deliverable": {
          "$ref": "#/definitions/EnvelopeDeliverable"
        },
        "completed_at": {
          "$ref": "#/definitions/EnvelopeCompletedAt"
        },
        "mode": {
          "$ref": "#/definitions/EnvelopeMode"
        }
      }
    },
    "Document": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Document Id",
          "description": "The ID of the document."
        }
      }
    },
    "Template": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Template Id",
          "description": "The ID of the template."
        }
      }
    },
    "Recipient": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Recipient Id",
          "description": "The ID of the recipient."
        },
        "key": {
          "type": "string",
          "x-ms-summary": "Recipient Key",
          "description": "An identifier for this recipient, used in signing locations within documents."
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Recipient Email",
          "description": "The email address of the recipient."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Recipient Name",
          "description": "The name of the recipient."
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Recipient Status",
          "description": "The status of the recipient.",
          "enum": [
            "pending",
            "sent",
            "completed",
            "rejected",
            "soft_bounced",
            "hard_bounced",
            "failed",
            "replaced"
          ]
        },
        "completed_at": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Recipient Completed At",
          "description": "Time when the recipient completed the envelope."
        }
      }
    },
    "Deliverable": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Deliverable Id",
          "description": "The ID of the deliverable."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Deliverable Type",
          "description": "The type of the deliverable.",
          "enum": [
            "audit_log"
          ]
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Deliverable Status",
          "description": "The status of the deliverable.",
          "enum": [
            "processing",
            "generated",
            "failed"
          ]
        },
        "file_content": {
          "type": "string",
          "format": "byte",
          "x-ms-summary": "File Content",
          "description": "The file content of the deliverable. Use it to save a signed copy of the envelope."
        }
      }
    }
  }
}
