{
  "swagger": "2.0",
  "info": {
    "title": "TheGoodAPI",
    "description": "TheGoodAPI allows you to plant trees after any event in your app (subscription, product purchase, or any other customer milestone). Showcase your investment in our planet to your customers and drive more conversions. We plant trees on your behalf and invoice you once a month.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "app.thegoodapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/plant/trees": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total_planted_trees": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total of planted trees.",
                  "title": "Total Planted Trees"
                },
                "tree_details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The tree count.",
                        "title": "Count"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Tree Details"
                }
              }
            }
          }
        },
        "summary": "Get trees planted",
        "description": "Returns the total number of trees planted.",
        "operationId": "TreesGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total_planted_trees": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total of planted trees.",
                  "title": "Total Planted Trees"
                },
                "tree_details": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The tree count.",
                        "title": "Count"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Tree Details"
                }
              }
            }
          }
        },
        "summary": "Plant trees",
        "description": "Send the number of trees you'd like planted.",
        "operationId": "PlantPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The tree count.",
                  "title": "Count"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.thegoodapi.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.thegoodapi.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}