{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Line Message API",
    "description": "The connector allows you to send messages to registered LINE bot and associated users."
  },
  "host": "api.line.me",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/bot/message/push": {
      "post": {
        "summary": "Send Message To User",
        "description": "Send a message to the associated user ID.",
        "operationId": "SendMessage",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "user id"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "LINE message types",
                        "default": "text",
                        "title": "",
                        "x-ms-visibility": "advanced",
                        "enum": [
                          "text",
                          "sticker",
                          "image",
                          "location"
                        ]
                      },
                      "text": {
                        "type": "string",
                        "description": "Use for Text type ( MAX 5000 )"
                      },
                      "packageId": {
                        "type": "string",
                        "description": "Use for Sticker type. Ex:446"
                      },
                      "stickerId": {
                        "type": "string",
                        "description": "Use for Sticker type. Ex:1988"
                      },
                      "originalContentUrl": {
                        "type": "string",
                        "description": "Use for image type."
                      },
                      "previewImageUrl": {
                        "type": "string",
                        "description": "Use for image type."
                      },
                      "title": {
                        "type": "string",
                        "description": "Use for location type. Ex:My location"
                      },
                      "address": {
                        "type": "string",
                        "description": "Use for location type. Ex:My location"
                      },
                      "latitude": {
                        "type": "string",
                        "description": "Use for location type. Ex:35.687574,"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "Use for location type. Ex:139.72922,"
                      }
                    }
                  },
                  "description": "messages"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Line Message Channel Access Token": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "Line Message Channel Access Token": []
    }
  ],
  "tags": []
}