{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Message",
    "description": "Connect to LINE API"
  },
  "host": "api.line.me",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/bot/message/push": {
      "post": {
        "summary": "Send Message To LineId",
        "description": "Send Message To User LineId",
        "operationId": "SendMessage",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "to",
                  "title": ""
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "type",
                        "title": "",
                        "default": "text"
                      },
                      "text": {
                        "type": "string",
                        "description": "text"
                      }
                    }
                  },
                  "description": "messages"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Line Message - Channel access token": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "Line Message Channel Access Token": []
    }
  ],
  "tags": []
}