{
  "swagger": "2.0",
  "info": {
    "title": "Rebrickable",
    "description": "Rebrickable will help you find which LEGO sets you can build from the sets and parts you already own. Every MOC on Rebrickable has a list of parts and building instructions, so you can be sure that anything you find here is buildable! You may not have every part required, but the beauty of LEGO is that you are encouraged to improvise!",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "rebrickable.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v3/lego/colors/": {
      "get": {
        "operationId": "Lego_colors_list",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page of responses.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page of responses.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "rgb": {
                        "type": "string",
                        "description": "The RGB color value.",
                        "title": "RGB"
                      },
                      "is_trans": {
                        "type": "boolean",
                        "description": "Whether is transparent.",
                        "title": "Is Trans"
                      },
                      "external_ids": {
                        "type": "object",
                        "properties": {
                          "BrickOwl": {
                            "type": "object",
                            "properties": {
                              "ext_ids": {
                                "type": "array",
                                "items": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "description": "The external identifiers.",
                                "title": "External IDs"
                              },
                              "ext_descrs": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "description": "The external descriptions.",
                                "title": "External Descriptions"
                              }
                            },
                            "title": "BrickOwl"
                          },
                          "LEGO": {
                            "type": "object",
                            "properties": {
                              "ext_ids": {
                                "type": "array",
                                "items": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "description": "The external identifiers.",
                                "title": "External IDs"
                              },
                              "ext_descrs": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "description": "The external descriptions.",
                                "title": "External Descriptions"
                              }
                            },
                            "title": "LEGO"
                          },
                          "Peeron": {
                            "type": "object",
                            "properties": {
                              "ext_ids": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {}
                                },
                                "description": "The external identifiers.",
                                "title": "External IDs"
                              },
                              "ext_descrs": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "description": "The external descriptions.",
                                "title": "External Descriptions"
                              }
                            },
                            "title": "Peeron"
                          },
                          "LDraw": {
                            "type": "object",
                            "properties": {
                              "ext_ids": {
                                "type": "array",
                                "items": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "description": "The external identifiers.",
                                "title": "External IDs"
                              },
                              "ext_descrs": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "description": "The external descriptions.",
                                "title": "External Descriptions"
                              }
                            },
                            "title": "LDraw"
                          },
                          "BrickLink": {
                            "type": "object",
                            "properties": {
                              "ext_ids": {
                                "type": "array",
                                "items": {
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "description": "The external identifiers.",
                                "title": "External IDs"
                              },
                              "ext_descrs": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "description": "The external descriptions.",
                                "title": "External Descriptions"
                              }
                            },
                            "title": "BrickLink"
                          }
                        },
                        "title": "External IDs"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "Number of results to return per page.",
            "type": "integer"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of all colors.",
        "summary": "Get colors",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/colors/{id}/": {
      "get": {
        "operationId": "Lego_colors_read",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "rgb": {
                  "type": "string",
                  "description": "The RGB color value.",
                  "title": "RGB"
                },
                "is_trans": {
                  "type": "boolean",
                  "description": "Whether is transparent.",
                  "title": "Is Trans"
                },
                "external_ids": {
                  "type": "object",
                  "properties": {
                    "BrickOwl": {
                      "type": "object",
                      "properties": {
                        "ext_ids": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "description": "The external identifiers.",
                          "title": "External IDs"
                        },
                        "ext_descrs": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": "The external descriptions.",
                          "title": "External Descriptions"
                        }
                      },
                      "title": "BrickOwl"
                    },
                    "LEGO": {
                      "type": "object",
                      "properties": {
                        "ext_ids": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "description": "The external identifiers.",
                          "title": "External IDs"
                        },
                        "ext_descrs": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": "The external descriptions.",
                          "title": "External Descriptions"
                        }
                      },
                      "title": "LEGO"
                    },
                    "Peeron": {
                      "type": "object",
                      "properties": {
                        "ext_ids": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {}
                          },
                          "description": "The external identifiers.",
                          "title": "External IDs"
                        },
                        "ext_descrs": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": "The external descriptions.",
                          "title": "External Descriptions"
                        }
                      },
                      "title": "Peeron"
                    },
                    "LDraw": {
                      "type": "object",
                      "properties": {
                        "ext_ids": {
                          "type": "array",
                          "items": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "description": "The external identifiers.",
                          "title": "External IDs"
                        },
                        "ext_descrs": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": "The external descriptions.",
                          "title": "External Descriptions"
                        }
                      },
                      "title": "LDraw"
                    }
                  },
                  "title": "External IDs"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique value identifying this color.",
            "type": "string"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific color.",
        "summary": "Get color details",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/elements/{element_id}/": {
      "get": {
        "operationId": "Lego_elements_read",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "part": {
                  "type": "object",
                  "properties": {
                    "part_num": {
                      "type": "string",
                      "description": "The part number.",
                      "title": "Part Number"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "part_cat_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The part catalog identifier.",
                      "title": "Part Catalog ID"
                    },
                    "year_from": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The year from.",
                      "title": "Year From"
                    },
                    "year_to": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The year to.",
                      "title": "Year To"
                    },
                    "part_url": {
                      "type": "string",
                      "description": "The part URL address.",
                      "title": "Part URL"
                    },
                    "part_img_url": {
                      "type": "string",
                      "description": "The part image URL address.",
                      "title": "Part Image URL"
                    },
                    "prints": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The print.",
                      "title": "Prints"
                    },
                    "molds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The molds.",
                      "title": "Molds"
                    },
                    "alternates": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The alternates.",
                      "title": "Alternates"
                    },
                    "external_ids": {
                      "type": "object",
                      "properties": {
                        "BrickLink": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The BrickLink identifier.",
                          "title": "BrickLink"
                        },
                        "BrickOwl": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The BrickOwl identifier.",
                          "title": "BrickOwl"
                        },
                        "Brickset": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The Brickset identifier.",
                          "title": "Brickset"
                        },
                        "LDraw": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The LDraw identifier.",
                          "title": "LDraw"
                        },
                        "LEGO": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The LEGO identifier.",
                          "title": "LEGO"
                        }
                      },
                      "title": "External IDs"
                    },
                    "print_of": {
                      "type": "string",
                      "description": "The print of.",
                      "title": "Print Of"
                    }
                  },
                  "title": "Part"
                },
                "color": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "rgb": {
                      "type": "string",
                      "description": "The RGB color value.",
                      "title": "RGB"
                    },
                    "is_trans": {
                      "type": "boolean",
                      "description": "Whether is transparent.",
                      "title": "Is Trans"
                    },
                    "external_ids": {
                      "type": "object",
                      "properties": {
                        "BrickLink": {
                          "type": "object",
                          "properties": {
                            "ext_ids": {
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "description": "The external identifiers.",
                              "title": "External IDs"
                            },
                            "ext_descrs": {
                              "type": "array",
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "description": "The external descriptions.",
                              "title": "External Descriptions"
                            }
                          },
                          "description": "The BrickLink identifier.",
                          "title": "BrickLink"
                        },
                        "BrickOwl": {
                          "type": "object",
                          "properties": {
                            "ext_ids": {
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "description": "The external identifiers.",
                              "title": "External IDs"
                            },
                            "ext_descrs": {
                              "type": "array",
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "description": "The external descriptions.",
                              "title": "External Descriptions"
                            }
                          },
                          "title": "BrickOwl"
                        },
                        "LEGO": {
                          "type": "object",
                          "properties": {
                            "ext_ids": {
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "description": "The external identifiers.",
                              "title": "External IDs"
                            },
                            "ext_descrs": {
                              "type": "array",
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "description": "The external descriptions.",
                              "title": "External Descriptions"
                            }
                          },  
                          "title": "LEGO"
                        },
                        "Peeron": {
                          "type": "object",
                          "properties": {
                            "ext_ids": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "The external identifiers.",
                              "title": "External IDs"
                            },
                            "ext_descrs": {
                              "type": "array",
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "description": "The external descriptions.",
                              "title": "External Descriptions"
                            }
                          },
                          "title": "Peeron"
                        },
                        "LDraw": {
                          "type": "object",
                          "properties": {
                            "ext_ids": {
                              "type": "array",
                              "items": {
                                "type": "integer",
                                "format": "int32"
                              },
                              "description": "The external identifiers.",
                              "title": "External IDs"
                            },
                            "ext_descrs": {
                              "type": "array",
                              "items": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "description": "The external descriptions.",
                              "title": "External Descriptions"
                            }
                          },
                          "title": "LDraw"
                        }
                      },
                      "title": "External IDs"
                    }
                  },
                  "title": "Color"
                },
                "element_id": {
                  "type": "string",
                  "description": "The element identifier.",
                  "title": "Element ID"
                },
                "design_id": {
                  "type": "string",
                  "description": "The design identifier.",
                  "title": "Design ID"
                },
                "element_img_url": {
                  "type": "string",
                  "description": "The element image URL address.",
                  "title": "Element Image URL"
                },
                "part_img_url": {
                  "type": "string",
                  "description": "The part image URL address.",
                  "title": "Part Image URL"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "element_id",
            "required": true,
            "in": "path",
            "x-ms-summary": "Element ID",
            "x-ms-url-encoding": "single",
            "description": "The element identifier.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific element ID.",
        "summary": "Get element",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/minifigs/": {
      "get": {
        "operationId": "Lego_minifigs_list",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page of responses.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page of responses.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "set_num": {
                        "type": "string",
                        "description": "The set number.",
                        "title": "Set Number"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "num_parts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of parts.",
                        "title": "Number Parts"
                      },
                      "set_img_url": {
                        "type": "string",
                        "description": "The set image URL address.",
                        "title": "Set Image URL"
                      },
                      "set_url": {
                        "type": "string",
                        "description": "The set URL address.",
                        "title": "Set URL"
                      },
                      "last_modified_dt": {
                        "type": "string",
                        "description": "The last modified date.",
                        "title": "Last Modified Date"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "Number of results to return per page.",
            "type": "integer"
          },
          {
            "name": "min_parts",
            "required": false,
            "in": "query",
            "x-ms-summary": "Minimum Parts",
            "description": "The minimum number of parts.",
            "type": "number"
          },
          {
            "name": "max_parts",
            "required": false,
            "in": "query",
            "x-ms-summary": "Maximum Parts",
            "description": "The maximum number of parts.",
            "type": "number"
          },
          {
            "name": "in_set_num",
            "required": false,
            "in": "query",
            "x-ms-summary": "In Set Number",
            "description": "The in set number.",
            "type": "string"
          },
          {
            "name": "in_theme_id",
            "required": false,
            "in": "query",
            "x-ms-summary": "In Theme ID",
            "description": "The in theme identifier.",
            "type": "string"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "type": "string"
          }
        ],
        "description": "Get a list of minifigs.",
        "summary": "Get minifigs",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/minifigs/{set_num}/": {
      "get": {
        "operationId": "Lego_minifigs_read",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "set_num": {
                  "type": "string",
                  "description": "The set number.",
                  "title": "Set Number"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "num_parts": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of parts.",
                  "title": "Number Parts"
                },
                "set_img_url": {
                  "type": "string",
                  "description": "The set image URL address.",
                  "title": "Set Image URL"
                },
                "set_url": {
                  "type": "string",
                  "description": "The set URL address.",
                  "title": "Set URL"
                },
                "last_modified_dt": {
                  "type": "string",
                  "description": "The last modified date.",
                  "title": "Last Modified Date"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "x-ms-summary": "Set Number",
            "x-ms-url-encoding": "single",
            "description": "The set number.",
            "type": "string"
          }
        ],
        "description": "Get details for a specific minifig.",
        "summary": "Get minifig",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/minifigs/{set_num}/parts/": {
      "get": {
        "operationId": "Lego_minifigs_parts_list",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page of responses.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page of responses.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "inv_part_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The inventory part identifier.",
                        "title": "Inventory Part ID"
                      },
                      "part": {
                        "type": "object",
                        "properties": {
                          "part_num": {
                            "type": "string",
                            "description": "The part number.",
                            "title": "Part Number"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "part_cat_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The part catalog identifier.",
                            "title": "Part Catalog ID"
                          },
                          "part_url": {
                            "type": "string",
                            "description": "The part URL address.",
                            "title": "Part URL"
                          },
                          "part_img_url": {
                            "type": "string",
                            "description": "The part image URL address.",
                            "title": "Part Image URL"
                          },
                          "external_ids": {
                            "type": "object",
                            "properties": {
                              "BrickLink": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The BrickLink identifier.",
                                "title": "BrickLink"
                              },
                              "BrickOwl": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The BrickOwl identifier.",
                                "title": "BrickOwl"
                              },
                              "Brickset": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The Brickset identifier.",
                                "title": "Brickset"
                              },
                              "LDraw": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The LDRAW identifier.",
                                "title": "LDraw"
                              },
                              "LEGO": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The LEGO identifier.",
                                "title": "LEGO"
                              },
                              "Peeron": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The Peeron identifier.",
                                "title": "Peeron"
                              }
                            },
                            "title": "External IDs"
                          },
                          "print_of": {
                            "type": "string",
                            "description": "The print of.",
                            "title": "Print Of"
                          }
                        },
                        "title": "Part"
                      },
                      "color": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "rgb": {
                            "type": "string",
                            "description": "The RGB color value.",
                            "title": "RGB"
                          },
                          "is_trans": {
                            "type": "boolean",
                            "description": "Whether is transparent.",
                            "title": "Is Trans"
                          },
                          "external_ids": {
                            "type": "object",
                            "properties": {
                              "BrickLink": {
                                "type": "object",
                                "properties": {
                                  "ext_ids": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The external identifiers.",
                                    "title": "External IDs"
                                  },
                                  "ext_descrs": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "description": "The external descriptions.",
                                    "title": "External Descriptions"
                                  }
                                },
                                "title": "BrickLink"
                              },
                              "BrickOwl": {
                                "type": "object",
                                "properties": {
                                  "ext_ids": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The external identifiers.",
                                    "title": "External IDs"
                                  },
                                  "ext_descrs": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "description": "The external descriptions.",
                                    "title": "External Descriptions"
                                  }
                                },
                                "title": "BrickOwl"
                              },
                              "LEGO": {
                                "type": "object",
                                "properties": {
                                  "ext_ids": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The external identifiers.",
                                    "title": "External IDs"
                                  },
                                  "ext_descrs": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "description": "The external descriptions.",
                                    "title": "External Descriptions"
                                  }
                                },
                                "title": "LEGO"
                              },
                              "Peeron": {
                                "type": "object",
                                "properties": {
                                  "ext_ids": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "description": "The external identifiers.",
                                    "title": "External IDs"
                                  },
                                  "ext_descrs": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "description": "The external descriptions.",
                                    "title": "External Descriptions"
                                  }
                                },
                                "title": "Peeron"
                              },
                              "LDraw": {
                                "type": "object",
                                "properties": {
                                  "ext_ids": {
                                    "type": "array",
                                    "items": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "description": "The external identifiers.",
                                    "title": "External IDs"
                                  },
                                  "ext_descrs": {
                                    "type": "array",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "description": "The external descriptions.",
                                    "title": "External Descriptions"
                                  }
                                },
                                "title": "LDraw"
                              }
                            },
                            "title": "External IDs"
                          }
                        },
                        "title": "Color"
                      },
                      "set_num": {
                        "type": "string",
                        "description": "The set number.",
                        "title": "Set Number"
                      },
                      "quantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The quantity.",
                        "title": "Quantity"
                      },
                      "is_spare": {
                        "type": "boolean",
                        "description": "Whether is spare.",
                        "title": "Is Spare"
                      },
                      "element_id": {
                        "type": "string",
                        "description": "The element identifier.",
                        "title": "Element ID"
                      },
                      "num_sets": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of sets.",
                        "title": "Number Sets"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "x-ms-summary": "Set Number",
            "x-ms-url-encoding": "single",
            "description": "The set number.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "Number of results to return per page.",
            "type": "integer"
          }
        ],
        "description": "Get a list of all inventory parts in this minifig. Optional parameter inc_part_details=1 can be used to return additional part fields, the same as for a single part lookup.",
        "summary": "Get minifig parts",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/minifigs/{set_num}/sets/": {
      "get": {
        "operationId": "Lego_minifigs_sets_list",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page of responses.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page of responses.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "set_num": {
                        "type": "string",
                        "description": "The set number.",
                        "title": "Set Number"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "num_parts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of parts.",
                        "title": "Number Parts"
                      },
                      "set_img_url": {
                        "type": "string",
                        "description": "The set image URL address.",
                        "title": "Set Image URL"
                      },
                      "set_url": {
                        "type": "string",
                        "description": "The set URL address.",
                        "title": "Set URL"
                      },
                      "last_modified_dt": {
                        "type": "string",
                        "description": "The last modified date.",
                        "title": "Last Modified Date"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "x-ms-summary": "Set Number",
            "x-ms-url-encoding": "single",
            "description": "The set number.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "Number of results to return per page.",
            "type": "integer"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of sets a minifig has appeared in.",
        "summary": "Get sets minifig are in",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/part_categories/": {
      "get": {
        "operationId": "Lego_part_categories_list",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page of responses.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page of responses.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "part_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The part count.",
                        "title": "Part Count"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "Number of results to return per page.",
            "type": "integer"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of all part categories.",
        "summary": "Get part categories",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/part_categories/{id}/": {
      "get": {
        "operationId": "Lego_part_categories_read",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "part_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The part count.",
                  "title": "Part Count"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "A unique integer value identifying this part category.",
            "type": "integer"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific part category.",
        "summary": "Get part category details",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/parts/": {
      "get": {
        "operationId": "Lego_parts_list",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page of responses.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page of responses.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "part_num": {
                        "type": "string",
                        "description": "The part number.",
                        "title": "Part Number"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "part_cat_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The part catalog identifier.",
                        "title": "Part Catalog ID"
                      },
                      "part_url": {
                        "type": "string",
                        "description": "The part URL address.",
                        "title": "Part URL"
                      },
                      "part_img_url": {
                        "type": "string",
                        "description": "The part image URL address.",
                        "title": "Part Image URL"
                      },
                      "external_ids": {
                        "type": "object",
                        "properties": {
                          "BrickLink": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The BrickLink identifier.",
                            "title": "BrickLink"
                          },
                          "BrickOwl": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The BrickOwl identifier.",
                            "title": "BrickOwl"
                          },
                          "Brickset": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The Brickset identifier.",
                            "title": "Brickset"
                          },
                          "LDraw": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The LDraw identifier.",
                            "title": "LDraw"
                          },
                          "LEGO": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The LEGO identifier.",
                            "title": "LEGO"
                          }
                        },
                        "title": "External IDs"
                      },
                      "print_of": {
                        "type": "string",
                        "description": "The print of.",
                        "title": "Print Of"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "Number of results to return per page.",
            "type": "integer"
          },
          {
            "name": "part_num",
            "required": false,
            "in": "query",
            "x-ms-summary": "Part Number",
            "description": "The part number.",
            "type": "string"
          },
          {
            "name": "part_nums",
            "required": false,
            "in": "query",
            "x-ms-summary": "Part Numbers",
            "description": "The part numbers.",
            "type": "string"
          },
          {
            "name": "part_cat_id",
            "required": false,
            "in": "query",
            "x-ms-summary": "Part Catalog ID",
            "description": "The part catalog identifier.",
            "type": "string"
          },
          {
            "name": "color_id",
            "required": false,
            "in": "query",
            "x-ms-summary": "Color ID",
            "description": "The color identifier.",
            "type": "string"
          },
          {
            "name": "bricklink_id",
            "required": false,
            "in": "query",
            "x-ms-summary": "BrickLink ID",
            "description": "The BrickLink identifier.",
            "type": "string"
          },
          {
            "name": "brickowl_id",
            "required": false,
            "in": "query",
            "x-ms-summary": "BrickOwl ID",
            "description": "The BrickOwl identifier.",
            "type": "string"
          },
          {
            "name": "lego_id",
            "required": false,
            "in": "query",
            "x-ms-summary": "LEGO ID",
            "description": "The LEGO identifier.",
            "type": "string"
          },
          {
            "name": "ldraw_id",
            "required": false,
            "in": "query",
            "x-ms-summary": "LDraw ID",
            "description": "The LDraw identifier.",
            "type": "string"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "type": "string"
          }
        ],
        "description": "Get a list of Parts. Optional parameter inc_part_details=1 can be used to return additional fields, the same as for a single part lookup.The optional part_nums filter parameter should be a comma separated list of part_num without spaces.Optionally filter by one or more of the below query parameters.",
        "summary": "Get parts",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/parts/{part_num}/": {
      "get": {
        "operationId": "Lego_parts_read",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "part_num": {
                  "type": "string",
                  "description": "The part number.",
                  "title": "Part Number"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "part_cat_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The part catalog identifier.",
                  "title": "Part Catalog ID"
                },
                "year_from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The year from.",
                  "title": "Year From"
                },
                "year_to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The year to.",
                  "title": "Year To"
                },
                "part_url": {
                  "type": "string",
                  "description": "The part URL address.",
                  "title": "Part URL"
                },
                "part_img_url": {
                  "type": "string",
                  "description": "The part image URL address.",
                  "title": "Part Image URL"
                },
                "prints": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The prints.",
                  "title": "Prints"
                },
                "molds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The molds.",
                  "title": "Molds"
                },
                "alternates": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The alternates.",
                  "title": "Alternates"
                },
                "external_ids": {
                  "type": "object",
                  "properties": {
                    "BrickLink": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The BrickLink identifier.",
                      "title": "BrickLink"
                    },
                    "BrickOwl": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The BrickOwl identifier.",
                      "title": "BrickOwl"
                    },
                    "Brickset": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The BrickSet identifier.",
                      "title": "Brickset"
                    },
                    "LEGO": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The LEGO identifier.",
                      "title": "LEGO"
                    }
                  },
                  "title": "External IDs"
                },
                "print_of": {
                  "type": "string",
                  "description": "The print of.",
                  "title": "Print Of"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "part_num",
            "required": true,
            "in": "path",
            "x-ms-summary": "Part Number",
            "x-ms-url-encoding": "single",
            "description": "The part number.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific part.",
        "summary": "Get part details",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/parts/{part_num}/colors/": {
      "get": {
        "operationId": "Lego_parts_colors_list",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page of responses.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page of responses.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "color_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The color identifier.",
                        "title": "Color ID"
                      },
                      "color_name": {
                        "type": "string",
                        "description": "The color name.",
                        "title": "Color Name"
                      },
                      "num_sets": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of sets.",
                        "title": "Number Sets"
                      },
                      "num_set_parts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of set parts.",
                        "title": "Number Set Parts"
                      },
                      "part_img_url": {
                        "type": "string",
                        "description": "The part image URL address.",
                        "title": "Part Image URL"
                      },
                      "elements": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The elements.",
                        "title": "Elements"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "part_num",
            "required": true,
            "in": "path",
            "x-ms-summary": "Part Number",
            "x-ms-url-encoding": "single",
            "description": "The part number.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "Number of results to return per page.",
            "type": "integer"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of all colors a part has appeared in.",
        "summary": "Get part colors",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/parts/{part_num}/colors/{color_id}/": {
      "get": {
        "operationId": "Lego_parts_colors_read",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "part_img_url": {
                  "type": "string",
                  "description": "The part image URL address.",
                  "title": "Part Image URL"
                },
                "year_from": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The year from.",
                  "title": "Year From"
                },
                "year_to": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The year to.",
                  "title": "Year To"
                },
                "num_sets": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of sets.",
                  "title": "Number Sets"
                },
                "num_set_parts": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of set parts.",
                  "title": "Number Set Parts"
                },
                "elements": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The elements.",
                  "title": "Elements"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "color_id",
            "required": true,
            "in": "path",
            "x-ms-summary": "Color ID",
            "x-ms-url-encoding": "single",
            "description": "The color identifier.",
            "type": "string"
          },
          {
            "name": "part_num",
            "required": true,
            "in": "path",
            "x-ms-summary": "Part Number",
            "x-ms-url-encoding": "single",
            "description": "The part number.",
            "type": "string"
          }
        ],
        "description": "Get details about a specific part or color combination.",
        "summary": "Get part or color combination details",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/parts/{part_num}/colors/{color_id}/sets/": {
      "get": {
        "operationId": "Lego_parts_colors_sets_list",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page of responses.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page of responses.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "set_num": {
                        "type": "string",
                        "description": "The set number.",
                        "title": "Set Number"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "year": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The year.",
                        "title": "Year"
                      },
                      "theme_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The theme identifier.",
                        "title": "Theme ID"
                      },
                      "num_parts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of parts.",
                        "title": "Number Parts"
                      },
                      "set_img_url": {
                        "type": "string",
                        "description": "The set image URL address.",
                        "title": "Set Image URL"
                      },
                      "set_url": {
                        "type": "string",
                        "description": "The set URL address.",
                        "title": "Set URL"
                      },
                      "last_modified_dt": {
                        "type": "string",
                        "description": "The last modified date.",
                        "title": "Last Modified Date"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "color_id",
            "required": true,
            "in": "path",
            "x-ms-summary": "Color ID",
            "x-ms-url-encoding": "single",
            "description": "The color identifier.",
            "type": "string"
          },
          {
            "name": "part_num",
            "required": true,
            "in": "path",
            "x-ms-summary": "Part Number",
            "x-ms-url-encoding": "single",
            "description": "The part number.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "Number of results to return per page.",
            "type": "integer"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of all sets the part or color combination has appeared in.",
        "summary": "Get part or color combination sets",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/sets/": {
      "get": {
        "operationId": "Lego_sets_list",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page of responses.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page of responses.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "set_num": {
                        "type": "string",
                        "description": "The set number.",
                        "title": "Set Number"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "year": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The year.",
                        "title": "Year"
                      },
                      "theme_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The theme identifier.",
                        "title": "Theme ID"
                      },
                      "num_parts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of parts.",
                        "title": "Number Parts"
                      },
                      "set_img_url": {
                        "type": "string",
                        "description": "The set image URL address.",
                        "title": "Set Image URL"
                      },
                      "set_url": {
                        "type": "string",
                        "description": "The set URL address.",
                        "title": "Set URL"
                      },
                      "last_modified_dt": {
                        "type": "string",
                        "description": "The last modified date.",
                        "title": "Last Modified Date"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "Number of results to return per page.",
            "type": "integer"
          },
          {
            "name": "theme_id",
            "required": false,
            "in": "query",
            "x-ms-summary": "Theme ID",
            "description": "The theme identifier.",
            "type": "string"
          },
          {
            "name": "min_year",
            "required": false,
            "in": "query",
            "x-ms-summary": "Minimum Year",
            "description": "The minimum year.",
            "type": "number"
          },
          {
            "name": "max_year",
            "required": false,
            "in": "query",
            "x-ms-summary": "Maximum Year",
            "description": "The maximum year.",
            "type": "number"
          },
          {
            "name": "min_parts",
            "required": false,
            "in": "query",
            "x-ms-summary": "Minimum Parts",
            "description": "The minimum number of parts.",
            "type": "number"
          },
          {
            "name": "max_parts",
            "required": false,
            "in": "query",
            "x-ms-summary": "Maximum Parts",
            "description": "The maximum number of parts.",
            "type": "number"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "x-ms-summary": "Search",
            "description": "A search term.",
            "type": "string"
          }
        ],
        "description": "Get a list of sets, optionally filtered by any of the below parameters.",
        "summary": "Get sets",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/sets/{set_num}/": {
      "get": {
        "operationId": "Lego_sets_read",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "set_num": {
                  "type": "string",
                  "description": "The set number.",
                  "title": "Set Number"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "year": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The year.",
                  "title": "Year"
                },
                "theme_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The theme identifier.",
                  "title": "Theme ID"
                },
                "num_parts": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of parts.",
                  "title": "Number Parts"
                },
                "set_img_url": {
                  "type": "string",
                  "description": "The set image URL address.",
                  "title": "Set Image URL"
                },
                "set_url": {
                  "type": "string",
                  "description": "The set URL address.",
                  "title": "Set URL"
                },
                "last_modified_dt": {
                  "type": "string",
                  "description": "The last modified date.",
                  "title": "Last Modified Date"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "x-ms-summary": "Set Number",
            "x-ms-url-encoding": "single",
            "description": "The set number.",
            "type": "string"
          }
        ],
        "description": "Get details for a specific set.",
        "summary": "Get set details",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/sets/{set_num}/alternates/": {
      "get": {
        "operationId": "Lego_sets_alternates_list",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page of responses.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page of responses.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "set_num": {
                        "type": "string",
                        "description": "The set number.",
                        "title": "Set Number"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "year": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The year.",
                        "title": "Year"
                      },
                      "theme_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The theme identifier.",
                        "title": "Theme ID"
                      },
                      "num_parts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of parts.",
                        "title": "Number Parts"
                      },
                      "moc_img_url": {
                        "type": "string",
                        "description": "The MOC image URL address.",
                        "title": "MOC Image URL"
                      },
                      "moc_url": {
                        "type": "string",
                        "description": "The MOC URL address.",
                        "title": "MOC URL"
                      },
                      "designer_name": {
                        "type": "string",
                        "description": "The designer name.",
                        "title": "Designer Name"
                      },
                      "designer_url": {
                        "type": "string",
                        "description": "The designer URL address.",
                        "title": "Designer URL"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "set_num",
            "required": true,
            "in": "path",
            "x-ms-summary": "Set Number",
            "x-ms-url-encoding": "single",
            "description": "The set number.",
            "type": "string"
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page",
            "description": "A page number within the paginated result set.",
            "type": "integer"
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "Number of results to return per page.",
            "type": "integer"
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "x-ms-summary": "Ordering",
            "description": "Which field to use when ordering the results.",
            "type": "string"
          }
        ],
        "description": "Get a list of MOCs which are alternate builds of a specific set - i.e. all parts in the MOC can be found in the set.",
        "summary": "Get MOCs",
        "tags": [
          "lego"
        ]
      }
    },
    "/api/v3/lego/sets/{set_num}/minifigs/": {
      "get": {
        "operationId": "Lego_sets_minifigs_list",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response count.",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "The next page of responses.",
                  "title": "Next"
                },
                "previous": {
                  "type": "string",
                  "description": "The previous page of responses.",
                  "title": "Previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "set_num": {
                        "type": "string",
                        "description": "The set number.",
                        "title": "Set Number"
                      },
                      "set_name": {
                        "type": "string",
                        "description": "The set name.",
                        "title": "Set Name"
                      },
                      "quantity": {
                        "type": "integer",
                        "format": "int32",
[...]
