{
  "swagger": "2.0",
  "info": {
    "title": "Calendar Pro",
    "description": "Stress free with Calendar Pro for Microsoft Teams. Inside a channel, you can very easily organize teams, manage availability, schedule work and share events. This connector will allow you to manage existing events or create new ones.",
    "termsOfService": "https://www.teams-pro.com/en/terms-of-use",
    "version": "v1",
    "contact": {
      "name": "TeamsPro Support",
      "url": "https://www.teams-pro.com/en/contact-us/",
      "email": "teams-pro-help@witivio.com"
    }
  },
  "host": "graph.teams-pro.com",
  "basePath": "/calendar/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{calendarId}/events/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get an event",
        "description": "Get an event by it's unique identifier",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "calendarId",
            "description": "The unique identifier of the calendar",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Calendar ID",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "eventId",
            "description": "The unique identifier of the event",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Event ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the event",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          },
          "400": {
            "description": "The provided id is invalid"
          },
          "404": {
            "description": "The event has not been found or does not exist"
          }
        },
        "operationId": "GetEvent"
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "Delete an event",
        "description": "Delete an event",
        "parameters": [
          {
            "in": "path",
            "name": "calendarId",
            "description": "The unique identifier of the calendar",
            "x-ms-summary": "Calendar ID",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "eventId",
            "description": "The unique identifier of the event",
            "x-ms-summary": "Event ID",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "Return no content"
          },
          "400": {
            "description": "The provided id is invalid"
          },
          "404": {
            "description": "The event has not been found or does not exist"
          }
        },
        "operationId": "DeleteEvent"
      },
      "patch": {
        "tags": [
          "Events"
        ],
        "summary": "Update an event",
        "description": "Update an event",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "calendarId",
            "description": "The unique identifier of the calendar",
            "x-ms-summary": "Calendar ID",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "eventId",
            "description": "The unique identifier of the event",
            "x-ms-summary": "Event ID",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Event to update",
            "required": true,
            "schema": {
              "required": [
                "endDate",
                "startDate",
                "title",
                "timeZone"
              ],
              "type": "object",
              "properties": {
                "title": {
                  "description": "The title of the event",
                  "maxLength": 100,
                  "minLength": 1,
                  "type": "string",
                  "title": "Title"
                },
                "description": {
                  "description": "The description of the event",
                  "maxLength": 250,
                  "type": "string",
                  "title": "Description"
                },
                "startDate": {
                  "format": "date-time",
                  "description": "The starting date of the event",
                  "type": "string",
                  "title": "Start date"
                },
                "endDate": {
                  "format": "date-time",
                  "description": "The ending date of the event",
                  "type": "string",
                  "title": "End date"
                },
                "color": {
                  "description": "The color of the event",
                  "maxLength": 30,
                  "type": "string",
                  "title": "Color"
                },
                "resourceId": {
                  "description": "The unique identifier of the resource that is linked to the event",
                  "type": "string",
                  "title": "Resource ID"
                },
                "modeRecurrence": {
                  "description": "The recurrence option",
                  "title": "Recurrence option",
                  "type": "string",
                  "enum": [
                    "Workweek",
                    "Daily",
                    "Weekly",
                    "Monthly",
                    "Yearly"
                  ]
                },
                "timeZone": {
                  "description": "The timezone of the event",
                  "maxLength": 50,
                  "type": "string",
                  "title": "Time zone",
                  "enum": [
                    "Africa/Abidjan",
                    "Africa/Accra",
                    "Africa/Algiers",
                    "Africa/Bissau",
                    "Africa/Cairo",
                    "Africa/Casablanca",
                    "Africa/Ceuta",
                    "Africa/El_Aaiun",
                    "Africa/Johannesburg",
                    "Africa/Juba",
                    "Africa/Khartoum",
                    "Africa/Lagos",
                    "Africa/Maputo",
                    "Africa/Monrovia",
                    "Africa/Nairobi",
                    "Africa/Ndjamena",
                    "Africa/Sao_Tome",
                    "Africa/Tripoli",
                    "Africa/Tunis",
                    "Africa/Windhoek",
                    "America/Adak",
                    "America/Anchorage",
                    "America/Araguaina",
                    "America/Argentina/Buenos_Aires",
                    "America/Argentina/Catamarca",
                    "America/Argentina/Cordoba",
                    "America/Argentina/Jujuy",
                    "America/Argentina/La_Rioja",
                    "America/Argentina/Mendoza",
                    "America/Argentina/Rio_Gallegos",
                    "America/Argentina/Salta",
                    "America/Argentina/San_Juan",
                    "America/Argentina/San_Luis",
                    "America/Argentina/Tucuman",
                    "America/Argentina/Ushuaia",
                    "America/Asuncion",
                    "America/Atikokan",
                    "America/Bahia",
                    "America/Bahia_Banderas",
                    "America/Barbados",
                    "America/Belem",
                    "America/Belize",
                    "America/Blanc-Sablon",
                    "America/Boa_Vista",
                    "America/Bogota",
                    "America/Boise",
                    "America/Cambridge_Bay",
                    "America/Campo_Grande",
                    "America/Cancun",
                    "America/Caracas",
                    "America/Cayenne",
                    "America/Chicago",
                    "America/Chihuahua",
                    "America/Costa_Rica",
                    "America/Creston",
                    "America/Cuiaba",
                    "America/Curacao",
                    "America/Danmarkshavn",
                    "America/Dawson",
                    "America/Dawson_Creek",
                    "America/Denver",
                    "America/Detroit",
                    "America/Edmonton",
                    "America/Eirunepe",
                    "America/El_Salvador",
                    "America/Fort_Nelson",
                    "America/Fortaleza",
                    "America/Glace_Bay",
                    "America/Goose_Bay",
                    "America/Grand_Turk",
                    "America/Guatemala",
                    "America/Guayaquil",
                    "America/Guyana",
                    "America/Halifax",
                    "America/Havana",
                    "America/Hermosillo",
                    "America/Indiana/Indianapolis",
                    "America/Indiana/Knox",
                    "America/Indiana/Marengo",
                    "America/Indiana/Petersburg",
                    "America/Indiana/Tell_City",
                    "America/Indiana/Vevay",
                    "America/Indiana/Vincennes",
                    "America/Indiana/Winamac",
                    "America/Inuvik",
                    "America/Iqaluit",
                    "America/Jamaica",
                    "America/Juneau",
                    "America/Kentucky/Louisville",
                    "America/Kentucky/Monticello",
                    "America/La_Paz",
                    "America/Lima",
                    "America/Los_Angeles",
                    "America/Maceio",
                    "America/Managua",
                    "America/Manaus",
                    "America/Martinique",
                    "America/Matamoros",
                    "America/Mazatlan",
                    "America/Menominee",
                    "America/Merida",
                    "America/Metlakatla",
                    "America/Mexico_City",
                    "America/Miquelon",
                    "America/Moncton",
                    "America/Monterrey",
                    "America/Montevideo",
                    "America/Nassau",
                    "America/New_York",
                    "America/Nipigon",
                    "America/Nome",
                    "America/Noronha",
                    "America/North_Dakota/Beulah",
                    "America/North_Dakota/Center",
                    "America/North_Dakota/New_Salem",
                    "America/Nuuk",
                    "America/Ojinaga",
                    "America/Panama",
                    "America/Pangnirtung",
                    "America/Paramaribo",
                    "America/Phoenix",
                    "America/Port-au-Prince",
                    "America/Port_of_Spain",
                    "America/Porto_Velho",
                    "America/Puerto_Rico",
                    "America/Punta_Arenas",
                    "America/Rainy_River",
                    "America/Rankin_Inlet",
                    "America/Recife",
                    "America/Regina",
                    "America/Resolute",
                    "America/Rio_Branco",
                    "America/Santarem",
                    "America/Santiago",
                    "America/Santo_Domingo",
                    "America/Sao_Paulo",
                    "America/Scoresbysund",
                    "America/Sitka",
                    "America/St_Johns",
                    "America/Swift_Current",
                    "America/Tegucigalpa",
                    "America/Thule",
                    "America/Thunder_Bay",
                    "America/Tijuana",
                    "America/Toronto",
                    "America/Vancouver",
                    "America/Whitehorse",
                    "America/Winnipeg",
                    "America/Yakutat",
                    "America/Yellowknife",
                    "Antarctica/Casey",
                    "Antarctica/Davis",
                    "Antarctica/DumontDUrville",
                    "Antarctica/Macquarie",
                    "Antarctica/Mawson",
                    "Antarctica/Palmer",
                    "Antarctica/Rothera",
                    "Antarctica/Syowa",
                    "Antarctica/Troll",
                    "Antarctica/Vostok",
                    "Asia/Almaty",
                    "Asia/Amman",
                    "Asia/Anadyr",
                    "Asia/Aqtau",
                    "Asia/Aqtobe",
                    "Asia/Ashgabat",
                    "Asia/Atyrau",
                    "Asia/Baghdad",
                    "Asia/Baku",
                    "Asia/Bangkok",
                    "Asia/Barnaul",
                    "Asia/Beirut",
                    "Asia/Bishkek",
                    "Asia/Brunei",
                    "Asia/Chita",
                    "Asia/Choibalsan",
                    "Asia/Colombo",
                    "Asia/Damascus",
                    "Asia/Dhaka",
                    "Asia/Dili",
                    "Asia/Dubai",
                    "Asia/Dushanbe",
                    "Asia/Famagusta",
                    "Asia/Gaza",
                    "Asia/Hebron",
                    "Asia/Ho_Chi_Minh",
                    "Asia/Hong_Kong",
                    "Asia/Hovd",
                    "Asia/Irkutsk",
                    "Asia/Jakarta",
                    "Asia/Jayapura",
                    "Asia/Jerusalem",
                    "Asia/Kabul",
                    "Asia/Kamchatka",
                    "Asia/Karachi",
                    "Asia/Kathmandu",
                    "Asia/Khandyga",
                    "Asia/Kolkata",
                    "Asia/Krasnoyarsk",
                    "Asia/Kuala_Lumpur",
                    "Asia/Kuching",
                    "Asia/Macau",
                    "Asia/Magadan",
                    "Asia/Makassar",
                    "Asia/Manila",
                    "Asia/Nicosia",
                    "Asia/Novokuznetsk",
                    "Asia/Novosibirsk",
                    "Asia/Omsk",
                    "Asia/Oral",
                    "Asia/Pontianak",
                    "Asia/Pyongyang",
                    "Asia/Qatar",
                    "Asia/Qostanay",
                    "Asia/Qyzylorda",
                    "Asia/Riyadh",
                    "Asia/Sakhalin",
                    "Asia/Samarkand",
                    "Asia/Seoul",
                    "Asia/Shanghai",
                    "Asia/Singapore",
                    "Asia/Srednekolymsk",
                    "Asia/Taipei",
                    "Asia/Tashkent",
                    "Asia/Tbilisi",
                    "Asia/Tehran",
                    "Asia/Thimphu",
                    "Asia/Tokyo",
                    "Asia/Tomsk",
                    "Asia/Ulaanbaatar",
                    "Asia/Urumqi",
                    "Asia/Ust-Nera",
                    "Asia/Vladivostok",
                    "Asia/Yakutsk",
                    "Asia/Yangon",
                    "Asia/Yekaterinburg",
                    "Asia/Yerevan",
                    "Atlantic/Azores",
                    "Atlantic/Bermuda",
                    "Atlantic/Canary",
                    "Atlantic/Cape_Verde",
                    "Atlantic/Faroe",
                    "Atlantic/Madeira",
                    "Atlantic/Reykjavik",
                    "Atlantic/South_Georgia",
                    "Atlantic/Stanley",
                    "Australia/Adelaide",
                    "Australia/Brisbane",
                    "Australia/Broken_Hill",
                    "Australia/Darwin",
                    "Australia/Eucla",
                    "Australia/Hobart",
                    "Australia/Lindeman",
                    "Australia/Lord_Howe",
                    "Australia/Melbourne",
                    "Australia/Perth",
                    "Australia/Sydney",
                    "CET",
                    "CST6CDT",
                    "EET",
                    "EST",
                    "EST5EDT",
                    "Etc/GMT",
                    "Etc/GMT+1",
                    "Etc/GMT+10",
                    "Etc/GMT+11",
                    "Etc/GMT+12",
                    "Etc/GMT+2",
                    "Etc/GMT+3",
                    "Etc/GMT+4",
                    "Etc/GMT+5",
                    "Etc/GMT+6",
                    "Etc/GMT+7",
                    "Etc/GMT+8",
                    "Etc/GMT+9",
                    "Etc/GMT-1",
                    "Etc/GMT-10",
                    "Etc/GMT-11",
                    "Etc/GMT-12",
                    "Etc/GMT-13",
                    "Etc/GMT-14",
                    "Etc/GMT-2",
                    "Etc/GMT-3",
                    "Etc/GMT-4",
                    "Etc/GMT-5",
                    "Etc/GMT-6",
                    "Etc/GMT-7",
                    "Etc/GMT-8",
                    "Etc/GMT-9",
                    "Etc/UTC",
                    "Europe/Amsterdam",
                    "Europe/Andorra",
                    "Europe/Astrakhan",
                    "Europe/Athens",
                    "Europe/Belgrade",
                    "Europe/Berlin",
                    "Europe/Brussels",
                    "Europe/Bucharest",
                    "Europe/Budapest",
                    "Europe/Chisinau",
                    "Europe/Copenhagen",
                    "Europe/Dublin",
                    "Europe/Gibraltar",
                    "Europe/Helsinki",
                    "Europe/Istanbul",
                    "Europe/Kaliningrad",
                    "Europe/Kiev",
                    "Europe/Kirov",
                    "Europe/Lisbon",
                    "Europe/London",
                    "Europe/Luxembourg",
                    "Europe/Madrid",
                    "Europe/Malta",
                    "Europe/Minsk",
                    "Europe/Monaco",
                    "Europe/Moscow",
                    "Europe/Oslo",
                    "Europe/Paris",
                    "Europe/Prague",
                    "Europe/Riga",
                    "Europe/Rome",
                    "Europe/Samara",
                    "Europe/Saratov",
                    "Europe/Simferopol",
                    "Europe/Sofia",
                    "Europe/Stockholm",
                    "Europe/Tallinn",
                    "Europe/Tirane",
                    "Europe/Ulyanovsk",
                    "Europe/Uzhgorod",
                    "Europe/Vienna",
                    "Europe/Vilnius",
                    "Europe/Volgograd",
                    "Europe/Warsaw",
                    "Europe/Zaporozhye",
                    "Europe/Zurich",
                    "HST",
                    "Indian/Chagos",
                    "Indian/Christmas",
                    "Indian/Cocos",
                    "Indian/Kerguelen",
                    "Indian/Mahe",
                    "Indian/Maldives",
                    "Indian/Mauritius",
                    "Indian/Reunion",
                    "MET",
                    "MST",
                    "MST7MDT",
                    "PST8PDT",
                    "Pacific/Apia",
                    "Pacific/Auckland",
                    "Pacific/Bougainville",
                    "Pacific/Chatham",
                    "Pacific/Chuuk",
                    "Pacific/Easter",
                    "Pacific/Efate",
                    "Pacific/Enderbury",
                    "Pacific/Fakaofo",
                    "Pacific/Fiji",
                    "Pacific/Funafuti",
                    "Pacific/Galapagos",
                    "Pacific/Gambier",
                    "Pacific/Guadalcanal",
                    "Pacific/Guam",
                    "Pacific/Honolulu",
                    "Pacific/Kiritimati",
                    "Pacific/Kosrae",
                    "Pacific/Kwajalein",
                    "Pacific/Majuro",
                    "Pacific/Marquesas",
                    "Pacific/Nauru",
                    "Pacific/Niue",
                    "Pacific/Norfolk",
                    "Pacific/Noumea",
                    "Pacific/Pago_Pago",
                    "Pacific/Palau",
                    "Pacific/Pitcairn",
                    "Pacific/Pohnpei",
                    "Pacific/Port_Moresby",
                    "Pacific/Rarotonga",
                    "Pacific/Tahiti",
                    "Pacific/Tarawa",
                    "Pacific/Tongatapu",
                    "Pacific/Wake",
                    "Pacific/Wallis",
                    "WET"
                  ]
                },
                "address": {
                  "$ref": "#/definitions/Address"
                },
                "tags": {
                  "description": "The list of tags linked to the event",
                  "type": "array",
                  "title": "Tags",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return the updated event",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          },
          "400": {
            "description": "The provided model is invalid"
          },
          "404": {
            "description": "The event has not been found or does not exist"
          }
        },
        "operationId": "UpdateEvent"
      }
    },
    "/{calendarId}/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get all events",
        "description": "Get all events of a calendar by it's unique identifier",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "calendarId",
            "description": "The unique identifier of the calendar",
            "x-ms-summary": "Calendar ID",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Return array of calendar events",
            "schema": {
              "type": "array",
              "description": "The list of events",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          },
          "400": {
            "description": "The provided id is invalid"
          },
          "404": {
            "description": "The calendar has not been found or does not exist"
          }
        },
        "operationId": "GetAllEvents"
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Create a new event",
        "description": "Create a new event",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "calendarId",
            "description": "The unique identifier of the calendar",
            "x-ms-summary": "Calendar ID",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Event to create",
            "required": true,
            "schema": {
              "required": [
                "endDate",
                "startDate",
                "title",
                "timeZone"
              ],
              "type": "object",
              "properties": {
                "title": {
                  "description": "The title of the event",
                  "maxLength": 100,
                  "minLength": 1,
                  "type": "string",
                  "title": "Title"
                },
                "description": {
                  "description": "The description of the event",
                  "maxLength": 250,
                  "type": "string",
                  "title": "Description"
                },
                "startDate": {
                  "format": "date-time",
                  "description": "The starting date of the event",
                  "type": "string",
                  "title": "Start date"
                },
                "endDate": {
                  "format": "date-time",
                  "description": "The ending date of the event",
                  "type": "string",
                  "title": "End date"
                },
                "color": {
                  "description": "The color of the event",
                  "maxLength": 30,
                  "type": "string",
                  "title": "Color"
                },
                "resourceId": {
                  "description": "The unique identifier of the resource that is linked to the event",
                  "type": "string",
                  "title": "Resource ID"
                },
                "modeRecurrence": {
                  "description": "The recurrence option",
                  "title": "Recurrence option",
                  "type": "string",
                  "enum": [
                    "Workweek",
                    "Daily",
                    "Weekly",
                    "Monthly",
                    "Yearly"
                  ]
                },
                "timeZone": {
                  "description": "The timezone of the event",
                  "maxLength": 50,
                  "type": "string",
                  "title": "Time zone",
                  "enum": [
                    "Africa/Abidjan",
                    "Africa/Accra",
                    "Africa/Algiers",
                    "Africa/Bissau",
                    "Africa/Cairo",
                    "Africa/Casablanca",
                    "Africa/Ceuta",
                    "Africa/El_Aaiun",
                    "Africa/Johannesburg",
                    "Africa/Juba",
                    "Africa/Khartoum",
                    "Africa/Lagos",
                    "Africa/Maputo",
                    "Africa/Monrovia",
                    "Africa/Nairobi",
                    "Africa/Ndjamena",
                    "Africa/Sao_Tome",
                    "Africa/Tripoli",
                    "Africa/Tunis",
                    "Africa/Windhoek",
                    "America/Adak",
                    "America/Anchorage",
                    "America/Araguaina",
                    "America/Argentina/Buenos_Aires",
                    "America/Argentina/Catamarca",
                    "America/Argentina/Cordoba",
                    "America/Argentina/Jujuy",
                    "America/Argentina/La_Rioja",
                    "America/Argentina/Mendoza",
                    "America/Argentina/Rio_Gallegos",
                    "America/Argentina/Salta",
                    "America/Argentina/San_Juan",
                    "America/Argentina/San_Luis",
                    "America/Argentina/Tucuman",
                    "America/Argentina/Ushuaia",
                    "America/Asuncion",
                    "America/Atikokan",
                    "America/Bahia",
                    "America/Bahia_Banderas",
                    "America/Barbados",
                    "America/Belem",
                    "America/Belize",
                    "America/Blanc-Sablon",
                    "America/Boa_Vista",
                    "America/Bogota",
                    "America/Boise",
                    "America/Cambridge_Bay",
                    "America/Campo_Grande",
                    "America/Cancun",
                    "America/Caracas",
                    "America/Cayenne",
                    "America/Chicago",
                    "America/Chihuahua",
                    "America/Costa_Rica",
                    "America/Creston",
                    "America/Cuiaba",
                    "America/Curacao",
                    "America/Danmarkshavn",
                    "America/Dawson",
                    "America/Dawson_Creek",
                    "America/Denver",
                    "America/Detroit",
                    "America/Edmonton",
                    "America/Eirunepe",
                    "America/El_Salvador",
                    "America/Fort_Nelson",
                    "America/Fortaleza",
                    "America/Glace_Bay",
                    "America/Goose_Bay",
                    "America/Grand_Turk",
                    "America/Guatemala",
                    "America/Guayaquil",
                    "America/Guyana",
                    "America/Halifax",
                    "America/Havana",
                    "America/Hermosillo",
                    "America/Indiana/Indianapolis",
                    "America/Indiana/Knox",
                    "America/Indiana/Marengo",
                    "America/Indiana/Petersburg",
                    "America/Indiana/Tell_City",
                    "America/Indiana/Vevay",
                    "America/Indiana/Vincennes",
                    "America/Indiana/Winamac",
                    "America/Inuvik",
                    "America/Iqaluit",
                    "America/Jamaica",
                    "America/Juneau",
                    "America/Kentucky/Louisville",
                    "America/Kentucky/Monticello",
                    "America/La_Paz",
                    "America/Lima",
                    "America/Los_Angeles",
                    "America/Maceio",
                    "America/Managua",
                    "America/Manaus",
                    "America/Martinique",
                    "America/Matamoros",
                    "America/Mazatlan",
                    "America/Menominee",
                    "America/Merida",
                    "America/Metlakatla",
                    "America/Mexico_City",
                    "America/Miquelon",
                    "America/Moncton",
                    "America/Monterrey",
                    "America/Montevideo",
                    "America/Nassau",
                    "America/New_York",
                    "America/Nipigon",
                    "America/Nome",
                    "America/Noronha",
                    "America/North_Dakota/Beulah",
                    "America/North_Dakota/Center",
                    "America/North_Dakota/New_Salem",
                    "America/Nuuk",
                    "America/Ojinaga",
                    "America/Panama",
                    "America/Pangnirtung",
                    "America/Paramaribo",
                    "America/Phoenix",
                    "America/Port-au-Prince",
                    "America/Port_of_Spain",
                    "America/Porto_Velho",
                    "America/Puerto_Rico",
                    "America/Punta_Arenas",
                    "America/Rainy_River",
                    "America/Rankin_Inlet",
                    "America/Recife",
                    "America/Regina",
                    "America/Resolute",
                    "America/Rio_Branco",
                    "America/Santarem",
                    "America/Santiago",
                    "America/Santo_Domingo",
                    "America/Sao_Paulo",
                    "America/Scoresbysund",
                    "America/Sitka",
                    "America/St_Johns",
                    "America/Swift_Current",
                    "America/Tegucigalpa",
                    "America/Thule",
                    "America/Thunder_Bay",
                    "America/Tijuana",
                    "America/Toronto",
                    "America/Vancouver",
                    "America/Whitehorse",
                    "America/Winnipeg",
                    "America/Yakutat",
                    "America/Yellowknife",
                    "Antarctica/Casey",
                    "Antarctica/Davis",
                    "Antarctica/DumontDUrville",
                    "Antarctica/Macquarie",
                    "Antarctica/Mawson",
                    "Antarctica/Palmer",
                    "Antarctica/Rothera",
                    "Antarctica/Syowa",
                    "Antarctica/Troll",
                    "Antarctica/Vostok",
                    "Asia/Almaty",
                    "Asia/Amman",
                    "Asia/Anadyr",
                    "Asia/Aqtau",
                    "Asia/Aqtobe",
                    "Asia/Ashgabat",
                    "Asia/Atyrau",
                    "Asia/Baghdad",
                    "Asia/Baku",
                    "Asia/Bangkok",
                    "Asia/Barnaul",
                    "Asia/Beirut",
                    "Asia/Bishkek",
                    "Asia/Brunei",
                    "Asia/Chita",
                    "Asia/Choibalsan",
                    "Asia/Colombo",
                    "Asia/Damascus",
                    "Asia/Dhaka",
                    "Asia/Dili",
                    "Asia/Dubai",
                    "Asia/Dushanbe",
                    "Asia/Famagusta",
                    "Asia/Gaza",
                    "Asia/Hebron",
                    "Asia/Ho_Chi_Minh",
                    "Asia/Hong_Kong",
                    "Asia/Hovd",
                    "Asia/Irkutsk",
                    "Asia/Jakarta",
                    "Asia/Jayapura",
                    "Asia/Jerusalem",
                    "Asia/Kabul",
                    "Asia/Kamchatka",
                    "Asia/Karachi",
                    "Asia/Kathmandu",
                    "Asia/Khandyga",
                    "Asia/Kolkata",
                    "Asia/Krasnoyarsk",
                    "Asia/Kuala_Lumpur",
                    "Asia/Kuching",
                    "Asia/Macau",
                    "Asia/Magadan",
                    "Asia/Makassar",
                    "Asia/Manila",
                    "Asia/Nicosia",
                    "Asia/Novokuznetsk",
                    "Asia/Novosibirsk",
                    "Asia/Omsk",
                    "Asia/Oral",
                    "Asia/Pontianak",
                    "Asia/Pyongyang",
                    "Asia/Qatar",
                    "Asia/Qostanay",
                    "Asia/Qyzylorda",
                    "Asia/Riyadh",
                    "Asia/Sakhalin",
                    "Asia/Samarkand",
                    "Asia/Seoul",
                    "Asia/Shanghai",
                    "Asia/Singapore",
                    "Asia/Srednekolymsk",
                    "Asia/Taipei",
                    "Asia/Tashkent",
                    "Asia/Tbilisi",
                    "Asia/Tehran",
                    "Asia/Thimphu",
                    "Asia/Tokyo",
                    "Asia/Tomsk",
                    "Asia/Ulaanbaatar",
                    "Asia/Urumqi",
                    "Asia/Ust-Nera",
                    "Asia/Vladivostok",
                    "Asia/Yakutsk",
                    "Asia/Yangon",
                    "Asia/Yekaterinburg",
                    "Asia/Yerevan",
                    "Atlantic/Azores",
                    "Atlantic/Bermuda",
                    "Atlantic/Canary",
                    "Atlantic/Cape_Verde",
                    "Atlantic/Faroe",
                    "Atlantic/Madeira",
                    "Atlantic/Reykjavik",
                    "Atlantic/South_Georgia",
                    "Atlantic/Stanley",
                    "Australia/Adelaide",
                    "Australia/Brisbane",
                    "Australia/Broken_Hill",
                    "Australia/Darwin",
                    "Australia/Eucla",
                    "Australia/Hobart",
                    "Australia/Lindeman",
                    "Australia/Lord_Howe",
                    "Australia/Melbourne",
                    "Australia/Perth",
                    "Australia/Sydney",
                    "CET",
                    "CST6CDT",
                    "EET",
                    "EST",
                    "EST5EDT",
                    "Etc/GMT",
                    "Etc/GMT+1",
                    "Etc/GMT+10",
                    "Etc/GMT+11",
                    "Etc/GMT+12",
                    "Etc/GMT+2",
                    "Etc/GMT+3",
                    "Etc/GMT+4",
                    "Etc/GMT+5",
                    "Etc/GMT+6",
                    "Etc/GMT+7",
                    "Etc/GMT+8",
                    "Etc/GMT+9",
                    "Etc/GMT-1",
                    "Etc/GMT-10",
                    "Etc/GMT-11",
                    "Etc/GMT-12",
                    "Etc/GMT-13",
                    "Etc/GMT-14",
                    "Etc/GMT-2",
                    "Etc/GMT-3",
                    "Etc/GMT-4",
                    "Etc/GMT-5",
                    "Etc/GMT-6",
                    "Etc/GMT-7",
                    "Etc/GMT-8",
                    "Etc/GMT-9",
                    "Etc/UTC",
                    "Europe/Amsterdam",
                    "Europe/Andorra",
                    "Europe/Astrakhan",
                    "Europe/Athens",
                    "Europe/Belgrade",
                    "Europe/Berlin",
                    "Europe/Brussels",
                    "Europe/Bucharest",
                    "Europe/Budapest",
                    "Europe/Chisinau",
                    "Europe/Copenhagen",
                    "Europe/Dublin",
                    "Europe/Gibraltar",
                    "Europe/Helsinki",
                    "Europe/Istanbul",
                    "Europe/Kaliningrad",
                    "Europe/Kiev",
                    "Europe/Kirov",
                    "Europe/Lisbon",
                    "Europe/London",
                    "Europe/Luxembourg",
                    "Europe/Madrid",
                    "Europe/Malta",
                    "Europe/Minsk",
                    "Europe/Monaco",
                    "Europe/Moscow",
                    "Europe/Oslo",
                    "Europe/Paris",
                    "Europe/Prague",
                    "Europe/Riga",
                    "Europe/Rome",
                    "Europe/Samara",
                    "Europe/Saratov",
                    "Europe/Simferopol",
                    "Europe/Sofia",
                    "Europe/Stockholm",
                    "Europe/Tallinn",
                    "Europe/Tirane",
                    "Europe/Ulyanovsk",
                    "Europe/Uzhgorod",
                    "Europe/Vienna",
                    "Europe/Vilnius",
                    "Europe/Volgograd",
                    "Europe/Warsaw",
                    "Europe/Zaporozhye",
                    "Europe/Zurich",
                    "HST",
                    "Indian/Chagos",
                    "Indian/Christmas",
                    "Indian/Cocos",
                    "Indian/Kerguelen",
                    "Indian/Mahe",
                    "Indian/Maldives",
                    "Indian/Mauritius",
                    "Indian/Reunion",
                    "MET",
                    "MST",
                    "MST7MDT",
                    "PST8PDT",
                    "Pacific/Apia",
                    "Pacific/Auckland",
                    "Pacific/Bougainville",
                    "Pacific/Chatham",
                    "Pacific/Chuuk",
                    "Pacific/Easter",
                    "Pacific/Efate",
                    "Pacific/Enderbury",
                    "Pacific/Fakaofo",
                    "Pacific/Fiji",
                    "Pacific/Funafuti",
                    "Pacific/Galapagos",
                    "Pacific/Gambier",
                    "Pacific/Guadalcanal",
                    "Pacific/Guam",
                    "Pacific/Honolulu",
                    "Pacific/Kiritimati",
                    "Pacific/Kosrae",
                    "Pacific/Kwajalein",
                    "Pacific/Majuro",
                    "Pacific/Marquesas",
                    "Pacific/Nauru",
                    "Pacific/Niue",
                    "Pacific/Norfolk",
                    "Pacific/Noumea",
                    "Pacific/Pago_Pago",
                    "Pacific/Palau",
                    "Pacific/Pitcairn",
                    "Pacific/Pohnpei",
                    "Pacific/Port_Moresby",
                    "Pacific/Rarotonga",
                    "Pacific/Tahiti",
                    "Pacific/Tarawa",
                    "Pacific/Tongatapu",
                    "Pacific/Wake",
                    "Pacific/Wallis",
                    "WET"
                  ]
                },
                "address": {
                  "$ref": "#/definitions/Address"
                },
                "tags": {
                  "description": "The list of tags linked to the event",
                  "type": "array",
                  "title": "Tags",
                  "items": {
                    "type": "string"
                  },
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Return the event with id",
            "schema": {
              "$ref": "#/definitions/Event"
            }
          },
          "400": {
            "description": "The provided model is invalid"
          }
        },
        "operationId": "CreateNewEvent"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.teams-pro.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.teams-pro.com/en/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "definitions": {
    "Address": {
      "required": [
        "fullAddress",
        "lat",
        "lng"
      ],
      "type": "object",
      "description": "The address of the event",
      "properties": {
        "fullAddress": {
          "description": "The full address of the event",
          "maxLength": 250,
          "type": "string",
          "title": "Address",
          "x-ms-visibility": "advanced"
        },
        "lat": {
          "format": "double",
          "description": "The latitude of the address",
          "maximum": 90,
          "minimum": -90,
          "type": "number",
          "title": "Latitude",
          "x-ms-visibility": "advanced"
        },
        "lng": {
          "format": "double",
          "description": "The longitude of the address",
          "maximum": 180,
          "minimum": -180,
          "type": "number",
          "title": "Longitude",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Event": {
      "required": [
        "allDay",
        "endDate",
        "startDate",
        "title"
      ],
      "type": "object",
      "description": "The event",
      "properties": {
        "id": {
          "description": "The unique identifier of event",
          "type": "string",
          "title": "ID"
        },
        "calendarId": {
          "description": "The unique identifier of the calendar",
          "type": "string",
          "title": "Calendar ID"
        },
        "title": {
          "description": "The title of the event",
          "maxLength": 100,
          "minLength": 1,
          "type": "string",
          "title": "Title"
        },
        "description": {
          "description": "The description of the event",
          "maxLength": 250,
          "type": "string",
          "title": "Description"
        },
        "startDate": {
          "format": "date-time",
          "description": "The starting date of the event",
          "type": "string",
          "title": "Start date"
        },
        "endDate": {
          "format": "date-time",
          "description": "The ending date of the event",
          "type": "string",
          "title": "End date"
        },
        "color": {
          "description": "The color of the event",
          "maxLength": 30,
          "type": "string",
          "title": "Color"
        },
        "allDay": {
          "description": "Is the event during all day ?",
          "type": "boolean",
          "title": "All day",
          "enum": [
            "true",
            "false"
          ]
        },
        "resourceId": {
          "description": "The unique identifier of the resource that is linked to the event",
          "type": "string",
          "title": "Resource ID"
        },
        "resourceName": {
          "description": "The name of the resource that is linked to the event",
          "type": "string",
          "title": "Resource name"
        },
        "rrule": {
          "$ref": "#/definitions/RecurrenceRule"
        },
        "duration": {
          "format": "int64",
          "description": "The duration of the event in milliseconds",
          "type": "integer",
          "title": "Duration"
        },
        "modeRecurrence": {
          "$ref": "#/definitions/OptionRecurrence"
        },
        "timeZone": {
          "description": "The timezone of the event",
          "maxLength": 50,
          "type": "string",
          "title": "Time zone",
          "enum": [
            "Africa/Abidjan",
            "Africa/Accra",
            "Africa/Algiers",
            "Africa/Bissau",
            "Africa/Cairo",
            "Africa/Casablanca",
            "Africa/Ceuta",
            "Africa/El_Aaiun",
            "Africa/Johannesburg",
            "Africa/Juba",
            "Africa/Khartoum",
            "Africa/Lagos",
            "Africa/Maputo",
            "Africa/Monrovia",
            "Africa/Nairobi",
            "Africa/Ndjamena",
            "Africa/Sao_Tome",
            "Africa/Tripoli",
            "Africa/Tunis",
            "Africa/Windhoek",
            "America/Adak",
            "America/Anchorage",
            "America/Araguaina",
            "America/Argentina/Buenos_Aires",
            "America/Argentina/Catamarca",
            "America/Argentina/Cordoba",
            "America/Argentina/Jujuy",
            "America/Argentina/La_Rioja",
            "America/Argentina/Mendoza",
            "America/Argentina/Rio_Gallegos",
            "America/Argentina/Salta",
            "America/Argentina/San_Juan",
            "America/Argentina/San_Luis",
            "America/Argentina/Tucuman",
            "America/Argentina/Ushuaia",
            "America/Asuncion",
            "America/Atikokan",
            "America/Bahia",
            "America/Bahia_Banderas",
            "America/Barbados",
            "America/Belem",
            "America/Belize",
            "America/Blanc-Sablon",
            "America/Boa_Vista",
            "America/Bogota",
            "America/Boise",
            "America/Cambridge_Bay",
            "America/Campo_Grande",
            "America/Cancun",
            "America/Caracas",
            "America/Cayenne",
            "America/Chicago",
            "America/Chihuahua",
            "America/Costa_Rica",
            "America/Creston",
            "America/Cuiaba",
            "America/Curacao",
            "America/Danmarkshavn",
            "America/Dawson",
            "America/Dawson_Creek",
            "America/Denver",
            "America/Detroit",
            "America/Edmonton",
            "America/Eirunepe",
            "America/El_Salvador",
            "America/Fort_Nelson",
            "America/Fortaleza",
            "America/Glace_Bay",
            "America/Goose_Bay",
            "America/Grand_Turk",
            "America/Guatemala",
            "America/Guayaquil",
            "America/Guyana",
            "America/Halifax",
            "America/Havana",
            "America/Hermosillo",
            "America/Indiana/Indianapolis",
            "America/Indiana/Knox",
            "America/Indiana/Marengo",
            "America/Indiana/Petersburg",
            "America/Indiana/Tell_City",
            "America/Indiana/Vevay",
            "America/Indiana/Vincennes",
            "America/Indiana/Winamac",
            "America/Inuvik",
            "America/Iqaluit",
            "America/Jamaica",
            "America/Juneau",
            "America/Kentucky/Louisville",
            "America/Kentucky/Monticello",
            "America/La_Paz",
            "America/Lima",
            "America/Los_Angeles",
            "America/Maceio",
            "America/Managua",
            "America/Manaus",
            "America/Martinique",
            "America/Matamoros",
            "America/Mazatlan",
            "America/Menominee",
            "America/Merida",
            "America/Metlakatla",
            "America/Mexico_City",
            "America/Miquelon",
            "America/Moncton",
            "America/Monterrey",
            "America/Montevideo",
            "America/Nassau",
            "America/New_York",
            "America/Nipigon",
            "America/Nome",
            "America/Noronha",
            "America/North_Dakota/Beulah",
            "America/North_Dakota/Center",
            "America/North_Dakota/New_Salem",
            "America/Nuuk",
            "America/Ojinaga",
            "America/Panama",
            "America/Pangnirtung",
            "America/Paramaribo",
            "America/Phoenix",
            "America/Port-au-Prince",
            "America/Port_of_Spain",
            "America/Porto_Velho",
            "America/Puerto_Rico",
            "America/Punta_Arenas",
            "America/Rainy_River",
            "America/Rankin_Inlet",
            "America/Recife",
            "America/Regina",
            "America/Resolute",
            "America/Rio_Branco",
            "America/Santarem",
            "America/Santiago",
            "America/Santo_Domingo",
            "America/Sao_Paulo",
            "America/Scoresbysund",
            "America/Sitka",
            "America/St_Johns",
            "America/Swift_Current",
            "America/Tegucigalpa",
            "America/Thule",
            "America/Thunder_Bay",
            "America/Tijuana",
            "America/Toronto",
            "America/Vancouver",
            "America/Whitehorse",
            "America/Winnipeg",
            "America/Yakutat",
            "America/Yellowknife",
            "Antarctica/Casey",
            "Antarctica/Davis",
            "Antarctica/DumontDUrville",
            "Antarctica/Macquarie",
            "Antarctica/Mawson",
            "Antarctica/Palmer",
            "Antarctica/Rothera",
            "Antarctica/Syowa",
            "Antarctica/Troll",
            "Antarctica/Vostok",
            "Asia/Almaty",
            "Asia/Amman",
            "Asia/Anadyr",
            "Asia/Aqtau",
            "Asia/Aqtobe",
            "Asia/Ashgabat",
            "Asia/Atyrau",
            "Asia/Baghdad",
            "Asia/Baku",
            "Asia/Bangkok",
            "Asia/Barnaul",
            "Asia/Beirut",
            "Asia/Bishkek",
            "Asia/Brunei",
            "Asia/Chita",
            "Asia/Choibalsan",
            "Asia/Colombo",
            "Asia/Damascus",
            "Asia/Dhaka",
            "Asia/Dili",
            "Asia/Dubai",
            "Asia/Dushanbe",
            "Asia/Famagusta",
            "Asia/Gaza",
            "Asia/Hebron",
            "Asia/Ho_Chi_Minh",
            "Asia/Hong_Kong",
            "Asia/Hovd",
            "Asia/Irkutsk",
            "Asia/Jakarta",
            "Asia/Jayapura",
            "Asia/Jerusalem",
            "Asia/Kabul",
            "Asia/Kamchatka",
            "Asia/Karachi",
            "Asia/Kathmandu",
            "Asia/Khandyga",
            "Asia/Kolkata",
            "Asia/Krasnoyarsk",
            "Asia/Kuala_Lumpur",
            "Asia/Kuching",
            "Asia/Macau",
            "Asia/Magadan",
            "Asia/Makassar",
            "Asia/Manila",
            "Asia/Nicosia",
            "Asia/Novokuznetsk",
            "Asia/Novosibirsk",
            "Asia/Omsk",
            "Asia/Oral",
            "Asia/Pontianak",
            "Asia/Pyongyang",
            "Asia/Qatar",
            "Asia/Qostanay",
            "Asia/Qyzylorda",
            "Asia/Riyadh",
            "Asia/Sakhalin",
            "Asia/Samarkand",
            "Asia/Seoul",
            "Asia/Shanghai",
            "Asia/Singapore",
            "Asia/Srednekolymsk",
            "Asia/Taipei",
            "Asia/Tashkent",
            "Asia/Tbilisi",
            "Asia/Tehran",
            "Asia/Thimphu",
            "Asia/Tokyo",
            "Asia/Tomsk",
            "Asia/Ulaanbaatar",
            "Asia/Urumqi",
            "Asia/Ust-Nera",
            "Asia/Vladivostok",
            "Asia/Yakutsk",
            "Asia/Yangon",
            "Asia/Yekaterinburg",
            "Asia/Yerevan",
            "Atlantic/Azores",
            "Atlantic/Bermuda",
            "Atlantic/Canary",
            "Atlantic/Cape_Verde",
            "Atlantic/Faroe",
            "Atlantic/Madeira",
            "Atlantic/Reykjavik",
            "Atlantic/South_Georgia",
            "Atlantic/Stanley",
            "Australia/Adelaide",
            "Australia/Brisbane",
            "Australia/Broken_Hill",
            "Australia/Darwin",
            "Australia/Eucla",
            "Australia/Hobart",
            "Australia/Lindeman",
            "Australia/Lord_Howe",
            "Australia/Melbourne",
            "Australia/Perth",
            "Australia/Sydney",
            "CET",
            "CST6CDT",
            "EET",
            "EST",
            "EST5EDT",
            "Etc/GMT",
            "Etc/GMT+1",
            "Etc/GMT+10",
            "Etc/GMT+11",
            "Etc/GMT+12",
            "Etc/GMT+2",
            "Etc/GMT+3",
            "Etc/GMT+4",
            "Etc/GMT+5",
            "Etc/GMT+6",
            "Etc/GMT+7",
            "Etc/GMT+8",
            "Etc/GMT+9",
            "Etc/GMT-1",
            "Etc/GMT-10",
            "Etc/GMT-11",
            "Etc/GMT-12",
            "Etc/GMT-13",
            "Etc/GMT-14",
            "Etc/GMT-2",
            "Etc/GMT-3",
            "Etc/GMT-4",
            "Etc/GMT-5",
            "Etc/GMT-6",
            "Etc/GMT-7",
            "Etc/GMT-8",
            "Etc/GMT-9",
            "Etc/UTC",
            "Europe/Amsterdam",
            "Europe/Andorra",
            "Europe/Astrakhan",
            "Europe/Athens",
            "Europe/Belgrade",
            "Europe/Berlin",
            "Europe/Brussels",
            "Europe/Bucharest",
            "Europe/Budapest",
            "Europe/Chisinau",
            "Europe/Copenhagen",
            "Europe/Dublin",
            "Europe/Gibraltar",
            "Europe/Helsinki",
            "Europe/Istanbul",
            "Europe/Kaliningrad",
            "Europe/Kiev",
            "Europe/Kirov",
            "Europe/Lisbon",
            "Europe/London",
            "Europe/Luxembourg",
            "Europe/Madrid",
            "Europe/Malta",
            "Europe/Minsk",
            "Europe/Monaco",
            "Europe/Moscow",
            "Europe/Oslo",
            "Europe/Paris",
            "Europe/Prague",
            "Europe/Riga",
            "Europe/Rome",
            "Europe/Samara",
            "Europe/Saratov",
            "Europe/Simferopol",
            "Europe/Sofia",
            "Europe/Stockholm",
            "Europe/Tallinn",
            "Europe/Tirane",
            "Europe/Ulyanovsk",
            "Europe/Uzhgorod",
            "Europe/Vienna",
            "Europe/Vilnius",
            "Europe/Volgograd",
            "Europe/Warsaw",
            "Europe/Zaporozhye",
            "Europe/Zurich",
            "HST",
            "Indian/Chagos",
            "Indian/Christmas",
            "Indian/Cocos",
            "Indian/Kerguelen",
            "Indian/Mahe",
            "Indian/Maldives",
            "Indian/Mauritius",
            "Indian/Reunion",
            "MET",
            "MST",
            "MST7MDT",
            "PST8PDT",
            "Pacific/Apia",
            "Pacific/Auckland",
            "Pacific/Bougainville",
            "Pacific/Chatham",
            "Pacific/Chuuk",
            "Pacific/Easter",
            "Pacific/Efate",
            "Pacific/Enderbury",
            "Pacific/Fakaofo",
            "Pacific/Fiji",
            "Pacific/Funafuti",
            "Pacific/Galapagos",
            "Pacific/Gambier",
            "Pacific/Guadalcanal",
            "Pacific/Guam",
            "Pacific/Honolulu",
            "Pacific/Kiritimati",
            "Pacific/Kosrae",
            "Pacific/Kwajalein",
            "Pacific/Majuro",
            "Pacific/Marquesas",
            "Pacific/Nauru",
            "Pacific/Niue",
            "Pacific/Norfolk",
            "Pacific/Noumea",
            "Pacific/Pago_Pago",
            "Pacific/Palau",
            "Pacific/Pitcairn",
            "Pacific/Pohnpei",
            "Pacific/Port_Moresby",
            "Pacific/Rarotonga",
            "Pacific/Tahiti",
            "Pacific/Tarawa",
            "Pacific/Tongatapu",
            "Pacific/Wake",
            "Pacific/Wallis",
            "WET"
          ]
        },
        "address": {
          "$ref": "#/definitions/Address"
        },
        "tags": {
          "description": "The list of tags linked to the event",
          "title": "Tags",
          "type": "array",
          "items": {
            "type": "string",
            "title": "Tag",
            "description": "The tag of an event"
          }
        }
      }
    },
    "OptionRecurrence": {
      "description": "The recurrence mode option",
      "enum": [
        "NotRepeat",
        "Workweek",
        "Daily",
        "Weekly",
        "Monthly",
        "Yearly",
        "Custom"
      ],
      "type": "string",
      "title": "Recurrence option"
    },
    "RecurrenceRule": {
      "required": [
        "dtstart",
        "freq"
      ],
      "type": "object",
      "description": "The recurrence advanced options",
      "properties": {
        "freq": {
          "description": "The recurrence frequency",
          "maxLength": 20,
          "minLength": 1,
          "type": "string",
          "title": "Frequency"
        },
        "dtstart": {
          "format": "date-time",
          "description": "The recurrence start date",
          "type": "string",
          "title": "Start date"
        },
        "until": {
          "format": "date-time",
          "description": "The recurrence end date",
          "type": "string",
          "title": "End date"
        },
        "count": {
          "format": "int32",
          "description": "The number of occurrences that will be generated",
          "type": "integer",
          "title": "Number of occurences"
        },
        "interval": {
          "format": "int32",
          "description": "The interval between each frequency iteration. A yearly frequency and an interval of 2 means once every two years",
          "type": "integer",
          "title": "Iteration interval",
          "x-ms-visibility": "advanced"
        },
        "wkst": {
          "$ref": "#/definitions/WeekDay"
        },
        "byweekday": {
          "description": "The week days where the recurrence will be applied",
          "type": "array",
          "title": "Recurrence week days",
          "items": {
            "$ref": "#/definitions/WeekDay"
          }
        },
        "bymonth": {
          "description": "The months where the recurrence will be applied",
          "type": "array",
          "title": "Recurrence months",
          "items": {
            "format": "int32",
            "type": "integer",
            "description": "The months where the recurrence will be applied",
            "x-ms-visibility": "advanced"
          }
        },
        "bysetpos": {
          "description": "The nth occurrences of the rule inside the frequency period",
          "type": "array",
          "title": "Recurrence nth occurrences",
          "items": {
            "format": "int32",
            "type": "integer",
            "description": "The nth occurrences of the rule inside the frequency period",
            "x-ms-visibility": "advanced"
          }
        },
        "bymonthday": {
          "description": "The month days to apply the recurrence to",
          "type": "array",
          "title": "Recurrence month days",
          "items": {
            "format": "int32",
            "type": "integer",
            "description": "The month days to apply the recurrence to",
            "x-ms-visibility": "advanced"
          }
        },
        "byyearday": {
          "description": "The year days to apply the recurrence to",
          "type": "array",
          "title": "Recurrence year days",
          "items": {
            "format": "int32",
            "type": "integer",
            "description": "The year days to apply the recurrence to",
            "x-ms-visibility": "advanced"
          }
        },
        "byweekno": {
          "description": "The week numbers to apply the recurrence to",
          "type": "array",
          "title": "Recurrence week numbers",
          "items": {
            "format": "int32",
            "type": "integer",
            "description": "The week numbers to apply the recurrence to",
            "x-ms-visibility": "advanced"
          }
        },
        "byhour": {
          "description": "The hours to apply the recurrence to",
          "type": "array",
          "title": "Recurrence hours",
          "items": {
            "format": "int32",
            "type": "integer",
            "description": "The hours to apply the recurrence to",
            "x-ms-visibility": "advanced"
          }
        },
        "byminute": {
          "description": "The minutes to apply the recurrence to",
          "type": "array",
          "title": "Recurrence minutes",
          "items": {
            "format": "int32",
            "type": "integer",
            "description": "The minutes to apply the recurrence to",
            "x-ms-visibility": "advanced"
          }
        },
        "bysecond": {
          "description": "The seconds to apply the recurrence to",
          "type": "array",
          "title": "Recurrence seconds",
          "items": {
            "format": "int32",
            "type": "integer",
            "description": "The seconds to apply the recurrence to",
            "x-ms-visibility": "advanced"
          }
        }
      }
    },
    "WeekDay": {
      "title": "Recurrence week start day",
      "description": "The recurrence week start day",
      "enum": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "type": "string",
      "x-ms-visibility": "advanced"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [],
  "tags": []
}
