{
  "swagger": "2.0",
  "info": {
    "title": "HitHorizons",
    "version": "1.0",
    "description": "HitHorizons enables you to work with data of 75M+ European companies from 60 countries directly in your Microsoft products. Enrich you software with company data from various sources to provide you with a more complete and complex picture of the market, individual companies and their evolution over time.",
    "contact": {
      "name": "HitHorizons support",
      "url": "https://www.hithorizons.com/services/api",
      "email": "support@hithorizons.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.hithorizons.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.hithorizons.com/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence;Sales and CRM"
    }
  ],
  "host": "api.hithorizons.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/Company/Get": {
      "get": {
        "operationId": "Company-Get",
        "summary": "Retrieve company detail data by ID",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "HitHorizonsId",
            "in": "query",
            "type": "string",
            "description": "HitHorizons ID of the company to retrieve. HitHorizonsId can be retrieved by searching for the company using Company-Search or Company-SearchUnstructured operations.",
            "x-ms-summary": "ID of the company to retrieve",
            "required": true,
            "x-ms-visibility": "important"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CompanyDetailResultApiResponse"
            }
          }
        },
        "description": "Retrieve data of company specified by HitHorizonsId.",
        "x-ms-visibility": "important"
      }
    },
    "/Company/Search": {
      "get": {
        "operationId": "Company-Search",
        "summary": "Search for companies using structured query",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "DUNSNumber",
            "in": "query",
            "type": "string",
            "x-ms-summary": "DUNS Number to find",
            "description": "Company with the provided DUNS Number will be returned.",
            "x-ms-visibility": "important"
          },
          {
            "name": "CompanyName",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Value to search in company names",
            "description": "Company name and secondary name will be searched for this value.",
            "x-ms-visibility": "important"
          },
          {
            "name": "NationalId",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Value to search in company National ID",
            "description": "National ID will be searched for this value.",
            "x-ms-visibility": "important"
          },
          {
            "name": "AddressUnstructured",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Value to search in company address",
            "description": "Company address will be searched for this value. All address fields will be searched (street address, postal code, city, state/province). When country name is present in this field, the results are limited only to the given country. Any of the terms can be present in any of the address fields.",
            "x-ms-visibility": "important"
          },
          {
            "name": "AddressStreet",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Value to search in company street address",
            "description": "Company street address will be searched for this value. All terms must be present in either one of the street address lines.",
            "x-ms-visibility": "important"
          },
          {
            "name": "City",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Value to search in company city",
            "description": "Company city will be searched for this value. All terms must be present in city name.",
            "x-ms-visibility": "important"
          },
          {
            "name": "StateProvince",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Value to search in company state/province",
            "description": "Company state/province will be searched for this value. All terms must be present in state/province name.",
            "x-ms-visibility": "important"
          },
          {
            "name": "Country",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Country to limit the search in",
            "description": "Only companies in the given country will be searched.",
            "x-ms-visibility": "important"
          },
          {
            "name": "ShowBranches",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Whether to include branch records in results",
            "description": "When false (default), only main offices and single-location companies are retrieved. When true, also records marked as branch offices are included in the results.",
            "required": false,
            "default": false,
            "x-ms-visibility": "important"
          },
          {
            "name": "CompanyTypes",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Company types to be included in the results",
            "description": "Array of company types to search for. This value can be provided as a comma-separated list of values, instead of an array of values (i.e. CompanyTypes=3,13 , instead of CompanyTypes=3&CompanyTypes=13) Refer to the following codelist for available values: https://hithorizonsapim.portal.azure-api.net/api-docs/code-lists#companyType . When not provided, the following values are used by default: 0, 3, 10, 11, 12, 13, 14, 100, 102, 107, 120, 151, 154, 160, 167",
            "x-ms-visibility": "important"
          },
          {
            "name": "MaxResults",
            "in": "query",
            "description": "Max number of results to return. Default value is 20. Maximum possible value is 100.",
            "type": "integer",
            "default": 20,
            "x-ms-summary": "Max number of results to return",
            "x-ms-visibility": "important"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CompanySearchResponseApiResponse"
            }
          }
        },
        "description": "Search for companies using structured query.",
        "x-ms-visibility": "important"
      }
    },
    "/Company/SearchUnstructured": {
      "get": {
        "operationId": "Company-SearchUnstructured",
        "summary": "Search for companies using unstructured query",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "Ids",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Value to search in company IDs: HitHorizonsId, DUNSNumber and NationalId",
            "description": "All available IDs will be searched for the values in this field: HitHorizons ID, DUNS Number and National ID. Multiple values can be provided, separated by space.",
            "x-ms-visibility": "important"
          },
          {
            "name": "Name",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Value to search in company names and company IDs",
            "description": "Company name and secondary name will be searched for this value. Also, NationalId will be searched. If the format corresponds to the HitHorizonsId (starts with H-), HitHorizonsId will be searched. This field can be used for broad search using names and IDs for user convenience.",
            "x-ms-visibility": "important"
          },
          {
            "name": "Address",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Value to search in company address",
            "description": "Company address will be searched for this value. All address fields will be searched (street address, postal code, city, state/province). When country name is present in this field, the results are limited only to the given country.",
            "x-ms-visibility": "important"
          },
          {
            "name": "ShowBranches",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Whether to include branch records in results",
            "description": "When false (default), only main offices and single-location companies are retrieved. When true, also records marked as branch offices are included in the results.",
            "required": false,
            "default": false,
            "x-ms-visibility": "important"
          },
          {
            "name": "CompanyTypes",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Company types to be included in the results",
            "description": "Array of company types to search for. This value can be provided as a comma-separated list of values, instead of an array of values (i.e. CompanyTypes=3,13 , instead of CompanyTypes=3&CompanyTypes=13) Refer to the following codelist for available values: https://hithorizonsapim.portal.azure-api.net/api-docs/code-lists#companyType . When not provided, the following values are used by default: 0, 3, 10, 11, 12, 13, 14, 100, 102, 107, 120, 151, 154, 160, 167",
            "x-ms-visibility": "important"
          },
          {
            "name": "MaxResults",
            "in": "query",
            "description": "Max number of results to return. Default value is 20. Maximum possible value is 100.",
            "type": "integer",
            "default": 20,
            "x-ms-summary": "Max number of results to return",
            "x-ms-visibility": "important"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CompanySearchResponseApiResponse"
            }
          }
        },
        "description": "Search for companies using unstructured query.",
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {
    "SalesSegment": {
      "type": "object",
      "properties": {
        "SalesAnalysisSectorId": {
          "type": "string"
        },
        "SalesAnalysisStateProvince": {
          "type": "string"
        },
        "SalesAnalysisCountry": {
          "type": "string"
        },
        "SalesAnalysisRegion": {
          "type": "string"
        },
        "SalesAnalysisSICCode": {
          "type": "string"
        },
        "SalesAnalysisIndustry": {
          "type": "string"
        },
        "SalesAnalysisCompanyCount": {
          "format": "int32",
          "type": "integer"
        },
        "SalesAnalysisCurrency": {
          "type": "string"
        },
        "SalesAnalysisMedian": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "SalesAnalysisMin": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "SalesAnalysisMax": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "SalesAnalysisMarketSize": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "HitHorizonsSalesSizeRanking": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "CompleteSectorSalesAnalysisURL": {
          "type": "string"
        }
      }
    },
    "EmployeesSegment": {
      "type": "object",
      "properties": {
        "EmployeesAnalysisSectorId": {
          "type": "string"
        },
        "EmployeesAnalysisStateProvince": {
          "type": "string"
        },
        "EmployeesAnalysisCountry": {
          "type": "string"
        },
        "EmployeesAnalysisRegion": {
          "type": "string"
        },
        "EmployeesAnalysisSICCode": {
          "type": "string"
        },
        "EmployeesAnalysisIndustry": {
          "type": "string"
        },
        "EmployeesAnalysisCompanyCount": {
          "format": "int32",
          "type": "integer"
        },
        "EmployeesAnalysisMedian": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "EmployeesAnalysisMin": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "EmployeesAnalysisMax": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "EmployeesAnalysisSum": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "HitHorizonsEmployeesSizeRanking": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "CompleteSectorEmployeesAnalysisURL": {
          "type": "string"
        }
      }
    },
    "CompanyDetailResult": {
      "type": "object",
      "properties": {
        "HitHorizonsId": {
          "type": "string"
        },
        "DUNSNumber": {
          "type": "string"
        },
        "CompanyName": {
          "type": "string"
        },
        "CompanySecondaryName": {
          "type": "string"
        },
        "AddressStreetLine1": {
          "type": "string"
        },
        "AddressStreetLine2": {
          "type": "string"
        },
        "PostalCode": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "StateProvince": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "NationalId": {
          "type": "string"
        },
        "NationalIdType": {
          "type": "string"
        },
        "SICText": {
          "type": "string"
        },
        "SICCode": {
          "type": "string"
        },
        "Industry": {
          "type": "string"
        },
        "LocalActivityCode": {
          "type": "string"
        },
        "LocalActivityCodeType": {
          "type": "string"
        },
        "EstablishmentOfOwnership": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "SalesLocal": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "LocalCurrency": {
          "type": "string"
        },
        "SalesAccuracyIndicator": {
          "type": "string"
        },
        "SalesUSD": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "SalesEUR": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "HitHorizonsSalesAnalysis": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/SalesSegment"
          }
        },
        "EmployeesNumber": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "EmployeesNumberAccuracyIndicator": {
          "type": "string"
        },
        "EmployeesNumberTotal": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "EmployeesNumberTotalAccuracyIndicator": {
          "type": "string"
        },
        "HitHorizonsEmployeesAnalysis": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/EmployeesSegment"
          }
        },
        "CompanyType": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "LocationType": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "HitHorizonsCompanyProfileURL": {
          "type": "string"
        }
      }
    },
    "CompanyDetailResultApiResponse": {
      "type": "object",
      "properties": {
        "Success": {
          "type": "boolean"
        },
        "Error": {
          "type": "string"
        },
        "Result": {
          "$ref": "#/definitions/CompanyDetailResult"
        }
      }
    },
    "CompanySearchResult": {
      "type": "object",
      "properties": {
        "HitHorizonsId": {
          "type": "string"
        },
        "DUNSNumber": {
          "type": "string"
        },
        "CompanyName": {
          "type": "string"
        },
        "CompanySecondaryName": {
          "type": "string"
        },
        "AddressStreetLine1": {
          "type": "string"
        },
        "AddressStreetLine2": {
          "type": "string"
        },
        "PostalCode": {
          "type": "string"
        },
        "City": {
          "type": "string"
        },
        "StateProvince": {
          "type": "string"
        },
        "Country": {
          "type": "string"
        },
        "NationalId": {
          "type": "string"
        },
        "Industry": {
          "type": "string"
        },
        "EstablishmentOfOwnership": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "SalesEUR": {
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "EmployeesNumber": {
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "CompanyProfileURL": {
          "type": "string"
        }
      }
    },
    "CompanySearchResponse": {
      "type": "object",
      "properties": {
        "Results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CompanySearchResult"
          }
        },
        "ResultsCount": {
          "format": "int32",
          "type": "integer"
        },
        "TotalCount": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CompanySearchResponseApiResponse": {
      "type": "object",
      "properties": {
        "Success": {
          "type": "boolean"
        },
        "Error": {
          "type": "string"
        },
        "Result": {
          "$ref": "#/definitions/CompanySearchResponse"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}