{
  "swagger": "2.0",
  "info": {
    "version": "1.2.0",
    "title": "Coupa",
    "description": "Coupa P2P connector - 78 operations. OAuth 2.0 authorization code flow. Dynamic host via connection parameter.",
    "contact": {
      "name": "NovaGL",
      "url": "https://www.coupa.com",
      "email": "gl1@live.com"
    }
  },
  "host": "placeholder.coupahost.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get Items",
        "operationId": "GetItems",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "description[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Description contains value",
            "description": "Filter: Description contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "active",
            "type": "boolean",
            "x-ms-summary": "Active",
            "description": "Active",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier_items[supplier][name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Supplier Items contains value",
            "description": "Filter: Supplier Items contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier_items[supplier-part-num][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Supplier Items contains value",
            "description": "Filter: Supplier Items contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records created after this date (ISO 8601)",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated before this date (ISO 8601)",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name (e.g., created-at).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Item list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Items. Requires OAuth scope: core.item.read"
      }
    },
    "/items/{id}": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get Item by ID",
        "operationId": "GetItemById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter expression to narrow nested sub-objects in the response. E.g. filter=invoice-lines[status][in]=received.",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "Item",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Item by ID. Requires OAuth scope: core.item.read"
      }
    },
    "/suppliers": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Get Suppliers",
        "operationId": "GetSuppliers",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "number[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Number contains value",
            "description": "Filter: Number contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by status. Comma-separated values: active, inactive",
            "enum": [
              "active",
              "inactive"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records created after this date (ISO 8601)",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated before this date (ISO 8601)",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name (e.g., created-at).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Supplier"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Suppliers. Requires OAuth scope: core.supplier.read"
      }
    },
    "/suppliers/{id}": {
      "get": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Get Supplier by ID",
        "operationId": "GetSupplierById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter expression to narrow nested sub-objects in the response. E.g. filter=invoice-lines[status][in]=received.",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier",
            "schema": {
              "$ref": "#/definitions/Supplier"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Supplier by ID. Requires OAuth scope: core.supplier.read"
      },
      "put": {
        "tags": [
          "Suppliers"
        ],
        "summary": "Update Supplier",
        "operationId": "UpdateSupplier",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "$ref": "#/parameters/ContentTypeJson"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Supplier"
            },
            "x-ms-summary": "Supplier",
            "description": "Updated supplier payload. This is a partial update endpoint: send only the fields you want to change (for example, payment-term, status, po-method, or primary-contact)."
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier",
            "schema": {
              "$ref": "#/definitions/Supplier"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Update a supplier. Requires OAuth scope: core.supplier.write"
      }
    },
    "/supplier_information": {
      "get": {
        "tags": [
          "Supplier Information"
        ],
        "summary": "Get Supplier Information",
        "operationId": "GetSupplierInformation",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by status. Comma-separated values: active, inactive, draft",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated before this date (ISO 8601)",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name (e.g., updated-at).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier Information list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SupplierInformation"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Supplier Information records (SIM). Requires SIM API permissions in Coupa."
      }
    },
    "/supplier_information/{id}": {
      "get": {
        "tags": [
          "Supplier Information"
        ],
        "summary": "Get Supplier Information by ID",
        "operationId": "GetSupplierInformationById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier-name",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter expression to narrow nested sub-objects in the response.",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "Supplier Information",
            "schema": {
              "$ref": "#/definitions/SupplierInformation"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Supplier Information by ID (SIM). Requires SIM API permissions in Coupa."
      }
    },
    "/requisitions": {
      "get": {
        "tags": [
          "Requisitions"
        ],
        "summary": "Get Requisitions",
        "operationId": "GetRequisitions",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by status. Comma-separated values: draft, pending_approval, approved, ordered, soft_closed, closed, cancelled, rejected",
            "enum": [
              "draft",
              "pending_approval",
              "approved",
              "ordered",
              "soft_closed",
              "closed",
              "cancelled",
              "rejected"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "requested-by[login][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Requested By contains value",
            "description": "Filter: Requested By contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "req-title[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Req Title contains value",
            "description": "Filter: Req Title contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "requisition-lines[item][name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Requisition Lines contains value",
            "description": "Filter: Requisition Lines contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "created-at[gt]",
            "type": "string",
            "x-ms-summary": "Filter: Created At greater than value",
            "description": "Filter: Created At greater than value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated before this date (ISO 8601)",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name (e.g., created-at).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisition list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Requisition"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Requisitions. Requires OAuth scope: core.requisition.read"
      }
    },
    "/requisitions/{id}": {
      "get": {
        "tags": [
          "Requisitions"
        ],
        "summary": "Get Requisition by ID",
        "operationId": "GetRequisitionById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter expression to narrow nested sub-objects in the response. E.g. filter=invoice-lines[status][in]=received.",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisition",
            "schema": {
              "$ref": "#/definitions/Requisition"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Requisition by ID. Requires OAuth scope: core.requisition.read"
      }
    },
    "/purchase_orders": {
      "get": {
        "tags": [
          "Purchase Orders"
        ],
        "summary": "Get Purchase Orders",
        "operationId": "GetPurchaseOrders",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by status. Comma-separated values: draft, pending_buyer_action, pending_approval, issued, soft_closed, closed, cancelled",
            "enum": [
              "draft",
              "pending_buyer_action",
              "pending_approval",
              "issued",
              "soft_closed",
              "closed",
              "cancelled"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Supplier contains value",
            "description": "Filter: Supplier contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "ship-to-attention[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Ship To Attention contains value",
            "description": "Filter: Ship To Attention contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "created-at[gt]",
            "type": "string",
            "x-ms-summary": "Filter: Created At greater than value",
            "description": "Filter: Created At greater than value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated before this date (ISO 8601)",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "number[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Number contains value",
            "description": "Filter: Number contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier[id]",
            "type": "string",
            "x-ms-summary": "Supplier ID",
            "description": "Filter purchase orders by supplier Coupa ID",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "currency[code]",
            "type": "string",
            "x-ms-summary": "Currency Code",
            "description": "Filter purchase orders by ISO 4217 currency code (e.g., USD, AUD)",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name (e.g., created-at).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase Order list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PurchaseOrder"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Purchase Orders. Requires OAuth scope: core.purchase_order.read"
      }
    },
    "/order_pads": {
      "get": {
        "tags": [
          "Order Lists"
        ],
        "summary": "Get Order Lists",
        "operationId": "GetOrderPads",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "created-at[gt]",
            "type": "string",
            "x-ms-summary": "Filter: Created after",
            "description": "Filter: Created after this date/time (ISO 8601)",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "updated-at[gt]",
            "type": "string",
            "x-ms-summary": "Filter: Updated after",
            "description": "Filter: Updated after this date/time (ISO 8601)",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "updated-at[lt]",
            "type": "string",
            "x-ms-summary": "Filter: Updated before",
            "description": "Filter: Updated before this date/time (ISO 8601)",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Order List list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderPad"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Order Lists. Requires OAuth scope: core.order_pad.read"
      },
      "post": {
        "tags": [
          "Order Lists"
        ],
        "summary": "Create Order List",
        "operationId": "CreateOrderPad",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "$ref": "#/parameters/ContentTypeJson"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderPad"
            },
            "x-ms-summary": "Order List",
            "description": "Order List payload. Include name and optional order-pad-lines."
          }
        ],
        "responses": {
          "200": {
            "description": "Order List",
            "schema": {
              "$ref": "#/definitions/OrderPad"
            }
          },
          "201": {
            "description": "Order List created"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Create an Order List. Requires OAuth scope: core.order_pad.write"
      }
    },
    "/order_pads/{id}": {
      "get": {
        "tags": [
          "Order Lists"
        ],
        "summary": "Get Order List by ID",
        "operationId": "GetOrderPadById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,name,order-pad-lines",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "Order List",
            "schema": {
              "$ref": "#/definitions/OrderPad"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Order List by ID. Requires OAuth scope: core.order_pad.read"
      },
      "put": {
        "tags": [
          "Order Lists"
        ],
        "summary": "Update Order List",
        "operationId": "UpdateOrderPad",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "$ref": "#/parameters/ContentTypeJson"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderPad"
            },
            "x-ms-summary": "Order List",
            "description": "Updated Order List payload."
          }
        ],
        "responses": {
          "200": {
            "description": "Order List",
            "schema": {
              "$ref": "#/definitions/OrderPad"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Update an Order List. Requires OAuth scope: core.order_pad.write"
      }
    },
    "/order_pads/{order_pad_id}/order_pad_lines": {
      "get": {
        "tags": [
          "Order List Lines"
        ],
        "summary": "Get Order List Lines",
        "operationId": "GetOrderPadLines",
        "parameters": [
          {
            "in": "path",
            "name": "order_pad_id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Order List ID",
            "description": "Order List identifier."
          },
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          }
        ],
        "responses": {
          "200": {
            "description": "Order List Line list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderPadLine"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Order List Lines. Requires OAuth scope: core.order_pad.read"
      },
      "post": {
        "tags": [
          "Order List Lines"
        ],
        "summary": "Create Order List Line",
        "operationId": "CreateOrderPadLine",
        "parameters": [
          {
            "in": "path",
            "name": "order_pad_id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Order List ID",
            "description": "Order List identifier."
          },
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "$ref": "#/parameters/ContentTypeJson"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderPadLine"
            },
            "x-ms-summary": "Order List Line",
            "description": "Order List Line payload."
          }
        ],
        "responses": {
          "200": {
            "description": "Order List Line",
            "schema": {
              "$ref": "#/definitions/OrderPadLine"
            }
          },
          "201": {
            "description": "Order List Line created"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Create an Order List Line. Requires OAuth scope: core.order_pad.write"
      }
    },
    "/order_pads/{order_pad_id}/order_pad_lines/{id}": {
      "get": {
        "tags": [
          "Order List Lines"
        ],
        "summary": "Get Order List Line by ID",
        "operationId": "GetOrderPadLineById",
        "parameters": [
          {
            "in": "path",
            "name": "order_pad_id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Order List ID",
            "description": "Order List identifier."
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,name",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter expression to narrow nested sub-objects in the response.",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "Order List Line",
            "schema": {
              "$ref": "#/definitions/OrderPadLine"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Order List Line by ID. Requires OAuth scope: core.order_pad.read"
      },
      "put": {
        "tags": [
          "Order List Lines"
        ],
        "summary": "Update Order List Line",
        "operationId": "UpdateOrderPadLine",
        "parameters": [
          {
            "in": "path",
            "name": "order_pad_id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Order List ID",
            "description": "Order List identifier."
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "$ref": "#/parameters/ContentTypeJson"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderPadLine"
            },
            "x-ms-summary": "Order List Line",
            "description": "Updated Order List Line payload."
          }
        ],
        "responses": {
          "200": {
            "description": "Order List Line",
            "schema": {
              "$ref": "#/definitions/OrderPadLine"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Update an Order List Line. Requires OAuth scope: core.order_pad.write"
      }
    },
    "/order_headers/{id}": {
      "get": {
        "tags": [
          "Purchase Orders"
        ],
        "summary": "Get Purchase Order by ID",
        "operationId": "GetPurchaseOrderById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter expression to narrow nested sub-objects in the response. E.g. filter=invoice-lines[status][in]=received.",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase Order",
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Purchase Order by ID. Requires OAuth scope: core.purchase_order.read"
      }
    },
    "/receiving_transactions": {
      "get": {
        "tags": [
          "Receiving Transactions"
        ],
        "summary": "Get Receiving Transactions",
        "operationId": "GetReceivingTransactions",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by status. Comma-separated values: received, voided",
            "enum": [
              "received",
              "voided"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "item[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Item contains value",
            "description": "Filter: Item contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "order_line[order_header][id]",
            "type": "string",
            "x-ms-summary": "Filter: Order Line id",
            "description": "Filter: Order Line id",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "created-at[gt]",
            "type": "string",
            "x-ms-summary": "Filter: Created At greater than value",
            "description": "Filter: Created At greater than value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated before this date (ISO 8601)",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name (e.g., created-at).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "ReceivingTransaction list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ReceivingTransaction"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Receiving Transactions. Requires OAuth scope: core.receiving.read"
      }
    },
    "/receiving_transactions/{id}": {
      "get": {
        "tags": [
          "Receiving Transactions"
        ],
        "summary": "Get Receiving Transaction by ID",
        "operationId": "GetReceivingTransactionById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter expression to narrow nested sub-objects in the response. E.g. filter=invoice-lines[status][in]=received.",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "ReceivingTransaction",
            "schema": {
              "$ref": "#/definitions/ReceivingTransaction"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Receiving Transaction by ID. Requires OAuth scope: core.receiving.read"
      }
    },
    "/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get Invoices",
        "operationId": "GetInvoices",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by invoice status. Multiple values supported (comma-separated).",
            "enum": [
              "new",
              "draft",
              "pending_receipt",
              "pending_approval",
              "ap_hold",
              "on_hold",
              "booking_hold",
              "disputed",
              "approved",
              "voided",
              "processing",
              "payable_adjustment",
              "invalid",
              "rejected",
              "abandoned",
              "pending_action"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Supplier contains value",
            "description": "Filter: Supplier contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "invoice-number[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Invoice Number contains value",
            "description": "Filter: Invoice Number contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "po-number[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Po Number contains value",
            "description": "Filter: Po Number contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "created-at[gt]",
            "type": "string",
            "x-ms-summary": "Filter: Created At greater than value",
            "description": "Filter: Created At greater than value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated before this date (ISO 8601)",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "invoice-date[gt]",
            "type": "string",
            "x-ms-summary": "Filter: Invoice Date greater than value",
            "description": "Filter: Invoice Date greater than value",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "invoice-date[lt]",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Invoice Date Before",
            "description": "Return invoices with invoice date before this date (ISO 8601)",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier[id]",
            "type": "string",
            "x-ms-summary": "Supplier ID",
            "description": "Filter invoices by supplier Coupa ID",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "amount[gt]",
            "type": "string",
            "x-ms-summary": "Amount Greater Than",
            "description": "Filter invoices with total amount greater than this value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "amount[lt]",
            "type": "string",
            "x-ms-summary": "Amount Less Than",
            "description": "Filter invoices with total amount less than this value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name (e.g., created-at).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Invoice"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Query Invoice headers. Use return_object=shallow to embed invoice-lines. Note: /invoice_lines has NO standalone Coupa endpoint."
      }
    },
    "/invoices/{id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get Invoice by ID",
        "operationId": "GetInvoiceById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter expression to narrow nested sub-objects in the response. E.g. filter=invoice-lines[status][in]=received.",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get a single Invoice. Use return_object=shallow to include embedded invoice-lines."
      }
    },
    "/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get Addresses",
        "operationId": "GetAddresses",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "location-code[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Location Code contains value",
            "description": "Filter: Location Code contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "city[contains]",
            "type": "string",
            "x-ms-summary": "Filter: City contains value",
            "description": "Filter: City contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "postal-code[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Postal Code contains value",
            "description": "Filter: Postal Code contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "country[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Country contains value",
            "description": "Filter: Country contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records created after this date (ISO 8601)",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated before this date (ISO 8601)",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name (e.g., created-at).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Address list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Addresses. Requires OAuth scope: core.common.read"
      }
    },
    "/addresses/{id}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get Address by ID",
        "operationId": "GetAddressById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter expression to narrow nested sub-objects in the response. E.g. filter=invoice-lines[status][in]=received.",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "Address",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Address by ID. Requires OAuth scope: core.common.read"
      }
    },
    "/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get Contracts",
        "operationId": "GetContracts",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by status. Comma-separated values: draft, pending_approval, approved, expired, cancelled",
            "enum": [
              "draft",
              "pending_approval",
              "approved",
              "expired",
              "cancelled"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "number[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Number contains value",
            "description": "Filter: Number contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Supplier contains value",
            "description": "Filter: Supplier contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "start-date[gt]",
            "type": "string",
            "x-ms-summary": "Filter: Start Date greater than value",
            "description": "Filter: Start Date greater than value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "end-date[lt]",
            "type": "string",
            "x-ms-summary": "Filter: End Date less than value",
            "description": "Filter: End Date less than value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records created after this date (ISO 8601)",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated before this date (ISO 8601)",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier[id]",
            "type": "string",
            "x-ms-summary": "Supplier ID",
            "description": "Filter contracts by supplier Coupa ID",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name (e.g., created-at).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Contract"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Contracts. Requires OAuth scope: core.contract.read"
      }
    },
    "/contracts/{id}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get Contract by ID",
        "operationId": "GetContractById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter expression to narrow nested sub-objects in the response. E.g. filter=invoice-lines[status][in]=received.",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Contract by ID. Requires OAuth scope: core.contract.read"
      }
    },
    "/lookups": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "summary": "Get Lookups",
        "operationId": "GetLookups",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records created after this date (ISO 8601)",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated before this date (ISO 8601)",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name (e.g., created-at).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Lookup"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Lookups. Requires OAuth scope: core.common.read"
      }
    },
    "/lookups/{id}": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "summary": "Get Lookup by ID",
        "operationId": "GetLookupById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter expression to narrow nested sub-objects in the response. E.g. filter=invoice-lines[status][in]=received.",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/AcceptJson"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup",
            "schema": {
              "$ref": "#/definitions/Lookup"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Lookup by ID. Requires OAuth scope: core.common.read"
      }
    },
    "/lookup_values": {
      "get": {
        "tags": [
          "Lookup Values"
        ],
        "summary": "Get Lookup Values",
        "operationId": "GetLookupValues",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJson"
          },
          {
            "in": "query",
            "name": "lookup[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Lookup contains value",
            "description": "Filter: Lookup contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "active",
            "type": "boolean",
            "x-ms-summary": "Active",
            "description": "Active",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records created after this date (ISO 8601)",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "Return records updated before this date (ISO 8601)",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Limit",
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset",
            "description": "Number of records to skip before returning results.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Raw filter",
            "description": "Advanced Coupa filter expression (raw)."
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "Sort by field name (e.g., created-at).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "x-ms-summary": "Direction",
            "description": "Sort direction: asc or desc.",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "LookupValue list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LookupValue"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "description": "Get Lookup Values. Requires OAuth scope: core.common.read"
      }
    },
    "/lookup_values/{id}": {
      "get": {
        "tags": [
          "Lookup Values"
        ],
        "summary": "Get Lookup Value by ID",
        "operationId": "GetLookupValueById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Record ID",
            "description": "Resource numeric identifier."
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced",
            "description": "Controls response depth. 'limited' = key fields only, 'shallow' = top-level only (no nested objects), 'none' = minimal. Omit for full response.",
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
[...]
