{
  "swagger": "2.0",
  "info": {
    "version": "1.3.0",
    "title": "Coupa",
    "description": "Coupa P2P connector - 137 operations. OAuth 2.0 authorization code flow. Dynamic host via connection parameter.",
    "contact": {
      "name": "NovaGL",
      "url": "https://www.coupa.com",
      "email": "gl1@live.com"
    }
  },
  "host": "placeholder.coupahost.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Accounts",
        "operationId": "GetAccounts",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "code[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Code contains value",
            "description": "Filter: Code contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Account list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Accounts. Requires OAuth scope: core.common.read",
        "x-ms-trigger": "batch"
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get Account by ID",
        "operationId": "GetAccountById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Account",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Account by ID. Requires OAuth scope: core.common.read"
      }
    },
    "/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get Addresses",
        "operationId": "GetAddresses",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "location-code[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Location Code contains value",
            "description": "Filter: Location Code contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "city[contains]",
            "type": "string",
            "x-ms-summary": "Filter: City contains value",
            "description": "Filter: City contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "postal-code[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Postal Code contains value",
            "description": "Filter: Postal Code contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "country[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Country contains value",
            "description": "Filter: Country contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Address list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Addresses. Requires OAuth scope: core.common.read",
        "x-ms-trigger": "batch"
      }
    },
    "/addresses/{id}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Get Address by ID",
        "operationId": "GetAddressById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Address",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Address by ID. Requires OAuth scope: core.common.read"
      }
    },
    "/approvals": {
      "get": {
        "tags": [
          "Approvals"
        ],
        "summary": "Get Approvals",
        "operationId": "GetApprovals",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by status. Comma-separated values: pending_approval, approved, rejected",
            "enum": [
              "pending_approval",
              "approved",
              "rejected"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "approver[login][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Approver contains value",
            "description": "Filter: Approver contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Approval list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Approval"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Approvals. Requires OAuth scope: core.approval.read",
        "x-ms-trigger": "batch"
      }
    },
    "/approvals/{id}": {
      "get": {
        "tags": [
          "Approvals"
        ],
        "summary": "Get Approval by ID",
        "operationId": "GetApprovalById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Approval",
            "schema": {
              "$ref": "#/definitions/Approval"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Approval by ID. Requires OAuth scope: core.approval.read"
      }
    },
    "/budget_lines": {
      "get": {
        "tags": [
          "Budget Lines"
        ],
        "summary": "Get Budget Lines",
        "operationId": "GetBudgetLines",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "active",
            "type": "boolean",
            "x-ms-summary": "Active",
            "description": "Active",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "BudgetLine list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BudgetLine"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Budget Lines. Requires OAuth scope: core.budget.read",
        "x-ms-trigger": "batch"
      }
    },
    "/budget_lines/{id}": {
      "get": {
        "tags": [
          "Budget Lines"
        ],
        "summary": "Get Budget Line by ID",
        "operationId": "GetBudgetLineById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "BudgetLine",
            "schema": {
              "$ref": "#/definitions/BudgetLine"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Budget Line by ID. Requires OAuth scope: core.budget.read"
      }
    },
    "/commodities": {
      "get": {
        "tags": [
          "Commodities"
        ],
        "summary": "Get Commodities",
        "operationId": "GetCommodities",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "active",
            "type": "boolean",
            "x-ms-summary": "Active",
            "description": "Active",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Commodity list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Commodity"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Commodities. Requires OAuth scope: core.common.read",
        "x-ms-trigger": "batch"
      }
    },
    "/commodities/{id}": {
      "get": {
        "tags": [
          "Commodities"
        ],
        "summary": "Get Commodity by ID",
        "operationId": "GetCommodityById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Commodity",
            "schema": {
              "$ref": "#/definitions/Commodity"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Commodity by ID. Requires OAuth scope: core.common.read"
      }
    },
    "/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get Contracts",
        "operationId": "GetContracts",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by status. Comma-separated values: draft, pending_approval, approved, expired, cancelled",
            "enum": [
              "draft",
              "pending_approval",
              "approved",
              "expired",
              "cancelled"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "number[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Number contains value",
            "description": "Filter: Number contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Supplier contains value",
            "description": "Filter: Supplier contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "start-date[gt]",
            "type": "string",
            "x-ms-summary": "Filter: Start Date greater than value",
            "description": "Filter: Start Date greater than value",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "end-date[lt]",
            "type": "string",
            "x-ms-summary": "Filter: End Date less than value",
            "description": "Filter: End Date less than value",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "in": "query",
            "name": "supplier[id]",
            "type": "string",
            "x-ms-summary": "Supplier ID",
            "description": "Filter contracts by supplier Coupa ID",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Contract"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Contracts. Requires OAuth scope: core.contract.read",
        "x-ms-trigger": "batch"
      }
    },
    "/contracts/{id}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get Contract by ID",
        "operationId": "GetContractById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Contract by ID. Requires OAuth scope: core.contract.read"
      }
    },
    "/exchange_rates": {
      "get": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "Get Exchange Rates",
        "operationId": "GetExchangeRates",
        "description": "Query FX exchange rates.",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "from-currency[code][contains]",
            "type": "string",
            "x-ms-summary": "Filter: From Currency contains",
            "description": "Filter: From Currency contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "to-currency[code][contains]",
            "type": "string",
            "x-ms-summary": "Filter: To Currency contains",
            "description": "Filter: To Currency contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "rate-date[gt]",
            "type": "string",
            "format": "date-time",
            "x-nullable": true,
            "x-ms-summary": "Filter: Rate Date after",
            "description": "Rate Date greater than (ISO 8601).",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Exchange Rates",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExchangeRate"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "x-ms-trigger": "batch"
      }
    },
    "/exchange_rates/{id}": {
      "get": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "Get Exchange Rate by ID",
        "operationId": "GetExchangeRateById",
        "description": "Get a single exchange rate.",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Exchange Rate by ID",
            "schema": {
              "$ref": "#/definitions/ExchangeRate"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/inventory": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Get Inventory",
        "operationId": "GetInventory",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Inventory. Requires appropriate OAuth scope.",
        "x-ms-trigger": "batch"
      }
    },
    "/inventory/{id}": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Get Inventory by ID",
        "operationId": "GetInventoryById",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Inventory by ID. Requires appropriate OAuth scope."
      }
    },
    "/inventory_transactions": {
      "get": {
        "tags": [
          "Inventory Transactions"
        ],
        "summary": "Get Inventory Transactions",
        "operationId": "GetInventoryTransactions",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Inventory Transactions. Requires appropriate OAuth scope.",
        "x-ms-trigger": "batch"
      }
    },
    "/inventory_transactions/{id}": {
      "get": {
        "tags": [
          "Inventory Transactions"
        ],
        "summary": "Get Inventory Transaction by ID",
        "operationId": "GetInventoryTransactionById",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Inventory Transaction by ID. Requires appropriate OAuth scope."
      }
    },
    "/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get Invoices",
        "operationId": "GetInvoices",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by invoice status. Multiple values supported (comma-separated).",
            "enum": [
              "new",
              "draft",
              "pending_receipt",
              "pending_approval",
              "ap_hold",
              "on_hold",
              "booking_hold",
              "disputed",
              "approved",
              "voided",
              "processing",
              "payable_adjustment",
              "invalid",
              "rejected",
              "abandoned",
              "pending_action"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Supplier contains value",
            "description": "Filter: Supplier contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "invoice-number[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Invoice Number contains value",
            "description": "Filter: Invoice Number contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "po-number[contains]",
            "type": "string",
            "x-ms-summary": "Filter: PO Number contains value",
            "description": "Filter invoices by PO number (partial match). Only returns invoices linked to a PO. Leave blank to retrieve all invoices regardless of PO association.",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "in": "query",
            "name": "invoice-date[gt]",
            "type": "string",
            "x-ms-summary": "Filter: Invoice Date greater than value",
            "description": "Filter: Invoice Date greater than value",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "invoice-date[lt]",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Invoice Date Before",
            "description": "Return invoices with invoice date before this date (ISO 8601)",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier[id]",
            "type": "string",
            "x-ms-summary": "Supplier ID",
            "description": "Filter invoices by supplier Coupa ID",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "amount[gt]",
            "type": "number",
            "x-ms-summary": "Amount Greater Than",
            "description": "Filter invoices with total amount greater than this value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "amount[lt]",
            "type": "number",
            "x-ms-summary": "Amount Less Than",
            "description": "Filter invoices with total amount less than this value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "invoice_lines[supplier_part_num][contains]",
            "type": "string",
            "x-ms-summary": "Invoice Line Supplier Part Number contains",
            "description": "Filter invoices where any invoice line has a supplier part number containing this value. Invoice lines have no standalone endpoint; use this to find invoices by line-level supplier part number.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "invoice_lines[supplier_part_num]",
            "type": "string",
            "x-ms-summary": "Invoice Line Supplier Part Number (exact)",
            "description": "Filter invoices where any invoice line has this exact supplier part number.",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Invoice"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Query Invoice headers. Use return_object=shallow to embed invoice-lines. Note: /invoice_lines has NO standalone Coupa endpoint.",
        "x-ms-trigger": "batch"
      }
    },
    "/invoices/{id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get Invoice by ID",
        "operationId": "GetInvoiceById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get a single Invoice. Use return_object=shallow to include embedded invoice-lines."
      },
      "patch": {
        "tags": [
          "Invoices"
        ],
        "summary": "Update invoice",
        "description": "Update invoice",
        "parameters": [
          {
            "name": "InvoiceHeader",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/InvoiceHeader"
            }
          },
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          }
        ],
        "responses": {
          "200": {
            "description": "InvoiceHeader object",
            "schema": {
              "$ref": "#/definitions/InvoiceHeader"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "operationId": "PatchInvoice"
      },
      "put": {
        "tags": [
          "Invoices"
        ],
        "summary": "Update invoice",
        "description": "Update invoice",
        "parameters": [
          {
            "name": "InvoiceHeader",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/InvoiceHeader"
            }
          },
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          }
        ],
        "responses": {
          "200": {
            "description": "InvoiceHeader object",
            "schema": {
              "$ref": "#/definitions/InvoiceHeader"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "operationId": "PutInvoice"
      },
      "delete": {
        "tags": [
          "Invoices"
        ],
        "summary": "Delete Invoice in New status",
        "description": "Delete Invoice in New status",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "operationId": "DeleteInvoices"
      }
    },
    "/invoices/{id}/attachments": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get Invoice Attachments",
        "operationId": "GetInvoiceAttachments",
        "description": "Get attachments for an Invoice.",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Invoice Attachments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Attachment"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/invoices/{id}/comments": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get Invoice Comments",
        "operationId": "GetInvoiceComments",
        "description": "Get comments for an Invoice.",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Invoice Comments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Comment"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/items": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get Items",
        "operationId": "GetItems",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "description[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Description contains value",
            "description": "Filter: Description contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "active",
            "type": "boolean",
            "x-ms-summary": "Active",
            "description": "Active",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier_items[supplier][name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Supplier Items contains value",
            "description": "Filter: Supplier Items contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier_items[supplier-part-num][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Supplier Items contains value",
            "description": "Filter: Supplier Items contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Item list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Item"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Items. Requires OAuth scope: core.item.read",
        "x-ms-trigger": "batch"
      }
    },
    "/items/{id}": {
      "get": {
        "tags": [
          "Items"
        ],
        "summary": "Get Item by ID",
        "operationId": "GetItemById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Item",
            "schema": {
              "$ref": "#/definitions/Item"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Item by ID. Requires OAuth scope: core.item.read"
      }
    },
    "/lookup_values": {
      "get": {
        "tags": [
          "Lookup Values"
        ],
        "summary": "Get Lookup Values",
        "operationId": "GetLookupValues",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "lookup[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Lookup contains value",
            "description": "Filter: Lookup contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "active",
            "type": "boolean",
            "x-ms-summary": "Active",
            "description": "Active",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "LookupValue list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LookupValue"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Lookup Values. Requires OAuth scope: core.common.read",
        "x-ms-trigger": "batch"
      },
      "post": {
        "tags": [
          "Lookup Values"
        ],
        "summary": "Create Lookup Value",
        "operationId": "CreateLookupValue",
        "description": "Create a new Lookup Value. Requires OAuth scope core.common.write",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/ContentTypeParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LookupValueWrite"
            },
            "x-ms-summary": "Lookup Value",
            "description": "Lookup Value payload"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup Value",
            "schema": {
              "$ref": "#/definitions/LookupValue"
            }
          },
          "201": {
            "description": "Lookup Value created"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/lookup_values/{id}": {
      "get": {
        "tags": [
          "Lookup Values"
        ],
        "summary": "Get Lookup Value by ID",
        "operationId": "GetLookupValueById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "LookupValue",
            "schema": {
              "$ref": "#/definitions/LookupValue"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Lookup Value by ID. Requires OAuth scope: core.common.read"
      },
      "put": {
        "tags": [
          "Lookup Values"
        ],
        "summary": "Update Lookup Value",
        "operationId": "UpdateLookupValue",
        "description": "Update an existing Lookup Value. Requires OAuth scope core.common.write",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LookupValueWrite"
            },
            "x-ms-summary": "Lookup Value",
            "description": "Updated Lookup Value payload"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup Value",
            "schema": {
              "$ref": "#/definitions/LookupValue"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/lookups": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "summary": "Get Lookups",
        "operationId": "GetLookups",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Lookup"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Lookups. Requires OAuth scope: core.common.read",
        "x-ms-trigger": "batch"
      }
    },
    "/lookups/{id}": {
      "get": {
        "tags": [
          "Lookups"
        ],
        "summary": "Get Lookup by ID",
        "operationId": "GetLookupById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup",
            "schema": {
              "$ref": "#/definitions/Lookup"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Lookup by ID. Requires OAuth scope: core.common.read"
      }
    },
    "/order_pads": {
      "get": {
        "tags": [
          "Order Lists"
        ],
        "summary": "Get Order Lists",
        "operationId": "GetOrderPads",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Order List list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderPad"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Order Lists. Requires OAuth scope: core.order_pad.read",
        "x-ms-trigger": "batch"
      },
      "post": {
        "tags": [
          "Order Lists"
        ],
        "summary": "Create Order List",
        "operationId": "CreateOrderPad",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/ContentTypeParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderPad"
            },
            "x-ms-summary": "Order List",
            "description": "Order List payload. Include name and optional order-pad-lines."
          }
        ],
        "responses": {
          "200": {
            "description": "Order List",
            "schema": {
              "$ref": "#/definitions/OrderPad"
            }
          },
          "201": {
            "description": "Order List created"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Create an Order List. Requires OAuth scope: core.order_pad.write"
      }
    },
    "/order_pads/{id}": {
      "get": {
        "tags": [
          "Order Lists"
        ],
        "summary": "Get Order List by ID",
        "operationId": "GetOrderPadById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Order List",
            "schema": {
              "$ref": "#/definitions/OrderPad"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Order List by ID. Requires OAuth scope: core.order_pad.read"
      },
      "put": {
        "tags": [
          "Order Lists"
        ],
        "summary": "Update Order List",
        "operationId": "UpdateOrderPad",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/ContentTypeParam"
          },
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderPad"
            },
            "x-ms-summary": "Order List",
            "description": "Updated Order List payload."
          }
        ],
        "responses": {
          "200": {
            "description": "Order List",
            "schema": {
              "$ref": "#/definitions/OrderPad"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Update an Order List. Requires OAuth scope: core.order_pad.write"
      }
    },
    "/order_pads/{order_pad_id}/order_pad_lines": {
      "get": {
        "tags": [
          "Order List Lines"
        ],
        "summary": "Get Order List Lines",
        "operationId": "GetOrderPadLines",
        "parameters": [
          {
            "in": "path",
            "name": "order_pad_id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Order List ID",
            "description": "Order List identifier."
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Order List Line list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OrderPadLine"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Order List Lines. Requires OAuth scope: core.order_pad.read"
      },
      "post": {
        "tags": [
          "Order List Lines"
        ],
        "summary": "Create Order List Line",
        "operationId": "CreateOrderPadLine",
        "parameters": [
          {
            "in": "path",
            "name": "order_pad_id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Order List ID",
            "description": "Order List identifier."
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/ContentTypeParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderPadLine"
            },
            "x-ms-summary": "Order List Line",
            "description": "Order List Line payload."
          }
        ],
        "responses": {
          "200": {
            "description": "Order List Line",
            "schema": {
              "$ref": "#/definitions/OrderPadLine"
            }
          },
          "201": {
            "description": "Order List Line created"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Create an Order List Line. Requires OAuth scope: core.order_pad.write"
      }
    },
    "/order_pads/{order_pad_id}/order_pad_lines/{id}": {
      "get": {
        "tags": [
          "Order List Lines"
        ],
        "summary": "Get Order List Line by ID",
        "operationId": "GetOrderPadLineById",
        "parameters": [
          {
            "in": "path",
            "name": "order_pad_id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Order List ID",
            "description": "Order List identifier."
          },
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Order List Line",
            "schema": {
              "$ref": "#/definitions/OrderPadLine"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Order List Line by ID. Requires OAuth scope: core.order_pad.read"
      },
      "put": {
        "tags": [
          "Order List Lines"
        ],
        "summary": "Update Order List Line",
        "operationId": "UpdateOrderPadLine",
        "parameters": [
          {
            "in": "path",
            "name": "order_pad_id",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Order List ID",
            "description": "Order List identifier."
          },
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/ContentTypeParam"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderPadLine"
            },
            "x-ms-summary": "Order List Line",
            "description": "Updated Order List Line payload."
          }
        ],
        "responses": {
          "200": {
            "description": "Order List Line",
            "schema": {
              "$ref": "#/definitions/OrderPadLine"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Update an Order List Line. Requires OAuth scope: core.order_pad.write"
      }
    },
    "/payment_terms": {
      "get": {
        "tags": [
          "Payment Terms"
        ],
        "summary": "Get Payment Terms",
        "operationId": "GetPaymentTerms",
        "description": "Query payment terms reference data.",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "code[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Code contains",
            "description": "Filter: Code contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Payment Terms",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PaymentTerm"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "x-ms-trigger": "batch"
      }
    },
    "/payment_terms/{id}": {
      "get": {
        "tags": [
          "Payment Terms"
        ],
        "summary": "Get Payment Term by ID",
        "operationId": "GetPaymentTermById",
        "description": "Get a single payment term.",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Payment Term by ID",
            "schema": {
              "$ref": "#/definitions/PaymentTerm"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/purchase_order_changes": {
      "get": {
        "tags": [
          "Purchase Order Changes"
        ],
        "summary": "Get Purchase Order Changes",
        "operationId": "GetPurchaseOrderChanges",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "purchase_order[id]",
            "type": "string",
            "x-ms-summary": "Filter: Purchase Order id",
            "description": "Filter: Purchase Order id",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase Order Change list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PurchaseOrderChange"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Purchase Order Changes. Requires OAuth scope: core.purchase_order.read",
        "x-ms-trigger": "batch"
      }
    },
    "/purchase_order_changes/{id}": {
      "get": {
        "tags": [
          "Purchase Order Changes"
        ],
        "summary": "Get Purchase Order Change by ID",
        "operationId": "GetPurchaseOrderChangeById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase Order Change",
            "schema": {
              "$ref": "#/definitions/PurchaseOrderChange"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Purchase Order Change by ID. Requires OAuth scope: core.purchase_order.read"
      }
    },
    "/purchase_order_lines": {
      "get": {
        "tags": [
          "Purchase Order Lines"
        ],
        "summary": "Get PO Lines",
        "operationId": "GetPurchaseOrderLines",
        "description": "Get all purchase order lines across all POs. Supports filtering by supplier part number and other fields. Requires OAuth scope: core.purchase_order.read",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "order_header[id]",
            "type": "string",
            "x-ms-summary": "Purchase Order ID",
            "description": "Filter lines by parent purchase order Coupa ID.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "source_part_num[contains]",
            "type": "string",
            "x-ms-summary": "Source Part Number contains",
            "description": "Filter lines where source part number contains this value.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "source_part_num",
            "type": "string",
            "x-ms-summary": "Source Part Number exact",
            "description": "Filter lines by exact source part number.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "item[name][contains]",
            "type": "string",
            "x-ms-summary": "Item Name contains",
            "description": "Filter lines where the item name contains this value.",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "status",
            "type": "string",
            "x-ms-summary": "Status",
            "description": "Filter by line status (e.g., issued, closed, cancelled).",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "order_header[supplier][id]",
            "type": "string",
            "x-ms-summary": "Supplier ID",
            "description": "Filter lines by supplier Coupa ID.",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "PO Line list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PurchaseOrderLine"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "x-ms-trigger": "batch"
      }
    },
    "/purchase_order_lines/{id}": {
      "get": {
        "tags": [
          "Purchase Order Lines"
        ],
        "summary": "Get PO Line by ID",
        "operationId": "GetPurchaseOrderLineById",
        "description": "Get a specific purchase order line by its Coupa ID. Requires OAuth scope: core.purchase_order.read",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          }
        ],
        "responses": {
          "200": {
            "description": "PO Line",
            "schema": {
              "$ref": "#/definitions/PurchaseOrderLine"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/purchase_orders": {
      "get": {
        "tags": [
          "Purchase Orders"
        ],
        "summary": "Get Purchase Orders",
        "operationId": "GetPurchaseOrders",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by status. Comma-separated values: draft, pending_buyer_action, pending_approval, issued, soft_closed, closed, cancelled",
            "enum": [
              "draft",
              "pending_buyer_action",
              "pending_approval",
              "issued",
              "soft_closed",
              "closed",
              "cancelled"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Supplier contains value",
            "description": "Filter: Supplier contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "ship-to-attention[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Ship To Attention contains value",
            "description": "Filter: Ship To Attention contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/CreatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedAfterParam"
          },
          {
            "$ref": "#/parameters/UpdatedBeforeParam"
          },
          {
            "in": "query",
            "name": "number[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Number contains value",
            "description": "Filter: Number contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "supplier[id]",
            "type": "string",
            "x-ms-summary": "Supplier ID",
            "description": "Filter purchase orders by supplier Coupa ID",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "currency[code]",
            "type": "string",
            "x-ms-summary": "Currency Code",
            "description": "Filter purchase orders by ISO 4217 currency code (e.g., USD, AUD)",
            "x-ms-visibility": "advanced"
          },
          {
            "$ref": "#/parameters/LimitParam"
          },
          {
            "$ref": "#/parameters/OffsetParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/OrderByParam"
          },
          {
            "$ref": "#/parameters/DirectionParam"
          },
          {
            "name": "order_lines[source_part_num][contains]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter POs where any order line source part number contains this value.",
            "x-ms-summary": "Order Line Source Part Number contains",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order_lines[source_part_num]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter POs by exact order line source part number.",
            "x-ms-summary": "Order Line Source Part Number exact",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase Order list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PurchaseOrder"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Purchase Orders. Requires OAuth scope: core.purchase_order.read",
        "x-ms-trigger": "batch"
      }
    },
    "/purchase_orders/{id}": {
      "get": {
        "tags": [
          "Purchase Orders"
        ],
        "summary": "Get Purchase Order by ID",
        "operationId": "GetPurchaseOrderById",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase Order",
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Get Purchase Order by ID. Requires OAuth scope: core.purchase_order.read"
      }
    },
    "/purchase_orders/{id}/attachments": {
      "get": {
        "tags": [
          "Purchase Orders"
        ],
        "summary": "Get Purchase Order Attachments",
        "operationId": "GetPurchaseOrderAttachments",
        "description": "Get attachments for a PO.",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get PO Attachments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Attachment"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      }
    },
    "/purchase_orders/{id}/cancel": {
      "put": {
        "tags": [
          "Purchase Orders"
        ],
        "summary": "Cancel Purchase Order",
        "operationId": "CancelPurchaseOrder",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "PO cancelled",
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Cancel a purchase order. Requires OAuth scope: core.purchase_order.write"
      }
    },
    "/purchase_orders/{id}/close": {
      "put": {
        "tags": [
          "Purchase Orders"
        ],
        "summary": "Close Purchase Order",
        "operationId": "ClosePurchaseOrder",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "PO closed",
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Close a purchase order. Requires OAuth scope: core.purchase_order.write"
      }
    },
    "/purchase_orders/{id}/comments": {
      "get": {
        "tags": [
          "Purchase Orders"
        ],
        "summary": "Get Purchase Order Comments",
        "operationId": "GetPurchaseOrderComments",
        "description": "Get comments for a PO.",
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/ReturnObjectParam"
          },
          {
            "$ref": "#/parameters/FieldsParam"
          },
          {
            "$ref": "#/parameters/FilterParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get PO Comments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Comment"
              }
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/IdPathParam"
          },
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "commentable-type": {
                  "type": "string",
                  "description": "commentable-type",
                  "title": "commentable-type",
                  "default": "OrderHeader"
                },
                "comments": {
                  "type": "string",
                  "description": "comments",
                  "title": "Comments"
                }
              }
            }
          }
        ],
        "summary": "Comments - Add Purchase Order Comment",
        "description": "POST a comment on PurchaseOrder",
        "operationId": "Comments_PO_Create",
        "tags": [
          "Purchase Orders"
        ]
      }
    },
    "/purchase_orders/{id}/issue": {
      "put": {
        "tags": [
          "Purchase Orders"
        ],
        "summary": "Issue Purchase Order",
        "operationId": "IssuePurchaseOrder",
        "parameters": [
          {
            "$ref": "#/parameters/AcceptJsonParam"
          },
          {
            "$ref": "#/parameters/IdPathParam"
          }
        ],
        "responses": {
          "200": {
            "description": "PO issued",
            "schema": {
              "$ref": "#/definitions/PurchaseOrder"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "429": {
            "$ref": "#/responses/TooManyRequests"
          }
        },
        "description": "Issue a purchase order, sending it to the supplier. Requires OAuth scope: core.purchase_order.write"
      }
    },
    "/purchase_orders/{id}/reopen": {
      "put": {
        "tags": [
          "Purchase Orders"
        ],
        "summary": "Reopen Purchase Order",
        "operationId": "ReopenPurchaseOrder",
[...]
