{
  "swagger": "2.0",
  "info": {
    "title": "Google Books",
    "description": "Search and discover data and details about and within books available in the vast library of Google",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_goob@gmail.com"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/books/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/volumes": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "title": "Kind",
                  "description": "Kind of the result data"
                },
                "totalItems": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of result items",
                  "title": "Total Items"
                },
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string",
                        "description": "Kind of the result data",
                        "title": "Kind"
                      },
                      "id": {
                        "type": "string",
                        "description": "Unique id of the volume",
                        "title": "Id"
                      },
                      "etag": {
                        "type": "string",
                        "description": "Etag of the volume",
                        "title": "Etag"
                      },
                      "selfLink": {
                        "type": "string",
                        "description": "URL Link for the volume",
                        "title": "Self Link"
                      },
                      "volumeInfo": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "Title of the volume",
                            "title": "Title"
                          },
                          "authors": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Array of authors of the volume",
                            "title": "Authors"
                          },
                          "publisher": {
                            "type": "string",
                            "description": "Publisher of the volume",
                            "title": "Publisher"
                          },
                          "publishedDate": {
                            "type": "string",
                            "description": "Date when the volume was published",
                            "title": "Published Date"
                          },
                          "description": {
                            "type": "string",
                            "description": "Short description of the volume",
                            "title": "Description"
                          },
                          "industryIdentifiers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Type of industry identifier",
                                  "title": "Type"
                                },
                                "identifier": {
                                  "type": "string",
                                  "description": "Industry identifier, eg. ISBN",
                                  "title": "Number"
                                }
                              }
                            },
                            "description": "Available industry identifiers (eg. ISBN)",
                            "title": "Industry Identifier"
                          },
                          "readingModes": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "boolean",
                                "description": "Is Text?",
                                "title": "Text"
                              },
                              "image": {
                                "type": "boolean",
                                "description": "Is Image?",
                                "title": "Image"
                              }
                            },
                            "description": "Available reading modes for the volume",
                            "title": "Reading Mode"
                          },
                          "pageCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of pages in the volume",
                            "title": "Page Count"
                          },
                          "printType": {
                            "type": "string",
                            "description": "Type of print",
                            "title": "Print Type"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of categorization tags of the volume",
                            "title": "Categories"
                          },
                          "averageRating": {
                            "type": "number",
                            "format": "float",
                            "description": "Average of ratings",
                            "title": "Average Rating"
                          },
                          "ratingsCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of ratings",
                            "title": "Ratings Count"
                          },
                          "maturityRating": {
                            "type": "string",
                            "description": "Maturity of rating",
                            "title": "Maturity Rating"
                          },
                          "allowAnonLogging": {
                            "type": "boolean",
                            "description": "Allow Anon Logging?",
                            "title": "Allow Anon Logging"
                          },
                          "contentVersion": {
                            "type": "string",
                            "description": "Version of content",
                            "title": "Content Version"
                          },
                          "panelizationSummary": {
                            "type": "object",
                            "properties": {
                              "containsEpubBubbles": {
                                "type": "boolean",
                                "description": "Contains epub bubbles?",
                                "title": "Contains Epub Bubbles"
                              },
                              "containsImageBubbles": {
                                "type": "boolean",
                                "description": "Contains image bubbles?",
                                "title": "Contains Image Bubbles"
                              }
                            },
                            "description": "Summary of panelization",
                            "title": "Panelization Summary"
                          },
                          "imageLinks": {
                            "type": "object",
                            "properties": {
                              "smallThumbnail": {
                                "type": "string",
                                "description": "Small Thumbnail",
                                "title": "Small Thumbnail"
                              },
                              "thumbnail": {
                                "type": "string",
                                "description": "Thumbnail",
                                "title": "Thumbnail"
                              }
                            },
                            "description": "URL links of related images",
                            "title": "Image Link"
                          },
                          "language": {
                            "type": "string",
                            "description": "Language code of the volume",
                            "title": "Language"
                          },
                          "previewLink": {
                            "type": "string",
                            "description": "URL link to the preview",
                            "title": "Preview Link"
                          },
                          "infoLink": {
                            "type": "string",
                            "description": "URL link to volume information",
                            "title": "Info Link"
                          },
                          "canonicalVolumeLink": {
                            "type": "string",
                            "description": "URL link to the canonical volume",
                            "title": "Canonical Volume Link"
                          },
                          "subtitle": {
                            "type": "string",
                            "description": "Subtitle of the volume",
                            "title": "Subtitle"
                          }
                        },
                        "description": "Information about the volume",
                        "title": "Volume Info"
                      },
                      "saleInfo": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "Country of sale",
                            "title": "Country"
                          },
                          "saleability": {
                            "type": "string",
                            "description": "Saleability",
                            "title": "Saleability"
                          },
                          "isEbook": {
                            "type": "boolean",
                            "description": "Is ebook?",
                            "title": "Is Ebook"
                          },
                          "listPrice": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number",
                                "format": "float",
                                "description": "Amount",
                                "title": "Amount"
                              },
                              "currencyCode": {
                                "type": "string",
                                "description": "Currency Code",
                                "title": "Currency Code"
                              }
                            },
                            "description": "List Price",
                            "title": "List Price"
                          },
                          "retailPrice": {
                            "type": "object",
                            "properties": {
                              "amount": {
                                "type": "number",
                                "format": "float",
                                "description": "Amount",
                                "title": "Amount"
                              },
                              "currencyCode": {
                                "type": "string",
                                "description": "Currency Code",
                                "title": "Currency Code"
                              }
                            },
                            "description": "Retail Price",
                            "title": "Retail Price"
                          },
                          "buyLink": {
                            "type": "string",
                            "description": "URL link to buy the volume",
                            "title": "Buy Link"
                          },
                          "offers": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "finskyOfferType": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Finsky Offer Type",
                                  "title": "Finsky Offer Type"
                                },
                                "listPrice": {
                                  "type": "object",
                                  "properties": {
                                    "amountInMicros": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Amount In Micros",
                                      "title": "Amount in Micros"
                                    },
                                    "currencyCode": {
                                      "type": "string",
                                      "description": "Currency Code",
                                      "title": "Currency Code"
                                    }
                                  },
                                  "description": "List Price",
                                  "title": "List Price"
                                },
                                "retailPrice": {
                                  "type": "object",
                                  "properties": {
                                    "amountInMicros": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Amount in Micros",
                                      "title": "Amount in Micros"
                                    },
                                    "currencyCode": {
                                      "type": "string",
                                      "description": "Currency Code",
                                      "title": "Currency Code"
                                    }
                                  },
                                  "description": "Retail Price",
                                  "title": "Retail Price"
                                },
                                "giftable": {
                                  "type": "boolean",
                                  "description": "Is giftable?",
                                  "title": "Giftable"
                                }
                              }
                            },
                            "description": "Available offers",
                            "title": "Offers"
                          }
                        },
                        "description": "Sale information",
                        "title": "Sale Info"
                      },
                      "accessInfo": {
                        "type": "object",
                        "properties": {
                          "country": {
                            "type": "string",
                            "description": "Country code",
                            "title": "Country"
                          },
                          "viewability": {
                            "type": "string",
                            "description": "Viewability",
                            "title": "Viewability"
                          },
                          "embeddable": {
                            "type": "boolean",
                            "description": "Is embeddable?",
                            "title": "Embeddable"
                          },
                          "publicDomain": {
                            "type": "boolean",
                            "description": "Is public domain?",
                            "title": "Public Domain"
                          },
                          "textToSpeechPermission": {
                            "type": "string",
                            "description": "Text to Speech permission",
                            "title": "Text To Speech Permission"
                          },
                          "epub": {
                            "type": "object",
                            "properties": {
                              "isAvailable": {
                                "type": "boolean",
                                "description": "isAvailable",
                                "title": "Is available?"
                              },
                              "acsTokenLink": {
                                "type": "string",
                                "description": "URL link to acsToken",
                                "title": "AcsToken Link"
                              }
                            },
                            "description": "Epub",
                            "title": "Epub"
                          },
                          "pdf": {
                            "type": "object",
                            "properties": {
                              "isAvailable": {
                                "type": "boolean",
                                "description": "Is available?",
                                "title": "Is Available"
                              },
                              "acsTokenLink": {
                                "type": "string",
                                "description": "URL link to acsToken",
                                "title": "AcsToken Link"
                              }
                            },
                            "description": "PDF",
                            "title": "PDF"
                          },
                          "webReaderLink": {
                            "type": "string",
                            "description": "URL link for WebReader",
                            "title": "WebReader Link"
                          },
                          "accessViewStatus": {
                            "type": "string",
                            "description": "Status of access view",
                            "title": "Access View Status"
                          },
                          "quoteSharingAllowed": {
                            "type": "boolean",
                            "description": "Is quote sharing allowed?",
                            "title": "Quote Sharing Allowed"
                          }
                        },
                        "description": "Access information",
                        "title": "Access Info"
                      },
                      "searchInfo": {
                        "type": "object",
                        "properties": {
                          "textSnippet": {
                            "type": "string",
                            "description": "textSnippet",
                            "title": "Text snippet"
                          }
                        },
                        "description": "Search information",
                        "title": "Search Info"
                      }
                    }
                  },
                  "description": "Items",
                  "title": "Items"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Error code",
                      "title": "Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "title": "Message"
                    }
                  },
                  "title": "Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Error code",
                      "title": "Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "title": "Message"
                    }
                  },
                  "title": "Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Error code",
                      "title": "Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "title": "Message"
                    }
                  },
                  "title": "Error"
                }
              }
            }
          }
        },
        "summary": "Search Volumes",
        "operationId": "SearchVolume",
        "description": "Query multiple volumes and books within the public Google library.",
        "parameters": [{
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query String",
            "description": "A valid query string for the Google Books API"
          }, {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Max Results",
            "description": "The maximum number of results to return. Default is 10, max. allowed is 40"
          }, {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "Set preset search filter to restrict the returned results",
            "enum": [
              "partial",
              "full",
              "free-ebooks",
              "paid-ebooks",
              "ebooks"
            ],
            "x-ms-visibility": "advanced"
          }, {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Start Index",
            "description": "The position in the collection at which to start. Index for the first item is 0",
            "x-ms-visibility": "advanced"
          }, {
            "name": "printType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Print Type",
            "description": "Use print type to restrict results to a specific print or publication type",
            "enum": [
              "all",
              "books",
              "magazines"
            ],
            "x-ms-visibility": "advanced"
          }, {
            "name": "projection",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Pre-set Projection",
            "description": "Restrict the returned fields with a predefined set",
            "enum": [
              "full",
              "lite"
            ],
            "x-ms-visibility": "advanced"
          }, {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Order By",
            "description": "Set the ordering of results by one of the options. Default is relevance",
            "enum": [
              "relevance",
              "newest"
            ],
            "x-ms-visibility": "advanced"
          }, {
            "name": "langRestrict",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Language Restriction",
            "description": "Restrict to results that are tagged with the specified ISO-639-1 language code, eg. fr",
            "x-ms-visibility": "advanced"
          }, {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Select Fields",
            "description": "Select a custom subset of fields which should be returned with the results instead of all",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/volumes/{volumeId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "title": "Kind",
                  "description": "Kind of the result data"
                },
                "id": {
                  "type": "string",
                  "description": "Unique id of the volume",
                  "title": "Id"
                },
                "etag": {
                  "type": "string",
                  "description": "Etag of the volume",
                  "title": "Etag"
                },
                "selfLink": {
                  "type": "string",
                  "description": "URL Link for the volume",
                  "title": "Self Link"
                },
                "volumeInfo": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "description": "Title of the volume",
                      "title": "Title"
                    },
                    "subtitle": {
                      "type": "string",
                      "description": "Subtitle of the volume",
                      "title": "Subtitle"
                    },
                    "authors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of authors of the volume",
                      "title": "Authors"
                    },
                    "publisher": {
                      "type": "string",
                      "description": "Publisher of the volume",
                      "title": "Publisher"
                    },
                    "publishedDate": {
                      "type": "string",
                      "description": "Date when the volume was published",
                      "title": "Published Date"
                    },
                    "description": {
                      "type": "string",
                      "description": "Short description of the volume",
                      "title": "Description"
                    },
                    "industryIdentifiers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of industry identifier",
                            "title": "Type"
                          },
                          "identifier": {
                            "type": "string",
                            "description": "Industry identifier, eg. ISBN",
                            "title": "Identifier"
                          }
                        }
                      },
                      "description": "Available industry identifiers (eg. ISBN)",
                      "title": "Industry Identifiers"
                    },
                    "readingModes": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "boolean",
                          "description": "Text",
                          "title": "Text"
                        },
                        "image": {
                          "type": "boolean",
                          "description": "Image",
                          "title": "Image"
                        }
                      },
                      "description": "Available reading modes for the volume",
                      "title": "Reading Modes"
                    },
                    "pageCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of pages in the volume",
                      "title": "Page Count"
                    },
                    "printedPageCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of printed pages in the volume",
                      "title": "Printed Page Count"
                    },
                    "dimensions": {
                      "type": "object",
                      "properties": {
                        "height": {
                          "type": "string",
                          "description": "Height of the volume",
                          "title": "Height"
                        },
                        "width": {
                          "type": "string",
                          "description": "Width of the volume",
                          "title": "Width"
                        },
                        "thickness": {
                          "type": "string",
                          "description": "Thickness of the volume",
                          "title": "Thickness"
                        }
                      },
                      "description": "Dimensions of the volume",
                      "title": "Dimensions"
                    },
                    "printType": {
                      "type": "string",
                      "description": "Type of print",
                      "title": "Print Type"
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of categorization tags of the volume",
                      "title": "Categories"
                    },
                    "averageRating": {
                      "type": "number",
                      "format": "float",
                      "description": "Average of ratings",
                      "title": "Average Rating"
                    },
                    "ratingsCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of ratings",
                      "title": "Ratings Count"
                    },
                    "maturityRating": {
                      "type": "string",
                      "description": "Maturity of rating",
                      "title": "Maturity Rating"
                    },
                    "allowAnonLogging": {
                      "type": "boolean",
                      "description": "Allow Anon Logging?",
                      "title": "Allow Anon Logging"
                    },
                    "contentVersion": {
                      "type": "string",
                      "description": "Version of content",
                      "title": "Content Version"
                    },
                    "panelizationSummary": {
                      "type": "object",
                      "properties": {
                        "containsEpubBubbles": {
                          "type": "boolean",
                          "description": "Contains epub bubbles?",
                          "title": "Contains Epub Bubbles"
                        },
                        "containsImageBubbles": {
                          "type": "boolean",
                          "description": "Contains image bubbles?",
                          "title": "Contains Image Bubbles"
                        }
                      },
                      "description": "Summary of panelization",
                      "title": "Panelization Summary"
                    },
                    "imageLinks": {
                      "type": "object",
                      "properties": {
                        "smallThumbnail": {
                          "type": "string",
                          "description": "Small Thumbnail",
                          "title": "Small Thumbnail"
                        },
                        "thumbnail": {
                          "type": "string",
                          "description": "Thumbnail",
                          "title": "Thumbnail"
                        },
                        "small": {
                          "type": "string",
                          "description": "Small Image",
                          "title": "Small Image"
                        },
                        "medium": {
                          "type": "string",
                          "description": "Medium Image",
                          "title": "Medium Image"
                        },
                        "large": {
                          "type": "string",
                          "description": "Large Image",
                          "title": "Large Image"
                        }
                      },
                      "description": "URL links of related images",
                      "title": "Image Links"
                    },
                    "language": {
                      "type": "string",
                      "description": "Language code of the volume",
                      "title": "Language"
                    },
                    "previewLink": {
                      "type": "string",
                      "description": "URL link to the preview",
                      "title": "Preview Link"
                    },
                    "infoLink": {
                      "type": "string",
                      "description": "URL link to volume information",
                      "title": "Info Link"
                    },
                    "canonicalVolumeLink": {
                      "type": "string",
                      "description": "URL link to the canonical volume",
                      "title": "Canonical Volume Link"
                    }
                  },
                  "description": "Information about the volume",
                  "title": "Volume Info"
                },
                "layerInfo": {
                  "type": "object",
                  "properties": {
                    "layers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "layerId": {
                            "type": "string",
                            "description": "Layer Id",
                            "title": "Layer Id"
                          },
                          "volumeAnnotationsVersion": {
                            "type": "string",
                            "description": "Volume Annotations Version",
                            "title": "Volume Annotations Version"
                          }
                        }
                      },
                      "description": "Layers",
                      "title": "Layers"
                    }
                  },
                  "description": "Layer information",
                  "title": "Layer Info"
                },
                "saleInfo": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string",
                      "description": "Country of sale",
                      "title": "Country"
                    },
                    "saleability": {
                      "type": "string",
                      "description": "Saleability",
                      "title": "Saleability"
                    },
                    "isEbook": {
                      "type": "boolean",
                      "description": "Is ebook?",
                      "title": "Is Ebook"
                    },
                    "listPrice": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "format": "float",
                          "description": "Amount",
                          "title": "Amount"
                        },
                        "currencyCode": {
                          "type": "string",
                          "description": "Currency Code",
                          "title": "Currency Code"
                        }
                      },
                      "description": "List Price",
                      "title": "List Price"
                    },
                    "retailPrice": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "format": "float",
                          "description": "Amount",
                          "title": "Amount"
                        },
                        "currencyCode": {
                          "type": "string",
                          "description": "Currency Code",
                          "title": "Currency Code"
                        }
                      },
                      "description": "Retail Price",
                      "title": "Retail Price"
                    },
                    "buyLink": {
                      "type": "string",
                      "description": "URL link to buy the volume",
                      "title": "Buy Link"
                    },
                    "offers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "finskyOfferType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Finsky Offer Type",
                            "title": "Finsky Offer Type"
                          },
                          "listPrice": {
                            "type": "object",
                            "properties": {
                              "amountInMicros": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Amount In Micros",
                                "title": "Amount in Micros"
                              },
                              "currencyCode": {
                                "type": "string",
                                "description": "Currency Code",
                                "title": "Currency Code"
                              }
                            },
                            "description": "List Price",
                            "title": "List Price"
                          },
                          "retailPrice": {
                            "type": "object",
                            "properties": {
                              "amountInMicros": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Amount In Micros",
                                "title": "Amount in Micros"
                              },
                              "currencyCode": {
                                "type": "string",
                                "description": "Currency Code",
                                "title": "Currency Code"
                              }
                            },
                            "description": "Retail Price",
                            "title": "Retail Price"
                          },
                          "giftable": {
                            "type": "boolean",
                            "description": "Is giftable?",
                            "title": "Giftable"
                          }
                        }
                      },
                      "description": "Available offers",
                      "title": "Offers"
                    }
                  },
                  "description": "Sale information",
                  "title": "Sale Info"
                },
                "accessInfo": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string",
                      "description": "Country code",
                      "title": "Country"
                    },
                    "viewability": {
                      "type": "string",
                      "description": "Viewability",
                      "title": "Viewability"
                    },
                    "embeddable": {
                      "type": "boolean",
                      "description": "Is embeddable?",
                      "title": "Embeddable"
                    },
                    "publicDomain": {
                      "type": "boolean",
                      "description": "Is public domain?",
                      "title": "Public Domain"
                    },
                    "textToSpeechPermission": {
                      "type": "string",
                      "description": "Text to Speech permission",
                      "title": "Text To Speech Permission"
                    },
                    "epub": {
                      "type": "object",
                      "properties": {
                        "isAvailable": {
                          "type": "boolean",
                          "description": "isAvailable",
                          "title": "Is available?"
                        },
                        "acsTokenLink": {
                          "type": "string",
                          "description": "URL link to acsToken",
                          "title": "AcsToken Link"
                        }
                      },
                      "description": "Epub",
                      "title": "Epub"
                    },
                    "pdf": {
                      "type": "object",
                      "properties": {
                        "isAvailable": {
                          "type": "boolean",
                          "description": "Is available?",
                          "title": "Is Available"
                        },
                        "acsTokenLink": {
                          "type": "string",
                          "description": "URL link to acsToken",
                          "title": "AcsToken Link"
                        }
                      },
                      "description": "PDF",
                      "title": "PDF"
                    },
                    "webReaderLink": {
                      "type": "string",
                      "description": "URL link for WebReader",
                      "title": "WebReader Link"
                    },
                    "accessViewStatus": {
                      "type": "string",
                      "description": "Status of access view",
                      "title": "Access View Status"
                    },
                    "quoteSharingAllowed": {
                      "type": "boolean",
                      "description": "Is quote sharing allowed?",
                      "title": "Quote Sharing Allowed"
                    }
                  },
                  "description": "Access information",
                  "title": "Access Info"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Error code",
                      "title": "Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "title": "Message"
                    }
                  },
                  "title": "Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Error code",
                      "title": "Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "title": "Message"
                    }
                  },
                  "title": "Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Error code",
                      "title": "Code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "title": "Message"
                    }
                  },
                  "title": "Error"
                }
              }
            }
          }
        },
        "summary": "Get Volume",
        "operationId": "GetVolume",
        "description": "Get a specific volume data by ID.",
        "parameters": [{
            "name": "volumeId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Volume Id",
            "x-ms-url-encoding": "single",
            "description": "A valid and unique Google Books volume ID"
          }, {
            "name": "projection",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Restrict the returned fields with a predefined set",
            "enum": [
              "full",
              "lite"
            ],
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Pre-set Projection"
          }, {
            "name": "langRestrict",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Language Restriction",
            "description": "Restrict to results that are tagged with the specified ISO-639-1 language code, eg. fr",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [{
      "propertyName": "Website",
      "propertyValue": "https://developers.google.com/books/docs/v1/using"
    }, {
      "propertyName": "Privacy policy",
      "propertyValue": "https://policies.google.com/privacy"
    }, {
      "propertyName": "Categories",
      "propertyValue": "Data;Content and Files"
    }
  ]
}