{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "title": "Formstack Documents",
    "description": "Automatically populate templates with data from your favorite cloud apps.  Never copy & paste again!",
    "contact": {
      "name": "Formstack Support",
      "url": "https://support.webmerge.me/hc/en-us",
      "email": "support@formstack.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "version": "1.0.0"
  },
  "host": "www.webmerge.me",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic",
      "description": "HTTP Basic Authentication. Works over `HTTPS`"
    }
  },
  "basePath": "/api",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/documents": {
      "get": {
        "x-ms-visibility": "internal",
        "summary": "Get Documents",
        "description": "This endpoint returns information about the documents in a user's account. The response includes the display name and other details about each documents.",
        "operationId": "GetDocuments",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search documents for this string.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Search string"
          },
          {
            "name": "folder",
            "in": "query",
            "description": "Return list of documents in this folder.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Folder name"
          }
        ],
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "An array of documents is returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Document"
              }
            }
          }
        }
      }
    },
    "/documents/{id}/fields": {
      "get": {
        "x-ms-visibility": "internal",
        "summary": "Get Document Fields",
        "description": "This endpoint returns the fields inside the selected document.",
        "operationId": "GetDocumentFields",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Document ID to query.",
            "required": true,
            "type": "number",
            "x-ms-summary": "Document ID"
          },
          {
            "name": "format",
            "in": "query",
            "default": "json_swagger",
            "x-ms-visibility": "internal",
            "type": "string",
            "required": true
          }
        ],
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "Returns an array of fields.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Field"
              }
            }
          }
        }
      }
    },
    "/documents/{id}/merge": {
      "post": {
        "summary": "Merge Document",
        "description": "This endpoint merges data into a document.",
        "operationId": "MergeDocument",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Document ID to merge.",
            "required": true,
            "type": "number",
            "x-ms-summary": "Pick Document",
            "x-ms-dynamic-values": {
              "operationId": "GetDocuments",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "fields",
            "in": "body",
            "required": true,
            "schema": {
              "description": "An object that represents the posting of fields.",
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetDocumentFields",
                "parameters": {
                  "id": {
                    "parameter": "id"
                  },
                  "format": "json_swagger"
                },
                "value-path": "schema/items"
              }
            },
            "x-ms-summary": "The fields to send to Formstack Documents"
          },
          {
            "name": "download",
            "in": "query",
            "default": "url",
            "x-ms-visibility": "internal",
            "type": "string",
            "required": true
          }
        ],
        "tags": [
          "Documents"
        ],
        "responses": {
          "200": {
            "description": "Returns the response from the merge request.",
            "schema": {
              "$ref": "#/definitions/MergedDocument"
            }
          },
          "201": {
            "description": "Returns the response from the merge request.",
            "schema": {
              "$ref": "#/definitions/MergedDocument"
            }
          }
        }
      }
    },
    "/routes": {
      "get": {
        "x-ms-visibility": "internal",
        "summary": "Get Data Routes",
        "description": "This endpoint returns information about the data routes in a user's account. The response includes the display name and other details about each data route.",
        "operationId": "GetRoutes",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search data routes for this string.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Search string"
          },
          {
            "name": "folder",
            "in": "query",
            "description": "Return list of data routes in this folder.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Folder name"
          }
        ],
        "tags": [
          "Data Routes"
        ],
        "responses": {
          "200": {
            "description": "An array of data routes is returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Route"
              }
            }
          }
        }
      }
    },
    "/routes/{id}/fields": {
      "get": {
        "x-ms-visibility": "internal",
        "summary": "Get Data Route Fields",
        "description": "This endpoint returns the fields inside the selected data route.",
        "operationId": "GetRouteFields",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Data Route ID",
            "required": true,
            "type": "number",
            "x-ms-summary": "Date Route ID"
          },
          {
            "name": "format",
            "in": "query",
            "default": "json_swagger",
            "x-ms-visibility": "internal",
            "type": "string",
            "required": true
          }
        ],
        "tags": [
          "Data Routes"
        ],
        "responses": {
          "200": {
            "description": "An array of fields is returned.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Field"
              }
            }
          }
        }
      }
    },
    "/routes/{id}/merge": {
      "post": {
        "summary": "Merge Data Route",
        "description": "This endpoint merges data into a data route.",
        "operationId": "MergeRoute",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Data Route ID.",
            "required": true,
            "type": "number",
            "x-ms-summary": "Pick Data Route",
            "x-ms-dynamic-values": {
              "operationId": "GetRoutes",
              "parameters": {},
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "fields",
            "in": "body",
            "required": true,
            "schema": {
              "description": "An object that represents the posting of fields.",
              "type": "object",
              "properties": {},
              "x-ms-dynamic-schema": {
                "operationId": "GetRouteFields",
                "parameters": {
                  "id": {
                    "parameter": "id"
                  },
                  "format": "json_swagger"
                },
                "value-path": "schema/items"
              }
            },
            "x-ms-summary": "The fields to send to Formstack Documents"
          },
          {
            "name": "download",
            "in": "query",
            "default": "url",
            "x-ms-visibility": "internal",
            "type": "string",
            "required": true
          },
          {
            "name": "list_files",
            "in": "query",
            "default": "1",
            "x-ms-visibility": "internal",
            "type": "string",
            "required": true
          }
        ],
        "tags": [
          "Data Routes"
        ],
        "responses": {
          "200": {
            "description": "The merge response is returned.",
            "schema": {
              "$ref": "#/definitions/MergedRoute"
            }
          },
          "201": {
            "description": "The merge response is returned.",
            "schema": {
              "$ref": "#/definitions/MergedRoute"
            }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.formstack.com/products/documents"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.formstack.com/legal/website-privacy-policy"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Productivity;Sales and CRM"
      }
    ],
  "definitions": {
    "Document": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "description": "Unique identifier representing the specific document.",
          "x-ms-summary": "Document ID"
        },
        "key": {
          "type": "string",
          "description": "Unique key used to authenticate a document during merge.",
          "x-ms-summary": "Document Key"
        },
        "type": {
          "type": "string",
          "description": "The type of document (template type).",
          "x-ms-summary": "Type"
        },
        "name": {
          "type": "string",
          "description": "The name of the document.",
          "x-ms-summary": "Name"
        },
        "output_name": {
          "type": "string",
          "description": "The name of the merged document.",
          "x-ms-summary": "Output Name"
        },
        "size_width": {
          "type": "string",
          "description": "The page width of the PDF.",
          "x-ms-summary": "Width"
        },
        "size_height": {
          "type": "string",
          "description": "The page height of the PDF.",
          "x-ms-summary": "Height"
        },
        "active": {
          "type": "number",
          "description": "A 1/0 boolean indicating if the document is active.",
          "x-ms-summary": "Active"
        },
        "url": {
          "type": "string",
          "description": "The Merge URL for the document.",
          "x-ms-summary": "Merge URL"
        },
        "fields": {
          "type": "array",
          "description": "The fields inside the document.",
          "x-ms-summary": "Fields",
          "items": {
            "$ref": "#/definitions/Field"
          }
        }
      }
    },
    "Route": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "description": "Unique identifier for the data route.",
          "x-ms-summary": "Route ID"
        },
        "key": {
          "type": "string",
          "description": "Unique key used to authenticate a data route during merge.",
          "x-ms-summary": "Route Key"
        },
        "name": {
          "type": "string",
          "description": "The name of the data route.",
          "x-ms-summary": "Name"
        },
        "url": {
          "type": "string",
          "description": "The Merge URL for the data route.",
          "x-ms-summary": "Merge URL"
        },
        "fields": {
          "type": "array",
          "description": "The fields inside the data route.",
          "x-ms-summary": "Fields",
          "items": {
            "$ref": "#/definitions/Field"
          }
        }
      }
    },
    "Field": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Unique identifier for the merge field.",
          "x-ms-summary": "Key"
        },
        "name": {
          "type": "string",
          "description": "The name of the merge field.",
          "x-ms-summary": "Name"
        }
      }
    },
    "MergedDocument": {
      "type": "object",
      "properties": {
        "success": {
          "type": "number",
          "description": "Will return 1 if the request was a success.",
          "x-ms-summary": "Success Response"
        },
        "name": {
          "type": "string",
          "description": "The name of the merged file.",
          "x-ms-summary": "File Name"
        },
        "url": {
          "type": "string",
          "description": "The temporary URL to the merged document.",
          "x-ms-summary": "Merged Document URL"
        }
      }
    },
    "MergedRoute": {
      "type": "object",
      "properties": {
        "success": {
          "type": "number",
          "description": "Will return 1 if the request was a success.",
          "x-ms-summary": "Success Response"
        },
        "files": {
          "type": "array",
          "description": "The files from the data route.",
          "x-ms-summary": "Files",
          "items": {
            "$ref": "#/definitions/File"
          }
        }
      }
    },
    "File": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the file.",
          "x-ms-summary": "File Name"
        },
        "url": {
          "type": "string",
          "description": "The temporary URL to the merged document.",
          "x-ms-summary": "Merged Document URL"
        },
        "document_id": {
          "type": "string",
          "description": "The ID of the merged document.",
          "x-ms-summary": "Merged Document ID"
        }
      }
    },
    "Success": {
      "type": "object",
      "properties": {
        "success": {
          "type": "number",
          "description": "Will return 1 if the request was a success.",
          "x-ms-summary": "Success Response"
        }
      }
    },
    "Error": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "This is the error message that is received.",
          "x-ms-summary": "Error Response"
        }
      }
    }
  }
}