{
  "swagger": "2.0",
  "info": {
    "title": "Storm Glass",
    "description": "The Storm Glass API allows you to fetch weather data for any coordinate on the globe in a simple, programmatic way using conventional HTTP requests",
    "version": "1.0"
  },
  "host": "api.stormglass.io",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/weather/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "hours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "airTemperature": {
                        "type": "object",
                        "description": "Air temperature in degrees celsius"
                      },
                      "airTemperature1000hpa": {
                        "type": "object",
                        "description": "Air temperature at 1000hpa in degrees celsius"
                      },
                      "airTemperature100m": {
                        "type": "object",
                        "description": "Air temperature at 100m above sea level in degrees celsius"
                      },
                      "airTemperature200hpa": {
                        "type": "object",
                        "description": "Air temperature at 200hpa in degrees celsius"
                      },
                      "airTemperature500hpa": {
                        "type": "object",
                        "description": "Air temperature at 500hpa in degrees celsius"
                      },
                      "airTemperature800hpa": {
                        "type": "object",
                        "description": "Air temperature at 800hpa in degrees celsius"
                      },
                      "airTemperature80m": {
                        "type": "object",
                        "description": "Air temperature at 80m above sea level in degrees celsius"
                      },
                      "cloudCover": {
                        "type": "object",
                        "description": "Total cloud coverage in percent"
                      },
                      "currentDirection": {
                        "type": "object",
                        "description": "Direction of current. 0\u00b0 indicates current coming from north"
                      },
                      "currentSpeed": {
                        "type": "object",
                        "description": "Speed of current in meters per second"
                      },
                      "gust": {
                        "type": "object",
                        "description": "Wind gust in meters per second"
                      },
                      "humidity": {
                        "type": "object",
                        "description": "Relative humidity in percent"
                      },
                      "iceCover": {
                        "type": "object",
                        "description": "Ice Cover Proportion, 0-1"
                      },
                      "precipitation": {
                        "type": "object",
                        "description": "Mean precipitation in kg/m\u00b2/h = mm/h"
                      },
                      "pressure": {
                        "type": "object",
                        "description": "pressure"
                      },
                      "seaLevel": {
                        "type": "object",
                        "description": "Sea level relative to MSL"
                      },
                      "secondarySwellDirection": {
                        "type": "object",
                        "description": "Direction of secondary swell waves. 0\u00b0 indicates swell coming from north"
                      },
                      "secondarySwellHeight": {
                        "type": "object",
                        "description": "Height of secondary swell waves in meters"
                      },
                      "secondarySwellPeriod": {
                        "type": "object",
                        "description": "Period of secondary swell waves in seconds"
                      },
                      "snowDepth": {
                        "type": "object",
                        "description": "snowDepth"
                      },
                      "swellDirection": {
                        "type": "object",
                        "description": "Direction of swell waves. 0\u00b0 indicates swell coming from north"
                      },
                      "swellHeight": {
                        "type": "object",
                        "description": "Height of swell waves in meters"
                      },
                      "swellPeriod": {
                        "type": "object",
                        "description": "Period of swell waves in seconds"
                      },
                      "time": {
                        "type": "string",
                        "description": "time"
                      },
                      "visibility": {
                        "type": "object",
                        "description": "Horizontal visibility in km"
                      },
                      "waterTemperature": {
                        "type": "object",
                        "description": "Water temperature in degrees celsius"
                      },
                      "waveDirection": {
                        "type": "object",
                        "description": "Direction of combined wind and swell waves. 0\u00b0 indicates waves coming from north"
                      },
                      "waveHeight": {
                        "type": "object",
                        "description": "Significant Height of combined wind and swell waves in meters"
                      },
                      "wavePeriod": {
                        "type": "object",
                        "description": "Period of combined wind and swell waves in seconds"
                      },
                      "windDirection": {
                        "type": "object",
                        "description": "Direction of wind at 10m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection1000hpa": {
                        "type": "object",
                        "description": "Direction of wind at 1000hpa. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection100m": {
                        "type": "object",
                        "description": "Direction of wind at 100m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection200hpa": {
                        "type": "object",
                        "description": "Direction of wind at 200hpa. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection20m": {
                        "type": "object",
                        "description": "Direction of wind at 20m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection30m": {
                        "type": "object",
                        "description": "Direction of wind at 30m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection40m": {
                        "type": "object",
                        "description": "Direction of wind at 40m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection500hpa": {
                        "type": "object",
                        "description": "Direction of wind at 500hpa. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection50m": {
                        "type": "object",
                        "description": "Direction of wind at 50m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection800hpa": {
                        "type": "object",
                        "description": "Direction of wind at 800hpa. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection80m": {
                        "type": "object",
                        "description": "Direction of wind at 80m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windSpeed": {
                        "type": "object",
                        "description": "Speed of wind at 10m above sea level in meters per second."
                      },
                      "windSpeed1000hpa": {
                        "type": "object",
                        "description": "Speed of wind at 1000hpa in meters per second."
                      },
                      "windSpeed100m": {
                        "type": "object",
                        "description": "Speed of wind at 100m above sea level in meters per second"
                      },
                      "windSpeed200hpa": {
                        "type": "object",
                        "description": "Speed of wind at 200hpa in meters per second."
                      },
                      "windSpeed20m": {
                        "type": "object",
                        "description": "Speed of wind at 20m above sea level in meters per second."
                      },
                      "windSpeed30m": {
                        "type": "object",
                        "description": "Speed of wind at 30m above sea level in meters per second."
                      },
                      "windSpeed40m": {
                        "type": "object",
                        "description": "Speed of wind at 40m above sea level in meters per second."
                      },
                      "windSpeed500hpa": {
                        "type": "object",
                        "description": "Speed of wind at 500hpa in meters per second."
                      },
                      "windSpeed50m": {
                        "type": "object",
                        "description": "Speed of wind at 50m above sea level in meters per second."
                      },
                      "windSpeed800hpa": {
                        "type": "object",
                        "description": "Speed of wind at 800hpa in meters per second."
                      },
                      "windSpeed80m": {
                        "type": "object",
                        "description": "Speed of wind at 80m above sea level in meters per second."
                      },
                      "windWaveDirection": {
                        "type": "object",
                        "description": "Direction of wind waves. 0\u00b0 indicates waves coming from north"
                      },
                      "windWaveHeight": {
                        "type": "object",
                        "description": "Height of wind waves in meters"
                      },
                      "windWavePeriod": {
                        "type": "object",
                        "description": "Period of wind waves in seconds"
                      }
                    }
                  },
                  "description": "hours"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "cost": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cost"
                    },
                    "dailyQuota": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Daily API Call Quota"
                    },
                    "end": {
                      "type": "string",
                      "description": "end"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude"
                    },
                    "params": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "params"
                    },
                    "requestCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "requestCount"
                    },
                    "start": {
                      "type": "string",
                      "description": "start"
                    }
                  },
                  "description": "Metadata"
                }
              }
            }
          }
        },
        "summary": "Weather Point Request",
        "description": "The weather request is used to fetch weather data for a point. To get marine data you include a coordinate at sea in your request, and to get data for land and lakes - simply send in a coordinate located on land or on a lake.",
        "operationId": "WeatherPointRequest",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Latitude of the desired coordinate",
            "x-ms-summary": "Latitude"
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Longitude of the desired coordinate",
            "x-ms-summary": "Longitude"
          },
          {
            "name": "params",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma separeted list of parameters, Eg swellHeight,waveHeight",
            "x-ms-summary": "Parameters"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Timestamp in UTC for first forecast hour - UNIX format or URL encoded ISO format.",
            "x-ms-summary": "Start Time"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Timestamp in UTC for last forecast hour - UNIX format or URL encoded ISO format.",
            "x-ms-summary": "End Time"
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specify a single source or a comma separated list of sources. Eg noaa or dwd,noaa",
            "x-ms-summary": "Sources"
          }
        ]
      }
    },
    "/bio/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "hours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chlorophyll": {
                        "type": "object",
                        "description": "Mass concentration of chlorophyll a in sea water"
                      },
                      "iron": {
                        "type": "object",
                        "description": "Mole concentration of dissolved iron in sea water"
                      },
                      "nitrate": {
                        "type": "object",
                        "description": "Mole concentration of nitrate in sea water"
                      },
                      "oxygen": {
                        "type": "object",
                        "description": "Mole concentration of dissolved molecular oxygen in sea water"
                      },
                      "ph": {
                        "type": "object",
                        "description": "Sea water ph reported on total scale"
                      },
                      "phosphate": {
                        "type": "object",
                        "description": "Mole concentration of phosphate in sea water"
                      },
                      "phyto": {
                        "type": "object",
                        "description": "Net primary production of biomass expressed as carbon per unit volume in sea water"
                      },
                      "phytoplankton": {
                        "type": "object",
                        "description": "phytoplankton"
                      },
                      "salinity": {
                        "type": "object",
                        "description": "Sea water salinity given in per mille"
                      },
                      "silicate": {
                        "type": "object",
                        "description": "Mole concentration of silicate in sea water"
                      },
                      "soilMoisture": {
                        "type": "object",
                        "description": "Volumetric soil moisture content at 0 to 10 cm below surface"
                      },
                      "soilMoisture100cm": {
                        "type": "object",
                        "description": "Volumetric soil moisture content at 100 to 200 cm below surface"
                      },
                      "soilMoisture10cm": {
                        "type": "object",
                        "description": "Volumetric soil moisture content at 10 to 40 cm below surface"
                      },
                      "soilMoisture40cm": {
                        "type": "object",
                        "description": "Volumetric soil moisture content at 40 to 100 cm below surface"
                      },
                      "soilTemperature": {
                        "type": "object",
                        "description": "Soil temperature at 0 to 10 cm below surface"
                      },
                      "soilTemperature100cm": {
                        "type": "object",
                        "description": "Soil temperature at 100 to 200 cm below surface"
                      },
                      "soilTemperature10cm": {
                        "type": "object",
                        "description": "Soil temperature at 10 to 40 cm below surface"
                      },
                      "soilTemperature40cm": {
                        "type": "object",
                        "description": "Soil temperature at 40 to 100 cm below surface"
                      },
                      "surfaceTemperature": {
                        "type": "object",
                        "description": "Surface Temperature"
                      },
                      "time": {
                        "type": "string",
                        "description": "time"
                      }
                    }
                  },
                  "description": "hours"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "cost": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cost"
                    },
                    "dailyQuota": {
                      "type": "integer",
                      "format": "int32",
                      "description": "dailyQuota"
                    },
                    "end": {
                      "type": "string",
                      "description": "end"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "lat"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "lng"
                    },
                    "params": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "params"
                    },
                    "requestCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "requestCount"
                    },
                    "start": {
                      "type": "string",
                      "description": "start"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "BIO Data Point Request",
        "description": "The bio request is used to fetch bio related data for a point.",
        "operationId": "BioPointRequest",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "params",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/tide/extremes/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "height": {
                        "type": "number",
                        "format": "float",
                        "description": "Height in meters"
                      },
                      "time": {
                        "type": "string",
                        "description": "Timestamp in UTC"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of extreme. Either low or high"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "cost": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cost"
                    },
                    "dailyQuota": {
                      "type": "integer",
                      "format": "int32",
                      "description": "dailyQuota"
                    },
                    "datum": {
                      "type": "string",
                      "description": "datum"
                    },
                    "end": {
                      "type": "string",
                      "description": "end"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "lat"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "lng"
                    },
                    "requestCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "requestCount"
                    },
                    "start": {
                      "type": "string",
                      "description": "start"
                    },
                    "station": {
                      "type": "object",
                      "properties": {
                        "distance": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Distance between station and requested coordinate in km"
                        },
                        "lat": {
                          "type": "number",
                          "format": "float",
                          "description": "Latitude of tide station"
                        },
                        "lng": {
                          "type": "number",
                          "format": "float",
                          "description": "Longitude of tide station"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of tide station"
                        },
                        "source": {
                          "type": "string",
                          "description": "Tide station owner"
                        }
                      },
                      "description": "Tide station details"
                    }
                  },
                  "description": "The meta object contains information about the API request. Such as requested latitude and longitude, your daily quota and how many requests you\u2019ve made so far today"
                }
              }
            }
          }
        },
        "summary": "Tide Extremes Point Request",
        "description": "Retrieve information about high and low tide for a single coordinate. If nothing is specified, the returned values will be in relative to Mean Sea Level - MSL.",
        "operationId": "TimeExtremesPointRequest",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "datum",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/tide/sea-level/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "cost": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cost"
                    },
                    "dailyQuota": {
                      "type": "integer",
                      "format": "int32",
                      "description": "dailyQuota"
                    },
                    "datum": {
                      "type": "string",
                      "description": "datum"
                    },
                    "end": {
                      "type": "string",
                      "description": "end"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "lat"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "lng"
                    },
                    "requestCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "requestCount"
                    },
                    "start": {
                      "type": "string",
                      "description": "start"
                    },
                    "station": {
                      "type": "object",
                      "properties": {
                        "distance": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Distance between station and requested coordinate in km"
                        },
                        "lat": {
                          "type": "number",
                          "format": "float",
                          "description": "Latitude of tide station"
                        },
                        "lng": {
                          "type": "number",
                          "format": "float",
                          "description": "Longitude of tide station"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of tide station"
                        },
                        "source": {
                          "type": "string",
                          "description": "Tide station owner"
                        }
                      },
                      "description": "Tide station details"
                    }
                  },
                  "description": "The meta object contains information about the API request. Such as requested latitude and longitude, your daily quota and how many requests you\u2019ve made so far today"
                }
              }
            }
          }
        },
        "summary": "Tide Extremes Point Request",
        "description": "Retrieve the sea level given in meters hour by hour for a single coordinate. If nothing is specified the returned values will be in relative to Mean Sea Level - MSL.",
        "operationId": "TimeSealLevelPointRequest",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "datum",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/tide/stations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "lat"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "lng"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "source": {
                        "type": "string",
                        "description": "source"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "cost": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cost"
                    },
                    "dailyQuota": {
                      "type": "integer",
                      "format": "int32",
                      "description": "dailyQuota"
                    },
                    "requestCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "requestCount"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "Get Tide Stations",
        "description": "The Tide Stations List Requests is used to list all available stations.",
        "operationId": "GetTideStations",
        "parameters": []
      }
    },
    "/tide/stations/area": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "lat"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "lng"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "source": {
                        "type": "string",
                        "description": "source"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "cost": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cost"
                    },
                    "dailyQuota": {
                      "type": "integer",
                      "format": "int32",
                      "description": "dailyQuota"
                    },
                    "requestCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "requestCount"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "Get Tide Stations for Area",
        "description": "The Tide Stations Area Request will list all available tide stations within a defined geographic area.",
        "operationId": "GetTideStationsArea",
        "parameters": [
          {
            "name": "box",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Top right and bottom left coordinate of box on format: lat,lng:lat,lng",
            "x-ms-summary": "Area Box"
          }
        ]
      }
    },
    "/astronomy/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "astronomicalDawn": {
                        "type": "string",
                        "description": "astronomicalDawn"
                      },
                      "astronomicalDusk": {
                        "type": "string",
                        "description": "astronomicalDusk"
                      },
                      "civilDawn": {
                        "type": "string",
                        "description": "civilDawn"
                      },
                      "civilDusk": {
                        "type": "string",
                        "description": "civilDusk"
                      },
                      "moonFraction": {
                        "type": "number",
                        "format": "float",
                        "description": "moonFraction"
                      },
                      "moonPhase": {
                        "type": "object",
                        "properties": {
                          "closest": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "text"
                              },
                              "time": {
                                "type": "string",
                                "description": "time"
                              },
                              "value": {
                                "type": "number",
                                "format": "float",
                                "description": "value"
                              }
                            },
                            "description": "closest"
                          },
                          "current": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "text"
                              },
                              "time": {
                                "type": "string",
                                "description": "time"
                              },
                              "value": {
                                "type": "number",
                                "format": "float",
                                "description": "value"
                              }
                            },
                            "description": "current"
                          }
                        },
                        "description": "moonPhase"
                      },
                      "moonrise": {
                        "type": "string",
                        "description": "moonrise"
                      },
                      "moonset": {
                        "type": "string",
                        "description": "moonset"
                      },
                      "nauticalDawn": {
                        "type": "string",
                        "description": "nauticalDawn"
                      },
                      "nauticalDusk": {
                        "type": "string",
                        "description": "nauticalDusk"
                      },
                      "sunrise": {
                        "type": "string",
                        "description": "sunrise"
                      },
                      "sunset": {
                        "type": "string",
                        "description": "sunset"
                      },
                      "time": {
                        "type": "string",
                        "description": "time"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "cost": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cost"
                    },
                    "dailyQuota": {
                      "type": "integer",
                      "format": "int32",
                      "description": "dailyQuota"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "lat"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "lng"
                    },
                    "requestCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "requestCount"
                    },
                    "start": {
                      "type": "string",
                      "description": "start"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "Astronomy Point Request",
        "description": "Retrieve sunrise, sunset, moonrise, moonset and moon phase for a single coordinate.",
        "operationId": "AstronomyPointRequest",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Latitude of the desired coordinate.",
            "x-ms-summary": "Latitude"
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Longitude of the desired coordinate.",
            "x-ms-summary": "Longitude"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "For how many days ahead to receive data. max 31 days.",
            "x-ms-summary": "End Time"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Timestamp in UTC for first forecast hour - UNIX format or URL encoded ISO format.",
            "x-ms-summary": "Start Time"
          }
        ]
      }
    },
    "/solar/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uvIndex": {
                        "type": "object",
                        "description": "Ultraviolet (UV) radiation at ground or sea level"
                      },
                      "downwardShortWaveRadiationFlux": {
                        "type": "object",
                        "description": "Downward short-wave radiation flux, GHI (W m\u207b\u00b2) at ground or sea level"
                      },
                      "time": {
                        "type": "string",
                        "description": "time"
                      }
                    }
                  },
                  "description": "The data object contains the actual bio data on an hourly basis."
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "cost": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cost"
                    },
                    "dailyQuota": {
                      "type": "integer",
                      "format": "int32",
                      "description": "dailyQuota"
                    },
                    "end": {
                      "type": "string",
                      "description": "end"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "lat"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "lng"
                    },
                    "params": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "params"
                    },
                    "requestCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "requestCount"
                    },
                    "start": {
                      "type": "string",
                      "description": "start"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "BIO Data Point Request",
        "description": "The bio request is used to fetch bio related data for a point.",
        "operationId": "SolarPointRequest",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "params",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/elevation/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "elevation": {
                      "type": "number",
                      "format": "float",
                      "description": "The elevation value given in meters relative to sea level.",
                      "title": "Elevation"
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "dailyQuota": {
                      "type": "integer",
                      "format": "int32",
                      "description": "dailyQuota"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "lat"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "lng"
                    },
                    "requestCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "requestCount"
                    },
                    "distance": {
                      "type": "number",
                      "format": "float",
                      "description": "distance"
                    },
                    "elevation": {
                      "type": "object",
                      "properties": {
                        "unit": {
                          "type": "string",
                          "description": "unit"
                        },
                        "source": {
                          "type": "string",
                          "description": "source"
                        }
                      },
                      "description": "elevation"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "Elevation Point Request",
        "description": "The elevation request is used to fetch elevation data (bathymetry for oceans and topography for land) for a point. The Storm Glass API provides elevation data globally.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "type": "number"
          }
        ],
        "operationId": "ElevationPointRequest"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}