{
  "swagger": "2.0",
  "info": {
    "title": "Storm Glass",
    "description": "The Storm Glass API allows you to fetch weather data for any coordinate on the globe in a simple, programmatic way using conventional HTTP requests",
    "version": "1.0",
    "contact": {
      "name": "Paul Culmsee",
      "url": "https://www.sevensigma.com.au",
      "email": "paul.culmsee@sevensigma.com.au"
    }
  },
  "host": "api.stormglass.io",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/weather/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "hours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "airTemperature": {
                        "type": "object",
                        "description": "Air temperature in degrees celsius"
                      },
                      "airTemperature1000hpa": {
                        "type": "object",
                        "description": "Air temperature at 1000hpa in degrees celsius"
                      },
                      "airTemperature100m": {
                        "type": "object",
                        "description": "Air temperature at 100m above sea level in degrees celsius"
                      },
                      "airTemperature200hpa": {
                        "type": "object",
                        "description": "Air temperature at 200hpa in degrees celsius"
                      },
                      "airTemperature500hpa": {
                        "type": "object",
                        "description": "Air temperature at 500hpa in degrees celsius"
                      },
                      "airTemperature800hpa": {
                        "type": "object",
                        "description": "Air temperature at 800hpa in degrees celsius"
                      },
                      "airTemperature80m": {
                        "type": "object",
                        "description": "Air temperature at 80m above sea level in degrees celsius"
                      },
                      "cloudCover": {
                        "type": "object",
                        "description": "Total cloud coverage in percent"
                      },
                      "currentDirection": {
                        "type": "object",
                        "description": "Direction of current. 0\u00b0 indicates current coming from north"
                      },
                      "currentSpeed": {
                        "type": "object",
                        "description": "Speed of current in meters per second"
                      },
                      "gust": {
                        "type": "object",
                        "description": "Wind gust in meters per second"
                      },
                      "humidity": {
                        "type": "object",
                        "description": "Relative humidity in percent"
                      },
                      "iceCover": {
                        "type": "object",
                        "description": "Ice Cover Proportion, 0-1"
                      },
                      "precipitation": {
                        "type": "object",
                        "description": "Mean precipitation in kg/m\u00b2/h = mm/h"
                      },
                      "pressure": {
                        "type": "object",
                        "description": "Pressure"
                      },
                      "seaLevel": {
                        "type": "object",
                        "description": "Sea level relative to MSL"
                      },
                      "secondarySwellDirection": {
                        "type": "object",
                        "description": "Direction of secondary swell waves. 0\u00b0 indicates swell coming from north"
                      },
                      "secondarySwellHeight": {
                        "type": "object",
                        "description": "Height of secondary swell waves in meters"
                      },
                      "secondarySwellPeriod": {
                        "type": "object",
                        "description": "Period of secondary swell waves in seconds"
                      },
                      "snowDepth": {
                        "type": "object",
                        "description": "Snow Depth"
                      },
                      "swellDirection": {
                        "type": "object",
                        "description": "Direction of swell waves. 0\u00b0 indicates swell coming from north"
                      },
                      "swellHeight": {
                        "type": "object",
                        "description": "Height of swell waves in meters"
                      },
                      "swellPeriod": {
                        "type": "object",
                        "description": "Period of swell waves in seconds"
                      },
                      "time": {
                        "type": "string",
                        "description": "Time"
                      },
                      "visibility": {
                        "type": "object",
                        "description": "Horizontal visibility in km"
                      },
                      "waterTemperature": {
                        "type": "object",
                        "description": "Water temperature in degrees celsius"
                      },
                      "waveDirection": {
                        "type": "object",
                        "description": "Direction of combined wind and swell waves. 0\u00b0 indicates waves coming from north"
                      },
                      "waveHeight": {
                        "type": "object",
                        "description": "Significant Height of combined wind and swell waves in meters"
                      },
                      "wavePeriod": {
                        "type": "object",
                        "description": "Period of combined wind and swell waves in seconds"
                      },
                      "windDirection": {
                        "type": "object",
                        "description": "Direction of wind at 10m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection1000hpa": {
                        "type": "object",
                        "description": "Direction of wind at 1000hpa. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection100m": {
                        "type": "object",
                        "description": "Direction of wind at 100m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection200hpa": {
                        "type": "object",
                        "description": "Direction of wind at 200hpa. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection20m": {
                        "type": "object",
                        "description": "Direction of wind at 20m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection30m": {
                        "type": "object",
                        "description": "Direction of wind at 30m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection40m": {
                        "type": "object",
                        "description": "Direction of wind at 40m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection500hpa": {
                        "type": "object",
                        "description": "Direction of wind at 500hpa. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection50m": {
                        "type": "object",
                        "description": "Direction of wind at 50m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection800hpa": {
                        "type": "object",
                        "description": "Direction of wind at 800hpa. 0\u00b0 indicates wind coming from north"
                      },
                      "windDirection80m": {
                        "type": "object",
                        "description": "Direction of wind at 80m above sea level. 0\u00b0 indicates wind coming from north"
                      },
                      "windSpeed": {
                        "type": "object",
                        "description": "Speed of wind at 10m above sea level in meters per second."
                      },
                      "windSpeed1000hpa": {
                        "type": "object",
                        "description": "Speed of wind at 1000hpa in meters per second."
                      },
                      "windSpeed100m": {
                        "type": "object",
                        "description": "Speed of wind at 100m above sea level in meters per second"
                      },
                      "windSpeed200hpa": {
                        "type": "object",
                        "description": "Speed of wind at 200hpa in meters per second."
                      },
                      "windSpeed20m": {
                        "type": "object",
                        "description": "Speed of wind at 20m above sea level in meters per second."
                      },
                      "windSpeed30m": {
                        "type": "object",
                        "description": "Speed of wind at 30m above sea level in meters per second."
                      },
                      "windSpeed40m": {
                        "type": "object",
                        "description": "Speed of wind at 40m above sea level in meters per second."
                      },
                      "windSpeed500hpa": {
                        "type": "object",
                        "description": "Speed of wind at 500hpa in meters per second."
                      },
                      "windSpeed50m": {
                        "type": "object",
                        "description": "Speed of wind at 50m above sea level in meters per second."
                      },
                      "windSpeed800hpa": {
                        "type": "object",
                        "description": "Speed of wind at 800hpa in meters per second."
                      },
                      "windSpeed80m": {
                        "type": "object",
                        "description": "Speed of wind at 80m above sea level in meters per second."
                      },
                      "windWaveDirection": {
                        "type": "object",
                        "description": "Direction of wind waves. 0\u00b0 indicates waves coming from north"
                      },
                      "windWaveHeight": {
                        "type": "object",
                        "description": "Height of wind waves in meters"
                      },
                      "windWavePeriod": {
                        "type": "object",
                        "description": "Period of wind waves in seconds"
                      }
                    }
                  },
                  "description": "The actual weather data on an hourly basis"
                },
                "meta": {
                  "$ref": "#/definitions/metaDataModel"
                }
              }
            }
          }
        },
        "summary": "Weather Point Request",
        "description": "Point Requests are used to retrieve data for a single coordinate.",
        "operationId": "WeatherPointRequest",
        "parameters": [
          {
            "$ref": "#/parameters/latReq"
          },
          {
            "$ref": "#/parameters/lngReq"
          },
          {
            "$ref": "#/parameters/paramsReq"
          },
          {
            "$ref": "#/parameters/start"
          },
          {
            "$ref": "#/parameters/end"
          },
          {
            "$ref": "#/parameters/source"
          }
        ]
      }
    },
    "/bio/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "hours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chlorophyll": {
                        "type": "object",
                        "description": "Mass concentration of chlorophyll a in sea water"
                      },
                      "iron": {
                        "type": "object",
                        "description": "Mole concentration of dissolved iron in sea water"
                      },
                      "nitrate": {
                        "type": "object",
                        "description": "Mole concentration of nitrate in sea water"
                      },
                      "oxygen": {
                        "type": "object",
                        "description": "Mole concentration of dissolved molecular oxygen in sea water"
                      },
                      "ph": {
                        "type": "object",
                        "description": "Sea water ph reported on total scale"
                      },
                      "phosphate": {
                        "type": "object",
                        "description": "Mole concentration of phosphate in sea water"
                      },
                      "phyto": {
                        "type": "object",
                        "description": "Net primary production of biomass expressed as carbon per unit volume in sea water"
                      },
                      "phytoplankton": {
                        "type": "object",
                        "description": "Phytoplankton in sea water"
                      },
                      "salinity": {
                        "type": "object",
                        "description": "Sea water salinity given in per mille"
                      },
                      "silicate": {
                        "type": "object",
                        "description": "Mole concentration of silicate in sea water"
                      },
                      "soilMoisture": {
                        "type": "object",
                        "description": "Volumetric soil moisture content at 0 to 10 cm below surface"
                      },
                      "soilMoisture100cm": {
                        "type": "object",
                        "description": "Volumetric soil moisture content at 100 to 200 cm below surface"
                      },
                      "soilMoisture10cm": {
                        "type": "object",
                        "description": "Volumetric soil moisture content at 10 to 40 cm below surface"
                      },
                      "soilMoisture40cm": {
                        "type": "object",
                        "description": "Volumetric soil moisture content at 40 to 100 cm below surface"
                      },
                      "soilTemperature": {
                        "type": "object",
                        "description": "Soil temperature at 0 to 10 cm below surface"
                      },
                      "soilTemperature100cm": {
                        "type": "object",
                        "description": "Soil temperature at 100 to 200 cm below surface"
                      },
                      "soilTemperature10cm": {
                        "type": "object",
                        "description": "Soil temperature at 10 to 40 cm below surface"
                      },
                      "soilTemperature40cm": {
                        "type": "object",
                        "description": "Soil temperature at 40 to 100 cm below surface"
                      },
                      "surfaceTemperature": {
                        "type": "object",
                        "description": "Surface Temperature"
                      },
                      "time": {
                        "type": "string",
                        "description": "Time"
                      }
                    }
                  },
                  "description": "The actual bio data on an hourly basis"
                },
                "meta": {
                  "$ref": "#/definitions/metaDataModel"
                }
              }
            }
          }
        },
        "summary": "BIO Data Point Request",
        "description": "The bio request is used to fetch bio related data for a point.",
        "operationId": "BioPointRequest",
        "parameters": [
          {
            "$ref": "#/parameters/latReq"
          },
          {
            "$ref": "#/parameters/lngReq"
          },
          {
            "$ref": "#/parameters/paramsReq"
          },
          {
            "$ref": "#/parameters/start"
          },
          {
            "$ref": "#/parameters/end"
          },
          {
            "$ref": "#/parameters/source"
          }
        ]
      }
    },
    "/tide/extremes/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "height": {
                        "type": "number",
                        "format": "float",
                        "description": "Height in meters"
                      },
                      "time": {
                        "type": "string",
                        "description": "Timestamp in UTC"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of extreme. Either low or high"
                      }
                    }
                  },
                  "description": "The data object contains a list of extreme points occurring during the given time interval"
                },
                "meta": {
                  "$ref": "#/definitions/tideMetaDataModel"
                }
              }
            }
          }
        },
        "summary": "Tide Extremes Point Request",
        "description": "Retrieve information about high and low tide for a single coordinate. If nothing is specified, the returned values will be in relative to Mean Sea Level - MSL.",
        "operationId": "TimeExtremesPointRequest",
        "parameters": [
          {
            "$ref": "#/parameters/latReq"
          },
          {
            "$ref": "#/parameters/lngReq"
          },
          {
            "$ref": "#/parameters/start"
          },
          {
            "$ref": "#/parameters/end"
          },
          {
            "$ref": "#/parameters/datum"
          }
        ]
      }
    },
    "/tide/sea-level/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties" : {
                        "icon": {"type": "number", "format": "float", "description": "Sea Level"},
                        "noaa": {"type": "number", "format": "float", "description": "Sea Level"},
                        "meteo": {"type": "number", "format": "float", "description": "Sea Level"},
                        "dwd": {"type": "number", "format": "float", "description": "Sea Level"},
                        "meto": {"type": "number", "format": "float", "description": "Sea Level"},
                        "fcoo": {"type": "number", "format": "float", "description": "Sea Level"},
                        "fmi": {"type": "number", "format": "float", "description": "Sea Level"},
                        "yr": {"type": "number", "format": "float", "description": "Sea Level"},   
                        "smhi": {"type": "number", "format": "float", "description": "Sea Level"},                                                   
                        "sg": {"type": "number", "format": "float", "description": "Sea Level"},                                                                                                                                                                        
                        "time": {"type": "string", "description": "Time"}
                    }
                  },
                  "description": "The data object contains sea level data on an hourly basis"
                },
                "meta": {
                  "$ref": "#/definitions/tideMetaDataModel"
                }
              }
            }
          }
        },
        "summary": "Tide Sea Level Point Request",
        "description": "Retrieve the sea level given in meters hour by hour for a single coordinate. If nothing is specified the returned values will be in relative to Mean Sea Level - MSL.",
        "operationId": "TimeSealLevelPointRequest",
        "parameters": [
          {
            "$ref": "#/parameters/latReq"
          },
          {
            "$ref": "#/parameters/lngReq"
          },
          {
            "$ref": "#/parameters/start"
          },
          {
            "$ref": "#/parameters/end"
          },
          {
            "$ref": "#/parameters/datum"
          }
        ]
      }
    },
    "/tide/stations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "Longitude"
                      },
                      "name": {
                        "type": "string",
                        "description": "Station Name"
                      },
                      "source": {
                        "type": "string",
                        "description": "Source"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "$ref": "#/definitions/stationMetaDataModel"
                }
              }
            }
          }
        },
        "summary": "Get Tide Stations",
        "description": "The Tide Stations List Requests is used to list all available stations.",
        "operationId": "GetTideStations",
        "parameters": []
      }
    },
    "/tide/stations/area": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "Longitude"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "source": {
                        "type": "string",
                        "description": "Source"
                      }
                    }
                  },
                  "description": "The data object contains a list of all available stations"
                },
                "meta": {
                  "$ref": "#/definitions/stationMetaDataModel"
                }
              }
            }
          }
        },
        "summary": "Get Tide Stations for Area",
        "description": "The Tide Stations Area Request will list all available tide stations within a defined geographic area.",
        "operationId": "GetTideStationsArea",
        "parameters": [
          {
            "name": "box",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Top right and bottom left coordinate of box on format: lat,lng:lat,lng",
            "x-ms-summary": "Area Box"
          }
        ]
      }
    },
    "/astronomy/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "astronomicalDawn": {
                        "type": "string",
                        "description": "Astronomical Dawn"
                      },
                      "astronomicalDusk": {
                        "type": "string",
                        "description": "Astronomical Dusk"
                      },
                      "civilDawn": {
                        "type": "string",
                        "description": "Civil Dawn"
                      },
                      "civilDusk": {
                        "type": "string",
                        "description": "Civil Dusk"
                      },
                      "moonFraction": {
                        "type": "number",
                        "format": "float",
                        "description": "Moon Fraction"
                      },
                      "moonPhase": {
                        "type": "object",
                        "properties": {
                          "closest": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "A string describing the moon phase"
                              },
                              "time": {
                                "type": "string",
                                "description": "Timestamp in UTC showing what time the moon phase object describes"
                              },
                              "value": {
                                "type": "number",
                                "format": "float",
                                "description": "A float value for the phase of the given time."
                              }
                            },
                            "description": "Objects describing the closest moon phase"
                          },
                          "current": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "A string describing the moon phase"
                              },
                              "time": {
                                "type": "string",
                                "description": "Timestamp in UTC showing what time the moon phase object describes"
                              },
                              "value": {
                                "type": "number",
                                "format": "float",
                                "description": "A float value for the phase of the given time."
                              }
                            },
                            "description": "Objects describing the current moon phase"
                          }
                        },
                        "description": "Moon Phase"
                      },
                      "moonrise": {
                        "type": "string",
                        "description": "Moon Rise"
                      },
                      "moonset": {
                        "type": "string",
                        "description": "Moon Set"
                      },
                      "nauticalDawn": {
                        "type": "string",
                        "description": "Nautical Dawn"
                      },
                      "nauticalDusk": {
                        "type": "string",
                        "description": "Nautical Dusk"
                      },
                      "sunrise": {
                        "type": "string",
                        "description": "Sunrise"
                      },
                      "sunset": {
                        "type": "string",
                        "description": "Sunset"
                      },
                      "time": {
                        "type": "string",
                        "description": "Time"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "cost": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Cost"
                    },
                    "dailyQuota": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Daily Quota"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude"
                    },
                    "requestCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Request Count"
                    },
                    "start": {
                      "type": "string",
                      "description": "Start Time"
                    }
                  },
                  "description": "The meta object contains information about the API request"
                }
              }
            }
          }
        },
        "summary": "Astronomy Point Request",
        "description": "Retrieve sunrise, sunset, moonrise, moonset and moon phase for a single coordinate.",
        "operationId": "AstronomyPointRequest",
        "parameters": [
          {
            "$ref": "#/parameters/latReq"
          },
          {
            "$ref": "#/parameters/lngReq"
          },
          {
            "$ref": "#/parameters/end"
          },
          {
            "$ref": "#/parameters/start"
          }
        ]
      }
    },
    "/solar/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uvIndex": {
                        "type": "object",
                        "description": "Ultraviolet (UV) radiation at ground or sea level"
                      },
                      "downwardShortWaveRadiationFlux": {
                        "type": "object",
                        "description": "Downward short-wave radiation flux, GHI (W m\u207b\u00b2) at ground or sea level"
                      },
                      "time": {
                        "type": "string",
                        "description": "time"
                      }
                    }
                  },
                  "description": "The data object contains the actual bio data on an hourly basis."
                },
                "meta": {
                  "$ref": "#/definitions/metaDataModel"
                }
              }
            }
          }
        },
        "summary": "Solar Point Request",
        "description": "The solar request is used to fetch solar related data for a point.",
        "operationId": "SolarPointRequest",
        "parameters": [
          {
            "$ref": "#/parameters/latReq"
          },
          {
            "$ref": "#/parameters/lngReq"
          },
          {
            "$ref": "#/parameters/paramsReq"
          },
          {
            "$ref": "#/parameters/start"
          },
          {
            "$ref": "#/parameters/end"
          },
          {
            "$ref": "#/parameters/source"
          }
        ]
      }
    },
    "/elevation/point": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "elevation": {
                      "type": "number",
                      "format": "float",
                      "description": "The elevation value given in meters relative to sea level.",
                      "title": "Elevation"
                    }
                  },
                  "description": "The data object contains the actual elevation data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "dailyQuota": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Daily Quota"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "Latitude"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "Longitude"
                    },
                    "requestCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Request Count"
                    },
                    "distance": {
                      "type": "number",
                      "format": "float",
                      "description": "Distance"
                    },
                    "elevation": {
                      "type": "object",
                      "properties": {
                        "unit": {
                          "type": "string",
                          "description": "Unit"
                        },
                        "source": {
                          "type": "string",
                          "description": "Source"
                        }
                      },
                      "description": "Elevation"
                    }
                  },
                  "description": "The meta object contains information about the API request"
                }
              }
            }
          }
        },
        "summary": "Elevation Point Request",
        "description": "The elevation request is used to fetch elevation data (bathymetry for oceans and topography for land) for a point. The Storm Glass API provides elevation data globally.",
        "parameters": [
          {
            "$ref": "#/parameters/latReq"
          },
          {
            "$ref": "#/parameters/lngReq"
          }
        ],
        "operationId": "ElevationPointRequest"
      }
    }
  },
  "definitions": {
    "metaDataModel": {
      "type": "object",
      "properties": {
        "cost": {
          "type": "integer",
          "format": "int32",
          "description": "Cost"
        },
        "dailyQuota": {
          "type": "integer",
          "format": "int32",
          "description": "Daily API Call Quota"
        },
        "end": {
          "type": "string",
          "description": "End Time"
        },
        "lat": {
          "type": "number",
          "format": "float",
          "description": "Latitude"
        },
        "lng": {
          "type": "number",
          "format": "float",
          "description": "Longitude"
        },
        "params": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Parameters"
        },
        "requestCount": {
          "type": "integer",
          "format": "int32",
          "description": "Request Count"
        },
        "start": {
          "type": "string",
          "description": "Start Time"
        }
      },
      "description": "The meta object contains information about the API request"
    },
    "stationMetaDataModel": {
      "type": "object",
      "properties": {
        "cost": {
          "type": "integer",
          "format": "int32",
          "description": "Cost"
        },
        "dailyQuota": {
          "type": "integer",
          "format": "int32",
          "description": "Daily Quota"
        },
        "requestCount": {
          "type": "integer",
          "format": "int32",
          "description": "Request Count"
        }
      },
      "description": "The meta object contains information about the API request"
    },
    "tideMetaDataModel": {
      "type": "object",
      "properties": {
        "cost": {
          "type": "integer",
          "format": "int32",
          "description": "Cost"
        },
        "dailyQuota": {
          "type": "integer",
          "format": "int32",
          "description": "Daily Quota"
        },
        "datum": {
          "type": "string",
          "description": "Datum"
        },
        "end": {
          "type": "string",
          "description": "End Time"
        },
        "lat": {
          "type": "number",
          "format": "float",
          "description": "Latitude"
        },
        "lng": {
          "type": "number",
          "format": "float",
          "description": "Longitude"
        },
        "requestCount": {
          "type": "integer",
          "format": "int32",
          "description": "Request Count"
        },
        "start": {
          "type": "string",
          "description": "Start Time"
        },
        "station": {
          "type": "object",
          "properties": {
            "distance": {
              "type": "integer",
              "format": "int32",
              "description": "Distance between station and requested coordinate in km"
            },
            "lat": {
              "type": "number",
              "format": "float",
              "description": "Latitude of tide station"
            },
            "lng": {
              "type": "number",
              "format": "float",
              "description": "Longitude of tide station"
            },
            "name": {
              "type": "string",
              "description": "Name of tide station"
            },
            "source": {
              "type": "string",
              "description": "Tide station owner"
            }
          },
          "description": "Tide station details"
        }
      },
      "description": "The meta object contains information about the API request. Such as requested latitude and longitude, your daily quota and how many requests you\u2019ve made so far today"
    }
  },
  "parameters": {
    "latReq": {
      "name": "lat",
      "in": "query",
      "required": true,
      "type": "number",
      "description": "Latitude of the desired coordinate",
      "x-ms-summary": "Latitude"
    },
    "lngReq": {
      "name": "lng",
      "in": "query",
      "required": true,
      "type": "number",
      "description": "Longitude of the desired coordinate",
      "x-ms-summary": "Longitude"
    },
    "paramsReq": {
      "name": "params",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Comma separated list of parameters, Eg swellHeight,waveHeight",
      "x-ms-summary": "Parameters"
    },
    "start": {
      "name": "start",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Timestamp in UTC for first forecast hour - UNIX format or URL encoded ISO format.",
      "x-ms-summary": "Start Time"
    },
    "end": {
      "name": "end",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Timestamp in UTC for last forecast hour - UNIX format or URL encoded ISO format.",
      "x-ms-summary": "End Time"
    },
    "source": {
      "name": "source",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Specify a single source or a comma-separated list of sources. E.g noaa or dwd,noaa",
      "x-ms-summary": "Sources"
    },
    "datum": {
      "name": "datum",
      "in": "query",
      "required": false,
      "description": "Datum values will be relative to. Either MLLW or MSL",
      "type": "string",
      "x-ms-summary": "Datum"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.stormglass.io/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://stormglass.io/terms-and-conditions/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}