{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "DocuSign Demo",
    "description": "DocuSign helps organizations connect and automate how they prepare, sign, act on, and manage agreements. The DocuSign Demo connector connects only to DocuSign Demo environments but offers the same functionality as the regular DocuSign connector. Any documents in a DocuSign Demo environment are not legally binding. For all non-demo uses, use the regular DocuSign connector.",
    "x-ms-deployment-version": "1.0.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    },
    "contact": {
      "name": "docusign",
      "url": "https://support.docusign.com"
    }
  },
  "host": "demo.docusign.net",
  "basePath": "/restapi/v2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/accounts/{accountId}/connect": {
      "post": {
        "summary": "When an envelope status changes (Connect)",
        "description": "Triggers a new flow when an envelope status changes.",
        "operationId": "CreateHookEnvelope",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object"
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, send an envelope.",
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true
      },
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookEnvelopeResponse"
        }
      }
    },
    "/accounts/{accountId}/connect/{connectId}": {
      "delete": {
        "summary": "Delete hook",
        "description": "Delete a hook.",
        "operationId": "DeleteHook",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      }
    },
    "/webhook_response": {
      "post": {
        "operationId": "WebhookResponse",
        "parameters": [
          {
            "name": "logicAppsUri",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      }
    },
    "/accounts/{accountId}/envelopes/{envelopeId}/documents/{documentId}": {
      "get": {
        "summary": "Get envelope documents",
        "description": "Get envelope documents.",
        "operationId": "GetDocuments",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert test value",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "envelopeId",
            "in": "path",
            "description": "Envelope id",
            "required": true,
            "x-ms-summary": "Envelope",
            "x-ms-test-value": "insert envelope id",
            "type": "string"
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "Document id",
            "required": true,
            "x-ms-summary": "Document",
            "x-ms-visibility": "internal",
            "x-ms-test-value": "combined",
            "type": "string",
            "default": "combined"
          },
          {
            "name": "certificate",
            "in": "query",
            "description": "When set to false, the envelope signing certificate is removed from the download.",
            "required": true,
            "x-ms-summary": "Certificate of completion",
            "x-ms-test-value": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/GetDocumentsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/trigger/accounts/{accountId}/envelopes": {
      "get": {
        "tags": [
          "DocuSign"
        ],
        "summary": "When an envelope status changes",
        "description": "Triggers a new flow when an envelope status changes.",
        "operationId": "OnEnvelopeStatusChanges",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "x-ms-summary": "Envelope status",
            "x-ms-test-value": "Created",
            "type": "string",
            "enum": [
              "Any",
              "Voided",
              "Created",
              "Deleted",
              "Sent",
              "Delivered",
              "Signed",
              "Completed",
              "Declined",
              "TimedOut",
              "Template",
              "Processing"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OnEnvelopeStatusChangesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "To see it work now, change the status of an envelope."
      }
    },
    "/accounts/{accountId}/envelopes/createBlankEnvelope": {
      "post": {
        "tags": [
          "DocuSign"
        ],
        "summary": "Create envelope",
        "description": "Create a new blank envelope.",
        "operationId": "CreateBlankEnvelope",
        "x-ms-no-generic-test": true,
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "emailSubject",
            "in": "query",
            "description": "Subject of the Email.",
            "required": true,
            "x-ms-summary": "Email subject",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateEnvelopeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important"
      }
    },
    "/accounts/{accountId}/envelopes/createFromTemplate": {
      "post": {
        "tags": [
          "DocuSign"
        ],
        "summary": "Create envelope using template",
        "description": "Create a new envelope using a specified template.",
        "operationId": "CreateEnvelopeFromTemplate",
        "x-ms-no-generic-test": true,
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "templateId",
            "in": "query",
            "description": "Template id",
            "required": true,
            "x-ms-summary": "Template",
            "x-ms-test-value": "insert template id",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetEnvelopeTemplates",
              "parameters": {
                "accountId": {
                  "parameter": "accountId"
                }
              },
              "value-collection": "envelopeTemplates",
              "value-path": "templateId",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "signers",
            "in": "body",
            "description": "The signers of the document.",
            "x-ms-visibility": "important",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicSigners"
            },
            "x-ms-summary": "Signers"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateEnvelopeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important"
      }
    },
    "/accounts/{accountId}/envelopes/{envelopeId}": {
      "put": {
        "tags": [
          "DocuSign"
        ],
        "summary": "Send envelope",
        "description": "Send an existing envelope.",
        "operationId": "SendDraftEnvelope",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "envelopeId",
            "in": "path",
            "description": "Envelope id",
            "required": true,
            "x-ms-summary": "Envelope",
            "x-ms-test-value": "insert envelope id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SendDraftEnvelopeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "advanced"
      }
    },
    "/accounts/{accountId}/envelopes/{envelopeId}/recipients": {
      "get": {
        "tags": [
          "DocuSign"
        ],
        "summary": "List recipients",
        "description": "List recipients for a specific envelope.",
        "operationId": "GetRecipientStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Folder id",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-test-value": "insert folder id",
            "x-ms-dynamic-values": {
              "operationId": "GetFolderList",
              "parameters": {
                "accountId": {
                  "parameter": "accountId"
                }
              },
              "value-collection": "folders",
              "value-path": "folderId",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "envelopeId",
            "in": "path",
            "description": "Envelope id",
            "required": true,
            "x-ms-summary": "Envelope",
            "x-ms-test-value": "insert envelope id",
            "x-ms-dynamic-values": {
              "operationId": "GetFolderEnvelopeList",
              "parameters": {
                "accountId": {
                  "parameter": "accountId"
                },
                "folderId": {
                  "parameter": "folderId"
                }
              },
              "value-collection": "folderItems",
              "value-path": "envelopeId",
              "value-title": "subject"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListRecipientsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      },
      "post": {
        "tags": [
          "DocuSign"
        ],
        "summary": "Add recipient to an envelope",
        "description": "Add recipient to an envelope",
        "operationId": "AddRecipientToEnvelope",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "envelopeId",
            "in": "path",
            "description": "Envelope id",
            "required": true,
            "x-ms-summary": "Envelope",
            "x-ms-test-value": "insert envelope id",
            "type": "string"
          },
          {
            "name": "AddRecipientToEnvelopeName",
            "in": "query",
            "description": "The name of the recipient.",
            "required": true,
            "x-ms-summary": "Signer Name",
            "x-ms-test-value": "test name",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "name": "AddRecipientToEnvelopeEmail",
            "in": "query",
            "description": "The email of the recipient.",
            "required": true,
            "x-ms-summary": "Signer Email",
            "x-ms-test-value": "test@email.com",
            "x-ms-visibility": "important",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListRecipientsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced",
        "x-ms-no-generic-test": true
      },
      "delete": {
        "tags": [
          "DocuSign"
        ],
        "summary": "Remove recipient from an envelope",
        "description": "Remove recipient from an envelope",
        "operationId": "RemoveRecipientFromEnvelope",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Folder id",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-test-value": "insert folder id",
            "x-ms-dynamic-values": {
              "operationId": "GetFolderList",
              "parameters": {
                "accountId": {
                  "parameter": "accountId"
                }
              },
              "value-collection": "folders",
              "value-path": "folderId",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "envelopeId",
            "in": "path",
            "description": "Envelope id",
            "required": true,
            "x-ms-summary": "Envelope",
            "x-ms-test-value": "insert envelope id",
            "x-ms-dynamic-values": {
              "operationId": "GetFolderEnvelopeList",
              "parameters": {
                "accountId": {
                  "parameter": "accountId"
                },
                "folderId": {
                  "parameter": "folderId"
                }
              },
              "value-collection": "folderItems",
              "value-path": "envelopeId",
              "value-title": "subject"
            },
            "type": "string"
          },
          {
            "name": "RemoveRecipientFromEnvelopeRecipientId",
            "in": "query",
            "description": "Recipient id",
            "required": true,
            "x-ms-summary": "Recipient",
            "x-ms-test-value": "insert recipient id",
            "x-ms-dynamic-values": {
              "operationId": "GetRecipientStatus",
              "parameters": {
                "accountId": {
                  "parameter": "accountId"
                },
                "folderId": {
                  "parameter": "folderId"
                },
                "envelopeId": {
                  "parameter": "envelopeId"
                }
              },
              "value-collection": "signers",
              "value-path": "recipientId",
              "value-title": "roleName"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListRecipientsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "advanced"
      }
    },
    "/login_information": {
      "get": {
        "tags": [
          "DocuSign"
        ],
        "summary": "Login",
        "description": "Login",
        "operationId": "GetLoginAccounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLoginAccountsResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{accountId}/templates": {
      "get": {
        "tags": [
          "DocuSign"
        ],
        "summary": "List templates",
        "description": "List templates for a specific account.",
        "operationId": "GetEnvelopeTemplates",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListTemplatesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/accounts/{accountId}/folders": {
      "get": {
        "tags": [
          "DocuSign"
        ],
        "summary": "List folders",
        "description": "List folders for a specific account.",
        "operationId": "GetFolderList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListFoldersResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/accounts/{accountId}/folders/{folderId}": {
      "get": {
        "tags": [
          "DocuSign"
        ],
        "summary": "List envelopes",
        "description": "List envelopes under a particular folder.",
        "operationId": "GetFolderEnvelopeList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "folderId",
            "in": "path",
            "description": "Folder id",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-test-value": "insert folder id",
            "x-ms-dynamic-values": {
              "operationId": "GetFolderList",
              "parameters": {
                "accountId": {
                  "parameter": "accountId"
                }
              },
              "value-collection": "folders",
              "value-path": "folderId",
              "value-title": "name"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListEnvelopesResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/accounts/{accountId}/envelopes/{envelopeId}/documents": {
      "get": {
        "tags": [
          "DocuSign"
        ],
        "summary": "List documents",
        "description": "List documents in an envelope.",
        "operationId": "GetEnvelopeDocumentList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "folderId",
            "in": "query",
            "description": "Folder id",
            "required": true,
            "x-ms-summary": "Folder",
            "x-ms-test-value": "insert folder id",
            "x-ms-dynamic-values": {
              "operationId": "GetFolderList",
              "parameters": {
                "accountId": {
                  "parameter": "accountId"
                }
              },
              "value-collection": "folders",
              "value-path": "folderId",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "envelopeId",
            "in": "path",
            "description": "Envelope id",
            "required": true,
            "x-ms-summary": "Envelope",
            "x-ms-test-value": "insert envelope id",
            "x-ms-dynamic-values": {
              "operationId": "GetFolderEnvelopeList",
              "parameters": {
                "accountId": {
                  "parameter": "accountId"
                },
                "folderId": {
                  "parameter": "folderId"
                }
              },
              "value-collection": "folderItems",
              "value-path": "envelopeId",
              "value-title": "subject"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListDocumentsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      },
      "put": {
        "tags": [
          "DocuSign"
        ],
        "summary": "Add documents",
        "description": "Add documents.",
        "operationId": "AddDocumentsToEnvelope",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account id",
            "required": true,
            "x-ms-summary": "Account",
            "x-ms-test-value": "insert account id",
            "x-ms-dynamic-values": {
              "operationId": "GetLoginAccounts",
              "value-collection": "loginAccounts",
              "value-path": "accountIdGuid",
              "value-title": "name"
            },
            "type": "string"
          },
          {
            "name": "envelopeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Envelope id",
            "x-ms-summary": "Envelope",
            "x-ms-test-value": "insert envelope id"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "documentBase64",
                      "fileExtension",
                      "name"
                    ],
                    "properties": {
                      "documentBase64": {
                        "type": "string",
                        "x-ms-summary": "Base64 *",
                        "description": "Base64 of document content"
                      },
                      "fileExtension": {
                        "type": "string",
                        "x-ms-summary": "type *",
                        "description": "pdf, docx etc."
                      },
                      "name": {
                        "type": "string",
                        "x-ms-summary": "name *",
                        "description": "document name"
                      },
                      "order": {
                        "type": "string",
                        "x-ms-summary": "order",
                        "description": "1"
                      }
                    }
                  },
                  "x-ms-summary": "document"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddDocumentsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important"
      }
    },
    "/signers/accounts/{accountId}/templates/{templateId}/recipients": {
      "get": {
        "tags": [
          "DocuSign"
        ],
        "summary": "Get the signers of a template in dynamic schema format",
        "description": "Get the signers of a template in dynamic schema format.",
        "operationId": "GetDynamicSigners",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account to get the signers for.",
            "required": true,
            "x-ms-summary": "Account Id",
            "x-ms-test-value": "insert account id",
            "type": "string"
          },
          {
            "name": "templateId",
            "in": "path",
            "description": "Template to get the signers for.",
            "required": true,
            "x-ms-summary": "Template Id",
            "x-ms-test-value": "insert template id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "deprecated": false,
        "x-ms-no-generic-test": true,
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {
    "WebhookRequest": {
      "required": [
        "allUsers",
        "allowEnvelopePublish",
        "includeDocumentFields",
        "includeEnvelopeVoidReason",
        "includeTimeZoneInformation",
        "requiresAcknowledgement",
        "urlToPublishTo",
        "name",
        "envelopeEvents",
        "includeSenderAccountasCustomField"
      ],
      "type": "object",
      "properties": {
        "allUsers": {
          "default": "true",
          "type": "string",
          "x-ms-summary": "allUsers",
          "x-ms-visibility": "internal"
        },
        "allowEnvelopePublish": {
          "default": "true",
          "type": "string",
          "x-ms-summary": "allowEnvelopePublish",
          "x-ms-visibility": "internal"
        },
        "includeDocumentFields": {
          "default": "true",
          "type": "string",
          "x-ms-summary": "includeDocumentFields",
          "x-ms-visibility": "internal"
        },
        "includeEnvelopeVoidReason": {
          "default": "true",
          "type": "string",
          "x-ms-summary": "includeEnvelopeVoidReason",
          "x-ms-visibility": "internal"
        },
        "includeTimeZoneInformation": {
          "default": "true",
          "type": "string",
          "x-ms-summary": "includeTimeZoneInformation",
          "x-ms-visibility": "internal"
        },
        "requiresAcknowledgement": {
          "default": "true",
          "type": "string",
          "x-ms-summary": "requiresAcknowledgement",
          "x-ms-visibility": "internal"
        },
        "urlToPublishTo": {
          "type": "string",
          "x-ms-summary": "urlToPublishTo",
          "x-ms-visibility": "internal",
          "x-ms-notification-url": true
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Connect name",
          "x-ms-visibility": "important"
        },
        "envelopeEvents": {
          "enum": [
            "Sent",
            "Delivered",
            "Completed",
            "Declined",
            "Voided"
          ],
          "type": "string",
          "x-ms-summary": "Envelope event",
          "x-ms-visibility": "important"
        },
        "includeSenderAccountasCustomField": {
          "default": "true",
          "type": "string",
          "x-ms-summary": "includeSenderAccountasCustomField",
          "x-ms-visibility": "internal"
        }
      }
    },
    "WebhookEnvelopeResponse": {
      "type": "object",
      "properties": {
        "customFields": {
          "description": "Key-value pairs representing the custom fields for this envelope (where key is the field name, and value is the field value).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "Custom Fields"
        },
        "DocuSignEnvelopeInformation": {
          "type": "object",
          "properties": {
            "EnvelopeStatus": {
              "description": "EnvelopeStatus",
              "type": "object",
              "properties": {
                "Created": {
                  "format": "date-time",
                  "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                  "type": "string",
                  "x-ms-summary": "Envelope Created Date-Time",
                  "x-ms-visibility": "advanced"
                },
                "Email": {
                  "type": "string",
                  "x-ms-summary": "Sender's Email Address",
                  "x-ms-visibility": "important"
                },
                "EnvelopeID": {
                  "type": "string",
                  "x-ms-summary": "Envelope ID",
                  "x-ms-visibility": "important"
                },
                "SenderIPAddress": {
                  "type": "string",
                  "x-ms-summary": "Sender's IP Address",
                  "x-ms-visibility": "advanced"
                },
                "Sent": {
                  "format": "date-time",
                  "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                  "type": "string",
                  "x-ms-summary": "Envelope Sent Date-Time",
                  "x-ms-visibility": "important"
                },
                "Status": {
                  "type": "string",
                  "x-ms-summary": "Envelope Status",
                  "x-ms-visibility": "important"
                },
                "Subject": {
                  "type": "string",
                  "x-ms-summary": "Subject",
                  "x-ms-visibility": "important"
                },
                "UserName": {
                  "type": "string",
                  "x-ms-summary": "Sender's Name",
                  "x-ms-visibility": "important"
                },
                "RecipientStatuses": {
                  "type": "object",
                  "properties": {
                    "RecipientStatus": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tabs": {
                            "description": "Key-value pairs representing the tabs for this recipient (where key is the field name, and value is the field value).",
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            },
                            "x-ms-visibility": "important",
                            "x-ms-summary": "Tabs"
                          },
                          "DeclineReason": {
                            "$ref": "#/definitions/DeclineReasonWithoutType"
                          },
                          "Email": {
                            "type": "string",
                            "x-ms-summary": "Recipient Email",
                            "x-ms-visibility": "important"
                          },
                          "RecipientId": {
                            "type": "string",
                            "x-ms-summary": "Recipient Id",
                            "x-ms-visibility": "advanced"
                          },
                          "RoutingOrder": {
                            "type": "string",
                            "x-ms-summary": "Routing Order",
                            "x-ms-visibility": "important"
                          },
                          "Sent": {
                            "format": "date-time",
                            "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                            "type": "string",
                            "x-ms-summary": "Recipient Sent Date-Time",
                            "x-ms-visibility": "advanced"
                          },
                          "Status": {
                            "description": "The status of the recipient.",
                            "type": "string",
                            "x-ms-summary": "Recipient Status",
                            "x-ms-visibility": "advanced"
                          },
                          "Type": {
                            "description": "The type of recipient.",
                            "type": "string",
                            "x-ms-summary": "Recipeint Type",
                            "x-ms-visibility": "advanced"
                          },
                          "UserName": {
                            "description": "The name of the recipient.",
                            "type": "string",
                            "x-ms-summary": "Recipient Name",
                            "x-ms-visibility": "important"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "TimeZone": {
              "type": "string",
              "x-ms-summary": "Time Zone",
              "x-ms-visibility": "advanced"
            },
            "TimeZoneOffset": {
              "type": "string",
              "x-ms-summary": "Time Zone Offset",
              "x-ms-visibility": "advanced"
            }
          }
        }
      }
    },
    "GetDocumentsResponse": {
      "type": "string",
      "format": "binary",
      "x-ms-summary": "File Content",
      "x-ms-visibility": "important"
    },
    "DynamicSigners": {
      "description": "An object that represents signers based on a template.",
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetDynamicSigners",
        "parameters": {
          "accountId": {
            "parameter": "accountId"
          },
          "templateId": {
            "parameter": "templateId"
          }
        },
        "value-path": "Schema/Items"
      }
    },
    "OnEnvelopeStatusChangesResponse": {
      "type": "object",
      "properties": {
        "envelopes": {
          "description": "Envelopes",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Envelope"
          },
          "x-ms-summary": "Envelopes",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Envelope": {
      "type": "object",
      "properties": {
        "documentsUri": {
          "description": "The URI for the document in DocuSign.",
          "type": "string",
          "x-ms-summary": "Documents URI",
          "x-ms-visibility": "important"
        },
        "envelopeId": {
          "description": "The id of the envelope.",
          "type": "string",
          "x-ms-summary": "Envelope Id",
          "x-ms-visibility": "important"
        },
        "envelopeUri": {
          "description": "The URI for the envelope in DocuSign.",
          "type": "string",
          "x-ms-summary": "Envelope URI",
          "x-ms-visibility": "important"
        },
        "notificationUri": {
          "description": "The URI for the notifications.",
          "type": "string",
          "x-ms-summary": "Notification URI",
          "x-ms-visibility": "advanced"
        },
        "recipientsUri": {
          "description": "The URI for the recipients of the envelope in DocuSign.",
          "type": "string",
          "x-ms-summary": "Recipients URI",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "description": "The status of the envelope.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "statusChangedDateTime": {
          "description": "The datetime the status changed.",
          "type": "string",
          "x-ms-summary": "Status Changed Datetime",
          "x-ms-visibility": "important"
        }
      }
    },
    "CreateEnvelopeResponse": {
      "type": "object",
      "properties": {
        "envelopeId": {
          "description": "The id of the envelope.",
          "type": "string",
          "x-ms-summary": "Envelope Id",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "The status of the envelope.",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "statusDateTime": {
          "description": "The datetime the status was set.",
          "type": "string",
          "x-ms-summary": "Status date time",
          "x-ms-visibility": "important"
        },
        "uri": {
          "description": "The URI for the envelope in DocuSign.",
          "type": "string",
          "x-ms-summary": "URI",
          "x-ms-visibility": "important"
        }
      }
    },
    "SendDraftEnvelopeResponse": {
      "type": "object",
      "properties": {}
    },
    "ListRecipientsResponse": {
      "type": "object",
      "properties": {
        "signers": {
          "description": "Signers",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Signer"
          },
          "x-ms-summary": "Signers",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Signer": {
      "type": "object",
      "properties": {
        "routingOrder": {
          "description": "The signing order of the recipient in the document.",
          "type": "string",
          "x-ms-summary": "Signing Order",
          "x-ms-visibility": "important"
        },
        "roleName": {
          "description": "The role of the signer.",
          "type": "string",
          "x-ms-summary": "Role",
          "x-ms-visibility": "important"
        },
        "recipientId": {
          "description": "The id the recipient.",
          "type": "string",
          "x-ms-summary": "Recipient Id",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the recipient.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "important"
        },
        "email": {
          "description": "The email of the recipient.",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        }
      }
    },
    "GetLoginAccountsResponse": {
      "type": "object",
      "properties": {
        "loginAccounts": {
          "description": "Login accounts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoginAccount"
          },
          "x-ms-summary": "Login accounts",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "LoginAccount": {
      "required": [
        "accountIdGuid"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the account. ",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "accountIdGuid": {
          "description": "The GUID of the account.",
          "type": "string",
          "x-ms-summary": "Account Id guid",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListTemplatesResponse": {
      "type": "object",
      "properties": {
        "envelopeTemplates": {
          "description": "The availalbe envelope templates.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvelopeTemplate"
          },
          "x-ms-summary": "Envelope templates",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "EnvelopeTemplate": {
      "required": [
        "templateId"
      ],
      "type": "object",
      "properties": {
        "templateId": {
          "description": "The id of the template.",
          "type": "string",
          "x-ms-summary": "Template Id",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the template.",
          "type": "string",
          "x-ms-summary": "Name"
        }
      }
    },
    "ListFoldersResponse": {
      "type": "object",
      "properties": {
        "folders": {
          "description": "Folders",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Folder"
          },
          "x-ms-summary": "Folders",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "Folder": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the folder.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "advanced"
        },
        "folderId": {
          "description": "The id of the folder.",
          "type": "string",
          "x-ms-summary": "Folder Id",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListEnvelopesResponse": {
      "type": "object",
      "properties": {
        "folderItems": {
          "description": "The envelopes within a folder.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FolderItem"
          },
          "x-ms-summary": "Folder items",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "FolderItem": {
      "type": "object",
      "properties": {
        "envelopeId": {
          "description": "The id of the envelope.",
          "type": "string",
          "x-ms-summary": "Envelope id",
          "x-ms-visibility": "advanced"
        },
        "subject": {
          "description": "The subject of the envelope.",
          "type": "string",
          "x-ms-summary": "Subject",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListDocumentsResponse": {
      "type": "object",
      "properties": {
        "envelopeDocuments": {
          "description": "The documents attached to the envelope.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvelopeDocument"
          },
          "x-ms-summary": "Envelope documents",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "AddDocumentsResponse": {
      "type": "object",
      "properties": {
        "envelopeId": {
          "type": "string"
        },
        "envelopeDocuments": {
          "description": "The documents attached to the envelope.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvelopeDocument"
          },
          "x-ms-summary": "Envelope documents",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "EnvelopeDocument": {
      "type": "object",
      "properties": {
        "documentId": {
          "description": "The id of the document.",
          "type": "string",
          "x-ms-summary": "Document Id",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "The name of the document.",
          "type": "string",
          "x-ms-summary": "Name",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "DeclineReasonWithoutType": {
      "x-ms-summary": "Decline Reason",
      "x-ms-visibility": "advanced"
    }
  },
  "x-ms-docs": [
    {
      "url": "https://ms.flow.microsoft.com/en-us/blog/docusign-streamline-process/",
      "description": "Streamline document signing and on-boarding processes"
    }
  ],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "GetLoginAccounts"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.docusign.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.docusign.com/company/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ]
}