{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Derdack GmbH",
      "url": "https://www.signl4.com/feedback-we-love-hear-from-you/",
      "email": "success@signl4.com"
    },
    "description": "SIGNL4 offers critical mobile alerting, incident response and service dispatching for operating critical infrastructure. It alerts you persistently via app push, SMS text and voice calls including tracking, escalation, collaboration and duty planning.",
    "title": "SIGNL4 - Mobile Alerting",
    "version": "2.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.signl4.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.signl4.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations; Communication"
    }
  ],
  "host": "connect.signl4.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v2/alerts": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Alert to raise.",
            "x-ms-summary": "Alert to raise",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.RaiseAlertRequestInfo"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/V2.AlertDetails"
            }
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Required entities could not be found in the database.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Triggers a new alert for your team. All team members on duty will receive alert notifications.",
        "summary": "Trigger Alert",
        "operationId": "AlertsTrigger"
      }
    },
    "/v2/alerts/acknowledgeAll": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "User ID of the user to be used to acknowledge the alarms.",
            "x-ms-summary": "User ID",
            "in": "query",
            "name": "userId",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChangeAlertStatusFilterInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Required entities could not be found in the database.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred."
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "This method confirms all unhandled alerts your team currently has by a specific user.",
        "summary": "Confirms all visible alerts",
        "operationId": "AlertsAcknowledgeAll"
      }
    },
    "/v2/alerts/acknowledgeMultiple": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChangeAlertStatusMultipleInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "This method confirms all alerts provided.",
        "summary": "Acknowlegde multiple alerts",
        "operationId": "AlertsAcknowledgeMultiple"
      }
    },
    "/v2/alerts/closeAll": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "User ID of the user to be used to close the alarms.",
            "x-ms-summary": "User ID",
            "in": "query",
            "name": "userId",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChangeAlertStatusFilterInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Required entities could not be found in the database.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "This method closes all acknowledged alerts your team currently has.",
        "summary": "Close all acknowledged alerts",
        "operationId": "AlertsCloseAll"
      }
    },
    "/v2/alerts/closeMultiple": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChangeAlertStatusMultipleInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "This method closes all alerts provided.",
        "summary": "Close multiple alerts",
        "operationId": "AlertsCloseMultiple"
      }
    },
    "/v2/alerts/paged": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "User ID of the user you want to get alerts for.",
            "x-ms-summary": "User ID",
            "in": "query",
            "name": "userId",
            "type": "string"
          },
          {
            "default": 100,
            "description": "Defines the limit of retrieved alert details per request. 1 to 100 are allowed per request.\r\nNumber of alerts could be less if filtered but at least 1.",
            "x-ms-summary": "Alert limit",
            "format": "int32",
            "in": "query",
            "name": "maxResults",
            "type": "integer"
          },
          {
            "description": "The filter defines which alerts are supposed to be retrieved.",
            "x-ms-summary": "Filter",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.AlertFilterRequestInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a paged result with found alerts and continuation token if more alerts are in the\r\ndatabase.",
            "schema": {
              "$ref": "#/definitions/PagedResultsPublic-1-V2.AlertInfo-"
            }
          },
          "204": {
            "description": "There were no alerts found for the specified filter."
          },
          "400": {
            "description": "Required parameters could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "Authorization failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Gets alerts paged.",
        "summary": "Gets alerts paged",
        "operationId": "AlertsGetPaged"
      }
    },
    "/v2/alerts/report": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "User ID of the user for whom you want a report.",
            "x-ms-summary": "User ID",
            "in": "query",
            "name": "userId",
            "type": "string"
          },
          {
            "description": "Team IDs of the teams you want a report for. If you don't set a team id you will get all\r\nressources of all teams you have access to.",
            "x-ms-summary": "Team IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "teamId",
            "type": "array"
          }
        ],
        "responses": {
          "207": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MultiTeamResult-2-V2.AlertCountsDetails-V2.AlertReportError-"
            }
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Required entities could not be found in the database.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Returns information about the occurred alert volume in different time periods as well as information about the\r\nresponse behaviour (amount of confirmed and unhandled alerts) of the team members.",
        "summary": "Get Alert Report",
        "operationId": "AlertsGetReport"
      }
    },
    "/v2/alerts/undoAcknowledgeMultiple": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Configure which user should be undone for which alerts.",
            "x-ms-summary": "User ID",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChangeAlertStatusMultipleInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "This method tries to undo the acknowledgement of multiple alerts via a queue. The operation is handled in the\r\nbackground.",
        "summary": "Queue undo of multiple acknowledgments",
        "operationId": "AlertsUndoAcknowledgeMultiple"
      }
    },
    "/v2/alerts/undoCloseMultiple": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChangeAlertStatusMultipleInfo"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "This method tries to undo multiple alert closes. The operation is handled in the background.",
        "summary": "Withdraw closure of multiple alerts",
        "operationId": "AlertsUndoCloseMultiple"
      }
    },
    "/v2/alerts/{alertId}": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Id of the requested Alert.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID.",
            "x-ms-summary": "User ID",
            "in": "query",
            "name": "userId",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V2.AlertInfo"
            }
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Required entities could not be found in the database.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Gets an alert by id.",
        "summary": "Get Alert",
        "operationId": "AlertsGet"
      }
    },
    "/v2/alerts/{alertId}/acknowledge": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Id to acknowledge an alert.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.ChangeAlertStatusRequestInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V2.AlertInfo"
            }
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "No alert with id was found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "409": {
            "description": "Alert can't be acknowledged because it is against the defined alert lifecycle.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Acknowledge an alert.",
        "summary": "Acknowledge an alert",
        "operationId": "AlertsAcknowledge"
      }
    },
    "/v2/alerts/{alertId}/annotate": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Id of the alert to annotate.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Annotation Information.",
            "x-ms-summary": "Annotation Information",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.AlertAnnotationInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V2.AlertAnnotationDetails"
            }
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Required entities could not be found in the database.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Annotates an alert by given Annotation Info.",
        "summary": "Annotate Alert",
        "operationId": "AlertsAnnotate"
      }
    },
    "/v2/alerts/{alertId}/attachments": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Id of the requested Alert.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/V2.AlertAttachmentInfo"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Required entities could not be found in the database.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Get attachments of an alert by id.",
        "summary": "Get attachment infos of an alert",
        "operationId": "AlertsGetAttachmentInfo"
      }
    },
    "/v2/alerts/{alertId}/attachments/{attachmentId}": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Id of the alert that contains the wanted attachment.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Id of the attachment, that you want to retrieve.",
            "x-ms-summary": "Attachment ID",
            "in": "path",
            "name": "attachmentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Optional parameter defining the wanted width of the picture that is retrieved.",
            "x-ms-summary": "Image Width",
            "format": "int32",
            "in": "query",
            "name": "width",
            "type": "integer"
          },
          {
            "description": "Optional parameter defining the wanted height of the picture that is retrieved.",
            "x-ms-summary": "Image Height",
            "format": "int32",
            "in": "query",
            "name": "height",
            "type": "integer"
          },
          {
            "default": true,
            "description": "Optional parameter defining whether it's wanted to scale the retrieved image. Default is set to\r\ntrue.",
            "x-ms-summary": "Scale",
            "in": "query",
            "name": "scale",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the attachment image with additional meta information.",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          },
          "204": {
            "description": "The image of the attachment was not uploaded yet."
          },
          "400": {
            "description": "A passed parameter was either empty or invalid.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "Authorization failed."
          },
          "404": {
            "description": "The attachment image was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Gets a specified attachment of a specified alert.",
        "summary": "Gets a specified attachment of a specified alert",
        "operationId": "AlertsGetAttachment"
      }
    },
    "/v2/alerts/{alertId}/close": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Id to acknowledge an alert.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Change Alert Status Request Information.",
            "x-ms-summary": "Change Alert Status Request Information",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.ChangeAlertStatusRequestInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V2.AlertInfo"
            }
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "No alert with id was found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "409": {
            "description": "Alert can't be closed because it is against the defined alert lifecycle.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Close an alert.",
        "summary": "Close an alert",
        "operationId": "AlertsClose"
      }
    },
    "/v2/alerts/{alertId}/details": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Alert you want to get.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID of user in which behave the api is called. It is used for filtering purposes regarding the\r\nalert.",
            "x-ms-summary": "User ID",
            "in": "query",
            "name": "userId",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all accessable information about the alert.",
            "schema": {
              "$ref": "#/definitions/V2.AlertDetails"
            }
          },
          "400": {
            "description": "A parameter is missing.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "You don't have access to this alert.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "The alert was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal server error occured.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Get details about an alert.",
        "summary": "Get details about an alert",
        "operationId": "AlertsGetDetails"
      }
    },
    "/v2/alerts/{alertId}/escalateToTeam": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Alert ID for Alert you want to escalate.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Infos for escalation target",
            "x-ms-summary": "Escalation Target Information",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.EscalateAlertRequestInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Escalation successful.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Some parameters were missing.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "You are not allowed to perform this method in behave of the user or you don't have access to this alert.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal server error occurred while queuing escalation.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Escalate an alert manually to a team.",
        "summary": "Escalate an alert manually to a team",
        "operationId": "AlertsEscalateToTeam"
      }
    },
    "/v2/alerts/{alertId}/notifications": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Id of the requested Alert.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/AlertNotificationInfo"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Required entities could not be found in the database.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Get notifications of all users by alert id.",
        "summary": "Get alert notifications",
        "operationId": "AlertsGetNotifications"
      }
    },
    "/v2/alerts/{alertId}/timeline": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Id of the requested Alert.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          },
          {
            "description": "User ID.",
            "x-ms-summary": "User ID",
            "in": "query",
            "name": "userId",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {},
              "type": "array"
            }
          },
          "204": {
            "description": "No annotations were found for the alert."
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "Get alert timeline entries of an alert by id.",
        "summary": "Get alert timeline entries",
        "operationId": "AlertsGetTimeline"
      }
    },
    "/v2/alerts/{alertId}/undoAcknowledge": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Alert ID.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.ChangeAlertStatusRequestInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns updated alert.",
            "schema": {
              "$ref": "#/definitions/V2.AlertInfo"
            }
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "User is not allowed to undo the acknowledgement.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "This method tries to undo an alert acknowledgement.",
        "summary": "Undo the acknowledgement of an alert",
        "operationId": "AlertsUndoAck"
      }
    },
    "/v2/alerts/{alertId}/undoClose": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Alert ID.",
            "x-ms-summary": "Alert ID",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.ChangeAlertStatusRequestInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/V2.AlertInfo"
            }
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "User is not allowed to undo the close.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Alerts"
        ],
        "description": "This method tries to undo an alert close.",
        "summary": "Undo the closure of an alert",
        "operationId": "AlertsUndoClose"
      }
    },
    "/v2/callouts/templates": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Callout templates from subscription.",
            "schema": {
              "items": {
                "$ref": "#/definitions/V2.CalloutTemplateDetails"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Some required Parameter is missing or feature is not licensed",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "You don't have the permissions to access this teams ressouces.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal server error occured.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "CalloutsTemplates"
        ],
        "description": "Get all callout templates for your subscription.",
        "summary": "Get all callout templates for your subscription",
        "operationId": "CalloutsGetTemplates"
      },
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Template you want to save",
            "x-ms-summary": "Template ID",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.CalloutTemplateDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Callout templates from subscription.",
            "schema": {
              "items": {
                "$ref": "#/definitions/V2.CalloutTemplateDetails"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Some required Parameter is missing or feature is not licensed",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "You don't have the permissions to access this teams ressouces.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal server error occured.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "CalloutsTemplates"
        ],
        "description": "Create new callout templates for your subscription.",
        "summary": "Create new callout templates for your subscription",
        "operationId": "CalloutsCreateTemplate"
      }
    },
    "/v2/callouts/templates/{templateId}": {
      "delete": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Template ID.",
            "x-ms-summary": "Template ID",
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Returns no content if save is successful."
          },
          "400": {
            "description": "Some required Parameter is missing or feature is not licensed",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "You don't have the permissions to access this teams ressouces.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal server error occured.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "CalloutsTemplates"
        ],
        "description": "Delete existing callout template from your subscription.",
        "summary": "Delete existing callout template from your subscription",
        "operationId": "CalloutsDeleteTemplate"
      },
      "put": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of template you want to update",
            "x-ms-summary": "Template ID",
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string"
          },
          {
            "description": "New template information",
            "x-ms-summary": "New Template Information",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.CalloutTemplateDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Callout templates from subscription.",
            "schema": {
              "items": {
                "$ref": "#/definitions/V2.CalloutTemplateDetails"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Some required Parameter is missing or feature is not licensed",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "You don't have the permissions to access this teams ressouces.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal server error occured.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "CalloutsTemplates"
        ],
        "description": "Update existing callout template for your subscription.",
        "summary": "Update existing callout template for your subscription",
        "operationId": "CalloutsUpdateTemplate"
      }
    },
    "/v2/categories": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Team ID.",
            "x-ms-summary": "Team ID",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "teamId",
            "type": "array"
          }
        ],
        "responses": {
          "207": {
            "description": "Returns array with the category infos and possible errors.",
            "schema": {
              "$ref": "#/definitions/MultiTeamResult-2-V2.CategoryDetails-V2.CategoryError-"
            }
          },
          "400": {
            "description": "If the input is not valid.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "If you have no permission to access this resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "If any server side errors occur",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Get all categories.",
        "summary": "Get all categories",
        "operationId": "CategoriesGetAll"
      }
    },
    "/v2/categories/images": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Return names of all category images",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "204": {
            "description": "Request was canceled."
          },
          "403": {
            "description": "If you have no permission to access this resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "No category images found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "If any server side errors occur",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Gets the names of all alert category images.\r\nYou can get the image by going to account.signl4.com/images/alerts/categoryImageName.svg.",
        "summary": "Gets the names of all alert category images",
        "operationId": "CategoriesGetImageNames"
      }
    },
    "/v2/categories/{teamId}": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of the team the categories belong to",
            "x-ms-summary": "Team ID",
            "in": "path",
            "name": "teamId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the category infos",
            "schema": {
              "items": {
                "$ref": "#/definitions/CategoryInfo"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "If the input is not valid",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "If you have no permission to access this resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "If the resource was not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "If any server side errors occur",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Sample Request:\r\n            \r\n    GET /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7",
        "summary": "Get all categories",
        "operationId": "CategoriesGetAllOfTeam"
      },
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of the team the category belongs to",
            "x-ms-summary": "Team ID",
            "in": "path",
            "name": "teamId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Category to be created",
            "x-ms-summary": "Category",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CategoryInfo"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Returns the newly created category",
            "schema": {
              "$ref": "#/definitions/CategoryInfo"
            }
          },
          "400": {
            "description": "If the input is not valid",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "If you have no permission to access this resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "If the resource was not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "If any server side errors occur",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Sample Request:\r\n            \r\n    POST /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7\r\n    {\r\n        \"name\": \"Water\",\r\n        \"imageName\": \"water.svg\",\r\n        \"color\": \"#0000cc\",\r\n        \"keywordMatching\": \"Any\",\r\n        \"keywords\": [\r\n            {\r\n                \"value\": \"H2O\"\r\n            },\r\n            {\r\n                \"value\": \"Water\"\r\n            }\r\n        ]\r\n    }",
        "summary": "Create a new category",
        "operationId": "CategoriesCreate"
      }
    },
    "/v2/categories/{teamId}/metrics": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of the team the categories belongs to",
            "x-ms-summary": "Team ID",
            "in": "path",
            "name": "teamId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of category metrics",
            "schema": {
              "items": {
                "$ref": "#/definitions/CategoryMetrics"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "If the input is not valid",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "If you have no permission to access this resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "If the resource was not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "If any server side errors occur",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Sample Request:\r\n            \r\n    GET /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/metrics",
        "summary": "Get metrics for all categories",
        "operationId": "CategoriesGetAllMetrics"
      }
    },
    "/v2/categories/{teamId}/{categoryId}": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of the team the category belongs to",
            "x-ms-summary": "Team ID",
            "in": "path",
            "name": "teamId",
            "required": true,
            "type": "string"
          },
          {
            "description": "ID of the category to get",
            "x-ms-summary": "Category ID",
            "in": "path",
            "name": "categoryId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the category details",
            "schema": {
              "$ref": "#/definitions/CategoryInfo"
            }
          },
          "400": {
            "description": "If the input is not valid",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "If you have no permission to access this resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "If the resource was not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "If any server side errors occur",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Sample Request:\r\n            \r\n    GET /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e",
        "summary": "Get a specific category",
        "operationId": "CategoriesGet"
      },
      "delete": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of the team the category belongs to",
            "x-ms-summary": "Team ID",
            "in": "path",
            "name": "teamId",
            "required": true,
            "type": "string"
          },
          {
            "description": "ID of the category to delete",
            "x-ms-summary": "Category ID",
            "in": "path",
            "name": "categoryId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "If the delete operation was successful"
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "If the input is not valid",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "If you have no permission to access this resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "If the resource was not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "If any server side errors occur",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Sample Request:\r\n            \r\n    DELETE /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e",
        "summary": "Delete an existing category",
        "operationId": "CategoriesDelete"
      },
      "put": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of the team the category belongs to",
            "x-ms-summary": "Team ID",
            "in": "path",
            "name": "teamId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Category ID",
            "x-ms-summary": "Category ID",
            "in": "path",
            "name": "categoryId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Category to be updated",
            "x-ms-summary": "Category Information",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CategoryInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated category",
            "schema": {
              "$ref": "#/definitions/CategoryInfo"
            }
          },
          "400": {
            "description": "If the input is not valid",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "If you have no permission to access this resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "If the resource was not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "If any server side errors occur",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Sample Request:\r\n            \r\n    PUT /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e\r\n    {\r\n        \"name\": \"Water-Updated\",\r\n        \"imageName\": \"water.svg\",\r\n        \"color\": \"#0000cc\",\r\n        \"keywordMatching\": \"All\",\r\n        \"keywords\": [\r\n            {\r\n                \"value\": \"H2O\"\r\n            },\r\n            {\r\n                \"value\": \"Water\"\r\n            },\r\n            {\r\n                \"value\": \"Wet\"\r\n            }\r\n        ]\r\n    }",
        "summary": "Update an existing category",
        "operationId": "CategoriesUpdate"
      }
    },
    "/v2/categories/{teamId}/{categoryId}/metrics": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of the team the category belongs to",
            "x-ms-summary": "Team ID",
            "in": "path",
            "name": "teamId",
            "required": true,
            "type": "string"
          },
          {
            "description": "ID of the category to get",
            "x-ms-summary": "Category ID",
            "in": "path",
            "name": "categoryId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the category metrics",
            "schema": {
              "$ref": "#/definitions/CategoryMetrics"
            }
          },
          "400": {
            "description": "If the input is not valid",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "If you have no permission to access this resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "If the resource was not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "If any server side errors occur",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Sample Request:\r\n            \r\n    GET /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e/metrics",
        "summary": "Get metrics for a specific category",
        "operationId": "CategoriesGetMetrics"
      }
    },
    "/v2/categories/{teamId}/{categoryId}/subscriptions": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of the team the category belongs to",
            "x-ms-summary": "Team ID",
            "in": "path",
            "name": "teamId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Category to get subscriptions for",
            "x-ms-summary": "Category ID",
            "in": "path",
            "name": "categoryId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the category subscriptions",
            "schema": {
              "items": {
                "$ref": "#/definitions/CategorySubscriptionInfo"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "If the input is not valid",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "If you have no permission to access this resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "If the resource was not found"
          },
          "500": {
            "description": "If any server side errors occur",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Sample Request:\r\n            \r\n    GET /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e/subscriptions\r\n    {\r\n    }",
        "summary": "Get category subscriptions",
        "operationId": "CategoriesGetSubscription"
      },
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of the team the category belongs to",
            "x-ms-summary": "Team ID",
            "in": "path",
            "name": "teamId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Category to be updated",
            "x-ms-summary": "Category ID",
            "in": "path",
            "name": "categoryId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "items": {
                "$ref": "#/definitions/CategorySubscriptionInfo"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated category subscriptions",
            "schema": {
              "items": {
                "$ref": "#/definitions/CategorySubscriptionInfo"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "If the input is not valid",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "If you have no permission to access this resource",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "If the resource was not found"
          },
          "500": {
            "description": "If any server side errors occur",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Categories"
        ],
        "description": "Sample Request:\r\n            \r\n    POST /categories/cbb70402-1359-477f-ac92-0171cf2b5ff7/c0054336-cd89-4abf-882d-ba69b5adb25e/subscriptions\r\n    {\r\n    }",
        "summary": "Set category subscriptions",
        "operationId": "CategoriesSetSubscription"
      }
    },
    "/v2/duties/punchIn": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Duty Change Args Request.",
            "x-ms-summary": "Duty Change Args Request",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.DutyChangeArgsRequest"
            }
          }
        ],
        "responses": {
          "207": {
            "description": "Returns successful and errored duty changes.",
            "schema": {
              "$ref": "#/definitions/MultiTeamResult-2-V2.UserDutyDetails-V2.DutyChangeError-"
            }
          },
          "403": {
            "description": "You don't have access to change the status fo this user.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "No team found for user to change duty status in.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Duties"
        ],
        "description": "The specified user will be punched in to duty.",
        "summary": "Punch User in",
        "operationId": "DutiesUserPunchIn"
      }
    },
    "/v2/duties/punchInAsManager": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Duty Change Args Request.",
            "x-ms-summary": "Duty Change Args Request",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.DutyChangeArgsRequest"
            }
          }
        ],
        "responses": {
          "207": {
            "description": "Returns successful and errored duty changes.",
            "schema": {
              "$ref": "#/definitions/MultiTeamResult-2-V2.UserDutyDetails-V2.DutyChangeError-"
            }
          },
          "403": {
            "description": "You don't have access to change the status fo this user.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "No team found for user to change duty status in.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Duties"
        ],
        "description": "The specified user will be punched in to duty as a manager.",
        "summary": "Punch User in as Manager",
        "operationId": "DutiesUserPunchInAsManager"
      }
    },
    "/v2/duties/punchOut": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Duty Change Args Request.",
            "x-ms-summary": "Duty Change Args Request",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.DutyChangeArgsRequest"
            }
          }
        ],
        "responses": {
          "207": {
            "description": "Returns successful and errored duty changes.",
            "schema": {
              "$ref": "#/definitions/MultiTeamResult-2-V2.UserDutyDetails-V2.DutyChangeError-"
            }
          },
          "403": {
            "description": "You don't have access to change the status fo this user.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "No team found for user to change duty status in.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An unexpected error occured.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Duties"
        ],
        "description": "The specified user will be punched out from duty.",
        "summary": "Punch User out",
        "operationId": "DutiesUserPunchOut"
      }
    },
    "/v2/duties/summary": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "IDs of the teams to get the summaries for.",
            "x-ms-summary": "Team IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "teamId",
            "type": "array"
          },
          {
            "description": "Decide if you want all duties or only the last two.",
            "x-ms-summary": "Last Two Duties",
            "in": "query",
            "name": "lastTwoDuties",
            "type": "boolean"
          }
        ],
        "responses": {
          "207": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MultiTeamResult-2-TeamDutySummaryInfo-V2.TeamDutySummaryError-"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Duties"
        ],
        "description": "Get duty assistant info for teams.",
        "summary": "Get duty assistant info for teams",
        "operationId": "DutiesGetDutyAssistantInfo"
      }
    },
    "/v2/eventDistributions/{distributionId}": {
      "delete": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of event source",
            "x-ms-summary": "Event Source ID",
            "in": "path",
            "name": "distributionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Event distribution is deleted."
          },
          "400": {
            "description": "Request was missing required information.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "Your are not allowed to delete this resource.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Event distribution not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal server error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "EventDistributions"
        ],
        "description": "Delete an event distribution.",
        "summary": "Delete an event distribution",
        "operationId": "EventDistributionDelete"
      }
    },
    "/v2/events/paged": {
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Defines the limit of retrieved alert details per request. 1 to 100 are allowed per request.\r\nNumber of alerts could be less if filtered but at least 1.",
            "x-ms-summary": "Limit",
            "format": "int32",
            "in": "query",
            "name": "maxResults",
            "type": "integer"
          },
          {
            "description": "The filter defines which alerts are supposed to be retrieved.",
            "x-ms-summary": "Event Filter",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/EventFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns paged result with found events and continuation token, if database holds more events.",
            "schema": {
              "$ref": "#/definitions/PagedResultsPublic-1-OverviewEvent-"
            }
          },
          "204": {
            "description": "No event could be found (with passed filter)"
          },
          "400": {
            "description": "Required parameters could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Events"
        ],
        "description": "Get overview event paged. If there are more results, you also get a continuation token which you can add to\r\nthe event filter.",
        "summary": "Get overview event paged",
        "operationId": "EventsGetOverviewPaged"
      }
    },
    "/v2/events/{eventId}": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Event id for the event you want to get",
            "x-ms-summary": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the event",
            "schema": {
              "$ref": "#/definitions/V2.EventDetails"
            }
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Event was not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An unhandled server error happened.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Events"
        ],
        "description": "Get details of an event.",
        "summary": "Get details of an event",
        "operationId": "EventsGetDetails"
      }
    },
    "/v2/events/{eventId}/overview": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Id of event to get.",
            "x-ms-summary": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns overview event with specific id.",
            "schema": {
              "$ref": "#/definitions/OverviewEvent"
            }
          },
          "400": {
            "description": "Required parameters could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Event with specified id could not be found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Events"
        ],
        "description": "Get overview event by id.",
        "summary": "Get overview event",
        "operationId": "EventsGetOverview"
      }
    },
    "/v2/events/{eventId}/parameters": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Event Id of the requested Alert.",
            "x-ms-summary": "Event ID",
            "in": "path",
            "name": "eventId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/EventParameterInfo"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Required information could not be found in the request/claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Required entities could not be found in the database.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Internal general error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Events"
        ],
        "description": "Get parameters of an event by id.",
        "summary": "Get event parameters",
        "operationId": "EventsGetParameters"
      }
    },
    "/v2/events/{teamSecret}/": {
      "post": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Team Secret.",
            "x-ms-summary": "Team Secret",
            "in": "path",
            "name": "teamSecret",
            "required": true,
            "type": "string"
          },

          {
            "description": "Event details.",
            "x-ms-summary": "Event details",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.CustomEventsSendInfo"
            }
          },          {
            "description": "External ID Parameter.",
            "x-ms-summary": "External ID Parameter",
            "in": "query",
            "name": "ExtIdParam",
            "type": "string"
          },          
          {
            "description": "External Status Parameter.",
            "x-ms-summary": "External Status Parameter",
            "in": "query",
            "name": "ExtStatusParam",
            "type": "string"
          },
          {
            "description": "New Status.",
            "x-ms-summary": "New Status",
            "in": "query",
            "name": "NewStatus",
            "type": "string"
          },
          {
            "description": "Resolved Status Parameter.",
            "x-ms-summary": "Resolved Status Parameter",
            "in": "query",
            "name": "ResolvedStatus",
            "type": "string"
          },
          {
            "description": "Ack Status.",
            "x-ms-summary": "Ack Status",
            "in": "query",
            "name": "AckStatus",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OverviewEvent"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Events"
        ],
        "description": "Send event.",
        "summary": "Send event",
        "operationId": "EventsSend"
      }
    },
    "/v2/eventsources": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Team Ids to get the event sources from. If you don't add any team id, you get event sources you have access to from your subscription.",
            "x-ms-summary": "Team IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "teamId",
            "type": "array"
          },
          {
            "default": false,
            "description": "If true internal Event Sources type (System, Manual, API) will be included in the result.",
            "x-ms-summary": "Include Internal",
            "in": "query",
            "name": "includeInternal",
            "type": "boolean"
          },
          {
            "description": "<p/><ul><li>0 = EN</li><li>1 = DE</li></ul>",
            "x-ms-summary": "Language",
            "enum": [
              0,
              1
            ],
            "format": "int32",
            "in": "query",
            "name": "language",
            "type": "integer"
          }
        ],
        "responses": {
          "207": {
            "description": "Event sources are returned along side some errors if occurred.",
            "schema": {
              "$ref": "#/definitions/MultiTeamResult-2-EventSourceEndpointInfo-V2.EventSourceEndpointError-"
            }
          },
          "403": {
            "description": "Subscription information was not found in the claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "No teams to request event sources from where found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "EventSources"
        ],
        "description": "Get event sources from one or more teams.",
        "summary": "Get event sources from one or more teams",
        "operationId": "EventSourcesGet"
      },
      "post": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Information for creating a new event source",
            "x-ms-summary": "Event Source Information",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.EventSourceCreateDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newly created event source is returned.",
            "schema": {
              "$ref": "#/definitions/EventSourceEndpointInfo"
            }
          },
          "400": {
            "description": ""
          },
          "403": {
            "description": "You are not allowed to access this resource.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "EventSources"
        ],
        "description": "Create event source.",
        "summary": "Create event source",
        "operationId": "EventSourcesCreate"
      }
    },
    "/v2/eventsources/{eventSourceId}": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Id of the event source.",
            "x-ms-summary": "Event Source ID",
            "in": "path",
            "name": "eventSourceId",
            "required": true,
            "type": "string"
          },
          {
            "description": "<p/><ul><li>0 = EN</li><li>1 = DE</li></ul>",
            "x-ms-summary": "Language",
            "enum": [
              0,
              1
            ],
            "format": "int32",
            "in": "query",
            "name": "language",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested Event source.",
            "schema": {
              "$ref": "#/definitions/EventSourceEndpointInfo"
            }
          },
          "400": {
            "description": "Request was missing required information.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "Subscription information was not found in the claims.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Requested event source not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal error occured.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "EventSources"
        ],
        "description": "Get event source by id.",
        "summary": "Get event source by id",
        "operationId": "EventSourcesGetById"
      },
      "delete": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of event source",
            "x-ms-summary": "Event Source ID",
            "in": "path",
            "name": "eventSourceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Event source is deleted."
          },
          "400": {
            "description": "Request was missing required information.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "Your are not allowed to delete this resource.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Event source to delete not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal server error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "EventSources"
        ],
        "description": "Delete an event source.",
        "summary": "Delete an event source",
        "operationId": "EventSourcesDelete"
      },
      "put": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "ID of event source",
            "x-ms-summary": "Event Source ID",
            "in": "path",
            "name": "eventSourceId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Values you want to update.",
            "x-ms-summary": "Event Source Update Details",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/V2.EventSourceUpdateDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated event source is returned.",
            "schema": {
              "$ref": "#/definitions/EventSourceEndpointInfo"
            }
          },
          "400": {
            "description": "Request was missing required information.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "403": {
            "description": "Your are not allowed to update this resource.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Event source not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "An internal server error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "EventSources"
        ],
        "description": "Update an event source.",
        "summary": "Update an event source",
        "operationId": "EventSourcesUpdate"
      }
    },
    "/v2/prepaid/balance": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PrepaidBalanceInfo"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Prepaid"
        ],
        "description": "Get your subscription's current prepaid balance.",
        "summary": "Get your subscription's current prepaid balance",
        "operationId": "PrepaidGetBalance"
      }
    },
    "/v2/prepaid/settings": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PrepaidSettingsInfo"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Prepaid"
        ],
        "description": "Get your subscription's current prepaid settings.",
        "summary": "Get your subscription's current prepaid settings",
        "operationId": "PrepaidGetSettings"
      },
      "put": {
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "description": "Settings object containing the new values.",
            "x-ms-summary": "Settings Object",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/PrepaidSettingsInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PrepaidSettingsInfo"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponseContent"
            }
          }
        },
        "tags": [
          "Prepaid"
        ],
        "description": "Update your subscription's current prepaid settings.",
        "summary": "Update your subscription's current prepaid settings",
        "operationId": "PrepaidUpdateSettings"
      }
    },
    "/v2/prepaid/transactions": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/PrepaidTransactionInfo"
              },
              "type": "array"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
[...]
