{
  "swagger": "2.0",
  "info": {
    "title": "nps.today",
    "description": "The nps.today connector allows you to send out surveys(NPS questionnaire) based on events in your own system and to get your own system notified whenever a new response or campaign member is added.",
    "version": "1.0",
    "contact": {
      "name": "nps.today Support",
      "url": "https://nps.today/en/support/",
      "email": "support@npstoday.com"
    }
  },
  "host": "api.nps.today",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/campaigns/{campaign}/respondent": {
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "consumes":["application/json"],
        "summary": "Send Survey",
        "description": "Add a respondent and send a survey to that person",
        "operationId": "SendSurvey",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Campaign ID",
            "description": "The campaign ID related to the survey",
            "name": "campaign",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetCampaigns",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "respondent": {
                  "type": "object",
                  "properties": {
                    "emailAddress": {
                      "type": "string",
                      "description": "The email address of the respondent"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "The first name respondent"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "The last name of the respondent"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "The phone number of the respondent"
                    }
                  },
                  "description": "The respondent whom you wish to send a survey to"
                },
                "custom": {
                  "type": "string",
                  "title": "custom",
                  "x-ms-visibility": "advanced",
                  "description": "User defined custom data in JSON format"
                }
              }
            }
          }
        ]
      }
    },
    "/webhooks/subscriptions/{id}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Delete Webhook",
        "description": "Deletes a Webhook",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/webhooks/subscriptions/responses": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "The ID of the response that is returned"
            },
            "Rating": {
              "type": "integer",
              "format": "int32",
              "description": "The rating given by the respondent"
            },
            "Sender": {
              "type": "integer",
              "format": "int32",
              "description": "The ID number of the sender"
            },
            "RatingTime": {
              "type": "string",
              "description": "The timestamp for when the rating was given"
            },
            "UserComment": {
              "type": "string",
              "description": "The comment added by the respondent"
            },
            "CommentTime": {
              "type": "string",
              "description": "The timestamp for when the comment was made"
            },
            "SurveyOpenedTime": {
              "type": "string",
              "description": "The timestamp for when the survey was opened"
            },
            "SurveySendTime": {
              "type": "string",
              "description": "The timestamp for when the survey was sent"
            },
            "SurveyScheduleTime": {
              "type": "string",
              "description": "The point in time that the survey was scheduled for"
            },
            "Respondent": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The respondent's ID number"
                },
                "Address1": {
                  "type": "string",
                  "description": "The first address of the respondent"
                },
                "Address2": {
                  "type": "string",
                  "description": "The second address of the respondent"
                },
                "City": {
                  "type": "string",
                  "description": "The respondent's city of residence"
                },
                "Country": {
                  "type": "string",
                  "description": "The respondent's country of residence"
                },
                "ZipCode": {
                  "type": "string",
                  "description": "The zip code of the respondent's city of residence"
                },
                "EmailAddress": {
                  "type": "string",
                  "description": "The respondent's email address"
                },
                "FirstName": {
                  "type": "string",
                  "description": "The first name of the respondent"
                },
                "LastName": {
                  "type": "string",
                  "description": "The last name of the respondent"
                },
                "Active": {
                  "type": "boolean",
                  "description": "A true or false value describing whether the respondent may be contacted or not, e.g. true means the respondent may be contacted"
                },
                "Title": {
                  "type": "string",
                  "description": "The title of the respondent"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "The company associated with the respondent if any"
                },
                "Department": {
                  "type": "string",
                  "description": "The department at the company which the respondent belongs to"
                },
                "PhoneNumber": {
                  "type": "string",
                  "description": "The phone number of the respondent"
                },
                "EmployeeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The ID number of the responsible employee"
                },
                "EmployeeEmail": {
                  "type": "string",
                  "description": "The email address of the responsible employee"
                },
                "ExternalId": {
                  "type": "string",
                  "description": "The external ID number of the respondent"
                },
                "EmployeeExternalId": {
                  "type": "string",
                  "description": "The responsible employees external ID number"
                }
              },
              "description": "The respondent of the given rating"
            },
            "CampaignId": {
              "type": "integer",
              "format": "int32",
              "description": "The ID number of the campaign"
            },
            "CampaignName": {
              "type": "string",
              "description": "The name of the campaign"
            },
            "Device": {
              "type": "string",
              "description": "The device used to reply"
            },
            "Answer1": {
              "type": "string",
              "description": "The answer to the first of the voluntary follow up questions"
            },
            "Answer2": {
              "type": "string",
              "description": "The answer to the second of the voluntary follow up questions"
            },
            "Answer3": {
              "type": "string",
              "description": "The answer to the third of the voluntary follow up questions"
            },
            "Answer4": {
              "type": "string",
              "description": "The answer to the fourth of the voluntary follow up questions"
            },
            "Answer5": {
              "type": "string",
              "description": "The answer to the fifth of the voluntary follow up questions"
            }
          }
        },
        "description": "The new response that was received and invoked the trigger"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes": ["application/json"],
        "summary": "Subscribe to New Responses being added",
        "description": "Triggers when a new response is recieved",
        "operationId": "NewResponse",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "campaignId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "campaignId",
                  "title": "Campaign ID",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCampaigns",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": ""
                },
                "eventType": {
                  "type": "string",
                  "description": "eventType",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "NewResponse"
                }
              },
              "required": [
                "targetUrl",
                "eventType"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/subscriptions/campaignmembers": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "CampaignId": {
              "type": "integer",
              "format": "int32",
              "description": "The ID number of the campaign"
            },
            "Respondent": {
              "type": "object",
              "properties": {
                "Address1": {
                  "type": "string",
                  "description": "The first address of the campaign member"
                },
                "Address2": {
                  "type": "string",
                  "description": "The second address of the campaign member"
                },
                "City": {
                  "type": "string",
                  "description": "The campaign member's city of residence"
                },
                "Country": {
                  "type": "string",
                  "description": "The campaign member's country of residence"
                },
                "ZipCode": {
                  "type": "string",
                  "description": "The zip code of the campaign member's city of residence"
                },
                "EmailAddress": {
                  "type": "string",
                  "description": "The email address of the campaign member"
                },
                "FirstName": {
                  "type": "string",
                  "description": "The first name of the campaign member"
                },
                "LastName": {
                  "type": "string",
                  "description": "The last name of the campaign member"
                },
                "Active": {
                  "type": "boolean",
                  "description": "A true or false value describing whether the campaign member may be contacted, e.g. true means the campaign member may be contacted"
                },
                "Title": {
                  "type": "string",
                  "description": "The title of the campaign member"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "The company which the campaign member is associated with"
                },
                "EmployeeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The ID number of the responsible employee"
                },
                "EmployeeEmail": {
                  "type": "string",
                  "description": "The email address of the responsible employee"
                },
                "Department": {
                  "type": "string",
                  "description": "The department of the campaign member"
                },
                "PhoneNumber": {
                  "type": "string",
                  "description": "The phone number of the campaign member"
                },
                "ExternalId": {
                  "type": "string",
                  "description": "The external id number of the campaign member"
                },
                "EmployeeExternalId": {
                  "type": "string",
                  "description": "The external id of the responsible employee"
                }
              },
              "description": "The respondent associated with the campaign"
            },
            "SenderId": {
              "type": "integer",
              "format": "int32",
              "description": "The ID number of the sender"
            },
            "Custom": {
              "type": "string",
              "description": "This value contains custom values and is returned as a raw JSON",
              "title": "Custom",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "description": "The information about the new campaign member"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes":["application/json"],
        "summary": "Subscribe to new Campaign Members being added",
        "description": "This triggers when a new campaign member is added and returns associated information about that new campaign member",
        "operationId": "NewCampaignMember",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "campaignId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The campaign you wish to subscribe the trigger to",
                  "title": "Campaign ID",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCampaigns",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "targetUrl": {
                  "type": "string",
                  "description": "The value used for the return url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "eventType": {
                  "type": "string",
                  "description": "The type of event associated with the trigger",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "NewCampaignMember"
                }
              },
              "required": [
                "eventType",
                "targetUrl"
              ]
            }
          }
        ]
      }
    },
    "/profile/employees": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "consumes":["application/json"],
        "summary": "Add Employee",
        "description": "Adds an employee to your organization on the nps.today platform",
        "operationId": "AddEmployee",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The employee's email address"
                },
                "firstName": {
                  "type": "string",
                  "description": "The employee's first name"
                },
                "lastName": {
                  "type": "string",
                  "description": "The employee's last name"
                },
                "title": {
                  "type": "string",
                  "description": "The employee's title"
                },
                "department": {
                  "type": "string",
                  "description": "The employee's department"
                },
                "team": {
                  "type": "string",
                  "description": "The employee's team"
                },
                "division": {
                  "type": "string",
                  "description": "The employee's division"
                },
                "phoneNumber": {
                  "type": "string",
                  "description": "The employees phone number"
                },
                "active": {
                  "type": "boolean",
                  "description": "A true or false value describing whether the employee can be contacted"
                }
              }
            }
          }
        ]
      }
    },
    "/campaigns/": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The ID number of the campaign"
                  },
                  "name": {
                    "x-ms-summary": "Form Name",
                    "type": "string",
                    "description": "The name of the campaign"
                  }
                }
              },
              "type": "array"
            }
          }
        },
        "x-ms-visibility": "internal",
        "operationId": "GetCampaigns",
        "summary": "Gets available Campaigns",
        "description": "Gets a list of available campaigns",
        "parameters": []
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://nps.today/en"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://nps.today/en/about-us/general-terms/cookies-and-privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}