{
  "swagger": "2.0",
  "info": {
    "title": "nps.today",
    "description": "The nps.today connector allows you to send out surveys(NPS questionnaire) based on events in your own system and to get your own system notified whenever a new response or campaign member is added.",
    "version": "1.0",
    "contact": {
      "name": "nps.today Support",
      "url": "https://nps.today/en/support/",
      "email": "support@npstoday.com"
    }
  },
  "host": "api.nps.today",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/campaigns/{campaign}/respondent": {
      "post": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "consumes":["application/json"],
        "summary": "Send Survey",
        "description": "Send a survey and add a respondent",
        "operationId": "SendSurvey",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "x-ms-summary":"Campaign ID",
            "description":"The campaign ID related to the survey",
            "name": "campaign",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "respondent": {
                  "type": "object",
                  "properties": {
                    "emailAddress": {
                      "type": "string",
                      "description": "emailAddress"
                    },
                    "firstName": {
                      "type": "string",
                      "description": "firstName"
                    },
                    "lastName": {
                      "type": "string",
                      "description": "lastName"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "phoneNumber"
                    }
                  },
                  "description": "respondent"
                }
              }
            }
          }
        ]
      }
    },
    "/webhooks/subscriptions": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "Id"
            },
            "Rating": {
              "type": "integer",
              "format": "int32",
              "description": "Rating"
            },
            "Sender": {
              "type": "integer",
              "format": "int32",
              "description": "Sender"
            },
            "RatingTime": {
              "type": "string",
              "description": "RatingTime"
            },
            "UserComment": {
              "type": "string",
              "description": "UserComment"
            },
            "CommentTime": {
              "type": "string",
              "description": "CommentTime"
            },
            "SurveyOpenedTime": {
              "type": "string",
              "description": "SurveyOpenedTime"
            },
            "SurveySendTime": {
              "type": "string",
              "description": "SurveySendTime"
            },
            "SurveyScheduleTime": {
              "type": "string",
              "description": "SurveyScheduleTime"
            },
            "Respondent": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "Address1": {
                  "type": "string",
                  "description": "Address1"
                },
                "Address2": {
                  "type": "string",
                  "description": "Address2"
                },
                "City": {
                  "type": "string",
                  "description": "City"
                },
                "Country": {
                  "type": "string",
                  "description": "Country"
                },
                "ZipCode": {
                  "type": "string",
                  "description": "ZipCode"
                },
                "EmailAddress": {
                  "type": "string",
                  "description": "EmailAddress"
                },
                "FirstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "LastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active"
                },
                "Title": {
                  "type": "string",
                  "description": "Title"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "CompanyName"
                },
                "EmployeeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "EmployeeId"
                },
                "EmployeeEmail": {
                  "type": "string",
                  "description": "EmployeeEmail"
                },
                "Department": {
                  "type": "string",
                  "description": "Department"
                },
                "PhoneNumber": {
                  "type": "string",
                  "description": "PhoneNumber"
                },
                "ExternalId": {
                  "type": "string",
                  "description": "ExternalId"
                },
                "EmployeeExternalId": {
                  "type": "string",
                  "description": "EmployeeExternalId"
                }
              },
              "description": "Respondent"
            },
            "CampaignId": {
              "type": "integer",
              "format": "int32",
              "description": "CampaignId"
            },
            "CampaignName": {
              "type": "string",
              "description": "CampaignName"
            },
            "Device": {
              "type": "string",
              "description": "Device"
            },
            "Answer1": {
              "type": "string",
              "description": "Answer1"
            },
            "Answer2": {
              "type": "string",
              "description": "Answer2"
            },
            "Answer3": {
              "type": "string",
              "description": "Answer3"
            },
            "Answer4": {
              "type": "string",
              "description": "Answer4"
            },
            "Answer5": {
              "type": "string",
              "description": "Answer5"
            }
          }
        },
        "description": "New Response"
      }
    },
    "/webhooks/subscriptions/{id}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Delete Webhook",
        "description": "Deletes a Webhook",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/webhooks/subscriptions/responses": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "integer",
              "format": "int32",
              "description": "Id"
            },
            "Rating": {
              "type": "integer",
              "format": "int32",
              "description": "Rating"
            },
            "Sender": {
              "type": "integer",
              "format": "int32",
              "description": "Sender"
            },
            "RatingTime": {
              "type": "string",
              "description": "RatingTime"
            },
            "UserComment": {
              "type": "string",
              "description": "UserComment"
            },
            "CommentTime": {
              "type": "string",
              "description": "CommentTime"
            },
            "SurveyOpenedTime": {
              "type": "string",
              "description": "SurveyOpenedTime"
            },
            "SurveySendTime": {
              "type": "string",
              "description": "SurveySendTime"
            },
            "SurveyScheduleTime": {
              "type": "string",
              "description": "SurveyScheduleTime"
            },
            "Respondent": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Id"
                },
                "Address1": {
                  "type": "string",
                  "description": "Address1"
                },
                "Address2": {
                  "type": "string",
                  "description": "Address2"
                },
                "City": {
                  "type": "string",
                  "description": "City"
                },
                "Country": {
                  "type": "string",
                  "description": "Country"
                },
                "ZipCode": {
                  "type": "string",
                  "description": "ZipCode"
                },
                "EmailAddress": {
                  "type": "string",
                  "description": "EmailAddress"
                },
                "FirstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "LastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active"
                },
                "Title": {
                  "type": "string",
                  "description": "Title"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "CompanyName"
                },
                "EmployeeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "EmployeeId"
                },
                "EmployeeEmail": {
                  "type": "string",
                  "description": "EmployeeEmail"
                },
                "Department": {
                  "type": "string",
                  "description": "Department"
                },
                "PhoneNumber": {
                  "type": "string",
                  "description": "PhoneNumber"
                },
                "ExternalId": {
                  "type": "string",
                  "description": "ExternalId"
                },
                "EmployeeExternalId": {
                  "type": "string",
                  "description": "EmployeeExternalId"
                }
              },
              "description": "Respondent"
            },
            "CampaignId": {
              "type": "integer",
              "format": "int32",
              "description": "CampaignId"
            },
            "CampaignName": {
              "type": "string",
              "description": "CampaignName"
            },
            "Device": {
              "type": "string",
              "description": "Device"
            },
            "Answer1": {
              "type": "string",
              "description": "Answer1"
            },
            "Answer2": {
              "type": "string",
              "description": "Answer2"
            },
            "Answer3": {
              "type": "string",
              "description": "Answer3"
            },
            "Answer4": {
              "type": "string",
              "description": "Answer4"
            },
            "Answer5": {
              "type": "string",
              "description": "Answer5"
            }
          }
        },
        "description": "New Response"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes": ["application/json"],
        "summary": "Subscribe to New Responses being added",
        "description": "Triggers when a new response is recieved",
        "operationId": "NewResponse",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "campaignId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "campaignId",
                  "title": "Campaign ID",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCampaigns",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true,
                  "title": ""
                },
                "eventType": {
                  "type": "string",
                  "description": "eventType",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "NewResponse"
                }
              },
              "required": [
                "targetUrl",
                "eventType"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/subscriptions/campaignmembers": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "CampaignId": {
              "type": "integer",
              "format": "int32",
              "description": "CampaignId"
            },
            "Id": {
              "type": "object",
              "properties": {
                "Address1": {
                  "type": "string",
                  "description": "Address1"
                },
                "Address2": {
                  "type": "string",
                  "description": "Address2"
                },
                "City": {
                  "type": "string",
                  "description": "City"
                },
                "Country": {
                  "type": "string",
                  "description": "Country"
                },
                "ZipCode": {
                  "type": "string",
                  "description": "ZipCode"
                },
                "EmailAddress": {
                  "type": "string",
                  "description": "EmailAddress"
                },
                "FirstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "LastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active"
                },
                "Title": {
                  "type": "string",
                  "description": "Title"
                },
                "CompanyName": {
                  "type": "string",
                  "description": "CompanyName"
                },
                "EmployeeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "EmployeeId"
                },
                "EmployeeEmail": {
                  "type": "string",
                  "description": "EmployeeEmail"
                },
                "Department": {
                  "type": "string",
                  "description": "Department"
                },
                "PhoneNumber": {
                  "type": "string",
                  "description": "PhoneNumber"
                },
                "ExternalId": {
                  "type": "string",
                  "description": "ExternalId"
                },
                "EmployeeExternalId": {
                  "type": "string",
                  "description": "EmployeeExternalId"
                }
              },
              "description": "Id"
            },
            "SenderId": {
              "type": "integer",
              "format": "int32",
              "description": "SenderId"
            }
          }
        },
        "description": "New Campaign Member"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes":["application/json"],
        "summary": "Subscribe to new Campaign Members being added",
        "description": "Triggers when a new campaign member is added",
        "operationId": "NewCampaignMember",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "campaignId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "campaignId",
                  "title": "Campaign ID",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCampaigns",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                },
                "eventType": {
                  "type": "string",
                  "description": "eventType",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "NewCampaignMember"
                }
              },
              "required": [
                "eventType",
                "targetUrl"
              ]
            }
          }
        ]
      }
    },
    "/profile/employees": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "consumes":["application/json"],
        "summary": "Add Employee",
        "description": "Adds an employee to your organization",
        "operationId": "AddEmployee",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "firstName": {
                  "type": "string",
                  "description": "firstName"
                },
                "lastName": {
                  "type": "string",
                  "description": "lastName"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "department": {
                  "type": "string",
                  "description": "department"
                },
                "team": {
                  "type": "string",
                  "description": "team"
                },
                "division": {
                  "type": "string",
                  "description": "division"
                },
                "phoneNumber": {
                  "type": "string",
                  "description": "phoneNumber"
                },
                "active": {
                  "type": "boolean",
                  "description": "active"
                }
              }
            }
          }
        ]
      }
    },
    "/campaigns/": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "name": {
                    "x-ms-summary": "Form Name",
                    "type": "string",
                    "description": "title"
                  }
                }
              },
              "type": "array"
            }
          }
        },
        "x-ms-visibility": "internal",
        "operationId": "GetCampaigns",
        "summary": "Gets available Campaigns",
        "description": "Gets a list of available campaigns",
        "parameters": []
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://nps.today/en"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://nps.today/en/about-us/general-terms/cookies-and-privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}