{
  "swagger": "2.0",
  "info": {
    "title": "National Weather Service",
    "description": "The National Weather Service (NWS) web service allows developers access to critical forecasts, alerts, and observations, along with other weather data. The web service was designed with a cache-friendly approach that expires content based upon the information life cycle.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.weather.gov",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/alerts": {
      "get": {
        "description": "Retrieve a list of alerts.",
        "summary": "Get all alerts",
        "operationId": "Alerts_query",
        "parameters": [
          {
            "$ref": "#/parameters/QueryStartTime"
          },
          {
            "$ref": "#/parameters/QueryEndTime"
          },
          {
            "$ref": "#/parameters/AlertStatus"
          },
          {
            "$ref": "#/parameters/AlertMessageType"
          },
          {
            "$ref": "#/parameters/AlertEventName"
          },
          {
            "$ref": "#/parameters/AlertCode"
          },
          {
            "$ref": "#/parameters/AlertArea"
          },
          {
            "$ref": "#/parameters/AlertPoint"
          },
          {
            "$ref": "#/parameters/AlertRegion"
          },
          {
            "$ref": "#/parameters/AlertRegionType"
          },
          {
            "$ref": "#/parameters/AlertZone"
          },
          {
            "$ref": "#/parameters/AlertUrgency"
          },
          {
            "$ref": "#/parameters/AlertSeverity"
          },
          {
            "$ref": "#/parameters/AlertCertainty"
          },
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/PaginationCursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AlertCollection"
          },
          "301": {
            "description": "Certain common queries may be redirected to discrete URLs."
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/alerts/active": {
      "get": {
        "description": "Retrieve a list of active alerts.",
        "summary": "Get active alerts",
        "operationId": "Alerts_active",
        "parameters": [
          {
            "$ref": "#/parameters/AlertStatus"
          },
          {
            "$ref": "#/parameters/AlertMessageType"
          },
          {
            "$ref": "#/parameters/AlertEventName"
          },
          {
            "$ref": "#/parameters/AlertCode"
          },
          {
            "$ref": "#/parameters/AlertArea"
          },
          {
            "$ref": "#/parameters/AlertPoint"
          },
          {
            "$ref": "#/parameters/AlertRegion"
          },
          {
            "$ref": "#/parameters/AlertRegionType"
          },
          {
            "$ref": "#/parameters/AlertZone"
          },
          {
            "$ref": "#/parameters/AlertUrgency"
          },
          {
            "$ref": "#/parameters/AlertSeverity"
          },
          {
            "$ref": "#/parameters/AlertCertainty"
          },
          {
            "$ref": "#/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AlertCollection"
          },
          "301": {
            "description": "Certain common queries may be redirected to discrete URLs."
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/alerts/active/count": {
      "get": {
        "description": "Retrieve a count of active alerts.",
        "summary": "Get active alert counts",
        "operationId": "Alerts_active_count",
        "responses": {
          "200": {
            "description": "A data structure showing the counts of active alerts broken down by various categories.",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "description": "The total number of active alerts.",
                  "title": "Total",
                  "minimum": 0,
                  "type": "integer"
                },
                "land": {
                  "description": "The total number of active alerts affecting land zones.",
                  "title": "Land",
                  "minimum": 0,
                  "type": "integer"
                },
                "marine": {
                  "description": "The total number of active alerts affecting marine zones.",
                  "title": "Marine",
                  "minimum": 0,
                  "type": "integer"
                },
                "regions": {
                  "description": "Active alerts by marine region.",
                  "title": "Regions",
                  "type": "object",
                  "additionalProperties": {
                    "minimum": 1,
                    "type": "integer"
                  }
                },
                "areas": {
                  "description": "Active alerts by area (state/territory).",
                  "title": "Areas",
                  "type": "object",
                  "additionalProperties": {
                    "minimum": 1,
                    "type": "integer"
                  }
                },
                "zones": {
                  "description": "Active alerts by NWS public zone or county code.",
                  "title": "Zones",
                  "type": "object",
                  "additionalProperties": {
                    "minimum": 1,
                    "type": "integer"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/alerts/active/zone/{zoneId}": {
      "get": {
        "description": "Retrieve a list of active alerts for a zone.",
        "summary": "Get active alerts for a zone",
        "operationId": "Alerts_active_zone",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "Zone ID",
            "x-ms-url-encoding": "single",
            "name": "zoneId",
            "description": "NWS public zone/county identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AlertCollection"
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/alerts/active/area/{area}": {
      "get": {
        "description": "Retrieve a list of active alerts for an area.",
        "summary": "Get active alerts for an area",
        "operationId": "Alerts_active_area",
        "parameters": [
          {
            "name": "area",
            "in": "path",
            "x-ms-summary": "Area ID",
            "x-ms-url-encoding": "single",
            "type": "string",
            "description": "State/area identifier.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AlertCollection"
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/alerts/active/region/{region}": {
      "get": {
        "description": "Retrieve a list of active alerts for a marine region.",
        "summary": "Get active alerts for a marine region",
        "operationId": "Alerts_active_region",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "Region ID",
            "x-ms-url-encoding": "single",
            "name": "region",
            "description": "Marine region identifier.",
            "required": true,
            "type": "string",
            "enum": [
              "AL",
              "AT",
              "GL",
              "GM",
              "PA",
              "PI"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AlertCollection"
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/alerts/types": {
      "get": {
        "description": "Retrieve a list of alert types.",
        "summary": "Get alert types",
        "operationId": "Alerts_types",
        "responses": {
          "200": {
            "description": "A list of recognized event types.",
            "schema": {
              "type": "object",
              "properties": {
                "eventTypes": {
                  "description": "A list of recognized event types.",
                  "title": "Event Types",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/alerts/{id}": {
      "get": {
        "description": "Retrieve a single alert.",
        "summary": "Get a single alert",
        "operationId": "Alerts_single",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "Alert ID",
            "x-ms-url-encoding": "single",
            "name": "id",
            "description": "Alert identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An alert record.",
            "schema": {
              "$ref": "#/definitions/AlertGeoJson"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/aviation/cwsus/{cwsuId}": {
      "get": {
        "description": "Retrieve metadata about a Center Weather Service Unit.",
        "summary": "Get CWSU metadata",
        "operationId": "Cwsu",
        "parameters": [
          {
            "$ref": "#/parameters/NWSCenterWeatherServiceUnitId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Office"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/aviation/cwsus/{cwsuId}/cwas": {
      "get": {
        "description": "Retrieve a list of Center Weather Advisories from a CWSU.",
        "summary": "Get CWA list",
        "operationId": "Cwas",
        "parameters": [
          {
            "$ref": "#/parameters/NWSCenterWeatherServiceUnitId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CenterWeatherAdvisoryCollectionGeoJson"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/aviation/cwsus/{cwsuId}/cwas/{date}/{sequence}": {
      "get": {
        "description": "Retrieve a specific Center Weather Advisory from a CWSU.",
        "summary": "Get CWA by sequence",
        "operationId": "Cwa",
        "parameters": [
          {
            "$ref": "#/parameters/NWSCenterWeatherServiceUnitId"
          },
          {
            "$ref": "#/parameters/Date"
          },
          {
            "in": "path",
            "x-ms-summary": "Sequence",
            "x-ms-url-encoding": "single",
            "name": "sequence",
            "description": "Sequence number.",
            "required": true,
            "type": "integer",
            "minimum": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CenterWeatherAdvisoryGeoJson"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/aviation/sigmets": {
      "get": {
        "description": "Retrieve a list of SIGMET/AIRMETs.",
        "summary": "Get SIGMETs",
        "operationId": "SigmetQuery",
        "parameters": [
          {
            "$ref": "#/parameters/QueryStartTime"
          },
          {
            "$ref": "#/parameters/QueryEndTime"
          },
          {
            "$ref": "#/parameters/QueryDate"
          },
          {
            "in": "query",
            "x-ms-summary": "ATSU",
            "name": "atsu",
            "description": "ATSU identifier.",
            "type": "string",
            "pattern": "^[A-Z]{3,4}$"
          },
          {
            "in": "query",
            "x-ms-summary": "Sequence",
            "name": "sequence",
            "description": "SIGMET sequence number.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SigmetCollectionGeoJson"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/aviation/sigmets/{atsu}": {
      "get": {
        "description": "Retrieve a list of SIGMET/AIRMETs for a specific ATSU.",
        "summary": "Get SIGMETs by ATSU",
        "operationId": "SigmetsByATSU",
        "parameters": [
          {
            "$ref": "#/parameters/ATSUIdentifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SigmetCollectionGeoJson"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/aviation/sigmets/{atsu}/{date}": {
      "get": {
        "description": "Retrieve a list of SIGMET/AIRMETs for a specific ATSU and date.",
        "summary": "Get SIGMETs by ATSU and date",
        "operationId": "SigmetsByATSUByDate",
        "parameters": [
          {
            "$ref": "#/parameters/ATSUIdentifier"
          },
          {
            "$ref": "#/parameters/Date"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SigmetCollectionGeoJson"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/aviation/sigmets/{atsu}/{date}/{time}": {
      "get": {
        "description": "Retrieve a specific SIGMET/AIRMET.",
        "summary": "Get SIGMET by ATSU, date, and time",
        "operationId": "Sigmet",
        "parameters": [
          {
            "$ref": "#/parameters/ATSUIdentifier"
          },
          {
            "$ref": "#/parameters/Date"
          },
          {
            "$ref": "#/parameters/Time"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SigmetGeoJson"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/glossary": {
      "get": {
        "description": "Retrieve a list of glossary terms.",
        "summary": "Get glossary",
        "operationId": "Glossary",
        "responses": {
          "200": {
            "description": "A set of glossary terms.",
            "schema": {
              "type": "object",
              "properties": {
                "@context": {
                  "$ref": "#/definitions/JsonLdContext"
                },
                "glossary": {
                  "title": "Glossary",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "term": {
                        "description": "The glossary term being defined.",
                        "title": "Term",
                        "type": "string"
                      },
                      "definition": {
                        "description": "A definition for the term.",
                        "title": "Definition",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/gridpoints/{wfo}/{x},{y}": {
      "get": {
        "description": "Retrieve a raw numerical forecast data for a 2.5km grid area.",
        "summary": "Get gridpoint forecast",
        "operationId": "Gridpoint",
        "parameters": [
          {
            "$ref": "#/parameters/GridpointWFO"
          },
          {
            "$ref": "#/parameters/GridpointX"
          },
          {
            "$ref": "#/parameters/GridpointY"
          }
        ],
        "responses": {
          "200": {
            "description": "Gridpoint forecast data.",
            "schema": {
              "$ref": "#/definitions/GridpointGeoJson"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/gridpoints/{wfo}/{x},{y}/forecast": {
      "get": {
        "description": "Retrieve a textual forecast for a 2.5km grid area.",
        "summary": "Get textual gridpoint forecast",
        "operationId": "Gridpoint_forecast",
        "parameters": [
          {
            "$ref": "#/parameters/GridpointForecastFeatureFlags"
          },
          {
            "$ref": "#/parameters/GridpointForecastUnits"
          },
          {
            "$ref": "#/parameters/GridpointWFO"
          },
          {
            "$ref": "#/parameters/GridpointX"
          },
          {
            "$ref": "#/parameters/GridpointY"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GridpointForecast"
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/gridpoints/{wfo}/{x},{y}/forecast/hourly": {
      "get": {
        "description": "Retrieve an hourly forecast for a 2.5km grid area.",
        "summary": "Get hourly gridpoint forecast",
        "operationId": "Gridpoint_forecast_hourly",
        "parameters": [
          {
            "$ref": "#/parameters/GridpointForecastFeatureFlags"
          },
          {
            "$ref": "#/parameters/GridpointForecastUnits"
          },
          {
            "$ref": "#/parameters/GridpointWFO"
          },
          {
            "$ref": "#/parameters/GridpointX"
          },
          {
            "$ref": "#/parameters/GridpointY"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/GridpointForecast"
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/gridpoints/{wfo}/{x},{y}/stations": {
      "get": {
        "description": "Retrieve a list of observation stations for a 2.5km grid area.",
        "summary": "Get gridpoint stations",
        "operationId": "Gridpoint_stations",
        "parameters": [
          {
            "$ref": "#/parameters/GridpointWFO"
          },
          {
            "$ref": "#/parameters/GridpointX"
          },
          {
            "$ref": "#/parameters/GridpointY"
          },
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/PaginationCursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ObservationStationCollection"
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/stations/{stationId}/observations": {
      "get": {
        "description": "Retrieve a list of observations for a station.",
        "summary": "Get station observations",
        "operationId": "Station_observation_list",
        "parameters": [
          {
            "$ref": "#/parameters/QueryStartTime"
          },
          {
            "$ref": "#/parameters/QueryEndTime"
          },
          {
            "$ref": "#/parameters/ObservationStationId"
          },
          {
            "in": "query",
            "x-ms-summary": "Limit",
            "name": "limit",
            "description": "Limit.",
            "type": "integer",
            "maximum": 500,
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ObservationCollection"
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/stations/{stationId}/observations/latest": {
      "get": {
        "description": "Retrieve the latest observation for a station.",
        "summary": "Get latest station observation",
        "operationId": "Station_observation_latest",
        "parameters": [
          {
            "$ref": "#/parameters/ObservationStationId"
          },
          {
            "in": "query",
            "x-ms-summary": "Require QC",
            "name": "require_qc",
            "description": "Require QC.",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Observation"
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/stations/{stationId}/observations/{time}": {
      "get": {
        "description": "Returns a single station observation.",
        "summary": "Get observation by time",
        "operationId": "Station_observation_time",
        "parameters": [
          {
            "$ref": "#/parameters/ObservationStationId"
          },
          {
            "in": "path",
            "x-ms-summary": "Time",
            "x-ms-url-encoding": "single",
            "name": "time",
            "description": "Timestamp of requested observation.",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Observation"
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/stations/{stationId}/tafs": {
      "get": {
        "description": "Retrieve Terminal Aerodrome Forecasts for the specified airport station.",
        "summary": "Get TAFs",
        "operationId": "Tafs",
        "parameters": [
          {
            "$ref": "#/parameters/ObservationStationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {}
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/stations/{stationId}/tafs/{date}/{time}": {
      "get": {
        "description": "Retrieve a single Terminal Aerodrome Forecast.",
        "summary": "Get TAF by time",
        "operationId": "Taf",
        "parameters": [
          {
            "$ref": "#/parameters/ObservationStationId"
          },
          {
            "$ref": "#/parameters/Date"
          },
          {
            "$ref": "#/parameters/Time"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {}
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/stations": {
      "get": {
        "description": "Retrieve a list of observation stations.",
        "summary": "Get observation stations",
        "operationId": "Obs_stations",
        "parameters": [
          {
            "in": "query",
            "x-ms-summary": "Station ID",
            "name": "id",
            "description": "Filter by observation station identifier.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "x-ms-summary": "State",
            "name": "state",
            "description": "Filter by state/marine area code.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "AL",
                "AK",
                "AS",
                "AR",
                "AZ",
                "CA",
                "CO",
                "CT",
                "DE",
                "DC",
                "FL",
                "GA",
                "GU",
                "HI",
                "ID",
                "IL",
                "IN",
                "IA",
                "KS",
                "KY",
                "LA",
                "ME",
                "MD",
                "MA",
                "MI",
                "MN",
                "MS",
                "MO",
                "MT",
                "NE",
                "NV",
                "NH",
                "NJ",
                "NM",
                "NY",
                "NC",
                "ND",
                "OH",
                "OK",
                "OR",
                "PA",
                "PR",
                "RI",
                "SC",
                "SD",
                "TN",
                "TX",
                "UT",
                "VT",
                "VI",
                "VA",
                "WA",
                "WV",
                "WI",
                "WY",
                "MP",
                "PW",
                "FM",
                "MH"
              ]
            }
          },
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/PaginationCursor"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ObservationStationCollection"
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/stations/{stationId}": {
      "get": {
        "description": "Retrieve metadata about a given observation station.",
        "summary": "Get observation station",
        "operationId": "Obs_station",
        "parameters": [
          {
            "$ref": "#/parameters/ObservationStationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ObservationStationGeoJson"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/offices/{officeId}": {
      "get": {
        "description": "Retrieve metadata about a NWS forecast office.",
        "summary": "Get office",
        "operationId": "Office",
        "parameters": [
          {
            "$ref": "#/parameters/NWSOfficeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Office"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/offices/{officeId}/headlines/{headlineId}": {
      "get": {
        "description": "Retrieve a specific news headline for a given NWS office.",
        "summary": "Get an office headline",
        "operationId": "Office_headline",
        "parameters": [
          {
            "$ref": "#/parameters/NWSOfficeId"
          },
          {
            "in": "path",
            "x-ms-summary": "Headline ID",
            "x-ms-url-encoding": "single",
            "name": "headlineId",
            "description": "Headline record identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/OfficeHeadline"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/offices/{officeId}/headlines": {
      "get": {
        "description": "Retrieve a list of news headlines for a given NWS office.",
        "summary": "Get office headlines",
        "operationId": "Office_headlines",
        "parameters": [
          {
            "$ref": "#/parameters/NWSOfficeId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/OfficeHeadlineCollection"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/points/{point}": {
      "get": {
        "description": "Retrieve metadata about a given latitude/longitude point.",
        "summary": "Get point",
        "operationId": "Point",
        "parameters": [
          {
            "$ref": "#/parameters/PathPoint"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/PointGeoJson"
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/radar/servers": {
      "get": {
        "description": "Retrieve a list of radar servers.",
        "summary": "Get radar servers",
        "operationId": "Radar_servers",
        "parameters": [
          {
            "in": "query",
            "x-ms-summary": "Reporting Host",
            "name": "reportingHost",
            "description": "Show records from specific reporting host.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "object",
              "properties": {
                "@context": {
                  "type": "object",
                  "properties": {
                    "@version": {
                      "type": "string",
                      "description": "The version of the context.",
                      "title": "Version"
                    }
                  },
                  "title": "Context"
                },
                "@graph": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@id": {
                        "type": "string",
                        "description": "The identifier for the context record.",
                        "title": "Context ID"
                      },
                      "@type": {
                        "type": "string",
                        "description": "The type of the context record.",
                        "title": "Context Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier for the radar server.",
                        "title": "ID"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of the radar server.",
                        "title": "Type"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Whether the radar server is active.",
                        "title": "Active"
                      },
                      "primary": {
                        "type": "boolean",
                        "description": "Whether the radar server is primary.",
                        "title": "Primary"
                      },
                      "aggregate": {
                        "type": "boolean",
                        "description": "Whether the radar server is an aggregate.",
                        "title": "Aggregate"
                      },
                      "locked": {
                        "type": "boolean",
                        "description": "Whether the radar server is locked.",
                        "title": "Locked"
                      },
                      "radarNetworkUp": {
                        "type": "boolean",
                        "description": "Whether the radar network is up.",
                        "title": "Radar Network Up"
                      },
                      "collectionTime": {
                        "type": "string",
                        "description": "The collection time for the radar server.",
                        "title": "Collection Time"
                      },
                      "reportingHost": {
                        "type": "string",
                        "description": "The reporting host for the radar server.",
                        "title": "Reporting Host"
                      },
                      "ping": {
                        "type": "object",
                        "properties": {
                          "targets": {
                            "type": "object",
                            "properties": {
                              "client": {
                                "type": "array",
                                "items": {},
                                "description": "The client target.",
                                "title": "Client"
                              },
                              "ldm": {
                                "type": "object",
                                "properties": {
                                  "ldm4": {
                                    "type": "boolean",
                                    "description": "Whether the LDM4 target is up.",
                                    "title": "LDM4"
                                  },
                                  "tds": {
                                    "type": "boolean",
                                    "description": "Whether the TDS target is up.",
                                    "title": "TDS"
                                  },
                                  "ldm2": {
                                    "type": "boolean",
                                    "description": "Whether the LDM2 target is up.",
                                    "title": "LDM2"
                                  },
                                  "ldm3": {
                                    "type": "boolean",
                                    "description": "Whether the LDM3 target is up.",
                                    "title": "LDM3"
                                  },
                                  "ldm1": {
                                    "type": "boolean",
                                    "description": "Whether the LDM1 target is up.",
                                    "title": "LDM1"
                                  },
                                  "rds": {
                                    "type": "boolean",
                                    "description": "Whether the RDS target is up.",
                                    "title": "RDS"
                                  }
                                },
                                "title": "LDM"
                              },
                              "radar": {
                                "type": "array",
                                "items": {},
                                "description": "The radar target.",
                                "title": "Radar"
                              },
                              "server": {
                                "type": "object",
                                "properties": {
                                  "ldm4": {
                                    "type": "boolean",
                                    "description": "Whether the LDM4 target is up.",
                                    "title": "LDM4"
                                  },
                                  "ldm3": {
                                    "type": "boolean",
                                    "description": "Whether the LDM3 target is up.",
                                    "title": "LDM3"
                                  },
                                  "tds": {
                                    "type": "boolean",
                                    "description": "Whether the TDS target is up.",
                                    "title": "TDS"
                                  },
                                  "ldm2": {
                                    "type": "boolean",
                                    "description": "Whether the LDM2 target is up.",
                                    "title": "LDM2"
                                  },
                                  "ldm1": {
                                    "type": "boolean",
                                    "description": "Whether the LDM1 target is up.",
                                    "title": "LDM1"
                                  },
                                  "rds": {
                                    "type": "boolean",
                                    "description": "Whether the RDS target is up.",
                                    "title": "RDS"
                                  }
                                },
                                "title": "Server"
                              },
                              "misc": {
                                "type": "object",
                                "properties": {
                                  "tocRouter": {
                                    "type": "boolean",
                                    "description": "Whether the TOC router is up.",
                                    "title": "TOC Router"
                                  },
                                  "rocRouter": {
                                    "type": "boolean",
                                    "description": "Whether the ROC router is up.",
                                    "title": "ROC Router"
                                  },
                                  "eth0": {
                                    "type": "boolean",
                                    "description": "Whether the eth0 target is up.",
                                    "title": "Eth0"
                                  },
                                  "eth1": {
                                    "type": "boolean",
                                    "description": "Whether the eth1 target is up.",
                                    "title": "Eth1"
                                  },
                                  "backupIp": {
                                    "type": "boolean",
                                    "description": "Whether the backup IP target is up.",
                                    "title": "BackupIP"
                                  }
                                },
                                "title": "Misc"
                              }
                            },
                            "title": "Targets"
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "The timestamp for the ping.",
                            "title": "Timestamp"
                          }
                        },
                        "title": "Ping"
                      },
                      "command": {
                        "type": "object",
                        "properties": {
                          "lastExecuted": {
                            "type": "string",
                            "description": "The last executed command.",
                            "title": "Last Executed"
                          },
                          "lastExecutedTime": {
                            "type": "string",
                            "description": "The timestamp for the last executed command.",
                            "title": "Last Executed Time"
                          },
                          "lastNexradDataTime": {
                            "type": "string",
                            "description": "The timestamp for the last NEXRAD data.",
                            "title": "Last NEXRAD Data Time"
                          },
                          "lastReceived": {
                            "type": "string",
                            "description": "The last received command.",
                            "title": "Last Received"
                          },
                          "lastReceivedTime": {
                            "type": "string",
                            "description": "The timestamp for the last received command.",
                            "title": "Last Received Time"
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "The timestamp for the command.",
                            "title": "Timestamp"
                          }
                        },
                        "title": "Command"
                      },
                      "hardware": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "The timestamp for the hardware.",
                            "title": "Timestamp"
                          },
                          "cpuIdle": {
                            "type": "number",
                            "format": "float",
                            "description": "The CPU idle percentage.",
                            "title": "CPU Idle"
                          },
                          "ioUtilization": {
                            "type": "number",
                            "format": "float",
                            "description": "The IO utilization percentage.",
                            "title": "IO Utilization"
                          },
                          "disk": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The disk usage in bytes.",
                            "title": "Disk"
                          },
                          "load1": {
                            "type": "number",
                            "format": "float",
                            "description": "The 1 minute load average.",
                            "title": "Load 1"
                          },
                          "load5": {
                            "type": "number",
                            "format": "float",
                            "description": "The 5 minute load average.",
                            "title": "Load 5"
                          },
                          "load15": {
                            "type": "number",
                            "format": "float",
                            "description": "The 15 minute load average.",
                            "title": "Load 15"
                          },
                          "memory": {
                            "type": "number",
                            "format": "float",
                            "description": "The memory usage percentage.",
                            "title": "Memory"
                          },
                          "uptime": {
                            "type": "string",
                            "description": "The uptime.",
                            "title": "Uptime"
                          }
                        },
                        "title": "Hardware"
                      },
                      "ldm": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "The timestamp for the LDM.",
                            "title": "Timestamp"
                          },
                          "latestProduct": {
                            "type": "string",
                            "description": "The latest product.",
                            "title": "Latest Product"
                          },
                          "oldestProduct": {
                            "type": "string",
                            "description": "The oldest product.",
                            "title": "Oldest Product"
                          },
                          "storageSize": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The storage size in bytes.",
                            "title": "Storage Size"
                          },
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The count.",
                            "title": "Count"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Whether the LDM is active.",
                            "title": "Active"
                          }
                        },
                        "title": "LDM"
                      },
                      "network": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string",
                            "description": "The timestamp for the network.",
                            "title": "Timestamp"
                          },
                          "eth0": {
                            "type": "object",
                            "properties": {
                              "interface": {
                                "type": "string",
                                "description": "The interface.",
                                "title": "Interface"
                              },
                              "active": {
                                "type": "boolean",
                                "description": "Whether the interface is active.",
                                "title": "Active"
                              },
                              "transNoError": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of transmitted packets with no errors.",
                                "title": "Transmissions No Error"
                              },
                              "transError": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of transmitted packets with errors.",
                                "title": "Transmissions Error"
                              },
                              "transDropped": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of transmitted packets dropped.",
                                "title": "Transmissions Dropped"
                              },
                              "transOverrun": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of transmitted packets overrun.",
                                "title": "Transmissions Overrun"
                              },
                              "recvNoError": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of received packets with no errors.",
                                "title": "Receives No Error"
                              },
                              "recvError": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of received packets with errors.",
                                "title": "Receives Error"
                              },
                              "recvDropped": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of received packets dropped.",
                                "title": "Receives Dropped"
                              },
                              "recvOverrun": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of received packets overrun.",
                                "title": "Receives Overrun"
                              }
                            },
                            "title": "Eth0"
                          },
                          "eth1": {
                            "type": "object",
                            "properties": {
                              "interface": {
                                "type": "string",
                                "description": "The interface.",
                                "title": "Interface"
                              },
                              "active": {
                                "type": "boolean",
                                "description": "Whether the interface is active.",
                                "title": "Active"
                              },
                              "transNoError": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of transmitted packets with no errors.",
                                "title": "Transmissions No Error"
                              },
                              "transError": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of transmitted packets with errors.",
                                "title": "Transmissions Error"
                              },
                              "transDropped": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of transmitted packets dropped.",
                                "title": "Transmissions Dropped"
                              },
                              "transOverrun": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of transmitted packets overrun.",
                                "title": "Transmissions Overrun"
                              },
                              "recvNoError": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of received packets with no errors.",
                                "title": "Receives No Error"
                              },
                              "recvError": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of received packets with errors.",
                                "title": "Receives Error"
                              },
                              "recvDropped": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of received packets dropped.",
                                "title": "Receives Dropped"
                              },
                              "recvOverrun": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The number of received packets overrun.",
                                "title": "Receives Overrun"
                              }
                            },
                            "title": "Eth1"
                          }
                        },
                        "title": "Network"
                      }
                    }
                  },
                  "title": "Context"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/radar/servers/{id}": {
      "get": {
        "description": "Retrieve metadata about a given radar server.",
        "summary": "Get a radar server",
        "operationId": "Radar_server",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "Radar Server ID",
            "x-ms-url-encoding": "single",
            "name": "id",
            "description": "Server identifier.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Reporting Host",
            "name": "reportingHost",
            "description": "Show records from specific reporting host.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "object",
              "properties": {
                "@context": {
                  "type": "object",
                  "properties": {
                    "@version": {
                      "type": "string",
                      "description": "The version of the context.",
                      "title": "Version"
                    }
                  },
                  "title": "Context"
                },
                "@id": {
                  "type": "string",
                  "description": "The identifier for the context.",
                  "title": "Context ID"
                },
                "@type": {
                  "type": "string",
                  "description": "The type of the context.",
                  "title": "Context Type"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier for the radar server.",
                  "title": "Radar Server ID"
                },
                "type": {
                  "type": "string",
                  "description": "The type of the radar server.",
                  "title": "Type"
                },
                "collectionTime": {
                  "type": "string",
                  "description": "The collection time for the radar server.",
                  "title": "Collection Time"
                },
                "reportingHost": {
                  "type": "string",
                  "description": "The reporting host for the radar server.",
                  "title": "Reporting Host"
                },
                "ping": {
                  "type": "object",
                  "properties": {
                    "targets": {
                      "type": "object",
                      "properties": {
                        "client": {
                          "type": "object",
                          "properties": {
                            "universityOfOklahoma": {
                              "type": "boolean",
                              "description": "Whether the University of Oklahoma target is up.",
                              "title": "University of Oklahoma"
                            },
                            "eductionResearchConsortium": {
                              "type": "boolean",
                              "description": "Whether the Education Research Consortium target is up.",
                              "title": "Education Research Consortium"
                            },
                            "unidata": {
                              "type": "boolean",
                              "description": "Whether the Unidata target is up.",
                              "title": "Unidata"
                            },
                            "ncep": {
                              "type": "boolean",
                              "description": "Whether the NCEP target is up.",
                              "title": "NCEP"
                            },
                            "radarOperationsCenter": {
                              "type": "boolean",
                              "description": "Whether the Radar Operations Center target is up.",
                              "title": "Radar Operations Center"
                            },
                            "centralRegionHeadquarters": {
                              "type": "boolean",
                              "description": "Whether the Central Region Headquarters target is up.",
                              "title": "Central Region Headquarters"
                            },
                            "easternRegionHeadquarters": {
                              "type": "boolean",
                              "description": "Whether the Eastern Region Headquarters target is up.",
                              "title": "Eastern Region Headquarters"
                            }
                          },
                          "title": "Client"
                        },
                        "ldm": {
                          "type": "object",
                          "properties": {
                            "ldm4": {
                              "type": "boolean",
                              "description": "Whether the LDM4 target is up.",
                              "title": "LDM4"
                            },
                            "ldm3": {
                              "type": "boolean",
                              "description": "Whether the LDM3 target is up.",
                              "title": "LDM3"
                            }
                          },
                          "title": "LDM"
                        },
                        "radar": {
                          "type": "array",
                          "items": {},
                          "description": "The radar target.",
                          "title": "Radar"
                        },
                        "server": {
                          "type": "object",
                          "properties": {
                            "ldm3": {
                              "type": "boolean",
                              "description": "Whether the LDM3 target is up.",
                              "title": "LDM3"
                            },
                            "ldm4": {
                              "type": "boolean",
                              "description": "Whether the LDM4 target is up.",
                              "title": "LDM4"
                            }
                          },
                          "title": "Server"
                        },
                        "misc": {
                          "type": "object",
                          "properties": {
                            "rocRouter": {
                              "type": "boolean",
                              "description": "Whether the ROC router is up.",
                              "title": "ROC Router"
                            },
                            "eth1": {
                              "type": "boolean",
                              "description": "Whether the eth1 target is up.",
                              "title": "Eth1"
                            },
                            "eth0": {
                              "type": "boolean",
                              "description": "Whether the eth0 target is up.",
                              "title": "Eth0"
                            }
                          },
                          "title": "Misc"
                        }
                      },
                      "title": "Targets"
                    },
                    "timestamp": {
                      "type": "string",
                      "description": "The timestamp for the ping.",
                      "title": "Timestamp"
                    }
                  },
                  "title": "Ping"
                },
                "hardware": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "description": "The timestamp for the hardware.",
                      "title": "Timestamp"
                    },
                    "cpuIdle": {
                      "type": "number",
                      "format": "float",
                      "description": "The CPU idle percentage.",
                      "title": "CPU Idle"
                    },
                    "ioUtilization": {
                      "type": "number",
                      "format": "float",
                      "description": "The IO utilization percentage.",
                      "title": "IO Utilization"
                    },
                    "disk": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The disk usage in bytes.",
                      "title": "Disk"
                    },
                    "load1": {
                      "type": "number",
                      "format": "float",
                      "description": "The 1 minute load average.",
                      "title": "Load 1"
                    },
                    "load5": {
                      "type": "number",
                      "format": "float",
                      "description": "The 5 minute load average.",
                      "title": "Load 5"
                    },
                    "load15": {
                      "type": "number",
                      "format": "float",
                      "description": "The 15 minute load average.",
                      "title": "Load 15"
                    },
                    "memory": {
                      "type": "number",
                      "format": "float",
                      "description": "The memory usage percentage.",
                      "title": "Memory"
                    },
                    "uptime": {
                      "type": "string",
                      "description": "The uptime.",
                      "title": "Uptime"
                    }
                  },
                  "title": "Hardware"
                },
                "ldm": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "description": "The timestamp for the LDM.",
                      "title": "Timestamp"
                    },
                    "latestProduct": {
                      "type": "string",
                      "description": "The latest product.",
                      "title": "Latest Product"
                    },
                    "oldestProduct": {
                      "type": "string",
                      "description": "The oldest product.",
                      "title": "Oldest Product"
                    },
                    "storageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The storage size in bytes.",
                      "title": "Storage Size"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "active": {
                      "type": "boolean",
                      "description": "Whether the LDM is active.",
                      "title": "Active"
                    }
                  },
                  "title": "LDM"
                },
                "network": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "string",
                      "description": "The timestamp for the network.",
                      "title": "Timestamp"
                    },
                    "eth1": {
                      "type": "object",
                      "properties": {
                        "interface": {
                          "type": "string",
                          "description": "The interface.",
                          "title": "Interface"
                        },
                        "active": {
                          "type": "boolean",
                          "description": "Whether the interface is active.",
                          "title": "Active"
                        },
                        "transNoError": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of transmitted packets with no errors.",
                          "title": "Transmissions No Error"
                        },
                        "transError": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of transmitted packets with errors.",
                          "title": "Transmissions Error"
                        },
                        "transDropped": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of transmitted packets dropped.",
                          "title": "Transmissions Dropped"
                        },
                        "transOverrun": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of transmitted packets overrun.",
                          "title": "Transmissions Overrun"
                        },
                        "recvNoError": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of received packets with no errors.",
                          "title": "Receives No Error"
                        },
                        "recvError": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of received packets with errors.",
                          "title": "Receives Error"
                        },
                        "recvDropped": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of received packets dropped.",
                          "title": "Receives Dropped"
                        },
                        "recvOverrun": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of received packets overrun.",
                          "title": "Receives Overrun"
                        }
                      },
                      "title": "Eth1"
                    },
                    "eth0": {
                      "type": "object",
                      "properties": {
                        "interface": {
                          "type": "string",
                          "description": "The interface.",
                          "title": "Interface"
                        },
                        "active": {
                          "type": "boolean",
                          "description": "Whether the interface is active.",
                          "title": "Active"
                        },
                        "transNoError": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of transmitted packets with no errors.",
                          "title": "Transmissions No Error"
                        },
                        "transError": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of transmitted packets with errors.",
                          "title": "Transmissions Error"
                        },
                        "transDropped": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of transmitted packets dropped.",
                          "title": "Transmissions Dropped"
                        },
                        "transOverrun": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of transmitted packets overrun.",
                          "title": "Transmissions Overrun"
                        },
                        "recvNoError": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of received packets with no errors.",
                          "title": "Receives No Error"
                        },
                        "recvError": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of received packets with errors.",
                          "title": "Receives Error"
                        },
                        "recvDropped": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of received packets dropped.",
                          "title": "Receives Dropped"
                        },
                        "recvOverrun": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of received packets overrun.",
                          "title": "Receives Overrun"
                        }
                      },
                      "title": "Eth0"
                    }
                  },
                  "title": "Network"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/radar/stations": {
      "get": {
        "description": "Retrieve a list of radar stations.",
        "summary": "Get radar stations",
        "operationId": "Radar_stations",
        "parameters": [
          {
            "in": "query",
            "x-ms-summary": "Station Type",
            "name": "stationType",
            "description": "Limit results to a specific station type or types.",
            "type": "array",
            "items": {
              "pattern": "^[A-Za-z0-9-]+$",
              "type": "string"
            }
          },
          {
            "in": "query",
            "x-ms-summary": "Reporting Host",
            "name": "reportingHost",
            "description": "Show RDA and latency info from specific reporting host.",
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Host",
            "name": "host",
            "description": "Show latency info from specific LDM host.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type of the radar station.",
                  "title": "Type"
                },
                "features": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier for the radar station.",
                        "title": "ID"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of the radar station.",
                        "title": "Type"
                      },
                      "geometry": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of the geometry.",
                            "title": "Type"
                          },
                          "coordinates": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "format": "float"
                            },
                            "description": "The coordinates of the geometry.",
                            "title": "Coordinates"
                          }
                        },
                        "title": "Geometry"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "@id": {
                            "type": "string",
                            "description": "The identifier for the context.",
                            "title": "Context ID"
                          },
                          "@type": {
                            "type": "string",
                            "description": "The type of the context.",
                            "title": "Context Type"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier for the radar station.",
                            "title": "Radar Station ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the radar station.",
                            "title": "Name"
                          },
                          "stationType": {
                            "type": "string",
                            "description": "The type of the radar station.",
                            "title": "Station Type"
                          },
                          "elevation": {
                            "type": "object",
                            "properties": {
                              "unitCode": {
                                "type": "string",
                                "description": "The unit code for the elevation.",
                                "title": "Unit Code"
                              },
                              "value": {
                                "type": "number",
                                "format": "float",
                                "description": "The value of the elevation.",
                                "title": "Value"
                              }
                            },
                            "title": "Elevation"
                          },
                          "timeZone": {
                            "type": "string",
                            "description": "The time zone for the radar station.",
                            "title": "Time Zone"
                          },
                          "latency": {
                            "type": "object",
                            "properties": {
                              "current": {
                                "type": "object",
                                "properties": {
                                  "unitCode": {
                                    "type": "string",
                                    "description": "The unit code for the current latency.",
                                    "title": "Unit Code"
                                  },
                                  "value": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The value of the current latency.",
                                    "title": "Value"
                                  }
                                },
                                "title": "Current"
                              },
                              "average": {
                                "type": "object",
                                "properties": {
                                  "unitCode": {
                                    "type": "string",
                                    "description": "The unit code for the average latency.",
                                    "title": "Unit Code"
                                  },
                                  "value": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The value of the average latency.",
                                    "title": "Value"
                                  }
                                },
                                "title": "Average"
                              },
                              "max": {
                                "type": "object",
                                "properties": {
                                  "unitCode": {
                                    "type": "string",
                                    "description": "The unit code for the maximum latency.",
                                    "title": "Unit Code"
                                  },
                                  "value": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The value of the maximum latency.",
                                    "title": "Value"
                                  }
                                },
                                "title": "Max"
                              },
                              "levelTwoLastReceivedTime": {
                                "type": "string",
                                "description": "The timestamp for the last received level two data.",
                                "title": "Level Two Last Received Time"
                              },
                              "maxLatencyTime": {
                                "type": "string",
                                "description": "The timestamp for the maximum latency.",
                                "title": "Max Latency Time"
                              },
                              "reportingHost": {
                                "type": "string",
                                "description": "The reporting host for the latency.",
                                "title": "Reporting Host"
                              },
                              "host": {
                                "type": "string",
                                "description": "The host for the latency.",
                                "title": "Host"
                              }
                            },
                            "title": "Latency"
                          },
                          "rda": {
                            "type": "object",
                            "properties": {
                              "timestamp": {
                                "type": "string",
                                "description": "The timestamp for the RDA.",
                                "title": "Timestamp"
                              },
                              "reportingHost": {
                                "type": "string",
                                "description": "The reporting host for the RDA.",
                                "title": "Reporting Host"
                              },
                              "properties": {
                                "type": "object",
                                "properties": {
                                  "resolutionVersion": {
                                    "type": "string",
                                    "description": "The resolution version.",
                                    "title": "Resolution Version"
                                  },
                                  "nl2Path": {
                                    "type": "string",
                                    "description": "The NL2 path.",
                                    "title": "NL2 Path"
                                  },
                                  "volumeCoveragePattern": {
                                    "type": "string",
                                    "description": "The volume coverage pattern.",
                                    "title": "Volume Coverage Pattern"
                                  },
                                  "controlStatus": {
                                    "type": "string",
                                    "description": "The control status.",
                                    "title": "Control Status"
                                  },
                                  "buildNumber": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The build number.",
                                    "title": "Build Number"
                                  },
                                  "alarmSummary": {
                                    "type": "string",
                                    "description": "The alarm summary.",
                                    "title": "Alarm Summary"
                                  },
                                  "mode": {
                                    "type": "string",
                                    "description": "The mode.",
                                    "title": "Mode"
                                  },
                                  "generatorState": {
                                    "type": "string",
                                    "description": "The generator state.",
                                    "title": "Generator State"
                                  },
                                  "superResolutionStatus": {
                                    "type": "string",
                                    "description": "The super resolution status.",
                                    "title": "Super Resolution Status"
                                  },
                                  "operabilityStatus": {
                                    "type": "string",
                                    "description": "The operability status.",
                                    "title": "Operability Status"
                                  },
                                  "status": {
                                    "type": "string",
                                    "description": "The status.",
                                    "title": "Status"
                                  },
                                  "averageTransmitterPower": {
                                    "type": "object",
                                    "properties": {
                                      "unitCode": {
                                        "type": "string",
                                        "description": "The unit code for the average transmitter power.",
                                        "title": "Unit Code"
                                      },
                                      "value": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The value of the average transmitter power.",
                                        "title": "Value"
                                      }
                                    },
                                    "title": "Average Transmitter Power"
                                  },
                                  "reflectivityCalibrationCorrection": {
                                    "type": "object",
                                    "properties": {
                                      "unitCode": {
                                        "type": "string",
                                        "description": "The unit code for the reflectivity calibration correction.",
                                        "title": "Unit Code"
                                      },
                                      "value": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "The value of the reflectivity calibration correction.",
                                        "title": "Value"
                                      }
                                    },
                                    "title": "Reflectivity Calibration Correction"
                                  }
                                },
                                "title": "Properties"
                              }
                            },
                            "title": "RDA"
                          }
                        },
                        "title": "Properties"
                      }
                    }
                  },
                  "title": "Features"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/Error"
          }
        }
      }
    },
    "/radar/stations/{stationId}": {
      "get": {
        "description": "Retrieve metadata about a given radar station.",
        "summary": "Get radar station",
        "operationId": "Radar_station",
        "parameters": [
          {
            "in": "path",
            "x-ms-summary": "Radar Station ID",
            "x-ms-url-encoding": "single",
            "name": "stationId",
            "description": "Radar station identifier.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Reporting Host",
            "name": "reportingHost",
            "description": "Show RDA and latency info from specific reporting host.",
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "Host",
            "name": "host",
            "description": "Show latency info from specific LDM host.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier for the radar station.",
                  "title": "ID"
                },
                "type": {
                  "type": "string",
                  "description": "The type of the radar station.",
                  "title": "Type"
                },
                "geometry": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type of the geometry.",
                      "title": "Type"
                    },
                    "coordinates": {
                      "type": "array",
                      "items": {
                        "type": "number",
                        "format": "float"
                      },
                      "description": "The coordinates of the geometry.",
                      "title": "Coordinates"
                    }
                  },
                  "title": "Geometry"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "@id": {
                      "type": "string",
                      "description": "The identifier for the context.",
                      "title": "Context ID"
                    },
                    "@type": {
                      "type": "string",
                      "description": "The type of the context.",
                      "title": "Context Type"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier for the radar station.",
                      "title": "Radar Station ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the radar station.",
                      "title": "Name"
                    },
                    "stationType": {
                      "type": "string",
                      "description": "The type of the radar station.",
                      "title": "Station Type"
                    },
                    "elevation": {
                      "type": "object",
                      "properties": {
                        "unitCode": {
                          "type": "string",
                          "description": "The unit code for the elevation.",
                          "title": "Unit Code"
                        },
                        "value": {
                          "type": "number",
                          "format": "float",
                          "description": "The value of the elevation.",
                          "title": "Value"
                        }
                      },
                      "title": "Elevation"
                    },
                    "timeZone": {
                      "type": "string",
                      "description": "The time zone for the radar station.",
                      "title": "Time Zone"
                    },
                    "latency": {
                      "type": "object",
                      "properties": {
                        "current": {
                          "type": "object",
                          "properties": {
                            "unitCode": {
                              "type": "string",
                              "description": "The unit code for the current latency.",
                              "title": "Unit Code"
                            },
                            "value": {
                              "type": "number",
                              "format": "float",
                              "description": "The value of the current latency.",
                              "title": "Value"
                            }
                          },
                          "title": "Current"
                        },
                        "average": {
                          "type": "object",
                          "properties": {
                            "unitCode": {
                              "type": "string",
                              "description": "The unit code for the average latency.",
                              "title": "Unit Code"
                            },
                            "value": {
                              "type": "number",
                              "format": "float",
                              "description": "The value of the average latency.",
                              "title": "Value"
                            }
                          },
                          "title": "Average"
                        },
                        "max": {
                          "type": "object",
                          "properties": {
                            "unitCode": {
                              "type": "string",
                              "description": "The unit code for the maximum latency.",
                              "title": "Unit Code"
                            },
                            "value": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The value of the maximum latency.",
                              "title": "Value"
                            }
                          },
                          "title": "Max"
                        },
                        "levelTwoLastReceivedTime": {
                          "type": "string",
                          "description": "The timestamp for the last received level two data.",
                          "title": "Level Two Last Received Time"
                        },
                        "maxLatencyTime": {
                          "type": "string",
                          "description": "The timestamp for the maximum latency.",
                          "title": "Max Latency Time"
                        },
                        "reportingHost": {
                          "type": "string",
                          "description": "The reporting host for the latency.",
                          "title": "Reporting Host"
                        },
                        "host": {
                          "type": "string",
                          "description": "The host for the latency.",
                          "title": "Host"
                        }
                      },
                      "title": "Latency"
                    },
                    "rda": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "string",
                          "description": "The timestamp for the RDA.",
                          "title": "Timestamp"
                        },
                        "reportingHost": {
                          "type": "string",
                          "description": "The reporting host for the RDA.",
                          "title": "Reporting Host"
                        },
                        "properties": {
                          "type": "object",
                          "properties": {
                            "resolutionVersion": {
                              "type": "string",
                              "description": "The resolution version.",
                              "title": "Resolution Version"
                            },
                            "nl2Path": {
                              "type": "string",
                              "description": "The NL2 path.",
                              "title": "NL2 Path"
                            },
                            "volumeCoveragePattern": {
                              "type": "string",
                              "description": "The volume coverage pattern.",
                              "title": "Volume Coverage Pattern"
                            },
                            "controlStatus": {
                              "type": "string",
[...]
