{
  "swagger": "2.0",
  "info": {
    "version": "1.8",
    "title": "Coupa Cloud",
    "description": "Coupa P2P connector \u2014 162 operations. No Authentication \u2014 Bearer token passed via Access-Token header, rewritten to Authorization by policy. Dynamic host via connection parameter.",
    "contact": {
      "name": "NovaGL",
      "url": "https://www.coupa.com",
      "email": "gl1@live.com"
    }
  },
  "host": "placeholder.coupahost.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Account: Get All",
        "operationId": "Acct_GetAccounts",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "code[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Code contains value",
            "description": "Filter: Code contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "important"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records created after this date (ISO 8601).",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "important",
            "format": "date-time"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated before this date (ISO 8601).",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "description": "Number of records to skip before returning results.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort by field name e.g., created-at.",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "important"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "Sort direction asc or desc.",
            "x-ms-summary": "Direction",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Account list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Accounts. Requires OAuth scope: core.common.read",
        "x-ms-visibility": "important"
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Account: Get by ID",
        "operationId": "Acct_GetAccountById",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Account",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Account by ID. Requires OAuth scope: core.common.read",
        "x-ms-visibility": "important"
      }
    },
    "/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Address: Get All",
        "operationId": "Addr_GetAddresses",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "location-code[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Location Code contains value",
            "description": "Filter: Location Code contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "city[contains]",
            "type": "string",
            "x-ms-summary": "Filter: City contains value",
            "description": "Filter: City contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "postal-code[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Postal Code contains value",
            "description": "Filter: Postal Code contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "country[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Country contains value",
            "description": "Filter: Country contains value",
            "x-ms-visibility": "important"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records created after this date (ISO 8601).",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "important",
            "format": "date-time"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated before this date (ISO 8601).",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "description": "Number of records to skip before returning results.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort by field name e.g., created-at.",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "important"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "Sort direction asc or desc.",
            "x-ms-summary": "Direction",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Address list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Addresses. Requires OAuth scope: core.common.read",
        "x-ms-visibility": "important"
      }
    },
    "/addresses/{id}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "summary": "Address: Get by ID",
        "operationId": "Addr_GetAddressById",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Address",
            "schema": {
              "$ref": "#/definitions/Address"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Address by ID. Requires OAuth scope: core.common.read",
        "x-ms-visibility": "important"
      }
    },
    "/approvals": {
      "get": {
        "tags": [
          "Approvals"
        ],
        "summary": "Approval: Get All",
        "operationId": "Apprvl_GetApprovals",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by status. Comma-separated values: pending_approval, approved, rejected",
            "enum": [
              "pending_approval",
              "approved",
              "rejected"
            ],
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "approver[login][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Approver contains value",
            "description": "Filter: Approver contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records created after this date (ISO 8601).",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "important",
            "format": "date-time"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated before this date (ISO 8601).",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "description": "Number of records to skip before returning results.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort by field name e.g., created-at.",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "important"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "Sort direction asc or desc.",
            "x-ms-summary": "Direction",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Approval list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Approval"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Approvals. Requires OAuth scope: core.approval.read",
        "x-ms-visibility": "important"
      }
    },
    "/approvals/{id}": {
      "get": {
        "tags": [
          "Approvals"
        ],
        "summary": "Approval: Get by ID",
        "operationId": "Apprvl_GetApprovalById",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Approval",
            "schema": {
              "$ref": "#/definitions/Approval"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Approval by ID. Requires OAuth scope: core.approval.read",
        "x-ms-visibility": "important"
      }
    },
    "/budget_lines": {
      "get": {
        "tags": [
          "Budget Lines"
        ],
        "summary": "Budget Line: Get All",
        "operationId": "BudgLine_GetBudgetLines",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "active",
            "type": "boolean",
            "x-ms-summary": "Active",
            "description": "Active",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records created after this date (ISO 8601).",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "important",
            "format": "date-time"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated before this date (ISO 8601).",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "description": "Number of records to skip before returning results.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort by field name e.g., created-at.",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "important"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "Sort direction asc or desc.",
            "x-ms-summary": "Direction",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "BudgetLine list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BudgetLine"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Budget Lines. Requires OAuth scope: core.budget.read",
        "x-ms-visibility": "important"
      }
    },
    "/budget_lines/{id}": {
      "get": {
        "tags": [
          "Budget Lines"
        ],
        "summary": "Budget Line: Get by ID",
        "operationId": "BudgLine_GetBudgetLineById",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "BudgetLine",
            "schema": {
              "$ref": "#/definitions/BudgetLine"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Budget Line by ID. Requires OAuth scope: core.budget.read",
        "x-ms-visibility": "important"
      }
    },
    "/contracts/{id}/add_approver": {
      "put": {
        "description": "Manually add an approver for a contract",
        "summary": "Contract: Add Approver",
        "tags": [
          "Contracts"
        ],
        "operationId": "Cntr_Manuallyaddanapproverforacontract",
        "deprecated": false,
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "description": "Content-Type"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [],
        "x-ms-visibility": "important"
      }
    },
    "/contracts/{id}/complete": {
      "put": {
        "description": "Moves the contract to the completed state.",
        "summary": "Contract: Complete",
        "tags": [
          "Contracts"
        ],
        "operationId": "Cntr_CompleteContract",
        "deprecated": false,
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "description": "Content-Type"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [],
        "x-ms-visibility": "important"
      }
    },
    "/contracts/{id}/create_published": {
      "post": {
        "description": "Create and publish a contract",
        "summary": "Contract: Create and Publish",
        "tags": [
          "Contracts"
        ],
        "operationId": "Cntr_Createandpublishacontract",
        "deprecated": false,
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "description": "Content-Type"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [],
        "x-ms-visibility": "important"
      }
    },
    "/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Contract: Get All",
        "operationId": "Cntr_GetContracts",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "status[in]",
            "type": "string",
            "x-ms-summary": "Filter: Status in list",
            "description": "Filter by status. Comma-separated values: draft, pending_approval, approved, expired, cancelled",
            "enum": [
              "draft",
              "pending_approval",
              "approved",
              "expired",
              "cancelled"
            ],
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "number[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Number contains value",
            "description": "Filter: Number contains value",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "supplier[name][contains]",
            "type": "string",
            "x-ms-summary": "Filter: Supplier contains value",
            "description": "Filter: Supplier contains value",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "start-date[gt]",
            "type": "string",
            "x-ms-summary": "Filter: Start Date greater than value",
            "description": "Filter: Start Date greater than value",
            "x-ms-visibility": "important",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "end-date[lt]",
            "type": "string",
            "x-ms-summary": "Filter: End Date less than value",
            "description": "Filter: End Date less than value",
            "x-ms-visibility": "important",
            "format": "date-time"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records created after this date (ISO 8601).",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "important",
            "format": "date-time"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated before this date (ISO 8601).",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "in": "query",
            "name": "supplier[id]",
            "type": "string",
            "x-ms-summary": "Supplier ID",
            "description": "Filter contracts by supplier Coupa ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "description": "Number of records to skip before returning results.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort by field name e.g., created-at.",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "important"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "Sort direction asc or desc.",
            "x-ms-summary": "Direction",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Contract"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Contracts. Requires OAuth scope: core.contract.read",
        "x-ms-visibility": "important"
      }
    },
    "/contracts/{id}/attachments": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Contract: Get Attachments",
        "operationId": "Cntr_GetAttachments",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Attachments",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Attachment"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "x-ms-visibility": "important",
        "description": "Retrieve all attachments on a Contract record."
      },
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Contract: Post Attachment (Text or URL)",
        "operationId": "Cntr_PostAttachment",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "description": "Content-Type"
          },
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "intent"
              ],
              "properties": {
                "intent": {
                  "type": "string",
                  "enum": [
                    "Internal",
                    "Supplier"
                  ],
                  "default": "Internal",
                  "x-ms-summary": "Intent"
                },
                "text": {
                  "type": "string",
                  "x-ms-summary": "Text"
                },
                "url": {
                  "type": "string",
                  "format": "uri",
                  "x-ms-summary": "URL"
                }
              }
            },
            "x-ms-summary": "Request Body",
            "description": "JSON body for this Contract: Post Attachment (Text or URL) operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "404": {
            "description": "Not Found"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "x-ms-visibility": "important",
        "description": "Add a text or URL attachment to a Contract record. Set intent to Internal or Supplier."
      }
    },
    "/contracts/{id}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Contract: Get by ID",
        "operationId": "Cntr_GetContractById",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Contract",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Contract by ID. Requires OAuth scope: core.contract.read",
        "x-ms-visibility": "important"
      }
    },
    "/contracts/{contract_id}/contract_terms/{id}": {
      "get": {
        "description": "Show contract term",
        "summary": "Contract: Get Term by ID",
        "tags": [
          "Contracts"
        ],
        "operationId": "Cntr_Showcontractterm",
        "deprecated": false,
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Coupa ID of the parent Contract record.",
            "x-ms-summary": "Parent Contract ID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/ContractTerm"
            }
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [],
        "x-ms-visibility": "important"
      },
      "patch": {
        "description": "Update contract term",
        "summary": "Contract: Update Term",
        "tags": [
          "Contracts"
        ],
        "operationId": "Cntr_Updatecontractterm",
        "deprecated": false,
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "description": "Content-Type"
          },
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Coupa ID of the parent Contract record.",
            "x-ms-summary": "Parent Contract ID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/ContractTerm"
            }
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [],
        "x-ms-visibility": "important"
      }
    },
    "/contracts/{contract_id}/contract_terms": {
      "get": {
        "description": "Query contract terms",
        "summary": "Contract: Get Terms",
        "tags": [
          "Contracts"
        ],
        "operationId": "Cntr_Querycontractterms",
        "deprecated": false,
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Coupa ID of the parent Contract record.",
            "x-ms-summary": "Parent Contract ID"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "description": "Number of records to skip before returning results.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort by field name e.g., created-at.",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "important"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "Sort direction asc or desc.",
            "x-ms-summary": "Direction",
            "x-ms-visibility": "important"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records created after this date (ISO 8601).",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "important",
            "format": "date-time"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated before this date (ISO 8601).",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContractTerm"
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "security": [],
        "x-ms-visibility": "important"
      },
      "post": {
        "description": "Create contract term",
        "summary": "Contract: Create Term",
        "tags": [
          "Contracts"
        ],
        "operationId": "Cntr_Createcontractterm",
        "deprecated": false,
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "description": "Content-Type"
          },
          {
            "name": "contract_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Coupa ID of the parent Contract record.",
            "x-ms-summary": "Parent Contract ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/ContractTerm"
            }
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "security": [],
        "x-ms-visibility": "important"
      }
    },
    "/contracts/{id}/remove_approval": {
      "put": {
        "description": "Remove an approver who was manually added",
        "summary": "Contract: Remove Approver",
        "tags": [
          "Contracts"
        ],
        "operationId": "Cntr_PutRemoveanapproverwhowasmanuallyadded1",
        "deprecated": false,
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "description": "Content-Type"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [],
        "x-ms-visibility": "important"
      }
    },
    "/contracts/{id}/submit_for_approval": {
      "put": {
        "description": "Submits the contract for approval.",
        "summary": "Contract: Submit for Approval",
        "tags": [
          "Contracts"
        ],
        "operationId": "Cntr_SubmitContractForApproval",
        "deprecated": false,
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal",
            "description": "Content-Type"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [],
        "x-ms-visibility": "important"
      }
    },
    "/commodities": {
      "get": {
        "tags": [
          "Commodities"
        ],
        "summary": "Commodity: Get All",
        "operationId": "Comm_GetCommodities",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "name[contains]",
            "type": "string",
            "x-ms-summary": "Filter: Name contains value",
            "description": "Filter: Name contains value",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "active",
            "type": "boolean",
            "x-ms-summary": "Active",
            "description": "Active",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records created after this date (ISO 8601).",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "important",
            "format": "date-time"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated before this date (ISO 8601).",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "description": "Number of records to skip before returning results.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort by field name e.g., created-at.",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "important"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "Sort direction asc or desc.",
            "x-ms-summary": "Direction",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Commodity list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Commodity"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Commodities. Requires OAuth scope: core.common.read",
        "x-ms-visibility": "important"
      }
    },
    "/commodities/{id}": {
      "get": {
        "tags": [
          "Commodities"
        ],
        "summary": "Commodity: Get by ID",
        "operationId": "Comm_GetCommodityById",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Commodity",
            "schema": {
              "$ref": "#/definitions/Commodity"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "description": "Get Commodity by ID. Requires OAuth scope: core.common.read",
        "x-ms-visibility": "important"
      }
    },
    "/data_file_sources": {
      "get": {
        "summary": "Data Source: Get All",
        "description": "Query Data Sources",
        "operationId": "DataSrc_Get_DataSources",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "name": "file-file-name",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filename",
            "x-ms-summary": "Data Source Filename"
          },
          {
            "name": "progress[in]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Progress (either 0 or 1)",
            "x-ms-summary": "File Progress",
            "default": "0,1"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "Sort direction asc or desc.",
            "x-ms-summary": "Direction",
            "x-ms-visibility": "important"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "description": "Number of records to skip before returning results.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "important",
            "format": "date-time"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated before this date (ISO 8601).",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          },
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataFileSource"
              }
            }
          }
        },
        "tags": [
          "Data Sources"
        ],
        "x-ms-visibility": "important"
      }
    },
    "/exchange_rates": {
      "get": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "Exchange Rate: Get All",
        "operationId": "ExchRate_GetExchangeRates",
        "description": "Query FX exchange rates.",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          },
          {
            "in": "query",
            "name": "from-currency[code][contains]",
            "type": "string",
            "x-ms-summary": "Filter: From Currency contains",
            "description": "Filter: From Currency contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "to-currency[code][contains]",
            "type": "string",
            "x-ms-summary": "Filter: To Currency contains",
            "description": "Filter: To Currency contains value",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "rate-date[gt]",
            "type": "string",
            "format": "date-time",
            "x-nullable": true,
            "x-ms-summary": "Filter: Rate Date after",
            "description": "Rate Date greater than (ISO 8601).",
            "x-ms-visibility": "important"
          },
          {
            "name": "created-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records created after this date (ISO 8601).",
            "x-ms-summary": "Created After",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "updated-at[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated after this date (ISO 8601). Use for polling incremental changes.",
            "x-ms-summary": "Updated After",
            "x-ms-visibility": "important",
            "format": "date-time"
          },
          {
            "name": "updated-at[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return records updated before this date (ISO 8601).",
            "x-ms-summary": "Updated Before",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 50,
            "description": "Maximum number of records to return (max 50). Use offset for pagination.",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "description": "Number of records to skip before returning results.",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort by field name e.g., created-at.",
            "x-ms-summary": "Order By",
            "x-ms-visibility": "important"
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "description": "Sort direction asc or desc.",
            "x-ms-summary": "Direction",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Exchange Rates",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExchangeRate"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/exchange_rates/{id}": {
      "get": {
        "tags": [
          "Exchange Rates"
        ],
        "summary": "Exchange Rate: Get by ID",
        "operationId": "ExchRate_GetExchangeRateById",
        "description": "Get a single exchange rate.",
        "parameters": [
          {
            "name": "Access-Token",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Access Token",
            "description": "Bearer token \u2014 pass as: Bearer {access_token}",
            "x-ms-visibility": "important"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single",
            "description": "Resource numeric identifier.",
            "x-ms-summary": "Record ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "return_object",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "limited",
              "shallow",
              "none"
            ],
            "description": "Controls response depth. limited=key fields only, shallow=top-level only, none=minimal. Omit for full response.",
            "x-ms-summary": "Return Object",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of fields to include in the response, e.g. id,status,supplier.",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Advanced Coupa filter expression (raw).",
            "x-ms-summary": "Raw Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept header - use application/json",
            "x-ms-summary": "Accept",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Get Exchange Rate by ID",
            "schema": {
              "$ref": "#/definitions/ExchangeRate"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
          "429": {
            "description": "Too Many Requests \u2013 rate limit exceeded"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/integration_runs": {
      "get": {
        "responses": {
          "401": {
            "description": "Unauthorized \u2013 invalid or expired OAuth token"
          },
          "403": {
            "description": "Forbidden \u2013 insufficient OAuth scope"
          },
[...]
