{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Originality.AI",
    "description": "This is a simple connector that allows users to access their Originality.AI data. Users will can easily check for plagiarism and detect AI-written content as well as get information about their account such as usage report, account credit and more.",
    "contact": {
      "name": "Osazee Odigie",
      "email": "osazee.odigie10@gmail.com"
    }
  },
  "host": "api.originality.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://originality.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://originality.ai/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "paths": {
    "/api/v1/account/credits/balance": {
      "get": {
        "summary": "Get Credit Balance",
        "description": "Fetch the current credit balance of your Originality.ai account",
        "operationId": "GetCreditBalance",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Get Credit Balance",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "balance": {
                  "type": "integer",
                  "format": "int32",
                  "description": "balance"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/credits/content_scan_usage": {
      "get": {
        "summary": "Get Credit Usage",
        "description": "Fetch your credit usage from your last 100 scans",
        "operationId": "GetCreditUsage",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Get Credit Usage",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "usage": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contentID": {
                        "type": "string",
                        "description": "contentID"
                      },
                      "credits_used": {
                        "type": "integer",
                        "format": "int32",
                        "description": "credits_used"
                      },
                      "date": {
                        "type": "string",
                        "description": "date"
                      }
                    }
                  },
                  "description": "usage"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/account/credits/payments": {
      "get": {
        "summary": "Get Payment",
        "description": "Fetch your last 100 credit purchases",
        "operationId": "GetPayment",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "x-ms-summary": "Get Payment",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "payments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "credits": {
                        "type": "integer",
                        "format": "int32",
                        "description": "credits"
                      },
                      "price": {
                        "type": "string",
                        "description": "price"
                      },
                      "receipt": {
                        "type": "string",
                        "description": "receipt"
                      },
                      "date": {
                        "type": "string",
                        "description": "date"
                      }
                    }
                  },
                  "description": "payments"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/scan/ai": {
      "post": {
        "summary": "Post AI Detection",
        "description": "Run an AI Detection scan for a full piece of content",
        "operationId": "PostAIDetection",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Post AI Detection",
            "description": "Accept",
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "string",
                  "description": "content"
                }
              },
              "default": {
                "content": "A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that...A delicious cup of tea is a simple and timeless pleasure, and for many people it's even more than that..."
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "score": {
                  "type": "object",
                  "properties": {
                    "original": {
                      "type": "number",
                      "format": "float",
                      "description": "original"
                    },
                    "ai": {
                      "type": "number",
                      "format": "float",
                      "description": "ai"
                    }
                  },
                  "description": "score"
                },
                "credits_used": {
                  "type": "integer",
                  "format": "int32",
                  "description": "credits_used"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "credits"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/scan/url": {
      "post": {
        "summary": "Post Url AI Detection",
        "description": "Run an AI Detection scan on a full webpage",
        "operationId": "PostUrlAIDetection",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Post URL AI Detection",
            "description": "Accept",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url"
                }
              },
              "default": {
                "url": "https://www.thespruceeats.com/best-teas-4771438"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "url_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "url_code"
                },
                "credits_used": {
                  "type": "integer",
                  "format": "int32",
                  "description": "credits_used"
                },
                "credits": {
                  "type": "integer",
                  "format": "int32",
                  "description": "credits"
                },
                "word_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "word_count"
                },
                "score": {
                  "type": "object",
                  "properties": {
                    "original": {
                      "type": "number",
                      "format": "float",
                      "description": "original"
                    },
                    "ai": {
                      "type": "number",
                      "format": "float",
                      "description": "ai"
                    }
                  },
                  "description": "score"
                },
                "score_breakdown": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "original": {
                        "type": "number",
                        "format": "float",
                        "description": "original"
                      },
                      "ai": {
                        "type": "number",
                        "format": "float",
                        "description": "ai"
                      },
                      "text": {
                        "type": "string",
                        "description": "text"
                      }
                    }
                  },
                  "description": "score_breakdown"
                },
                "results": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "success"
                    },
                    "statusCode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "statusCode"
                    },
                    "cost": {
                      "type": "integer",
                      "format": "int32",
                      "description": "cost"
                    },
                    "wordCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "wordCount"
                    },
                    "totalAIResults": {
                      "type": "object",
                      "properties": {
                        "real": {
                          "type": "number",
                          "format": "float",
                          "description": "real"
                        },
                        "fake": {
                          "type": "number",
                          "format": "float",
                          "description": "fake"
                        }
                      },
                      "description": "totalAIResults"
                    },
                    "blocks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "original": {
                            "type": "number",
                            "format": "float",
                            "description": "original"
                          },
                          "ai": {
                            "type": "number",
                            "format": "float",
                            "description": "ai"
                          },
                          "text": {
                            "type": "string",
                            "description": "text"
                          }
                        }
                      },
                      "description": "blocks"
                    },
                    "results": {
                      "type": "object",
                      "properties": {
                        "pageID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "pageID"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "statusCode": {
                          "type": "integer",
                          "format": "int32",
                          "description": "statusCode"
                        },
                        "aiResults": {
                          "type": "object",
                          "properties": {
                            "real": {
                              "type": "number",
                              "format": "float",
                              "description": "real"
                            },
                            "fake": {
                              "type": "number",
                              "format": "float",
                              "description": "fake"
                            }
                          },
                          "description": "aiResults"
                        },
                        "wordCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "wordCount"
                        },
                        "aiTextBlocks": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string",
                                "description": "text"
                              },
                              "status": {
                                "type": "string",
                                "description": "status"
                              },
                              "result": {
                                "type": "object",
                                "properties": {
                                  "fake": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "fake"
                                  },
                                  "real": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "real"
                                  }
                                },
                                "description": "result"
                              }
                            }
                          },
                          "description": "aiTextBlocks"
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-OAI-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}