{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Resco Reports",
    "description": "Resco Reports provides you with a highly customizable tool for generating reports and documents based on your Dataverse / Dynamics data. This connector makes it possible to use the Resco Mobile Report templates to automate document generation or any other back-office scenarios.",
    "contact": {
      "name": "Resco experts are ready to listen and help",
      "url": "https://www.resco.net/contact-support/",
      "email": "mobilecrm@resco.net"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.resco.net/platform/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.resco.net/privacy-notice/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "host": "reportgenerator.resco.net",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/gen-entity-report": {
      "get": {
        "operationId": "GenEntityReport",
        "summary": "Generate a single row report",
        "description": "Generates a report for specific table row.",
        "produces": [
          "application/pdf",
          "text/html",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
          "text/plain"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ReportId"
          },
          {
            "in": "query",
            "name": "sourceid",
            "description": "Source entity id",
            "x-ms-summary": "Source entity id",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/List.Format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Report.File"
          },
          "500": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/gen-questionnaire-report": {
      "get": {
        "operationId": "GenQuestionnaireReport",
        "summary": "Generate a Resco questionnaire report",
        "description": "Generates a report or an auto-report for specific Resco questionnaire.",
        "produces": [
          "application/pdf",
          "text/html",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
          "text/plain"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "questionnaireid",
            "description": "Source questionnaire entity id",
            "x-ms-summary": "Source questionnaire entity id",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ReportId.Optional"
          },
          {
            "$ref": "#/parameters/List.Format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Report.File"
          },
          "500": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/gen-multi-report": {
      "get": {
        "operationId": "GenMultiReport",
        "summary": "Generate a report on multiple rows",
        "description": "Generates a report for provided list of table rows.",
        "produces": [
          "application/pdf",
          "text/html",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
          "text/plain"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ReportId"
          },
          {
            "in": "query",
            "name": "sources",
            "description": "Comma-delimited list of record IDs",
            "x-ms-summary": "Comma-delimited list of record IDs",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/List.Format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Report.File"
          },
          "500": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/gen-fetch-report": {
      "get": {
        "operationId": "GenFetchReport",
        "summary": "Generate a report on multiple rows (fetch XML)",
        "description": "Generates a report for a set of table rows defined by fetch XML query.",
        "produces": [
          "application/pdf",
          "text/html",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
          "text/plain"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ReportId"
          },
          {
            "in": "query",
            "name": "sourcefetch",
            "description": "Fetch XML request defining source entities",
            "x-ms-summary": "Fetch XML request defining source entities",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/List.Format"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Report.File"
          },
          "500": {
            "$ref": "#/responses/error"
          }
        }
      }
    },
    "/resco_mobilereports": {
      "get": {
        "summary": "List reports",
        "description": "Get list of records",
        "operationId": "ListReports",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "in": "query",
            "name": "$select",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved records",
            "schema": {
              "x-ms-summary": "body",
              "description": "List of reports",
              "type": "object",
              "properties": {
                "@odata.context": {
                  "description": "Describes the collection of entities",
                  "type": "string",
                  "x-ms-summary": "Context Link",
                  "x-ms-visibility": "advanced"
                },
                "@odata.nextLink": {
                  "description": "Link to get next page of results",
                  "type": "string",
                  "x-ms-summary": "Next link",
                  "x-ms-visibility": "advanced"
                },
                "@odata.count": {
                  "description": "The number of records returned",
                  "type": "integer",
                  "format": "int32",
                  "x-ms-summary": "Records count",
                  "x-ms-visibility": "advanced"
                },
                "value": {
                  "type": "array",
                  "x-ms-summary": "value",
                  "description": "List of items",
                  "items": {
                    "title": "Mobile Report",
                    "type": "object",
                    "properties": {
                      "@odata.etag": {
                        "title": "OData ETag",
                        "type": "string",
                        "readOnly": true,
                        "x-ms-visibility": "advanced"
                      },
                      "resco_mobilereportid": {
                        "title": "Mobile Report ID",
                        "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                        "type": "string"
                      },
                      "resco_name": {
                        "title": "Report Name",
                        "maxLength": 100,
                        "type": "string"
                      },
                      "resco_entityname": {
                        "title": "Report Entity Name",
                        "maxLength": 200,
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ODataError"
          }
        }
      }
    }
  },
  "parameters": {
    "List.Format": {
      "name": "format",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Report file format. Default is PDF.",
      "x-ms-summary": "Format",
      "enum": [
        "pdf",
        "html",
        "word",
        "excel"
      ]
    },
    "ReportId": {
      "name": "reportid",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Mobile report id or name",
      "x-ms-summary": "Report id or Name",
      "x-ms-dynamic-values": {
        "operationId": "ListReports",
        "value-collection": "value",
        "value-path": "resco_mobilereportid",
        "value-title": "resco_name",
        "parameters": {
          "$select": "resco_name,resco_entityname"
        }
      }
    },
    "ReportId.Optional": {
      "name": "reportid",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Mobile report id or name",
      "x-ms-summary": "Report id or Name",
      "x-ms-dynamic-values": {
        "operationId": "ListReports",
        "value-collection": "value",
        "value-path": "resco_mobilereportid",
        "value-title": "resco_name"
      }
    }
  },
  "definitions": {
    "generator.error": {
      "required": [
        "message"
      ],
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "stacktrace": {
          "type": "string"
        }
      }
    },
    "OData.error": {
      "type": "object",
      "properties": {
        "error": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string"
            },
            "message": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "responses": {
    "Report.File": {
      "description": "Generated report response",
      "schema": {
        "format": "binary",
        "title": "Report content",
        "type": "string",
        "x-ms-summary": "Report content"
      },
      "headers": {
        "x-resco-filename": {
          "type": "string",
          "description": "The name of the report file",
          "x-ms-summary": "File name"
        },
        "Content-Disposition": {
          "type": "string",
          "x-ms-summary": "Content Disposition",
          "description": "Content Disposition header value"
        },
        "Content-Type": {
          "description": "The mime type of the exported report",
          "x-ms-summary": "Content Type",
          "type": "string"
        }
      }
    },
    "error": {
      "description": "The error response",
      "schema": {
        "$ref": "#/definitions/generator.error"
      }
    },
    "ODataError": {
      "description": "OData error response",
      "schema": {
        "$ref": "#/definitions/OData.error"
      }
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.microsoft.com/common/oauth2/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "tags": []
}