{
  "swagger": "2.0",
  "info": {
    "title": "Genderize_io",
    "description": "A simple API to predict the gender of a person given their name.\nThe API is free for up to 1000 names/day.",
    "version": "1.0",
    "contact": {
      "name": "Tomasz Poszytek",
      "url": "https://aka.ms/poszytek",
      "email": "tomasz@poszytek.eu"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://genderize.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://genderize.io/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Data"
    }
  ],
  "host": "api.genderize.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "description": "List of checks.",
                "x-ms-visibility": "advanced",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Checked name.",
                    "title": "Name",
                    "x-ms-visibility": "important"
                  },
                  "gender": {
                    "type": "string",
                    "description": "Predicted gender for the given name.",
                    "title": "Gender",
                    "x-ms-visibility": "important"
                  },
                  "probability": {
                    "type": "number",
                    "format": "float",
                    "description": "The certainty of the assigned gender. Basically the ratio of male to females.",
                    "title": "Probability",
                    "x-ms-visibility": "important"
                  },
                  "count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of data rows examined in order to calculate the response.",
                    "title": "Count",
                    "x-ms-visibility": "important"
                  }
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The amount of names available in the current time window",
                "type": "integer",
                "x-ms-visibility": "advanced"
              },
              "X-Rate-Reset": {
                "description": "The number of names left in the current time window ",
                "type": "integer",
                "x-ms-visibility": "advanced"
              },
              "X-Rate-Limit-Remaining": {
                "description": "Seconds remaining until a new time window opens",
                "type": "integer",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Check name(s) gender",
        "description": "Check gender of a single name or multiple names. For multiple names - separate them with comma. Up to 10 names at a time.",
        "operationId": "CheckNamesGender",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Name(s) to check the gender. For multiple, separate with comma.",
            "x-ms-summary": "Name(s)",
            "x-ms-visibility": "important"
          },
          {
            "name": "country_id",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "US",
            "description": "Country ISO code to classify gender in the scope of a specific country.",
            "x-ms-summary": "Country ISO code",
            "enum": [
              "AD",
              "AE",
              "AF",
              "AG",
              "AI",
              "AL",
              "AM",
              "AN",
              "AO",
              "AQ",
              "AR",
              "AS",
              "AT",
              "AU",
              "AW",
              "AZ",
              "BA",
              "BB",
              "BD",
              "BE",
              "BF",
              "BG",
              "BH",
              "BI",
              "BJ",
              "BL",
              "BM",
              "BN",
              "BO",
              "BR",
              "BS",
              "BT",
              "BV",
              "BW",
              "BY",
              "BZ",
              "CA",
              "CC",
              "CD",
              "CF",
              "CG",
              "CH",
              "CI",
              "CK",
              "CL",
              "CM",
              "CN",
              "CO",
              "CR",
              "CU",
              "CV",
              "CX",
              "CY",
              "CZ",
              "DE",
              "DJ",
              "DK",
              "DM",
              "DO",
              "DZ",
              "EC",
              "EE",
              "EG",
              "EH",
              "ER",
              "ES",
              "ET",
              "FI",
              "FJ",
              "FK",
              "FM",
              "FO",
              "FR",
              "GA",
              "GB",
              "GD",
              "GE",
              "GF",
              "GG",
              "GH",
              "GI",
              "GL",
              "GM",
              "GN",
              "GP",
              "GQ",
              "GR",
              "GS",
              "GT",
              "GU",
              "GW",
              "GY",
              "HK",
              "HN",
              "HR",
              "HT",
              "HU",
              "ID",
              "IE",
              "IL",
              "IM",
              "IN",
              "IO",
              "IQ",
              "IR",
              "IS",
              "IT",
              "JE",
              "JM",
              "JO",
              "JP",
              "KE",
              "KG",
              "KH",
              "KI",
              "KM",
              "KN",
              "KP",
              "KR",
              "KW",
              "KY",
              "KZ",
              "LA",
              "LB",
              "LC",
              "LI",
              "LK",
              "LR",
              "LS",
              "LT",
              "LU",
              "LV",
              "LY",
              "MA",
              "MC",
              "MD",
              "ME",
              "MF",
              "MG",
              "MH",
              "MK",
              "ML",
              "MM",
              "MN",
              "MO",
              "MP",
              "MQ",
              "MR",
              "MS",
              "MT",
              "MU",
              "MV",
              "MW",
              "MX",
              "MY",
              "MZ",
              "NA",
              "NC",
              "NE",
              "NF",
              "NG",
              "NI",
              "NL",
              "NO",
              "NP",
              "NR",
              "NU",
              "NZ",
              "OM",
              "PA",
              "PE",
              "PF",
              "PG",
              "PH",
              "PK",
              "PL",
              "PM",
              "PN",
              "PR",
              "PS",
              "PT",
              "PW",
              "PY",
              "QA",
              "RE",
              "RO",
              "RS",
              "RU",
              "RW",
              "SA",
              "SB",
              "SC",
              "SD",
              "SE",
              "SG",
              "SH",
              "SI",
              "SJ",
              "SK",
              "SL",
              "SM",
              "SN",
              "SO",
              "SR",
              "ST",
              "SV",
              "SY",
              "SZ",
              "TC",
              "TD",
              "TG",
              "TH",
              "TJ",
              "TK",
              "TL",
              "TM",
              "TN",
              "TO",
              "TR",
              "TT",
              "TV",
              "TW",
              "TZ",
              "UA",
              "UG",
              "US",
              "UY",
              "UZ",
              "VA",
              "VC",
              "VE",
              "VG",
              "VI",
              "VN",
              "VU",
              "WF",
              "WS",
              "YE",
              "YT",
              "ZA",
              "ZM",
              "ZW"
            ]
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "apikey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}