{
  "swagger": "2.0",
  "info": {
    "title": "Badgr",
    "version": "1.1",
    "description": "Organizations around the world use Badgr to create branded learning ecosystems that support their communities with skills-based digital credentials, stackable learning pathways, and portable learner records.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.badgr.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": [],
  "parameters": {},
  "paths": {
    "/v2/issuers": {
      "get": {
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether a success.",
                      "title": "Success"
                    }
                  },
                  "title": "Status"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "openBadgeId": {
                        "type": "string",
                        "description": "The identifier of the Open Badge.",
                        "title": "Open Badge ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Whom created by.",
                        "title": "Created By"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "staff": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entityType": {
                              "type": "string",
                              "description": "The type of the entity.",
                              "title": "Entity Type"
                            },
                            "entityId": {
                              "type": "string",
                              "description": "The identifier of the entity.",
                              "title": "Entity ID"
                            },
                            "userProfile": {
                              "type": "object",
                              "properties": {
                                "entityType": {
                                  "type": "string",
                                  "description": "The entity type.",
                                  "title": "Entity Type"
                                },
                                "entityId": {
                                  "type": "string",
                                  "description": "The entity identifier.",
                                  "title": "Entity ID"
                                },
                                "firstName": {
                                  "type": "string",
                                  "description": "The first name.",
                                  "title": "First Name"
                                },
                                "lastName": {
                                  "type": "string",
                                  "description": "The last name.",
                                  "title": "Last Name"
                                },
                                "emails": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "email": {
                                        "type": "string",
                                        "description": "The email address.",
                                        "title": "Email"
                                      },
                                      "verified": {
                                        "type": "boolean",
                                        "description": "Whether verified.",
                                        "title": "Verified"
                                      },
                                      "primary": {
                                        "type": "boolean",
                                        "description": "Whether primary.",
                                        "title": "Primary"
                                      },
                                      "caseVariants": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "description": "The case variants.",
                                        "title": "Case Variants"
                                      }
                                    }
                                  },
                                  "title": "Emails"
                                },
                                "url": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The URL addresses.",
                                  "title": "URLs"
                                },
                                "telephone": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The telephone numbers.",
                                  "title": "Telephone Numbers"
                                },
                                "badgrDomain": {
                                  "type": "string",
                                  "description": "The Badgr domain.",
                                  "title": "Badgr Domain"
                                }
                              },
                              "title": "User Profile"
                            },
                            "user": {
                              "type": "string",
                              "description": "The user.",
                              "title": "User"
                            },
                            "role": {
                              "type": "string",
                              "description": "The role.",
                              "title": "Role"
                            }
                          }
                        },
                        "title": "Staff"
                      },
                      "extensions": {
                        "type": "string",
                        "description": "The extensions.",
                        "title": "Extensions"
                      },
                      "badgrDomain": {
                        "type": "string",
                        "description": "The domain of Badgr.",
                        "title": "Badgr Domain"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "summary": "Get Issuers",
        "tags": [
          "Issuers"
        ],
        "description": "Get a list of Issuers for authenticated user.",
        "operationId": "IssuerGet"
      },
      "post": {
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "createdBy": {
                  "type": "string",
                  "description": "Whom created by.",
                  "title": "Created By"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "image": {
                  "type": "string",
                  "description": "The image.",
                  "title": "Image"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "staff": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "userProfile": {
                        "type": "string",
                        "description": "The profile of the user.",
                        "title": "User Profile"
                      },
                      "user": {
                        "type": "string",
                        "description": "The user.",
                        "title": "User"
                      },
                      "role": {
                        "type": "string",
                        "description": "The role.",
                        "title": "Role"
                      }
                    }
                  },
                  "title": "Staff"
                },
                "extensions": {
                  "type": "string",
                  "description": "The extensions.",
                  "title": "Extensions"
                },
                "badgrDomain": {
                  "type": "string",
                  "description": "The domain of Badgr.",
                  "title": "Badgr Domain"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether a success.",
                      "title": "Success"
                    }
                  },
                  "title": "Status"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "openBadgeId": {
                        "type": "string",
                        "description": "The identifier of the Open Badge.",
                        "title": "Open Badge ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Whom created by.",
                        "title": "Created By"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "staff": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entityType": {
                              "type": "string",
                              "description": "The type of the entity.",
                              "title": "Entity Type"
                            },
                            "entityId": {
                              "type": "string",
                              "description": "The identifier of the entity.",
                              "title": "Entity ID"
                            },
                            "userProfile": {
                              "type": "string",
                              "description": "The profile of the user.",
                              "title": "User Profile"
                            },
                            "user": {
                              "type": "string",
                              "description": "The user.",
                              "title": "User"
                            },
                            "role": {
                              "type": "string",
                              "description": "The role.",
                              "title": "Role"
                            }
                          }
                        },
                        "title": "Staff"
                      },
                      "extensions": {
                        "type": "string",
                        "description": "The extensions.",
                        "title": "Extensions"
                      },
                      "badgrDomain": {
                        "type": "string",
                        "description": "The domain of Badgr.",
                        "title": "Badgr Domain"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successfully created"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "summary": "Create a Issuer",
        "tags": [
          "Issuers"
        ],
        "description": "Create a new Issuer.",
        "operationId": "IssuerCreate"
      }
    },
    "/v2/issuers/{entity_id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "description": "The identifier of the entity",
            "x-ms-summary": "Entity ID",
            "x-ms-url-encoding": "single",
            "name": "entity_id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether a success.",
                      "title": "Success"
                    }
                  },
                  "title": "Status"
                },
                "result": {
                  "type": "array",
                  "description": "The array of results.",
                  "title": "Results",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "openBadgeId": {
                        "type": "string",
                        "description": "The identifier of the Open Badge.",
                        "title": "Open Badge ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Whom created by.",
                        "title": "Created By"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "staff": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entityType": {
                              "type": "string",
                              "description": "The type of the entity.",
                              "title": "Entity Type"
                            },
                            "entityId": {
                              "type": "string",
                              "description": "The identifier of the entity.",
                              "title": "Entity ID"
                            },
                            "userProfile": {
                              "type": "string",
                              "description": "The profile of the user.",
                              "title": "User Profile"
                            },
                            "user": {
                              "type": "string",
                              "description": "The user.",
                              "title": "User"
                            },
                            "role": {
                              "type": "string",
                              "description": "The role.",
                              "title": "Role"
                            }
                          }
                        },
                        "title": "Staff"
                      },
                      "extensions": {
                        "type": "string",
                        "description": "The extensions.",
                        "title": "Extensions"
                      },
                      "badgrDomain": {
                        "type": "string",
                        "description": "The domain of Badgr.",
                        "title": "Badgr Domain"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          },
          "404": {
            "description": "Issuer not found"
          }
        },
        "summary": "Get an Issuer",
        "tags": [
          "Issuers"
        ],
        "description": "Get a single Issuer.",
        "operationId": "IssuerGetA"
      },
      "delete": {
        "parameters": [
          {
            "in": "path",
            "description": "The identifier of the entity",
            "x-ms-summary": "Entity ID",
            "x-ms-url-encoding": "single",
            "name": "entity_id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Issuer was deleted successfully."
          },
          "404": {
            "description": "Issuer not found"
          }
        },
        "summary": "Delete an Issuer",
        "tags": [
          "Issuers"
        ],
        "description": "Delete a single Issuer.",
        "operationId": "IssuerDelete"
      },
      "put": {
        "parameters": [
          {
            "name": "entity_id",
            "x-ms-summary": "Entity ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier of the entity.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "createdBy": {
                  "type": "string",
                  "description": "Whom created by.",
                  "title": "Created By"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "image": {
                  "type": "string",
                  "description": "The image.",
                  "title": "Image"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "staff": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "userProfile": {
                        "type": "string",
                        "description": "The profile of the user.",
                        "title": "User Profile"
                      },
                      "user": {
                        "type": "string",
                        "description": "The user.",
                        "title": "User"
                      },
                      "role": {
                        "type": "string",
                        "description": "The role.",
                        "title": "Role"
                      }
                    }
                  },
                  "title": "Staff"
                },
                "extensions": {
                  "type": "string",
                  "description": "The extensions.",
                  "title": "Extensions"
                },
                "badgrDomain": {
                  "type": "string",
                  "description": "The domain of Badgr.",
                  "title": "Badgr Domain"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether a success.",
                      "title": "Success"
                    }
                  },
                  "title": "Status"
                },
                "result": {
                  "type": "array",
                  "description": "The array of results.",
                  "title": "Results",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "openBadgeId": {
                        "type": "string",
                        "description": "The identifier of the Open Badge.",
                        "title": "Open Badge ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Whom created by.",
                        "title": "Created By"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "staff": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entityType": {
                              "type": "string",
                              "description": "The type of the entity.",
                              "title": "Entity Type"
                            },
                            "entityId": {
                              "type": "string",
                              "description": "The identifier of the entity.",
                              "title": "Entity ID"
                            },
                            "userProfile": {
                              "type": "string",
                              "description": "The profile of the user.",
                              "title": "User Profile"
                            },
                            "user": {
                              "type": "string",
                              "description": "The user.",
                              "title": "User"
                            },
                            "role": {
                              "type": "string",
                              "description": "The role.",
                              "title": "Role"
                            }
                          }
                        },
                        "title": "Staff"
                      },
                      "extensions": {
                        "type": "string",
                        "description": "The extensions.",
                        "title": "Extensions"
                      },
                      "badgrDomain": {
                        "type": "string",
                        "description": "The domain of Badgr.",
                        "title": "Badgr Domain"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successfully updated"
          },
          "400": {
            "description": "Validation error"
          },
          "404": {
            "description": "Issuer not found"
          }
        },
        "summary": "Update an Issuer",
        "tags": [
          "Issuers"
        ],
        "description": "Update a single Issuer.",
        "operationId": "IssuerUpdate"
      }
    },
    "/v2/issuers/{entity_id}/assertions": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "description": "The identifier of the entity",
            "x-ms-summary": "Entity ID",
            "x-ms-url-encoding": "single",
            "name": "entity_id",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "x-ms-summary": "Recipient",
            "name": "recipient",
            "type": "string",
            "description": "A recipient identifier to filter by"
          },
          {
            "in": "query",
            "x-ms-summary": "Number",
            "name": "num",
            "type": "string",
            "description": "Request pagination of results"
          },
          {
            "in": "query",
            "x-ms-summary": "Include Expired",
            "name": "include_expired",
            "type": "boolean",
            "description": "Include expired assertions"
          },
          {
            "in": "query",
            "x-ms-summary": "Include Revoked",
            "name": "include_revoked",
            "type": "boolean",
            "description": "Include revoked assertions"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether a success.",
                      "title": "Success"
                    }
                  },
                  "title": "Status"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "openBadgeId": {
                        "type": "string",
                        "description": "The identifier of the Open Badge.",
                        "title": "Open Badge ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Whom created by.",
                        "title": "Created By"
                      },
                      "badgeclass": {
                        "type": "string",
                        "description": "The definition of an earnable badge.",
                        "title": "BadgeClass"
                      },
                      "badgeclassOpenBadgeId": {
                        "type": "string",
                        "description": "The identifier of the BadgeClass's Open Badge.",
                        "title": "BadgeClass Open Badge ID"
                      },
                      "issuer": {
                        "type": "string",
                        "description": "The person or organization who creates/ offers badges and issues them to earners.",
                        "title": "Issuer"
                      },
                      "issuerOpenBadgeId": {
                        "type": "string",
                        "description": "The identifier of the issuer's Open Badge.",
                        "title": "Issuer Open Badge ID"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "recipient": {
                        "type": "object",
                        "properties": {
                          "identity": {
                            "type": "string",
                            "description": "The identity.",
                            "title": "Identity"
                          },
                          "hashed": {
                            "type": "boolean",
                            "description": "Whether hashed.",
                            "title": "Hashed"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "plaintextIdentity": {
                            "type": "string",
                            "description": "The identity in plaintext.",
                            "title": "Plaintext Identity"
                          },
                          "salt": {
                            "type": "string",
                            "description": "If hashed, the salt.",
                            "title": "Salt"
                          }
                        },
                        "title": "Recipient"
                      },
                      "issuedOn": {
                        "type": "string",
                        "description": "When issued on.",
                        "title": "Issued On"
                      },
                      "narrative": {
                        "type": "string",
                        "description": "The narrative for the badge issued.",
                        "title": "Narrative"
                      },
                      "evidence": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            },
                            "narrative": {
                              "type": "string",
                              "description": "The narrative for the badge issued.",
                              "title": "Narrative"
                            }
                          }
                        },
                        "title": "Evidence"
                      },
                      "revoked": {
                        "type": "boolean",
                        "description": "Whether revoked.",
                        "title": "Revoked"
                      },
                      "revocationReason": {
                        "type": "string",
                        "description": "The reason for revocation.",
                        "title": "Revocation Reason"
                      },
                      "acceptance": {
                        "type": "string",
                        "description": "When the badge was accepted.",
                        "title": "Acceptance"
                      },
                      "expires": {
                        "type": "string",
                        "description": "When the badge expires.",
                        "title": "Expires"
                      },
                      "extensions": {
                        "type": "string",
                        "description": "The extensions.",
                        "title": "Extensions"
                      },
                      "badgeclassName": {
                        "type": "string",
                        "description": "The name of the BadgeClass.",
                        "title": "BadgeClass Name"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "summary": "Get Assertions",
        "tags": [
          "Assertions",
          "Issuers"
        ],
        "description": "Get a list of Assertions for a single Issuer.",
        "operationId": "AssertionGet"
      },
      "post": {
        "parameters": [
          {
            "name": "entity_id",
            "x-ms-summary": "Entity ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier of the entity.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "badgeclass": {
                  "type": "string",
                  "description": "The definition of an earnable badge.",
                  "title": "BadgeClass"
                },
                "badgeclassOpenBadgeId": {
                  "type": "string",
                  "description": "The identifier of the BadgeClass's Open Badge.",
                  "title": "BadgeClass Open Badge ID"
                },
                "issuer": {
                  "type": "string",
                  "description": "The person or organization who creates/ offers badges and issues them to earners. .",
                  "title": "Issuer"
                },
                "issuerOpenBadgeId": {
                  "type": "string",
                  "description": "The identifier of the issuer's Open Badge.",
                  "title": "Issuer Open Badge ID"
                },
                "recipient": {
                  "type": "object",
                  "properties": {
                    "identity": {
                      "type": "string",
                      "description": "The identity.",
                      "title": "Identity"
                    },
                    "hashed": {
                      "type": "boolean",
                      "description": "Whether hashed.",
                      "title": "Hashed"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "plaintextIdentity": {
                      "type": "string",
                      "description": "The identity in plaintext.",
                      "title": "Plaintext Identity"
                    },
                    "salt": {
                      "type": "string",
                      "description": "If hashed, the salt.",
                      "title": "Salt"
                    }
                  },
                  "title": "Recipient"
                },
                "issuedOn": {
                  "type": "string",
                  "description": "When issued on.",
                  "title": "Issued On"
                },
                "narrative": {
                  "type": "string",
                  "description": "The narrative for the badge issued.",
                  "title": "Narrative"
                },
                "evidence": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "narrative": {
                        "type": "string",
                        "description": "The narrative for the badge issued.",
                        "title": "Narrative"
                      }
                    }
                  },
                  "title": "Evidence"
                },
                "expires": {
                  "type": "string",
                  "description": "When expires.",
                  "title": "Expires"
                },
                "extensions": {
                  "type": "string",
                  "description": "The extensions.",
                  "title": "Extensions"
                },
                "badgeclassName": {
                  "type": "string",
                  "description": "The name of the BadgeClass.",
                  "title": "BadgeClass Name"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether a success.",
                      "title": "Success"
                    }
                  },
                  "title": "Status"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "openBadgeId": {
                        "type": "string",
                        "description": "The identifier of the Open Badge.",
                        "title": "Open Badge ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Whom created by.",
                        "title": "Created By"
                      },
                      "badgeclass": {
                        "type": "string",
                        "description": "The definition of an earnable badge.",
                        "title": "BadgeClass"
                      },
                      "badgeclassOpenBadgeId": {
                        "type": "string",
                        "description": "The identifier of the BadgeClass's Open Badge.",
                        "title": "BadgeClass Open Badge ID"
                      },
                      "issuer": {
                        "type": "string",
                        "description": "The person or organization who creates/ offers badges and issues them to earners.",
                        "title": "Issuer"
                      },
                      "issuerOpenBadgeId": {
                        "type": "string",
                        "description": "The identifier of the issuer's Open Badge.",
                        "title": "Issuer Open Badge ID"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "recipient": {
                        "type": "object",
                        "properties": {
                          "identity": {
                            "type": "string",
                            "description": "The identity.",
                            "title": "Identity"
                          },
                          "hashed": {
                            "type": "boolean",
                            "description": "Whether hashed.",
                            "title": "Hashed"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "plaintextIdentity": {
                            "type": "string",
                            "description": "The identity in plaintext.",
                            "title": "Plaintext Identity"
                          },
                          "salt": {
                            "type": "string",
                            "description": "If hashed, the salt.",
                            "title": "Salt"
                          }
                        },
                        "title": "Recipient"
                      },
                      "issuedOn": {
                        "type": "string",
                        "description": "When issued on.",
                        "title": "Issued On"
                      },
                      "narrative": {
                        "type": "string",
                        "description": "The narrative for the badge issued.",
                        "title": "Narrative"
                      },
                      "evidence": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            },
                            "narrative": {
                              "type": "string",
                              "description": "The narrative for the badge issued.",
                              "title": "Narrative"
                            }
                          }
                        },
                        "title": "Evidence"
                      },
                      "revoked": {
                        "type": "boolean",
                        "description": "Whether revoked.",
                        "title": "Revoked"
                      },
                      "revocationReason": {
                        "type": "string",
                        "description": "The reason for revocation.",
                        "title": "Revocation Reason"
                      },
                      "acceptance": {
                        "type": "string",
                        "description": "When the badge was accepted.",
                        "title": "Acceptance"
                      },
                      "expires": {
                        "type": "string",
                        "description": "When the badge expires.",
                        "title": "Expires"
                      },
                      "extensions": {
                        "type": "string",
                        "description": "The extensions.",
                        "title": "Extensions"
                      },
                      "badgeclassName": {
                        "type": "string",
                        "description": "The name of the BadgeClass.",
                        "title": "BadgeClass Name"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successfully created"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "summary": "Issue an Assertion",
        "tags": [
          "Assertions",
          "Issuers"
        ],
        "description": "Issue a new Assertion to a recipient.",
        "operationId": "AssertionIssue"
      }
    },
    "/v2/issuers/{entity_id}/badgeclasses": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "description": "The identifier of the entity",
            "x-ms-summary": "Entity ID",
            "x-ms-url-encoding": "single",
            "name": "entity_id",
            "type": "string",
            "required": true
          },
          {
            "in": "query",
            "x-ms-summary": "Number",
            "name": "num",
            "type": "string",
            "description": "Request pagination of results"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether a success.",
                      "title": "Success"
                    }
                  },
                  "title": "Status"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "openBadgeId": {
                        "type": "string",
                        "description": "The identifier of the Open Badge.",
                        "title": "Open Badge ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Whom created by.",
                        "title": "Created By"
                      },
                      "issuer": {
                        "type": "string",
                        "description": "The person or organization who creates/ offers badges and issues them to earners.",
                        "title": "Issuer"
                      },
                      "issuerOpenBadgeId": {
                        "type": "string",
                        "description": "The identifier of the issuer's Open Badge.",
                        "title": "Issuer Open Badge ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "achievementType": {
                        "type": "string",
                        "description": "The type of achievement.",
                        "title": "Achievement Type"
                      },
                      "criteriaUrl": {
                        "type": "string",
                        "description": "The URL address of the criteria.",
                        "title": "Criteria URL"
                      },
                      "criteriaNarrative": {
                        "type": "string",
                        "description": "The narrative of the criteria.",
                        "title": "Criteria Narrative"
                      },
                      "alignments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "targetName": {
                              "type": "string",
                              "description": "The name of the target.",
                              "title": "Target Name"
                            },
                            "targetUrl": {
                              "type": "string",
                              "description": "The URL address of the target.",
                              "title": "Target URL"
                            },
                            "targetDescription": {
                              "type": "string",
                              "description": "The description of the target.",
                              "title": "Target Description"
                            },
                            "targetFramework": {
                              "type": "string",
                              "description": "The framework of the target.",
                              "title": "Target Framework"
                            },
                            "targetCode": {
                              "type": "string",
                              "description": "The code of the target.",
                              "title": "Target Code"
                            }
                          }
                        },
                        "title": "Alignments"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Tags"
                      },
                      "expires": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "duration": {
                            "type": "string",
                            "description": "The duration.",
                            "title": "Duration"
                          }
                        },
                        "title": "Expires"
                      },
                      "extensions": {
                        "type": "string",
                        "description": "The extensions.",
                        "title": "Extensions"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "summary": "Get Issuer's BadgeClasses",
        "description": "Get a list of BadgeClasses for a single Issuer. Authenticated user must have owner, editor, or staff status on the Issuer.",
        "tags": [
          "Issuers",
          "BadgeClasses"
        ],
        "operationId": "ClassGetIssuer"
      },
      "post": {
        "parameters": [
          {
            "name": "entity_id",
            "x-ms-summary": "Entity ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier of the entity.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "issuer": {
                  "type": "string",
                  "description": "The person or organization who creates/ offers badges and issues them to earners. .",
                  "title": "Issuer"
                },
                "issuerOpenBadgeId": {
                  "type": "string",
                  "description": "The identifier of the issuer's Open Badge.",
                  "title": "Issuer Open Badge ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "image": {
                  "type": "string",
                  "description": "The image.",
                  "title": "Image"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "achievementType": {
                  "type": "string",
                  "description": "The type of achievement.",
                  "title": "Achievement Type"
                },
                "criteriaUrl": {
                  "type": "string",
                  "description": "The URL of the criteria.",
                  "title": "Criteria URL"
                },
                "criteriaNarrative": {
                  "type": "string",
                  "description": "The narrative of the criteria.",
                  "title": "Criteria Narrative"
                },
                "alignments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "targetName": {
                        "type": "string",
                        "description": "The name of the target.",
                        "title": "Target Name"
                      },
                      "targetUrl": {
                        "type": "string",
                        "description": "The URL of the target.",
                        "title": "Target URL"
                      },
                      "targetDescription": {
                        "type": "string",
                        "description": "The description of the target.",
                        "title": "Target Description"
                      },
                      "targetFramework": {
                        "type": "string",
                        "description": "The framework of the target.",
                        "title": "Target Framework"
                      },
                      "targetCode": {
                        "type": "string",
                        "description": "The code of the target.",
                        "title": "Target Code"
                      }
                    }
                  },
                  "title": "Alignments"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Tags"
                },
                "expires": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "string",
                      "description": "The amount.",
                      "title": "Amount"
                    },
                    "duration": {
                      "type": "string",
                      "description": "The duration.",
                      "title": "Duration"
                    }
                  },
                  "title": "Expires"
                },
                "extensions": {
                  "type": "string",
                  "description": "The extensions.",
                  "title": "Extensions"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether a success.",
                      "title": "Success"
                    }
                  },
                  "title": "Status"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "openBadgeId": {
                        "type": "string",
                        "description": "The identifier of the Open Badge.",
                        "title": "Open Badge ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Whom created by.",
                        "title": "Created By"
                      },
                      "issuer": {
                        "type": "string",
                        "description": "The person or organization who creates/ offers badges and issues them to earners.",
                        "title": "Issuer"
                      },
                      "issuerOpenBadgeId": {
                        "type": "string",
                        "description": "The identifier of the issuer's Open Badge.",
                        "title": "Issuer Open Badge ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "achievementType": {
                        "type": "string",
                        "description": "The type of achievement.",
                        "title": "Achievement Type"
                      },
                      "criteriaUrl": {
                        "type": "string",
                        "description": "The URL address of the criteria.",
                        "title": "Criteria URL"
                      },
                      "criteriaNarrative": {
                        "type": "string",
                        "description": "The narrative of the criteria.",
                        "title": "Criteria Narrative"
                      },
                      "alignments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "targetName": {
                              "type": "string",
                              "description": "The name of the target.",
                              "title": "Target Name"
                            },
                            "targetUrl": {
                              "type": "string",
                              "description": "The URL address of the target.",
                              "title": "Target URL"
                            },
                            "targetDescription": {
                              "type": "string",
                              "description": "The description of the target.",
                              "title": "Target Description"
                            },
                            "targetFramework": {
                              "type": "string",
                              "description": "The framework of the target.",
                              "title": "Target Framework"
                            },
                            "targetCode": {
                              "type": "string",
                              "description": "The code of the target.",
                              "title": "Target Code"
                            }
                          }
                        },
                        "title": "Alignments"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Tags"
                      },
                      "expires": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "duration": {
                            "type": "string",
                            "description": "The duration.",
                            "title": "Duration"
                          }
                        },
                        "title": "Expires"
                      },
                      "extensions": {
                        "type": "string",
                        "description": "The extensions.",
                        "title": "Extensions"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successfully created"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "summary": "Create an Issuer's BadgeClass",
        "description": "Create a new BadgeClass associated with an Issuer. Authenticated user must have owner, editor, or staff status on the Issuer.",
        "tags": [
          "Issuers",
          "BadgeClasses"
        ],
        "operationId": "ClassCreateIssuer"
      }
    },
    "/v2/badgeclasses": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether a success.",
                      "title": "Success"
                    }
                  },
                  "title": "Status"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "openBadgeId": {
                        "type": "string",
                        "description": "The identifier of the Open Badge.",
                        "title": "Open Badge ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Whom created by.",
                        "title": "Created By"
                      },
                      "issuer": {
                        "type": "string",
                        "description": "The person or organization who creates/ offers badges and issues them to earners.",
                        "title": "Issuer"
                      },
                      "issuerOpenBadgeId": {
                        "type": "string",
                        "description": "The identifier of the issuer's Open Badge.",
                        "title": "Issuer Open Badge ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "achievementType": {
                        "type": "string",
                        "description": "The type of achievement.",
                        "title": "Achievement Type"
                      },
                      "criteriaUrl": {
                        "type": "string",
                        "description": "The URL address of the criteria.",
                        "title": "Criteria URL"
                      },
                      "criteriaNarrative": {
                        "type": "string",
                        "description": "The narrative of the criteria.",
                        "title": "Criteria Narrative"
                      },
                      "alignments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "targetName": {
                              "type": "string",
                              "description": "The name of the target.",
                              "title": "Target Name"
                            },
                            "targetUrl": {
                              "type": "string",
                              "description": "The URL address of the target.",
                              "title": "Target URL"
                            },
                            "targetDescription": {
                              "type": "string",
                              "description": "The description of the target.",
                              "title": "Target Description"
                            },
                            "targetFramework": {
                              "type": "string",
                              "description": "The framework of the target.",
                              "title": "Target Framework"
                            },
                            "targetCode": {
                              "type": "string",
                              "description": "The code of the target.",
                              "title": "Target Code"
                            }
                          }
                        },
                        "title": "Alignments"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Tags"
                      },
                      "expires": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "duration": {
                            "type": "string",
                            "description": "The duration.",
                            "title": "Duration"
                          }
                        },
                        "title": "Expires"
                      },
                      "extensions": {
                        "type": "string",
                        "description": "The extensions.",
                        "title": "Extensions"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful operation"
          }
        },
        "summary": "Get user's BadgeClasses",
        "tags": [
          "BadgeClasses"
        ],
        "description": "Get a list of BadgeClasses for authenticated user.",
        "operationId": "ClassGetUser"
      },
      "post": {
        "parameters": [
          {
            "name": "num",
            "in": "query",
            "x-ms-summary": "Number",
            "required": false,
            "type": "integer",
            "description": "Request pagination of results"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "issuer": {
                  "type": "string",
                  "description": "The person or organization who creates/ offers badges and issues them to earners. .",
                  "title": "Issuer"
                },
                "issuerOpenBadgeId": {
                  "type": "string",
                  "description": "The identifier of the issuer's Open Badge.",
                  "title": "Issuer Open Badge ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "image": {
                  "type": "string",
                  "description": "The image.",
                  "title": "Image"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "achievementType": {
                  "type": "string",
                  "description": "The type of achievement.",
                  "title": "Achievement Type"
                },
                "criteriaUrl": {
                  "type": "string",
                  "description": "The URL of the criteria.",
                  "title": "Criteria URL"
                },
                "criteriaNarrative": {
                  "type": "string",
                  "description": "The narrative of the criteria.",
                  "title": "Criteria Narrative"
                },
                "alignments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "targetName": {
                        "type": "string",
                        "description": "The name of the target.",
                        "title": "Target Name"
                      },
                      "targetUrl": {
                        "type": "string",
                        "description": "The URL of the target.",
                        "title": "Target URL"
                      },
                      "targetDescription": {
                        "type": "string",
                        "description": "The description of the target.",
                        "title": "Target Description"
                      },
                      "targetFramework": {
                        "type": "string",
                        "description": "The framework of the target.",
                        "title": "Target Framework"
                      },
                      "targetCode": {
                        "type": "string",
                        "description": "The code of the target.",
                        "title": "Target Code"
                      }
                    }
                  },
                  "title": "Alignments"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Tags"
                },
                "expires": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "string",
                      "description": "The amount.",
                      "title": "Amount"
                    },
                    "duration": {
                      "type": "string",
                      "description": "The duration.",
                      "title": "Duration"
                    }
                  },
                  "title": "Expires"
                },
                "extensions": {
                  "type": "string",
                  "description": "The extensions.",
                  "title": "Extensions"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether a success.",
                      "title": "Success"
                    }
                  },
                  "title": "Status"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "openBadgeId": {
                        "type": "string",
                        "description": "The identifier of the Open Badge.",
                        "title": "Open Badge ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Whom created by.",
                        "title": "Created By"
                      },
                      "issuer": {
                        "type": "string",
                        "description": "The person or organization who creates/ offers badges and issues them to earners.",
                        "title": "Issuer"
                      },
                      "issuerOpenBadgeId": {
                        "type": "string",
                        "description": "The identifier of the issuer's Open Badge.",
                        "title": "Issuer Open Badge ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "achievementType": {
                        "type": "string",
                        "description": "The type of achievement.",
                        "title": "Achievement Type"
                      },
                      "criteriaUrl": {
                        "type": "string",
                        "description": "The URL address of the criteria.",
                        "title": "Criteria URL"
                      },
                      "criteriaNarrative": {
                        "type": "string",
                        "description": "The narrative of the criteria.",
                        "title": "Criteria Narrative"
                      },
                      "alignments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "targetName": {
                              "type": "string",
                              "description": "The name of the target.",
                              "title": "Target Name"
                            },
                            "targetUrl": {
                              "type": "string",
                              "description": "The URL address of the target.",
                              "title": "Target URL"
                            },
                            "targetDescription": {
                              "type": "string",
                              "description": "The description of the target.",
                              "title": "Target Description"
                            },
                            "targetFramework": {
                              "type": "string",
                              "description": "The framework of the target.",
                              "title": "Target Framework"
                            },
                            "targetCode": {
                              "type": "string",
                              "description": "The code of the target.",
                              "title": "Target Code"
                            }
                          }
                        },
                        "title": "Alignments"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Tags"
                      },
                      "expires": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "duration": {
                            "type": "string",
                            "description": "The duration.",
                            "title": "Duration"
                          }
                        },
                        "title": "Expires"
                      },
                      "extensions": {
                        "type": "string",
                        "description": "The extensions.",
                        "title": "Extensions"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successfully created"
          },
          "400": {
            "description": "Validation error"
          }
        },
        "summary": "Create a BadgeClass",
        "tags": [
          "BadgeClasses"
        ],
        "description": "Create a new BadgeClass.",
        "operationId": "ClassCreate"
      }
    },
    "/v2/badgeclasses/{entity_id}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "description": "The identifier of the entity",
            "x-ms-summary": "Entity ID",
            "x-ms-url-encoding": "single",
            "name": "entity_id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "success": {
                      "type": "boolean",
                      "description": "Whether a success.",
                      "title": "Success"
                    }
                  },
                  "title": "Status"
                },
                "result": {
                  "type": "array",
                  "description": "The array of results.",
                  "title": "Results",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityType": {
                        "type": "string",
                        "description": "The type of entity.",
                        "title": "Entity Type"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "The identifier of the entity.",
                        "title": "Entity ID"
                      },
                      "openBadgeId": {
                        "type": "string",
                        "description": "The identifier of the Open Badge.",
                        "title": "Open Badge ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "Whom created by.",
                        "title": "Created By"
                      },
                      "issuer": {
                        "type": "string",
                        "description": "The person or organization who creates/ offers badges and issues them to earners.",
                        "title": "Issuer"
                      },
                      "issuerOpenBadgeId": {
                        "type": "string",
                        "description": "The identifier of the issuer's Open Badge.",
                        "title": "Issuer Open Badge ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "achievementType": {
                        "type": "string",
                        "description": "The type of achievement.",
                        "title": "Achievement Type"
                      },
                      "criteriaUrl": {
                        "type": "string",
                        "description": "The URL address of the criteria.",
                        "title": "Criteria URL"
                      },
                      "criteriaNarrative": {
                        "type": "string",
                        "description": "The narrative of the criteria.",
                        "title": "Criteria Narrative"
                      },
                      "alignments": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "targetName": {
                              "type": "string",
                              "description": "The name of the target.",
                              "title": "Target Name"
                            },
                            "targetUrl": {
                              "type": "string",
                              "description": "The URL address of the target.",
                              "title": "Target URL"
                            },
                            "targetDescription": {
                              "type": "string",
                              "description": "The description of the target.",
                              "title": "Target Description"
                            },
                            "targetFramework": {
                              "type": "string",
                              "description": "The framework of the target.",
                              "title": "Target Framework"
                            },
                            "targetCode": {
                              "type": "string",
                              "description": "The code of the target.",
                              "title": "Target Code"
                            }
                          }
                        },
                        "title": "Alignments"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "title": "Tags"
                      },
                      "expires": {
                        "type": "object",
                        "properties": {
                          "amount": {
                            "type": "string",
                            "description": "The amount.",
                            "title": "Amount"
                          },
                          "duration": {
                            "type": "string",
[...]
