{
  "swagger": "2.0",
  "info": {
    "title": "DVLA Vehicle Enquiry Service",
    "description": "Check details of UK registered vehicles using registration number (number plate)",
    "version": "1.0",
    "contact": {
      "name": "Gulshan Khurana, Pranav Khurana",
      "url": "https://www.linkedin.com/in/gulshankhurana/",
      "email": "gulshankhurana@outlook.com"
    }
  },
  "host": "driver-vehicle-licensing.api.gov.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/vehicle-enquiry/v1/vehicles": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "artEndDate": {
                  "type": "string",
                  "description": "artEndDate",
                  "title": "ART End Date"
                },
                "co2Emissions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "co2Emissions",
                  "title": "CO2 Emission"
                },
                "colour": {
                  "type": "string",
                  "description": "colour",
                  "title": "Colour"
                },
                "engineCapacity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "engineCapacity",
                  "title": "Cylinder Capacity"
                },
                "fuelType": {
                  "type": "string",
                  "description": "fuelType",
                  "title": "Fuel Type"
                },
                "make": {
                  "type": "string",
                  "description": "make",
                  "title": "Make"
                },
                "markedForExport": {
                  "type": "boolean",
                  "description": "markedForExport",
                  "title": "Export Marker",
                  "enum": [
                    "true",
                    "false"
                  ]
                },
                "monthOfFirstRegistration": {
                  "type": "string",
                  "description": "monthOfFirstRegistration",
                  "title": "Month of First Registration"
                },
                "motStatus": {
                  "type": "string",
                  "description": "motStatus",
                  "title": "MOT Status"
                },
                "registrationNumber": {
                  "type": "string",
                  "description": "registrationNumber",
                  "title": "Registration Number"
                },
                "revenueWeight": {
                  "type": "integer",
                  "format": "int32",
                  "description": "revenueWeight",
                  "title": "Revenue Weight"
                },
                "taxDueDate": {
                  "type": "string",
                  "description": "taxDueDate",
                  "title": "Tax Due Date"
                },
                "taxStatus": {
                  "type": "string",
                  "description": "taxStatus",
                  "title": "Tax Status"
                },
                "typeApproval": {
                  "type": "string",
                  "description": "typeApproval",
                  "title": "Vehicle Type Approval"
                },
                "wheelplan": {
                  "type": "string",
                  "description": "wheelplan",
                  "title": "Wheelplan"
                },
                "yearOfManufacture": {
                  "type": "integer",
                  "format": "int32",
                  "description": "yearOfManufacture",
                  "title": "Year of Manufacture"
                },
                "euroStatus": {
                  "type": "string",
                  "description": "euroStatus",
                  "title": "Euro Status"
                },
                "realDrivingEmissions": {
                  "type": "string",
                  "description": "realDrivingEmissions",
                  "title": "Real Driving Emissions"
                },
                "dateOfLastV5CIssued": {
                  "type": "string",
                  "description": "dateOfLastV5CIssued",
                  "title": "Date of Last V5 Certificate (Logbook) Issued"
                }
              }
            }
          },
          "400": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "status",
                        "title": "Status"
                      },
                      "code": {
                        "type": "string",
                        "description": "code",
                        "title": "Code"
                      },
                      "title": {
                        "type": "string",
                        "description": "title",
                        "title": "Title"
                      },
                      "detail": {
                        "type": "string",
                        "description": "detail",
                        "title": "Detail"
                      }
                    }
                  },
                  "description": "errors"
                }
              }
            }
          },
          "404": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "status",
                        "title": "Status"
                      },
                      "code": {
                        "type": "string",
                        "description": "code",
                        "title": "Code"
                      },
                      "title": {
                        "type": "string",
                        "description": "title",
                        "title": "Title"
                      },
                      "detail": {
                        "type": "string",
                        "description": "detail",
                        "title": "Detail"
                      }
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        },
        "summary": "Get Vehicle Details",
        "description": "Get Vehicle Details by using Vehicle Registration Number",
        "operationId": "GetVehicleDetailsbyVRN",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "registrationNumber": {
                  "type": "string",
                  "description": "registrationNumber",
                  "title": "Vehicle Registration Number"
                }
              }
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetVehicleDetailsbyVRN",
              "x-ms-require-user-confirmation": false,
              "parameters": [
                {
                  "name": "body",
                  "type": "upsert",
                  "properties": [
                    {
                      "name": "required",
                      "value": false,
                      "type": "upsert"
                    },
                    {
                      "name": "x-ms-explicit-input",
                      "value": true,
                      "type": "upsert"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.gov.uk/government/organisations/driver-and-vehicle-licensing-agency"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.gov.uk/help/privacy-notice"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce;Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": "Get Vehicle Details",
    "modelDescription": "This is a plugin to get Vehicle Details of a UK registered vehicle by using its Vehicle Registration Number (number plate) held by the the Driver and Vehicle Licensing Agency (DVLA) in the UK.",
    "contactEmail": "gulshankhurana@outlook.com",
    "legalUrl": "https://contact.dvla.gov.uk/terms_and_conditions?locale=en"
  }
}