{
  "swagger": "2.0",
  "info": {
    "title": "Miro",
    "description": "Miro (formerly RealtimeBoard) is an intuitive visual collaboration and whiteboarding platform for cross-functional teams.",
    "version": "1.0",
    "contact": {
      "name": "Michal Romiszewski",
      "email": "michal@nbtech.pl"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://miro.com//"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://miro.com/legal/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "tags": [
    {
      "name": "Boards"
    },
    {
      "name": "Widgets"
    }
  ],
  "host": "api.miro.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://miro.com/oauth/authorize",
      "tokenUrl": "https://api.miro.com/v1/oauth/token",
      "scopes": {
        "boards:read boards:write": "boards:read boards:write"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "boards:read boards:write"
      ]
    }
  ],
  "paths": {
    "/boards": {
      "post": {
        "operationId": "CreateBoard",
        "summary": "Create a board",
        "description": "Create a new board.",
        "tags": [
          "Boards"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/Board"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Board"
            }
          },
          "400": {
            "$ref": "#/responses/ErrorBadRequest"
          },
          "404": {
            "$ref": "#/responses/ErrorNotFound"
          }
        }
      }
    },
    "/boards/{boardId}": {
      "get": {
        "operationId": "GetBoard",
        "summary": "Get a board",
        "description": "Get a specific board by its unique identifier.",
        "tags": [
          "Boards"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/BoardLookup"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Board"
            }
          },
          "400": {
            "$ref": "#/responses/ErrorBadRequest"
          },
          "404": {
            "$ref": "#/responses/ErrorNotFound"
          }
        }
      },
      "patch": {
        "operationId": "UpdateBoard",
        "summary": "Update a board",
        "description": "Update a specific board by its unique identifier.",
        "tags": [
          "Boards"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/BoardLookup"
          },
          {
            "$ref": "#/parameters/Board"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Board"
            }
          },
          "400": {
            "$ref": "#/responses/ErrorBadRequest"
          },
          "404": {
            "$ref": "#/responses/ErrorNotFound"
          }
        }
      }
    },
    "/boards/{boardId}/copy": {
      "post": {
        "operationId": "CopyBoard",
        "summary": "Copy a board",
        "description": "Create a copy of an existing board.",
        "tags": [
          "Boards"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/BoardLookup"
          },
          {
            "$ref": "#/parameters/Board"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Board"
            }
          },
          "400": {
            "$ref": "#/responses/ErrorBadRequest"
          },
          "404": {
            "$ref": "#/responses/ErrorNotFound"
          }
        }
      }
    },
    "/teams/{teamId}/boards": {
      "get": {
        "operationId": "GetBoards",
        "summary": "Get boards",
        "description": "Get all boards available to the user.",
        "tags": [
          "Boards"
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1000000000000000000,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Team",
            "x-ms-url-encoding": "single",
            "description": "Team Id"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset"
                },
                "size": {
                  "type": "integer",
                  "format": "int32",
                  "description": "size"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Board"
                  },
                  "description": "Boards"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ErrorBadRequest"
          },
          "404": {
            "$ref": "#/responses/ErrorNotFound"
          }
        }
      }
    },
    "/boards/{boardId}/widgets": {
      "get": {
        "operationId": "GetWidgets",
        "summary": "Get widgets",
        "description": "Get all widgets.",
        "tags": [
          "Widgets"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/BoardLookup"
          },
          {
            "$ref": "#/parameters/WidgetType"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "size": {
                  "type": "integer",
                  "format": "int32",
                  "description": "size"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Widget"
                  },
                  "description": "Widgets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/ErrorBadRequest"
          },
          "404": {
            "$ref": "#/responses/ErrorNotFound"
          }
        }
      },
      "post": {
        "operationId": "CreateCard",
        "summary": "Create a card widget",
        "description": "Create a new card widget.",
        "tags": [
          "Widgets"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/BoardLookup"
          },
          {
            "$ref": "#/parameters/CardWidget"
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Widget"
            }
          },
          "400": {
            "$ref": "#/responses/ErrorBadRequest"
          },
          "404": {
            "$ref": "#/responses/ErrorNotFound"
          }
        }
      }
    },
    "/boards/{boardId}/widgets/{widgetId}": {
      "get": {
        "operationId": "GetWidget",
        "summary": "Get a widget",
        "description": "Get a specific single widget by its unique identifier.",
        "tags": [
          "Widgets"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/BoardLookup"
          },
          {
            "$ref": "#/parameters/WidgetLookup"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Widget"
            }
          },
          "400": {
            "$ref": "#/responses/ErrorBadRequest"
          },
          "404": {
            "$ref": "#/responses/ErrorNotFound"
          }
        }
      },
      "delete": {
        "operationId": "DeleteWidget",
        "summary": "Delete a widget",
        "description": "Delete a specific widget by its unique identifier.",
        "tags": [
          "Widgets"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/BoardLookup"
          },
          {
            "$ref": "#/parameters/WidgetLookup"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Widget"
            }
          },
          "400": {
            "$ref": "#/responses/ErrorBadRequest"
          },
          "404": {
            "$ref": "#/responses/ErrorNotFound"
          }
        }
      },
      "patch": {
        "operationId": "UpdateCard",
        "summary": "Update a card widget",
        "description": "Update a specific card widget by its unique identifier.",
        "tags": [
          "Widgets"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/BoardLookup"
          },
          {
            "$ref": "#/parameters/WidgetLookup"
          },
          {
            "$ref": "#/parameters/CardWidget"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Widget"
            }
          },
          "400": {
            "$ref": "#/responses/ErrorBadRequest"
          },
          "404": {
            "$ref": "#/responses/ErrorNotFound"
          }
        }
      }
    },
    "/boards/{boardId}/share": {
      "post": {
        "operationId": "ShareBoard",
        "summary": "Share a board",
        "description": "Share an existing board with users.",
        "tags": [
          "Boards"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/BoardLookup"
          },
          {
            "$ref": "#/parameters/BoardShare"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BoardUserConnection"
            }
          },
          "400": {
            "$ref": "#/responses/ErrorBadRequest"
          }
        }
      }
    }
  },
  "definitions": {
    "Board": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifier for the board.",
          "title": "Board Id"
        },
        "name": {
          "type": "string",
          "description": "Name of the board.",
          "title": "Board Name"
        },
        "description": {
          "type": "string",
          "description": "Description of the board.",
          "title": "Board Description"
        },
        "viewLink": {
          "type": "string",
          "description": "The link to view the board in a browser.",
          "title": "View link"
        },
        "currentUserConnection": {
          "type": "object",
          "properties": {
            "role": {
              "type": "string",
              "description": "User role.",
              "title": "Role"
            },
            "user": {
              "$ref": "#/definitions/User"
            },
            "id": {
              "type": "string",
              "description": "Unique identifier for the object.",
              "title": "User Connection Id"
            }
          },
          "description": "Current user connection."
        },
        "team": {
          "$ref": "#/definitions/Team"
        },
        "sharingPolicy": {
          "type": "object",
          "properties": {
            "access": {
              "type": "string",
              "description": "Indicates the public-level access to the board.",
              "title": "Access with the link"
            },
            "teamAccess": {
              "type": "string",
              "description": "Indicates the team-level access to the board.",
              "title": "Team access"
            },
            "accountAccess": {
              "type": "string",
              "description": "Account access.",
              "title": "Account access"
            }
          },
          "description": "Sharing policy"
        },
        "owner": {
          "$ref": "#/definitions/Owner"
        },
        "createdAt": {
          "$ref": "#/definitions/CreatedAt"
        },
        "createdBy": {
          "$ref": "#/definitions/CreatedBy"
        },
        "modifiedAt": {
          "$ref": "#/definitions/ModifiedAt"
        },
        "modifiedBy": {
          "$ref": "#/definitions/ModifiedBy"
        }
      }
    },
    "BoardUserConnection": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier for the user connection.",
            "title": "User connection Id"
          },
          "type": {
            "type": "string",
            "description": "type",
            "title": "Board User Connection Type"
          },
          "role": {
            "$ref": "#/definitions/Role"
          },
          "board": {
            "$ref": "#/definitions/Board"
          },
          "user": {
            "$ref": "#/definitions/User"
          },
          "createdAt": {
            "$ref": "#/definitions/CreatedAt"
          },
          "modifiedAt": {
            "$ref": "#/definitions/ModifiedAt"
          }
        }
      }
    },
    "Widget": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifier for the widget.",
          "title": "Widget Id"
        },
        "type": {
          "type": "string",
          "description": "type",
          "title": "Widget Type"
        },
        "text": {
          "type": "string",
          "description": "Rich Text.",
          "title": "Text"
        },
        "title": {
          "type": "string",
          "description": "Title.",
          "title": "Title"
        },
        "description": {
          "type": "string",
          "description": "Description.",
          "title": "Description"
        },
        "date": {
          "type": "string",
          "description": "Date.",
          "title": "Date"
        },
        "x": {
          "type": "number",
          "format": "float",
          "description": "X position.",
          "title": "X"
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y position.",
          "title": "Y"
        },
        "width": {
          "type": "number",
          "format": "float",
          "description": "Width.",
          "title": "Width"
        },
        "height": {
          "type": "number",
          "format": "float",
          "description": "Height.",
          "title": "Height"
        },
        "rotation": {
          "type": "number",
          "format": "float",
          "description": "Rotation.",
          "title": "Rotation"
        },
        "scale": {
          "type": "number",
          "format": "float",
          "description": "Scale.",
          "title": "Scale"
        },
        "startWidget": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "Start widget identifier.",
              "title": "Start id"
            }
          },
          "description": "startWidget"
        },
        "endWidget": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "End widget identifier.",
              "title": "End id"
            }
          },
          "description": "endWidget"
        },
        "assignee": {
          "$ref": "#/definitions/User"
        },
        "style": {
          "$ref": "#/definitions/WidgetStyle"
        },
        "createdAt": {
          "$ref": "#/definitions/CreatedAt"
        },
        "createdBy": {
          "$ref": "#/definitions/CreatedBy"
        },
        "modifiedAt": {
          "$ref": "#/definitions/ModifiedAt"
        },
        "modifiedBy": {
          "$ref": "#/definitions/ModifiedBy"
        }
      }
    },
    "WidgetStyle": {
      "type": "object",
      "properties": {
        "backgroundColor": {
          "type": "string",
          "description": "Background color.",
          "title": "Background color"
        },
        "backgroundOpacity": {
          "type": "number",
          "format": "float",
          "description": "Background opacity.",
          "title": "Background opacity"
        },
        "fontSize": {
          "type": "integer",
          "format": "int32",
          "description": "Font size.",
          "title": "Font size"
        },
        "fontFamily": {
          "type": "string",
          "description": "Font family.",
          "title": "Font family"
        },
        "textAlign": {
          "type": "string",
          "description": "Text align.",
          "title": "Text align"
        },
        "textAlignVertical": {
          "type": "string",
          "description": "Text align vertical.",
          "title": "Text align vertical"
        },
        "textColor": {
          "type": "string",
          "description": "Text color.",
          "title": "Text color"
        },
        "borderColor": {
          "type": "string",
          "description": "Border color.",
          "title": "Border color"
        },
        "borderOpacity": {
          "type": "number",
          "format": "float",
          "description": "Border opacity.",
          "title": "Border opacity"
        },
        "borderStyle": {
          "type": "string",
          "description": "Border style.",
          "title": "Border style"
        },
        "borderWidth": {
          "type": "number",
          "format": "float",
          "description": "Border width.",
          "title": "Border width"
        },
        "lineEndType": {
          "type": "string",
          "description": "Line end type.",
          "title": "Line end type"
        },
        "lineStartType": {
          "type": "string",
          "description": "Line start type.",
          "title": "Line start type"
        },
        "lineType": {
          "type": "string",
          "description": "Line type.",
          "title": "Line type"
        },
        "padding": {
          "type": "integer",
          "format": "int32",
          "description": "Padding.",
          "title": "Padding"
        },
        "shapeType": {
          "type": "string",
          "description": "Shape type.",
          "title": "Shape type"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the user.",
          "title": "User Name"
        },
        "id": {
          "type": "string",
          "description": "Identifier for user.",
          "title": "User Id"
        }
      },
      "description": "User"
    },
    "Owner": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the user.",
          "title": "Owner Name"
        },
        "id": {
          "type": "string",
          "description": "Identifier for user.",
          "title": "Owner Id"
        }
      },
      "description": "Owner"
    },
    "CreatedBy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the user.",
          "title": "Created By Name"
        },
        "id": {
          "type": "string",
          "description": "Identifier for user.",
          "title": "Created By Id"
        }
      },
      "description": "CreatedBy"
    },
    "ModifiedBy": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the user.",
          "title": "Modified By Name"
        },
        "id": {
          "type": "string",
          "description": "Identifier for user.",
          "title": "Modified By Id"
        }
      },
      "description": "ModifiedBy"
    },
    "CreatedAt": {
      "type": "string",
      "description": "Date and time when the board was created.",
      "title": "Created"
    },
    "ModifiedAt": {
      "type": "string",
      "description": "Date and time when the board was modified.",
      "title": "Modified"
    },
    "Team": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the team.",
          "title": "Team Name"
        },
        "id": {
          "type": "string",
          "description": "Identifier of the team.",
          "title": "Team Id"
        }
      },
      "description": "Team"
    },
    "CardWidgetStyle": {
      "type": "object",
      "properties": {
        "backgroundColor": {
          "type": "string",
          "description": "Background color.",
          "title": "Background Color",
          "enum": [
            "#f5f6f8",
            "#fff9b1",
            "#f5d128",
            "#d0e17a",
            "#d5f692",
            "#a6ccf5",
            "#67c6c0",
            "#23bfe7",
            "#ff9d48",
            "#ea94bb",
            "#f16c7f",
            "#b384bb"
          ],
          "default": "#fff9b1",
          "x-ms-enum-values": [
            {
              "displayName": "Yellow",
              "value": "#fff9b1"
            },
            {
              "displayName": "White",
              "value": "#f5f6f8"
            },
            {
              "displayName": "Light Orange",
              "value": "#f5d128"
            },
            {
              "displayName": "Olive",
              "value": "#d0e17a"
            },
            {
              "displayName": "Green",
              "value": "#d5f692"
            },
            {
              "displayName": "Pastel Blue",
              "value": "#a6ccf5"
            },
            {
              "displayName": "Aqua",
              "value": "#67c6c0"
            },
            {
              "displayName": "Blue",
              "value": "#23bfe7"
            },
            {
              "displayName": "Orange",
              "value": "#ff9d48"
            },
            {
              "displayName": "Pink",
              "value": "#ea94bb"
            },
            {
              "displayName": "Red",
              "value": "#f16c7f"
            },
            {
              "displayName": "Purple",
              "value": "#b384bb"
            }
          ]
        }
      },
      "description": "CardStyle",
      "x-ms-visibility": "advanced"
    },
    "Role": {
      "type": "string",
      "description": "User role",
      "title": "User Role",
      "enum": [
        "viewer",
        "commenter",
        "editor"
      ],
      "default": "viewer",
      "x-ms-enum-values": [
        {
          "displayName": "Viewer",
          "value": "viewer"
        },
        {
          "displayName": "Commenter",
          "value": "commenter"
        },
        {
          "displayName": "Editor",
          "value": "editor"
        }
      ]
    },
    "Error": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "status"
        },
        "code": {
          "type": "string",
          "description": "code"
        },
        "message": {
          "type": "string",
          "description": "message"
        },
        "context": {
          "type": "object",
          "properties": {
            "fields": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "field": {
                    "type": "string",
                    "description": "field"
                  },
                  "message": {
                    "type": "string",
                    "description": "message"
                  },
                  "reason": {
                    "type": "string",
                    "description": "reason"
                  }
                }
              },
              "description": "fields"
            }
          },
          "description": "context"
        },
        "type": {
          "type": "string",
          "description": "type"
        }
      }
    }
  },
  "parameters": {
    "Board": {
      "in": "body",
      "name": "body",
      "required": false,
      "schema": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name for the board that you are creating.",
            "title": "Name"
          },
          "description": {
            "type": "string",
            "description": "Description for the board that you are creating.",
            "title": "Description"
          },
          "sharingPolicy": {
            "type": "object",
            "properties": {
              "teamAccess": {
                "type": "string",
                "title": "Access with the link",
                "enum": [
                  "private",
                  "view",
                  "comment",
                  "edit"
                ],
                "x-ms-enum-values": [
                  {
                    "value": "private",
                    "displayName": "Nobody in the team can find and access the board."
                  },
                  {
                    "value": "view",
                    "displayName": "Any team member can find and view the board."
                  },
                  {
                    "value": "comment",
                    "displayName": "Any team member can find and comment the board."
                  },
                  {
                    "value": "edit",
                    "displayName": "Any team member can find and edit the board."
                  }
                ],
                "description": "Indicates the team-level access to the board.",
                "default": "private"
              },
              "access": {
                "type": "string",
                "title": "Team access",
                "enum": [
                  "private",
                  "view",
                  "comment"
                ],
                "x-ms-enum-values": [
                  {
                    "value": "private",
                    "displayName": "Only you have access to the board."
                  },
                  {
                    "value": "view",
                    "displayName": "Can view, no sign-in required."
                  },
                  {
                    "value": "comment",
                    "displayName": "Can comment, no sign-in required."
                  }
                ],
                "description": "Indicates the public-level access to the board.",
                "default": "private"
              }
            },
            "description": "sharingPolicy",
            "required": [
              "access",
              "teamAccess"
            ]
          }
        }
      }
    },
    "BoardShare": {
      "in": "body",
      "name": "body",
      "required": false,
      "schema": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "title": "Emails",
            "description": "Array of emails of users who you want to invite to the board.",
            "items": {
              "type": "string"
            }
          },
          "role": {
            "$ref": "#/definitions/Role"
          },
          "message": {
            "type": "string",
            "description": "The message which will be sent to users.",
            "title": "Message"
          },
          "teamInvitationStrategy": {
            "type": "string",
            "title": "Invitation strategy",
            "description": "Team invitation strategy",
            "enum": [
              "off",
              "invite_when_required"
            ],
            "default": "off",
            "x-ms-enum-values": [
              {
                "displayName": "Users are added into the team with the role non_team",
                "value": "off"
              },
              {
                "displayName": "Users are automatically added to the team with the role member",
                "value": "invite_when_required"
              }
            ]
          }
        },
        "required": [
          "emails",
          "role"
        ]
      }
    },
    "CardWidget": {
      "in": "body",
      "name": "body",
      "required": false,
      "schema": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Card title.",
            "title": "Card title",
            "example": "<p>Card</p>"
          },
          "description": {
            "type": "string",
            "description": "Card description.",
            "title": "Card description",
            "example": "<p>Description</p>"
          },
          "date": {
            "type": "string",
            "description": "Card date.",
            "title": "Card date",
            "format": "date",
            "example": "2022-03-21T00:00:00.000Z",
            "x-ms-visibility": "advanced"
          },
          "x": {
            "type": "number",
            "format": "float",
            "description": "X position",
            "title": "X",
            "example": 0,
            "x-ms-visibility": "advanced"
          },
          "y": {
            "type": "number",
            "format": "float",
            "description": "Y position",
            "title": "Y",
            "example": 0,
            "x-ms-visibility": "advanced"
          },
          "scale": {
            "type": "number",
            "format": "float",
            "description": "Scale",
            "title": "Scale",
            "default": 0.54,
            "minimum": 0.02,
            "maximum": 2000,
            "x-ms-visibility": "advanced"
          },
          "style": {
            "$ref": "#/definitions/CardWidgetStyle"
          }
        }
      }
    },
    "BoardLookup": {
      "in": "path",
      "name": "boardId",
      "required": true,
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "GetBoards",
        "value-path": "id",
        "value-collection": "data",
        "value-title": "name"
      },
      "x-ms-summary": "Board",
      "x-ms-url-encoding": "single",
      "description": "Select a board."
    },
    "WidgetLookup": {
      "in": "path",
      "name": "widgetId",
      "required": true,
      "type": "string",
      "x-ms-dynamic-values": {
        "parameters": {
          "boardId": {
            "parameter": "boardId"
          }
        },
        "operationId": "GetWidgets",
        "value-path": "id",
        "value-title": "type",
        "value-collection": "data"
      },
      "x-ms-summary": "Widget",
      "x-ms-url-encoding": "single",
      "description": "Select a widget."
    },
    "WidgetType": {
      "in": "query",
      "name": "widgetType",
      "required": false,
      "type": "string",
      "enum": [
        "",
        "card",
        "sticker",
        "shape",
        "text",
        "line"
      ],
      "default": "",
      "x-ms-enum-values": [
        {
          "displayName": "Card",
          "value": "card"
        },
        {
          "displayName": "Sticker",
          "value": "sticker"
        },
        {
          "displayName": "Shape",
          "value": "shape"
        },
        {
          "displayName": "Text",
          "value": "text"
        },
        {
          "displayName": "Line",
          "value": "line"
        }
      ],
      "description": "Filter widgets by type.",
      "x-ms-summary": "Widget type",
      "x-ms-visibility": "advanced"
    }
  },
  "responses": {
    "ErrorNotFound": {
      "description": "Not Found",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "ErrorBadRequest": {
      "description": "Bad Request",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    }
  }
}