{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Docurain",
    "description": "Docurain API allows you to create your own documents using template files registered in Docurain and Data for each App and DB.",
    "contact": {
      "name": "Docurain support",
      "url": "https://api.docurain.jp/console/inquiry",
      "email": "cs@docurain.jp"
    }
  },
  "host": "powerapps.docurain.jp",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/apiw/{outType}/{templateName}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "title": "body",
              "type": "string",
              "format": "binary",
              "description": "Reply to the binary data of the rendered form."
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/Error"
          },
          "401": {
            "$ref": "#/responses/Error"
          },
          "402": {
            "$ref": "#/responses/Error"
          },
          "403": {
            "$ref": "#/responses/Error"
          },
          "404": {
            "$ref": "#/responses/Error"
          },
          "405": {
            "$ref": "#/responses/Error"
          },
          "406": {
            "$ref": "#/responses/Error"
          },
          "412": {
            "$ref": "#/responses/Error"
          },
          "413": {
            "$ref": "#/responses/Error"
          },
          "415": {
            "$ref": "#/responses/Error"
          },
          "429": {
            "$ref": "#/responses/Error"
          },
          "500": {
            "$ref": "#/responses/Error"
          },
          "502": {
            "$ref": "#/responses/Error"
          },
          "503": {
            "$ref": "#/responses/Error"
          }
        },
        "summary": "Render a form",
        "operationId": "Render",
        "description": "This API renders a form by specifying the name of a template saved in Docurain beforehand.",
        "parameters": [
          {
            "name": "outType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Set the output format: pdf, xls(xlsx), png, jpg, jpg, gif, svg",
            "x-ms-summary": "output format"
          },
          {
            "name": "templateName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the name of the template you have already saved in Docurain.",
            "x-ms-summary": "pre-saved template name"
          },
          {
            "name": "X-Docurain-Data-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Set the data format : json, csv, tsv",
            "x-ms-summary": "data format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Specify the string data in the format (json/csv/tsv) that you specify for the data format.",
            "schema": {
              "type": "string",
              "description": "Specify the format of the data in the data format.",
              "title": "data",
              "format": ""
            }
          }
        ]
      }
    },
    "/apiw/async/{outType}/{templateName}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "resultId": {
                  "type": "string",
                  "description": "ID for querying the processing status of the asynchronous API and obtaining processing results",
                  "title": "resultId"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/Error"
          },
          "401": {
            "$ref": "#/responses/Error"
          },
          "402": {
            "$ref": "#/responses/Error"
          },
          "403": {
            "$ref": "#/responses/Error"
          },
          "404": {
            "$ref": "#/responses/Error"
          },
          "405": {
            "$ref": "#/responses/Error"
          },
          "406": {
            "$ref": "#/responses/Error"
          },
          "412": {
            "$ref": "#/responses/Error"
          },
          "413": {
            "$ref": "#/responses/Error"
          },
          "415": {
            "$ref": "#/responses/Error"
          },
          "429": {
            "$ref": "#/responses/Error"
          },
          "500": {
            "$ref": "#/responses/Error"
          },
          "502": {
            "$ref": "#/responses/Error"
          },
          "503": {
            "$ref": "#/responses/Error"
          }
        },
        "summary": "Render a form asynchronously",
        "operationId": "RenderAsync",
        "description": "API to render a form asynchronously by specifying the name of a template saved in Docurain beforehand.",
        "parameters": [
          {
            "name": "outType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Set the output format: pdf, xls(xlsx), png, jpg, jpg, gif, svg",
            "x-ms-summary": "output format"
          },
          {
            "name": "templateName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the name of the template you have already saved in Docurain.",
            "x-ms-summary": "pre-saved template name"
          },
          {
            "name": "X-Docurain-Data-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Set the data format : json, csv, tsv",
            "x-ms-summary": "data format"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Specify the string data in the format (json/csv/tsv) that you specify for the data format.",
            "schema": {
              "type": "string",
              "description": "Specify the format of the data in the data format.",
              "title": "data",
              "format": ""
            }
          }
        ]
      }
    },
    "/apiw/async/{resultId}/status": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Processing status of the specified result ID: PROCESSING:Rendering in progress, FAIL:Failure, SUCCESS:Success",
                  "title": "status"
                }
              }
            }
          },
          "400": {
            "$ref": "#/responses/Error"
          },
          "401": {
            "$ref": "#/responses/Error"
          },
          "402": {
            "$ref": "#/responses/Error"
          },
          "403": {
            "$ref": "#/responses/Error"
          },
          "404": {
            "$ref": "#/responses/Error"
          },
          "405": {
            "$ref": "#/responses/Error"
          },
          "406": {
            "$ref": "#/responses/Error"
          },
          "412": {
            "$ref": "#/responses/Error"
          },
          "413": {
            "$ref": "#/responses/Error"
          },
          "415": {
            "$ref": "#/responses/Error"
          },
          "429": {
            "$ref": "#/responses/Error"
          },
          "500": {
            "$ref": "#/responses/Error"
          },
          "502": {
            "$ref": "#/responses/Error"
          },
          "503": {
            "$ref": "#/responses/Error"
          }
        },
        "summary": "Get the processing status",
        "operationId": "GetAsyncStatus",
        "description": "Get the processing status of the specified result ID.",
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the result ID returned by RenderAsync.",
            "x-ms-summary": "Result ID to query processing status"
          }
        ]
      }
    },
    "/apiw/async/{resultId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "title": "body",
              "type": "string",
              "format": "binary",
              "description": "If the process is successful, the binary data of the generated form is returned. If the process fails, JSON with the details of the error is returned."
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          },
          "400": {
            "$ref": "#/responses/Error"
          },
          "401": {
            "$ref": "#/responses/Error"
          },
          "402": {
            "$ref": "#/responses/Error"
          },
          "403": {
            "$ref": "#/responses/Error"
          },
          "404": {
            "$ref": "#/responses/Error"
          },
          "405": {
            "$ref": "#/responses/Error"
          },
          "406": {
            "$ref": "#/responses/Error"
          },
          "412": {
            "$ref": "#/responses/Error"
          },
          "413": {
            "$ref": "#/responses/Error"
          },
          "415": {
            "$ref": "#/responses/Error"
          },
          "429": {
            "$ref": "#/responses/Error"
          },
          "500": {
            "$ref": "#/responses/Error"
          },
          "502": {
            "$ref": "#/responses/Error"
          },
          "503": {
            "$ref": "#/responses/Error"
          }
        },
        "summary": "Get the processing result",
        "description": "Get the processing result of the specified result ID.",
        "operationId": "GetAsyncResult",
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the result ID returned by RenderAsync.",
            "x-ms-summary": "Result ID of the processing result to be acquired."
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docurain.jp/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://docurain.jp/privacypolicy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {
    "Error": {
      "description": "Error",
      "schema": {
        "title": "body",
        "type": "object",
        "format": "",
        "description": "Reply to the JSON containing the error details."
      },
      "headers": {
        "Content-Type": {
          "description": "Content-Type",
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
