{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Docurain",
    "description": "DocurainAPI\u901a\u4fe1\u30b3\u30cd\u30af\u30bf",
    "contact": {
      "name": "Docurain support",
      "url": "https://api.docurain.jp/console/inquiry",
      "email": "cs@docurain.jp"
    }
  },
  "host": "powerapps.docurain.jp",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/apiw/{outType}/{templateName}": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "title": "body",
              "type": "string",
              "format": "binary",
              "description": "\u51e6\u7406\u6210\u529f\u6642\u306f\u751f\u6210\u3055\u308c\u305f\u5e33\u7968\u306e\u30d0\u30a4\u30ca\u30ea\u30c7\u30fc\u30bf\u304c\u8fd4\u5374\u3055\u308c\u307e\u3059\u3002 \u51e6\u7406\u5931\u6557\u6642\u306f\u30a8\u30e9\u30fc\u306e\u8a73\u7d30\u3092\u793a\u3059JSON\u304c\u8fd4\u5374\u3055\u308c\u307e\u3059\u3002"
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Render",
        "operationId": "Render",
        "description": "\u4e8b\u524d\u306bDocurain\u306b\u4fdd\u5b58\u3057\u305f\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u306e\u540d\u79f0\u3092\u6307\u5b9a\u3057\u3066\u5e33\u7968\u306e\u30ec\u30f3\u30c0\u30ea\u30f3\u30b0\u3092\u884c\u3046API\u3067\u3059\u3002",
        "parameters": [
          {
            "name": "outType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "\u51fa\u529b\u5f62\u5f0f\u3092\u8a2d\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3000\uff1a pdf, xls(xlsx), png, jpg, gif, svg",
            "x-ms-summary": "\u51fa\u529b\u5f62\u5f0f"
          },
          {
            "name": "templateName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "\u3059\u3067\u306bDocurain\u306b\u4fdd\u5b58\u3057\u305f\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u306e\u540d\u79f0\u3092\u6307\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002",
            "x-ms-summary": "\u4e8b\u524d\u4fdd\u5b58\u6e08\u307f\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u540d"
          },
          {
            "name": "X-Docurain-Data-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "\u30c7\u30fc\u30bf\u306e\u5f62\u5f0f\u3092\u8a2d\u5b9a\u3057\u3066\u4e0b\u3055\u3044\u3000\uff1a json, csv, tsv",
            "x-ms-summary": "\u30c7\u30fc\u30bf\u5f62\u5f0f"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "\u30c7\u30fc\u30bf\u5f62\u5f0f\u306b\u6307\u5b9a\u3057\u305f\u5f62\u5f0f(json/csv/tsv)\u306e\u6587\u5b57\u5217\u30c7\u30fc\u30bf\u3092\u6307\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002",
            "schema": {
              "type": "string",
              "description": "\u30c7\u30fc\u30bf\u5f62\u5f0f\u306b\u6307\u5b9a\u3057\u305f\u5f62\u5f0f\u306e\u30c7\u30fc\u30bf\u3092\u6307\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002",
              "title": "data",
              "format": ""
            }
          }
        ]
      }
    },
    "/apiw/async/{outType}/{templateName}": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "resultId": {
                  "type": "string",
                  "description": "\u975e\u540c\u671fAPI\u306e\u51e6\u7406\u30b9\u30c6\u30fc\u30bf\u30b9\u554f\u3044\u5408\u308f\u305b\u3001\u51e6\u7406\u7d50\u679c\u306e\u53d6\u5f97\u306e\u305f\u3081\u306eID",
                  "title": "resultId"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "RenderAsync",
        "operationId": "RenderAsync",
        "description": "\u4e8b\u524d\u306bDocurain\u306b\u4fdd\u5b58\u3057\u305f\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u306e\u540d\u79f0\u3092\u6307\u5b9a\u3057\u3066\u5e33\u7968\u306e\u30ec\u30f3\u30c0\u30ea\u30f3\u30b0\u3092\u975e\u540c\u671f\u3067\u884c\u3046API\u3067\u3059\u3002",
        "parameters": [
          {
            "name": "outType",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "\u51fa\u529b\u5f62\u5f0f\u3092\u8a2d\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3000\uff1a pdf, xls(xlsx), png, jpg, gif, svg",
            "x-ms-summary": "\u51fa\u529b\u5f62\u5f0f"
          },
          {
            "name": "templateName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "\u3059\u3067\u306bDocurain\u306b\u4fdd\u5b58\u3057\u305f\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u306e\u540d\u79f0\u3092\u6307\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002",
            "x-ms-summary": "\u4e8b\u524d\u4fdd\u5b58\u6e08\u307f\u30c6\u30f3\u30d7\u30ec\u30fc\u30c8\u540d"
          },
          {
            "name": "X-Docurain-Data-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "\u30c7\u30fc\u30bf\u306e\u5f62\u5f0f\u3092\u8a2d\u5b9a\u3057\u3066\u4e0b\u3055\u3044\u3000\uff1a json, csv, tsv",
            "x-ms-summary": "\u30c7\u30fc\u30bf\u5f62\u5f0f"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "\u30c7\u30fc\u30bf\u5f62\u5f0f\u306b\u6307\u5b9a\u3057\u305f\u5f62\u5f0f(json/csv/tsv)\u306e\u6587\u5b57\u5217\u30c7\u30fc\u30bf\u3092\u6307\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002",
            "schema": {
              "type": "string",
              "description": "\u30c7\u30fc\u30bf\u5f62\u5f0f\u306b\u6307\u5b9a\u3057\u305f\u5f62\u5f0f\u306e\u30c7\u30fc\u30bf\u3092\u6307\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002",
              "title": "data",
              "format": ""
            }
          }
        ]
      }
    },
    "/apiw/async/{resultId}/status": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "\u6307\u5b9a\u3057\u305f\u7d50\u679cID\u306e\u51e6\u7406\u30b9\u30c6\u30fc\u30bf\u30b9 : PROCESSING:\u30ec\u30f3\u30c0\u30ea\u30f3\u30b0\u51e6\u7406\u4e2d, FAIL:\u5931\u6557, SUCCESS:\u6210\u529f",
                  "title": "status"
                }
              }
            }
          }
        },
        "summary": "GetAsyncStatus",
        "operationId": "GetAsyncStatus",
        "description": "\u6307\u5b9a\u3057\u305f\u7d50\u679cID\u306e\u51e6\u7406\u30b9\u30c6\u30fc\u30bf\u30b9\u3092\u53d6\u5f97\u3057\u307e\u3059\u3002",
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "RenderAsync\u3088\u308a\u8fd4\u5374\u3055\u308c\u305f\u7d50\u679cID\u3092\u6307\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002",
            "x-ms-summary": "\u51e6\u7406\u30b9\u30c6\u30fc\u30bf\u30b9\u3092\u554f\u3044\u5408\u308f\u305b\u308b\u7d50\u679cID"
          }
        ]
      }
    },
    "/apiw/async/{resultId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "title": "body",
              "type": "string",
              "format": "binary",
              "description": "\u51e6\u7406\u6210\u529f\u6642\u306f\u751f\u6210\u3055\u308c\u305f\u5e33\u7968\u306e\u30d0\u30a4\u30ca\u30ea\u30c7\u30fc\u30bf\u304c\u8fd4\u5374\u3055\u308c\u307e\u3059\u3002 \u51e6\u7406\u5931\u6557\u6642\u306f\u30a8\u30e9\u30fc\u306e\u8a73\u7d30\u3092\u793a\u3059JSON\u304c\u8fd4\u5374\u3055\u308c\u307e\u3059\u3002"
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "GetAsyncResult",
        "description": "\u6307\u5b9a\u3057\u305f\u7d50\u679cID\u306e\u51e6\u7406\u7d50\u679c\u3092\u53d6\u5f97\u3057\u307e\u3059\u3002",
        "operationId": "GetAsyncResult",
        "parameters": [
          {
            "name": "resultId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "RenderAsync\u3088\u308a\u8fd4\u5374\u3055\u308c\u305f\u7d50\u679cID\u3092\u6307\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002",
            "x-ms-summary": "\u53d6\u5f97\u3059\u308b\u51e6\u7406\u7d50\u679c\u306e\u7d50\u679cID"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docurain.jp/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://docurain.jp/privacypolicy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": ""
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API \u30ad\u30fc": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API \u30ad\u30fc": []
    }
  ],
  "tags": []
}
