{
  "swagger": "2.0",
  "info": {
    "title": "Honeywell Forge",
    "description": "Honeywell Forge is an Enterprise Performance Management Software-as-a-Service. It enables autonomous control of devices and codifies domain knowledge of assets in a contextual way. Use Honeywell Forge Connector to subscribe to Honeywell Forge to receive service cases and to close existing service cases.",
    "version": "1.0",
    "contact": {
      "name": "Honeywell Support",
      "email": "DL-HCE-SRE@HoneywellProd.onmicrosoft.com",
      "url": "https://www.honeywell.com/us/en/contact/support"
    }
  },
  "host": "api.forge.connected.honeywell.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/projects/{projectId}/webhooks/{connectorId}": {
      "x-ms-notification-content": {
        "description": "This operation returns a list of open service cases for a specified customer.",
        "schema": {
          "type": "object",
          "properties": {
            "data": {
              "type": "array",
              "description": "List of open service cases.",
              "title": "Service Cases",
              "items": {
                "type": "object",
                "properties": {
                  "summary": {
                    "type": "string",
                    "description": "Brief description of the service case.",
                    "title": "Summary"
                  },
                  "sourceSystem": {
                    "type": "string",
                    "description": "System that caused the creation of the service case.",
                    "title": "Source System"
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the service case.",
                    "title": "Detailed Description"
                  },
                  "siteName": {
                    "type": "string",
                    "description": "The name of the site where the equipment that caused the service case is located.",
                    "title": "Site Name"
                  },
                  "analystNotes": {
                    "type": "string",
                    "description": "Use this field for additional notes as needed.",
                    "title": "Notes"
                  },
                  "priority": {
                    "type": "string",
                    "description": "The priority of the service case. Possible values are: low, medium, high.",
                    "title": "Priority"
                  },
                  "costOfFault": {
                    "type": "string",
                    "description": "The estimated cost of the fault of the equipment.",
                    "title": "Cost of Fault"
                  },
                  "equipmentId": {
                    "type": "string",
                    "description": "The ID of the equipment that caused the service case.",
                    "title": "Equipment ID"
                  },
                  "createdBy": {
                    "type": "string",
                    "description": "The email of the user who has created the service case.",
                    "title": "Created By"
                  },
                  "faultCreatedOn": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The date and time when the fault has occurred in UNIX epoch format.",
                    "title": "Fault Creation Timestamp"
                  },
                  "serviceCaseNumber": {
                    "type": "string",
                    "description": "The unique number that identifies the service case.",
                    "title": "Service Case Number"
                  },
                  "siteId": {
                    "type": "string",
                    "description": "The ID of the site where the equipment that caused the service case is located.",
                    "title": "Site ID"
                  },
                  "location": {
                    "type": "string",
                    "description": "The specific location within a site where the equipment that caused the service case is located. This can be a building, a floor, or a zone.",
                    "title": "Equipment Location"
                  },
                  "equipmentGroup": {
                    "type": "string",
                    "description": "The type of the equipment that caused the service case, such as AHU, VAV.",
                    "title": "Equipment Type"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status of the service case.",
                    "title": "Status"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "The webhook has been registered."
          }
        },
        "summary": "Register a webhook that allows you to receive open service cases",
        "consumes": [
          "application/json"
        ],
        "description": "This operation registers a webhook that allows you to receive open service cases from Honeywell Forge.",
        "operationId": "ServiceCaseCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify an ID for your project. The Project ID is a unique identifier that represents you as a customer in Honeywell Forge.",
            "x-ms-summary": "Project ID",
            "x-example": "dynamics-azure",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify an ID for your connector. Connector ID is a unique identifier that represents your connector in Honeywell Forge.",
            "x-ms-summary": "Connector ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Specify the URL where you want to receive service cases.",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "URL",
                  "default": "https://www.honeywell.com/"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      },
      "delete": {
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "The registration for the webhook has been cancelled."
          }
        },
        "summary": "Cancel webhook registration",
        "description": "This operation cancels registration for a webhook.",
        "operationId": "DeleteServiceCaseWebhook",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the ID of the project for which you want to cancel connector registration.",
            "x-ms-summary": "Project ID",
            "x-example": "dynamics-azure",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "connectorId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the ID of the connector for which you want to cancel registration.",
            "x-ms-summary": "Connector ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/projects/{projectId}/service-cases/{serviceCaseNumber}": {
      "patch": {
        "responses": {
          "200": {
            "description": "The service case has been closed.",
            "schema": {
              "$ref": "#/definitions/CloseCaseResponse"
            }
          }
        },
        "summary": "Close a service case",
        "consumes": [
          "application/json"
        ],
        "operationId": "CloseServiceCaseAtForge",
        "description": "This operation closes a service case.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the ID of the Project for which you want to cancel a service case.",
            "x-ms-summary": "Project ID",
            "x-example": "dynamics-azure",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "serviceCaseNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the number of the service case which you want to close.",
            "x-ms-summary": "Service Case Number",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "resolutionText",
                "siteId",
                "status"
              ],
              "properties": {
                "siteId": {
                  "type": "string",
                  "description": "Specify the ID of the site where the equipment that caused the service case is located.",
                  "title": "Site ID"
                },
                "status": {
                  "type": "string",
                  "description": "Specify CLOSED to close the service case. This parameter updates the status of the service case.",
                  "default": "Closed",
                  "title": "Status",
                  "x-ms-visibility": "internal"
                },
                "workOrderIDs": {
                  "type": "string",
                  "description": "Specify the work order ID",
                  "title": "Work Order ID"
                },
                "priority": {
                  "type": "string",
                  "description": "Specify the priority of the service case.",
                  "default": "Medium",
                  "title": "Priority"
                },
                "resolutionText": {
                  "type": "string",
                  "description": "Specify the resolution of the service case.??added title",
                  "title": "Resolution"
                },
                "resolutionCode": {
                  "type": "string",
                  "description": "Specify the resolution code for the service case.??added title",
                  "title": "Resolution Code"
                },
                "rootCauseCode": {
                  "type": "string",
                  "description": "Specify the root cause of the service case.??added title",
                  "title": "Root Cause Code"
                },
                "serviceCaseClosedOn": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Specify the date and time when the service has been closed in UNIX epoch format.",
                  "title": "Service Case Closing Timestamp"
                }
              }
            }
          }
        ]
      }
    },
    "/projects/{projectId}/transactionEvent": {
      "post": {
        "responses": {
          "200": {
            "description": "The event has been sent to Honeywell Forge."
          }
        },
        "description": "This operation sends success and failure events to Honeywell Forge.",
        "summary": "Send event to Honeywell Forge",
        "consumes": [
          "application/json"
        ],
        "operationId": "SendEventToForge",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the ID of the Project for which you want to send an event to Honeywell Forge.",
            "x-ms-summary": "Project ID",
            "x-example": "dynamics-azure",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "The body of the event message that has been sent to Honeywell Forge.",
            "x-ms-summary": "Event Body",
            "schema": {
              "type": "object",
              "required": [
                "event",
                "eventType",
                "message",
                "corelationId",
                "source"
              ],
              "properties": {
                "event": {
                  "type": "string",
                  "description": "Specify the name of the event.",
                  "x-ms-summary": "Event Name",
                  "default": "defaultEvent"
                },
                "eventType": {
                  "type": "string",
                  "description": "Specify the type of the event. Acceptable values are: warning, error, information, telemetry.",
                  "x-ms-summary": "Event Type",
                  "default": "defaultEventType"
                },
                "message": {
                  "type": "string",
                  "description": "Specify the description of the event.",
                  "x-ms-summary": "Message",
                  "default": "defaultMessage"
                },
                "corelationId": {
                  "type": "string",
                  "description": "Specify Correlation ID of the transaction.",
                  "x-ms-summary": "Correlation ID",
                  "default": "defaultCorrelationID"
                },
                "connectorId": {
                  "type": "string",
                  "description": "Specify the ID of the connector.",
                  "x-ms-summary": "Connector ID"
                },
                "source": {
                  "type": "string",
                  "description": "Specify the source system of the event.",
                  "x-ms-summary": "Source",
                  "default": "defaultSource"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "CloseCaseResponse": {
      "type": "object",
      "properties": {
        "correlationId": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://forge-sso.spec.honeywell.com/oauth2/token",
      "tokenUrl": "https://forge-sso.spec.honeywell.com/oauth2/token",
      "scopes": {
        "openid forge.access offline": "openid forge.access offline"
      }
    }
  },
  "security": [
    {
      "undefined": [
        "openid forge.access offline"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.honeywell.com/us/en/honeywell-forge"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.honeywell.com/us/en/privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Internet of Things"
    }
  ],
  "tags": []
}
