{
  "swagger": "2.0",
  "info": {
    "title": "Reachability",
    "description": "Check reachability of any site/webpage from any country in the world.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.apilayer.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/reachability": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The request status.",
                  "title": "Status Code"
                },
                "status": {
                  "type": "string",
                  "description": "The numeric status code.",
                  "title": "Status"
                },
                "ip_data": {
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "The IP address.",
                      "title": "IP"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country request was from.",
                      "title": "Country"
                    },
                    "asn": {
                      "type": "object",
                      "properties": {
                        "asnum": {
                          "type": "integer",
                          "format": "int32",
                          "title": "The autonomous system number",
                          "description": "ASN"
                        },
                        "org_name": {
                          "type": "string",
                          "title": "The name of the operator organization",
                          "description": "Organization Name"
                        }
                      },
                      "title": "Asn"
                    },
                    "geo": {
                      "type": "object",
                      "properties": {
                        "city": {
                          "type": "string",
                          "title": "The request city.",
                          "description": "City"
                        },
                        "region": {
                          "type": "string",
                          "title": "The request region.",
                          "description": "Region"
                        },
                        "region_name": {
                          "type": "string",
                          "title": "The request region name.",
                          "description": "Region Name"
                        },
                        "postal_code": {
                          "type": "string",
                          "title": "The request postal code.",
                          "description": "Postal Code"
                        },
                        "latitude": {
                          "type": "number",
                          "format": "float",
                          "title": "The request latitude.",
                          "description": "Latitude"
                        },
                        "longitude": {
                          "type": "number",
                          "format": "float",
                          "title": "The request longitude.",
                          "description": "Longitude"
                        },
                        "tz": {
                          "type": "string",
                          "title": "The request timezone.",
                          "description": "Timezone"
                        }
                      },
                      "title": "Geo"
                    }
                  },
                  "title": "IP Data"
                }
              }
            }
          }
        },
        "summary": "Check reachability of a URL",
        "description": "Returns details about request. If no country is entered as a parameter, a random country will be used.",
        "operationId": "Reach",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "x-ms-summary": "URL",
            "description": "The URL address to check.",
            "required": true,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A ISO 3166-1-format country code.",
            "x-ms-summary": "Country Code"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apilayer.com/marketplace/description/reachability-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ideracorp.com/Legal/APILayer/PrivacyStatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ]
}