{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "IN-D Payables E2E",
    "description": "A smart invoice processing solution that converts static documents (scanned, PDFs, screenshots, etc.) into usable information to fuel your business processes."
  },
  "host": "payables-sit.in-d.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/users/token/": {},
    "/api/e2e": {
      "post": {
        "summary": "Payable E2E",
        "description": "Process invoices to extract the key attributes like invoice numbers, PO number, vendor name, etc., and export the data",
        "operationId": "Payable_E2E",
        "parameters": [
          {
            "name": "Accept-Version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "v3.0",
            "description": "Accept-Version"
          },
          {
            "name": "Accept-Export-Type",
            "in": "header",
            "required": true,
            "type": "integer",
            "description": "Accept-Export-Type",
            "default": 1
          },
          {
            "name": "Accept-Attachment",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "True",
            "description": "Accept-Attachment"
          },
          {
            "name": "Accept-Route",
            "in": "header",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Accept-Route"
          },
          {
            "name": "Accept-Doctype",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "1,2",
            "description": "Accept-Doctype"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "files": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "files",
                    "title": "Base64 format"
                  },
                  "description": "files"
                }
              },
              "default": {
                "files": [
                  "/9j/4AAQSkZJ...(Base64 value)"
                ]
              },
              "required": [
                "files"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.in-d.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.in-d.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ]
}
