{
  "swagger": "2.0",
  "info": {
    "title": "Ice and Fire (Game of Thrones)",
    "description": "Ice And Fire is the world's greatest source for quantified and structured data from the universe of Ice and Fire (and the HBO series Game of Thrones). We give you access to data about all the Books, Characters and Houses in an easy to use format.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "www.anapioficeandfire.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api": {},
    "/api/books": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL address.",
                    "title": "URL"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "isbn": {
                    "type": "string",
                    "description": "The International Standard Book Number (ISBN-13) that uniquely identifies this book.",
                    "title": "ISBN"
                  },
                  "authors": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of names of the authors that wrote this book.",
                    "title": "Authors"
                  },
                  "numberOfPages": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The number of pages in this book.",
                    "title": "Number Of Pages"
                  },
                  "publisher": {
                    "type": "string",
                    "description": "The company that published this book.",
                    "title": "Publisher"
                  },
                  "country": {
                    "type": "string",
                    "description": "The country that this book was published in.",
                    "title": "Country"
                  },
                  "mediaType": {
                    "type": "string",
                    "description": "The type of media this book was released in.",
                    "title": "Media Type"
                  },
                  "released": {
                    "type": "string",
                    "description": "The date (ISO 8601) when this book was released.",
                    "title": "Released"
                  },
                  "characters": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of Character resource URLs that are in this book.",
                    "title": "Characters"
                  },
                  "povCharacters": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of Character resource URLs that has had a POV-chapter in this book.",
                    "title": "POV Characters"
                  }
                }
              }
            }
          }
        },
        "summary": "List books",
        "description": "Returns a list of books.",
        "operationId": "BookGet",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "x-ms-summary": "Name",
            "description": "Books with the given name are included in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fromReleaseDate",
            "in": "query",
            "x-ms-summary": "From Release Date",
            "description": "Books that were released after, or on, the given date are included in the response.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "toReleaseDate",
            "in": "query",
            "x-ms-summary": "To Release Date",
            "description": "Books that were released after, or on, the given date are included in the response.",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number requested.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The size of the page requested.",
            "required": false,
            "type": "integer",
            "default": 10
          }
        ]
      }
    },
    "/api/books/{number}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "isbn": {
                  "type": "string",
                  "description": "The International Standard Book Number (ISBN-13) that uniquely identifies this book.",
                  "title": "ISBN"
                },
                "authors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The International Standard Book Number (ISBN-13) that uniquely identifies this book.",
                  "title": "Authors"
                },
                "numberOfPages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of pages in this book.",
                  "title": "Number Of Pages"
                },
                "publisher": {
                  "type": "string",
                  "description": "The company that published this book.",
                  "title": "Publisher"
                },
                "country": {
                  "type": "string",
                  "description": "The country that this book was published in.",
                  "title": "Country"
                },
                "mediaType": {
                  "type": "string",
                  "description": "The type of media this book was released in.",
                  "title": "Media Type"
                },
                "released": {
                  "type": "string",
                  "description": "The date (ISO 8601) when this book was released.",
                  "title": "Released"
                },
                "characters": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "An array of Character resource URLs that are in this book.",
                  "title": "Characters"
                },
                "povCharacters": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "An array of Character resource URLs that has had a POV-chapter in this book.",
                  "title": "POV Characters"
                }
              }
            }
          }
        },
        "summary": "Get book",
        "description": "Returns a specific book.",
        "operationId": "BookGetA",
        "parameters": [
          {
            "name": "number",
            "in": "path",
            "x-ms-summary": "Number",
            "x-ms-url-encoding": "single",
            "description": "The book number.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/api/characters": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL address.",
                    "title": "URL"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "gender": {
                    "type": "string",
                    "description": "The gender of this character.",
                    "title": "Gender"
                  },
                  "culture": {
                    "type": "string",
                    "description": "The culture that this character belongs to.",
                    "title": "Culture"
                  },
                  "born": {
                    "type": "string",
                    "description": "Textual representation of when and where this character was born.",
                    "title": "Born"
                  },
                  "died": {
                    "type": "string",
                    "description": "Textual representation of when and where this character died.",
                    "title": "Died"
                  },
                  "titles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The titles that this character holds.",
                    "title": "Titles"
                  },
                  "aliases": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The aliases that this character goes by.",
                    "title": "Aliases"
                  },
                  "father": {
                    "type": "string",
                    "description": "The character resource URL of this character's father.",
                    "title": "Father"
                  },
                  "mother": {
                    "type": "string",
                    "description": "The character resource URL of this character's mother.",
                    "title": "Mother"
                  },
                  "spouse": {
                    "type": "string",
                    "description": "An array of Character resource URLs that has had a POV-chapter in this book.",
                    "title": "Spouse"
                  },
                  "allegiances": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of House resource URLs that this character is loyal to.",
                    "title": "Allegiances"
                  },
                  "books": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of Book resource URLs that this character has been in.",
                    "title": "Books"
                  },
                  "povBooks": {
                    "type": "array",
                    "items": {},
                    "description": "An array of Book resource URLs that this character has had a POV-chapter in.",
                    "title": "POV Books"
                  },
                  "tvSeries": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of names of the seasons of Game of Thrones that this character has been in.",
                    "title": "Tv Series"
                  },
                  "playedBy": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of actor names that has played this character in the TV show Game Of Thrones.",
                    "title": "Played By"
                  }
                }
              }
            }
          }
        },
        "summary": "List characters",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "x-ms-summary": "Name",
            "description": "Characters with the given gender are included in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "gender",
            "in": "query",
            "x-ms-summary": "Gender",
            "description": "Characters with the given gender are included in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "culture",
            "in": "query",
            "x-ms-summary": "Culture",
            "description": "Characters that were born this given year are included in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "born",
            "in": "query",
            "x-ms-summary": "Born",
            "description": "Characters that were born this given year are included in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "died",
            "in": "query",
            "x-ms-summary": "Died",
            "description": "Characters that died this given year are included in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "isAlive",
            "in": "query",
            "x-ms-summary": "Is Alive",
            "description": "Characters that are alive or dead (depending on the value) are included in the response.",
            "required": false,
            "type": "boolean",
            "default": true,
            "enum": [
              true,
              false
            ]
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number requested.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The size of the page requested.",
            "required": false,
            "type": "integer",
            "default": 10
          }
        ],
        "description": "Returns a list of characters.",
        "operationId": "CharacterGet"
      }
    },
    "/api/characters/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "name": {
                  "type": "string",
                  "description": "The name of this character.",
                  "title": "Name"
                },
                "gender": {
                  "type": "string",
                  "description": "The gender of this character.",
                  "title": "Gender"
                },
                "culture": {
                  "type": "string",
                  "description": "The culture that this character belongs to.",
                  "title": "Culture"
                },
                "born": {
                  "type": "string",
                  "description": "Textual representation of when and where this character was born.",
                  "title": "Born"
                },
                "died": {
                  "type": "string",
                  "description": "Textual representation of when and where this character died.",
                  "title": "Died"
                },
                "titles": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The titles that this character holds.",
                  "title": "Titles"
                },
                "aliases": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The aliases that this character goes by.",
                  "title": "Aliases"
                },
                "father": {
                  "type": "string",
                  "description": "The character resource URL of this character's father.",
                  "title": "Father"
                },
                "mother": {
                  "type": "string",
                  "description": "The character resource URL of this character's mother.",
                  "title": "Mother"
                },
                "spouse": {
                  "type": "string",
                  "description": "The character resource URL of this character's spouse.",
                  "title": "Spouse"
                },
                "allegiances": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "An array of House resource URLs that this character is loyal to.",
                  "title": "Allegiances"
                },
                "books": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "An array of Book resource URLs that this character has been in.",
                  "title": "Books"
                },
                "povBooks": {
                  "type": "array",
                  "items": {},
                  "description": "An array of Book resource URLs that this character has had a POV-chapter in.",
                  "title": "POV Books"
                },
                "tvSeries": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "An array of names of the seasons of Game of Thrones that this character has been in.",
                  "title": "Tv Series"
                },
                "playedBy": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "An array of actor names that has played this character in the TV show Game Of Thrones.",
                  "title": "Played By"
                }
              }
            }
          }
        },
        "summary": "Get a character",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Returns a specific character.",
        "operationId": "CharacterGetA"
      }
    },
    "/api/houses": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The URL address.",
                    "title": "URL"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "region": {
                    "type": "string",
                    "description": "The region that this house resides in.",
                    "title": "Region"
                  },
                  "coatOfArms": {
                    "type": "string",
                    "description": "Text describing the coat of arms of this house.",
                    "title": "Coat Of Arms"
                  },
                  "words": {
                    "type": "string",
                    "description": "The words of this house.",
                    "title": "Words"
                  },
                  "titles": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The titles that this house holds.",
                    "title": "Titles"
                  },
                  "seats": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The seats that this house holds.",
                    "title": "Seats"
                  },
                  "currentLord": {
                    "type": "string",
                    "description": "The Character resource URL of this house's current lord.",
                    "title": "Current Lord"
                  },
                  "heir": {
                    "type": "string",
                    "description": "The Character resource URL of this house's heir.",
                    "title": "Heir"
                  },
                  "overlord": {
                    "type": "string",
                    "description": "The House resource URL that this house answers to.",
                    "title": "Overlord"
                  },
                  "founded": {
                    "type": "string",
                    "description": "The year that this house was founded.",
                    "title": "Founded"
                  },
                  "founder": {
                    "type": "string",
                    "description": "The Character resource URL that founded this house.",
                    "title": "Founder"
                  },
                  "diedOut": {
                    "type": "string",
                    "description": "The year that this house died out.",
                    "title": "Died Out"
                  },
                  "ancestralWeapons": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of names of the noteworthy weapons that this house owns.",
                    "title": "Ancestral Weapons"
                  },
                  "cadetBranches": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of House resource URLs that was founded from this house.",
                    "title": "Cadet Branches"
                  },
                  "swornMembers": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "An array of Character resource URLs that are sworn to this house.",
                    "title": "Sworn Members"
                  }
                }
              }
            }
          }
        },
        "summary": "List houses",
        "description": "Returns a list of houses.",
        "operationId": "HouseGet",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "x-ms-summary": "Name",
            "description": "Houses with the given name are included in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "x-ms-summary": "Region",
            "description": "Houses that belong in the given region are included in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "words",
            "in": "query",
            "x-ms-summary": "Words",
            "description": "Houses that has the given words are included in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hasWords",
            "in": "query",
            "x-ms-summary": "Has Words",
            "description": "Houses that have words (or not) are included in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "hasTitles",
            "in": "query",
            "x-ms-summary": "Has Titles",
            "description": "Houses that have titles (or not) are included in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "hasSeats",
            "in": "query",
            "x-ms-summary": "Has Seats",
            "description": "Houses that have titles (or not) are included in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "hasDiedOut",
            "in": "query",
            "x-ms-summary": "Has Died Out",
            "description": "Houses that are extinct are included in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "hasAncestralWeapons",
            "in": "query",
            "x-ms-summary": "Has Ancestral Weapons",
            "description": "Houses that have ancestral weapons (or not) are included in the response.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number requested.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pageSize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The size of the page requested.",
            "required": false,
            "type": "integer",
            "default": 10
          }
        ]
      }
    },
    "/api/houses/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "name": {
                  "type": "string",
                  "description": "The name of this house.",
                  "title": "Name"
                },
                "region": {
                  "type": "string",
                  "description": "The region that this house resides in.",
                  "title": "Region"
                },
                "coatOfArms": {
                  "type": "string",
                  "description": "Text describing the coat of arms of this house.",
                  "title": "Coat Of Arms"
                },
                "words": {
                  "type": "string",
                  "description": "The words of this house.",
                  "title": "Words"
                },
                "titles": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The titles that this house holds.",
                  "title": "Titles"
                },
                "seats": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The titles that this house holds.",
                  "title": "Seats"
                },
                "currentLord": {
                  "type": "string",
                  "description": "The Character resource URL of this house's current lord.",
                  "title": "Current Lord"
                },
                "heir": {
                  "type": "string",
                  "description": "The Character resource URL of this house's heir.",
                  "title": "Heir"
                },
                "overlord": {
                  "type": "string",
                  "description": "The House resource URL that this house answers to.",
                  "title": "Overlord"
                },
                "founded": {
                  "type": "string",
                  "description": "The year that this house was founded.",
                  "title": "Founded"
                },
                "founder": {
                  "type": "string",
                  "description": "The Character resource URL that founded this house.",
                  "title": "Founder"
                },
                "diedOut": {
                  "type": "string",
                  "description": "The year that this house died out.",
                  "title": "Died Out"
                },
                "ancestralWeapons": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "An array of names of the noteworthy weapons that this house owns.",
                  "title": "Ancestral Weapons"
                },
                "cadetBranches": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "An array of House resource URLs that was founded from this house.",
                  "title": "Cadet Branches"
                },
                "swornMembers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "An array of Character resource URLs that are sworn to this house.",
                  "title": "Sworn Members"
                }
              }
            }
          }
        },
        "summary": "Get a house",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Returns a specific house.",
        "operationId": "HouseGetA"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://anapioficeandfire.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://anapioficeandfire.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}
