{
  "swagger": "2.0",
  "info": {
    "title": "Service Objects",
    "description": "Cleanse, validate, and enhance contact data. Our tools validate and cross-verify a contact's name, location, phone, email address and device against hundreds of authoritative data sources.",
    "version": "1.0",
    "contact": {
      "name": "Service Objects Support",
      "url": "https://www.serviceobjects.com/",
      "email": "support@serviceobjects.com"
    }
  },
  "host": "ws.serviceobjects.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/AVI/api.svc/json/GetAddressInfo": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "AddressInfo": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Indicates the validity of the input address. Unless an error is returned this field will always be returned."
                    },
                    "ResolutionLevel": {
                      "type": "string",
                      "description": "Indicates the level of accuracy to which the input address could be resolved."
                    },
                    "Address1": {
                      "type": "string",
                      "description": "The formatted Address 1 line of the input address."
                    },
                    "Address2": {
                      "type": "string",
                      "description": "The formatted Address 2 line of the input address."
                    },
                    "Address3": {
                      "type": "string",
                      "description": "The formatted Address 3 line of the input address."
                    },
                    "Address4": {
                      "type": "string",
                      "description": "The formatted Address 4 line of the input address."
                    },
                    "Address5": {
                      "type": "string",
                      "description": "The formatted Address 5 line of the input address."
                    },
                    "Address6": {
                      "type": "string",
                      "description": "The formatted Address 6 line of the input address."
                    },
                    "Address7": {
                      "type": "string",
                      "description": "The formatted Address 7 line of the input address."
                    },
                    "Address8": {
                      "type": "string",
                      "description": "The formatted Address 8 line of the input address."
                    },
                    "Locality": {
                      "type": "string",
                      "description": "The preferred English name of the locality, such as a City, Town or other type of Municipality. Can also be an AdministrativeArea."
                    },
                    "AdministrativeArea": {
                      "type": "string",
                      "description": "The preferred English name of the administrative division of the country, such as a State, Region, Province, County, Territory or Prefecture."
                    },
                    "PostalCode": {
                      "type": "string",
                      "description": "Represents the standardized postal code."
                    },
                    "Country": {
                      "type": "string",
                      "description": "The preferred english name of the country. This field will always be returned unless an error is returned."
                    },
                    "CountryISO2": {
                      "type": "string",
                      "description": "Represents the ISO 3166-1 Alpha-2 Country Code. This field will always be returned unless an error is returned."
                    },
                    "CountryISO3": {
                      "type": "string",
                      "description": "Represents the ISO 3166-1 Alpha-3 Country Code. This field will always be returned unless an error is returned."
                    },
                    "InformationComponents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "Value": {
                            "type": "string",
                            "description": "Value"
                          }
                        }
                      },
                      "description": "An array of key value pairs that contain additional fields and information not defined in the original output schema of the API."
                    }
                  },
                  "description": "AddressInfo"
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error object indicating why the service could not return a result. "
                },
                "Debug": {
                  "type": "string",
                  "description": "Debug"
                }
              }
            }
          }
        },
        "operationId": "AVI-GetAddressInfo",
        "summary": "DOTS Address Validation International - GetAddressInfo",
        "description": "Our real-time International Address Validation API service verifies and corrects global mailing addresses to the unique requirements of each countrys postal address formats and cultural idiosyncrasies. With continual updates from country-specific postal authorities, our data is always up-to-date with genuine and accurate addresses.",
        "parameters": [
          {
            "name": "Address1",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address1",
            "description": "Address Line 1 of the International Address"
          },
          {
            "name": "Address2",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address2",
            "description": "Address Line 2 of the International Address"
          },
          {
            "name": "Address3",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address3",
            "description": "Address Line 3 of the International Address"
          },
          {
            "name": "Address4",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address4",
            "description": "Address Line 4 of the International Address"
          },
          {
            "name": "Address5",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address5",
            "description": "Address Line 5 of the International Address"
          },
          {
            "name": "Locality",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Locality",
            "description": "The name of the distinct population cluster."
          },
          {
            "name": "AdministrativeArea",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"AdministrativeArea",
            "description": "The name of the administrative division."
          },
          {
            "name": "PostalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"PostalCode",
            "description": "The postal code of the international address."
          },
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Country",
            "description": "The preferred name of the country or the ISO 3166-1 Alpha-2 Country Code or the Alpha-3 Country Code."
          },
          {
            "name": "OutputLanguage",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"OutputLanguage",
            "description": "The output language."
          }
        ]
      }
    },
    "/AGI/api.svc/json/PlaceSearch": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "SearchInfo": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Indicates if the service found one or more results or if it encountered an error when processing the query."
                    },
                    "NumberOfLocations": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of locations found for the query that will be listed in LocationInfo array Locations. The default maximum number of location returned by the service is 10; however, a lower value can be set in the 'MaxResults' input."
                    },
                    "Notes": {
                      "type": "string",
                      "description": "Comma-separated list of descriptive note codes about the query."
                    },
                    "NotesDesc": {
                      "type": "string",
                      "description": "Comma-separated list of descriptions that correspond to the Notes output."
                    },
                    "Warnings": {
                      "type": "string",
                      "description": "Comma-separated list of warning codes about the query."
                    },
                    "WarningsDesc": {
                      "type": "string",
                      "description": "Comma-separated list of descriptions that correspond to the Warnings output."
                    }
                  },
                  "description": "Contains status, notes and warning information about the query as well as the number of locations returned. This object is always returned."
                },
                "Locations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrecisionLevel": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Indicates how precise the coordinates are. Levels range from 1 - 16. The higher the number the higher the precision."
                      },
                      "Type": {
                        "type": "string",
                        "description": "Indicates what type of location the coordinates are for. For example, the location may be for an address, thoroughfare, locality or postal code."
                      },
                      "Latitude": {
                        "type": "string",
                        "description": "The latitude of the location. A decimal number up to 10 digits with a max precision of up to 7 places after the decimal point."
                      },
                      "Longitude": {
                        "type": "string",
                        "description": "The longitude of the location. A decimal number up to 10 digits with a max precision of up to 7 places after the decimal point. "
                      },
                      "AddressComponents": {
                        "type": "object",
                        "properties": {
                          "PremiseNumber": {
                            "type": "string",
                            "description": "The number associated with the property. Also known as the Address, Street or House number."
                          },
                          "Thoroughfare": {
                            "type": "string",
                            "description": "The name of the thoroughfare. Also known as a street, road, highway, etc."
                          },
                          "DoubleDependentLocality": {
                            "type": "string",
                            "description": "The name of the double dependent locality."
                          },
                          "DependentLocality": {
                            "type": "string",
                            "description": "The name of the dependent locality."
                          },
                          "Locality": {
                            "type": "string",
                            "description": "The preferred English name of the locality, such as a City, Town or other type of Municipality."
                          },
                          "AdministrativeArea4": {
                            "type": "string",
                            "description": "The name of the fourth level administrative division, such as a Ward or Quarter."
                          },
                          "AdministrativeArea4Abbreviation": {
                            "type": "string",
                            "description": "The abbreviated name of the quaternary administrative area."
                          },
                          "AdministrativeArea3": {
                            "type": "string",
                            "description": "The name of the third level administrative division, such as a Borough or District."
                          },
                          "AdministrativeArea3Abbreviation": {
                            "type": "string",
                            "description": "The abbreviated name of the tertiary administrative area."
                          },
                          "AdministrativeArea2": {
                            "type": "string",
                            "description": "The name of the secondary administrative division, such as a County or Region."
                          },
                          "AdministrativeArea2Abbreviation": {
                            "type": "string",
                            "description": "The abbreviated name of the secondary administrative area."
                          },
                          "AdministrativeArea1": {
                            "type": "string",
                            "description": "The name of the primary administrative division, such as a State, Region, Province, County, Territory or Prefecture."
                          },
                          "AdministrativeArea1Abbreviation": {
                            "type": "string",
                            "description": "The abbreviated name of the primary administrative area."
                          },
                          "PostalCode": {
                            "type": "string",
                            "description": "The postal code of the international address."
                          },
                          "Country": {
                            "type": "string",
                            "description": "The country."
                          },
                          "CountryISO2": {
                            "type": "string",
                            "description": "The 2-letter country abbreviation."
                          },
                          "CountryISO3": {
                            "type": "string",
                            "description": "The 3-letter country abbreviation."
                          },
                          "BingMapsURL": {
                            "type": "string",
                            "description": "Bing Maps URL with the coordinates to the location."
                          },
                          "GoogleMapsURL": {
                            "type": "string",
                            "description": "Google Maps URL with the coordinates to the location."
                          },
                          "MapQuestURL": {
                            "type": "string",
                            "description": "Map Quest URL with the coordinates to the location."
                          },
                          "PlaceName": {
                            "type": "string",
                            "description": "The name of the place that the coordinates are associated with. Most commonly the name of a municipality, city, town, village or community."
                          },
                          "IsUnincorporated": {
                            "type": "string",
                            "description": "Indicates if the coordinates are for an unincorporated area. Only appears for street level property matches (S)."
                          },
                          "StateFIPS": {
                            "type": "string",
                            "description": "State FIPS (Federal Information Processing Standard) code; used to uniquely identity states."
                          },
                          "CountyFIPS": {
                            "type": "string",
                            "description": "County FIPS (Federal Information Processing Standard) code; used to uniquely identify counties across the US."
                          },
                          "CensusTract": {
                            "type": "string",
                            "description": "The census tract of the given address. A census tract is a statistical subdivision of a county."
                          },
                          "CensusBlock": {
                            "type": "string",
                            "description": "The census block of the given address.A block is the smallest geographic unit used by the US Census."
                          },
                          "CensusGeoID": {
                            "type": "string",
                            "description": "A Census based geographic identification code that uniquely identifies a geographic statistical area."
                          },
                          "ClassFP": {
                            "type": "string",
                            "description": "A code that defines the current class of the geographic US location."
                          },
                          "CongressCode": {
                            "type": "string",
                            "description": "The congressional district number."
                          },
                          "SLDUST": {
                            "type": "string",
                            "description": "Current state legislative district upper (senate) chamber code."
                          },
                          "SLDLST": {
                            "type": "string",
                            "description": "Current state legislative district lower (house) chamber code"
                          },
                          "TimeZone_UTC": {
                            "type": "string",
                            "description": "The time zone in UTC offset format."
                          }
                        },
                        "description": "A name-value pair collection containing additional information about the location."
                      }
                    }
                  },
                  "description": "Contains a list of LocationInfo objects."
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error object indicating why the service could not return a result. "
                },
                "Debug": {
                  "type": "string",
                  "description": "Debug"
                }
              }
            }
          }
        },
        "summary": "DOTS Address Geocode International - PlaceSearch",
        "operationId": "AGI-PlaceSearch",
        "parameters": [
          {
            "name": "SingleLine",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"SingleLine",
            "description": "The full address on one line."
          },
          {
            "name": "Address1",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address1",
            "description": "Address Line 1 of the International Address"
          },
          {
            "name": "Address2",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address2",
            "description": "Address Line 2 of the International Address"
          },
          {
            "name": "Address3",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address3",
            "description": "Address Line 3 of the International Address"
          },
          {
            "name": "Address4",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address4",
            "description": "Address Line 4 of the International Address"
          },
          {
            "name": "Address5",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address5",
            "description": "Address Line 5 of the International Address"
          },
          {
            "name": "Locality",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Locality",
            "description": "The name of the distinct population cluster"
          },
          {
            "name": "AdministrativeArea",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"AdministrativeArea",
            "description": "The name of the administrative division"
          },
          {
            "name": "PostalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"PostalCode",
            "description": "The postal code of the international address"
          },
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Country",
            "description": "The preferred name of the country"
          },
          {
            "name": "Boundaries",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Boundaries",
            "description": "*Coming soon, not currently used"
          },
          {
            "name": "MaxResults",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"MaxResults",
            "description": "Sets the maximum number of results the operation is allowed to return"
          },
          {
            "name": "SearchType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"SearchType",
            "description": "The name of the type of search you want to perform"
          },
          {
            "name": "Extras",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Extras",
            "description": "A comma-delimited list of the extra features that you would like to enable"
          }
        ],
        "description": "The PlaceSearch operation returns the latitude and longitude for a given International Address, along with additional address and location information. It will attempt to geocode addresses at the property level, which is often a rooftop coordinate for some properties and then cascade to the next best available resolution such as the street, neighborhood, postal code, locality and so on. For non-address places such as streets, cities and postal codes, the coordinates will return a coordinate point that is commonly associated with the location or a centroid for the area."
      }
    },
    "/AGI/api.svc/json/ReverseSearch": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "SearchInfo": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Indicates if the service found one or more results or if it encountered an error when processing the query."
                    },
                    "NumberOfLocations": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Indicates the number of locations found for the query that will be listed in LocationInfo array Locations. The default maximum number of location returned by the service is 10"
                    },
                    "Notes": {
                      "type": "string",
                      "description": "Comma-separated list of descriptive note codes about the query."
                    },
                    "NotesDesc": {
                      "type": "string",
                      "description": "Comma-separated list of descriptions that correspond to the Notes output."
                    },
                    "Warnings": {
                      "type": "string",
                      "description": "Comma-separated list of warning codes about the query."
                    },
                    "WarningsDesc": {
                      "type": "string",
                      "description": "Comma-separated list of descriptions that correspond to the Warnings output."
                    }
                  },
                  "description": "Contains status, notes and warning information about the query as well as the number of locations returned. This object is always returned."
                },
                "Locations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrecisionLevel": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Indicates how precise the coordinates are. Levels range from 1 - 16. The higher the number the higher the precision."
                      },
                      "Type": {
                        "type": "string",
                        "description": "Indicates what type of location the coordinates are for. For example, the location may be for an address, thoroughfare, locality or postal code."
                      },
                      "Latitude": {
                        "type": "string",
                        "description": "The latitude of the location. A decimal number up to 10 digits with a max precision of up to 7 places after the decimal point."
                      },
                      "Longitude": {
                        "type": "string",
                        "description": "The longitude of the location. A decimal number up to 10 digits with a max precision of up to 7 places after the decimal point. "
                      },
                      "AddressComponents": {
                        "type": "object",
                        "properties": {
                          "PremiseNumber": {
                            "type": "string",
                            "description": "The number associated with the property. Also known as the Address, Street or House number."
                          },
                          "Thoroughfare": {
                            "type": "string",
                            "description": "The name of the thoroughfare. Also known as a street, road, highway, etc."
                          },
                          "DoubleDependentLocality": {
                            "type": "string",
                            "description": "The name of the double dependent locality."
                          },
                          "DependentLocality": {
                            "type": "string",
                            "description": "The name of the dependent locality"
                          },
                          "Locality": {
                            "type": "string",
                            "description": "The preferred English name of the locality, such as a City, Town or other type of Municipality."
                          },
                          "AdministrativeArea4": {
                            "type": "string",
                            "description": "The name of the fourth level administrative division, such as a Ward or Quarter."
                          },
                          "AdministrativeArea4Abbreviation": {
                            "type": "string",
                            "description": "The abbreviated name of the quaternary administrative area."
                          },
                          "AdministrativeArea3": {
                            "type": "string",
                            "description": "The name of the third level administrative division, such as a Borough or District."
                          },
                          "AdministrativeArea3Abbreviation": {
                            "type": "string",
                            "description": "The abbreviated name of the tertiary administrative area."
                          },
                          "AdministrativeArea2": {
                            "type": "string",
                            "description": "The name of the secondary administrative division, such as a County or Region."
                          },
                          "AdministrativeArea2Abbreviation": {
                            "type": "string",
                            "description": "The abbreviated name of the secondary administrative area."
                          },
                          "AdministrativeArea1": {
                            "type": "string",
                            "description": "The name of the primary administrative division, such as a State, Region, Province, County, Territory or Prefecture."
                          },
                          "AdministrativeArea1Abbreviation": {
                            "type": "string",
                            "description": "The abbreviated name of the primary administrative area."
                          },
                          "PostalCode": {
                            "type": "string",
                            "description": "The postal code of the international address."
                          },
                          "Country": {
                            "type": "string",
                            "description": "The country."
                          },
                          "CountryISO2": {
                            "type": "string",
                            "description": "The 2-letter country abbreviation."
                          },
                          "CountryISO3": {
                            "type": "string",
                            "description": "The 3-letter country abbreviation."
                          },
                          "BingMapsURL": {
                            "type": "string",
                            "description": "Bing Maps URL with the coordinates to the location."
                          },
                          "GoogleMapsURL": {
                            "type": "string",
                            "description": "Google Maps URL with the coordinates to the location."
                          },
                          "MapQuestURL": {
                            "type": "string",
                            "description": "Map Quest URL with the coordinates to the location."
                          },
                          "PlaceName": {
                            "type": "string",
                            "description": "The name of the place that the coordinates are associated with. Most commonly the name of a municipality, city, town, village or community."
                          },
                          "IsUnincorporated": {
                            "type": "string",
                            "description": "Indicates if the coordinates are for an unincorporated area. Only appears for street level property matches (S)."
                          },
                          "StateFIPS": {
                            "type": "string",
                            "description": "State FIPS (Federal Information Processing Standard) code; used to uniquely identity states."
                          },
                          "CountyFIPS": {
                            "type": "string",
                            "description": "County FIPS (Federal Information Processing Standard) code; used to uniquely identify counties across the US."
                          },
                          "CensusTract": {
                            "type": "string",
                            "description": "The census tract of the given address. A census tract is a statistical subdivision of a county."
                          },
                          "CensusBlock": {
                            "type": "string",
                            "description": "The census block of the given address.A block is the smallest geographic unit used by the US Census."
                          },
                          "CensusGeoID": {
                            "type": "string",
                            "description": "A Census based geographic identification code that uniquely identifies a geographic statistical area."
                          },
                          "ClassFP": {
                            "type": "string",
                            "description": "A code that defines the current class of the geographic US location."
                          },
                          "CongressCode": {
                            "type": "string",
                            "description": "The congressional district number."
                          },
                          "SLDUST": {
                            "type": "string",
                            "description": "Current state legislative district upper (senate) chamber code."
                          },
                          "SLDLST": {
                            "type": "string",
                            "description": "Current state legislative district lower (house) chamber code."
                          },
                          "TimeZone_UTC": {
                            "type": "string",
                            "description": "The time zone in UTC offset format."
                          }
                        },
                        "description": "  A name-value pair collection containing additional information about the location. "
                      }
                    }
                  },
                  "description": "Contains a list of LocationInfo objects."
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error object indicating why the service could not return a result. "
                },
                "Debug": {
                  "type": "string",
                  "description": "Debug"
                }
              }
            }
          }
        },
        "summary": "DOTS Address Geocode International - ReverseSearch",
        "operationId": "AGI-ReverseSearch",
        "parameters": [
          {
            "name": "Latitude",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Latitude",
            "description": "The latitude of the location"
          },
          {
            "name": "Longitude",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Longitude",
            "description": "The longitude of the location"
          },
          {
            "name": "SearchRadius",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"SearchRadius",
            "description": "The maximum search radius distance set in kilometers"
          },
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Country",
            "description": "The preferred name of the country"
          },
          {
            "name": "MaxResults",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"MaxResults",
            "description": "Sets the maximum number of results the operation"
          },
          {
            "name": "SearchType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"SearchType",
            "description": "The name of the type of search you want to perform"
          }
        ],
        "description": "The ReverseSearch operation returns the address or place information for a given set of coordinates, along with additional address and location information. It will attempt to reverse geocode coordinates and return international addresses at the property level, which is often at the premise level resolution for some properties and then cascade to the next best available resolution such as the street, neighborhood, postal code, locality and so on. For non-address places such as streets, cities and postal codes returned by the service, the coordinates output in the response body will represent a coordinate point that is commonly associated with the location or a centroid for the area."
      }
    },
    "/PE2/web.svc/json/GetInternationalExchangeInfo": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "InternationalExchangeInfo": {
                  "type": "object",
                  "properties": {
                    "NumberIn": {
                      "type": "string",
                      "description": "The phone number that was provided as input."
                    },
                    "CountryCode": {
                      "type": "string",
                      "description": "The country code of the provided phone number."
                    },
                    "FormatNational": {
                      "type": "string",
                      "description": "The provided phone number in a national format."
                    },
                    "Extension": {
                      "type": "string",
                      "description": "The parsed extension from the provided phone number."
                    },
                    "Locality": {
                      "type": "string",
                      "description": "The locality from where the phone number belongs. The locality format is generally Locale/Region, Region or Country."
                    },
                    "LocalityMatchLevel": {
                      "type": "string",
                      "description": "The match level that was determined from the locality that was found. Possible values include (Locale/Region, Region, Country) match."
                    },
                    "TimeZone": {
                      "type": "string",
                      "description": "The Time Zone of the validated phone number."
                    },
                    "Latitude": {
                      "type": "string",
                      "description": "The latitude of the locality determined from the phone number."
                    },
                    "Longitude": {
                      "type": "string",
                      "description": "The longitude of the locality determined from the phone number."
                    },
                    "Country": {
                      "type": "string",
                      "description": "The country to which the validated phone number belongs."
                    },
                    "CountryISO2": {
                      "type": "string",
                      "description": "The ISO 2 character country designation for a validated phone number."
                    },
                    "CountryISO3": {
                      "type": "string",
                      "description": "The ISO 3 character country designation for a validated phone number."
                    },
                    "FormatInternational": {
                      "type": "string",
                      "description": "The provided phone number in international format."
                    },
                    "FormatE164": {
                      "type": "string",
                      "description": "The provided phone number in E.164 format."
                    },
                    "Carrier": {
                      "type": "string",
                      "description": "the carrier determined for the phone number."
                    },
                    "LineType": {
                      "type": "string",
                      "description": "The linetype determined for the phone number. See InternationalExchangeInfo LineType table below."
                    },
                    "SMSAddress": {
                      "type": "string",
                      "description": "The SMS gateway address for the provided mobile number."
                    },
                    "MMSAddress": {
                      "type": "string",
                      "description": "The MMS gateway address for the provided mobile number."
                    },
                    "IsValid": {
                      "type": "boolean",
                      "description": "A boolean response type determining whether the phone number is a valid phone number."
                    },
                    "IsValidForRegion": {
                      "type": "boolean",
                      "description": "A boolean response type determining whether the phone number is a valid phone number for the provided Country."
                    },
                    "NoteCodes": {
                      "type": "string",
                      "description": "The corresponding codes which match NoteDescriptions. These values vary from 1 to 6 based on test results."
                    },
                    "NoteDescriptions": {
                      "type": "string",
                      "description": "The corresponding descriptions which match NoteCodes. These values vary based on NoteCodes."
                    }
                  },
                  "description": "Array of InternationalExchangeInfo results."
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error object indicating why the service could not return a result."
                },
                "Debug": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Debug"
                }
              }
            }
          }
        },
        "operationId": "PE2I-GetInternationalExchangeInfo",
        "parameters": [
          {
            "name": "PhoneNumber",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"PhoneNumber",
            "description": "The phone number to be parsed, validated and formatted"
          },
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Country",
            "description": "The Country to be validated using provided phone number"
          }
        ],
        "summary": "DOTS Phone Exchange International - GetInternationalExchangeInfo",
        "description": "Our international Phone Exchange service validates and formats phone numbers for international direct dialing, while returning line type, country code and geocoding information."
      }
    },
    "/LVI/api.svc/json/ValidateLeadInternational": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "OverallCertainty": {
                  "type": "string",
                  "description": "A value that represents the overall certainty that the service provided on the lead. This value will range from 0 to 100."
                },
                "OverallQuality": {
                  "type": "string",
                  "description": "A field indicating whether the lead should be rejected, reviewed or accepted."
                },
                "LeadType": {
                  "type": "string",
                  "description": "Indicates the classification that the service made for the lead."
                },
                "LeadCountry": {
                  "type": "string",
                  "description": "The country associated with the lead, given as an ISO 2."
                },
                "NoteCodes": {
                  "type": "string",
                  "description": "Enumerated list of descriptive notes."
                },
                "NoteDesc": {
                  "type": "string",
                  "description": "Descriptions that correspond to the NoteCodes section."
                },
                "NameCertainty": {
                  "type": "string",
                  "description": "Score between 0 and 100 that indicates the probability that the given name is valid."
                },
                "NameQuality": {
                  "type": "string",
                  "description": "A field indicating whether the given name should be rejected, reviewed or accepted."
                },
                "FirstNameLatin": {
                  "type": "string",
                  "description": "The first name of the lead without diacritic characters."
                },
                "LastNameLatin": {
                  "type": "string",
                  "description": "The last name of the lead without diacritic characters."
                },
                "FirstName": {
                  "type": "string",
                  "description": "The first name with diacritic characters."
                },
                "LastName": {
                  "type": "string",
                  "description": "The last name with diacritic characters."
                },
                "NameNoteCodes": {
                  "type": "string",
                  "description": "Enumerated list of codes indicating further information about the name field."
                },
                "NameNoteDesc": {
                  "type": "string",
                  "description": "Enumerated list of descriptive notes that correspond to the NameNoteCodes field."
                },
                "AddressCertainty": {
                  "type": "string",
                  "description": "Score between 0 and 100 that indicates the validity of the given address."
                },
                "AddressQuality": {
                  "type": "string",
                  "description": "A field indicating whether the given address should be rejected, reviewed or accepted."
                },
                "AddressResolutionLevel": {
                  "type": "string",
                  "description": "The resolution of the address."
                },
                "AddressLine1": {
                  "type": "string",
                  "description": "The validated Address line 1."
                },
                "AddressLine2": {
                  "type": "string",
                  "description": "The validated Address line 2."
                },
                "AddressLine3": {
                  "type": "string",
                  "description": "The validated Address line 3."
                },
                "AddressLine4": {
                  "type": "string",
                  "description": "The validated Address line 4."
                },
                "AddressLine5": {
                  "type": "string",
                  "description": "The validated Address line 5."
                },
                "AddressLocality": {
                  "type": "string",
                  "description": "The locality associated with the given input address. Usually corresponds to the city."
                },
                "AddressAdminArea": {
                  "type": "string",
                  "description": "The Admin Area tied with the input address. Usually corresponds to the State or Province."
                },
                "AddressPostalCode": {
                  "type": "string",
                  "description": "The Postal Code tied to the given input address."
                },
                "AddressCountry": {
                  "type": "string",
                  "description": "2 Character ISO code for the country."
                },
                "AddressNoteCodes": {
                  "type": "string",
                  "description": "Enumerated list of codes indicating additional information about the given address."
                },
                "AddressNoteDesc": {
                  "type": "string",
                  "description": "Enumerated list of descriptive notes that are associated with the AddressNoteCodes field."
                },
                "EmailCertainty": {
                  "type": "string",
                  "description": "Score between 0 and 100 that indicates the validity of a given email address"
                },
                "EmailQuality": {
                  "type": "string",
                  "description": "A field indicating whether the given email address should be rejected, reviewed or accepted."
                },
                "EmailCorrected": {
                  "type": "string",
                  "description": "The email used for testing including any corrections that were made."
                },
                "EmailNoteCodes": {
                  "type": "string",
                  "description": "Enumerated list of codes indicating additional information about the given email address."
                },
                "EmailNoteDesc": {
                  "type": "string",
                  "description": "List of descriptions associated with the EmailNoteCodes field."
                },
                "IPCertainty": {
                  "type": "string",
                  "description": "Score between 0 and 100 that indicates the validity of a given IP address."
                },
                "IPQuality": {
                  "type": "string",
                  "description": "A field indicating whether the given IP address should be rejected, reviewed or accepted."
                },
                "IPLocality": {
                  "type": "string",
                  "description": "The locality associated with the given IP address."
                },
                "IPAdminArea": {
                  "type": "string",
                  "description": "Administrative area associated with the given IP address."
                },
                "IPCountry": {
                  "type": "string",
                  "description": "Country ISO 2 code associated with the given IP address."
                },
                "IPNoteCodes": {
                  "type": "string",
                  "description": "Enumerated list of codes indicating additional information about the given IP address."
                },
                "IPNoteDesc": {
                  "type": "string",
                  "description": "Descriptions associated with the IPNoteCodes that indicate additional information about a given IP address."
                },
                "Phone1Certainty": {
                  "type": "string",
                  "description": "Score between 0 and 100 that indicates the validity of the phone number in the Phone1 field."
                },
                "Phone1Quality": {
                  "type": "string",
                  "description": "A field indicating whether the Phone1 input should be rejected, reviewed or accepted."
                },
                "Phone1Locality": {
                  "type": "string",
                  "description": "Locality associated with the given phone number."
                },
                "Phone1AdminArea": {
                  "type": "string",
                  "description": "The administrative area associated with the given phone number."
                },
                "Phone1Country": {
                  "type": "string",
                  "description": "The Country ISO 2 code associated with the given phone number in the Phone1 field."
                },
                "Phone1NoteCodes": {
                  "type": "string",
                  "description": "Enumerated list of codes indicating additional information about the given phone 1."
                },
                "Phone1NoteDesc": {
                  "type": "string",
                  "description": "Descriptions that correlate with the codes given in the Note Codes field."
                },
                "Phone2Certainty": {
                  "type": "string",
                  "description": "Score between 0 and 100 that indicates the validity of the number given in the Phone2 field."
                },
                "Phone2Quality": {
                  "type": "string",
                  "description": "A field indicating whether the Phone2 input should be rejected, reviewed or accepted."
                },
                "Phone2Locality": {
                  "type": "string",
                  "description": "Locality associated with the given Phone Number."
                },
                "Phone2AdminArea": {
                  "type": "string",
                  "description": "The administrative area associated with the given phone number."
                },
                "Phone2Country": {
                  "type": "string",
                  "description": "The Country ISO 2 code associated with the given phone number in the Phone2 field."
                },
                "Phone2NoteCodes": {
                  "type": "string",
                  "description": "Enumerated list of codes indicating additional information about the given phone 2."
                },
                "Phone2NoteDesc": {
                  "type": "string",
                  "description": "Descriptions that correlate with the codes given in the Note Codes field."
                },
                "PhoneContact": {
                  "type": "object",
                  "properties": {
                    "Name": {
                      "type": "string",
                      "description": "The contact's full name."
                    },
                    "Address": {
                      "type": "string",
                      "description": "The contact's postal address."
                    },
                    "City": {
                      "type": "string",
                      "description": "The city of the contact's postal address."
                    },
                    "State": {
                      "type": "string",
                      "description": "The state of the contact's postal address."
                    },
                    "Zip": {
                      "type": "string",
                      "description": "The zip code of the contact's postal address."
                    },
                    "Type": {
                      "type": "string",
                      "description": "The contacts phone type."
                    }
                  },
                  "description": "The contact information associated with the phone number."
                },
                "BusinessCertainty": {
                  "type": "string",
                  "description": "Score between 0 and 100 that indicates the validity of the BusinessName."
                },
                "BusinessQuality": {
                  "type": "string",
                  "description": "A field indicating whether the Business Name input should be rejected, reviewed or accepted."
                },
                "BusinessName": {
                  "type": "string",
                  "description": "The provided business name."
                },
                "BusinessDomain": {
                  "type": "string",
                  "description": "The website domain associated with the business."
                },
                "BusinessEmail": {
                  "type": "string",
                  "description": "The business email."
                },
                "BusinessNoteCodes": {
                  "type": "string",
                  "description": "Enumerated list of codes indicating additional information about the given Business Name."
                },
                "BusinessNoteDesc": {
                  "type": "string",
                  "description": "Descriptions that correlate with the codes given in the note codes field."
                },
                "InformationComponents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "Value": {
                        "type": "string",
                        "description": "Value"
                      }
                    }
                  },
                  "description": "An array of key value pairs that contain additional fields and information not defined in the original output schema of the API."
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error object indicating why the service could not return a result."
                },
                "DEBUG": {
                  "type": "string",
                  "description": "DEBUG"
                }
              }
            }
          }
        },
        "summary": "DOTS Lead Validation International - ValidateLeadInternational",
        "description": "DOTS Lead Validation International (LVI) evaluates international lead data and scores the data quality into pass/fail/review categories. By evaluating the information quality of a contact, online marketers can more effectively weed-out fraudulent contacts.Online fraudsters are more likely to provide inaccurate contact information because the address and phone number can be easily traced. Unlike other validation services that perform simple data checks on single variables, Service Objects Lead Validation solution is able to cross-validate that a contact's name, address, phone numbers, e-mail and IP address are all matched each other and are related to the consumer.",
        "operationId": "LVI-ValidateLeadInternational",
        "parameters": [
          {
            "name": "FullName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"FullName",
            "description": "The contact's full name"
          },
          {
            "name": "Salutation",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Salutation",
            "description": "Salutation of the contact"
          },
          {
            "name": "FirstName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"FirstName",
            "description": "First name of the contact"
          },
          {
            "name": "LastName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"LastName",
            "description": "Last name of the contact"
          },
          {
            "name": "BusinessName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"BusinessName",
            "description": "The contacts company"
          },
          {
            "name": "BusinessDomain",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"BusinessDomain",
            "description": "Website domain associated with the business"
          },
          {
            "name": "BusinessEIN",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"BusinessEIN",
            "description": "Represents the Company Tax Number"
          },
          {
            "name": "Address1",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address1",
            "description": "The address 1 of the contact or business address"
          },
          {
            "name": "Address2",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address2",
            "description": "The address 2 of the contact or business address"
          },
          {
            "name": "Address3",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address3",
            "description": "The address 3 of the contact or business address"
          },
          {
            "name": "Address4",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address4",
            "description": "The address 4 of the contact or business address"
          },
          {
            "name": "Address5",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address5",
            "description": "The address 5 of the contact or business address"
          },
          {
            "name": "Locality",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Locality",
            "description": "The city of the contact's postal address"
          },
          {
            "name": "AdminArea",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"AdminArea",
            "description": "The state of the contact's postal address"
          },
          {
            "name": "PostalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"PostalCode",
            "description": "The zip code of the contact's postal address"
          },
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Country",
            "description": "The Country to be validated using provided phone number"
          },
          {
            "name": "Phone1",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Phone1",
            "description": "The contact's primary phone number"
          },
          {
            "name": "Phone2",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Phone2",
            "description": "The contact's secondary phone number"
          },
          {
            "name": "Email",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Email",
            "description": "The contact's email address"
          },
          {
            "name": "IPAddress",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"IPAddress",
            "description": "The contact's IP address in IPv4"
          },
          {
            "name": "Gender",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Gender",
            "description": "Male, Female or Neutral"
          },
          {
            "name": "DateOfBirth",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"DateOfBirth",
            "description": "The contact's date of birth"
          },
          {
            "name": "UTCCaptureTime",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"UTCCaptureTime",
            "description": "The time the lead was submitted"
          },
          {
            "name": "OutputLanguage",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"OutputLanguage",
            "description": "The language some of the output information will be"
          },
          {
            "name": "TestType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"TestType",
            "description": "The name of the type of validation you want to perform on this contact"
          }
        ]
      }
    },
    "/GPP/web.svc/json/GetLocationByIP_V4": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Error": {
                  "type": "object",
                  "properties": {
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "Location": {
                      "type": "string",
                      "description": "Location"
                    },
                    "Number": {
                      "type": "string",
                      "description": "Number"
                    }
                  },
                  "description": "Error object indicating why the service could not return a result."
                },
                "Certainty": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Rating of how accurate the outputs are likely to be."
                },
                "City": {
                  "type": "string",
                  "description": "The city location of the IP address."
                },
                "Region": {
                  "type": "string",
                  "description": "The state location of the IP address."
                },
                "Country": {
                  "type": "string",
                  "description": "The country location of the IP address."
                },
                "CountryISO3": {
                  "type": "string",
                  "description": "The 3-letter country abbreviation."
                },
                "CountryISO2": {
                  "type": "string",
                  "description": "The 2-letter country abbreviation."
                },
                "PostalCode": {
                  "type": "string",
                  "description": "The US postal code of the IP address."
                },
                "MetroCode": {
                  "type": "string",
                  "description": "The numerical metropolitan code for the DMA of the IP address' location."
                },
                "DMA": {
                  "type": "string",
                  "description": "The Designated Market Area for the location of the IP address."
                },
                "StateFIPS": {
                  "type": "string",
                  "description": "The state Federal Information Processing Standards code for the IP address. This code is used to uniquely identify states."
                },
                "CountyFIPS": {
                  "type": "string",
                  "description": "The County Federal Information Processing Standards code for the location of the IP address. This code is used to uniquely identify counties throughout the US."
                },
                "Latitude": {
                  "type": "number",
                  "description": "The latitude coordinate for the IP address."
                },
                "Longitude": {
                  "type": "number",
                  "description": "The longitude coordinate for the IP address."
                },
                "IsProxy": {
                  "type": "string",
                  "description": "Indicates whether the IP address is a known proxy."
                },
                "ProxyType": {
                  "type": "string",
                  "description": "Indicates the type of proxy."
                },
                "PossibleMobileDevice": {
                  "type": "string",
                  "description": "Indicates if the IP address is believed to be used by mobile devices."
                },
                "ISP": {
                  "type": "string",
                  "description": "The ISP which assigns the IP address."
                },
                "NetblockOwner": {
                  "type": "string",
                  "description": "The network owner to which the IP address is allocated"
                },
                "HostNames": {
                  "type": "string",
                  "description": "The host name associated with the IP address. If more than one host name is found then the names will be returned a comma delimited list. Will return if no host names are found."
                },
                "IPNoteCodes": {
                  "type": "string",
                  "description": "Displays additional notes about the IP that were found during the validation process. Returns zero or more numerical note codes in a comma-separated list."
                },
                "IPNotes": {
                  "type": "string",
                  "description": "Contains the note flag(s) that corresponds to the Notes Codes. Returns zero or more notes flags in a comma-separated list."
                },
                "Debug": {
                  "type": "string",
                  "description": "Debug"
                }
              }
            }
          }
        },
        "summary": "DOTS IP Address Validation - GetLocationByIP_V4",
        "operationId": "IPAV-GetLocationByIP_V4",
        "description": "Returns geographic location, proxy, host name and US region information for a given IP address.",
        "parameters": [
          {
            "name": "IPAddress",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"IPAddress",
            "description": "IP address to look up"
          }
        ]
      }
    },
    "/AV3/api.svc/GetBestMatchesJson": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Addresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address1": {
                        "type": "string",
                        "description": "The corrected address line 1."
                      },
                      "Address2": {
                        "type": "string",
                        "description": "The corrected address line 2."
                      },
                      "City": {
                        "type": "string",
                        "description": "The corrected city name."
                      },
                      "State": {
                        "type": "string",
                        "description": "The corrected state name."
                      },
                      "Zip": {
                        "type": "string",
                        "description": "The corrected zip code + 4."
                      },
                      "IsResidential": {
                        "type": "string",
                        "description": "Indicates if the address is for a residence."
                      },
                      "DPV": {
                        "type": "string",
                        "description": "Number that correlates to a DPV(Delivery Point Validation) result. An indicator displaying whether or not the address is recognized as deliverable by the USPS"
                      },
                      "DPVDesc": {
                        "type": "string",
                        "description": "Explains DPV result."
                      },
                      "DPVNotes": {
                        "type": "string",
                        "description": "DPVNoNumber that correlates to DPV notes description. Service Objects may add or change Note descriptions, but will never modify existing codes.tes"
                      },
                      "DPVNotesDesc": {
                        "type": "string",
                        "description": "Details about the DPV result. Service Objects may add or change Note descriptions, but will never modify existing codes."
                      },
                      "Corrections": {
                        "type": "string",
                        "description": "Number that correlates to a Corrections Description. Service Objects may add or change Correction descriptions, but will never modify existing codes."
                      },
                      "CorrectionsDesc": {
                        "type": "string",
                        "description": "Description of what was corrected in an address. Service Objects may add or change Correction descriptions, but will never modify existing codes."
                      },
                      "BarcodeDigits": {
                        "type": "string",
                        "description": "The post office delivery barcode digits"
                      },
                      "CarrierRoute": {
                        "type": "string",
                        "description": "4 chars: 1 for the route type, 3 for the route code. Identifies a group of addresses when prepended by 5-digit Zip."
                      },
                      "CongressCode": {
                        "type": "string",
                        "description": "The congress code is the congressional district number."
                      },
                      "CountyCode": {
                        "type": "string",
                        "description": "The county code of the given address."
                      },
                      "CountyName": {
                        "type": "string",
                        "description": "The name of the county in which the given address lies."
                      },
                      "FragmentHouse": {
                        "type": "string",
                        "description": "The parsed house number of the given address."
                      },
                      "FragmentPreDir": {
                        "type": "string",
                        "description": "The parsed pre-directional of the address's street."
                      },
                      "FragmentStreet": {
                        "type": "string",
                        "description": "The parsed name of the streen in the given address."
                      },
                      "FragmentSuffix": {
                        "type": "string",
                        "description": "The parsed suffix of the street in the given address"
                      },
                      "FragmentPostDir": {
                        "type": "string",
                        "description": "The parsed post-directional of teh address's street."
                      },
                      "FragmentUnit": {
                        "type": "string",
                        "description": "The parsed unit type (e.g. 'Apt' or 'Ste')"
                      },
                      "Fragment": {
                        "type": "string",
                        "description": "The parsed 'Fragment' box, apartment or unit number."
                      },
                      "FragmentPMBPrefix": {
                        "type": "string",
                        "description": "The parsd type of the apartment, box, unit, etc."
                      },
                      "FragmentPMBNumber": {
                        "type": "string",
                        "description": "The parsed apartment, box, unit, etc number of the given address."
                      }
                    }
                  },
                  "description": "The corrected address candidates."
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error object indicating why the service could not return a result."
                },
                "IsCASS": {
                  "type": "boolean",
                  "description": "Indicates if the unaltered input address is CASS certified. See “What is CASS?” below for more information."
                }
              }
            }
          }
        },
        "summary": "DOTS Address Validation USA 3- GetBestMatches",
        "operationId": "AV3-GetBestMatches",
        "parameters": [
          {
            "name": "BusinessName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"BusinessName",
            "description": "Name of business associated with this address"
          },
          {
            "name": "Address",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address",
            "description": "Address line of the address to validate"
          },
          {
            "name": "Address2",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address2",
            "description": "This line is for address information that does not contribute to DPV coding an address"
          },
          {
            "name": "City",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"City",
            "description": "The city of the address to validate"
          },
          {
            "name": "State",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"State",
            "description": "The state of the address to validate"
          },
          {
            "name": "PostalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"PostalCode",
            "description": "The zip code of the address to validate"
          }
        ],
        "description": "Returns parsed and validated address elements including Delivery Point Validation (DPV), Residential Delivery Indicator (RDI), and Suite data. GetBestMatches will attempt to validate the input address against a CASS approved engine, and make corrections where possible. Multiple address candidates may be returned if a definitive decision cannot be made by the service."
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.serviceobjects.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.serviceobjects.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "LicenseKey"
    }
  },
  "security": [],
  "tags": []
}