{
  "swagger": "2.0",
  "info": {
    "title": "Service Objects",
    "description": "Cleanse, validate, and enhance contact data. Our tools validate and cross-verify a contact's name, location, phone, email address and device against hundreds of authoritative data sources.",
    "version": "1.0",
    "contact": {
    	"name": "Service Objects Support",
    	"url": "https://www.serviceobjects.com/",
    	"email": "support@serviceobjects.com"
    }
  },
  "host": "ws.serviceobjects.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/AVI/api.svc/json/GetAddressInfo": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "AddressInfo": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "ResolutionLevel": {
                      "type": "string",
                      "description": "ResolutionLevel"
                    },
                    "Address1": {
                      "type": "string",
                      "description": "Address1"
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Address2"
                    },
                    "Address3": {
                      "type": "string",
                      "description": "Address3"
                    },
                    "Address4": {
                      "type": "string",
                      "description": "Address4"
                    },
                    "Address5": {
                      "type": "string",
                      "description": "Address5"
                    },
                    "Address6": {
                      "type": "string",
                      "description": "Address6"
                    },
                    "Address7": {
                      "type": "string",
                      "description": "Address7"
                    },
                    "Address8": {
                      "type": "string",
                      "description": "Address8"
                    },
                    "Locality": {
                      "type": "string",
                      "description": "Locality"
                    },
                    "AdministrativeArea": {
                      "type": "string",
                      "description": "AdministrativeArea"
                    },
                    "PostalCode": {
                      "type": "string",
                      "description": "PostalCode"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Country"
                    },
                    "CountryISO2": {
                      "type": "string",
                      "description": "CountryISO2"
                    },
                    "CountryISO3": {
                      "type": "string",
                      "description": "CountryISO3"
                    },
                    "InformationComponents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "Value": {
                            "type": "string",
                            "description": "Value"
                          }
                        }
                      },
                      "description": "InformationComponents"
                    }
                  },
                  "description": "AddressInfo"
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error"
                },
                "Debug": {
                  "type": "string",
                  "description": "Debug"
                }
              }
            }
          }
        },
        "operationId": "AVI-GetAddressInfo",
        "summary": "DOTS Address Validation International - GetAddressInfo",
        "description": "Our real-time International Address Validation API service verifies and corrects global mailing addresses to the unique requirements of each countrys postal address formats and cultural idiosyncrasies. With continual updates from country-specific postal authorities, our data is always up-to-date with genuine and accurate addresses.",
        "parameters": [
          {
            "name": "Address1",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address1",
            "description": "Address Line 1 of the International Address"
          },
          {
            "name": "Address2",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address2",
            "description": "Address Line 2 of the International Address"
          },
          {
            "name": "Address3",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address3",
            "description": "Address Line 3 of the International Address"
          },
          {
            "name": "Address4",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address4",
            "description": "Address Line 4 of the International Address"
          },
          {
            "name": "Address5",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address5",
            "description": "Address Line 5 of the International Address"
          },
          {
            "name": "Locality",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Locality",
            "description": "The name of the distinct population cluster."
          },
          {
            "name": "AdministrativeArea",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"AdministrativeArea",
            "description": "The name of the administrative division."
          },
          {
            "name": "PostalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"PostalCode",
            "description": "The postal code of the international address."
          },
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Country",
            "description": "The preferred name of the country or the ISO 3166-1 Alpha-2 Country Code or the Alpha-3 Country Code."
          },
          {
            "name": "OutputLanguage",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"OutputLanguage",
            "description": "The output language."
          }
        ]
      }
    },
    "/AGI/api.svc/json/PlaceSearch": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "SearchInfo": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "NumberOfLocations": {
                      "type": "integer",
                      "format": "int32",
                      "description": "NumberOfLocations"
                    },
                    "Notes": {
                      "type": "string",
                      "description": "Notes"
                    },
                    "NotesDesc": {
                      "type": "string",
                      "description": "NotesDesc"
                    },
                    "Warnings": {
                      "type": "string",
                      "description": "Warnings"
                    },
                    "WarningsDesc": {
                      "type": "string",
                      "description": "WarningsDesc"
                    }
                  },
                  "description": "SearchInfo"
                },
                "Locations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrecisionLevel": {
                        "type": "integer",
                        "format": "int32",
                        "description": "PrecisionLevel"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Type"
                      },
                      "Latitude": {
                        "type": "string",
                        "description": "Latitude"
                      },
                      "Longitude": {
                        "type": "string",
                        "description": "Longitude"
                      },
                      "AddressComponents": {
                        "type": "object",
                        "properties": {
                          "PremiseNumber": {
                            "type": "string",
                            "description": "PremiseNumber"
                          },
                          "Thoroughfare": {
                            "type": "string",
                            "description": "Thoroughfare"
                          },
                          "DoubleDependentLocality": {
                            "type": "string",
                            "description": "DoubleDependentLocality"
                          },
                          "DependentLocality": {
                            "type": "string",
                            "description": "DependentLocality"
                          },
                          "Locality": {
                            "type": "string",
                            "description": "Locality"
                          },
                          "AdministrativeArea4": {
                            "type": "string",
                            "description": "AdministrativeArea4"
                          },
                          "AdministrativeArea4Abbreviation": {
                            "type": "string",
                            "description": "AdministrativeArea4Abbreviation"
                          },
                          "AdministrativeArea3": {
                            "type": "string",
                            "description": "AdministrativeArea3"
                          },
                          "AdministrativeArea3Abbreviation": {
                            "type": "string",
                            "description": "AdministrativeArea3Abbreviation"
                          },
                          "AdministrativeArea2": {
                            "type": "string",
                            "description": "AdministrativeArea2"
                          },
                          "AdministrativeArea2Abbreviation": {
                            "type": "string",
                            "description": "AdministrativeArea2Abbreviation"
                          },
                          "AdministrativeArea1": {
                            "type": "string",
                            "description": "AdministrativeArea1"
                          },
                          "AdministrativeArea1Abbreviation": {
                            "type": "string",
                            "description": "AdministrativeArea1Abbreviation"
                          },
                          "PostalCode": {
                            "type": "string",
                            "description": "PostalCode"
                          },
                          "Country": {
                            "type": "string",
                            "description": "Country"
                          },
                          "CountryISO2": {
                            "type": "string",
                            "description": "CountryISO2"
                          },
                          "CountryISO3": {
                            "type": "string",
                            "description": "CountryISO3"
                          },
                          "BingMapsURL": {
                            "type": "string",
                            "description": "BingMapsURL"
                          },
                          "GoogleMapsURL": {
                            "type": "string",
                            "description": "GoogleMapsURL"
                          },
                          "MapQuestURL": {
                            "type": "string",
                            "description": "MapQuestURL"
                          },
                          "PlaceName": {
                            "type": "string",
                            "description": "PlaceName"
                          },
                          "IsUnincorporated": {
                            "type": "string",
                            "description": "IsUnincorporated"
                          },
                          "StateFIPS": {
                            "type": "string",
                            "description": "StateFIPS"
                          },
                          "CountyFIPS": {
                            "type": "string",
                            "description": "CountyFIPS"
                          },
                          "CensusTract": {
                            "type": "string",
                            "description": "CensusTract"
                          },
                          "CensusBlock": {
                            "type": "string",
                            "description": "CensusBlock"
                          },
                          "CensusGeoID": {
                            "type": "string",
                            "description": "CensusGeoID"
                          },
                          "ClassFP": {
                            "type": "string",
                            "description": "ClassFP"
                          },
                          "CongressCode": {
                            "type": "string",
                            "description": "CongressCode"
                          },
                          "SLDUST": {
                            "type": "string",
                            "description": "SLDUST"
                          },
                          "SLDLST": {
                            "type": "string",
                            "description": "SLDLST"
                          },
                          "TimeZone_UTC": {
                            "type": "string",
                            "description": "TimeZone_UTC"
                          }
                        },
                        "description": "AddressComponents"
                      }
                    }
                  },
                  "description": "Locations"
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error"
                },
                "Debug": {
                  "type": "string",
                  "description": "Debug"
                }
              }
            }
          }
        },
        "summary": "DOTS Address Geocode International - PlaceSearch",
        "operationId": "AGI-PlaceSearch",
        "parameters": [
          {
            "name": "SingleLine",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"SingleLine",
            "description": "The full address on one line."
          },
          {
            "name": "Address1",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address1",
            "description": "Address Line 1 of the International Address"
          },
          {
            "name": "Address2",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address2",
            "description": "Address Line 2 of the International Address"
          },
          {
            "name": "Address3",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address3",
            "description": "Address Line 3 of the International Address"
          },
          {
            "name": "Address4",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address4",
            "description": "Address Line 4 of the International Address"
          },
          {
            "name": "Address5",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address5",
            "description": "Address Line 5 of the International Address"
          },
          {
            "name": "Locality",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Locality",
            "description": "The name of the distinct population cluster"
          },
          {
            "name": "AdministrativeArea",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"AdministrativeArea",
            "description": "The name of the administrative division"
          },
          {
            "name": "PostalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"PostalCode",
            "description": "The postal code of the international address"
          },
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Country",
            "description": "The preferred name of the country"
          },
          {
            "name": "Boundaries",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Boundaries",
            "description": "*Coming soon, not currently used"
          },
          {
            "name": "MaxResults",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"MaxResults",
            "description": "Sets the maximum number of results the operation is allowed to return"
          },
          {
            "name": "SearchType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"SearchType",
            "description": "The name of the type of search you want to perform"
          },
          {
            "name": "Extras",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Extras",
            "description": "A comma-delimited list of the extra features that you would like to enable"
          }
        ],
        "description": "The PlaceSearch operation returns the latitude and longitude for a given International Address, along with additional address and location information. It will attempt to geocode addresses at the property level, which is often a rooftop coordinate for some properties and then cascade to the next best available resolution such as the street, neighborhood, postal code, locality and so on. For non-address places such as streets, cities and postal codes, the coordinates will return a coordinate point that is commonly associated with the location or a centroid for the area."
      }
    },
    "/AGI/api.svc/json/ReverseSearch": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "SearchInfo": {
                  "type": "object",
                  "properties": {
                    "Status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "NumberOfLocations": {
                      "type": "integer",
                      "format": "int32",
                      "description": "NumberOfLocations"
                    },
                    "Notes": {
                      "type": "string",
                      "description": "Notes"
                    },
                    "NotesDesc": {
                      "type": "string",
                      "description": "NotesDesc"
                    },
                    "Warnings": {
                      "type": "string",
                      "description": "Warnings"
                    },
                    "WarningsDesc": {
                      "type": "string",
                      "description": "WarningsDesc"
                    }
                  },
                  "description": "SearchInfo"
                },
                "Locations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrecisionLevel": {
                        "type": "integer",
                        "format": "int32",
                        "description": "PrecisionLevel"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Type"
                      },
                      "Latitude": {
                        "type": "string",
                        "description": "Latitude"
                      },
                      "Longitude": {
                        "type": "string",
                        "description": "Longitude"
                      },
                      "AddressComponents": {
                        "type": "object",
                        "properties": {
                          "PremiseNumber": {
                            "type": "string",
                            "description": "PremiseNumber"
                          },
                          "Thoroughfare": {
                            "type": "string",
                            "description": "Thoroughfare"
                          },
                          "DoubleDependentLocality": {
                            "type": "string",
                            "description": "DoubleDependentLocality"
                          },
                          "DependentLocality": {
                            "type": "string",
                            "description": "DependentLocality"
                          },
                          "Locality": {
                            "type": "string",
                            "description": "Locality"
                          },
                          "AdministrativeArea4": {
                            "type": "string",
                            "description": "AdministrativeArea4"
                          },
                          "AdministrativeArea4Abbreviation": {
                            "type": "string",
                            "description": "AdministrativeArea4Abbreviation"
                          },
                          "AdministrativeArea3": {
                            "type": "string",
                            "description": "AdministrativeArea3"
                          },
                          "AdministrativeArea3Abbreviation": {
                            "type": "string",
                            "description": "AdministrativeArea3Abbreviation"
                          },
                          "AdministrativeArea2": {
                            "type": "string",
                            "description": "AdministrativeArea2"
                          },
                          "AdministrativeArea2Abbreviation": {
                            "type": "string",
                            "description": "AdministrativeArea2Abbreviation"
                          },
                          "AdministrativeArea1": {
                            "type": "string",
                            "description": "AdministrativeArea1"
                          },
                          "AdministrativeArea1Abbreviation": {
                            "type": "string",
                            "description": "AdministrativeArea1Abbreviation"
                          },
                          "PostalCode": {
                            "type": "string",
                            "description": "PostalCode"
                          },
                          "Country": {
                            "type": "string",
                            "description": "Country"
                          },
                          "CountryISO2": {
                            "type": "string",
                            "description": "CountryISO2"
                          },
                          "CountryISO3": {
                            "type": "string",
                            "description": "CountryISO3"
                          },
                          "BingMapsURL": {
                            "type": "string",
                            "description": "BingMapsURL"
                          },
                          "GoogleMapsURL": {
                            "type": "string",
                            "description": "GoogleMapsURL"
                          },
                          "MapQuestURL": {
                            "type": "string",
                            "description": "MapQuestURL"
                          },
                          "PlaceName": {
                            "type": "string",
                            "description": "PlaceName"
                          },
                          "IsUnincorporated": {
                            "type": "string",
                            "description": "IsUnincorporated"
                          },
                          "StateFIPS": {
                            "type": "string",
                            "description": "StateFIPS"
                          },
                          "CountyFIPS": {
                            "type": "string",
                            "description": "CountyFIPS"
                          },
                          "CensusTract": {
                            "type": "string",
                            "description": "CensusTract"
                          },
                          "CensusBlock": {
                            "type": "string",
                            "description": "CensusBlock"
                          },
                          "CensusGeoID": {
                            "type": "string",
                            "description": "CensusGeoID"
                          },
                          "ClassFP": {
                            "type": "string",
                            "description": "ClassFP"
                          },
                          "CongressCode": {
                            "type": "string",
                            "description": "CongressCode"
                          },
                          "SLDUST": {
                            "type": "string",
                            "description": "SLDUST"
                          },
                          "SLDLST": {
                            "type": "string",
                            "description": "SLDLST"
                          },
                          "TimeZone_UTC": {
                            "type": "string",
                            "description": "TimeZone_UTC"
                          }
                        },
                        "description": "AddressComponents"
                      }
                    }
                  },
                  "description": "Locations"
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error"
                },
                "Debug": {
                  "type": "string",
                  "description": "Debug"
                }
              }
            }
          }
        },
        "summary": "DOTS Address Geocode International - ReverseSearch",
        "operationId": "AGI-ReverseSearch",
        "parameters": [
          {
            "name": "Latitude",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Latitude",
            "description": "The latitude of the location"
          },
          {
            "name": "Longitude",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Longitude",
            "description": "The longitude of the location"
          },
          {
            "name": "SearchRadius",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"SearchRadius",
            "description": "The maximum search radius distance set in kilometers"
          },
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Country",
            "description": "The preferred name of the country"
          },
          {
            "name": "MaxResults",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"MaxResults",
            "description": "Sets the maximum number of results the operation"
          },
          {
            "name": "SearchType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"SearchType",
            "description": "The name of the type of search you want to perform"
          }
        ],
        "description": "The ReverseSearch operation returns the address or place information for a given set of coordinates, along with additional address and location information. It will attempt to reverse geocode coordinates and return international addresses at the property level, which is often at the premise level resolution for some properties and then cascade to the next best available resolution such as the street, neighborhood, postal code, locality and so on. For non-address places such as streets, cities and postal codes returned by the service, the coordinates output in the response body will represent a coordinate point that is commonly associated with the location or a centroid for the area."
      }
    },
    "/PE2/web.svc/json/GetInternationalExchangeInfo": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "InternationalExchangeInfo": {
                  "type": "object",
                  "properties": {
                    "NumberIn": {
                      "type": "string",
                      "description": "NumberIn"
                    },
                    "CountryCode": {
                      "type": "string",
                      "description": "CountryCode"
                    },
                    "FormatNational": {
                      "type": "string",
                      "description": "FormatNational"
                    },
                    "Extension": {
                      "type": "string",
                      "description": "Extension"
                    },
                    "Locality": {
                      "type": "string",
                      "description": "Locality"
                    },
                    "LocalityMatchLevel": {
                      "type": "string",
                      "description": "LocalityMatchLevel"
                    },
                    "TimeZone": {
                      "type": "string",
                      "description": "TimeZone"
                    },
                    "Latitude": {
                      "type": "string",
                      "description": "Latitude"
                    },
                    "Longitude": {
                      "type": "string",
                      "description": "Longitude"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Country"
                    },
                    "CountryISO2": {
                      "type": "string",
                      "description": "CountryISO2"
                    },
                    "CountryISO3": {
                      "type": "string",
                      "description": "CountryISO3"
                    },
                    "FormatInternational": {
                      "type": "string",
                      "description": "FormatInternational"
                    },
                    "FormatE164": {
                      "type": "string",
                      "description": "FormatE164"
                    },
                    "Carrier": {
                      "type": "string",
                      "description": "Carrier"
                    },
                    "LineType": {
                      "type": "string",
                      "description": "LineType"
                    },
                    "SMSAddress": {
                      "type": "string",
                      "description": "SMSAddress"
                    },
                    "MMSAddress": {
                      "type": "string",
                      "description": "MMSAddress"
                    },
                    "IsValid": {
                      "type": "boolean",
                      "description": "IsValid"
                    },
                    "IsValidForRegion": {
                      "type": "boolean",
                      "description": "IsValidForRegion"
                    },
                    "NoteCodes": {
                      "type": "string",
                      "description": "NoteCodes"
                    },
                    "NoteDescriptions": {
                      "type": "string",
                      "description": "NoteDescriptions"
                    }
                  },
                  "description": "InternationalExchangeInfo"
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error"
                },
                "Debug": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Debug"
                }
              }
            }
          }
        },
        "operationId": "PE2I-GetInternationalExchangeInfo",
        "parameters": [
          {
            "name": "PhoneNumber",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"PhoneNumber",
            "description": "The phone number to be parsed, validated and formatted"
          },
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Country",
            "description": "The Country to be validated using provided phone number"
          }
        ],
        "summary": "DOTS Phone Exchange International - GetInternationalExchangeInfo",
        "description": "Our international Phone Exchange service validates and formats phone numbers for international direct dialing, while returning line type, country code and geocoding information."
      }
    },
    "/LVI/api.svc/json/ValidateLeadInternational": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "OverallCertainty": {
                  "type": "string",
                  "description": "OverallCertainty"
                },
                "OverallQuality": {
                  "type": "string",
                  "description": "OverallQuality"
                },
                "LeadType": {
                  "type": "string",
                  "description": "LeadType"
                },
                "LeadCountry": {
                  "type": "string",
                  "description": "LeadCountry"
                },
                "NoteCodes": {
                  "type": "string",
                  "description": "NoteCodes"
                },
                "NoteDesc": {
                  "type": "string",
                  "description": "NoteDesc"
                },
                "NameCertainty": {
                  "type": "string",
                  "description": "NameCertainty"
                },
                "NameQuality": {
                  "type": "string",
                  "description": "NameQuality"
                },
                "FirstNameLatin": {
                  "type": "string",
                  "description": "FirstNameLatin"
                },
                "LastNameLatin": {
                  "type": "string",
                  "description": "LastNameLatin"
                },
                "FirstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "LastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "NameNoteCodes": {
                  "type": "string",
                  "description": "NameNoteCodes"
                },
                "NameNoteDesc": {
                  "type": "string",
                  "description": "NameNoteDesc"
                },
                "AddressCertainty": {
                  "type": "string",
                  "description": "AddressCertainty"
                },
                "AddressQuality": {
                  "type": "string",
                  "description": "AddressQuality"
                },
                "AddressResolutionLevel": {
                  "type": "string",
                  "description": "AddressResolutionLevel"
                },
                "AddressLine1": {
                  "type": "string",
                  "description": "AddressLine1"
                },
                "AddressLine2": {
                  "type": "string",
                  "description": "AddressLine2"
                },
                "AddressLine3": {
                  "type": "string",
                  "description": "AddressLine3"
                },
                "AddressLine4": {
                  "type": "string",
                  "description": "AddressLine4"
                },
                "AddressLine5": {
                  "type": "string",
                  "description": "AddressLine5"
                },
                "AddressLocality": {
                  "type": "string",
                  "description": "AddressLocality"
                },
                "AddressAdminArea": {
                  "type": "string",
                  "description": "AddressAdminArea"
                },
                "AddressPostalCode": {
                  "type": "string",
                  "description": "AddressPostalCode"
                },
                "AddressCountry": {
                  "type": "string",
                  "description": "AddressCountry"
                },
                "AddressNoteCodes": {
                  "type": "string",
                  "description": "AddressNoteCodes"
                },
                "AddressNoteDesc": {
                  "type": "string",
                  "description": "AddressNoteDesc"
                },
                "EmailCertainty": {
                  "type": "string",
                  "description": "EmailCertainty"
                },
                "EmailQuality": {
                  "type": "string",
                  "description": "EmailQuality"
                },
                "EmailCorrected": {
                  "type": "string",
                  "description": "EmailCorrected"
                },
                "EmailNoteCodes": {
                  "type": "string",
                  "description": "EmailNoteCodes"
                },
                "EmailNoteDesc": {
                  "type": "string",
                  "description": "EmailNoteDesc"
                },
                "IPCertainty": {
                  "type": "string",
                  "description": "IPCertainty"
                },
                "IPQuality": {
                  "type": "string",
                  "description": "IPQuality"
                },
                "IPLocality": {
                  "type": "string",
                  "description": "IPLocality"
                },
                "IPAdminArea": {
                  "type": "string",
                  "description": "IPAdminArea"
                },
                "IPCountry": {
                  "type": "string",
                  "description": "IPCountry"
                },
                "IPNoteCodes": {
                  "type": "string",
                  "description": "IPNoteCodes"
                },
                "IPNoteDesc": {
                  "type": "string",
                  "description": "IPNoteDesc"
                },
                "Phone1Certainty": {
                  "type": "string",
                  "description": "Phone1Certainty"
                },
                "Phone1Quality": {
                  "type": "string",
                  "description": "Phone1Quality"
                },
                "Phone1Locality": {
                  "type": "string",
                  "description": "Phone1Locality"
                },
                "Phone1AdminArea": {
                  "type": "string",
                  "description": "Phone1AdminArea"
                },
                "Phone1Country": {
                  "type": "string",
                  "description": "Phone1Country"
                },
                "Phone1NoteCodes": {
                  "type": "string",
                  "description": "Phone1NoteCodes"
                },
                "Phone1NoteDesc": {
                  "type": "string",
                  "description": "Phone1NoteDesc"
                },
                "Phone2Certainty": {
                  "type": "string",
                  "description": "Phone2Certainty"
                },
                "Phone2Quality": {
                  "type": "string",
                  "description": "Phone2Quality"
                },
                "Phone2Locality": {
                  "type": "string",
                  "description": "Phone2Locality"
                },
                "Phone2AdminArea": {
                  "type": "string",
                  "description": "Phone2AdminArea"
                },
                "Phone2Country": {
                  "type": "string",
                  "description": "Phone2Country"
                },
                "Phone2NoteCodes": {
                  "type": "string",
                  "description": "Phone2NoteCodes"
                },
                "Phone2NoteDesc": {
                  "type": "string",
                  "description": "Phone2NoteDesc"
                },
                "PhoneContact": {
                  "type": "object",
                  "properties": {
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "Address": {
                      "type": "string",
                      "description": "Address"
                    },
                    "City": {
                      "type": "string",
                      "description": "City"
                    },
                    "State": {
                      "type": "string",
                      "description": "State"
                    },
                    "Zip": {
                      "type": "string",
                      "description": "Zip"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    }
                  },
                  "description": "PhoneContact"
                },
                "BusinessCertainty": {
                  "type": "string",
                  "description": "BusinessCertainty"
                },
                "BusinessQuality": {
                  "type": "string",
                  "description": "BusinessQuality"
                },
                "BusinessName": {
                  "type": "string",
                  "description": "BusinessName"
                },
                "BusinessDomain": {
                  "type": "string",
                  "description": "BusinessDomain"
                },
                "BusinessEmail": {
                  "type": "string",
                  "description": "BusinessEmail"
                },
                "BusinessNoteCodes": {
                  "type": "string",
                  "description": "BusinessNoteCodes"
                },
                "BusinessNoteDesc": {
                  "type": "string",
                  "description": "BusinessNoteDesc"
                },
                "InformationComponents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "Value": {
                        "type": "string",
                        "description": "Value"
                      }
                    }
                  },
                  "description": "InformationComponents"
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error"
                },
                "DEBUG": {
                  "type": "string",
                  "description": "DEBUG"
                }
              }
            }
          }
        },
        "summary": "DOTS Lead Validation International - ValidateLeadInternational",
        "description": "DOTS Lead Validation International (LVI) evaluates international lead data and scores the data quality into pass/fail/review categories. By evaluating the information quality of a contact, online marketers can more effectively weed-out fraudulent contacts.Online fraudsters are more likely to provide inaccurate contact information because the address and phone number can be easily traced. Unlike other validation services that perform simple data checks on single variables, Service Objects Lead Validation solution is able to cross-validate that a contact's name, address, phone numbers, e-mail and IP address are all matched each other and are related to the consumer.",
        "operationId": "LVI-ValidateLeadInternational",
        "parameters": [
          {
            "name": "FullName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"FullName",
            "description": "The contact's full name"
          },
          {
            "name": "Salutation",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Salutation",
            "description": "Salutation of the contact"
          },
          {
            "name": "FirstName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"FirstName",
            "description": "First name of the contact"
          },
          {
            "name": "LastName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"LastName",
            "description": "Last name of the contact"
          },
          {
            "name": "BusinessName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"BusinessName",
            "description": "The contacts company"
          },
          {
            "name": "BusinessDomain",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"BusinessDomain",
            "description": "Website domain associated with the business"
          },
          {
            "name": "BusinessEIN",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"BusinessEIN",
            "description": "Represents the Company Tax Number"
          },
          {
            "name": "Address1",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address1",
            "description": "The address 1 of the contact or business address"
          },
          {
            "name": "Address2",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address2",
            "description": "The address 2 of the contact or business address"
          },
          {
            "name": "Address3",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address3",
            "description": "The address 3 of the contact or business address"
          },
          {
            "name": "Address4",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address4",
            "description": "The address 4 of the contact or business address"
          },
          {
            "name": "Address5",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address5",
            "description": "The address 5 of the contact or business address"
          },
          {
            "name": "Locality",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Locality",
            "description": "The city of the contact's postal address"
          },
          {
            "name": "AdminArea",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"AdminArea",
            "description": "The state of the contact's postal address"
          },
          {
            "name": "PostalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"PostalCode",
            "description": "The zip code of the contact's postal address"
          },
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Country",
            "description": "The Country to be validated using provided phone number"
          },
          {
            "name": "Phone1",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Phone1",
            "description": "The contact's primary phone number"
          },
          {
            "name": "Phone2",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Phone2",
            "description": "The contact's secondary phone number"
          },
          {
            "name": "Email",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Email",
            "description": "The contact's email address"
          },
          {
            "name": "IPAddress",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"IPAddress",
            "description": "The contact's IP address in IPv4"
          },
          {
            "name": "Gender",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Gender",
            "description": "Male, Female or Neutral"
          },
          {
            "name": "DateOfBirth",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"DateOfBirth",
            "description": "The contact's date of birth"
          },
          {
            "name": "UTCCaptureTime",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"UTCCaptureTime",
            "description": "The time the lead was submitted"
          },
          {
            "name": "OutputLanguage",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"OutputLanguage",
            "description": "The language some of the output information will be"
          },
          {
            "name": "TestType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"TestType",
            "description": "The name of the type of validation you want to perform on this contact"
          }
        ]
      }
    },
    "/GPP/web.svc/json/GetLocationByIP_V4": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Error": {
                  "type": "object",
                  "properties": {
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "Location": {
                      "type": "string",
                      "description": "Location"
                    },
                    "Number": {
                      "type": "string",
                      "description": "Number"
                    }
                  },
                  "description": "Error"
                },
                "Certainty": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Certainty"
                },
                "City": {
                  "type": "string",
                  "description": "City"
                },
                "Region": {
                  "type": "string",
                  "description": "Region"
                },
                "Country": {
                  "type": "string",
                  "description": "Country"
                },
                "CountryISO3": {
                  "type": "string",
                  "description": "CountryISO3"
                },
                "CountryISO2": {
                  "type": "string",
                  "description": "CountryISO2"
                },
                "PostalCode": {
                  "type": "string",
                  "description": "PostalCode"
                },
                "MetroCode": {
                  "type": "string",
                  "description": "MetroCode"
                },
                "DMA": {
                  "type": "string",
                  "description": "DMA"
                },
                "StateFIPS": {
                  "type": "string",
                  "description": "StateFIPS"
                },
                "CountyFIPS": {
                  "type": "string",
                  "description": "CountyFIPS"
                },
                "Latitude": {
                  "type": "number",
                  "description": "Latitude"
                },
                "Longitude": {
                  "type": "number",
                  "description": "Longitude"
                },
                "IsProxy": {
                  "type": "string",
                  "description": "IsProxy"
                },
                "ProxyType": {
                  "type": "string",
                  "description": "ProxyType"
                },
                "PossibleMobileDevice": {
                  "type": "string",
                  "description": "PossibleMobileDevice"
                },
                "ISP": {
                  "type": "string",
                  "description": "ISP"
                },
                "NetblockOwner": {
                  "type": "string",
                  "description": "NetblockOwner"
                },
                "HostNames": {
                  "type": "string",
                  "description": "HostNames"
                },
                "IPNoteCodes": {
                  "type": "string",
                  "description": "IPNoteCodes"
                },
                "IPNotes": {
                  "type": "string",
                  "description": "IPNotes"
                },
                "Debug": {
                  "type": "string",
                  "description": "Debug"
                }
              }
            }
          }
        },
        "summary": "DOTS IP Address Validation - GetLocationByIP_V4",
        "operationId": "IPAV-GetLocationByIP_V4",
        "description": "Returns geographic location, proxy, host name and US region information for a given IP address.",
        "parameters": [
          {
            "name": "IPAddress",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"IPAddress",
            "description": "IP address to look up"
          }
        ]
      }
    },
    "/AV3/api.svc/GetBestMatchesJson": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Addresses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Address1": {
                        "type": "string",
                        "description": "Address1"
                      },
                      "Address2": {
                        "type": "string",
                        "description": "Address2"
                      },
                      "City": {
                        "type": "string",
                        "description": "City"
                      },
                      "State": {
                        "type": "string",
                        "description": "State"
                      },
                      "Zip": {
                        "type": "string",
                        "description": "Zip"
                      },
                      "IsResidential": {
                        "type": "string",
                        "description": "IsResidential"
                      },
                      "DPV": {
                        "type": "string",
                        "description": "DPV"
                      },
                      "DPVDesc": {
                        "type": "string",
                        "description": "DPVDesc"
                      },
                      "DPVNotes": {
                        "type": "string",
                        "description": "DPVNotes"
                      },
                      "DPVNotesDesc": {
                        "type": "string",
                        "description": "DPVNotesDesc"
                      },
                      "Corrections": {
                        "type": "string",
                        "description": "Corrections"
                      },
                      "CorrectionsDesc": {
                        "type": "string",
                        "description": "CorrectionsDesc"
                      },
                      "BarcodeDigits": {
                        "type": "string",
                        "description": "BarcodeDigits"
                      },
                      "CarrierRoute": {
                        "type": "string",
                        "description": "CarrierRoute"
                      },
                      "CongressCode": {
                        "type": "string",
                        "description": "CongressCode"
                      },
                      "CountyCode": {
                        "type": "string",
                        "description": "CountyCode"
                      },
                      "CountyName": {
                        "type": "string",
                        "description": "CountyName"
                      },
                      "FragmentHouse": {
                        "type": "string",
                        "description": "FragmentHouse"
                      },
                      "FragmentPreDir": {
                        "type": "string",
                        "description": "FragmentPreDir"
                      },
                      "FragmentStreet": {
                        "type": "string",
                        "description": "FragmentStreet"
                      },
                      "FragmentSuffix": {
                        "type": "string",
                        "description": "FragmentSuffix"
                      },
                      "FragmentPostDir": {
                        "type": "string",
                        "description": "FragmentPostDir"
                      },
                      "FragmentUnit": {
                        "type": "string",
                        "description": "FragmentUnit"
                      },
                      "Fragment": {
                        "type": "string",
                        "description": "Fragment"
                      },
                      "FragmentPMBPrefix": {
                        "type": "string",
                        "description": "FragmentPMBPrefix"
                      },
                      "FragmentPMBNumber": {
                        "type": "string",
                        "description": "FragmentPMBNumber"
                      }
                    }
                  },
                  "description": "Addresses"
                },
                "Error": {
                  "type": "object",
                  "properties": {
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "TypeCode": {
                      "type": "string",
                      "description": "TypeCode"
                    },
                    "Desc": {
                      "type": "string",
                      "description": "Desc"
                    },
                    "DescCode": {
                      "type": "string",
                      "description": "DescCode"
                    }
                  },
                  "description": "Error"
                },
                "IsCASS": {
                  "type": "boolean",
                  "description": "IsCASS"
                }
              }
            }
          }
        },
        "summary": "DOTS Address Validation USA 3- GetBestMatches",
        "operationId": "AV3-GetBestMatches",
        "parameters": [
          {
            "name": "BusinessName",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"BusinessName",
            "description": "Name of business associated with this address"
          },
          {
            "name": "Address",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address",
            "description": "Address line of the address to validate"
          },
          {
            "name": "Address2",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"Address2",
            "description": "This line is for address information that does not contribute to DPV coding an address"
          },
          {
            "name": "City",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"City",
            "description": "The city of the address to validate"
          },
          {
            "name": "State",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"State",
            "description": "The state of the address to validate"
          },
          {
            "name": "PostalCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary" :"PostalCode",
            "description": "The zip code of the address to validate"
          }
        ],
        "description": "Returns parsed and validated address elements including Delivery Point Validation (DPV), Residential Delivery Indicator (RDI), and Suite data. GetBestMatches will attempt to validate the input address against a CASS approved engine, and make corrections where possible. Multiple address candidates may be returned if a definitive decision cannot be made by the service."
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.serviceobjects.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.serviceobjects.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "LicenseKey"
    }
  },
  "security": [],
  "tags": []
}