{
  "swagger": "2.0",
  "info": {
    "title": "Have I Been Pwned",
    "description": "Check if your email address or phone number is in a data breach.",
    "version": "1.3",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    },
    "x-ms-keywords": [
      "Pwn",
      "breach",
      "data breach",
      "hack",
      "password"
    ]
  },
  "host": "haveibeenpwned.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v3/breachedaccount/{account}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "Title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "Domain": {
                    "type": "string",
                    "description": "The domain.",
                    "title": "Domain"
                  },
                  "BreachDate": {
                    "type": "string",
                    "description": "The date of the breach.",
                    "title": "Breach Date"
                  },
                  "AddedDate": {
                    "type": "string",
                    "description": "The date added.",
                    "title": "Added Date"
                  },
                  "ModifiedDate": {
                    "type": "string",
                    "description": "The date, if any, modified.",
                    "title": "Modified Date"
                  },
                  "PwnCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The count pwned.",
                    "title": "Pwn Count"
                  },
                  "Description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "LogoPath": {
                    "type": "string",
                    "description": "The path of the logo.",
                    "title": "Logo Path"
                  },
                  "DataClasses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The attribute of a record compromised in a breach.",
                    "title": "Data Classes"
                  },
                  "IsVerified": {
                    "type": "boolean",
                    "description": "Whether it is verified.",
                    "title": "Is Verified"
                  },
                  "IsFabricated": {
                    "type": "boolean",
                    "description": "Whether it is fabricated.",
                    "title": "Is Fabricated"
                  },
                  "IsSensitive": {
                    "type": "boolean",
                    "description": "Whether is sensitive.",
                    "title": "Is Sensitive"
                  },
                  "IsRetired": {
                    "type": "boolean",
                    "description": "Whether is retired.",
                    "title": "Is Retired"
                  },
                  "IsSpamList": {
                    "type": "boolean",
                    "description": "Whether is on spam list.",
                    "title": "Is Spam List"
                  },
                  "IsMalware": {
                    "type": "boolean",
                    "description": "Whether is malware.",
                    "title": "Is Malware"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all breaches for an account",
        "description": "Returns a list of all breaches a particular account has been involved in. The service takes a single parameter which is the account to be searched for. The account is not case sensitive and will be trimmed of leading or trailing white spaces.",
        "operationId": "AllBreachesAccount",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "x-ms-summary": "Account",
            "x-ms-url-encoding": "single",
            "description": "Either an email address or telephone number.",
            "required": true,
            "type": "string"
          },
          {
            "name": "truncateResponse",
            "in": "query",
            "x-ms-summary": "Truncate Response",
            "description": "Whether to return the full breach model.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "domain",
            "in": "query",
            "x-ms-summary": "Domain",
            "description": "Filters the result set to only breaches against the domain specified.",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeUnverified",
            "in": "query",
            "x-ms-summary": "Include Unverified",
            "description": "Returns breaches that have been flagged as unverified. By default, both verified and unverified breaches are returned when performing a search.",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "AllBreachesAccount",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/v3/dataclasses": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "summary": "Get all data classes in the system",
        "description": "A \"data class\" is an attribute of a record compromised in a breach. For example, many breaches expose data classes such as \"Email addresses\" and \"Passwords\". The values returned by this service are ordered alphabetically in a string array and will expand over time as new breaches expose previously unseen classes of data.",
        "operationId": "DataClasses",
        "parameters": [],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "DataClasses",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/v3/pasteaccount/{account}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Source": {
                    "type": "string",
                    "description": "The source.",
                    "title": "Source"
                  },
                  "Id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "Title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "Date": {
                    "type": "string",
                    "description": "The date.",
                    "title": "Date"
                  },
                  "EmailCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The email count.",
                    "title": "Email Count"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all pastes for an account",
        "description": "This action takes a single parameter which is the email address to be searched for. The email is not case sensitive and will be trimmed of leading or trailing white spaces.",
        "operationId": "Pastes",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "x-ms-summary": "Account",
            "x-ms-url-encoding": "single",
            "description": "The account.",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Pastes",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/v3/breaches": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "Title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "Domain": {
                    "type": "string",
                    "description": "The domain.",
                    "title": "Domain"
                  },
                  "BreachDate": {
                    "type": "string",
                    "description": "The date of the breach.",
                    "title": "Breach Date"
                  },
                  "AddedDate": {
                    "type": "string",
                    "description": "The date added.",
                    "title": "Added Date"
                  },
                  "ModifiedDate": {
                    "type": "string",
                    "description": "The date, if any, modified.",
                    "title": "Modified Date"
                  },
                  "PwnCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The count pwned.",
                    "title": "Pwn Count"
                  },
                  "Description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "LogoPath": {
                    "type": "string",
                    "description": "The path of the logo.",
                    "title": "Logo Path"
                  },
                  "DataClasses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The attribute of a record compromised in a breach.",
                    "title": "Data Classes"
                  },
                  "IsVerified": {
                    "type": "boolean",
                    "description": "Whether it is verified.",
                    "title": "Is Verified"
                  },
                  "IsFabricated": {
                    "type": "boolean",
                    "description": "Whether is fabricated.",
                    "title": "Is Fabricated"
                  },
                  "IsSensitive": {
                    "type": "boolean",
                    "description": "Whether is sensitive.",
                    "title": "Is Sensitive"
                  },
                  "IsRetired": {
                    "type": "boolean",
                    "description": "Whether is retired.",
                    "title": "Is Retired"
                  },
                  "IsSpamList": {
                    "type": "boolean",
                    "description": "Whether is on spam list.",
                    "title": "Is Spam List"
                  },
                  "IsMalware": {
                    "type": "boolean",
                    "description": "Whether is malware.",
                    "title": "Is Malware"
                  }
                }
              }
            }
          }
        },
        "summary": "Get all breached sites in the system",
        "description": "A breach is an instance of a system having been compromised by an attacker and the data disclosed.",
        "operationId": "AllBreaches",
        "parameters": [],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "AllBreaches",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/v3/breach/{name}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "Title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "Domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "BreachDate": {
                  "type": "string",
                  "description": "The date of breach.",
                  "title": "Breach Date"
                },
                "AddedDate": {
                  "type": "string",
                  "description": "The date added.",
                  "title": "Added Date"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "The date, if any, modified.",
                  "title": "Modified Date"
                },
                "PwnCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pwned count.",
                  "title": "Pwn Count"
                },
                "Description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "LogoPath": {
                  "type": "string",
                  "description": "The path to the logo.",
                  "title": "Logo Path"
                },
                "DataClasses": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The attribute of a record compromised in a breach.",
                  "title": "Data Classes"
                },
                "IsVerified": {
                  "type": "boolean",
                  "description": "Whether is verified.",
                  "title": "Is Verified"
                },
                "IsFabricated": {
                  "type": "boolean",
                  "description": "Whether is fabricated.",
                  "title": "Is Fabricated"
                },
                "IsSensitive": {
                  "type": "boolean",
                  "description": "Whether is sensitive.",
                  "title": "Is Sensitive"
                },
                "IsRetired": {
                  "type": "boolean",
                  "description": "Whether is retired.",
                  "title": "Is Retired"
                },
                "IsSpamList": {
                  "type": "boolean",
                  "description": "Whether is on spam list.",
                  "title": "Is Spam List"
                },
                "IsMalware": {
                  "type": "boolean",
                  "description": "Whether is malware.",
                  "title": "Is Malware"
                }
              }
            }
          }
        },
        "summary": "Get a single breached site",
        "description": "Sometimes just a single breach is required and this can be retrieved by the breach name. This is the stable value which may or may not be the same as the breach title (which can change).",
        "operationId": "BreachSingle",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "x-ms-summary": "Name",
            "x-ms-url-encoding": "single",
            "description": "A Pascal-cased name representing the breach which is unique across all other breaches.",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "BreachSingle",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/v3/latestbreach": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "Title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "Domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "BreachDate": {
                  "type": "string",
                  "description": "The breach date.",
                  "title": "Breach Date"
                },
                "AddedDate": {
                  "type": "string",
                  "description": "The added date.",
                  "title": "Added Date"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "The modified date.",
                  "title": "ModifiedDate"
                },
                "PwnCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pwn count.",
                  "title": "Pwn Count"
                },
                "Description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "LogoPath": {
                  "type": "string",
                  "description": "The logo path.",
                  "title": "Logo Path"
                },
                "DataClasses": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The data classes.",
                  "title": "Data Classes"
                },
                "IsVerified": {
                  "type": "boolean",
                  "description": "Whether is verified.",
                  "title": "Is Verified"
                },
                "IsFabricated": {
                  "type": "boolean",
                  "description": "Whether is fabricated.",
                  "title": "Is Fabricated"
                },
                "IsSensitive": {
                  "type": "boolean",
                  "description": "Whether is sensitive.",
                  "title": "Is Sensitive"
                },
                "IsRetired": {
                  "type": "boolean",
                  "description": "Whether is retired.",
                  "title": "Is Retired"
                },
                "IsSpamList": {
                  "type": "boolean",
                  "description": "Whether is spam list.",
                  "title": "Is Spam List"
                },
                "IsMalware": {
                  "type": "boolean",
                  "description": "Whether is malware.",
                  "title": "Is Malware"
                },
                "IsSubscriptionFree": {
                  "type": "boolean",
                  "description": "Whether is subscription free.",
                  "title": "Is Subscription Free"
                }
              }
            }
          }
        },
        "summary": "Get the most recently added breach",
        "description": "Retrieve the most recently added breach.",
        "operationId": "BreachRecent",
        "parameters": [],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "BreachRecent",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "hibp-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://haveibeenpwned.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://haveibeenpwned.com/Privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security"
    }
  ],
  "x-ms-openai-manifest": {
    "humanName": "Have I Been Pwned",
    "modelDescription": "Have I Been Pwned allows you to search across multiple data breaches to see if your email address or phone number has been compromised.",
    "contactEmail": "ttaylor@hitachisolutions.com"
  }
}
