{
  "swagger": "2.0",
  "info": {
    "title": "Have I Been Pwned",
    "description": "Check if your email or phone is in a data breach.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "haveibeenpwned.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/api/v3/breachedaccount/{account}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "Title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "Domain": {
                    "type": "string",
                    "description": "The domain.",
                    "title": "Domain"
                  },
                  "BreachDate": {
                    "type": "string",
                    "description": "The date of the breach.",
                    "title": "BreachDate"
                  },
                  "AddedDate": {
                    "type": "string",
                    "description": "The date added.",
                    "title": "AddedDate"
                  },
                  "ModifiedDate": {
                    "type": "string",
                    "description": "The date, if any, modified.",
                    "title": "ModifiedDate"
                  },
                  "PwnCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The count pwned.",
                    "title": "PwnCount"
                  },
                  "Description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "LogoPath": {
                    "type": "string",
                    "description": "The path of the logo.",
                    "title": "LogoPath"
                  },
                  "DataClasses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The attribute of a record compromised in a breach.",
                    "title": "DataClasses"
                  },
                  "IsVerified": {
                    "type": "boolean",
                    "description": "Whether it is verified.",
                    "title": "IsVerified"
                  },
                  "IsFabricated": {
                    "type": "boolean",
                    "description": "Whether it is fabricated.",
                    "title": "IsFabricated"
                  },
                  "IsSensitive": {
                    "type": "boolean",
                    "description": "Whether is sensitive.",
                    "title": "IsSensitive"
                  },
                  "IsRetired": {
                    "type": "boolean",
                    "description": "Whether is retired.",
                    "title": "IsRetired"
                  },
                  "IsSpamList": {
                    "type": "boolean",
                    "description": "Whether is on spam list.",
                    "title": "IsSpamList"
                  },
                  "IsMalware": {
                    "type": "boolean",
                    "description": "Whether is malware.",
                    "title": "IsMalware"
                  }
                }
              }
            }
          }
        },
        "summary": "Getting all breaches for an account",
        "description": "The most common use of the API is to return a list of all breaches a particular account has been involved in. The API takes a single parameter which is the account to be searched for. The account is not case sensitive and will be trimmed of leading or trailing white spaces.",
        "operationId": "AllBreachesAccount",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "x-ms-summary": "Account",
            "x-ms-url-encoding": "single",
            "description": "The account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "truncateResponse",
            "in": "query",
            "x-ms-summary": "Truncate Response",
            "description": "Whether to return the full breach model.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "domain",
            "in": "query",
            "x-ms-summary": "Domain",
            "description": "Filters the result set to only breaches against the domain specified.",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeUnverified",
            "in": "query",
            "x-ms-summary": "Include Unverified",
            "description": "Returns breaches that have been flagged as unverified. By default, both verified and unverified breaches are returned when performing a search.",
            "required": false,
            "type": "boolean"
          }
        ]
      }
    },
    "/api/v3/dataclasses": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "summary": "Getting all data classes in the system",
        "description": "A \"data class\" is an attribute of a record compromised in a breach. For example, many breaches expose data classes such as \"Email addresses\" and \"Passwords\". The values returned by this service are ordered alphabetically in a string array and will expand over time as new breaches expose previously unseen classes of data.",
        "operationId": "DataClasses",
        "parameters": []
      }
    },
    "/api/v3/pasteaccount/{account}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Source": {
                    "type": "string",
                    "description": "The source.",
                    "title": "Source"
                  },
                  "Id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "Title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "Date": {
                    "type": "string",
                    "description": "The date.",
                    "title": "Date"
                  },
                  "EmailCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The email count.",
                    "title": "EmailCount"
                  }
                }
              }
            }
          }
        },
        "summary": "Getting all pastes for an account",
        "description": "This action takes a single parameter which is the email address to be searched for. The email is not case sensitive and will be trimmed of leading or trailing white spaces.",
        "operationId": "Pastes",
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "x-ms-summary": "Account",
            "x-ms-url-encoding": "single",
            "description": "The account.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/api/v3/breaches": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "Title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "Domain": {
                    "type": "string",
                    "description": "The domain.",
                    "title": "Domain"
                  },
                  "BreachDate": {
                    "type": "string",
                    "description": "The date of the breach.",
                    "title": "BreachDate"
                  },
                  "AddedDate": {
                    "type": "string",
                    "description": "The date added.",
                    "title": "AddedDate"
                  },
                  "ModifiedDate": {
                    "type": "string",
                    "description": "The date, if any, modified.",
                    "title": "ModifiedDate"
                  },
                  "PwnCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The count pwned.",
                    "title": "PwnCount"
                  },
                  "Description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "LogoPath": {
                    "type": "string",
                    "description": "The path of the logo.",
                    "title": "LogoPath"
                  },
                  "DataClasses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The attribute of a record compromised in a breach.",
                    "title": "DataClasses"
                  },
                  "IsVerified": {
                    "type": "boolean",
                    "description": "Whether it is verified.",
                    "title": "IsVerified"
                  },
                  "IsFabricated": {
                    "type": "boolean",
                    "description": "Whether is fabricated.",
                    "title": "IsFabricated"
                  },
                  "IsSensitive": {
                    "type": "boolean",
                    "description": "Whether is sensitive.",
                    "title": "IsSensitive"
                  },
                  "IsRetired": {
                    "type": "boolean",
                    "description": "Whether is retired.",
                    "title": "IsRetired"
                  },
                  "IsSpamList": {
                    "type": "boolean",
                    "description": "Whether is on spam list.",
                    "title": "IsSpamList"
                  },
                  "IsMalware": {
                    "type": "boolean",
                    "description": "Whether is malware.",
                    "title": "IsMalware"
                  }
                }
              }
            }
          }
        },
        "summary": "Getting all breached sites in the system",
        "description": "A breach is an instance of a system having been compromised by an attacker and the data disclosed.",
        "operationId": "AllBreaches",
        "parameters": []
      }
    },
    "/api/v3/breach/{name}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "Title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "Domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "BreachDate": {
                  "type": "string",
                  "description": "The date of breach.",
                  "title": "BreachDate"
                },
                "AddedDate": {
                  "type": "string",
                  "description": "The date added.",
                  "title": "AddedDate"
                },
                "ModifiedDate": {
                  "type": "string",
                  "description": "The date, if any, modified.",
                  "title": "ModifiedDate"
                },
                "PwnCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The pwned count.",
                  "title": "PwnCount"
                },
                "Description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "LogoPath": {
                  "type": "string",
                  "description": "The path to the logo.",
                  "title": "LogoPath"
                },
                "DataClasses": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The attribute of a record compromised in a breach.",
                  "title": "DataClasses"
                },
                "IsVerified": {
                  "type": "boolean",
                  "description": "Whether is verified.",
                  "title": "IsVerified"
                },
                "IsFabricated": {
                  "type": "boolean",
                  "description": "Whether is fabricated.",
                  "title": "IsFabricated"
                },
                "IsSensitive": {
                  "type": "boolean",
                  "description": "Whether is sensitive.",
                  "title": "IsSensitive"
                },
                "IsRetired": {
                  "type": "boolean",
                  "description": "Whether is retired.",
                  "title": "IsRetired"
                },
                "IsSpamList": {
                  "type": "boolean",
                  "description": "Whether is on spam list.",
                  "title": "IsSpamList"
                },
                "IsMalware": {
                  "type": "boolean",
                  "description": "Whether is malware.",
                  "title": "IsMalware"
                }
              }
            }
          }
        },
        "summary": "Getting a single breached site",
        "description": "Sometimes just a single breach is required and this can be retrieved by the breach name. This is the stable value which may or may not be the same as the breach title (which can change).",
        "operationId": "BreachSingle",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "x-ms-summary": "Name",
            "x-ms-url-encoding": "single",
            "description": "A Pascal-cased name representing the breach which is unique across all other breaches.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "hibp-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://haveibeenpwned.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://haveibeenpwned.com/Privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security"
    }
  ]
}
