{
    "swagger": "2.0",
    "info": {
        "title": "PowerBI Robots",
        "description": "PowerBI Robots connector to execute the internal API across the multiple Power Platform products",
        "version": "1.0",
        "contact": {
            "name": "DevScope Support",
            "url": "https://devscope.net/contacts/",
            "email": "support@devscope.net"
        }
    },
    "host": "powerbitiles.com",
    "basePath": "/PBIRobots",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [],
    "paths": {
        "/api/v1/playlist.enable": {
            "post": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {},
                        "headers": {
                            "Content-Type": {
                                "description": "Content-Type",
                                "type": "string"
                            },
                            "Content-Encoding": {
                                "description": "Content-Encoding",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Playlist enable",
                "description": "Enable a specific playlist",
                "operationId": "Playlist-enable",
                "parameters": [{
                        "name": "Account Id",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "<Your public account Id>",
                        "x-ms-summary": "Your public account Id given by PowerBI Robots"
                    },

					{
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "<Your playlist Id>",
                                    "title": "Playlist Id"
                                }
                            },
                            "required": [
                                "id"
                            ]
                        }
                    }
                ]
            }
        },
        "/api/v1/playlist.disable": {
            "post": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {},
                        "headers": {
                            "Content-Type": {
                                "description": "Content-Type",
                                "type": "string"
                            }
                        }
                    }
                },
                "summary": "Playlist disable",
                "description": "Disable a specific playlist",
                "operationId": "Playlist-disable",
                "parameters": [{
                        "name": "Account Id",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "<Your public account Id>",
                        "x-ms-summary": "Your public account Id given by PowerBI Robots"
                    }, {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "<Your playlist Id>",
                                    "title": "Playlist Id"
                                }
                            },
                            "required": [
                                "id"
                            ]
                        }
                    }
                ]
            }
        },
        "/api/v1/playlist.execute": {
            "post": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                },
                "summary": "Playlist execute",
                "description": "Execute a specific playlist",
                "operationId": "Playlist-execute",
                "parameters": [{
                        "name": "Account Id",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": "<Your public account Id>",
                        "x-ms-summary": "Your public account Id given by PowerBI Robots"
                    }, {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "<Your playlist Id>",
                                    "title": "Playlist Id"
                                }
                            },
                            "required": [
                                "id"
                            ]
                        }
                    }
                ]
            }
        }
    },
    "x-ms-connector-metadata": [{
            "propertyName": "Website",
            "propertyValue": "https://devscope.net/"
        }, {
            "propertyName": "Privacy policy",
            "propertyValue": "https://devscope.net/privacy-policy/"
        }, {
            "propertyName": "Categories",
            "propertyValue": "Data;Business Management"
        }
    ],
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "API Key": {
            "type": "apiKey",
            "in": "header",
            "name": "AccountId"
        }
    },
    "security": [{
            "API Key": []
        }
    ],
    "tags": []
}

