{
  "swagger": "2.0",
  "info": {
    "title": "Yeeflow",
    "description": "Yeeflow is a no-code application development platform that empowers you to build enterprise-class applications that run on mobile, tablet, and web. Create custom forms, configure workflows, build informative dashboard, and get your app up and running in minutes.",
    "version": "2.0",
    "contact": {
      "name": "Yeeflow Support",
      "url": "https://support.yeeflow.com",
      "email": "support@yeeflow.com"
    }
  },
  "host": "api.yeeflow.com",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.yeeflow.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.yeeflow.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Business Management"
    }
  ],
  "paths": {
    "/lists/41/{listID}/items": {
      "post": {
        "consumes": ["application/json"],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "string",
                  "description": "ID of added item",
                  "x-ms-summary": "Item ID"
                },
                "Status": {
                  "type": "integer",
                  "description": "0 is success",
                  "format": "int32"
                },
                "Message": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "summary": "Add an item to a list",
        "operationId": "AddItem",
        "parameters": [
          {
            "$ref": "#/parameters/application"
          },
          {
            "$ref": "#/parameters/listID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetListFieldsSchema",
                    "value-path": "Data",
                    "parameters": {
                      "appID": 41,
                      "listID": {
                        "parameter": "listID"
                      },
                      "type": "editable"
                    }
                  }
                }
              }
            }
          }
        ],
        "description": "Add an item to a list"
      }
    },
    "/lists/{appID}/{listID}/fields/schema": {
      "get": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "object",
                  "description": "List fields schema"
                }
              }
            }
          }
        },
        "summary": "Get List Fields Schema",
        "operationId": "GetListFieldsSchema",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "listID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "editable"
            ],
            "x-ms-summary": "Field types fitler",
            "x-ms-enum-values": [
              {
                "displayName": "All fields",
                "value": "all"
              },
              {
                "displayName": "Editable fields",
                "value": "editable"
              }
            ]
          }
        ],
        "description": "Get List Fields Schema"
      }
    },
    "/lists/41/{listID}/items/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetListFieldsSchema",
                    "value-path": "Data",
                    "parameters": {
                      "appID": 41,
                      "listID": {
                        "parameter": "listID"
                      }
                    }
                  }
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status"
                },
                "Message": {
                  "type": "string",
                  "description": "Message"
                }
              }
            }
          }
        },
        "summary": "Get an item by ID",
        "description": "Get an item by ID",
        "operationId": "GetItem",
        "parameters": [
          {
            "$ref": "#/parameters/application"
          },
          {
            "$ref": "#/parameters/listID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ListDataID",
            "x-ms-summary": "Item ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "string",
                  "description": "ID of deleted item",
                  "x-ms-summary": "Item ID"
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status"
                },
                "Message": {
                  "type": "string",
                  "description": "Message"
                }
              }
            }
          }
        },
        "summary": "Delete an item",
        "description": "Delete an item",
        "operationId": "DeleteItem",
        "parameters": [
          {
            "$ref": "#/parameters/application"
          },
          {
            "$ref": "#/parameters/listID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ListDataID",
            "x-ms-summary": "Item ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "patch": {
        "consumes": ["application/json"],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "string",
                  "description": "ID of updated item",
                  "x-ms-summary": "Item ID"
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status"
                },
                "Message": {
                  "type": "string",
                  "description": "Message"
                }
              }
            }
          }
        },
        "summary": "Update an item by ID",
        "operationId": "UpdateItem",
        "description": "Update an item by ID",
        "parameters": [
          {
            "$ref": "#/parameters/application"
          },
          {
            "$ref": "#/parameters/listID"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ListDataID",
            "x-ms-summary": "Item ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "RowVersion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "RowVersion"
                },
                "Data": {
                  "type": "object",
                  "x-ms-dynamic-schema": {
                    "operationId": "GetListFieldsSchema",
                    "value-path": "Data",
                    "parameters": {
                      "appID": 41,
                      "listID": {
                        "parameter": "listID"
                      },
                      "type": "editable"
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/lists/41/{listID}/fields": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "FieldID": {
                        "type": "string",
                        "description": "Field ID"
                      },
                      "FieldName": {
                        "type": "string",
                        "description": "Field Name"
                      },
                      "DisplayName": {
                        "type": "string",
                        "description": "Display Name"
                      },
                      "InternalName": {
                        "type": "string",
                        "description": "Internal Name"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Type"
                      },
                      "DefaultValue": {
                        "type": "string",
                        "description": "Default Value"
                      },
                      "Rules": {
                        "type": "string",
                        "description": "Rules"
                      },
                      "IsSort": {
                        "type": "boolean",
                        "description": "IsSort"
                      },
                      "IsIndex": {
                        "type": "boolean",
                        "description": "IsIndex"
                      },
                      "IsSystem": {
                        "type": "boolean",
                        "description": "IsSystem"
                      },
                      "IsUnique": {
                        "type": "boolean",
                        "description": "IsUnique"
                      },
                      "Created": {
                        "type": "string",
                        "description": "Created"
                      },
                      "Modified": {
                        "type": "string",
                        "description": "Modified"
                      },
                      "CreatedBy": {
                        "type": "string",
                        "description": "Created By"
                      },
                      "ModifiedBy": {
                        "type": "string",
                        "description": "Modified By"
                      }
                    }
                  },
                  "description": "Data"
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status"
                },
                "Message": {
                  "type": "string",
                  "description": "Message"
                },
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TotalCount"
                }
              }
            }
          }
        },
        "summary": "Get fields of a list",
        "description": "Get fields of a list",
        "operationId": "GetListFields",
        "parameters": [
          {
            "$ref": "#/parameters/application"
          },
          {
            "$ref": "#/parameters/listID"
          }
        ]
      }
    },
    "/applications": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "AppID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "AppID"
                      },
                      "ListID": {
                        "type": "string",
                        "description": "ListID"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "IsVerRecord": {
                        "type": "boolean",
                        "description": "IsVerRecord"
                      },
                      "IconUrl": {
                        "type": "string",
                        "description": "IconUrl"
                      },
                      "Created": {
                        "type": "string",
                        "description": "Created"
                      },
                      "Modified": {
                        "type": "string",
                        "description": "Modified"
                      },
                      "CreatedBy": {
                        "type": "string",
                        "description": "CreatedBy"
                      },
                      "ModifiedBy": {
                        "type": "string",
                        "description": "ModifiedBy"
                      },
                      "WorkspaceID": {
                        "type": "string",
                        "description": "WorkspaceID"
                      }
                    }
                  },
                  "description": "Data"
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status"
                },
                "Message": {
                  "type": "string",
                  "description": "Message"
                }
              }
            }
          }
        },
        "summary": "Get Applications",
        "description": "Get Applications",
        "x-ms-visibility": "internal",
        "operationId": "GetApplications",
        "parameters": [
          {
            "name": "appID",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/applications/{listID}/lists": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "AppID": {
                        "type": "integer",
                        "format": "int32",
                        "description": "AppID"
                      },
                      "ListID": {
                        "type": "string",
                        "description": "ListID"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "IsVerRecord": {
                        "type": "boolean",
                        "description": "IsVerRecord"
                      },
                      "IconUrl": {
                        "type": "string",
                        "description": "IconUrl"
                      },
                      "Created": {
                        "type": "string",
                        "description": "Created"
                      },
                      "Modified": {
                        "type": "string",
                        "description": "Modified"
                      },
                      "CreatedBy": {
                        "type": "string",
                        "description": "CreatedBy"
                      },
                      "ModifiedBy": {
                        "type": "string",
                        "description": "ModifiedBy"
                      },
                      "WorkspaceID": {
                        "type": "string",
                        "description": "WorkspaceID"
                      }
                    }
                  },
                  "description": "Data"
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status"
                },
                "Message": {
                  "type": "string",
                  "description": "Message"
                }
              }
            }
          }
        },
        "summary": "Get Lists of Application",
        "description": "Get Lists of Application",
        "x-ms-visibility": "internal",
        "operationId": "GetApplicationLists",
        "parameters": [
          {
            "name": "listID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "appID",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/lists/41/{listID}/hooks/1": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/webhookResponse"
        },
        "description": "Webhook response"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes": ["application/json"],
        "summary": "When an item is created",
        "description": "When an item is created",
        "operationId": "OnItemCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "$ref": "#/parameters/application"
          },
          {
            "$ref": "#/parameters/listID"
          },
          {
            "$ref": "#/parameters/channel"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/lists/41/{listID}/hooks/2": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/webhookResponse"
        },
        "description": "Webhook response"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes": ["application/json"],
        "summary": "When an item is modified",
        "description": "When an item is modified",
        "operationId": "OnItemModified",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "$ref": "#/parameters/application"
          },
          {
            "$ref": "#/parameters/listID"
          },
          {
            "$ref": "#/parameters/channel"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/lists/41/{listID}/hooks/3": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/webhookResponse"
        },
        "description": "Webhook response"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes": ["application/json"],
        "summary": "When an item is created or modified",
        "description": "When an item is created or modified",
        "operationId": "OnItemCreatedModified",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "$ref": "#/parameters/application"
          },
          {
            "$ref": "#/parameters/listID"
          },
          {
            "$ref": "#/parameters/channel"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/lists/41/{listID}/hooks/4": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/webhookResponse"
        },
        "description": "Webhook response"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          }
        },
        "consumes": ["application/json"],
        "summary": "When an item is deleted",
        "description": "When an item is deleted",
        "operationId": "OnItemDeleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "$ref": "#/parameters/application"
          },
          {
            "$ref": "#/parameters/listID"
          },
          {
            "$ref": "#/parameters/channel"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/lists/41/{listID}/items/query": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "description": "Query retrieved items",
                  "x-ms-summary": "Items",
                  "type": "array",
                  "items": {
                    "x-ms-dynamic-schema": {
                      "operationId": "GetListFieldsSchema",
                      "value-path": "Data",
                      "parameters": {
                        "appID": 41,
                        "listID": {
                          "parameter": "listID"
                        }
                      }
                    }
                  }
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status"
                },
                "Message": {
                  "type": "string",
                  "description": "Message"
                },
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TotalCount"
                }
              }
            }
          }
        },
        "consumes": ["application/json"],
        "summary": "Query items",
        "description": "Query items",
        "operationId": "QueryItems",
        "parameters": [
          {
            "$ref": "#/parameters/application"
          },
          {
            "$ref": "#/parameters/listID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Fields": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/fieldName"
                  },
                  "description": "Only data for fields whose IDs are in this list will be included in the result. If you don't need every field, you can use this parameter to reduce the amount of data transferred.\n\n  Server will return all fields value of the item if you don't pass this parameter.\n"
                },
                "Filters": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/listDataWhereRequest"
                  },
                  "description": "Filters"
                },
                "Sorts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Field": {
                        "$ref": "#/definitions/fieldName"
                      },
                      "Desc": {
                        "type": "boolean",
                        "description": "Desc",
                        "x-ms-summary": "Is descending"
                      }
                    }
                  },
                  "description": "Sorts"
                },
                "PageIndex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page number",
                  "x-ms-summary": "Page number",
                  "default": 1
                },
                "PageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of records per page",
                  "x-ms-summary": "Page size",
                  "default": 10
                }
              }
            }
          }
        ]
      }
    },
    "/lists/{appID}/{listID}/hooks/{hookId}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a trigger",
        "operationId": "DeleteTrigger",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "listID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "hookId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Delete a trigger"
      }
    }
  },
  "definitions": {
    "listDataWhereRequest": {
      "type": "object",
      "properties": {
        "Field": {
          "$ref": "#/definitions/fieldName"
        },
        "Value": {
          "type": "string",
          "description": "Value"
        },
        "Type": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Filter type",
          "description": "https://developer.yeeflow.com/api/#defFilterTypes"
        },
        "Pre": {
          "type": "string",
          "description": "Relation to the previous condition",
          "default": "and",
          "enum": [
            "and",
            "or"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Or",
              "value": "or"
            },
            {
              "displayName": "And",
              "value": "and"
            }
          ]
        },
        "Child": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/listDataWhereRequest"
          },
          "description": "Nested filter objects"
        }
      }
    },
    "webhookBody": {
      "type": "object",
      "properties": {
        "columnType": {
          "type": "integer",
          "default": 0
        },
        "callbackUrl": {
          "type": "string",
          "description": "callbackUrl",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal",
          "title": ""
        }
      },
      "required": [
        "callbackUrl"
      ]
    },
    "webhookResponse": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetListFieldsSchema",
        "value-path": "Data",
        "parameters": {
          "appID": 41,
          "listID": {
            "parameter": "listID"
          }
        }
      }
    },
    "fieldName": {
      "type": "string",
      "x-ms-summary": "Field",
      "description": "Select a field",
      "x-ms-dynamic-values": {
        "operationId": "GetListFields",
        "value-path": "FieldName",
        "value-title": "DisplayName",
        "value-collection": "Data",
        "parameters": {
          "application": "",
          "listID": {
            "parameter": "listID"
          }
        }
      }
    }
  },
  "parameters": {
    "application": {
      "name": "application",
      "x-ms-summary": "Application",
      "description": "Select an application",
      "in": "query",
      "type": "string",
      "required": true,
      "x-ms-dynamic-values": {
        "operationId": "GetApplications",
        "value-path": "ListID",
        "value-title": "Title",
        "value-collection": "Data",
        "parameters": {
          "appID": 41
        }
      }
    },
    "listID": {
      "name": "listID",
      "x-ms-summary": "List",
      "x-ms-url-encoding": "single",
      "description": "Select a list",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-dynamic-values": {
        "operationId": "GetApplicationLists",
        "value-path": "ListID",
        "value-title": "Title",
        "value-collection": "Data",
        "parameters": {
          "appID": 41,
          "listID": {
            "parameter": "application"
          }
        }
      }
    },
    "channel": {
      "name": "channel",
      "x-ms-summary": "Channel for trigger",
      "x-ms-visibility": "internal",
      "description": "Channel for trigger",
      "in": "query",
      "type": "string",
      "default": "ms-power",
      "required": true
    }
  },
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.yeeflow.com/connect/authorize",
      "tokenUrl": "https://login.yeeflow.com/connect/token",
      "scopes": {
        "openid basic_api offline_access": "openid basic_api offline_access"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "openid basic_api offline_access"
      ]
    }
  ],
  "tags": []
}