{
  "swagger": "2.0",
  "info": {
    "title": "Etsy",
    "description": "This connector uses your API key to access various Etsy.com features. It supports actions for inventory, sales orders, and shop management. All actions are based on Etsy Open API v3 which does have endpoints that are still in beta. If such as actions use the beta API, the action with include Beta in the title and will return a 501 response code.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "openapi.etsy.com",
  "basePath": "/v3/application/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/openapi-ping": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Ping",
        "description": "Check to confirm connectivity to the Etsy API with an application.",
        "operationId": "Ping",
        "parameters": []
      }
    },
    "/shops/{shop_id}/payment-account/ledger-entries": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a shop payment account ledger's entries",
        "description": "Retrieve the entries of a shop's payment account ledger.",
        "operationId": "PaymentLedgerEntries",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "min_created",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "The earliest unix timestamp for when a record was created.",
            "x-ms-summary": "Minimum Created"
          },
          {
            "name": "max_created",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "The latest unix timestamp for when a record was created.",
            "x-ms-summary": "Maximum Created"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      }
    },
    "/shops/{shop_id}/payment-account/ledger-entries/payments": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a payment from a payment account ledger entry ID",
        "description": "Get a Payment from a Payment Account Ledger Entry ID, if applicable.",
        "operationId": "PaymentGetEntryID",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ledger_entry_ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Array of integers.",
            "x-ms-summary": "Ledger Entry IDs"
          }
        ]
      }
    },
    "/shops/{shop_id}/receipts/{receipt_id}/payments": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a payment from a specific receipt",
        "description": "Retrieves a payment from a specific receipt, identified by receipt ID, from a specific shop, identified by shop ID.",
        "operationId": "PaymentGetReceipt",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "receipt_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The numeric ID for the receipt associated to this transaction.",
            "x-ms-summary": "Receipt ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/shops/{shop_id}/payments": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "PaymentsGet",
        "summary": "Get a list of payments",
        "description": "Retrieves a list of payments from a shop identified by shop ID. You can also filter results using a list of payment IDs.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "payment-ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A comma-separated array of Payment IDs numbers.",
            "x-ms-summary": "Payment ID"
          }
        ]
      }
    },
    "/shops/{shop_id}/receipts/{receipt_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "ReceiptGet",
        "summary": "Get a receipt",
        "description": "Retrieves a receipt, identified by a receipt ID, from an Etsy shop.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "receipt_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID for the receipt associated to this transaction.",
            "x-ms-summary": "Receipt ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/shops/{shop_id}/receipts": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get receipts",
        "description": "Requests the shop receipts from a specific shop, unfiltered or filtered by receipt ID range or offset, date, paid, and/or shipped purchases.",
        "operationId": "ReceiptsGet",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "min_created",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The earliest unix timestamp for when a record was created.",
            "x-ms-summary": "Minimum Created"
          },
          {
            "name": "max_created",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The latest unix timestamp for when a record was created.",
            "x-ms-summary": "Maximum Created"
          },
          {
            "name": "min_last_modified",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The earliest unix timestamp for when a record last changed.",
            "x-ms-summary": "Earliest Last Modified"
          },
          {
            "name": "max_last_modified",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The latest unix timestamp for when a record last changed.",
            "x-ms-summary": "Latest Last Modified"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "was_paid",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When true, the seller received payment for the product(s) in this receipt.",
            "enum": [
              true,
              false
            ],
            "x-ms-summary": "Was Paid"
          },
          {
            "name": "was_shipped",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When true, the seller shipped the product(s) in this receipt.",
            "enum": [
              true,
              false
            ],
            "x-ms-summary": "Was Shipped"
          }
        ]
      }
    },
    "/shops/{shop_id}/receipts/{receipt_id}/tracking": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "ReceiptCreateShipment",
        "summary": "Create a Shipment Receipt",
        "description": "Submits tracking information for a shop receipt, which creates a shop receipt Shipment entry for the given receipt ID. Each time you successfully submit tracking info, Etsy sends a notification email to the buyer User. When send BCC is true, Etsy sends shipping notifications to the seller as well. When tracking code and carrier name aren't sent, the receipt is marked as shipped only.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "receipt_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The receipt to submit tracking for.",
            "x-ms-summary": "Receipt ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tracking_code": {
                  "type": "string",
                  "description": "The tracking code for this receipt.",
                  "title": "Tracking Code"
                },
                "carrier_name": {
                  "type": "string",
                  "description": "The carrier name for this receipt.",
                  "title": "Carrier Name"
                },
                "send_bcc": {
                  "type": "boolean",
                  "description": "If true, the shipping notification will be sent to the seller as well",
                  "title": "Send BCC",
                  "enum": [
                    true,
                    false
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/listings/{listing_id}/transactions": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "TransactionsListing",
        "description": "Retrieves the list of transactions associated with a listing.",
        "summary": "Retrieve a listing's transactions",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID for the listing associated to this transaction.",
            "x-ms-summary": "Listing ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      }
    },
    "/shops/{shop_id}/receipts/{receipt_id}/transactions": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "TransactionReceipt",
        "summary": "Get a receipt's transaction",
        "description": "Retrieves the list of transactions associated with a specific receipt.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "receipt_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID for the receipt associated to this transaction.",
            "x-ms-summary": "Receipt ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/shops/{shop_id}/transactions/{transaction_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a transaction",
        "description": "Retrieves a transaction by transaction ID.",
        "operationId": "TransactionGet",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique numeric ID for a transaction.",
            "x-ms-summary": "Transaction ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/shops/{shop_id}/transactions": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a shop's transaction",
        "description": "Retrieves the list of transactions associated with a shop.",
        "operationId": "TransactionGetShop",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      }
    },
    "/shops/{shop_id}/reviews": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get reviews",
        "operationId": "ReviewsGet",
        "description": "Retrieves the reviews from a shop given its ID.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      }
    },
    "/shipping-carriers": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get shipping carriers",
        "description": "Retrieves a list of available shipping carriers and the mail classes associated with them for a given country.",
        "operationId": "ShippingCarriers",
        "parameters": [
          {
            "name": "origin_country_iso",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The ISO code of the country from which the listing ships.",
            "x-ms-summary": "Origin Country ISO"
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get shipping profiles",
        "description": "Retrieves a list of shipping profiles available in the specific Etsy shop identified by its shop ID.",
        "operationId": "ShippingProfiles",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a shipping profile",
        "description": "Creates a new shipping profile. You can pass a country ISO code or a region when creating a shipping profile, but not both. Only one is required. You must pass either a shipping carrier ID and mail class, or both min and max delivery days.",
        "operationId": "ShippingCreateProfile",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The name string of this shipping profile.",
                  "x-ms-visibility": "important",
                  "title": "Title",
                  "x-ms-summary": "Title"
                },
                "origin_country_iso": {
                  "type": "string",
                  "description": "The ISO code of the country from which the listing ships.",
                  "title": "Origin Country ISO",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Origin Country ISO"
                },
                "primary_cost": {
                  "type": "number",
                  "description": "The cost of shipping to this country/region alone, measured in the store's default currency.",
                  "x-ms-visibility": "important",
                  "title": "Primary Cost",
                  "format": "float",
                  "x-ms-summary": "Primary Cost"
                },
                "secondary_cost": {
                  "type": "number",
                  "description": "The cost of shipping to this country/region with another item, measured in the store's default currency.",
                  "x-ms-visibility": "important",
                  "title": "Secondary Cost",
                  "format": "float",
                  "x-ms-summary": "Secondary Cost"
                },
                "min_processing_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The minimum time required to process to ship listings with this shipping profile.",
                  "title": "Minimum Processing Time",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10
                  ],
                  "default": 1,
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Minimum Processing Time"
                },
                "max_processing_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum processing time the listing needs to ship.",
                  "title": "Maximum Processing Time",
                  "default": 1,
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10
                  ],
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Maximum Processing Time"
                },
                "processing_time_unit": {
                  "type": "string",
                  "description": "The unit used to represent how long a processing time is. A week is equivalent to 5 business days.",
                  "title": "Processing Time Unit",
                  "x-ms-summary": "Processing Time Unit",
                  "default": "business_days",
                  "enum": [
                    "business_days",
                    "weeks"
                  ]
                },
                "destination_country_iso": {
                  "type": "string",
                  "description": "The ISO code of the country to which the listing ships. If null, request sets destination to destination region.",
                  "title": "Destination Country ISO",
                  "x-ms-summary": "Destination Country ISO"
                },
                "destination_region": {
                  "type": "string",
                  "description": "The code of the region to which the listing ships. A region represents a set of countries. Supported regions are Europe Union and Non-Europe Union (countries in Europe not in EU). If \"none\", request sets destination to destination country ISO, or \"everywhere\" if destination country ISO is also null.",
                  "title": "Destination Region",
                  "default": "none",
                  "enum": [
                    "none",
                    "eu",
                    "non_eu"
                  ],
                  "x-ms-summary": "Destination Region"
                },
                "origin_postal_code": {
                  "type": "string",
                  "description": "The postal code string (not necessarily a number) for the location from which the listing ships.",
                  "title": "Origin Postal Code",
                  "x-ms-summary": "Origin Postal Code"
                },
                "shipping_carrier_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique ID of a supported shipping carrier, which is used to calculate an estimated delivery date.",
                  "title": "Shipping Carrier ID",
                  "default": 0,
                  "x-ms-summary": "Shipping Carrier ID"
                },
                "mail_class": {
                  "type": "string",
                  "description": "The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date.",
                  "title": "Mail Class",
                  "x-ms-summary": "Mail Class"
                },
                "min_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The minimum number of business days a buyer can expect to wait to receive their purchased item once it has shipped.",
                  "title": "Minimum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ],
                  "x-ms-summary": "Minimum Delivery Days"
                },
                "max_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped.",
                  "title": "Maximum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ],
                  "x-ms-summary": "Maximum Delivery Days"
                }
              },
              "required": [
                "max_processing_time",
                "min_processing_time",
                "origin_country_iso",
                "primary_cost",
                "secondary_cost",
                "title"
              ]
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles/{shipping_profile_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "ShippingGetProfile",
        "summary": "Get a shipping profile",
        "description": "Retrieves a shipping profile referenced by shipping profile ID.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a shipping profile",
        "description": "Deletes a shipping profile by given ID.",
        "operationId": "ShippingDeleteProfile",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a shipping profile",
        "description": "Changes the settings in a shipping profile.",
        "operationId": "ShippingUpdateProfile",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The name string of this shipping profile.",
                  "title": "Title"
                },
                "origin_country_iso": {
                  "type": "string",
                  "description": "The ISO code of the country from which the listing ships.",
                  "title": "Origin Country ISO"
                },
                "min_processing_time": {
                  "type": "integer",
                  "description": "The minimum time required to process to ship listings with this shipping profile.",
                  "title": "Minimum Processing Time",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10
                  ]
                },
                "max_processing_time": {
                  "type": "integer",
                  "description": "The maximum processing time the listing needs to ship.",
                  "title": "Maximum Processing Time",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10
                  ]
                },
                "processing_time_unit": {
                  "type": "string",
                  "description": "The unit used to represent how long a processing time is. A week is equivalent to 5 business days. If none is provided, the unit is set to \"business_days\".",
                  "title": "Processing Time Unit",
                  "enum": [
                    "business_days",
                    "weeks"
                  ]
                },
                "origin_postal_code": {
                  "type": "string",
                  "description": "The postal code string (not necessarily a number) for the location from which the listing ships.",
                  "title": "Origin Postal Code"
                }
              }
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/destinations": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get profile destinations by shipping profile",
        "description": "Retrieves a list of shipping destination objects associated with a shipping profile.",
        "operationId": "ShippingGetDestinations",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a shipping profile destination",
        "description": "Creates a new shipping destination, which sets the shipping cost, carrier, and class for a destination in a shipping profile. This assigns costs using the currency of the associated shop. Set the destination using either destination country ISO or destination region; destination country ISO and destination region are mutually exclusive — set one or the other. Setting both triggers error 400. If the request sets neither destination country ISO nor destination region, the default destination is everywhere. You must also either assign both a shipping carrier ID and mail class or both min delivery days and max delivery days.",
        "operationId": "ShippingCreateDestination",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "primary_cost": {
                  "type": "number",
                  "description": "The cost of shipping to this country/region alone, measured in the store's default currency.",
                  "title": "Primary Cost",
                  "format": "float",
                  "x-ms-visibility": "important"
                },
                "secondary_cost": {
                  "type": "string",
                  "description": "The cost of shipping to this country/region with another item, measured in the store's default currency.",
                  "title": "Secondary Cost",
                  "x-ms-visibility": "important"
                },
                "destination_country_iso": {
                  "type": "string",
                  "description": "destination_country_iso"
                },
                "destination_region": {
                  "type": "string",
                  "description": "destination_region"
                },
                "shipping_carrier_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "shipping_carrier_id"
                },
                "mail_class": {
                  "type": "string",
                  "description": "mail_class"
                },
                "min_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "min_delivery_days"
                },
                "max_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "max_delivery_days"
                }
              },
              "required": [
                "primary_cost",
                "secondary_cost"
              ]
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/destinations/{shipping_profile_destination_id}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a shipping profile destination",
        "description": "Deletes a shipping destination and removes the destination option from every listing that uses the associated shipping profile. A shipping profile requires at least one shipping destination, so this endpoint cannot delete the final shipping destination for any shipping profile. To delete the final shipping destination from a shipping profile, you must delete the entire shipping profile.",
        "operationId": "ShippingDeleteProfileDestination",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_destination_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile destination in the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile Destination ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a shipping profile destination",
        "description": "Updates an existing shipping destination, which can set or reassign the shipping cost, carrier, and class for a destination.",
        "operationId": "ShippingUpdateProfileDestination",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_destination_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The numeric ID of the shipping profile destinationassociated with the listing.",
            "x-ms-summary": "Shipping Profile Destination ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "primary_cost": {
                  "type": "string",
                  "description": "primary_cost"
                },
                "secondary_cost": {
                  "type": "string",
                  "description": "secondary_cost"
                },
                "destination_country_iso": {
                  "type": "string",
                  "description": "destination_country_iso"
                },
                "destination_region": {
                  "type": "string",
                  "description": "destination_region"
                },
                "shipping_carrier_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "shipping_carrier_id"
                },
                "mail_class": {
                  "type": "string",
                  "description": "mail_class"
                },
                "min_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "min_delivery_days"
                },
                "max_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "max_delivery_days"
                }
              }
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/upgrades": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get shipping profile upgrades",
        "description": "Retrieves the list of shipping profile upgrades assigned to a specific shipping profile.",
        "operationId": "ShippingGetProfileUpgrades",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a shipping profile upgrade",
        "description": "Creates a new shipping profile upgrade, which can establish a price for a shipping option, such as an alternate carrier or faster delivery.",
        "operationId": "ShippingCreateUpgrade",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type of the shipping upgrade. Domestic (0) or international (1).",
                  "title": "Type",
                  "enum": [
                    "0",
                    "1"
                  ],
                  "x-ms-visibility": "important"
                },
                "upgrade_name": {
                  "type": "string",
                  "description": "Name for the shipping upgrade shown to shoppers at checkout, e.g. USPS Priority.",
                  "title": "Upgrade Name",
                  "x-ms-visibility": "important"
                },
                "price": {
                  "type": "number",
                  "description": "Additional cost of adding the shipping upgrade.",
                  "title": "Price",
                  "format": "float",
                  "x-ms-visibility": "important"
                },
                "secondary_price": {
                  "type": "number",
                  "description": "Additional cost of adding the shipping upgrade for each additional item.",
                  "title": "Secondary Price",
                  "format": "float",
                  "x-ms-visibility": "important"
                },
                "shipping_carrier_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique ID of a supported shipping carrier, which is used to calculate an Estimated Delivery Date.",
                  "title": "Shipping Carrier ID"
                },
                "mail_class": {
                  "type": "string",
                  "description": "The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date.",
                  "title": "Mail Class"
                },
                "min_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "min_delivery_days",
                  "title": "Minimum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ]
                },
                "max_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped.",
                  "title": "Maximum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ]
                }
              },
              "required": [
                "type",
                "upgrade_name",
                "price",
                "secondary_price"
              ]
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/upgrades/{upgrade_id}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a shipping profile upgrade",
        "description": "Deletes a shipping profile upgrade and removes the upgrade option from every listing that uses the associated shipping profile.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "upgrade_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID that is associated with a shipping upgrade",
            "x-ms-summary": "Upgrade ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "operationId": "ShippingDeleteProfileUpgrade"
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a shipping profile upgrade",
        "description": "Updates a shipping profile upgrade and updates any listings that use the shipping profile.",
        "operationId": "ShippingUpdateProfileUpgrade",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "upgrade_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID that is associated with a shipping upgrade",
            "x-ms-summary": "Upgrade ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type of the shipping upgrade. Domestic (0) or international (1).",
                  "title": "Type",
                  "enum": [
                    "0",
                    "1"
                  ],
                  "x-ms-visibility": "important"
                },
                "upgrade_name": {
                  "type": "string",
                  "description": "Name for the shipping upgrade shown to shoppers at checkout, e.g. USPS Priority.",
                  "title": "Upgrade Name",
                  "x-ms-visibility": "important"
                },
                "price": {
                  "type": "number",
                  "description": "Additional cost of adding the shipping upgrade.",
                  "title": "Price",
                  "format": "float",
                  "x-ms-visibility": "important"
                },
                "secondary_price": {
                  "type": "number",
                  "description": "Additional cost of adding the shipping upgrade for each additional item.",
                  "title": "Secondary Price",
                  "format": "float",
                  "x-ms-visibility": "important"
                },
                "shipping_carrier_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique ID of a supported shipping carrier, which is used to calculate an Estimated Delivery Date.",
                  "title": "Shipping Carrier ID"
                },
                "mail_class": {
                  "type": "string",
                  "description": "The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date.",
                  "title": "Mail Class"
                },
                "min_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "min_delivery_days",
                  "title": "Minimum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ]
                },
                "max_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped.",
                  "title": "Maximum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/shops/{shop_id}": {
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a shop",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "A brief heading string for the shop's main page.",
                  "title": "Title"
                },
                "announcement": {
                  "type": "string",
                  "description": "An announcement string to buyers that displays on the shop's homepage.",
                  "title": "Announcement"
                },
                "sale_message": {
                  "type": "string",
                  "description": "A message string sent to users who complete a purchase from this shop.",
                  "title": "Sale Message"
                },
                "digital_sale_message": {
                  "type": "string",
                  "description": "A message string sent to users who purchase a digital item from this shop.",
                  "title": "Digital Sale Message"
                }
              }
            }
          }
        ],
        "description": "Update a shop. Assumes that all string parameters are provided in the shop's primary language.",
        "operationId": "ShopUpdate"
      }
    },
    "/users/{user_id}/shops": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get shop by owner ID",
        "description": "Retrieves the shop identified by the shop owner's user ID.",
        "operationId": "ShopGetByOwnerID",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The numeric user ID of the user who owns this shop.",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/shops": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Search shops",
        "description": "Returns a list of shops with the matching name.",
        "operationId": "ShopSearch",
        "parameters": [
          {
            "name": "shop_name",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The shop's name string.",
            "x-ms-summary": "Shop Name"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      }
    },
    "/shops/{shop_id}/sections": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get shop sections",
        "description": "Retrieves the list of shop sections in a specific shop identified by shop ID.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "operationId": "ShopGetSections"
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a shop section",
        "description": "Creates a new section in a specific shop.",
        "operationId": "ShopCreateSection",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The title string for a shop section.",
                  "title": "Title"
                }
              },
              "required": [
                "title"
              ]
            }
          }
        ]
      }
    },
    "/users/{user_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get user",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an user.",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Returns user profile for the user identified by a user ID.",
        "operationId": "UserGet"
      }
    },
    "/shops/{shop_id}/sections/{shop_section_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get shop section",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shop_section_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of a section in a specific Etsy shop.",
            "x-ms-summary": "Shop Section ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Retrieves the list of shop sections in a specific shop identified by shop ID.",
        "operationId": "ShopGetSection"
      }
    },
    "/user/addresses/{user_address_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get user's address",
        "parameters": [
          {
            "name": "user_address_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the user's address.",
            "x-ms-summary": "User Address ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Retrieves the user's address.  Development for this endpoint is in progress. It will only return a 501 response.",
        "operationId": "UserGetAddress"
      }
    },
    "/user/addresses": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get user addresses",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ],
        "description": "Retrieve a list of user addresses.",
        "operationId": "UserGetAddresses"
      }
    },
    "/seller-taxonomy/nodes": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "ListingGetTaxonomyNodes",
        "description": "Retrieves the full hierarchy tree of seller taxonomy nodes.",
        "summary": "Get seller taxonomy nodes",
        "parameters": []
      }
    },
    "/seller-taxonomy/nodes/{taxonomy_id}/properties": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "ListingGetPropertiesByTaxonomy",
        "summary": "Get product properties by taxonomy ID",
        "description": "Retrieves a list of product properties, with applicable scales and values, supported for a specific seller taxonomy ID.",
        "parameters": [
          {
            "name": "taxonomy_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique numeric ID of an Etsy taxonomy node, which is a metadata category for listings organized into the seller taxonomy hierarchy tree.",
            "x-ms-summary": "Taxonomy ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/shops/{shop_id}/listings": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get listings by shop",
        "description": "Returns listings that belong to a Shop. Listings can be filtered using the state parameter.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "State",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An enumerated string from any of: active or inactive.",
            "enum": [
              "",
              "active",
              "inactive"
            ],
            "x-ms-summary": "State"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "Sort On",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "created",
            "description": "The value to sort a search result of listings on.",
            "enum": [
              "created",
              "price",
              "updated"
            ],
            "x-ms-summary": "Sort On"
          },
          {
            "name": "Sort Order",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The ascending(up) or descending(down) order to sort listings by.",
            "enum": [
              "descending",
              "ascending"
            ],
            "x-ms-summary": "Sort Order"
          }
        ],
        "operationId": "ListingGetShop"
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a draft listing",
        "description": "Creates a physical draft listing product in a shop on the Etsy channel.",
        "operationId": "ListingCreate",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "quantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The positive non-zero number of products available for purchase in the listing.",
                  "title": "Quantity",
                  "x-ms-visibility": "important"
                },
                "title": {
                  "type": "string",
                  "description": "The listing's title string. Valid title strings contain only letters, numbers, punctuation marks, mathematical symbols, whitespace characters, \u2122, \u00a9, and \u00ae. (regex: /[^\\p{L}\\p{Nd}\\p{P}\\p{Sm}\\p{Zs}\u2122\u00a9\u00ae]/u) You can only use the %, :, & and + characters once each.",
                  "title": "Title",
                  "x-ms-visibility": "important",
                  "default": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "A description string of the product for sale in the listing.",
                  "title": "Description",
                  "x-ms-visibility": "important"
                },
                "price": {
                  "type": "number",
                  "format": "float",
                  "description": "The positive non-zero price of the product. (Sold product listings are private) Note: The price is the minimum possible price.",
                  "title": "Price",
                  "x-ms-visibility": "important"
                },
                "who_made": {
                  "type": "string",
                  "description": "An string inidcated who made the product. Helps buyers locate the listing under the Handmade heading. Requires 'is_supply' and 'when_made'.",
                  "title": "Who Made",
                  "default": "i_did",
                  "enum": [
                    "i_did",
                    "someone_else",
                    "collective"
                  ],
                  "x-ms-visibility": "important"
                },
                "when_made": {
                  "type": "string",
                  "description": "A string for the era in which the maker made the product in this listing. Helps buyers locate the listing under the Vintage heading. Requires 'is_supply' and 'who_made'.",
                  "title": "When Made",
                  "x-ms-visibility": "important",
                  "default": "made_to_order",
                  "enum": [
                    "made_to_order",
                    "2020_2021",
                    "2010_2019",
                    "2002_2009",
                    "before_2002",
                    "2000_2001",
                    "1990s",
                    "1980s",
                    "1970s",
                    "1960s",
                    "1950s",
                    "1940s",
                    "1930s",
                    "1920s",
                    "1910s",
                    "1900s",
                    "1800s",
                    "1700s",
                    "before_1700"
                  ]
                },
                "taxonomy_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The numeric taxonomy ID of the listing. The seller manages listing taxonomy IDs for their shop.",
                  "title": "Taxonomy ID",
                  "x-ms-visibility": "important"
                },
                "shipping_profile_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The numeric ID of the shipping profile associated with the listing.",
                  "title": "Shipping Profile ID",
                  "x-ms-visibility": "important"
                },
                "materials": {
                  "type": "string",
                  "description": "A array of material strings for materials used in the product. Valid materials strings contain only letters, numbers, and whitespace characters. (regex: /[^\\p{L}\\p{Nd}\\p{Zs}]/u)",
                  "title": "Materials"
                },
                "shop_section_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The numeric ID of the shop section for this listing.",
                  "title": "Shop Section ID"
                },
                "processing_min": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The minimum number of days required to process this listing.",
                  "title": "Processing Minimum"
                },
                "processing_max": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of days required to process this listing.",
                  "title": "Processing Maximum"
                },
                "tags": {
                  "type": "string",
                  "description": "An array of tag strings for the listing. Valid tag strings contain only letters, numbers, whitespace characters, -, ', \u2122, \u00a9, and \u00ae. (regex: /[^\\p{L}\\p{Nd}\\p{Zs}-'\u2122\u00a9\u00ae]/u)",
                  "title": "Tags"
                },
                "recipient": {
                  "type": "string",
                  "description": "A string indicating a person for whom this product would make an appropriate gift.",
                  "title": "Recipient",
                  "enum": [
                    "men",
                    "women",
                    "unisex_adults",
                    "teen_boys",
                    "teen_girls",
                    "teens",
                    "boys",
                    "girls",
                    "children",
                    "baby_boys",
                    "baby_girls",
                    "babies",
                    "birds",
                    "cats",
                    "dogs",
                    "pets",
                    "not_specified"
                  ]
                },
                "occasion": {
                  "type": "string",
                  "description": "A string indicating an occassion for which this product would make an appropriate gift.",
                  "title": "Occasion",
                  "enum": [
                    "anniversary",
                    "baptism",
                    "bar_or_bat_mitzvah",
                    "birthday",
                    "canada_day",
                    "chinese_new_year",
                    "cinco_de_mayo",
                    "confirmation",
                    "christmas",
                    "day_of_the_dead",
                    "easter",
                    "eid",
                    "engagement",
                    "fathers_day",
                    "get_well",
                    "graduation",
                    "halloween",
                    "hanukkah",
                    "housewarming",
                    "kwanzaa",
                    "prom",
                    "july_4th",
                    "mothers_day",
                    "new_baby",
                    "new_years",
                    "quinceanera",
                    "retirement",
                    "st_patricks_day",
                    "sweet_16",
                    "sympathy",
                    "thanksgiving",
                    "valentines",
                    "wedding"
                  ]
                },
                "styles": {
                  "type": "string",
                  "description": "An array of style strings for this listing, each of which is free-form text string such as \"Formal\", or \"Steampunk\". A Listing may have up to two styles. Valid style strings contain only letters, numbers, and whitespace characters. (regex: /[^\\p{L}\\p{Nd}\\p{Zs}]/u)",
                  "title": "Styles"
                },
                "item_weight": {
                  "type": "number",
                  "format": "float",
                  "description": "The numeric weight of the product measured in units set in item weight unit.",
                  "title": "Item Weight"
                },
                "item_length": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The numeric length of the product measured in units set in item dimensions unit.",
                  "title": "Item Length"
                },
                "item_width": {
                  "type": "number",
                  "format": "float",
                  "description": "The numeric width of the product measured in units set in 'item dimensions unit'.",
                  "title": "Item Width"
                },
                "item_height": {
                  "type": "number",
                  "format": "float",
                  "description": "The numeric height of the product measured in units set in 'item dimensions unit'.",
                  "title": "Item Height"
                },
                "item_weight_unit": {
                  "type": "string",
                  "description": "A string defining the units used to measure the weight of the product.",
                  "title": "Item Weight Unit",
                  "enum": [
                    "",
                    "oz",
                    "lb",
                    "g",
                    "kg"
                  ]
                },
                "item_dimensions_unit": {
                  "type": "string",
                  "description": "A string defining the units used to measure the dimensions of the product.",
                  "title": "Item Dimensions Unit",
                  "enum": [
                    "in",
                    "ft",
                    "mm",
                    "cm",
                    "m",
                    "yd",
                    "inches"
                  ]
                },
                "is_personalizable": {
                  "type": "boolean",
                  "description": "When true, this listing is personalizable.",
                  "title": "Is Personalizable",
                  "enum": [
                    true,
                    false
                  ]
                },
                "image_ids": {
                  "type": "string",
                  "description": "An array of numeric image IDs of the images in a listing, which can include up to 10 images.",
                  "title": "Image IDs"
                },
                "is_supply": {
                  "type": "boolean",
                  "description": "When true, tags the listing as a supply product, else indicates that it's a finished product. Helps buyers locate the listing under the Supplies heading. Requires 'who made' and 'when made'.",
                  "title": "Is Supply",
                  "enum": [
                    true,
                    false
                  ]
                },
                "is_customizable": {
                  "type": "boolean",
                  "description": "When true, a buyer may contact the seller for a customized order. The default value is true when a shop accepts custom orders. Does not apply to shops that do not accept custom orders.",
                  "title": "Is Customizable",
                  "enum": [
                    true,
                    false
                  ]
                },
                "is_taxable": {
                  "type": "boolean",
                  "description": "When true, applicable shop tax rates apply to this listing at checkout.",
                  "title": "Is Taxable",
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "quantity",
                "title",
                "description",
                "price",
                "who_made",
                "taxonomy_id",
                "shipping_profile_id"
              ]
            }
          }
        ]
      }
    },
    "/listings/{listing_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a listing",
        "description": "Retrieves a listing record by listing ID.",
        "operationId": "ListingGet",
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID for the listing associated to this transaction.",
            "x-ms-summary": "Listing ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "includes",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An enumerated string that attaches a valid association. Acceptable inputs are 'shop', 'images' and 'user'.",
            "enum": [
              "",
              "Images",
              "Shop",
              "User"
            ],
            "x-ms-summary": "Includes"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a listing",
        "description": "This action deletes a shop listing. A listing can be deleted only if the state is one of the following: SOLD_OUT, DRAFT, EXPIRED, INACTIVE, ACTIVE and is_available or ACTIVE and has seller flags: SUPRESSED (frozen), VACATION, CUSTOM_SHOPS (pattern), SELL_ON_FACEBOOK",
        "operationId": "ListingDelete",
        "parameters": [
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID for the listing associated to this transaction.",
            "x-ms-summary": "Listing ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/listings/active": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get active listings",
        "description": "A list of all active listings on Etsy paginated by their creation date. Without sort order listings will be returned newest-first by default.",
        "operationId": "ListingGetActive",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search term or phrase that must appear in all results.",
            "x-ms-summary": "Includes"
          },
          {
            "name": "sort_on",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "created",
            "description": "The value to sort a search result of listings on. NOTE: sort on only works when combined with one of the search options (keywords, region, etc.).",
            "enum": [
              "created",
              "price",
              "updated"
            ],
            "x-ms-summary": "Sort On"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "descending",
            "description": "The ascending(up) or descending(down) order to sort listings by. NOTE: sort_order only works when combined with one of the search options (keywords, region, etc.).",
            "enum": [
              "descending",
              "ascending"
            ],
            "x-ms-summary": "Sort Order"
          },
          {
            "name": "min_price",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "The minimum price of listings to be returned by a search result.",
            "format": "float",
            "x-ms-summary": "Minimum Price"
          },
          {
            "name": "max_price",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "The maximum price of listings to be returned by a search result.",
            "format": "float",
            "x-ms-summary": "Maximum Price"
          },
          {
            "name": "taxonomy_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The numeric taxonomy ID of the listing. The seller manages listing taxonomy IDs for their shop.",
            "x-ms-summary": "Taxonomy ID"
          },
          {
            "name": "shop_location",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters by shop location. If location cannot be parsed, Etsy responds with an error.",
            "x-ms-summary": "Shop Location"
          }
        ]
      }
    },
    "/shops/{shop_id}/listings/active": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get active listings by shop",
        "description": "Retrieves a list of all active listings on Etsy in a specific shop, paginated by listing creation date.",
        "operationId": "ListingGetActiveByShop",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search term or phrase that must appear in all results.",
[...]
