{
  "swagger": "2.0",
  "info": {
    "title": "Etsy",
    "description": "This connector uses your API key to access various Etsy.com features. It supports actions for inventory, sales orders, and shop management. All actions are based on Etsy Open API v3 which does have endpoints that are still in beta. If such as actions use the beta API, the action with include Beta in the title and will return a 501 response code.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "openapi.etsy.com",
  "basePath": "/v3/application/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "tags": [
    {
        "name": "User"
    },
    {
        "name": "UserAddress"
    },
    {
        "name": "Shop Receipt Transactions"
    },
    {
        "name": "Shop"
    },
    {
        "name": "Shop ShippingProfile"
    },
    {
        "name": "ShopListing"
    },
    {
        "name": "Shop Section"
    },
    {
        "name": "Shop ProductionPartner"
    },
    {
        "name": "SellerTaxonomy"
    },
    {
        "name": "Review"
    },
    {
        "name": "Shop Receipt"
    },
    {
        "name": "Other"
    },
    {
        "name": "Payment"
    },
    {
        "name": "Ledger Entry"
    },
    {
        "name": "ShopListing VariationImage"
    },
    {
        "name": "ShopListing Translation"
    },
    {
        "name": "ShopListing Inventory"
    },
    {
        "name": "ShopListing Offering"
    },
    {
        "name": "ShopListing Product"
    },
    {
        "name": "ShopListing Image"
    },
    {
        "name": "ShopListing File"
    }
  ],
  "paths": {
    "/openapi-ping": {
      "get": {
        "responses": {
          "200": {
            "description": "A confirmation that the current application has access to the Open API",
            "schema": {
              "$ref": "#/definitions/Pong"
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "App does not have the proper permissions to access this resource.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Ping",
        "description": "Check to confirm connectivity to the Etsy API with an application.",
        "operationId": "Ping",
        "parameters": []
      }
    },
    "/shops/{shop_id}/payment-account/ledger-entries": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of p ayment account ledger entries.",
            "schema": {
              "$ref": "#/definitions/PaymentAccountLedgerEntries"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get a shop payment account ledger's entries",
        "description": "Retrieve the entries of a shop's payment account ledger.",
        "operationId": "PaymentLedgerEntries",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "min_created",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "The earliest unix timestamp for when a record was created.",
            "x-ms-summary": "Minimum Created"
          },
          {
            "name": "max_created",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "The latest unix timestamp for when a record was created.",
            "x-ms-summary": "Maximum Created"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      }
    },
    "/shops/{shop_id}/payment-account/ledger-entries/payments": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of payments.",
            "schema": {
              "$ref": "#/definitions/Payments"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get a payment from a payment account ledger entry ID",
        "description": "Get a Payment from a Payment Account Ledger Entry ID, if applicable.",
        "operationId": "PaymentGetEntryID",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "ledger_entry_ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Array of integers.",
            "x-ms-summary": "Ledger Entry IDs"
          }
        ]
      }
    },
    "/shops/{shop_id}/receipts/{receipt_id}/payments": {
      "get": {
        "responses": {
          "200": {
            "description": "A single payment.",
            "schema": {
              "$ref": "#/definitions/Payments"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get a payment from a specific receipt",
        "description": "Retrieves a payment from a specific receipt, identified by receipt ID, from a specific shop, identified by shop ID.",
        "operationId": "PaymentGetReceipt",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "receipt_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The numeric ID for the receipt associated to this transaction.",
            "x-ms-summary": "Receipt ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/shops/{shop_id}/payments": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
                "$ref": "#/definitions/Payments"
            }
          }
        },
        "operationId": "PaymentsGet",
        "summary": "Get a list of payments",
        "description": "Retrieves a list of payments from a shop identified by shop ID. You can also filter results using a list of payment IDs.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "payment-ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "A comma-separated array of Payment IDs numbers.",
            "x-ms-summary": "Payment ID"
          }
        ]
      }
    },
    "/shops/{shop_id}/receipts/{receipt_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "A single shop receipt.",
            "schema": {
              "$ref": "#/definitions/ShopReceipt"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "operationId": "ReceiptGet",
        "summary": "Get a receipt",
        "description": "Retrieves a receipt, identified by a receipt ID, from an Etsy shop.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "receipt_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID for the receipt associated to this transaction.",
            "x-ms-summary": "Receipt ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/shops/{shop_id}/receipts": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of shop receipts.",
            "schema": {
              "$ref": "#/definitions/ShopReceipts"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get receipts",
        "description": "Requests the shop receipts from a specific shop, unfiltered or filtered by receipt ID range or offset, date, paid, and/or shipped purchases.",
        "operationId": "ReceiptsGet",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "min_created",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The earliest unix timestamp for when a record was created.",
            "x-ms-summary": "Minimum Created"
          },
          {
            "name": "max_created",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The latest unix timestamp for when a record was created.",
            "x-ms-summary": "Maximum Created"
          },
          {
            "name": "min_last_modified",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The earliest unix timestamp for when a record last changed.",
            "x-ms-summary": "Earliest Last Modified"
          },
          {
            "name": "max_last_modified",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The latest unix timestamp for when a record last changed.",
            "x-ms-summary": "Latest Last Modified"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "was_paid",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When true, the seller received payment for the product(s) in this receipt.",
            "enum": [
              true,
              false
            ],
            "x-ms-summary": "Was Paid"
          },
          {
            "name": "was_shipped",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When true, the seller shipped the product(s) in this receipt.",
            "enum": [
              true,
              false
            ],
            "x-ms-summary": "Was Shipped"
          }
        ]
      }
    },
    "/shops/{shop_id}/receipts/{receipt_id}/tracking": {
      "post": {
        "responses": {
          "200": {
            "description": "A single shop receipt.",
            "schema": {
              "$ref": "#/definitions/ShopReceipt"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "409": {
            "description": "There was a request conflict with current state of the target resource. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "operationId": "ReceiptCreateShipment",
        "summary": "Create a Shipment Receipt",
        "description": "Submits tracking information for a shop receipt, which creates a shop receipt Shipment entry for the given receipt ID. Each time you successfully submit tracking info, Etsy sends a notification email to the buyer User. When send BCC is true, Etsy sends shipping notifications to the seller as well. When tracking code and carrier name aren't sent, the receipt is marked as shipped only.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "receipt_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The receipt to submit tracking for.",
            "x-ms-summary": "Receipt ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "tracking_code": {
                  "type": "string",
                  "description": "The tracking code for this receipt.",
                  "title": "Tracking Code"
                },
                "carrier_name": {
                  "type": "string",
                  "description": "The carrier name for this receipt.",
                  "title": "Carrier Name"
                },
                "send_bcc": {
                  "type": "boolean",
                  "description": "If true, the shipping notification will be sent to the seller as well",
                  "title": "Send BCC",
                  "enum": [
                    true,
                    false
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/listings/{listing_id}/transactions": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of transactions.",
            "schema": {
              "$ref": "#/definitions/ShopReceiptTransactions"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "operationId": "TransactionsListing",
        "description": "Retrieves the list of transactions associated with a listing.",
        "summary": "Retrieve a listing's transactions",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "listing_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID for the listing associated to this transaction.",
            "x-ms-summary": "Listing ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      }
    },
    "/shops/{shop_id}/receipts/{receipt_id}/transactions": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of transactions.",
            "schema": {
              "$ref": "#/definitions/ShopReceiptTransactions"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "operationId": "TransactionReceipt",
        "summary": "Get a receipt's transaction",
        "description": "Retrieves the list of transactions associated with a specific receipt.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "receipt_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID for the receipt associated to this transaction.",
            "x-ms-summary": "Receipt ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/shops/{shop_id}/transactions/{transaction_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "A single transaction.",
            "schema": {
              "$ref": "#/definitions/ShopReceiptTransaction"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get a transaction",
        "description": "Retrieves a transaction by transaction ID.",
        "operationId": "TransactionGet",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique numeric ID for a transaction.",
            "x-ms-summary": "Transaction ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/shops/{shop_id}/transactions": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of transactions.",
            "schema": {
              "$ref": "#/definitions/ShopReceiptTransactions"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get a shop's transaction",
        "description": "Retrieves the list of transactions associated with a shop.",
        "operationId": "TransactionGetShop",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      }
    },
    "/shops/{shop_id}/reviews": {
      "get": {
        "responses": {
          "200": {
            "description": "A set of transaction reviews.",
            "schema": {
              "$ref": "#/definitions/TransactionReviews"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get reviews",
        "operationId": "ReviewsGet",
        "description": "Retrieves the reviews from a shop given its ID.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      }
    },
    "/shipping-carriers": {
      "get": {
        "responses": {
          "200": {
            "description": "A set of ShippingCarriers",
            "schema": {
              "$ref": "#/definitions/ShippingCarriers"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get shipping carriers",
        "description": "Retrieves a list of available shipping carriers and the mail classes associated with them for a given country.",
        "operationId": "ShippingCarriers",
        "parameters": [
          {
            "name": "origin_country_iso",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The ISO code of the country from which the listing ships.",
            "x-ms-summary": "Origin Country ISO"
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles": {
      "get": {
        "responses": {
          "200": {
            "description": "A single shipping profile.",
            "schema": {
              "$ref": "#/definitions/ShopShippingProfile"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get shipping profiles",
        "description": "Retrieves a list of shipping profiles available in the specific Etsy shop identified by its shop ID.",
        "operationId": "ShippingProfiles",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "responses": {
            "200": {
                "description": "A single ShippingProfile",
                "schema": {
                  "$ref": "#/definitions/ShopShippingProfile"
                }
            },
            "403": {
                "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
                "schema": {
                  "$ref": "#/definitions/ErrorSchema"
                }
            },
            "400": {
                "description": "There was a problem with the request data. See the error message for details.",
                "schema": {
                  "$ref": "#/definitions/ErrorSchema"
                }
            },
            "500": {
                "description": "The server encountered an internal error. See the error message for details.",
                "schema": {
                  "$ref": "#/definitions/ErrorSchema"
                }
            }
        },
        "summary": "Create a shipping profile",
        "description": "Creates a new shipping profile. You can pass a country ISO code or a region when creating a shipping profile, but not both. Only one is required. You must pass either a shipping carrier ID and mail class, or both min and max delivery days.",
        "operationId": "ShippingCreateProfile",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The name string of this shipping profile.",
                  "x-ms-visibility": "important",
                  "title": "Title",
                  "x-ms-summary": "Title"
                },
                "origin_country_iso": {
                  "type": "string",
                  "description": "The ISO code of the country from which the listing ships.",
                  "title": "Origin Country ISO",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Origin Country ISO"
                },
                "primary_cost": {
                  "type": "number",
                  "description": "The cost of shipping to this country/region alone, measured in the store's default currency.",
                  "x-ms-visibility": "important",
                  "title": "Primary Cost",
                  "format": "float",
                  "x-ms-summary": "Primary Cost"
                },
                "secondary_cost": {
                  "type": "number",
                  "description": "The cost of shipping to this country/region with another item, measured in the store's default currency.",
                  "x-ms-visibility": "important",
                  "title": "Secondary Cost",
                  "format": "float",
                  "x-ms-summary": "Secondary Cost"
                },
                "min_processing_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The minimum time required to process to ship listings with this shipping profile.",
                  "title": "Minimum Processing Time",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10
                  ],
                  "default": 1,
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Minimum Processing Time"
                },
                "max_processing_time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum processing time the listing needs to ship.",
                  "title": "Maximum Processing Time",
                  "default": 1,
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10
                  ],
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Maximum Processing Time"
                },
                "processing_time_unit": {
                  "type": "string",
                  "description": "The unit used to represent how long a processing time is. A week is equivalent to 5 business days.",
                  "title": "Processing Time Unit",
                  "x-ms-summary": "Processing Time Unit",
                  "default": "business_days",
                  "enum": [
                    "business_days",
                    "weeks"
                  ]
                },
                "destination_country_iso": {
                  "type": "string",
                  "description": "The ISO code of the country to which the listing ships. If null, request sets destination to destination region.",
                  "title": "Destination Country ISO",
                  "x-ms-summary": "Destination Country ISO"
                },
                "destination_region": {
                  "type": "string",
                  "description": "The code of the region to which the listing ships. A region represents a set of countries. Supported regions are Europe Union and Non-Europe Union (countries in Europe not in EU). If none, request sets destination to destination country ISO, or everywhere if destination country ISO is also null.",
                  "title": "Destination Region",
                  "default": "none",
                  "enum": [
                    "none",
                    "eu",
                    "non_eu"
                  ],
                  "x-ms-summary": "Destination Region"
                },
                "origin_postal_code": {
                  "type": "string",
                  "description": "The postal code string (not necessarily a number) for the location from which the listing ships.",
                  "title": "Origin Postal Code",
                  "x-ms-summary": "Origin Postal Code"
                },
                "shipping_carrier_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique ID of a supported shipping carrier, which is used to calculate an estimated delivery date.",
                  "title": "Shipping Carrier ID",
                  "default": 0,
                  "x-ms-summary": "Shipping Carrier ID"
                },
                "mail_class": {
                  "type": "string",
                  "description": "The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date.",
                  "title": "Mail Class",
                  "x-ms-summary": "Mail Class"
                },
                "min_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The minimum number of business days a buyer can expect to wait to receive their purchased item once it has shipped.",
                  "title": "Minimum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ],
                  "x-ms-summary": "Minimum Delivery Days"
                },
                "max_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped.",
                  "title": "Maximum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ],
                  "x-ms-summary": "Maximum Delivery Days"
                }
              },
              "required": [
                "max_processing_time",
                "min_processing_time",
                "origin_country_iso",
                "primary_cost",
                "secondary_cost",
                "title"
              ]
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles/{shipping_profile_id}": {
      "get": {
        "responses": {
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "204": {
            "description": "The ShopShippingProfile resource was correctly deleted"
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "operationId": "ShippingGetProfile",
        "summary": "Get a shipping profile",
        "description": "Retrieves a shipping profile referenced by shipping profile ID.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "A single shipping profile.",
            "schema": {
              "$ref": "#/definitions/ShopShippingProfile"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Delete a shipping profile",
        "description": "Deletes a shipping profile by given ID.",
        "operationId": "ShippingDeleteProfile",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "The updated shipping profile.",
            "schema": {
              "$ref": "#/definitions/ShopShippingProfile"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Update a shipping profile",
        "description": "Changes the settings in a shipping profile.",
        "operationId": "ShippingUpdateProfile",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The name string of this shipping profile.",
                  "title": "Title"
                },
                "origin_country_iso": {
                  "type": "string",
                  "description": "The ISO code of the country from which the listing ships.",
                  "title": "Origin Country ISO"
                },
                "min_processing_time": {
                  "type": "integer",
                  "description": "The minimum time required to process to ship listings with this shipping profile.",
                  "title": "Minimum Processing Time",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10
                  ]
                },
                "max_processing_time": {
                  "type": "integer",
                  "description": "The maximum processing time the listing needs to ship.",
                  "title": "Maximum Processing Time",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10
                  ]
                },
                "processing_time_unit": {
                  "type": "string",
                  "description": "The unit used to represent how long a processing time is. A week is equivalent to 5 business days. If none is provided, the unit is set to business_days.",
                  "title": "Processing Time Unit",
                  "enum": [
                    "business_days",
                    "weeks"
                  ]
                },
                "origin_postal_code": {
                  "type": "string",
                  "description": "The postal code string (not necessarily a number) for the location from which the listing ships.",
                  "title": "Origin Postal Code"
                }
              }
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/destinations": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of shipping destination objects.",
            "schema": {
              "$ref": "#/definitions/ShopShippingProfileDestinations"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get profile destinations by shipping profile",
        "description": "Retrieves a list of shipping destination objects associated with a shipping profile.",
        "operationId": "ShippingGetDestinations",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "A single shipping destination.",
            "schema": {
              "$ref": "#/definitions/ShopShippingProfileDestination"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Create a shipping profile destination",
        "description": "Creates a new shipping destination, which sets the shipping cost, carrier, and class for a destination in a shipping profile. This assigns costs using the currency of the associated shop. Set the destination using either destination country ISO or destination region; destination country ISO and destination region are mutually exclusive — set one or the other. Setting both triggers error 400. If the request sets neither destination country ISO nor destination region, the default destination is everywhere. You must also either assign both a shipping carrier ID and mail class or both min delivery days and max delivery days.",
        "operationId": "ShippingCreateDestination",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "primary_cost": {
                  "type": "number",
                  "description": "The cost of shipping to this country/region alone, measured in the store's default currency.",
                  "title": "Primary Cost",
                  "format": "float",
                  "x-ms-visibility": "important"
                },
                "secondary_cost": {
                  "type": "string",
                  "description": "The cost of shipping to this country/region with another item, measured in the store's default currency.",
                  "title": "Secondary Cost",
                  "x-ms-visibility": "important"
                },
                "destination_country_iso": {
                  "type": "string",
                  "description": "destination_country_iso"
                },
                "destination_region": {
                  "type": "string",
                  "description": "destination_region"
                },
                "shipping_carrier_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "shipping_carrier_id"
                },
                "mail_class": {
                  "type": "string",
                  "description": "mail_class"
                },
                "min_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "min_delivery_days"
                },
                "max_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "max_delivery_days"
                }
              },
              "required": [
                "primary_cost",
                "secondary_cost"
              ]
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/destinations/{shipping_profile_destination_id}": {
      "delete": {
        "responses": {
          "204": {
            "description": "The deleted shipping profile destination."
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Delete a shipping profile destination",
        "description": "Deletes a shipping destination and removes the destination option from every listing that uses the associated shipping profile. A shipping profile requires at least one shipping destination, so this endpoint cannot delete the final shipping destination for any shipping profile. To delete the final shipping destination from a shipping profile, you must delete the entire shipping profile.",
        "operationId": "ShippingDeleteProfileDestination",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_destination_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile destination in the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile Destination ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "A single shipping destination.",
            "schema": {
              "$ref": "#/definitions/ShopShippingProfileDestination"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Update a shipping profile destination",
        "description": "Updates an existing shipping destination, which can set or reassign the shipping cost, carrier, and class for a destination.",
        "operationId": "ShippingUpdateProfileDestination",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_destination_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The numeric ID of the shipping profile destinationassociated with the listing.",
            "x-ms-summary": "Shipping Profile Destination ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "primary_cost": {
                  "type": "string",
                  "description": "primary_cost"
                },
                "secondary_cost": {
                  "type": "string",
                  "description": "secondary_cost"
                },
                "destination_country_iso": {
                  "type": "string",
                  "description": "destination_country_iso"
                },
                "destination_region": {
                  "type": "string",
                  "description": "destination_region"
                },
                "shipping_carrier_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "shipping_carrier_id"
                },
                "mail_class": {
                  "type": "string",
                  "description": "mail_class"
                },
                "min_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "min_delivery_days"
                },
                "max_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "max_delivery_days"
                }
              }
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/upgrades": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of shipping profile upgrades.",
            "schema": {
              "$ref": "#/definitions/ShopShippingProfileUpgrades"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get shipping profile upgrades",
        "description": "Retrieves the list of shipping profile upgrades assigned to a specific shipping profile.",
        "operationId": "ShippingGetProfileUpgrades",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "A single shipping profile upgrade.",
            "schema": {
              "$ref": "#/definitions/ShopShippingProfileUpgrade"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Create a shipping profile upgrade",
        "description": "Creates a new shipping profile upgrade, which can establish a price for a shipping option, such as an alternate carrier or faster delivery.",
        "operationId": "ShippingCreateUpgrade",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type of the shipping upgrade. Domestic (0) or international (1).",
                  "title": "Type",
                  "enum": [
                    "0",
                    "1"
                  ],
                  "x-ms-visibility": "important"
                },
                "upgrade_name": {
                  "type": "string",
                  "description": "Name for the shipping upgrade shown to shoppers at checkout, e.g. USPS Priority.",
                  "title": "Upgrade Name",
                  "x-ms-visibility": "important"
                },
                "price": {
                  "type": "number",
                  "description": "Additional cost of adding the shipping upgrade.",
                  "title": "Price",
                  "format": "float",
                  "x-ms-visibility": "important"
                },
                "secondary_price": {
                  "type": "number",
                  "description": "Additional cost of adding the shipping upgrade for each additional item.",
                  "title": "Secondary Price",
                  "format": "float",
                  "x-ms-visibility": "important"
                },
                "shipping_carrier_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique ID of a supported shipping carrier, which is used to calculate an Estimated Delivery Date.",
                  "title": "Shipping Carrier ID"
                },
                "mail_class": {
                  "type": "string",
                  "description": "The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date.",
                  "title": "Mail Class"
                },
                "min_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "min_delivery_days",
                  "title": "Minimum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ]
                },
                "max_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped.",
                  "title": "Maximum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ]
                }
              },
              "required": [
                "type",
                "upgrade_name",
                "price",
                "secondary_price"
              ]
            }
          }
        ]
      }
    },
    "/shops/{shop_id}/shipping-profiles/{shipping_profile_id}/upgrades/{upgrade_id}": {
      "delete": {
        "responses": {
          "204": {
            "description": "Etsy deleted the shipping profile upgrade."
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Delete a shipping profile upgrade",
        "description": "Deletes a shipping profile upgrade and removes the upgrade option from every listing that uses the associated shipping profile.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "upgrade_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID that is associated with a shipping upgrade",
            "x-ms-summary": "Upgrade ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "operationId": "ShippingDeleteProfileUpgrade"
      },
      "put": {
        "responses": {
          "200": {
            "description": "A single shipping profile upgrade.",
            "schema": {
              "$ref": "#/definitions/ShopShippingProfileUpgrade"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Update a shipping profile upgrade",
        "description": "Updates a shipping profile upgrade and updates any listings that use the shipping profile.",
        "operationId": "ShippingUpdateProfileUpgrade",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "shipping_profile_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID of the shipping profile associated with the listing.",
            "x-ms-summary": "Shipping Profile ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "upgrade_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The numeric ID that is associated with a shipping upgrade",
            "x-ms-summary": "Upgrade ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The type of the shipping upgrade. Domestic (0) or international (1).",
                  "title": "Type",
                  "enum": [
                    "0",
                    "1"
                  ],
                  "x-ms-visibility": "important"
                },
                "upgrade_name": {
                  "type": "string",
                  "description": "Name for the shipping upgrade shown to shoppers at checkout, e.g. USPS Priority.",
                  "title": "Upgrade Name",
                  "x-ms-visibility": "important"
                },
                "price": {
                  "type": "number",
                  "description": "Additional cost of adding the shipping upgrade.",
                  "title": "Price",
                  "format": "float",
                  "x-ms-visibility": "important"
                },
                "secondary_price": {
                  "type": "number",
                  "description": "Additional cost of adding the shipping upgrade for each additional item.",
                  "title": "Secondary Price",
                  "format": "float",
                  "x-ms-visibility": "important"
                },
                "shipping_carrier_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique ID of a supported shipping carrier, which is used to calculate an Estimated Delivery Date.",
                  "title": "Shipping Carrier ID"
                },
                "mail_class": {
                  "type": "string",
                  "description": "The unique ID string of a shipping carrier's mail class, which is used to calculate an estimated delivery date.",
                  "title": "Mail Class"
                },
                "min_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "min_delivery_days",
                  "title": "Minimum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ]
                },
                "max_delivery_days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of business days a buyer can expect to wait to receive their purchased item once it has shipped.",
                  "title": "Maximum Delivery Days",
                  "enum": [
                    1,
                    2,
                    3,
                    4,
                    5,
                    6,
                    7,
                    8,
                    9,
                    10,
                    11,
                    12,
                    13,
                    14,
                    15,
                    16,
                    17,
                    18,
                    19,
                    20,
                    21,
                    22,
                    23,
                    24,
                    25,
                    26,
                    27,
                    28,
                    29,
                    30,
                    31,
                    32,
                    33,
                    34,
                    35,
                    36,
                    37,
                    38,
                    39,
                    40,
                    41,
                    42,
                    43,
                    44,
                    45
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/shops/{shop_id}": {
      "put": {
        "responses": {
          "200": {
            "description": "A single shop.",
            "schema": {
              "$ref": "#/definitions/Shop"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Update a shop",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "A brief heading string for the shop's main page.",
                  "title": "Title"
                },
                "announcement": {
                  "type": "string",
                  "description": "An announcement string to buyers that displays on the shop's homepage.",
                  "title": "Announcement"
                },
                "sale_message": {
                  "type": "string",
                  "description": "A message string sent to users who complete a purchase from this shop.",
                  "title": "Sale Message"
                },
                "digital_sale_message": {
                  "type": "string",
                  "description": "A message string sent to users who purchase a digital item from this shop.",
                  "title": "Digital Sale Message"
                }
              }
            }
          }
        ],
        "description": "Update a shop. Assumes that all string parameters are provided in the shop's primary language.",
        "operationId": "ShopUpdate"
      }
    },
    "/users/{user_id}/shops": {
      "get": {
        "responses": {
          "200": {
            "description": "A single shop.",
            "schema": {
              "$ref": "#/definitions/Shop"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get shop by owner ID",
        "description": "Retrieves the shop identified by the shop owner's user ID.",
        "operationId": "ShopGetByOwnerID",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The numeric user ID of the user who owns this shop.",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/shops": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of shops.",
            "schema": {
              "$ref": "#/definitions/Shops"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Search shops",
        "description": "Returns a list of shops with the matching name.",
        "operationId": "ShopSearch",
        "parameters": [
          {
            "name": "shop_name",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The shop's name string.",
            "x-ms-summary": "Shop Name"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "description": "The maximum number of results to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "The number of records to skip before selecting the first result.",
            "x-ms-summary": "Offset"
          }
        ]
      }
    },
    "/shops/{shop_id}/sections": {
      "get": {
        "responses": {
          "200": {
            "description": "A list of shop sections.",
            "schema": {
              "$ref": "#/definitions/ShopSections"
            }
          },
          "404": {
            "description": "A resource could not be found. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Get shop sections",
        "description": "Retrieves the list of shop sections in a specific shop identified by shop ID.",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The unique positive non-zero numeric ID for an Etsy Shop.",
            "x-ms-summary": "Shop ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "operationId": "ShopGetSections"
      },
      "post": {
        "responses": {
          "200": {
            "description": "A shop section resource.",
            "schema": {
              "$ref": "#/definitions/ShopSection"
            }
          },
          "400": {
            "description": "There was a problem with the request data. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "503": {
            "description": "This function is temporarily unavailable. Please try again later.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "403": {
            "description": "The request attempted to perform an operation it is not allowed to. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          },
          "500": {
            "description": "The server encountered an internal error. See the error message for details.",
            "schema": {
              "$ref": "#/definitions/ErrorSchema"
            }
          }
        },
        "summary": "Create a shop section",
        "description": "Creates a new section in a specific shop.",
        "operationId": "ShopCreateSection",
        "parameters": [
          {
            "name": "shop_id",
            "in": "path",
            "required": true,
[...]
