{
  "swagger": "2.0",
  "info": {
    "title": "GeoDB",
    "description": "The GeoDB API focuses on getting global city and region data. Filter cities by name prefix, country, location, time-zone, and even minimum population. Sort cities by name, country code, elevation, and population - or any combination of these. Get all country regions and all cities in a region.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "wft-geo-db.p.rapidapi.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/geo/adminDivisions": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Find administrative divisions",
        "description": "Find administrative divisions, filtering by optional criteria. If no criteria are set, you will get back all known divisions.",
        "operationId": "FindAdminDivisionsUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/query.place.location.id"
          },
          {
            "$ref": "#/parameters/query.place.location.radiusOf"
          },
          {
            "$ref": "#/parameters/query.distanceUnit"
          },
          {
            "$ref": "#/parameters/query.place.countryIds"
          },
          {
            "$ref": "#/parameters/query.place.excludedCountryIds"
          },
          {
            "$ref": "#/parameters/query.place.minPopulation"
          },
          {
            "$ref": "#/parameters/query.place.maxPopulation"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefix"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefixDefaultLangResults"
          },
          {
            "$ref": "#/parameters/query.timeZoneIds"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          },
          {
            "$ref": "#/parameters/query.place.sort"
          },
          {
            "$ref": "#/parameters/query.includeDeleted"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlaces"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          }
        }
      }
    },
    "/geo/adminDivisions/{divisionId}/nearbyDivisions": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Find divisions near division",
        "description": "Find administrative divisions near the given origin division, filtering by optional criteria. If no criteria are set, you will get back all known divisions. ",
        "operationId": "FindDivisionsNearAdminDivisionUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.divisionId"
          },
          {
            "$ref": "#/parameters/query.place.location.radiusOf"
          },
          {
            "$ref": "#/parameters/query.distanceUnit"
          },
          {
            "$ref": "#/parameters/query.place.countryIds"
          },
          {
            "$ref": "#/parameters/query.place.excludedCountryIds"
          },
          {
            "$ref": "#/parameters/query.place.minPopulation"
          },
          {
            "$ref": "#/parameters/query.place.maxPopulation"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefix"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefixDefaultLangResults"
          },
          {
            "$ref": "#/parameters/query.timeZoneIds"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          },
          {
            "$ref": "#/parameters/query.place.sort"
          },
          {
            "$ref": "#/parameters/query.includeDeleted"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlaces"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/adminDivisions/{divisionId}/nearbyCities": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Find cities near division",
        "description": "Find cities near the given administrative division, filtering by optional criteria. If no criteria are set, you will get back all known cities. ",
        "operationId": "FindCitiesNearAdminDivisionUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.divisionId"
          },
          {
            "$ref": "#/parameters/query.place.location.radiusOf"
          },
          {
            "$ref": "#/parameters/query.distanceUnit"
          },
          {
            "$ref": "#/parameters/query.place.countryIds"
          },
          {
            "$ref": "#/parameters/query.place.excludedCountryIds"
          },
          {
            "$ref": "#/parameters/query.place.minPopulation"
          },
          {
            "$ref": "#/parameters/query.place.maxPopulation"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefix"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefixDefaultLangResults"
          },
          {
            "$ref": "#/parameters/query.timeZoneIds"
          },
          {
            "$ref": "#/parameters/query.place.types"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          },
          {
            "$ref": "#/parameters/query.place.sort"
          },
          {
            "$ref": "#/parameters/query.includeDeleted"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlaces"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/cities": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Find cities",
        "description": "Find cities, filtering by optional criteria. If no criteria are set, you will get back all known cities. ",
        "operationId": "FindCitiesUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/query.place.location.id"
          },
          {
            "$ref": "#/parameters/query.place.location.radiusOf"
          },
          {
            "$ref": "#/parameters/query.distanceUnit"
          },
          {
            "$ref": "#/parameters/query.place.countryIds"
          },
          {
            "$ref": "#/parameters/query.place.excludedCountryIds"
          },
          {
            "$ref": "#/parameters/query.place.minPopulation"
          },
          {
            "$ref": "#/parameters/query.place.maxPopulation"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefix"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefixDefaultLangResults"
          },
          {
            "$ref": "#/parameters/query.timeZoneIds"
          },
          {
            "$ref": "#/parameters/query.place.types"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          },
          {
            "$ref": "#/parameters/query.place.sort"
          },
          {
            "$ref": "#/parameters/query.includeDeleted"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlaces"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          }
        }
      }
    },
    "/geo/cities/{cityId}/nearbyCities": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Find cities near city",
        "description": "Find cities near the given origin city, filtering by optional criteria. If no criteria are set, you will get back all known cities. ",
        "operationId": "FindCitiesNearCityUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.cityId"
          },
          {
            "$ref": "#/parameters/query.place.location.radiusOf"
          },
          {
            "$ref": "#/parameters/query.distanceUnit"
          },
          {
            "$ref": "#/parameters/query.place.countryIds"
          },
          {
            "$ref": "#/parameters/query.place.excludedCountryIds"
          },
          {
            "$ref": "#/parameters/query.place.minPopulation"
          },
          {
            "$ref": "#/parameters/query.place.maxPopulation"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefix"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefixDefaultLangResults"
          },
          {
            "$ref": "#/parameters/query.timeZoneIds"
          },
          {
            "$ref": "#/parameters/query.place.types"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          },
          {
            "$ref": "#/parameters/query.place.sort"
          },
          {
            "$ref": "#/parameters/query.includeDeleted"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlaces"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/locations/{locationId}/nearbyDivisions": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Find divisions near location",
        "description": "Find administrative divisions near the given location, filtering by optional criteria. If no criteria are set, you will get back all known divisions. ",
        "operationId": "FindDivisionsNearLocationUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.location.id"
          },
          {
            "$ref": "#/parameters/query.place.location.radiusOf"
          },
          {
            "$ref": "#/parameters/query.distanceUnit"
          },
          {
            "$ref": "#/parameters/query.place.countryIds"
          },
          {
            "$ref": "#/parameters/query.place.excludedCountryIds"
          },
          {
            "$ref": "#/parameters/query.place.minPopulation"
          },
          {
            "$ref": "#/parameters/query.place.maxPopulation"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefix"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefixDefaultLangResults"
          },
          {
            "$ref": "#/parameters/query.timeZoneIds"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          },
          {
            "$ref": "#/parameters/query.place.sort"
          },
          {
            "$ref": "#/parameters/query.includeDeleted"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlaces"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          }
        }
      }
    },
    "/geo/locations/{locationId}/nearbyCities": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Find cities near location",
        "description": "Find cities near the given location, filtering by optional criteria. If no criteria are set, you will get back all known cities. ",
        "operationId": "FindCitiesNearLocationUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.location.id"
          },
          {
            "$ref": "#/parameters/query.place.location.radiusOf"
          },
          {
            "$ref": "#/parameters/query.distanceUnit"
          },
          {
            "$ref": "#/parameters/query.place.countryIds"
          },
          {
            "$ref": "#/parameters/query.place.excludedCountryIds"
          },
          {
            "$ref": "#/parameters/query.place.minPopulation"
          },
          {
            "$ref": "#/parameters/query.place.maxPopulation"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefix"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefixDefaultLangResults"
          },
          {
            "$ref": "#/parameters/query.timeZoneIds"
          },
          {
            "$ref": "#/parameters/query.place.types"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          },
          {
            "$ref": "#/parameters/query.place.sort"
          },
          {
            "$ref": "#/parameters/query.includeDeleted"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlaces"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          }
        }
      }
    },
    "/geo/adminDivisions/{divisionId}": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get administrative division details",
        "description": "Get the details for a specific administrative division, including location coordinates, population, and elevation above sea-level (if available). ",
        "operationId": "GetAdminDivisionUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.divisionId"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlace"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/cities/{cityId}": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get city details",
        "description": "Get the details for a specific city, including location coordinates, population, and elevation above sea-level (if available). ",
        "operationId": "GetCityUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.cityId"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlace"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/cities/{cityId}/distance": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get city distance",
        "description": "Get distance from the given city.",
        "operationId": "GetCityDistanceUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.cityId"
          },
          {
            "$ref": "#/parameters/query.toCityId"
          },
          {
            "$ref": "#/parameters/query.distanceUnit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Distance"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/cities/{cityId}/dateTime": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get city date-time",
        "description": "Get city date-time.",
        "operationId": "GetCityDateTimeUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.cityId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DateTime"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/cities/{cityId}/locatedIn": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get city admin region",
        "description": "Get the details for the containing populated place (e.g., its county or other administrative division), including location coordinates, population, and elevation above sea-level (if available). ",
        "operationId": "GetCityLocatedInUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.cityId"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlace"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/cities/{cityId}/time": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get city time",
        "description": "Get city time.",
        "operationId": "GetCityTimeUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.cityId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Time"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/countries": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Find countries",
        "description": "Find countries, filtering by optional criteria. If no criteria are set, you will get back all known countries. ",
        "operationId": "GetCountriesUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/query.country.currencyCode"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefix"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefixDefaultLangResults"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Countries"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          }
        }
      }
    },
    "/geo/countries/{countryId}": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get country details",
        "description": "Get the details for a specific country, including number of regions.",
        "operationId": "GetCountryUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.countryId"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Country"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/countries/{countryId}/regions": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Find country regions",
        "description": "Get all regions in a specific country. These could be states, provinces, districts, or otherwise major political divisions. ",
        "operationId": "GetRegionsUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.countryId"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefix"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefixDefaultLangResults"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Regions"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/countries/{countryId}/regions/{regionCode}": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Get region details",
        "description": "Get the details of a specific country region, including number of cities.",
        "operationId": "GetRegionUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.countryId"
          },
          {
            "$ref": "#/parameters/path.regionCode"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Region"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/countries/{countryId}/regions/{regionCode}/adminDivisions": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Find country region administrative divisions",
        "description": "Get the administrative divisions in a specific country region. The country and region info is omitted in the response. .",
        "operationId": "FindRegionDivisionsUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.countryId"
          },
          {
            "$ref": "#/parameters/path.regionCode"
          },
          {
            "$ref": "#/parameters/query.place.minPopulation"
          },
          {
            "$ref": "#/parameters/query.place.maxPopulation"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefix"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefixDefaultLangResults"
          },
          {
            "$ref": "#/parameters/query.timeZoneIds"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          },
          {
            "$ref": "#/parameters/query.place.sort.withinRegion"
          },
          {
            "$ref": "#/parameters/query.includeDeleted"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlaces"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/geo/countries/{countryId}/regions/{regionCode}/cities": {
      "get": {
        "tags": [
          "Geo"
        ],
        "summary": "Find country region cities",
        "description": "Get the cities in a specific country region. The country and region info is omitted in the response. .",
        "operationId": "FindRegionCitiesUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.countryId"
          },
          {
            "$ref": "#/parameters/path.regionCode"
          },
          {
            "$ref": "#/parameters/query.place.minPopulation"
          },
          {
            "$ref": "#/parameters/query.place.maxPopulation"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefix"
          },
          {
            "$ref": "#/parameters/query.entity.namePrefixDefaultLangResults"
          },
          {
            "$ref": "#/parameters/query.timeZoneIds"
          },
          {
            "$ref": "#/parameters/query.place.types"
          },
          {
            "$ref": "#/parameters/query.asciiMode"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.languageCode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          },
          {
            "$ref": "#/parameters/query.place.sort.withinRegion"
          },
          {
            "$ref": "#/parameters/query.includeDeleted"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PopulatedPlaces"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/locale/currencies": {
      "get": {
        "tags": [
          "Locale"
        ],
        "summary": "Find currencies",
        "description": "Find currencies, filtering by optional criteria. If no criteria are set, you will get back all known currencies.",
        "operationId": "GetCurrenciesUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/query.currency.countryId"
          },
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Currencies"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          }
        }
      }
    },
    "/locale/languages": {
      "get": {
        "tags": [
          "Locale"
        ],
        "summary": "Get languages",
        "description": "Get all supported languages.",
        "operationId": "GetLanguagesUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Languages"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          }
        }
      }
    },
    "/locale/locales": {
      "get": {
        "tags": [
          "Locale"
        ],
        "summary": "Get locales",
        "description": "Get all known locales.",
        "operationId": "GetLocalesUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Locales"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          }
        }
      }
    },
    "/locale/timezones": {
      "get": {
        "tags": [
          "Locale"
        ],
        "summary": "Get time-zones",
        "description": "Get all known time-zones.",
        "operationId": "GetTimezonesUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/query.hateoasMode"
          },
          {
            "$ref": "#/parameters/query.limit"
          },
          {
            "$ref": "#/parameters/query.offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/TimeZones"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          }
        }
      }
    },
    "/locale/timezones/{zoneId}": {
      "get": {
        "tags": [
          "Locale"
        ],
        "summary": "Get time-zone",
        "description": "Get time-zone.",
        "operationId": "GetTimeZoneUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.zoneId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/TimeZone"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/locale/timezones/{zoneId}/dateTime": {
      "get": {
        "tags": [
          "Locale"
        ],
        "summary": "Get time-zone date-time",
        "description": "Get time-zone date-time.",
        "operationId": "GetTimeZoneDateTimeUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.zoneId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/DateTime"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    },
    "/locale/timezones/{zoneId}/time": {
      "get": {
        "tags": [
          "Locale"
        ],
        "summary": "Get time-zone time",
        "description": "Get time-zone time.",
        "operationId": "GetTimeZoneTimeUsingGET",
        "parameters": [
          {
            "$ref": "#/parameters/path.zoneId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/Time"
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/responses/Forbidden"
          },
          "404": {
            "$ref": "#/responses/NotFound"
          }
        }
      }
    }
  },
  "definitions": {
    "CountrySummary": {
      "type": "object",
      "title": "Country Summary",
      "description": "Minimal country info.",
      "properties": {
        "code": {
          "title": "Country Code",
          "description": "The ISO-3166 country code.",
          "type": "string"
        },
        "currencyCodes": {
          "title": "Currency Codes",
          "description": "A list of supported ISO-4217 currency codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "title": "Name",
          "description": "The country name (varies by languageCode).",
          "type": "string"
        },
        "wikiDataId": {
          "title": "Wikidata ID",
          "description": "The country WikiData ID.",
          "type": "string"
        }
      },
      "example": {
        "code": "US",
        "currencyCodes": [
          "USD"
        ],
        "name": "United States",
        "wikiDataId": "Q30"
      }
    },
    "CountryDetails": {
      "type": "object",
      "title": "Country Details",
      "description": "Full country details.",
      "properties": {
        "code": {
          "title": "Country Code",
          "description": "The ISO-3166 country code.",
          "type": "string"
        },
        "callingCode": {
          "title": "Calling Code",
          "description": "The country dialing prefix.",
          "type": "string"
        },
        "currencyCodes": {
          "title": "Currency Codes",
          "description": "A list of supported ISO-4217 currency codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "flagImageUri": {
          "title": "Flag Image URL",
          "description": "The country flag image.",
          "type": "string"
        },
        "name": {
          "title": "Name",
          "description": "The country name (varies by languageCode).",
          "type": "string"
        },
        "numRegions": {
          "title": "Number of Regions",
          "description": "The number of regions in this country.",
          "type": "integer",
          "format": "int32"
        },
        "wikiDataId": {
          "title": "Wikidata ID",
          "description": "The country WikiData ID.",
          "type": "string"
        }
      },
      "example": {
        "code": "US",
        "callingCode": "+1",
        "currencyCodes": [
          "USD"
        ],
        "flagImageUri": "http://commons.wikimedia.org/wiki/Special:FilePath/Flag%20of%20the%20United%20States.svg",
        "name": "United States",
        "numRegions": 56,
        "wikiDataId": "Q30"
      }
    },
    "Currency": {
      "type": "object",
      "title": "Currency",
      "description": "Currency info.",
      "properties": {
        "code": {
          "title": "Country Code",
          "description": "The ISO-4217 currency code.",
          "type": "string"
        },
        "countryCodes": {
          "title": "Country Codes",
          "description": "A list of ISO-3166 country codes of countries supporting this currency.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "symbol": {
          "title": "Symbol",
          "description": "The currency symbol.",
          "type": "string"
        }
      },
      "example": {
        "code": "USD",
        "countryCodes": [
          "PR",
          "MP",
          "IO",
          "FM",
          "PW",
          "GU",
          "BQ",
          "TC",
          "VG",
          "AS",
          "VI",
          "TL",
          "UM",
          "MH",
          "EC",
          "US"
        ],
        "symbol": "$"
      }
    },
    "Error": {
      "type": "object",
      "title": "Error",
      "description": "An error that occurred processing the request.",
      "properties": {
        "code": {
          "$ref": "#/definitions/ErrorCode"
        },
        "message": {
          "type": "string"
        }
      },
      "example": {
        "code": "ENTITY_NOT_FOUND",
        "message": "Param [someParam] has invalid value: invalidValue"
      }
    },
    "ErrorCode": {
      "type": "string",
      "title": "ErrorCode",
      "description": "One of a set of enumerated error codes representing the types of errors that can occur processing a request .",
      "enum": [
        "ACCESS_DENIED",
        "ENTITY_NOT_FOUND",
        "INCOMPATIBLE",
        "PARAM_INVALID",
        "PARAMS_MUTUALLY_EXCLUSIVE",
        "REQUEST_UNPROCESSABLE"
      ],
      "example": "ENTITY_NOT_FOUND"
    },
    "LanguageDescriptor": {
      "type": "object",
      "title": "Language",
      "description": "A language supported by the service.",
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "undefined",
            "aa",
            "ab",
            "ae",
            "af",
            "ak",
            "am",
            "an",
            "ar",
            "as",
            "av",
            "ay",
            "az",
            "ba",
            "be",
            "bg",
            "bh",
            "bi",
            "bm",
            "bn",
            "bo",
            "br",
            "bs",
            "ca",
            "ce",
            "ch",
            "co",
            "cr",
            "cs",
            "cu",
            "cv",
            "cy",
            "da",
            "de",
            "dv",
            "dz",
            "ee",
            "el",
            "en",
            "eo",
            "es",
            "et",
            "eu",
            "fa",
            "ff",
            "fi",
            "fj",
            "fo",
            "fr",
            "fy",
            "ga",
            "gd",
            "gl",
            "gn",
            "gu",
            "gv",
            "ha",
            "he",
            "hi",
            "ho",
            "hr",
            "ht",
            "hu",
            "hy",
            "hz",
            "ia",
            "id",
            "ie",
            "ig",
            "ii",
            "ik",
            "io",
            "is",
            "it",
            "iu",
            "ja",
            "jv",
            "ka",
            "kg",
            "ki",
            "kj",
            "kk",
            "kl",
            "km",
            "kn",
            "ko",
            "kr",
            "ks",
            "ku",
            "kv",
            "kw",
            "ky",
            "la",
            "lb",
            "lg",
            "li",
            "ln",
            "lo",
            "lt",
            "lu",
            "lv",
            "mg",
            "mh",
            "mi",
            "mk",
            "ml",
            "mn",
            "mr",
            "ms",
            "mt",
            "my",
            "na",
            "nb",
            "nd",
            "ne",
            "ng",
            "nl",
            "nn",
            "no",
            "nr",
            "nv",
            "ny",
            "oc",
            "oj",
            "om",
            "or",
            "os",
            "pa",
            "pi",
            "pl",
            "ps",
            "pt",
            "qu",
            "rm",
            "rn",
            "ro",
            "ru",
            "rw",
            "sa",
            "sc",
            "sd",
            "se",
            "sg",
            "si",
            "sk",
            "sl",
            "sm",
            "sn",
            "so",
            "sq",
            "sr",
            "ss",
            "st",
            "su",
            "sv",
            "sw",
            "ta",
            "te",
            "tg",
            "th",
            "ti",
            "tk",
            "tl",
            "tn",
            "to",
            "tr",
            "ts",
            "tt",
            "tw",
            "ty",
            "ug",
            "uk",
            "ur",
            "uz",
            "ve",
            "vi",
            "vo",
            "wa",
            "wo",
            "xh",
            "yi",
            "yo",
            "za",
            "zh",
            "zu"
          ]
        },
        "name": {
          "type": "string"
        }
      },
      "example": {
        "code": "en",
        "name": "English"
      }
    },
    "Link": {
      "type": "object",
      "title": "Link",
      "description": "A HATEAOS link.",
      "properties": {
        "href": {
          "type": "string"
        },
        "rel": {
          "type": "string"
        }
      },
      "example": {
        "rel": "next",
        "href": "/data/world/v1/geo/cities?offset=10&limit=10"
      }
    },
    "Locale": {
      "type": "object",
      "title": "Locale",
      "description": "A locale representing a language/region combination.",
      "properties": {
        "code": {
          "title": "Country Code",
          "description": "The locale code.",
          "type": "string"
        }
      },
      "example": {
        "code": "en_US"
      }
    },
    "Metadata": {
      "type": "object",
      "title": "Metadata",
      "description": "Result metadata (currently only associated with collection results).",
      "properties": {
        "currentOffset": {
          "title": "Current Offset",
          "description": "The zero-ary offset into the results (0 is the first result).",
          "type": "integer",
          "format": "int64"
        },
        "totalCount": {
          "title": "Total Count",
          "description": "The total number of results across pages.",
          "type": "integer",
          "format": "int64"
        }
      },
      "example": {
        "currentOffset": 0,
        "totalCount": 100
      }
    },
    "PopulatedPlaceDetails": {
      "type": "object",
      "title": "Populated-Place Details",
      "description": "Full populated-place details.",
      "properties": {
        "country": {
          "title": "Country",
          "description": "The country name (varies by languageCode).",
          "type": "string"
        },
        "countryCode": {
          "title": "Country Code",
          "description": "The ISO-3166 country code.",
          "type": "string"
        },
        "deleted": {
          "title": "Whether Deleted",
          "description": "If this place has been soft-deleted.",
          "type": "boolean"
        },
        "elevationMeters": {
          "title": "Elevation in Meters",
          "description": "The place elevation (meters) above sea level.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "title": "ID",
          "description": "The place GeoDB native ID.",
          "type": "integer",
          "format": "int32"
        },
        "latitude": {
          "title": "Latitude",
          "description": "The place latittude (-90.0 to 90.0).",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "title": "Longitude",
          "description": "The place longitude (-180.0 to 180.0).",
          "type": "number",
          "format": "double"
        },
        "name": {
          "title": "Name",
          "description": "The place name (varies by languageCode).",
          "type": "string"
        },
        "population": {
          "title": "Population",
          "description": "The place population.",
          "type": "integer",
          "format": "int32"
        },
        "region": {
          "title": "Region",
          "description": "The region name (varies by languageCode).",
          "type": "string"
        },
        "regionCode": {
          "title": "Region Code",
          "description": "The ISO or FIPS region code.",
          "type": "string"
        },
        "timezone": {
          "title": "Timezone",
          "description": "The place timezone ID.",
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/PopulatedPlaceType"
        },
        "wikiDataId": {
          "title": "Wikidata ID",
          "description": "The place WikiData ID.",
          "type": "string"
        }
      },
      "example": {
        "id": 123214,
        "wikiDataId": "Q60",
        "type": "CITY",
        "name": "New York City",
        "country": "United States of America",
        "countryCode": "US",
        "region": "New York",
        "regionCode": "NY",
        "elevationMeters": 10,
        "latitude": 40.67,
        "longitude": -73.94,
        "population": 8398748,
        "timezone": "America__New_York",
        "deleted": false
      }
    },
    "PopulatedPlaceSummary": {
      "type": "object",
      "description": "Minimal populated-place info.",
      "properties": {
        "country": {
          "title": "Country",
          "description": "The country name (varies by languageCode).",
          "type": "string"
        },
        "countryCode": {
          "title": "Country Code",
          "description": "The ISO-3166 country code.",
          "type": "string"
        },
        "distance": {
          "type": "number",
          "format": "double",
          "description": "Included if this is the result of a distance query."
        },
        "id": {
          "title": "ID",
          "description": "The place GeoDB native ID.",
          "type": "integer",
          "format": "int32"
        },
        "latitude": {
          "title": "Latitude",
          "description": "The place latittude (-90.0 to 90.0).",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "title": "Longitude",
          "description": "The place longitude (-180.0 to 180.0).",
          "type": "number",
          "format": "double"
        },
        "name": {
          "title": "Name",
          "description": "The place name (varies by languageCode).",
          "type": "string"
        },
        "population": {
          "title": "Population",
          "description": "The place population.",
          "type": "integer",
          "format": "int32"
        },
        "region": {
          "title": "Region",
          "description": "The region name (varies by languageCode).",
          "type": "string"
        },
        "regionCode": {
          "title": "Region Code",
          "description": "The ISO or FIPS region code.",
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/PopulatedPlaceType"
        },
        "wikiDataId": {
          "title": "Wikidata ID",
          "description": "The place WikiData ID.",
          "type": "string"
        }
      },
      "example": {
        "id": 123214,
        "wikiDataId": "Q60",
        "type": "CITY",
        "name": "New York City",
        "country": "United States of America",
        "countryCode": "US",
        "region": "New York",
        "regionCode": "NY",
        "latitude": 40.67,
        "longitude": -73.94
      }
    },
    "PopulatedPlaceType": {
      "type": "string",
      "description": "One of a set of enumerated populated-place types known by the service (currently only level-2 admin divisions and cities) .",
      "enum": [
        "ADM2",
        "CITY"
      ],
      "example": "CITY"
    },
    "RegionDetails": {
      "type": "object",
      "title": "Country Region Details",
      "description": "Full country region details.",
      "properties": {
        "capital": {
          "title": "Capital",
          "description": "The region's capital city (varies by languageCode).",
          "type": "string"
        },
        "countryCode": {
          "title": "Country Code",
          "description": "An ISO-3166 country code.",
          "type": "string"
        },
        "fipsCode": {
          "title": "FIPS Code",
          "description": "The FIPS 10-4 region code.",
          "type": "string"
        },
        "isoCode": {
          "title": "ISO Code",
          "description": "The ISO region code.",
          "type": "string"
        },
        "name": {
          "title": "Name",
          "description": "The region name (varies by languageCode).",
          "type": "string"
        },
        "numCities": {
          "title": "Number of Cities",
          "description": "The number of cities in this region.",
          "type": "integer",
          "format": "int32"
        },
        "wikiDataId": {
          "title": "Wikidata ID",
          "description": "The region WikiData ID.",
          "type": "string"
        }
      },
      "example": {
        "capital": "Sacramento",
        "countryCode": "US",
        "fipsCode": 6,
        "isoCode": "CA",
        "name": "California",
        "numCities": 1532,
        "wikiDataId": "Q99"
      }
    },
    "RegionSummary": {
      "type": "object",
      "title": "Country Region Summary",
      "description": "Minimal country region info.",
      "properties": {
        "countryCode": {
          "title": "Country Code",
          "description": "An ISO-3166 country code.",
          "type": "string"
        },
        "fipsCode": {
          "title": "FIPS Code",
          "description": "The FIPS 10-4 region code.",
          "type": "string"
        },
        "isoCode": {
          "title": "ISO Code",
          "description": "The ISO region code.",
          "type": "string"
        },
        "name": {
          "title": "Name",
          "description": "The region name (varies by languageCode).",
          "type": "string"
        },
        "wikiDataId": {
          "title": "Wikidata ID",
          "description": "The region WikiData ID.",
          "type": "string"
        }
      },
      "example": {
        "countryCode": "US",
        "fipsCode": 6,
        "isoCode": "CA",
        "name": "California",
        "wikiDataId": "Q99"
      }
    },
    "TimeZoneDescriptor": {
      "type": "object",
      "title": "Time-Zone",
      "description": "A time-zone.",
      "properties": {
        "id": {
          "title": "ID",
          "description": "The time-zone ID.",
          "type": "string"
        },
        "name": {
          "title": "Name",
          "description": "The time-zone name.",
          "type": "string"
        },
        "rawUtcOffsetHours": {
          "title": "Offset from UTC",
          "description": "The number of hours this time-zone is offset from UTC.",
          "type": "integer",
          "format": "int32"
        }
      },
      "example": {
        "id": "Africa__Abidjan",
        "name": "Greenwich Mean Time",
        "rawUtcOffsetHours": 0
      }
    },
    "BaseResponse": {
      "type": "object",
      "title": "Base Response",
      "description": "Common properties for all responses.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "example": {
        "errors": []
      }
    },
    "BaseCollectionResponse": {
      "type": "object",
      "title": "Base Collection Response",
      "description": "Common properties for all collection  responses.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "links": {
          "title": "Links",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "metadata": {
          "$ref": "#/definitions/Metadata"
        }
      },
      "example": {
        "links": [
          {
            "rel": "first",
            "href": "/data/world/v1/some/resource?offset=0&limit=5"
          },
          {
            "rel": "prev",
            "href": "/data/world/v1/some/resource?offset=0&limit=5"
          },
          {
            "rel": "next",
            "href": "/data/world/v1/some/resource?offset=10&limit=5"
          },
          {
            "rel": "last",
            "href": "/data/world/v1/some/resource?offset=95&limit=5"
          }
        ],
        "metadata": {
          "currentOffset": 5,
          "totalCount": 100
        }
      }
    },
    "CountriesResponse": {
      "type": "object",
      "title": "Countries Response",
      "description": "A list of countries.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "type": "array",
          "title": "CountrySummaries",
          "items": {
            "$ref": "#/definitions/CountrySummary"
          }
        }
      }
    },
    "CountryResponse": {
      "type": "object",
      "title": "Country Response",
      "description": "Country details response.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "$ref": "#/definitions/CountryDetails"
        }
      }
    },
    "CurrenciesResponse": {
      "type": "object",
      "title": "Currencies Response",
      "description": "A list of currencies.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Currency"
          }
        }
      }
    },
    "DateTimeResponse": {
      "type": "object",
      "title": "Date-Time Response",
      "description": "An ISO-6801 date-time response.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "description": "The date-time in ISO-6801 format: yyyyMMdd'T'HHmmssZ.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "DistanceResponse": {
      "type": "object",
      "title": "Distance Response",
      "description": "A decimal distance (in miles or kilometers).",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "description": "The distance in units as set by the distanceUnit param (defaults to miles).",
          "type": "number",
          "format": "double"
        }
      }
    },
    "LanguagesResponse": {
      "type": "object",
      "title": "Languages Response",
      "description": "A list of languages supported by the system.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LanguageDescriptor"
          }
        }
      }
    },
    "LocalesResponse": {
      "type": "object",
      "title": "Locales Response",
      "description": "A list of locales.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Locale"
          }
        }
      }
    },
    "PopulatedPlacesResponse": {
      "type": "object",
      "title": "Populated-Places Response",
      "description": "A list of populated places.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PopulatedPlaceSummary"
          }
        }
      }
    },
    "PopulatedPlaceResponse": {
      "type": "object",
      "title": "Populated-Place Response",
      "description": "Populated-place details response.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "$ref": "#/definitions/PopulatedPlaceDetails"
        }
      }
    },
    "RegionResponse": {
      "type": "object",
      "title": "Country Region Response",
      "description": "Country region details response.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "$ref": "#/definitions/RegionDetails"
        }
      }
    },
    "RegionsResponse": {
      "type": "object",
      "title": "Country Regions Response",
      "description": "A list of country regions.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "description": "A list of RegionSummaries.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegionSummary"
          }
        }
      }
    },
    "TimeResponse": {
      "type": "object",
      "title": "Time Response",
      "description": "An ISO-8601 time response.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "description": "The time in ISO-8601 format: HHmmss.SSSZ",
          "type": "string"
        }
      }
    },
    "TimeZoneResponse": {
      "type": "object",
      "title": "Time-Zone Response",
      "description": "A time-zone.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "id": {
          "description": "The time-zone ID.",
          "type": "string"
        },
        "name": {
          "description": "The time-zone name.",
          "type": "string"
        },
        "rawUtcOffsetHours": {
          "description": "The number of hours this time-zone is offset from UTC.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TimeZonesResponse": {
      "type": "object",
      "title": "Time-Zones Response",
      "description": "A list of time-zones.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TimeZoneDescriptor"
          }
        }
      }
    },
    "BadRequestResponse": {
      "type": "object",
      "title": "Bad Request Response",
      "description": "Bad Request Response.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "ForbiddenResponse": {
      "type": "object",
      "title": "Forbidden Response",
      "description": "Forbidden Response.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "NotFoundResponse": {
      "type": "object",
      "title": "Not Found Response",
      "description": "Not Found Response.",
      "properties": {
        "errors": {
          "title": "Errors",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    }
  },
  "parameters": {
    "path.cityId": {
      "name": "cityId",
      "in": "path",
      "x-ms-summary": "City ID",
      "x-ms-url-encoding": "single",
      "description": "A city ID (either native 'id' or 'wikiDataId').",
      "required": true,
      "type": "string"
    },
    "path.countryId": {
      "name": "countryId",
      "in": "path",
      "x-ms-summary": "Country ID",
      "x-ms-url-encoding": "single",
      "description": "An ISO-3166 country code or WikiData ID.",
      "required": true,
      "type": "string"
    },
    "query.country.currencyCode": {
      "name": "currencyCode",
      "in": "query",
      "x-ms-summary": "Currency Code",
      "description": "Only countries supporting this currency.",
      "required": false,
      "type": "string"
    },
    "query.currency.countryId": {
      "name": "countryId",
      "in": "query",
      "x-ms-summary": "Currency for Country ID",
      "description": "Currencies for this country ID.",
      "required": true,
      "type": "string"
    },
    "path.divisionId": {
      "name": "divisionId",
      "in": "path",
      "x-ms-summary": "Division ID",
      "x-ms-url-encoding": "single",
      "description": "An admin-division ID (either native 'id' or 'wikiDataId').",
      "required": true,
      "type": "string"
    },
    "query.entity.namePrefix": {
      "name": "namePrefix",
      "in": "query",
      "x-ms-summary": "Name Prefix",
      "description": "Only entities whose names start with this prefix. If languageCode is set, the prefix will be matched on the name as it appears in that language. ",
      "required": false,
      "type": "string"
    },
    "query.entity.namePrefixDefaultLangResults": {
      "name": "namePrefixDefaultLangResults",
      "in": "query",
      "x-ms-summary": "Name Prefix Default Language",
      "description": "When name-prefix matching, whether or not to match on names in the default language if a non-default languageCode is set. ",
      "required": false,
      "type": "boolean",
      "default": true
    },
    "path.location.id": {
      "name": "locationId",
      "in": "path",
      "x-ms-summary": "Location ID",
      "x-ms-url-encoding": "single",
      "description": "A latitude/longitude in ISO-6709 format: \u00b1DD.DDDD\u00b1DDD.DDDD",
      "required": true,
      "type": "string"
    },
    "query.distanceUnit": {
      "name": "distanceUnit",
      "in": "query",
      "x-ms-summary": "Distance Unit",
      "description": "The unit of distance: MI | KM.",
      "required": false,
      "type": "string",
      "default": "MI"
    },
    "query.toCityId": {
      "name": "toCityId",
      "in": "query",
      "x-ms-summary": "To City ID",
      "description": "Distance to this city.",
      "required": true,
      "type": "string"
    },
    "query.place.countryIds": {
      "name": "countryIds",
      "in": "query",
      "x-ms-summary": "Country ID",
      "description": "Only places in these countries (comma-delimited country codes or WikiData IDs).",
      "required": false,
      "type": "string"
    },
    "query.place.excludedCountryIds": {
      "name": "excludedCountryIds",
      "in": "query",
      "x-ms-summary": "Exclude Country IDs",
      "description": "Only places NOT in these countries (comma-delimited country codes or WikiData IDs).",
      "required": false,
      "type": "string"
    },
    "query.place.location.id": {
      "name": "location",
      "in": "query",
      "x-ms-summary": "Nearby Location IDs",
      "description": "Only places near this location. Latitude/longitude in ISO-6709 format: \u00b1DD.DDDD\u00b1DDD.DDDD",
      "required": false,
      "type": "string"
    },
    "query.place.location.radiusOf": {
      "name": "radius",
      "in": "query",
      "x-ms-summary": "Location Radius",
      "description": "The location radius within which to find places.",
      "required": false,
      "type": "integer",
      "format": "int32"
    },
    "query.place.minPopulation": {
      "name": "minPopulation",
      "in": "query",
      "x-ms-summary": "Minimum Population",
      "description": "Only places having at least this population.",
      "required": false,
      "type": "integer",
      "format": "int32"
    },
    "query.place.maxPopulation": {
      "name": "maxPopulation",
      "in": "query",
      "x-ms-summary": "Maximum Population",
      "description": "Only places having no more than this population.",
      "required": false,
      "type": "integer",
      "format": "int32"
    },
    "query.place.types": {
      "name": "types",
      "in": "query",
      "x-ms-summary": "Place Types",
      "description": "Only places for these types (comma-delimited): CITY | ADM2.",
      "required": false,
      "type": "string"
    },
    "query.place.sort": {
      "name": "sort",
      "in": "query",
      "x-ms-summary": "Sort Places",
      "description": "How to sort place results.  'Format: \u00b1SORT_FIELD,\u00b1SORT_FIELD'  where SORT_FIELD = countryCode | elevation | name | population .",
      "required": false,
      "type": "string"
    },
    "query.place.sort.withinRegion": {
      "name": "sort",
      "in": "query",
      "x-ms-summary": "Sort Within Region",
      "description": "How to sort place results.  'Format: \u00b1SORT_FIELD,\u00b1SORT_FIELD'  where SORT_FIELD = elevation | name | population .",
      "required": false,
      "type": "string"
    },
    "path.regionCode": {
      "name": "regionCode",
      "in": "path",
      "x-ms-summary": "Region Code",
      "x-ms-url-encoding": "single",
      "description": "An ISO-3166 or FIPS region code.",
      "required": true,
      "type": "string"
    },
    "path.zoneId": {
      "name": "zoneId",
      "in": "path",
      "x-ms-summary": "Zone ID",
      "x-ms-url-encoding": "single",
      "description": "A time-zone ID.",
      "required": true,
      "type": "string"
    },
    "query.timeZoneIds": {
      "name": "timeZoneIds",
      "in": "query",
      "x-ms-summary": "Timezone ID",
      "description": "Only places in these time-zones (comma-delimited).",
      "required": false,
      "type": "string"
    },
    "query.asciiMode": {
      "name": "asciiMode",
      "in": "query",
      "x-ms-summary": "ASCII Mode",
      "description": "Display results using ASCII characters.",
      "required": false,
      "type": "boolean",
      "default": false
    },
    "query.hateoasMode": {
      "name": "hateoasMode",
      "in": "query",
      "x-ms-summary": "HATEOAS Mode",
      "description": "Include HATEOAS-style links in results.",
      "required": false,
      "type": "boolean",
      "default": true
    },
    "query.languageCode": {
      "name": "languageCode",
      "in": "query",
      "x-ms-summary": "Language Code",
      "description": "Display results in this language.",
      "required": false,
      "type": "string"
    },
    "query.limit": {
      "name": "limit",
      "in": "query",
      "x-ms-summary": "Limit",
      "description": "The maximum number of results to retrieve.",
      "required": false,
      "type": "integer",
      "default": 10,
      "format": "int32"
    },
    "query.offset": {
      "name": "offset",
      "in": "query",
      "x-ms-summary": "Offset",
      "description": "The zero-ary offset index into the results.",
      "required": false,
      "type": "integer",
      "default": 0,
      "format": "int32"
    },
    "query.sort": {
      "name": "sort",
      "in": "query",
      "x-ms-summary": "Sort",
      "description": "How to sort place results.  'Format: \u00b1SORT_FIELD,\u00b1SORT_FIELD'  where SORT_FIELD = countryCode | elevation | name | population .",
      "required": false,
      "type": "string"
    },
    "query.includeDeleted": {
      "name": "includeDeleted",
      "in": "query",
      "x-ms-summary": "Include Deleted",
      "description": "Whether to include any divisions marked deleted: ALL | SINCE_YESTERDAY | SINCE_LAST_WEEK | NONE.",
      "required": false,
      "type": "string",
      "default": "NONE"
    }
  },
  "responses": {
    "Countries": {
      "description": "A list of countries.",
      "schema": {
        "$ref": "#/definitions/CountriesResponse"
      }
    },
    "Country": {
      "description": "Country detail.",
      "schema": {
        "$ref": "#/definitions/CountryResponse"
      }
    },
    "Currencies": {
      "description": "A list of currencies.",
      "schema": {
        "$ref": "#/definitions/CurrenciesResponse"
      }
    },
    "DateTime": {
      "description": "An ISO-6801 date-time.",
      "schema": {
        "$ref": "#/definitions/DateTimeResponse"
      }
    },
    "Distance": {
      "description": "A decimal distance (in miles or kilometers).",
      "schema": {
        "$ref": "#/definitions/DistanceResponse"
      }
    },
    "Languages": {
      "description": "A list of languages supported by the system.",
      "schema": {
        "$ref": "#/definitions/LanguagesResponse"
      }
    },
    "Locales": {
      "description": "A list of locales.",
      "schema": {
        "$ref": "#/definitions/LocalesResponse"
      }
    },
    "PopulatedPlace": {
      "description": "Populated-place details.",
      "schema": {
        "$ref": "#/definitions/PopulatedPlaceResponse"
      }
    },
    "PopulatedPlaces": {
      "description": "A list of populated places.",
      "schema": {
        "$ref": "#/definitions/PopulatedPlacesResponse"
      }
    },
    "Region": {
      "description": "Country region details.",
      "schema": {
        "$ref": "#/definitions/RegionResponse"
      }
    },
    "Regions": {
      "description": "A list of country regions.",
      "schema": {
        "$ref": "#/definitions/RegionsResponse"
      }
    },
    "Time": {
      "description": "An ISO-8601 time response.",
      "schema": {
        "$ref": "#/definitions/TimeResponse"
      }
    },
    "TimeZone": {
      "description": "A time-zone.",
      "schema": {
        "$ref": "#/definitions/TimeZoneResponse"
      }
    },
    "TimeZones": {
      "description": "A list of time-zones.",
      "schema": {
        "$ref": "#/definitions/TimeZonesResponse"
      }
    },
    "BadRequest": {
      "description": "400 - Bad Request",
      "schema": {
        "$ref": "#/definitions/BadRequestResponse"
      }
    },
    "Forbidden": {
      "description": "403 - Forbidden",
      "schema": {
        "$ref": "#/definitions/ForbiddenResponse"
      }
    },
    "NotFound": {
      "description": "404 - Not Found",
      "schema": {
        "$ref": "#/definitions/NotFoundResponse"
      }
    },
    "Unauthorized": {
      "description": "401 - Unauthorized"
    }
  },
  "securityDefinitions": {
    "UserSecurity": {
      "type": "apiKey",
      "name": "x-rapidapi-key",
      "in": "header"
    }
  },
  "security": [
    {
      "UserSecurity": []
    }
  ],
  "tags": [
    {
      "name": "Geo",
      "description": "Geo Endpoints."
    },
    {
      "name": "Locale",
      "description": "Locale Endpoints."
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://geodb-cities-api.wirefreethought.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "http://wirefreethought.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}