{
  "swagger": "2.0",
  "info": {
    "title": "RealFaviconGenerator",
    "description": "With so many platforms and icons, it's hard to know exactly what you should do. Each platform comes with its own design requirements. You can't just use the same picture everywhere. RealFaviconGenerator knows this and lets you craft your icons platform per platform.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "realfavicongenerator.net",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/favicon": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "favicon_generation_result": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "The status.",
                          "title": "Status"
                        }
                      },
                      "title": "Result"
                    },
                    "favicon": {
                      "type": "object",
                      "properties": {
                        "package_url": {
                          "type": "string",
                          "description": "The package URL address.",
                          "title": "Package URL"
                        },
                        "files_urls": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The file URL addresses.",
                          "title": "Files URLs"
                        },
                        "html_code": {
                          "type": "string",
                          "description": "The HTML code.",
                          "title": "HTML Code"
                        },
                        "compression": {
                          "type": "string",
                          "description": "The compression.",
                          "title": "Compression"
                        },
                        "overlapping_markups": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The overlapping markups.",
                          "title": "Overlapping Markups"
                        }
                      },
                      "title": "Favicon"
                    },
                    "files_location": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path.",
                          "title": "Path"
                        }
                      },
                      "title": "Files Location"
                    },
                    "preview_picture_url": {
                      "type": "string",
                      "description": "The preview picture URL address.",
                      "title": "Preview Picture URL"
                    },
                    "version": {
                      "type": "string",
                      "description": "The version.",
                      "title": "Version"
                    }
                  },
                  "title": "Favicon Generation Result"
                }
              }
            }
          }
        },
        "summary": "Generate favicon",
        "description": "Generate a favicon based on your provided parameters.",
        "operationId": "FaviconPost",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "x-ms-summary": "API Key",
            "description": "The API key.",
            "required": true,
            "type": "string",
            "default": "@connectionParameters('key')",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "favicon_generation": {
                  "type": "object",
                  "properties": {
                    "master_picture": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "url": {
                          "type": "string",
                          "description": "The URL address.",
                          "title": "URL"
                        }
                      },
                      "title": "Master Picture"
                    },
                    "files_location": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path.",
                          "title": "Path"
                        }
                      },
                      "title": "Files Location"
                    },
                    "favicon_design": {
                      "type": "object",
                      "properties": {
                        "desktop_browser": {
                          "type": "object",
                          "properties": {
                            "picture_aspect": {
                              "type": "string",
                              "description": "The picture aspect.",
                              "title": "Picture Aspect"
                            },
                            "margin": {
                              "type": "string",
                              "description": "The margin.",
                              "title": "Margin"
                            },
                            "background_color": {
                              "type": "string",
                              "description": "The background color.",
                              "title": "Background Color"
                            },
                            "startup_image": {
                              "type": "object",
                              "properties": {
                                "master_picture": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Master Picture"
                                },
                                "background_color": {
                                  "type": "string",
                                  "description": "The background color.",
                                  "title": "Background Color"
                                }
                              },
                              "title": "Startup Image"
                            }
                          },
                          "title": "Desktop Browser"
                        },
                        "ios": {
                          "type": "object",
                          "properties": {
                            "picture_aspect": {
                              "type": "string",
                              "description": "The picture aspect.",
                              "title": "Picture Aspect"
                            },
                            "margin": {
                              "type": "string",
                              "description": "The margin.",
                              "title": "Margin"
                            },
                            "background_color": {
                              "type": "string",
                              "description": "The background color.",
                              "title": "Background Color"
                            },
                            "startup_image": {
                              "type": "object",
                              "properties": {
                                "master_picture": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "The type.",
                                      "title": "Type"
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Master Picture"
                                },
                                "background_color": {
                                  "type": "string",
                                  "description": "The background color.",
                                  "title": "Background Color"
                                }
                              },
                              "title": "Startup Image"
                            },
                            "assets": {
                              "type": "object",
                              "properties": {
                                "ios6_and_prior_icons": {
                                  "type": "boolean",
                                  "description": "Whether iOS 6 and prior icons.",
                                  "title": "iOS 6 and Prior Icons"
                                },
                                "ios7_and_later_icons": {
                                  "type": "boolean",
                                  "description": "Whether iOS 7 and later icons.",
                                  "title": "iOS 7 and Later Icons"
                                },
                                "precomposed_icons": {
                                  "type": "boolean",
                                  "description": "Whether precomposed icons.",
                                  "title": "Precomposed Icons"
                                },
                                "declare_only_default_icon": {
                                  "type": "boolean",
                                  "description": "Whether declare only default icons.",
                                  "title": "Declare Only Default Icon"
                                }
                              },
                              "title": "Assets"
                            }
                          },
                          "title": "Ios"
                        },
                        "windows": {
                          "type": "object",
                          "properties": {
                            "picture_aspect": {
                              "type": "string",
                              "description": "The picture aspect.",
                              "title": "Picture Aspect"
                            },
                            "background_color": {
                              "type": "string",
                              "description": "The background color.",
                              "title": "Background Color"
                            },
                            "assets": {
                              "type": "object",
                              "properties": {
                                "windows_80_ie_10_tile": {
                                  "type": "boolean",
                                  "description": "Whether Windows 10 tile.",
                                  "title": "Windows 10 Tile"
                                },
                                "windows_10_ie_11_edge_tiles": {
                                  "type": "object",
                                  "properties": {
                                    "small": {
                                      "type": "boolean",
                                      "description": "Whether small.",
                                      "title": "Small"
                                    },
                                    "medium": {
                                      "type": "boolean",
                                      "description": "Whether medium.",
                                      "title": "Medium"
                                    },
                                    "big": {
                                      "type": "boolean",
                                      "description": "Whether big.",
                                      "title": "Big"
                                    },
                                    "rectangle": {
                                      "type": "boolean",
                                      "description": "Whether rectangle.",
                                      "title": "Rectangle"
                                    }
                                  },
                                  "title": "Windows 11 Edge Tiles"
                                }
                              },
                              "title": "Assets"
                            }
                          },
                          "title": "Windows"
                        },
                        "firefox_app": {
                          "type": "object",
                          "properties": {
                            "picture_aspect": {
                              "type": "string",
                              "description": "The picture aspect.",
                              "title": "Picture Aspect"
                            },
                            "keep_picture_in_circle": {
                              "type": "string",
                              "description": "The keep picture in circle.",
                              "title": "Keep Picture In Circle"
                            },
                            "circle_inner_margin": {
                              "type": "string",
                              "description": "The circle inner margin.",
                              "title": "Circle Inner Margin"
                            },
                            "background_color": {
                              "type": "string",
                              "description": "The background color.",
                              "title": "Background Color"
                            },
                            "manifest": {
                              "type": "object",
                              "properties": {
                                "app_name": {
                                  "type": "string",
                                  "description": "The app name.",
                                  "title": "App Name"
                                },
                                "app_description": {
                                  "type": "string",
                                  "description": "The app description.",
                                  "title": "App Description"
                                },
                                "developer_name": {
                                  "type": "string",
                                  "description": "The developer name.",
                                  "title": "Developer Name"
                                },
                                "developer_url": {
                                  "type": "string",
                                  "description": "The developer URL address.",
                                  "title": "Developer URL"
                                }
                              },
                              "title": "Manifest"
                            }
                          },
                          "title": "Firefox App"
                        },
                        "android_chrome": {
                          "type": "object",
                          "properties": {
                            "picture_aspect": {
                              "type": "string",
                              "description": "The picture aspect.",
                              "title": "Picture Aspect"
                            },
                            "manifest": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "display": {
                                  "type": "string",
                                  "description": "The display.",
                                  "title": "Display"
                                },
                                "orientation": {
                                  "type": "string",
                                  "description": "The orientation.",
                                  "title": "Orientation"
                                },
                                "start_url": {
                                  "type": "string",
                                  "description": "The start URL address.",
                                  "title": "Start URL"
                                },
                                "existing_manifest": {
                                  "type": "string",
                                  "description": "The existing manifest.",
                                  "title": "Existing Manifest"
                                }
                              },
                              "title": "Manifest"
                            },
                            "assets": {
                              "type": "object",
                              "properties": {
                                "legacy_icon": {
                                  "type": "boolean",
                                  "description": "Whether legacy icon.",
                                  "title": "Legacy Icon"
                                },
                                "low_resolution_icons": {
                                  "type": "boolean",
                                  "description": "Whether low resolution icons.",
                                  "title": "Low Resolution Icons"
                                }
                              },
                              "title": "Assets"
                            },
                            "theme_color": {
                              "type": "string",
                              "description": "The theme color.",
                              "title": "Theme Color"
                            }
                          },
                          "title": "Android Chrome"
                        },
                        "safari_pinned_tab": {
                          "type": "object",
                          "properties": {
                            "picture_aspect": {
                              "type": "string",
                              "description": "The picture aspect.",
                              "title": "Picture Aspect"
                            },
                            "threshold": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The threshold.",
                              "title": "Threshold"
                            },
                            "theme_color": {
                              "type": "string",
                              "description": "The theme color.",
                              "title": "Theme Color"
                            }
                          },
                          "title": "Safari Pinned Tab"
                        },
                        "coast": {
                          "type": "object",
                          "properties": {
                            "picture_aspect": {
                              "type": "string",
                              "description": "The picture aspect.",
                              "title": "Picture Aspect"
                            },
                            "background_color": {
                              "type": "string",
                              "description": "The background color.",
                              "title": "Background Color"
                            },
                            "margin": {
                              "type": "string",
                              "description": "The margin.",
                              "title": "Margin"
                            }
                          },
                          "title": "Coast"
                        },
                        "open_graph": {
                          "type": "object",
                          "properties": {
                            "picture_aspect": {
                              "type": "string",
                              "description": "The picture aspect.",
                              "title": "Picture Aspect"
                            },
                            "background_color": {
                              "type": "string",
                              "description": "The background color.",
                              "title": "Background Color"
                            },
                            "margin": {
                              "type": "string",
                              "description": "The margin.",
                              "title": "Margin"
                            },
                            "ratio": {
                              "type": "string",
                              "description": "The ratio.",
                              "title": "Ratio"
                            }
                          },
                          "title": "Open Graph"
                        },
                        "yandex_browser": {
                          "type": "object",
                          "properties": {
                            "background_color": {
                              "type": "string",
                              "description": "The background color.",
                              "title": "Background Color"
                            },
                            "manifest": {
                              "type": "object",
                              "properties": {
                                "show_title": {
                                  "type": "boolean",
                                  "description": "Whether to show title.",
                                  "title": "Show Title"
                                },
                                "version": {
                                  "type": "string",
                                  "description": "The version.",
                                  "title": "Version"
                                }
                              },
                              "title": "Manifest"
                            }
                          },
                          "title": "Yandex Browser"
                        }
                      },
                      "title": "Favicon Design"
                    },
                    "settings": {
                      "type": "object",
                      "properties": {
                        "compression": {
                          "type": "string",
                          "description": "The compression.",
                          "title": "Compression"
                        },
                        "scaling_algorithm": {
                          "type": "string",
                          "description": "The scaling algorithm.",
                          "title": "Scaling Algorithm"
                        },
                        "error_on_image_too_small": {
                          "type": "boolean",
                          "description": "Whether to error on image too small.",
                          "title": "Error On Image Too Small"
                        },
                        "readme_file": {
                          "type": "boolean",
                          "description": "Whether to include readme file.",
                          "title": "Readme File"
                        },
                        "html_code_file": {
                          "type": "boolean",
                          "description": "Whether to include HTML code file.",
                          "title": "HTML Code File"
                        },
                        "use_path_as_is": {
                          "type": "boolean",
                          "description": "Whether to use path as is.",
                          "title": "Use Path As Is"
                        }
                      },
                      "title": "Settings"
                    },
                    "versioning": {
                      "type": "object",
                      "properties": {
                        "param_name": {
                          "type": "string",
                          "description": "The parameter name.",
                          "title": "Parameter Name"
                        },
                        "param_value": {
                          "type": "string",
                          "description": "The parameter value.",
                          "title": "Parameter Value"
                        }
                      },
                      "title": "Versioning"
                    }
                  },
                  "title": "Favicon Generation"
                }
              }
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FaviconPost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": "RealFaviconGenerator",
    "modelDescription": "This is a Copilot plugin for the RealFaviconGenerator service.",
    "contactEmail": "ttaylor@hitachisolutions.com"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://realfavicongenerator.net/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://realfavicongenerator.net/privacy_policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website;Social Media"
    }
  ]
}
