{
  "swagger": "2.0",
  "info": {
    "title": "Pling",
    "description": "Easily send notifications to users in your organization directly in a chat in Microsoft Teams. Requires installation of the Pling app in Microsoft Teams.",
    "version": "1.0",
    "contact": {
      "name": "IntraActive",
      "url": "https://intraactive.net/products/pling",
      "email": "service@intraactive.dk"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://intraactive.net"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://intraactive.net/privacy-policy-pling"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Collaboration"
    }
  ],
  "host": "api.pling.intraactive.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/profiles/{profileId}/messages": {
      "post": {
        "responses": {
          "202": {
            "description": "Accepted"
          }
        },
        "summary": "Send a Teams notification",
        "description": "Send a notification to users in a Microsoft Teams chat by using Pling. You select a template to use for your message. Edit templates in the Pling app in Microsoft Teams. Pling must already be installed on your tenant. Individual users who receive a Pling message will get Pling automatically installed if they do not have it already.",
        "operationId": "SendNotification",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Select a profile",
            "x-ms-summary": "Profile",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetProfiles",
              "value-path": "id",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Title of the message",
                  "title": "Title",
                  "x-ms-visibility": "important"
                },
                "templateId": {
                  "type": "string",
                  "description": "Template for the message",
                  "title": "Template",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTemplates",
                    "value-path": "id",
                    "value-title": "name",
                    "parameters": {
                      "profileId": {
                        "parameter": "profileId"
                      }
                    }
                  }
                },
                "content": {
                  "type": "string",
                  "description": "Content of the message",
                  "title": "Content",
                  "x-ms-visibility": "important"
                },
                "audienceUsers": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Recipient of the message",
                    "title": "User email address",
                    "x-ms-visibility": "important"
                  },
                  "description": "Recipients of the message",
                  "title": "Audience"
                },
                "additionalTemplateData": {
                  "type": "object",
                  "title": "Additional template data",
                  "default": {
                    "imageUrl": "Insert your image url here if the chosen template includes an image",
                    "priority": "Default",
                    "property1": "Insert more properties here for your custom templates",
                    "property2": "Find your properties inside the Pling app in Microsoft Teams"
                  },
                  "x-ms-visibility": "advanced"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "audienceUsers",
                "content",
                "title",
                "templateId"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/profiles": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Profile id"
                  },
                  "name": {
                    "type": "string",
                    "description": "Profile name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get profiles",
        "description": "Gets a list of available profiles in your Pling app. This action is usually not needed but it is made available here for advanced purposes. A profile indicates an isolated instance of Pling and is a good way to separate Pling messages based on different legal entities in the same tenant.",
        "operationId": "GetProfiles",
        "parameters": []
      }
    },
    "/profiles/{profileId}/templates": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Template id"
                  },
                  "name": {
                    "type": "string",
                    "description": "Template name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get templates",
        "description": "Get a list of available templates in your Pling app. Each template is an Adaptive Card that is managed inside the Pling app in Microsoft Teams.",
        "operationId": "GetTemplates",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Select a profile",
            "x-ms-summary": "Profile",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetProfiles",
              "value-path": "id",
              "value-title": "name"
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}