{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Mastodon Social (Independent Publisher)",
    "description": "Mastodon is a free, open-source social network server based on ActivityPub. It is designed to be self-hosted and can be used to create a decentralized social network. This web service allows you to interact with Mastodon instances and perform various actions such as posting statuses, following users, and managing your account.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "mastodon.social",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/accounts": {
      "post": {
        "description": "Creates a user and account records. Returns an account access token for the app that initiated the request. The app should save this token for later, and should wait for the user to confirm their account by clicking a link in their email inbox.",
        "summary": "Register an account",
        "tags": [
          "TODOSecurity",
          "accounts"
        ],
        "operationId": "ApiV1Accounts_POST",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "required": [
                "username",
                "email",
                "password",
                "agreement",
                "locale"
              ],
              "properties": {
                "username": {
                  "title": "Username",
                  "type": "string",
                  "description": "The desired username for the account."
                },
                "email": {
                  "title": "Email",
                  "type": "string",
                  "description": "The email address to be used for login."
                },
                "password": {
                  "title": "Password",
                  "type": "string",
                  "description": "The password to be used for login."
                },
                "agreement": {
                  "title": "Agreement",
                  "type": "boolean",
                  "description": "Whether the user agrees to the local rules, terms, and policies. These should be presented to the user in order to allow them to consent before setting this parameter to TRUE."
                },
                "locale": {
                  "title": "Locale",
                  "type": "string",
                  "description": "The language of the confirmation email that will be sent."
                },
                "reason": {
                  "title": "Reason",
                  "type": "string",
                  "description": "If registrations require manual approval, this text will be reviewed by moderators."
                },
                "date_of_birth": {
                  "title": "Date of Birth",
                  "type": "string",
                  "format": "date",
                  "description": "Required if the server has a minimum age requirement."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "description": "Unauthorized."
          }
        }
      }
    },
    "/api/v1/accounts/verify_credentials": {
      "get": {
        "description": "Test to make sure that the user token works.",
        "summary": "Verify account credentials",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsVerifyCredentials_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Note the extra `source` property, which is not visible on accounts other than your own. Also note that plain-text is used within `source` and HTML is used for their corresponding properties such as `note` and `fields`.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "401": {
            "description": "Your credential verification will fail if the token is invalid or incorrect.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Your user account is currently disabled, missing a confirmed email address, or pending approval.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/update_credentials": {
      "patch": {
        "description": "Update the user's display and preferences.",
        "summary": "Update account credentials",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsUpdateCredentials_PATCH",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "display_name",
            "in": "formData",
            "x-ms-summary": "Display Name",
            "required": false,
            "type": "string",
            "description": "The display name to use for the profile."
          },
          {
            "name": "note",
            "in": "formData",
            "x-ms-summary": "Note",
            "required": false,
            "type": "string",
            "description": "The account bio."
          },
          {
            "name": "avatar",
            "in": "formData",
            "x-ms-summary": "Avatar",
            "required": false,
            "type": "file",
            "description": "Avatar image encoded using multipart/form-data."
          },
          {
            "name": "header",
            "in": "formData",
            "x-ms-summary": "Header",
            "required": false,
            "type": "file",
            "description": "Header image encoded using multipart/form-data."
          },
          {
            "name": "locked",
            "in": "formData",
            "x-ms-summary": "Locked",
            "required": false,
            "type": "boolean",
            "description": "Whether manual approval of follow requests is required."
          },
          {
            "name": "bot",
            "in": "formData",
            "x-ms-summary": "Bot",
            "required": false,
            "type": "boolean",
            "description": "Whether the account has a bot flag."
          },
          {
            "name": "discoverable",
            "in": "formData",
            "x-ms-summary": "Discoverable",
            "required": false,
            "type": "boolean",
            "description": "Whether the account should be shown in the profile directory."
          },
          {
            "name": "hide_collections",
            "in": "formData",
            "x-ms-summary": "Hide Collections",
            "required": false,
            "type": "boolean",
            "description": "Whether to hide followers and followed accounts."
          },
          {
            "name": "indexable",
            "in": "formData",
            "x-ms-summary": "Indexable",
            "required": false,
            "type": "boolean",
            "description": "Whether public posts should be searchable to anyone."
          },
          {
            "name": "fields_attributes[0][name]",
            "in": "formData",
            "x-ms-summary": "Field Name 1",
            "required": false,
            "type": "string",
            "description": "The name of the first profile field."
          },
          {
            "name": "fields_attributes[0][value]",
            "in": "formData",
            "x-ms-summary": "Field Value 1",
            "required": false,
            "type": "string",
            "description": "The value of the first profile field."
          },
          {
            "name": "fields_attributes[1][name]",
            "in": "formData",
            "x-ms-summary": "Field Name 2",
            "required": false,
            "type": "string",
            "description": "The name of the second profile field."
          },
          {
            "name": "fields_attributes[1][value]",
            "in": "formData",
            "x-ms-summary": "Field Value 2",
            "required": false,
            "type": "string",
            "description": "The value of the second profile field."
          },
          {
            "name": "fields_attributes[2][name]",
            "in": "formData",
            "x-ms-summary": "Field Name 3",
            "required": false,
            "type": "string",
            "description": "The name of the third profile field."
          },
          {
            "name": "fields_attributes[2][value]",
            "in": "formData",
            "x-ms-summary": "Field Value 3",
            "required": false,
            "type": "string",
            "description": "The value of the third profile field."
          },
          {
            "name": "fields_attributes[3][name]",
            "in": "formData",
            "x-ms-summary": "Field Name 4",
            "required": false,
            "type": "string",
            "description": "The name of the fourth profile field."
          },
          {
            "name": "fields_attributes[3][value]",
            "in": "formData",
            "x-ms-summary": "Field Value 4",
            "required": false,
            "type": "string",
            "description": "The value of the fourth profile field."
          },
          {
            "name": "source[privacy]",
            "in": "formData",
            "x-ms-summary": "Post Privacy",
            "required": false,
            "type": "string",
            "enum": [
              "public",
              "unlisted",
              "private"
            ],
            "description": "Default post privacy for authored statuses."
          },
          {
            "name": "source[sensitive]",
            "in": "formData",
            "x-ms-summary": "Post Privacy",
            "required": false,
            "type": "boolean",
            "description": "Whether to mark authored statuses as sensitive by default."
          },
          {
            "name": "source[language]",
            "in": "formData",
            "x-ms-summary": "Post Privacy",
            "required": false,
            "type": "string",
            "description": "Default language to use for authored statuses (ISO 6391)."
          }
        ],
        "responses": {
          "200": {
            "description": "You should use `accounts/verify_credentials` to first obtain plaintext representations from within the `source` parameter, then allow the user to edit these plaintext representations before submitting them through this API. The server will generate the corresponding HTML.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}": {
      "get": {
        "description": "View information about a profile.",
        "summary": "Get account",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Account record will be returned. Note that `acct` of local users does not include the domain name.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "401": {
            "description": "If the instance is in whitelist mode and the Authorization header is missing or invalid.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Account does not exist.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "410": {
            "description": "Account is suspended."
          }
        }
      }
    },
    "/api/v1/accounts/{id}/statuses": {
      "get": {
        "description": "Statuses posted to the given account.",
        "summary": "Get account statuses",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsStatusesById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Statuses posted to the given account. Public (for public statuses only), or user token + read:statuses (for private statuses the user is authorized to see).",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Status"
              }
            }
          },
          "401": {
            "description": "Instance is in whitelist mode or running a version of Mastodon older than 2.7.0, and the Authorization header is invalid or missing",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Account is deleted or does not exist.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "410": {
            "description": "Account is suspended."
          }
        }
      }
    },
    "/api/v1/accounts/{id}/followers": {
      "get": {
        "description": "Accounts which follow the given account, if network is not hidden by the account owner.",
        "summary": "Get account followers",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsFollowersById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          },
          {
            "name": "max_id",
            "in": "query",
            "x-ms-summary": "Max ID",
            "required": false,
            "type": "string",
            "description": "Internal parameter. Use HTTP `Link` header for pagination."
          },
          {
            "name": "since_id",
            "in": "query",
            "x-ms-summary": "Since ID",
            "required": false,
            "type": "string",
            "description": "Internal parameter. Use HTTP `Link` header for pagination."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "default": 40,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of results to return. Defaults to 40."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header, or instance is in whitelist mode and your token is not authorized with a user.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Account is deleted or does not exist.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "410": {
            "description": "Account is suspended."
          }
        }
      }
    },
    "/api/v1/accounts/{id}/following": {
      "get": {
        "description": "Accounts which the given account is following, if network is not hidden by the account owner.",
        "summary": "Get account following",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsFollowingById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          },
          {
            "name": "max_id",
            "in": "query",
            "x-ms-summary": "Max ID",
            "required": false,
            "type": "string",
            "description": "Internal parameter. Use HTTP `Link` header for pagination."
          },
          {
            "name": "since_id",
            "in": "query",
            "x-ms-summary": "Since ID",
            "required": false,
            "type": "string",
            "description": "Internal parameter. Use HTTP `Link` header for pagination."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "default": 40,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of results to return. Defaults to 40."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header, or instance is in whitelist mode and your token is not authorized with a user.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Account is deleted or does not exist.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "410": {
            "description": "Account is suspended."
          }
        }
      }
    },
    "/api/v1/accounts/{id}/featured_tags": {
      "get": {
        "description": "Tags featured by this account.",
        "summary": "Get account featured tags",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsFeaturedTagsById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeaturedTag"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header, or instance is in whitelist mode and your token is not authorized with a user.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/lists": {
      "get": {
        "description": "User lists that you have added this account to.",
        "summary": "Get account lists",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsListsById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/List"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header, or instance is in whitelist mode and your token is not authorized with a user.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Account is deleted or does not exist.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "410": {
            "description": "Account is suspended."
          }
        }
      }
    },
    "/api/v1/accounts/{id}/identity_proofs": {
      "get": {
        "description": "Identity proofs for a given account.",
        "summary": "Get identity proofs",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsIdentityProofsById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IdentityProof"
              }
            }
          },
          "404": {
            "description": "Account is deleted or does not exist.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "410": {
            "description": "Account with given identifier is suspended."
          },
          "422": {
            "description": "Unprocessable Entity.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/follow": {
      "post": {
        "description": "Follow the given account. Can also be used to update whether to show reblogs or enable notifications.",
        "summary": "Follow account",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsFollowById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "reblogs": {
                  "title": "Show Reblogs",
                  "type": "boolean",
                  "default": true,
                  "description": "Receive this account's reblogs in home timeline? Defaults to true."
                },
                "notify": {
                  "title": "Enable Notifications",
                  "type": "boolean",
                  "default": false,
                  "description": "Receive notifications when this account posts a status? Defaults to false."
                },
                "languages": {
                  "title": "Language Filters",
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "ISO 639-1 language two-letter code."
                  },
                  "description": "Filter received statuses for these languages. If not provided, you will receive this account's posts in all languages."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully followed, or account was already followed.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "403": {
            "description": "Trying to follow someone that you block or that blocks you.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/unfollow": {
      "post": {
        "description": "Unfollow the given account.",
        "summary": "Unfollow account",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsUnfollowById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unfollowed, or account was already not followed.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/block": {
      "post": {
        "description": "Block the given account. Clients should filter statuses from this account if received (e.g. due to a boost in the Home timeline).",
        "summary": "Block account",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsBlockById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully blocked, or account was already blocked.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/unblock": {
      "post": {
        "description": "Unblock the given account.",
        "summary": "Unblock account",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsUnblockById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unblocked, or account was already not blocked.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/mute": {
      "post": {
        "description": "Mute the given account. Clients should filter statuses and notifications from this account, if received (e.g. due to a boost in the Home timeline).",
        "summary": "Mute account",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsMuteById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "notifications": {
                  "title": "Mute Notifications",
                  "type": "boolean",
                  "default": true,
                  "description": "Mute notifications in addition to statuses? Defaults to true."
                },
                "duration": {
                  "title": "Mute Duration",
                  "type": "integer",
                  "format": "int32",
                  "default": 0,
                  "description": "How long the mute should last, in seconds. Defaults to 0 (indefinite)."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully muted, or account was already muted. Note that you can call this API method again with notifications=false to update the relationship so that only statuses are muted.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/unmute": {
      "post": {
        "description": "Unmute the given account.",
        "summary": "Unmute account",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsUnmuteById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unmuted, or account was already unmuted.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/pin": {
      "post": {
        "description": "Add the given account to the user's featured profiles (featured profiles are currently shown on the user's own public profile).",
        "summary": "Feature account on your profile",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsPinById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unmuted, or account was already unmuted.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Token is not authorized with a valid user or is missing a required scope.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "You are not following this account.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Account already endorsed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}/unpin": {
      "post": {
        "description": "Remove the given account from the user's featured profiles.",
        "summary": "Unfeature account from profile",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsUnpinById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unmuted, or account was already unmuted.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "Unprocessable Entity."
          }
        }
      }
    },
    "/api/v1/accounts/{id}/note": {
      "post": {
        "description": "Sets a private note on a user.",
        "summary": "Set account note",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsNoteById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "title": "Comment",
                  "type": "string",
                  "description": "The comment to be set on that user. Provide an empty string or leave out this parameter to clear the currently set note."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully unmuted, or account was already unmuted.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "Unprocessable Entity."
          }
        }
      }
    },
    "/api/v1/accounts/relationships": {
      "get": {
        "description": "Find out whether a given account is followed, blocked, muted, etc.",
        "summary": "Check relationships to other accounts",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsRelationships_GET",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of account identifiers to check."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Relationship"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "Unprocessable Entity.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/accounts/search": {
      "get": {
        "description": "Search for matching accounts by username or display name.",
        "summary": "Search for accounts",
        "tags": [
          "accounts"
        ],
        "operationId": "ApiV1AccountsSearch_GET",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "required": true,
            "type": "string",
            "description": "What to search for."
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "default": 40,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of results. Defaults to 40."
          },
          {
            "name": "resolve",
            "in": "query",
            "x-ms-summary": "Resolve",
            "required": false,
            "type": "string",
            "description": "Attempt WebFinger lookup. Defaults to false. Use this when `q` is an exact address."
          },
          {
            "name": "following",
            "in": "query",
            "x-ms-summary": "Following",
            "required": false,
            "type": "boolean",
            "description": "Only who the user is following. Defaults to false."
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts matching `q` in username or display name.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          },
          "503": {
            "description": "resolve=true, but the domain part of the user@domain address is not a currently live website.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/bookmarks": {
      "get": {
        "description": "Statuses the user has bookmarked.",
        "summary": "Get bookmarks",
        "operationId": "ApiV1Bookmarks_GET",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of results. Defaults to 40."
          },
          {
            "name": "max_id",
            "in": "query",
            "x-ms-summary": "Max ID",
            "required": false,
            "type": "string",
            "description": "The maximum identifier of the bookmarks to return."
          },
          {
            "name": "since_id",
            "in": "query",
            "x-ms-summary": "Since ID",
            "required": false,
            "type": "string",
            "description": "The minimum identifier of the bookmarks to return."
          },
          {
            "name": "min_id",
            "in": "query",
            "x-ms-summary": "Min ID",
            "required": false,
            "type": "string",
            "description": "The minimum identifier of the bookmarks to return."
          }
        ],
        "responses": {
          "200": {
            "description": "success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Status"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/favourites": {
      "get": {
        "description": "Statuses the user has favourited.",
        "summary": "Get favourites",
        "operationId": "ApiV1Favourites_GET",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "Maximum number of results. Defaults to 40."
          },
          {
            "name": "max_id",
            "in": "query",
            "x-ms-summary": "Max ID",
            "required": false,
            "type": "string",
            "description": "The maximum identifier of the favourites to return."
          },
          {
            "name": "min_id",
            "in": "query",
            "x-ms-summary": "Min ID",
            "required": false,
            "type": "string",
            "description": "The minimum identifier of the favourites to return."
          }
        ],
        "responses": {
          "200": {
            "description": "success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Status"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/mutes": {
      "get": {
        "description": "Accounts the user has muted.",
        "summary": "Get account mutes",
        "operationId": "ApiV1Mutes_GET",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "string",
            "description": "Maximum number of results. Defaults to 40."
          },
          {
            "name": "max_id",
            "in": "query",
            "x-ms-summary": "Max ID",
            "required": false,
            "type": "string",
            "description": "The maximum identifier of the mutes to return."
          },
          {
            "name": "since_id",
            "in": "query",
            "x-ms-summary": "Since ID",
            "required": false,
            "type": "string",
            "description": "The minimum identifier of the mutes to return."
          }
        ],
        "responses": {
          "200": {
            "description": "success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/blocks": {
      "get": {
        "description": "Get blocked users.",
        "summary": "Get account blocks",
        "operationId": "ApiV1Blocks_GET",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of results. Defaults to 40."
          },
          {
            "name": "max_id",
            "in": "query",
            "x-ms-summary": "Max ID",
            "required": false,
            "type": "string",
            "description": "The maximum identifier of the blocks to return."
          },
          {
            "name": "since_id",
            "in": "query",
            "x-ms-summary": "Since ID",
            "required": false,
            "type": "string",
            "description": "The minimum identifier of the blocks to return."
          }
        ],
        "responses": {
          "200": {
            "description": "success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/domain_blocks": {
      "get": {
        "description": "View domains the user has blocked.",
        "summary": "Get domain blocks",
        "operationId": "ApiV1DomainBlocks_GET",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of results. Defaults to 40."
          },
          {
            "name": "max_id",
            "in": "query",
            "x-ms-summary": "Max ID",
            "required": false,
            "type": "string",
            "description": "The maximum identifier of the domain blocks to return."
          },
          {
            "name": "since_id",
            "in": "query",
            "x-ms-summary": "Since ID",
            "required": false,
            "type": "string",
            "description": "The minimum identifier of the domain blocks to return."
          }
        ],
        "responses": {
          "200": {
            "description": "success.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "description": "Remove a domain block, if it exists in the user's array of blocked domains.",
        "summary": "Delete domain block",
        "operationId": "ApiV1DomainBlocks_DELETE",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "x-ms-summary": "Domain",
            "required": true,
            "type": "string",
            "description": "Domain to unblock."
          }
        ],
        "responses": {
          "200": {
            "description": "success.",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "If `domain` is not provided or contains spaces, the request will fail.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "description": "Block a domain to: hide all public posts from it or hide all notifications from it or remove all followers from it or prevent following new users from it (but does not remove existing followers)",
        "summary": "Create domain block",
        "operationId": "ApiV1DomainBlocks_POST",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "title": "Domain",
                  "type": "string",
                  "description": "Domain to block."
                }
              },
              "required": [
                "domain"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success.",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "If `domain` is not provided or contains spaces, the request will fail.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v2/filters": {
      "get": {
        "description": "Retrieve a list of filters.",
        "summary": "Get filters",
        "operationId": "ApiV1Filters_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Excerpts of various filters in different contexts.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Filter"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "description": "Creates a new filter.",
        "summary": "Create a filter",
        "operationId": "ApiV1Filters_POST",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "required": [
                "title",
                "context"
              ],
              "properties": {
                "title": {
                  "title": "Title",
                  "type": "string",
                  "description": "The name of the filter group."
                },
                "context": {
                  "title": "Filter Contexts",
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "home",
                      "notifications",
                      "public",
                      "thread",
                      "account"
                    ]
                  },
                  "description": "Where the filter should be applied. Specify at least one context."
                },
                "filter_action": {
                  "title": "Filter Action",
                  "type": "string",
                  "enum": [
                    "warn",
                    "hide",
                    "blur"
                  ],
                  "description": "The policy to be applied when the filter is matched."
                },
                "expires_in": {
                  "title": "Expiration Time",
                  "type": "integer",
                  "format": "int32",
                  "description": "How many seconds from now should the filter expire?."
                },
                "keywords_attributes": {
                  "title": "Keywords",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "keyword": {
                        "title": "Keyword",
                        "type": "string",
                        "description": "A keyword to be added to the newly-created filter group."
                      },
                      "whole_word": {
                        "title": "Whole Word Match",
                        "type": "boolean",
                        "description": "Whether the keyword should consider word boundaries."
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The newly-created filter will be returned.",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "If phrase or context are not provided properly.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/filters/{id}": {
      "get": {
        "description": "Get one filter.",
        "summary": "Get filter",
        "operationId": "ApiV1FiltersById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Filter returned successfully.",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Filter identifier does not exist, or is not owned by you.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "description": "Delete a filter.",
        "summary": "Delete filter",
        "operationId": "ApiV1FiltersById_DELETE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "The filter has been deleted successfully, so an empty object will be returned."
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Filter identifier does not exist, or is not owned by you.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "description": "Update a filter.",
        "summary": "Update filter",
        "operationId": "ApiV1FiltersById_PUT",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "required": [
                "title",
                "context"
              ],
              "properties": {
                "title": {
                  "title": "Title",
                  "type": "string",
                  "description": "The name of the filter group."
                },
                "context": {
                  "title": "Filter Contexts",
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "home",
                      "notifications",
                      "public",
                      "thread",
                      "account"
                    ]
                  },
                  "description": "Where the filter should be applied. Specify at least one context."
                },
                "filter_action": {
                  "title": "Filter Action",
                  "type": "string",
                  "enum": [
                    "warn",
                    "hide",
                    "blur"
                  ],
                  "description": "The policy to be applied when the filter is matched."
                },
                "expires_in": {
                  "title": "Expiration Time",
                  "type": "integer",
                  "format": "int32",
                  "description": "How many seconds from now should the filter expire?."
                },
                "keywords_attributes": {
                  "title": "Keywords",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "keyword": {
                        "title": "Keyword",
                        "type": "string",
                        "description": "A keyword to be added to the newly-created filter group."
                      },
                      "whole_word": {
                        "title": "Whole Word Match",
                        "type": "boolean",
                        "description": "Whether the keyword should consider word boundaries."
                      },
                      "id": {
                        "title": "Keyword ID",
                        "type": "string",
                        "description": "Provide The identifier of an existing keyword to modify it, instead of creating a new keyword."
                      },
                      "_destroy": {
                        "title": "Delete Keyword",
                        "type": "boolean",
                        "description": "If true, will remove the keyword with the given identifier."
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Filter updated successfully.",
            "schema": {
              "$ref": "#/definitions/Filter"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Filter identifier does not exist, or is not owned by you.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "If phrase or context are not provided properly.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/reports": {
      "post": {
        "description": "File a report.",
        "summary": "Report an account",
        "operationId": "ApiV1Reports_POST",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApiV1ReportsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully reported.",
            "schema": {
              "$ref": "#/definitions/Report"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/follow_requests": {
      "get": {
        "description": "Pending Followers.",
        "summary": "Get follow requests",
        "operationId": "ApiV1FollowRequests_GET",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "default": 40,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of results to return. Defaults to 40. Paginate using the HTTP Link header."
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts that are requesting a follow.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/follow_requests/{id}/authorize": {
      "post": {
        "description": "Accept the follow request from the given account.",
        "summary": "Accept follow",
        "operationId": "ApiV1FollowRequestsAuthorizeById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Your Relationship with this account should be updated so that you are followed_by this account.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No pending follow request from that user ID.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/follow_requests/{id}/reject": {
      "post": {
        "description": "Reject the follow request from the given account.",
        "summary": "Reject follow",
        "operationId": "ApiV1FollowRequestsRejectById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the account in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Your Relationship with this Account should be unchanged.",
            "schema": {
              "$ref": "#/definitions/Relationship"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No pending follow request from that user ID.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/endorsements": {
      "get": {
        "description": "Accounts that the user is currently featuring on their profile.",
        "summary": "Get endorsements",
        "operationId": "ApiV1Endorsements_GET",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "default": 40,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of results to return. Defaults to 40. Paginate using the HTTP Link header."
          },
          {
            "name": "max_id",
            "in": "query",
            "x-ms-summary": "Max ID",
            "required": false,
            "type": "string",
            "description": "Internal parameter. Use HTTP Link header from response for pagination."
          },
          {
            "name": "since_id",
            "in": "query",
            "x-ms-summary": "Since ID",
            "required": false,
            "type": "string",
            "description": "Internal parameter. Use HTTP Link header from response for pagination."
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Because endorsement identifiers are private, you must parse the HTTP Link header to find next and previous pages.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Account"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/featured_tags": {
      "get": {
        "description": "View your featured tags.",
        "summary": "Get featured tags",
        "operationId": "ApiV1FeaturedTags_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeaturedTag"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "description": "Create a feature a tag.",
        "summary": "Create featured tag",
        "operationId": "ApiV1FeaturedTags_POST",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApiV1FeaturedTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/FeaturedTag"
            }
          },
          "422": {
            "description": "If name is not a valid hashtag, e.g. contains illegal characters or only numbers",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/featured_tags/{id}": {
      "delete": {
        "description": "Unfeature a tag.",
        "summary": "Unfeature tag",
        "operationId": "ApiV1FeaturedTagsById_DELETE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the FeaturedTag to be unfeatured."
          }
        ],
        "responses": {
          "200": {
            "description": "An empty object will be returned if the featured tag was successfully deleted.",
            "schema": {
              "type": "object"
            }
          },
          "404": {
            "description": "If The identifier does not exist or is not owned by you.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/featured_tags/suggestions": {
      "get": {
        "description": "Shows your 10 most-used tags, with usage history for the past week.",
        "summary": "Get featured tag suggestions",
        "operationId": "ApiV1FeaturedTagsSuggestions_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeaturedTag"
              }
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/preferences": {
      "get": {
        "description": "User preferences.",
        "summary": "Get preferences",
        "operationId": "ApiV1Preferences_GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Preferences"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/suggestions": {
      "get": {
        "description": "Accounts the user has had past positive interactions with, but is not yet following.",
        "summary": "Get suggestions",
        "operationId": "ApiV1Suggestions_GET",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "required": false,
            "default": 40,
            "type": "integer",
            "format": "int32",
            "description": "Maximum number of results to return. Defaults to 40."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/suggestions/{id}": {
      "delete": {
        "description": "Delete user suggestion.",
        "summary": "Delete suggestion",
        "operationId": "ApiV1SuggestionsById_DELETE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "id of the account in the database to be removed from suggestions."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed.",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses": {
      "post": {
        "description": "Publish a new status with the given parameters.",
        "summary": "Post a new status",
        "operationId": "ApiV1Statuses_POST",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "x-ms-summary": "Idempotency Key",
            "required": false,
            "type": "string",
            "description": "Prevent duplicate submissions of the same status. Idempotency keys are stored for up to 1 hour, and can be any arbitrary string. Consider using a hash or UUID generated client-side."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ApiV1StatusesRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status will be posted with chosen parameters. If scheduled_at is provided, then a ScheduledStatus will be returned instead."
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}": {
      "get": {
        "description": "Retrieve a status by identifier.",
        "summary": "Get status",
        "operationId": "ApiV1StatusesById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Status will be posted with chosen parameters. If scheduled_at is provided, then a ScheduledStatus will be returned instead.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes an existing status.",
        "summary": "Delete a status",
        "operationId": "ApiV1StatusesById_DELETE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Status will be posted with chosen parameters. If scheduled_at is provided, then a ScheduledStatus will be returned instead.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/context": {
      "get": {
        "description": "Get parent and child statuses in context.",
        "summary": "Get parent and child statuses in context",
        "operationId": "ApiV1StatusesContextById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Context"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/reblogged_by": {
      "get": {
        "description": "View who boosted a given status.",
        "summary": "Get reblogged by",
        "operationId": "ApiV1StatusesRebloggedByById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/favourited_by": {
      "get": {
        "description": "View who favourited a given status.",
        "summary": "Get favourited by",
        "operationId": "ApiV1StatusesFavouritedByById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/favourite": {
      "post": {
        "description": "Add a status to your favourites list.",
        "summary": "Add status to favourites",
        "operationId": "ApiV1StatusesFavouriteById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/unfavourite": {
      "post": {
        "description": "Remove a status from your favourites list.",
        "summary": "Remove status from favourites",
        "operationId": "ApiV1StatusesUnfavouriteById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/reblog": {
      "post": {
        "description": "Reshare a status.",
        "summary": "Reblog a status",
        "operationId": "ApiV1StatusesReblogById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApiV1StatusesReblogRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status has been reblogged. Note that the top-level identifier has changed. The identifier of the boosted status is now inside the reblog property. The top-level identifier is The identifier of the reblog itself. Also note that reblogs cannot be pinned.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/unreblog": {
      "post": {
        "description": "Undo a reshare of a status.",
        "summary": "Unreblog a status",
        "operationId": "ApiV1StatusesUnreblogById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Status no longer reblogged.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/bookmark": {
      "post": {
        "description": "Privately bookmark a status.",
        "summary": "Bookmark a status",
        "operationId": "ApiV1StatusesBookmarkById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Status bookmarked.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/unbookmark": {
      "post": {
        "description": "Remove a status from your private bookmarks.",
        "summary": "Unbookmark a status",
        "operationId": "ApiV1StatusesUnbookmarkById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Status unbookmarked.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/mute": {
      "post": {
        "description": "Do not receive notifications for the thread that this status is part of. Must be a thread in which you are a participant.",
        "summary": "Mute a conversation",
        "operationId": "ApiV1StatusesMuteById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Status's conversation muted, or was already muted.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/unmute": {
      "post": {
        "description": "Unmute notifications for a conversation.",
        "summary": "Unmute a conversation",
        "operationId": "ApiV1StatusesUnmuteById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Status's conversation muted, or was already muted.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/pin": {
      "post": {
        "description": "Feature one of your own public statuses at the top of your profile.",
        "summary": "Pin a status",
        "operationId": "ApiV1StatusesPinById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Status pinned. Note the status is not a reblog and its authoring account is your own.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "Status is not owned by you, or is not public. You cannot pin one of your private statuses because private statuses cannot be fetched from remote sites, and must be delivered.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v1/statuses/{id}/unpin": {
      "post": {
        "description": "Unfeature a status from the top of your profile.",
        "summary": "Unpin a status",
        "operationId": "ApiV1StatusesUnpinById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "Local identifier of a status in the database."
          }
        ],
        "responses": {
          "200": {
            "description": "Status unpinned, or was already not pinned.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Status does not exist, is deleted, or is private.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v2/media": {
      "post": {
        "description": "Creates an attachment to be used with a new status.",
        "summary": "Create an attachment",
        "operationId": "ApiV1Media_POST",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "required": [
                "file"
              ],
              "properties": {
                "file": {
                  "title": "Media File",
                  "type": "object",
                  "properties": {
                    "content": {
                      "title": "Content",
                      "type": "string",
                      "description": "Base64-encoded file content."
                    },
                    "name": {
                      "title": "Filename",
                      "type": "string",
                      "description": "The filename of the media."
                    },
                    "content_type": {
                      "title": "Content Type",
                      "type": "string",
                      "description": "The MIME type of the file."
                    }
                  },
                  "description": "The file to be attached. The file must have a MIME type."
                },
                "thumbnail": {
                  "title": "Thumbnail",
                  "type": "object",
                  "properties": {
                    "content": {
                      "title": "Content",
                      "type": "string",
                      "description": "Base64-encoded thumbnail content."
                    },
                    "name": {
                      "title": "Filename",
                      "type": "string",
                      "description": "The filename of the thumbnail."
                    },
                    "content_type": {
                      "title": "Content Type",
                      "type": "string",
                      "description": "The MIME type of the thumbnail."
                    }
                  },
                  "description": "The custom thumbnail of the media to be attached."
                },
                "description": {
                  "title": "Description",
                  "type": "string",
                  "description": "A plain-text description of the media, for accessibility purposes."
                },
                "focus": {
                  "title": "Focus Point",
                  "type": "string",
                  "description": "Two floating points (x,y), comma-delimited, ranging from -1.0 to 1.0. See Focal points for cropping media thumbnails for more information."
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment created successfully. Note that the Attachment will be created even if the file is not understood correctly.",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "File or file type is unsupported or invalid.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/api/v2/media/{id}": {
      "get": {
        "description": "Get an attachment.",
        "summary": "Get attachment",
        "operationId": "ApiV1MediaById_GET",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the Attachment entity to be updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment created successfully. Note that the Attachment will be created even if the file is not understood correctly.",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "206": {
            "description": "Attachment is not yet ready.",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          },
          "401": {
            "description": "Invalid or missing Authorization header.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Attachment does not exist, is deleted, or was not created by you.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "422": {
            "description": "File or file type is unsupported or invalid.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "description": "Update an Attachment, before it is attached to a status and posted.",
        "summary": "Update attachment",
        "operationId": "ApiV1MediaById_POST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "ID",
            "required": true,
            "type": "string",
            "description": "The identifier of the Attachment entity to be updated."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "thumbnail": {
                  "title": "Thumbnail",
                  "type": "object",
                  "properties": {
                    "content": {
                      "title": "Content",
                      "type": "string",
                      "description": "Base64-encoded thumbnail content."
                    },
                    "name": {
                      "title": "Filename",
                      "type": "string",
                      "description": "The filename of the thumbnail."
                    },
                    "content_type": {
                      "title": "Content Type",
                      "type": "string",
                      "description": "The MIME type of the thumbnail."
                    }
                  },
                  "description": "The custom thumbnail of the media to be attached."
                },
                "description": {
                  "title": "Description",
                  "type": "string",
                  "description": "A plain-text description of the media, for accessibility purposes."
                },
                "focus": {
                  "title": "Focus Point",
                  "type": "string",
[...]
