{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "HiveCPQ Product Configurator",
    "description": "HiveCPQ is a comprehensive Configure Price Quote (CPQ) solution that empowers sales teams to generate accurate quotes for complex products. Streamline your sales process by seamlessly integrating HiveCPQ to automate workflows, sync data, and optimize your operations using our connector. Maximize efficiency and deliver exceptional sales experiences with HiveCPQ's powerful connector.",
    "contact": {
      "name": "HiveCPQ Support",
      "url": "https://hivecpq.com/en/integrations",
      "email": "support@hivecpq.com"
    }
  },
  "host": "connect.hivecpq.com",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/manufacturers": {
      "get": {
        "summary": "Get manufacturers",
        "description": "Get all manufacturers to which you are connected.",
        "operationId": "GetManufacturers",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetManufacturers"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Manufacturer"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies": {
      "get": {
        "summary": "Search companies",
        "description": "Search companies linked to a manufacturer.",
        "operationId": "SearchCompaniesOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/queryIdsIn"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemName"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemIdsIn"
          },
          {
            "in": "query",
            "name": "name",
            "x-ms-summary": "Company Name",
            "description": "Filter on the name of the companies.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "includeArchived",
            "x-ms-summary": "Archival Status",
            "description": "Filter on the archival status of the companies.",
            "type": "boolean",
            "default": false,
            "required": false
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetCompanies"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "post": {
        "summary": "Add a new company",
        "description": "Add a new company to a manufacturer.",
        "operationId": "AddANewCompany",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostCompany"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies/{companyId}": {
      "get": {
        "summary": "Get a company",
        "description": "Get a specific company linked to a manufacturer.",
        "operationId": "GetASpecificCompanyForAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCompanyId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetCompany"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "put": {
        "summary": "Update a company",
        "description": "Update a specific company of a manufacturer.",
        "operationId": "UpdateACompanyOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCompanyId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPutCompany"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies/{companyId}/archive": {
      "post": {
        "summary": "Archive a company",
        "description": "Archive a company together with all of its contacts.",
        "operationId": "ArchiveACompany",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCompanyId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies/{companyId}/unarchive": {
      "post": {
        "summary": "Unarchive a company",
        "description": "Unarchive a company without unarchiving its contacts.",
        "operationId": "UnarchiveACompany",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCompanyId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies/{companyId}/defaultAddresses": {
      "get": {
        "summary": "Search default addresses of a company",
        "description": "Search the default invoice and delivery addresses of a company.",
        "operationId": "GetDefaultAddressesOfACompany",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCompanyId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetDefaultAddresses"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "post": {
        "summary": "Add a new default address",
        "description": "Add a new default address to a company.",
        "operationId": "AddDefaultAddressToACompany",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCompanyId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostDefaultAddress"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/companies/{companyId}/defaultAddresses/{defaultAddressId}": {
      "get": {
        "summary": "Get a default address of a company",
        "description": "Get a specific default address of a company.",
        "operationId": "GetADefaultAddressOfACompany",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCompanyId"
          },
          {
            "$ref": "#/parameters/pathDefaultAddressId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetDefaultAddress"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "put": {
        "summary": "Update a default address of a company",
        "description": "Update a specific default address of a company.",
        "operationId": "UpdateASingleDefaultAddressOfACompany",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCompanyId"
          },
          {
            "$ref": "#/parameters/pathDefaultAddressId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPutDefaultAddress"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "delete": {
        "summary": "Delete a default address of a company",
        "description": "Delete a specific default address of a company.",
        "operationId": "DeleteASingleDefaultAddressOfACompany",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCompanyId"
          },
          {
            "$ref": "#/parameters/pathDefaultAddressId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/contacts": {
      "get": {
        "summary": "Search manufacturer contacts",
        "description": "Search contacts linked to a manufacturer or its companies.",
        "operationId": "SearchManufacturerContacts",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/queryIdsIn"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemName"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemIdsIn"
          },
          {
            "$ref": "#/parameters/queryCompanyId"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetContacts"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Contact"
        ]
      },
      "post": {
        "summary": "Add manufacturer contact",
        "description": "Add a new contact to a company of a manufacturer or its companies.",
        "operationId": "AddManufacturerContact",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostContact"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Contact"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/contacts/{contactId}": {
      "get": {
        "summary": "Get a manufacturer contact",
        "description": "Get a specific contact of a manufacturer or its companies.",
        "operationId": "GetAManufacturerContact",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathContactId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetContact"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Contact"
        ]
      },
      "put": {
        "summary": "Update a manufacturer contact",
        "description": "Update a specific contact of a manufacturer or its companies.",
        "operationId": "UpdateAManufacturerContact",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathContactId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPutContact"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Contact"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/contacts/{contactId}/archive": {
      "post": {
        "summary": "Archive a contact",
        "description": "Archive a specific contact and remove its invites.",
        "operationId": "ArchiveAContact",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathContactId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Contact"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/distributors/{distributorId}/accounts": {
      "get": {
        "summary": "Search distributor accounts",
        "description": "Search accounts in the address book of a distributor.",
        "operationId": "SearchTheAccountsInTheAddressBookOfADistributor",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathDistributorId"
          },
          {
            "$ref": "#/parameters/queryIdsIn"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemName"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemIdsIn"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetDistributorAccounts"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "post": {
        "summary": "Add a distributor account",
        "description": "Add an account to the address book of a distributor.",
        "operationId": "AddAnAccountIntoTheAddressBookOfADistributor",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathDistributorId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostDistributorAccount"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/distributors/{distributorId}/accounts/{accountId}": {
      "put": {
        "summary": "Update distributor account",
        "description": "Update a specific account in the address book of a distributor.",
        "operationId": "EditAnAccountFromTheAddressBookOfADistributor",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathDistributorId"
          },
          {
            "$ref": "#/parameters/pathAccountId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPutDistributorAccount"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      },
      "delete": {
        "summary": "Delete a distributor account",
        "description": "Delete a specific account from the address book of a distributor. An account can only be removed if it is not used in any projects and has no contacts.",
        "operationId": "RemovesAnAccountFromTheAddressBookOfADistributor",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathDistributorId"
          },
          {
            "$ref": "#/parameters/pathAccountId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Company"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/distributors/{distributorId}/contacts": {
      "get": {
        "summary": "Search distributor contacts",
        "description": "Search contacts in the address book of a distributor.",
        "operationId": "SearchContactsFromTheAddressBookOfADistributor",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathDistributorId"
          },
          {
            "$ref": "#/parameters/queryIdsIn"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemName"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemIdsIn"
          },
          {
            "in": "query",
            "name": "accountId",
            "x-ms-summary": "Account ID",
            "description": "Filter on the account to which the contacts are connected.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetDistributorContacts"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Contact"
        ]
      },
      "post": {
        "summary": "Add a distributor contact",
        "description": "Add a new contact to the address book of a distributor.",
        "operationId": "AddAContactsToTheAddressBookOfADistributor",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathDistributorId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostDistributorContact"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Contact"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/distributors/{distributorId}/contacts/{contactId}": {
      "put": {
        "summary": "Update a distributor contact",
        "description": "Update a specific contact in the address book of a distributor.",
        "operationId": "UpdateAnExistingContactInTheAddressBookOfTheDistributor",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathDistributorId"
          },
          {
            "$ref": "#/parameters/pathContactId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPutDistributorContact"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Contact"
        ]
      },
      "delete": {
        "summary": "Delete a distributor contact",
        "description": "Delete a specific contact from the address book of a distributor.",
        "operationId": "RemoveAContactFromAddressBookOfADistributor",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathDistributorId"
          },
          {
            "$ref": "#/parameters/pathContactId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Contact"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/invites": {
      "get": {
        "summary": "Search invites",
        "description": "Search invites of a manufacturer.",
        "operationId": "GetInvitesForAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemName"
          },
          {
            "in": "query",
            "name": "integratedContactSystemId",
            "x-ms-summary": "Contact Integrated System ID",
            "description": "Filter on the integrated system ID of the contact to which the invite is sent. This must be used together with the integrated system name filter.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "contactId",
            "x-ms-summary": "Contact ID",
            "description": "Filter on the contact to which the invite is sent.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "status",
            "x-ms-summary": "Contact Status",
            "description": "Filter on the status of the invites.",
            "type": "string",
            "enum": [
              "PENDING",
              "CANCELLED",
              "CLAIMED"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetInvites"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          }
        },
        "tags": [
          "Invite"
        ]
      },
      "post": {
        "summary": "Add an invite",
        "description": "Add an invite for a contact to join a company.",
        "operationId": "CreateInviteForAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostInvite"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Invite"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/invites/{inviteId}/sendInviteEmail": {
      "post": {
        "summary": "Send invitation email",
        "description": "Send an invitation email using the HiveCPQ email system.",
        "operationId": "SendInvitationEmailUsingHivecpqsEmailSystem",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "in": "path",
            "name": "inviteId",
            "x-ms-summary": "Invite ID",
            "description": "ID of the invite you want to access.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostSendInviteMail"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          },
          "409": {
            "$ref": "#/responses/defaultConflict"
          }
        },
        "tags": [
          "Invite"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions": {
      "get": {
        "summary": "Search container versions",
        "description": "Search container versions of a manufacturer.",
        "operationId": "GetVersions",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/queryIdsIn"
          },
          {
            "in": "query",
            "name": "status",
            "x-ms-summary": "Container Version Status",
            "description": "Filter on the status of the container versions.",
            "type": "string",
            "enum": [
              "TOP",
              "ACTIVE",
              "REMOVED",
              "LEGACY"
            ]
          },
          {
            "in": "query",
            "name": "type",
            "x-ms-summary": "Container Version Type",
            "description": "Filter on the type of the container versions.",
            "type": "string",
            "enum": [
              "MAJOR",
              "MINOR",
              "HOTFIX"
            ]
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetVersions"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Versioning"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components": {
      "get": {
        "summary": "Search components",
        "description": "Search components in master data.",
        "operationId": "FindTheComponentsOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/queryIdsIn"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemName"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemIdsIn"
          },
          {
            "in": "query",
            "name": "priceCatalogId",
            "x-ms-summary": "Price Catalog ID",
            "description": "Filter on the price catalog used in the price(s) of the components.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "articleCode",
            "x-ms-summary": "Article Code",
            "description": "Filter on the article code of the components.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "eanCode",
            "x-ms-summary": "EAN Code",
            "description": "Filter on the EAN code of the components.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "gtinCode",
            "x-ms-summary": "GTIN Code",
            "description": "Filter on the GTIN code of the components.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/queryLanguage"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetComponents"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "post": {
        "summary": "Add a component",
        "description": "Add a component to master data.",
        "operationId": "AddAComponent",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostComponent"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}": {
      "get": {
        "summary": "Get a component",
        "description": "Get a specific component in master data.",
        "operationId": "GetAComponentBasedOnTheId",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetComponent"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "put": {
        "summary": "Update a component",
        "description": "Update a specific component in master data.",
        "operationId": "UpdateTheComponentOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPutComponent"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "delete": {
        "summary": "Delete a component",
        "description": "Delete a component from master data.",
        "operationId": "DeleteAComponent",
        "parameters": [
          {
            "$ref": "#/parameters/headerContentTypeApplicationJson"
          },
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/bulkDelete": {
      "post": {
        "summary": "Delete components in bulk",
        "description": "Delete multiple components in master data.",
        "operationId": "BulkDeleteComponents",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostBulkDeleteComponents"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/prices": {
      "get": {
        "summary": "Search component prices",
        "description": "Search prices of a component in master data.",
        "operationId": "GetThePricesOfAComponent",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetComponentPrices"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "post": {
        "summary": "Add a component price",
        "description": "Add a new price to a component in master data.",
        "operationId": "AddANewPriceToThisComponent",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostComponentPrice"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/prices/{componentPriceId}": {
      "delete": {
        "summary": "Delete a component price",
        "description": "Delete a price from a component in master data.",
        "operationId": "RemovesAPriceFromAComponent",
        "parameters": [
          {
            "$ref": "#/parameters/headerContentTypeApplicationJson"
          },
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "in": "path",
            "name": "componentPriceId",
            "x-ms-summary": "Component Price ID",
            "description": "The component price you want to access.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/attachments": {
      "get": {
        "summary": "Search component attachments",
        "description": "Search attachments of a component in master data.",
        "operationId": "GetAttachmentsOfAComponent",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "in": "query",
            "name": "isImage",
            "x-ms-summary": "Is An Image",
            "description": "Filter on whether the file is an image.",
            "type": "boolean"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetComponentAttachments"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "post": {
        "summary": "Add a component attachment",
        "description": "Add a new attachment to a component in master data.",
        "operationId": "AddANewAttachmentToAComponent",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "$ref": "#/parameters/headerContentTypeMultipartFormData"
          },
          {
            "$ref": "#/parameters/bodyMultiPartFormDataFile"
          },
          {
            "in": "formData",
            "name": "isImage",
            "x-ms-summary": "Is An image",
            "description": "Indicate whether the uploaded file is an image or an info file.",
            "type": "boolean",
            "required": false
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/attachments/{attachmentId}": {
      "delete": {
        "summary": "Delete a component attachment",
        "description": "Delete an attachment from a component in master data.",
        "operationId": "DeleteAnAttachmentFromAComponent",
        "parameters": [
          {
            "$ref": "#/parameters/headerContentTypeApplicationJson"
          },
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "$ref": "#/parameters/pathAttachmentId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/properties": {
      "get": {
        "summary": "Search component property values",
        "description": "Search property values of a component in master data.",
        "operationId": "GetComponentPropertyValues",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetComponentProperties"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "post": {
        "summary": "Set component property value",
        "description": "Set a single property value on a component in master data.",
        "operationId": "SetOrUpdateThePropertyValueForAComponent",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostSetPropertyValue"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/properties/setValues": {
      "post": {
        "summary": "Set component property values",
        "description": "Set multiple property values on a component in master data. Existing values are overwritten or deleted.",
        "operationId": "SetOrUpdateMultiplePropertyValues",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostSetPropertyValues"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/setFeatures": {
      "post": {
        "summary": "Link features to a component",
        "description": "Links one or more features to a component in master data. Existing links will be overwritten or deleted.",
        "operationId": "LinkFeaturesToAComponent",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostSetComponentFeatures"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/components/{componentId}/features/{featureId}": {
      "put": {
        "summary": "Link a feature to a component",
        "description": "Links one feature to a component in master data.",
        "operationId": "LinkFeatureToComponent",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "$ref": "#/parameters/pathFeatureId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      },
      "delete": {
        "summary": "Unlink a feature from a component",
        "description": "Unlinks a feature from a specific component in master data.",
        "operationId": "UnlinkFeatureToComponent",
        "parameters": [
          {
            "$ref": "#/parameters/headerContentTypeApplicationJson"
          },
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathComponentId"
          },
          {
            "$ref": "#/parameters/pathFeatureId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Component"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/properties": {
      "get": {
        "summary": "Search properties",
        "description": "Search properties in master data.",
        "operationId": "GetThePropertiesOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/queryIdsIn"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemIdsIn"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemName"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetProperties"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Property"
        ]
      },
      "post": {
        "summary": "Add a new property",
        "description": "Add a new property to master data.",
        "operationId": "AddANewProperty",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostProperty"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Property"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/properties/{propertyId}": {
      "put": {
        "summary": "Update a property",
        "description": "Update a specific property in master data.",
        "operationId": "UpdateAProperty",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathPropertyId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPutProperty"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Property"
        ]
      },
      "delete": {
        "summary": "Delete a property",
        "description": "Delete a specific property from master data.",
        "operationId": "RemoveAProperty",
        "parameters": [
          {
            "$ref": "#/parameters/headerContentTypeApplicationJson"
          },
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathPropertyId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Property"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups": {
      "get": {
        "summary": "Search feature groups",
        "description": "Search feature groups in master data.",
        "operationId": "SearchFeatureGroupsOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/queryIdsIn"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemName"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemIdsIn"
          },
          {
            "$ref": "#/parameters/queryLanguage"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetFeatureGroups"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Feature"
        ]
      },
      "post": {
        "summary": "Add new feature group",
        "description": "Add a new feature group to master data.",
        "operationId": "AddNewFeatureGroup",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostFeatureGroup"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          },
          "409": {
            "$ref": "#/responses/defaultConflict"
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/reOrder": {
      "post": {
        "summary": "Reorder the feature groups",
        "description": "Reorder the feature groups to change how they are displayed in the product store. All existing groups must be part of the request.",
        "operationId": "ReorderTheFeatureGroups",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostReOrderFeatureGroups"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          },
          "409": {
            "$ref": "#/responses/defaultConflict"
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}": {
      "get": {
        "summary": "Get a feature group",
        "description": "Get a specific feature group in master data.",
        "operationId": "GetSingleFeatureGroup",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathFeatureGroupId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetFeatureGroup"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Feature"
        ]
      },
      "put": {
        "summary": "Update a feature group",
        "description": "Update a specific feature group in master data.",
        "operationId": "UpdateAFeatureGroup",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathFeatureGroupId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPutFeatureGroup"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Feature"
        ]
      },
      "delete": {
        "summary": "Delete a feature group",
        "description": "Delete a specific feature group from master data.",
        "operationId": "DeleteAFeatureGroup",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathFeatureGroupId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}/features": {
      "get": {
        "summary": "Search features",
        "description": "Search features in a specific feature group in master data.",
        "operationId": "SearchTheFeaturesOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathFeatureGroupId"
          },
          {
            "$ref": "#/parameters/queryIdsIn"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemName"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemIdsIn"
          },
          {
            "$ref": "#/parameters/queryLanguage"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetFeatures"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Feature"
        ]
      },
      "post": {
        "summary": "Add a feature to a feature group",
        "description": "Add a new feature to a specific feature group in master data.",
        "operationId": "AddNewFeatureToTheFeatureGroup",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathFeatureGroupId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostFeature"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}/features/reOrder": {
      "post": {
        "summary": "Reorder features in a feature group",
        "description": "Reorder the features in a specific feature group to change how they are displayed in the product store. All existing features in the group must be part of the request.",
        "operationId": "ReorderTheFeaturesWithinAFeatureGroup",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathFeatureGroupId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostReOrderFeatures"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          },
          "409": {
            "$ref": "#/responses/defaultConflict"
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}/features/{featureId}": {
      "get": {
        "summary": "Get a feature from a feature group",
        "description": "Get a feature in a specific feature group in master data.",
        "operationId": "RetrieveSingleFeatureOfAFeatureGroup",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathFeatureGroupId"
          },
          {
            "$ref": "#/parameters/pathFeatureId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetFeature"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Feature"
        ]
      },
      "put": {
        "summary": "Update a feature",
        "description": "Update a feature in a specific feature group in master data.",
        "operationId": "UpdateASingleFeature",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathFeatureGroupId"
          },
          {
            "$ref": "#/parameters/pathFeatureId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPutFeature"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Feature"
        ]
      },
      "delete": {
        "summary": "Delete a feature",
        "description": "Delete a feature from a specific feature group in master data.",
        "operationId": "RemoveAFeature",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathFeatureGroupId"
          },
          {
            "$ref": "#/parameters/pathFeatureId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/featureGroups/{featureGroupId}/features/{featureId}/changeFeatureGroup": {
      "post": {
        "summary": "Change the feature group of a feature",
        "description": "Change the feature group of a specific feature in master data.",
        "operationId": "ChangeTheFeatureGroupOfAFeature",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathFeatureGroupId"
          },
          {
            "$ref": "#/parameters/pathFeatureId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostChangeFeatureGroup"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Feature"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/units": {
      "get": {
        "summary": "Search units",
        "description": "Search units in master data.",
        "operationId": "GetTheUnitsOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/queryIdsIn"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemName"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemIdsIn"
          },
          {
            "in": "query",
            "name": "code",
            "x-ms-summary": "Unit Code",
            "description": "Filter on the code of the units.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/queryLanguage"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetUnits"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Unit"
        ]
      },
      "post": {
        "summary": "Add a unit",
        "description": "Add a new unit to master data.",
        "operationId": "AddANewUnit",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostUnit"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Unit"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/containers/{name}/versions/{version}/units/{unitId}": {
      "get": {
        "summary": "Get a unit",
        "description": "Get a specific unit from master data.",
        "operationId": "GetAUnitOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathUnitId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetUnit"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Unit"
        ]
      },
      "put": {
        "summary": "Update a unit",
        "description": "Update a specific unit in master data.",
        "operationId": "UpdateTheUnit",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathUnitId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPutUnit"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Unit"
        ]
      },
      "delete": {
        "summary": "Delete a unit",
        "description": "Delete a specific unit from master data.",
        "operationId": "RemoveTheUnit",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathName"
          },
          {
            "$ref": "#/parameters/pathVersion"
          },
          {
            "$ref": "#/parameters/pathUnitId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "Unit"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/customObjects": {
      "get": {
        "summary": "Search custom object types",
        "description": "Search custom object types of a manufacturer.",
        "operationId": "GetCustomObjectTypesOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetCustomObjectTypes"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "CustomObject"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/customObjects/{customObjectType}": {
      "get": {
        "summary": "Search custom objects",
        "description": "Search custom objects of a specific type.",
        "operationId": "GetCustomObjectsFromATypeOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCustomObjectType"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetCustomObjects"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "CustomObject"
        ]
      },
      "post": {
        "summary": "Add a custom object",
        "description": "Add a new custom object of a specific type. This type will be created if it does not exist.",
        "operationId": "CreateASingleCustomObject",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCustomObjectType"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "keyValues": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/customObjectKeyValuePair"
                  },
                  "description": "Key value pairs to store inside of the new custom object."
                }
              },
              "required": [
                "keyValues"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "CustomObject"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/customObjects/{customObjectType}/{customObjectKey}": {
      "get": {
        "summary": "Get a custom object",
        "description": "Get a custom object of a specific type.",
        "operationId": "GetASpecificCustomObjectFromAmManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCustomObjectType"
          },
          {
            "$ref": "#/parameters/pathCustomObjectKey"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetCustomObject"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "CustomObject"
        ]
      },
      "put": {
        "summary": "Update a custom object",
        "description": "Update a specific custom object of a specific type.",
        "operationId": "UpdateASingleCustomObject",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCustomObjectType"
          },
          {
            "$ref": "#/parameters/pathCustomObjectKey"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPutCustomObjectKeyValues"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "CustomObject"
        ]
      },
      "delete": {
        "summary": "Delete a custom object",
        "description": "Delete a custom object of a specific type.",
        "operationId": "DeleteASingleCustomObject",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/pathCustomObjectType"
          },
          {
            "$ref": "#/parameters/pathCustomObjectKey"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "CustomObject"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/resetCustomObjectUpdateTimestamp": {
      "post": {
        "summary": "Reset custom objects cache",
        "description": "Configurators may use caching when handling custom objects. Calling this endpoint will reset those caches.",
        "operationId": "ResetCustomObjectsCache",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/defaultNoContent"
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          },
          "404": {
            "$ref": "#/responses/defaultNotFound"
          }
        },
        "tags": [
          "CustomObject"
        ]
      }
    },
    "/manufacturers/{manufacturerId}/projects": {
      "get": {
        "summary": "Search projects",
        "description": "Search projects of a manufacturer.",
        "operationId": "GetTheProjectsOfAManufacturer",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "$ref": "#/parameters/queryIdsIn"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemName"
          },
          {
            "$ref": "#/parameters/queryIntegratedSystemIdsIn"
          },
          {
            "$ref": "#/parameters/queryUpdatedSince"
          },
          {
            "$ref": "#/parameters/queryPageIn"
          },
          {
            "$ref": "#/parameters/queryPageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/responseGetProjects"
            }
          },
          "400": {
            "$ref": "#/responses/defaultBadRequest"
          },
          "401": {
            "$ref": "#/responses/defaultNotAuthorized"
          },
          "403": {
            "$ref": "#/responses/defaultForbidden"
          }
        },
        "tags": [
          "Project"
        ]
      },
      "post": {
        "summary": "Add a project",
        "description": "Add a new project for a company.",
        "operationId": "CreateANewProject",
        "parameters": [
          {
            "$ref": "#/parameters/pathManufacturerId"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/requestPostProject"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/defaultCreated"
          },
          "400": {
[...]
