{
  "swagger": "2.0",
  "info": {
    "title": "Daffy",
    "description": "Daffy is a not-for-profit community of members who have the commitment to put money aside for those less fortunate than themselves. Find organizations and causes you care about and recommend donations to over 1.5 million charities in the US.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "public.daffy.org",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/users/me": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "avatar": {
                  "type": "string",
                  "description": "The avatar.",
                  "title": "Avatar"
                },
                "cover_image": {
                  "type": "string",
                  "description": "The cover image.",
                  "title": "Cover Image"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug.",
                  "title": "Slug"
                },
                "fund_name": {
                  "type": "string",
                  "description": "The fund name.",
                  "title": "Fund Name"
                },
                "current_fund": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "summary": {
                      "type": "string",
                      "description": "The summary.",
                      "title": "Summary"
                    },
                    "causes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "color": {
                            "type": "string",
                            "description": "The color.",
                            "title": "Color"
                          },
                          "logo": {
                            "type": "string",
                            "description": "The logo.",
                            "title": "Logo"
                          }
                        }
                      },
                      "title": "Causes"
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "avatar": {
                            "type": "string",
                            "description": "The avatar.",
                            "title": "Avatar"
                          },
                          "slug": {
                            "type": "string",
                            "description": "The slug.",
                            "title": "Slug"
                          }
                        }
                      },
                      "title": "Users"
                    }
                  },
                  "title": "Current Fund"
                },
                "follows_user": {
                  "type": "boolean",
                  "description": "Whether follows user.",
                  "title": "Follows User"
                },
                "follows_viewer": {
                  "type": "boolean",
                  "description": "Whether follows viewer.",
                  "title": "Follows Viewer"
                }
              }
            }
          }
        },
        "summary": "Get profile",
        "description": "Retrieve the details of your profile.",
        "operationId": "ProfileGet",
        "parameters": []
      }
    },
    "/users/me/balance": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "amount": {
                  "type": "number",
                  "format": "float",
                  "description": "The amount.",
                  "title": "Amount"
                },
                "pending_deposit_balance": {
                  "type": "number",
                  "format": "float",
                  "description": "The pending deposit balance.",
                  "title": "Pending Deposit Balance"
                },
                "portfolio_balance": {
                  "type": "number",
                  "format": "float",
                  "description": "The portfolio balance.",
                  "title": "Portfolio Balance"
                },
                "available_balance": {
                  "type": "number",
                  "format": "float",
                  "description": "The available balance.",
                  "title": "Available Balance"
                }
              }
            }
          }
        },
        "summary": "Get balance",
        "description": "Retrieve the details of your current balance.",
        "operationId": "BalanceGet",
        "parameters": []
      }
    },
    "/users/{user_id}/causes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "logo": {
                    "type": "string",
                    "description": "The logo.",
                    "title": "Logo"
                  },
                  "color": {
                    "type": "string",
                    "description": "The color.",
                    "title": "Color"
                  }
                }
              }
            }
          }
        },
        "summary": "Get user causes",
        "description": "Retrieve a list of causes a user supports.",
        "operationId": "CausesGet",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/contributions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "units": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The units.",
                        "title": "Units"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "valuation": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The valuation.",
                        "title": "Valuation"
                      },
                      "currency": {
                        "type": "string",
                        "description": "The currency.",
                        "title": "Currency"
                      },
                      "frequency": {
                        "type": "string",
                        "description": "The frequency.",
                        "title": "Frequency"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "received_at": {
                        "type": "string",
                        "description": "When received at.",
                        "title": "Received At"
                      },
                      "completed_at": {
                        "type": "string",
                        "description": "When completed at.",
                        "title": "Completed At"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Items"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page.",
                      "title": "Page"
                    },
                    "last": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The last.",
                      "title": "Last"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Get contributions",
        "description": "Retrieve a list of your contributions.",
        "operationId": "ContributionsGet",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/users/{user_id}/donations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "user_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The user identifier.",
                        "title": "User ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "note": {
                        "type": "string",
                        "description": "The note.",
                        "title": "Note"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "mailed_at": {
                        "type": "string",
                        "description": "When mailed at.",
                        "title": "Mailed At"
                      },
                      "non_profit": {
                        "type": "object",
                        "properties": {
                          "ein": {
                            "type": "string",
                            "description": "The employer identification number (EIN).",
                            "title": "EIN"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "website": {
                            "type": "string",
                            "description": "The website.",
                            "title": "Website"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "logo": {
                            "type": "string",
                            "description": "The logo.",
                            "title": "Logo"
                          },
                          "public_path": {
                            "type": "string",
                            "description": "The public path.",
                            "title": "Public Path"
                          },
                          "public_url": {
                            "type": "string",
                            "description": "The public URL address.",
                            "title": "Public URL"
                          },
                          "cause_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The cause identifier.",
                            "title": "Cause ID"
                          }
                        },
                        "title": "Non Profit"
                      }
                    }
                  },
                  "title": "Items"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "last": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The last.",
                      "title": "Last"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page.",
                      "title": "Page"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Get donations",
        "description": "Retrieve a list of all public donations for a user.",
        "operationId": "DonationsGet",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/gifts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The amount.",
                        "title": "Amount"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "ein": {
                        "type": "string",
                        "description": "The employer identification number.",
                        "title": "EIN"
                      },
                      "seen": {
                        "type": "boolean",
                        "description": "Whether seen.",
                        "title": "Seen"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "claimed": {
                        "type": "boolean",
                        "description": "Whether claimed.",
                        "title": "Claimed"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      }
                    }
                  },
                  "title": "Items"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page.",
                      "title": "Page"
                    },
                    "last": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The last.",
                      "title": "Last"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Get gifts",
        "description": "Retrieve a list of gifts given.",
        "operationId": "GiftsGet",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/non_profits/{ein}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ein": {
                  "type": "string",
                  "description": "The employer identification number.",
                  "title": "EIN"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "website": {
                  "type": "string",
                  "description": "The website.",
                  "title": "Website"
                },
                "city": {
                  "type": "string",
                  "description": "The city.",
                  "title": "City"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "public_path": {
                  "type": "string",
                  "description": "The public path.",
                  "title": "Public Path"
                },
                "public_url": {
                  "type": "string",
                  "description": "The public URL address.",
                  "title": "Public URL"
                },
                "logo": {
                  "type": "string",
                  "description": "The logo.",
                  "title": "Logo"
                },
                "cause": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "color": {
                      "type": "string",
                      "description": "The color.",
                      "title": "Color"
                    },
                    "logo": {
                      "type": "string",
                      "description": "The logo.",
                      "title": "Logo"
                    }
                  },
                  "title": "Cause"
                },
                "causes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "color": {
                        "type": "string",
                        "description": "The color.",
                        "title": "Color"
                      },
                      "logo": {
                        "type": "string",
                        "description": "The logo.",
                        "title": "Logo"
                      }
                    }
                  },
                  "title": "Causes"
                }
              }
            }
          }
        },
        "summary": "Get non-profit",
        "description": "Retrieve information about a non-profit for the given EIN.",
        "operationId": "NonProfitGet",
        "parameters": [
          {
            "name": "ein",
            "in": "path",
            "x-ms-summary": "EIN",
            "x-ms-url-encoding": "single",
            "description": "The employer identification number.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Api-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "hhttps://www.daffy.org/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.daffy.org/legal/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Lifestyle and Entertainment"
    }
  ]
}