{
  "swagger": "2.0",
  "info": {
    "title": "DailyMed",
    "description": "The DailyMed database contains drug labeling, submitted to the Food and Drug Administration (FDA) by companies. This includes boxed warnings, indications, dosage and administration, contraindications, warnings and precautions, adverse reactions, drug interactions, information about use in specific populations, and other important information for healthcare practitioners. The National Library of Medicine (NLM), a National Institutes of Health (NIH) institute, provides DailyMed to the public.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "dailymed.nlm.nih.gov",
  "basePath": "/dailymed/services/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/applicationnumbers.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "elements_per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of elements per page.",
                      "title": "Elements Per Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The next page URL address.",
                      "title": "Next Page URL"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "current_url": {
                      "type": "string",
                      "description": "The current URL address.",
                      "title": "Current URL"
                    },
                    "next_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page number.",
                      "title": "Current Page"
                    }
                  },
                  "title": "Metadata"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "marketing_category_code": {
                        "type": "string",
                        "description": "The marketing category code.",
                        "title": "Marketing Category Code"
                      },
                      "application_number": {
                        "type": "string",
                        "description": "The application number.",
                        "title": "Application Number"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get application numbers",
        "description": "Returns a list of all NDA numbers.",
        "operationId": "ApplicationNumber",
        "parameters": [
          {
            "name": "application_number",
            "in": "query",
            "x-ms-summary": "Application Number",
            "description": "The application number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "marketing_category_code",
            "in": "query",
            "x-ms-summary": "Marketing Category Code",
            "description": "The marketing category code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "setid",
            "in": "query",
            "x-ms-summary": "SET ID",
            "description": "The SET identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagesize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v2/drugclasses.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "elements_per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of elements per page.",
                      "title": "Elements Per Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The next page URL address.",
                      "title": "Next Page URL"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "current_url": {
                      "type": "string",
                      "description": "The current URL address.",
                      "title": "Current URL"
                    },
                    "next_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page number.",
                      "title": "Current Page"
                    }
                  },
                  "title": "Metadata"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "codingSystem": {
                        "type": "string",
                        "description": "The coding system.",
                        "title": "Coding System"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get drug classes",
        "description": "Returns a list of all drug classes associated with at least one pharmacologic drug class in the Pharmacologic Class Indexing Files.",
        "operationId": "DrugClass",
        "parameters": [
          {
            "name": "drug_class_code",
            "in": "query",
            "x-ms-summary": "Drug Class Code",
            "description": "The drug class code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "drug_class_coding_system",
            "in": "query",
            "x-ms-summary": "Drug Class Coding System",
            "description": "The drug class coding system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "class_code_type",
            "in": "query",
            "x-ms-summary": "Class Code Type",
            "description": "The class code type.",
            "required": false,
            "type": "string",
            "default": "all",
            "enum": [
              "all",
              "epc",
              "moa",
              "pe",
              "ci"
            ]
          },
          {
            "name": "class_name",
            "in": "query",
            "x-ms-summary": "Class Name",
            "description": "The class name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "unii_code",
            "in": "query",
            "x-ms-summary": "UNII Code",
            "description": "The UNII code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagesize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v2/drugnames.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "elements_per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of elements per page.",
                      "title": "Elements Per Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The next page URL address.",
                      "title": "Next Page URL"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "current_url": {
                      "type": "string",
                      "description": "The current URL address.",
                      "title": "Current URL"
                    },
                    "next_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page number.",
                      "title": "Current Page"
                    }
                  },
                  "title": "Metadata"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name_type": {
                        "type": "string",
                        "description": "The name type.",
                        "title": "Name Type"
                      },
                      "drug_name": {
                        "type": "string",
                        "description": "The drug name.",
                        "title": "Drug Name"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get drug names",
        "description": "Returns a list of all drug names.",
        "parameters": [
          {
            "name": "drug_name",
            "in": "query",
            "x-ms-summary": "Drug Name",
            "description": "The drug name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "name_type",
            "in": "query",
            "x-ms-summary": "Name Type",
            "description": "The name type.",
            "required": false,
            "type": "string",
            "default": "both",
            "enum": [
              "both",
              "generic",
              "brand"
            ]
          },
          {
            "name": "manufacturer",
            "in": "query",
            "x-ms-summary": "Manufacturer",
            "description": "The manufacturer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagesize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ],
        "operationId": "DrugName"
      }
    },
    "/v2/ndcs.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "elements_per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of elements per page.",
                      "title": "Elements Per Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The next page URL address.",
                      "title": "Next Page URL"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "current_url": {
                      "type": "string",
                      "description": "The current URL address.",
                      "title": "Current URL"
                    },
                    "next_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page number.",
                      "title": "Current Page"
                    }
                  },
                  "title": "Metadata"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ndc": {
                        "type": "string",
                        "description": "The NDC.",
                        "title": "NDC"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get NDC codes",
        "description": "Returns a list of all NDC codes.",
        "operationId": "NDC",
        "parameters": [
          {
            "name": "pagesize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v2/rxcuis.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "elements_per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of elements per page.",
                      "title": "Elements Per Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The next page URL address.",
                      "title": "Next Page URL"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "current_url": {
                      "type": "string",
                      "description": "The current URL address.",
                      "title": "Current URL"
                    },
                    "next_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page number.",
                      "title": "Current Page"
                    }
                  },
                  "title": "Metadata"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "rxcui": {
                        "type": "string",
                        "description": "The RxCUI.",
                        "title": "RxCUI"
                      },
                      "rxstring": {
                        "type": "string",
                        "description": "The Rx string.",
                        "title": "Rx String"
                      },
                      "rxtty": {
                        "type": "string",
                        "description": "The RxTTY.",
                        "title": "RxTTY"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get RxCUIs",
        "description": "Returns a list of all product-level identifiers for an drug entity in RxNorm.",
        "operationId": "RxCUI",
        "parameters": [
          {
            "name": "rxtty",
            "in": "query",
            "x-ms-summary": "RxTTY",
            "description": "The RxTTY.",
            "required": false,
            "type": "string",
            "default": "PSN",
            "enum": [
              "PSN",
              "SBD",
              "SCD",
              "BPCK",
              "GPCK",
              "SY"
            ]
          },
          {
            "name": "rxstring",
            "in": "query",
            "x-ms-summary": "Rx String",
            "description": "The Rx string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rxcui",
            "in": "query",
            "x-ms-summary": "RxCUI",
            "description": "The RxCUI.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagesize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v2/spls.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "elements_per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of elements per page.",
                      "title": "Elements Per Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The next page URL address.",
                      "title": "Next Page URL"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "current_url": {
                      "type": "string",
                      "description": "The current URL address.",
                      "title": "Current URL"
                    },
                    "next_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page number.",
                      "title": "Current Page"
                    }
                  },
                  "title": "Metadata"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "spl_version": {
                        "type": "string",
                        "description": "The SPL version.",
                        "title": "SPL Version"
                      },
                      "published_date": {
                        "type": "string",
                        "description": "The published date.",
                        "title": "Published Date"
                      },
                      "setid": {
                        "type": "string",
                        "description": "The SET identifier.",
                        "title": "SET ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get SPLs",
        "description": "Returns a list of all Structured Product Labels.",
        "operationId": "SPLAll",
        "parameters": [
          {
            "name": "application_number",
            "in": "query",
            "x-ms-summary": "Application Number",
            "description": "The application number.",
            "required": false,
            "type": "string"
          },
          {
            "name": "boxed_warning",
            "in": "query",
            "x-ms-summary": "Boxed Warning",
            "description": "The boxed warning.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "dea_schedule_code",
            "in": "query",
            "x-ms-summary": "DEA Schedule Code",
            "description": "The DEA schedule code.",
            "required": false,
            "type": "string",
            "default": "none",
            "enum": [
              "none",
              "C48672",
              "C48675",
              "C48676",
              "C48677",
              "C48679"
            ]
          },
          {
            "name": "doctype",
            "in": "query",
            "x-ms-summary": "Doc Type",
            "description": "The doc type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "drug_class_code",
            "in": "query",
            "x-ms-summary": "Drug Class Code",
            "description": "The drug class code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "drug_class_coding_system",
            "in": "query",
            "x-ms-summary": "Drug Class Coding System",
            "description": "The drug class coding system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "drug_name",
            "in": "query",
            "x-ms-summary": "Drug Name",
            "description": "The drug name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "name_type",
            "in": "query",
            "x-ms-summary": "Name Type",
            "description": "The name type.",
            "required": false,
            "type": "string",
            "default": "both",
            "enum": [
              "both",
              "generic",
              "brand"
            ]
          },
          {
            "name": "labeler",
            "in": "query",
            "x-ms-summary": "Labeler",
            "description": "The labeler.",
            "required": false,
            "type": "string"
          },
          {
            "name": "manufacturer",
            "in": "query",
            "x-ms-summary": "Manufacturer",
            "description": "The manufacturer.",
            "required": false,
            "type": "string"
          },
          {
            "name": "marketing_category_code",
            "in": "query",
            "x-ms-summary": "Marketing Category Code",
            "description": "The marketing category code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ndc",
            "in": "query",
            "x-ms-summary": "NDC",
            "description": "The NDC.",
            "required": false,
            "type": "string"
          },
          {
            "name": "published_date",
            "in": "query",
            "x-ms-summary": "Published Date",
            "description": "The published date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "published_date_comparison",
            "in": "query",
            "x-ms-summary": "Published Date Comparison",
            "description": "The published date comparison.",
            "required": false,
            "type": "string",
            "default": "lt",
            "enum": [
              "lt",
              "lte",
              "gt",
              "gte",
              "eq"
            ]
          },
          {
            "name": "rxcui",
            "in": "query",
            "x-ms-summary": "RxCUI",
            "description": "The RxCUI.",
            "required": false,
            "type": "string"
          },
          {
            "name": "unii_code",
            "in": "query",
            "x-ms-summary": "UNII Code",
            "description": "The UNII code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagesize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v2/spls/{SETID}/history.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "elements_per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of elements per page.",
                      "title": "Elements Per Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The next page URL address.",
                      "title": "Next Page URL"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "current_url": {
                      "type": "string",
                      "description": "The current URL address.",
                      "title": "Current URL"
                    },
                    "db_published_date": {
                      "type": "string",
                      "description": "The database published date.",
                      "title": "DB Published Date"
                    },
                    "next_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page number.",
                      "title": "Current Page"
                    }
                  },
                  "title": "Metadata"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "history": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "spl_version": {
                            "type": "string",
                            "description": "The SPL version.",
                            "title": "SPL Version"
                          },
                          "published_date": {
                            "type": "string",
                            "description": "The published date.",
                            "title": "Published Date"
                          }
                        }
                      },
                      "title": "History"
                    },
                    "spl": {
                      "type": "object",
                      "properties": {
                        "setid": {
                          "type": "string",
                          "description": "The SET identifier.",
                          "title": "SET ID"
                        },
                        "title": {
                          "type": "string",
                          "description": "The title.",
                          "title": "Title"
                        }
                      },
                      "title": "SPL"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get a SPL's history",
        "description": "Returns the version history of a Structured Product Label for a specific SET identifier.",
        "operationId": "SPLHistory",
        "parameters": [
          {
            "name": "SETID",
            "in": "path",
            "x-ms-summary": "SET ID",
            "x-ms-url-encoding": "single",
            "description": "The SET identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v2/spls/{SETID}/media.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "elements_per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of elements per page.",
                      "title": "Elements Per Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The next page URL address.",
                      "title": "Next Page URL"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "current_url": {
                      "type": "string",
                      "description": "The current URL address.",
                      "title": "Current URL"
                    },
                    "next_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page number.",
                      "title": "Current Page"
                    }
                  },
                  "title": "Metadata"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "spl_version": {
                      "type": "string",
                      "description": "The SPL version.",
                      "title": "SPL Version"
                    },
                    "media": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mime_type": {
                            "type": "string",
                            "description": "The MIME type.",
                            "title": "MIME Type"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          }
                        }
                      },
                      "title": "Media"
                    },
                    "published_date": {
                      "type": "string",
                      "description": "The published date.",
                      "title": "Published Date"
                    },
                    "setid": {
                      "type": "string",
                      "description": "The SET identifier.",
                      "title": "SET ID"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get a SPL's media",
        "description": "Returns the images of a Structured Product Label for a specific SET identifier.",
        "operationId": "SPLMedia",
        "parameters": [
          {
            "name": "SETID",
            "in": "path",
            "x-ms-summary": "SET ID",
            "x-ms-url-encoding": "single",
            "description": "The SET identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v2/spls/{SETID}/ndcs.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "elements_per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of elements per page.",
                      "title": "Elements Per Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The next page URL address.",
                      "title": "Next Page URL"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "current_url": {
                      "type": "string",
                      "description": "The current URL address.",
                      "title": "Current URL"
                    },
                    "db_published_date": {
                      "type": "string",
                      "description": "The database published date.",
                      "title": "DB Published Date"
                    },
                    "next_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page number.",
                      "title": "Current Page"
                    }
                  },
                  "title": "Metadata"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "ndcs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ndc": {
                            "type": "string",
                            "description": "The NDC.",
                            "title": "NDC"
                          }
                        }
                      },
                      "title": "NDCs"
                    },
                    "spl_version": {
                      "type": "string",
                      "description": "The SPL version.",
                      "title": "SPL Version"
                    },
                    "published_date": {
                      "type": "string",
                      "description": "The published date.",
                      "title": "Published Date"
                    },
                    "setid": {
                      "type": "string",
                      "description": "The SET identifier.",
                      "title": "SET ID"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get NDCs",
        "description": "Returns all National Drug Codes for the specified SET identifier.",
        "operationId": "SPLNDC",
        "parameters": [
          {
            "name": "SETID",
            "in": "path",
            "x-ms-summary": "SET ID",
            "x-ms-url-encoding": "single",
            "description": "The SET identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v2/spls/{SETID}/packaging.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "current_url": {
                      "type": "string",
                      "description": "The current URL address.",
                      "title": "Current URL"
                    },
                    "db_published_date": {
                      "type": "string",
                      "description": "The database published date.",
                      "title": "DB Published Date"
                    }
                  },
                  "title": "Metadata"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "spl_version": {
                      "type": "string",
                      "description": "The SPL version.",
                      "title": "SPL Version"
                    },
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "parts": {
                            "type": "object",
                            "properties": {
                              "item": {
                                "type": "object",
                                "properties": {
                                  "part_number": {
                                    "type": "string",
                                    "description": "The part number.",
                                    "title": "Part Number"
                                  },
                                  "active_ingredients": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string",
                                          "description": "The name.",
                                          "title": "Name"
                                        },
                                        "strength": {
                                          "type": "string",
                                          "description": "The strength.",
                                          "title": "Strength"
                                        }
                                      }
                                    },
                                    "title": "Active Ingredients"
                                  },
                                  "total_product_quantity": {
                                    "type": "string",
                                    "description": "The total product quantity.",
                                    "title": "Total Product Quantity"
                                  },
                                  "packaging": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "ndc": {
                                          "type": "string",
                                          "description": "The NDC.",
                                          "title": "NDC"
                                        },
                                        "package_descriptions": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "description": "The package descriptions.",
                                          "title": "Package Descriptions"
                                        }
                                      }
                                    },
                                    "title": "Packaging"
                                  },
                                  "part_name": {
                                    "type": "string",
                                    "description": "The part name.",
                                    "title": "Part Name"
                                  },
                                  "part_code": {
                                    "type": "string",
                                    "description": "The part code.",
                                    "title": "Part Code"
                                  },
                                  "package_quantity": {
                                    "type": "string",
                                    "description": "The package quantity.",
                                    "title": "Package Quantity"
                                  },
                                  "part_name_generic": {
                                    "type": "string",
                                    "description": "The generic part name.",
                                    "title": "Part Name Generic"
                                  }
                                },
                                "title": "Item"
                              }
                            },
                            "title": "Parts"
                          },
                          "active_ingredients": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "strength": {
                                  "type": "string",
                                  "description": "The strength.",
                                  "title": "Strength"
                                }
                              }
                            },
                            "title": "Active Ingredients"
                          },
                          "product_name": {
                            "type": "string",
                            "description": "The product name.",
                                  "title": "Strength"
                          },
                          "packaging": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ndc": {
                                  "type": "string",
                                  "description": "The NDC.",
                                  "title": "NDC"
                                },
                                "package_descriptions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "The package descriptions.",
                                  "title": "Package Descriptions"
                                }
                              }
                            },
                            "title": "Packaging"
                          },
                          "product_code": {
                            "type": "string",
                            "description": "The product code.",
                            "title": "Product Code"
                          },
                          "product_name_generic": {
                            "type": "string",
                            "description": "The generic product name.",
                            "title": "Product Name Generic"
                          }
                        }
                      },
                      "title": "Products"
                    },
                    "published_date": {
                      "type": "string",
                      "description": "The published date.",
                      "title": "Published Date"
                    },
                    "setid": {
                      "type": "string",
                      "description": "The SET identifier.",
                      "title": "SET ID"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get packaging",
        "description": "Returns all product packaging descriptions for the specified SET identifier.",
        "operationId": "SPLPackaging",
        "parameters": [
          {
            "name": "SETID",
            "in": "path",
            "x-ms-summary": "SET ID",
            "x-ms-url-encoding": "single",
            "description": "The SET identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v2/uniis.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "elements_per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of elements per page.",
                      "title": "Elements Per Page"
                    },
                    "next_page_url": {
                      "type": "string",
                      "description": "The next page URL address.",
                      "title": "Next Page URL"
                    },
                    "total_pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of pages.",
                      "title": "Total Pages"
                    },
                    "total_elements": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of elements.",
                      "title": "Total Elements"
                    },
                    "current_url": {
                      "type": "string",
                      "description": "The current URL address.",
                      "title": "Current URL"
                    },
                    "next_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The next page number.",
                      "title": "Next Page"
                    },
                    "current_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page number.",
                      "title": "Current Page"
                    }
                  },
                  "title": "Metadata"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "unii_code": {
                        "type": "string",
                        "description": "The UNII code.",
                        "title": "UNII Code"
                      },
                      "active_moiety": {
                        "type": "string",
                        "description": "The active moiety.",
                        "title": "Active Moiety"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get UNIIs",
        "description": "Returns a list of all Unique Ingredient Identifier Codes.",
        "operationId": "UNII",
        "parameters": [
          {
            "name": "active_moiety",
            "in": "query",
            "x-ms-summary": "Active Moiety",
            "description": "The active moiety.",
            "required": false,
            "type": "string"
          },
          {
            "name": "drug_class_code",
            "in": "query",
            "x-ms-summary": "Drug Class Code",
            "description": "The drug class code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "drug_class_coding_system",
            "in": "query",
            "x-ms-summary": "Drug Class Coding System",
            "description": "The drug class coding system.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rxcui",
            "in": "query",
            "x-ms-summary": "RxCUI",
            "description": "The RxCUI.",
            "required": false,
            "type": "string"
          },
          {
            "name": "unii_code",
            "in": "query",
            "x-ms-summary": "UNII Code",
            "description": "The UNII code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagesize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://dailymed.nlm.nih.gov/dailymed/app-support-web-services.cfm"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nlm.nih.gov/privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}