{
  "swagger": "2.0",
  "info": {
    "title": "AllRatesToday",
    "description": "Get real-time and historical currency exchange rates for 160+ currencies. Rates are sourced from institutional interbank market data, updated every 60 seconds.",
    "version": "1.0",
    "contact": {
      "name": "Cahthurana G",
      "email": "basnayakac8@gmail.com",
      "url": "https://allratestoday.com"
    }
  },
  "host": "allratestoday.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/rates": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "rate": {
                    "type": "number",
                    "format": "float",
                    "description": "The exchange rate value.",
                    "title": "Rate"
                  },
                  "source": {
                    "type": "string",
                    "description": "Source currency code, eg 'USD'.",
                    "title": "Source"
                  },
                  "target": {
                    "type": "string",
                    "description": "Target currency code, eg 'EUR'.",
                    "title": "Target"
                  },
                  "time": {
                    "type": "string",
                    "description": "Timestamp of the rate.",
                    "title": "Time"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Get Exchange Rate",
        "description": "Get the live mid-market exchange rate between two currencies",
        "operationId": "GetExchangeRate",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Source currency code, eg 'USD'",
            "x-ms-summary": "Source currency"
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Target currency code, eg 'EUR'. Comma-separated for multiple targets, eg 'EUR,GBP,JPY'",
            "x-ms-summary": "Target currency"
          }
        ]
      }
    },
    "/api/v1/symbols": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "currencies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "ISO 4217 currency code, eg 'USD'.",
                        "title": "Code"
                      },
                      "name": {
                        "type": "string",
                        "description": "Currency name, eg 'US Dollar'.",
                        "title": "Name"
                      },
                      "symbol": {
                        "type": "string",
                        "description": "Currency symbol, eg '$'.",
                        "title": "Symbol"
                      }
                    }
                  },
                  "description": "List of supported currencies.",
                  "title": "Currencies"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of supported currencies.",
                  "title": "Count"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "List Supported Currencies",
        "description": "List all supported currency codes, names, and symbols",
        "operationId": "ListCurrencies",
        "parameters": []
      }
    },
    "/api/rate": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "rate": {
                  "type": "number",
                  "format": "float",
                  "description": "The exchange rate value.",
                  "title": "Rate"
                },
                "source": {
                  "type": "string",
                  "description": "Data source identifier.",
                  "title": "Source"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "Get Single Rate",
        "description": "Get a single exchange rate between two currencies. Requires an API key, like every other operation.",
        "operationId": "GetSingleRate",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Source currency code, eg 'USD'",
            "x-ms-summary": "Source currency"
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Target currency code, eg 'EUR'",
            "x-ms-summary": "Target currency"
          }
        ]
      }
    },
    "/api/historical-rates": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "string",
                  "description": "Source currency code.",
                  "title": "Source"
                },
                "target": {
                  "type": "string",
                  "description": "Target currency code.",
                  "title": "Target"
                },
                "period": {
                  "type": "string",
                  "description": "The requested period.",
                  "title": "Period"
                },
                "source_api": {
                  "type": "string",
                  "description": "Upstream data source identifier.",
                  "title": "Source API"
                },
                "data": {
                  "type": "array",
                  "description": "One entry per day in the series.",
                  "title": "Data",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "Date of the rate, YYYY-MM-DD.",
                        "title": "Date"
                      },
                      "rate": {
                        "type": "number",
                        "format": "float",
                        "description": "The exchange rate value.",
                        "title": "Rate"
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Unix timestamp in milliseconds.",
                        "title": "Timestamp"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Get Historical Rates",
        "description": "Get the historical exchange rate series for a currency pair over a preset period.",
        "operationId": "GetHistoricalRates",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Source currency code, eg 'USD'",
            "x-ms-summary": "Source currency"
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Target currency code, eg 'EUR'",
            "x-ms-summary": "Target currency"
          },
          {
            "name": "period",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "1d",
              "7d",
              "30d",
              "1y"
            ],
            "default": "7d",
            "description": "Length of the series to return.",
            "x-ms-summary": "Period"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://allratestoday.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://allratestoday.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce;Finance"
    }
  ]
}
