{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Maintenance Request - Oxmaint",
    "description": "This is a Oxmaint Maintenance Request that can take care of your approvals.",
    "contact": {
      "name": "Oxmaint Support",
      "url": "https://oxmaint.com/about-us",
      "email": "contact@oxmaint.com"
    }
  },
  "host": "prod-111.westeurope.logic.azure.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/workflows/81fb7bc062f3419a8c0ba8ac0132d631/triggers/manual/paths/invoke": {
      "post": {
        "summary": "Maintenance Request - Oxmaint",
        "description": "Maintenance Request - Oxmaint",
        "operationId": "MaintenanceRequest-Oxmaint",
        "parameters": [
          {
            "name": "api-version",
            "default": "2016-06-01",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sp",
            "default": "/triggers/manual/run",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sv",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "sig",
            "default": "7zabIRU45x3Syx725dxQyiiSUSNX3iIF0Jr-2wKcxY0",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "title",
                  "title": "Title",
                  "x-ms-visibility": "important"
                },
                "description": {
                  "type": "string",
                  "description": "description",
                  "title": "Description",
                  "x-ms-visibility": "important"
                },
                "priority": {
                  "type": "string",
                  "description": "priority",
                  "title": "Priority",
                  "x-ms-visibility": "important"
                },
                "requested_by": {
                  "type": "string",
                  "description": "requested_by",
                  "title": "Requestor",
                  "x-ms-visibility": "important"
                },
                "date": {
                  "type": "string",
                  "description": "date",
                  "title": "Date",
                  "x-ms-visibility": "important"
                },
                "master_email": {
                  "type": "string",
                  "description": "master_email",
                  "title": "Master Email",
                  "x-ms-visibility": "important"
                },
                "api_key": {
                  "type": "string",
                  "description": "api_key",
                  "title": "API Key",
                  "x-ms-visibility": "important"
                }
              },
              "default": {
                "title": "Test WO Request",
                "description": "Hello there Please create a WO request",
                "priority": "Low",
                "requested_by": "Sachin Upadhyay",
                "date": "20-Feb-2024 11:12 AM",
                "master_email": "nikita@gmail.com",
                "api_key": "123456"
              },
              "x-ms-visibility": "important",
              "required": [
                "api_key",
                "date",
                "description",
                "master_email",
                "priority",
                "requested_by",
                "title"
              ]
            },
            "required": true,
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://oxmaint.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://oxmaint.com/legal/privacy-policy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": ""
  }
}
