{
  "swagger": "2.0",
  "info": {
    "title": "Tavily (Independent Publisher)",
    "description": "Tavily is a specialized search engine designed for Large Language Models (LLMs) and AI agents. It provides real-time, accurate, and unbiased information, enabling AI applications to retrieve and process data efficiently. Tavily is built with AI developers in mind, simplifying the process of integrating dynamic web information into AI-driven solutions.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.tavily.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/search": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "The search query.",
                  "title": "Query"
                },
                "answer": {
                  "type": "string",
                  "description": "The answer to the search query.",
                  "title": "Answer"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL of the image.",
                        "title": "URL"
                      },
                      "description": {
                        "type": "string",
                        "description": "A brief description of the image.",
                        "title": "Description"
                      }
                    }
                  },
                  "title": "Images"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "The title of the result.",
                        "title": "Title"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL of the result.",
                        "title": "URL"
                      },
                      "content": {
                        "type": "string",
                        "description": "The content of the result.",
                        "title": "Content"
                      },
                      "score": {
                        "type": "number",
                        "format": "float",
                        "description": "The relevance score of the result.",
                        "title": "Score"
                      },
                      "raw_content": {
                        "type": "string",
                        "description": "The raw content of the result.",
                        "title": "Raw Content"
                      }
                    }
                  },
                  "title": "Results"
                },
                "response_time": {
                  "type": "number",
                  "format": "float",
                  "description": "The time taken to process the request.",
                  "title": "Response Time"
                }
              }
            }
          }
        },
        "summary": "Tavily Search",
        "description": "Execute a search query using Tavily Search.",
        "operationId": "SearchPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "The search query.",
                  "title": "Query"
                },
                "topic": {
                  "type": "string",
                  "description": "The topic of the search.",
                  "title": "Topic",
                  "default": "general",
                  "enum": [
                    "general",
                    "news"
                  ]
                },
                "search_depth": {
                  "type": "string",
                  "description": "The depth of the search.",
                  "title": "Search Depth",
                  "default": "basic",
                  "enum": [
                    "basic",
                    "advanced"
                  ]
                },
                "chunks_per_source": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of chunks to return per source.",
                  "title": "Chunks Per Source",
                  "minimum": 1,
                  "maximum": 3
                },
                "max_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return.",
                  "title": "Max Results",
                  "default": 5,
                  "maximum": 20
                },
                "time_range": {
                  "type": "string",
                  "description": "The time range for the search.",
                  "title": "Time Range",
                  "enum": [
                    "day",
                    "week",
                    "month",
                    "year",
                    "d",
                    "w",
                    "m",
                    "y"
                  ]
                },
                "days": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of days to include in the search.",
                  "title": "Days",
                  "default": 7
                },
                "include_answer": {
                  "type": "boolean",
                  "description": "Whether to include answers in the search results.",
                  "title": "Include Answer",
                  "default": false
                },
                "include_raw_content": {
                  "type": "boolean",
                  "description": "Whether to include raw content in the search results.",
                  "title": "Include Raw Content",
                  "default": false
                },
                "include_images": {
                  "type": "boolean",
                  "description": "Whether to include images in the search results.",
                  "title": "Include Images",
                  "default": false
                },
                "include_image_descriptions": {
                  "type": "boolean",
                  "description": "Whether to include image descriptions in the search results.",
                  "title": "Include Image Descriptions"
                },
                "include_domains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "include_domains",
                  "title": "Include Domains"
                },
                "exclude_domains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "exclude_domains",
                  "title": "Exclude Domains"
                }
              },
              "required": [
                "query"
              ]
            }
          }
        ]
      }
    },
    "/extract": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL of the web page.",
                        "title": "URL"
                      },
                      "raw_content": {
                        "type": "string",
                        "description": "The raw HTML content of the web page.",
                        "title": "Raw Content"
                      },
                      "images": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The images found on the web page.",
                        "title": "Images"
                      }
                    }
                  },
                  "title": "Results"
                },
                "failed_results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL of the failed result.",
                        "title": "URL"
                      },
                      "error": {
                        "type": "string",
                        "description": "The error message for the failed result.",
                        "title": "Error"
                      }
                    }
                  },
                  "title": "Failed Results"
                },
                "response_time": {
                  "type": "number",
                  "format": "float",
                  "description": "The time taken to process the request.",
                  "title": "Response Time"
                }
              }
            }
          }
        },
        "summary": "Tavily Extract",
        "description": "Extract web page content from one or more specified URLs using Tavily Extract.",
        "operationId": "ExtractPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "urls": {
                  "type": "string",
                  "description": "The URLs to extract content from.",
                  "title": "URLs"
                },
                "include_images": {
                  "type": "boolean",
                  "description": "Whether to include images in the extraction.",
                  "title": "Include Images",
                  "default": false
                },
                "extract_depth": {
                  "type": "string",
                  "description": "The depth of the extraction.",
                  "title": "Extract Depth",
                  "default": "basic",
                  "enum": [
                    "basic",
                    "advanced"
                  ]
                }
              },
              "required": [
                "urls"
              ]
            }
          }
        ]
      }
    },
    "/crawl": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "base_url": {
                  "type": "string",
                  "description": "The base URL to start crawling from.",
                  "title": "Base URL"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL of the crawled page.",
                        "title": "URL"
                      },
                      "raw_content": {
                        "type": "string",
                        "description": "The raw HTML content of the crawled page.",
                        "title": "Raw Content"
                      }
                    }
                  },
                  "title": "Results"
                },
                "response_time": {
                  "type": "number",
                  "format": "float",
                  "description": "The time taken to process the request.",
                  "title": "Response Time"
                }
              }
            }
          }
        },
        "summary": "Tavily Crawl (Beta)",
        "description": "Traverse a site like a graph starting from a base URL.",
        "operationId": "CrawlPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL to crawl.",
                  "title": "URL"
                },
                "max_depth": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum depth to crawl.",
                  "title": "Max Depth"
                },
                "max_breadth": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum breadth to crawl.",
                  "title": "Max Breadth",
                  "default": 20
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of pages to crawl.",
                  "title": "Limit",
                  "default": 50
                },
                "instructions": {
                  "type": "string",
                  "description": "Instructions for the crawler.",
                  "title": "Instructions"
                },
                "select_paths": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The paths to include in the crawl.",
                  "title": "Select Paths"
                },
                "select_domains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The domains to include in the crawl.",
                  "title": "Select Domains"
                },
                "exclude_paths": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The paths to exclude from the crawl.",
                  "title": "Exclude Paths"
                },
                "exclude_domains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The domains to exclude from the crawl.",
                  "title": "Exclude Domains"
                },
                "allow_external": {
                  "type": "boolean",
                  "description": "Whether to allow external links.",
                  "title": "Allow External",
                  "default": false
                },
                "include_images": {
                  "type": "boolean",
                  "description": "Whether to include images in the crawl.",
                  "title": "Include Images",
                  "default": false
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The categories to include in the crawl.",
                  "title": "Categories"
                },
                "extract_depth": {
                  "type": "string",
                  "description": "The depth of content extraction.",
                  "title": "Extract Depth",
                  "default": "basic",
                  "enum": [
                    "basic",
                    "advanced"
                  ]
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/map": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "base_url": {
                  "type": "string",
                  "description": "The base URL to start crawling from.",
                  "title": "Base URL"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The URLs of the crawled pages.",
                  "title": "Results"
                },
                "response_time": {
                  "type": "number",
                  "format": "float",
                  "description": "The time taken to process the request.",
                  "title": "Response Time"
                }
              }
            }
          }
        },
        "summary": "Tavily Map (Beta)",
        "description": "Obtain a sitemap starting from a base URL.",
        "operationId": "MapPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL to crawl.",
                  "title": "URL"
                },
                "max_depth": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum depth to crawl.",
                  "title": "Max Depth",
                  "default": 1
                },
                "max_breadth": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum breadth to crawl.",
                  "title": "Max Breadth",
                  "default": 20
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of pages to crawl.",
                  "title": "Limit",
                  "default": 50
                },
                "instructions": {
                  "type": "string",
                  "description": "Instructions for the crawler.",
                  "title": "Instructions"
                },
                "select_paths": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The paths to include in the crawl.",
                  "title": "Select Paths"
                },
                "select_domains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The domains to include in the crawl.",
                  "title": "Select Domains"
                },
                "exclude_paths": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The paths to exclude from the crawl.",
                  "title": "Exclude Paths"
                },
                "exclude_domains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The domains to exclude from the crawl.",
                  "title": "Exclude Domains"
                },
                "allow_external": {
                  "type": "boolean",
                  "description": "Whether to allow external links.",
                  "title": "Allow External",
                  "default": false
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "Careers",
                      "Blog",
                      "Documentation",
                      "About",
                      "Pricing",
                      "Community",
                      "Developers",
                      "Contact",
                      "Media"
                    ]
                  },
                  "description": "The categories to include in the crawl.",
                  "title": "Categories"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://tavily.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://tavily.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment;Website"
    }
  ]
}