{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0.0",
    "title": "Outlook Tasks",
    "description": "Outlook Tasks service lets you create, read, synchronize, update and delete your tasks that are secured by Azure Active Directory in Office 365 or a Microsoft account.",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "outlook.office.com",
  "basePath": "/api/v2.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/actions/GetAllTaskFolders/v2/me/taskfolders": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List all task folders",
        "description": "Returns a list of all the task folders in your mailbox.",
        "operationId": "GetAllTaskFolders_V2",
        "parameters": [
          {
            "$ref": "#/parameters/OdataQueryOption-$top"
          },
          {
            "$ref": "#/parameters/OdataQueryOption-$skip"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OdataCollection<TaskFolder>"
          }
        },
        "x-ms-api-annotation": {
          "family": "GetAllTaskFolders",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/actions/CreateTaskFolder/v2/me/taskfolders": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create a task folder",
        "description": "This operation creates a new task folder in the default task group (`My Tasks`) in your mailbox.",
        "operationId": "CreateTaskFolder_V2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskFolder"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/TaskFolder"
          }
        },
        "x-ms-api-annotation": {
          "family": "CreateTaskFolder",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/actions/GetTaskFolder/v1/me/taskfolders('{folder_id}')": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "Gets a task folder",
        "description": "This operation gets a specific task folder.",
        "operationId": "GetTaskFolder",
        "parameters": [
          {
            "$ref": "#/parameters/folder_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/TaskFolder"
          }
        },
        "x-ms-api-annotation": {
          "family": "GetTaskFolder",
          "revision": 1,
          "status": "Preview"
        }
      }
    },
    "/actions/UpdateTaskFolder/v1/me/taskfolders('{folder_id}')": {
      "patch": {
        "tags": [
          "Tasks"
        ],
        "summary": "Update a task in a folder",
        "description": "This operation is used to modify an existing task folder.",
        "operationId": "UpdateTaskFolder",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/folder_id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskFolder"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/TaskFolder"
          }
        },
        "x-ms-api-annotation": {
          "family": "UpdateTaskFolder",
          "revision": 1,
          "status": "Preview"
        }
      }
    },
    "/actions/GetAllTaskGroups/v2/me/taskgroups": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List all task groups",
        "description": "Returns a list of all the task groups in your mailbox.",
        "operationId": "GetAllTaskGroups_V2",
        "parameters": [
          {
            "$ref": "#/parameters/OdataQueryOption-$top"
          },
          {
            "$ref": "#/parameters/OdataQueryOption-$skip"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OdataCollection<TaskGroup>"
          }
        },
        "x-ms-api-annotation": {
          "family": "GetAllTaskGroups",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/actions/CreateTaskGroup/v2/me/taskgroups": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create a task group",
        "description": "This operation creates a new task group in your mailbox.",
        "operationId": "CreateTaskGroup_V2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskGroup"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/TaskGroup"
          }
        },
        "x-ms-api-annotation": {
          "family": "CreateTaskGroup",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/actions/GetTaskFoldersInGroup/v2/me/taskgroups('{group_id}')/taskfolders": {
      "get": {
        "tags": [
          "Tasks"
        ],
        "summary": "List task folders in group",
        "description": "Returns a list of all the task folders in the specified task group in your mailbox.",
        "operationId": "GetTaskFoldersInGroup_V2",
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "$ref": "#/parameters/OdataQueryOption-$top"
          },
          {
            "$ref": "#/parameters/OdataQueryOption-$skip"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OdataCollection<TaskFolder>"
          }
        },
        "x-ms-api-annotation": {
          "family": "GetTaskFoldersInGroup",
          "revision": 2,
          "status": "Preview"
        }
      }
    },
    "/actions/CreateTaskFolderInGroup/v2/me/taskgroups('{group_id}')/taskfolders": {
      "post": {
        "tags": [
          "Tasks"
        ],
        "summary": "Create a task folder under a specific task group",
        "description": "This operation creates a new task folder in the specified task group in your mailbox.",
        "operationId": "CreateTaskFolderInGroup_V2",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/group_id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TaskFolder"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/TaskFolder"
          }
        },
        "x-ms-api-annotation": {
          "family": "CreateTaskFolderInGroup",
          "revision": 2,
          "status": "Preview"
        }
      }
    }
  },
  "definitions": {
    "TaskFolder": {
      "description": "An Outlook task folder.",
      "type": "object",
      "required": [
        "Name"
      ],
      "properties": {
        "@odata.id": {
          "type": "string",
          "x-ms-visibility": "internal",
          "readOnly": true
        },
        "Id": {
          "title": "Id",
          "description": "Unique identifier of the task folder.",
          "type": "string",
          "readOnly": true
        },
        "Name": {
          "title": "Name",
          "description": "Name of the task folder.",
          "type": "string"
        },
        "ChangeKey": {
          "type": "string",
          "x-ms-visibility": "internal",
          "readOnly": true
        },
        "IsDefaultFolder": {
          "x-ms-summary": "Is Default",
          "description": "True if this is the default task folder.",
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "ParentGroupKey": {
          "x-ms-summary": "Parent Group Key",
          "description": "Unique GUID identifier for the task folder's parent group.",
          "type": "string",
          "x-ms-visibility": "internal",
          "readOnly": true
        }
      },
      "x-ms-test-value": {
        "Name": "test folder"
      }
    },
    "TaskGroup": {
      "description": "An Outlook task group.",
      "type": "object",
      "required": [
        "Name"
      ],
      "properties": {
        "@odata.id": {
          "type": "string",
          "x-ms-visibility": "internal",
          "readOnly": true
        },
        "Id": {
          "title": "Id",
          "description": "Unique identifier of the task group.",
          "type": "string",
          "readOnly": true
        },
        "Name": {
          "title": "Name",
          "description": "Name of the task group.",
          "type": "string"
        },
        "ChangeKey": {
          "type": "string",
          "x-ms-visibility": "internal",
          "readOnly": true
        },
        "IsDefaultGroup": {
          "x-ms-summary": "Is Default",
          "description": "True if default task group.",
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "readOnly": true
        },
        "GroupKey": {
          "description": "Unique GUID identifier for the task group.",
          "type": "string",
          "x-ms-visibility": "internal",
          "readOnly": true
        }
      },
      "x-ms-test-value": {
        "Name": "test group"
      }
    },
    "@odata.nextLink": {
      "type": "string",
      "x-ms-visibility": "advanced",
      "title": "OData nextLink"
    }
  },
  "parameters": {
    "OdataQueryOption-$top": {
      "in": "query",
      "name": "$top",
      "type": "integer",
      "required": false,
      "minimum": 0,
      "x-ms-visibility": "advanced",
      "description": "The number of items in the queried collection to be included in the result.",
      "x-ms-summary": "Top Items"
    },
    "OdataQueryOption-$skip": {
      "in": "query",
      "name": "$skip",
      "required": false,
      "type": "integer",
      "minimum": 0,
      "x-ms-visibility": "advanced",
      "description": "The number of items in the queried collection that are to be skipped and not included in the result. This is applied before the $top option.",
      "x-ms-summary": "Skip Items"
    },
    "attachment_id": {
      "in": "path",
      "name": "attachment_id",
      "type": "string",
      "required": true,
      "description": "The programatic ID of an attachment, unique in the user's mailbox.",
      "x-ms-summary": "Attachment ID",
      "x-ms-url-encoding": "single"
    },
    "folder_id": {
      "in": "path",
      "name": "folder_id",
      "type": "string",
      "required": true,
      "description": "The default 'Tasks' well-known folder name, or a programatic ID of a task folder, unique in the user's mailbox.",
      "x-ms-summary": "Task Folder ID",
      "x-ms-url-encoding": "single",
      "x-ms-test-value": "Tasks",
      "x-ms-dynamic-values": {
        "operationId": "GetAllTaskFolders_V2",
        "value-collection": "value",
        "value-title": "Name",
        "value-path": "Id"
      }
    },
    "group_id": {
      "in": "path",
      "name": "group_id",
      "type": "string",
      "required": true,
      "description": "The programatic ID of a task group, unique in the user's mailbox.",
      "x-ms-summary": "Task Group ID",
      "x-ms-url-encoding": "single",
      "x-ms-dynamic-values": {
        "operationId": "GetAllTaskGroups_V2",
        "value-collection": "value",
        "value-title": "Name",
        "value-path": "Id"
      }
    },
    "task_id": {
      "in": "path",
      "name": "task_id",
      "type": "string",
      "required": true,
      "description": "The programatic task ID, unique in the user's mailbox.",
      "x-ms-summary": "Task ID",
      "x-ms-url-encoding": "single"
    }
  },
  "responses": {
    "TaskFolder": {
      "description": "Operation Successful",
      "schema": {
        "$ref": "#/definitions/TaskFolder"
      }
    },
    "OdataCollection<TaskFolder>": {
      "description": "Operation Successful",
      "schema": {
        "type": "object",
        "properties": {
          "@odata.nextLink": {
            "$ref": "#/definitions/@odata.nextLink"
          },
          "value": {
            "title": "The Task Folder entities of the operation.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/TaskFolder"
            }
          }
        }
      }
    },
    "TaskGroup": {
      "description": "Operation Successful",
      "schema": {
        "$ref": "#/definitions/TaskGroup"
      }
    },
    "OdataCollection<TaskGroup>": {
      "description": "Operation Successful",
      "schema": {
        "type": "object",
        "properties": {
          "@odata.nextLink": {
            "$ref": "#/definitions/@odata.nextLink"
          },
          "value": {
            "title": "The Task Group entities of the operation.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/TaskGroup"
            }
          }
        }
      }
    }
  }
}