{
  "swagger": "2.0",
  "info": {
    "title": "RegexFlow Regular Expression",
    "description": "The Regular Expression connector enables the use of regular expression.  The connector takes text and a regex pattern as inputs and returns was the pattern  matched and the matched groups.",
    "version": "1.0",
    "contact": {
      "name": "RegexFlow Support",
      "url": "https://www.regexflow.com/",
      "email": "support@regexflow.com"
    }
  },
  "host": "publicapi.regexflow.com",
  "basePath": "/RegexFlowSAS",
  "schemes": [
    "https"
  ],
  "consumes": [
    "text/plain"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/RegexMultiGroup": {
      "post": {
        "parameters": [
          {
            "name": "pattern",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "regular expression pattern",
            "description": "regular expression pattern"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "type": "object",
              "properties": {
                "isSuccess": {
                  "type": "boolean",
                  "description": "isSuccess"
                },
                "error": {
                  "type": "string",
                  "description": "Description of the error.",
                  "default": "null"
                },
                "matches": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "MatchId": {
                        "type": "string",
                        "description": "MatchId"
                      },
                      "Match": {
                        "type": "string",
                        "description": "Match"
                      },
                      "groups": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "group": {
                              "type": "string",
                              "description": "group"
                            },
                            "groupValue": {
                              "type": "string",
                              "description": "groupValue"
                            }
                          }
                        },
                        "description": "groups"
                      }
                    }
                  },
                  "description": "matches"
                },
                "caution": {
                  "type": "string",
                  "description": "caution"
                }
              }
            }
          },
          "401": {
            "description": "Access denied due to invalid subscription key."
          },
          "403": {
            "description": "Out of volume quota."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "operationId": "RegexMultiGroup",
        "summary": "Regex pattern matching in the posted text",
        "description": "Finds regular expression matches in the posted body and returns the captured groups, groups can be named."
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.regexflow.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://regexflow.com/privacy_policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Data"
    }
  ]
}