{
  "swagger": "2.0",
  "info": {
    "title": "Lit Ipsum",
    "description": "Lit Ipsum is a dummy text generator for web designers and developers. As an alternative to boring old Lorem Ipsum generators, it chooses passages from copyright-free literature courtesy of the Gutenberg Project.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "litipsum.com",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug.",
                  "title": "Slug"
                },
                "length": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The length.",
                  "title": "Length"
                },
                "text": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The text.",
                  "title": "Text"
                }
              }
            }
          }
        },
        "summary": "Get a page of random text",
        "description": "Returns text from a random source.",
        "operationId": "TextRandom",
        "parameters": []
      }
    },
    "/{title}/json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug.",
                  "title": "Slug"
                },
                "length": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The length.",
                  "title": "Length"
                },
                "text": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The text.",
                  "title": "Text"
                }
              }
            }
          }
        },
        "summary": "Get page from a specific title",
        "parameters": [
          {
            "name": "title",
            "in": "path",
            "x-ms-summary": "Title",
            "x-ms-url-encoding": "single",
            "description": "An available book title to get page from.",
            "required": true,
            "type": "string",
            "default": "pride-and-prejudice",
            "enum": [
              "adventures-sherlock-holmes",
              "dr-jekyll-and-mr-hyde",
              "dracula",
              "evelina",
              "life-of-samuel-johnson",
              "picture-of-dorian-gray",
              "pride-and-prejudice"
            ]
          }
        ],
        "description": "Returns text from a title.",
        "operationId": "TextTitle"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://litipsum.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://litipsum.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}