{
  "swagger": "2.0",
  "info": {
    "title": "Cireson Service Manager Portal",
    "description": "Create and Update Work Items through the Cireson Portal for System Center Service Manager",
    "version": "1.0",
    "contact": {
      "name": "Cireson",
      "url": "https://cireson.com",
      "email": "support@cireson.com"
    }
  },
  "host": "cireson.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "multipart/form-data",
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/api/CloudConnector/Enums/{Id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Get Enums",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Id"
                  },
                  "Text": {
                    "type": "string",
                    "description": "Text"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "HasChildren": {
                    "type": "boolean",
                    "description": "Has Children"
                  },
                  "Ordinal": {
                    "type": "number",
                    "format": "float",
                    "description": "Ordinal",
                  },
                  "items": {
                    "type": "array",
                    "items": {},
                    "description": "items"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Enums",
        "description": "Get Enums",
        "operationId": "GetEnums",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/api/CloudConnector/Users": {
      "get": {
        "responses": {
          "200": {
            "description": "User Get Response",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "BaseId": {
                    "type": "string",
                    "description": "Id"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "Email": {
                    "type": "string",
                    "description": "Email"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Users",
        "description": "Get Users",
        "operationId": "GetUsers",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/api/CloudConnector/WorkItems/{WorkItemId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/WorkItem_GetResponse"
            }
          }
        },
        "summary": "Get Work Item",
        "description": "Get Work Item data given the Id",
        "operationId": "GetWorkItem",
        "parameters": [
          {
            "name": "WorkItemId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Work Item Id",
            "x-ms-summary": "Work Item Id",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/CloudConnector/WorkItems/{Id}/": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "string",
                  "description": "data"
                },
                "exception": {
                  "type": "string",
                  "description": "exception"
                },
                "BaseId": {
                  "type": "string",
                  "description": "BaseId"
                }
              }
            }
          }
        },
        "summary": "Delete Work Item",
        "description": "Delete Work Item",
        "operationId": "DeleteWorkItem",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Work Item Id",
            "x-ms-summary": "Work Item Id",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/CloudConnector/Incident": {
      "post": {
        "responses": {
          "201": {
            "description": "Incident Created",
            "schema": {
              "$ref": "#/definitions/WorkItem_CreatedIRResponse"
            }
          }
        },
        "summary": "Create an Incident",
        "description": "Create an Incident",
        "operationId": "CreateIncident",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "Priority": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Priority",
                  "title": "Priority"
                },
                "Classification": {
                  "description": "Classification",
                  "type": "string",
                  "x-ms-summary": "Classification",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "1f77f0ce-9e43-340f-1fd5-b11cc36c9cba"
                    }
                  },
                  "title": "Classification"
                },
                "Urgency": {
                  "description": "Urgency",
                  "type": "string",
                  "x-ms-summary": "Urgency",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "04b28bfb-8898-9af3-009b-979e58837852"
                    }
                  },
                  "title": "Urgency"
                },
                "Impact": {
                  "description": "Impact",
                  "type": "string",
                  "x-ms-summary": "Impact",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "11756265-f18e-e090-eed2-3aa923a4c872"
                    }
                  },
                  "title": "Impact"
                },
                "Source": {
                  "description": "Source",
                  "type": "string",
                  "x-ms-summary": "Source",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "5d59071e-69b3-7ef4-6dee-aacc5b36d898"
                    }
                  },
                  "title": "Source"
                },
                "SupportGroup": {
                  "description": "Support Group",
                  "type": "string",
                  "x-ms-summary": "Support Group",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "c3264527-a501-029f-6872-31300080b3bf"
                    }
                  },
                  "title": "Support Group"
                },
                "Status": {
                  "description": "Status",
                  "type": "string",
                  "x-ms-summary": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "89b34802-671e-e422-5e38-7dae9a413ef8"
                    }
                  },
                  "title": "Status"
                },
                "RequestedWorkItem": {
                  "description": "Affected User",
                  "type": "string",
                  "x-ms-summary": "Affected User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Affected User"
                },
                "AssignedWorkItem": {
                  "description": "Assigned User",
                  "type": "string",
                  "x-ms-summary": "Assigned User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Assigned User"
                }
              },
              "required": [
                "Classification",
                "Impact",
                "Urgency",
                "Source"
              ]
            }
          }
        ]
      }
    },
    "/api/CloudConnector/Incident/{Id}": {
      "patch": {
        "responses": {
          "200": {
            "description": "Updated Incident",
            "schema": {
              "$ref": "#/definitions/WorkItem_CreatedIRResponse"
            }
          }
        },
        "summary": "Update an Incident",
        "description": "Update an Incident",
        "operationId": "UpdateIncident",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Work Item Id",
            "x-ms-summary": "Work Item Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "Priority": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Priority",
                  "title": "Priority"
                },
                "Classification": {
                  "description": "Classification",
                  "type": "string",
                  "x-ms-summary": "Classification",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "1f77f0ce-9e43-340f-1fd5-b11cc36c9cba"
                    }
                  },
                  "title": "Classification"
                },
                "Urgency": {
                  "description": "Urgency",
                  "type": "string",
                  "x-ms-summary": "Urgency",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "04b28bfb-8898-9af3-009b-979e58837852"
                    }
                  },
                  "title": "Urgency"
                },
                "Impact": {
                  "description": "Impact",
                  "type": "string",
                  "x-ms-summary": "Impact",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "11756265-f18e-e090-eed2-3aa923a4c872"
                    }
                  },
                  "title": "Impact"
                },
                "Source": {
                  "description": "Source",
                  "type": "string",
                  "x-ms-summary": "Source",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "5d59071e-69b3-7ef4-6dee-aacc5b36d898"
                    }
                  },
                  "title": "Source"
                },
                "SupportGroup": {
                  "description": "Support Group",
                  "type": "string",
                  "x-ms-summary": "Support Group",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "c3264527-a501-029f-6872-31300080b3bf"
                    }
                  },
                  "title": "Support Group"
                },
                "Status": {
                  "description": "Status",
                  "type": "string",
                  "x-ms-summary": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "89b34802-671e-e422-5e38-7dae9a413ef8"
                    }
                  },
                  "title": "Status"
                },
                "RequestedWorkItem": {
                  "description": "Affected User",
                  "type": "string",
                  "x-ms-summary": "Affected User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Affected User"
                },
                "AssignedWorkItem": {
                  "description": "Assigned User",
                  "type": "string",
                  "x-ms-summary": "Assigned User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Assigned User"
                }
              }
            }
          }
        ]
      }
    },
    "/api/CloudConnector/ServiceRequest": {
      "post": {
        "responses": {
          "201": {
            "description": "Service Request Created",
            "schema": {
              "$ref": "#/definitions/WorkItem_CreatedSRResponse"
            }
          }
        },
        "summary": "Create a Service Request",
        "description": "Create a Service Request",
        "operationId": "CreateServiceRequest",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "Priority": {
                  "description": "Priority",
                  "type": "string",
                  "x-ms-summary": "Priority",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "d55e65ea-fae9-f7db-0937-843bfb1367c0"
                    }
                  },
                  "title": "Priority"
                },
                "Area": {
                  "description": "Area",
                  "type": "string",
                  "x-ms-summary": "Area",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "3880594c-dc54-9307-93e4-45a18bb0e9e1"
                    }
                  },
                  "title": "Area"
                },
                "Urgency": {
                  "description": "Urgency",
                  "type": "string",
                  "x-ms-summary": "Urgency",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "eb35f771-8b0a-41aa-18fb-0432dfd957c4"
                    }
                  },
                  "title": "Urgency"
                },
                "Source": {
                  "description": "Source",
                  "type": "string",
                  "x-ms-summary": "Source",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "848211a2-393a-6ec5-9c97-8e1e0cfebba2"
                    }
                  },
                  "title": "Source"
                },
                "SupportGroup": {
                  "description": "Support Group",
                  "type": "string",
                  "x-ms-summary": "Support Group",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "23c243f6-9365-d46f-dff2-03826e24d228"
                    }
                  },
                  "title": "Support Group"
                },
                "Status": {
                  "description": "Status",
                  "type": "string",
                  "x-ms-summary": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "4e0ab24a-0b46-efe6-c7d2-5704d95824c7"
                    }
                  },
                  "title": "Status"
                },
                "RequestedWorkItem": {
                  "description": "Affected User",
                  "type": "string",
                  "x-ms-summary": "Affected User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Affected User"
                },
                "AssignedWorkItem": {
                  "description": "Assigned User",
                  "type": "string",
                  "x-ms-summary": "Assigned User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Assigned User"
                }
              },
              "required": [
                "Area",
                "Urgency",
                "Source"
              ]
            }
          }
        ]
      }
    },
    "/api/CloudConnector/ServiceRequest/{Id}": {
      "patch": {
        "responses": {
          "200": {
            "description": "Updated Service Request",
            "schema": {
              "$ref": "#/definitions/WorkItem_CreatedSRResponse"
            }
          }
        },
        "summary": "Update Service Request",
        "description": "Update Service Request",
        "operationId": "UpdateServiceRequest",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Work Item Id",
            "x-ms-summary": "Work Item Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "Priority": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Priority",
                  "title": "Priority"
                },
                "Classification": {
                  "description": "Classification",
                  "type": "string",
                  "x-ms-summary": "Classification",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "1f77f0ce-9e43-340f-1fd5-b11cc36c9cba"
                    }
                  },
                  "title": "Classification"
                },
                "Urgency": {
                  "description": "Urgency",
                  "type": "string",
                  "x-ms-summary": "Urgency",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "04b28bfb-8898-9af3-009b-979e58837852"
                    }
                  },
                  "title": "Urgency"
                },
                "Impact": {
                  "description": "Impact",
                  "type": "string",
                  "x-ms-summary": "Impact",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "11756265-f18e-e090-eed2-3aa923a4c872"
                    }
                  },
                  "title": "Impact"
                },
                "Source": {
                  "description": "Source",
                  "type": "string",
                  "x-ms-summary": "Source",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "5d59071e-69b3-7ef4-6dee-aacc5b36d898"
                    }
                  },
                  "title": "Source"
                },
                "SupportGroup": {
                  "description": "Support Group",
                  "type": "string",
                  "x-ms-summary": "Support Group",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "c3264527-a501-029f-6872-31300080b3bf"
                    }
                  },
                  "title": "Support Group"
                },
                "Status": {
                  "description": "Status",
                  "type": "string",
                  "x-ms-summary": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "89b34802-671e-e422-5e38-7dae9a413ef8"
                    }
                  },
                  "title": "Status"
                },
                "RequestedWorkItem": {
                  "description": "Affected User",
                  "type": "string",
                  "x-ms-summary": "Affected User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Affected User"
                },
                "AssignedWorkItem": {
                  "description": "Assigned User",
                  "type": "string",
                  "x-ms-summary": "Assigned User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Assigned User"
                }
              }
            }
          }
        ]
      }
    },
    "/api/CloudConnector/ChangeRequest": {
      "post": {
        "responses": {
          "201": {
            "description": "Change Request Created",
            "schema": {
              "$ref": "#/definitions/WorkItem_CreatedSRResponse"
            }
          }
        },
        "summary": "Create a Change Request",
        "description": "Create a Change Request",
        "operationId": "CreateChangeRequest",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "Priority": {
                  "description": "Priority",
                  "type": "string",
                  "x-ms-summary": "Priority",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "b40092af-f163-af28-6150-bb0ffa677660"
                    }
                  },
                  "title": "Priority"
                },
                "Area": {
                  "description": "Area",
                  "type": "string",
                  "x-ms-summary": "Area",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "28f88c04-d11d-78c0-a237-fa9abd6c6478"
                    }
                  },
                  "title": "Area"
                },
                "Impact": {
                  "description": "Impact",
                  "type": "string",
                  "x-ms-summary": "Impact",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "44edd2ff-6280-afb7-3a0d-d6e8a711d894"
                    }
                  },
                  "title": "Impact"
                },
                "Risk": {
                  "description": "Risk",
                  "type": "string",
                  "x-ms-summary": "Risk",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "347a02c1-9784-f335-04b0-662efc8d6676"
                    }
                  },
                  "title": "Risk"
                },
                "Status": {
                  "description": "Status",
                  "type": "string",
                  "x-ms-summary": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "0bf0a71b-9e9e-f719-0271-c9a4ff352600"
                    }
                  },
                  "title": "Status"
                },
                "AssignedWorkItem": {
                  "description": "Assigned User",
                  "type": "string",
                  "x-ms-summary": "Assigned User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Assigned User"
                }
              }
            }
          }
        ]
      }
    },
    "/api/CloudConnector/ChangeRequest/{Id}": {
      "patch": {
        "responses": {
          "200": {
            "description": "Updated Change Request",
            "schema": {
              "$ref": "#/definitions/WorkItem_CreatedSRResponse"
            }
          }
        },
        "summary": "Update Change Request",
        "description": "Update Change Request",
        "operationId": "UpdateChangeRequest",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Work Item Id",
            "x-ms-summary": "Work Item Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "Priority": {
                  "description": "Priority",
                  "type": "string",
                  "x-ms-summary": "Priority",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "b40092af-f163-af28-6150-bb0ffa677660"
                    }
                  },
                  "title": "Priority"
                },
                "Area": {
                  "description": "Area",
                  "type": "string",
                  "x-ms-summary": "Area",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "28f88c04-d11d-78c0-a237-fa9abd6c6478"
                    }
                  },
                  "title": "Area"
                },
                "Impact": {
                  "description": "Impact",
                  "type": "string",
                  "x-ms-summary": "Impact",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "44edd2ff-6280-afb7-3a0d-d6e8a711d894"
                    }
                  },
                  "title": "Impact"
                },
                "Risk": {
                  "description": "Risk",
                  "type": "string",
                  "x-ms-summary": "Risk",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "347a02c1-9784-f335-04b0-662efc8d6676"
                    }
                  },
                  "title": "Risk"
                },
                "Status": {
                  "description": "Status",
                  "type": "string",
                  "x-ms-summary": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "0bf0a71b-9e9e-f719-0271-c9a4ff352600"
                    }
                  },
                  "title": "Status"
                },
                "AssignedWorkItem": {
                  "description": "Assigned User",
                  "type": "string",
                  "x-ms-summary": "Assigned User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Assigned User"
                }
              }
            }
          }
        ]
      }
    },
    "/api/CloudConnector/Problem": {
      "post": {
        "responses": {
          "201": {
            "description": "Problem Created",
            "schema": {
              "$ref": "#/definitions/WorkItem_CreatedIRResponse"
            }
          }
        },
        "summary": "Create a Problem",
        "description": "Create a Problem",
        "operationId": "CreateProblem",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "Priority": {
                  "type": "string",
                  "description": "Priority",
                  "title": "Priority"
                },
                "Source": {
                  "description": "Source",
                  "type": "string",
                  "x-ms-summary": "Source",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "91c21d12-7e66-3e02-cc44-824f6b131547"
                    }
                  },
                  "title": "Source"
                },
                "Category": {
                  "description": "Category",
                  "type": "string",
                  "x-ms-summary": "Category",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "9b2c7fa1-6a48-9592-4116-3f7385b068ac"
                    }
                  },
                  "title": "Category"
                },
                "Impact": {
                  "description": "Impact",
                  "type": "string",
                  "x-ms-summary": "Impact",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "11756265-f18e-e090-eed2-3aa923a4c872"
                    }
                  },
                  "title": "Impact"
                },
                "Urgency": {
                  "description": "Urgency",
                  "type": "string",
                  "x-ms-summary": "Urgency",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "04b28bfb-8898-9af3-009b-979e58837852"
                    }
                  },
                  "title": "Urgency"
                },
                "Status": {
                  "description": "Status",
                  "type": "string",
                  "x-ms-summary": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "56c99a7d-6ac7-ab3c-e6c0-bbf5fe76a65c"
                    }
                  },
                  "title": "Status"
                },
                "AssignedWorkItem": {
                  "description": "Assigned User",
                  "type": "string",
                  "x-ms-summary": "Assigned User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Assigned User"
                }
              }
            }
          }
        ]
      }
    },
    "/api/CloudConnector/Problem/{Id}": {
      "patch": {
        "responses": {
          "200": {
            "description": "Updated Problem",
            "schema": {
              "$ref": "#/definitions/WorkItem_CreatedIRResponse"
            }
          }
        },
        "summary": "Update Problem",
        "description": "Update Problem",
        "operationId": "UpdateProblem",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Work Item Id",
            "x-ms-summary": "Work Item Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "Priority": {
                  "type": "string",
                  "description": "Priority",
                  "title": "Priority"
                },
                "Source": {
                  "description": "Source",
                  "type": "string",
                  "x-ms-summary": "Source",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "91c21d12-7e66-3e02-cc44-824f6b131547"
                    }
                  },
                  "title": "Source"
                },
                "Category": {
                  "description": "Category",
                  "type": "string",
                  "x-ms-summary": "Category",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "9b2c7fa1-6a48-9592-4116-3f7385b068ac"
                    }
                  },
                  "title": "Category"
                },
                "Impact": {
                  "description": "Impact",
                  "type": "string",
                  "x-ms-summary": "Impact",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "11756265-f18e-e090-eed2-3aa923a4c872"
                    }
                  },
                  "title": "Impact"
                },
                "Urgency": {
                  "description": "Urgency",
                  "type": "string",
                  "x-ms-summary": "Urgency",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "04b28bfb-8898-9af3-009b-979e58837852"
                    }
                  },
                  "title": "Urgency"
                },
                "Status": {
                  "description": "Status",
                  "type": "string",
                  "x-ms-summary": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "56c99a7d-6ac7-ab3c-e6c0-bbf5fe76a65c"
                    }
                  },
                  "title": "Status"
                },
                "AssignedWorkItem": {
                  "description": "Assigned User",
                  "type": "string",
                  "x-ms-summary": "Assigned User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Assigned User"
                }
              }
            }
          }
        ]
      }
    },
    "/api/CloudConnector/ReleaseRecord": {
      "post": {
        "responses": {
          "201": {
            "description": "Release Record Created",
            "schema": {
              "$ref": "#/definitions/WorkItem_CreatedSRResponse"
            }
          }
        },
        "summary": "Create a Release Record",
        "description": "Create a Release Record",
        "operationId": "CreateReleaseRecord",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "Type": {
                  "description": "Type",
                  "type": "string",
                  "x-ms-summary": "Type",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "91c21d12-7e66-3e02-cc44-824f6b131547"
                    }
                  },
                  "title": "Type"
                },
                "Category": {
                  "description": "Category",
                  "type": "string",
                  "x-ms-summary": "Category",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "9b2c7fa1-6a48-9592-4116-3f7385b068ac"
                    }
                  },
                  "title": "Category"
                },
                "Impact": {
                  "description": "Impact",
                  "type": "string",
                  "x-ms-summary": "Impact",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "11756265-f18e-e090-eed2-3aa923a4c872"
                    }
                  },
                  "title": "Impact"
                },
                "Risk": {
                  "description": "Risk",
                  "type": "string",
                  "x-ms-summary": "Risk",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "04b28bfb-8898-9af3-009b-979e58837852"
                    }
                  },
                  "title": "Risk"
                },
                "Priority": {
                  "description": "Priority",
                  "type": "string",
                  "x-ms-summary": "Priority",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "04b28bfb-8898-9af3-009b-979e58837852"
                    }
                  },
                  "title": "Priority"
                },
                "Status": {
                  "description": "Status",
                  "type": "string",
                  "x-ms-summary": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "56c99a7d-6ac7-ab3c-e6c0-bbf5fe76a65c"
                    }
                  },
                  "title": "Status"
                },
                "AssignedWorkItem": {
                  "description": "Assigned User",
                  "type": "string",
                  "x-ms-summary": "Assigned User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Assigned User"
                }
              }
            }
          }
        ]
      }
    },
    "/api/CloudConnector/ReleaseRecord/{Id}": {
      "patch": {
        "responses": {
          "200": {
            "description": "Updated Release Record",
            "schema": {
              "$ref": "#/definitions/WorkItem_CreatedSRResponse"
            }
          }
        },
        "summary": "Update Release Record",
        "description": "Update ReleaseRecord",
        "operationId": "UpdateReleaseRecord",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Work Item Id",
            "x-ms-summary": "Work Item Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Title": {
                  "type": "string",
                  "description": "Title",
                  "title": "Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                },
                "Type": {
                  "description": "Type",
                  "type": "string",
                  "x-ms-summary": "Type",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "91c21d12-7e66-3e02-cc44-824f6b131547"
                    }
                  },
                  "title": "Type"
                },
                "Category": {
                  "description": "Category",
                  "type": "string",
                  "x-ms-summary": "Category",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "9b2c7fa1-6a48-9592-4116-3f7385b068ac"
                    }
                  },
                  "title": "Category"
                },
                "Impact": {
                  "description": "Impact",
                  "type": "string",
                  "x-ms-summary": "Impact",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "11756265-f18e-e090-eed2-3aa923a4c872"
                    }
                  },
                  "title": "Impact"
                },
                "Risk": {
                  "description": "Risk",
                  "type": "string",
                  "x-ms-summary": "Risk",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "04b28bfb-8898-9af3-009b-979e58837852"
                    }
                  },
                  "title": "Risk"
                },
                "Priority": {
                  "description": "Priority",
                  "type": "string",
                  "x-ms-summary": "Priority",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "04b28bfb-8898-9af3-009b-979e58837852"
                    }
                  },
                  "title": "Priority"
                },
                "Status": {
                  "description": "Status",
                  "type": "string",
                  "x-ms-summary": "Status",
                  "x-ms-dynamic-values": {
                    "operationId": "GetEnums",
                    "value-path": "Id",
                    "value-title": "Name",
                    "parameters": {
                      "Id": "56c99a7d-6ac7-ab3c-e6c0-bbf5fe76a65c"
                    }
                  },
                  "title": "Status"
                },
                "AssignedWorkItem": {
                  "description": "Assigned User",
                  "type": "string",
                  "x-ms-summary": "Assigned User",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  },
                  "title": "Assigned User"
                }
              }
            }
          }
        ]
      }
    },
    "/{Location}": {
      "delete": {
        "responses": {
          "204": {
            "description": "Delete Webhook Trigger",
            "schema": {}
          }
        },
        "summary": "DeleteWebhook",
        "description": "DeleteWebhook",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "name": "Location",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/platform/api/CreateWebhooks": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/WorkItem_WebhookResponse"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created Webhook Trigger",
            "schema": {
              "$ref": "#/definitions/WebhookSettings"
            }
          }
        },
        "x-ms-trigger": "single",
        "summary": "When a New Work Item is Created",
        "description": "When a New Work Item is Created",
        "operationId": "CreateWebhook",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "webhookSettings": {
                  "type": "object",
                  "properties": {
                    "Url": {
                      "type": "string",
                      "description": "Url",
                      "title": "Url",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal"
                    },
                    "WorkItemClassType": {
                      "type": "string",
                      "description": "Work Item Class Type",
                      "title": "Work Item Type",
                      "enum": [
                        "Incident",
                        "Service Request",
                        "Change Request",
                        "Problem",
                        "Release Record"
                      ],
                      "default": "Incident"
                    }
                  },
                  "description": "webhookSettings",
                  "required": [
                    "Url",
                    "WorkItemClassType"
                  ]
                }
              },
              "required": [
                "webhookSettings"
              ]
            }
          }
        ]
      }
    },
    "/api/cloudconnector/workItems/{id}/ActionLogComment": {
      "patch": {
        "responses": {
          "200": {
            "description": "Add action log comments",
            "schema": {
              "$ref": "#/definitions/WorkItem_ActionLogResponse"
            }
          }
        },
        "summary": "Add Comment to Work Item",
        "description": "Add action log comments to a work item",
        "operationId": "AddCommentLog",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Work Item Id",
            "x-ms-summary": "Work Item Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Description": {
                  "type": "string",
                  "description": "Comment",
                  "title": "Comment"
                },
                "EnteredBy": {
                  "type": "string",
                  "description": "Added By",
                  "title": "Added By",
                  "x-ms-dynamic-values": {
                    "operationId": "GetUsers",
                    "value-path": "BaseId",
                    "value-title": "Name"
                  }
                },
                "IsPrivate": {
                  "type": "boolean",
                  "description": "Is Private",
                  "title": "Is Private",
                  "enum": [
                    true,
                    false
                  ]
                },
                "ActionType": {
                  "type": "string",
                  "description": "Comment Type",
                  "title": "Comment Type",
                  "enum": [
                    "Analyst Comment",
                    "End User Comment"
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/platform/api/CreateActionLogWebhooks": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/WorkItem_ActionLogWebhookResponse"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created Action Log Webhook Trigger",
            "schema": {
              "$ref": "#/definitions/WebhookSettings"
            }
          }
        },
        "x-ms-trigger": "single",
        "summary": "When a New Comment is Added",
        "description": "When a New Comment is Added",
        "operationId": "CreateActionLogWebhook",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "webhookSettings": {
                  "type": "object",
                  "properties": {
                    "Url": {
                      "type": "string",
                      "description": "Url",
                      "title": "Url",
                      "x-ms-notification-url": true,
                      "x-ms-visibility": "internal"
                    },
                    "WorkItemClassType": {
                      "type": "string",
                      "description": "Comment Type",
                      "title": "Comment Type",
                      "enum": [
                        "Analyst Comment",
                        "EndUser Comment"
                      ],
                      "default": "Analyst Comment"
                    }
                  },
                  "description": "webhookSettings",
                  "required": [
                    "Url",
                    "WorkItemClassType"
                  ]
                }
              },
              "required": [
                "webhookSettings"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "WorkItem_CreatedSRResponse": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string",
          "description": "Id",
          "title": "Id"
        },
        "Title": {
          "type": "string",
          "description": "Title",
          "title": "Title"
        },
        "Description": {
          "type": "string",
          "description": "Description",
          "title": "Description"
        },
        "Priority": {
          "type": "object",
          "description": "Priority",
          "title": "Priority"
        },
        "Classification": {
          "type": "object",
          "description": "Classification",
          "title": "Classification"
        },
        "Urgency": {
          "type": "object",
          "description": "Urgency",
          "title": "Urgency"
        },
        "Impact": {
          "type": "object",
          "description": "Impact",
          "title": "Impact"
        },
        "Source": {
          "type": "object",
          "description": "Source",
          "title": "Source"
        },
        "SupportGroup": {
          "type": "object",
          "description": "Support Group",
          "title": "Support Group"
        },
        "Status": {
          "type": "object",
          "description": "Status",
          "title": "Status"
        },
        "AssignedWorkItem": {
          "type": "object",
          "description": "Assigned User",
          "title": "Assigned User"
        },
        "RequestedWorkItem": {
          "type": "object",
          "description": "Affected User",
          "title": "Affected User"
        }
      }
    },
    "WorkItem_CreatedIRResponse": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string",
          "description": "Id",
          "title": "Id"
        },
        "Title": {
          "type": "string",
          "description": "Title",
          "title": "Title"
        },
        "Description": {
          "type": "string",
          "description": "Description",
          "title": "Description"
        },
        "Priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority",
          "title": "Priority"
        },
        "Urgency": {
          "type": "object",
          "description": "Urgency",
          "title": "Urgency"
        },
        "Impact": {
          "type": "object",
          "description": "Impact",
          "title": "Impact"
        },
        "Source": {
          "type": "object",
          "description": "Source",
          "title": "Source"
        },
        "SupportGroup": {
          "type": "object",
          "description": "Support Group",
          "title": "Support Group"
        },
        "Status": {
          "type": "object",
          "description": "Status",
          "title": "Status"
        },
        "AssignedWorkItem": {
          "type": "object",
          "description": "Assigned User",
          "title": "Assigned User"
        },
        "RequestedWorkItem": {
          "type": "object",
          "description": "Affected User",
          "title": "Affected User"
        }
      }
    },
    "WorkItem_GetResponse": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string",
          "description": "Id",
          "title": "Id"
        },
        "Title": {
          "type": "string",
          "description": "Title",
          "title": "Title"
        },
        "Description": {
          "type": "string",
          "description": "Description",
          "title": "Description"
        },
        "PriorityText": {
          "type": "string",
          "description": "Priority",
          "title": "Priority"
        },
        "Classification": {
          "type": "object",
          "description": "Classification",
          "title": "Classification"
        },
        "Urgency": {
          "type": "object",
          "description": "Urgency",
          "title": "Urgency"
        },
        "Impact": {
          "type": "object",
          "description": "Impact",
          "title": "Impact"
        },
        "Source": {
          "type": "object",
          "description": "Source",
          "title": "Source"
        },
        "SupportGroup": {
          "type": "object",
          "description": "Support Group",
          "title": "Support Group"
        },
        "Status": {
          "type": "object",
          "description": "Status",
          "title": "Status"
        },
        "AssignedWorkItem": {
          "type": "object",
          "description": "Assigned User",
          "title": "Assigned User"
        },
        "RequestedWorkItem": {
          "type": "object",
          "description": "Affected User",
          "title": "Affected User"
        }
      }
    },
    "WorkItem_WebhookResponse": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string",
          "description": "Id",
          "title": "Id"
        },
        "Title": {
          "type": "string",
          "description": "Title",
          "title": "Title"
        },
        "Description": {
          "type": "string",
          "description": "Description",
          "title": "Description"
        },
        "Priority": {
          "description": "Priority",
          "title": "Priority"
        },
        "Classification": {
          "type": "object",
          "description": "Classification",
          "title": "Classification"
        },
        "Urgency": {
          "type": "object",
          "description": "Urgency",
          "title": "Urgency"
        },
        "Impact": {
          "type": "object",
          "description": "Impact",
          "title": "Impact"
        },
        "Source": {
          "type": "object",
          "description": "Source",
          "title": "Source"
        },
        "SupportGroup": {
          "type": "object",
          "description": "Support Group",
          "title": "Support Group"
        },
        "Status": {
          "type": "object",
          "description": "Status",
          "title": "Status"
        },
        "AssignedWorkItem": {
          "type": "object",
          "description": "Assigned User",
          "title": "Assigned User"
        },
        "RequestedWorkItem": {
          "type": "object",
          "description": "Affected User",
          "title": "Affected User"
        }
      }
    },
    "WebhookSettings": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "integer",
          "format": "int32",
          "description": "Id",
          "title": "Id"
        },
        "Name": {
          "type": "string",
          "description": "Name",
          "title": "Name"
        },
        "Url": {
          "type": "string",
          "description": "Url",
          "title": "Url"
        },
        "ActionType": {
          "type": "string",
          "description": "Action Type",
          "title": "Action Type"
        },
        "SaveType": {
          "type": "string",
          "description": "Save Type",
          "title": "Save Type"
        },
        "Enable": {
          "type": "boolean",
          "description": "Enable webhook trigger",
          "title": "Enable"
        },
        "WorkItemClassType": {
          "type": "string",
          "description": "Work Item Type",
          "title": "Work Item Type"
        },
        "WebHookClass": {
          "type": "integer",
          "format": "int32",
          "description": "Webhook Class Id",
          "title": "Webhook Class Id"
        },
        "IsDeleted": {
          "type": "boolean",
          "description": "Is Deleted",
          "title": "Delete Webhook"
        },
        "ModifiedById": {
          "type": "integer",
          "format": "int32",
          "description": "Modified User Id",
          "title": "Modified by User"
        },
        "ModifiedDate": {
          "type": "string",
          "description": "Modified Date",
          "title": "Modified Date"
        },
        "CreatedById": {
          "type": "integer",
          "format": "int32",
          "description": "Created User Id",
          "title": "Created by User"
        },
        "CreatedDate": {
          "type": "string",
          "description": "Created Date",
          "title": "Created Date"
        },
        "Guid": {
          "type": "string",
          "description": "Base Id",
          "title": "Base Id"
        }
      }
    },
    "WorkItem_ActionLogResponse": {
      "type": "object",
      "properties": {
        "Id": {
          "type": "string",
          "description": "Id",
          "title": "Id"
        },
        "Title": {
          "type": "string",
          "description": "Title",
          "title": "Title"
        },
        "AppliesToTroubleTicket": {
          "description": "Action Log entries for incident and problem",
          "title": "Applies To Trouble Ticket"
        },
        "AppliesToWorkItem": {
          "description": "Action Log entries for workitems",
          "title": "Applies To WorkItem"
        }
      }
    },
    "WorkItem_ActionLogWebhookResponse": {
      "type": "object",
      "properties": {
        "WorkItemID": {
          "type": "string",
          "description": "Work Item Id",
          "title": "Work Item Id"
        },
        "EnteredBy": {
          "type": "string",
          "description": "Entered By",
          "title": "Entered By"
        },
        "IsPrivate": {
          "type": "boolean",
          "description": "Is Private",
          "title": "Is Private"
        },
        "Description": {
          "type": "string",
          "description": "Comment",
          "title": "Comment"
        },
        "EnteredDate": {
          "type": "string",
          "description": "Entered Date",
          "title": "Entered Date"
        },
        "LastModified": {
          "type": "string",
          "description": "Last Modified Date",
          "title": "Last Modified Date"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://cireson.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://cireson.com/privacy-statement/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ],
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ]
}
