{
  "swagger": "2.0",
  "info": {
    "title": "Unearth Ingest",
    "description": "Unearth AI ingests, analyses, and stores virtually any information. It provides analysis and discovery and robotic process automation.\nUse Unearth AI Ingest to push information into selected Corpora in the Knowledgebase through Ingest.",
    "contact": {
      "name": "Wild Mouse",
      "url": "https://www.wildmouse.com",
      "email": "contact@wildmouse.com"
    },
    "version": "v1"
  },
  "host": "api.unearth.ai",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/Ingest": {
      "post": {
        "tags": ["Ingest"],
        "summary": "Ingests a file to the provided corpus",
        "description": "Ingests a file to the provided corpus",
        "operationId": "Ingest",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [
          {
            "x-ms-summary": "The file to upload",
            "description": "The file to upload",
            "in": "formData",
            "name": "File",
            "required": true,
            "type": "file"
          },
          {
            "x-ms-summary": "The URI where the document is from (use file:// if directly from a computer)",
            "description": "URI of where the file is coming from",
            "in": "formData",
            "name": "DocumentSource",
            "required": true,
            "type": "string",
            "format": "uri"
          },
          {
            "description": "File type",
            "x-ms-summary": "The type the document is, automatically implied",
            "in": "formData",
            "name": "DocumentType",
            "type": "string"
          },
          {
            "description": "Corpus OID",
            "x-ms-summary": "The OID of the corpus that the file is being uploaded to",
            "in": "formData",
            "name": "Corpora",
            "required": true,
            "type": "string"
          },
          {
            "description": "Internal use",
            "x-ms-summary": "Used to pass information though a flow",
            "in": "formData",
            "name": "Source.Type",
            "type": "string"
          },
          {
            "description": "Internal use",
            "x-ms-summary": "Used to pass information though a flow",
            "in": "formData",
            "name": "Source.Name",
            "type": "string"
          },
          {
            "description": "Internal use",
            "x-ms-summary": "Used to pass information though a flow",
            "in": "formData",
            "name": "Source.Url",
            "type": "string"
          },
          {
            "description": "Internal use",
            "x-ms-summary": "Used to pass information though a flow",
            "in": "formData",
            "name": "Source.Id",
            "type": "string"
          },
          {
            "description": "Additional document info in JSON",
            "x-ms-summary": "Additional document info in JSON",
            "in": "formData",
            "name": "DocumentAdditionalAttributesJSON",
            "type": "string"
          },
          {
            "description": "Correlation Guid",
            "x-ms-summary": "Used to correlate multiple operations together, automatically generated",
            "in": "formData",
            "name": "CorrelationGuid",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StatusDetails"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Server Error"
          },
          "524": {
            "description": "Processing of the Document failed with given error"
          }
        }
      }
    },
    "/Heartbeat": {
      "get": {
        "description": "Used to test connection",
        "tags": ["Misc"],
        "summary": "Used to test connection",
        "operationId": "Heartbeat",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/Authenticated": {
      "get": {
        "tags": ["Misc"],
        "description": "Used to test authentication",
        "summary": "Used to test authentication",
        "operationId": "Authenticated",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/ProcessingStatus": {
      "get": {
        "tags": ["Status"],
        "summary": "Gets the processing status of an operation",
        "description": "Gets the processing status of an operation",
        "operationId": "Status-GetProcessingStatus",
        "produces": ["text/plain", "application/json"],
        "parameters": [
          {
            "description": "The correlation Id of the item",
            "x-ms-summary": "The correlation Id of the item",
            "in": "query",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "524": {
            "description": "Processing of the Document failed with given error"
          }
        }
      }
    },
    "/api/OperationStatus": {
      "get": {
        "tags": ["Status"],
        "summary": "Gets the Operation status of an operation",
        "description": "Gets the Operation status of an operation",
        "operationId": "Status-GetOperationStatus",
        "produces": ["text/plain", "application/json"],
        "parameters": [
          {
            "description": "The correlation Id of the item",
            "x-ms-summary": "The correlation Id of the item",
            "in": "query",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "524": {
            "description": "Processing of the Document failed with given error"
          }
        }
      }
    }
  },
  "definitions": {
    "ProblemDetails": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "status": {
          "format": "int32",
          "type": "integer"
        },
        "detail": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "StatusDetails": {
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer"
        },
        "status": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    }
  },
  "parameters": {},
  "responses": {},
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://unearth.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "http://www.unearth.ai/agreements/unearth%20ai%20privacy%20policy.pdf"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Data"
    }
  ]
}
