{
  "swagger": "2.0",
  "info": {
    "title": "yelp demo 2",
    "description": "yelp demo",
    "version": "1.0"
  },
  "host": "api.yelp.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/GET https://api.yelp.com/v3/businesses/search": {},
    "/v3/businesses/search": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "businesses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "rating": {
                        "type": "number",
                        "format": "float",
                        "description": "rating"
                      },
                      "price": {
                        "type": "string",
                        "description": "price"
                      },
                      "phone": {
                        "type": "string",
                        "description": "phone"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "alias": {
                        "type": "string",
                        "description": "alias"
                      },
                      "is_closed": {
                        "type": "boolean",
                        "description": "is_closed"
                      },
                      "categories": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "alias": {
                              "type": "string",
                              "description": "alias"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            }
                          }
                        },
                        "description": "categories"
                      },
                      "review_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "review_count"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "coordinates": {
                        "type": "object",
                        "properties": {
                          "latitude": {
                            "type": "number",
                            "format": "float",
                            "description": "latitude"
                          },
                          "longitude": {
                            "type": "number",
                            "format": "float",
                            "description": "longitude"
                          }
                        },
                        "description": "coordinates"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "image_url"
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "city"
                          },
                          "country": {
                            "type": "string",
                            "description": "country"
                          },
                          "address2": {
                            "type": "string",
                            "description": "address2"
                          },
                          "address3": {
                            "type": "string",
                            "description": "address3"
                          },
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "address1": {
                            "type": "string",
                            "description": "address1"
                          },
                          "zip_code": {
                            "type": "string",
                            "description": "zip_code"
                          }
                        },
                        "description": "location"
                      },
                      "distance": {
                        "type": "number",
                        "format": "float",
                        "description": "distance"
                      },
                      "transactions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "transactions"
                      }
                    }
                  },
                  "description": "businesses"
                },
                "region": {
                  "type": "object",
                  "properties": {
                    "center": {
                      "type": "object",
                      "properties": {
                        "latitude": {
                          "type": "number",
                          "format": "float",
                          "description": "latitude"
                        },
                        "longitude": {
                          "type": "number",
                          "format": "float",
                          "description": "longitude"
                        }
                      },
                      "description": "center"
                    }
                  },
                  "description": "region"
                }
              }
            }
          }
        },
        "summary": "Search business",
        "operationId": "SearchBusiness",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "location",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "type": "number"
          }
        ],
        "description": "Search yelp for business"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}