{
  "swagger": "2.0",
  "info": {
    "title": "AzureDigitalTwins",
    "description": "Azure Digital Twins is an Internet of Things (IoT) platform that enables you to create a digital representation of real-world things, places, business processes, and people. With this connector you will be able to interact with the ADT APIs.",
    "contact": {
      "name": "Microsoft",
      "url": "https://azure.microsoft.com/support/"
    },
    "version": "1.0"
  },
  "host": "digitaltwins.azure.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/products/digital-twins/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Internet of Things"
    }
  ],
  "paths": {
    "/digitaltwins/{twinid}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref":"#/definitions/TwinResult"
            }
          }
        },
        "summary": "Get Twin by Id",
        "description": "Retrieves a digital twin.",
        "operationId": "GetTwinById",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "summary": "Delete Twin",
        "description": "Deletes the Twin.",
        "operationId": "DeleteTwin",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref":"#/definitions/TwinResult"
            }
          }
        },
        "summary": "Create new Twins",
        "operationId": "AddTwin",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/addValueTemplate"
          }
        ],
        "description": "Creates a new Twin based on the message body."
      },
      "patch": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "summary": "Update Twin",
        "description": "Update Twin Integer Properties.",
        "operationId": "UpdateTwinIntProp",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/integerUpdate"
          }
        ]
      }
    },
    "/digitaltwins/stringupdate/{twinid}": {
      "patch": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "summary": "Update Twin",
        "description": "Update Twin String Properties.",
        "operationId": "UpdateTwinStringProp",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/stringUpdate"
          }
        ]
      }
    },
    "/digitaltwins/booleanupdate/{twinid}": {
      "patch": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "summary": "Update Twin",
        "description": "Update Twin Boolean Properties.",
        "operationId": "UpdateTwinBooleanProp",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/booleanUpdate"
          }
        ]
      }
    },
    "/digitaltwins/{twinid}/components/{componentPath}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetComponentResult"
            }
          }
        },
        "summary": "Get Component",
        "description": "Get Component for DigitalTwins.",
        "operationId": "GetComponent",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/componentPath"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ]
      },
      "patch": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "summary": "Twins - DigitalTwins UpdateComponent",
        "description": "Update Components integer property for Twins.",
        "operationId": "UpdateComponentIntProp",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/componentPath"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/integerUpdate"
          }
        ]
      }
    },
    "/digitaltwins/{twinid}/components/stringupdate/{componentPath}": {
      "patch": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "summary": "Twins - DigitalTwins UpdateComponent",
        "description": "Update Components with String property for Twins.",
        "operationId": "UpdateComponentStringProp",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/componentPath"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/stringUpdate"
          }
        ]
      }
    },
    "/digitaltwins/{twinid}/components/booleanupdate/{componentPath}": {
      "patch": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "summary": "Twins - DigitalTwins UpdateComponent",
        "description": "Update Components with Boolean property for Twins.",
        "operationId": "UpdateComponentBooleanProp",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/componentPath"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/booleanUpdate"
          }
        ]
      }
    },
    "/digitaltwins/{twinid}/relationships/{relationshipId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TwinRelationship"
            }
          }
        },
        "summary": "Get Relationship by Id",
        "description": "Retrieve relationship by Twin id.",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/relationshipId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "operationId": "GetRelationshipById"
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "summary": "Delete Twins Relationship",
        "description": "Deletes the Relationship from the Twin.",
        "operationId": "DeleteRelationship",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/relationshipId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TwinRelationship"
            }
          }
        },
        "summary": "Add Relationship",
        "description": "Add relationship to twin.",
        "operationId": "AddRelationship",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/relationshipId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/addValueTemplate"
          }
        ]
      },
      "patch": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/relationshipId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/integerUpdate"
          }
        ],
        "summary": "Twins - DigitalTwins UpdateRelationship",
        "description": "Updates the integer property in Twin Relationships.",
        "operationId": "UpdateRelationshipIntProp"
      }
    },
    "/digitaltwins/{twinid}/relationships/stringupdate/{relationshipId}": {
      "patch": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/relationshipId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/stringUpdate"
          }
        ],
        "summary": "Twins - DigitalTwins UpdateRelationship",
        "description": "Updates the string property in Twin Relationships.",
        "operationId": "UpdateRelationshipStringProp"
      }
    },"/digitaltwins/{twinid}/relationships/booleanupdate/{relationshipId}": {
      "patch": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/relationshipId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/booleanUpdate"
          }
        ],
        "summary": "Twins - DigitalTwins UpdateRelationship",
        "description": "Updates the string property in Twin Relationships.",
        "operationId": "UpdateRelationshipBooleanProp"
      }
    },
    "/digitaltwins/{twinid}/incomingrelationships": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The collection of Incoming relationships.",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/IncomingRelationship"
                  }
                },
                "nextLink": {
                  "description": "URL to get the next page of Incoming Relationship.",
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "operationId": "ListIncomingRelationships",
        "summary": "Twins - DigitalTwins ListIncomingRelationships",
        "description": "Retrieve Incoming Relationships.",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ]
      }
    },
    "/digitaltwins/{twinid}/telemetry": {
      "post": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/messageId"
          },
          {
            "$ref": "#/parameters/telemetrySourceTime"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "Send Telemetry Inputs.",
                  "title": "Telemetry Request"
                }
              }
            }
          }
        ],
        "summary": "Twins - DigitalTwins SendTelemetry",
        "description": "Send Telemetry Inputs.",
        "operationId": "SendTelemetry"
      }
    },
    "/digitaltwins/{twinid}/components/{componentPath}/telemetry": {
      "post": {
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "summary": "Twins - DigitalTwins SendComponentTelemetry",
        "operationId": "SendComponentTelemetry",
        "description": "Send Component Telemetry.",
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/componentPath"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/messageId"
          },
          {
            "$ref": "#/parameters/telemetrySourceTime"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "Send Component Telemetry Inputs.",
                  "title": "Component Telemetry Request"
                }
              }
            }
          }
        ]
      }
    },
    "/digitaltwins/{twinid}/relationships": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "description": "The collection of twin relationships.",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TwinRelationship"
                  }
                },
                "nextLink": {
                  "description": "URL to get the next page of Twin Relationship.",
                  "type": "string"
                }
              },
              "required": [
                "value"
              ]
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/twinid"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "summary": "Twins - DigitalTwins ListRelationships",
        "operationId": "ListRelationships",
        "description": "Lists Digital Twins Relationships."
      }
    },
    "/query": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          }
        },
        "summary": "Query API",
        "description": "Uses raw query to return results.",
        "operationId": "QueryTwins",
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "Query the Twins."
                },
                "continuationToken": {
                  "type": "string",
                  "description": "Link to get next set of items."
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "IncomingRelationship": {
      "type": "object",
      "properties": {
        "$sourceId": {
          "type": "string",
          "description": "Source Id."
        },
        "$relationshipId": {
          "type": "string",
          "description": "Relationship Id."
        },
        "$relationshipName": {
          "type": "string",
          "description": "Relationship Name."
        },
        "$relationshipLink": {
          "type": "string",
          "description": "Relationship Link."
        }
      }
    },
    "TwinRelationship": {
      "type": "object",
      "properties": {
        "$sourceId": {
          "type": "string",
          "description": "Source Id."
        },
        "$relationshipId": {
          "type": "string",
          "description": "Relationship Id."
        },
        "$targetId": {
          "type": "string",
          "description": "Target Id."
        },
        "$relationshipName": {
          "type": "string",
          "description": "Relationship Name."
        },
        "$etag": {
          "type": "string",
          "description": "E Tag Link."
        },
        "additionalProperties": {
          "type": "string",
          "description": "Property Values."
        }
      }
    },
    "TwinResult": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Results From the Twin.",
          "title": "Result"
        }
      }
    },
    "GetComponentResult": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Results From the Twin.",
          "title": "Result"
        }
      }
    },
    "QueryResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Results From the Twin.",
          "title": "Value"
        },
        "continuationToken": {
          "type": "string",
          "description": "Link to get next set of items.",
          "title": "Continuation Token"
        }
      }
    }
  },
  "parameters": {
    "integerUpdate": {
      "name": "body",
      "in": "body",
      "required": false,
      "schema": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "op": {
              "type": "string",
              "description": "Request Operation."
            },
            "path": {
              "type": "string",
              "description": "Path of the property that need to be updated."
            },
            "value": {
              "type": "integer",
              "format": "int32",
              "description": "Value that need to be updated."
            }
          }
        }
      }
    },
    "stringUpdate": {
      "name": "body",
      "in": "body",
      "required": false,
      "schema": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "op": {
              "type": "string",
              "description": "Request Operation."
            },
            "path": {
              "type": "string",
              "description": "Path of the property that need to be updated."
            },
            "value": {
              "type": "string",
              "description": "Value that need to be updated."
            }
          }
        }
      }
    },
    "booleanUpdate": {
      "name": "body",
      "in": "body",
      "required": false,
      "schema": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "op": {
              "type": "string",
              "description": "Request Operation."
            },
            "path": {
              "type": "string",
              "description": "Path of the property that need to be updated."
            },
            "value": {
              "type": "boolean",
              "description": "Value that need to be updated."
            }
          }
        }
      }
    },
    "twinid": {
      "name": "twinid",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The id of the digital twin. The id is unique within the service and case sensitive.",
      "x-ms-summary": "Digital twin id"
    },
    "api-version": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "default": "2020-10-31",
      "x-ms-visibility": "internal"
    },
    "componentPath": {
      "name": "componentPath",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the DTDL component.",
      "x-ms-summary": "DTDL component"
    },
    "relationshipId": {
      "name": "relationshipId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The id of the relationship. The id is unique within the digital twin and case sensitive.",
      "x-ms-summary": "Relationship id"
    },
    "addValueTemplate":{
      "name": "Body",
      "in": "body",
      "required": true,
      "schema": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "Value for the Twin.",
            "title": "Value"
          }
        }
      }
    },
    "messageId": {
      "name": "Message-Id",
      "in": "header",
      "required": true,
      "type": "string",
      "description": "A unique message identifier (in the scope of the digital twin id) that is commonly used for de-duplicating messages.",
      "x-ms-summary": "Message id"
    },
    "telemetrySourceTime": {
      "name": "Telemetry-Source-Time",
      "in": "header",
      "required": false,
      "type": "string",
      "description": "An RFC 3339 timestamp that identifies the time the telemetry was measured.",
      "x-ms-summary": "Timestamp"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}