{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Open Charge Map",
    "description": "The Open Charge Map service provides access to the worlds largest registry of charging locations. You can integrate this service into your own apps or services and export charging location data into your own systems.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.openchargemap.io",
  "basePath": "/v3",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/poi": {
      "get": {
        "description": "Used to fetch a list of POIs (sites) within a geographic boundary or near a specific latitude/longitude.",
        "summary": "Get a list of POIs",
        "operationId": "POIGet",
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "x-ms-summary": "Output",
            "required": true,
            "default": "json",
            "type": "string",
            "description": "Optional output format `json`,`geojson`,`xml`,`csv`, JSON is the default and recommended as the highest fidelity.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "client",
            "in": "query",
            "x-ms-summary": "Client",
            "required": false,
            "type": "string",
            "description": "String to identify your client application. Optional but recommended to distinguish your client from other bots/crawlers"
          },
          {
            "name": "maxresults",
            "in": "query",
            "x-ms-summary": "Results Maximum",
            "required": false,
            "default": 100,
            "type": "integer",
            "format": "int32",
            "description": "Limit on max number of results returned"
          },
          {
            "name": "countrycode",
            "in": "query",
            "x-ms-summary": "Country Code",
            "required": false,
            "type": "string",
            "description": "2-character ISO Country code to filter to one specific country"
          },
          {
            "name": "countryid",
            "in": "query",
            "x-ms-summary": "Country ID",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exact match on a given numeric country id (comma separated list)"
          },
          {
            "name": "latitude",
            "in": "query",
            "x-ms-summary": "Latitude",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Latitude for distance calculation and filtering"
          },
          {
            "name": "longitude",
            "in": "query",
            "x-ms-summary": "Longitude",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "Longitude for distance calculation and filtering"
          },
          {
            "name": "distance",
            "in": "query",
            "x-ms-summary": "Distance",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "Optionally filter results by a max distance from the given latitude/longitude"
          },
          {
            "name": "distanceunit",
            "in": "query",
            "x-ms-summary": "Distance Unit",
            "required": false,
            "default": "Miles",
            "type": "string",
            "description": "`miles` or `km` distance unit"
          },
          {
            "name": "operatorid",
            "in": "query",
            "x-ms-summary": "Opertator ID",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exact match on a given EVSE operator id (comma separated list)"
          },
          {
            "name": "connectiontypeid",
            "in": "query",
            "x-ms-summary": "Connection Type ID",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exact match on a given connection type id (comma separated list)"
          },
          {
            "name": "levelid",
            "in": "query",
            "x-ms-summary": "Level ID",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exact match on a given charging level (1-3) id (comma separated list)"
          },
          {
            "name": "usagetypeid",
            "in": "query",
            "x-ms-summary": "Usage Type ID",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exact match on a given usage type id (comma separated list)"
          },
          {
            "name": "statustypeid",
            "in": "query",
            "x-ms-summary": "Status Type ID",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exact match on a given status type id (comma separated list)"
          },
          {
            "name": "dataproviderid",
            "in": "query",
            "x-ms-summary": "Data Provider ID",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Exact match on a given data provider id id (comma separated list)."
          },
          {
            "name": "opendata",
            "in": "query",
            "x-ms-summary": "Open Data",
            "required": false,
            "type": "boolean",
            "description": "Use opendata=true for only OCM provided (\"Open\") data."
          },
          {
            "name": "includecomments",
            "in": "query",
            "x-ms-summary": "Include Comments",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "If true, user comments and media items will be include in result set"
          },
          {
            "name": "verbose",
            "in": "query",
            "x-ms-summary": "Verbose",
            "required": false,
            "default": true,
            "type": "boolean",
            "description": "Set to false to get a smaller result set with null items removed."
          },
          {
            "name": "compact",
            "in": "query",
            "x-ms-summary": "Compact",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Set to true to remove reference data objects from output (just returns IDs for common reference data such as DataProvider etc)."
          },
          {
            "name": "camelcase",
            "in": "query",
            "x-ms-summary": "Camelcase",
            "required": false,
            "default": false,
            "type": "boolean",
            "description": "Set to true to get a property names in camelCase format."
          },
          {
            "name": "chargepointid",
            "in": "query",
            "x-ms-summary": "Charge Point ID",
            "required": false,
            "type": "string",
            "description": "Exact match on a given OCM POI ID (comma separated list)"
          },
          {
            "name": "boundingbox",
            "in": "query",
            "x-ms-summary": "Bounding Box",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter results to a given bounding box. specify top left and bottom right box corners as: (lat,lng),(lat2,lng2)"
          },
          {
            "name": "polygon",
            "in": "query",
            "x-ms-summary": "Polygon",
            "required": false,
            "type": "string",
            "description": "Filter results within a given Polygon. Specify an encoded polyline for the polygon shape. Polygon will be automatically closed from the last point to the first point."
          },
          {
            "name": "polyline",
            "in": "query",
            "x-ms-summary": "Polyline",
            "required": false,
            "type": "string",
            "description": "Filter results along an encoded polyline, use with distance param to increase search distance along line. Polyline is expanded into a polygon to cover the search distance."
          }
        ],
        "responses": {
          "200": {
            "description": "List of POIs (sites) with associated equipment summary information.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/POI"
              }
            }
          }
        }
      }
    },
    "/referencedata": {
      "get": {
        "description": "Returns the core reference data used for looking up IDs such as Connection Types, Operators, Countries etc.",
        "summary": "Get reference data",
        "operationId": "ReferenceDataGet",
        "parameters": [
          {
            "name": "countryid",
            "in": "query",
            "x-ms-summary": "Country ID",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Optional filter on country identifier, exact match on a given numeric country id (comma separated list)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CoreReferenceData"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "POI": {
      "title": "POI",
      "description": "A POI (Point of Interest), also referred to as a `Site` or `ChargePoint`, is the top-level set of information regarding a geographic site with one or more electric vehicle charging equipment present.",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The OCM reference ID for this POI (Point of Interest).",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "UUID": {
          "description": "A universally unique identifier used as surrogate key. ID and UUID must be preserved when submitting POI update information.",
          "type": "string",
          "format": "uuid",
          "title": "UUID"
        },
        "UserComments": {
          "description": "A list of user comments or check-ins for this site",
          "title": "User Comments",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserComment"
          }
        },
        "MediaItems": {
          "description": "A list of user submitted photos for this site",
          "title": "Media Items",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaItem"
          }
        },
        "IsRecentlyVerified": {
          "description": "A dynamically computed value indicating of any recently confirmation activity has taken place for this site (positive check-ins etc)",
          "title": "Is Recently Verified",
          "type": "boolean",
          "default": false
        },
        "DateLastVerified": {
          "description": "A dynamically computed value, the date and time (UTC, ISO 8601) this POI was last confirmed by a user edit or related user comment",
          "title": "Date Last Verified",
          "type": "string",
          "format": "date-time"
        },
        "ParentChargePointID": {
          "description": "If present, this data in this POI supercedes information in another POI. Generally not relevant to consumers.",
          "title": "Parent Charge Point ID",
          "type": "string"
        },
        "DataProviderID": {
          "description": "The reference ID for the Data Provider of this POI",
          "type": "integer",
          "format": "int32",
          "title": "Data Provider ID"
        },
        "DataProvidersReference": {
          "description": "If present, this is the Data Providers own key for this POI within their source data set",
          "title": "Data Provider Reference",
          "type": "string"
        },
        "OperatorID": {
          "description": "The reference ID of the equipment network operator or owner",
          "title": "Operator ID",
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "OperatorsReference": {
          "description": "The network operators own reference for this site (may be a site reference or a single equipment reference)",
          "title": "Operators Reference",
          "type": "string"
        },
        "UsageTypeID": {
          "description": "The reference ID for the site Usage Type, 0 == Unknown",
          "title": "Usage Type ID",
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "UsageCost": {
          "description": "Free text description of likely usage costs associated with this site. Generally relates to parking charges whether network operates this site as Free",
          "title": "Usage Cost",
          "type": "string"
        },
        "AddressInfo": {
          "$ref": "#/definitions/AddressInfo"
        },
        "Connections": {
          "description": "List of equipment summary information for this site",
          "title": "Connections",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectionInfo"
          }
        },
        "NumberOfPoints": {
          "description": "The number of bays or discreet stations available overall at this site. This indicates the limiting for number of simultaneous site users.",
          "title": "Number of Points",
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "GeneralComments": {
          "description": "General additional factual information for the POI. Users are discouraged from using this field for opinions on site quality etc.",
          "title": "General Comments",
          "type": "string"
        },
        "DatePlanned": {
          "description": "The date and time (UTC, ISO 8601) this POI is or was planned for commissioning. In general planned POIs should not be presented to end users until confirmed operational.",
          "title": "Date Planned",
          "type": "string",
          "format": "date-time"
        },
        "DateLastConfirmed": {
          "description": "The date and time (UTC, ISO 8601) this POI was last confirmed according to the data provider or a user. See DateLastVerified for a dynamically computed date based on multiple signals.",
          "title": "Date Last Confirmed",
          "type": "string",
          "format": "date-time"
        },
        "StatusTypeID": {
          "description": "The overall operational status type reference ID for this POI (i.e. Operational etc). 0 == Unknown",
          "title": "Status Type ID",
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "DateLastStatusUpdate": {
          "description": "The date and time (UTC, ISO 8601) this POI or directly related child properties were updated.",
          "title": "Date Last Status Update",
          "type": "string",
          "format": "date-time"
        },
        "MetadataValues": {
          "description": "Optional array of metadata values. Generally used to indicate data attribution but is also intended for future use to indicate surrounding amenties, links or foreign key values into other data sets.",
          "title": "Metadata Values",
          "type": "array",
          "items": {}
        },
        "DataQualityLevel": {
          "description": "A metric applied during imports to indicate a quality level based on available information detail (5 == best). Largely unused currently.",
          "type": "integer",
          "format": "int32",
          "title": "Data Quality Level"
        },
        "DateCreated": {
          "description": "The date and time (UTC, ISO 8601) this POI was added to the Open Charge Map database",
          "title": "Date Created",
          "type": "string",
          "format": "date-time"
        },
        "SubmissionStatusTypeID": {
          "description": "The reference ID for the submission status type which applied to this POI.",
          "title": "Submission Status Type ID",
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "DataProvider": {
          "$ref": "#/definitions/DataProvider"
        },
        "OperatorInfo": {
          "$ref": "#/definitions/OperatorInfo"
        },
        "UsageType": {
          "$ref": "#/definitions/UsageType"
        },
        "StatusType": {
          "$ref": "#/definitions/StatusType"
        },
        "SubmissionStatus": {
          "$ref": "#/definitions/SubmissionStatusType"
        }
      }
    },
    "DataProvider": {
      "title": "DataProvider",
      "description": "A Data Provider is the controller of the source data set used to construct the details for this POI. Data has been transformed and interpreted from it's original form. Each Data Provider provides data either by an explicit license or agreement.",
      "type": "object",
      "properties": {
        "WebsiteURL": {
          "description": "Website URL for this data provider",
          "title": "Website URL",
          "type": "string"
        },
        "Comments": {
          "description": "General public comments with information about this Data Provider.",
          "title": "Comments",
          "type": "string"
        },
        "DataProviderStatusType": {
          "$ref": "#/definitions/DataProviderStatusType"
        },
        "IsRestrictedEdit": {
          "description": "Currently not implemented. Indicates a potential editing restriction.",
          "title": "Is Edit Restricted",
          "type": "boolean",
          "default": "false"
        },
        "IsOpenDataLicensed": {
          "description": "If true, data provider uses an Open Data license",
          "title": "Is Open Data Licensed",
          "type": "boolean"
        },
        "IsApprovedImport": {
          "description": "If false, data may not be imported for this provider.",
          "title": "Is Approved Import",
          "type": "boolean"
        },
        "License": {
          "description": "Summary of the licensing which applies for this Data Provider. Each Data Provider has one specific license or agreement. Usage of the data requires acceptance of the given license.",
          "title": "License",
          "type": "string"
        },
        "DateLastImported": {
          "description": "Date and time (UTC) the last import was performed for this data provider (if an import).",
          "title": "Date Last Imported",
          "type": "string",
          "format": "date-time"
        },
        "ID": {
          "description": "The reference ID for this Data Provider",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "Title": {
          "description": "The title for this Data Provider",
          "title": "Title",
          "type": "string"
        }
      }
    },
    "OperatorInfo": {
      "title": "OperatorInfo",
      "description": "An Operator is the public organisation which controls a network of charging points.",
      "type": "object",
      "properties": {
        "WebsiteURL": {
          "description": "Website for more information about this network",
          "title": "Website URL",
          "type": "string"
        },
        "Comments": {
          "title": "Comments",
          "type": "string"
        },
        "PhonePrimaryContact": {
          "description": "Primary contact number for network users",
          "title": "Primary Contact Phone",
          "type": "string"
        },
        "PhoneSecondaryContact": {
          "description": "Secondary contact number",
          "title": "Secondary Contact Phone",
          "type": "string",
          "pattern": "^(.*)$"
        },
        "IsPrivateIndividual": {
          "description": "If true, this operator represents a private individual",
          "title": "Is Private Individual",
          "type": "boolean",
          "default": false
        },
        "AddressInfo": {
          "$ref": "#/definitions/AddressInfo"
        },
        "BookingURL": {
          "description": "The URL for the booking.",
          "title": "Booking URL",
          "type": "string"
        },
        "ContactEmail": {
          "description": "The contact email address.",
          "title": "Contact Email",
          "type": "string"
        },
        "FaultReportEmail": {
          "description": "Used to send automated notification to network operator if a user submits a fault report comment/check-in",
          "title": "Fault Report Email",
          "type": "string"
        },
        "IsRestrictedEdit": {
          "description": "If true, this network restricts community edits for OCM data",
          "title": "Is Edit Restricted",
          "type": "boolean"
        },
        "ID": {
          "description": "Id",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "Title": {
          "description": "Title",
          "title": "Title",
          "type": "string"
        }
      }
    },
    "UsageType": {
      "title": "UsageType",
      "description": "The Usage Type of a site indicates the general restrictions on usage.",
      "type": "object",
      "properties": {
        "IsPayAtLocation": {
          "description": "If true, usage requires paying at location",
          "title": "Is Pay At Location",
          "type": "boolean"
        },
        "IsMembershipRequired": {
          "description": "If true, this usage type requires registration or membership with a service.",
          "title": "Is Membership Required",
          "type": "boolean"
        },
        "IsAccessKeyRequired": {
          "description": "If true this usage required a physical access key",
          "title": "Is Access Key Required",
          "type": "boolean"
        },
        "ID": {
          "type": "integer",
          "format": "int32",
          "description": "The identifier.",
          "title": "ID"
        },
        "Title": {
          "description": "The title.",
          "title": "Title",
          "type": "string"
        }
      }
    },
    "StatusType": {
      "title": "StatusType",
      "description": "The Status Type of a site or equipment item indicates whether it is generally operational.",
      "type": "object",
      "properties": {
        "IsOperational": {
          "description": "Whether is operational.",
          "title": "Is Operational",
          "type": "boolean",
          "default": "false"
        },
        "IsUserSelectable": {
          "description": "Whether is user selectable.",
          "title": "Is User Selectable",
          "type": "boolean",
          "default": "false"
        },
        "ID": {
          "description": "The identifier.",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "Title": {
          "description": "The title.",
          "title": "Title",
          "type": "string"
        }
      }
    },
    "SubmissionStatusType": {
      "title": "SubmissionStatusType",
      "description": "Submission Status object, detailing the POI listing status.",
      "type": "object",
      "properties": {
        "ID": {
          "description": "Submission Status Type reference ID",
          "title": "ID",
          "type": "integer",
          "default": "0",
          "format": "int32"
        },
        "Title": {
          "description": "The title.",
          "title": "Title",
          "type": "string"
        },
        "IsLive": {
          "description": "If true, POI listing is live (not draft or de-listed)",
          "title": "Is Live",
          "type": "boolean",
          "default": "false"
        }
      }
    },
    "Country": {
      "title": "Country",
      "description": "The country details.",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The Id Schema",
          "title": "ID",
          "type": "integer",
          "default": "0",
          "format": "int32"
        },
        "ISOCode": {
          "description": "The ISO code Schema",
          "title": "ISO Code",
          "type": "string"
        },
        "ContinentCode": {
          "description": "The Continent code Schema",
          "title": "Continent Code",
          "type": "string"
        },
        "Title": {
          "description": "The Title Schema",
          "title": "Title",
          "type": "string"
        }
      }
    },
    "AddressInfo": {
      "title": "AddressInfo",
      "description": "The geographic position for site and (nearest) address component information.",
      "type": "object",
      "properties": {
        "ID": {
          "description": "ID",
          "title": "ID",
          "type": "integer",
          "default": "0",
          "format": "int32"
        },
        "AddressLine1": {
          "description": "First line of nearby street address",
          "title": "Address Line",
          "type": "string"
        },
        "AddressLine2": {
          "description": "Second line of nearby street address",
          "title": "Address Line 2",
          "type": "string"
        },
        "Town": {
          "description": "Town or City",
          "title": "Town or City",
          "type": "string"
        },
        "StateOrProvince": {
          "description": "State or Province",
          "title": "State or Province",
          "type": "string"
        },
        "Postcode": {
          "description": "Postal code or Zipcode",
          "title": "Postcode",
          "type": "string"
        },
        "CountryID": {
          "description": "The reference ID for the Country",
          "type": "integer",
          "format": "int32",
          "title": "Country ID"
        },
        "Country": {
          "$ref": "#/definitions/Country"
        },
        "Latitude": {
          "description": "Site latitude coordinate in decimal degrees",
          "title": "Latitude",
          "type": "number",
          "default": "0",
          "format": "double"
        },
        "Longitude": {
          "description": "Site longitude coordinate in decimal degrees",
          "title": "Longitude",
          "type": "number",
          "default": "0",
          "format": "double"
        },
        "ContactTelephone1": {
          "description": "Primary contact number",
          "title": "Contact Telephone",
          "type": "string"
        },
        "ContactTelephone2": {
          "description": "Secondary contact number",
          "title": "Contact Telephone 2",
          "type": "string"
        },
        "ContactEmail": {
          "description": "Primary contact email",
          "title": "Contact Email",
          "type": "string"
        },
        "AccessComments": {
          "description": "Guidance for users to use or find the equipment",
          "title": "Access Comments",
          "type": "string"
        },
        "RelatedURL": {
          "description": "Optional website for more information",
          "title": "Related URL",
          "type": "string"
        },
        "Distance": {
          "description": "Distance from search location, if search is around a point",
          "title": "Distance",
          "type": "number",
          "format": "double"
        },
        "DistanceUnit": {
          "description": "Unit used for distance, 1= Miles, 2 = KM",
          "title": "Distance Unit",
          "type": "integer",
          "default": 1,
          "format": "int32"
        },
        "Title": {
          "description": "General title for this location to aid user",
          "title": "Title",
          "type": "string"
        }
      }
    },
    "UserComment": {
      "title": "UserComment",
      "description": "A user comment or check-in for a specific charging point (POI/Site).",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The identifier.",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "ChargePointID": {
          "description": "The charge point identifier.",
          "type": "integer",
          "format": "int32",
          "title": "Charge Point ID"
        },
        "CommentTypeID": {
          "description": "The comment type identifier.",
          "type": "integer",
          "format": "int32",
          "title": "Comment Type ID"
        },
        "CommentType": {
          "$ref": "#/definitions/UserCommentType"
        },
        "UserName": {
          "description": "The username.",
          "title": "Username",
          "type": "string"
        },
        "Comment": {
          "description": "The comment.",
          "title": "Comment",
          "type": "string"
        },
        "RelatedURL": {
          "description": "The related URL address.",
          "title": "Related URL",
          "type": "string"
        },
        "DateCreated": {
          "description": "The date created.",
          "title": "Date Created",
          "type": "string",
          "format": "date-time"
        },
        "User": {
          "$ref": "#/definitions/UserInfo"
        },
        "CheckinStatusTypeID": {
          "description": "The check in status type identifier.",
          "type": "integer",
          "format": "int32",
          "title": "Check In Status Type ID"
        },
        "CheckinStatusType": {
          "$ref": "#/definitions/CheckinStatusType"
        }
      }
    },
    "MediaItem": {
      "title": "MediaItem",
      "description": "A user submitted media item related to a specific charge point or site. Currently always an image.",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The identifier.",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "ChargePointID": {
          "description": "The charge point identifier.",
          "type": "integer",
          "format": "int32",
          "title": "Charge Point ID"
        },
        "ItemURL": {
          "description": "The item URL address.",
          "title": "Item URL",
          "type": "string"
        },
        "ItemThumbnailURL": {
          "description": "The item thumbnail URL address.",
          "title": "Item Thumbnail URL",
          "type": "string"
        },
        "Comment": {
          "description": "The comment.",
          "title": "Comment",
          "type": "string"
        },
        "IsEnabled": {
          "description": "Whether is enabled.",
          "title": "Is Enabled",
          "type": "boolean"
        },
        "IsVideo": {
          "description": "Whether is video.",
          "title": "Is Video",
          "type": "boolean"
        },
        "IsFeaturedItem": {
          "description": "Whether is featured item.",
          "title": "Is Featured Item",
          "type": "boolean"
        },
        "IsExternalResource": {
          "description": "Whether is external resource.",
          "title": "Is External Resource",
          "type": "boolean"
        },
        "User": {
          "$ref": "#/definitions/UserInfo"
        },
        "DateCreated": {
          "description": "The date created.",
          "title": "Date Created",
          "type": "string"
        }
      }
    },
    "ConnectionInfo": {
      "title": "ConnectionInfo",
      "description": "Details on the equipment type and power capability.",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The identifier.",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "ConnectionTypeID": {
          "description": "The connection type identifier.",
          "type": "integer",
          "format": "int32",
          "title": "Connection Type ID"
        },
        "ConnectionType": {
          "$ref": "#/definitions/ConnectionType"
        },
        "Reference": {
          "description": "Optional operators reference for this connection/port",
          "title": "Reference",
          "type": "string"
        },
        "StatusTypeID": {
          "description": "Status Type reference ID. 0 = Unknown",
          "title": "Status Type ID",
          "type": "integer",
          "default": 0,
          "format": "int32"
        },
        "StatusType": {
          "$ref": "#/definitions/StatusType"
        },
        "LevelID": {
          "description": "A general category for power capability. Deprecated in favour of documenting specific equipment power in kW.",
          "title": "Level ID",
          "type": "integer",
          "format": "int32"
        },
        "Level": {
          "$ref": "#/definitions/LevelType"
        },
        "Amps": {
          "description": "EVSE supply max current in Amps",
          "title": "Amps",
          "type": "integer",
          "format": "int32"
        },
        "Voltage": {
          "description": "EVSE supply voltage",
          "title": "Voltage",
          "type": "number",
          "format": "double"
        },
        "PowerKW": {
          "description": "Peak available power in kW",
          "title": "Power KW",
          "type": "number",
          "format": "double"
        },
        "CurrentTypeID": {
          "description": "The supply type reference ID (e.g. DC etc)",
          "type": "integer",
          "format": "int32",
          "title": "Current Type ID"
        },
        "CurrentType": {
          "$ref": "#/definitions/SupplyType"
        },
        "Quantity": {
          "description": "Optional summary number of equipment items available with this specification",
          "type": "integer",
          "format": "int32",
          "title": "Quantity"
        },
        "Comments": {
          "description": "The comments.",
          "title": "Comments",
          "type": "string"
        }
      }
    },
    "ConnectionType": {
      "title": "ConnectionType",
      "description": "The type of end-user connection an EVSE supports.",
      "type": "object",
      "properties": {
        "FormalName": {
          "description": "Formal (standard) name for this connection type",
          "title": "Formal Name",
          "type": "string"
        },
        "IsDiscontinued": {
          "description": "If true, this is an discontinued but used connection type",
          "title": "Is Discontinued",
          "type": "boolean",
          "default": false
        },
        "IsObsolete": {
          "description": "If true, this is an obsolete connection type and is unlikely top be present in modern infrastructure",
          "title": "Is Obsolete",
          "type": "boolean",
          "default": false
        },
        "ID": {
          "description": "The identifier.",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "Title": {
          "description": "The title.",
          "title": "Title",
          "type": "string"
        }
      }
    },
    "LevelType": {
      "title": "LevelType",
      "description": "A general category for equipment power capability. Deprecated for general use. Currently computed automatically based on equipment power.",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The identifier.",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "Title": {
          "description": "The title.",
          "title": "Title",
          "type": "string"
        },
        "Comments": {
          "description": "The comments.",
          "title": "Comments",
          "type": "string"
        },
        "IsFastChargeCapable": {
          "description": "If true, this level is considered 'fast' charging, relative to other levels.",
          "type": "boolean"
        }
      }
    },
    "SupplyType": {
      "title": "SupplyType",
      "description": "Indicates the EVSE power supply type e.g. DC (Direct Current), AC (Single Phase), AC (3 Phase).",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The identifier.",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "Title": {
          "description": "The title.",
          "title": "Title",
          "type": "string"
        }
      }
    },
    "UserInfo": {
      "title": "UserInfo",
      "description": "The short public summary profile for a specific Open Charge Map user.",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The identifier.",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "Username": {
          "description": "The username.",
          "title": "Username",
          "type": "string"
        },
        "ReputationPoints": {
          "description": "The reputation points.",
          "type": "integer",
          "format": "int32",
          "title": "Reputation Points"
        },
        "ProfileImageURL": {
          "description": "The profile image URL address.",
          "title": "Profile Image URL",
          "type": "string"
        }
      }
    },
    "CheckinStatusType": {
      "title": "CheckinStatusType",
      "description": "Classification for the users comment or experience using a specific charging location.",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The identifier.",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "Title": {
          "description": "The title.",
          "title": "Title",
          "type": "string"
        },
        "IsAutomatedCheckin": {
          "description": "If true, check in or comment was provided by an automated system.",
          "title": "Is Check In Automated",
          "type": "boolean"
        },
        "IsPositive": {
          "description": "If true, this type of check in/comment is considered positive.",
          "title": "Is Positive",
          "type": "boolean"
        }
      }
    },
    "CoreReferenceData": {
      "title": "CoreReferenceData",
      "description": "Set of core reference data used for other API results and UI.",
      "type": "object",
      "properties": {
        "ChargerTypes": {
          "description": "The charger types.",
          "title": "Charger Types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LevelType"
          }
        },
        "ConnectionTypes": {
          "description": "The connection types.",
          "title": "Connection Types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectionType"
          }
        },
        "CheckinStatusTypes": {
          "description": "The check in status types.",
          "title": "Check In Status Types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CheckinStatusType"
          }
        },
        "Countries": {
          "description": "The countries.",
          "title": "Countries",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Country"
          }
        },
        "CurrentTypes": {
          "description": "The current types.",
          "title": "Current Types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SupplyType"
          }
        },
        "DataProviders": {
          "description": "The data providers.",
          "title": "Data Providers",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataProvider"
          }
        },
        "Operators": {
          "description": "The operators.",
          "title": "Operators",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperatorInfo"
          }
        },
        "StatusTypes": {
          "description": "The status types.",
          "title": "Status Types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StatusType"
          }
        },
        "SubmissionStatusTypes": {
          "description": "The submission status types.",
          "title": "Submission Status Types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubmissionStatusType"
          }
        },
        "UsageTypes": {
          "description": "The usage types.",
          "title": "Usage Types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UsageType"
          }
        },
        "UserCommentTypes": {
          "description": "The user comment types.",
          "title": "User Comment Types",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserCommentType"
          }
        }
      }
    },
    "UserCommentType": {
      "title": "UserCommentType",
      "description": "Category for a user comment, e.g. General Comment, Fault Report (Notice To Users And Operator).",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The identifier.",
          "type": "integer",
          "format": "int32",
          "title": "ID"
        },
        "Title": {
          "description": "The title.",
          "title": "Title",
          "type": "string"
        }
      }
    },
    "AuthenticationResult": {
      "title": "AuthenticationResult",
      "type": "object",
      "properties": {
        "Data": {
          "$ref": "#/definitions/Data"
        },
        "Metadata": {
          "$ref": "#/definitions/Metadata"
        }
      }
    },
    "UserProfile": {
      "title": "UserProfile",
      "description": "Full user profile, including non-public fields such as Email Address.",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The identifier.",
          "title": "ID",
          "type": "number",
          "format": "double"
        },
        "Username": {
          "description": "The username.",
          "title": "Username",
          "type": "string",
          "minLength": 1
        },
        "Profile": {
          "description": "The profile.",
          "title": "Profile",
          "type": "string",
          "minLength": 1
        },
        "Location": {
          "description": "The location.",
          "title": "Location",
          "type": "string",
          "minLength": 1
        },
        "WebsiteURL": {
          "description": "The website URL address.",
          "title": "Website URL",
          "type": "string",
          "minLength": 1
        },
        "ReputationPoints": {
          "description": "The reputation points.",
          "title": "Reputation Points",
          "type": "number",
          "format": "double"
        },
        "Permissions": {
          "description": "The permissions.",
          "title": "Permissions",
          "type": "string",
          "minLength": 1
        },
        "DateCreated": {
          "description": "The date created.",
          "title": "Date Created",
          "type": "string",
          "minLength": 1
        },
        "DateLastLogin": {
          "description": "The last login date.",
          "title": "Last Login Date",
          "type": "string",
          "minLength": 1
        },
        "IsProfilePublic": {
          "description": "Whether profile is public.",
          "title": "Is Profile Public",
          "type": "boolean"
        },
        "Latitude": {
          "description": "The latitude.",
          "title": "Latitude",
          "type": "number",
          "format": "double"
        },
        "Longitude": {
          "description": "The longitude.",
          "title": "Longitude",
          "type": "number",
          "format": "double"
        },
        "EmailAddress": {
          "description": "The email address.",
          "title": "Email Address",
          "type": "string",
          "minLength": 1
        },
        "ProfileImageURL": {
          "description": "The profile image URL address.",
          "title": "Profile Image URL",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "CommentRequest": {
      "title": "CommentRequest",
      "type": "object",
      "properties": {
        "chargePointID": {
          "description": "This must be a valid POI ID",
          "title": "Charge Point ID",
          "type": "string"
        },
        "commentTypeID": {
          "description": "This must be a valid Comment Type ID as per UserCommentTypes found in Core Reference Data. If left as null then General Comment will be used.",
          "type": "integer",
          "format": "int32",
          "title": "Comment Type ID"
        },
        "userName": {
          "description": "This is an optional name to associate with the submission, for authenticated users their profile username is used.",
          "title": "Username",
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        },
        "comment": {
          "description": "This is an optional comment to describe the charging experience, may include guidance for future users.",
          "title": "Comment",
          "type": "string",
          "minLength": 1,
          "maxLength": 4000
        },
        "rating": {
          "description": "Optional integer rating between 1 = Worst, 5 = Best.",
          "type": "integer",
          "format": "int32",
          "title": "Rating"
        },
        "relatedURL": {
          "description": "Optional website URL for related information",
          "title": "Related URL",
          "type": "string",
          "minLength": 1,
          "maxLength": 500
        },
        "checkinStatusTypeID": {
          "description": "Optional valid CheckStatusTypeID to indicate overall catgeory and success/failure to use equipment e.g. 10 = Charged Successfully.",
          "type": "integer",
          "format": "int32",
          "title": "Check In Status Type ID"
        }
      }
    },
    "CommentResponse": {
      "title": "CommentResponse",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status.",
          "title": "Status",
          "type": "string",
          "minLength": 1
        },
        "description": {
          "description": "The description.",
          "title": "Description",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "Data": {
      "title": "Data",
      "type": "object",
      "properties": {
        "UserProfile": {
          "$ref": "#/definitions/UserProfile2"
        },
        "access_token": {
          "description": "The access token.",
          "title": "Access Token",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "Data1": {
      "title": "Data1",
      "type": "object",
      "properties": {
        "UserProfile": {
          "$ref": "#/definitions/UserProfile"
        },
        "access_token": {
          "description": "JWT Bearer Token to use in subsequent authenticated requests",
          "title": "Access Token",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "DataProviderStatusType": {
      "title": "DataProviderStatusType",
      "description": "Status object describing whether this data provider is currently enabled and the type of source (manual entry, imported etc).",
      "type": "object",
      "properties": {
        "IsProviderEnabled": {
          "description": "If false, results from this data provider are not currently enabled",
          "title": "Is Provider Enabled",
          "type": "boolean",
          "default": "false"
        },
        "ID": {
          "description": "The reference ID for this provider status type",
          "title": "ID",
          "type": "integer",
          "default": "0",
          "format": "int32"
        },
        "description": {
          "description": "The Title of this status type",
          "title": "Description",
          "type": "string"
        }
      }
    },
    "MediaitemRequest": {
      "title": "MediaitemRequest",
      "type": "object",
      "properties": {
        "chargePointID": {
          "description": "ID value for the OCM site (POI) this image relates to.",
          "title": "Charge Point ID",
          "type": "string"
        },
        "comment": {
          "description": "Optional description of image or context",
          "title": "Comment",
          "type": "string",
          "minLength": 1
        },
        "imageDataBase64": {
          "description": "BASE64 encoded data",
          "title": "Image Data Base64",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "MediaitemResponse": {
      "title": "Media Item Response",
      "type": "object",
      "properties": {
        "status": {
          "description": "status code OK",
          "title": "Status",
          "type": "string"
        },
        "description": {
          "description": "The description.",
          "title": "Description",
          "type": "string"
        }
      }
    },
    "Metadata": {
      "title": "Metadata",
      "type": "object",
      "properties": {
        "StatusCode": {
          "description": "The status code.",
          "title": "Status Code",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Metadata1": {
      "title": "Metadata1",
      "type": "object",
      "properties": {
        "StatusCode": {
          "description": "The status code.",
          "type": "integer",
          "format": "int32",
          "title": "Status Code"
        }
      }
    },
    "ProfileAuthenticateRequest": {
      "title": "ProfileAuthenticateRequest",
      "type": "object",
      "properties": {
        "EmailAddress": {
          "description": "The email address.",
          "title": "Email Address",
          "type": "string"
        },
        "password": {
          "description": "The password.",
          "title": "Password",
          "type": "string"
        }
      }
    },
    "ProfileAuthenticateResponse": {
      "title": "ProfileAuthenticateResponse",
      "type": "object",
      "properties": {
        "Data": {
          "$ref": "#/definitions/Data1"
        },
        "Metadata": {
          "$ref": "#/definitions/Metadata1"
        }
      }
    },
    "UserProfile2": {
      "title": "UserProfile2",
      "type": "object",
      "properties": {
        "ID": {
          "description": "The identifier.",
          "title": "ID",
          "type": "number",
          "format": "double"
        },
        "Username": {
          "description": "The username.",
          "title": "Username",
          "type": "string",
          "minLength": 1
        },
        "Profile": {
          "description": "The profile.",
          "title": "Profile",
          "type": "string",
          "minLength": 1
        },
        "Location": {
          "description": "The location.",
          "title": "Location",
          "type": "string",
          "minLength": 1
        },
        "WebsiteURL": {
          "description": "The website URL address.",
          "title": "Website URL",
          "type": "string",
          "minLength": 1
        },
        "ReputationPoints": {
          "description": "The reputation points.",
          "title": "Reputation Points",
          "type": "number",
          "format": "double"
        },
        "Permissions": {
          "description": "The permissions.",
          "title": "Permissions",
          "type": "string",
          "minLength": 1
        },
        "DateCreated": {
          "description": "The date created.",
          "title": "Date Created",
          "type": "string",
          "minLength": 1
        },
        "DateLastLogin": {
          "description": "The last login date.",
          "title": "Date Last Login",
          "type": "string",
          "minLength": 1
        },
        "IsProfilePublic": {
          "description": "Whether profile is public.",
          "title": "Is Profile Public",
          "type": "boolean"
        },
        "Latitude": {
          "description": "The latitude.",
          "title": "Latitude",
          "type": "number",
          "format": "double"
        },
        "Longitude": {
          "description": "The longitude.",
          "title": "Longitude",
          "type": "number",
          "format": "double"
        },
        "EmailAddress": {
          "description": "The email address.",
          "title": "Email Address",
          "type": "string",
          "minLength": 1
        },
        "ProfileImageURL": {
          "description": "The profile image URL address.",
          "title": "Profile Image URL",
          "type": "string",
          "minLength": 1
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://openchargemap.org/site"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://openchargemap.org/site/about/terms"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}