{
  "swagger": "2.0",
  "info": {
    "title": "US Patent & Trademark Office",
    "description": "Search and retrieve bibliographic data for patent applications.",
    "version": "1.0",
    "contact": {
      "name": "United States Patent and Trademark Office",
      "email": "uspto@uspto.gov",
      "url": "https://developer.uspto.gov"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.uspto.gov"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.uspto.gov/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ],
  "host": "api.uspto.gov",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/patent/applications/search": {
      "get": {
        "tags": [
          "Patent Search"
        ],
        "operationId": "Search_Patent_Applications_GET",
        "summary": "Search patent applications using query parameters",
        "description": "Returns up to 25 patent applications matching optional filters, fields, sort, and facets.",
        "x-ms-summary": "Search patent applications via query parameters",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Search query",
            "x-ms-visibility": "important",
            "description": "Search text string supporting Boolean, range, and wildcard syntax."
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Sort order",
            "x-ms-visibility": "important",
            "description": "Field and sort order (e.g., filingDate asc)."
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "important",
            "description": "Record offset position.",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important",
            "description": "Number of records to return.",
            "default": 25
          },
          {
            "name": "facets",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Facets",
            "x-ms-visibility": "important",
            "description": "Comma-separated fields to facet upon."
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Fields",
            "description": "Comma-separated list of fields to include in results."
          },
          {
            "name": "filters",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filters",
            "x-ms-visibility": "important",
            "description": "Filter records by field name and value."
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Range filters",
            "description": "Range filters for numeric or date fields."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PatentDataResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "413": {
            "description": "Payload Too Large",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "tags": [
          "Patent Search"
        ],
        "operationId": "Search_Patent_Applications_POST",
        "summary": "Search patent applications (advanced JSON)",
        "description": "Retrieve patent application data using structured JSON payload.",
        "x-ms-summary": "Search patent applications using JSON payload",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Request body",
            "description": "JSON payload defining search criteria, filters, sort order, and pagination.",
            "schema": {
              "type": "object",
              "properties": {
                "q": {
                  "type": "string",
                  "description": "Search query string supporting boolean operators and wildcards.",
                  "example": "applicationMetaData.applicationTypeLabelName:Utility"
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "applicationMetaData.applicationStatusDescriptionText"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "Patented Case"
                        }
                      }
                    }
                  }
                },
                "rangeFilters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "example": "applicationMetaData.grantDate"
                      },
                      "valueFrom": {
                        "type": "string",
                        "example": "2010-08-04T00:00:00.000Z"
                      },
                      "valueTo": {
                        "type": "string",
                        "example": "2022-08-04T00:00:00.000Z"
                      }
                    }
                  }
                },
                "sort": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "example": "applicationMetaData.filingDate"
                      },
                      "order": {
                        "type": "string",
                        "example": "desc"
                      }
                    }
                  }
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "applicationNumberText",
                    "correspondenceAddressBag",
                    "applicationMetaData.filingDate"
                  ]
                },
                "pagination": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer",
                      "example": 0
                    },
                    "limit": {
                      "type": "integer",
                      "example": 25
                    }
                  }
                },
                "facets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "applicationMetaData.applicationTypeLabelName",
                    "applicationMetaData.applicationStatusCode"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PatentDataResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "413": {
            "description": "Payload Too Large",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/patent/applications/search/download": {
      "get": {
        "tags": [
          "Patent Search"
        ],
        "operationId": "Download_Patent_Search_Results_GET",
        "summary": "Download patent data by query",
        "description": "Download patent data using query parameters. Defaults to JSON format.",
        "x-ms-summary": "Download patent data using query parameters",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Search query",
            "x-ms-visibility": "important",
            "description": "A search query string supporting boolean operators (AND, OR, NOT), wildcards (*), and exact phrases (\"\")."
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Sort order",
            "x-ms-visibility": "important",
            "description": "Field to sort by followed by sort direction."
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "minimum": 0,
            "x-ms-summary": "Offset",
            "x-ms-visibility": "important",
            "description": "Record offset to begin from.",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "minimum": 1,
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important",
            "description": "Maximum number of results to return.",
            "default": 25
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "important",
            "description": "Comma-separated list of fields to include in the response."
          },
          {
            "name": "filters",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filters",
            "x-ms-visibility": "important",
            "description": "Filter data by providing field name and value."
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Range filters",
            "x-ms-visibility": "important",
            "description": "Filter data by numeric or date range."
          },
          {
            "name": "format",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Format",
            "x-ms-visibility": "important",
            "description": "Output format of download (json or csv).",
            "enum": [
              "json",
              "csv"
            ],
            "default": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Download successful",
            "schema": {
              "$ref": "#/definitions/PatentDataResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Patent Search"
        ],
        "operationId": "Download_Patent_Search_Results",
        "summary": "Download patent data",
        "description": "Download patent application data by supplying JSON search payload.",
        "x-ms-summary": "Download patent data using JSON payload",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Request body",
            "x-ms-visibility": "important",
            "description": "JSON payload defining search criteria, filters, sort order, and download format.",
            "schema": {
              "type": "object",
              "properties": {
                "q": {
                  "type": "string",
                  "description": "Search query string.",
                  "example": "applicationMetaData.applicationTypeLabelName:Utility"
                },
                "filters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "applicationMetaData.applicationStatusDescriptionText"
                      },
                      "value": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "Patented Case"
                        ]
                      }
                    }
                  }
                },
                "rangeFilters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "example": "applicationMetaData.grantDate"
                      },
                      "valueFrom": {
                        "type": "string",
                        "example": "2010-08-04T00:00:00.000Z"
                      },
                      "valueTo": {
                        "type": "string",
                        "example": "2022-08-04T00:00:00.000Z"
                      }
                    }
                  }
                },
                "sort": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "example": "applicationMetaData.filingDate"
                      },
                      "order": {
                        "type": "string",
                        "enum": [
                          "asc",
                          "desc"
                        ],
                        "example": "desc"
                      }
                    }
                  }
                },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "applicationNumberText",
                    "correspondenceAddressBag",
                    "applicationMetaData.filingDate"
                  ]
                },
                "pagination": {
                  "type": "object",
                  "properties": {
                    "offset": {
                      "type": "integer",
                      "example": 0
                    },
                    "limit": {
                      "type": "integer",
                      "example": 25
                    }
                  }
                },
                "format": {
                  "type": "string",
                  "enum": [
                    "json",
                    "csv"
                  ],
                  "example": "json"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download successful",
            "schema": {
              "$ref": "#/definitions/PatentDataResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/patent/applications/{applicationNumberText}": {
      "get": {
        "tags": [
          "Patent Application Details"
        ],
        "operationId": "Get_Patent_Application_By_Number",
        "summary": "Get patent application by number",
        "description": "Retrieve detailed bibliographic data for a specified patent application number. Application numbers containing special characters (e.g. `PCT/BR00/000001`) must be UTF-8 encoded.",
        "x-ms-summary": "Retrieve a patent application by number",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "applicationNumberText",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Application number",
            "x-ms-visibility": "important",
            "description": "Patent application number (UTF-8 encoded if special characters present).",
            "default": "14412875"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PatentDataResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/patent/applications/{applicationNumberText}/meta-data": {
      "get": {
        "tags": [
          "Patent Application Details"
        ],
        "operationId": "Get_Patent_Application_MetaData",
        "summary": "Get patent application metadata",
        "description": "Retrieve metadata details for a specified patent application number, including bibliographic and file wrapper data.",
        "x-ms-summary": "Retrieve metadata for a patent application",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "applicationNumberText",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Application number",
            "x-ms-visibility": "important",
            "description": "Patent application number for which metadata is requested.",
            "default": "16330077"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing metadata details",
            "schema": {
              "$ref": "#/definitions/ApplicationMetaDataResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/patent/applications/{applicationNumberText}/adjustment": {
      "get": {
        "tags": [
          "Patent Application Details"
        ],
        "operationId": "Get_Patent_Application_Adjustment",
        "summary": "Get patent term adjustment data",
        "description": "Retrieve patent term adjustment details for a specific application number, including extensions and delay information.",
        "x-ms-summary": "Retrieve patent term adjustment details",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "applicationNumberText",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Application number",
            "x-ms-visibility": "important",
            "description": "Patent application number for which term adjustment information is requested.",
            "default": "14104993"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with adjustment data",
            "schema": {
              "$ref": "#/definitions/PatentAdjustmentResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/patent/applications/{applicationNumberText}/assignment": {
      "get": {
        "tags": [
          "Patent Application Details"
        ],
        "operationId": "Get_Patent_Application_Assignment",
        "summary": "Get patent assignment data",
        "description": "Retrieve assignment and ownership transfer information for a specific patent application number.",
        "x-ms-summary": "Retrieve assignment details for a patent application",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "applicationNumberText",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Application number",
            "x-ms-visibility": "important",
            "description": "Patent application number for which assignment information is requested.",
            "default": "14104993"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with assignment data",
            "schema": {
              "$ref": "#/definitions/PatentAssignmentResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/patent/applications/{applicationNumberText}/attorney": {
      "get": {
        "tags": [
          "Patent Application Details"
        ],
        "operationId": "Get_Patent_Application_Attorney",
        "summary": "Get attorney or agent data",
        "description": "Retrieve attorney or agent representation details for a specific patent application number.",
        "x-ms-summary": "Retrieve attorney or agent information",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "applicationNumberText",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Application number",
            "x-ms-visibility": "important",
            "description": "Patent application number for which attorney or agent information is requested.",
            "default": "14104993"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with attorney or agent data",
            "schema": {
              "$ref": "#/definitions/PatentAttorneyResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/patent/applications/{applicationNumberText}/continuity": {
      "get": {
        "tags": [
          "Patent Application Details"
        ],
        "operationId": "Get_Patent_Application_Continuity",
        "summary": "Get patent continuity data",
        "description": "Retrieve parent and child continuity relationships for a specified patent application number, including continuations, divisionals, and continuations-in-part.",
        "x-ms-summary": "Retrieve parent and child continuity data",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "applicationNumberText",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Application number",
            "x-ms-visibility": "important",
            "description": "Patent application number for which continuity data is requested.",
            "default": "14104993"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with continuity data",
            "schema": {
              "$ref": "#/definitions/PatentContinuityResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/patent/applications/{applicationNumberText}/foreign-priority": {
      "get": {
        "tags": [
          "Patent Application Details"
        ],
        "operationId": "Get_Patent_Application_ForeignPriority",
        "summary": "Get foreign priority data",
        "description": "Retrieve foreign priority details for a specific patent application, including foreign filing numbers, countries, and filing dates.",
        "x-ms-summary": "Retrieve foreign priority data for a patent application",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "applicationNumberText",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Application number",
            "x-ms-visibility": "important",
            "description": "Patent application number for which foreign priority data is requested.",
            "default": "14104993"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with foreign priority data",
            "schema": {
              "$ref": "#/definitions/PatentForeignPriorityResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/patent/applications/{applicationNumberText}/transactions": {
      "get": {
        "tags": [
          "Patent Application Details"
        ],
        "operationId": "Get_Patent_Application_Transactions",
        "summary": "Get patent transaction history",
        "description": "Retrieve a chronological list of prosecution events and transactions for a specific patent application number.",
        "x-ms-summary": "Retrieve transaction history for a patent application",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "applicationNumberText",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Application number",
            "x-ms-visibility": "important",
            "description": "Patent application number for which transaction history is requested.",
            "default": "14104993"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with transaction data",
            "schema": {
              "$ref": "#/definitions/PatentTransactionResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/patent/applications/{applicationNumberText}/documents": {
      "get": {
        "tags": [
          "Patent Application Details"
        ],
        "operationId": "Get_Patent_Application_Documents",
        "summary": "Get document metadata for a patent application",
        "description": "Retrieve details of documents filed or issued for a specific patent application number, including office actions, responses, and fee worksheets.",
        "x-ms-summary": "Retrieve document list for a patent application",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "applicationNumberText",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Application number",
            "x-ms-visibility": "important",
            "description": "Patent application number for which document details are requested.",
            "default": "16330077"
          },
          {
            "name": "documentCodes",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Document codes",
            "x-ms-visibility": "important",
            "description": "Comma-separated list of document codes to filter results.",
            "default": "WFEE"
          },
          {
            "name": "officialDateFrom",
            "in": "query",
            "type": "string",
            "format": "date",
            "x-ms-summary": "From date",
            "x-ms-visibility": "important",
            "description": "Start of date range for document official date (yyyy-MM-dd)."
          },
          {
            "name": "officialDateTo",
            "in": "query",
            "type": "string",
            "format": "date",
            "x-ms-summary": "To date",
            "x-ms-visibility": "important",
            "description": "End of date range for document official date (yyyy-MM-dd)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with document metadata",
            "schema": {
              "$ref": "#/definitions/PatentDocumentResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/patent/applications/{applicationNumberText}/associated-documents": {
      "get": {
        "tags": [
          "Patent Application Details"
        ],
        "operationId": "Get_Patent_Application_AssociatedDocuments",
        "summary": "Get associated publication and grant document metadata",
        "description": "Retrieve metadata for associated publication (PGPub) and grant documents linked to a specific patent application number.",
        "x-ms-summary": "Retrieve associated publication and grant metadata",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "applicationNumberText",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Application number",
            "x-ms-visibility": "important",
            "description": "Patent application number for which associated publication and grant documents are requested.",
            "default": "16330077"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with associated document metadata",
            "schema": {
              "$ref": "#/definitions/PatentAssociatedDocumentsResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/patent/status-codes": {
      "get": {
        "tags": [
          "Patent Reference Data"
        ],
        "summary": "Retrieve patent application status codes",
        "description": "Search and filter patent application status codes and descriptions using query parameters. All parameters are optional. Returns top 25 results by default.\n",
        "operationId": "Get_Patent_Status_Codes",
        "x-ms-summary": "Search patent application status codes (GET)",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Search query",
            "x-ms-visibility": "important",
            "description": "A search string supporting boolean operators (AND, OR, NOT), wildcards (*), and exact phrases (\"\").\n",
            "required": false
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Result offset",
            "x-ms-visibility": "important",
            "description": "Position in the dataset of a particular record.",
            "required": false,
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Result limit",
            "x-ms-visibility": "important",
            "description": "Limit the number of results returned.",
            "required": false,
            "default": 25
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/StatusCodeSearchResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      },
      "post": {
        "tags": [
          "Patent Reference Data"
        ],
        "summary": "Search patent application status codes via JSON payload",
        "description": "Perform advanced search for patent application status codes using a structured JSON payload. All fields in the request are optional.\n",
        "operationId": "Search_Patent_Status_Codes_POST",
        "x-ms-summary": "Search patent status codes (POST)",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "x-ms-summary": "Request body",
            "x-ms-visibility": "important",
            "description": "JSON payload defining search filters and pagination.",
            "schema": {
              "$ref": "#/definitions/StatusCodeSearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/StatusCodeSearchResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error"
          }
        }
      }
    },
    "/datasets/products/search": {
      "get": {
        "operationId": "Search_Bulk_DataSets",
        "summary": "Search bulk dataset products",
        "description": "Retrieve available USPTO bulk datasets with optional filters and search parameters.",
        "x-ms-summary": "Search USPTO bulk datasets",
        "x-ms-visibility": "important",
        "tags": [
          "Bulk DataSets"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Search query",
            "x-ms-visibility": "important",
            "description": "A search query string supporting boolean operators (AND, OR, NOT), wildcards (*), and exact phrases (\"\"). Example: `decisionTypeCodeDescriptionText:Denied OR finalDecidingOfficeName:OFFICE`\n",
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Sort field",
            "x-ms-visibility": "important",
            "description": "Field to sort results by (e.g., `petitionMailDate asc`)."
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Record offset",
            "x-ms-visibility": "important",
            "description": "Position in the dataset of the first record to return.",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Result limit",
            "x-ms-visibility": "important",
            "description": "Maximum number of results to return.",
            "default": 25
          },
          {
            "name": "facets",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Facets",
            "x-ms-visibility": "important",
            "description": "Comma-separated list of fields to group (facet) results by."
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "important",
            "description": "Comma-separated list of fields to include in the response."
          },
          {
            "name": "filters",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filters",
            "x-ms-visibility": "important",
            "description": "Field-value filters separated by space. Example: `technologyCenter 3600` or `businessEntityStatusCategory 'Small'`.\n"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Range filters",
            "x-ms-visibility": "important",
            "description": "Specify numeric or date range filters using `:` separator. Example: `petitionMailDate 2021-01-01:2025-01-01`\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/BdssResponseBag"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/datasets/products/{productIdentifier}": {
      "get": {
        "operationId": "Get_Bulk_DataSet_Product",
        "summary": "Get bulk dataset product by identifier",
        "description": "Retrieve details for a specific USPTO bulk dataset product by its short name (productIdentifier). Optional parameters allow filtering by date range and inclusion of product files.\n",
        "x-ms-summary": "Get bulk dataset product by identifier",
        "x-ms-visibility": "important",
        "tags": [
          "Bulk DataSets"
        ],
        "parameters": [
          {
            "name": "productIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Product identifier",
            "x-ms-visibility": "important",
            "description": "Short name of the bulk dataset product (e.g. BDSS_PETITIONS_2024)."
          },
          {
            "name": "fileDataFromDate",
            "in": "query",
            "type": "string",
            "format": "date",
            "x-ms-summary": "File data start date",
            "x-ms-visibility": "important",
            "description": "Start date (inclusive) to filter dataset files by date.\n"
          },
          {
            "name": "fileDataToDate",
            "in": "query",
            "type": "string",
            "format": "date",
            "x-ms-summary": "File data end date",
            "x-ms-visibility": "important",
            "description": "End date (inclusive) to filter dataset files by date.\n"
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "important",
            "description": "Number of product file records to skip.",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important",
            "description": "Number of product file records to return.",
            "default": 25
          },
          {
            "name": "includeFiles",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Include files",
            "x-ms-visibility": "important",
            "description": "Set to true to include detailed file records in the response; false to omit them.\n",
            "default": false
          },
          {
            "name": "latest",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Latest only",
            "x-ms-visibility": "important",
            "description": "Set to true to return only the latest product file for this dataset.\n",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/BdssResponseProductBag"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/petition/decisions/search": {
      "get": {
        "operationId": "Search_Petition_Decisions_GET",
        "summary": "Search petition decisions (query parameters)",
        "description": "Retrieve petition decision data by providing query parameters.   Query parameters are optional—if none are supplied, the top 25 records are returned.\n",
        "x-ms-summary": "Search petition decisions using query parameters",
        "x-ms-visibility": "important",
        "tags": [
          "Petition Decision Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Search query",
            "x-ms-visibility": "important",
            "description": "Query string supporting Boolean operators (AND, OR, NOT), wildcards (*), and exact phrases (\"\").\n"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Sort order",
            "x-ms-visibility": "important",
            "description": "Field name followed by sort direction (asc or desc)."
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "important",
            "description": "Position in the dataset of the first record to return.",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important",
            "description": "Maximum number of records to return.",
            "default": 25
          },
          {
            "name": "facets",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Facet fields",
            "x-ms-visibility": "important",
            "description": "Comma-separated list of fields to facet upon.\n"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Selected fields",
            "x-ms-visibility": "important",
            "description": "Comma-separated list of fields to include in the response.\n"
          },
          {
            "name": "filters",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filters",
            "x-ms-visibility": "important",
            "description": "Filter results by supplying a field name and value.\n"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Range filters",
            "x-ms-visibility": "important",
            "description": "Filter results by providing numeric or date ranges.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PetitionDecisionResponseBag"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "Search_Petition_Decisions_POST",
        "summary": "Search petition decisions (advanced JSON)",
        "description": "Retrieve petition decision data using a structured JSON payload.   Supports Boolean search, filters, range filters, sorting, field selection, and pagination.\n",
        "x-ms-summary": "Search petition decisions using JSON payload",
        "x-ms-visibility": "important",
        "tags": [
          "Petition Decision Search"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Petition decision search criteria in JSON format.",
            "schema": {
              "$ref": "#/definitions/PetitionDecisionSearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PetitionDecisionResponseBag"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/petition/decisions/search/download": {
      "get": {
        "operationId": "Download_Petition_Decisions_GET",
        "summary": "Download petition decision data (query parameters)",
        "description": "Retrieve petition decision data by supplying query parameters. Supports optional query parameters and returns the top 25 results by default.\n",
        "x-ms-summary": "Download petition decision data using query parameters",
        "x-ms-visibility": "important",
        "tags": [
          "Petition Decision Search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Search query",
            "x-ms-visibility": "important",
            "description": "A search query string that accepts Boolean operators (AND, OR, NOT), wildcards (*), and exact phrases (\"\").\n"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Sort order",
            "x-ms-visibility": "important",
            "description": "Field name followed by sort order (asc or desc)."
          },
          {
            "name": "offset",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "important",
            "description": "Dataset position to begin the response from.",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important",
            "description": "Maximum number of records to return.",
            "default": 25
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Selected fields",
            "x-ms-visibility": "important",
            "description": "Comma-separated list of fields to include in the result."
          },
          {
            "name": "filters",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Filters",
            "x-ms-visibility": "important",
            "description": "Filter the results by field name and value.   Example: `decisionTypeCodeDescriptionText DENIED`\n"
          },
          {
            "name": "rangeFilters",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Range filters",
            "x-ms-visibility": "important",
            "description": "Filter by numeric or date ranges.   Example: `petitionMailDate 2021-01-01:2025-01-01`\n"
          },
          {
            "name": "format",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Download format",
            "x-ms-visibility": "important",
            "description": "Format of the returned dataset (json or csv).",
            "enum": [
              "json",
              "csv"
            ],
            "default": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PetitionDecisionResponseBag"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "Download_Petition_Decisions_POST",
        "summary": "Download petition decision data (advanced JSON)",
        "description": "Download petition decision data by supplying a structured JSON payload. The response supports JSON or CSV format, based on the `format` parameter.\n",
        "x-ms-summary": "Download petition decision data using JSON payload",
        "x-ms-visibility": "important",
        "tags": [
          "Petition Decision Search"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Download request body",
            "x-ms-visibility": "important",
            "description": "JSON payload defining filters, ranges, and format options for petition decision data.",
            "schema": {
              "$ref": "#/definitions/PetitionDecisionDownloadRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PetitionDecisionResponseBag"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/petition/decisions/{petitionDecisionRecordIdentifier}": {
      "get": {
        "operationId": "Get_Petition_Decision_By_Id",
        "summary": "Get petition decision by identifier",
        "description": "Retrieve detailed petition decision information by its unique petition decision record identifier. Optionally include decision documents in the response using the `includeDocuments` query parameter.\n",
        "x-ms-summary": "Get petition decision details by identifier",
        "x-ms-visibility": "important",
        "tags": [
          "Petition Decision Search"
        ],
        "parameters": [
          {
            "name": "petitionDecisionRecordIdentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Petition Decision Identifier",
            "x-ms-visibility": "important",
            "description": "Unique petition decision record identifier."
          },
          {
            "name": "includeDocuments",
            "in": "query",
            "type": "boolean",
            "x-ms-summary": "Include decision documents",
            "x-ms-visibility": "important",
            "description": "Set to `true` to include petition decision documents in the response, or `false` to omit them.\n",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PetitionDecisionIdentifierResponseBag"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/patent/applications/text-to-search": {
      "post": {
        "operationId": "Patent_Text_To_Search",
        "summary": "Convert text into structured patent search query",
        "description": "Extracts key searchable fields, keywords, and metadata from raw text to create a structured query compatible with `/api/v1/patent/applications/search`.   Useful for transforming plain text from abstracts, claims, or invention descriptions into field-aware searches.\n",
        "x-ms-summary": "Convert text into structured patent search query",
        "x-ms-visibility": "internal",
        "x-ip-domain": "Patent",
        "x-service-type": [
          "Search",
          "Dissemination"
        ],
        "x-content-type": "Bibliographic data",
        "tags": [
          "Patent Search"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Raw text input",
            "x-ms-visibility": "important",
            "description": "Text input for conversion into a structured USPTO search query.\n",
            "schema": {
              "$ref": "#/definitions/TextToSearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful conversion",
            "schema": {
              "$ref": "#/definitions/TextToSearchResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PatentDataResponse": {
      "type": "object",
      "properties": {
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "example": 25
        },
        "response": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "applicationNumberText": {
                "type": "string",
                "example": "14412875"
              },
              "filingDate": {
                "type": "string",
                "format": "date",
                "example": "2023-05-01"
              },
              "publicationNumber": {
                "type": "string",
                "example": "US20230012345A1"
              },
              "inventorName": {
                "type": "string",
                "example": "John Doe"
              },
              "assigneeName": {
                "type": "string",
                "example": "ABC Corporation"
              },
              "applicationType": {
                "type": "string",
                "example": "Utility"
              }
            }
          }
        }
      }
    },
    "ApplicationMetaDataResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "example": 1
        },
        "patentFileWrapperDataBag": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "applicationNumberText": {
                "type": "string",
                "example": "14104993",
                "description": "Free format of the application number"
              },
              "applicationMetaData": {
                "$ref": "#/definitions/ApplicationMetaData"
              }
            }
          }
        },
        "requestIdentifier": {
          "type": "string",
          "example": "0ff4c603-a290-4659-8092-f68b408150c4"
        }
      }
    },
    "ApplicationMetaData": {
      "type": "object",
      "properties": {
        "filingDate": {
          "type": "string",
          "example": "2023-05-01"
        },
        "applicationTypeCode": {
          "type": "string",
          "example": "UTL"
        },
        "applicationStatusCode": {
          "type": "integer",
          "format": "int32",
          "example": 150
        },
        "firstApplicantName": {
          "type": "string",
          "example": "Rockwell Automation"
        },
        "firstInventorToFileIndicator": {
          "type": "string",
          "example": "Y"
        },
        "entityStatus": {
          "type": "string",
          "example": "Small Entity"
        },
        "groupArtUnitNumber": {
          "type": "string",
          "example": "1785"
        },
        "docketNumber": {
          "type": "string",
          "example": "2023-0042"
        },
        "publicationCategoryBag": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "Pre-Grant Publication"
          ]
        },
        "examinerName": {
          "type": "string",
          "example": "Jane Smith"
        },
        "patentNumber": {
          "type": "string",
          "example": "US20230012345A1"
        }
      }
    },
    "PatentAdjustmentResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "example": 1
        },
        "patentFileWrapperDataBag": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "applicationNumberText": {
                "type": "string",
                "example": "14104993",
                "description": "Free format of application number"
              },
              "patentTermAdjustmentData": {
                "$ref": "#/definitions/PatentTermAdjustment"
              }
            }
          }
        },
        "requestIdentifier": {
          "type": "string",
          "example": "0ff4c603-a290-4659-8092-f68b408150c4"
        }
      }
    },
    "PatentTermAdjustment": {
      "type": "object",
      "properties": {
        "applicationNumberText": {
          "type": "string",
          "example": "14104993"
        },
        "totalDays": {
          "type": "integer",
          "example": 115,
          "description": "Total patent term adjustment days granted"
        },
        "aDelayDays": {
          "type": "integer",
          "example": 40,
          "description": "Number of days delayed under USPTO A delay category"
        },
        "bDelayDays": {
          "type": "integer",
          "example": 65,
          "description": "Number of days delayed under USPTO B delay category"
        },
        "cDelayDays": {
          "type": "integer",
          "example": 10,
          "description": "Number of days delayed under USPTO C delay category"
        },
        "overlapDays": {
          "type": "integer",
          "example": 5,
          "description": "Days overlapping between categories, subtracted from total"
        },
        "issueDate": {
          "type": "string",
          "format": "date",
          "example": "2023-09-15"
        },
        "publicationDate": {
          "type": "string",
          "format": "date",
          "example": "2023-05-10"
        },
        "calculationDate": {
          "type": "string",
          "format": "date",
          "example": "2023-10-02"
        },
        "status": {
          "type": "string",
          "example": "Final",
          "description": "Current status of patent term adjustment calculation"
        }
      }
    },
    "PatentAssignmentResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "example": 1
        },
        "patentFileWrapperDataBag": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "applicationNumberText": {
                "type": "string",
                "example": "14104993",
                "description": "Free format of application number"
              },
              "assignmentBag": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/Assignment"
                }
              }
            }
          }
        },
        "requestIdentifier": {
          "type": "string",
          "example": "0ff4c603-a290-4659-8092-f68b408150c4"
        }
      }
    },
    "Assignment": {
      "type": "object",
      "properties": {
        "reelNumber": {
          "type": "integer",
          "format": "int32",
          "example": "035678",
          "description": "Reel number identifying the recorded assignment"
        },
        "frameNumber": {
          "type": "integer",
          "format": "int32",
          "example": 123,
          "description": "Frame number within the reel"
        },
        "recordedDate": {
          "type": "string",
          "format": "date",
          "example": "2023-04-15",
          "description": "Date assignment was recorded"
        },
        "executionDate": {
          "type": "string",
          "format": "date",
          "example": "2023-04-01",
          "description": "Date assignment was executed"
        },
        "conveyanceText": {
          "type": "string",
          "example": "Assignment of assignor's interest",
          "description": "Type of conveyance or assignment"
        },
        "assignorName": {
          "type": "string",
          "example": "John Doe",
          "description": "Name of assignor"
        },
        "assigneeName": {
          "type": "string",
          "example": "XYZ Innovations LLC",
          "description": "Name of assignee"
        },
        "correspondenceAddress": {
          "type": "string",
          "example": "123 Innovation Drive, Boston, MA 02108",
          "description": "Correspondence address associated with assignment"
        },
        "documentIdentifier": {
          "type": "string",
          "example": "REEL035678FRAME0123",
          "description": "Concatenated reel and frame identifier"
        },
        "publicationDate": {
          "type": "string",
          "format": "date",
          "example": "2023-04-22",
          "description": "Date assignment data was published"
        }
      }
    },
    "PatentAttorneyResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "example": 1
        },
        "patentFileWrapperDataBag": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "applicationNumberText": {
                "type": "string",
                "example": "14104993",
                "description": "Free format of application number"
              },
              "recordAttorney": {
                "$ref": "#/definitions/RecordAttorney"
              }
            }
          }
        },
        "requestIdentifier": {
          "type": "string",
          "example": "0ff4c603-a290-4659-8092-f68b408150c4"
        }
      }
    },
    "RecordAttorney": {
      "type": "object",
      "properties": {
        "attorneyDocketNumber": {
          "type": "string",
          "example": "A2023-045",
          "description": "Attorney docket number associated with the application"
        },
        "attorneyName": {
          "type": "string",
          "example": "Jane Q. Patent",
          "description": "Name of the attorney of record"
        },
        "registrationNumber": {
          "type": "string",
          "example": "57,123",
          "description": "USPTO registration number for the attorney or agent"
        },
        "lawFirmName": {
          "type": "string",
          "example": "Patent Pros LLP",
          "description": "Law firm or organization representing the applicant"
        },
        "correspondenceAddress": {
          "type": "string",
          "example": "456 Legal Way, Arlington, VA 22203",
          "description": "Correspondence address on record"
        },
        "phoneNumber": {
          "type": "string",
          "example": "(703) 555-1234",
          "description": "Phone number for correspondence"
        },
        "emailAddress": {
          "type": "string",
          "example": "jane.patent@patentpros.com",
          "description": "Contact email for attorney or agent"
        },
        "effectiveDate": {
          "type": "string",
          "format": "date",
          "example": "2023-05-12",
          "description": "Effective date for attorney of record entry"
        },
        "status": {
          "type": "string",
          "example": "Active",
          "description": "Current status of attorney or agent record"
        }
      }
    },
    "PatentContinuityResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "example": 1
        },
        "patentFileWrapperDataBag": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "applicationNumberText": {
                "type": "string",
                "example": "14104993",
                "description": "Free format of application number"
              },
              "parentContinuityBag": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ParentContinuityData"
                }
              },
              "childContinuityBag": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ChildContinuityData"
                }
              }
            }
          }
        },
        "requestIdentifier": {
          "type": "string",
          "example": "07c5c24d-bf8e-458c-9427-a038500d6e98"
        }
      }
    },
    "ParentContinuityData": {
      "type": "object",
      "properties": {
        "parentApplicationNumberText": {
          "type": "string",
          "example": "12543210",
          "description": "Parent application number"
        },
        "relationType": {
          "type": "string",
          "example": "Continuation",
          "description": "Type of parent relationship"
        },
        "filingDate": {
          "type": "string",
          "format": "date",
          "example": "2018-09-12"
        },
        "patentNumber": {
          "type": "string",
          "example": "US10012345B2"
        },
        "publicationNumber": {
          "type": "string",
          "example": "US20190234567A1"
        },
        "issueDate": {
          "type": "string",
          "format": "date",
          "example": "2021-03-15"
        }
      }
    },
    "ChildContinuityData": {
      "type": "object",
      "properties": {
        "childApplicationNumberText": {
          "type": "string",
          "example": "15567891",
          "description": "Child application number"
        },
        "relationType": {
          "type": "string",
          "example": "Divisional",
          "description": "Type of child relationship"
        },
        "filingDate": {
          "type": "string",
          "format": "date",
          "example": "2022-01-04"
        },
        "patentNumber": {
          "type": "string",
          "example": "US11234567B2"
        },
        "publicationNumber": {
          "type": "string",
          "example": "US20220123456A1"
        },
        "issueDate": {
          "type": "string",
          "format": "date",
          "example": "2024-05-19"
        }
      }
    },
    "PatentForeignPriorityResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "example": 1
        },
        "patentFileWrapperDataBag": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "applicationNumberText": {
                "type": "string",
                "example": "14104993",
                "description": "Free format of application number"
              },
              "foreignPriorityBag": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/ForeignPriority"
                }
              }
            }
          }
        },
        "requestIdentifier": {
          "type": "string",
          "example": "07c5c24d-bf8e-458c-9427-a038500d6e98"
        }
      }
    },
    "ForeignPriority": {
      "type": "object",
      "properties": {
        "foreignApplicationNumberText": {
          "type": "string",
          "example": "GB2018001234",
          "description": "Foreign priority application number"
        },
        "foreignFilingDate": {
          "type": "string",
          "format": "date",
          "example": "2018-04-12",
          "description": "Date of foreign priority filing"
        },
        "foreignCountryCode": {
          "type": "string",
          "example": "GB",
          "description": "Two-letter ISO country code for foreign filing"
        },
        "foreignCountryName": {
          "type": "string",
          "example": "United Kingdom",
          "description": "Name of the foreign country"
        },
        "foreignPatentOffice": {
          "type": "string",
          "example": "UKIPO",
          "description": "Foreign patent office identifier"
        },
        "kindCode": {
          "type": "string",
          "example": "A",
          "description": "Kind code for foreign publication"
        },
        "relationType": {
          "type": "string",
          "example": "Priority",
          "description": "Relationship type (e.g., Priority, Parent)"
        },
        "internationalFilingIndicator": {
          "type": "string",
          "example": "N",
          "description": "Indicates if the filing was international (PCT)"
        },
        "translationRequired": {
          "type": "boolean",
          "example": false,
          "description": "Indicates whether a translation is required"
        }
      }
    },
    "PatentTransactionResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "example": 1
        },
        "patentFileWrapperDataBag": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "applicationNumberText": {
                "type": "string",
                "example": "14104993",
                "description": "Free format of application number"
              },
              "eventDataBag": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/EventData"
                }
              }
            }
          }
        },
        "requestIdentifier": {
          "type": "string",
          "example": "07c5c24d-bf8e-458c-9427-a038500d6e98"
        }
      }
    },
    "EventData": {
      "type": "object",
      "properties": {
        "eventCode": {
          "type": "string",
          "example": "PG-Pub Issue Notification",
          "description": "Code or label for the prosecution event"
        },
        "eventDescription": {
          "type": "string",
          "example": "Publication of patent application",
          "description": "Text description of the event"
        },
        "eventDate": {
          "type": "string",
          "example": "2023-04-10",
          "description": "Date when the event occurred"
        },
        "eventCategory": {
          "type": "string",
          "example": "Publication",
          "description": "Category of event"
        },
        "documentCode": {
          "type": "string",
          "example": "PUB",
          "description": "Code identifying related document"
        },
        "documentName": {
          "type": "string",
          "example": "Patent Application Publication",
          "description": "Name of the related document"
        },
        "correspondentName": {
          "type": "string",
          "example": "USPTO Examiner John Smith",
          "description": "Correspondent associated with event"
        },
        "transactionId": {
          "type": "string",
          "example": "TXN-123456789",
          "description": "Unique identifier for transaction"
        },
        "fileSize": {
          "type": "integer",
          "example": 24567,
          "description": "File size in bytes of associated document, if any"
        },
        "downloadUrl": {
          "type": "string",
          "example": "https://developer.uspto.gov/data/patent/transaction/TXN-123456789",
          "description": "URL to download associated document"
        }
      }
    },
    "PatentDocumentResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "example": 5
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentBag"
          }
        },
        "requestIdentifier": {
          "type": "string",
          "example": "07c5c24d-bf8e-458c-9427-a038500d6e98"
        }
      }
    },
    "DocumentBag": {
      "type": "object",
      "properties": {
        "documentCode": {
          "type": "string",
          "example": "WFEE",
          "description": "Code identifying the type of document"
        },
        "documentDescription": {
          "type": "string",
          "example": "Fee Worksheet",
          "description": "Description of the document type"
        },
        "documentCategory": {
          "type": "string",
          "example": "Outgoing",
          "description": "Category of document (Incoming/Outgoing)"
        },
        "officialDate": {
          "type": "string",
          "format": "date",
          "example": "2023-07-12",
          "description": "Official date associated with the document"
        },
        "createDate": {
          "type": "string",
          "format": "date",
          "example": "2023-07-10",
          "description": "Date document was created in system"
        },
        "fileSize": {
          "type": "integer",
          "example": 28573,
          "description": "File size of the document in bytes"
        },
        "documentUrl": {
          "type": "string",
          "example": "https://developer.uspto.gov/patent/document/WFEE_16330077.pdf",
          "description": "URL for retrieving or downloading the document"
        },
        "documentPageCount": {
          "type": "integer",
          "format": "int32",
          "example": 3,
          "description": "Number of pages in the document"
        },
        "submitterName": {
          "type": "string",
          "example": "Applicant",
          "description": "Name of the submitting party"
        },
        "examinerName": {
          "type": "string",
          "example": "John Doe",
          "description": "Examiner associated with the document"
        },
        "artUnit": {
          "type": "string",
          "example": "1785",
          "description": "Art unit responsible for the document"
        }
      }
    },
    "PatentAssociatedDocumentsResponse": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "example": 1
        },
        "patentFileWrapperDataBag": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "applicationNumberText": {
                "type": "string",
                "example": "14104993",
                "description": "Free format of application number"
              },
              "pgpubDocumentMetaData": {
                "$ref": "#/definitions/PGPubFileMetaData"
              },
              "grantDocumentMetaData": {
                "$ref": "#/definitions/GrantFileMetaData"
              }
            }
          }
        },
        "requestIdentifier": {
          "type": "string",
          "example": "07c5c24d-bf8e-458c-9427-a038500d6e98"
        }
      }
    },
    "PGPubFileMetaData": {
      "type": "object",
      "properties": {
        "publicationNumber": {
          "type": "string",
          "example": "US20230123456A1",
          "description": "Publication number for the pre-grant publication"
        },
        "publicationDate": {
          "type": "string",
          "format": "date",
          "example": "2023-04-20",
          "description": "Date of the pre-grant publication"
        },
        "kindCode": {
          "type": "string",
          "example": "A1",
          "description": "Kind code for publication"
        },
        "title": {
          "type": "string",
          "example": "Method for Optimizing Widget Production",
          "description": "Title of the publication"
        },
        "applicantName": {
          "type": "string",
          "example": "Innovatech LLC",
          "description": "Applicant or assignee listed on publication"
        },
        "documentUrl": {
          "type": "string",
          "example": "https://developer.uspto.gov/patent/document/US20230123456A1.pdf",
          "description": "URL to retrieve publication document"
        }
      }
    },
    "GrantFileMetaData": {
      "type": "object",
      "properties": {
        "patentNumber": {
          "type": "string",
          "example": "US11234567B2",
          "description": "Granted patent number"
        },
        "grantDate": {
          "type": "string",
          "format": "date",
          "example": "2024-01-10",
          "description": "Date the patent was granted"
        },
        "kindCode": {
          "type": "string",
          "example": "B2",
          "description": "Kind code for granted patent"
        },
        "title": {
          "type": "string",
          "example": "Method for Optimizing Widget Production",
          "description": "Title of the granted patent"
        },
        "assigneeName": {
          "type": "string",
          "example": "Innovatech LLC",
          "description": "Assignee listed on grant"
        },
        "issueClassification": {
          "type": "string",
          "example": "G06F17/30",
          "description": "Primary classification of granted patent"
        },
        "documentUrl": {
          "type": "string",
          "example": "https://developer.uspto.gov/patent/document/US11234567B2.pdf",
          "description": "URL to retrieve the granted patent document"
        }
      }
    },
    "StatusCodeSearchResponse": {
      "type": "object",
      "description": "Response structure for patent status code search results.",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Number of status codes returned.",
          "example": 25
        },
        "patentFileWrapperDataBag": {
          "type": "array",
          "description": "Array of patent status code records.",
          "items": {
            "type": "object",
            "properties": {
              "applicationStatusCode": {
                "type": "integer",
                "format": "int32",
                "description": "Unique numeric or alphanumeric status code.",
                "example": 150
              },
              "applicationStatusDescriptionText": {
                "type": "string",
                "description": "Description of the application status.",
                "example": "Patented Case"
              },
              "statusCategoryName": {
                "type": "string",
                "description": "Status category grouping, if available.",
                "example": "Final Disposition"
              },
              "statusEffectiveDate": {
                "type": "string",
                "format": "date",
                "description": "Effective date of this status code.",
                "example": "2022-03-15"
              },
              "statusTerminationIndicator": {
                "type": "boolean",
                "description": "Indicates whether the status represents termination of prosecution.",
                "example": false
              },
              "requestIdentifier": {
                "type": "string",
                "description": "Unique request identifier for tracing API calls.",
                "example": "07c5c24d-bf8e-458c-9427-a038500d6e98"
              }
            }
          }
        },
        "requestIdentifier": {
          "type": "string",
          "description": "Unique ID for the entire API call.",
          "example": "07c5c24d-bf8e-458c-9427-a038500d6e98"
        }
      }
    },
    "StatusCodeSearchRequest": {
      "type": "object",
      "description": "JSON payload used to search patent application status codes and their descriptions.",
      "properties": {
        "q": {
          "type": "string",
          "description": "Search query supporting boolean operators (AND, OR, NOT), wildcards (*), and exact phrases (\"\"). Matches across status code and description fields.\n",
          "example": "applicationStatusDescriptionText:Preexam OR applicationStatusCode:50"
        },
        "filters": {
          "type": "array",
          "description": "Optional filters to narrow results by field values.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Field name to filter by.",
                "example": "applicationStatusDescriptionText"
              },
              "value": {
                "type": "array",
                "description": "List of filter values for the specified field.",
                "items": {
                  "type": "string",
                  "example": "Preexam"
                }
              }
            }
          }
        },
        "rangeFilters": {
          "type": "array",
          "description": "Optional range filters for numeric or date fields.",
          "items": {
            "type": "object",
            "properties": {
              "field": {
                "type": "string",
                "description": "Field name for the range filter.",
                "example": "applicationStatusCode"
              },
              "valueFrom": {
                "type": "string",
                "description": "Starting value of the range (inclusive).",
                "example": "100"
              },
              "valueTo": {
                "type": "string",
                "description": "Ending value of the range (inclusive).",
                "example": "200"
              }
            }
          }
        },
        "sort": {
          "type": "array",
          "description": "Sorting criteria for the returned results.",
          "items": {
            "type": "object",
            "properties": {
              "field": {
                "type": "string",
                "description": "Field name to sort by.",
                "example": "applicationStatusCode"
              },
              "order": {
                "type": "string",
                "description": "Sort order (asc or desc).",
                "enum": [
                  "asc",
                  "desc"
                ],
                "example": "asc"
              }
            }
          }
        },
        "pagination": {
          "type": "object",
          "description": "Pagination settings to control result offset and limit.",
          "properties": {
            "offset": {
              "type": "integer",
              "description": "Offset of the first record to return.",
              "example": 0
            },
            "limit": {
              "type": "integer",
              "description": "Maximum number of records to return.",
              "example": 25
            }
          }
        }
      }
    },
    "BdssResponseProductBag": {
      "type": "object",
      "description": "Detailed response for a specific USPTO bulk dataset product.",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Number of product file records returned.",
          "example": 5
        },
        "patentFileWrapperDataBag": {
          "type": "array",
          "description": "Array containing product metadata and optional file details.",
          "items": {
            "type": "object",
            "properties": {
              "productIdentifier": {
                "type": "string",
                "description": "Unique identifier for the dataset product (short name).",
                "example": "BDSS_PETITIONS_2024"
              },
              "productName": {
                "type": "string",
                "description": "Human-readable name of the product.",
                "example": "USPTO Petitions Data"
              },
              "productDescription": {
                "type": "string",
                "description": "Description of dataset contents.",
                "example": "Petitions data including application numbers, petition types, and outcomes."
              },
              "productVersion": {
                "type": "string",
                "description": "Dataset version.",
                "example": "v1.3"
              },
              "publicationDate": {
                "type": "string",
                "format": "date",
                "description": "Date of dataset publication.",
                "example": "2024-08-14"
              },
              "productType": {
                "type": "string",
                "description": "Dataset file type (e.g., XML, JSON, CSV).",
                "example": "JSON"
              },
              "recordCount": {
                "type": "integer",
                "format": "int32",
                "description": "Number of records in the dataset.",
                "example": 2350
              },
              "downloadUrl": {
                "type": "string",
                "description": "Direct link to download the dataset.",
                "example": "https://developer.uspto.gov/ibd-api/downloads/petitions/bdss_petitions_2024.zip"
              },
              "checksum": {
                "type": "string",
[...]
