{
  "swagger": "2.0",
  "info": {
    "title": "Scryfall",
    "description": "Scryfall is a powerful Magic: The Gathering card search. Scryfall currently indexes official Magic cards that someone could obtain, collect, or feasibly build with for competitive or casual formats.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.scryfall.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/cards/search": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object type.",
                  "title": "Object"
                },
                "total_cards": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of cards.",
                  "title": "Total Cards"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether has more.",
                  "title": "Has More"
                },
                "next_page": {
                  "type": "string",
                  "description": "The next page.",
                  "title": "Next Page"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "oracle_id": {
                        "type": "string",
                        "description": "The Oracle identifier.",
                        "title": "Oracle ID"
                      },
                      "multiverse_ids": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "The Multiverse identifiers.",
                        "title": "Multiverse IDs"
                      },
                      "tcgplayer_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The TCGplayer identifier.",
                        "title": "TCGplayer ID"
                      },
                      "cardmarket_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The Cardmarket identifier.",
                        "title": "Cardmarket ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "lang": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "released_at": {
                        "type": "string",
                        "description": "When released at.",
                        "title": "Released At"
                      },
                      "uri": {
                        "type": "string",
                        "description": "The URI.",
                        "title": "URI"
                      },
                      "scryfall_uri": {
                        "type": "string",
                        "description": "The Scryfall URI.",
                        "title": "Scryfall URI"
                      },
                      "layout": {
                        "type": "string",
                        "description": "The layout.",
                        "title": "Layout"
                      },
                      "highres_image": {
                        "type": "boolean",
                        "description": "Whether high-res image.",
                        "title": "High-res Image"
                      },
                      "image_status": {
                        "type": "string",
                        "description": "The image status.",
                        "title": "Image Status"
                      },
                      "image_uris": {
                        "type": "object",
                        "properties": {
                          "small": {
                            "type": "string",
                            "description": "The small.",
                            "title": "Small"
                          },
                          "normal": {
                            "type": "string",
                            "description": "The normal.",
                            "title": "Normal"
                          },
                          "large": {
                            "type": "string",
                            "description": "The large.",
                            "title": "Large"
                          },
                          "png": {
                            "type": "string",
                            "description": "The PNG.",
                            "title": "PNG"
                          },
                          "art_crop": {
                            "type": "string",
                            "description": "The art crop.",
                            "title": "Art Crop"
                          },
                          "border_crop": {
                            "type": "string",
                            "description": "The border crop.",
                            "title": "Border Crop"
                          }
                        },
                        "title": "Image URIs"
                      },
                      "mana_cost": {
                        "type": "string",
                        "description": "The mana cost.",
                        "title": "Mana Cost"
                      },
                      "cmc": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The mana value.",
                        "title": "CMC"
                      },
                      "type_line": {
                        "type": "string",
                        "description": "The type line.",
                        "title": "Type Line"
                      },
                      "oracle_text": {
                        "type": "string",
                        "description": "The oracle text.",
                        "title": "Oracle Text"
                      },
                      "power": {
                        "type": "string",
                        "description": "The power.",
                        "title": "Power"
                      },
                      "toughness": {
                        "type": "string",
                        "description": "The toughness.",
                        "title": "Toughness"
                      },
                      "colors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The colors.",
                        "title": "Colors"
                      },
                      "color_identity": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The color identity.",
                        "title": "Color Identity"
                      },
                      "keywords": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The keywords.",
                        "title": "Keywords"
                      },
                      "legalities": {
                        "type": "object",
                        "properties": {
                          "standard": {
                            "type": "string",
                            "description": "The standard.",
                            "title": "Standard"
                          },
                          "future": {
                            "type": "string",
                            "description": "The future.",
                            "title": "Future"
                          },
                          "historic": {
                            "type": "string",
                            "description": "The historic.",
                            "title": "Historic"
                          },
                          "gladiator": {
                            "type": "string",
                            "description": "The gladiator.",
                            "title": "Gladiator"
                          },
                          "pioneer": {
                            "type": "string",
                            "description": "The pioneer.",
                            "title": "Pioneer"
                          },
                          "explorer": {
                            "type": "string",
                            "description": "The explorer.",
                            "title": "Explorer"
                          },
                          "modern": {
                            "type": "string",
                            "description": "The modern.",
                            "title": "Modern"
                          },
                          "legacy": {
                            "type": "string",
                            "description": "The legacy.",
                            "title": "Legacy"
                          },
                          "pauper": {
                            "type": "string",
                            "description": "The pauper.",
                            "title": "Pauper"
                          },
                          "vintage": {
                            "type": "string",
                            "description": "The vintage.",
                            "title": "Vintage"
                          },
                          "penny": {
                            "type": "string",
                            "description": "The penny.",
                            "title": "Penny"
                          },
                          "commander": {
                            "type": "string",
                            "description": "The commander.",
                            "title": "Commander"
                          },
                          "oathbreaker": {
                            "type": "string",
                            "description": "The oathbreaker.",
                            "title": "Oathbreaker"
                          },
                          "brawl": {
                            "type": "string",
                            "description": "The brawl.",
                            "title": "Brawl"
                          },
                          "historicbrawl": {
                            "type": "string",
                            "description": "The historic brawl.",
                            "title": "Historic Brawl"
                          },
                          "alchemy": {
                            "type": "string",
                            "description": "The alchemy.",
                            "title": "Alchemy"
                          },
                          "paupercommander": {
                            "type": "string",
                            "description": "The pauper commander.",
                            "title": "Pauper Commander"
                          },
                          "duel": {
                            "type": "string",
                            "description": "The duel.",
                            "title": "Duel"
                          },
                          "oldschool": {
                            "type": "string",
                            "description": "The old school.",
                            "title": "Old School"
                          },
                          "premodern": {
                            "type": "string",
                            "description": "The premodern.",
                            "title": "Premodern"
                          },
                          "predh": {
                            "type": "string",
                            "description": "The PreDH.",
                            "title": "PreDH"
                          }
                        },
                        "title": "Legalities"
                      },
                      "games": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The games.",
                        "title": "Games"
                      },
                      "reserved": {
                        "type": "boolean",
                        "description": "Whether reserved.",
                        "title": "Reserved"
                      },
                      "foil": {
                        "type": "boolean",
                        "description": "Whether foil.",
                        "title": "Foil"
                      },
                      "nonfoil": {
                        "type": "boolean",
                        "description": "Whether non-foil.",
                        "title": "Non-foil"
                      },
                      "finishes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The finishes.",
                        "title": "Finishes"
                      },
                      "oversized": {
                        "type": "boolean",
                        "description": "Whether oversized.",
                        "title": "Oversized"
                      },
                      "promo": {
                        "type": "boolean",
                        "description": "Whether promo.",
                        "title": "Promo"
                      },
                      "reprint": {
                        "type": "boolean",
                        "description": "Whether reprint.",
                        "title": "Reprint"
                      },
                      "variation": {
                        "type": "boolean",
                        "description": "Whether variation.",
                        "title": "Variation"
                      },
                      "set_id": {
                        "type": "string",
                        "description": "The set identifier.",
                        "title": "Set ID"
                      },
                      "set": {
                        "type": "string",
                        "description": "The set.",
                        "title": "Set"
                      },
                      "set_name": {
                        "type": "string",
                        "description": "The set name.",
                        "title": "Set Name"
                      },
                      "set_type": {
                        "type": "string",
                        "description": "The set type.",
                        "title": "Set Type"
                      },
                      "set_uri": {
                        "type": "string",
                        "description": "The set URI.",
                        "title": "Set URI"
                      },
                      "set_search_uri": {
                        "type": "string",
                        "description": "The set search URI.",
                        "title": "Set Search URI"
                      },
                      "scryfall_set_uri": {
                        "type": "string",
                        "description": "The Scryfall set URI.",
                        "title": "Scryfall Set URI"
                      },
                      "rulings_uri": {
                        "type": "string",
                        "description": "The rulings URI.",
                        "title": "Rulings URI"
                      },
                      "prints_search_uri": {
                        "type": "string",
                        "description": "The prints search URI.",
                        "title": "Prints Search URI"
                      },
                      "collector_number": {
                        "type": "string",
                        "description": "The collector number.",
                        "title": "Collector Number"
                      },
                      "digital": {
                        "type": "boolean",
                        "description": "Whether digital.",
                        "title": "Digital"
                      },
                      "rarity": {
                        "type": "string",
                        "description": "The rarity.",
                        "title": "Rarity"
                      },
                      "card_back_id": {
                        "type": "string",
                        "description": "The card back identifier.",
                        "title": "Card Back ID"
                      },
                      "artist": {
                        "type": "string",
                        "description": "The artist.",
                        "title": "Artist"
                      },
                      "artist_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The artist identifiers.",
                        "title": "Artist IDs"
                      },
                      "illustration_id": {
                        "type": "string",
                        "description": "The illustration identifier.",
                        "title": "Illustration ID"
                      },
                      "border_color": {
                        "type": "string",
                        "description": "The border color.",
                        "title": "Border Color"
                      },
                      "frame": {
                        "type": "string",
                        "description": "The frame.",
                        "title": "Frame"
                      },
                      "full_art": {
                        "type": "boolean",
                        "description": "Whether full art.",
                        "title": "Full Art"
                      },
                      "textless": {
                        "type": "boolean",
                        "description": "Whether textless.",
                        "title": "Textless"
                      },
                      "booster": {
                        "type": "boolean",
                        "description": "Whether booster.",
                        "title": "Booster"
                      },
                      "story_spotlight": {
                        "type": "boolean",
                        "description": "Whether story spotlight.",
                        "title": "Story Spotlight"
                      },
                      "edhrec_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The EDHREC rank.",
                        "title": "EDHREC Rank"
                      },
                      "prices": {
                        "type": "object",
                        "properties": {
                          "usd": {
                            "type": "string",
                            "description": "The USD.",
                            "title": "USD"
                          },
                          "usd_foil": {
                            "type": "string",
                            "description": "The USD foil.",
                            "title": "USD Foil"
                          },
                          "usd_etched": {
                            "type": "string",
                            "description": "The USD etched.",
                            "title": "USD Etched"
                          },
                          "eur": {
                            "type": "string",
                            "description": "The Euro.",
                            "title": "Euro"
                          },
                          "eur_foil": {
                            "type": "string",
                            "description": "The Euro foil.",
                            "title": "Euro Foil"
                          },
                          "tix": {
                            "type": "string",
                            "description": "The tix.",
                            "title": "Tix"
                          }
                        },
                        "title": "Prices"
                      },
                      "related_uris": {
                        "type": "object",
                        "properties": {
                          "gatherer": {
                            "type": "string",
                            "description": "The Gatherer.",
                            "title": "Gatherer"
                          },
                          "tcgplayer_infinite_articles": {
                            "type": "string",
                            "description": "The TCGplayer Infinite Articles.",
                            "title": "TCGplayer Infinite Articles"
                          },
                          "tcgplayer_infinite_decks": {
                            "type": "string",
                            "description": "The TCGplayer Infinite Decks.",
                            "title": "TCGplayer Infinite Decks"
                          },
                          "edhrec": {
                            "type": "string",
                            "description": "The EDHREC.",
                            "title": "EDHREC"
                          }
                        },
                        "title": "Related URIs"
                      },
                      "purchase_uris": {
                        "type": "object",
                        "properties": {
                          "tcgplayer": {
                            "type": "string",
                            "description": "The TCGplayer.",
                            "title": "TCGplayer"
                          },
                          "cardmarket": {
                            "type": "string",
                            "description": "The Cardmarket.",
                            "title": "Cardmarket"
                          },
                          "cardhoarder": {
                            "type": "string",
                            "description": "The Cardhoarder.",
                            "title": "Cardhoarder"
                          }
                        },
                        "title": "Purchase URIs"
                      },
                      "mtgo_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The MTGO identifier.",
                        "title": "MTGO ID"
                      },
                      "mtgo_foil_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The MTGO foil identifier.",
                        "title": "MTGO Foil ID"
                      },
                      "arena_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The Arena identifier.",
                        "title": "Arena ID"
                      },
                      "all_parts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "object": {
                              "type": "string",
                              "description": "The object.",
                              "title": "Object"
                            },
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "component": {
                              "type": "string",
                              "description": "The component.",
                              "title": "Component"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "type_line": {
                              "type": "string",
                              "description": "The type line.",
                              "title": "Type Line"
                            },
                            "uri": {
                              "type": "string",
                              "description": "The URI.",
                              "title": "URI"
                            }
                          }
                        },
                        "title": "All Parts"
                      },
                      "security_stamp": {
                        "type": "string",
                        "description": "The security stamp.",
                        "title": "Security Stamp"
                      },
                      "promo_types": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The promo types.",
                        "title": "Promo Types"
                      },
                      "penny_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The penny rank.",
                        "title": "Penny Rank"
                      },
                      "flavor_text": {
                        "type": "string",
                        "description": "The flavor text.",
                        "title": "Flavor Text"
                      },
                      "frame_effects": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The frame effects.",
                        "title": "Frame Effects"
                      },
                      "preview": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string",
                            "description": "The source.",
                            "title": "Source"
                          },
                          "source_uri": {
                            "type": "string",
                            "description": "The source URI.",
                            "title": "Source URI"
                          },
                          "previewed_at": {
                            "type": "string",
                            "description": "When previewed at.",
                            "title": "Previewed At"
                          }
                        },
                        "title": "Preview"
                      },
                      "watermark": {
                        "type": "string",
                        "description": "The watermark.",
                        "title": "Watermark"
                      },
                      "card_faces": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "object": {
                              "type": "string",
                              "description": "The object.",
                              "title": "Object"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "mana_cost": {
                              "type": "string",
                              "description": "The mana cost.",
                              "title": "Mana Cost"
                            },
                            "type_line": {
                              "type": "string",
                              "description": "The type line.",
                              "title": "Type Line"
                            },
                            "oracle_text": {
                              "type": "string",
                              "description": "The oracle text.",
                              "title": "Oracle Text"
                            },
                            "power": {
                              "type": "string",
                              "description": "The power.",
                              "title": "Power"
                            },
                            "toughness": {
                              "type": "string",
                              "description": "The toughness.",
                              "title": "Toughness"
                            },
                            "artist": {
                              "type": "string",
                              "description": "The artist.",
                              "title": "Artist"
                            },
                            "artist_id": {
                              "type": "string",
                              "description": "The artist identifier.",
                              "title": "Artist ID"
                            },
                            "illustration_id": {
                              "type": "string",
                              "description": "The illustration identifier.",
                              "title": "Illustration ID"
                            },
                            "colors": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "The colors.",
                              "title": "Colors"
                            },
                            "image_uris": {
                              "type": "object",
                              "properties": {
                                "small": {
                                  "type": "string",
                                  "description": "The small.",
                                  "title": "Small"
                                },
                                "normal": {
                                  "type": "string",
                                  "description": "The normal.",
                                  "title": "Normal"
                                },
                                "large": {
                                  "type": "string",
                                  "description": "The large.",
                                  "title": "Large"
                                },
                                "png": {
                                  "type": "string",
                                  "description": "The PNG.",
                                  "title": "PNG"
                                },
                                "art_crop": {
                                  "type": "string",
                                  "description": "The art crop.",
                                  "title": "Art Crop"
                                },
                                "border_crop": {
                                  "type": "string",
                                  "description": "The border crop.",
                                  "title": "Border Crop"
                                }
                              },
                              "title": "Image URIs"
                            },
                            "flavor_text": {
                              "type": "string",
                              "description": "The flavor text.",
                              "title": "Flavor Text"
                            },
                            "flavor_name": {
                              "type": "string",
                              "description": "The flavor name.",
                              "title": "Flavor Name"
                            },
                            "color_indicator": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "The color indicators.",
                              "title": "Color Indicators"
                            }
                          }
                        },
                        "title": "Card Faces"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Search for cards",
        "description": "Retrieves a list of cards that match the search query.",
        "operationId": "CardsSearchGet",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The search query.",
            "required": true,
            "type": "string"
          },
          {
            "name": "unique",
            "in": "query",
            "x-ms-summary": "Unique",
            "description": "The unique.",
            "required": false,
            "type": "string",
            "default": "cards",
            "enum": [
              "cards",
              "art",
              "prints"
            ]
          },
          {
            "name": "order",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order.",
            "required": false,
            "type": "string",
            "default": "name",
            "enum": [
              "name",
              "set",
              "released",
              "rarity",
              "color",
              "usd",
              "tix",
              "eur",
              "cmc",
              "power",
              "toughness",
              "edhrec",
              "penny",
              "artist",
              "review"
            ]
          },
          {
            "name": "dir",
            "in": "query",
            "x-ms-summary": "Direction",
            "description": "The direction.",
            "required": false,
            "type": "string",
            "default": "auto",
            "enum": [
              "auto",
              "asc",
              "desc"
            ]
          },
          {
            "name": "include_extras",
            "in": "query",
            "x-ms-summary": "Include Extras",
            "description": "Whether to include extras.",
            "required": false,
            "type": "boolean",
            "default": false,
            "enum": [
              false,
              true
            ]
          },
          {
            "name": "include_multilingual",
            "in": "query",
            "x-ms-summary": "Include Multilingual",
            "description": "Whether to include multilingual.",
            "required": false,
            "type": "boolean",
            "default": false,
            "enum": [
              false,
              true
            ]
          },
          {
            "name": "include_variations",
            "in": "query",
            "x-ms-summary": "Include Variations",
            "description": "Whether to include variations.",
            "required": false,
            "type": "boolean",
            "default": false,
            "enum": [
              false,
              true
            ]
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ]
      }
    },
    "/cards/named": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object type.",
                  "title": "Object"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "oracle_id": {
                  "type": "string",
                  "description": "The oracle identifier.",
                  "title": "Oracle ID"
                },
                "multiverse_ids": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "description": "The multiverse identifiers.",
                  "title": "Multiverse IDs"
                },
                "tcgplayer_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The TCGplayer identifier.",
                  "title": "TCGplayer ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "lang": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "released_at": {
                  "type": "string",
                  "description": "When released at.",
                  "title": "Released At"
                },
                "uri": {
                  "type": "string",
                  "description": "The URI.",
                  "title": "URI"
                },
                "scryfall_uri": {
                  "type": "string",
                  "description": "The Scryfall URI.",
                  "title": "Scryfall URI"
                },
                "layout": {
                  "type": "string",
                  "description": "The layout.",
                  "title": "Layout"
                },
                "highres_image": {
                  "type": "boolean",
                  "description": "Whether high-resolution image.",
                  "title": "High-res Image"
                },
                "image_status": {
                  "type": "string",
                  "description": "The image status.",
                  "title": "Image Status"
                },
                "image_uris": {
                  "type": "object",
                  "properties": {
                    "small": {
                      "type": "string",
                      "description": "The small.",
                      "title": "Small"
                    },
                    "normal": {
                      "type": "string",
                      "description": "The normal.",
                      "title": "Normal"
                    },
                    "large": {
                      "type": "string",
                      "description": "The large.",
                      "title": "Large"
                    },
                    "png": {
                      "type": "string",
                      "description": "The PNG.",
                      "title": "PNG"
                    },
                    "art_crop": {
                      "type": "string",
                      "description": "The art crop.",
                      "title": "Art Crop"
                    },
                    "border_crop": {
                      "type": "string",
                      "description": "The border crop.",
                      "title": "Border Crop"
                    }
                  },
                  "title": "Image URIs"
                },
                "mana_cost": {
                  "type": "string",
                  "description": "The mana cost.",
                  "title": "Mana Cost"
                },
                "cmc": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The mana value.",
                  "title": "CMC"
                },
                "type_line": {
                  "type": "string",
                  "description": "The type line.",
                  "title": "Type Line"
                },
                "oracle_text": {
                  "type": "string",
                  "description": "The oracle text.",
                  "title": "Oracle Text"
                },
                "colors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The colors.",
                  "title": "Colors"
                },
                "color_identity": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The color identity.",
                  "title": "Color Identity"
                },
                "keywords": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The keywords.",
                  "title": "Keywords"
                },
                "legalities": {
                  "type": "object",
                  "properties": {
                    "standard": {
                      "type": "string",
                      "description": "The standard.",
                      "title": "Standard"
                    },
                    "future": {
                      "type": "string",
                      "description": "The future.",
                      "title": "Future"
                    },
                    "historic": {
                      "type": "string",
                      "description": "The historic.",
                      "title": "Historic"
                    },
                    "gladiator": {
                      "type": "string",
                      "description": "The gladiator.",
                      "title": "Gladiator"
                    },
                    "pioneer": {
                      "type": "string",
                      "description": "The pioneer.",
                      "title": "Pioneer"
                    },
                    "explorer": {
                      "type": "string",
                      "description": "The explorer.",
                      "title": "Explorer"
                    },
                    "modern": {
                      "type": "string",
                      "description": "The modern.",
                      "title": "Modern"
                    },
                    "legacy": {
                      "type": "string",
                      "description": "The legacy.",
                      "title": "Legacy"
                    },
                    "pauper": {
                      "type": "string",
                      "description": "The pauper.",
                      "title": "Pauper"
                    },
                    "vintage": {
                      "type": "string",
                      "description": "The vintage.",
                      "title": "Vintage"
                    },
                    "penny": {
                      "type": "string",
                      "description": "The penny.",
                      "title": "Penny"
                    },
                    "commander": {
                      "type": "string",
                      "description": "The commander.",
                      "title": "Commander"
                    },
                    "oathbreaker": {
                      "type": "string",
                      "description": "The oathbreaker.",
                      "title": "Oathbreaker"
                    },
                    "brawl": {
                      "type": "string",
                      "description": "The brawl.",
                      "title": "Brawl"
                    },
                    "historicbrawl": {
                      "type": "string",
                      "description": "The historic brawl.",
                      "title": "Historic Brawl"
                    },
                    "alchemy": {
                      "type": "string",
                      "description": "The alchemy.",
                      "title": "Alchemy"
                    },
                    "paupercommander": {
                      "type": "string",
                      "description": "The pauper commander.",
                      "title": "Pauper Commander"
                    },
                    "duel": {
                      "type": "string",
                      "description": "The duel.",
                      "title": "Duel"
                    },
                    "oldschool": {
                      "type": "string",
                      "description": "The old school.",
                      "title": "Old School"
                    },
                    "premodern": {
                      "type": "string",
                      "description": "The premodern.",
                      "title": "Premodern"
                    },
                    "predh": {
                      "type": "string",
                      "description": "The PreDH.",
                      "title": "PreDH"
                    }
                  },
                  "title": "Legalities"
                },
                "games": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The games.",
                  "title": "Games"
                },
                "reserved": {
                  "type": "boolean",
                  "description": "Whether reserved.",
                  "title": "Reserved"
                },
                "foil": {
                  "type": "boolean",
                  "description": "Whether foil.",
                  "title": "Foil"
                },
                "nonfoil": {
                  "type": "boolean",
                  "description": "Whether non-foil.",
                  "title": "Non-foil"
                },
                "finishes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The finishes.",
                  "title": "Finishes"
                },
                "oversized": {
                  "type": "boolean",
                  "description": "Whether oversized.",
                  "title": "Oversized"
                },
                "promo": {
                  "type": "boolean",
                  "description": "Whether promo.",
                  "title": "Promo"
                },
                "reprint": {
                  "type": "boolean",
                  "description": "Whether reprint.",
                  "title": "Reprint"
                },
                "variation": {
                  "type": "boolean",
                  "description": "Whether variation.",
                  "title": "Variation"
                },
                "set_id": {
                  "type": "string",
                  "description": "The set identifier.",
                  "title": "Set ID"
                },
                "set": {
                  "type": "string",
                  "description": "The set.",
                  "title": "Set"
                },
                "set_name": {
                  "type": "string",
                  "description": "The set name.",
                  "title": "Set Name"
                },
                "set_type": {
                  "type": "string",
                  "description": "The set type.",
                  "title": "Set Type"
                },
                "set_uri": {
                  "type": "string",
                  "description": "The set URI.",
                  "title": "Set URI"
                },
                "set_search_uri": {
                  "type": "string",
                  "description": "The set search URI.",
                  "title": "Set Search URI"
                },
                "scryfall_set_uri": {
                  "type": "string",
                  "description": "The Scryfall set URI.",
                  "title": "Scryfall Set URI"
                },
                "rulings_uri": {
                  "type": "string",
                  "description": "The rulings URI.",
                  "title": "Rulings URI"
                },
                "prints_search_uri": {
                  "type": "string",
                  "description": "The prints search URI.",
                  "title": "Prints Search URI"
                },
                "collector_number": {
                  "type": "string",
                  "description": "The collector number.",
                  "title": "Collector Number"
                },
                "digital": {
                  "type": "boolean",
                  "description": "Whether digital.",
                  "title": "Digital"
                },
                "rarity": {
                  "type": "string",
                  "description": "The rarity.",
                  "title": "Rarity"
                },
                "card_back_id": {
                  "type": "string",
                  "description": "The card back identifier.",
                  "title": "Card Back ID"
                },
                "artist": {
                  "type": "string",
                  "description": "The artist.",
                  "title": "Artist"
                },
                "artist_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The artist identifiers.",
                  "title": "Artist IDs"
                },
                "illustration_id": {
                  "type": "string",
                  "description": "The illustration identifier.",
                  "title": "Illustration ID"
                },
                "border_color": {
                  "type": "string",
                  "description": "The border color.",
                  "title": "Border Color"
                },
                "frame": {
                  "type": "string",
                  "description": "The frame.",
                  "title": "Frame"
                },
                "security_stamp": {
                  "type": "string",
                  "description": "The security stamp.",
                  "title": "Security Stamp"
                },
                "full_art": {
                  "type": "boolean",
                  "description": "Whether full art.",
                  "title": "Full Art"
                },
                "textless": {
                  "type": "boolean",
                  "description": "Whether textless.",
                  "title": "Textless"
                },
                "booster": {
                  "type": "boolean",
                  "description": "Whether booster.",
                  "title": "Booster"
                },
                "story_spotlight": {
                  "type": "boolean",
                  "description": "Whether story spotlight.",
                  "title": "Story Spotlight"
                },
                "edhrec_rank": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The EDHREC rank.",
                  "title": "EDHREC Rank"
                },
                "penny_rank": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The penny rank.",
                  "title": "Penny Rank"
                },
                "prices": {
                  "type": "object",
                  "properties": {
                    "usd": {
                      "type": "string",
                      "description": "The USD.",
                      "title": "USD"
                    },
                    "usd_foil": {
                      "type": "string",
                      "description": "The USD foil.",
                      "title": "USD Foil"
                    },
                    "usd_etched": {
                      "type": "string",
                      "description": "The USD etched.",
                      "title": "USD Etched"
                    },
                    "eur": {
                      "type": "string",
                      "description": "The Euro.",
                      "title": "Euro"
                    },
                    "eur_foil": {
                      "type": "string",
                      "description": "The Euro foil.",
                      "title": "Euro Foil"
                    },
                    "tix": {
                      "type": "string",
                      "description": "The tix.",
                      "title": "Tix"
                    }
                  },
                  "title": "Prices"
                },
                "related_uris": {
                  "type": "object",
                  "properties": {
                    "tcgplayer_infinite_articles": {
                      "type": "string",
                      "description": "The TCGplayer infinite articles.",
                      "title": "TCGplayer Infinite Articles"
                    },
                    "tcgplayer_infinite_decks": {
                      "type": "string",
                      "description": "The TCGplayer infinite decks.",
                      "title": "TCGplayer Infinite Decks"
                    },
                    "edhrec": {
                      "type": "string",
                      "description": "The EDHREC.",
                      "title": "EDHREC"
                    }
                  },
                  "title": "Related URIs"
                },
                "purchase_uris": {
                  "type": "object",
                  "properties": {
                    "tcgplayer": {
                      "type": "string",
                      "description": "The TCGplayer.",
                      "title": "TCGplayer"
                    },
                    "cardmarket": {
                      "type": "string",
                      "description": "The Cardmarket.",
                      "title": "Cardmarket"
                    },
                    "cardhoarder": {
                      "type": "string",
                      "description": "The Cardhoarder.",
                      "title": "Cardhoarder"
                    }
                  },
                  "title": "Purchase URIs"
                }
              }
            }
          }
        },
        "summary": "Search for cards by name",
        "description": "Returns a Card based on a name search string.",
        "operationId": "CardsNamedGet",
        "parameters": [
          {
            "name": "exact",
            "in": "query",
            "x-ms-summary": "Exact",
            "description": "The exact name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "fuzzy",
            "in": "query",
            "x-ms-summary": "Fuzzy",
            "description": "A fuzzy string.",
            "required": false,
            "type": "string"
          },
          {
            "name": "set",
            "in": "query",
            "x-ms-summary": "Set",
            "description": "The set.",
            "required": false,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "x-ms-summary": "Version",
            "description": "The version.",
            "required": false,
            "type": "string",
            "default": "large",
            "enum": [
              "large",
              "small",
              "normal",
              "png",
              "art_crop",
              "border_crop"
            ]
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/cards/autocomplete": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object type.",
                  "title": "Object"
                },
                "total_values": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total values.",
                  "title": "Total Values"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The data.",
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get autocomplete cards",
        "description": "Retrieves a list of up to 20 full English card names that could be autocompletions of the given string parameter.",
        "operationId": "CardsAutocompleteGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The search query.",
            "required": true,
            "type": "string"
          },
          {
            "name": "include_extras",
            "in": "query",
            "x-ms-summary": "Include Extras",
            "description": "Whether to include extras.",
            "required": false,
            "type": "boolean"
          }
        ]
      }
    },
    "/cards/collection": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object type.",
                  "title": "Object"
                },
                "not_found": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The not found.",
                  "title": "Not Found"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "oracle_id": {
                        "type": "string",
                        "description": "The Oracle identifier.",
                        "title": "Oracle ID"
                      },
                      "multiverse_ids": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "The Multiverse identifiers.",
                        "title": "Multiverse IDs"
                      },
                      "mtgo_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The MTGO identifier.",
                        "title": "MTGO ID"
                      },
                      "mtgo_foil_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The MTGO foil identifier.",
                        "title": "MTGO Foil ID"
                      },
                      "tcgplayer_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The TCGplayer identifier.",
                        "title": "TCGplayer ID"
                      },
                      "cardmarket_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The Cardmarket identifier.",
                        "title": "Cardmarket ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "lang": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "released_at": {
                        "type": "string",
                        "description": "When released at.",
                        "title": "Released At"
                      },
                      "uri": {
                        "type": "string",
                        "description": "The URI.",
                        "title": "URI"
                      },
                      "scryfall_uri": {
                        "type": "string",
                        "description": "The Scryfall URI.",
                        "title": "Scryfall URI"
                      },
                      "layout": {
                        "type": "string",
                        "description": "The layout.",
                        "title": "Layout"
                      },
                      "highres_image": {
                        "type": "boolean",
                        "description": "Whether high-res image.",
                        "title": "High-res Image"
                      },
                      "image_status": {
                        "type": "string",
                        "description": "The image status.",
                        "title": "Image Status"
                      },
                      "image_uris": {
                        "type": "object",
                        "properties": {
                          "small": {
                            "type": "string",
                            "description": "The small.",
                            "title": "Small"
                          },
                          "normal": {
                            "type": "string",
                            "description": "The normal.",
                            "title": "Normal"
                          },
                          "large": {
                            "type": "string",
                            "description": "The large.",
                            "title": "Large"
                          },
                          "png": {
                            "type": "string",
                            "description": "The PNG.",
                            "title": "PNG"
                          },
                          "art_crop": {
                            "type": "string",
                            "description": "The art crop.",
                            "title": "Art Crop"
                          },
                          "border_crop": {
                            "type": "string",
                            "description": "The border crop.",
                            "title": "Border Crop"
                          }
                        },
                        "title": "Image URIs"
                      },
                      "mana_cost": {
                        "type": "string",
                        "description": "The mana cost.",
                        "title": "Mana Cost"
                      },
                      "cmc": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The mana value.",
                        "title": "CMC"
                      },
                      "type_line": {
                        "type": "string",
                        "description": "The type line.",
                        "title": "Type Line"
                      },
                      "oracle_text": {
                        "type": "string",
                        "description": "The oracle text.",
                        "title": "Oracle Text"
                      },
                      "power": {
                        "type": "string",
                        "description": "The power.",
                        "title": "Power"
                      },
                      "toughness": {
                        "type": "string",
                        "description": "The toughness.",
                        "title": "Toughness"
                      },
                      "colors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "colors"
                      },
                      "color_identity": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "color_identity"
                      },
                      "keywords": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "keywords"
                      },
                      "legalities": {
                        "type": "object",
                        "properties": {
                          "standard": {
                            "type": "string",
                            "description": "The standard.",
                            "title": "Standard"
                          },
                          "future": {
                            "type": "string",
                            "description": "The future.",
                            "title": "Future"
                          },
                          "historic": {
                            "type": "string",
                            "description": "The historic.",
                            "title": "Historic"
                          },
                          "gladiator": {
                            "type": "string",
                            "description": "The gladiator.",
                            "title": "Gladiator"
                          },
                          "pioneer": {
                            "type": "string",
                            "description": "The pioneer.",
                            "title": "Pioneer"
                          },
                          "explorer": {
                            "type": "string",
                            "description": "The explorer.",
                            "title": "Explorer"
                          },
                          "modern": {
                            "type": "string",
                            "description": "The modern.",
                            "title": "Modern"
                          },
                          "legacy": {
                            "type": "string",
                            "description": "The legacy.",
                            "title": "Legacy"
                          },
                          "pauper": {
                            "type": "string",
                            "description": "The pauper.",
                            "title": "Pauper"
                          },
                          "vintage": {
                            "type": "string",
                            "description": "The vintage.",
                            "title": "Vintage"
                          },
                          "penny": {
                            "type": "string",
                            "description": "The penny.",
                            "title": "Penny"
                          },
                          "commander": {
                            "type": "string",
                            "description": "The commander.",
                            "title": "Commander"
                          },
                          "oathbreaker": {
                            "type": "string",
                            "description": "The oathbreaker.",
                            "title": "Oathbreaker"
                          },
                          "brawl": {
                            "type": "string",
                            "description": "The brawl.",
                            "title": "Brawl"
                          },
                          "historicbrawl": {
                            "type": "string",
                            "description": "The historic brawl.",
                            "title": "Historic Brawl"
                          },
                          "alchemy": {
                            "type": "string",
                            "description": "The alchemy.",
                            "title": "Alchemy"
                          },
                          "paupercommander": {
                            "type": "string",
                            "description": "The pauper commander.",
                            "title": "Pauper Commander"
                          },
                          "duel": {
                            "type": "string",
                            "description": "The duel.",
                            "title": "Duel"
                          },
                          "oldschool": {
                            "type": "string",
                            "description": "The old school.",
                            "title": "Old School"
                          },
                          "premodern": {
                            "type": "string",
                            "description": "The premodern.",
                            "title": "Premodern"
                          },
                          "predh": {
                            "type": "string",
                            "description": "The PreDH.",
                            "title": "PreDH"
                          }
                        },
                        "title": "Legalities"
                      },
                      "games": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The games.",
                        "title": "Games"
                      },
                      "reserved": {
                        "type": "boolean",
                        "description": "Whether reserved.",
                        "title": "Reserved"
                      },
                      "foil": {
                        "type": "boolean",
                        "description": "Whether foil.",
                        "title": "Foil"
                      },
                      "nonfoil": {
                        "type": "boolean",
                        "description": "Whether non-foil.",
                        "title": "Non-foil"
                      },
                      "finishes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The finishes.",
                        "title": "Finishes"
                      },
                      "oversized": {
                        "type": "boolean",
                        "description": "Whether oversized.",
                        "title": "Oversized"
                      },
                      "promo": {
                        "type": "boolean",
                        "description": "Whether promo.",
                        "title": "Promo"
                      },
                      "reprint": {
                        "type": "boolean",
                        "description": "Whether reprint.",
                        "title": "Reprint"
                      },
                      "variation": {
                        "type": "boolean",
                        "description": "Whether variation.",
                        "title": "Variation"
                      },
                      "set_id": {
                        "type": "string",
                        "description": "The set identifier.",
                        "title": "Set ID"
                      },
                      "set": {
                        "type": "string",
                        "description": "The set.",
                        "title": "Set"
                      },
                      "set_name": {
                        "type": "string",
                        "description": "The set name.",
                        "title": "Set Name"
                      },
                      "set_type": {
                        "type": "string",
                        "description": "The set type.",
                        "title": "Set Type"
                      },
                      "set_uri": {
                        "type": "string",
                        "description": "The set URI.",
                        "title": "Set URI"
                      },
                      "set_search_uri": {
                        "type": "string",
                        "description": "The set search URI.",
                        "title": "Set Search URI"
                      },
                      "scryfall_set_uri": {
                        "type": "string",
                        "description": "The Scryfall set URI.",
                        "title": "Scryfall Set URI"
                      },
                      "rulings_uri": {
                        "type": "string",
                        "description": "The rulings URI.",
                        "title": "Rulings URI"
                      },
                      "prints_search_uri": {
                        "type": "string",
                        "description": "The prints search URI.",
                        "title": "Prints Search URI"
                      },
                      "collector_number": {
                        "type": "string",
                        "description": "The collector number.",
                        "title": "Collector Number"
                      },
                      "digital": {
                        "type": "boolean",
                        "description": "Whether digital.",
                        "title": "Digital"
                      },
                      "rarity": {
                        "type": "string",
                        "description": "The rarity.",
                        "title": "Rarity"
                      },
                      "flavor_text": {
                        "type": "string",
                        "description": "The flavor text.",
                        "title": "Flavor Text"
                      },
                      "card_back_id": {
                        "type": "string",
                        "description": "The card back identifier.",
                        "title": "Card Back ID"
                      },
                      "artist": {
                        "type": "string",
                        "description": "The artist.",
                        "title": "Artist"
                      },
                      "artist_ids": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The artist identifiers.",
                        "title": "Artist IDs"
                      },
                      "illustration_id": {
                        "type": "string",
                        "description": "The illustration identifier.",
                        "title": "Illustration ID"
                      },
                      "border_color": {
                        "type": "string",
                        "description": "The border color.",
                        "title": "Border Color"
                      },
                      "frame": {
                        "type": "string",
                        "description": "The frame.",
                        "title": "Frame"
                      },
                      "security_stamp": {
                        "type": "string",
                        "description": "The security stamp.",
                        "title": "Security Stamp"
                      },
                      "full_art": {
                        "type": "boolean",
                        "description": "Whether full art.",
                        "title": "Full Art"
                      },
                      "textless": {
                        "type": "boolean",
                        "description": "Whether textless.",
                        "title": "Textless"
                      },
                      "booster": {
                        "type": "boolean",
                        "description": "Whether booster.",
                        "title": "Booster"
                      },
                      "story_spotlight": {
                        "type": "boolean",
                        "description": "Whether story spotlight.",
                        "title": "Story Spotlight"
                      },
                      "edhrec_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The EDHREC rank.",
                        "title": "EDHREC Rank"
                      },
                      "penny_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The penny rank.",
                        "title": "Penny Rank"
                      },
                      "prices": {
                        "type": "object",
                        "properties": {
                          "usd": {
                            "type": "string",
                            "description": "The USD.",
                            "title": "USD"
                          },
                          "usd_foil": {
                            "type": "string",
                            "description": "The USD foil.",
                            "title": "USD Foil"
                          },
                          "usd_etched": {
                            "type": "string",
                            "description": "The USD etched.",
                            "title": "USD Etched"
                          },
                          "eur": {
                            "type": "string",
                            "description": "The Euro.",
                            "title": "Euro"
                          },
                          "eur_foil": {
                            "type": "string",
                            "description": "The Euro foil.",
                            "title": "Euro Foil"
                          },
                          "tix": {
                            "type": "string",
                            "description": "The tix.",
                            "title": "Tix"
                          }
                        },
                        "title": "Prices"
                      },
                      "related_uris": {
                        "type": "object",
                        "properties": {
                          "gatherer": {
                            "type": "string",
                            "description": "The Gatherer.",
                            "title": "Gatherer"
                          },
                          "tcgplayer_infinite_articles": {
                            "type": "string",
                            "description": "The TCGplayer Infinite Articles.",
                            "title": "TCGplayer Infinite Articles"
                          },
                          "tcgplayer_infinite_decks": {
                            "type": "string",
                            "description": "The TCGplayer Infinite Decks.",
                            "title": "TCGplayer Infinite Decks"
                          },
                          "edhrec": {
                            "type": "string",
                            "description": "The EDHREC.",
                            "title": "EDHREC"
                          }
                        },
                        "title": "Related URIs"
                      },
                      "purchase_uris": {
                        "type": "object",
                        "properties": {
                          "tcgplayer": {
                            "type": "string",
                            "description": "The TCGplayer.",
                            "title": "TCGplayer"
                          },
                          "cardmarket": {
                            "type": "string",
                            "description": "The Cardmarket.",
                            "title": "Cardmarket"
                          },
                          "cardhoarder": {
                            "type": "string",
                            "description": "The Cardhoarder.",
                            "title": "Cardhoarder"
                          }
                        },
                        "title": "Purchase URIs"
                      },
                      "produced_mana": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The produced mana.",
                        "title": "Produced Mana"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get card collection",
        "description": "Retrieves a list with the collection of requested cards.",
        "operationId": "CardsCollectionPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "identifiers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "mtgo_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The MTGO identifier.",
                        "title": "MTGO ID"
                      },
                      "multiverse_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The multiverse identifier.",
                        "title": "Multiverse ID"
                      },
                      "oracle_id": {
                        "type": "string",
                        "description": "The Oracle identifier.",
                        "title": "Oracle ID"
                      },
                      "illustration_id": {
                        "type": "string",
                        "description": "The illustration identifier.",
                        "title": "Illustration ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "set": {
                        "type": "string",
                        "description": "The set.",
                        "title": "Set"
                      },
                      "collector_number": {
                        "type": "string",
                        "description": "The collector number.",
                        "title": "Collector Number"
                      }
                    }
                  },
                  "title": "Identifiers"
                }
              }
            }
          }
        ]
      }
    },
    "/cards/{code}/{number}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object type.",
                  "title": "Object"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "oracle_id": {
                  "type": "string",
                  "description": "The oracle identifier.",
                  "title": "Oracle ID"
                },
                "multiverse_ids": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "description": "The multiverse identifiers.",
                  "title": "Multiverse IDs"
                },
                "mtgo_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The MTGO identifier.",
                  "title": "MTGO ID"
                },
                "mtgo_foil_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The MTGO foil identifier.",
                  "title": "MTGO Foil ID"
                },
                "arena_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Arena identifier.",
                  "title": "Arena ID"
                },
                "tcgplayer_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The TCGplayer identifier.",
                  "title": "TCGplayer ID"
                },
                "cardmarket_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Cardmarket identifier.",
                  "title": "Cardmarket ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "lang": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "released_at": {
                  "type": "string",
                  "description": "When released at.",
                  "title": "Released At"
                },
                "uri": {
                  "type": "string",
                  "description": "The URI.",
                  "title": "URI"
                },
                "scryfall_uri": {
                  "type": "string",
                  "description": "The Scryfall URI.",
                  "title": "Scryfall URI"
                },
                "layout": {
                  "type": "string",
                  "description": "The layout.",
                  "title": "Layout"
                },
                "highres_image": {
                  "type": "boolean",
                  "description": "Whether high-resolution image.",
                  "title": "High-res Image"
                },
                "image_status": {
                  "type": "string",
                  "description": "The image status.",
                  "title": "Image Status"
                },
                "image_uris": {
                  "type": "object",
                  "properties": {
                    "small": {
                      "type": "string",
                      "description": "The small.",
                      "title": "Small"
                    },
                    "normal": {
                      "type": "string",
                      "description": "The normal.",
                      "title": "Normal"
                    },
                    "large": {
                      "type": "string",
                      "description": "The large.",
                      "title": "Large"
                    },
                    "png": {
                      "type": "string",
                      "description": "The PNG.",
                      "title": "PNG"
                    },
                    "art_crop": {
                      "type": "string",
                      "description": "The art crop.",
                      "title": "Art Crop"
                    },
                    "border_crop": {
                      "type": "string",
                      "description": "The border crop.",
                      "title": "Border Crop"
                    }
                  },
                  "title": "Image URIs"
                },
                "mana_cost": {
                  "type": "string",
                  "description": "The mana cost.",
                  "title": "Mana Cost"
                },
                "cmc": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The mana value.",
                  "title": "CMC"
                },
                "type_line": {
                  "type": "string",
                  "description": "The type line.",
                  "title": "Type Line"
                },
                "oracle_text": {
                  "type": "string",
                  "description": "The oracle text.",
                  "title": "Oracle Text"
                },
                "colors": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The colors.",
                  "title": "Colors"
                },
                "color_identity": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The color identity.",
                  "title": "Color Identity"
                },
                "keywords": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The keywords.",
                  "title": "Keywords"
                },
                "legalities": {
                  "type": "object",
                  "properties": {
                    "standard": {
                      "type": "string",
                      "description": "The standard.",
                      "title": "Standard"
                    },
                    "future": {
                      "type": "string",
                      "description": "The future.",
                      "title": "Future"
                    },
                    "historic": {
                      "type": "string",
                      "description": "The historic.",
                      "title": "Historic"
                    },
                    "gladiator": {
                      "type": "string",
                      "description": "The gladiator.",
                      "title": "Gladiator"
                    },
                    "pioneer": {
                      "type": "string",
                      "description": "The pioneer.",
                      "title": "Pioneer"
                    },
                    "explorer": {
                      "type": "string",
                      "description": "The explorer.",
                      "title": "Explorer"
                    },
                    "modern": {
                      "type": "string",
                      "description": "The modern.",
                      "title": "Modern"
                    },
                    "legacy": {
                      "type": "string",
                      "description": "The legacy.",
                      "title": "Legacy"
                    },
                    "pauper": {
                      "type": "string",
                      "description": "The pauper.",
                      "title": "Pauper"
                    },
                    "vintage": {
                      "type": "string",
                      "description": "The vintage.",
                      "title": "Vintage"
                    },
                    "penny": {
                      "type": "string",
                      "description": "The penny.",
                      "title": "Penny"
                    },
                    "commander": {
                      "type": "string",
                      "description": "The commander.",
                      "title": "Commander"
                    },
                    "oathbreaker": {
                      "type": "string",
                      "description": "The oathbreaker.",
                      "title": "Oathbreaker"
                    },
                    "brawl": {
                      "type": "string",
                      "description": "The brawl.",
                      "title": "Brawl"
                    },
                    "historicbrawl": {
                      "type": "string",
                      "description": "The historic brawl.",
                      "title": "Historic Brawl"
                    },
                    "alchemy": {
                      "type": "string",
                      "description": "The alchemy.",
                      "title": "Alchemy"
                    },
                    "paupercommander": {
                      "type": "string",
                      "description": "The pauper commander.",
                      "title": "Pauper Commander"
                    },
                    "duel": {
                      "type": "string",
                      "description": "The duel.",
                      "title": "Duel"
[...]
