{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "HubSpot Marketing V2",
    "description": "Marketing software that enables you to drive revenue, save time and resources, and measure and optimize your investments. All on one easy-to-use platform. Drive revenue by connecting with leads at the right time and place across email, landing pages, forms, and more. Manage your contacts and campaigns in one place and use automation tools to scale your efficiency. Measure the success of your campaigns using powerful reporting tools.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hubapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/marketing/v3/transactional/smtp-tokens/{tokenId}": {
      "get": {
        "summary": "Query token",
        "description": "Queries a single token by identifier.",
        "operationId": "QueryASingleTokenById",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "x-ms-summary": "Token",
            "x-ms-url-encoding": "single",
            "description": "The token identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "campaignName": {
                  "type": "string",
                  "description": "The campaign name.",
                  "title": "Campaign Name"
                },
                "createContact": {
                  "type": "string",
                  "description": "The create contact.",
                  "title": "Create Contact"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "createdBy": {
                  "type": "string",
                  "description": "The created by.",
                  "title": "Created By"
                },
                "emailCampaignId": {
                  "type": "string",
                  "description": "The email campaign identifier.",
                  "title": "Email Campaign ID"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "password": {
                  "type": "string",
                  "description": "The password.",
                  "title": "Password"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete token",
        "description": "Deletes a single token by identifier.",
        "operationId": "DeleteASingleTokenById",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "x-ms-summary": "Token",
            "x-ms-url-encoding": "single",
            "description": "The token identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/marketing/v3/transactional/smtp-tokens": {
      "get": {
        "summary": "Query SMTP tokens",
        "description": "Queries multiple SMTP tokens by campaign name or a single token by email campaign identifier.",
        "operationId": "QuerySmtpApiTokensByCampaignNameOrAnEmailcampaignid",
        "parameters": [
          {
            "name": "campaignName",
            "in": "query",
            "x-ms-summary": "Campaign",
            "description": "The campaign name.",
            "type": "string",
            "required": false
          },
          {
            "name": "emailCampaignId",
            "in": "query",
            "x-ms-summary": "Email Campaign",
            "description": "The email campaign identifier.",
            "type": "string",
            "required": false
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The after.",
            "type": "string",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "campaignName": {
                        "type": "string",
                        "description": "The campaign name.",
                        "title": "Campaign Name"
                      },
                      "createContact": {
                        "type": "string",
                        "description": "The create contact.",
                        "title": "Create Contact"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "The created by.",
                        "title": "Created By"
                      },
                      "emailCampaignId": {
                        "type": "string",
                        "description": "The email campaign identifier.",
                        "title": "Email Campaign ID"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "password": {
                        "type": "string",
                        "description": "The password.",
                        "title": "Password"
                      }
                    }
                  },
                  "title": "Results"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The after link.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create SMTP token",
        "description": "Creates a SMTP token.",
        "operationId": "CreateASmtpApiToken",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "campaignName": {
                  "type": "string",
                  "description": "The campaign name.",
                  "title": "Campaign Name"
                },
                "createContact": {
                  "type": "string",
                  "description": "The create contact.",
                  "title": "Create Contact"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "campaignName": {
                  "type": "string",
                  "description": "The campaign name.",
                  "title": "Campaign Name"
                },
                "createContact": {
                  "type": "string",
                  "description": "The create contact.",
                  "title": "Create Contact"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "createdBy": {
                  "type": "string",
                  "description": "The created by.",
                  "title": "Created By"
                },
                "emailCampaignId": {
                  "type": "string",
                  "description": "The email campaign identifier.",
                  "title": "Email Campaign ID"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "password": {
                  "type": "string",
                  "description": "The password.",
                  "title": "Password"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "CreateASmtpApiToken",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/marketing/v3/transactional/smtp-tokens/{tokenId}/password-reset": {
      "post": {
        "summary": "Reset token password",
        "description": "Allows the creation of a replacement password for a given token. Once the password is successfully reset, the old password for the token will be invalid.",
        "operationId": "ResetThePasswordOfAnExistingToken",
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "x-ms-summary": "Token",
            "x-ms-url-encoding": "single",
            "description": "The token identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "campaignName": {
                  "type": "string",
                  "description": "The campaign name.",
                  "title": "Campaign Name"
                },
                "createContact": {
                  "type": "string",
                  "description": "The create contact.",
                  "title": "Create Contact"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "createdBy": {
                  "type": "string",
                  "description": "The created by.",
                  "title": "Created By"
                },
                "emailCampaignId": {
                  "type": "string",
                  "description": "The email campaign identifier.",
                  "title": "Email Campaign ID"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "password": {
                  "type": "string",
                  "description": "The password.",
                  "title": "Password"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "ResetThePasswordOfAnExistingToken",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/marketing/v3/transactional/single-email/send": {
      "post": {
        "summary": "Send email",
        "description": "Asynchronously send a transactional email. Returns the status of the email send with a status identifier that can be used to continuously query for the status using the Email Send Status.",
        "operationId": "SendASingleTransactionalEmailAsynchronously",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "emailId": {
                  "type": "string",
                  "description": "The email identifier.",
                  "title": "Email ID"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "to": {
                      "type": "string",
                      "description": "The to address.",
                      "title": "To"
                    },
                    "from": {
                      "type": "string",
                      "description": "The from address.",
                      "title": "From"
                    },
                    "sendId": {
                      "type": "string",
                      "description": "The send identifier.",
                      "title": "Send ID"
                    },
                    "replyTo": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The reply to array.",
                      "title": "Reply To"
                    },
                    "cc": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The CC array.",
                      "title": "CC"
                    },
                    "bcc": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The BCC array.",
                      "title": "BCC"
                    }
                  },
                  "title": "Message"
                },
                "contactProperties": {
                  "type": "object",
                  "properties": {},
                  "description": "The contact properties object.",
                  "title": "Contact Properties"
                },
                "customProperties": {
                  "type": "object",
                  "properties": {},
                  "description": "The custom properties object.",
                  "title": "Custom Properties"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "statusId": {
                  "type": "string",
                  "description": "The status identifier.",
                  "title": "Status ID"
                },
                "sendResult": {
                  "type": "string",
                  "description": "The send result.",
                  "title": "Send Result"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "eventId": {
                  "type": "object",
                  "properties": {
                    "created": {
                      "type": "string",
                      "description": "When created.",
                      "title": "Created"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    }
                  },
                  "title": "Event"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "SendASingleTransactionalEmailAsynchronously",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/communication-preferences/v3/subscribe": {
      "post": {
        "summary": "Subscribe contact",
        "description": "Subscribes a contact to the given subscription type. This action is not valid to use for subscribing a contact at a brand or portal level and will return an error.",
        "operationId": "SubscribeAContact",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "emailAddress": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email Address"
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "The subscription identifier.",
                  "title": "Subscription ID"
                },
                "legalBasis": {
                  "type": "string",
                  "description": "The legal basis.",
                  "title": "Legal Basis"
                },
                "legalBasisExplanation": {
                  "type": "string",
                  "description": "The legal basis explanation.",
                  "title": "Legal Basis Explanation"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "sourceOfStatus": {
                  "type": "string",
                  "description": "The source of status.",
                  "title": "Source Of Status"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "brandId": {
                  "type": "string",
                  "description": "The brand identifier.",
                  "title": "Brand ID"
                },
                "preferenceGroupName": {
                  "type": "string",
                  "description": "The preference group name.",
                  "title": "Preference Group"
                },
                "legalBasis": {
                  "type": "string",
                  "description": "The legal basis.",
                  "title": "Legal Basis"
                },
                "legalBasisExplanation": {
                  "type": "string",
                  "description": "The legal basis explanation.",
                  "title": "Legal Basis Explanation"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {},
              "description": "The response object.",
              "title": "Response"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {},
              "description": "The response object.",
              "title": "Response"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "SubscribeAContact",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/communication-preferences/v3/unsubscribe": {
      "post": {
        "summary": "Unsubscribe contact",
        "description": "Unsubscribes a contact from the given subscription type. This action is not valid to use for unsubscribing a contact at a brand or portal level and will return an error.",
        "operationId": "UnsubscribeAContact",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "emailAddress": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email Address"
                },
                "subscriptionId": {
                  "type": "string",
                  "description": "The subscription identifier.",
                  "title": "Subscription ID"
                },
                "legalBasis": {
                  "type": "string",
                  "description": "The legal basis.",
                  "title": "Legal Basis"
                },
                "legalBasisExplanation": {
                  "type": "string",
                  "description": "The legal basis explanation.",
                  "title": "Legal Basis Explanation"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "sourceOfStatus": {
                  "type": "string",
                  "description": "The source of status.",
                  "title": "Source Of Status"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "brandId": {
                  "type": "string",
                  "description": "The brand identifier.",
                  "title": "Brand ID"
                },
                "preferenceGroupName": {
                  "type": "string",
                  "description": "The preference group name.",
                  "title": "Preference Group"
                },
                "legalBasis": {
                  "type": "string",
                  "description": "The legal basis.",
                  "title": "Legal Basis"
                },
                "legalBasisExplanation": {
                  "type": "string",
                  "description": "The legal basis explanation.",
                  "title": "Legal Basis Explanation"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {},
              "description": "The response object.",
              "title": "Response"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {},
              "description": "The response object.",
              "title": "Response"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "UnsubscribeAContact",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/communication-preferences/v3/status/email/{emailAddress}": {
      "get": {
        "summary": "Get contact subscription statuses",
        "description": "Returns a list of subscriptions and their status for a given contact.",
        "operationId": "GetSubscriptionStatusesForAContact",
        "parameters": [
          {
            "name": "emailAddress",
            "in": "path",
            "x-ms-summary": "Email Address",
            "x-ms-url-encoding": "single",
            "description": "The email address.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "recipient": {
                  "type": "string",
                  "description": "The recipient.",
                  "title": "Recipient"
                },
                "subscriptionStatuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "sourceOfStatus": {
                        "type": "string",
                        "description": "The source of status.",
                        "title": "Source Of Status"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "brandId": {
                        "type": "string",
                        "description": "The brand identifier.",
                        "title": "Brand ID"
                      },
                      "preferenceGroupName": {
                        "type": "string",
                        "description": "The preference group name.",
                        "title": "Preference Group"
                      },
                      "legalBasis": {
                        "type": "string",
                        "description": "The legal basis.",
                        "title": "Legal Basis"
                      },
                      "legalBasisExplanation": {
                        "type": "string",
                        "description": "The legal basis explanation.",
                        "title": "Legal Basis Explanation"
                      }
                    }
                  },
                  "title": "Subscription Statuses"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetSubscriptionStatusesForAContact",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/communication-preferences/v3/status/email/bulk": {
      "post": {
        "summary": "Create bulk communication preferences",
        "description": "Creates a bulk communication preferences request. This request will return a status identifier that can be used to continuously query for the status using the Bulk Communication Preferences Status.",
        "operationId": "PostCommunicationPreferencesv3StatusEmailBulk",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "recipientToSubscriptionStatuses": {
                  "type": "object",
                  "properties": {},
                  "description": "The recipient to subscription statuses.",
                  "title": "Recipient To Subscription Statuses"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "Post-_communication-preferences_v3_status_email_bulk",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/communication-preferences/v3/definitions": {
      "get": {
        "summary": "Get subscription definitions",
        "description": "Retrieves a list of all subscription definitions for the portal.",
        "operationId": "GetSubscriptionDefinitions",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "subscriptionDefinitions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "isActive": {
                        "type": "boolean",
                        "description": "Whether is active.",
                        "title": "Is Active"
                      },
                      "isDefault": {
                        "type": "boolean",
                        "description": "Whether is default.",
                        "title": "Is Default"
                      },
                      "isInternal": {
                        "type": "boolean",
                        "description": "Whether is internal.",
                        "title": "Is Internal"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "purpose": {
                        "type": "string",
                        "description": "The purpose.",
                        "title": "Purpose"
                      },
                      "communicationMethod": {
                        "type": "string",
                        "description": "The communication method.",
                        "title": "Communication Method"
                      }
                    }
                  },
                  "title": "Subscription Definitions"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GetSubscriptionDefinitions",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/marketing/v3/emails/statistics/list": {
      "get": {
        "summary": "Get aggregated statistics",
        "description": "Retrieves aggregated statistics of emails sent in a specified time span. It also returns the list of emails that were sent during the time span.",
        "operationId": "GetAggregatedStatistics",
        "parameters": [
          {
            "name": "startTimestamp",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "The start timestamp.",
            "type": "string",
            "required": false
          },
          {
            "name": "endTimestamp",
            "in": "query",
            "x-ms-summary": "End",
            "description": "The end timestamp.",
            "type": "string",
            "required": false
          },
          {
            "name": "emailIds",
            "in": "query",
            "x-ms-summary": "Email IDs",
            "description": "The email identifiers.",
            "type": "string",
            "required": false
          },
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "Property",
            "description": "The property.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The email addresses array.",
                  "title": "Emails"
                },
                "campaignAggregations": {
                  "type": "object",
                  "properties": {},
                  "description": "The campaign aggregations object.",
                  "title": "Campaign Aggregations"
                },
                "aggregate": {
                  "type": "object",
                  "properties": {
                    "counters": {
                      "type": "object",
                      "properties": {},
                      "description": "The counters object.",
                      "title": "Counters"
                    },
                    "deviceBreakdown": {
                      "type": "object",
                      "properties": {},
                      "description": "The device breakdown object.",
                      "title": "Device Breakdown"
                    },
                    "qualifierStats": {
                      "type": "object",
                      "properties": {},
                      "description": "The qualifier stats object.",
                      "title": "Qualifier Stats"
                    },
                    "ratios": {
                      "type": "object",
                      "properties": {},
                      "description": "The rations object.",
                      "title": "Ratios"
                    }
                  },
                  "title": "Aggregate"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetAggregatedStatistics",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/marketing/v3/emails/statistics/histogram": {
      "get": {
        "summary": "Get aggregated statistic intervals",
        "description": "Retrieves aggregated statistics in intervals for a specified time span. Each interval contains aggregated statistics of the emails that were sent in that time.",
        "operationId": "GetAggregatedStatisticIntervals",
        "parameters": [
          {
            "name": "interval",
            "in": "query",
            "x-ms-summary": "Interval",
            "description": "The interval.",
            "type": "string",
            "required": false
          },
          {
            "name": "startTimestamp",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "The start timestamp.",
            "type": "string",
            "required": false
          },
          {
            "name": "endTimestamp",
            "in": "query",
            "x-ms-summary": "End",
            "description": "The end timestamp.",
            "type": "string",
            "required": false
          },
          {
            "name": "emailIds",
            "in": "query",
            "x-ms-summary": "Email IDs",
            "description": "The email identifiers.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "aggregations": {
                        "type": "object",
                        "properties": {
                          "counters": {
                            "type": "object",
                            "properties": {},
                            "description": "The counters object.",
                            "title": "Counters"
                          },
                          "deviceBreakdown": {
                            "type": "object",
                            "properties": {},
                            "description": "The device breakdown object.",
                            "title": "Device Breakdown"
                          },
                          "qualifierStats": {
                            "type": "object",
                            "properties": {},
                            "description": "The qualifier stats object.",
                            "title": "Qualifier Stats"
                          },
                          "ratios": {
                            "type": "object",
                            "properties": {},
                            "description": "The ratios object.",
                            "title": "Ratios"
                          }
                        },
                        "title": "Aggregations"
                      },
                      "interval": {
                        "type": "object",
                        "properties": {
                          "end": {
                            "type": "string",
                            "description": "The end.",
                            "title": "End"
                          },
                          "start": {
                            "type": "string",
                            "description": "The start.",
                            "title": "Start"
                          }
                        },
                        "title": "Interval"
                      }
                    }
                  },
                  "title": "Results"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GetAggregatedStatisticIntervals",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/marketing/v3/emails/{emailId}/ab-test/get-variation": {
      "get": {
        "summary": "Get AB marketing email variation",
        "description": "Retrieves the variation of an A/B marketing email. If the email is variation A (master) it will return variation B (variant) and vice versa.",
        "operationId": "GetTheVariationOfAAnA_bMarketingEmail",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "x-ms-summary": "Email ID",
            "x-ms-url-encoding": "single",
            "description": "The email identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "object",
                  "properties": {
                    "templatePath": {
                      "type": "string",
                      "description": "The template path.",
                      "title": "Template Path"
                    },
                    "plainTextVersion": {
                      "type": "string",
                      "description": "The plain text version.",
                      "title": "Plain Text Version"
                    },
                    "widgets": {
                      "type": "object",
                      "properties": {},
                      "description": "The widgets object.",
                      "title": "Widgets"
                    },
                    "widgetContainers": {
                      "type": "object",
                      "properties": {},
                      "description": "The widgets containers.",
                      "title": "Widget Containers"
                    },
                    "flexAreas": {
                      "type": "object",
                      "properties": {},
                      "description": "The flex areas object.",
                      "title": "Flex Areas"
                    },
                    "styleSettings": {
                      "type": "object",
                      "properties": {},
                      "description": "The style settings object.",
                      "title": "Style Settings"
                    },
                    "smartFields": {
                      "type": "object",
                      "properties": {},
                      "description": "The smart fields.",
                      "title": "Smart Fields"
                    },
                    "themeSettingsValues": {
                      "type": "object",
                      "properties": {},
                      "description": "The theme settings object.",
                      "title": "Theme Settings"
                    }
                  },
                  "title": "Content"
                },
                "from": {
                  "type": "object",
                  "properties": {
                    "fromName": {
                      "type": "string",
                      "description": "The from name.",
                      "title": "Name"
                    },
                    "replyTo": {
                      "type": "string",
                      "description": "The reply to.",
                      "title": "Reply To"
                    },
                    "customReplyTo": {
                      "type": "string",
                      "description": "The custom reply to.",
                      "title": "Custom Reply To"
                    }
                  },
                  "title": "From"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "sendOnPublish": {
                  "type": "boolean",
                  "description": "Whether to send on publish.",
                  "title": "Send On Publish"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "subcategory": {
                  "type": "string",
                  "description": "The subcategory.",
                  "title": "Subcategory"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject.",
                  "title": "Subject"
                },
                "to": {
                  "type": "object",
                  "properties": {
                    "contactLists": {
                      "type": "object",
                      "properties": {
                        "include": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The include array.",
                          "title": "Include"
                        },
                        "exclude": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The exclude array.",
                          "title": "Exclude"
                        }
                      },
                      "title": "Contact Lists"
                    },
                    "contactIds": {
                      "type": "object",
                      "properties": {
                        "include": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The include array.",
                          "title": "Include"
                        },
                        "exclude": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The exclude array.",
                          "title": "Exclude"
                        }
                      },
                      "title": "Contact Ids"
                    },
                    "limitSendFrequency": {
                      "type": "boolean",
                      "description": "Whether to limit send frequency.",
                      "title": "Limit Send Frequency"
                    },
                    "suppressGraymail": {
                      "type": "boolean",
                      "description": "Whether to suppress graymail.",
                      "title": "Suppress Graymail"
                    }
                  },
                  "title": "To"
                },
                "createdById": {
                  "type": "string",
                  "description": "The created by identifier.",
                  "title": "Created By ID"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "activeDomain": {
                  "type": "string",
                  "description": "The active domain.",
                  "title": "Active Domain"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                },
                "folderId": {
                  "type": "string",
                  "description": "The folder identifier.",
                  "title": "Folder ID"
                },
                "feedbackSurveyId": {
                  "type": "string",
                  "description": "The feedback survey identifier.",
                  "title": "Feedback Survey ID"
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "counters": {
                      "type": "object",
                      "properties": {},
                      "description": "The counters object.",
                      "title": "Counters"
                    },
                    "deviceBreakdown": {
                      "type": "object",
                      "properties": {},
                      "description": "The device breakdown object.",
                      "title": "Device Breakdown"
                    },
                    "qualifierStats": {
                      "type": "object",
                      "properties": {},
                      "description": "The qualifier stats object.",
                      "title": "Qualifier Stats"
                    },
                    "ratios": {
                      "type": "object",
                      "properties": {},
                      "description": "The rations object.",
                      "title": "Ratios"
                    }
                  },
                  "title": "Stats"
                },
                "testing": {
                  "type": "object",
                  "properties": {
                    "testId": {
                      "type": "string",
                      "description": "The test identifier.",
                      "title": "Test ID"
                    },
                    "hoursToWait": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The hours to wait.",
                      "title": "Hours To Wait"
                    },
                    "abSuccessMetric": {
                      "type": "string",
                      "description": "The A/B success metric.",
                      "title": "AB Success Metric"
                    },
                    "abSampleSizeDefault": {
                      "type": "string",
                      "description": "The A/B sample size default.",
                      "title": "AB Sample Size Default"
                    },
                    "abStatus": {
                      "type": "string",
                      "description": "The A/B status.",
                      "title": "AB Status"
                    },
                    "abTestPercentage": {
                      "type": "string",
                      "description": "The A/B test percentage.",
                      "title": "AB Test Percentage"
                    },
                    "abSamplingDefault": {
                      "type": "string",
                      "description": "The A/B sampling default.",
                      "title": "AB Sampling Default"
                    }
                  },
                  "title": "Testing"
                },
                "subscriptionDetails": {
                  "type": "object",
                  "properties": {
                    "subscriptionId": {
                      "type": "string",
                      "description": "The subscription identifier.",
                      "title": "Subscription ID"
                    },
                    "preferencesGroupId": {
                      "type": "string",
                      "description": "The preferences group identifier.",
                      "title": "Preferences Group ID"
                    },
                    "officeLocationId": {
                      "type": "string",
                      "description": "The office location identifier.",
                      "title": "Office Location ID"
                    }
                  },
                  "title": "Subscription Details"
                },
                "updatedById": {
                  "type": "string",
                  "description": "The updated by identifier.",
                  "title": "Updated By ID"
                },
                "publishedById": {
                  "type": "string",
                  "description": "The published by identifier.",
                  "title": "Published By ID"
                },
                "language": {
                  "type": "string",
                  "description": "The langauge.",
                  "title": "Language"
                },
                "campaign": {
                  "type": "string",
                  "description": "The campaign.",
                  "title": "Campaign"
                },
                "webversion": {
                  "type": "object",
                  "properties": {
                    "slug": {
                      "type": "string",
                      "description": "The slug.",
                      "title": "Slug"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain.",
                      "title": "Domain"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title.",
                      "title": "Title"
                    },
                    "metaDescription": {
                      "type": "string",
                      "description": "The meta description.",
                      "title": "Meta Description"
                    },
                    "redirectToUrl": {
                      "type": "string",
                      "description": "The redirect to URL address.",
                      "title": "Redirect To URL"
                    },
                    "redirectToPageId": {
                      "type": "string",
                      "description": "The redirect to page identifier.",
                      "title": "Redirect To Page ID"
                    },
                    "expiresAt": {
                      "type": "string",
                      "description": "When expires at.",
                      "title": "Expires At"
                    }
                  },
                  "title": "Webversion"
                },
                "rssData": {
                  "type": "object",
                  "properties": {
                    "maxEntries": {
                      "type": "string",
                      "description": "The max entries.",
                      "title": "Max Entries"
                    },
                    "timing": {
                      "type": "object",
                      "properties": {},
                      "description": "The timing object.",
                      "title": "Timing"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "hubspotBlogId": {
                      "type": "string",
                      "description": "The HubSpot blog identifier.",
                      "title": "HubSpot Blog ID"
                    },
                    "blogEmailType": {
                      "type": "string",
                      "description": "The blog email type.",
                      "title": "Blog Email Type"
                    },
                    "blogImageMaxWidth": {
                      "type": "string",
                      "description": "The blog image max width.",
                      "title": "Blog Image Max Width"
                    },
                    "rssEntryTemplate": {
                      "type": "string",
                      "description": "The entry template.",
                      "title": "Entry Template"
                    },
                    "useHeadlineAsSubject": {
                      "type": "boolean",
                      "description": "Whether to use headline as subject.",
                      "title": "Use Headline As Subject"
                    },
                    "blogLayout": {
                      "type": "string",
                      "description": "The blog layout.",
                      "title": "Blog Layout"
                    }
                  },
                  "title": "RSS Data"
                },
                "isTransactional": {
                  "type": "boolean",
                  "description": "Whether is transactional.",
                  "title": "Is Transactional"
                },
                "isPublished": {
                  "type": "boolean",
                  "description": "Whether is published.",
                  "title": "Is Published"
                },
                "publishDate": {
                  "type": "string",
                  "description": "The published date.",
                  "title": "Published Date"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "deletedAt": {
                  "type": "string",
                  "description": "When deleted at.",
                  "title": "Deleted At"
                },
                "publishedAt": {
                  "type": "string",
                  "description": "The published at.",
                  "title": "Published At"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GetTheVariationOfAAnA_bMarketingEmail",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/marketing/v3/emails/{emailId}/draft/reset": {
      "post": {
        "summary": "Reset Draft",
        "description": "Resets the draft back to a copy of the live object.",
        "operationId": "ResetDraft",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "x-ms-summary": "Email ID",
            "x-ms-url-encoding": "single",
            "description": "The email identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
[...]
