{
  "swagger": "2.0",
  "info": {
    "title": "BttnV2",
    "description": "The magical bttn that automates your business, improves your customer experience, and so much more\u2026",
    "version": "1.0",
    "contact": {
      "name": "Bttn support",
      "url": "https://bttn.freshdesk.com/support/solutions",
      "email": "support@bt.tn"
    }
  },
  "host": "powerautomate.bt.tn",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/company/1": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "getCompanies",
        "description": "Retrieves the companies from BTTN",
        "operationId": "GetCompanies",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/api/action/1/powerAutomate/addSubscription": {
      "x-ms-notification-content": {
        "description": "Bttn Webhook Response",
        "schema": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "event_id": {
                "type": "string",
                "description": "event_id"
              },
              "action_configuration_id": {
                "type": "string",
                "description": "action_configuration_id"
              },
              "action_type": {
                "type": "string",
                "description": "action_type"
              },
              "company_id": {
                "type": "string",
                "description": "company_id"
              },
              "configuration": {
                "type": "object",
                "properties": {},
                "description": "configuration"
              },
              "created_at": {
                "type": "string",
                "description": "created_at"
              },
              "device_id": {
                "type": "string",
                "description": "device_id"
              },
              "event_status": {
                "type": "string",
                "description": "event_status"
              },
              "trigger_type": {
                "type": "string",
                "description": "trigger_type"
              },
              "updated_at": {
                "type": "string",
                "description": "updated_at"
              }
            }
          }
        }
      }
    },
    "/api/action/1/powerAutomate/addWebhook": {
      "x-ms-notification-content": {
        "description": "Bttn Webhook Response",
        "schema": {
          "type": "object",
          "properties": {
            "actionName": {
              "type": "string",
              "description": "actionName"
            },
            "deviceId": {
              "type": "string",
              "description": "deviceId"
            },
            "triggerType": {
              "type": "string",
              "description": "triggerType"
            },
            "eventId": {
              "type": "string",
              "description": "eventId"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "summary": "bttnWebhook",
        "description": "Creates the webhook that will be used to trigger the Flow",
        "operationId": "BttnWebhook",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "actionConfigId": {
                  "type": "string",
                  "description": "actionConfigId",
                  "title": "",
                  "x-ms-dynamic-values": {
                    "operationId": "GetActionConfigurations",
                    "value-path": "actionConfigurationId",
                    "value-title": "name"
                  }
                },
                "hookUrl": {
                  "type": "string",
                  "description": "hookUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "actionConfigId",
                "hookUrl"
              ]
            }
          }
        ]
      }
    },
    "/api/action/1/powerAutomate/getActionsForUser": {
      "get": {
        "responses": {
          "200": {
            "description": "ActionResponse",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actionConfigurationId": {
                    "type": "string",
                    "description": "actionConfigurationId"
                  },
                  "companyId": {
                    "type": "string",
                    "description": "companyId"
                  },
                  "actionType": {
                    "type": "string",
                    "description": "actionType"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "configuration": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    },
                    "description": "configuration"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "createdAt"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "updatedAt"
                  },
                  "pressLimit": {
                    "type": "string",
                    "description": "pressLimit"
                  }
                }
              }
            }
          }
        },
        "summary": "getActionConfigurations",
        "description": "Retrieves the available action configurations",
        "operationId": "GetActionConfigurations",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    },
    "/api/action/1/powerAutomate/removeWebhook/{actionConfigurationId}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "deleteWebhook",
        "description": "Deletes the webhook",
        "operationId": "DeleteWebhook",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "actionConfigurationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://bt.tn"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://bt.tn/legal#privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Internet of Things;Productivity"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://sso.bt.tn/auth/realms/bttn/protocol/openid-connect/auth",
      "tokenUrl": "https://sso.bt.tn/auth/realms/bttn/protocol/openid-connect/token",
      "scopes": {
        "powerautomate": "powerautomate"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "powerautomate"
      ]
    }
  ],
  "tags": []
}