{
  "swagger": "2.0",
  "info": {
    "title": "DigiDates",
    "description": "DigiDates.de provides a service for time and date calculations.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "digidates.de",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/unixtime": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                }
              }
            }
          }
        },
        "summary": "Get Unix time",
        "description": "Retrieve the Unix time for a specific timestamp.",
        "operationId": "UnixGet",
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "x-ms-summary": "Timestamp",
            "description": "The timestamp.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/checkdate": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "checkdate": {
                  "type": "boolean",
                  "description": "Whether date is valid.",
                  "title": "Valid Date"
                }
              }
            }
          }
        },
        "summary": "Validate date",
        "description": "Returns the boolean for a specified date.",
        "operationId": "DateValidateGet",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "x-ms-summary": "Date",
            "description": "The date.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/week": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "week": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The week number.",
                  "title": "Week"
                }
              }
            }
          }
        },
        "summary": "Get calendar week",
        "description": "Retrieve the calendar week number for a specified date according to ISO 8601.",
        "operationId": "CalendarWeekGet",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "x-ms-summary": "Date",
            "description": "The date.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/leapyear": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "leapyear": {
                  "type": "boolean",
                  "description": "Whether year is a leap year.",
                  "title": "Leap Year"
                }
              }
            }
          }
        },
        "summary": "Validate leap year",
        "description": "Returns the boolean for whether year contains a leap day.",
        "operationId": "LeapYearGet",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "x-ms-summary": "Year",
            "description": "The year.",
            "required": true,
            "type": "integer"
          }
        ]
      }
    },
    "/age/{date}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "age": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The age.",
                  "title": "Age"
                },
                "ageextended": {
                  "type": "object",
                  "properties": {
                    "years": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of years.",
                      "title": "Years"
                    },
                    "months": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of months.",
                      "title": "Months"
                    },
                    "days": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of days.",
                      "title": "Days"
                    }
                  },
                  "title": "Age Extended"
                }
              }
            }
          }
        },
        "summary": "Calculate age",
        "description": "Retrieve the age from a specific date to today.",
        "operationId": "AgeGet",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "x-ms-summary": "Date",
            "x-ms-url-encoding": "single",
            "description": "The date.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/countdown/{date}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "daysonly": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of days.",
                  "title": "Days"
                },
                "countdownextended": {
                  "type": "object",
                  "properties": {
                    "years": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of years.",
                      "title": "Years"
                    },
                    "months": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of months.",
                      "title": "Months"
                    },
                    "days": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of days.",
                      "title": "Days"
                    }
                  },
                  "title": "Countdown Extended"
                }
              }
            }
          }
        },
        "summary": "Start countdown",
        "description": "Retrieve the time until a specific date.",
        "operationId": "CountdownGet",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "x-ms-summary": "Date",
            "x-ms-url-encoding": "single",
            "description": "The date.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/progress": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "float": {
                  "type": "number",
                  "format": "float",
                  "description": "The float value.",
                  "title": "Float"
                },
                "percent": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The percentage.",
                  "title": "Percent"
                }
              }
            }
          }
        },
        "summary": "Get progress",
        "description": "Retrieve the elapsed period from the start date to the end date in percent.",
        "operationId": "ProgressGet",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start",
            "description": "The start.",
            "required": true,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "x-ms-summary": "End",
            "description": "The end.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/co2/{year}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "co2": {
                  "type": "number",
                  "format": "float",
                  "description": "The amount of CO2.",
                  "title": "C02"
                }
              }
            }
          }
        },
        "summary": "Get annual CO2",
        "description": "Retrieve the annual CO2 in the atmosphere in PPM.",
        "operationId": "CO2Get",
        "parameters": [
          {
            "name": "year",
            "in": "path",
            "x-ms-summary": "Year",
            "x-ms-url-encoding": "single",
            "description": "The year.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/co2/reverse/{value}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "year": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The year.",
                  "title": "Year"
                },
                "co2": {
                  "type": "number",
                  "format": "float",
                  "description": "The amount of CO2.",
                  "title": "CO2"
                }
              }
            }
          }
        },
        "summary": "Get year with CO2 value",
        "description": "Retrieve the year in which annual C02 in the atmosphere matches the given value.",
        "parameters": [
          {
            "name": "value",
            "in": "path",
            "x-ms-summary": "CO2",
            "x-ms-url-encoding": "single",
            "description": "The amount of CO2.",
            "required": true,
            "type": "number",
            "format": "float"
          }
        ],
        "operationId": "CO2ValueGet"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://digidates.de/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://digidates.de/en/datenschutz"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}