{
  "swagger": "2.0",
  "info": {
    "title": "Email Domain Checker",
    "description": "Quickly clean your email lists, and check to see if the email address or an email domain to see if what you have is valid.",
    "version": "1.0",
    "contact": {
      "name": "Mightora.io",
      "url": "https://mightora.io/email-checker/",
      "email": "support@mightora.io"
    }
  },
  "host": "email-domain-checker1.p.rapidapi.com",
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://mightora.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://mightora.io/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Data"
    }
  ],
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/checkDomain/": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "valid_email_domain": {
                  "type": "boolean",
                  "description": "Boolean response as to whether email domain is valid.",
                  "title": "Valid Email Domain",
                  "x-ms-summary": "Valid Email Domain",
                  "enum": [
                    true,
                    false
                  ]
                },
                "message": {
                  "type": "string",
                  "description": "The message from the email checker tool.",
                  "x-ms-summary": "Message",
                  "title": "Message"
                },
                "email_delivered_to": {
                  "type": "string",
                  "x-ms-summary": "Email delivered to",
                  "description": "The email server to which the email will be delivered.",
                  "title": "Email delivered to"
                },
                "email_delivered_to_array": {
                  "type": "array",
                  "x-ms-summary": "Email delivered to (array)",
                  "items": {
                    "type": "string",
                    "description": "The email server to which the email will be delivered. Array response.",
                    "title": "Email delivered to (array)"
                  },
                  "description": "email_delivered_to_array"
                },
                "more_info": {
                  "type": "string",
                  "x-ms-summary": "More Info",
                  "description": "More information link about the tool.",
                  "title": "More Info"
                },
                "message_from_developer": {
                  "type": "string",
                  "x-ms-summary": "Message from developer",
                  "description": "Message from developer about the platform. e.g. warnings about changes due.",
                  "title": "Message from developer"
                }
              }
            }
          }
        },
        "summary": "Check Domain",
        "description": "Quickly check to see if an email domain is valid.",
        "operationId": "CheckDomain",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "mightora.io",
            "x-ms-summary": "Email Domain",
            "description": "Email address or email domain"
          },
          {
            "name": "X-RapidAPI-Host",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "email-domain-checker1.p.rapidapi.com",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-RapidAPI-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}