{
  "swagger": "2.0",
  "info": {
    "title": "OpenAI GPT",
    "description": "OpenAI is an artificial intelligence research laboratory. The company conducts research in the field of AI with the stated goal of promoting and developing friendly AI in a way that benefits humanity as a whole. Through this connector you can access the Generative Pre-trained Transformer 4 (GPT-4), an autoregressive language model that uses deep learning to produce human-like text, plus many other models.",
    "version": "1.4",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    },
    "x-ms-keywords": [
      "OpenAI",
      "AI",
      "LLM",
      "completion"
    ]
  },
  "host": "api.openai.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/completions": {
      "post": {
        "description": "Creates a completion for the provided prompt and parameters.",
        "summary": "Create completion",
        "operationId": "CompletionPost",
        "deprecated": true,
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "The body.",
            "schema": {
              "type": "object",
              "properties": {
                "model": {
                  "type": "string",
                  "description": "ID of the model to use.",
                  "title": "Model",
                  "default": "gpt-4-turbo",
                  "x-ms-dynamic-values": {
                    "operationId": "ModelsGet",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "id"
                  }
                },
                "prompt": {
                  "description": "The prompt(s) to generate completions for, encoded as a string, array of strings, array of tokens, or array of token arrays.",
                  "title": "Prompt",
                  "type": "string"
                },
                "max_tokens": {
                  "description": "The maximum number of tokens to generate in the completion.",
                  "title": "Max Tokens",
                  "type": "integer",
                  "format": "int32"
                },
                "temperature": {
                  "description": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.",
                  "title": "Temperature",
                  "type": "number",
                  "format": "double"
                },
                "top_p": {
                  "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.",
                  "title": "Top P",
                  "type": "number",
                  "format": "double"
                },
                "n": {
                  "description": "How many completions to generate for each prompt.",
                  "title": "N",
                  "type": "integer",
                  "format": "int32"
                },
                "logprobs": {
                  "description": "Include the log probabilities on the logprobs most likely tokens, as well the chosen tokens.",
                  "title": "Log Probabilities",
                  "type": "string"
                },
                "stop": {
                  "description": "A sequence where the service will stop generating further tokens.",
                  "title": "Stop",
                  "type": "string"
                }
              },
              "required": [
                "model"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "first_completion": {
                  "type": "string",
                  "description": "first_completion"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "object": {
                      "type": "string",
                      "description": "The object.",
                      "title": "Object"
                    },
                    "created": {
                      "type": "integer",
                      "format": "int32",
                      "description": "When created.",
                      "title": "Created"
                    },
                    "model": {
                      "type": "string",
                      "description": "The model.",
                      "title": "Model"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string",
                            "description": "The text.",
                            "title": "Text"
                          },
                          "index": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The index",
                            "title": "Index"
                          },
                          "logprobs": {
                            "type": "string",
                            "description": "The log probs.",
                            "title": "Log Probs"
                          },
                          "finish_reason": {
                            "type": "string",
                            "description": "The finish reason",
                            "title": "Finish Reason"
                          }
                        }
                      },
                      "title": "Choices"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The prompt tokens.",
                          "title": "Prompt Tokens"
                        },
                        "completion_tokens": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The completion tokens.",
                          "title": "Completion Tokens"
                        },
                        "total_tokens": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total tokens.",
                          "title": "Total Tokens"
                        }
                      },
                      "title": "Usage"
                    }
                  },
                  "title": "Result"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "CompletionPost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "first_content": {
                  "type": "string",
                  "description": "The first content.",
                  "title": "First Content"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created.",
                  "title": "Created"
                },
                "choices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The index.",
                        "title": "Index"
                      },
                      "message": {
                        "type": "object",
                        "properties": {
                          "role": {
                            "type": "string",
                            "description": "The role.",
                            "title": "Role"
                          },
                          "content": {
                            "type": "string",
                            "description": "The content.",
                            "title": "Content"
                          }
                        },
                        "title": "Message"
                      },
                      "finish_reason": {
                        "type": "string",
                        "description": "The finish reason.",
                        "title": "Finish Reason"
                      }
                    }
                  },
                  "title": "Choices"
                },
                "usage": {
                  "type": "object",
                  "properties": {
                    "prompt_tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The prompt tokens.",
                      "title": "Prompt Tokens"
                    },
                    "completion_tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The completion tokens.",
                      "title": "Completion Tokens"
                    },
                    "total_tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total tokens.",
                      "title": "Total Tokens"
                    }
                  },
                  "title": "Usage"
                }
              }
            }
          }
        },
        "summary": "Get chat completions",
        "description": "Retrieves a chat completion powered by ChatGPT.",
        "operationId": "ChatPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "model": {
                  "type": "string",
                  "description": "The chat model.",
                  "title": "Model",
                  "default": "gpt-4-turbo",
                  "x-ms-dynamic-values": {
                    "operationId": "ModelsGet",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "id"
                  }
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "role": {
                        "type": "string",
                        "description": "The role.",
                        "title": "Role",
                        "default": "user"
                      },
                      "content": {
                        "type": "string",
                        "description": "The content.",
                        "title": "Content"
                      }
                    },
                    "required": [
                      "content",
                      "role"
                    ]
                  },
                  "title": "Messages"
                },
                "max_tokens": {
                  "description": "The maximum number of tokens to generate in the completion.",
                  "title": "Max Tokens",
                  "type": "integer",
                  "format": "int32"
                },
                "temperature": {
                  "description": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.",
                  "title": "Temperature",
                  "type": "number",
                  "format": "double"
                },
                "top_p": {
                  "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.",
                  "title": "Top P",
                  "type": "number",
                  "format": "double"
                },
                "n": {
                  "description": "How many completions to generate for each prompt.",
                  "title": "N",
                  "type": "integer",
                  "format": "int32"
                },
                "stop": {
                  "description": "A sequence where the service will stop generating further tokens.",
                  "title": "Stop",
                  "type": "string"
                },
                "presence_penalty": {
                  "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics.",
                  "title": "Presence Penalty",
                  "type": "number",
                  "format": "double"
                },
                "frequency_penalty": {
                  "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.",
                  "title": "Frequency Penalty",
                  "type": "number",
                  "format": "double"
                },
                "user": {
                  "description": "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse.",
                  "title": "User",
                  "type": "string"
                }
              },
              "required": [
                "model",
                "messages"
              ]
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ChatPost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/v1/edits": {
      "post": {
        "description": "Creates a new edit for the provided input, instruction, and parameters.",
        "summary": "Edit Prompt",
        "operationId": "EditPost",
        "deprecated": true,
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "The body.",
            "schema": {
              "type": "object",
              "properties": {
                "model": {
                  "title": "Model",
                  "description": "ID of the model to use.",
                  "type": "string",
                  "enum": [
                    "gpt-3.5-turbo",
                    "gpt-3.5-turbo-0301",
                    "gpt-4",
                    "gpt-4-0314",
                    "gpt-4-32k",
                    "gpt-4-32k-0314"
                  ]
                },
                "input": {
                  "description": "The input text to use as a starting point for the edit.",
                  "title": "Input",
                  "type": "string"
                },
                "instruction": {
                  "description": "The instruction that tells the model how to edit the prompt.",
                  "title": "Instruction",
                  "type": "string"
                },
                "n": {
                  "description": "How many edits to generate for the input and instruction.",
                  "title": "N",
                  "type": "integer",
                  "format": "int32"
                },
                "temperature": {
                  "description": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 will make the output more random, while lower values like 0.2 will make it more focused and deterministic.",
                  "title": "Temperature",
                  "type": "number",
                  "format": "double"
                },
                "top_p": {
                  "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered.",
                  "title": "Top P",
                  "type": "number",
                  "format": "double"
                }
              },
              "required": [
                "model",
                "instruction"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "description": "The object.",
                  "title": "Object",
                  "type": "string"
                },
                "created": {
                  "description": "When created.",
                  "title": "Created",
                  "type": "integer",
                  "format": "int32"
                },
                "choices": {
                  "description": "The choices.",
                  "title": "Choices",
                  "type": "array",
                  "items": {
                    "title": "Items",
                    "type": "object",
                    "properties": {
                      "text": {
                        "description": "The text.",
                        "title": "Text",
                        "type": "string"
                      },
                      "index": {
                        "description": "The index.",
                        "title": "Index",
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  }
                },
                "usage": {
                  "title": "Usage",
                  "description": "usage",
                  "type": "object",
                  "properties": {
                    "prompt_tokens": {
                      "description": "The prompt tokens.",
                      "title": "Prompt Tokens",
                      "type": "integer",
                      "format": "int32"
                    },
                    "completion_tokens": {
                      "description": "The completion tokens.",
                      "title": "Completion Tokens",
                      "type": "integer",
                      "format": "int32"
                    },
                    "total_tokens": {
                      "description": "The total tokens.",
                      "title": "Total Tokens",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "created": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created.",
                        "title": "Created"
                      },
                      "owned_by": {
                        "type": "string",
                        "description": "The owned by.",
                        "title": "Owned By"
                      },
                      "permission": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "object": {
                              "type": "string",
                              "description": "The object.",
                              "title": "Object"
                            },
                            "created": {
                              "type": "integer",
                              "format": "int32",
                              "description": "When created.",
                              "title": "Created"
                            },
                            "allow_create_engine": {
                              "type": "boolean",
                              "description": "Whether to allow create engine.",
                              "title": "Allow Create Engine"
                            },
                            "allow_sampling": {
                              "type": "boolean",
                              "description": "Whether to allow sampling.",
                              "title": "Allow Sampling"
                            },
                            "allow_logprobs": {
                              "type": "boolean",
                              "description": "Whether to allow logprobs.",
                              "title": "Allow Logprobs"
                            },
                            "allow_search_indices": {
                              "type": "boolean",
                              "description": "Whether to allow search indices .",
                              "title": "Allow Search Indices"
                            },
                            "allow_view": {
                              "type": "boolean",
                              "description": "Whether to allow view.",
                              "title": "Allow View"
                            },
                            "allow_fine_tuning": {
                              "type": "boolean",
                              "description": "Whether to allow fine tuning.",
                              "title": "Allow Fine Tuning"
                            },
                            "organization": {
                              "type": "string",
                              "description": "The organization.",
                              "title": "Organization"
                            },
                            "group": {
                              "type": "string",
                              "description": "The group.",
                              "title": "Group"
                            },
                            "is_blocking": {
                              "type": "boolean",
                              "description": "Whether is blocked.",
                              "title": "Is Blocking"
                            }
                          }
                        },
                        "title": "Permission"
                      },
                      "root": {
                        "type": "string",
                        "description": "The root.",
                        "title": "Root"
                      },
                      "parent": {
                        "type": "string",
                        "description": "The parent.",
                        "title": "Parent"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "List models",
        "description": "Lists the currently available models, and provides basic information about each one such as the owner and availability.",
        "operationId": "ModelsGet",
        "parameters": [],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ModelsGet",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/v1/fine_tuning/jobs": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "fine_tuned_model": {
                  "type": "string",
                  "description": "The fine-tuned model.",
                  "title": "Fine-Tuned Model"
                },
                "organization_id": {
                  "type": "string",
                  "description": "The organization identifier.",
                  "title": "Organization ID"
                },
                "result_files": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The result files.",
                  "title": "Result Files"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "validation_file": {
                  "type": "string",
                  "description": "The validation file.",
                  "title": "Validation File"
                },
                "training_file": {
                  "type": "string",
                  "description": "The training file.",
                  "title": "Training File"
                }
              }
            }
          }
        },
        "summary": "Create fine-tuning job",
        "description": "Creates a job that fine-tunes a specified model from a given dataset.",
        "operationId": "FineTuningPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "training_file": {
                  "type": "string",
                  "description": "The ID of an uploaded file that contains training data.",
                  "title": "Training File"
                },
                "validation_file": {
                  "type": "string",
                  "description": "The ID of an uploaded file that contains validation data.",
                  "title": "Validation File"
                },
                "model": {
                  "type": "string",
                  "description": "The name of the model to fine-tune.",
                  "title": "Model"
                },
                "hyperparameters": {
                  "type": "object",
                  "properties": {
                    "n_epochs": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of epochs to train the model for. An epoch refers to one full cycle through the training dataset.",
                      "title": "Epochs"
                    }
                  },
                  "title": "Hyperparameters"
                },
                "suffix": {
                  "type": "string",
                  "description": "A string of up to 40 characters that will be added to your fine-tuned model name.",
                  "title": "Suffix"
                }
              },
              "required": [
                "training_file",
                "model"
              ]
            }
          }
        ]
      }
    },
    "/v1/fine_tuning/jobs/{fine_tuning_job_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "finished_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When finished at.",
                  "title": "Finished At"
                },
                "fine_tuned_model": {
                  "type": "string",
                  "description": "The fine-tuned model.",
                  "title": "Fine-Tuned Model"
                },
                "organization_id": {
                  "type": "string",
                  "description": "The organization identifier.",
                  "title": "Organization ID"
                },
                "result_files": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The result files.",
                  "title": "Result Files"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "validation_file": {
                  "type": "string",
                  "description": "The validation file.",
                  "title": "Validation File"
                },
                "training_file": {
                  "type": "string",
                  "description": "The training file.",
                  "title": "Training File"
                },
                "hyperparameters": {
                  "type": "object",
                  "properties": {
                    "n_epochs": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of epochs.",
                      "title": "epochs"
                    }
                  },
                  "title": "Hyperparameters"
                },
                "trained_tokens": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of trained tokens.",
                  "title": "Trained Tokens"
                }
              }
            }
          }
        },
        "summary": "Retrieve fine-tuning job",
        "description": "Retrieve info about a fine-tuning job.",
        "operationId": "FineTuningGet",
        "parameters": [
          {
            "name": "fine_tuning_job_id",
            "in": "path",
            "x-ms-summary": "Fine-tuning Job ID",
            "x-ms-url-encoding": "single",
            "description": "The fine-tuning job identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v1/fine_tuning/jobs/{fine_tuning_job_id}/cancel": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "fine_tuned_model": {
                  "type": "string",
                  "description": "The fine-tuned model.",
                  "title": "Fine-Tuned Model"
                },
                "organization_id": {
                  "type": "string",
                  "description": "The organization identifier.",
                  "title": "Organization ID"
                },
                "result_files": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The result files.",
                  "title": "Result Files"
                },
                "hyperparameters": {
                  "type": "object",
                  "properties": {
                    "n_epochs": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of epochs.",
                      "title": "Epochs"
                    }
                  },
                  "title": "Hyperparameters"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "validation_file": {
                  "type": "string",
                  "description": "The validation file.",
                  "title": "Validation File"
                },
                "training_file": {
                  "type": "string",
                  "description": "The training file.",
                  "title": "Training File"
                }
              }
            }
          }
        },
        "summary": "Cancel fine-tuning",
        "parameters": [
          {
            "name": "fine_tuning_job_id",
            "in": "path",
            "x-ms-summary": "Fine-tuning Job ID",
            "x-ms-url-encoding": "single",
            "description": "The fine-tuning job identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Immediately cancel a fine-tune job.",
        "operationId": "FineTuningCancelPost"
      }
    },
    "/v1/fine_tuning/jobs/{fine_tuning_job_id}/events": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "created_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "level": {
                        "type": "string",
                        "description": "The level.",
                        "title": "Level"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "data": {
                        "type": "string",
                        "description": "The data.",
                        "title": "Data"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Data"
                },
                "has_more": {
                  "type": "boolean",
                  "description": "Whether has more.",
                  "title": "Has More"
                }
              }
            }
          }
        },
        "summary": "List fine-tuning events",
        "parameters": [
          {
            "name": "fine_tuning_job_id",
            "in": "path",
            "x-ms-summary": "Fine-tuning Job ID",
            "x-ms-url-encoding": "single",
            "description": "The fine-tuning job identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The identifier for the last event from the previous pagination request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The number of events to retrieve.",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Retrieve status updates for a fine-tuning job.",
        "operationId": "FineTuningEventsGet"
      }
    },
    "/v1/moderations": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "flagged": {
                        "type": "boolean",
                        "description": "Whether flagged.",
                        "title": "Flagged"
                      },
                      "categories": {
                        "type": "object",
                        "properties": {
                          "sexual": {
                            "type": "boolean",
                            "description": "Whether sexual.",
                            "title": "Sexual"
                          },
                          "hate": {
                            "type": "boolean",
                            "description": "Whether hateful.",
                            "title": "Hate"
                          },
                          "harassment": {
                            "type": "boolean",
                            "description": "Whether harrassment.",
                            "title": "Harassment"
                          },
                          "self-harm": {
                            "type": "boolean",
                            "description": "Whether self-harm.",
                            "title": "self-harm"
                          },
                          "sexual/minors": {
                            "type": "boolean",
                            "description": "Whether minor sexual.",
                            "title": "sexual/minors"
                          },
                          "hate/threatening": {
                            "type": "boolean",
                            "description": "Whether threatening hateful.",
                            "title": "hate/threatening"
                          },
                          "violence/graphic": {
                            "type": "boolean",
                            "description": "Whether graphic violence.",
                            "title": "violence/graphic"
                          },
                          "self-harm/intent": {
                            "type": "boolean",
                            "description": "Whether intent to self-harm.",
                            "title": "self-harm/intent"
                          },
                          "self-harm/instructions": {
                            "type": "boolean",
                            "description": "Whether self-harm instructions.",
                            "title": "self-harm/instructions"
                          },
                          "harassment/threatening": {
                            "type": "boolean",
                            "description": "Whether threatening harassment.",
                            "title": "harassment/threatening"
                          },
                          "violence": {
                            "type": "boolean",
                            "description": "Whether violence.",
                            "title": "Violence"
                          }
                        },
                        "title": "Categories"
                      },
                      "category_scores": {
                        "type": "object",
                        "properties": {
                          "sexual": {
                            "type": "number",
                            "format": "float",
                            "description": "The number of sexual.",
                            "title": "Sexual"
                          },
                          "hate": {
                            "type": "number",
                            "format": "float",
                            "description": "The number of hateful.",
                            "title": "Hate"
                          },
                          "harassment": {
                            "type": "number",
                            "format": "float",
                            "description": "The number of harassment.",
                            "title": "Harassment"
                          },
                          "self-harm": {
                            "type": "number",
                            "format": "float",
                            "description": "The number of self-harm.",
                            "title": "self-harm"
                          },
                          "sexual/minors": {
                            "type": "number",
                            "format": "float",
                            "description": "The number of minor sexual.",
                            "title": "sexual/minors"
                          },
                          "hate/threatening": {
                            "type": "number",
                            "format": "float",
                            "description": "The number of threatening hateful.",
                            "title": "hate/threatening"
                          },
                          "violence/graphic": {
                            "type": "number",
                            "format": "float",
                            "description": "The number of graphic violence.",
                            "title": "violence/graphic"
                          },
                          "self-harm/intent": {
                            "type": "number",
                            "format": "float",
                            "description": "The number of intent to self-harm.",
                            "title": "self-harm/intent"
                          },
                          "self-harm/instructions": {
                            "type": "number",
                            "format": "float",
                            "description": "The number of self-harm instructions.",
                            "title": "self-harm/instructions"
                          },
                          "harassment/threatening": {
                            "type": "number",
                            "format": "float",
                            "description": "The number of threatening harassment.",
                            "title": "harassment/threatening"
                          },
                          "violence": {
                            "type": "number",
                            "format": "float",
                            "description": "The number of violence.",
                            "title": "Violence"
                          }
                        },
                        "title": "Category Scores"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Create moderation",
        "description": "Classifies if text violates OpenAI's Content Policy.",
        "operationId": "ModerationPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "string",
                  "description": "The input text to classify.",
                  "title": "Input"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model",
                  "default": "text-moderation-latest",
                  "enum": [
                    "text-moderation-latest",
                    "text-moderation-stable"
                  ]
                }
              },
              "required": [
                "input"
              ]
            }
          }
        ]
      }
    },
    "/v1/embeddings": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "object": {
                  "type": "string",
                  "description": "The object.",
                  "title": "Object"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "object": {
                        "type": "string",
                        "description": "The object.",
                        "title": "Object"
                      },
                      "embedding": {
                        "type": "array",
                        "items": {
                          "type": "number",
                          "format": "float"
                        },
                        "description": "The embedding.",
                        "title": "Embedding"
                      },
                      "index": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The index.",
                        "title": "Index"
                      }
                    }
                  },
                  "title": "Data"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model"
                },
                "usage": {
                  "type": "object",
                  "properties": {
                    "prompt_tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The prompt tokens.",
                      "title": "Prompt Tokens"
                    },
                    "total_tokens": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total tokens.",
                      "title": "Total Tokens"
                    }
                  },
                  "title": "Usage"
                }
              }
            }
          }
        },
        "summary": "Create embedding",
        "description": "Creates an embedding vector representing the input text.",
        "operationId": "EmbedPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "string",
                  "description": "The input.",
                  "title": "Input"
                },
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model",
                  "x-ms-dynamic-values": {
                    "operationId": "ModelsGet",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "id"
                  },
                  "default": "gpt-4-1106-preview"
                },
                "encoding_format": {
                  "type": "string",
                  "description": "The encoding format.",
                  "title": "Encoding Format",
                  "default": "float",
                  "enum": [
                    "float",
                    "base64"
                  ]
                },
                "user": {
                  "type": "string",
                  "description": "The unique user string.",
                  "title": "User"
                }
              },
              "required": [
                "input"
              ]
            }
          }
        ]
      }
    },
    "/v1/audio/speech": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                },
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                }
              }
            }
          }
        },
        "summary": "Create speech",
        "description": "Generates audio from the input text.",
        "operationId": "AudioSpeechPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model",
                  "default": "tts-1",
                  "enum": [
                    "tts-1",
                    "tts-1-hd"
                  ]
                },
                "input": {
                  "type": "string",
                  "description": "The input.",
                  "title": "Input"
                },
                "voice": {
                  "type": "string",
                  "description": "The voice.",
                  "title": "Voice",
                  "default": "alloy",
                  "enum": [
                    "alloy",
                    "echo",
                    "fable",
                    "onyx",
                    "nova",
                    "shimmer"
                  ]
                },
                "response_format": {
                  "type": "string",
                  "description": "The response format.",
                  "title": "Response Format",
                  "default": "mp3",
                  "enum": [
                    "mp3",
                    "opus",
                    "aac",
                    "flac"
                  ]
                },
                "speed": {
                  "type": "number",
                  "format": "float",
                  "description": "The speed.",
                  "title": "Speed",
                  "default": 1,
                  "minimum": 0.25,
                  "maximum": 4
                }
              },
              "required": [
                "model",
                "input",
                "voice"
              ]
            }
          }
        ]
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                }
              }
            }
          }
        },
        "summary": "Create transcription",
        "description": "Transcribes audio into the input language.",
        "operationId": "AudioTranscriptionPost",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "The audio file object to transcribe, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "name": "model",
            "in": "formData",
            "description": "ID of the model to use.",
            "x-ms-summary": "Model",
            "type": "string",
            "required": true,
            "default": "whisper-1"
          },
          {
            "name": "language",
            "in": "formData",
            "description": "The language of the input audio.",
            "x-ms-summary": "Language",
            "type": "string",
            "required": false
          },
          {
            "name": "prompt",
            "in": "formData",
            "description": "Text to guide the model's style or continue a previous audio segment.",
            "x-ms-summary": "Prompt",
            "type": "string",
            "required": false
          },
          {
            "name": "response_format",
            "in": "formData",
            "description": "The format of the transcript output.",
            "x-ms-summary": "Response Format",
            "type": "string",
            "required": true,
            "default": "text",
            "x-ms-visibility": "internal"
          },
          {
            "name": "temperature",
            "in": "formData",
            "description": "The sampling temperature.",
            "x-ms-summary": "Temperature",
            "type": "number",
            "format": "float",
            "required": false,
            "minimum": 0,
            "maximum": 1
          }
        ]
      }
    },
    "/v1/audio/translations": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                }
              }
            }
          }
        },
        "summary": "Create translation",
        "description": "Translates audio into English.",
        "operationId": "AudioTranslationPost",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "The audio file object to translate, in one of these formats: flac, mp3, mp4, mpeg, mpga, m4a, ogg, wav, or webm.",
            "x-ms-summary": "File",
            "type": "file",
            "required": true
          },
          {
            "name": "model",
            "in": "formData",
            "description": "ID of the model to use.",
            "x-ms-summary": "Model",
            "type": "string",
            "required": true,
            "default": "whisper-1"
          },
          {
            "name": "prompt",
            "in": "formData",
            "description": "Text to guide the model's style or continue a previous audio segment.",
            "x-ms-summary": "Prompt",
            "type": "string",
            "required": false
          },
          {
            "name": "response_format",
            "in": "formData",
            "description": "The format of the transcript output.",
            "x-ms-summary": "Response Format",
            "type": "string",
            "required": true,
            "default": "text",
            "x-ms-visibility": "internal"
          },
          {
            "name": "temperature",
            "in": "formData",
            "description": "The sampling temperature.",
            "x-ms-summary": "Temperature",
            "type": "number",
            "format": "float",
            "required": false,
            "minimum": 0,
            "maximum": 1
          }
        ]
      }
    },
    "/v1/images/generations": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created.",
                  "title": "Created"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "revised_prompt": {
                        "type": "string",
                        "description": "The revised prompt.",
                        "title": "Revised Prompt"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Create image",
        "description": "Creates an image given a prompt.",
        "operationId": "ImagePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "model": {
                  "type": "string",
                  "description": "The model.",
                  "title": "Model",
                  "default": "dall-e-2",
                  "enum": [
                    "dall-e-2",
                    "dall-e-3"
                  ]
                },
                "prompt": {
                  "type": "string",
                  "description": "The prompt.",
                  "title": "Prompt"
                },
                "n": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of images.",
                  "title": "Number of Images",
                  "minimum": 1,
                  "maximum": 10
                },
                "quality": {
                  "type": "string",
                  "description": "The quality.",
                  "title": "Quality",
                  "default": "standard",
                  "enum": [
                    "standard",
                    "hd"
                  ]
                },
                "response_format": {
                  "type": "string",
                  "description": "The response format.",
                  "title": "Response Format",
                  "default": "url",
                  "x-ms-visibility": "internal"
                },
                "size": {
                  "type": "string",
                  "description": "The size.",
                  "title": "Size",
                  "default": "1024x1024",
                  "enum": [
                    "1024x1024",
                    "256x256",
                    "512x512",
                    "1792x1024",
                    "1024x1792"
                  ]
                },
                "style": {
                  "type": "string",
                  "description": "The style.",
                  "title": "Style",
                  "enum": [
                    "vivid",
                    "natural"
                  ]
                },
                "user": {
                  "type": "string",
                  "description": "The unique user string.",
                  "title": "User"
                }
              },
              "required": [
                "prompt",
                "response_format"
              ]
            }
          }
        ]
      }
    },
    "/v1/images/edits": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created.",
                  "title": "Created"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "revised_prompt": {
                        "type": "string",
                        "description": "The revised prompt.",
                        "title": "Revised Prompt"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Create image edit",
        "description": "Creates an edited or extended image given an original image and a prompt.",
        "operationId": "ImageEditPost",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "image",
            "in": "formData",
            "description": "The image to edit.",
            "x-ms-summary": "Image",
            "type": "file",
            "required": true
          },
          {
            "name": "prompt",
            "in": "formData",
            "description": "A text description of the desired image.",
            "x-ms-summary": "Prompt",
            "type": "string",
            "required": false
          },
          {
            "name": "mask",
            "in": "formData",
            "description": "An additional image whose fully transparent areas (e.g. where alpha is zero) indicate where image should be edited.",
            "x-ms-summary": "Mask",
            "type": "file"
          },
          {
            "name": "model",
            "in": "formData",
            "description": "The model to use for image generation.",
            "x-ms-summary": "Model",
            "type": "string",
            "required": false,
            "default": "dall-e-2"
          },
          {
            "name": "n",
            "in": "formData",
            "description": "The number of images to generate",
            "x-ms-summary": "Number of Images",
            "type": "integer",
            "format": "int32",
            "required": false,
            "minimum": 1,
            "maximum": 10
          },
          {
            "name": "size",
            "in": "formData",
            "description": "The size of the generated images.",
            "x-ms-summary": "Size",
            "type": "string",
            "required": false,
            "default": "1024x1024",
            "enum": [
              "1024x1024",
              "256x256",
              "512x512"
            ]
          },
          {
            "name": "response_format",
            "in": "formData",
            "description": "The response format",
            "x-ms-summary": "Response Format",
            "type": "string",
            "required": true,
            "default": "url",
            "x-ms-visibility": "internal"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "A unique identifer representing your end user.",
            "x-ms-summary": "User",
            "type": "string",
            "required": false
          }
        ]
      }
    },
    "/v1/images/variations": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "When created.",
                  "title": "Created"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "revised_prompt": {
                        "type": "string",
                        "description": "The revised prompt.",
                        "title": "Revised Prompt"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Create image variation",
        "description": "Creates a variation of a given image.",
        "operationId": "ImageVariationPost",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "image",
            "in": "formData",
            "description": "The image to edit.",
            "x-ms-summary": "Image",
            "type": "file",
            "required": true
          },
          {
            "name": "model",
            "in": "formData",
            "description": "The model to use for image generation.",
            "x-ms-summary": "Model",
            "type": "string",
            "required": false,
            "default": "dall-e-2"
          },
          {
            "name": "n",
            "in": "formData",
            "description": "The number of images to generate",
            "x-ms-summary": "Number of Images",
            "type": "integer",
            "format": "int32",
            "required": false,
            "minimum": 1,
            "maximum": 10
          },
          {
            "name": "size",
            "in": "formData",
            "description": "The size of the generated images.",
            "x-ms-summary": "Size",
            "type": "string",
            "required": false,
            "default": "1024x1024",
            "enum": [
              "1024x1024",
              "256x256",
              "512x512"
            ]
          },
          {
            "name": "response_format",
            "in": "formData",
            "description": "The response format",
            "x-ms-summary": "Response Format",
            "type": "string",
            "required": true,
            "default": "url",
            "x-ms-visibility": "internal"
          },
          {
            "name": "user",
            "in": "formData",
            "description": "A unique identifer representing your end user.",
            "x-ms-summary": "User",
            "type": "string",
            "required": false
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://openai.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://openai.com/api/policies/terms/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ],
  "x-ms-openai-manifest": {
    "humanName": "OpenAI",
    "modelDescription": "This is Copilot plugin for the OpenAI service.",
    "contactEmail": "ttaylor@hitachisolutions.com"
  }
}
