{
  "swagger": "2.0",
  "info": {
    "title": "Fortnox Integration",
    "version": "1.0.12",
    "description": "Creates a Custom Connection to Fortnox",
    "contact": {
      "name": "Mathias Törnblom",
      "email": "mathias@tornbloms.net"
    }
  },
  "host": "api.fortnox.se",
  "basePath": "/3/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/accounts/{Number}": {
      "get": {
        "tags": ["Accounts"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Account": {
                  "type": "object",
                  "properties": {
                    "@url": {
                      "type": "string",
                      "description": "@url",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "Active": {
                      "type": "boolean",
                      "description": "Active",
                      "title": "",
                      "x-ms-visibility": "advanced",
                      "enum": [true, false]
                    },
                    "BalanceBroughtForward": {
                      "type": "number",
                      "description": "BalanceBroughtForward",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "CostCenter": {
                      "type": "string",
                      "description": "CostCenter",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "CostCenterSettings": {
                      "type": "string",
                      "description": "CostCenterSettings",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "Description": {
                      "type": "string",
                      "description": "Description",
                      "title": "",
                      "x-ms-visibility": "important"
                    },
                    "Number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number",
                      "title": "",
                      "x-ms-visibility": "important"
                    },
                    "Project": {
                      "type": "string",
                      "description": "Project",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "ProjectSettings": {
                      "type": "string",
                      "description": "ProjectSettings",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "SRU": {
                      "type": "integer",
                      "format": "int32",
                      "description": "SRU",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "Year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Year",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "VATCode": {
                      "type": "string",
                      "description": "VATCode",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "BalanceCarriedForward": {
                      "type": "number",
                      "description": "BalanceCarriedForward",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "TransactionInformation": {
                      "type": "string",
                      "description": "TransactionInformation",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "TransactionInformationSettings": {
                      "type": "string",
                      "description": "TransactionInformationSettings",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "QuantitySettings": {
                      "type": "string",
                      "description": "QuantitySettings",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "QuantityUnit": {
                      "type": "string",
                      "description": "QuantityUnit",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "OpeningQuantities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Project": {
                            "type": "string",
                            "description": "Project",
                            "title": "",
                            "x-ms-visibility": "advanced"
                          },
                          "Balance": {
                            "type": "number",
                            "description": "Balance",
                            "title": "",
                            "x-ms-visibility": "advanced"
                          }
                        }
                      },
                      "description": "OpeningQuantities"
                    }
                  },
                  "description": "Account"
                }
              }
            }
          }
        },
        "summary": "Retrieve an account",
        "description": "Retrieves the details of an account. You need to supply the unique account number that was returned when the account was created or retrieved from the list of accounts.",
        "operationId": "GetAccount",
        "x-ms-visibility": "advanced",
        "x-ms-url-encoding": "single",
        "parameters": [
          {
            "name": "Number",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-visibility": "important",
            "description": "Identifies the account",
            "format": "int32",
            "x-ms-summary": "Account number",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content-Type",
            "description": "Content-Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Accept"
          }
        ]
      }
    },
    "/customers": {
      "get": {
        "tags": ["Customers"],
        "summary": "List Customers",
        "description": "Customers",
        "operationId": "GetAllCustomers",
        "parameters": [
          {
            "name": "limit",
            "default": 500,
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Limit",
            "description": "Optional limit of responces per page"
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-visibility": "advanced",
            "enum": ["active", "inactive"],
            "x-ms-summary": "Filter",
            "description": "Optional filter of active or inactive customers"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer",
            "required": false,
            "x-ms-visibility": "advanced",
            "format": "int32",
            "x-ms-summary": "Page",
            "description": "Optional set the page number to be returned"
          },
          {
            "name": "lastmodified",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Last modified since",
            "description": "Optional filter to get all records since the provided timestamp"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content-Type",
            "description": "Content-Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "MetaInformation": {
                  "type": "object",
                  "properties": {
                    "@TotalResources": {
                      "type": "integer",
                      "format": "int32",
                      "description": "@TotalResources",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "@TotalPages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "@TotalPages",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    },
                    "@CurrentPage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "@CurrentPage",
                      "title": "",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "MetaInformation"
                },
                "Customers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@url": {
                        "type": "string",
                        "description": "@url",
                        "title": "",
                        "x-ms-visibility": "internal"
                      },
                      "Address1": {
                        "type": "string",
                        "description": "Address1",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "Address2": {
                        "type": "string",
                        "description": "Address2",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "City": {
                        "type": "string",
                        "description": "City",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "CustomerNumber": {
                        "type": "string",
                        "description": "CustomerNumber",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "Email": {
                        "type": "string",
                        "description": "Email",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "OrganisationNumber": {
                        "type": "string",
                        "description": "OrganisationNumber",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "Phone": {
                        "type": "string",
                        "description": "Phone",
                        "title": "",
                        "x-ms-visibility": "important"
                      },
                      "ZipCode": {
                        "type": "string",
                        "description": "ZipCode",
                        "title": "",
                        "x-ms-visibility": "important"
                      }
                    }
                  },
                  "description": "Customers"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/customers/{CustomerNumber}": {
      "get": {
        "tags": ["Customers"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Customer": {
                  "type": "object",
                  "properties": {
                    "@url": {
                      "type": "string",
                      "description": "@url"
                    },
                    "Address1": {
                      "type": "string",
                      "description": "Address1"
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Address2"
                    },
                    "City": {
                      "type": "string",
                      "description": "City"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Country"
                    },
                    "Comments": {
                      "type": "string",
                      "description": "Comments"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency"
                    },
                    "CostCenter": {
                      "type": "string",
                      "description": "CostCenter"
                    },
                    "CountryCode": {
                      "type": "string",
                      "description": "CountryCode"
                    },
                    "Active": {
                      "type": "boolean",
                      "description": "Active"
                    },
                    "CustomerNumber": {
                      "type": "string",
                      "description": "CustomerNumber"
                    },
                    "DefaultDeliveryTypes": {
                      "type": "object",
                      "properties": {
                        "Invoice": {
                          "type": "string",
                          "description": "Invoice"
                        },
                        "Order": {
                          "type": "string",
                          "description": "Order"
                        },
                        "Offer": {
                          "type": "string",
                          "description": "Offer"
                        }
                      },
                      "description": "DefaultDeliveryTypes"
                    },
                    "DefaultTemplates": {
                      "type": "object",
                      "properties": {
                        "CashInvoice": {
                          "type": "string",
                          "description": "CashInvoice"
                        },
                        "Invoice": {
                          "type": "string",
                          "description": "Invoice"
                        },
                        "Offer": {
                          "type": "string",
                          "description": "Offer"
                        },
                        "Order": {
                          "type": "string",
                          "description": "Order"
                        }
                      },
                      "description": "DefaultTemplates"
                    },
                    "DeliveryAddress1": {
                      "type": "string",
                      "description": "DeliveryAddress1"
                    },
                    "DeliveryAddress2": {
                      "type": "string",
                      "description": "DeliveryAddress2"
                    },
                    "DeliveryCity": {
                      "type": "string",
                      "description": "DeliveryCity"
                    },
                    "DeliveryCountry": {
                      "type": "string",
                      "description": "DeliveryCountry"
                    },
                    "DeliveryCountryCode": {
                      "type": "string",
                      "description": "DeliveryCountryCode"
                    },
                    "DeliveryFax": {
                      "type": "string",
                      "description": "DeliveryFax"
                    },
                    "DeliveryName": {
                      "type": "string",
                      "description": "DeliveryName"
                    },
                    "DeliveryPhone1": {
                      "type": "string",
                      "description": "DeliveryPhone1"
                    },
                    "DeliveryPhone2": {
                      "type": "string",
                      "description": "DeliveryPhone2"
                    },
                    "DeliveryZipCode": {
                      "type": "string",
                      "description": "DeliveryZipCode"
                    },
                    "Email": {
                      "type": "string",
                      "description": "Email"
                    },
                    "EmailInvoice": {
                      "type": "string",
                      "description": "EmailInvoice"
                    },
                    "EmailInvoiceBCC": {
                      "type": "string",
                      "description": "EmailInvoiceBCC"
                    },
                    "EmailInvoiceCC": {
                      "type": "string",
                      "description": "EmailInvoiceCC"
                    },
                    "EmailOffer": {
                      "type": "string",
                      "description": "EmailOffer"
                    },
                    "EmailOfferBCC": {
                      "type": "string",
                      "description": "EmailOfferBCC"
                    },
                    "EmailOfferCC": {
                      "type": "string",
                      "description": "EmailOfferCC"
                    },
                    "EmailOrder": {
                      "type": "string",
                      "description": "EmailOrder"
                    },
                    "EmailOrderBCC": {
                      "type": "string",
                      "description": "EmailOrderBCC"
                    },
                    "EmailOrderCC": {
                      "type": "string",
                      "description": "EmailOrderCC"
                    },
                    "ExternalReference": {
                      "type": "string",
                      "description": "ExternalReference"
                    },
                    "Fax": {
                      "type": "string",
                      "description": "Fax"
                    },
                    "GLN": {
                      "type": "string",
                      "description": "GLN"
                    },
                    "GLNDelivery": {
                      "type": "string",
                      "description": "GLNDelivery"
                    },
                    "InvoiceAdministrationFee": {
                      "type": "string",
                      "description": "InvoiceAdministrationFee"
                    },
                    "InvoiceDiscount": {
                      "type": "string",
                      "description": "InvoiceDiscount"
                    },
                    "InvoiceFreight": {
                      "type": "string",
                      "description": "InvoiceFreight"
                    },
                    "InvoiceRemark": {
                      "type": "string",
                      "description": "InvoiceRemark"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "OrganisationNumber": {
                      "type": "string",
                      "description": "OrganisationNumber"
                    },
                    "OurReference": {
                      "type": "string",
                      "description": "OurReference"
                    },
                    "Phone1": {
                      "type": "string",
                      "description": "Phone1"
                    },
                    "Phone2": {
                      "type": "string",
                      "description": "Phone2"
                    },
                    "PriceList": {
                      "type": "string",
                      "description": "PriceList"
                    },
                    "Project": {
                      "type": "string",
                      "description": "Project"
                    },
                    "SalesAccount": {
                      "type": "string",
                      "description": "SalesAccount"
                    },
                    "ShowPriceVATIncluded": {
                      "type": "boolean",
                      "description": "ShowPriceVATIncluded"
                    },
                    "TermsOfDelivery": {
                      "type": "string",
                      "description": "TermsOfDelivery"
                    },
                    "TermsOfPayment": {
                      "type": "string",
                      "description": "TermsOfPayment"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "VATNumber": {
                      "type": "string",
                      "description": "VATNumber"
                    },
                    "VATType": {
                      "type": "string",
                      "description": "VATType"
                    },
                    "VisitingAddress": {
                      "type": "string",
                      "description": "VisitingAddress"
                    },
                    "VisitingCity": {
                      "type": "string",
                      "description": "VisitingCity"
                    },
                    "VisitingCountry": {
                      "type": "string",
                      "description": "VisitingCountry"
                    },
                    "VisitingCountryCode": {
                      "type": "string",
                      "description": "VisitingCountryCode"
                    },
                    "VisitingZipCode": {
                      "type": "string",
                      "description": "VisitingZipCode"
                    },
                    "WayOfDelivery": {
                      "type": "string",
                      "description": "WayOfDelivery"
                    },
                    "WWW": {
                      "type": "string",
                      "description": "WWW"
                    },
                    "YourReference": {
                      "type": "string",
                      "description": "YourReference"
                    },
                    "ZipCode": {
                      "type": "string",
                      "description": "ZipCode"
                    }
                  },
                  "description": "Customer"
                }
              }
            }
          }
        },
        "summary": "Get Customer",
        "description": "Get a customer by id",
        "operationId": "GetCustomer",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "CustomerNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Customer number",
            "description": "Unique identifier for the customer to be retrieved",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content-Type",
            "description": "Content-Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Accept"
          }
        ]
      },
      "delete": {
        "tags": ["Customers"],
        "responses": {
          "200": {
            "description": "Successfully deleted",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Delete a customer",
        "description": "Deletes the customer permanently. If everything succeeded the response will be of the type 204 \\u2013 No content and the response body will be empty. If there was any problems an error will be returned. You need to supply the unique customer number of the customer that you want to delete.",
        "operationId": "DeleteCustomer",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "CustomerNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Customer number",
            "description": "Unique identifier for the customer to be deleted",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content-Type",
            "description": "Content-Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Accept"
          }
        ]
      },
      "put": {
        "tags": ["Customers"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Customer": {
                  "type": "object",
                  "properties": {
                    "@url": {
                      "type": "string",
                      "description": "@url"
                    },
                    "Address1": {
                      "type": "string",
                      "description": "Address1"
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Address2"
                    },
                    "City": {
                      "type": "string",
                      "description": "City"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Country"
                    },
                    "Comments": {
                      "type": "string",
                      "description": "Comments"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency"
                    },
                    "CostCenter": {
                      "type": "string",
                      "description": "CostCenter"
                    },
                    "CountryCode": {
                      "type": "string",
                      "description": "CountryCode"
                    },
                    "Active": {
                      "type": "boolean",
                      "description": "Active"
                    },
                    "CustomerNumber": {
                      "type": "string",
                      "description": "CustomerNumber"
                    },
                    "DefaultDeliveryTypes": {
                      "type": "object",
                      "properties": {
                        "Invoice": {
                          "type": "string",
                          "description": "Invoice"
                        },
                        "Order": {
                          "type": "string",
                          "description": "Order"
                        },
                        "Offer": {
                          "type": "string",
                          "description": "Offer"
                        }
                      },
                      "description": "DefaultDeliveryTypes"
                    },
                    "DefaultTemplates": {
                      "type": "object",
                      "properties": {
                        "CashInvoice": {
                          "type": "string",
                          "description": "CashInvoice"
                        },
                        "Invoice": {
                          "type": "string",
                          "description": "Invoice"
                        },
                        "Offer": {
                          "type": "string",
                          "description": "Offer"
                        },
                        "Order": {
                          "type": "string",
                          "description": "Order"
                        }
                      },
                      "description": "DefaultTemplates"
                    },
                    "DeliveryAddress1": {
                      "type": "string",
                      "description": "DeliveryAddress1"
                    },
                    "DeliveryAddress2": {
                      "type": "string",
                      "description": "DeliveryAddress2"
                    },
                    "DeliveryCity": {
                      "type": "string",
                      "description": "DeliveryCity"
                    },
                    "DeliveryCountry": {
                      "type": "string",
                      "description": "DeliveryCountry"
                    },
                    "DeliveryCountryCode": {
                      "type": "string",
                      "description": "DeliveryCountryCode"
                    },
                    "DeliveryFax": {
                      "type": "string",
                      "description": "DeliveryFax"
                    },
                    "DeliveryName": {
                      "type": "string",
                      "description": "DeliveryName"
                    },
                    "DeliveryPhone1": {
                      "type": "string",
                      "description": "DeliveryPhone1"
                    },
                    "DeliveryPhone2": {
                      "type": "string",
                      "description": "DeliveryPhone2"
                    },
                    "DeliveryZipCode": {
                      "type": "string",
                      "description": "DeliveryZipCode"
                    },
                    "Email": {
                      "type": "string",
                      "description": "Email"
                    },
                    "EmailInvoice": {
                      "type": "string",
                      "description": "EmailInvoice"
                    },
                    "EmailInvoiceBCC": {
                      "type": "string",
                      "description": "EmailInvoiceBCC"
                    },
                    "EmailInvoiceCC": {
                      "type": "string",
                      "description": "EmailInvoiceCC"
                    },
                    "EmailOffer": {
                      "type": "string",
                      "description": "EmailOffer"
                    },
                    "EmailOfferBCC": {
                      "type": "string",
                      "description": "EmailOfferBCC"
                    },
                    "EmailOfferCC": {
                      "type": "string",
                      "description": "EmailOfferCC"
                    },
                    "EmailOrder": {
                      "type": "string",
                      "description": "EmailOrder"
                    },
                    "EmailOrderBCC": {
                      "type": "string",
                      "description": "EmailOrderBCC"
                    },
                    "EmailOrderCC": {
                      "type": "string",
                      "description": "EmailOrderCC"
                    },
                    "ExternalReference": {
                      "type": "string",
                      "description": "ExternalReference"
                    },
                    "Fax": {
                      "type": "string",
                      "description": "Fax"
                    },
                    "GLN": {
                      "type": "string",
                      "description": "GLN"
                    },
                    "GLNDelivery": {
                      "type": "string",
                      "description": "GLNDelivery"
                    },
                    "InvoiceAdministrationFee": {
                      "type": "string",
                      "description": "InvoiceAdministrationFee"
                    },
                    "InvoiceDiscount": {
                      "type": "string",
                      "description": "InvoiceDiscount"
                    },
                    "InvoiceFreight": {
                      "type": "string",
                      "description": "InvoiceFreight"
                    },
                    "InvoiceRemark": {
                      "type": "string",
                      "description": "InvoiceRemark"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "OrganisationNumber": {
                      "type": "string",
                      "description": "OrganisationNumber"
                    },
                    "OurReference": {
                      "type": "string",
                      "description": "OurReference"
                    },
                    "Phone1": {
                      "type": "string",
                      "description": "Phone1"
                    },
                    "Phone2": {
                      "type": "string",
                      "description": "Phone2"
                    },
                    "PriceList": {
                      "type": "string",
                      "description": "PriceList"
                    },
                    "Project": {
                      "type": "string",
                      "description": "Project"
                    },
                    "SalesAccount": {
                      "type": "string",
                      "description": "SalesAccount"
                    },
                    "ShowPriceVATIncluded": {
                      "type": "boolean",
                      "description": "ShowPriceVATIncluded"
                    },
                    "TermsOfDelivery": {
                      "type": "string",
                      "description": "TermsOfDelivery"
                    },
                    "TermsOfPayment": {
                      "type": "string",
                      "description": "TermsOfPayment"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "VATNumber": {
                      "type": "string",
                      "description": "VATNumber"
                    },
                    "VATType": {
                      "type": "string",
                      "description": "VATType"
                    },
                    "VisitingAddress": {
                      "type": "string",
                      "description": "VisitingAddress"
                    },
                    "VisitingCity": {
                      "type": "string",
                      "description": "VisitingCity"
                    },
                    "VisitingCountry": {
                      "type": "string",
                      "description": "VisitingCountry"
                    },
                    "VisitingCountryCode": {
                      "type": "string",
                      "description": "VisitingCountryCode"
                    },
                    "VisitingZipCode": {
                      "type": "string",
                      "description": "VisitingZipCode"
                    },
                    "WayOfDelivery": {
                      "type": "string",
                      "description": "WayOfDelivery"
                    },
                    "WWW": {
                      "type": "string",
                      "description": "WWW"
                    },
                    "YourReference": {
                      "type": "string",
                      "description": "YourReference"
                    },
                    "ZipCode": {
                      "type": "string",
                      "description": "ZipCode"
                    }
                  },
                  "description": "Customer"
                }
              }
            }
          }
        },
        "summary": "Update a customer",
        "description": "The updated customer will be returned if everything succeeded, if there was any problems an error will be returned.  You need to supply the unique customer number of the customer that you want to update.  Only the properties provided in the request body will be updated, properties not provided will left unchanged.",
        "operationId": "UpdateCustomer",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "CustomerNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Customer number",
            "description": "Unique identifier for the customer to be updated",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Customer": {
                  "type": "object",
                  "properties": {
                    "@url": {
                      "type": "string",
                      "description": "@url"
                    },
                    "Address1": {
                      "type": "string",
                      "description": "Address1"
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Address2"
                    },
                    "City": {
                      "type": "string",
                      "description": "City"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Country"
                    },
                    "Comments": {
                      "type": "string",
                      "description": "Comments"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency"
                    },
                    "CostCenter": {
                      "type": "string",
                      "description": "CostCenter"
                    },
                    "CountryCode": {
                      "type": "string",
                      "description": "CountryCode"
                    },
                    "Active": {
                      "type": "boolean",
                      "description": "Active"
                    },
                    "CustomerNumber": {
                      "type": "string",
                      "description": "CustomerNumber"
                    },
                    "DefaultDeliveryTypes": {
                      "type": "object",
                      "properties": {
                        "Invoice": {
                          "type": "string",
                          "description": "Invoice"
                        },
                        "Order": {
                          "type": "string",
                          "description": "Order"
                        },
                        "Offer": {
                          "type": "string",
                          "description": "Offer"
                        }
                      },
                      "description": "DefaultDeliveryTypes"
                    },
                    "DefaultTemplates": {
                      "type": "object",
                      "properties": {
                        "CashInvoice": {
                          "type": "string",
                          "description": "CashInvoice"
                        },
                        "Invoice": {
                          "type": "string",
                          "description": "Invoice"
                        },
                        "Offer": {
                          "type": "string",
                          "description": "Offer"
                        },
                        "Order": {
                          "type": "string",
                          "description": "Order"
                        }
                      },
                      "description": "DefaultTemplates"
                    },
                    "DeliveryAddress1": {
                      "type": "string",
                      "description": "DeliveryAddress1"
                    },
                    "DeliveryAddress2": {
                      "type": "string",
                      "description": "DeliveryAddress2"
                    },
                    "DeliveryCity": {
                      "type": "string",
                      "description": "DeliveryCity"
                    },
                    "DeliveryCountry": {
                      "type": "string",
                      "description": "DeliveryCountry"
                    },
                    "DeliveryCountryCode": {
                      "type": "string",
                      "description": "DeliveryCountryCode"
                    },
                    "DeliveryFax": {
                      "type": "string",
                      "description": "DeliveryFax"
                    },
                    "DeliveryName": {
                      "type": "string",
                      "description": "DeliveryName"
                    },
                    "DeliveryPhone1": {
                      "type": "string",
                      "description": "DeliveryPhone1"
                    },
                    "DeliveryPhone2": {
                      "type": "string",
                      "description": "DeliveryPhone2"
                    },
                    "DeliveryZipCode": {
                      "type": "string",
                      "description": "DeliveryZipCode"
                    },
                    "Email": {
                      "type": "string",
                      "description": "Email"
                    },
                    "EmailInvoice": {
                      "type": "string",
                      "description": "EmailInvoice"
                    },
                    "EmailInvoiceBCC": {
                      "type": "string",
                      "description": "EmailInvoiceBCC"
                    },
                    "EmailInvoiceCC": {
                      "type": "string",
                      "description": "EmailInvoiceCC"
                    },
                    "EmailOffer": {
                      "type": "string",
                      "description": "EmailOffer"
                    },
                    "EmailOfferBCC": {
                      "type": "string",
                      "description": "EmailOfferBCC"
                    },
                    "EmailOfferCC": {
                      "type": "string",
                      "description": "EmailOfferCC"
                    },
                    "EmailOrder": {
                      "type": "string",
                      "description": "EmailOrder"
                    },
                    "EmailOrderBCC": {
                      "type": "string",
                      "description": "EmailOrderBCC"
                    },
                    "EmailOrderCC": {
                      "type": "string",
                      "description": "EmailOrderCC"
                    },
                    "ExternalReference": {
                      "type": "string",
                      "description": "ExternalReference"
                    },
                    "Fax": {
                      "type": "string",
                      "description": "Fax"
                    },
                    "GLN": {
                      "type": "string",
                      "description": "GLN"
                    },
                    "GLNDelivery": {
                      "type": "string",
                      "description": "GLNDelivery"
                    },
                    "InvoiceAdministrationFee": {
                      "type": "string",
                      "description": "InvoiceAdministrationFee"
                    },
                    "InvoiceDiscount": {
                      "type": "string",
                      "description": "InvoiceDiscount"
                    },
                    "InvoiceFreight": {
                      "type": "string",
                      "description": "InvoiceFreight"
                    },
                    "InvoiceRemark": {
                      "type": "string",
                      "description": "InvoiceRemark"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "OrganisationNumber": {
                      "type": "string",
                      "description": "OrganisationNumber"
                    },
                    "OurReference": {
                      "type": "string",
                      "description": "OurReference"
                    },
                    "Phone1": {
                      "type": "string",
                      "description": "Phone1"
                    },
                    "Phone2": {
                      "type": "string",
                      "description": "Phone2"
                    },
                    "PriceList": {
                      "type": "string",
                      "description": "PriceList"
                    },
                    "Project": {
                      "type": "string",
                      "description": "Project"
                    },
                    "SalesAccount": {
                      "type": "string",
                      "description": "SalesAccount"
                    },
                    "ShowPriceVATIncluded": {
                      "type": "boolean",
                      "description": "ShowPriceVATIncluded"
                    },
                    "TermsOfDelivery": {
                      "type": "string",
                      "description": "TermsOfDelivery"
                    },
                    "TermsOfPayment": {
                      "type": "string",
                      "description": "TermsOfPayment"
                    },
                    "Type": {
                      "type": "string",
                      "description": "Type"
                    },
                    "VATNumber": {
                      "type": "string",
                      "description": "VATNumber"
                    },
                    "VATType": {
                      "type": "string",
                      "description": "VATType"
                    },
                    "VisitingAddress": {
                      "type": "string",
                      "description": "VisitingAddress"
                    },
                    "VisitingCity": {
                      "type": "string",
                      "description": "VisitingCity"
                    },
                    "VisitingCountry": {
                      "type": "string",
                      "description": "VisitingCountry"
                    },
                    "VisitingCountryCode": {
                      "type": "string",
                      "description": "VisitingCountryCode"
                    },
                    "VisitingZipCode": {
                      "type": "string",
                      "description": "VisitingZipCode"
                    },
                    "WayOfDelivery": {
                      "type": "string",
                      "description": "WayOfDelivery"
                    },
                    "WWW": {
                      "type": "string",
                      "description": "WWW"
                    },
                    "YourReference": {
                      "type": "string",
                      "description": "YourReference"
                    },
                    "ZipCode": {
                      "type": "string",
                      "description": "ZipCode"
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/orders": {
      "post": {
        "tags": ["Orders"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Order": {
                  "type": "object",
                  "properties": {
                    "@url": {
                      "type": "string",
                      "description": "@url"
                    },
                    "@urlTaxReductionList": {
                      "type": "string",
                      "description": "@urlTaxReductionList"
                    },
                    "AdministrationFee": {
                      "type": "integer",
                      "format": "int32",
                      "description": "AdministrationFee"
                    },
                    "AdministrationFeeVAT": {
                      "type": "integer",
                      "format": "int32",
                      "description": "AdministrationFeeVAT"
                    },
                    "Address1": {
                      "type": "string",
                      "description": "Address1"
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Address2"
                    },
                    "BasisTaxReduction": {
                      "type": "integer",
                      "format": "int32",
                      "description": "BasisTaxReduction"
                    },
                    "Cancelled": {
                      "type": "boolean",
                      "description": "Cancelled"
                    },
                    "City": {
                      "type": "string",
                      "description": "City"
                    },
                    "Comments": {
                      "type": "string",
                      "description": "Comments"
                    },
                    "ContributionPercent": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ContributionPercent"
                    },
                    "ContributionValue": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ContributionValue"
                    },
                    "CopyRemarks": {
                      "type": "boolean",
                      "description": "CopyRemarks"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Country"
                    },
                    "CostCenter": {
                      "type": "string",
                      "description": "CostCenter"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency"
                    },
                    "CurrencyRate": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CurrencyRate"
                    },
                    "CurrencyUnit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CurrencyUnit"
                    },
                    "CustomerName": {
                      "type": "string",
                      "description": "CustomerName"
                    },
                    "CustomerNumber": {
                      "type": "string",
                      "description": "CustomerNumber"
                    },
                    "DeliveryState": {
                      "type": "string",
                      "description": "DeliveryState"
                    },
                    "DeliveryAddress1": {
                      "type": "string",
                      "description": "DeliveryAddress1"
                    },
                    "DeliveryAddress2": {
                      "type": "string",
                      "description": "DeliveryAddress2"
                    },
                    "DeliveryCity": {
                      "type": "string",
                      "description": "DeliveryCity"
                    },
                    "DeliveryCountry": {
                      "type": "string",
                      "description": "DeliveryCountry"
                    },
                    "DeliveryDate": {
                      "type": "string",
                      "description": "DeliveryDate"
                    },
                    "DeliveryName": {
                      "type": "string",
                      "description": "DeliveryName"
                    },
                    "DeliveryZipCode": {
                      "type": "string",
                      "description": "DeliveryZipCode"
                    },
                    "DocumentNumber": {
                      "type": "string",
                      "description": "DocumentNumber"
                    },
                    "EmailInformation": {
                      "type": "object",
                      "properties": {
                        "EmailAddressFrom": {
                          "type": "string",
                          "description": "EmailAddressFrom"
                        },
                        "EmailAddressTo": {
                          "type": "string",
                          "description": "EmailAddressTo"
                        },
                        "EmailAddressCC": {
                          "type": "string",
                          "description": "EmailAddressCC"
                        },
                        "EmailAddressBCC": {
                          "type": "string",
                          "description": "EmailAddressBCC"
                        },
                        "EmailSubject": {
                          "type": "string",
                          "description": "EmailSubject"
                        },
                        "EmailBody": {
                          "type": "string",
                          "description": "EmailBody"
                        }
                      },
                      "description": "EmailInformation"
                    },
                    "ExternalInvoiceReference1": {
                      "type": "string",
                      "description": "ExternalInvoiceReference1"
                    },
                    "ExternalInvoiceReference2": {
                      "type": "string",
                      "description": "ExternalInvoiceReference2"
                    },
                    "Freight": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Freight"
                    },
                    "FreightVAT": {
                      "type": "integer",
                      "format": "int32",
                      "description": "FreightVAT"
                    },
                    "Gross": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Gross"
                    },
                    "HouseWork": {
                      "type": "boolean",
                      "description": "HouseWork"
                    },
                    "InvoiceReference": {
                      "type": "string",
                      "description": "InvoiceReference"
                    },
                    "Labels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          }
                        }
                      },
                      "description": "Labels"
                    },
                    "Language": {
                      "type": "string",
                      "description": "Language"
                    },
                    "Net": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Net"
                    },
                    "NotCompleted": {
                      "type": "boolean",
                      "description": "NotCompleted"
                    },
                    "OfferReference": {
                      "type": "string",
                      "description": "OfferReference"
                    },
                    "OrderDate": {
                      "type": "string",
                      "description": "OrderDate"
                    },
                    "OrderRows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AccountNumber": {
                            "type": "integer",
                            "format": "int32",
                            "description": "AccountNumber"
                          },
                          "ArticleNumber": {
                            "type": "string",
                            "description": "ArticleNumber"
                          },
                          "ContributionPercent": {
                            "type": "string",
                            "description": "ContributionPercent"
                          },
                          "ContributionValue": {
                            "type": "string",
                            "description": "ContributionValue"
                          },
                          "CostCenter": {
                            "type": "string",
                            "description": "CostCenter"
                          },
                          "DeliveredQuantity": {
                            "type": "string",
                            "description": "DeliveredQuantity"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "Discount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Discount"
                          },
                          "DiscountType": {
                            "type": "string",
                            "description": "DiscountType"
                          },
                          "HouseWork": {
                            "type": "boolean",
                            "description": "HouseWork"
                          },
                          "HouseWorkHoursToReport": {
                            "type": "integer",
                            "format": "int32",
                            "description": "HouseWorkHoursToReport"
                          },
                          "HouseWorkType": {
                            "type": "string",
                            "description": "HouseWorkType"
                          },
                          "OrderedQuantity": {
                            "type": "string",
                            "description": "OrderedQuantity"
                          },
                          "Price": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Price"
                          },
                          "Project": {
                            "type": "string",
                            "description": "Project"
                          },
                          "ReservedQuantity": {
                            "type": "string",
                            "description": "ReservedQuantity"
                          },
                          "RowId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "RowId"
                          },
                          "StockPointCode": {
                            "type": "string",
                            "description": "StockPointCode"
                          },
                          "StockPointId": {
                            "type": "string",
                            "description": "StockPointId"
                          },
                          "Total": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "Unit"
                          },
                          "VAT": {
                            "type": "integer",
                            "format": "int32",
                            "description": "VAT"
                          }
                        }
                      },
                      "description": "OrderRows"
                    },
                    "OrderType": {
                      "type": "string",
                      "description": "OrderType"
                    },
                    "OrganisationNumber": {
                      "type": "string",
                      "description": "OrganisationNumber"
                    },
                    "OurReference": {
                      "type": "string",
                      "description": "OurReference"
                    },
                    "Phone1": {
                      "type": "string",
                      "description": "Phone1"
                    },
                    "Phone2": {
                      "type": "string",
                      "description": "Phone2"
                    },
                    "PriceList": {
                      "type": "string",
                      "description": "PriceList"
                    },
                    "PrintTemplate": {
                      "type": "string",
                      "description": "PrintTemplate"
                    },
                    "Project": {
                      "type": "string",
                      "description": "Project"
                    },
                    "WarehouseReady": {
                      "type": "boolean",
                      "description": "WarehouseReady"
                    },
                    "OutboundDate": {
                      "type": "string",
                      "description": "OutboundDate"
                    },
                    "Remarks": {
                      "type": "string",
                      "description": "Remarks"
                    },
                    "RoundOff": {
                      "type": "integer",
                      "format": "int32",
                      "description": "RoundOff"
                    },
                    "Sent": {
                      "type": "boolean",
                      "description": "Sent"
                    },
                    "TaxReduction": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TaxReduction"
                    },
                    "TermsOfDelivery": {
                      "type": "string",
                      "description": "TermsOfDelivery"
                    },
                    "TermsOfPayment": {
                      "type": "string",
                      "description": "TermsOfPayment"
                    },
                    "TimeBasisReference": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TimeBasisReference"
                    },
                    "Total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total"
                    },
                    "TotalToPay": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TotalToPay"
                    },
                    "TotalVAT": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TotalVAT"
                    },
                    "VATIncluded": {
                      "type": "boolean",
                      "description": "VATIncluded"
                    },
                    "WayOfDelivery": {
                      "type": "string",
                      "description": "WayOfDelivery"
                    },
                    "YourReference": {
                      "type": "string",
                      "description": "YourReference"
                    },
                    "YourOrderNumber": {
                      "type": "string",
                      "description": "YourOrderNumber"
                    },
                    "ZipCode": {
                      "type": "string",
                      "description": "ZipCode"
                    },
                    "StockPointCode": {
                      "type": "string",
                      "description": "StockPointCode"
                    },
                    "StockPointId": {
                      "type": "string",
                      "description": "StockPointId"
                    },
                    "TaxReductionType": {
                      "type": "string",
                      "description": "TaxReductionType"
                    }
                  },
                  "description": "Order"
                }
              }
            }
          }
        },
        "summary": "Create order",
        "description": "Creates an order",
        "operationId": "CreateOrder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Order",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Order": {
                  "type": "object",
                  "properties": {
                    "@url": {
                      "type": "string",
                      "description": "@url",
                      "title": "@url"
                    },
                    "@urlTaxReductionList": {
                      "type": "string",
                      "description": "@urlTaxReductionList",
                      "title": "@urlTaxReductionList"
                    },
                    "AdministrationFee": {
                      "type": "integer",
                      "format": "int32",
                      "description": "AdministrationFee",
                      "title": "Administration Fee",
                      "x-ms-visibility": "advanced"
                    },
                    "AdministrationFeeVAT": {
                      "type": "integer",
                      "format": "int32",
                      "description": "AdministrationFeeVAT",
                      "title": "Administration Fee VAT",
                      "x-ms-visibility": "advanced"
                    },
                    "Address1": {
                      "type": "string",
                      "description": "Address1",
                      "title": "Address1",
                      "x-ms-visibility": "advanced"
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Address2",
                      "title": "Address2",
                      "x-ms-visibility": "advanced"
                    },
                    "BasisTaxReduction": {
                      "type": "integer",
                      "format": "int32",
                      "description": "BasisTaxReduction",
                      "x-ms-visibility": "advanced",
                      "title": "Basis Tax Reduction"
                    },
                    "Cancelled": {
                      "type": "boolean",
                      "description": "Cancelled",
                      "x-ms-visibility": "advanced"
                    },
                    "City": {
                      "type": "string",
                      "description": "City",
                      "x-ms-visibility": "advanced"
                    },
                    "Comments": {
                      "type": "string",
                      "description": "Comments",
                      "x-ms-visibility": "advanced"
                    },
                    "ContributionPercent": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ContributionPercent",
                      "x-ms-visibility": "advanced"
                    },
                    "ContributionValue": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ContributionValue",
                      "x-ms-visibility": "advanced"
                    },
                    "CopyRemarks": {
                      "type": "boolean",
                      "description": "CopyRemarks",
                      "x-ms-visibility": "advanced"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Country",
                      "x-ms-visibility": "advanced"
                    },
                    "CostCenter": {
                      "type": "string",
                      "description": "CostCenter",
                      "x-ms-visibility": "advanced"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency",
                      "x-ms-visibility": "advanced"
                    },
                    "CurrencyRate": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CurrencyRate",
                      "x-ms-visibility": "advanced"
                    },
                    "CurrencyUnit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CurrencyUnit",
                      "x-ms-visibility": "advanced"
                    },
                    "CustomerName": {
                      "type": "string",
                      "description": "CustomerName",
                      "x-ms-visibility": "advanced"
                    },
                    "CustomerNumber": {
                      "type": "string",
                      "description": "CustomerNumber",
                      "title": "Customer Number",
                      "x-ms-visibility": "important"
                    },
                    "DeliveryState": {
                      "type": "string",
                      "description": "DeliveryState",
                      "title": "Delivery State",
                      "x-ms-visibility": "advanced",
                      "enum": ["registration", "reservation", "delivery"]
                    },
                    "DeliveryAddress1": {
                      "type": "string",
                      "description": "DeliveryAddress1",
                      "x-ms-visibility": "advanced"
                    },
                    "DeliveryAddress2": {
                      "type": "string",
                      "description": "DeliveryAddress2",
                      "x-ms-visibility": "advanced"
                    },
                    "DeliveryCity": {
                      "type": "string",
                      "description": "DeliveryCity",
                      "x-ms-visibility": "advanced"
                    },
                    "DeliveryCountry": {
                      "type": "string",
                      "description": "DeliveryCountry",
                      "x-ms-visibility": "advanced"
                    },
                    "DeliveryDate": {
                      "type": "string",
                      "description": "DeliveryDate",
                      "x-ms-visibility": "advanced"
                    },
                    "DeliveryName": {
                      "type": "string",
                      "description": "DeliveryName",
                      "x-ms-visibility": "advanced"
                    },
                    "DeliveryZipCode": {
                      "type": "string",
                      "description": "DeliveryZipCode",
                      "x-ms-visibility": "advanced"
                    },
                    "DocumentNumber": {
                      "type": "string",
                      "description": "DocumentNumber",
                      "x-ms-visibility": "advanced"
                    },
                    "ExternalInvoiceReference1": {
                      "type": "string",
                      "description": "ExternalInvoiceReference1",
                      "x-ms-visibility": "advanced"
                    },
                    "ExternalInvoiceReference2": {
                      "type": "string",
                      "description": "ExternalInvoiceReference2",
                      "x-ms-visibility": "advanced"
                    },
                    "Freight": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Freight",
                      "x-ms-visibility": "advanced"
                    },
                    "FreightVAT": {
                      "type": "integer",
                      "format": "int32",
                      "description": "FreightVAT",
                      "x-ms-visibility": "advanced"
                    },
                    "Gross": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Gross",
                      "x-ms-visibility": "advanced"
                    },
                    "HouseWork": {
                      "type": "boolean",
                      "description": "HouseWork",
                      "x-ms-visibility": "advanced"
                    },
                    "InvoiceReference": {
                      "type": "string",
                      "description": "InvoiceReference",
                      "x-ms-visibility": "advanced"
                    },
                    "Language": {
                      "type": "string",
                      "description": "Language",
                      "x-ms-visibility": "advanced"
                    },
                    "Net": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Net",
                      "x-ms-visibility": "advanced"
                    },
                    "NotCompleted": {
                      "type": "boolean",
                      "description": "NotCompleted",
                      "x-ms-visibility": "advanced"
                    },
                    "OfferReference": {
                      "type": "string",
                      "description": "OfferReference",
                      "x-ms-visibility": "advanced"
                    },
                    "OrderDate": {
                      "type": "string",
                      "description": "OrderDate",
                      "x-ms-visibility": "advanced"
                    },
                    "OrderRows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "AccountNumber": {
                            "type": "integer",
                            "format": "int32",
                            "description": "AccountNumber",
                            "x-ms-visibility": "advanced"
                          },
                          "ArticleNumber": {
                            "type": "string",
                            "description": "ArticleNumber",
                            "x-ms-visibility": "advanced"
                          },
                          "ContributionPercent": {
                            "type": "string",
                            "description": "ContributionPercent",
                            "x-ms-visibility": "advanced"
                          },
                          "ContributionValue": {
                            "type": "string",
                            "description": "ContributionValue",
                            "x-ms-visibility": "advanced"
                          },
                          "CostCenter": {
                            "type": "string",
                            "description": "CostCenter",
                            "x-ms-visibility": "advanced"
                          },
                          "DeliveredQuantity": {
                            "type": "string",
                            "description": "DeliveredQuantity",
                            "x-ms-visibility": "advanced"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description",
                            "x-ms-visibility": "advanced"
                          },
                          "Discount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Discount",
                            "x-ms-visibility": "advanced"
                          },
                          "DiscountType": {
                            "type": "string",
                            "description": "DiscountType",
                            "x-ms-visibility": "advanced"
                          },
                          "HouseWork": {
                            "type": "boolean",
                            "description": "HouseWork",
                            "x-ms-visibility": "advanced"
                          },
                          "HouseWorkHoursToReport": {
                            "type": "integer",
                            "format": "int32",
                            "description": "HouseWorkHoursToReport",
                            "x-ms-visibility": "advanced"
                          },
                          "HouseWorkType": {
                            "type": "string",
                            "description": "HouseWorkType",
                            "x-ms-visibility": "advanced"
                          },
                          "OrderedQuantity": {
                            "type": "string",
                            "description": "OrderedQuantity",
                            "x-ms-visibility": "advanced"
                          },
                          "Price": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Price",
                            "x-ms-visibility": "advanced"
                          },
                          "Project": {
                            "type": "string",
                            "description": "Project",
                            "x-ms-visibility": "advanced"
                          },
                          "ReservedQuantity": {
                            "type": "string",
                            "description": "ReservedQuantity",
                            "x-ms-visibility": "advanced"
                          },
                          "RowId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "RowId",
                            "x-ms-visibility": "advanced"
                          },
                          "StockPointCode": {
                            "type": "string",
                            "description": "StockPointCode",
                            "x-ms-visibility": "advanced"
                          },
                          "StockPointId": {
                            "type": "string",
                            "description": "StockPointId",
                            "x-ms-visibility": "advanced"
                          },
                          "Total": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total",
                            "x-ms-visibility": "advanced"
                          },
                          "Unit": {
                            "type": "string",
                            "description": "Unit",
                            "x-ms-visibility": "advanced"
                          },
                          "VAT": {
                            "type": "integer",
                            "format": "int32",
                            "description": "VAT",
                            "x-ms-visibility": "advanced"
                          }
                        }
                      },
                      "description": "OrderRows"
                    },
                    "OrderType": {
                      "type": "string",
                      "description": "OrderType",
                      "x-ms-visibility": "advanced"
                    },
                    "OrganisationNumber": {
                      "type": "string",
                      "description": "OrganisationNumber",
                      "x-ms-visibility": "advanced"
                    },
                    "OurReference": {
                      "type": "string",
                      "description": "OurReference",
                      "x-ms-visibility": "advanced"
                    },
                    "Phone1": {
                      "type": "string",
                      "description": "Phone1",
                      "x-ms-visibility": "advanced"
                    },
                    "Phone2": {
                      "type": "string",
                      "description": "Phone2",
                      "x-ms-visibility": "advanced"
                    },
                    "PriceList": {
                      "type": "string",
                      "description": "PriceList",
                      "x-ms-visibility": "advanced"
                    },
                    "PrintTemplate": {
                      "type": "string",
                      "description": "PrintTemplate",
                      "x-ms-visibility": "advanced"
                    },
                    "Project": {
                      "type": "string",
                      "description": "Project",
                      "x-ms-visibility": "advanced"
                    },
                    "WarehouseReady": {
                      "type": "boolean",
                      "description": "WarehouseReady",
                      "x-ms-visibility": "advanced"
                    },
                    "OutboundDate": {
                      "type": "string",
                      "description": "OutboundDate",
                      "x-ms-visibility": "advanced"
                    },
                    "Remarks": {
                      "type": "string",
                      "description": "Remarks",
                      "x-ms-visibility": "advanced"
                    },
                    "RoundOff": {
                      "type": "integer",
                      "format": "int32",
                      "description": "RoundOff",
                      "x-ms-visibility": "advanced"
                    },
                    "Sent": {
                      "type": "boolean",
                      "description": "Sent",
                      "x-ms-visibility": "advanced"
                    },
                    "TaxReduction": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TaxReduction",
                      "x-ms-visibility": "advanced"
                    },
                    "TermsOfDelivery": {
                      "type": "string",
                      "description": "TermsOfDelivery",
                      "x-ms-visibility": "advanced"
                    },
                    "TermsOfPayment": {
                      "type": "string",
                      "description": "TermsOfPayment",
                      "x-ms-visibility": "advanced"
                    },
                    "TimeBasisReference": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TimeBasisReference",
                      "x-ms-visibility": "advanced"
                    },
                    "Total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total",
                      "x-ms-visibility": "advanced"
                    },
                    "TotalToPay": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TotalToPay",
                      "x-ms-visibility": "advanced"
                    },
                    "TotalVAT": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TotalVAT",
                      "x-ms-visibility": "advanced"
                    },
                    "VATIncluded": {
                      "type": "boolean",
                      "description": "VATIncluded",
                      "x-ms-visibility": "advanced"
                    },
                    "WayOfDelivery": {
                      "type": "string",
                      "description": "WayOfDelivery",
                      "x-ms-visibility": "advanced"
                    },
                    "YourReference": {
                      "type": "string",
                      "description": "YourReference",
                      "x-ms-visibility": "advanced"
                    },
                    "YourOrderNumber": {
                      "type": "string",
                      "description": "YourOrderNumber",
                      "x-ms-visibility": "advanced"
                    },
                    "ZipCode": {
                      "type": "string",
                      "description": "ZipCode",
                      "x-ms-visibility": "advanced"
                    },
                    "StockPointCode": {
                      "type": "string",
                      "description": "StockPointCode",
                      "x-ms-visibility": "advanced"
                    },
                    "StockPointId": {
                      "type": "string",
                      "description": "StockPointId",
                      "x-ms-visibility": "advanced"
                    },
                    "TaxReductionType": {
                      "type": "string",
                      "description": "TaxReductionType",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "Order",
                  "required": ["CustomerNumber"]
                }
              },
              "x-ms-visibility": "important",
              "required": ["Order"]
            },
            "x-ms-visibility": "important"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/invoices": {
      "post": {
        "tags": ["Invoices"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Invoice": {
                  "type": "object",
                  "properties": {
                    "@url": {
                      "type": "string",
                      "description": "@url"
                    },
                    "@urlTaxReductionList": {
                      "type": "string",
                      "description": "@urlTaxReductionList"
                    },
                    "AdministrationFee": {
                      "type": "integer",
                      "format": "int32",
                      "description": "AdministrationFee"
                    },
                    "AdministrationFeeVAT": {
                      "type": "integer",
                      "format": "int32",
                      "description": "AdministrationFeeVAT"
                    },
                    "Address1": {
                      "type": "string",
                      "description": "Address1"
                    },
                    "Address2": {
                      "type": "string",
                      "description": "Address2"
                    },
                    "Balance": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Balance"
                    },
                    "BasisTaxReduction": {
                      "type": "integer",
                      "format": "int32",
                      "description": "BasisTaxReduction"
                    },
                    "Booked": {
                      "type": "boolean",
                      "description": "Booked"
                    },
                    "Cancelled": {
                      "type": "boolean",
                      "description": "Cancelled"
                    },
                    "City": {
                      "type": "string",
                      "description": "City"
                    },
                    "Comments": {
                      "type": "string",
                      "description": "Comments"
                    },
                    "ContractReference": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ContractReference"
                    },
                    "ContributionPercent": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ContributionPercent"
                    },
                    "ContributionValue": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ContributionValue"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Country"
                    },
                    "CostCenter": {
                      "type": "string",
                      "description": "CostCenter"
                    },
                    "Credit": {
                      "type": "string",
                      "description": "Credit"
                    },
                    "CreditInvoiceReference": {
                      "type": "string",
                      "description": "CreditInvoiceReference"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency"
                    },
                    "CurrencyRate": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CurrencyRate"
                    },
                    "CurrencyUnit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CurrencyUnit"
                    },
                    "CustomerName": {
                      "type": "string",
                      "description": "CustomerName"
                    },
                    "CustomerNumber": {
                      "type": "string",
                      "description": "CustomerNumber"
                    },
                    "DeliveryAddress1": {
                      "type": "string",
                      "description": "DeliveryAddress1"
                    },
                    "DeliveryAddress2": {
                      "type": "string",
                      "description": "DeliveryAddress2"
                    },
                    "DeliveryCity": {
                      "type": "string",
                      "description": "DeliveryCity"
                    },
                    "DeliveryCountry": {
                      "type": "string",
                      "description": "DeliveryCountry"
                    },
                    "DeliveryDate": {
                      "type": "string",
                      "description": "DeliveryDate"
                    },
                    "DeliveryName": {
                      "type": "string",
                      "description": "DeliveryName"
                    },
                    "DeliveryZipCode": {
                      "type": "string",
                      "description": "DeliveryZipCode"
                    },
                    "DocumentNumber": {
                      "type": "string",
                      "description": "DocumentNumber"
                    },
                    "DueDate": {
                      "type": "string",
                      "description": "DueDate"
                    },
                    "EDIInformation": {
                      "type": "object",
                      "properties": {
                        "EDIGlobalLocationNumber": {
                          "type": "string",
                          "description": "EDIGlobalLocationNumber"
                        },
                        "EDIGlobalLocationNumberDelivery": {
                          "type": "string",
                          "description": "EDIGlobalLocationNumberDelivery"
                        },
                        "EDIInvoiceExtra1": {
                          "type": "string",
                          "description": "EDIInvoiceExtra1"
                        },
                        "EDIInvoiceExtra2": {
                          "type": "string",
                          "description": "EDIInvoiceExtra2"
                        },
                        "EDIOurElectronicReference": {
                          "type": "string",
                          "description": "EDIOurElectronicReference"
                        },
                        "EDIYourElectronicReference": {
                          "type": "string",
                          "description": "EDIYourElectronicReference"
                        },
                        "EDIStatus": {
                          "type": "string",
                          "description": "EDIStatus"
                        }
                      },
                      "description": "EDIInformation"
                    },
                    "EmailInformation": {
                      "type": "object",
                      "properties": {
                        "EmailAddressFrom": {
                          "type": "string",
                          "description": "EmailAddressFrom"
                        },
                        "EmailAddressTo": {
[...]
