{
  "swagger": "2.0",
  "info": {
    "title": "LMS365",
    "description": "LMS365 provides a modern, cloud based and secure learning management system, fit for the Modern Digital Workplace. It eliminates complexity by providing a complete learning solution that integrates seamlessly into your existing Office 365 and SharePoint environments. LMS365 is easy accessible from your browser, our intuitive mobile app or from Microsoft Teams enabling all companies to deliver training in any context, anytime, anywhere.",
    "version": "1.2",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "LMS365 Support",
      "url": "https://helpcenter.elearningforce.com",
      "email": "support@lms365.com"
    }
  },
  "host": "api.365.systems",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/odata/v2/Enrollments({Id})/Approve": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "summary": "Approve enrollment request",
        "operationId": "ApproveEnrollmentRequest",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the enrollment id",
            "x-ms-summary": "Enrollment Id",
            "x-ms-url-encoding": "single"
          },
          {
            "$ref": "#/parameters/onBehalfOfUserParameter"
          }
        ],
        "description": "This action will approve the training enrollment request"
      }
    },
    "/webhooks/subscribe": {
      "x-ms-notification-content": {
        "description": "Response",
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "string",
              "description": "Id",
              "x-ms-summary": "Id"
            },
            "Attempt": {
              "type": "integer",
              "format": "int32",
              "description": "Attempt",
              "x-ms-summary": "Attempt"
            },
            "Properties": {
              "type": "object",
              "description": "Properties",
              "x-ms-summary": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action",
                    "x-ms-summary": "Action"
                  },
                  "EnrollmentStatus": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Enrollment status",
                    "x-ms-summary": "Enrollment status"
                  },
                  "EnrollmentStatusText": {
                    "type": "string",
                    "description": "Enrollment status text",
                    "x-ms-summary": "Enrollment status text"
                  },
                  "Course": {
                    "type": "object",
                    "properties": {
                      "SiteId": {
                        "type": "string",
                        "description": "SiteId",
                        "x-ms-summary": "SiteId"
                      },
                      "WebId": {
                        "type": "string",
                        "description": "WebId",
                        "x-ms-summary": "WebId"
                      },
                      "Id": {
                        "type": "string",
                        "description": "Id of the training plan or course",
                        "x-ms-summary": "Id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title of the training plan or course",
                        "x-ms-summary": "Training Title"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url to the training plan or course",
                        "x-ms-summary": "Url"
                      },
                      "CourseType": {
                        "type": "string",
                        "description": "Specify the course type.",
                        "x-ms-summary": "Course Type"
                      },
                      "Published": {
                        "type": "boolean",
                        "description": "Published",
                        "x-ms-summary": "Published"
                      }
                    },
                    "description": "Course",
                    "x-ms-summary": "Course"
                  },
                  "Users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Id": {
                          "type": "string",
                          "description": "LMS365 user id",
                          "x-ms-summary": "LMS365 User Id"
                        },
                        "DirectoryObjectId": {
                          "type": "string",
                          "description": "Azure active directory object id",
                          "x-ms-summary": "Directory Object Id"
                        },
                        "EnrollmentId": {
                          "type": "string",
                          "description": "Enrollment id",
                          "x-ms-summary": "Enrollment Id"
                        },
                        "LoginName": {
                          "type": "string",
                          "description": "User login name",
                          "x-ms-summary": "Login Name"
                        },
                        "Title": {
                          "type": "string",
                          "description": "The display name of the user",
                          "x-ms-summary": "User Display Name"
                        },
                        "Department": {
                          "type": "string",
                          "description": "Department",
                          "x-ms-summary": "Department"
                        },
                        "Email": {
                          "type": "string",
                          "description": "Email",
                          "x-ms-summary": "Email"
                        }
                      }
                    },
                    "description": "Users",
                    "x-ms-summary": "Users"
                  },
                  "TimeStamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp",
                    "x-ms-summary": "Timestamp"
                  }
                }
              },
              "description": "Notifications",
              "x-ms-summary": "Notifications"
            }
          }
        }
      }
    },
    "/odata/v2/Courses({courseId})/Enroll": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context",
                  "x-ms-visibility": "internal"
                },
                "Id": {
                  "type": "string",
                  "description": "Id"
                },
                "CourseId": {
                  "type": "string",
                  "description": "Specify the course id"
                },
                "UserId": {
                  "type": "string",
                  "description": "User id"
                },
                "UserLoginName": {
                  "type": "string",
                  "description": "User principal name or email id"
                },
                "Roles": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Roles"
                },
                "RegistrationDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Registration date"
                },
                "StartDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Start date"
                },
                "CompletionDate": {
                  "type": "string",
                  "description": "Completion date"
                },
                "RegistrationStatus": {
                  "type": "string",
                  "description": "Registration status"
                },
                "CoursePassingStatus": {
                  "type": "string",
                  "description": "Course passing status"
                },
                "CertificateId": {
                  "type": "string",
                  "description": "Certificate id"
                },
                "CEU": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Continuing education units (CEU)",
                  "x-ms-summary": "Continuing Education Units"
                },
                "DecimalCEU": {
                  "type": "number",
                  "format": "double",
                  "description": "Continuing education units (CEU)",
                  "x-ms-summary": "Continuing Education Units"
                },
                "DueDate": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Due date"
                },
                "EndDate": {
                  "type": "string",
                  "description": "End date"
                },
                "IsPartOfTrainingPlan": {
                  "type": "boolean",
                  "description": "Is part of a training plan"
                },
                "CanUnenroll": {
                  "type": "boolean",
                  "description": "Can user unenroll"
                },
                "CancellationReason": {
                  "type": "string",
                  "description": "Specify the cancellation reason"
                },
                "courseSessionId": {
                  "type": "string",
                  "description": "Course session id",
                  "x-ms-summary": "Course Session Id"
                }
              }
            }
          }
        },
        "summary": "Enroll user to training",
        "operationId": "EnrollUserToCourse",
        "parameters": [
          {
            "name": "courseId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Course Id",
            "description": "Specify the internal course id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userLoginName": {
                  "type": "string",
                  "description": "User login name",
                  "x-ms-summary": "User Login Name",
                  "title": "User Login Name",
                  "x-ms-visibility": "important"
                },
                "courseSessionId": {
                  "type": "string",
                  "description": "Course session id",
                  "x-ms-summary": "Course Session Id"
                }
              },
              "required": [
                "userLoginName"
              ]
            }
          },
          {
            "$ref": "#/parameters/onBehalfOfUserParameter"
          }
        ],
        "description": "This action will enroll user to training object by user login name and course id"
      }
    },
    "/odata/v2/Enrollments({Id})/Reject": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "OK"
          }
        },
        "summary": "Reject enrollment request",
        "description": "This action will reject the training enrollment request",
        "operationId": "RejectEnrollmentRequest",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the enrollment id",
            "x-ms-summary": "Enrollment Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Specify the cancellation message",
                  "title": "Cancellation Message"
                }
              }
            }
          },
          {
            "$ref": "#/parameters/onBehalfOfUserParameter"
          }
        ]
      }
    },
    "/webhooks/subscribe/EnrollmentApprovalRequest": {
      "x-ms-notification-content": {
        "description": "Response",
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "string",
              "description": "Webhook id",
              "x-ms-summary": "Webhook Id"
            },
            "Attempt": {
              "type": "integer",
              "format": "int32",
              "description": "Attempt",
              "x-ms-summary": "Attempt"
            },
            "Properties": {
              "type": "object",
              "description": "Properties",
              "x-ms-summary": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action",
                    "x-ms-summary": "Action"
                  },
                  "EnrollmentStatus": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Enrollment status",
                    "x-ms-summary": "Enrollment status"
                  },
                  "EnrollmentStatusText": {
                    "type": "string",
                    "description": "Enrollment status text",
                    "x-ms-summary": "Enrollment status text"
                  },
                  "Course": {
                    "type": "object",
                    "properties": {
                      "SiteId": {
                        "type": "string",
                        "description": "SiteId",
                        "x-ms-summary": "SiteId"
                      },
                      "WebId": {
                        "type": "string",
                        "description": "WebId",
                        "x-ms-summary": "WebId"
                      },
                      "Id": {
                        "type": "string",
                        "description": "Id of the training plan or course",
                        "x-ms-summary": "Id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title of the training plan or course",
                        "x-ms-summary": "Training Title"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url to the training plan or course",
                        "x-ms-summary": "Url"
                      },
                      "CourseType": {
                        "type": "string",
                        "description": "Coursetype",
                        "x-ms-summary": "Coursetype"
                      },
                      "Published": {
                        "type": "boolean",
                        "description": "Published",
                        "x-ms-summary": "Published"
                      }
                    },
                    "description": "Course",
                    "x-ms-summary": "Course"
                  },
                  "Users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Id": {
                          "type": "string",
                          "description": "LMS365 user id",
                          "x-ms-summary": "LMS365 User Id"
                        },
                        "DirectoryObjectId": {
                          "type": "string",
                          "description": "Azure active directory object id",
                          "x-ms-summary": "Directory Object Id"
                        },
                        "EnrollmentId": {
                          "type": "string",
                          "description": "Enrollment id",
                          "x-ms-summary": "Enrollment Id"
                        },
                        "LoginName": {
                          "type": "string",
                          "description": "User login name",
                          "x-ms-summary": "Login Name"
                        },
                        "Title": {
                          "type": "string",
                          "description": "Display name of the user",
                          "x-ms-summary": "User Display Name"
                        },
                        "Department": {
                          "type": "string",
                          "description": "Department",
                          "x-ms-summary": "Department"
                        },
                        "Email": {
                          "type": "string",
                          "description": "Email",
                          "x-ms-summary": "Email"
                        }
                      }
                    },
                    "description": "Users",
                    "x-ms-summary": "Users"
                  },
                  "TimeStamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp",
                    "x-ms-summary": "Timestamp"
                  }
                }
              },
              "description": "Notifications",
              "x-ms-summary": "Notifications"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "When a learner has requested approval for training",
        "description": "This operation is triggered when a learner enrolls into training configured for External Approval Flow",
        "operationId": "EnrollmentApprovalRequest",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHookUri"
              ],
              "properties": {
                "WebHookUri": {
                  "type": "string",
                  "description": "Webhook uri",
                  "x-ms-summary": "Webhook Uri",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              }
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/odata/v2/CourseCategories": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context",
                  "x-ms-visibility": "internal"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Category unique id",
                        "x-ms-summary": "Category Unique Id"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Category name",
                        "x-ms-summary": "Category Name"
                      },
                      "CourseCatalogId": {
                        "type": "string",
                        "description": "Course catalog Id",
                        "x-ms-summary": "Course Catalog Id"
                      },
                      "ParentCategoryId": {
                        "type": "string",
                        "description": "Parent category id",
                        "x-ms-summary": "Parent Category Id"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "operationId": "GetCourseCategories",
        "summary": "Get course categories",
        "description": "This action will get all course categories",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters the results, based on a Boolean condition.",
            "x-ms-summary": "Filter Query"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "string",
                  "description": "Catagory unique id",
                  "x-ms-summary": "Catagory Unique Id"
                },
                "Name": {
                  "type": "string",
                  "description": "Category name",
                  "x-ms-summary": "Category Name"
                },
                "CourseCatalogId": {
                  "type": "string",
                  "description": "Course catalog Id",
                  "x-ms-summary": "Course Catalog Id"
                },
                "ParentCategoryId": {
                  "type": "string",
                  "description": "Parent category id",
                  "x-ms-summary": "Parent Category Id"
                }
              }
            }
          }
        },
        "summary": "Create course category",
        "description": "This action will create a new course category",
        "operationId": "CreateCourseCategory",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "Specify the name of the category",
                  "x-ms-summary": "Category Name"
                },
                "CourseCatalogId": {
                  "type": "string",
                  "description": "Specify the course catalog id",
                  "x-ms-summary": "Course Catalog Id"
                }
              },
              "required": [
                "CourseCatalogId",
                "Name"
              ]
            }
          },
          {
            "$ref": "#/parameters/onBehalfOfUserParameter"
          }
        ]
      }
    },
    "/odata/v2/Courses": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "string",
                  "description": "Course unique id",
                  "x-ms-summary": "Course Unique Id"
                },
                "CourseCatalogId": {
                  "type": "string",
                  "description": "Course catalog Id",
                  "x-ms-summary": "Course Catalog Id"
                },
                "Title": {
                  "type": "string",
                  "description": "Title of the training plan or course",
                  "x-ms-summary": "Training Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Course description",
                  "x-ms-summary": "Course Description"
                },
                "LongDescription": {
                  "type": "string",
                  "description": "Course long description",
                  "x-ms-summary": "Course Long Description"
                },
                "CEU": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Continuing education units (CEU)",
                  "x-ms-summary": "Continuing Education Units"
                },
                "DecimalCEU": {
                  "type": "number",
                  "format": "double",
                  "description": "Continuing education units (CEU)",
                  "x-ms-summary": "Continuing Education Units"
                },
                "ShowInCatalog": {
                  "type": "boolean",
                  "description": "Show the course in catalog or not?",
                  "x-ms-summary": "Show In Catalog"
                },
                "IsRequired": {
                  "type": "boolean",
                  "description": "Is the course required or not?",
                  "x-ms-summary": "Is Required"
                },
                "IsPublished": {
                  "type": "boolean",
                  "description": "Is the course published or not?",
                  "x-ms-summary": "Is Published"
                },
                "IsEnded": {
                  "type": "boolean",
                  "description": "Is the course ended or not?",
                  "x-ms-summary": "Is Ended"
                },
                "CourseID": {
                  "type": "string",
                  "description": "Optional visible Course ID",
                  "x-ms-summary": "Course ID"
                },
                "Duration": {
                  "type": "string",
                  "description": "Course duration",
                  "x-ms-summary": "Duration"
                },
                "CourseType": {
                  "type": "string",
                  "description": "Coursetype",
                  "x-ms-summary": "Coursetype"
                },
                "ImageUrl": {
                  "type": "string",
                  "description": "Specify the course catalog and site image url.",
                  "x-ms-summary": "Image Url"
                },
                "CertificateTemplateId": {
                  "type": "string",
                  "description": "Certificate template id",
                  "x-ms-summary": "Certificate Template Id"
                },
                "EnrollmentFlow": {
                  "type": "string",
                  "description": "Enrollment flow",
                  "x-ms-summary": "Enrollment Flow"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is course deleted or not?",
                  "x-ms-summary": "Is Deleted"
                },
                "CourseSessionEnrollmentType": {
                  "type": "string",
                  "description": "Course session enrollment type",
                  "x-ms-summary": "Course Session Enrollment Type"
                },
                "CreatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created at",
                  "x-ms-summary": "Created At"
                },
                "CourseLayoutId": {
                  "type": "string",
                  "description": "Course layout id",
                  "x-ms-summary": "Course Layout Id"
                }
              }
            }
          }
        },
        "summary": "Create training course",
        "description": "This action will create a new course",
        "operationId": "CreateCourse",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CourseCatalogId": {
                  "type": "string",
                  "description": "Course catalog Id",
                  "x-ms-summary": "Course Catalog Id",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetCourseCatalogs",
                    "value-path": "Id",
                    "value-collection": "value",
                    "value-title": "Title"
                  }
                },
                "CourseType": {
                  "type": "string",
                  "description": "Coursetype",
                  "x-ms-summary": "Coursetype",
                  "x-ms-visibility": "important",
                  "enum": [
                    "ELearning",
                    "ClassRoom",
                    "Webinar",
                    "TrainingPlan"
                  ]
                },
                "Title": {
                  "type": "string",
                  "description": "Title of the training plan or course",
                  "x-ms-summary": "Training Title",
                  "x-ms-visibility": "important"
                },
                "Description": {
                  "type": "string",
                  "description": "Short description",
                  "x-ms-summary": "Description",
                  "x-ms-visibility": "important"
                },
                "Culture": {
                  "type": "string",
                  "description": "Culture",
                  "x-ms-summary": "Culture",
                  "x-ms-visibility": "important"
                },
                "UICulture": {
                  "type": "string",
                  "description": "Specify the course UI Culture",
                  "x-ms-summary": "UI Culture",
                  "x-ms-visibility": "important"
                },
                "Categories": {
                  "type": "array",
                  "x-ms-visibility": "important",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id",
                        "x-ms-summary": "Id"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name",
                        "x-ms-summary": "Name"
                      },
                      "IsNew": {
                        "type": "boolean",
                        "description": "Is the category new?",
                        "x-ms-summary": "Is New"
                      },
                      "ParentCategoryId": {
                        "type": "string",
                        "description": "Parent category id",
                        "x-ms-summary": "Parent Category Id"
                      }
                    }
                  },
                  "description": "Categories",
                  "x-ms-summary": "Categories"
                },
                "Tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id",
                        "x-ms-summary": "Id"
                      },
                      "TagName": {
                        "type": "string",
                        "description": "Name of the Tag",
                        "x-ms-summary": "Name"
                      },
                      "IsNew": {
                        "type": "boolean",
                        "description": "Is new category",
                        "x-ms-summary": "Is New"
                      }
                    }
                  },
                  "description": "Tags",
                  "x-ms-summary": "Tags"
                },
                "EnrollmentFlow": {
                  "type": "string",
                  "description": "Enrollment flow",
                  "x-ms-summary": "Enrollment Flow",
                  "enum": [
                    "AutomaticApproval",
                    "LineManagerApproval",
                    "LMSAdministratorsApproval",
                    "CustomApproval",
                    "ExternalWebhookApproval"
                  ]
                },
                "Url": {
                  "type": "string",
                  "description": "Specify the course url",
                  "x-ms-summary": "Url"
                },
                "SiteTemplate": {
                  "type": "string",
                  "description": "SiteTemplate",
                  "x-ms-summary": "SiteTemplate"
                },
                "LearningModules": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Learning modules",
                  "x-ms-summary": "Learning Modules"
                },
                "Quizzes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Quizzes",
                  "x-ms-summary": "Quizzes"
                },
                "AutoResolveUrlConflict": {
                  "type": "boolean",
                  "description": "Auto resolve url conflict",
                  "x-ms-summary": "Auto Resolve Url Conflict",
                  "x-ms-visibility": "advanced"
                },
                "CourseLayoutId": {
                  "type": "string",
                  "description": "Course layout id",
                  "x-ms-summary": "Course Layout Id"
                },
                "CourseSessionEnrollmentType": {
                  "type": "string",
                  "description": "Course session enrollment type",
                  "x-ms-summary": "Course Session Enrollment Type",
                  "enum": [
                    "EnrollToSingle",
                    "EnrollToAll",
                    "EnrollToMultiple"
                  ]
                },
                "TeacherLogins": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Teacher login names",
                  "x-ms-summary": "Teacher Logins"
                },
                "TrainerLogins": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Trainer login names",
                  "x-ms-summary": "Trainer Logins"
                },
                "CertificateTemplateId": {
                  "type": "string",
                  "description": "Certificate template id",
                  "x-ms-summary": "Certificate Template Id",
                  "x-ms-visibility": "advanced"
                },
                "CourseID": {
                  "type": "string",
                  "description": "Optional visible Course ID",
                  "x-ms-summary": "Course ID"
                },
                "Duration": {
                  "type": "string",
                  "description": "Duration",
                  "x-ms-summary": "Duration"
                },
                "LongDescription": {
                  "type": "string",
                  "description": "Long description",
                  "x-ms-summary": "Long Description"
                },
                "PublishingSettings": {
                  "type": "object",
                  "properties": {
                    "IsEnabled": {
                      "type": "boolean",
                      "description": "Is publishing enabled?",
                      "x-ms-summary": "Is Enabled",
                      "x-ms-visibility": "advanced",
                      "default": true
                    },
                    "StartDate": {
                      "type": "string",
                      "description": "Start date",
                      "x-ms-summary": "Start Date",
                      "x-ms-visibility": "advanced"
                    },
                    "EndDate": {
                      "type": "string",
                      "description": "End date",
                      "x-ms-summary": "End Date",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "Publishing settings",
                  "x-ms-summary": "Publishing Settings"
                },
                "ExpirySettings": {
                  "type": "object",
                  "properties": {
                    "IsEnabled": {
                      "type": "boolean",
                      "description": "Is enabled",
                      "x-ms-summary": "Is Enabled",
                      "x-ms-visibility": "advanced"
                    },
                    "FixedDate": {
                      "type": "string",
                      "description": "Fixed date",
                      "x-ms-summary": "Fixed Date",
                      "x-ms-visibility": "advanced"
                    },
                    "DaysAfterCompletion": {
                      "type": "string",
                      "description": "Days after completion",
                      "x-ms-summary": "Days After Completion",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "Expiry settings",
                  "x-ms-summary": "Expiry Settings"
                },
                "DueDateSettings": {
                  "type": "object",
                  "properties": {
                    "IsEnabled": {
                      "type": "boolean",
                      "description": "Is enabled",
                      "x-ms-summary": "Is Enabled",
                      "x-ms-visibility": "advanced"
                    },
                    "FixedDate": {
                      "type": "string",
                      "description": "Fixed date",
                      "x-ms-summary": "Fixed Date",
                      "x-ms-visibility": "advanced"
                    },
                    "DaysAfterEnrollment": {
                      "type": "string",
                      "description": "Days after enrollment",
                      "x-ms-summary": "Days After Enrollment",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "Due date settings",
                  "x-ms-summary": "Due Date Settings"
                },
                "ShowInCatalog": {
                  "type": "boolean",
                  "description": "Show in catalog",
                  "x-ms-summary": "Show In Catalog"
                },
                "CEU": {
                  "type": "number",
                  "description": "Continuing education units (CEU)",
                  "x-ms-summary": "Continuing Education Units"
                },
                "ImageUrl": {
                  "type": "string",
                  "description": "Course image url",
                  "x-ms-summary": "ImageUrl"
                },
                "FailedCourseId": {
                  "type": "string",
                  "description": "Failed course id",
                  "x-ms-summary": "Failed Course Id"
                }
              },
              "required": [
                "CourseCatalogId",
                "Description",
                "Title",
                "Url",
                "CourseType",
                "Culture",
                "UICulture"
              ]
            }
          },
          {
            "$ref": "#/parameters/onBehalfOfUserParameter"
          }
        ]
      }
    },
    "/odata/v2/Courses({CourseId})": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context",
                  "x-ms-visibility": "internal"
                },
                "Id": {
                  "type": "string",
                  "description": "Id"
                },
                "CourseCatalogId": {
                  "type": "string",
                  "description": "Course catalog Id"
                },
                "Title": {
                  "type": "string",
                  "description": "Title of the training plan or course",
                  "x-ms-summary": "Training Title"
                },
                "Description": {
                  "type": "string",
                  "description": "Short description"
                },
                "LongDescription": {
                  "type": "string",
                  "description": "Long description"
                },
                "CEU": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Continuing education units (CEU)",
                  "x-ms-summary": "Continuing Education Units"
                },
                "DecimalCEU": {
                  "type": "number",
                  "format": "double",
                  "description": "Continuing education units (CEU)",
                  "x-ms-summary": "Continuing Education Units"
                },
                "ShowInCatalog": {
                  "type": "boolean",
                  "description": "Show in catalog"
                },
                "IsRequired": {
                  "type": "boolean",
                  "description": "Is required"
                },
                "IsPublished": {
                  "type": "boolean",
                  "description": "Is published"
                },
                "IsEnded": {
                  "type": "boolean",
                  "description": "Is ended"
                },
                "CourseID": {
                  "type": "string",
                  "description": "Optional visible Course ID"
                },
                "Duration": {
                  "type": "string",
                  "description": "Duration"
                },
                "CourseType": {
                  "type": "string",
                  "description": "Coursetype"
                },
                "ImageUrl": {
                  "type": "string",
                  "description": "Course image url"
                },
                "CertificateTemplateId": {
                  "type": "string",
                  "description": "Certificate template id"
                },
                "EnrollmentFlow": {
                  "type": "string",
                  "description": "Enrollment flow"
                },
                "IsDeleted": {
                  "type": "boolean",
                  "description": "Is deleted"
                },
                "CourseSessionEnrollmentType": {
                  "type": "string",
                  "description": "Course session enrollment type"
                },
                "CreatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Created at"
                },
                "CourseLayoutId": {
                  "type": "string",
                  "description": "Course layout id"
                },
                "DueDate@odata.context": {
                  "type": "string",
                  "description": "DueDate@odata.context",
                  "x-ms-visibility": "internal"
                },
                "DueDate": {
                  "type": "object",
                  "properties": {
                    "CourseId": {
                      "type": "string",
                      "description": "The internal course id"
                    },
                    "IsEnabled": {
                      "type": "boolean",
                      "description": "Is due date enabled"
                    },
                    "FixedDate": {
                      "type": "string",
                      "description": "Fixed date"
                    },
                    "DaysAfterEnrollment": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Days after enrollment"
                    }
                  },
                  "description": "Due date"
                },
                "Publishing@odata.context": {
                  "type": "string",
                  "description": "Publishing@odata.context",
                  "x-ms-visibility": "internal"
                },
                "Publishing": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "Id"
                    },
                    "IsEnabled": {
                      "type": "boolean",
                      "description": "Is enabled"
                    },
                    "StartDate": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Start date"
                    },
                    "EndDate": {
                      "type": "string",
                      "description": "End date"
                    }
                  },
                  "description": "Publishing"
                },
                "CertificateExpiry@odata.context": {
                  "type": "string",
                  "description": "CertificateExpiry@odata.context",
                  "x-ms-visibility": "internal"
                },
                "CertificateExpiry": {
                  "type": "object",
                  "properties": {
                    "CourseId": {
                      "type": "string",
                      "description": "The internal course id"
                    },
                    "IsEnabled": {
                      "type": "boolean",
                      "description": "Is enabled"
                    },
                    "FixedDate": {
                      "type": "string",
                      "description": "Fixed date"
                    },
                    "DaysAfterCompletion": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Days after completion"
                    }
                  },
                  "description": "Certificate expiry"
                },
                "SharepointWeb": {
                  "type": "object",
                  "properties": {
                    "Url": {
                      "type": "string",
                      "description": "Url"
                    }
                  },
                  "description": "SharepointWeb"
                },
                "Categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "CourseCatalogId": {
                        "type": "string",
                        "description": "Course catalog Id"
                      },
                      "ParentCategoryId": {
                        "type": "string",
                        "description": "Parent category id"
                      }
                    }
                  },
                  "description": "Categories"
                },
                "Tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "CourseCatalogId": {
                        "type": "string",
                        "description": "Course catalog Id"
                      }
                    }
                  },
                  "description": "Tags"
                },
                "CourseSessions": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "Course sessions"
                },
                "LearningModules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "CourseId": {
                        "type": "string",
                        "description": "The internal course id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Short description"
                      },
                      "IsPublished": {
                        "type": "boolean",
                        "description": "Is published"
                      },
                      "Order": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Order"
                      },
                      "HasPrerequisite": {
                        "type": "boolean",
                        "description": "Has prerequisite"
                      },
                      "Configuration": {
                        "type": "object",
                        "properties": {
                          "LearningModuleId": {
                            "type": "string",
                            "description": "Learning module id"
                          },
                          "Items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Content": {
                                  "type": "string",
                                  "description": "Content"
                                },
                                "EmbedType": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Embed type"
                                },
                                "Id": {
                                  "type": "string",
                                  "description": "Id"
                                },
                                "Title": {
                                  "type": "string",
                                  "description": "Title"
                                },
                                "ItemType": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Item type"
                                },
                                "ConfirmationMessage": {
                                  "type": "string",
                                  "description": "Confirmation message"
                                },
                                "CheckMarkMessage": {
                                  "type": "string",
                                  "description": "Checkmark message"
                                },
                                "Type": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Type"
                                }
                              }
                            },
                            "description": "Items"
                          }
                        },
                        "description": "Configuration"
                      }
                    }
                  },
                  "description": "Learning modules"
                },
                "ProvisioningProgress@odata.context": {
                  "type": "string",
                  "description": "ProvisioningProgress@odata.context",
                  "x-ms-visibility": "internal"
                },
                "ProvisioningProgress": {
                  "type": "string",
                  "description": "Provisioning progress"
                },
                "Trainers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Department": {
                        "type": "string",
                        "description": "Department"
                      },
                      "LoginName": {
                        "type": "string",
                        "description": "User login name"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Display name of the trainer",
                        "x-ms-summary": "Trainers Display Name"
                      },
                      "Email": {
                        "type": "string",
                        "description": "Email"
                      },
                      "ManagerId": {
                        "type": "string",
                        "description": "Manager Id"
                      },
                      "ManagerLoginName": {
                        "type": "string",
                        "description": "Manager login name"
                      },
                      "City": {
                        "type": "string",
                        "description": "City"
                      },
                      "Country": {
                        "type": "string",
                        "description": "Country"
                      },
                      "Office": {
                        "type": "string",
                        "description": "Office"
                      },
                      "JobTitle": {
                        "type": "string",
                        "description": "Job title"
                      },
                      "IsExternal": {
                        "type": "boolean",
                        "description": "Is external"
                      }
                    }
                  },
                  "description": "Trainers"
                },
                "Admins": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Department": {
                        "type": "string",
                        "description": "Department"
                      },
                      "LoginName": {
                        "type": "string",
                        "description": "User login name"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Display name of the trainer",
                        "x-ms-summary": "Admins Display Name"
                      },
                      "Email": {
                        "type": "string",
                        "description": "Email"
                      },
                      "ManagerId": {
                        "type": "string",
                        "description": "Manager Id"
                      },
                      "ManagerLoginName": {
                        "type": "string",
                        "description": "Manager login name"
                      },
                      "City": {
                        "type": "string",
                        "description": "City"
                      },
                      "Country": {
                        "type": "string",
                        "description": "Country"
                      },
                      "Office": {
                        "type": "string",
                        "description": "Office"
                      },
                      "JobTitle": {
                        "type": "string",
                        "description": "Job title"
                      },
                      "IsExternal": {
                        "type": "boolean",
                        "description": "Is external"
                      }
                    }
                  },
                  "description": "Admins"
                },
                "Quizzes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Short description"
                      },
                      "MaxAttemptsLimit": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Max attempts limit"
                      },
                      "PassingPercentage": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Passing percentage"
                      },
                      "IsPublished": {
                        "type": "boolean",
                        "description": "Is published"
                      },
                      "PublishingStartDate": {
                        "type": "string",
                        "description": "Publishing start date"
                      },
                      "PublishingEndDate": {
                        "type": "string",
                        "description": "Publishing end date"
                      },
                      "Randomize": {
                        "type": "boolean",
                        "description": "Randomize"
                      },
                      "ShowScore": {
                        "type": "boolean",
                        "description": "Show score"
                      },
                      "AllowReview": {
                        "type": "boolean",
                        "description": "Allow review"
                      },
                      "ShowCorrectAnswers": {
                        "type": "boolean",
                        "description": "Show correct answers"
                      },
                      "TimeLimit": {
                        "type": "string",
                        "description": "Time limit"
                      },
                      "ShowTimer": {
                        "type": "boolean",
                        "description": "Show timer"
                      },
                      "ModifiedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Modified at"
                      }
                    }
                  },
                  "description": "Quizzes"
                }
              }
            }
          }
        },
        "summary": "Get course details",
        "description": "This action will provide all available information about selected course and related catalog",
        "operationId": "GetCourseInfo",
        "parameters": [
          {
            "name": "CourseId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Specify the internal course id",
            "x-ms-summary": "Course Id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "DueDate,Publishing,CertificateExpiry,SharepointWeb($select=Url),Categories,Tags,CourseSessions,ProvisioningProgress,Trainers",
            "description": "Expands related entities inline.",
            "x-ms-summary": "Expand Query"
          }
        ]
      }
    },
    "/webhooks/subscribe/CourseEnrollment": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "string",
              "description": "Webhook id",
              "x-ms-summary": "Webhook Id"
            },
            "Attempt": {
              "type": "integer",
              "format": "int32",
              "description": "Attempt",
              "x-ms-summary": "Attempt"
            },
            "Properties": {
              "type": "object",
              "description": "Properties",
              "x-ms-summary": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action",
                    "x-ms-summary": "Action"
                  },
                  "EnrollmentStatus": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Enrollment status",
                    "x-ms-summary": "Enrollment status"
                  },
                  "EnrollmentStatusText": {
                    "type": "string",
                    "description": "Enrollment status text",
                    "x-ms-summary": "Enrollment status text"
                  },
                  "Course": {
                    "type": "object",
                    "properties": {
                      "SiteId": {
                        "type": "string",
                        "description": "SiteId",
                        "x-ms-summary": "SiteId"
                      },
                      "WebId": {
                        "type": "string",
                        "description": "WebId",
                        "x-ms-summary": "WebId"
                      },
                      "Id": {
                        "type": "string",
                        "description": "Id of the training plan or course",
                        "x-ms-summary": "Id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title of the training plan or course",
                        "x-ms-summary": "Training Title"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url to the training plan or course",
                        "x-ms-summary": "Url"
                      },
                      "CourseType": {
                        "type": "string",
                        "description": "Coursetype",
                        "x-ms-summary": "Coursetype"
                      },
                      "Published": {
                        "type": "boolean",
                        "description": "Published",
                        "x-ms-summary": "Published"
                      }
                    },
                    "description": "Course",
                    "x-ms-summary": "Course"
                  },
                  "Users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Id": {
                          "type": "string",
                          "description": "LMS365 user id",
                          "x-ms-summary": "LMS365 User Id"
                        },
                        "DirectoryObjectId": {
                          "type": "string",
                          "description": "Azure active directory object id",
                          "x-ms-summary": "Directory Object Id"
                        },
                        "EnrollmentId": {
                          "type": "string",
                          "description": "Enrollment id",
                          "x-ms-summary": "Enrollment Id"
                        },
                        "LoginName": {
                          "type": "string",
                          "description": "User login name",
                          "x-ms-summary": "Login Name"
                        },
                        "Title": {
                          "type": "string",
                          "description": "Display name of the user",
                          "x-ms-summary": "User Display Name"
                        },
                        "Department": {
                          "type": "string",
                          "description": "Department",
                          "x-ms-summary": "Department"
                        },
                        "Email": {
                          "type": "string",
                          "description": "Email",
                          "x-ms-summary": "Email"
                        }
                      }
                    },
                    "description": "Users",
                    "x-ms-summary": "Users"
                  },
                  "TimeStamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp",
                    "x-ms-summary": "Timestamp"
                  }
                }
              },
              "description": "Notifications",
              "x-ms-summary": "Notifications"
            }
          }
        },
        "description": "Response"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "When a learner has enrolled into training",
        "operationId": "CourseEnrollment",
        "description": "This operation is triggered when a learner has enrolled into training",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHookUri"
              ],
              "properties": {
                "WebHookUri": {
                  "type": "string",
                  "description": "Webhook uri",
                  "x-ms-summary": "Webhook Uri",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ]
      }
    },
    "/webhooks/subscribe/CourseUnenrollment": {
      "x-ms-notification-content": {
        "description": "Response",
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "string",
              "description": "webhook id",
              "x-ms-summary": "Webhook Id"
            },
            "Attempt": {
              "type": "integer",
              "format": "int32",
              "description": "Attempt",
              "x-ms-summary": "Attempt"
            },
            "Properties": {
              "type": "object",
              "description": "Properties",
              "x-ms-summary": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action",
                    "x-ms-summary": "Action"
                  },
                  "EnrollmentStatus": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Enrollment status",
                    "x-ms-summary": "Enrollment status"
                  },
                  "EnrollmentStatusText": {
                    "type": "string",
                    "description": "Enrollment status text",
                    "x-ms-summary": "Enrollment status text"
                  },
                  "Course": {
                    "type": "object",
                    "properties": {
                      "SiteId": {
                        "type": "string",
                        "description": "SiteId",
                        "x-ms-summary": "SiteId"
                      },
                      "WebId": {
                        "type": "string",
                        "description": "WebId",
                        "x-ms-summary": "WebId"
                      },
                      "Id": {
                        "type": "string",
                        "description": "Id of the training plan or course",
                        "x-ms-summary": "Id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title of the training plan or course",
                        "x-ms-summary": "Training Title"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url to the training plan or course",
                        "x-ms-summary": "Url"
                      },
                      "CourseType": {
                        "type": "string",
                        "description": "Coursetype",
                        "x-ms-summary": "Coursetype"
                      },
                      "Published": {
                        "type": "boolean",
                        "description": "Published",
                        "x-ms-summary": "Published"
                      }
                    },
                    "description": "Course",
                    "x-ms-summary": "Course"
                  },
                  "Users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Id": {
                          "type": "string",
                          "description": "LMS365 user id",
                          "x-ms-summary": "LMS365 User Id"
                        },
                        "DirectoryObjectId": {
                          "type": "string",
                          "description": "Azure active directory object id",
                          "x-ms-summary": "Directory Object Id"
                        },
                        "EnrollmentId": {
                          "type": "string",
                          "description": "Enrollment id",
                          "x-ms-summary": "Enrollment Id"
                        },
                        "LoginName": {
                          "type": "string",
                          "description": "User login name",
                          "x-ms-summary": "Login Name"
                        },
                        "Title": {
                          "type": "string",
                          "description": "Display name of the user",
                          "x-ms-summary": "User Display Name"
                        },
                        "Department": {
                          "type": "string",
                          "description": "Department",
                          "x-ms-summary": "Department"
                        },
                        "Email": {
                          "type": "string",
                          "description": "Email",
                          "x-ms-summary": "Email"
                        }
                      }
                    },
                    "description": "Users",
                    "x-ms-summary": "Users"
                  },
                  "TimeStamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp",
                    "x-ms-summary": "Timestamp"
                  }
                }
              },
              "description": "Notifications",
              "x-ms-summary": "Notifications"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "When a learner has unenrolled from training",
        "description": "This operation is triggered when a learner has unenrolled from assigned training",
        "operationId": "CourseUnenrollment",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHookUri"
              ],
              "properties": {
                "WebHookUri": {
                  "type": "string",
                  "description": "Webhook uri",
                  "x-ms-summary": "Webhook Uri",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ]
      }
    },
    "/webhooks/subscribe/CourseStarted": {
      "x-ms-notification-content": {
        "description": "Response",
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "string",
              "description": "webhook id",
              "x-ms-summary": "Webhook Id"
            },
            "Attempt": {
              "type": "integer",
              "format": "int32",
              "description": "Attempt",
              "x-ms-summary": "Attempt"
            },
            "Properties": {
              "type": "object",
              "description": "Properties",
              "x-ms-summary": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action",
                    "x-ms-summary": "Action"
                  },
                  "EnrollmentStatus": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Enrollment status",
                    "x-ms-summary": "Enrollment status"
                  },
                  "EnrollmentStatusText": {
                    "type": "string",
                    "description": "Enrollment status text",
                    "x-ms-summary": "Enrollment status text"
                  },
                  "Course": {
                    "type": "object",
                    "properties": {
                      "SiteId": {
                        "type": "string",
                        "description": "SiteId",
                        "x-ms-summary": "SiteId"
                      },
                      "WebId": {
                        "type": "string",
                        "description": "WebId",
                        "x-ms-summary": "WebId"
                      },
                      "Id": {
                        "type": "string",
                        "description": "Id of the training plan or course",
                        "x-ms-summary": "Id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title of the training plan or course",
                        "x-ms-summary": "Training Title"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url to the training plan or course",
                        "x-ms-summary": "Url"
                      },
                      "CourseType": {
                        "type": "string",
                        "description": "Coursetype",
                        "x-ms-summary": "Coursetype"
                      },
                      "Published": {
                        "type": "boolean",
                        "description": "Published",
                        "x-ms-summary": "Published"
                      }
                    },
                    "description": "Course",
                    "x-ms-summary": "Course"
                  },
                  "Users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Id": {
                          "type": "string",
                          "description": "LMS365 user id",
                          "x-ms-summary": "LMS365 User Id"
                        },
                        "DirectoryObjectId": {
                          "type": "string",
                          "description": "Azure active directory object id",
                          "x-ms-summary": "Directory Object Id"
                        },
                        "EnrollmentId": {
                          "type": "string",
                          "description": "Enrollment id",
                          "x-ms-summary": "Enrollment Id"
                        },
                        "LoginName": {
                          "type": "string",
                          "description": "User login name",
                          "x-ms-summary": "Login Name"
                        },
                        "Title": {
                          "type": "string",
                          "description": "Display name of the user",
                          "x-ms-summary": "User Display Name"
                        },
                        "Department": {
                          "type": "string",
                          "description": "Department",
                          "x-ms-summary": "Department"
                        },
                        "Email": {
                          "type": "string",
                          "description": "Email",
                          "x-ms-summary": "Email"
                        }
                      }
                    },
                    "description": "Users",
                    "x-ms-summary": "Users"
                  },
                  "TimeStamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp",
                    "x-ms-summary": "Timestamp"
                  }
                }
              },
              "description": "Notifications",
              "x-ms-summary": "Notifications"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "When a learner has started any of the course activities",
        "description": "This operation is triggered when a learner has started any of the course activities",
        "operationId": "CourseStarted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHookUri"
              ],
              "properties": {
                "WebHookUri": {
                  "type": "string",
                  "description": "Webhook uri",
                  "x-ms-summary": "Webhook Uri",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              }
            }
          }
        ]
      }
    },
    "/webhooks/subscribe/CourseCompleted": {
      "x-ms-notification-content": {
        "description": "Response",
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "string",
              "description": "webhook id",
              "x-ms-summary": "Webhook Id"
            },
            "Attempt": {
              "type": "integer",
              "format": "int32",
              "description": "Attempt",
              "x-ms-summary": "Attempt"
            },
            "Properties": {
              "type": "object",
              "description": "Properties",
              "x-ms-summary": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action",
                    "x-ms-summary": "Action"
                  },
                  "EnrollmentStatus": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Enrollment status",
                    "x-ms-summary": "Enrollment status"
                  },
                  "EnrollmentStatusText": {
                    "type": "string",
                    "description": "Enrollment status text",
                    "x-ms-summary": "Enrollment status text"
                  },
                  "Course": {
                    "type": "object",
                    "properties": {
                      "SiteId": {
                        "type": "string",
                        "description": "SiteId",
                        "x-ms-summary": "SiteId"
                      },
                      "WebId": {
                        "type": "string",
                        "description": "WebId",
                        "x-ms-summary": "WebId"
                      },
                      "Id": {
                        "type": "string",
                        "description": "Id of the training plan or course",
                        "x-ms-summary": "Id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title of the training plan or course",
                        "x-ms-summary": "Training Title"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url to the training plan or course",
                        "x-ms-summary": "Url"
                      },
                      "CourseType": {
                        "type": "string",
                        "description": "Coursetype",
                        "x-ms-summary": "Coursetype"
                      },
                      "Published": {
                        "type": "boolean",
                        "description": "Published",
                        "x-ms-summary": "Published"
                      }
                    },
                    "description": "Course",
                    "x-ms-summary": "Course"
                  },
                  "Users": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Id": {
                          "type": "string",
                          "description": "LMS365 user id",
                          "x-ms-summary": "LMS365 User Id"
                        },
                        "DirectoryObjectId": {
                          "type": "string",
                          "description": "Azure active directory object id",
                          "x-ms-summary": "Directory Object Id"
                        },
                        "EnrollmentId": {
                          "type": "string",
                          "description": "Enrollment id",
                          "x-ms-summary": "Enrollment Id"
                        },
                        "LoginName": {
                          "type": "string",
                          "description": "User login name",
                          "x-ms-summary": "Login Name"
                        },
                        "Title": {
                          "type": "string",
                          "description": "Display name of the user",
                          "x-ms-summary": "User Display Name"
                        },
                        "Department": {
                          "type": "string",
                          "description": "Department",
                          "x-ms-summary": "Department"
                        },
                        "Email": {
                          "type": "string",
                          "description": "Email",
                          "x-ms-summary": "Email"
                        }
                      }
                    },
                    "description": "Users",
                    "x-ms-summary": "Users"
                  },
                  "TimeStamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp",
                    "x-ms-summary": "Timestamp"
                  }
                }
              },
              "description": "Notifications",
              "x-ms-summary": "Notifications"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "When a learner has completed training",
        "description": "This operation is triggered when a learner has completed assigned training",
        "operationId": "CourseCompleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHookUri"
              ],
              "properties": {
                "WebHookUri": {
                  "type": "string",
                  "description": "Webhook uri",
                  "x-ms-summary": "Webhook Uri",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ]
      }
    },
    "/webhooks/subscribe/CoursePublished": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "string",
              "description": "Webhook Id",
              "x-ms-summary": "Webhook Id"
            },
            "Attempt": {
              "type": "integer",
              "format": "int32",
              "description": "Attempt"
            },
            "Properties": {
              "type": "object",
              "description": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action"
                  },
                  "SiteId": {
                    "type": "string",
                    "description": "SiteId"
                  },
                  "WebId": {
                    "type": "string",
                    "description": "WebId"
                  },
                  "Id": {
                    "type": "string",
                    "description": "Course Id",
                    "x-ms-summary": "Course Id"
                  },
                  "Title": {
                    "type": "string",
                    "description": "Title of the training plan or course",
                    "x-ms-summary": "Training Title"
                  },
                  "Url": {
                    "type": "string",
                    "description": "The url of the training plan or course",
                    "x-ms-summary": "Training Url"
                  },
                  "CourseType": {
                    "type": "string",
                    "description": "Coursetype"
                  },
                  "Published": {
                    "type": "boolean",
                    "description": "Published"
                  },
                  "TimeStamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp"
                  }
                }
              },
              "description": "Notifications"
            }
          }
        },
        "description": "Response"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "operationId": "CoursePublished",
        "summary": "When training has been published to a catalog",
        "description": "This operation is triggered when a course or training plan has been published to a catalog",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHookUri"
              ],
              "properties": {
                "WebHookUri": {
                  "type": "string",
                  "description": "Webhook uri",
                  "x-ms-summary": "Webhook Uri",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              }
            }
          }
        ]
      }
    },
    "/webhooks/subscribe/CourseUnpublished": {
      "x-ms-notification-content": {
        "description": "Response",
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "string",
              "description": "Webhook Id",
              "x-ms-summary": "Webhook Id"
            },
            "Attempt": {
              "type": "integer",
              "format": "int32",
              "description": "Attempt"
            },
            "Properties": {
              "type": "object",
              "description": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action"
                  },
                  "SiteId": {
                    "type": "string",
                    "description": "SiteId"
                  },
                  "WebId": {
                    "type": "string",
                    "description": "WebId"
                  },
                  "Id": {
                    "type": "string",
                    "description": "Course Id",
                    "x-ms-summary": "Course Id"
                  },
                  "Title": {
                    "type": "string",
                    "description": "Title of the training plan or course",
                    "x-ms-summary": "Training Title"
                  },
                  "Url": {
                    "type": "string",
                    "description": "The url of the training plan or course",
                    "x-ms-summary": "Training Url"
                  },
                  "CourseType": {
                    "type": "string",
                    "description": "Coursetype"
                  },
                  "Published": {
                    "type": "boolean",
                    "description": "Published"
                  },
                  "TimeStamp": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp"
                  }
                }
              },
              "description": "Notifications"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "When training has been unpublished from a catalog",
        "operationId": "CourseUnpublished",
        "description": "This operation is triggered when a course or training plan has been unpublished from a catalog",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "WebHookUri"
              ],
              "properties": {
                "WebHookUri": {
                  "type": "string",
                  "description": "Webhook uri",
                  "x-ms-summary": "Webhook Uri",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        ]
      }
    },
    "/webhooks/subscribe/UserCreated": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "Id": {
              "type": "string",
              "description": "Id"
            },
            "Attempt": {
              "type": "integer",
              "format": "int32",
              "description": "Attempt"
            },
            "Properties": {
              "type": "object",
              "description": "Properties"
            },
            "Notifications": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Action": {
                    "type": "string",
                    "description": "Action"
                  },
                  "UserId": {
                    "type": "string",
                    "description": "UserId"
                  },
                  "LoginName": {
                    "type": "string",
                    "description": "LoginName"
                  },
                  "Email": {
                    "type": "string",
                    "description": "Email"
                  },
                  "Title": {
                    "type": "string",
                    "description": "Title"
                  },
                  "DirectoryObjectId": {
                    "type": "string",
                    "description": "DirectoryObjectId"
                  },
                  "IsDeleted": {
                    "type": "boolean",
                    "description": "IsDeleted"
                  },
                  "UserFieldValues": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "FieldId": {
                          "type": "string",
                          "description": "FieldId"
                        },
                        "FieldTitle": {
                          "type": "string",
                          "description": "FieldTitle"
                        },
                        "Value": {
                          "type": "string",
                          "description": "Value"
                        }
                      }
                    },
                    "description": "UserFieldValues"
                  },
                  "TimeStamp": {
                    "type": "string",
                    "description": "TimeStamp"
                  }
                }
              },
              "description": "Notifications"
            }
          }
        },
        "description": "Response"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "When a user has been created",
        "description": "This operation is triggered when a user entity has been enabled/created in LMS365",
        "operationId": "UserCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "WebHookUri": {
                  "type": "string",
                  "description": "Webhook Uri",
                  "title": "Webhook Uri",
[...]
