{
  "swagger": "2.0",
  "info": {
    "title": "RegexFlow ExecutePython",
    "description": "ExecutePython enables users to use Python's functionality in their Flows.",
    "version": "1.0",
    "contact": {
      "name": "RegexFlow Support",
      "url": "https://www.regexflow.com/",
      "email": "support@regexflow.com"
    }
  },
  "host": "publicapi.regexflow.com",
  "basePath": "/ExecutePythonSAS",
  "schemes": [
    "https"
  ],
  "consumes": [
    "text/plain"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/ExecutePython": {
      "post": {
        "parameters": [
          {
            "name": "python_code",
            "in": "body",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "type": "object",
              "properties": {
                "isSuccess": {
                  "type": "string",
                  "description": "isSuccess"
                },
                "error": {
                  "type": "string",
                  "description": "Description of the error.",
                  "default": "null"
                },
                "output": {
                  "type": "object",
                  "description": "value of the output variable in the python script is available here"
                },
                "caution": {
                  "type": "string",
                  "description": "caution"
                }
              }
            }
          },
          "400": {
            "description": "output variable is not defined"
          },
          "401": {
            "description": "Access denied due to invalid subscription key."
          },
          "403": {
            "description": "Out of volume quota."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "operationId": "ExecutePython",
        "summary": "ExecutePython",
        "description": "Executes the Python (v3.10) script received in the body of the POST request. Only the built-in modules and openpyxl are available. The script has to put the intended results into a JSON variable named output."
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.regexflow.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://regexflow.com/privacy_policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Data"
    }
  ]
}