{
  "swagger": "2.0",
  "info": {
    "title": "Ambee",
    "description": "Ambee fuses the power of thousands of on-ground sensor data and hundreds of remote imagery from satellites. Our state-of-the-art AI and ML techniques with proprietary models analyze environmental factors such as air quality, soil, micro weather, pollen, and more to help millions worldwide say safe and protect themselves.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.ambeedata.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/latest/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "stations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "CO": {
                        "type": "number",
                        "format": "float",
                        "description": "The carbon monoxide conc (ppm).",
                        "title": "CO"
                      },
                      "NO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The nitrogen dioxide conc (ppb).",
                        "title": "NO2"
                      },
                      "OZONE": {
                        "type": "number",
                        "format": "float",
                        "description": "The OZONE conc (ppb).",
                        "title": "OZONE"
                      },
                      "PM10": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 10um (ug/m3).",
                        "title": "PM10"
                      },
                      "PM25": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 2.5um (ug/m3).",
                        "title": "PM25"
                      },
                      "SO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The sulphur dioxide conc (ppb).",
                        "title": "SO2"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "division": {
                        "type": "string",
                        "description": "The division.",
                        "title": "Division"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "placeName": {
                        "type": "string",
                        "description": "The name of the place.",
                        "title": "Place Name"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "The postal code.",
                        "title": "Postal Code"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "The ISO timestamp of event in UTC.",
                        "title": "Updated At"
                      },
                      "AQI": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The air quality index.",
                        "title": "AQI"
                      },
                      "aqiInfo": {
                        "type": "object",
                        "properties": {
                          "pollutant": {
                            "type": "string",
                            "description": "The pollutant.",
                            "title": "Pollutant"
                          },
                          "concentration": {
                            "type": "number",
                            "format": "float",
                            "description": "The concentration.",
                            "title": "Concentration"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category.",
                            "title": "Category"
                          }
                        },
                        "title": "AQI Info"
                      }
                    }
                  },
                  "title": "Stations"
                }
              }
            }
          }
        },
        "summary": "Get current air quality current by geospatial search",
        "description": "Ambee Air Quality API helps you to get real-time, hyper local air quality data for any location by passing the geographic coordinates.",
        "operationId": "AirQualityGeo",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/latest/by-postal-code": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "stations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "CO": {
                        "type": "number",
                        "format": "float",
                        "description": "The carbon monoxide conc (ppm).",
                        "title": "CO"
                      },
                      "NO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The nitrogen dioxide conc (ppb).",
                        "title": "NO2"
                      },
                      "OZONE": {
                        "type": "number",
                        "format": "float",
                        "description": "The OZONE conc (ppb).",
                        "title": "OZONE"
                      },
                      "PM10": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 10um (ug/m3).",
                        "title": "PM10"
                      },
                      "PM25": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 2.5um (ug/m3).",
                        "title": "PM25"
                      },
                      "SO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The sulphur dioxide conc (ppb).",
                        "title": "SO2"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "division": {
                        "type": "string",
                        "description": "The division.",
                        "title": "Division"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "placeName": {
                        "type": "string",
                        "description": "The name of the place.",
                        "title": "Place Name"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "The postal code.",
                        "title": "Postal Code"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "The ISO timestamp of event in UTC.",
                        "title": "Updated At"
                      },
                      "AQI": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The air quality index.",
                        "title": "AQI"
                      },
                      "aqiInfo": {
                        "type": "object",
                        "properties": {
                          "pollutant": {
                            "type": "string",
                            "description": "The pollutant.",
                            "title": "Pollutant"
                          },
                          "concentration": {
                            "type": "number",
                            "format": "float",
                            "description": "The concentration.",
                            "title": "Concentration"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category.",
                            "title": "Category"
                          }
                        },
                        "title": "AQI Info"
                      }
                    }
                  },
                  "title": "Stations"
                }
              }
            }
          }
        },
        "summary": "Get current air quality by postal code search",
        "parameters": [
          {
            "name": "postalCode",
            "in": "query",
            "x-ms-summary": "Postal Code",
            "description": "The postal code of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "countryCode",
            "in": "query",
            "x-ms-summary": "Country Code",
            "description": "The ISO country code of the postal code entered.",
            "required": false,
            "type": "string"
          }
        ],
        "description": "Ambee Air Quality API helps you to get real-time, hyper local air quality data for any location by passing the postal code of the respective area.",
        "operationId": "AirQualityPostal"
      }
    },
    "/latest/by-city": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "stations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "CO": {
                        "type": "number",
                        "format": "float",
                        "description": "The carbon monoxide conc (ppm).",
                        "title": "CO"
                      },
                      "NO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The nitrogen dioxide conc (ppb).",
                        "title": "NO2"
                      },
                      "OZONE": {
                        "type": "number",
                        "format": "float",
                        "description": "The OZONE conc (ppb).",
                        "title": "OZONE"
                      },
                      "PM10": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 10um (ug/m3).",
                        "title": "PM10"
                      },
                      "PM25": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 2.5um (ug/m3).",
                        "title": "PM25"
                      },
                      "SO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The sulphur dioxide conc (ppb).",
                        "title": "SO2"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "division": {
                        "type": "string",
                        "description": "The division.",
                        "title": "Division"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "placeName": {
                        "type": "string",
                        "description": "The name of the place.",
                        "title": "Place Name"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "The postal code.",
                        "title": "Postal Code"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "The ISO timestamp of event in UTC.",
                        "title": "Updated At"
                      },
                      "AQI": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The air quality index.",
                        "title": "AQI"
                      },
                      "aqiInfo": {
                        "type": "object",
                        "properties": {
                          "pollutant": {
                            "type": "string",
                            "description": "The pollutant.",
                            "title": "Pollutant"
                          },
                          "concentration": {
                            "type": "number",
                            "format": "float",
                            "description": "The concentration.",
                            "title": "Concentration"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category.",
                            "title": "Category"
                          }
                        },
                        "title": "AQI Info"
                      }
                    }
                  },
                  "title": "Stations"
                }
              }
            }
          }
        },
        "summary": "Get current air quality by city search",
        "description": "Ambee Air Quality API helps you to get real-time, hyper local air quality data for any city by passing the name of the city.",
        "operationId": "AirQualityCity",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "x-ms-summary": "City",
            "description": "The city to search for.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/latest/by-country-code": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "stations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "CO": {
                        "type": "number",
                        "format": "float",
                        "description": "The carbon monoxide conc (ppm).",
                        "title": "CO"
                      },
                      "NO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The nitrogen dioxide conc (ppb).",
                        "title": "NO2"
                      },
                      "OZONE": {
                        "type": "number",
                        "format": "float",
                        "description": "The OZONE conc (ppb).",
                        "title": "OZONE"
                      },
                      "PM10": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 10um (ug/m3).",
                        "title": "PM10"
                      },
                      "PM25": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 2.5um (ug/m3).",
                        "title": "PM25"
                      },
                      "SO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The sulphur dioxide conc (ppb).",
                        "title": "SO2"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "division": {
                        "type": "string",
                        "description": "The division.",
                        "title": "Division"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "placeName": {
                        "type": "string",
                        "description": "The name of the place.",
                        "title": "Place Name"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "The postal code.",
                        "title": "Postal Code"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "The ISO timestamp of event in UTC.",
                        "title": "Updated At"
                      },
                      "AQI": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The air quality index.",
                        "title": "AQI"
                      },
                      "aqiInfo": {
                        "type": "object",
                        "properties": {
                          "pollutant": {
                            "type": "string",
                            "description": "The pollutant.",
                            "title": "Pollutant"
                          },
                          "concentration": {
                            "type": "number",
                            "format": "float",
                            "description": "The concentration.",
                            "title": "Concentration"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category.",
                            "title": "Category"
                          }
                        },
                        "title": "AQI Info"
                      }
                    }
                  },
                  "title": "Stations"
                }
              }
            }
          }
        },
        "summary": "Get current air quality by country search",
        "description": "Ambee Air Quality API helps you to get real-time, hyper local air quality data for any country by passing the ISO country code.",
        "operationId": "AirQualityCountry",
        "parameters": [
          {
            "name": "countryCode",
            "in": "query",
            "x-ms-summary": "Country Code",
            "description": "The ISO country code of the postal code entered.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/history/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "NO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The nitrogen dioxide conc (ppb).",
                        "title": "NO2"
                      },
                      "PM10": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 10um (ug/m3).",
                        "title": "PM10"
                      },
                      "PM25": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 2.5um (ug/m3).",
                        "title": "PM25"
                      },
                      "CO": {
                        "type": "number",
                        "format": "float",
                        "description": "The carbon monoxide conc (ppm).",
                        "title": "CO"
                      },
                      "SO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The sulphur dioxide conc (ppb).",
                        "title": "SO2"
                      },
                      "OZONE": {
                        "type": "number",
                        "format": "float",
                        "description": "The OZONE conc (ppb).",
                        "title": "OZONE"
                      },
                      "AQI": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The air quality index.",
                        "title": "AQI"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "The postal code.",
                        "title": "Postal Code"
                      },
                      "majorPollutant": {
                        "type": "string",
                        "description": "The major pollutant.",
                        "title": "Major Pollutant"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get historical air quality by geospatial search",
        "description": "Ambee Air Quality API helps you to get historical hyper local air quality data for any for any location by passing the geographic coordinates along with period for which the data is required.",
        "operationId": "AirQualityGeoHistory",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "description": "The tarting timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "description": "The ending timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/history/by-postal-code": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "stations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "CO": {
                        "type": "number",
                        "format": "float",
                        "description": "The carbon monoxide conc (ppm).",
                        "title": "CO"
                      },
                      "NO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The nitrogen dioxide conc (ppb).",
                        "title": "NO2"
                      },
                      "OZONE": {
                        "type": "number",
                        "format": "float",
                        "description": "The OZONE conc (ppb).",
                        "title": "OZONE"
                      },
                      "PM10": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 10um (ug/m3).",
                        "title": "PM10"
                      },
                      "PM25": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 2.5um (ug/m3).",
                        "title": "PM25"
                      },
                      "SO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The sulphur dioxide conc (ppb).",
                        "title": "SO2"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "division": {
                        "type": "string",
                        "description": "The division.",
                        "title": "Division"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "placeName": {
                        "type": "string",
                        "description": "The name of the place.",
                        "title": "Place Name"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "The postal code.",
                        "title": "Postal Code"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "The ISO timestamp of event in UTC.",
                        "title": "Updated At"
                      },
                      "AQI": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The air quality index.",
                        "title": "AQI"
                      },
                      "aqiInfo": {
                        "type": "object",
                        "properties": {
                          "pollutant": {
                            "type": "string",
                            "description": "The pollutant.",
                            "title": "Pollutant"
                          },
                          "concentration": {
                            "type": "number",
                            "format": "float",
                            "description": "The concentration.",
                            "title": "Concentration"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category.",
                            "title": "Category"
                          }
                        },
                        "title": "AQI Info"
                      }
                    }
                  },
                  "title": "Stations"
                }
              }
            }
          }
        },
        "summary": "Get historical air quality by postal code search",
        "description": "Ambee Air Quality API helps you to get historical hyper local air quality data for any for any location by passing the geographic coordinates along with period for which the data is required.",
        "operationId": "AirQualityPostalHistory",
        "parameters": [
          {
            "name": "postalCode",
            "in": "query",
            "x-ms-summary": "Postal Code",
            "description": "The postal code of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "countryCode",
            "in": "query",
            "x-ms-summary": "Country Code",
            "description": "The ISO country code of the postal code entered.",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "description": "The tarting timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "description": "The ending timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/latest/by-order/worst": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "NO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The nitrogen dioxide conc (ppb).",
                        "title": "NO2"
                      },
                      "PM10": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 10um (ug/m3).",
                        "title": "PM10"
                      },
                      "PM25": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 2.5um (ug/m3).",
                        "title": "PM25"
                      },
                      "CO": {
                        "type": "number",
                        "format": "float",
                        "description": "The carbon monoxide conc (ppm).",
                        "title": "CO"
                      },
                      "SO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The sulphur dioxide conc (ppb).",
                        "title": "SO2"
                      },
                      "OZONE": {
                        "type": "number",
                        "format": "float",
                        "description": "The OZONE conc (ppb).",
                        "title": "OZONE"
                      },
                      "AQI": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The air quality index.",
                        "title": "AQI"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "The postal code.",
                        "title": "Postal Code"
                      },
                      "majorPollutant": {
                        "type": "string",
                        "description": "The major pollutant.",
                        "title": "Major Pollutant"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get most polluted places by air quality",
        "description": "Ambee Air Quality API helps you to get most polluted places calculated from among various countries. The API also provides location information about the postal code passed like country code, division, latitude, longitude, placename, state, city, etc.",
        "operationId": "AirQualityMostPolluted",
        "parameters": []
      }
    },
    "/latest/by-order/best": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "stations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "CO": {
                        "type": "number",
                        "format": "float",
                        "description": "The carbon monoxide conc (ppm).",
                        "title": "CO"
                      },
                      "NO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The nitrogen dioxide conc (ppb).",
                        "title": "NO2"
                      },
                      "OZONE": {
                        "type": "number",
                        "format": "float",
                        "description": "The OZONE conc (ppb).",
                        "title": "OZONE"
                      },
                      "PM10": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 10um (ug/m3).",
                        "title": "PM10"
                      },
                      "PM25": {
                        "type": "number",
                        "format": "float",
                        "description": "The particulate matter < 2.5um (ug/m3).",
                        "title": "PM25"
                      },
                      "SO2": {
                        "type": "number",
                        "format": "float",
                        "description": "The sulphur dioxide conc (ppb).",
                        "title": "SO2"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "division": {
                        "type": "string",
                        "description": "The division.",
                        "title": "Division"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "placeName": {
                        "type": "string",
                        "description": "The name of the place.",
                        "title": "Place Name"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "The postal code.",
                        "title": "Postal Code"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "The ISO timestamp of event in UTC.",
                        "title": "Updated At"
                      },
                      "AQI": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The air quality index.",
                        "title": "AQI"
                      },
                      "aqiInfo": {
                        "type": "object",
                        "properties": {
                          "pollutant": {
                            "type": "string",
                            "description": "The pollutant.",
                            "title": "Pollutant"
                          },
                          "concentration": {
                            "type": "number",
                            "format": "float",
                            "description": "The concentration.",
                            "title": "Concentration"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category.",
                            "title": "Category"
                          }
                        },
                        "title": "AQI Info"
                      }
                    }
                  },
                  "title": "Stations"
                }
              }
            }
          }
        },
        "summary": "Get least polluted places by air quality",
        "description": "Ambee Air Quality API helps you to get least polluted places calculated from among various countries. The API also provides location information about the postal code passed like country code, division, latitude, longitude, placename, state, city, etc.",
        "operationId": "AirQualityLeastPolluted",
        "parameters": []
      }
    },
    "/weather/latest/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The time.",
                      "title": "Time"
                    },
                    "temperature": {
                      "type": "number",
                      "format": "float",
                      "description": "The temperature.",
                      "title": "Temperature"
                    },
                    "apparentTemperature": {
                      "type": "number",
                      "format": "float",
                      "description": "The apparent temperature.",
                      "title": "Apparent Temperature"
                    },
                    "summary": {
                      "type": "string",
                      "description": "The summary.",
                      "title": "Summary"
                    },
                    "icon": {
                      "type": "string",
                      "description": "The icon.",
                      "title": "Icon"
                    },
                    "dewPoint": {
                      "type": "number",
                      "format": "float",
                      "description": "The dew point.",
                      "title": "Dew Point"
                    },
                    "humidity": {
                      "type": "number",
                      "format": "float",
                      "description": "The humidity.",
                      "title": "Humidity"
                    },
                    "pressure": {
                      "type": "number",
                      "format": "float",
                      "description": "The pressure.",
                      "title": "Pressure"
                    },
                    "windSpeed": {
                      "type": "number",
                      "format": "float",
                      "description": "The wind speed.",
                      "title": "Wind Speed"
                    },
                    "windGust": {
                      "type": "number",
                      "format": "float",
                      "description": "The wind gust.",
                      "title": "Wind Gust"
                    },
                    "windBearing": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The wind bearing.",
                      "title": "Wind Bearing"
                    },
                    "cloudCover": {
                      "type": "number",
                      "format": "float",
                      "description": "The cloud cover.",
                      "title": "Cloud Cover"
                    },
                    "visibility": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The visibility.",
                      "title": "Visibility"
                    },
                    "ozone": {
                      "type": "number",
                      "format": "float",
                      "description": "The ozone.",
                      "title": "Ozone"
                    },
                    "lat": {
                      "type": "string",
                      "description": "The latitude.",
                      "title": "Latitude"
                    },
                    "lng": {
                      "type": "string",
                      "description": "The longitude.",
                      "title": "Longitude"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get current weather by geospatial search",
        "description": "Ambee Weather API gives access to real-time local weather updates for temperature, pressure, humidity, wind, cloud coverage, visibility, and dew point of any location in the world by latitude and longitude.",
        "operationId": "WeatherCurrent",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/weather/history/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status type.",
                  "title": "Status"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "The latitude.",
                      "title": "Latitude"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "The longitude.",
                      "title": "Longitude"
                    },
                    "history": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The time.",
                            "title": "Time"
                          },
                          "temperature": {
                            "type": "number",
                            "format": "float",
                            "description": "The temperature.",
                            "title": "Temperature"
                          },
                          "apparentTemperature": {
                            "type": "number",
                            "format": "float",
                            "description": "The apparent temperature.",
                            "title": "Apparent Temperature"
                          },
                          "summary": {
                            "type": "string",
                            "description": "The summary.",
                            "title": "Summary"
                          },
                          "icon": {
                            "type": "string",
                            "description": "The icon.",
                            "title": "Icon"
                          },
                          "dewPoint": {
                            "type": "number",
                            "format": "float",
                            "description": "The dew point.",
                            "title": "Dew Point"
                          },
                          "humidity": {
                            "type": "number",
                            "format": "float",
                            "description": "The humidity.",
                            "title": "Humidity"
                          },
                          "pressure": {
                            "type": "number",
                            "format": "float",
                            "description": "The pressure.",
                            "title": "Pressure"
                          },
                          "windSpeed": {
                            "type": "number",
                            "format": "float",
                            "description": "The wind speed.",
                            "title": "Wind Speed"
                          },
                          "windGust": {
                            "type": "number",
                            "format": "float",
                            "description": "The wind gust.",
                            "title": "Wind Gust"
                          },
                          "windBearing": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The wind bearing.",
                            "title": "Wind Bearing"
                          },
                          "cloudCover": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The cloud cover.",
                            "title": "Cloud Cover"
                          },
                          "visibility": {
                            "type": "number",
                            "format": "float",
                            "description": "The visibility.",
                            "title": "Visibility"
                          },
                          "ozone": {
                            "type": "number",
                            "format": "float",
                            "description": "The ozone.",
                            "title": "Ozone"
                          }
                        }
                      },
                      "title": "History"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get historical weather by geospatial search",
        "description": "Ambee Weather API gives access to historical data for temperature, pressure, humidity, wind, cloud coverage, visibility, and dew point of any location in the world by latitude and longitude.",
        "operationId": "WeatherHistory",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "description": "The tarting timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "description": "The ending timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/weather/forecast/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "lat": {
                      "type": "string",
                      "description": "The latitude.",
                      "title": "Latitude"
                    },
                    "lng": {
                      "type": "string",
                      "description": "The longitude.",
                      "title": "Longitude"
                    },
                    "forecast": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "time": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The time.",
                            "title": "Time"
                          },
                          "precipIntensity": {
                            "type": "number",
                            "format": "float",
                            "description": "The precipitation intensity.",
                            "title": "Precip Intensity"
                          },
                          "precipProbability": {
                            "type": "number",
                            "format": "float",
                            "description": "The precipitation probability.",
                            "title": "Precip Probability"
                          },
                          "precipType": {
                            "type": "string",
                            "description": "The precipitation type.",
                            "title": "Precip Type"
                          },
                          "temperature": {
                            "type": "number",
                            "format": "float",
                            "description": "The temperature.",
                            "title": "Temperature"
                          },
                          "apparentTemperature": {
                            "type": "number",
                            "format": "float",
                            "description": "The apparent temperature.",
                            "title": "Apparent Temperature"
                          },
                          "summary": {
                            "type": "string",
                            "description": "The summary.",
                            "title": "Summary"
                          },
                          "icon": {
                            "type": "string",
                            "description": "The icon.",
                            "title": "Icon"
                          },
                          "dewPoint": {
                            "type": "number",
                            "format": "float",
                            "description": "The dew point.",
                            "title": "Dew Point"
                          },
                          "humidity": {
                            "type": "number",
                            "format": "float",
                            "description": "The humidity.",
                            "title": "Humidity"
                          },
                          "pressure": {
                            "type": "number",
                            "format": "float",
                            "description": "The pressure.",
                            "title": "Pressure"
                          },
                          "windSpeed": {
                            "type": "number",
                            "format": "float",
                            "description": "The wind speed.",
                            "title": "Wind Speed"
                          },
                          "windGust": {
                            "type": "number",
                            "format": "float",
                            "description": "The wind gust.",
                            "title": "Wind Gust"
                          },
                          "windBearing": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The wind bearing.",
                            "title": "Wind Bearing"
                          },
                          "cloudCover": {
                            "type": "number",
                            "format": "float",
                            "description": "The cloud cover.",
                            "title": "Cloud Cover"
                          },
                          "uvIndex": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The UV index.",
                            "title": "UV Index"
                          },
                          "visibility": {
                            "type": "number",
                            "format": "float",
                            "description": "The visibility.",
                            "title": "Visibility"
                          },
                          "ozone": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The ozone.",
                            "title": "Ozone"
                          }
                        }
                      },
                      "description": "forecast"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get weather forecast by geospatial search",
        "description": "Ambee Weather API gives access to daily, hourly and even minutely forecasts for temperature, pressure, humidity, wind, cloud coverage, visibility, and dew point of any location in the world by latitude and longitude.",
        "operationId": "WeatherForecast",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "Can be any of the three averaging intervals 'minutely' or 'hourly' or 'daily'.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/latest/pollen/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Count": {
                        "type": "object",
                        "properties": {
                          "grass_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The grass pollen.",
                            "title": "Grass Pollen"
                          },
                          "tree_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The tree pollen.",
                            "title": "Tree Pollen"
                          },
                          "weed_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The weed pollen.",
                            "title": "Weed Pollen"
                          }
                        },
                        "title": "Count"
                      },
                      "Risk": {
                        "type": "object",
                        "properties": {
                          "grass_pollen": {
                            "type": "string",
                            "description": "The grass pollen.",
                            "title": "Grass Pollen"
                          },
                          "tree_pollen": {
                            "type": "string",
                            "description": "The tree pollen.",
                            "title": "Tree Pollen"
                          },
                          "weed_pollen": {
                            "type": "string",
                            "description": "The weed pollen.",
                            "title": "Weed Pollen"
                          }
                        },
                        "title": "Risk"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get latest pollen by geospatial search",
        "description": "Ambee Pollen API gives access to real-time pollen count - tree, grass and weed, by latitude and longitude.",
        "operationId": "PollenLatestGeo",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/latest/pollen/by-place": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Count": {
                        "type": "object",
                        "properties": {
                          "grass_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The grass pollen.",
                            "title": "Grass Pollen"
                          },
                          "tree_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The tree pollen.",
                            "title": "Tree Pollen"
                          },
                          "weed_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The weed pollen.",
                            "title": "Weed Pollen"
                          }
                        },
                        "title": "Count"
                      },
                      "Risk": {
                        "type": "object",
                        "properties": {
                          "grass_pollen": {
                            "type": "string",
                            "description": "The grass pollen.",
                            "title": "Grass Pollen"
                          },
                          "tree_pollen": {
                            "type": "string",
                            "description": "The tree pollen.",
                            "title": "Tree Pollen"
                          },
                          "weed_pollen": {
                            "type": "string",
                            "description": "The weed pollen.",
                            "title": "Weed Pollen"
                          }
                        },
                        "title": "Risk"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get latest pollen by place search",
        "description": "Ambee Pollen API gives access to get realtime pollen count - tree, grass and weed, by passing the place name along with period for which the data is required.",
        "operationId": "PollenLatestPlace",
        "parameters": [
          {
            "name": "place",
            "in": "query",
            "x-ms-summary": "Place",
            "description": "The name of the place to search.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/history/pollen/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Count": {
                        "type": "object",
                        "properties": {
                          "grass_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The grass pollen.",
                            "title": "Grass Pollen"
                          },
                          "tree_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The tree pollen.",
                            "title": "Tree Pollen"
                          },
                          "weed_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The weed pollen.",
                            "title": "Weed Pollen"
                          }
                        },
                        "title": "Count"
                      },
                      "Risk": {
                        "type": "object",
                        "properties": {
                          "grass_pollen": {
                            "type": "string",
                            "description": "The grass pollen.",
                            "title": "Grass Pollen"
                          },
                          "tree_pollen": {
                            "type": "string",
                            "description": "The tree pollen.",
                            "title": "Tree Pollen"
                          },
                          "weed_pollen": {
                            "type": "string",
                            "description": "The weed pollen.",
                            "title": "Weed Pollen"
                          }
                        },
                        "title": "Risk"
                      },
                      "time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The time.",
                        "title": "Time"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get historical pollen by geospatial search",
        "description": "Ambee Pollen API gives access to get historical pollen count - tree, grass and weed, by passing the geographic coordinates along with period for which the data is required.",
        "operationId": "PollenHistoryGeo",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "description": "The tarting timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "description": "The ending timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/history/pollen/by-place": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Count": {
                        "type": "object",
                        "properties": {
                          "grass_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The grass pollen.",
                            "title": "Grass Pollen"
                          },
                          "tree_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The tree pollen.",
                            "title": "Tree Pollen"
                          },
                          "weed_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The weed pollen.",
                            "title": "Weed Pollen"
                          }
                        },
                        "title": "Count"
                      },
                      "Risk": {
                        "type": "object",
                        "properties": {
                          "grass_pollen": {
                            "type": "string",
                            "description": "The grass pollen.",
                            "title": "Grass Pollen"
                          },
                          "tree_pollen": {
                            "type": "string",
                            "description": "The tree pollen.",
                            "title": "Tree Pollen"
                          },
                          "weed_pollen": {
                            "type": "string",
                            "description": "The weed pollen.",
                            "title": "Weed Pollen"
                          }
                        },
                        "title": "Risk"
                      },
                      "time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The time.",
                        "title": "Time"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get historical pollen by place search",
        "description": "Ambee Pollen API gives access to get historical pollen count - tree, grass and weed, by passing the place name along with period for which the data is required.",
        "operationId": "PollenHistoryPlace",
        "parameters": [
          {
            "name": "place",
            "in": "query",
            "x-ms-summary": "Place",
            "description": "The name of the place to search.",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "description": "The tarting timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "description": "The ending timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/forecast/pollen/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The time.",
                        "title": "Time"
                      },
                      "lat": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "lng": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "Count": {
                        "type": "object",
                        "properties": {
                          "grass_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The grass pollen.",
                            "title": "Grass Pollen"
                          },
                          "tree_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The tree pollen.",
                            "title": "Tree Pollen"
                          },
                          "weed_pollen": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The weed pollen.",
                            "title": "Weed Pollen"
                          }
                        },
                        "title": "Count"
                      },
                      "Risk": {
                        "type": "object",
                        "properties": {
                          "grass_pollen": {
                            "type": "string",
                            "description": "The grass pollen.",
                            "title": "Grass Pollen"
                          },
                          "tree_pollen": {
                            "type": "string",
                            "description": "The tree pollen.",
                            "title": "Tree Pollen"
                          },
                          "weed_pollen": {
                            "type": "string",
                            "description": "The weed pollen.",
                            "title": "Weed Pollen"
                          }
                        },
                        "title": "Risk"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get pollen forecast by geospatial search",
        "description": "Ambee Pollen API gives access to get forecast of pollen count - tree, grass and weed, by passing the geographic coordinates.",
        "operationId": "PollForecastGeo",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/latest/fire": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "lon": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "confidence": {
                        "type": "string",
                        "description": "The confidence.",
                        "title": "Confidence"
                      },
                      "frp": {
                        "type": "number",
                        "format": "float",
                        "description": "The fire radiative power in MW.",
                        "title": "FRP"
                      },
                      "daynight": {
                        "type": "string",
                        "description": "The time event was detected.",
                        "title": "Day/night"
                      },
                      "detection_time": {
                        "type": "string",
                        "description": "The detection time.",
                        "title": "Detection Time"
                      },
                      "distance": {
                        "type": "number",
                        "format": "float",
                        "description": "The distance.",
                        "title": "Distance"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get current fires by geospatial search",
        "description": "Ambee\u2019s Fire API gives access to real-time local active fires data by latitude and longitude for any location in the world.",
        "operationId": "FireCurrent",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/soil/latest/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "scantime": {
                        "type": "string",
                        "description": "The time of scan.",
                        "title": "Scan Time"
                      },
                      "soil_temperature": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The soil temperature.",
                        "title": "Soil Temperature"
                      },
                      "soil_moisture": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The soil moisture.",
                        "title": "Soil Moisture"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get current soil by geospatial search",
        "description": "Ambee Soil API gives access to real-time soil moisture and soil temperature levels of any given location in the world by latitude and longitude.",
        "operationId": "SoilCurrent",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/soil/history/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "scantime": {
                        "type": "string",
                        "description": "The time of scan.",
                        "title": "Scan Time"
                      },
                      "soil_temperature": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The soil temperature.",
                        "title": "Soil Temperature"
                      },
                      "soil_moisture": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The soil moisture.",
                        "title": "Soil Moisture"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get historical soil by geospatial search",
        "description": "Ambee Soil API gives access to historical soil moisture and soil temperature levels of any given location in the world by latitude and longitude.",
        "operationId": "SoilHistory",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "description": "The tarting timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "description": "The ending timestamp of the period to search for in the format YYYY-MM-DD hh:mm:ss.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/waterVapor/latest/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "water_vapor": {
                        "type": "number",
                        "format": "float",
                        "description": "The water vapor.",
                        "title": "Water Vapor"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get current water vapor by geospatial search",
        "description": "Ambee Water Vapor API gives access to real-time water vapor level of any given location in the world by latitude and longitude.",
        "operationId": "WaterVaporCurrent",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "x-ms-summary": "Latitude",
            "description": "The latitude of the place to search.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "lng",
            "in": "query",
            "x-ms-summary": "Longitude",
            "description": "The longitude of the place to search.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/waterVapor/history/by-lat-lng": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "water_vapor": {
                        "type": "number",
                        "format": "float",
                        "description": "The water vapor.",
[...]
