{
  "swagger": "2.0",
  "info": {
    "title": "Africa's Talking Voice",
    "description": "Offers an action to schedule outbound calls to recipients through Africa's Talking's Voice API. You can use this connector to instruct our Voice service to Say/Play a sequence of items in an outbound call.",
    "version": "1.0",
    "contact": {
      "name": "Advice and answers from the Africa's Talking Team",
      "url": "https://help.africastalking.com/en/",
      "email": "voice@africastalking.com"
    }
  },
  "host": "voice.africastalking.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/call": {
      "post": {
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "entries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "phoneNumber": {
                        "type": "string",
                        "description": "phoneNumber"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "sessionId": {
                        "type": "string",
                        "description": "sessionId"
                      }
                    }
                  },
                  "description": "entries"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          }
        },
        "summary": "Make an outbound call",
        "description": "Make an outbound call to multiple recipients",
        "operationId": "Call",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "description": "Your application's username",
                  "title": "Username",
                  "x-ms-visibility": "important"
                },
                "from": {
                  "type": "string",
                  "description": "Your Africa's Talking phone number, in international format.",
                  "title": "From",
                  "x-ms-visibility": "important"
                },
                "to": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Recipient phone number",
                    "title": "To",
                    "x-ms-visibility": "important"
                  },
                  "description": "to"
                },
                "actions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "actionType": {
                        "type": "string",
                        "description": "An action for our voice service to perform in this call",
                        "title": "Action",
                        "x-ms-visibility": "important",
                        "enum": [
                          "Play",
                          "Say"
                        ]
                      },
                      "text": {
                        "type": "string",
                        "description": "Text that will be read out to the recipient of the call",
                        "title": "Text",
                        "x-ms-visibility": "advanced"
                      },
                      "url": {
                        "type": "string",
                        "description": "A valid URL that contains a link to an audio file to be played",
                        "title": "Url",
                        "x-ms-visibility": "advanced"
                      },
                      "voice": {
                        "type": "string",
                        "description": "Voice to use to read out the text sent with this request",
                        "title": "Voice",
                        "x-ms-visibility": "advanced",
                        "enum": [
                          "man",
                          "woman"
                        ]
                      },
                      "playBeep": {
                        "type": "boolean",
                        "description": "Play a beep after reading out the text contained in this request",
                        "title": "Play Beep",
                        "x-ms-visibility": "advanced",
                        "enum": [
                          true,
                          false
                        ]
                      }
                    },
                    "required": [
                      "actionType"
                    ]
                  },
                  "description": "actions"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "from",
                "username",
                "to",
                "actions"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://africastalking.com/voice"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://africastalking.com/privacy_policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "apiKey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}