{
  "swagger": "2.0",
  "info": {
    "title": "Secplug Scan",
    "description": "Secplug Scan for scanning Emails, files and Urls",
    "version": "1.0",
	"contact": {
      "name": "Secplugs",
      "url": "https://secplugs.com/",
      "email": "secplugs@secplugs.com"
    }	
  },
  "host": "proxy.secplugs.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/file/jsonupload": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "score"
                },
                "json_report": {
                  "type": "array",
                  "items": {},
                  "description": "json_report"
                },
                "threat_object": {
                  "type": "object",
                  "properties": {
                    "sha256": {
                      "type": "string",
                      "description": "sha256"
                    }
                  },
                  "description": "threat_object"
                },
                "scan_context": {
                  "type": "object",
                  "properties": {
                    "file_name": {
                      "type": "string",
                      "description": "file_name"
                    },
                    "client_id": {
                      "type": "string",
                      "description": "client_id"
                    }
                  },
                  "description": "scan_context"
                },
                "datetime": {
                  "type": "number",
                  "format": "float",
                  "description": "datetime"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "account_id": {
                  "type": "string",
                  "description": "account_id"
                },
                "api_key": {
                  "type": "string",
                  "description": "api_key"
                },
                "meta_data": {
                  "type": "object",
                  "properties": {
                    "plugin_info": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        }
                      },
                      "description": "plugin_info"
                    },
                    "capability": {
                      "type": "string",
                      "description": "capability"
                    },
                    "vendor_info": {
                      "type": "object",
                      "properties": {
                        "vendor_config_name": {
                          "type": "string",
                          "description": "vendor_config_name"
                        },
                        "entitlement_level": {
                          "type": "string",
                          "description": "entitlement_level"
                        },
                        "vendor": {
                          "type": "string",
                          "description": "vendor"
                        },
                        "credits": {
                          "type": "integer",
                          "format": "int32",
                          "description": "credits"
                        },
                        "params": {
                          "type": "object",
                          "properties": {},
                          "description": "params"
                        }
                      },
                      "description": "vendor_info"
                    }
                  },
                  "description": "meta_data"
                },
                "report_id": {
                  "type": "string",
                  "description": "report_id"
                },
                "verdict": {
                  "type": "string",
                  "description": "verdict"
                },
                "duration": {
                  "type": "number",
                  "format": "float",
                  "description": "duration"
                },
                "user_report_url": {
                  "type": "string",
                  "description": "user_report_url"
                }
              }
            }
          }
        },
        "summary": "Scan files using SecPlug Scan",
        "operationId": "filescan",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string",
            "default": "GW5sb8sj8D9CtvVrjsTC22FNljxhoVuL1UoM6fFL",
            "required": false,
            "description": "Secplug API Key",
            "x-ms-summary": "Secplug API Key"
          },
		  {
            "in": "header",
            "name": "x-client-id",
            "type": "string",
            "default": "",
            "required": false,
            "description": "Client Id to distinguish user",
            "x-ms-summary": "Client Id"
          },		  
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "File name",
                  "title": "File Name"
                },
                "filetype": {
                  "type": "string",
                  "description": "filetype",
                  "title": "File Type",
                  "x-ms-visibility": "internal",
                  "default": "text/plain"
                },
                "cte": {
                  "type": "string",
                  "description": "Content Type",
                  "title": "Content Type",
                  "default": "base64",
                  "x-ms-visibility": "internal"
                },
                "data": {
                  "type": "string",
                  "description": "Base64 encoded File contents",
                  "title": "File Data ( Base64 encoded)"
                }
              },
              "required": [
                "data",
                "filename",
                "cte",
                "filetype"
              ]
            }
          }
        ],
        "description": "Scan files using SecPlug Scan",
		"consumes": ["application/json"]
      }
    },
    "/email/jsonupload": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "score"
                },
                "json_report": {
                  "type": "object",
                  "properties": {
                    "malwarereport": {
                      "type": "string",
                      "description": "malwarereport"
                    },
                    "spam_score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "spam_score"
                    },
                    "malware_score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "malware_score"
                    }
                  },
                  "description": "json_report"
                },
                "threat_object": {
                  "type": "object",
                  "properties": {
                    "email_id": {
                      "type": "string",
                      "description": "email_id"
                    }
                  },
                  "description": "threat_object"
                },
                "scan_context": {
                  "type": "object",
                  "properties": {
                    "file_name": {
                      "type": "string",
                      "description": "file_name"
                    },
                    "client_id": {
                      "type": "string",
                      "description": "client_id"
                    }
                  },
                  "description": "scan_context"
                },
                "datetime": {
                  "type": "number",
                  "format": "float",
                  "description": "datetime"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "account_id": {
                  "type": "string",
                  "description": "account_id"
                },
                "api_key": {
                  "type": "string",
                  "description": "api_key"
                },
                "meta_data": {
                  "type": "object",
                  "properties": {
                    "plugin_info": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        }
                      },
                      "description": "plugin_info"
                    },
                    "capability": {
                      "type": "string",
                      "description": "capability"
                    },
                    "vendor_info": {
                      "type": "object",
                      "properties": {
                        "vendor_config_name": {
                          "type": "string",
                          "description": "vendor_config_name"
                        },
                        "entitlement_level": {
                          "type": "string",
                          "description": "entitlement_level"
                        },
                        "vendor": {
                          "type": "string",
                          "description": "vendor"
                        },
                        "credits": {
                          "type": "integer",
                          "format": "int32",
                          "description": "credits"
                        },
                        "params": {
                          "type": "object",
                          "properties": {},
                          "description": "params"
                        }
                      },
                      "description": "vendor_info"
                    }
                  },
                  "description": "meta_data"
                },
                "report_id": {
                  "type": "string",
                  "description": "report_id"
                },
                "verdict": {
                  "type": "string",
                  "description": "verdict"
                },
                "duration": {
                  "type": "number",
                  "format": "float",
                  "description": "duration"
                },
                "user_report_url": {
                  "type": "string",
                  "description": "user_report_url"
                }
              }
            }
          }
        },
        "summary": "Scan Emails using SecPlug Scan",
        "operationId": "emailscan",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string",
            "default": "GW5sb8sj8D9CtvVrjsTC22FNljxhoVuL1UoM6fFL",
            "required": false,
            "description": "Secplug API Key",
            "x-ms-summary": "Secplug API Key"
          },
		  {
            "in": "header",
            "name": "x-client-id",
            "type": "string",
            "default": "",
            "required": false,
            "description": "Client Id to distinguish user",
            "x-ms-summary": "Client Id"
          },		  
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "File name",
                  "title": "File Name"
                },
                "cte": {
                  "type": "string",
                  "description": "Content Type",
                  "title": "Content Type",
                  "default": "base64",
                  "x-ms-visibility": "internal"
                },
                "data": {
                  "type": "string",
                  "description": "Base64 encoded File contents",
                  "title": "File Data ( Base64 encoded)"
                }
              },
              "required": [
                "data",
                "filename",
                "cte"
              ]
            }
          }
        ],
        "description": "Scan Emails using SecPlug Scan",
		"consumes": ["application/json"]
      }
    }
  },
  "x-ms-connector-metadata":[
  {
  "propertyName": "Website",
  "propertyValue": "https://secplugs.com"
  },
  {
  "propertyName": "Privacy policy",
  "propertyValue": "https://secplugs.com/index.php/privacy-policy"
  },
  {
  "propertyName": "Categories",
  "propertyValue": "Security"
  }  
  ],  
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}