{
  "swagger": "2.0",
  "info": {
    "title": "Secplug Scan",
    "description": "Secplug Scan for scanning Emails content, files contents and Urls, Secplug scan is a platform which creates hybrid security platform using various security provider",
    "version": "1.0",
    "contact": {
      "name": "Secplugs",
      "url": "https://secplugs.com/",
      "email": "secplugs@secplugs.com"
    }
  },
  "host": "proxy.secplugs.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/file/jsonupload": {
      "post": {
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "type": "object",
              "properties": {
                "score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "score"
                },
                "json_report": {
                  "type": "array",
                  "items": {},
                  "description": "report in json format"
                },
                "threat_object": {
                  "type": "object",
                  "properties": {
                    "sha256": {
                      "type": "string",
                      "description": "sha256 of file content"
                    }
                  },
                  "description": "threat object of the file scan result"
                },
                "scan_context": {
                  "type": "object",
                  "properties": {
                    "file_name": {
                      "type": "string",
                      "description": "scanned file name"
                    },
                    "client_id": {
                      "type": "string",
                      "description": "client Id of caller."
                    }
                  },
                  "description": "Json context of scan"
                },
                "datetime": {
                  "type": "number",
                  "format": "float",
                  "description": "Time of scan"
                },
                "status": {
                  "type": "string",
                  "description": "status of scan"
                },
                "account_id": {
                  "type": "string",
                  "description": "account id of the user scanned"
                },
                "api_key": {
                  "type": "string",
                  "description": "api key of caller"
                },
                "meta_data": {
                  "type": "object",
                  "properties": {
                    "plugin_info": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "type of the plugin calling secplug"
                        },
                        "name": {
                          "type": "string",
                          "description": "name of the plugin"
                        }
                      },
                      "description": "plugin information"
                    },
                    "capability": {
                      "type": "string",
                      "description": "capability of scan"
                    },
                    "vendor_info": {
                      "type": "object",
                      "properties": {
                        "vendor_config_name": {
                          "type": "string",
                          "description": "vendor configuration name"
                        },
                        "entitlement_level": {
                          "type": "string",
                          "description": "entitlement level of file"
                        },
                        "vendor": {
                          "type": "string",
                          "description": "vendor name"
                        },
                        "credits": {
                          "type": "integer",
                          "format": "int32",
                          "description": "credits of the user"
                        },
                        "params": {
                          "type": "object",
                          "properties": {},
                          "description": "params"
                        }
                      },
                      "description": "secplug vendor information"
                    }
                  },
                  "description": "meta data of scan"
                },
                "report_id": {
                  "type": "string",
                  "description": "report id of result"
                },
                "verdict": {
                  "type": "string",
                  "description": "verdict of scan"
                },
                "duration": {
                  "type": "number",
                  "format": "float",
                  "description": "duration taken in scan"
                },
                "user_report_url": {
                  "type": "string",
                  "description": "user report url can be opened from browser."
                }
              }
            }
          }
        },
        "summary": "Scan files using SecPlug Scan",
        "operationId": "filescan",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string",
            "default": "",
            "required": false,
            "description": "Secplug API Key",
            "x-ms-summary": "Secplug API Key"
          },
          {
            "in": "header",
            "name": "x-client-id",
            "type": "string",
            "default": "",
            "required": false,
            "description": "Client Id to distinguish user",
            "x-ms-summary": "Client Id"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "File name of email",
                  "title": "File Name"
                },
                "filetype": {
                  "type": "string",
                  "description": "filetype of incoming file",
                  "title": "File Type",
                  "x-ms-visibility": "internal",
                  "default": "text/plain"
                },
                "cte": {
                  "type": "string",
                  "description": "Content Type of the input",
                  "title": "Content Type",
                  "default": "base64",
                  "x-ms-visibility": "internal"
                },
                "data": {
                  "type": "string",
                  "description": "Base64 encoded File contents",
                  "title": "File Data ( Base64 encoded)"
                }
              },
              "required": [
                "data",
                "filename",
                "cte",
                "filetype"
              ]
            }
          }
        ],
        "description": "Scan files using SecPlug Scan",
        "consumes": [ "application/json" ]
      }
    },
    "/email/jsonupload": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "score of email scanned"
                },
                "json_report": {
                  "type": "object",
                  "properties": {
                    "malwarereport": {
                      "type": "string",
                      "description": "malware result report"
                    },
                    "spam_score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "spam score of email"
                    },
                    "malware_score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "malware score of email"
                    }
                  },
                  "description": "json result report"
                },
                "threat_object": {
                  "type": "object",
                  "properties": {
                    "email_id": {
                      "type": "string",
                      "description": "email id of email sender."
                    }
                  },
                  "description": "threat object of email scan result"
                },
                "scan_context": {
                  "type": "object",
                  "properties": {
                    "file_name": {
                      "type": "string",
                      "description": "email file name"
                    },
                    "client_id": {
                      "type": "string",
                      "description": "client id of caller"
                    }
                  },
                  "description": "scan context of email scan"
                },
                "datetime": {
                  "type": "number",
                  "format": "float",
                  "description": "datetime of scan"
                },
                "status": {
                  "type": "string",
                  "description": "status fo scan"
                },
                "account_id": {
                  "type": "string",
                  "description": "account id of user"
                },
                "api_key": {
                  "type": "string",
                  "description": "api key of user"
                },
                "meta_data": {
                  "type": "object",
                  "properties": {
                    "plugin_info": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "type of plugin"
                        },
                        "name": {
                          "type": "string",
                          "description": "name of plugin"
                        }
                      },
                      "description": "email plugin information"
                    },
                    "capability": {
                      "type": "string",
                      "description": "capability of email scan"
                    },
                    "vendor_info": {
                      "type": "object",
                      "properties": {
                        "vendor_config_name": {
                          "type": "string",
                          "description": "vendor configuration name"
                        },
                        "entitlement_level": {
                          "type": "string",
                          "description": "entitlement level of email"
                        },
                        "vendor": {
                          "type": "string",
                          "description": "vendor of the email scan"
                        },
                        "credits": {
                          "type": "integer",
                          "format": "int32",
                          "description": "credits left for user account"
                        },
                        "params": {
                          "type": "object",
                          "properties": {},
                          "description": "params for the email scan"
                        }
                      },
                      "description": "vendor information for email scan"
                    }
                  },
                  "description": "metadata for email scan"
                },
                "report_id": {
                  "type": "string",
                  "description": "reportid of email scan result"
                },
                "verdict": {
                  "type": "string",
                  "description": "verdict of email scan"
                },
                "duration": {
                  "type": "number",
                  "format": "float",
                  "description": "time taken in email scan"
                },
                "user_report_url": {
                  "type": "string",
                  "description": "user report url of email scan"
                }
              }
            }
          }
        },
        "summary": "Scan Emails using SecPlug Scan",
        "operationId": "emailscan",
        "parameters": [
          {
            "in": "header",
            "name": "x-api-key",
            "type": "string",
            "default": "",
            "required": false,
            "description": "Secplug API Key",
            "x-ms-summary": "Secplug API Key"
          },
          {
            "in": "header",
            "name": "x-client-id",
            "type": "string",
            "default": "",
            "required": false,
            "description": "Client Id to distinguish user",
            "x-ms-summary": "Client Id"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string",
                  "description": "File name",
                  "title": "File Name"
                },
                "cte": {
                  "type": "string",
                  "description": "Content Type",
                  "title": "Content Type",
                  "default": "base64",
                  "x-ms-visibility": "internal"
                },
                "data": {
                  "type": "string",
                  "description": "Base64 encoded File contents",
                  "title": "File Data ( Base64 encoded)"
                }
              },
              "required": [
                "data",
                "filename",
                "cte"
              ]
            }
          }
        ],
        "description": "Scan Emails using SecPlug Scan",
        "consumes": [ "application/json" ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://secplugs.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://secplugs.com/index.php/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
