{
  "swagger": "2.0",
  "info": {
    "version": "2.0.0",
    "title": "Decentraland",
    "description": "A Power Platform Connector for connecting to the Decentraland API to search for metaverse LAND parcels,",
    "contact": {
      "name": "Roy Paar",
      "email": "roypaar@microsoft.com"
    }
  },
  "host": "api.decentraland.org",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/districts": {
      "get": {
        "summary": "Get Districts",
        "description": "A listing of districts in Decentraland",
        "operationId": "GetDistricts",
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetDistrictsResponse"
            }
          }
        }
      }
    },
    "/parcels/{x}/{y}": {
      "get": {
        "summary": "Get Parcel Details",
        "description": "The details of a specific parcel in Decentraland",
        "operationId": "GetParcelDetails",
        "parameters": [
          {
            "name": "x",
            "required": true,
            "in": "path",
            "type": "string",
            "x-ms-summary": "The X coordinate of the LAND parcel",
            "description": "The X coordinate of the LAND parcel",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "y",
            "required": true,
            "in": "path",
            "type": "string",
            "x-ms-summary": "The Y coordinate of the LAND parcel",
            "description": "The Y coordinate of the LAND parcel",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetParcelDetailsResponse"
            }
          }
        }
      }
    },
    "/parcels/{x}/{y}/map.png": {
      "get": {
        "summary": "Get Parcel Map",
        "description": "A map of parcels in Decentraland",
        "operationId": "GetParcelMap",
        "parameters": [
          {
            "name": "x",
            "required": true,
            "in": "path",
            "type": "string",
            "x-ms-summary": "The X coordinate of the LAND parcel",
            "description": "The X coordinate of the LAND parcel",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "y",
            "required": true,
            "in": "path",
            "type": "string",
            "x-ms-summary": "The Y coordinate of the LAND parcel",
            "description": "The Y coordinate of the LAND parcel",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "width",
            "required": true,
            "in": "query",
            "type": "integer",
            "default": 500,
            "x-ms-summary": "The width of the map returned between 32 and 2048",
            "description": "The width of the map returned between 32 and 2048"
          },
          {
            "name": "height",
            "required": true,
            "in": "query",
            "type": "integer",
            "default": 500,
            "x-ms-summary": "The height of the map returned between 32 and 2048",
            "description": "The height of the map returned between 32 and 2048"
          },
          {
            "name": "size",
            "required": true,
            "in": "query",
            "type": "integer",
            "default": 10,
            "x-ms-summary": "Size of each parcel btwn 5 and 40 i.e. 10 will render each parcel as 10x10 px",
            "description": "The size of each parcel between 5 and 40 i.e. 10 will render each parcel as 10x10 pixels"
          },
          {
            "name": "publication",
            "required": true,
            "in": "query",
            "type": "boolean",
            "default": true,
            "x-ms-summary": "If true parcels that are on sale are highlighted",
            "description": "If true parcels that are on sale are highlighted"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetParcelMapResponse"
            }
          }
        }
      }
    },
    "/tiles": {
      "get": {
        "summary": "Get Id",
        "description": "A blockchain Id of a parcel in Decentraland",
        "operationId": "GetId",
        "parameters": [
          {
            "name": "x1",
            "required": true,
            "in": "query",
            "type": "string",
            "x-ms-summary": "The X coordinate of the LAND parcel",
            "description": "The X coordinate of the LAND parcel"
          },
          {
            "name": "x2",
            "required": true,
            "in": "query",
            "type": "string",
            "x-ms-summary": "The X coordinate of the LAND parcel",
            "description": "The X coordinate of the LAND parcel"
          },
          {
            "name": "y1",
            "required": true,
            "in": "query",
            "type": "string",
            "x-ms-summary": "The Y coordinate of the LAND parcel",
            "description": "The Y coordinate of the LAND parcel"
          },
          {
            "name": "y2",
            "required": true,
            "in": "query",
            "type": "string",
            "x-ms-summary": "The Y coordinate of the LAND parcel",
            "description": "The Y coordinate of the LAND parcel"
          },
          {
            "name": "include",
            "required": true,
            "in": "query",
            "type": "string",
            "default": "tokenId",
            "x-ms-summary": "Setting to tokenId will return the blockchain Id",
            "description": "Setting to tokenId will return the blockchain Id"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetTilesResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "GetDistrictsResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "GetTilesResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "GetParcelMapResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "GetParcelDetailsResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "statusDetails": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "statusCode": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/messages"
          }
        }
      }
    },
    "messages": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://decentraland.org"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://decentraland.org/legal"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}