{
  "swagger":"2.0",
  "info":{
    "title":"ORB Intelligence",
    "version":"1.0",
    "description":"Orb provides with a framework of API calls to use the Orb database for various use cases. The framework comprises five calls, Match, Fetch, Search, Lookalike and Corporate Tree.",
    "contact":{
      "name":"Aaryan Arora, Ankita Singh",
      "email":"aaryan2134@gmail.com"
    }
  },
  "host":"api.orb-intelligence.com",
  "basePath":"/",
  "schemes":[
    "https"
  ],
  "consumes":[
    
  ],
  "produces":[
    
  ],
  "paths":{
    "/3/match/":{
      "get":{
        "parameters":[
          {
            "in":"query",
            "name":"api_key",
            "required":false,
            "type":"string",
            "description":"API Access Key.",
            "x-ms-summary":"API Key"
          },
          {
            "in":"query",
            "name":"name",
            "required":false,
            "type":"string",
            "maxLength":255,
            "description":"Company's name.",
            "x-ms-summary":"Company's name"
          },
          {
            "in":"query",
            "name":"address1",
            "required":false,
            "type":"string",
            "description":"First line of the company's address.",
            "x-ms-summary":"First line of the company's address."
          },
          {
            "in":"query",
            "name":"city",
            "required":false,
            "type":"string",
            "description":"City",
            "x-ms-summary":"City"
          },
          {
            "in":"query",
            "name":"state",
            "required":false,
            "type":"string",
            "description":"State.",
            "x-ms-summary":"State"
          },
          {
            "in":"query",
            "name":"zip",
            "required":false,
            "type":"string",
            "description":"Zip code",
            "x-ms-summary":"Zip Code"
          },
          {
            "in":"query",
            "name":"country",
            "required":false,
            "type":"string",
            "description":"Country",
            "x-ms-summary":"Country"
          },
          {
            "in":"query",
            "name":"website",
            "required":false,
            "type":"string",
            "description":"Company's website.",
            "x-ms-summary":"Company's website"
          },
          {
            "in":"query",
            "name":"email",
            "required":false,
            "type":"string",
            "description":"Any email based on a company's domain.",
            "x-ms-summary":"Any email based on a company's domain."
          },
          {
            "in":"query",
            "name":"phone",
            "required":false,
            "type":"string",
            "description":"Company's phone number.",
            "x-ms-summary":"Company's phone number."
          },
          {
            "in":"query",
            "name":"ein",
            "required":false,
            "type":"string",
            "description":"Employer Tax ID (EIN)",
            "x-ms-summary":"U.S. Federal Enployeer Tax ID (EIN) of the company, for example, \"204971292\"."
          },
          {
            "in":"query",
            "name":"npi",
            "required":false,
            "type":"string",
            "description":"National Provider Identifier, a unique 10-digit identification number issued to health care providers in the United States.",
            "x-ms-summary":"National Provider Identifier (NPI)"
          },
          {
            "in":"query",
            "name":"lei",
            "required":false,
            "type":"string",
            "description":"Legal Entity Identifier, 20-character, alpha-numeric code based on the ISO 17442.",
            "x-ms-summary":"Legal Entity Identifier (LEI)"
          },
          {
            "in":"query",
            "name":"request_id",
            "required":false,
            "type":"string",
            "description":"Optional customer's request ID",
            "x-ms-summary":"Optional customer's request ID"
          },
          {
            "in":"query",
            "name":"orb_num",
            "required":false,
            "type":"string",
            "description":"Orb Number to match input data with particular company",
            "x-ms-summary":"Orb Number to match input data with particular company"
          }
        ],
        "responses":{
          "200":{
            "schema":{
              "type":"object",
              "properties":{
                "request_fields":{
                  "type":"object",
                  "description":"Input data to match",
                  "x-ms-summary":"Input data to match"
                },
                "results_count":{
                  "type":"integer",
                  "format":"int32",
                  "example":2
                },
                "results":{
                  "type":"array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "result_number":{
                        "type":"integer",
                        "format":"int32"
                      },
                      "orb_num":{
                        "type":"integer",
                        "format":"int32",
                        "description":"Orb Number of the candidate profile.",
                        "x-ms-summary":"Orb Number of the candidate profile.",
                        "example":"23248971"
                      },
                      "orb_nums":{
                        "type":"array",
                        "items":{
                          "type":"integer",
                          "format":"int32"
                        },
                        "description":"Secondary Orb Numbers of the candidate profile. Hidden by default, use `include` option to show.",
                        "x-ms-summary":"Secondary Orb Numbers of the candidate profile. Hidden by default, use `include` option to show.",
                        "example":[
                          "23248971"
                        ]
                      },
                      "name":{
                        "type":"string",
                        "description":"Company's name.",
                        "example":"Orb Intelligence, Inc."
                      },
                      "entity_type":{
                        "type":"string",
                        "enum":[
                          "company",
                          "branch"
                        ],
                        "description":"\"company\" or \"branch\".",
                        "example":"company"
                      },
                      "company_status":{
                        "type":"string",
                        "enum":[
                          "active",
                          "inactive"
                        ],
                        "description":"\"active\" or \"inactive\".",
                        "example":"active"
                      },
                      "parent_orb_num":{
                        "type":"integer",
                        "format":"int32",
                        "description":"Orb Number of a parent company, if this company is a subsidiary",
                        "example":"null"
                      },
                      "parent_name":{
                        "type":"string",
                        "description":"Name of a parent company.",
                        "example":"ORB"
                      },
                      "ultimate_parent_orb_num":{
                        "type":"integer",
                        "format":"int32",
                        "description":"Orb Number of the ultimate parent company.",
                        "example":"23248971"
                      },
                      "ultimate_parent_name":{
                        "type":"string",
                        "description":"Name of the ultimate parent company.",
                        "example":"ORB"
                      },
                      "subsidiaries_count":{
                        "type":"integer",
                        "format":"int32",
                        "description":"Number of subsidiaries"
                      },
                      "branches_count":{
                        "type":"integer",
                        "format":"int32",
                        "description":"Number of company branches/locations"
                      },
                      "is_standalone_company":{
                        "type":"boolean",
                        "description":"Company is considered as standalone if it does not have parent and subsidiaries.",
                        "example":true
                      },
                      "address1":{
                        "type":"string",
                        "x-nullable":true,
                        "description":"First line of the company's address.",
                        "example":"1900 CAMDEN AVE"
                      },
                      "city":{
                        "type":"string",
                        "x-nullable":true,
                        "description":"City.",
                        "example":"SAN JOSE"
                      },
                      "state":{
                        "type":"string",
                        "x-nullable":true,
                        "description":"State.",
                        "example":"CA"
                      },
                      "zip":{
                        "type":"string",
                        "x-nullable":true,
                        "description":"Zip code.",
                        "example":"95124"
                      },
                      "country":{
                        "type":"string",
                        "description":"Country.",
                        "example":"United States"
                      },
                      "iso_country_code":{
                        "type":"string",
                        "description":"ISO country code.",
                        "example":"US"
                      },
                      "fetch_url":{
                        "type":"string",
                        "description":"'Fetch' API call to retrieve the full company profile for this Orb Number.",
                        "example":"https://api.orb-intelligence.com/3/fetch/23248971/"
                      },
                      "full_profile":{
                        "type":"object",
                        "properties":{
                          "orb_num":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Orb Number",
                            "example":"23248971"
                          },
                          "orb_nums":{
                            "type":"array",
                            "items":{
                              "type":"integer",
                              "format":"int32"
                            },
                            "description":"Secondary Orb Numbers",
                            "example":[
                              "23248971"
                            ]
                          },
                          "name":{
                            "type":"string",
                            "description":"Company name",
                            "example":"Orb Intelligence"
                          },
                          "parent_orb_num":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Orb Number of a parent company, if this company is a subsidiary",
                            "example":"null"
                          },
                          "parent_name":{
                            "type":"string",
                            "description":"Name of a parent company.",
                            "example":"null"
                          },
                          "ultimate_parent_orb_num":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Orb Number of the ultimate parent company.",
                            "example":"23248971"
                          },
                          "ultimate_parent_name":{
                            "type":"string",
                            "description":"Name of the ultimate parent company.",
                            "example":"null"
                          },
                          "subsidiaries_count":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Number of subsidiaries"
                          },
                          "branches_count":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Number of company branches/locations"
                          },
                          "names":{
                            "type":"array",
                            "items":{
                              "type":"string"
                            },
                            "description":"Company's other names - tradestyles, DBA names, former names, abbreviations",
                            "example":[
                              "Orb Intelligence",
                              "Orb Intelligence, Inc."
                            ]
                          },
                          "website":{
                            "type":"string",
                            "description":"Company's website",
                            "example":"https://orb-intelligence.com"
                          },
                          "webdomain":{
                            "type":"string",
                            "description":"Company's web domain",
                            "example":"orb-intelligence.com"
                          },
                          "webdomains":{
                            "type":"array",
                            "items":{
                              "type":"string"
                            },
                            "description":"All company's web domains",
                            "example":[
                              "orb-intelligence.com",
                              "orbintelligence.com"
                            ]
                          },
                          "webdomains_info":{
                            "type":"array",
                            "items":{
                              "type":"object",
                              "properties":{
                                "orb_web_rank":{
                                  "type":"integer",
                                  "format":"int32",
                                  "example":200000,
                                  "description":"is a normalized Alexa rank. The normalization handles two cases: 1. Alexa service does not have this web domain in their database, so there is no Alexa rank for this web domain, then we set it to the maximum - 39999999; 2. For third and higher -level domains, like for example, dolls.stores.shop.ebay.com Alexa service returns alexa rank for ebay.com, which is not good in our use case, as it is a small online shop, not Ebay website. We set this to 39999999."
                                },
                                "domain_has_website":{
                                  "type":"integer",
                                  "format":"int32",
                                  "example":1
                                },
                                "domain_is_email_hosting":{
                                  "type":"integer",
                                  "format":"int32",
                                  "example":0,
                                  "description":"1 if this domain is a popular email service provider, such as, for example, gmail.com, yahoo.com, outlook.com and others. 1 - the domain is an email service provider; 0 - we are not aware of any popular email service provider with this domain. This flag is useful when the domain you want to get company information for was extracted from a person's contact email. So, for example, when it is 'yahoo.com', it does not mean that the person works at Yahoo!"
                                },
                                "webdomain":{
                                  "type":"string",
                                  "example":"orb-intelligence.com"
                                },
                                "domain_has_email":{
                                  "type":"integer",
                                  "format":"int32",
                                  "example":1
                                }
                              }
                            },
                            "description":"All company's web domains with additional info: domain_has_email; domain_has_website; domain_is_email_hosting - such as gmail.com, hotmail.com; orb_web_rank - normalized Alexa rank",
                            "example":[
                              {
                                "webdomain":"orb-intelligence.com",
                                "domain_has_email":1,
                                "domain_has_website":1,
                                "domain_is_email_hosting":0,
                                "orb_web_rank":2000000
                              }
                            ]
                          },
                          "address":{
                            "type":"object",
                            "properties":{
                              "address1":{
                                "type":"string",
                                "description":"Address Line 1",
                                "example":"1900 CAMDEN AVE"
                              },
                              "address2":{
                                "type":"string",
                                "description":"Address Line 2",
                                "example":"Unit 1"
                              },
                              "city":{
                                "type":"string",
                                "description":"Address Line 2",
                                "example":"SAN JOSE"
                              },
                              "state":{
                                "type":"string",
                                "description":"Address Line 2",
                                "example":"CA"
                              },
                              "zip":{
                                "type":"string",
                                "description":"Zip Code",
                                "example":"95124"
                              },
                              "country":{
                                "type":"string",
                                "description":"Country",
                                "example":"United States"
                              }
                            }
                          },
                          "industry":{
                            "type":"string",
                            "description":"Orb proprietary industry class",
                            "example":"Computer Software"
                          },
                          "naics_code":{
                            "type":"string",
                            "description":"Primary NAICS code according to 2012 Census.gov standard",
                            "example":"511210"
                          },
                          "naics_description":{
                            "type":"string",
                            "description":"Primary NAICS code description",
                            "example":"Software Publishers"
                          },
                          "naics_codes":{
                            "type":"array",
                            "items":{
                              "type":"object",
                              "properties":{
                                "code":{
                                  "type":"string",
                                  "description":"Industry Code",
                                  "example":"511210"
                                },
                                "description":{
                                  "type":"string",
                                  "description":"Industry Description",
                                  "example":"Software Publishers"
                                }
                              }
                            },
                            "description":"Array of secondary NAICS codes",
                            "example":[
                              {
                                "code":"5112",
                                "description":"Software Publishers"
                              },
                              {
                                "code":"511210",
                                "description":"Software Publishers"
                              },
                              {
                                "code":"54151",
                                "description":"Computer Systems Design and Related Services"
                              }
                            ]
                          },
                          "sic_code":{
                            "type":"string",
                            "description":"Primary SIC code according to 1987 standard",
                            "example":"7372"
                          },
                          "sic_description":{
                            "type":"string",
                            "description":"Primary SIC description",
                            "example":"Prepackaged software"
                          },
                          "sic_codes":{
                            "type":"array",
                            "items":{
                              "type":"object",
                              "properties":{
                                "code":{
                                  "type":"string",
                                  "description":"Industry Code",
                                  "example":"511210"
                                },
                                "description":{
                                  "type":"string",
                                  "description":"Industry Description",
                                  "example":"Software Publishers"
                                }
                              }
                            },
                            "description":"Array of secondary SIC codes",
                            "example":[
                              {
                                "code":"737",
                                "description":"Computer Programming, Data Processing, And Other Computerrelated"
                              },
                              {
                                "code":"7372",
                                "description":"Prepackaged software"
                              }
                            ]
                          },
                          "categories":{
                            "type":"array",
                            "items":{
                              "type":"object",
                              "properties":{
                                "name":{
                                  "type":"string",
                                  "description":"Category Name",
                                  "example":"software publisher"
                                },
                                "weight":{
                                  "type":"integer",
                                  "format":"int32",
                                  "description":"Category Weight",
                                  "example":33.33
                                }
                              }
                            },
                            "description":"Array of Orb proprietary business categories with weights",
                            "example":[
                              {
                                "name":"software publisher",
                                "weight":33.33
                              },
                              {
                                "name":"business information",
                                "weight":53.33
                              },
                              {
                                "name":"application programming interface",
                                "weight":23.33
                              },
                              {
                                "name":"data processing",
                                "weight":10
                              },
                              {
                                "name":"data collection",
                                "weight":26.67
                              },
                              {
                                "name":"master data management",
                                "weight":40
                              },
                              {
                                "name":"customer relationship management",
                                "weight":33.33
                              },
                              {
                                "name":"sales",
                                "weight":3.33
                              },
                              {
                                "name":"marketing automation",
                                "weight":53.33
                              },
                              {
                                "name":"marketing",
                                "weight":13.33
                              },
                              {
                                "name":"b2b sales",
                                "weight":36.67
                              },
                              {
                                "name":"b2b marketing",
                                "weight":90
                              },
                              {
                                "name":"internet search",
                                "weight":33.33
                              },
                              {
                                "name":"big data",
                                "weight":26.67
                              },
                              {
                                "name":"prepackaged software",
                                "weight":16.67
                              }
                            ]
                          },
                          "employees_range":{
                            "type":"string",
                            "description":"Number of employees range",
                            "example":"10 - 50"
                          },
                          "employees":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Number of employees",
                            "example":14
                          },
                          "revenue_range":{
                            "type":"string",
                            "description":"Revenue range",
                            "example":"1M - 10M"
                          },
                          "revenue":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Revenue",
                            "example":"8283540"
                          },
                          "year_founded":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Year company was founded",
                            "example":2014
                          },
                          "description":{
                            "type":"string",
                            "description":"Textual description of the company",
                            "example":"Company information database for B2B marketing and sales."
                          },
                          "linkedin_account":{
                            "type":"object",
                            "properties":{
                              "url":{
                                "type":"string"
                              },
                              "likes":{
                                "type":"integer",
                                "format":"int32"
                              },
                              "followers":{
                                "type":"integer",
                                "format":"int32"
                              }
                            },
                            "description":"URL to the company's LinkedIn page",
                            "example":{
                              "url":"https://www.linkedin.com/company/orb-intelligence"
                            }
                          },
                          "facebook_account":{
                            "type":"object",
                            "properties":{
                              "url":{
                                "type":"string"
                              },
                              "likes":{
                                "type":"integer",
                                "format":"int32"
                              },
                              "followers":{
                                "type":"integer",
                                "format":"int32"
                              }
                            },
                            "description":"URL to the company's Facebook page",
                            "example":"null"
                          },
                          "twitter_account":{
                            "type":"object",
                            "properties":{
                              "url":{
                                "type":"string"
                              },
                              "likes":{
                                "type":"integer",
                                "format":"int32"
                              },
                              "followers":{
                                "type":"integer",
                                "format":"int32"
                              }
                            },
                            "description":"URL to the company's Twitter account",
                            "example":{
                              "url":"https://twitter.com/OrbIntelligence"
                            }
                          },
                          "googleplus_account":{
                            "type":"object",
                            "properties":{
                              "url":{
                                "type":"string"
                              },
                              "likes":{
                                "type":"integer",
                                "format":"int32"
                              },
                              "followers":{
                                "type":"integer",
                                "format":"int32"
                              }
                            },
                            "description":"URL to the company's Google plus page",
                            "example":"null"
                          },
                          "youtube_account":{
                            "type":"object",
                            "properties":{
                              "url":{
                                "type":"string"
                              },
                              "likes":{
                                "type":"integer",
                                "format":"int32"
                              },
                              "followers":{
                                "type":"integer",
                                "format":"int32"
                              }
                            },
                            "description":"URL to the company's Youtube page",
                            "example":"null"
                          },
                          "technologies":{
                            "type":"array",
                            "items":{
                              "type":"object",
                              "properties":{
                                "name":{
                                  "type":"string"
                                }
                              }
                            },
                            "description":"List of frontend technologies installed on the company's website",
                            "example":[
                              {
                                "name":"Gravatar"
                              },
                              {
                                "name":"WordPress"
                              }
                            ]
                          },
                          "rankings":{
                            "type":"array",
                            "items":{
                              "type":"string"
                            },
                            "description":"Popular list the company may be included, such as Fortune, Forbes, Inc.com",
                            "example":"null"
                          },
                          "ranking_positions":{
                            "type":"array",
                            "items":{
                              "type":"object",
                              "properties":{
                                "ranking":{
                                  "type":"string",
                                  "example":"Forbes Global 500"
                                },
                                "position":{
                                  "type":"integer",
                                  "format":"int32",
                                  "example":1
                                }
                              }
                            },
                            "description":"Popular list the company may be included, such as Fortune, Forbes, Inc.com (with positions)"
                          },
                          "eins":{
                            "type":"array",
                            "items":{
                              "type":"string"
                            },
                            "description":"U.S. Federal Employer Identification Number"
                          },
                          "npis":{
                            "type":"array",
                            "items":{
                              "type":"string"
                            },
                            "description":"National Provider Identifier (NPI), a unique 10-digit identification number issued to health care providers in the United States."
                          },
                          "favicon":{
                            "type":"string",
                            "description":"URL to the company's favicon",
                            "example":"https://orb-intelligence.com/wp-content/themes/orb/assets/img/favicon.png"
                          },
                          "total_funding":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Total funding amount raised by the company",
                            "example":"null"
                          },
                          "last_funding_round_amount":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Last funding round amount",
                            "example":"null"
                          },
                          "last_funding_round_year":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Last funding round year",
                            "example":"null"
                          },
                          "phone":{
                            "type":"string",
                            "description":"General phone number of the company",
                            "example":"(650) 382-2672"
                          },
                          "fax":{
                            "type":"string",
                            "description":"Company's fax number",
                            "example":"null"
                          },
                          "email":{
                            "type":"string",
                            "description":"General email of the company",
                            "example":"info@orb-intelligence.com"
                          },
                          "importance_score":{
                            "type":"string",
                            "description":"Importance score: A, B or C. See documentation for more details",
                            "example":"A"
                          },
                          "tickers":{
                            "type":"array",
                            "items":{
                              "type":"object",
                              "properties":{
                                "exchange":{
                                  "type":"string",
                                  "example":"NSQ"
                                },
                                "ticker":{
                                  "type":"string",
                                  "example":"GOOG"
                                }
                              }
                            },
                            "description":"Stock exchange tickers if the company is publicly listed.Use GET /3/dictionaries/stock_exchanges to get a list of all stock exchanges."
                          },
                          "market_cap":{
                            "type":"integer",
                            "format":"int32",
                            "example":1000000
                          },
                          "cik":{
                            "type":"string",
                            "example":"812067"
                          },
                          "cusip":{
                            "type":"string",
                            "example":"780283102"
                          },
                          "fiscal_year_end":{
                            "type":"string",
                            "example":"1231"
                          },
                          "cidrs_count":{
                            "type":"integer",
                            "format":"int32",
                            "example":18
                          },
                          "liveramp_idl_count":{
                            "type":"integer",
                            "format":"int32",
                            "example":7
                          },
                          "liveramp_device_count":{
                            "type":"integer",
                            "format":"int32",
                            "example":432
                          },
                          "latitude":{
                            "type":"string"
                          },
                          "longitude":{
                            "type":"string"
                          }
                        }
                      },
                      "confidence_score":{
                        "type":"number",
                        "format":"float",
                        "description":"Confidence Score of this match.",
                        "example":100
                      },
                      "match_mask":{
                        "type":"object",
                        "properties":{
                          "main_name":{
                            "type":"string",
                            "description":"match | similar: x% | relaxed match | no match | missing input | no data",
                            "example":"similar: 97%"
                          },
                          "corp_elem":{
                            "type":"string",
                            "description":"match | no match",
                            "example":"match"
                          },
                          "other_names":{
                            "type":"string",
                            "description":"match | similar: x% | relaxed match | no match | missing input | no data",
                            "example":"similar: 97%"
                          },
                          "webdomain":{
                            "type":"string",
                            "description":"match | no match | redirect match | email match | missing input | no data",
                            "example":"email match"
                          },
                          "address1":{
                            "type":"string",
                            "description":"match | no match | missing input | no data",
                            "example":"missing input"
                          },
                          "city":{
                            "type":"string",
                            "description":"match | no match | missing input | no data",
                            "example":"missing input"
                          },
                          "state":{
                            "type":"string",
                            "description":"match | no match | missing input | no data",
                            "example":"match"
                          },
                          "zip":{
                            "type":"string",
                            "description":"match | no match | missing input | no data",
                            "example":"missing input"
                          },
                          "country":{
                            "type":"string",
                            "description":"match | no match | missing input | no data",
                            "example":"match"
                          },
                          "phone":{
                            "type":"string",
                            "description":"match | no match | missing input | no data",
                            "example":"missing input"
                          },
                          "ein":{
                            "type":"string",
                            "description":"match | no match | missing input | no data",
                            "example":"no data"
                          },
                          "npi":{
                            "type":"string",
                            "description":"match | no match | missing input | no data",
                            "example":"no data"
                          },
                          "lei":{
                            "type":"string",
                            "description":"match | no match | missing input | no data",
                            "example":"no data"
                          }
                        }
                      },
                      "matched_fields":{
                        "type":"object",
                        "description":"Orb company fields which matched input data.",
                        "example":{
                          "other_name":"ORB"
                        }
                      }
                    },
                    "required":[
                      "country",
                      "iso_country_code",
                      "name",
                      "orb_num"
                    ]
                  },
                  "example":[
                    {
                      "result_number":1,
                      "orb_num":23248971,
                      "name":"Orb Intelligence",
                      "entity_type":"company",
                      "company_status":"active",
                      "parent_orb_num":"null",
                      "parent_name":"null",
                      "ultimate_parent_orb_num":"null",
                      "ultimate_parent_name":"null",
                      "subsidiaries_count":0,
                      "branches_count":1,
                      "is_standalone_company":true,
                      "address1":"1900 CAMDEN AVE",
                      "city":"San Jose",
                      "state":"CA",
                      "zip":"95124",
                      "country":"United States",
                      "iso_country_code":"US",
                      "fetch_url":"http://api.orb-intelligence.com/3/fetch/23248971/?api_key=c66c5dad-395c-4ec6-afdf-7b78eb94166a",
                      "confidence_score":66,
                      "match_mask":{
                        "ein":"missing input",
                        "main_name":"match",
                        "corp_elem":"missing input",
                        "other_names":"match",
                        "address1":"missing input",
                        "city":"missing input",
                        "state":"missing input",
                        "zip":"missing input",
                        "country":"match",
                        "webdomain":"missing input",
                        "phone":"missing input"
                      },
                      "matched_fields":{
                        "name":"Orb Intelligence",
                        "country":"United States"
                      }
                    },
                    {
                      "result_number":3,
                      "orb_num":5061292,
                      "name":"ORB LLC",
                      "entity_type":"company",
                      "company_status":"active",
                      "parent_orb_num":"null",
                      "parent_name":"null",
                      "ultimate_parent_orb_num":"null",
                      "ultimate_parent_name":"null",
                      "subsidiaries_count":0,
                      "branches_count":0,
                      "is_standalone_company":true,
                      "address1":"288 BERRY ST",
                      "city":"BROOKLYN",
                      "state":"NY",
                      "zip":"11211",
                      "country":"United States",
                      "iso_country_code":"US",
                      "fetch_url":"http://api.orb-intelligence.com/3/fetch/5061292/?api_key=c66c5dad-395c-4ec6-afdf-7b78eb94166a",
                      "confidence_score":52,
                      "match_mask":{
                        "ein":"missing input",
                        "main_name":"similar: 82%",
                        "corp_elem":"missing input",
                        "other_names":"similar: 82%",
                        "address1":"missing input",
                        "city":"missing input",
                        "state":"missing input",
                        "zip":"missing input",
                        "country":"match",
                        "webdomain":"missing input",
                        "phone":"missing input"
                      },
                      "matched_fields":{
                        "name":"ORB LLC",
                        "country":"United States"
                      }
                    }
                  ]
                }
              }
            },
            "description":"List of matched companies."
          }
        },
        "tags":[
          "Match and Fetch API"
        ],
        "summary":"The Match API call performs a candidate retrieval process",
        "description":"The Match API call performs a candidate retrieval process; the process by which Orb records are identified as potential matches to the query. The input fields must either include the name and country, or the website/email, or the EIN of the company record. All other fields are optional. Users can review the candidates to choose their preferred match based on the candidate with the highest Confidence Score, algorithmically, based on the match mask (for example, take those that match by website, even though the name didn't match) or manually.",
        "produces":[
          "application/json"
        ],
        "operationId":"Match"
      }
    },
    "/3/fetch/{orb_num}/":{
      "get":{
        "parameters":[
          {
            "in":"query",
            "name":"api_key",
            "required":false,
            "type":"string",
            "description":"API Access Key.",
            "x-ms-summary":"API Access Key."
          },
          {
            "in":"path",
            "name":"orb_num",
            "required":true,
            "type":"string",
            "x-ms-url-encoding":"single",
            "description":"Orb Number",
            "x-ms-summary":"Orb Number"
          }
        ],
        "responses":{
          "200":{
            "schema":{
              "type":"object",
              "properties":{
                "orb_num":{
                  "type":"integer",
                  "format":"int32",
                  "description":"Orb Number",
                  "x-ms-summary":"Orb Number",
                  "example":"23248971"
                },
                "orb_nums":{
                  "type":"array",
                  "items":{
                    "type":"integer",
                    "format":"int32"
                  },
                  "description":"Secondary Orb Numbers",
                  "example":[
                    "23248971"
                  ]
                },
                "name":{
                  "type":"string",
                  "description":"Company name",
                  "example":"Orb Intelligence"
                },
                "parent_orb_num":{
                  "type":"integer",
                  "format":"int32",
                  "description":"Orb Number of a parent company, if this company is a subsidiary",
                  "example":"null"
                },
                "parent_name":{
                  "type":"string",
                  "description":"Name of a parent company.",
                  "example":"null"
                },
                "ultimate_parent_orb_num":{
                  "type":"integer",
                  "format":"int32",
                  "description":"Orb Number of the ultimate parent company.",
                  "example":"23248971"
                },
                "ultimate_parent_name":{
                  "type":"string",
                  "description":"Name of the ultimate parent company.",
                  "example":"null"
                },
                "subsidiaries_count":{
                  "type":"integer",
                  "format":"int32",
                  "description":"Number of subsidiaries"
                },
                "branches_count":{
                  "type":"integer",
                  "format":"int32",
                  "description":"Number of company branches/locations"
                },
                "names":{
                  "type":"array",
                  "items":{
                    "type":"string"
                  },
                  "description":"Company's other names - tradestyles, DBA names, former names, abbreviations",
                  "example":[
                    "Orb Intelligence",
                    "Orb Intelligence, Inc."
                  ]
                },
                "website":{
                  "type":"string",
                  "description":"Company's website",
                  "example":"https://orb-intelligence.com"
                },
                "webdomain":{
                  "type":"string",
                  "description":"Company's web domain",
                  "example":"orb-intelligence.com"
                },
                "webdomains":{
                  "type":"array",
                  "items":{
                    "type":"string"
                  },
                  "description":"All company's web domains",
                  "example":[
                    "orb-intelligence.com",
                    "orbintelligence.com"
                  ]
                },
                "webdomains_info":{
                  "type":"array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "orb_web_rank":{
                        "type":"integer",
                        "format":"int32",
                        "example":200000,
                        "description":"is a normalized Alexa rank. The normalization handles two cases: 1. Alexa service does not have this web domain in their database, so there is no Alexa rank for this web domain, then we set it to the maximum - 39999999; 2. For third and higher -level domains, like for example, dolls.stores.shop.ebay.com Alexa service returns alexa rank for ebay.com, which is not good in our use case, as it is a small online shop, not Ebay website. We set this to 39999999."
                      },
                      "domain_has_website":{
                        "type":"integer",
                        "format":"int32",
                        "example":1
                      },
                      "domain_is_email_hosting":{
                        "type":"integer",
                        "format":"int32",
                        "example":0,
                        "description":"1 if this domain is a popular email service provider, such as, for example, gmail.com, yahoo.com, outlook.com and others. 1 - the domain is an email service provider; 0 - we are not aware of any popular email service provider with this domain. This flag is useful when the domain you want to get company information for was extracted from a person's contact email. So, for example, when it is 'yahoo.com', it does not mean that the person works at Yahoo!"
                      },
                      "webdomain":{
                        "type":"string",
                        "example":"orb-intelligence.com"
                      },
                      "domain_has_email":{
                        "type":"integer",
                        "format":"int32",
                        "example":1
                      }
                    }
                  },
                  "description":"All company's web domains with additional info: domain_has_email; domain_has_website; domain_is_email_hosting - such as gmail.com, hotmail.com; orb_web_rank - normalized Alexa rank",
                  "example":[
                    {
                      "webdomain":"orb-intelligence.com",
                      "domain_has_email":1,
                      "domain_has_website":1,
                      "domain_is_email_hosting":0,
                      "orb_web_rank":2000000
                    }
                  ]
                },
                "address":{
                  "type":"object",
                  "properties":{
                    "address1":{
                      "type":"string",
                      "description":"Address Line 1",
                      "example":"1900 CAMDEN AVE"
                    },
                    "address2":{
                      "type":"string",
                      "description":"Address Line 2",
                      "example":"Unit 1"
                    },
                    "city":{
                      "type":"string",
                      "description":"Address Line 2",
                      "example":"SAN JOSE"
                    },
                    "state":{
                      "type":"string",
                      "description":"Address Line 2",
                      "example":"CA"
                    },
                    "zip":{
                      "type":"string",
                      "description":"Zip Code",
                      "example":"95124"
                    },
                    "country":{
                      "type":"string",
                      "description":"Country",
                      "example":"United States"
                    }
                  }
                },
                "industry":{
                  "type":"string",
                  "description":"Orb proprietary industry class",
                  "example":"Computer Software"
                },
                "naics_code":{
                  "type":"string",
                  "description":"Primary NAICS code according to 2012 Census.gov standard",
                  "example":"511210"
                },
                "naics_description":{
                  "type":"string",
                  "description":"Primary NAICS code description",
                  "example":"Software Publishers"
                },
                "naics_codes":{
                  "type":"array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "code":{
                        "type":"string",
                        "description":"Industry Code",
                        "example":"511210"
                      },
                      "description":{
                        "type":"string",
                        "description":"Industry Description",
                        "example":"Software Publishers"
                      }
                    }
                  },
                  "description":"Array of secondary NAICS codes",
                  "example":[
                    {
                      "code":"5112",
                      "description":"Software Publishers"
                    },
                    {
                      "code":"511210",
                      "description":"Software Publishers"
                    },
                    {
                      "code":"54151",
                      "description":"Computer Systems Design and Related Services"
                    }
                  ]
                },
                "sic_code":{
                  "type":"string",
                  "description":"Primary SIC code according to 1987 standard",
                  "example":"7372"
                },
                "sic_description":{
                  "type":"string",
                  "description":"Primary SIC description",
                  "example":"Prepackaged software"
                },
                "sic_codes":{
                  "type":"array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "code":{
                        "type":"string",
                        "description":"Industry Code",
                        "example":"511210"
                      },
                      "description":{
                        "type":"string",
                        "description":"Industry Description",
                        "example":"Software Publishers"
                      }
                    }
                  },
                  "description":"Array of secondary SIC codes",
                  "example":[
                    {
                      "code":"737",
                      "description":"Computer Programming, Data Processing, And Other Computerrelated"
                    },
                    {
                      "code":"7372",
                      "description":"Prepackaged software"
                    }
                  ]
                },
                "categories":{
                  "type":"array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "name":{
                        "type":"string",
                        "description":"Category Name",
                        "example":"software publisher"
                      },
                      "weight":{
                        "type":"number",
                        "format":"float",
                        "description":"Category Weight",
                        "example":33.33
                      }
                    }
                  },
                  "description":"Array of Orb proprietary business categories with weights",
                  "example":[
                    {
                      "name":"software publisher",
                      "weight":33.33
                    },
                    {
                      "name":"business information",
                      "weight":53.33
                    },
                    {
                      "name":"application programming interface",
                      "weight":23.33
                    },
                    {
                      "name":"data processing",
                      "weight":10
                    },
                    {
                      "name":"data collection",
                      "weight":26.67
                    },
                    {
                      "name":"master data management",
                      "weight":40
                    },
                    {
                      "name":"customer relationship management",
                      "weight":33.33
                    },
                    {
                      "name":"sales",
                      "weight":3.33
                    },
                    {
                      "name":"marketing automation",
                      "weight":53.33
                    },
                    {
                      "name":"marketing",
                      "weight":13.33
                    },
                    {
                      "name":"b2b sales",
                      "weight":36.67
                    },
                    {
                      "name":"b2b marketing",
                      "weight":90
                    },
                    {
                      "name":"internet search",
                      "weight":33.33
                    },
                    {
                      "name":"big data",
                      "weight":26.67
                    },
                    {
                      "name":"prepackaged software",
                      "weight":16.67
                    }
                  ]
                },
                "employees_range":{
                  "type":"string",
                  "description":"Number of employees range",
                  "example":"10 - 50"
                },
                "employees":{
                  "type":"integer",
                  "format":"int32",
                  "description":"Number of employees",
                  "example":14
                },
                "revenue_range":{
                  "type":"string",
                  "description":"Revenue range",
                  "example":"1M - 10M"
                },
                "revenue":{
                  "type":"integer",
                  "format":"int32",
                  "description":"Revenue",
                  "example":"8283540"
                },
                "year_founded":{
                  "type":"integer",
                  "format":"int32",
                  "description":"Year company was founded",
                  "example":2014
                },
                "description":{
                  "type":"string",
                  "description":"Textual description of the company",
                  "example":"Company information database for B2B marketing and sales."
                },
                "linkedin_account":{
                  "type":"object",
                  "properties":{
                    "url":{
                      "type":"string"
                    },
                    "likes":{
                      "type":"integer",
                      "format":"int32"
                    },
                    "followers":{
                      "type":"integer",
                      "format":"int32"
                    }
                  },
                  "description":"URL to the company's LinkedIn page",
                  "example":{
                    "url":"https://www.linkedin.com/company/orb-intelligence"
                  }
                },
                "facebook_account":{
                  "type":"object",
                  "properties":{
                    "url":{
                      "type":"string"
                    },
                    "likes":{
                      "type":"integer",
                      "format":"int32"
                    },
                    "followers":{
                      "type":"integer",
                      "format":"int32"
                    }
                  },
                  "description":"URL to the company's Facebook page",
                  "example":"null"
                },
                "twitter_account":{
                  "type":"object",
                  "properties":{
                    "url":{
                      "type":"string"
                    },
                    "likes":{
                      "type":"integer",
                      "format":"int32"
                    },
                    "followers":{
                      "type":"integer",
                      "format":"int32"
                    }
                  },
                  "description":"URL to the company's Twitter account",
                  "example":{
                    "url":"https://twitter.com/OrbIntelligence"
                  }
                },
                "googleplus_account":{
                  "type":"object",
                  "properties":{
                    "url":{
                      "type":"string"
                    },
                    "likes":{
                      "type":"integer",
                      "format":"int32"
                    },
                    "followers":{
                      "type":"integer",
                      "format":"int32"
                    }
                  },
                  "description":"URL to the company's Google plus page",
                  "example":"null"
                },
                "youtube_account":{
                  "type":"object",
                  "properties":{
                    "url":{
                      "type":"string"
                    },
                    "likes":{
                      "type":"integer",
                      "format":"int32"
                    },
                    "followers":{
                      "type":"integer",
                      "format":"int32"
                    }
                  },
                  "description":"URL to the company's Youtube page",
                  "example":"null"
                },
                "technologies":{
                  "type":"array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "name":{
                        "type":"string"
                      }
                    }
                  },
                  "description":"List of frontend technologies installed on the company's website",
                  "example":[
                    {
                      "name":"Gravatar"
                    },
                    {
                      "name":"WordPress"
                    }
                  ]
                },
                "rankings":{
                  "type":"array",
                  "items":{
                    "type":"string"
                  },
                  "description":"Popular list the company may be included, such as Fortune, Forbes, Inc.com",
                  "example":"null"
                },
                "ranking_positions":{
                  "type":"array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "ranking":{
                        "type":"string",
                        "example":"Forbes Global 500"
                      },
                      "position":{
                        "type":"integer",
                        "format":"int32",
                        "example":1
                      }
                    }
                  },
                  "description":"Popular list the company may be included, such as Fortune, Forbes, Inc.com (with positions)"
                },
                "eins":{
                  "type":"array",
                  "items":{
                    "type":"string"
                  },
                  "description":"U.S. Federal Employer Identification Number"
                },
                "npis":{
                  "type":"array",
                  "items":{
                    "type":"string"
                  },
                  "description":"National Provider Identifier (NPI), a unique 10-digit identification number issued to health care providers in the United States."
                },
                "favicon":{
                  "type":"string",
                  "description":"URL to the company's favicon",
                  "example":"https://orb-intelligence.com/wp-content/themes/orb/assets/img/favicon.png"
                },
                "total_funding":{
                  "type":"integer",
                  "format":"int32",
                  "description":"Total funding amount raised by the company",
                  "example":"null"
                },
                "last_funding_round_amount":{
                  "type":"integer",
                  "format":"int32",
                  "description":"Last funding round amount",
                  "example":"null"
                },
                "last_funding_round_year":{
                  "type":"integer",
                  "format":"int32",
                  "description":"Last funding round year",
                  "example":"null"
                },
                "phone":{
                  "type":"string",
                  "description":"General phone number of the company",
                  "example":"(650) 382-2672"
                },
                "fax":{
                  "type":"string",
                  "description":"Company's fax number",
                  "example":"null"
                },
                "email":{
                  "type":"string",
                  "description":"General email of the company",
                  "example":"info@orb-intelligence.com"
                },
                "importance_score":{
                  "type":"string",
                  "description":"Importance score: A, B or C. See documentation for more details",
                  "example":"A"
                },
                "tickers":{
                  "type":"array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "exchange":{
                        "type":"string",
                        "example":"NSQ"
                      },
                      "ticker":{
                        "type":"string",
                        "example":"GOOG"
                      }
                    }
                  },
                  "description":"Stock exchange tickers if the company is publicly listed.Use GET /3/dictionaries/stock_exchanges to get a list of all stock exchanges."
                },
                "market_cap":{
                  "type":"integer",
                  "format":"int32",
                  "example":1000000
                },
                "cik":{
                  "type":"string",
                  "example":"812067"
                },
                "cusip":{
                  "type":"string",
                  "example":"780283102"
                },
                "fiscal_year_end":{
                  "type":"string",
                  "example":"1231"
                },
                "cidrs_count":{
                  "type":"integer",
                  "format":"int32",
                  "example":18
                },
                "liveramp_idl_count":{
                  "type":"integer",
                  "format":"int32",
                  "example":7
                },
                "liveramp_device_count":{
                  "type":"integer",
                  "format":"int32",
                  "example":432
                },
                "latitude":{
                  "type":"string"
                },
                "longitude":{
                  "type":"string"
                }
              }
            },
            "description":"Full company profile."
          }
        },
        "tags":[
          "Match and Fetch API"
        ],
        "summary":"Obtain a full company profile from the Orb database",
        "description":"The Fetch API call allows a user to obtain a full company profile from the Orb database, based on an Orb Number. The Orb Number for a company record can be obtained from a choosing a candidate from the Match call or from a previously identified matched record. The Fetch API call will return back all the standard fields in the Orb database for a single company record that corresponds to the Orb Number.",
        "produces":[
          "application/json"
        ],
        "operationId":"Fetch",
        "x-ms-visibility":"important"
      }
    },
    "/3/search/":{
      "get":{
        "parameters":[
          {
            "in":"query",
            "name":"api_key",
            "required":false,
            "type":"string",
            "description":"API Access Key.",
            "x-ms-summary":"API Access Key."
          },
          {
            "in":"query",
            "name":"limit",
            "required":false,
            "type":"integer",
            "format":"int32",
            "default":10,
            "description":"Number of results in response (in a page).",
            "x-ms-summary":"Number of results in response (in a page)."
          },
          {
            "in":"query",
            "name":"offset",
            "required":false,
            "type":"integer",
            "format":"int32",
            "default":0,
            "description":"Number of results to skip (to get a particular page).",
            "x-ms-summary":"Number of results to skip (to get a particular page)."
          },
          {
            "in":"query",
            "name":"entity_type",
            "required":false,
            "type":"string",
            "enum":[
              "company",
              "branch"
            ],
            "description":"Entity Type(company or branch)",
            "x-ms-summary":"Entity Type(company or branch)"
          },
          {
            "in":"query",
            "name":"parent_orb_num",
            "required":false,
            "type":"string",
            "description":"Parent Orb Number",
            "x-ms-summary":"Parent Orb Number"
          },
          {
            "in":"query",
            "name":"ultimate_parent_orb_num",
            "required":false,
            "type":"integer",
            "format":"int32",
            "description":"Ultimate Parent Orb Number",
            "x-ms-summary":"Ultimate Parent Orb Number"
          },
          {
            "in":"query",
            "name":"industry",
            "required":false,
            "type":"string",
            "description":"Company's industry. Use GET /dictionaries/industries to get a list of all industry names",
            "x-ms-summary":"Company's industry."
          },
          {
            "in":"query",
            "name":"address1",
            "required":false,
            "type":"string",
            "description":"Filter by address line 1",
            "x-ms-summary":"Filter by address line 1"
          },
          {
            "in":"query",
            "name":"city",
            "required":false,
            "type":"string",
            "description":"Filter by city",
            "x-ms-summary":"Filter by city"
          },
          {
            "in":"query",
            "name":"state",
            "required":false,
            "type":"string",
            "description":"Filter by state",
            "x-ms-summary":"Filter by state"
          },
          {
            "in":"query",
            "name":"zip",
            "required":false,
            "type":"string",
            "description":"Filter by zip code",
            "x-ms-summary":"Filter by zip code"
          },
          {
            "in":"query",
            "name":"country",
            "required":false,
            "type":"string",
            "description":"Filter by country",
            "x-ms-summary":"Filter by country"
          },
          {
            "in":"query",
            "name":"employees",
            "required":false,
            "type":"array",
            "items":{
              "type":"string",
              "enum":[
                "any",
                "1-10",
                "10-50",
                "50-200",
                "200-500",
                "500-1k",
                "1k-5k",
                "5k-10k",
                "10k"
              ]
            },
            "description":"Number of employees",
            "x-ms-summary":"Number of employees"
          },
          {
            "in":"query",
            "name":"revenue",
            "required":false,
            "type":"array",
            "items":{
              "type":"string",
              "enum":[
                "any",
                "0-1m",
                "1m-10m",
                "10m-50m",
                "50m-100m",
                "100m-200m",
                "200m-1b",
                "1b"
              ]
            },
            "description":"Revenue",
            "x-ms-summary":"Revenue"
          },
          {
            "in":"query",
            "name":"techs",
            "required":false,
            "type":"string",
            "description":"Filter by techonologies installed. Use GET /dictionaries/technologies to get a list of all technologies names that we track",
            "x-ms-summary":"Filter by techonologies installed."
          },
          {
            "in":"query",
            "name":"tech_categories",
            "required":false,
            "type":"string",
            "description":"Filter by techonologies classes. Use GET /dictionaries/technologies/categories to get a list of all technologies classes",
            "x-ms-summary":"Filter by techonologies classes"
          },
          {
            "in":"query",
            "name":"naics_codes",
            "required":false,
            "type":"string",
            "description":"Filter by NAICS code",
            "x-ms-summary":"Filter by NAICS code"
          },
          {
            "in":"query",
            "name":"sic_codes",
            "required":false,
            "type":"string",
            "description":"Filter by SIC code",
            "x-ms-summary":"Filter by SIC code"
          },
          {
            "in":"query",
            "name":"rankings",
            "required":false,
            "type":"string",
            "description":"Get companies from companies ranked lists, such as Forbes, Fortune or Inc.5000. Get the full list of rankings using GET /dictionaries/rankings",
            "x-ms-summary":"Get companies from companies ranked lists"
          },
          {
            "in":"query",
            "name":"importance_score",
            "required":false,
            "type":"string",
            "description":"Filter companies by importances classes A, B or C. See description of our importance classes in internal documentation",
            "x-ms-summary":"Filter companies by importances classes A, B or C"
          },
          {
            "in":"query",
            "name":"cik",
            "required":false,
            "type":"string",
            "description":"Filter by CIK (The Central Index Key from SEC).",
            "x-ms-summary":"Filter by CIK (The Central Index Key from SEC)."
          },
          {
            "in":"query",
            "name":"cusip",
            "required":false,
            "type":"string",
            "description":"Filter by CUSIP (https://en.wikipedia.org/wiki/CUSIP).",
            "x-ms-summary":"Filter by CUSIP (https://en.wikipedia.org/wiki/CUSIP)."
          },
          {
            "in":"query",
            "name":"ticker",
            "required":false,
            "type":"string",
            "description":"Filter by stock exchange ticker.",
            "x-ms-summary":"Filter by stock exchange ticker."
          },
          {
            "in":"query",
            "name":"exchange",
            "required":false,
            "type":"string",
            "description":"Filter by stock exchange. Use GET /3/dictionaries/stock_exchanges to get a list of all stock exchanges.",
            "x-ms-summary":"Filter by stock exchange"
          },
          {
            "in":"query",
            "name":"show_full_profile",
            "required":false,
            "type":"boolean",
            "description":"Embed full company profile",
            "x-ms-summary":"Embed full company profile"
          },
          {
            "in":"query",
            "name":"include",
            "required":false,
            "type":"string",
            "description":"Extra output fields to include in response, for example optional `orb_nums` field.",
            "x-ms-summary":"Extra output fields to include in response"
          },
          {
            "in":"query",
            "name":"orb_num",
            "required":false,
            "type":"integer",
            "format":"int32",
            "description":"Orb Number of the company.",
            "x-ms-summary":"Orb Number of the company."
          },
          {
            "in":"query",
            "name":"categories",
            "required":false,
            "type":"array",
            "items":{
              "type":"string"
            },
            "description":"Categories",
            "x-ms-summary":"Categories"
          }
        ],
        "responses":{
          "200":{
            "schema":{
              "type":"object",
              "properties":{
                "request_fields":{
                  "type":"object",
                  "description":"Input data to search"
                },
                "facets":{
                  "type":"object"
                },
                "results_count":{
                  "type":"integer",
                  "format":"int32",
                  "example":2
                },
                "results":{
                  "type":"array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "orb_num":{
                        "type":"integer",
                        "format":"int32",
                        "description":"Orb Number of the candidate profile.",
                        "example":"23248971"
                      },
                      "orb_nums":{
                        "type":"array",
                        "items":{
                          "type":"integer",
                          "format":"int32"
                        },
                        "description":"Secondary Orb Numbers of the candidate profile. Hidden by default, use `include` option to show.",
                        "example":[
                          "23248971"
                        ]
                      },
                      "name":{
                        "type":"string",
                        "description":"Company's name.",
                        "example":"Orb Intelligence, Inc."
                      },
                      "entity_type":{
                        "type":"string",
                        "enum":[
                          "company",
                          "branch"
                        ],
                        "description":"\"company\" or \"branch\".",
                        "example":"company"
                      },
                      "company_status":{
                        "type":"string",
                        "enum":[
                          "active",
                          "inactive"
                        ],
                        "description":"\"active\" or \"inactive\".",
                        "example":"active"
                      },
                      "parent_orb_num":{
                        "type":"integer",
                        "format":"int32",
                        "description":"Orb Number of a parent company, if this company is a subsidiary",
                        "example":"null"
                      },
                      "parent_name":{
                        "type":"string",
                        "description":"Name of a parent company.",
                        "example":"ORB"
                      },
                      "ultimate_parent_orb_num":{
                        "type":"integer",
                        "format":"int32",
                        "description":"Orb Number of the ultimate parent company.",
                        "example":"23248971"
                      },
                      "ultimate_parent_name":{
                        "type":"string",
                        "description":"Name of the ultimate parent company.",
                        "example":"ORB"
                      },
                      "subsidiaries_count":{
                        "type":"integer",
                        "format":"int32",
                        "description":"Number of subsidiaries"
                      },
                      "branches_count":{
                        "type":"integer",
                        "format":"int32",
                        "description":"Number of company branches/locations"
                      },
                      "is_standalone_company":{
                        "type":"boolean",
                        "description":"Company is considered as standalone if it does not have parent and subsidiaries.",
                        "example":true
                      },
                      "address1":{
                        "type":"string",
                        "x-nullable":true,
                        "description":"First line of the company's address.",
                        "example":"1900 CAMDEN AVE"
                      },
                      "city":{
                        "type":"string",
                        "x-nullable":true,
                        "description":"City.",
                        "example":"SAN JOSE"
                      },
                      "state":{
                        "type":"string",
                        "x-nullable":true,
                        "description":"State.",
                        "example":"CA"
                      },
                      "zip":{
                        "type":"string",
                        "x-nullable":true,
                        "description":"Zip code.",
                        "example":"95124"
                      },
                      "country":{
                        "type":"string",
                        "description":"Country.",
                        "example":"United States"
                      },
                      "iso_country_code":{
                        "type":"string",
                        "description":"ISO country code.",
                        "example":"US"
                      },
                      "fetch_url":{
                        "type":"string",
                        "description":"'Fetch' API call to retrieve the full company profile for this Orb Number.",
                        "example":"https://api.orb-intelligence.com/3/fetch/23248971/"
                      },
                      "full_profile":{
                        "type":"object",
                        "properties":{
                          "orb_num":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Orb Number",
                            "example":"23248971"
                          },
                          "orb_nums":{
                            "type":"array",
                            "items":{
                              "type":"integer",
                              "format":"int32"
                            },
                            "description":"Secondary Orb Numbers",
                            "example":[
                              "23248971"
                            ]
                          },
                          "name":{
                            "type":"string",
                            "description":"Company name",
                            "example":"Orb Intelligence"
                          },
                          "parent_orb_num":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Orb Number of a parent company, if this company is a subsidiary",
                            "example":"null"
                          },
                          "parent_name":{
                            "type":"string",
                            "description":"Name of a parent company.",
                            "example":"null"
                          },
                          "ultimate_parent_orb_num":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Orb Number of the ultimate parent company.",
                            "example":"23248971"
                          },
                          "ultimate_parent_name":{
                            "type":"string",
                            "description":"Name of the ultimate parent company.",
                            "example":"null"
                          },
                          "subsidiaries_count":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Number of subsidiaries"
                          },
                          "branches_count":{
                            "type":"integer",
                            "format":"int32",
                            "description":"Number of company branches/locations"
                          },
                          "names":{
                            "type":"array",
                            "items":{
                              "type":"string"
                            },
                            "description":"Company's other names - tradestyles, DBA names, former names, abbreviations",
                            "example":[
                              "Orb Intelligence",
                              "Orb Intelligence, Inc."
                            ]
                          },
                          "website":{
                            "type":"string",
                            "description":"Company's website",
                            "example":"https://orb-intelligence.com"
                          },
                          "webdomain":{
                            "type":"string",
                            "description":"Company's web domain",
                            "example":"orb-intelligence.com"
                          },
                          "webdomains":{
                            "type":"array",
                            "items":{
                              "type":"string"
                            },
                            "description":"All company's web domains",
                            "example":[
                              "orb-intelligence.com",
                              "orbintelligence.com"
                            ]
                          },
                          "webdomains_info":{
                            "type":"array",
                            "items":{
                              "type":"object",
                              "properties":{
                                "orb_web_rank":{
                                  "type":"integer",
                                  "format":"int32",
                                  "example":200000,
                                  "description":"is a normalized Alexa rank. The normalization handles two cases: 1. Alexa service does not have this web domain in their database, so there is no Alexa rank for this web domain, then we set it to the maximum - 39999999; 2. For third and higher -level domains, like for example, dolls.stores.shop.ebay.com Alexa service returns alexa rank for ebay.com, which is not good in our use case, as it is a small online shop, not Ebay website. We set this to 39999999."
                                },
                                "domain_has_website":{
                                  "type":"integer",
                                  "format":"int32",
                                  "example":1
                                },
                                "domain_is_email_hosting":{
                                  "type":"integer",
                                  "format":"int32",
                                  "example":0,
                                  "description":"1 if this domain is a popular email service provider, such as, for example, gmail.com, yahoo.com, outlook.com and others. 1 - the domain is an email service provider; 0 - we are not aware of any popular email service provider with this domain. This flag is useful when the domain you want to get company information for was extracted from a person's contact email. So, for example, when it is 'yahoo.com', it does not mean that the person works at Yahoo!"
                                },
                                "webdomain":{
                                  "type":"string",
                                  "example":"orb-intelligence.com"
                                },
                                "domain_has_email":{
                                  "type":"integer",
                                  "format":"int32",
                                  "example":1
                                }
                              }
                            },
                            "description":"All company's web domains with additional info: domain_has_email; domain_has_website; domain_is_email_hosting - such as gmail.com, hotmail.com; orb_web_rank - normalized Alexa rank",
                            "example":[
                              {
                                "webdomain":"orb-intelligence.com",
                                "domain_has_email":1,
                                "domain_has_website":1,
                                "domain_is_email_hosting":0,
                                "orb_web_rank":2000000
                              }
                            ]
                          },
                          "address":{
                            "type":"object",
                            "properties":{
                              "address1":{
                                "type":"string",
                                "description":"Address Line 1",
                                "example":"1900 CAMDEN AVE"
                              },
                              "address2":{
                                "type":"string",
                                "description":"Address Line 2",
                                "example":"Unit 1"
                              },
                              "city":{
                                "type":"string",
                                "description":"Address Line 2",
                                "example":"SAN JOSE"
                              },
                              "state":{
                                "type":"string",
                                "description":"Address Line 2",
                                "example":"CA"
                              },
                              "zip":{
                                "type":"string",
                                "description":"Zip Code",
                                "example":"95124"
                              },
                              "country":{
                                "type":"string",
                                "description":"Country",
                                "example":"United States"
                              }
                            }
                          },
[...]
