{
  "swagger": "2.0",
  "info": {
    "version": "9.17",
    "title": "Muhimbi PDF",
    "description": "Convert, Compress, Merge, Watermark, Secure and OCR files.",
    "contact": {
      "name": "Muhimbi Support",
      "email": "support@muhimbi.com",
      "url": "https://www.muhimbi.com/support/"
    }
  },
  "host": "api.muhimbi.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/operations/action_task": {
      "get": {
        "tags": [
          "Async Pattern Callback Endpoints"
        ],
        "operationId": "action_task",
        "x-ms-visibility": "internal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/composite_watermark": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Add composite watermark",
        "description": "Add a complex watermark to a PDF file - https://www.muhimbi.com/guides/pdf-converter/power-automate/apply-multiple-watermarks/",
        "operationId": "composite_watermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/composite_watermark_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/compress_pdf": {
      "post": {
        "tags": [
          "Compress"
        ],
        "summary": "Compress PDF",
        "description": "Compress a PDF document.",
        "operationId": "compress_pdf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_pdf_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/compress_pdf_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/convert": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert document",
        "description": "Convert more than 60 file types to PDF documents or other formats - https://www.muhimbi.com/guides/pdf-converter/power-automate/conversion/",
        "operationId": "convert",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/convert_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/convert_cad": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert CAD drawing to PDF",
        "description": "Convert a CAD drawing file to a PDF or other formats - https://www.muhimbi.com/guides/pdf-converter/power-automate/cad-to-pdf/",
        "operationId": "convert_cad",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_cad_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/convert_cad_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/convert_email": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert email to PDF",
        "description": "Convert an email file to PDF or other format - https://www.muhimbi.com/guides/pdf-converter/power-automate/email-to-pdf/",
        "operationId": "convert_email",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_email_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/convert_email_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/convert_excel": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert Excel document",
        "description": "Convert Microsoft Excel (XLS, XLSX, and more) to PDF documents or other formats - https://www.muhimbi.com/guides/pdf-converter/power-automate/excel-to-pdf",
        "operationId": "convert_excel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_excel_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/convert_excel_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/convert_html": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert HTML to PDF",
        "description": "Convert URLs or HTML files to PDF - https://www.muhimbi.com/guides/pdf-converter/power-automate/html-to-pdf/",
        "operationId": "convert_html",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/convert_html_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/convert_infopath": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert InfoPath document",
        "description": "Convert an InfoPath file to PDF or other formats - https://www.muhimbi.com/guides/pdf-converter/power-automate/infopath-to-pdf/",
        "operationId": "convert_infopath",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_infopath_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/convert_infopath_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/convert_pdfa": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert document to PDF-A",
        "description": "Archive documents by converting Office files, images, and PDFs to PDF/A 1b, 2b, and 3b formats - https://www.muhimbi.com/guides/pdf-converter/power-automate/pdf-to-pdfa",
        "operationId": "convert_pdfa",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_pdf_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/convert_pdfa_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/convert_powerpoint": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert PowerPoint document",
        "description": "Convert Microsoft PowerPoint (PPT, PPTX, and more) to PDF documents or other formats - https://www.muhimbi.com/guides/pdf-converter/power-automate/ppt-to-pdf/",
        "operationId": "convert_powerpoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_powerpoint_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/convert_powerpoint_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/convert_visio": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert Visio document",
        "description": "Convert a Visio document to PDF or XPS - https://www.muhimbi.com/guides/pdf-converter/power-automate/visio-to-pdf",
        "operationId": "convert_visio",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_visio_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/convert_visio_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/convert_word": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Convert Word document",
        "description": "Convert Microsoft Word (DOC, DOCX, and more) to PDF documents or other formats - https://www.muhimbi.com/guides/pdf-converter/power-automate/word-to-pdf/",
        "operationId": "convert_word",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_word_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/convert_word_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/copy_metadata": {
      "post": {
        "tags": [
          "CopyMetadata (for SharePoint only)"
        ],
        "summary": "Copy metadata (SharePoint only)",
        "description": "Copy metadata and set content type - https://www.muhimbi.com/blog/use-microsoft-flow-to-copy-sharepoint-metadata/",
        "operationId": "copy_metadata",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/copy_metadata_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response_common"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/ellipse_watermark": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Add ellipse watermark",
        "description": "Add an ellipse watermark to a PDF file.",
        "operationId": "ellipse_watermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ellipse_watermark_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/export_form_data": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Export PDF Forms Data",
        "description": "Convert data from a PDF Form to XML, FDF or XFDF - https://www.muhimbi.com/guides/pdf-converter/power-automate/extract-pdf-form-data/",
        "operationId": "export_form_data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_from_pdf_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/export_form_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/image_watermark": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Add image watermark",
        "description": "Add an image based watermark to a PDF file - https://www.muhimbi.com/guides/pdf-converter/power-automate/add-image-watermark/",
        "operationId": "image_watermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/image_watermark_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/import_form_data": {
      "post": {
        "tags": [
          "Convert"
        ],
        "summary": "Import PDF Forms data",
        "description": "Import data and fill PDF forms - https://www.muhimbi.com/guides/pdf-converter/power-automate/fill-pdf-form/",
        "operationId": "import_form_data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_xml_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/import_form_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/line_watermark": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Add line watermark",
        "description": "Add a line watermark to a PDF file.",
        "operationId": "line_watermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/line_watermark_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/linear_barcode_watermark": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Add Linear Barcode watermark",
        "description": "Add a Linear Barcode watermark to a PDF file - https://www.muhimbi.com/guides/pdf-converter/power-automate/create-barcodes/",
        "operationId": "linear_barcode_watermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/linear_barcode_watermark_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/merge_to_pdf": {
      "post": {
        "tags": [
          "Merge"
        ],
        "summary": "Merge documents",
        "description": "Merge multiple file formats into a single PDF document - https://www.muhimbi.com/guides/pdf-converter/power-automate/merge-documents/",
        "operationId": "merge_to_pdf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/merge_to_pdf_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/ocr_pdf": {
      "post": {
        "tags": [
          "OCR"
        ],
        "summary": "Convert to OCRed PDF",
        "description": "Perform OCR on an existing PDF document or an image to create a searchable PDF - https://www.muhimbi.com/guides/pdf-converter/power-automate/pdf-ocr/",
        "operationId": "ocr_pdf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ocr_pdf_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/ocr_text": {
      "post": {
        "tags": [
          "OCR"
        ],
        "summary": "Extract text using OCR",
        "description": "Extract text from a PDF file using OCR - https://www.muhimbi.com/guides/pdf-converter/power-automate/extract-text-from-pdf/",
        "operationId": "ocr_text",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ocr_text_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ocr_operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/ocr_text_task": {
      "get": {
        "tags": [
          "Async Pattern Callback Endpoints"
        ],
        "operationId": "ocr_text_task",
        "x-ms-visibility": "internal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ocr_operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/pdf_watermark": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Add PDF watermark",
        "description": "Add a PDF based watermark to a PDF file.",
        "operationId": "pdf_watermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/pdf_watermark_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/qr_code_watermark": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Add QR Code watermark",
        "description": "Add a QR Code watermark to a PDF file - https://www.muhimbi.com/guides/pdf-converter/power-automate/create-qr-codes/",
        "operationId": "qr_code_watermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/qr_code_watermark_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/rectangle_watermark": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Add rectangle watermark",
        "description": "Add a rectangle watermark to a PDF file.",
        "operationId": "rectangle_watermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rectangle_watermark_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/rtf_watermark": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Add RTF watermark",
        "description": "Add a rich-text watermark to a PDF file.",
        "operationId": "rtf_watermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/rtf_watermark_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/secure_document": {
      "post": {
        "tags": [
          "Secure"
        ],
        "description": "Secure document. Apply security and encryption settings to PDF and Office documents - https://www.muhimbi.com/guides/pdf-converter/power-automate/secure-documents/",
        "operationId": "secure_document",
        "x-ms-visibility": "internal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/secure_document_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/secure_pdf": {
      "post": {
        "tags": [
          "Secure"
        ],
        "summary": "Secure document",
        "description": "Encrypt and password-protect a PDF document.",
        "operationId": "secure_pdf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/secure_pdf_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/split_pdf": {
      "post": {
        "tags": [
          "Split"
        ],
        "summary": "Split PDF",
        "description": "Split a PDF file into multiple PDF documents - https://www.muhimbi.com/guides/pdf-converter/power-automate/split-pdf/",
        "operationId": "split_pdf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/split_pdf_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/split_operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/split_pdf_task": {
      "get": {
        "tags": [
          "Async Pattern Callback Endpoints"
        ],
        "operationId": "split_pdf_task",
        "x-ms-visibility": "internal",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/split_operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/operations/text_watermark": {
      "post": {
        "tags": [
          "Watermark"
        ],
        "summary": "Add text watermark",
        "description": "Add a plain-text watermark to a PDF file - https://www.muhimbi.com/guides/pdf-converter/power-automate/watermark/",
        "operationId": "text_watermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "input_data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/text_watermark_data"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/operation_response"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "definitions": {
    "composite_watermark_data": {
      "description": "Parameters for CompositeWatermark operation",
      "required": [
        "watermark_data",
        "source_file_content",
        "use_async_pattern"
      ],
      "properties": {
        "source_file_name": {
          "description": "Name of the source file including extension",
          "x-ms-summary": "Source file name",
          "type": "string",
          "uniqueItems": false
        },
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_file_content": {
          "description": "Content of the file to watermark",
          "x-ms-summary": "Source file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "sharepoint_file": {
          "$ref": "#/definitions/sharepoint_file"
        },
        "watermark_data": {
          "description": "Watermark data in Muhimbi XML format",
          "x-ms-summary": "Watermark data",
          "type": "string",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fail on error",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "composite_watermark_data"
    },
    "compress_pdf_data": {
      "description": "Parameters for Compress PDF operation",
      "required": [
        "source_file_name",
        "source_file_content",
        "use_async_pattern"
      ],
      "properties": {
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_file_name": {
          "description": "Name of the source file including extension",
          "x-ms-summary": "Source file name",
          "type": "string",
          "uniqueItems": false
        },
        "sharepoint_file": {
          "$ref": "#/definitions/sharepoint_file"
        },
        "source_file_content": {
          "description": "Content of the file to convert",
          "x-ms-summary": "Source file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "remove_annotations": {
          "description": "Remove the annotations in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Annotations",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "remove_blank_pages": {
          "description": "Remove the blank pages in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Blank Pages",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "remove_bookmarks": {
          "description": "Remove the bookmarks in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Bookmarks",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "remove_embedded_files": {
          "description": "Remove the embedded files in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Embedded Files",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "remove_form_fields": {
          "description": "Remove the form fields in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Form Fields",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "remove_hyperlinks": {
          "description": "Remove the hyperlinks in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Hyperlinks",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "remove_javascript": {
          "description": "Remove the javascript in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove JavaScript",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "remove_metadata": {
          "description": "Remove the metadata in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Metadata",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "remove_page_thumbnails": {
          "description": "Remove the page thumbnails in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Page Thumbnails",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "pack_fonts": {
          "description": "Pack the fonts in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Pack Fonts",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "pack_document": {
          "description": "Pack the document content in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Pack Document",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "recompress_images": {
          "description": "Recompress the images in the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Recompress Images",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "enable_mrc": {
          "description": "Enable MRC compression for the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Enable MRC",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "downscale_resolution_mrc": {
          "description": "The downscale resolution value for MRC compression",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Downscale Resolution MRC",
          "type": "integer",
          "format": "int32",
          "default": 100,
          "uniqueItems": false
        },
        "preserve_smoothing": {
          "description": "Preserve smoothing for the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Preserve Smoothing",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "image_quality": {
          "description": "The output image quality for the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Image Quality",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Very Very High",
            "Very High",
            "High",
            "Medium",
            "Low",
            "Very Low"
          ]
        },
        "downscale_images": {
          "description": "Downscale images during compression for the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Downscale Images",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "downscale_resolution": {
          "description": "The downscale resolution value for compression",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Downscale Resolution",
          "type": "integer",
          "format": "int32",
          "default": 200,
          "uniqueItems": false
        },
        "enable_color_detection": {
          "description": "Enable color detection for the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Enable Color Detection",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "enable_char_repair": {
          "description": "Enable character repair for the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Enable Char Repair",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "enable_jpeg2000": {
          "description": "Enable JPEG2000 compression for the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Enable JPEG2000",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "enable_jbig2": {
          "description": "Enable JBIG2 compression for the PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Enable JBIG2",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Yes",
            "No"
          ]
        },
        "jbig2_pms_threshold": {
          "description": "The threshold for JBIG2 pattern matching and substitution",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "JBIG2 PMS Threshold",
          "type": "integer",
          "format": "int32",
          "default": 85,
          "uniqueItems": false
        },
        "override_settings": {
          "description": "Optional settings using Muhimbi's XML syntax",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Override settings",
          "type": "string",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fail on error",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "compress_pdf_data"
    },
    "convert_cad_data": {
      "description": "Parameters for Convert CAD operation",
      "required": [
        "source_file_name",
        "source_file_content",
        "copy_metadata",
        "use_async_pattern"
      ],
      "properties": {
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_file_name": {
          "description": "Name of the source file including extension",
          "x-ms-summary": "Source file name",
          "type": "string",
          "uniqueItems": false
        },
        "sharepoint_file": {
          "$ref": "#/definitions/sharepoint_file"
        },
        "source_file_content": {
          "description": "Content of the file to convert",
          "x-ms-summary": "Source file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "copy_metadata": {
          "description": "Copy metadata (Only for SharePoint operations)",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Copy metadata",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "paper_size": {
          "description": "Paper size for the output",
          "x-ms-summary": "Paper size",
          "type": "string",
          "format": "enum",
          "default": "Letter",
          "uniqueItems": false,
          "enum": [
            "A3",
            "A4",
            "A5",
            "Legal",
            "Letter",
            "Custom"
          ]
        },
        "paper_size_custom": {
          "description": "Applicable if 'Paper size' is set to 'Custom'",
          "x-ms-summary": "Paper size (custom)",
          "type": "string",
          "uniqueItems": false
        },
        "page_margins": {
          "description": "E.g. '1.5cm' (for uniform) or '0.5in, 0.25in, 0.5in, 0.25in' (for non-uniform) margins",
          "x-ms-summary": "Page margins",
          "type": "string",
          "default": "0.25",
          "uniqueItems": false
        },
        "background_color": {
          "description": ".Net color name or hex color (#aarrggbb or #rrggbb)",
          "x-ms-summary": "Background color",
          "type": "string",
          "default": "White",
          "uniqueItems": false
        },
        "foreground_color": {
          "description": "The foreground effect or color",
          "x-ms-summary": "Foreground color",
          "type": "string",
          "format": "enum",
          "default": "GreyscaleDarken",
          "uniqueItems": false,
          "enum": [
            "Default",
            "CorrectForBackground",
            "Greyscale",
            "GreyscaleDarken",
            "GreyscaleLighten",
            "Darken",
            "Lighten",
            "Custom"
          ]
        },
        "foreground_color_custom": {
          "description": ".Net color name or hex color (#aarrggbb or #rrggbb). Applicable if 'Foreground color' is set to 'Custom'",
          "x-ms-summary": "Foreground color (custom)",
          "type": "string",
          "uniqueItems": false
        },
        "empty_layout_detection_mode": {
          "description": "Select which layouts should be skipped",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Empty layout detection",
          "type": "string",
          "format": "enum",
          "default": "SkipEmptyLayouts",
          "uniqueItems": false,
          "enum": [
            "Default",
            "SkipNone",
            "SkipEmptyLayouts",
            "SkipLayoutsWithoutViewports"
          ]
        },
        "layout_sort_order": {
          "description": "Specify the sort order in which the layouts are converted",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Layout Sort Order",
          "type": "string",
          "format": "enum",
          "default": "Ascending",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Ascending",
            "Descending",
            "TabOrder"
          ]
        },
        "start_page": {
          "description": "The first page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Start page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "end_page": {
          "description": "The last page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "End page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "override_settings": {
          "description": "Optional settings using Muhimbi's XML syntax",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Override settings",
          "type": "string",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fail on error",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "convert_cad_data"
    },
    "convert_data": {
      "description": "Parameters for Convert operation",
      "required": [
        "source_file_name",
        "source_file_content",
        "output_format",
        "copy_metadata",
        "use_async_pattern"
      ],
      "properties": {
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_file_name": {
          "description": "Name of the source file including extension",
          "x-ms-summary": "Source file name",
          "type": "string",
          "uniqueItems": false
        },
        "source_file_content": {
          "description": "Content of the file to convert",
          "x-ms-summary": "Source file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "sharepoint_file": {
          "$ref": "#/definitions/sharepoint_file"
        },
        "output_format": {
          "description": "Output format",
          "x-ms-summary": "Output format",
          "type": "string",
          "format": "enum",
          "default": "PDF",
          "uniqueItems": false,
          "enum": [
            "PDF",
            "XPS",
            "DOCX",
            "DOC",
            "ODT",
            "RTF",
            "TXT",
            "MHT",
            "HTML",
            "XML",
            "XLS",
            "XLSX",
            "CSV",
            "ODS",
            "PPT",
            "PPTX",
            "ODP",
            "PPS",
            "PPSX",
            "TIFF",
            "PNG",
            "GIF",
            "JPG",
            "BMP",
            "PS",
            "PCL",
            "EPS",
            "FDF",
            "XFDF"
          ]
        },
        "copy_metadata": {
          "description": "Copy metadata (Only for SharePoint operations)",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Copy metadata",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "override_settings": {
          "description": "Optional settings using Muhimbi's XML syntax",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Override settings",
          "type": "string",
          "uniqueItems": false
        },
        "template_file_content": {
          "description": "Optional template file content (e.g. infopath XSN file)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Template file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fail on error",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "convert_data"
    },
    "convert_email_data": {
      "description": "Parameters for Convert Email operation",
      "required": [
        "source_file_name",
        "source_file_content",
        "copy_metadata",
        "use_async_pattern"
      ],
      "properties": {
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_file_name": {
          "description": "Name of the source file including extension",
          "x-ms-summary": "Source file name",
          "type": "string",
          "uniqueItems": false
        },
        "sharepoint_file": {
          "$ref": "#/definitions/sharepoint_file"
        },
        "source_file_content": {
          "description": "Content of the file to convert",
          "x-ms-summary": "Source file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "copy_metadata": {
          "description": "Copy metadata (Only for SharePoint operations)",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Copy metadata",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "convert_attachments": {
          "description": "Include attachments",
          "x-ms-summary": "Include attachments",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        },
        "attachment_merge_mode": {
          "description": "What to do with attachments",
          "x-ms-summary": "Attachment action",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Merge",
            "AttachAsPDF",
            "AttachOriginal"
          ]
        },
        "display_attachment_summary": {
          "description": "Display attachment name in the email header",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Attachment summary",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        },
        "unsupported_attachment_behaviour": {
          "description": "What to do with attachments which cannot be converted into PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Unsupported attachment action",
          "type": "string",
          "format": "enum",
          "default": "Error",
          "uniqueItems": false,
          "enum": [
            "Error",
            "Remove",
            "AttachOriginal"
          ]
        },
        "include_attachment_types": {
          "description": "Comma separated values, e.g. *.txt, June???.docx",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Include attachment filter",
          "type": "string",
          "uniqueItems": false
        },
        "exclude_attachment_types": {
          "description": "Comma separated values, e.g. *.txt, June???.docx",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Exclude attachment filter",
          "type": "string",
          "uniqueItems": false
        },
        "viewport_Size": {
          "description": "Specify the viewport size for the conversion in pixels. E.g. 1024x768",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Viewport size",
          "type": "string",
          "default": "Paper",
          "uniqueItems": false
        },
        "paper_size": {
          "description": "Paper size for the output",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Paper size",
          "type": "string",
          "format": "enum",
          "default": "Letter",
          "uniqueItems": false,
          "enum": [
            "A3",
            "A4",
            "A5",
            "Legal",
            "Letter",
            "Custom"
          ]
        },
        "paper_size_custom": {
          "description": "Applicable if 'Paper size' is set to 'Custom'",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Paper size (custom)",
          "type": "string",
          "uniqueItems": false
        },
        "page_margins": {
          "description": "E.g. '1.5cm' (for uniform) or '0.5in,0.25in,0.5in,0.25in' (for non-uniform) margins.",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Page margins",
          "type": "string",
          "default": "0.5,0.5,0.5,0.5",
          "uniqueItems": false
        },
        "break_merge_on_error": {
          "description": "How to deal with failure when converting attachments",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Attachment errors",
          "type": "boolean",
          "uniqueItems": false
        },
        "minimum_image_attachment_dimension": {
          "description": "Exclude images smaller than the specified number of pixels",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Min. image size",
          "type": "integer",
          "format": "int32",
          "default": 150,
          "uniqueItems": false
        },
        "enable_offline_mode": {
          "description": "In offline mode external resources are disabled",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Offline mode",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "start_page": {
          "description": "The first page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Start page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "end_page": {
          "description": "The last page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "End page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "quality": {
          "description": "Quality of the output file",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Conversion quality",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "OptimizeForPrint",
            "OptimizeForOnScreen",
            "Original"
          ]
        },
        "override_settings": {
          "description": "Optional settings using Muhimbi's XML syntax",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Override settings",
          "type": "string",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fail on error",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "convert_email_data"
    },
    "convert_excel_data": {
      "description": "Parameters for Convert Excel operation",
      "required": [
        "source_file_name",
        "source_file_content",
        "output_format",
        "copy_metadata",
        "use_async_pattern"
      ],
      "properties": {
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_file_name": {
          "description": "Name of the source file including extension",
          "x-ms-summary": "Source file name",
          "type": "string",
          "uniqueItems": false
        },
        "sharepoint_file": {
          "$ref": "#/definitions/sharepoint_file"
        },
        "source_file_content": {
          "description": "Content of the file to convert",
          "x-ms-summary": "Source file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "output_format": {
          "description": "Output format",
          "x-ms-summary": "Output format",
          "type": "string",
          "format": "enum",
          "default": "PDF",
          "uniqueItems": false,
          "enum": [
            "PDF",
            "XPS",
            "DOCX",
            "DOC",
            "ODT",
            "RTF",
            "TXT",
            "MHT",
            "HTML",
            "XML",
            "XLS",
            "XLSX",
            "CSV",
            "ODS"
          ]
        },
        "copy_metadata": {
          "description": "Copy metadata (Only for SharePoint operations)",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Copy metadata",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "range": {
          "description": "Specify which parts of the document to process",
          "x-ms-summary": "Range",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "VisibleDocuments",
            "AllDocuments",
            "ActiveDocuments"
          ]
        },
        "unhide_all_rows": {
          "description": "Specify whether you would like hidden rows to be revealed",
          "x-ms-summary": "Reveal hidden rows",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "unhide_all_columns": {
          "description": "Specify whether you would like hidden columns to be revealed",
          "x-ms-summary": "Reveal hidden columns",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "fit_to_pages_wide": {
          "description": "Fit all columns onto this number of pages",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fit to # pages wide",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "fit_to_pages_tall": {
          "description": "Fit all rows onto this number of pages",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fit to # Pages tall",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "start_page": {
          "description": "The first page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Start page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "end_page": {
          "description": "The last page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "End page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "quality": {
          "description": "Quality of the output file",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Quality",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "OptimizeForPrint",
            "OptimizeForOnScreen",
            "Original"
          ]
        },
        "override_settings": {
          "description": "Optional settings using Muhimbi's XML syntax",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Override settings",
          "type": "string",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fail on error",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "convert_excel_data"
    },
    "convert_html_data": {
      "description": "Parameters for ConvertHtml operation",
      "required": [
        "use_async_pattern",
        "source_url_or_html"
      ],
      "properties": {
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_url_or_html": {
          "description": "HTML fragment or URL to convert",
          "x-ms-summary": "Source URL or HTML",
          "type": "string",
          "uniqueItems": false
        },
        "page_orientation": {
          "description": "Page orientation",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Page orientation",
          "type": "string",
          "format": "enum",
          "default": "Portrait",
          "uniqueItems": false,
          "enum": [
            "Portrait",
            "Landscape"
          ]
        },
        "media_type": {
          "description": "Media type",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Media type",
          "type": "string",
          "format": "enum",
          "default": "Screen",
          "uniqueItems": false,
          "enum": [
            "Screen",
            "Print"
          ]
        },
        "authentication_type": {
          "description": "Authentication type",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Authentication type",
          "type": "string",
          "format": "enum",
          "default": "Anonymous",
          "uniqueItems": false,
          "enum": [
            "Anonymous",
            "SharePoint Online",
            "Web"
          ]
        },
        "username": {
          "description": "User name",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "User name",
          "type": "string",
          "uniqueItems": false
        },
        "password": {
          "description": "Password",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Password",
          "type": "string",
          "format": "password",
          "uniqueItems": false
        },
        "viewport_size": {
          "description": "Optional width and height of the simulated browser (e.g. 1024x768)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Viewport size",
          "type": "string",
          "uniqueItems": false
        },
        "conversion_delay": {
          "description": "Conversion delay (in milliseconds)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Conversion delay",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fail on error",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "convert_html_data"
    },
    "convert_infopath_data": {
      "description": "Parameters for Convert Infopath operation",
      "required": [
        "source_file_name",
        "source_file_content",
        "output_format",
        "copy_metadata",
        "use_async_pattern"
      ],
      "properties": {
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_file_name": {
          "description": "Name of the source file including extension",
          "x-ms-summary": "Source file name",
          "type": "string",
          "uniqueItems": false
        },
        "sharepoint_file": {
          "$ref": "#/definitions/sharepoint_file"
        },
        "source_file_content": {
          "description": "Content of the file to convert",
          "x-ms-summary": "Source file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "output_format": {
          "description": "Output format",
          "x-ms-summary": "Output format",
          "type": "string",
          "format": "enum",
          "default": "PDF",
          "uniqueItems": false,
          "enum": [
            "PDF",
            "XPS",
            "DOCX",
            "DOC",
            "ODT",
            "RTF",
            "TXT",
            "MHT",
            "HTML",
            "XML",
            "XLS",
            "XLSX",
            "CSV",
            "ODS"
          ]
        },
        "copy_metadata": {
          "description": "Copy metadata (Only for SharePoint operations)",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Copy metadata",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "template_file_content": {
          "description": "Optional XSN file content",
          "x-ms-summary": "Template file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "views_to_convert": {
          "description": "Comma separated list view names to convert",
          "x-ms-summary": "View names",
          "type": "string",
          "uniqueItems": false
        },
        "convert_attachments": {
          "description": "Include attachments",
          "x-ms-summary": "Include attachment",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        },
        "attachment_merge_mode": {
          "description": "What to do with attachments",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Attachment action",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Merge",
            "AttachAsPDF",
            "AttachOriginal"
          ]
        },
        "unsupported_attachment_behaviour": {
          "description": "What to do with attachments which cannot be converted into PDF",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Unsupported attachment action",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "Error",
            "Remove",
            "AttachOriginal"
          ]
        },
        "break_merge_on_error": {
          "description": "Break conversion when processing of an individual part fails",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Break merge on error",
          "type": "boolean",
          "uniqueItems": false
        },
        "include_attachment_types": {
          "description": "Comma separated values, e.g. *.txt, June???.docx",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Include attachment filter",
          "type": "string",
          "uniqueItems": false
        },
        "exclude_attachment_types": {
          "description": "Comma separated values, e.g. *.txt, June???.docx",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Exclude attachment filter",
          "type": "string",
          "uniqueItems": false
        },
        "default_paper_size": {
          "description": "Specify paper size to be used when it is not specified in the view",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Default paper size",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "A3",
            "A4",
            "A5",
            "Legal",
            "Letter",
            "Custom"
          ]
        },
        "default_paper_size_custom": {
          "description": "Applicable if 'Default paper size' is set to 'Custom'",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Default paper size (custom)",
          "type": "string",
          "uniqueItems": false
        },
        "force_paper_size": {
          "description": "Force this papers size regardless of whether it is set in the views or not",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Force paper size",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "A3",
            "A4",
            "A5",
            "Legal",
            "Letter",
            "Custom"
          ]
        },
        "force_paper_size_custom": {
          "description": "Applicable if 'Force paper size' is set to custom",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Force paper size (custom)",
          "type": "string",
          "uniqueItems": false
        },
        "default_page_orientation": {
          "description": "Specify papers size to be used if it is not specified in the view",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Default page orientation",
          "type": "string",
          "format": "enum",
          "default": "Default",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Portrait",
            "Landscape",
            "Both"
          ]
        },
        "force_page_orientation": {
          "description": "Force page orientation regardless of whether it is set in the view or not",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Force page orientation",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "Default",
            "Portrait",
            "Landscape",
            "Both"
          ]
        },
        "start_page": {
          "description": "The first page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Start page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "end_page": {
          "description": "The last page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "End page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "quality": {
          "description": "Quality of the output file",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Conversion quality",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "OptimizeForPrint",
            "OptimizeForOnScreen",
            "Original"
          ]
        },
        "override_settings": {
          "description": "Optional settings using Muhimbi's XML syntax",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Override settings",
          "type": "string",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fail on error",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "convert_infopath_data"
    },
    "convert_pdfa_data": {
      "description": "Parameters for Convert PDF operation",
      "required": [
        "source_file_name",
        "source_file_content",
        "copy_metadata",
        "pdf_profile",
        "use_async_pattern"
      ],
      "properties": {
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_file_name": {
          "description": "Name of the source file including extension",
          "x-ms-summary": "Source file name",
          "type": "string",
          "uniqueItems": false
        },
        "sharepoint_file": {
          "$ref": "#/definitions/sharepoint_file"
        },
        "source_file_content": {
          "description": "Content of the file to convert",
          "x-ms-summary": "Source file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "copy_metadata": {
          "description": "Copy metadata (Only for SharePoint operations)",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Copy metadata",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "pdf_profile": {
          "description": "PDF profile to use for rendering the document",
          "x-ms-summary": "PDF profile",
          "type": "string",
          "format": "enum",
          "default": "PDF_A2B",
          "uniqueItems": false,
          "enum": [
            "Default",
            "PDF_1_5",
            "PDF_A1B",
            "PDF_A2B",
            "PDF_A2U",
            "PDF_A3B",
            "PDF_A3U",
            "PDF_1_1",
            "PDF_1_2",
            "PDF_1_3",
            "PDF_1_4",
            "PDF_1_6",
            "PDF_1_7"
          ]
        },
        "override_settings": {
          "description": "Optional settings using Muhimbi's XML syntax",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Override settings",
          "type": "string",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fail on error",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "convert_pdfa_data"
    },
    "convert_powerpoint_data": {
      "description": "Parameters for Convert Excel operation",
      "required": [
        "source_file_name",
        "source_file_content",
        "output_format",
        "copy_metadata",
        "use_async_pattern"
      ],
      "properties": {
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_file_name": {
          "description": "Name of the source file including extension",
          "x-ms-summary": "Source file name",
          "type": "string",
          "uniqueItems": false
        },
        "sharepoint_file": {
          "$ref": "#/definitions/sharepoint_file"
        },
        "source_file_content": {
          "description": "Content of the file to convert",
          "x-ms-summary": "Source file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "output_format": {
          "description": "Output format",
          "x-ms-summary": "Output format",
          "type": "string",
          "format": "enum",
          "default": "PDF",
          "uniqueItems": false,
          "enum": [
            "PDF",
            "XPS",
            "MHT",
            "XML",
            "PPT",
            "PPTX",
            "ODP",
            "PPS",
            "PPSX"
          ]
        },
        "copy_metadata": {
          "description": "Copy metadata (Only for SharePoint operations)",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Copy metadata",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "range": {
          "description": "Specify which parts of the document to process",
          "x-ms-summary": "Range",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "VisibleDocuments",
            "AllDocuments",
            "ActiveDocuments"
          ]
        },
        "print_output_type": {
          "description": "Specify how you would like the output to be arranged",
          "x-ms-summary": "Print layout / handouts",
          "type": "string",
          "format": "enum",
          "default": "Slides",
          "uniqueItems": false,
          "enum": [
            "Slides",
            "OneSlideHandouts",
            "TwoSlideHandouts",
            "ThreeSlideHandouts",
            "FourSlideHandouts",
            "SixSlideHandouts",
            "NineSlideHandouts",
            "NotesPages",
            "Outline"
          ]
        },
        "frame_slides": {
          "description": "Include a frame / border around the slides",
          "x-ms-summary": "Frame slides",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        },
        "start_page": {
          "description": "The first page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Start page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "end_page": {
          "description": "The last page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "End page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "quality": {
          "description": "Quality of the output file",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Quality",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "OptimizeForPrint",
            "OptimizeForOnScreen",
            "Original"
          ]
        },
        "override_settings": {
          "description": "Optional settings using Muhimbi's XML syntax",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Override settings",
          "type": "string",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fail on error",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "convert_powerpoint_data"
    },
    "convert_visio_data": {
      "description": "Parameters for Convert Visio operation",
      "required": [
        "source_file_name",
        "source_file_content",
        "output_format",
        "copy_metadata",
        "use_async_pattern"
      ],
      "properties": {
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_file_name": {
          "description": "Name of the source file including extension",
          "x-ms-summary": "Source file name",
          "type": "string",
          "uniqueItems": false
        },
        "sharepoint_file": {
          "$ref": "#/definitions/sharepoint_file"
        },
        "source_file_content": {
          "description": "Content of the file to convert",
          "x-ms-summary": "Source file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "output_format": {
          "description": "Output format",
          "x-ms-summary": "Output format",
          "type": "string",
          "format": "enum",
          "default": "PDF",
          "uniqueItems": false,
          "enum": [
            "PDF",
            "XPS"
          ]
        },
        "copy_metadata": {
          "description": "Copy metadata (Only for SharePoint operations)",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Copy metadata",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "range": {
          "description": "Specify which parts of the file to render",
          "x-ms-summary": "Range",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "AllDocuments",
            "ActiveDocuments"
          ]
        },
        "start_page": {
          "description": "The first page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Start page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "end_page": {
          "description": "The last page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "End page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "quality": {
          "description": "Quality of the output file",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Quality",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "OptimizeForPrint",
            "OptimizeForOnScreen",
            "Original"
          ]
        },
        "override_settings": {
          "description": "Optional settings using Muhimbi's XML syntax",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Override settings",
          "type": "string",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Fail on error",
          "type": "boolean",
          "default": true,
          "uniqueItems": false
        }
      },
      "type": "object",
      "format": "convert_visio_data"
    },
    "convert_word_data": {
      "description": "Parameters for Convert Word operation",
      "required": [
        "source_file_name",
        "source_file_content",
        "output_format",
        "copy_metadata",
        "use_async_pattern"
      ],
      "properties": {
        "use_async_pattern": {
          "description": "Use async behaviour for API request",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Use async pattern",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "source_file_name": {
          "description": "Name of the source file including extension",
          "x-ms-summary": "Source file name",
          "type": "string",
          "uniqueItems": false
        },
        "sharepoint_file": {
          "$ref": "#/definitions/sharepoint_file"
        },
        "source_file_content": {
          "description": "Content of the file to convert",
          "x-ms-summary": "Source file content",
          "type": "string",
          "format": "byte",
          "uniqueItems": false
        },
        "output_format": {
          "description": "Output format",
          "x-ms-summary": "Output format",
          "type": "string",
          "format": "enum",
          "default": "PDF",
          "uniqueItems": false,
          "enum": [
            "PDF",
            "XPS",
            "DOCX",
            "DOC",
            "ODT",
            "RTF",
            "TXT",
            "MHT",
            "HTML",
            "XML",
            "XLS",
            "XLSX",
            "CSV",
            "ODS"
          ]
        },
        "copy_metadata": {
          "description": "Copy metadata (Only for SharePoint operations)",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Copy metadata",
          "type": "boolean",
          "default": false,
          "uniqueItems": false
        },
        "revisions_and_comments_display_mode": {
          "description": "Choose what changes would you like to see in this document",
          "x-ms-summary": "Display for review",
          "type": "string",
          "format": "enum",
          "default": "Final",
          "uniqueItems": false,
          "enum": [
            "Final",
            "Original",
            "FinalShowingMarkup",
            "OriginalShowingMarkup"
          ]
        },
        "revisions_and_comments_markup_mode": {
          "description": "Choose how you would like to see changes in this document",
          "x-ms-summary": "Review markup mode",
          "type": "string",
          "format": "enum",
          "default": "InLine",
          "uniqueItems": false,
          "enum": [
            "Balloon",
            "InLine",
            "Mixed"
          ]
        },
        "generate_bookmarks": {
          "description": "Choose weather you would like to generate bookmarks based on the document structure",
          "x-ms-summary": "Generate bookmarks",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "Disabled",
            "Automatic",
            "Custom"
          ]
        },
        "start_page": {
          "description": "The first page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Start page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "end_page": {
          "description": "The last page to include",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "End page",
          "type": "integer",
          "format": "int32",
          "uniqueItems": false
        },
        "quality": {
          "description": "Quality of the output file",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Quality",
          "type": "string",
          "format": "enum",
          "uniqueItems": false,
          "enum": [
            "OptimizeForPrint",
            "OptimizeForOnScreen",
            "Original"
          ]
        },
        "override_settings": {
          "description": "Optional settings using Muhimbi's XML syntax",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Override settings",
          "type": "string",
          "uniqueItems": false
        },
        "fail_on_error": {
          "description": "Fail on error",
[...]
