{
  "swagger": "2.0",
  "info": {
    "version": "1.0.2",
    "title": "Weavo Liquid Loom",
    "description": "The connector offers a range of actions for data conversion and transformation, including: JSON to JSON, JSON to XML, JSON to Text, CSV to JSON, CSV to XML, CSV to Text, XML to JSON, XML to XML, and XML to Text. These actions are executed using the Liquid Template Language, allowing users to define custom templates for precise data transformation.",
    "contact": {
      "name": "Weavo Support",
      "url": "https://support.weavo.net",
      "email": "support@weavo.net"
    },
    "license": {
      "name": "Requires a 'Weavo Liquid Loom' subscription",
      "url": "https://www.weavo.net/signup-for-liquid-loom"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://weavo.net"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.weavo.net/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Collaboration"
    }
  ],
  "host": "liquidloom.weavo.no",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/plain"
  ],
  "produces": [
    "application/json",
    "text/plain"
  ],
  "paths": {
    "/api/CsvToJson": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in JSON format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in JSON format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "CSV to JSON",
        "operationId": "CsvToJson",
        "x-ms-visibility": "important",
        "description": "Transform Input csv using the Liquid template code. Output in JSON",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in csv format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ]
      }
    },
    "/api/CsvToText": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in Text format",
            "schema": {
              "type": "string",
              "description": "Dynamic output in Text format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "CSV to Text",
        "operationId": "CsvToText",
        "x-ms-visibility": "important",
        "description": "Transform Input csv using the Liquid template code. Output in Text",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in csv format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ]
      }
    },
    "/api/CsvToXml": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in XML format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in XML format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "CSV to XML",
        "operationId": "CsvToXml",
        "x-ms-visibility": "important",
        "description": "Transform Input csv using the Liquid template code. Output in XML",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in csv format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ]
      }
    },
    "/api/JsonToJson": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in JSON format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in JSON format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "JSON to JSON",
        "operationId": "JsonToJson",
        "x-ms-visibility": "important",
        "description": "Transform Input JSON using the Liquid template code. Output in JSON",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in JSON format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ]
      }
    },
    "/api/JsonToText": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in JsonToText format",
            "schema": {
              "type": "string",
              "description": "Dynamic output in Text format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "JSON to Text",
        "operationId": "JsonToText",
        "x-ms-visibility": "important",
        "description": "Transform Input JSON using the Liquid template code. Output in Text",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in JSON format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ]
      }
    },
    "/api/JsonToXml": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in XML format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in XML format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "JSON to XML",
        "operationId": "JsonToXml",
        "x-ms-visibility": "important",
        "description": "Transform Input JSON using the Liquid template code. Output in XML",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in JSON format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ]
      }
    },
    "/api/XmlToJson": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in JSON format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in JSON format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "XML to JSON",
        "operationId": "XmlToJson",
        "x-ms-visibility": "important",
        "description": "Transform Input XML using the Liquid template code. Output in JSON",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in XML format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ]
      }
    },
    "/api/XmlToText": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in Text format",
            "schema": {
              "type": "string",
              "description": "Dynamic output in Text format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "XML to Text",
        "operationId": "XmlToText",
        "x-ms-visibility": "important",
        "description": "Transform Input XML using the Liquid template code. Output in Text",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in XML format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ]
      }
    },
    "/api/XmlToXml": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic output in XML format",
            "schema": {
              "type": "object",
              "description": "Dynamic output in XML format",
              "title": "Transformed content",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "XML to XML",
        "operationId": "XmlToXml",
        "x-ms-visibility": "important",
        "description": "Transform Input XML using the Liquid template code. Output in XML",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inputString": {
                  "type": "string",
                  "description": "Input string in XML format",
                  "title": "Input",
                  "x-ms-visibility": "important"
                },
                "liquidTemplate": {
                  "type": "string",
                  "description": "Liquid template code. Generate it at www.weavo.dev",
                  "title": "Liquid",
                  "x-ms-visibility": "important"
                },
                "logFileName": {
                  "type": "string",
                  "description": "The name of the logfile (only applicable when logging is enabled)",
                  "title": "LogFileName",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "inputString",
                "liquidTemplate"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "description": "Generate your free",
      "in": "header",
      "name": "ApiKey"
    }

  },
  "security": [],
  "tags": []
}