{
  "swagger": "2.0",
  "info": {
    "title": "Harness PDFx",
    "version": "1.0",
    "description": "PDFx automates the extraction of data from complex and varied PDFs. It can extract and structure any data type, including point data, tables and forms, and images. Manage your extracted data within a personal or shared workspace before exporting it to your own systems. The connector provides an easy way to get your documents into your workspace.",
    "contact": {
      "name": "Harness Support",
      "url": "https://harnessdata.ai/contact",
      "email": "support@harnessdata.ai"
    }
  },
  "host": "api.harnessproperty.com",
  "basePath": "/pdfx/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/pdfs": {
      "parameters": [],
      "post": {
        "summary": "Post PDF for Extraction",
        "consumes": [
          "multipart/form-data"
        ],
        "operationId": "post-pdf",
        "responses": {
          "202": {
            "description": "PDF Accepted for Extraction",
            "schema": {
              "title": "PDFx Response Object",
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "job_token": {
                      "type": "string",
                      "description": "The PDFx Job Token"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Submits a PDF to PDFx for processing.",
        "parameters": [
          {
            "x-ms-summary": "PDF File",
            "in": "formData",
            "type": "file",
            "name": "fileToProcess",
            "description": "The PDF file to process"
          }
        ]
      }
    },
    "/pdfs/{pdf_id}": {
      "get": {
        "summary": "Get PDFx Result",
        "operationId": "get-pdf",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Returns extracted PDF data.",
        "parameters": [
          {
            "in": "path",
            "type": "string",
            "name": "pdf_id",
            "required": true,
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "internal"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://harnessdata.ai/solutions/pdfx"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://harnessdata.ai/privacy-notice"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ],
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
