{
  "swagger": "2.0",
  "info": {
    "title": "Unofficial Netflix Search",
    "description": "The Next Generation Unofficial Netflix Online Global Search allows anyone to search the global Netflix catalog. Search by title or people, retrieve genres, and get more details about each title.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "unogsng.p.rapidapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "img": {
                        "type": "string",
                        "description": "The cover image.",
                        "title": "Cover Image"
                      },
                      "vtype": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "nfid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The Netflix unique identifier.",
                        "title": "Netflix ID"
                      },
                      "synopsis": {
                        "type": "string",
                        "description": "The synopsis.",
                        "title": "Synopsis"
                      },
                      "avgrating": {
                        "type": "number",
                        "format": "float",
                        "description": "The average rating.",
                        "title": "Average Rating"
                      },
                      "year": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The year.",
                        "title": "Year"
                      },
                      "runtime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The runtime.",
                        "title": "Runtime"
                      },
                      "imdbid": {
                        "type": "string",
                        "description": "The IMDB unique identifier.",
                        "title": "IMDB ID"
                      },
                      "poster": {
                        "type": "string",
                        "description": "The poster.",
                        "title": "Poster"
                      },
                      "imdbrating": {
                        "type": "number",
                        "format": "float",
                        "description": "The IMDB rating.",
                        "title": "IMDB Rating"
                      },
                      "top250": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The top 250 position.",
                        "title": "Top 250"
                      },
                      "top250tv": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The top 250 TV position.",
                        "title": "Top 250 TV"
                      },
                      "clist": {
                        "type": "string",
                        "description": "The list of countries available.",
                        "title": "Country List"
                      },
                      "titledate": {
                        "type": "string",
                        "description": "The title date.",
                        "title": "Title Date"
                      }
                    }
                  },
                  "title": "Results"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number.",
                  "title": "Total"
                },
                "elapse": {
                  "type": "number",
                  "format": "float",
                  "description": "The number elapse.",
                  "title": "Elapse"
                }
              }
            }
          }
        },
        "summary": "Search titles",
        "description": "Retrieves titles added during dates provided.",
        "operationId": "TitleSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The query.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "type",
            "in": "query",
            "x-ms-summary": "Type",
            "description": "The type.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "genrelist",
            "in": "query",
            "x-ms-summary": "Genre List",
            "description": "The list of genres.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "countrylist",
            "in": "query",
            "x-ms-summary": "Country List",
            "description": "The country list.",
            "required": false,
            "type": "string"
          },
          {
            "name": "start_year",
            "in": "query",
            "x-ms-summary": "Start Year",
            "description": "The start year.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end_year",
            "in": "query",
            "x-ms-summary": "End Year",
            "description": "The end year.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "audio",
            "in": "query",
            "x-ms-summary": "Audio",
            "description": "The audio.",
            "required": false,
            "type": "string"
          },
          {
            "name": "audiosubtitle_andor",
            "in": "query",
            "x-ms-summary": "Audio and/or Subtitle",
            "description": "The audio and/or subtitle.",
            "required": false,
            "type": "string"
          },
          {
            "name": "subtitle",
            "in": "query",
            "x-ms-summary": "Subtitle",
            "description": "The subtitle.",
            "required": false,
            "type": "string"
          },
          {
            "name": "country_andorunique",
            "in": "query",
            "x-ms-summary": "Unique Country",
            "description": "The unique country.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderby",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/people": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Object": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The offset.",
                      "title": "Offset"
                    }
                  },
                  "title": "Object"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "netflix_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The Netflix unique identifier.",
                        "title": "Netflix ID"
                      },
                      "full_name": {
                        "type": "string",
                        "description": "The full name.",
                        "title": "Full Name"
                      },
                      "person_type": {
                        "type": "string",
                        "description": "The person type.",
                        "title": "Person Type"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Search people",
        "description": "Retrieves people by title name, person name, or Netflix ID.",
        "operationId": "PeopleSearch",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "x-ms-summary": "Name",
            "description": "The name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "netflix_id",
            "in": "query",
            "x-ms-summary": "Netflix ID",
            "description": "The Netflix unique identifier.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/titlesdel": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Object": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The offset.",
                      "title": "Offset"
                    }
                  },
                  "title": "Object"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "netflix_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The Netflix unique identifier.",
                        "title": "Netflix ID"
                      },
                      "country_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The country unique identifier.",
                        "title": "Country ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "delete_date": {
                        "type": "string",
                        "description": "The delete date.",
                        "title": "Delete Date"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Search deleted titles",
        "description": "Retrieves deleted titles by title name or country.",
        "operationId": "DeletedSearch",
        "parameters": [
          {
            "name": "netflix_id",
            "in": "query",
            "x-ms-summary": "Netflix ID",
            "description": "The Netflix unique identifier.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "country_list",
            "in": "query",
            "x-ms-summary": "Country List",
            "description": "The country list.",
            "required": false,
            "type": "string"
          },
          {
            "name": "date",
            "in": "query",
            "x-ms-summary": "Date",
            "description": "The date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/genres": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "netflix_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The Netflix unique identifier.",
                        "title": "Netflix ID"
                      },
                      "genre": {
                        "type": "string",
                        "description": "The genre.",
                        "title": "Genre"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get genres",
        "description": "Retrieves a list of genres. Updated daily.",
        "operationId": "Genres",
        "parameters": []
      }
    },
    "/countries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "countrycode": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country code"
                      },
                      "expiring": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The expiring.",
                        "title": "Expiring"
                      },
                      "nl7": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The NL7.",
                        "title": "NL7"
                      },
                      "tvids": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The TV unique identifier.",
                        "title": "TV ID"
                      },
                      "tmovs": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The top movies position.",
                        "title": "Top Movies"
                      },
                      "tseries": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The top series position.",
                        "title": "Top Series"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get countries",
        "description": "Retrieves a list of supported countries.",
        "operationId": "Countries",
        "parameters": []
      }
    },
    "/title": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "maturity_label": {
                  "type": "string",
                  "description": "The maturity label.",
                  "title": "Maturity Label"
                },
                "maturity_level": {
                  "type": "string",
                  "description": "The maturity level.",
                  "title": "Maturity Level"
                },
                "synopsis": {
                  "type": "string",
                  "description": "The synopsis.",
                  "title": "Synopsis"
                },
                "title_type": {
                  "type": "string",
                  "description": "The title type.",
                  "title": "Title Type"
                },
                "default_image": {
                  "type": "string",
                  "description": "The default image.",
                  "title": "Default Image"
                },
                "large_image": {
                  "type": "string",
                  "description": "The large image.",
                  "title": "Large Image"
                },
                "netflix_id": {
                  "type": "string",
                  "description": "The Netflix unique identifier.",
                  "title": "Netflix ID"
                },
                "start_date": {
                  "type": "string",
                  "description": "The start date.",
                  "title": "Start Date"
                },
                "latest_date": {
                  "type": "string",
                  "description": "The latest date.",
                  "title": "Latest Date"
                },
                "year": {
                  "type": "string",
                  "description": "The year.",
                  "title": "Year"
                },
                "poster": {
                  "type": "string",
                  "description": "The poster.",
                  "title": "Poster"
                },
                "runtime": {
                  "type": "string",
                  "description": "The runtime.",
                  "title": "Runtime"
                },
                "awards": {
                  "type": "string",
                  "description": "The awards.",
                  "title": "Awards"
                },
                "origin_country": {
                  "type": "string",
                  "description": "The country of origin.",
                  "title": "Origin Country"
                },
                "rating": {
                  "type": "string",
                  "description": "The rating.",
                  "title": "Rating"
                },
                "alt_id": {
                  "type": "string",
                  "description": "The alternative unique identifier.",
                  "title": "Alt ID"
                },
                "alt_plot": {
                  "type": "string",
                  "description": "The alternative plot.",
                  "title": "Alt Plot"
                },
                "alt_metascore": {
                  "type": "string",
                  "description": "The alternative metascore.",
                  "title": "Alt Metascore"
                },
                "alt_votes": {
                  "type": "string",
                  "description": "The alternative votes.",
                  "title": "Alt Votes"
                },
                "alt_runtime": {
                  "type": "string",
                  "description": "The alternative runtime.",
                  "title": "Alt Runtime"
                },
                "alt_image": {
                  "type": "string",
                  "description": "The alternative image.",
                  "title": "Alt Image"
                }
              }
            }
          }
        },
        "summary": "Get title details",
        "description": "Retrieves the details associated with a title.",
        "operationId": "TitleDetail",
        "parameters": [
          {
            "name": "netflixid",
            "in": "query",
            "x-ms-summary": "Netflix ID",
            "description": "The Netflix unique identifier.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "imdbid",
            "in": "query",
            "x-ms-summary": "IMDB ID",
            "description": "The IMDB unique identifier.",
            "required": true,
            "type": "integer"
          }
        ]
      }
    },
    "/titlecountries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Object": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The offset.",
                      "title": "Offset"
                    }
                  },
                  "title": "Object"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "country_code": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      },
                      "season_detail": {
                        "type": "string",
                        "description": "The season detail.",
                        "title": "Season Detail"
                      },
                      "expire_date": {
                        "type": "string",
                        "description": "The expire date.",
                        "title": "Expire Date"
                      },
                      "new_date": {
                        "type": "string",
                        "description": "The new date.",
                        "title": "New Date"
                      },
                      "audio": {
                        "type": "string",
                        "description": "The audio.",
                        "title": "Audio"
                      },
                      "subtitle": {
                        "type": "string",
                        "description": "The subtitle.",
                        "title": "Subtitle"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get title country",
        "description": "Retrieves the country and language information associated with a title.",
        "operationId": "TitleCountry",
        "parameters": [
          {
            "name": "netflixid",
            "in": "query",
            "x-ms-summary": "Netflix ID",
            "description": "The Netflix unique identifier.",
            "required": true,
            "type": "integer"
          }
        ]
      }
    },
    "/titlegenres": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Object": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The offset.",
                      "title": "Offset"
                    }
                  },
                  "title": "Object"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "genre_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The genre unique identifier.",
                        "title": "Genre ID"
                      },
                      "genre": {
                        "type": "string",
                        "description": "The genre.",
                        "title": "Genre"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get title genres",
        "description": "Retrieves all genres associated with a title",
        "operationId": "TitleGenre",
        "parameters": [
          {
            "name": "netflixid",
            "in": "query",
            "x-ms-summary": "Netflix ID",
            "description": "The Netflix unique identifier.",
            "required": true,
            "type": "integer"
          }
        ]
      }
    },
    "/episodes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Object": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The offset.",
                      "title": "Offset"
                    }
                  },
                  "title": "Object"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "netflix_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The Netflix unique identifier.",
                        "title": "Netflix ID"
                      },
                      "episode_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The episode unique identifier.",
                        "title": "Episode ID"
                      },
                      "season_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The season unique identifier.",
                        "title": "Season ID"
                      },
                      "episode_number": {
                        "type": "string",
                        "description": "The episode number.",
                        "title": "Episode Number"
                      },
                      "season_number": {
                        "type": "string",
                        "description": "The season number.",
                        "title": "Season Number"
                      },
                      "synopsis": {
                        "type": "string",
                        "description": "The synopsis.",
                        "title": "Synopsis"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get title episodes",
        "description": "Retrieves all episodes associated with a title",
        "operationId": "TitleEpisode",
        "parameters": [
          {
            "name": "netflixid",
            "in": "query",
            "x-ms-summary": "Netflix ID",
            "description": "The Netflix unique identifier.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "seasonid",
            "in": "query",
            "x-ms-summary": "Season ID",
            "description": "The season unique identifier.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "episodeid",
            "in": "query",
            "x-ms-summary": "Episode ID",
            "description": "The episode unique identifier.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/images": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Object": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The offset.",
                      "title": "Offset"
                    }
                  },
                  "title": "Object"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "image_type": {
                        "type": "string",
                        "description": "The image type.",
                        "title": "Image Type"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get title images",
        "description": "Retrieves all images associated with a title.",
        "operationId": "TitleImage",
        "parameters": [
          {
            "name": "netflixid",
            "in": "query",
            "x-ms-summary": "Netflix ID",
            "description": "The Netflix unique identifier.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/expiring": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "netflixid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The Netflix unique identifier.",
                        "title": "Netflix ID"
                      },
                      "expiredate": {
                        "type": "string",
                        "description": "The expire date.",
                        "title": "Expire Date"
                      },
                      "countrycode": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      }
                    }
                  },
                  "title": "Results"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number.",
                  "title": "Total"
                },
                "elapse": {
                  "type": "number",
                  "format": "float",
                  "description": "The number elapse.",
                  "title": "Elapse"
                }
              }
            }
          }
        },
        "summary": "Get expiring titles",
        "description": "Retrieves a list of expiring titles.",
        "operationId": "TitleExpiring",
        "parameters": [
          {
            "name": "countrylist",
            "in": "query",
            "x-ms-summary": "Country List",
            "description": "The country list.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-RapidAPI-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://rapidapi.com/unogs/api/unogsng/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://rapidapi.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}