{
  "swagger": "2.0",
  "info": {
    "title": "Feathery Forms",
    "description": "Feathery is the most powerful form and workflow automation platform. Build pixel-perfect forms, set up powerful logic, and connect to hundreds of different systems.",
    "version": "1.0",
    "contact": {
      "name": "Feathery Support",
      "url": "https://community.feathery.io",
      "email": "support@feathery.io"
    }
  },
  "host": "api.feathery.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/trigger/power-automate/poll/": {},
    "/trigger/power-automate/poll/form_completion/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "Submission Completed At": {
                        "type": "string",
                        "description": "Submission Completed At"
                      },
                      "Submission Updated At": {
                        "type": "string",
                        "description": "Submission Updated At"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "When a form submission is completed",
        "description": "This operation is triggered when a form submission is completed.",
        "operationId": "FormCompletion",
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "form_key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The name of the form",
            "x-ms-visibility": "important",
            "x-ms-summary": "Form Name"
          },
          {
            "name": "last_requested_at",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Last trigger poll time",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Last Request Time"
          }
        ],
        "x-ms-trigger-hint": "Submit a form to trigger"
      }
    },
    "/trigger/power-automate/poll/data_received/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "requested_at": {
                  "type": "string",
                  "description": "requested_at"
                },
                "results": {
                  "type": "array",
                  "items": {},
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "Whenever any data is received from a submission",
        "description": "This operation is triggered whenever any data is received from a submission.",
        "operationId": "DataReceived",
        "x-ms-visibility": "important",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": [
          {
            "name": "form_key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The name of the form",
            "x-ms-visibility": "important",
            "x-ms-summary": "Form Name"
          },
          {
            "name": "last_requested_at",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Last trigger poll time",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Last Request Time"
          }
        ],
        "x-ms-trigger-hint": "Submit a form to trigger"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://feathery.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://feathery.io/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Collaboration"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
