{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "ClickUp Team Manager",
    "description": "Connects to the ClickUp team to manage tasks, folders, and lists from within Power Platform",
	    "contact": {
      "name": "Duke DeVan",
      "url": "https://dukedevan.com",
      "email": "ddevan@hitachisolutions.com"
    }
  },
  "host": "api.clickup.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v2/space/{space_id}/folder": {
      "post": {
        "summary": "Create a Folder",
        "description": "Creates a new folder in your space",
        "operationId": "CreateAFolder",
        "parameters": [
          {
            "name": "space_id",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-summary":"Create folder new folder",
			"x-ms-url-encoding": "single",
			"description":"Create a new folder in your space"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
					  
                },
                "name": {
                  "type": "string",
                  "description": "Name of folder being created",
				  "x-ms-summary":"Folder Name"
					  
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Task order index",
				  "x-ms-summary":"Order Index"
					  
                },
                "override_statuses": {
                  "type": "boolean",
                  "description": "override_statuses",
				  "x-ms-summary":"Override Statuses"
					  
                },
                "hidden": {
                  "type": "boolean",
                  "description": "hidden",
				  "x-ms-summary":"Hidden Folder"
					  
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id",
					  "x-ms-summary":"Space ID",
					  "x-ms-visibility":"internal"
					  
                    },
                    "name": {
                      "type": "string",
                      "description": "name",
					  "x-ms-summary":"Space Name",
					  "x-ms-visibility":"internal"
					  
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access",
					  "x-ms-visibility":"internal"
					  
                    }
                  },
                  "description": "space"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count",
				  "x-ms-summary":"Task Count"
					  
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
					  
                },
                "statuses": {
                  "type": "array",
                  "items": {},
                  "description": "statuses",
				  "x-ms-summary":"Statuses"
					  
                },
                "lists": {
                  "type": "array",
                  "items": {},
                  "description": "lists",
				  "x-ms-visibility":"internal"
					  
                },
                "permission_level": {
                  "type": "string",
                  "description": "permission_level",
				  "x-ms-summary":"Permission Level"
				 
					  
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
					  
                },
                "name": {
                  "type": "string",
                  "description": "name"
					  
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex"
					  
                },
                "override_statuses": {
                  "type": "boolean",
                  "description": "override_statuses"
					  
                },
                "hidden": {
                  "type": "boolean",
                  "description": "hidden"
					  
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
					  
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
					  
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
					  
                    }
                  },
                  "description": "space"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count"
					  
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
					  
                },
                "statuses": {
                  "type": "array",
                  "items": {},
                  "description": "statuses"
					  
                },
                "lists": {
                  "type": "array",
                  "items": {},
                  "description": "lists"
					  
                },
                "permission_level": {
                  "type": "string",
                  "description": "permission_level"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/folder/folder_id": {},
    "/api/v2/space/2100010/folder": {},
    "/api/v2/team": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "teams": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
					  
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
					  
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
					 
                      },
                      "avatar": {
                        "type": "string",
                        "description": "avatar"
					  
                      },
                      "members": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "user": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "id"
					  
                                },
                                "username": {
                                  "type": "string",
                                  "description": "username"
					  
                                },
                                "email": {
                                  "type": "string",
                                  "description": "email"
					  
                                },
                                "color": {
                                  "type": "string",
                                  "description": "color"
					  
                                },
                                "profilePicture": {
                                  "type": "string",
                                  "description": "profilePicture"
					  
                                },
                                "initials": {
                                  "type": "string",
                                  "description": "initials"
					  
                                },
                                "role": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "role"
					  
                                },
                                "custom_role": {
                                  "type": "string",
                                  "description": "custom_role"
					  
                                },
                                "last_active": {
                                  "type": "string",
                                  "description": "last_active"
					  
                                },
                                "date_joined": {
                                  "type": "string",
                                  "description": "date_joined"
					  
                                },
                                "date_invited": {
                                  "type": "string",
                                  "description": "date_invited"
					  
                                }
                              },
                              "description": "user"
                            }
                          }
                        },
                        "description": "members"
                      }
                    }
                  },
                  "description": "teams"
                }
              }
            }
          }
        },
        "summary": "Get Teams",
        "operationId": "GetTeams",
        "parameters": [],
        "description": "Returns the teams for your ClickUp instance",
		"x-ms-summary":"Get Teams in clickup instance"
      }
    },
    "/api/v2/team/{team_id}/space": {      
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
					  
                },
                "name": {
                  "type": "string",
                  "description": "name"
					  
                },
                "private": {
                  "type": "boolean",
                  "description": "private"
					  
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
					  
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
					  
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
					  
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
					  
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
					  
                      }
                    }
                  },
                  "description": "statuses"
                },
                "multiple_assignees": {
                  "type": "boolean",
                  "description": "multiple_assignees"
					  
                },
                "features": {
                  "type": "object",
                  "properties": {
                    "due_dates": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
					 
                        },
                        "start_date": {
                          "type": "boolean",
                          "description": "start_date"
					  
                        },
                        "remap_due_dates": {
                          "type": "boolean",
                          "description": "remap_due_dates"
					  
                        },
                        "remap_closed_due_date": {
                          "type": "boolean",
                          "description": "remap_closed_due_date"
					  
                        }
                      },
                      "description": "due_dates"
                    },
                    "sprints": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
					  
                        }
                      },
                      "description": "sprints"
                    },
                    "points": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
					  
                        }
                      },
                      "description": "points"
                    },
                    "custom_items": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
					  
                        }
                      },
                      "description": "custom_items"
                    },
                    "tags": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
					  
                        }
                      },
                      "description": "tags"
                    },
                    "time_estimates": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
					  
                        }
                      },
                      "description": "time_estimates"
                    },
                    "checklists": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
					  
                        }
                      },
                      "description": "checklists"
                    },
                    "zoom": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
					  
                        }
                      },
                      "description": "zoom"
                    },
                    "milestones": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "milestones"
                    },
                    "custom_fields": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "custom_fields"
                    },
                    "remap_dependencies": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "remap_dependencies"
                    },
                    "dependency_warning": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "dependency_warning"
                    },
                    "multiple_assignees": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "multiple_assignees"
                    },
                    "portfolios": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "portfolios"
                    },
                    "emails": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled"
                        }
                      },
                      "description": "emails"
                    }
                  },
                  "description": "features"
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived"
                }
              }
            }
          }
        },
        "summary": "Create A Space",
        "operationId": "CreateSpace",
        "parameters": [
          {
            "name": "team_id",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-url-encoding": "single",
			"x-ms-summary":"Team ID",
			"description":"ID for the team where the space is being created"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
				  "x-ms-summary":"Space Name"
                },
                "multiple_assignees": {
                  "type": "boolean",
                  "description": "multiple_assignees",
				  "x-ms-summary":"Multiple Assignees"
                },
                "features": {
                  "type": "object",
                  "properties": {
                    "due_dates": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled",
						  "x-ms-summary":"Due Dates"
                        },
                        "start_date": {
                          "type": "boolean",
                          "description": "start_date",
						  "x-ms-summary":"Start Date"
                        },
                        "remap_due_dates": {
                          "type": "boolean",
                          "description": "remap_due_dates",
						  "x-ms-summary":"Remap Due Date"
                        },
                        "remap_closed_due_date": {
                          "type": "boolean",
                          "description": "remap_closed_due_date",
						  "x-ms-summary":"Remap Closed Due Date"
                        }
                      },
                      "description": "due_dates"
                    },
                    "time_tracking": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
						  "x-ms-summary":"Time Tracking",
                          "description": "enabled"
                        }
                      },
                      "description": "time_tracking"
                    },
                    "tags": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
						  "x-ms-summary":"Tags",
                          "description": "enabled"
                        }
                      },
                      "description": "tags"
                    },
                    "time_estimates": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
						  "x-ms-summary":"Time Estimates",
                          "description": "enabled"
                        }
                      },
                      "description": "time_estimates"
                    },
                    "checklists": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
						  "x-ms-summary":"Checklist",
                          "description": "enabled"
                        }
                      },
                      "description": "checklists"
                    },
                    "custom_fields": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
						  "x-ms-summary":"Custom Fields",
                          "description": "Custom fields allowed"
                        }
                      },
                      "description": "custom_fields"
                    },
                    "remap_dependencies": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
						  "x-ms-summary":"Remap dependencies",
                          "description": "enabled"
                        }
                      },
                      "description": "remap_dependencies"
                    },
                    "dependency_warning": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
						  "x-ms-summary":"Dependency Warning",
                          "description": "enabled"
                        }
                      },
                      "description": "dependency_warning"
                    },
                    "portfolios": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "enabled",
						  "x-ms-summary":"Portfolios"
                        }
                      },
                      "description": "portfolios"
                    }
                  },
                  "description": "features"
                }
              }
            }
          }
        ],
        "description": "Creates new workspace in your team"
      }
    },
    "/api/v2/folder/{folder_id}/list": {

      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    },
                    "hide_label": {
                      "type": "boolean",
                      "description": "hide_label"
                    }
                  },
                  "description": "status"
                },
                "priority": {
                  "type": "object",
                  "properties": {
                    "priority": {
                      "type": "string",
                      "description": "priority"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    }
                  },
                  "description": "priority"
                },
                "assignee": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "color": {
                      "type": "string",
                      "description": "color"
                    },
                    "username": {
                      "type": "string",
                      "description": "username"
                    },
                    "initials": {
                      "type": "string",
                      "description": "initials"
                    },
                    "profilePicture": {
                      "type": "string",
                      "description": "profilePicture"
                    }
                  },
                  "description": "assignee"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count"
                },
                "due_date": {
                  "type": "string",
                  "description": "due_date"
                },
                "due_date_time": {
                  "type": "boolean",
                  "description": "due_date_time"
                },
                "start_date": {
                  "type": "string",
                  "description": "start_date"
                },
                "start_date_time": {
                  "type": "string",
                  "description": "start_date_time"
                },
                "folder": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "hidden": {
                      "type": "boolean",
                      "description": "hidden"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "folder"
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access"
                    }
                  },
                  "description": "space"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex"
                      },
                      "color": {
                        "type": "string",
                        "description": "color"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "statuses"
                },
                "inbound_address": {
                  "type": "string",
                  "description": "inbound_address"
                }
              }
            }
          }
        },
        "summary": "Create A list",
        "operationId": "CreateAList",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-url-encoding": "single",
			"x-ms-summary":"Folder ID",
			"description":"folder where the list is being created"
          },
          {
            "name": "Content-Type:application/json",
            "in": "header",
            "required": false,
            "type": "string",
			"x-ms-summary":"header",
			"description":"header",
			"x-ms-visibility":"internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
				  "x-ms-summary":"ID",
				  "x-ms-visibility":"internal"
					  
                },
                "name": {
                  "type": "string",
                  "description": "Name of list",
				  "x-ms-visibility":"important",
				  "x-ms-summary":"Name"
				  
					  
                },
                "orderindex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "orderindex",
				  "x-ms-summary":"Order Index"
					  
                },
                "content": {
                  "type": "string",
                  "description": "content",
				  "x-ms-visibility":"internal"
					  
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status",
					  "x-ms-visibility":"internal"
					  
                    },
                    "color": {
                      "type": "string",
                      "description": "color",
					  "x-ms-visibility":"internal"
					  
                    },
                    "hide_label": {
                      "type": "boolean",
                      "description": "hide_label",
					  "x-ms-visibility":"internal"
					  
                    }
                  },
                  "description": "status"
                },
                "priority": {
                  "type": "object",
                  "properties": {
                    "priority": {
                      "type": "string",
                      "description": "priority",
					  "x-ms-visibility":"internal"
					  
                    },
                    "color": {
                      "type": "string",
                      "description": "color",
					  "x-ms-visibility":"internal"
					  
                    }
                  },
                  "description": "priority"
                },
                "assignee": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id",
					  "x-ms-visibility":"internal"
					  
                    },
                    "color": {
                      "type": "string",
                      "description": "color",
					  "x-ms-visibility":"internal"
					  
                    },
                    "username": {
                      "type": "string",
                      "description": "username",
					  "x-ms-visibility":"internal"
					  
                    },
                    "initials": {
                      "type": "string",
                      "description": "initials",
					  "x-ms-visibility":"internal"
					  
                    },
                    "profilePicture": {
                      "type": "string",
                      "description": "profilePicture",
					  "x-ms-visibility":"internal"
					  
                    }
                  },
                  "description": "assignee"
                },
                "task_count": {
                  "type": "string",
                  "description": "task_count",
				  "x-ms-visibility":"internal"
					  
                },
                "due_date": {
                  "type": "string",
                  "description": "due_date",
				  "x-ms-visibility":"internal"
					  
                },
                "due_date_time": {
                  "type": "boolean",
                  "description": "due_date_time",
				  "x-ms-visibility":"important",
				  "x-ms-summary":"Due Date"
					  
                },
                "start_date": {
                  "type": "string",
                  "description": "start_date",
				  "x-ms-visibility":"internal"
					  
                },
                "start_date_time": {
                  "type": "string",
                  "description": "start_date_time",
				  "x-ms-visibility":"internal"
					  
                },
                "folder": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id",
					  "x-ms-visibility":"internal"
					  
                    },
                    "name": {
                      "type": "string",
                      "description": "name",
					  "x-ms-visibility":"internal"
					  
                    },
                    "hidden": {
                      "type": "boolean",
                      "description": "hidden",
					  "x-ms-visibility":"internal"
					  
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access",
					  "x-ms-visibility":"internal"
					  
                    }
                  },
                  "description": "folder"
                },
                "space": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id",
					  "x-ms-visibility":"internal"
					  
                    },
                    "name": {
                      "type": "string",
                      "description": "name",
					  "x-ms-visibility":"internal"
					  
                    },
                    "access": {
                      "type": "boolean",
                      "description": "access",
					  "x-ms-visibility":"internal"
					  
                    }
                  },
                  "description": "space"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "description": "status",
						"x-ms-visibility":"internal"
					  
                      },
                      "orderindex": {
                        "type": "integer",
                        "format": "int32",
                        "description": "orderindex",
						"x-ms-visibility":"internal"
					  
                      },
                      "color": {
                        "type": "string",
                        "description": "color",
						"x-ms-visibility":"internal"
						
					  
                      },
                      "type": {
                        "type": "string",
                        "description": "type",
						"x-ms-visibility":"internal"
					  
                      }
                    }
                  },
                  "description": "statuses"
                },
                "inbound_address": {
                  "type": "string",
                  "description": "inbound_address",
				  "x-ms-visibility":"internal"
					  
                }
              }
            }
          }
        ],
        "description": "Create a new list inside of a folder",
		"x-ms-url-encoding": "single",
		"x-ms-summary":"Create a new list inside of a folder"
      }
    }
 
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
 "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.clickup.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.clickup.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration; Business Management"
    }
  ]
}