{
    "swagger": "2.0",
    "info": {
      "title": "Google BigQuery - Dev",
      "description": "BigQuery is a completely serverless and cost-effective enterprise data warehouse. It has built-in machine learning and BI that works across clouds, and scales with your data.",
      "version": "1.0",
      "contact": {
        "name": "Ashwani Kumar",
        "url": "https://about.me/ashwanidv100",
        "email": "ashwanidv100@gmail.com"
      }
    },
    "host": "www.googleapis.com",
    "basePath": "/",
    "schemes": [
      "https"
    ],
    "consumes": [],
    "produces": ["application/json"],
    "paths": {
      "/bigquery/v2/projects/{projectId}/datasets/{datasetId}": {
        "get": {
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                    "type": "object",
                    "properties": {
                        "kind": {
                            "type": "string",
                            "description": "Kind",
                            "x-ms-summary": "Kind",
                            "x-ms-visibility": "internal"
                        },
                        "etag": {
                            "type": "string",
                            "description": "Etag",
                            "x-ms-summary": "Etag",
                            "x-ms-visibility": "internal"
                        },
                        "id": {
                            "type": "string",
                            "description": "ID",
                            "x-ms-summary": "ID",
                            "x-ms-visibility": "internal"
                        },
                        "selfLink": {
                            "type": "string",
                            "description": "SelfLink",
                            "x-ms-summary": "SelfLink",
                            "x-ms-visibility": "internal"
                        },
                        "datasetReference": {
                            "type": "object",
                            "properties": {
                                "datasetId": {
                                    "type": "string",
                                    "description": "Dataset ID",
                                    "x-ms-summary": "Dataset ID",
                                    "x-ms-visibility": "internal"
                                },
                                "projectId": {
                                    "type": "string",
                                    "description": "Project ID",
                                    "x-ms-summary": "Project ID",
                                    "x-ms-visibility": "internal"
                                }
                            }
                        },
                        "defaultTableExpirationMs": {
                            "type": "string",
                            "description": "Default Table Expiration Ms",
                            "x-ms-summary": "Default Table Expiration Ms",
                            "x-ms-visibility": "internal"
                        },
                        "access": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "role": {
                                        "type": "string",
                                        "description": "Role",
                                        "x-ms-summary": "Role",
                                        "x-ms-visibility": "internal"
                                    },
                                    "specialGroup": {
                                        "type": "string",
                                        "description": "Special Group",
                                        "x-ms-summary": "Special Group",
                                        "x-ms-visibility": "internal"
                                    },
                                    "userByEmail": {
                                        "type": "string",
                                        "description": "User By Email",
                                        "x-ms-summary": "User By Email",
                                        "x-ms-visibility": "internal"
                                    }
                                },
                                "required": [
                                    "role"
                                ]
                            }
                        },
                        "creationTime": {
                            "type": "string",
                            "description": "Creation Time",
                            "x-ms-summary": "Creation Time",
                            "x-ms-visibility": "internal"
                        },
                        "lastModifiedTime": {
                            "type": "string",
                            "description": "Last Modified Time",
                            "x-ms-summary": "Last Modified Time",
                            "x-ms-visibility": "internal"
                        },
                        "location": {
                            "type": "string",
                            "description": "Location",
                            "x-ms-summary": "Location",
                            "x-ms-visibility": "internal"
                        },
                        "defaultPartitionExpirationMs": {
                            "type": "string",
                            "description": "Default Partition Expiration Ms",
                            "x-ms-summary": "Default Partition Expiration Ms",
                            "x-ms-visibility": "internal"
                        },
                        "type": {
                            "type": "string",
                            "description": "Type",
                            "x-ms-summary": "Type",
                            "x-ms-visibility": "internal"
                        }
                    }
                  }
              }
            },
          
          "operationId": "GetDataset",
          "summary": "Get Data",
          "description": "Get Data from Google BigQuery",
          "parameters": [
            {
              "name": "projectId",
              "in": "path",
              "x-ms-summary": "Project ID",
              "x-ms-url-encoding": "single",
              "description": "Project ID",
              "required": true,
              "type": "string"
            },
            {
              "name": "datasetId",
              "in": "path",
              "x-ms-summary": "Dataset ID",
              "x-ms-url-encoding": "single",
              "description": "Dataset ID",
              "required": true,
              "type": "string"
            }
          ]
        }
      }
    },
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
      "undefined": {
        "type": "oauth2",
        "flow": "accessCode",
        "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
        "tokenUrl": "https://accounts.google.com/o/oauth2/token",
        "scopes": {
          "https://www.googleapis.com/auth/cloud-platform": "https://www.googleapis.com/auth/cloud-platform"
        }
      }
    },
    "security": [
      {
        "undefined": [
          "https://www.googleapis.com/auth/cloud-platform"
        ]
      }
    ],
    "tags": [],
    "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://cloud.google.com/bigquery"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://policies.google.com/privacy"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Data"
      }
    ]
  }