{
  "swagger": "2.0",
  "info": {
    "title": "Google BigQuery - Dev",
    "description": "",
    "version": "1.0",
    "contact": {
      "name": "Ashwani Kumar",
      "url": "https://about.me/ashwanidv100",
      "email": "ashwanidv100@gmail.com"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/bigquery/v2/projects/applied-honor-360605/datasets/test1db": {},
    "/bigquery/v2/projects/{projectId}/datasets/{datasetId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "GetDataset",
        "summary": "Get Data",
        "description": "Get Data from Google BigQuery",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/books/v1/volumes": {}
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://cloud.google.com/bigquery"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://policies.google.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "tokenUrl": "https://accounts.google.com/o/oauth2/token",
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": "https://www.googleapis.com/auth/cloud-platform"
      }
    }
  },
  "security": [
    {
      "undefined": [
        "https://www.googleapis.com/auth/cloud-platform"
      ]
    }
  ],
  "tags": []
}