{
  "openapi": "3.0.0",
  "info": {
    "title": "Zoho CRM API",
    "version": "1.0.0",
    "description": "Zoho CRM APIs by iFour Technolab"
  },
  "servers": [
    {
      "url": "https://www.zohoapis.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/crm/v8/Leads": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get Lead Records",
        "description": "Retrieve lead records from Zoho CRM.",
        "operationId": "GetLeads",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "Company": {
                          "type": "string",
                          "example": "Zylker"
                        },
                        "Last_Name": {
                          "type": "string",
                          "example": "Daly"
                        },
                        "First_Name": {
                          "type": "string",
                          "example": "Paul"
                        },
                        "Email": {
                          "type": "string",
                          "format": "email",
                          "example": "p.daly@zylker.com"
                        },
                        "State": {
                          "type": "string",
                          "example": "Texas"
                        }
                      }
                    }
                  },
                  "trigger": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "approval",
                      "workflow",
                      "blueprint"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Record added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "SUCCESS"
                          },
                          "message": {
                            "type": "string",
                            "example": "record added"
                          },
                          "status": {
                            "type": "string",
                            "example": "success"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or validation error"
          },
          "401": {
            "description": "Authentication failed"
          }
        }
      }
    }
  }
}