{
  "swagger": "2.0",
  "info": {
    "title": "JIRA Search",
    "description": "Jira is a powerful work management tool. This connector provides access to the v2 Jira issue search API which is not exposed using the built-in JIRA connector. You can searches for JIRA issues using JQL expressions. More information can be found at: https://docs.atlassian.com/software/jira/docs/api/REST/8.16.2/#api/2/search-search",
    "version": "1.0",
    "contact" : {
      "name" : "Paul Culmsee",
      "url" : "https://www.atlassian.com/software/jira",
      "email" : "paul.culmsee@sevensigma.com.au"
    }
  },
  "host": "jira.atlassian.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/rest/api/2/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "expand": {
                  "type": "string",
                  "description": "expand"
                },
                "startAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Starting record number"
                },
                "maxResults": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of results returned"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total records matching search criteria"
                },
                "issues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "expand": {
                        "type": "string",
                        "description": "expand"
                      },
                      "id": {
                        "type": "string",
                        "description": "Unique id for issue"
                      },
                      "self": {
                        "type": "string",
                        "description": "URL to issue"
                      },
                      "key": {
                        "type": "string",
                        "description": "A unique identifier for this issue, eg: ANGRY-304. (The characters to the left of the hyphen represent the project to which this issue belongs.)"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "issuelinks": {
                            "type": "array",
                            "items": {},
                            "description": "A list of links to related issues."
                          },
                          "assignee": {
                            "type": "object",
                            "properties": {},
                            "description": "The person to whom the issue is currently assigned."
                          },
                          "subtasks": {
                            "type": "array",
                            "items": {},
                            "description": "Smaller tasks related to this issue that are tracked separately"
                          },
                          "votes": {
                            "type": "object",
                            "properties": {},
                            "description": "The number shown indicates how many votes this issue has."
                          },
                          "worklog": {
                            "type": "object",
                            "properties": {},
                            "description": "Work Log"
                          },
                          "issuetype": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string",
                                "description": "self"
                              },
                              "id": {
                                "type": "string",
                                "description": "Issue Type Id"
                              },
                              "description": {
                                "type": "string",
                                "description": "Issue Type Description"
                              },
                              "iconUrl": {
                                "type": "string",
                                "description": "Issue Type iconUrl"
                              },
                              "name": {
                                "type": "string",
                                "description": "Issue Type Name"
                              },
                              "subtask": {
                                "type": "boolean",
                                "description": "Issue Type Subtask"
                              },
                              "avatarId": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Avatar Id"
                              },
                              "hierarchyLevel": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Hierarchy Level"
                              }
                            },
                            "description": "Issue Type Description"
                          },
                          "timetracking": {
                            "type": "object",
                            "properties": {},
                            "description": "Time spent working on issue."
                          },
                          "status": {
                            "type": "object",
                            "properties": {},
                            "description": "The stage the issue is currently at in its lifecycle (workflow)."
                          },
                          "creator": {
                            "type": "object",
                            "properties": {},
                            "description": "Issue Creator"
                          },
                          "workratio": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Work Ratio"
                          },
                          "labels": {
                            "type": "array",
                            "items": {},
                            "description": "Labels to which this issue relates"
                          },
                          "components": {
                            "type": "array",
                            "items": {},
                            "description": "Project component(s) to which this issue relates."
                          },
                          "reporter": {
                            "type": "object",
                            "properties": {},
                            "description": "The person who entered the issue into the system."
                          },
                          "progress": {
                            "type": "object",
                            "properties": {
                              "progress": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Issue Progress"
                              },
                              "total": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Issue Progress Total"
                              }
                            },
                            "description": "Time Spent from each of the individual work logs for this issue."
                          },
                          "project": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string",
                                "description": "Self"
                              },
                              "id": {
                                "type": "string",
                                "description": "Project Id"
                              },
                              "key": {
                                "type": "string",
                                "description": "Project Key"
                              },
                              "name": {
                                "type": "string",
                                "description": "Project Name"
                              },
                              "projectTypeKey": {
                                "type": "string",
                                "description": "Project Type Key"
                              },
                              "simplified": {
                                "type": "boolean",
                                "description": "simplified"
                              }
                            },
                            "description": "The parent project to which the issue belongs"
                          },
                          "watches": {
                            "type": "object",
                            "properties": {},
                            "description": "Nnumber shown indicates how many people are watching this issue."
                          },
                          "updated": {
                            "type": "string",
                            "description": "The time and date on which this issue was last edited."
                          },
                          "description": {
                            "type": "string",
                            "description": "A detailed description of the issue."
                          },
                          "summary": {
                            "type": "string",
                            "description": "A brief one-line summary of the issue. For example, 'Red Angry Nerd is scary.'"
                          },
                          "comment": {
                            "type": "object",
                            "properties": {},
                            "description": "Issue Comment"
                          },
                          "statuscategorychangedate": {
                            "type": "string",
                            "description": "Status Category Changedate"
                          },
                          "fixVersions": {
                            "type": "array",
                            "items": {},
                            "description": "Fix Versions"
                          },
                          "priority": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Priority Name"
                              },
                              "id": {
                                "type": "string",
                                "description": "Priority Id"
                              }
                            },
                            "description": "The importance of the issue in relation to other issues."
                          },
                          "versions": {
                            "type": "array",
                            "items": {},
                            "description": "Issue Versions"
                          },
                          "aggregateprogress": {
                            "type": "object",
                            "properties": {
                              "progress": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Aggregate Progress"
                              },
                              "total": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Total Progress"
                              }
                            },
                            "description": "The sum of the Time Spent from each of the individual work logs for this issue."
                          },
                          "issuerestriction": {
                            "type": "object",
                            "properties": {},
                            "description": "Issue Restriction"
                          },
                          "created": {
                            "type": "string",
                            "description": "The time and date on which this issue was entered into Jira."
                          }
                        },
                        "description": "Fields to return from search"
                      }
                    }
                  },
                  "description": "Jira Issues"
                }
              }
            }
          }
        },
        "summary": "Searches for issues using JQL",
        "description": "Get all issue from digital board",
        "operationId": "SimpleSearch",
        "parameters": [
          {
            "name": "jql",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The jql parameter is a full JQL expression (https://www.atlassian.com/software/jira/guides/expand-jira/jql)",
            "x-ms-summary": "JQL query string"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Parameters to expand",
            "description": "Specify the expansion on the expand parameter"
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Specify the jira host name (eg yourcompany for yourcompany.atlassian.net",
            "x-ms-summary": "Jira instance host name"
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "default": "*all",
            "description": "A comma-separated list of fields to include in the response. A particular field can be excluded by prefixing it with a minus.",
            "x-ms-summary": "Fields to include/exclude"
          },
          {
            "name": "startAt",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Row index",
            "description": "The index of the first issue to return (0-based)"
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of issues to return (defaults to 50). The maximum allowable value is dictated by the Jira property 'jira.search.views.default.max'. If you specify a value that is higher than this number, your search results will be truncated.",
            "x-ms-summary": "Max results to return",
            "default": 50
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata" : [
    {
      "propertyName" : "Website",
      "propertyValue" : "https://www.atlassian.com/software/jira"
    },
    {
      "propertyName" : "Privacy Policy",
      "propertyValue" : "https://www.atlassian.com/legal/privacy-policy"
    },
    {
      "propertyName" : "Categories",
      "propertyValue" : "Business Management; IT Operations"
    }
  ],  
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": []
}
