{
  "swagger": "2.0",
  "info": {
    "title": "JIRA Search",
    "description": "Jira is a powerful work management tool. This connector provides access to the v2 Jira issue search API which is not exposed using the built-in JIRA connector. You can searches for JIRA issues using JQL expressions. More information can be found at: https://docs.atlassian.com/software/jira/docs/api/REST/8.16.2/#api/2/search-search",
    "version": "1.0",
    "contact" : {
	  "name" : "Paul Culmsee",
	  "url" : "https://www.atlassian.com/software/jira",
	  "email" : "paul.culmsee@sevensigma.com.au"
    }
  },
  "host": "jira.atlassian.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/rest/api/2/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "expand": {
                  "type": "string",
                  "description": "expand"
                },
                "startAt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "startAt"
                },
                "maxResults": {
                  "type": "integer",
                  "format": "int32",
                  "description": "maxResults"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "issues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "expand": {
                        "type": "string",
                        "description": "expand"
                      },
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "self": {
                        "type": "string",
                        "description": "self"
                      },
                      "key": {
                        "type": "string",
                        "description": "key"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "issuelinks": {
                            "type": "array",
                            "items": {},
                            "description": "issuelinks"
                          },
                          "assignee": {
                            "type": "object",
                            "properties": {},
                            "description": "assignee"
                          },
                          "subtasks": {
                            "type": "array",
                            "items": {},
                            "description": "subtasks"
                          },
                          "votes": {
                            "type": "object",
                            "properties": {},
                            "description": "votes"
                          },
                          "worklog": {
                            "type": "object",
                            "properties": {},
                            "description": "worklog"
                          },
                          "issuetype": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string",
                                "description": "self"
                              },
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "description": {
                                "type": "string",
                                "description": "description"
                              },
                              "iconUrl": {
                                "type": "string",
                                "description": "iconUrl"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "subtask": {
                                "type": "boolean",
                                "description": "subtask"
                              },
                              "avatarId": {
                                "type": "integer",
                                "format": "int32",
                                "description": "avatarId"
                              },
                              "hierarchyLevel": {
                                "type": "integer",
                                "format": "int32",
                                "description": "hierarchyLevel"
                              }
                            },
                            "description": "issuetype"
                          },
                          "timetracking": {
                            "type": "object",
                            "properties": {},
                            "description": "timetracking"
                          },
                          "status": {
                            "type": "object",
                            "properties": {},
                            "description": "status"
                          },
                          "creator": {
                            "type": "object",
                            "properties": {},
                            "description": "creator"
                          },
                          "workratio": {
                            "type": "integer",
                            "format": "int32",
                            "description": "workratio"
                          },
                          "labels": {
                            "type": "array",
                            "items": {},
                            "description": "labels"
                          },
                          "components": {
                            "type": "array",
                            "items": {},
                            "description": "components"
                          },
                          "reporter": {
                            "type": "object",
                            "properties": {},
                            "description": "reporter"
                          },
                          "progress": {
                            "type": "object",
                            "properties": {
                              "progress": {
                                "type": "integer",
                                "format": "int32",
                                "description": "progress"
                              },
                              "total": {
                                "type": "integer",
                                "format": "int32",
                                "description": "total"
                              }
                            },
                            "description": "progress"
                          },
                          "project": {
                            "type": "object",
                            "properties": {
                              "self": {
                                "type": "string",
                                "description": "self"
                              },
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "key": {
                                "type": "string",
                                "description": "key"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "projectTypeKey": {
                                "type": "string",
                                "description": "projectTypeKey"
                              },
                              "simplified": {
                                "type": "boolean",
                                "description": "simplified"
                              }
                            },
                            "description": "project"
                          },
                          "watches": {
                            "type": "object",
                            "properties": {},
                            "description": "watches"
                          },
                          "updated": {
                            "type": "string",
                            "description": "updated"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "summary": {
                            "type": "string",
                            "description": "summary"
                          },
                          "comment": {
                            "type": "object",
                            "properties": {},
                            "description": "comment"
                          },
                          "statuscategorychangedate": {
                            "type": "string",
                            "description": "statuscategorychangedate"
                          },
                          "fixVersions": {
                            "type": "array",
                            "items": {},
                            "description": "fixVersions"
                          },
                          "priority": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "id": {
                                "type": "string",
                                "description": "id"
                              }
                            },
                            "description": "priority"
                          },
                          "versions": {
                            "type": "array",
                            "items": {},
                            "description": "versions"
                          },
                          "aggregateprogress": {
                            "type": "object",
                            "properties": {
                              "progress": {
                                "type": "integer",
                                "format": "int32",
                                "description": "progress"
                              },
                              "total": {
                                "type": "integer",
                                "format": "int32",
                                "description": "total"
                              }
                            },
                            "description": "aggregateprogress"
                          },
                          "issuerestriction": {
                            "type": "object",
                            "properties": {},
                            "description": "issuerestriction"
                          },
                          "created": {
                            "type": "string",
                            "description": "created"
                          }
                        },
                        "description": "fields"
                      }
                    }
                  },
                  "description": "issues"
                }
              }
            }
          }
        },
        "summary": "Searches for issues using JQL",
        "description": "Get all issue from digital board",
        "operationId": "SimpleSearch",
        "parameters": [
          {
            "name": "jql",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The jql parameter is a full JQL expression (https://www.atlassian.com/software/jira/guides/expand-jira/jql)",
            "x-ms-summary": "JQL query string"
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Parameters to expand",
            "description": "Specify the expansion on the expand parameter"
          },
          {
            "name": "hostname",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Specify the jira host name (eg yourcompany for yourcompany.atlassian.net",
            "x-ms-summary": "Jira instance host name"
          },
          {
            "name": "fields",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "default": "*all",
            "description": "A comma-separated list of fields to include in the response. A particular field can be excluded by prefixing it with a minus.",
            "x-ms-summary": "Fields to include/exclude"
          },
          {
            "name": "startAt",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Row index",
            "description": "The index of the first issue to return (0-based)"
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of issues to return (defaults to 50). The maximum allowable value is dictated by the Jira property 'jira.search.views.default.max'. If you specify a value that is higher than this number, your search results will be truncated.",
            "x-ms-summary": "Max results to return",
            "default": 50
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata" : [
	  {
		 "propertyName" : "Website",
		 "propertyValue" : "https://www.atlassian.com/software/jira"
	  },
	  {
		 "propertyName" : "Privacy Policy",
		 "propertyValue" : "https://www.atlassian.com/legal/privacy-policy"
	  },
	  {
		 "propertyName" : "Categories",
		 "propertyValue" : "Business Management; IT Operations"
	  }
  ],  
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": []
}