{
    "swagger": "2.0",
    "info": {
      "version": "1.0",
      "title": "Azure Communication MMS",
      "description": "Connector to send MMS from the Azure Communication Services resource in your subscription.",
      "contact": {
        "name": "Microsoft",
        "email": "acssolutions@microsoft.com",
        "url": "https://azure.microsoft.com/services/communication-services"
      }
    },
    "host": "api.contoso.com",
    "basePath": "/",
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "paths": {
        "/mms": {
            "post": {
                "summary": "Send MMS",
                "description": "Send an MMS to one or more recipients.",
                "operationId": "SendMMS",
                "parameters": [
                    {
                        "name": "api-version",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "default": "2023-06-30-privatepreview",
                        "description": "The version of the API to use.",
                        "x-ms-visibility": "internal"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "from": {
                                    "type": "string",
                                    "description": "The sender's phone number.",
                                    "title": "From",
                                    "x-ms-visibility": "important"
                                },
                                "recipients": {
                                    "type": "array",
                                    "description": "The list of recipients to send the MMS to.",
                                    "title": "Recipients",
                                    "minItems": 1,
                                    "items": {
                                        "type": "object",
                                        "description": "An object representing the recipient.",
                                        "properties": {
                                            "to": {
                                                "type": "string",
                                                "description": "The recipient's phone number.",
                                                "title": "To",
                                                "x-ms-visibility": "important"
                                            }
                                        },
                                        "required": [
                                            "to"
                                        ]
                                    }
                                },
                                "message": {
                                    "type": "string",
                                    "description": "The message to be sent.",
                                    "title": "Message",
                                    "x-ms-visibility": "important"
                                },
                                "attachments": {
                                    "type": "array",
                                    "description": "The list of attachments to be sent with the message.",
                                    "title": "Attachments",
                                    "minItems": 1,
                                    "items": {
                                        "type": "object",
                                        "description": "An object representing the attachment.",
                                        "properties": {
                                            "contentType": {
                                                "type": "string",
                                                "description": "The content type of the attachment.",
                                                "title": "Content type",
                                                "enum": [
                                                    "image/png",
                                                    "image/jpeg",
                                                    "image/gif",
                                                    "image/bmp",
                                                    "audio/wav",
                                                    "audio/x-wav",
                                                    "audio/ac3",
                                                    "audio/amr",
                                                    "video/mp4",
                                                    "video/x-msvideo",
                                                    "text/plain"
                                                ],
                                                "x-ms-visibility": "important"
                                            },
                                            "contentInBase64": {
                                                "type": "string",
                                                "description": "The content of the attachment.",
                                                "title": "Content",
                                                "format": "byte",
                                                "x-ms-visibility": "important"
                                            }
                                        },
                                        "required": [
                                            "contentType",
                                            "contentInBase64"
                                        ]
                                    }
                                },
                                "sendOptions": {
                                    "type": "object",
                                    "description": "The options for sending the message.",
                                    "properties": {
                                        "enableDeliveryReport": {
                                            "type": "boolean",
                                            "description": "Indicates if delivery report is enabled for this message.",
                                            "title": "Enable delivery report",
                                            "enum": [
                                                "true",
                                                "false"
                                            ],
                                            "x-ms-visibility": "important",
                                            "default": false
                                        },
                                        "tag": {
                                            "type": "string",
                                            "description": "The tag for this message.",
                                            "title": "Tag",
                                            "x-ms-visibility": "advanced"
                                        }
                                    }
                                }
                            },
                            "required": [
                                "from",
                                "recipients",
                                "message",
                                "attachments"
                            ]
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "value": {
                                    "type": "array",
                                    "items": {
                                        "description": "Response for a single recipient.",
                                        "type": "object",
                                        "properties": {
                                            "to": {
                                                "description": "The recipient's phone number.",
                                                "type": "string"
                                            },
                                            "messageId": {
                                              "description": "The identifier of the outgoing message. Only present if message accepted.",
                                              "type": "string"
                                            },
                                            "httpStatusCode": {
                                              "format": "int32",
                                              "description": "HTTP Status code.",
                                              "type": "integer"
                                            },
                                            "errorMessage": {
                                              "description": "Optional error message in case of 4xx/5xx/repeatable errors.",
                                              "type": "string"
                                            },
                                            "repeatabilityResult": {
                                              "description": "The result of a repeatable request with one of the case-insensitive values accepted or rejected.",
                                              "type": "string",
                                              "enum": [
                                                "accepted",
                                                "rejected"
                                              ]
                                            },
                                            "successful": {
                                              "description": "Indicates if the message is accepted successfully or not.",
                                              "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "in": "header",
            "name": "Connection-String"
        }
    },
    "security": [],
    "tags": [],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://azure.microsoft.com/services/communication-services"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://privacy.microsoft.com"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Communication"
        }
    ]
}