{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Airlabs",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_airl@gmail.com"
    },
    "description": "Airlabs collects extensive real-time aviation and flight data from thousands of sources to cleanse, aggregate and organize it into comprehensive collections"
  },
  "host": "airlabs.co",
  "basePath": "/api/v9/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/flights": {
      "get": {
        "summary": "List flights",
        "description": "List real-time filtered flight data.",
        "operationId": "ListFlights",
        "parameters": [
          {
            "name": "flag",
            "description": "Filtering by Airline Country ISO 2 code, e.g.: HU",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Flag"
          },
          {
            "name": "flight_icao",
            "description": "Filtering by Flight ICAO code-number, e.g.: WZZ252",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Flight ICAO",
            "required": false
          },
          {
            "name": "flight_iata",
            "description": "Filtering by Flight IATA code-number, e.g.: W61681",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Flight IATA",
            "required": false
          },
          {
            "name": "dep_icao",
            "description": "Filtering by departure Airport ICAO code, e.g.: OTHH",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Departure ICAO",
            "required": false
          },
          {
            "name": "dep_iata",
            "description": "Filtering by departure Airport IATA code, e.g.: DOH",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Departure IATA",
            "required": false
          },
          {
            "name": "arr_icao",
            "description": "Filtering by arrival Airport ICAO code, e.g.: LHBP",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Arrival ICAO",
            "required": false
          },
          {
            "name": "arr_iata",
            "description": "Filtering by arrival Airport IATA code, e.g.: BUD",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Arrival IATA",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "x-ms-visibility": "internal",
                  "description": "request"
                },
                "response": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "hex": {
                        "type": "string",
                        "description": "ICAO24 Hex address.",
                        "title": "Hex address"
                      },
                      "reg_number": {
                        "type": "string",
                        "description": "Aircraft Registration Number",
                        "title": "Registration number"
                      },
                      "flag": {
                        "type": "string",
                        "description": "ISO 2 country code",
                        "title": "Flag"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "Aircraft Geo-Latitude for now.",
                        "title": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "Aircraft Geo-Longitude for now.",
                        "title": "Longitude"
                      },
                      "alt": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Aircraft elevation for now (meters).",
                        "title": "Altitude"
                      },
                      "dir": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Aircraft head direction for now.",
                        "title": "Direction"
                      },
                      "speed": {
                        "type": "number",
                        "description": "Aircraft horizontal speed (km) for now.",
                        "title": "Speed"
                      },
                      "v_speed": {
                        "type": "number",
                        "format": "float",
                        "description": "Aircraft vertical speed (km) for now.",
                        "title": "Vertical speed"
                      },
                      "squawk": {
                        "type": "string",
                        "description": "Aircraft squawk signal code.",
                        "title": "Squawk"
                      },
                      "flight_number": {
                        "type": "string",
                        "description": "Flight number only.",
                        "title": "Flight number"
                      },
                      "flight_icao": {
                        "type": "string",
                        "description": "Flight ICAO code-number.",
                        "title": "Flight ICAO"
                      },
                      "flight_iata": {
                        "type": "string",
                        "description": "Flight IATA code-number.",
                        "title": "Flight IATA"
                      },
                      "dep_icao": {
                        "type": "string",
                        "description": "Departure Airport ICAO code.",
                        "title": "Departure ICAO"
                      },
                      "dep_iata": {
                        "type": "string",
                        "description": "Departure Airport IATA code.",
                        "title": "Departure IATA"
                      },
                      "arr_icao": {
                        "type": "string",
                        "description": "Arrival Airport ICAO code.",
                        "title": "Arrival ICAO"
                      },
                      "arr_iata": {
                        "type": "string",
                        "description": "Arrival Airport IATA code.",
                        "title": "Arrival IATA"
                      },
                      "airline_icao": {
                        "type": "string",
                        "description": "Airline ICAO code.",
                        "title": "Airline ICAO"
                      },
                      "airline_iata": {
                        "type": "string",
                        "description": "Airline IATA code.",
                        "title": "Airline IATA"
                      },
                      "aircraft_icao": {
                        "type": "string",
                        "description": "Aircraft ICAO type.",
                        "title": "Aircraft ICAO"
                      },
                      "updated": {
                        "type": "integer",
                        "format": "int32",
                        "description": "UNIX timestamp of last aircraft signal.",
                        "title": "Updated"
                      },
                      "status": {
                        "type": "string",
                        "description": "Current flight status - scheduled, en-route, landed.",
                        "title": "Status"
                      }
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        }
      }
    },
    "/flight": {
      "get": {
        "summary": "Get flight data",
        "description": "Get detailed flight information.",
        "operationId": "GetFlight",
        "parameters": [
          {
            "name": "flight_iata",
            "description": "Search by Flight IATA code-number, e.g.: W61681",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Flight IATA",
            "required": false
          },
          {
            "name": "flight_icao",
            "description": "Search by Flight ICAO code-number, e.g.: WZZ252",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Flight ICAO",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "x-ms-visibility": "internal",
                  "description": "request"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "aircraft_icao": {
                      "type": "string",
                      "description": "Aircraft ICAO type.",
                      "title": "Aircraft ICAO"
                    },
                    "age": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Aircraft age (years)",
                      "title": "Age"
                    },
                    "built": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Aircraft built year",
                      "title": "Built"
                    },
                    "engine": {
                      "type": "string",
                      "description": "Aircraft engine type - jet, piston, turboprop/turboshaft, electric.",
                      "title": "Engine"
                    },
                    "engine_count": {
                      "type": "string",
                      "description": "Aircraft engine number - 1, 2, 3, 4, 6, 8",
                      "title": "Engine count"
                    },
                    "model": {
                      "type": "string",
                      "description": "Aircraft full model name.",
                      "title": "Model"
                    },
                    "manufacturer": {
                      "type": "string",
                      "description": "Aircraft manufacturer name.",
                      "title": "Manufacturer"
                    },
                    "msn": {
                      "type": "string",
                      "description": "Manufacturer serial number.",
                      "title": "MSN"
                    },
                    "type": {
                      "type": "string",
                      "description": "Aircraft type - landplane, seaplane, tiltrotor, helicopter, gyrocopter, amphibian.",
                      "title": "Type"
                    },
                    "reg_number": {
                      "type": "string",
                      "description": "Aircraft Registration Number",
                      "title": "Registration number"
                    },
                    "hex": {
                      "type": "string",
                      "description": "ICAO24 Hex address.",
                      "title": "HEX"
                    },
                    "flag": {
                      "type": "string",
                      "description": "ISO 2 country code",
                      "title": "Flag"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "Aircraft Geo-Latitude for now.",
                      "title": "Latitude"
                    },
                    "lng": {
                      "type": "number",
                      "format": "float",
                      "description": "Aircraft Geo-Longitude for now.",
                      "title": "Longitude"
                    },
                    "alt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Aircraft elevation for now (meters).",
                      "title": "Altitude"
                    },
                    "dir": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Aircraft head direction for now.",
                      "title": "Direction"
                    },
                    "speed": {
                      "type": "number",
                      "description": "Aircraft horizontal speed (km) for now.",
                      "title": "Speed"
                    },
                    "v_speed": {
                      "type": "number",
                      "format": "float",
                      "description": "Aircraft vertical speed (km) for now.",
                      "title": "Vertical speed"
                    },
                    "squawk": {
                      "type": "string",
                      "description": "Aircraft squawk signal code.",
                      "title": "Squawk"
                    },
                    "flight_number": {
                      "type": "string",
                      "description": "Flight number only.",
                      "title": "Flight number"
                    },
                    "flight_icao": {
                      "type": "string",
                      "description": "Flight ICAO code-number.",
                      "title": "Flight ICAO"
                    },
                    "flight_iata": {
                      "type": "string",
                      "description": "Flight IATA code-number.",
                      "title": "Flight IATA"
                    },
                    "dep_icao": {
                      "type": "string",
                      "description": "Departure airport ICAO code.",
                      "title": "Departure ICAO"
                    },
                    "dep_iata": {
                      "type": "string",
                      "description": "Departure airport IATA code.",
                      "title": "Departure IATA"
                    },
                    "arr_icao": {
                      "type": "string",
                      "description": "Arrival airport ICAO code.",
                      "title": "Arrival ICAO"
                    },
                    "arr_iata": {
                      "type": "string",
                      "description": "Arrival airport IATA code.",
                      "title": "Arrival IATA"
                    },
                    "airline_icao": {
                      "type": "string",
                      "description": "Airline ICAO code.",
                      "title": "Airline ICAO"
                    },
                    "airline_iata": {
                      "type": "string",
                      "description": "Airline IATA code.",
                      "title": "Airline IATA"
                    },
                    "updated": {
                      "type": "integer",
                      "format": "int32",
                      "description": "UNIX timestamp of last aircraft signal.",
                      "title": "Updated"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current flight status - scheduled, en-route, landed.",
                      "title": "Status"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        }
      }
    },
    "/airlines": {
      "get": {
        "summary": "List all airlines",
        "description": "List all airlines available in Airlabs DB.",
        "operationId": "ListAirlines",
        "parameters": [
          {
            "name": "iata_code",
            "description": "Filtering by Airline IATA code, e.g.: AA",
            "in": "query",
            "type": "string",
            "x-ms-summary": "IATA code",
            "required": false
          },
          {
            "name": "iata_prefix",
            "description": "Filtering by IATA prefix number, e.g. 1",
            "in": "query",
            "type": "string",
            "x-ms-summary": "IATA prefix",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "iata_accounting",
            "description": "Filtering by IATA accounting number, e.g.: 1",
            "in": "query",
            "type": "string",
            "x-ms-summary": "IATA accounting",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "icao_code",
            "description": "Filtering by Airline ICAO code, e.g.: AAL",
            "in": "query",
            "type": "string",
            "x-ms-summary": "ICAO code",
            "required": false
          },
          {
            "name": "callsign",
            "description": "Filtering by ICAO callsign, e.g.: AMERICAN",
            "in": "query",
            "type": "string",
            "x-ms-summary": "ICAO callsign",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "country_code",
            "description": "Filtering by Country ISO 2 code, e.g.: US",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Country code",
            "required": false
          },
          {
            "name": "_fields",
            "description": "Fields to return (comma separated, e.g.: name,iata_code,icao_code)",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Fields",
            "required": false,
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "x-ms-visibility": "internal",
                  "description": "request"
                },
                "response": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Public name.",
                        "title": "Name"
                      },
                      "iata_code": {
                        "type": "string",
                        "description": "Official IATA code.",
                        "title": "IATA code"
                      },
                      "icao_code": {
                        "type": "string",
                        "description": "Official ICAO code.",
                        "title": "ICAO code"
                      },
                      "iata_prefix": {
                        "type": "integer",
                        "format": "int32",
                        "description": "3 Numeric Airline Prefix Code for Cargo Operations​.",
                        "title": "IATA prefix"
                      },
                      "iata_accounting": {
                        "type": "integer",
                        "format": "int32",
                        "description": "3 Numeric Accounting Code for Passenger Operations.",
                        "title": "IATA accounting"
                      },
                      "callsign": {
                        "type": "string",
                        "description": "Allocated ICAO callsign.",
                        "title": "Callsign"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "ISO 2 country code",
                        "title": "Country code"
                      },
                      "iosa_registered": {
                        "type": "integer",
                        "format": "int32",
                        "description": "IATA Operational Safety Audit Program.",
                        "title": "IOSA registered"
                      },
                      "is_scheduled": {
                        "type": "string",
                        "description": "The airline provides scheduled flights.",
                        "title": "Is scheduled?"
                      },
                      "is_passenger": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The airline provides passenger services.",
                        "title": "Is passenger?"
                      },
                      "is_cargo": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The airline provides cargo services.",
                        "title": "Is cargo?"
                      },
                      "is_international": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The airline provides international flights.",
                        "title": "Is international?"
                      },
                      "total_aircrafts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Confirmed total aircrafts.",
                        "title": "Total aircrafts"
                      },
                      "average_fleet_age": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Average airline fleet age (years).",
                        "title": "Average fleet age"
                      },
                      "accidents_last_5y": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Airline accidents for the last 5 years.",
                        "title": "Last 5 years - accidents"
                      },
                      "crashes_last_5y": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Airline crashes for the last 5 years.",
                        "title": "Last 5 years - crashes"
                      },
                      "website": {
                        "type": "string",
                        "description": "Airline official website.",
                        "title": "Website"
                      },
                      "facebook": {
                        "type": "string",
                        "description": "Airline official Facebook page.",
                        "title": "Facebook"
                      },
                      "twitter": {
                        "type": "string",
                        "description": "Airline official Twitter account.",
                        "title": "Twitter"
                      },
                      "instagram": {
                        "type": "string",
                        "description": "Airline official Instagram profile.",
                        "title": "Instagram"
                      },
                      "linkedin": {
                        "type": "string",
                        "description": "Airline official Linkedin profile.",
                        "title": "Linkedin"
                      },
                      "slug": {
                        "type": "string",
                        "description": "AirLabs generated uniq Airline ID, which you can use for SEO, etc.",
                        "title": "Slug"
                      }
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        }
      }
    },
    "/routes": {
      "get": {
        "summary": "List all routes",
        "description": "List all routes tracked by Airlabs DB.",
        "operationId": "ListRoutes",
        "parameters": [
          {
            "name": "dep_iata",
            "description": "Filtering by departure Airport IATA code, e.g.: BLR",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Departure IATA",
            "required": false
          },
          {
            "name": "dep_icao",
            "description": "Filtering by departure Airport ICAO code, e.g. VOBL",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Departure ICAO",
            "required": false
          },
          {
            "name": "arr_iata",
            "description": "Filtering by arrival Airport IATA code, e.g.: CMB",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Arrival IATA",
            "required": false
          },
          {
            "name": "arr_icao",
            "description": "Filtering by arrival Airport ICAO code, e.g.: VCBI",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Arrival ICAO",
            "required": false
          },
          {
            "name": "airline_icao",
            "description": "Filtering by Airline ICAO code, e.g.: ALK",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Airline ICAO",
            "required": false
          },
          {
            "name": "airline_iata",
            "description": "Filtering by Airline IATA code, e.g.: UL",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Airline IATA",
            "required": false
          },
          {
            "name": "flight_icao",
            "description": "Filtering by Flight ICAO code-number, e.g.: ALK172",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Flight ICAO",
            "required": false
          },
          {
            "name": "flight_iata",
            "description": "Filtering by Flight IATA code-number, e.g.: UL172",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Flight IATA",
            "required": false
          },
          {
            "name": "_fields",
            "description": "Fields to return (comma separated, e.g.: airline_iata,flight_number)",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "x-ms-visibility": "internal",
                  "description": "request"
                },
                "response": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "airline_iata": {
                        "type": "string",
                        "description": "Airline IATA code.",
                        "title": "Airline IATA"
                      },
                      "airline_icao": {
                        "type": "string",
                        "description": "Airline ICAO code.",
                        "title": "Airline ICAO"
                      },
                      "flight_number": {
                        "type": "string",
                        "description": "Flight number only.",
                        "title": "Flight number"
                      },
                      "flight_iata": {
                        "type": "string",
                        "description": "Flight IATA code-number.",
                        "title": "Flight IATA"
                      },
                      "flight_icao": {
                        "type": "string",
                        "description": "Flight ICAO code-number.",
                        "title": "Flight ICAO"
                      },
                      "cs_airline_iata": {
                        "type": "string",
                        "description": "Codeshared airline IATA code.",
                        "title": "CS airline AITA"
                      },
                      "cs_flight_iata": {
                        "type": "string",
                        "description": "Codeshared flight IATA code-number.",
                        "title": "CS flight AITA"
                      },
                      "cs_flight_number": {
                        "type": "string",
                        "description": "Codeshared flight number.",
                        "title": "CS flight number"
                      },
                      "dep_iata": {
                        "type": "string",
                        "description": "Departure airport IATA code.",
                        "title": "Departure IATA"
                      },
                      "dep_icao": {
                        "type": "string",
                        "description": "Departure airport ICAO code.",
                        "title": "Departure ICAO"
                      },
                      "dep_terminals": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of possible departure terminals.",
                        "title": "Departure terminals"
                      },
                      "dep_time": {
                        "type": "string",
                        "description": "Departure time in the airport time zone.",
                        "title": "Departure time"
                      },
                      "dep_time_utc": {
                        "type": "string",
                        "description": "Departure time in UTC time zone.",
                        "title": "Departure time (UTC)"
                      },
                      "arr_iata": {
                        "type": "string",
                        "description": "Arrival airport IATA code.",
                        "title": "Arrival IATA"
                      },
                      "arr_icao": {
                        "type": "string",
                        "description": "Arrival airport ICAO code.",
                        "title": "Arrival ICAO"
                      },
                      "arr_terminals": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "A list of possible arrival terminals.",
                        "title": "Arrival terminals"
                      },
                      "arr_time": {
                        "type": "string",
                        "description": "Time of arrival in the airport time zone.",
                        "title": "Arrival time"
                      },
                      "arr_time_utc": {
                        "type": "string",
                        "description": "Time of arrival in the UTC time zone.",
                        "title": "Arrival time (UTC)"
                      },
                      "duration": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Estimated flight time (in minutes).",
                        "title": "Duration"
                      },
                      "days": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Flight departure days - sun, mon, tue, wed, thu, fri, sat.",
                        "title": "Days"
                      }
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        }
      }
    },
    "/schedules": {
      "get": {
        "summary": "List all schedules",
        "description": "List all schedules tracked by Airlabs DB.",
        "operationId": "ListSchedules",
        "parameters": [
          {
            "name": "dep_iata",
            "description": "Filtering by departure Airport IATA code, e.g.: BLR",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Departure IATA",
            "required": false
          },
          {
            "name": "dep_icao",
            "description": "Filtering by departure Airport ICAO code, e.g. VOBL",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Departure ICAO",
            "required": false
          },
          {
            "name": "arr_iata",
            "description": "Filtering by arrival Airport IATA code, e.g.: CMB",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Arrival IATA",
            "required": false
          },
          {
            "name": "arr_icao",
            "description": "Filtering by arrival Airport ICAO code, e.g.: VCBI",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Arrival ICAO",
            "required": false
          },
          {
            "name": "airline_icao",
            "description": "Filtering by Airline ICAO code, e.g.: ALK",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Airline ICAO",
            "required": false
          },
          {
            "name": "airline_iata",
            "description": "Filtering by Airline IATA code, e.g.: UL",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Airline IATA",
            "required": false
          },
          {
            "name": "flight_icao",
            "description": "Filtering by Flight ICAO code-number, e.g.: ALK172",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Flight ICAO",
            "required": false
          },
          {
            "name": "flight_iata",
            "description": "Filtering by Flight IATA code-number, e.g.: UL172",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Flight IATA",
            "required": false
          },
          {
            "name": "_fields",
            "description": "Fields to return (comma separated, e.g.: airline_iata,flight_number)",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "x-ms-visibility": "internal",
                  "description": "request"
                },
                "response": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "airline_iata": {
                        "type": "string",
                        "description": "Airline IATA code.",
                        "title": "Airline IATA"
                      },
                      "airline_icao": {
                        "type": "string",
                        "description": "Airline ICAO code.",
                        "title": "Airline ICAO"
                      },
                      "flight_number": {
                        "type": "string",
                        "description": "Flight number only.",
                        "title": "Flight number"
                      },
                      "flight_iata": {
                        "type": "string",
                        "description": "Flight IATA code-number.",
                        "title": "Flight IATA"
                      },
                      "flight_icao": {
                        "type": "string",
                        "description": "Flight ICAO code-number.",
                        "title": "Flight ICAO"
                      },
                      "cs_airline_iata": {
                        "type": "string",
                        "description": "Codeshared airline IATA code.",
                        "title": "CS airline AITA"
                      },
                      "cs_flight_iata": {
                        "type": "string",
                        "description": "Codeshared flight IATA code-number.",
                        "title": "CS flight IATA"
                      },
                      "cs_flight_number": {
                        "type": "string",
                        "description": "Codeshared flight number.",
                        "title": "CS flight number"
                      },
                      "dep_iata": {
                        "type": "string",
                        "description": "Departure airport IATA code.",
                        "title": "Departure IATA"
                      },
                      "dep_icao": {
                        "type": "string",
                        "description": "Departure airport ICAO code.",
                        "title": "Departure ICAO"
                      },
                      "dep_terminal": {
                        "type": "string",
                        "description": "Estimated departure terminal.",
                        "title": "Departure terminal"
                      },
                      "dep_gate": {
                        "type": "string",
                        "description": "Estimated departure gate.",
                        "title": "Departure gate"
                      },
                      "dep_time": {
                        "type": "string",
                        "description": "Departure time in the airport time zone.",
                        "title": "Departure time"
                      },
                      "dep_time_ts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Departure UNIX timestamp.",
                        "title": "Departure time (UNIX)"
                      },
                      "dep_time_utc": {
                        "type": "string",
                        "description": "Departure time in UTC time zone.",
                        "title": "Departure time (UTC)"
                      },
                      "dep_estimated": {
                        "type": "string",
                        "description": "Updated departure time in the airport time zone.",
                        "title": "Estimated departure"
                      },
                      "dep_estimated_ts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Updated departure UNIX timestamp.",
                        "title": "Estimated departure (UNIX)"
                      },
                      "dep_estimated_utc": {
                        "type": "string",
                        "description": "Updated departure time in UTC time zone.",
                        "title": "Estimated departure (UTC)"
                      },
                      "arr_iata": {
                        "type": "string",
                        "description": "Arrival airport IATA code.",
                        "title": "Arrival IATA"
                      },
                      "arr_icao": {
                        "type": "string",
                        "description": "Arrival airport ICAO code.",
                        "title": "Arrival ICAO"
                      },
                      "arr_terminal": {
                        "type": "string",
                        "description": "Estimated arrival terminal.",
                        "title": "Arrival terminal"
                      },
                      "arr_gate": {
                        "type": "string",
                        "description": "Estimated arrival gate.",
                        "title": "Arrival gate"
                      },
                      "arr_baggage": {
                        "type": "string",
                        "description": "Arrival baggage claim carousel number.",
                        "title": "Arrival baggage"
                      },
                      "arr_time": {
                        "type": "string",
                        "description": "Arrival time in the airport time zone.",
                        "title": "Arrival time"
                      },
                      "arr_time_ts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Arrival UNIX timestamp.",
                        "title": "Arrival time (UNIX)"
                      },
                      "arr_time_utc": {
                        "type": "string",
                        "description": "Arrival time in UTC time zone.",
                        "title": "Arrival time (UTC)"
                      },
                      "arr_estimated": {
                        "type": "string",
                        "description": "Updated arrival time in the airport time zone.",
                        "title": "Estimated arrival"
                      },
                      "arr_estimated_ts": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Updated arrival UNIX timestamp.",
                        "title": "Estimated arrival (UNIX)"
                      },
                      "arr_estimated_utc": {
                        "type": "string",
                        "description": "Updated arrival time in UTC time zone.",
                        "title": "Estimated arrival (UTC)"
                      },
                      "status": {
                        "type": "string",
                        "description": "Flight status - scheduled, cancelled, active, landed.",
                        "title": "Status"
                      },
                      "duration": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Estimated flight time (in minutes).",
                        "title": "Duration"
                      },
                      "dep_delayed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Estimated time of flight departure delay (in minutes).",
                        "title": "Estimated departure delay"
                      },
                      "arr_delayed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Estimated time of flight arrival delay (in minutes).",
                        "title": "Estimated arrival delay"
                      }
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        }
      }
    },
    "/airports": {
      "get": {
        "summary": "List all airports",
        "description": "List all airports tracked by Airlabs DB.",
        "operationId": "ListAirports",
        "parameters": [
          {
            "name": "iata_code",
            "description": "Filtering by Airport IATA code, e.g.: CDG",
            "in": "query",
            "type": "string",
            "x-ms-summary": "IATA code",
            "required": false
          },
          {
            "name": "icao_code",
            "description": "Filtering by Airport ICAO code, e.g.: LFPG",
            "in": "query",
            "type": "string",
            "x-ms-summary": "ICAO code",
            "required": false
          },
          {
            "name": "city_code",
            "description": "Filtering by IATA City code, e.g.: PAR",
            "in": "query",
            "type": "string",
            "x-ms-summary": "City code",
            "required": false
          },
          {
            "name": "country_code",
            "description": "Filtering by Country ISO 2 code, e.g.: FR",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Country code",
            "required": false
          },
          {
            "name": "_fields",
            "description": "Fields to return (comma separated, e.g.: name,iata_code,icao_code,lat,lng)",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "x-ms-visibility": "internal",
                  "description": "request"
                },
                "response": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Public name.",
                        "title": "Name"
                      },
                      "iata_code": {
                        "type": "string",
                        "description": "Official IATA code.",
                        "title": "IATA code"
                      },
                      "icao_code": {
                        "type": "string",
                        "description": "Official ICAO code.",
                        "title": "ICAO code"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "Geo Latitude.",
                        "title": "Latitude"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "Geo Longitude.",
                        "title": "Longitude"
                      },
                      "alt": {
                        "type": "string",
                        "description": "Airport Runway Elevation (feet)",
                        "title": "Altitude"
                      },
                      "city": {
                        "type": "string",
                        "description": "Airport metropolitan city name",
                        "title": "City"
                      },
                      "city_code": {
                        "type": "string",
                        "description": "Airport metropolitan 3 letter city code",
                        "title": "City code"
                      },
                      "un_locode": {
                        "type": "string",
                        "description": "United Nations location code.",
                        "title": "UN code"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Airport location timezone.",
                        "title": "Timezone"
                      },
                      "names": {
                        "type": "object",
                        "description": "Alternative names in different languages.",
                        "title": "List of names"
                      },
                      "runways": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total airport runways.",
                        "title": "Runways"
                      },
                      "departures": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total departures from airport per year.",
                        "title": "Departures"
                      },
                      "connections": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total connections with another airports.",
                        "title": "Connections"
                      },
                      "is_major": {
                        "type": "boolean",
                        "description": "The major airport in metropolitan area.",
                        "title": "Is major?"
                      },
                      "is_international": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The airport provides international flights.",
                        "title": "Is international?"
                      },
                      "website": {
                        "type": "string",
                        "description": "Airport official website.",
                        "title": "Website"
                      },
                      "facebook": {
                        "type": "string",
                        "description": "Airport official Facebook page.",
                        "title": "Facebook"
                      },
                      "twitter": {
                        "type": "string",
                        "description": "Airport official Twitter account.",
                        "title": "Twitter"
                      },
                      "instagram": {
                        "type": "string",
                        "description": "Airport official Instagram profile.",
                        "title": "Instagram"
                      },
                      "linkedin": {
                        "type": "string",
                        "description": "Airport official Linkedin profile.",
                        "title": "Linkedin"
                      },
                      "slug": {
                        "type": "string",
                        "description": "AirLabs generated uniq Airport ID, which you can use for SEO, etc.",
                        "title": "Slug"
                      }
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "summary": "List all countries",
        "description": "List all countries available and tracked by Airlabs DB.",
        "operationId": "ListCountries",
        "parameters": [
          {
            "name": "code",
            "description": "Filtering by Country ISO 2 code, e.g.: US",
            "in": "query",
            "type": "string",
            "x-ms-summary": "ISO 2 code",
            "required": false
          },
          {
            "name": "code3",
            "description": "Filtering by Country ISO 3 code, e.g.: USA",
            "in": "query",
            "type": "string",
            "x-ms-summary": "ISO 3 code",
            "required": false
          },
          {
            "name": "continent",
            "description": "Filtering by continent code - AF, AN, AS, EU, NA, OC, SA",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Continent code",
            "required": false
          },
          {
            "name": "_fields",
            "description": "Fields to return (comma separated, e.g.: name,code,code3,currency)",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Fields",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "request": {
                  "type": "object",
                  "x-ms-visibility": "internal",
                  "description": "request"
                },
                "response": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "ISO 2 Country code.",
                        "title": "ISO 2 code"
                      },
                      "code3": {
                        "type": "string",
                        "description": "ISO 3 Country code.",
                        "title": "ISO 3 code"
                      },
                      "name": {
                        "type": "string",
                        "description": "Country Name.",
                        "title": "Name"
                      },
                      "population": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total country population.",
                        "title": "Population"
                      },
                      "continent": {
                        "type": "string",
                        "description": "Continent code - AF, AN, AS, EU, NA, OC, SA.",
                        "title": "Continent"
                      },
                      "currency": {
                        "type": "string",
                        "description": "Main currency code.",
                        "title": "Currency"
                      },
                      "names": {
                        "type": "object",
                        "description": "Alternative names in different languages.",
                        "title": "List of names"
                      }
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://airlabs.co/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://airlabs.co/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Lifestyle and Entertainment"
    }
  ]
}