{
  "swagger": "2.0",
  "info": {
    "title": "Nozbe",
    "description": "The Nozbe API connector enables seamless integration between your workflows and the Nozbe productivity platform. With this connector, \nyou can programmatically interact with Nozbe to automate task management, streamline team collaboration, and enhance your productivity systems.\n\nNozbe is designed to foster calm, focused, and deep work—thanks to its task-based communication paradigm that replaces chaotic email threads and unnecessary meetings.",
    "version": "1.0",
    "contact": {
      "name": "Nozbe Support Team",
      "url": "https://nozbe.com/contact",
      "email": "support@nozbe.com"
    }
  },
  "host": "api4.nozbe.com",
  "basePath": "/v1/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/tasks/{task_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Task name"
                      },
                      "created_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Creation time",
                        "title": "creation time"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get specified task",
        "description": "Get specified task",
        "operationId": "getTask",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "type": "string",
            "description": "Task id",
            "x-ms-summary": "ID of the task"
          },
          {
            "name": "resolve_ids",
            "in": "query",
            "default": 1,
            "required": true,
            "type": "integer",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/tasks": {
      "post": {
        "responses": {
          "201": {
            "description": "created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Created task ID"
                },
                "name": {
                  "type": "string",
                  "description": "Created task name"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create new task",
        "description": "Create new task",
        "operationId": "createTask",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Task name"
                },
                "project_id": {
                  "type": "string",
                  "description": "project ID",
                  "title": "project ID"
                },
                "review_reason": {
                  "type": "string",
                  "default": "newly_added",
                  "description": "Review reason",
                  "x-ms-visibility": "internal",
                  "title": "Review reason"
                },
                "due_at": {
                  "type": "integer",
                  "title": "Due date (msec timestamp)"
                },
                "is_all_day": {
                  "type": "boolean",
                  "title": "Is it all-day task?"
                },
                "is_followed": {
                  "type": "boolean",
                  "title": "Set task as followed"
                },
                "review_triggered_at": {
                  "type": "integer",
                  "default": 1,
                  "x-ms-visibility": "internal",
                  "title": "Review triggered at"
                },
                "responsible_id": {
                  "type": "string",
                  "title": "Responsible member ID"
                }
              },
              "required": [
                "review_reason",
                "review_triggered_at"
              ]
            }
          }
        ]
      }
    },
    "/poll/tasks/new": {
      "get": {
        "description": "When new Nozbe task appears. For the first call it returns nothing, for the next ones it returns tasks created since the previous call",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "due_at_string": {
                    "type": "string",
                    "description": "Due date",
                    "title": "Due date",
                    "x-ms-visibility": "important"
                  },
                  "author_name": {
                    "type": "string",
                    "description": "Task author name",
                    "title": "Author name",
                    "x-ms-visibility": "important"
                  },
                  "responsible_name": {
                    "type": "string",
                    "description": "Responsible member name",
                    "title": "Responsible name",
                    "x-ms-visibility": "important"
                  },
                  "project_name": {
                    "type": "string",
                    "description": "Project name",
                    "title": "Project name",
                    "x-ms-visibility": "important"
                  },
                  "id": {
                    "type": "string",
                    "description": "Task ID",
                    "title": "Task ID",
                    "x-ms-visibility": "important"
                  },
                  "name": {
                    "type": "string",
                    "description": "name",
                    "title": "Task name",
                    "x-ms-visibility": "important"
                  },
                  "created_at": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Task creation time",
                    "title": "Task creation time",
                    "x-ms-visibility": "internal"
                  }
                }
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "operationId": "pollNewTasks",
        "summary": "Trigger when new Nozbe task appears",
        "parameters": [
          {
            "name": "resolve_ids",
            "in": "query",
            "default": 1,
            "required": true,
            "type": "integer",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Define project_id to fetch tasks from",
            "x-ms-summary": "Define project_id to fetch tasks from"
          },
          {
            "name": "responsible_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Define responsible id to fetch tasks assigned to",
            "x-ms-summary": "Define responsible id to fetch tasks assigned to"
          }
        ],
        "x-ms-trigger-hint": "1"
      }
    },
    "/poll/tasks/updated": {
      "get": {
        "description": "When updated Nozbe task appears. For the first call it returns nothing, for the next ones it returns tasks created since the previous call",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "due_at_string": {
                    "type": "string",
                    "description": "Due date",
                    "title": "Due date",
                    "x-ms-visibility": "important"
                  },
                  "author_name": {
                    "type": "string",
                    "description": "Task author name",
                    "title": "Author name",
                    "x-ms-visibility": "important"
                  },
                  "responsible_name": {
                    "type": "string",
                    "description": "Responsible member name",
                    "title": "Responsible name",
                    "x-ms-visibility": "important"
                  },
                  "project_name": {
                    "type": "string",
                    "description": "Project name",
                    "title": "Project name",
                    "x-ms-visibility": "important"
                  },
                  "id": {
                    "type": "string",
                    "description": "Task ID",
                    "title": "Task ID",
                    "x-ms-visibility": "important"
                  },
                  "name": {
                    "type": "string",
                    "description": "name",
                    "title": "Task name",
                    "x-ms-visibility": "important"
                  },
                  "created_at": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Task creation time",
                    "title": "Task creation time",
                    "x-ms-visibility": "internal"
                  }
                }
              }
            }
          }
        },
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "operationId": "pollUpdatedTasks",
        "summary": "Trigger when updated Nozbe task appears",
        "parameters": [
          {
            "name": "resolve_ids",
            "in": "query",
            "default": 1,
            "required": true,
            "type": "integer",
            "x-ms-visibility": "internal"
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Define project id to fetch tasks from",
            "x-ms-summary": "Define project id to fetch tasks from"
          },
          {
            "name": "responsible_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Define responsible id to fetch tasks assigned to",
            "x-ms-summary": "Define responsible id to fetch tasks assigned to"
          }
        ],
        "x-ms-trigger-hint": "1"
      }
    },
    "/comments": {
      "post": {
        "responses": {
          "201": {
            "description": "created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Created comment ID"
                },
                "body": {
                  "type": "string",
                  "description": "Created comment body"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Create comment to specified task",
        "description": "Create comment to specified task",
        "operationId": "createComment",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "body": {
                  "type": "string",
                  "description": "Comment body"
                },
                "is_pinned": {
                  "type": "boolean",
                  "description": "Makes comment pinned"
                },
                "task_id": {
                  "type": "string",
                  "description": "Related task ID",
                  "title": "Related task ID",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "task_id"
              ]
            }
          }
        ]
      }
    },
    "/team_members": {
      "get": {
        "description": "Get list of active team members",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "description": "role"
                  },
                  "team_id": {
                    "type": "string",
                    "description": "team_id"
                  },
                  "user_id": {
                    "type": "string",
                    "description": "user_id"
                  },
                  "status": {
                    "type": "string",
                    "description": "status"
                  },
                  "is_favorite": {
                    "type": "boolean",
                    "description": "is_favorite"
                  },
                  "alias": {
                    "type": "string",
                    "description": "alias"
                  },
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        },
        "operationId": "getTeamMembers",
        "summary": "Get list of active team members",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "active",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/projects": {
      "get": {
        "description": "Get list of active projects",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "is_single_actions": {
                    "type": "boolean",
                    "description": "is_single_actions"
                  },
                  "team_id": {
                    "type": "string",
                    "description": "team_id"
                  },
                  "extra": {
                    "type": "string",
                    "description": "extra"
                  },
                  "is_open": {
                    "type": "boolean",
                    "description": "is_open"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "is_template": {
                    "type": "boolean",
                    "description": "is_template"
                  },
                  "last_event_at": {
                    "type": "integer",
                    "format": "int32",
                    "description": "last_event_at"
                  },
                  "author_id": {
                    "type": "string",
                    "description": "author_id"
                  },
                  "created_at": {
                    "type": "integer",
                    "format": "int32",
                    "description": "created_at"
                  },
                  "is_favorite": {
                    "type": "boolean",
                    "description": "is_favorite"
                  },
                  "ended_at": {
                    "type": "string",
                    "description": "ended_at"
                  },
                  "team_color": {
                    "type": "string",
                    "description": "team_color"
                  },
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "color": {
                    "type": "string",
                    "description": "color"
                  },
                  "last_seen_event_at": {
                    "type": "integer",
                    "format": "int32",
                    "description": "last_seen_event_at"
                  }
                }
              }
            }
          }
        },
        "operationId": "getProjects",
        "summary": "Get list of active projects",
        "x-ms-summary": "Get list of active projects",
        "parameters": [
          {
            "name": "ended_at",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "null",
            "x-ms-visibility": "internal",
            "description": "Define time when project has been ended",
            "x-ms-summary": "Define time when project has been ended"
          },
          {
            "name": "sortBy",
            "in": "query",
            "default": "-created_at",
            "required": false,
            "type": "string",
            "x-ms-summary": "Define field to sort by results",
            "description": "Define field to sort by results"
          }
        ]
      }
    },
    "/reminders": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "task_id": {
                  "type": "string",
                  "description": "task_id"
                },
                "remind_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "remind_at"
                },
                "is_relative": {
                  "type": "boolean",
                  "description": "is_relative"
                },
                "is_all_day": {
                  "type": "boolean",
                  "description": "is_all_day"
                }
              }
            }
          }
        },
        "operationId": "createReminder",
        "summary": "Create reminder for specified task",
        "description": "Create reminder for specified task",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "task_id": {
                  "type": "string",
                  "description": "ID of the task to remind about",
                  "title": "ID of the related task"
                },
                "remind_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Timestamp to indicate remind time",
                  "title": "Remind at (in msec)"
                },
                "is_relative": {
                  "type": "boolean",
                  "description": "is_relative",
                  "title": "Is relative to task due date?",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "is_all_day": {
                  "type": "boolean",
                  "description": "is_all_day",
                  "title": "Is all day reminder?",
                  "default": false,
                  "enum": [
                    true,
                    false
                  ]
                }
              },
              "required": [
                "is_relative",
                "is_all_day",
                "task_id",
                "remind_at"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://nozbe.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://nozbe.com/terms"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ]
}