{
  "swagger": "2.0",
  "info": {
    "title": "Zenlogin",
    "description": "Zenlogin handles automating suspicious login detection to keep your authentication secure, so you can focus on your business. We don't store any Personally Identifiable Information (PII) on our servers by default. Emails are all handled by Postmark and they're as secure as it gets.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.zenlogin.co",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/applications/{app_id}/logins/checks": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique ID associated with the login check.",
                      "title": "ID"
                    },
                    "timestamp": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unix timestamp that the request was received.",
                      "title": "Timestamp"
                    }
                  },
                  "title": "Data"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "The error code.",
                        "title": "Code"
                      },
                      "detail": {
                        "type": "string",
                        "description": "The error detail.",
                        "title": "Detail"
                      }
                    }
                  },
                  "title": "Errors"
                }
              }
            }
          }
        },
        "summary": "Check login",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "description": "The application identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "identity_key": {
                  "type": "string",
                  "description": "A unique identifying key (or ID) for the user you're performing a check against. This shouldn't be their email address, since email addresses can (and do) change.",
                  "title": "Identity Key"
                },
                "identity_email_address": {
                  "type": "string",
                  "description": "The email address we'll send suspicious login notifications to.",
                  "title": "Identity Email Address"
                },
                "user_agent": {
                  "type": "string",
                  "description": "The user agent of the user when they log into your service. ",
                  "title": "User Agent"
                },
                "ip_address": {
                  "type": "string",
                  "description": "The IP address of the user when they log into your service.",
                  "title": "IP Address"
                },
                "identity_first_name": {
                  "type": "string",
                  "description": "The first name of the user that is logging into your service.",
                  "title": "Identity First Name"
                },
                "identity_last_name": {
                  "type": "string",
                  "description": "The last name of the user that is logging into your service.",
                  "title": "Identity Last Name"
                },
                "identity_full_name": {
                  "type": "string",
                  "description": "The full name of the user that is logging into your service.",
                  "title": "Identity Full Name"
                },
                "req_process": {
                  "type": "integer",
                  "format": "int32",
                  "description": "This can be either a 0 or 1 integer that represents whether this login check should be processed. When set to 0, no login check will be processed.",
                  "title": "Req Process",
                  "enum": [
                    0,
                    1
                  ],
                  "default": 1
                }
              },
              "required": [
                "identity_email_address",
                "identity_key",
                "ip_address",
                "user_agent"
              ]
            }
          }
        ],
        "description": "Submit a login check request for a user.",
        "operationId": "LoginPost"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Secret Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X_API_SECRET_KEY"
    }
  },
  "security": [
    {
      "Secret Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://zenlogin.co/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://zenlogin.co/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Website"
    }
  ]
}