{
    "swagger": "2.0",
    "info": {
        "title": "The Bot Platform",
        "description": "Connect The Bot Platform's bots to any application, send messages to bot users, set attribute values using your existing bots at The Bot Platform",
        "version": "1.0",
        "contact": {
            "name": "The Bot Platform Support",
            "url": "https://thebotplatform.com/contact/",
            "email": "hello@thebotplatform.com"
        }
    },
    "host": "api.thebotplatform.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://thebotplatform.com"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://thebotplatform.com/privacy-policy/"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Communication;Website"
        }
    ],
    "consumes": [],
    "produces": [],
    "paths": {
        "/v1.0/activity/external": {
            "post": {
                "responses": {
                    "201": {
                        "description": "created",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/ExternalActivity"
                                }
                            }
                        }
                    }
                },
                "summary": "Send a simple text message to a bot user",
                "operationId": "SimpleTextMessage",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "attributes": {
                                            "type": "object",
                                            "properties": {
                                                "messages": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "text": {
                                                                "type": "string",
                                                                "description": "Enter your text message here",
                                                                "title": "",
                                                                "format": ""
                                                            }
                                                        }
                                                    },
                                                    "description": "messages"
                                                },
                                                "recipient": {
                                                    "type": "string",
                                                    "description": "email address of recipient",
                                                    "title": "email address"
                                                }
                                            },
                                            "description": "attributes"
                                        },
                                        "type": {
                                            "type": "string",
                                            "description": "type",
                                            "title": "",
                                            "default": "external-activity",
                                            "enum": [
                                                "external-activity"
                                            ],
                                            "x-ms-visibility": "internal"
                                        }
                                    },
                                    "description": "data",
                                    "required": [
                                        "type"
                                    ]
                                }
                            },
                            "required": [
                                "data"
                            ]
                        }
                    }
                ],
                "description": "Send a message to a bot user using text"
            }
        },
        "/v1.0/userattributes": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/UserAttribute"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                },
                "summary": "Get user attributes",
                "operationId": "PullAttributes",
                "parameters": [],
                "description": "Get a list of attributes for a specific user in the bot",
                "x-ms-visibility": "internal"
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "$ref": "#/definitions/UserAttribute"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a user attribute",
                "description": "Setup a new attribute in your bot",
                "operationId": "CreateUserAttribute",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "description": "type",
                                            "title": "",
                                            "default": "userattribute",
                                            "x-ms-visibility": "internal"
                                        },
                                        "attributes": {
                                            "type": "object",
                                            "properties": {
                                                "name": {
                                                    "type": "string",
                                                    "description": "Provide a name for your attribute",
                                                    "title": "Attribute name"
                                                },
                                                "is_pii": {
                                                    "type": "string",
                                                    "description": "is it personally identifiable information?",
                                                    "title": "is pii?",
                                                    "enum": [
                                                        "Yes",
                                                        "No"
                                                    ]
                                                }
                                            },
                                            "description": "attributes"
                                        }
                                    },
                                    "description": "data",
                                    "required": [
                                        "type"
                                    ]
                                }
                            },
                            "required": [
                                "data"
                            ]
                        }
                    }
                ]
            }
        },
        "/v1.0/users/{emailaddress}": {
            "patch": {
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "summary": "Set an attribute value",
                "description": "Set an attribute value via the users email address",
                "operationId": "SetUserAttribute",
                "parameters": [
                    {
                        "name": "emailaddress",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "email address",
                        "x-ms-summary": "email address of the user who's attribute is being set"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string",
                                            "description": "type",
                                            "title": "",
                                            "enum": [
                                                "user"
                                            ],
                                            "x-ms-visibility": "internal",
                                            "default": "user"
                                        },
                                        "attributes": {
                                            "type": "object",
                                            "properties": {
                                                "state": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "userattribute": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string",
                                                                        "description": "Existing attributes in the bot",
                                                                        "title": "Attribute ID",
                                                                        "x-ms-dynamic-values": {
                                                                            "operationId": "PullAttributes",
                                                                            "value-path": "id",
                                                                            "value-collection": "data",
                                                                            "value-title": "attributes/name"
                                                                        }
                                                                    }
                                                                },
                                                                "description": "userattribute",
                                                                "required": [
                                                                    "id"
                                                                ]
                                                            },
                                                            "value": {
                                                                "type": "string",
                                                                "description": "attribute value",
                                                                "title": ""
                                                            }
                                                        },
                                                        "required": [
                                                            "userattribute"
                                                        ]
                                                    },
                                                    "description": "state"
                                                }
                                            },
                                            "description": "attributes",
                                            "required": [
                                                "state"
                                            ]
                                        }
                                    },
                                    "description": "data",
                                    "required": [
                                        "attributes",
                                        "type"
                                    ]
                                }
                            },
                            "required": [
                                "data"
                            ]
                        }
                    }
                ]
            }
        }
    },
    "securityDefinitions": {
        "oauth2-auth": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://api.thebotplatform.com/oauth2/auth",
            "tokenUrl": "https://api.thebotplatform.com/oauth2/token",
            "scopes": {}
        }
    },
    "definitions": {
        "ExternalActivity": {
            "title": "External Activity",
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                }
            },
            "required": [
                "id"
            ]
        },
        "UserAttribute": {
            "title": "UserAttribute",
            "description": "User attribute",
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "format": "uuid"
                }
            },
            "required": [
                "id"
            ]
        }
    },
    "security": [
        {
            "oauth2-auth": []
        }
    ],
    "tags": []
}
