{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Progressus Advanced Projects",
    "description": "Use Progessus Advanced Projects connector to make odata calls to Progresssus Advanced Projects data.",
    "contact": {
      "name": "Todd Michael",
      "url": "https://www.progressusglobal.com/contact-us/",
      "email": "support@plumblineconsulting.com"
    }
  },
  "host": "api.businesscentral.dynamics.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{API Version}/{Tenant ID}/{Environment Name}/api/progressus/{API Name}/{API Version 2}/companies({Company ID})/{Plural API Name}": {
      "get": {
        "summary": "Get Records",
        "description": "Retrieve records",
        "operationId": "Get",
        "parameters": [
          {
            "name": "API Version",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Dynamics 365 Business Central API version",
            "x-ms-summary": "API Version"
          },
          {
            "name": "Tenant ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Tenant ID for Dynamics 365 Business Central",
            "x-ms-summary": "Tenant ID"
          },
          {
            "name": "Environment Name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Dynamics 365 Business Central environment",
            "x-ms-summary": "Environment Name"
          },
          {
            "name": "API Name",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "resource",
              "project",
              "externalproject",
              "integrationproject",
              "integrationtask",
              "task",
              "externaltask",
              "timecard",
              "timeperiod",
              "integrationlog",
              "integrationsetup"
            ],
            "x-ms-summary": "API Name",
            "description": "Name of the Dynamics 365 Business Central API category"
          },
          {
            "name": "API Version 2",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "API version number of the specified API name",
            "x-ms-summary": "API Version 2"
          },
          {
            "name": "Company ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "GUID of the Dynamics 365 Business Central company",
            "x-ms-summary": "Company ID"
          },
          {
            "name": "Plural API Name",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "resources",
              "projects",
              "externalprojects",
              "integrationprojects",
              "integrationtasks",
              "tasks",
              "externaltasks",
              "timecards",
              "timeperiods",
              "integrationlogs",
              "integrationsetup"
            ],
            "description": "Name of the Dynamics 365 Business Central table",
            "x-ms-summary": "Plural API Name"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional OData filter parameter",
            "x-ms-summary": "$filter"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional OData select parameter",
            "x-ms-summary": "$select"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional OData orderby parameter",
            "x-ms-summary": "$orderby"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "basic"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.progressusglobal.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.progressusglobal.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Finance"
    }
  ]
}