{
  "swagger": "2.0",
  "info": {
    "title": "Pdfless",
    "version": "1.0",
    "description": "With Pdfless, design your document template based on powerful of html/css then generate your own invoices, catalogs, complex documents with pagination and more...",
    "contact": {
      "name": "Pdfless contact",
      "url": "https://www.pdfless.com",
      "email": "contact@pdfless.com"
    }
  },
  "host": "api.pdfless.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v{version}/document-templates": {
      "get": {
        "tags": [
          "DocumentTemplates"
        ],
        "summary": "List document templates",
        "description": "List document templates of current workspace",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Page",
            "type": "integer",
            "default": 1,
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "PageSize",
            "type": "integer",
            "default": 100,
            "required": true,
            "x-ms-visibility": "important"
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string",
            "default": "1",
            "description": "API version",
            "x-ms-summary": "Version",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentTemplateDto"
              }
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ApiExceptionDetailsResult"
            }
          }
        },
        "operationId": "ListDocumentTemplates",
        "x-ms-visibility": "internal"
      }
    },
    "/v{version}/pdfs": {
      "post": {
        "tags": [
          "PDFs"
        ],
        "summary": "Create a new PDF document",
        "description": "Generate PDF based on template identifier and payload data",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "version",
            "required": true,
            "type": "string",
            "default": "1",
            "x-ms-summary": "API version",
            "description": "API version",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/GeneratePDFCommand",
              "x-ms-visibility": "important"
            },
            "required": true,
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PDFDtoApiResult"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ApiExceptionDetailsResult"
            }
          }
        },
        "x-ms-visibility": "important",
        "operationId": "CreatePDF"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.pdfless.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.pdfless.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Content and Files"
    }
  ],
  "definitions": {
    "ApiExceptionDetailsResult": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "error_code": {
          "type": "string"
        },
        "documentation_url": {
          "type": "string"
        },
        "correlation_id": {
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "DocumentTemplateDto": {
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "imagePreviewUrl": {
          "type": "string"
        },
        "pdfPreviewUrl": {
          "type": "string"
        },
        "created": {
          "format": "date-time",
          "type": "string"
        },
        "modified": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "GeneratePDFCommand": {
      "type": "object",
      "properties": {
        "template_id": {
          "format": "uuid",
          "type": "string",
          "description": "Select a document template",
          "title": "Template",
          "x-ms-dynamic-values": {
            "operationId": "ListDocumentTemplates",
            "value-path": "id",
            "value-title": "name",
            "parameters": {
              "Page": 1,
              "PageSize": 100,
              "version": {
                "parameter": "version"
              }
            }
          },
          "x-ms-visibility": "important"
        },
        "payload": {
          "title": "Data payload",
          "type": "string",
          "x-ms-visibility": "important",
          "description": "Insert your data in JSON format { \"FirstName\": \"John\",  \"LastName\": \"Cain\" }"
        },
        "reference_id": {
          "type": "string",
          "description": "Internal reference identifier",
          "x-ms-visibility": "advanced",
          "title": "Reference identifier"
        }
      },
      "required": [
        "payload",
        "template_id"
      ]
    },
    "PDFDto": {
      "type": "object",
      "properties": {
        "reference_id": {
          "type": "string",
          "description": "Internal reference identifier",
          "title": "Reference identifier",
          "x-ms-visibility": "advanced"
        },
        "template_id": {
          "format": "uuid",
          "type": "string",
          "description": "Identifier of template used to generate document",
          "title": "Template identifier",
          "x-ms-visibility": "internal"
        },
        "download_url": {
          "type": "string",
          "description": "URL of generated document",
          "title": "Document URL",
          "x-ms-visibility": "important"
        },
        "expires": {
          "format": "date-time",
          "type": "string",
          "description": "Expiration date of document URL",
          "title": "Expiration date",
          "x-ms-visibility": "important"
        },
        "created_at": {
          "format": "date-time",
          "type": "string",
          "description": "Creation date",
          "title": "Creation date",
          "x-ms-visibility": "advanced"
        }
      },
      "required": [
        "download_url",
        "expires"
      ]
    },
    "PDFDtoApiResult": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/PDFDto"
        },
        "status": {
          "type": "string",
          "description": "Status",
          "title": "Status",
          "x-ms-visibility": "advanced"
        }
      },
      "required": [
        "data"
      ]
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [
    {
      "API key": []
    }
  ],
  "tags": []
}