{
  "swagger": "2.0",
  "info": {
    "title": "Nederlandse Spoorwegen",
    "description": "Retrieve information from the main Dutch railway operator.",
    "version": "1.0",
    "contact": {
      "name": "Miguel Verweij",
      "url": "https://www.powerplatformchallenge.com",
      "email": "miguel.verweij@powerbouwer.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apiportal.ns.nl/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ns.nl/en/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ],
  "host": "gateway.apiportal.ns.nl",
  "basePath": "/reisinformatie-api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v2/arrivals": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "type": "object",
                  "properties": {
                    "source": {
                      "type": "string",
                      "description": "Source of the response.",
                      "title": "Source",
                      "x-ms-visibility": "advanced"
                    },
                    "arrivals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "origin": {
                            "type": "string",
                            "description": "Origin station of the arriving train.",
                            "title": "Origin",
                            "x-ms-visibility": "important"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the arriving train.",
                            "title": "Name",
                            "x-ms-visibility": "important"
                          },
                          "plannedDateTime": {
                            "type": "string",
                            "description": "Planned date time of the arriving train.",
                            "title": "Planned Date Time",
                            "x-ms-visibility": "advanced"
                          },
                          "plannedTimeZoneOffset": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Planned time zone offset of the arriving train.",
                            "title": "Planned Time Zone Offset",
                            "x-ms-visibility": "advanced"
                          },
                          "actualDateTime": {
                            "type": "string",
                            "description": "Actual date time.",
                            "title": "Actual Date Time",
                            "x-ms-visibility": "advanced"
                          },
                          "actualTimeZoneOffset": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time zone offset of actual time.",
                            "title": "Actual Time Zone Offset",
                            "x-ms-visibility": "advanced"
                          },
                          "plannedTrack": {
                            "type": "string",
                            "description": "Planned track of the arriving train.",
                            "title": "Planned Track",
                            "x-ms-visibility": "advanced"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "number": {
                                "type": "string",
                                "description": "Train number of the arriving train.",
                                "title": "Train Number",
                                "x-ms-visibility": "advanced"
                              },
                              "categoryCode": {
                                "type": "string",
                                "description": "Category code of the arriving train.",
                                "title": "Category Code",
                                "x-ms-visibility": "advanced"
                              },
                              "shortCategoryName": {
                                "type": "string",
                                "description": "Short category name of the arriving train.",
                                "title": "Short Category Name",
                                "x-ms-visibility": "advanced"
                              },
                              "longCategoryName": {
                                "type": "string",
                                "description": "Long category name of the arriving train.",
                                "title": "Long Category Name",
                                "x-ms-visibility": "important"
                              },
                              "operatorCode": {
                                "type": "string",
                                "description": "Operator code of the arriving train.",
                                "title": "Operator Code",
                                "x-ms-visibility": "advanced"
                              },
                              "operatorName": {
                                "type": "string",
                                "description": "Operator name of the arriving train.",
                                "title": "Operator Name",
                                "x-ms-visibility": "advanced"
                              },
                              "type": {
                                "type": "string",
                                "description": "Type of the arriving train.",
                                "title": "Type",
                                "x-ms-visibility": "internal"
                              }
                            },
                            "description": "product"
                          },
                          "trainCategory": {
                            "type": "string",
                            "description": "Category of the arriving train.",
                            "title": "Train Category",
                            "x-ms-visibility": "advanced"
                          },
                          "cancelled": {
                            "type": "boolean",
                            "description": "Boolean indicating if the train has been cancelled.",
                            "title": "Cancelled",
                            "enum": [
                              true,
                              false
                            ],
                            "x-ms-visibility": "advanced"
                          },
                          "messages": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "message": {
                                  "type": "string",
                                  "description": "message"
                                },
                                "style": {
                                  "type": "string",
                                  "description": "style"
                                }
                              }
                            },
                            "description": "messages"
                          },
                          "arrivalStatus": {
                            "type": "string",
                            "description": "Arrival status of the train.",
                            "title": "Arrival Status",
                            "x-ms-visibility": "advanced"
                          },
                          "actualTrack": {
                            "type": "string",
                            "description": "Actual Track of the arrival.",
                            "title": "Actual Track",
                            "x-ms-visibility": "advanced"
                          }
                        }
                      },
                      "description": "arrivals"
                    }
                  },
                  "description": "payload"
                }
              }
            }
          }
        },
        "operationId": "GetArrivals",
        "summary": "Arrivals",
        "description": "List of arrivals for a specific station.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Language",
            "description": "Language to use for localizing the arrivals list. Only a small subset of text is translated. Defaults to Dutch."
          },
          {
            "name": "station",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Station Code",
            "description": "NS Station code for the station to return arrivals for. Can be left empty if UIC Code parameter is provided.",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetStations",
              "value-path": "code",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          },
          {
            "name": "uicCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "UIC Code",
            "description": "UIC code for the station to return arrivals for. Can be left empty if Station Code parameter is provided.",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetStations",
              "value-path": "UICCode",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          },
          {
            "name": "dateTime",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Departure date to show arrivals from in RFC3339 format. Only supported for arrivals at foreign stations. Defaults to server time (Europe/Amsterdam)",
            "x-ms-summary": "Date Time",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "maxJourneys",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of arrivals to return. Defaults to 40.",
            "x-ms-summary": "Max Arrivals",
            "x-ms-visibility": "advanced",
            "format": "int32"
          }
        ]
      }
    },
    "/api/v2/departures": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "type": "object",
                  "properties": {
                    "source": {
                      "type": "string",
                      "description": "Source of the response.",
                      "title": "Source",
                      "x-ms-visibility": "advanced"
                    },
                    "departures": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "direction": {
                            "type": "string",
                            "description": "Direction of the departing train.",
                            "title": "Direction",
                            "x-ms-visibility": "advanced"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of the departing train.",
                            "title": "Name",
                            "x-ms-visibility": "important"
                          },
                          "plannedDateTime": {
                            "type": "string",
                            "description": "Planned date time of the departing train.",
                            "title": "Planned Date Time",
                            "x-ms-visibility": "advanced"
                          },
                          "plannedTimeZoneOffset": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Planned time zone offset of the departing train.",
                            "title": "Planned Time Zone Offset",
                            "x-ms-visibility": "advanced"
                          },
                          "actualDateTime": {
                            "type": "string",
                            "description": "Actual date time.",
                            "title": "Actual Date Time",
                            "x-ms-visibility": "advanced"
                          },
                          "actualTimeZoneOffset": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Time zone offset of actual time.",
                            "title": "Actual Time Zone Offset",
                            "x-ms-visibility": "advanced"
                          },
                          "plannedTrack": {
                            "type": "string",
                            "description": "Planned track of the arriving train.",
                            "title": "Planned Track",
                            "x-ms-visibility": "advanced"
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "number": {
                                "type": "string",
                                "description": "Train number of the departing train.",
                                "title": "Train Number",
                                "x-ms-visibility": "advanced"
                              },
                              "categoryCode": {
                                "type": "string",
                                "description": "Category code of the departing train.",
                                "title": "Category Code",
                                "x-ms-visibility": "advanced"
                              },
                              "shortCategoryName": {
                                "type": "string",
                                "description": "Short category name of the departing train.",
                                "title": "Short Category Name",
                                "x-ms-visibility": "advanced"
                              },
                              "longCategoryName": {
                                "type": "string",
                                "description": "Long category name of the departing train.",
                                "title": "Long Category Name",
                                "x-ms-visibility": "advanced"
                              },
                              "operatorCode": {
                                "type": "string",
                                "description": "Operator code of the departing train.",
                                "title": "Operator Code",
                                "x-ms-visibility": "advanced"
                              },
                              "operatorName": {
                                "type": "string",
                                "description": "Operator name of the departing train.",
                                "title": "Operator Name",
                                "x-ms-visibility": "advanced"
                              },
                              "type": {
                                "type": "string",
                                "description": "Type of the departing train.",
                                "title": "Type",
                                "x-ms-visibility": "advanced"
                              }
                            },
                            "description": "product"
                          },
                          "trainCategory": {
                            "type": "string",
                            "description": "Category of the departing train.",
                            "title": "Train Category",
                            "x-ms-visibility": "advanced"
                          },
                          "cancelled": {
                            "type": "boolean",
                            "description": "Boolean indicating if the train has been cancelled.",
                            "title": "Cancelled",
                            "enum": [
                              true,
                              false
                            ],
                            "x-ms-visibility": "advanced"
                          },
                          "routeStations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "uicCode": {
                                  "type": "string",
                                  "description": "uicCode"
                                },
                                "mediumName": {
                                  "type": "string",
                                  "description": "mediumName"
                                }
                              }
                            },
                            "description": "routeStations"
                          },
                          "messages": {
                            "type": "array",
                            "items": {},
                            "description": "messages"
                          },
                          "departureStatus": {
                            "type": "string",
                            "description": "Departure status of the train.",
                            "title": "Departure Status",
                            "x-ms-visibility": "advanced"
                          }
                        }
                      },
                      "description": "departures"
                    }
                  },
                  "description": "payload"
                }
              }
            }
          }
        },
        "operationId": "GetDepartures",
        "summary": "Departures",
        "description": "List of departures for a specific station.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Language to use for localizing the departures list. Only a small subset of text is translated, mainly notes. Defaults to Dutch",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "station",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "NS Station code for the station to return departures for. Can be left empty if UIC Code parameter is provided.",
            "x-ms-summary": "Station Code",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetStations",
              "value-path": "code",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          },
          {
            "name": "uicCode",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "UIC Code",
            "description": "UIC code for the station to return departures for. Can be left empty if Station Code parameter is provided.",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "GetStations",
              "value-path": "UICCode",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          },
          {
            "name": "dateTime",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Departure date to show departures from in RFC3339 format. Only supported for departures at foreign stations. Defaults to server time (Europe/Amsterdam).",
            "x-ms-summary": "Date Time",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "maxJourneys",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Max Departures",
            "description": "Number of departures to return. Defaults to 40",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/api/v3/disruptions/station/{stationCode}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID of the disruption.",
                    "title": "ID",
                    "x-ms-visibility": "advanced"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of the title section for communicating disruptions.",
                    "title": "Title Section Type",
                    "x-ms-visibility": "advanced"
                  },
                  "registrationTime": {
                    "type": "string",
                    "description": "Date time when the disruption is registered.",
                    "title": "Registration Time",
                    "x-ms-visibility": "advanced"
                  },
                  "releaseTime": {
                    "type": "string",
                    "description": "Date time when the disruption is released.",
                    "title": "Release Time",
                    "x-ms-visibility": "advanced"
                  },
                  "local": {
                    "type": "boolean",
                    "description": "Boolean indicating if the disruption is local.",
                    "title": "Local",
                    "x-ms-visibility": "advanced",
                    "enum": [
                      true,
                      false
                    ]
                  },
                  "title": {
                    "type": "string",
                    "description": "Title of the disruption.",
                    "title": "Title",
                    "x-ms-visibility": "important"
                  },
                  "titleSections": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "value": {
                            "type": "string",
                            "description": "value"
                          }
                        }
                      }
                    },
                    "description": "titleSections"
                  },
                  "isActive": {
                    "type": "boolean",
                    "description": "Boolean indicating if the discruption is active.",
                    "title": "Is Active",
                    "x-ms-visibility": "advanced",
                    "enum": [
                      true,
                      false
                    ]
                  },
                  "start": {
                    "type": "string",
                    "description": "Start of the disruption.",
                    "title": "Start",
                    "x-ms-visibility": "advanced"
                  },
                  "end": {
                    "type": "string",
                    "description": "End of the disruption.",
                    "title": "End",
                    "x-ms-visibility": "advanced"
                  },
                  "period": {
                    "type": "string",
                    "description": "Period of the disruption.",
                    "title": "Period",
                    "x-ms-visibility": "advanced"
                  },
                  "impact": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Value of the title section for communicating disruptions.",
                        "title": "Title Section Value",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "description": "impact"
                  },
                  "publicationSections": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "section": {
                          "type": "object",
                          "properties": {
                            "stations": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "uicCode": {
                                    "type": "string",
                                    "description": "uicCode"
                                  },
                                  "stationCode": {
                                    "type": "string",
                                    "description": "stationCode"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  },
                                  "coordinate": {
                                    "type": "object",
                                    "properties": {
                                      "lat": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "lat"
                                      },
                                      "lng": {
                                        "type": "number",
                                        "format": "float",
                                        "description": "lng"
                                      }
                                    },
                                    "description": "coordinate"
                                  },
                                  "countryCode": {
                                    "type": "string",
                                    "description": "countryCode"
                                  }
                                }
                              },
                              "description": "stations"
                            },
                            "direction": {
                              "type": "string",
                              "description": "direction"
                            }
                          },
                          "description": "section"
                        },
                        "consequence": {
                          "type": "object",
                          "properties": {
                            "section": {
                              "type": "object",
                              "properties": {
                                "stations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "uicCode": {
                                        "type": "string",
                                        "description": "uicCode"
                                      },
                                      "stationCode": {
                                        "type": "string",
                                        "description": "stationCode"
                                      },
                                      "name": {
                                        "type": "string",
                                        "description": "name"
                                      },
                                      "coordinate": {
                                        "type": "object",
                                        "properties": {
                                          "lat": {
                                            "type": "number",
                                            "format": "float",
                                            "description": "lat"
                                          },
                                          "lng": {
                                            "type": "number",
                                            "format": "float",
                                            "description": "lng"
                                          }
                                        },
                                        "description": "coordinate"
                                      },
                                      "countryCode": {
                                        "type": "string",
                                        "description": "countryCode"
                                      }
                                    }
                                  },
                                  "description": "stations"
                                },
                                "direction": {
                                  "type": "string",
                                  "description": "direction"
                                }
                              },
                              "description": "section"
                            },
                            "description": {
                              "type": "string",
                              "description": "description"
                            },
                            "level": {
                              "type": "string",
                              "description": "level"
                            }
                          },
                          "description": "consequence"
                        },
                        "sectionType": {
                          "type": "string",
                          "description": "sectionType"
                        }
                      }
                    },
                    "description": "publicationSections"
                  },
                  "timespans": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "start": {
                          "type": "string",
                          "description": "start"
                        },
                        "end": {
                          "type": "string",
                          "description": "end"
                        },
                        "period": {
                          "type": "string",
                          "description": "period"
                        },
                        "situation": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "label"
                            }
                          },
                          "description": "situation"
                        },
                        "cause": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "label"
                            }
                          },
                          "description": "cause"
                        },
                        "advices": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "advices"
                        }
                      }
                    },
                    "description": "timespans"
                  },
                  "alternativeTransportTimespans": {
                    "type": "array",
                    "items": {},
                    "description": "alternativeTransportTimespans"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetStationDisruptions",
        "summary": "Station Disruptions",
        "description": "List of disruptions relevant for a station.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "stationCode",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Station Code",
            "x-ms-url-encoding": "single",
            "description": "NS Station code of the station to return disruptions for.",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetStations",
              "value-path": "code",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          }
        ]
      }
    },
    "/api/v2/stations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "UICCode": {
                        "type": "string",
                        "description": "UIC code of the station.",
                        "title": "UIC Code",
                        "x-ms-visibility": "important"
                      },
                      "stationType": {
                        "type": "string",
                        "description": "Type of the station.",
                        "title": "Station Type",
                        "x-ms-visibility": "advanced"
                      },
                      "EVACode": {
                        "type": "string",
                        "description": "EVA Code of the station.",
                        "title": "EVA Code",
                        "x-ms-visibility": "advanced"
                      },
                      "code": {
                        "type": "string",
                        "description": "Code of the station.",
                        "title": "Station Code",
                        "x-ms-visibility": "important"
                      },
                      "sporen": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "spoorNummer": {
                              "type": "string",
                              "description": "spoorNummer"
                            }
                          }
                        },
                        "description": "sporen"
                      },
                      "synoniemen": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "synoniemen"
                      },
                      "heeftFaciliteiten": {
                        "type": "boolean",
                        "description": "Boolean indicating if the station has facilities.",
                        "title": "Has Facilities",
                        "enum": [
                          true,
                          false
                        ],
                        "x-ms-visibility": "advanced"
                      },
                      "heeftVertrektijden": {
                        "type": "boolean",
                        "description": "Boolean indicating if the station has departure timing.",
                        "title": "Has Departure Times",
                        "enum": [
                          true,
                          false
                        ],
                        "x-ms-visibility": "advanced"
                      },
                      "heeftReisassistentie": {
                        "type": "boolean",
                        "description": "Boolean indicating if the station has travel assistance.",
                        "title": "Has Travel Assistance",
                        "enum": [
                          true,
                          false
                        ],
                        "x-ms-visibility": "advanced"
                      },
                      "namen": {
                        "type": "object",
                        "properties": {
                          "lang": {
                            "type": "string",
                            "description": "Full name of the station.",
                            "title": "Full Name",
                            "x-ms-visibility": "important"
                          },
                          "middel": {
                            "type": "string",
                            "description": "Middle name of the station.",
                            "title": "Middle Name",
                            "x-ms-visibility": "internal"
                          },
                          "kort": {
                            "type": "string",
                            "description": "Short name of the station.",
                            "title": "Short Name",
                            "x-ms-visibility": "advanced"
                          }
                        },
                        "description": "namen"
                      },
                      "land": {
                        "type": "string",
                        "description": "County code of the station.",
                        "title": "Country",
                        "x-ms-visibility": "advanced"
                      },
                      "lat": {
                        "type": "number",
                        "format": "float",
                        "description": "Latitude of the station.",
                        "title": "Latitude",
                        "x-ms-visibility": "advanced"
                      },
                      "lng": {
                        "type": "number",
                        "format": "float",
                        "description": "Longitude of the station.",
                        "title": "Longitude",
                        "x-ms-visibility": "advanced"
                      },
                      "radius": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Radius of the station.",
                        "title": "Radius",
                        "x-ms-visibility": "advanced"
                      },
                      "naderenRadius": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Approach radius of  the station.",
                        "title": "Approach Radius",
                        "x-ms-visibility": "advanced"
                      },
                      "ingangsDatum": {
                        "type": "string",
                        "description": "Date the station started.",
                        "title": "Starting Date",
                        "x-ms-visibility": "internal"
                      },
                      "nearbyMeLocationId": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "Nearby Me Location ID Value",
                            "title": "Nearby Me Location ID Value",
                            "x-ms-visibility": "internal"
                          },
                          "type": {
                            "type": "string",
                            "description": "Nearby Me Location ID Type",
                            "title": "Nearby Me Location ID Type",
                            "x-ms-visibility": "internal"
                          }
                        },
                        "description": "nearbyMeLocationId"
                      }
                    }
                  },
                  "description": "payload"
                }
              }
            }
          }
        },
        "operationId": "GetStations",
        "summary": "Stations",
        "description": "List of stations.",
        "parameters": [],
        "x-ms-visibility": "advanced"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
