{
  "swagger": "2.0",
  "info": {
    "title": "Nederlandse Spoorwegen",
    "version": "1.0",
    "description": "Retrieve information from the main Dutch railway operator.",
    "contact": {
      "email": "miguel.verweij@sogeti.com",
      "name": "Miguel Verweij",
      "url": "https://www.PowerPlatformChallenge.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apiportal.ns.nl/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ns.nl/en/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ],
  "host": "gateway.apiportal.ns.nl",
  "basePath": "/reisinformatie-api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v2/departures": {
      "get": {
        "description": "List of departures for a specific station",
        "operationId": "getDepartures",
        "summary": "Departures",
        "tags": [
          "Departures"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Language to use for localizing the departures list. Only a small subset of text is translated, mainly notes. Defaults to Dutch",
            "type": "string",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "station",
            "in": "query",
            "description": "NS Station code for the station to return departures for. Can be left empty if uicCode parameter is provided.",
            "type": "string",
            "x-ms-summary": "Station",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "getStations",
              "value-path": "code",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          },
          {
            "name": "uicCode",
            "in": "query",
            "description": "UIC code for the station to return departures for. Can be left empty if station parameter is provided.",
            "type": "string",
            "x-ms-summary": "UIC Code",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "getStations",
              "value-path": "UICCode",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          },
          {
            "name": "dateTime",
            "in": "query",
            "description": "Departure date to show departures from. Only supported for departures at foreign stations. Defaults to server time (Europe/Amsterdam). Format - date-time (as date-time in RFC3339).",
            "type": "string",
            "x-ms-summary": "Departure Date-time",
            "format": "date-time",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "maxJourneys",
            "in": "query",
            "description": "Number of departures or departures to return. Defaults to 40",
            "type": "integer",
            "x-ms-summary": "Max Journeys",
            "x-ms-visibility": "advanced",
            "format": "int32"
          }
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of departures",
            "schema": {
              "$ref": "#/definitions/RepresentationResponseDeparturesPayload"
            }
          },
          "400": {
            "description": "Bad request. One or more parameters are invalid",
            "schema": {
              "$ref": "#/definitions/APIError"
            },
            "examples": {
              "application/json": {
                "timestamp": "string",
                "code": 0,
                "message": "string",
                "path": "string",
                "exception": "string",
                "errors": [
                  {
                    "message": "string",
                    "type": "string",
                    "lang": "string"
                  }
                ],
                "requestId": "string"
              }
            }
          },
          "404": {
            "description": "Station name or uiccode provided in the parameters could not be found",
            "schema": {
              "$ref": "#/definitions/APIError"
            },
            "examples": {
              "application/json": {
                "timestamp": "string",
                "code": 0,
                "message": "string",
                "path": "string",
                "exception": "string",
                "errors": [
                  {
                    "message": "string",
                    "type": "string",
                    "lang": "string"
                  }
                ],
                "requestId": "string"
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/api/v2/arrivals": {
      "get": {
        "description": "List of arrivals for a specific station",
        "operationId": "getArrivals",
        "summary": "Arrivals",
        "tags": [
          "Arrivals"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Language to use for localizing the arrivals list. Only a small subset of text is translated, mainly notes. Defaults to Dutch",
            "type": "string",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "station",
            "in": "query",
            "description": "NS Station code for the station to return arrivals for. Can be left empty if uicCode parameter is provided.",
            "type": "string",
            "x-ms-summary": "Station",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "getStations",
              "value-path": "code",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          },
          {
            "name": "uicCode",
            "in": "query",
            "description": "UIC code for the station to return arrivals for. Can be left empty if station parameter is provided.",
            "type": "string",
            "x-ms-summary": "UIC Code",
            "x-ms-dynamic-values": {
              "operationId": "getStations",
              "value-path": "UICCode",
              "value-collection": "payload",
              "value-title": "namen/lang"
            },
            "x-ms-visibility": "advanced"
          },
          {
            "name": "dateTime",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). Departure date to show arrivals from.  Only supported for arrivals at foreign stations. Defaults to server time (Europe/Amsterdam)",
            "type": "string",
            "x-ms-summary": "Arrival Date-time",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "maxJourneys",
            "in": "query",
            "description": "Number of departures or arrivals to return. Defaults to 40",
            "type": "integer",
            "x-ms-summary": "Max Journeys",
            "x-ms-visibility": "advanced",
            "format": "int32"
          }
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of arrivals",
            "schema": {
              "$ref": "#/definitions/RepresentationResponseArrivalsPayload"
            }
          },
          "400": {
            "description": "Bad request. One or more parameters are invalid",
            "schema": {
              "$ref": "#/definitions/APIError"
            },
            "examples": {
              "application/json": {
                "timestamp": "string",
                "code": 0,
                "message": "string",
                "path": "string",
                "exception": "string",
                "errors": [
                  {
                    "message": "string",
                    "type": "string",
                    "lang": "string"
                  }
                ],
                "requestId": "string"
              }
            }
          },
          "404": {
            "description": "Station name or uiccode provided in the parameters could not be found",
            "schema": {
              "$ref": "#/definitions/APIError"
            },
            "examples": {
              "application/json": {
                "timestamp": "string",
                "code": 0,
                "message": "string",
                "path": "string",
                "exception": "string",
                "errors": [
                  {
                    "message": "string",
                    "type": "string",
                    "lang": "string"
                  }
                ],
                "requestId": "string"
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/api/v2/journey": {
      "get": {
        "description": "Returns information about a specific journey",
        "operationId": "getJourneyDetail",
        "summary": "Journey details",
        "tags": [
          "Journey"
        ],
        "parameters": [
          {
            "name": "train",
            "in": "query",
            "description": "Train number to return details for. Either the train number or journey identifier must be given",
            "type": "integer",
            "x-ms-summary": "Train",
            "format": "int32",
            "x-ms-visibility": "important"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Journey identifier. Can be found in as journeyDetailRef in the Trips action output. Either the train number of journey identifier must be given",
            "type": "string",
            "x-ms-summary": "Journey Identifier",
            "x-ms-visibility": "important"
          },
          {
            "name": "dateTime",
            "in": "query",
            "description": "Date (as date-time in RFC3339) for this journey. Defaults to server time (Europe/Amsterdam)",
            "type": "string",
            "x-ms-summary": "Date-time",
            "format": "date-time",
            "x-ms-visibility": "important"
          },
          {
            "name": "departureUicCode",
            "in": "query",
            "description": "UIC code of the station that will be indicated as Departure in the output.",
            "type": "string",
            "x-ms-summary": "Departure Station UIC Code",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "getStations",
              "value-path": "UICCode",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          },
          {
            "name": "transferUicCode",
            "in": "query",
            "description": "UIC code of the station that will be indicated as Tranfer in the output.",
            "type": "string",
            "x-ms-summary": "Transfer Station UIC Code",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "getStations",
              "value-path": "UICCode",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          },
          {
            "name": "arrivalUicCode",
            "in": "query",
            "description": "UIC code of the station that will be indicated as Arrival in the output.",
            "type": "string",
            "x-ms-summary": "Arrival Station UIC Code",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "getStations",
              "value-path": "UICCode",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          }
        ],
        "produces": [
          "*/*",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Information about the journey",
            "schema": {
              "type": "object",
              "properties": {
                "payload": {
                  "type": "object",
                  "properties": {
                    "notes": {
                      "type": "array",
                      "items": {},
                      "description": "notes"
                    },
                    "productNumbers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "productNumbers"
                    },
                    "stops": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "stop": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "lng": {
                                "type": "number",
                                "format": "float",
                                "description": "lng"
                              },
                              "lat": {
                                "type": "number",
                                "format": "float",
                                "description": "lat"
                              },
                              "countryCode": {
                                "type": "string",
                                "description": "countryCode"
                              },
                              "uicCode": {
                                "type": "string",
                                "description": "uicCode"
                              }
                            },
                            "description": "stop"
                          },
                          "previousStopId": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "previousStopId"
                          },
                          "nextStopId": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "nextStopId"
                          },
                          "destination": {
                            "type": "string",
                            "description": "destination"
                          },
                          "status": {
                            "type": "string",
                            "description": "status"
                          },
                          "arrivals": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "product": {
                                  "type": "object",
                                  "properties": {
                                    "number": {
                                      "type": "string",
                                      "description": "number"
                                    },
                                    "categoryCode": {
                                      "type": "string",
                                      "description": "categoryCode"
                                    },
                                    "shortCategoryName": {
                                      "type": "string",
                                      "description": "shortCategoryName"
                                    },
                                    "longCategoryName": {
                                      "type": "string",
                                      "description": "longCategoryName"
                                    },
                                    "operatorCode": {
                                      "type": "string",
                                      "description": "operatorCode"
                                    },
                                    "operatorName": {
                                      "type": "string",
                                      "description": "operatorName"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "type"
                                    }
                                  },
                                  "description": "product"
                                },
                                "origin": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "name"
                                    },
                                    "lng": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "lng"
                                    },
                                    "lat": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "lat"
                                    },
                                    "countryCode": {
                                      "type": "string",
                                      "description": "countryCode"
                                    },
                                    "uicCode": {
                                      "type": "string",
                                      "description": "uicCode"
                                    }
                                  },
                                  "description": "origin"
                                },
                                "destination": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "name"
                                    },
                                    "lng": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "lng"
                                    },
                                    "lat": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "lat"
                                    },
                                    "countryCode": {
                                      "type": "string",
                                      "description": "countryCode"
                                    },
                                    "uicCode": {
                                      "type": "string",
                                      "description": "uicCode"
                                    }
                                  },
                                  "description": "destination"
                                },
                                "plannedTime": {
                                  "type": "string",
                                  "description": "plannedTime"
                                },
                                "actualTime": {
                                  "type": "string",
                                  "description": "actualTime"
                                },
                                "delayInSeconds": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "delayInSeconds"
                                },
                                "plannedTrack": {
                                  "type": "string",
                                  "description": "plannedTrack"
                                },
                                "actualTrack": {
                                  "type": "string",
                                  "description": "actualTrack"
                                },
                                "cancelled": {
                                  "type": "boolean",
                                  "description": "cancelled"
                                },
                                "crowdForecast": {
                                  "type": "string",
                                  "description": "crowdForecast"
                                },
                                "stockIdentifiers": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "stockIdentifiers"
                                },
                                "punctuality": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "punctuality"
                                }
                              }
                            },
                            "description": "arrivals"
                          },
                          "departures": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "product": {
                                  "type": "object",
                                  "properties": {
                                    "number": {
                                      "type": "string",
                                      "description": "number"
                                    },
                                    "categoryCode": {
                                      "type": "string",
                                      "description": "categoryCode"
                                    },
                                    "shortCategoryName": {
                                      "type": "string",
                                      "description": "shortCategoryName"
                                    },
                                    "longCategoryName": {
                                      "type": "string",
                                      "description": "longCategoryName"
                                    },
                                    "operatorCode": {
                                      "type": "string",
                                      "description": "operatorCode"
                                    },
                                    "operatorName": {
                                      "type": "string",
                                      "description": "operatorName"
                                    },
                                    "type": {
                                      "type": "string",
                                      "description": "type"
                                    }
                                  },
                                  "description": "product"
                                },
                                "origin": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "name"
                                    },
                                    "lng": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "lng"
                                    },
                                    "lat": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "lat"
                                    },
                                    "countryCode": {
                                      "type": "string",
                                      "description": "countryCode"
                                    },
                                    "uicCode": {
                                      "type": "string",
                                      "description": "uicCode"
                                    }
                                  },
                                  "description": "origin"
                                },
                                "destination": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "name"
                                    },
                                    "lng": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "lng"
                                    },
                                    "lat": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "lat"
                                    },
                                    "countryCode": {
                                      "type": "string",
                                      "description": "countryCode"
                                    },
                                    "uicCode": {
                                      "type": "string",
                                      "description": "uicCode"
                                    }
                                  },
                                  "description": "destination"
                                },
                                "plannedTime": {
                                  "type": "string",
                                  "description": "plannedTime"
                                },
                                "actualTime": {
                                  "type": "string",
                                  "description": "actualTime"
                                },
                                "delayInSeconds": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "delayInSeconds"
                                },
                                "plannedTrack": {
                                  "type": "string",
                                  "description": "plannedTrack"
                                },
                                "actualTrack": {
                                  "type": "string",
                                  "description": "actualTrack"
                                },
                                "cancelled": {
                                  "type": "boolean",
                                  "description": "cancelled"
                                },
                                "crowdForecast": {
                                  "type": "string",
                                  "description": "crowdForecast"
                                },
                                "stockIdentifiers": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "description": "stockIdentifiers"
                                }
                              }
                            },
                            "description": "departures"
                          },
                          "actualStock": {
                            "type": "object",
                            "properties": {
                              "trainType": {
                                "type": "string",
                                "description": "trainType"
                              },
                              "numberOfSeats": {
                                "type": "integer",
                                "format": "int32",
                                "description": "numberOfSeats"
                              },
                              "numberOfParts": {
                                "type": "integer",
                                "format": "int32",
                                "description": "numberOfParts"
                              },
                              "trainParts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "stockIdentifier": {
                                      "type": "string",
                                      "description": "stockIdentifier"
                                    },
                                    "facilities": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "description": "facilities"
                                    },
                                    "image": {
                                      "type": "object",
                                      "properties": {
                                        "uri": {
                                          "type": "string",
                                          "description": "uri"
                                        }
                                      },
                                      "description": "image"
                                    }
                                  }
                                },
                                "description": "trainParts"
                              },
                              "hasSignificantChange": {
                                "type": "boolean",
                                "description": "hasSignificantChange"
                              }
                            },
                            "description": "actualStock"
                          },
                          "plannedStock": {
                            "type": "object",
                            "properties": {
                              "trainType": {
                                "type": "string",
                                "description": "trainType"
                              },
                              "numberOfSeats": {
                                "type": "integer",
                                "format": "int32",
                                "description": "numberOfSeats"
                              },
                              "numberOfParts": {
                                "type": "integer",
                                "format": "int32",
                                "description": "numberOfParts"
                              },
                              "trainParts": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "stockIdentifier": {
                                      "type": "string",
                                      "description": "stockIdentifier"
                                    },
                                    "facilities": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      },
                                      "description": "facilities"
                                    },
                                    "image": {
                                      "type": "object",
                                      "properties": {
                                        "uri": {
                                          "type": "string",
                                          "description": "uri"
                                        }
                                      },
                                      "description": "image"
                                    }
                                  }
                                },
                                "description": "trainParts"
                              },
                              "hasSignificantChange": {
                                "type": "boolean",
                                "description": "hasSignificantChange"
                              }
                            },
                            "description": "plannedStock"
                          },
                          "platformFeatures": {
                            "type": "array",
                            "items": {},
                            "description": "platformFeatures"
                          },
                          "coachCrowdForecast": {
                            "type": "array",
                            "items": {},
                            "description": "coachCrowdForecast"
                          }
                        }
                      },
                      "description": "stops"
                    },
                    "allowCrowdReporting": {
                      "type": "boolean",
                      "description": "allowCrowdReporting"
                    },
                    "source": {
                      "type": "string",
                      "description": "source"
                    }
                  },
                  "description": "payload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. One or more parameters are invalid",
            "schema": {
              "$ref": "#/definitions/APIError"
            },
            "examples": {
              "application/json": {
                "timestamp": "string",
                "code": 0,
                "message": "string",
                "path": "string",
                "exception": "string",
                "errors": [
                  {
                    "message": "string",
                    "type": "string",
                    "lang": "string"
                  }
                ],
                "requestId": "string"
              }
            }
          },
          "404": {
            "description": "Information about this journey could  not be found",
            "schema": {
              "$ref": "#/definitions/APIError"
            },
            "examples": {
              "application/json": {
                "timestamp": "string",
                "code": 0,
                "message": "string",
                "path": "string",
                "exception": "string",
                "errors": [
                  {
                    "message": "string",
                    "type": "string",
                    "lang": "string"
                  }
                ],
                "requestId": "string"
              }
            }
          }
        },
        "x-ms-visibility": "advanced"
      }
    },
    "/api/v3/trips/trip": {
      "get": {
        "description": "Returns a single trip, based on the given parameters",
        "operationId": "getTrip",
        "summary": "Single trip",
        "tags": [
          "Trips"
        ],
        "parameters": [
          {
            "name": "ctxRecon",
            "in": "query",
            "description": "Reconstruction context to use as basis for finding trip. Can be found in Trips output (ctxRecon)",
            "required": true,
            "type": "string",
            "x-ms-summary": "Reconstruction Context",
            "x-ms-visibility": "important"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Datetime (as date-time in RFC3339) to use when reconstructing trip, may be a different date than the trip was originally planned.",
            "type": "string",
            "x-ms-summary": "Date-time",
            "format": "date-time",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "travelRequestType",
            "in": "query",
            "description": "Specify directions or directionsOnly to include directions for walk/bike/car legs in the result.",
            "type": "string",
            "default": "DEFAULT",
            "enum": [
              "DEFAULT",
              "DIRECTIONS",
              "DIRECTIONS_ONLY"
            ],
            "x-ms-summary": "Travel Request Type",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "product",
            "in": "query",
            "description": "Name of the product that will be used in travel.",
            "type": "string",
            "enum": [
              "GEEN",
              "OVCHIPKAART_ENKELE_REIS",
              "OVCHIPKAART_RETOUR",
              "DAL_VOORDEEL",
              "ALTIJD_VOORDEEL",
              "DAL_VRIJ",
              "WEEKEND_VRIJ",
              "ALTIJD_VRIJ",
              "BUSINESSCARD",
              "BUSINESSCARD_DAL",
              "STUDENT_WEEK",
              "STUDENT_WEEKEND",
              "VDU",
              "SAMENREISKORTING",
              "TRAJECT_VRIJ"
            ],
            "x-ms-summary": "Product",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "discount",
            "in": "query",
            "description": "Discount of travel to use when calculating product prices",
            "type": "string",
            "default": "NO_DISCOUNT",
            "x-ms-summary": "Discount",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "travelClass",
            "in": "query",
            "description": "Format - int32. Class of travel to use when calculating product prices",
            "type": "integer",
            "default": 2,
            "x-ms-summary": "Travel CLass",
            "format": "int32",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "API Key",
            "in": "header",
            "description": "Account details to use when querying trip assistance options",
            "type": "string",
            "x-ms-summary": "API Key",
            "x-ms-visibility": "internal"
          },
          {
            "name": "lang",
            "in": "header",
            "description": "Language to use for localizing the travel advice. Only a small subset of text is translated, mainly notes. Defaults to Dutch",
            "type": "string",
            "x-ms-summary": "Language",
            "x-ms-visibility": "advanced"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A trip that matches the given parameters",
            "schema": {
              "type": "object",
              "properties": {
                "idx": {
                  "type": "integer",
                  "format": "int32",
                  "description": "idx"
                },
                "uid": {
                  "type": "string",
                  "description": "uid"
                },
                "ctxRecon": {
                  "type": "string",
                  "description": "ctxRecon"
                },
                "plannedDurationInMinutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "plannedDurationInMinutes"
                },
                "actualDurationInMinutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "actualDurationInMinutes"
                },
                "transfers": {
                  "type": "integer",
                  "format": "int32",
                  "description": "transfers"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "messages": {
                  "type": "array",
                  "items": {},
                  "description": "messages"
                },
                "legs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "idx": {
                        "type": "string",
                        "description": "idx"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "travelType": {
                        "type": "string",
                        "description": "travelType"
                      },
                      "direction": {
                        "type": "string",
                        "description": "direction"
                      },
                      "cancelled": {
                        "type": "boolean",
                        "description": "cancelled"
                      },
                      "changePossible": {
                        "type": "boolean",
                        "description": "changePossible"
                      },
                      "alternativeTransport": {
                        "type": "boolean",
                        "description": "alternativeTransport"
                      },
                      "journeyDetailRef": {
                        "type": "string",
                        "description": "journeyDetailRef"
                      },
                      "origin": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "lng": {
                            "type": "number",
                            "format": "float",
                            "description": "lng"
                          },
                          "lat": {
                            "type": "number",
                            "format": "float",
                            "description": "lat"
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "countryCode"
                          },
                          "uicCode": {
                            "type": "string",
                            "description": "uicCode"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "plannedTimeZoneOffset": {
                            "type": "integer",
                            "format": "int32",
                            "description": "plannedTimeZoneOffset"
                          },
                          "plannedDateTime": {
                            "type": "string",
                            "description": "plannedDateTime"
                          },
                          "actualTimeZoneOffset": {
                            "type": "integer",
                            "format": "int32",
                            "description": "actualTimeZoneOffset"
                          },
                          "actualDateTime": {
                            "type": "string",
                            "description": "actualDateTime"
                          },
                          "plannedTrack": {
                            "type": "string",
                            "description": "plannedTrack"
                          },
                          "actualTrack": {
                            "type": "string",
                            "description": "actualTrack"
                          },
                          "checkinStatus": {
                            "type": "string",
                            "description": "checkinStatus"
                          },
                          "notes": {
                            "type": "array",
                            "items": {},
                            "description": "notes"
                          }
                        },
                        "description": "origin"
                      },
                      "destination": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "lng": {
                            "type": "number",
                            "format": "float",
                            "description": "lng"
                          },
                          "lat": {
                            "type": "number",
                            "format": "float",
                            "description": "lat"
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "countryCode"
                          },
                          "uicCode": {
                            "type": "string",
                            "description": "uicCode"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "plannedTimeZoneOffset": {
                            "type": "integer",
                            "format": "int32",
                            "description": "plannedTimeZoneOffset"
                          },
                          "plannedDateTime": {
                            "type": "string",
                            "description": "plannedDateTime"
                          },
                          "actualTimeZoneOffset": {
                            "type": "integer",
                            "format": "int32",
                            "description": "actualTimeZoneOffset"
                          },
                          "actualDateTime": {
                            "type": "string",
                            "description": "actualDateTime"
                          },
                          "plannedTrack": {
                            "type": "string",
                            "description": "plannedTrack"
                          },
                          "actualTrack": {
                            "type": "string",
                            "description": "actualTrack"
                          },
                          "exitSide": {
                            "type": "string",
                            "description": "exitSide"
                          },
                          "checkinStatus": {
                            "type": "string",
                            "description": "checkinStatus"
                          },
                          "notes": {
                            "type": "array",
                            "items": {},
                            "description": "notes"
                          }
                        },
                        "description": "destination"
                      },
                      "product": {
                        "type": "object",
                        "properties": {
                          "number": {
                            "type": "string",
                            "description": "number"
                          },
                          "categoryCode": {
                            "type": "string",
                            "description": "categoryCode"
                          },
                          "shortCategoryName": {
                            "type": "string",
                            "description": "shortCategoryName"
                          },
                          "longCategoryName": {
                            "type": "string",
                            "description": "longCategoryName"
                          },
                          "operatorCode": {
                            "type": "string",
                            "description": "operatorCode"
                          },
                          "operatorName": {
                            "type": "string",
                            "description": "operatorName"
                          },
                          "operatorAdministrativeCode": {
                            "type": "integer",
                            "format": "int32",
                            "description": "operatorAdministrativeCode"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "displayName"
                          }
                        },
                        "description": "product"
                      },
                      "messages": {
                        "type": "array",
                        "items": {},
                        "description": "messages"
                      },
                      "stops": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uicCode": {
                              "type": "string",
                              "description": "uicCode"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "lat": {
                              "type": "number",
                              "format": "float",
                              "description": "lat"
                            },
                            "lng": {
                              "type": "number",
                              "format": "float",
                              "description": "lng"
                            },
                            "countryCode": {
                              "type": "string",
                              "description": "countryCode"
                            },
                            "notes": {
                              "type": "array",
                              "items": {},
                              "description": "notes"
                            },
                            "routeIdx": {
                              "type": "integer",
                              "format": "int32",
                              "description": "routeIdx"
                            },
                            "plannedDepartureDateTime": {
                              "type": "string",
                              "description": "plannedDepartureDateTime"
                            },
                            "plannedDepartureTimeZoneOffset": {
                              "type": "integer",
                              "format": "int32",
                              "description": "plannedDepartureTimeZoneOffset"
                            },
                            "actualDepartureDateTime": {
                              "type": "string",
                              "description": "actualDepartureDateTime"
                            },
                            "actualDepartureTimeZoneOffset": {
                              "type": "integer",
                              "format": "int32",
                              "description": "actualDepartureTimeZoneOffset"
                            },
                            "actualDepartureTrack": {
                              "type": "string",
                              "description": "actualDepartureTrack"
                            },
                            "plannedDepartureTrack": {
                              "type": "string",
                              "description": "plannedDepartureTrack"
                            },
                            "plannedArrivalTrack": {
                              "type": "string",
                              "description": "plannedArrivalTrack"
                            },
                            "actualArrivalTrack": {
                              "type": "string",
                              "description": "actualArrivalTrack"
                            },
                            "departureDelayInSeconds": {
                              "type": "integer",
                              "format": "int32",
                              "description": "departureDelayInSeconds"
                            },
                            "cancelled": {
                              "type": "boolean",
                              "description": "cancelled"
                            },
                            "borderStop": {
                              "type": "boolean",
                              "description": "borderStop"
                            },
                            "passing": {
                              "type": "boolean",
                              "description": "passing"
                            },
                            "plannedArrivalDateTime": {
                              "type": "string",
                              "description": "plannedArrivalDateTime"
                            },
                            "plannedArrivalTimeZoneOffset": {
                              "type": "integer",
                              "format": "int32",
                              "description": "plannedArrivalTimeZoneOffset"
                            },
                            "actualArrivalDateTime": {
                              "type": "string",
                              "description": "actualArrivalDateTime"
                            },
                            "actualArrivalTimeZoneOffset": {
                              "type": "integer",
                              "format": "int32",
                              "description": "actualArrivalTimeZoneOffset"
                            },
                            "arrivalDelayInSeconds": {
                              "type": "integer",
                              "format": "int32",
                              "description": "arrivalDelayInSeconds"
                            }
                          }
                        },
                        "description": "stops"
                      },
                      "crowdForecast": {
                        "type": "string",
                        "description": "crowdForecast"
                      },
                      "shorterStock": {
                        "type": "boolean",
                        "description": "shorterStock"
                      },
                      "journeyDetail": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "link": {
                              "type": "object",
                              "properties": {
                                "uri": {
                                  "type": "string",
                                  "description": "uri"
                                }
                              },
                              "description": "link"
                            }
                          }
                        },
                        "description": "journeyDetail"
                      },
                      "reachable": {
                        "type": "boolean",
                        "description": "reachable"
                      },
                      "plannedDurationInMinutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "plannedDurationInMinutes"
                      }
                    }
                  },
                  "description": "legs"
                },
                "crowdForecast": {
                  "type": "string",
                  "description": "crowdForecast"
                },
                "optimal": {
                  "type": "boolean",
                  "description": "optimal"
                },
                "fareRoute": {
                  "type": "object",
                  "properties": {
                    "routeId": {
                      "type": "string",
                      "description": "routeId"
                    },
                    "origin": {
                      "type": "object",
                      "properties": {
                        "varCode": {
                          "type": "integer",
                          "format": "int32",
                          "description": "varCode"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        }
                      },
                      "description": "origin"
                    },
                    "destination": {
                      "type": "object",
                      "properties": {
                        "varCode": {
                          "type": "integer",
                          "format": "int32",
                          "description": "varCode"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        }
                      },
                      "description": "destination"
                    }
                  },
                  "description": "fareRoute"
                },
                "fares": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "priceInCents": {
                        "type": "integer",
                        "format": "int32",
                        "description": "priceInCents"
                      },
                      "product": {
                        "type": "string",
                        "description": "product"
                      },
                      "travelClass": {
                        "type": "string",
                        "description": "travelClass"
                      },
                      "discountType": {
                        "type": "string",
                        "description": "discountType"
                      }
                    }
                  },
                  "description": "fares"
                },
                "fareLegs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "origin": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "lng": {
                            "type": "number",
                            "format": "float",
                            "description": "lng"
                          },
                          "lat": {
                            "type": "number",
                            "format": "float",
                            "description": "lat"
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "countryCode"
                          },
                          "uicCode": {
                            "type": "string",
                            "description": "uicCode"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "origin"
                      },
                      "destination": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "lng": {
                            "type": "number",
                            "format": "float",
                            "description": "lng"
                          },
                          "lat": {
                            "type": "number",
                            "format": "float",
                            "description": "lat"
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "countryCode"
                          },
                          "uicCode": {
                            "type": "string",
                            "description": "uicCode"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "destination"
                      },
                      "operator": {
                        "type": "string",
                        "description": "operator"
                      },
                      "productTypes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "productTypes"
                      },
                      "fares": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "priceInCents": {
                              "type": "integer",
                              "format": "int32",
                              "description": "priceInCents"
                            },
                            "priceInCentsExcludingSupplement": {
                              "type": "integer",
                              "format": "int32",
                              "description": "priceInCentsExcludingSupplement"
                            },
                            "supplementInCents": {
                              "type": "integer",
                              "format": "int32",
                              "description": "supplementInCents"
                            },
                            "buyableTicketSupplementPriceInCents": {
                              "type": "integer",
                              "format": "int32",
                              "description": "buyableTicketSupplementPriceInCents"
                            },
                            "product": {
                              "type": "string",
                              "description": "product"
                            },
                            "travelClass": {
                              "type": "string",
                              "description": "travelClass"
                            },
                            "discountType": {
                              "type": "string",
                              "description": "discountType"
                            }
                          }
                        },
                        "description": "fares"
                      }
                    }
                  },
                  "description": "fareLegs"
                },
                "productFare": {
                  "type": "object",
                  "properties": {
                    "priceInCents": {
                      "type": "integer",
                      "format": "int32",
                      "description": "priceInCents"
                    },
                    "priceInCentsExcludingSupplement": {
                      "type": "integer",
                      "format": "int32",
                      "description": "priceInCentsExcludingSupplement"
                    },
                    "buyableTicketPriceInCents": {
                      "type": "integer",
                      "format": "int32",
                      "description": "buyableTicketPriceInCents"
                    },
                    "buyableTicketPriceInCentsExcludingSupplement": {
                      "type": "integer",
                      "format": "int32",
                      "description": "buyableTicketPriceInCentsExcludingSupplement"
                    },
                    "product": {
                      "type": "string",
                      "description": "product"
                    },
                    "travelClass": {
                      "type": "string",
                      "description": "travelClass"
                    },
                    "discountType": {
                      "type": "string",
                      "description": "discountType"
                    }
                  },
                  "description": "productFare"
                },
                "fareOptions": {
                  "type": "object",
                  "properties": {
                    "isInternationalBookable": {
                      "type": "boolean",
                      "description": "isInternationalBookable"
                    },
                    "isInternational": {
                      "type": "boolean",
                      "description": "isInternational"
                    },
                    "isEticketBuyable": {
                      "type": "boolean",
                      "description": "isEticketBuyable"
                    },
                    "isPossibleWithOvChipkaart": {
                      "type": "boolean",
                      "description": "isPossibleWithOvChipkaart"
                    },
                    "isTotalPriceUnknown": {
                      "type": "boolean",
                      "description": "isTotalPriceUnknown"
                    }
                  },
                  "description": "fareOptions"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "shareUrl": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    }
                  },
                  "description": "shareUrl"
                },
                "realtime": {
                  "type": "boolean",
                  "description": "realtime"
                },
                "routeId": {
                  "type": "string",
                  "description": "routeId"
                },
                "registerJourney": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "url"
                    },
                    "searchUrl": {
                      "type": "string",
                      "description": "searchUrl"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "bicycleReservationRequired": {
                      "type": "boolean",
                      "description": "bicycleReservationRequired"
                    },
                    "availability": {
                      "type": "object",
                      "properties": {
                        "seats": {
                          "type": "boolean",
                          "description": "seats"
                        },
                        "numberOfSeats": {
                          "type": "integer",
                          "format": "int32",
                          "description": "numberOfSeats"
                        },
                        "bicycle": {
                          "type": "boolean",
                          "description": "bicycle"
                        },
                        "numberOfBicyclePlaces": {
                          "type": "integer",
                          "format": "int32",
                          "description": "numberOfBicyclePlaces"
                        }
                      },
                      "description": "availability"
                    }
                  },
                  "description": "registerJourney"
                }
              }
            },
            "examples": {
              "application/json": [
                {
                  "source": "HARP",
                  "trips": [
                    {
                      "uid": "string",
                      "ctxRecon": "string",
                      "plannedDurationInMinutes": 0,
                      "actualDurationInMinutes": 0,
                      "transfers": 0,
                      "status": "CANCELLED",
                      "messages": [
                        {
                          "id": "string",
                          "externalId": "string",
                          "head": "string",
                          "text": "string",
                          "lead": "string",
                          "routeIdxFrom": 0,
                          "routeIdxTo": 0,
                          "type": "MAINTENANCE",
                          "startDate": "string",
                          "endDate": "string",
                          "startTime": "string",
                          "endTime": "string"
                        }
                      ],
                      "legs": [
                        {
                          "idx": "string",
                          "name": "string",
                          "travelType": "PUBLIC_TRANSIT",
                          "direction": "string",
                          "cancelled": true,
                          "changePossible": true,
                          "alternativeTransport": true,
                          "journeyDetailRef": "string",
                          "origin": {
                            "name": "string",
                            "lng": 0,
                            "lat": 0,
                            "city": "string",
                            "countryCode": "string",
                            "uicCode": "string",
                            "type": "STATION",
                            "prognosisType": "string",
                            "plannedTimeZoneOffset": 0,
                            "plannedDateTime": "string",
                            "actualTimeZoneOffset": 0,
                            "actualDateTime": "string",
                            "plannedTrack": "string",
                            "actualTrack": "string",
                            "exitSide": "LEFT",
                            "checkinStatus": "CHECKIN",
                            "travelAssistanceBookingInfo": {
                              "name": "string",
                              "tripLegIndex": "string",
                              "stationUic": "string",
                              "serviceTypeIds": [
                                "string"
                              ],
                              "defaultAssistanceValue": true,
                              "canChangeAssistance": true,
                              "message": "string"
                            },
                            "travelAssistanceMeetingPoints": [
                              "string"
                            ],
                            "notes": [
                              {
                                "value": "string",
                                "key": "string",
                                "noteType": "UNKNOWN",
                                "priority": 0,
                                "routeIdxFrom": 0,
                                "routeIdxTo": 0,
                                "link": {
                                  "title": "string",
                                  "url": "string"
                                },
                                "isPresentationRequired": true,
                                "category": "PLATFORM_INFORMATION"
                              }
                            ],
                            "quayCode": "string"
                          },
                          "destination": {
                            "name": "string",
                            "lng": 0,
                            "lat": 0,
                            "city": "string",
                            "countryCode": "string",
                            "uicCode": "string",
                            "type": "STATION",
                            "prognosisType": "string",
                            "plannedTimeZoneOffset": 0,
                            "plannedDateTime": "string",
                            "actualTimeZoneOffset": 0,
                            "actualDateTime": "string",
                            "plannedTrack": "string",
                            "actualTrack": "string",
                            "exitSide": "LEFT",
                            "checkinStatus": "CHECKIN",
                            "travelAssistanceBookingInfo": {
                              "name": "string",
                              "tripLegIndex": "string",
                              "stationUic": "string",
                              "serviceTypeIds": [
                                "string"
                              ],
                              "defaultAssistanceValue": true,
                              "canChangeAssistance": true,
                              "message": "string"
                            },
                            "travelAssistanceMeetingPoints": [
                              "string"
                            ],
                            "notes": [
                              {
                                "value": "string",
                                "key": "string",
                                "noteType": "UNKNOWN",
                                "priority": 0,
                                "routeIdxFrom": 0,
                                "routeIdxTo": 0,
                                "link": {
                                  "title": "string",
                                  "url": "string"
                                },
                                "isPresentationRequired": true,
                                "category": "PLATFORM_INFORMATION"
                              }
                            ],
                            "quayCode": "string"
                          },
                          "product": {
                            "number": "string",
                            "categoryCode": "string",
                            "shortCategoryName": "string",
                            "longCategoryName": "string",
                            "operatorCode": "string",
                            "operatorName": "string",
                            "operatorAdministrativeCode": 0,
                            "type": "TRAIN",
                            "displayName": "string"
                          },
                          "notes": [
                            {
                              "value": "string",
                              "key": "string",
                              "noteType": "UNKNOWN",
                              "priority": 0,
                              "routeIdxFrom": 0,
                              "routeIdxTo": 0,
                              "link": {
                                "title": "string",
                                "url": "string"
                              },
                              "isPresentationRequired": true,
                              "category": "PLATFORM_INFORMATION"
                            }
                          ],
                          "messages": [
                            {
                              "id": "string",
                              "externalId": "string",
                              "head": "string",
                              "text": "string",
                              "lead": "string",
                              "routeIdxFrom": 0,
                              "routeIdxTo": 0,
                              "type": "MAINTENANCE",
                              "startDate": "string",
                              "endDate": "string",
                              "startTime": "string",
                              "endTime": "string"
                            }
                          ],
                          "stops": [
                            {
                              "uicCode": "string",
                              "name": "string",
                              "lat": 0,
                              "lng": 0,
                              "countryCode": "string",
                              "notes": [
                                {
                                  "value": "string",
                                  "key": "string",
                                  "type": "U",
                                  "priority": 0
                                }
                              ],
                              "routeIdx": 0,
                              "departurePrognosisType": "string",
                              "plannedDepartureDateTime": "string",
                              "plannedDepartureTimeZoneOffset": 0,
                              "actualDepartureDateTime": "string",
                              "actualDepartureTimeZoneOffset": 0,
                              "plannedArrivalDateTime": "string",
                              "plannedArrivalTimeZoneOffset": 0,
                              "actualArrivalDateTime": "string",
                              "actualArrivalTimeZoneOffset": 0,
                              "plannedPassingDateTime": "string",
                              "actualPassingDateTime": "string",
                              "arrivalPrognosisType": "string",
                              "actualDepartureTrack": "string",
                              "plannedDepartureTrack": "string",
                              "plannedArrivalTrack": "string",
                              "actualArrivalTrack": "string",
                              "departureDelayInSeconds": 0,
                              "arrivalDelayInSeconds": 0,
                              "cancelled": true,
                              "borderStop": true,
                              "passing": true,
                              "quayCode": "string"
                            }
                          ],
                          "steps": [
                            {
                              "distanceInMeters": 0,
                              "durationInSeconds": 0,
                              "startLocation": {
                                "name": "string",
                                "lat": 0,
                                "lng": 0,
                                "city": "string",
                                "country": "string"
                              },
                              "endLocation": {
                                "name": "string",
                                "lat": 0,
                                "lng": 0,
                                "city": "string",
                                "country": "string"
                              },
                              "instructions": "string"
                            }
                          ],
                          "coordinates": [
                            [
                              0
                            ]
                          ],
                          "crowdForecast": "UNKNOWN",
                          "punctuality": 0,
                          "crossPlatformTransfer": true,
                          "shorterStock": true,
                          "changeCouldBePossible": true,
                          "shorterStockWarning": "string",
                          "shorterStockClassification": "BUSY",
                          "journeyDetail": [
                            {
                              "type": "BTM",
                              "link": {
                                "title": "string",
                                "url": "string"
                              }
                            }
                          ],
                          "reachable": true,
                          "plannedDurationInMinutes": 0,
                          "travelAssistanceDeparture": {
                            "name": "string",
                            "tripLegIndex": "string",
                            "stationUic": "string",
                            "serviceTypeIds": [
                              "string"
                            ],
                            "defaultAssistanceValue": true,
                            "canChangeAssistance": true,
                            "message": "string"
                          },
                          "travelAssistanceArrival": {
                            "name": "string",
                            "tripLegIndex": "string",
                            "stationUic": "string",
                            "serviceTypeIds": [
                              "string"
                            ],
                            "defaultAssistanceValue": true,
                            "canChangeAssistance": true,
                            "message": "string"
                          },
                          "overviewPolyLine": [
                            {
                              "lat": 0,
                              "lng": 0
                            }
                          ]
                        }
                      ],
                      "overviewPolyLine": [
                        {
                          "lat": 0,
                          "lng": 0
                        }
                      ],
                      "crowdForecast": "UNKNOWN",
                      "punctuality": 0,
                      "optimal": true,
                      "fareRoute": {
                        "routeId": "string",
                        "origin": {
                          "varCode": 0,
                          "name": "string"
                        },
                        "destination": {
                          "varCode": 0,
                          "name": "string"
                        }
                      },
                      "fares": [
                        {
                          "priceInCents": 0,
                          "product": "OVCHIPKAART_ENKELE_REIS",
                          "travelClass": "FIRST_CLASS",
                          "priceInCentsExcludingSupplement": 0,
                          "discountType": "NO_DISCOUNT",
                          "supplementInCents": 0,
                          "link": "string"
                        }
                      ],
                      "fareLegs": [
                        {
                          "origin": {
                            "name": "string",
                            "lng": 0,
                            "lat": 0,
                            "city": "string",
                            "countryCode": "string",
                            "uicCode": "string",
                            "type": "STATION",
                            "prognosisType": "string",
                            "plannedTimeZoneOffset": 0,
                            "plannedDateTime": "string",
                            "actualTimeZoneOffset": 0,
                            "actualDateTime": "string",
                            "plannedTrack": "string",
                            "actualTrack": "string",
                            "exitSide": "LEFT",
                            "checkinStatus": "CHECKIN",
                            "travelAssistanceBookingInfo": {
                              "name": "string",
                              "tripLegIndex": "string",
                              "stationUic": "string",
                              "serviceTypeIds": [
                                "string"
                              ],
                              "defaultAssistanceValue": true,
                              "canChangeAssistance": true,
                              "message": "string"
                            },
                            "travelAssistanceMeetingPoints": [
                              "string"
                            ],
                            "notes": [
                              {
                                "value": "string",
                                "key": "string",
                                "noteType": "UNKNOWN",
                                "priority": 0,
                                "routeIdxFrom": 0,
                                "routeIdxTo": 0,
                                "link": {
                                  "title": "string",
                                  "url": "string"
                                },
                                "isPresentationRequired": true,
                                "category": "PLATFORM_INFORMATION"
                              }
                            ],
                            "quayCode": "string"
                          },
                          "destination": {
                            "name": "string",
                            "lng": 0,
                            "lat": 0,
                            "city": "string",
                            "countryCode": "string",
                            "uicCode": "string",
                            "type": "STATION",
                            "prognosisType": "string",
                            "plannedTimeZoneOffset": 0,
                            "plannedDateTime": "string",
                            "actualTimeZoneOffset": 0,
                            "actualDateTime": "string",
                            "plannedTrack": "string",
                            "actualTrack": "string",
                            "exitSide": "LEFT",
                            "checkinStatus": "CHECKIN",
                            "travelAssistanceBookingInfo": {
                              "name": "string",
                              "tripLegIndex": "string",
                              "stationUic": "string",
                              "serviceTypeIds": [
                                "string"
                              ],
                              "defaultAssistanceValue": true,
                              "canChangeAssistance": true,
                              "message": "string"
                            },
                            "travelAssistanceMeetingPoints": [
                              "string"
                            ],
                            "notes": [
                              {
                                "value": "string",
                                "key": "string",
                                "noteType": "UNKNOWN",
                                "priority": 0,
                                "routeIdxFrom": 0,
                                "routeIdxTo": 0,
                                "link": {
                                  "title": "string",
                                  "url": "string"
                                },
                                "isPresentationRequired": true,
                                "category": "PLATFORM_INFORMATION"
                              }
                            ],
                            "quayCode": "string"
                          },
                          "operator": "string",
                          "productTypes": [
                            "TRAIN"
                          ],
                          "fares": [
                            {
                              "priceInCents": 0,
                              "priceInCentsExcludingSupplement": 0,
                              "supplementInCents": 0,
                              "buyableTicketPriceInCents": 0,
                              "buyableTicketPriceInCentsExcludingSupplement": 0,
                              "buyableTicketSupplementPriceInCents": 0,
                              "product": "GEEN",
                              "travelClass": "FIRST_CLASS",
                              "discountType": "NO_DISCOUNT",
                              "link": "string"
                            }
                          ]
                        }
                      ],
                      "productFare": {
                        "priceInCents": 0,
                        "priceInCentsExcludingSupplement": 0,
                        "supplementInCents": 0,
                        "buyableTicketPriceInCents": 0,
                        "buyableTicketPriceInCentsExcludingSupplement": 0,
                        "buyableTicketSupplementPriceInCents": 0,
                        "product": "GEEN",
                        "travelClass": "FIRST_CLASS",
                        "discountType": "NO_DISCOUNT",
                        "link": "string"
                      },
                      "fareOptions": {
                        "isInternationalBookable": true,
                        "isInternational": true,
                        "isEticketBuyable": true,
                        "isPossibleWithOvChipkaart": true,
                        "isTotalPriceUnknown": true,
                        "supplementsBasedOnSelectedFare": [
                          {
                            "supplementPriceInCents": 0,
                            "legIdx": "string",
                            "fromUICCode": "string",
                            "toUICCode": "string",
                            "link": {
                              "title": "string",
                              "url": "string"
                            }
                          }
                        ],
                        "reasonEticketNotBuyable": {
                          "reason": "UNKNOWN_PRICE",
                          "description": "string"
                        },
                        "salesOptions": [
                          {
                            "type": "EARLY_BOOKING_DISCOUNT",
                            "permilleFullTariff": 0,
                            "recommendationText": "string"
                          }
                        ]
                      },
                      "bookingUrl": {
                        "title": "string",
                        "url": "string"
                      },
                      "type": "NS",
                      "shareUrl": {
                        "title": "string",
                        "url": "string"
                      },
                      "realtime": true,
                      "travelAssistanceInfo": {
                        "termsAndConditionsLink": "string",
                        "tripRequestId": 0,
                        "isAssistanceRequired": true
                      },
                      "routeId": "string",
                      "registerJourney": {
                        "url": "string",
                        "searchUrl": "string",
                        "status": "REGISTRATION_POSSIBLE",
                        "bicycleReservationRequired": true,
                        "availability": {
                          "seats": true,
                          "numberOfSeats": 0,
                          "bicycle": true,
                          "numberOfBicyclePlaces": 0
                        }
                      }
                    }
                  ],
                  "scrollRequestBackwardContext": "string",
                  "scrollRequestForwardContext": "string",
                  "message": "string"
                }
              ]
            }
          },
          "400": {
            "description": "Bad request. One or more parameters are invalid",
            "schema": {
              "$ref": "#/definitions/APIError"
            },
            "examples": {
              "application/json": {
                "timestamp": "string",
                "code": 0,
                "message": "string",
                "path": "string",
                "exception": "string",
                "errors": [
                  {
                    "message": "string",
                    "type": "string",
                    "lang": "string"
                  }
                ],
                "requestId": "string"
              }
            }
          },
          "419": {
            "description": "Backend system failed in an unrecoverable way.",
            "schema": {
              "$ref": "#/definitions/APIError"
            },
            "examples": {
              "application/json": {
                "timestamp": "string",
                "code": 0,
                "message": "string",
                "path": "string",
                "exception": "string",
                "errors": [
                  {
                    "message": "string",
                    "type": "string",
                    "lang": "string"
                  }
                ],
                "requestId": "string"
              }
            }
          }
        }
      }
    },
    "/api/v1/calamities": {
      "get": {
        "description": "List of calamities. This operation is deprecated. Use /api/v3/disruptions instead",
        "operationId": "getCalamities",
        "summary": "Calamities",
        "tags": [
          "Disruptions"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "Language to use for localizing the calamities",
            "type": "string",
            "x-ms-summary": "Language",
            "default": "nl",
            "x-ms-visibility": "advanced",
            "enum": [
              "nl",
              "en"
            ]
          }
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "A list of calamities",
            "schema": {
              "$ref": "#/definitions/CalamitiesResponse"
            }
          }
        }
      }
    },
    "/api/v2/price/international": {
      "get": {
        "description": "Returns price information for international trips",
        "operationId": "getInternationalPrices",
        "summary": "International prices",
        "tags": [
          "Prices"
        ],
        "parameters": [
          {
            "name": "fromStation",
            "in": "query",
            "description": "UIC code of the origin station",
            "required": true,
            "type": "string",
            "x-ms-summary": "Origin Station",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "getStations",
              "value-path": "UICCode",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          },
          {
            "name": "toStation",
            "in": "query",
            "description": "UIC code of the destination station",
            "required": true,
            "type": "string",
            "x-ms-summary": "Destination Station",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "getStations",
              "value-path": "UICCode",
              "value-collection": "payload",
              "value-title": "namen/lang"
            }
          },
          {
            "name": "departureDateTime",
            "in": "query",
            "description": "Planned departure time (as date-time in RFC3339) of the trip.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Departure Date-time",
            "format": "date-time",
            "x-ms-visibility": "important"
          },
          {
            "name": "arrivalDateTime",
            "in": "query",
[...]
