{
	"swagger": "2.0",
	"info": {
		"title": "ABN Lookup",
		"description": "Search the Australian Business Register to find companies and their business status.",
    "version": "1.0",
    "contact": {
      "name": "Joao Lopes",
      "url": "https://sp365.pro/support",
      "email": "jlopes@sp365.pro"
    }
	},
	"host": "abr.business.gov.au",
	"basePath": "/json/",
	"schemes": [
		"https"
	],
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"paths": {
		"/AbnDetails.aspx": {
			"get": {
				"operationId": "SearchByABN",
				"summary": "Search Australian Business by ABN",
				"description": "Search Australian Business by ABN",
				"parameters": [
					{
						"name": "abn",
						"in": "query",
						"type": "string",
						"required": true,
						"x-ms-summary": "ABN",
						"description": "Australian Business Number (ABN)"
					}
				],
				"responses": {
					"200": {
						"$ref": "#/responses/SearchResult"
					},
          "default": {
						"$ref": "#/responses/Error"
          }
				},
				"tags": [
					"Search"
				],
				"x-ms-visibility": "important"
			}
		},
		"/AcnDetails.aspx": {
			"get": {
				"operationId": "SearchByACN",
				"summary": "Search Australian Business by ACN",
				"description": "Search Australian Business by ACN",
				"parameters": [
					{
						"name": "acn",
						"in": "query",
						"type": "string",
						"required": true,
						"x-ms-summary": "ACN",
						"description": "Australian Company Number (ACN)"
					}
				],
				"responses": {
					"200": {
						"$ref": "#/responses/SearchResult"
					},
					"default": {
						"$ref": "#/responses/Error"
					}
				},
				"tags": [
					"Search"
				],
				"x-ms-visibility": "important"
			}
		},
		"/MatchingNames.aspx": {
			"get": {
				"operationId": "SearchByName",
				"summary": "Search Australian Business by Name",
				"description": "Search Australian Business by Name",
				"parameters": [
					{
						"name": "name",
						"in": "query",
						"type": "string",
						"required": true,
						"x-ms-summary": "Name",
						"description": "Australian Company Name"
					}
				],
				"responses": {
					"200": {
						"$ref": "#/responses/NameResult"
					},
					"default": {
						"$ref": "#/responses/Error"
					}
				},
				"tags": [
					"Search"
				],
				"x-ms-visibility": "important"
			}
		}
	},
	"definitions": {},
	"parameters": {},
	"responses": {
		"SearchResult": {
			"description": "Business Search Result",
			"schema": {
				"type": "object",
				"properties": {
					"Abn": {
						"type": "string",
						"description": "Abn"
					},
					"AbnStatus": {
						"type": "string",
						"description": "AbnStatus"
					},
					"AbnStatusEffectiveFrom": {
						"type": "string",
						"description": "AbnStatusEffectiveFrom"
					},
					"Acn": {
						"type": "string",
						"description": "Acn"
					},
					"AddressDate": {
						"type": "string",
						"description": "AddressDate"
					},
					"AddressPostcode": {
						"type": "string",
						"description": "AddressPostcode"
					},
					"AddressState": {
						"type": "string",
						"description": "AddressState"
					},
					"BusinessName": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "BusinessName"
					},
					"EntityName": {
						"type": "string",
						"description": "EntityName"
					},
					"EntityTypeCode": {
						"type": "string",
						"description": "EntityTypeCode"
					},
					"EntityTypeName": {
						"type": "string",
						"description": "EntityTypeName"
					},
					"Gst": {
						"type": "string",
						"description": "Gst"
					},
					"Message": {
						"type": "string",
						"description": "Message"
					}
				}
			}
		},
		"NameResult": {
			"description": "Name Search Result",
			"schema": {
				"type": "object",
				"properties": {
					"Message": {
						"type": "string",
						"description": "Message"
					},
					"Names": {
						"type": "array",
						"items": {
							"type": "object",
							"properties": {
								"Abn": {
									"type": "string",
									"description": "Abn"
								},
								"AbnStatus": {
									"type": "string",
									"description": "AbnStatus"
								},
								"IsCurrent": {
									"type": "boolean",
									"description": "IsCurrent"
								},
								"Name": {
									"type": "string",
									"description": "Name"
								},
								"NameType": {
									"type": "string",
									"description": "NameType"
								},
								"Postcode": {
									"type": "string",
									"description": "Postcode"
								},
								"Score": {
									"type": "integer",
									"format": "int32",
									"description": "Score"
								},
								"State": {
									"type": "string",
									"description": "State"
								}
							}
						},
						"description": "Names"
					}
				}
			}
		},
		"Error": {
			"description": "Error",
			"schema": {
				"type": "object",
				"properties": {
					"error": {
						"title": "Error",
						"description": "Error",
						"type": "object",
						"properties": {
							"code": {
								"title": "Code",
								"description": "Code",
								"type": "string"
							},
							"message": {
								"title": "Message",
								"description": "Message",
								"type": "string"
							}
						}
					}
				}
			}
		}
	},
	"securityDefinitions": {
		"api_key": {
			"type": "apiKey",
			"in": "query",
			"name": "guid"
		}
	},
	"security": [
		{
			"api_key": []
		}
	],
	"tags": [
		{
			"name": "Search"
		}
	],
	"x-ms-connector-metadata": [
		{
			"propertyName": "Website",
			"propertyValue": "https://abr.business.gov.au/"
		},
		{
			"propertyName": "Privacy policy",
			"propertyValue": "https://abr.business.gov.au/Tools/WebServicesAgreement"
		},
		{
			"propertyName": "Categories",
			"propertyValue": "Business Management"
		}
	]
}