{
  "swagger": "2.0",
  "info": {
    "title": "The Guardian",
    "description": "The Guardian web service has access to all the content the Guardian news organization creates, categorized by tags and section.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    },
    "x-ms-keywords": [
      "Guardian",
      "news",
      "current events",
      "newspaper"
    ]
  },
  "host": "content.guardianapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "userTier": {
                      "type": "string",
                      "description": "The user tier.",
                      "title": "User Tier"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "startIndex": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The start index.",
                      "title": "Start Index"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page size.",
                      "title": "Page Size"
                    },
                    "currentPage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of pages.",
                      "title": "Pages"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "The order by.",
                      "title": "Order By"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "sectionId": {
                            "type": "string",
                            "description": "The section identifier.",
                            "title": "Section ID"
                          },
                          "sectionName": {
                            "type": "string",
                            "description": "The section name.",
                            "title": "Section"
                          },
                          "webPublicationDate": {
                            "type": "string",
                            "description": "The web publication date.",
                            "title": "Web Publication Date"
                          },
                          "webTitle": {
                            "type": "string",
                            "description": "The web title.",
                            "title": "Web Title"
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "The web URL address.",
                            "title": "Web URL"
                          },
                          "apiUrl": {
                            "type": "string",
                            "description": "The API URL address.",
                            "title": "API URL"
                          },
                          "isHosted": {
                            "type": "boolean",
                            "description": "Whether is hosted.",
                            "title": "Is Hosted"
                          },
                          "pillarId": {
                            "type": "string",
                            "description": "The pillar identifier.",
                            "title": "Pillar ID"
                          },
                          "pillarName": {
                            "type": "string",
                            "description": "The pillar.",
                            "title": "Pillar"
                          }
                        }
                      },
                      "title": "Results"
                    }
                  },
                  "title": "Response"
                }
              }
            }
          }
        },
        "summary": "Search content",
        "description": "Retrieve a list of matching content.",
        "operationId": "SearchContentGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The search query.",
            "required": true,
            "type": "string"
          },
          {
            "name": "query-fields",
            "in": "query",
            "x-ms-summary": "Query Fields",
            "description": "The query fields.",
            "required": false,
            "type": "string"
          },
          {
            "name": "section",
            "in": "query",
            "x-ms-summary": "Section",
            "description": "The section.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "SectionsGet",
              "value-path": "id",
              "value-collection": "response/results",
              "value-title": "webTitle"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "x-ms-summary": "Reference",
            "description": "The reference.",
            "required": false,
            "type": "string"
          },
          {
            "name": "reference-type",
            "in": "query",
            "x-ms-summary": "Reference Type",
            "description": "The reference type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "x-ms-summary": "Tag",
            "description": "The tag.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "TagsGet",
              "value-path": "id",
              "value-collection": "response/results",
              "value-title": "webTitle"
            }
          },
          {
            "name": "rights",
            "in": "query",
            "x-ms-summary": "Rights",
            "description": "The rights.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "x-ms-summary": "IDs",
            "description": "The identifiers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "production-office",
            "in": "query",
            "x-ms-summary": "Production Office",
            "description": "The production office.",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language.",
            "required": false,
            "type": "string",
            "default": "en"
          },
          {
            "name": "star-rating",
            "in": "query",
            "x-ms-summary": "Star Rating",
            "description": "The star rating.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "enum": [
              1,
              2,
              3,
              4,
              5
            ]
          },
          {
            "name": "from-date",
            "in": "query",
            "x-ms-summary": "From Date",
            "description": "The from date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to-date",
            "in": "query",
            "x-ms-summary": "To Date",
            "description": "The date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "use-date",
            "in": "query",
            "x-ms-summary": "Use Date",
            "description": "The use date.",
            "required": false,
            "type": "string",
            "enum": [
              "published",
              "first-publication",
              "newspaper-edition",
              "last-modified"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page-size",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 50
          },
          {
            "name": "order-by",
            "in": "query",
            "x-ms-summary": "Order By",
            "description": "The order by.",
            "required": false,
            "type": "string",
            "default": "relevance",
            "enum": [
              "relevance",
              "newest",
              "oldest"
            ]
          },
          {
            "name": "order-date",
            "in": "query",
            "x-ms-summary": "Order Date",
            "description": "The order date.",
            "required": false,
            "type": "string",
            "default": "published",
            "enum": [
              "published",
              "newspaper-edition",
              "last-modified"
            ]
          },
          {
            "name": "show-fields",
            "in": "query",
            "x-ms-summary": "Show Fields",
            "description": "The fields to show.",
            "required": false,
            "type": "string"
          },
          {
            "name": "trailText",
            "in": "query",
            "x-ms-summary": "Trail Text",
            "description": "The trail text.",
            "required": false,
            "type": "string"
          },
          {
            "name": "headline",
            "in": "query",
            "x-ms-summary": "Headline",
            "description": "The headline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "showInRelatedContent",
            "in": "query",
            "x-ms-summary": "Show Related Content",
            "description": "Whether to show related content.",
            "required": false,
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "body",
            "in": "query",
            "x-ms-summary": "Body",
            "description": "The body.",
            "required": false,
            "type": "string"
          },
          {
            "name": "lastModified",
            "in": "query",
            "x-ms-summary": "Last modified",
            "description": "When last modified.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hasStoryPackage",
            "in": "query",
            "x-ms-summary": "Story Package",
            "description": "Whether has story package.",
            "required": false,
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "score",
            "in": "query",
            "x-ms-summary": "Score",
            "description": "The score.",
            "required": false,
            "type": "string"
          },
          {
            "name": "standfirst",
            "in": "query",
            "x-ms-summary": "Stand First",
            "description": "The stand first.",
            "required": false,
            "type": "string"
          },
          {
            "name": "shortUrl",
            "in": "query",
            "x-ms-summary": "Short URL",
            "description": "The short URL address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "thumbnail",
            "in": "query",
            "x-ms-summary": "Thumbnail",
            "description": "The thumbnail.",
            "required": false,
            "type": "string"
          },
          {
            "name": "wordcount",
            "in": "query",
            "x-ms-summary": "Word Count",
            "description": "The word count.",
            "required": false,
            "type": "string"
          },
          {
            "name": "commentable",
            "in": "query",
            "x-ms-summary": "Commentable",
            "description": "Whether commentable.",
            "required": false,
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "isPremoderated",
            "in": "query",
            "x-ms-summary": "Premoderated",
            "description": "Whether is premoderated.",
            "required": false,
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "allowUgc",
            "in": "query",
            "x-ms-summary": "Allow UGC",
            "description": "Whether to allow user generated content (UGC).",
            "required": false,
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "byline",
            "in": "query",
            "x-ms-summary": "Byline",
            "description": "The byline.",
            "required": false,
            "type": "string"
          },
          {
            "name": "publication",
            "in": "query",
            "x-ms-summary": "Publication",
            "description": "The publication.",
            "required": false,
            "type": "string"
          },
          {
            "name": "internalPageCode",
            "in": "query",
            "x-ms-summary": "Internal Page Code",
            "description": "The internal page code.",
            "required": false,
            "type": "string"
          },
          {
            "name": "productionOffice",
            "in": "query",
            "x-ms-summary": "Production Office",
            "description": "The production office.",
            "required": false,
            "type": "string"
          },
          {
            "name": "shouldHideAdverts",
            "in": "query",
            "x-ms-summary": "Hide Adverts",
            "description": "Whether should hide adverts.",
            "required": false,
            "type": "string",
            "default": "true",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "liveBloggingNow",
            "in": "query",
            "x-ms-summary": "Live Blogging Now",
            "description": "Whether live blogging now.",
            "required": false,
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "commentCloseDate",
            "in": "query",
            "x-ms-summary": "Comment Close Date",
            "description": "The comment close date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "show-tags",
            "in": "query",
            "x-ms-summary": "Show Tags",
            "description": "The show tags.",
            "required": false,
            "type": "string",
            "enum": [
              "blog",
              "contributor",
              "keyword",
              "newspaper-book",
              "newspaper-book-section",
              "publication",
              "series",
              "tone",
              "type",
              "all"
            ]
          },
          {
            "name": "show-section",
            "in": "query",
            "x-ms-summary": "Show Section",
            "description": "Whether to show section.",
            "required": false,
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "show-blocks",
            "in": "query",
            "x-ms-summary": "Show Blocks",
            "description": "The show blocks.",
            "required": false,
            "type": "string",
            "enum": [
              "main",
              "body",
              "all",
              "body:latest",
              "body:oldest",
              "body:key-events"
            ]
          },
          {
            "name": "show-elements",
            "in": "query",
            "x-ms-summary": "Show Elements",
            "description": "The show elements.",
            "required": false,
            "type": "string",
            "enum": [
              "audio",
              "image",
              "video",
              "all"
            ]
          },
          {
            "name": "show-references",
            "in": "query",
            "x-ms-summary": "Show References",
            "description": "The show references.",
            "required": false,
            "type": "string",
            "enum": [
              "author",
              "bisac-prefix",
              "esa-cricket-match",
              "esa-football-match",
              "esa-football-team",
              "esa-football-tournament",
              "isbn",
              "imdb",
              "musicbrainz",
              "musicbrainzgenre",
              "opta-cricket-match",
              "opta-football-match",
              "opta-football-team",
              "opta-football-tournament",
              "pa-football-competition",
              "pa-football-match",
              "pa-football-team",
              "r1-film",
              "reuters-index-ric",
              "reuters-stock-ric",
              "witness-assignment"
            ]
          },
          {
            "name": "show-rights",
            "in": "query",
            "x-ms-summary": "Show Rights",
            "description": "The show rights.",
            "required": false,
            "type": "string",
            "enum": [
              "syndicatable",
              "subrscription-databases",
              "all"
            ]
          }
        ],
        "x-ms-visibility": "important",
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "SearchContentGet",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "userTier": {
                      "type": "string",
                      "description": "The user tier.",
                      "title": "User Tier"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "startIndex": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The start index.",
                      "title": "Start Index"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The page size.",
                      "title": "Page Size"
                    },
                    "currentPage": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page.",
                      "title": "Current Page"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of pages.",
                      "title": "Pages"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "webTitle": {
                            "type": "string",
                            "description": "The web title.",
                            "title": "Web Title"
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "The web URL address.",
                            "title": "Web URL"
                          },
                          "apiUrl": {
                            "type": "string",
                            "description": "The API URL address.",
                            "title": "API URL"
                          },
                          "sectionId": {
                            "type": "string",
                            "description": "The section identifier.",
                            "title": "Section ID"
                          },
                          "sectionName": {
                            "type": "string",
                            "description": "The section name.",
                            "title": "Section"
                          }
                        }
                      },
                      "title": "Results"
                    }
                  },
                  "title": "Response"
                }
              }
            }
          }
        },
        "summary": "Get tags",
        "description": "Retrieves a list of tags.",
        "operationId": "TagsGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The search query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "web-title",
            "in": "query",
            "x-ms-summary": "Web Title",
            "description": "The web title.",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "x-ms-summary": "Type",
            "description": "The type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "section",
            "in": "query",
            "x-ms-summary": "Section",
            "description": "The section.",
            "required": false,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "SectionsGet",
              "value-path": "id",
              "value-collection": "response/results",
              "value-title": "webTitle"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "x-ms-summary": "Reference",
            "description": "The reference.",
            "required": false,
            "type": "string"
          },
          {
            "name": "reference-type",
            "in": "query",
            "x-ms-summary": "Reference Type",
            "description": "The reference type.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page-size",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 50
          },
          {
            "name": "show-references",
            "in": "query",
            "x-ms-summary": "Show References",
            "description": "The show references.",
            "required": false,
            "type": "string",
            "enum": [
              "author",
              "bisac-prefix",
              "esa-cricket-match",
              "esa-football-match",
              "esa-football-team",
              "esa-football-tournament",
              "isbn",
              "imdb",
              "musicbrainz",
              "musicbrainzgenre",
              "opta-cricket-match",
              "opta-football-match",
              "opta-football-team",
              "opta-football-tournament",
              "pa-football-competition",
              "pa-football-match",
              "pa-football-team",
              "r1-film",
              "reuters-index-ric",
              "reuters-stock-ric",
              "witness-assignment"
            ]
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "TagsGet",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/sections": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "userTier": {
                      "type": "string",
                      "description": "The user tier.",
                      "title": "User Tier"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "webTitle": {
                            "type": "string",
                            "description": "The web title.",
                            "title": "Web Title"
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "The web URL address.",
                            "title": "Web URL"
                          },
                          "apiUrl": {
                            "type": "string",
                            "description": "The API URL address.",
                            "title": "API URL"
                          },
                          "editions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                },
                                "webTitle": {
                                  "type": "string",
                                  "description": "The web title.",
                                  "title": "Web Title"
                                },
                                "webUrl": {
                                  "type": "string",
                                  "description": "The web URL address.",
                                  "title": "Web URL"
                                },
                                "apiUrl": {
                                  "type": "string",
                                  "description": "The API URL address.",
                                  "title": "API URL"
                                },
                                "code": {
                                  "type": "string",
                                  "description": "The code.",
                                  "title": "Code"
                                }
                              }
                            },
                            "title": "Editions"
                          }
                        }
                      },
                      "title": "Results"
                    }
                  },
                  "title": "Response"
                }
              }
            }
          }
        },
        "summary": "Get sections",
        "description": "Retrieve a list of sections.",
        "operationId": "SectionsGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The search query.",
            "required": false,
            "type": "string"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "SectionsGet",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/editions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "userTier": {
                      "type": "string",
                      "description": "The user tier.",
                      "title": "User Tier"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "path": {
                            "type": "string",
                            "description": "The path.",
                            "title": "Path"
                          },
                          "edition": {
                            "type": "string",
                            "description": "The edition.",
                            "title": "Edition"
                          },
                          "webTitle": {
                            "type": "string",
                            "description": "The web title.",
                            "title": "Web Title"
                          },
                          "webUrl": {
                            "type": "string",
                            "description": "The web URL address.",
                            "title": "Web URL"
                          },
                          "apiUrl": {
                            "type": "string",
                            "description": "The API URL address.",
                            "title": "API URL"
                          }
                        }
                      },
                      "title": "Results"
                    }
                  },
                  "title": "Response"
                }
              }
            }
          }
        },
        "summary": "Get editions",
        "description": "Retrieve a list of editions",
        "operationId": "EditionsGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The search query.",
            "required": false,
            "type": "string"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "EditionsGet",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "userTier": {
                      "type": "string",
                      "description": "The user tier.",
                      "title": "User Tier"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "content": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "sectionId": {
                          "type": "string",
                          "description": "The section identifier.",
                          "title": "Section ID"
                        },
                        "sectionName": {
                          "type": "string",
                          "description": "The section name.",
                          "title": "Section"
                        },
                        "webPublicationDate": {
                          "type": "string",
                          "description": "The web publication date.",
                          "title": "Web Publication Date"
                        },
                        "webTitle": {
                          "type": "string",
                          "description": "The web title.",
                          "title": "Web Title"
                        },
                        "webUrl": {
                          "type": "string",
                          "description": "The web URL address.",
                          "title": "Web URL"
                        },
                        "apiUrl": {
                          "type": "string",
                          "description": "The API URL address.",
                          "title": "API URL"
                        },
                        "isHosted": {
                          "type": "boolean",
                          "description": "Whether is hosted.",
                          "title": "Is Hosted"
                        },
                        "pillarId": {
                          "type": "string",
                          "description": "The pillar identifier.",
                          "title": "Pillar ID"
                        },
                        "pillarName": {
                          "type": "string",
                          "description": "The pillar name.",
                          "title": "Pillar"
                        }
                      },
                      "title": "Content"
                    }
                  },
                  "title": "Response"
                }
              }
            }
          }
        },
        "summary": "Get item",
        "description": "Retrieve a single item.",
        "operationId": "ItemGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "ItemGet",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-openai-manifest": {
    "humanName": "The Guardian",
    "modelDescription": "This is a Copilot plugin for The Guardian content service.",
    "contactEmail": "ttaylor@hitachisolutions.com"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.theguardian.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.theguardian.com/info/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}
