{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "help@almabase.com",
      "name": "Almabase Support",
      "url": "https://docs.almabase.com"
    },
    "description": "Almabase is world's most loved alumni management software to build alumni-centric programs to increase participation, donor engagement, and host engaging online communities.\n",
    "title": "Almabase",
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "api.almabaseapp.com",
  "basePath": "/api/",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "API Key": []
    }
  ],
  "securityDefinitions": {
    "API Key": {
      "in": "header",
      "name": "X-API-ACCESS-TOKEN",
      "type": "apiKey"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://almabase.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.almabase.com/ecloud-privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "definitions": {
    "v1.FormApi.FormEntryCreatedOrUpdatedWebhookRequest": {
      "properties": {
        "callback_url": {
          "description": "Callback URL",
          "type": "string",
          "x-ms-notification-url": true,
          "x-ms-summary": "Callback URL",
          "x-ms-visibility": "internal"
        },
        "events": {
          "default": "com.almabase.customforms.customformentry.created",
          "description": "The list of events to trigger the flow.",
          "type": "string",
          "x-ms-dynamic-list": {
            "itemTitlePath": "title",
            "itemValuePath": "value",
            "operationId": "GetFormEntryMetadataWebhookEvents"
          },
          "x-ms-dynamic-values": {
            "operationId": "GetFormEntryMetadataWebhookEvents",
            "value-path": "value",
            "value-title": "title"
          },
          "x-ms-summary": "When",
          "x-ms-visibility": "important"
        },
        "object_id": {
          "description": "System generated ID to uniquely identify a form.",
          "format": "int32",
          "type": "integer",
          "x-ms-dynamic-values": {
            "operationId": "ListForms",
            "parameters": {
              "fields": [
                "id",
                "title"
              ]
            },
            "value-path": "id",
            "value-title": "title"
          },
          "x-ms-summary": "Form",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "object_id",
        "events",
        "callback_url"
      ],
      "type": "object"
    },
    "v1.FormApi.FormEntryWebhookResponse": {
      "description": "Entry webhook schema in OpenAPI 2.0 format",
      "properties": {
        "properties": {
          "properties": {
            "data": {
              "description": "Form entry webhook data schema",
              "type": "object"
            },
            "time": {
              "description": "The event time.",
              "format": "date-time",
              "type": "string",
              "x-ms-summary": "Event Triggered At"
            },
            "type": {
              "description": "The event type.",
              "enum": [
                "com.almabase.customforms.customformentry.created",
                "com.almabase.customforms.customformentry.updated"
              ],
              "type": "string",
              "x-ms-summary": "Triggered Event Type"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "v1.FormApi.FormRead": {
      "description": "Form",
      "properties": {
        "id": {
          "description": "System generated ID to uniquely identify a form.",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "title": {
          "description": "The name of the form",
          "type": "string",
          "x-ms-summary": "Form Name"
        }
      },
      "type": "object"
    },
    "v1.FormApi.FormEntryAdd": {
      "description": "Entry webhook schema in OpenAPI 2.0 (swagger) format",
      "type": "object"
    },
    "v1.GivingApi.GiftWebhookRecordRead": {
      "description": "Record",
      "properties": {
        "external_database_id": {
          "description": "A system assigned unique ID for the record by the external database. e.g. System Record ID for Raiser Edge NXT, Contact Id for Salesforce\n",
          "type": "string",
          "x-ms-summary": "External Database ID"
        },
        "first_name": {
          "description": "First name of the mapped record",
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "id": {
          "description": "System generated ID to uniquely identify a record.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "is_registered": {
          "description": "Indicate if the mapped record or donor registered on Almabase",
          "type": "boolean",
          "x-ms-summary": "Is Donor Registered on Almabase?"
        },
        "last_name": {
          "description": "Last name of the mapped record",
          "type": "string",
          "x-ms-summary": "Last Name"
        }
      },
      "type": "object"
    },
    "v1.GivingApi.GiftSucceededOrFailedWebhookRequest": {
      "properties": {
        "callback_url": {
          "description": "callback_url",
          "title": "Callback URL",
          "type": "string",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        },
        "events": {
          "default": "com.almabase.giving.gift.succeeded",
          "description": "The list of events to trigger the flow.",
          "type": "string",
          "x-ms-dynamic-list": {
            "itemTitlePath": "title",
            "itemValuePath": "value",
            "operationId": "GetGiftMetadataWebhookEvents"
          },
          "x-ms-dynamic-values": {
            "operationId": "GetGiftMetadataWebhookEvents",
            "value-path": "value",
            "value-title": "title"
          },
          "x-ms-summary": "When",
          "x-ms-visibility": "important"
        },
        "object_id": {
          "description": "System generated ID to uniquely identify a giving page.",
          "format": "int32",
          "type": "integer",
          "x-ms-dynamic-values": {
            "operationId": "ListGivingPages",
            "parameters": {
              "fields": [
                "id",
                "name"
              ]
            },
            "value-path": "id",
            "value-title": "name"
          },
          "x-ms-summary": "Giving Page",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "events",
        "callback_url"
      ],
      "type": "object"
    },
    "v1.GivingApi.GiftWebhookResponse": {
      "properties": {
        "data": {
          "description": "The event data.",
          "properties": {
            "amount": {
              "description": "The gift amount with two decimals.",
              "example": "10.00",
              "type": "string",
              "x-ms-summary": "Amount"
            },
            "completed_at": {
              "description": "The date when the status of the gift is marked as completed.",
              "format": "date-time",
              "type": "string",
              "x-ms-summary": "Date"
            },
            "email": {
              "description": "Email ID used by the donor for the gift.",
              "format": "email",
              "type": "string",
              "x-ms-summary": "Donor Email"
            },
            "external_database_id": {
              "description": "A system assigned unique ID for the gift by the external database.\n",
              "type": "string",
              "x-ms-summary": "External Database ID",
              "x-ms-visibility": "advanced"
            },
            "id": {
              "description": "System generated ID to uniquely identify a gift.",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "ID"
            },
            "is_email_new": {
              "description": "Indicates if the email provided by donor already exists on Almabase records.",
              "type": "boolean",
              "x-ms-summary": "Is New Email?"
            },
            "mapped_profile": {
              "description": "Mapped Record on Almabase.",
              "properties": {
                "schema": {
                  "$ref": "#/definitions/v1.GivingApi.GiftWebhookRecordRead"
                }
              },
              "type": "object",
              "x-ms-summary": "Mapped Record"
            },
            "mode": {
              "description": "Mode of the gift.",
              "type": "string",
              "x-ms-summary": "Mode"
            },
            "name": {
              "description": "Full name of the donor.",
              "type": "string",
              "x-ms-summary": "Donor Name"
            },
            "page": {
              "description": "Giving Page associated with the Gift",
              "properties": {
                "id": {
                  "description": "System generated ID to uniquely identify a giving page.",
                  "format": "int32",
                  "type": "integer",
                  "x-ms-summary": "ID"
                },
                "name": {
                  "description": "Name of the associated giving page",
                  "type": "string",
                  "x-ms-summary": "Giving Page Name"
                }
              },
              "type": "object",
              "x-ms-summary": "Giving Page"
            },
            "status": {
              "description": "Status of the gift.",
              "type": "string",
              "x-ms-summary": "Status"
            }
          },
          "type": "object",
          "x-ms-summary": "Gift"
        },
        "time": {
          "description": "The event time.",
          "type": "string",
          "x-ms-summary": "Event Triggered At"
        },
        "type": {
          "description": "The event type.",
          "type": "string",
          "x-ms-summary": "Event Type"
        }
      },
      "type": "object"
    },
    "v1.GivingApi.GooglePlace": {
      "properties": {
        "coordinates": {
          "type": "string"
        },
        "gpid": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "format": "int32",
          "type": "integer"
        }
      },
      "required": [
        "name"
      ],
      "title": "GooglePlace",
      "type": "object"
    },
    "v1.GivingApi.FieldEntry": {
      "properties": {
        "custom_data": {
          "type": "object"
        },
        "display_value": {
          "type": "string"
        },
        "field_id": {
          "type": "string"
        },
        "field_type": {
          "type": "string"
        },
        "google_place": {
          "$ref": "#/definitions/v1.GivingApi.GooglePlace"
        },
        "label": {
          "type": "string"
        },
        "slug": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "required": [
        "field_id"
      ],
      "title": "FieldEntry",
      "type": "object"
    },
    "v1.GivingApi.FormEntryAddOrEdit": {
      "properties": {
        "entry_time": {
          "format": "date-time",
          "type": "string"
        },
        "field_entries": {
          "items": {
            "$ref": "#/definitions/v1.GivingApi.FieldEntry"
          },
          "type": "array"
        },
        "form_id": {
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "user": {
          "properties": {
            "email": {
              "maxLength": 254,
              "type": "string"
            },
            "id": {
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "required": [
        "form_id",
        "field_entries"
      ],
      "title": "FormEntry",
      "type": "object"
    },
    "v1.GivingApi.FormFieldRead": {
      "description": "Form Field",
      "properties": {
        "display_value": {
          "description": "The formatted value entered by responders. e.g. Name of the File Upload.",
          "type": "string",
          "x-ms-summary": "Value"
        },
        "label": {
          "description": "The question/form field name on the form",
          "type": "string",
          "x-ms-summary": "Question/Form Field Name"
        }
      },
      "type": "object"
    },
    "v1.GivingApi.FundAddOrEdit": {
      "description": "The fund associated with the gift split.",
      "properties": {
        "external_database_id": {
          "description": "A system assigned unique ID for the fund by the external database. e.g. System Record ID for Raiser Edge NXT, Object Id for Salesforce\n",
          "type": "string",
          "x-ms-summary": "External Database ID"
        },
        "is_default": {
          "default": false,
          "description": "Indicates to associated all the splits to this fund if no other funds are defined on Giving Page.",
          "type": "boolean",
          "x-ms-summary": "Is default fund?"
        },
        "is_other_fund": {
          "default": false,
          "description": "Indicates that the donors of this fund have given custom fund name.",
          "type": "boolean",
          "x-ms-summary": "Is Other Fund?",
          "x-ms-visibility": "advanced"
        },
        "name": {
          "description": "Name of the fund",
          "type": "string",
          "x-ms-summary": "Fund Name"
        }
      },
      "required": [
        "name"
      ],
      "type": "object",
      "x-ms-summary": "Fund"
    },
    "v1.GivingApi.FundRead": {
      "description": "The fund associated with the gift split.",
      "properties": {
        "external_database_id": {
          "description": "A system assigned unique ID for the fund by the external database. e.g. System Record ID for Raiser Edge NXT, Object Id for Salesforce\n",
          "type": "string",
          "x-ms-summary": "External Database ID"
        },
        "external_database_lookup_id": {
          "description": "Lookup Name of the fund",
          "type": "string",
          "x-ms-summary": "Lookup Name"
        },
        "id": {
          "description": "System generated ID to uniquely identify a fund.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "is_default": {
          "description": "Indicates to associated all the splits to this fund if no other funds are defined on Giving Page.",
          "type": "boolean",
          "x-ms-summary": "Is default fund?"
        },
        "is_other_fund": {
          "description": "Indicates that the donors of this fund have given custom fund name.",
          "type": "boolean",
          "x-ms-summary": "Is Other Fund?"
        },
        "name": {
          "description": "Name of the fund",
          "type": "string",
          "x-ms-summary": "Name"
        }
      },
      "type": "object",
      "x-ms-summary": "Fund"
    },
    "v1.GivingApi.GiftAdd": {
      "description": "Gift",
      "properties": {
        "amount": {
          "description": "The gift amount with two decimals.",
          "example": "10.00",
          "type": "string",
          "x-ms-summary": "Gift Amount",
          "x-ms-visibility": "important"
        },
        "batch_number": {
          "description": "The batch number of the gift.",
          "type": "string",
          "x-ms-summary": "Batch Number",
          "x-ms-visibility": "advanced"
        },
        "completed_at": {
          "description": "The date when the status of the gift is marked as completed.",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Gift Date",
          "x-ms-visibility": "important"
        },
        "currency": {
          "default": 1,
          "description": "Currency used by the donor for the gift.",
          "format": "int32",
          "type": "integer",
          "x-ms-dynamic-list": {
            "itemTitlePath": "title",
            "itemValuePath": "value",
            "operationId": "GetGiftMetadataGiftCurrencies"
          },
          "x-ms-dynamic-values": {
            "operationId": "GetGiftMetadataGiftCurrencies",
            "value-path": "value",
            "value-title": "title"
          },
          "x-ms-summary": "Currency",
          "x-ms-visibility": "important"
        },
        "donor_address_line1": {
          "description": "The address line 1 used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Address: Line 1",
          "x-ms-visibility": "important"
        },
        "donor_address_line2": {
          "description": "The address line 2 used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Address: Line 2",
          "x-ms-visibility": "important"
        },
        "donor_city_place": {
          "$ref": "#/definitions/v1.GivingApi.LocationAdd"
        },
        "donor_email": {
          "description": "Email ID used by the donor for the gift.",
          "format": "email",
          "type": "string",
          "x-ms-summary": "Donor Email",
          "x-ms-visibility": "important"
        },
        "donor_name": {
          "description": "Full name of the donor.",
          "type": "string",
          "x-ms-summary": "Donor Name",
          "x-ms-visibility": "important"
        },
        "donor_phone_number": {
          "description": "Phone Number used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Phone Number",
          "x-ms-visibility": "advanced"
        },
        "donor_zip_code": {
          "description": "The zip code of the address used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Address: Zip Code",
          "x-ms-visibility": "important"
        },
        "exclude_from_leaderboard": {
          "default": false,
          "description": "Is hidden from Leaderboard?",
          "type": "boolean",
          "x-ms-summary": "Is hidden from Leaderboard?",
          "x-ms-visibility": "advanced"
        },
        "external_database_id": {
          "description": "A system assigned unique ID for the gift by the external database.\n",
          "type": "string",
          "x-ms-summary": "External Database ID",
          "x-ms-visibility": "advanced"
        },
        "honor_message": {
          "description": "A message for a gift tribute.",
          "type": "string",
          "x-ms-summary": "Tribute Message",
          "x-ms-visibility": "advanced"
        },
        "honor_prefix": {
          "description": "A prefix for a gift tribute. Available options are in_honor_of, in_memory_of, in_support_of",
          "type": "string",
          "x-ms-dynamic-list": {
            "itemTitlePath": "title",
            "itemValuePath": "value",
            "operationId": "GetGiftMetadataGiftHonorPrefix"
          },
          "x-ms-dynamic-values": {
            "operationId": "GetGiftMetadataGiftHonorPrefix",
            "value-path": "value",
            "value-title": "title"
          },
          "x-ms-summary": "Tribute Prefix",
          "x-ms-visibility": "advanced"
        },
        "is_anonymous": {
          "description": "Indicates the wish of donor be be anonymous to other donors for this gift.",
          "type": "boolean",
          "x-ms-summary": "Is Anonymous?",
          "x-ms-visibility": "important"
        },
        "mode": {
          "description": "Mode of Payment, either online or offline.",
          "type": "string",
          "x-ms-dynamic-list": {
            "itemTitlePath": "title",
            "itemValuePath": "value",
            "operationId": "GetGiftMetadataGiftModes"
          },
          "x-ms-dynamic-values": {
            "operationId": "GetGiftMetadataGiftModes",
            "value-path": "value",
            "value-title": "title"
          },
          "x-ms-summary": "Mode of Payment"
        },
        "note": {
          "description": "The note text.",
          "type": "string",
          "x-ms-summary": "Note",
          "x-ms-visibility": "advanced"
        },
        "other_fund_name": {
          "description": "When the donor selects a fund that's marked as is_other_fund, they add a custom fund name to attribute the gift.\n",
          "type": "string",
          "x-ms-summary": "Other Fund Name",
          "x-ms-visibility": "advanced"
        },
        "page": {
          "description": "The giving page associated with the gift.",
          "properties": {
            "id": {
              "description": "System generated ID to uniquely identify a giving page.",
              "format": "int32",
              "type": "integer",
              "x-ms-dynamic-values": {
                "operationId": "ListGivingPages",
                "parameters": {
                  "fields": [
                    "id",
                    "name"
                  ]
                },
                "value-path": "id",
                "value-title": "name"
              },
              "x-ms-summary": "Giving Page",
              "x-ms-visibility": "important"
            }
          },
          "type": "object",
          "x-ms-visibility": "important"
        },
        "pre_payment_form_entry": {
          "$ref": "#/definitions/v1.GivingApi.FormEntryAddOrEdit"
        },
        "profile": {
          "$ref": "#/definitions/v1.GivingApi.RecordAddOrEdit"
        },
        "splits": {
          "description": "The splits associated with the gift.",
          "items": {
            "$ref": "#/definitions/v1.GivingApi.GiftSplitAddOrEdit"
          },
          "type": "array",
          "x-ms-summary": "Splits",
          "x-ms-visibility": "important"
        },
        "status": {
          "default": "completed",
          "description": "Status of the gift.",
          "type": "string",
          "x-ms-dynamic-list": {
            "itemTitlePath": "title",
            "itemValuePath": "value",
            "operationId": "GetGiftMetadataGiftStatus"
          },
          "x-ms-dynamic-values": {
            "operationId": "GetGiftMetadataGiftStatus",
            "value-path": "value",
            "value-title": "title"
          },
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "donor_name",
        "completed_at",
        "amount",
        "status",
        "mode",
        "currency",
        "splits",
        "donor_email",
        "page"
      ],
      "type": "object"
    },
    "v1.GivingApi.GiftEdit": {
      "description": "Gift",
      "properties": {
        "batch_number": {
          "description": "The batch number of the gift.",
          "type": "string",
          "x-ms-summary": "Batch Number",
          "x-ms-visibility": "advanced"
        },
        "donor_address_line1": {
          "description": "The address line 1 used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Address: Line 1",
          "x-ms-visibility": "important"
        },
        "donor_address_line2": {
          "description": "The address line 2 used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Address: Line 2",
          "x-ms-visibility": "important"
        },
        "donor_city_place": {
          "$ref": "#/definitions/v1.GivingApi.LocationAdd"
        },
        "donor_name": {
          "description": "Full name of the donor.",
          "type": "string",
          "x-ms-summary": "Donor Name",
          "x-ms-visibility": "important"
        },
        "donor_phone_number": {
          "description": "Phone Number used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Phone Number",
          "x-ms-visibility": "advanced"
        },
        "donor_zip_code": {
          "description": "The zip code of the address used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Address: Zip Code",
          "x-ms-visibility": "important"
        },
        "exclude_from_leaderboard": {
          "description": "Is hidden from Leaderboard?",
          "type": "boolean",
          "x-ms-summary": "Is hidden from Leaderboard?",
          "x-ms-visibility": "advanced"
        },
        "external_database_id": {
          "description": "A system assigned unique ID for the gift by the external database.\n",
          "type": "string",
          "x-ms-summary": "External Database ID",
          "x-ms-visibility": "advanced"
        },
        "honor_message": {
          "description": "A message for a gift tribute.",
          "type": "string",
          "x-ms-summary": "Tribute Message",
          "x-ms-visibility": "advanced"
        },
        "honor_prefix": {
          "description": "A prefix for a gift tribute. Available options are in_honor_of, in_memory_of, in_support_of",
          "type": "string",
          "x-ms-dynamic-list": {
            "itemTitlePath": "title",
            "itemValuePath": "value",
            "operationId": "GetGiftMetadataGiftHonorPrefix"
          },
          "x-ms-dynamic-values": {
            "operationId": "GetGiftMetadataGiftHonorPrefix",
            "value-path": "value",
            "value-title": "title"
          },
          "x-ms-summary": "Tribute Prefix",
          "x-ms-visibility": "advanced"
        },
        "is_anonymous": {
          "description": "Indicates the wish of donor be be anonymous to other donors for this gift.",
          "type": "boolean",
          "x-ms-summary": "Is Anonymous?",
          "x-ms-visibility": "important"
        },
        "note": {
          "description": "The note text.",
          "type": "string",
          "x-ms-summary": "Note",
          "x-ms-visibility": "advanced"
        },
        "other_fund_name": {
          "description": "When the donor selects a fund that's marked as is_other_fund, they add a custom fund name to attribute the gift.\n",
          "type": "string",
          "x-ms-summary": "Other Fund Name",
          "x-ms-visibility": "advanced"
        },
        "page": {
          "description": "The giving page associated with the gift.",
          "properties": {
            "id": {
              "description": "System generated ID to uniquely identify a giving page.",
              "format": "int32",
              "type": "integer",
              "x-ms-dynamic-values": {
                "operationId": "ListGivingPages",
                "parameters": {
                  "fields": [
                    "id",
                    "name"
                  ]
                },
                "value-path": "id",
                "value-title": "name"
              },
              "x-ms-summary": "Giving Page",
              "x-ms-visibility": "important"
            }
          },
          "type": "object",
          "x-ms-visibility": "important"
        },
        "profile": {
          "$ref": "#/definitions/v1.GivingApi.RecordAddOrEdit"
        },
        "splits": {
          "description": "The splits associated with the gift.",
          "items": {
            "$ref": "#/definitions/v1.GivingApi.GiftSplitAddOrEdit"
          },
          "type": "array",
          "x-ms-summary": "Splits",
          "x-ms-visibility": "important"
        }
      },
      "type": "object"
    },
    "v1.GivingApi.GiftRead": {
      "description": "Gift",
      "properties": {
        "amount": {
          "description": "The gift amount with two decimals.",
          "example": "10.00",
          "type": "string",
          "x-ms-summary": "Gift Amount"
        },
        "batch_number": {
          "description": "The batch number of the gift.",
          "type": "string",
          "x-ms-summary": "Batch Number",
          "x-ms-visibility": "advanced"
        },
        "completed_at": {
          "description": "The date when the status of the gift is marked as completed.",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Gift Date"
        },
        "currency": {
          "description": "Currency used by the donor for the gift.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Currency"
        },
        "device": {
          "description": "Identify the device used to make the gift, e.g. pc, mobile or tablet.",
          "readOnly": true,
          "type": "string",
          "x-ms-summary": "Device"
        },
        "donor_address_line1": {
          "description": "The address line 1 used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Address: Line 1"
        },
        "donor_address_line2": {
          "description": "The address line 2 used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Address: Line 2"
        },
        "donor_city_place": {
          "$ref": "#/definitions/v1.GivingApi.LocationRead"
        },
        "donor_email": {
          "description": "Email ID used by the donor for the gift.",
          "format": "email",
          "type": "string",
          "x-ms-summary": "Donor Email"
        },
        "donor_name": {
          "description": "Full name of the donor.",
          "type": "string",
          "x-ms-summary": "Donor Name"
        },
        "donor_phone_number": {
          "description": "Phone Number used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Phone Number"
        },
        "donor_zip_code": {
          "description": "The zip code of the address used by the donor for the gift.",
          "type": "string",
          "x-ms-summary": "Donor Address: Zip Code"
        },
        "exclude_from_leaderboard": {
          "default": false,
          "description": "Is hidden from Leaderboard?",
          "type": "boolean",
          "x-ms-summary": "Is hidden from Leaderboard?"
        },
        "external_database_id": {
          "description": "A system assigned unique ID for the gift by the external database.\n",
          "type": "string",
          "x-ms-summary": "External Database ID",
          "x-ms-visibility": "advanced"
        },
        "honor_message": {
          "description": "A message for a gift tribute.",
          "type": "string",
          "x-ms-summary": "Tribute Message"
        },
        "honor_prefix": {
          "description": "A prefix for a gift tribute. Available options are in_honor_of, in_memory_of, in_support_of",
          "enum": [
            "in_honor_of",
            "in_memory_of",
            "in_support_of"
          ],
          "type": "string",
          "x-ms-summary": "Tribute Prefix"
        },
        "id": {
          "description": "System generated ID to uniquely identify a gift.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "influencer": {
          "$ref": "#/definitions/v1.GivingApi.InfluencerRead"
        },
        "is_anonymous": {
          "description": "Indicates the wish of donor be be anonymous to other donors for this gift.",
          "type": "boolean",
          "x-ms-summary": "Is Anonymous?"
        },
        "is_donor_covered_charges": {
          "default": false,
          "description": "Indicates if the donor has opted to cover the payment gateway charges when making the this gift?",
          "type": "boolean",
          "x-ms-summary": "Has donor covered the payment gateway charges?"
        },
        "is_email_added_to_profile": {
          "description": "Indicates if the email provided by donor is added on Almabase record (irrespective of is_email_new status)\n",
          "readOnly": true,
          "type": "boolean",
          "x-ms-summary": "Is Email Added to a Record on Almabase?"
        },
        "is_email_new": {
          "description": "Indicates if the email provided by donor already exists on Almabase records.",
          "readOnly": true,
          "type": "boolean",
          "x-ms-summary": "Is New Email?"
        },
        "is_profile_mapping_ignored": {
          "default": false,
          "description": "Indicates if the record mapping should be ignored.",
          "type": "boolean",
          "x-ms-summary": "Is Mapping to a Record on Almabase Ignored?"
        },
        "mode": {
          "description": "Mode of Payment, either online or offline.",
          "enum": [
            "online",
            "offline",
            "offline_cheque",
            "offline_wire_transfer",
            "offline_cash",
            "offline_demand_draft"
          ],
          "type": "string",
          "x-ms-summary": "Mode of Payment"
        },
        "note": {
          "description": "The note text.",
          "type": "string",
          "x-ms-summary": "Note"
        },
        "other_fund_name": {
          "description": "When the donor selects a fund that's marked as is_other_fund, they add a custom fund name to attribute the gift.\n",
          "type": "string",
          "x-ms-summary": "Other Fund Name"
        },
        "page": {
          "$ref": "#/definitions/v1.GivingApi.GivingPageAssociatedWithGift"
        },
        "post_payment_form_entry": {
          "description": "The responses of the form filled after the gift payment.",
          "properties": {
            "fields": {
              "items": {
                "$ref": "#/definitions/v1.GivingApi.FormFieldRead"
              },
              "type": "array",
              "x-ms-summary": "Fields"
            },
            "id": {
              "description": "System generated ID to uniquely identify a form submission.",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Response ID"
            }
          },
          "type": "object",
          "x-ms-summary": "Post-Payment Form"
        },
        "pre_payment_form_entry": {
          "description": "The responses of the form filled prior to gift payment.",
          "properties": {
            "fields": {
              "items": {
                "$ref": "#/definitions/v1.GivingApi.FormFieldRead"
              },
              "type": "array",
              "x-ms-summary": "Fields"
            },
            "id": {
              "description": "System generated ID to uniquely identify a form submission.",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "Response ID"
            }
          },
          "type": "object",
          "x-ms-summary": "Pre-Payment Form"
        },
        "profile": {
          "$ref": "#/definitions/v1.GivingApi.RecordRead"
        },
        "referrer_link": {
          "description": "The website link to identify the source of how the donor visit. e.g. Donor visited the Giving campaign from Facebook, Google, etc.\n",
          "readOnly": true,
          "type": "string",
          "x-ms-summary": "Referrer Link"
        },
        "refund_amount": {
          "description": "The amount refunded to the donor. If the whole amount is refunded, the status of the gift would be refunded instead of completed.\n",
          "type": "string",
          "x-ms-summary": "Refund Amount"
        },
        "splits": {
          "description": "The splits associated with the gift.",
          "items": {
            "$ref": "#/definitions/v1.GivingApi.GiftSplitRead"
          },
          "type": "array",
          "x-ms-summary": "Splits"
        },
        "status": {
          "description": "Status of the gift.",
          "type": "string",
          "x-ms-summary": "Status"
        },
        "transaction": {
          "$ref": "#/definitions/v1.GivingApi.TransactionRead"
        },
        "utm_campaign": {
          "description": "Used for keyword analysis. utm_campaign identify a specific product promotion or strategic campaign. e.g. annual_fund_2020\n",
          "type": "string",
          "x-ms-summary": "UTM Campaign"
        },
        "utm_medium": {
          "description": "utm_medium identify a medium such as email or cost-per- click. e.g. cpc",
          "type": "string",
          "x-ms-summary": "UTM Medium"
        },
        "utm_source": {
          "description": "utm_source identify a search engine, newsletter name, or other source. e.g. Google",
          "type": "string",
          "x-ms-summary": "UTM Source"
        }
      },
      "type": "object"
    },
    "v1.GivingApi.GiftSplitAddOrEdit": {
      "description": "Gift Split",
      "properties": {
        "amount": {
          "description": "The amount of the gift split.",
          "type": "string",
          "x-ms-summary": "Amount"
        },
        "fund": {
          "description": "The fund associated with the gift split.",
          "properties": {
            "id": {
              "description": "System generated ID to uniquely identify a fund.",
              "format": "int32",
              "type": "integer",
              "x-ms-dynamic-values": {
                "operationId": "ListFunds",
                "parameters": {
                  "fields": [
                    "id",
                    "name"
                  ]
                },
                "value-path": "id",
                "value-title": "name"
              },
              "x-ms-summary": "Fund",
              "x-ms-visibility": "important"
            }
          },
          "required": [
            "id"
          ],
          "type": "object",
          "x-ms-summary": "Fund"
        }
      },
      "required": [
        "fund",
        "amount"
      ],
      "type": "object"
    },
    "v1.GivingApi.GiftSplitRead": {
      "description": "Gift Split",
      "properties": {
        "amount": {
          "description": "The amount of the gift split.",
          "type": "string",
          "x-ms-summary": "Amount"
        },
        "fund": {
          "$ref": "#/definitions/v1.GivingApi.FundRead"
        },
        "id": {
          "description": "System generated ID to uniquely identify a gift split.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        }
      },
      "type": "object"
    },
    "v1.GivingApi.GivingPageAssociatedWithGift": {
      "description": "The giving page associated with the gift.",
      "properties": {
        "id": {
          "description": "System generated ID to uniquely identify a giving page.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "name": {
          "description": "Name of the associated Giving Page.",
          "readOnly": true,
          "type": "string",
          "x-ms-summary": "Name"
        }
      },
      "type": "object",
      "x-ms-summary": "Giving Page"
    },
    "v1.GivingApi.GivingPageRead": {
      "description": "Giving Page",
      "properties": {
        "id": {
          "description": "System generated ID to uniquely identify a giving page.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "name": {
          "description": "Name of the giving page",
          "type": "string",
          "x-ms-summary": "Name"
        }
      },
      "type": "object"
    },
    "v1.GivingApi.InfluencerRead": {
      "description": "The public share link and private dashboard link",
      "properties": {
        "dashboard_url": {
          "description": "The private dashboard of the donor to monitor the number of page visits and gifts influenced by them\n",
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Private Influencer Dashboard Link"
        },
        "page_share_url": {
          "description": "The public link of giving page/campaign of donor to track the influence on visits to Giving Page and the gifts.\n",
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Public Share Link"
        }
      },
      "type": "object",
      "x-ms-summary": "Influencer"
    },
    "v1.GivingApi.LocationAdd": {
      "description": "The city used by the donor for the gift.",
      "properties": {
        "name": {
          "description": "The city of of the donor. Format: City Name, Short State Name, Short Country Name",
          "example": "San Francisco, CA, USA",
          "type": "string",
          "x-ms-summary": "Name: City, State, Country"
        }
      },
      "type": "object",
      "x-ms-summary": "Donor Address: Location",
      "x-ms-visibility": "important"
    },
    "v1.GivingApi.LocationRead": {
      "description": "The city used by the donor for the gift.",
      "properties": {
        "city": {
          "description": "The city of the donor",
          "example": "San Francisco",
          "readOnly": true,
          "type": "string",
          "x-ms-summary": "City"
        },
        "city_short_name": {
          "description": "The short representation of the City, e.g. SF",
          "example": "SF",
          "readOnly": true,
          "type": "string",
          "x-ms-summary": "City Short Name"
        },
        "coordinates": {
          "properties": {
            "latitude": {
              "description": "The latitude of the location",
              "example": "37.7749295",
              "readOnly": true,
              "type": "string",
              "x-ms-summary": "Latitude"
            },
            "longitude": {
              "description": "The longitude of the location",
              "example": "-122.4194155",
              "readOnly": true,
              "type": "string",
              "x-ms-summary": "Longitude"
            }
          },
          "readOnly": true,
          "type": "object"
        },
        "country": {
          "description": "The country of the donor",
          "example": "United States",
          "readOnly": true,
          "type": "string",
          "x-ms-summary": "Country"
        },
        "country_short_name": {
          "description": "The short representation of the country, e.g. US",
          "example": "US",
          "readOnly": true,
          "type": "string",
          "x-ms-summary": "Country Short Name"
        },
        "gpid": {
          "description": "The place id obtained from Google",
          "type": "string",
          "x-ms-summary": "Google Place Id"
        },
        "name": {
          "description": "The city of of the donor. Format: City Name, Short State Name, Short Country Name",
          "example": "San Francisco, CA, USA",
          "type": "string",
          "x-ms-summary": "City, State, Country"
        },
        "state": {
          "description": "The state of the donor",
          "example": "California",
          "readOnly": true,
          "type": "string",
          "x-ms-summary": "State"
        },
        "state_short_name": {
          "description": "The short representation of the state, e.g. CA",
          "example": "CA",
          "readOnly": true,
          "type": "string",
          "x-ms-summary": "State Short Name"
        }
      },
      "type": "object",
      "x-ms-summary": "Donor Address: Location"
    },
    "v1.GivingApi.PaymentAccountRead": {
      "description": "The payment account associated with the transaction, e.g. BBMS, Stripe, Paypal, etc.",
      "properties": {
        "id": {
          "description": "System generated ID to uniquely identify a payment account.",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "name": {
          "description": "The name of the payment account.",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "type": {
          "description": "The name of the payment gateway.",
          "type": "string",
          "x-ms-summary": "Gateway"
        }
      },
      "type": "object",
      "x-ms-summary": "Payment Account"
    },
    "v1.GivingApi.RecordAddOrEdit": {
      "description": "Mapped Record on Almabase. NOTE: The gift would be automatically mapped to a record with the email address same as donor email. x-ms-summary: Mapped Record\n",
      "properties": {
        "id": {
          "description": "System generated ID to uniquely identify a record.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        }
      },
      "type": "object",
      "x-ms-summary": "Mapped Record",
      "x-ms-visibility": "advanced"
    },
    "v1.GivingApi.RecordRead": {
      "description": "Mapped Record on Almabase",
      "properties": {
        "external_database_id": {
          "description": "A system assigned unique ID for the record by the external database. e.g. System Record ID for Raiser Edge NXT, Contact Id for Salesforce\n",
          "type": "string",
          "x-ms-summary": "External Database ID"
        },
        "first_name": {
          "description": "First name of the mapped record",
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "formatted_name": {
          "description": "Full name of the mapped record",
          "type": "string",
          "x-ms-summary": "Full Name"
        },
        "id": {
          "description": "System generated ID to uniquely identify a record.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "is_registered": {
          "description": "Indicate if the mapped record or donor registered on Almabase",
          "type": "boolean",
          "x-ms-summary": "Is Donor Registered on Almabase?"
        },
        "last_name": {
          "description": "Last name of the mapped record",
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "present_picture": {
          "description": "The url of the record picture",
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Picture URL"
        },
        "profile_url": {
          "description": "The record link on Almabase",
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Link"
        }
      },
      "type": "object",
      "x-ms-summary": "Mapped Record"
    },
    "v1.GivingApi.RecurringGiftAssociatedWithGift": {
      "description": "Recurring Gift",
      "properties": {
        "id": {
          "description": "System generated ID to uniquely identify a recurring gift.",
          "type": "integer",
          "x-ms-summary": "ID"
        }
      },
      "type": "object"
    },
    "v1.GivingApi.TransactionRead": {
      "description": "The online payment transaction associated with the gift.",
      "properties": {
        "account": {
          "$ref": "#/definitions/v1.GivingApi.PaymentAccountRead"
        },
        "amount_charged": {
          "description": "The amount charged by the Payment Gateway and Almabase for the online transaction.",
          "type": "number",
          "x-ms-summary": "Transaction Fees (Amount Charged by Payment Gateway & Almabase)"
        },
        "amount_refunded": {
          "description": "The amount refunded for the online transaction.",
          "type": "string",
          "x-ms-summary": "Refund Amount"
        },
        "created_at": {
          "description": "The time of creating of this transaction.",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Created at"
        },
        "currency": {
          "description": "Currency used by the donor for the online transaction.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "Currency"
        },
        "failure_reason": {
          "description": "The transaction failure reason returned by the payment gateway.",
          "type": "string",
          "x-ms-summary": "Failure Reason"
        },
        "id": {
          "description": "System generated ID to uniquely identify a transaction.",
          "format": "uuid",
          "type": "string",
          "x-ms-summary": "ID"
        },
        "receipt_amount": {
          "description": "The amount after reducing charges for the online transaction.",
          "type": "string",
          "x-ms-summary": "Receipt Amount"
        },
        "status": {
          "description": "Status of the transaction. - 1 (Unprocessed) - 2 (Succeeded) - 3 (Failed) - 4 (Pending) - 5 (Error)\nNOTE: These status are associated with the status of transaction by the Payment Gateway\n",
          "enum": [
            1,
            2,
            3,
            4,
            5
          ],
          "type": "integer",
          "x-ms-summary": "Status"
        },
        "transaction_id": {
          "description": "The unique ID generated by the payment gateway to identify the transaction. e.g. Blackbaud Merchant Services (BBMS) transaction ID, or Stripe Charge ID, Paypal transaction ID\n",
          "type": "string",
          "x-ms-summary": "Payment Gateway Reference ID"
        }
      },
      "type": "object",
      "x-ms-summary": "Online Transaction"
    },
    "v1.AlmasightsApi.RecordRead": {
      "description": "Record on Almabase.",
      "properties": {
        "external_database_id": {
          "description": "A system assigned unique ID for the record by the external database. e.g. System Record ID for Raiser Edge NXT, Contact Id for Salesforce\n",
          "type": "string",
          "x-ms-summary": "External Database ID"
        },
        "first_name": {
          "description": "First name of the mapped record",
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "formatted_name": {
          "description": "Full name of the mapped record",
          "type": "string",
          "x-ms-summary": "Full Name"
        },
        "id": {
          "description": "System generated ID to uniquely identify a record.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "is_registered": {
          "description": "Indicate if the mapped record or donor registered on Almabase",
          "type": "boolean",
          "x-ms-summary": "Is Donor Registered on Almabase?"
        },
        "last_name": {
          "description": "Last name of the mapped record",
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "present_picture": {
          "description": "The url of the record picture",
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Picture URL"
        },
        "profile_url": {
          "description": "The record link on Almabase",
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Link"
        }
      },
      "type": "object",
      "x-ms-summary": "Record",
      "x-ms-visibility": "important"
    },
    "v1.AlmasightsApi.RecordAddOrEdit": {
      "description": "Record on Almabase.",
      "properties": {
        "id": {
          "description": "System generated ID to uniquely identify a record.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        }
      },
      "type": "object",
      "x-ms-summary": "Record",
      "x-ms-visibility": "important"
    },
    "v1.AlmasightsApi.TouchpointCustomObjectAdd": {
      "description": "Touchpoint body to create a new touchpoint",
      "properties": {
        "email": {
          "description": "Email ID used for the activity.",
          "format": "email",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "mapped_profile": {
          "$ref": "#/definitions/v1.AlmasightsApi.RecordAddOrEdit"
        },
        "recorded_at": {
          "description": "The timestamp of the activity.",
          "example": "2018-03-20T09:12:28Z",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Recorded At",
          "x-ms-visibility": "important"
        },
        "touchpoint_type": {
          "description": "Describe the activity, must start with a verd and use past tense.",
          "properties": {
            "id": {
              "format": "int32",
              "type": "integer",
              "x-ms-dynamic-list": {
                "itemTitlePath": "name",
                "itemValuePath": "id",
                "operationId": "ListTouchpointTypes",
                "parameters": {
                  "fields": {
                    "value": [
                      "id",
                      "name"
                    ]
                  },
                  "touchpoint_program": {
                    "parameterReference": "touchpoint_program"
                  }
                }
              },
              "x-ms-dynamic-values": {
                "operationId": "ListTouchpointTypes",
                "parameters": {
                  "fields": [
                    "id",
                    "name"
                  ],
                  "touchpoint_program": {
                    "parameter": "touchpoint_program"
                  }
                },
                "value-path": "id",
                "value-title": "name"
              },
              "x-ms-summary": "Type"
            }
          },
          "required": [
            "id"
          ],
          "type": "object",
          "x-ms-visibility": "important"
        },
        "trigger_type": {
          "default": "click",
          "description": "Trigger for the the activity, e.g. click, view, or search.",
          "enum": [
            "click",
            "view",
            "search"
          ],
          "example": "click",
          "type": "string",
          "x-ms-summary": "Trigger Type",
          "x-ms-visibility": "internal"
        }
      },
      "required": [
        "touchpoint_type",
        "trigger_type",
        "recorded_at"
      ],
      "type": "object"
    },
    "v1.AlmasightsApi.TouchpointCustomObjectRead": {
      "description": "Custom Touchpoint Object",
      "properties": {
        "email": {
          "description": "Email ID used for the activity.",
          "format": "email",
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "id": {
          "description": "System generated ID to uniquely identify a custom toouchpoint object.",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "is_email_new": {
          "description": "Indicates if the email provided by user already exists on Almabase records.",
          "type": "boolean",
          "x-ms-summary": "Is New Email?"
        },
        "mapped_profile": {
          "$ref": "#/definitions/v1.AlmasightsApi.RecordRead"
        },
        "recorded_at": {
          "description": "The timestamp of the activity.",
          "example": "2018-03-20T09:12:28Z",
          "format": "date-time",
          "type": "string",
          "x-ms-summary": "Recorded At",
          "x-ms-visibility": "important"
        },
        "touchpoint_type": {
          "description": "Describe the activity, must start with a verd and use past tense.",
          "example": "made-a-gift",
          "type": "string",
          "x-ms-summary": "Touchpoint Type",
          "x-ms-visibility": "important"
        },
        "trigger_type": {
          "default": "click",
          "description": "Trigger for the the activity, e.g. click, view, or search.",
          "enum": [
            "click",
            "view",
            "search"
          ],
          "example": "click",
          "type": "string",
          "x-ms-summary": "Trigger Type",
          "x-ms-visibility": "internal"
        }
      },
      "required": [
        "touchpoint_type",
        "trigger_type",
        "recorded_at"
      ],
      "type": "object"
    },
    "v1.AlmasightsApi.TouchpointProgramRead": {
      "description": "Touchpoint Program",
      "properties": {
        "id": {
          "description": "System generated ID to uniquely identify a program.",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "name": {
          "description": "The name of the program",
          "type": "string",
          "x-ms-summary": "Program Name"
        }
      },
      "type": "object"
    },
    "v1.AlmasightsApi.TouchpointTypeRead": {
      "description": "Touchpoint Type",
      "properties": {
        "id": {
          "description": "System generated ID to uniquely identify a type.",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "name": {
          "description": "The name of the type",
          "type": "string",
          "x-ms-summary": "Touchpoint Type Name"
        }
      },
      "type": "object"
    },
    "v1.RecordApi.LocationRead": {
      "description": "Location of the Address",
      "properties": {
        "city": {
          "description": "City name of the location",
          "type": "string",
          "x-ms-summary": "City"
        },
        "country": {
          "description": "Country name of the location",
          "type": "string",
          "x-ms-summary": "Country"
        },
        "latitude": {
          "description": "The latitude of the location",
          "example": "37.7749295",
          "format": "double",
          "type": "number",
          "x-ms-summary": "Latitude"
        },
        "longitude": {
          "description": "The longitude of the location",
          "example": "-122.4194155",
          "format": "double",
          "type": "number",
          "x-ms-summary": "Longitude"
        },
        "state": {
          "description": "State name of the location",
          "type": "string",
          "x-ms-summary": "State"
        }
      },
      "type": "object"
    },
    "v1.RecordApi.AddressRead": {
      "description": "Address",
      "properties": {
        "line1": {
          "description": "Line 1 of the address",
          "type": "string",
          "x-ms-summary": "Line1"
        },
        "line2": {
          "description": "Line 2 of the address",
          "type": "string",
          "x-ms-summary": "Line2"
        },
        "location": {
          "description": "Location of the address",
          "properties": {
            "schema": {
              "$ref": "#/definitions/v1.RecordApi.LocationRead"
            }
          },
          "type": "object",
          "x-ms-summary": "Location"
        },
        "zipcode": {
          "description": "Zipcode of the address",
          "type": "string",
          "x-ms-summary": "Zipcode"
        }
      },
      "type": "object"
    },
    "v1.RecordApi.EmailChangedWebhookRequest": {
      "properties": {
        "callback_url": {
          "description": "callback_url",
          "title": "Callback URL",
          "type": "string",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        },
        "events": {
          "default": "com.almabase.crm.email.created",
          "description": "The list of events to trigger the flow.",
          "type": "string",
          "x-ms-dynamic-list": {
            "itemTitlePath": "title",
            "itemValuePath": "value",
            "operationId": "GetEmailMetadataWebhookEvents"
          },
          "x-ms-dynamic-values": {
            "operationId": "GetEmailMetadataWebhookEvents",
            "value-path": "value",
            "value-title": "title"
          },
          "x-ms-summary": "When",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "events",
        "callback_url"
      ],
      "type": "object"
    },
    "v1.RecordApi.EmailWebhookRecordRead": {
      "description": "Record",
      "properties": {
        "external_database_id": {
          "description": "A system assigned unique ID for the record by the external database. e.g. System Record ID for Raiser Edge NXT, Contact Id for Salesforce\n",
          "type": "string",
          "x-ms-summary": "External Database ID"
        },
        "first_name": {
          "description": "First name of the mapped record",
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "id": {
          "description": "System generated ID to uniquely identify a record.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "is_registered": {
          "description": "Indicate if the mapped record registered on Almabase",
          "type": "boolean",
          "x-ms-summary": "Is record Registered on Almabase?"
        },
        "last_name": {
          "description": "Last name of the mapped record",
          "type": "string",
          "x-ms-summary": "Last Name"
        }
      },
      "type": "object"
    },
    "v1.RecordApi.EmailWebhookResponse": {
      "properties": {
        "data": {
          "description": "The event data.",
          "properties": {
            "address": {
              "description": "Email address.",
              "format": "email",
              "type": "string",
              "x-ms-summary": "Email Address"
            },
            "id": {
              "description": "System generated ID to uniquely identify an email.",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "ID"
            },
            "is_primary": {
              "description": "Indicates whether the email is primary or not.",
              "type": "boolean",
              "x-ms-summary": "Is Primary"
            },
            "profile": {
              "description": "Mapped Record on Almabase.",
              "properties": {
                "schema": {
                  "$ref": "#/definitions/v1.RecordApi.EmailWebhookRecordRead"
                }
              },
              "type": "object",
              "x-ms-summary": "Mapped Record"
            },
            "type": {
              "description": "Type of the email address (primary, personal, work, etc).",
              "type": "string",
              "x-ms-summary": "Email Type"
            }
          },
          "type": "object",
          "x-ms-summary": "Email"
        },
        "time": {
          "description": "The event time.",
          "type": "string",
          "x-ms-summary": "Event Triggered At"
        },
        "type": {
          "description": "The event type.",
          "type": "string",
          "x-ms-summary": "Event Type"
        }
      },
      "type": "object"
    },
    "v1.RecordApi.RecordChangedWebhookRequest": {
      "properties": {
        "callback_url": {
          "description": "callback_url",
          "title": "Callback URL",
          "type": "string",
          "x-ms-notification-url": true,
          "x-ms-visibility": "internal"
        },
        "events": {
          "default": "com.almabase.crm.record.created",
          "description": "The list of events to trigger the flow.",
          "type": "string",
          "x-ms-dynamic-list": {
            "itemTitlePath": "title",
            "itemValuePath": "value",
            "operationId": "GetRecordMetadataWebhookEvents"
          },
          "x-ms-dynamic-values": {
            "operationId": "GetRecordMetadataWebhookEvents",
            "value-path": "value",
            "value-title": "title"
          },
          "x-ms-summary": "When",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "events",
        "callback_url"
      ],
      "type": "object"
    },
    "v1.RecordApi.RecordWebhookResponse": {
      "properties": {
        "data": {
          "description": "The event data.",
          "properties": {
            "affiliations": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "x-ms-summary": "Affiliations",
              "x-ms-visibility": "advanced"
            },
            "class_year": {
              "description": "Class year of the record",
              "type": "string",
              "x-ms-summary": "Class Year",
              "x-ms-visibility": "advanced"
            },
            "email": {
              "description": "Email address.",
              "format": "email",
              "type": "string",
              "x-ms-summary": "Email Address"
            },
            "external_database_id": {
              "description": "A system assigned unique ID for the record by the external database. e.g. System Record ID for Raiser Edge NXT, Contact Id for Salesforce\n",
              "type": "string",
              "x-ms-summary": "External Database ID"
            },
            "first_name": {
              "description": "First name of the mapped record",
              "type": "string",
              "x-ms-summary": "First Name"
            },
            "home_address": {
              "description": "Home Address of the record",
              "properties": {
                "schema": {
                  "$ref": "#/definitions/v1.RecordApi.AddressRead"
                }
              },
              "type": "object",
              "x-ms-summary": "Home Address"
            },
            "id": {
              "description": "System generated ID to uniquely identify a record.",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "ID"
            },
            "last_name": {
              "description": "Last name of the mapped record",
              "type": "string",
              "x-ms-summary": "Last Name"
            },
            "membership_expiry_date": {
              "description": "Expiry date of the membership of the record",
              "format": "date-time",
              "type": "string",
              "x-ms-summary": "Membership Expiry Date",
              "x-ms-visibility": "advanced"
            },
            "membership_type_name": {
              "description": "Name of the membership type of the record",
              "type": "string",
              "x-ms-summary": "Membership Type Name",
              "x-ms-visibility": "advanced"
            },
            "mobile_number": {
              "description": "Mobile number of the record",
              "type": "string",
              "x-ms-summary": "Mobile Number"
            },
            "office_address": {
              "description": "Office Address of the record",
              "properties": {
                "schema": {
                  "$ref": "#/definitions/v1.RecordApi.AddressRead"
                }
              },
              "type": "object",
              "x-ms-summary": "Office Address"
            },
            "office_phone_number": {
              "description": "Office phone number of the record",
              "type": "string",
              "x-ms-summary": "Office Phone Number"
            },
            "residence_phone_number": {
              "description": "Residence phone number of the record",
              "type": "string",
              "x-ms-summary": "Residence Phone Number"
            }
          },
          "type": "object",
          "x-ms-summary": "Record"
        },
        "time": {
          "description": "The event time.",
          "type": "string",
          "x-ms-summary": "Event Triggered At"
        },
        "type": {
          "description": "The event type.",
          "type": "string",
          "x-ms-summary": "Event Type"
        }
      },
      "type": "object"
    },
    "v1.RecordApi.RecordAdd": {
      "description": "Record",
      "properties": {
        "addresses": {
          "description": "Addresses of a profile",
          "items": {
            "$ref": "#/definitions/v1.RecordApi.AddressAdd"
          },
          "type": "array",
          "x-ms-summary": "Addresses",
          "x-ms-visibility": "advanced"
        },
        "date_of_birth": {
          "description": "Date of birth.",
          "type": "string",
          "x-ms-summary": "Date of Birth",
          "x-ms-visibility": "important"
        },
        "deceased": {
          "description": "Deceased.",
          "type": "boolean",
          "x-ms-summary": "Deceased",
          "x-ms-visibility": "important"
        },
        "email_addresses": {
          "description": "List of email addresses of a profile",
          "items": {
            "$ref": "#/definitions/v1.RecordApi.EmailAddressAssociatedWithRecordAdd"
          },
          "type": "array",
          "x-ms-summary": "Email Addresses",
          "x-ms-visibility": "advanced"
        },
        "external_database_id": {
          "description": "A system assigned unique ID for the record by the external database. e.g. System Record ID for Raiser Edge NXT, Contact Id for Salesforce\n",
          "type": "string",
          "x-ms-summary": "External Database ID",
          "x-ms-visibility": "important"
        },
        "external_database_lookup_id": {
          "description": "A custom user-defined lookup ID for the record in the external database. e.g. Constituent ID\n",
          "type": "string",
          "x-ms-summary": "External Database Lookup ID",
          "x-ms-visibility": "advanced"
        },
        "first_name": {
          "description": "First name of the record.",
          "type": "string",
          "x-ms-summary": "First Name",
          "x-ms-visibility": "important"
        },
        "last_name": {
          "description": "Last name of the record.",
          "type": "string",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "important"
        },
        "middle_name": {
          "description": "Middle name of the record.",
          "type": "string",
          "x-ms-summary": "Middle Name",
          "x-ms-visibility": "important"
        },
        "phone_numbers": {
          "description": "List of phone numbers of a profile",
          "items": {
            "$ref": "#/definitions/v1.RecordApi.PhoneNumberAdd"
          },
          "type": "array",
          "x-ms-summary": "Phone Numbers",
          "x-ms-visibility": "advanced"
        }
      },
      "required": [
        "last_name",
        "first_name"
      ],
      "type": "object"
    },
    "v1.RecordApi.AddressAdd": {
      "description": "Address",
      "properties": {
        "line1": {
          "description": "Line 1 of the Address",
          "type": "string",
          "x-ms-summary": "Line 1",
          "x-ms-visibility": "important"
        },
        "line2": {
          "description": "Line 2 of the Address",
          "type": "string",
          "x-ms-summary": "Line 2",
          "x-ms-visibility": "important"
        },
        "location": {
          "description": "Location of the Address",
          "properties": {
            "name": {
              "description": "City,State,Country of the Location",
              "type": "string",
              "x-ms-summary": "Name",
              "x-ms-visibility": "important"
            }
          },
          "type": "object",
          "x-ms-summary": "Location"
        },
        "privacy": {
          "description": "privacy",
          "maxLength": 32,
          "type": "string",
          "x-ms-summary": "Privacy",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "Type of the number",
          "maxLength": 32,
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        },
        "zip_code": {
          "description": "Zipcode of the Address",
          "type": "string",
          "x-ms-summary": "Zipcode",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "line1",
        "type"
      ],
      "type": "object"
    },
    "v1.RecordApi.EmailAddressAdd": {
      "description": "Email",
      "properties": {
        "address": {
          "description": "The email address",
          "format": "email",
          "maxLength": 254,
          "type": "string",
          "x-ms-summary": "Address",
          "x-ms-visibility": "important"
        },
        "is_login_email": {
          "default": true,
          "description": "Indicates if the user are allowed to login to the Platform using this email address.",
          "type": "boolean",
          "x-ms-summary": "Use for Login?",
          "x-ms-visibility": "advanced"
        },
        "is_primary": {
          "description": "A primary email is used to send the automated emails triggered by the System. It is also used to send the bulk email to the profile. It's mandatory that only one email is set as primary.\n",
          "type": "boolean",
          "x-ms-summary": "Is Primary?",
          "x-ms-visibility": "important"
        },
        "source": {
          "description": "The source indicate how the email is added to the database.",
          "maxLength": 32,
          "type": "string",
          "x-ms-summary": "Source",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "default": "unknown",
          "description": "Status of the email address",
          "enum": [
            "unknown",
            "hard_bounce",
            "soft_bounce",
            "marked_spam",
            "invalid",
            "contactable"
          ],
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "The type of the email",
          "maxLength": 32,
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        }
      },
      "type": "object"
    },
    "v1.RecordApi.EmailAddressAssociatedWithRecordAdd": {
      "description": "Email Address",
      "properties": {
        "address": {
          "description": "The email address",
          "format": "email",
          "maxLength": 254,
          "type": "string",
          "x-ms-summary": "Address",
          "x-ms-visibility": "important"
        },
        "is_login_email": {
          "default": true,
          "description": "Indicates if the user are allowed to login to the Platform using this email address.",
          "type": "boolean",
          "x-ms-summary": "Use for Login?",
          "x-ms-visibility": "advanced"
        },
        "is_primary": {
          "description": "A primary email is used to send the automated emails triggered by the System. It is also used to send the bulk email to the profile. It's mandatory that only one email is set as primary.\n",
          "type": "boolean",
          "x-ms-summary": "Is Primary?",
          "x-ms-visibility": "important"
        },
        "source": {
          "description": "The source indicate how the email is added to the database.",
          "maxLength": 32,
          "type": "string",
          "x-ms-summary": "Source",
          "x-ms-visibility": "advanced"
        },
        "status": {
          "default": "unknown",
          "description": "Status of the email address",
          "enum": [
            "unknown",
            "hard_bounce",
            "soft_bounce",
            "marked_spam",
            "invalid",
            "contactable"
          ],
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "The type of the email",
          "maxLength": 32,
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        }
      },
      "type": "object"
    },
    "v1.RecordApi.EmailAddressEdit": {
      "description": "Email Address",
      "properties": {
        "is_login_email": {
          "description": "Indicates if the user are allowed to login to the Platform using this email address.",
          "type": "boolean",
          "x-ms-summary": "Use for Login?",
          "x-ms-visibility": "advanced"
        },
        "is_primary": {
          "description": "A primary email is used to send the automated emails triggered by the System. It is also used to send the bulk email to the profile. It's mandatory that only one email is set as primary.\n",
          "type": "boolean",
          "x-ms-summary": "Is Primary?",
          "x-ms-visibility": "important"
        },
        "status": {
          "description": "Status of the email address",
          "enum": [
            "unknown",
            "hard_bounce",
            "soft_bounce",
            "marked_spam",
            "invalid",
            "contactable"
          ],
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "advanced"
        },
        "type": {
          "description": "The type of the email",
          "maxLength": 32,
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        }
      },
      "type": "object"
    },
    "v1.RecordApi.EmailAddressRead": {
      "description": "Email Address",
      "properties": {
        "address": {
          "description": "The email address",
          "format": "email",
          "type": "string",
          "x-ms-summary": "Address"
        },
        "id": {
          "description": "System generated ID to uniquely identify a email address of a record.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "is_engaged": {
          "description": "Indicates if a bulk email is clicked or open, or the user reply to a one to one email",
          "type": "boolean",
          "x-ms-summary": "Is Engaged?"
        },
        "is_login_email": {
          "description": "Indicates if the user are allowed to login to the Platform using this email address.",
          "type": "boolean",
          "x-ms-summary": "Use for Login?"
        },
        "is_primary": {
          "description": "A primary email is used to send the automated emails triggered by the System. It is also used to send the bulk email to the record. It's mandatory that only one email is set as primary.\n",
          "type": "boolean",
          "x-ms-summary": "Is Primary?"
        },
        "is_verified": {
          "description": "Indicate if the user has verified that they own the email.",
          "type": "boolean",
          "x-ms-summary": "Is Verified by User?"
        },
        "source": {
          "description": "The source indicate how the email is added to the database.",
          "type": "string"
        },
        "status": {
          "default": "unknown",
          "enum": [
            "unknown",
            "hard_bounce",
            "soft_bounce",
            "marked_spam",
            "invalid",
            "contactable"
          ],
          "type": "string"
        },
        "type": {
          "description": "The type of the email",
          "type": "string",
          "x-ms-summary": "Type"
        }
      },
      "type": "object"
    },
    "v1.RecordApi.PhoneNumberAdd": {
      "description": "Phone",
      "properties": {
        "number": {
          "description": "Number",
          "type": "string",
          "x-ms-summary": "Number",
          "x-ms-visibility": "important"
        },
        "privacy": {
          "description": "privacy",
          "maxLength": 32,
          "type": "string",
          "x-ms-summary": "Privacy",
          "x-ms-visibility": "important"
        },
        "type": {
          "description": "Type of the number",
          "maxLength": 32,
          "type": "string",
          "x-ms-summary": "Type",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "number",
        "type"
      ],
      "type": "object"
    },
    "v1.RecordApi.RecordEdit": {
      "description": "Record",
      "properties": {
        "external_database_id": {
          "description": "A system assigned unique ID for the record by the external database. e.g. System Record ID for Raiser Edge NXT, Contact Id for Salesforce\n",
          "type": "string",
          "x-ms-summary": "External Database ID",
          "x-ms-visibility": "important"
        },
        "external_database_lookup_id": {
          "description": "A custom user-defined lookup ID for the record in the external database. e.g. Constituent ID\n",
          "type": "string",
          "x-ms-summary": "External Database Lookup ID",
          "x-ms-visibility": "advanced"
        },
        "first_name": {
          "description": "First name of the record.",
          "type": "string",
          "x-ms-summary": "First Name",
          "x-ms-visibility": "important"
        },
        "last_name": {
          "description": "Last name of the record.",
          "type": "string",
          "x-ms-summary": "Last Name",
          "x-ms-visibility": "important"
        }
      },
      "type": "object"
    },
    "v1.RecordApi.RecordRead": {
      "description": "record",
      "properties": {
        "email_addresses": {
          "description": "List of email addresses of a profile",
          "items": {
            "$ref": "#/definitions/v1.RecordApi.EmailAddressRead"
          },
          "type": "array",
          "x-ms-summary": "Email Addresses"
        },
        "external_database_id": {
          "description": "A system assigned unique ID for the record by the external database. e.g. System Record ID for Raiser Edge NXT, Contact Id for Salesforce\n",
          "type": "string",
          "x-ms-summary": "External Database ID"
        },
        "first_name": {
          "description": "First name of the record.",
          "type": "string",
          "x-ms-summary": "First Name"
        },
        "formatted_name": {
          "description": "Full name of the record.",
          "type": "string",
          "x-ms-summary": "Full Name"
        },
        "id": {
          "description": "System generated ID to uniquely identify a record.",
          "format": "int32",
          "type": "integer",
          "x-ms-summary": "ID"
        },
        "is_registered": {
          "description": "Indicate if the record or donor registered on Almabase",
          "type": "boolean",
          "x-ms-summary": "Is Registered on Almabase?"
        },
        "last_name": {
          "description": "Last name of the record.",
          "type": "string",
          "x-ms-summary": "Last Name"
        },
        "present_picture": {
          "description": "The url of the record picture",
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Picture URL"
        },
        "record_url": {
          "description": "The record link on Almabase",
          "format": "uri",
          "type": "string",
          "x-ms-summary": "Link"
        }
      },
      "type": "object"
    },
    "v1.EventApi.RegistrationCreatedOrUpdatedWebhookRequest": {
      "properties": {
        "callback_url": {
          "description": "Callback URL",
          "type": "string",
          "x-ms-notification-url": true,
          "x-ms-summary": "Callback URL",
          "x-ms-visibility": "internal"
        },
        "events": {
          "default": "com.almabase.eventsx.eventxregistration.*",
          "description": "The list of events to trigger the flow.",
          "type": "string",
          "x-ms-dynamic-list": {
            "itemTitlePath": "name",
            "itemValuePath": "value",
            "operationId": "GetregistrationMetadataWebhookEvents"
          },
          "x-ms-dynamic-values": {
            "operationId": "GetregistrationMetadataWebhookEvents",
            "value-path": "value",
            "value-title": "name"
          },
          "x-ms-summary": "List of events",
          "x-ms-visibility": "important"
        },
        "object_id": {
          "description": "System generated ID to uniquely identify an event.",
          "format": "int32",
          "type": "integer",
          "x-ms-dynamic-values": {
            "operationId": "ListEvents",
            "parameters": {
              "fields": [
                "id",
                "name"
              ]
            },
            "value-path": "id",
            "value-title": "name"
          },
          "x-ms-summary": "Event",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "object_id",
        "events",
        "callback_url"
      ],
      "type": "object"
    },
    "v1.EventApi.EventCreatedOrUpdatedWebhookRequest": {
      "properties": {
        "callback_url": {
          "description": "Callback URL",
          "type": "string",
          "x-ms-notification-url": true,
          "x-ms-summary": "Callback URL",
          "x-ms-visibility": "internal"
        },
        "events": {
          "default": "com.almabase.eventsx.eventx.*",
          "description": "The list of events triggers to run the flow.",
          "type": "string",
          "x-ms-dynamic-list": {
            "itemTitlePath": "name",
            "itemValuePath": "value",
            "operationId": "GetEventMetadataWebhookEvents"
          },
          "x-ms-dynamic-values": {
            "operationId": "GetEventMetadataWebhookEvents",
            "value-path": "value",
            "value-title": "name"
          },
          "x-ms-summary": "List of events",
          "x-ms-visibility": "important"
        },
        "object_id": {
          "description": "System generated ID to uniquely identify an event.",
          "format": "int32",
          "type": "integer",
          "x-ms-dynamic-values": {
            "operationId": "ListEvents",
            "parameters": {
              "fields": [
                "id",
                "name"
              ]
            },
            "value-path": "id",
            "value-title": "name"
          },
          "x-ms-summary": "Event",
          "x-ms-visibility": "important"
        }
      },
      "required": [
        "events",
        "callback_url"
      ],
      "type": "object"
    },
    "v1.EventApi.EventWebhookResponse": {
      "properties": {
        "data": {
          "description": "The event data.",
          "properties": {
            "description": {
              "description": "Description of the event",
              "type": "string",
              "x-ms-summary": "Description",
              "x-ms-visibility": "advanced"
            },
            "end_datetime": {
              "description": "End time of the event",
              "type": "string",
              "x-ms-summary": "End Time"
            },
            "external_database_id": {
              "description": "A system assigned unique ID for the record by the external database. e.g. System Record ID for Raiser Edge NXT, Contact Id for Salesforce\n",
              "type": "string",
              "x-ms-summary": "External Database ID",
              "x-ms-visibility": "advanced"
            },
            "external_registration_url": {
              "description": "The registration url of the event on an external website",
              "type": "string",
              "x-ms-summary": "External Registration Url",
              "x-ms-visibility": "advanced"
            },
            "id": {
              "description": "System generated ID to uniquely identify an event.",
              "format": "int32",
              "type": "integer",
              "x-ms-summary": "ID"
            },
            "name": {
              "description": "Name of the Event.",
              "type": "string",
              "x-ms-summary": "Name"
            },
            "start_datetime": {
              "description": "Start time of the event",
              "type": "string",
              "x-ms-summary": "Start Time"
            },
            "timezone": {
              "default": "US/Central",
              "description": "Timezone of the event",
              "type": "string",
              "x-ms-summary": "Timezone",
              "x-ms-visibility": "advanced"
            },
            "venue": {
              "description": "Location of the Venue",
              "type": "string",
              "x-ms-summary": "Location"
            }
          },
          "type": "object",
          "x-ms-summary": "Event"
        },
        "source": {
          "description": "Source of the request made",
          "type": "string",
          "x-ms-summary": "Source of the request made",
          "x-ms-visibility": "important"
        },
        "time": {
          "description": "The event time.",
          "type": "string",
          "x-ms-summary": "Event Triggered At"
        },
        "type": {
          "description": "The event type.",
          "enum": [
            "com.almabase.eventsx.eventx.created",
            "com.almabase.eventsx.eventx.updated",
            "com.almabase.eventsx.eventx.*"
          ],
          "type": "string",
          "x-ms-summary": "Event Type"
        }
      },
      "type": "object"
    },
    "v1.EventApi.RegistrationWebhookEvents": {
      "properties": {
        "data": {
          "description": "The registration data.",
          "properties": {
            "amount_after_discount": {
              "description": "Amount after discount",
              "type": "string",
              "x-ms-summary": "Amount after discount"
            },
            "email": {
              "description": "Email id used to register for the event",
              "format": "email",
              "type": "string",
              "x-ms-summary": "Primary Guest email id"
            },
            "event_external_database_id": {
              "description": "RENXT External Database Event ID to uniquely identify an event.",
              "type": "string",
              "x-ms-summary": "RENXT event ID"
            },
            "event_id": {
              "description": "System generated event ID to uniquely identify associated event on almabase.",
              "type": "integer",
              "x-ms-summary": "Event ID"
            },
            "first_name": {
              "description": "Primary Guest first name",
              "type": "string",
              "x-ms-summary": "Primary Guest first name"
            },
            "gift": {
              "description": "Registration Gifts",
              "properties": {
                "amount": {
                  "description": "total amount of the gift",
                  "type": "string",
                  "x-ms-summary": "Total amount"
                },
                "completed_at": {
                  "description": "Gift completed time",
                  "format": "date-time",
                  "type": "string",
                  "x-ms-summary": "Completed time"
                },
                "external_database_id": {
                  "description": "RENXT id of the gift that was made",
                  "type": "string",
                  "x-ms-summary": "RENXT ID"
                },
                "id": {
                  "description": "The ID of the gifts",
                  "type": "number",
                  "x-ms-summary": "Almabase ID"
                },
                "mapped_profile_external_database_id": {
                  "description": "ID of the constituent that is mapped - RENXT",
                  "type": "string",
                  "x-ms-summary": "RENXT ID of the constituent that is mapped"
                },
                "mapped_profile_id": {
                  "description": "ID of the constituent that is mapped - AB",
                  "type": "integer",
                  "x-ms-summary": "Almabase ID of the constituent that is mapped"
                },
                "mode": {
                  "description": "Gift mode",
                  "type": "string",
                  "x-ms-summary": "Mode"
                },
                "splits": {
                  "description": "splits related to gifts",
                  "items": {
                    "description": "split details",
                    "properties": {
                      "amount": {
                        "description": "fund amount of the splits",
                        "type": "string",
                        "x-ms-summary": "Fund amount"
                      },
                      "fund_external_database_id": {
                        "description": "external fund id of the splits",
                        "type": "string",
                        "x-ms-summary": "External fund ID"
                      },
                      "fund_id": {
                        "description": "fund id of the splits",
                        "type": "integer",
                        "x-ms-summary": "Fund ID"
                      },
                      "fund_name": {
                        "description": "fund name of the splits",
                        "type": "string",
                        "x-ms-summary": "External fund name"
                      }
                    },
                    "type": "object",
                    "x-ms-summary": "Items"
                  },
                  "type": "array",
                  "x-ms-summary": "splits"
                },
                "status": {
                  "description": "Gift status",
                  "type": "string",
                  "x-ms-summary": "Status"
                }
              },
              "type": "object",
              "x-ms-summary": "Gift"
            },
            "guests": {
              "description": "Guests",
              "items": {
                "description": "Guest details",
                "properties": {
                  "external_database_id": {
                    "description": "RENXT Participant/guest id",
                    "type": "string",
                    "x-ms-summary": "RENXT Participant/guest ID"
                  },
                  "full_name": {
                    "description": "Full Name",
                    "type": "string",
                    "x-ms-summary": "Full Name"
                  },
                  "host_external_database_id": {
                    "description": "RENXT host ID - main registrant(for accompanying guests)",
                    "type": "string",
                    "x-ms-summary": "RENXT host ID"
                  },
                  "host_id": {
                    "description": "Almabase ID of the host of the guests",
                    "type": "number",
                    "x-ms-summary": "Almabase host ID for attendees"
                  },
                  "id": {
                    "description": "AB id of the guest object",
                    "type": "number",
                    "x-ms-summary": "Almabase ID of the guest object"
                  },
                  "is_host": {
                    "description": "if the guest is a host",
                    "type": "boolean",
                    "x-ms-summary": "if the guest is a host"
                  },
                  "matched_profile_external_database_id": {
                    "description": "RENXT constituent ID",
                    "type": "string",
                    "x-ms-summary": "RENXT constituent ID"
                  },
                  "matched_profile_id": {
                    "description": "AB constituent ID",
                    "type": "integer",
                    "x-ms-summary": "almabase record of constituent"
                  }
                },
                "type": "object",
                "x-ms-summary": "Guest details"
              },
              "type": "array",
              "x-ms-summary": "Guests"
            },
            "id": {
              "description": "System generated ID to uniquely identify a registration on almabase.",
              "type": "integer",
              "x-ms-summary": "ID"
            },
            "last_name": {
              "description": "Primary Guest last name",
              "type": "string",
              "x-ms-summary": "Primary Guest last name"
            },
            "registration_status": {
              "description": "Registration Status of the participant",
              "type": "string",
              "x-ms-summary": "Status"
            },
            "rsvp_status": {
              "description": "RSVP Status of the registration",
              "type": "string",
              "x-ms-summary": "RSVP Status"
            },
            "tickets": {
              "description": "Data association to registration status",
              "items": {
                "properties": {
                  "external_database_id": {
                    "description": "RENXT Participant fee id",
                    "type": "string",
                    "x-ms-summary": "RENXT Participant fee id"
                  },
                  "id": {
                    "description": "The ID of the purchase of a ticket (participant fee id)",
                    "type": "integer",
                    "x-ms-summary": "Almabase participant fee ID"
                  },
                  "quantity": {
                    "type": "integer",
                    "x-ms-summary": "quantity of the tickets bought"
                  },
                  "ticket_external_database_id": {
                    "description": "RENXT fee ID",
                    "type": "string",
                    "x-ms-summary": "The RENXT fee ID"
                  },
                  "ticket_id": {
                    "description": "AB ticket id",
                    "type": "integer",
                    "x-ms-summary": "Almabase ID"
                  },
                  "ticket_price": {
                    "description": "Price on almabase",
                    "type": "number",
                    "x-ms-summary": "The price of the ticket on almabase"
                  }
                },
                "type": "object"
              },
              "type": "array",
              "x-ms-summary": "Registration Ticket"
            },
            "total_amount": {
              "description": "Total amount paid",
              "type": "string",
              "x-ms-summary": "Final amount"
            }
          },
          "type": "object",
          "x-ms-summary": "Registration"
        },
        "source": {
          "description": "Source of the request made",
          "type": "string",
          "x-ms-summary": "Source of the request made",
          "x-ms-visibility": "important"
        },
        "time": {
          "description": "The action triggered time.",
          "type": "string",
          "x-ms-summary": "Event Triggered At"
        },
        "type": {
          "description": "Event Type.",
          "enum": [
            "com.almabase.eventsx.eventxregistration.registered",
            "com.almabase.eventsx.eventxregistration.updated",
            "com.almabase.eventsx.eventxregistration.*"
          ],
          "type": "string",
          "x-ms-summary": "Event Type"
        }
      },
[...]
