{
  "swagger": "2.0",
  "info": {
    "title": "Police UK",
    "description": "Access crime, neighbourhood, force and stop & search data from data.police.uk",
    "version": "1.0"
  },
  "host": "data.police.uk",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/forces/{force}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "telephone": {
                  "type": "string",
                  "description": "telephone"
                },
                "engagement_methods": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    }
                  },
                  "description": "engagement_methods"
                }
              }
            }
          }
        },
        "summary": "Get specific force",
        "operationId": "GetForce",
        "description": "Returns a specific police force available via the API",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "force",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique force identifier e.g. leicestershire, metropolitan, west-yorkshire.",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/crime-last-updated": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "date"
                }
              }
            }
          }
        },
        "summary": "Get last updated date",
        "operationId": "GetLastUpdated",
        "x-ms-visibility": "important",
        "parameters": [],
        "description": "Returns the date that the crime data was last updated. Use this to check whether new data has been published before making subsequent requests, or to display data freshness information to end users."
      }
    },
    "/{force}/{neighbourhood}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "url_force": {
                  "type": "string",
                  "description": "url_force"
                },
                "centre": {
                  "type": "object",
                  "properties": {
                    "latitude": {
                      "type": "string",
                      "description": "latitude"
                    },
                    "longitude": {
                      "type": "string",
                      "description": "longitude"
                    }
                  },
                  "description": "centre"
                },
                "population": {
                  "type": "string",
                  "description": "population"
                },
                "contact_details": {
                  "type": "object",
                  "properties": {},
                  "description": "contact_details"
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    }
                  },
                  "description": "links"
                },
                "locations": {
                  "type": "array",
                  "items": {},
                  "description": "locations"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                }
              }
            }
          }
        },
        "summary": "Get specific neighbourhood",
        "description": "Returns details for a specific neighbourhood within a police force, including the name, description, centre point coordinates, contact details, and any associated locations such as police stations. Use the \"List neighbourhoods for a force\" action to retrieve valid neighbourhood identifiers for a given force.",
        "operationId": "GetNeighbourhood",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "force",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Unique force identifier e.g. leicestershire, metropolitan. Use the \"List all forces\" action to retrieve valid values."
          },
          {
            "name": "neighbourhood",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique neighbourhood identifier e.g. NC04.Use the \"List neighbourhoods for a force\" action to retrieve valid neighbourhood identifiers for a given force.",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/{force}/{neighbourhood}/people": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "rank": {
                    "type": "string",
                    "description": "rank"
                  },
                  "bio": {
                    "type": "string",
                    "description": "bio"
                  },
                  "contact_details": {
                    "type": "object",
                    "properties": {},
                    "description": "contact_details"
                  }
                }
              }
            }
          }
        },
        "summary": "Get neighbourhood team",
        "description": "Returns the team members for a specific neighbourhood within a police force, including contact details and roles. Use List Neighbourhoods to retrieve valid neighbourhood identifiers for a given force.",
        "operationId": "GetNeighbourhoodTeam",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "force",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Unique force identifier e.g. leicestershire. Use the \"List all forces\" action to retrieve valid values."
          },
          {
            "name": "neighbourhood",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Unique neighbourhood identifier e.g. NC04. Use the \"List neighbourhoods for a force\" action to retrieve valid neighbourhood identifiers for a given force."
          }
        ]
      }
    },
    "/forces/{force}/people": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "rank": {
                    "type": "string",
                    "description": "rank"
                  },
                  "bio": {
                    "type": "string",
                    "description": "bio"
                  },
                  "contact_details": {
                    "type": "object",
                    "properties": {},
                    "description": "contact_details"
                  }
                }
              }
            }
          }
        },
        "summary": "Get force senior officers",
        "description": "Returns a list of senior officers for a specified police force, including their name, rank, and biography where available. Useful for displaying force leadership information within Power Apps or automating directory lookups.",
        "operationId": "GetSeniorOfficers",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "force",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique force identifier e.g. leicestershire, metropolitan. Use the \"List all forces\" action to retrieve valid values.",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/stops-force": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "age_range": {
                    "type": "string",
                    "description": "age_range"
                  },
                  "outcome": {
                    "type": "string",
                    "description": "outcome"
                  },
                  "involved_person": {
                    "type": "boolean",
                    "description": "involved_person"
                  },
                  "self_defined_ethnicity": {
                    "type": "string",
                    "description": "self_defined_ethnicity"
                  },
                  "gender": {
                    "type": "string",
                    "description": "gender"
                  },
                  "legislation": {
                    "type": "string",
                    "description": "legislation"
                  },
                  "outcome_linked_to_object_of_search": {
                    "description": "outcome_linked_to_object_of_search"
                  },
                  "datetime": {
                    "type": "string",
                    "description": "datetime"
                  },
                  "removal_of_more_than_outer_clothing": {
                    "description": "removal_of_more_than_outer_clothing"
                  },
                  "outcome_object": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    },
                    "description": "outcome_object"
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "string",
                        "description": "latitude"
                      },
                      "street": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          }
                        },
                        "description": "street"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "longitude"
                      }
                    },
                    "description": "location"
                  },
                  "operation": {
                    "type": "string",
                    "description": "operation"
                  },
                  "officer_defined_ethnicity": {
                    "type": "string",
                    "description": "officer_defined_ethnicity"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "operation_name": {
                    "type": "string",
                    "description": "operation_name"
                  },
                  "object_of_search": {
                    "type": "string",
                    "description": "object_of_search"
                  }
                }
              }
            }
          }
        },
        "summary": "Get stop and searches by force",
        "description": "Returns all stop and searches carried out by a specified police force for a given month. If no date is provided the latest available month is used. Results include the outcome, object of search, and where available the ethnicity and age range of the person searched.",
        "operationId": "GetStopAndSearchesByForce",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Unique force identifier e.g. metropolitan, west-yorkshire. Use the \"List all forces\" action to retrieve valid values.",
            "x-ms-visibility": "important"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Month to retrieve stop and search data for in YYYY-MM format e.g. 2024-01. Defaults to latest available month if not provided.",
            "format": "",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/crimes-street/{category}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "description": "category"
                  },
                  "location_type": {
                    "type": "string",
                    "description": "location_type"
                  },
                  "location": {
                    "type": "object",
                    "properties": {
                      "latitude": {
                        "type": "string",
                        "description": "latitude"
                      },
                      "street": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          }
                        },
                        "description": "street"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "longitude"
                      }
                    },
                    "description": "location"
                  },
                  "context": {
                    "type": "string",
                    "description": "context"
                  },
                  "outcome_status": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "category"
                      },
                      "date": {
                        "type": "string",
                        "description": "date"
                      }
                    },
                    "description": "outcome_status"
                  },
                  "persistent_id": {
                    "type": "string",
                    "description": "persistent_id"
                  },
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "location_subtype": {
                    "type": "string",
                    "description": "location_subtype"
                  },
                  "month": {
                    "type": "string",
                    "description": "month"
                  }
                }
              }
            }
          }
        },
        "summary": "Get street-level crimes",
        "operationId": "GetStreetCrimes",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Crime category slug, e.g. all-crime, burglary, robbery."
          },
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Latitude of the centre point to search within a 1 mile radius e.g. 52.629729"
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Longitude of the centre point to search within a 1 mile radius e.g. -1.131592"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "format": "",
            "description": "Month to retrieve crimes for in YYYY-MM format e.g. 2024-01. Defaults to latest available month if not provided."
          }
        ],
        "description": "Returns crimes at street-level for a given location, either within a 1 mile radius of a single point using latitude and longitude, or within a custom area using a polygon. Note that locations returned are approximations and not exact crime locations. If no date is provided the latest available month is used.",
        "x-ms-visibility": "important"
      }
    },
    "/crime-categories": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "List crime categories",
        "operationId": "ListCrimeCategories",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "",
            "description": "Limit to a specific month. Defaults to latest available."
          }
        ],
        "description": "Returns a list of valid crime categories for a given date. Use the returned category slugs as the category parameter in other operations such as Get Street-Level Crimes. If no date is provided, the latest available month is used.",
        "x-ms-visibility": "important"
      }
    },
    "/forces": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              }
            }
          }
        },
        "summary": "List all forces",
        "description": "Returns a list of all police forces available via the API",
        "operationId": "ListForces",
        "x-ms-visibility": "important",
        "parameters": []
      }
    },
    "/{force}/neighbourhoods": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              }
            }
          }
        },
        "summary": "List neighbourhoods for a force",
        "description": "Returns a list of all neighbourhoods for a specified police force. The neighbourhood identifiers returned can be used in subsequent operations to retrieve neighbourhood-specific details such as team members, events, priorities and boundaries.",
        "operationId": "ListNeighbourhoods",
        "parameters": [
          {
            "name": "force",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Unique force identifier e.g. leicestershire, metropolitan, west-yorkshire. Use the \"List all forces\" action to retrieve valid values."
          }
        ],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "security": [],
  "tags": [],
  "securityDefinitions": {}
}