{
  "swagger": "2.0",
  "info": {
    "title": "MS Graph Groups and Users",
    "description": "The MS Graph Groups and Users connector helps retrieve Azure AD groups, members (users) and license details",
    "version": "1.0",
    "contact": {
      "name": "Jay Jani",
      "email": "jayjani@microsoft.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://graph.microsoft.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Data"
    }
  ],
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/v1.0/users": {
      "get": {
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The Odata.context link."
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "businessPhones": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "businessPhones"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "User's full name",
                        "title": "Display Name"
                      },
                      "givenName": {
                        "type": "string",
                        "description": "User's first name",
                        "title": "Given Name"
                      },
                      "jobTitle": {
                        "type": "string",
                        "description": "User's job title",
                        "title": "Job Title"
                      },
                      "mail": {
                        "type": "string",
                        "description": "User's email",
                        "title": "Mail"
                      },
                      "mobilePhone": {
                        "type": "string",
                        "description": "User's mobile phone",
                        "title": "Mobile Phone"
                      },
                      "officeLocation": {
                        "type": "string",
                        "description": "User's office location",
                        "title": "Office Location"
                      },
                      "preferredLanguage": {
                        "type": "string",
                        "description": "User's preferred language",
                        "title": "Preferred Language"
                      },
                      "surname": {
                        "type": "string",
                        "description": "User's last name",
                        "title": "Surname"
                      },
                      "userPrincipalName": {
                        "type": "string",
                        "description": "User's principal name",
                        "title": "User Principal Name"
                      },
                      "id": {
                        "type": "string",
                        "description": "Object id of the user",
                        "title": "ID"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            },
            "headers": {
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"client-request-id\"": {
                "description": "\"client-request-id\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"request-id\"": {
                "description": "\"request-id\"",
                "type": "string"
              }
            }
          }
        },
        "summary": "List Users",
        "description": "Retrieve all users in the organization (AAD Tenant)",
        "operationId": "ListUsers",
        "parameters": []
      }
    },
    "/v1.0/groups": {
      "get": {
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The Odata.context link.",
                  "title": "Odata Context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count",
                  "title": "Number of Groups"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Object id of the group",
                        "title": "ID"
                      },
                      "deletedDateTime": {
                        "type": "string",
                        "description": "Date and time of group deletion",
                        "title": "Deleted Date Time"
                      },
                      "classification": {
                        "type": "string",
                        "description": "Group's classification",
                        "title": "Classification"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "Date and time of group creation",
                        "title": "Created Date Time"
                      },
                      "creationOptions": {
                        "type": "array",
                        "items": {},
                        "description": "Created options of the group."
                      },
                      "description": {
                        "type": "string",
                        "description": "Description for the group",
                        "title": "Description"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Group's display name",
                        "title": "Display Name"
                      },
                      "expirationDateTime": {
                        "type": "string",
                        "description": "Group's expiration date time",
                        "title": "Expiration Date Time"
                      },
                      "groupTypes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Group types for the group."
                      },
                      "isAssignableToRole": {
                        "type": "string",
                        "description": "Can a role be assigned to this group?",
                        "title": "Is Assignable To Role"
                      },
                      "mail": {
                        "type": "string",
                        "description": "Group's email",
                        "title": "Mail"
                      },
                      "mailEnabled": {
                        "type": "boolean",
                        "description": "Is group email enabled?",
                        "title": "Mail Enabled",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "mailNickname": {
                        "type": "string",
                        "description": "Group's email nick name",
                        "title": "Mail Nick Name"
                      },
                      "membershipRule": {
                        "type": "string",
                        "description": "The rule that is used for membership evaluation.",
                        "title": "Membership Rule"
                      },
                      "membershipRuleProcessingState": {
                        "type": "string",
                        "description": "The processing state of the rule that is used for membership evaluation.",
                        "title": "Membership Rule Processing State"
                      },
                      "onPremisesDomainName": {
                        "type": "string",
                        "description": "Contains the on-premises domainFQDN, also called dnsDomainName synchronized from the on-premises directory.",
                        "title": "OnPremises Domain Name"
                      },
                      "onPremisesLastSyncDateTime": {
                        "type": "string",
                        "description": "The time and date at which the tenant was last synced with the on-premise directory.",
                        "title": "OnPremises Last Sync Date Time"
                      },
                      "onPremisesNetBiosName": {
                        "type": "string",
                        "description": "Name of networking service for on-premise server.",
                        "title": "OnPremises NetBios Name"
                      },
                      "onPremisesSamAccountName": {
                        "type": "string",
                        "description": "Sam account name for on-premise directory.",
                        "title": "OnPremises Sam Account Name"
                      },
                      "onPremisesSecurityIdentifier": {
                        "type": "string",
                        "description": "The on-premises security identifier.",
                        "title": "OnPremises Security Identifier"
                      },
                      "onPremisesSyncEnabled": {
                        "type": "boolean",
                        "description": "True if on-premises sync is enabled for the group.",
                        "title": "OnPremises Sync Enabled"
                      },
                      "preferredDataLocation": {
                        "type": "string",
                        "description": "Preferred data location of the group.",
                        "title": "Preferred Data Location"
                      },
                      "preferredLanguage": {
                        "type": "string",
                        "description": "Preferred language as configured in Azure AD.",
                        "title": "Preferred Language"
                      },
                      "proxyAddresses": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Proxy addresses of the group."
                      },
                      "renewedDateTime": {
                        "type": "string",
                        "description": "Renewed date time of the group.",
                        "title": "Renewed Date Time"
                      },
                      "resourceBehaviorOptions": {
                        "type": "array",
                        "items": {},
                        "description": "Resource behavior options of the group."
                      },
                      "resourceProvisioningOptions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Resource provisioning options of the group."
                      },
                      "securityEnabled": {
                        "type": "boolean",
                        "description": "Indicates if the group is security enabled.",
                        "title": "Security Enabled",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "securityIdentifier": {
                        "type": "string",
                        "description": "Security identifier of the group.",
                        "title": "Security Identifier"
                      },
                      "theme": {
                        "type": "string",
                        "description": "Theme of Azure AD group.",
                        "title": "Theme"
                      },
                      "visibility": {
                        "type": "string",
                        "description": "Visibility of the group.",
                        "title": "Visibility"
                      },
                      "onPremisesProvisioningErrors": {
                        "type": "array",
                        "items": {},
                        "description": "On premise provisioning errors of the group."
                      }
                    }
                  },
                  "description": "value"
                }
              }
            },
            "headers": {
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"client-request-id\"": {
                "description": "\"client-request-id\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"request-id\"": {
                "description": "\"request-id\"",
                "type": "string"
              }
            }
          }
        },
        "summary": "List Groups By Display Name Search",
        "description": "Retrieve groups by searching group's display name",
        "operationId": "ListGroupsByDisplayNameSearch",
        "parameters": [
          {
            "name": "$search",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "\"displayName:Sales\"",
            "description": "Search by keyword in display name of the AAD group",
            "x-ms-summary": "Search by display name"
          },
          {
            "name": "$count",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "ConsistencyLevel",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "eventual",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/v1.0/subscribedSkus": {
      "get": {
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The Odata.context link.",
                  "title": "Odata Context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "capabilityStatus": {
                        "type": "string",
                        "description": "Capability Status of SKU",
                        "title": "Capability Status"
                      },
                      "consumedUnits": {
                        "type": "integer",
                        "format": "int32",
                        "description": "How many SKU units are consumed already?",
                        "title": "Consumed Units"
                      },
                      "id": {
                        "type": "string",
                        "description": "id",
                        "title": "ID"
                      },
                      "skuId": {
                        "type": "string",
                        "description": "Global unique identifier of SKU",
                        "title": "SKU ID"
                      },
                      "skuPartNumber": {
                        "type": "string",
                        "description": "Name of the SKU",
                        "title": "SKU Part Number"
                      },
                      "appliesTo": {
                        "type": "string",
                        "description": "Who does the SKU apply to?",
                        "title": "Applies To"
                      },
                      "prepaidUnits": {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Enabled units",
                            "title": "Enabled"
                          },
                          "suspended": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Suspended units",
                            "title": "Suspended"
                          },
                          "warning": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Units in warning",
                            "title": "Warning"
                          }
                        },
                        "description": "Enabled subscribed SKUs."
                      },
                      "servicePlans": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "servicePlanId": {
                              "type": "string",
                              "description": "servicePlanId"
                            },
                            "servicePlanName": {
                              "type": "string",
                              "description": "servicePlanName"
                            },
                            "provisioningStatus": {
                              "type": "string",
                              "description": "provisioningStatus"
                            },
                            "appliesTo": {
                              "type": "string",
                              "description": "appliesTo"
                            }
                          }
                        },
                        "description": "servicePlans"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            },
            "headers": {
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"client-request-id\"": {
                "description": "\"client-request-id\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"request-id\"": {
                "description": "\"request-id\"",
                "type": "string"
              }
            }
          }
        },
        "summary": "List Subscribed Skus",
        "operationId": "ListSubscribedSkus",
        "description": "Details of organization's subscribed license plan SKUs",
        "parameters": []
      }
    },
    "/v1.0/groups/{group-id}/members": {
      "get": {
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The Odata.context link.",
                  "title": "Odata Context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count",
                  "title": "Odata Count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "@odata.type": {
                        "type": "string",
                        "description": "@odata.type",
                        "title": "Odata Type"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Member's full name",
                        "title": "Display Name"
                      },
                      "userPrincipalName": {
                        "type": "string",
                        "description": "Member's user principal name",
                        "title": "User Principal Name"
                      },
                      "id": {
                        "type": "string",
                        "description": "Object id for the member",
                        "title": "ID"
                      },
                      "jobTitle": {
                        "type": "string",
                        "description": "jobTitle",
                        "title": "Job Title"
                      },
                      "mailNickname": {
                        "type": "string",
                        "description": "Member's email nick name",
                        "title": "Mail Nick Name"
                      },
                      "mail": {
                        "type": "string",
                        "description": "Member's email",
                        "title": "Mail"
                      },
                      "givenName": {
                        "type": "string",
                        "description": "Member's first name",
                        "title": "Given Name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Member's last name",
                        "title": "Surname"
                      },
                      "businessPhones": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "businessPhones"
                      },
                      "mobilePhone": {
                        "type": "string",
                        "description": "mobilePhone",
                        "title": "Mobile Phone"
                      },
                      "officeLocation": {
                        "type": "string",
                        "description": "officeLocation",
                        "title": "Office Location"
                      },
                      "preferredLanguage": {
                        "type": "string",
                        "description": "Preferred language as configured in Azure AD.",
                        "title": "Preferred Language"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            },
            "headers": {
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"client-request-id\"": {
                "description": "\"client-request-id\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"request-id\"": {
                "description": "\"request-id\"",
                "type": "string"
              }
            }
          }
        },
        "summary": "List Direct Group Members",
        "operationId": "ListDirectGroupMembers",
        "description": "Retrieve direct members of a group with count",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Object ID of the AAD group",
            "x-ms-summary": "Object ID of the AAD group",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "jobTitle ne null",
            "description": "Filter By",
            "x-ms-summary": "Filter By"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "displayName,userPrincipalName,id,jobTitle,mailNickname",
            "description": "Select which columns to retrieve",
            "x-ms-summary": "Data point (column) selection"
          },
          {
            "name": "$count",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "ConsistencyLevel",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "eventual",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/v1.0/users/{id}/licenseDetails": {
      "get": {
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The Odata.context link.",
                  "title": "Odata Context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id",
                        "title": "ID"
                      },
                      "skuId": {
                        "type": "string",
                        "description": "ID of the SKU.",
                        "title": "SKU ID"
                      },
                      "skuPartNumber": {
                        "type": "string",
                        "description": "Name of the SKU",
                        "title": "SKU Part Number"
                      },
                      "servicePlans": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "servicePlanId": {
                              "type": "string",
                              "description": "servicePlanId"
                            },
                            "servicePlanName": {
                              "type": "string",
                              "description": "servicePlanName"
                            },
                            "provisioningStatus": {
                              "type": "string",
                              "description": "provisioningStatus"
                            },
                            "appliesTo": {
                              "type": "string",
                              "description": "appliesTo"
                            }
                          }
                        },
                        "description": "servicePlans"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            },
            "headers": {
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"client-request-id\"": {
                "description": "\"client-request-id\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"request-id\"": {
                "description": "\"request-id\"",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Member License Details",
        "description": "Retrieve group member(user)'s license details",
        "operationId": "GetMemberLicenseDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Object ID of the AAD member(user)",
            "x-ms-summary": "Object ID of the AAD member(user)",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selection of data points(columns)",
            "x-ms-summary": "Selection of data points(columns)",
            "default": "skuPartNumber,servicePlans"
          }
        ]
      }
    },
    "/v1.0/groups/{group-id}": {
      "get": {
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The Odata.context link.",
                  "title": "Odata Context"
                },
                "id": {
                  "type": "string",
                  "description": "Object id of the group",
                  "title": "ID"
                },
                "deletedDateTime": {
                  "type": "string",
                  "description": "Group's deletion date time",
                  "title": "Deleted Date Time"
                },
                "classification": {
                  "type": "string",
                  "description": "classification",
                  "title": "Classification"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "Group's creation date time",
                  "title": "Created Date Time"
                },
                "creationOptions": {
                  "type": "array",
                  "items": {
                    "description": "Created options of the group.",
                    "title": "Creation Options",
                    "type": "string"
                  },
                  "description": "Created options of the group."
                },
                "description": {
                  "type": "string",
                  "description": "description",
                  "title": "Description"
                },
                "displayName": {
                  "type": "string",
                  "description": "Group's display name",
                  "title": "Display Name"
                },
                "expirationDateTime": {
                  "type": "string",
                  "description": "Group's expiration date time",
                  "title": "Expiration Date Time"
                },
                "groupTypes": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Types of a group",
                    "title": "Group Types"
                  },
                  "description": "Group types for the group."
                },
                "isAssignableToRole": {
                  "type": "string",
                  "description": "Can a role be assigned to this group?",
                  "title": "Is Assignable To Role"
                },
                "mail": {
                  "type": "string",
                  "description": "Group's email",
                  "title": "Mail"
                },
                "mailEnabled": {
                  "type": "boolean",
                  "description": "Is group email enabled?",
                  "title": "Mail Enabled",
                  "enum": [
                    true,
                    false
                  ]
                },
                "mailNickname": {
                  "type": "string",
                  "description": "Group's email nick name",
                  "title": "Mail Nick Name"
                },
                "membershipRule": {
                  "type": "string",
                  "description": "The rule that is used for membership evaluation.",
                  "title": "Membership Rule"
                },
                "membershipRuleProcessingState": {
                  "type": "string",
                  "description": "The processing state of the rule that is used for membership evaluation.",
                  "title": "Membership Rule  Processing State"
                },
                "onPremisesDomainName": {
                  "type": "string",
                  "description": "Contains the on-premises domainFQDN, also called dnsDomainName synchronized from the on-premises directory.",
                  "title": "OnPremises Domain Name"
                },
                "onPremisesLastSyncDateTime": {
                  "type": "string",
                  "description": "The time and date at which the tenant was last synced with the on-premise directory.",
                  "title": "OnPremises Last Sync Date Time"
                },
                "onPremisesNetBiosName": {
                  "type": "string",
                  "description": "Name of networking service for on-premise server.",
                  "title": "OnPremises NetBios Name"
                },
                "onPremisesSamAccountName": {
                  "type": "string",
                  "description": "Sam account name for on-premise directory.",
                  "title": "OnPremises Sam Account Name"
                },
                "onPremisesSecurityIdentifier": {
                  "type": "string",
                  "description": "The on-premises security identifier.",
                  "title": "OnPremises Security Identifier"
                },
                "onPremisesSyncEnabled": {
                  "type": "boolean",
                  "description": "True if on-premises sync is enabled for the group.",
                  "title": "OnPremises Sync Enabled"
                },
                "preferredDataLocation": {
                  "type": "string",
                  "description": "Preferred data location of the group.",
                  "title": "Preferred Data Location"
                },
                "preferredLanguage": {
                  "type": "string",
                  "description": "Preferred language as configured in Azure AD.",
                  "title": "Preferred Language"
                },
                "proxyAddresses": {
                  "type": "array",
                  "items": {
                    "description": "Proxy addresses of the group.",
                    "title": "Proxy Addresses",
                    "type": "string"
                  },
                  "description": "Proxy addresses of the group."
                },
                "renewedDateTime": {
                  "type": "string",
                  "description": "Renewed date time of the group.",
                  "title": "Renewed Date Time"
                },
                "resourceBehaviorOptions": {
                  "type": "array",
                  "items": {
                    "description": "Resource behavior options of the group.",
                    "title": "Resource Behavior Options",
                    "type": "string"
                  },
                  "description": "Resource behavior options of the group."
                },
                "resourceProvisioningOptions": {
                  "type": "array",
                  "items": {
                    "description": "Resource provisioning options of the group.",
                    "title": "Resource Provisioning Options",
                    "type": "string"
                  },
                  "description": "Resource provisioning options of the group."
                },
                "securityEnabled": {
                  "type": "boolean",
                  "description": "Indicates if the group is security enabled.",
                  "title": "Security Enabled",
                  "enum": [
                    true,
                    false
                  ]
                },
                "securityIdentifier": {
                  "type": "string",
                  "description": "Security identifier of the group.",
                  "title": "Security Identifier"
                },
                "theme": {
                  "type": "string",
                  "description": "Theme of Azure AD group.",
                  "title": "Theme"
                },
                "visibility": {
                  "type": "string",
                  "description": "Visibility of the group.",
                  "title": "Visibility"
                },
                "onPremisesProvisioningErrors": {
                  "type": "array",
                  "items": {
                    "description": "On premise provisioning errors of the group.",
                    "title": "OnPremises Provisioning Errors",
                    "type": "string"
                  },
                  "description": "On premise provisioning errors of the group."
                }
              }
            },
            "headers": {
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"client-request-id\"": {
                "description": "\"client-request-id\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"request-id\"": {
                "description": "\"request-id\"",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Group Properties",
        "operationId": "GetGroupProperties",
        "description": "Retrieve properties and relationships of an AAD group",
        "parameters": [
          {
            "name": "group-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Object ID of the AAD group",
            "x-ms-summary": "Object ID of the AAD group",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/v1.0/users/{member-id}/getMemberGroups": {
      "post": {
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "The Odata.context link.",
                  "title": "Odata Context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "List of group object ids",
                    "title": "Group IDs"
                  },
                  "description": "value"
                }
              }
            },
            "headers": {
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"client-request-id\"": {
                "description": "\"client-request-id\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"location\"": {
                "description": "\"location\"",
                "type": "string"
              },
              "\"request-id\"": {
                "description": "\"request-id\"",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get Member Groups",
        "description": "Group memberships for a user (member)",
        "operationId": "GetMemberGroups",
        "parameters": [
          {
            "name": "member-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Object ID of the AAD member(user)",
            "x-ms-summary": "Object ID of the AAD member(user)",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "securityEnabledOnly": {
                  "type": "boolean",
                  "description": "Do you want to retrieve security enabled groups only?",
                  "title": "Security Enabled Only (true/false)",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                }
              },
              "required": [
                "securityEnabledOnly"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "User.Read": "User.Read",
        "User.Read.All" : "User.Read.All",
        "Directory.Read.All" : "Directory.Read.All",
        "GroupMember.Read.All": "GroupMember.Read.All"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}