{
  "swagger": "2.0",
  "info": {
    "title": "Peakboard",
    "description": "Receive alerts from Peakboard Boxes.",
    "contact": {
      "name": "Peakboard Support",
      "url": "https://help.peakboard.com/",
      "email": "support@peakboard.com"
    },
    "version": "1.0"
  },
  "host": "hub.peakboard.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://peakboard.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://peakboard.com/datenschutzerklaerung/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Internet of Things"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/api/PowerAutomate/Unsubscribe/{id}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete action",
        "description": "The internal delete action for the webhook trigger.",
        "x-ms-visibility": "internal",
        "operationId": "DeleteAction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "The ID of the webhook subscription."
          }
        ]
      }
    },
    "/api/PowerAutomate/Subscribe": {
      "x-ms-notification-content": {
        "description": "Alert",
        "schema": {
          "type": "object",
          "properties": {
            "NotificationID": {
              "type": "string",
              "description": "The ID of the alert notification.",
              "title": "NotificationID"
            },
            "Description": {
              "type": "string",
              "description": "The description of the alert.",
              "title": "Description"
            },
            "Priority": {
              "type": "integer",
              "format": "int32",
              "description": "The priority of the alert.",
              "title": "Priority"
            },
            "BoxName": {
              "type": "string",
              "description": "The name of the Peakboard Box that sent the Alert.",
              "title": "Box Name"
            },
            "BoxRequestUrl": {
              "type": "string",
              "description": "The request url of the Peakboard Box.",
              "title": "Box Request Url"
            },
            "BoxDeviceID": {
              "type": "string",
              "description": "The ID of the Peakboard Box that sent the alert.",
              "title": "BoxID"
            },
            "Solved": {
              "type": "boolean",
              "description": "Determines if the alert is solved or not.",
              "title": "Is Solved",
              "enum": [
                true,
                false
              ]
            },
            "CreateTime": {
              "type": "string",
              "description": "The timestamp that determines when the alert was sent.",
              "title": "Created Time"
            }
          }
        }
      },
      "post": {
        "responses": {},
        "summary": "When alert is sent",
        "description": "Triggers if a Peakboard Box sends an alert notification to the Peakboard Hub.",
        "operationId": "WhenAlertIsSent",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackUrl": {
                  "type": "string",
                  "description": "Callback url for the webhook trigger.",
                  "title": "Callback Url",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "CallbackUrl"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "UserGroupKey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}