{
  "swagger": "2.0",
  "info": {
    "description": "Pilot Things is a platform to manage, visualize, automate and integrate your IoT device fleet.",
    "version": "1.0",
    "title": "Pilot Things",
    "termsOfService": "https://www.pilot-things.com/privacy",
    "contact": {
      "name": "Pilot Things",
      "url": "https://www.pilot-things.com",
      "email": "contact@pilot-things.com"
    }
  },
  "host": "kerlink.pilot-things.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/alerts": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Get a list of alerts",
        "description": "Get a list of alerts",
        "operationId": "getAlerts",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dateStart",
            "in": "query",
            "description": "Timestamp with date start",
            "x-ms-summary": "Timestamp with date start",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int64"
          },
          {
            "name": "dateEnd",
            "in": "query",
            "description": "Timestamp with date end",
            "x-ms-summary": "Timestamp with date end",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageAlertRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found!"
          }
        }
      }
    },
    "/api/alerts/{id}": {
      "put": {
        "tags": [
          "Alerts"
        ],
        "summary": "Update alert state",
        "description": "Update alert state",
        "operationId": "updateAlertState",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of an alert. Cannot be empty.",
            "x-ms-summary": "Id of an alert. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "paramJson",
            "description": "Value of state. Cannot be empty.",
            "x-ms-summary": "Value of state. Cannot be empty.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AlertRo"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found!"
          }
        }
      }
    },
    "/api/measures": {
      "get": {
        "tags": [
          "Measures"
        ],
        "summary": "Get a list of measures",
        "description": "Get a list of measures",
        "operationId": "getMeasures",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "detailed",
            "in": "query",
            "description": "Boolean for detailed information",
            "x-ms-summary": "Boolean for detailed information",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageMeasureRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/measures/count": {
      "get": {
        "tags": [
          "Measures"
        ],
        "summary": "Get measures count",
        "description": "Get measures count",
        "operationId": "getCount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CountRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/measures/{id}": {
      "get": {
        "tags": [
          "Measures"
        ],
        "summary": "Get a measure",
        "description": "Get a measure",
        "operationId": "getMeasure",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a measure. Cannot be empty.",
            "x-ms-summary": "Id of a measure. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Boolean for detailed information",
            "x-ms-summary": "Boolean for detailed information.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MeasureRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Measure not found"
          }
        }
      }
    },
    "/api/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get a list of messages",
        "description": "Get a list of messages",
        "operationId": "getMessages",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageMessageRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/messages/things/{thingId}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get message list for a thing",
        "description": "Get message list for a thing",
        "operationId": "getMessagesAndMeasurements",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "thingId",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageMessageRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Add a message",
        "description": "Add a message",
        "operationId": "addMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "thingId",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "messageRo",
            "description": "Message to add. Cannot be empty.",
            "x-ms-summary": "Message to add. Cannot be empty",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MessageAndMeasurementsRo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MessageRo"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/messages/{id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get a message",
        "description": "Get a message",
        "operationId": "getMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a message. Cannot be empty.",
            "x-ms-summary": "Id of a message. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MessageRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Message not found"
          }
        }
      }
    },
    "/api/messages/{id}/previous": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get previous message",
        "description": "Get previous message",
        "operationId": "getPreviousMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a message. Cannot be empty.",
            "x-ms-summary": "Id of a message. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MessageRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Previous message not found"
          }
        }
      }
    },
    "/api/sites": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get all site",
        "description": "Get previous message",
        "operationId": "getSites",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageSiteRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found!"
          }
        }
      },
      "post": {
        "tags": [
          "Sites"
        ],
        "summary": "Create new site",
        "description": "Create new site",
        "operationId": "createSite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "node",
            "description": "Array of site to create",
            "x-ms-summary": "Array of site to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonNode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SiteRo"
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/sites/{id}": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get a site",
        "description": "Get a site",
        "operationId": "getSite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a site. Cannot be empty.",
            "x-ms-summary": "Id of a site. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SiteRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Site not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Sites"
        ],
        "summary": "Delete a site",
        "description": "Delete a site",
        "operationId": "deleteSite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a site. Cannot be empty.",
            "x-ms-summary": "Id of a site. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Site not found"
          }
        }
      },
      "put": {
        "tags": [
          "Sites"
        ],
        "summary": "Update a site",
        "description": "Update a site",
        "operationId": "updateSite",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a site. Cannot be empty.",
            "x-ms-summary": "Id of a site. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "siteRo",
            "description": "siteRo",
            "x-ms-summary": "siteRo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteRo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SiteRo"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Site not found"
          }
        }
      }
    },
    "/api/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Get the list of tags",
        "description": "Get the list of tags",
        "operationId": "getTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageThingTagRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "Tags"
        ],
        "summary": "Update a tag of thing",
        "description": "Update a tag of thing",
        "operationId": "updateThingTag",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "thingTagRo",
            "description": "Tag to update. Cannot be empty.",
            "x-ms-summary": "Tag to update. Cannot be empty.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThingTagRo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagRo"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Tag not found"
          }
        }
      }
    },
    "/api/tags/thing/{thingId}": {
      "post": {
        "tags": [
          "Tags"
        ],
        "summary": "Add a tag to thing",
        "description": "Add a tag to thing",
        "operationId": "addThingTag",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "thingId",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "thingTagRo",
            "description": "Tag to add. Cannot be empty.",
            "x-ms-summary": "Tag to add. Cannot be empty.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThingTagRo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagRo"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Tag not found"
          }
        }
      }
    },
    "/api/tags/{id}": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Get a tag",
        "description": "Get a tag",
        "operationId": "getThingTag",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a tag. Cannot be empty.",
            "x-ms-summary": "Id of a tag. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Tag not found"
          }
        }
      }
    },
    "/api/things": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get a list of things",
        "description": "Get a list of things",
        "operationId": "getThings",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Boolean for detailed information.",
            "x-ms-summary": "Boolean for detailed information.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageSingleThingRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Thing management"
        ],
        "summary": "Import a csv file",
        "description": "Import a csv file",
        "operationId": "addThingsCsv",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "x-ms-summary": "file",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "Thing management"
        ],
        "summary": "Associate a product to a list of things",
        "description": "Associate a product to a list of things",
        "operationId": "associateThingsWithProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "json",
            "description": "json",
            "x-ms-summary": "json",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObjectNode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SingleThingRo"
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/things/list": {
      "post": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get the list of things",
        "description": "Get the list of things",
        "operationId": "getThingList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "thingIds",
            "description": "thingIds",
            "x-ms-summary": "thingIds",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SingleThingRo"
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/things/{id}": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get a thing details",
        "description": "Get a thing details",
        "operationId": "getThing",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Boolean for detailed information.",
            "x-ms-summary": "Boolean for detailed information.",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleThingRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "Thing management"
        ],
        "summary": "Delete a thing",
        "description": "Delete a thing",
        "operationId": "ignoreThing",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "force",
            "in": "query",
            "description": "force",
            "x-ms-summary": "force",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      },
      "put": {
        "tags": [
          "Thing management"
        ],
        "summary": "Update a thing",
        "description": "Update a thing",
        "operationId": "putThing",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "thingRo",
            "description": "Thing to update",
            "x-ms-summary": "Thing to update",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SingleThingRo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ThingRo"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/things/{id}/active_model": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get the active model of a thing",
        "description": "Get the active model of a thing",
        "operationId": "getThingActiveModel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModelRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/things/{id}/custom_fields": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get custom fields list",
        "description": "Get custom fields list",
        "operationId": "getCustomField",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageCustomFieldRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      },
      "post": {
        "tags": [
          "Thing management"
        ],
        "summary": "Add custom fields",
        "description": "Add custom fields",
        "operationId": "createCustomField",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "customFieldRo",
            "description": "Add custom field",
            "x-ms-summary": "Add custom field",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldRo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CustomFieldRo"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      },
      "put": {
        "tags": [
          "Thing management"
        ],
        "summary": "Update custom fields",
        "description": "Update custom fields",
        "operationId": "updateCustomField",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "customFieldRo",
            "description": "Update custom field",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldRo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CustomFieldRo"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/things/{id}/custom_fields/{fieldId}": {
      "delete": {
        "tags": [
          "Thing management"
        ],
        "summary": "Delete custom fields",
        "description": "Delete custom fields",
        "operationId": "deleteCustomField",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fieldId",
            "in": "path",
            "description": "Id of a custom field. Cannot be empty.",
            "x-ms-summary": "Id of a custom field. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/things/{id}/custom_fields/{fieldId}/image": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get custom fields image",
        "description": "Get custom fields image",
        "operationId": "getCustomFieldImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "image/png",
          "image/jpeg"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fieldId",
            "in": "path",
            "description": "Id of a custom field. Cannot be empty.",
            "x-ms-summary": "Id of a custom field. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Thing management"
        ],
        "summary": "Update custom fields image",
        "description": "Update custom fields image",
        "operationId": "postCustomFieldImage",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fieldId",
            "in": "path",
            "description": "Id of a custom field. Cannot be empty.",
            "x-ms-summary": "Id of a custom field. Cannot be empty",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "Image",
            "x-ms-summary": "Image",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/things/{id}/image": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get the picture of the thing",
        "description": "Get the picture of the thing",
        "operationId": "getThingImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "image/png",
          "image/jpeg"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/things/{id}/last_measurements": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Last measurements of a thing",
        "description": "Last measurements of a thing",
        "operationId": "getLastMeasures",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MeasureTinyRo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/things/{id}/last_message": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Last message of a thing",
        "description": "Last message of a thing",
        "operationId": "getLastMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MessageTinyRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/things/{id}/measures": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get a list of measures of a thing",
        "description": "Get a list of measures of a thing",
        "operationId": "getThingMeasures",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Boolean for detailed information.",
            "x-ms-summary": "Boolean for detailed information.",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageMeasureRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/things/{id}/messages": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get a list of messages of a thing",
        "description": "Get a list of messages of a thing",
        "operationId": "getThingMessages",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageMessageRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Thing management"
        ],
        "summary": "Delete all measures for a thing",
        "description": "Delete all measures for a thing",
        "operationId": "deleteThingMessages",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      },
      "post": {
        "tags": [
          "Thing management"
        ],
        "summary": "All messages of a thing",
        "description": "All messages of a thing",
        "operationId": "createThingMessages",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "messageRo",
            "description": "messageRo",
            "x-ms-summary": "messageRo.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MessageRo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MessageRo"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/things/{id}/model": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get the active model of a thing",
        "description": "Get the active model of a thing",
        "operationId": "getThingModel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModelRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found!"
          },
          "406": {
            "description": "Product has no model!"
          }
        }
      }
    },
    "/api/things/{id}/operations": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get the list of available operations",
        "description": "Get the list of available operations",
        "operationId": "getThingOperations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageOperationRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/things/{id}/operations/{operationId}": {
      "post": {
        "tags": [
          "Thing management"
        ],
        "summary": "Execute an operation on a thing",
        "description": "Execute an operation on a thing",
        "operationId": "executeThingOperation",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Id of an operation. Cannot be empty.",
            "x-ms-summary": "Id of an operation. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "placeholdersValues",
            "description": "placeholdersValues",
            "x-ms-summary": "placeholdersValues",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JsonNode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/things/{id}/positions": {
      "put": {
        "tags": [
          "Thing management"
        ],
        "summary": "Update position of a thing",
        "description": "Update position of a thing",
        "operationId": "updateThingFixedPosition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "thingRo",
            "description": "thingRo",
            "x-ms-summary": "thingRo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThingRo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleThingRo"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/things/{id}/product": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get the product of a thing",
        "description": "Get the product of a thing",
        "operationId": "getThingProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProductRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Thing management"
        ],
        "summary": "Dissociate the thing from the product",
        "description": "Dissociate the thing from the product",
        "operationId": "dissociateThingProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleThingRo"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      },
      "put": {
        "tags": [
          "Thing management"
        ],
        "summary": "Associate a product to a thing",
        "description": "Associate a product to a thing",
        "operationId": "associateThingProduct",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "product",
            "description": "product",
            "x-ms-summary": "product",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductRo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleThingRo"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/things/{id}/related_flows": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Related flows of a thing",
        "description": "Related flows of a thing",
        "operationId": "getFlowsRelatedToThing",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageFlowRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/api/things/{id}/tags": {
      "get": {
        "tags": [
          "Thing management"
        ],
        "summary": "Get thing tags",
        "description": "Get thing tags",
        "operationId": "getThingTags",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of a thing. Cannot be empty.",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageThingTagRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Thing not found"
          }
        }
      }
    },
    "/stats/avg": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get stats average",
        "description": "Get stats average",
        "operationId": "getStatsAvg",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "start",
            "x-ms-summary": "start",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "end",
            "in": "query",
            "description": "end",
            "x-ms-summary": "end",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageStatsMeasureRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/stats/count": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get stats count",
        "description": "Get stats count",
        "operationId": "getStatsCount",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "start",
            "x-ms-summary": "start",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "end",
            "in": "query",
            "description": "end",
            "x-ms-summary": "end",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StatsCountRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/stats/last": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get stats last",
        "description": "Get stats last",
        "operationId": "getStatsLast",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageStatsMeasureRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/stats/last/things/{thingId}": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get stats last",
        "description": "Get stats last",
        "operationId": "getThingStatsLast",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "thingId",
            "in": "path",
            "description": "Id of a thing. Cannot be empty",
            "x-ms-summary": "Id of a thing. Cannot be empty.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageStatsMeasureRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/stats/max": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get stats max",
        "description": "Get stats max",
        "operationId": "getStatsMax",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "start",
            "x-ms-summary": "start",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "end",
            "in": "query",
            "description": "end",
            "x-ms-summary": "end",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PageStatsMeasureRo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/stats/measurements": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get stats measurements",
        "description": "Get stats measurements",
        "operationId": "getStatsMeasurements",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "time",
            "in": "query",
            "description": "time",
            "x-ms-summary": "time",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "interval",
            "x-ms-summary": "interval",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "start",
            "x-ms-summary": "start",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "end",
            "in": "query",
            "description": "end",
            "x-ms-summary": "end",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StatsGraphRo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/stats/min": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get stats min",
        "description": "Get stats min",
        "operationId": "getStatsMin",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of the current page",
            "x-ms-summary": "Number of the current page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of item in the page",
            "x-ms-summary": "Number of item in the page",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sortValues",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "String for sort value",
            "x-ms-summary": "String for sort value",
            "required": false,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "String for filter",
            "x-ms-summary": "String for filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "dir",
            "in": "query",
            "description": "Sort direction (ASC/DESC)",
            "x-ms-summary": "Sort direction (ASC/DESC)",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "orFilter",
            "in": "query",
            "description": "Or filter parameter",
            "x-ms-summary": "Or filter parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "start",
[...]
