{
  "swagger": "2.0",
  "info": {
    "title": "tyntec-viber",
    "description": "Send a Viber message using the tyntec Conversation API and retrieve its Status (accepted/delivered/failed) using Status_check.",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },
    "version": "1.0"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/chat-api/v2/messages/": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId"
                }
              }
            }
          }
        },
        "summary": "Send Viber Message",
        "description": "Send Viber Message",
        "operationId": "Send_Viber",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Your tyntec API key with the Viber Service ID enabled.",
            "x-ms-summary": "A tyntec API key"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "Receiver's phone number",
                  "title": "to"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The tyntec conversation API channel. Use Viber",
                    "title": "Channel",
                    "default": "viber"
                  },
                  "description": "channels"
                },
                "viber": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "Your Viber Service ID",
                      "title": "from"
                    },
                    "components": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of your message. Use default text.",
                            "title": "type",
                            "default": "text"
                          },
                          "text": {
                            "type": "string",
                            "description": "Your custom text for Viber message",
                            "title": "text"
                          }
                        },
                        "required": [
                          "text",
                          "type"
                        ]
                      },
                      "description": "components"
                    }
                  },
                  "description": "viber",
                  "required": [
                    "components",
                    "from"
                  ]
                }
              },
              "required": [
                "to",
                "channels",
                "viber"
              ]
            }
          }
        ]
      }
    },
    "/chat-api/v2/messages/{id}/status": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId"
                },
                "deliveryChannel": {
                  "type": "string",
                  "description": "deliveryChannel"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp"
                }
              }
            }
          }
        },
        "summary": "Status Check",
        "description": "Check for status of your message",
        "operationId": "Status_Check",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Message ID",
            "x-ms-summary": "ID of the checked Message"
          },
          {
            "name": "apikey",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Your tyntec API key",
            "x-ms-summary": "Your tyntec API key"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}