{
  "swagger": "2.0",
  "info": {
    "title": "tyntec Viber Business",
    "description": "Provides Viber communication channel using the tyntec Conversations API to expand your customer engagement",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },
    "version": "2.1"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/chat-api/v2/applications/ms-connector/inbound-message-callback": {
      "x-ms-notification-content": {
        "description": "Response",
        "schema": {
          "type": "object",
          "properties": {
            "messageId": {
              "type": "string",
              "description": "messageId"
            },
            "channel": {
              "type": "string",
              "description": "channel"
            },
            "from": {
              "type": "string",
              "description": "from"
            },
            "to": {
              "type": "string",
              "description": "to"
            },
            "receivedAt": {
              "type": "string",
              "description": "receivedAt"
            },
            "content": {
              "type": "object",
              "properties": {
                "contentType": {
                  "type": "string",
                  "description": "contentType"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                },
                "file": {
                  "type": "string",
                  "description": "file"
                }
              },
              "description": "content"
            },
            "event": {
              "type": "string",
              "description": "event"
            },
            "timestamp": {
              "type": "string",
              "description": "timestamp"
            }
          }
        }
      },
      "patch": {
        "responses": {},
        "summary": "Incoming message",
        "description": "Triggers on Incoming message",
        "operationId": "incoming",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/chat-api/v2/messages/": {
      "post": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Send Viber Message",
        "description": "Send Viber Message",
        "operationId": "SendViber",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "Receiver's phone number",
                  "title": "to"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The Conversations API channel",
                    "title": "Channel",
                    "default": "viber",
                    "x-ms-visibility": "internal"
                  },
                  "description": "channels"
                },
                "viber": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "Viber Service ID",
                      "title": "from"
                    },
                    "components": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Message type",
                            "title": "type",
                            "default": "text",
                            "x-ms-visibility": "internal"
                          },
                          "text": {
                            "type": "string",
                            "description": "Your custom text for Viber message",
                            "title": "text"
                          }
                        },
                        "required": [
                          "text",
                          "type"
                        ]
                      },
                      "description": "components"
                    },
                    "messagePurpose" :{
                      "type": "string",
                      "description": "Message Purpose",
                      "title": "Message Purpose",
                      "default": "promotion"
                    }
                  },
                  "description": "viber",
                  "required": [
                    "components",
                    "from",
                    "messagePurpose"
                  ]
                }
              },
              "required": [
                "to",
                "channels",
                "viber"
              ]
            }
          }
        ]
      }
    },
    "/chat-api/v2/messages/{id}/status": {
      "get": {
        "responses": {
          "202": {
            "description": "Returned when the operation successfully connects to Conversations API",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                },
                "deliveryChannel": {
                  "type": "string",
                  "description": "deliveryChannel",
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-visibility": "important"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Status Check",
        "description": "Check for status of your message",
        "operationId": "StatusCheck",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Message ID",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/chat-api/v2/messages": {
      "post": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Send Rich Media",
        "description": "Sends Rich Media message",
        "operationId": "SendRichMedia",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "channel",
                    "title": "channel",
                    "x-ms-visibility": "internal",
                    "default": "viber"
                  },
                  "description": "channels"
                },
                "viber": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "from"
                    },
                    "messagePurpose" :{
                      "type": "string",
                      "description": "Message Purpose",
                      "title": "Message Purpose",
                      "default": "promotion"
                    },
                    "components": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "image": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "url"
                              }
                            },
                            "description": "image"
                          }
                        }
                      },
                      "description": "components"
                    }
                  },
                  "description": "viber"
                }
              },
              "required": [
                "channels"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ]
}