{
  "swagger": "2.0",
  "info": {
    "title": "tyntec Viber Business",
    "description": "Provides Viber communication channel using the tyntec Conversations API to expand your customer engagement",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },
    "version": "1.1"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/chat-api/v2/messages/": {
      "post": {
        "responses": {
        "202": {
          "description": "default",
          "schema": {
            "type": "object",
            "properties": {
              "messageId": {
                "type": "string",
                "description": "messageId",
                "x-ms-visibility": "important"
              }
            }
          }
        }
      },
        "summary": "Send Viber Message",
        "description": "Send Viber Message",
        "operationId": "SendViber",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "Receiver's phone number",
                  "title": "to"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The Conversations API channel",
                    "title": "Channel",
                    "default": "viber",
                    "x-ms-visibility": "internal"
                  },
                  "description": "channels"
                },
                "viber": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "Viber Service ID",
                      "title": "from"
                    },
                    "components": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Message type",
                            "title": "type",
                            "default": "text",
                            "x-ms-visibility": "internal"
                          },
                          "text": {
                            "type": "string",
                            "description": "Your custom text for Viber message",
                            "title": "text"
                          }
                        },
                        "required": [
                          "text",
                          "type"
                        ]
                      },
                      "description": "components"
                    }
                  },
                  "description": "viber",
                  "required": [
                    "components",
                    "from"
                  ]
                }
              },
              "required": [
                "to",
                "channels",
                "viber"
              ]
            }
          }
        ]
      }
    },
    "/chat-api/v2/messages/{id}/status": {
      "get": {
        "responses": {
          "202": {
            "description": "Returned when the operation successfully connects to Conversations API",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                },
                "deliveryChannel": {
                  "type": "string",
                  "description": "deliveryChannel",
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-visibility": "important"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Status Check",
        "description": "Check for status of your message",
        "operationId": "StatusCheck",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Message ID",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ]
}

