{
  "swagger": "2.0",
  "info": {
    "title": "tyntec Viber Business",
    "description": "Provides Viber communication channel using the tyntec Conversations API to expand your customer engagement",
    "contact": {
      "name": "tyntec support",
      "url": "https://www.tyntec.com/get-help-support",
      "email": "support@tyntec.com"
    },
    "version": "2.1"
  },
  "host": "api.tyntec.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/chat-api/v2/applications/ms-connector/inbound-message-callback": {
      "x-ms-notification-content": {
        "description": "Response",
        "schema": {
          "type": "object",
          "properties": {
            "messageId": {
              "type": "string",
              "description": "messageId"
            },
            "channel": {
              "type": "string",
              "description": "channel"
            },
            "from": {
              "type": "string",
              "description": "from"
            },
            "to": {
              "type": "string",
              "description": "to"
            },
            "receivedAt": {
              "type": "string",
              "description": "receivedAt"
            },
            "content": {
              "type": "object",
              "properties": {
                "contentType": {
                  "type": "string",
                  "description": "contentType"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                },
                "file": {
                  "type": "string",
                  "description": "file"
                }
              },
              "description": "content"
            },
            "event": {
              "type": "string",
              "description": "event"
            },
            "timestamp": {
              "type": "string",
              "description": "timestamp"
            }
          }
        }
      },
      "patch": {
        "responses": {},
        "summary": "Incoming message (deprecated)",
        "description": "Triggers on Incoming message (deprecated)",
        "operationId": "incoming",
        "x-ms-trigger": "single",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "Incoming",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/chat-api/v2/messages/": {
      "post": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Send Viber Message (deprecated)",
        "description": "Send Viber Message (deprecated)",
        "operationId": "SendViber",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "SendMessage",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "Receiver's phone number",
                  "title": "to"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "The Conversations API channel",
                    "title": "Channel",
                    "default": "viber",
                    "x-ms-visibility": "internal"
                  },
                  "description": "channels"
                },
                "viber": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "Viber Service ID",
                      "title": "from"
                    },
                    "components": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Message type",
                            "title": "type",
                            "default": "text",
                            "x-ms-visibility": "internal"
                          },
                          "text": {
                            "type": "string",
                            "description": "Your custom text for Viber message",
                            "title": "text"
                          }
                        },
                        "required": [
                          "text",
                          "type"
                        ]
                      },
                      "description": "components"
                    },
                    "messagePurpose": {
                      "type": "string",
                      "description": "Message Purpose",
                      "title": "Message Purpose",
                      "default": "promotion"
                    }
                  },
                  "description": "viber",
                  "required": [
                    "components",
                    "from",
                    "messagePurpose"
                  ]
                }
              },
              "required": [
                "to",
                "channels",
                "viber"
              ]
            }
          }
        ]
      }
    },
    "/chat-api/v2/messages/{id}/status": {
      "get": {
        "responses": {
          "202": {
            "description": "Returned when the operation successfully connects to Conversations API",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                },
                "deliveryChannel": {
                  "type": "string",
                  "description": "deliveryChannel",
                  "x-ms-visibility": "important"
                },
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-visibility": "important"
                },
                "timestamp": {
                  "type": "string",
                  "description": "timestamp",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Status Check (deprecated)",
        "description": "Check for status of your message (deprecated)",
        "operationId": "StatusCheck",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "StatusCheck",
          "revision": 1
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Message ID",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/chat-api/v2/messages": {
      "post": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Send Rich Media (deprecated)",
        "description": "Sends Rich Media message (deprecated)",
        "operationId": "SendRichMedia",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "SendRIch",
          "revision": 1
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "channel",
                    "title": "channel",
                    "x-ms-visibility": "internal",
                    "default": "viber"
                  },
                  "description": "channels"
                },
                "viber": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "from"
                    },
                    "messagePurpose": {
                      "type": "string",
                      "description": "Message Purpose",
                      "title": "Message Purpose",
                      "default": "promotion"
                    },
                    "components": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "image": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "url"
                              }
                            },
                            "description": "image"
                          }
                        }
                      },
                      "description": "components"
                    }
                  },
                  "description": "viber"
                }
              },
              "required": [
                "channels"
              ]
            }
          }
        ]
      }
    },
    "/conversations/v3/messages": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "SendViberTextV3",
        "summary": "Send Viber Text Message",
        "description": "Send Viber Text Message",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "from"
                },
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "channel": {
                  "type": "string",
                  "description": "channel"
                },
                "rateType": {
                  "type": "string",
                  "description": "rateType"
                },
                "content": {
                  "type": "object",
                  "properties": {
                    "contentType": {
                      "type": "string",
                      "description": "contentType"
                    },
                    "text": {
                      "type": "string",
                      "description": "text"
                    }
                  },
                  "description": "content"
                }
              }
            }
          }
        ]
      }
    },
    "/conversations/v3/messages/": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Send Viber Image Message",
        "operationId": "SendViberImageV3",
        "description": "Send Viber Image Message",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "from"
                },
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "channel": {
                  "type": "string",
                  "description": "channel"
                },
                "rateType": {
                  "type": "string",
                  "description": "rateType"
                },
                "content": {
                  "type": "object",
                  "properties": {
                    "contentType": {
                      "type": "string",
                      "description": "contentType"
                    },
                    "image": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "url"
                        }
                      },
                      "description": "image"
                    }
                  },
                  "description": "content"
                }
              }
            }
          }
        ]
      }
    },
    "/conversations/v3/messages//": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "SendViberFileV3",
        "summary": "Send Viber File Message",
        "description": "Send Viber File Message",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "from"
                },
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "channel": {
                  "type": "string",
                  "description": "channel"
                },
                "messagePurpose": {
                  "type": "string",
                  "description": "messagePurpose"
                },
                "content": {
                  "type": "object",
                  "properties": {
                    "contentType": {
                      "type": "string",
                      "description": "contentType"
                    },
                    "file": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "filename": {
                          "type": "string",
                          "description": "filename"
                        },
                        "filetype": {
                          "type": "string",
                          "description": "filetype"
                        }
                      },
                      "description": "file"
                    }
                  },
                  "description": "content"
                }
              }
            }
          }
        ]
      }
    },
    "/conversations/v3/messages////": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "SendViberComplexV3",
        "summary": "Send Viber Complex Message",
        "description": "Send Viber Complex Message",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "from": {
                  "type": "string",
                  "description": "from"
                },
                "to": {
                  "type": "string",
                  "description": "to"
                },
                "channel": {
                  "type": "string",
                  "description": "channel"
                },
                "rateType": {
                  "type": "string",
                  "description": "rateType"
                },
                "content": {
                  "type": "object",
                  "properties": {
                    "contentType": {
                      "type": "string",
                      "description": "contentType"
                    },
                    "components": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "text": {
                                "type": "string",
                                "description": "text"
                              },
                              "image": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "description": "url"
                                  }
                                },
                                "description": "image"
                              },
                              "button": {
                                "type": "object",
                                "properties": {
                                  "caption": {
                                    "type": "string",
                                    "description": "caption"
                                  },
                                  "callback": {
                                    "type": "string",
                                    "description": "callback"
                                  }
                                },
                                "description": "button"
                              }
                            }
                          },
                          "description": "body"
                        }
                      },
                      "description": "components"
                    }
                  },
                  "description": "content"
                }
              }
            }
          }
        ]
      }
    },
    "/conversations/v3/configurations/channels/viber/service-ids/{viberServiceId}/callbacks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "messageId": {
              "type": "string",
              "description": "messageId"
            },
            "channel": {
              "type": "string",
              "description": "channel"
            },
            "from": {
              "type": "string",
              "description": "from"
            },
            "to": {
              "type": "string",
              "description": "to"
            },
            "receivedAt": {
              "type": "string",
              "description": "receivedAt"
            },
            "content": {
              "type": "object",
              "properties": {
                "contentType": {
                  "type": "string",
                  "description": "contentType"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                },
                "file": {
                  "type": "string",
                  "description": "file"
                }
              },
              "description": "content"
            },
            "event": {
              "type": "string",
              "description": "event"
            },
            "timestamp": {
              "type": "string",
              "description": "timestamp"
            }
          }
        }
      },
      "put": {
        "responses": {},
        "description": "Triggers on Incoming message",
        "summary": "Incoming message",
        "operationId": "IncomingV3",
        "x-ms-trigger": "single",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "Incoming",
          "revision": 2
        },
        "parameters": [
          {
            "name": "viberServiceId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "inboundMessageUrl": {
                  "type": "string",
                  "description": "inboundMessageUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "inboundMessageUrl"
              ]
            }
          }
        ]
      }
    },
    "/conversations/v3/configurations/channels/viber": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "TestMyAPIConnection",
        "description": "TestMyAPIConnection",
        "operationId": "TestMyAPIConnection",
        "parameters": [],
        "x-ms-visibility": "internal"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apikey"
    }
  },
  "security": [],
  "tags": []
  ,"x-ms-capabilities": {
	  "testConnection": {
		"operationId": "TestMyAPIConnection",
		"parameters": {}
	  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tyntec.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.tyntec.com/data-privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ]
}