{
  "swagger": "2.0",
  "info": {
    "title": "Zenler",
    "description": "Zenler is an all-in-one course creation, delivery, and marketing platform.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.newzenler.com",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/users": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "roles": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "description": "The roles.",
                            "title": "Roles"
                          }
                        }
                      },
                      "title": "Items"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total items number.",
                          "title": "Total Items"
                        },
                        "items_per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The items per page.",
                          "title": "Items Per Page"
                        },
                        "page_index": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page index.",
                          "title": "Page Index"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total pages number.",
                          "title": "Total Pages"
                        }
                      },
                      "title": "Pagination"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get user list",
        "description": "Retrieves a list of users.",
        "operationId": "UserList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer",
            "default": 15,
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "description": "The order by field.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order.",
            "required": false,
            "type": "string",
            "default": "desc",
            "enum": [
              "desc",
              "asc"
            ]
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "The search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "role",
            "in": "query",
            "x-ms-summary": "Role",
            "description": "The role.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "The first name.",
                      "title": "First Name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "The last name.",
                      "title": "Last Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Add user",
        "description": "Creates a new user.",
        "operationId": "UserPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "password": {
                  "type": "string",
                  "description": "The password.",
                  "title": "Password"
                },
                "commission": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The commission.",
                  "title": "Commission"
                },
                "roles": {
                  "type": "string",
                  "description": "The roles.",
                  "title": "Roles"
                },
                "address": {
                  "type": "string",
                  "description": "The address.",
                  "title": "Address"
                },
                "city": {
                  "type": "string",
                  "description": "The city.",
                  "title": "City"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "phone": {
                  "type": "string",
                  "description": "The phone number.",
                  "title": "Phone"
                },
                "zip_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The zip code.",
                  "title": "Zip Code"
                },
                "country": {
                  "type": "string",
                  "description": "The country.",
                  "title": "Country"
                },
                "gdpr_consent_status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The GDPR consent status.",
                  "title": "GDPR Consent Status"
                }
              },
              "required": [
                "first_name",
                "last_name",
                "email",
                "password",
                "commission",
                "roles"
              ]
            }
          }
        ]
      }
    },
    "/users/{user_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "The first name.",
                      "title": "First Name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "The last name.",
                      "title": "Last Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "bio": {
                      "type": "string",
                      "description": "The biography.",
                      "title": "Bio"
                    },
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The State.",
                      "title": "State"
                    },
                    "zip_code": {
                      "type": "string",
                      "description": "The zip code.",
                      "title": "Zip Code"
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "title": "Roles"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get user details",
        "description": "Retrieve information about a user.",
        "operationId": "UserGet",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "string",
                  "description": "The data.",
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Delete a user",
        "description": "Remove a user from your account.",
        "operationId": "UserDelete",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The message.",
                      "title": "Message"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Update user",
        "description": "Updates a user's information.",
        "operationId": "UserPut",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "password": {
                  "type": "string",
                  "description": "The password.",
                  "title": "Password"
                },
                "commission": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The commission.",
                  "title": "Commission"
                },
                "roles": {
                  "type": "string",
                  "description": "The roles.",
                  "title": "Roles"
                },
                "address": {
                  "type": "string",
                  "description": "The address.",
                  "title": "Address"
                },
                "city": {
                  "type": "string",
                  "description": "The city.",
                  "title": "City"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "phone": {
                  "type": "string",
                  "description": "The phone number.",
                  "title": "Phone"
                },
                "zip_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The zip code.",
                  "title": "Zip Code"
                },
                "country": {
                  "type": "string",
                  "description": "The country.",
                  "title": "Country"
                },
                "gdpr_consent_status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The GDPR consent status.",
                  "title": "GDPR Consent Status"
                }
              },
              "required": [
                "first_name",
                "last_name",
                "email",
                "password",
                "commission",
                "roles"
              ]
            }
          }
        ]
      }
    },
    "/users/{user_id}/enroll": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "string",
                  "description": "The data.",
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Enroll a user",
        "description": "Enrolls a user to a course.",
        "operationId": "UserEnroll",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "course_id": {
                  "type": "string",
                  "description": "The course identifier.",
                  "title": "Course ID"
                },
                "plan_id": {
                  "type": "string",
                  "description": "The plan identifier.",
                  "title": "Plan ID"
                }
              },
              "required": [
                "course_id"
              ]
            }
          }
        ]
      }
    },
    "/users/{user_id}/unenroll": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The message.",
                      "title": "Message"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Unenroll a user",
        "description": "Unenrolls a user from a course.",
        "operationId": "UserUnenroll",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "course_id": {
                  "type": "string",
                  "description": "The course identifier.",
                  "title": "Course ID"
                }
              },
              "required": [
                "course_id"
              ]
            }
          }
        ]
      }
    },
    "/courses": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "subtitle": {
                            "type": "string",
                            "description": "The subtitle.",
                            "title": "Subtitle"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "The thumbnail.",
                            "title": "Thumbnail"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          }
                        }
                      },
                      "title": "Items"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total items number.",
                          "title": "Total Items"
                        },
                        "items_per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The items per page.",
                          "title": "Items Per Page"
                        },
                        "page_index": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page index.",
                          "title": "Page Index"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total pages number.",
                          "title": "Total Pages"
                        }
                      },
                      "title": "Pagination"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get list of courses",
        "description": "Retrieves a list of courses.",
        "operationId": "CourseList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "description": "The order by field.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "The search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "x-ms-summary": "Type",
            "description": "The type.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "status",
            "in": "query",
            "x-ms-summary": "Status",
            "description": "The status.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/courses/{course_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "subtitle": {
                          "type": "string",
                          "description": "The subtitle.",
                          "title": "Subtitle"
                        },
                        "thumbnail": {
                          "type": "string",
                          "description": "The thumbnail.",
                          "title": "Thumbnail"
                        },
                        "course_type": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The course type.",
                          "title": "Course Type"
                        },
                        "owner": {
                          "type": "string",
                          "description": "The owner.",
                          "title": "Owner"
                        },
                        "school_id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The school identifier.",
                          "title": "School ID"
                        },
                        "public": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Whether public.",
                          "title": "Public"
                        },
                        "featured": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Whether featured .",
                          "title": "Featured"
                        },
                        "hidden": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Whether hidden.",
                          "title": "Hidden"
                        },
                        "private": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Whether private.",
                          "title": "Private"
                        }
                      },
                      "title": "Items"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get course",
        "description": "Retrieves a course by course identifier.",
        "operationId": "CourseGet",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "x-ms-summary": "Course ID",
            "x-ms-url-encoding": "single",
            "description": "The course identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/funnels": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "total_leads": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The total number of leads.",
                            "title": "Total Leads"
                          },
                          "thumbnail": {
                            "type": "string",
                            "description": "The thumbnail.",
                            "title": "Thumbnail"
                          }
                        }
                      },
                      "title": "Items"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total items number.",
                          "title": "Total Items"
                        },
                        "items_per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The items per page.",
                          "title": "Items Per Page"
                        },
                        "page_index": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page index.",
                          "title": "Page Index"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total pages number.",
                          "title": "Total Pages"
                        }
                      },
                      "title": "Pagination"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get funnels",
        "description": "Retrieves a list of funnels.",
        "operationId": "FunnelList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "description": "The order by field.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "The search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "x-ms-summary": "Status",
            "description": "The status.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/funnels/enrollments/{funnel_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "enrolled_on": {
                            "type": "string",
                            "description": "When enrolled on.",
                            "title": "Enrolled On"
                          }
                        }
                      },
                      "title": "Items"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get enrollments for a funnel",
        "description": "Retrieves a list of enrollments for a funnel.",
        "operationId": "FunnelEnrollment",
        "parameters": [
          {
            "name": "funnel_id",
            "in": "path",
            "x-ms-summary": "Funnel ID",
            "x-ms-url-encoding": "single",
            "description": "The funnel identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/funnels/{funnel_id}/subscribe": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "funnel": {
                      "type": "string",
                      "description": "The funnel.",
                      "title": "Funnel"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Subscribe to funnel",
        "description": "Subscribe a user to a funnel.",
        "operationId": "FunnelSubscribe",
        "parameters": [
          {
            "name": "funnel_id",
            "in": "path",
            "x-ms-summary": "Funnel ID",
            "x-ms-url-encoding": "single",
            "description": "The funnel identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "address": {
                  "type": "string",
                  "description": "The address.",
                  "title": "Address"
                },
                "city": {
                  "type": "string",
                  "description": "The city.",
                  "title": "City"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "phone": {
                  "type": "string",
                  "description": "The phone number.",
                  "title": "Phone"
                },
                "zip_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The zip code.",
                  "title": "Zip Code"
                },
                "country": {
                  "type": "string",
                  "description": "The country.",
                  "title": "Country"
                },
                "gdpr_consent_status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The GDPR consent status.",
                  "title": "GDPR Consent Status"
                }
              },
              "required": [
                "name",
                "email"
              ]
            }
          }
        ]
      }
    },
    "/funnels/{funnel_id}/unsubscribe": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "string",
                  "description": "The data.",
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Unsubscribe from funnel",
        "description": "Unsubscribes a user from a funnel.",
        "operationId": "FunnelUnsubscribe",
        "parameters": [
          {
            "name": "funnel_id",
            "in": "path",
            "x-ms-summary": "Funnel ID",
            "x-ms-url-encoding": "single",
            "description": "The funnel identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email.",
                  "title": "Email"
                }
              }
            }
          }
        ]
      }
    },
    "/live-class/get-live-classes-list": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "topic": {
                            "type": "string",
                            "description": "The topic.",
                            "title": "Topic"
                          },
                          "schedule_date": {
                            "type": "string",
                            "description": "The schedule date.",
                            "title": "Schedule Date"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The timezone.",
                            "title": "Timezone"
                          },
                          "duration": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The duration.",
                            "title": "Duration"
                          },
                          "register_url": {
                            "type": "string",
                            "description": "The register URL address.",
                            "title": "Register URL"
                          },
                          "recurring": {
                            "type": "boolean",
                            "description": "Whether recurring.",
                            "title": "Recurring"
                          },
                          "recent_recurring_schedule": {
                            "type": "string",
                            "description": "The recent recurring schedule.",
                            "title": "Recent Recurring Schedule"
                          }
                        }
                      },
                      "title": "Items"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total items number.",
                          "title": "Total Items"
                        },
                        "items_per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The items per page.",
                          "title": "Items Per Page"
                        },
                        "page_index": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page index.",
                          "title": "Page Index"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total pages number.",
                          "title": "Total Pages"
                        }
                      },
                      "title": "Pagination"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get upcoming classes",
        "description": "Retrieves a list of upcoming live classes.",
        "operationId": "ClassList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "description": "The order by field.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order.",
            "required": false,
            "type": "string",
            "default": "desc",
            "enum": [
              "desc",
              "asc"
            ]
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "The search term.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/live-class/{liveclass_id}/register": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "live class": {
                      "type": "string",
                      "description": "The live class.",
                      "title": "Live Class"
                    },
                    "message": {
                      "type": "string",
                      "description": "The message.",
                      "title": "Message"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Register for class",
        "description": "Register a user for a live class.",
        "operationId": "ClassRegister",
        "parameters": [
          {
            "name": "liveclass_id",
            "in": "path",
            "x-ms-summary": "Live Class ID",
            "x-ms-url-encoding": "single",
            "description": "The live class identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                }
              },
              "required": [
                "email",
                "name"
              ]
            }
          }
        ]
      }
    },
    "/live-class/{liveclass_id}/unregister": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "string",
                  "description": "The data.",
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Unregister for class",
        "description": "Unregister a user for a live class.",
        "operationId": "ClassUnregister",
        "parameters": [
          {
            "name": "liveclass_id",
            "in": "path",
            "x-ms-summary": "Live Class ID",
            "x-ms-url-encoding": "single",
            "description": "The live class identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email.",
                  "title": "Email"
                }
              }
            }
          }
        ]
      }
    },
    "/live-webinar/get-live-webinars-list": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "topic": {
                            "type": "string",
                            "description": "The topic.",
                            "title": "Topic"
                          },
                          "schedule_date": {
                            "type": "string",
                            "description": "The schedule date.",
                            "title": "Schedule Date"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "The timezone.",
                            "title": "Timezone"
                          },
                          "duration": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The duration.",
                            "title": "Duration"
                          },
                          "register_url": {
                            "type": "string",
                            "description": "The register URL address.",
                            "title": "Register URL"
                          },
                          "recurring": {
                            "type": "boolean",
                            "description": "Whether recurring.",
                            "title": "Recurring"
                          },
                          "recent_recurring_schedule": {
                            "type": "string",
                            "description": "The recent recurring schedule.",
                            "title": "Recent Recurring Schedule"
                          }
                        }
                      },
                      "title": "Items"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total items number.",
                          "title": "Total Items"
                        },
                        "items_per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The items per page.",
                          "title": "Items Per Page"
                        },
                        "page_index": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page index.",
                          "title": "Page Index"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total pages number.",
                          "title": "Total Pages"
                        }
                      },
                      "title": "Pagination"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get upcoming webinars",
        "description": "Retrieve a list of upcoming live webinars.",
        "operationId": "WebinarList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "orderby",
            "in": "query",
            "x-ms-summary": "Order By",
            "description": "The order by field.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order.",
            "required": false,
            "type": "string",
            "default": "desc",
            "enum": [
              "desc",
              "asc"
            ]
          },
          {
            "name": "search",
            "in": "query",
            "x-ms-summary": "Search",
            "description": "The search term.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/live-webinar/{webinar_id}/register": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "live webinar": {
                      "type": "string",
                      "description": "The live webinar.",
                      "title": "Live Webinar"
                    },
                    "message": {
                      "type": "string",
                      "description": "The message.",
                      "title": "Message"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Register for webinar",
        "description": "Register a user for a live webinar.",
        "operationId": "WebinarRegister",
        "parameters": [
          {
            "name": "webinar_id",
            "in": "path",
            "x-ms-summary": "Webinar ID",
            "x-ms-url-encoding": "single",
            "description": "The webinar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "last_name": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                },
                "address": {
                  "type": "string",
                  "description": "The address.",
                  "title": "Address"
                },
                "city": {
                  "type": "string",
                  "description": "The city.",
                  "title": "City"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "phone": {
                  "type": "string",
                  "description": "The phone number.",
                  "title": "Phone"
                },
                "zip_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The zip code.",
                  "title": "Zip Code"
                }
              },
              "required": [
                "email",
                "name"
              ]
            }
          }
        ]
      }
    },
    "/live-webinar/{webinar_id}/unregister": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "string",
                  "description": "The data.",
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Unregister for webinar",
        "description": "Unregister a user for a live webinar.",
        "operationId": "WebinarUnregister",
        "parameters": [
          {
            "name": "webinar_id",
            "in": "path",
            "x-ms-summary": "Webinar ID",
            "x-ms-url-encoding": "single",
            "description": "The webinar identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ]
      }
    },
    "/reports/enrollments/brief": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "course_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The course identifier.",
                            "title": "Course ID"
                          },
                          "course_name": {
                            "type": "string",
                            "description": "The course name.",
                            "title": "Course Name"
                          },
                          "no_of_enrollments": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of enrollments.",
                            "title": "Number Of Enrollments"
                          }
                        }
                      },
                      "title": "Items"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total items number.",
                          "title": "Total Items"
                        },
                        "items_per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The items per page.",
                          "title": "Items Per Page"
                        },
                        "page_index": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page index.",
                          "title": "Page Index"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total pages number.",
                          "title": "Total Pages"
                        }
                      },
                      "title": "Pagination"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get brief enrollments report",
        "description": "Retrieves a brief list of enrollments.",
        "operationId": "ReportEnrollBrief",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "course_id",
            "in": "query",
            "x-ms-summary": "Course ID",
            "description": "The course identifier.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/reports/enrollments/detailed": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "course_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The course identifier.",
                            "title": "Course ID"
                          },
                          "user_id": {
                            "type": "string",
                            "description": "The user identifier.",
                            "title": "User ID"
                          },
                          "course_name": {
                            "type": "string",
                            "description": "The course name.",
                            "title": "Course Name"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "enrollment_date": {
                            "type": "string",
                            "description": "The enrollment date.",
                            "title": "Enrollment Date"
                          }
                        }
                      },
                      "title": "Items"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get detailed enrollments report",
        "description": "Retrieves a detailed list of enrollments.",
        "operationId": "ReportEnrollDetail",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "course_id",
            "in": "query",
            "x-ms-summary": "Course ID",
            "description": "The course identifier.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/reports/sales/brief": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "total_sales": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The total sales.",
                            "title": "Total Sales"
                          },
                          "course_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The course identifier.",
                            "title": "Course ID"
                          },
                          "earnings_total": {
                            "type": "string",
                            "description": "The earnings total.",
                            "title": "Earnings Total"
                          },
                          "sales_total": {
                            "type": "string",
                            "description": "The sales total.",
                            "title": "Sales Total"
                          },
                          "aff_fee": {
                            "type": "string",
                            "description": "The affiliate fee.",
                            "title": "Aff Fee"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "day": {
                            "type": "string",
                            "description": "The day.",
                            "title": "Day"
                          },
                          "month": {
                            "type": "string",
                            "description": "The month.",
                            "title": "Month"
                          },
                          "currency": {
                            "type": "string",
                            "description": "The currency.",
                            "title": "Currency"
                          }
                        }
                      },
                      "title": "Items"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total items number.",
                          "title": "Total Items"
                        },
                        "items_per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The items per page.",
                          "title": "Items Per Page"
                        },
                        "page_index": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page index.",
                          "title": "Page Index"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total pages number.",
                          "title": "Total Pages"
                        }
                      },
                      "title": "Pagination"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get brief sales report",
        "description": "Retrieves a brief report of sales.",
        "operationId": "ReportSalesBrief",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groupby",
            "in": "query",
            "x-ms-summary": "Group By",
            "description": "The group by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "course_ids",
            "in": "query",
            "x-ms-summary": "Course IDs",
            "description": "The course identifiers.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/reports/sales/detailed": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "transaction_id": {
                            "type": "string",
                            "description": "The transaction identifier.",
                            "title": "Transaction ID"
                          },
                          "sales_price": {
                            "type": "string",
                            "description": "The sales price.",
                            "title": "Sales Price"
                          },
                          "earn_price": {
                            "type": "string",
                            "description": "The earn price.",
                            "title": "Earn Price"
                          },
                          "student_name": {
                            "type": "string",
                            "description": "The student's name.",
                            "title": "Student Name"
                          },
                          "student_email": {
                            "type": "string",
                            "description": "The student's email address.",
                            "title": "Student Email"
                          },
                          "course": {
                            "type": "string",
                            "description": "The course.",
                            "title": "Course"
                          },
                          "course_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The course identifier.",
                            "title": "Course ID"
                          },
                          "coupon_code": {
                            "type": "string",
                            "description": "The coupon code.",
                            "title": "Coupon Code"
                          },
                          "payment_gateway": {
                            "type": "string",
                            "description": "The payment gateway.",
                            "title": "Payment Gateway"
                          }
                        }
                      },
                      "title": "Items"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total items number.",
                          "title": "Total Items"
                        },
                        "items_per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The items per page.",
                          "title": "Items Per Page"
                        },
                        "page_index": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page index.",
                          "title": "Page Index"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total pages number.",
                          "title": "Total Pages"
                        }
                      },
                      "title": "Pagination"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get detailed sales report",
        "description": "Retrieves a detailed sales report.",
        "operationId": "ReportSalesDetailed",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "course_ids",
            "in": "query",
            "x-ms-summary": "Course IDs",
            "description": "The course identifiers.",
            "required": false,
            "type": "string"
          },
          {
            "name": "payment_type",
            "in": "query",
            "x-ms-summary": "Payment Type",
            "description": "The payment type.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/reports/course-progress/brief": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "course_number": {
                          "type": "object",
                          "properties": {
                            "courseId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The course identifier.",
                              "title": "Course ID"
                            },
                            "start_date": {
                              "type": "string",
                              "description": "The start date.",
                              "title": "Start Date"
                            },
                            "last_date": {
                              "type": "string",
                              "description": "The last date.",
                              "title": "Last Date"
                            },
                            "courseName": {
                              "type": "string",
                              "description": "The course name.",
                              "title": "Course Name"
                            },
                            "total_students": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The total number of students.",
                              "title": "Total Students"
                            },
                            "not_started": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Whether started.",
                              "title": "Not Started"
                            },
                            "in_progress": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Whether in progress.",
                              "title": "In Progress"
                            },
                            "completed": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Whether completed.",
                              "title": "Completed"
                            },
                            "pass_rate": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The pass rate.",
                              "title": "Pass Rate"
                            }
                          },
                          "title": "Course Number"
                        }
                      },
                      "title": "Items"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total_items": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total items number.",
                          "title": "Total Items"
                        },
                        "items_per_page": {
                          "type": "string",
                          "description": "The items per page.",
                          "title": "Items Per Page"
                        },
                        "page_index": {
                          "type": "string",
                          "description": "The page index.",
                          "title": "Page Index"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total pages number.",
                          "title": "Total Pages"
                        }
                      },
                      "title": "Pagination"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get brief course progress report",
        "description": "Retrieves a brief report of course progress.",
        "operationId": "ReportProgressBrief",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "x-ms-summary": "Start Date",
            "description": "The start date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "end_date",
            "in": "query",
            "x-ms-summary": "End Date",
            "description": "The end date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "course_ids[]",
            "in": "query",
            "x-ms-summary": "Course IDs",
            "description": "The course identifiers.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/reports/course-progress/detailed": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The response code.",
                  "title": "Response Code"
                },
                "message": {
                  "type": "string",
                  "description": "The response message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "course_number": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "The unique identifier.",
                              "title": "UID"
                            },
                            "courseId": {
                              "type": "string",
                              "description": "The course identifier.",
                              "title": "Course ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "email": {
                              "type": "string",
                              "description": "The email address.",
                              "title": "Email"
                            },
[...]
