{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft MVP",
    "description": "The MVP Award Program is a community - and you\u2019ve always been there for each-other! A lot of you want to help us make this community better, including creating a better experience for submitting contributions. The MVP Connector will directly enable you to use your own ideas to create and enhance your own MVP experience.",
    "version": "1.0",
    "contact": {
      "name": "Ahmad Najjar",
      "email": "ahmadn82@hotmail.com"
    }
  },
  "host": "mvpapi.azure-api.net",
  "basePath": "/mvp",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/contributions/contributionareas": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Id",
                    "title": "Id"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Name",
                    "title": "Name"
                  },
                  "AwardName": {
                    "type": "string",
                    "description": "Award Name",
                    "title": "Award Name"
                  },
                  "AwardCategory": {
                    "type": "string",
                    "description": "Award Category",
                    "title": "Award Category"
                  },
                  "Statuscode": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Status code",
                    "title": "Status code"
                  },
                  "Active": {
                    "type": "boolean",
                    "description": "Active",
                    "title": "Active",
                    "enum": [
                      true,
                      false
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "GetContributionAreas",
        "summary": "Get contribution areas",
        "description": "Gets a list of Contribution areas grouped by Award Names",
        "parameters": []
      }
    },
    "/api/contributions/{offset}/{limit}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Contributions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ContributionId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Contribution Id"
                      },
                      "ContributionTypeName": {
                        "type": "string",
                        "description": "Contribution Type Name"
                      },
                      "ContributionType": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "EnglishName": {
                            "type": "string",
                            "description": "English Name"
                          }
                        },
                        "description": "Contribution Type"
                      },
                      "ContributionTechnology": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "AwardName": {
                            "type": "string",
                            "description": "Award Name"
                          },
                          "AwardCategory": {
                            "type": "string",
                            "description": "Award Category"
                          }
                        },
                        "description": "Contribution Technology"
                      },
                      "AdditionalTechnologies": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Id": {
                              "type": "string",
                              "description": "Id"
                            },
                            "Name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "AwardName": {
                              "type": "string",
                              "description": "Award Name"
                            },
                            "AwardCategory": {
                              "type": "string",
                              "description": "Award Category"
                            }
                          }
                        },
                        "description": "Additional Technologies"
                      },
                      "StartDate": {
                        "type": "string",
                        "description": "Start Date"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "ReferenceUrl": {
                        "type": "string",
                        "description": "Reference Url"
                      },
                      "Visibility": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LocalizeKey": {
                            "type": "string",
                            "description": "Localize Key"
                          }
                        },
                        "description": "Visibility"
                      },
                      "AnnualQuantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Annual Quantity"
                      },
                      "SecondAnnualQuantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Second Annual Quantity"
                      },
                      "AnnualReach": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Annual Reach"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "IsEditable": {
                        "type": "boolean",
                        "description": "Is Editable"
                      }
                    }
                  },
                  "description": "Contributions"
                },
                "TotalContributions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Contributions"
                },
                "PagingIndex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Paging Index"
                }
              }
            }
          }
        },
        "summary": "Get contributions",
        "description": "Gets all your contributions (supports pagination)",
        "operationId": "GetContributions",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "offset",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "Page skip integer. (Format - int32)",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "important"
          },
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Limit",
            "description": "Page take integer. (Format - int32)",
            "x-ms-visibility": "important",
            "format": "int32"
          }
        ]
      }
    },
    "/api/contributions/contributiontypes": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "string",
                    "description": "Id"
                  },
                  "Name": {
                    "type": "string",
                    "description": "Name"
                  },
                  "EnglishName": {
                    "type": "string",
                    "description": "English Name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get contribution types",
        "description": "Gets a list of Contribution Types",
        "operationId": "GetContributionTypes",
        "parameters": []
      }
    },
    "/api/contributions/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ContributionId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Contribution Id"
                },
                "ContributionTypeName": {
                  "type": "string",
                  "description": "Contribution Type Name"
                },
                "ContributionType": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "Id"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "English Name"
                    }
                  },
                  "description": "Contribution Type"
                },
                "ContributionTechnology": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "Id"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "AwardName": {
                      "type": "string",
                      "description": "Award Name"
                    },
                    "AwardCategory": {
                      "type": "string",
                      "description": "Award Category"
                    }
                  },
                  "description": "Contribution Technology"
                },
                "AdditionalTechnologies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "AwardName": {
                        "type": "string",
                        "description": "Award Name"
                      },
                      "AwardCategory": {
                        "type": "string",
                        "description": "Award Category"
                      }
                    }
                  },
                  "description": "Additional Technologies"
                },
                "StartDate": {
                  "type": "string",
                  "description": "Start Date"
                },
                "Title": {
                  "type": "string",
                  "description": "Title"
                },
                "ReferenceUrl": {
                  "type": "string",
                  "description": "Reference Url"
                },
                "Visibility": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Id"
                    },
                    "Description": {
                      "type": "string",
                      "description": "Description"
                    },
                    "LocalizeKey": {
                      "type": "string",
                      "description": "Localize Key"
                    }
                  },
                  "description": "Visibility"
                },
                "AnnualQuantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Annual Quantity"
                },
                "SecondAnnualQuantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Second Annual Quantity"
                },
                "AnnualReach": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Annual Reach"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                }
              }
            }
          }
        },
        "summary": "Get contribution by Id",
        "description": "Gets a Contribution item by id",
        "operationId": "GetContributionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Contribution Id. (Format - int32)",
            "x-ms-summary": "Contribution Id",
            "x-ms-visibility": "important",
            "format": "int32"
          }
        ]
      }
    },
    "/api/profile": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Metadata": {
                  "type": "object",
                  "properties": {
                    "PageTitle": {
                      "type": "string",
                      "description": "Page Title"
                    },
                    "TemplateName": {
                      "type": "string",
                      "description": "Template Name"
                    },
                    "Keywords": {
                      "type": "string",
                      "description": "Keywords"
                    },
                    "Description": {
                      "type": "string",
                      "description": "Description"
                    }
                  },
                  "description": "Metadata"
                },
                "MvpId": {
                  "type": "string",
                  "description": "MvpId"
                },
                "YearsAsMvp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Years As Mvp"
                },
                "FirstAwardYear": {
                  "type": "string",
                  "description": "First Award Year"
                },
                "AwardCategoryDisplay": {
                  "type": "string",
                  "description": "Award Category Display"
                },
                "TechnicalExpertise": {
                  "type": "string",
                  "description": "Technical Expertise"
                },
                "InTheSpotlight": {
                  "type": "boolean",
                  "description": "In The Spotlight"
                },
                "Headline": {
                  "type": "string",
                  "description": "Headline"
                },
                "Biography": {
                  "type": "string",
                  "description": "Biography"
                },
                "DisplayName": {
                  "type": "string",
                  "description": "Display Name"
                },
                "FullName": {
                  "type": "string",
                  "description": "Full Name"
                },
                "PrimaryEmailAddress": {
                  "type": "string",
                  "description": "Primary Email Address"
                },
                "ShippingCountry": {
                  "type": "string",
                  "description": "Shipping Country"
                },
                "ShippingStateCity": {
                  "type": "string",
                  "description": "Shipping State City"
                },
                "Languages": {
                  "type": "string",
                  "description": "Languages"
                },
                "OnlineIdentities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrivateSiteId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Private Site Id"
                      },
                      "SocialNetwork": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "IconUrl": {
                            "type": "string",
                            "description": "Icon Url"
                          },
                          "SystemCollectionEnabled": {
                            "type": "boolean",
                            "description": "System Collection Enabled"
                          }
                        },
                        "description": "Social Network"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url"
                      },
                      "OnlineIdentityVisibility": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LocalizeKey": {
                            "type": "string",
                            "description": "Localize Key"
                          }
                        },
                        "description": "Online Identity Visibility"
                      },
                      "ContributionCollected": {
                        "type": "boolean",
                        "description": "Contribution Collected"
                      },
                      "DisplayName": {
                        "type": "string",
                        "description": "Display Name"
                      },
                      "UserId": {
                        "type": "string",
                        "description": "User Id"
                      },
                      "MicrosoftAccount": {
                        "type": "string",
                        "description": "Microsoft Account"
                      },
                      "PrivacyConsentStatus": {
                        "type": "boolean",
                        "description": "Privacy Consent Status"
                      },
                      "PrivacyConsentCheckStatus": {
                        "type": "boolean",
                        "description": "Privacy Consent Check Status"
                      },
                      "PrivacyConsentCheckDate": {
                        "type": "string",
                        "description": "Privacy Consent Check Date"
                      },
                      "PrivacyConsentUnCheckDate": {
                        "type": "string",
                        "description": "Privacy Consent UnCheck Date"
                      },
                      "Submitted": {
                        "type": "boolean",
                        "description": "Submitted"
                      }
                    }
                  },
                  "description": "Online Identities"
                },
                "Certifications": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrivateSiteId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Private Site Id"
                      },
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "CertificationVisibility": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LocalizeKey": {
                            "type": "string",
                            "description": "Localize Key"
                          }
                        },
                        "description": "Certification Visibility"
                      }
                    }
                  },
                  "description": "Certifications"
                },
                "Activities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrivateSiteId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Private Site Id"
                      },
                      "ActivityType": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "EnglishName": {
                            "type": "string",
                            "description": "English Name"
                          }
                        },
                        "description": "Activity Type"
                      },
                      "ApplicableTechnology": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "AwardName": {
                            "type": "string",
                            "description": "Award Name"
                          },
                          "AwardCategory": {
                            "type": "string",
                            "description": "Award Category"
                          },
                          "Statuscode": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Status code"
                          },
                          "Active": {
                            "type": "boolean",
                            "description": "Active"
                          }
                        },
                        "description": "Applicable Technology"
                      },
                      "DateOfActivity": {
                        "type": "string",
                        "description": "Date Of Activity"
                      },
                      "DateOfActivityFormatted": {
                        "type": "string",
                        "description": "Date Of Activity Formatted"
                      },
                      "EndDate": {
                        "type": "string",
                        "description": "End Date"
                      },
                      "EndDateFormatted": {
                        "type": "string",
                        "description": "End Date Formatted"
                      },
                      "TitleOfActivity": {
                        "type": "string",
                        "description": "Title Of Activity"
                      },
                      "ReferenceUrl": {
                        "type": "string",
                        "description": "Reference Url"
                      },
                      "ActivityVisibility": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LocalizeKey": {
                            "type": "string",
                            "description": "Localize Key"
                          }
                        },
                        "description": "Activity Visibility"
                      },
                      "AnnualQuantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Annual Quantity"
                      },
                      "SecondAnnualQuantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Second Annual Quantity"
                      },
                      "AnnualReach": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Annual Reach"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "OnlineIdentity": {
                        "type": "object",
                        "properties": {
                          "PrivateSiteId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Private Site Id"
                          },
                          "SocialNetwork": {
                            "type": "object",
                            "properties": {
                              "Id": {
                                "type": "string",
                                "description": "Id"
                              },
                              "Name": {
                                "type": "string",
                                "description": "Name"
                              },
                              "IconUrl": {
                                "type": "string",
                                "description": "Icon Url"
                              },
                              "SystemCollectionEnabled": {
                                "type": "boolean",
                                "description": "System Collection Enabled"
                              }
                            },
                            "description": "Social Network"
                          },
                          "Url": {
                            "type": "string",
                            "description": "Url"
                          },
                          "OnlineIdentityVisibility": {
                            "type": "object",
                            "properties": {
                              "Id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Id"
                              },
                              "Description": {
                                "type": "string",
                                "description": "Description"
                              },
                              "LocalizeKey": {
                                "type": "string",
                                "description": "Localize Key"
                              }
                            },
                            "description": "Online Identity Visibility"
                          },
                          "ContributionCollected": {
                            "type": "boolean",
                            "description": "Contribution Collected"
                          },
                          "DisplayName": {
                            "type": "string",
                            "description": "Display Name"
                          },
                          "UserId": {
                            "type": "string",
                            "description": "User Id"
                          },
                          "MicrosoftAccount": {
                            "type": "string",
                            "description": "Microsoft Account"
                          },
                          "PrivacyConsentStatus": {
                            "type": "boolean",
                            "description": "Privacy Consent Status"
                          },
                          "PrivacyConsentCheckStatus": {
                            "type": "boolean",
                            "description": "Privacy Consent Check Status"
                          },
                          "PrivacyConsentCheckDate": {
                            "type": "string",
                            "description": "Privacy Consent Check Date"
                          },
                          "PrivacyConsentUnCheckDate": {
                            "type": "string",
                            "description": "Privacy Consent UnCheck Date"
                          },
                          "Submitted": {
                            "type": "boolean",
                            "description": "Submitted"
                          }
                        },
                        "description": "Online Identity"
                      },
                      "SocialNetwork": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "IconUrl": {
                            "type": "string",
                            "description": "Icon Url"
                          },
                          "SystemCollectionEnabled": {
                            "type": "boolean",
                            "description": "System Collection Enabled"
                          }
                        },
                        "description": "Social Network"
                      },
                      "AllAnswersUrl": {
                        "type": "string",
                        "description": "All Answers Url"
                      },
                      "AllPostsUrl": {
                        "type": "string",
                        "description": "All Posts Url"
                      },
                      "IsSystemCollected": {
                        "type": "boolean",
                        "description": "Is System Collected"
                      },
                      "IsBelongToLatestAwardCycle": {
                        "type": "boolean",
                        "description": "Is Belong To Latest Award Cycle"
                      },
                      "DisplayMode": {
                        "type": "string",
                        "description": "Display Mode"
                      },
                      "ChartColumnIndexes": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "Chart Column Indexes"
                      },
                      "DescriptionSummaryFormat": {
                        "type": "string",
                        "description": "Description Summary Format"
                      },
                      "DataTableTitle": {
                        "type": "string",
                        "description": "Data Table Title"
                      },
                      "SubtitleHeader": {
                        "type": "string",
                        "description": "Subtitle Header"
                      },
                      "IsAllowEdit": {
                        "type": "boolean",
                        "description": "Is Allow Edit"
                      },
                      "IsAllowDelete": {
                        "type": "boolean",
                        "description": "Is Allow Delete"
                      },
                      "IsFromBookmarklet": {
                        "type": "boolean",
                        "description": "Is From Bookmarklet"
                      },
                      "Submitted": {
                        "type": "boolean",
                        "description": "Submitted"
                      }
                    }
                  },
                  "description": "Activities"
                },
                "CommunityAwards": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrivateSiteId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Private Site Id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "DateEarned": {
                        "type": "string",
                        "description": "Date Earned"
                      },
                      "ReferenceUrl": {
                        "type": "string",
                        "description": "Reference Url"
                      },
                      "AwardRecognitionVisibility": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LocalizeKey": {
                            "type": "string",
                            "description": "Localize Key"
                          }
                        },
                        "description": "Award Recognition Visibility"
                      }
                    }
                  },
                  "description": "Community Awards"
                },
                "NewsHighlights": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Date": {
                        "type": "string",
                        "description": "Date"
                      },
                      "DateFormatted": {
                        "type": "string",
                        "description": "Date Formatted"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Type"
                      },
                      "Language": {
                        "type": "string",
                        "description": "Language"
                      }
                    }
                  },
                  "description": "News Highlights"
                },
                "UpcomingEvent": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Date": {
                        "type": "string",
                        "description": "Date"
                      },
                      "DateFormatted": {
                        "type": "string",
                        "description": "Date Formatted"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Type"
                      },
                      "Language": {
                        "type": "string",
                        "description": "Language"
                      }
                    }
                  },
                  "description": "Upcoming Event"
                }
              }
            }
          }
        },
        "summary": "Get my MVP profile",
        "operationId": "GetMVPProfile",
        "description": "Gets the current logged on user profile summary",
        "x-ms-visibility": "important",
        "parameters": []
      }
    },
    "/api/profile/{mvpid}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Metadata": {
                  "type": "object",
                  "properties": {
                    "PageTitle": {
                      "type": "string",
                      "description": "PageTitle"
                    },
                    "TemplateName": {
                      "type": "string",
                      "description": "Template Name"
                    },
                    "Keywords": {
                      "type": "string",
                      "description": "Keywords"
                    },
                    "Description": {
                      "type": "string",
                      "description": "Description"
                    }
                  },
                  "description": "Metadata"
                },
                "MvpId": {
                  "type": "string",
                  "description": "Mvp Id"
                },
                "YearsAsMvp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Years As Mvp"
                },
                "FirstAwardYear": {
                  "type": "string",
                  "description": "First Award Year"
                },
                "AwardCategoryDisplay": {
                  "type": "string",
                  "description": "Award Category Display"
                },
                "TechnicalExpertise": {
                  "type": "string",
                  "description": "Technical Expertise"
                },
                "InTheSpotlight": {
                  "type": "boolean",
                  "description": "In The Spotlight"
                },
                "Headline": {
                  "type": "string",
                  "description": "Headline"
                },
                "Biography": {
                  "type": "string",
                  "description": "Biography"
                },
                "DisplayName": {
                  "type": "string",
                  "description": "Display Name"
                },
                "FullName": {
                  "type": "string",
                  "description": "Full Name"
                },
                "PrimaryEmailAddress": {
                  "type": "string",
                  "description": "Primary Email Address"
                },
                "ShippingCountry": {
                  "type": "string",
                  "description": "Shipping Country"
                },
                "ShippingStateCity": {
                  "type": "string",
                  "description": "Shipping State City"
                },
                "Languages": {
                  "type": "string",
                  "description": "Languages"
                },
                "OnlineIdentities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrivateSiteId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Private Site Id"
                      },
                      "SocialNetwork": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "IconUrl": {
                            "type": "string",
                            "description": "Icon Url"
                          },
                          "SystemCollectionEnabled": {
                            "type": "boolean",
                            "description": "System Collection Enabled"
                          }
                        },
                        "description": "Social Network"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url"
                      },
                      "OnlineIdentityVisibility": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LocalizeKey": {
                            "type": "string",
                            "description": "Localize Key"
                          }
                        },
                        "description": "Online Identity Visibility"
                      },
                      "ContributionCollected": {
                        "type": "boolean",
                        "description": "Contribution Collected"
                      },
                      "DisplayName": {
                        "type": "string",
                        "description": "Display Name"
                      },
                      "UserId": {
                        "type": "string",
                        "description": "User Id"
                      },
                      "MicrosoftAccount": {
                        "type": "string",
                        "description": "Microsoft Account"
                      },
                      "PrivacyConsentStatus": {
                        "type": "boolean",
                        "description": "Privacy Consent Status"
                      },
                      "PrivacyConsentCheckStatus": {
                        "type": "boolean",
                        "description": "Privacy Consent Check Status"
                      },
                      "PrivacyConsentCheckDate": {
                        "type": "string",
                        "description": "Privacy Consent Check Date"
                      },
                      "PrivacyConsentUnCheckDate": {
                        "type": "string",
                        "description": "Privacy Consent UnCheck Date"
                      },
                      "Submitted": {
                        "type": "boolean",
                        "description": "Submitted"
                      }
                    }
                  },
                  "description": "Online Identities"
                },
                "Certifications": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrivateSiteId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Private Site Id"
                      },
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "CertificationVisibility": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LocalizeKey": {
                            "type": "string",
                            "description": "Localize Key"
                          }
                        },
                        "description": "Certification Visibility"
                      }
                    }
                  },
                  "description": "Certifications"
                },
                "Activities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrivateSiteId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Private Site Id"
                      },
                      "ActivityType": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "EnglishName": {
                            "type": "string",
                            "description": "English Name"
                          }
                        },
                        "description": "Activity Type"
                      },
                      "ApplicableTechnology": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "AwardName": {
                            "type": "string",
                            "description": "Award Name"
                          },
                          "AwardCategory": {
                            "type": "string",
                            "description": "Award Category"
                          },
                          "Statuscode": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Status code"
                          },
                          "Active": {
                            "type": "boolean",
                            "description": "Active"
                          }
                        },
                        "description": "Applicable Technology"
                      },
                      "DateOfActivity": {
                        "type": "string",
                        "description": "Date Of Activity"
                      },
                      "DateOfActivityFormatted": {
                        "type": "string",
                        "description": "Date Of Activity Formatted"
                      },
                      "EndDate": {
                        "type": "string",
                        "description": "End Date"
                      },
                      "EndDateFormatted": {
                        "type": "string",
                        "description": "End Date Formatted"
                      },
                      "TitleOfActivity": {
                        "type": "string",
                        "description": "Title Of Activity"
                      },
                      "ReferenceUrl": {
                        "type": "string",
                        "description": "Reference Url"
                      },
                      "ActivityVisibility": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LocalizeKey": {
                            "type": "string",
                            "description": "Localize Key"
                          }
                        },
                        "description": "Activity Visibility"
                      },
                      "AnnualQuantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Annual Quantity"
                      },
                      "SecondAnnualQuantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Second Annual Quantity"
                      },
                      "AnnualReach": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Annual Reach"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "OnlineIdentity": {
                        "type": "object",
                        "properties": {
                          "PrivateSiteId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Private Site Id"
                          },
                          "SocialNetwork": {
                            "type": "object",
                            "properties": {
                              "Id": {
                                "type": "string",
                                "description": "Id"
                              },
                              "Name": {
                                "type": "string",
                                "description": "Name"
                              },
                              "IconUrl": {
                                "type": "string",
                                "description": "Icon Url"
                              },
                              "SystemCollectionEnabled": {
                                "type": "boolean",
                                "description": "System Collection Enabled"
                              }
                            },
                            "description": "Social Network"
                          },
                          "Url": {
                            "type": "string",
                            "description": "Url"
                          },
                          "OnlineIdentityVisibility": {
                            "type": "object",
                            "properties": {
                              "Id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Id"
                              },
                              "Description": {
                                "type": "string",
                                "description": "Description"
                              },
                              "LocalizeKey": {
                                "type": "string",
                                "description": "Localize Key"
                              }
                            },
                            "description": "Online Identity Visibility"
                          },
                          "ContributionCollected": {
                            "type": "boolean",
                            "description": "Contribution Collected"
                          },
                          "DisplayName": {
                            "type": "string",
                            "description": "Display Name"
                          },
                          "UserId": {
                            "type": "string",
                            "description": "User Id"
                          },
                          "MicrosoftAccount": {
                            "type": "string",
                            "description": "Microsoft Account"
                          },
                          "PrivacyConsentStatus": {
                            "type": "boolean",
                            "description": "Privacy Consent Status"
                          },
                          "PrivacyConsentCheckStatus": {
                            "type": "boolean",
                            "description": "Privacy Consent Check Status"
                          },
                          "PrivacyConsentCheckDate": {
                            "type": "string",
                            "description": "Privacy Consent Check Date"
                          },
                          "PrivacyConsentUnCheckDate": {
                            "type": "string",
                            "description": "Privacy Consent UnCheck Date"
                          },
                          "Submitted": {
                            "type": "boolean",
                            "description": "Submitted"
                          }
                        },
                        "description": "Online Identity"
                      },
                      "SocialNetwork": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "IconUrl": {
                            "type": "string",
                            "description": "Icon Url"
                          },
                          "SystemCollectionEnabled": {
                            "type": "boolean",
                            "description": "System Collection Enabled"
                          }
                        },
                        "description": "Social Network"
                      },
                      "AllAnswersUrl": {
                        "type": "string",
                        "description": "All Answers Url"
                      },
                      "AllPostsUrl": {
                        "type": "string",
                        "description": "All Posts Url"
                      },
                      "IsSystemCollected": {
                        "type": "boolean",
                        "description": "Is System Collected"
                      },
                      "IsBelongToLatestAwardCycle": {
                        "type": "boolean",
                        "description": "Is Belong To Latest Award Cycle"
                      },
                      "DisplayMode": {
                        "type": "string",
                        "description": "Display Mode"
                      },
                      "ChartColumnIndexes": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "Chart Column Indexes"
                      },
                      "DescriptionSummaryFormat": {
                        "type": "string",
                        "description": "Description Summary Format"
                      },
                      "DataTableTitle": {
                        "type": "string",
                        "description": "Data Table Title"
                      },
                      "SubtitleHeader": {
                        "type": "string",
                        "description": "Subtitle Header"
                      },
                      "IsAllowEdit": {
                        "type": "boolean",
                        "description": "Is Allow Edit"
                      },
                      "IsAllowDelete": {
                        "type": "boolean",
                        "description": "Is Allow Delete"
                      },
                      "IsFromBookmarklet": {
                        "type": "boolean",
                        "description": "Is From Bookmarklet"
                      },
                      "Submitted": {
                        "type": "boolean",
                        "description": "Submitted"
                      }
                    }
                  },
                  "description": "Activities"
                },
                "CommunityAwards": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "PrivateSiteId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Private Site Id"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "DateEarned": {
                        "type": "string",
                        "description": "Date Earned"
                      },
                      "ReferenceUrl": {
                        "type": "string",
                        "description": "Reference Url"
                      },
                      "AwardRecognitionVisibility": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LocalizeKey": {
                            "type": "string",
                            "description": "Localize Key"
                          }
                        },
                        "description": "Award Recognition Visibility"
                      }
                    }
                  },
                  "description": "Community Awards"
                },
                "NewsHighlights": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Date": {
                        "type": "string",
                        "description": "Date"
                      },
                      "DateFormatted": {
                        "type": "string",
                        "description": "Date Formatted"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Type"
                      },
                      "Language": {
                        "type": "string",
                        "description": "Language"
                      }
                    }
                  },
                  "description": "News Highlights"
                },
                "UpcomingEvent": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Date": {
                        "type": "string",
                        "description": "Date"
                      },
                      "DateFormatted": {
                        "type": "string",
                        "description": "Date Formatted"
                      },
                      "Url": {
                        "type": "string",
                        "description": "Url"
                      },
                      "Type": {
                        "type": "string",
                        "description": "Type"
                      },
                      "Language": {
                        "type": "string",
                        "description": "Language"
                      }
                    }
                  },
                  "description": "Upcoming Event"
                }
              }
            }
          }
        },
        "summary": "Get MVP profile by Id",
        "description": "Gets a users public profile (by Id)",
        "operationId": "GetMVPProfileById",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "mvpid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Users MVP Id",
            "x-ms-summary": "MVP Id",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/api/profile/photo": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Get MVP profile image",
        "description": "Gets the MVP Profile Image",
        "operationId": "GetMVPProfileImage",
        "x-ms-visibility": "important",
        "parameters": []
      }
    },
    "/api/onlineidentities": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "PrivateSiteId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Private Site Id"
                  },
                  "SocialNetwork": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "IconUrl": {
                        "type": "string",
                        "description": "Icon Url"
                      },
                      "SystemCollectionEnabled": {
                        "type": "boolean",
                        "description": "System Collection Enabled"
                      }
                    },
                    "description": "Social Network"
                  },
                  "Url": {
                    "type": "string",
                    "description": "Url"
                  },
                  "OnlineIdentityVisibility": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Id"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "LocalizeKey": {
                        "type": "string",
                        "description": "Localize Key"
                      }
                    },
                    "description": "Online Identity Visibility"
                  },
                  "ContributionCollected": {
                    "type": "boolean",
                    "description": "Contribution Collected"
                  },
                  "DisplayName": {
                    "type": "string",
                    "description": "Display Name"
                  },
                  "UserId": {
                    "type": "string",
                    "description": "User Id"
                  },
                  "MicrosoftAccount": {
                    "type": "string",
                    "description": "Microsoft Account"
                  },
                  "PrivacyConsentStatus": {
                    "type": "boolean",
                    "description": "Privacy Consent Status"
                  },
                  "PrivacyConsentCheckStatus": {
                    "type": "boolean",
                    "description": "Privacy Consent Check Status"
                  },
                  "PrivacyConsentCheckDate": {
                    "type": "string",
                    "description": "Privacy Consent Check Date"
                  },
                  "PrivacyConsentUnCheckDate": {
                    "type": "string",
                    "description": "Privacy Consent UnCheck Date"
                  },
                  "Submitted": {
                    "type": "boolean",
                    "description": "Submitted"
                  }
                }
              }
            }
          }
        },
        "summary": "Get online identities",
        "description": "Restricted to the current user",
        "operationId": "GetOnlineIdentities",
        "x-ms-visibility": "important",
        "parameters": []
      }
    },
    "/api/onlineidentities/{nominationsId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "PrivateSiteId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Private Site Id"
                },
                "SocialNetwork": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "Id"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "IconUrl": {
                      "type": "string",
                      "description": "Icon Url"
                    },
                    "SystemCollectionEnabled": {
                      "type": "boolean",
                      "description": "System Collection Enabled"
                    }
                  },
                  "description": "Social Network"
                },
                "Url": {
                  "type": "string",
                  "description": "Url"
                },
                "OnlineIdentityVisibility": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Id"
                    },
                    "Description": {
                      "type": "string",
                      "description": "Description"
                    },
                    "LocalizeKey": {
                      "type": "string",
                      "description": "Localize Key"
                    }
                  },
                  "description": "Online Identity Visibility"
                },
                "ContributionCollected": {
                  "type": "boolean",
                  "description": "Contribution Collected"
                },
                "DisplayName": {
                  "type": "string",
                  "description": "Display Name"
                },
                "UserId": {
                  "type": "string",
                  "description": "User Id"
                },
                "MicrosoftAccount": {
                  "type": "string",
                  "description": "Microsoft Account"
                },
                "PrivacyConsentStatus": {
                  "type": "boolean",
                  "description": "Privacy Consent Status"
                },
                "PrivacyConsentCheckStatus": {
                  "type": "boolean",
                  "description": "Privacy Consent Check Status"
                },
                "PrivacyConsentCheckDate": {
                  "type": "string",
                  "description": "Privacy Consent Check Date"
                },
                "PrivacyConsentUnCheckDate": {
                  "type": "string",
                  "description": "Privacy Consent UnCheck Date"
                },
                "Submitted": {
                  "type": "boolean",
                  "description": "Submitted"
                }
              }
            }
          }
        },
        "operationId": "GetOnlineIdentitiesByNominationsId",
        "summary": "Get online identities by nominations Id",
        "description": "Restricted to the current user",
        "parameters": [
          {
            "name": "nominationsId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Nominations Id",
            "description": "Guid nominations Id (Format - uuid)"
          }
        ]
      }
    },
    "/api/contributions/historical/{offset}/{limit}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Contributions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ContributionId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Contribution Id"
                      },
                      "ContributionTypeName": {
                        "type": "string",
                        "description": "Contribution Type Name"
                      },
                      "ContributionType": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "EnglishName": {
                            "type": "string",
                            "description": "English Name"
                          }
                        },
                        "description": "Contribution Type"
                      },
                      "ContributionTechnology": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "AwardName": {
                            "type": "string",
                            "description": "Award Name"
                          },
                          "AwardCategory": {
                            "type": "string",
                            "description": "Award Category"
                          }
                        },
                        "description": "Contribution Technology"
                      },
                      "AdditionalTechnologies": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Id": {
                              "type": "string",
                              "description": "Id"
                            },
                            "Name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "AwardName": {
                              "type": "string",
                              "description": "Award Name"
                            },
                            "AwardCategory": {
                              "type": "string",
                              "description": "Award Category"
                            }
                          }
                        },
                        "description": "Additional Technologies"
                      },
                      "StartDate": {
                        "type": "string",
                        "description": "Start Date"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "ReferenceUrl": {
                        "type": "string",
                        "description": "Reference Url"
                      },
                      "Visibility": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LocalizeKey": {
                            "type": "string",
                            "description": "Localize Key"
                          }
                        },
                        "description": "Visibility"
                      },
                      "AnnualQuantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Annual Quantity"
                      },
                      "SecondAnnualQuantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Second Annual Quantity"
                      },
                      "AnnualReach": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Annual Reach"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "IsEditable": {
                        "type": "boolean",
                        "description": "Is Editable"
                      }
                    }
                  },
                  "description": "Contributions"
                },
                "TotalContributions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Contributions"
                },
                "PagingIndex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Paging Index"
                }
              }
            }
          }
        },
        "summary": "Get all historical cycle contributions",
        "description": "Gets all of the historical cycle Contributions for the MVP (supports pagination)",
        "operationId": "GetAllHistoricalCycleContributions",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "offset",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-visibility": "important",
            "format": "int32",
            "description": "Page skip integer. (Format - int32)",
            "x-ms-summary": "Offset"
          },
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Page take integer. (Format - int32)",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important",
            "format": "int32"
          }
        ]
      }
    },
    "/api/contributions/current/{offset}/{limit}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "Contributions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ContributionId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Contribution Id"
                      },
                      "ContributionTypeName": {
                        "type": "string",
                        "description": "Contribution Type Name"
                      },
                      "ContributionType": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "EnglishName": {
                            "type": "string",
                            "description": "English Name"
                          }
                        },
                        "description": "Contribution Type"
                      },
                      "ContributionTechnology": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "Name": {
                            "type": "string",
                            "description": "Name"
                          },
                          "AwardName": {
                            "type": "string",
                            "description": "Award Name"
                          },
                          "AwardCategory": {
                            "type": "string",
                            "description": "Award Category"
                          }
                        },
                        "description": "Contribution Technology"
                      },
                      "AdditionalTechnologies": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Id": {
                              "type": "string",
                              "description": "Id"
                            },
                            "Name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "AwardName": {
                              "type": "string",
                              "description": "Award Name"
                            },
                            "AwardCategory": {
                              "type": "string",
                              "description": "Award Category"
                            }
                          }
                        },
                        "description": "Additional Technologies"
                      },
                      "StartDate": {
                        "type": "string",
                        "description": "Start Date"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "ReferenceUrl": {
                        "type": "string",
                        "description": "Reference Url"
                      },
                      "Visibility": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id"
                          },
                          "Description": {
                            "type": "string",
                            "description": "Description"
                          },
                          "LocalizeKey": {
                            "type": "string",
                            "description": "Localize Key"
                          }
                        },
                        "description": "Visibility"
                      },
                      "AnnualQuantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Annual Quantity"
                      },
                      "SecondAnnualQuantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Second Annual Quantity"
                      },
                      "AnnualReach": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Annual Reach"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "IsEditable": {
                        "type": "boolean",
                        "description": "Is Editable"
                      }
                    }
                  },
                  "description": "Contributions"
                },
                "TotalContributions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Contributions"
                },
                "PagingIndex": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Paging Index"
                }
              }
            }
          }
        },
        "summary": "Get current cycle contributions",
        "description": "Gets all the current cycle Contributions for the MVP",
        "operationId": "GetCurrentCycleContributions",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "offset",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-visibility": "important",
            "format": "int32",
            "description": "Page skip integer. (Format - int32)",
            "x-ms-summary": "Offset"
          },
          {
            "name": "limit",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Page take integer. (Format - int32)",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "important",
            "format": "int32"
          }
        ]
      }
    },
    "/api/contributions/sharingpreferences": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Id"
                  },
                  "Description": {
                    "type": "string",
                    "description": "Description"
                  },
                  "LocalizeKey": {
                    "type": "string",
                    "description": "Localize Key"
                  }
                }
              }
            }
          }
        },
        "summary": "Get sharing preferences (visibility)",
        "description": "Gets a list of Sharing Preference / Visibility Types for Contributions",
        "operationId": "GetSharingPreferences",
        "x-ms-visibility": "important",
        "parameters": []
      }
    },
    "/api/contributions": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ContributionId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Contribution Id"
                },
                "ContributionTypeName": {
                  "type": "string",
                  "description": "Contribution Type Name"
                },
                "ContributionType": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "Id"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "English Name"
                    }
                  },
                  "description": "Contribution Type"
                },
                "ContributionTechnology": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "Id"
                    },
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "AwardName": {
                      "type": "string",
                      "description": "Award Name"
                    },
                    "AwardCategory": {
                      "type": "string",
                      "description": "Award Category"
                    }
                  },
                  "description": "Contribution Technology"
                },
                "AdditionalTechnologies": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "AwardName": {
                        "type": "string",
                        "description": "Award Name"
                      },
                      "AwardCategory": {
                        "type": "string",
                        "description": "Award Category"
                      }
                    }
                  },
                  "description": "Additional Technologies"
                },
                "StartDate": {
                  "type": "string",
                  "description": "Start Date"
                },
                "Title": {
                  "type": "string",
                  "description": "Title"
                },
                "ReferenceUrl": {
                  "type": "string",
                  "description": "Reference Url"
                },
                "Visibility": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Id"
                    },
                    "Description": {
                      "type": "string",
                      "description": "Description"
                    },
                    "LocalizeKey": {
                      "type": "string",
                      "description": "Localize Key"
                    }
                  },
                  "description": "Visibility"
                },
                "AnnualQuantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Annual Quantity"
                },
                "SecondAnnualQuantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Second Annual Quantity"
                },
                "AnnualReach": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Annual Reach"
                },
                "Description": {
                  "type": "string",
                  "description": "Description"
                }
              }
            }
          }
        },
        "summary": "Create contribution",
        "description": "Creates a new Contribution item",
        "operationId": "CreateContribution",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "ContributionId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "ContributionId",
                  "title": "Contribution Id",
                  "default": 0,
                  "x-ms-visibility": "internal"
                },
                "ContributionTypeName": {
                  "type": "string",
                  "description": "Activity type name",
                  "title": "Activity type name",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "GetContributionTypes",
                    "value-path": "Id",
                    "value-title": "Name"
                  }
                },
                "ContributionType": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "Activity/Contribution type",
                      "title": "Activity type",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "GetContributionTypes",
                        "value-path": "Id",
                        "value-title": "Name"
                      }
                    },
                    "Name": {
                      "type": "string",
                      "description": "Contribution Type Name",
                      "title": "Name",
                      "default": "",
                      "x-ms-visibility": "internal"
                    },
                    "EnglishName": {
                      "type": "string",
                      "description": "English Name",
                      "title": "English Name",
                      "default": "",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "Contribution Type",
                  "required": [
                    "Id",
                    "Name",
                    "EnglishName"
                  ]
                },
                "ContributionTechnology": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "Select the technology area that is the primary focus of this activity.",
                      "title": "Primary contribution area",
                      "x-ms-visibility": "important",
                      "x-ms-dynamic-values": {
                        "operationId": "GetContributionAreas",
                        "value-path": "Id",
                        "value-title": "Name"
                      }
                    },
                    "Name": {
                      "type": "string",
                      "description": "Contribution Technology Name",
                      "title": "Name",
                      "default": "",
                      "x-ms-visibility": "internal"
                    },
                    "AwardName": {
                      "type": "string",
                      "description": "Award Name",
                      "title": "Award Name",
                      "default": "",
                      "x-ms-visibility": "internal"
                    },
                    "AwardCategory": {
                      "type": "string",
                      "description": "Award Category",
                      "title": "Award Category",
                      "default": "",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "Primary contribution area",
[...]
