{
  "swagger": "2.0",
  "info": {
    "title": "Markdown Converter (Independent Publisher)",
    "description": "A comprehensive markdown converter that supports transformations to various formats including HTML, JSON, XML, and many more.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.troystaylor.com",
      "email": "troy@troystaylor.com"
    }
  },
  "host": "troystaylor.com",
  "basePath": "/markdown",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/convert/toHtml": {
      "post": {
        "summary": "Convert Markdown to HTML",
        "description": "Converts Markdown content to HTML format with enhanced features (including math/TeX support, task lists, footnotes, embedded content, reference links, fenced divs, strikethrough, highlighting, subscript, superscript, and emoji support).",
        "operationId": "MarkdownToHtml",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to HTML",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "html": {
                  "type": "string",
                  "description": "The HTML output.",
                  "x-ms-summary": "HTML Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toJson": {
      "post": {
        "summary": "Convert Markdown to JSON",
        "description": "Converts Markdown content to a structured JSON format with enhanced features (including math/TeX support, task lists, footnotes, embedded content, reference links, fenced divs, strikethrough, highlighting, subscript, superscript, and emoji support).",
        "operationId": "MarkdownToJson",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to JSON",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "structuredData": {
                  "type": "object",
                  "description": "The structured JSON output.",
                  "x-ms-summary": "JSON Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toXml": {
      "post": {
        "summary": "Convert Markdown to XML",
        "description": "Converts Markdown content to XML format with enhanced features (including math/TeX support, task lists, footnotes, embedded content, reference links, fenced divs, strikethrough, highlighting, subscript, superscript, and emoji support).",
        "operationId": "MarkdownToXml",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to XML",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "xml": {
                  "type": "string",
                  "description": "The XML output.",
                  "x-ms-summary": "XML Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toPlainText": {
      "post": {
        "summary": "Convert Markdown to plain text",
        "description": "Converts Markdown content to plain text format with enhanced features (including math/TeX support, task lists, footnotes, embedded content, reference links, fenced divs, strikethrough, highlighting, subscript, superscript, and emoji support).",
        "operationId": "MarkdownToPlainText",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to plain text",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "plainText": {
                  "type": "string",
                  "description": "The plain text output.",
                  "x-ms-summary": "Plain Text Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toCsv": {
      "post": {
        "summary": "Convert Markdown to CSV",
        "description": "Converts Markdown tables to CSV format with enhanced features (including math/TeX support, task lists, footnotes, embedded content, reference links, fenced divs, strikethrough, highlighting, subscript, superscript, and emoji support).",
        "operationId": "MarkdownToCsv",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to CSV",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "csv": {
                  "type": "string",
                  "description": "The CSV output.",
                  "x-ms-summary": "CSV Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toLaTeX": {
      "post": {
        "summary": "Convert Markdown to LaTeX",
        "description": "Converts Markdown content to LaTeX format with enhanced features (including math/TeX support, task lists, footnotes, embedded content, reference links, fenced divs, strikethrough, highlighting, subscript, superscript, and emoji support).",
        "operationId": "MarkdownToLaTeX",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to LaTeX",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "latex": {
                  "type": "string",
                  "description": "The LaTeX output.",
                  "x-ms-summary": "LaTeX Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toAdaptiveCard": {
      "post": {
        "summary": "Convert Markdown to Adaptive Card",
        "description": "Converts Markdown content to Microsoft Adaptive Card JSON format with enhanced features (including math/TeX support, task lists, footnotes, embedded content, reference links, fenced divs, strikethrough, highlighting, subscript, superscript, and emoji support).",
        "operationId": "MarkdownToAdaptiveCard",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to Adaptive Card",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "adaptiveCard": {
                  "type": "object",
                  "description": "The Adaptive Card output as JSON.",
                  "x-ms-summary": "Adaptive Card Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toYaml": {
      "post": {
        "summary": "Convert Markdown to YAML",
        "description": "Converts Markdown content to YAML format with enhanced features (including math/TeX support, task lists, footnotes, embedded content, reference links, fenced divs, strikethrough, highlighting, subscript, superscript, and emoji support).",
        "operationId": "MarkdownToYaml",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to YAML",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "yaml": {
                  "type": "string",
                  "description": "The YAML output.",
                  "x-ms-summary": "YAML Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toEmail": {
      "post": {
        "summary": "Convert Markdown to email HTML",
        "description": "Converts Markdown content to email-friendly HTML format.",
        "operationId": "MarkdownToEmail",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to email HTML",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "emailHtml": {
                  "type": "string",
                  "description": "The email HTML output.",
                  "x-ms-summary": "Email HTML Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toSvg": {
      "post": {
        "summary": "Convert Markdown to SVG",
        "description": "Converts Markdown content to SVG format.",
        "operationId": "MarkdownToSvg",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to SVG",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "svg": {
                  "type": "string",
                  "description": "The SVG output.",
                  "x-ms-summary": "SVG Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toRss": {
      "post": {
        "summary": "Convert Markdown to RSS",
        "description": "Converts Markdown content to RSS format.",
        "operationId": "MarkdownToRss",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to RSS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "rss": {
                  "type": "string",
                  "description": "The RSS output.",
                  "x-ms-summary": "RSS Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toWiki": {
      "post": {
        "summary": "Convert Markdown to Wiki Markup",
        "description": "Converts Markdown content to wiki markup format.",
        "operationId": "MarkdownToWiki",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to Wiki Markup",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "wikiMarkup": {
                  "type": "string",
                  "description": "The Wiki markup output.",
                  "x-ms-summary": "Wiki Markup Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toPng": {
      "post": {
        "summary": "Convert Markdown to PNG image",
        "description": "Converts Markdown content to PNG image format.",
        "operationId": "MarkdownToPng",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to PNG image",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "pngBase64": {
                  "type": "string",
                  "description": "The PNG image in Base64 encoding.",
                  "x-ms-summary": "PNG Base64"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "mimeType": {
                  "type": "string",
                  "description": "The MIME type of the output.",
                  "x-ms-summary": "MIME Type"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toChart": {
      "post": {
        "summary": "Convert Markdown to chart",
        "description": "Converts Markdown content to a chart image.",
        "operationId": "MarkdownToChart",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to chart",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "chartBase64": {
                  "type": "string",
                  "description": "The chart image in Base64 encoding.",
                  "x-ms-summary": "Chart Base64"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "mimeType": {
                  "type": "string",
                  "description": "The MIME type of the output.",
                  "x-ms-summary": "MIME Type"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toDiagram": {
      "post": {
        "summary": "Convert Markdown to diagram",
        "description": "Converts Markdown content to a diagram image.",
        "operationId": "MarkdownToDiagram",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to diagram",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "diagramBase64": {
                  "type": "string",
                  "description": "The diagram image in Base64 encoding.",
                  "x-ms-summary": "Diagram Base64"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "mimeType": {
                  "type": "string",
                  "description": "The MIME type of the output.",
                  "x-ms-summary": "MIME Type"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/statistics": {
      "post": {
        "summary": "Get Markdown statistics",
        "description": "Analyzes Markdown content and returns statistics about it.",
        "operationId": "MarkdownStats",
        "x-ms-visibility": "important",
        "x-ms-summary": "Get Markdown statistics",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to analyze.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to analyze.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statistics generated successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "statistics": {
                  "type": "object",
                  "description": "Statistics about the markdown content.",
                  "x-ms-summary": "Statistics",
                  "properties": {
                    "characterCount": {
                      "type": "integer",
                      "description": "Total character count.",
                      "x-ms-summary": "Character Count"
                    },
                    "wordCount": {
                      "type": "integer",
                      "description": "Total word count.",
                      "x-ms-summary": "Word Count"
                    },
                    "lineCount": {
                      "type": "integer",
                      "description": "Total line count.",
                      "x-ms-summary": "Line Count"
                    },
                    "paragraphCount": {
                      "type": "integer",
                      "description": "Total paragraph count.",
                      "x-ms-summary": "Paragraph Count"
                    },
                    "headingCount": {
                      "type": "integer",
                      "description": "Total heading count.",
                      "x-ms-summary": "Heading Count"
                    },
                    "linkCount": {
                      "type": "integer",
                      "description": "Total link count.",
                      "x-ms-summary": "Link Count"
                    },
                    "imageCount": {
                      "type": "integer",
                      "description": "Total image count.",
                      "x-ms-summary": "Image Count"
                    },
                    "tableCount": {
                      "type": "integer",
                      "description": "Total table count.",
                      "x-ms-summary": "Table Count"
                    },
                    "codeBlockCount": {
                      "type": "integer",
                      "description": "Total code block count.",
                      "x-ms-summary": "Code Block Count"
                    }
                  }
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of analysis.",
                  "x-ms-summary": "Analysis Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toQr": {
      "post": {
        "summary": "Convert Markdown to QR code",
        "description": "Converts Markdown content to a QR code image.",
        "operationId": "MarkdownToQr",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to QR code",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "qrBase64": {
                  "type": "string",
                  "description": "The QR code image in Base64 encoding.",
                  "x-ms-summary": "QR Base64"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "mimeType": {
                  "type": "string",
                  "description": "The MIME type of the output.",
                  "x-ms-summary": "MIME Type"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toJpeg": {
      "post": {
        "summary": "Convert Markdown to JPEG image",
        "description": "Converts Markdown content to JPEG image format.",
        "operationId": "MarkdownToJpeg",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to JPEG image",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "jpegBase64": {
                  "type": "string",
                  "description": "The JPEG image in Base64 encoding.",
                  "x-ms-summary": "JPEG Base64"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "mimeType": {
                  "type": "string",
                  "description": "The MIME type of the output.",
                  "x-ms-summary": "MIME Type"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toBadge": {
      "post": {
        "summary": "Convert Markdown to badge",
        "description": "Converts Markdown content to a badge image.",
        "operationId": "MarkdownToBadge",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to badge",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "badgeBase64": {
                  "type": "string",
                  "description": "The badge image in Base64 encoding.",
                  "x-ms-summary": "Badge Base64"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "mimeType": {
                  "type": "string",
                  "description": "The MIME type of the output.",
                  "x-ms-summary": "MIME Type"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toInfographic": {
      "post": {
        "summary": "Convert Markdown to infographic",
        "description": "Converts Markdown content to an infographic image.",
        "operationId": "MarkdownToInfographic",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to infographic",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "infographicBase64": {
                  "type": "string",
                  "description": "The infographic image in Base64 encoding.",
                  "x-ms-summary": "Infographic Base64"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "mimeType": {
                  "type": "string",
                  "description": "The MIME type of the output.",
                  "x-ms-summary": "MIME Type"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toLog": {
      "post": {
        "summary": "Convert Markdown to log format",
        "description": "Converts Markdown content to log format.",
        "operationId": "MarkdownToLog",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to log format",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "logOutput": {
                  "type": "string",
                  "description": "The log format output.",
                  "x-ms-summary": "Log Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toMetrics": {
      "post": {
        "summary": "Convert Markdown to metrics format",
        "description": "Converts Markdown content to metrics format.",
        "operationId": "MarkdownToMetrics",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to metrics format",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "metricsOutput": {
                  "type": "string",
                  "description": "The metrics format output.",
                  "x-ms-summary": "Metrics Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toSyslog": {
      "post": {
        "summary": "Convert Markdown to syslog format",
        "description": "Converts Markdown content to syslog format.",
        "operationId": "MarkdownToSyslog",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to syslog format",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "syslogOutput": {
                  "type": "string",
                  "description": "The syslog format output.",
                  "x-ms-summary": "Syslog Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toJsDoc": {
      "post": {
        "summary": "Convert Markdown to JSDoc",
        "description": "Converts Markdown content to JSDoc format.",
        "operationId": "MarkdownToJsDoc",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to JSDoc",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "jsDoc": {
                  "type": "string",
                  "description": "The JSDoc output.",
                  "x-ms-summary": "JSDoc Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toXmlDoc": {
      "post": {
        "summary": "Convert Markdown to XML documentation",
        "description": "Converts Markdown content to XML documentation format.",
        "operationId": "MarkdownToXmlDoc",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to XML documentation",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "xmlDoc": {
                  "type": "string",
                  "description": "The XML documentation output.",
                  "x-ms-summary": "XML Documentation Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toReadme": {
      "post": {
        "summary": "Convert Markdown to README format",
        "description": "Converts and formats Markdown content to a README style format.",
        "operationId": "MarkdownToReadme",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to README format",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "readme": {
                  "type": "string",
                  "description": "The README-formatted output.",
                  "x-ms-summary": "README Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toChangelog": {
      "post": {
        "summary": "Convert Markdown to changelog format",
        "description": "Converts and formats Markdown content to a changelog format.",
        "operationId": "MarkdownToChangelog",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to changelog format",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "changelog": {
                  "type": "string",
                  "description": "The changelog-formatted output.",
                  "x-ms-summary": "Changelog Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toTableOfContents": {
      "post": {
        "summary": "Convert Markdown to Table of Contents",
        "description": "Extracts headings from Markdown content and generates a table of contents.",
        "operationId": "MarkdownToTableOfContents",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to Table of Contents",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to process.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to process.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table of contents generated successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "tableOfContents": {
                  "type": "string",
                  "description": "The table of contents output.",
                  "x-ms-summary": "Table of Contents"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of generation.",
                  "x-ms-summary": "Generation Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/convert/toStyledHtml": {
      "post": {
        "summary": "Convert Markdown to styled HTML",
        "description": "Converts Markdown content to HTML with custom CSS styling.",
        "operationId": "MarkdownToStyledHtml",
        "x-ms-visibility": "important",
        "x-ms-summary": "Convert to styled HTML",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Markdown content to convert.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "markdown": {
                  "type": "string",
                  "description": "Markdown content to convert.",
                  "title": "Markdown Content",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Markdown Content"
                },
                "theme": {
                  "type": "string",
                  "description": "Optional theme name for styling.",
                  "title": "Theme",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Theme"
                }
              },
              "required": [
                "markdown"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversion completed successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "originalMarkdown": {
                  "type": "string",
                  "description": "The original markdown content.",
                  "x-ms-summary": "Original Markdown"
                },
                "styledHtml": {
                  "type": "string",
                  "description": "The styled HTML output.",
                  "x-ms-summary": "Styled HTML Output"
                },
                "format": {
                  "type": "string",
                  "description": "The output format.",
                  "x-ms-summary": "Output Format"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of conversion.",
                  "x-ms-summary": "Conversion Time"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/info": {
      "get": {
        "summary": "Get Markdown Converter information",
        "description": "Returns information about the Markdown converter capabilities and supported formats.",
        "operationId": "MarkdownInfo",
        "x-ms-visibility": "advanced",
        "x-ms-summary": "Get converter information",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Information retrieved successfully.",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the converter.",
                  "x-ms-summary": "Converter Name"
                },
                "version": {
                  "type": "string",
                  "description": "The version of the converter.",
                  "x-ms-summary": "Version"
                },
                "supportedFormats": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of supported output formats.",
                  "x-ms-summary": "Supported Formats"
                },
                "capabilities": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of special capabilities.",
                  "x-ms-summary": "Capabilities"
                },
                "timestamp": {
                  "type": "string",
                  "description": "Time of the request.",
                  "x-ms-summary": "Request Time"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  },
  "definitions": {
    "MarkdownRequest": {
      "type": "object",
      "description": "A request containing Markdown content to convert.",
      "required": [
        "markdown"
      ],
      "properties": {
        "markdown": {
          "type": "string",
          "description": "Markdown content to convert.",
          "x-ms-summary": "Markdown Content"
        }
      }
    },
    "MarkdownResponse": {
      "type": "object",
      "description": "Generic response format for markdown conversions.",
      "properties": {
        "originalMarkdown": {
          "type": "string",
          "description": "The original markdown content.",
          "x-ms-summary": "Original Markdown"
        },
        "format": {
          "type": "string",
          "description": "The output format.",
          "x-ms-summary": "Output Format"
        },
        "timestamp": {
          "type": "string",
          "description": "Time of conversion.",
          "x-ms-summary": "Conversion Time"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.troystaylor.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.troystaylor.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ],
  "security": []
}