{
  "swagger": "2.0",
  "info": {
    "title": "Mediastack",
    "description": "Feed the latest and most popular news articles into your application or website, fully automated & updated every minute.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_mstack@gmail.com"
    }
  },
  "host": "api.mediastack.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/news": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Returns your pagination limit value.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Returns your pagination offset value.",
                      "title": "Offset"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Returns the results count on the current page.",
                      "title": "Count"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Returns the total count of results available.",
                      "title": "Total"
                    }
                  },
                  "description": "Pagination details.",
                  "title": "Pagination"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "author": {
                        "type": "string",
                        "description": "Returns the name of the author of the given news article.",
                        "title": "Author"
                      },
                      "title": {
                        "type": "string",
                        "description": "Returns the title text of the given news article.",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "Returns the description text of the given news article.",
                        "title": "Description"
                      },
                      "url": {
                        "type": "string",
                        "description": "Returns the URL leading to the given news article.",
                        "title": "URL"
                      },
                      "source": {
                        "type": "string",
                        "description": "Returns the source the given news article was published at.",
                        "title": "Source"
                      },
                      "image": {
                        "type": "string",
                        "description": "Returns an image URL associated with the given news article.",
                        "title": "Image"
                      },
                      "category": {
                        "type": "string",
                        "description": "Returns the category associated with the given news article.",
                        "title": "Category"
                      },
                      "language": {
                        "type": "string",
                        "description": "Returns the language the given news article is in.",
                        "title": "Language"
                      },
                      "country": {
                        "type": "string",
                        "description": "Returns the country code associated with the given news article.",
                        "title": "Country"
                      },
                      "published_at": {
                        "type": "string",
                        "description": "Returns the exact time stamp the given news article was published.",
                        "title": "Published at"
                      }
                    }
                  },
                  "description": "Array of requested data.",
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "List news",
        "operationId": "ListNews",
        "description": "The full set of available real-time news articles can be accessed and filtered down with additional parameters.",
        "parameters": [
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sources",
            "description": "Use this parameter to include or exclude one or multiple comma-separated news sources. Example: To include CNN, but exclude BBC: 'cnn,-bbc'.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Categories",
            "description": "Use this parameter to include or exclude one or multiple comma-separated news categories. Example: To include business, but exclude sports: 'business,-sports'.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Countries",
            "description": "Use this parameter to include or exclude one or multiple comma-separated countries. Example: To include Australia, but exclude the US: 'au,-us'.",
            "x-ms-visibility": "important"
          },
          {
            "name": "languages",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Languages",
            "description": "Use this parameter to include or exclude one or multiple comma-separated languages. Example: To include English, but exclude German: 'en,-de'.",
            "x-ms-visibility": "important"
          },
          {
            "name": "keywords",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Keywords",
            "description": "Use this parameter to search for sentences, you can also exclude words that you do not want to appear in your search results. Example: To search for \"New movies 2021\" but exclude \"Matrix\": 'new movies 2021 -matrix'.",
            "x-ms-visibility": "important"
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Date",
            "description": "Use this parameter to specify a date or date range in YYYY-MM-DD format. Example: '2020-01-01,2020-01-31'.",
            "x-ms-visibility": "important"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "published_desc",
            "description": "Use this parameter to specify a sorting order.",
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced",
            "enum": [
              "published_desc",
              "published_asc",
              "popularity"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "Limit",
            "description": "Use this parameter to specify a pagination limit (number of results per page), maximum allowed is 100.",
            "x-ms-visibility": "advanced",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced",
            "format": "int32",
            "description": "Use this parameter to specify a pagination offset value, combined with the 'limit' parameter."
          }
        ]
      }
    },
    "/v1/sources": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "pagination": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Returns your pagination limit value.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Returns your pagination offset value.",
                      "title": "Offset"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Returns the results count on the current page.",
                      "title": "Count"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Returns the total count of results available.",
                      "title": "Total"
                    }
                  },
                  "description": "Pagination details.",
                  "title": "Pagination"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Returns the source ID of the given news source. This is also the ID you need to pass to the when requesting live or historical news data.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Returns the name of the given news source.",
                        "title": "Name"
                      },
                      "category": {
                        "type": "string",
                        "description": "Returns the category associated with the given news source.",
                        "title": "Category"
                      },
                      "country": {
                        "type": "string",
                        "description": "Returns the country associated with the given news source.",
                        "title": "Country"
                      },
                      "language": {
                        "type": "string",
                        "description": "Returns the language associated with the given news source.",
                        "title": "Language"
                      },
                      "url": {
                        "type": "string",
                        "description": "Returns a URL leading to the given news source.",
                        "title": "URL"
                      }
                    }
                  },
                  "description": "Array of requested data.",
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "List sources",
        "operationId": "ListSources",
        "description": "Using the sources endpoint together with a series of search and filter parameters you will be able to search all news sources supported by the mediastack API.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search",
            "description": "Use this parameter to specify one or multiple search keywords.",
            "x-ms-visibility": "important"
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Countries",
            "description": "Use this parameter to include or exclude one or multiple comma-separated countries.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "languages",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Languages",
            "x-ms-visibility": "advanced",
            "description": "Use this parameter to include or exclude one or multiple comma-separated languages."
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Categories",
            "x-ms-visibility": "advanced",
            "description": "Use this parameter to include or exclude one or multiple comma-separated news categories."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 25,
            "x-ms-summary": "Limit",
            "description": "Use this parameter to specify a pagination limit (number of results per page), maximum 100.",
            "x-ms-visibility": "advanced",
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-summary": "Offset",
            "description": "Use this parameter to specify a pagination offset value.",
            "x-ms-visibility": "advanced",
            "format": "int32"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "access_key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://mediastack.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ideracorp.com/Legal/PrivacyPolicy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}
