{
  "swagger": "2.0",
  "info": {
    "title": "HP Workforce Solutions",
    "description": "The HP Workforce Solutions connector allows you to access multiple HP services like Proactive Insights where you can manage your devices, view incidents, and much more.",
    "version": "1.0"
  },
  "host": "daas.api.hp.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/analytics/v1/reports/hwinv/allData/type/grid": {
      "post": {
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "Hardware Inventory",
        "operationId": "TechPulse_Hardware_Inventory",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 6
          },
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1
          }
        ],
        "description": "Hardware Inventory"
      }
    },
    "/analytics/v1/identity/tenants": {
      "get": {
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "Tenant ID",
        "operationId": "TenantID",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json"
          }
        ]
      }
    },
    "/analytics/v1/incidents/1.2/tenants/{tenantid}/incidents": {
      "post": {
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "Get Events",
        "operationId": "GetEvents",
        "parameters": [
          {
            "name": "tenantid",
            "in": "path",
            "description": "The ID of the tenant",
            "required": true,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 17
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "updatedAt ge 2023-04-01 10:00:00 AND type co \"Health\""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "tenantIds": {
                  "type": "array",
                  "items": {
                    "title": "",
                    "type": "string"
                  },
                  "description": "tenantIds"
                }
              },
              "required": [
                "tenantIds"
              ]
            }
          }
        ]
      }
    },
    "/analytics/v1/reports/deviceutiV3/swPerfByTime/type/grid": {
      "post": {
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "Get Utilization",
        "description": "CPU MEM Utilization",
        "operationId": "GetUtilization",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://daas.api.hp.com/oauth/v1/authorize",
      "tokenUrl": "https://daas.api.hp.com/oauth/v1/token",
      "scopes": {
        "Read": "Read"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "Read"
      ]
    }
  ],
  "tags": []
}
