{
  "swagger": "2.0",
  "info": {
    "title": "HP Workforce Solutions",
    "description": "The HP Workforce Solutions connector allows you to access multiple HP services like Proactive Insights where you can manage your devices, view incidents, and much more.",
    "version": "1.0",
    "contact": {
      "name": "HP Workforce Solutions API Support",
      "url": "https://www.hp.com/",
      "email": "hptechpulseapi@hp.com"
    }
  },
  "host": "daas.api.hp.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.hp.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.hp.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management"
    }
  ],
  "paths": {
    "/analytics/v1/reports/hwinv/allData/type/grid": {
      "post": {
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "Hardware Inventory",
        "description": "Endpoint to manage hardware inventory",
        "operationId": "TechPulse_Hardware_Inventory",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 6,
            "description": "Number of hardware items to retrieve",
            "x-ms-summary": "Number of hardware items"
          },
          {
            "name": "startIndex",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "Index to start retrieving hardware items from",
            "x-ms-summary": "Start index for hardware items"
          }
        ]
      }
    },
    "/analytics/v1/identity/tenants": {
      "get": {
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "Tenant ID",
        "description": "Endpoint to retrieve tenant IDs",
        "operationId": "TenantID",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Content Type for request",
            "x-ms-summary": "Content Type"
          }
        ]
      }
    },
    "/analytics/v1/incidents/1.2/tenants/{tenantid}/incidents": {
      "post": {
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "Get Events",
        "description": "Endpoint to retrieve tenant incidents",
        "operationId": "GetEvents",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "tenantid",
            "in": "path",
            "description": "The ID of the tenant",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tenant ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 17,
            "description": "Number of events to retrieve",
            "x-ms-summary": "Number of events"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "updatedAt ge 2023-04-01 10:00:00 AND type co \"Health\"",
            "description": "Filter for retrieving events",
            "x-ms-summary": "Event filter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "tenantIds": {
                  "type": "array",
                  "items": {
                    "title": "",
                    "type": "string"
                  },
                  "description": "tenantIds"
                }
              },
              "required": ["tenantIds"]
            },
            "description": "Request body",
            "x-ms-summary": "Request Body"
          }
        ]
      }
    },
    "/analytics/v1/reports/deviceutiV3/swPerfByTime/type/grid": {
      "post": {
        "responses": {
          "default": {
            "description": "Unexpected error"
          }
        },
        "summary": "Get Utilization",
        "description": "CPU MEM Utilization",
        "operationId": "GetUtilization",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://daas.api.hp.com/oauth/v1/authorize",
      "tokenUrl": "https://daas.api.hp.com/oauth/v1/token",
      "scopes": {
        "Read": "Read"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": ["Read"]
    }
  ],
  "tags": []
}
