{
  "swagger": "2.0",
  "info": {
    "title": "Fulcrum",
    "version": "1.0.0",
    "description": "Fulcrum is a field-first solution that empowers both GIS experts and non-GIS team members to easily capture and share geospatial data.\nThis connector enables integration with Fulcrum for managing field data, photos, videos, and more.\n",
    "contact": {
      "name": "Fulcrum Support",
      "url": "https://www.fulcrumapp.com/support",
      "email": "support@fulcrumapp.com"
    }
  },
  "host": "api.fulcrumapp.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/attachments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the record with which the attachment is associated. This is required when listing record attachments.",
            "in": "query",
            "name": "record_id",
            "type": "string",
            "x-ms-summary": "Record Id"
          },
          {
            "description": "The ID of the form with which the attachment is associated. This parameter will allow you to get all reference files within a form, NOT all of the record attachments in a form",
            "in": "query",
            "name": "form_id",
            "type": "string",
            "x-ms-summary": "Form Id"
          },
          {
            "default": "form",
            "description": "The type of attachment to query for. Must be either `form` or `record`.",
            "in": "query",
            "name": "owner_type",
            "type": "string",
            "x-ms-summary": "Owner Type"
          },
          {
            "description": "The field to sort results by.",
            "enum": [
              "name",
              "file_size",
              "uploaded_at"
            ],
            "in": "query",
            "name": "sort",
            "type": "string",
            "x-ms-summary": "Sort"
          },
          {
            "default": "asc",
            "description": "The sort direction(asc, desc). Default is asc.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort_direction",
            "type": "string",
            "x-ms-summary": "Sort Direction"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/AttachmentsResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve a list of attachments.",
        "operationId": "Get-all-attachments",
        "summary": "Get a list of attachment metadata"
      }
    },
    "/v2/attachments/{attachment_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of the attachment.",
            "in": "path",
            "name": "attachment_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Attachment Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/Attachment"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve metadata for a single attachment.",
        "operationId": "Get-single-attachment",
        "summary": "Get an attachment"
      }
    },
    "/v2/audio.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the record with which the audio file is associated.",
            "in": "query",
            "name": "record_id",
            "type": "string",
            "x-ms-summary": "Record Id"
          },
          {
            "description": "The ID of the form with which the audio file is associated. Leaving this blank will query against all of your audio files.",
            "in": "query",
            "name": "form_id",
            "type": "string",
            "x-ms-summary": "Form Id"
          },
          {
            "description": "If present, audio files will be sorted by updated_at date.",
            "in": "query",
            "name": "newest_first",
            "type": "boolean",
            "x-ms-summary": "Newest First"
          },
          {
            "description": "Filter for audio files that have been completely processed.",
            "in": "query",
            "name": "processed",
            "type": "boolean",
            "x-ms-summary": "Processed"
          },
          {
            "description": "Filter for audio files that have been completely stored.",
            "in": "query",
            "name": "stored",
            "type": "boolean",
            "x-ms-summary": "Stored"
          },
          {
            "description": "Filter for audio files that have been completely uploaded.",
            "in": "query",
            "name": "uploaded",
            "type": "boolean",
            "x-ms-summary": "Uploaded"
          },
          {
            "default": 1,
            "description": "The page number requested.",
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "default": 20000,
            "description": "The number of items to return per page.",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "type": "integer",
            "x-ms-summary": "Per Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AudiosResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve metadata for a list of audio files.",
        "operationId": "Audio-get-all",
        "summary": "Get a list of audio metadata"
      }
    },
    "/v2/audio/{audio_id}.mp4": {
      "get": {
        "produces": [
          "audio/mp4",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of the audio file.",
            "in": "path",
            "name": "audio_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Audio Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "description": "Download the original audio file.",
        "operationId": "Audio-get-original-file",
        "summary": "Get an audio original file"
      }
    },
    "/v2/photos.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the record with which the photo is associated.",
            "in": "query",
            "name": "record_id",
            "type": "string",
            "x-ms-summary": "Record Id"
          },
          {
            "description": "The ID of the form with which the photo is associated. Leaving this blank will query against all of your photos.",
            "in": "query",
            "name": "form_id",
            "type": "string",
            "x-ms-summary": "Form Id"
          },
          {
            "description": "If present, photos will be sorted by updated_at date.",
            "in": "query",
            "name": "newest_first",
            "type": "boolean",
            "x-ms-summary": "Newest First"
          },
          {
            "description": "Filter for photos that have been completely processed.",
            "in": "query",
            "name": "processed",
            "type": "boolean",
            "x-ms-summary": "Processed"
          },
          {
            "description": "Filter for photos that have been completely stored.",
            "in": "query",
            "name": "stored",
            "type": "boolean",
            "x-ms-summary": "Stored"
          },
          {
            "description": "Filter for photos that have been completely uploaded.",
            "in": "query",
            "name": "uploaded",
            "type": "boolean",
            "x-ms-summary": "Uploaded"
          },
          {
            "default": 1,
            "description": "The page number requested.",
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "default": 20000,
            "description": "The number of items to return per page.",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "type": "integer",
            "x-ms-summary": "Per Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PhotosResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve metadata for a list of photos.",
        "operationId": "Photos-get-all-metadata",
        "summary": "Get a list of photo metadata"
      }
    },
    "/v2/photos/{photo_id}.jpg": {
      "get": {
        "produces": [
          "image/jpeg",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of the photo.",
            "in": "path",
            "name": "photo_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Photo Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "description": "Download the original photo file.",
        "operationId": "Photos-get-single-file",
        "summary": "Get a photo original file"
      }
    },
    "/v2/photos/{photo_id}.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of the photo.",
            "in": "path",
            "name": "photo_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Photo Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SinglePhotoResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve metadata for a single photo.",
        "operationId": "Photos-get-single-metadata",
        "summary": "Get photo metadata"
      }
    },
    "/v2/query": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "The page number requested.",
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "default": 20000,
            "description": "The number of items to return per page.",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "type": "integer",
            "x-ms-summary": "Per Page"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/QueryRequest"
            },
            "x-ms-summary": "Body",
            "description": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false,
        "description": "Execute a Query API request using HTTP POST. Provide a SQL like query to query against your organization's data.",
        "operationId": "Query-post",
        "summary": "Make a Query POST request"
      }
    },
    "/v2/records.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "If present, records will be sorted by updated_at date.",
            "in": "query",
            "name": "newest_first",
            "type": "boolean",
            "x-ms-summary": "Newest First"
          },
          {
            "description": "Bounding box of the records requested. Format should be: lat,long,lat,long (bottom, left, top, right).",
            "in": "query",
            "name": "bounding_box",
            "type": "string",
            "x-ms-summary": "Bounding Box"
          },
          {
            "description": "The id of the changeset associated with the record.",
            "in": "query",
            "name": "changeset_id",
            "type": "string",
            "x-ms-summary": "Changeset Id"
          },
          {
            "description": "The id of the form with which the record is associated. Leaving this blank will query against all of your records.",
            "in": "query",
            "name": "form_id",
            "type": "string",
            "x-ms-summary": "Form Id"
          },
          {
            "description": "The id of the project with which the record is associated. Leaving this blank will query against all of your records.",
            "in": "query",
            "name": "project_id",
            "type": "string",
            "x-ms-summary": "Project Id"
          },
          {
            "description": "Return only records which were created by the client (device) before the given time.",
            "format": "date-time",
            "in": "query",
            "name": "client_created_before",
            "type": "string",
            "x-ms-summary": "Client Created Before"
          },
          {
            "description": "Return only records which were created by the client (device) after the given time.",
            "format": "date-time",
            "in": "query",
            "name": "client_created_since",
            "type": "string",
            "x-ms-summary": "Client Created Since"
          },
          {
            "description": "Return only records which were updated by the client (device) before the given time.",
            "format": "date-time",
            "in": "query",
            "name": "client_updated_before",
            "type": "string",
            "x-ms-summary": "Client Updated Before"
          },
          {
            "description": "Return only records which were updated by the client (device) after the given time.",
            "format": "date-time",
            "in": "query",
            "name": "client_updated_since",
            "type": "string",
            "x-ms-summary": "Client Updated Since"
          },
          {
            "description": "Return only records which were created (on the server) before the given time.",
            "format": "date-time",
            "in": "query",
            "name": "created_before",
            "type": "string",
            "x-ms-summary": "Created Before"
          },
          {
            "description": "Return only records which were created (on the server) after the given time.",
            "format": "date-time",
            "in": "query",
            "name": "created_since",
            "type": "string",
            "x-ms-summary": "Created Since"
          },
          {
            "description": "Return only records which were updated (on the server) before the given time.",
            "format": "date-time",
            "in": "query",
            "name": "updated_before",
            "type": "string",
            "x-ms-summary": "Updated Before"
          },
          {
            "description": "Return only records which were updated (on the server) after the given time.",
            "format": "date-time",
            "in": "query",
            "name": "updated_since",
            "type": "string",
            "x-ms-summary": "Updated Since"
          },
          {
            "default": 1,
            "description": "The page number requested",
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "default": 20000,
            "description": "Number of items per page",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "type": "integer",
            "x-ms-summary": "Per Page"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/RecordsResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Get a list of records from your organization that can be filtered by dimensions such as form, project, changeset, bounding box, and date ranges.",
        "operationId": "Records-get-all",
        "summary": "Get a list of records"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "x-ms-summary": "Content Type",
            "description": "Content Type"
          },
          {
            "default": false,
            "description": "Skips all app workflows",
            "in": "header",
            "name": "X-SkipWorkflows",
            "type": "boolean",
            "x-ms-summary": "X Skipworkflows",
            "x-ms-visibility": "advanced"
          },
          {
            "default": false,
            "description": "Skips all app webhooks",
            "in": "header",
            "name": "X-SkipWebhooks",
            "type": "boolean",
            "x-ms-summary": "X Skipwebhooks",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RecordRequest"
            },
            "x-ms-summary": "Body",
            "description": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleRecordResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Create a new record in the specified form using the provided form values, location information, and any associated metadata.",
        "operationId": "Records-create",
        "summary": "Create a record"
      }
    },
    "/v2/records/{record_id}.json": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of the record to delete.",
            "in": "path",
            "name": "record_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Record Id",
            "x-ms-url-encoding": "single"
          },
          {
            "default": false,
            "description": "Skips all app workflows",
            "in": "header",
            "name": "X-SkipWorkflows",
            "type": "boolean",
            "x-ms-summary": "X Skipworkflows",
            "x-ms-visibility": "advanced"
          },
          {
            "default": false,
            "description": "Skips all app webhooks",
            "in": "header",
            "name": "X-SkipWebhooks",
            "type": "boolean",
            "x-ms-summary": "X Skipwebhooks",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleRecordResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Delete a record from your organization.",
        "operationId": "Records-delete",
        "summary": "Delete a record"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of the record to retrieve.",
            "in": "path",
            "name": "record_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Record Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "$ref": "#/definitions/SingleRecordResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve detailed information about a specific record by its ID. This includes all form field values, location data, timestamps, and associated metadata.",
        "operationId": "Records-get-single",
        "summary": "Get a record"
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "x-ms-summary": "Content Type",
            "description": "Content Type"
          },
          {
            "description": "Record ID",
            "in": "path",
            "name": "record_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Record Id",
            "x-ms-url-encoding": "single"
          },
          {
            "default": false,
            "description": "Skips all app workflows",
            "in": "header",
            "name": "X-SkipWorkflows",
            "type": "boolean",
            "x-ms-summary": "X Skipworkflows",
            "x-ms-visibility": "advanced"
          },
          {
            "default": false,
            "description": "Skips all app webhooks",
            "in": "header",
            "name": "X-SkipWebhooks",
            "type": "boolean",
            "x-ms-summary": "X Skipwebhooks",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RecordPatchRequest"
            },
            "x-ms-summary": "Body",
            "description": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleRecordResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Update specific fields of an existing record without requiring the complete record object. Only the fields included in the request body will be modified, while all other fields remain unchanged. This is useful for updating individual field values or metadata.",
        "operationId": "Records-partial-update",
        "summary": "Partially update a record"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "x-ms-summary": "Content Type",
            "description": "Content Type"
          },
          {
            "description": "Record ID",
            "in": "path",
            "name": "record_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Record Id",
            "x-ms-url-encoding": "single"
          },
          {
            "default": false,
            "description": "Skips all app workflows",
            "in": "header",
            "name": "X-SkipWorkflows",
            "type": "boolean",
            "x-ms-summary": "X Skipworkflows",
            "x-ms-visibility": "advanced"
          },
          {
            "default": false,
            "description": "Skips all app webhooks",
            "in": "header",
            "name": "X-SkipWebhooks",
            "type": "boolean",
            "x-ms-summary": "X Skipwebhooks",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RecordRequest"
            },
            "x-ms-summary": "Body",
            "description": "Body"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false,
        "description": "Update a record with a provided record object. The record object is expected to be the complete representation of the record. Any fields not included are assumed null.",
        "operationId": "Records-update",
        "summary": "Update a record"
      }
    },
    "/v2/records/{record_id}/history.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of the record whose history you want to retrieve.",
            "in": "path",
            "name": "record_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Record Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RecordHistoryResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve the complete version history of a record.",
        "operationId": "Records-get-history",
        "summary": "Get the history of a record"
      }
    },
    "/v2/reports.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReportRequest"
            },
            "x-ms-summary": "Body",
            "description": "Body"
          }
        ],
        "responses": {
          "201": {
            "description": "Report created successfully",
            "schema": {
              "$ref": "#/definitions/ReportResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Generate a new report for a specific record, optionally using a report template.",
        "operationId": "Reports-create",
        "summary": "Create a report"
      }
    },
    "/v2/reports/{report_id}.pdf": {
      "get": {
        "produces": [
          "application/pdf",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of the report.",
            "format": "uuid",
            "in": "path",
            "name": "report_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Report Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "description": "Download the generated PDF report file.",
        "operationId": "Reports-file",
        "summary": "Get a report file"
      }
    },
    "/v2/signatures.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the record with which the photo is associated.",
            "in": "query",
            "name": "record_id",
            "type": "string",
            "x-ms-summary": "Record Id"
          },
          {
            "description": "The ID of the form with which the photo is associated. Leaving this blank will query against all of your photos.",
            "in": "query",
            "name": "form_id",
            "type": "string",
            "x-ms-summary": "Form Id"
          },
          {
            "description": "If present, photos will be sorted by updated_at date.",
            "in": "query",
            "name": "newest_first",
            "type": "boolean",
            "x-ms-summary": "Newest First"
          },
          {
            "description": "Filter for signatures that have been completely processed.",
            "in": "query",
            "name": "processed",
            "type": "boolean",
            "x-ms-summary": "Processed"
          },
          {
            "description": "Filter for signatures that have been completely stored.",
            "in": "query",
            "name": "stored",
            "type": "boolean",
            "x-ms-summary": "Stored"
          },
          {
            "description": "Filter for signatures that have been completely uploaded.",
            "in": "query",
            "name": "uploaded",
            "type": "boolean",
            "x-ms-summary": "Uploaded"
          },
          {
            "default": 1,
            "description": "The page number requested.",
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "default": 20000,
            "description": "The number of items to return per page.",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "type": "integer",
            "x-ms-summary": "Per Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SignaturesResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve metadata for a list of signatures.",
        "operationId": "Signatures-get-all",
        "summary": "Get a list of signature metadata"
      }
    },
    "/v2/signatures/{signature_id}.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of the signature.",
            "in": "path",
            "name": "signature_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Signature Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleSignatureResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve metadata for a single signature.",
        "operationId": "Signatures-get-single-metadata",
        "summary": "Get signature metadata"
      }
    },
    "/v2/signatures/{signature_id}.png": {
      "get": {
        "produces": [
          "image/png",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of the signature.",
            "in": "path",
            "name": "signature_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Signature Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "description": "Download the original signature file.",
        "operationId": "Signatures-get-single-file",
        "summary": "Get a signature original file"
      }
    },
    "/v2/sketches.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the record with which the sketch is associated.",
            "in": "query",
            "name": "record_id",
            "type": "string",
            "x-ms-summary": "Record Id"
          },
          {
            "description": "The ID of the form with which the sketch is associated. Leaving this blank will query against all of your sketches.",
            "in": "query",
            "name": "form_id",
            "type": "string",
            "x-ms-summary": "Form Id"
          },
          {
            "description": "If present, sketches will be sorted by updated_at date.",
            "in": "query",
            "name": "newest_first",
            "type": "boolean",
            "x-ms-summary": "Newest First"
          },
          {
            "description": "Sketch has been completely processed.",
            "in": "query",
            "name": "processed",
            "type": "boolean",
            "x-ms-summary": "Processed"
          },
          {
            "description": "Sketch has been completely stored.",
            "in": "query",
            "name": "stored",
            "type": "boolean",
            "x-ms-summary": "Stored"
          },
          {
            "description": "Sketch has been completely uploaded.",
            "in": "query",
            "name": "uploaded",
            "type": "boolean",
            "x-ms-summary": "Uploaded"
          },
          {
            "default": 1,
            "description": "The page number requested",
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "default": 20000,
            "description": "Number of items per page",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "type": "integer",
            "x-ms-summary": "Per Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SketchesResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve metadata for a list of sketches.",
        "operationId": "Sketches-get-all-metadata",
        "summary": "Get a list of sketch metadata"
      }
    },
    "/v2/sketches/{sketch_id}.jpg": {
      "get": {
        "produces": [
          "image/jpeg",
          "application/json"
        ],
        "parameters": [
          {
            "description": "Sketch ID",
            "in": "path",
            "name": "sketch_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sketch Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "description": "Download the original sketch file.",
        "operationId": "Sketches-get-single-file",
        "summary": "Get a sketch original file"
      }
    },
    "/v2/sketches/{sketch_id}.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Sketch ID",
            "in": "path",
            "name": "sketch_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sketch Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SingleSketchResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve metadata for a single sketch.",
        "operationId": "Sketches-get-single-metadata",
        "summary": "Get sketch metadata"
      }
    },
    "/v2/videos.json": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the record with which the video is associated.",
            "in": "query",
            "name": "record_id",
            "type": "string",
            "x-ms-summary": "Record Id"
          },
          {
            "description": "The ID of the form with which the video is associated. Leaving this blank will query against all of your videos.",
            "in": "query",
            "name": "form_id",
            "type": "string",
            "x-ms-summary": "Form Id"
          },
          {
            "description": "If present, videos will be sorted by updated_at date.",
            "in": "query",
            "name": "newest_first",
            "type": "boolean",
            "x-ms-summary": "Newest First"
          },
          {
            "description": "Filter for videos that have been completely processed.",
            "in": "query",
            "name": "processed",
            "type": "boolean",
            "x-ms-summary": "Processed"
          },
          {
            "description": "Filter for videos that have been completely stored.",
            "in": "query",
            "name": "stored",
            "type": "boolean",
            "x-ms-summary": "Stored"
          },
          {
            "description": "Filter for videos that have been completely uploaded.",
            "in": "query",
            "name": "uploaded",
            "type": "boolean",
            "x-ms-summary": "Uploaded"
          },
          {
            "default": 1,
            "description": "The page number requested.",
            "format": "int32",
            "in": "query",
            "name": "page",
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "default": 20000,
            "description": "The number of items to return per page.",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "type": "integer",
            "x-ms-summary": "Per Page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VideosResponse"
            }
          }
        },
        "deprecated": false,
        "description": "Retrieve metadata for a list of videos.",
        "operationId": "Videos-get-all",
        "summary": "Get a list of video metadata"
      }
    },
    "/v2/videos/{video_id}.mp4": {
      "get": {
        "produces": [
          "video/mp4",
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of the video.",
            "in": "path",
            "name": "video_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Video Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "binary",
              "type": "string"
            }
          }
        },
        "deprecated": false,
        "description": "Download the original video file.",
        "operationId": "Videos-get-original-file",
        "summary": "Get a video original file"
      }
    },
    "/v2/webhooks.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "application/json",
            "in": "header",
            "name": "Content-Type",
            "type": "string",
            "x-ms-summary": "Content Type",
            "description": "Content Type"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/WebhookRequest"
            },
            "x-ms-summary": "Body",
            "description": "Body",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "properties": {
                "webhook": {
                  "properties": {
                    "active": {
                      "type": "boolean"
                    },
                    "created_at": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "id": {
                      "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "x-nullable": true
                    },
                    "run_for_bulk_actions": {
                      "type": "boolean"
                    },
                    "updated_at": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "_webhook_payload_example": {
                  "$ref": "#/definitions/FulcrumWebhookPayload"
                }
              },
              "type": "object"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "URL to manage (update/delete) the created webhook",
                "x-ms-summary": "Webhook Management URL"
              }
            }
          }
        },
        "deprecated": false,
        "description": "Triggers when a Fulcrum resource is created, updated, or deleted. Supports events for records, forms, choice lists, and classification sets. Configure the webhook in your Fulcrum organization to specify which events to monitor.",
        "operationId": "OnFulcrumEvent",
        "summary": "When a Fulcrum event occurs",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work, create, update, or delete a record, form, choice list, or classification set in Fulcrum"
      },
      "x-ms-notification-content": {
        "description": "Webhook event payload from Fulcrum",
        "schema": {
          "$ref": "#/definitions/FulcrumWebhookPayload"
        }
      }
    },
    "/v2/webhooks/{webhook_id}.json": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Webhook ID",
            "in": "path",
            "name": "webhook_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Webhook Id",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": false,
        "description": "Delete a webhook.",
        "operationId": "UnsubscribeFromFulcrumEvent",
        "summary": "Delete a webhook",
        "x-ms-visibility": "internal",
        "x-ms-summary": "Delete webhook"
      }
    }
  },
  "definitions": {
    "Attachment": {
      "properties": {
        "attached_to_id": {
          "description": "ID of the resource this attachment is attached to",
          "type": "string"
        },
        "attached_to_type": {
          "description": "Type of resource this attachment is attached to",
          "type": "string"
        },
        "complete": {
          "description": "Whether the attachment upload is complete",
          "type": "boolean"
        },
        "file_size": {
          "description": "Size of the attachment file in bytes",
          "type": "integer"
        },
        "id": {
          "description": "Unique identifier for the attachment",
          "type": "string"
        },
        "name": {
          "description": "Filename of the attachment",
          "type": "string"
        },
        "owners": {
          "description": "List of owner references for the attachment",
          "items": {
            "properties": {
              "id": {
                "description": "ID of the owner",
                "type": "string"
              },
              "type": {
                "description": "Type of owner (e.g., 'record' or 'form')",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "status": {
          "description": "Status of the attachment",
          "type": "string"
        },
        "uploaded_at": {
          "description": "Timestamp when the attachment was uploaded",
          "format": "date-time",
          "type": "string"
        },
        "url": {
          "description": "URL to access the attachment",
          "format": "uri",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AttachmentsResponse": {
      "properties": {
        "attachments": {
          "items": {
            "$ref": "#/definitions/Attachment"
          },
          "type": "array"
        },
        "total": {
          "description": "Total number of attachments returned",
          "type": "integer"
        },
        "total_count": {
          "description": "Total count of attachments available",
          "type": "integer"
        }
      },
      "required": [
        "attachments"
      ],
      "type": "object"
    },
    "Audio": {
      "properties": {
        "access_key": {
          "description": "Unique identifier for the audio resource",
          "type": "string"
        },
        "content_type": {
          "description": "MIME type of the audio file",
          "type": "string",
          "x-nullable": true
        },
        "created_at": {
          "description": "Timestamp when the audio was created",
          "format": "date-time",
          "type": "string"
        },
        "created_by": {
          "description": "Display name of the user who created the audio",
          "type": "string",
          "x-nullable": true
        },
        "created_by_id": {
          "description": "ID of the user who created the audio",
          "type": "string",
          "x-nullable": true
        },
        "deleted_at": {
          "description": "Timestamp when the audio was deleted",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "file_size": {
          "description": "Size of the audio file in bytes",
          "type": "integer",
          "x-nullable": true
        },
        "form_id": {
          "description": "ID of the associated form",
          "type": "string",
          "x-nullable": true
        },
        "medium": {
          "description": "URL to medium version of the audio (if processed)",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "metadata": {
          "additionalProperties": true,
          "description": "Audio metadata (e.g., duration, format details)",
          "type": "object",
          "x-nullable": true
        },
        "original": {
          "description": "URL to original audio file (if stored)",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "processed": {
          "description": "Whether the audio has been processed",
          "type": "boolean"
        },
        "record_id": {
          "description": "ID of the associated record",
          "type": "string",
          "x-nullable": true
        },
        "small": {
          "description": "URL to small version of the audio (if processed)",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "status": {
          "description": "Processing status of the audio",
          "type": "string"
        },
        "stored": {
          "description": "Whether the audio has been stored",
          "type": "boolean"
        },
        "track": {
          "description": "URL to access the audio track (if available)",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "updated_at": {
          "description": "Timestamp when the audio was last updated",
          "format": "date-time",
          "type": "string"
        },
        "updated_by": {
          "description": "Display name of the user who last updated the audio",
          "type": "string",
          "x-nullable": true
        },
        "updated_by_id": {
          "description": "ID of the user who last updated the audio",
          "type": "string",
          "x-nullable": true
        },
        "uploaded": {
          "description": "Whether the audio has been uploaded",
          "type": "boolean"
        },
        "url": {
          "description": "URL to access the audio resource",
          "format": "uri",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AudiosResponse": {
      "properties": {
        "audio": {
          "items": {
            "$ref": "#/definitions/Audio"
          },
          "type": "array"
        },
        "current_page": {
          "minimum": 1,
          "type": "integer"
        },
        "per_page": {
          "minimum": 1,
          "type": "integer"
        },
        "total_count": {
          "minimum": 0,
          "type": "integer"
        },
        "total_pages": {
          "minimum": 0,
          "type": "integer"
        }
      },
      "required": [
        "audio",
        "current_page",
        "total_pages",
        "total_count",
        "per_page"
      ],
      "type": "object"
    },
    "AuditLocation": {
      "description": "Location metadata captured at creation or update time.",
      "properties": {
        "altitude": {
          "description": "The altitude in meters.",
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "horizontal_accuracy": {
          "description": "The horizontal accuracy in meters.",
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "latitude": {
          "description": "The latitude coordinate.",
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "longitude": {
          "description": "The longitude coordinate.",
          "format": "double",
          "type": "number",
          "x-nullable": true
        }
      },
      "type": "object",
      "x-nullable": true
    },
    "Geometry": {
      "properties": {
        "coordinates": {
          "description": "Coordinates for the geometry. Format varies by type: Point uses [longitude, latitude], LineString uses array of positions, Polygon uses array of linear rings (first is exterior, rest are holes), Multi* types use arrays of their respective coordinate structures."
        },
        "type": {
          "description": "GeoJSON geometry type",
          "enum": [
            "Point",
            "LineString",
            "Polygon",
            "MultiPoint",
            "MultiLineString",
            "MultiPolygon"
          ],
          "type": "string"
        }
      },
      "required": [
        "type",
        "coordinates"
      ],
      "type": "object"
    },
    "Photo": {
      "properties": {
        "access_key": {
          "description": "Unique identifier for the photo",
          "type": "string"
        },
        "content_type": {
          "description": "MIME type of the photo",
          "type": "string",
          "x-nullable": true
        },
        "created_at": {
          "description": "When the photo was created",
          "format": "date-time",
          "type": "string"
        },
        "created_by": {
          "description": "Display name of user who created the photo",
          "type": "string",
          "x-nullable": true
        },
        "created_by_id": {
          "description": "ID of user who created the photo",
          "type": "string",
          "x-nullable": true
        },
        "deleted_at": {
          "description": "When the photo was deleted",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "exif": {
          "additionalProperties": true,
          "description": "EXIF metadata from the photo",
          "type": "object",
          "x-nullable": true
        },
        "file_size": {
          "description": "Size of the photo file in bytes",
          "type": "integer",
          "x-nullable": true
        },
        "form_id": {
          "description": "ID of the associated form",
          "type": "string",
          "x-nullable": true
        },
        "large": {
          "description": "URL to large version of the photo",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "latitude": {
          "description": "Latitude coordinate where photo was taken",
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "longitude": {
          "description": "Longitude coordinate where photo was taken",
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "original": {
          "description": "URL to original version of the photo",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "processed": {
          "description": "Whether the photo has been processed",
          "type": "boolean"
        },
        "record_id": {
          "description": "ID of the associated record",
          "type": "string",
          "x-nullable": true
        },
        "stored": {
          "description": "Whether the photo has been stored",
          "type": "boolean"
        },
        "thumbnail": {
          "description": "URL to thumbnail version of the photo",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "updated_at": {
          "description": "When the photo was last updated",
          "format": "date-time",
          "type": "string"
        },
        "updated_by": {
          "description": "Display name of user who last updated the photo",
          "type": "string",
          "x-nullable": true
        },
        "updated_by_id": {
          "description": "ID of user who last updated the photo",
          "type": "string",
          "x-nullable": true
        },
        "uploaded": {
          "description": "Whether the photo has been uploaded",
          "type": "boolean"
        },
        "url": {
          "description": "API URL for this photo resource",
          "format": "uri",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PhotosResponse": {
      "properties": {
        "current_page": {
          "minimum": 1,
          "type": "integer"
        },
        "per_page": {
          "minimum": 1,
          "type": "integer"
        },
        "photos": {
          "items": {
            "$ref": "#/definitions/Photo"
          },
          "type": "array"
        },
        "total_count": {
          "minimum": 0,
          "type": "integer"
        },
        "total_pages": {
          "minimum": 0,
          "type": "integer"
        }
      },
      "required": [
        "photos",
        "current_page",
        "total_pages",
        "total_count",
        "per_page"
      ],
      "type": "object"
    },
    "QueryRequest": {
      "properties": {
        "format": {
          "description": "Response format",
          "enum": [
            "json",
            "csv",
            "geojson"
          ],
          "type": "string"
        },
        "q": {
          "description": "SQL query to execute",
          "type": "string"
        },
        "table_name": {
          "description": "Name of the table to query",
          "type": "string"
        }
      },
      "required": [
        "q"
      ],
      "type": "object"
    },
    "Record": {
      "properties": {
        "altitude": {
          "type": "number",
          "x-nullable": true
        },
        "assigned_to": {
          "type": "string",
          "x-nullable": true
        },
        "assigned_to_id": {
          "type": "string",
          "x-nullable": true
        },
        "client_created_at": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "client_updated_at": {
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "course": {
          "type": "number",
          "x-nullable": true
        },
        "created_at": {
          "format": "date-time",
          "type": "string"
        },
        "created_by": {
          "type": "string"
        },
        "created_by_id": {
          "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
          "type": "string"
        },
        "created_duration": {
          "type": "number",
          "x-nullable": true
        },
        "created_location": {
          "$ref": "#/definitions/AuditLocation"
        },
        "edited_duration": {
          "type": "number",
          "x-nullable": true
        },
        "form_id": {
          "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
          "type": "string"
        },
        "form_values": {
          "additionalProperties": true,
          "description": "Field values keyed by field key - values can be strings, objects, or arrays depending on field type",
          "type": "object"
        },
        "geometry": {
          "$ref": "#/definitions/Geometry"
        },
        "horizontal_accuracy": {
          "type": "number",
          "x-nullable": true
        },
        "id": {
          "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
          "type": "string"
        },
        "latitude": {
          "type": "number",
          "x-nullable": true
        },
        "longitude": {
          "type": "number",
          "x-nullable": true
        },
        "project_id": {
          "type": "string",
          "x-nullable": true
        },
        "record_series_id": {
          "type": "string",
          "x-nullable": true
        },
        "speed": {
          "type": "number",
          "x-nullable": true
        },
        "status": {
          "type": "string",
          "x-nullable": true
        },
        "system_status": {
          "type": "string",
          "x-nullable": true
        },
        "updated_at": {
          "format": "date-time",
          "type": "string"
        },
        "updated_by": {
          "type": "string"
        },
        "updated_by_id": {
          "pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$",
          "type": "string"
        },
        "updated_duration": {
          "type": "number",
          "x-nullable": true
        },
        "updated_location": {
          "$ref": "#/definitions/AuditLocation"
        },
        "version": {
          "type": "integer"
        },
        "vertical_accuracy": {
          "type": "number",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "RecordHistoryItem": {
      "properties": {
        "altitude": {
          "description": "Record location altitude in meters",
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "assigned_to": {
          "description": "Display name of assigned user",
          "type": "string",
          "x-nullable": true
        },
        "assigned_to_id": {
          "description": "ID of assigned user",
          "type": "string",
          "x-nullable": true
        },
        "changeset_id": {
          "description": "Changeset ID",
          "type": "string",
          "x-nullable": true
        },
        "client_created_at": {
          "description": "Client-side creation timestamp",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "client_updated_at": {
          "description": "Client-side update timestamp",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "course": {
          "description": "Course/heading in degrees",
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "created_at": {
          "description": "Record creation timestamp",
          "format": "date-time",
          "type": "string"
        },
        "created_by": {
          "description": "Display name of user who created the record",
          "type": "string",
          "x-nullable": true
        },
        "created_by_id": {
          "description": "ID of user who created the record",
          "type": "string",
          "x-nullable": true
        },
        "created_duration": {
          "description": "Duration of record creation in seconds",
          "type": "integer",
          "x-nullable": true
        },
        "created_location": {
          "$ref": "#/definitions/AuditLocation"
        },
        "edited_duration": {
          "description": "Total editing duration in seconds",
          "type": "integer",
          "x-nullable": true
        },
        "form_id": {
          "description": "Form ID",
          "type": "string",
          "x-nullable": true
        },
        "form_values": {
          "additionalProperties": true,
          "description": "Form field values (processed)",
          "type": "object",
          "x-nullable": true
        },
        "form_version": {
          "description": "Form version at time of record creation/update",
          "type": "integer",
          "x-nullable": true
        },
        "geometry": {
          "description": "GeoJSON geometry object",
          "properties": {
            "coordinates": {
              "items": {
                "type": "number"
              },
              "type": "array"
            },
            "type": {
              "type": "string"
            }
          },
          "type": "object",
          "x-nullable": true
        },
        "history_change_type": {
          "description": "Type of change (c=create, u=update, d=delete)",
          "enum": [
            "c",
            "u",
            "d"
          ],
          "type": "string"
        },
        "history_changed_by": {
          "description": "Display name of user who made this change",
          "type": "string",
          "x-nullable": true
        },
        "history_changed_by_id": {
          "description": "ID of user who made this change",
          "type": "string",
          "x-nullable": true
        },
        "history_created_at": {
          "description": "Timestamp when this history entry was created",
          "format": "date-time",
          "type": "string"
        },
        "history_id": {
          "description": "History entry ID",
          "type": "string"
        },
        "horizontal_accuracy": {
          "description": "Horizontal accuracy in meters",
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "id": {
          "description": "Record ID",
          "type": "string"
        },
        "latitude": {
          "description": "Record location latitude",
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "longitude": {
          "description": "Record location longitude",
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "project_id": {
          "description": "Project ID",
          "type": "string",
          "x-nullable": true
        },
        "record_key": {
          "description": "Optional record key",
          "type": "string",
          "x-nullable": true
        },
        "record_sequence": {
          "description": "Optional record sequence number",
          "type": "integer",
          "x-nullable": true
        },
        "sequence": {
          "description": "Sequence number (when using sequence-based pagination)",
          "type": "integer",
          "x-nullable": true
        },
        "speed": {
          "description": "Speed at time of record creation in m/s",
          "format": "double",
          "type": "number",
          "x-nullable": true
        },
        "status": {
          "description": "Record status",
          "type": "string",
          "x-nullable": true
        },
        "updated_at": {
          "description": "Record last update timestamp",
          "format": "date-time",
          "type": "string"
        },
        "updated_by": {
          "description": "Display name of user who last updated the record",
          "type": "string",
          "x-nullable": true
        },
        "updated_by_id": {
          "description": "ID of user who last updated the record",
          "type": "string",
          "x-nullable": true
        },
        "updated_duration": {
          "description": "Duration of record update in seconds",
          "type": "integer",
          "x-nullable": true
        },
        "updated_location": {
          "$ref": "#/definitions/AuditLocation"
        },
        "version": {
          "description": "Record version number",
          "type": "integer"
        },
        "vertical_accuracy": {
          "description": "Vertical accuracy in meters",
          "format": "double",
          "type": "number",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "RecordHistoryResponse": {
      "properties": {
        "current_page": {
          "description": "Current page number (when using pagination)",
          "minimum": 1,
          "type": "integer"
        },
        "next_sequence": {
          "description": "Next sequence number (when using sequence-based pagination)",
          "type": "integer",
          "x-nullable": true
        },
        "per_page": {
          "description": "Number of records per page (when using pagination)",
          "minimum": 1,
          "type": "integer"
        },
        "records": {
          "items": {
            "$ref": "#/definitions/RecordHistoryItem"
          },
          "type": "array"
        },
        "total_count": {
          "description": "Total number of records (when using pagination)",
          "minimum": 0,
          "type": "integer"
        },
        "total_pages": {
          "description": "Total number of pages (when using pagination)",
          "minimum": 0,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "RecordPatchRequest": {
      "properties": {
        "record": {
          "properties": {
            "assigned_to_id": {
              "description": "ID of user assigned to this record",
              "type": "string"
            },
            "form_values": {
              "additionalProperties": true,
              "description": "Field values keyed by field key",
              "type": "object"
            },
            "geometry": {
              "$ref": "#/definitions/Geometry"
            },
            "latitude": {
              "description": "Latitude coordinate",
              "type": "number"
            },
            "longitude": {
              "description": "Longitude coordinate",
              "type": "number"
            },
            "project_id": {
              "description": "ID of the project",
              "type": "string"
            },
            "status": {
              "description": "Status of the record",
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "required": [
        "record"
      ],
      "type": "object"
    },
    "RecordRequest": {
      "properties": {
        "record": {
          "properties": {
            "assigned_to_id": {
              "description": "ID of user assigned to this record",
              "type": "string"
            },
            "form_id": {
              "description": "ID of the form this record belongs to",
              "type": "string"
            },
            "form_values": {
              "additionalProperties": true,
              "description": "Field values keyed by field key",
              "type": "object"
            },
            "geometry": {
              "$ref": "#/definitions/Geometry"
            },
            "latitude": {
              "description": "Latitude coordinate",
              "type": "number"
            },
            "longitude": {
              "description": "Longitude coordinate",
              "type": "number"
            },
            "project_id": {
              "description": "ID of the project",
              "type": "string"
            },
            "status": {
              "description": "Status of the record",
              "type": "string"
            }
          },
          "required": [
            "form_id"
          ],
          "type": "object"
        }
      },
      "required": [
        "record"
      ],
      "type": "object"
    },
    "RecordsResponse": {
      "properties": {
        "current_page": {
          "minimum": 1,
          "type": "integer"
        },
        "per_page": {
          "minimum": 1,
          "type": "integer"
        },
        "records": {
          "items": {
            "$ref": "#/definitions/Record"
          },
          "type": "array"
        },
        "total_count": {
          "minimum": 0,
          "type": "integer"
        },
        "total_pages": {
          "minimum": 0,
          "type": "integer"
        }
      },
      "required": [
        "current_page",
        "total_pages",
        "total_count",
        "per_page",
        "records"
      ],
      "type": "object"
    },
    "ReportRequest": {
      "properties": {
        "report": {
          "properties": {
            "record_id": {
              "description": "The ID of the record to generate a report for",
              "format": "uuid",
              "type": "string"
            },
            "template_id": {
              "description": "The ID of the report template to use (optional)",
              "format": "uuid",
              "type": "string"
            }
          },
          "required": [
            "record_id"
          ],
          "type": "object"
        }
      },
      "required": [
        "report"
      ],
      "type": "object"
    },
    "ReportResponse": {
      "properties": {
        "report": {
          "properties": {
            "completed_at": {
              "description": "The timestamp when report generation completed",
              "format": "date-time",
              "type": "string",
              "x-nullable": true
            },
            "created_at": {
              "description": "The timestamp when the report was created",
              "format": "date-time",
              "type": "string"
            },
            "failed_at": {
              "description": "The timestamp when report generation failed (null if successful)",
              "format": "date-time",
              "type": "string",
              "x-nullable": true
            },
            "id": {
              "description": "The unique identifier for the report",
              "format": "uuid",
              "type": "string"
            },
            "record_id": {
              "description": "The ID of the record the report was generated for",
              "format": "uuid",
              "type": "string"
            },
            "started_at": {
              "description": "The timestamp when report generation started",
              "format": "date-time",
              "type": "string",
              "x-nullable": true
            },
            "state": {
              "description": "The state of the report",
              "enum": [
                "pending",
                "running",
                "completed",
                "failed"
              ],
              "example": "completed",
              "type": "string"
            },
            "template_id": {
              "description": "The ID of the template used to generate the report",
              "format": "uuid",
              "type": "string",
              "x-nullable": true
            },
            "updated_at": {
              "description": "The timestamp when the report was last updated",
              "format": "date-time",
              "type": "string"
            },
            "url": {
              "description": "The URL to download the generated report",
              "format": "uri",
              "type": "string",
              "x-nullable": true
            }
          },
          "required": [
            "state",
            "id",
            "created_at",
            "updated_at",
            "record_id"
          ],
          "type": "object"
        }
      },
      "required": [
        "report"
      ],
      "type": "object"
    },
    "Signature": {
      "properties": {
        "access_key": {
          "description": "Unique identifier for the signature",
          "type": "string"
        },
        "content_type": {
          "description": "MIME type of the signature file",
          "type": "string",
          "x-nullable": true
        },
        "created_at": {
          "description": "Timestamp when the signature was created",
          "format": "date-time",
          "type": "string"
        },
        "created_by": {
          "description": "Display name of the user who created the signature",
          "type": "string",
          "x-nullable": true
        },
        "created_by_id": {
          "description": "ID of the user who created the signature",
          "type": "string",
          "x-nullable": true
        },
        "deleted_at": {
          "description": "Timestamp when the signature was deleted",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "file_size": {
          "description": "Size of the signature file in bytes",
          "type": "integer",
          "x-nullable": true
        },
        "form_id": {
          "description": "ID of the associated form",
          "type": "string",
          "x-nullable": true
        },
        "large": {
          "description": "URL to the large version of the signature",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "original": {
          "description": "URL to the original signature file",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "processed": {
          "description": "Whether the signature has been processed",
          "type": "boolean"
        },
        "record_id": {
          "description": "ID of the associated record",
          "type": "string",
          "x-nullable": true
        },
        "stored": {
          "description": "Whether the signature has been stored",
          "type": "boolean"
        },
        "thumbnail": {
          "description": "URL to the thumbnail version of the signature",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "updated_at": {
          "description": "Timestamp when the signature was last updated",
          "format": "date-time",
          "type": "string"
        },
        "updated_by": {
          "description": "Display name of the user who last updated the signature",
          "type": "string",
          "x-nullable": true
        },
        "updated_by_id": {
          "description": "ID of the user who last updated the signature",
          "type": "string",
          "x-nullable": true
        },
        "uploaded": {
          "description": "Whether the signature has been uploaded",
          "type": "boolean"
        },
        "url": {
          "description": "API URL to retrieve this signature",
          "format": "uri",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SignaturesResponse": {
      "properties": {
        "current_page": {
          "minimum": 1,
          "type": "integer"
        },
        "per_page": {
          "minimum": 1,
          "type": "integer"
        },
        "signatures": {
          "items": {
            "$ref": "#/definitions/Signature"
          },
          "type": "array"
        },
        "total_count": {
          "minimum": 0,
          "type": "integer"
        },
        "total_pages": {
          "minimum": 0,
          "type": "integer"
        }
      },
      "required": [
        "signatures",
        "current_page",
        "total_pages",
        "total_count",
        "per_page"
      ],
      "type": "object"
    },
    "SinglePhotoResponse": {
      "properties": {
        "photo": {
          "$ref": "#/definitions/Photo"
        }
      },
      "required": [
        "photo"
      ],
      "type": "object"
    },
    "SingleRecordResponse": {
      "properties": {
        "record": {
          "$ref": "#/definitions/Record"
        }
      },
      "required": [
        "record"
      ],
      "type": "object"
    },
    "SingleSignatureResponse": {
      "properties": {
        "signature": {
          "$ref": "#/definitions/Signature"
        }
      },
      "required": [
        "signature"
      ],
      "type": "object"
    },
    "SingleSketchResponse": {
      "properties": {
        "sketch": {
          "$ref": "#/definitions/Sketch"
        }
      },
      "required": [
        "sketch"
      ],
      "type": "object"
    },
    "Sketch": {
      "properties": {
        "access_key": {
          "description": "Unique identifier for the sketch",
          "type": "string"
        },
        "content_type": {
          "description": "MIME type of the sketch file",
          "type": "string",
          "x-nullable": true
        },
        "created_at": {
          "description": "Timestamp when the sketch was created",
          "format": "date-time",
          "type": "string"
        },
        "created_by": {
          "description": "Display name of the user who created the sketch",
          "type": "string",
          "x-nullable": true
        },
        "created_by_id": {
          "description": "ID of the user who created the sketch",
          "type": "string",
          "x-nullable": true
        },
        "exif": {
          "additionalProperties": true,
          "description": "EXIF metadata from the sketch",
          "type": "object",
          "x-nullable": true
        },
        "file_size": {
          "description": "Size of the sketch file in bytes",
          "type": "integer",
          "x-nullable": true
        },
        "form_id": {
          "description": "ID of the associated form",
          "type": "string",
          "x-nullable": true
        },
        "large": {
          "description": "URL to large version of the sketch",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "medium": {
          "description": "URL to medium version of the sketch",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "original": {
          "description": "URL to original version of the sketch",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "processed": {
          "description": "Whether the sketch has been processed",
          "type": "boolean"
        },
        "record_id": {
          "description": "ID of the associated record",
          "type": "string",
          "x-nullable": true
        },
        "small": {
          "description": "URL to small version of the sketch",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "stored": {
          "description": "Whether the sketch has been stored",
          "type": "boolean"
        },
        "thumbnail": {
          "description": "URL to thumbnail version of the sketch",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "updated_at": {
          "description": "Timestamp when the sketch was last updated",
          "format": "date-time",
          "type": "string"
        },
        "updated_by": {
          "description": "Display name of the user who last updated the sketch",
          "type": "string",
          "x-nullable": true
        },
        "updated_by_id": {
          "description": "ID of the user who last updated the sketch",
          "type": "string",
          "x-nullable": true
        },
        "uploaded": {
          "description": "Whether the sketch has been uploaded",
          "type": "boolean"
        },
        "url": {
          "description": "API URL to access this sketch resource",
          "format": "uri",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SketchesResponse": {
      "properties": {
        "current_page": {
          "minimum": 1,
          "type": "integer"
        },
        "per_page": {
          "minimum": 1,
          "type": "integer"
        },
        "sketches": {
          "items": {
            "$ref": "#/definitions/Sketch"
          },
          "type": "array"
        },
        "total_count": {
          "minimum": 0,
          "type": "integer"
        },
        "total_pages": {
          "minimum": 0,
          "type": "integer"
        }
      },
      "required": [
        "sketches",
        "current_page",
        "total_pages",
        "total_count",
        "per_page"
      ],
      "type": "object"
    },
    "Video": {
      "properties": {
        "access_key": {
          "description": "Unique identifier for the video",
          "type": "string"
        },
        "content_type": {
          "description": "MIME type of the video file",
          "type": "string",
          "x-nullable": true
        },
        "created_at": {
          "description": "Timestamp when the video was created",
          "format": "date-time",
          "type": "string"
        },
        "created_by": {
          "description": "Display name of the user who created the video",
          "type": "string",
          "x-nullable": true
        },
        "created_by_id": {
          "description": "ID of the user who created the video",
          "type": "string",
          "x-nullable": true
        },
        "deleted_at": {
          "description": "Timestamp when the video was deleted",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "file_size": {
          "description": "Size of the video file in bytes",
          "type": "integer",
          "x-nullable": true
        },
        "form_id": {
          "description": "ID of the associated form",
          "type": "string",
          "x-nullable": true
        },
        "medium": {
          "description": "URL to medium version of the video",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "metadata": {
          "additionalProperties": true,
          "description": "Additional metadata about the video",
          "type": "object",
          "x-nullable": true
        },
        "original": {
          "description": "URL to original video file",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "processed": {
          "description": "Whether the video has been processed",
          "type": "boolean"
        },
        "record_id": {
          "description": "ID of the associated record",
          "type": "string",
          "x-nullable": true
        },
        "small": {
          "description": "URL to small version of the video",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "status": {
          "description": "Processing status of the video",
          "type": "string"
        },
        "stored": {
          "description": "Whether the video has been stored",
          "type": "boolean"
        },
        "thumbnail_huge": {
          "description": "URL to huge thumbnail image",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "thumbnail_huge_square": {
          "description": "URL to huge square thumbnail image",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "thumbnail_large": {
          "description": "URL to large thumbnail image",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "thumbnail_large_square": {
          "description": "URL to large square thumbnail image",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "thumbnail_medium": {
          "description": "URL to medium thumbnail image",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "thumbnail_medium_square": {
          "description": "URL to medium square thumbnail image",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "thumbnail_small": {
          "description": "URL to small thumbnail image",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "thumbnail_small_square": {
          "description": "URL to small square thumbnail image",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "track": {
          "description": "URL to the video track data in JSON format, if available",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "updated_at": {
          "description": "Timestamp when the video was last updated",
          "format": "date-time",
          "type": "string"
        },
        "updated_by": {
          "description": "Display name of the user who last updated the video",
          "type": "string",
          "x-nullable": true
        },
        "updated_by_id": {
          "description": "ID of the user who last updated the video",
          "type": "string",
          "x-nullable": true
        },
        "uploaded": {
          "description": "Whether the video has been uploaded",
          "type": "boolean"
        },
        "url": {
          "description": "API URL to access this video resource",
          "format": "uri",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideosResponse": {
      "properties": {
        "current_page": {
          "minimum": 1,
          "type": "integer"
        },
        "per_page": {
          "minimum": 1,
          "type": "integer"
        },
        "total_count": {
          "minimum": 0,
          "type": "integer"
        },
        "total_pages": {
          "minimum": 0,
          "type": "integer"
        },
        "videos": {
          "items": {
            "$ref": "#/definitions/Video"
          },
          "type": "array"
        }
      },
      "required": [
        "videos",
        "current_page",
        "total_pages",
        "total_count",
        "per_page"
      ],
      "type": "object"
    },
    "WebhookRequest": {
      "additionalProperties": false,
      "properties": {
        "webhook": {
          "additionalProperties": false,
          "properties": {
            "active": {
              "description": "Whether the webhook is enabled",
              "type": "boolean"
            },
            "name": {
              "description": "Display name for the webhook",
              "type": "string",
              "x-nullable": true,
              "default": "Power Platform Trigger",
              "x-ms-summary": "Webhook Name"
            },
            "run_for_bulk_actions": {
              "description": "Whether the webhook runs for bulk record actions",
              "type": "boolean"
            },
            "url": {
              "description": "Destination URL that will receive webhook payloads",
              "format": "uri",
              "type": "string",
              "x-ms-notification-url": true,
              "x-ms-visibility": "internal",
              "x-ms-summary": "Callback URL"
            }
          },
          "required": [
            "name",
            "url"
          ],
          "type": "object"
        }
      },
      "required": [
        "webhook"
      ],
      "type": "object"
    },
    "FulcrumWebhookPayload": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Event ID",
          "description": "The unique identifier of the event"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Event Type",
          "description": "The type of event (e.g., record.create, record.update, record.delete, form.create, form.update, form.delete, choice_list.create, choice_list.update, choice_list.delete, classification_set.create, classification_set.update, classification_set.delete)"
        },
        "owner_id": {
          "type": "string",
          "x-ms-summary": "Owner ID",
          "description": "The ID of the organization that owns this webhook"
        },
        "data": {
          "type": "object",
          "x-ms-summary": "Event Data",
          "description": "The record or resource data associated with the event"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "x-ms-summary": "Created At",
          "description": "The timestamp when the event occurred"
        }
      },
      "description": "Webhook event payload from Fulcrum"
    }
  },
  "securityDefinitions": {
    "ApiToken": {
      "in": "header",
      "name": "X-ApiToken",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "ApiToken": []
    }
  ],
  "x-components": {},
  "x-readme": {
    "explorer-enabled": true,
    "headers": [],
    "proxy-enabled": true
  },
  "x-readme-fauxas": true,
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.fulcrumapp.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.fulcrumapp.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Data"
    }
  ]
}