{
  "swagger": "2.0",
  "info": {
    "title": "MOBSIM Send SMS",
    "description": "Communicate with your customers in an assertive and direct way using the \"MOBSIM - Send SMS\" Connector. SMS - with high delivery and opening rates - makes it possible to send promotional and transactional campaigns, alerts, reminders, notifications, invites and more, allowing for a complete experience with personalized messages and the convenience of scheduled deliveries to mobile phone users.",
    "version": "1.0"
  },
  "host": "mobsim-api.com.br",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/sms": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Send SMS",
        "description": "Send SMS messages through your MOBSIM account",
        "operationId": "SMS",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "groupId": {
                  "type": "string",
                  "description": "It is used to identify and group several distinct requests. Is required",
                  "title": "Group Id"
                },
                "groupMsg": {
                  "type": "string",
                  "description": "It is the message field that will be replicated to the items. It's optional.",
                  "title": "Group Msg"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "It is to identify the message and will be returned in delivery report. Is required.",
                        "title": "ID"
                      },
                      "code": {
                        "type": "string",
                        "description": "It is to identify the message. It's optional.",
                        "title": "Code"
                      },
                      "key1": {
                        "type": "string",
                        "description": "It is to identify the message. It's optional.",
                        "title": "Key"
                      },
                      "to": {
                        "type": "string",
                        "description": "Destination phone number. Is required.",
                        "title": "To"
                      },
                      "msg": {
                        "type": "string",
                        "description": "Text of the message to be sent to the end user. Is required.",
                        "title": "Message"
                      }
                    }
                  },
                  "description": "messages"
                }
              }
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mobsim.com.br/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.mobsim.com.br/politica-de-privacidade.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Technology"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": []
}
