{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Microsoft School Data Sync V2",
    "description": "Uploads CSV files to School Data Sync Version 2",
	"contact": {
      "name": "School Data Sync Support",
      "url": "https://aka.ms/sdssupport"
    }
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/delay/0": {},
    "/common/oauth2/token": {
      "post": {
        "summary": "Get Delegated Token",
        "description": "Get the Delegated Token to communicate with School Data Sync.",
        "operationId": "GetDelegatedToken",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/x-www-form-urlencoded",
            "description": "Content-Type",
            "x-ms-summary": "Delegated Token.",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
			"description": "The body of the request.",
            "x-ms-summary": "The request body.",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The token response.",
            "schema": {
              "type": "object",
              "properties": {
                "token_type": {
                  "type": "string",
                  "description": "token_type"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/sourceSystems": {},
    "/dataConnectors": {},
    "/dataConnectors('%7B%7BcreatedDataConnectorId%7D%7D')/microsoft.graph.industryData.azureDataLakeConnector/microsoft.graph.industryData.getUploadSession()": {},
    "/dataConnectors/%7B%7BcreatedDataConnectorId%7D%7D/validate()": {},
    "/": {
      "get": {
        "summary": "Check validation result",
        "description": "Check to see if the validation result of the uploaded CSV files returned errors.",
        "operationId": "CheckValidationResult",
        "parameters": [
          {
            "name": "ValidationOperationUri",
            "in": "query",
            "required": true,
            "type": "string",
			"description": "The uri of the validation operation.",
            "x-ms-summary": "The uri of the validation operation."
          },
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "type": "string",
			"description": "The access token.",
            "x-ms-summary": "The access token."
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/dataConnectors/%7B%7BcreatedDataConnectorId%7D%7D": {},
    "/sourceSystems/%7B%7BcreatedSourceSystemId%7D%7D": {},
    "/beta/external/industryData/dataConnectors('{createdDataConnectorId}')/microsoft.graph.industryData.azureDataLakeConnector/microsoft.graph.industryData.getUploadSession()": {
      "get": {
        "summary": "Call GetUploadSession",
        "description": "Get the session for the CSV file upload.",
        "operationId": "CallGetuploadsession",
        "parameters": [
          {
            "name": "createdDataConnectorId",
            "in": "path",
            "required": true,
            "type": "string",
			"description": "The created data connector id.",
            "x-ms-summary": "The created data connector id.",
			"x-ms-url-encoding": "single"
          },
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "type": "string",
			"description": "The access token.",
            "x-ms-summary": "The access token."
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/dataConnectors/{createdDataConnectorId}/validate()": {},
    "/api/industryData/v0.2-beta/industryData/operations/6c6f710d-8518-4a0f-1f76-08da871f4dec": {},
    "/dataConnectors/{createdDataConnectorId}": {},
    "/sourceSystems/{createdSourceSystemId}": {},
    "/beta/external/industryData/dataConnectors": {
      "get": {
        "summary": "Get DataConnector list",
        "description": "Get the DataConnector list.",
        "operationId": "GetDataconnectorList",
        "parameters": [
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "type": "string",
			"description": "The access token.",
            "x-ms-summary": "The access token."
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/{ValidationOperationUri}": {},
    "/beta/external/industryData/dataConnectors/{createdDataConnectorId}/validate()": {
      "post": {
        "summary": "Call Validate",
        "description": "Call the operation to validate the uploaded CSV files.",
        "operationId": "CallValidate",
        "parameters": [
          {
            "name": "createdDataConnectorId",
            "in": "path",
            "required": true,
            "type": "string",
			"description": "The created data connector id.",
            "x-ms-summary": "The created data connector id.",
			"x-ms-url-encoding": "single"
          },
          {
            "name": "access-token",
            "in": "header",
            "required": true,
            "type": "string",
			"description": "The access token.",
            "x-ms-summary": "The access token."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
			"description": "The accept header.",
            "x-ms-summary": "The accept header.",
            "default": "*/*",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/beta/external/industryData/dataConnectors('{createdDataConnectorId}')/microsoft.graph.industryData.validate": {},
    "/beta/external/industryData/dataConnectorsTest": {}
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://sds.microsoft.com/"
      },
	        {
        "propertyName": "Privacy policy",
        "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Data"
      }
    ]
}
