{
	"swagger": "2.0",
	"info": {
		"title": "Cornerstone Learning vILT",
		"version": "1.0",
		"description": "The custom connector streamlines vILT integration by leveraging customers' Azure AD tenant environments, ensuring data integrity and simplifying authentication. No external Graph API permissions are needed, enhancing security. This versatile connector facilitates low-code solutions for diverse scenarios. By incorporating this custom connector, the full potential of Microsoft Teams API in the case of MS Teams integration is unlocked seamlessly within customers' infrastructure.",
		"contact": {
			"name": "Cornerstone Support Central",
			"url": "https://www.cornerstoneondemand.com/community-and-support/",
			"email": "DL-TECH-CSXL-CSODSUPPORT-MSFT-CISCO@csod.com"
		}
	},
	"host": "us-qap.api.csod.com",
	"basePath": "/gts-vilt-azure-connector",
	"schemes": [
		"https"
	],
	"consumes": [],
	"produces": [],
	"paths": {
		"/subscribe/addInstructor": {
			"x-ms-notification-content": {
				"description": "Response to create instructor subscription",
				"schema": {
					"type": "object",
					"properties": {
						"email": {
							"type": "string",
							"description": "email"
						},
						"firstName": {
							"type": "string",
							"description": "firstName"
						},
						"lastName": {
							"type": "string",
							"description": "lastName"
						}
					}
				},
				"headers": {
					"CorrelationId": {
						"description": "CorrelationId",
						"type": "string"
					}
				}
			},
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Subscribe to create instructor",
				"operationId": "Create-instructor-subscribe",
				"description": "Subscribe to create instructor",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"callbackUrl": {
									"type": "string",
									"description": "callbackUrl",
									"title": "",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								}
							},
							"required": [
								"callbackUrl"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/subscribe/updateInstructor": {
			"x-ms-notification-content": {
				"description": "Response to update instructor subscription",
				"schema": {
					"type": "object",
					"properties": {
						"oldEmail": {
							"type": "string",
							"description": "oldEmail"
						},
						"newEmail": {
							"type": "string",
							"description": "newEmail"
						},
						"firstName": {
							"type": "string",
							"description": "firstName"
						},
						"lastName": {
							"type": "string",
							"description": "lastName"
						},
						"isActive": {
							"type": "boolean",
							"description": "isActive"
						}
					}
				},
				"headers": {
					"CorrelationId": {
						"description": "CorrelationId",
						"type": "string"
					}
				}
			},
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Subscribe to update instructor",
				"operationId": "Update-instructor-subscribe",
				"description": "Subscribe to update instructor",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"callbackUrl": {
									"type": "string",
									"description": "callbackUrl",
									"title": "",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								}
							},
							"required": [
								"callbackUrl"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/subscribe/createSession": {
			"x-ms-notification-content": {
				"description": "Response to create session subscription",
				"schema": {
					"type": "object",
					"properties": {
						"creatorEmail": {
							"type": "string",
							"description": "creatorEmail"
						},
						"title": {
							"type": "string",
							"description": "title"
						},
						"description": {
							"type": "string",
							"description": "description"
						},
						"dateBegin": {
							"type": "string",
							"description": "dateBegin"
						},
						"dateEnd": {
							"type": "string",
							"description": "dateEnd"
						},
						"timeZone": {
							"type": "object",
							"properties": {
								"UTCOffset": {
									"type": "string",
									"description": "UTCOffset"
								}
							}
						},
						"instructorEmails": {
							"type": "string",
							"description": "description"
						},
						"sessionId": {
							"type": "string",
							"description": "sessionId"
						},
						"loId": {
							"type": "string",
							"description": "loId"
						}
					}
				},
				"headers": {
					"CorrelationId": {
						"description": "CorrelationId",
						"type": "string"
					}
				}
			},
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Subscribe to create session",
				"operationId": "Create-session-subscribe",
				"description": "Subscribe to create session",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"callbackUrl": {
									"type": "string",
									"description": "callbackUrl",
									"title": "",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								}
							},
							"required": [
								"callbackUrl"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/subscribe/updateSession": {
			"x-ms-notification-content": {
				"description": "Response to update session subscription",
				"schema": {
					"type": "object",
					"properties": {
						"creatorEmail": {
							"type": "string",
							"description": "creatorEmail"
						},
						"title": {
							"type": "string",
							"description": "title"
						},
						"description": {
							"type": "string",
							"description": "description"
						},
						"dateBegin": {
							"type": "string",
							"description": "dateBegin"
						},
						"dateEnd": {
							"type": "string",
							"description": "dateEnd"
						},
						"timeZone": {
							"type": "object",
							"properties": {
								"UTCOffset": {
									"type": "string",
									"description": "UTCOffset"
								}
							}
						},
						"instructorEmails": {
							"type": "string",
							"description": "description"
						},
						"sessionId": {
							"type": "string",
							"description": "sessionId"
						},
						"loId": {
							"type": "string",
							"description": "loId"
						}
					}
				},
				"headers": {
					"CorrelationId": {
						"description": "CorrelationId",
						"type": "string"
					}
				}
			},
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Subscribe to update session",
				"operationId": "Update-session-subscribe",
				"description": "Subscribe to update session",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"callbackUrl": {
									"type": "string",
									"description": "callbackUrl",
									"title": "",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								}
							},
							"required": [
								"callbackUrl"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/subscribe/deleteSession": {
			"x-ms-notification-content": {
				"description": "Response to delete session subscription",
				"schema": {
					"type": "object",
					"properties": {
						"sessionId": {
							"type": "string",
							"description": "email"
						}
					}
				},
				"headers": {
					"CorrelationId": {
						"description": "CorrelationId",
						"type": "string"
					}
				}
			},
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Subscribe to delete session",
				"operationId": "Delete-session-subscribe",
				"description": "Subscribe to delete session",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"callbackUrl": {
									"type": "string",
									"description": "callbackUrl",
									"title": "",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								}
							},
							"required": [
								"callbackUrl"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/subscribe/launchSession": {
			"x-ms-notification-content": {
				"description": "Response to launch session subscription",
				"schema": {
					"type": "object",
					"properties": {
						"sessionId": {
							"type": "string",
							"description": "sessionId"
						},
						"base64EncodedEmail": {
							"type": "string",
							"description": "base64EncodedEmail"
						}
					}
				},
				"headers": {
					"CorrelationId": {
						"description": "CorrelationId",
						"type": "string"
					}
				}
			},
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Subscribe to launch session",
				"operationId": "Launch-session-subscribe",
				"description": "Subscribe to launch session",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"callbackUrl": {
									"type": "string",
									"description": "callbackUrl",
									"title": "",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								}
							},
							"required": [
								"callbackUrl"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/subscribe/getAttendance": {
			"x-ms-notification-content": {
				"description": "Response to get attendance subscription",
				"schema": {
					"type": "object",
					"properties": {
						"sessionId": {
							"type": "string",
							"description": "sessionId"
						}
					}
				},
				"headers": {
					"CorrelationId": {
						"description": "CorrelationId",
						"type": "string"
					}
				}
			},
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Subscribe to get attendance",
				"operationId": "Get-attendance-subscribe",
				"description": "Subscribe to get attendance",
				"x-ms-trigger": "single",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"callbackUrl": {
									"type": "string",
									"description": "callbackUrl",
									"title": "",
									"x-ms-notification-url": true,
									"x-ms-visibility": "internal"
								}
							},
							"required": [
								"callbackUrl"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/response/addInstuctor": {
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Respond to Add Instructor Event",
				"description": "Respond to Add Instructor Event",
				"operationId": "addInstructorResponse",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/ViltResponse"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/response/getAttendance": {
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Respond to Get Attendance Event",
				"description": "Respond to Get Attendance Event",
				"operationId": "getAttendanceResponse",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/GetAttendanceResponse"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/response/launchSession": {
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Respond to Launch Session Event",
				"description": "Respond to Launch Session Event",
				"operationId": "launchSessionResponse",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/LaunchSessionResponse"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/response/createSession": {
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Respond to Create Session Event",
				"description": "Respond to Create Session Event",
				"operationId": "createSessionResponse",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/SessionResponse"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/response/updateSession": {
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Respond to Update Session Event",
				"description": "Respond to Update Session Event",
				"operationId": "updateSessionResponse",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/SessionResponse"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/response/deleteSession": {
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Respond to Delete Session Event",
				"description": "Respond to Delete Session Event",
				"operationId": "deleteSessionResponse",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/ViltResponse"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/response/updateInstructor": {
			"post": {
				"tags": [
					"ViltAzureConnector"
				],
				"consumes": [
					"application/json",
					"text/plain"
				],
				"summary": "Respond to Update Instructor Event",
				"description": "Respond to Update Instructor Event",
				"operationId": "updateInstructorResponse",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/ViltResponse"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		}
	},
	"definitions": {
		"Attendees": {
			"description": "ViltConnectorGetAttendanceDataAttendees",
			"type": "object",
			"properties": {
				"email": {
					"description": "Email address of the attendee.",
					"type": "string"
				}
			},
			"additionalProperties": false
		},
		"GetAttendanceResponse": {
			"description": "ViltConnectorGetAttendanceData",
			"type": "object",
			"required": ["correlationId"],
			"properties": {
				"isSuccessful": {
					"type": "boolean"
				},
				"message": {
					"type": "string"
				},
				"correlationId": {
					"format": "uuid",
					"type": "string"
				},
				"attendees": {
					"description": "Gets or Sets Attendees",
					"type": "array",
					"items": {
						"$ref": "#/definitions/Attendees"
					}
				}
			},
			"additionalProperties": false
		},
		"LaunchSessionResponse": {
			"description": "ViltConnectorLaunchSessionData",
			"type": "object",
			"required": ["correlationId"],
			"properties": {
				"isSuccessful": {
					"type": "boolean"
				},
				"message": {
					"type": "string"
				},
				"correlationId": {
					"format": "uuid",
					"type": "string"
				},
				"joinUrl": {
					"description": "URL a user or instructor uses to launch the virtual meeting session",
					"type": "string"
				}
			},
			"additionalProperties": false
		},
		"SessionResponse": {
			"type": "object",
			"required": ["correlationId"],
			"properties": {
				"isSuccessful": {
					"type": "boolean"
				},
				"message": {
					"type": "string"
				},
				"correlationId": {
					"format": "uuid",
					"type": "string"
				},
				"corpId": {
					"type": "string"
				},
				"meetingId": {
					"type": "string"
				},			
				"start": {
					"format": "date-time",
					"type": "string"
				},
				"end": {
					"format": "date-time",
					"type": "string"
				},
				"hostEmail": {
					"type": "string"
				},
				"joinURL": {
					"type": "string"
				}			
			},
			"additionalProperties": false
		},		
		"ViltResponse": {
			"type": "object",
			"required": ["correlationId"],
			"properties": {
				"isSuccessful": {
					"type": "boolean"
				},
				"message": {
					"type": "string"
				},
				"correlationId": {
					"format": "uuid",
					"type": "string"
				}
			},
			"additionalProperties": false
		}
	},
	"parameters": {},
	"responses": {},
	"securityDefinitions": {},
	"security": [],
	"tags": [],
	"x-ms-connector-metadata": [
		{
			"propertyName": "Website",
			"propertyValue": "https://www.cornerstoneondemand.com/solutions/integrations-and-apis/ "
		},
		{
			"propertyName": "Privacy policy",
			"propertyValue": "https://www.cornerstoneondemand.com/client-privacy-policy/"
		},
		{
			"propertyName": "Categories",
			"propertyValue": "Collaboration;Security"
		}
	]
}