{
  "swagger": "2.0",
  "info": {
    "title": "Encodian",
    "description": "Enhanced document format conversion, OCR, watermarking, data extraction, redaction + much more. ",
    "termsOfService": "https://support.encodian.com/hc/en-gb/articles/360010642813-Terms-of-Service",
    "contact": {
      "name": "Encodian Support",
      "url": "https://support.encodian.com",
      "email": "support@encodian.com"
    },
    "license": {
      "name": "Requires an 'Encodian for Power Automate' subscription",
      "url": "https://www.encodian.com/products/encodian-for-microsoft-power-automate/"
    },
    "version": "v1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.encodian.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://support.encodian.com/hc/en-gb/articles/360010885513-Privacy-Policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Collaboration"
    }
  ],
  "host": "api.apps-encodian.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v1/Core/SetPdfPrivileges": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SetPdfPrivileges",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoSetPdfPrivileges",
            "schema": {
              "$ref": "#/definitions/DtoSetPdfPrivileges"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSecurePdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSecurePdf"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseSecurePdf"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "PDF - Set Privileges",
        "description": "Set the privledges assigned to the PDF document - https://support.encodian.com/hc/en-gb/articles/360011337094-Set-PDF-Document-Privileges"
      }
    },
    "/api/v1/Core/SignPdf": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SignPdf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "certificateTypeParameter",
            "description": "Set the certificate type",
            "type": "string",
            "enum": [
              "Standard",
              "Custom"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Certificate Type"
          },
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoSignPdf",
            "schema": {
              "$ref": "#/definitions/DtoSignPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSignPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSignPdf"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseSignPdf"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "PDF - Sign",
        "description": "Apply a digital signature to the PDF document provided - https://support.encodian.com/hc/en-gb/articles/7117159708189"
      }
    },
    "/api/v1/Core/SplitDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SplitDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoSplitDocument",
            "schema": {
              "$ref": "#/definitions/DtoSplitDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitDocument"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitDocument"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitDocument"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "PDF - Split",
        "description": "Split a PDF Document into multiple PDF Documents - https://support.encodian.com/hc/en-gb/articles/360002953277-Split-PDF"
      }
    },
    "/api/v1/Core/SplitPdfByBarcode": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SplitPdfByBarcode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoSplitPdfByBarcode",
            "schema": {
              "$ref": "#/definitions/DtoSplitPdfByBarcode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitPdfByBarcode"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitPdfByBarcode"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitPdfByBarcode"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "PDF - Split by Barcode",
        "description": "Split a PDF Document by Barcode, returning multiple PDF Documents - https://support.encodian.com/hc/en-gb/articles/360013629457-Split-PDF-by-Barcode"
      }
    },
    "/api/v1/Core/SplitPdfByText": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SplitPdfByText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoSplitPdfByText",
            "schema": {
              "$ref": "#/definitions/DtoSplitPdfByText"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitPdfByText"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitPdfByText"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitPdfByText"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "PDF - Split by Text",
        "description": "Split a PDF Document by text into multiple PDF Documents - https://support.encodian.com/hc/en-gb/articles/360012726397-Split-PDF-by-Text"
      }
    },
    "/api/v1/Core/UnlockPdfDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "UnlockPdfDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoUnlockPdf",
            "schema": {
              "$ref": "#/definitions/DtoUnlockPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseUnlockPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseUnlockPdf"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseUnlockPdf"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "PDF - Unlock",
        "description": "Decrypt and remove password protection from a PDF document - https://support.encodian.com/hc/en-gb/articles/360003714237-Unlock-PDF-Document"
      }
    },
    "/api/v1/Core/GetPdfFormData": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "GetPdfFormData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoGetPdfFormData",
            "schema": {
              "$ref": "#/definitions/DtoGetPdfFormData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfFormData"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfFormData"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfFormData"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "PDF - Extract Form Data",
        "description": "Extract PDF form data from a PDF Form - https://support.encodian.com/hc/en-gb/articles/360035107433-Get-PDF-Form-Data"
      }
    },
    "/api/v1/Core/FillPdfForm": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "FillPdfForm",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoFillPdfForm",
            "schema": {
              "$ref": "#/definitions/DtoFillPdfForm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseFillPdfForm"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseFillPdfForm"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseFillPdfForm"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "PDF - Fill Form",
        "description": "Fill the PDF Form provided with the JSON data provided - https://support.encodian.com/hc/en-gb/articles/360008556077-Fill-a-PDF-Form"
      }
    },
    "/api/v1/Core/PopulateExcel": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "PopulateExcel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoPopulateExcel",
            "schema": {
              "$ref": "#/definitions/DtoPopulateExcel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponsePopulateExcel"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponsePopulateExcel"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponsePopulateExcel"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Populate - Excel",
        "description": "Populate a Microsoft Excel workbook (XLSX) with the JSON data provided - https://support.encodian.com/hc/en-gb/articles/12736409527324"
      }
    },
    "/api/v1/Core/PopulatePowerPoint": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "PopulatePowerPoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoPopulatePowerPoint",
            "schema": {
              "$ref": "#/definitions/DtoPopulatePowerPoint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponsePopulatePowerPoint"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponsePopulatePowerPoint"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponsePopulatePowerPoint"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Populate - PowerPoint",
        "description": "Populate a Microsoft PowerPoint file (PPTX) with the JSON data provided - https://support.encodian.com/hc/en-gb/articles/9715390966300"
      }
    },
    "/api/v1/Core/PopulateWordDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "PopulateWordDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoPopulateWordDocument",
            "schema": {
              "$ref": "#/definitions/DtoPopulateWordDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponsePopulateWordDocument"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponsePopulateWordDocument"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponsePopulateWordDocument"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Populate - Word",
        "description": "Populate a Microsoft Word Document (DOCX) with the JSON data provided - https://support.encodian.com/hc/en-gb/articles/360019620578-Populate-Word-Document"
      }
    },
    "/api/v1/Core/CompressPowerPoint": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CompressPowerPoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoCompressPowerPoint",
            "schema": {
              "$ref": "#/definitions/DtoCompressPowerPoint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCompressPowerPoint"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCompressPowerPoint"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseCompressPowerPoint"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "PowerPoint - Compress",
        "description": "Compress the PowerPoint file provided - https://support.encodian.com/hc/en-gb/articles/7621965500189"
      }
    },
    "/api/v1/Core/AddHtmlHeaderFooterWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddHtmlHeaderFooterWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoAddHtmlHeaderFooterWord",
            "schema": {
              "$ref": "#/definitions/DtoAddHtmlHeaderFooterWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddHtmlHeaderFooterWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddHtmlHeaderFooterWord"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddHtmlHeaderFooterWord"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Add Headers and Footers",
        "description": "Add HTML headers and/or footers to the Microsoft Word document provided - https://support.encodian.com/hc/en-gb/articles/11348579020572"
      }
    },
    "/api/v1/Core/AddImageWatermarkWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddImageWatermarkWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoAddImageWatermarkWord",
            "schema": {
              "$ref": "#/definitions/DtoAddImageWatermarkWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddImageWatermarkWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddImageWatermarkWord"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddImageWatermarkWord"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Add Image Watermark",
        "description": "Add an image watermark to the specified Microsoft Word document - https://support.encodian.com/hc/en-gb/articles/4411329161361"
      }
    },
    "/api/v1/Core/AddTextWatermarkWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddTextWatermarkWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoAddTextWatermarkWord",
            "schema": {
              "$ref": "#/definitions/DtoAddTextWatermarkWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddTextWatermarkWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddTextWatermarkWord"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddTextWatermarkWord"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Add Text Watermark",
        "description": "Add a text watermark to the specified Microsoft Word document - https://support.encodian.com/hc/en-gb/articles/4411284008593"
      }
    },
    "/api/v1/Core/CompareWordDocuments": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CompareWordDocuments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoCompareWordDocuments",
            "schema": {
              "$ref": "#/definitions/DtoCompareWordDocuments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCompareWordDocuments"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCompareWordDocuments"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseCompareWordDocuments"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Compare",
        "description": "Compare differences between Microsoft Word Documents - https://support.encodian.com/hc/en-gb/articles/360018576278-Compare-Word-Documents"
      }
    },
    "/api/v1/Core/DisableTrackedChanges": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "DisableTrackedChanges",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoDisableTrackedChanges",
            "schema": {
              "$ref": "#/definitions/DtoDisableTrackedChanges"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseDisableTrackedChanges"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseDisableTrackedChanges"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseDisableTrackedChanges"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Disable Tracked Changes",
        "description": "Disable tracked changes on the Microsoft Word document provided - https://support.encodian.com/hc/en-gb/articles/6695370804125"
      }
    },
    "/api/v1/Core/EnableTrackedChanges": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "EnableTrackedChanges",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoEnableTrackedChanges",
            "schema": {
              "$ref": "#/definitions/DtoEnableTrackedChanges"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseEnableTrackedChanges"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseEnableTrackedChanges"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseEnableTrackedChanges"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Enable Tracked Changes",
        "description": "Enable tracked changes on the Microsoft Word document provided - https://support.encodian.com/hc/en-gb/articles/6695385009053"
      }
    },
    "/api/v1/Core/GetTextFromWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "GetTextFromWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoGetTextFromWord",
            "schema": {
              "$ref": "#/definitions/DtoGetTextFromWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetTextFromWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetTextFromWord"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetTextFromWord"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Extract Text",
        "description": "Extract text contained within the Microsoft Word file provided - https://support.encodian.com/hc/en-gb/articles/10583756977180"
      }
    },
    "/api/v1/Core/GetTrackedChanges": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "GetTrackedChanges",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoGetTrackedChanges",
            "schema": {
              "$ref": "#/definitions/DtoGetTrackedChanges"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetTrackedChanges"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetTrackedChanges"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetTrackedChanges"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Extract Tracked Changes",
        "description": "Extract all the tracked changes (Revisions and comments) for the Microsoft Word document provided - https://support.encodian.com/hc/en-gb/articles/6634950400669"
      }
    },
    "/api/v1/Core/ManageTrackedChanges": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ManageTrackedChanges",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoManageTrackedChanges",
            "schema": {
              "$ref": "#/definitions/DtoManageTrackedChanges"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseManageTrackedChanges"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseManageTrackedChanges"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseManageTrackedChanges"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Manage Tracked Changes",
        "description": "Process Tracked Changes within the Microsoft Word document provided - https://support.encodian.com/hc/en-gb/articles/10074318228765"
      }
    },
    "/api/v1/Core/RemoveHeaderFooterWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "RemoveHeaderFooterWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoRemoveHeaderFooterWord",
            "schema": {
              "$ref": "#/definitions/DtoRemoveHeaderFooterWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseRemoveHeaderFooterWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseRemoveHeaderFooterWord"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseRemoveHeaderFooterWord"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Remove Headers and Footers",
        "description": "Remove headers and/or footers from the Microsoft Word document provided - https://support.encodian.com/hc/en-gb/articles/11349707504540"
      }
    },
    "/api/v1/Core/RemoveWatermarksFromWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "RemoveWatermarksFromWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoRemoveWatermarkFromWord",
            "schema": {
              "$ref": "#/definitions/DtoRemoveWatermarksFromWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseRemoveWatermarksFromWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseRemoveWatermarksFromWord"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseRemoveWatermarksFromWord"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Remove Watermark",
        "description": "Remove the watermark from the Word file provided - https://support.encodian.com/hc/en-gb/articles/7752587767965"
      }
    },
    "/api/v1/Core/SecureWordDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SecureWordDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoSecureWord",
            "schema": {
              "$ref": "#/definitions/DtoSecureWordDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSecureWordDocument"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSecureWordDocument"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseSecureWordDocument"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Secure",
        "description": "Secure and protect a Microsoft Word document - https://support.encodian.com/hc/en-gb/articles/6634150180253"
      }
    },
    "/api/v1/Core/SplitWordDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SplitWordDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoSplitWordDocument",
            "schema": {
              "$ref": "#/definitions/DtoSplitWordDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitWordDocument"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitWordDocument"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitWordDocument"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Split",
        "description": "Split the Microsoft Word document provided - https://support.encodian.com/hc/en-gb/articles/14575340646940"
      }
    },
    "/api/v1/Core/SearchAndReplaceHyperlink": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SearchAndReplaceHyperlink",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoSearchAndReplaceHyperlink",
            "schema": {
              "$ref": "#/definitions/DtoSearchAndReplaceHyperlink"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSearchAndReplaceHyperlink"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSearchAndReplaceHyperlink"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseSearchAndReplaceHyperlink"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Update Hyperlinks",
        "description": "Find and update hyperlinks contained within a Microsoft Word document - https://support.encodian.com/hc/en-gb/articles/7136687719837"
      }
    },
    "/api/v1/Core/UpdateWordTableOfContents": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "UpdateWordTableOfContents",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoUpdateWordTableOfContents",
            "schema": {
              "$ref": "#/definitions/DtoUpdateWordTableOfContents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseUpdateWordTableOfContents"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseUpdateWordTableOfContents"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseUpdateWordTableOfContents"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Word - Update Table of Contents",
        "description": "Update the 'Table of Contents' in the Microsoft Word document provided - https://support.encodian.com/hc/en-gb/articles/10594864447260"
      }
    },
    "/api/v1/Core/AITranslateText": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AITranslateText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoAITranslateText",
            "schema": {
              "$ref": "#/definitions/DtoAITranslateText"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateText"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateText"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateText"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateText"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "AI - Translate Text (Single)",
        "description": "Translate the text provided into a single designated language - https://support.encodian.com/hc/en-gb/articles/13568846675996"
      }
    },
    "/api/v1/Core/AITranslateTextMultiple": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AITranslateTextMultiple",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoAITranslateTextMultiple",
            "schema": {
              "$ref": "#/definitions/DtoAITranslateTextMultiple"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateTextMultiple"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateTextMultiple"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateTextMultiple"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateTextMultiple"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "AI - Translate Text (Multiple)",
        "description": "Translate the text provided into multiple designated languages - https://support.encodian.com/hc/en-gb/articles/13670267593628"
      }
    },
    "/api/v1/Core/AITranslateFile": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AITranslateFile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoAITranslateFile",
            "schema": {
              "$ref": "#/definitions/DtoAITranslateFile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateFile"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateFile"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateFile"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/DtoResponseAITranslateFile"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "AI - Translate File",
        "description": "Translate the file provided into the designated language - https://support.encodian.com/hc/en-gb/articles/13790274285724"
      }
    },
    "/api/v1/Core/CreateHashCode": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CreateHashCode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoCreateHashCode",
            "schema": {
              "$ref": "#/definitions/DtoCreateHashCode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateHashCode"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateHashCode"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateHashCode"
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Deprecated - Create Hash Code",
        "description": "Create a hashcode for the string provided - https://support.encodian.com/hc/en-gb/articles/360013996077-Create-Hash-Code"
      }
    },
    "/api/v1/Core/CreateHMAC": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CreateHMAC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoCreateHMAC",
            "schema": {
              "$ref": "#/definitions/DtoCreateHMAC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateHMAC"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateHMAC"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateHMAC"
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Deprecated - Create HMAC",
        "description": "Create a Hash-based message authentication code (HMAC) using a secret key - https://support.encodian.com/hc/en-gb/articles/360012782058-Create-HMAC"
      }
    },
    "/api/v1/Core/RegexSearchText": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "RegexSearchText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoRegexSearchText",
            "schema": {
              "$ref": "#/definitions/DtoRegexSearchText"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseRegexSearchText"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseRegexSearchText"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseRegexSearchText"
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Deprecated - Search Text - Regex",
        "description": "Search the text provided to find matches using the regex provided - https://support.encodian.com/hc/en-gb/articles/360006764638-Search-Text-Regex"
      }
    },
    "/api/v1/Core/AddToZip": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddToZip",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoZipArrayOfDocuments",
            "schema": {
              "$ref": "#/definitions/DtoZipArrayOfDocuments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseZipArrayOfDocuments"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseZipArrayOfDocuments"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseZipArrayOfDocuments"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Archive (ZIP) - Create",
        "description": "Add the files provided to an archive (.zip) file - https://support.encodian.com/hc/en-gb/articles/360002674918-Add-to-Archive-ZIP"
      }
    },
    "/api/v1/Core/ExtractFromArchive": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ExtractFromArchive",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoExtractFromArchive",
            "schema": {
              "$ref": "#/definitions/DtoExtractFromArchive"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractFromArchive"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractFromArchive"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractFromArchive"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Archive (ZIP) - Extract",
        "description": "Extract files from the archive provided (ZIP, GZip, RAR, TAR, 7Zip + more) - https://support.encodian.com/hc/en-gb/articles/11853992723484"
      }
    },
    "/api/v1/Core/CreateBarcode": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CreateBarcode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "barcodeTypeParameter",
            "description": "Set the barcode type",
            "type": "string",
            "enum": [
              "AustraliaPost",
              "Aztec",
              "Codabar",
              "CodablockF",
              "Code11",
              "Code39Standard",
              "Code39Extended",
              "Code128",
              "Code16K",
              "DatabarExpanded",
              "DatabarExpandedStacked",
              "DatabarLimited",
              "DatabarOmniDirectional",
              "DatabarStacked",
              "DatabarStackedOmniDirectional",
              "DatabarTruncated",
              "DataMatrix",
              "DotCode",
              "EAN8",
              "EAN13",
              "GS1Code128",
              "GS1CodablockF",
              "Interleaved2of5",
              "ISBN",
              "ISMN",
              "ISSN",
              "ITF6",
              "ITF14",
              "MaxiCode",
              "Pdf417",
              "Planet",
              "Postnet",
              "Standard2of5",
              "UPCA",
              "UpcaGs1Code128Coupon",
              "UpcaGs1DatabarCoupon",
              "UPCE"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Barcode Type"
          },
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoResponseCreateBarcode",
            "schema": {
              "$ref": "#/definitions/DtoCreateBarcode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateBarcode"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateBarcode"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateBarcode"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Barcode - Create",
        "description": "Create a Barcode in the specified image format - https://support.encodian.com/hc/en-gb/articles/360006165457-Create-Barcode"
      }
    },
    "/api/v1/Core/ReadBarcodeFromDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ReadBarcodeFromDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoReadBarcodeFromDocument",
            "schema": {
              "$ref": "#/definitions/DtoReadBarcodeFromDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromDocument"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromDocument"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromDocument"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Barcode - Read from Document",
        "description": "Read barcode(s) from the document provided - https://support.encodian.com/hc/en-gb/articles/360006170938-Read-Barcode-Document"
      }
    },
    "/api/v1/Core/ReadBarcodeFromImage": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ReadBarcodeFromImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoReadBarcodeFromImage",
            "schema": {
              "$ref": "#/definitions/DtoReadBarcodeFromImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromImage"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromImage"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromImage"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Barcode - Read from Image",
        "description": "Read a barcode from the image provided - https://support.encodian.com/hc/en-gb/articles/360006170918-Read-Barcode-Image"
      }
    },
    "/api/v1/Core/CreateQrCode": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CreateQrCode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoCreateQrCode",
            "schema": {
              "$ref": "#/definitions/DtoCreateQrCode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateQrCode"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateQrCode"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateQrCode"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "QR Code - Create",
        "description": "Create a QR code in the specified image format - https://support.encodian.com/hc/en-gb/articles/360005178237-Create-QR-Code"
      }
    },
    "/api/v1/Core/ReadQrCodeFromDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ReadQrCodeFromDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoReadQrCodeFromDocument",
            "schema": {
              "$ref": "#/definitions/DtoReadQrCodeFromDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromDocument"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromDocument"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromDocument"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "QR Code - Read from Document",
        "description": "Read a QR code(s) from the document provided - https://support.encodian.com/hc/en-gb/articles/360006165437-Read-QR-Code-Document"
      }
    },
    "/api/v1/Core/ReadQrCodeFromImage": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ReadQrCodeFromImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoReadQrCodeFromImage",
            "schema": {
              "$ref": "#/definitions/DtoReadQrCodeFromImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromImage"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromImage"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromImage"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "QR Code - Read from Image",
        "description": "Read a QR code from the image provided - https://support.encodian.com/hc/en-gb/articles/360006170898-Read-QR-Code-Image"
      }
    },
    "/api/v1/Core/ConvertCad": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertCad",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "outputFormatParameter",
            "description": "Set the output file type",
            "type": "string",
            "enum": [
              "PDF",
              "BMP",
              "GIF",
              "JPG",
              "PNG",
              "TIFF"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Output Format"
          },
          {
            "in": "body",
            "name": "conversion",
            "description": "Request object, refer to schema definition: DtoConvertCad",
            "schema": {
              "$ref": "#/definitions/DtoConvertCad"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertCad"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertCad"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertCad"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - CAD",
        "description": "Convert CAD files to another document format - https://support.encodian.com/hc/en-gb/articles/4542607350417"
      }
    },
    "/api/v1/Core/ConvertMailMessage": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertMailMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "conversion",
            "description": "Request object, refer to schema definition: DtoConvertMailMessage",
            "schema": {
              "$ref": "#/definitions/DtoConvertMailMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertMailMessage"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertMailMessage"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertMailMessage"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - Email",
        "description": "Convert an email and attachments to a single PDF document - https://support.encodian.com/hc/en-gb/articles/360011566298-Convert-Mail-Message"
      }
    },
    "/api/v1/Core/ConvertExcel": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertExcel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "outputFormatParameter",
            "description": "Set the output file type",
            "type": "string",
            "enum": [
              "PDF",
              "HTML",
              "CSV",
              "TXT",
              "XLSX",
              "XLS",
              "XLTX",
              "PNG",
              "TIFF"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Output Format"
          },
          {
            "in": "body",
            "name": "conversion",
            "description": "Request object, refer to schema definition: DtoConvertExcel",
            "schema": {
              "$ref": "#/definitions/DtoConvertExcel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertExcel"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertExcel"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertExcel"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - Excel",
        "description": "Convert Microsoft Excel documents to another document format - https://support.encodian.com/hc/en-gb/articles/360011804178-Convert-Excel"
      }
    },
    "/api/v1/Core/BasicConversion": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "BasicConversion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "conversion",
            "description": "Request object, refer to schema definition: DtoBasicConversion",
            "schema": {
              "$ref": "#/definitions/DtoBasicConversion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseBasicConversion"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseBasicConversion"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseBasicConversion"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - File to PDF",
        "description": "Convert a document to PDF or PDF/A format - https://support.encodian.com/hc/en-gb/articles/360011123574-Convert-to-PDF"
      }
    },
    "/api/v1/Core/HtmlToPDF": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "HtmlToPDF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoHtmlToPdf",
            "schema": {
              "$ref": "#/definitions/DtoHtmlToPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseHtmlToPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseHtmlToPdf"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseHtmlToPdf"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - HTML to PDF",
        "description": "Convert the HTML or Web URL provided to a PDF document - https://support.encodian.com/hc/en-gb/articles/360022205154-Convert-HTML-to-PDF"
      }
    },
    "/api/v1/Core/HtmlToWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "HtmlToWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoHtmlToWord",
            "schema": {
              "$ref": "#/definitions/DtoHtmlToWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseHtmlToWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseHtmlToWord"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseHtmlToWord"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - HTML to Word",
        "description": "Convert the HTML or Web URL provided to a Microsoft Word document - https://support.encodian.com/hc/en-gb/articles/360011823213-Convert-HTML-to-Word"
      }
    },
    "/api/v1/Core/ConvertJsonToExcel": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertJsonToExcel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoConvertJsonToExcel",
            "schema": {
              "$ref": "#/definitions/DtoConvertJsonToExcel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertJsonToExcel"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertJsonToExcel"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertJsonToExcel"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - JSON to Excel",
        "description": "Convert JSON into a Microsft Excel file - https://support.encodian.com/hc/en-gb/articles/7690520790045"
      }
    },
    "/api/v1/Core/ConvertPdfToImages": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertPdfToImages",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoConvertPdfToImages",
            "schema": {
              "$ref": "#/definitions/DtoConvertPdfToImages"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToImages"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToImages"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToImages"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - PDF to Images",
        "description": "Convert a PDF document into an array of images (PNG or JPG) - https://support.encodian.com/hc/en-gb/articles/4418101623441"
      }
    },
    "/api/v1/Core/ConvertPdfToJpg": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertPdfToJpg",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoConvertPdfToJpg",
            "schema": {
              "$ref": "#/definitions/DtoConvertPdfToJpg"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToJpg"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToJpg"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToJpg"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - PDF to JPG",
        "description": "Convert a PDF document to a JPG - https://support.encodian.com/hc/en-gb/articles/11096881397277"
      }
    },
    "/api/v1/Core/ConvertToPdfA": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertToPdfA",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoConvertToPdfA",
            "schema": {
              "$ref": "#/definitions/DtoConvertToPdfA"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertToPdfA"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertToPdfA"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertToPdfA"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - PDF to PDFA",
        "description": "Convert a PDF document to PDF/A format - https://support.encodian.com/hc/en-gb/articles/360010578413-Convert-PDF-to-PDFA"
      }
    },
    "/api/v1/Core/ConvertPdfToPng": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertPdfToPng",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoConvertPdfToPng",
            "schema": {
              "$ref": "#/definitions/DtoConvertPdfToPng"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToPng"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToPng"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToPng"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - PDF to PNG",
        "description": "Convert a PDF document to a PNG - https://support.encodian.com/hc/en-gb/articles/10086003836701"
      }
    },
    "/api/v1/Core/ConvertPdfToTiff": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertPdfToTiff",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoConvertPdfToTiff",
            "schema": {
              "$ref": "#/definitions/DtoConvertPdfToTiff"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToTiff"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToTiff"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToTiff"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - PDF to TIFF",
        "description": "Convert a PDF document to TIFF (tiff) format - https://support.encodian.com/hc/en-gb/articles/4418024925457"
      }
    },
    "/api/v1/Core/ConvertPdfToWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertPdfToWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoConvertPdfToWord",
            "schema": {
              "$ref": "#/definitions/DtoConvertPdfToWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToWord"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToWord"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - PDF to Word",
        "description": "Convert a PDF document to Microsoft Word (docx) format - https://support.encodian.com/hc/en-gb/articles/360027229294-Convert-PDF-to-Word"
      }
    },
    "/api/v1/Core/ConvertPowerPoint": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertPowerPoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "outputFormatParameter",
            "description": "Set the output file type",
            "type": "string",
            "enum": [
              "PDF",
              "HTML",
              "POTX",
              "PPTX",
              "TXT",
              "PNG",
              "TIFF"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Output Format"
          },
          {
            "in": "body",
            "name": "conversion",
            "description": "Request object, refer to schema definition: DtoConvertPowerPoint",
            "schema": {
              "$ref": "#/definitions/DtoConvertPowerPoint"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPowerPoint"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPowerPoint"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPowerPoint"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - PowerPoint",
        "description": "Convert Microsoft PowerPoint documents to another document format - https://support.encodian.com/hc/en-gb/articles/360015879777-Convert-PowerPoint"
      }
    },
    "/api/v1/Core/TextToPDF": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "TextToPDF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoTextToPdf",
            "schema": {
              "$ref": "#/definitions/DtoTextToPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseTextToPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseTextToPdf"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseTextToPdf"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - Text to PDF",
        "description": "Convert the text provided to a PDF document - https://support.encodian.com/hc/en-gb/articles/360011683054-Convert-Text-to-PDF"
      }
    },
    "/api/v1/Core/ConvertVisio": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertVisio",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "outputFormatParameter",
            "description": "Set the output file type",
            "type": "string",
            "enum": [
              "PDF",
              "BMP",
              "GIF",
              "HTML",
              "JPG",
              "PNG",
              "SVG",
              "TIFF",
              "VSDX"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Output Format"
          },
          {
            "in": "body",
            "name": "conversion",
            "description": "Request object, refer to schema definition: DtoConvertVisio",
            "schema": {
              "$ref": "#/definitions/DtoConvertVisio"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertVisio"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertVisio"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertVisio"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - Visio",
        "description": "Convert Microsoft Visio documents to another document format - https://support.encodian.com/hc/en-gb/articles/5306216347665"
      }
    },
    "/api/v1/Core/ConvertWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "outputFormatParameter",
            "description": "Set the output file type",
            "type": "string",
            "enum": [
              "PDF",
              "DOCX",
              "DOC",
              "DOTX",
              "RTF",
              "HTML",
              "TXT",
              "PNG",
              "TIFF"
            ],
            "x-ms-visibility": "important",
            "x-ms-summary": "Output Format"
          },
          {
            "in": "body",
            "name": "conversion",
            "description": "Request object, refer to schema definition: DtoConvertWord",
            "schema": {
              "$ref": "#/definitions/DtoConvertWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertWord"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertWord"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - Word",
        "description": "Convert Microsoft Word documents to another document format - https://support.encodian.com/hc/en-gb/articles/360015616117-Convert-Word"
      }
    },
    "/api/v1/Core/WordToPdfForm": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "WordToPdfForm",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoWordToPdfForm",
            "schema": {
              "$ref": "#/definitions/DtoWordToPdfForm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseWordToPdfForm"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseWordToPdfForm"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseWordToPdfForm"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert - Word to PDF Form",
        "description": "Convert the Word document provided (Legacy Form Controls Only) to a PDF form document - https://support.encodian.com/hc/en-gb/articles/360012307133-Convert-Word-to-PDF-Form"
      }
    },
    "/api/v1/Core/ParseCsv": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ParseCsv",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoParseCsv",
            "schema": {
              "$ref": "#/definitions/DtoParseCsv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseParseCsv"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseParseCsv"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseParseCsv"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "CSV - Parse",
        "description": "Parse CSV and return the extracted data in JSON format - https://support.encodian.com/hc/en-gb/articles/360005177297-Parse-CSV"
      }
    },
    "/api/v1/Core/AddRowsToExcel": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddRowsToExcel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoAddRowsToExcel",
            "schema": {
              "$ref": "#/definitions/DtoAddRowsToExcel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddRowsToExcel"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddRowsToExcel"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddRowsToExcel"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Excel - Add Rows",
        "description": "Add rows to the Excel file provided - https://support.encodian.com/hc/en-gb/articles/11551842583581"
      }
    },
    "/api/v1/Core/ExcelWatermarkText": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ExcelWatermarkText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoExcelWatermarkText",
            "schema": {
              "$ref": "#/definitions/DtoExcelWatermarkText"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseExcelWatermarkText"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseExcelWatermarkText"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseExcelWatermarkText"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Excel - Add Text Watermark",
        "description": "Add a text watermark to a Microsoft Excel file - https://support.encodian.com/hc/en-gb/articles/14428316059420"
      }
    },
    "/api/v1/Core/DeleteRowsFromExcel": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "DeleteRowsFromExcel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoDeleteRowsFromExcel",
            "schema": {
              "$ref": "#/definitions/DtoDeleteRowsFromExcel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseDeleteRowsFromExcel"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseDeleteRowsFromExcel"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseDeleteRowsFromExcel"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Excel - Delete Rows",
        "description": "Delete rows from the Excel file provided - https://support.encodian.com/hc/en-gb/articles/9936160309148"
      }
    },
    "/api/v1/Core/DeleteExcelWorksheets": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "DeleteExcelWorksheets",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoDeleteExcelWorksheets",
            "schema": {
              "$ref": "#/definitions/DtoDeleteExcelWorksheets"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseDeleteExcelWorksheets"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseDeleteExcelWorksheets"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseDeleteExcelWorksheets"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Excel - Delete Worksheets",
        "description": "Delete specified worksheets from the Excel file provided - https://support.encodian.com/hc/en-gb/articles/13233342312220"
      }
    },
    "/api/v1/Core/GetRowsFromExcel": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "GetRowsFromExcel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoGetRowsFromExcel",
            "schema": {
              "$ref": "#/definitions/DtoGetRowsFromExcel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetRowsFromExcel"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetRowsFromExcel"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetRowsFromExcel"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Excel - Extract Rows",
        "description": "Extract rows from the Excel file provided - https://support.encodian.com/hc/en-gb/articles/9390845334172"
      }
    },
    "/api/v1/Core/ExtractExcelWorksheets": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ExtractExcelWorksheets",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoResponseExtractExcelWorksheets",
            "schema": {
              "$ref": "#/definitions/DtoExtractExcelWorksheets"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractExcelWorksheets"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractExcelWorksheets"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractExcelWorksheets"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Excel - Extract Worksheets",
        "description": "Extract specified worksheets from the Excel file provided - https://support.encodian.com/hc/en-gb/articles/13230802892316"
      }
    },
    "/api/v1/Core/MergeExcelRows": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "MergeExcelRows",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoMergeExcelFileContent",
            "schema": {
              "$ref": "#/definitions/DtoMergeExcelRows"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseMergeExcelRows"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseMergeExcelRows"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DtoResponseMergeExcelRows"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Excel - Merge Rows",
        "description": "Merge the rows contained within Excel files provided into a single worksheet - https://support.encodian.com/hc/en-gb/articles/11345445953820"
      }
    },
    "/api/v1/Core/ExcelWatermarkTextRemove": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ExcelWatermarkTextRemove",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object, refer to schema definition: DtoExcelWatermarkTextRemove",
            "schema": {
              "$ref": "#/definitions/DtoExcelWatermarkTextRemove"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseExcelWatermarkTextRemove"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseExcelWatermarkTextRemove"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
[...]
