{
  "swagger": "2.0",
  "info": {
    "version": "v1.0",
    "title": "Encodian",
    "description": "Enhanced document format conversion, OCR, watermarking, data extraction, redaction + much more. ",
    "termsOfService": "https://support.encodian.com/hc/en-gb/articles/360010642813-Terms-of-Service",
    "contact": {
      "name": "Encodian Support",
      "url": "https://support.encodian.com",
      "email": "support@encodian.com"
    },
    "license": {
      "name": "Requires an 'Encodian for Power Automate' subscription",
      "url": "https://www.encodian.com/products/encodian-for-microsoft-power-automate/"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.encodian.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://support.encodian.com/hc/en-gb/articles/360010885513-Privacy-Policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Collaboration"
    }
  ],
  "host": "api.apps-encodian.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v1/Core/BasicConversion": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "BasicConversion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "conversion",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoBasicConversion",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoBasicConversion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseBasicConversion"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseBasicConversion"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert to PDF",
        "description": "Convert a document to PDF or PDF/A format - https://support.encodian.com/hc/en-gb/articles/360011123574-Convert-to-PDF"
      }
    },
    "/api/v1/Core/ConvertToPdfA": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertToPdfA",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoConvertToPdfA",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoConvertToPdfA"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertToPdfA"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertToPdfA"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert PDF to PDFA",
        "description": "Convert a PDF document to PDF/A format - https://support.encodian.com/hc/en-gb/articles/360010578413-Convert-PDF-to-PDFA"
      }
    },
    "/api/v1/Core/SecurePdfDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SecurePdfDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoSecurePdf",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoSecurePdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSecurePdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSecurePdf"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Secure PDF Document",
        "description": "Encrypt and protect a PDF document - https://support.encodian.com/hc/en-gb/articles/360011330134-Secure-PDF-Document"
      }
    },
    "/api/v1/Core/SetPdfPrivileges": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SetPdfPrivileges",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoSetPdfPrivileges",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoSetPdfPrivileges"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSecurePdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSecurePdf"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Set PDF Document Privileges",
        "description": "Set the privledges assigned to the PDF document - https://support.encodian.com/hc/en-gb/articles/360011337094-Set-PDF-Document-Privileges"
      }
    },
    "/api/v1/Core/TextToPDF": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "TextToPDF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoTextToPdf",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoTextToPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseTextToPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseTextToPdf"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert Text to PDF",
        "description": "Convert the text provided to a PDF document - https://support.encodian.com/hc/en-gb/articles/360011683054-Convert-Text-to-PDF"
      }
    },
    "/api/v1/Core/HtmlToPDF": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "HtmlToPDF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoHtmlToPdf",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoHtmlToPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseHtmlToPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseHtmlToPdf"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert HTML to PDF",
        "description": "Convert the HTML or Web URL provided to a PDF document - https://support.encodian.com/hc/en-gb/articles/360022205154-Convert-HTML-to-PDF"
      }
    },
    "/api/v1/Core/HtmlToWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "HtmlToWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoHtmlToWord",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoHtmlToWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseHtmlToWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseHtmlToWord"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert HTML to Word",
        "description": "Convert the HTML or Web URL provided to a Microsoft Word document - https://support.encodian.com/hc/en-gb/articles/360011823213-Convert-HTML-to-Word"
      }
    },
    "/api/v1/Core/InsertHtmlToPdf": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "InsertHtmlToPdf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoInsertHtmlToPdf",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoInsertHtmlToPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseInsertHtmlToPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseInsertHtmlToPdf"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Insert HTML to PDF",
        "description": "Insert the HTML provided into a PDF document - https://support.encodian.com/hc/en-gb/articles/360011784354-Insert-HTML-to-PDF"
      }
    },
    "/api/v1/Core/MergeDocumentsToPdf": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "MergeDocumentsToPdf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoMergeDocumentsToPdf",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoMergeDocumentsToPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseMergeDocumentsToPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseMergeDocumentsToPdf"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Merge documents to PDF",
        "description": "Convert and merge the documents provided to a single PDF document - https://support.encodian.com/hc/en-gb/articles/360011886173-Merge-documents-to-PDF"
      }
    },
    "/api/v1/Core/MergeArrayOfDocumentsToPdf": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "MergeArrayOfDocumentsToPdf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoMergeArrayOfDocumentsToPdf",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoMergeArrayOfDocumentsToPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseMergeArrayOfDocumentsToPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseMergeArrayOfDocumentsToPdf"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Merge document array to PDF",
        "description": "Convert and merge an array of documents to a single PDF document - https://support.encodian.com/hc/en-gb/articles/360014632213-Merge-document-array-to-PDF"
      }
    },
    "/api/v1/Core/MergeArrayOfDocumentsToWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "MergeArrayOfDocumentsToWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoMergeArrayOfDocumentsToWord",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoMergeArrayOfDocumentsToWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseMergeArrayOfDocumentsToWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseMergeArrayOfDocumentsToWord"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Merge Word Documents",
        "description": "Merge an array of Microsoft Word documents to a single Microsoft Word document (DOCX) - https://support.encodian.com/hc/en-gb/articles/360023972213-Merge-document-array-to-Word"
      }
    },
    "/api/v1/Core/OcrPdfDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "OcrPdfDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoOcrPdf",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoOcrPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseOcrPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseOcrPdf"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "OCR a PDF Document",
        "description": "Perform OCR on an existing PDF document - https://support.encodian.com/hc/en-gb/articles/360012686653-OCR-a-PDF-Document"
      }
    },
    "/api/v1/Core/SplitDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SplitDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoSplitDocument",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoSplitDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitDocument"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitDocument"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Split PDF",
        "description": "Split a PDF Document into multiple PDF Documents - https://support.encodian.com/hc/en-gb/articles/360002953277-Split-PDF"
      }
    },
    "/api/v1/Core/SplitPdfByText": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SplitPdfByText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoSplitPdfByText",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoSplitPdfByText"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitPdfByText"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitPdfByText"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Split PDF by Text",
        "description": "Split a PDF Document by text into multiple PDF Documents - https://support.encodian.com/hc/en-gb/articles/360012726397-Split-PDF-by-Text"
      }
    },
    "/api/v1/Core/SplitPdfByBarcode": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SplitPdfByBarcode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoSplitPdfByBarcode",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoSplitPdfByBarcode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitPdfByBarcode"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitPdfByBarcode"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Split PDF by Barcode",
        "description": "Split a PDF Document by Barcode, returning multiple PDF Documents - https://support.encodian.com/hc/en-gb/articles/360013629457-Split-PDF-by-Barcode"
      }
    },
    "/api/v1/Core/WordToPdfForm": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "WordToPdfForm",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoWordToPdfForm",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoWordToPdfForm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseWordToPdfForm"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseWordToPdfForm"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert Word to PDF Form",
        "description": "Convert the Word document provided (Legacy Form Controls Only) to a PDF form document. - https://support.encodian.com/hc/en-gb/articles/360012307133-Convert-Word-to-PDF-Form"
      }
    },
    "/api/v1/Core/AddTextWatermark": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddTextWatermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoAddTextWatermark",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoAddTextWatermark"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddTextWatermark"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddTextWatermark"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Add Text Watermark",
        "description": "Add a text watermark to the specified PDF document using the standard options - https://support.encodian.com/hc/en-gb/articles/360012230494-Add-Text-Watermark"
      }
    },
    "/api/v1/Core/AddImageWatermark": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddImageWatermark",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoAddImageWatermark",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoAddImageWatermark"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddImageWatermark"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddImageWatermark"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Add Image Watermark",
        "description": "Add an image watermark to the specified PDF document using the standard options - https://support.encodian.com/hc/en-gb/articles/360012484094-Add-Image-Watermark"
      }
    },
    "/api/v1/Core/AddTextWatermarkAdvanced": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddTextWatermarkAdvanced",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoAddTextWatermarkAdv",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoAddTextWatermarkAdv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddTextWatermarkAdv"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddTextWatermarkAdv"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Add Text Watermark (Advanced)",
        "description": "Add a text watermark to the specified PDF document using the advanced options - https://support.encodian.com/hc/en-gb/articles/360012345813-Add-Text-Watermark-Advanced-"
      }
    },
    "/api/v1/Core/AddImageWatermarkAdvanced": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddImageWatermarkAdvanced",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoAddImageWatermarkAdv",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoAddImageWatermarkAdv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddImageWatermarkAdv"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddImageWatermarkAdv"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Add Image Watermark (Advanced)",
        "description": "Add an image watermark to the specified PDF document using the standard options - https://support.encodian.com/hc/en-gb/articles/360012485874-Add-Image-Watermark-Advanced-"
      }
    },
    "/api/v1/Core/ImageCleanUpDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ImageCleanUpDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoImageCleanUpDoc",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoImageCleanUpDoc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageCleanUpDoc"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageCleanUpDoc"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Image Clean Up (Document)",
        "description": "Execute image clean up activities focussed on text based images such as Deskew, Rotate, Despeckle + more."
      }
    },
    "/api/v1/Core/ImageCleanUpPhoto": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ImageCleanUpPhoto",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoImageCleanUpPhoto",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoImageCleanUpPhoto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageCleanUpPhoto"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageCleanUpPhoto"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Image Clean Up (Photo)",
        "description": "Execute image clean up activities for standard photo images."
      }
    },
    "/api/v1/Core/ExtractTextRegions": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ExtractTextRegions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoExtractTextRegion",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoExtractTextRegion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractTextRegion"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractTextRegion"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Extract Text from Regions",
        "description": "Extract text using OCR from 70+ files types using specified regions - https://support.encodian.com/hc/en-gb/articles/360015612353-Extract-Text-from-Regions"
      }
    },
    "/api/v1/Core/AddHtmlHeaderFooter": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddHtmlHeaderFooter",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoAddHtmlHeaderFooter",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoAddHtmlHeaderFooter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddHtmlHeaderFooter"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddHtmlHeaderFooter"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Add HTML Header or Footer",
        "description": "Add a HTML header, footer or both to the specified PDF document - https://support.encodian.com/hc/en-gb/articles/360013808614-Add-HTML-Header-or-Footer"
      }
    },
    "/api/v1/Core/AddPageNumbers": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddPageNumbers",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoAddPageNumbers",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoAddPageNumbers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddPageNumbers"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddPageNumbers"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Add Page Numbers",
        "description": "Add page numbers to the PDF document provided - https://support.encodian.com/hc/en-gb/articles/360014464534-Add-Page-Numbers"
      }
    },
    "/api/v1/Core/GetPdfTextLayer": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "GetPdfTextLayer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoGetPdfTextLayer",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoGetPdfTextLayer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfTextLayer"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfTextLayer"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Get PDF Text Layer",
        "description": "Get the text layer for the PDF document provided - https://support.encodian.com/hc/en-gb/articles/360015539373-Get-PDF-Text-Layer"
      }
    },
    "/api/v1/Core/RedactPdf": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "RedactPdf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoRedactPdf",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoRedactPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseRedactPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseRedactPdf"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Redact PDF",
        "description": "Apply the specified redactions to the PDF document provided - https://support.encodian.com/hc/en-gb/articles/360018607954-Redact-PDF-"
      }
    },
    "/api/v1/Core/ResizeImage": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ResizeImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoImageResize",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoImageResize"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageResize"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageResize"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Resize an Image",
        "description": "Resize and compress the image provided - https://support.encodian.com/hc/en-gb/articles/360018591034-Resize-an-Image"
      }
    },
    "/api/v1/Core/GetPdfFormData": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "GetPdfFormData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoGetPdfFormData",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoGetPdfFormData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfFormData"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfFormData"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Get PDF Form Data",
        "description": "Extract PDF form data from a PDF Form - https://support.encodian.com/hc/en-gb/articles/360035107433-Get-PDF-Form-Data"
      }
    },
    "/api/v1/Core/SearchAndReplaceText": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SearchAndReplaceText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoSearchAndReplaceText",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoSearchAndReplaceText"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSearchAndReplaceText"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSearchAndReplaceText"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Search and Replace Text",
        "description": "Find and replace text contained within a PDF or DOCX document - https://support.encodian.com/hc/en-gb/articles/360020937853-Search-and-Replace-Text"
      }
    },
    "/api/v1/Core/SearchAndReplaceTextWithImage": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "SearchAndReplaceTextWithImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoSearchAndReplaceTextWithImage",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoSearchAndReplaceTextWithImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSearchAndReplaceTextWithImage"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseSearchAndReplaceTextWithImage"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Replace Text with Image",
        "description": "Find and replace text contained within a PDF or DOCX document with an image - https://support.encodian.com/hc/en-gb/articles/360027234874"
      }
    },
    "/api/v1/Core/ConvertPdfToWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertPdfToWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoConvertPdfToWord",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoConvertPdfToWord"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPdfToWord"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert PDF to Word",
        "description": "Convert a PDF document to Microsoft Word (docx) format - https://support.encodian.com/hc/en-gb/articles/360027229294-Convert-PDF-to-Word"
      }
    },
    "/api/v1/Core/CompressImage": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CompressImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoImageCompress",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoImageCompress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageCompress"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageCompress"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Compress an Image",
        "description": "Compress the image provided - https://support.encodian.com/hc/en-gb/articles/360027350513-Compress-an-Image"
      }
    },
    "/api/v1/Core/AddToZip": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddToZip",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoZipArrayOfDocuments",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoZipArrayOfDocuments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseZipArrayOfDocuments"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseZipArrayOfDocuments"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Add to Archive (ZIP)",
        "description": "Add the files provided to an archive (.zip) file - https://support.encodian.com/hc/en-gb/articles/360002674918-Add-to-Archive-ZIP"
      }
    },
    "/api/v1/Core/GetPdfDocumentInfo": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "GetPdfDocumentInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoGetPdfDocumentInfo",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoGetPdfDocumentInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfDocumentInfo"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfDocumentInfo"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Get PDF Document Information",
        "description": "Get PDF Document Information (Number of Pages, File Size + more) - https://support.encodian.com/hc/en-gb/articles/360002949358-Get-PDF-Document-Information"
      }
    },
    "/api/v1/Core/UnlockPdfDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "UnlockPdfDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoUnlockPdf",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoUnlockPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseUnlockPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseUnlockPdf"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Unlock PDF Document",
        "description": "Decrypt and remove password protection from a PDF document - https://support.encodian.com/hc/en-gb/articles/360003714237-Unlock-PDF-Document"
      }
    },
    "/api/v1/Core/ParseCsv": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ParseCsv",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoParseCsv",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoParseCsv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseParseCsv"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseParseCsv"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Parse CSV",
        "description": "Parse CSV and return the extracted data in JSON format - https://support.encodian.com/hc/en-gb/articles/360005177297-Parse-CSV"
      }
    },
    "/api/v1/Core/CreateQrCode": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CreateQrCode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoCreateQrCode",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoCreateQrCode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateQrCode"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateQrCode"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Create QR Code",
        "description": "Create a QR code in the specified image format - https://support.encodian.com/hc/en-gb/articles/360005178237-Create-QR-Code"
      }
    },
    "/api/v1/Core/ReadQrCodeFromImage": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ReadQrCodeFromImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoReadQrCodeFromImage",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoReadQrCodeFromImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromImage"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromImage"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Read QR Code - Image",
        "description": "Read a QR code from the image provided - https://support.encodian.com/hc/en-gb/articles/360006170898-Read-QR-Code-Image"
      }
    },
    "/api/v1/Core/ReadQrCodeFromDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ReadQrCodeFromDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoReadQrCodeFromDocument",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoReadQrCodeFromDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromDocument"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromDocument"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Read QR Code - Document",
        "description": "Read a QR code(s) from the document provided - https://support.encodian.com/hc/en-gb/articles/360006165437-Read-QR-Code-Document"
      }
    },
    "/api/v1/Core/CreateBarcode": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CreateBarcode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoResponseCreateBarcode",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoCreateBarcode"
            }
          },
          {
            "name": "barcodeTypeParameter",
            "in": "query",
            "description": "Set the barcode type",
            "required": false,
            "type": "string",
            "enum": [
              "AustraliaPost",
              "Aztec",
              "Codabar",
              "CodablockF",
              "Code11",
              "Code39Standard",
              "Code39Extended",
              "Code128",
              "Code16K",
              "DatabarExpanded",
              "DatabarExpandedStacked",
              "DatabarLimited",
              "DatabarOmniDirectional",
              "DatabarStacked",
              "DatabarStackedOmniDirectional",
              "DatabarTruncated",
              "DataMatrix",
              "DotCode",
              "EAN8",
              "EAN13",
              "GS1Code128",
              "GS1CodablockF",
              "Interleaved2of5",
              "ISBN",
              "ISMN",
              "ISSN",
              "ITF6",
              "ITF14",
              "MaxiCode",
              "Pdf417",
              "Planet",
              "Postnet",
              "Standard2of5",
              "UPCA",
              "UpcaGs1Code128Coupon",
              "UpcaGs1DatabarCoupon",
              "UPCE"
            ],
            "x-ms-summary": "Barcode Type"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateBarcode"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateBarcode"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Create Barcode",
        "description": "Create a Barcode in the specified image format - https://support.encodian.com/hc/en-gb/articles/360006165457-Create-Barcode"
      }
    },
    "/api/v1/Core/ReadBarcodeFromImage": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ReadBarcodeFromImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoReadBarcodeFromImage",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoReadBarcodeFromImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromImage"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromImage"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Read Barcode - Image",
        "description": "Read a barcode from the image provided - https://support.encodian.com/hc/en-gb/articles/360006170918-Read-Barcode-Image"
      }
    },
    "/api/v1/Core/ReadBarcodeFromDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ReadBarcodeFromDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoReadBarcodeFromDocument",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoReadBarcodeFromDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromDocument"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromDocument"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Read Barcode - Document",
        "description": "Read barcode(s) from the document provided - https://support.encodian.com/hc/en-gb/articles/360006170938-Read-Barcode-Document"
      }
    },
    "/api/v1/Core/ImageConvertFormat": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ImageConvertFormat",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoImageConvertFormat",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoImageConvertFormat"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageConvertFormat"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageConvertFormat"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert Image Format",
        "description": "Convert the format of the image provided - https://support.encodian.com/hc/en-gb/articles/360006617857-Convert-Image-Format"
      }
    },
    "/api/v1/Core/RegexSearchText": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "RegexSearchText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoRegexSearchText",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoRegexSearchText"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseRegexSearchText"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseRegexSearchText"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Search Text - Regex",
        "description": "Search the text provided to find matches using the regex provided - https://support.encodian.com/hc/en-gb/articles/360006764638-Search-Text-Regex"
      }
    },
    "/api/v1/Core/ExtractImages": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ExtractImages",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoExtractTextRegion",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoExtractImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractImage"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractImage"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Extract Images from PDF",
        "description": "Extract images from PDF using specified regions - https://support.encodian.com/hc/en-gb/articles/360006998058-Extract-Images-from-PDF"
      }
    },
    "/api/v1/Core/ImageExtractText": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ImageExtractText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoImageExtractText",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoImageExtractText"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageExtractText"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseImageExtractText"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Extract Text from Image (OCR)",
        "description": "Extract text from the image provided - https://support.encodian.com/hc/en-gb/articles/360006998078-Extract-Text-from-Image-OCR"
      }
    },
    "/api/v1/Core/FillPdfForm": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "FillPdfForm",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoFillPdfForm",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoFillPdfForm"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseFillPdfForm"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseFillPdfForm"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Fill a PDF Form",
        "description": "Fill the PDF Form provided with the JSON data provided - https://support.encodian.com/hc/en-gb/articles/360008556077-Fill-a-PDF-Form"
      }
    },
    "/api/v1/Core/ConvertMailMessage": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertMailMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "conversion",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoConvertMailMessage",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoConvertMailMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertMailMessage"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertMailMessage"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert Email Message",
        "description": "Convert an email to PDF - https://support.encodian.com/hc/en-gb/articles/360011566298-Convert-Mail-Message"
      }
    },
    "/api/v1/Core/ConvertExcel": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertExcel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "conversion",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoConvertExcel",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoConvertExcel"
            }
          },
          {
            "name": "outputFormatParameter",
            "in": "query",
            "description": "Set the output file type",
            "required": false,
            "type": "string",
            "enum": [
              "PDF",
              "HTML",
              "CSV",
              "TXT",
              "XLSX",
              "XLS",
              "PNG",
              "TIFF"
            ],
            "x-ms-summary": "Output Format"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertExcel"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertExcel"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert Excel",
        "description": "Convert Microsoft Excel documents to another document format - https://support.encodian.com/hc/en-gb/articles/360011804178-Convert-Excel"
      }
    },
    "/api/v1/Core/ConvertWord": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "conversion",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoConvertWord",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoConvertWord"
            }
          },
          {
            "name": "outputFormatParameter",
            "in": "query",
            "description": "Set the output file type",
            "required": false,
            "type": "string",
            "enum": [
              "PDF",
              "HTML",
              "DOCX",
              "TXT",
              "DOC",
              "PNG",
              "TIFF"
            ],
            "x-ms-summary": "Output Format"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertWord"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertWord"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert Word",
        "description": "Convert Microsoft Word documents to another document format - https://support.encodian.com/hc/en-gb/articles/360015616117-Convert-Word"
      }
    },
    "/api/v1/Core/ConvertPowerPoint": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "ConvertPowerPoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "conversion",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoConvertPowerPoint",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoConvertPowerPoint"
            }
          },
          {
            "name": "outputFormatParameter",
            "in": "query",
            "description": "Set the output file type",
            "required": false,
            "type": "string",
            "enum": [
              "PDF",
              "HTML",
              "PPTX",
              "TXT",
              "PNG",
              "TIFF"
            ],
            "x-ms-summary": "Output Format"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPowerPoint"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseConvertPowerPoint"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert PowerPoint",
        "description": "Convert Microsoft PowerPoint documents to another document format - https://support.encodian.com/hc/en-gb/articles/360015879777-Convert-PowerPoint"
      }
    },
    "/api/v1/Core/CreateHMAC": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CreateHMAC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoCreateHMAC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateHMAC"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateHMAC"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Create HMAC",
        "description": "Create a Hash-based message authentication code (HMAC) using a secret key - https://support.encodian.com/hc/en-gb/articles/360012782058-Create-HMAC"
      }
    },
    "/api/v1/Core/CreateHashCode": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CreateHashCode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoCreateHashCode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateHashCode"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCreateHashCode"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Create Hash Code",
        "description": "Create a hashcode for the string provided - https://support.encodian.com/hc/en-gb/articles/360013996077-Create-Hash-Code"
      }
    },
    "/api/v1/Core/AddTextWatermarkToImage": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "AddTextWatermarkToImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoAddTextWatermarkToImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddTextWatermarkToImage"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseAddTextWatermarkToImage"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Add Text Watermark to Image",
        "description": "Add a Text Watermark to the image provided - https://support.encodian.com/hc/en-gb/articles/360013560398-Add-Text-Watermark-To-Image"
      }
    },
    "/api/v1/Core/CompareWordDocuments": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CompareWordDocuments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoCompareWordDocuments",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoCompareWordDocuments"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCompareWordDocuments"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCompareWordDocuments"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Compare Word Documents",
        "description": "Compare differences between Microsoft Word and PDF Documents - https://support.encodian.com/hc/en-gb/articles/360018576278-Compare-Word-Documents"
      }
    },
    "/api/v1/Core/PopulateWordDocument": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "PopulateWordDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoPopulateWordDocument",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoPopulateWordDocument"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponsePopulateWordDocument"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponsePopulateWordDocument"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Populate Word Document",
        "description": "Populate a Microsoft Word Document (DOCX) with the JSON data provided - https://support.encodian.com/hc/en-gb/articles/360019620578-Populate-Word-Document"
      }
    },
    "/api/v1/Core/CompressPdf": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "CompressPdf",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operation",
            "in": "body",
            "description": "Request object, refer to schema definition: DtoCompressPdf",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DtoCompressPdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseCompressPdf"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DtoResponseCompressPdf"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Compress PDF",
        "description": "Compress and optimise a PDF document - https://support.encodian.com/hc/en-gb/articles/360019994857-Compress-PDF"
      }
    },
    "/api/v1/DynamicSchema/GetDynamicSchemaCreateBarcode": {
      "get": {
        "tags": [
          "DynamicSchema"
        ],
        "operationId": "GetDynamicSchemaCreateBarcode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "barcodeType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Barcode Type",
            "description": "The barcode type to obtain the dynamic schema for."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get Create Barcode Schema",
        "description": "Provides the dynamic schema for the Create Barcode action."
      }
    },
    "/api/v1/DynamicSchema/GetDynamicSchemaConvertWord": {
      "get": {
        "tags": [
          "DynamicSchema"
        ],
        "operationId": "GetDynamicSchemaConvertWord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "description": "The output format to obtain the dynamic schema for."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get Convert Word Schema",
        "description": "Provides the dynamic schema for the Convert Word action."
      }
    },
    "/api/v1/DynamicSchema/GetDynamicSchemaConvertExcel": {
      "get": {
        "tags": [
          "DynamicSchema"
        ],
        "operationId": "GetDynamicSchemaConvertExcel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "description": "The output format to obtain the dynamic schema for."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get Convert Excel Schema",
        "description": "Provides the dynamic schema for the Convert Excel action."
      }
    },
    "/api/v1/DynamicSchema/GetDynamicSchemaConvertPowerPoint": {
      "get": {
        "tags": [
          "DynamicSchema"
        ],
        "operationId": "GetDynamicSchemaConvertPowerPoint",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "outputFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output Format",
            "description": "The output format to obtain the dynamic schema for."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get Convert PowerPoint Schema",
        "description": "Provides the dynamic schema for the Convert PowerPoint action."
      }
    },
    "/api/v1/Mgmt/GetSubscriptionStatus": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetSubscriptionStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseMgmtGetSubscriptionStatus"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseMgmtGetSubscriptionStatus"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "important",
        "summary": "Get Subscription Status",
        "description": "Get the the status of your Encodian Subscription - https://support.encodian.com/hc/en-gb/articles/360010176717-Get-Subscription-Status"
      }
    },
    "/api/v1/Mgmt/GetOperationStatus": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status for the Operation ID provided.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoBaseMgmtResponse"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoBaseMgmtResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get an Operation Status",
        "description": "Get the operation status of for the operation ID provided."
      }
    },
    "/api/v1/Mgmt/GetOperationStatusExtractTextRegion": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatusExtractTextRegion",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status of an ExtractTextRegion operation for the Operation ID provided.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractTextRegion"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseExtractTextRegion"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get an Operation Status for ExtractTextRegion",
        "description": "Retrieve the operation status of an ExtractTextRegion operation for the Operation ID provided."
      }
    },
    "/api/v1/Mgmt/GetOperationStatusGetPdfTextLayer": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatusGetPdfTextLayer",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status of a GetPdfTextLayer operation for the Operation ID provided.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfTextLayer"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfTextLayer"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get an Operation Status for GetPdfTextLayer",
        "description": "Retrieve the operation status of a GetPdfTextLayer operation for the Operation ID provided."
      }
    },
    "/api/v1/Mgmt/GetOperationStatusGetPdfFormData": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatusGetPdfFormData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status of a GetPdfFormData operation for the Operation ID provided.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfFormData"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfFormData"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get an Operation Status for GetPdfFormData",
        "description": "Retrieve the operation status of a GetPdfFormData operation for the Operation ID provided."
      }
    },
    "/api/v1/Mgmt/GetOperationStatusSplitDocument": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatusSplitDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status of a SplitDocument operation for the Operation ID provided.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitDocument"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseSplitDocument"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get an Operation Status for SplitDocument",
        "description": "Get the operation status of for the operation ID provided."
      }
    },
    "/api/v1/Mgmt/GetOperationStatusGetPdfDocumentInfo": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatusGetPdfDocumentInfo",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status of a GetPdfDocumentInfo operation for the Operation ID provided.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfDocumentInfo"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseGetPdfDocumentInfo"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get an Operation Status for GetPdfDocumentInfo",
        "description": "Get the operation status of for the operation ID provided."
      }
    },
    "/api/v1/Mgmt/GetOperationStatusParseCsv": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatusParseCsv",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status of a GetOperationStatusParseCsv operation for the Operation ID provided.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseParseCsv"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseParseCsv"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get an Operation Status for ParseCsv",
        "description": "Retrieve the operation status of a ParseCsv operation for the Operation ID provided."
      }
    },
    "/api/v1/Mgmt/GetOperationStatusReadQrCodeFromImage": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatusReadQrCodeFromImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status of a GetOperationStatusReadQrCodeFromImage operation for the Operation ID provided.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromImage"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromImage"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get an Operation Status for ReadQrCodeFromImage",
        "description": "Retrieve the operation status of a ReadQrCodeFromImage operation for the Operation ID provided."
      }
    },
    "/api/v1/Mgmt/GetOperationStatusReadQrCodeFromDocument": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatusReadQrCodeFromDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status of a GetOperationStatusReadQrCodeFromDocument operation for the Operation ID provided.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromDocument"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadQrCodeFromDocument"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get an Operation Status for ReadQrCodeFromDocument",
        "description": "Retrieve the operation status of a ReadQrCodeFromDocument operation for the Operation ID provided."
      }
    },
    "/api/v1/Mgmt/GetOperationStatusReadBarcodeFromImage": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatusReadBarcodeFromImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status of a GetOperationStatusReadBarcodeFromImage operation for the Operation ID provided.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromImage"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromImage"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get an Operation Status for ReadBarcodeFromImage",
        "description": "Retrieve the operation status of a ReadBarcodeFromImage operation for the Operation ID provided."
      }
    },
    "/api/v1/Mgmt/GetOperationStatusReadBarcodeFromDocument": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatusReadBarcodeFromDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status of a GetOperationStatusReadBarcodeFromDocument operation for the Operation ID provided.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromDocument"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DtoResponseReadBarcodeFromDocument"
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get an Operation Status for ReadBarcodeFromDocument",
        "description": "Retrieve the operation status of a ReadBarcodeFromDocument operation for the Operation ID provided."
      }
    },
    "/api/v1/Mgmt/GetOperationStatusRegexSearchText": {
      "get": {
        "tags": [
          "Mgmt"
        ],
        "operationId": "GetOperationStatusRegexSearchText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "query",
            "description": "Retrieve the operation status of a GetOperationStatusRegexSearchText operation for the Operation ID provided.",
            "required": false,
[...]
