{
  "swagger": "2.0",
  "info": {
    "title": "Staffbase",
    "description": "With the Staffbase Connector, you bridge disparate tools and systems and integrate the Staffbase platform into your automated workflows. That include your employee app or intranet to automate processes, run tasks on a schedule, or notify users when events occur.",
    "version": "1.0",
    "contact": {
      "name": "Staffbase Support",
      "url": "https://www.staffbase.com",
      "email": "support@staffbase.com"
    }
  },
  "host": "powerautomateproxy-de1.staffbase.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/branch/analytics/chats/timeseries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "timeseries": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "Time series data points."
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total chat count."
                }
              }
            }
          }
        },
        "operationId": "GetChatTimeseries",
        "summary": "Analytics: Get chat activity timeseries",
        "description": "Get chat activity metrics over time.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "groupBy",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "year",
              "month",
              "week",
              "day",
              "hour",
              "fixed"
            ],
            "description": "Time grouping.",
            "x-ms-summary": "Group By"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Start date (ISO 8601).",
            "x-ms-summary": "Since"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "End date (ISO 8601).",
            "x-ms-summary": "Until"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Timezone.",
            "x-ms-summary": "Timezone"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "csv"
            ],
            "description": "Response format.",
            "x-ms-summary": "Format"
          }
        ]
      }
    },
    "/branch/analytics/contents/rankings": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "entities": {
                  "type": "object",
                  "description": "Map of entity IDs to entity objects."
                },
                "ranking": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "Ranked list of content items."
                }
              }
            }
          }
        },
        "operationId": "GetContentRankings",
        "summary": "Analytics: Get content performance rankings",
        "description": "Get a ranked list of content items by performance metrics.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Start date (ISO 8601).",
            "x-ms-summary": "Since"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "End date (ISO 8601).",
            "x-ms-summary": "Until"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Timezone.",
            "x-ms-summary": "Timezone"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Language filter.",
            "x-ms-summary": "Language"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "csv"
            ],
            "description": "Response format.",
            "x-ms-summary": "Format"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "SCIM filter string.",
            "x-ms-summary": "Filter"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "maximum": 50000,
            "description": "Max results.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort field.",
            "x-ms-summary": "Sort"
          },
          {
            "name": "groupBy",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Group results by field.",
            "x-ms-summary": "Group By"
          },
          {
            "name": "enrich",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Enrich results with metadata.",
            "x-ms-summary": "Enrich"
          }
        ]
      }
    },
    "/branch/analytics/posts/rankings": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "entities": {
                  "type": "object",
                  "description": "Map of entity IDs to entity objects."
                },
                "ranking": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "Ranked list of posts with analytics data."
                }
              }
            }
          }
        },
        "operationId": "GetPostRankings",
        "summary": "Analytics: Get post performance rankings",
        "description": "Get a ranked list of posts by performance metrics.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Start date (ISO 8601).",
            "x-ms-summary": "Since"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "End date (ISO 8601).",
            "x-ms-summary": "Until"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Timezone (e.g. Europe/Berlin).",
            "x-ms-summary": "Timezone"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Language filter.",
            "x-ms-summary": "Language"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "csv"
            ],
            "description": "Response format.",
            "x-ms-summary": "Format"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "SCIM filter string.",
            "x-ms-summary": "Filter"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "maximum": 50000,
            "description": "Max results (up to 50000).",
            "x-ms-summary": "Limit"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort field.",
            "x-ms-summary": "Sort"
          },
          {
            "name": "groupBy",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Group results by field.",
            "x-ms-summary": "Group By"
          }
        ]
      }
    },
    "/branch/analytics/posts/timeseries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "timeseries": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "Time series data points."
                }
              }
            }
          }
        },
        "operationId": "GetPostTimeseries",
        "summary": "Analytics: Get post performance timeseries",
        "description": "Get post performance metrics over time.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "groupBy",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "year",
              "month",
              "week",
              "day",
              "hour",
              "fixed"
            ],
            "description": "Time grouping.",
            "x-ms-summary": "Group By"
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Start date (ISO 8601).",
            "x-ms-summary": "Since"
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "End date (ISO 8601).",
            "x-ms-summary": "Until"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Timezone.",
            "x-ms-summary": "Timezone"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "csv"
            ],
            "description": "Response format.",
            "x-ms-summary": "Format"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "SCIM filter string.",
            "x-ms-summary": "Filter"
          }
        ]
      }
    },
    "/branch/analytics/v2/users/timeseries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "timeseries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "period": {
                        "type": "string",
                        "description": "Time period label."
                      },
                      "totalUsers": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "registeredUsers": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "activeUsers": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "engagedUsers": {
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  },
                  "description": "User engagement metrics per period."
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total user count."
                }
              }
            }
          }
        },
        "operationId": "GetUserTimeseries",
        "summary": "Analytics: Get user engagement timeseries",
        "description": "Get user engagement metrics over time.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "groupBy",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "year",
              "month",
              "week",
              "day",
              "hour"
            ],
            "description": "Time grouping.",
            "x-ms-summary": "Group By"
          },
          {
            "name": "since",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Start date (ISO 8601).",
            "x-ms-summary": "Since"
          },
          {
            "name": "until",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "End date (ISO 8601).",
            "x-ms-summary": "Until"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Timezone.",
            "x-ms-summary": "Timezone"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "json",
              "csv"
            ],
            "description": "Response format.",
            "x-ms-summary": "Format"
          },
          {
            "name": "platform",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "web",
              "ios",
              "android"
            ],
            "description": "Filter by platform.",
            "x-ms-summary": "Platform"
          },
          {
            "name": "creationType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "sso",
              "csv"
            ],
            "description": "Filter by user creation type.",
            "x-ms-summary": "Creation Type"
          },
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by group ID.",
            "x-ms-summary": "Group ID"
          },
          {
            "name": "spaceId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by space ID.",
            "x-ms-summary": "Space ID"
          }
        ]
      }
    },
    "/branch/channels": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of channels that are found."
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount of items that are returned."
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current defined offset for getting the items starting at this number."
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "This is the ID of the channel."
                      },
                      "config": {
                        "type": "object",
                        "properties": {
                          "localization": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The channel title which is localized."
                                },
                                "locale": {
                                  "type": "string",
                                  "description": "This is the locale of channel title."
                                }
                              }
                            }
                          }
                        }
                      },
                      "spaceID": {
                        "type": "string",
                        "description": "The ID of the space where the channel is assigned to."
                      },
                      "created": {
                        "type": "string",
                        "description": "The created date of the channel."
                      },
                      "published": {
                        "type": "string",
                        "description": "The published date of the channel."
                      },
                      "updated": {
                        "type": "string",
                        "description": "The updated date of the channel."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Channels: Get list of manageable channels (admin)",
        "description": "Returns channels the token has management rights over. Requires editorial or admin token.",
        "operationId": "BranchChannelsGetList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search string to filter channels.",
            "x-ms-summary": "Query"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "maximum": 100,
            "description": "The amount of items that should be returned (maximum 100).",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "created_DESC",
              "published_DESC",
              "updated_DESC",
              "priority_ASC"
            ],
            "description": "Sort order for results.",
            "x-ms-summary": "Sort"
          },
          {
            "name": "contentType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "articles",
              "pictures",
              "updates"
            ],
            "description": "Filter by content type.",
            "x-ms-summary": "ContentType"
          }
        ]
      }
    },
    "/branch/notifications": {
      "post": {
        "responses": {
          "201": {
            "description": "Notification created.",
            "schema": {
              "type": "object",
              "properties": {
                "notificationId": {
                  "type": "string",
                  "description": "The ID of the created notification."
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "SendNotification",
        "x-ms-visibility": "important",
        "summary": "Notifications: Send notification to users or groups",
        "description": "Send a notification to specific users, groups, or a branch.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "accessorIds",
                "content"
              ],
              "properties": {
                "accessorIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of user IDs, group IDs, or branch ID to send the notification to.",
                  "x-ms-summary": "Accessor IDs"
                },
                "content": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "locale": {
                        "type": "string",
                        "description": "Locale of the notification text, e.g. en_US, de_DE."
                      },
                      "text": {
                        "type": "string",
                        "description": "The notification text for this locale."
                      }
                    }
                  },
                  "description": "Localized notification content. The proxy converts this array to a locale-keyed object."
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "notificationCenter",
                      "push"
                    ]
                  },
                  "description": "Optional: Specify which notification channels to use."
                },
                "link": {
                  "type": "string",
                  "description": "Optional: Absolute or relative URL to include in the notification."
                }
              }
            }
          }
        ]
      }
    },
    "/branch/quicklinks": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/quickLinkData"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetQuickLinks",
        "summary": "Quick Links: Get all Quick Links",
        "description": "Get all Quick Links for a platform.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "platform",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "desktop",
              "mobile"
            ],
            "description": "Platform to get Quick Links for.",
            "x-ms-summary": "Platform"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/quickLinkData"
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "CreateQuickLink",
        "summary": "Quick Links: Create a Quick Link",
        "description": "Create a new Quick Link. Proxy converts localization array to locale-keyed object automatically.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "platform": {
                  "type": "string",
                  "enum": [
                    "desktop",
                    "mobile"
                  ],
                  "description": "Platform for this Quick Link."
                },
                "localization": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "locale": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "description": "Localized names."
                },
                "link": {
                  "type": "string",
                  "description": "URL target for the Quick Link."
                },
                "priority": {
                  "type": "integer",
                  "description": "Display priority order."
                },
                "enforceNewWindow": {
                  "type": "boolean",
                  "description": "Open link in a new window."
                },
                "showIosNavBar": {
                  "type": "boolean",
                  "description": "Show iOS navigation bar."
                },
                "accessorIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "IDs of users or groups who can see this link."
                },
                "visibleInPublicArea": {
                  "type": "boolean",
                  "description": "Visible in public area."
                }
              }
            }
          }
        ]
      }
    },
    "/branch/quicklinks/{quickLinkId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/quickLinkData"
            }
          }
        },
        "operationId": "GetQuickLink",
        "summary": "Quick Links: Get a Quick Link by ID",
        "description": "Get a specific Quick Link by its ID.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "quickLinkId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the Quick Link.",
            "x-ms-summary": "QuickLinkID"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/quickLinkData"
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "UpdateQuickLink",
        "summary": "Quick Links: Update a Quick Link",
        "description": "Update an existing Quick Link. Proxy converts localization array to locale-keyed object automatically.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "quickLinkId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the Quick Link.",
            "x-ms-summary": "QuickLinkID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "platform": {
                  "type": "string",
                  "enum": [
                    "desktop",
                    "mobile"
                  ]
                },
                "localization": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "locale": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                },
                "link": {
                  "type": "string"
                },
                "priority": {
                  "type": "integer"
                },
                "enforceNewWindow": {
                  "type": "boolean"
                },
                "showIosNavBar": {
                  "type": "boolean"
                },
                "accessorIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "visibleInPublicArea": {
                  "type": "boolean"
                }
              }
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "202": {
            "description": "Quick Link deleted.",
            "schema": {}
          }
        },
        "operationId": "DeleteQuickLink",
        "summary": "Quick Links: Delete a Quick Link",
        "description": "Delete a specific Quick Link by its ID.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "quickLinkId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the Quick Link.",
            "x-ms-summary": "QuickLinkID"
          }
        ]
      }
    },
    "/campaigns": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32"
                },
                "cursor": {
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/campaignData"
                  }
                }
              }
            }
          }
        },
        "operationId": "ListCampaigns",
        "summary": "Campaigns: Get list of campaigns",
        "description": "Get a list of campaigns.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Items to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "created_ASC",
              "created_DESC",
              "title_ASC",
              "title_DESC",
              "startAt_ASC"
            ],
            "description": "Sort order.",
            "x-ms-summary": "Sort"
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "SCIM2 filter string for date range.",
            "x-ms-summary": "Range"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query.",
            "x-ms-summary": "Query"
          },
          {
            "name": "includeStats",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to include campaign statistics.",
            "x-ms-summary": "Include Stats"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "Campaign created.",
            "schema": {
              "$ref": "#/definitions/campaignData"
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "CreateCampaign",
        "summary": "Campaigns: Create a campaign",
        "description": "Create a new campaign.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "title"
              ],
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The campaign title."
                },
                "goal": {
                  "type": "string",
                  "description": "The campaign goal."
                },
                "color": {
                  "type": "string",
                  "description": "Campaign color code."
                },
                "startAt": {
                  "type": "string",
                  "description": "Campaign start date (ISO 8601)."
                },
                "endAt": {
                  "type": "string",
                  "description": "Campaign end date (ISO 8601)."
                }
              }
            }
          }
        ]
      }
    },
    "/campaigns/{campaignId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/campaignData"
            }
          }
        },
        "operationId": "GetCampaign",
        "summary": "Campaigns: Get a campaign by ID",
        "description": "Get a specific campaign by its ID.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the campaign.",
            "x-ms-summary": "CampaignID"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/campaignData"
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "UpdateCampaign",
        "summary": "Campaigns: Update a campaign",
        "description": "Update an existing campaign.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the campaign.",
            "x-ms-summary": "CampaignID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "goal": {
                  "type": "string"
                },
                "color": {
                  "type": "string"
                },
                "startAt": {
                  "type": "string"
                },
                "endAt": {
                  "type": "string"
                }
              }
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Campaign deleted.",
            "schema": {}
          }
        },
        "operationId": "DeleteCampaign",
        "summary": "Campaigns: Delete a campaign",
        "description": "Delete a specific campaign by its ID.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the campaign.",
            "x-ms-summary": "CampaignID"
          }
        ]
      }
    },
    "/campaigns/{campaignId}/references": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32"
                },
                "cursor": {
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/referenceData"
                  }
                }
              }
            }
          }
        },
        "operationId": "ListCampaignReferences",
        "summary": "Campaigns: List references of a campaign",
        "description": "Get references (posts or emails) linked to a campaign.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the campaign.",
            "x-ms-summary": "CampaignID"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Items to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort order.",
            "x-ms-summary": "Sort"
          },
          {
            "name": "includeStats",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to include statistics.",
            "x-ms-summary": "Include Stats"
          },
          {
            "name": "sourceTypes",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by source type (POST or EMAIL, comma-separated).",
            "x-ms-summary": "Source Types"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/referenceData"
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "CreateCampaignReference",
        "summary": "Campaigns: Add a reference to a campaign",
        "description": "Link a post or email to a campaign.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the campaign.",
            "x-ms-summary": "CampaignID"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "sourceType",
                "sourceId"
              ],
              "properties": {
                "sourceType": {
                  "type": "string",
                  "enum": [
                    "POST",
                    "EMAIL"
                  ],
                  "description": "The type of the reference source."
                },
                "sourceId": {
                  "type": "string",
                  "description": "The ID of the source post or email."
                }
              }
            }
          }
        ]
      }
    },
    "/campaigns/{campaignId}/references/{sourceType}/{sourceId}": {
      "delete": {
        "responses": {
          "204": {
            "description": "Reference deleted.",
            "schema": {}
          }
        },
        "operationId": "DeleteCampaignReference",
        "summary": "Campaigns: Delete a campaign reference",
        "description": "Remove a reference from a campaign.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the campaign.",
            "x-ms-summary": "CampaignID"
          },
          {
            "name": "sourceType",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "enum": [
              "POST",
              "EMAIL"
            ],
            "description": "The type of the reference source.",
            "x-ms-summary": "Source Type"
          },
          {
            "name": "sourceId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the source.",
            "x-ms-summary": "Source ID"
          }
        ]
      }
    },
    "/channels": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of channels that are found."
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount of items that are returned."
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current defined offset for getting the items starting at this number."
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "This is the ID of the channel."
                      },
                      "config": {
                        "type": "object",
                        "properties": {
                          "localization": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "The channel title which is localized."
                                },
                                "locale": {
                                  "type": "string",
                                  "description": "This is the locale of channel title."
                                }
                              }
                            }
                          }
                        }
                      },
                      "spaceID": {
                        "type": "string",
                        "description": "The ID of the space where the channel is assigned to."
                      },
                      "created": {
                        "type": "string",
                        "description": "The created date of the channel."
                      },
                      "published": {
                        "type": "string",
                        "description": "The published date of the channel."
                      },
                      "updated": {
                        "type": "string",
                        "description": "The updated date of the channel."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Channels: Get a list of news channels",
        "description": "Get a list of news channels.",
        "operationId": "ChannelsGetList",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search string to filter channels.",
            "x-ms-summary": "Query"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "created_DESC",
              "published_DESC",
              "updated_DESC",
              "priority_ASC"
            ],
            "description": "Sort order for results.",
            "x-ms-summary": "Sort"
          },
          {
            "name": "contentType",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "articles",
              "pictures",
              "updates"
            ],
            "description": "Filter by content type.",
            "x-ms-summary": "ContentType"
          }
        ]
      }
    },
    "/channels/{channelID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "This is the ID of the channel."
                },
                "config": {
                  "type": "object",
                  "properties": {
                    "localization": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The channel title which is localized."
                          },
                          "locale": {
                            "type": "string",
                            "description": "This is the locale of channel title."
                          }
                        }
                      }
                    }
                  }
                },
                "spaceID": {
                  "type": "string",
                  "description": "The ID of the space where the channel is assigned to."
                },
                "created": {
                  "type": "string",
                  "description": "The created date of the channel."
                },
                "published": {
                  "type": "string",
                  "description": "The published date of the channel."
                },
                "updated": {
                  "type": "string",
                  "description": "The updated date of the channel."
                }
              }
            }
          }
        },
        "summary": "Channels: Get a channel by ID",
        "description": "Get a specific news channel by its ID.",
        "operationId": "ChannelsGetByID",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "channelID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the channel to retrieve.",
            "x-ms-summary": "ChannelID"
          }
        ]
      }
    },
    "/channels/{channelID}/posts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of posts that are found."
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount of items that are returned."
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current defined offset for getting the items starting at this number."
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/postData"
                  }
                }
              }
            }
          }
        },
        "operationId": "ChannelsGetPosts",
        "summary": "Channels: Get a list of posts within the specified channel",
        "description": "Get a list of posts within the specified channel.",
        "parameters": [
          {
            "name": "channelID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Insert channel ID here, e.g. retrieved by getChannels.",
            "x-ms-summary": "ChannelID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The amount of items that should be returned (default and maximum 100).",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Define an offset for getting the items starting at this number.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "created_DESC",
              "published_DESC",
              "updated_DESC"
            ],
            "description": "Sort order for results.",
            "x-ms-summary": "Sort"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor"
          }
        ],
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Channels: Send a post to specific channel",
        "description": "Send a post to specific news channel.",
        "operationId": "ChannelsPostPost",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "channelID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "ChannelID",
            "description": "Insert channel ID here."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "externalID": {
                  "type": "string",
                  "description": "Optional: Enter an external ID here."
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "locale": {
                        "type": "string",
                        "description": "Insert locale like, e.g. de_DE, en_US, etc."
                      },
                      "content": {
                        "type": "string",
                        "description": "Enter news content here."
                      },
                      "image": {
                        "type": "string",
                        "description": "Enter image link here.",
                        "title": "image (link)"
                      },
                      "teaser": {
                        "type": "string",
                        "description": "Enter your teaser here."
                      },
                      "title": {
                        "type": "string",
                        "description": "Enter your title here."
                      }
                    }
                  }
                },
                "published": {
                  "type": "string",
                  "description": "Enter your date published here."
                },
                "notificationChannels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "email",
                      "push"
                    ]
                  },
                  "description": "Which notification channels to use when publishing this post."
                },
                "planned": {
                  "type": "string",
                  "description": "ISO 8601 date string for planned publication."
                },
                "campaignId": {
                  "type": "string",
                  "description": "Optional campaign ID to associate with this post."
                }
              }
            }
          }
        ]
      }
    },
    "/comments": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of comments that are found."
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount of items that are returned."
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current defined offset for getting the items starting at this number."
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "This is the ID of the comment."
                      },
                      "parentID": {
                        "type": "string",
                        "description": "The ID of the parent of the comment, can be either a post or a comment."
                      },
                      "parentType": {
                        "type": "string",
                        "description": "The parent type can be either a post or a comment."
                      },
                      "text": {
                        "type": "string",
                        "description": "This is the comments content / test itself.",
                        "title": "comment text"
                      },
                      "rootID": {
                        "type": "string",
                        "description": "This is the ID of the post this comment is related to",
                        "title": "post ID"
                      },
                      "author": {
                        "$ref": "#/definitions/authorObject"
                      },
                      "likes": {
                        "type": "object",
                        "properties": {
                          "total": {
                            "type": "integer",
                            "format": "int32",
                            "description": "This is the number of comment likes."
                          },
                          "isLiked": {
                            "type": "string",
                            "description": "Is this comment liked?",
                            "enum": [
                              "",
                              "true",
                              "false"
                            ]
                          }
                        }
                      },
                      "created": {
                        "type": "string",
                        "description": "The created date of the comment."
                      },
                      "updated": {
                        "type": "string",
                        "description": "The updated date of the comment."
                      },
                      "image": {
                        "$ref": "#/definitions/imageObject"
                      },
                      "installationID": {
                        "type": "string",
                        "description": "The installation ID associated with this comment."
                      },
                      "authorID": {
                        "type": "string",
                        "description": "The ID of the author of this comment."
                      },
                      "published": {
                        "type": "boolean",
                        "description": "Whether this comment is published."
                      },
                      "rights": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Rights associated with this comment."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Posts: Get comments",
        "description": "Get a list of comments.",
        "operationId": "CommentsGet",
        "parameters": [
          {
            "name": "manage",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When true and the token role allows manage comments - also not published comments will be shown in the list.",
            "x-ms-summary": "Manage"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The amount of items that should be returned (default and maximum 100).",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Define an offset for getting the items starting at this number.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter in SCIM2 format with partial support. For now only flat structure (no nested clauses) and comparison clauses like eq = \"equals\", gt = \"greater than\", ge = \"greater than or equals\", lt = \"less than\", le = \"less than or equals\" are supported.  For comments supported filter fields are: created and updated. The value for these fields can be provided in UTC DateTime string representatiion or long number of milliseconds of Unix epoch.  Example 1: filter=updated ge \"2020-11-26T10:14:48.947Z\" and updated le \"2020-11-26T10:14:48.947Z\". In this example the DateTime range filter is applied to updated field with ge and le comparison clauses and and boolean clause.  Example 2: filter=created gt \"2020-11-26T10:14:48.947Z\". Get all comments, created after pointed date.",
            "x-ms-summary": "Filter"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "updated_DESC",
              "updated_ASC",
              "created_ASC",
              "created_DESC"
            ],
            "description": "Sort order for the comments.",
            "x-ms-summary": "Sort"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "rich",
              "plain"
            ],
            "description": "Format of the comment text.",
            "x-ms-summary": "Format"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/email-performance/emails": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/emailMetadata"
                  },
                  "description": "List of emails."
                }
              }
            }
          }
        },
        "operationId": "ListEmails",
        "summary": "Email Performance: List emails",
        "description": "List all tracked email campaigns.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor"
          }
        ]
      }
    },
    "/email-performance/emails/{emailId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/emailMetadata"
            }
          }
        },
        "operationId": "GetEmailMetadata",
        "summary": "Email Performance: Get email metadata",
        "description": "Get metadata and performance summary for a specific email.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the email.",
            "x-ms-summary": "EmailID"
          }
        ]
      }
    },
    "/email-performance/{emailId}/clicks": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "percentage": {
                  "type": "number",
                  "format": "float",
                  "description": "Click rate as a percentage."
                },
                "totalClicks": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of clicks."
                },
                "uniqueClicks": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Unique click count."
                }
              }
            }
          }
        },
        "operationId": "GetEmailClickRate",
        "summary": "Email Performance: Get click rate",
        "description": "Get click rate metrics for a specific email.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the email.",
            "x-ms-summary": "EmailID"
          },
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by group ID.",
            "x-ms-summary": "Group ID"
          }
        ]
      }
    },
    "/email-performance/{emailId}/engagement-trend": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "clicks": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total clicks."
                },
                "opens": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total opens."
                },
                "totalRecipients": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total recipients."
                }
              }
            }
          }
        },
        "operationId": "GetEmailEngagementTrend",
        "summary": "Email Performance: Get engagement trend",
        "description": "Get engagement trend (clicks, opens, recipients) for a specific email.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the email.",
            "x-ms-summary": "EmailID"
          }
        ]
      }
    },
    "/email-performance/{emailId}/opens": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "percentage": {
                  "type": "number",
                  "format": "float",
                  "description": "Open rate as a percentage."
                },
                "totalOpens": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of opens."
                },
                "uniqueOpens": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Unique open count."
                }
              }
            }
          }
        },
        "operationId": "GetEmailOpenRate",
        "summary": "Email Performance: Get open rate",
        "description": "Get open rate metrics for a specific email.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the email.",
            "x-ms-summary": "EmailID"
          }
        ]
      }
    },
    "/email-performance/{emailId}/recipient-count": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total recipient count."
                }
              }
            }
          }
        },
        "operationId": "GetEmailRecipientCount",
        "summary": "Email Performance: Get recipient count",
        "description": "Get the total recipient count for a specific email.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the email.",
            "x-ms-summary": "EmailID"
          }
        ]
      }
    },
    "/email-performance/{emailId}/top-clicked-links": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "The clicked URL."
                  },
                  "uniqueClicks": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Unique click count for this URL."
                  }
                }
              }
            }
          }
        },
        "operationId": "GetTopClickedLinks",
        "summary": "Email Performance: Get top clicked links",
        "description": "Get the most clicked links in a specific email.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the email.",
            "x-ms-summary": "EmailID"
          }
        ]
      }
    },
    "/email-performance/{emailId}/total-activity-over-time": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "timeseries": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "Activity over time data points."
                }
              }
            }
          }
        },
        "operationId": "GetEmailTotalActivityOverTime",
        "summary": "Email Performance: Get total activity over time",
        "description": "Get total clicks and opens over time for a specific email.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the email.",
            "x-ms-summary": "EmailID"
          },
          {
            "name": "groupBy",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "HOUR",
              "DAY",
              "WEEK"
            ],
            "description": "Time grouping.",
            "x-ms-summary": "Group By"
          },
          {
            "name": "since",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Start date (ISO 8601).",
            "x-ms-summary": "Since"
          },
          {
            "name": "until",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "End date (ISO 8601).",
            "x-ms-summary": "Until"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Timezone.",
            "x-ms-summary": "Timezone"
          },
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by group ID.",
            "x-ms-summary": "Group ID"
          }
        ]
      }
    },
    "/email-performance/{emailId}/unique-activity-over-time": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "timeseries": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "Unique activity over time data points."
                }
              }
            }
          }
        },
        "operationId": "GetEmailUniqueActivityOverTime",
        "summary": "Email Performance: Get unique activity over time",
        "description": "Get unique clicks and opens over time for a specific email.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the email.",
            "x-ms-summary": "EmailID"
          },
          {
            "name": "groupBy",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "HOUR",
              "DAY",
              "WEEK"
            ],
            "description": "Time grouping.",
            "x-ms-summary": "Group By"
          },
          {
            "name": "since",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Start date (ISO 8601).",
            "x-ms-summary": "Since"
          },
          {
            "name": "until",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "End date (ISO 8601).",
            "x-ms-summary": "Until"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Timezone.",
            "x-ms-summary": "Timezone"
          },
          {
            "name": "groupId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by group ID.",
            "x-ms-summary": "Group ID"
          }
        ]
      }
    },
    "/email-performance/{emailId}/user-groups": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  },
                  "description": "Audience group data."
                }
              }
            }
          }
        },
        "operationId": "GetEmailUserGroups",
        "summary": "Email Performance: Get audience groups",
        "description": "Get user groups in the audience of a specific email.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the email.",
            "x-ms-summary": "EmailID"
          }
        ]
      }
    },
    "/groups": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of groups."
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Items returned."
                },
                "cursor": {
                  "type": "string",
                  "description": "Cursor for pagination."
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/groupData"
                  }
                }
              }
            }
          }
        },
        "operationId": "GetGroups",
        "produces": [
          "application/vnd.staffbase.accessors.groups.v2+json"
        ],
        "summary": "Groups: Get list of groups",
        "description": "Get a list of groups.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "maximum": 500,
            "description": "Items to return (max 500).",
            "x-ms-summary": "Limit"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "Group created.",
            "schema": {
              "$ref": "#/definitions/groupData"
            }
          }
        },
        "consumes": [
          "application/vnd.staffbase.accessors.group-create.v2+json"
        ],
        "operationId": "CreateGroup",
        "summary": "Groups: Create a group",
        "description": "Create a new group. Proxy converts localization array to locale-keyed object automatically.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "localization": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "locale": {
                            "type": "string",
                            "description": "Locale."
                          },
                          "name": {
                            "type": "string",
                            "description": "Group name."
                          },
                          "description": {
                            "type": "string",
                            "description": "Group description."
                          }
                        }
                      }
                    }
                  }
                },
                "externalId": {
                  "type": "string",
                  "description": "External identifier."
                },
                "accessorIds": {
                  "type": "object",
                  "properties": {
                    "branchAccess": {
                      "type": "boolean",
                      "description": "Whether all branch members have access."
                    }
                  }
                },
                "adminIds": {
                  "type": "object",
                  "properties": {
                    "userIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "groupIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/groups/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32"
                },
                "cursor": {
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/groupData"
                  }
                }
              }
            }
          }
        },
        "operationId": "SearchGroups",
        "produces": [
          "application/vnd.staffbase.accessors.groups-search.v1+json"
        ],
        "summary": "Groups: Search groups",
        "description": "Search for groups by query or filter.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sort order.",
            "x-ms-summary": "Sort"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Items to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query.",
            "x-ms-summary": "Query"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "conditional",
              "internal",
              "open"
            ],
            "description": "Filter by group type.",
            "x-ms-summary": "Type"
          },
          {
            "name": "permission",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "manage",
              "access"
            ],
            "description": "Filter by permission.",
            "x-ms-summary": "Permission"
          }
        ]
      }
    },
    "/groups/{groupId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/groupData"
            }
          }
        },
        "operationId": "GetGroup",
        "produces": [
          "application/vnd.staffbase.accessors.group.v3+json"
        ],
        "summary": "Groups: Get a group by ID",
        "description": "Get a specific group by its ID.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the group.",
            "x-ms-summary": "GroupID"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/groupData"
            }
          }
        },
        "consumes": [
          "application/vnd.staffbase.accessors.group-update.v1+json"
        ],
        "operationId": "PatchGroup",
        "summary": "Groups: Partially update a group",
        "description": "Partially update a group.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the group.",
            "x-ms-summary": "GroupID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "localization": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "locale": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "externalId": {
                  "type": "string"
                },
                "accessorIds": {
                  "type": "object",
                  "properties": {
                    "branchAccess": {
                      "type": "boolean"
                    }
                  }
                },
                "adminIds": {
                  "type": "object",
                  "properties": {
                    "userIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "groupIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "Group deleted.",
            "schema": {}
          }
        },
        "operationId": "DeleteGroup",
        "summary": "Groups: Delete a group",
        "description": "Delete a specific group by its ID.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the group.",
            "x-ms-summary": "GroupID"
          }
        ]
      }
    },
    "/groups/{groupId}/members": {
      "patch": {
        "responses": {
          "204": {
            "description": "Members updated.",
            "schema": {}
          }
        },
        "operationId": "PatchGroupMembers",
        "summary": "Groups: Add or remove group members",
        "description": "Add or remove members from a group. The Content-Type header determines the operation: add members uses application/vnd.staffbase.accessors.group.members-add.v1+json, remove members uses application/vnd.staffbase.accessors.group.members-remove.v1+json.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "enum": [
              "application/vnd.staffbase.accessors.group.members-add.v1+json",
              "application/vnd.staffbase.accessors.group.members-remove.v1+json"
            ],
            "default": "application/vnd.staffbase.accessors.group.members-add.v1+json",
            "description": "Use the add type to add members, or the remove type to remove members.",
            "x-ms-summary": "Operation"
          },
          {
            "name": "groupId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the group.",
            "x-ms-summary": "GroupID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "userIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of user IDs or email addresses to add or remove."
                }
              }
            }
          }
        ]
      }
    },
    "/groups/{groupId}/members/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32"
                },
                "cursor": {
                  "type": "string"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/userData"
                  }
                }
              }
            }
          }
        },
        "operationId": "SearchGroupMembers",
        "produces": [
          "application/vnd.staffbase.accessors.group.members-search.v1+json"
        ],
        "summary": "Groups: Search members of a group",
        "description": "Search users who are members of a specific group.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID of the group.",
            "x-ms-summary": "GroupID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Items to return.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query.",
            "x-ms-summary": "Query"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "pending",
              "activated",
              "deactivated",
              "contact"
            ],
            "description": "Filter by status.",
            "x-ms-summary": "Status"
          }
        ]
      }
    },
    "/installations/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "entries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "$ref": "#/definitions/installationData"
                      }
                    }
                  },
                  "description": "List of installation entries."
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of results."
                },
                "nextCursor": {
                  "type": "string",
                  "description": "Cursor for next page."
                }
              }
            }
          }
        },
        "operationId": "SearchInstallations",
        "summary": "Installations: Search plugin installations",
        "description": "Search plugin installations. Proxy converts locale-keyed contents and config.localization to arrays automatically.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search query.",
            "x-ms-summary": "Query"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "maximum": 100,
            "description": "Items to return (max 100).",
            "x-ms-summary": "Limit"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "updated_asc",
              "updated_desc",
              "published_asc",
              "published_desc",
              "created_asc",
              "created_desc",
              "relevance_asc",
              "relevance_desc"
            ],
            "description": "Sort order.",
            "x-ms-summary": "Sort"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor"
          }
        ]
      }
    },
    "/media": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of assets that are found."
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The amount of items that are returned."
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current defined offset for getting the items starting at this number."
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/mediaData"
                  }
                }
              }
            }
          }
        },
        "summary": "Media: Get all media",
        "description": "Requests description of all media available in the current context.",
        "operationId": "MediaGet",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 100,
            "description": "Limit the number of items here.",
            "x-ms-visibility": "important",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "Set an offset for the query.",
            "x-ms-visibility": "important",
            "format": "int32",
            "x-ms-summary": "Offset"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/mediaData"
            }
          }
        },
        "consumes": [
          "multipart/form-data"
        ],
        "operationId": "MediaUpload",
        "summary": "Media: Upload media",
        "description": "Upload a media file to the media library.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "string",
            "format": "binary",
            "description": "The file to upload.",
            "x-ms-summary": "File"
          },
          {
            "name": "metadata",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Optional metadata for the file.",
            "x-ms-summary": "Metadata"
          }
        ]
      }
    },
    "/media/publish": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of published URLs."
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "MediaPublish",
        "summary": "Media: Publish media URLs (admin)",
        "description": "WARNING: Published URLs are permanent and cannot be revoked.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Array of media URLs to publish."
                }
              }
            }
          }
        ]
      }
    },
    "/media/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
[...]
