{
  "swagger": "2.0",
  "info": {
    "title": "ApyHub Generate iCal",
    "description": "ApyHub is the a service utility belt that helps developers save time and boost efficiency. Included are actions creating iCalendar file and URL address.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.apyhub.com",
  "basePath": "/generate/ical/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/file": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Get iCal file",
        "description": "Generates an iCalendar file for the given parameters.",
        "operationId": "FilePost",
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "x-ms-summary": "Output",
            "description": "The output file name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "summary": {
                  "type": "string",
                  "description": "The summary or title of the calendar event.",
                  "title": "Summary"
                },
                "description": {
                  "type": "string",
                  "description": "The description of the calendar event.",
                  "title": "Description"
                },
                "organizer_email": {
                  "type": "string",
                  "description": "The email of the organizer of the event.",
                  "title": "Organizer Email"
                },
                "attendees_emails": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The emails of the event attendees.",
                  "title": "Attendees Emails"
                },
                "location": {
                  "type": "string",
                  "description": "The location of the event.",
                  "title": "Location"
                },
                "time_zone": {
                  "type": "string",
                  "description": "The timezone for the event.",
                  "title": "Timezone"
                },
                "start_time": {
                  "type": "string",
                  "description": "The start time of the event.",
                  "title": "Start Time"
                },
                "end_time": {
                  "type": "string",
                  "description": "The end time of the event.",
                  "title": "End Time"
                },
                "meeting_date": {
                  "type": "string",
                  "description": "The meeting date, in the format DD-MM-YYYY.",
                  "title": "Meeting Date"
                },
                "recurring": {
                  "type": "boolean",
                  "description": "",
                  "title": "Recurring"
                },
                "recurrence": {
                  "type": "object",
                  "properties": {
                    "frequency": {
                      "type": "string",
                      "description": "The recurrence frequency.",
                      "title": "Frequency",
                      "enum": [
                        "DAILY",
                        "WEEKLY",
                        "MONTHLY",
                        "YEARLY"
                      ]
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of times this even should recur.",
                      "title": "Count"
                    }
                  },
                  "title": "Recurrence"
                }
              }
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "FilePost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/url": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get iCal URL",
        "description": "Retrieve an iCalendar URL address for the given parameters.",
        "operationId": "URLPost",
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "x-ms-summary": "Output",
            "description": "The output file URL address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "summary": {
                  "type": "string",
                  "description": "The summary or title of the calendar event.",
                  "title": "Summary"
                },
                "description": {
                  "type": "string",
                  "description": "The description of the calendar event.",
                  "title": "Description"
                },
                "organizer_email": {
                  "type": "string",
                  "description": "The email of the organizer of the event.",
                  "title": "Organizer Email"
                },
                "attendees_emails": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The emails of the event attendees.",
                  "title": "Attendees Emails"
                },
                "location": {
                  "type": "string",
                  "description": "The location of the event.",
                  "title": "Location"
                },
                "time_zone": {
                  "type": "string",
                  "description": "The timezone for the event.",
                  "title": "Timezone"
                },
                "start_time": {
                  "type": "string",
                  "description": "The start time of the event.",
                  "title": "Start Time"
                },
                "end_time": {
                  "type": "string",
                  "description": "The end time of the event.",
                  "title": "End Time"
                },
                "meeting_date": {
                  "type": "string",
                  "description": "The meeting date, in the format DD-MM-YYYY.",
                  "title": "Meeting Date"
                },
                "recurring": {
                  "type": "boolean",
                  "description": "",
                  "title": "Recurring"
                },
                "recurrence": {
                  "type": "object",
                  "properties": {
                    "frequency": {
                      "type": "string",
                      "description": "The recurrence frequency.",
                      "title": "Frequency",
                      "enum": [
                        "DAILY",
                        "WEEKLY",
                        "MONTHLY",
                        "YEARLY"
                      ]
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of times this even should recur.",
                      "title": "Count"
                    }
                  },
                  "title": "Recurrence"
                }
              }
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "URLPost",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apy-token"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apyhub.com/utility/generator-ical"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://apyhub.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Content and Files"
    }
  ],
  "x-ms-openai-manifest": {
    "humanName": "ApyHub Generate iCal",
    "modelDescription": "This is a Copilot plugin for the Generate iCalendar service from ApyHub.",
    "contactEmail": "ttaylor@hitachisolutions.com"
  }
}