{
  "swagger": "2.0",
  "info": {
    "title": "Tophhie Cloud API",
    "description": "Access publicly available APIs from the Tophhie Cloud API service. These APIs are aimed to help you access information.",
    "version": "1.0"
  },
  "host": "api.tophhie.cloud",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/tenantinfo": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tenantId": {
                  "type": "string",
                  "description": "tenantId"
                },
                "federationBrandName": {
                  "type": "string",
                  "description": "federationBrandName"
                },
                "tenantDisplayName": {
                  "type": "string",
                  "description": "tenantDisplayName"
                },
                "defaultDomainName": {
                  "type": "string",
                  "description": "defaultDomainName"
                },
                "bannerLogo": {
                  "type": "string",
                  "description": "bannerLogo"
                },
                "tenantRegion": {
                  "type": "string",
                  "description": "tenantRegion"
                },
                "desktopSsoEnabled": {
                  "type": "boolean",
                  "description": "desktopSsoEnabled"
                },
                "verifiedEmailSignUpDisallowed": {
                  "type": "boolean",
                  "description": "verifiedEmailSignUpDisallowed"
                },
                "tenantIsUnmanaged": {
                  "type": "boolean",
                  "description": "tenantIsUnmanaged"
                },
                "verifiedDomains": {
                  "type": "integer",
                  "format": "int32",
                  "description": "verifiedDomains"
                },
                "additionalDomains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "additionalDomains"
                }
              }
            }
          }
        },
        "summary": "Fetch Entra ID Tenant Information",
        "description": "Fetches publicly available Entra ID Tenant Information (domainName takes priority over tenantID).",
        "operationId": "Tophhie-Cloud-TenantInfo",
        "parameters": [
          {
            "name": "tenantID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Microsoft Entra Tenant ID"
          },
          {
            "name": "domainName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Company Domain Name"
          }
        ]
      }
    },
    "/entra/convertid/d35aaeb0-fef1-4f6a-894d-ded53af567d5": {},
    "/entra/convertid/{Identifier}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "converted_id": {
                  "type": "string",
                  "description": "converted_id"
                },
                "convert_direction": {
                  "type": "string",
                  "description": "convert_direction"
                },
                "support": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    }
                  },
                  "description": "support"
                }
              }
            }
          }
        },
        "summary": "Entra ID - ID Converter",
        "description": "Converts Object IDs to SIDs or SIDs to Object IDs",
        "operationId": "Tophhie-Cloud-EntraIDIDConverter",
        "parameters": [
          {
            "name": "Identifier",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Object ID or SID"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}