{
  "swagger": "2.0",
  "info": {
    "title": "Snowflake REST",
    "description": "Snowflake connector based on Snowflake REST API (private preview) for Snowflake API V2",
    "version": "1.0"
  },
  "host": "uniper.west-europe.azure.snowflakecomputing.com",
  "basePath": "/api/v2/statements",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The statement was executed successfully, and the response includes any data requested.",
            "x-ms-summary": "Message",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "000123"
                },
                "sqlState": {
                  "type": "string",
                  "example": "42601"
                },
                "message": {
                  "type": "string",
                  "example": "successfully executed"
                },
                "statementHandle": {
                  "type": "string",
                  "example": "536fad38-b564-4dc5-9892-a4543504df6c"
                },
                "createdOn": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Timestamp that specifies when the statement execution started. The timestamp is expressed in milliseconds since the epoch",
                  "example": 1597090533987
                },
                "statementStatusUrl": {
                  "type": "string",
                  "example": "/api/v2/statements/536fad38-b564-4dc5-9892-a4543504df6c"
                },
                "resultSetMetaData": {
                  "type": "object",
                  "properties": {
                    "format": {
                      "type": "string",
                      "enum": [
                        "jsonv2"
                      ],
                      "description": "For v2 endpoints the only possible value for this field is jsonv2.",
                      "example": "jsonv2"
                    },
                    "rowType": {
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "nullable": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "partitionInfo": {
                  "description": "Partition information",
                  "type": "array",
                  "minItems": 0,
                  "items": {
                    "type": "object",
                    "properties": {
                      "rowCount": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Number of rows in the partition.",
                        "minimum": 0,
                        "example": 1324
                      },
                      "compressedSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "the partition size before the decompression. This may or may not be present in the partitionInfo. Uncompressed size would always be there.",
                        "minimum": 0,
                        "example": 37436824
                      },
                      "uncompressedSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "the partition size after the decompression",
                        "minimum": 0,
                        "example": 1343787384
                      }
                    }
                  }
                },
                "nullable": {
                  "description": "false if null is replaced with a string 'null' otherwise false",
                  "type": "boolean"
                },
                "data": {
                  "description": "Result set data.",
                  "type": "array",
                  "minItems": 0,
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "stats": {
                  "type": "object",
                  "description": "these stats might not be available for each request.",
                  "properties": {
                    "numRowsInserted": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of rows that were inserted.",
                      "minimum": 0,
                      "example": 12
                    },
                    "numRowsUpdated": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of rows that were updated.",
                      "minimum": 0,
                      "example": 9
                    },
                    "numRowsDeleted": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of rows that were deleted.",
                      "minimum": 0,
                      "example": 8
                    },
                    "numDuplicateRowsUpdated": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of duplicate rows that were updated.",
                      "minimum": 0,
                      "example": 20
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            },
            "headers": {
              "HTTP/1.1": {
                "description": "HTTP/1.1",
                "type": "string"
              },
              "Date": {
                "description": "Date",
                "type": "string"
              },
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Content-Length": {
                "description": "Content-Length",
                "type": "integer"
              }
            }
          }
        },
        "summary": "Submit SQL Statement for Execution",
        "description": "Submit a SQL Statement for Execution",
        "operationId": "ExecuteSqlStatement",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "default": "application/json",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/json",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "requestId",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "async",
            "in": "query",
            "type": "boolean",
            "default": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "nullable",
            "in": "query",
            "type": "boolean",
            "default": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "statement": {
                  "type": "string",
                  "description": "The SQL statement to be executed - batches of statements not yet supported"
                },
                "timeout": {
                  "type": "integer",
                  "default": 60,
                  "description": "timeout",
                  "x-ms-visibility": "advanced"
                },
                "database": {
                  "type": "string",
                  "description": "database"
                },
                "schema": {
                  "type": "string",
                  "description": "schema"
                },
                "warehouse": {
                  "type": "string",
                  "description": "warehouse"
                },
                "role": {
                  "type": "string",
                  "description": "role"
                },
                "bindings": {
                  "description": "Values of bind variables in the SQL statement. When executing the statement, Snowflake replaces placeholders ('?' and ':name') in the statement with these specified values.",
                  "type": "object",
                  "properties": {},
                  "x-ms-visibility": "advanced"
                },
                "parameters": {
                  "description": "Session parameters that should be set before executing the statement.",
                  "type": "object",
                  "properties": {
                    "timezone": {
                      "description": "Time zone to use when executing the statement.",
                      "type": "string",
                      "example": "america/los_angeles"
                    },
                    "query_tag": {
                      "description": "Query tag that you want to associate with the SQL statement.",
                      "type": "string",
                      "example": "tag-1234"
                    },
                    "binary_output_format": {
                      "description": "Output format for binary values.",
                      "type": "string",
                      "example": "HEX"
                    },
                    "date_output_format": {
                      "description": "Output format for DATE values.",
                      "type": "string",
                      "example": "YYYY-MM-DD"
                    },
                    "time_output_format": {
                      "description": "Output format for TIME values.",
                      "type": "string",
                      "example": "HH24:MI:SS.FF6"
                    },
                    "timestamp_output_format": {
                      "description": "Output format for TIMESTAMP values.",
                      "type": "string",
                      "example": "YYYY-MM-DDTHH24:MI:SS.FF6"
                    },
                    "timestamp_ltz_output_format": {
                      "description": "Output format for TIMESTAMP_LTZ values.",
                      "type": "string",
                      "example": "YYYY-MM-DDTHH24:MI:SS.FF6"
                    },
                    "timestamp_ntz_output_format": {
                      "description": "Output format for TIMESTAMP_NTZ values.",
                      "type": "string",
                      "example": "YYYY-MM-DDTHH24:MI:SS.FF6"
                    },
                    "timestamp_tz_output_format": {
                      "description": "Output format for TIMESTAMP_TZ values.",
                      "type": "string",
                      "example": "YYYY-MM-DDTHH24:MI:SS.FF6 TZHTZM"
                    },
                    "multi_statement_count": {
                      "description": "Number of statements to execute when using multi-statement capability. 0 implies variable number of statements. Negative numbers are not allowed.",
                      "type": "integer",
                      "example": 4,
                      "default": 1
                    }
                  },
                  "x-ms-visibility": "advanced"
                }
              }
            }
          }
        ]
      }
    },
    "/{statementHandle}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success operation",
            "x-ms-summary": "Message",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "000123"
                },
                "sqlState": {
                  "type": "string",
                  "example": "42601"
                },
                "message": {
                  "type": "string",
                  "example": "successfully executed"
                },
                "statementHandle": {
                  "type": "string",
                  "example": "536fad38-b564-4dc5-9892-a4543504df6c"
                },
                "createdOn": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Timestamp that specifies when the statement execution started. The timestamp is expressed in milliseconds since the epoch",
                  "example": 1597090533987
                },
                "statementStatusUrl": {
                  "type": "string",
                  "example": "/api/v2/statements/536fad38-b564-4dc5-9892-a4543504df6c"
                },
                "resultSetMetaData": {
                  "type": "object",
                  "properties": {
                    "format": {
                      "type": "string",
                      "enum": [
                        "jsonv2"
                      ],
                      "description": "For v2 endpoints the only possible value for this field is jsonv2.",
                      "example": "jsonv2"
                    },
                    "rowType": {
                      "type": "array",
                      "minItems": 1,
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "nullable": {
                            "type": "boolean"
                          }
                        },
                        "additionalProperties": true
                      }
                    }
                  }
                },
                "partitionInfo": {
                  "description": "Partition information",
                  "type": "array",
                  "minItems": 0,
                  "items": {
                    "type": "object",
                    "properties": {
                      "rowCount": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Number of rows in the partition.",
                        "minimum": 0,
                        "example": 1324
                      },
                      "compressedSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "the partition size before the decompression. This may or may not be present in the partitionInfo. Uncompressed size would always be there.",
                        "minimum": 0,
                        "example": 37436824
                      },
                      "uncompressedSize": {
                        "type": "integer",
                        "format": "int64",
                        "description": "the partition size after the decompression",
                        "minimum": 0,
                        "example": 1343787384
                      }
                    }
                  }
                },
                "nullable": {
                  "description": "false if null is replaced with a string 'null' otherwise false",
                  "type": "boolean"
                },
                "data": {
                  "description": "Result set data.",
                  "type": "array",
                  "minItems": 0,
                  "items": {
                    "type": "object",
                    "additionalProperties": true
                  }
                },
                "stats": {
                  "type": "object",
                  "description": "these stats might not be available for each request.",
                  "properties": {
                    "numRowsInserted": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of rows that were inserted.",
                      "minimum": 0,
                      "example": 12
                    },
                    "numRowsUpdated": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of rows that were updated.",
                      "minimum": 0,
                      "example": 9
                    },
                    "numRowsDeleted": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of rows that were deleted.",
                      "minimum": 0,
                      "example": 8
                    },
                    "numDuplicateRowsUpdated": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Number of duplicate rows that were updated.",
                      "minimum": 0,
                      "example": 20
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Asynchronous execution in progress. Use provided query id to perform query monitoring and management.",
            "x-ms-summary": "Message",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "summary": "Check the Status and Get Results",
        "description": "Check the Status of the Execution of a Statement and Get the Results",
        "operationId": "GetResults",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "default": "application/json",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/json",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "statementHandle",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestId",
            "in": "query",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "partition",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "resultSetMetaData",
            "in": "header",
            "type": "string"
          }
        ]
      }
    },
    "/{statementHandle}/cancel": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "x-ms-summary": "Message",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code"
                },
                "sqlState": {
                  "type": "string",
                  "description": "sqlState"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "statementHandle": {
                  "type": "string",
                  "description": "statementHandle"
                },
                "statementStatusUrl": {
                  "type": "string",
                  "description": "statementStatusUrl"
                }
              }
            }
          },
          "default": {
            "description": "Asynchronous execution in progress. Use provided query id to perform query monitoring and management.",
            "x-ms-summary": "Message",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        },
        "summary": "Cancel the Execution of a Statement",
        "description": "Cancel the Execution of a Statement",
        "operationId": "Cancel",
        "parameters": [
          {
            "name": "statementHandle",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "default": "application/json",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "default": "application/json",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal"
          },
          {
            "name": "requestId",
            "in": "query",
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://uniper.west-europe.azure.snowflakecomputing.com/oauth/token-request",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}
