{
  "swagger": "2.0",
  "info": {
    "title": "IBM Watson Assistant",
    "description": "The IBM Watson Assistant service combines machine learning, natural language understanding, and an integrated dialog editor to create conversation flows between your apps and your users.",
    "version": "1.0",
    "contact": {
      "name": "Lucas Titus",
      "url": "https://uk.linkedin.com/in/lucas-titus-a59541176",
      "email": "lucas.titus.21@ucl.ac.uk"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://cloud.ibm.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ibm.com/us-en/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ],
  "host": "assistant.watson.cloud.ibm.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/sessions": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "session_id": {
                  "type": "string",
                  "description": "session_id"
                }
              }
            }
          }
        },
        "summary": "Create a session",
        "description": "Create a new session. A session is used to send user input to a skill and receive responses.",
        "operationId": "CreateSession",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2021-11-27",
            "description": "date of release of Watson Assistant version",
            "x-ms-summary": "version"
          }
        ]
      }
    },
    "/sessions/{session}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete session",
        "description": "Deletes a session explicitly before it times out.",
        "operationId": "DeleteSession",
        "parameters": [
          {
            "name": "session",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "session",
            "x-ms-summary": "session"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2021-11-27",
            "description": "date of release of Watson Assistant version",
            "x-ms-summary": "version"
          }
        ]
      }
    },
    "/sessions/{session}/message": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "output": {
                  "type": "object",
                  "properties": {
                    "intents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "intent": {
                            "type": "string",
                            "description": "intent"
                          },
                          "confidence": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence"
                          }
                        }
                      },
                      "description": "intents"
                    },
                    "generic": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response_type": {
                            "type": "string",
                            "description": "response_type"
                          },
                          "text": {
                            "type": "string",
                            "description": "text"
                          }
                        }
                      },
                      "description": "generic"
                    }
                  },
                  "description": "output"
                },
                "user_id": {
                  "type": "string",
                  "description": "user_id"
                }
              }
            }
          }
        },
        "summary": "Stateful Message",
        "description": "Send user input to an assistant and receive a response, with conversation state (including context data) stored by Watson Assistant for the duration of the session.",
        "operationId": "StatefulMessage",
        "parameters": [
          {
            "name": "session",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "session",
            "x-ms-summary": "session"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2021-11-27",
            "description": "date of release of Watson Assistant version",
            "x-ms-summary": "version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "text",
                      "title": ""
                    }
                  },
                  "description": "input",
                  "required": [
                    "text"
                  ]
                }
              },
              "required": [
                "input"
              ]
            }
          }
        ]
      }
    },
    "/message": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "output": {
                  "type": "object",
                  "properties": {
                    "intents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "intent": {
                            "type": "string",
                            "description": "intent"
                          },
                          "confidence": {
                            "type": "number",
                            "format": "float",
                            "description": "confidence"
                          }
                        }
                      },
                      "description": "intents"
                    },
                    "generic": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "response_type": {
                            "type": "string",
                            "description": "response_type"
                          },
                          "text": {
                            "type": "string",
                            "description": "text"
                          }
                        }
                      },
                      "description": "generic"
                    }
                  },
                  "description": "output"
                },
                "user_id": {
                  "type": "string",
                  "description": "user_id"
                }
              }
            }
          }
        },
        "summary": "Stateless Message",
        "description": "Send user input to an assistant and receive a response, with conversation state (including context data) managed by your application.",
        "operationId": "StatelessMessage",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2021-11-27",
            "description": "date of release of Watson Assistant version",
            "x-ms-summary": "version"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "input": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "text",
                      "title": ""
                    }
                  },
                  "description": "input",
                  "required": [
                    "text"
                  ]
                }
              },
              "required": [
                "input"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": []
}