{
  "swagger": "2.0",
  "info": {
    "title": "LINK Mobility",
    "description": "LINK Mobility provides a SMS text message gateway that can be used to send SMS messages as part of business flows. To use the connector, you must contact LINK Mobility support to purchase a service subscription and obtain login information.",
    "version": "1.0",
    "contact": {
      "name": "LINK Mobility Support",
      "url": "https://linkmobility.dk/support/",
      "email": "support@linkmobility.dk"
    }
  },
  "host": "wsx.sp247.net",
  "basePath": "/sms/send",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "messageId"
                },
                "resultCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "resultCode"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "translatedDescription": {
                  "type": "string",
                  "description": "translatedDescription"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "translatedDescription": {
                  "type": "string",
                  "description": "translatedDescription"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "translatedDescription": {
                  "type": "string",
                  "description": "translatedDescription"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "translatedDescription": {
                  "type": "string",
                  "description": "translatedDescription"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Send SMS",
        "description": "Send an SMS Message",
        "operationId": "Sendsms",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "source": {
                  "type": "string",
                  "description": "Source (telephone number or name)",
                  "title": "Source",
                  "x-ms-visibility": "important"
                },
                "destination": {
                  "type": "string",
                  "description": "The telephone number of the recipient. Please include country code (i.e. +45)",
                  "title": "Destination",
                  "x-ms-visibility": "important"
                },
                "userData": {
                  "type": "string",
                  "description": "SMS message text",
                  "title": "Text",
                  "x-ms-visibility": "important"
                },
                "platformId": {
                  "type": "string",
                  "description": "Platform ID (provided by LINK Mobility Support)",
                  "title": "Platform ID",
                  "x-ms-visibility": "important"
                },
                "platformPartnerId": {
                  "type": "string",
                  "description": "Platform Partner ID (provided by LINK Mobility Support)",
                  "title": "Platform Partner ID",
                  "x-ms-visibility": "important"
                },
                "useDeliveryReport": {
                  "type": "boolean",
                  "description": "useDeliveryReport",
                  "title": "Use Delivery Report",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "destination",
                "platformId",
                "platformPartnerId",
                "userData",
                "source",
                "useDeliveryReport"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://linkmobility.dk"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://linkmobility.dk/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": []
}