{
  "swagger": "2.0",
  "info": {
    "description": "Morf is a modern and lightweight API-driven platform that offers a rapid and flexible approach to form generation.",
    "version": "1.0",
    "title": "Morf",
    "termsOfService": "https://github.com/aftialabs/morf-docs/blob/main/guides/termsandconditions.md",
    "contact": {
      "name": "Morf Support",
      "url": "https://getmorf.io/support",
      "email": "support@getmorf.io"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://getmorf.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://github.com/aftialabs/morf-docs/blob/main/guides/DataandPrivacyPolicy.md"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Sales and CRM"
    }
  ],
  "host": "api.getmorf.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1": {
      "post": {
        "summary": "Render a new Morf data capture experience (V1)",
        "description": "Call this API with a Morf form definition and optionally data to receive a prefilled form document that can be presented to a user in a browser context.",
        "operationId": "render",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "render",
            "schema": {
              "$ref": "#/definitions/RenderRequest"
            },
            "description": "A form render request",
            "required": true
          }
        ],
        "security": [
          {
            "API-Key": []
          }
        ],
        "responses": {
          "200": {
            "description": "A form render response",
            "schema": {
              "$ref": "#/definitions/RenderResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/InvalidAuthentication"
          },
          "500": {
            "$ref": "#/responses/RenderError"
          }
        }
      }
    },
    "/transformation/v1/transform/jsonata": {
      "post": {
        "summary": "Transform a JSON payload using JSONata (V1)",
        "description": "Call this API with a JSON payload and a JSONata query or transformation expression to receive the modified data or query result.",
        "operationId": "transformJsonata",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "transformation",
            "schema": {
              "$ref": "#/definitions/TransformationRequest"
            },
            "description": "A data transformation request",
            "required": true
          }
        ],
        "security": [
          {
            "API-Key": []
          }
        ],
        "responses": {
          "200": {
            "description": "A transformation response",
            "schema": {
              "$ref": "#/definitions/TransformationResponse"
            }
          },
          "400": {
            "$ref": "#/responses/BadRequest"
          },
          "401": {
            "$ref": "#/responses/InvalidAuthentication"
          },
          "500": {
            "$ref": "#/responses/RenderError"
          }
        }
      }
    }
  },
  "definitions": {
    "RenderRequest": {
      "type": "object",
      "required": [
        "form"
      ],
      "properties": {
        "form": {
          "type": "string",
          "description": "Form definition to be rendered",
          "x-ms-summary": "Form Definition",
          "x-ms-visibility": "important"
        },
        "data": {
          "type": "string",
          "description": "(Optional) Data to be used to prefill the form",
          "x-ms-summary": "Data"
        }
      }
    },
    "RenderResponse": {
      "type": "string",
      "description": "Rendered Morf HTML",
      "x-ms-summary": "Form"
    },
    "TransformationRequest": {
      "type": "object",
      "required": [
        "data",
        "expression"
      ],
      "properties": {
        "data": {
          "type": "string",
          "description": "Data to be queried or transformed",
          "x-ms-summary": "JSON Data",
          "x-ms-visibility": "important"
        },
        "expression": {
          "type": "string",
          "description": "JSONata expression to to execute against the data. See https://jsonata.org/",
          "x-ms-summary": "JSONata Expression",
          "x-ms-visibility": "important"

        }
      }
    },
    "TransformationResponse": {
      "type": "object",
      "description": "A transformation response object",
      "x-ms-summary": "Response",
      "required": [
        "result"
      ],
      "properties": {
        "result": {
          "type": "string",
          "description": "Result of the expression execution containing a string or a stringified object.",
          "x-ms-summary": "Result"
        }
      }
    },
    "ServiceException": {
      "type": "object",
      "description": "A server exception object",
      "x-ms-summary": "Error",
      "properties": {
        "status": {
          "type": "number",
          "description": "The HTTP status returned by the service",
          "x-ms-summary": "HTTP Status"
        },
        "error": {
          "type": "string",
          "description": "The error message returned by the service",
          "x-ms-summary": "Message"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp at which the error occured according to the service",
          "x-ms-summary": "Timestamp"
        }
      }
    }
  },
  "parameters": {},
  "responses": {
    "BadRequest": {
      "description": "Bad Request",
      "schema": {
        "$ref": "#/definitions/ServiceException"
      }
    },
    "InvalidAuthentication": {
      "description": "Invalid Authentication",
      "schema": {
        "$ref": "#/definitions/ServiceException"
      }
    },
    "RenderError": {
      "description": "Render Error",
      "schema": {
        "$ref": "#/definitions/ServiceException"
      }
    }
  },
  "securityDefinitions": {
    "API-Key": {
      "type": "apiKey",
      "in": "header",
      "name": "API-Key"
    }
  },
  "security": [],
  "tags": []
}