{
  "swagger": "2.0",
  "info": {
    "title": "ProPublica Campaign Finance",
    "description": "The Campaign Finance API includes information about electronic filings, which are submitted to the Federal Election Commission on nearly every day of the year. The API, which originated at The New York Times in 2008, provides details about specific types of filings, filings for a specific date and a summary of financial information in each filing.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.propublica.org",
  "basePath": "/campaign-finance/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{cycle}/candidates/search.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "num_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results.",
                  "title": "Results"
                },
                "offset": {
                  "type": "string",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "candidate": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "relative_uri": {
                            "type": "string",
                            "description": "The relative URI.",
                            "title": "Relative URI"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "party": {
                            "type": "string",
                            "description": "The party.",
                            "title": "Party"
                          }
                        },
                        "title": "Candidate"
                      },
                      "committee": {
                        "type": "string",
                        "description": "The committee.",
                        "title": "Committee"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "district": {
                        "type": "string",
                        "description": "The district.",
                        "title": "District"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Search for candidates",
        "description": "Retrieves candidates by first or last name.",
        "operationId": "CandidateSearch",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "The filter query.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/candidates/{fec-id}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "The display name.",
                        "title": "Display Name"
                      },
                      "party": {
                        "type": "string",
                        "description": "The party.",
                        "title": "Party"
                      },
                      "district": {
                        "type": "string",
                        "description": "The district.",
                        "title": "District"
                      },
                      "fec_uri": {
                        "type": "string",
                        "description": "The FEC URI.",
                        "title": "FEC URI"
                      },
                      "committee": {
                        "type": "string",
                        "description": "The committee.",
                        "title": "Committee"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "mailing_address": {
                        "type": "string",
                        "description": "The mailing address.",
                        "title": "Mailing Address"
                      },
                      "mailing_city": {
                        "type": "string",
                        "description": "The mailing city.",
                        "title": "Mailing City"
                      },
                      "mailing_state": {
                        "type": "string",
                        "description": "The mailing state.",
                        "title": "Mailing State"
                      },
                      "mailing_zip": {
                        "type": "string",
                        "description": "The mailing zip code.",
                        "title": "Mailing Zip"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "total_receipts": {
                        "type": "number",
                        "format": "float",
                        "description": "The total number of receipts.",
                        "title": "Total Receipts"
                      },
                      "total_from_individuals": {
                        "type": "number",
                        "format": "float",
                        "description": "The total amount from individuals.",
                        "title": "Total From Individuals"
                      },
                      "total_from_individuals_itemized": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The itemized total from individuals.",
                        "title": "Total From Individuals Itemized"
                      },
                      "total_from_individuals_unitemized": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The un-itemized total from individuals.",
                        "title": "Total From Individuals Un-itemized"
                      },
                      "percent_unitemized": {
                        "type": "number",
                        "format": "float",
                        "description": "The percent un-itemized.",
                        "title": "Percent Un-itemized"
                      },
                      "total_from_pacs": {
                        "type": "number",
                        "format": "float",
                        "description": "The total amount from PACs.",
                        "title": "Total From PACs"
                      },
                      "total_contributions": {
                        "type": "number",
                        "format": "float",
                        "description": "The total contributions.",
                        "title": "Total Contributions"
                      },
                      "candidate_loans": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The amount of candidate loans.",
                        "title": "Candidate Loans"
                      },
                      "transfers_in": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of transfers in.",
                        "title": "Transfers In"
                      },
                      "total_disbursements": {
                        "type": "number",
                        "format": "float",
                        "description": "The total disbursements.",
                        "title": "Total Disbursements"
                      },
                      "begin_cash": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount of beginning cash.",
                        "title": "Beginning Cash"
                      },
                      "end_cash": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount of end cash.",
                        "title": "End Cash"
                      },
                      "total_refunds": {
                        "type": "number",
                        "format": "float",
                        "description": "The refunds total.",
                        "title": "Total Refunds"
                      },
                      "individual_refunds": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount of individual refunds.",
                        "title": "Individual Refunds"
                      },
                      "pac_refunds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of PAC refunds.",
                        "title": "PAC Refunds"
                      },
                      "debts_owed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of debts owed.",
                        "title": "Debts Owed"
                      },
                      "date_coverage_from": {
                        "type": "string",
                        "description": "The coverage date from.",
                        "title": "Date Coverage From"
                      },
                      "date_coverage_to": {
                        "type": "string",
                        "description": "The coverage date to.",
                        "title": "Date Coverage To"
                      },
                      "independent_expenditures": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of independent expenditures.",
                        "title": "Independent Expenditures"
                      },
                      "coordinated_expenditures": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of coordinated expenditures.",
                        "title": "Coordinated Expenditures"
                      },
                      "other_cycles": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "The other cycles.",
                        "title": "Other Cycles"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "facebook_url": {
                        "type": "string",
                        "description": "The Facebook URL address.",
                        "title": "Facebook URL"
                      },
                      "gender": {
                        "type": "string",
                        "description": "Their gender.",
                        "title": "Gender"
                      },
                      "google_id": {
                        "type": "string",
                        "description": "The Google unique identifier.",
                        "title": "Google ID"
                      },
                      "twitter_user": {
                        "type": "string",
                        "description": "The Twitter user.",
                        "title": "Twitter User"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get a candidate",
        "description": "Retrieves a specific candidate.",
        "operationId": "CandidateGet",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fec-id",
            "in": "path",
            "x-ms-summary": "FEC ID",
            "x-ms-url-encoding": "single",
            "description": "The FEC unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/candidates/leaders/{category}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "relative_uri": {
                        "type": "string",
                        "description": "The relative URI.",
                        "title": "Relative URI"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "party": {
                        "type": "string",
                        "description": "The party.",
                        "title": "Party"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "district": {
                        "type": "string",
                        "description": "The district.",
                        "title": "District"
                      },
                      "committee": {
                        "type": "string",
                        "description": "The committee.",
                        "title": "Committee"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "total_from_individuals": {
                        "type": "number",
                        "format": "float",
                        "description": "The total amount from individuals.",
                        "title": "Total From Individuals"
                      },
                      "total_from_pacs": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total amount from PACs.",
                        "title": "Total From PACs"
                      },
                      "total_contributions": {
                        "type": "number",
                        "format": "float",
                        "description": "The total contributions.",
                        "title": "Total Contributions"
                      },
                      "candidate_loans": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount of candidate loans.",
                        "title": "Candidate Loans"
                      },
                      "total_disbursements": {
                        "type": "number",
                        "format": "float",
                        "description": "The total disbursements.",
                        "title": "Total Disbursements"
                      },
                      "begin_cash": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount of beginning cash.",
                        "title": "Beginning Cash"
                      },
                      "end_cash": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount of end cash.",
                        "title": "End Cash"
                      },
                      "total_refunds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The refunds total.",
                        "title": "Total Refunds"
                      },
                      "debts_owed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of debts owed.",
                        "title": "Debts Owed"
                      },
                      "date_coverage_from": {
                        "type": "string",
                        "description": "The coverage date from.",
                        "title": "Date Coverage From"
                      },
                      "date_coverage_to": {
                        "type": "string",
                        "description": "The coverage date to.",
                        "title": "Date Coverage To"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get top 20 candidates in specific financial category",
        "description": "Retrieves the top 20 candidates within a given financial category for a given campaign cycle.",
        "operationId": "CandidateTopFinancial",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          },
          {
            "name": "category",
            "in": "path",
            "x-ms-summary": "Category",
            "x-ms-url-encoding": "single",
            "description": "The category.",
            "required": true,
            "type": "string",
            "default": "contribution-total",
            "enum": [
              "candidate-loan",
              "contribution-total",
              "debts-owed",
              "disbursements-total",
              "end-card",
              "individual-total",
              "pac-total",
              "receipts-total",
              "refund-total"
            ]
          }
        ]
      }
    },
    "/{cycle}/races/{state}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "num_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results.",
                  "title": "Results"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "candidate": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "relative_uri": {
                            "type": "string",
                            "description": "The relative URI.",
                            "title": "Relative URI"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "party": {
                            "type": "string",
                            "description": "The party.",
                            "title": "Party"
                          }
                        },
                        "title": "Candidate"
                      },
                      "committee": {
                        "type": "string",
                        "description": "The committee.",
                        "title": "Committee"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "district": {
                        "type": "string",
                        "description": "The district.",
                        "title": "District"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get candidates from a state",
        "description": "Retrieves an array of FEC candidates for a given state (and optional chamber and district).",
        "operationId": "CandidateState",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          },
          {
            "name": "state",
            "in": "path",
            "x-ms-summary": "State",
            "x-ms-url-encoding": "single",
            "description": "The state.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/candidates/new.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "relative_uri": {
                        "type": "string",
                        "description": "The relative URI.",
                        "title": "Relative URI"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "district": {
                        "type": "string",
                        "description": "The district.",
                        "title": "District"
                      },
                      "mailing_city": {
                        "type": "string",
                        "description": "The mailing city.",
                        "title": "Mailing City"
                      },
                      "mailing_state": {
                        "type": "string",
                        "description": "The mailing state.",
                        "title": "Mailing State"
                      },
                      "mailing_zip": {
                        "type": "string",
                        "description": "The mailing zip code.",
                        "title": "Mailing Zip"
                      },
                      "party": {
                        "type": "string",
                        "description": "The party.",
                        "title": "Party"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "fec_uri": {
                        "type": "string",
                        "description": "The FEC URI.",
                        "title": "FEC URI"
                      },
                      "committee": {
                        "type": "string",
                        "description": "The committee.",
                        "title": "Committee"
                      },
                      "fec_committee_id": {
                        "type": "string",
                        "description": "The FEC committee unique identifier.",
                        "title": "FEC Committee ID"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get recently added candidates",
        "description": "Retrieves the 20 most recently added candidates.",
        "operationId": "CandidateRecent",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/contributions/48hour.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "offset": {
                  "type": "string",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cycle": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The cycle.",
                        "title": "Cycle"
                      },
                      "fec_committee_id": {
                        "type": "string",
                        "description": "The FEC committee unique identifier.",
                        "title": "FEC Committee ID"
                      },
                      "fec_filing_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The FEC filing unique identifier.",
                        "title": "FEC Filing ID"
                      },
                      "transaction_id": {
                        "type": "string",
                        "description": "The transaction unique identifier.",
                        "title": "Transaction ID"
                      },
                      "entity_type": {
                        "type": "string",
                        "description": "The entity type.",
                        "title": "Entity Type"
                      },
                      "contributor_fec_id": {
                        "type": "string",
                        "description": "The contributor's FEC unique identifier.",
                        "title": "Contributor FEC ID"
                      },
                      "contributor_organization_name": {
                        "type": "string",
                        "description": "The contributor's organization name.",
                        "title": "Contributor Organization Name"
                      },
                      "contributor_prefix": {
                        "type": "string",
                        "description": "The contributor's prefix.",
                        "title": "Contributor Prefix"
                      },
                      "contributor_first_name": {
                        "type": "string",
                        "description": "The contributor's first name.",
                        "title": "Contributor First Name"
                      },
                      "contributor_middle_name": {
                        "type": "string",
                        "description": "The contributor's middle name.",
                        "title": "Contributor Middle Name"
                      },
                      "contributor_last_name": {
                        "type": "string",
                        "description": "The contributor's last name.",
                        "title": "Contributor Last Name"
                      },
                      "contributor_suffix": {
                        "type": "string",
                        "description": "The contributor's suffix.",
                        "title": "Contributor Suffix"
                      },
                      "contributor_street_1": {
                        "type": "string",
                        "description": "The contributor's street.",
                        "title": "Contributor Street"
                      },
                      "contributor_street_2": {
                        "type": "string",
                        "description": "The contributor's street second line.",
                        "title": "Contributor Street 2"
                      },
                      "contributor_city": {
                        "type": "string",
                        "description": "The contributor's city.",
                        "title": "Contributor City"
                      },
                      "contributor_state": {
                        "type": "string",
                        "description": "The contributor's state.",
                        "title": "Contributor State"
                      },
                      "contributor_zip": {
                        "type": "string",
                        "description": "The contributor's zip code.",
                        "title": "Contributor Zip"
                      },
                      "contributor_employer": {
                        "type": "string",
                        "description": "The contributor's employer.",
                        "title": "Contributor Employer"
                      },
                      "contributor_occupation": {
                        "type": "string",
                        "description": "The contributor's occupation.",
                        "title": "Contributor Occupation"
                      },
                      "contribution_date": {
                        "type": "string",
                        "description": "The contribution date.",
                        "title": "Contribution Date"
                      },
                      "contribution_amount": {
                        "type": "string",
                        "description": "The contribution amount.",
                        "title": "Contribution Amount"
                      },
                      "fec_candidate_id": {
                        "type": "string",
                        "description": "The FEC Candidate unique identifier.",
                        "title": "FEC Candidate ID"
                      },
                      "office_state": {
                        "type": "string",
                        "description": "The office state.",
                        "title": "Office State"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get recent late contributions",
        "description": "During the last 20 days before a primary or general election, candidate committees must file reports of any contributions of $1,000 or more within 48 hours of receipt. This retrieves the most recent late contributions to candidates.",
        "operationId": "ContributionLateRecent",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/candidates/{fec-id}/48hour.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "offset": {
                  "type": "string",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cycle": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The cycle.",
                        "title": "Cycle"
                      },
                      "fec_committee_id": {
                        "type": "string",
                        "description": "The FEC committee unique identifier.",
                        "title": "FEC Committee ID"
                      },
                      "fec_filing_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The FEC filing unique identifier.",
                        "title": "FEC Filing ID"
                      },
                      "transaction_id": {
                        "type": "string",
                        "description": "The transaction unique identifier.",
                        "title": "Transaction ID"
                      },
                      "entity_type": {
                        "type": "string",
                        "description": "The entity type.",
                        "title": "Entity Type"
                      },
                      "contributor_fec_id": {
                        "type": "string",
                        "description": "The contributor's FEC unique identifier.",
                        "title": "Contributor FEC ID"
                      },
                      "contributor_organization_name": {
                        "type": "string",
                        "description": "The contributor's organization name.",
                        "title": "Contributor Organization Name"
                      },
                      "contributor_prefix": {
                        "type": "string",
                        "description": "The contributor's prefix.",
                        "title": "Contributor Prefix"
                      },
                      "contributor_first_name": {
                        "type": "string",
                        "description": "The contributor's first name.",
                        "title": "Contributor First Name"
                      },
                      "contributor_middle_name": {
                        "type": "string",
                        "description": "The contributor's middle name.",
                        "title": "Contributor Middle Name"
                      },
                      "contributor_last_name": {
                        "type": "string",
                        "description": "The contributor's last name.",
                        "title": "Contributor Last Name"
                      },
                      "contributor_suffix": {
                        "type": "string",
                        "description": "The contributor's suffix.",
                        "title": "Contributor Suffix"
                      },
                      "contributor_street_1": {
                        "type": "string",
                        "description": "The contributor's street.",
                        "title": "Contributor Street"
                      },
                      "contributor_street_2": {
                        "type": "string",
                        "description": "The contributor's street second line.",
                        "title": "Contributor Street 2"
                      },
                      "contributor_city": {
                        "type": "string",
                        "description": "The contributor's city.",
                        "title": "Contributor City"
                      },
                      "contributor_state": {
                        "type": "string",
                        "description": "The contributor's state.",
                        "title": "Contributor State"
                      },
                      "contributor_zip": {
                        "type": "string",
                        "description": "The contributor's zip code.",
                        "title": "Contributor Zip"
                      },
                      "contributor_employer": {
                        "type": "string",
                        "description": "The contributor's employer.",
                        "title": "Contributor Employer"
                      },
                      "contributor_occupation": {
                        "type": "string",
                        "description": "The contributor's occupation.",
                        "title": "Contributor Occupation"
                      },
                      "contribution_date": {
                        "type": "string",
                        "description": "The contribution date.",
                        "title": "Contribution Date"
                      },
                      "contribution_amount": {
                        "type": "string",
                        "description": "The contribution amount.",
                        "title": "Contribution Amount"
                      },
                      "fec_candidate_id": {
                        "type": "string",
                        "description": "The FEC Candidate unique identifier.",
                        "title": "FEC Candidate ID"
                      },
                      "office_state": {
                        "type": "string",
                        "description": "The office state.",
                        "title": "Office State"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get recent late contributions to a candidate",
        "description": "Retrieves the most recent late contributions to a specific candidate.",
        "operationId": "ContributionLateCandidate",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fec-id",
            "in": "path",
            "x-ms-summary": "FEC ID",
            "x-ms-url-encoding": "single",
            "description": "The FEC unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/committees/{fec-id}/48hour.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "offset": {
                  "type": "string",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cycle": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The cycle.",
                        "title": "Cycle"
                      },
                      "fec_committee_id": {
                        "type": "string",
                        "description": "The FEC committee unique identifier.",
                        "title": "FEC Committee ID"
                      },
                      "fec_filing_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The FEC filing unique identifier.",
                        "title": "FEC Filing ID"
                      },
                      "transaction_id": {
                        "type": "string",
                        "description": "The transaction unique identifier.",
                        "title": "Transaction ID"
                      },
                      "entity_type": {
                        "type": "string",
                        "description": "The entity type.",
                        "title": "Entity Type"
                      },
                      "contributor_fec_id": {
                        "type": "string",
                        "description": "The contributor's FEC unique identifier.",
                        "title": "Contributor FEC ID"
                      },
                      "contributor_organization_name": {
                        "type": "string",
                        "description": "The contributor's organization name.",
                        "title": "Contributor Organization Name"
                      },
                      "contributor_prefix": {
                        "type": "string",
                        "description": "The contributor's prefix.",
                        "title": "Contributor Prefix"
                      },
                      "contributor_first_name": {
                        "type": "string",
                        "description": "The contributor's first name.",
                        "title": "Contributor First Name"
                      },
                      "contributor_middle_name": {
                        "type": "string",
                        "description": "The contributor's middle name.",
                        "title": "Contributor Middle Name"
                      },
                      "contributor_last_name": {
                        "type": "string",
                        "description": "The contributor's last name.",
                        "title": "Contributor Last Name"
                      },
                      "contributor_suffix": {
                        "type": "string",
                        "description": "The contributor's suffix.",
                        "title": "Contributor Suffix"
                      },
                      "contributor_street_1": {
                        "type": "string",
                        "description": "The contributor's street.",
                        "title": "Contributor Street"
                      },
                      "contributor_street_2": {
                        "type": "string",
                        "description": "The contributor's street second line.",
                        "title": "Contributor Street 2"
                      },
                      "contributor_city": {
                        "type": "string",
                        "description": "The contributor's city.",
                        "title": "Contributor City"
                      },
                      "contributor_state": {
                        "type": "string",
                        "description": "The contributor's state.",
                        "title": "Contributor State"
                      },
                      "contributor_zip": {
                        "type": "string",
                        "description": "The contributor's zip code.",
                        "title": "Contributor Zip"
                      },
                      "contributor_employer": {
                        "type": "string",
                        "description": "The contributor's employer.",
                        "title": "Contributor Employer"
                      },
                      "contributor_occupation": {
                        "type": "string",
                        "description": "The contributor's occupation.",
                        "title": "Contributor Occupation"
                      },
                      "contribution_date": {
                        "type": "string",
                        "description": "The contribution date.",
                        "title": "Contribution Date"
                      },
                      "contribution_amount": {
                        "type": "string",
                        "description": "The contribution amount.",
                        "title": "Contribution Amount"
                      },
                      "fec_candidate_id": {
                        "type": "string",
                        "description": "The FEC Candidate unique identifier.",
                        "title": "FEC Candidate ID"
                      },
                      "office_state": {
                        "type": "string",
                        "description": "The office state.",
                        "title": "Office State"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get recent late contributions to a committee",
        "description": "Retrieves the most recent late contributions to a specific committee.",
        "operationId": "ContributionLateCommittee",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fec-id",
            "in": "path",
            "x-ms-summary": "FEC ID",
            "x-ms-url-encoding": "single",
            "description": "The FEC unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/contributions/48hour/{year}/{month}/{day}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "offset": {
                  "type": "string",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cycle": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The cycle.",
                        "title": "Cycle"
                      },
                      "fec_committee_id": {
                        "type": "string",
                        "description": "The FEC committee unique identifier.",
                        "title": "FEC Committee ID"
                      },
                      "fec_filing_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The FEC filing unique identifier.",
                        "title": "FEC Filing ID"
                      },
                      "transaction_id": {
                        "type": "string",
                        "description": "The transaction unique identifier.",
                        "title": "Transaction ID"
                      },
                      "entity_type": {
                        "type": "string",
                        "description": "The entity type.",
                        "title": "Entity Type"
                      },
                      "contributor_fec_id": {
                        "type": "string",
                        "description": "The contributor's FEC unique identifier.",
                        "title": "Contributor FEC ID"
                      },
                      "contributor_organization_name": {
                        "type": "string",
                        "description": "The contributor's organization name.",
                        "title": "Contributor Organization Name"
                      },
                      "contributor_prefix": {
                        "type": "string",
                        "description": "The contributor's prefix.",
                        "title": "Contributor Prefix"
                      },
                      "contributor_first_name": {
                        "type": "string",
                        "description": "The contributor's first name.",
                        "title": "Contributor First Name"
                      },
                      "contributor_middle_name": {
                        "type": "string",
                        "description": "The contributor's middle name.",
                        "title": "Contributor Middle Name"
                      },
                      "contributor_last_name": {
                        "type": "string",
                        "description": "The contributor's last name.",
                        "title": "Contributor Last Name"
                      },
                      "contributor_suffix": {
                        "type": "string",
                        "description": "The contributor's suffix.",
                        "title": "Contributor Suffix"
                      },
                      "contributor_street_1": {
                        "type": "string",
                        "description": "The contributor's street.",
                        "title": "Contributor Street"
                      },
                      "contributor_street_2": {
                        "type": "string",
                        "description": "The contributor's street second line.",
                        "title": "Contributor Street 2"
                      },
                      "contributor_city": {
                        "type": "string",
                        "description": "The contributor's city.",
                        "title": "Contributor City"
                      },
                      "contributor_state": {
                        "type": "string",
                        "description": "The contributor's state.",
                        "title": "Contributor State"
                      },
                      "contributor_zip": {
                        "type": "string",
                        "description": "The contributor's zip code.",
                        "title": "Contributor Zip"
                      },
                      "contributor_employer": {
                        "type": "string",
                        "description": "The contributor's employer.",
                        "title": "Contributor Employer"
                      },
                      "contributor_occupation": {
                        "type": "string",
                        "description": "The contributor's occupation.",
                        "title": "Contributor Occupation"
                      },
                      "contribution_date": {
                        "type": "string",
                        "description": "The contribution date.",
                        "title": "Contribution Date"
                      },
                      "contribution_amount": {
                        "type": "string",
                        "description": "The contribution amount.",
                        "title": "Contribution Amount"
                      },
                      "fec_candidate_id": {
                        "type": "string",
                        "description": "The FEC Candidate unique identifier.",
                        "title": "FEC Candidate ID"
                      },
                      "office_state": {
                        "type": "string",
                        "description": "The office state.",
                        "title": "Office State"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get recent late contributions by date",
        "description": "Retrieves late contributions from a specific date.",
        "operationId": "ContributionLateDate",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "path",
            "x-ms-summary": "Year",
            "x-ms-url-encoding": "single",
            "description": "The year in YYYY format.",
            "required": true,
            "type": "string"
          },
          {
            "name": "month",
            "in": "path",
            "x-ms-summary": "Month",
            "x-ms-url-encoding": "single",
            "description": "The month in MM format.",
            "required": true,
            "type": "string"
          },
          {
            "name": "day",
            "in": "path",
            "x-ms-summary": "Day",
            "x-ms-url-encoding": "single",
            "description": "The day in DD format.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/committees/search.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "num_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results.",
                  "title": "Results"
                },
                "offset": {
                  "type": "string",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "relative_uri": {
                        "type": "string",
                        "description": "The relative URI.",
                        "title": "Relative URI"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "party": {
                        "type": "string",
                        "description": "The party.",
                        "title": "Party"
                      },
                      "treasurer": {
                        "type": "string",
                        "description": "The treasurer.",
                        "title": "Treasurer"
                      },
                      "address": {
                        "type": "string",
                        "description": "The address.",
                        "title": "Address"
                      },
                      "leadership": {
                        "type": "boolean",
                        "description": "Whether leadership.",
                        "title": "Leadership"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "zip": {
                        "type": "string",
                        "description": "The zip code.",
                        "title": "Zip"
                      },
                      "candidate": {
                        "type": "string",
                        "description": "The candidate.",
                        "title": "Candidate"
                      },
                      "fec_uri": {
                        "type": "string",
                        "description": "The FEC URI.",
                        "title": "FEC URI"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Search for committees",
        "description": "Retrieves a list of committees.",
        "operationId": "CommitteeSearch",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "The filter query.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/committees/{fec-id}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "party": {
                        "type": "string",
                        "description": "The party.",
                        "title": "Party"
                      },
                      "treasurer": {
                        "type": "string",
                        "description": "The treasurer.",
                        "title": "Treasurer"
                      },
                      "address": {
                        "type": "string",
                        "description": "The address.",
                        "title": "Address"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "zip": {
                        "type": "string",
                        "description": "The zip code.",
                        "title": "Zip"
                      },
                      "total_receipts": {
                        "type": "number",
                        "format": "float",
                        "description": "The total number of receipts.",
                        "title": "Total Receipts"
                      },
                      "total_from_individuals": {
                        "type": "number",
                        "format": "float",
                        "description": "The total amount from individuals.",
                        "title": "Total From Individuals"
                      },
                      "total_from_pacs": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total amount from PACs.",
                        "title": "Total From PACs"
                      },
                      "total_contributions": {
                        "type": "number",
                        "format": "float",
                        "description": "The total contributions.",
                        "title": "Total Contributions"
                      },
                      "total_disbursements": {
                        "type": "number",
                        "format": "float",
                        "description": "The total disbursements.",
                        "title": "Total Disbursements"
                      },
                      "begin_cash": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount of beginning cash.",
                        "title": "Beginning Cash"
                      },
                      "end_cash": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount of end cash.",
                        "title": "End Cash"
                      },
                      "total_refunds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The refunds total.",
                        "title": "Total Refunds"
                      },
                      "display_type": {
                        "type": "string",
                        "description": "The display type.",
                        "title": "Display Type"
                      },
                      "debts_owed": {
                        "type": "number",
                        "format": "float",
                        "description": "The number of debts owed.",
                        "title": "Debts Owed"
                      },
                      "date_coverage_from": {
                        "type": "string",
                        "description": "The coverage date from.",
                        "title": "Date Coverage From"
                      },
                      "date_coverage_to": {
                        "type": "string",
                        "description": "The coverage date to.",
                        "title": "Date Coverage To"
                      },
                      "fec_uri": {
                        "type": "string",
                        "description": "The FEC URI.",
                        "title": "FEC URI"
                      },
                      "total_independent_expenditures": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total number of independent expenditures.",
                        "title": "Total Independent Expenditures"
                      },
                      "candidate": {
                        "type": "string",
                        "description": "The candidate.",
                        "title": "Candidate"
                      },
                      "leadership": {
                        "type": "boolean",
                        "description": "Whether leadership.",
                        "title": "Leadership"
                      },
                      "super_pac": {
                        "type": "boolean",
                        "description": "Whether a super PAC.",
                        "title": "Super PAC"
                      },
                      "total_candidate_contributions": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total number of candidate contributions.",
                        "title": "Total Candidate Contributions"
                      },
                      "transfers_in": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of transfers in.",
                        "title": "Transfers In"
                      },
                      "designation": {
                        "type": "string",
                        "description": "The designation.",
                        "title": "Designation"
                      },
                      "filing_frequency": {
                        "type": "string",
                        "description": "The filing frequency.",
                        "title": "Filing Frequency"
                      },
                      "committee_type": {
                        "type": "string",
                        "description": "The committee type.",
                        "title": "Committee Type"
                      },
                      "interest_group": {
                        "type": "string",
                        "description": "The interest group.",
                        "title": "Interest Group"
                      },
                      "total_coordinated_expenditures": {
                        "type": "string",
                        "description": "The total coordinated expenditures.",
                        "title": "Total Coordinated Expenditures"
                      },
                      "end_date": {
                        "type": "string",
                        "description": "The end date.",
                        "title": "End Date"
                      },
                      "next_filing_date": {
                        "type": "string",
                        "description": "The next filing date.",
                        "title": "Next Filing Date"
                      },
                      "other_cycles": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "The other cycles.",
                        "title": "Other Cycles"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get a specific committee",
        "description": "Retrieves a specific FEC committee for a given campaign cycle.",
        "operationId": "CommitteeGet",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fec-id",
            "in": "path",
            "x-ms-summary": "FEC ID",
            "x-ms-url-encoding": "single",
            "description": "The FEC unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/committees/new.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "relative_uri": {
                        "type": "string",
                        "description": "The relative URI.",
                        "title": "Relative URI"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "address": {
                        "type": "string",
                        "description": "The address.",
                        "title": "Address"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "zip": {
                        "type": "string",
                        "description": "The zip code.",
                        "title": "Zip"
                      },
                      "treasurer": {
                        "type": "string",
                        "description": "The treasurer.",
                        "title": "Treasurer"
                      },
                      "party": {
                        "type": "string",
                        "description": "The party.",
                        "title": "Party"
                      },
                      "fec_uri": {
                        "type": "string",
                        "description": "The FEC URI.",
                        "title": "FEC URI"
                      },
                      "candidate": {
                        "type": "string",
                        "description": "The candidate.",
                        "title": "Candidate"
                      },
                      "leadership": {
                        "type": "boolean",
                        "description": "Whether leadership.",
                        "title": "Leadership"
                      },
                      "super_pac": {
                        "type": "boolean",
                        "description": "Whether a super PAC.",
                        "title": "Super PAC"
                      },
                      "sponsor_name": {
                        "type": "string",
                        "description": "The sponsor's name.",
                        "title": "Sponsor Name"
                      },
                      "designation": {
                        "type": "string",
                        "description": "The designation.",
                        "title": "Designation"
                      },
                      "filing_frequency": {
                        "type": "string",
                        "description": "The filing frequency.",
                        "title": "Filing Frequency"
                      },
                      "committee_type": {
                        "type": "string",
                        "description": "The committee type.",
                        "title": "Committee Type"
                      },
                      "interest_group": {
                        "type": "string",
                        "description": "The interest group.",
                        "title": "Interest Group"
                      },
                      "receipt_date": {
                        "type": "string",
                        "description": "The receipt date.",
                        "title": "Receipt Date"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get recently added committees",
        "description": "Retrieves the 20 most recently added FEC committees.",
        "operationId": "CommitteeRecent",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/committees/superpacs.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "offset": {
                  "type": "string",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "relative_uri": {
                        "type": "string",
                        "description": "The relative URI.",
                        "title": "Relative URI"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "address": {
                        "type": "string",
                        "description": "The address.",
                        "title": "Address"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "zip": {
                        "type": "string",
                        "description": "The zip code.",
                        "title": "Zip"
                      },
                      "treasurer": {
                        "type": "string",
                        "description": "The treasurer.",
                        "title": "Treasurer"
                      },
                      "party": {
                        "type": "string",
                        "description": "The party.",
                        "title": "Party"
                      },
                      "fec_uri": {
                        "type": "string",
                        "description": "The FEC URI.",
                        "title": "FEC URI"
                      },
                      "candidate": {
                        "type": "string",
                        "description": "The candidate.",
                        "title": "Candidate"
                      },
                      "leadership": {
                        "type": "boolean",
                        "description": "Whether leadership.",
                        "title": "Leadership"
                      },
                      "super_pac": {
                        "type": "boolean",
                        "description": "Whether a super PAC.",
                        "title": "Super PAC"
                      },
                      "sponsor_name": {
                        "type": "string",
                        "description": "The sponsor's name.",
                        "title": "Sponsor Name"
                      },
                      "designation": {
                        "type": "string",
                        "description": "The designation.",
                        "title": "Designation"
                      },
                      "filing_frequency": {
                        "type": "string",
                        "description": "The filing frequency.",
                        "title": "Filing Frequency"
                      },
                      "committee_type": {
                        "type": "string",
                        "description": "The committee type.",
                        "title": "Committee Type"
                      },
                      "interest_group": {
                        "type": "string",
                        "description": "The interest group.",
                        "title": "Interest Group"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get recently added independent expenditure-only committees",
        "description": "Retrieves the 20 most recently added FEC independent expenditure-only committees, known as super PACs.",
        "operationId": "CommitteeRecentPACs",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/committees/{fec-id}/filings.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "committee": {
                  "type": "string",
                  "description": "The committee.",
                  "title": "Committee"
                },
                "fec_committee_id": {
                  "type": "string",
                  "description": "The FEC committee unique identifier.",
                  "title": "FEC Committee ID"
                },
                "offset": {
                  "type": "string",
                  "description": "The offset.",
                  "title": "Offset"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "cycle": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The cycle.",
                        "title": "Cycle"
                      },
                      "form_type": {
                        "type": "string",
                        "description": "The form type.",
                        "title": "Form Type"
                      },
                      "date_filed": {
                        "type": "string",
                        "description": "The date filed.",
                        "title": "Date Filed"
                      },
                      "date_coverage_to": {
                        "type": "string",
                        "description": "The coverage date to.",
                        "title": "Date Coverage To"
                      },
                      "date_coverage_from": {
                        "type": "string",
                        "description": "The coverage date from.",
                        "title": "Date Coverage From"
                      },
                      "report_title": {
                        "type": "string",
                        "description": "The report title.",
                        "title": "Report Title"
                      },
                      "report_period": {
                        "type": "string",
                        "description": "The report period.",
                        "title": "Report Period"
                      },
                      "fec_uri": {
                        "type": "string",
                        "description": "The FEC URI.",
                        "title": "FEC URI"
                      },
                      "paper": {
                        "type": "boolean",
                        "description": "Whether paper.",
                        "title": "Paper"
                      },
                      "amended": {
                        "type": "boolean",
                        "description": "Whether amended.",
                        "title": "Amended"
                      },
                      "amended_uri": {
                        "type": "string",
                        "description": "The amended URI.",
                        "title": "Amended URI"
                      },
                      "is_amendment": {
                        "type": "string",
                        "description": "If is amendment.",
                        "title": "Is Amendment"
                      },
                      "original_filing": {
                        "type": "string",
                        "description": "The original filing.",
                        "title": "Original Filing"
                      },
                      "original_uri": {
                        "type": "string",
                        "description": "The original URI.",
                        "title": "Original URI"
                      },
                      "committee_type": {
                        "type": "string",
                        "description": "The committee type.",
                        "title": "Committee Type"
                      },
                      "contributions_total": {
                        "type": "number",
                        "format": "float",
                        "description": "The contributions total.",
                        "title": "Contributions Total"
                      },
                      "cash_on_hand": {
                        "type": "number",
                        "format": "float",
                        "description": "The amount of cash on hand.",
                        "title": "Cash On Hand"
                      },
                      "disbursements_total": {
                        "type": "number",
                        "format": "float",
                        "description": "The total of disbursements.",
                        "title": "Disbursements Total"
                      },
                      "receipts_total": {
                        "type": "number",
                        "format": "float",
                        "description": "The receipts total.",
                        "title": "Receipts Total"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get committee filings",
        "description": "Retrieves the 20 most recent FEC filings from the specified committee.",
        "operationId": "CommitteeFiling",
        "parameters": [
          {
            "name": "cycle",
            "in": "path",
            "x-ms-summary": "Cycle",
            "x-ms-url-encoding": "single",
            "description": "The cycle.",
            "required": true,
            "type": "string"
          },
          {
            "name": "fec-id",
            "in": "path",
            "x-ms-summary": "FEC ID",
            "x-ms-url-encoding": "single",
            "description": "The FEC unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{cycle}/committees/leadership.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "copyright": {
                  "type": "string",
                  "description": "The copyright.",
                  "title": "Copyright"
                },
                "cycle": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cycle.",
                  "title": "Cycle"
                },
                "base_uri": {
                  "type": "string",
                  "description": "The base URI.",
                  "title": "Base URI"
                },
                "offset": {
[...]
