{
  "swagger": "2.0",
  "info": {
    "title": "Maersk (Independent Publisher)",
    "description": "Custom connector for Maersk shipping data including locations, vessels, schedules, and ports. This is public reference data.",
    "version": "1.0.0",
    "contact": {
      "name": "Dan Romano",
      "email": "dan.romano@swolcat.com"
    }
  },
  "host": "api.maersk.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/reference-data/locations": {
      "get": {
        "tags": [
          "Locations"
        ],
        "summary": "Get list of locations",
        "description": "Returns a list of Maersk-supported locations.",
        "operationId": "GetLocations",
        "responses": {
          "200": {
            "description": "List of locations",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Location"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/reference-data/carrier-locations/{carrierGeoID}": {
      "get": {
        "tags": [
          "Carrier Locations"
        ],
        "summary": "Get carrier location by Geo ID",
        "operationId": "GetCarrierLocationByGeoID",
        "parameters": [
          {
            "name": "carrierGeoID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Maersk carrier Geo ID",
            "x-ms-summary": "Carrier Geo ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Carrier location details",
            "schema": {
              "$ref": "#/definitions/CarrierLocation"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-ms-visibility": "important",
        "description": "Returns a list of locations by geo ID"
      }
    },
    "/reference-data/vessels": {
      "get": {
        "tags": [
          "Vessels"
        ],
        "summary": "Get vessel information",
        "operationId": "GetVessels",
        "parameters": [
          {
            "name": "vesselIMONumbers",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated IMO numbers (e.g., \"9332999,9458030\")",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "IMO vessel numbers"
          },
          {
            "name": "carrierVesselCodes",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma-separated list of values (e.g., \"9332999,9458030\")",
            "items": {
              "type": "string"
            },
            "x-ms-summary": "Carrier vessel codes"
          }
        ],
        "responses": {
          "200": {
            "description": "List of vessels",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Vessel"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error response"
          }
        },
        "x-ms-visibility": "important",
        "description": "Returns a list of active vessels operated by A.P. Moller-Maersk A/S"
      }
    },
    "/schedules/active-ports": {
      "get": {
        "tags": [
          "Ports"
        ],
        "summary": "Get active ports",
        "operationId": "GetActivePorts",
        "parameters": [
          {
            "name": "carrierCodes",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "One or more carrier codes (e.g., MAEU). Comma-separated if multiple.",
            "x-ms-summary": "Carrier Codes"
          },
          {
            "name": "countryCodes",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional ISO 3166-1 alpha-2 country codes (e.g., US, CN)",
            "x-ms-summary": "Country Codes"
          }
        ],
        "responses": {
          "200": {
            "description": "List of active ports",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Port"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error response"
          }
        },
        "description": "Returns a list of active ports of Load or Discharge called by A.P. Moller-Maersk A/S vessels"
      }
    },
    "/schedules/port-calls": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Get vessel schedules by port",
        "description": "Returns scheduled port calls for the provided filters.",
        "operationId": "GetSchedulesByPort",
        "parameters": [
          {
            "name": "UNLocationCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "United Nations location code for the port (e.g., USHOU). Required if cityName and carrierGeoID are not provided.",
            "x-ms-summary": "UN Location Code"
          },
          {
            "name": "cityName",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Name of the port city. Required if UNLocationCode and carrierGeoID are not provided.",
            "x-ms-summary": "City Name"
          },
          {
            "name": "carrierGeoID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Maersk internal location identifier. Required if UNLocationCode and cityName are not provided.",
            "x-ms-summary": "Carrier Geo ID"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Start date for the port schedule",
            "x-ms-summary": "Start Date"
          },
          {
            "name": "dateRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Range from the start date",
            "x-ms-summary": "Date Range"
          },
          {
            "name": "carrierCodes",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Required carrier code(s)",
            "x-ms-summary": "Carrier Codes"
          }
        ],
        "responses": {
          "200": {
            "description": "Port schedule result",
            "schema": {
              "$ref": "#/definitions/PortSchedule"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error response"
          }
        }
      }
    },
    "/schedules/vessel-schedules": {
      "get": {
        "tags": [
          "Schedules"
        ],
        "summary": "Get vessel schedules by vessel",
        "description": "Returns schedules of vessel port calls for the given vessel and voyage filters.",
        "operationId": "GetSchedulesByVessel",
        "parameters": [
          {
            "name": "vesselIMONumber",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "7-digit IMO number for the vessel",
            "x-ms-summary": "Vessel IMO Number"
          },
          {
            "name": "carrierVesselCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "3-character Maersk vessel code",
            "x-ms-summary": "Carrier Vessel Code"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "description": "Start date for the schedule",
            "x-ms-summary": "Start Date"
          },
          {
            "name": "dateRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Range from the start date",
            "x-ms-summary": "Date Range"
          },
          {
            "name": "carrierCodes",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Carrier code(s), required by Maersk",
            "x-ms-summary": "Carrier Codes"
          }
        ],
        "responses": {
          "200": {
            "description": "Vessel schedule result",
            "schema": {
              "$ref": "#/definitions/VesselSchedule"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error response"
          }
        }
      }
    },
    "/shipment-deadlines": {
      "get": {
        "tags": [
          "Deadlines"
        ],
        "summary": "Get shipment deadlines",
        "description": "Returns a list of shipment deadlines per terminal for a given vessel/voyage/port of load.",
        "operationId": "GetDeadlines",
        "parameters": [
          {
            "name": "ISOCountryCode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "ISO country code of the port (e.g., US)",
            "x-ms-summary": "ISO Country Code"
          },
          {
            "name": "portOfLoad",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "City or port name (e.g., Houston)",
            "x-ms-summary": "Port of Load"
          },
          {
            "name": "vesselIMONumber",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "IMO number of the vessel",
            "x-ms-summary": "Vessel IMO Number"
          },
          {
            "name": "voyage",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Voyage number (e.g., 010E)",
            "x-ms-summary": "Voyage"
          }
        ],
        "responses": {
          "200": {
            "description": "Shipment deadlines",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ShipmentDeadline"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error response"
          }
        }
      }
    }
  },
  "definitions": {
    "Location": {
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string"
        },
        "countryName": {
          "type": "string"
        },
        "cityName": {
          "type": "string"
        },
        "locationType": {
          "type": "string"
        },
        "locationName": {
          "type": "string"
        },
        "carrierGeoID": {
          "type": "string"
        },
        "UNRegionCode": {
          "type": "string"
        },
        "UNRegionName": {
          "type": "string"
        }
      }
    },
    "CarrierLocation": {
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string"
        },
        "countryName": {
          "type": "string"
        },
        "cityName": {
          "type": "string"
        },
        "locationType": {
          "type": "string"
        },
        "locationName": {
          "type": "string"
        },
        "carrierGeoID": {
          "type": "string"
        },
        "carrierRkstCode": {
          "type": "string"
        },
        "carrierRktsCode": {
          "type": "string"
        },
        "timeZoneID": {
          "type": "string"
        },
        "carrierCountryGeoID": {
          "type": "string"
        },
        "UNLocationCode": {
          "type": "string"
        },
        "UNRegionCode": {
          "type": "string"
        },
        "UNRegionName": {
          "type": "string"
        }
      }
    },
    "Vessel": {
      "type": "object",
      "properties": {
        "vesselIMONumber": {
          "type": "string"
        },
        "carrierVesselCode": {
          "type": "string"
        },
        "vesselName": {
          "type": "string"
        },
        "vesselFlagCode": {
          "type": "string"
        },
        "vesselCallSign": {
          "type": "string"
        }
      }
    },
    "Port": {
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string"
        },
        "countryName": {
          "type": "string"
        },
        "UNLocationCode": {
          "type": "string"
        },
        "cityName": {
          "type": "string"
        },
        "portName": {
          "type": "string"
        },
        "UNRegionCode": {
          "type": "string"
        },
        "carrierCityGeoID": {
          "type": "string"
        }
      }
    },
    "Facility": {
      "type": "object",
      "properties": {
        "locationType": {
          "type": "string"
        },
        "locationName": {
          "type": "string"
        },
        "carrierTerminalCode": {
          "type": "string"
        },
        "carrierTerminalGeoID": {
          "type": "string"
        }
      }
    },
    "Service": {
      "type": "object",
      "properties": {
        "carrierVoyageNumber": {
          "type": "string"
        },
        "carrierServiceCode": {
          "type": "string"
        },
        "carrierServiceName": {
          "type": "string"
        }
      }
    },
    "CallSchedule": {
      "type": "object",
      "properties": {
        "transportEventTypeCode": {
          "type": "string"
        },
        "eventClassifierCode": {
          "type": "string"
        },
        "classifierDateTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "FacilityCall": {
      "type": "object",
      "properties": {
        "transport": {
          "type": "object",
          "properties": {
            "vessel": {
              "$ref": "#/definitions/Vessel"
            },
            "inboundService": {
              "$ref": "#/definitions/Service"
            },
            "outboundService": {
              "$ref": "#/definitions/Service"
            }
          }
        },
        "callSchedules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CallSchedule"
          }
        }
      }
    },
    "PortCall": {
      "type": "object",
      "properties": {
        "facility": {
          "$ref": "#/definitions/Facility"
        },
        "facilityCalls": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FacilityCall"
          }
        }
      }
    },
    "VesselCall": {
      "type": "object",
      "properties": {
        "facility": {
          "$ref": "#/definitions/Facility"
        },
        "transport": {
          "type": "object",
          "properties": {
            "inboundService": {
              "$ref": "#/definitions/Service"
            },
            "outboundService": {
              "$ref": "#/definitions/Service"
            }
          }
        },
        "callSchedules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CallSchedule"
          }
        }
      }
    },
    "PortSchedule": {
      "type": "object",
      "properties": {
        "port": {
          "$ref": "#/definitions/Port"
        },
        "portCalls": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PortCall"
          }
        }
      }
    },
    "VesselSchedule": {
      "type": "object",
      "properties": {
        "vessel": {
          "$ref": "#/definitions/Vessel"
        },
        "vesselCalls": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VesselCall"
          }
        }
      }
    },
    "ShipmentDeadline": {
      "type": "object",
      "description": "The list of deadlines for each terminal for the specified vessel/voyage/port combination.",
      "properties": {
        "shipmentDeadlines": {
          "type": "object",
          "properties": {
            "terminalName": {
              "type": "string",
              "description": "Name of the terminal at the port of load"
            },
            "deadlines": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "deadlineName": {
                    "type": "string",
                    "description": "The name of the deadline"
                  },
                  "deadlineLocal": {
                    "type": "string",
                    "format": "date-time",
                    "description": "The deadline timestamp in local time"
                  }
                }
              }
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "A standardized error response object.",
      "properties": {
        "method": {
          "type": "string",
          "description": "HTTP method used in the request."
        },
        "requestUri": {
          "type": "string",
          "description": "URI of the request."
        },
        "status": {
          "type": "string",
          "description": "HTTP status code as a string."
        },
        "timestamp": {
          "type": "string",
          "description": "Timestamp of the error in ISO 8601 format."
        },
        "message": {
          "type": "string",
          "description": "Human-readable error message."
        },
        "debugMessage": {
          "type": "string",
          "description": "Developer-facing debug message."
        },
        "subErrors": {
          "type": "array",
          "description": "List of validation or field-specific errors.",
          "items": {
            "type": "object",
            "properties": {
              "field": {
                "type": "string",
                "description": "Name of the field causing the error."
              },
              "rejectedValue": {
                "type": "string",
                "description": "The rejected or invalid value."
              },
              "message": {
                "type": "string",
                "description": "Validation message."
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Consumer-Key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.maersk.com/api-catalogue"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://terms.maersk.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}