{
  "swagger": "2.0",
  "info": {
    "title": "BoldSign",
    "description": "BoldSign is a secure, easy-to-use electronic signature solution that provides legally binding ways to send, sign, and manage documents.",
    "x-ms-keywords": [
      "BoldSign",
      "e-sign",
      "eSignature",
      "ESign",
      "Electronic Signature",
      "Digital Signature",
      "Signature",
      "Documents",
      "Agreements",
      "Envelopes",
      "Contracts"
    ],
    "version": "1.0",
    "contact": {
      "name": "BoldSign Support",
      "email": "support@boldsign.com",
      "url": "https://support.boldsign.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "www.boldsign.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/x-www-form-urlencoded",
    "multipart/form-data"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/template/send": {
      "post": {
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SendDocumentFromTemplateResponse"
            }
          }
        },
        "summary": "Send document using template with recipient",
        "description": "Send a document out for signature using a specified template to a recipient.",
        "operationId": "SendDocumentFromTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Select Template",
            "x-ms-summary": "Template",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "TemplateList",
              "value-path": "documentId",
              "value-collection": "result",
              "value-title": "templateName"
            }
          },
          {
            "name": "isSandbox",
            "in": "query",
            "required": true,
            "type": "boolean",
            "description": "When enabled, BoldSign will send signature requests in sandbox mode, allowing you to test the integration",
            "x-ms-summary": "Sandbox Mode",
            "x-ms-visibility": "important",
            "default": false,
            "enum": [
              true,
              false
            ]
          },
          {
            "name": "title",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Enter document title",
            "x-ms-summary": "Document title",
            "x-ms-visibility": "important"
          },
          {
            "name": "message",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Enter document description",
            "x-ms-summary": "Document description",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "cc",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Enter one or more email addresses separated by comma",
            "x-ms-summary": "CC",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "brandId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Select Brand",
            "x-ms-summary": "Brand",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "BrandList",
              "value-path": "brandId",
              "value-collection": "result",
              "value-title": "brandName"
            }
          },
          {
            "name": "onBehalfOf",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Select an email address to send on behalf of another person",
            "x-ms-summary": "On behalf of",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "SenderIdentityList",
              "value-path": "email",
              "value-collection": "result",
              "value-title": "name"
            }
          },
          {
            "name": "expiryDays",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Please provide the number of days after which the document will expire",
            "x-ms-summary": "Expiry days",
            "x-ms-visibility": "advanced",
            "default": 60
          },
          {
            "name": "labels",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Provide one or more labels for the document, separated by commas",
            "x-ms-summary": "Document labels",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "hideDocumentId",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When enabled, the ID imprint will be hidden at the top of the document",
            "x-ms-summary": "Hide document ID",
            "x-ms-visibility": "advanced",
            "enum": [
              true,
              false
            ]
          },
          {
            "name": "enablePrintAndSign",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When allowed, the signer will be able to print and sign the document",
            "x-ms-summary": "Allow print and sign",
            "x-ms-visibility": "advanced",
            "default": false,
            "enum": [
              true,
              false
            ]
          },
          {
            "name": "enableReassign",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When allowed, the signer will be able to reassign the document to others",
            "x-ms-summary": "Allow reassign",
            "x-ms-visibility": "advanced",
            "default": true,
            "enum": [
              true,
              false
            ]
          },
          {
            "name": "enableAutoReminder",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When enabled, BoldSign will send automated reminder emails at the specified frequency",
            "x-ms-summary": "Enable auto reminder",
            "x-ms-visibility": "advanced",
            "default": false,
            "enum": [
              true,
              false
            ]
          },
          {
            "name": "signers",
            "in": "body",
            "required": true,
            "description": "The signers of the document.",
            "x-ms-visibility": "important",
            "schema": {
              "$ref": "#/definitions/TemplateDynamicSigners"
            },
            "x-ms-summary": "Signers"
          }
        ]
      }
    },
    "/v1/document/download": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Download Document",
        "description": "Downloads the PDF file of the given document ID.",
        "operationId": "DownloadDocument",
        "parameters": [
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Provide document ID",
            "x-ms-summary": "Document Id",
            "x-ms-visibility": "important"
          },
          {
            "name": "onBehalfOf",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Select an email address to perform the action on behalf of another person",
            "x-ms-summary": "On Behalf Of",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "SenderIdentityList",
              "value-path": "email",
              "value-collection": "result",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/v1/document/downloadAuditLog": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Download AuditTrail",
        "description": "Download the audit trail of a completed document.",
        "operationId": "DownloadAuditTrail",
        "parameters": [
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Provide document ID",
            "x-ms-summary": "Document Id",
            "x-ms-visibility": "important"
          },
          {
            "name": "onBehalfOf",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Select an email address to perform the action on behalf of another person",
            "x-ms-summary": "On Behalf Of",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "SenderIdentityList",
              "value-path": "email",
              "value-collection": "result",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/v1/template/list": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TemplateListResponse"
            }
          }
        },
        "summary": "Template List",
        "description": "Retrieve a list of available templates.",
        "operationId": "TemplateList",
        "parameters": [
          {
            "name": "TemplateType",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "enum": [
              "All",
              "SharedTemplates",
              "MyTemplates"
            ],
            "default": "All"
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "SearchKey",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ],
        "x-ms-visibility": "internal"
      }
    },
    "/v1/document/properties": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentPropertiesResponse"
            }
          }
        },
        "summary": "Get Document Status",
        "description": "Retrieves the document status and its information of a document.",
        "operationId": "GetDocumentStatus",
        "parameters": [
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Provide document ID",
            "x-ms-summary": "Document Id",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v1/brand/list": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BrandListResponse"
            }
          }
        },
        "summary": "Brand List",
        "description": "Retrieve a list of available brands.",
        "operationId": "BrandList",
        "x-ms-visibility": "internal",
        "parameters": []
      }
    },
    "/v1/template/properties": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Get Dynamic Signers",
        "description": "Gets dynamic signers based on selected template.",
        "operationId": "GetTemplateDynamicSigners",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "templateId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "enableAutoReminder",
            "in": "query",
            "required": true,
            "type": "boolean",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v1/senderIdentities/list": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SenderIdentityListResponse"
            }
          }
        },
        "summary": "Sender Identity List",
        "description": "Retrieve a list of available sender identities (Used to send and manage on behalf of another person).",
        "operationId": "SenderIdentityList",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "PageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Search",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/WebHooks/AddWebHooksAPIForPowerAutomate": {
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/WebHookEventOject"
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Represents webhook subscribed",
            "schema": {
              "$ref": "#/definitions/AddWebHooksResponse"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "Location URL that can be used to unsubscribe the webhook"
              }
            }
          }
        },
        "summary": "Webhook Events",
        "description": "This triggers documents webhook event.",
        "operationId": "WebHooks",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "events",
            "in": "query",
            "required": true,
            "type": "string",
            "items": {
              "type": "string"
            },
            "description": "Select webhook event to which flow should be triggered.",
            "x-ms-summary": "Select Webhook Events",
            "x-ms-visibility": "important",
            "enum": [
              "Sent",
              "Signed",
              "Completed",
              "Declined",
              "Revoked",
              "Reassigned",
              "Expired",
              "Viewed",
              "AuthenticationFailed",
              "DeliveryFailed",
              "SendFailed",
              "TemplateSendFailed",
              "DraftCreated"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Webhook Name",
                  "x-ms-visibility": "internal",
                  "default": "Power Automate Webhook"
                },
                "events": {
                  "type": "string",
                  "description": "events",
                  "title": "Webhook Events",
                  "x-ms-visibility": "internal",
                  "default": "Sent"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "Redirection URL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "environment": {
                  "type": "string",
                  "description": "environment",
                  "title": "Environment",
                  "x-ms-visibility": "internal",
                  "default": "Live"
                },
                "isActive": {
                  "type": "boolean",
                  "description": "isActive",
                  "title": "Active Status",
                  "x-ms-visibility": "internal",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "webhookType": {
                  "type": "string",
                  "description": "webhookType",
                  "title": "Webhook Type",
                  "x-ms-visibility": "internal",
                  "default": "AccountCallback"
                },
                "developerAppId": {
                  "type": "string",
                  "description": "developerAppId",
                  "title": "Developer App ID",
                  "x-ms-visibility": "internal"
                },
                "adminMode": {
                  "type": "boolean",
                  "description": "Enable this option to receive notifications for events triggered by your team members. Account admins will also receive notifications for events across the entire organization. If disabled, you will only receive notifications for your own events.",
                  "title": "Team user's events",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "advanced",
                  "default": false
                }
              },
              "required": [
                "adminMode",
                "environment",
                "events",
                "isActive",
                "name",
                "url",
                "webhookType"
              ],
              "x-ms-visibility": "advanced"
            },
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/WebHooks/RemoveWebHooksAPI": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Unsubscribe Webhook Events",
        "description": "This unsubscribes the webhook that configured for a trigger.",
        "operationId": "DeleteWebHooks",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "webHookIds",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "definitions": {
    "TemplateDynamicSigners": {
      "description": "An dynamic signer object computed based on the selected template.",
      "type": "object",
      "properties": {},
      "x-ms-dynamic-schema": {
        "operationId": "GetTemplateDynamicSigners",
        "parameters": {
          "templateId": {
            "parameter": "templateId"
          },
          "enableAutoReminder": {
            "parameter": "enableAutoReminder"
          }
        },
        "value-path": "Schema/Items"
      }
    },
    "SendDocumentFromTemplateResponse": {
      "description": "The response object of the template send document request.",
      "type": "object",
      "properties": {
        "documentId": {
          "description": "The ID of the document created.",
          "type": "string",
          "x-ms-summary": "Document Id",
          "x-ms-visibility": "important"
        }
      }
    },
    "DocumentPropertiesResponse": {
      "description": "The response object of the document properties request.",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status and other information of the document",
          "x-ms-summary": "Document Status",
          "x-ms-visibility": "important"
        }
      }
    },
    "TemplateListResponse": {
      "description": "The response object of the template list request.",
      "type": "object",
      "properties": {
        "pageDetails": {
          "type": "object",
          "properties": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "The page size",
              "x-ms-summary": "Page Size"
            },
            "page": {
              "type": "integer",
              "format": "int32",
              "description": "The page number",
              "x-ms-summary": "Page Number"
            },
            "totalRecordsCount": {
              "type": "integer",
              "format": "int32",
              "description": "The total records count",
              "x-ms-summary": "Total Records"
            },
            "totalPages": {
              "type": "integer",
              "format": "int32",
              "description": "The total pages",
              "x-ms-summary": "Total Pages"
            },
            "sortedColumn": {
              "type": "string",
              "description": "The sorted column",
              "x-ms-summary": "Sorted Column"
            },
            "sortDirection": {
              "type": "string",
              "description": "The sort direction",
              "x-ms-summary": "Sorted Direction"
            }
          },
          "description": "The page details"
        },
        "result": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "documentId": {
                "type": "string",
                "description": "The id of the document",
                "x-ms-summary": "Document Id"
              },
              "senderDetail": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The sender name",
                    "x-ms-summary": "Sender Name"
                  },
                  "emailAddress": {
                    "type": "string",
                    "description": "The sender email",
                    "x-ms-summary": "Sender Email"
                  },
                  "userId": {
                    "type": "string",
                    "description": "The sender user id",
                    "x-ms-summary": "Sender User Id"
                  }
                },
                "description": "The sender details"
              },
              "ccDetails": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "emailAddress": {
                      "type": "string",
                      "description": "The cc email",
                      "x-ms-summary": "CC Email"
                    },
                    "userId": {
                      "type": "string",
                      "description": "The cc user id",
                      "x-ms-summary": "CC User Id"
                    }
                  }
                },
                "description": "The cc details"
              },
              "createdDate": {
                "type": "integer",
                "format": "int32",
                "description": "The template created date",
                "x-ms-summary": "Created Date"
              },
              "activityDate": {
                "type": "integer",
                "format": "int32",
                "description": "The last activity date on the document",
                "x-ms-summary": "Activity Date"
              },
              "activityBy": {
                "type": "string",
                "description": "Details of last person performed an activity on the document",
                "x-ms-summary": "Activity By"
              },
              "messageTitle": {
                "type": "string",
                "description": "The document title",
                "x-ms-summary": "Document Title"
              },
              "status": {
                "type": "string",
                "description": "The template status",
                "x-ms-summary": "Template Status"
              },
              "signerDetails": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "signerName": {
                      "type": "string",
                      "description": "The signer name",
                      "x-ms-summary": "Signer Name"
                    },
                    "signerRole": {
                      "type": "string",
                      "description": "The signer role",
                      "x-ms-summary": "Signer Role"
                    },
                    "signerEmail": {
                      "type": "string",
                      "description": "The signer email",
                      "x-ms-summary": "Signer Email"
                    },
                    "phoneNumber": {
                      "type": "object",
                      "properties": {
                        "countryCode": {
                          "type": "string",
                          "description": "The country code",
                          "x-ms-summary": "Country Code"
                        },
                        "number": {
                          "type": "string",
                          "description": "The phone number",
                          "x-ms-summary": "Phone Number"
                        }
                      },
                      "description": "The phone number"
                    },
                    "status": {
                      "type": "string",
                      "description": "The signer status",
                      "x-ms-summary": "Signer Status"
                    },
                    "enableAccessCode": {
                      "type": "boolean",
                      "description": "Indicates whether access code enabled or not",
                      "x-ms-summary": "Enabled Access Code"
                    },
                    "enableEmailOTP": {
                      "type": "boolean",
                      "description": "Indicates whether email OTP enabled or not",
                      "x-ms-summary": "Enabled Email OTP"
                    },
                    "imposeAuthentication": {
                      "type": "string",
                      "description": "The impose authentication type",
                      "x-ms-summary": "Authentication Type"
                    },
                    "deliveryMode": {
                      "type": "string",
                      "description": "The delivery mode",
                      "x-ms-summary": "Delivery Mode"
                    },
                    "userId": {
                      "type": "string",
                      "description": "The signer user id",
                      "x-ms-summary": "Signer User Id"
                    },
                    "order": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The signer order",
                      "x-ms-summary": "Signer Order"
                    },
                    "signerType": {
                      "type": "string",
                      "description": "The signer type",
                      "x-ms-summary": "Signer Type"
                    },
                    "language": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The language type",
                      "x-ms-summary": "Language"
                    },
                    "hostEmail": {
                      "type": "string",
                      "description": "The host email",
                      "x-ms-summary": "Host Email"
                    },
                    "hostName": {
                      "type": "string",
                      "description": "The host name",
                      "x-ms-summary": "Host Name"
                    },
                    "hostUserId": {
                      "type": "string",
                      "description": "The host user id",
                      "x-ms-summary": "Host User Id"
                    },
                    "allowRoleEdit": {
                      "type": "boolean",
                      "description": "Indicates whether role edit is allowed or not",
                      "x-ms-summary": "Allowed Role Edit"
                    },
                    "allowRoleDelete": {
                      "type": "boolean",
                      "description": "Indicates whether role delete is allowed or not",
                      "x-ms-summary": "Allowed Role Delete"
                    },
                    "signType": {
                      "type": "string",
                      "description": "The sign type",
                      "x-ms-summary": "Sign Type"
                    },
                    "allowFieldConfiguration": {
                      "type": "boolean",
                      "description": "Indicates whether field configuration",
                      "x-ms-summary": "Allowed Field Configuration"
                    }
                  }
                },
                "description": "The signer details"
              },
              "enableSigningOrder": {
                "type": "boolean",
                "description": "Indicates whether signing order enabled or not",
                "x-ms-summary": "Enabled Signing Order"
              },
              "enableReassign": {
                "type": "boolean",
                "description": "Indicates whether reassign is enabled or not",
                "x-ms-summary": "Enabled Reassign"
              },
              "templateName": {
                "type": "string",
                "description": "The template name",
                "x-ms-summary": "Template Name"
              },
              "templateDescription": {
                "type": "string",
                "description": "The template description",
                "x-ms-summary": "Template Description"
              },
              "accessType": {
                "type": "string",
                "description": "The access type",
                "x-ms-summary": "Access Type"
              },
              "accessTid": {
                "type": "string",
                "description": "The access team id",
                "x-ms-summary": "Access Team Id"
              },
              "isTemplate": {
                "type": "boolean",
                "description": "Indicates whether it is template or not",
                "x-ms-summary": "Template"
              }
            },
            "description": "The template list"
          }
        }
      }
    },
    "BrandListResponse": {
      "description": "The response object of the brand list request.",
      "type": "object",
      "properties": {
        "result": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "brandId": {
                "type": "string",
                "description": "The brand id",
                "x-ms-summary": "Brand Id"
              },
              "brandLogo": {
                "type": "string",
                "description": "The brand logo",
                "x-ms-summary": "Brand Logo"
              },
              "brandName": {
                "type": "string",
                "description": "The brand name",
                "x-ms-summary": "Brand Name"
              },
              "backgroundColor": {
                "type": "string",
                "description": "The background color",
                "x-ms-summary": "Background Color"
              },
              "buttonColor": {
                "type": "string",
                "description": "The button color",
                "x-ms-summary": "Button Color"
              },
              "buttonTextColor": {
                "type": "string",
                "description": "The button text color",
                "x-ms-summary": "Button Text Color"
              },
              "emailDisplayName": {
                "type": "string",
                "description": "The email display name",
                "x-ms-summary": "Email Display Name"
              },
              "disclaimerTitle": {
                "type": "string",
                "description": "The disclaimer title",
                "x-ms-summary": "Disclaimer Title"
              },
              "disclaimerDescription": {
                "type": "string",
                "description": "The disclaimer description",
                "x-ms-summary": "Disclaimer Description"
              },
              "redirectUrl": {
                "type": "string",
                "description": "The redirect url",
                "x-ms-summary": "Redirect Url"
              },
              "isDefault": {
                "type": "boolean",
                "description": "Indicates whether the brand is default or not",
                "x-ms-summary": "Default"
              },
              "canHideTagLine": {
                "type": "boolean",
                "description": "Indicates whether tag line can be hide or not",
                "x-ms-summary": "Hided Tag Line"
              },
              "combineAuditTrail": {
                "type": "boolean",
                "description": "Indicates whether audit trail combined or not",
                "x-ms-summary": "Combined Audit Trail"
              },
              "excludeAuditTrail": {
                "type": "boolean",
                "description": "Indicates whether audit trail excluded or not",
                "x-ms-summary": "Excluded Audit Trail"
              },
              "documentTimeZone": {
                "type": "string",
                "description": "The document time zone",
                "x-ms-summary": "Document Time Zone"
              },
              "emailSignedDocument": {
                "type": "string",
                "description": "The email signed document",
                "x-ms-summary": "Email Signed Document"
              },
              "showBuiltInFormFields": {
                "type": "boolean",
                "description": "Indicates whether built-in form fields can be show or not",
                "x-ms-summary": "Show Built-In Form Fields"
              },
              "allowCustomFieldCreation": {
                "type": "boolean",
                "description": "Indicates whether custom field creation is allowed or not",
                "x-ms-summary": "Allowed Custom Field Creation"
              },
              "showSharedCustomFields": {
                "type": "boolean",
                "description": "Indicates whether shared custom fields can be showed or not",
                "x-ms-summary": "Show Shared Custom Fields"
              },
              "hideDecline": {
                "type": "boolean",
                "description": "Indicates whether decline button can be hide or not",
                "x-ms-summary": "Hide Decline Button"
              },
              "hideSave": {
                "type": "boolean",
                "description": "Indicates whether save button can be save or not",
                "x-ms-summary": "Hide Save Button"
              }
            }
          },
          "description": "The brand list"
        }
      }
    },
    "SenderIdentityListResponse": {
      "description": "The response object of the sender identity (on behalf of) list request.",
      "type": "object",
      "properties": {
        "result": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The sender identity name",
                "x-ms-summary": "Sender Identity Name"
              },
              "email": {
                "type": "string",
                "description": "The sender identity email",
                "x-ms-summary": "Sender Identity Email"
              },
              "status": {
                "type": "string",
                "description": "The sender identity status",
                "x-ms-summary": "Sender Identity Status"
              },
              "createdBy": {
                "type": "string",
                "description": "The sender identity created by email",
                "x-ms-summary": "Created By"
              },
              "approvedDate": {
                "type": "string",
                "description": "The approved date",
                "x-ms-summary": "Approved Date"
              },
              "notificationSettings": {
                "type": "object",
                "properties": {
                  "viewed": {
                    "type": "boolean",
                    "description": "The viewed notification enabled or not",
                    "x-ms-summary": "Viewed"
                  },
                  "sent": {
                    "type": "boolean",
                    "description": "The sent notification enabled or not",
                    "x-ms-summary": "Sent"
                  },
                  "deliveryFailed": {
                    "type": "boolean",
                    "description": "The delivery failed notification enabled or not",
                    "x-ms-summary": "Delivery Failed"
                  },
                  "declined": {
                    "type": "boolean",
                    "description": "The declined notification enabled or not",
                    "x-ms-summary": "Declined"
                  },
                  "revoked": {
                    "type": "boolean",
                    "description": "The revoked notification enabled or not",
                    "x-ms-summary": "Revoked"
                  },
                  "reassigned": {
                    "type": "boolean",
                    "description": "The reassigned notification enabled or not",
                    "x-ms-summary": "Reassigned"
                  },
                  "completed": {
                    "type": "boolean",
                    "description": "The completed notification enabled or not",
                    "x-ms-summary": "Completed"
                  },
                  "signed": {
                    "type": "boolean",
                    "description": "The signed notification enabled or not",
                    "x-ms-summary": "Signed"
                  },
                  "expired": {
                    "type": "boolean",
                    "description": "The expired notification enabled or not",
                    "x-ms-summary": "Expired"
                  },
                  "authenticationFailed": {
                    "type": "boolean",
                    "description": "The authentication failed notification enabled or not",
                    "x-ms-summary": "Authentication Failed"
                  },
                  "reminders": {
                    "type": "boolean",
                    "description": "The reminders notification enabled or not",
                    "x-ms-summary": "Reminders"
                  }
                },
                "description": "The notification settings"
              },
              "brandId": {
                "type": "string",
                "description": "The brand id",
                "x-ms-summary": "Brand Id"
              },
              "redirectUrl": {
                "type": "string",
                "description": "The redirect url",
                "x-ms-summary": "Redirect Url"
              }
            }
          },
          "description": "The sender identity list"
        }
      }
    },
    "AddWebHooksResponse": {
      "description": "The response object of the subscribe webhook request.",
      "type": "object",
      "properties": {
        "webhookId": {
          "type": "string",
          "description": "The ID of the webhook",
          "x-ms-summary": "WebHook Id",
          "x-ms-visibility": "important"
        }
      }
    },
    "WebHookEventOject": {
      "description": "Webhooks Event Data.",
      "type": "object",
      "properties": {
        "event": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The event id",
              "x-ms-summary": "Event Id"
            },
            "created": {
              "type": "integer",
              "format": "int32",
              "description": "The event created date time",
              "x-ms-summary": "Created"
            },
            "eventType": {
              "type": "string",
              "description": "The type of the event",
              "x-ms-summary": "Event Type"
            },
            "clientId": {
              "type": "string",
              "description": "The client id",
              "x-ms-summary": "Client Id"
            },
            "environment": {
              "type": "string",
              "description": "The environment type",
              "x-ms-summary": "Environment"
            }
          },
          "description": "The event details"
        },
        "data": {
          "type": "object",
          "properties": {
            "object": {
              "type": "string",
              "description": "The type of object",
              "x-ms-summary": "Object"
            },
            "documentId": {
              "type": "string",
              "description": "The id of the document",
              "x-ms-summary": "Document Id"
            },
            "messageTitle": {
              "type": "string",
              "description": "The document title",
              "x-ms-summary": "Document Title"
            },
            "documentDescription": {
              "type": "string",
              "description": "The document description",
              "x-ms-summary": "Document Description"
            },
            "status": {
              "type": "string",
              "description": "The document status",
              "x-ms-summary": "Document Status"
            },
            "senderDetail": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The sender name",
                  "x-ms-summary": "Sender Name"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "The sender email",
                  "x-ms-summary": "Sender Email"
                }
              },
              "description": "The sender details"
            },
            "signerDetails": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "signerName": {
                    "type": "string",
                    "description": "The signer name",
                    "x-ms-summary": "Signer Name"
                  },
                  "signerRole": {
                    "type": "string",
                    "description": "The signer role",
                    "x-ms-summary": "Signer Role"
                  },
                  "signerEmail": {
                    "type": "string",
                    "description": "The signer email",
                    "x-ms-summary": "Signer Email"
                  },
                  "phoneNumber": {
                    "type": "object",
                    "properties": {
                      "countryCode": {
                        "type": "string",
                        "description": "The country code",
                        "x-ms-summary": "Country Code"
                      },
                      "number": {
                        "type": "string",
                        "description": "The phone number",
                        "x-ms-summary": "Phone Number"
                      }
                    },
                    "description": "The phone number"
                  },
                  "status": {
                    "type": "string",
                    "description": "The signer status",
                    "x-ms-summary": "Signer Status"
                  },
                  "enableAccessCode": {
                    "type": "boolean",
                    "description": "Indicates whether access code enabled or not",
                    "x-ms-summary": "Enabled Access Code"
                  },
                  "isAuthenticationFailed": {
                    "type": "string",
                    "description": "Indicates whether authentication failed or not",
                    "x-ms-summary": "Authentication Failed"
                  },
                  "enableEmailOTP": {
                    "type": "boolean",
                    "description": "Indicates whether email OTP enabled or not",
                    "x-ms-summary": "Enabled Email OTP"
                  },
                  "isDeliveryFailed": {
                    "type": "boolean",
                    "description": "Indicates whether document delivery failed or not",
                    "x-ms-summary": "Delivery Failed"
                  },
                  "isViewed": {
                    "type": "boolean",
                    "description": "Indicates whether document viewed or not",
                    "x-ms-summary": "Viewed"
                  },
                  "order": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The signer order",
                    "x-ms-summary": "Signer Order"
                  },
                  "signerType": {
                    "type": "string",
                    "description": "The signer type",
                    "x-ms-summary": "Signer Type"
                  },
                  "isReassigned": {
                    "type": "boolean",
                    "description": "Indicates whether signer reassigned or not",
                    "x-ms-summary": "Reassigned"
                  },
                  "reassignMessage": {
                    "type": "string",
                    "description": "The reassign message",
                    "x-ms-summary": "Reassign Message"
                  },
                  "declineMessage": {
                    "type": "string",
                    "description": "The decline message",
                    "x-ms-summary": "Decline Message"
                  },
                  "lastActivityDate": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The last activity date",
                    "x-ms-summary": "Last Activity Date"
                  },
                  "authenticationType": {
                    "type": "string",
                    "description": "The authentication type",
                    "x-ms-summary": "Authentication Type"
                  },
                  "idVerification": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The identity verification type",
                        "x-ms-summary": "Identity Verification Type"
                      },
                      "maximumRetryCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The maximum retry count",
                        "x-ms-summary": "Maximum Retry Count"
                      },
                      "status": {
                        "type": "string",
                        "description": "The identity verification Status",
                        "x-ms-summary": "Identity Verification Status"
                      },
                      "nameMatcher": {
                        "type": "string",
                        "description": "The name matcher type",
                        "x-ms-summary": "Name Matcher"
                      },
                      "requireLiveCapture": {
                        "type": "boolean",
                        "description": "Indicates whether live capture required or not",
                        "x-ms-summary": "Required Live Capture"
                      },
                      "requireMatchingSelfie": {
                        "type": "boolean",
                        "description": "Indicates whether matching selfie required or not",
                        "x-ms-summary": "Required Matching Selfie"
                      }
                    },
                    "description": "The identity verification details"
                  },
                  "allowFieldConfiguration": {
                    "type": "boolean",
                    "description": "Indicates whether field configuration required or not",
                    "x-ms-summary": "Allowed Field Configuration"
                  }
                }
              },
              "description": "The signer details"
            },
            "ccDetails": {
              "type": "array",
              "items": {},
              "description": "The cc email addresses",
              "x-ms-summary": "CC Emails"
            },
            "onBehalfOf": {
              "type": "string",
              "description": "The on behalf of email",
              "x-ms-summary": "On Behalf Of"
            },
            "createdDate": {
              "type": "integer",
              "format": "int32",
              "description": "The document created date",
              "x-ms-summary": "Created Date"
            },
            "expiryDate": {
              "type": "integer",
              "format": "int32",
              "description": "The document expiry date",
              "x-ms-summary": "Expiry Date"
            },
            "enableSigningOrder": {
              "type": "boolean",
              "description": "Indicates whether signing order enabled or not",
              "x-ms-summary": "Enabled Signing Order"
            },
            "disableEmails": {
              "type": "boolean",
              "description": "Indicates whether emails are disabled or not",
              "x-ms-summary": "Disabled Emails"
            },
            "revokeMessage": {
              "type": "string",
              "description": "The revoke message",
              "x-ms-summary": "Revoke Message"
            },
            "errorMessage": {
              "type": "string",
              "description": "The error message",
              "x-ms-summary": "Error Message"
            },
            "labels": {
              "type": "array",
              "items": {},
              "description": "The document labels",
              "x-ms-summary": "Labels"
            },
            "isCombinedAudit": {
              "type": "boolean",
              "description": "Indicates whether audit trail is combined with document or not",
              "x-ms-summary": "Combined Audit"
            }
          },
          "description": "The event data"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://account.boldsign.com/connect/authorize",
      "tokenUrl": "https://account.boldsign.com/connect/token",
      "scopes": {
        "openid": "openid",
        "profile": "profile",
        "offline_access": "offline_access",
        "BoldSign.Documents.All": "BoldSign.Documents.All",
        "BoldSign.Templates.All": "BoldSign.Templates.All",
        "BoldSign.SenderIdentity.All": "BoldSign.SenderIdentity.All"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "openid",
        "profile",
        "offline_access",
        "BoldSign.Documents.All",
        "BoldSign.Templates.All",
        "BoldSign.SenderIdentity.All"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://boldsign.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://boldsign.com/privacy-policy/"
    }
  ]
}
