{
  "swagger": "2.0",
  "info": {
    "title": "365 Training",
    "version": "1.0",
    "description": "365.Training offers practical on-demand training for makers of all skill levels.  Our connector allows you to use our notifications in your apps and automation to stay up-to-date with our new releases.",
    "contact": {
      "name": "365 Training Support",
      "url": "https://365l.ink/ConnectorSupport",
      "email": "info@365.training"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://365.training/Home/About"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://365.training/home/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "host": "api.365.training",
  "basePath": "/prod",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/UserProfile": {
      "get": {
        "operationId": "GetUserProfile",
        "summary": "Get User Profile",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserProfile"
            }
          }
        },
        "description": "Get your user profile information."
      }
    },
    "/NewCourseUserNotification": {
      "x-ms-notification-content": {
        "description": "Sent when a course you are taking has a notification of new content",
        "schema": {
          "$ref": "#/definitions/CourseUserNotification"
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "When a course notification is received",
        "description": "Get notification when a course you are enrolled in has a new notification published.",
        "operationId": "NewCourseUserNotification",
        "tags": [
          "Trigger"
        ],
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "targeturl": {
                  "type": "string",
                  "description": "This is the targeturl.",
                  "x-ms-visibility": "internal",
                  "title": "",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "targeturl"
              ]
            }
          }
        ]
      }
    },
    "/ListCourses": {
      "get": {
        "responses": {
          "200": {
            "description": "This is the success message.",
            "schema": {
              "$ref": "#/definitions/CourseSummaryResponse"
            }
          }
        },
        "summary": "List Courses",
        "description": "List the published training courses we have available.",
        "operationId": "ListCourses",
        "tags": [
          "Course"
        ],
        "parameters": [
          {
            "name": "PublishedFrom",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "List all courses published on or after this date",
            "x-ms-summary": "Published From"
          },
          {
            "name": "PublishedTo",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "List all courses published on or before this date",
            "x-ms-summary": "Published To"
          },
          {
            "name": "PriceFrom",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "float",
            "description": "List all courses with a price equal or greater to this value.",
            "x-ms-summary": "Price From"
          },
          {
            "name": "PriceTo",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "float",
            "description": "List all courses with a price equal or less than this value.",
            "x-ms-summary": "Price To"
          },
          {
            "name": "IsNew",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "This will list all courses marked as new.",
            "x-ms-summary": "Is New"
          },
          {
            "name": "moreToken",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "moreToken",
            "description": "Used to retrieve additional pages of data after initial page.",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/ListInstructors": {
      "get": {
        "responses": {
          "200": {
            "description": "This is the Success message.",
            "schema": {
              "$ref": "#/definitions/InstructorSummaryResponse"
            }
          }
        },
        "summary": "List Instructors",
        "description": "List summary information about our instructors.",
        "operationId": "ListInstructors",
        "tags": [
          "Instructor"
        ],
        "parameters": [
          {
            "name": "moreToken",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "moreToken",
            "description": "Used to retrieve additional pages of data after initial page",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/ListMyCourses": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MyCoursesResponse"
            }
          }
        },
        "summary": "List My Courses",
        "description": "List the courses you have enrolled in and your progress.",
        "operationId": "ListMyCourses",
        "tags": [
          "Course"
        ],
        "parameters": [
          {
            "name": "moreToken",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "moreToken",
            "description": "Used to retrieve additional pages of data after initial page",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/ListIdeas": {
      "get": {
        "responses": {
          "200": {
            "description": "This is the Success message.",
            "schema": {
              "$ref": "#/definitions/IdeaSummaryResponse"
            }
          }
        },
        "summary": "List Ideas",
        "description": "This will list active ideas that have been submitted by our community.",
        "operationId": "ListIdeas",
        "tags": [
          "Idea"
        ],
        "parameters": [
          {
            "name": "moreToken",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "moreToken",
            "description": "Used to retrieve additional pages of data after initial page",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/GetCourse": {
      "get": {
        "responses": {
          "200": {
            "description": "This is the Success message.",
            "schema": {
              "$ref": "#/definitions/CourseDetail"
            }
          }
        },
        "summary": "Get Course",
        "description": "Get the details of a course including module and unit information.",
        "operationId": "GetCourse",
        "tags": [
          "Course"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The course ID to retrieve.",
            "x-ms-summary": "Course ID"
          }
        ]
      }
    },
    "/AddIdeaVote": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add Idea Vote",
        "description": "Add your vote to an idea to show your support.",
        "operationId": "AddIdeaVote",
        "tags": [
          "Idea"
        ],
        "parameters": [
          {
            "name": "IdeaID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The ID of the Idea you are voting for.",
            "x-ms-summary": "Idea ID"
          }
        ]
      }
    },
    "/NewIdeaNotification": {
      "x-ms-notification-content": {
        "description": "This is the details of the new idea.",
        "schema": {
          "type": "object",
          "properties": {
            "ideaid": {
              "type": "string",
              "description": "This is the Idea ID.",
              "title": "Idea ID"
            },
            "ideasetid": {
              "type": "string",
              "description": "This is the Idea Set ID.",
              "title": "Idea Set ID"
            },
            "details": {
              "type": "string",
              "description": "This is the Details.",
              "title": "Details"
            },
            "votes": {
              "type": "string",
              "description": "This is the Votes.",
              "title": "Votes"
            },
            "courseid": {
              "type": "string",
              "description": "This is the Course ID.",
              "title": "Course ID"
            },
            "idea": {
              "type": "string",
              "description": "This is the Idea Title.",
              "title": "Title"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "This is the Successmessage."
          }
        },
        "summary": "When a new idea is created",
        "description": "Get notified when a new idea is added by the community.",
        "operationId": "NewIdeaNotification",
        "tags": [
          "Trigger"
        ],
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "targeturl": {
                  "type": "string",
                  "description": "This is the targeturl.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "targeturl"
              ]
            }
          }
        ]
      }
    },
    "/NewCoursePublishedNotification": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "courseid": {
              "type": "string",
              "description": "This is the courseid.",
              "title": "Course ID"
            },
            "title": {
              "type": "string",
              "description": "This is the title."
            },
            "onlinedescription": {
              "type": "string",
              "description": "This is the oneline description."
            },
            "rating": {
              "type": "string",
              "description": "This is the rating."
            },
            "skilllevel": {
              "type": "string",
              "description": "This is the skill level."
            },
            "thumbnailurl": {
              "type": "string",
              "description": "This is the thumbnailurl."
            },
            "abstract": {
              "type": "string",
              "description": "This is the abstract."
            },
            "price": {
              "type": "string",
              "description": "This is the price."
            },
            "intructorid": {
              "type": "string",
              "description": "This is the intructorid."
            },
            "intructorname": {
              "type": "string",
              "description": "This is the intructor name."
            },
            "courseurl": {
              "type": "string",
              "description": "This is the courseurl."
            },
            "isnew": {
              "type": "string",
              "description": "This is the is new flag."
            },
            "eventend": {
              "type": "string",
              "description": "This is the eventend flag."
            },
            "eventstart": {
              "type": "string",
              "description": "This is the eventstart flag."
            },
            "publisheddate": {
              "type": "string",
              "description": "This is the published date."
            }
          }
        },
        "description": "This gives details of the new course added."
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "When a new course is published",
        "description": "Get notified when a new course is published on  our learning platform.",
        "operationId": "NewCoursePublishedNotification",
        "tags": [
          "Trigger"
        ],
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "targeturl": {
                  "type": "string",
                  "description": "This is the targeturl.",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "targeturl"
              ]
            }
          }
        ]
      }
    },
    "/GetInstructor": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/InstructorDetail"
            }
          }
        },
        "summary": "Get Instructor",
        "description": "Get detailed information for a specific instructor including their course list.",
        "operationId": "GetInstructor",
        "tags": [
          "Instructor"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The ID of the instructor to retrieve.",
            "x-ms-summary": "Instructor ID"
          }
        ]
      }
    },
    "/Search": {
      "get": {
        "responses": {
          "200": {
            "description": "This is the success response",
            "schema": {
              "type": "object",
              "properties": {
                "courses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "courseID": {
                        "type": "string",
                        "description": "This is the courseID."
                      },
                      "title": {
                        "type": "string",
                        "description": "This is the title."
                      },
                      "rating": {
                        "type": "integer",
                        "format": "int32",
                        "description": "This is the rating."
                      },
                      "publishDate": {
                        "type": "string",
                        "description": "This is the publish date."
                      },
                      "onelineDescription": {
                        "type": "string",
                        "description": "This is the one line description."
                      },
                      "abstract": {
                        "type": "string",
                        "description": "This is the abstract."
                      },
                      "price": {
                        "type": "number",
                        "format": "float",
                        "description": "This is the price."
                      },
                      "instructorID": {
                        "type": "string",
                        "description": "This is the instructorID."
                      },
                      "instructorName": {
                        "type": "string",
                        "description": "This is the instructor name."
                      },
                      "courseUrl": {
                        "type": "string",
                        "description": "This is the courseUrl."
                      },
                      "thumbnailUrl": {
                        "type": "string",
                        "description": "This is the thumbnailUrl."
                      },
                      "skillLevel": {
                        "type": "string",
                        "description": "This is the skill level."
                      },
                      "isNew": {
                        "type": "boolean",
                        "description": "This is the is new flag."
                      },
                      "eventStart": {
                        "type": "string",
                        "description": "This is the event start flag."
                      },
                      "eventEnd": {
                        "type": "string",
                        "description": "This is the event end flag."
                      }
                    }
                  },
                  "description": "courses"
                },
                "more": {
                  "type": "boolean",
                  "description": "more"
                },
                "moreToken": {
                  "type": "string",
                  "description": "moreToken"
                },
                "webSearchResult": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Title of the content",
                        "title": "Title"
                      },
                      "url": {
                        "type": "string",
                        "description": "Use the URL to access the content",
                        "title": "URL"
                      },
                      "displayURL": {
                        "type": "string",
                        "description": "This is a URL for display.",
                        "title": "Display URL"
                      },
                      "snippet": {
                        "type": "string",
                        "description": "Short description of the content.",
                        "title": "Short Description"
                      }
                    }
                  },
                  "description": "webSearchResult"
                }
              }
            }
          }
        },
        "summary": "Search",
        "description": "Search our course catalog and related community content.",
        "operationId": "Search",
        "tags": [
          "Course"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "What you wish to search for.",
            "x-ms-summary": "Query"
          }
        ]
      }
    }
  },
  "definitions": {
    "UserProfile": {
      "type": "object",
      "properties": {
        "userID": {
          "format": "uuid",
          "type": "string",
          "description": "This is your user ID.",
          "title": "User ID"
        },
        "displayName": {
          "type": "string",
          "description": "This is your users display name.",
          "title": "Display Name"
        }
      }
    },
    "CourseUserNotification": {
      "type": "object",
      "properties": {
        "notificationid": {
          "type": "string",
          "description": "This is the ID of this notification.",
          "title": "Notification ID",
          "x-ms-visibility": "advanced"
        },
        "courseid": {
          "type": "string",
          "description": "This is the course ID the notification is for.",
          "title": "Course ID",
          "x-ms-visibility": "advanced"
        },
        "courseurl": {
          "type": "string",
          "description": "This is the url for the course.",
          "title": "Course URL",
          "x-ms-visibility": "advanced"
        },
        "coursetitle": {
          "type": "string",
          "description": "This is the title of the course.",
          "title": "Course Title",
          "x-ms-visibility": "important"
        },
        "details": {
          "type": "string",
          "description": "This is the details of the notification message.",
          "title": "Details",
          "x-ms-visibility": "important"
        },
        "topic": {
          "type": "string",
          "description": "This is the topic of the notification.",
          "title": "Topic",
          "x-ms-visibility": "important"
        },
        "publishdate": {
          "type": "string",
          "description": "This is the date the notification was published.",
          "title": "Publish Date",
          "format": "date-time",
          "x-ms-visibility": "important"
        }
      }
    },
    "CourseSummary": {
      "type": "object",
      "properties": {
        "courseID": {
          "type": "string",
          "description": "This is the courseID."
        },
        "title": {
          "type": "string",
          "description": "This is the title."
        },
        "rating": {
          "type": "integer",
          "format": "int32",
          "description": "This is the rating."
        },
        "publishDate": {
          "type": "string",
          "description": "This is the publish date."
        },
        "onelineDescription": {
          "type": "string",
          "description": "This is the one line description."
        },
        "abstract": {
          "type": "string",
          "description": "This is the abstract."
        },
        "price": {
          "type": "number",
          "format": "float",
          "description": "This is the price."
        },
        "instructorID": {
          "type": "string",
          "description": "This is the instructorID."
        },
        "instructorName": {
          "type": "string",
          "description": "This is the instructor name."
        },
        "courseUrl": {
          "type": "string",
          "description": "This is the courseUrl."
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "This is the thumbnailUrl."
        },
        "skillLevel": {
          "type": "string",
          "description": "This is the skill level."
        },
        "isNew": {
          "type": "boolean",
          "description": "This is the is new flag."
        },
        "eventStart": {
          "type": "string",
          "description": "This is the event start flag."
        },
        "eventEnd": {
          "type": "string",
          "description": "This is the event end flag."
        }
      }
    },
    "CourseSummaryResponse": {
      "type": "object",
      "properties": {
        "courses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "courseID": {
                "type": "string",
                "description": "This is the ID of the course.",
                "title": "Course ID"
              },
              "title": {
                "type": "string",
                "description": "This is the title.",
                "title": "Title"
              },
              "rating": {
                "type": "integer",
                "format": "int32",
                "description": "This is the current courses ratin.",
                "title": "Rating"
              },
              "publishDate": {
                "type": "string",
                "description": "This is the publish date of the course."
              },
              "onelineDescription": {
                "type": "string",
                "description": "This is the short course description.",
                "title": "Short Description"
              },
              "abstract": {
                "type": "string",
                "description": "This is the course abstract.",
                "title": "Abstract"
              },
              "price": {
                "type": "number",
                "format": "float",
                "description": "This is the current price.",
                "title": "Price"
              },
              "instructorID": {
                "type": "string",
                "description": "This is the instructor ID.",
                "title": "Instructor ID"
              },
              "instructorName": {
                "type": "string",
                "description": "This is the name of the instructor.",
                "title": "Instructor Name"
              },
              "courseUrl": {
                "type": "string",
                "description": "Use this to build a full url for the course.",
                "title": "Course Url"
              },
              "thumbnailUrl": {
                "type": "string",
                "description": "This is the image of the instructor.",
                "title": "Thumbnail Url"
              },
              "skillLevel": {
                "type": "string",
                "description": "This is the skill level for the course.",
                "title": "Skill Level"
              },
              "isNew": {
                "type": "boolean",
                "description": "This indicates a new course.",
                "title": "Is New"
              },
              "eventStart": {
                "type": "string",
                "description": "This is the Event Start for live events.",
                "title": "Event Start"
              },
              "eventEnd": {
                "type": "string",
                "description": "This is the Event End for live events.",
                "title": "Event End"
              }
            }
          },
          "description": "courses"
        },
        "more": {
          "type": "boolean",
          "description": "more"
        },
        "moreToken": {
          "type": "string",
          "description": "moreToken"
        }
      }
    },
    "InstructorSummaryResponse": {
      "type": "object",
      "properties": {
        "instructors": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "instructorID": {
                "type": "string",
                "description": "This is the Instructor ID.",
                "title": "Instructor ID"
              },
              "name": {
                "type": "string",
                "description": "This is the instructor Name.",
                "title": "Name"
              },
              "onelineBIO": {
                "type": "string",
                "description": "This is the Short Biography of the instructor.",
                "title": "Short BIO"
              },
              "thumbnailUrl": {
                "type": "string",
                "description": "This is the Thumbnail Url for the instructor image.",
                "title": "Thumbnail Url"
              }
            }
          },
          "description": "instructors"
        },
        "more": {
          "type": "boolean",
          "description": "more"
        },
        "moreToken": {
          "type": "string",
          "description": "moreToken"
        }
      }
    },
    "MyCoursesResponse": {
      "type": "object",
      "properties": {
        "courses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "lastAccessed": {
                "type": "string",
                "description": "This is the Last Accessed date.",
                "title": "Last Accessed"
              },
              "lastViewedName": {
                "type": "string",
                "description": "This is the Last Viewed Name.",
                "title": "Last Viewed Name"
              },
              "lastViewedId": {
                "type": "string",
                "description": "This is the Last Viewed Id.",
                "title": "Last Viewed Id"
              },
              "timeRemaining": {
                "type": "integer",
                "format": "int32",
                "description": "This is the Time Remaining.",
                "title": "Time Remaining"
              },
              "percentCompleted": {
                "type": "integer",
                "format": "int32",
                "description": "This is the Percent Completed.",
                "title": "Percent Completed"
              },
              "courseNotification": {
                "type": "boolean",
                "description": "This is the Notification Enabled flag.",
                "title": "Notification Enabled"
              },
              "daysSinceLastAccess": {
                "type": "integer",
                "format": "int32",
                "description": "This is the Days Since Last Access.",
                "title": "Days Since Last Access"
              },
              "courseID": {
                "type": "string",
                "description": "This is the Course ID.",
                "title": "Course ID"
              },
              "title": {
                "type": "string",
                "description": "This is the course Title.",
                "title": "Title"
              },
              "rating": {
                "type": "integer",
                "format": "int32",
                "description": "This is the course Rating.",
                "title": "Rating"
              },
              "publishDate": {
                "type": "string",
                "description": "This is the course Publish Date.",
                "title": "Publish Date"
              },
              "onelineDescription": {
                "type": "string",
                "description": "This is the Oneline Description of the course.",
                "title": "Oneline Description"
              },
              "abstract": {
                "type": "string",
                "description": "This is the course Abstract.",
                "title": "Abstract"
              },
              "instructorID": {
                "type": "string",
                "description": "This is the course Instructor ID.",
                "title": "Instructor ID"
              },
              "instructorName": {
                "type": "string",
                "description": "This is the course Instructor Name.",
                "title": "Instructor Name"
              },
              "courseUrl": {
                "type": "string",
                "description": "This is the course Course  Url.",
                "title": "Course  Url"
              },
              "thumbnailUrl": {
                "type": "string",
                "description": "This is the course Thumbnail Url.",
                "title": "Thumbnail Url"
              },
              "skillLevel": {
                "type": "string",
                "description": "This is the course Skill Level.",
                "title": "Skill Level"
              },
              "isNew": {
                "type": "boolean",
                "description": "This is the course Is New flag.",
                "title": "Is New"
              },
              "eventStart": {
                "type": "string",
                "description": "This is the Event Start.",
                "title": "Event Start"
              },
              "eventEnd": {
                "type": "string",
                "description": "This is the Event End.",
                "title": "Event End"
              }
            }
          },
          "description": "courses"
        },
        "more": {
          "type": "boolean",
          "description": "more",
          "title": "More"
        },
        "moreToken": {
          "type": "string",
          "description": "moreToken",
          "title": "More Token"
        }
      }
    },
    "IdeaSummaryResponse": {
      "type": "object",
      "properties": {
        "ideas": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "ideaID": {
                "type": "string",
                "title": "Idea ID",
                "description": "This is the ID of the Idea."
              },
              "ideaSetID": {
                "type": "string",
                "title": "Idea Set ID",
                "description": "This is the ideaSetID."
              },
              "idea": {
                "type": "string",
                "description": "This is the Title of the idea.",
                "title": "Title"
              },
              "details": {
                "type": "string",
                "description": "This is the Details of the idea.",
                "title": "Details"
              },
              "votes": {
                "type": "integer",
                "format": "int32",
                "description": "This is the Current number of votes for the idea.",
                "title": "Vote Count"
              },
              "courseId": {
                "type": "string",
                "description": "This is the Course ID if the idea has resulted in a new course.",
                "title": "Course ID"
              },
              "released": {
                "type": "boolean",
                "description": "This Indicates if the idea has been released.",
                "title": "Released"
              }
            }
          },
          "description": "This is the List of ideas."
        },
        "more": {
          "type": "boolean",
          "description": "This indicates more ideas are available.",
          "title": "More"
        },
        "moreToken": {
          "type": "string",
          "description": "This can be used to request more records.",
          "title": "More Token"
        }
      }
    },
    "CourseDetail": {
      "type": "object",
      "properties": {
        "instructors": {
          "type": "array",
          "items": {},
          "description": "This is the instructors."
        },
        "modules": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "moduleID": {
                "type": "string",
                "description": "This is the Module ID.",
                "title": "Module ID"
              },
              "title": {
                "type": "string",
                "description": "title",
                "title": "Title"
              },
              "sequence": {
                "type": "integer",
                "format": "int32",
                "description": "sequence",
                "title": "Sequence"
              },
              "units": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "unitID": {
                      "type": "string",
                      "description": "This is the Unit ID.",
                      "title": "Unit ID"
                    },
                    "title": {
                      "type": "string",
                      "description": "This is the title.",
                      "title": "Title"
                    },
                    "abstract": {
                      "type": "string",
                      "description": "This is the abstract.",
                      "title": "Abstract"
                    },
                    "duration": {
                      "type": "integer",
                      "format": "int32",
                      "description": "This is the duration.",
                      "title": "Duration"
                    },
                    "unitType": {
                      "type": "string",
                      "description": "This is the unitType."
                    },
                    "sequence": {
                      "type": "integer",
                      "format": "int32",
                      "description": "This is the sequence.",
                      "title": "Sequence"
                    },
                    "objectives": {
                      "type": "string",
                      "description": "This is the objectives.",
                      "title": "Objectives"
                    },
                    "guests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "instructorID": {
                            "type": "string",
                            "description": "This is the instructorID."
                          },
                          "name": {
                            "type": "string",
                            "description": "This is the name."
                          },
                          "onelineBIO": {
                            "type": "string",
                            "description": "This is the onelineBIO."
                          },
                          "thumbnailUrl": {
                            "type": "string",
                            "description": "This is the thumbnailUrl."
                          }
                        }
                      },
                      "description": "guests"
                    }
                  }
                },
                "description": "units"
              }
            }
          },
          "description": "modules"
        },
        "courseID": {
          "type": "string",
          "description": "This is the ID of the course.",
          "title": "Course ID"
        },
        "title": {
          "type": "string",
          "description": "This is the Title.",
          "title": "Title"
        },
        "rating": {
          "type": "integer",
          "format": "int32",
          "description": "This is the current courses rating.",
          "title": "Rating"
        },
        "publishDate": {
          "type": "string",
          "description": "This is the publish date."
        },
        "onelineDescription": {
          "type": "string",
          "description": "This is the short course description.",
          "title": "Short Description"
        },
        "abstract": {
          "type": "string",
          "description": "This is the course abstract.",
          "title": "Abstract"
        },
        "price": {
          "type": "number",
          "format": "float",
          "description": "This is the price.",
          "title": "Price"
        },
        "instructorID": {
          "type": "string",
          "description": "This is the instructor ID.",
          "title": "Instructor ID"
        },
        "instructorName": {
          "type": "string",
          "description": "This is the name of instructor.",
          "title": "Instructor Name"
        },
        "courseUrl": {
          "type": "string",
          "description": "Use this to build a full url for the course.",
          "title": "Course Url"
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "This is the image of the instructor.",
          "title": "Thumbnail Url"
        },
        "skillLevel": {
          "type": "string",
          "description": "This is the skill level for the course",
          "title": "Skill Level"
        },
        "isNew": {
          "type": "boolean",
          "description": "This indicates a new course.",
          "title": "Is New"
        },
        "eventStart": {
          "type": "string",
          "description": "This is the Event Start.",
          "title": "Event Start"
        },
        "eventEnd": {
          "type": "string",
          "description": "This is the Event End.",
          "title": "Event End"
        }
      }
    },
    "InstructorDetail": {
      "type": "object",
      "properties": {
        "courses": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "courseID": {
                "type": "string",
                "description": "This is the courseID."
              },
              "title": {
                "type": "string",
                "description": "This is the title."
              },
              "rating": {
                "type": "integer",
                "format": "int32",
                "description": "This is the rating."
              },
              "publishDate": {
                "type": "string",
                "description": "This is the publish date."
              },
              "onelineDescription": {
                "type": "string",
                "description": "This is the one line description."
              },
              "abstract": {
                "type": "string",
                "description": "This is the abstract."
              },
              "price": {
                "type": "number",
                "format": "float",
                "description": "This is the price."
              },
              "instructorID": {
                "type": "string",
                "description": "This is the instructorID."
              },
              "instructorName": {
                "type": "string",
                "description": "This is the instructor name."
              },
              "courseUrl": {
                "type": "string",
                "description": "This is the courseUrl."
              },
              "thumbnailUrl": {
                "type": "string",
                "description": "This is the thumbnailUrl."
              },
              "skillLevel": {
                "type": "string",
                "description": "This is the skill level."
              },
              "isNew": {
                "type": "boolean",
                "description": "This is the is new flag."
              },
              "eventStart": {
                "type": "string",
                "description": "This is the event start flag."
              },
              "eventEnd": {
                "type": "string",
                "description": "This is the event end flag."
              }
            }
          },
          "description": "courses"
        },
        "instructorUrl": {
          "type": "string",
          "description": "This is the instructorUrl."
        },
        "blogURL": {
          "type": "string",
          "description": "This is the blogURL of the instructor."
        },
        "twitterHandle": {
          "type": "string",
          "description": "This is the twitter handle of the instructor."
        },
        "linkedInID": {
          "type": "string",
          "description": "This is the LinkedIn ID of the instructor."
        },
        "gitHubID": {
          "type": "string",
          "description": "This is the gitHubID of the instructor."
        },
        "facebookUrl": {
          "type": "string",
          "description": "This is the FacebookUrl of the instructor."
        },
        "instructorID": {
          "type": "string",
          "description": "This is the instructorID of the instructor."
        },
        "name": {
          "type": "string",
          "description": "This is the name of the instructor."
        },
        "onelineBIO": {
          "type": "string",
          "description": "This is the one line bio of the instructor."
        },
        "thumbnailUrl": {
          "type": "string",
          "description": "This is the thumbnailUrl of the instructor."
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}