{
  "swagger": "2.0",
  "info": {
    "description": "Automate publishing workflow on Lnk.Bio: create a new Link on your public Lnk.Bio profile for any action taken on another platform.",
    "title": "Lnk.Bio",
    "version": "1.0",
    "contact": {
      "name": "Lnk.Bio support",
      "url": "https://help.lnk.bio/",
      "email": "support@lnk.bio"
    }
  },
  "host": "lnk.bio",
  "basePath": "/msft/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/lnk/add": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LnkBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation of the new Lnk creation",
            "schema": {
              "$ref": "#/definitions/inline_response_200"
            }
          },
          "401": {
            "description": "Not authenticated"
          }
        },
        "description": "Publish a new Lnk on your public Lnk.bio profile. The Lnk is immediately posted and will appear on top of any existing Lnk.",
        "summary": "Create a new Lnk",
        "operationId": "lnkadd"
      }
    }
  },
  "definitions": {
    "inline_response_200": {
      "properties": {
        "data": {
          "$ref": "#/definitions/inline_response_200_data"
        },
        "errors": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "status": {
          "example": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "inline_response_200_data": {
      "properties": {
        "id": {
          "example": 12345,
          "type": "integer"
        },
        "url": {
          "example": "https://lnk.bio/",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LnkBody": {
      "type": "object",
      "required": [
        "title",
        "link"
      ],
      "properties": {
        "title": {
          "type": "string",
          "example": "My beautiful post"
        },
        "link": {
          "type": "string",
          "example": "https://lnk.bio/"
        },
        "image": {
          "type": "string",
          "example": "https://lnk.bio/202006/img/layout/og_img_new.jpg"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://lnk.bio/manage/access",
      "tokenUrl": "https://lnk.bio/oauth/token",
      "scopes": {
        "basic": "basic"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "basic"
      ]
    }
  ],
  "x-components": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://lnk.bio/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://lnk.bio/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Social Media"
    }
  ]
}