{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "PaySpace",
    "description": "Our powerful solution allows you to access your employee data in order to utilize in your business environment. All supported endpoints in one place and ready to be integrated into your solution.",
    "contact": {
      "name": "Mint PaySpace Support",
      "url": "https://za.mintgroup.net/",
      "email": "payspace.support@mintgroup.net"
    }
  },
  "host": "api.payspace.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/odata/v1.1/{company-id}/Employee": {
      "get": {
        "summary": "Get a collection of employees",
        "description": "Retrieves a list of active employee biographical details as of the today's date and based on the specified company-id.",
        "operationId": "GetACollectionOfEmployees",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "(string) - Specifies the order in which items are returned",
            "x-ms-summary": "Optional by {{$employee-field}}"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": " (integer($int32)) - Limits the number of items returned from a collection",
            "x-ms-summary": "Optional $top"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": " (integer($int32)) - Excludes the specified number of items of the queried collection from the result",
            "x-ms-summary": "Optional $skip"
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "type": "string",
            "description": " (true/false) - Return total count in response",
            "x-ms-summary": "Optional $count"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": " Optional - Filter by field eg. \"EmployeeNumber eq 'Emp01'\"",
            "x-ms-summary": "Optional $filter"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": " Optional (string) - Returns only the fields specified",
            "x-ms-summary": "Optional $select"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "EmployeeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "EmployeeId"
                      },
                      "EmployeeNumber": {
                        "type": "string",
                        "description": "EmployeeNumber"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "FirstName"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "LastName"
                      },
                      "PreferredName": {
                        "type": "string",
                        "description": "PreferredName"
                      },
                      "MaidenName": {
                        "type": "string",
                        "description": "MaidenName"
                      },
                      "MiddleName": {
                        "type": "string",
                        "description": "MiddleName"
                      },
                      "Initials": {
                        "type": "string",
                        "description": "Initials"
                      },
                      "Email": {
                        "type": "string",
                        "description": "Email"
                      },
                      "Birthday": {
                        "type": "string",
                        "description": "Birthday"
                      },
                      "HomeNumber": {
                        "type": "string",
                        "description": "HomeNumber"
                      },
                      "WorkNumber": {
                        "type": "string",
                        "description": "WorkNumber"
                      },
                      "CellNumber": {
                        "type": "string",
                        "description": "CellNumber"
                      },
                      "WorkExtension": {
                        "type": "string",
                        "description": "WorkExtension"
                      },
                      "Language": {
                        "type": "string",
                        "description": "Language"
                      },
                      "Gender": {
                        "type": "string",
                        "description": "Gender"
                      },
                      "MaritalStatus": {
                        "type": "string",
                        "description": "MaritalStatus"
                      },
                      "Race": {
                        "type": "string",
                        "description": "Race"
                      },
                      "Nationality": {
                        "type": "string",
                        "description": "Nationality"
                      },
                      "Citizenship": {
                        "type": "string",
                        "description": "Citizenship"
                      },
                      "DisabledType": {
                        "type": "string",
                        "description": "DisabledType"
                      },
                      "ForeignNational": {
                        "type": "boolean",
                        "description": "ForeignNational"
                      },
                      "DateCreated": {
                        "type": "string",
                        "description": "DateCreated"
                      },
                      "EmergencyContactName": {
                        "type": "string",
                        "description": "EmergencyContactName"
                      },
                      "EmergencyContactNumber": {
                        "type": "string",
                        "description": "EmergencyContactNumber"
                      },
                      "EmergencyContactAddress": {
                        "type": "string",
                        "description": "EmergencyContactAddress"
                      },
                      "IsRetired": {
                        "type": "boolean",
                        "description": "IsRetired"
                      },
                      "CustomFieldValue": {
                        "type": "string",
                        "description": "CustomFieldValue"
                      },
                      "CustomFieldValue2": {
                        "type": "string",
                        "description": "CustomFieldValue2"
                      },
                      "UifExemption": {
                        "type": "string",
                        "description": "UifExemption"
                      },
                      "SdlExemption": {
                        "type": "string",
                        "description": "SdlExemption"
                      },
                      "EtiExempt": {
                        "type": "boolean",
                        "description": "EtiExempt"
                      },
                      "ImageDownloadUrl": {
                        "type": "string",
                        "description": "ImageDownloadUrl"
                      },
                      "CustomFields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "description": "Code"
                            },
                            "Label": {
                              "type": "string",
                              "description": "Label"
                            },
                            "Value": {
                              "type": "string",
                              "description": "Value"
                            }
                          }
                        },
                        "description": "CustomFields"
                      },
                      "Address": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "AddressId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "AddressId"
                            },
                            "AddressType": {
                              "type": "string",
                              "description": "AddressType"
                            },
                            "EmployeeNumber": {
                              "type": "string",
                              "description": "EmployeeNumber"
                            },
                            "AddressLine1": {
                              "type": "string",
                              "description": "AddressLine1"
                            },
                            "AddressLine2": {
                              "type": "string",
                              "description": "AddressLine2"
                            },
                            "AddressLine3": {
                              "type": "string",
                              "description": "AddressLine3"
                            },
                            "AddressCode": {
                              "type": "string",
                              "description": "AddressCode"
                            },
                            "AddressCountry": {
                              "type": "string",
                              "description": "AddressCountry"
                            },
                            "Province": {
                              "type": "string",
                              "description": "Province"
                            },
                            "UnitNumber": {
                              "type": "string",
                              "description": "UnitNumber"
                            },
                            "Complex": {
                              "type": "string",
                              "description": "Complex"
                            },
                            "StreetNumber": {
                              "type": "string",
                              "description": "StreetNumber"
                            },
                            "SameAsPhysical": {
                              "type": "boolean",
                              "description": "SameAsPhysical"
                            },
                            "IsCareofAddress": {
                              "type": "boolean",
                              "description": "IsCareofAddress"
                            },
                            "CareOfIntermediary": {
                              "type": "string",
                              "description": "CareOfIntermediary"
                            },
                            "SpecialServices": {
                              "type": "string",
                              "description": "SpecialServices"
                            }
                          }
                        },
                        "description": "Address"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a single Employee record",
        "description": "Create a single employee record for the specified EmployeeNumber.",
        "operationId": "CreateASingleEmployeeRecord",
        "parameters": [
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "EmployeeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "EmployeeId"
                },
                "EmployeeNumber": {
                  "type": "string",
                  "description": "EmployeeNumber"
                },
                "Title": {
                  "type": "string",
                  "description": "Title"
                },
                "FirstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "LastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "PreferredName": {
                  "type": "string",
                  "description": "PreferredName"
                },
                "MaidenName": {
                  "type": "string",
                  "description": "MaidenName"
                },
                "MiddleName": {
                  "type": "string",
                  "description": "MiddleName"
                },
                "Initials": {
                  "type": "string",
                  "description": "Initials"
                },
                "Email": {
                  "type": "string",
                  "description": "Email"
                },
                "Birthday": {
                  "type": "string",
                  "description": "Birthday"
                },
                "HomeNumber": {
                  "type": "string",
                  "description": "HomeNumber"
                },
                "WorkNumber": {
                  "type": "string",
                  "description": "WorkNumber"
                },
                "CellNumber": {
                  "type": "string",
                  "description": "CellNumber"
                },
                "WorkExtension": {
                  "type": "string",
                  "description": "WorkExtension"
                },
                "Language": {
                  "type": "string",
                  "description": "Language"
                },
                "Gender": {
                  "type": "string",
                  "description": "Gender"
                },
                "MaritalStatus": {
                  "type": "string",
                  "description": "MaritalStatus"
                },
                "Race": {
                  "type": "string",
                  "description": "Race"
                },
                "Nationality": {
                  "type": "string",
                  "description": "Nationality"
                },
                "Citizenship": {
                  "type": "string",
                  "description": "Citizenship"
                },
                "DisabledType": {
                  "type": "string",
                  "description": "DisabledType"
                },
                "ForeignNational": {
                  "type": "boolean",
                  "description": "ForeignNational"
                },
                "DateCreated": {
                  "type": "string",
                  "description": "DateCreated"
                },
                "EmergencyContactName": {
                  "type": "string",
                  "description": "EmergencyContactName"
                },
                "EmergencyContactNumber": {
                  "type": "string",
                  "description": "EmergencyContactNumber"
                },
                "EmergencyContactAddress": {
                  "type": "string",
                  "description": "EmergencyContactAddress"
                },
                "IsRetired": {
                  "type": "boolean",
                  "description": "IsRetired"
                },
                "CustomFieldValue": {
                  "type": "string",
                  "description": "CustomFieldValue"
                },
                "CustomFieldValue2": {
                  "type": "string",
                  "description": "CustomFieldValue2"
                },
                "UifExemption": {
                  "type": "string",
                  "description": "UifExemption"
                },
                "SdlExemption": {
                  "type": "string",
                  "description": "SdlExemption"
                },
                "EtiExempt": {
                  "type": "boolean",
                  "description": "EtiExempt"
                },
                "ImageDownloadUrl": {
                  "type": "string",
                  "description": "ImageDownloadUrl"
                },
                "CustomFields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Code": {
                        "type": "string",
                        "description": "Code"
                      },
                      "Label": {
                        "type": "string",
                        "description": "Label"
                      },
                      "Value": {
                        "type": "string",
                        "description": "Value"
                      }
                    }
                  },
                  "description": "CustomFields"
                },
                "Address": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "AddressId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "AddressId"
                      },
                      "AddressType": {
                        "type": "string",
                        "description": "AddressType"
                      },
                      "EmployeeNumber": {
                        "type": "string",
                        "description": "EmployeeNumber"
                      },
                      "AddressLine1": {
                        "type": "string",
                        "description": "AddressLine1"
                      },
                      "AddressLine2": {
                        "type": "string",
                        "description": "AddressLine2"
                      },
                      "AddressLine3": {
                        "type": "string",
                        "description": "AddressLine3"
                      },
                      "AddressCode": {
                        "type": "string",
                        "description": "AddressCode"
                      },
                      "AddressCountry": {
                        "type": "string",
                        "description": "AddressCountry"
                      },
                      "Province": {
                        "type": "string",
                        "description": "Province"
                      },
                      "UnitNumber": {
                        "type": "string",
                        "description": "UnitNumber"
                      },
                      "Complex": {
                        "type": "string",
                        "description": "Complex"
                      },
                      "StreetNumber": {
                        "type": "string",
                        "description": "StreetNumber"
                      },
                      "SameAsPhysical": {
                        "type": "boolean",
                        "description": "SameAsPhysical"
                      },
                      "IsCareofAddress": {
                        "type": "boolean",
                        "description": "IsCareofAddress"
                      },
                      "CareOfIntermediary": {
                        "type": "string",
                        "description": "CareOfIntermediary"
                      },
                      "SpecialServices": {
                        "type": "string",
                        "description": "SpecialServices"
                      }
                    }
                  },
                  "description": "Address"
                }
              }
            }
          }
        }
      }
    },
    "/odata/v1.1/{company-id}/Employee/effective/:{effectivedate}": {
      "get": {
        "summary": "Get a collection of employees as of an effective date",
        "description": "Retrieves a list of active employee biographical details as of the specified effective date and based on the specified company-id.",
        "operationId": "GetACollectionOfEmployeesAsOfAnEffectiveDate",
        "parameters": [
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "effectivedate",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Effective date formatted in YYYY-MM-DD. eg. 2022-01-15",
            "x-ms-summary": "effectivedate"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "(string) - Specifies the order in which items are returned",
            "x-ms-summary": "Optional by {{$employee-field}}"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": " (integer($int32)) - Limits the number of items returned from a collection",
            "x-ms-summary": "Optional $top"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": " (integer($int32)) - Excludes the specified number of items of the queried collection from the result",
            "x-ms-summary": "Optional $skip"
          },
          {
            "name": "$count",
            "in": "query",
            "required": true,
            "type": "string",
            "description": " (true/false) - Return total count in response",
            "x-ms-summary": "Optional $count"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": " - Filter by field eg. \"EmployeeNumber eq 'Emp01'\"",
            "x-ms-summary": "Optional $filter"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "EmployeeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "EmployeeId"
                      },
                      "EmployeeNumber": {
                        "type": "string",
                        "description": "EmployeeNumber"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "FirstName": {
                        "type": "string",
                        "description": "FirstName"
                      },
                      "LastName": {
                        "type": "string",
                        "description": "LastName"
                      },
                      "PreferredName": {
                        "type": "string",
                        "description": "PreferredName"
                      },
                      "MaidenName": {
                        "type": "string",
                        "description": "MaidenName"
                      },
                      "MiddleName": {
                        "type": "string",
                        "description": "MiddleName"
                      },
                      "Initials": {
                        "type": "string",
                        "description": "Initials"
                      },
                      "Email": {
                        "type": "string",
                        "description": "Email"
                      },
                      "Birthday": {
                        "type": "string",
                        "description": "Birthday"
                      },
                      "HomeNumber": {
                        "type": "string",
                        "description": "HomeNumber"
                      },
                      "WorkNumber": {
                        "type": "string",
                        "description": "WorkNumber"
                      },
                      "CellNumber": {
                        "type": "string",
                        "description": "CellNumber"
                      },
                      "WorkExtension": {
                        "type": "string",
                        "description": "WorkExtension"
                      },
                      "Language": {
                        "type": "string",
                        "description": "Language"
                      },
                      "Gender": {
                        "type": "string",
                        "description": "Gender"
                      },
                      "MaritalStatus": {
                        "type": "string",
                        "description": "MaritalStatus"
                      },
                      "Race": {
                        "type": "string",
                        "description": "Race"
                      },
                      "Nationality": {
                        "type": "string",
                        "description": "Nationality"
                      },
                      "Citizenship": {
                        "type": "string",
                        "description": "Citizenship"
                      },
                      "TaxRefNumber": {
                        "type": "string",
                        "description": "TaxRefNumber"
                      },
                      "Disabled": {
                        "type": "boolean",
                        "description": "Disabled"
                      },
                      "DisabledType": {
                        "type": "string",
                        "description": "DisabledType"
                      },
                      "EthnicGroup": {
                        "type": "string",
                        "description": "EthnicGroup"
                      },
                      "ForeignNational": {
                        "type": "boolean",
                        "description": "ForeignNational"
                      },
                      "GroupDate": {
                        "type": "string",
                        "description": "GroupDate"
                      },
                      "DateCreated": {
                        "type": "string",
                        "description": "DateCreated"
                      },
                      "EmergencyContactName": {
                        "type": "string",
                        "description": "EmergencyContactName"
                      },
                      "EmergencyContactNumber": {
                        "type": "string",
                        "description": "EmergencyContactNumber"
                      },
                      "EmergencyContactAddress": {
                        "type": "string",
                        "description": "EmergencyContactAddress"
                      },
                      "IsMockEmployee": {
                        "type": "boolean",
                        "description": "IsMockEmployee"
                      },
                      "IsRetired": {
                        "type": "boolean",
                        "description": "IsRetired"
                      },
                      "CustomFieldValue": {
                        "type": "string",
                        "description": "CustomFieldValue"
                      },
                      "CustomFieldValue2": {
                        "type": "string",
                        "description": "CustomFieldValue2"
                      },
                      "UifExemption": {
                        "type": "string",
                        "description": "UifExemption"
                      },
                      "SdlExemption": {
                        "type": "string",
                        "description": "SdlExemption"
                      },
                      "EtiExempt": {
                        "type": "boolean",
                        "description": "EtiExempt"
                      },
                      "ImageDownloadUrl": {
                        "type": "string",
                        "description": "ImageDownloadUrl"
                      },
                      "CustomFields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "description": "Code"
                            },
                            "Label": {
                              "type": "string",
                              "description": "Label"
                            },
                            "Value": {
                              "type": "string",
                              "description": "Value"
                            }
                          }
                        },
                        "description": "CustomFields"
                      },
                      "Address": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "AddressId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "AddressId"
                            },
                            "AddressType": {
                              "type": "string",
                              "description": "AddressType"
                            },
                            "EmployeeNumber": {
                              "type": "string",
                              "description": "EmployeeNumber"
                            },
                            "AddressLine1": {
                              "type": "string",
                              "description": "AddressLine1"
                            },
                            "AddressLine2": {
                              "type": "string",
                              "description": "AddressLine2"
                            },
                            "AddressLine3": {
                              "type": "string",
                              "description": "AddressLine3"
                            },
                            "AddressCode": {
                              "type": "string",
                              "description": "AddressCode"
                            },
                            "AddressCountry": {
                              "type": "string",
                              "description": "AddressCountry"
                            },
                            "Province": {
                              "type": "string",
                              "description": "Province"
                            },
                            "UnitNumber": {
                              "type": "string",
                              "description": "UnitNumber"
                            },
                            "Complex": {
                              "type": "string",
                              "description": "Complex"
                            },
                            "StreetNumber": {
                              "type": "string",
                              "description": "StreetNumber"
                            },
                            "SameAsPhysical": {
                              "type": "boolean",
                              "description": "SameAsPhysical"
                            },
                            "IsCareofAddress": {
                              "type": "boolean",
                              "description": "IsCareofAddress"
                            },
                            "CareOfIntermediary": {
                              "type": "string",
                              "description": "CareOfIntermediary"
                            },
                            "SpecialServices": {
                              "type": "string",
                              "description": "SpecialServices"
                            }
                          }
                        },
                        "description": "Address"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        }
      }
    },
    "/odata/v1.1/{company-id}/Employee({EmployeeId})": {
      "get": {
        "summary": "Get a single employee record",
        "description": "Retrieves employee information based on the specified EmployeeId.",
        "operationId": "GetASingleEmployeeRecord",
        "parameters": [
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "EmployeeId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": " The EmployeeId",
            "x-ms-summary": "{{EmployeeId}}"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "EmployeeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "EmployeeId"
                },
                "EmployeeNumber": {
                  "type": "string",
                  "description": "EmployeeNumber"
                },
                "Title": {
                  "type": "string",
                  "description": "Title"
                },
                "FirstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "LastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "PreferredName": {
                  "type": "string",
                  "description": "PreferredName"
                },
                "MaidenName": {
                  "type": "string",
                  "description": "MaidenName"
                },
                "MiddleName": {
                  "type": "string",
                  "description": "MiddleName"
                },
                "Initials": {
                  "type": "string",
                  "description": "Initials"
                },
                "Email": {
                  "type": "string",
                  "description": "Email"
                },
                "Birthday": {
                  "type": "string",
                  "description": "Birthday"
                },
                "HomeNumber": {
                  "type": "string",
                  "description": "HomeNumber"
                },
                "WorkNumber": {
                  "type": "string",
                  "description": "WorkNumber"
                },
                "CellNumber": {
                  "type": "string",
                  "description": "CellNumber"
                },
                "WorkExtension": {
                  "type": "string",
                  "description": "WorkExtension"
                },
                "Language": {
                  "type": "string",
                  "description": "Language"
                },
                "Gender": {
                  "type": "string",
                  "description": "Gender"
                },
                "MaritalStatus": {
                  "type": "string",
                  "description": "MaritalStatus"
                },
                "Race": {
                  "type": "string",
                  "description": "Race"
                },
                "Nationality": {
                  "type": "string",
                  "description": "Nationality"
                },
                "Citizenship": {
                  "type": "string",
                  "description": "Citizenship"
                },
                "DisabledType": {
                  "type": "string",
                  "description": "DisabledType"
                },
                "ForeignNational": {
                  "type": "boolean",
                  "description": "ForeignNational"
                },
                "DateCreated": {
                  "type": "string",
                  "description": "DateCreated"
                },
                "EmergencyContactName": {
                  "type": "string",
                  "description": "EmergencyContactName"
                },
                "EmergencyContactNumber": {
                  "type": "string",
                  "description": "EmergencyContactNumber"
                },
                "EmergencyContactAddress": {
                  "type": "string",
                  "description": "EmergencyContactAddress"
                },
                "IsRetired": {
                  "type": "boolean",
                  "description": "IsRetired"
                },
                "CustomFieldValue": {
                  "type": "string",
                  "description": "CustomFieldValue"
                },
                "CustomFieldValue2": {
                  "type": "string",
                  "description": "CustomFieldValue2"
                },
                "UifExemption": {
                  "type": "string",
                  "description": "UifExemption"
                },
                "SdlExemption": {
                  "type": "string",
                  "description": "SdlExemption"
                },
                "EtiExempt": {
                  "type": "boolean",
                  "description": "EtiExempt"
                },
                "ImageDownloadUrl": {
                  "type": "string",
                  "description": "ImageDownloadUrl"
                },
                "CustomFields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Code": {
                        "type": "string",
                        "description": "Code"
                      },
                      "Label": {
                        "type": "string",
                        "description": "Label"
                      },
                      "Value": {
                        "type": "string",
                        "description": "Value"
                      }
                    }
                  },
                  "description": "CustomFields"
                },
                "Address": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "AddressId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "AddressId"
                      },
                      "AddressType": {
                        "type": "string",
                        "description": "AddressType"
                      },
                      "EmployeeNumber": {
                        "type": "string",
                        "description": "EmployeeNumber"
                      },
                      "AddressLine1": {
                        "type": "string",
                        "description": "AddressLine1"
                      },
                      "AddressLine2": {
                        "type": "string",
                        "description": "AddressLine2"
                      },
                      "AddressLine3": {
                        "type": "string",
                        "description": "AddressLine3"
                      },
                      "AddressCode": {
                        "type": "string",
                        "description": "AddressCode"
                      },
                      "AddressCountry": {
                        "type": "string",
                        "description": "AddressCountry"
                      },
                      "Province": {
                        "type": "string",
                        "description": "Province"
                      },
                      "UnitNumber": {
                        "type": "string",
                        "description": "UnitNumber"
                      },
                      "Complex": {
                        "type": "string",
                        "description": "Complex"
                      },
                      "StreetNumber": {
                        "type": "string",
                        "description": "StreetNumber"
                      },
                      "SameAsPhysical": {
                        "type": "boolean",
                        "description": "SameAsPhysical"
                      },
                      "IsCareofAddress": {
                        "type": "boolean",
                        "description": "IsCareofAddress"
                      },
                      "CareOfIntermediary": {
                        "type": "string",
                        "description": "CareOfIntermediary"
                      },
                      "SpecialServices": {
                        "type": "string",
                        "description": "SpecialServices"
                      }
                    }
                  },
                  "description": "Address"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a single employee record",
        "description": "Update a single employee record based on the specified EmployeeId.",
        "operationId": "UpdateASingleEmployeeRecord",
        "parameters": [
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "EmployeeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "{{EmployeeId}} The EmployeeId",
            "x-ms-summary": "{{EmployeeId}}"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                }
              }
            }
          }
        }
      }
    },
    "/odata/v1.1/{company-id}/Employee/{EmployeeId}/image/download": {
      "get": {
        "summary": "Download employee photo",
        "description": "Retrieves a single employee photo based on the specified EmployeeId.",
        "operationId": "DownloadEmployeePhoto",
        "parameters": [
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "EmployeeId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": " The EmployeeId",
            "x-ms-summary": "{{EmployeeId}}"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                }
              }
            }
          }
        }
      }
    },
    "/odata/v1.1/{company-id}/Employee/{EmployeeId}/image/upload": {
      "post": {
        "summary": "Upload employee photo",
        "description": "Update a single employee photo based on the specified EmployeeId.",
        "operationId": "UploadEmployeePhoto",
        "parameters": [
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "EmployeeId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": " The EmployeeId",
            "x-ms-summary": "{{EmployeeId}}"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "Success": {
                  "type": "boolean",
                  "description": "Success"
                }
              }
            }
          }
        }
      }
    },
    "/odata/v1.1/{company-id}/EmployeeEmploymentStatus": {
      "get": {
        "summary": "Get a collection of employment statuses",
        "description": "Retrieves a list of current active employee employment statuses based on the specified company-id.",
        "operationId": "GetACollectionOfEmploymentStatuses",
        "parameters": [
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "(string) - Specifies the order in which items are returned",
            "x-ms-summary": "Optional by {{$employee-field}}"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": " (integer($int32)) - Limits the number of items returned from a collection",
            "x-ms-summary": "Optional $top"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": " (integer($int32)) - Excludes the specified number of items of the queried collection from the result",
            "x-ms-summary": "Optional $skip"
          },
          {
            "name": "$count",
            "in": "query",
            "required": true,
            "type": "string",
            "description": " (true/false) - Return total count in response",
            "x-ms-summary": "Optional $count"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": " Filter by field eg. \"EmployeeNumber eq 'Emp01'\"",
            "x-ms-summary": "Optional $filter"
          },
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "EmploymentStatusId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "EmploymentStatusId"
                      },
                      "EmployeeNumber": {
                        "type": "string",
                        "description": "EmployeeNumber"
                      },
                      "GroupJoinDate": {
                        "type": "string",
                        "description": "GroupJoinDate"
                      },
                      "EmploymentDate": {
                        "type": "string",
                        "description": "EmploymentDate"
                      },
                      "TerminationDate": {
                        "type": "string",
                        "description": "TerminationDate"
                      },
                      "TerminationReason": {
                        "type": "string",
                        "description": "TerminationReason"
                      },
                      "TaxStatus": {
                        "type": "string",
                        "description": "TaxStatus"
                      },
                      "TaxReferenceNumber": {
                        "type": "string",
                        "description": "TaxReferenceNumber"
                      },
                      "NatureOfPerson": {
                        "type": "string",
                        "description": "NatureOfPerson"
                      },
                      "TaxOffice": {
                        "type": "integer",
                        "format": "int32",
                        "description": "TaxOffice"
                      },
                      "TaxDirectiveNumber": {
                        "type": "string",
                        "description": "TaxDirectiveNumber"
                      },
                      "IT3AReason": {
                        "type": "integer",
                        "format": "int32",
                        "description": "IT3AReason"
                      },
                      "EmploymentAction": {
                        "type": "string",
                        "description": "EmploymentAction"
                      },
                      "TerminationCompanyRun": {
                        "type": "string",
                        "description": "TerminationCompanyRun"
                      },
                      "IdentityType": {
                        "type": "string",
                        "description": "IdentityType"
                      },
                      "IdNumber": {
                        "type": "string",
                        "description": "IdNumber"
                      },
                      "PassportNumber": {
                        "type": "string",
                        "description": "PassportNumber"
                      },
                      "PercentageAmount": {
                        "type": "string",
                        "description": "PercentageAmount"
                      },
                      "Amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Amount"
                      },
                      "Percentage": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Percentage"
                      },
                      "DeemedMonthlyRemuneration": {
                        "type": "integer",
                        "format": "int32",
                        "description": "DeemedMonthlyRemuneration"
                      },
                      "Deemed75Indicator": {
                        "type": "boolean",
                        "description": "Deemed75Indicator"
                      },
                      "DeemedRecoveryMonthly": {
                        "type": "boolean",
                        "description": "DeemedRecoveryMonthly"
                      },
                      "EncashLeave": {
                        "type": "boolean",
                        "description": "EncashLeave"
                      },
                      "Irp30": {
                        "type": "boolean",
                        "description": "Irp30"
                      },
                      "FinalizeIssueTaxCert": {
                        "type": "boolean",
                        "description": "FinalizeIssueTaxCert"
                      },
                      "PassportCountry": {
                        "type": "boolean",
                        "description": "PassportCountry"
                      },
                      "PassportIssued": {
                        "type": "string",
                        "description": "PassportIssued"
                      },
                      "PassportExpiry": {
                        "type": "string",
                        "description": "PassportExpiry"
                      },
                      "PermitIssued": {
                        "type": "string",
                        "description": "PermitIssued"
                      },
                      "PermitExpiry": {
                        "type": "string",
                        "description": "PermitExpiry"
                      },
                      "AdditionalDate": {
                        "type": "string",
                        "description": "AdditionalDate"
                      },
                      "EmploymentCaptureDate": {
                        "type": "string",
                        "description": "EmploymentCaptureDate"
                      },
                      "TerminationCaptureDate": {
                        "type": "string",
                        "description": "TerminationCaptureDate"
                      },
                      "TempWorker": {
                        "type": "boolean",
                        "description": "TempWorker"
                      },
                      "AdditionalDate1": {
                        "type": "string",
                        "description": "AdditionalDate1"
                      },
                      "NotReEmployable": {
                        "type": "boolean",
                        "description": "NotReEmployable"
                      },
                      "ReferenceNumber": {
                        "type": "string",
                        "description": "ReferenceNumber"
                      },
                      "OldEmployeeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "OldEmployeeId"
                      },
                      "CustomFields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "description": "Code"
                            },
                            "Label": {
                              "type": "string",
                              "description": "Label"
                            },
                            "Value": {
                              "type": "string",
                              "description": "Value"
                            }
                          }
                        },
                        "description": "CustomFields"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a single employment status record",
        "description": "Create a single employee employment status record for the specified EmployeeNumber.",
        "operationId": "CreateASingleEmploymentStatusRecord",
        "parameters": [
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "EmploymentStatusId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "EmploymentStatusId"
                },
                "EmployeeNumber": {
                  "type": "string",
                  "description": "EmployeeNumber"
                },
                "GroupJoinDate": {
                  "type": "string",
                  "description": "GroupJoinDate"
                },
                "EmploymentDate": {
                  "type": "string",
                  "description": "EmploymentDate"
                },
                "TerminationDate": {
                  "type": "string",
                  "description": "TerminationDate"
                },
                "TerminationReason": {
                  "type": "string",
                  "description": "TerminationReason"
                },
                "TaxStatus": {
                  "type": "string",
                  "description": "TaxStatus"
                },
                "TaxReferenceNumber": {
                  "type": "string",
                  "description": "TaxReferenceNumber"
                },
                "NatureOfPerson": {
                  "type": "string",
                  "description": "NatureOfPerson"
                },
                "TaxOffice": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TaxOffice"
                },
                "TaxDirectiveNumber": {
                  "type": "string",
                  "description": "TaxDirectiveNumber"
                },
                "IT3AReason": {
                  "type": "integer",
                  "format": "int32",
                  "description": "IT3AReason"
                },
                "EmploymentAction": {
                  "type": "string",
                  "description": "EmploymentAction"
                },
                "TerminationCompanyRun": {
                  "type": "string",
                  "description": "TerminationCompanyRun"
                },
                "IdentityType": {
                  "type": "string",
                  "description": "IdentityType"
                },
                "IdNumber": {
                  "type": "string",
                  "description": "IdNumber"
                },
                "PassportNumber": {
                  "type": "string",
                  "description": "PassportNumber"
                },
                "PercentageAmount": {
                  "type": "string",
                  "description": "PercentageAmount"
                },
                "Amount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Amount"
                },
                "Percentage": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Percentage"
                },
                "DeemedMonthlyRemuneration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "DeemedMonthlyRemuneration"
                },
                "Deemed75Indicator": {
                  "type": "boolean",
                  "description": "Deemed75Indicator"
                },
                "DeemedRecoveryMonthly": {
                  "type": "boolean",
                  "description": "DeemedRecoveryMonthly"
                },
                "EncashLeave": {
                  "type": "boolean",
                  "description": "EncashLeave"
                },
                "Irp30": {
                  "type": "boolean",
                  "description": "Irp30"
                },
                "FinalizeIssueTaxCert": {
                  "type": "boolean",
                  "description": "FinalizeIssueTaxCert"
                },
                "PassportCountry": {
                  "type": "boolean",
                  "description": "PassportCountry"
                },
                "PassportIssued": {
                  "type": "string",
                  "description": "PassportIssued"
                },
                "PassportExpiry": {
                  "type": "string",
                  "description": "PassportExpiry"
                },
                "PermitIssued": {
                  "type": "string",
                  "description": "PermitIssued"
                },
                "PermitExpiry": {
                  "type": "string",
                  "description": "PermitExpiry"
                },
                "AdditionalDate": {
                  "type": "string",
                  "description": "AdditionalDate"
                },
                "EmploymentCaptureDate": {
                  "type": "string",
                  "description": "EmploymentCaptureDate"
                },
                "TerminationCaptureDate": {
                  "type": "string",
                  "description": "TerminationCaptureDate"
                },
                "TempWorker": {
                  "type": "boolean",
                  "description": "TempWorker"
                },
                "AdditionalDate1": {
                  "type": "string",
                  "description": "AdditionalDate1"
                },
                "NotReEmployable": {
                  "type": "boolean",
                  "description": "NotReEmployable"
                },
                "ReferenceNumber": {
                  "type": "string",
                  "description": "ReferenceNumber"
                },
                "OldEmployeeId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "OldEmployeeId"
                }
              }
            }
          }
        }
      }
    },
    "/odata/v1.1/{company-id}/EmployeeEmploymentStatus/all": {
      "get": {
        "summary": "Get a collection of all employment statuses",
        "description": "Retrieves a list of all employee employment statuses based on the specified company-id.",
        "operationId": "GetACollectionOfAllEmploymentStatuses",
        "parameters": [
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional (string) - Specifies the order in which items are returned",
            "x-ms-summary": "{{$employee-field}}"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": " (integer($int32)) - Limits the number of items returned from a collection",
            "x-ms-summary": "Optional $top"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": " (integer($int32)) - Excludes the specified number of items of the queried collection from the result",
            "x-ms-summary": "Optional $skip"
          },
          {
            "name": "$count",
            "in": "query",
            "required": true,
            "type": "string",
            "description": " (true/false) - Return total count in response",
            "x-ms-summary": "Optional $count"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": " Filter by field eg. \"EmployeeNumber eq 'Emp01'\"",
            "x-ms-summary": "Optional $filter"
          },
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "EmploymentStatusId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "EmploymentStatusId"
                      },
                      "EmployeeNumber": {
                        "type": "string",
                        "description": "EmployeeNumber"
                      },
                      "GroupJoinDate": {
                        "type": "string",
                        "description": "GroupJoinDate"
                      },
                      "EmploymentDate": {
                        "type": "string",
                        "description": "EmploymentDate"
                      },
                      "TerminationDate": {
                        "type": "string",
                        "description": "TerminationDate"
                      },
                      "TerminationReason": {
                        "type": "string",
                        "description": "TerminationReason"
                      },
                      "TaxStatus": {
                        "type": "string",
                        "description": "TaxStatus"
                      },
                      "TaxReferenceNumber": {
                        "type": "string",
                        "description": "TaxReferenceNumber"
                      },
                      "NatureOfPerson": {
                        "type": "string",
                        "description": "NatureOfPerson"
                      },
                      "TaxOffice": {
                        "type": "integer",
                        "format": "int32",
                        "description": "TaxOffice"
                      },
                      "TaxDirectiveNumber": {
                        "type": "string",
                        "description": "TaxDirectiveNumber"
                      },
                      "IT3AReason": {
                        "type": "integer",
                        "format": "int32",
                        "description": "IT3AReason"
                      },
                      "EmploymentAction": {
                        "type": "string",
                        "description": "EmploymentAction"
                      },
                      "TerminationCompanyRun": {
                        "type": "string",
                        "description": "TerminationCompanyRun"
                      },
                      "IdentityType": {
                        "type": "string",
                        "description": "IdentityType"
                      },
                      "IdNumber": {
                        "type": "string",
                        "description": "IdNumber"
                      },
                      "PassportNumber": {
                        "type": "string",
                        "description": "PassportNumber"
                      },
                      "PercentageAmount": {
                        "type": "string",
                        "description": "PercentageAmount"
                      },
                      "Amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Amount"
                      },
                      "Percentage": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Percentage"
                      },
                      "DeemedMonthlyRemuneration": {
                        "type": "integer",
                        "format": "int32",
                        "description": "DeemedMonthlyRemuneration"
                      },
                      "Deemed75Indicator": {
                        "type": "boolean",
                        "description": "Deemed75Indicator"
                      },
                      "DeemedRecoveryMonthly": {
                        "type": "boolean",
                        "description": "DeemedRecoveryMonthly"
                      },
                      "EncashLeave": {
                        "type": "boolean",
                        "description": "EncashLeave"
                      },
                      "Irp30": {
                        "type": "boolean",
                        "description": "Irp30"
                      },
                      "FinalizeIssueTaxCert": {
                        "type": "boolean",
                        "description": "FinalizeIssueTaxCert"
                      },
                      "PassportCountry": {
                        "type": "boolean",
                        "description": "PassportCountry"
                      },
                      "PassportIssued": {
                        "type": "string",
                        "description": "PassportIssued"
                      },
                      "PassportExpiry": {
                        "type": "string",
                        "description": "PassportExpiry"
                      },
                      "PermitIssued": {
                        "type": "string",
                        "description": "PermitIssued"
                      },
                      "PermitExpiry": {
                        "type": "string",
                        "description": "PermitExpiry"
                      },
                      "AdditionalDate": {
                        "type": "string",
                        "description": "AdditionalDate"
                      },
                      "EmploymentCaptureDate": {
                        "type": "string",
                        "description": "EmploymentCaptureDate"
                      },
                      "TerminationCaptureDate": {
                        "type": "string",
                        "description": "TerminationCaptureDate"
                      },
                      "TempWorker": {
                        "type": "boolean",
                        "description": "TempWorker"
                      },
                      "AdditionalDate1": {
                        "type": "string",
                        "description": "AdditionalDate1"
                      },
                      "NotReEmployable": {
                        "type": "boolean",
                        "description": "NotReEmployable"
                      },
                      "ReferenceNumber": {
                        "type": "string",
                        "description": "ReferenceNumber"
                      },
                      "OldEmployeeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "OldEmployeeId"
                      },
                      "CustomFields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "description": "Code"
                            },
                            "Label": {
                              "type": "string",
                              "description": "Label"
                            },
                            "Value": {
                              "type": "string",
                              "description": "Value"
                            }
                          }
                        },
                        "description": "CustomFields"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        }
      }
    },
    "/odata/v1.1/{company-id}/EmployeePosition": {
      "get": {
        "summary": "Get a collection of positions",
        "description": "Retrieves a list of employee position records as of the today's date and based on the specified company_id.",
        "operationId": "GetACollectionOfPositions",
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": " (integer($int32)) - Limits the number of items returned from a collection",
            "x-ms-summary": "Optional $top"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": " (integer($int32)) - Excludes the specified number of items of the queried collection from the result",
            "x-ms-summary": "Optional $skip"
          },
          {
            "name": "$count",
            "in": "query",
            "required": true,
            "type": "string",
            "description": " (true/false) - Return total count in response",
            "x-ms-summary": "Optional $count"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": " Filter by field eg. \"EmployeeNumber eq 'Emp01'\"",
            "x-ms-summary": "Optional $filter"
          },
          {
            "name": "$expand",
            "default": "OrganizationGroups",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Optional - to return the OrganizationGroups field data, use the value 'OrganizationGroups'",
            "x-ms-summary": "Optional $expand"
          },
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "@odata.count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "@odata.count"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "EmployeePositionId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "EmployeePositionId"
                      },
                      "EmployeeNumber": {
                        "type": "string",
                        "description": "EmployeeNumber"
                      },
                      "FullName": {
                        "type": "string",
                        "description": "FullName"
                      },
                      "EffectiveDate": {
                        "type": "string",
                        "description": "EffectiveDate"
                      },
                      "OrganizationPosition": {
                        "type": "string",
                        "description": "OrganizationPosition"
                      },
                      "OrganizationPositionId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "OrganizationPositionId"
                      },
                      "OrganizationPositionWithCode": {
                        "type": "string",
                        "description": "OrganizationPositionWithCode"
                      },
                      "PositionType": {
                        "type": "string",
                        "description": "PositionType"
                      },
                      "Grade": {
                        "type": "string",
                        "description": "Grade"
                      },
                      "OccupationalLevel": {
                        "type": "string",
                        "description": "OccupationalLevel"
                      },
                      "DirectlyReportsPositionOverride": {
                        "type": "string",
                        "description": "DirectlyReportsPositionOverride"
                      },
                      "DirectlyReportsPosition": {
                        "type": "string",
                        "description": "DirectlyReportsPosition"
                      },
                      "OrganizationGroup": {
                        "type": "string",
                        "description": "OrganizationGroup"
                      },
                      "OrganizationGroupDescription": {
                        "type": "string",
                        "description": "OrganizationGroupDescription"
                      },
                      "OrganizationGroups": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "OrganizationUnitId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "OrganizationUnitId"
                            },
                            "ParentOrganizationUnitId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "ParentOrganizationUnitId"
                            },
                            "UploadCode": {
                              "type": "string",
                              "description": "UploadCode"
                            },
                            "Description": {
                              "type": "string",
                              "description": "Description"
                            },
                            "CostCentre": {
                              "type": "boolean",
                              "description": "CostCentre"
                            },
                            "OrganizationLevel": {
                              "type": "string",
                              "description": "OrganizationLevel"
                            },
                            "GroupGlKey": {
                              "type": "string",
                              "description": "GroupGlKey"
                            },
                            "Budget": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Budget"
                            },
                            "Reference": {
                              "type": "string",
                              "description": "Reference"
                            },
                            "ManagerEmployeeNumber": {
                              "type": "string",
                              "description": "ManagerEmployeeNumber"
                            },
                            "InactiveDate": {
                              "type": "string",
                              "description": "InactiveDate"
                            }
                          }
                        },
                        "description": "OrganizationGroups"
                      },
                      "OrganizationRegion": {
                        "type": "string",
                        "description": "OrganizationRegion"
                      },
                      "PayPoint": {
                        "type": "string",
                        "description": "PayPoint"
                      },
                      "DirectlyReportsEmployee": {
                        "type": "string",
                        "description": "DirectlyReportsEmployee"
                      },
                      "DirectlyReportsEmployeeNumber": {
                        "type": "string",
                        "description": "DirectlyReportsEmployeeNumber"
                      },
                      "EmploymentCategory": {
                        "type": "string",
                        "description": "EmploymentCategory"
                      },
                      "EmploymentSubCategory": {
                        "type": "string",
                        "description": "EmploymentSubCategory"
                      },
                      "Administrator": {
                        "type": "string",
                        "description": "Administrator"
                      },
                      "AdministratorEmployeeNumber": {
                        "type": "string",
                        "description": "AdministratorEmployeeNumber"
                      },
                      "WorkflowRole": {
                        "type": "string",
                        "description": "WorkflowRole"
                      },
                      "GeneralLedger": {
                        "type": "string",
                        "description": "GeneralLedger"
                      },
                      "TradeUnion": {
                        "type": "string",
                        "description": "TradeUnion"
                      },
                      "IsPromotion": {
                        "type": "boolean",
                        "description": "IsPromotion"
                      },
                      "Roster": {
                        "type": "string",
                        "description": "Roster"
                      },
                      "Job": {
                        "type": "string",
                        "description": "Job"
                      },
                      "Comments": {
                        "type": "string",
                        "description": "Comments"
                      },
                      "AltPositionName": {
                        "type": "string",
                        "description": "AltPositionName"
                      },
                      "DateAdded": {
                        "type": "string",
                        "description": "DateAdded"
                      },
                      "PositionEffectiveDate": {
                        "type": "string",
                        "description": "PositionEffectiveDate"
                      },
                      "CustomTradeUnion": {
                        "type": "string",
                        "description": "CustomTradeUnion"
                      },
                      "CustomFields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Code": {
                              "type": "string",
                              "description": "Code"
                            },
                            "Label": {
                              "type": "string",
                              "description": "Label"
                            },
                            "Value": {
                              "type": "string",
                              "description": "Value"
                            }
                          }
                        },
                        "description": "CustomFields"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a single position record",
        "description": "Create a single employee position record for the specified EmployeeNumber.",
        "operationId": "CreateASinglePositionRecord",
        "parameters": [
          {
            "name": "company-id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "{{company-id}} The Company Id",
            "x-ms-summary": "{{company-id}}"
          },
          {
            "name": "CustomAuthHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Bearer token value (without the keyword Bearer)",
            "x-ms-summary": "Bearer token"
          },
          {
            "name": "CustomEnvironmentHeader",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Variable that is either api (for PROD) or apistaging (for STAGING)",
            "x-ms-summary": "Environment Variable"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "EmployeePositionId": {
                  "type": "integer",
                  "format": "int32",
                  "description": "EmployeePositionId"
                },
                "EmployeeNumber": {
                  "type": "string",
                  "description": "EmployeeNumber"
                },
                "EffectiveDate": {
                  "type": "string",
                  "description": "EffectiveDate"
                },
                "OrganizationPosition": {
                  "type": "string",
                  "description": "OrganizationPosition"
                },
                "OrganizationPositionWithCode": {
                  "type": "string",
                  "description": "OrganizationPositionWithCode"
                },
                "PositionType": {
                  "type": "string",
                  "description": "PositionType"
                },
                "Grade": {
                  "type": "string",
                  "description": "Grade"
                },
                "OccupationalLevel": {
                  "type": "string",
                  "description": "OccupationalLevel"
                },
                "DirectlyReportsPositionOverride": {
                  "type": "string",
                  "description": "DirectlyReportsPositionOverride"
                },
                "DirectlyReportsPosition": {
                  "type": "string",
                  "description": "DirectlyReportsPosition"
                },
[...]
