{
  "swagger": "2.0",
  "info": {
      "title": "eGain",
      "description": "This connector enables Copilot to securely call the eGain V3 API, providing seamless integration for customer engagement data. It supports authentication, data retrieval, and action execution, simplifying workflows and enhancing real-time insights across eGain services.",
      "version": "1.0",
      "contact": {
          "name": "eGain Support",
          "email": "support@egain.com"
      }
  },
  "x-ms-connector-metadata": {
      "source": "marketplace",
      "brandColor": "#FEF0FD"
  },
  "host": "api.ai.egain.cloud",
  "basePath": "/",
  "schemes": [
      "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
      "/core/aiservices/v3/internal/instantanswers/{portalId}/search": {
          "get": {
              "responses": {
                  "default": {
                      "description": "default",
                      "schema": {}
                  }
              },
              "summary": "Get the best search results for a user query",
              "description": "Get the best search results for a user query. It is not applicable for release 21.x.x.x",
              "operationId": "Search-V3",
              "parameters": [
                  {
                      "name": "portalId",
                      "in": "path",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Portal ID",
                      "description": "The portal identifier"
                  },
                  {
                      "name": "languageCode",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Language Code",
                      "description": "Language code for the search"
                  },
                  {
                      "name": "q",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Query",
                      "description": "Search query string"
                  },
                  {
                      "name": "personalizationProfileId",
                      "in": "query",
                      "required": false,
                      "type": "integer",
                      "x-ms-summary": "Personalization Profile ID",
                      "description": "Personalization profile identifier"
                  },
                  {
                      "name": "authToken",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Auth Token",
                      "description": "It is passed as authorization header"
                  },
                  {
                      "name": "baseUrl",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Base URL",
                      "description": "This is the base URL for km portal"
                  },
                  {
                      "name": "shortName",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Short Name",
                      "description": "Short Name for the KM portal"
                  },
                  {
                      "name": "Accept",
                      "in": "header",
                      "required": false,
                      "type": "string",
                      "x-ms-summary": "Accept",
                      "description": "Accept header value"
                  }
              ]
          }
      },
      "/core/aiservices/v3/internal/instantanswers/generative": {
          "get": {
              "responses": {
                  "default": {
                      "description": "default",
                      "schema": {}
                  }
              },
              "summary": "Retrieves answers for a given scope with data sources and KB Portal",
              "description": "The service will retrieve a set of answers for a given scope. A scope is a collection of data sources or an eGain KB Portal with a specific language and personalization profile id.",
              "operationId": "Generative-V3",
              "parameters": [
                  {
                      "name": "q",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Query",
                      "description": "Question or search term"
                  },
                  {
                      "name": "departmentId",
                      "in": "query",
                      "required": false,
                      "type": "integer",
                      "x-ms-summary": "Department ID",
                      "description": "Department identifier"
                  },
                  {
                      "name": "userId",
                      "in": "query",
                      "required": false,
                      "type": "integer",
                      "x-ms-summary": "User ID",
                      "description": "User identifier"
                  },
                  {
                      "name": "portalId",
                      "in": "query",
                      "required": true,
                      "type": "integer",
                      "x-ms-summary": "Portal ID",
                      "description": "Results are retrieved from the given KM portal"
                  },
                  {
                      "name": "languageCode",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Language Code",
                      "description": "Language code for the search"
                  },
                  {
                      "name": "personalizationProfileId",
                      "in": "query",
                      "required": false,
                      "type": "integer",
                      "x-ms-summary": "Personalization Profile ID",
                      "description": "Personalization profile identifier"
                  },
                  {
                      "name": "authToken",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Auth Token",
                      "description": "Used for Authorization to eGain API"
                  },
                  {
                      "name": "baseUrl",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Base URL",
                      "description": "Base URL for KM portal"
                  },
                  {
                      "name": "shortName",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Short Name",
                      "description": "Short name used for KM portal"
                  },
                  {
                      "name": "Accept",
                      "in": "header",
                      "required": false,
                      "type": "string",
                      "x-ms-summary": "Accept",
                      "description": "Accept header value"
                  }
              ]
          }
      },
      "/knowledge/portalmgr/v3/internal/portals/{portalId}/search/kb": {
          "get": {
              "responses": {
                  "default": {
                      "description": "default",
                      "schema": {}
                  }
              },
              "summary": "Returns KB search result for eGain R21",
              "operationId": "Kb-search",
              "parameters": [
                  {
                      "name": "portalId",
                      "in": "path",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Portal ID",
                      "description": "The portal identifier"
                  },
                  {
                      "name": "q",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Query",
                      "description": "Search query string"
                  },
                  {
                      "name": "$lang",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Language",
                      "description": "Language code for the search"
                  },
                  {
                      "name": "$attribute",
                      "in": "query",
                      "required": false,
                      "type": "string",
                      "x-ms-summary": "Attribute",
                      "description": "Attribute filter for search results"
                  },
                  {
                      "name": "$pagenum",
                      "in": "query",
                      "required": false,
                      "type": "integer",
                      "x-ms-summary": "Page Number",
                      "description": "Page number for pagination"
                  },
                  {
                      "name": "$pagesize",
                      "in": "query",
                      "required": false,
                      "type": "integer",
                      "x-ms-summary": "Page Size",
                      "description": "Number of results per page"
                  },
                  {
                      "name": "authToken",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Auth Token",
                      "description": "Authentication token for API access"
                  },
                  {
                      "name": "baseUrl",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Base URL",
                      "description": "Base URL for KM portal"
                  },
                  {
                      "name": "shortName",
                      "in": "query",
                      "required": true,
                      "type": "string",
                      "x-ms-summary": "Short Name",
                      "description": "Short name used for KM portal"
                  },
                  {
                      "name": "Accept-language",
                      "in": "header",
                      "required": true,
                      "type": "string",
                      "default": "en-us",
                      "x-ms-summary": "Accept Language",
                      "description": "Accept-Language header value"
                  },
                  {
                      "name": "Accept",
                      "in": "header",
                      "required": true,
                      "type": "string",
                      "default": "application/json",
                      "x-ms-summary": "Accept",
                      "description": "Accept header value"
                  }
              ],
              "description": "It is only availble for eGain installation on release 21.x.x.x"
          }
      }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}