{
  "swagger": "2.0",
  "info": {
    "title": "Website Carbon",
    "description": "How is your website impacting the planet?",
    "version": "1.0",
    "contact": {
      "email": "clement@carfup.com",
      "name": "Clement OLIVIER",
      "url": "https://stuffandtacos.azurewebsites.net/"
    }
  },
  "host": "api.websitecarbon.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/site": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL that has been tested.",
                  "x-ms-summary": "Url"
                },
                "green": {
                  "type": "boolean",
                  "description": "Whether or not we could establish hosting of the website as being \"green\".",
                  "x-ms-summary": "Green"
                },
                "bytes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of bytes transferred during the page load.",
                  "x-ms-summary": "Bytes"
                },
                "cleanerThan": {
                  "type": "number",
                  "format": "float",
                  "description": "A numeric value between 0 and 1 representing the percentage of tested resources this is cleaner than.",
                  "x-ms-summary": "Cleaner than"
                },
                "rating": {
                  "type": "string",
                  "description": "Rating of the website.",
                  "x-ms-summary": "Rating"
                },
                "statistics": {
                  "$ref": "#/definitions/statisticsResponse"
                },
                "timestamp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Date of the report generation.",
                  "x-ms-summary": "Timestamp"
                }
              }
            }
          }
        },
        "summary": "Site Analysis",
        "operationId": "SiteAnalysis",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Url of the website.",
            "x-ms-summary": "Url"
          }
        ],
        "description": "This will run a test in real time to calculate the carbon emissions generated per page view."
      }
    },
    "/data": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "statistics": {
                  "$ref": "#/definitions/statisticsResponse"
                },
                "cleanerThan": {
                  "type": "number",
                  "format": "float",
                  "description": "A numeric value between 0 and 1 representing the percentage of tested resources this is cleaner than.",
                  "x-ms-summary": "Cleaner than"
                },
                "rating": {
                  "type": "string",
                  "description": "Rating of the result.",
                  "x-ms-summary": "Rating"
                },
                "green": {
                  "type": "boolean",
                  "description": "Whether the site is using environmentally sustainable hosting.",
                  "x-ms-summary": "Green"
                }
              }
            }
          }
        },
        "summary": "Data Analysis",
        "operationId": "DataAnalysis",
        "parameters": [
          {
            "name": "bytes",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "Url of the website",
            "x-ms-summary": "Bytes"
          },
          {
            "name": "green",
            "in": "query",
            "required": true,
            "type": "integer",
            "description": "Url of the website",
            "x-ms-summary": "Green",
            "enum": [
              0,
              1
            ]
          }
        ],
        "description": "This will calculate the emissions of a page by manually passing the bytes and whether or not it is powered by green hosting."
      }
    }
  },
  "definitions": {
    "statisticsResponse": {
      "type": "object",
      "properties": {
        "adjustedBytes": {
          "type": "number",
          "format": "float",
          "description": "The approximate number of bytes transferred by the page load, adjusted to take first time vs returning visitor percentage into account.",
          "x-ms-summary": "Adjusted bytes"
        },
        "energy": {
          "type": "number",
          "format": "float",
          "description": "The approximate amount of energy transferred on each page load in KWg.",
          "x-ms-summary": "Energy"
        },
        "co2": {
          "type": "object",
          "properties": {
            "grid": {
              "type": "object",
              "properties": {
                "grams": {
                  "type": "number",
                  "format": "float",
                  "description": "The approximate amount of CO2 transferred on each page load in grams",
                  "x-ms-summary": "Grams"
                },
                "litres": {
                  "type": "number",
                  "format": "float",
                  "description": "The approximate amount of CO2 transferred on each page load in litres.",
                  "x-ms-summary": "Litres"
                }
              },
              "description": "These relate to whether the energy is from the national grid respectively.",
              "x-ms-summary": "Grid"
            },
            "renewable": {
              "type": "object",
              "properties": {
                "grams": {
                  "type": "number",
                  "format": "float",
                  "description": "The approximate amount of CO2 transferred on each page load in grams.",
                  "x-ms-summary": "Grams"
                },
                "litres": {
                  "type": "number",
                  "format": "float",
                  "description": "The approximate amount of CO2 transferred on each page load in litres.",
                  "x-ms-summary": "Litres"
                }
              },
              "description": "These relate to whether the energy is renewable.",
              "x-ms-summary": "Renewable"
            }
          },
          "description": "An object containing data on the amount of CO2 transferred on each page load.",
          "x-ms-summary": "Co2"
        }
      },
      "description": "The statistics object returned as part of some responses is a result of the calculations performed by the API."
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.websitecarbon.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.websitecarbon.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing; Communication"
    }
  ]
}